[2021-05-19 14:45] misaochan opened #4417 "Failed prodRelease build on 3.0-release, solvable by disabling minify"
**Summary:**

Pulling from the 3.0-release branch, and building the app in prodDebug works totally fine. But building in prodRelease (which is the variant required for publishing) results in the error:

[code]

Disabling minify in build.gradle solves the problem, however we have to decide if that is something we want to do, or if there is a better way to solve the problem. Ideally, we should decid

[2021-05-19 17:28] sivaraam commented on #1890
Sure! Right now the play store page has screenshots for the following:

- Screenshot of "Contributions" screen
- Uploads screen
- Categories screen
- A preview of an upload
- Menu page
- Nearby map
- Nearby list
- Another photo that shows categories screen

A few questions:
1. Do we really need to include a screenshot of the menu?
2. Regarding the upload screen, the one in the app store captures a

[2021-05-20 07:01] misaochan commented on #1890
I don't think so now that we have bottom bar navigation.

Yeah, I think that should be sufficient.

Nope. :)

I actually don't know if tablet screenshots are really necessary, what do you think? Granted the app does work on tablets, but the vast majority of users are using their phones (because who takes photos with tablets?). The main use case for tablets IMO would be someone who prefers to take

[2021-05-20 07:08] misaochan commented on #4415
Ah, whoops. Pinging @neslihanturan to get a second set of eyes on the problem. :)

[2021-05-20 11:13] neslihanturan commented on #3410
Here are mockups after reviews, I hope all good:
![attempt2](https://user-images.githubusercontent.com/3127881/118968894-1c2dae00-b975-11eb-953d-cf6fad28f99b.png)

[2021-05-20 12:07] nicolas-raoul commented on #3410
Looks perfect to me!

Maybe "Advanced" is enough, instead of "Advanced options"?

[2021-05-20 13:46] misaochan commented on #3410
Looks great to me. :) I think "Advanced" would look nicer with the UI, but "Advanced Options" seems clearer. I'm OK with either one.

[2021-05-20 13:54] neslihanturan commented on #3410
I also think that Advanced Options is clearer, but I a okay whichever you wish.

[2021-05-20 19:39] Ayan-10 commented on #8
Thanks for guiding @nicolas-raoul . I am fully done with implementing the edit coordinates feature. I want to make PR now. Should I create a separate issue for that because As you said this issue is not about the feature that I implemented. I think creating an issue for this particular feature will be better.

[2021-05-20 23:49] nicolas-raoul commented on #3410
Sorry for nitpicking, let's go with "Advanced Options" since you both think it is clearer :-)

[2021-05-21 00:30] nicolas-raoul commented on #8
Wonderful!
Don't worry, it should be fine here to have a single PR for this issue + an extra but very related feature.

[2021-05-21 08:30] Ayan-10 commented on #8
@nicolas-raoul I made the PR of the edit coordinates feature. Please check out #4418 .

[2021-05-21 19:38] Gunin2001 commented on #3607
I am facing the same issue but fallbackToDestructiveMigration() is not working. Whenever I upload data from database to my recyclerView it crashes
Is there a way to solve this by adding any dependancy or changing version number as the error suggests

(PS I'm. a beginner so I don't really know that much and desperately need help )

[2021-05-21 19:43] Gunin2001 commented on #3607
how to change this version number ??

[2021-05-22 05:19] Renessaince opened #4419 "Be-tarask language is missing in description"
**Summary:**

As I uploading any file via Commons app, I fill in all the necessary fields including multilanguage description. But in the list of available languages be-tarask is missing.

**Steps to reproduce:**

Upload file, enter description, choose language.

**Commons app version:**

2.13.2.

[2021-05-22 11:57] U81-A commented on #3880
I'm trying to provide my own method to enhance it. :)

[2021-05-22 12:09] U81-A commented on #4309
I'd try to provide my edit to tackle this problem

[2021-05-24 08:44] nicolas-raoul commented on #3342
I haven't seen this for a while, closing for now.

[2021-05-24 08:44] #3342 closed

[2021-05-24 08:45] nicolas-raoul opened #4424 "Two items at same location: Uploading pic to the wrong one"
1. Open Nearby
2. Move/zoom the map to see this place that does not have a P18 image: https://www.wikidata.org/wiki/Q24876991
3. Tap the blue pin
4. Open the blue pin's Wikidata page
5. Problem: The opened Wikidata page is a different item (https://www.wikidata.org/wiki/Q11441990) which already has an image.

This is problematic because the user loses time taking a picture of an item that already

[2021-05-24 17:06] misaochan commented on #3792
Unfortunately this still happens. Logs are in commons-app-private mailing list.

[2021-05-24 17:47] sivaraam commented on #3607
@Gunin2001 IIUC, updating the version number shouldn't be necessary if `fallbackToDestructiveMigration` works properly. Where do you face this issue?

[2021-05-24 17:58] sivaraam commented on #1890
Thanks for the answers! I'll try to get the screenshots soon.

I'm not sure either. I don't use a tablet often so I can't really comment. Maybe other tablet users might be able to comment?

Right. Anyways, I'll try taking screenshots of tablet in case it isn't too much hassle setting it up via emulator :)

Ah, right. Thanks for the context. Looks like its better to leave it as it is unless we get

[2021-05-24 19:03] sivaraam opened #4425 "Master build failing"
It looks like the latest translatewiki update [broke `master`](https://github.com/commons-app/apps-android-commons/runs/2655770485). The build fails with the following error:

[code]

On some research, it looks like `ms-arab` [refers to](https://stackoverflow.com/a/50174605/5614968) the [Jawi script of Malay](https://en.wikipedia.org/wiki/Jawi_alphabet). I'm not sure if Android supports this varia

[2021-05-25 08:05] misaochan commented on #4425
Pinging @Nikerabbit for advice.

[2021-05-25 08:07] misaochan commented on #1890
I haven't been in contact with him for years now (not even sure if he's still with WMUK) but we could try.

Sounds good, thanks a lot. :)

[2021-05-25 09:06] Nikerabbit commented on #4425
We can set up a code map from `ms-arab` to `b+ms+Arab`. Not sure if it makes selectable though.

[2021-05-25 09:08] amire80 commented on #4425
I don't know if any Android device supports it. I have Samsung Galaxy S20 FE, which is fairly modern, and it doesn't seem to support it.

The addition of ms-arab was requested by User:Tofeiku for UI translations in translatewiki and values in Wikidata, and it made sense to me, so I added it (with the comment that to use it for wiki page _content_ in a Wikimedia project there would have to be a sep

[2021-05-25 18:17] sivaraam commented on #1890
It looks like my user account doesn't that many uploads to showcase the leaderboard well. Also, Achievement appears to be broken, its showing any text in "Statistics" section (let me verify and open an issue for this if none exists). Also, there's a weird empty white bar shown above Achievement and Leaderboard tabs which kind of spoils the UI (ditto on the issue). An example:

![Screenshot_2021052

[2021-05-25 20:19] Pratham2305 commented on #4424
@nicolas-raoul, I think I am able to reproduce the bug. See

<img src="https://user-images.githubusercontent.com/54663429/119561877-565add80-bdc3-11eb-91e5-9b3c510ea3e7.png" width="400">                  <img src="https://user-images.githubusercontent.com/54663429/119561947-6c689e00-bdc3-11eb-8c27-a1e5bbebcc89.png" width="400">

I would like to work on it.

[2021-05-26 02:53] nicolas-raoul commented on #4424
@Pratham2305 It is yours, thanks!

[2021-05-26 13:25] janbery opened #4427 ""Custom author name" changes user name of the uploader instead of changing displayed name only"
**Summary:**

If you change "custom author name" in the settings of the app, this name is actually used, not only displayed as when using UploadWizard.

**Steps to reproduce:**
* Set "custom author name" in app setting ("Jan Beránek" in my case)
* Upload a picture
* Check who is marked as the author at Commons

**Actual result:**
[App decided to link to the non existent userpage of the name I used

[2021-05-26 13:28] #4427 closed

[2021-05-26 13:29] janbery commented on #4427
https://github.com/commons-app/apps-android-commons/issues/3160

[2021-05-26 13:31] janbery commented on #3160
Hello, is there any update on this issue? Just had this exact problem yesterday.
@AntSYau @nicolas-raoul

[2021-05-26 13:59] nicolas-raoul commented on #3160
@AntSYau Are you still working on this?

[2021-05-26 16:36] misaochan commented on #4417
Ah, seems there was an issue with my run config. Solved now, no disabling of minify required.

[2021-05-26 16:36] #4417 closed

[2021-05-26 18:14] caspervolume1 opened #4428 "https://en.m.wikipedia.org/wiki/Wikipedia:Service_awards#Master_Editor_III_"

[2021-05-26 18:18] caspervolume1 commented on #4428
![13173 (142×196).jpg](https://user-images.githubusercontent.com/83499499/119711060-178d5c00-be85-11eb-8d76-f0276333dc9c.jpg)![card.png](https://user-images.githubusercontent.com/83499499/119711225-49062780-be85-11eb-84ad-014101d826ef.png)

[2021-05-26 22:39] 4D17Y4 opened #4429 "App changes file data before upload, changing its EXIF data and thus changing SHA1"
**Summary:**
The app makes a cache copy of a file and changes the EXIF data of the copy for upload. This modifies the file and the file is no longer the same file that was supposed to be uploaded.

**Steps to reproduce:**

Upload an image file from the app (quite evident when u use camera pictures.)
Download the image file from the server using the download button in the image detail.

now check t

[2021-05-26 22:48] 4D17Y4 commented on #4429
The exact line which modifies the code:

line 60:
https://github.com/commons-app/apps-android-commons/blob/f8a8f9207028a6fb5a35483c040821f22daf755e/app/src/main/java/fr/free/nrw/commons/upload/FileProcessor.kt#L51-L62

line 101:
https://github.com/commons-app/apps-android-commons/blob/f8a8f9207028a6fb5a35483c040821f22daf755e/app/src/main/java/fr/free/nrw/commons/upload/FileProcessor.kt#L94-L104

T

[2021-05-27 00:28] nicolas-raoul commented on #4429
My fault, I had forgotten about these EXIF modifications for privacy.
We will have to work around that.
And sorry for making you create an issue about it!

[2021-05-27 00:28] #4429 closed

[2021-05-27 07:13] caspervolume1 opened #4430 "38gEQYqNs7paJFasUvAPxv7CDeKTaRdwB3"
38gEQYqNs7paJFasUvAPxv7CDeKTaRdwB3~~~

[2021-05-27 08:06] #4430 closed

[2021-05-27 08:07] #4428 closed

[2021-05-29 16:58] sivaraam commented on #4429
Sorry for chiming in. To sere as a reference for someone who doesn't have the context, could someone mention what the problem is here and how we're thinking of to address it? 🙂

[2021-05-29 18:14] sivaraam commented on #1890
Looks like there's already PR #4416 for fixing the missing title issue at least :) That leaves us with the white bar issue. I'll open one for that.

[2021-05-29 18:18] sivaraam opened #4431 "Empty white bar shown above Achievements/Leaderboard screen"
**Summary:**

When opening the Achievements/Leaderboard screen, an empty white bar is shown above it which serves no purpose. It would be nice if it could be hidden instead.

**Device and Android version:**
OnePlus Nord running Android 11

**Commons app version:**
3.0.0.1003~7db6f83

**Screen-shots:**
![Screenshot_20210529-234750](https://user-images.githubusercontent.com/12448084/120080869-56ffb6

[2021-05-29 20:13] Ayan-10 commented on #4431
Hey @sivaraam , Actually there was no back button also. The white bar has to be there for the back button and as @nicolas-raoul suggested the white bar can contain the username and a share button for allowing people to share their achievements. Here is the [discussion](https://github.com/commons-app/apps-android-commons/issues/4312#issuecomment-812348378). This issue already exists kindy see  #431

[2021-05-30 15:16] sivaraam commented on #175
Congrats one being selected in GSoC to work on this project @4D17Y4 ! Hope you have a great experience :)

[2021-05-30 15:19] sivaraam commented on #4431
Ah. That's nice. I could find #4312 during my search. We can close this one in favour of it then :)

[2021-05-30 15:19] #4431 closed

[2021-05-30 15:21] vinayak0505 commented on #175
Congratulations budy, wish you good luck

[2021-05-30 18:08] sivaraam commented on #1890
I've sent the first version of screenshots to @misaochan via mail. I'm adding them here publicly for reference. Kindly take a look and let me know your feedback.

<details>
<summary>Commons app v3.0.0.1003 screenshots</summary>

**Single archive:** [Commons_app_v3.0.0.1003_screenshots.zip](https://github.com/commons-app/apps-android-commons/files/6566677/Commons_app_v3.0.0.1003_screenshots.zip)

<

[2021-05-30 18:45] 4D17Y4 commented on #175
Thanks, @sivaraam, @vinayak0505 😄.

[2021-05-31 08:11] misaochan commented on #175
Congratulations @4D17Y4 ! Glad to have you on board. :)

[2021-05-31 08:18] misaochan commented on #1890
Thanks a lot @sivaraam ! They look great. :) Looks like fixes are already in the works for both Achievements issues.

[2021-05-31 08:21] misaochan commented on #4425
The code map sounds good. Is there anything else that we need to do on our end to get the build fixed, or will the next translatewiki commit suffice?

[2021-05-31 08:28] Nikerabbit commented on #4425
I just pushed a regular update that uses the supported code format. I will soon push a manual update to remove the pre-codemap file and then the build should be fixed.

[2021-05-31 08:32] misaochan commented on #4425
Wonderful, thanks! :)

[2021-05-31 09:42] Nikerabbit commented on #4425
a524ac7df passes tests.

[2021-05-31 10:19] #3634 closed

[2021-05-31 10:30] nicolas-raoul commented on #4429
@sivaraam We are looking for a way to check whether an image has been uploaded already or not (using any device, potentially via the website/etc).
The best strategy so far seems to be to check the SHA1 of the picture after applying the user's current privacy setting. Not perfect but best we can do, I guess. We could also check the SHA1 of the original image, and various privacy settings variations

[2021-05-31 18:05] sivaraam commented on #3607
I just happened to face the Room crash myself when upgrading from 3.0.0.1003~7db6f83 to  3.0.0.1007~4fa18e5. So, re-opening this issue.

[2021-05-31 18:08] sivaraam opened #4432 "Check if Commons UI could be shown in Jawi script of Malay"
A recent translatewiki update introduced translations for the Jawi script of Malay (`ms-arab`). During a [related discussion](https://github.com/commons-app/apps-android-commons/issues/4425) there was [a doubt](https://github.com/commons-app/apps-android-commons/issues/4425#issuecomment-847695563) about whether it would be possible to view the app UI at least in that language. This issue is about

[2021-05-31 18:09] sivaraam commented on #4425
Great! So, it looks like the only thing left if checking if the UI could be viewed with `ms-arab` as the language. I've opened #4432 for that. So, closing this.

[2021-05-31 18:09] #4425 closed

[2021-05-31 18:11] Gunin2001 commented on #3607
what finally worked for me was
1) clearing app data and removing cache on the safe side
2) changing the version number of the room db in the Database class
3)Using fallbackToDestructiveMigration
4)Reinstalling the app

PS:- I don't know if a specific thing works . So, I mentioned all the steps it took me to clear the error

[2021-05-31 18:15] sivaraam commented on #3607
Thanks @Gunin2001 ! For me clearing the data of the app alone works reliably :)

The issue is it was made necessary. It's not clear why it has become necessary again.

[2021-05-31 18:17] Gunin2001 commented on #3607
Yeah, a lot of programmers on stackoverflow also said that it works for them as well, but I was stuck on that for days and all these steps helped me out.
Happy coding 👍

[2021-05-31 19:18] byerlyb20 commented on #4358
@sophiya02 Are you still working on this? If not, I'd be happy to contribute.

[2021-06-01 18:29] sivaraam commented on #4429
Thanks for the context @nicolas-raoul !

IIUC, that would detect images uploaded via the app with those settings. But wouldn't work for the ones that users uploaded via other ways like web etc. right?

Yeah. This looks like a tricky problem indeed.

Quite possible. But I think we could at least try 2 combinations: original image and original image with user's current privacy setting which should h

[2021-06-02 00:20] nicolas-raoul commented on #4429
True.

Sounds like a good idea! The Upload Wizard does not modify files in any way, right?

Thanks for the tip! :-) I wonder whether this tool can recognize deleted files.

[2021-06-02 00:26] nicolas-raoul opened #4434 "Improvement ideas for the custom picture selector"
# Note: The GSoC task has been moved to https://github.com/commons-app/apps-android-commons/issues/4764

Other ideas for after the GSoC:
- Mark folder as already uploaded (greyed out, with Commons overlay icon, shown at the end next time the picker is opened) if all pictures inside have been uploaded already. Would have to find out what is the best trade-off between CPU consumption and accuracy.
-

[2021-06-02 10:42] neslihanturan commented on #28
Hi everyone, here is my first mockup suggestion based on the discussions here. Please write me your feedback.
![attemt1](https://user-images.githubusercontent.com/3127881/120466757-19d14800-c3a8-11eb-9b62-7aa31fc9e43e.png)

[2021-06-02 12:26] 4D17Y4 commented on #4429
Thanks @sivaraam for the inputs,
@nicolas-raoul  if we look at the "[reference link](https://commons.wikimedia.org/wiki/Commons:Tools#Duplicates_and_Hash-based_search)" we can see there is a tool to check for the overwritten and deleted files, but I think the web interface is not working or the tool is not available anymore.

I tested the upload wizard and it does not modify the image, it's the sa

[2021-06-02 13:25] 4D17Y4 commented on #4434
- For the limited connection mode we can directly show up the OS gallery. Custom picture selector would definitely be slow in low connectivity.

[2021-06-03 00:25] nicolas-raoul commented on #4434
Limited connection mode tries to limit transfer of huge amounts of data (=pictures), but since the selector's HTTP requests and responses are very light (a kilobyte or two I guess), they might be considered OK even if they can be numerous. I let the limited connection mode's experts decide :-)

[2021-06-03 00:29] nicolas-raoul commented on #28
It looks fantastic Nes! Tapping a picture on the map would open this picture's media details I guess?

[2021-06-03 00:37] nicolas-raoul commented on #4429
@4D17Y4 Yes, I uploaded [this image](https://i.stack.imgur.com/C2SAr.jpg) and it got deleted :'-( https://commons.wikimedia.org/w/index.php?title=File:Royal_Norwegian_Airforce_Lockheed_Orion_with_air-droppable_lifeboat_for_search-and-rescue_missions.jpg&action=edit&redlink=1

[2021-06-03 04:14] jidanni opened #4435 "Handle migration to prevent crash on start"
Version 1007, yes  email sent.

[2021-06-03 08:31] neslihanturan commented on #28
Yeah, I was thinking the same @nicolas-raoul

[2021-06-03 09:06] misaochan commented on #4283
This occurs for me on 3.0-release branch even after cherrypicking this commit onto it. It doesn't even require me to switch orientation, sometimes it happens on start or when I swipe left to view the next picture.

[code]

[2021-06-03 09:20] vinayak0505 commented on #4283
How can I reproduce this error

[2021-06-03 09:23] misaochan commented on #4283
You would need several images in your account. Tap to enter media details view, then swipe left and right to scroll to other images. Sometimes scrolling isn't even necessary for it to crash for me, about 20-30% of the time it crashes just from viewing 1 image.

[2021-06-03 10:12] misaochan commented on #4283
Assigning @madhurgupta10 as this is the final blocker for v3.0.1 release.

[2021-06-03 10:26] misaochan commented on #28
Looks great to me, thanks for the mockup @neslihanturan ! I agree that tapping on the picture should open up media details for that picture.

I think I might have made, uh, a slight planning mishap with our Nearby pins. :) Currently users can deselect "needs photos" in Nearby, which will show pins that already have photos (but not the photos themselves). That would be somewhat redundant with this

[2021-06-03 10:29] misaochan commented on #4435
Stack trace is:

[code]

[2021-06-03 10:30] misaochan commented on #4435
@jidanni Just to be clear, you are in alpha testing, right?

Pinging @ashishkumar468 , it is perplexing that this error would occur for an end user.

[2021-06-03 10:39] jidanni commented on #4435
Correct.

[2021-06-03 10:39] misaochan commented on #4434
Sounds good to me.

Personally I would prefer to keep the current default until the custom picture selector has been out for at least 1 version and we get user feedback on it. Little steps. :)

[2021-06-03 10:41] jidanni commented on #4435
1008 too. Mail sent.

[2021-06-03 10:43] misaochan commented on #3607
This seems to be the same with the crash at #4435 . So it seems that we just need to upgrade the version number before we release to Google Play.

[2021-06-03 10:45] misaochan commented on #4435
Okay, it seems that a migration was missed, see https://github.com/commons-app/apps-android-commons/issues/3607#issuecomment-613016124 . We should update the DB version number soon (definitely prior to an actual release), but you may want to fall back to beta in the meantime @jidanni , otherwise the app will be unusable for you. I will ping you when we've fixed the issue and then you can sign up f

[2021-06-03 10:46] neslihanturan commented on #28
Hmm, since the one in nearby is for wikidata items only, but this one is for commons images that has location and explore gives us an interface to search items, I think that would be better to have this feature in explore. However, we can imrove the feature that we have in nearby by displaying images in the same way on nearby map too.

[2021-06-03 10:48] misaochan commented on #28
Right, that makes sense, let's stick to Explore then. And we can add another enhancement issue for adding the feature for Wikidata items on Nearby perhaps?

[2021-06-03 10:51] nicolas-raoul commented on #28
It does not seem to be duplicates to me.
1. One activity focuses on taking pics (of any item, having or not having
pics yet).
2. The other activity is really a search for existing pictures.
Maybe we could start thinking about more explicit names for these two?
1. "Go" (à la Pokemon Go), "Photohunt", "Shoot", ... with an icon
representing a shoe
2. "Search", "View", ... with a loop icon

On Thu, 3

[2021-06-03 10:54] misaochan commented on #28
Haha yeah, we should think about renaming Nearby at some point, especially since users are not restricted to "nearby" items anymore. I like "photo hunt" or "Go", but probably not "shoot" ;)

[2021-06-03 11:23] nicolas-raoul commented on #4344
Reproduced just now on latest master: uploaded as a set of 7 pictures, two of the pictures were each uploaded 3 times:
![Screenshot_20210603-200452_Commons](https://user-images.githubusercontent.com/99590/120637093-6d778a80-c4a9-11eb-871b-f2eb35c5ec03.jpg)
Another is somehow stuck in queue even though no all other pics have been uploaded, no upload is running:
![Screenshot_20210603-202131_Commons]

[2021-06-03 14:28] jidanni commented on #4435
Not so fast! Alpha's fine with me. I'll just hold my pictures and simply not upload them until the bug is fixed.

[2021-06-03 15:57] Pratham2305 opened #4437 "Few Files not follow 4 space convention for indentation"
**Summary:**

Since the space convention is 4, there are few files that follow 2 space convention e.g, ExploreListFragment, BookmarkListFragment. So it would be better to make all the files coherent wrt indentation.

[2021-06-03 18:25] sivaraam commented on #4429
That's my belief too. Looks like @4D17Y4 has confirmed it :)

I'm afraid not. Finding deleted files using SHA-1 sounds even trickier 🔍

Yeah. The tool seems to be down and unmaintained for a while. If its really necessary, we could try pulling strings to explore the feasibility of bringing it back up. For now, [the source](https://github.com/Toollabs/expose-data) seems to be available, at least.

[2021-06-04 02:15] #2815 closed

[2021-06-04 09:34] #4358 closed

[2021-06-04 10:48] 4D17Y4 commented on #4429
Thanks for the image, no trace from the tool, it cannot look for deleted files.

It is not really important right now but can be included as a post-GSoC improvement. We can show the user that this file was uploaded on commons and was deleted; therefore, you are not allowed to upload this image even though it's not currently on commons.

[2021-06-05 06:25] nicolas-raoul opened #4438 "Main activity title is sometimes "Contributions", sometimes "Commons""
Latest master.
Not sure how to reproduce. "Commons" seems to become the title after having left the app for a few hours. I could be wrong though. Restarting the app makes it go back to "Contributions".
![Screenshot_20210605-150319_Commons](https://user-images.githubusercontent.com/99590/120882356-14773600-c612-11eb-9360-21b8a4db4fcd.jpg)
![Screenshot_20210605-150156_Commons](https://user-images.gi

[2021-06-05 17:26] byerlyb20 commented on #3694
I can take a look at this.

[2021-06-06 02:42] nicolas-raoul commented on #3694
@byerlyb20 Thanks, it is yours! :-)

[2021-06-06 09:57] nicolas-raoul commented on #74
Face detection libraries for Android, just in case FaceDetector does not fit for some reason: https://github.com/vcvycy/MTCNN4Android https://github.com/syaringan357/Android-MobileFaceNet-MTCNN-FaceAntiSpoofing

[2021-06-07 02:30] ashishkumar468 commented on #4344
HI @nicolas-raoul , I have raised a PR hoping to fix this. I am testing it from my side too, would be great if you could help test it too. Also, I wanted to confirm, so are all these images you've uploaded, uploaded in a single flow as in all at once or was it like few at a time?

[2021-06-07 03:43] jidanni opened #4443 "Submit button stuck"
The submit button does not work.
![Screenshot_20210607-114116.jpg](https://user-images.githubusercontent.com/1230959/120956165-88861b00-c785-11eb-9b06-ac8a55a03636.jpg)

[2021-06-07 03:45] jidanni commented on #4443
Then I crashed when I tried to open it again. I just sent you the crash mail and mentioned the submit button inside that mail.

[2021-06-07 07:18] misaochan commented on #3792
@madhurgupta10 This PR can go to straight to master, no need for 3.0-release

[2021-06-07 09:24] misaochan commented on #545
Update: I held an office hour with WLM organizers on 27 May. Turns out there are more complications with using one property identifier than we foresaw, and the WLM organizers feel very strongly about this.

Stephen La Porte mentioned that he might be able to help out by creating a .json file for us with the desired property for each country, which they would maintain for us. We accepted and are no

[2021-06-07 11:04] neslihanturan commented on #4443
Thanks a lot for bug report @jidanni , let me add logs here too so that everyone has access to them:
[code]

[2021-06-07 11:49] neslihanturan commented on #28
Hmm I like "Photo hunt" among suggestions. Also more brain storming: "Photo walk", "Upload on map"

[2021-06-07 14:12] nicolas-raoul opened #4444 "[far future] Also consider headquarters location (P159) in Nearby"
Some items have a P159 but no P625 (coordinates location).
Example: https://www.wikidata.org/wiki/Q908077

If such items are numerous, we might want to consider them for Nearby.

I suggest waiting until Nearby is asynchronous (load items first, then load the properties of each item) before implementing this.
Even then, a first request using P625 and a second request using P159 would be the best to

[2021-06-07 15:52] #4357 closed

[2021-06-07 17:22] sivaraam commented on #1890
I had a passing thought, there are a few things that the set of screenshots above doesn't cover:

- Localization in multiple languages
- Exploring images without having to log in

Do we need to cover these possibly by replacing some other screenshots like reducing Nearby to just the map one or something like that?

Also, I managed to spin up the Tablet emulator. But I guess I wouldn't have too man

[2021-06-08 01:14] nicolas-raoul commented on #1890
@sivaraam

Indeed image exploration is one of the many things that appeared recently(?) and that screenshots are not covering right now.
Play screenshots are localized, so I believe that an Italian-locale user would see the few Italian screenshots we uploaded. We actually have screenshots of various quality in many languages: https://github.com/commons-app/marketing/tree/master/screenshots . I hav

[2021-06-08 01:32] nicolas-raoul commented on #1890
Screenshots should showcase perfect usage of the app. Sorry for the pedantry, but would you mind fixing these points that sound minor but would make most Commons veterans jump on their chair:
- Depiction: Please search for "bee" and select only https://www.wikidata.org/wiki/Q7391 . The heraldic symbol should not be selected because it is not what the image depicts. Nature should not be selected be

[2021-06-09 07:07] misaochan commented on #4443
Looks related to #4435

[2021-06-09 07:37] jidanni commented on #4435
Please add a simple https://en.m.wikipedia.org/wiki/Smoke_testing_(software)
To be sure the app actually launches, before releasing it. I just downloaded a fresh version and it crashed again. I sent another email.

[2021-06-09 08:54] misaochan commented on #4435
@jidanni , as I mentioned to you before alpha was never meant to be used for actual end user purposes, it is used for debugging. There are processes that we use to prevent this prior to actual releases, your app is crashing because we are in the middle of development. This will be fixed before our next release, in the meantime you can fall back to beta if you need to.

[2021-06-09 09:27] misaochan commented on #1890
I think @sivaraam was requesting a "test Commons account" that already has a large number of good uploads so he could use it to take screenshots? IMO (if it's allowed by Commons policies) a shared Commons account would be great, removing a barrier for our volunteers. We can just load it with good pics and email the login to trusted volunteers who need it.

As for the WMF Play console account, unfo

[2021-06-09 10:19] #4147 closed

[2021-06-09 10:19] #4173 closed

[2021-06-09 10:19] #4283 closed

[2021-06-09 10:23] misaochan commented on #4155
Released to beta today.

[2021-06-09 10:23] #4155 closed

[2021-06-09 10:27] misaochan opened #4447 "Update target SDK version to 30"
Mandatory for app updates after Nov 2021. We should get started on it now ideally. If you want to submit a PR for this, please test all major app workflows on API 30 and report on your findings in your PR.

[2021-06-09 17:02] animesh288 commented on #4447
Hey, Can I work on it?

[2021-06-09 19:04] sivaraam commented on #1890
Yes.

I was thinking Nicolas brought up the Play console account hinting at getting some volunteers to directly do screenshot uploads to play store. Particularly, the language specific screenshots in `marketing` folder. 🤔

[2021-06-10 01:44] nicolas-raoul commented on #1890
Great screenshots!
Only one more nitpick: The "Uploaded via mobile" screenshot has a watermarked (most probably copyrighted) picture, and the clouds picture is not really an example of what we want people to upload. Looking at recent mobile uploads right now, I think that all of the pictures seen in the screenshots below are much more exemplary, they have high chances of illustrating a Wikipedia a

[2021-06-10 07:17] misaochan commented on #4447
Sure, it is yours! :)

[2021-06-10 13:04] animesh288 commented on #4447
How can I run the app in Beta or Prod version @misaochan
Actually  I am new to open source , i have updated the SDK version but unable to run the app

[2021-06-10 17:41] sivaraam commented on #4447
@animesh288 You could run the app using an emulator or a real device. You could find some information in [this resource](https://developer.android.com/training/basics/firstapp/running-app) and [our wiki page](https://github.com/commons-app/commons-app-documentation/blob/master/android/Quick-start-guide-for-Developers.md).

@misaochan Are you sure a new-comer could handle this issue properly? I kno

[2021-06-10 18:30] animesh288 commented on #4447
Thanks @sivaraam but can you or @misaochan explain me the following part :

To be more specific , where to use this ":app:installBetaDebug"

![Screenshot 2021-06-10 235453](https://user-images.githubusercontent.com/68495725/121578002-ce720600-ca47-11eb-867d-7953fa3ff428.png)

[2021-06-10 18:33] sivaraam commented on #1890
Here's the first "Uploaded via mobile" screenshot from my [above comment](https://github.com/commons-app/apps-android-commons/issues/1890#issuecomment-858855406) with a rough header:

![9_explore_without_logging_in_with_header](https://user-images.githubusercontent.com/12448084/121578458-51935c00-ca48-11eb-84bd-617a23f26fa0.jpg)

If this header sounds like a good idea, I could try adding header te

[2021-06-11 00:29] nicolas-raoul commented on #1890
I believe that a screenshot is not the best way to convey that browsing does not require logging in. The text description is a much better place for this. Most people probably already take for granted that exploring Commons is possible without logging in, so impact on readers is probably minimal, maybe even negative. We should better add screenshots for more visual&innovative features such as: rev

[2021-06-11 00:56] byerlyb20 commented on #3694
What about when the upload is started from the Contributions screen but the app prompts the user to confirm whether or not the image is of a nearby place?

![Screenshot_1623372782](https://user-images.githubusercontent.com/6891883/121615019-efc5f880-ca2d-11eb-863c-5d42630f6191.png)

If the user confirms, the upload continues as if it were started from the Nearby screen. In this sense, it might sti

[2021-06-11 01:11] nicolas-raoul commented on #3694
Very good remark.

The app's philosophy is that you should upload a set only if it is the same thing or place. For instance, upload 5 pictures of a townhall as a set. Upload 15 pictures of a politician as a set. But 3 pictures taken in a city, one depicting a subway station and one depicting a giant milk bottle, one depicting a pond, should probably not be uploaded as a set :-) By the way, we shou

[2021-06-11 07:31] misaochan commented on #4447
@sivaraam I reckon this is the best way to learn about the app's workflows. ;) If they give us a full report on what they tested, we can critique it, and if anything gets through it will likely be discovered on master (or at least pre-release testing) afterwards anyway. But I don't feel strongly about it, if you and @nicolas-raoul feel it should not be a "good first issue" we can remove it.

@anim

[2021-06-11 09:26] animesh288 commented on #4447
Yes I did that @misaochan but I was continuously getting this error.

![Screenshot 2021-06-11 144759](https://user-images.githubusercontent.com/68495725/121664523-331f7600-cac5-11eb-9d0a-0c5904b280b8.png)

[2021-06-11 10:41] neslihanturan opened #4450 "Some build errors exists after merging release 3.0 to master"
**Summary:**

After merging release 3.0 to master, some build error occurred.

[2021-06-11 17:33] sivaraam commented on #4447
@animesh288 That's weird. What version of Android Studio do you use?

Also, could share the commit hash of the revision of the repo you're using? You could get this using VCS -> Git -> Show current revision. A screenshot of the window that pops up would be useful.

[2021-06-12 07:08] neslihanturan commented on #4447
Hey @animesh288 can you try #4451 ? This might solve your build errors.

[2021-06-12 10:55] animesh288 commented on #4447
@sivaraam  I am using studio 4.2.1
![Screenshot 2021-06-12 162449](https://user-images.githubusercontent.com/68495725/121773629-c1196080-cb9a-11eb-8837-a3b91a1afaa8.png)

[2021-06-12 10:55] animesh288 commented on #4447
@neslihanturan Ok I'll try that. Thanks for help

[2021-06-12 11:08] animesh288 commented on #4447
@neslihanturan
I tried that
It is still giving the same error

[2021-06-12 15:05] sivaraam commented on #4447
When I try to build locally using that PR, I'm able to build successfully. It's interesting you're still getting the same error.

Anyways, could you let us know if you're running a usual 'Build' of the app or are you trying to run a specific task? Could you let us know how you're initiating the build?

[2021-06-12 15:19] sivaraam commented on #4447
Also, could you let us know the Gradle and JDK versions you're using?

[2021-06-12 16:53] animesh288 commented on #4447
@sivaraam  Build successfully . There was some problem with the plugins and also some build errors as mentioned by @neslihanturan .

[2021-06-13 04:35] nicolas-raoul opened #4454 "Move upload wizard's location picker to its own step if the pic has no location"
After #8 is implemented and released, it might be worth making it more visible when needed.

A picture with a location are much much more valuable than the same picture without a location.

So, if the pic has no location (and none has been selected via the button in the caption/description step), I would suggest forcing the location picker to appear. It should have an easy-to-find and easy-to-use

[2021-06-13 04:56] nicolas-raoul opened #4455 "Warn about input loss when pressing "back" in wizard"
1. Press +
2. Select a picture
3. Enter a caption
4. Press your phone's "back" button
5. Problem: The caption you entered at step 3 is lost forever.

It also happens on other steps of the wizard, including when uploading multiple images. Also happens when starting the wizard from gallery share.

We should tell the user something like:
"_Exiting the wizard will lose your input.
Exit - Continue the

[2021-06-13 08:08] Ayan-10 commented on #4454
@nicolas-raoul Can you little elaborate me about this? As I am working on #8 I can do this along with it.

[2021-06-13 13:42] sivaraam commented on #1890
I could get screenshots of these too but @misaochan mentioned something about a play store limit. I read somewhere that the limit is eight but I'm not sure. So, I'm reluctant to get more screenshots. If someone could clarify what the limit is and what screenshots we could showcase within it, I could get those screenshots.

Assuming eight, one possible option I could think of is:

1. Contributions

[2021-06-13 17:47] sivaraam commented on #1890
Ok. So, here's round 3. Let me know how it looks.

<details>
<summary>Screenshots v3</summary>

<details>
<summary>Main shots</summary>

![1_contributions](https://user-images.githubusercontent.com/12448084/121816924-12f5df80-cc9c-11eb-8f4b-a5e846339d7d.jpg)
![2_upload_screen_1](https://user-images.githubusercontent.com/12448084/121816925-15583980-cc9c-11eb-9b47-290586fbc3e8.jpg)
![3_media_details

[2021-06-13 18:18] sivaraam commented on #4419
@Renessaince I'm not able to find the language in the list of languages shows in Commons' [upload wizard](https://commons.wikimedia.org/wiki/Special:UploadWizard) either. Does Commons really support descriptions in this language already? Or is yet to be supported?

[2021-06-13 18:44] Renessaince commented on #4419
@sivaraam, take a look at any of my uploads, for instance https://commons.wikimedia.org/wiki/File:%D0%A6%D0%B0%D1%80%D0%BA%D0%B2%D0%B0_%D1%81%D1%8C%D0%B2%D1%8F%D1%82%D0%BE%D0%B9_%D0%9F%D0%B0%D1%80%D0%B0%D1%81%D0%BA%D0%B5%D0%B2%D1%8B_%D0%9F%D1%8F%D1%82%D0%BD%D1%96%D1%86%D1%8B_(%D0%9B%D1%8F%D0%B4%D0%B0%D0%B2%D1%96%D1%87%D1%8B)_003.jpg
All of them have descriptions in be-tarask.

[2021-06-14 06:25] #4450 closed

[2021-06-14 06:33] misaochan commented on #4419
@Nikerabbit or @amire80 could you advise us on this? I recall there was an issue surrounding `be-tarask` in the past.

[2021-06-14 06:56] misaochan commented on #1890
The screenshots look great to me. :)

This is the  requirement stipulated on the dev console:

Upload 2–8 phone screenshots
PNG or JPEG
16:9 or 9:16 aspect ratio
Each side between 320 px and 3,840 px
Up to 8 MB per screenshot

Nearby is problematic in some emulators unfortunately, I'm not sure why either. I usually test Nearby on a real device for that reason.

Tablet usage of our app is really lo

[2021-06-14 07:09] Nikerabbit commented on #4419
Sorry, I don't know how Wikimedia Commons does this.

[2021-06-14 11:57] #4344 closed

[2021-06-15 07:19] misaochan commented on #4386
As discussed with @neslihanturan , we are trialling out the use of milestones for releases instead of issue lists, for better automation and deadline handling. https://github.com/commons-app/apps-android-commons/milestone/4

[2021-06-15 07:19] #4386 closed

[2021-06-15 21:57] jidanni opened #4458 "Cursor missing"
At this point try to enter a  space.
![Screenshot_20210616-055304.jpg](https://user-images.githubusercontent.com/1230959/122128734-94e63400-ce67-11eb-9157-5c6b1416f66b.jpg)
We want to enter another word after the word "rain", and we need to enter a space. Well the space is indeed entered but the cursor doesn't move.

The cursor should move to the next line.

No, I'm not talking about the descripti

[2021-06-15 22:02] jidanni opened #4459 "Categories field just spins"
![Screenshot_20210616-055417.jpg](https://user-images.githubusercontent.com/1230959/122129159-45ecce80-ce68-11eb-8a4c-37fca645249d.jpg)

There is a spinner spinning on this category field but nothing seems to happen even if we type some words in.

3.0.1.

[2021-06-16 06:30] misaochan commented on #4458
Sorry, I'm not really clear on what the issue is. For instance if you add "at sunrise" after the space after "rain", does it not move to the next line?

[2021-06-16 06:32] misaochan commented on #4459
Does this happen every time or occasionally? How long do you wait for after typing a word in?

[2021-06-16 09:30] jidanni commented on #4459
All I know is it happened today. I waited about 30 seconds.

[2021-06-16 09:33] jidanni commented on #4458
Actually, everything works fine. The problem is: if the user looks at the screen he thinks that the blank never got entered so be keeps on hitting the spacebar button.

If he does not look at the screen everything works fine.

(Note that I have fonts set to the largest possible, in my Android settings.)

[2021-06-16 09:36] jidanni commented on #4458
If he answers ABCDEFG..., immediately a new line is formed. But if he enters just spaces nothing happens at all (on the screen). He wants to enter one space but he can't tell that it has been received or not by the program.

[2021-06-16 11:01] nicolas-raoul opened #4460 "Category search spins forever in upload wizard"
In master, since a few days nothing appear at the categories step even though I selected some items (that are linked to categories) in the depictions step.

Searching for the "Flowers" category does not show any result either.

![Screenshot_20210614-171949_Commons](https://user-images.githubusercontent.com/99590/122207912-a10cd880-cedd-11eb-973a-5bc0c5375bd3.jpg)

[2021-06-16 13:29] ashar-7 commented on #4438
I was able to reproduce this issue by turning on `Don't keep activities` in developer options.

Steps to reproduce:
1. Turn on `Don't keep activities` in developer options.
2. Open the app. The title will be "Contributions".
3. Put the app in background.
4. Open the app again. The title is now "Commons".

[2021-06-16 13:31] ashar-7 commented on #4438
Looks like it happens when the activity is destroyed and `savedInstanceState` is not null.
[code]
I'll try fixing the issue

[2021-06-16 13:43] neslihanturan commented on #4458
This is a generic behaviour of android text view, I don't know if it really has a function but I think it is a behaviour choice rather than a bug. You can see the same in several apps. Here how it happens in Telegram for example, it does not move to next line if I add more spaces. So I think it shouldn't be considered as a bug.
![resim](https://user-images.githubusercontent.com/3127881/122230078-f

[2021-06-16 15:18] Prince-kushwaha commented on #4460
@nicolas-raoul can i work

[2021-06-16 20:53] JBrown526 commented on #4437
Hi! New to open source but this seems like a good enough point as any to start, is it still open?

[2021-06-17 01:09] #3694 closed

[2021-06-17 12:40] #4424 closed

[2021-06-17 12:49] #4387 closed

[2021-06-17 13:04] nicolas-raoul commented on #4460
@Prince-kushwaha Are you able to reproduce the issue? (on prod)

[2021-06-17 13:36] #4435 closed

[2021-06-17 13:45] misaochan commented on #4459
Could you send us logs the next time it happens? Settings > Send Log File > send email. Thanks!

[2021-06-17 21:05] neslihanturan opened #4465 "Nearby can not track current location or it takes too long to do"
**Summary:**
This issue is created based on a feedback in our mailing list. They say usually the Commons App fails to follow them. They must flick the app out of memory and restart it, for it to know their location. It also takes much longer than any other app in their phone ( Strava, Google Maps, MSN Weather) to find their location. Thus they still must use WikiShootMe despite its disadvantages.

[2021-06-18 09:42] #4403 closed

[2021-06-18 11:01] #1853 closed

[2021-06-18 13:30] #3949 closed

[2021-06-18 19:40] jidanni commented on #4458
Ah, but in your image I see "rig |" so at least one can see the space has been entered, as there is a cursor "|".
But in my image, there is no cursor!

[2021-06-18 20:58] jidanni commented on #4459
Okay to get your settings I have to continue on the steps and finally submit the picture and then I could get back to settings. However the submit button is stuck again. So I think you better put me out of the alpha program at back in the beta program please.

[2021-06-19 03:06] nicolas-raoul commented on #4465
As a heavy user of Nearby, I agree that the blue dot does not follow me correctly. I very often have to close the app and restart it in order to see the blue dot at my current location, even though other apps like OsmAnd show my correct location in real time.

What takes a lot of time might be the SPARQL request? Are we showing the user's position in parallel with the SPARQL query? It seems to me

[2021-06-19 03:07] nicolas-raoul commented on #4460
Sorry Prince, my bug is a duplicate of #4459 would you mind checking that one instead? Thanks!

[2021-06-19 03:07] #4460 closed

[2021-06-19 03:44] nicolas-raoul opened #4469 "Sometimes can't copy/paste from/to Upload caption field"
I often copy a term (by long-pressing or double-tapping) from the caption, and use it to search for depictions.
Sometimes it does not work. Example on latest master:

https://user-images.githubusercontent.com/99590/122629995-b8291180-d0fb-11eb-8d7a-3fabdd936180.mp4

I haven't found a pattern, sometimes it works and sometimes not.

[2021-06-19 06:52] neslihanturan opened #4471 "Make the app more accessible - content description"
**Summary:**
There are plenty of ways to increase accessibility of our app. One of them is adding content descriptions to UI elements, see [docs](https://developer.android.com/guide/topics/ui/accessibility/apps#describe-ui-element). Currently most of our UI elements does not have their content description. This is a beginner friendly issue. Here would be steps:
- Adding UI element descriptors by f

[2021-06-19 10:25] nicolas-raoul commented on #4459
Strangely I can not reproduce it anymore in the latest master.
It was happening to me a lot in the last few days (I use mostly pull request branches though, rather than master).

[2021-06-19 10:28] nicolas-raoul commented on #4458
@jidanni When what you are describing happens, are you able to copy/paste? For instance, can you copy the word "mushroom"?

[2021-06-19 10:30] nicolas-raoul commented on #4438
@ashar-7 Thanks for the investigation! Please do not hesitate to send a pull request :-)

[2021-06-19 10:36] nicolas-raoul commented on #4419
I see `беларуская (тарашкевіца)` in the SDoC captions editor (by the way like some other languages it is duplicated, not sure whether it is a bug):
<img width="835" alt="Screen Shot 2021-06-19 at 19 34 01" src="https://user-images.githubusercontent.com/99590/122639537-55ed0280-d135-11eb-9498-3dbc1704fa5d.png">

[2021-06-19 11:40] jidanni commented on #4458
Yes, everything works fine. It's just that
there is no cursor bar "|" so I can tell the difference between
"|" and " |".

[2021-06-19 15:55] sivaraam commented on #4459
As far as I know you would've to do that on your own. Typically the steps are:

1. Leave the following google group: https://groups.google.com/d/forum/commons-alpha
2. Uninstall the app from play store
3. Re-install it to get the beta version

Others: Kindly correct me in case I missed something 🙂

[2021-06-19 16:18] sivaraam commented on #4458
Curiously the cursor does show up for me in the Caption field as you could see from the screenshot below. Are you never able to see the cursor or does it not appear only in some cases?

![Screenshot_20210619-213340](https://user-images.githubusercontent.com/12448084/122648653-c56bed80-d147-11eb-8d06-5456c2467d63.jpg)

I do wonder if this could be device specific. 🤔

[2021-06-19 17:08] jidanni commented on #4459
Where is a page with all three
- α
- β
- Standard
version numbers, so I can tell if your advice worked?

[2021-06-19 23:27] nicolas-raoul commented on #4459
Unfortunately Play Store does not provide an easy way to check, so you have to compare the end of the version string in About with the commit hashcodes at https://github.com/commons-app/apps-android-commons/commits/master

[2021-06-20 06:04] Ayan-10 commented on #8
@nicolas-raoul I am almost done with implementing this feature. I used the location picker for picking the location. Now, after implementing it. The feature is working like this

1. Click the blue map icon.
2. Show a dialog containing two buttons "View in map app" and "Modify location".
3. "View in map app"  the default map app opens to show the location.
4. "Modify location" Location picker opens

[2021-06-20 07:14] nicolas-raoul commented on #8
@Ayan-10 Sounds good! 🙂

[2021-06-20 12:16] sivaraam commented on #8
If I understand this correctly, @Ayan-10's work right now is to only allow editing the corrdinates of an image which already has location information associated with it. In that case, ...

... I feel it might be less helpful for "Modify location" to initially show the current location. It would be better to start with the location coordinates in the image. We could indeed show the "Locate me" bull

[2021-06-20 12:47] Ayan-10 commented on #8
@sivaraam Sorry for not being clear. Hereby saying "current location" I mean current image location. What you are proposing me to do I said the same thing in the above comment. Hope now I can express my point correctly.

[2021-06-20 12:52] sivaraam commented on #4459
Yeah. It's not easy to find the various version. Anyways, in case it helps for me the versions were as follows right now (20June2021):

Alpha - 3.0.1.1019~10ed667
Beta - 3.0.1~898dbcd75
Stable - 2.13.2~757c7b008

While trying to get the above information in my device, I noticed trying do steps 2 & 3 shortly after leaving the alpha group might still give you the alpha. You might want to wait some t

[2021-06-21 03:33] #4437 closed

[2021-06-21 04:01] #3792 closed

[2021-06-21 04:05] #1815 closed

[2021-06-21 06:16] Ayan-10 commented on #8
<img src="https://user-images.githubusercontent.com/71203077/122715103-0407c200-d286-11eb-805f-bd84d4d0d773.png" width=300/>

@nicolas-raoul What should I write in the message section?

[2021-06-21 06:32] nicolas-raoul commented on #8
Sorry here is what I had in mind, a bit more than a popup:
<img width="250" alt="map" src="https://user-images.githubusercontent.com/99590/122716465-3ecd2280-d2a5-11eb-99b8-fc391b640e7e.png">
Seeing this, the user can decide whether they want to modify the location or not. Ideally it could be the same activity as the edition activity, with the buttons hiding (and other UI dynamic modifications) wh

[2021-06-21 09:54] nicolas-raoul commented on #4459
I got the two logs below on the `gsoc21-custom-picture-selector` branch, I will update if I manage to reproduce it on `master.

When going to the categories step after selecting two depictions `worm` and `tokyo`:
[code]

On the categories step, when typing `Dogs`:
[code]

As you can see, no web requests are being made. On the depictions step, I could see many web requests appearing as `OkHttp` log

[2021-06-21 21:30] jidanni opened #4474 "Suffix version numbers with alpha, beta"
See https://github.com/commons-app/apps-android-commons/issues/4459#issuecomment-864549889

(Chrome goes even further, with different branding for each. Sure each version eventually catches up with other versions, but that doesn't matter.)

Or use Greek letters, instead of full word suffixes.

[2021-06-21 21:32] jidanni commented on #4474
Anyway when uploading the version to Google Play just be sure there is a suffix on the back of a number. That way without any research one could tell what "channel" it came from.

[2021-06-22 07:27] misaochan commented on #4474
Greek letters are not possible, but regular letters are possible. This can be done for alpha. However, for the time being, you can tell that a version is alpha by seeing that its version number is longer, 3.0.1.1019 vs 3.0.1 for beta. You can ignore everything after the "~" unless you are looking for commits.

For beta and production it is a little more tricky because the Google Play Store workflo

[2021-06-22 12:58] jidanni commented on #4474
But doesn't that also depend on where you look? E.g., In your cellphone's settings' app list it will always look shorter?

[2021-06-23 02:33] ashishkumar468 commented on #545
Hi @misaochan, I had some more doubts

Now that we would be fetching the properties from the json, should we expect the properties for the P31(location) and that for the address (P669, P670) to change too?

If we do implement this, what exactly would the shared content look like?

[2021-06-23 08:33] misaochan commented on #545
Hi @ashishkumar468 ,

The JSON would only give us a list of which property identifier we should search for. In the example that Stephen gave us via email, `{"ie": ["P2186"]}`, this means that if the address is in Ireland, we would only display that point on the map as a "WLM point" if a P2186 value exists for it.

Basically the JSON only replaces the search for P1435 or P2186, by telling us which

[2021-06-23 09:02] misaochan commented on #4474
Beta should have one less section, yes. I.e. two "."s instead of 3 "."s

[2021-06-23 15:43] neslihanturan commented on #4309
I think radio buttons is not a good approach for this UI. I think this does not improve the current UI. Lets think in terms of user flows:
- As a user I usually expect nothing will happen right after I choose a radio button. It is a selection control, not an action button. But in our scenario next question will appear after user selected one ratio which is unexpected.
- I can't see any point havin

[2021-06-23 16:15] #4438 closed

[2021-06-23 20:10] Ayan-10 commented on #4309
@neslihanturan Yes, I also think the same that only text for "yes"/"no" is enough. I think we can use buttons with green for yes and red for no. Should I just make two normal buttons or I think as it is a quiz user may expect any visual response in the button after clicking like in the case of the radio button a circle is filling with white color after clicking. Although It's acted immediately wit

[2021-06-24 01:06] aileenpalafox commented on #4471
Hello, I would like to contribute to this if that's OK. It's my first time on open source so, if it's possible, I would like some more guidance on how to do this. :)

[2021-06-24 02:44] nicolas-raoul commented on #4309
Sorry for the late answer!
I seem to agree with both of you:
- "Yes", "No", "I am not sure" should all be buttons.
- No cross nor tick icon

About other aspects:
- Colors often create unforeseen problems with night mode, so how about standard color (no red/green) for now? Not a very strong opinion though.
- I don't think any special visual response is needed, because as you say the answer comes im

[2021-06-24 06:52] Ayan-10 commented on #4309
@nicolas-raoul Then two simple buttons with normal colors and shape. Is this ok?

[2021-06-24 07:35] nicolas-raoul commented on #4309
Sounds good!

[2021-06-24 13:51] Ayan-10 commented on #4309
@nicolas-raoul @neslihanturan I made the required changes please review #4382 .

[2021-06-25 03:29] nicolas-raoul opened #4477 "Move tutorial to after login"
In my understanding, the main goal of the tutorial is to improve contributions quality, by explaining what images are worth uploading, and how to write captions/etc.

For people who do not want to log in, I believe that the tutorial is not really relevant.

So, how about moving the tutorial to after login? And not show any tutorial to users who do not log in (_or maybe show a different tutorial in

[2021-06-25 06:51] misaochan opened #4478 "Canvas: trying to draw too large bitmap"
**Summary:**

Multiple reports from the Google groups forum:

**Steps to reproduce:**

Unsure, contacting users

**Device and Android version:**

Multiple

**Commons app version:**

3.0.1 beta release

[2021-06-25 08:37] Ayan-10 commented on #4477
@nicolas-raoul Can I work on this issue?

[2021-06-25 09:37] nicolas-raoul commented on #4477
@Ayan-10 It is yours, thanks! :-)

[2021-06-25 11:41] nicolas-raoul opened #4480 "Make media details caption & description copyable"
I often want to copy a caption to reuse part of it for another picture.
Long-pressing does not seem to have any effect currently. I think the text should be made selectable.

[2021-06-25 12:22] Ayan-10 commented on #4480
@nicolas-raoul I hope adding ` android:textIsSelectable="true"` in textView will fix this issue. Should I do that?

[2021-06-25 22:47] nicolas-raoul commented on #4480
Sounds good! 🙂

On Fri, 25 Jun 2021, 21:22 Ayan Sarkar, ***@***.***> wrote:

[2021-06-26 07:42] Ayan-10 commented on #30
@nicolas-raoul I think this issue is resolved now. Isn't it?

[2021-06-26 07:51] nicolas-raoul commented on #30
You are right, thanks!

[2021-06-26 07:51] #30 closed

[2021-06-26 07:51] nicolas-raoul commented on #30
You are right, thanks!

[2021-06-26 07:58] misaochan opened #4482 "NPE from Explore"
**Summary:**

From a user on our crash report forum:

**Commons app version:**

v3.0.1 beta release

[2021-06-27 06:33] Ayan-10 commented on #4033
<img src="https://user-images.githubusercontent.com/71203077/123534983-9a346000-d73e-11eb-8b06-e5b52644c595.png" width=300/>

<img src="https://user-images.githubusercontent.com/71203077/123535016-e1225580-d73e-11eb-937f-0db0963b3939.png" width=300/>

@nicolas-raoul @jidanni As you can see in the images. The app is recommending selected depicts in categories. So can you elaborate on what the issue

[2021-06-27 08:20] nicolas-raoul commented on #4033
@Ayan-10 You are right for the Tuesday example, we are very fortunate that it works in the majority of cases. Unfortunately, it sometimes does not work that well, sometimes because the item is not yet linked to the category, sometimes because there is no direct 1-1 relationship between items and categories.

[2021-06-27 09:21] #4480 closed

[2021-06-27 09:34] #4309 closed

[2021-06-28 06:44] #4370 closed

[2021-06-29 07:49] neslihanturan commented on #4238
Anyone who feel interested with this issue please make sure you followed the discussions at #4239

[2021-06-29 08:22] #4478 closed

[2021-06-29 08:22] #4482 closed

[2021-06-29 09:02] #8 closed

[2021-06-29 09:12] #4477 closed

[2021-06-30 03:21] jidanni opened #4486 "Why can't the automatically added numbers be shown earlier?"
![Screenshot_20210630-111813.jpg](https://user-images.githubusercontent.com/1230959/123896925-11633180-d995-11eb-9364-ad71f6364c86.jpg)

![Screenshot_20210630-111850.jpg](https://user-images.githubusercontent.com/1230959/123896951-2049e400-d995-11eb-9da6-475ff252bbed.jpg)

Isn't the 2 added by the app before it starts sending the pictures? Why can't it be shown at the upload stage then? This just

[2021-06-30 09:19] misaochan opened #4487 "Alpha release is stuck at 1019 (from 14 June), does not autopublish anything after that"
Seems like all of the new commits to master after 14 June are not going to alpha. The current alpha release is version number
1019 that was uploaded on 14 Jun 2021 22:12. Pinging @nicolas-raoul and @domdomegg for thoughts on what might have gone wrong with our autopublishing?

[2021-06-30 09:25] nicolas-raoul commented on #4487
Just a very random idea but maybe it is linked to CI failing recently?

On Wed, 30 Jun 2021, 18:19 Josephine Lim, ***@***.***> wrote:

[2021-06-30 09:35] matkoniecz commented on #3898
@nicolas-raoul Sorry for a later reply. Which license I should use for that photos?

[2021-06-30 09:38] nicolas-raoul commented on #3898
CC0, thanks!

[2021-06-30 09:49] misaochan commented on #4486
This should be doable, since we do already check for the existing name before the upload starts.

[2021-06-30 15:53] Ayan-10 commented on #4312
@nicolas-raoul As you mentioned in the previous [comment](https://github.com/commons-app/apps-android-commons/issues/4312#issuecomment-812348378). I made the UI of the toolbar like this. Is it ok?

<img src="https://user-images.githubusercontent.com/71203077/123991584-7ac06000-d9e8-11eb-87a2-570187ac6231.png" width=300/>

[2021-07-01 06:16] misaochan commented on #4487
Ah, yes, it seems the last time CI ran on master was Commit e449240 16 days ago. We need to look into this. :/

[2021-07-01 10:49] nicolas-raoul commented on #4312
It looks great to me :-)

[2021-07-02 14:18] misaochan commented on #545
From the wlm mailing list,

So now instead of 1 "WLM month", there are 2 months and countries can pick any 30 days in those months for their contest.

This will be tricky to implement, but I guess we can just display the WLM markers from 1 Sep to 31 Oct.

[2021-07-03 13:38] Ayan-10 commented on #3890
@neslihanturan @nicolas-raoul Can I work on this issue?

[2021-07-03 23:49] nicolas-raoul commented on #3890
I think the main problem has been fixed already?
I just tested: when I add a category within the app, it is immediatly visible.

Everything (including the filename and the image's binary itself) can be modified outside of the app, but for bandwidth reasons we can not update everything everytime, right? How about refreshing everything only if the user explicitely requests it, for instance with a sw

[2021-07-04 06:00] Ayan-10 commented on #3890
@nicolas-raoul Yes, I know the problem has fixed now. But It just showing the new categories. It doesn't refetch the categories from the server. The app has a short-term hack to show the new categories. You can see in the image that there is a TODO in the update categories. But yes it's showing the updated categories. But as @neslihanturan mentioned in point "c". We can have a class for getting de

[2021-07-04 11:44] ashishkumar468 commented on #545
Hi @misaochan , I had a question around templates, so from the link you've added, a sample template looks like
[code]

The other things we can get from the query response, but what about this,  "Cultural Heritage Russia", how do we decide what goes in this for different monuments at different locations?

[2021-07-05 02:36] ashishkumar468 commented on #545
Hi @misaochan . Do you mean to say we completely hide the markers for WLM if the date is not between 1st Sep to 31st Oct?. Also will we not be showing a banner on home screen those days?

[2021-07-05 04:31] jidanni opened #4493 "Capitalization not reflected consistently"
After we upload a picture it always is capitalized on the website automatically but not automatically in the app.

In fact if we will upload two pictures one has the number two added but now looking in the app the names are still exactly the same.

 I'm using the latest beta.

[2021-07-05 06:07] misaochan commented on #545
Yes exactly. Or rather, we revert to the existing state of our Nearby map outside those dates. Take care not to just "hide the WLM markers" as some of them are the same as existing Nearby pins, so they should just revert to normal pin status. I would probably approach this by not running the additional WLM query at all outside those dates,

It would be nice if there was an easy switch for us to to

[2021-07-05 06:21] misaochan commented on #545
Hi @VojtechDostal and @nicolas-raoul , we've encountered a couple of issues that we hope you can help us with.

1. Do you know which templates should be attached to the upload for a WLM upload? Does it differ from country to country, or can we just use a broad template like https://commons.wikimedia.org/wiki/Template:Wiki_Loves_Monuments_2020 ?
2. How do we find the monument ID? Given that we are

[2021-07-05 06:31] nicolas-raoul commented on #545
Sorry I have no insight on the 1 and 2.
About 3: Feel free to turn a sandbox item such as https://www.wikidata.org/wiki/Q15397819 into a monument by copying properties from an existing monument, I don't think anyone will notice :-)

[2021-07-05 07:57] misaochan commented on #1890
v3 is out in production, and I have changed the Play Store screenshots to the ones from https://github.com/commons-app/apps-android-commons/issues/1890#issuecomment-860247149 . Thanks a lot @sivaraam and @nicolas-raoul ! :) It may take a while for the listing to be updated by Google.

[2021-07-05 07:57] #1890 closed

[2021-07-06 01:21] nicolas-raoul opened #4495 "Remove EXIF coordinates per-picture"
I am happy to share EXIF coordinates of 90% of the pictures I take (landscapes, mountains, landmarks). Without EXIF coordinates these pictures would lose most of their encyclopedic/usability value.

On the other hand, I often don't want to share EXIF coordinates of the remaining 10%: Picture of a rare fruit at my friend's house, pictures of tools at a relative's workplace, pictures of super-old ou

[2021-07-06 03:46] Ayan-10 commented on #3890
@nicolas-raoul Can you put your thoughts on this?

[2021-07-06 04:30] nicolas-raoul commented on #3890
The current behavior is not shocking to me.
How about keeping it, removing the TODO comment, and implementing a swipe gesture that does what Neslihan described in the "c" point?

[2021-07-06 06:53] misaochan commented on #545
Hmm, okay, thanks. Looking at https://commons.wikimedia.org/wiki/File:Queensland_-_Stanthorpe_Post_Office_-_20210425163522.jpg which was uploaded through Monumental, there seems to be no WLM template added at all, which is rather perplexing? I'll ask on the mailing list...

[2021-07-06 12:44] Ayan-10 commented on #3890
@nicolas-raoul Ok, I will do that. So when user swipes top the app should fetch all sections of the contribution item from the server. I think description, license, location, categories can be fetched together using `getWikiText` method. Is there any API for fetching Filename and image from the server for a contribution?

[2021-07-07 01:17] nicolas-raoul opened #4496 "Depiction explanation cropped"
Latest master.
The explanation is not wrapped correctly, a part of the word is not visible, see red arrow:
![adb](https://user-images.githubusercontent.com/99590/124685398-2c412300-df0c-11eb-9d96-92a35e648290.png)
It sometimes makes the explanation difficult to understand, which can lead to less-informed depiction choice.

[2021-07-07 01:39] nicolas-raoul opened #4497 "Is this a photo of place X: Do not ask if the item (depiction) is already selected for addition and the photo already has a caption"
Latest master

In such cases, asking again has no positive benefit, and has some drawbacks:
- Takes time to think and answer
- If "Yes" is tapped, the caption (copied from previous media) is overwritten by a less useful caption

[2021-07-07 07:52] sjl872964789 opened #4498 "Splitting screens on some pages will cause the app to crash"
**Summary:**
Splitting screens on some pages will cause the app to crash

**Steps to reproduce:**
1. Install and open commons
2. Skip the tutorial
3. Click the "search" icon in the top right corner
4. Enter any character, such as "y"
5. Click any picture
6. Split screen
7. Crash

**System logs:**

[code]

**Device and Android version:**

Device1: [MI CC 9]
OS version1: [MIUI 11.3.3]
Device2: [PIXE

[2021-07-07 14:02] Ayan-10 opened #4499 "Unit tests are breaking because of recent changes in some Activities"
**Summary:**

Unit Tests are breaking because of recent changes in some Activities like QuizActivity and Logout State. Some methods are removed in those activities but those are not yet refected in Unit Tests.

**Steps to reproduce:**

Run any unit tests

What did you expect the app to do, and what did you see instead?

**Commons app version:**

latest master

**Would you like to work on the issue

[2021-07-08 08:48] madhurgupta10 commented on #4499
@Ayan-10 can you check this PR #4491

If there is still any specific test that is failing let us know

[2021-07-08 19:03] Ayan-10 commented on #4499
@madhurgupta10 Yes, there are some in the latest master.

1. `MoreBottomSheetLoggedOutFragmentUnitTests` test `testOnTutorialClicked`
2. `QuizActivityUnitTests` test `testSetNextQuestion`

[2021-07-09 06:22] misaochan commented on #4496
Interesting, does this happen in v3.0.2 for you as well @nicolas-raoul , or only in latest master?

[2021-07-09 06:25] misaochan commented on #4498
Thanks for letting us know @sjl872964789 !

[2021-07-09 06:30] nicolas-raoul commented on #4496
I am sure about v3.0.2 in particular, but I believe it has always been happening.

[2021-07-09 11:00] madhurgupta10 commented on #4499
#4491 was already merged to the master branch, I just run all the tests on master and I don't see any issue. You can refetch the upstream master and update your local master branch and try again.

[2021-07-09 11:00] #4499 closed

[2021-07-13 11:31] neslihanturan opened #4500 "Only logged in user should be able to edit coordinates of images"
**Summary:**

We may prefer to let only people who login can edit coordinates of an image. Currently everyone (logged in or not) can edit them.

**Steps to reproduce:**

Do not login and select a photo from Explore, you will see that you can edit coordinates.

**Would you like to work on the issue?**

Preferably not and this is a beginner friendly issue.

[2021-07-13 11:34] neslihanturan opened #4501 "Only logged in users should be able to see manage EXIF tags setting"
**Summary:**

 Manage EXIF tags should be disabled when user is not logged in, since it is not possible to upload photos if not logged in so EXIF tags are not an issue.

**Steps to reproduce:**

Continue without login and go to settings. You will see EXIF setting is there for you.

**Would you like to work on the issue?**

Preferably no and this is a beginner friendly issue.

[2021-07-13 11:42] neslihanturan opened #4502 "The language list in app language setting is not alphabetically sorted."
**Summary:**

Language list in app language setting are not alphabetically sorted and hard to find things. It should be sorted.

**Steps to reproduce:**
Go to settings and try to edit default app language.

**Would you like to work on the issue?**

Preferably not and this issue is beginner friendly.

[2021-07-13 11:49] neslihanturan opened #4503 "Send logs button on settings doesnt work"
**Summary:**

Currently the only way for user to send logs to us is waiting app to be crashed. However, user should be able to send logs without having to wait app to crash. Actually we have a button to send logs in settings page. It does not work and should be fixed.

**Steps to reproduce:**
Go to settings and click send logs button, nothing will happen.

**Would you like to work on the issue?**

[2021-07-14 15:05] #4503 closed

[2021-07-14 19:03] Ayan-10 commented on #3777
@nicolas-raoul Can I work on this?

[2021-07-15 00:14] nicolas-raoul commented on #3777
Anyone: Is this still relevant?

[2021-07-15 05:25] misaochan commented on #3777
AFAIK, no. Pinging @ashishkumar468 for confirmation.

[2021-07-15 20:14] Ayan-10 opened #4507 "App crashed while deleting recent searches"
**Summary:**

Every time the app is crashing while deleting recent searches. And also is delete the search item one by one. But In my emulator which is Pixel 4 API 30, the app is working as expected (not crashing and deleting the whole search). The crash is saying that we are releasing an already released resource.

**Steps to reproduce:**

Explore -> search icon -> Delete recent searches.

**Syst

[2021-07-15 20:20] Ayan-10 commented on #3700
@nicolas-raoul So you are expecting a new tab on Favorites where users can see their bookmarked Wikidata. And also able to bookmark the items? Am I right?

[2021-07-16 02:29] nicolas-raoul commented on #3700
Yes, thanks! Mocks in red:

Place to create a new Item bookmark, in any item at Explore>Search>Items:
![adb](https://user-images.githubusercontent.com/99590/125882159-47a7c0d0-bdf4-4bc1-8015-a6dd42adf4e8.png)

Place to show Item bookmarks:
![adb](https://user-images.githubusercontent.com/99590/125882466-49cd6a73-2856-42cf-b8af-4f19edc98706.png)

[2021-07-16 02:37] nicolas-raoul opened #4508 "Rename "favorites" to "bookmarks""
The screen below uses both words "favorites" and "bookmarks" to refer to the same thing.
We should settle on one word, and use it in the whole UI ad source code (including variable names, ideally even database fields, to avoid one more hurdle for newcomers).

![adb](https://user-images.githubusercontent.com/99590/125882763-a334a4d9-689c-4795-ac62-af60211e20ab.png)

[2021-07-16 06:19] misaochan commented on #4508
I don't think it's too difficult to change, but I'm not sure which would be the most appropriate option. What do you think?

[2021-07-16 06:28] nicolas-raoul commented on #4508
No strong opinion.
https://www.techwalla.com/articles/what-is-the-difference-between-favorites-bookmarks says:

Given that Internet Explorer is really major anymore, I guess "bookmarks" will sound natural to more people?

[2021-07-16 06:30] misaochan commented on #4507
Hi @Ayan-10 , thanks for reporting this! Are you interested in working on it?

[2021-07-16 06:31] misaochan commented on #4508
Sounds good to me. :)

[2021-07-16 06:56] Ayan-10 commented on #4507
@misaochan Yes

[2021-07-16 13:42] misaochan commented on #4507
It is yours. :)

[2021-07-18 00:10] #4312 closed

[2021-07-18 07:17] #4496 closed

[2021-07-18 09:49] diamniko commented on #4508
Hello, can I work on this?

[2021-07-18 15:23] Discostu36 opened #4510 "Show login errors to user"
**Summary:**
When there is a login error during upload (for example when user changed their password) show error to user.

**Steps to reproduce:**

1. Change your password on Commons
2. Try to upload a file with Android app
3. Instead of telling me what the problem is, app only says that upload failed

**System logs:**

[code]
.

[2021-07-18 16:48] misaochan commented on #923
Hi @nicolas-raoul @VojtechDostal , I'm trying to collect these stats again for the next PG report, but it seems like things have changed again. A database name needs to be entered, and also I'm pretty sure https://quarry.wmflabs.org/query/37568 itself has been changed? Would appreciate any help with the query. :)

[2021-07-18 23:54] LeonieKruger88 commented on #4502
Hi, is this issue still open? Care if I take it?

[2021-07-19 00:40] nicolas-raoul commented on #923
I think I fixed it: https://quarry.wmflabs.org/query/56896
I also filtered out a bot which was hijacking our tag (and has been fixed since).

[2021-07-19 02:43] nicolas-raoul commented on #4508
@diamniko Yes thanks!

[2021-07-19 08:01] Ayan-10 commented on #3700
@nicolas-raoul I am almost done with implementation. But I got stuck a little. I am getting a build failiure with this error. Here it says that. `BookmarkItemsController cannot be provided without an @Inject constructor or an @Provides-annotated method. This type supports members injection but cannot be implicitly provided`. But I in `BookmarkItemsController` I implemented `@Inject
` constructor.

[2021-07-19 08:11] nicolas-raoul commented on #3700
Have you fully compared with how bookmarked locations are implemented?

[2021-07-19 08:14] VojtechDostal commented on #923
Been doing some analysis on that for Czech audience :)

<img width="414" alt="czechia-uploaders" src="https://user-images.githubusercontent.com/21329813/126126291-ab73482a-c091-49ca-88fa-16037afbdade.png">
<img width="656" alt="map-uploaders" src="https://user-images.githubusercontent.com/21329813/126126294-f04c7d6f-5103-48bb-a9f2-8d5744e76791.png">
<img width="341" alt="p18-country" src="https://

[2021-07-19 08:17] misaochan commented on #923
@nicolas-raoul Thanks a lot! It works for me now. And according to our results, we have a total of 4564 p18 edits made through our app now, which is pretty impressive IMO! :)

@VojtechDostal Wow, that's super cool, so many pics added for the Czech Republic! (But you do mean p18 and not p17... right? :) )

[2021-07-19 08:19] Ayan-10 commented on #3700
Yes, I fully compared with BookmarkLocations and BookmarkPictures. But it's
not working.

On Mon, 19 Jul 2021, 1:42 p.m. Nicolas Raoul, ***@***.***>
wrote:

[2021-07-19 08:19] misaochan commented on #923
Ahh, @nicolas-raoul , I just realized that some QIDs are being counted multiple times (e.g. Q95683884 by Silas), so the number of rows might not be the true number of places with pics added to them. Could we get the fix for unique QIDs again please?

[2021-07-19 08:42] nicolas-raoul commented on #923
@misaochan Sure, here are unique QIDs: https://quarry.wmflabs.org/query/56908

@VojtechDostal I tried generating the world map reusing your 2019 SPARQL above, but I get `Error: 502, Next Hop Connection Failed`, too many points I guess? Maybe make the SPARQL output latitude/longitude rows, then render the map with another tool?

[2021-07-19 08:47] nicolas-raoul opened #4511 "Make the Nearby list conform to Place state"
The Nearby map's data changes when I enable/disable `Exists` or `Needs Photo`. That's good.

On the other hand, the Nearby **list**'s data does not change when I enable/disable `Exists` or `Needs Photo`. I believe that needs fixing.

[2021-07-19 09:00] VojtechDostal commented on #923
I do it differently now... Using Commons Query service - https://www.wikidata.org/wiki/User:Vojt%C4%9Bch_Dost%C3%A1l/app-Czech_uploads

[2021-07-19 10:02] nicolas-raoul commented on #923
Thanks, nice script, I like how it even shows thumbnails!
<img width="990" alt="Screen Shot 2021-07-19 at 18 59 18" src="https://user-images.githubusercontent.com/99590/126142889-aeae83a8-47a2-4829-bd8f-e1c43fed39df.png">
[link](https://wcqs-beta.wmflabs.org/#%23defaultView%3AMap%0ASELECT%20%3Fcoord%20%3Fimage%20%3Flayer%0AWITH%0A%7B%0A%20%20SELECT%20%3Fitem%20%3Fimage%20%3Ffilename%20%3FcontentUr

[2021-07-19 10:46] nicolas-raoul opened #4512 "Nearby list: Show items with no geolocation"
# Idea

A lot of items have a [located in the administrative territorial entity](https://www.wikidata.org/wiki/Property:P131) but no latitude/longitude.

For instance, the 1st arrondissement of Paris is only 2 square kilometers but has [1353 items with missing geocoordinates](https://query.wikidata.org/#SELECT%20%3Fitem%20%3FitemLabel%20%3FclassLabel%0AWHERE%20%0A%7B%0A%20%20%3Fitem%20wdt%3AP131%2

[2021-07-20 00:45] jidanni opened #4513 "Hard to tell if we are looking at a scrolling list"
It's hard to tell if we are looking at a complete list or if there are more items that can be scrolled further.

![Screenshot_20210720-084156.jpg](https://user-images.githubusercontent.com/1230959/126245289-f8df2127-45e7-4bcf-873f-e8ac62bc14ae.jpg)

Version: latest beta.

[2021-07-20 00:46] jidanni commented on #4513
The only way to tell is to try scrolling it and if it scrolls then there are items below, which in fact is the case today.

[2021-07-20 04:08] jidanni opened #4514 "Pasted text should have fonts unified"
![Screenshot_20210720-120519.jpg](https://user-images.githubusercontent.com/1230959/126260427-65a2f5f6-602a-4c48-9442-1b44a352c9de.jpg)
The fonts should become the same upon pasting. (We just pasted three words and added two words on the back.)
Latest beta.
All five words should be like the final two words.

[2021-07-20 04:12] jidanni commented on #4514
Yes, it does not affect the upload; all the characters are standard. It just looks bad in the app before we finish filling in the forms.

[2021-07-20 05:08] Ayan-10 commented on #3700
@nicolas-raoul Should I make PR? So that you can check where is the problem. I am done with the implementation. But because of that build failure, I can't test it. And also, again I rechecked the classes there is no difference between BookmarkLocations and BookmarkPictures still it's failing.

[2021-07-20 05:12] nicolas-raoul commented on #3700
You can create a PR and put [WIP] in the title. Thanks!

[2021-07-20 15:15] LordDemaxus commented on #4500
Could I try working on this issue?

[2021-07-20 16:14] Ayan-10 commented on #3700
@nicolas-raoul I build the whole functionality with Kotlin. Now I recreated the same thing with java and those inject icons are coming in the sidebar so I think injection is happening. Can you tell me is there any problem to do injection in Kotlin classes?

[2021-07-21 19:03] #4140 closed

[2021-07-22 02:50] Ayan-10 commented on #3700
@nicolas-raoul Can you please put your thoughts on the above comment so that I can proceed further?

Thanks.

[2021-07-22 06:45] misaochan commented on #923
Thanks a lot guys! The new query works like a charm. Love the map too, is it OK to upload it to Commons and use it in the report as well? :)

[2021-07-22 07:00] VojtechDostal commented on #923
Sure, use it as you like, I doubt there is anything copyrightable about the maps :) .

[2021-07-22 07:21] nicolas-raoul commented on #923
Attribution is needed though, I would suggest using license CC-BY-SA and this author:
<img width="301" alt="Screen Shot 2021-07-22 at 16 18 35" src="https://user-images.githubusercontent.com/99590/126602610-f8bc72b5-de44-4b8b-96dc-a16b8d8de0df.png">
([example](https://commons.wikimedia.org/wiki/File:-ain_amaiera_euskal_toponimian.jpg))

[2021-07-22 12:19] benryder1988 commented on #4513
Nice idea, the above pull request adds scrollbars to instances of RecyclerView so that is clearer when scrolling is available

[2021-07-22 16:14] benryder1988 commented on #4469
I've been able to recreate this, and I think the pattern is:
- it works when you initially visit the screen where you can input the caption and description
- then if you click 'next' and then 'previous' to return the screen with the caption and description, then it no longer works.

@nicolas-raoul does this match your experience and help you recreate the issue?

At a guess, I think the fields are

[2021-07-22 18:03] zachary-thomas-115 commented on #4501
I am willing to work on this!

[2021-07-23 11:29] nicolas-raoul commented on #4469
@benryder1988
Yes, I am pretty sure that matches my experience!
Thanks a lot, looking forward to your pull request :-)

[2021-07-23 11:40] #4455 closed

[2021-07-23 11:51] nicolas-raoul commented on #3700
Hi Ayan,
Apologies I unfortunately won't have time to go through the code any time soon as I am super-busy on mentoring and on other projects, but I hope some other volunteer or passer-by will be able to help!

[2021-07-23 12:36] benryder1988 commented on #4469
No problem :) the issue seems to be fixed now in pull request #4469, let me know if you still have issues!

[2021-07-23 14:33] benryder1988 opened #4521 "During upload wizard 'copy to subsequent media' copies language and row structure, but not captions and descriptions"
**Summary:**

So I started looking into issue #4391, and found an issue that is perhaps not related:
- During upload wizard 'copy to subsequent media' copies language and row structure, but not captions and descriptions

**Steps to reproduce:**

- If I start the upload process with three images, enter some details in the Caption and Description field, and click 'copy to subsequent media' and then

[2021-07-23 14:42] benryder1988 commented on #4391
So I started looking into this, and found some issues with captions and descriptions not being copied to subsequent media (see issue #4521)

From a usability perspective, I am wondering if this feature might be better if it were reversed? For example by showing 'Copy from previous media' instead after the first media has had details added, and bringing the changes forward. However, this would mean

[2021-07-24 01:56] jidanni commented on #4391
All I know is even months later, scrolling back to older images, one still sees identical names in the app.

[2021-07-24 19:09] Aarushi5g commented on #4502
Hi, hope this issue is still open, I've started working on it 👍

[2021-07-24 19:40] Ayan-10 commented on #3700
@nicolas-raoul I solved all of the issues. The PR is ready for review. Please review it at your convenience.

Thanks for giving the response and time.

[2021-07-24 23:37] jidanni opened #4523 "Tap to view: could be success could be failure"
![Screenshot_20210725-072620.jpg](https://user-images.githubusercontent.com/1230959/126883277-bf3eb043-4b3f-4f42-a2e8-d8dadf213fdc.jpg)
We get the above notification, but  it could mean two things:
Success, or failure. In this case it just happens indicate failure. Why not be more clear in the message?

[2021-07-24 23:39] jidanni commented on #4523
PS, I tried to edit the image to crop it, but Github said the crop file size was too big. Hohoho.

[2021-07-25 10:29] neslihanturan opened #4524 "Kotlin NPE on fetch contributions"
**Summary:**

There is a common bug report from users.

**Steps to reproduce:**

Some users say it happened on log out.

**System logs:**

[code]

**Device and Android version:**

ANDROID_VERSION=11

**Commons app version:**

3.0.0 prod release

**Would you like to work on the issue?**

Yes

[2021-07-25 11:32] Ayan-10 commented on #3604
@nicolas-raoul Can I work on it?

[2021-07-26 05:17] #4524 closed

[2021-07-27 02:54] nicolas-raoul commented on #3604
@Ayan-10 Yes, thanks!

The first step is to find what API URL(s) you need to call to get from "_Category:Rabbits_" to "_Q9121386_" to "_Ikesbunny.jpg_".

[2021-07-27 03:48] Ayan-10 commented on #3604
@nicolas-raoul Yes, I already did that. I think this is the right API call for getting the 70px thumbnail.

https://commons.wikimedia.org/w/api.php?action=query&format=json&prop=pageimages&titles=Category%3ARabbits&piprop=thumbnail&pithumbsize=70

[2021-07-27 03:56] nicolas-raoul commented on #3604
Wonderful! It is great that you found how to achieve all of this in only 1 API call. 👍

[2021-07-27 04:04] nicolas-raoul opened #4527 "Display description for categories too"
In the same spirit as #3604, it would be very helpful to display a category's **description**.

For instance, the row for Category:Rabbits would show `species of small mammals (Leporidae)`, the Wikidata description of the "rabbit" Wikidata item, which is already found here:

![Screen Shot 2021-07-27 at 13 00 37](https://user-images.githubusercontent.com/99590/127093374-3f756fbc-4272-4a3a-8a22-2366

[2021-07-27 05:08] Ayan-10 commented on #4527
@nicolas-raoul I was thinking the same. I can work on this issue after solving #3604 .

[2021-07-27 05:28] nicolas-raoul commented on #4527
@Ayan-10 Very related indeed! Feel free to do them in a single PR if you find it easier, or leave a placeholder for description in the thumbnail PR. :-)

[2021-07-27 08:15] nicolas-raoul commented on #4367
After 3 months, the ads got 1000 Commons app installs.
Details about these installs:

Top 10 countries: Algeria, Ethiopia, Myanmar, Nigeria, Morocco, Kenya, Pakistan, Iraq, Afghanistan, Somalia ([full list](https://gist.github.com/nicolas-raoul/5bb1faeb56cb229b4fff1aeaa950a862)).
98% on mobile phones, the rest on tablets.
Half on Google Search, 40% on Google Display Network, the rest on YouTube.
T

[2021-07-27 12:50] nicolas-raoul commented on #4469
Sorry I was wrong, I just got a case where text is unselectable immediately after initiating the upload (before tapping "Next").

[2021-07-28 06:42] misaochan commented on #4367
Wow, that's great news @nicolas! Thanks for helping out with this. :)

I agree re: the video. The main reason I've been hesitant to change that is that it was made by a volunteer professional videographer, and frankly I am very unfamiliar with the process of taking and editing videos. But if someone wants to take it up I would be more than happy to make the switch.

[2021-07-29 13:04] neslihanturan opened #4529 "Bug on getting thumb URL when media is null"
**Summary:**

This issue is created depending on a bug reported by some users.

**System logs:**

[code]

**Device and Android version:**

What make and model device (e.g., Samsung J7) did you encounter this on?
What Android version (e.g., Android 4.0 Ice Cream Sandwich or Android 6.0 Marshmallow) are you running?
Is it the stock version from the manufacturer or a custom ROM ?

**Commons app versi

[2021-08-01 06:35] Ayan-10 opened #4532 "No images are showing in Items media tab"
**Summary:**

No images are showing in the Items media tab.

**Steps to reproduce:**

How can we reproduce the issue?

1. Go to explore
2. Search Rabbit
3. Click Items Tab
4. Click any item
5. See the Media tab "No images found"

**Device and Android version:**

Tested on
Pixel 2 API 30
Samsung J2 API 23

**Commons app version:**

latest master

**Screen-shots:**

https://user-images.githubusercon

[2021-08-02 09:25] #4529 closed

[2021-08-03 18:42] sivaraam commented on #4398
Following the Wikimedia Hackathon, it looks like Wikimania is happening shortly (Aug 13 - Aug 17). It's virtual too. The hackathon specifically is happening on August 13th, 5:00 UTC.

More details could be found in the event page could be found here: https://wikimania.wikimedia.org/wiki/Wikimania

Registrations are open. Anyone can register via the [registration page](https://www.eventbrite.com/e/

[2021-08-06 08:43] #4469 closed

[2021-08-06 10:26] neslihanturan commented on #2547
I have closed previous sleeping PR. Anyone who claims the issue, please make sure you have inspired from the changes there. These changes were almost done with some minor details.

[2021-08-09 00:54] endim8 commented on #4156
Im also getting this issue. I'm also using LOS 17.1 with no gapps, and also unable to upload a log :(

[2021-08-10 04:54] nicolas-raoul commented on #4521
I noticed this too, it is very penalizing when uploading several pictures at the same time.

Anyone willing to do a bisect to find out what commit broke that feature? That would probably be the fastest way to finding a fix.

[2021-08-10 04:58] nicolas-raoul commented on #4523
I _believe_ it changes to "Tap to view your upload" in case of success.

[2021-08-10 05:00] nicolas-raoul commented on #4532
Have you tried on the prodDebug flavor?
The beta server does not work for most Wikidata-related stuff. That might be the problem here.

[2021-08-10 06:06] Ayan-10 commented on #4532
@nicolas-raoul Yes, that's the problem. I tested it in prodDebug and It working fine.

[2021-08-10 06:58] nicolas-raoul commented on #4532
More about the problem:

- #3135
- #3562

If you think we can improve the situation or developer documentation, please let us know.
Thanks!

[2021-08-10 06:58] #4532 closed

[2021-08-10 09:26] nicolas-raoul opened #4539 "When Wikidata has no decription, show class label instead"
1. Using the app to upload a picture, search for 潮騒
2. Only the caption shows up, as item https://www.wikidata.org/wiki/Q60985286 has no description in any language.

In such cases, it would be great to show the label of the Wikidata item that Q60985286 is an instance of (https://www.wikidata.org/wiki/Q105543609 "musical work/composition").

It would be a great help in this case as there are many

[2021-08-10 17:57] jidanni commented on #4523
Well even so, the failure case still would need to be reworded to make it clear it failed.

[2021-08-10 18:55] Ayan-10 commented on #3562
@nicolas-raoul @sivaraam @macgills I think instead of making the prod default. We can fix certain cases where beta is not working because it's next to impossible for a contributor to post something meaningful every time while testing and making the prod default branch can lead to lots of unnecessary media on the production server. I recently faced these kinds of issues in beta. I think these issue

[2021-08-10 19:04] Ayan-10 commented on #3135
@nicolas-raoul As I mentioned here #3562 . I think we can found those cases and solve if by our logic so that the beta will work. In the case of P180 and P245962. We can change P245962 to P180 in some of the cases where beta is not working with P245962. I fixed the issue of #4532 by changing the COMMON_URL and P245962 and it's showing those media.

Can I solve those issues in this way?

[2021-08-10 23:31] nicolas-raoul commented on #3135
Thanks Ayan for looking into this! If you find a good solution, a pull
request would be very welcome 🙂

On Wed, 11 Aug 2021, 04:05 Ayan Sarkar, ***@***.***> wrote:

[2021-08-11 12:21] nicolas-raoul commented on #4514
Ah yes, I noticed this bug as well. It indeed looks bad and probably confuses a majority of the users who encounter that and believe that it will show up like this on Commons.

[2021-08-12 10:47] nicolas-raoul opened #4543 "Language selection: Search"
The app has 3 places where a language can be selected: `App user interface language` and `Default description language`in Settings, and the Upload Wizard's Media Details dropdown. There are about a hundred languages, so it takes a long time to find the one you want.

It would be great if I could select a language by entering a few characters of the language's name.
Ideally in either the current ap

[2021-08-12 10:52] nicolas-raoul opened #4544 "Language selection: history"
The app has 3 places where a language can be selected: `App user interface language` and `Default description language`in Settings, ` and the Upload Wizard's Media Details dropdown. There are about a hundred languages, so it takes a long time to find the one you want.

Since a user probably uses only a handful of languages, it would be great if we could show in a first sub-list the most-recently s

[2021-08-12 11:14] 4D17Y4 commented on #4417
Hey @misaochan,
My build is failing with the same error log.
Can you recall what was the config issue you were facing?

[2021-08-12 14:48] misaochan opened #4547 "Permanent "uploading file" notification even though file has already been uploaded"
**Summary:**

One of my files (uploaded through Nearby) was uploaded successfully, but the Android notification did not disappear. It remains at full progress bar forever, until I restarted my phone.

**Steps to reproduce:**

Not sure what makes some files do this and some not.

**Device and Android version:**

Samsung Galaxy S20FE Android 11

**Commons app version:**
ProdDebug. I noticed this iss

[2021-08-12 14:54] misaochan commented on #4417
Ahh, I honestly can't remember sorry. :( I should have been more specific about how I fixed it.

[2021-08-12 14:54] VojtechDostal commented on #3357
This is now the predominant way of tracking demolished or destroyed objects in WD. As a result our query no longer works for most cases of these, at least in Czech Rep :-)

[2021-08-12 14:55] misaochan commented on #4156
I think this should have been fixed at #4259 . I agree, the error message is inconsistent.

[2021-08-12 15:00] misaochan commented on #3357
Thanks for letting us know @VojtechDostal ! Just to clarify, you are suggesting that we use P5816 to track which objects exist and which don't, rather than our current method?

[2021-08-12 17:42] sivaraam commented on #3562
Interesting. We couldn't have just possibly gotten away with GET operations to the production server in all places. The main feature of the app revolves around uploading media to Commons which would need some kind of POST, PUT call etc.

Are you trying to suggest we should use the production server for GET calls alone and the beta server for data POST/PUT level things? Does this really help with m

[2021-08-12 19:37] Ayan-10 commented on #3562
@sivaraam Yes, We can't POST to the production server from beta. but some features of the app don't work at all in the beta version. I found out some problems which are related to fetch operation in the beta server (Related to Wikidata). As there is no harm in using the production server for the GET calls, for such non-working cases in beta this solution can solve the problem.

I am not talking ab

[2021-08-12 22:16] nicolas-raoul commented on #3357
@VojtechDostal Wonderful! Would you mind [editing the query](https://github.com/commons-app/apps-android-commons/edit/master/app/src/main/resources/queries/nearby_query.rq)? :-) I suggest keeping both ways for now, until the former way becomes rare.

[2021-08-13 06:20] yuhuitech opened #4548 "An adaptation problem related to layout"
**Describe the bug**

Dear developer!
In the process of using, I found a bug in layout / display. As shown in the figure below, on the log-in page, **the logo and a part of texts tangled together**. This may be an adaptation problem. I assume it is because **display and font size** are set to large **(mainly due to display size)**.
Because of some problems with my eyesight, I often use the largest

[2021-08-13 07:02] yuhuitech opened #4550 "Another adaptation problem related to layout"
**Describe the bug**

Dear developer!
In the process of using, I found a bug in layout / display. As shown in the figure below, on the login page, **buttons of privacy and skip overlapped, which might be a severe problem**. This may be an adaptation problem. I suspect it is because **display and font size** are set to large **(mainly due to display size)**. And I have already submitted an issue re

[2021-08-13 09:07] misaochan opened #4552 "After merging WLM integration, do alpha release and then set date constraints"
After #4423 is merged, I will do a release to alpha so that WLM integration is testable prior to 1 Sep. Then we need to set the date constraints and do a beta release.

For the date constraints, only show these things between 1 Sep and 30 Sep:
- Banner on Contributions screen (the text on that banner should also say 1 Sep - 30 Sep, not 1 Sep - 31 Oct)
- Banner on Nearby screen
- WLM checkbox optio

[2021-08-13 12:26] nicolas-raoul commented on #4548
Thank you for the report, please do not hesitate to report similar problems! :-)

Strangely, I can already scroll using the latest master:
![adb](https://user-images.githubusercontent.com/99590/129356631-960d1491-9090-4d7b-bf53-f5b7d5657b38.png)

Did you observe the problem (no scrolling) on the latest master?
Thanks!

[2021-08-13 13:25] yuhuitech commented on #4548
Thanks! :) I ran the code form the latest master branch. In the landscape mode, this page is scrollable and this problem doesn't exist. However, in the portrait mode, this problem occurs and this page is not scrollable.

[2021-08-14 04:38] nicolas-raoul commented on #4548
I was able to reproduce the problem on a super-small screen. Indeed there is no scrolling in portrait mode.
![Screenshot_1628915532](https://user-images.githubusercontent.com/99590/129434004-02239516-8f08-4a92-9c40-1a7faaa4d2fe.png)

[2021-08-14 07:25] yuhuitech commented on #4548
Yes, this problem often occurs on a small screen. And in portrait mode, this page is not scrollable.

[2021-08-15 04:48] nicolas-raoul opened #4553 "Items with P3999 (date of official closure)"
... should be considered as not existing.

Example:
![Screenshot_20210815-132757_Firefox](https://user-images.githubusercontent.com/99590/129467434-a0a6fe90-b63e-4562-bc46-cb603ec422eb.jpg)

[2021-08-15 16:22] DSkilton commented on #4502
Hiya. Has this issue been resolved? If not, can I help too?

[2021-08-15 17:37] sivaraam commented on #3562
Even though querying the production server only for certain things might seem to solve the issue on the surface, it would likely not solve the problem. You could take the wikidata issue for instance. Structured Data for Commons doesn't work properly in the beta server [in some cases](https://github.com/commons-app/apps-android-commons/issues/3135). But querying the production server only for the c

[2021-08-16 07:28] execptionerror commented on #720
[[Solved] Access to ‘viewBinding’ exceeds its access rights](https://exerror.com/access-to-viewbinding-exceeds-its-access-rights/)

[2021-08-16 08:44] misaochan commented on #3562
I agree, the beta and production servers need to be kept separate.

I'm honestly on the fence re: which build flavour to use as the default. On the one hand, the majority of the issues described here for the beta cluster (e.g. Wikidata fetch) can be solved by simply using prod as the flavour for such operations - there is no need to upload a picture to test Wikidata fetch at all, so there is no re

[2021-08-16 08:54] nicolas-raoul commented on #4493
About "number two": The app's gallery shows the picture's caption, not its filename.

About capitalization: not sure to understand, would you mind posting screenshots?

[2021-08-16 09:14] nicolas-raoul commented on #4474
I added the information to https://commons-app.github.io/docs.html#app-versions
I believe it is clear enough now, so no need to increase development complexity further.
Thanks all!

[2021-08-16 09:14] #4474 closed

[2021-08-16 09:17] misaochan commented on #545
Unfortunately the JSON tool by volunteers did not materialize. I suggested to the WLM organizers, and they accepted, that we will simply follow Monumental's strategy, which is to simply filter for certain properties everywhere, and display the union of it - https://github.com/hatnote/monumental-wlm/blob/master/src/components/main/map/map.js#L139 .

@VojtechDostal , I just realized that we can do a

[2021-08-16 11:43] misaochan opened #4554 "When participating countries have been fixed for WLM, release update with template inclusions"
Some country codes in WLM templates are not working because the codes allowed are defined at https://commons.wikimedia.org/w/index.php?title=Template:Wiki_Loves_Monuments_2021&action=edit . The problem is that this template keeps changing as countries add themselves.

I am trying to talk to the WLM organizers to see if we can have a set date to manually check the contents of that template and then

[2021-08-16 11:48] misaochan opened #4555 "Add (only minor and straightforward) country-specific requests for WLM"
List of potential country-specific changes:

- [x] WLM Italy might want to opt out of having templates attached as they have a very specific template process which we cannot accommodate. This can be done by just making sure that `it` is not included in #4554 . Will confirm when Ferdinando Traversa gets back to me.
- [x] Austria tentatively might want to opt out
- [x] See if Vojtech wants CZ's prop

[2021-08-16 18:02] sanchi0204 commented on #4514
Can I work on this?

[2021-08-16 18:27] jidanni commented on #4493
OK, currently the capitalization is updated after the upload completes. So never mind that.

So that means two items could have exactly the same name/title in the app?!

[2021-08-16 18:32] sivaraam commented on #3562
I had a crazy thought. In case we show a special pop-up or screen of sorts during installation that communicates to volunteer devs that the `prodDebug` should not be used for test uploads and that they should `betaDebug` instead, would it be possible that we could make `prodDebug` the default? Would that possibly avoid the pitfalls of making it the default as we've warned them during installation?

[2021-08-16 23:08] nicolas-raoul commented on #4514
@sanchi0204 Yes thanks! 🙂

[2021-08-16 23:12] nicolas-raoul commented on #4493
Yes, exactly, just like in a book two different pictures could have the same caption.

[2021-08-16 23:12] #4493 closed

[2021-08-16 23:24] jidanni commented on #4493
What if all the captions are the same?
How can one then distinguish them in the app?
Sounds like a recipe for disaster.
The user will delete the good one, thinking it is the bad one, etc.

[2021-08-17 00:22] jidanni opened #4556 "Touching title should directly show us the details"
Here, if we touch one of the images, we see you the whole image. If instead we touch one of the titles, we instead again see the whole image.
![Screenshot_20210817-081729.jpg](https://user-images.githubusercontent.com/1230959/129644776-73d4ce68-e222-4450-adf9-07dc2f337dce.jpg)
In both cases if we want to see the details we need to flick down. I propose that if we touch one of the titles we should

[2021-08-17 00:25] jidanni commented on #4493
A family picture browser app should the captions by default.

An uploader app should show the nitty-gritty file names by default.

[2021-08-17 00:34] jidanni opened #4557 "No way to get back to the top easily"
Scroll down to your 359th contribution. Now wish to go back up to the top. I say that touching the word "contributions" at the top of the screen should scroll it all the way back up to the top again.

[2021-08-17 00:35] jidanni commented on #4557
(There is another word  "Contributions" at the bottom of the screen, but I guess fixing one is enough.)

[2021-08-17 02:58] nicolas-raoul commented on #4557
Pressing "Back" on the contributions screen takes you back to the top. It is the same as in the Facebook app.

I agree that tapping both "Contributions" labels (at the top and bottom) should also take back to the top contribution.

[2021-08-17 03:02] nicolas-raoul commented on #4556
Material design for small screens means big tappable areas are a good thing.

Also, the app is trying to be as visual as possible, it is more engaging this way.

So I don't think that splitting tappable areas would be an improvement.
Anyone who disagree please comment below.

Thanks for the idea though!

[2021-08-17 03:02] #4556 closed

[2021-08-17 04:37] jidanni commented on #4557
But in other apps, pressing the cellphone's back button might even throw us out of the app, users are afraid to try.

[2021-08-17 05:17] jidanni commented on #4556
All I know is in the above image, we see (two) image areas, and (two) title areas.
No matter long press, short press, tap, or whatever, and no matter if it is done on an image area or a title area, all do the exact same thing! (I recall. My phone is at the cleaners today.)

[2021-08-17 09:25] misaochan opened #4558 "Searching area with high density of WLM pins takes a very long time"
Making a separate issue for debugging this, as it is related to #4423 but might not be completely caused by it. So, now that WLM pins have been added, there is a much larger number of pins to load, especially in high density areas. Loading times can be extremely long for me in those areas, and sometimes it never loads.

Testing the latest version of the WLM PR, https://github.com/commons-app/apps-

[2021-08-17 09:29] misaochan commented on #4558
Now, logcat from when I go to a new, HIGH-density location and tap "Search this area". I waited for 20 sec

[code]

But now if I zoom in or move the screen just a tiny bit, the pins will appear:
[code]

[2021-08-17 09:44] misaochan commented on #4558
Unfortunately this isn't always the case, sometimes it just loads until the location manager deregisters.

[code]

[2021-08-17 09:45] misaochan commented on #4558
I noticed that the issue only ever happens in that high-density area. As long as the density is not too high, both WLM and non-WLM pins always loads fine.

[2021-08-17 12:31] Discostu36 commented on #4510
I guess at least error code and text should be shown in a pop up.

[2021-08-17 16:24] misaochan commented on #3562
Doable for the `debug` build flavour, but it would increase complexity, so not sure if it is worth it IMO. :)

[2021-08-18 00:43] nicolas-raoul commented on #2142
[P8981 (lunar coordinates)](https://www.wikidata.org/wiki/Property:P8981) solves the problem for Lunar places, furthering lowering this issue's priority.
But still, we can't expect a new property to be created for every astronomical body.

[2021-08-18 00:52] nicolas-raoul commented on #1638
I think I haven't seen this for a while.

[2021-08-18 00:52] #1638 closed

[2021-08-18 01:01] nicolas-raoul commented on #2064
Closing as I haven't experienced this in a while.

[2021-08-18 01:01] #2064 closed

[2021-08-18 02:45] nicolas-raoul opened #4560 "Split Nearby into a fast query for coordinates + a details query for each pin"
Nearby is too slow to use in Paris:
1. Be in the center of Paris (or use a fake GPS app to pretend)
2. Open Nearby
3. Spinning forever, never finishes

I suggest **splitting** the current big SPARQL requests into:
- a first simple request that only returns **QID,coordinates** pairs.
- for each pin, an asynchronous request that loads the place's **details**: name, description, class, existence, etc

[2021-08-18 02:46] nicolas-raoul commented on #4558
A quick fix might be to reduce the radius step length or number of steps? Shorter overall radius makes the app less useful for planning a walk, though.
A better fix might be #4560.

[2021-08-18 02:51] ashishkumar468 commented on #4558
Hi @nicolas-raoul , the initial radius starts from 1km and eventually expands its radius until we have 40 pins (1.68 is the radius multiplier each time). So this issue happens because of these multiple calls until we have 40 pins. With the addition of WLM, now we have another API call for querying WLM because of which the overall time after which nearby is usable increases further.

[2021-08-18 08:20] nicolas-raoul commented on #4326
Sorry for the duplicates issue! It happened to me as well. Fortunately, it has been fixed in the latest version :-)

[2021-08-18 08:20] #4326 closed

[2021-08-18 08:21] 4D17Y4 commented on #4523
The issue is likely to be seen on devices with large font sizes.

The actual notification reads: `Uploading filename failed`.
And as we see the failed part is not visible.

We can refractor the notification to something on the lines of `Failed to upload filename`.
Thanks, @jidanni.

[2021-08-18 08:31] misaochan commented on #545
Reopening this as there is a bit more work to be done before campaigns can be released.

[2021-08-18 08:36] misaochan commented on #4560
Hi @nicolas-raoul , this is a great idea, thanks! We will try to start implementing it. :)

One concern that we have is that this would result in a very large number of async calls, in typical use. For instance if there are 40 pins, we will be doing 40 calls. Do you think that would be an issue, or is it routinely done with no problems?

An alternative that I was thinking about is:
- First request

[2021-08-18 08:38] 4D17Y4 commented on #4238
Closing as this can't be reproduced on the current master.

If there is a specific procedure to reproduce this on the current master
Please feel free to reopen this @mrudultora.

[2021-08-18 08:38] #4238 closed

[2021-08-18 08:38] misaochan commented on #4558
To expand further on our findings, it seems that the latency for just 1 call is 20 sec, according to timestamps in logs. So number of steps is unlikely to be the issue. We will experiment with both initial radius and minimum pins, to see if we can find a sweet spot. I will start trying this soon.

[2021-08-18 08:45] misaochan commented on #545
Due to its complexity, I have listed the current task list/timeline for the actual WLM release. For reference for @ashishkumar468 , @neslihanturan , and anyone who is interested:

- [ ] #4423 merged and 3.1-release branch made
- [ ] #4558 or #4560 fixed
- [ ] Alpha release, ideally before 27 Aug. Announcements made on mailing lists etc to ask for testers.
- [ ] #4552 , #4554 and #4555 implemented

[2021-08-18 08:46] nicolas-raoul commented on #4560
I don't think that 40 calls is that bad.
A slightly different idea is to make a second request that get the details of all places together.

I suspect that existence checking is the most expensive. And it will get even more expensive in the future.

[2021-08-18 08:53] misaochan commented on #4560
Out of curiosity, why is existence so expensive?

[2021-08-18 08:59] 4D17Y4 commented on #4550
Thanks for the report @yuhuitech,
I think your PR #4549 fixes this issue too.
Feel free to edit issue #4548 description to mention the button overlap.

Closing this, thanks.

[2021-08-18 08:59] #4550 closed

[2021-08-18 11:38] nicolas-raoul commented on #4560
Here is an example of what the "second query" I mentioned [above](https://github.com/commons-app/apps-android-commons/issues/4560#issuecomment-900935771) could look like: https://w.wiki/3ut$
[code]

About existence: I only suspect it. I will try to perform some measures tomorrow. But the important measure is between the two queries in the original post, and it clearly shows that showing coordinate

[2021-08-18 12:31] 4D17Y4 commented on #175
Glad to announce that the project is merged with master.

Thank you everyone for all your inputs, would love your feedback on the Brand New Custom Selector.
Special mentions to @nicolas-raoul and @madhurgupta10 for guiding me throughout the project.

Thanks.

[2021-08-18 12:31] #175 closed

[2021-08-18 12:47] ashishkumar468 commented on #4560
So just to summarise what @nicolas-raoul  said, we will be making 2 calls
1. This will be the initial call which nearby anyways makes, this will include being a part of the radius expander logic, just with a lesser number of properties. Once this is done, we show the nearby with the pins.
2. Another call will be made for other properties, this will happen in the background, and unlike the first qu

[2021-08-18 12:56] nicolas-raoul commented on #4560
@ashishkumar468 Exactly! 🙂

[2021-08-18 12:57] nicolas-raoul commented on #4560
Please let me know if you need any help with the SPARQL syntax.

[2021-08-18 14:10] nicolas-raoul opened #4565 "Upload does not progress, image not uploaded (linked to campaigns merge?)"
Steps to reproduce:
1. Use latest master or any commit since 6588a6fd0ecf909111c198680
2. Tap + and the stock gallery button
3. Choose a picture, fill metadata, choose license
4. Push button to start upload
5. As usual, a grey image placeholder appears at the top of Contributions, with a progress bar below
6. Problem: No progress even after waiting for minutes

Commit 67f5b6c271135d4f19105e58e1665

[2021-08-18 16:27] VojtechDostal commented on #3357
I'd love to, but the mentioned query does not do the filtering based on existence/non-existence of objects. It's probably handled somewhere downstream in the app, and is based on ?class, but I am not sure where.

Interestingly, the app also retrieves P576 ("demolished date") - I have no idea if this is used somewhere in the app but IMO not. Maybe we could remove this to speed up the query a little

[2021-08-18 16:34] misaochan commented on #4565
Hi @nicolas-raoul , could we get logs for this please?

[2021-08-18 18:46] misaochan commented on #4565
Edit: I managed to reproduce this, all of my regular uploads (Contributions > Gallery, not via Nearby) do this in the WLM branch. Unfortunately I did not test regular uploads prior to merging, did not think that they would break. :/

@madhurtgupta10 could you please give this bug highest priority now, above any other tasks? This is an absolute blocker for release.

[2021-08-18 23:08] nicolas-raoul commented on #3357
Indeed existence is currently calculated in the app, but if that can be done in the SPARQL directly it would be better. A big OR might be enough?

[2021-08-19 02:20] ashishkumar468 commented on #4565
Hi @nicolas-raoul , I was looking into the logs, and this is the exception I see
[code]

Can you please help me understand what changes have we made to save upload status in UploadStatusDao?

[2021-08-19 02:27] nicolas-raoul commented on #4565
The problem starting occurring on the commit *before* the custom selector was merged, so I believe it is not linked to `UploadStatusDao`.
Anyway @4D17Y4 would you have an idea?

[2021-08-19 02:29] ashishkumar468 commented on #4565
Yes, there are other errors as well, I have fixed those via this https://github.com/commons-app/apps-android-commons/pull/4567. Upload succeeds now, but the notification shows it fails and the attached logs are the reason.

[2021-08-19 02:53] nicolas-raoul commented on #4565
Understood! Here is the context:

The custom selector _shows differently_ pictures that have been uploaded already.
To help with that, we store upload status (uploaded or not) in database.
After each successful upload, we modify the picture's row (if there was one) in the database.

[2021-08-19 04:04] 4D17Y4 commented on #4565
Hey @ashishkumar0207,
I tested ur branch with 2 uploads and the upload seems to succeed with a success notification being displayed.
I see the error can be caused by uploadedStatusDao when the cached file gets deleted.
Can u provide the steps to produce the exception, would help me find the bug.

[2021-08-19 04:09] ashishkumar468 commented on #4565
Hi @4D17Y4 , it happened to me on a normal upload.

[2021-08-19 04:13] 4D17Y4 commented on #4565
For the changes from Custom Selector.

The uploadedStatusDao as @nicolas-raoul mentioned stores the uploaded status of the images.
Now as the image location/URI of the media can change, the primary key in the database table is the SHA1 of the image. As soon as the upload succeeds we calculate the image sha1 at line 441 and modified image sha1 (EXIF data changed) at line 442 of the upload worker an

[2021-08-19 04:20] 4D17Y4 commented on #4565
Can I know what android version you are using?
The error says no content provider which could be due to the Uri format.
I have tested this on android 10.

[2021-08-19 04:21] ashishkumar468 commented on #4565
Its android 10, Pixel 4 A

[2021-08-19 05:36] i-am-santosh17 commented on #4502
I am ready to help if this issue is still open

[2021-08-19 06:47] misaochan commented on #4565
Thanks for working on this! I do want to clarify that I was testing on `3.1-release` branch, which contains WLM integration but not custom picture selector.

[2021-08-19 12:13] nicolas-raoul commented on #4565
I tested #4567 today, uploading about 20 pictures using various methods (single, multiple, stock picker, custom picker, nearby). I saw many `<myfile> uploaded!` notifications and did not notice any erroneous failure notification.
Among these 20, I got two failures on single uploads (that happens often, maybe due to my slow Internet):
- One retry worked and resulted in a "already uploaded" icon bei

[2021-08-19 15:27] ashishkumar468 commented on #4565
IMO, if things are fine, let's get this merged to master, and then cherry-pick the fixes to 3.1-release, that way master would also be rid of the bug. If at all any improvisation is needed around the custom-selector logic, those can go on master.

[2021-08-20 00:35] #4565 closed

[2021-08-21 10:09] ashishkumar468 commented on #4560
Hi @nicolas-raoul  @misaochan , I was trying the implementation for the way Nicolas had suggested. Sharing a sample [query](https://query.wikidata.org/#SELECT%0A%20%20%20%20%20%28SAMPLE%28%3Flocation%29%20as%20%3Flocation%29%0A%20%20%20%20%20%3Fitem%0A%20%20%20%20%20%28SAMPLE%28COALESCE%28%3FitemLabelPreferredLanguage%2C%20%3FitemLabelAnyLanguage%29%29%20as%20%3Flabel%29%0A%20%20%20%20%20%28SAMPLE

[2021-08-21 11:25] nicolas-raoul commented on #4560
@ashishkumar0207
Maybe because this item has no description in any language?
I will try to fix the request, but for now could you please just comment out the line `(SAMPLE(COALESCE(?itemDescriptionPreferredLanguage, ?itemDescriptionAnyLanguage, "?")) as ?description)`? That seems to make the request succeed.

[2021-08-22 09:11] nicolas-raoul commented on #4560
@ashishkumar0207 This SPARQL query works in all situations, and returns all information, please use it, thanks 😊 :
[code]

[2021-08-23 06:01] misaochan commented on #4560
Thanks for helping with the query @nicolas-raoul ! Pinging @ashishkumar468 instead, I don't think the other username works. ;)

[2021-08-23 06:34] misaochan commented on #4560
Hi @nicolas-raoul , I just talked with Ashish. There are a few things that we need help clearing up, as we aren't very familiar with SPARQL.

1. I just realized we are actually running two separate queries, one for Nearby (https://github.com/commons-app/apps-android-commons/blob/master/app/src/main/resources/queries/nearby_query.rq) and one for Monuments (https://github.com/commons-app/apps-androi

[2021-08-23 07:37] nicolas-raoul commented on #4560
My new suggestion:

Always running this as the first query:
[code]
It is super-fast and only gives places and their coordinates and their WLM identifier if they have one, which is enough to start showing pins on the map.

... and then the second query [from my comment above](https://github.com/commons-app/apps-android-commons/issues/4560#issuecomment-903238022) to get details. This second query is

[2021-08-23 08:43] misaochan commented on #4552
The international organizers have told me that they prefer we set the date constraints to 1 Sep - 30 Sep, as most countries are using those dates and they don't want people to be uploading monuments after the deadline and then wondering why their uploads are not included in the competition. I will modify the initial post to reflect this.

[2021-08-23 08:51] misaochan commented on #4552
The alpha release is pending, awaiting the solving of Nearby load times and the upload failure.

[2021-08-23 13:53] nicolas-raoul opened #4571 "Nearby: Save last known location and show it immediately without waiting for GPS"
Whenever I start Nearby, the map shows the whole world (used to be centered on London).
How about centering on the last known location instead?
It won't make the pins appear faster (unless we decide to also load pins at the last known location while waiting for a GPS fix), but it is less surprising for the user.

[2021-08-23 14:16] nicolas-raoul opened #4572 "Cache Nearby data"
Nearby places (coordinates, WLM status, existence, etc all details) do not change often, and take time to load.

I suggest caching that information for 1 hour or even more.

Cache invalidation should happen when a picture of a place is uploaded.

[2021-08-23 15:18] ashishkumar468 commented on #4560
Hi @nicolas-raoul , Thanks for sharing this, one of the other problems we realised that my PR was making separate calls for nearby and monuments while @misaochan  suggests that this can be done in a single call with client side filtering. I am not really comfortable very much with SPARQL queries, would it be possible for you too help with that too (without the split query implementation - for now)

[2021-08-23 17:18] misaochan commented on #4560
Yeah, as mentioned above I just realized that we are making two separate queries for Nearby and Monuments, and I'm wondering if that was part of the issue, since we are getting a lot of things (e.g. Commons category) twice. If so, I think it would make sense to try combining the two first, as that would be a much simpler implementation that could get the WLM release out the door in time for the st

[2021-08-23 18:02] VojtechDostal commented on #3357
Unfortunately it seems I do not understand the app architecture enough to be able to edit the query appropriately.

You'll probably want something along these lines in the query:

OPTIONAL {
{?class wdt:279* wd:Q15893266 .} UNION {?class wdt:P5816 wd:Q56556915 .}
}

Anyway I think the query would profit from a thorough check by SPARQL experts, I think it could run a bit quicker if optimized.

[2021-08-23 23:11] nicolas-raoul commented on #4560
Sure, here is a query that gives everything, coordinates and details and whether it is a WLM monument:
[code]
Obviously it times out in crowded places. The example above took 30 seconds even with a tiny radius of 0.1.

[2021-08-24 05:17] misaochan commented on #4560
Thanks a lot Nicolas!

[2021-08-24 07:28] Pranjal-dew commented on #4514
hi there, can I contribute to this issue?

[2021-08-24 08:00] nicolas-raoul commented on #4514
@sanchi0204 Are you working on this? How is it going? 🙂

[2021-08-24 11:41] misaochan commented on #4558
Whoops, I committed e8556a8ecdf3c84a5e04a69200802b1a7e24adf6 directly into upstream by accident. Was experimenting with different values for initial radius, radius multiplier and min results - this seems to be the sweet spot where many cities load fine but large sparse areas don't take too long either. For most places that I searched with these parameters, I was able to get load times of <30 sec.

[2021-08-24 16:49] diamniko commented on #4508
Hello, I committed in a new (local) branch but I can't push.

Also there's some screenshots:
![image](https://user-images.githubusercontent.com/56235463/130656985-b7b4d4e6-2743-4e50-a9ee-df0f37b36cc3.png)
![image](https://user-images.githubusercontent.com/56235463/130657013-636da93d-72c4-440b-808f-d1bfd91d065b.png)
![image](https://user-images.githubusercontent.com/56235463/130657033-63b04dd2-27f2

[2021-08-24 22:19] jaimehta1912 opened #4575 "Add Themed Scrollbar"
**Summary:**

Currently, the Scrollbars present in the Fragment is Translucent, too wide and is not themed. If there was a thin and theamed Scrollbar adhering to the primary color of the application, it would improve the user interface.

Maybe fixed on: #4576

**Steps to reproduce:**

Scroll through any of the Explore Fragments.

**Device and Android version:**

Device Model: Realme XT
Android Ver

[2021-08-24 22:45] jaimehta1912 opened #4577 "Add Materialized Icon in DialogBox"
**Summary:**

Currently, the DialogBox which appears while Skipping Login seems to be in Default style. If there was a Materialized Icon relevalnce to the Functionality with primary color implemented in the DialogBox, this would improve the User Interface.

Maybe fixed on: #4578

**Steps to reproduce:**

On Login Page, press `Skip`.

**Device and Android version:**

Device Model: Realme XT
Android

[2021-08-25 02:17] jeremybowenn commented on #4501
I have a pull request for this out there called issue-4501-jeremybowenn

[2021-08-25 04:45] nicolas-raoul commented on #4508
What happens exactly when you try to push?

On Wed, 25 Aug 2021, 01:49 diamniko, ***@***.***> wrote:

[2021-08-25 13:43] neslihanturan opened #4581 "Current location is not tracked on 3.1 release branch"
**Summary:**

Users current location is not followed by blue dot in 3.1-release branch. On the other hand it works well on master.

**Test**
Tested with prodDebug Android 10 real device

[2021-08-25 15:26] misaochan opened #4583 "Descriptions in Nearby are in the wrong language"
**Summary:**

Descriptions in Nearby are in random languages for me. I've seen Arabic and German so far (and also English, which is correct for my phone language).

**Steps to reproduce:**

The easiest way is to go to Nearby list and look at all the descriptions. But the bug carries over into the details shown in the individual places, and also the autofill when uploading for a Nearby place.

**De

[2021-08-26 08:53] misaochan opened #4585 "Send Log File does not work, no logs attached"
**Summary:**

I used Send Log File today and this is all that was sent:

As you can see there are no logs attached, but there should be.

I am using Gmail on Samsung Galaxy S20FE, Android 11

**Commons app version:**

prodDebug. 3.1-release branch, but I think this should exist for master too, since we changed nothing with logs in that branch.

**Would you like to work on the issue?**

No

[2021-08-26 13:50] jayant99acharya opened #4586 "Add In-App Update Prompt"
**Summary:**

If there is an update for Commons Android App, the only way how users could know about it is the notification from the Play Store. Sometimes, users enable the Auto-Update, but mostly only when connected to Wi-Fi. If there was a way to notify users about the Update inside the app regardless of Wi-Fi or mobile data, whenever a newer version is released, it would be better.

Maybe fixed

[2021-08-29 07:33] Ayan-10 opened #4589 "Empty screen while no images found in custom picture selector"
**Summary:**

When there is no image in the device, Custom picture selector opens with a white empty screen.

**Steps to reproduce:**

1. Make sure there is no image in the device
2. Click the + icon
3. Select custom picture selector

What did you expect the app to do, and what did you see instead?

There should be some information like "No images found" (with some graphic)

**Device and Android v

[2021-08-29 09:10] 4D17Y4 commented on #4589
Thanks for spotting that @Ayan-10
Would be a nice improvement.

To add to the issue, a similar message can be shown in the image fragment when the folder is empty (delete images in the current folder and return to the custom selector).

[2021-08-29 09:52] Ayan-10 opened #4590 "FAB of custom selector is still open after uploading"
**Summary:**

FAB of the custom selector is still open after uploading an image from it and taking the user to the last opened folder

**Steps to reproduce:**

1. Click + icon and click FAB of the custom selector
2. upload an image

What did you expect the app to do, and what did you see instead?

It should close the FAB after clicking it.

**Device and Android version:**

Pixel 2 API 30

**Common

[2021-08-29 20:11] Ayan-10 commented on #1650
@nicolas-raoul Is this issue still exists now? I tried several times but can't reproduce it.

[2021-08-30 01:21] jidanni opened #4593 "Can't share to app"
Why isn't this intent detected? Other apps detect it.

[code]

[2021-08-30 05:47] nicolas-raoul commented on #4590
Thanks Ayan for spotting this! :-)

[2021-08-30 06:39] Ayan-10 commented on #2661
@nicolas-raoul I tried to reproduce it and for me, the point is still there in both of the cases (bookmarked and non-bookmarked). Can you little elaborate on the issue?

[2021-08-30 13:19] sjl872964789 opened #4594 "If you click "deny and don't ask again", the app will crash"
**Summary:**

If you click "deny and don't ask again", the app will crash or flash all the time

**Steps to reproduce:**

1. Install and open commons
2. Skip the tutorial and log in
3. Click "nearby"
4. Click "DENY"
5. Click "YES"
6. Click "DENY AND DON'T ASK AGAIN"
7. Crash

**System logs:**

[code]

**Device and Android version:**

Device: [Huawei nova 5 Pro]
Android version: [Android 10.0]
EMUI

[2021-08-31 05:58] Ayan-10 commented on #4521
@nicolas-raoul I think this issue is not occurring now?

[2021-08-31 09:20] nicolas-raoul opened #4595 "Faster SPARQL query (thanks to wikibase:label)"
This query seems to be quite faster than what we have right now.
I works in Amsterdam with a 1km radius (6000 places) in 15 seconds.
[code]
I suggest implementing it as a quick and easy fix before #4560.

[2021-08-31 09:31] misaochan commented on #4595
Thanks a lot @nicolas-raoul ! We'll test and try it, @ashishkumar468 is away though so it might take a while, but hopefully we can still get it up early in the competition.

[2021-08-31 09:32] misaochan commented on #4558
Closed, follow-up is at #4595 .

[2021-08-31 09:32] #4558 closed

[2021-08-31 10:18] neslihanturan opened #4596 "can not login due to "Chain validation error""
**Summary:**

I can not login to the app "sometimes" with "Chain validation error". Happened on both emulator and physical device with latest master. It kept happening even if I change the network. Here are the logs:

[code]

[2021-08-31 12:42] misaochan commented on #4596
I believe @neslihanturan has confirmed that this happens on prod too, not just beta. We should take a look at it after beta release when we can.

[2021-08-31 12:45] neslihanturan commented on #4596
I think this happens when I set phone date manually. So nothing to worry for the app, I was changing the date for test purposes as you know.

[2021-08-31 12:45] #4596 closed

[2021-08-31 12:58] misaochan commented on #4585
Ahh, the PR does not work for me. :( I tested 3.1-release after merging both PRs, and the Send Log File still does not send any files.

[code]

[2021-08-31 13:00] misaochan commented on #4583
Hey @madhurgupta10 , thank you for the attempt but unfortunately the issue still recurs for me on 3.1-release.

![Screenshot_20210831-225655_Commons](https://user-images.githubusercontent.com/3611199/131506935-d388369e-7149-46b0-b3cc-e96cd56619ac.jpg)
![Screenshot_20210831-225909_Commons](https://user-images.githubusercontent.com/3611199/131506952-55a922f5-2e99-4743-bc53-3bbe75ff1389.jpg)

[2021-08-31 13:52] misaochan commented on #4596
Oh right, well spotted Nes! :)

[2021-08-31 14:55] jaimehta1912 opened #4597 "Add Themed more_bottom_sheet"
**Summary:**

Currently, the More section which triggers a bottom_sheet layout seems to be default in style. If there was a bottom_sheet which adheres to the primary color of the android application, it would enhance the user interface and theme of the entire app.

Maybe fixed on: #4598

**Steps to reproduce:**

Click on more on the bottom navbar.

**Device and Android version:**

Device Model: Re

[2021-08-31 15:53] jaimehta1912 opened #4599 "Change Facebook Icon color on About activity"
**Summary:**

In the About activity of the app, the Facebook icon is black. If it were changed to the official color of Facebook, it would enhance the user interface.

May be Fixed on: #4600.

**Steps to reproduce:**

Click More > About.

**Device and Android version:**

Device Model: Realme XT
Android Version: Android 9.0 (Pie).
Stock from the Manufacturer.

**Commons app version:**

Version: 3.0

[2021-09-01 06:16] Ayan-10 commented on #4511
@nicolas-raoul Can I work on it?

[2021-09-01 07:46] misaochan opened #4601 "Upload progress bar loads forever, does not eventually upload"
**Summary:**

I was testing the 3.1-release branch and my first upload got stuck at the progress bar (the initial part where the bar constantly moves). It doesn't ever upload.

**Steps to reproduce:**

Not sure if this is foolproof, but I did a lot of in-app activity before going to check on my upload in Contributions. I browsed Nearby, went to About to check the version, etc. I also did not selec

[2021-09-01 08:39] nicolas-raoul commented on #4511
@Ayan-10 Yes thanks! :-)

[2021-09-01 09:12] nicolas-raoul commented on #4521
@Ayan-10 I am traveling so I can't test easily unforrtunately.
I can't reproduce the issue on 3.1.0-alpha.
Is it not happening on master either? If not this can be closed :-)

[2021-09-01 10:00] #4552 closed

[2021-09-01 10:15] misaochan commented on #4554
Added the appropriate countries as per https://commons.wikimedia.org/w/index.php?title=Template:Wiki_Loves_Monuments_2021&action=edit at https://github.com/commons-app/apps-android-commons/commit/c973114dedc4f52ca399f56201c54bded4fbc954 , with the exception of Italy (requested on https://commons.wikimedia.org/wiki/Commons:Mobile_app/WLM_release#Requests_for_your_country_to_opt_out_of_in-app_WLM_up

[2021-09-01 10:16] #4554 closed

[2021-09-01 10:22] misaochan opened #4602 "Some WLM uploads have null country code"
**Summary:**

This was discovered by @neslihanturan , I am just documenting it here. Some of her uploads return a null country code, both when geotagged and when not geotagged. Thanks to #4574 we will not actually be putting out templates with null country codes, however this bug does mean that when it happens, the user's upload will not be included in the WLM 2021 contest and will not generate te

[2021-09-01 10:24] Ayan-10 commented on #4521
@nicolas-raoul It's not happening in latest master too.

[2021-09-01 14:14] misaochan commented on #545
https://commons.wikimedia.org/wiki/File:Haight-Ashbury_2.jpg uploaded today with the full implementation. Public beta coming up real soon! :)

[2021-09-02 00:34] jeremybowenn commented on #4543
I can work on this, though I do have a question about searching by the current app's language. It looks like there is only a list for English names and another where each entry is the country's native language. So, if, for example, the current language was Spanish, we don't have a list of how Spanish translates German and all the other languages. Would we need to make a new list of languages for e

[2021-09-04 03:20] jidanni opened #4604 ""Tap to view upload" fails"
Happens when I "tap to view upload" here in  latest beta.
![Screenshot_20210904-111623.jpg](https://user-images.githubusercontent.com/1230959/132080758-ee81dd8e-6df0-4df6-8dd4-820f8b592c59.jpg)
Sure, I can still see my upload by other means though.

[2021-09-04 05:11] jidanni opened #4606 "Campaigns come back despite promise"
Here it says we won't see any more campaigns:
![Screenshot_20210904-111348.jpg](https://user-images.githubusercontent.com/1230959/132083282-de47ed3c-4ff9-4f44-af53-97f89bc68b23.jpg)
But the next time we open the app the campaigns are right there:
![Screenshot_20210904-130943.jpg](https://user-images.githubusercontent.com/1230959/132083298-3584d5f9-2c40-4dd1-af9e-312b599ebb11.jpg)
Version: latest b

[2021-09-04 05:12] Ayan-10 opened #4607 "Copied description, caption and language structure is removed after canceling upload of one media"
**Summary:**

While multiple uploads, after clicking copy to subsequent media, if any media is removed from upload, copied description, caption, and language structure are also removed for all other media.

**Steps to reproduce:**

1. Take more than 2 images for uploading.
2. One of the images should be already uploaded to commons. (So that uploading this image shows problem found in image).
3. Ad

[2021-09-04 13:38] Ayan-10 commented on #3732
@misaochan @nicolas-raoul I think this issue is not resolved yet. Nearby is still not working without location permission and it also not working if GPS is turned off. Nearby just do nothing if location permission is not there and GPS is not turned on. See this video.

https://user-images.githubusercontent.com/71203077/113769242-639e0900-973e-11eb-9c44-a589def192f9.mp4

(The video is a little old

[2021-09-04 14:21] Ayan-10 commented on #3924
@misaochan @4D17Y4 @ashishkumar468 Is this issue still there in the latest master. I can't reproduce it by the above-mentioned steps.

[2021-09-04 20:14] nicolas-raoul commented on #3732
I haven't tried on master, but I just tried on 3.1.0~b41882639:

1. Remove the app's location permission (in Android apps settings)
2. Open the Commons app
3. Tap the Nearby tap
4. Dialog `Requesting Location Permission` appears, tap `cancel` to deny
5. Spinner spins
6. I am shown the items nearby London's Tower Bridge

In other words, it seems to work as intended for me.

@Ayan-10 would you mind

[2021-09-04 20:17] nicolas-raoul commented on #3924
I also haven't seen this in a while.
I close for now, but if anyone is seeing this again please comment to let us know :-)
Thanks @Ayan-10 for flagging!

[2021-09-04 20:17] #3924 closed

[2021-09-04 20:24] nicolas-raoul commented on #4543
@jeremybowenn : It is OK to only perform the search using the lists we already have.

[2021-09-04 20:25] nicolas-raoul commented on #4521
@Ayan-10 Cool, thanks! :-)

[2021-09-04 20:25] #4521 closed

[2021-09-04 20:35] nicolas-raoul commented on #2661
It is a very old issue so it might have been fixed.
You need to have `Existing` enabled in Nearby's `Place state`.
The point should disappear in both of the cases (bookmarked and non-bookmarked).
Thanks for trying!

[2021-09-04 20:39] nicolas-raoul commented on #1650
It is very hard to reproduce.
I haven't seen it for a long time, so I will close for now, but please anyone comment if you get this issue, thanks!

[2021-09-04 20:39] #1650 closed

[2021-09-04 21:00] nicolas-raoul commented on #4599
Thanks for suggesting!
This color is on purpose, though, to improve coherence between the 3 icons.

[2021-09-04 21:00] #4599 closed

[2021-09-04 21:03] nicolas-raoul commented on #4597
I have no strong opinion on this as I am not a UI expert, the new look seen in your PR's screenshot seems reasonable to me.

[2021-09-04 21:12] nicolas-raoul commented on #4593
Does it happen for any file, including pictures? Or only for audio?

[2021-09-05 02:05] jidanni opened #4609 "Pencil only next to coordinates"
Here, the pencil only appears next to the coordinates. It is oddly absent next to the other items.
![Screenshot_20210905-095753.jpg](https://user-images.githubusercontent.com/1230959/132112522-32aca009-a2c2-47f1-bcab-7f72b359ce9f.jpg)
Latest beta.

[2021-09-05 02:38] jidanni opened #4610 "Without reading the titles is hard to tell if the caption belongs to the top picture or the bottom picture"
![Screenshot_20210905-103606.jpg](https://user-images.githubusercontent.com/1230959/132113028-279976e3-d77c-4eb7-8df1-78f3d7dd1222.jpg)
Admit it, without seeing the word "cloud" in the title, one would not be able to tell if the caption belong to the top picture of the bottom picture. Therefore thick horizontal line is needed between each picture!

[2021-09-05 04:07] Ayan-10 commented on #3732
@nicolas-raoul I tested on both Samsung J2 API 23 and Pixel 2 emulator API 30 devices.

**On master**

1. Remove the app's location permission (in Android apps settings)
2. Open the Commons app
3. Tap the Nearby tap
4. Dialog `Requesting Location Permission` appears, tap `cancel` to deny
5. Spinner spins for endless time and nothing is shown.

I waited for 10 minutes but Nearby only showing a spin

[2021-09-05 06:55] Ayan-10 commented on #3732
@nicolas-raoul So what are expecting from Nearby? I think Nearby should work without location permission and GPS and also Users can add images in any place without location permission and GPS. Users only need to give location permission and GPS when they want to locate themself.

Am I right? Please correct me if I am wrong.

Thanks.

[2021-09-05 14:26] Ayan-10 opened #4611 "Make custom image selector available from Nearby"
**Summary:**

In the current state of the app, custom image selector is only available from contributions fragment. We also upload images from Nearby. What about making the custom image selector available from Nearby too ( If that has no disadvantages).

[2021-09-05 14:52] nicolas-raoul commented on #3732
_Nearby should work without location permission_ -> yes

_Users can add images in any place without location permission and GPS_ -> yes

Users who do not have a GPS or do not want to give permission should be allowed to unzoom/pan/zoom to the place they want, and tap `Search this area` to see places.

[2021-09-05 17:28] sivaraam commented on #4609
That's because the co-ordinate edit option was recently added to the app (ref. #8). You should also see and edit option for the categories, though. Do you not see it?

[2021-09-05 23:08] jidanni commented on #4609
Yes , that's true I see the pencil way down at the bottom of all the categories. However it's very weird that some items can be edited and some cannot. I thought it was something wrong with my screen (senior citizen font choice.)

[2021-09-05 23:10] jidanni commented on #4609
One gets the impression that it is some permission problem. Thus one would not think about going to the website to edit those items.

I would hold off on adding these pencils until they're all ready.

[2021-09-06 17:09] madhurgupta10 commented on #4585
@misaochan Due to the changes in Android 10 and above we need the following permission to write the log zip file to external storage, https://developer.android.com/about/versions/11/privacy/storage#maintain-compatibility-android-10
[code]
Not sure how it impacts the app review on Google Play

[2021-09-06 18:53] sivaraam opened #4614 "Add some in-app instructions for the new WLM feature"
**Summary:**
The new WLM feature in the app is a nice improvement but it could be improved a little w.r.t in-app instructions. Right now, when I tap on the WLM banner I'm taken to the Nearby screen. I see a small banner about WLM there. It has a link which takes me to the general WLM info page.

Other than that, there's no information in-app about what needs to be further. Even the though the app

[2021-09-06 20:28] nicolas-raoul opened #4615 "Media details: Make caption and description editable"

[2021-09-06 20:31] nicolas-raoul opened #4616 "Media details: Make depictions editable"
Let the user add/remove depicted Wikidata items.
Even on pictures they did not upload themselves.

Implementation: Please reuse the Upload Wizard's depictions selection dialog:
![adb](https://user-images.githubusercontent.com/99590/132470450-9c5bcf54-4648-49e8-884d-6fbe3b96e6b6.png)

[2021-09-06 20:32] nicolas-raoul commented on #4609
I created https://github.com/commons-app/apps-android-commons/issues/4615 and https://github.com/commons-app/apps-android-commons/issues/4616

Do you see anything else that should be made editable?

[2021-09-06 20:32] #4609 closed

[2021-09-06 20:36] nicolas-raoul opened #4617 "WLM multi-upload"
In normal Nearby, it is natural to upload only **one** picture, because each Wikidata item should have one and only one image.

On the other hand, WLM monuments can have many pictures, the more the better.

Thus it would make sense to have Nearby's WLM pins open a multi-file picker, rather than the current single-file picker.

[2021-09-07 06:30] misaochan commented on #4614
This sounds like a good idea. Do you reckon we could use an 'i' tooltip similar to the ones used in uploading? And if so, where would be a good place to put it?

[2021-09-07 06:54] misaochan commented on #4585
Hmm. I looked this up, and due to the changes required (including the sdk version update), I think we would be better off doing this in master rather than in a release branch that is due for release soon. Could you rebase your PR to master please? Thanks!

[2021-09-07 07:00] misaochan commented on #4610
I don't know if a thick horizontal line is the way to go, but you have a point. I wonder how other photo browsing apps handle this.

[2021-09-07 18:58] Ayan-10 commented on #4615
@nicolas-raoul After making the coordinates editable I was thinking about making this enhancement. But for my exams, I am delaying. So can I work on these two enhancements?

[2021-09-07 19:00] Ayan-10 commented on #4616
Yes, we can do the similar as the categories have.

[2021-09-07 20:03] jidanni opened #4619 "All the pictures guaranteed to be from the same user, so why show the user name?"
In
![Screenshot_20210905-103606.jpg](https://user-images.githubusercontent.com/1230959/132113028-279976e3-d77c-4eb7-8df1-78f3d7dd1222.jpg)
aren't all the pictures guaranteed to be from the same user, "Jidanni"?

So can't that line be eliminated? Latest Beta.

[2021-09-07 20:06] jidanni commented on #4609
Well even in the above picture, Licence is missing a pencil.
I.e., what should **not** be editable?

[2021-09-07 21:02] Ayan-10 commented on #3732
It seems that `mapbox` is getting null somehow. That's why it's not working without permission.

[2021-09-08 01:55] sivaraam commented on #4614
I guess 'I' tooltips won't be as helpful. I was envisioning something like a card based intro to contributing to WLM using our app.

If that sounds like too much work to so before the public release, we could setup a wiki page with instructions on how to contribute to WLM using our app. Something like in the "Overview" section of the ["WLM" feature description wiki](https://commons.m.wikimedia.org

[2021-09-08 06:28] nicolas-raoul commented on #4583
[Surfers Paradise Transit Centre](https://www.wikidata.org/wiki/Q14935565) has no description in English, and taking the only description available is the right thing to do:
<img width="932" alt="Screen Shot 2021-09-08 at 08 26 40" src="https://user-images.githubusercontent.com/99590/132457390-1545c048-9d35-4ad5-aebb-285465c9cc64.png">

Same for the other one:
<img width="933" alt="Screen Shot 202

[2021-09-08 06:50] nicolas-raoul opened #4620 "Editing categories of an existing picture: Reuse categories selection UI from the Upload Wizard"
I think categories editing should be revamped: It currently uses a special UI, which takes time to improve and maintain.

It would be better if it reused the existing category selection UI of the Upload Wizard.
![adb](https://user-images.githubusercontent.com/99590/132460184-a622e313-cf4c-42ef-a677-5d63b1846242.png)

[2021-09-08 06:52] nicolas-raoul commented on #4616
Please beware that the categories selection UI might not be ideal though: #4620

[2021-09-08 07:42] Ayan-10 commented on #4616
@nicolas-raoul I was talking about using the update category UI. Not the one you mentioned in #4620

[2021-09-08 08:03] nicolas-raoul commented on #4616
@Ayan-10  I added an "implementation" section above to make the issue clearer :-)

[2021-09-08 08:51] nicolas-raoul commented on #4609
Considering maintenance costs, we should focus on features that many people actually need.

We can leave this one to the desktop website UI. By the way, on the website I am sure that 99% of the users have never edited a license, and most of the users who edited one did it by mistake.

[2021-09-08 14:24] jidanni commented on #4609
Maybe have grey pencils for those, that when tapped say "please use the website
version to edit." That way all editable items still can have pencils.

[2021-09-08 16:17] jidanni commented on #4593
Must have been only audio.

[2021-09-08 16:22] nicolas-raoul commented on #4593
This will be relevant when audio is implemented, so let's redirect this to #4208 for now. Thanks!

[2021-09-08 16:22] #4593 closed

[2021-09-08 16:44] ashishkumar468 commented on #4595
Hi @nicolas-raoul, quick question around the query, we filter the label based on the language with something like this in the existing query we have.
# Get the label in the preferred language of the user, or any other language if no label is available in that language.
-     OPTIONAL {?item rdfs:label ?itemLabelPreferredLanguage. FILTER (lang(?itemLabelPreferredLanguage) = "${LANG}")}
-     OPTION

[2021-09-08 16:56] nicolas-raoul commented on #4595
Excellent question!
Checking now, I see that it does not provide descriptions in alternative languages if English is not present :-(
I will check.

[2021-09-08 17:41] ashishkumar468 commented on #4595
That would great, thanks : )

[2021-09-08 22:32] #3411 closed

[2021-09-08 22:34] domdomegg commented on #4487
Related to #4091

I think we need to get the secrets into the repository, then we should be able to recreate our Travis pipelines in GitHub actions fairly simply I think.

[2021-09-09 09:59] nicolas-raoul commented on #4595
The query below works better, it gives localized labels/descriptions with correct fallback :-)
[code]
As you can see, I just added all language codes found at https://en.wikipedia.org/wiki/List_of_Wikipedias
For internationalization this seems to work:
[code]

[2021-09-10 07:15] misaochan commented on #4583
@nicolas-raoul Interesting! I actually did not notice the drop down menu in Wikidata for languages, thanks for that. It looks like someone recently added a LOT of German descriptions for various points in Australia. I guess this is not a bug, then, and it is working as intended (even though it looks strange to the user)?

[2021-09-10 07:55] #4583 closed

[2021-09-10 07:59] nicolas-raoul commented on #4583
The best thing to do is to add descriptions in your phone's language too :-)

Here are my thoughts on this:
- Indeed, English speakers are not used to seeing other languages show up on their screens.
- On the other hand, the [95%](https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers) of humans whose native language(s) is not English are used to seeing some English show up o

[2021-09-10 08:05] misaochan commented on #4583
Yeah, I don't think I would be a fan of treating different languages differently either. :) Personally my preference would probably be to only see the descriptions in my phone's language or not at all, but it's not a huge issue for me except that I wonder if other users will mistakenly consider this a bug as well.

Thanks for the FAQ, I can point people to that if they ask me! ;)

[2021-09-10 08:09] misaochan commented on #4614
Great idea!

Would you be willing to set this up, @sivaraam ? I don't think I would have the time to make it myself, but we can change the link if we can get a decent page up by Monday.

[2021-09-10 12:45] nicolas-raoul commented on #4619
One hand hand, yes, some space could be saved.
One the other hand, consistency is good for user experience, and having the exact same code for Contributions and Explore reduces maintenance cost.

I let UI experts decide :-)

[2021-09-11 07:05] jmora13 commented on #4502
If this hasn't been solved yet, I'd like to contribute to it.

[2021-09-11 17:14] jmora13 commented on #4590
Is this open? I'd like to contribute to it

[2021-09-12 14:10] madhurgupta10 opened #4625 "Crash when doing image reviews"
**Summary:**

Crash report from Google Groups

**Steps to reproduce:**

USER_COMMENT=i was doing review of images

**System logs:**

[code]

**Device and Android version:**

ANDROID_VERSION=10
PHONE_MODEL=SM-M022G

**Commons app version:**

APP_VERSION_CODE=1024
APP_VERSION_NAME=3.1.0

**Would you like to work on the issue?**

Yes

[2021-09-12 18:26] nicolas-raoul commented on #4502
Sorry for being late on this one.

Before implementing this, we need to implement *language search* and *language
history*, otherwise it would heavily inconvenience most users.

Therefore, I think this issue should only be labeled "good first issue"
after the two enhancements above are implemented.

Thank you for your understanding!

Le sam. 11 sept. 2021 à 09:05, Jose Mora ***@***.***> a
écrit :

[2021-09-12 20:47] nicolas-raoul commented on #4590
@jmora13 Yes thanks! :-)

[2021-09-13 13:00] #4625 closed

[2021-09-13 19:39] sivaraam commented on #4614
Sorry I was offline the past weekend. I've managed to create a page based on the "Outcome" section of the ["WLM" feature description wiki](https://commons.m.wikimedia.org/wiki/Commons:Mobile_app/WLM_release) page (as noted). I've tweaked the content a bit to make it relevant for public audience. You could find it here: https://commons.wikimedia.org/wiki/Commons:Mobile_app/Contributing_to_WLM_using

[2021-09-14 08:09] misaochan commented on #4614
Thanks a lot @sivaraam ! I've made a couple of small edits, just to add the link for more details and changing the version to v3.1 (which works for all potential releases ;)).

We will add the link in-app shortly.

[2021-09-14 08:31] misaochan commented on #4555
Have added P3426 in 553a1d9, and Sweden is "se" in our list of templates.

[2021-09-14 08:31] #4555 closed

[2021-09-14 08:32] misaochan commented on #4614
Link added at c36aeeedc237705601871c9713bf56fc89f48831

[2021-09-14 08:32] #4614 closed

[2021-09-14 08:33] misaochan commented on #4595
Fixed by #4622

[2021-09-14 08:33] #4595 closed

[2021-09-14 11:00] 4D17Y4 commented on #4610
If we look at the explore tab in dark theme we can notice the cards because of slight color difference in the background and card information. And as the contributions fragment background in dark theme has the same color as the card info, it is not visible.

So, I think we can extend this to contribution fragment and light theme by have a slight different/dark color for the card info.
@misaochan ?

[2021-09-15 06:16] misaochan commented on #4601
Happened again yesterday for me, however this time it was with a non-Nearby upload (from Contributions).

@nicolas-raoul has this issue ever happened for you with 3.1 onwards?

[2021-09-15 06:26] nicolas-raoul commented on #4601
I haven't observed it recently on the 3.1 branch... I have not uploaded many files recently, though, maybe like 10 in total.

[2021-09-16 11:55] ashishkumar468 opened #4630 "[Linked to custom selector] App shows an upload failed notification even after upload succeeds"
**Summary:**

Even though upload successfully happens, the app shows an upload failed notification because the saveIntoUploadedStatus() method throws an exception

**Steps to reproduce:**

Not reproducible easily, but resuming a failed upload should do it.

**System logs:**

[code]

**Device and Android version:**

Android 9 Pixel 4

**Commons app version:**

Current master

**Would you like to wo

[2021-09-16 13:09] #4601 closed

[2021-09-17 04:50] pratik2315 commented on #4630
Hey @ashishkumar468 ! can I work on this Issue if its still available?

[2021-09-17 04:55] pratik2315 commented on #4617
Hello sir, I would like to work on this issue if its still available/workable.

[2021-09-17 04:58] ashishkumar468 commented on #4630
Hi @pratik2315, this does not seem like a good first issue, please feel free to choose from one of the good first issue. @4D17Y4, do you want to take a look into this one?

[2021-09-17 06:43] nicolas-raoul commented on #4617
@pratik2315 It is yours, thanks! Please let us know about your progress at the end of each day, if possible :-)

[2021-09-19 02:07] jidanni opened #4631 "Starting uploads notification can be cleaned up earlier"
This starting uploads notification is, yes, eventually cleaned up. But it could be cleaned up already at this stage.
![Screenshot_20210919-100504.jpg](https://user-images.githubusercontent.com/1230959/133913136-7f2d45b8-45b2-4f5a-984f-7dd677379689.jpg)
Latest beta.

[2021-09-20 05:04] pratik2315 commented on #4617
Hey @nicolas-raoul pls check and tell me if i have made any mistakes.
Thanks for your time.

[2021-09-20 06:59] #2823 closed

[2021-09-20 08:00] madhurgupta10 opened #4638 "Fix build fail"
**Summary:**
The build seems to be failing for master branch, this is probably due to recent upgrade in kotlin version

https://blog.monosoul.dev/2021/06/30/kotlin-1-5-and-jacoco-report-exception/

**Would you like to work on the issue?**
Yes

[2021-09-20 11:48] #4077 closed

[2021-09-20 12:44] madhurgupta10 commented on #4091
@misaochan @ashishkumar468 @domdomegg

I think Github Actions seems to work just fine now, shall we remove Travis altogether?

[2021-09-20 12:44] #4638 closed

[2021-09-20 14:35] #4590 closed

[2021-09-20 16:14] misaochan commented on #4091
Might as well, I don't think Travis has even been running anyway for the past few months.

[2021-09-20 16:20] ashishkumar468 commented on #4091
Seems like a good thing to go ahead with :)

[2021-09-21 08:38] #4091 closed

[2021-09-21 09:21] neslihanturan commented on #4577
I don't think this Pr improves the UI. Please feel free to reopen it if you don't agree :)

[2021-09-21 09:21] #4577 closed

[2021-09-21 09:23] #4575 closed

[2021-09-21 10:08] nicolas-raoul opened #4642 "Crash on upload wizard's depictions screen (and depiction not selected)"
1. Open app (latest master)
2. Upload this picture: https://drive.google.com/file/d/1-vuOYjSqn6dTMVbgAvjBOIfoeaK0kqGm/view?usp=sharing
3. App asks "Is this a picture of XYZ?", tap Yes
4. In the depictions screen, XYZ is not selected as a depiction (problem 1)
5. Tap "Next", acknowledge the warning.
6. Crash (problem 2):

[code]

Same problems when uploading any picture from Nearby.
No crash if the

[2021-09-21 13:36] nicolas-raoul opened #4643 "Depiction search does not find anything"
1. Open app (latest master)
2. Start adding any picture (via gallery or camera)
3. At the depictions selection step, type anything (for instance `cat`)
4. Nothing appear

[2021-09-22 16:21] diamniko commented on #4508
Hello, I still can't push...

[2021-09-22 16:36] msaini0r commented on #4500
I would like to work on this issue.

[2021-09-23 06:36] nicolas-raoul commented on #4508
Please fork the repository before cloning.
See https://docs.github.com/en/get-started/quickstart/fork-a-repo
Thanks!

[2021-09-23 07:57] misaochan opened #4644 "Failed uploads and crash from Google Photos multiple upload"
**Summary:**

Report from user on Google groups forum.

"I was uploading a set of 7 images. Four  failed. I reset the upload. Two do complete but the other two stay in the queue. Try to upload the same file again. I think this was the point where it crashed.

I used the share function from Google Photos. "

**Steps to reproduce:**

Google photos > share > pick several images

**System logs:**

[co

[2021-09-23 08:19] misaochan commented on #4644
Pinging @madhurgupta10 :)

[2021-09-23 13:57] #4617 closed

[2021-09-23 14:13] madhurgupta10 opened #4647 "Migrate from junit.framework to org.junit"
**Summary:**
Assert in `junit.framework` has been deprecated so we should migrate to `org.junit`

Link for help https://stackoverflow.com/questions/24013210/assert-in-junit-framework-has-been-deprecated-what-next-to-use

**Would you like to work on the issue?**
No

[2021-09-23 19:11] BashCache commented on #4647
Hi, Can I work on this?

[2021-09-24 02:31] madhurgupta10 commented on #4647
@BashCache Sure :)

[2021-09-24 08:04] misaochan opened #4648 "NPE when uploading photos from Nearby map"
From Google groups forum:

USER_COMMENT=Adding photos of Khejarli Massacre Memorial Site.
APP_VERSION_CODE=1025
APP_VERSION_NAME=3.1.1
ANDROID_VERSION=11
PHONE_MODEL=RMX3085
[code]

USER_CRASH_DATE=2021-09-24T10:07:23.105+05:30
IS_SILENT=false
REPORT_ID=4ffdc93b-af47-416b-9c1f-713666449543
USER_EMAIL=

[2021-09-25 11:15] ashishkumar468 commented on #4648
Hi @misaochan, can you attach the full stack trace for this one?

[2021-09-26 16:33] misaochan commented on #4648
It's not mine. :( This is all we have from the Google groups forum.

[2021-09-26 16:48] BashCache commented on #4647
Hi, I have changed the import statements from junit.framework to org.junit. Should I create a separate branch and push the code?
When I tried building the project, I get this error "Caused by: org.codehaus.groovy.control.MultipleCompilationErrorsException: startup failed:" , could you please help me out on building the project? Thanks a lot :)

[2021-09-27 02:54] madhurgupta10 commented on #4647
Yes, you can create a new branch and open a PR. About the build issue you are facing, can you share the steps you performed while building the project? Make sure that your Android Studio, SDK and JDK are up to date.

[2021-09-27 04:43] ashishkumar468 commented on #4648
Hmm, unfortunately, these logs would not lead us to find the root cause. Have you been able to reproduce this, also would be great to have the exact steps.

[2021-09-28 07:51] misaochan opened #4651 "SQLiteException: no such table: worktag"
From google groups forum (I think the user's email client removes newlines...). It was sent twice on 2 separate days

[code]

Contacted user for more information

[2021-09-28 07:54] misaochan opened #4652 "SQLiteException: no such column: location_language"
From Google groups forum:

[code]

[2021-09-28 07:55] misaochan opened #4653 "UnknownFormatConversionException: Conversion"
From google groups forum

[code]

[2021-09-28 07:56] misaochan opened #4654 "IllegalStateException: Already released"
From google groups forum:

[code]

[2021-09-28 08:02] misaochan commented on #4648
Contacted user, let's see if they respond.

[2021-09-28 10:05] misaochan commented on #4610
@4D17Y4 Sorry for the slow response, I missed your ping! Yes, this sounds like a good idea. :) Would it be possible for you to show some mockups on how the contributions fragment would look in light theme and dark theme, with these changes?

[2021-09-28 14:48] madhurgupta10 commented on #4653
Hi @misaochan could you please share the steps to reproduce this issue? It seems like a language-specific issue.

[2021-09-29 04:37] Ayan-10 commented on #4615
@nicolas-raoul For editing caption and description should I reuse the existing UI for taking input for description and caption?

[2021-09-29 11:24] nicolas-raoul commented on #4615
@Ayan-10 Yes that would be great, as it already implements some complexities like language addition :-)

[2021-09-29 13:41] misaochan commented on #4653
I will ask the user what language he is using, if that will help?

[2021-09-29 15:24] #4501 closed

[2021-09-30 04:21] sanedroid6006 commented on #3702
Hi can I work on this issue I am new to open-source I got it your point and issue

[2021-09-30 08:42] TheProgrammerGod commented on #4471
Hey @neslihanturan , could you assign this issue to me? I'd to contribute to this as my first open-source contribution.

[2021-09-30 20:46] nicolas-raoul commented on #3702
@sanedroid6006 This is an "enhancement" issue. Would you mind starting by a few "bug" issues? These are usually easier to scope :-)
The help has a link to all unassigned "bug" issues: https://github.com/commons-app/commons-app-documentation/blob/master/android/Volunteers-welcome!.md#developers
Thanks!

[2021-10-01 09:33] sanedroid6006 commented on #4604
Hello I can work on this issue, just have one doubt which screen will be open after clicking on tap to view?

[2021-10-01 09:39] ashishkumar468 commented on #4604
HI @sanedroid6006 , we can open the MainActivity (Contributions Screen) after this is clicked, preferably the focus being on the failed upload

[2021-10-01 09:48] sanedroid6006 commented on #4604
Okay got it thanks @ashishkumar468
Can you assign me this issue?

[2021-10-01 09:49] ashishkumar468 commented on #4604
It is yours : )

[2021-10-02 01:01] jidanni opened #4655 "White symbols won't show up on white backgrounds, making the camera seem broken"
Today I wanted to try just directly using the camera. Okay so I pushed the plus button, and then I pushed the camera icon, and indeed I took a picture.

Okay, now I am just looking at my picture, full screen. Maybe it is waiting for something. Who knows. There's no message on the screen. So after about 20 seconds I just hit the back button. Anyway I couldn't find the picture I just took anywhere.

[2021-10-02 07:47] sanedroid6006 commented on #4604
Hi @ashishkumar468  issue fixed can you review my code

[2021-10-02 12:16] mariammali273 commented on #4471
I'd like to contribute to this, it's my first time contributing to open-source projects.

[2021-10-02 23:31] CordylusLizard opened #4658 "Uploads always fail on any connection, for phone model M2101K6G"
I cannot send any of the images by an app. I managed to send just one few months ago but never managed to send any subsequent one.
I use 3.1.1~1c9267ca0 version

Here is the last log I got after failing to send another image:

[[Category:PKP class Px48]]
[[Category:Manowo train station]]
[[Category:Koszalińska Kolej Wąskotorowa]]
[[Category:Koszalińska Kolej Wąskotorowa w czasach TKKW]]
2021-10-03

[2021-10-04 13:05] misaochan commented on #4655
Could you post a screenshot of what you see after you have taken the picture, please? Thanks!

[2021-10-04 13:06] misaochan commented on #4658
Hi @CordylusLizard , thanks for letting us know! Does the web-based Upload Wizard work for you?

[2021-10-04 14:36] jidanni commented on #4655
I just see the picture I took, fullscreen.
It just stays there. Many many seconds.
Tapping it does nothing.
So I hit the cellphone's back button to leave the app.

[2021-10-04 14:46] madhurgupta10 commented on #4653
@misaochan Thanks, that would be a great help, also if the user could provide exact steps to reproduce this issue then it would accelerate things :)

[2021-10-04 15:11] sanedroid6006 commented on #4642
Hello @nicolas-raoul  can you upload video for the same ,I 'm not getting this crash

[2021-10-04 15:41] misaochan commented on #4653
He hasn't responded. :( We can leave this for the time being.

[2021-10-04 15:59] misaochan commented on #3389
I don't think we need to have this in the initial rollout of this feature. It can be an enhancement for the future. :)

[2021-10-04 16:28] misaochan commented on #4655
There should be a "Retry" and "Ok" at the bottom of the screen. They do not show up at all for you?

[2021-10-04 16:51] jidanni commented on #4655
Well, I didn't see any.
I would love to test again,
but that will have to wait for me to find a special plant or insect to take a picture of,
as I don't want to create a junk file on Commons that needs to be deleted,
and there is no other way to test.

[2021-10-04 16:52] misaochan commented on #4655
You can test without uploading, just tap the back button once you get to the Caption/Description step and it will ask if you are sure you want to cancel your upload.

Please do take a screenshot if you manage to test it again, too. :)

[2021-10-04 17:08] CordylusLizard commented on #4658
The web-based one works just fine, just uploaded the new image:
https://commons.wikimedia.org/w/index.php?title=Special:ListFiles/Cordylus
On the files list you can see the first and the only image I managed to send by an app. All subsequent images failed.

[2021-10-04 17:22] jidanni commented on #4655
I completely understand the problem now!

The two symbols you mentioned are indeed there.

But **they are white**.

That is fine, except when they end up on a white background!

Then they become **nothing**!

Apparently they were only tested on dark backgrounds!

Therefore they need their own "personal black backgrounds" to ensure
they will show up on **any** background!

It's just that simple! Th

[2021-10-04 18:13] misaochan commented on #4655
Can you post a screenshot please? Sounds like a simple fix that I could make a "good first issue" (so a volunteer can easily solve them), but to do that I need a screenshot so we can discuss it with clarity.

[2021-10-04 18:15] misaochan commented on #4658
Thanks a lot @CordylusLizard . @madhurgupta10 would you mind taking a look at this?

[2021-10-04 18:16] misaochan commented on #4658
Also, @CordylusLizard could you please try logging out and then in again, and see if that solves the problem for you?

[2021-10-04 19:41] nicolas-raoul commented on #4642
@sanedroid6006 You can easily reproduce the crash by following these steps:

1. Start app
2. Tap "Nearby"
3. Select any blue pin
4. Press the +
5. Tap the gallery button
6. Select any picture
7. Press Next
8. Press Next

Thanks! :-)

[2021-10-04 20:04] sanedroid6006 commented on #4642
By seeing your logs it's seems like invalid json response type error .
When API response is like html and not the json this error comes...
I will try this to handle on application side
But it's better to have error response like status something in api.

[2021-10-04 20:04] CordylusLizard commented on #4658
I relogged and tried to upload image. After filling the category form and tap the upload button, it crashed.
Got a log.
Next attempt didn't cause crash, but had a same result as before: the upload failure.

The crash log:

USER_COMMENT=
APP_VERSION_CODE=1025
APP_VERSION_NAME=3.1.1
ANDROID_VERSION=11
PHONE_MODEL=M2101K6G
STACK_TRACE=android.database.sqlite.SQLiteException: no such table: worktag (c

[2021-10-04 20:32] nicolas-raoul commented on #4642
@sanedroid6006 Thanks for investigating! Your remark hinted me that I should reset the app's data, and indeed that worked! I am quite sure it was a side-effect from working on [another branch ](https://github.com/commons-app/apps-android-commons/pull/4531) then coming back to master.

Sorry for the noise, and thanks for your help @sanedroid6006!

[2021-10-04 20:32] #4642 closed

[2021-10-05 01:01] jmora13 commented on #3651
Could I work on this? Is it still available?

[2021-10-05 07:18] nicolas-raoul commented on #3651
No answer from Shabar, so feel free to work on it @jmora13, thanks! Please let us know about your progress every few days :-)

[2021-10-05 10:54] misaochan commented on #4658
Thanks for the investigations @CordylusLizard ! The task has been assigned to a dev, we hope to have a fix for you soon. :)

[2021-10-05 10:56] misaochan commented on #4651
@ashishkumar468 , it seems that @CordylusLizard experienced the same crash, as per #4658 .

Is this information sufficient for you to carry on working on this crash? If not, please ping them for more information.

[2021-10-05 20:28] jidanni commented on #4655
It's real simple. Just take a picture of this mostly white GitHub screen.
Or even better: just a white sheet of paper.
So imagine a white screenshot:

Can you see any buttons on it? No. Because the buttons are white!

[2021-10-06 19:36] psh opened #4664 "Kotlin Android Extensions & Butterknife are deprecated"
**Summary:**

Looking at "The future of Kotlin Android Extensions" from 23 November 2020, (see: https://android-developers.googleblog.com/2020/11/the-future-of-kotlin-android-extensions.html)

According to Google (https://developer.android.com/topic/libraries/view-binding/migration)

In addition, the author of Butternife has stated (https://github.com/JakeWharton/butterknife)

**Would you like to

[2021-10-06 19:45] psh opened #4665 "RxJava2 is "end of life""
**Summary:**

The authors of RxJava put RxJava2 into "maintenance mode" when they released RxJava3 and have since stated

They have written up a lengthy "What's different in 3.0" (see: https://github.com/ReactiveX/RxJava/wiki/What's-different-in-3.0)

The mix of Java and Kotlin in this project suggest that the migration path forward would be to look at RxJava3 but that ought to be balanced by Goog

[2021-10-08 23:30] Open-Sorcerer commented on #4655
Unfortunately this can not be changed from within the code as it is dependent on the default camera app that the commons app opens by [sending the MediaStore.ACTION_IMAGE_CAPTURE intent](https://github.com/commons-app/apps-android-commons/blob/7ab561f23888a090a147f86fa08aa15c62f29847/app/src/main/java/fr/free/nrw/commons/filepicker/FilePicker.java#L70) .

The confirmation layout of the camera app

[2021-10-09 00:35] jidanni commented on #4655
That's all above my head.
Anyways, OK, I will just always upload from the Gallery app.

Yes.

[2021-10-09 14:12] Open-Sorcerer commented on #4557
Hi, I'm participating in this year's hacktoberfest. I've set up the project locally, familiarized myself with the codebase and come up with a working solution. Could you please assign this to me and put the hacktoberfest label on this issue?

Proposed solution, please let me know if this is feasible:
From MainActivity.java, call public method scrollToTop() in ContributionsFragment.java which calls

[2021-10-09 16:31] madhurgupta10 commented on #4658
@misaochan @CordylusLizard I am looking into the logs, just to confirm both logs are related to the same problem?

[2021-10-09 18:03] dado1111 commented on #4514
So may I?

[2021-10-09 18:57] jidanni commented on #4514
Is there some way to manage internal assignments coordination better
than having them go to the same channel as the bug submitter?

I hope each role could be kept separate: But reporters just know about
reporting bugs, and could say "go right ahead" by accident to internal
staff assignment requests.

[2021-10-10 00:53] jidanni commented on #4655
Asking users to replace their camera app?

How about just take the picture we just took, and show it to us, with your own little yes or no buttons on the bottom. In fact, it would be just like one of those social networking apps where you see a picture and there's two buttons on the bottom green and red.

[2021-10-10 00:55] jidanni commented on #4655
![Screenshot_20211010-085446.jpg](https://user-images.githubusercontent.com/1230959/136677434-5fc71365-4f86-4db1-bb15-3ddb15c5c4fa.jpg)

[2021-10-10 12:35] nicolas-raoul commented on #4514
@dado1111 No answer from either sanchi0204 nor Pranjal-dew so it is yours :-) Please let us know about your progress every few days.

@jidanni Indeed that could result in misunderstandings, thanks for your cooperation on that. By the way, only core developers can set assignees.

[2021-10-10 13:24] nicolas-raoul commented on #4643
Indeed, thanks for spotting this!

[2021-10-10 13:24] #4643 closed

[2021-10-11 07:15] misaochan commented on #4651
@ashishkumar468 thanks for the investigation! Makes sense, please submit the PR to 3.1-release

[2021-10-11 19:53] codingtosh opened #4669 "Press on Explore tab button to scroll to the top"
While working on #4557 , I noticed that the same functionality was missing in the "Explore" tab as well.

**Steps to reproduce:**
Scroll down to a large extent in either the "FEATURED" or "UPLOADED VIA MOBILE" tabs, say, 300th entry on the list. Becomes inconvinient to scroll back to the top manually with multiple finger swipes or navigate away and then come back to the tab

**Proposed solution:**

[2021-10-11 20:01] codingtosh opened #4670 "Press a button to scroll to the top of the Favorites tab"
This is similar to #4557 and #4669, the functionality to conviniently scroll to the top of the list is missing in the "Favorites" tab as well.

**Steps to reproduce:**
Scroll down to a large extent in either the "PICTURES" or "LOCATIONS" tabs, say, 50th entry on the list. Becomes inconvinient to scroll back to the top manually with multiple finger swipes or navigate away and then come back to the

[2021-10-11 22:54] madhurgupta10 opened #4671 "Robolectric 'application: Application!' is deprecated. Deprecated in Java"
**Summary:**
`'application: Application!' is deprecated. Deprecated in Java` so we should use `ApplicationProvider.getApplicationContext()` in All Robolectric Unit Tests

Link for help: https://stackoverflow.com/questions/52883747/robolectric-runtimeenvironment-application-is-deprecated-where-is-applicationpr

**Would you like to work on the issue?**
No

[2021-10-12 01:37] bernabesc commented on #4671
Could you assign me this one?

[2021-10-12 01:43] madhurgupta10 commented on #4671
@bernabesc Sure, thanks :)

[2021-10-12 08:24] misaochan commented on #4664
Sounds good, thanks @madhurgupta10 . Let's do it. :) We can probably split this up by package - 1 PR for files in 1 package?

[2021-10-13 08:18] misaochan commented on #4610
Thanks @4D17Y4 , the mockups look good to me! Pinging @neslihanturan for her input as well. If she approves it, feel free to work on this if you want to. :)

[2021-10-14 04:49] madhurgupta10 commented on #4664
@misaochan Yes sure, even more than one PR per package would be okay IMO.

I will create a PR with the necessary dependencies and an example so it is easier for first-time contributors to follow up :)

[2021-10-14 20:34] neslihanturan commented on #4597
I don't think this will improve the UI, so closing for now. Please feel free to reopen :)

[2021-10-14 20:34] #4597 closed

[2021-10-15 07:35] nicolas-raoul commented on #4615
Great to hear that Ayan!

The captions are powered by the Wikibase software (where it is called `label`), which means they should be easier (and more reliable) to edit than wikitext :-)
You need to edit the label of the image in the wikibase server of Commons. I believe you will need to call `getEntityForImage` from `app/src/main/java/fr/free/nrw/commons/media/MediaDetailInterface.java` then set t

[2021-10-16 10:09] Ayan-10 commented on #4615
@nicolas-raoul `action=wbsetlabel` is working. By mistake I was making the set call with the production URL in prod sandbox for a beta server's media that's why it was showing an error.

[2021-10-16 13:07] Asgardian8740 commented on #4671
Hi,
Is this issue open?
Can i work on this?

[2021-10-17 04:03] nicolas-raoul opened #4676 "Error when uploading 2nd and 3rd picture in 3-pictures upload: "MwException: ⧼titleblacklist-custom-space⧽""
Latest master
[code]

[2021-10-17 08:31] bernabesc commented on #4671
If he has time go ahead and assign it to him, got stuck on another fix. Sorry for the inconvenience

[2021-10-17 17:53] 4D17Y4 commented on #4658
No @misaochan.
The playstore version does not has this bug. I can upload images from gallery plus the contribution and explore tab are working fine.

[2021-10-18 03:31] reshmanjali commented on #4471
Hey!
I'd like to contribute to this, it's my first time contributing to open-source projects. Appreciate any guidance.

[2021-10-18 23:29] jidanni opened #4679 "Use a real progress bar in the app"
I discovered if one keeps on looking at the app during a picture upload, one just sees a fake progress bar imitation. If one wants to see a real progress bar one just has to pull down the notifications. So please use the same real progress bar that you have in  notifications, also in the app. Thanks. You might need a very slow network to see what I'm talking about. Version: latest beta.

[2021-10-20 10:17] neslihanturan commented on #4471
Hi, pinging @mariammali273 and @TheProgrammerGod to see if they are still interested. If they are not, it is yours @reshmanjali . We can wait 2 days to hear from them. Please make sure you have read our contribution guide docs meanwhile.

[2021-10-20 11:35] codingtosh commented on #4670
Hey @misaochan  sorry for the late reply, missed the notification. So the reason I have also proposed the third solution is because it is a common design to scroll/refresh the feed/list by clicking on the bottom navbar button, for example, youtube, twitter, facebook android app also have this.

Also, I had proposed the same solution in #4557 and have submitted a [PR](https://github.com/commons-app

[2021-10-20 17:24] Anand-Avinash-Bhalerao commented on #4471
Hey, I would like to contribute to this. This is my first time contributing to open source.

[2021-10-21 04:53] madhurgupta10 opened #4680 "Leaderboard Ranking not showing 4 digits"
**Summary:**
Leaderboard Ranking not showing 4 digits, after 999 it should show 1000, not 100.

**Steps to reproduce:**
Go to leaderboard, scroll to the very last

**Device and Android version:**
Mi A2 API 29

**Commons app version:**
Latest master

**Screen-shots:**
![Screenshot_20211021-101915](https://user-images.githubusercontent.com/30932899/138213532-cdfd3178-4835-49d2-9111-661deba626d5.png)

[2021-10-21 11:40] neslihanturan opened #4682 "App requests READ_PHONE_STATE permission for map"
**Summary:**

I think this feels weird to request phone state for map. This was required to solve #4447 with #4677 .

[2021-10-30 11:02] madhurgupta10 commented on #4680
If you opened the leaderboard for the first time, it may take a while to add your account to the leaderboard list, try after some time and if the issue is not resolved, do share the logs :)

[2021-10-30 14:29] KasinaDheeraj commented on #4680
### I'm Getting something like this:

2021-10-30 19:57:39.429 9385-9385/fr.free.nrw.commons.beta E/LoadedApk: Unable to instantiate appComponentFactory
    java.lang.ClassNotFoundException: Didn't find class "fr.free.nrw.commons.beta.commons" on path: DexPathList[[zip file "/data/app/fr.free.nrw.commons.beta-EBHpf_anDbMHW6C99XOpoA==/base.apk"],nativeLibraryDirectories=[/data/app/fr.free.nrw.common

[2021-10-30 14:58] KasinaDheeraj commented on #4680
### The log from run to loading of leaderboard:
--------- beginning of system
2021-10-30 20:22:28.940 2066-2157/? I/ActivityManager: Force stopping fr.free.nrw.commons.beta appid=10181 user=0: from pid 10190
2021-10-30 20:22:28.952 1836-1836/? W/adbd: timeout expired while flushing socket, closing
2021-10-30 20:22:28.970 2374-2374/? D/CarrierSvcBindHelper: No carrier app for: 0
2021-10-30 20:22:29

[2021-10-31 05:14] KasinaDheeraj commented on #4680
I did the fix but I can't test it as by running beta I can't get the leaderboard. Should I create a pull request?

[2021-11-01 07:29] madhurgupta10 commented on #4680
@KasinaDheeraj can you try running the API request for your username?

replace "Syced" with your username

https://commons-android-app.toolforge.org/tool-commons-android-app/leaderboard.py?user=Syced&duration=all_time&category=upload

[2021-11-01 07:47] KasinaDheeraj commented on #4680
Ya there is the problem the accounts created through beta were not reflecting in the link specified.
But, accounts from playstore version were not being authenticated in beta version.

[2021-11-01 07:48] madhurgupta10 commented on #4680
You need to use the prod version, we only keep leaderboard for prod version :)

[2021-11-01 07:50] KasinaDheeraj commented on #4680
Then, How can I test it in UI? Is there a way?

[2021-11-01 07:56] madhurgupta10 commented on #4680
build the prodDebug variant instead of betaDebug, the leaderboard should load normally :)

![image](https://user-images.githubusercontent.com/30932899/139639717-959f3b0b-be4c-4aa2-b443-e043e3b4b7da.png)

[2021-11-01 08:34] KasinaDheeraj commented on #4680
Thanks @madhurgupta10 , it worked. I also attached screenshots for PR. It was working totally fine. Looking forward for any modification if needed.

[2021-11-01 11:04] madhurgupta10 commented on #4372
@nicolas-raoul What do you think? IMO loading to the very last is annoying with 10 records per request, loader keeps on appearing and disappearing.

[2021-11-01 11:14] madhurgupta10 opened #4696 "Add "good first issue" badge to README"
**Summary:**
How about adding a "good first issue" badge to the Readme file? This will help new contributors (not familiar with GitHub issue discovery system) to easily discover issues to work upon?

[![good first issues open](https://img.shields.io/github/issues/commons-app/apps-android-commons/good%20first%20issue.svg)](https://github.com/commons-app/apps-android-commons/issues?q=is%3Aissue+is%3

[2021-11-01 11:57] nicolas-raoul commented on #4372
I am pretty happy with the current loading.
Sure, feel free to increase from 10 to 100 if you think it is worth doing and has no noticeable impact on initial loading time :-)

[2021-11-01 16:04] misaochan commented on #4696
Good idea IMO. :)

[2021-11-01 16:31] #4653 closed

[2021-11-01 16:31] #4651 closed

[2021-11-02 06:11] Ayan-10 commented on #4620
@nicolas-raoul Can I work on it?

[2021-11-02 06:19] nicolas-raoul commented on #4620
@Ayan-10 Sure, thanks! :-)

[2021-11-05 12:50] AyusmaTech commented on #4372
Hi, can I work on this?

[2021-11-06 02:38] jidanni opened #4698 "Tapping notification does not work if app has never been opened"
Tapping this notification does not work, if the app has never been opened yet. For instance if we are sharing a picture into the app to upload from our gallery.
![Screenshot_20211106-103623.jpg](https://user-images.githubusercontent.com/1230959/140595141-24f53c54-be01-435e-88ab-e022f6919767.jpg)

[2021-11-06 02:39] jidanni commented on #4698
Latest beta. Asus Zenfone 3. Android 8.0.

[2021-11-06 02:40] jidanni commented on #4698
Even if we later open the application. the notification still won't take us there. It just takes us nowhere. It does nothing when we tap on it.

[2021-11-06 10:22] neslihanturan commented on #28
Hey team, I was writing the query for this issue and there is a point that is not clear for me. Do we try to display nearby wikidata items that has pictures, and/or commons uploads that has lat long is entered. As far as I understood the one we want to achieve on the first place is displaying nearby places that has pictures (according to our explore parameter).

[2021-11-06 11:13] neslihanturan opened #4699 "Center map to users location or last location they provided when adding coordinates to uploads"
**Summary:**

This is requested by a user on mailing list:
 " when adding coordinates to a photo, the map should center on my location (if available) or at the last coordinates I provided. It is not very convenient to navigate from San Francisco to Germany every time."

[2021-11-06 14:06] #4680 closed

[2021-11-06 14:12] #4372 closed

[2021-11-07 02:29] nicolas-raoul commented on #28
This issue is about showing **all Commons pictures that have coordinates**. It does not rely on Wikidata, in patrticular it is not limited to pictures that are used on Wikidata.

The request should not be a SPARQL request. Instead, I believe you should use this Commons api.php request: https://commons.wikimedia.org/w/api.php?callback=jQuery3100638443216302247_1636028648481&action=query&list=geosea

[2021-11-08 01:14] ashishkumar468 commented on #3410
Hi @misaochan , quick question around this
1. Will the radius expander we apply implicitly around the nearby query be applicable even with the advanced query?

[2021-11-08 02:39] nicolas-raoul commented on #3410
Hi @ashishkumar468

I think most people will not modify the `${RAD}` part, in which case no special code is needed.

But if we want to take care of those who modify it, I can see two cases that could be considered as special:
- The custom SPARQL contains no `${RAD}`. In that case, maybe just ignore (do not perform the radius string replacement) and proceed as usual. Maybe no source code change is

[2021-11-08 02:46] ashishkumar468 commented on #3410
Thanks for the input @nicolas-raoul , this should work : )

[2021-11-08 14:26] nicolas-raoul opened #4700 "When the coordinates have been copied from another picture, explain it in description"
When a picture has no EXIF coordinates and another picture taken shortly before or after has some, the app asks the user whether they want to use the same coordinates.

That's a great feature, but we should write something like this in the description:

In a subsequent phase, we could even link to the picture the coordinates have been taken from, if it is present on Commons.

Steps to reproduce:
1

[2021-11-08 14:43] nicolas-raoul opened #4701 "Save "raw" picture in history"
Problem: Smartphones increasingly use post-processing and AI to make picture more vivid/interesting for instance by exaggerating colours or blurring the background. Unfortunately that often makes the pictures less representative of reality. The original is lost.

Idea: Also store a "rawer" version of the picture, if the camera app lets us have it. That one could be saved first, and then the post-p

[2021-11-09 10:32] misaochan commented on #4700
Sounds good. Should be a good first issue too since it's just a text change, what do you think? :)

[2021-11-09 10:48] nicolas-raoul commented on #4700
Indeed it is a good first issue. The main difficulties are:
- set a flag or something when the coordinates are taken from another picture.
- append the message above to the English-language description, or set it as the English-language description if the user has set none.

[2021-11-12 06:55] nicolas-raoul commented on #4682
I was also extremely surprised, and denied permission the first time. If I did not trust everyone personally in this team, I would probably have uninstalled the app.
![Screenshot_20211105-214245_Package installer](https://user-images.githubusercontent.com/99590/141422870-4d2a7a29-1128-4fdf-b0f2-2d920a5fec5b.jpg)
![Screenshot_20211105-214254_Commons](https://user-images.githubusercontent.com/99590/

[2021-11-12 06:58] nicolas-raoul commented on #4682
Has anyone tried the workarounds described at https://github.com/mapbox/mapbox-gl-native-android/issues/425#issuecomment-860182436 or https://github.com/mapbox/mapbox-gl-native-android/issues/425#issuecomment-865627138 ?

[2021-11-12 07:25] nicolas-raoul commented on #4698
I can reproduce this.

- Tapping does nothing if the upload was initiated from seeing a picture in your default gallery app and sharing to "Upload to Commons?"
- On the other side, tapping shows the Commons app's gallery if the upload was initiated from within the Commons app.

It should behave the same way for both.

[2021-11-12 08:11] misaochan commented on #4682
I agree, we should look into fixing this. According to https://github.com/mapbox/mapbox-gl-native-android/issues/425#issuecomment-680753940 , Mapbox has already fixed this bug, so we just need to use the latest version? @ashishkumar468 @neslihanturan

[2021-11-12 09:50] nicolas-raoul commented on #4655
Here is how it looks on Samsung:
![Screenshot_20211112-184627_Camera](https://user-images.githubusercontent.com/99590/141446936-cd5bfc04-6c7e-4a1b-80aa-ca0a8c779eb5.jpg)

[2021-11-12 09:54] nicolas-raoul commented on #4655
I agree that this is not something we can solve, unfortunately.
You should tell ASUS support that it is about their camera app **when launched by a ACTION_IMAGE_CAPTURE intent**.
Cheers!

[2021-11-12 09:54] #4655 closed

[2021-11-12 10:01] #4619 closed

[2021-11-12 14:27] madhurgupta10 commented on #4658
Hi @CordylusLizard, I am trying to replicate this issue on my end but even after trying 10+ different scenarios, I am still unable to. For me, image (solo or multiple) uploads works just fine in both beta and prod.

I request you to try uploading the same images from a different device and/or different account and let us know if they gets uploaded or not.

I really want to help you out, but until

[2021-11-12 14:30] madhurgupta10 commented on #4658
Here is an 'apk' file for the latest master build for you to test

[app-commons-v3.1.1-master-prod-debug.zip](https://github.com/commons-app/apps-android-commons/files/7528268/app-commons-v3.1.1-master-prod-debug.zip)

[2021-11-13 16:02] deek121477 commented on #4701
Can I work on this issue?

[2021-11-13 23:16] nicolas-raoul commented on #4701
@deek121477 Yes thanks!
What phone ad camera app are you using? The first step would be to figure out how to get the "raw" picture, please post your findings here :-)

[2021-11-14 01:46] jidanni commented on #4610
"Changed" looks good for Light Theme, but for Dark theme, one cannot tell if the words belong to the top or bottom picture.

[2021-11-14 01:48] jidanni commented on #4610
Maybe
`^ Sunset`
or
`↑ Sunset`
would even be better, for poor vision people too.

[2021-11-14 03:13] deek121477 commented on #4701
Thank you for assigning me this issue @nicolas-raoul
The phone that I would be using is Android and Adobe Photoshop Camera
And I more thing as I am beginner to this project
Can this issue be labeled as a good first issue or not?

[2021-11-14 03:57] Ayan-10 commented on #4620
@nicolas-raoul Should I show already selected categories In this UI? If yes, then how do you prefer to show those?

[2021-11-14 13:32] nicolas-raoul opened #4703 "Make "Please wait" dialog modal to avoid upload problems"
When "Please wait" is displayed I can still tap "Next".
Doing so is linked to uploads that never start, in my experience.

I think an easy fix would be to make "Next" not tappable when "Please wait" is visible.

![Screenshot_20211114-192943_Commons](https://user-images.githubusercontent.com/99590/141683145-e4f8e6cb-ddd3-41fa-9c98-6377744eaf5c.jpg)

[2021-11-14 13:34] nicolas-raoul opened #4704 "Upload wizard: Remove "Please wait" if possible and do the task in background"
Making the user wait is never great.
Is this wait really indispensible?
Couldn't we perform the same tasks in the background?
![Screenshot_20211114-192943_Commons](https://user-images.githubusercontent.com/99590/141683417-4cdc1e0d-cb61-4fd3-929b-adfcdd983878.jpg)

[2021-11-15 06:54] Ayan-10 commented on #4703
@nicolas-raoul Can I fix it?

[2021-11-15 07:26] nicolas-raoul commented on #4701
It is a good first issue in the sense that it is limited to a rather specific area of the app.
It is more difficult than the average "good first issue", though, but I am sure you can do it :-)

On my Pixel 4 phone the default camera has a setting called `RAW+JPEG control` which saves a .dng file in the `Raw` folder. My Galaxy phone also has an option to save raw images as a `.dng`.

Unfortunately

[2021-11-15 08:46] nicolas-raoul commented on #4620
Yes, that would be great!
They could show just like in the current upload wizard when you:
1. Select some categories
2. Tap "Previous"
3. Tap "Next". At this step you should see selected the categories from step 1.

[2021-11-15 09:06] nicolas-raoul commented on #4703
@Ayan-10 It is yours, thanks! :-)

[2021-11-15 12:06] deek121477 commented on #4701
Thank you so much for giving the guidance for approaching the issue. I will start working on this issue and will let you know about my progress.

[2021-11-15 21:18] hkimbrough22 commented on #4699
Hello @neslihanturan would a partner and I attempt to tackle this? (it's our first time trying OSS Contributions) If so, would you been able to provide the activity/file that needs to work? I'm searching for it now and can't seem to figure it out.

[2021-11-16 05:20] Prince-kushwaha commented on #4508
@nicolas-raoul  can i work on this issue

[2021-11-16 06:24] nicolas-raoul commented on #4508
@Prince-kushwaha It is yours, thanks! :-)

[2021-11-16 06:55] misaochan commented on #4704
AFAIK this is to check certain things that would impact the ability to upload at all (or the user's choice to upload), e.g. duplicate images and dark images. It may be possible to handle this in the background, but in that case the user would have started typing their caption and desc, only to be told that this image is a duplicate of one that already exists?

[2021-11-16 07:19] nicolas-raoul commented on #4704
Thanks for the explanation!
So I guess the wait is unavoidable **for the first picture**.

How about for the second/third/etc pictures? :-)
Ideally the app would be able to detect darkness/duplicates/etc of picture N while the user is typing the caption of picture N-1?

Actually, I often have 20 pictures of the same thing under various angles, and just use the same caption for all of them. In that

[2021-11-17 06:24] Ayan-10 commented on #4620
@nicolas-raoul I was talking about the previously selected categories. In the current update UI, the previously selected (While uploading) categories are shown in a Textview. Is it necessary to show the previously selected (While uploading) categories in this new UI? If yes then how do you prefer to show those?

[2021-11-17 06:54] nicolas-raoul commented on #4620
Ah, good point!

Yes, showing previously selected categories would be great!
Showing them the same way as when uploading is fine.

Actually, using the exact same logic to remember previously used categories (both when uploading and when categorizing existing pictures) would be ideal.

Example: If I categorize an existing picture as "building", then chances are high that next time I categorize anot

[2021-11-17 08:08] Ayan-10 commented on #4620
@nicolas-raoul Sorry, but I am not getting your point can you explain me a little elaborately.
In the current UI, previously (while uploading the image) selected categories are shown in Textview.
**Like this**
<img src="https://user-images.githubusercontent.com/71203077/142159848-c5828f56-50ad-4639-b370-2109a1bbcb5b.png" width=300/>

Where should I show these previously (while uploading the image)

[2021-11-17 09:50] nicolas-raoul commented on #4620
Thank you for the screenshot, that makes things clearer.
What you highlighted in red (categories that the existing picture currently has) should be shown as pre-selected checkboxes.

Some categories such as `All free media` are "technical", do not worry if they do not appear. If they appear it is OK too, though.

Example of the current category edition UI, and of how the future category edition UI

[2021-11-19 08:27] mds08011 opened #4706 ""Images Used" profile metric not showing correct count"
**Summary:**

My profile in the Commons app shows the "Images Used" metric as 0/5 despite the fact that a few of my photos are used in Wikipedia articles (listed below).

Photos
- https://commons.wikimedia.org/wiki/File:Golden_Hill_corner.jpg
- https://commons.wikimedia.org/wiki/File:Nebelung_cat_looking_out_door.jpg
- https://commons.wikimedia.org/wiki/File:Euclid_Trolley_Station.jpg

**Steps to

[2021-11-19 15:59] deek121477 commented on #4701
While uploading images on the commons app I have uploaded only 1 image as there was no option for 4 images to be uploaded. Here I am attaching the link to the image that I have uploaded:

https://commons.m.wikimedia.org/wiki/File:Air_is_wild_with_the_leaves.jpg?markasread=44574435&markasreadwiki=commonswiki