[2018-07-10 15:02] VaishSiddharth commented on #1678
Ok I will send the pull request for this issue. And report other issues also.

[2018-07-10 15:04] misaochan commented on #1698
Hi @Czeva , thanks for the suggestions!

For (1), do you mean that you would like the images automatically added to [your Commons user page gallery](https://commons.wikimedia.org/wiki/Commons:User_pages#Galleries)?

(2) is a really good point! We need to work on this soon, it is currently tracked here #1013

[2018-07-10 15:04] misaochan commented on #1013
Is anyone currently working on this?

[2018-07-10 16:10] maskaravivek commented on #1693
I have created a task on the phabricator workboard about implementing the first task ie. #1514. If other contributors come up to help we can pick more tasks as well. :)

[2018-07-10 17:36] VojtechDostal commented on #1683
Hello all, sorry for taking longer to answer (vacation time). This looks really good and I don't think I know enough about this to be able to comment on prioritization of issues etc. To me it looks really logical and easy to verify. We'll be discussing this in depth next week and we'll e-mail you some summary of our agreement (which doesn't need to be signed as far as we are concerned) including s

[2018-07-11 00:48] hismaeel commented on #161
Oh I just checked again; I was looking at a different picture of mine. The base URL was my problem. So I tried:
[code]
And it all works! It workls on the regular commons app.
@whym Thanks for your help :-)
I'll now move on to implement it.

[2018-07-11 03:08] nicolas-raoul opened #1702 "Typo: Should be "No subcategories found""
plural & case
![screenshot_20180710-233643](https://user-images.githubusercontent.com/99590/42548618-fe472d48-8502-11e8-9b58-85a7e425e869.png)

[2018-07-11 03:12] nicolas-raoul opened #1703 "Hide technical categories?"
Not sure if we should hide them or leave them.
Surely when many users start using the feature they will form opinions about this.
In any case, not a priority and outside the scope of GSoC.

![screenshot_20180710-233731](https://user-images.githubusercontent.com/99590/42548742-9c59457a-8503-11e8-929a-82c576d0951b.png)
![screenshot_20180710-233602](https://user-images.githubusercontent.com/99590/425

[2018-07-11 05:50] nicolas-raoul opened #1704 ""Parent categories" should not show message about subcategories"
Should be "No parent categories found." instead.

![screenshot_20180711-140958](https://user-images.githubusercontent.com/99590/42552925-918f9c28-8519-11e8-988b-069d7b12d6d9.png)

[2018-07-11 06:43] nicolas-raoul commented on #66
Two years later, the app now allows to explore categories (media, subcategories, parent categories):
![42507578-438d001c-8463-11e8-9874-4e1ad35dc19f](https://user-images.githubusercontent.com/99590/42554792-2fe9d274-8521-11e8-9531-9b46ab8f2f9b.png)
It sounds that this "Explore" feature could be reused to improve categorization, with the benefits described by this issue.

[2018-07-11 10:46] Czeva commented on #1698
Hi @misaochan , thanks for the quick reply.

For (1), yes - if the uploader chooses to paste the thumbs in his/her gallery, it is their responsibility to get rid of excessive numbers of photos by creating gallery subpages. The same thing is offered when uploading through [VicunaUploader](https://commons.wikimedia.org/wiki/Commons:Vicu%C3%B1aUploader) and I guess it works fine. I had to include [th

[2018-07-11 14:22] ujjwalagrawal17 commented on #66
Really nice idea. Maybe we will have to think of the UI as there can be multiple parent category so we can't just navigate the user to a particular one. We need to show user list of parent categories along with subcategories in 2tabs that too in a bottom sheet layout can be good.

[2018-07-11 16:11] misaochan commented on #1683
Thanks all! :)

[2018-07-11 17:12] VaishSiddharth commented on #1704
I am not in gsoc 2018 can I work on this issue?

[2018-07-12 05:00] nicolas-raoul commented on #66
@ujjwalagrawal17 You are totally right that a category can have several parent categories. I was not aware of that two years ago. You are also right that #1244 can be solved at the same time.
In terms of UI, how about this:
![commons-issue66-mockup svg](https://user-images.githubusercontent.com/99590/42613414-c5edd576-85db-11e8-8ec9-5e954d631697.png)

- Screen A: A loop icon is visible at the left

[2018-07-12 05:01] nicolas-raoul commented on #1704
Yes sure, feel free to send a pull request, thanks!

[2018-07-12 05:14] VaishSiddharth commented on #1704
I am not able to reach the category activity in the app please tell the steps to reproduce this issue.

[2018-07-12 07:48] nicolas-raoul opened #1706 "NullPointerException at SearchImageFragment.updateImageList"
Browsed categories, left the app for a few hours, then brought it back and pressed Back a few times.
[code]

[2018-07-12 07:52] nicolas-raoul commented on #1700
Fixed, thanks!

[2018-07-12 07:52] #1700 closed

[2018-07-12 07:53] #1699 closed

[2018-07-12 07:56] nicolas-raoul commented on #1648
Duplicate of #1665

[2018-07-12 07:56] #1648 closed

[2018-07-12 07:59] nicolas-raoul commented on #1665
Probably this has been happening since ever before, but the browsing feature makes it more important because it makes us look at pictures much more than before.

[2018-07-12 08:06] ujjwalagrawal17 commented on #1704
@VaishSiddharth you need to checkout browse-commons-via-app branch to reproduce and fix this bug.

[2018-07-12 08:34] VaishSiddharth commented on #1704
Ok thanks:blush:

[2018-07-12 10:13] Vesihiisi opened #1707 "Use author's name from Preferences if available"
In my Preferences on Commons I can set a personalized string to be used in the author field of my photos (Preferences → Upload wizard → Author's name). It would be nice if the app could apply it as well. I know some users prefer to use their full name there rather than their username.

[2018-07-12 14:36] ujjwalagrawal17 commented on #66
We can maybe put the done text in the menu (toolbar).

[2018-07-12 14:54] nicolas-raoul commented on #66
Yes good idea! :-)

On Thu, Jul 12, 2018 at 11:36 PM, Ujjwal Agrawal <notifications@github.com>
wrote:

[2018-07-12 15:08] ujjwalagrawal17 commented on #66
Can we place the select this category icon in the menu too ? Tick icon and DONE TEXT on the right .

[2018-07-12 15:39] nicolas-raoul commented on #66
Do like you want, just make sure it is visible at all times 🙂

On Fri, Jul 13, 2018, 00:08 Ujjwal Agrawal <notifications@github.com> wrote:

[2018-07-12 17:45] VaishSiddharth commented on #1704
@nicolas-raoul I am in browse-commons-via-app branch and I am able to run the app but not able to reproduce this issue. Please help.

[2018-07-13 01:52] nicolas-raoul commented on #1704
Go to Explore>Search then please post a screenshot of a category's parent
categories tab showing no results.

On Fri, Jul 13, 2018 at 2:45 AM, Siddharth Vaish <notifications@github.com>
wrote:

[2018-07-13 03:35] maskaravivek opened #1708 "Enhancing stacktraces from RxJava"
Stacktraces from RxJava callables are often not very helpful. They contain no trace of which line in our codebase caused the issue. For eg recently we were trying to figure out a play store crash #1545(C). The below stacktrace doesn't tell which part of the code led to NPE.

[code]

Is there a way to enhance these logs. I found a few libraries for the same:

- https://github.com/T-Spoon/Traceur
-

[2018-07-13 04:50] VaishSiddharth commented on #1704
I can't find parent category and even searching CommonsRoot doesn't shows anything.
![](https://i.imgur.com/tKgOpak.png)

[2018-07-13 05:54] nicolas-raoul commented on #1704
You don't seem to be using the latest browse-commons-via-app branch of the
project's GitHub, please pull.

On Fri, Jul 13, 2018 at 1:50 PM, Siddharth Vaish <notifications@github.com>
wrote:

[2018-07-13 06:21] VaishSiddharth commented on #1704
Ok thanks

[2018-07-13 08:36] tanvidadu commented on #274
<img src = "https://user-images.githubusercontent.com/29161745/42681585-b9d47d2e-86a5-11e8-8f8c-5b06319ca598.jpeg" width="100%" height="100%"/>

can this image be used as blurry/low quality image ?

[2018-07-13 08:42] nicolas-raoul commented on #274
Sorry for the long wait! Here is my blurry hand feel free to use it or not, public domain ^^
https://i.imgur.com/Kepb5jR.jpg

Actually this night picture looks *not blurry* on a normal smartphone screen size.

[2018-07-13 08:48] nicolas-raoul commented on #274
How about this very blurry one? Also mine, public domain.
![oculus_go_-_7](https://user-images.githubusercontent.com/99590/42682180-c731c890-86c4-11e8-9c23-b17b8b1c1973.jpg)
I made it very small because per definition it does not contain much information. I guess it can be scaled up from within the app.

[2018-07-13 08:53] tanvidadu commented on #274
thanks @nicolas-raoul ! These images are perfect for quiz :)

[2018-07-13 18:06] VaishSiddharth commented on #1704
I have sent the PR please have a look.

[2018-07-13 18:55] VaishSiddharth commented on #1704
@nicolas-raoul I have sent a pull request which fixes two issues (#1702 & #1704) of similar type please check.

[2018-07-13 19:14] VaishSiddharth commented on #1665
@nicolas-raoul I am not able to see any images in Featured Images it shows No images found! Please help.

[2018-07-13 19:18] ujjwalagrawal17 commented on #1665
@VaishSiddharth  can you post the screenshots of explore activity here.

[2018-07-13 19:20] VaishSiddharth commented on #1665
@ujjwalagrawal17
![screenshot_20180714-004959](https://user-images.githubusercontent.com/36266597/42709959-e482e042-86ff-11e8-9ac4-00d76c6e319b.png)

[2018-07-13 19:34] VaishSiddharth opened #1713 "Alignment of language selection dialog in About>Translate"
**Summary:**

The drop down menu in translate does not looks good.

**Steps to reproduce:**
1. Go to About
2. Tap on Translate
3. See the drop down menu

**Device and Android version:**

Xiaomi Mi A1 (Android 8.0.0, API 26), with 2.7.2-debug-master~fa6353b3

**Screen-shots:**

![screenshot_20180714-010003](https://user-images.githubusercontent.com/36266597/42710475-d3607926-8701-11e8-9098-6b01242d

[2018-07-13 19:40] ujjwalagrawal17 commented on #1665
I think you are in wrong branch or your branch is not updated. can you pull the code from browse branch.

[2018-07-13 19:43] VaishSiddharth commented on #1665
Ok i am in wrong branch. Please can you tell how to identify that which branch to work on for a particular issue. Thanks

[2018-07-13 20:09] ujjwalagrawal17 commented on #1665
Every issue has a many labels most of them have a label for branch. Like this issue has browse-commons-via-app-branch. Also you can check your local branch using git branch.

[2018-07-14 01:57] cvhariharan commented on #1707
I would like to give it a try.

[2018-07-14 13:53] VaishSiddharth commented on #1713
@nicolas-raoul This issue need to be worked on i hope.

[2018-07-14 18:32] ninad458 opened #1718 "NPE in ContinueUtils"
There is a NullPointerException in ContinueUtils.
continueElement.getAttribute("continue") returns null

`label:featured`

Clicked Featured from the drawer.

`07-14 23:42:26.767 4030-4030/fr.free.nrw.commons.debug E/CategoryImagesListFragm: Error occurred while loading featured images
    java.lang.NullPointerException: Attempt to invoke interface method 'java.lang.String org.w3c.dom.Element.getAt

[2018-07-14 18:35] ujjwalagrawal17 commented on #1718
@ninad458 this issue is already fixed in browse branch so I think it will be fixed when we merge browse branch with master. You may work on some other issue.

[2018-07-14 18:37] ujjwalagrawal17 commented on #1718
You can look in the open issues and comment I start working on this before starting the work.

[2018-07-14 18:58] ninad458 commented on #1694
I would like to take this one. I am a beginner contributor though. So a summary might help.

[2018-07-14 19:03] VaishSiddharth commented on #1694
@ninad458 This issue already has a pull request so I don't think you need to work on this.

[2018-07-14 22:04] albendz commented on #1653
Can anyone check my PR? https://github.com/commons-app/apps-android-commons/pull/1696

[2018-07-15 13:23] nicolas-raoul commented on #1713
What do you suggest to make it look better?

On Sat, Jul 14, 2018 at 10:53 PM, Siddharth Vaish <notifications@github.com>
wrote:

[2018-07-15 17:55] VaishSiddharth commented on #1713
There is some text which is right aligned so it should be aligned to the left side.
![screenshot_20180715-231905](https://user-images.githubusercontent.com/36266597/42736485-c69c7dcc-8885-11e8-90dd-d86f2f663ba4.png)
The word (Kazakh) is not aligned properly. I mean its too much on the left side this should also be properly aligned.
![screenshot_20180715-231955](https://user-images.githubuserconten

[2018-07-16 13:24] #1706 closed

[2018-07-16 13:24] #1665 closed

[2018-07-16 14:13] misaochan commented on #1653
Sorry @albendz , we are rushing for an (already late) release. :( We should be able to get to your PR this week after that is done.

[2018-07-16 18:33] albendz commented on #1653
I understand, just wanted to make sure it didn't get lost. Good luck with the release! (also, let me know if I can help)

[2018-07-17 03:05] nicolas-raoul commented on #1718
Thanks! :-)

[2018-07-17 03:05] #1718 closed

[2018-07-17 05:37] nicolas-raoul opened #1721 "Parent categories loading icon keeps spinning forever, even after coming back to stable network"
I kept pressing random subcategories and random parent categories on my way from outside.
When the phone connected to my home WiFi (I guess but maybe it is irrelevant), the tab I was on did not leave the state where the waiting icon spins. It has been spinning for 10 minutes now. Below is a part of the logcat that seems to match that timing. Note the CalledFromWrongThreadException at the end.
[cod

[2018-07-17 05:46] nicolas-raoul opened #1722 "1.5 MB memory leak in CategoryDetailsActivity"
Not sure exactly whether this is a problem or not, but better have a look I guess:
[code]

[2018-07-17 08:44] misaochan commented on #1485
I had a failure happen to me while testing the 2.8-release branch on prodDebug. Associated logs:

[code]

[2018-07-17 08:48] misaochan commented on #1478
An additional issue that I found while doing the final pre-release testing - isDirectUpload seems to always return true, e.g. see log `07-17 18:45:27.672 6243-6243/fr.free.nrw.commons.debug D/ShareActivity: This was initiated by a direct upload from Nearby`. This means that uploads via Gallery or Camera also have their titles and descs prefilled by the last Nearby selection, which shouldn't happen

[2018-07-17 08:51] misaochan commented on #1485
Logging out did not fix the issue, my next upload (via the same method) also failed, but with a different log:

[code]

[2018-07-17 08:56] misaochan commented on #1485
3rd test, via Gallery > selecting a photo stored on external storage (not Google Photos):

[code]

[2018-07-17 09:24] misaochan commented on #1485
I think the MediaDataExtractor exception is unrelated - it happened when I tap the failed image to investigate further, and that class appears to be only for displaying media details. Here are the complete logs for the 4th failed upload, without tapping the failed image.

[code]

 I guess the two key lines are:
[code]
Which unfortunately doesn't appear to be much help.

[2018-07-17 09:41] misaochan commented on #1485
I commented out the call to findOtherImages to ensure that the error below is not related to the failure. It isn't - image upload still fails without that method call.

[code]

[2018-07-17 09:58] misaochan commented on #1485
And finally, as suggested by @neslihanturan , here are logs for a successful upload from a 2nd emulator (with the same API, settings, etc). We can compare both sets of logs to see the difference.

[code]

[2018-07-17 18:17] VaishSiddharth commented on #1713
@nicolas-raoul I think it looks synchronized if we align all languages LTR otherwise its looks as if its an issue rather than intentionally done. May be centrally aligned solves this confusion.

[2018-07-18 01:48] nicolas-raoul commented on #1713
I agree that centrally aligned may be the best.

[2018-07-18 06:31] nicolas-raoul commented on #1515
This can be closed I guess?

[2018-07-18 08:10] ujjwalagrawal17 commented on #1721
We don't have a network broadcast receiver in the fragment now. currently, it will load images if we have internet at the time of clicking tabs. We should call APIs again when we receive a callback of internet connection establishment. I will try to do it.

[2018-07-18 09:07] nicolas-raoul commented on #1721
If it is too difficult, how about just displaying "Internet connection failed" when that happens?

[2018-07-18 09:50] ujjwalagrawal17 commented on #1721
@nicolas-raoul I think I have already added that. I will try to reproduce the same.

[2018-07-18 09:50] #1515 closed

[2018-07-18 09:52] misaochan commented on #1713
Sounds like the best solution to me. I agree with the poster who said that left-aligning RTL languages for very short phrases isn't usually an issue.

[2018-07-18 11:38] ujjwalagrawal17 commented on #1642
This is added.

[2018-07-18 11:38] #1642 closed

[2018-07-18 12:45] maskaravivek opened #1725 "Beta and prod flavor of the app should coexist"
**Summary:**

Right now, if the prod flavor of the app is installed then the beta installation gets overridden. This happens because of the following issues:

- beta and prod app use the same application ID
- account type is same for both flavors
- content providers are the same for both flavors.

These things need to be fixed so that both the app can coexist.

This could be a potential issue(not

[2018-07-18 14:44] nicolas-raoul commented on #1485
In order to help investigation on this issue, I created a special version of the app that outputs all HTTP requests and responses to logcat:
https://github.com/nicolas-raoul/apps-android-commons/commit/65afb0d74d07f1c2fb2b61720eff46c7c7e360f7

As you can see it is a simple build.gradle change so feel free to try it by simply modifying your file.
If you need to see more HTTP details please create a

[2018-07-18 16:07] VaishSiddharth commented on #1713
@misaochan So should i align all the languages to the left?

[2018-07-18 16:23] ujjwalagrawal17 commented on #1553
The option for exploring images is available now in app. Can we add a option to explore categories too ?? In tab 2 ?? Commons website main page has this too.
Please share your opinions @nicolas-raoul
@misaochan @maskaravivek @neslihanturan

[2018-07-18 16:33] VaishSiddharth commented on #1697
@misaochan Can i work on this?

[2018-07-18 16:42] misaochan commented on #1713
Lets wait for @nicolas-raoul to get back to us, shall we? :)

[2018-07-18 16:42] misaochan commented on #1697
@parth96 Are you still interested in working on this?

[2018-07-18 16:46] misaochan commented on #1485
Logs with @nicolas-raoul 's modification below. I (and @maskaravivek ) think it would actually be nice to have this output in the debug build variant of our app, although I would probably prefer to have it in verbose so we can filter it (instead of the current debug log level).

[code]

[2018-07-18 16:52] misaochan commented on #1485
@maskaravivek , the last GET response looks interesting:

`07-19 02:43:55.313 6251-6488/fr.free.nrw.commons.debug I/System.out: HTTP Response: 200 Date=Wed, 18 Jul 2018 16:43:55 GMT Content-Type=text/xml; charset=utf-8 Transfer-Encoding=chunked Connection=keep-alive Server=mw1341.eqiad.wmnet X-Powered-By=HHVM/3.18.6-dev P3P=CP="This is not a P3P policy! See https://commons.wikimedia.org/wiki/Speci

[2018-07-18 17:22] parth96 commented on #1697
Sorry,I am engaged in something else won't be able to work on it.

[2018-07-18 23:19] nicolas-raoul commented on #1713
@VaishSiddharth could you please implement as described in my comment https://github.com/commons-app/apps-android-commons/issues/1713#issuecomment-405823136 ? Thanks! :-)

[2018-07-18 23:22] misaochan commented on #1697
It's yours @VaishSiddharth . :)

[2018-07-19 09:40] maskaravivek opened #1727 "Fix issue where the toast bar is not shown if not called from main thread"
**Summary:**

Sometimes the toast is not shown if the caller thread isn't the UI thread.

**Steps to reproduce:**

Try to download an image.

**Add System logs:**

[code]

**Would you like to work on the issue?**

Yes.

[2018-07-19 10:40] misaochan commented on #1485
Logs with the new commit number:

[code]

[2018-07-19 13:29] nicolas-raoul opened #1729 "Explore: Show all valued images"
Currently, only featured images are shown in Explore.
Making it show a broader category (including valued images + quality images + featured pictures) would be more interesting for users who often open the app.

[2018-07-19 15:57] nicolas-raoul commented on #1485
[code]
All requests have their response.
The response just before WTF/mustbeloggedin is the response to request 10, the POST.

[2018-07-19 17:14] VaishSiddharth commented on #1713
@nicolas-raoul @misaochan  Please have a look at the screenshots. Should i send a pull request?

![screenshot_20180719-224008](https://user-images.githubusercontent.com/36266597/42959016-f429dfe2-8ba4-11e8-92c6-f2128c6ad4e2.png)
![screenshot_20180719-224017](https://user-images.githubusercontent.com/36266597/42959017-f4672a6e-8ba4-11e8-8ea6-84b7b1aa234d.png)

[2018-07-19 17:50] misaochan commented on #1713
I think @nicolas-raoul meant that the alignment should depend on the alignment of the language that the user is currently using? However, IMO your current code is an improvement to the existing state anyway, as the lack of alignment makes scanning the dropdown list really difficult. So you could submit a PR with that first, but we can keep this issue open so that an enhancement for RTL languages c

[2018-07-20 11:42] nicolas-raoul opened #1731 "New Wikidata item based on this picture"
WikiShootMe has this feature:
![screenshot_20180623-122754](https://user-images.githubusercontent.com/99590/43000423-4ddc5332-8c5c-11e8-819a-7507f045515e.png)
It can be useful to add a bridge or a destroyer that does not exist in Wikidata yet.

- We must ask for a label and description, we could pre-fill them with the picture's title and description
- We must ask what class the item is an instance

[2018-07-20 15:00] misaochan commented on #1731
Sounds like a good idea!

Now that we have an API for fetching revert count and a level system, I wonder if we can use it to "unlock" functionality like this. For instance, maybe you would need to reach level 5 (<10% reverts and certain number of uploads) to use this.

[2018-07-20 17:01] VaishSiddharth commented on #1713
@misaochan Ok

[2018-07-20 17:29] VaishSiddharth commented on #1713
@misaochan By mistake I have commited this improvement with a branch which I had already used in a Pull request previously #1695. Please tell me what to do. Should I make a new pull request now? Or add in the description of that pull request about this improvement.

[2018-07-20 18:06] VaishSiddharth commented on #1697
@misaochan I plan to ask for user permission and then the activity will finish. When the user will again start the upload from gallery it will work as expected and the upload will begin. Is this ok?

[2018-07-20 22:07] maskaravivek commented on #1731
I like the idea of using a certain level to unlock this functionality.

[2018-07-21 03:30] nicolas-raoul commented on #844
Happening currently in 2.8-release branch:
![screenshot_20180720-004644](https://user-images.githubusercontent.com/99590/43031690-c5bda196-8ce1-11e8-9060-89260f02c93c.png)

[2018-07-21 03:42] nicolas-raoul opened #1732 "Prevent uploading media that already exists on Commons"
The app currently allows to upload a picture twice. Actually, I have uploaded some pictures 3 times because I could not remember whether I had uploaded yet or not.

Before starting the upload (possibly when entering the title/description), the app should check whether the picture has been already uploaded or not, using [this](https://opendata.stackexchange.com/questions/5279/live-database-of-check

[2018-07-21 04:48] nicolas-raoul opened #1733 ""No categories matching" message does not disappear"
**Steps to reproduce:**

1. Search for a category that does not exist
2. Message "No categories matching" appears
3. Correct your input to match a category that exists
4. The correct category appears
5. Observe that the message is still there

Expected: The message should disappear at step 3

**Device and Android version:**

Android 7.1.2

 **Commons app version:**

Branch 2.8-release

**Screensho

[2018-07-21 13:16] maskaravivek commented on #1485
@nicolas-raoul The request body and headers are not being logged for POST requests by the logging library. Would it be possible for you to add these logs to the library?

[2018-07-21 16:46] nicolas-raoul commented on #1485
@maskaravivek The strange thing is that I have log the headers, and they appear when I run tests on Ubuntu, but then the headers do not show up on Android.
Do you really want the body of the requests? GET requests do not have a body, and for the POST request it is presumably just the image. I will try adding that tomorrow.

[2018-07-22 06:44] misaochan commented on #1697
Can you not proceed with the upload after permission is granted?

[2018-07-22 06:45] misaochan commented on #1713
I would make a new PR, as they are fixing very different issues.

[2018-07-22 12:33] #1316 closed

[2018-07-22 14:28] neslihanturan opened #1734 "Multiple Uploads crashes if user try to upload without title"
**Summary:**

Try to multiple upload and click upload button without title, it crashes.

**Add System logs:**

[code]

**Device and Android version:**
It happens on almost all devices. One is emulator API 24

 **Commons app version:**
current master

**Would you like to work on the issue?**

No, if possible:)

[2018-07-22 15:51] #1727 closed

[2018-07-22 15:54] neslihanturan opened #1735 "Nearby crash when LatLng is null"
**Summary:**

I am able to get this crash on some first runs. Then it gets solved.

**Steps to reproduce:**

Not very stable, sometimes, it happens. Ie, once I turned off wireless connection and it happened.
**Add System logs:**
[code]

[2018-07-22 21:44] albendz commented on #1734
I will take a look at this

[2018-07-23 02:55] AmineToualbi commented on #1732
Hi, I'm new to open-source contributing.

Do you think it'd be a nice task for a first-timer?

[2018-07-23 03:17] nicolas-raoul commented on #1732
If you know a bit of Android or Java programming then yes, I think so :-)

On Mon, Jul 23, 2018, 11:55 Amine <notifications@github.com> wrote:

[2018-07-23 05:50] #1670 closed

[2018-07-23 05:51] neslihanturan commented on #1734
I tagged as assigned @albendz , it is yours

[2018-07-23 07:32] nicolas-raoul commented on #1732
@misaochan I certainly have uploaded many duplicates with recent versions of the app, for instance this one: https://commons.wikimedia.org/w/index.php?title=File:%E8%AA%BF%E5%B8%83%E5%B8%82Green_Hall_3.jpg&redirect=no
So I guess some investigation is needed, as you wrote.

[2018-07-23 07:39] misaochan commented on #1732
@nicolas-raoul By "recent versions" do you mean the Play Store versions, or only the builds from the repo?

[2018-07-23 07:51] nicolas-raoul commented on #1732
I meant build from the repo, in particular the browse branch, but I don't think the browse branch is different from 2.8-release in that respect.
The first thing would be to try and reproduce the problem using the 2.8-release branch from Git. @AmineToualbi

[2018-07-23 08:01] misaochan commented on #1732
Secondly I would test the Play Store version (2.7) to see if the problem exists there too. If it doesn't, then we know roughly when the issue was introduced. :)

[2018-07-23 09:47] misaochan commented on #1485
@nicolas-raoul @maskaravivek Should I re-test with the latest commit?

[2018-07-23 09:49] nicolas-raoul commented on #1485
Sorry I had a look yesterday but adding the body is not easy as the code that code that is in yet another library :-/

[2018-07-23 10:37] neslihanturan opened #1738 "Conflicts while pulling localisation updates."
**Summary:**

Normally we never experience conflicts after pulling localization updates. Because we never edit someLanguage/string.xml files manually. But this time I experienced some conflicts, it comes from latest update.

@Nikerabbit do you have any theory about reason of this situation?

**Steps to reproduce:**

Pull latest updates and merge them to your branch

 **Screen shoots**

![screensho

[2018-07-23 12:49] PeterFisk opened #1740 "Uploading any photo fails"
**Summary:**

When trying to upload any photo in the Wikimedia Commons app, the upload fails.

**Steps to reproduce:**

All uploads fails, regardless of which method I use: selecting a photo directly in the app, or browsing to an image and then share it via the app.
I tried resetting the device, and loging out and in again, with no luck.

After installing the beta version, it works.

**Add System

[2018-07-23 14:38] misaochan commented on #1740
Thanks for the report, @PeterFisk . We are currently tracking this at #1485 , but all new information is helpful.

This is interesting, as the current beta and production version are both 2.7.2 - i.e. there is no code difference between the two. My best guess is that it isn't the beta version that helped, but rather the **reinstallation** of the app that helped. Did you ever try reinstalling the a

[2018-07-23 14:44] PeterFisk commented on #1740
No, I joined the beta program, then reinstalled the app.
My latest successful upload was on june 27th. After that, all uploads
failed until I reinstalled today.

PeterFisk

Den man. 23. jul. 2018, 16:38 skrev Josephine Lim <notifications@github.com

[2018-07-23 16:53] VaishSiddharth commented on #1697
@misaochan Ok i will try to do that but i am not sure about how to do it.

[2018-07-23 16:57] VaishSiddharth commented on #1713
@misaochan Do I have to do anything?

[2018-07-24 03:39] nicolas-raoul commented on #1740
@misaochan The log above does not contain "mustbeloggedin" so I believe it is a different problem.
How about releasing 2.8 with HTTP debug enabled to beta (or alpha)?

[2018-07-24 07:04] misaochan commented on #1489
Copied from #1683 - In its current state, "send logs" is not very useful - the logs are not filtered for our app, and some logs that we receive don't contain anything from our app even after filtering. We need to investigate why this is happening and modify the feature (with filters) so that we can actually get useful logs from users.

[2018-07-24 07:05] misaochan commented on #1740
Thanks again @PeterFisk , this was very helpful!

@nicolas-raoul I believe the reason why the log above doesn't contain "mustbeloggedin" is because of #1489 , unfortunately, as it was probably generated via the "Send logs" setting. As you can see, the log doesn't contain any of our other usual debug messages either.

I am not against doing a release with HTTP debug enabled, but do you think it wil

[2018-07-24 07:17] #1221 closed

[2018-07-24 07:17] misaochan commented on #1713
Yes, please separate your PRs based on the issue they are solving. So these improvements should not be in #1695 . There are a number of ways to do this - for instance, you could use git cherry-pick on another branch and then resubmit your #1695 PR via that branch with only the relevant commits, and then do the same for the commits fixing this issue (with a different PR).

[2018-07-24 07:38] nicolas-raoul commented on #1740
Logcat can also be relatively easily obtained with a USB cable and a computer, without downloading the whole SDK: https://softwarerecs.stackexchange.com/a/51226/140

[2018-07-24 07:50] misaochan commented on #1740
Sounds good. I'll create a closed testing alpha track. Should we go with using the "Only users in the specified Google Groups or Google+ Communities can join your beta programme" method? Would be easier than manually maintaining a list. We can create a Google group for alpha testing and invite people to sign up?

[2018-07-24 08:31] nicolas-raoul commented on #1740
What is wrong with allowing anyone to subscribe to the alphas? :-)

[2018-07-24 08:39] misaochan commented on #1740
I don't think there is an option to do that unfortunately. Alpha is automatically a closed track, the only 2 options are "google groups" and "lists".

[2018-07-24 08:58] maskaravivek commented on #1485
The headers are the most important thing as per my discussion with Tgr. He asked for the request body as it wasn't visible in the logs but the issue is likely to be in just how the headers are being sent.

@nicolas-raoul Have you already added the headers? Does it show up in logcat?

[2018-07-24 09:06] nicolas-raoul commented on #1740
Oh, interesting!
Creating a Google Group (and making that Google Group joinable without confirmation from us) sounds to me like the best then :-)

[2018-07-24 09:09] nicolas-raoul commented on #1485
@maskaravivek In the first version already I had implemented showing headers, and they show up when I test on Linux/Eclipse, but quite incredibly they do not show up when running on Android. Maybe the underlying implementation of some low-level networking Java classes is different.

[2018-07-24 12:22] nicolas-raoul opened #1741 "Attempt to invoke virtual method 'void android.support.v4.view.ViewPager.setCurrentItem(int)' on a null object reference"
In current master branch, press on Explore, then press on any picture. Crash:
[code]

Android 7.1.2

[2018-07-24 15:50] maskaravivek commented on #1485
In that case, we should consider other options to debug the HTTP traffic from the app. I came across a few tools that let you do so.

- https://stackoverflow.com/questions/17684936/android-capturing-http-requests-with-non-rooted-android-device
- https://medium.com/@rotxed/how-to-debug-http-s-traffic-on-android-7fbe5d2a34

I have personally used [Fiddler](https://www.telerik.com/fiddler) in the pas

[2018-07-24 15:59] maskaravivek commented on #1733
@nicolas-raoul I am unable to reproduce this issue on the `2.8-release` branch. I followed all the steps that you mentioned.

[2018-07-24 16:14] maskaravivek commented on #1489
As I mentioned above, we could consider Hyperlog for this purpose. It will keep storing the logs in a local file and when the user clicks on send logs we can attach that file in the email and send it.

- It will give us the filtered logs for our application
- The number of logs to be stored can be controlled by us
- Its open source and looks to be quite easy to setup.

[2018-07-24 19:44] VaishSiddharth commented on #1713
@misaochan Ok I will do it.

[2018-07-25 01:50] nicolas-raoul commented on #1741
[code]

[2018-07-25 01:58] nicolas-raoul commented on #1485
@maskaravivek Good ideas! I wonder whether any Commons server (maybe the beta one?) is accessible via HTTP (not HTTPS) that would simplify things.

[2018-07-25 02:30] nicolas-raoul commented on #1733
Yes, it does not happen every time, I guess there is a kind of race condition.

[2018-07-25 09:35] maskaravivek commented on #1221
@ujjwalagrawal17 Congrats for completing this task. Am really excited to see browsing features in the app. :)

[2018-07-25 20:03] Aschroet commented on #1734
Same one my phone. After such a crash i even cannot start the app again and need to re-install it.

[2018-07-25 20:52] AmineToualbi commented on #1037
Is someone working on this?

[2018-07-25 21:22] AmineToualbi commented on #1732
So, [this](https://github.com/commons-app/apps-android-commons/pull/336/commits/b5ccc36a77cf8973725714dc95ceb42fc4747dc6) doesn't work?

[2018-07-26 01:57] nicolas-raoul commented on #1732
@AmineToualbi Apparently not, strangely. The best would be to download [a file that already exists](https://upload.wikimedia.org/wikipedia/commons/f/f9/%E8%AA%BF%E5%B8%83%E5%B8%82Green_Hall_2.jpg) and reupload it while debugging in Android Studio.

[2018-07-26 02:00] nicolas-raoul commented on #1037
@madhurgupta10 What is the situation on this?

[2018-07-26 07:21] ilgazer commented on #1732
Would there be a way to compare files independent of their EXIF? #1712 modifies the EXIF tags of the photo which may cause 2 copies of the same picture to essentially have different hashes.

[2018-07-26 07:42] #85 closed

[2018-07-26 08:48] misaochan commented on #1740
Okay, I've uploaded the http logging version to alpha. Apparently it takes just as long as beta/production for the release to be live, so probably check in several hours.

I am actually a bit confused about how alpha works. The opt-in URL given to me for alpha was the same as that for beta - https://play.google.com/apps/testing/fr.free.nrw.commons . However, there is the additional requirement of

[2018-07-26 09:10] misaochan commented on #1478
As an update, given that this release has been delayed for so long pending a failed uploads fix, we may decide to merge the entirety of master into 2.8-release if our tests of master turn out OK. Does anyone know of any "dealbreaker" issues in master that may prevent this?

[2018-07-26 09:32] #1741 closed

[2018-07-26 09:51] nicolas-raoul commented on #1740
When I was a beta user I was getting whatever version was the most recent within beta+prod.
I guess alpha users will get whatever version is the most recent within alpha+beta+prod? I hope :-)

[2018-07-26 10:12] nicolas-raoul opened #1744 "More levels?"
Would it be difficult to add more levels?
Here are the current levels:
[code]
The progression is linear.
From level 15 how about geometric progression, like in Ingress or Pokemon Go?
Example:
[code]
I am sure bot operators or people who transfer pictures from Flickr can easily reach these levels.
Finally, time to boast about my level haha:
![screenshot_20180726-191013](https://user-images.githubus

[2018-07-26 10:30] nicolas-raoul opened #1746 "Strange animation when viewing any image"
**Steps to reproduce:**

1. Go to "My uploads" or "Explore" or browse a category
2. Press an image

Expected: The image just shows up
Actually: The previous image is briefly shown, and then a sliding happens before the image is shown

 **Commons app version:**

Current master.
I just noticed that today, I don't think it happened with two days ago's master

[2018-07-26 12:42] tanvidadu commented on #1744
I will send PR to incorporate the changes , thanks :)

[2018-07-26 13:51] nicolas-raoul opened #1747 "Attempt to invoke virtual method 'void android.view.View.setVisibility(int)' on a null object reference"
Crash in current master:
[code]

[2018-07-26 18:30] maskaravivek opened #1750 "App crashes when an upload is retried"
**Summary:**

I just opened my emulator and saw that there was a failed upload. I clicked on retry button and the app crashes.

**Add System logs:**

[code]

 **Commons app version:**

branch 2.8-release

[2018-07-26 18:42] maskaravivek commented on #1485
None of the above tools were working on my Mac so I wrote a small HTTP interceptor to log network traffic at `verbose` level. It is able to print the headers as well.

@misaochan Can you help in testing with the logging patch.

[2018-07-27 04:59] nicolas-raoul opened #1753 "In media search results, rotating screen triggers crash"
Crash in current master.
Steps:
1. Perform a media search
2. Rotate screen
3. Crash:
[code]

[2018-07-27 05:00] nicolas-raoul commented on #1747
Duplicate of #1753

[2018-07-27 05:00] #1747 closed

[2018-07-27 07:53] misaochan commented on #1485
Thanks @maskaravivek ! Below are my logs with the current 2.8-release branch on verbose, from uploading 1 failed image. Hopefully it works?

[code]

[2018-07-27 08:02] misaochan commented on #1485
There is a bit of an issue with this - I can't install the new 2.8-release without uninstalling, and if I uninstall I will likely lose the reproduction of the bug. Anyone know a way around this?

[code]

[2018-07-27 08:06] nicolas-raoul commented on #1485
I got this error message too, it is strange, I wonder what has changed that requires reinstalling.

[2018-07-27 08:08] nicolas-raoul commented on #1485
Vivek's code is easy to port to any other version so you might want to do that. Or is the error message triggered precisely by this code?

[2018-07-27 08:11] misaochan commented on #1485
Yeah, I just realized that the contentprovider probably changed in his previous PR (for prod/beta concurrent installs). I will just copy his changes into a version prior to that PR.

[2018-07-27 08:32] misaochan commented on #1485
Got it! Seems that restarting Android Studio automagically solves that error...

Failed upload on Nexus S API 24 emulator, prodDebug, verbose.

[code]

[2018-07-27 09:07] neslihanturan commented on #1600
Still happens on master for me.

[2018-07-27 09:22] neslihanturan commented on #1600
Also happens on 2.8-release branch too

[2018-07-27 14:02] ujjwalagrawal17 commented on #1238
@nicolas-raoul @misaochan @neslihanturan @maskaravivek
The order in which I think skip feature should work is Welcome Screen will come in first run after that everytime explore activity will come if user is logged in or not. The drawer menu will changed if user is not logged in

[2018-07-27 14:06] neslihanturan commented on #1238
My opinion:
After welcome screen, Explore screen should come if user is not logged in. Otherwise (if user is logged in), Main screen (which will be Upload and Nearby soon) should be visible. Since the main function of our app is uploading.

[2018-07-27 14:07] nicolas-raoul commented on #1238
Like Nes, I am in favour of keeping an upload-related activity (currently "My Uploads") as the default activity for logged-in users.
Everyone else what is your opinion?

[2018-07-27 14:13] neslihanturan opened #1754 "Bug in skip login option"
**Summary:**

1- Open app without logged in
2- Click on login from navbar
3- Click back button in login activity
4- You will see nav bar as in you are logged in, while you are not.

[2018-07-27 14:35] neslihanturan opened #1755 "Calculate how many users decided to have account after skip login feature."
**Summary:**

As you know, we are about to implement skip login feature #1238 as discussed here, thanks to @ujjwalagrawal17 . After this implementation is done, maybe we can count how many user browsed logged out, then decided to create a new account. It would be nice to know our contribution to number of commons users.

We need to be careful to prevent privacy violation.

[2018-07-27 17:42] maskaravivek commented on #1600
@neslihanturan It is not crashing for me when I open notifications. It seems you have some notification that is causing the issue. Can you put breakpoints and check which notification is the culprit. I will pick up this issue and fix it.

[2018-07-27 17:53] maskaravivek commented on #1238
I tried to conduct an informal survey at Wikimania to understand what would they like to see as soon as they enter the app. The opinions were divided, with many of the people wanting My Uploads activity as their home activity and many others were hoping for some explore commons feature(For them seeing their own uploads was not very useful). The sample space here is 15-20 people.

Given this dichot

[2018-07-27 19:19] sivaraam commented on #1238
I think giving the option to the user would result in us opening up the [pandora box](https://en.wikipedia.org/wiki/Pandora's_box). It might very likely cause unwanted issues in the upcoming days.

Me too (regardless of whether I'm not logged in/not).

I don't think @neslihanturan's statement "Since the main function of our app is uploading." would hold once the browsing and Explore feature have b

[2018-07-27 19:53] maskaravivek commented on #1485
Thanks for the logs @misaochan. I have created a [phab task](https://phabricator.wikimedia.org/T200560) with the above logs.

Please add to it if I have missed anything.

[2018-07-27 20:14] sivaraam commented on #1485
@misaochan I think you could link to the [corresponding paste](https://phabricator.wikimedia.org/P7395) in your comment to ease the readability of this issue.

[2018-07-28 06:41] nicolas-raoul commented on #1238
I believe we should avoid proposing options unless really necessary, because:
- It makes important options less visible
- It multiplies the possibilities of bugs
- It makes testing (and trying to reproduce crashes) take more time
I asked our Facebook community to comment here.

[2018-07-28 09:44] misaochan commented on #1485
@maskaravivek It looks good to me. Seems like tgr has a response.

@sivaraam Sorry, not sure what that is? The page says:

[2018-07-28 10:09] misaochan commented on #1238
To answer @ujjwalagrawal17 's question specifically, I personally think that the best way to implement this for the time being is to:
(1) display tutorial first, always, then
(2) display login screen with a prominent option to "proceed without logging in". If they decide to do that, then
(3a) we can display the browse activity as the main screen, otherwise
(3b) if they login, we proceed to uploads

[2018-07-28 10:19] nicolas-raoul commented on #1238
@misaochan About step (2): It was the topic of https://github.com/commons-app/apps-android-commons/issues/1238#issuecomment-399892860 in my understanding it has already been decided upon, and actually Ujjwal has implemented this way.

[2018-07-28 10:21] misaochan commented on #1238
@nicolas-raoul But in that case wouldn't that make the decision for us that browse must be the main activity?

[2018-07-28 10:30] misaochan commented on #1238
Hmm. In that case my only concern is that existing users would be surprised with the Browse screen and the lack of login screen (and since Browse currently looks a lot like Uploads, they may miss the title and wonder why they have such strange uploads now), but hopefully they will still try to upload anyway and be prompted to login.

It also raises the question of what we will do when #725 is impl

[2018-07-28 10:35] ujjwalagrawal17 commented on #1238
Yup now thinking again I also agree with @misaochan. We should make it like she is telling so that the current users (they are mainly uploaders) don't get totally disturbed. We can maybe change it later.

[2018-07-28 10:41] ilgazer commented on #1612
A better alternative would be implementing a delayed upload feature on the server side. So for example, Alice would upload a picture at 10.00 AM and the picture would show up at commons at a random time between 10.30 and 11.00. Thus, the bad guys would have no way to see which picture Alice uploaded. I'm not sure how difficult it would be to implement the serverside logic.

[2018-07-28 10:43] nicolas-raoul commented on #1238
We don't have _that_ many users right now, so I think it is OK to prioritize future users' experience :-)
@ujjwalagrawal17 don't you think it is a bit late to change that again? If you really feel that way please do like you want, and let us know as soon as it is ready to test.

[2018-07-28 11:14] ujjwalagrawal17 commented on #1238
Wikipedia app also directly shows explore page but they have a nice card for first time users which tells the advantages of login. One of the aim of Wikimedia Commons is to provide access to free usable images to everyone. Not just uploading. @misaochan if we delay it now then maybe it can be delayed for a long time. So I think we can skip the step you are saying and directly show explore as the m

[2018-07-28 11:31] ujjwalagrawal17 opened #1756 "Add a bookmark option in media Details"
**Summary:**
When exploring feature will be available to everyone. A lot of people will download images uploaded by others. But they users will not get the same in an Organised manner. It would be nice if we can have a bookmark option in media details menu and store the bookmarked filenames in the local history and show a list of bookmarked images later may be in the drawer of somewhere.

[2018-07-28 11:34] ujjwalagrawal17 commented on #1756
Maybe we can have a tab UI which contains bookmarked media, bookmarked nearby locations (#1499 ).

[2018-07-28 11:51] misaochan commented on #1238
IMO there is a big difference between the main aim of the Wikipedia app and the (current) main aim of the Commons app. The Wikipedia app is predominantly for reading, not editing. The Commons app is (to current users) mainly for uploading, not browsing. Things could certainly change in the future depending on the response to the Browse feature, but at the moment I really think we are not ready for

[2018-07-28 12:01] misaochan commented on #1756
I agree, this would be nice. :)

[2018-07-28 12:03] nicolas-raoul commented on #1238
With "Login" and "Upload" items in the navbar, I am sure existing users would not be lost.

I have no strong preference between the two, actually. It is just that there was a consensus and Ujjwal implemented it, so I feel bad about going back on this. But if Ujjwal is OK to implement as you say, I am totally OK with it :-)

Allowing non-logged-in users to browse is a mandatory GSoC task, scheduled

[2018-07-28 12:06] misaochan commented on #1238
Oh, okay! I guess if time is really an issue he can submit the PR first and we can alter the login flow later as needed. There is no GSoC requirement for it to actually be released to users, right? So we can release the current state of Browse first, and then leave the activity switch to a future decision.

[2018-07-28 12:11] nicolas-raoul commented on #1238
Understood!

So, @ujjwalagrawal17 please decide whether you prefer to first show a login dialog or not, and implement it :-) Please tell us what you choose and then let us know when it is ready.

[2018-07-28 12:13] nicolas-raoul commented on #274
Is there any way to test the quiz, besides uploading a lot of bad pictures? :-)

[2018-07-28 12:14] misaochan commented on #274
@nicolas-raoul I tested it by setting the values in a debugger. @tanvidadu could you link to your existing screencast that demonstrates what to do?

[2018-07-28 12:14] ujjwalagrawal17 commented on #1238
We can do it as @misaochan is saying it. I will update the PR accordingly and let you know.

[2018-07-28 12:35] misaochan commented on #1221
Just tested this on master, it works incredibly smoothly, and I love the recent searches feature! Well done @ujjwalagrawal17 . :)

[2018-07-28 12:39] misaochan opened #1757 "Switch achievements button from "person" icon to trophy icon?"
Minor issue - IMO the "person" icon next to the username on the nav bar looks like it would lead to a user profile, not an Achievements screen. To make it more explicit to users, how about a trophy icon? What do you guys think, anyone have any other suggestions? @nicolas-raoul @neslihanturan @tanvidadu @maskaravivek

[2018-07-28 12:42] nicolas-raoul commented on #1757
Related: #1745

[2018-07-28 12:44] misaochan commented on #1757
Oh, thanks, I didn't notice that! I will close this and copy my comment there. :)

[2018-07-28 12:44] #1757 closed

[2018-07-28 12:50] misaochan commented on #1732
The existing file dialog pops up for me in the current master. @nicolas-raoul would you mind trying on that?

@ilgazer I agree, but at the moment I'm not aware of a different method. :( I doubt it is possible without complicated AI processing.

[2018-07-28 13:00] misaochan commented on #1478
Master works well for me upon extensive testing with a real device. Merging it into 2.8-release. :)

[2018-07-28 13:33] nicolas-raoul commented on #1732
Yes I got warned about the duplicate, thanks! 🙂

On Sat, Jul 28, 2018, 21:50 Josephine Lim <notifications@github.com> wrote:

[2018-07-28 14:01] sivaraam commented on #1485
You do not have permission to view this object.
Users with the "Can View" capability:
This object has a custom policy controlling who can take this action.
The author of a paste can always view and edit it

@misaochan Yeah, the paste has been made private by @Tgr. He advises the following in the paste,

So, you should consider removing the log in your comment, @misaochan.

[2018-07-28 14:04] sivaraam commented on #1485
Or at the least sanitize the logs to remove the cookie information.

[2018-07-28 14:21] #1744 closed

[2018-07-28 14:55] misaochan commented on #1485
@sivaraam Is there any concern besides my personal privacy? I've already redacted everything that I don't feel comfortable sharing (IP and coordinates) before posting the log here.

[2018-07-28 15:00] nicolas-raoul commented on #1744
Thanks :-)
![screenshot_20180728-235649](https://user-images.githubusercontent.com/99590/43357829-517fb38c-92c2-11e8-9f02-7a832bd34e30.png)

[2018-07-28 15:02] tgr commented on #1485
Setting a bad example, mostly. Sharing cookie headers after you have logged out is safe (mostly - an attacker could probably still make use of the loginnotify cookie to prevent notifications if they somehow obtain your password) but that might not be obvious to others reading the task and might give them the idea that cookies are OK to share in public.

[2018-07-28 15:04] misaochan commented on #1485
Is it alright if we keep them here but remove them from Phab, @tgr ?

[2018-07-28 15:12] misaochan commented on #1732
Thanks! Let's close this unless there are further reports.

[2018-07-28 15:12] #1732 closed

[2018-07-28 17:49] sivaraam commented on #1485
From my interpretation, sharing cookies is **never right**, I suppose. What's your problem with removing them, @misaochan?

[2018-07-28 17:54] sivaraam commented on #1485
For the note, the phab paste has already been made private. There's no issue there.

@misaochan, If you're not sure how to remove cookie headers (as @tgr suggests), maybe he could help you with it?

[2018-07-28 18:51] tanvidadu commented on #274
@nicolas-raoul, please refer this short video which I recorded for the demonstration of quiz module https://drive.google.com/open?id=1cW2Pg6PrlWEB1IaRN4OCaraWlSbqDHhX

[2018-07-29 02:00] nicolas-raoul opened #1760 "Quiz electric bus question: Change the wording a bit"
![screenshot from 2018-07-29 10-55-19](https://user-images.githubusercontent.com/99590/43362167-fc7bdc74-931d-11e8-933c-95ad8daacc42.png)

I fear that many people will focus on the electric bus with realizing that the point of the question is about it being a screenshot.
People may think "Is a picture of an electric bus OK to upload? Sure it is!"

Solution: How about changing the wording to "Is th

[2018-07-29 02:02] nicolas-raoul opened #1761 "Quiz title spacing: "Question4" → "Question 4""
I think that a space is needed here.

![screenshot from 2018-07-29 11-01-44](https://user-images.githubusercontent.com/99590/43362193-d673194c-931e-11e8-9961-ec05d8a6794a.png)

[2018-07-29 13:51] misaochan commented on #1485
@sivaraam I believe we NEED the headers in order to diagnose the problem, which was the whole point of @maskaravivek 's patch? I can share them with him privately if needed, but was hoping others would have insight on it too.

[2018-07-29 14:54] sivaraam commented on #1485
Just to clarify things a little, I don't think @tgr was proposing to remove the headers *completely*. I believe he was only suggesting to remove the confidential *cookie related headers*? Am I getting this wrong?

[2018-07-29 15:22] knightcube opened #1764 "Add the list of libraries in the Readme"
**Summary:**
Please add the list of libraries being used in the app, to the Readme
For eg)
- Glide
- RxJava
- Dagger
- Stetho
- Leak Canary ,etc

[2018-07-29 16:26] misaochan opened #1765 "Error when building betaDebug or prodDebug from 2.8-release"
**Summary:**

Currently, building from 2.8-release gives me a build error that persists despite an uninstall, project clean, AS restart, and even a brand new emulator device.

**Steps to reproduce:**

Pull from 2.8-release and build. However, it might just be me experiencing this issue, in which case it would be good to know.

**Add System logs:**

[code]

**Device and Android version:**

Various

[2018-07-30 06:37] maskaravivek commented on #1746
Yes, the same is happening for me as well. I have never seen such animation earlier. Could be because of recent changes for browsing. It would be nice to cross check with @ujjwalagrawal17 if he is aware of any such change.

[2018-07-30 06:37] maskaravivek commented on #1738
@neslihanturan Is this issue still happening?

[2018-07-30 06:39] maskaravivek commented on #1734
@albendz Are you working on this? :)

We are very close to a release. It would be great to have this crash fix as part of this release itself.

[2018-07-30 06:40] maskaravivek commented on #1725
This was fixed in #1726. :)

[2018-07-30 06:40] #1725 closed

[2018-07-30 06:42] maskaravivek commented on #1707
It would be a nice little feature in the app. :)

[2018-07-30 06:45] maskaravivek commented on #1661
Closing this issue as we have already reached a consensus and have started following the branch tag convention. :)

[2018-07-30 06:45] #1661 closed

[2018-07-30 06:47] ujjwalagrawal17 commented on #1746
Actually there was an issue on opening media details from explore the adapted was getting null immediately so I added a 0.05sec delay using handler to stop the crash. Please see PR #1743 .

[2018-07-30 06:48] ujjwalagrawal17 commented on #1746
I will search a better solution for the same to fix this issue.

[2018-07-30 07:14] nicolas-raoul commented on #1746
Another problem probably related to this issue:
1. Scroll to picture N
2. Double-tap it (not a super-fast double-tap, let about 0.5 second between the two taps)
3. Picture N-1 gets displayed instead of picture N

[2018-07-30 09:35] misaochan commented on #1485
Ah, okay. So I guess the current custom policy paste is sufficient? (Thanks @sivaraam !)

[2018-07-30 10:59] nicolas-raoul opened #1767 ""Too dark" for picture with black background"
I got the "too dark" message:

![screenshot_20180725-135401](https://user-images.githubusercontent.com/99590/43393343-a7bab33a-9431-11e8-9840-c2425fdbb648.png)

... for this picture:

![_at_ _](https://user-images.githubusercontent.com/99590/43393370-c6806e40-9431-11e8-9950-05cf9f18694c.jpg)

I don't remember the specifics of the algorithm, but maybe it divides the picture into zones, and focused

[2018-07-30 12:25] whym opened #1768 "Provide a selectable list of reasons when requesting deletion of a file"
**Summary:**

The app allows the user to request the deletion of a file they uploaded from the Media details screen. The user has to provide a reason for deletion in free form text there. I suggest providing a selectable list of typical reasons to ease input and help other users to understand.

The most typical reason would probably be "_new, unused, upload by myself_" if the file has been uploade

[2018-07-30 14:57] sivaraam commented on #1485
Yes.

You're welcome :smile:

[2018-07-30 17:12] albendz commented on #1734
I was on vacation last week when it was assigned to me and can get started next week. When is your release? I can let you know if I can get it done by the release.

[2018-07-30 17:43] albendz commented on #1734
Question: how do you want this to behave when a user inputs a blank title? Do you want this to save with an empty name (I would not recommend this) or fail with a message of invalid title?

[2018-07-30 18:48] albendz commented on #1734
I'll have a PR today with a toast that indicates a title for the set is missing.

[2018-07-30 19:05] albendz commented on #1734
PR is up! https://github.com/commons-app/apps-android-commons/pull/1769

[2018-07-30 21:27] neslihanturan commented on #1480
All I could find about this bug is at here: https://github.com/mapbox/mapbox-gl-native/issues/11461 and I asked a question on thread. Maybe we get an answer.

[2018-07-30 23:24] ilgazer commented on #1128
Is there any interest in working on this feature?

[2018-07-31 03:01] nicolas-raoul commented on #1768
Good idea!

Ideally the messages should be clearly understandable by both the user and the administrators.
While "new, unused, upload by myself" and "unused and personal photo, out of scope" would be crystal-clear to an administrator, new users (people who have never read a Mediawiki talk page in their life) would not understand what it means. They would understand things like "I uploaded it by mi

[2018-07-31 08:43] VojtechDostal commented on #1740
Hi, I just logged off from my Wikimedia account on Wikipedia and then logged back in there. This seems to have caused the bug to reappear - now I cannot upload any picture. Logging off and back in *in the app* did not help.

PS: I am using 2FA.

[2018-07-31 10:54] nicolas-raoul commented on #1601
Running in debug, my breakpoint on `editWikidataProperty` never got called.

[2018-07-31 10:59] nicolas-raoul commented on #1601
Ah, here is the problem:
[code]

[2018-07-31 12:04] nicolas-raoul commented on #1601
Full log:
[code]

[2018-07-31 12:34] nicolas-raoul commented on #1601
I find this method of UploadController suspicious:
[code]
`setWikiDataEntityId` is done at a point where it does not seem to be useful anymore. Or are we somehow assured that UploadService uses this contribution, after waiting for it to finish?
Also, the code is mostly duplicated.

[2018-07-31 14:43] misaochan commented on #1601
@nicolas-raoul Just confirming that you are basing this on 2.8-release? I don't think Wikidata edits work on master.

Tagging @maskaravivek for input as well.

[2018-07-31 14:55] misaochan commented on #1765
Can confirm that this issue doesn't happen on current master. Will investigate further...

[2018-07-31 15:03] misaochan commented on #1740
@VojtechDostal Sorry, yes, we didn't seem to have much luck with solving the issue (see #1485 ). By the middle of this week I guess we may have to make a decision to revert all the changes we made to the auth system (including 2fa) if we still haven't managed to solve things, since the problems that this issue is causing to users outweighs the benefit of 2fa logins, and users have already been inc

[2018-07-31 15:36] tanvidadu opened #1770 "Add Zoom functionality to Explore"
**Summary:**

Add functionality to zoom images displayed after browsing through app ( Just like share Activity) .

**Would you like to work on the issue?**
If no one takes it up, I will work on it

[2018-07-31 15:47] nicolas-raoul commented on #1601
@misaochan Sorry I was testing with master! I will try with 2.8-release

[2018-07-31 15:48] nicolas-raoul commented on #1765
I get this on prodDebug:
[code]

[2018-07-31 16:42] misaochan commented on #1601
Sorry, I just remembered that 2.8-release has a build error! Building from `386bd0a106809251e472a73f89a5d9b9d6f7d37e` works for me currently. You can use that to test Wikidata edits.

[2018-07-31 18:08] maskaravivek commented on #1765
these imports are supposed to not exist. @misaochan I guess this came while rebasing. It isn't on master.

[2018-07-31 18:16] Mansi449 commented on #1037
@nicolas-raoul can I work on this issue?

[2018-07-31 18:51] Mansi449 commented on #1767
@nicolas-raoul I went through the algorithm.
According to the algorithm, the image is first divided into several rectangles.

For each rectangle:
The brightness level/luminance of each pixel in the rectangle is calculated and if it turns out to be less than 50, it is considered to be a dark pixel. If the number of dark pixels is more than 50% of the total number of pixels, then the whole rectangle

[2018-07-31 19:08] Mansi449 commented on #1764
@knightcube I would like to take up this issue.

[2018-08-01 01:46] nicolas-raoul commented on #1770
Thanks!
Just yesterday I was thinking we should add this, because many people want to view the whole picture in full resolution without actually having to press the "Download" button and viewing it with a different app as that is cumbersome and generates a lot of useless files on the SD card.

[2018-08-01 01:57] ujjwalagrawal17 commented on #1770
Yup, I was also thinking of this feature. I also created 1 issue similar to this #1147

The Wikipedia app displays the image in a very clean way. It would be nice if we can have it similar to them.

**Screenshot:**
![screenshot_20180731-211025](https://user-images.githubusercontent.com/19607555/43496458-16136be0-955b-11e8-9b20-5bdbcad41f6b.png)

A next step after this can be adding viewPager suppo

[2018-08-01 01:59] nicolas-raoul commented on #1037
@Mansi449 How about letting @AmineToualbi (who expressed interest 6 days ago) work on it?
@AmineToualbi No news from madhurgupta10 so it is yours, looking forward to your pull request :-)

[2018-08-01 03:06] nicolas-raoul commented on #1764
@Mansi449 It is yours, looking forward to your pull request :-)

[2018-08-01 04:34] albendz commented on #1750
Mind if I work on this one?

[2018-08-01 04:43] nicolas-raoul commented on #1750
@albendz This issue is yours, looking forward to your pull request!
If it takes time please let us know here about the situation at least every 5 days, thanks :-)

[2018-08-01 06:32] Nikerabbit opened #1772 "No source text for Commons-android-strings-welcome_help_button_text (commons-android-strings)"
**Summary:**

I am seeing this in our logs:
```No source text for Commons-android-strings-welcome_help_button_text (commons-android-strings)```

It's probably the previously encountered issue about HTML tags present. Could you apply the usual fix?

[2018-08-01 07:24] maskaravivek opened #1773 "Use a library for checking various permissions"
**Summary:**

Our app asks for runtime permissions in various places and in the past we have run into several issues/crashes because of missing permissions checks. The process of ensuring that permission is granted is cumbersome:
- check for permission
- request permission if not granted
- check if the user granted permission
- execute method or else handle failure

Making sure that all these step

[2018-08-01 08:06] nicolas-raoul opened #1774 "Gallery of contributors"
While investigating for another issue, I stumble upon this project that shows its list of contributors:

https://github.com/Karumi/Dexter#contributors

![screenshot from 2018-08-01 16-56-53](https://user-images.githubusercontent.com/99590/43508848-f8b59c34-95ab-11e8-9921-3f9bd4888155.png)

How about having the same?

Merits:
- Show how diverse we are, which probably lowers the level of entry for m

[2018-08-01 09:07] misaochan commented on #1773
This would be really useful! I'm not familiar with the libraries themselves, but at first glance they look good to me. Would you have any recommendations for which one would be preferable?

[2018-08-01 09:50] misaochan commented on #1485
We decided today that we will be reverting 2FA in order to fix this issue. A brief history of how we arrived at this point (@maskaravivek or anyone else, please feel free to correct me if I am mistaken about any of the steps):

- We started getting a few reports of failed uploads after releasing v2.7. Initially the reports were sparse and "Failed" messages are not descriptive, and we tried to repr

[2018-08-01 09:53] misaochan commented on #1740
We decided to do a 2FA revert in v2.8 to solve this issue (for more details on how we arrived at that decision, please see https://github.com/commons-app/apps-android-commons/issues/1485#issuecomment-409519008 ). I will close this issue now due to duplication, please feel free to provide future input at #1485 . Thank you so much everyone for your reports and your patience!

[2018-08-01 09:53] #1740 closed

[2018-08-01 10:20] nicolas-raoul commented on #1601
I just compiled and installed using that commit.
Unfortunately I get the same problem:
[code]
![screenshot_20180801-191707](https://user-images.githubusercontent.com/99590/43516218-e1155f60-95bf-11e8-96d6-5488629c209a.png)

[2018-08-01 11:37] maskaravivek commented on #1601
@nicolas-raoul From the screenshot it seems you are on 2.7.2

[2018-08-01 11:41] nicolas-raoul commented on #1601
@maskaravivek That is what I get when I compile and install the commit recommended by Josephine's comment [above](https://github.com/commons-app/apps-android-commons/issues/1601#issuecomment-409287701) :-)

[2018-08-01 12:42] ujjwalagrawal17 commented on #1754
This is fixed now @nes

[2018-08-01 13:24] nicolas-raoul commented on #1767
Let's consider these perfectly valid images:
![fake_starry_night_ 3353022576](https://user-images.githubusercontent.com/99590/43523774-6aa715a8-95d8-11e8-9da2-230d4e4d41cf.jpg)

![starry_night_ unsplash 1](https://user-images.githubusercontent.com/99590/43523809-855c2a00-95d8-11e8-8efc-a60fe1dfa906.jpg)

How about this algorithm:
1. Count how many pixels have high brightness
2. Count how many pixe

[2018-08-01 14:32] misaochan commented on #1601
The screenshot looks correct to me. The version name is 2.7.2 because I haven't incremented it yet (since there was no other release), the latter half of the branch name indicates that HEAD was moved to the appropriate commit.

[2018-08-01 14:36] maskaravivek commented on #1601
@misaochan Could it be because of any recent change? It used to work perfectly on the older 2.8-release branch

[2018-08-01 14:42] maskaravivek commented on #1485
The summary looks good to me. Just to reiterate legacy codebase is something which all of us have been stuggling in the past few months. It has impeded development of multiple features. In the past few months we were able to refactor quite lots of legacy code(dao layers) thanks to @psh. Hopefully we can pick up API layer refactoring soon.

It would be great if someone fluent with AbstractHttpClien

[2018-08-01 17:01] VaishSiddharth commented on #1713
@misaochan I have created a new PR please have a look.

[2018-08-01 19:07] VaishSiddharth commented on #1753
@nicolas-raoul I have found a solution to this. Can I work on it?

[2018-08-01 19:32] VaishSiddharth opened #1777 "Beta: Explore shows "No images found!""
**Summary:**

In explore No image found! is displayed. Without searching anything explore shows No image found! which looks like an error.

**Steps to reproduce:**
1. Explore
2. Shows "No image found!"

An appropriate message should be displayed.

**Screen-shots:**
![screenshot_20180801-235917](https://user-images.githubusercontent.com/36266597/43544027-626156ee-95ef-11e8-86c4-ffeab61dba6c.png)

*

[2018-08-02 01:57] nicolas-raoul opened #1778 "Picture zoom (when uploading) is not full resolution"
**Steps to reproduce:**

1. Select a high resolution for upload
2. In the title/description activity, press the zoom button
3. Pinch to zoom into a detail, for instance to read what is written on a street sign
4. Expected: View the full details as if viewing the original image in Gallery. Actually: Low resolution, no details

![screenshot_20180725-141202](https://user-images.githubusercontent.com/

[2018-08-02 06:42] nicolas-raoul commented on #1777
Does it happen always?
Could you please post the logcat?
Thanks!

[2018-08-02 06:53] nicolas-raoul commented on #1753
@VaishSiddharth yes please :-)

[2018-08-02 07:18] nicolas-raoul opened #1779 "In-app camera addition prefills title/description using previous Nearby addition"
**Steps to reproduce:**

1. Use Nearby to add a picture, upload it, fill title/description/category.
2. Explore various pictures (probably optional)
3. Press on the camera button within the app
4. Problem: Title/description are pre-filled with values from step 1

 **Commons app version:**

Current master

[2018-08-02 07:55] nicolas-raoul commented on #1777
I can not reproduce.
Please provide the steps that lead to this screen, thanks!

[2018-08-02 07:57] nicolas-raoul opened #1780 ""Skip" button feels unresponsive"
skip_login branch

Seconds pass with no indication of progress. I had to press it several times.

[2018-08-02 07:58] nicolas-raoul opened #1781 "Share to Commons when not logged in: Redirect immediately to login screen, not title/description screen"
skip_login branch

[2018-08-02 08:02] nicolas-raoul opened #1782 "Notifications sometimes fail to load"
Not sure how to reproduce. I have been on the same stable wifi for an hour, and once it failed to load, once it loaded correctly.

When it fails to load the content is just white.

In case it was a network or Commons API error, an error message should be displayed.

[2018-08-02 08:30] ujjwalagrawal17 commented on #1780
Ok. I will check and fix it.

[2018-08-02 08:32] VaishSiddharth commented on #1777
Please have a look.
![gifeditor_20180802_135554](https://user-images.githubusercontent.com/36266597/43571977-f5d1f7fa-965b-11e8-9e83-affbcdaf134f.gif)

[2018-08-02 08:36] nicolas-raoul commented on #1777
Thanks for the screencast!
That's definitely a problem, featured images should appear here.
Please send your logcat, thanks!

[2018-08-02 08:38] ujjwalagrawal17 commented on #1781
Ok I am changing it now.

[2018-08-02 08:39] nicolas-raoul commented on #1780
Maybe show a spinner or something that shows that the click has been understood and something is processing?

[2018-08-02 08:43] nicolas-raoul opened #1783 "Login to → Log in to"
Grammar in the login screen

According to https://english.stackexchange.com/questions/5302/log-in-to-or-log-into-or-login-to

[2018-08-02 09:03] misaochan commented on #1601
Not as far as I can see, but I am not that familiar with the edits. @nicolas-raoul Sorry to bother you, could you please try at `fa6353b3ef765e87f34384b304514b1ef6b3d2e5`? This is directly after #1682 was merged. If the issue still happens then we know it is not caused by any recent change, and vice versa.

[2018-08-02 09:07] misaochan commented on #1779
Thanks for this! We noticed it but haven't made an issue for it. :)

[2018-08-02 09:14] #1713 closed

[2018-08-02 09:24] misaochan commented on #1128
@ilgazer Yes, I am thinking about including this as a task in our future PG application. :) Or are you interested in working on it? It will be quite a big task, though, as it would involve a substantial overhaul of the underlying mechanism as well, not just the UI. I think @psh has done part of it at #1503 , but the PR isn't functional yet at the moment.

If we implement this we also need to think

[2018-08-02 09:46] ujjwalagrawal17 commented on #1780
Umm, we are inflating the dialog for skip onClick of text so I think it should display immediately. Nothing is processing in that time.

[2018-08-02 09:47] ujjwalagrawal17 commented on #1777
You are in which branch ?

[2018-08-02 09:57] #1780 closed

[2018-08-02 10:04] nicolas-raoul commented on #1601
I am trying at that commit now. Unfortunately my image is in state "Queued". I will try again.

[2018-08-02 10:06] VaishSiddharth commented on #1777
@ujjwalagrawal17 master branch

[2018-08-02 10:10] ujjwalagrawal17 commented on #1777
Umm, I am unable to reproduce it.

[2018-08-02 10:13] ujjwalagrawal17 commented on #1777
Can you share the logcat? It Would be helpful for reproducing the same.

[2018-08-02 10:45] nicolas-raoul commented on #1601
Using fa6353b3ef765e87f34384b304514b1ef6b3d2e5, I uploaded two pictures from Nearby. Both uploaded correctly, but did not get linked to from Wikidata.

[2018-08-02 11:10] misaochan commented on #1601
@nicolas-raoul Ah, I am so sorry! The commit related to #1682 is actually https://github.com/commons-app/apps-android-commons/commit/b2a150a3ae05decd0937f6e047943cef2248ecad . Sorry about that, lol.

[2018-08-02 11:16] Mansi449 commented on #1767
Thanks for such a good explanation!  It seems to be a nice algorithm.
I wanted to know that the image has to be divided into rectangles or not.

[2018-08-02 11:16] nicolas-raoul commented on #1601
No problem haha
Yay with b2a150a my nearby upload has been linked! :-)

[2018-08-02 11:29] nicolas-raoul commented on #1767
No need to divide, I think. It does not matter that a part of the image is completely black (like in my food image above).

[2018-08-02 12:28] misaochan commented on #1601
Thanks! That means the issue is most likely caused by an edit between https://github.com/commons-app/apps-android-commons/commit/b2a150a3ae05decd0937f6e047943cef2248ecad and https://github.com/commons-app/apps-android-commons/commit/386bd0a106809251e472a73f89a5d9b9d6f7d37e . Now we just need to find out what...

[2018-08-02 13:31] Mansi449 commented on #1767
Okay, right. I would like to work on this issue and implement the algorithm.

[2018-08-02 15:35] misaochan opened #1785 "Looking for a part-time Android dev to join our team"
As mentioned at #1683, we intend to apply for a WMF-funded [Project Grant](https://meta.wikimedia.org/wiki/Grants:Project) to continue our work on the app, after successfully completing our current IEG grant renewal. In the new grant application, we'd like to expand our grantee team (currently consisting of myself, @maskaravivek and @neslihanturan) by one person.

### Role
- Development of our And

[2018-08-02 15:37] Mansi449 commented on #1783
@nicolas-raoul I would like to take up this issue.

[2018-08-02 16:47] tanvidadu commented on #1770
For adding zoom functionality , should I add a zoom option in menubar or simply add pinch zoom functionality ?
I prefer first option but I am open to second one too! I would love to hear others opinion too :)

[2018-08-02 16:56] misaochan commented on #1770
For browsing images, I'd vote for pinch zoom, but I'm OK with the menubar if others prefer that. :)

[2018-08-02 17:00] ashishkumar468 commented on #1782
Notification needs title, time and icon url, all of which are also extracted from some api result, and I could see that the decorator functions of those are returning "" or null in some cases, which might be leading to notification being blank

[2018-08-02 17:04] ashishkumar468 commented on #1782
I could not see a library which would log events for me, and as you said that you are not able to reproduce it, if someone would let me know that does any library exists(in the app or do I need to add one) through which we could log the events, we could log the events for cases where any of the title, icon or time is null or blank, especially if all of them are null [empty]. Using the logs from th

[2018-08-02 17:08] VaishSiddharth commented on #1779
@nicolas-raoul I will try to fix this issue.

[2018-08-02 17:18] ilgazer commented on #1128
Unfortunately, I don't have enough free time to undertake such a
significant task, but I believe working towards overhauling the upload
process and finally fully decoupling it from the upload UI should be much
more achievable and could be one of the long-ish term goals of this
project. Unfortunately, I lack the experience in software architecture that
would be required to lead such a project, but

[2018-08-02 18:17] VaishSiddharth commented on #1777
@ujjwalagrawal17 Please have a look.
08-02 23:43:33.889 10185-10185/? I/zygote64: Late-enabling -Xcheck:jni
08-02 23:43:34.729 10185-10185/fr.free.nrw.commons.debug I/MultiDex: VM with version 2.1.0 has multidex support
08-02 23:43:34.792 10185-10185/fr.free.nrw.commons.debug I/InstantRun: starting instant run server: is main process
08-02 23:43:34.877 10185-10185/fr.free.nrw.commons.debug D/Netwo

[2018-08-02 18:27] VaishSiddharth commented on #1779
@nicolas-raoul I am facing an issue in uploading images from last 3 days. Please Help

[2018-08-03 02:37] nicolas-raoul commented on #1601
Starting bisect, anyone who has time feel free to take part :-)

x 911873379b4b73d5b76bbf29339c4640f057d9c5 Alignment of language selection dialog in About>Translate #1713 (#1776)
b0e962c85ce26cfa4de0c0d1d405a08276fe1de2 Localisation updates from https://translatewiki.net.
0678410eea2788ce6ba73bf13879b063469d0cf8 Add a string to tell the user to name their multi image set
6aa0f250f3a3daf1eb7508ac1

[2018-08-03 02:46] #1753 closed

[2018-08-03 02:48] #1764 closed

[2018-08-03 02:55] nicolas-raoul opened #1789 "Use Wikidata-Toolkit?"
Wikidata-Toolkit is now compatible with Android: https://github.com/Wikidata/Wikidata-Toolkit/issues/356#issuecomment-409900396
We should evaluate whether it is a good fit. In particular see whether it is too big in size or not.

[2018-08-03 08:42] nicolas-raoul commented on #1601
Same after additionally reverted method `uploadActionInitiated` too:
[code]

[2018-08-03 12:31] maskaravivek commented on #1777
I guess this happens just on beta app. @VaishSiddharth Can you try out the prod variant.

[2018-08-03 12:58] misaochan commented on #1779
What issue are you experiencing specifically, @VaishSiddharth ?

[2018-08-03 14:54] maskaravivek commented on #1734
Closing this as it was fixed by @albendz's PR.

[2018-08-03 14:54] #1734 closed

[2018-08-03 15:07] ilgazer commented on #1128
I took a better look at psh's work in #1503 and it seems that he has done more of the work than I initially remembered. I think I have enough time before school starts to get it to a working state.

[2018-08-03 15:27] VaishSiddharth commented on #1779
@misaochan The app crashes when the arrow button is pressed.

[2018-08-03 16:04] VaishSiddharth commented on #1777
@maskaravivek where can I find "prod variant"?

[2018-08-03 16:11] misaochan commented on #1779
Could you please create an issue for this, and paste your logcat there?

[2018-08-03 16:54] misaochan commented on #1777
If you are using Android Studio on default settings, there should be "build variant" on the left side of the screen, underneath project view and above event log.

[2018-08-03 16:54] misaochan commented on #1601
Thanks for the investigations, @nicolas-raoul ! We are looking into it. :)

[2018-08-03 17:27] misaochan commented on #1128
@ilgazer That would be wonderful if possible! Please let us know how you get on. Even if you don't have time to do everything, just getting the PR into a functional state would be great. We can then polish it up and add the extra upload components.

[2018-08-03 19:58] VaishSiddharth commented on #1779
@misaochan Ok i will do it.

[2018-08-03 20:03] VaishSiddharth commented on #1777
@misaochan ok thanks.

[2018-08-03 20:15] maskaravivek commented on #1485
I was able to dig deeper into the issue and have added my observations here:

https://phabricator.wikimedia.org/T200560#4477636

[2018-08-03 20:45] maskaravivek commented on #1485
Guys the PR which hopefully fixes failed uploads is up(#1790 ). Please help in testing if you are able to reproduce the issue. :)

[2018-08-03 21:09] maskaravivek commented on #1601
I had initially started looking into it but then my uploads started failing. I picked up failed uploads first. Hopefully, it would be fixed by #1790. Will pick this up later.

[2018-08-04 04:40] maskaravivek commented on #1781
IMO, the activities should be agnostic of whether the login is required or not. Any API call requiring authentication should itself invoke the login flow if it is not able to get the auth token.

Taking the example of notifications screen,

- the user opens the notification activity
- the activity loads and the notification adapter calls `getNotifications` method in `MediaWikiApi`.
- `getNotificat

[2018-08-04 07:12] ashishkumar468 commented on #1735
Hi @neslihanturan @maskaravivek  I seem to have found the issue
`if (lastKL == null) {
                lastKL = locationManager.getLastKnownLocation(LocationManager.NETWORK_PROVIDER);
            }
            return LatLng.from(lastKL);`

The function LatLng.from(lastKL) crashes when lastKL is null, we have a null check for location from GPS_PROVIDER but not for NETWORK_PROVIDER,
Can I take this

[2018-08-04 07:24] maskaravivek commented on #1735
Yup sure it’s yours @ashishkumar468

[2018-08-04 07:33] ashishkumar468 commented on #1735
Thanks @maskaravivek Have raised the pull request for the same

[2018-08-04 08:34] ashishkumar468 commented on #1722
@nicolas-raoul Hi, I seem to have fixed the issue to an extent, could you please verify now ?

[2018-08-04 09:39] misaochan opened #1793 "Improve description language selector in ShareActivity"
**Summary:**

It isn't immediately obvious what the description language selector that is newly implemented in ShareActivity does, because it's blank by default. And even after explicitly selecting a language, it remains blank.

IMO, it would be a good idea to have a language displayed by default (perhaps the phone language?). The selected language also needs to be displayed. After the user select

[2018-08-04 09:43] misaochan commented on #1781
@maskaravivek I believe this is for Ujjwal's GSoC project, specifically #1486 . I agree with your suggestion in general but I think it is too much to expect for a 1-week GSoC task. :) Maybe we can start a new issue for it.

[2018-08-04 10:32] misaochan commented on #1779
Sorry, I had to submit a PR for this, because we urgently need to fix it in anticipation for Monday's release. @VaishSiddharth please feel free to try your hand at other issues, thanks!

[2018-08-04 12:04] ilgazer commented on #1128
I had lots of free time yesterday and today so I got the PR into a working state. The duplicate and darkness checking etc isn't here yet but uploading works and the category addition workflow is much better(I just append the file) than the "upload and add later" workflow for ShareActivity. As I don't have permission to create new branches on commons-app, could you create an "upload-overhaul" branc

[2018-08-04 12:09] VaishSiddharth commented on #1793
@misaochan I would like to try this.

[2018-08-04 12:10] VaishSiddharth commented on #1779
@misaochan Ok no problem. :-)

[2018-08-04 12:12] misaochan commented on #1793
@VaishSiddharth It is yours :)

[2018-08-04 12:14] misaochan commented on #1128
@ilgazer Wonderful! Done, please submit your PR to https://github.com/commons-app/apps-android-commons/tree/upload-overhaul :)

[2018-08-04 12:46] misaochan commented on #1777
I think it is probably not a concern if it happens on beta. There aren't many images (and certainly not many worth seeing!) on the Commons beta server, and there's no need to use it for debugging either, since the beta server is predominantly for test uploads.

Shall we close?

[2018-08-04 13:06] ilgazer commented on #1128
By the way, should I do separate PR's for new features(darkness checking, some new screens for EXIF editing etc.) as per the "one PR per feature" or go on with this single PR which will end up resolving like 6 issues?

[2018-08-04 14:02] misaochan commented on #1128
I'm personally OK with either, since it is an "overhaul" PR that will be sent to a separate branch, and all of those changes are related to the overhaul. Thanks for the PR btw, we will test it ASAP. :)

[2018-08-04 14:03] maskaravivek commented on #1781
Yup, it should be part of the GSoC task. This would require a big overhaul and can probably be taken up later. Will open a new issue for the same. :)

[2018-08-04 16:03] #1735 closed

[2018-08-04 16:09] tanvidadu commented on #1768
@nicolas-raoul @whym great addition!
Will like to work on it :)
I was thinking of adding a spinner in alert allowing the user to select the appropriate reason and then adding the deatils mentioned above.

[2018-08-04 19:57] maskaravivek commented on #1485
Closing this issue as the above PR fixes this issue. Thank you, everyone, for participating in the discussion and helping in testing. :)

[2018-08-05 15:41] ilgazer opened #1799 "Update use cases in MediaWiki Apps page"
The page https://www.mediawiki.org/wiki/Wikimedia_Apps/Commons contains one use case "Use Case #1: Simple Upload for experienced Commons user" whereas our app is capable of much more. IMO the page shuld be updated.

[2018-08-05 19:06] albendz commented on #1750
Update: Still in progress.

Does anyone know what this comment refers to: https://github.com/commons-app/apps-android-commons/blob/master/app/src/main/java/fr/free/nrw/commons/upload/UploadService.java#L133 ?

I've repro'd the bug and I'm trying to track down whether it's a permissions issue or whether the temporary files don't exist anymore.

Is there a way to delete a failed upload to retry late

[2018-08-05 20:38] maskaravivek commented on #1750
It refers to an issue where the content provider returned by google photos was not working correctly.
@misaochan might know about it.

[2018-08-05 22:29] ujjwalagrawal17 commented on #1721
@nicolas-raoul It seems to be fixed. Please tell me if you are still facing this.

[2018-08-06 06:29] nicolas-raoul commented on #1489
https://security.stackexchange.com/a/190549/634 supports the idea of writing logs to a dedicated local file.
We could make the debug app write logs to both this file and logcat.

[2018-08-06 07:39] maskaravivek commented on #1489
IMO, for debug builds we already have logcat so writing to local file might not be very useful but for release build we could write just to local file. This file can then be attached while sending a mail. Am curious, isn't this what we already do?

[2018-08-06 07:41] ilgazer commented on #1773
This looks very nice, especially for the Upload Screen overhaul. Which one should we use?

[2018-08-06 08:12] misaochan commented on #1750
There was an issue with security exceptions when users uploaded via Google Photos. Looks similar to the exception being mentioned here. Unfortunately I can't recall off the top of my head what exactly the issue was caused by.

I am actually hoping that this should have been fixed with the merging of #1749  in `2.8-release` as that modifies the flow of the upload. Could you please test `2.8-release

[2018-08-06 09:43] misaochan opened #1801 "Media details view for Browse is lacking author field"
**Summary:**

The media details view for Browse (search > media/categories) is lacking the author field. I believe this needs to be added, otherwise we are infringing the license for images that are under an attribution license. Featured images have the author field.

@nicolas-raoul @ujjwalagrawal17 Can this be fixed urgently? I am hesitant to release the browse feature without this in place

**St

[2018-08-06 09:49] nicolas-raoul commented on #1801
I had not noticed, thanks!
The field needs to be added indeed.

[2018-08-06 09:59] maskaravivek commented on #1773
I am currently using Dexter for one of my projects and its super simple to use. I would highly recommend its use for any permission checks in our app.

[code]

Moreover, these callbacks are optional and there's a default callback for both granted and denied situation. Also, it provides customizable UI(alert dialogs) for requesting permissions and showing an error message. It would definitely help

[2018-08-06 10:04] maskaravivek commented on #1773
@ilgazer IMO the best way forward would be to replace one existing check in the app using this library so that we can have the library merged in master first then others can use this for their feature development.

[2018-08-06 11:28] neslihanturan commented on #1750
@maskaravivek says it happens on 2.8-release branch:/ I can be the right person to answer your questions and help debug @albendz , since lately I had a really close relationship:)

[2018-08-06 11:48] neslihanturan commented on #1750
You can click cancel instead of retry.

Second think, to make sure if temp file is still there, you can check emulator file system.
1- Open android studio emulator
2- Tools->Android->Android Device Monitor-> file explorer -> storage-> emulated-> 0-> UploadingByCommonsApp and you reached our temp cache directory.

While you upload some image, file will be under that directory. If fails, it should s

[2018-08-06 11:56] misaochan commented on #1801
@ujjwalagrawal17 could you please submit this fix directly to the 2.8-release branch? If you can do it in the next couple of days we will hold the release and wait for you. After your PR is merged I will push the changes to master. Thanks!

[2018-08-06 14:33] ujjwalagrawal17 commented on #1801
@misaochan I just searched there is an extra param in API to resolve this issue.
https://commons.wikimedia.org/w/api.php?action=query&generator=search&gsrsearch=butterflies&gsrnamespace=6&gsrwhat=text&prop=imageinfo&format=xml
I am facing some issues in getting XML nodes for the same. I will try to do it soon.

[2018-08-06 14:36] misaochan commented on #1801
@ujjwalagrawal17 I believe you can reuse the same methods as featured images? We are already fetching the author name for those, it should be fairly simple to reuse.

[2018-08-06 14:38] ujjwalagrawal17 commented on #1801
@misaochan I tried to reuse that but the response we are getting is very different so I think we will not be able to reuse that.

[2018-08-06 14:57] ilgazer commented on #1773
Sounds like a plan!

[2018-08-06 15:00] misaochan commented on #1801
Ah I see, okay. Please do keep us updated! We'd like to be able to include browse in our release this week if possible. :)

[2018-08-06 18:35] ashishkumar468 commented on #1793
@misaochan @VaishSiddharth Seems to be working fine for me. (Tried on one plus 3T)

[2018-08-06 18:54] ashishkumar468 commented on #1793
@VaishSiddharth I was actually able to reproduce it on the device spec you mentioned, Seems like a ui issue. The first row is anyways by default the default device locale. The following rows sort the locales alphabetically. I have kind of fixed the thing. (A minor change (increased the weight of the language spinner)). If you have not yet started working on the issue. I can push my changes. Also a

[2018-08-06 18:56] VaishSiddharth commented on #1793
@ashishkumar468 Ok you can work on it :) 👍

[2018-08-06 18:57] ashishkumar468 commented on #1793
Thanks 👍

[2018-08-07 05:42] nicolas-raoul opened #1803 "Prompted to log in even though I am already logged in"
**Steps to reproduce:**
- Install the app
- Skip login
- Go to Nearby and try to upload something
- You are told to login, so enter name/password
- You are redirected to "My uploads"
- Go to Nearby and try to upload something
- You are told to login

 **Commons app version:**
That's master with https://github.com/commons-app/apps-android-commons/pull/1800 merged in.
Yes, I should try with a clean

[2018-08-07 09:22] misaochan opened #1804 "Nearby uploads occasionally fail"
**Summary:**

As mentioned at #1749 , occasionally uploads via Nearby fail. This happened once to me while testing #1749 and another time while testing #1800 . It does not happen for uploads via ContributionsActivity.

**Steps to reproduce:**

Upload via Nearby map or list, several times.

**Add System logs:**

Unfortunately I did not manage to get logs for this. But it might be reproducible by ot

[2018-08-07 10:53] nicolas-raoul opened #1805 "Expected adapter item count: 20, found: 30"
Just happened once a few minutes ago, can't reproduce.
I was scrolling pictures in Explore (the featured pictures), and tapped on an interesting image of a mushroom.

[code]

 **Commons app version:**

current master with 2-8-release merged into it

[2018-08-07 12:54] ujjwalagrawal17 commented on #1803
I start working on it.

[2018-08-07 13:10] nicolas-raoul commented on #1803
Have you managed to reproduce the problem?

[2018-08-07 13:14] ujjwalagrawal17 commented on #1803
Umm, I couldn't reproduce it in skip login branch. I Will check master
branch for this issue. Are you facing this in master branch ?

[2018-08-07 15:13] misaochan opened #1806 "Username in nav drawer should be centered"
**Summary:**

My username in the nav drawer is left-aligned. It should be centered under the Commons logo, IMO. @tanvidadu was there a reason for changing the alignment? I recall it used to be centered?

**Device and Android version:**

Android 8.0.0 Samsung Galaxy s7

 **Commons app version:**

2.8-release

**Screen-shots:**

![screenshot_20180808-010018_commons](https://user-images.githubusercon

[2018-08-07 18:25] ujjwalagrawal17 commented on #1801
https://commons.wikimedia.org/w/api.php?action=query&list=search&srsearch=butterflies&srnamespace=6&srwhat=text&format=xml&srprop=size|wordcount|timestamp|snippet|titlesnippet|redirecttitle|redirectsnippet|sectiontitle|sectionsnippet|isfilematch|categorysnippet|extensiondata

[2018-08-07 18:53] VaishSiddharth commented on #1806
@misaochan I would like to work on this.

[2018-08-07 22:20] ujjwalagrawal17 commented on #1801
@misaochan @nicolas-raoul I have fixed the issue. Please review the PR once.

[2018-08-08 05:17] misaochan commented on #1806
@VaishSiddharth It is yours. :)

[2018-08-08 05:49] nicolas-raoul commented on #1805
Even with the PR above applied, I still get a similar error:
[code]

[2018-08-08 06:06] #1519 closed

[2018-08-08 06:06] #1801 closed

[2018-08-08 06:06] #1805 closed

[2018-08-08 06:19] nicolas-raoul opened #1809 "Categories are not set"
**Steps to reproduce:**

- Upload a picture via the in-app "Gallery" button
- Enter title/description and a few categories
- File is uploaded, but it is uncategorized

Reproduced in the last 3 files I uploaded.

**Add System logs:**
Here is the log that appears when I press Save after selecting a category. It seems that no request is sent for the categories, and all requests seen here seem to be f

[2018-08-08 07:38] #1781 closed

[2018-08-08 07:42] misaochan commented on #1801
Thanks for the quick fix @ujjwalagrawal17 ! :)

[2018-08-08 08:04] nicolas-raoul commented on #1803
Trying to reproduce this, I got this strange error at step 5, probably unrelated:
[code]

[2018-08-08 08:09] nicolas-raoul commented on #1803
I could not reproduce the issue on current master + the PR, so I merge.

[2018-08-08 08:09] #1803 closed

[2018-08-08 08:44] nicolas-raoul opened #1813 "Rename "Set wallpaper" to "Set as wallpaper""
I believe it would convey the real meaning better.

In particular, the current wording is leading to patently wrong translations.

[2018-08-08 09:52] misaochan commented on #1478
This is done! Thanks everyone who participated. :) I will create a new issue for hotfixes needed.

[2018-08-08 09:52] #1478 closed

[2018-08-08 09:54] misaochan commented on #1809
Thanks for creating the issue, @nicolas-raoul , I am experiencing the same issue too. Previously there have been issues with categories, but recently it seems they are ALL consistently not set.

[2018-08-08 09:54] misaochan opened #1814 "Hotfixes needed for v2.8"
2.8.1
- [x] Find out why Nearby uploads occasionally fail #1804 @neslihanturan
- [x] Categories are not set #1809

2.8.3
- [ ] Wikidata edits and 2FA errors fixed #1866
- [x] #1876 fixed or quiz checker disabled
- [x] #1877 fixed if possible

[2018-08-08 23:31] albendz commented on #1750
I've done the same repo steps on 2.8 and there's no crash because there's a check to see if a file is present. Is this the fix I needed to verify?

[2018-08-08 23:47] albendz commented on #1750
Repro steps that cause a crash on master but not 2.8-release:

1. Install App
2. Use App to upload a Single photo
3. Put phone in airplane mode
4. Name photo
5. Try to upload
6. Close app (really close it not just remove focus)
7. Turn off airplane mode
8. Open app
9. Click failed upload
10. Hit back either in app or via phone
2.8-release - no crash
master - crash

[2018-08-09 05:47] nicolas-raoul opened #1815 "Panorama thumbnail is pixelized"
**Steps to reproduce:**

1. Scroll featured pictures until you find a very pixelized picture
2. That's it! :-)

All featured pictures are actually high-quality, so it must be possible to generate high-quality thumbnails from them. It might be due to unusual proportions of the picture, example:

Panorama: https://commons.wikimedia.org/wiki/File:Panorama_vom_Gro%C3%9Fen_Leuchtberg.jpg
Result:
![scre

[2018-08-09 06:31] nicolas-raoul commented on #1809
According to my bisection (which might be wrong as categories do not appear immediately), this commit seems to be the cause:
https://github.com/commons-app/apps-android-commons/commit/143ad00149156e9c7dea292b1a975ecc115a17f3

[2018-08-09 08:36] nicolas-raoul commented on #175
If we implement this, we could as well also show what pictures have GPS coordinates.
Pictures with coordinates are worth much more in the Commons world.

[2018-08-09 12:23] misaochan opened #1816 "Blank screen with only refresh button in Achievements"
**Summary:**

User:Ainali is experiencing a blank screen with only a refresh button in his Achievements activity

[screenshot](https://www.facebook.com/photo.php?fbid=10212802700931331&set=p.10212802700931331&type=3)

 **Commons app version:**

2.8.0 beta

**Would you like to work on the issue?**

Pref not

[2018-08-09 13:51] tanvidadu commented on #1816
It might be because the information from the API's hasn't been fetched, and the current session has expired.
Possible steps Taken:
1) Increase the session time. This might reduce the probability of session expiry.
2) Display a message regarding the session expiry and prompt them to try again later

[2018-08-09 14:59] misaochan commented on #1816
I don't think there would be any issues with increasing the session time, but are we able to do that from our end? @maskaravivek

[2018-08-09 17:12] misaochan commented on #1809
Pinging @maskaravivek so he knows which thread to look at. :)

[2018-08-09 17:36] misaochan commented on #1809
I checked out the commit above and uploaded https://commons.wikimedia.org/wiki/File:State_library_of_Victoria_3.jpg with 1 category ("State library of Victoria"). Will see if the category ever goes through, haha.

[2018-08-09 19:13] maskaravivek commented on #1816
Yup, I don't think session duration could be controlled by the clients.

@tanvidadu which token are you using. In particular `crsf` token can be used once and is valid just for 10 seconds from the time it was generated.

The change that I did for the session management might affect all API calls that require an edit token. I will review the session management logic this Sunday and see if the comme

[2018-08-09 19:15] maskaravivek commented on #1809
I will take a look at this on Sunday. :)

[2018-08-09 19:15] #1813 closed

[2018-08-09 19:15] #1806 closed

[2018-08-09 22:25] albendz commented on #1750
@nicolas-raoul My last merge from master was July 30th. After pulling today, the crash no longer happens.

[2018-08-10 02:18] ashishkumar468 commented on #1774
@nicolas-raoul I'd like to take this up

[2018-08-10 02:41] nicolas-raoul commented on #1774
@ashishkumar468 It is yours :-)

[2018-08-10 02:43] #1750 closed

[2018-08-10 05:56] ashishkumar468 commented on #1774
@nicolas-raoul  Just to make sure everybody is on the same page, an item will be added to the nav drawer named as Contributors which on click would lead to a screen where the list of contributors from   https://github.com/commons-app/apps-android-commons/graphs/contributors would be shown.

[2018-08-10 06:49] misaochan commented on #1774
Sounds great! I probably need to get around to putting up a real avatar.... someday, haha.

I wonder if it would be a good idea to limit to those with >10 commits? Otherwise we would have a very long list. But I'm OK with either.

[2018-08-10 06:54] neslihanturan commented on #1774
This is what I exactly thought:)

[2018-08-10 07:08] nicolas-raoul commented on #1774
@ashishkumar0207 I was only talking about putting it as HTML code in https://github.com/commons-app/apps-android-commons/blob/master/README.md (or it could be in https://github.com/commons-app/apps-android-commons/wiki/Volunteers-welcome%21 actually).

If you really want to put it in the app:
- "About" is the best place, adding another item to the nav drawer would crowd it for no good reason
- Mak

[2018-08-10 07:20] ashishkumar468 commented on #1774
@nicolas-raoul  I am not that great with html, will take me a lot of time to implement, I was hoping if someone more fluent in web ui can take it up, for the app @neslihanturan @misaochan @nicolas-raoul We have I think 100 people with at-least one commit, thats not a lot (which will be anyways sorted by the number of commits). We can show all of them if all of us agree or we can show top x contrib

[2018-08-10 14:14] neslihanturan opened #1819 "Arrange .xml variable names in general"
**Summary:**

This issue is a note to myself:
- Arrange .xml variable names
- Make attr names consistent.
- Fix style.xml files
- Remove unnecessary colors

**Would you like to work on the issue?**

Yes, will do that on my free time.

[2018-08-10 15:56] misaochan commented on #1774
I agree that the readme or wiki would be the ideal place for it. But if we do have it in the app, I think a separate fragment that is linked via About would be best.

I'm good either way, a complete list or "first 40 committers" (or other value) both sound OK to me. :)

[2018-08-11 07:12] ashishkumar468 commented on #1774
@misaochan @nicolas-raoul @neslihanturan Lets clear a few things out
1.Do we need this feature in the app
2.If yes, How many contributors do we show (I will keep that configurable by a variable from where it could be easily updated)
One of you guys please confirm.

[2018-08-11 07:30] nicolas-raoul commented on #1774
How about we say at first:
- In the README, not in the app
- 40 biggest committers

But in open source a feature only gets implemented when a volunteer comes in and does it. So if you don't want to do HTML but rather want to implement it in the app instead, and send us a good pull request, we will probably accept it :-)

[2018-08-11 10:00] tanvidadu commented on #1816
I didn't explicitly mention any token while making api calls so I am not sure which token I am using.
Is there any way to find it out?

[2018-08-12 11:02] maskaravivek commented on #1816
Oops, I forgot that you are not using a MediaWiki API.

The API that you are consuming doesn't depend on app's session. Its an anonymous API.

I guess the best you could do is gracefully handle the error by showing a snack bar or toast.

Also, we can probably check with @urbanecm if he has any statistics around `urbanecmbot/commonsmisc/feedback.py` failure rate and latency.

[2018-08-12 12:39] Mansi449 commented on #1501
@VojtechDostal @maskaravivek The issue is open. Is there still a bug that needs to be fixed or a feature that needs to be added?

[2018-08-12 12:57] VojtechDostal commented on #1501
This is a feature request :-)

[2018-08-12 13:40] Mansi449 commented on #1501
Yes. I meant, since the issue has not been closed, is there any feature (or part of it) that is left to be implemented?

[2018-08-12 13:44] urbanecm commented on #1816
Hello everyone,

as of now, I have received 11 requests regarding said user, access.log (filtered to focus on this case) is on https://pastebin.com/raw/UgQf7NHa. Sadly, when writing the API, I've forgot to reflect error not only in JSON being returned to the called but also in the HTTP status code. Then, I have absolutely no clue if those requests were successful or not. I've updated the API so ht

[2018-08-12 15:58] Mansi449 commented on #1772
@Nikerabbit can you please elaborate upon the issue and also give some insights on how to resolve it?

[2018-08-12 16:47] arshadkazmi42 commented on #1333
I can take this up if its still available. What exactly needs to be done here?

[2018-08-12 17:12] maskaravivek commented on #1333
There have been no updates from @ArkadiyVoronov for over a month. So @arshadkazmi42 please feel free to take this up. :)

[2018-08-12 17:15] arshadkazmi42 commented on #1333
@maskaravivek I am new to this project, just wanted to understand what exactly needs to be done here?

[2018-08-12 17:48] Nikerabbit commented on #1772
#1258 has more details.

[2018-08-12 18:44] Mansi449 commented on #1772
Okay! Thanks! I got that. Just wanted to know at what point does `No source text for Commons-android-strings-welcome_help_button_text (commons-android-strings)` get logged?

[2018-08-13 06:27] Nikerabbit commented on #1772
It's a sanity check I've put in our (translatewiki.net) code to catch issues like this.

[2018-08-13 07:02] misaochan commented on #1501
This is implemented in master and should be released in 2.9. :) Thanks all!

[2018-08-13 07:02] #1501 closed

[2018-08-13 07:17] misaochan commented on #1816
Thanks so much for your help, @urbanecm ! :) I'll ask the user to try again.

[2018-08-13 07:29] misaochan commented on #1772
This looks to be similar to #1333 . I will copy my suggestion here:

So, what needs to be done in this task is:

1. go to strings.xml and search for all strings that have a <u> tag added but no CDATA tag
2. add the CDATA tag to those strings

[2018-08-13 07:31] misaochan commented on #1772
Note to collaborators @maskaravivek @neslihanturan @nicolas-raoul  - In the future when we merge PRs, we should check that the strings added do not have HTML tags without CDATA.

[2018-08-13 07:40] arshadkazmi42 commented on #1333
@misaochan Thanks for the detailed explanation I will look into it later today

[2018-08-13 08:08] Mansi449 commented on #1772
Thanks @Nikerabbit @misaochan for the clarification.
I would like to work on this issue.

[2018-08-13 08:16] misaochan commented on #1772
@Mansi449 wonderful! However, it seems that both you and @arshadkazmi42 have expressed interest simultaneously in working on this in separate issues, so I am not sure who to assign it to. Could you both please discuss among yourselves and hopefully come to an agreement? :) Thanks!

[2018-08-13 08:51] arshadkazmi42 commented on #1772
@Mansi449 if you have started working on this you can take this up. If you would like me to work on it, let me know.

[2018-08-13 08:57] Mansi449 commented on #1772
Thanks a lot @arshadkazmi42 for letting me take this up.

[2018-08-13 11:33] neslihanturan opened #1821 "Make locale non dependent on phone OS settings, but choosable on app settings"
**Summary:**

Quote from one of our user, Luistxo Fernandez

I agree with this issue, since I can not set my phone language to Turkish, I use the app in English.

[2018-08-13 11:40] neslihanturan opened #1822 "Ask for nearby if photo has location in Exif, and possible nearby photo"
**Summary:**

This issue is request of one of our user, Luistxo Fernandez:

This can be very beneficial indeed. Ie. a user doesn't know how to use nearby feature, but uploading a photo from nearby list. We can directly ask to edit wikidata item too.

[2018-08-13 11:43] nicolas-raoul commented on #1821
This open source app has this feature: https://github.com/ankidroid/Anki-Android
![screenshot_20180813-204047](https://user-images.githubusercontent.com/99590/44029761-6b1c1302-9f39-11e8-8020-8391e0af044d.png)
No need to log in so it is easy for test purposes.

[2018-08-13 14:02] misaochan commented on #1772
Thanks guys! @Mansi449 it is yours. :)

[2018-08-13 19:02] arshadkazmi42 commented on #1819
Is this open for grab? I am interested to take this up

[2018-08-14 06:17] PeterFisk commented on #1809
I have the same problem (version 2.8.0). My log file after uploading one image file:

[logs_upload.txt](https://github.com/commons-app/apps-android-commons/files/2285690/logs_upload.txt)

[2018-08-14 06:39] PeterFisk opened #1825 "Files renamed to .jpeg in 2.8.0"
**Summary:**
When uploading photos via the share button (in Android) and choosing "upload to commons", the files are renamed to _.jpeg_. When uploading within the app itself, the files remains as _.jpg_.

**Steps to reproduce:**
Use Gallery (in Android); select an image; share; upload to commons; give the file a name (without extension); add categories and send.

The problem was not present in 2.7

[2018-08-14 06:56] nicolas-raoul opened #1826 "Categories with pipe suffix"
**Steps to reproduce:**

1. With the app, find this picture of an interesting mushroom: https://commons.wikimedia.org/wiki/File:Cortinarius_vanduzerensis_134617.jpg
2. Notice how its categories are ended with `|・` or `|Mushroom`
3. Press the category. The app opens the category view activity, and shows zero media, evn though there should be at least that image present.

![screenshot_20180811-19073

[2018-08-14 07:18] maskaravivek commented on #1809
@PeterFisk Thanks for the logs. We have made a fix for this issue and it should be available in the next beta release. :)

[2018-08-14 07:40] misaochan commented on #1825
Thanks for creating the issue, Peter.

@neslihanturan do you think we might have changed this by accident during the upload workflow overhaul?

At any rate, hopefully it will be a fairly simple fix. :)

[2018-08-14 08:40] misaochan commented on #1814
I released 2.8.1 with just the category bug fixed, since we haven't had any luck with reproducing the occasional upload failure. Fingers crossed it stays that way, lol.

[2018-08-14 08:42] misaochan commented on #1809
Should be fixed, closing. Feel free to reopen if anyone still has this problem with 2.8.1, thanks!

[2018-08-14 08:42] #1809 closed

[2018-08-14 09:00] VaishSiddharth commented on #1825
@misaochan I would like to work on this.

[2018-08-14 13:01] misaochan opened #1828 "Tidy up code in entire Nearby package and write Javadocs for all Nearby classes and methods"
As per #1683 : This will help allow new contributors to get started with this package, and will also provide a solid foundation for future Nearby improvements. If successful, we plan to iterate on this with other packages in the future.

[2018-08-14 17:44] VaishSiddharth commented on #1825
@misaochan I am trying to reproduce this error in master branch but the upload fails. (build varient prodDebug)

[2018-08-14 17:47] neslihanturan commented on #1825
Oh, probably I am responsible with this issue. @VaishSiddharth you can reproduce the issue on 2.8.0 branch

[2018-08-14 17:51] VaishSiddharth commented on #1825
@neslihanturan Still the same problem, not able to upload any image.

[2018-08-14 18:39] PeterFisk commented on #1825
The .jpeg problem exists in 2.8.1 too. You probably knew that.

Den tir. 14. aug. 2018, 19:51 skrev Siddharth Vaish <
notifications@github.com>:

[2018-08-14 18:42] neslihanturan commented on #1825
Can you please share your logs under upload fails issue @VaishSiddharth ?

[2018-08-14 18:54] neslihanturan commented on #1825
@VaishSiddharth if your uploads fails with no reason, please do not reinstall the app. Because we might need you to help with testing. After we propose a solution, you can verify if it is worked or not. Because most of us couldn't reproduce the issue.

[2018-08-14 18:58] VaishSiddharth commented on #1825
@neslihanturan Ok I will not reinstall the app. I will share the logs.

[2018-08-15 09:01] nicolas-raoul opened #1829 "Category preview: Rotating screen re-uploads picture"
Category preview branch

[2018-08-15 09:04] misaochan opened #1830 "Items needed for v2.9"
We will hopefully be able to push 2.8 to production next week, and then on to 2.9! Fingers crossed, anyway. :)

Items needed:
- [x] Main UI overhaul #725 @neslihanturan
- [x] Fix swipe sensitivity in main UI @ashishkumar468
- [x] Prevent overwrites #703
- [x] Fix .jpeg bug #1825 and overwrite issue #228 . Check that .png files can be uploaded via Share.
- [x] Fix issues with "send logs" #1489 @mas

[2018-08-15 15:26] misaochan commented on #815
I just received an email from Sage Sharp regarding the next round of Outreachy internships, Dec 18 - Mar 19. Unfortunately I personally cannot mentor this round as I will be unavailable for some periods of time, but is anyone interested in doing so? Please feel free to create a project etc if you are, thanks!

[2018-08-15 16:15] VaishSiddharth commented on #1825
@neslihanturan Here are the logcats
08-15 21:43:12.046 8119-8119/fr.free.nrw.commons E/ANDR-PERF: IPerf::tryGetService failed!
08-15 21:43:12.437 8119-8119/fr.free.nrw.commons E/ANDR-PERF: IPerf::tryGetService failed!
08-15 21:43:12.587 8119-8119/fr.free.nrw.commons E/ANDR-PERF: IPerf::tryGetService failed!
08-15 21:43:12.690 8119-8119/fr.free.nrw.commons E/ANDR-PERF: IPerf::tryGetService failed!

[2018-08-15 17:03] misaochan commented on #1825
@VaishSiddharth Just checking that you are running the latest version of master (with all the recent changes)? Could you link to the most recent commit in your local build? Thanks!

[2018-08-15 17:12] VaishSiddharth commented on #1825
@misaochan Please have a look
commit 61888f7456b723ded88caa7c822f0bea060dffe8 (HEAD -> master, upstream/master)
Merge: 2fdcddd9 b17957db
Author: misaochan <josephinelim86@gmail.com>
Date:   Tue Aug 14 17:59:48 2018 +1000

    Merge remote-tracking branch 'refs/remotes/origin/2.8-release'

commit b17957dbb1e12119aef4dcd479c2ac1b791cea50 (upstream/2.8-release, 2.8-release)
Author: Josephine Lim <jos

[2018-08-16 03:04] nicolas-raoul commented on #815
I will be unavailable during the whole first half, so unfortunately I can't make it.
But I hope some of the people who are very active here can step in :-)

[2018-08-16 07:15] maskaravivek commented on #1489
I will start working on this soon. It would be nice to gather opinions from others about what logging/crash monitoring framework we should be using.

Here's what I am considering:

- Hyperlog for storing logs and pushing them to a remote location
- Implementing our own file logging tree
- Use [Fabric's crashlytics](https://fabric.io/kits/android/crashlytics) for error logging
- Use [sentry](https:

[2018-08-16 07:15] misaochan commented on #1825
@VaishSiddharth That looks correct, thanks! For the logs, we will need much longer logs than that (as there is nothing usable in that log :)). Generally what I do is open the app, tap the upload from gallery button in the app, clear logcat (the dustbin button in Android Studio), and then proceed with image selection and upload. Then copy EVERYTHING from your logcat and paste it here, using the Git

[2018-08-16 07:16] misaochan commented on #1485
Reopening as @VaishSiddharth seems to have managed to reproduce the issue.

[2018-08-16 07:32] misaochan commented on #1489
Correct, I think, but for some reason none of the usual logs are showing up at all. You can take a look at the logs submitted at https://groups.google.com/forum/#!forum/commons-app-android-private to see, or test the "Send Logs" feature on the app and see.

For filtering and storage, hyperlog looks good to me but it would be best to wait for others to comment too.

[2018-08-16 07:43] misaochan commented on #1489
Basically, the scope of this task is:

- Figure out why the usual logs from our app are not being shown
- Perform filtering for our app's logs (or use hyperlog if it automatically does that)
- Make sure storage is able to handle relatively large log file sizes (e.g. it should be able to store everything from the start of an upload to the end)

[2018-08-16 08:04] misaochan commented on #161
@hismaeel Any updates on this? Please let us know if you are still working on it (or interested in doing so). I would need to add this to our 2019 plans otherwise, as it is a fairly important feature. :)

[2018-08-16 08:16] misaochan commented on #872
The app now allows users to specify a language for their descriptions (in the current master, to be released in 2.9 :)). Would it be a good idea to include this in our 2019 plans?

[2018-08-16 08:19] misaochan commented on #872
Also, another consideration: What do we do if the user does not have the Wikipedia app installed? Is editing a Wikipedia article via mobile web browser encouraged at all?

[2018-08-16 08:25] nicolas-raoul commented on #1489
Crashlytics would send logs to a third-party server, which is not acceptable for privacy reasons.
With sentry I guess we would need to set up a server, which is quite challenging too in terms of getting approval and maintaining security.
Hyperlog (locally used) sounds good :-)

[2018-08-16 08:36] nicolas-raoul opened #1831 "Fill P2096 (media legend) of P18 image using metadata typed by user"
Insert image descriptions (or title? or both?) into Wikidata as qualifiers.
This is quite often done using property P2096.

Example:
![screenshot from 2018-08-16 17-33-36](https://user-images.githubusercontent.com/99590/44197763-90aae100-a17a-11e8-8aed-fffc5d837521.png)

Infoboxes could then read this description when transcluding images from Wikidata.

[2018-08-16 14:28] hismaeel commented on #161
My motivation is a bit down these days. Please go ahead and add it to your plans; I'll try to do it regardless but don't want to hang up your plans.
Thanks

[2018-08-16 17:08] Mansi449 commented on #1772
I added the CDATA tag to a string:
`  <string name="welcome_help_button_text"><![CDATA[<u>More Information</u>]]></string>
`
But it gives the following result:
![screenshot_20180813-175601](https://user-images.githubusercontent.com/32809297/44222911-b39dbb00-a1a3-11e8-93b5-e62d4763420e.png)

I think something like this has to be done:
`TextView tv = findViewById(R.id.welcomeInfo);` (welcomeInfo is

[2018-08-16 17:12] VaishSiddharth commented on #1485
@misaochan Please have a look.
`08-16 22:39:56.825 28268-28309/fr.free.nrw.commons D/CustomApiResult: API request is in.yuvi.http.fluent.Http$HttpGetRequestBuilder@75139a8
08-16 22:39:56.826 28268-28309/fr.free.nrw.commons D/CustomApiResult: API params are org.apache.http.params.BasicHttpParams@8a1cf46
08-16 22:39:56.838 28268-28309/fr.free.nrw.commons V/NetworkInterceptors: <<<<<<<<<<<<<< START O

[2018-08-16 17:51] misaochan commented on #1485
How strange! The upload result says "Success". Does that image show up as "failed" for you, @VaishSiddharth ?

[2018-08-16 17:51] #1793 closed

[2018-08-16 18:51] sivaraam commented on #1485
@misaochan Are missing [something](https://github.com/commons-app/apps-android-commons/issues/1485#issuecomment-408609912), **again**?

[2018-08-16 19:31] sivaraam commented on #872
IMHO, it's better if we could direct users to web editing. For several reasons,

1. The Wikipedia app editing experience is not great. That's because the app is focused more towards readers rather than editors (the syntax highlighting feature is the main culprit that kills the editing experience, IMO). That doesn't mean the mobile web editing experience is great, of course. But, it's a lot better.

[2018-08-16 19:53] VaishSiddharth commented on #1485
@misaochan
![video2gif_20180817_011757](https://user-images.githubusercontent.com/36266597/44231514-0a16f380-a1bc-11e8-8677-bead386b0d4f.gif)

[2018-08-16 19:56] VaishSiddharth commented on #1485
@misaochan I have noticed that if i click back button immediately after "Commons App has stopped" pops up then the upload fails otherwise the upload is successfull but the app crashes as you can see.

[2018-08-16 20:15] misaochan commented on #1485
@sivaraam I don't have the rights to create a custom visibility paste, and neither do most people who are posting their logs here. It would be extremely inconvenient to have to contact you or someone with those privileges every time we want to post any logs.

Perhaps we could start another issue to brainstorm how we can handle this better? An alternative could be modifying the interceptor class to

[2018-08-16 20:30] misaochan commented on #872
Interesting, so the mobile web version is preferable for editing? That would likely be the easier option for us indeed.

[2018-08-16 20:43] maskaravivek commented on #1772
Yes, you are right. You need to use:

[code]

[2018-08-16 20:51] Mansi449 commented on #1772
Thanks @maskaravivek I would make the necessary changes.

[2018-08-16 20:53] maskaravivek commented on #1489
- Hyperlog will definitively solve one issue ie. the logs sent by the users would be more useful. I will go ahead and integrate it.

- Sentry or any other crash reporting framework might be useful if we wish to proactively monitor issues/crashes without users sending us the logs. The one advantage that I see with sentry is that the data will reside with us. Someone should be surely able to help us

[2018-08-16 22:29] misaochan commented on #1489
Sounds good @maskaravivek .

One more thing - we should make sure to test the implementation on prodRelease, as that is the build variant that all users will br running. I noticed that the logs that I get via Android Studio on debug builds are different from those that I get on release builds for some reason. Not just the lack of http headers either (which was done on purpose), but other logs appe

[2018-08-17 04:50] maskaravivek commented on #1489
Sure, will test on `prodRelease` as well.

I guess we should start obfuscating the session cookies, make the logs a bit less verbose and enable it for prod variant as well. Logs won't be very useful if the request/response isn't logged.

[2018-08-17 04:58] VaishSiddharth commented on #1485
@misaochan I uploaded an image successfully through upload wizard on browser. I think this means my account is not blocked.

[2018-08-17 05:02] maskaravivek commented on #1489
To get started I have added Traceur (#1832).

[2018-08-17 05:07] VaishSiddharth commented on #1485
@misaochan Please have a look.
 `08-17 10:34:39.504 19826-19826/? I/zygote64: Late-enabling -Xcheck:jni
08-17 10:34:40.419 19826-19826/fr.free.nrw.commons I/MultiDex: VM with version 2.1.0 has multidex support
    Installing application
    VM has multidex support, MultiDex support library is disabled.
08-17 10:34:40.503 19826-19826/fr.free.nrw.commons I/InstantRun: starting instant run server: is

[2018-08-17 06:45] misaochan commented on #1489
Thanks @maskaravivek ! I agree completely with obfuscating the session cookies, it will make it much easier for people to paste logs as well, without having to ask @sivaraam or someone with custom visibility privileges to create a Phab paste for us. And once they are obfuscated, we can indeed enable http logging in release builds as well. (@nicolas-raoul correct me if I'm wrong?)

Would it be at a

[2018-08-17 06:52] maskaravivek commented on #1489
Yes, I would take it up as part of this task itself because getting request/response would be quite important.

Just to add, Tgr granted custom privileges to me as well and I can the members/collaborators of commons app to the list so that we can share logs without obfuscating the cookies. :)

[2018-08-17 06:57] misaochan commented on #1485
Hmm, so this is the crash you are getting all the time?

[code]

I wonder how we can debug this. Our app package isn't mentioned in any part of the stack trace. :/ @maskaravivek what do you think about this?

@VaishSiddharth Good to hear that your account is fine. ;) Could I please trouble you for one final log - a **failed** upload all the way up to the part that you copied for your successful up

[2018-08-17 07:00] misaochan opened #1833 "Get ACRA crash reporting system working again"
**Summary:**

We used to have ACRA crash reports. Then we didn't. Then we fixed that. But now we don't have them again. These reports are very useful because they allow users to add comments to tell us what they were doing at the time of the crash

**Steps to reproduce:**

Generate a crash. If ACRA reports were working, there would be an option to report the crash (not just close or reopen app).

[2018-08-17 07:04] misaochan commented on #1489
Please do, thanks!

[2018-08-17 12:50] misaochan commented on #1485
@VaishSiddharth Try this: Start the upload, let it crash, then press back button immediately, watch the upload status change to "failed", then copy all the logs?

If you could email me your logs, once @maskaravivek gets a custom paste up, I can post them there. :)

[2018-08-17 17:32] VaishSiddharth commented on #1485
@misaochan Should I mail you the logs or paste them here? I dont have your email id.

[2018-08-17 17:47] sivaraam commented on #1489
Just FYI, I **too** do not have permissions to create pastes with a custom policy. I was just pointing out the importance of keeping bad eyes away from logs that have not been obfuscated yet.

[2018-08-18 02:31] Mansi449 commented on #1772
@Nikerabbit @maskaravivek @misaochan I have made the required changes for the `welcome_help_button_text` string.
But another string `<string name="nominated_see_more"><u>See webpage for details</u></string>` has the same issue.
So shall I create a PR for this issue now and fix the `nominated_see_more` string in a separate issue or shall I create the PR only after fixing the `nominated_see_more` st

[2018-08-18 04:27] maskaravivek commented on #1772
IMO it should be fine to fix both the strings in a single PR. You can name the PR accordingly.

[2018-08-18 04:37] sivaraam commented on #1485
@misaochan That's the best thing we should be doing as a long term solution.

[2018-08-18 04:40] sivaraam commented on #1485
@misaochan Just for the sake of completeness, I do not have permissions to create a paste with a custom policy. But as you now seem to be aware @maskaravivek does.

[2018-08-18 04:43] sivaraam commented on #1485
@VaishSiddharth You could get a hint [here](https://m.mediawiki.org/w/index.php?title=User:Misaochan)

[2018-08-18 04:46] whym commented on #1768
I agree with Nicolas in that the list should be easy to understand. Considering multiple reasons may apply, perhaps it can be a list of simple questions and (multi-select) checkboxes, rather than one-select list? e.g.:

    Why do you want to delete it? Check all that apply.

    [] I mistakenly upload it.
    [] It reveals something private.
    [] It depicts nothing interesting/educational.

[2018-08-18 04:53] whym opened #1834 "Notification-related crashes on Android 8.1 (API 27)"
**Summary:**

I consistently get crashes on upload attempts on Android 8.1.

**Steps to reproduce:**

Tap the camera icon and proceed to upload.

Logcat says:

    08-17 21:31:19.706 17044-17044/fr.free.nrw.commons.beta E/AndroidRuntime: FATAL EXCEPTION: main
    Process: fr.free.nrw.commons.beta, PID: 17044
    android.app.RemoteServiceException: Bad notification for startForeground: java.lang.Ru

[2018-08-18 07:15] nicolas-raoul commented on #228
The problem is still happening in 2.8.1, see for instance https://commons.wikimedia.org/wiki/File:Venner%C3%B8d_skole.jpeg

[2018-08-18 14:25] Mansi449 commented on #1772
Ok sure, thanks!

[2018-08-19 06:59] misaochan opened #1837 "Using the same filename in v2.8 overwrites the existing file"
**Summary:**

I received a report from a user that creating a second file with the same filename as the first, overwrites the first file - https://commons.wikimedia.org/wiki/File:Venner%C3%B8d_skole.jpeg

This should not happen. While we have had a few overwrite issues (see #703 ), they are not usually as straightforward as this one. The app should be adding a numbered suffix if the filename exist

[2018-08-19 07:01] misaochan commented on #1834
Thanks @whym ! We'll test your PR ASAP.

[2018-08-19 07:04] misaochan commented on #1485
Thanks for emailing me @VaishSiddharth

@maskaravivek Could we get a custom visibility paste up on Phab, please?

[2018-08-19 07:08] misaochan commented on #1837
Oh, I just realized that this was already mentioned at #228 . :/ Let us carry on the discussion there, I will close this for now.

[2018-08-19 07:08] #1837 closed

[2018-08-19 07:14] misaochan commented on #228
I accidentally posted a new issue for this at #1837 . @PeterFisk could you please get back to us, letting us know what Android version you are using (can be found in your phone settings), whether you reinstalled the app between the two uploads (unlikely, looking at the timing), and if you had any connectivity issues while uploading?

If there is indeed a connection with .jpeg files, we need to bum

[2018-08-19 08:16] PeterFisk commented on #228
**Device and Android version:**
Samsung Galaxy S9, SM-G960F
Android 8.0.0
Stock version Samsung Experience 9.0

I did not reinstall between the two image uploads. I accidentally gave them the same name, but expected to get a warning or at least automatic rename of the file.

PeterFisk

[2018-08-19 11:30] maskaravivek commented on #1485
@misaochan I have added you to trusted contributors list on phab. Now you should be able to create a paste with custom visibility. https://phabricator.wikimedia.org/project/members/3104/

[2018-08-19 15:42] misaochan commented on #1485
Thanks! Paste is at https://phabricator.wikimedia.org/P7465 and I have given @maskaravivek , @neslihanturan and @nicolas-raoul access. If anyone else needs it, please ask.

[2018-08-19 15:58] misaochan commented on #228
I tested the .jpeg hypothesis. It turns out that there is indeed a connection with .jpeg! And unfortunately, now all files submitted via "Share" turn into .jpegs. https://commons.wikimedia.org/wiki/File:Royal_arcade_Melbourne.jpeg overrides, https://commons.wikimedia.org/wiki/File:Creperie_Brisbane_2.jpg does not.

This bodes more investigation, but for the time being I think the simplest way to g

[2018-08-19 17:01] misaochan commented on #1825
If anyone is having trouble reproducing this, it may be worth trying a few different emulators/devices/APIs. My API 24 Nexus One emulator cannot reproduce this problem (even if I upload via Share, my images are .jpg), but my API 26 Samsung Galaxy S7 can.

[2018-08-19 18:04] misaochan commented on #228
Just documenting the results of my debugging here, after delving into the legacy code. The culprit is this block of code in UploadService:

[code]

What this code does is calls fixExtension on the filename. fixExtension is a rather bloated method that doesn't just FIX the extension, it is solely responsible for appending any extension at all. Before fixExtension is called, the filename never has a

[2018-08-19 20:44] neslihanturan commented on #228
I did the same debug as you did and came to same point. But extension was null in my case as it should be. Because the only files I could reproduced this issue were no-extension files. I think adding .jpg (if extension is null) will be our solution.

[2018-08-20 07:39] maskaravivek commented on #1485
From the logs it looks that the crash is happening because of the notifications issue @whym recently fixed.

[code]

@whym's fix was merged on August 19th.

@VaishSiddharth I suspect that you are on API level >=26. Can you pull the latest upstream master and retry. The crash should no longer happen.

[2018-08-20 08:05] nicolas-raoul opened #1839 "Coordinates not showing up in "My Recent Uploads" picture"
A person uploaded https://commons.wikimedia.org/wiki/File:2018-07-11,_Neubau_der_Freiburger_Kronenbr%C3%BCcke_(linker_Bildrand),_Fahrbahnvorbereitung_am_Nordufer.jpg (not with the Android app), with coordinates.

Problem: The coordinates are not visible when tapping on the picture in "My recent uploads".

Metadata of the file:
[code]

[2018-08-20 08:15] whym commented on #1485
@VaishSiddharth the fix is https://github.com/commons-app/apps-android-commons/commit/6842420aeba0d9595d6d65b90cb8f32f48efb2c0, in case you want to cherry-pick and try. :)

[2018-08-20 08:27] misaochan commented on #228
@neslihanturan I was thinking about that - what if the file being uploaded is not ACTUALLY a .jpg, though? For instance, if it was a SVG or PNG.

I tested this theory by uploading a .png. When I upload via Share, the .png upload always fails with the error:
[code]

Because the mimeType is not detected in fixExtension, so we added a .jpg to the end of it, which doesn't work since it's a .png.

On t

[2018-08-20 09:14] maskaravivek opened #1840 "Unable to install beta and prod variants simultaneously"
**Summary:**

After #1725 got fixed in #1726, beta and prod variants should coexist on the same device. Recent changes have again started build failures when trying to install beta over prod.

**Steps to reproduce:**

Install prod variant. Now try installing beta variant.

**Add System logs:**

[code]

 **Commons app version:**

`master`

**Would you like to work on the issue?**

Yes

[2018-08-20 09:38] nicolas-raoul commented on #1839
That is probably the cause indeed.
We must support all existing formats.

[2018-08-20 10:31] misaochan commented on #703
This might not be needed now if #228 works, along with #604 which will unite Share uploads with in-app uploads. Will check back on it once 2.8.2 has been out for a while.

[2018-08-20 10:46] nicolas-raoul commented on #872
Our Facebook page received this message:

And when I tailored on the image I saw all the details... Plus a "nominate for deletion" option, but no "use this file"
Wouldn't it be a good idea to have an automatically generated string [[file:... |right|thumb|description]] that will make the use of uploaded images through the app easier?
Maybe even two more fields for project (like "bg.wp" for Bulgaria

[2018-08-20 10:52] neslihanturan commented on #872
My question is, do we plan to include this feature for just our own images in our contributions list, or all images that we can browse via new browse feature?

[2018-08-20 10:56] nicolas-raoul commented on #872
@neslihanturan I would be in favor of allowing it for any image, since the app is now also very convenient to search for a media.

[2018-08-20 10:59] #1840 closed

[2018-08-20 11:59] misaochan commented on #872
Being rather risk-averse (understatement? haha ;)), I would prefer to just enable it for own images first, collect statistics on how it is used, and then if statistics are good, enable it for all images (perhaps only for users with a certain level).

[2018-08-20 12:50] #1678 closed

[2018-08-20 12:55] whym commented on #703
We can drop the "Prevent overwrites" part, but isn't it still worthwhile to provide (with lower priority, perhaps)? Sometimes the user thinks of a too simple name (like "Forest.jpg") which coincides with an existing file. When they are asked for alternative saying "It's used!", it might encourage a more descriptive name.

[2018-08-20 13:58] ashishkumar468 commented on #1839
@maskaravivek @nicolas-raoul I'd like to take this up

[2018-08-20 15:28] VojtechDostal commented on #872
Yeah, @nicolas-raoul 's idea sounds fairly straight-forward and potentially very useful :-)

[2018-08-20 15:32] VojtechDostal commented on #1831
The app currently does not know which language the uploader is using hence the addition of P2096. However it will know so once #1501 is deployed. Thanks for the suggestion Nicolas, I really like this direction!

[2018-08-20 15:51] VojtechDostal commented on #1785
Always happy to help with promotion of this, if needed.

[2018-08-20 15:54] VaishSiddharth commented on #1485
@whym @maskaravivek Thanks I will try :)

[2018-08-20 15:56] maskaravivek commented on #1839
@ashishkumar468 its yours. :)

[2018-08-20 15:59] ashishkumar468 commented on #1839
Thanks @maskaravivek  :-). Can some one let me know if there is a beta version of the website as well, in order to produce the issue I need to first upload an image from the website and then with the same account I need to debug in the android app to reproduce it and add a probable fix

[2018-08-20 16:02] misaochan commented on #1785
Thanks Vojtech. :) We have had a few applicants already, so no need to promote further I guess. However, if anyone is reading this and thinking of applying, please bear in mind that applications are closing in 4 days, so now's the time! ;)

[2018-08-20 16:04] misaochan opened #1843 "Add text field to media details view for users to copy image template into Wikipedia"
As posted on FB,

We can just add this as one of the items in media details view I guess, along with categories, desc, etc. Could have a button at the side of the field where, when tapped, will copy the wikicode to clipboard along with a toast. Should be fairly straightforward to implement.

[2018-08-20 18:13] maskaravivek commented on #1839
Yes. https://commons.wikimedia.beta.wmflabs.org/

Or maybe you can just search for this image using the explore feature in the app.

[2018-08-20 21:42] albendz commented on #1843
May I pick this up?

[2018-08-21 01:30] sdabhi23 commented on #868
![logo_flat](https://user-images.githubusercontent.com/25759344/44375108-92c0c700-a50f-11e8-86d8-fcaf808bd2b0.png)
![logo_elevated](https://user-images.githubusercontent.com/25759344/44375126-a79d5a80-a50f-11e8-91f0-944026c25707.png)

These are the 2 designs I could come up with, by doing minimum modifications in the original logo.

[2018-08-21 02:25] nicolas-raoul commented on #1843
@albendz Yes sure :-)

[2018-08-21 02:36] nicolas-raoul commented on #1843
Here is how it is implemented in the website's Upload Wizard, if I understand correctly:

https://github.com/wikimedia/mediawiki-extensions-UploadWizard/blob/bde7469f4ac267647dd9ce9ec43d26b83fcfddd8/resources/ui/steps/uw.ui.Thanks.js#L105

[code]
Strangely there does not seem to be any internationalization. Internationalization seems to be needed, though, here are a few examples:

- wp.en: `[[File

[2018-08-21 02:42] nicolas-raoul commented on #1839
Yes, just use the Explore feature and search for the image's name, you will probably find it easily.
The bug is most probably visible via that activity too.

[2018-08-21 02:49] nicolas-raoul commented on #868
I like the first one.
The concept of adding a white rounded rectangle background is also used by the Wikipedia and Wikivoyage apps, which is a plus.
I would say that I support switching to that icon.

[2018-08-21 04:36] albendz commented on #1843
@nicolas-raoul Regarding the internationalization, can you explain more what you expect vs. what you see? It's hard to tell from the examples what is expected. I can see for:

Half is in French and half in English but I am not sure what the expected is supposed to look like. Since a lot of the content is user provided, should it be localized?

Finally, is the internationalization issue part of thi

[2018-08-21 06:46] nicolas-raoul commented on #1843
@albendz At first, you can just focus on wp.en
Your task is just to take the filename and title from the media in question, and show a copyable textbox with this text:
[code]
where XXX is the filename and YYY is the title

[2018-08-21 09:02] sdabhi23 commented on #1821
I would like to work on this one. Should we place the option on the login screen itself or in the settings?

[2018-08-21 09:09] nicolas-raoul commented on #1821
@sdabhi23 It is yours :-)
In the settings, because most users will just be happy with the default (their phone's locale).

[2018-08-21 10:38] misaochan commented on #868
The first icon looks good to me too. :)

@nicolas-raoul I guess we will have to ask WMF Legal first before we can use it?

[2018-08-21 11:01] nicolas-raoul commented on #868
@misaochan Good idea indeed!

[2018-08-21 12:58] VojtechDostal opened #1844 "Add button "use app" to Commons:Upload and/or main page"
I think it's time to add link to our app to [Wikimedia Commons main page](https://commons.wikimedia.org/wiki/Main_Page) and/or to the [default Upload Wizard](https://commons.wikimedia.org/wiki/Special:UploadWizard).

What do you think? Ideas on how to make this happen?

An even more radical solution would be to detect visitors coming to Wikimedia Commons page from a mobile device and suggesting th

[2018-08-21 13:47] VojtechDostal commented on #799
I created the following Twitter account: https://twitter.com/wikicommonsapp

If someone wants to use it, please contact me.

In the meantime, I set up automatic crossposting from Facebook, so anytime our Facebook page posts something, it will be published on Twitter as well.

[2018-08-21 14:11] misaochan commented on #1844
That would be wonderful! Unfortunately, I have no idea how to make it happen, lol. There are a few other upload tools out there as well, although as far as I'm aware, we appear to be the only one specializing in a platform where the upload wizard cannot be used (AFAIK they have disabled mobile web uploads?).

[2018-08-21 15:06] misaochan commented on #1844
Just thought about this a bit more. I guess if we were to try approaching the Commons website maintainers about this, our best bet would be for a group of users not officially on our team (i.e. others from WMCZ?) to do it. It makes more sense to put us up because users asked for it, not so much if the team ourselves asked.

[2018-08-21 17:47] ashishkumar468 commented on #1839
@nicolas-raoul Yeah, was easier that way, have added the fix, raising the pull request in a while

[2018-08-21 17:55] ashishkumar468 commented on #1839
@maskaravivek @nicolas-raoul Have raised a pull request for the same. It would be great if one of you could review https://github.com/commons-app/apps-android-commons/pull/1845

[2018-08-21 18:28] Mansi449 commented on #1669
@nicolas-raoul Since the issue is still open, is there anything left to be done in it? If yes, I would like to give it a try.

[2018-08-21 18:47] ashishkumar468 opened #1846 "Nearby crashes when Home [From the Nav Drawer] is pressed while nearby is still loading data"
**Summary:**
If we press home while nearby is still loading data, nearby crashes.

**Steps to reproduce:**

Click on Nearby and while its loading data, click on home from the nav drawer, nearby crashes with InterruptedIOException

**Add System logs:**

Add logcat files here (if possible).

[code]

**Device and Android version:**

Samsung s7 api 27

 **Commons app version:**
2.8.1-debug-master~4ea7

[2018-08-21 18:49] ashishkumar468 commented on #1846
Can someone please review this ?

[2018-08-21 18:51] maskaravivek commented on #1846
Please go ahead and fix it if you can. :)

[2018-08-21 18:51] maskaravivek commented on #1846
Does it also happen on latest master?

[2018-08-21 18:56] VojtechDostal commented on #1846
Cannot reproduce this bug in 2.8.2.

Anyone?

[2018-08-21 18:56] ashishkumar468 commented on #1846
Actually my version is 2.8.1

[2018-08-21 19:46] VojtechDostal commented on #923
@urbanecm wrote the following Quarry for us:
https://quarry.wmflabs.org/query/29196

That should work always, not just for the last 30 days

[2018-08-22 01:27] ioshomebrew commented on #1821
So far I put an option in settings to change the locale, but it does nothing as of yet

[2018-08-22 03:50] maskaravivek commented on #1846
@ashishkumar468 If this is not happening in the latest version of the app, then we can probably close it. Let us know if you are still facing an issue.

[2018-08-22 04:15] ashishkumar468 commented on #1697
Is this issue still open, although I could see the dialog to ask for permissions when sharing multiple images from gallery, the negative cases where the user chooses deny is not handled, we can may be show him a dialog to let him know why he needs the permission, and then prompt him again. Also if I choose deny (never ask again), I could see that that now sharing through gallery shows nothing (act

[2018-08-22 04:46] maskaravivek commented on #1821
@ioshomebrew This issue is already assigned to @sdabhi23 so it might not worthwhile to duplicate the efforts. There are a lot of open issues that you can go through and pick up :)

[2018-08-22 04:48] maskaravivek commented on #1846
IMO, it might not be reproducible every time especially on faster networks. If it is still happening on the latest master, you can go ahead and add handling for `InterruptedIOException`.

Anyways will try to test if it happens for me as well.

[2018-08-22 05:18] ashishkumar468 commented on #1846
@maskaravivek Yes, might be the case that I will not be easily reproducible in fast networks. Still the issue persists and can be easily realised from the code. Have added a fix for the same. It would be great if you could review https://github.com/commons-app/apps-android-commons/pull/1847

[2018-08-22 05:56] ashishkumar468 commented on #1773
I'd like to take this up. Probably with a fix of https://github.com/commons-app/apps-android-commons/issues/1697

[2018-08-22 07:04] misaochan commented on #923
Woohoo! Thanks @VojtechDostal and @urbanecm . :)

[2018-08-22 08:09] misaochan commented on #746
@psh 's mockups for the upload queue look great to me. :)

I've been thinking about this, and it would be  very useful indeed if we could allow the upload to be done in chunks, so that it can be paused and resumed (and also users don't lose upload progress if their internet is spotty). I am sure it CAN be done as other apps have done it, but I'm not sure how time-consuming or involved the implemen

[2018-08-22 09:57] misaochan commented on #1473
@neslihanturan Any news on the videos? :)

[2018-08-22 09:59] misaochan commented on #274
Completed, thanks @tanvidadu ! :)

[2018-08-22 09:59] #274 closed

[2018-08-22 10:06] misaochan commented on #74
So I did a bit of digging and found... https://softwarerecs.stackexchange.com/questions/30075/java-library-to-detect-whether-picture-is-selfie-or-not , which was started by Nicolas in 2016, lol. I also found a couple of open source libraries for detecting faces, e.g. https://github.com/akshayKMR/Selfie-Fun

Despite @nicolas-raoul 's thread not receiving any answers, someone made a good point about

[2018-08-22 10:11] misaochan commented on #1559
I agree with the steps mentioned by @neslihanturan and @nicolas-raoul - preferably we will polish this a bit before incorporating it in our app. How about we include the polishing as part of our PG 2019 plans?

[2018-08-22 10:38] nicolas-raoul commented on #1559
Recent uploaded are indeed visible within the app: Tap "Explore", search for "Uploaded with Mobile/Android", tap "Categories", tap "Uploaded with Mobile/Android".

Not sure whether this can benefit Nes' work or this feature in general, though.

![screenshot_20180822-192957](https://user-images.githubusercontent.com/99590/44458884-8be6a100-a642-11e8-9fca-a8a837159921.png)
![screenshot_20180822-1930

[2018-08-22 11:54] nicolas-raoul opened #1848 "If no coordinates, ask where picture was taken"
Often GPS does not work, or is not enabled, and the picture has no coordinates, making it probably useless, see for instance https://commons.wikimedia.org/wiki/File:%D8%B5%D9%88%D8%B1%D8%A9_%D9%84%D9%82%D8%B1%D9%8A%D8%AA%D9%8A_.jpg

In such cases, we should ask the user where the picture was taken.

[2018-08-22 12:41] nicolas-raoul commented on #1843
Good news: The English syntax works in the French and Japanese wikis, so probably in all others too, which means we only need the syntax seen in my comment above.

Actually, the upload wizard shows the English syntax even for a picture I uploaded 100% using the interface in French:
![screenshot from 2018-08-22 21-24-12](https://user-images.githubusercontent.com/99590/44463854-fbb15780-a653-11e8-88

[2018-08-22 13:00] misaochan commented on #1473
@neslihanturan I mean, could you just send me the raw recording? I just need to see what we already have, as I am considering adding this task to our PG plans for next year.

[2018-08-22 13:01] misaochan commented on #74
Sounds good to me. We can go with just warnings first, and only consider upload restrictions much later when we have an idea of how reliable/accurate the warnings are.

[2018-08-22 13:03] misaochan commented on #1848
Why does this require Structured Commons?

[2018-08-22 13:28] misaochan commented on #74
Thoughts on this library? https://github.com/Qualeams/Android-Face-Recognition-with-Deep-Learning-Library

[2018-08-22 14:42] nicolas-raoul commented on #74
To my understanding, this library seems to do face recognition (is this a
picture of Josephine or Nicolas?) whereas we need a library that answers:
Is there a face in that picture and if yes in what rectangle?

On Wed, Aug 22, 2018, 22:29 Josephine Lim <notifications@github.com> wrote:

[2018-08-22 15:40] ashishkumar468 commented on #1697
Yes, waiting on @VaishSiddharth  for his update .

[2018-08-22 15:55] VaishSiddharth commented on #1697
@ashishkumar468 Yes you can work on this. :)

[2018-08-22 16:05] ashishkumar468 commented on #1697
Thanks @VaishSiddharth, taking this up

[2018-08-22 17:35] ujjwalagrawal17 commented on #1585
I think GitHub is pretty stable. I am loving the new UI of GitHub. I think we don't have any plan to move to gitlab now. @josephine @nicolas-raoul @neslihanturan . If everyone is Ok we can close this. We have a lot of open issues (360).

[2018-08-22 18:44] albendz commented on #1843
Thank you for the clarification. I'll get started.

[2018-08-22 20:47] ioshomebrew commented on #1848
And question, should I require users to enter a location in the event GPS is disabled?

[2018-08-23 02:51] nicolas-raoul opened #1850 "Show media talk page"
Each media on Commons has a talk page.

While not as active as on Wikipedia or Wikivoyage, they can still be useful.

We could include the media's talk page discussion (if any) at the bottom of the media details.

Not sure what is the bast way to include:
- Take the wikicode and show it as is?
- Take the wikicode and attempt to make it human-friendly?
- Take the HTML of the page and display the wh

[2018-08-23 03:00] nicolas-raoul opened #1851 "[Peer review] Send message to uploader"
[Optional enhancement for peer review]

I have found that talking to the uploader is a great way to get them to add details or to determine whether the media is worthy or not.

Examples of how it helped just today:
- I was close to deleting this selfie, but the uploader actually explained how the person is notable (to some extent): https://commons.wikimedia.org/wiki/File_talk:Zhu_(Julian_Zhu).jpg

[2018-08-23 03:06] nicolas-raoul commented on #1585
I think the topic is still open to discussion :-)

I don't have a problem with having a large number of open issues.
The important number is 67: It is the number of open bugs https://github.com/commons-app/apps-android-commons/issues?q=is%3Aissue+is%3Aopen+label%3Abug

[2018-08-23 03:43] nicolas-raoul commented on #1848
@misaochan : When Structured Commons gets implemented, there will be a location field which will take as a value a Wikidata item, for instance https://www.wikidata.org/wiki/Q200126 (Paris 18). If we implement it now, we have to take the Wikidata item's P373 (Commons category) property. Nothing bad enough to justify postponing if you feel this feature is important, though :-)

@ioshomebrew
Thanks f

[2018-08-23 07:47] VojtechDostal opened #1852 "Icons in Nearby list showing up when phone is set to English but not when set to Czech"
I noticed that icons in the Nearby list do not work when I set my phone language to Czech. Steps to reproduce: set language to Czech, reopen app, load Nearby list.

[2018-08-23 07:49] VojtechDostal commented on #1852
![screenshot_20180823-094139](https://user-images.githubusercontent.com/21329813/44512103-cb040900-a6b9-11e8-9ca7-51802612849e.jpg)
![screenshot_20180823-094226](https://user-images.githubusercontent.com/21329813/44512115-d1928080-a6b9-11e8-9aa9-9a632295c038.jpg)

[2018-08-23 07:50] VojtechDostal commented on #1852
FYI I dont remember these icons ever working in Czech. I was actually surprised to find them in English version :-)

[2018-08-23 07:53] misaochan commented on #1585
Yeah, I think it is OK to leave discussion issues open unless they become truly irrelevant (e.g. what to do for the 2018 hackathon which is already over). :)

[2018-08-23 07:54] VojtechDostal commented on #1848
The idea with continents/countries etc is nice but quite complex... why wouldnt we just ask the uploader to pin a place in a google map/default map viewer and save that position?

[2018-08-23 08:06] misaochan commented on #1852
Thanks for catching this! There is probably an issue with the mapping. AFAIK, we are currently mapping icons based on this query, do you see a reason why it might not work with non-English languages?

[code]

[2018-08-23 08:12] misaochan commented on #1848
Ah I see, thanks for the explanation @nicolas-raoul . I think this would be useful even before Structured Commons, probably. :)

I agree that pinning a place in a map would be ideal, but not sure if we can utilize a 3rd party app for that purpose. We might potentially need to generate our own map (probably in a similar manner to how we call Mapbox for Nearby).

[2018-08-23 08:18] misaochan commented on #1851
Wow, Julian Zhu!! :D

This would definitely be useful, but would probably best be done alongside #1850 , right? Since otherwise nobody can respond in-app.

[2018-08-23 08:34] nicolas-raoul commented on #1852
The problem is at https://github.com/commons-app/apps-android-commons/blob/f1f41e59f7b513d071797bd0fd0eedc1df1dcbf9/app/src/main/java/fr/free/nrw/commons/nearby/Place.java#L122

We should get the QID of the class, and match against this QID. For instance river is Q4022.

[2018-08-23 13:09] ashishkumar468 commented on #1774
@nicolas-raoul @misaochan I actually did a bit of research. We cannot insert script in the readme file. @nicolas-raoul The repository which you have mentioned, Dexter, even that, if you see their readme file, you will find that  they have hardcoded the list, do we want the same in our readme ?

[2018-08-23 13:15] nicolas-raoul commented on #1774
@ashishkumar0207  We want a script (in any language, for instance Groovy) that generates that list. Writing it by hand would require too much maintenance.

[2018-08-24 09:13] #799 closed

[2018-08-24 14:45] Yannf commented on #1485
Hi, I am one of the people who reported failed uploads. Now it mostly works with 2.8.1 but I got 3 uploads blocked as "queued". I can't cancel nor retry them.

[2018-08-24 14:56] Yannf commented on #1485
Now I uploaded the same files separately and it worked.

[2018-08-24 15:09] Mansi449 commented on #1850
@nicolas-raoul I would like to give it a try.

[2018-08-24 15:37] gupta1anubhav opened #1853 "No of Uploads not updated"
**Summary:**
No of uploads doesn't increase after uploading the image.

**Steps to reproduce:**
You can upload a new image and no of uploads count doesn't increase from the previous value.

**Device and Android version:**

Tested On Redmi Note 4 (Nougat)

 **Commons app version:**
 prodDebug.

**Screen-shots:**
![screenshot_2018-08-24-20-36-48-482_fr free nrw commons debug](https://user-images.git

[2018-08-24 16:05] Yannf opened #1854 "When uploading several files at once the date is missing"
When uploading several files at once the date is missing.

Also sometimes wrong.
The App added the upload date, instead of the date " according to Exif data".
https://commons.wikimedia.org/w/index.php?title=File:View_of_Leh_from_Tsemo_castle,_Ladakh.jpg&oldid=315035923
https://commons.wikimedia.org/w/index.php?title=File:View_of_Leh_from_Tsemo_castle,_Ladakh_,_2.jpg&oldid=315036119

**Device and A

[2018-08-24 16:35] Yannf commented on #1485
Additionally the item stays in the dropdown menu even after the image uploaded alright.

[2018-08-24 17:07] maskaravivek commented on #1846
The corresponding PR has been merged. Closing this issue. Thanks @ashishkumar468

[2018-08-24 17:34] maskaravivek commented on #1708
Already incorporated. :)

[2018-08-24 17:34] #1708 closed

[2018-08-24 17:41] maskaravivek commented on #1489
Have run into an issue while using `HyperLog`. Every usage of `Log` or `Timber` will have to be replaced by `HyperLog.d`.

To avoid this will go ahead and plant a `FileLoggingTree` to `Timber`.

[2018-08-25 13:30] Mansi449 commented on #1850
@nicolas-raoul what exactly must be displayed in the talk section of media details?  Let, for example, consider the links that you added in the issue #1851 each contain two messages. So have we to show both the messages in the `Talk` section (to be added) in `Media Details`.
Links:
https://commons.wikimedia.org/wiki/File_talk:Zhu_(Julian_Zhu).jpg
https://commons.wikimedia.org/wiki/File_talk:Concep

[2018-08-25 16:45] neslihanturan commented on #725
Hi team, while working on this issue, I recognized some details needs to be discussed:

1- Where to put number of uploads? Left picture of right one? My vote for left.
![numberofuploads](https://user-images.githubusercontent.com/3127881/44620534-ca789780-a89e-11e8-8e77-ea61d7252d70.png)

2- What to display while notifications and nearby notifications are getting fetched? Progress bar on empty card

[2018-08-25 17:30] neslihanturan commented on #725
Oh huge change after we discussed/agreed and I almost finished implementation? not nice @maskaravivek :D Anyway, can you share some mockups? How should we display nearby then? With small map icon next to bell icon? How we will try to request permission from location disabled users. What will happen when user clicks them?

And if we are not planning to change all these details, what are your opinio

[2018-08-25 17:33] neslihanturan commented on #725
Maybe _only_ for small screens we can use  bell icon with just the count in the top toolbar by the way.

[2018-08-26 02:35] dbrant commented on #1489
@maskaravivek @misaochan  Sorry for the late reply!
I'm afraid I have very little experience with these third-party logging solutions. Whichever framework you choose, I would only stress that you restrict your transmitted logs to include only information that's absolutely essential, and make sure that all logs are thoroughly anonymized.

I generally like to encourage a greater emphasis on QA, cont

[2018-08-26 13:02] whym commented on #1854
Just checking, did it happen only when you uploaded multiple files at once? If so we should probably include that into the issue title.

For the "View_of_Leh_from_Tsemo_castle,_Ladakh" set, both [File 1](https://commons.wikimedia.org/w/index.php?title=File:View_of_Leh_from_Tsemo_castle,_Ladakh.jpg&oldid=315035923) and [File 2](https://commons.wikimedia.org/w/index.php?title=File:View_of_Leh_from_T

[2018-08-26 13:30] whym commented on #1844
I tried the Commons website from Firefox Focus on Android and saw links to the app (but I had to log in to see this):

![untitled](https://user-images.githubusercontent.com/10674/44628600-e69f3600-a97d-11e8-88bd-3b7b5ecb251f.png)

Since these existing links won't go away (at least not yet for me), we should not try over-exposing it - more than one instance of the same Play Store link on one page w

[2018-08-26 16:50] pataquets opened #1860 "Allow coarser location to be used for Nearby feature"
**Summary:**
Sometimes an exact GPS location is not needed and a coarser location is good enough.
If turning on GPS was made to be optional,the app would be useful in such cases (possibly warning of reduced precision).

The main annoyance now is having to turn on GPS, and having to turn it off again afterwards to avoid battery drain. Too much juggling back and forth settings screens for me.
Often,

[2018-08-26 23:44] befrou opened #1862 "Open notification when touching any part of the notification item."
**Summary:**
In Notifications when i touch the text of an item nothing happens. Thought it would be good if It was possible to click in any part of the item and it would do its given action.

**Steps to reproduce:**

How can we reproduce the issue?
Go to notifications and touch the text in the middle of the item related to the notification.

What did you expect the app to do, and what did you see

[2018-08-27 03:11] nicolas-raoul commented on #1860
Does coarse location give accuracy? For instance `43.3825423,12.94621342±5km`?

[2018-08-27 03:44] nicolas-raoul commented on #1862
Indeed that would be great!
Good luck with implementation, please let us know :-)

[2018-08-27 03:46] nicolas-raoul commented on #1850
For https://commons.wikimedia.org/wiki/File_talk:Zhu_(Julian_Zhu).jpg here is the part that should be shown in the app:
![screenshot from 2018-08-27 12-18-19](https://user-images.githubusercontent.com/99590/44638734-65828600-a9f3-11e8-99db-55539a79ce10.png)
You can get the wikicode via the Mediawiki API, I don't remember the exact syntax. There might be an option for rendering templates that are c

[2018-08-27 04:14] Mansi449 commented on #1850
Thanks for the clarification @nicolas-raoul.
Okay, I would browse the Mediawiki API for the wikicode if required.

[2018-08-27 06:47] maskaravivek commented on #1489
Thanks @dbrant for your insights. We really appreciate you taking out time to respond in such detail. Your observations are accurate and we admit that the the quality of code is not consistent throughout the app.

Personally, I didn't emphasise on few of the points(image library, SVG, 3rd party libraries) and let those pieces of code creep in our codebase. We will strive to follow better code prac

[2018-08-27 08:02] misaochan commented on #725
Sorry for the delay in responding @neslihanturan !

1. I have a slightly controversial opinion - neither. It feels to me like adding an extra line for number of uploads would be superfluous, and it feels like it breaks the flow of the layout. Rather, in the tab itself, I would say "Contributions (111)". Anyone else have any thoughts about this? :)
2. I would definitely go with making views only vi

[2018-08-27 08:10] misaochan commented on #1844
Interesting! I recall having a few conversations with people about how WMF had to disable mobile web uploads due to the "selfie-pocalypse" generated by them, but I can't seem to find the links now. I tried it on my browser, and while the layout isn't ideal, it works for me.

[2018-08-27 08:25] misaochan opened #1863 "Reduce complexity - refactor existing code to use unified APIs"
As posted by @dbrant at #1489 :

This makes a lot of sense, thanks! I agree that we really do need to sit down and have a discussion about pruning our dependencies. We tend to allow volunteers to add libraries as long as it doesn't introduce any bugs at the time of testing or increase the APK size too much, but indeed we should probably tighten up on that if we want to have a more polished app, du

[2018-08-27 08:29] misaochan commented on #1489
@dbrant Thanks so much for the detailed advice! I will create a new issue for this discussion, please feel free to join it at #1863 . :)

I do think it is still probably worth getting Send Logs working for the time being, as the architecture/dependency overhaul is likely to take a very long time (I'm guessing we will not get it sorted until at least mid 2019, and even that is dependent on getting

[2018-08-27 09:02] misaochan commented on #1862
Thanks for reporting this! To be clear, the app would open the notification if you tap the right side or the left side (the icon or date). We did not implement this for the middle part due to conflict with the "show more" link. Is it desirable to have the middle part work the same way as the others?

[2018-08-27 09:13] #1843 closed

[2018-08-27 09:40] misaochan commented on #1785
Closing this as the deadline is past. Thank you to everyone who applied! We will be in contact with you shortly. :)

[2018-08-27 09:40] #1785 closed

[2018-08-27 11:51] sivaraam commented on #1863
I guess that's not difficult. Avoid any library that can be. IOW, become *dependent* on a library only if we cannot reasonably work around the problem without the library **and** the user experience becomes terrible.

Of course these are just my opinions. Correct me if I'm wrong.

[2018-08-27 12:13] befrou commented on #1862
Just thought it would be good. The first time I used the app I insisted on clicking on the middle part out of habit.

[2018-08-27 12:16] sivaraam commented on #725
Just FYI, this has been [proposed already](725#issuecomment-326805278).

I would suggest considering one approach (to reduce confusion and complexity). Users might be confused to see different flows for viewing notification for different screen sizes. It's better to choose one approach and go with it.

I would prefer notification icons as it doesn't clutter up the view and takes up less space. Sho

[2018-08-27 12:45] neslihanturan commented on #725
@sivaraam

    Oh huge change after we discussed/agreed and I almost finished implementation? not nice

Just FYI, this has been proposed already.

Oh okay, sorry I missed it. But apparently we agreed on some mockups later, and I followed them in implementation. If we sill need to discussion, let's do that as soon as possible.

My questions are:

-  Where to put notifications icon?
- How do we disp

[2018-08-27 14:02] VojtechDostal commented on #1826
Yes that's just for alphabetical sorting of categorized media. You can safely remove everything after the pipe ("|") and the link should work

[2018-08-27 16:13] misaochan commented on #1489
We can probably mention that briefly in the "Send logs" subtext, which the user will see before they tap the button to send them.

[2018-08-27 16:17] misaochan commented on #725
Display nearby card view, only if there is a nearby place at lees then 1 km lets say. Otherwise, do not display any card view. This card view will be dismissable, it will be invisible until a new nearby place comes.

This sounds good to me. Actually, for the Nearby card view, it would probably be simpler to just display the nearest Nearby Place whenever ContributionsActivity is loaded, which was t

[2018-08-27 19:09] ashishkumar468 opened #1864 "LoginActivity crashes when login screen is opened in landscape mode"
**Summary:**

When we try to login in landscape mode, the login activity crashes

**Steps to reproduce:**
Change the orientation of the device and try to login.

How can we reproduce the issue?
Expected behaviour was flawless login irrespective of the device orientation

**Add System logs:**
java.lang.RuntimeException: Unable to start activity ComponentInfo{fr.free.nrw.commons/fr.free.nrw.commons.

[2018-08-28 04:05] nicolas-raoul commented on #1863
Redundancy is unquestionably bad, we all agree about this already.

The app size is definitely important as many of our users are on slow networks.

But there are things that we should not implement ourselves, for instance image recognition features.

Runtime permissions strikes me as a typical example of an area where a popular library can drastically reduce the amount of code, bugs and maintenan

[2018-08-28 06:30] maskaravivek commented on #1863
Moreover, proper usage of proguard can considerably help in reducing the bloating caused by a particular library.

[2018-08-28 07:09] misaochan opened #1866 "Wikidata edits fail in 2.8.5"
**Summary:**

Wikidata edits were working in 2.8.0 but not in 2.8.2. I am unsure if they worked in 2.8.1

**Steps to reproduce:**

Use Nearby to upload an image in 2.8.2 and check if the p18 edit happened

**Add System logs:**

Will post later

**Device and Android version:**

Samsung Galaxy s7 Android 8.0

 **Commons app version:**

2.8.2

**Would you like to work on the issue?**

No

[2018-08-28 07:15] maskaravivek commented on #1866
The edits are failing for me with a `badtoken` exception.

[code]

It seems to be an intermittent issue as I see a couple of successful edits (for [example](https://commons.wikimedia.org/wiki/File:E_Shaped_Range_Of_Farm_Buildings_To_The_East_Of_Speke_Hall.jpg)) from 2.8.2 itself. I suspect that we are handling the auth incorrectly and that is causing these issues.

[2018-08-28 07:31] misaochan commented on #1866
Interesting that it appeared to be intermittent! I will test again and post logs asap.

[2018-08-28 11:01] nicolas-raoul opened #1867 "[category browsing branch] Categories not added"
In the Git ujjwalagrawal17:feat_issues_66 branch, it seems that categories are not added.
For instance, I selected 2 categories for https://commons.wikimedia.org/wiki/File:%E3%81%9F%E3%81%93%E3%82%84%E3%82%93.jpeg but none made it to the server.

[2018-08-28 12:52] ioshomebrew commented on #1848
Progress Update: implemented location bar in upload page and requirement to add location

[2018-08-28 18:46] befrou commented on #1862
I think it comes down to whether or not the onclick in the "middle text" conflicts with the "show more" as @misaochan mentioned. I will give it a try.

If I have questions about the code where do I ask? In the issue or in the group? Thanks for your attention.

[2018-08-28 20:16] dbrant commented on #1863
Hey all, to follow up on the initial comments, here are some additional thoughts, questions, and points for discussion:

- Now that some of the excess complexity will be removed by #1859, I would strongly recommend prioritizing the elimination of the woefully outdated `mediawiki:api` library and replacing it with Retrofit, using the json API, coupled with RxJava (This will also remove the need for

[2018-08-29 01:45] nicolas-raoul commented on #1848
Cool! Don't hesitate to post early screenshots, and push your commits to your GitHub repo :-)

[2018-08-29 01:53] nicolas-raoul commented on #1863
Getting rid of legacy HTTP APIs would be a wonderful thing! If we are lucky that might even solve https://github.com/commons-app/apps-android-commons/issues/1866? :-)

[2018-08-29 06:49] misaochan commented on #1863
Thanks again for the detailed analysis @dbrant . :)

This would be wonderful if possible, thank you! The mediawiki:api library has been the cause of quite a few bugs indeed.

I agree with most of the other points, too. However, while I was initially dubious about Dagger, I personally did feel like it helped simplify the creation of a shared model, rather than passing SharedPreferences around. But

[2018-08-29 07:04] misaochan commented on #1862
Sounds good @befrou :) Please feel free to ask in this issue if you have any questions.

[2018-08-29 13:58] Mansi449 commented on #1850
@nicolas-raoul I found the WikiCode for the part that needs to be shown in the app. So, would you please tell me how can I render it on the app in the desired format?

For eg:
The WikiCode for https://commons.wikimedia.org/wiki/File_talk:Zhu_(Julian_Zhu).jpg is:
`{{Ping|Exilexi}} Is it the same person as in this YouTube video? IL6ipX1QnZE?t=19 ? If yes please add more details saying why the person

[2018-08-29 16:27] sivaraam commented on #1863
May be we the volunteers should be made known about the limited amount of resources to review their PRs in some place? Possibly in the CONTRIBUTING.md file?

This might help them realised the reason for the delay (if they haven't figured it out correctly.

[2018-08-29 16:31] sivaraam commented on #1863
Now that you have an answer, it might worth documenting it somewhere. Not sure where. Maybe in a Coding guidelines document?

[2018-08-30 14:00] misaochan commented on #1863
Done, see https://github.com/commons-app/apps-android-commons/wiki/Code-style#new-libraries and https://github.com/commons-app/apps-android-commons/wiki/Project-maintenance

[2018-08-30 15:17] misaochan commented on #1866
2 of my uploads via misaochan2 (Samsung Galaxy s7, Android 8.0) successfully updated Wikidata.

I logged out, and then into misaochan (which has 2FA enabled). Finally got an error. I wonder if 2FA is related? Does your account that fails to edit have Wikidata enabled too, @maskaravivek ?

I created a custom paste for the failure logs (with cookie headers) anyway at https://phabricator.wikimedia.or

[2018-08-31 08:44] #1772 closed

[2018-08-31 13:51] misaochan commented on #1866
As a side note, the upload that failed to edit p18 for Vojtech - https://commons.wikimedia.org/wiki/File:Espresso_lungo_with_milk.jpg - does not encounter the same issue with the author that mine did. "User" and "author" appeared to be the same for him.

[2018-08-31 14:55] befrou commented on #1862
I used "SpannableString" to setup a 'ClickableSpan" in the "middle text" and it worked without conflict with the "See more". The only thing that bothers me is that the click on the "middle text" doesn't highlight the "Notification" as it does when you click the "date" at the right side or the "icon" at the left side.

[2018-09-01 07:27] misaochan commented on #1862
I think it should be OK in that case. Could you please submit your PR so we can try it out @befrou ? Thanks!

[2018-09-01 13:31] misaochan opened #1870 ""To-do list" for users"
As suggested by @nicolas-raoul , it might be a good idea to display a to-do list for the user that contains:
 - images that they uploaded with no categories/descriptions, so that they can add them (after #161 is implemented)
- images that can be added to associated Wikipedia articles that have no pictures (for #872 )

Perhaps the user could filter their contributions list by 'action required' to s

[2018-09-01 13:54] misaochan opened #1871 "Hold workshops to teach people how to use our app to contribute to Commons"
This was inspired by [Shyamal's report](https://meta.wikimedia.org/wiki/Grants:TPS/Shyamal/Himalayan_workshop/Report) where he used our app to hold a Commons workshop in the Himalayas, citing:

I was thinking that at the end of 2019, after we have completed most of the improvements that are planned for our PG (trying to be optimistic here! :)), it might be a good idea to run a couple of workshops

[2018-09-01 14:50] nicolas-raoul commented on #1866
Using 2.8.2, I tried two Wikidata uploads and both were correctly linked. No 2FA.

[2018-09-01 15:18] misaochan commented on #1866
Interesting, thanks for the tests @nicolas-raoul ! @neslihanturan have you tried yours?

[2018-09-02 06:53] shikherjaiswal commented on #1508
Is this issue completed? if not I would like to work on this.

[2018-09-02 07:14] VojtechDostal commented on #1871
I would be very happy to "spread the word" through the usual Wikimedia channels. I am positive that many chapters might chip in with a workshop in their country. Might be a very nice campaign indeed.

[2018-09-02 15:31] maskaravivek commented on #1866
I tried uploading a few images through the Nearby page and the wiki data edits were successful for all of them. My account doesn't have 2FA enabled. Can we establish that wiki data edits are working fine for everyone who doesn't have 2FA enabled?

The issue with 2FA enabled account is happening because of the following snippet.

[code]

This would happen only come into picture when the `api.action

[2018-09-02 20:15] Mansi449 commented on #1850
@nicolas-raoul I tried using `action=expandtemplates` with different parameters.
For example, using [this](https://en.wikipedia.org/w/api.php?action=expandtemplates&text={{Ping|Exilexi}}%20Is%20it%20the%20same%20person%20as%20in%20this%20YouTube%20video?%20IL6ipX1QnZE?t=19%20?%20If%20yes%20please%20add%20more%20details%20saying%20why%20the%20person%20is%20notable,%20and%20add%20categories.%20Thank

[2018-09-03 01:40] nicolas-raoul commented on #1850
1. Display it in a WebView or similar.
2. Use regular expressions or String.replaceAll to replace things that did not get transformed by expandtemplates :-)

[2018-09-03 05:14] maskaravivek commented on #1850
Is there any module in the code which can parse wikitext to displayable format?

The Wikipedia app uses Parsoid but its not clear how they have integrated it.

[2018-09-03 06:58] misaochan commented on #1871
That would be wonderful, thanks! Would it help them if we prepared material for them to use in their teaching (e.g. a slideshow)? My main concern is that such material would get outdated quickly because of active development in our app, but if it helps it could still be worth the effort.

[2018-09-03 10:04] misaochan opened #1876 "SocketTimeoutException from fetching number of images deleted"
**Summary:**

I logged in to Misaochan, went to Nearby, and the app crashed for me while I was searching for an image to upload to Nearby. Stack trace seems to point to getRevertRespObjectSingle() in ApacheHttpClientMediaWikiApi

**Steps to reproduce:**

Unsure of how to reproduce, it is not consistent. However, we should handle this exception more gracefully. I think catching it and outputting an

[2018-09-03 10:26] VojtechDostal commented on #1871
Maybe it would be better to collaboratively prepare a list of "things people need to know" about the app and uploading to Commons. I think the most didactive approach to showing the app would be an opportunity to do a live videocast of things happening on teacher's mobile device (he/she could walk them through the app). But I'm not sure if there is a good free app which allows reliable videocast.

[2018-09-03 17:07] dbrant commented on #1863
Here is the current plan from our end:
Within the next few weeks, in the Wikipedia app we will work on isolating our network layer from the rest of the app, so that we could package it as a _standalone library_, basically an official successor to the `mediawiki:api` library, to be usable by your app as well as ours.

It will provide a superset of the API calls used by our respective apps, along wi

[2018-09-03 17:45] misaochan commented on #1863
That would be fantastic! Looking forward to it. :)

[2018-09-03 17:47] misaochan commented on #1871
We can definitely do a live videocast, but the main issue with using that as a tutorial is lack of easy updating options. With a list or other written media we can easily edit sections, but with a videocast, when anything is changed within the app, it will be difficult to update just that section of the videocast AFAIK.

A list of "things people need to know" about the app on Commons sounds like a

[2018-09-03 18:05] pataquets commented on #1860
I'm no Android dev, but did a quick search and looks like to me that it does. The Location object has a getAccuracy() method: https://developer.android.com/reference/android/location/Location
The main concern is which location accuracy level you request the OS:
https://developer.android.com/guide/topics/location/strategies
https://developer.android.com/guide/topics/location/battery
Hope this helps

[2018-09-03 19:34] maskaravivek commented on #1863
Really excited about it. :)

[2018-09-04 06:35] VojtechDostal commented on #1871
:-) I don't mean to do the videocast, let's just document ways how people can capture the screen themselves and do a live show.

[2018-09-04 09:00] misaochan commented on #1871
Oh, I see! That looks a lot more feasible, haha. Will add this to our project plan. :)

[2018-09-04 09:59] misaochan commented on #1876
Ugh, I just checked our Google Play stats and this appears to be a major cause of crashes - 60+ reports in the last 7 days. Unfortunately it seems that if we don't have time to find an ideal solution, we will have to remove the quiz checker in 2.8.3 and reinstate it once an ideal solution is found.

[2018-09-04 10:03] misaochan commented on #1814
Updated for 2.8.3

[2018-09-04 10:09] misaochan opened #1877 "android.app.RemoteServiceException crash reports on Play Store"
This crash has 80 reports on the Play Store, and is our highest crash besides #1876 . Unfortunately, I have no idea what is causing it because the stack trace below is all we have. :/

[code]

[2018-09-04 10:15] nicolas-raoul commented on #1876
How catching the exception and such cases considering that the quiz is not needed (which is the less intrusive option)?

[2018-09-04 12:35] neslihanturan opened #1878 "Sometimes uploads fails or queued, then don't upload."
**Summary:**

Our friend John Lubbock says, "I wonder if you know why when I upload photos on the Commons app, sometimes they say 'Failed' or 'queued', and don't upload?".

**Device and Android version:**
Samsung S9+

 **Commons app version:**

2.8.2

**Screen-shots:**
![image](https://user-images.githubusercontent.com/3127881/45031645-17572d80-b058-11e8-89c6-85165f33dca6.png)

**Would you like to

[2018-09-04 13:19] neslihanturan commented on #1804
Do you think this can be related with #1878 ? Maybe some uploads occasionally fail?

[2018-09-04 13:31] misaochan commented on #1878
Where did John post, @neslihanturan ? I'd like to ask him about the method he used to upload (Nearby? Share? etc)

[2018-09-04 13:34] neslihanturan commented on #1878
I asked same question too, will update once the answer comes. He asked from twitter, I don't think he has a github account.

[2018-09-04 14:28] misaochan commented on #1876
@nicolas-raoul The main problem with doing that is, what do we return as the value of `Single<JSONObject> getRevertRespObjectSingle()` in the case of `client.newCall(request).execute();` timing out? The function is `@NonNull` so it will not be as simple as returning null. Certainly still doable but would take more time and going through more of the code.

[2018-09-04 14:48] misaochan commented on #1876
I created a PR. If anyone wants to take this up and fix the crash properly (please bear in mind that you cannot just ignore the timeout or return null), please feel free. We can re-release the quiz as soon as it is fixed.

[2018-09-04 15:05] misaochan commented on #1877
Extra info: This crash only started on 21 Aug, which is when 2.8.2 was rolled out to production. Bad luck that we never saw it in beta I guess.

Android version:
Android 8.1 | 123 | 69.5%
28 | 54 | 30.5%

Devices:
Pixel (sailfish) | 38 | 21.5%
Nokia 6.1 (PL2_sprout) | 21 | 11.9%
OnePlus 6 (OnePlus6) | 17 | 9.6%
Mi A1 (tissot_sprout) | 15 | 8.5%
Others | 86 | 48.6%

[2018-09-04 15:11] misaochan commented on #1877
This is really strange, the only 2 PRs for 2.8.2 were https://github.com/commons-app/apps-android-commons/commit/4c476e7a064102599daad0b59ce538de752ec77a and https://github.com/commons-app/apps-android-commons/commit/11c3772dd003287cd93ba0d35201e7b6cd759ff5 . I really wonder where the issue lies. Do we want to try removing Traceur and seeing if that works? @neslihanturan @maskaravivek

[2018-09-04 18:58] neslihanturan commented on #1876
@misaochan I have read the comments and your PR but, couldn't understand why we cannot just catch the exception. Can you please explain in more detail?

[2018-09-04 19:06] neslihanturan commented on #1877
Removing other commit wouldn't be that easy, because it already solves a visible problem. Fastest solution would be removing Traceur indeed.

[2018-09-04 19:32] ashishkumar468 commented on #1876
@misaochan I had the same doubt as @neslihanturan. Why cant we just catch the exception and delegate the flow accordingly ?

[2018-09-04 19:35] neslihanturan commented on #1878
He said contributions were from main screen.

[2018-09-04 23:15] maskaravivek commented on #1876
I have added a PR refactoring some of the error-prone code pieces. Will take a final look at these modules tomorrow and makes any changes if necessary. The basic flow works well.

PS: Personally I was feeling bad about reverting some of @tanvidadu's changes so I decided to pitch in. :)

[2018-09-05 05:06] cvhariharan commented on #1707
I have created  a pull request. #1856

[2018-09-05 06:40] ioshomebrew commented on #1848
https://github.com/ioshomebrew/apps-android-commons

[2018-09-05 07:59] misaochan commented on #1876
@neslihanturan @maskaravivek @neslihanturan My main concern is that we really need to get this fix out ASAP (i.e. in the next day or so) due to the 12% crash rate for users. I didn't have the time to spend a few hours going over the code, and I didn't want to pressure anyone else to work overtime to fix it. ;)

However, if you guys are willing to put in the time to ensure that this fix is done (an

[2018-09-05 08:38] misaochan commented on #1877
@maskaravivek Hmm, good point. Unfortunately the Play console does not give me active installs for every version at every point in time, we can only see the total number of install events for every version.

2.8.1 was released to beta on 19 Aug and prod on 20 Aug, so it is indeed possible that 2.8.1 was not tested substantially. It has 594 install events.

2.8.0 could potentially be the culprit as

[2018-09-05 08:42] misaochan commented on #1878
Could you point us to the conversation on Twitter please?

[2018-09-05 08:45] misaochan opened #1882 "ACRA crash reports do not work again in 2.8.2"
**Summary:**

When the app crashes, there should be an option to "send feedback" so that users can send their stack trace to us along with comments about what they were doing at the time of the crash.

We already have ACRA for this purpose which used to work, but stopped working again at some point.

If anyone takes this up, please ensure that the logs are sent to the PRIVATE google group, not the

[2018-09-05 09:33] neslihanturan opened #1883 "Switching to text driven programming"
**Summary:**

Hi team, since our time spent for bug fixes seems a little high, maybe switching to text driven programming can be a solution. Since on our WMCZ grant session, we will have several quality improvement, then our code base may be ready for text driven programming. What do you think?

[2018-09-05 10:06] misaochan commented on #1883
I am assuming you meant "test-driven programming", so I took the liberty of editing your post. ;)

I agree, I think this would be well worth the investment. Would love comments from experienced devs especially - @nicolas-raoul @whym @dbrant @psh ?

[2018-09-05 10:32] nicolas-raoul commented on #1883
I don't think test-driven programming is a great fit for most parts of our project because:
- Most bugs are in parts that unit tests can not reach (or at least can not reach without a really big effort), such as the GUI or 2FA.
- In contrast with most software (most software is developed for companies, for instance a company's billing system or a factory's machine software), we have the chance to

[2018-09-05 10:46] neslihanturan commented on #1883
If we can well define where we want to have it, we can include this as a rule to contributors documents. So that new comers also can now, they need to write tests if possible.

And since we can't write tests for GUI, maybe we can make sure we separated GUI layer as much as we can.

[2018-09-05 13:13] whym commented on #1883
In general, I think it's a good exercise to ask yourself 'can I write tests?' when creating and modifying a feature, and perhaps more importantly, when fixing a bug so that the same bug will not happen again easily.

We have utility classes and methods (e.g. app/src/main/java/fr/free/nrw/commons/Utils.java) for which we can naturally write tests. Perhaps we can start from those.

GUI features are

[2018-09-05 13:35] neslihanturan commented on #1877
Maybe this crash was already there before Traceur too, but after we started to get this log?

[2018-09-05 13:57] misaochan commented on #1878
Sorry, I'm not familiar with Twitter and didn't know you could send private messages on it - I thought he tweeted it, haha. If it's a private message then never mind. Could you ask him how often it happens for him, and if the queued pictures ever succeeded? Also, he has confirmed he is on 2.8.2?

[2018-09-05 14:31] neslihanturan commented on #1878
- Yes he confirmed he is on 2.8.2 with about page screenshoot.
- He said uploads don't succeed afterwards.
- He said sometimes.

[2018-09-05 19:16] maskaravivek commented on #1877
I just came across a [Reddit thread](https://www.reddit.com/r/androiddev/comments/72aot4/rxjava_better_crash_logs_or_how_to_always_know/) and it seems that Traceur could cause some crashes in edge scenarios.

Maybe we could revert it for now. The same thread suggests the usage of [RxJava2Debug](https://github.com/akaita/RxJava2Debug) but we can consider using it later.

@dbrant Do you have any sug

[2018-09-06 15:01] misaochan commented on #1876
Hmm, my Achievements are not working after #1881 was merged. I am always Level 1, and images uploaded are 0/20 despite them registering correctly on ContributionsActivity's action bar. @maskaravivek do they work for you?

[2018-09-06 15:16] misaochan commented on #1419
I would like to bump the priority of this bug, because it's pretty major. So far that I've seen, the user cannot do ANYTHING that requires a download, while an upload is in progress, it isn't just restricted to viewing media details. So they cannot use Browse (no images will load), they cannot load Achievements, etc.

[2018-09-06 16:34] misaochan commented on #1876
Everything should hopefully be sorted now, so will close this and reopen if needed. Thanks for volunteering to fix it @maskaravivek . :)

[2018-09-06 16:34] #1876 closed

[2018-09-06 16:57] #1697 closed

[2018-09-06 17:46] VojtechDostal commented on #923
@misaochan The queries are not dynamic - you have to rerun the query every time you want up-to-date results. I just rerun the query and the edits are there. If you want to run them yourself, you have to log in and fork the query.

[2018-09-06 23:47] #1864 closed

[2018-09-06 23:48] #1767 closed

[2018-09-07 00:29] #252 closed

[2018-09-07 05:35] ashishkumar468 commented on #1877
Can someone confirm, if this happening only post Nougat or do we have instances pre oreo as well? (Android has updated the way the services are to be handled starting from oreo) and similar crashes are thrown in such scenarios.

[2018-09-07 05:51] urbanecm commented on #923
Yeah, @VojtechDostal is right :). If you want to use the results in the app and you require automatic updating, I can integrate it in my API if you want me to.

[2018-09-07 05:54] urbanecm commented on #923
(or, if you want to propagate it to users, I can periodically update it a) on wiki b) on a HTML page under http://tools.wmflabs.org/urbanecmbot/commonsmisc/ )

[2018-09-07 06:35] misaochan commented on #1877
@ashishkumar0207 Thanks for the insight. 100% of the cases are from Android 8.1 and above, so only Oreo. Is there a way to find out which line of code is triggering this crash? The stack trace is supremely unhelpful. :/

[2018-09-07 07:12] nicolas-raoul commented on #923
From a reviewer's point of view, it would be super-cool if we had a web page showing for each Wikidata edit:
- Thumbnail of the picture
- Label of the Wikidata item in English or another human-readable language, linking to the Wikidata item
- Timestamp and author of the edit, linking to the author's contributions or talk page
- Maybe even a tiny world map showing a point at the Wikidata item's loc

[2018-09-07 07:51] urbanecm commented on #923
@nicolas-raoul Shouldn't be hard to have. Do you like this? :-)
![screenshot from 2018-09-07 09-51-23](https://user-images.githubusercontent.com/10050467/45205819-9e3c1e00-b283-11e8-926a-705aaa399387.png)

[2018-09-07 07:58] urbanecm commented on #923
Amended a little bit.
![screenshot from 2018-09-07 09-57-49](https://user-images.githubusercontent.com/10050467/45206124-831dde00-b284-11e8-94e4-6dc9dddbbfa2.png)

[2018-09-07 08:13] nicolas-raoul commented on #923
Wonderful! 🙂

On Fri, Sep 7, 2018, 16:58 Martin Urbanec <notifications@github.com> wrote:

[2018-09-07 09:58] ashishkumar468 commented on #1877
@misaochan I will try to reproduce it and if Its related to what I am suspecting, I should be able to, will update if something comes up. Meanwhile, it will be great if someone else can also try to reproduce it in oreo devices.

[2018-09-07 10:30] urbanecm commented on #923
Sure :-). Will publish it in a while. By the way, I've written https://tools.wmflabs.org/harvesting-data-refinery/ for Aktron. After logging in via your Wikidata account, you must choose username, property and limit and by clicking on images (for instance) you revert the edit that added the image. Maybe I can try to make the username part not mandatory, or allow you to filter by tag, so you can us

[2018-09-07 10:37] nicolas-raoul commented on #923
Oops I logged into harvesting-data-refinery and tried the suggested sample values because I was curious, and I may have accidentally reverted something :-/

[2018-09-07 10:52] misaochan commented on #1877
Interesting why Android 8.0 (also Oreo) never seems to experience this crash though. As seen above only users with 8.1 and Pie are experiencing it. I also use the app a fair bit on my 8.0 device and have never gotten this crash.

[2018-09-07 11:12] maskaravivek commented on #923
A very helpful tool @urbanecm! All my wiki data edits were merely for testing edits. Using this tool I have cleaned up the dirt. :)

[2018-09-07 12:01] misaochan opened #1889 "First draft of Project Grant proposal (2019 plans)"
I've finally completed the first draft of the proposal for our Project Grant application! 🙂 If approved, we will start March 2019. Of course, I will need to flesh the proposal out some more before submitting it on-wiki, but I wanted to get everyone's thoughts before I proceed further. Ideally we could come to a consensus on which tasks we want to include in the proposal in 2 wks' time, so that I c

[2018-09-07 12:12] misaochan opened #1890 "Update Play Store screenshots"
We should update the Play Store screenshots soon, as they are very outdated. :) I think only Nicolas or myself can do this. I'll try to sort it out after 2.8.3 is stable.

[2018-09-07 12:58] misaochan opened #1891 "Write article about our app for Wikimedia blog"
At the end of every grant, I typically write an article for the Wikimedia blog to publicize our new features. :) It will soon be time to write another one. Of course I would need to get Ed Erhart's permission first, but usually they are quite accommodating.

[2018-09-07 15:01] ilgazer commented on #1871
The workshop concept looks like a wonderful idea. While the workshops remain in the distant future, i think it is worthwhile to start thinking about it. To begin with:
- Who would be the target demographic of these workshops?
- How would our audience learn about these workshops? We can't exactly afford ads, and would word of mouth be efecive enough?
- Where would these workshop be held? For exampl

[2018-09-07 15:17] ilgazer commented on #1889
The proposal's goals indeed look very reasonable :ok_hand: .

**Limited connectivity mode** would be a brilliant addition! Especially if we could imlement better caching for contributions, browse and nearby(If possible, this could work like Google Maps's offline maps feature)

**video demonstrating a diverse range of participants talking about our app** seems like a nice idea for better outreach.

[2018-09-07 16:05] ilgazer commented on #1883
In my opinion, having more tests could be beneficial. On the other hand, making tests a requirement could dissuade less experienced developers(that's me) from developing new features. For example, even though I built upon psh's MVP architecture for #1796, I would have shied away from working on that if I had to write tests for my code, something I have no experience or knowledge about. The same ho

[2018-09-07 17:02] misaochan commented on #1889
Thanks @ilgazer ! :)

Awesome! Will let you know.

I think it would be safer to allocate that much to it, especially as category search (we have 4 types of suggestions currently), adding templates for location/license, all the file checks etc are included. If you manage to do more than expected by then, we can always reallocate the time to, say, writing more unit tests or other improvements that w

[2018-09-07 17:50] ashishkumar468 commented on #1883
Although TDD enables refactoring in an anxiety-free, predictable way, and of-course enforces standards, reaching slowly towards bug free and more stabler product, not all of the developers(actually most of them) follow it and actually know it. Even though it has a lot of advantages, we all know that it would require extra efforts to those who are not acquainted with it. Having it would be great, b

[2018-09-07 19:31] Mansi449 commented on #1850
I have found out the way to render media talk in the app in a displayable format. I have tested it on some sample text and it is working perfectly fine :-)
Now I would be implementing the code for making API requests to get the required text from the corresponding pages.

[2018-09-08 08:31] misaochan commented on #1871
Preferably underrepresented communities in Commons - which I think covers pretty much everywhere in the Global South, and additionally, non-male contributors anywhere in the world?

Pamphlets and posters, perhaps? If we hold them in universities, there will be boards to put posters up for events. The only cost would be printing, if a volunteer could design the poster (as we did in the 2017 hackath

[2018-09-08 14:56] neslihanturan commented on #1871
Great idea, can you imagine how many bug reports we can get with this way, I am very excited again! I am in as a volunteer:)

[2018-09-09 07:39] misaochan commented on #1878
Yann posted in beta feedback:

Do you think the changes that we made to file uploads in 2.8 might be the culprit? @neslihanturan could you please ask John if he has a rough idea of when the problem started for him?

[2018-09-09 07:44] ilgazer commented on #1889
I never looked at it that way. I can see how the code behind those functions would benefit from refactoring as well.

[2018-09-09 08:01] ilgazer commented on #1883
@misaochan Your compromise of only requiring grantees to write unit tests is a really good idea. If we will apply as a GSoC project, maybe we could have the same requirement for them.