[2018-09-09 09:57] R0ma1nG commented on #1756
I'll start working on this :)

[2018-09-09 11:41] misaochan commented on #1883
@ilgazer Good idea! 👍

[2018-09-09 11:45] misaochan commented on #1756
@R0ma1nG welcome! It is yours. :)

As this is a fairly involved task, it might save you time if you write a detailed description of how you plan to implement it and how the UI will look. Then collaborators can provide feedback early in the process.

[2018-09-09 11:46] ilgazer commented on #1883
Also, I think linking to some good resources on where to learn testing would help a lot. I distinctly remember being overwhelmed by the abundance of stuff to learn and giving up when I tried to start writing tests for #1712. I still have no clue about how to write tests.

[2018-09-09 12:10] ilgazer opened #1893 "Applying to Google Code-In 2018"
As applications for [Google Code-In](https://codein.withgoogle.com) are now open, do you think our project would benefit from being a part of this? GCI is a competition that encourages high school kids to contribute to open source software. They do this by completing small tasks determined by us. A task is a small project that is expected to take between 3-5 hours of work to complete and can be ab

[2018-09-09 15:08] misaochan commented on #1893
Great idea! I think quality assurance (testing) and outreach, especially, would be excellent and would certainly be helpful to us.

As you say, the main issue is the resources needed to mentor this. Personally I really won't have time until next year. But if anyone is interested, it would be fantastic.

[2018-09-09 17:36] ilgazer commented on #1893
I could see how mentoring high school kids about coding could take an absurdly long amount of time. But hopefully, for a task like "We are planning on having these meetings where we teach people how to use our app. Design a poster." would yield us 29 horrible posters and one great one which would be easy to mentor and easy to check.

Also, this could be an outreach opportunity of its own merit. A

[2018-09-10 07:17] nicolas-raoul commented on #1889
Better maybe say "talk to Wikipedia teams" as there are hundreds of Wikipedias each with a very specific culture? At the same time, I guess it is difficult to actually talk to all of them, if only because of the language barrier.

[2018-09-10 08:15] misaochan commented on #181
Copying over the discussion at #1712 . Let us continue it here. :)

misaochan:

@VojtechDostal :

@nicolas-raoul

@VojtechDostal

[2018-09-10 08:29] misaochan commented on #1893
@ilgazer I am definitely in support of participating in GCI, no questions there! ;) But we would need to find mentors who are up for it.

[2018-09-10 08:38] misaochan commented on #1889
@dbrant Thanks so much! :)

@nicolas-raoul Ah sorry, I wasn't specific. I meant that we might want to talk to the WMF tech team behind the Wikipedia software that we decide to use for that purpose. So for instance if we reach a consensus that we would like to use the Wikipedia Android app, then we would talk to the Android team. If we decide on the mobile web version, we would talk to the mobile w

[2018-09-10 09:50] R0ma1nG commented on #1756
Yes sure, first I'll analyze the app to see what I can reuse. Then I'll work on a design document and on UI specs. After feedback provided, I'll implement the feature.

[2018-09-11 05:54] konohakesh opened #1896 "Update the wiki to show the issues faced during the setup in Android Studio"
We should update the wiki 'Develop-with-Android-Studio-or-IntelliJ' to show the issues newcomers face during the setup and how to fix them.  It will save a lot of time that goes in finding the fix by the first-timers if that issue is already witnessed by someone else.

I have attached the 'Develop-with-Android-Studio-or-IntelliJ.md' file in a zip which lists the issues I faced along with their fix

[2018-09-11 12:51] VojtechDostal commented on #1889
@misaochan Did I tell you that you've become a fantastic project manager? :-) This looks really good and you must have put a lot of work into this. I like the way related issues are grouped together. It shows there is some thought behind all this.

Also I reaffirm my and my chapter's offer to help with app promotion next year as well. Now that social sites are growing, we can think about the in-pe

[2018-09-11 17:39] tanvidadu commented on #1893
One of the potential tasks for GCI could be badge designing for achievement module.
At the moment, we are displaying only a single design of the badge with a different color for each level. The new designs will help us diversify the badges that are assigned.
After this task, we also go forward with the idea of showcasing all the badges that have been unlocked.

_Would love to know others opinion !

[2018-09-11 17:39] tanvidadu commented on #1893
One of the potential tasks for GCI could be badge designing for achievement module.
At the moment, we are displaying only a single design of the badge with a different color for each level. The new designs will help us diversify the badges that are assigned.
After this task, we can go forward with the idea of showcasing all the badges that have been unlocked.

_Would love to know others opinion !_

[2018-09-13 05:37] nicolas-raoul opened #1898 "If front-facing camera, warn that selfies are off-topic"
1. Check whether the picture was taken with the front camera or back camera
2. If front-camera, display a warning: "Selfies are off-topic on Commons. Please upload only pictures of notable people or other encyclopedic content"

Unfortunately, EXIF does not have a front/rear property, but if we find a database of phone models we can be guessed it from the model and lens resolution as tipped at http

[2018-09-13 06:46] neslihanturan commented on #1898
Great idea! If user still proceeds, can we add a category (first we have to create this category on commons) as "possibly from front-facing camera" so that it will be easier to delete them later if they are inappropriate?

[2018-09-13 19:08] ashishkumar468 commented on #1774
@nicolas-raoul @misaochan I have actually written the script to generate the list of contributors in the required format. I had a few questions.
* Where should we put show it ie. in  https://github.com/commons-app/apps-android-commons/blob/master/README.md or in https://github.com/commons-app/apps-android-commons/wiki/Volunteers-welcome%21
*The script which generates it is in python, so where do w

[2018-09-14 02:27] nicolas-raoul commented on #1774
Cool thanks!

Could you please create a new GitHub project for it called "maintenance", commit your script into it, and then transfer that repository (in settings) to the commons-app organization? Thanks a lot :-)

[2018-09-14 04:59] ashishkumar468 commented on #1774
@nicolas-raoul Tried doing that, github needs two things for that
Type the name of the repository to confirm & New owner’s GitHub username or organization name. Can you help me with those ?

[2018-09-14 07:07] neslihanturan opened #1900 "Adding duplicate template while nominating for deletion"
**Summary:**

I just got a message to my talk page as: "Do you know the template {{duplicate}}? --JuTa 18:39, 13 September 2018 (UTC) " Since I nominate my duplicates for deletion with explanation duplicate.

How about adding some predefined reasons while nominating for deletion, and adding related templates to pictures?

[2018-09-14 07:34] noloman commented on #1333
hi! is anyone looking into this issue? @arshadkazmi42 are you going to check it out?

[2018-09-14 11:56] nicolas-raoul commented on #1774
Just enter the name of the repository you have created, and "commons-app" :-)

If it still does not make sense, please post a screenshot of that screen.

[2018-09-14 12:00] ashishkumar468 commented on #1774
I am getting this "You don’t have the permission to create repositories on commons-app"

[2018-09-14 12:31] nicolas-raoul commented on #1774
Ah yes you are right.
I just forked it from the commons-app account, it achieved the same thing: https://github.com/commons-app/maintenance
Thanks! :-)

[2018-09-14 12:31] #1774 closed

[2018-09-14 12:45] ashishkumar0207 commented on #1774
Readme looks great :-)

[2018-09-14 12:46] ashishkumar468 commented on #1774
Readme looks great :-)

[2018-09-14 16:46] arshadkazmi42 commented on #1333
@noloman
I think this was taken care at #1772

@Mansi449 was working on that issue.

[2018-09-15 00:52] whym commented on #1900
Good idea. {{duplicate}} expects a file that should be kept (as 'original' to the duplicate that should be deleted), so I think it will require additional UI and method to detect (near-)duplicates from the user's uploads.

[2018-09-16 04:08] albendz commented on #124
Was this ever resolved or is it still being worked on... or still relevant?

[2018-09-16 04:16] albendz commented on #284
Is this still relevant? If so, I can refactor the upload method and add unit testing to ensure no file gets uploaded with the wrong extension. Let me know.

[2018-09-16 07:29] neslihanturan commented on #284
It should be solved @albendz , tahnks!

[2018-09-16 07:29] #284 closed

[2018-09-17 03:50] misaochan commented on #1333
Yes this seems to have been fixed, thanks! :)

[2018-09-17 03:50] #1333 closed

[2018-09-17 03:51] misaochan commented on #1774
Looks great, thanks for working on it @ashishkumar0207 ! :)

[2018-09-17 03:52] misaochan commented on #1893
Sounds like a great idea @tanvidadu !

[2018-09-17 04:12] misaochan commented on #1889
@VojtechDostal Thanks so much! That means a lot to us. :) You guys have been a huge help in growing our userbase! (BTW, the current active installs is 3887, I think we might possibly be able to hit 4000 by the end of the year :D )

[2018-09-17 04:30] misaochan commented on #1877
Based on this review:

I think a reasonable assumption would be that the crash happens while uploading on an Android 8.1 and above. Will try to confirm soon.

[2018-09-17 20:56] ioshomebrew commented on #1848
Just discovered that in order to set the coordinates of a picture, I have to modify the metadata inside the image file itself

[2018-09-18 05:55] misaochan opened #1901 "Issue with underscore being inserted into username"
From a user on our google groups forum on 13 Sep:

Very strange bug! I don't recall making any changes in 2.8.3 or 2.8.2 that should affect usernames? @maskaravivek @neslihanturan

[2018-09-18 06:05] Aschroet commented on #1854
I can confirm that for all my uploads the date is missing. This happens for single uploads such as https://commons.wikimedia.org/wiki/File:Grab_Hackpf%C3%BCffel.jpg and batch uploads https://commons.wikimedia.org/wiki/File:Kirche_Hackpf%C3%BCffel_-_1.jpg.

[2018-09-18 07:39] misaochan opened #1902 "Make app available on other app stores?"
As suggested by a user at https://commons.wikimedia.org/wiki/Commons_talk:Mobile_app#Additional_app_stores , would it be a good idea to make our app available on other Android app stores beyond Google Play and F-Droid?

[2018-09-18 07:49] misaochan commented on #1901
Oops, I just realized that we already had an issue for the date at #1854 . I'll modify this issue to make it solely about the underscore.

[2018-09-18 07:51] misaochan commented on #1854
@neslihanturan Do you think this could have been caused by our recent upload change at #1720 ?

[2018-09-18 08:00] nicolas-raoul commented on #1902
Indeed that could bring us a few more users.
The lion's share will still be Play Store, though, as illustrated by the statistics of my other app which is available on 15 other markets:
https://github.com/ankidroid/Anki-Android/wiki/Contributing#markets

It is not easy:
- Registration takes time, sometimes requiring a contract to be signed and sent by snail mail, or sometimes costing money.
- Keepi

[2018-09-18 08:08] misaochan commented on #1902
@nicolas-raoul Wow, 3 million downloads! ;) I agree, makes sense. Hopefully nobody will be hit by a bus(!), but indeed the maintenance overhead seems to not be worth the few additional users, especially considering our niche.

[2018-09-18 12:32] VojtechDostal commented on #1902
+1 on the bus thing, please be careful guys :-D

[2018-09-18 14:42] VojtechDostal commented on #1901
For me, this issue started between 4th and 13th August - see my contribs at https://commons.wikimedia.org/wiki/Special:ListFiles/Vojt%C4%9Bch_Dost%C3%A1l

[2018-09-18 16:03] daylenca commented on #1902
The Wikipedia app is already on the Amazon Appstore, could we not just piggyback off the Wikimedia Foundation account (https://www.amazon.com/s/ref=bl_dp_s_web_0?ie=UTF8&search-alias=aps&field-brandtextbin=Wikimedia+Foundation&node=2350149011), just like on the Play Store?

[2018-09-18 19:37] maskaravivek commented on #1889
@misaochan Great work at detailing out the plan for 2019. The tasks look good to me and more or less the estimates also look fine. :)

[2018-09-19 04:16] sdabhi23 commented on #1821
I have been trying to get names for the languages the app supports to put them in the language selector, but am not able to get the names of a few languages. Can someone help me out?

Also sorry for the very slow progress 🙁

[2018-09-19 04:18] nicolas-raoul commented on #1821
@sdabhi23 Have you checked how it is done in the source code of the "AnkiDroid" app above?

[2018-09-19 05:19] neslihanturan commented on #1854
Maybe @misaochan , I will try to check this on Monday.

[2018-09-19 06:41] sdabhi23 commented on #1821
@nicolas-raul yes I did. But I think they are creating the selector section programmatically. While the implementation of preferences in this app is through a custom component. So I think we cannot just replicate the same implementation.

[2018-09-19 08:28] nicolas-raoul commented on #1821
What is wrong with creating the selector section programmatically in the Commons app too?

[2018-09-19 16:40] R0ma1nG commented on #1756
Hey, here are the screens for the bookmarks. I'll reuse components already implemented to respect the graphic chart, others (the star for example) will be material icons. If you have any suggestion or comment, it's time :)

<img width="337" alt="menu" src="https://user-images.githubusercontent.com/24422094/45767641-fb987d80-bc3a-11e8-82ef-c062ea7f8343.png">
<img width="327" alt="bookmark_screen_lo

[2018-09-20 02:10] nicolas-raoul commented on #1756
Looks great and very useful!
Any specific reason why the title of the activity is "Search" in the last two screenshots?

[2018-09-20 02:49] sdabhi23 commented on #1821
By creating it programmatically, we won't be able to use the custom component, which might lead to inconsistent styling and it will definitely lead to inconsistency in code. Will be difficult for new contributors to understand what's exactly happening here, because there won't be a single way in which everything has been implemented.

[2018-09-20 22:12] ch3nkula commented on #960
Imported as: https://codein.withgoogle.com/dashboard/tasks/4631530673537024/. 👍

[2018-09-21 08:55] R0ma1nG commented on #1756
I didn't change the title in the screenshot, I used search functionality and it was the default title of the activity when I select the picture... Thinking it was the desired behavior

[2018-09-21 09:04] nicolas-raoul commented on #1756
Why not, it is not very important I guess :-)

[2018-09-23 14:38] misaochan commented on #1877
Another report:

[2018-09-24 15:32] misaochan commented on #1877
I have been unable to reproduce this on an API 27 (Android 8.1.0) Nexus S emulator running prodDebug of the current master. :/ I tested uploading from the app and uploading from the gallery (Google Photos), both succeeded.

Might need to test with prodRelease next to see if that is the issue, or if the problem just happens to specific users.

[2018-09-24 15:39] misaochan commented on #1756
The UI looks great, thanks @R0ma1nG ! :) Where and how do you intend to store the bookmarked items?

[2018-09-25 14:12] R0ma1nG commented on #1756
To store the items my idea is to store only the link to the resource (if possible) locally, but I need enlightenments about the storage methods used in the application (and the good practices too). Thanks :)

[2018-09-25 14:33] Bambam905 commented on #1882
Hello,
I'm a bit rusty to java and would like to take a look at this issue.

[2018-09-25 16:36] maskaravivek commented on #1882
@Bambam905 thanks for showing interest. Am already working on a fix for this issue. :)

[2018-09-26 01:17] nicolas-raoul commented on #1756
By "link to the resource" I guess you mean for instance `Carretera al monasterio Noravank, Armenia, 2016-10-01, DD 55-59 PAN.jpg`? Sounds good.

(Unfortunately sometimes files get renamed, I hope Structured Commons fixes that by using opaque identifiers, but for now that is probably the most convenient identifier we have)

[2018-09-26 15:42] misaochan commented on #1877
I have finally been able to reproduce this - it needs to be run on **prodRelease**, prodDebug does not encounter similar issues. The crash occurs when you tap the arrow in the action bar of ShareActivity to submit the image after filling in the title/desc, and it is 100% reproducible unfortunately!

[code]

[2018-09-26 15:53] misaochan commented on #1877
Changing target SDK to 26 solves the problem temporarily. Obviously we should target the latest SDK, but I will release a hotfix with this for the time being, so that users will stop crashing.

This error in the logs is probably related:

`09-27 01:51:17.278 1615-1630/system_process E/NotificationService: No Channel found for pkg=fr.free.nrw.commons, channelId=CommonsNotificationAll, id=1, tag=nul

[2018-09-27 02:33] nicolas-raoul commented on #74
Here is a JavaScript example that detects a face and gives its dimension, it is very fast (on a desktop PC it is pretty much real-time):
https://storage.googleapis.com/tfjs-models/demos/posenet/camera.html
It uses TensorFlow, which means that with a bit of work it can be used on Android as well.

[2018-09-27 03:47] sdabhi23 commented on #1821
@nicolas-raoul I have got the UI ready for the selector but it isn't functional yet. And from [this](https://github.com/ankidroid/Anki-Android/issues/4729) issue it looks like the folks at AnkiDroid are also facing a similar issue

[2018-09-27 15:39] #1877 closed

[2018-09-27 17:09] misaochan commented on #1877
Reopening due to issues with getting fixes released in #1907 .

[2018-09-28 09:38] misaochan commented on #1877
The status of this issue is that we currently have the ideal fix working in master, and the target SDK hotfix pushed to 2.8.4. Either way, users should hopefully not crash anymore. Master should be released in 2.9 in the coming weeks.

[2018-09-28 10:41] nicolas-raoul opened #1911 "Wikidata items whose picture can not be uploaded to Commons anyway, due to copyright"
I arrive to a Nearby place, take a picture, and... realize I can not upload it to Commons due to copyright problems. For instance https://ru.wikipedia.org/wiki/%D0%9F%D0%B0%D0%BC%D1%8F%D1%82%D0%BD%D0%B8%D0%BA_%D0%9C%D0%B0%D0%BD%D0%B4%D0%B5%D0%BB%D1%8C%D1%88%D1%82%D0%B0%D0%BC%D1%83_(%D0%92%D0%BB%D0%B0%D0%B4%D0%B8%D0%B2%D0%BE%D1%81%D1%82%D0%BE%D0%BA)

This problem could be avoided if the item was so

[2018-09-29 03:52] nicolas-raoul commented on #1911
Answer from Wikidata project chat:

[2018-10-02 16:51] meditat opened #1912 "Empty screen if no upload"
**Summary:**
An empty screen on Landing page looks awkward.

**Steps to reproduce:**
1. Sign up as a new user,
2. Login into your account
3. If you have no uploads you see an empty screen

**What did you expect the app to do, and what did you see instead?**
There should be an image or animation that say "No Uploads Yet" or "Nothing to explore"

**Screen-shots:**
![whatsapp image 2018-10-02 at 10 2

[2018-10-03 09:13] nicolas-raoul commented on #74
Using machine learning, I created this code that detects whether a picture is a selfie or not with 85% accuracy: https://github.com/nicolas-raoul/selfie-or-not

Anyone feel free to integrate it in the app, but please make sure that it takes less than 500 kilobytes, by slimming down the Android Tensorflow binaries to just what is needed.

[2018-10-03 09:14] neslihanturan opened #1913 "Wiki techstorm (26th/27th October/The Netherlands) task ideas"
**Summary:**

Hi team, there will be an event at the end of this month https://www.mediawiki.org/wiki/Wiki_Techstorm . I will be there to have a workshop for our app and there will be hackathon too. Do you propose any task to work on during hackathon?

[2018-10-04 10:34] ondro2208 commented on #1013
I would like to work on this issue.

[2018-10-04 10:36] nicolas-raoul commented on #1013
No news from @deydebaditya , so feel free to work on this @ondro2208 :-)

[2018-10-04 12:47] sank20 commented on #1013
Hi, I'd like to look into this issue.

[2018-10-04 14:05] ondro2208 commented on #1013
I am already started, so may be you can choose different one

[2018-10-04 15:18] sank20 opened #1914 "Description info dialog opens when tapped on the EditText in the blank space between hint and info icon."
**Summary:**

While uploading a single image/contribution, the user needs to input the Title and Description. The first description item in the list has the info icon to the right-end and it shows a dialog with the info on touch of the icon. But, it is showing the dialog on touches outside the icon too.

**Steps to reproduce:**

- Add a new contribution by selecting Take Photo/From Gallery actionb

[2018-10-04 16:11] misaochan commented on #1913
Do you have a rough idea of what skill level the participants will be at? Glancing at the program, it looks more like a short introductory event, where you would be teaching people how to contribute? In that case maybe fixing beginner-friendly bugs or small enhancements would be more appropriate than a large project.

[2018-10-04 17:20] neslihanturan commented on #1913
I agree about short time constraints. In that case, can we decide to scope of workshop? Should I require to have android studio and sdk before workshop?

[2018-10-04 17:40] neslihanturan commented on #1913
By the way "but we will also work with what we have called ‘practical projects’. These are projects in which participants and trainers/mentors can collaborate during the two day hackathon." they mentioned from two days practical project part. During workshop I can introduce our app development and then for 2 days, I still need your task ideas.

[2018-10-04 21:13] maskaravivek commented on #1882
I was unable to fix ACRA crash reporting but have made an attempt to migrate to the latest version and use a custom log sender in #1916. Anyone feel free to take up this task. It would be great if someone is able to reuse the changes made in #1916 as using a custom log sender will give us much more control on the crash reports.

[2018-10-05 03:02] nicolas-raoul commented on #1898
Apparently *some* phone have the front/back information in EXIF, so a first implementation could use that, and ignoring pictures that do not have the information in their EXIF.

[2018-10-05 03:05] nicolas-raoul commented on #1913
Fixing a compilation warning might be an achievable task in two hours: #171
Adding this intent is also achievable quickly by someone with Android experience: #537

For two days how about #1898 ? It is a "step-friendly" task, in that it is possible to implement a basic version of it in one day, a better version of it in two days, or even a wonderful version if you have 15 super-geniuses for two ful

[2018-10-05 10:30] nicolas-raoul commented on #1601
Still  happening with 2.8.4. Only about half of my attempts get correctly Wikidata-edited.
I can find a pattern: 1 fails, 1 succeeds, 2 fail, 1 succeeds... really seems random
- Connection speed (slow or fast) seem to have no impact.
- Killing the app from settings does not help either.
[code]
![screenshot_20181005-192307](https://user-images.githubusercontent.com/99590/46530416-9bf5cf80-c8d4-11e8

[2018-10-05 17:08] misaochan commented on #1878
Wanted to bump this issue as we have another report on google groups:

[code]

I guess the main question at the moment is whether this issue can conceivably be solved in a reasonable time before our upload backend overhaul in next year's PG proposal. It seems to be a high priority issue, but we are already behind on all of our deadlines.

[2018-10-05 17:10] misaochan commented on #1601
Thanks @nicolas-raoul . @maskaravivek is currently working on fixing the logs sent via prodRelease builds #1489 - I think that once we get that fix out in v2.9, it will be easier to debug this problem. Unfortunately the logs you pasted don't have anything useful, due to the bug with prodRelease logs. :(

[2018-10-05 17:35] misaochan commented on #1825
Should be fixed, see #228

[2018-10-05 17:35] #1825 closed

[2018-10-06 09:44] misaochan commented on #1878
Yann has informed me that v2.8.4 does not solve this problem for him. I have been talking to [Jim Henderson](https://commons.wikimedia.org/wiki/Commons_talk:Mobile_app#Crash_on_upload), who reports a similar issue with queued uploads.

@neslihanturan , after you are done with your main UI PR, could you please go through your PR with the file upload changes, and see if anything that you changed cou

[2018-10-06 13:44] Yannf commented on #1878
FYI my Android version is 7.1.1, and it is the latest update on my J5. Thanks for trying to fix this, it is rather annoying.

[2018-10-06 13:52] misaochan commented on #1878
@Yannf Thanks for chiming in! Could you please elaborate on what you mean by "first picture in a series", by detailing the steps you take and the results? E.g.

1. Open app, tapped gallery button, select picture, enter title/desc etc. Picture ends up queued forever.
2. In app, tapped gallery button again shortly after that and selected another picture, entered title/desc. Picture upload succeeds

[2018-10-07 05:32] Yannf commented on #1878
If I upload several pictures successively, usually only the first fails. And it seems the App crashes (it closes without warning).

[2018-10-08 12:17] ashishkumar468 commented on #1878
@misaochan Will take this up

[2018-10-08 17:58] ashishkumar468 commented on #1878
I was actually trying to debug this issue on Google Pixel. Seems like something is wrong with the api's.
So the issue is that while trying to upload an image from google photos app, (ie. share photo). Although the MIME type received in the intent is jpeg for which we send jpg to our backend, we get an error response `<?xml version="1.0" encoding="UTF-8"?>
<api servedby="deployment-mediawiki-09">

[2018-10-08 18:24] ashishkumar468 commented on #1878
Actually not a backend bug, Although in the image info, Google Photo shows that the image is png but while sharing it, in the intent it shows that the image is jpeg and hence our backend rejects that because of which the upload fails

[2018-10-08 18:44] neslihanturan commented on #1878
@ashishkumar468 thanks for digging it! I think you are very close since we recently implemented some changes about file extensions. We convert some extensions to .jpeg or .jpg (I am not really sure but can check).

[2018-10-08 18:59] ashishkumar468 commented on #1878
@neslihanturan Yes, we convert jpeg to jpg  but that is not causing any trouble. The issue is that google photos app is giving the mime type for png images as jpeg which is causing the api to fail.

[2018-10-08 19:04] Yannf commented on #1878
Hi,

On Tue, 9 Oct 2018, 00:29 Ashish Kumar, <notifications@github.com> wrote:

But it only happens sometimes, and it seems in specific circumstances.

Yann Forget

[2018-10-08 19:06] ashishkumar468 commented on #1878
@Yannf Yes and that is what is causing the api's to fail at least in my case. AFAIK, upload does not fail always, right ?

[2018-10-08 19:32] Yannf commented on #1878
No, not always.
I checked my software. I am using the default Gallery application version
5.4.03.2 on Android, in case it matters.

Yann Forget

On Tue, 9 Oct 2018, 00:36 Ashish Kumar, <notifications@github.com> wrote:

[2018-10-08 19:36] ashishkumar468 commented on #1878
@Yannf  and the uploads are failing in that as well ?. It would be great if you could attach the logs ?

[2018-10-08 20:27] VojtechDostal commented on #1898
I don't understand Android development at all but I'm just wondering about some potential risks.

1) Can we rule out fake positives?

2) Will this not grow the code too much? looks like a fairly difficult image-recognition task.

3) Will the uploading be smooth? I am worried about long waiting times for the recognition tool to finish its task.

[2018-10-08 20:31] VojtechDostal commented on #1898
Oh sorry, this is not meant to recognize the image. It's just a warning for the front camera. Please disregard me :)

[2018-10-09 10:00] ashishkumar468 commented on #1878
@misaochan  The main job would be to validate the file extension somehow locally. As I have mentioned earlier, even if the extensions are png google photos are giving the MIME type as jpeg. We will have to figure out a way to validate file extensions. Apart from this indefinite  progress in notification failed uploads, happening on my device due to the same reason and also faced by Jim as well wou

[2018-10-09 14:19] misaochan commented on #1878
Yes, we certainly need to check the file extension locally. I would be surprised if the error lies in the Google Photos API though, as I haven't been able to find any reports of that. I would have thought that it is our app erroneously assigning the MIME type as .jpeg, due to the hack I mentioned above.

[2018-10-09 14:53] sdabhi23 commented on #868
The latest update broke it, and now it doesn't even work on Android O.

[2018-10-09 15:10] neslihanturan opened #1919 "Some fields are missing on activity_login layout"
**Summary:**

Some fields are missing on activity_login.xml landscape and lanscape large versions. They are only added to portrait mode xml file. Thus, it gives NPE when you try to run app on landscape mode.

**Steps to reproduce:**

Run the app on landscape mode. Ie, "skipLogin" field is missing. I think there may be some other missing fields too, needs to be checked.

[2018-10-09 15:11] neslihanturan commented on #1919
This issue is quite beginner friendly, if someone interests:)

[2018-10-09 15:48] ashishkumar468 commented on #1878
@misaochan  @neslihanturan  I have added a fix for MIME type detection, although could not find a logical bug in the method which actually attaches the extension. Although the flow needs to be refactored a bit which we can take later on. Seems like this will add a fix for the image extension issue. Raising a PR for the same

[2018-10-09 16:02] ashishkumar468 commented on #1878
Had a basic question although , do the releases not go through master branch, as I could conclude from the thread that the issue went through the branch 2.8-release. If so, which branch am I supposed to make the PR to ? I had solved the issue on a branch cut from 2.8-release. Do I need to do it from master. It would be great if some one could clarify the same

[2018-10-10 02:51] spelka commented on #1919
Hi, I'm new to the project and would like to take a look. I wanted to make some open source contributions for Hacktoberfest but my skills are really rusty. Hoping to refresh my Java skills.

I am able to reproduce the issue with the released version in the google play store on my phone.

I'm unable to reproduce this issue with the android emulator; the "skip" field seems to be showing up correctly

[2018-10-10 07:29] neslihanturan commented on #1919
Hi @spelka , welcome:) You need to make a first time run when layout is landscape to reprocude this issue. And there are 3 activity_login.xml files, if you open the cıde on android studio, you will see. Only one of them includes skipLogin currently. So I think on every API and devices it should crash.

Which branch did you checked and said all layout files conrain correct skipLogin element?

[2018-10-10 12:11] nicolas-raoul opened #1921 "When no internet, nearby stays grey, no spinner nor error"
1. With no Internet,
2. Go to Nearby
3. Result: grey screen. Expected: information or spinner

[2018-10-10 15:53] spelka commented on #1919
Hi @neslihanturan

I think maybe I am looking at the wrong files. Just to be 100% sure, can you confirm these files are the ones we want to investigate:

https://github.com/commons-app/apps-android-commons/blob/master/app/src/main/res/layout-land/activity_login.xml
https://github.com/commons-app/apps-android-commons/blob/master/app/src/main/res/layout-xlarge/activity_login.xml

I checked the commi

[2018-10-10 16:03] misaochan commented on #1919
I think this would be already fixed in master. The bugfix just hasn't made its way to a release yet, hence the buggy Play Store version. It should be out in v2.9 soon hopefully.

[2018-10-10 16:06] spelka commented on #1919
@misaochan So this issue has no work to be done, is that correct?

[2018-10-10 16:17] spelka commented on #1921
I'm having a look at this one.

[2018-10-10 16:20] misaochan commented on #1919
Perhaps @ashishkumar468 who wrote that commit can confirm, but that is my understanding.

[2018-10-10 16:20] misaochan commented on #1921
Thanks @spelka !

[2018-10-10 16:44] neslihanturan commented on #1919
Yes, my bad. I am sorry @spelka , my master wasn't up to date and apparently I missed this fix. Sorry for making you busy. If you have questions about another beginner friendly task, please don't hesitate to ask.

[2018-10-10 17:09] hoplite390 commented on #1581
Hi all, is this one sorted? If i download 2.8.4 on my Oreo phone from store and bug is still there. But when i forked master and installed app on emulator or phone i could not replicate the bug. Thx for info. (Trying to find something simple for my class to do)

[2018-10-10 19:31] #1919 closed

[2018-10-11 13:08] nicolas-raoul opened #1924 "No "skip login" in 2.8.5"
I might have missed something, but I don't see "skip login" in 2.8.5

[2018-10-11 23:11] nicolas-raoul commented on #1924
Ah OK sorry

[2018-10-11 23:11] #1924 closed

[2018-10-12 00:17] egsavage opened #1926 "Code quality changes"
**Summary:**

I'm making a general issue to address ongoing code quality issues.  Everyone please add your PRs to this issue so we can have a consolidated view of everyone's efforts.

**Would you like to work on the issue?**

I will be putting a couple of PRs forth initially to this effort and I'm hoping others will add to this effort.

[2018-10-12 06:35] maskaravivek opened #1930 "Achievements activity is crashing on Android 8.1"
**Summary:**

The app crashes on clicking on the trophy icon that opens achievements.

**Steps to reproduce:**

Click on the trophy icon. App crashes.

Expected: Achievements activity should open.

**Add System logs:**

[code]

**Device and Android version:**

Redmi Note 5. Android 8.1

 **Commons app version:**

master and betaDebug/prodDebug

**Would you like to work on the issue?**

Preferably

[2018-10-12 13:08] nicolas-raoul commented on #883
I wrote this Overpass API query:
[code]
Paste it into https://overpass-turbo.eu , press `Run` and `Zoom to data` to see the results on the map, then press `Export` to download as GeoJSON/GPX/KML.

It already provides results, but it could be improved further by catching:
- not only nodes but also ways (see  https://stackoverflow.com/a/41395312/226958)
- filtering out items that have a `k="wikidata

[2018-10-13 07:32] misaochan commented on #1926
Thanks for this issue. :) I've merged one of your PRs, the others require testing so will take a bit longer.

[2018-10-13 07:33] misaochan commented on #883
Wow, nice! :+1:

[2018-10-13 08:45] #1878 closed

[2018-10-14 09:14] maskaravivek commented on #78
As discussed with the team am assigning this task to @ashishkumar468. I would be picking up #604 instead.

cc @misaochan

[2018-10-14 10:16] maskaravivek commented on #1056
Google Play provides API access to automate the release process. Here's the documentation for the same: https://developers.google.com/android-publisher/

To work on this task I would require **Release Manager** access to the Google Play developer console. Would it be possible to grant me the access?

[2018-10-14 11:08] misaochan commented on #1056
As mentioned in our conversation earlier, I doubt WMF will grant it. The last time I asked for access for Neslihan, not only did we not get access, but also we ended up all needing to sign NDAs, attempt OAuth for the app, etc. ;)

Please feel free to test the API on a dummy app as you suggested, and I will handle the integration with the dev console.

[2018-10-14 11:19] #1489 closed

[2018-10-15 02:28] hoplite390 commented on #1901
@misaochan @VojtechDostal Hi guys, the underscore issue should have been present from 15 Jun 2017. Older posts from @VojtechDostal are with underscore as well. I did not check all of them but it seems to be isolated to his pictures with "Uploaded using Commons Mobile App" in detail. Oldest one from them is [https://commons.wikimedia.org/wiki/File:N%C3%A1m%C4%9Bst%C3%AD_Jana_Pernera_2018.jpg](url).

[2018-10-15 08:06] Rulino commented on #1912
I will take this issue

[2018-10-15 08:08] Rulino commented on #1852
I will take this issue, looks it's a general problem, acts the same for me in Slovak localization

[2018-10-15 08:19] maskaravivek commented on #1852
Sure @Rulino please take this up. :)

[2018-10-15 08:30] ewuoso opened #1936 "About Us"
If you would need someone to create and about us section for your project.  I can help you with that.

[2018-10-16 11:33] VDK opened #1937 "Switching to different app while preparing upload: stuck in queue"
**Summary:**
Upload stuck in "queued" when user has switched to a different app before completing the upload process. On rebooting the app, the upload is marked as failed and can't be reïnitiated.

**Steps to reproduce:**

* select picture to be uploaded
* switch to a different app
* switch back to complete the process
* upload is marked as "queud" but isn't being uploaded. No notification with a

[2018-10-16 12:04] nicolas-raoul commented on #1937
Does it happen 100% of the time when you switch apps?
Does it happen 0% of the time when you do not switch apps?
Thanks in advance! :-)

[2018-10-16 12:13] nicolas-raoul commented on #1936
We already have that, actually :-)

[2018-10-16 12:14] nicolas-raoul commented on #1912
@Rulino OK it is yours! Please let us know about your progress every few days :-)

[2018-10-16 12:17] VDK commented on #1937
I'm fairly sure it's a 100%/0%
Switching to a different app, to copy the correct spelling of names, is a fairly regular part of my work flow.
Even so it took a while for me to see the correlation between an upload failing and switching apps.
I stopped doing so when I finally did and since then it hasn't happened that an upload failed.
I tested my hypothesis and even only briefly switching results

[2018-10-16 12:18] nicolas-raoul commented on #1912
For the text I would suggest:

[2018-10-16 12:56] ewuoso commented on #1936
What about frequently asked questions.  I can write that also

On Tue, Oct 16, 2018, 1:13 PM Nicolas Raoul <notifications@github.com>
wrote:

[2018-10-16 13:46] ashishkumar468 commented on #78
Can someone help me with the api's for the same. Also, I was hoping if the right place for it would be the nav drawer ?

[2018-10-18 11:44] haroldadmin opened #1941 "Can't build with Instant Run enabled"
**Summary:**

Unable to run application on a real device or an emulator due to the following error:
Failed to find byte code for com/mapzen/android/lost/api/LostApiClient$ConnectionCallbacks

**Steps to reproduce:**
1. Clone the repository
2. Build project
3. Run on a real device/emulator

**Add System logs:**
Android Studio version: 3.2

**Device and Android version:**

Google Pixel, Android 9.0

[2018-10-18 19:49] Divyanshu2132 commented on #1930
Made a pull request regarding this issue have a look at it

[2018-10-18 20:49] Divyanshu2132 opened #1942 "App crashing when selecting some specific images"
**Summary:**

App is crashing whenever I am selecting specific image from gallery

**Add System logs:**

java.lang.RuntimeException: Unable to start activity ComponentInfo{fr.free.nrw.commons.beta/fr.free.nrw.commons.upload.ShareActivity}: java.lang.NullPointerException: Attempt to invoke virtual method 'void java.io.OutputStream.close()' on a null object reference
        at android.app.ActivityT

[2018-10-20 00:53] sonofspring2 opened #1943 "Failed to find byte code for com/mapzen/android/lost/api/LostApiClient$ConnectionCallbacks"
**Summary:**

I tried to build the project after cloning the project from github. But I found a build error:
Failed to find byte code for com/mapzen/android/lost/api/LostApiClient$ConnectionCallbacks

**Add System logs:**
[code]

I am pretty new to android world. Does anyone have the same issue? Or Do I miss  something? Thank you!

[2018-10-20 05:36] debpedrano opened #1944 "Project Logo Proposal"
Greetings PO,

I would like to create a logo for your esteemed project here in GitHub, it would be an honor for me and it is also my way of enhancing my skill in graphics. Hoping that you will approve or give me a permission to make.

Thank You,
- Deb

[2018-10-20 14:12] singh-95 commented on #1941
I couldn't reproduce the error.
Android Studio version: 3.2.1

Devices:
Nexus 5X Emulator, Android 8.0
Redmi Note 3, 6.0

[2018-10-20 15:00] #1912 closed

[2018-10-21 07:01] haroldadmin commented on #1941
There's at least one more person who has experienced this problem. This is the issue they filed on this repository:

https://github.com/commons-app/apps-android-commons/issues/1943

[2018-10-21 11:18] amire80 opened #1946 "Inconsistent "Send Logs" message"
**Summary:**

The translatable string "log_collection_started" mentions a "Send Logs" button. I couldn't find such a strings elsewhere. The closest string is probably send_log_file, which says "Send log file" in English. The translatable strings must be consistent.

 **Commons app version:**

This is correct for Git revision 2af57fc59421047c58a5bb9df007c170a570821d .

**Would you like to work on t

[2018-10-21 20:29] albendz commented on #1930
@Divyanshu2132 I see your PR is closed without merge. Are you still working on this?

[2018-10-21 20:33] albendz commented on #1833
Is this the same or different from: https://github.com/commons-app/apps-android-commons/issues/1882 ?

[2018-10-21 20:36] Divyanshu2132 commented on #1930
That PR was crashing at some points so I closed it Older one is still open.

[2018-10-22 23:46] albendz commented on #1867
@nicolas-raoul It looks like a word might have been missing from your description in the bug. Could you correct? Are there repro steps? Once I know how to reproduce I'll pick this up.

[2018-10-23 06:54] nicolas-raoul commented on #1867
@albendz Indeed I had forgotten a word, fixed, thanks! :-)

[2018-10-23 15:50] albendz commented on #1867
Thanks! I'll start taking a look at this. And to clarify, this happens when you select categories but on save, they are not persisted to server, right?

[2018-10-24 16:10] Divyanshu2132 opened #1948 "Search feature is light in dark theme"
**Summary:**

In explore section when we click on serch it is light even in dark mode

**Steps to reproduce:**

- Go to settings

- Turn on Dark Theme

- Then in Explore click on search icon
It is still light though it should be dark

**Device and Android version:**

Asus Zenfone Max Pro M1 Android 8.1.0

 **Commons app version:**

master and betaDebug/prodDebug

**Screen-shots:**

![issue](https:

[2018-10-25 04:15] albendz commented on #1867
I'm on the browse-commons-via-app branch and I uploaded a photo with a "restaurants" category and I see that category appear at the bottom of the page on the website: https://commons.wikimedia.beta.wmflabs.org/wiki/File:Woodinville_cafe.jpg

Is this working correctly?

The last commit via git log is:
commit 11b13bed4897df05cc3ec5ef6e81bd793792e623 (HEAD, upstream/browse-commons-via-app)
Author: Uj

[2018-10-25 04:58] misaochan commented on #1866
As an update, it seems Wikidata edits have stalled completely since 14 Oct: https://www.wikidata.org/w/index.php?hidebots=1&translations=filter&hidecategorization=1&tagfilter=wikimedia-commons-app&limit=500&days=30&enhanced=1&hideWikibase=1&title=Special:RecentChanges&urlversion=2

Has anyone successfully made an edit recently?

[2018-10-25 05:07] misaochan commented on #1833
The same! Thanks for pointing it out. :)

[2018-10-25 05:07] #1833 closed

[2018-10-25 05:29] misaochan commented on #78
@VojtechDostal @nicolas-raoul @whym Would appreciate insight on which API we should use for this?

@ashishkumar468 For the UI, the eventual plan is for it to be on the main screen. But depending on the output of the API, for the time being the nav drawer or even a separate "News" activity could work.

[2018-10-25 05:47] misaochan commented on #1946
"Send log file" is probably more technically correct (the users are sending a file via email), although we do colloquially use "send logs" to talk about it, which probably explains why the mix up happened. Thanks @amire80 . :)

[2018-10-25 05:48] misaochan commented on #1943
Have you tried "Clean project" and then building again?

[2018-10-25 08:39] #1946 closed

[2018-10-25 15:54] #1756 closed

[2018-10-25 18:17] konohakesh commented on #1942
Is anyone working on it?  I would like to look into it.

[2018-10-26 07:28] misaochan commented on #1943
Hmm, interesting. I am able to build master on prodDebug, and the Travis build is passing. What version of Android Studio and what build variant are you using?

[2018-10-26 07:32] misaochan commented on #1942
@Divyanshu2132 are you working on this at the moment?

[2018-10-26 07:33] Divyanshu2132 commented on #1942
No anyone take up tuis issue I am working on different issue

[2018-10-26 07:47] misaochan commented on #1942
@konohakesh It is yours. :)

[2018-10-26 07:50] misaochan commented on #1866
2/2 of my edits failed. We are releasing 2.8.6 next Mon with Send Logs, in hopes of getting logs to debug this issue. Hopefully we can fix this in 2.9.

[2018-10-26 09:21] neslihanturan commented on #1898
I am late to answer but, @VojtechDostal image recognition was the first thing came to my mind when I first read this task. Then I  recognized (as you did) the task does not require it (thanksfully):)

[2018-10-26 09:45] maskaravivek commented on #1866
Atleast one successful wiki data on 2.8.5 https://www.wikidata.org/wiki/Q5635178 :)

[2018-10-26 19:48] konohakesh commented on #1942
I looked into it. Looks like it is failing when ShareActivity is getting rendered which happens once you select a picture from gallery and then this activity actually brings in the Title\Desc screen.

While this activity is getting loaded, under the covers it tries to save the picture to temp location in order to use that URI for upload process later.

But when it is inFileUtils.saveFileFromURI()

[2018-10-26 19:57] albendz commented on #1943
I tried with Android studio versions 3.1.3 and 3.2.1. Build variant betaDebug.

[2018-10-26 20:06] albendz commented on #1943
prodDebug has the same problem for me as well.

[2018-10-28 16:31] #1930 closed

[2018-10-29 07:44] joerundp opened #1958 "Show where your uploaded images are used"
I would like to be able to see what images contributed to Wikimedia are used, and also the pages they are used at. It already lists the amount of contributions used, but not which ones and on what pages. This would be very helpful.

[2018-10-29 08:04] nicolas-raoul commented on #1958
A link to a web page that has all of this information is probably the best way to implement this.
What page do you think would be best? I am sure I saw such a page some time ago.

[2018-10-29 08:11] joerundp commented on #1958
Well yes, that could work. Some images are used on several pages though, so
perhaps the image used on ie. Wikipedia English (if present) followed by
'also used on...' below. Then next image. Also the ability to sort by time
of upload, so it can show the most recent uploads. I think, as a
contributor, the 'reward' of seeing your work being used should have some
significance.

Den man. 29. okt. 2018

[2018-10-29 08:38] misaochan commented on #1866
I also just made a successful edit to https://www.wikidata.org/wiki/Q7501447 while testing Send Logs, so I guess nothing much has changed. We just need to debug the sporadic failures. :)

(I removed the edit because it was not the right pic)

[2018-10-29 08:44] tykees opened #1959 "Crash on notification and fails on image upload"
**Summary:**

The app crash when ever I click on the Notification feature and I was unable to upload image, showing "Failed" most time I tried

**Steps to reproduce:**

Quite easy.
Login and click on the "Notification" it crashes
Also, the second issues is quite simple as I only tried to upload image.

**Add System logs:**

**Device and Android version:**

Tecno droid pad
Android 5.0
1gb Ram and 1

[2018-10-29 11:58] misaochan opened #1961 "Add template in body of email for Send Log File"
The newly-revamped Send Log File setting now allows users to send their logs to us, but the email body is very generic. Unless the user takes the initiative to write details, we're not sure what the user is trying to tell us.

A template for the email body would be good. Perhaps something like:

[2018-10-29 12:10] nicolas-raoul commented on #1961
Just about the Android version: can't we take it automatically?

On Mon, Oct 29, 2018, 20:58 Josephine Lim <notifications@github.com wrote:

[2018-10-29 13:43] VojtechDostal opened #1962 "Our team at Wikimedia Hackathon 2019"
The [Wikimedia Hackathon 2019](https://www.mediawiki.org/wiki/Wikimedia_Hackathon_2019) will take place in Prague in May 2019 and I'd like many of you to attend. After all, haven't we had fun at the 2017 prehackathon event in Prague? :-)

I'd like to include our app as one of the "focus areas" - making it more visible among participants and possibly finding new volunteers for the app development o

[2018-10-29 14:58] misaochan commented on #1962
Exciting! :)

Do we want the focus to be on Nearby for the main task? If not necessarily, I still have a soft spot for #1296 , which we planned but didn't manage to do for the 2018 hackathon. It's interesting, easy to showcase, and not dependent on other improvements. #1514 would be pretty cool and easily standalone, too.

[2018-10-29 18:35] albendz commented on #1943
Windows 10.

[2018-10-29 18:48] konohakesh commented on #1959
I will look into it. I am not able to reproduce it on Android  7.0 though.
So I will try it on Android 5.0

[2018-10-29 19:05] tykees commented on #1959
OK, Thank you!

[2018-10-29 20:23] konohakesh commented on #1959
Ok I could reproduce this in Android 5.0 where it fails with following stack trace:

E/AndroidRuntime: FATAL EXCEPTION: main
                  Process: fr.free.nrw.commons.beta, PID: 8726
                  java.util.regex.PatternSyntaxException: Unrecognized backslash escape sequence in pattern near index 4:
                  (^\h*)|(\h*$)
                      ^
                      at java.util

[2018-10-30 00:58] sonofspring2 commented on #1943
A follow up. I modified the dependecies gradle version from 3.1.4 to 3.2.0. Then the app can be built and installed.
The line I modified is :
https://github.com/commons-app/apps-android-commons/blob/master/build.gradle#L10 .

However, the app throws a new Exception when it's trying to load iamge for "Explore".

[code]

Android Studio Version: 3.2.1
Device and OS:
Pixel 2 , Android 9.
Emulator Nexu

[2018-10-30 07:07] misaochan commented on #1959
Thanks for the investigations @konohakesh . :)

1. I believe we found trim() to be insufficient for tidying up whitespaces. AFAIK this was implemented by @maskaravivek - Vivek, do you recall why replaceAll was needed?
2. I looked up https://developer.android.com/reference/java/util/regex/Pattern and it seems that indeed '\s' is the recommended character sequence for whitespace. Please feel free to

[2018-10-30 08:33] tykees commented on #1959
Also, I tried to upload image with Android 6.0 but the image failed (similar to the issue on 5.0) to upload after several attempt.

[2018-10-30 08:47] misaochan commented on #1959
@tykees , what version of the app are you using? Could you check About and let us know please?

[2018-10-30 08:49] misaochan commented on #1943
Great to hear that, @sonofspring2 ! We should probably be updating our Gradle build tools version anyway, so feel free to submit a PR for that along with your investigations on the Explore exception.

[2018-10-30 09:40] tykees commented on #1959
![screenshot_2018-10-30-10-42-04](https://user-images.githubusercontent.com/35191441/47709229-1bef2b00-dc30-11e8-809f-0180bcc34a11.png)
Latest version on F-driod

[2018-10-30 12:39] tykees opened #1963 "Idea on "explore""
Hello, I have an idea to propose on the explore section in the application.
AFAIK, Random images comes up when the explore is accessed and there is a search function on the page to search "media and categories". Which images related to the search comes up.
My idea is the implementation of a " favorite " function that will allow users to favorite images. All favorite images will be on a page and th

[2018-10-30 12:45] nicolas-raoul commented on #1963
Related: #1756

[2018-10-30 13:02] tykees commented on #1963
Yeah, related but the overall idea is kinda different as the end result is not similar to the issue. Hoping to use the feature soon.;))

[2018-10-30 16:44] misaochan commented on #1959
Strange that F-droid has not taken up 2.8.6 yet. I have been tagging releases and it is available [here](https://github.com/commons-app/apps-android-commons/releases/tag/v2.8.6). Is there a delay for deployment?

Image upload failures were fixed in 2.8.5, so it is expected that you would have them, if you are running 2.8.4.

[2018-10-30 16:52] misaochan commented on #78
@nicolas-raoul @VojtechDostal @urbanecm Any ideas on what API we could use? I will try to ask on wikitech-l or the village pump soon if no one here knows. :)

[2018-10-30 16:56] misaochan commented on #1963
I like the idea of notifying the owner of the image whenever their images get a favourite. :) However, that would require some form of server-side storage and handling for "favourites" I believe, as local storage would be insufficient for that. Currently we use local storage just to store favourites, but we can't process notifications or keep track of them with just local storage. (Anyone, please

[2018-10-30 16:58] urbanecm commented on #78
Not sure I fully understand the question. What data you want to access in the app?

[2018-10-30 17:00] misaochan commented on #78
The exact data that we will display is somewhat flexible, but we at least need to be able to check (1) dates that the campaigns are running and (2) names of these campaigns.

[2018-10-30 17:01] urbanecm commented on #78
What is a campaign in this context?

[2018-10-30 17:03] misaochan commented on #78
I think we can just start with the international WLE and WLM campaigns for now, but for a future enhancement could include the country-specific ones?

[2018-10-30 17:05] urbanecm commented on #78
I wonder if such campaigns are stored in some app. If not, it's hard to recommend an API.

[2018-10-30 17:08] misaochan commented on #78
Hmm, I guess if an API doesn't exist, we can just go with the manual maintenance and loading of a text file as mentioned at https://github.com/commons-app/apps-android-commons/issues/78#issuecomment-193065060 . IMO this would be less-than-ideal due to the maintenance required, but if it is only WLM and WLE, maintenance would be required only once a year (and even then only if WMF changes their pla

[2018-10-30 17:10] urbanecm commented on #78
If you decide to maintain the list of campaigns in a TXT file, I think this file should not be stored in app, but somehow publicly available on web. This will make changes simplier, because you won't have to wait for users to update the app.

[2018-10-30 17:52] tykees commented on #1959
With what I can see, that update and release was 24hrs ago. The latest version on play store and F-driod  is still 2.8.4, I will update once I can get the apk or any downloadable version of the app.

[2018-10-30 17:56] misaochan commented on #1959
2.8.5, which does fix upload failures, was 19 days ago. I am a bit concerned that F-droid has not updated it?

The latest production version on the Play Store should be 2.8.5 too. Are you certain it is 2.8.4 for you? Could you try uninstalling and reinstalling your app? Sometimes the Play Store app caches and does not display the current version.

[2018-10-30 20:39] VojtechDostal commented on #78
Campaign in this context is page in the Campaign namespace on Wikimedia Commons.

https://commons.wikimedia.org/wiki/Commons:Upload_campaigns

[2018-10-31 01:29] nicolas-raoul commented on #78
Apparently there is no active campaign right now?
Here is how that page looked when a campaign was active: https://commons.wikimedia.org/w/index.php?title=Commons:Upload_campaigns&oldid=101495150
Seeing the page's history, it does not seem to be maintained carefully. So we would have someone make sure it is kept up-to-date every month or so. Also, we would have to add a few columns, at least start

[2018-10-31 06:40] maskaravivek commented on #1959
@misaochan Are we ready to roll out 2.8.6 to all users? That way @tykees can share logs from his app. :)

[2018-10-31 08:43] VojtechDostal commented on #78
That table seems manually updated but it seems like people periodically update campaigns like this one: https://commons.wikimedia.org/w/index.php?title=Campaign:wlm-cz&action=edit

[2018-10-31 09:07] misaochan commented on #1959
@tykees Hmm. Could I please trouble you to do this:
- Opt in to beta testing at https://play.google.com/apps/testing/fr.free.nrw.commons
- Go to Settings > Send log file
- Tap Send log file
- Restart your app
- Perform an upload
- After it fails, tap Send log file again

This will help us debug the cause of the failure for you. :)

@maskaravivek This is a tricky decision, and I eventually decided

[2018-10-31 09:07] nicolas-raoul commented on #78
I did not know about that namespace, interesting!
Unfortunately it does not seem to have time information, for instance https://commons.wikimedia.org/w/index.php?title=Campaign:FLISoL2017&action=edit is still marked as active.
And there are hundreds: https://commons.wikimedia.org/w/index.php?title=Special:PrefixIndex&namespace=460 so we can not just show all campaigns.

[2018-10-31 09:13] urbanecm commented on #78
The problem is that the campaign you linked is still officially marked as active and if you use an URL referencing this campaign, it will just work.

Maybe we should get Commons administrators and/or campaign admins to disable a campaign when it is no longer necessary, so we can use it in this app?

Alternatively, we can display x newest campaigns, which can display some out of date campaigns and

[2018-10-31 09:14] misaochan commented on #1961
@nicolas-raoul Good point, we should take it automatically and include it in the email body :)

Additionally, I just noticed that the new Send Log File in 2.8.6 does not seem to include app version in the email body (the pre-2.8.6 version does). We would need to add this as well.

[2018-10-31 09:54] misaochan commented on #78
Thanks guys! :)

To clarify, I don't think we want to display a list of campaigns to the user per se. IMO for our current prototype, we would only display active campaigns, with a line like: "This campaign (e.g. WLM) is currently running from Oct 1 - Oct 31! Tap to see more information", and when tapped, the user would be brought to the campaign page.

We also probably don't want to display photo

[2018-10-31 09:56] urbanecm commented on #78
The campaigns pages themselves do not contain any information about time. If we need info about time, I think there's no other solution than maintaining publicly available JSON file.

[2018-10-31 10:33] tykees commented on #1959
Okey, thanks!
Doing that now

[2018-10-31 10:57] tykees commented on #1959
Done!

[2018-10-31 11:08] misaochan commented on #1959
Thanks @tykees !

@maskaravivek Please see the logs [here](https://www.google.com/url?q=https://groups.google.com/d/msgid/commons-app-android-private/CAM%252B4ftn_t_ZNBa%253Dw8JyntNByb5sok4aEHgiykhbn%252B-0Tpk6P5g%2540mail.gmail.com?utm_medium%3Demail%26utm_source%3Dfooter&source=gmail&ust=1541070341645000&usg=AFQjCNG7wSSlYiJ1RGZF6xEH7rvbsglBqg). It seems to be a badtoken error.

`error code="badt

[2018-10-31 12:17] tykees commented on #1963
Wow! So, you guys going to have this feature implemented? I tend to like it so much.
Or it gonna be a future implementation?

[2018-10-31 17:32] Pablohn26 opened #1966 "Crash when rotating the app on Nearby mode"
**Summary:**

Summarize your issue in one sentence (what goes wrong, what did you expect to happen)

Crash when rotating the app on Nearby mode

**Steps to reproduce:**

I attach a video showing how to reproduce the error

![bug_result](https://user-images.githubusercontent.com/1228418/47806391-f51d1b80-dd39-11e8-8c21-5b51870b5ec7.gif)

How can we reproduce the issue? Go to Nearby mode and rotate

[2018-10-31 18:32] maskaravivek opened #1967 "App crashes due to NPE in bookmarks"
**Summary:**

Summarize your issue in one sentence (what goes wrong, what did you expect to happen)

Proddebug installs on a fresh install when a media item is clicked.

**Add System logs:**

[code]

**Device and Android version:**

Android 8.1

[2018-11-01 01:39] nicolas-raoul commented on #1846
I just had something vaguely similar with 2.8.6:
[code]

[2018-11-01 09:12] VojtechDostal commented on #1962
There is no need to focus on anything specific :) So anything (that would be interesting for hackathon participants) goes. #1296 indeed sounds cool. Not sure if #1514 is a priority (I don't know how many people would be likely to use that? :-) ).

We can also suggest as many as eg. 10 tasks and decide only during hackathon. This way, potential team members will see the breadth of our work and be a

[2018-11-01 09:33] misaochan commented on #1854
Just talked to @ashishkumar468 about the potential cause of this bug. It seems that the temp file URI changes made at #1749 to fix a different bug, may have caused this.

It isn't limited to just date, but much of the Exif metadata would have been omitted as well, unfortunately. For instance, see the difference between https://commons.wikimedia.org/wiki/File:Miss_Claudes_creperie_in_Brisbane.jpg a

[2018-11-01 09:36] misaochan commented on #1963
We can definitely keep this enhancement in mind. :) However, it may take a while before we get to it, unless a volunteer offers to do it sooner. Enhancements involving server-side storage/handling can be quite involved and take a lot of time.

[2018-11-01 16:14] jidanni opened #1971 "Date "according to Exif data" is sometimes wrong"
In https://commons.wikimedia.org/wiki/File:Taiwan_white_caterpillar2018.jpg
you will observe "Date	1 November 2018 (according to Exif data)".
But if you scroll down to Metadata, you will find that is not the case.
App version: noted already on the page.

Please use the actual exif data date, not the upload date.
Nowhere in the exif data does it contain the upload date.

[2018-11-01 21:05] domdomegg commented on #1936
Maybe check out improving the documentation on the [wiki](https://github.com/commons-app/apps-android-commons/wiki)

[2018-11-01 21:53] domdomegg commented on #1565
Closing due to lack of activity

[2018-11-01 21:53] #1565 closed

[2018-11-01 21:55] domdomegg commented on #1944
Hi Deb, please see #868

[2018-11-01 21:55] #1944 closed

[2018-11-01 22:02] domdomegg opened #1973 "Move marketing stuff to a different repository"
**Summary:**

Currently the `/design` folder is 136MB, and because git naturally stores file histories it's contributing to the repository being quite a big download. Maybe we could move all of that to a different repo, perhaps `commons-app/design`?

Also if we do this, we might consider removing them with BFG - although caution needs to be taken as some people might be unhappy about changing the

[2018-11-01 22:04] domdomegg commented on #1451
Think this is an excellent move. Seeing as it's been put in place, can we close this issue?

[2018-11-01 22:04] #1451 closed

[2018-11-01 23:03] #1936 closed

[2018-11-01 23:05] domdomegg commented on #307
Closing due to inactivity. Please reopen if still an issue.

[2018-11-01 23:05] #307 closed

[2018-11-01 23:08] domdomegg commented on #1948
Related PR: #1951

[2018-11-01 23:10] domdomegg commented on #317
See [#318#257490267](https://github.com/commons-app/apps-android-commons/pull/318#issuecomment-257490267)

[2018-11-01 23:10] #317 closed

[2018-11-01 23:20] domdomegg commented on #1611
Think we have been using targetSdkVersion 27 since v2.7.0

Updated in [`2a0b9d8`](https://github.com/commons-app/apps-android-commons/commit/2a0b9d8a0bac0116fc442f4b43fcf0a09df5ae85#diff-503f218d646c10f484fdc9d6315bf2e3R22)

[2018-11-02 02:10] nicolas-raoul commented on #1973
Yes, a different repo is a good idea!
Only Commons-logo.svg should probably be considered a source file.
The `marketing` folder should probably go there to. Actually, all of these files are for marketing (meaning promotion, and illustration of markets such as Google Play) and not design, so the new repository could be called "marketing" rather than "design".

[2018-11-02 04:09] albendz commented on #1867
@nicolas-raoul Is this still relevant?

[2018-11-02 04:35] nicolas-raoul commented on #1867
Sorry, it seems that I was wrong, and I guess this was related to this branch:
https://github.com/commons-app/apps-android-commons/pull/1784

[2018-11-02 04:40] albendz commented on #1867
Okay, since that hasn't been merged, is that something I should pick up or leave to the PR owner?

[2018-11-02 06:41] nicolas-raoul commented on #1867
The PR owner does not seem to be around anymore, maybe this can be closed and linked to from the PR.

[2018-11-02 06:41] #1867 closed

[2018-11-02 11:13] nicolas-raoul commented on #1973
I moved most stuff to https://github.com/commons-app/marketing
There is still a `marketing` folder remaining, please someone figure out how it is used by translatewiki and move that too, thanks!

[2018-11-02 11:28] domdomegg commented on #1435
**Summary:**

Nearby fails as it just keeps switching screens between "GPS is disabled in your device. Would you like to enable it?" and "Nearby places cannot be displayed without location permissions".

**Steps to reproduce:**

How can we reproduce the issue?
1. Build and run master (I used `2.8.5-debug-master~3ccd690c`) on an API 15 level device (I used `Galaxy Nexus (simulator)`)
2. Go to the n

[2018-11-02 11:33] domdomegg commented on #458
@jakobsvenningsson Can we merge your changes? They look good, loving the unit tests 👍

[2018-11-02 11:41] domdomegg commented on #1896
Thank you very much! I've updated the wiki.

[2018-11-02 11:41] #1896 closed

[2018-11-02 11:45] domdomegg commented on #82
@maskaravivek Has this been resolved now? [F-Droid](https://f-droid.org/en/packages/fr.free.nrw.commons/) seems happy with 2.8.6 to me.

[2018-11-02 11:48] #959 closed

[2018-11-02 12:09] jakobsvenningsson commented on #458
@domdomegg  Yes, the changes are ready to be merged. I completely forgot to tell that the I finished the task when I worked on this issue in February last year. I'm sorry for that..

[2018-11-02 13:06] domdomegg commented on #1914
Was able to reproduce in `2.8.5-debug-master~178e5351` on `Samsung Galaxy S6` with API level `25`

Reviewing PR now

[2018-11-02 13:20] #1914 closed

[2018-11-02 13:38] domdomegg commented on #1607
Try `cd`ing into the `/app` folder and running `gradlew.bat assembleDebug` from there. If this works tell me and I'll update [the wiki](https://github.com/commons-app/apps-android-commons/wiki/Build-Manually).

Also, it's usually much easier to use [Android Studio](https://github.com/commons-app/apps-android-commons/wiki/Develop-with-Android-Studio-or-IntelliJ)

[2018-11-02 13:45] domdomegg commented on #629
Same as #1238, which was done in PR #1486

[2018-11-02 13:45] #629 closed

[2018-11-02 18:28] #1926 closed

[2018-11-02 18:41] Divyanshu2132 opened #1975 "Asking permission in nearby even when location is on"
**Summary:**

Asking permission in nearby even when location is on.

**Steps to reproduce:**

- Turn on location

- Then click on nearby in drawer

- then it will again ask for permission

**Device and Android version:**

Asus Zenfone Max Pro M1 Android 8.1.0

 **Commons app version:**

master and betaDebug/prodDebug

**Screen-shots:**

![bug](https://user-images.githubusercontent.com/28994322/479

[2018-11-03 01:53] StoppedGalaxy opened #1976 "Unable to upload photos from gallery, with error "File Not Found""
**Summary: I couldn't upload photos on the app, an error saying "File Not Found" pops up after tapping "send"**

How to reproduce issue: attempt to upload a photo on the app, with both the Title and Description filled in.

Device and Android version: Huawei Honor 9 Lite, Android Version EMUI 8.0.0 Oreo (Stock version)

Commons app version: 2.8.5, Google Play download

Would you like to work on the

[2018-11-03 09:51] VojtechDostal commented on #1966
I can currently easily rotate the app in Nearby mode without any crashes. The Nearby map reloads normally each time I do that. I am on 2.8.6. , Huawei P10 Lite, Android 8.0

[2018-11-03 12:18] debpedrano commented on #868
Hello! how was everyone? can I submit my design for this project?

[2018-11-03 12:37] #1921 closed

[2018-11-03 12:42] #1581 closed

[2018-11-03 12:43] domdomegg commented on #1581
See #1917, #1918 and #1933

[2018-11-03 12:49] domdomegg commented on #1514
This looks really good - I might have a look into it if I get the time
https://codelabs.developers.google.com/codelabs/voice-interaction/index.html

[2018-11-03 13:05] domdomegg commented on #1967
Was able to reproduce with `2.8.5-debug-master~ef73204c` on `Samsung Galaxy S6` with API level `25`

[code]

[2018-11-03 13:08] domdomegg commented on #1976
Is the exact text `File not found. Please try another file.`?

[2018-11-03 13:09] StoppedGalaxy commented on #1976
I was using Traditional Chinese so I don't know of the exact translation, but that's just about what it said.

[2018-11-03 13:12] #1967 closed

[2018-11-03 13:14] domdomegg commented on #1976
Was it `找不到文件。请尝试其他文件。`?

[2018-11-03 13:18] StoppedGalaxy commented on #1976
It's "找不到檔案，請試試其他檔案。"

[2018-11-03 13:33] StoppedGalaxy commented on #1976
It does have the Storage permission.

I tried using the camera — and lo and behold — it worked. The ones from the gallery don't though — I've tried both the default Huawei Gallery app and Google Photos.

I'm using version 2.8.5.

[2018-11-03 13:43] domdomegg commented on #1943
Managed to reliably recreate (at least on my machine). For me, it's whenever instant run is enabled.

To disable instant run (and get rid of this error), disable instant run:
`File` > `Settings` > `Build, Execution, Deployment` > `Instant Run`

I've reported an issue with instant run on this - if others with the same problem do hopefully it'll help them fix it quicker. The instructions are in that

[2018-11-03 13:47] domdomegg commented on #1941
Try disabling instant run in your settings:
`File` > `Settings` > `Build, Execution, Deployment` > `Instant Run`

Not quite sure why but that fixed it for me. Please can you try it and report back in #1943

Despite being posted before, gonna close this in favour of #1943 (as it's had more activity), so we can keep all the information about this in one place.

[2018-11-03 13:50] domdomegg commented on #1393
@nicolas-raoul is this fixed?

[2018-11-03 14:06] sdabhi23 commented on #868
@debpedrano you will have to post the design on this issue. If it is approved then they will let you know about the assets they require.

[2018-11-03 17:50] albendz commented on #1943
It works now. Thank you @domdomegg

[2018-11-03 20:11] domdomegg commented on #1976
Bizarre idea, but could you try uploading without a description?

Also, when it fails does it get added at the top of home as "Queued"?

[2018-11-04 02:52] debpedrano commented on #868
@sdabhi23
Design # 1

![image](https://user-images.githubusercontent.com/40510200/47959453-a9ab8b80-e01f-11e8-804d-5d55bde8c064.png)

[2018-11-04 09:09] misaochan commented on #458
Please correct me if I'm wrong (I'm not sure which PR the changes are in), but unfortunately it seems to me that this task is outdated as of today. #1968 will be merged shortly, which completes the overhaul.

[2018-11-04 09:13] misaochan commented on #1611
Yep. :)

[2018-11-04 09:13] #1611 closed

[2018-11-04 09:29] misaochan commented on #1976
Sorry, the logging system from versions before 2.8.6 is a bit wonky.

@StoppedGalaxy could you please:
- Opt in to beta testing at https://play.google.com/apps/testing/fr.free.nrw.commons
- Update to v2.8.6
- Go to Settings > Send log file
- Tap "Send log file", restart your app
- Perform an upload that fails
- Tap "Send log file" again
- Send us the logs via email

Thanks!

[2018-11-04 09:31] misaochan commented on #1976
Sorry, the logging system from versions before 2.8.6 is a bit wonky.

Could I please trouble you to do this:

- Opt in to beta testing at https://play.google.com/apps/testing/fr.free.nrw.commons
- Update to 2.8.6
- Go to Settings > Send log file
- Tap Send log file
- Restart your app
- Perform an upload
- After you get the error, tap Send log file again

This will help us debug the cause of the fa

[2018-11-04 09:35] sdabhi23 commented on #868
@misaochan any updates on the designs I suggested?

[2018-11-04 09:35] nicolas-raoul commented on #1976
StoppedGalaxy sent me a log, unfortunately it does not seem to contain any information related to the failed upload:
[code]

[2018-11-04 09:38] misaochan commented on #868
@debpedrano We really appreciate the effort, but it is extremely unlikely that we will change the base logo, as it is based on the Wikimedia Commons logo and is a big part of our identity. However, we are open to changes to the app's **icon**, as long as the base logo remains the same. :) For instance, you can modify shading or the background color, etc.

[2018-11-04 09:41] StoppedGalaxy commented on #1976
@domdomegg: Uploading without a description yields identical results. And yes, it appears as "queued" first before eventually appearing as "failed".

@nicolas-raoul: Hm, wait a moment. I'll send you another log.

I'll see if I can post screenshots here — I'm new to GitHub so please pardon me.

[2018-11-04 09:43] misaochan commented on #1943
Thanks for the investigation @domdomegg . :)

[2018-11-04 09:43] #1943 closed

[2018-11-04 09:47] nicolas-raoul commented on #1976
@StoppedGalaxy You can also send the log to your own email address and then post it here directly :-)

[2018-11-04 09:47] StoppedGalaxy commented on #1976
@domdomegg: After several more attempts, uploading without a description seems to work occasionally — 2 out of 3 times.

[2018-11-04 09:50] StoppedGalaxy commented on #1976
Here's the log:

11-04 16:48:56.970  7318  7318 I zygote64: Reinit property: dalvik.vm.checkjni= false11-04 16:48:56.984  7318  7318 D ActivityThread: ActivityThread,attachApplication11-04 16:48:57.057  7318  7318 D HwFLClassLoader: get used feature list :/feature/used-list failed!11-04 16:48:57.057  7318  7318 D HwFLClassLoader: USE_FEATURE_LIST had not init! 11-04 16:48:57.109  7318  7318 I Mult

[2018-11-04 09:54] misaochan commented on #1976
Hmm, my comment just got sent halfway up the thread, because GitHub seemed to think that all the other posts were from the future! Reposting here:

Sorry, the logging system from versions before 2.8.6 is a bit wonky.

@StoppedGalaxy could you please:

- Opt in to beta testing at https://play.google.com/apps/testing/fr.free.nrw.commons
- Update to v2.8.6
- Go to Settings > Send log file
- Tap "Send

[2018-11-04 09:56] StoppedGalaxy commented on #1976
Log files sent! The default recipient should be correct, right?

[2018-11-04 10:29] misaochan commented on #868
@sdabhi23 I apologize that I have not had the time to talk to WMF Legal about this due to grant deadlines. If they approve, I am good with switching to the first icon (that @nicolas-raoul liked as well).

Could anyone volunteer to send WMF Legal an email about this?

[2018-11-04 12:00] AhmedAliNaga commented on #1779
Is this issue still not handled?

[2018-11-04 12:19] AhmedAliNaga commented on #124
Is this issue still opened i would like to fix this issue 🥇

[2018-11-04 12:29] misaochan commented on #1779
Sorry, this is fixed!

[2018-11-04 12:29] #1779 closed

[2018-11-04 12:30] misaochan commented on #1961
@AhmedAliNaga Sure, go for it! :)

[2018-11-04 12:59] misaochan commented on #1830
Pushing failed Wikidata edits to the next release as we have not gotten any logs of failed edits from 2.8.6 (if I missed one, please let me know!).

We're almost there for v2.9! :)

[2018-11-04 13:06] domdomegg commented on #1976
Not entirely sure this is it, but seems weird for the file to be deleted before GPSExtractor and UploadController get a chance to use it. Would explain the IO Exception (`no such file or directory`)

[code]

That's from calling `removeTemporaryFile()` from [`ContributionUtilsL52`](https://github.com/commons-app/apps-android-commons/blob/e36a71a584110dc4e325929a0daee94857e10b96/app/src/main/java/fr

[2018-11-04 13:14] misaochan commented on #1976
Hmm. If it is caused by the current upload flow, perhaps it may be best to just wait and see if #1968 (and perhaps, by correlation, #1979 ) solves the problem?

[2018-11-04 13:55] debpedrano commented on #868
@misaochan  so you mean we will just stick on the base logo and put some modification to add some enhancement? I will do that if that's what you meant.

[2018-11-04 14:29] domdomegg opened #1980 "Clicking middle text of a notification row has an inconsistent darkening animation to icon and date"
**Summary**

Clicking on the middle text of a notification row doesn't change the background of that row. However, the icon and the date do. We should show the animation for consistency (also pressing and holding should make row darker shade like others)

**Screen-shot**

This is the animation I'm talking about:
![screenshot_20181104-142630](https://user-images.githubusercontent.com/4953590/479653

[2018-11-04 14:33] domdomegg opened #1981 "Show more/less in notification row annoyances"
**Summary**

All the times it's turned up for me it's not been helpful - with the 'show more' taking up more space than if it wasn't there. Maybe need to be less aggressive with it? [item_notification.xml](https://github.com/domdomegg/apps-android-commons/blob/2884bd934ab7320ba0918fda937a6a817191e618/app/src/main/res/layout/item_notification.xml#L49)

As the target is small and the middle text lin

[2018-11-04 14:35] domdomegg commented on #1862
Fixed in #1872

[2018-11-04 14:35] #1862 closed

[2018-11-04 15:10] A-Hassan-M commented on #1882
I will try to fix it i am a little bit busy but i can find some free time to put into this.

[2018-11-04 23:45] domdomegg commented on #1852
Fixed in #1947

[2018-11-04 23:45] #1852 closed

[2018-11-05 03:29] nicolas-raoul commented on #1393
@domdomegg Sorry I have not tried recently.

[2018-11-05 08:51] betabear26 commented on #171
Taking this up. SonarLint shows 643 issues in 146 files. Should be finished by this Friday.

[2018-11-05 09:07] sivaraam commented on #868
Hi @misaochan, just for the clarification: can anyone not much involved in the project also ask WMF legal about this? If that's the case I might help you with this.

[2018-11-05 09:29] maskaravivek commented on #1967
@domdomegg The issue is no longer happening for me.

[2018-11-05 16:34] misaochan commented on #1882
It's yours, thanks @A-Hassan-M . :)

[2018-11-06 04:54] sivaraam commented on #868
No problem :-) Just for the confirmation is [trademarks@wikimedia.org](mailto:trademarks@wikimedia.org) the email address to which I would have to send an email or is it [legal@wikimedia.org](mailto:legal@wikimedia.org) ?

[2018-11-06 06:41] konohakesh commented on #1942
Its been a while. Now I see that post this [#1918](https://github.com/commons-app/apps-android-commons/pull/1918#issue-221159306) PR, null check is done but that can be improved upon by having   separate catch block for both input and output stream. I will do that change.

Also make the earlier catch block handle all exceptions as I talked about it in the above post so that we know what really cau

[2018-11-06 08:59] misaochan commented on #868
I think legal@wikimedia.org should work, if they need to forward it to trademarks they could do so?

[2018-11-06 10:24] konohakesh opened #1984 "Upload count does not get updated right away post successful upload"
**Summary:**

After a successful upload, when 'My Recent Uploads' activity is shown, then upload count in the header is not incremented. It still shows the old count. But when you close and re-open the application, it shows the correct count.

**Steps to reproduce:**

1. Note the current upload count and then upload an image.
2. When you come back to 'My Recent Uploads' ,

Actual: You will see the

[2018-11-06 14:39] misaochan commented on #868
Thanks @sivaraam !

[2018-11-06 15:10] misaochan commented on #1971
Hi @jidanni , thanks for reporting this. This is a known issue (see #1854 ) and should be fixed in v2.9. :)

[2018-11-06 16:35] misaochan commented on #1984
Thanks for the report! You are very welcome to work on it, but I would wait until v2.9 is out, because there will be significant changes to both the upload process and main activity. You can keep an eye on 2.9-release branch. :)

[2018-11-06 16:51] misaochan commented on #78
So, I'm working on getting the base information up so that @ashishkumar468 can get started on the JSON file and the task itself.

I have the campaigns below at the moment, please feel free to correct/add:

Wiki Loves Monuments, 1-30 Sep, https://www.wikilovesmonuments.org/contest/
Wiki Loves Earth, 1 May - 30 June (unfortunately it seems that it differs slightly based on country?), http://wikilove

[2018-11-06 21:55] JeanFred commented on #78
This is by design. Upload campaigns have this dual-use − for campaign-as-contest, and as an upload helper. That’s why folks are encouraged to use WLM campaigns even when WLM is not running, as they get fields pre-filled with the monument ID etc. These campaigns are expected to be enabled all year long. (At least for WLM, we rely on [{{WLM-is-running}}](https://commons.wikimedia.org/wiki/Template:W

[2018-11-06 23:31] debpedrano commented on #868
@misaochan  yes, I don't have work for now and its kinda bored to stay at home and do nothing that's why I am making issue (logo designs) to entertain myself. If you have any project that needs a logo, you can count on me, everything is for free.

[2018-11-07 04:58] konohakesh commented on #1984
Alright @misaochan . Now that you are talking about 2.9 -release, can you please briefly tell me and other newbies that how do we go about releasing the commons apps? I am not aware of the release cycles and even though I read in one of the comments under an issue that v2.8.6 is out, I don't see it in Play Store. Can you explain this a bit how releases are done here?

[2018-11-07 07:28] misaochan commented on #868
@debpedrano Ah, cool. Are you open to doing any other types of design, or do you only do logos?

[2018-11-07 07:40] misaochan commented on #1984
Sure. :) You can see the procedure at https://github.com/commons-app/apps-android-commons/wiki/Project-maintenance . And to know our latest release, you can look at https://github.com/commons-app/apps-android-commons/releases .

v2.8.6 is a bit of a one-time anomaly, as it will remain in Google Play beta until v2.9 is out. You can still access it by signing up for beta testing.

[2018-11-07 07:52] misaochan commented on #591
Had a conversation with User:Jim Henderson at https://commons.wikimedia.org/wiki/Commons_talk:Mobile_app#Wish_list , and a concern of his (that I agree with) is that the map frequently auto-zooms out to display a, unusable dense cluster of pins, which requires the user to keep zooming back in, especially if they are switching between apps.

When we implement this feature, we should ensure that we

[2018-11-07 08:39] konohakesh commented on #1984
@misaochan Thanks for sharing the insights.

[2018-11-07 08:46] debpedrano commented on #868
@misaochan I am still a beginner, I only do logo(s). hoping soon I can do animation and ui design.

[2018-11-07 10:03] nicolas-raoul commented on #868
@debpedrano It is not logos, but you might be interested in this project: https://github.com/nicolas-raoul/Icons-for-Wikidata :-)

[2018-11-07 16:29] nicolas-raoul commented on #591
This problem happens as soon as the Nearby screen appears, before even zooming or moving the map, right?
The present issue is only applicable after that.
I believe the implementation of one does not interfere with the other.

[2018-11-08 12:43] A-Hassan-M commented on #1882
sorry guys i have some problems with my laptop and i can't even run the project :''''D so anyone is free to take it.

[2018-11-08 16:16] domdomegg opened #1985 "Update libraries used in README"
**Summary:**

Current issues
- Broken links e.g. RSS-parser, JSoup
- Libraries listed that we don't use anymore (e.g. [Picasso](https://github.com/commons-app/apps-android-commons/commit/2884bd934ab7320ba0918fda937a6a817191e618), [JSoup](https://github.com/commons-app/apps-android-commons/commit/86e849683aeade551af1e71846d704b0955aebbc), [RSS-Parser](https://github.com/commons-app/apps-android-com

[2018-11-08 17:35] HectorRoblesWolf commented on #1981
Can I work on this issue?

[2018-11-08 17:39] domdomegg commented on #1981
@HectorRoblesWolf Please do :)

[2018-11-09 05:07] sivaraam commented on #868
I glad to inform people here that WMF legal is fine with [icon that has been suggested](https://github.com/commons-app/apps-android-commons/issues/868#issuecomment-414520069) (the first one)! They're also fine with making that icon adaptive as long as only the background shape changes.

[2018-11-09 07:46] misaochan commented on #868
Yay! @sdabhi23 Please feel free to submit your PR with the first icon. :)

[2018-11-09 08:05] sdabhi23 commented on #868
@misaochan as there are new year celebrations going on here (in India), will it be ok if I do it after a couple of days?

[2018-11-09 08:33] misaochan commented on #591
@nicolas-raoul Good point. I will create an issue.

[2018-11-09 08:38] misaochan opened #1987 "Start Nearby map zoomed in"
I had a conversation with User:Jim Henderson at https://commons.wikimedia.org/wiki/Commons_talk:Mobile_app#Wish_list , and a concern of his (that I agree with) is that the map frequently auto-zooms out to display an unusable dense cluster of pins, which requires the user to keep zooming back in.

I think that whenever the user starts Nearby, the map should be zoomed in to a reasonable distance (pe

[2018-11-09 08:48] sdabhi23 commented on #868
Yeah. Thanks :D

[2018-11-09 10:22] domdomegg commented on #1987
Possibly also rather than just have a fixed scale factor it could depend on pin density i.e.. start more zoomed in if lots of pins on screen - although this could be over-complicating it.

[2018-11-09 10:25] domdomegg opened #1989 "Dependencies in build.gradle are messy"
**Summary:**

`app/build.gradle` is messy, with unregular line spacing and similar libraries not grouped together. It would be clearer if it was reorganized in some sensible way.

**Would you like to work on the issue?**

Yes, am actively working on this.

[2018-11-09 10:28] domdomegg opened #1990 "Mediawiki API gradle dependency not used"
**Summary:**

Mediawiki API in [`app/build.grade`](https://github.com/commons-app/apps-android-commons/blob/72e7439b815185a861dfe6f29ead1474378d6ef2/app/build.gradle#L16) is unused and can be removed, as we re-implemented all the functionality in [`java/mwapi`](https://github.com/commons-app/apps-android-commons/tree/72e7439b815185a861dfe6f29ead1474378d6ef2/app/src/main/java/fr/free/nrw/commons/mw

[2018-11-09 14:29] neslihanturan commented on #868
If we have some volunteer designers, I think nearby descriptor images can be a good point to start.
![image](https://user-images.githubusercontent.com/3127881/48265313-42d20c00-e43d-11e8-922c-e15bea793852.png)

I like question mark but, when it comes to other icons, I think they don't match with our app style. Something similar to designs in achivements activity would be nice:
![image](https://use

[2018-11-09 19:43] #1975 closed

[2018-11-09 22:02] HectorRoblesWolf commented on #1981
It seems like the entire row it's a link right now. Please correct me if I'm wrong

[2018-11-09 22:39] domdomegg commented on #1981
@HectorRoblesWolf The entire row is a link apart from the "show more/less", however the middle bit doesn't affect the animation e.g. the slight darkening on tap (see #1980)

[2018-11-09 22:54] HectorRoblesWolf commented on #1981
Thanks @domdomegg got it, I'll work on that

[2018-11-10 05:33] #1990 closed

[2018-11-10 10:13] ondro2208 commented on #1013
I am little bit concern about which date should be changed. As you can see there is more than one place where date is used. Could someone tells me exactly which date should be changed?
![topofpage](https://user-images.githubusercontent.com/22798209/48300217-add12080-e4d9-11e8-8aab-09cdc018200f.png)
![downofpage](https://user-images.githubusercontent.com/22798209/48300220-b295d480-e4d9-11e8-8dfd-04

[2018-11-10 14:31] NitinKumar26 commented on #1480
can i work on this?

[2018-11-10 15:14] misaochan opened #1993 "Allow dynamic loading of contributions, without number limit"
There was a request on our mailing list:

While there are bandwidth and memory concerns with downloading large numbers of images, I personally think if the user decides they want to, we should allow it (however the default should remain the same as currently). Currently the max you can set in Settings is 500. Would this be a good idea?

[2018-11-10 15:17] neslihanturan commented on #1480
Hi @NitinKumar26 , thanks for your interest. Since we refactor nearby activity to nearby fragment on 2.9-release branch, this change may not be required anymore.

[2018-11-10 16:32] ashishkumar468 commented on #1013
@maskaravivek and I have already added a fix for the same, and the PR will soon be merged in master. I would suggest to wait for a few days before taking up this issue, master may already have the fix for the same

[2018-11-10 16:46] NitinKumar26 commented on #1480
Thank you for your response, Sir. Can you please guide me to open issues so
that I can work  on them as soon as possible.
Nitin Kumar

On Sat, Nov 10, 2018 at 8:47 PM neslihanturan <notifications@github.com>
wrote:

[2018-11-11 07:39] #1985 closed

[2018-11-11 17:30] sdabhi23 commented on #868
Hey is there a svg available for the logo for the beta  version? Or even a png would work!

[2018-11-11 18:47] sdabhi23 commented on #868
I would like to suggest using [this logo](https://commons.wikimedia.org/wiki/File:Commons-Beta-logo.svg) for the beta version.

![beta](https://upload.wikimedia.org/wikipedia/commons/thumb/0/0d/Commons-Beta-logo.svg/178px-Commons-Beta-logo.svg.png)

[2018-11-11 19:01] sdabhi23 commented on #1462
I would like to point out the you can import articles directly from wordpress to medium very easily. You can go to `stories > import story > enter the link to your wordpress article` and medium will import it for you along with all the images. This can help save a lot of duplication effort.

I have done that with my blog, haven't been able to come up with an automated solution for it though.

[2018-11-12 02:00] nicolas-raoul commented on #1993
I think the ideal solution would be to implement My Uploads like it is done in Explore:

1. Load N images
2. When the scrolling user comes close to the end of these N, load N more. Etc.

[2018-11-12 08:42] misaochan commented on #868
Ah, we actually have a logo for the beta version! Could you please take a look in the /res/ folder for it? I personally like your new logo (very ingenious, by the way ;)), but that would require us to ask permission from Legal all over again. Whereas if you use the existing beta logo and just modify the background similar to what you did for the Commons logo, we should be fine.

[2018-11-12 08:45] misaochan commented on #1993
Agreed. Will change the title accordingly.

[2018-11-12 13:26] neslihanturan opened #1996 "Mem leaks on 2.9-release"
**Summary:**
There are some mem leaks on 2.9-release. I solved some of them but couldn't find the reason for these.
**Steps to reproduce:**
- Go nearby tab
- Click one of nearby markers
- Click to bottom sheet and expand it
- Go contrib tab
- Click notification icon, change activity to notifications activity
- Click back button, and come back to main activity. You should see the leak.

**Device an

[2018-11-12 17:06] Aktron opened #1997 "Upload fails every time (2.7.1 on Android 7.0)"
- Problem: The app does not want to upload files.
- More exactly: When I select a file from gallery, add file name, description and category the upload process starts and then fails. The only result it shows is "cannot upload a file". Uploading a file directly from a camera was not tested.
- Screenshots: http://tinypic.com/r/x52t7p/9
- App version: 2. 7. 1.
- Android version: 7.0
- Phone model: AG

[2018-11-12 17:49] misaochan commented on #1997
Hi @Aktron ,

This should be fixed in the latest version (v2.8.5 in Play Store production). Could you please update to that version, log in again, and see if it works for you?

Thanks!

[2018-11-12 19:06] HectorRoblesWolf commented on #1981
Done, here is the PR https://github.com/commons-app/apps-android-commons/pull/1998

[2018-11-13 07:11] betabear26 commented on #171
There are many errors which needs further understanding of data flow. Will continue fixing it as I contribute more here. Raised PR #1994 meanwhile with 50 or so fixes.

[2018-11-13 09:29] misaochan commented on #1128
This is almost complete and we will have a brand new upload UI soon. :)

Thank you so much to everyone who contributed to lay down the foundation for @maskaravivek to work on it, especially @psh and @ilgazer . Hugely appreciated!

[2018-11-13 10:31] misaochan commented on #1863
Hi @dbrant ,

In our plans for next year, we would like to prioritize replacing all usages of the deprecated org.mediawiki:api library with Retrofit (plus RxAndroid) for network calls. Is there any news of the standalone network library from the Wikipedia app that you mentioned? I would like to add this task to our 2019 PG proposal, and was wondering if we will be able to use your new library for

[2018-11-13 12:53] neslihanturan commented on #199
I think this issue is quite annonying, my proposed solution is:
- If an upload failed
    - Check if we can still access to file to be uploaded. If we can, then display retry and cancel buttons
    - Do same operation on each time contributions list is loaded.

I think this issue is high priority from now on.

[2018-11-13 14:23] ashishkumar468 opened #1999 "Nearby : swipe to dismiss nearby notification card dismisses even on touches"
**Summary:**

In Nearby Fragment, the swipe to dismiss notification card dismisses itself even on taps

**Steps to reproduce:**
Open commons app from branch 2.9, and try to tap on nearby notification card. It dismisses itself

**System logs:**
NA

**Device and Android version:**
Google Pixel 2, Android 9.

**Commons app version:**
build from 2.9 variant betaDebug

**Would you like to work on the i

[2018-11-13 16:03] misaochan commented on #199
Sounds good. AFAIK retry does not usually work currently though, that would need to be fixed simultaneously.

How resource-intensive would this be?

[2018-11-13 18:04] neslihanturan commented on #199
Yes this also needs to be fixed, but for some cases, retry is not event possible. So we need to cancel it automaticcally with a toast message.

I think we can listen when a new item is added to our db.

[2018-11-14 09:47] #1999 closed

[2018-11-14 10:13] misaochan opened #2001 "New main UI - progress bar in Nearby card view sometimes runs forever."
**Summary:**

Main UI - If we are unable to access the list of Nearby places for whatever reason, the progress bar in the Nearby card view on the main screen keeps going and going. This actually happens fairly frequently for me.

I think there are a few components of this issue:
1. Loading of the nearest place should not carry on indefinitely. If location is unavailable for whatever reason (or, to

[2018-11-14 11:20] neslihanturan commented on #2001
I think best solution before release is setting a timer and putting tab to retry button. I am on it.

[2018-11-14 12:20] neslihanturan opened #2002 "Unable to login on API 19"
**Summary:**

Unable to login on API 19, it says "Unable to login -  network failure". I am able to login from other emulators.

**System logs:**

[code]

**Device and Android version:**
Pixel_API_19 Emulator, Lenovo API 19 real device.

**Commons app version:**
2.9-release and master  / prod debug

**Screen-shots:**
![image](https://user-images.githubusercontent.com/3127881/48482264-47be0380-e821

[2018-11-14 12:43] maskaravivek commented on #2002
@neslihanturan These logs do not look to be useful. Can you get more app logs where the actual API request response can be seen?

[2018-11-14 13:37] neslihanturan commented on #2002
Yeah, I know. Since app does not continue further, this logs are all we can get. Then log cat stops. Do you have any advise to be able to gel more logs.

[2018-11-14 13:53] neslihanturan commented on #2002
![image](https://user-images.githubusercontent.com/3127881/48486774-83f76100-e82d-11e8-9472-7440acb236c7.png)

According to my fast debug, there is an IO exception on login method.

[code]

[2018-11-14 14:38] neslihanturan commented on #2002
Yes, on verbose:
![image](https://user-images.githubusercontent.com/3127881/48489399-071bb580-e834-11e8-9835-3cfb13743166.png)

Do you see anything wrong on the screenshot?

[2018-11-14 18:10] maskaravivek commented on #2002
@neslihanturan Why does it show "No debuggable processes"? Ideally, it should list `fr.free.nrw.commons`. You are using `prodDebug`, right?

[2018-11-14 18:12] neslihanturan commented on #2002
Yes, prodDebug. When I was taking this screenshot process wasn't working. Here:
![image](https://user-images.githubusercontent.com/3127881/48503020-04c85400-e852-11e8-9099-9780bbaf733b.png)

[2018-11-14 19:48] HectorRoblesWolf commented on #1520
Is someone working on this?

[2018-11-14 20:43] Divyanshu2132 opened #2003 "Add option to delete notification and recent uploads on long press"
**Summary:**

Summarize your issue in one sentence (what goes wrong, what did you expect to happen)

_Before creating an issue, please search the existing issues to see if a similar one has already been created. You can search issues by specific labels (e.g. `label:nearby`) or just by typing keywords into the search filter._

**Steps to reproduce:**

How can we reproduce the issue?
What did you ex

[2018-11-15 03:08] nicolas-raoul commented on #1520
@HectorRoblesWolf No, feel free to implement it and send us a pull request! Should we assign you this task? :-)

[2018-11-15 08:44] mebr1416 commented on #1961
@AhmedAliNaga, good day. How's it going?

[2018-11-15 08:46] mebr1416 commented on #551
@tobias47n9e
@nicolas-raoul
Is this closed?

[2018-11-15 09:03] nicolas-raoul commented on #551
The probable error circle is implemented indeed, thanks for noticing!
Number of satellites is not shown, but I have never felt the need for it, the circle is doing its job greatly in my opinion, so I will close this issue. Anyone please feel free to open a new issue if there are problems with this feature.

[2018-11-15 09:03] #551 closed

[2018-11-15 16:54] HectorRoblesWolf commented on #1520
@nicolas-raoul yes please :-)

[2018-11-15 20:14] HectorRoblesWolf commented on #1520
Done, I just made a PR https://github.com/commons-app/apps-android-commons/pull/2005

[2018-11-16 01:29] dbrant commented on #1863
@misaochan Yes, this library is still very much in the works, and should be available soon to be used by other apps. It would definitely make sense to add it to the proposal.

[2018-11-16 06:53] jidanni opened #2006 "Make it easy to restore the default copyright"
Users finger brushed the copyright selector. Now the user cannot find how to set it back to the default copyright.

[2018-11-16 07:40] JohnKal commented on #1961
If @AhmedAliNaga has stopped working with this issue i would like to work on it.

[2018-11-16 14:06] AhmedAliNaga commented on #1961
I was working on it but had to stop for midterm exams,  but i am done with my exams now so i can work on it. I apologize for the inconvenience.

[2018-11-16 19:52] neslihanturan opened #2008 "New UI bug - visible notification car don media details activity"
**Summary:**

Summarize your issue in one sentence (what goes wrong, what did you expect to happen)

_Before creating an issue, please search the existing issues to see if a similar one has already been created. You can search issues by specific labels (e.g. `label:nearby`) or just by typing keywords into the search filter._

**Steps to reproduce:**

How can we reproduce the issue?
What did you ex

[2018-11-17 19:56] sivaraam opened #2010 "Result of the quiz activity could be improved for smaller screens"
**Summary:**
When the user is shown the result of the quiz activity at the end of taking the quiz, Some parts of the sentence are hidden by the button.

*A side note*: The 2nd picture never showed up in the quiz as a consequence of which I had to quit it in the middle. The progress bar for the second picture went close to the end but the picture never showed up. The mobile network was a little wav

[2018-11-17 20:32] sivaraam opened #2011 "Nearby: confusing message about location permission"
**Summary:**
I use an Android 5.1.1 device. Runtime permissions were introduced only in Android 6. When I use the Nearby feature with Location (not the Location permission for the app, the location (GPS) of the phone) turned off, I get an error stating "GPS is disabled" error which is fine. If I give "Cancel" instead of "Enable GPS", I'm shown a error message stating "Nearby places" can't be displ

[2018-11-17 20:54] sivaraam opened #2012 "Improve viewing images in the app"
**Summary:**
Now that the 'Explore' feature has become mainstream. I think the app is not just an uploading app anymore (Off-topic: wondering why the play store app description doesn't mention anything about 'Explore :thinking:. Is 'Explore' just in beta?)

Unfortunately viewing an image doesn't seem to be that good currently. Issues:
* Only part of the image is shown when the we tap on an image
*

[2018-11-18 11:14] neslihanturan commented on #2012
Your uploads are very good though @sivaraam :) I think this request is quite meaningful since we have Explore feature now. Currently we only have thumbnails of images, thats't why resolution is not good on Media Details Activity. My suggestion is having 2 options according to internet connection (remember #746 ):
- If save data mode is active, then user again should see thumbnail, but should be ab

[2018-11-18 16:02] sivaraam commented on #2012
Those pictures weren't uploaded by me. :-) They were pics uploaded by other commons users. Those were some pics I got from the [POTY 2017](https://commons.m.wikimedia.org/wiki/Commons:Picture_of_the_Year#2017) candidates. I just used them to test uploading in the Commons app for a bug. I've nominated them for deletion, since. They seem to have become redirects to the original files.

Some thought

[2018-11-19 05:58] ashishkumar468 commented on #1987
@misaochan   Just to make sure all of us are on the same page. The following changes needs to be done
* Nearby is by default zoomed out to a level making a lot of pins cluster together and we need to make sure that when nearby is loaded initially, it should be zoomed in to a possible radius of 1 km.

[2018-11-19 08:47] misaochan opened #2013 "Upload failures after v2.8"
It seems that we are still encountering upload failures after 2.8, albeit with much lower frequency. I had them today when testing #1968 (however, I created this issue because I don't think it is relevant to that PR, which doesn't alter the auth flow), and had them once on my real device recently.

Logs below from API 27 Nexus S emulator. Interestingly, after seeing this failure, I checked Achieve

[2018-11-19 09:09] misaochan opened #2014 "After re-logging, notifications bell icon is empty"
**Summary:**

After logging out and in again, the main UI took a long time to load, and the notifications bell icon was replaced by a white square.

**System logs:**

[code]

**Device and Android version:**

Nexus S emulator running API 27 and default RAM etc

**Commons app version:**

2.9-release branch

**Screen-shots:**

![screenshot_1542617723](https://user-images.githubusercontent.com/3611199

[2018-11-19 09:14] misaochan commented on #1556
For this task, additionally, I think if a badtoken error is obtained, we can suggest to the user that they try logging out and in again. That seems to always work, and may help users who are stuck with failures.

(Of course, this isn't the ideal situation, but it could tide us over until we can overhaul the auth flow)

[2018-11-19 09:32] misaochan commented on #2011
Ah, thanks for spotting this! Indeed the error message needs to be improved. Currently it seems the same dialog is displayed when GPS is off AND when permissions aren't given, which should not be the case.

This is planned for the near future, see #591 . :)

[2018-11-19 10:42] misaochan opened #2016 "Allow users to send Thanks for other photos in Explore"
This was inspired by #1963 , but slightly different. AFAIK, the "Thanks" mechanism already exists in Commons. Is there an API that we can use to allow users to send Thanks via the app when browsing other people's images, similar to "Nominate for deletion" for our own images? Since the framework already exists in Commons, there should be no need for server-side implementation, thus making this a po

[2018-11-19 10:46] misaochan opened #2017 "Add option in Explore for users to easily browse images uploaded via our app"
Users can technically already do this, but it is a bit convoluted: Directly from within the app: Tap "Explore", search for "Uploaded with Mobile/Android", tap "Categories", tap "Uploaded with Mobile/Android".

I was wondering if we should make it easier for users to browse the ones uploaded from our app (which could potentially tie into the "patrolling other images uploaded via the app" feature, f

[2018-11-19 11:29] neslihanturan commented on #2016
I think before 2019 hackathon, we can make 2018 hackathon task ready for production first. Since these two tasks were very similar, I don't think "thanking" would b suitable for 2019. It would look like repetition of 2018 hackathon IMO. What do you say @misaochan ?

[2018-11-19 11:30] #725 closed

[2018-11-19 11:30] neslihanturan commented on #2017
Great idea!

[2018-11-19 11:55] nicolas-raoul commented on #2017
Yes good idea!
Adding tabs would make the already tiny search button even less visible, and make the Explore activity less beautiful (our public is photographers or photography enthusiasts, they like beautiful things). Scrolling through images is one of the places where we want to be as close as possible to full-screen.
That being said, I am not sure where we could put a way to access that. Maybe

[2018-11-19 12:45] misaochan commented on #2016
Wasn't the 2018 hackathon task patrolling? I wouldn't mind adding the polishing of the patrol task as an option, I think Vojtech mentioned that they want several task options though so people can choose which task they want. :)

[2018-11-19 13:19] neslihanturan commented on #2016
It was voting, both patrolling and thanking. But it was a separate activity, so it can be a good idea to include this option to explore feature.

[2018-11-19 15:44] neslihanturan commented on #2014
Hi @misaochan , I couldn't reproduce this issue. But I think the problem is background color of the icon is white, since red dot is still there.
Do you reproduce this on other devices too?

[2018-11-19 17:09] misaochan commented on #2016
Oh, okay! So it taps into the Thank system in Commons already? In that case yeah, we can convert this task to tying it up with Explore activity.

[2018-11-19 17:12] misaochan commented on #2014
I've only had it happen once, haha. It is very strange though since I have never noticed this problem before. Why would the bgcolor of the icon turn to white all of a sudden?

[2018-11-19 17:36] neslihanturan commented on #2014
Was it your emulator, maybe a graphical issue? I really have no idea.

[2018-11-19 17:40] misaochan commented on #2014
Hmm. Okay, let's leave this for now, we can come back if real users report problems with it. :)

[2018-11-19 21:15] VojtechDostal commented on #2013
Yep I had some upload failures yesterday.

[2018-11-19 21:38] Divyanshu2132 commented on #2002
@maskaravivek  on api 27 it is also crashing
Here are my log details
2018-11-20 03:01:21.492 1927-1993/? E/PackageManager.DexOptimizer: Well this is awkward; package fr.free.nrw.commons.CommonsApplication had UID -1
    java.lang.Throwable
        at com.android.server.pm.PackageDexOptimizer.performDexOptLI(PackageDexOptimizer.java:149)
        at com.android.server.pm.PackageDexOptimizer.performD

[2018-11-19 21:38] Divyanshu2132 commented on #2002
I would like to work on this issue

[2018-11-20 04:20] maskaravivek commented on #2002
Sure @Divyanshu2132, take it up.

[2018-11-20 09:00] misaochan commented on #2013
@VojtechDostal Logging in and out again works for you, right? As a short-term measure we could add that suggestion to a "Failed upload" toast via #1556 so that other users aren't stuck not knowing what to do.

We will do an overhaul of the authentication flow in the next PG if approved.

[2018-11-20 15:56] #1768 closed

[2018-11-20 20:34] Divyanshu2132 commented on #2002
Are servers under maintenance ? Cause app is crashing as it is unable to fetch values from HTTPClient same is reason for SAXException

[2018-11-21 11:10] misaochan opened #2019 "'i' icon in 2.9-release branch has too wide a range"
**Summary:**

On the 2.9-release branch with the new upload UI, I wanted to remove a word from the end of my description. However, there was no way I could select the end of the sentence because whenever I tapped in an area remotely near the 'i' icon, it would trigger the tooltip instead.

**Steps to reproduce:**

Upload picture, tap near 'i' icon (but not directly on it).

**Device and Android ve

[2018-11-22 03:06] nicolas-raoul opened #2020 "Add custom place to Nearby"
Sometimes I hear about an interesting non-famous place on the local news.
Because it is very local, this place has no Commons picture and of course no Wikidata item.
But still, I would like to have a way to remember it in the future.

Nearby seems like a good place to put such information. I should be able to long-press anywhere on the map and add the new point's label.

There are many ways to imp

[2018-11-22 09:05] Ksaboor commented on #1334
is this issue still open??? I would like to take it :)

[2018-11-22 09:11] nicolas-raoul commented on #1334
@Ksaboor  Yes, thanks! Please test it after refactoring.

[2018-11-23 09:14] Divyanshu2132 commented on #2002
![screenshot_20181123-144103](https://user-images.githubusercontent.com/28994322/48935561-12569b80-ef2e-11e8-96f3-2e8fc4431020.png)
In production it is showing unable to login and when I click on forgot password it shows me this

[2018-11-23 19:37] Ksaboor commented on #1334
@nicolas-raoul
Had some technical difficulties on my end. But I finally got the project open.
For clarity I just want to make sure I'm doing this correctly.

* I am going into the nearby_query.rq and making changes to the variables names
* Making them either all snake_case or camelCase.
* While also going into the Java source code, refactoring them as well, and making all test pass.

I'm guess tha

[2018-11-24 09:00] misaochan commented on #2002
It seems that your IP has been blocked by Commons administrators. :( Unfortunately you would have to request an unblock via the method listed on that page, as we do not control user blocks.

[2018-11-24 09:08] misaochan commented on #1889
Update: I've just completed the on-wiki proposal - https://meta.wikimedia.org/wiki/Grants:Project/Commons_app/Commons_Android_app_v3  :) Would greatly appreciate if anyone could take a read through it, and provide feedback or endorse if you see fit. Also, if you are interested in officially signing up as a volunteer (not necessary in order to contribute), feel free to add yourself to the list of v

[2018-11-24 17:11] cascafico commented on #2013
Logout and login doesn't solve upload failure, which happen say 2 out if 3 attempts.

[2018-11-24 17:16] misaochan commented on #2013
@cascafico Hmm, interesting, so the failures are not constant for you? Are you in beta testing? If you are, could you please go to Settings > Send Logs > enable the permissions. Then restart app > try to upload > tap Send Logs again after you experience a failure?

Thanks!

[2018-11-24 18:01] misaochan commented on #2013
Thanks for the logs. This is very strange, it is a badtoken error as well, but this is the first one I have seen that relogging does not fix.

@maskaravivek Could you please take a look at the logs as well? Thanks.

[2018-11-24 22:48] albendz commented on #1882
I'll pick this up.

[2018-11-25 05:56] Divyanshu2132 commented on #2002
It automatically got unblocked

[2018-11-25 06:08] albendz commented on #1882
Is there a branch this is working on @misaochan so I can compare behavior?

[2018-11-25 06:45] neslihanturan commented on #2002
Probably it was an warning block @Divyanshu2132 . Please make sure you use beta build variant for your tests uploads.
Your build variant window should look like:
![image](https://user-images.githubusercontent.com/3127881/48976322-83b15e00-f096-11e8-93dc-ef02d4a069fe.png)

If you don't see build variant window, _AndroidStudio -> Build -> Select build variant_  should enable that window.

Plus you n

[2018-11-25 10:02] misaochan opened #2023 "Keypad needs to be invisible in final step of upload screen (2.9-release branch)"
**Summary:**

In the 2.9-release branch, when uploading, the keypad always blocks the lower half of the screen in the final step. This is both unnecessary (there is nothing that needs typing in the final step), and bad for user experience (it blocks "Submit", so the user has to press the back button to get out of the keypad in order to submit their upload, and in the worst case scenario they may n

[2018-11-25 18:10] misaochan commented on #2013
Btw, @cascafico , do you have 2FA enabled on your account by any chance?

[2018-11-25 18:26] maskaravivek opened #2026 "Crash on opening media details activity"
**Summary:**

Opening media details activity crashes the app

**Steps to reproduce:**

Click on any uploaded image to open media details.

**System logs:**

[code]

**Device and Android version:**

Nexus 5. API 27.

**Commons app version:**

`2.9-release` branch. Beta variant

**Would you like to work on the issue?**

Preferably not.

[2018-11-25 19:57] cascafico commented on #2013
Il giorno dom 25 nov 2018 alle ore 19:10 Josephine Lim <
notifications@github.com> ha scritto:

[2018-11-26 06:01] Divyanshu2132 commented on #2026
I want to take up this issue

[2018-11-26 06:50] maskaravivek commented on #2026
Sure @Divyanshu2132, take this up. Also, check if this happens just on `beta` variant or also happens on `prod`

[2018-11-26 06:52] Divyanshu2132 commented on #2026
Yes I have checked on beta version also same thing is happening

[2018-11-26 06:53] maskaravivek commented on #2026
Please check on `prod` version as well. I got this issue on `beta` version and I couldn't check `prod`

[2018-11-26 07:20] zhao-gang opened #2027 "Fix missing lost build error"
**Summary:**

Build failed by error message: Failed to find byte code for com/mapzen/android/lost/api/LostApiClient$ConnectionCallbacks

**Steps to reproduce:**

Clone and build this project in Android Studio 3.2.1.
Build failed and error message is: Failed to find byte code for com/mapzen/android/lost/api/LostApiClient$ConnectionCallbacks

**Would you like to work on the issue?**

Yes. A pull req

[2018-11-26 10:34] misaochan opened #2029 "NPE after tapping image in Explore"
**Summary:**

App crashes after tapping an image in Explore to view the media details

**Steps to reproduce:**

Open Explore. Tap on a picture.

**System logs:**

[code]

**Device and Android version:**

Nexus S API 27

**Commons app version:**

2.9-release prodRelease build

**Would you like to work on the issue?**

Pref not

[2018-11-26 10:39] misaochan opened #2030 "When logging in after Skip Login, the usual main activity does not load"
**Summary:**

I logged in after choosing Skip Login in welcome activity. The login actually works (as seen from the logs), but I am not redirected to main activity. Even worse, the nav drawer has not changed. I must tap "Login" again before main activity appears.

**Steps to reproduce:**

Skip login, tap "Login" in nav drawer

**Device and Android version:**

Nexus S API 27

**Commons app version:

[2018-11-26 10:41] misaochan commented on #2029
Actually, no, this seems to happen all the time now (on prodRelease anyway), not just after Skip Login. :/

[2018-11-26 10:47] misaochan opened #2031 "Hotfixes needed for 2.9.1"
- [x] Memory leaks on MainActivity #1996
- [x] Crash on bookmarking an item from Explore #2041
- [ ] After re-logging, notifications bell icon is empty #2014 @neslihanturan
- [ ] App stuck at "receiving shared content" #2033 @ashishkumar468 / @maskaravivek
- [x] 2.9.0: Unable to exit app after going to notifications activity #2044 @misaochan
- [x] Blank Achievements activity for some users #2042
-

[2018-11-26 10:54] misaochan commented on #2026
Works in prod for me on API 27 Nexus S. No harm in fixing it for beta, but not a high priority IMO.

[2018-11-26 11:36] misaochan opened #2032 "Multiple uploads: If one description is empty, all pictures in batch will have no desc"
**Summary:**

I uploaded 2 photos via multiple uploads. One had a desc, one did not. I expected the one with the desc to have a desc saved, but both photos were uploaded without a desc.

**Steps to reproduce:**

Upload 2 photos via 2.9 multiple uploads, 1 with desc and 1 without

**Device and Android version:**

Samsung Galaxy s7 API 26

**Commons app version:**

2.9-release prodRelease build

**W

[2018-11-26 11:41] misaochan opened #2033 "App stuck at "receiving shared content""
**Summary:**

Occasionally, after selecting an image to upload in 2.9-release, I get stuck at the "Receiving shared content" page. I can't find any pattern to when it happens (probably 1 in 10 uploads), and retrying with the same image usually works.

**System logs:**

[code]

**Device and Android version:**

Samsung Galaxy s7 API 26

**Commons app version:**

2.9-release prodRelease

**Would you

[2018-11-26 12:14] misaochan opened #2034 "Tapping the "nearest place" card view on the main screen in 2.9 should bring user to Nearby map with that particular pin selected"
We did not have the time to implement this in #725 , but this would be a pretty useful enhancement. Currently, when the user taps the "nearest place" card view on the main screen, they are just brought to Nearby in general. They should instead be brought to Nearby with that particular pin on the map selected.

You would need to build on the 2.9-release branch.

[2018-11-26 12:23] misaochan opened #2035 "Add "use previous title/desc" option to new upload screen (2.9)"
The new upload process (2.9) is missing the "use previous title/desc" option. We would also need to discuss where in the UI it would fit best, and what sort of UI element to use.

[2018-11-26 18:08] Divyanshu2132 commented on #2026
Sure I will look into it

[2018-11-27 01:12] spelka commented on #2034
@misaochan I can have a look at this, if you like.

[2018-11-27 13:03] misaochan commented on #2034
@spelka Please feel free, thanks!

[2018-11-27 13:51] misaochan commented on #74
Talked to @nicolas-raoul and @dbrant about this - the selfie-or-not library is not currently ready for Android use, but we can use the [FaceDetector API](https://developer.android.com/reference/android/media/FaceDetector) in the Android SDK (not the one with Google Play Services).

[2018-11-27 16:59] misaochan commented on #1854
Hi @Yannf , we just released this bugfix with v2.9 in beta. Could you please let us know if the problem is solved for you?

[2018-11-27 17:00] misaochan commented on #1971
Hi @jidanni , we just released this bugfix with v2.9 in beta. Could you please let us know if the problem is solved for you?

[2018-11-27 17:52] #1987 closed

[2018-11-27 17:52] #2001 closed

[2018-11-27 17:54] maskaravivek opened #2041 "Crash on bookmarking an item from Explore"
**Summary:**

Trying to bookmark an item from Explore > Media details activity crashes the app.

**Steps to reproduce:**

Explore > Media details > Bookmark item

How can we reproduce the issue?
What did you expect the app to do, and what did you see instead?

**System logs:**

[code]

**Device and Android version:**
Nexus emulator. Android 8.1.

**Commons app version:**

2.9.0

**Would you like t

[2018-11-28 05:31] #2029 closed

[2018-11-28 11:19] misaochan opened #2042 "Blank Achievements activity for some users"
**Summary:**

From a user on our google group forum: "Tried to view my achievements, nothing shows and I briefly saw an error message."

**System logs:**

[code]

**Device and Android version:**

Android 8.0.0 on a Samsung galaxy S7 Edge

**Commons app version:**

2.9

**Screen-shots:**

![screenshot_20181127-192821_commons](https://user-images.githubusercontent.com/3611199/49148404-0bc38c00-f353-

[2018-11-28 11:43] maskaravivek opened #2043 "Remove Notifications from hamburger menu"
**Summary:**

Notifications and Nearby options in hamburger menu now feel redundant. After the recent UI overhaul, - we have notification bell icon aptly placed on the home screen.
- we have nearby functionality(map and list) as a tab on home screen.

Do we still need these options in the hamburger menu? If we remove these options, then the menu would look a lot simpler and will also give an optio

[2018-11-28 12:08] misaochan commented on #2043
Is Nearby still in your hamburger menu? It isn't in mine.

I agree with removing notifications from the hamburger menu. I actually feel that we should put Nearby back onto the menu though, since it is a major feature. For instance, if I go to Explore, then I want to go to Nearby... what happens is that usually I end up opening the menu, wondering "where's Nearby?", then realizing I need to go back

[2018-11-28 12:21] #2023 closed

[2018-11-28 13:23] maskaravivek commented on #2043
No its no longer there. Great!

[2018-11-29 02:50] nicolas-raoul commented on #1777
I just got this with 2.9.0

1. Touch "Explore"
2. Following screen appear:

![screenshot_20181129-114435](https://user-images.githubusercontent.com/99590/49195966-75cc4780-f3cc-11e8-862f-b3a54600ea8d.png)

Maybe the network was unstable when I did this (switching from LTE to WiFi), but if it is a network problem then another error message would probably be more appropriate.

[2018-11-29 06:05] sivaraam commented on #2041
I could confirm this too. My device is Galaxy J1 Ace running Android 5.1.1.

[2018-11-29 06:23] sivaraam opened #2044 "2.9.0: Unable to exit app after going to notifications activity"
**Summary:**
I am unable to exit the app using the back button just after I go to the notifications activity. Hitting the back button cycles through the notification and main screen infinitely.

**Steps to reproduce:**
1. Open the app
2. Tap on the notification icon (left end of the top bar)
3. Hit back (should have come to the main screen)
4. Hit back to exit the app
5. Hit back agian

**Observat

[2018-11-29 06:36] sivaraam commented on #2014
I guess you got one :-) I faced this issue too. My device is  Galaxy J1 ace running Android 5.1.1 (stock). I could consistently reproduce this with the following steps:
1. Clear app data for the commons app
1. Open the app
1. Log in
1. Deny the permission for the pop-up

A side note, actually I saw the bell icon for brief period of time after which it got replaced with the white square. Then the w

[2018-11-29 07:15] sivaraam commented on #2033
I faced this issue, too. Specifically, I saw it the first time I tried to upload in v2.9.0. I thought it would never finish but it did after about 30 seconds. That's a long time and might make first time users of the app think it's not useful at all. So, I guess it would be nice to explore the issue and fix it.

Also, I  guess the message could be displayed more prominently in the center rather th

[2018-11-29 09:30] misaochan commented on #2033
Ah, thanks for reporting @sivaraam ! I added it to our list of hotfixes. I do agree that it shouldn't be taking that long, especially when we're not even uploading the picture yet at that stage.

If you could Send Logs the next time it happens for you, that would be fantastic. :)

[2018-11-29 09:32] misaochan commented on #1777
Hi @nicolas-raoul , could you Send Logs please? :)

[2018-11-29 09:33] misaochan commented on #2041
Seems to happen for everyone. Will fix ASAP.

[2018-11-29 13:45] nicolas-raoul opened #2045 "Attempt to invoke virtual method 'an droid.content.res.Resources android.view.View.getResources()' on a null object reference"
**Summary:**

Got a crash when starting the app.

**Steps to reproduce:**

Not easy to reproduce, but second time today.

**System logs:**

[code]

**Device and Android version:**

LineageOS Android 7.1.2

**Commons app version:**

2.9.0 from Play Store

[2018-11-29 14:01] misaochan commented on #1898
We have a suggestion at https://meta.wikimedia.org/wiki/Grants_talk:Project/Commons_app/Commons_Android_app_v3#Selfies

I personally think this could be quite an interesting way of handling selfie detection, although it would still require a bit of maintenance (since the top 20 phones next year won't be the same as the top 20 phones this year). What do you guys think? Please feel free to chime in

[2018-11-29 16:40] misaochan commented on #1558
Now that we have "light" gamification in place (i.e. Achievements), I think it may be worth considering how we can ramp this up a bit. From https://meta.wikimedia.org/wiki/Grants_talk:Project/Commons_app/Commons_Android_app_v3#Nearby_places_that_need_photos , a suggestion that I got was to have some goals (e.g. take a photo of your commute to work) that change every day or every week. We could hav

[2018-11-29 16:49] ashishkumar468 commented on #2030
@misaochan I followed the exact steps, skip login->login, but I could not reproduce the issue

[2018-11-29 17:17] Archiit19 opened #2049 "Multiple dialog are generating on Nearby page when user has explicitly denied location permission to app through system."
**Summary:**
Multiple dialog are generating on Nearby page when user has explicitly denied location permission to app through system.
Expected : If nearby page could not be opened without location permission, we can show one time dialog and show home screen.

**Steps to reproduce:**
1. Open Nearby Places and allow location permission.
2. Go to system and revoke app's location permission.
3. Now wh

[2018-11-29 17:23] misaochan commented on #2030
Do you see the normal main activity after logging in via the nav drawer?

[2018-11-29 18:33] maskaravivek opened #2052 "Nothing happens after granting storage permissions while making gallery uploads"
**Summary:**

Nothing happens after granting storage permissions while making gallery uploads

**Steps to reproduce:**

- Frest install 2.9.0
- Click on gallery fab icon
- grant permissions

Nothing happens. Expected behaviour is that gallery will open

**Device and Android version:**

 API level >= 23

**Commons app version:**

2.9.0

**Would you like to work on the issue?**

Yes

[2018-11-29 19:10] sivaraam commented on #2033
I tried to reproduce this. I guess I'm getting a long delay for new images that I try to upload. I'm not sure but it seems like that to me. Unfortunately I don't have a log that captures one specific upload that took a long time. It might be cluttered with other ones too (that may/may not have taken a long time). I will share if I could capture a log specifically. Let me know if you're ok with the

[2018-11-29 19:19] maskaravivek commented on #2030
I am also not able to reproduce this issue.

Steps:
- Skip login
- Click Login from Nav drawer
- Login
- Main activity opens and nav drawer is updated

[2018-11-29 19:21] maskaravivek commented on #2033
@sivaraam Does the app consistently crash for you for images >=4MB

[2018-11-30 09:08] misaochan commented on #2030
Hmm. If it doesn't happen for anyone else, we can close this. It is unlikely other users will encounter it, we can reopen if they do. :)

[2018-11-30 09:08] #2030 closed

[2018-11-30 09:12] misaochan commented on #2033
Hi @sivaraam , could you use Send Logs to send us the logs immediately after a crash please? The crash reporting system unfortunately needs some work. :/

[2018-11-30 09:20] maskaravivek commented on #2042
I checked by calling the API for this user and it seems there's a lot of data corresponding to this user.

https://tools.wmflabs.org/urbanecmbot/commonsmisc/feedback.py?user=Ainali

The API is taking ~30 secs to respond.

@ashishkumar468 Can you check the timeout for our API calls. Maybe we can increase the API timeout.

@urbanecm Is there any way to cache the responses or reduce the API latency?

[2018-11-30 09:38] sivaraam commented on #2033
The app does crash consistently but the case the scenario is a little different. Actually, I stated that the app crashed when I tried to upload images greater than 4MB because it crashed repeatedly when I tried to upload two images whose sizes were around 4MB and 14MB. Those images were to downloaded from commons. I also tried to download images from the web and tried to see when the app crashed.

[2018-11-30 09:40] urbanecm commented on #2042
I'll have a look on optimalizing the queries.

[2018-11-30 10:33] misaochan commented on #2033
Strange, normally it is a zip file and it is always automatically attached to the email for me. @maskaravivek any idea why he's only getting one of the files?

[2018-11-30 12:21] sivaraam commented on #2033
FWIW, I use [K-9 mail](https://k9mail.github.io/) as my email client.

[2018-11-30 12:45] sivaraam commented on #2033
BTW, I've forgot to mention that there were several files in the `logs/prod` folder. I moved the existing folder. Then opened the app to reproduce the crash and attached the only file that was created after that.

[2018-11-30 13:52] maskaravivek commented on #2042
@urbanecm Have created an issue in the repo about one quick optimization that can be done.

https://github.com/urbanecm/commonsmisc/issues/4

[2018-11-30 16:45] neslihanturan commented on #2027
Hi @zhao-gang , I also use Android Studio 3.2.1, but I don't experience this issue. Does anyone else experienced this issue?

[2018-11-30 19:09] sivaraam commented on #1309
I'm facing this delay for the maps even in v2.9.0. Once it took me around 20 seconds to load the map.

There should at least be some kind of progress indicator. Staring at the blank screen for too long is frustrating.

[2018-11-30 19:12] maskaravivek commented on #1309
Using RxJava would be great here. :)

[2018-11-30 19:24] sivaraam opened #2055 "2.9.0: the 'i' icon in nearby doesn't do anything"
**Summary:**
In 2.9.0, I see that the nearby screen has been brought alongside the Contributions activity as a side bar. I also noted there's an `i` symbol near the title 'Nearby' which I guess would give some information about 'Nearby'. But tapping on it does nothing. It just freezes the app for some time and then nothing happens. See [linked screen cast](https://drive.google.com/open?id=1ilbBJDc

[2018-12-01 09:19] maskaravivek commented on #2042
As part of fixing urbanecm/commonsmisc#4 I have submitted the following PRs.

urbanecm/commonsmisc#5
urbanecm/commonsmisc#6
urbanecm/commonsmisc#7

[2018-12-01 11:58] neslihanturan commented on #2014
Can you please verify that, background of list menu item is also white? You can click nearby tab whenever you see square bell icon.

[2018-12-01 12:07] neslihanturan commented on #2055
Well, it works for my tests:
![image](https://user-images.githubusercontent.com/3127881/49328054-c8e3fd00-f57a-11e8-8aa6-7a876812c9c9.png)

[2018-12-01 12:40] maskaravivek commented on #2055
@neslihanturan Can we use the normal alert dialog instead? All other places in the app uses an alert dialog to show (i) information.

[2018-12-01 12:41] neslihanturan commented on #2055
Sure @maskaravivek :)

[2018-12-01 12:52] sivaraam commented on #746
I would love to have the feature of pausing and resuming the download. I like to have it as I live in a place where the internet connection is not so good. There isn't continuously stable internet connection here. As a consequence of which there's a lot of possibility for uploads getting interpreted in between. So it would be nice to have the ability to pause downloads and resume downloads.

[2018-12-01 13:54] maskaravivek commented on #2043
@misaochan If we all agree to remove Notifications from the hamburger menu, I will add a `beginner-friendly` tag to this task and remove the `discussion` tag.

[2018-12-01 14:09] maskaravivek opened #2058 "Move Nearby query to the backend"
**Summary:**

As of now, the SPARQL query to fetch nearby items needing pictures is part of the commons app codebase(`nearby_query.rq`).

This has several disadvantages.
- any query optimization is tied up with app updates. This, in turn, means that the optimization would be served only to users on the latest app version. This also exposes us to a big risk if something goes wrong with the query. I

[2018-12-01 14:47] ashishkumar468 commented on #2058
Good point @maskaravivek. Totally agree with it .

[2018-12-01 14:57] sivaraam commented on #1871
In case you're interested, I could help with this too. I live in India. Possibly with the help of user groups here, I could try conducting a workshop here. I'm OK if you've planned for a workshop somewhere else, though as I haven't conducted workshops before :-)

Typically, how much audience would you expect to attend the workshop?

[2018-12-01 14:59] sivaraam commented on #1871
Also, let me know if there is a particular place you're trying to target in India.

[2018-12-01 16:03] nicolas-raoul opened #2059 "Show bookmarked nearby locations differently"
I bookmark locations that I shot with my DLSR camera but have not uploaded yet.
If bookmarks were shown differently on the map, it would be very easy to see what locations I have not shot yet.
Everyone uses bookmarks differently, but I believe that everyone would benefit from seeing them differently, for instance as stars, or in a different color.
People who use bookmarks to select places where th

[2018-12-01 16:13] nicolas-raoul opened #2060 "When I tap an item in the list of nearby locations, center the map on it"

[2018-12-02 05:46] sivaraam commented on #746
Also, it would be nice if the app automatically detects a slow internet connection and switches to the limited connection mode without the user having to turn it on. And yes, the user should be allowed to turn it off if he wants to.

[2018-12-02 12:43] AhmedAliNaga commented on #1961
we downloaded and built the project but we don't know which java classes we are supposed to work on and which xml layout to work on.

[2018-12-02 16:10] maskaravivek opened #2061 "Error loading achievements due to SSL handshake error"
As reported by a user.

**Summary:**

Achievements activity doesn't load

**System logs:**
Added from the logs received:

[code]

**Commons app version:**

2.9.0

**Would you like to work on the issue?**

No.

[2018-12-03 07:16] sivaraam opened #2063 "First time flow of nearby notification feature is not good"
## Summary
There seems to be a new feature in v2.9.0. It's titled the "nearby notifications", I guess. It would be a nice feature to have but the way in which I had to discover it as a first time user was not nice. The first time user flow could be improved a lot.

Let me describe how it was for me.

1. First of all, when I open the app after upgrading to v2.9.0 a weird permission request pops-up

[2018-12-03 07:43] nicolas-raoul opened #2064 "Bookmarking a location sometimes does not work"
**Summary:**

Yesterday I was trying to bookmark a location, but tapping would not make the star full, actually it is like it had no effect, I tapped many times with no apparent reaction.

Unfortunately I have not been able to reproduce the problem.

**Commons app version:**

2.9.0

[2018-12-03 08:04] nicolas-raoul commented on #2058
While I agree it would reduce complexity on the app side, there are also demerits:
- The complexity would just get moved to the server side.
- It adds a point of failure.
- It requires us to make sure that 24 hours a day we have someone awake with credentials to the server and who can fix it quickly.
- It is another non-standard API to create and maintain.
- It makes it impossible to refactor vari

[2018-12-03 08:06] neslihanturan commented on #2063
Hi @sivaraam , thanks for your feedback about workflow, I think we can have more of this kind of first time experience issues.

Promoting new feature first is a good idea indeed.

Maybe you denied permission consciously but for some user it is a reflex to deny location permissions. Thus, I think we can continue to display our current informative message and add they can reenable them from settings

[2018-12-03 09:09] misaochan commented on #2033
I just had this issue (progress bar loading forever, not the crash) happen to me again. It seems that it happens after a permission request and approval (API 26 Samsung Galaxy S7). The upload screen literally NEVER loads, I left it on for 2 min. Logs below.

[code]

[2018-12-03 09:12] maskaravivek commented on #2064
@nicolas-raoul Can you share your app logs?

[2018-12-03 09:34] misaochan commented on #746
Thanks for the feedback @sivaraam , happy to hear that the feature will be useful for you. :)

I am not so sure about automatically detecting a slow internet connection - what would we define as "slow"? What if the user doesn't actually want to turn on limited connectivity, but stubbornly wants to browse pictures even if his home connection is slow? He may be annoyed at having to keep turning it o

[2018-12-03 09:38] misaochan commented on #1871
Fantastic, @sivaraam , thanks for offering. :) India would be great for a workshop. I don't have a particular part of India in mind, what would you (and the other folks who live in India) recommend?

For audience, I think we probably shouldn't target more than 20-30 per workshop. You might not be able to get around quickly enough to help everyone if the group was too large. Of course, it would dep

[2018-12-03 09:41] misaochan commented on #2043
I'm good with removing Notifications from hamburger. @neslihanturan what do you think?

I would like to have a discussion about reinstating Nearby onto the hamburger menu though, as per my reasons above. :)

[2018-12-03 09:55] misaochan commented on #2061
Does it never load for that user, or did this only happen once?

[2018-12-03 09:56] maskaravivek commented on #2061
The logs sent by the user had 3 instances of this error. And I didn't see any success logs either.

Username: Jompol0000

[2018-12-03 09:57] maskaravivek commented on #2043
Sure, if @neslihanturan we can create another task just for the Notifications and continue the discussion for nearby here. :)

[2018-12-03 10:41] sivaraam commented on #746
I'm not sure about the feature too but just some random thoughts.

Some time period within which you expect the response to have come but it hasn't?

Yeah, some features sometimes turn out to have bad consequences for a few people. I guess we could play safe by not trying to detect slow networks for the session (until app is killed) if the user turns off when we detect slow network. Also, making i

[2018-12-03 10:45] sivaraam commented on #1871
Just thinking out loud, may be the people in the villages?

[2018-12-03 18:20] neslihanturan opened #2065 "Achievements activity crashes on API 19"
**Summary:**
Achievements activity crashes for API <=19 , can be related with #1930

**Steps to reproduce:**
Click your username
**System logs:**

[code]

**Device and Android version:**

API 19 or lover

[2018-12-03 18:27] neslihanturan opened #2066 "Increase timeout for achievements"
**Summary:**

As I noted under this PR #2056, for our user Ainali, who reported this issue, 30 seconds wasn't enough on first trial. So we may need to increase it to maybe 40?

**Steps to reproduce:**
`  private void setAchievements() {`
`       progressBar.setVisibility(View.VISIBLE);`
`       if (checkAccount()) {`
`           compositeDisposable.add(mediaWikiApi`
`                   .getAchieve

[2018-12-03 18:34] neslihanturan commented on #2043
I also agree with removing notifications from menu.

When it comes to nearby, I think we can add a faciliter link to explore which will redirect us to nearby tab on main activity when people click on. I think nearby from main activity and nerby from nearby activity would be confusing and redundant. But definitely we need to put some links.

[2018-12-03 18:52] #1520 closed

[2018-12-03 22:03] spelka commented on #2034
@misaochan I wanted to give you an update since it's been a week. I have committed a solution to my own fork, but while testing this weekend, I have discovered a bug which causes the following effect to occur on the GUI:

![image](https://user-images.githubusercontent.com/7435012/49404274-dbd60900-f703-11e8-9420-46de06e7f018.png)

This duplication effect occurs when I get report of a memory leak i

[2018-12-04 00:09] nicolas-raoul opened #2067 "Show live activity"
From http://www.opensym.org/wp-content/uploads/2018/07/OpenSym2018_paper_30.pdf :

identification with that community and, accordingly,
continued membership and levels of interaction. For
instance, Dabbish et al. [11] found that by presenting
members of an online gaming forum with a running list of
participants in that game (e.g., showing individual players
entering, playing, and leaving a game),

[2018-12-04 00:29] nicolas-raoul opened #2068 "Allow users to rate pictures in their area"
From http://www.opensym.org/wp-content/uploads/2018/07/OpenSym2018_paper_30-1.pdf :

addition to) taking photographs, players could view and rate
the photos of other players in the same area. These ratings
could potentially then be aggregated and presented on the
Talk pages for the corresponding article, providing both
additional resources as well as augmenting commentary for
the original authors

[2018-12-04 02:49] spelka commented on #2034
I made a pull request, but I had a thought afterwards: currently when the nearest marker is loaded, only the info window corresponding to the marker is displayed. In contrast, when you select the item by tapping on it, an information panel slides up from the bottom in addition to the info window being displayed. So they are displaying differently.

Was the intent of this enhancement to highlight t

[2018-12-04 05:05] maskaravivek commented on #2066
IMO, we can set the timeout to 60 seconds. As a future enhancement, we can show a more verbose loading indicator so that the user doesn't get impatient.

[2018-12-04 05:08] maskaravivek commented on #2034
IMO, it would be great if we could bring up the bottom panel too. What do others think?

[2018-12-04 06:59] ashishkumar468 commented on #2066
Although 60 is a lot, but considering out current scenario, I agree with @maskaravivek considering the worst cases

[2018-12-04 07:13] maskaravivek commented on #2066
Yes, with 60 seconds it is up to the user to wait or not. Also, we know of instances where the API is actually taking more than 30 secs.

[2018-12-04 07:17] ashishkumar468 commented on #2066
I will go ahead and add a patch for the same

[2018-12-04 09:31] misaochan commented on #2066
Sounds good to me.

[2018-12-04 09:33] misaochan commented on #2034
I agree, best to bring up the bottom panel as well. Thanks for working on this @spelka ! :)

[2018-12-04 09:37] misaochan commented on #2045
It seems the PR was closed prematurely?

[2018-12-04 09:57] maskaravivek commented on #2045
@misaochan Have just reopened the PR.

[2018-12-04 11:22] nicolas-raoul opened #2070 "Notifications for thanks and usages"
When I get a thank, or when a picture of mine gets used somewhere, a counter is increased in "Achievements". That's hard to see, and most people don't go check more than once a month, I guess.

We should show these two events MUCH more prominently, and I think that a notification is the most natural way to do that.

The notification should not be shown if the image usage results from an edit by me

[2018-12-04 11:29] misaochan commented on #2049
@Archiit19 , thanks for reporting this. Please feel free to take up this issue if you'd like!

[2018-12-04 11:31] misaochan opened #2071 "Night mode: Upload flow"
From a user on our forum:

The text in the category selection dialog is very low contrast in dark/night mode; see attached screenshot for an example.

![screenshot_20181129-002850](https://user-images.githubusercontent.com/3611199/49439084-d8c64000-f80b-11e8-99e1-74b12abfe001.png)

[2018-12-04 11:32] misaochan opened #2072 "Fix default license selector in Settings"
From a user on our forum:

[2018-12-04 11:36] nicolas-raoul opened #2073 "Make the user feel that they are helping someone in particular"
notification saying "Jason from Austin, Texas is
doing a project on Bridges of America and needs
an image of Fremont Bridge". If my work is
helping somebody that would motivate me more. -
Man, age 26-30, India

Nearby is probably the easiest place to show this.
We could say something like:

The text would be a bit long, but would probably still fit in the Nearby banner on the main page.
We could s

[2018-12-04 11:39] misaochan commented on #2070
To be fair, in the new v3.0 UI the counter will likely be shown in Home, loaded whenever the user opens the app. :) However, I still think a notification would be great!

[2018-12-04 11:42] nicolas-raoul opened #2074 "Leaderboard"
# Need

From the research paper ["Sharing small pieces of the world": Increasing and broadening participation in Wikimedia Commons](http://www.opensym.org/wp-content/uploads/2018/07/OpenSym2018_paper_30-1.pdf):

“to be the first to do something” and some said that the
“social component” was missing altogether

A leaderboard would motivate many people, it seems.

# Feature description

The score co

[2018-12-04 11:45] nicolas-raoul commented on #2072
I confirm. I always select CC0 but the app sometimes (not always) reverts to the default.

[2018-12-04 11:54] nicolas-raoul commented on #1075
I used to be doubtful about the utility of this, but now I see that feature in a different light. Apparently a sizable portion of people want recognition:

recognition from Wikimedia was important to the
respondent:
Wikimedia clearly giving me credit for the picture
would encourage me. Also, i have been wanting to
learn photography and add some pieces to my
portfolio. I need a push to go out and c

[2018-12-04 12:02] nicolas-raoul opened #2075 "Be immediately understandable to people who don't know Commons"
Several respondents explicitly indicated they did not know
about Commons before taking the survey. For example, one
respondent notes:
I'm already interested - didn't know it
[contributing to Commons] was even possible until
now. -Man, age > 50, UK
While other respondents indirectly revealed their lack of
awareness and/or understanding of Commons by asking
questions such as, “One question would be

[2018-12-04 12:12] nicolas-raoul opened #2076 "Show stream of pictures based on previous thanks"
Like Pinterest, the app should show a infinite gallery of medias based on medias I have thanked in the past.

For instance if I often thank pictures of rabbits and cats, it could show me more pictures of rabbits and cats and also throw a dog or hamster from time to time.

A recommendation engine such as https://mahout.apache.org could be used for that. If server-side, we would have to think about

[2018-12-04 12:37] nicolas-raoul opened #2077 "Category browsing fails when loading from category of my picture"
**Steps to reproduce:**

1. Upload at least 1 image with categories
2. View that image, from the gallery
3. Tap on one of its categories
4. The explore activity starts on this category
5. Unfortunately, it shows an error message "Error occurred while loading categories", and "No images found!" appears where images should be shown. Always.

Despite the category having many images.

When tapping on

[2018-12-04 12:41] nicolas-raoul opened #2078 "Batch upload: Images swap in gallery"
**Steps to reproduce:**

1. Upload Pic1 and Pic2 together
2. After you choose the license, you are back the gallery and the pictures are being uploaded
3. Problem: The gallery thumbnail of Pic1 and Pic2 swap as they progress. I would expect each thumbnail to stay where it is.

**Commons app version:**

2.9.0
**Screen-shots:**

![screenshot_20181204-102522](https://user-images.githubusercontent.com

[2018-12-04 13:05] nicolas-raoul opened #2079 "Multi-upload top widget does not always expand correctly"
**Steps to reproduce:**

1. Upload several images together
2. I the wizard, notice the banner at the top that says "3 Uploads". Press the arrow at its right
3. Sometimes (typically after moving from an image to the other) it does not expand.

**Commons app version:**

2.9.0

**Screen-shots:**
Notice the arrow:
![screenshot_20181204-102311](https://user-images.githubusercontent.com/99590/49443669-5

[2018-12-04 13:09] nicolas-raoul commented on #1550
Still happening in 2.9.0:
![screenshot_20181203-220219](https://user-images.githubusercontent.com/99590/49444003-41fc8200-f811-11e8-8dd5-70e7f3dcc6a8.png)

[2018-12-04 13:29] ashishkumar468 commented on #1550
AFAIK, it was fixed in some previous releases, must have been brought back while introducing RX. Have added a fix, will raise a pr soon.

[2018-12-04 13:42] sivaraam commented on #2075
Seeing the word "Wikipedia" used in the play store description reminds me of a research which has found that in India the awareness of Wikipedia is as less as 25% [[ref 1]](https://meta.wikimedia.org/w/index.php?title=File:New_Readers_research_findings_presentation,_September_2016.pdf&page=62) [[ref 2]](https://meta.wikimedia.org/wiki/New_Readers/Raising_Awareness_in_India#Defining_the_problems).

[2018-12-04 15:57] misaochan commented on #1462
I just created a @commons_android_app account (@commons_app was, strangely, taken....) and used the import feature to get the 2.9 beta post from my wordpress blog.

https://medium.com/@commons_android_app/version-2-9-beta-e16cc5aa5b6

Thoughts? If everything looks OK, I can start looking for how I can get us added to Wikimedia's collection. :)

I am not sure why a hash was added to the end of the

[2018-12-04 16:14] maskaravivek commented on #1462
@misaochan The account looks a bit confusing. The account username is `@commons_android_app` but the profile displays your name. It would be more appropriate to have the display name set to "Commons Android App". :)

https://medium.com/@commons_android_app

Or else, were you trying to create a [publication](https://help.medium.com/hc/en-us/articles/115012095528-About-Medium-publications) instead?

[2018-12-04 16:16] misaochan commented on #1462
I don't think we want a publication, since we want to be included in Wikimedia's publication, right? I don't think we can have a publication in a publication.

I changed the display name. :)

[2018-12-04 16:20] maskaravivek commented on #1462
Yes right, a blog post can exist in just one publication at a time.

I just followed the account. It looks great. :)

[2018-12-04 16:23] misaochan commented on #1462
Thanks @maskaravivek ! I'll contact Ed then. Fingers crossed they'll approve us. :)

[2018-12-04 19:09] maskaravivek commented on #2077
@nicolas-raoul Can you share the link of the image that you uploaded? It would help in debugging the issue.

[2018-12-05 00:17] nicolas-raoul commented on #2077
Yes, that picture.

It happens with many (but not all) of the images I have uploaded recently with the app.
It does not seem to happen with images I uploaded via the web Upload Wizard.

It happens with https://commons.wikimedia.org/wiki/File:Making_home-made_jelly_of_Pseudocydonia_sinensis_(Chinese_quince).jpg but not https://commons.wikimedia.org/wiki/File:Home-made_jelly_of_Pseudocydonia_sinensi

[2018-12-05 07:35] misaochan commented on #1462
Ed got back to me:

I'll take him up on the offer for the Twitter and FB accounts. But it seems like our Medium blog will have to go it alone for now. :)

[2018-12-05 17:06] #591 closed

[2018-12-05 17:09] #1462 closed

[2018-12-05 17:10] misaochan commented on #2071
@Ojonathan great, let us know how you get on. :)

[2018-12-05 17:39] briancollins-92 commented on #2072
Hello, I've started working on this.

[2018-12-06 10:32] misaochan commented on #2072
Wonderful, thanks @briancollins-92 !

[2018-12-06 17:36] misaochan commented on #78
Thanks for the input! :) Unfortunately I still can't find a way for our app to retrieve specific start and end dates from that namespace. :( As I talked about with @VojtechDostal today, perhaps we could stick to the JSON file for now as time is running short for this task. In the future, especially if a more suitable API is built upstream, we can change our approach.

@ashishkumar468 can you pleas

[2018-12-07 02:33] nicolas-raoul commented on #78
I created a new repository, so that we can give reviewer right to people who are not Android developers.
In the future we can even give this repository to another organization, as maintaining this list is not our core mission.

https://github.com/commons-app/campaigns
https://raw.githubusercontent.com/commons-app/campaigns/master/campaigns.json

[2018-12-07 05:19] maskaravivek commented on #78
@nicolas-raoul thanks for creating the repo. :)

I was thinking about the JSON structure and here are a few things that we should consider:

[code]
Am just proposing a suggestion for campaign `config`. We can have it implemented in the client at a later stage. :)

- `showOnlyLiveCampaigns` can help the app decide if only live campaign needs to be shown or all campaigns should be shown. As of now,

[2018-12-07 08:54] ashishkumar468 commented on #78
Thanks @maskaravivek  This seems to cover all the possible cases (at least those I could think of). If all of us agree, I can proceed with this api contract

[2018-12-07 09:00] nicolas-raoul commented on #78
@ashishkumar0207 I updated the JSON file with Vivek's additions, so feel free to make the app download it from GitHub (URL above) and parse it :-)

[2018-12-07 09:01] ashishkumar468 commented on #78
Thanks @nicolas-raoul . I am on it :-)

[2018-12-07 09:08] maskaravivek commented on #78
Oops, I hadn't noticed that the repo already had a JSON. @nicolas-raoul Thanks for adding the updated JSON to the repo.

@ashishkumar468 You might have to update the JSON file to fix the values based on @misaochan's comment. I had just posted a sample. :)

[2018-12-07 09:47] ashishkumar468 commented on #78
Thanks @maskaravivek , will do the same

[2018-12-07 09:54] JeanFred commented on #78
Question: Is there a plan to make the news about the Campaigns country-aware or is that out of scope for this task?

[2018-12-07 09:58] ashishkumar468 commented on #78
@JeanFred Does not seems something difficult to implement, although it would add complexity in maintenance of the json, IMO, can be taken as an improvement, what do others say?

[2018-12-07 10:03] JeanFred commented on #78
Agreed. I think it makes a lot of sense to keep the first iteration simple and not making it country-aware ; but also to keep that in mind for the future as a very desirable improvement: people in Country X might be confused that they get WLM advertised if there is no WLM running in their country. For WLM and WLE it is probably not too bad, because they happen in lots of countries ; but I can see

[2018-12-07 10:07] nicolas-raoul commented on #78
I am in favor of keeping countries for a second phase because it is not trivial:
- Some users do not allow the app to use the GPS.
- As far as I know, there is no open source library to [guess a country from a location](https://softwarerecs.stackexchange.com/questions/28378/tiny-java-library-to-roughly-guess-country-from-latitude-longitude).
- Some competitions might cover Benelux (three countries

[2018-12-07 10:19] nicolas-raoul opened #2081 "After any crash, app opens on notifications activity"
**Steps to reproduce:**

1. Crash the app using one of the current bugs, for instance when trying to upload
2. Tap "Send feedback"
3. Send the feedback
4. The app restarts... on the notifications screen

Is it intended?
The home activity would seem more natural to me, but if there is any special reason then please close this issue :-)

**System logs:**

[code]

**Commons app version:**

2.9.0

[2018-12-07 11:04] nicolas-raoul opened #2082 "Exceptions in logcat when loading nearby"
**Summary:**

No crash, the nearby map loads normally, but exceptions are visible in logcat, not sure whether it is worth worrying or not

**Steps to reproduce:**

1. From home, tap to switch to the nearby tab.

**System logs:**

[code]

**Device and Android version:**

LineageOS 7.1.2

**Commons app version:**

2.9.0

[2018-12-07 11:35] nicolas-raoul opened #2083 "OutOfMemoryError crash when receiving picture"
**Steps to reproduce:**

1. Try to upload a rather big picture (7MB 6000x4000 pixels). It is a normal DLSR size these days. Either via gallery or via "share to", and either from home activity or from nearby.
2. Crash

I can send you such pictures via email if you want.

**System logs:**

[code]

**Device and Android version:**

LineageOS 2.7.1

**Commons app version:**

2.9.0 latest alpha

[2018-12-07 11:58] maskaravivek commented on #78
This might be out of the scope of the task but for the sake of discussion, we can support country-level campaigns with 2 additional attributes.

[code]

- if `global` is true then the campaign would be visible in all countries.
- if `global` is not set as true then the campaign would be visible only in the `country`.

Users who do not allow GPS/location access can be shown only `global` campaigns.

[2018-12-07 17:30] misaochan commented on #1056
Yeah, sorry guys, I was unaware that this required additional permissions that I do not have. :/

I vote for using an external service like Fabric for automated builds. If we go with (1), we would likely require permission from Legal before the account owner can allow us access. The last time I tried to get Neslihan read-only access just for her to read the crash logs, it was denied, so with somet

[2018-12-08 09:29] nicolas-raoul commented on #1056
Can we set up auto-update with an external service, though?

On Sat, Dec 8, 2018, 02:30 Josephine Lim <notifications@github.com wrote:

[2018-12-08 11:04] maskaravivek commented on #1056
Yes. If from auto update you mean build triggers whenever a commit is made to master, then yes it can be done. The gradle task can be triggered on a variety of actions.

Also, if from auto update you mean, can the user have the app automatically updated whenever a new build is available, then too the answer is yes. The Beta Crashlytics can be configured to have the latest build installed over your

[2018-12-08 22:28] millbittencourt opened #2088 "Night mode: Category pages"
**Summary:**

When clicking on a category in night mode, the app does not show the "Parent Categories", there's a blank space instead.

**Steps to reproduce:**

How can we reproduce the issue?
Settings > Night Mode;
Explore > Click any image > Click on a random categorie > Parent Categories

What did you expect the app to do, and what did you see instead?
The names of the parent categories should

[2018-12-08 23:48] albendz commented on #1882
Update: still working on this

[2018-12-08 23:53] millbittencourt opened #2090 "Night mode: Search activity"
**Summary:**

Searching for images or categories in night mode works but the words doesn't show neither the recent researches.

**Steps to reproduce:**

How can we reproduce the issue?
Settings > Set Night Mode on;
Explore > Search Tool > Type anything.

What did you expect the app to do, and what did you see instead?
We should see the words and recent researches while typing.

**Device and Androi

[2018-12-09 05:59] vanshikaarora commented on #2090
Hey!
I have started working upon this issue.

[2018-12-09 06:33] vanshikaarora commented on #2088
Hey!!
Have you made any changes to your code. My app crashes while trying to open this activity. It gives null pointer exception.

java.lang.NullPointerException: Attempt to invoke virtual method 'android.support.v4.app.FragmentActivity android.support.v4.app.Fragment.getActivity()' on a null object reference
        at fr.free.nrw.commons.media.MediaDetailPagerFragment$MediaDetailAdapter.getItem(

[2018-12-09 08:42] Szymon20000 opened #2093 "Problem with installing app on old android(6.0.1)"
**Summary:**

Recently I tried to install app on my phone. However, I came across the following error:
```Error:FAILURE: Build failed with an exception. * What went wrong: Execution failed for task ':app:transformClassesWithInstantRunForBetaDebug'. > com.android.build.api.transform.TransformException: java.lang.RuntimeException: java.lang.RuntimeException: java.io.IOException: Failed to find byte

[2018-12-09 09:03] Szymon20000 opened #2094 "Cannot sign up on beta version"
Probably the problem is with server.
I tried to go to the address from buildConfig on my computer:
```public static final String SIGNUP_LANDING_URL = "https://commons.m.wikimedia.beta.wmflabs.org/w/index.php?title=Special:CreateAccount&returnto=Main+Page&returntoquery=welcome%3Dyes";``` and there was nothing but white screen.

[2018-12-09 15:05] Szymon20000 commented on #2094
How can I sign up for the beta version of the app? I just want to contribute, but I need an account.

[2018-12-09 16:47] pereiraJr commented on #2090
#2095

[2018-12-10 03:38] nicolas-raoul commented on #1056
I meant the second. Play Store updates apps in the background, and all I see is a notification such as "2 applications updated":

![android-n-h1](https://user-images.githubusercontent.com/99590/49709517-18f84900-fc78-11e8-887f-bb6fbcf36214.jpg)

I don't know any other app store that can do this (update apps in the background whenever a new APK is available on the server). The F-Droid client app ha

[2018-12-10 03:44] ashishkumar468 commented on #1056
@nicolas-raoul Any other app would not be able to do that, play store would ban any such app which tries to download apk. The user has to manually do it

[2018-12-10 04:03] nicolas-raoul commented on #1056
Then it is a very severe drawback of not hosting betas on Play Store.
Telling beta testers to install an APK from an external website would probably be counter-productive, as they will forget about it after a few weeks, and maybe most of the beta users will keep using old versions even after a stable version is released.

Or we could implement (in externally-hosted beta APKs only) a version check

[2018-12-10 07:20] maskaravivek commented on #1056
Am I missing something here? Won't we continue hosting beta versions on the play store? I supposed beta versions would be uploaded manually and would be relatively stabler and are tested end to end before pushing to play store.

The automatic releases were supposed to be alpha releases and would happen at each commit on master. This would not be as stable as beta releases.

[Fabric](http://try.cra

[2018-12-10 08:48] maskaravivek commented on #1056
If the production, beta, alpha track all use the same package name and signature, the user will automatically get updated to the latest beta/prod app even if he didn't update using the alpha track.

Our plan is to use the same signature.

[2018-12-10 08:57] nicolas-raoul commented on #1056
As far as I know, Google Play does not update apps that were installed from APK, even if they have the same namespace and signature:
https://stackoverflow.com/a/28135853/226958
I have not tried recently, though, so that would be worth trying (for instance before the next beta release).

[2018-12-10 09:55] nicolas-raoul opened #2096 "Multilingual Captions"
--- https://meta.wikimedia.org/wiki/Structured_Data_on_Commons/Newsletter/Next

My understanding is that it is like a bit like a filename, but multilingual, and limited to 255 characters. More at https://www.mediawiki.org/wiki/Help:File_captions

The underlying idea is that filenames are risky to modify (all links break at each typo correction) and they are not translatable, so when showing a pict

[2018-12-10 10:10] misaochan commented on #1056
**Fabric:**

@nicolas-raoul @maskaravivek Correct me if I'm wrong, but I think that in the case of using Fabric, the user would likely have two different "Commons app"s on their device. One is the test/"alpha" version (not a true Play Store alpha) that is obtained and updated via Fabric. The other is the usual beta/prod version from Play Store. AFAIK both apps can coexist at the same time. (Option

[2018-12-10 10:17] misaochan commented on #2094
I think there might be a bit of confusion here. It looks to me like you are trying to access the "beta" product flavour of the app, which  uses the Commons Beta server, i.e. uploads do not go to the real Commons. On the other hand, the "beta version" of the Commons app can be downloaded from the Play Store by signing up at https://play.google.com/apps/testing/fr.free.nrw.commons .

Are you wanting

[2018-12-10 10:27] nicolas-raoul opened #2097 "Structured Commons "depicts" property"
The Structured Commons "depicts" property might replace Commons' imperfect categories system in the not-so-distant future.

If someone has time on their hands, it would be nice to create a prototype that asks the user to find what her picture depicts.

# Use case

1. I upload this picture:
![1200px-pokemonja8288](https://user-images.githubusercontent.com/99590/49725473-1a913380-fcaf-11e8-8d4b-9117

[2018-12-10 10:31] misaochan commented on #78
Thanks for creating the new repo! I agree that country-specific support would be wonderful, but it would be best to do it as a future enhancement.

Now that we have a rudimentary backend sorted, we need to consider the UI. Do we want this in the nav drawer, or the main screen, or do we want a separate News activity? IMO the news activity would probably be easiest for the time being, and would allo

[2018-12-10 10:33] maskaravivek commented on #1056
@nicolas-raoul The stackoverflow link that you shared has a comment(just below the question). It also states that installing on top of the play store build would be possible if we use the same signing keys.

I also confirmed with a co-worker, that the app from fabric can be installed over the play store build.

If you try this option, you will have to use the same signing keys that @misaochan uses

[2018-12-10 10:36] maskaravivek commented on #1056
@misaochan We can choose to either have a different package like `.alpha` if we want to keep a separate installation for it or else if we want to install it over the prod version then that's also possible.

[2018-12-10 10:42] nicolas-raoul commented on #1056
@misaochan Having two parallel Commons apps is possible only if they use different namespaces, for instance `.alpha` as Vivek mentions. Namespace replacement can be performed by a script as part of the automated build.
When master breaks, often it does not build at all, in which cases an APK is not uploaded, so no impact. As an alpha tester, I would only be bothered enough if the app crashes at st

[2018-12-10 10:46] ashishkumar468 commented on #78
@misaochan  yes, a separate activity which could be opened from the navigation menu

[2018-12-10 10:48] ashishkumar468 commented on #1056
@nicolas-raoul irrespective of the source, if we are able to maintain the signing keys, the play store will prompt the user for an update, if the version has been updated

[2018-12-10 11:04] maskaravivek commented on #1056
@nicolas-raoul Yes, as @ashishkumar468 also mentions, Google play will update the app automatically.

[2018-12-10 11:12] nicolas-raoul commented on #78
At first I thought the most obvious would be to display a red notification. But then I realized that I hate receiving Facebook notifications that are about something not directly related to me (such as a message to me or an event about one of my pictures), so that is probably not a good idea. Showing non-important notifications might lead users to just ignore notifications, and thus not see import

[2018-12-10 16:11] misaochan commented on #1056
Cool, so if we use the same signing keys, the auto-update issue with Fabric should be sorted? In that case, it seems like Fabric would work as long as we can get over the hurdle of where to store the release keys?

[2018-12-10 16:13] misaochan commented on #78
@nicolas-raoul Hmmm. That sounds a little bit complicated to me. ;) If we are going to have it in the main activity, I think it should be OK to just have the campaign news as an additional card underneath the Nearby card? It can stay up for the duration of the campaign as long as it can be swiped to be dismissed, and we remember the user's preference. It does have to be reasonably small in height

[2018-12-10 17:17] Szymon20000 commented on #2094
I want to contribute as a developer. I see that it works properly now. Thanks.

[2018-12-10 18:17] ashishkumar468 commented on #78
@nicolas-raoul So to conclude to what you want
* Apart from showing the campaigns in the notification activity, we show it in the HomeActivity as well, under the contributions tab above the contribution (the visibility of a contribution being based on its age)

[2018-12-10 18:59] maskaravivek commented on #1056
@misaochan I will try to find a solution for storing release keys securely.

[2018-12-11 00:55] nicolas-raoul commented on #1056
There are two separate issues:

1. Alpha testers being stuck with an old version. https://stackoverflow.com/a/28135853/226958 suggests that it is a problem, but the consensus here seems to be that that stackoverflow thread is mistaken.
2. Alpha testers having to update manually at every commit, effectively almost negating the benefits of automatic alpha builds.

So I would still prefer a Google Pl

[2018-12-11 06:17] maskaravivek commented on #1056
Validating (1) is quite easy. So let's not stick with it as an issue. I and @ashishkumar468 have been using Fabric on a daily basis at our workplace and are pretty confident about this particular question.

As far as (2) is concerned, yes people will have to update the app manually. Personally, I would prefer manual updates after reading the changelog instead of discovering that my app all of a su

[2018-12-11 07:16] misaochan commented on #1056
@nicolas-raoul Fair point. Shall I email WMF today and CC you? In the meantime, I think @maskaravivek can start work on Fabric, especially the CI integration part that can be reused. It would not be fair to him to make him wait further when he only has 13 days left for the task. :)

[2018-12-11 22:55] spelka commented on #2034
@misaochan @maskaravivek I have added logic to bring up the bottom bar with the location about the nearest marker. Let me know what you think.

[2018-12-12 04:53] maskaravivek commented on #1056
We have some good news. We now have the service account setup on play store and can now make alpha releases automated. :)

Thanks to @dbrant and @misaochan for making this happen.

I am finishing up the app side changes and am also doing the CI setup. I and @misaochan will test the whole flow once everything is setup.

[2018-12-12 08:31] misaochan commented on #2034
Thanks @spelka ! It looks good to me on first glance. We will have to test it first before we merge it, and we are really busy currently, but we'll try to do it ASAP. :)

[2018-12-12 11:08] domdomegg opened #2103 "Skip tutorial button moves with screen in landscape mode"
**Summary:**

#1945 fixes this for portrait mode, but landscape was left out.

**Steps to reproduce:**

How can we reproduce the issue?
1. Use landscape mode
2. Enter tutorial
3. Move between 'pages'

What did you expect the app to do, and what did you see instead?
Expected: Button to not move between page swipes

[2018-12-12 12:05] ShridharGoel opened #2104 "Delete recent searches button remains there even when the list of recent searches is empty"
**Summary:**
The button to delete recent searches should not be there when the list of recent searches is empty.

**Steps to reproduce:**
1. Go to Explore.
2. Click on the search button.
3. Delete recent searches, if any.
4. The delete button will be there even when the list is empty.

**Commons app version:**

2.9.0
Branch: master
Build: betaDebug

**Screenshot:**

![img_20181212_161140](https://

[2018-12-12 17:37] ShridharGoel opened #2107 "Notification text should be white in night mode"
**Summary:**

Currently, the text in notifications in black in colour which is not easily readable. It should have been white.

**Steps to reproduce:**
1. Switch to night mode.
2. Go to Notifications.
3. The text written in notifications is black in colour.

**Commons app version:**

2.9.0
Branch: master
Build: betaDebug

**Screen-shots:**

![screenshot_2018-12-12-22-59-34-987_fr free nrw commons

[2018-12-13 13:04] #2104 closed

[2018-12-13 13:45] domdomegg commented on #1058
Done in #1102

[2018-12-13 13:45] #1058 closed

[2018-12-13 14:39] nicolas-raoul commented on #78
I don't know any ongoing campaign unfortunately, but we can fake it until
before release.

On Thu, Dec 13, 2018, 23:25 Ashish Kumar <notifications@github.com wrote:

[2018-12-13 16:34] misaochan commented on #78
Umm, wouldn't it work if you just changed the date in the emulator?

[2018-12-14 14:34] #1882 closed

[2018-12-14 16:26] domdomegg opened #2117 "Travis Fails with openssl error"
**Summary:**

Travis fails with openssl error:

[code]

Example:

I created #2115 to check whether it was Travis or me, as that build should pass - all I've done is created a useless file which shouldn't have any effect. I have a feeling because of the timing of things and the error message this might be a side effect of @misaochan's #2111?

**System logs:**

https://travis-ci.org/commons-app/apps

[2018-12-14 16:32] misaochan commented on #78
BTW, how do we handle recurring dates? Currently the year is hardcoded in the JSON file. Is there a way for us to specify the date and month, but have it applicable for every year?

[2018-12-14 16:42] misaochan commented on #2117
Seems like master is passing at the moment though? We might need to sort out the PR warnings later. :)

[2018-12-14 16:44] domdomegg commented on #2117
It also might be fixed once #2116 is merged into master.

[2018-12-14 16:46] misaochan commented on #2117
I suspect we would need to change a Travis setting to prevent it from running the keystore decryption on PR checks. There is no need to do that on PRs anyway, we only need it for master builds.

[2018-12-14 16:56] misaochan commented on #78
Reopening as we still need to sort out the recurring dates before we release this. We can just make them 2019 if we have to, and change them every year, but that would really not be ideal.

[2018-12-14 18:11] maskaravivek commented on #2117
Have added the checks suggested by @misaochan in my PR #2116. The build should no longer fail for external PRs.

[2018-12-14 18:23] #1056 closed

[2018-12-14 20:56] maskaravivek commented on #1056
Can someone with Play Store Dev Console access check if an alpha build was pushed? The last master build shows successful so ideally something should have been uploaded and published to Play Store. @nicolas-raoul @misaochan

[2018-12-14 20:56] maskaravivek commented on #2117
This has been fixed.

[2018-12-14 20:56] #2117 closed

[2018-12-15 00:48] nicolas-raoul commented on #78
Hard-coding the next 10 years is probably simpler, and chances are low that
any campaign will keep the same dates for 10 years, I would say.

On Sat, Dec 15, 2018, 01:56 Josephine Lim <notifications@github.com wrote:

[2018-12-15 07:01] ShridharGoel opened #2123 "App crashing on clicking any search result in Explore"
**Summary:**

App crashes on clicking any search result in Explore.

**Steps to reproduce:**

1. Search something in Explore.
2. Click on any search result.
3. The app will crash.

**System logs:**

[code]

**Commons app version:**
`
2.9.0
Branch: master
Build: betaDebug

**GIF:**

![ezgif com-video-to-gif 2](https://user-images.githubusercontent.com/35566748/50040204-2d1bbc00-0065-11e9-88c1-56149

[2018-12-15 15:13] nicolas-raoul commented on #1056
![screenshot from 2018-12-16 00-12-16](https://user-images.githubusercontent.com/99590/50044487-67b64080-00c7-11e9-89d2-a537f3559c58.png)

[2018-12-15 15:47] maskaravivek commented on #1056
Awesome! So automatic releases work perfectly. Every time a commit is pushed to master, a new alpha release would be made automatically. :)

[2018-12-15 15:54] maskaravivek commented on #1056
@nicolas-raoul Can you also verify if multiple alpha releases were made. After I integrated the Gradle play publisher yesterday, one more commit was made to master today. So ideally there should be 2 alpha releases.

@misaochan I suppose we will have to manually append the versionCode when we are making beta releases. After an automatic release, our gradle file is not updated automatically to refl

[2018-12-15 16:09] nicolas-raoul commented on #1056
I see only what the screenshots show. 😓

On Sun, Dec 16, 2018, 00:54 Vivek Maskara <notifications@github.com wrote:

[2018-12-15 18:35] #2094 closed

[2018-12-15 19:24] Szymon20000 opened #2125 "Changing orientation in SearchActivity crashes app"
Device: SM-N910C
Android: 6.0.1

**Would you like to work on the issue?**

Yes

[2018-12-16 00:06] nicolas-raoul commented on #1056
Ah sorry:
![screenshot from 2018-12-16 09-05-29](https://user-images.githubusercontent.com/99590/50048505-d28c6980-0111-11e9-95d0-705b66e2e5cf.png)

[2018-12-16 05:44] maskaravivek commented on #2125
@Szymon20000 Feel free to take up this issue. :)

[2018-12-16 05:45] maskaravivek commented on #1056
@nicolas-raoul Thanks for checking. :)

IMO, as an enhancement, we should also add release notes.

[2018-12-16 05:49] nicolas-raoul commented on #1056
Strangely About still shows 2.9.0 I think I am not using the alpha despite belonging to the mailing list https://groups.google.com/d/forum/commons-alpha
Play Store notified me about an update this morning but tapping the update button did nothing special it seems.
Maybe I have to leave the beta so that alphas start coming?

[2018-12-16 05:53] maskaravivek commented on #1057
From the conversation, I gather that the intent is to have the `beta` APKs easily available for download.

We could have the APKs available in the [releases section on Github](https://github.com/commons-app/apps-android-commons/releases). As of now, our Releases section contains just the `zip` of the source code.

Travis lets you include APKs in your releases.

https://docs.travis-ci.com/user/depl

[2018-12-16 05:57] maskaravivek opened #2126 "Include releases notes while making automated play store alpha releases"
**Summary:**

After #1056, at each commit to master a new alpha release is made automatically. It would be great if we could include automatic release notes with it.

We use `Squash and merge` for merging any PR that means our Github history is pretty clean. We can simply use Github commit message for the `What's new` section.

[2018-12-16 05:58] nicolas-raoul commented on #1057
I made the question title clearer, it is about the flavour which uploads to the test server.

[2018-12-16 06:00] maskaravivek commented on #1057
@nicolas-raoul I didn't misunderstand your question. :)

My suggestion was to modify the travis job and publish the artifacts (both `beta` and `prod` variants) to Releases section.

From `beta` i meant `beta` flavour ie, the flavour which uploads to the test server.

[2018-12-16 06:06] nicolas-raoul commented on #1057
Oh I see nice! :-)
The main target for this was Google Code-In, I was worried that people would upload many bad pictures, but actually it went fine (the competition just ended) with the real server, so in the future we will keep using the real server.
That means that the main target of this feature has disappeared, so no need to spend too much time on this :-)

[2018-12-16 06:07] maskaravivek commented on #1056
@nicolas-raoul It seems that after joining the Google Group, users need to manually [opt in for Alpha](https://support.google.com/googleplay/android-developer/answer/3131213?hl=en). Similar to beta, the play console would have a link that the users can use to opt it.

<img width="781" alt="screen shot 2018-12-16 at 11 35 34 am" src="https://user-images.githubusercontent.com/3069373/50050626-bcd56f

[2018-12-16 06:37] nicolas-raoul commented on #1056
Oh you are right the URL is https://play.google.com/apps/testing/fr.free.nrw.commons
![screenshot from 2018-12-16 15-36-16](https://user-images.githubusercontent.com/99590/50050781-6b3ddc00-0148-11e9-82fd-2f16641d2e01.png)

[2018-12-16 06:54] nicolas-raoul commented on #1056
I am a member of https://groups.google.com/d/forum/commons-alpha and at https://play.google.com/apps/testing/fr.free.nrw.commons I see "*You are a tester*". I uninstalled then reinstalled, and it still got me 2.9.0.
Strangely the Google Play app tells me "*You're a beta tester for this app. Awesome!*" so something is definitely wrong.

[2018-12-16 09:00] misaochan commented on #1056
I switched the alpha testers method to using email lists instead, just to see if that's the problem. I also deactivated the old (unused) alpha thread.

For the long term Google Groups would be ideal (because AFAIK people can join that without me manually adding them), but for now this will help us figure out what the problem is. If anyone wants to help solve this, feel free to post your email and

[2018-12-16 09:04] misaochan commented on #78
@nicolas-raoul Ah, good point. Should we just add 2019 and 2020 to the JSON file now, then?

[2018-12-16 09:06] maskaravivek commented on #2126
If anyone wants to pick this up, this guide might be useful. We have everything in place, and we just need to implement the "Generating release notes on the fly" bit.

https://proandroiddev.com/gradle-play-publisher-43abf77db344

[2018-12-16 11:30] misaochan commented on #1056
I signed myself up for alpha testing and downloaded the app from Play Store. Testing Nearby shows "search this area" when I move the map. This means that I am actually using an automated release from master branch, because that feature #2051 does not exist in the real 2.9.0. :)

So what this means is that:
- It works!!! Yay!!!!
- About shows the wrong version name. Should we fix that?
- Users need

[2018-12-16 12:23] maskaravivek opened #2127 "Automatically increment the version number and commit to master"
**Summary:**

After implementing #1056, our alpha releases have been automated but yet the version name and version code don't update automatically.

This could cause some confusion as users might not realize that they are on the latest version while checking app's About page.

This link might be helpful for fixing the issue: https://medium.com/@IlyaEremin/npm-version-for-gradle-android-9137a7dc27

[2018-12-16 12:42] nicolas-raoul commented on #1056
I also have that "search this area" :-)

[2018-12-16 12:44] domdomegg commented on #2117
Dunno if this is related, if not I'll open a new issue but I can no longer build within Android Studio since [`5b7450`](https://github.com/commons-app/apps-android-commons/commit/5b745075e2a9efdf683b8f4a3bce68e2614ba9d9), with the main error being `No credentials provided`.

[code]

[2018-12-16 12:49] domdomegg commented on #2117
Reason I think it is related is in Travis just above those lines:

[code]

e.g. see line 2247 of [Travis build 3276](https://travis-ci.org/commons-app/apps-android-commons/builds/468332303#L2247)

[2018-12-16 13:09] misaochan commented on #2117
Same here.

[2018-12-16 14:30] Szymon20000 commented on #2125
@maskaravivek I think I fix it.

[2018-12-16 14:54] domdomegg commented on #2093
Duplicate of #1941

[2018-12-16 14:54] #2093 closed

[2018-12-16 14:54] domdomegg commented on #2027
Duplicate of #1941

[2018-12-16 14:54] #2027 closed

[2018-12-16 15:03] sp2710 opened #2131 "Multiple Uploads: All pictures are having same description"
**Summary:**

I uploaded some photos via multiple uploads. Each one having different description. After Uploading all photos have the same description. The description they have is the description of the last photo.

**Steps to reproduce:**

Upload multiple photos via multiple uploads option all having different description.

**Device and Android version:**

Motorola Moto G5 plus API 24

**Commons

[2018-12-16 15:33] domdomegg commented on #2125
Ah okay managed to recreate now. I did not realise you had to type something into the search bar before. Will check #2129 fixes it for me too and merge.

Wanted to check it solved the issue - agreed would make change anyways but didn't want to close this if issue not actually closed :)

Thanks for your work on this! :+1:

[2018-12-16 15:39] Szymon20000 commented on #2125
Probably the issue is still present. There are other things which can force activity to recreate.
Why this activity is not just saving its state?

[2018-12-16 18:16] domdomegg commented on #2125
Some more info. This is API level specific, and cannot be recreated on API level 28. It can be recreated on levels 23 and 25.

Logs on API 23:
[code]

[2018-12-16 18:22] domdomegg opened #2134 "Remove formatting characters from upload_problem strings"
**Summary:**

Remove `\n -` from `upload_problem` strings added in #2099. Will confuse translators and not really part of the string - instead should be added programmatically.

See @Nikerabbit's comment in https://github.com/commons-app/apps-android-commons/commit/718ad3a12c9485ef42b465a05db408bc2393154c#r31693167

[2018-12-16 19:04] domdomegg commented on #2125
Reopening to try to deal with underlying issue

[2018-12-16 19:30] domdomegg commented on #2125
More logs:

[code]

[code]

[code]

[2018-12-16 20:09] domdomegg opened #2136 "SearchActivity tab names are hardcoded"
**Summary:**

`SearchActivity` has the tab names ("MEDIA" and "CATEGORIES") hardcoded. These should be extracted into `strings.xml` with appropriate names so they can be translated.

See lines [96 and 98](https://github.com/commons-app/apps-android-commons/blob/e36a71a584110dc4e325929a0daee94857e10b96/app/src/main/java/fr/free/nrw/commons/explore/SearchActivity.java#L96).

[2018-12-16 21:17] sp2710 commented on #2032
@misaochan  I have made some changes here.
#2132

I think this will solve the concerned issue.

[2018-12-17 00:33] domdomegg commented on #2125
I refactored `SearchActivity` quite a bit but still couldn't figure out why `getContext()` returns null in the fragment methods after recreation.

In case it helps, what currently seems to happen when opening search, typing a query, then rotating:
- `SearchMediaFragment` `A` attached
- *QUERY ENTERED*
- `updateImageList` called on `SearchMediaFragment` `A`, works fine
- *ROTATION*
- `SearchMediaFr

[2018-12-17 00:40] #2134 closed

[2018-12-17 00:54] domdomegg commented on #2123
I think this stems from #1922

https://github.com/commons-app/apps-android-commons/pull/1922/files#diff-0207cfb2164b044932178fb05fe3a752R383

[2018-12-17 01:04] domdomegg commented on #2123
Removing `getParentFragment().` does fix it. I'm not sure why it is used here given `getActivity()` should already go up the chain until it reaches the calling activity or returns null.

Have submitted #2138 but want @neslihanturan to look over as worried I'm missing something. Also might be other places where similar stuff has been done which would be worth fixing.

[2018-12-17 01:16] domdomegg commented on #2066
Fixed in #2080

[2018-12-17 01:16] #2066 closed

[2018-12-17 01:20] domdomegg commented on #2019
Fixed in #2025

[2018-12-17 01:20] #2019 closed

[2018-12-17 03:23] nicolas-raoul opened #2139 ""Upload your first media" message visible when loading my contributions"
![screenshot_20181217-104330](https://user-images.githubusercontent.com/99590/50064779-51f36900-01f6-11e9-98ab-215bd1faeaf5.png)

2.9.0 last alpha

My Internet connection might have been flimsy at that time.

[2018-12-17 03:43] nicolas-raoul opened #2140 "Left swipe on home activity: show nearby?"
With the tabbed contributions/nearby UI, it would seem natural to show nearby when swiping. Like in Snapchat.

Low priority.

[2018-12-17 05:13] chitwad36 opened #2141 "Brown,s Hub Service"
**Summary:**

Summarize your issue in one sentence (what goes wrong, what did you expect to happen)

_Before creating an issue, please search the existing issues to see if a similar one has already been created. You can search issues by specific labels (e.g. `label:nearby`) or just by typing keywords into the search filter._

**Steps to reproduce:**

How can we reproduce the issue?
What did you ex

[2018-12-17 05:36] maskaravivek commented on #2127
@nicolas-raoul Good point! I can add the SHA of the commit in about. But it will then start appearing for all builds and not just alpha releases.

If we want the SHA to be visible just for alpha releases, we will need to create a `alpha` flavor and replicate `prod` configs for this flavor.

Both the things are easily doable. Let me know which approach do you prefer.

cc. @misaochan

[2018-12-17 05:37] #1989 closed

[2018-12-17 05:38] neslihanturan commented on #2140
Thanks Nicolas, it was default. But I intentionally disabled. Because, swiping nearby card view and moving around nearby map uses same gestures. Thus, sometimes tabs changes accidentally.

[2018-12-17 05:47] #2141 closed

[2018-12-17 05:49] maskaravivek commented on #2123
@domdomegg  Can you check whether clicking contributions are affected?

[2018-12-17 06:03] neslihanturan commented on #2123
I wanted to see a detailed NPE, to understand if parent fragment or activity is null. I thought this could guide us better to understand possible future crash reports. But if it is problematic, we can always use get activity. I am not a big fan of it

[2018-12-17 07:17] nicolas-raoul commented on #2127
It would not shock me to have this long version number for everyone.
After all, Windows version number are super long, example:
![winver-5b1ac3df30371300365eab6b](https://user-images.githubusercontent.com/99590/50072030-2634ab00-0217-11e9-9c84-824a3f49d07d.png)

[2018-12-17 07:18] nicolas-raoul commented on #2140
Indeed swipe should not do anything when on the Nearby tab.

[2018-12-17 07:33] neslihanturan commented on #2140
When it comes to contributions fragment, nearby card view and campaigns card view use swipe and hide gestures. Thus, my suggestion is totally disabling it for tab switching.

[2018-12-17 07:58] ashishkumar468 commented on #2140
Agree with @neslihanturan  on this one. Enabling swipe for one of the tabs and not for the other does not seems the best thing to me

[2018-12-17 08:58] nicolas-raoul opened #2142 "Interplanetary nearby"
A majority of our users lives on planet Earth.
So until space travel becomes more common, I suggest not showing other planets' Wikidata items in Nearby.

Items on other planets also use the same Wikidata property, see for instance https://www.wikidata.org/wiki/Q634366

We should accept items that have no P376 (_located on astronomical body_) or that have one set to Earth.

Low priority, as there a

[2018-12-17 09:20] #2123 closed

[2018-12-17 09:57] maskaravivek commented on #2127
Windows has incremental version codes. An increasing number makes it easier for a nontechnical user as well.

Personally, I would prefer the version number in About to match what the play store shows. For alpha builds we can probably show the SHA as well.

[2018-12-17 10:11] nicolas-raoul commented on #2127
Any solution that does not double the number of commits in master is fine, I would say ^_^

[2018-12-17 10:14] domdomegg opened #2144 "Travis failing due to missing R.string.upload_image_problem_blurry"
**Summary:**

Travis failing compiling due to missing `R.string.upload_image_problem_blurry` since `174e58c` by translatewiki.

[code]

[2018-12-17 10:16] neslihanturan commented on #2144
Thanks @domdomegg , I raised a related PR. #2143

[2018-12-17 10:45] domdomegg opened #2145 "Commons help page is not mobile friendly"
**Summary:**

At the end of the tutorial there is a 'More information' link which takes the user to the help pages of the commons site. This landing page has a load of boxes with fixed sizes which are annoying to browse on mobile, not a great experience.

**Steps to reproduce:**

1. Go to https://commons.m.wikimedia.org/wiki/Help:Contents on a mobile device

**Screen-shots:**

![commons m wikimedi

[2018-12-17 10:52] nicolas-raoul commented on #2145
How do you plan to solve this?
A first step could be to explain the problem on the talk page of that article. I am sure the developers thought this was already "mobile enough".
I see two urgent responsive design problems:
- Let the grey area be as narrow as the screen.
- Make the yellow and blue areas go on top of each other rather than always being side-by-side.

[2018-12-17 10:53] nicolas-raoul commented on #2081
Seems fixed.

[2018-12-17 10:53] #2081 closed

[2018-12-17 10:53] #2140 closed

[2018-12-17 11:05] nicolas-raoul opened #2146 "Commons icon"
**Summary:**

Summarize your issue in one sentence (what goes wrong, what did you expect to happen)

_Before creating an issue, please search the existing issues to see if a similar one has already been created. You can search issues by specific labels (e.g. `label:nearby`) or just by typing keywords into the search filter._

**Steps to reproduce:**

How can we reproduce the issue?
What did you ex

[2018-12-17 11:05] nicolas-raoul commented on #2146
oops

[2018-12-17 11:05] #2146 closed

[2018-12-17 11:08] #2136 closed

[2018-12-17 11:09] nicolas-raoul commented on #868
The new icon is very small compared to before:
![screenshot_20181217-200237](https://user-images.githubusercontent.com/99590/50083525-6dcb2f00-0237-11e9-9f1d-3eaba9489319.png)
Would someone mind checking why?
It should be as big as the Alarm Klock (also open source so feel free to have a look at their configuration) icon.

[2018-12-17 11:11] domdomegg commented on #2145
Fixed the grey area as long as the width > 335px.

No idea how to deal with boxes given I don't think we can use media queries. Boring way would probably be simply removing the table layout and have boxes under each other in all scenarios.

Also might be an idea to have the languages be a dropdown or at least have the title at the top rather than on the side:

![screenshot from 2018-12-17 11-08-59

[2018-12-17 11:12] domdomegg commented on #2145
In fact on mobile we can hide the translation box completely given that there's already a translate button in the header.

[2018-12-17 11:20] #2103 closed

[2018-12-17 11:20] domdomegg commented on #2145
I've added a comment on the [talk page](https://commons.wikimedia.org/wiki/Help_talk:Contents). If nothing happens for a week may want to ask for help from the Help Desk or Village Pump.

[2018-12-17 11:43] #1948 closed

[2018-12-17 11:46] domdomegg commented on #1901
Fixed in #1982

[2018-12-17 11:46] #1901 closed

[2018-12-17 12:10] domdomegg opened #2147 "Incorrect contentDescription on ImageViews: no_image_found"
**Summary:**

https://github.com/commons-app/apps-android-commons/blob/c1c178c576475a5008df7e8cafeb6cde6186a3ac/app/src/main/res/layout/item_place.xml#L17
https://github.com/commons-app/apps-android-commons/blob/2884bd934ab7320ba0918fda937a6a817191e618/app/src/main/res/layout/item_notification.xml#L17

`android:contentDescription` is set to `@string/no_image_found`, but this doesn't describe the i

[2018-12-17 12:20] domdomegg commented on #1941
Think it would be better to actually have this as an issue we could work towards fixing rather than just disabling Instant Run.

[2018-12-17 12:50] domdomegg commented on #1941
Currently builds, but as soon as app opened crashes with the following errors:
[code]

[2018-12-17 13:43] sdabhi23 commented on #868
@nicolas-raoul can you share the configuration of you  device (like screen size, android version, screen resolution, etc)? I am not able to reproduce it.

Also keep in mind the fact that alarm klock is a legacy project with ant builds which is no longer being maintained, so it might behave oddly on some devices. The icons for our app were generated automatically by Android Studio from the backgrou

[2018-12-17 13:53] #804 closed

[2018-12-17 14:39] nicolas-raoul commented on #868
LineageOS 7.1.2 on Nexus 5 (1080×1920 pixels)
More icons for comaprison:
![screenshot_20181217-233508](https://user-images.githubusercontent.com/99590/50093652-a7f6f980-0254-11e9-867d-222629c1b6f0.png)

[2018-12-17 14:53] nicolas-raoul opened #2153 "Subcategories / parent categories not loading"
Spinning forever.
Latest alpha

[2018-12-17 15:37] urbanecm commented on #2042
Hi all, I've looked on @maskaravivek 's pull requests and merged some of them. urbanecm/commonsmisc#5 looks to be the last one unmerged, as the suggested query looks to took even more (1 min).

Also, I've reverted urbanecm/commonsmisc#11, because of some issues I didn't spot before merging. See more in the pullrequest itself.

PS: I apologize for not looking into this problem myself, thank you @ma

[2018-12-17 15:55] vanshikaarora opened #2154 "Achievements Activity has no UI for new user"
**Issue in Achievements Activity**
When user has made no contributions to share information about places. Then achievements activity should prepare different UI for such people mentioning there level and also clearly state that the user has made no contributions instead it is noticed that Achievemnts activity has no prepared UI for such a case also it shows a Toast message saying that an error has

[2018-12-17 16:03] domdomegg commented on #2139
Made a little progress in https://github.com/domdomegg/apps-android-commons/commit/8cf13ecc372ce7ae0d6515b6d4e142ef825b3c43 which might help someone to take this up in the future.

Problem is on logging in for the first time `onLoadFinished` is called with a cursor with zero rows (see FIXME on L324 of ContributionsFragment). Therefore once a user logs in and has bad internet they will see the "Wel

[2018-12-17 16:08] domdomegg commented on #2153
Error has a super long log:

[code]