[2018-05-02 09:53] misaochan opened #1483 "java.io.FileNotFoundException: /jacoco.exec (Read-only file system)"
**Summary:**

If I log out and log back in again, opening Nearby will reliably cause this crash for me the first time I do that.

**Add System logs:**

[code]

**Device and Android version:**

Nexus S API 25

 **Commons app version:**

2.7.1 prod debug build

**Would you like to work on the issue?**

Preferably not

[2018-05-02 09:59] misaochan commented on #85
@tanvidadu That mockup looks great to me!

One final note - I think we need to make it clearer to the user what the minimum % of non-reverted images is to progress (since this metric is a bit different from the others). The simplest way I can think to do it is adding the text "(min req: 85%)" after "Images Not Reverted". However, that does look a bit unsightly, so if you can think of a better way

[2018-05-02 10:01] misaochan commented on #1472
Eep, sorry, I tagged the wrong user! That tag should have been @gupta1anubhav . Sorry. :)

[2018-05-02 10:09] gupta1anubhav commented on #1472
@misaochan I have now changed the name of my pr but it still is not automatically referencing

[2018-05-02 10:11] misaochan commented on #1472
You need to change the description, not the title. Change the part that says "Deprecation removed"

[2018-05-02 10:14] gupta1anubhav commented on #1472
Thankyou @misaochan

[2018-05-02 10:24] misaochan opened #1485 "Upload fails often in 2.7"
Report from user on googlegroups
He says "Very often: Upload failed"

And has logs attached. Unfortunately I can't share them here without permission, but anyone who has signed the NDA that allows them to access our private group is welcome to check it there.

There are two issues here:

1. The logs don't provide any meaningful information. It is completely cluttered by system logs, etc. This has

[2018-05-02 10:27] nicolas-raoul commented on #85
# Background information about thanks
All thanks given, by day: https://commons.wikimedia.org/w/index.php?title=Special:Log&limit=500&type=thanks
As you can see, in 6 days, 938 thanks were given (156 thanks per day), to 459 different users.
Unfortunately, most thanks are about discussions rather than for uploads. For instance user Jeff received 11 thanks last week but none for uploads.
So, receivi

[2018-05-02 10:32] pigsonthewing commented on #1481
I'm not clear what you mean by "the details activity"; but the problem is that the image (which was not uploaded by the app) has coordinates and yet the app says "none provided".

[2018-05-02 10:56] nicolas-raoul commented on #1481
Sorry, "details activity" is the screen that shows the details of an image, as seen in your screenshot.

The app gets the location like this:
[code]

It seems that we should check for other templates such as  https://commons.wikimedia.org/wiki/Template:Object_location and possibly others.
Do you know where we can get a list of all possible location templates and their syntax?
Hopefully with Struct

[2018-05-02 11:43] pigsonthewing commented on #1481
Coordinates templates are in https://commons.wikimedia.org/wiki/Category:Geocoding_templates

Note that some image pages have more then one set of coordinates - for example, for a distant object, the location of the object, and of the camera.

[2018-05-02 13:16] misaochan commented on #1485
@nicolas-raoul Ah, interesting. Can you reproduce this reliably? What steps did you use to share the image, was it by going to the gallery, selecting the image, tapping "Share" and then selecting the Commons app? Where were the images stored - SD card, device, google photos etc?

[2018-05-02 14:05] neslihanturan commented on #1485
This seems very interesting. I looked at commit histories of possibly related classes but couldn't recognized a big change. Implement direct uploads for Nearby Map #1060 seems like the biggest change but I don't think it break something on regular upload. What do you think @misaochan , is this possible?

Other than #1060 the reason can be a mistake made when merging or rebasing, or solving a leak.

[2018-05-02 17:30] ujjwalagrawal17 commented on #1482
We can also add Fastlane for automatic deployment of the beta App. (Maybe on successful merge to release branch or master branch)
Link: https://docs.fastlane.tools/getting-started/android/beta-deployment/

[2018-05-02 19:26] maskaravivek commented on #85
The mockup looks great @tanvidadu.

IMO the (i) button at the top could have information about the requirements to get to the next level. If we wish to make it more visible then maybe we could have a little (?) in front of the tags for eg. Images not reverted (?). The (?) could be a link
- that opens up a dialog showing more information
or
- expands and shows a subtext explaining how to get to 100

[2018-05-02 19:29] maskaravivek commented on #1485
@misaochan We could `grep` through his logs and check the relevant errors. Can you point me to the user(maybe on our team chat) whose logs needs to be checked?

[2018-05-02 19:32] ujjwalagrawal17 opened #1487 "Add hideKeyboard() in ViewUtils.java"
**Summary:**
Add methods like hideKeyboard in ViewUtil.java to minimize and reuse the code in the app.

**Would you like to work on the issue?**
Yes.

[2018-05-02 21:03] maskaravivek commented on #1487
Feel free to take up this refactoring. It would be a good thing to do (Y)

[2018-05-02 21:17] #1487 closed

[2018-05-03 07:31] tanvidadu commented on #85
Thanks for feedback :)
Thanks @maskaravivek ! Its a great idea and solves the problem addressed by @misaochan above.  I will incorporate it the mock-ups .
Thanks @nicolas-raoul  for giving me an insight on how the parameters work :)

[2018-05-03 07:39] misaochan commented on #1482
Fastlane looks really interesting, thanks @ujjwalagrawal17 ! I think it would be more relevant to the discussion at #1056 though.

[2018-05-03 07:39] misaochan commented on #1056
Reposting from @ujjwalagrawal17

[2018-05-03 08:03] tanvidadu commented on #1485
To filter out logcats https://stackoverflow.com/questions/17448912/using-grep-command-to-filter-logcat-in-android?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa this might help.

[2018-05-03 09:25] misaochan opened #1489 "Modify the "Send Logs" feature"
The "send logs" feature in its current state (2.7.1) is not very useful. As mentioned at #1485 , there are two issues with it:

1. The buffer size seems to be very small, we get relatively few lines of logs compared to what Android Studio etc can store. We likely need to increase this.
2. We are getting a lot of unrelated logs from system etc. We need to filter our app's logs out if possible. @tan

[2018-05-03 10:59] maskaravivek commented on #1489
I just came across https://github.com/hypertrack/hyperlog-android

Has anyone used it or have an opinion on it. It looks pretty cool and easy to setup.

[2018-05-03 13:13] maskaravivek commented on #252
Guys am stuck at making the wiki data edit from the app. Am able to make the edit using the API sandbox:
https://www.wikidata.org/wiki/Special:ApiSandbox#action=wbcreateclaim&format=json&entity=Q13406268&snaktype=value&property=P18&value=%22Ada%20lovelace.jpg%22&token=%2B%5C

The above works perfectly and I am able to see the P18 property added to the entity as expected.
https://www.wikidata.org/w

[2018-05-03 15:40] misaochan commented on #252
@VojtechDostal That would be wonderful if possible, thanks! :)

[2018-05-03 16:01] #1399 closed

[2018-05-03 16:01] #1395 closed

[2018-05-03 16:12] misaochan commented on #1065
Has this been solved?

[2018-05-03 16:16] misaochan commented on #849
Is this similar to #618 ?

[2018-05-03 16:16] 97balakrishnan commented on #1270
Yeah .. think so @neslihanturan @misaochan

[2018-05-03 16:25] misaochan commented on #669
@VojtechDostal or anyone else who runs a different language on their phone - are the Nearby map labels localized for you currently?

[2018-05-03 16:27] misaochan commented on #589
Does this problem still exist?

[2018-05-03 16:32] misaochan commented on #463
Do you think this would still be useful if filters were to be implemented?

[2018-05-03 16:32] #375 closed

[2018-05-03 16:33] misaochan commented on #340
We can probably close this for the time being as Nearby will be much more accesible with #725

[2018-05-03 16:33] #340 closed

[2018-05-03 16:34] #291 closed

[2018-05-03 16:35] #246 closed

[2018-05-03 16:39] VojtechDostal commented on #883
Woohoo! An interesting idea @nicolas-raoul . My worry is that we lose the cool connection to real items in Wikidata which we have just embraced using Nearby maps and lists. Images uploaded this way would have to be somehow properly tagged - but OSM identifiers are notoriously unstable, so it would be really complicated. Most OSM objects aren't still connected to existing Wikidata items, at least i

[2018-05-03 16:43] VojtechDostal commented on #669
Everything seems to be perfectly localized now. Both labels and descriptions are in Czech even for items when an English label is available.

[2018-05-03 16:49] misaochan commented on #669
Great! Will close this for now then. :)

[2018-05-03 16:49] #669 closed

[2018-05-03 16:51] misaochan commented on #1270
Thanks @97balakrishnan

[2018-05-03 16:51] #1270 closed

[2018-05-03 19:29] ashishkumar468 commented on #1419
I would like to work on this fix, As i can see from the code, we have the data before the actual api call succeeds (in this this case i would propose to at least show the entire data available then), or we could show a progress bar while the api call succeeds. I am new to this thing and therefore I request the reviewer to help me come to a conclusion on this

[2018-05-03 20:11] ashishkumar468 opened #1491 "ButterKnife is not used every where in the project"
**Summary:**

Some of the activities and fragments have used ButterKnife and some have not. It should ideally be used everywhere.

**Steps to reproduce:**

Lets compare AboutActivity and MediaDetailFragment

**Add System logs:**

NA

**Expected behavior:**

Ideally all of the activities and fragments should use it

**Observed behavior:**

As mentioned in the description, some of the activities and

[2018-05-03 20:52] ashishkumar468 commented on #1485
I tried to debug the issue [By uploading image from my google pixel emulator], it seems like there is an issue at the backend side, I am attaching the response xml which i am getting in the logs
 `<?xml version="1.0" encoding="UTF-8"?>
<api servedby="mw1278">
   <error code="abusefilter-disallowed" info="⧼abusefilter-warning-copyv2⧽" warning="&lt;p&gt;We could not determine whether this file is su

[2018-05-04 04:08] maskaravivek commented on #1491
Please feel free to take it up. IMO it would be great to start using everywhere in our codebase but we don't want to restrict new contributors if they are not familiar with Butterknife.

Refactoring code that doesn't use Butterknife would be more than welcome. :)

[2018-05-04 04:09] maskaravivek commented on #1485
The error posted by @ashishkumar468 looks interesting. Am not sure if the user's upload failed with the same error. We are not logging server failure responses so there's no way to tell why it failed for the user.

[2018-05-04 04:13] maskaravivek commented on #883
This feature would be a really good addition to our app. I am in favor of having this task for 2019's PG application. Having worked with Wikidata APIs for P18 edits, we will have a better clarity of how Wikidata works and we should be able to manage this task well. :)

[2018-05-04 04:52] ashishkumar468 commented on #1491
@maskaravivek Taking it up

[2018-05-04 06:43] ashishkumar468 opened #1492 "App crashes when retry upload menu icon is clicked."
**Summary:**

The app crashes when retry upload is clicked in contributions activity while viewing media details of image for which the upload has failed.

**Steps to reproduce:**

1. Open the app
2. Go to home
3. Try to upload an image (some how make the upload fail)
4. Click on the image for which the upload fails.
5. Click on retry icon on the top

**Add System logs:**
`  --------- beginning of

[2018-05-04 07:07] neslihanturan commented on #1419
Thanks @ashishkumar468 , can you provide related class and code lines? It would be great if you insert that code part then we can discuss:)

[2018-05-04 07:15] ashishkumar468 commented on #1419
`private void displayMediaDetails(final Media media) {
        //Always load image from Internet to allow viewing the desc, license, and cats
        image.setMedia(media);

        // FIXME: For transparent images
        // FIXME: keep the spinner going while we load data
        // FIXME: cache this data
        // Load image metadata: desc, license, categories
        detailFetchTask = new Asy

[2018-05-04 07:30] neslihanturan commented on #1419
Yes, it seems like that would solve the issue @ashishkumar468

[2018-05-04 07:40] ashishkumar468 commented on #1419
Cool, have done the same :-)

[2018-05-04 08:42] neslihanturan commented on #1091
@maskaravivek do you still want to have it? If yes, I will assign.

[2018-05-04 09:42] gupta1anubhav opened #1493 "Obsolete Gradle Dependencies"
AndroidLint: Correctness warning
Few issues
1.Obsolete Gradle dependencies
2.Restricted API should be suppressed(@SuppresLint) as there seems no workaround for it.
![6](https://user-images.githubusercontent.com/31107831/39621686-3e06692a-4fad-11e8-9458-c658054572cc.png)

Would you like to work on this issue?
Yes, I want to work on this issue.

[2018-05-04 16:58] misaochan commented on #1480
I get a Nearby crash after logging out and in, too. However, mine has a different error log:

5-05 02:57:38.175 7683-7683/fr.free.nrw.commons.debug W/System.err: java.io.FileNotFoundException: /jacoco.exec (Read-only file system)
        at java.io.FileOutputStream.open(Native Method)
        at java.io.FileOutputStream.<init>(FileOutputStream.java:221)
        at org.jacoco.agent.rt.internal_773e

[2018-05-04 17:03] misaochan commented on #1091
@neslihanturan I think Vivek mentioned on Hangouts that wanted to swap this with me (so he is doing Wikidata edits now and I am ding this) :)

[2018-05-05 02:31] nicolas-raoul commented on #1118
@misaochan Yes our license does not prevent us from calling any API we want, even proprietary.

Getting familiar with the API of graphhopper and the related services would take some time, so better leave the task to any volunteer who is very interested in GIS.

[2018-05-05 02:39] nicolas-raoul commented on #849
#618 is about a place that used to be something. For instance, there was a battle here.

This issue is about patently false information. For instance, the [GRID](https://www.grid.ac/) is a database of research institutions, they include the approximate location of each but it is not their main purpose so the location is often off. Anyway, the locations are imported into Wikidata regularly because

[2018-05-05 08:33] nicolas-raoul commented on #883
@VojtechDostal Many OSM objects are not connected to WIkidata objects because OSM has way more geographical objects than Wikidata. Looking at an OSM maps around me right now, I see dozens of notable places, and almost none of them has a Wikidata item. Even though I am in a country with a strong Wikipedia community writing many local articles. I am sure that Wikidata coverage is very low in countri

[2018-05-05 08:57] maskaravivek commented on #252
Any help on making wikidata edits work would be great @VojtechDostal.

@nicolas-raoul Do you have any idea if the central auth token is currently supported by our app or will we have to do some changes to make it work?

[2018-05-05 10:18] ashishkumar468 commented on #1491
@maskaravivek Can you review this ?

[2018-05-05 16:05] psh commented on #252
I am making good progress in a rewrite of the API layer - building [JsonMediaWikiApi](https://github.com/psh/apps-android-commons/blob/consolidate-networking-libraries-step-2/app/src/main/java/fr/free/nrw/commons/mwapi/JsonMediaWikiApi.java) - and been considering pushing it to a feature branch in our main repo so the rest of the team can get your hands on things.

There are still things to do to

[2018-05-05 17:02] misaochan commented on #1485
Just received permission from the user to repost his response to me. I think this will be very helpful:

[2018-05-05 17:05] misaochan commented on #849
Thanks @nicolas-raoul . Better to completely ignore them, then. I guess this will be a fairly straightforward modification of our query?

[2018-05-05 17:09] misaochan commented on #252
@psh Having the code in a feature branch sounds like a good idea to me. :)

[2018-05-05 21:25] maskaravivek commented on #923
Now that we already have a PR open for making P18 edits(#1495), any ideas on where the logs should be collected?

@nicolas-raoul @misaochan

[2018-05-06 12:42] manparvesh commented on #1464
@psh Hi,
I have submitted a PR (#1496) for this issue. Please take a look

[2018-05-06 15:26] misaochan commented on #724
Does anyone get these warnings currently? @maskaravivek and I haven't noticed them since 2.7.

[2018-05-06 15:28] misaochan commented on #923
Unfortunately I am not sure either. :/ @nicolas-raoul @whym @VojtechDostal We would greatly appreciate thoughts on this if possible :)

[2018-05-06 15:46] misaochan commented on #252
Weird, I just tried again and was able to remove it. :/ Sorry about that.

[2018-05-06 16:58] maskaravivek commented on #252
@misaochan, In fact, every time I try to remove the image, it fails for the first time and works the second time. :D

[2018-05-06 17:29] VojtechDostal commented on #923
Is it possible to automatize edits to wiki pages such as on Wikimedia Commons, eg. https://commons.wikimedia.org/wiki/Commons:Mobile_app/Logs ?

[2018-05-06 17:56] misaochan commented on #872
I was playing around a bit with the Wikipedia links from our Nearby items and noted that 8/10 of the Wikipedia articles actually HAD images. :/ Not just that, but the Commons category that the articles linked to had several other pictures that weren't displayed in the article! I wonder why this isn't reflected in our wikidata items.

This makes me wonder if this is truly a good idea for our next g

[2018-05-06 18:00] maskaravivek commented on #923
I guess editing a page through the app should be possible. I can check and confirm the feasibility.

What information should be logged if we are able to make edits to this page?

[2018-05-06 18:14] misaochan commented on #923
I would go wth username, wikidata item edited, file title, time that the edit was made. Anything else that anyone would like to add?

[2018-05-06 18:25] misaochan commented on #1118
@maskaravivek Great idea! Needs to have #591 done first but after that this would be very useful IMO.

[2018-05-06 18:37] misaochan commented on #1118
Btw, @maskaravivek could you create a new issue for your suggestion please? :) it is quite different from Nicolas 's.

[2018-05-06 20:02] maskaravivek opened #1499 "Letting users bookmark a nearby location for offline use"
Just letting users bookmark/save a nearby location would be a good idea. Sometimes while browsing I see a few nearby places that I would like to visit and click a picture and then upload the image. Having an option to bookmark such places locally would be great so that users can simply pull out that list and then navigate to that place. The local list could be shown in the same Nearby page(using a

[2018-05-06 20:05] maskaravivek commented on #1118
@misaochan As suggested, I have created a new issue for it [#1499].

Sorry, I could not understand why #591 needs to be done before implementing this. I was thinking of an offline list that would not be dependent on the APIs. Moreover, the list could contain all items bookmarked by him sorted by the distance.

[2018-05-07 07:03] misaochan commented on #1499
Thanks for creating a new issue! To respond to your post on the other issue:

Sorry, yes, I used the wrong phrasing. I think it would be useful to do #591 first because there isn't really much to bookmark when the user only can see pins within a small radius of where they currently are. However, it's certainly not "necessary" to do #591 first.

I think this is a great idea, either way. :) I person

[2018-05-07 07:08] misaochan commented on #923
Sounds good to me. I created the page that Vojtech suggested, we can use that for now.

[2018-05-07 08:13] misaochan commented on #85
@tanvidadu I guess the next step would be to search for the appropriate APIs to extract the data you need? If you are having trouble, especially with the revert rate API, I would recommend posting at https://commons.wikimedia.org/wiki/Commons:Village_pump to ask if anyone knows. They might be able to point you in the right direction. :)

[2018-05-07 08:16] #1371 closed

[2018-05-07 08:25] misaochan commented on #259
I think going with @janpio 's interpretation for the time being would be the best way to proceed. It's much easier to implement, non-intrusive, and we can get user feedback on how helpful the feature is before considering push notifications.

My suggestion is that when the user selects an image to upload, we run an async Wikidata query in ShareActivity that searches for a place that needs pictures

[2018-05-07 08:37] misaochan commented on #872
To solve this problem, perhaps a more conservative approach might be warranted. Is there a way to check whether the Wikipedia article associated with that Wikidata item has pictures or not? If we can do that, then maybe we can only prompt the user if the article has no pictures, and not otherwise. And see how that goes.

@VojtechDostal @nicolas-raoul What do you guys think?

[2018-05-07 08:50] VojtechDostal commented on #872
@misaochan The way Wikipedia images in articles and infoboxes are handles differs wildly between language versions of Wikipedia. In the case of Czech Wikipedia, finding a suitable picture (either in the Wikipedia article or in the corresponding Commons category) which is *not* associated with the corresponding Wikidata item, is extremely rare, especially for items located in the Czech Republic. Th

[2018-05-07 08:58] misaochan commented on #872
Thanks so much for the clarification, @VojtechDostal ! :) I guess in that case it is more of an upstream thing, and there isn't really anything efficient that can be done in our app for this purpose?

[2018-05-07 09:16] nicolas-raoul commented on #923
We already apply a "tag" to some of our edits (when uploading or editing an image, as seen in the first two edits [here](https://commons.wikimedia.org/w/index.php?title=File:P-39F-1-BE_Airacobra.jpg&action=history)).
Adding the same "tag" to our Wikidata edits would be the most appropriate thing to do, I would say.
Fortunately, the same tag already exists on Wikidata: https://www.wikidata.org/wiki

[2018-05-07 09:32] #1464 closed

[2018-05-07 09:36] nicolas-raoul commented on #849
Yes, better ignore them completely.

The change to the request is not obvious to me. Deprecation is not standard SPARQL, I am not sure whether it is an extension or something else.

I believe I saw a discussion recently about making deprecated results not appear if another statement is available, but I am not sure what is the status on this.

[2018-05-07 09:57] #1126 closed

[2018-05-07 10:20] nicolas-raoul opened #1500 "Deeper zoom in media details"
In the media details of an already uploaded image, you can zoom into the image a bit. But only a bit, so it is impossible to see the fine details.

It could be improved by allowing the user to zoom to the full definition of the picture. Right now only shows a sub-sampled version of the picture.

Here is what I get when I **zoom at maximum** in Media details:
![screenshot_20180507-184631](https://u

[2018-05-07 11:02] VojtechDostal commented on #923
Tagging edits in Wikidata seems like a very good idea, @nicolas-raoul . It will provide a very important additional metric.

I'm in favour of scrapping the log page on Commons entirely if we are able to use edit tags to measure number of images remaining on Wikidata - and create a list of those images - using the edit tags. However it may be very complicated to deduce (count) this metric with just

[2018-05-07 11:38] nicolas-raoul commented on #923
@VojtechDostal Yes, here is the list of recent changes with the "mobile app edit" tag on Wikidata: https://www.wikidata.org/w/index.php?hidebots=1&translations=filter&hidecategorization=1&hideWikibase=1&tagfilter=mobile+app+edit&limit=500&days=30&title=Special:RecentChanges&urlversion=2

[2018-05-07 11:47] nicolas-raoul commented on #463
Depending on how well filters are implemented, this could become less useful indeed.

[2018-05-07 11:49] nicolas-raoul commented on #259
@misaochan Sounds good, but do you mean the question should pop up "when the user selects an image to upload"? That sounds disruptive, as they already have an image in mind. How about when the user opens the app, maybe? :-)

[2018-05-07 11:51] VojtechDostal commented on #923
Yes, but will you be able to export it as a list of files added via our app? (Even though some will be later removed, but we still want to count them)?

[2018-05-07 11:57] misaochan commented on #923
How do we go about getting our own Wikidata tag?

[2018-05-07 12:05] #706 closed

[2018-05-07 12:09] misaochan commented on #259
Hmm, I meant that after the user selects the image, they would be brought to the Title/Desc screen as normal. The Nearby query would then run in the background for a radius of 100m, and if it finds anything, it would ask the user if this is an image of X.

The query should be relatively quick since the radius is so small, so it would likely pop up while the user is still thinking of their title/de

[2018-05-07 13:28] maskaravivek commented on #1499
Yes, showing these places on a map differentiating it from the others sounds like a good idea. :)

[2018-05-07 14:17] nicolas-raoul commented on #259
Ah I see now, great idea!

On Mon, May 7, 2018, 21:09 Josephine Lim <notifications@github.com> wrote:

[2018-05-07 15:00] VojtechDostal commented on #872
Thanks @nicolas-raoul for your insight.

Out of topic: One interesting improvement to consider would be to insert image descriptions into Wikidata as qualifiers. This is quite often done using [property P2096](https://www.wikidata.org/wiki/Property:P2096). Infoboxes could then read this description when transcluding images from WD. However we'd have to start specifying language of description (our

[2018-05-07 15:05] sivaraam commented on #872
I think you could use the MediaWiki API could be used to get a set of images that belong to a Wikipedia page:

https://www.mediawiki.org/wiki/API:Imageinfo

An example query:
https://en.wikipedia.org/w/api.php?action=query&format=json&prop=imageinfo&titles=Imperative+programming&generator=images

[2018-05-07 15:09] sivaraam commented on #872
Sorry, here's a better example:

https://en.wikipedia.org/w/api.php?action=query&format=json&prop=imageinfo&titles=A._P._J._Abdul_Kalam&generator=images

There's a little issue with the API. It seems to return **every single image** on the page. See, https://phabricator.wikimedia.org/T174564

[2018-05-07 15:32] sivaraam commented on #872
You could even try out the new `/page/media` Restbase API which shouldn't have the issue that the MediaWiki API has per comment [T174564#4118458](https://phabricator.wikimedia.org/T174564#4118458)

See the `/page/media/{title}{/revision}` section of https://en.wikipedia.org/api/rest_v1/

[2018-05-07 16:25] maskaravivek commented on #1493
@gupta1anubhav Sure, go ahead!

[2018-05-07 16:28] maskaravivek commented on #1296
@madhurgupta10 Any update on this? If you are still working on it please post a status update, or else someone else can pick this up. :)

Am really hoping for this feature to be part of the app!

[2018-05-07 16:34] madhurgupta10 commented on #1296
Hi @maskaravivek , I am extremely sorry 😓 for not solving the issue on time. I got involved into so many things, I was not able to devote time to it.
I really want to solve this issue, please allow me one more chance, I will try my best to resolve it by this weekend :relaxed:

[2018-05-07 20:52] VojtechDostal commented on #252
Response I got from WMDE:

It would be great if Vivek could come to the Technical Advice IRC meeting - https://www.mediawiki.org/wiki/Technical_Advice_IRC_Meeting - a weekly technical support office hour with our developers. I just talked to the Wikidata team: someone who could help him with that is going to host the meeting on Wed May 16, 5 pm our time zone :-) In general, Wikidata experts are ho

[2018-05-08 02:14] nicolas-raoul commented on #872
Wonderful tip @sivaraam !

Here is a long list of images that are often used as stub/portal/etc icons, and can thus be considered as unrelated to the topic of the article: https://www.wikidata.org/w/index.php?title=User:Magnus_Manske/FIST_icons&action=raw
It is kept up-to-date by FIST/WDFIST users, including me :-)

So the app could download this list once (and maybe update it every month). Then t

[2018-05-08 02:31] nicolas-raoul commented on #252
@maskaravivek Sorry I don't know anything about Wikidata authentication :-/ I would advise against anonymous edition because it would leak the user's IP address.

[2018-05-08 05:47] maskaravivek commented on #252
@VojtechDostal Thanks a lot for reaching out to WMDE for help. I was able to figure out the authentication bit after @psh's comment. The PR is already up for review. #1495.

I have attached a video to show how the flow would look.

@nicolas-raoul Yes, I didn't do an anonymous edit. I was able to figure out the authentication. :)

[2018-05-08 07:07] sivaraam commented on #872
@nicolas-raoul How about using the `/page/media/` RESTBase endpoint instead as note in [my comment above](872#issuecomment-387104013) regardless of the fact that it's still experimental? The [task that developed the endpoint](https://phabricator.wikimedia.org/T177430) has the following as one of it's requirements:

I thought the app could be one of the early adopters for the endpoint ?? It might h

[2018-05-08 07:12] misaochan commented on #252
Thanks for the tip, @VojtechDostal ! Good to know about the wikidata-tech mailing list, we will post there if we have further questions. :)

[2018-05-08 08:36] VojtechDostal opened #1501 "Specify language when adding image descriptions"
Descriptions on Wikimedia Commons are usually multilingual. Specifying the language of description is considered important and is basically mandatory in the official Commons uploader. However our app does not currently enable specification of language.

There could be a roll-out menu like I show below:

<img width="240" alt="commons_app_copy_title_desc_button" src="https://user-images.githubuserco

[2018-05-08 09:13] tanvidadu commented on #85
thanks @misaochan , I was facing some difficulty finding the required api to fetch number of reverts. I will post my query on village pump for the same.

[2018-05-08 10:36] misaochan commented on #1091
Looking through ShareActivity.java today, these are my plans at the moment:

- To simplify permission logic, I don't think it's necessary to have Storage permissions requested via both Snackbar AND dialog (when user taps the submit button). The Snackbar should be used solely for optional permissions like Location, IMO.
- Functions like Zoom and Find other images should have their own classes.
- Bo

[2018-05-08 10:38] Maeglad commented on #1452
Hi, is anyone working on this? If not i would like to have a look at this.

[2018-05-08 10:39] nicolas-raoul commented on #1452
@Maeglad Feel free, it is now assigned to you! Please let us know about your progress regularly and ask questions if you need :-)

[2018-05-08 11:07] sivaraam commented on #872
Seems to be a good idea. I guess this would bother the users less and make them do things that add more value (adding a picture to a page that doesn't have any).

[2018-05-08 11:26] nicolas-raoul opened #1502 "In the gallery, mark some images as "TODO""
I am not sure how to word this, but in a user's uploads gallery we could display a kind of "TODO" icon that shows images that might be targets for improvement.

That would provide something to do to users who just open the app without having a picture to upload.

Possible improvements:
- Add a description (if none has been entered)
- Add a latitude/longitude (if none has been entered)
- Add catego

[2018-05-08 11:36] VojtechDostal commented on #872
This does sound really cool Nicolas.

[2018-05-08 12:31] nicolas-raoul commented on #1221
FastCCI seems to be out of service right now...
I asked for an equivalent service at [opendata](https://opendata.stackexchange.com/questions/12795/how-to-get-the-best-images-from-a-wikimedia-commons-category), might be worth asking at the Commons village pump too @ujjwalagrawal17

[2018-05-08 13:10] psh commented on #1091
@misaochan There was a discussion a little while ago: #1128 - "Thinking about a combined share GUI" - with [design mockups](https://scene.zeplin.io/project/59f8f32ff01c1ed40c7bcee7) online.

If that's the direction you're going with creating a "combined" GUI that merges the single and multiple uploads thenI have a **large** portion of it already coded and working that you could use as a baseline t

[2018-05-08 13:35] ujjwalagrawal17 commented on #1221
@nicolas-raoul I have asked the same question in Village pump
Link: https://commons.wikimedia.org/wiki/Commons:Village_pump#May_08 .

Also I have created an issue in  FastCCI repo.
Link : https://github.com/Commonists/fastcci/issues/6

[2018-05-08 14:17] maskaravivek commented on #1221
@nicolas-raoul @ujjwalagrawal17 Sorry, I am unable to follow the discussion completely. Are we planning to show just the best images in a category or sort the images based on quality?

[2018-05-08 14:39] nicolas-raoul commented on #1221
Vivek: Only if times allows.
But now is a good time to start asking around whether an appropriate API
exists 🙂

On Tue, May 8, 2018, 23:17 Vivek Maskara <notifications@github.com> wrote:

[2018-05-08 14:40] ujjwalagrawal17 commented on #1221
@maskaravivek we are planning to show just best images. We are looking for an API that gives us best images sorted based on quality.

[2018-05-08 15:25] misaochan commented on #1091
@psh That would be wonderful, thanks so much! :) I was initially planning for the new upload UI to be a future enhancement (the aim of this issue was just to unify the upload entry points), but given that you appear to have already done a substantial amount of work on it, I could indeed try to build on what you've done and perhaps the goal of #1128 might be realized sooner than expected. :) I'll t

[2018-05-08 15:32] misaochan commented on #1502
Needs to have #161 done first I think, but sounds like a great idea otherwise!

[2018-05-08 15:34] misaochan commented on #872
@nicolas-raoul Great idea! Indeed, I think that will be the best way to implement it, much less intrusive.

[2018-05-08 16:01] tanvidadu commented on #85
In second criterion of the level where less than 10% uploads should be reverted. Should we cover only the revert scope( reverted to its previous version ) or should we All include in our scope other parameters like nominations for deletions and no of rollbacks ?

[2018-05-08 16:16] misaochan commented on #85
Sorry for the lack of clarification, I personally think we actually want "deletions", as in number of pictures uploaded that were "deleted". I don't think "reverts" is the commonly-used term in Commons, but rather more suited for Wikipedia (anyone, please correct me if I'm wrong). I don't think we should include nominations for deletions, but only those cases where the nomination passed and the fi

[2018-05-08 18:50] maskaravivek commented on #1221
Great that we are aiming to show images sorted based on quality! That would be really nice.

I jumped into this discussion just to make sure we don't rebuild things that already exist in the app. :)

Recently we added the featured image section. It uses an activity that is completely generic. It already takes care of the error states, internet connectivity, and scroll to load more option. It simpl

[2018-05-08 18:59] maskaravivek commented on #1091
It would be great to have @psh's contribution in overhauling the upload flow. Building upon his changes would be quite nice.

[2018-05-08 19:02] maskaravivek commented on #1501
This should be a very quick thing to add. If it provides so much value to our users I am sure we can find an eager contributor who can help us implement it. Both the parts should be easy enough ie specifying the language and allowing users to add several descriptions.

[2018-05-08 20:49] ashishkumar0207 commented on #1501
@maskaravivek I would like to take this up

[2018-05-09 06:35] ashishkumar468 commented on #1501
Hi @maskaravivek  I want to take this up

[2018-05-09 06:37] maskaravivek commented on #1501
Sure, go ahead! Can you share mocks for the screen once you start working on it?

[2018-05-09 06:38] ashishkumar468 commented on #1501
Thanks @maskaravivek, Will update you with the  mocks as soon as i am done :-)

[2018-05-09 06:43] maskaravivek commented on #1501
@VojtechDostal Can the title also be multiple languages? If that's the case then the language selection drop-down can be common for both title and description.

By default, the drop-down should be showing the phone's language selected by default.

Moreover, a little plus button below the title and description can let the user add it in a different language.

[2018-05-09 06:48] VojtechDostal commented on #1501
Sure the title is usually typed in a specific language, but it can also be something like "DFHTTRHTHT.jpg", you can name your pictures like that and there is nothing to stop you (at worst someone will rename it). You cannot provide more than one language variant of the title (currently) because the title is filename at the same time. This may change in future with Structured Commons. But currently

[2018-05-09 07:29] maskaravivek commented on #1501
Great thanks for the clarification @VojtechDostal!

Here's the scope of this task.
- have a drop-down for selecting the language while entering the description
- the drop-down should by default have phone's language selected
- there can be a plus button below the description textbox letting the user add the description in another language
- once the description is set by the user, it should be upd

[2018-05-09 16:14] sivaraam opened #1504 "App crashes when opening *Nearby* in a particular scenario"
**Summary:**
*Nearby* crashes when the phone is connected to a network that is disconnected from the ISP's network. To be more detailed, I use a Wi-Fi enabled data modem with the ability to disconnect the data service. So, when I disconnect the data service and connect the phone to the Wi-Fi network (which isn't connected to the ISP's network) and visit *Nearby*, the app crashes.

**Steps to repro

[2018-05-09 17:27] sivaraam commented on #1504
Actually Android studio required the Gradle build for the modified source (not the apk generation) to be completed before the dubug console could be used to debug the hooked up to the device.

[2018-05-10 01:44] nicolas-raoul commented on #1480
@albendz Vivek has submitted a pull request, would you mind testing it and saying whether the problem is fixed or not? https://github.com/commons-app/apps-android-commons/pull/1498 Thanks! :-)

[2018-05-10 09:41] ashishkumar468 commented on #1504
@sivaraam You can also get logs by using [ADB](https://stackoverflow.com/questions/31374085/installing-adb-on-mac-os-x),  It would let you have the logs instantly. Make sure you filter the logs for this application by using `./adb logcat | grep fr.free.nrw.commons`

[2018-05-10 09:46] ashishkumar468 commented on #1504
I tried to reproduce the issue and made the app crash with the following logs
`io.reactivex.exceptions.OnErrorNotImplementedException: Callable returned null
        at io.reactivex.internal.functions.Functions$OnErrorMissingConsumer.accept(Functions.java:704)
        at io.reactivex.internal.functions.Functions$OnErrorMissingConsumer.accept(Functions.java:701)
        at io.reactivex.internal.obs

[2018-05-10 09:54] VojtechDostal commented on #1501
One small modification. I just realized it should rather be like this:

{{en|1=PLACEHOLDER TEXT OF DESCRIPTION}}{{cs|1=Another description but now in Czech}}

Language template with the "1=" construct is the correct format used by Commons Uploader.

[2018-05-10 10:09] maskaravivek commented on #1501
Thanks @VojtechDostal! Have updated the scope based on your comment. :)

[2018-05-10 10:32] maskaravivek commented on #1504
Looks like null isn't handled properly while loading data in nearby. @ashishkumar468 will you be able to take care of this issue?

[2018-05-10 11:00] ashishkumar468 commented on #1504
@maskaravivek I have most probably made the fix, creating a pull request for the same

[2018-05-10 13:16] sivaraam commented on #1504
Thanks @ashishkumar468 for your thoughts.

Sorry, that seems to be a misleading comment. I actually was overlooked and mistook the "debug build" icon for the "attach debugger" icon :disappointed:

Regardless, I wasn't able to able to attach the debugger to a production release.

[2018-05-10 13:35] ashishkumar468 commented on #1504
@sivaraam This seems to be a different issue, anybody else if facing such issues ?

[2018-05-10 13:40] sivaraam commented on #1504
@ashishkumar468 Yep. It does seem to be different issue. I forgot to mention that:

So, am I missing something?

[2018-05-10 13:44] ashishkumar468 commented on #1504
@sivaraam You are trying to login into betaDebug build variant I suppose, make sure that you signed up on the same variant or try to login with the same credentials in prodDebug or prodRelease build variant

[2018-05-10 13:53] sivaraam commented on #1504
@ashishkumar468 Thanks for the pointer!

Regardless of that, I guess the error message could be made more helpful/useful as it mentioned only about checking my password and **not my username**.

[2018-05-10 13:55] ashishkumar468 commented on #1504
@sivaraam Sure, Thanks for the suggestion, you can create a new issue for that and someone can pick that up as an enhancement, coming back to this issue, were you able to login ?

[2018-05-10 13:58] neslihanturan commented on #1448
Team I decided to prepare a base branch for #780 . I am planning to include a new item as "review other images" to nav bar for now. After we implemented #1221 we can merge this two property into one screen I hope. But I might need your help to define the scope.
Until the hackathon I plan to prepare a "Display a random image to me" button and add "Send a public thank" to it, then during the hackath

[2018-05-10 15:31] sivaraam commented on #1504
Yeah, I was able to log-in and the app seems to crash as noticed before. And the log output seems to be the same as the one you posted in [your comment](1504#issuecomment-388007087).

[2018-05-10 15:43] ashishkumar468 commented on #1504
@sivaraam The changes have not yet been merged to master, you will have to take a take a pull from branch ashishkumar468:feature/bug_fix_#1504 to verify

[2018-05-10 17:29] hismaeel commented on #161
Just got got finished with my finals. Will be working on it now. Sorry for the wait :-)

[2018-05-10 18:38] sivaraam commented on #1065
I guess this has become obsolete with the new Nearby UI ??

[2018-05-10 18:59] sivaraam opened #1507 "Disable list option in Nearby until nearby places are loaded"
**Summary:**
It isn't useful to show the "List" icon in the Nearby screen until nearby places have loaded. It just shows a blank screen. It would better to disabling the button until the nearby places have been loaded. The state of the list icon could even serve as an indicator for when nearby places have been loaded.

**Steps to reproduce:**
1. Ensure you're in a slow internet connection
1. Go to

[2018-05-10 19:43] #1065 closed

[2018-05-11 02:12] albendz commented on #1480
@nicolas-raoul Can do!

[2018-05-11 02:25] nicolas-raoul opened #1508 ""please check your password" -> "please check your username and password""
This error message comes up when entering a username that does not exist on that server:
![39871665-3c00742e-5483-11e8-872a-027587c7dc9a](https://user-images.githubusercontent.com/99590/39903316-928da372-550d-11e8-87f4-b9f8c0fe6d1d.png)

Because of [security](https://security.stackexchange.com/a/17820/634), we should not say which (username or password) is wrong, but we should change the message t

[2018-05-11 03:17] nicolas-raoul commented on #780
Queries that show the latest uploads by the app, they should be tested for performance and quality of the results:
- https://quarry.wmflabs.org/query/26940
- https://quarry.wmflabs.org/query/10587
- https://tools.wmflabs.org/catfood/catfood.php?category=Uploaded_with_Mobile/Android
- https://commons.wikimedia.org/wiki/User:Didym/Mobile_upload (probably fastest but painful to parse)
We should filte

[2018-05-11 03:43] nicolas-raoul commented on #872
Yesterday I uploaded a picture and linked it from Wikidata, and I was surprised to see the image appear instantly on the [Arabic Wikipedia](https://ar.wikipedia.org/wiki/%D8%A3%D9%88%D9%83%D9%84%D9%88%D8%B3_%D9%81%D9%8A_%D8%A2%D8%B1).
So, it seems like while the big wikipedias do not transclude Wikidata images automatically (and probably won't in the future), some middle-sized wikipedias (probably

[2018-05-11 04:27] nicolas-raoul opened #1509 "Zoom screen leaves title/description text fields"
The cursor is even blinking in the title field.
They should be hidden or at least the cursor made not blink, as entering text is impossible at this step.

[2018-05-11 04:30] nicolas-raoul opened #1510 "Pressing "Back" in zoom activity leaves app"
instead it should just exit zoom

[2018-05-11 06:13] neslihanturan commented on #1508
Very true, I think this can be high priority though

[2018-05-11 09:25] misaochan commented on #1091
I agree that it would be too difficult to build on @psh 's work at this point of time - the scope for his changes is much larger than what we originally intended, and it will be difficult to get it to work within our grant deadlines. (I probably titled this issue wrongly at the start - we are not "overhauling" the uploads per se, we just want upload logic in 1 reusable module to unify upload entry

[2018-05-11 09:31] nicolas-raoul commented on #1458
I don't think Mediawiki has a concept of user photo, so this user photo would only be known as such by the app, right?

[2018-05-11 09:33] nicolas-raoul commented on #1439
As a heavy user I don't find this annoying (rather useful), personally.

[2018-05-11 09:54] neslihanturan commented on #1458
And only user is able to see her own photo. This doesn't seem very useful to me.

[2018-05-11 12:27] nikesh-dev commented on #1508
How about when blocked user tries to login?

[2018-05-11 12:37] neslihanturan commented on #1508
We should inform the user about the block but we still should let her login. So login error messages should not express this situation, instead a snackbar can be displayed at bottom of each activity (actually good idea I will create an issue for that). Currently if user decides to look at notification, she can discover the block. Anyway, being blocked is not related with this issue:)

[2018-05-11 12:41] neslihanturan opened #1511 "Inform user when she is blocked"
**Summary:**

We can inform user with a snackbar displayed at the bottom of each activities as "You are blocked from editing commons".

This can be done at our AuthenticadedActivity class (since all authenticaded classes extends it) to prevent rewriting same code again and again for all acitivites.

[2018-05-11 14:43] ShridharGoel commented on #1511
But login fails for blocked users. Then how can this be done?

[2018-05-12 07:09] nicolas-raoul commented on #1511
@ShridharGoel Are you sure about this?
https://en.wikipedia.org/wiki/Wikipedia:Blocking_policy#Common_blocks_imposed seems to say that blocked users are only blocked from **editing**, not from logging in.

[2018-05-12 09:36] sivaraam commented on #1504
Just for sake of note, the error about an incorrect password was correct as there incidentally was an account with my username in the beta website. So, it was my mistake, again!

[2018-05-12 10:57] nikesh-dev commented on #1508
I would like to take up this issue. I have to change reason for login failure only to incorrect username and incorrect password scenarios right? Not necessary for other reasons? And I din't find any jUnit test cases written for authentication flow. How do you guys validate fix?

[2018-05-12 10:59] neslihanturan commented on #1508
Actually a PR is already up, thanks for your interest @nikesh-dev . You can pick another task if you want:)

[2018-05-12 11:07] maskaravivek commented on #1504
@sivaraam Please refrain from posting about other issues on a thread that is totally unrelated. It adds to the confusion. :)

[2018-05-12 11:09] nikesh-dev commented on #1508
okay Thanks. How do I get to know if anyone working on it? Or Whoever submits first proper fix will be accepted to merge?

[2018-05-12 11:30] neslihanturan commented on #1508
Ideally pull request should be referenced the issue page, if issue number is mentioned by PR owner on description page.

[2018-05-12 11:37] neslihanturan commented on #1508
If no one didn't wrote a comment and two people send related PR (lets say both works) first in first merge.
If someone already is assigned for the task, and still another person send a PR about it, we first ask the person who is already assigned for the task. If she says "I didn't waste too much time, go ahead and merge" then we merge. But if she says "I spend too much time and effort, please wait

[2018-05-12 13:03] liuxinyu970226 commented on #1333
Another one [Commons-android-strings-welcome help button text/zh-hans](https://translatewiki.net/w/i.php?title=Special:Translations&message=Wikimedia%3ACommons-android-strings-welcome+help+button+text%2Fzh-hans)

[2018-05-12 18:59] ashishkumar468 commented on #1501
@maskaravivek @VojtechDostal  Can i conclude, that the requirement is to
1. Add an option to select the language with the description (which would be defaulted to user's current phone number)
2.There would be a plus button below the description, which would add a new row(every time it is clicked), looking the same as above, and finally submit would send a list of descriptions instead of just one (

[2018-05-13 05:41] tanvidadu commented on #1510
I will start working on it !

[2018-05-13 09:16] VojtechDostal commented on #1501
Yes @ashishkumar468 . If the app for any reason fails to load the default language of the system, you can instead insert {{unknown language|1=PLACEHOLDER}}.

[2018-05-13 09:31] ashishkumar468 commented on #1501
@VojtechDostal @maskaravivek Cool, will update once done

[2018-05-13 10:04] ambageo commented on #1508
Hi, I understand that from a security perspective the less you reveal the better, however from a UX perspective it's better to let the user know what they are doing wrong.

[2018-05-13 12:27] daivat15 commented on #1511
@neslihanturan I was just going through the AuthenticatedActivity class. Once we acquire the authCookie how do we check if the user is blocked? I went through some files but I wasn't able to find any suitable function.

[2018-05-13 15:40] neslihanturan commented on #1448
Up up, date is coming:)

[2018-05-13 17:15] maskaravivek commented on #1448
@neslihanturan Right now the wikidata edits are happening anonymously. If we are able to figure out the authentication bit for it then notifications would be linked to the commons account. It might not work out of the box and some changes might be needed to make those notifications appear but it can definitely be done once the authentication for wikidata is done. :)

[2018-05-13 17:30] maskaravivek opened #1514 "Implement Google Assistant for nearest location needing pictures, browsing, uploads, etc"
Was just wondering if it would be cool to launch the upload flow in the Commons app directly from Google assistant. I can't think much about what all actions could be performed using the assistant launcher but it would surely be a novelty feature to have.

The basic action that I can think of is:

"Hey, Google! Upload photo on Commons"

[2018-05-13 18:42] maskaravivek opened #1515 "Memory leak in Share Activity"
**Summary:**

The location listener in share activity is leaking memory.

**Steps to reproduce:**

Leak canary logs

**Expected behavior:**

No memory leaks

**Device and Android version:**

Redmi Note 5 7.1.2

 **Commons app version:**

Latest master

**Screen-shots:**

![device-2018-05-14-001447](https://user-images.githubusercontent.com/3069373/39970578-6dd63116-570b-11e8-9b51-d4278409a4a1.png)

[2018-05-14 08:27] misaochan commented on #1448
If I understand @neslihanturan 's suggestion correctly, I don't think it is necessary for Wikidata authentication to be done before this "used on Wikipedia" notification is implemented. AFAIK all we need to track is the picture itself, not the Wikidata edit, if we want to see whether the picture is added to a Wikipedia article or not. For instance, go to https://commons.wikimedia.org/wiki/File:Cyc

[2018-05-14 09:31] JeanFred commented on #1448
There is, at https://commons.wikimedia.org/wiki/Special:ApiSandbox#action=query&format=json&prop=globalusage&meta=&titles=File%3AExample.jpg :)

Unfortunately, « Your file was used » is not (yet) part of the Echo Notifications :-( (cf. https://phabricator.wikimedia.org/T77154)

[2018-05-14 14:45] misaochan commented on #1514
Sounds interesting to me! Would be nice if it would show the nearest location needing pictures, too. :)

[2018-05-14 16:07] maskaravivek commented on #1514
Yes, great idea. Asking google about nearest location needing pictures would be a much better action.

Something like:
- find nearest place that needs a picture on Commons
- navigate me to the nearest place that needs a picture on Commons

[2018-05-14 20:08] hismaeel commented on #161
Hi. I would love to do this but would need help; I can use [edit](https://www.mediawiki.org/wiki/API:Edit) from the API, but how can I get the description only? We can choose sections, summary being the one that has the description in it.
Also, why not update description of the media object directly?

[2018-05-15 07:26] misaochan commented on #1480
Reopening as #1498 solves a separate issue, but not this one.

[2018-05-15 11:01] nicolas-raoul commented on #228
I reproduced the problem.
1. I uploaded a picture,
2. I reinstalled a slightly different version of the app
3. I uploaded another picture under the same name
4. The first picture got overwritten, see the history at https://commons.wikimedia.org/wiki/File:App_wikidata_test.jpeg

[2018-05-15 11:19] nicolas-raoul opened #1516 ""Nominate for deletion" only for own uploads"
![screenshot_20180515-201528](https://user-images.githubusercontent.com/99590/40053612-e82b73b4-587c-11e8-89b8-fbcc38620700.png)

This button would lead to nothing more than misclicks, I believe.

[2018-05-15 11:28] neslihanturan commented on #1516
Oh do you mean this feature is not needed?

[2018-05-15 11:31] nicolas-raoul commented on #1516
This feature is intended for people who upload a picture without understanding that it is made public (without understanding what Commons is), and want to remove one of their upload from Commons.
I don't think it was meant for deleting other people's pictures. #1139

[2018-05-15 11:34] neslihanturan commented on #1516
I just recognized that this is Featured Activity. I agree we should hide it from Featured Activity.

[2018-05-15 11:57] misaochan commented on #1516
Yeah, this needs to be hidden in Featured.

[2018-05-15 12:11] nicolas-raoul commented on #873
Featured pictures are meant to be enjoyed as much as the screen allows, and currently the media details activity is indeed far from optimal:
![2015-07-27_20-51-30_macroglossum-stellatarum](https://user-images.githubusercontent.com/99590/40055848-51a192fe-5884-11e8-88dd-2cb1e7c232a0.jpg) https://upload.wikimedia.org/wikipedia/commons/c/c0/2015-07-27_20-51-30_Macroglossum-stellatarum.jpg -> ![screen

[2018-05-15 12:39] nicolas-raoul opened #1518 "Back from featured image's details: loading forever"
Steps:
1. Go to featured images
2. Touch one feature image
3. Press "Back"
4. Loading forever:
![screenshot_20180515-213739](https://user-images.githubusercontent.com/99590/40057082-3de54928-5888-11e8-96de-cba90c0415d0.png)

logcat:
[code]

[2018-05-15 12:42] nicolas-raoul opened #1519 "Swiping featured images limited to 10 images"
Steps:
1. Go to featured images
2. Touch one featured image
3. Swipe right to see the next featured image
4. Swipe again many times
5. After the 10th image, swipe does not work anymore. Subsequent images do not get loaded.
![screenshot_20180515-214212](https://user-images.githubusercontent.com/99590/40057296-db94a2ae-5888-11e8-8084-6b4e2f91f455.png)

[2018-05-15 14:26] misaochan commented on #1448
Thanks @JeanFred ! :)

[2018-05-15 15:56] maskaravivek commented on #1519
IMO, this functionality could be supported for both featured images and user contributions.

@nicolas-raoul Is there any particular reason for limiting the images to 10 in this fragment?

[2018-05-15 15:58] maskaravivek commented on #1516
I will pick this up.

[2018-05-16 01:39] nicolas-raoul commented on #1519
There is no functional reason to limit the number of swipes to 10.
Technically, my guess is that there is there is a kind of 10-buffer somewhere, probably in the server query.
Instead, we should continue loading more items as soon as the user approaches the end of the results of the previous query.

(Same for the recent uploads indeed, we should remove the "Set Recent Upload Limit" settings and ju

[2018-05-16 01:50] nicolas-raoul opened #1520 "Make download button more visible?"
The Download button of the media details activity is currently in the overflow menu, which is known to be a place users rarely see.

While it was perfect for an upload-centric application, now the app is getting more browsing features so downloading an image from Commons might become the most-common use case of the app.

So, I believe the download button should be made more visible.
What do you al

[2018-05-16 10:35] ujjwalagrawal17 opened #1521 "Add search Images from commons feature"
This is a child issue of #1221

**Summary:**

The users should be able to search images directly using name/description from commons.

**Screen-shots:**

<table>
<tr>
<td>

![screenshot_20180515-141835](https://user-images.githubusercontent.com/19607555/40112180-d065fce4-5922-11e8-895a-5eb793268138.png)

</td>
<td>

![screenshot_20180515-140342](https://user-images.githubusercontent.com/19607555/4

[2018-05-16 12:25] ujjwalagrawal17 commented on #1521
@maskaravivek I am working on a separate search Activity which queries the data from servers. I am planning to open it from Featured Image Activity. Also, we can rename featured option to "explore" in the navigation drawer.

[2018-05-16 13:21] nicolas-raoul opened #1522 "Browse search field: Pressing Enter should launch search, rather than add newline character"
Steps:
1. In the media search field, type "butterfly"
2. Touch the "Enter" key of your keyboard

Result: A newline character is added
Expected: The search is launched

Also: Some apps are able to change the Enter key into a loop symbol, that would be cool.

@ujjwalagrawal17

[2018-05-16 13:25] ujjwalagrawal17 commented on #1522
@nicolas-raoul Yup Nicolas I also found this bug today. I will fix it.

[2018-05-16 16:07] maskaravivek commented on #1521
IMO, you can very well use all the functionality of featured images activity as its totally generic but am not very sure about renaming it.

You can init a separate instance of the featured images activity naming it **Explore** in the hamburger menu.

Anyways if we have consensus on merging featured images with Explore then you can go ahead with it. :)

[2018-05-17 02:01] nicolas-raoul commented on #1296
@madhurgupta10 Would you mind posting a screenshot? Thanks a lot :-)

[2018-05-17 02:07] nicolas-raoul commented on #1521
Personally I am in favor of a single "Explore" item that shows featured images and a loop button to search.
The hamburger is already a bit crowded and might get more crowded with statistics, peer review, contests, etc.

[2018-05-17 04:58] misaochan commented on #1521
How about we have the search bar on top of Featured activity - when someone searches, they will initially be shown all the featured images that match their search. And when the results are displayed, we also have a "show non-featured images" button (similar to the "show more" button in other apps) where if they tap it, they can view the non-featured images as well for the same search term?

[2018-05-17 05:13] maskaravivek commented on #1521
Yes, I agree that the hamburger is already too crowded. So having a single **Explore** sounds good to me (Y).

In addition to the search button, it would be great to have a filter button too. Right now the app shows all the featured images from Commons but there are further categories on Commons like Industry, History people etc.

https://commons.wikimedia.org/wiki/Commons:Featured_pictures

It wo

[2018-05-17 07:33] nicolas-raoul commented on #1521
The wide majority of searches return zero featured pictures, because only 0.024% of pictures are featured.
If there was a "show non-featured images" button it would be necessary to click every at pretty much every single search.
So, I suggest showing all images for now, and, in the second part of the GSoC, showing the featured images matching the search at the beginning of the results. That is act

[2018-05-17 08:31] misaochan commented on #1521
Oh! Yep, that sounds good to me @nicolas-raoul .

[2018-05-17 18:09] misaochan commented on #161
Sorry, I'm not sure exactly what query to use, but it might be a good idea to take a look at the Modifications package. Currently categories are being submitted as a modification **after** the upload takes place, hence the code in that package. You can perhaps take a look at how the app currently handles that, and generalize that to this task.

What do you mean?

[2018-05-18 06:19] maskaravivek opened #1525 "Allow user to set any image as wallpaper using Commons app"
It would be great if we give the users an option to set an image as their phone's wallpaper. With exploring, featured images and picture of the day there would be plenty of good images that the user might want to use as a wallpaper.

I can think of two places where this option could be there:
- media detail fragment, to allow the user to set that image as wallpaper
- Settings page: This could be a

[2018-05-18 08:12] nicolas-raoul commented on #1525
It would be interesting to know how other photo cloud apps (such as Flickr) implement this kind of feature, if they do.

[2018-05-18 08:34] maskaravivek commented on #1525
Its quite simple AFAIK. Android exposes a permission ie. `android.permission.SET_WALLPAPER` that lets the app access `WallpaperManager`

[2018-05-18 14:48] PeterTheOne opened #1527 "Inform users about the freedom of panorama depended on country"
There are countries where one is not allowed to take pictures of public spaces and publish them, see https://en.wikipedia.org/wiki/Freedom_of_panorama .

Users should be informed about this copyright issue depending on their current geo location (country) or the geo location of the image they upload.

[2018-05-18 14:52] nicolas-raoul opened #1528 "Easy to copy/paste copyright/license text"
Browsing Commons is often done for the purpose of using an image (for instance to paste into a blog article).

When using an image, the license must be stated, and the author's name, depending on the license. It is not obvious, so we should help users have the right license/etc notice. We can generate it automatically from the media's metadata and show it to the user in her language, in a textbox

[2018-05-18 19:03] neslihanturan opened #1529 "Commit template verificator"
**Summary:**

We frequently experiences some problems on commit title and description templates. Instead of manually fixing them we can automatize it with a great tool by @refeed (one of our contributors), here is the code: https://phabricator.wikimedia.org/project/profile/2163/

I think we should definitely start to use it and he also offers to send related PR himself. What do you think team?

[2018-05-18 19:18] ujjwalagrawal17 commented on #1529
I think it will be a nice addition.

[2018-05-18 19:34] refeed commented on #1529
Okay, so in the current `commit-message-validator`, the rules for GitHub commit message are:
    - First line <=80 characters
    - Second line blank
    - No line >100 characters (unless it is only a URL)
    - Issue number should not be defined in the header
    - "Closing issue keywords" for closing an issue that is in another
    repository shouldn't be exist.

I'm also about to make it config

[2018-05-18 22:17] neslihanturan opened #1530 "Add a message about why we logged out people"
**Summary:**

According to feedback from users we have to inform them why we logged out them after last release. We can include a message about this.

[2018-05-19 04:44] neslihanturan commented on #1529
Great to hear that you want to implement @refeed . Team if you are okay with implementing this, it will be done during the hackathon. What do you say @misaochan ?

[2018-05-19 06:57] neslihanturan opened #1531 "Wikidata Toolkit"
**Summary:**

Wikidata Toolkit tea came yesterday and said it can be beneficial for us to switch using toolkit (if it is possible technically (Java versions compatibility can be a pain)) for our Wikidata integration.  Currently we don't have too much to do with Wikidata but in near future we can include some cool staffs and a toolkit could be really beneficial. What does team think?

[2018-05-19 08:10] maskaravivek commented on #1448
@misaochan Thanks for clarifying @neslihanturan's point. Yes, tracking the usage of the particular image would let us show such notifications.

Moreover, we can also show the wikidata edits notification in the app by enabling cross wiki notifications.

https://commons.wikimedia.org/w/api.php?action=query&format=json&meta=notifications&notwikis=wikidatawiki|commonswiki|enwiki

IMO, it would be nice

[2018-05-19 08:27] misaochan commented on #1529
Looks great to me especially if we can easily tweak the rules. :) Sorry for the delayed response, hope you guys still have time to work on it.

[2018-05-19 08:51] whym commented on #1531
I believe [Structured Data on Commons](https://commons.wikimedia.org/wiki/Commons:Structured_data) is going to replace some of the metadata we currently write using different templates with Wikidata-style structured data. For this WDTK could be more useful - much of it is still under discussion but we might have a better way to describe the subject of an image (e.g. is there a building or a person

[2018-05-19 09:03] neslihanturan commented on #1529
Can we discuss which rules we want to tweak? So that @refeed can start to work on.

[2018-05-19 10:04] misaochan commented on #1529
His proposal looks perfectly fine to me at first glance:

I don't think we will be able to get community consensus quickly enough over the weekend, so it sounds good to me to start with what he proposed first, and then tweak the details later on after we have more time to discuss it.

[2018-05-19 10:08] misaochan commented on #1531
@neslihanturan What are the benefits of using the Wikidata toolkit over our current implementation? (Besides the compatibility with the future structured data change that whym mentioned)

[2018-05-20 09:59] tanvidadu commented on #85
For the info button on top right corner of the screen, I was thinking of going with Material Showcase to give user information about the different parameters. We can display the tutorial in the starting giving  information about each parameter along with use of information on the use of info button. But later on clicking the info button we can only display information about the different parameter

[2018-05-20 11:47] #1472 closed

[2018-05-20 23:12] seannemann21 commented on #1511
@neslihanturan Do you know where the information regarding whether a user has access to edit content is stored? Is it within the type field of the Account class? Or do I maybe have to make an API call somewhere to access this data? I'm probably way off, but any help would be appreciated since this is my first time working on an open source project!

[2018-05-21 02:12] nicolas-raoul commented on #75
Here is a web-based tool that suggests categories for any image: https://youtu.be/Y9lvXVJCiyc?t=1932
It seems to work quite well, judging from the demo.

If I understand correctly the wiki page calls a mediawiki API which in turn calls a third-party image recognition tool. Having mediawiki in the middle allows the IP address of the user to not be leaked, so I guess we could actually use this right

[2018-05-21 06:41] nikesh-dev commented on #1511
@nicolas-raoul I am just curious to know if anything decided on this? Can you confirm if user will be able to login successfully or not?  By the way, is somebody working on this?

[2018-05-21 07:51] misaochan commented on #1511
It would be best to ask @neslihanturan about this (as she is the only person I know who has been blocked, lol), but AFAIK blocked users can login, except all their uploads will fail.

[2018-05-21 08:18] misaochan opened #1545 "Top crashes on Play Store for v2.7.1"
**Summary:**

Top crashes by number of reports in Play Store dev console. Unfortunately this is all the data we have, we do not get user comments on the dev console nor do we know how to reproduce the crashes. However, we still need to try to fix them before 2.8 #1478 .

 **Commons app version:**

2.7.1 production on Play Store

**Would you like to work on this?**

Please feel free to attempt any

[2018-05-21 13:47] seannemann21 commented on #1511
I was taking a look at it, but if this is important, then someone else may want to do it since this is my first time working on the project

[2018-05-22 04:48] nicolas-raoul commented on #1527
Good idea!

We should advise people in such countries to upload their panorama pictures to a repository that keeps pictures until they fall into public domain due to old age. But unfortunately I haven't found such a repository yet: https://opendata.stackexchange.com/questions/5407/where-to-upload-media-not-yet-compatible-with-wikimedia-commons-licenses-open

[2018-05-22 07:55] misaochan commented on #1511
@seannemann21 I wouldn't say this is necessarily urgent. Anyone who wants to can feel free to try and work on it. :) But it might be a bit tricky indeed. I am not so sure how to find out if the user is blocked, either.

[2018-05-22 09:55] maskaravivek commented on #1511
There's a MediaWiki API that can be used to get information about the user.

https://www.mediawiki.org/wiki/API:Userinfo

In addition to `blockinfo`, the API can be used to get quite a few other user properties as well.

[2018-05-22 11:21] gupta1anubhav commented on #1479
As per by screenshot logs.txt file is stored in external directory + CommonsApp
Hence path is added as "CommonsApp" for name="logs".
I have created a pr for this issue.

![screenshot from 2018-05-22 16-46-24](https://user-images.githubusercontent.com/31107831/40359310-e7a3f5ac-5ddf-11e8-879c-c59bf5ceef13.png)

[2018-05-22 11:33] sivaraam commented on #1511
Just a little suggestion. It might also be better to indicate this by dimming/fading the user profile icon found in the sidebar of the app.

[2018-05-22 13:13] seannemann21 commented on #1511
Ok yeah I found that API after I asked! I wasn't sure if I should make a call to it every time an authenticated activity is opened? Or store the blocked info in one of the objects? I'm not sure if this would lead to too many API calls, but someone could be blocked while they're using the app and then the block status would be outdated

[2018-05-23 07:22] nicolas-raoul opened #1549 "Tool that generates a big page with all screens in all languages"
Sometimes a screen looks totally wrong in a particular language, and we don't know about it before a user is kind enough to tell us instead of giving a 1-star review.

The Wikipedia iOS app is apparently using this: https://i.imgur.com/AowFwBI.gifv

It would be great if we had the same :-)

![screenshot from 2018-05-23 11-49-10](https://user-images.githubusercontent.com/99590/40409265-3b365316-5ea

[2018-05-23 14:38] maskaravivek commented on #1549
This tool looks promising. https://github.com/thyrlian/ScreenshotsNanny

It should be possible to tweak it for taking screenshots in all languages.

[2018-05-23 15:57] misaochan commented on #1549
Interesting! I do think automating this (via the ScreenshotsNanny tool) would be easier than requesting users to do it.

[2018-05-23 17:27] nikesh-dev commented on #1549
@nicolas-raoul Can you please describe little more detailed about this feature and context? Is it something related to stitching screenshot images?

[2018-05-24 02:01] seannemann21 commented on #1511
Also, does anyone know how I can block myself for testing purposes? It seems like I should just be making the API call to check blockinfo like you guys said to check if the user is blocked, but no info concerning being blocked is present in the result (as you can see by following the link below). I am thinking this may be because I am not blocked. Regardless, I'll need to be able to block myself f

[2018-05-24 02:05] seannemann21 commented on #1511
Alternatively, I could check to see if the user has the "edit" right since that is why we are checking to see if the user is blocked in the first place by issuing the following API call found in the following link

[https://en.wikipedia.org/wiki/Special:ApiSandbox#action=query&format=xml&meta=userinfo&uiprop=rights](url)

Any input would be greatly appreciated!

[2018-05-24 02:58] nicolas-raoul commented on #1511
@seannemann21 Please ask here: https://commons.wikimedia.org/wiki/Commons:Village_pump
Thanks! :-)

[2018-05-24 03:12] seannemann21 commented on #1511
Thank you very much!

[2018-05-24 11:32] nicolas-raoul opened #1550 "Duplicated category suggestions"
**Summary:**

Categories suggestion contains duplicates

**Steps to reproduce:**

In the categories sggestions screen, search for "oculus go"

 **Commons app version:**

2.7.1-debug-search_activity_mock~27e5e9c7

**Screen-shots:**

![screenshot_20180510-201423](https://user-images.githubusercontent.com/99590/40482984-7132960e-5f91-11e8-96a8-ffe6f4669a3c.png)

**Would you like to work on the issue?

[2018-05-24 12:34] #1516 closed

[2018-05-24 17:59] diddypod commented on #1298
Hello

Again, sorry for the delay. I've been working on this for the past couple of days and I have found these tools
- https://www.mediawiki.org/wiki/Extension:ConfirmEdit  which will let you generate captchas
- https://www.mediawiki.org/wiki/API:Account_creation  to create accounts

API:Account Creation needs a CAPTCHA to work, but I haven't been able to use the Extension using the APIs.

The al

[2018-05-24 18:35] seannemann21 commented on #1511
Thanks! just to double check, did you block the seannemann21 or the seannemann1234 user?

[2018-05-24 18:39] seannemann21 commented on #1511
Looks like the seannemann 21 account! Thank you very much! Everything appears to be working, well as far as the api call to check for a block. Should be able to get the rest of the stuff finished for this issue in the next day or two. Sorry, I've been a little busy

[2018-05-25 01:49] seannemann21 commented on #1511
@revi sorry, I am getting some unexpected behavior. Which account did you block?

[2018-05-25 05:12] daivat15 commented on #1549
@maskaravivek I looked at the link you posted. Is there any way to loop through all the available activities, and all the available languages? The tutorial given has manually done it for some activities. That's a little tedious in our case. I was unable to find a suitable method so far.

[2018-05-25 07:37] misaochan commented on #1298
@diddypod Thanks for the effort that you put into this. I am inclined to agree with you - as mentioned, I also tried to implement this a couple of years ago and ran into the same roadblocks. An additional concern is futureproofing - if we use the WebView, any changes that WMF makes to the signup process will automatically be incorporated, whereas with our own implementation we would need to keep o

[2018-05-25 10:30] misaochan commented on #465
Would like to bump this issue, as arbitrary splitting of lines is a huge headache IMO. This is especially due to the fact that oftentimes the lines themselves are not that long, but indentation (which is necessary for easy reading of code) makes them exceed the "ideal" length.

I strongly feel that in most cases, just having 1 line of code is much more readable than something like:

[code]

In thi

[2018-05-25 14:07] seannemann21 commented on #1511
OK I'm just kinda thinking out loud here. It appears seannemann1234 is the account that is blocked, but once I sign into the account the is blocked, if I sign out and then sign into an account that is not blocked, without closing the app, then this account will be blocked for the duration of this session as well. Also, if I am automatically logged in upon opening the app (i.e. I didn't log out bef

[2018-05-25 14:16] gupta1anubhav commented on #1550
@nicolas-raoul I have figured out the issue and I am working on it.

[2018-05-25 14:21] revi commented on #1511
https://commons.wikimedia.beta.wmflabs.org/wiki/Special:Log/Revi would tell you what account is blocked.

[2018-05-25 14:30] seannemann21 commented on #1511
Thanks! That seems to makes sense. Just confused me that when I sign into one account, then the rest show as blocked unless I close out of the app

[2018-05-25 15:38] psh commented on #465
If you're using decent length method and variable names (for clarity) then the line can get pretty long too.  I would favour either increasing the "ideal" length or dropping the check entirely but lean toward dropping the check.

[2018-05-25 17:40] #1493 closed

[2018-05-26 06:06] diddypod commented on #1298
Thank you. Please close this :)

[2018-05-26 06:41] ujjwalagrawal17 opened #1553 "Explore option (for Browsing)"
**Summary:**
Apart from "featured Images" that are already in the app there should be a option for people to view all "picture of the day". We can put a common option in navigation drawer named "Explore " and place both categories inside them along with a search icon. We can, later on, customize explore activity more for browsing feature.

 **Commons app version:**
2.7.1-debug-explore_activity

**

[2018-05-26 08:19] #1298 closed

[2018-05-26 14:30] ashishkumar468 commented on #1501
@VojtechDostal @maskaravivek Could you guys point me to some api for image upload, as in from where I could see what all languages are supported and what exactly would be the key used for a language while uplaod

[2018-05-26 15:56] psh commented on #1549
My team do a lot of automated testing across a whole host of different phones.  A tool we have used is [Spoon](http://square.github.io/spoon/) as it distributes the tests to all connected devices and as part of the run **takes screenshots**.  Your code can also trigger screenshots *in code* where needed.

Spoon is designed to run either standalone or as part of your CI pipeline so there might be a

[2018-05-27 10:05] misaochan commented on #85
Just the info button will do for now I believe, we can consider additional improvements after the MVP is finished. :) My thoughts on level requirements as you requested (others, please feel free to comment):

Level 2
Images used by Wikipedia articles: 5
Percentage of uploads NOT reverted: minimum required 85%
Images uploaded: 20

Level 3
Images used by Wikipedia articles: 10
Percentage of uploads

[2018-05-27 15:43] misaochan opened #1556 "Allow users to easily re-upload failed uploads, and provide reasons for failure where possible"
Suggestion on our FB page:

Thoughts? This would be a useful enhancement IMO, but not sure how easy/feasible implementation will be since there are all sorts of reasons why uploads fail.

[2018-05-27 16:01] neslihanturan commented on #1556
Isn't it already one click?

[2018-05-27 17:51] neslihanturan opened #1558 "Gamification in general"
**Summary:**

It seems like for long time we are planning to add some gamification to our app. And currently it is almost happening. So, I think it is good time to organize gamification.

**Accesibility:**
- I think adding separate items to navigation menu would look too complicated. Instead we can add an item for gamification in general. Under that item user can access to all fun stuff, example m

[2018-05-27 17:53] neslihanturan commented on #1473
I recorded 4 video by the way, will share with you soon:)

[2018-05-27 17:53] #1448 closed

[2018-05-27 18:10] neslihanturan opened #1559 "Include peer review to app"
**Summary:**

As you know, peer review #780 is roughly working. This issue will contain required steps to include it to our master codebase.

- UI: currently we used a viewpager and at each different question whole page swipes which is bad. I think the part of the page that includes question should move on next question, but image should stay still.
- UI: Refresh button should change. I didn't thi

[2018-05-27 19:48] gupta1anubhav opened #1560 "Nearby Places Crash"
### Summary:
If I cancel request to enable GPS as well as cancel the request for location permission, then the app crashes first going back to home page quickly and then crashes.

### Add System logs:
[code]

### Device and Android version:

Redmi Note 4 (API 24)

### Commons app version:

2.7.1 prod debug build, beta debug build

### Would you like to work on the issue?

Yes, I want to work on th

[2018-05-27 20:26] seannemann21 commented on #1511
The authcookie should be cleared upon logging out, correct?

[2018-05-28 02:53] nicolas-raoul commented on #1556
@neslihanturan One click on what? I have a failed upload and I don't know how to re-upload it. Is it the rounded "Back" arrow in the upper right? This icon usually means "Cancel", so I am afraid it would loose the image+metadata I entered.

[2018-05-28 06:57] nicolas-raoul commented on #1559
I would be in favor of releasing the feature without spending time polishing it because:
- Only a few people will try the feature, I guess.
- Right now there are less than 100 uploads per day, so an inconvenient UI is not a big problem.
- Maybe we will discover some fundamental things that will require us to completely change how peer review works. So the polishing effort would be in vain.

But I

[2018-05-28 07:48] misaochan commented on #1556
@neslihanturan Do we already have a method of reuploading failed images? This is news to me!

To clarify, I think the suggestion meant a sort of "retry" button on the failed upload in Contributions screen.

[2018-05-28 09:03] neslihanturan commented on #1511
@seannemann21 I can't guarantee everything is cleaned on logging out (but of course it should be).

When it comes to where to make API call, what about checking it on upload process? Since user won't be able to upload when they are blocked. Besides we can check it on notification fetch (in notification acitivty).

[2018-05-28 09:21] revi commented on #1511
Logging in with blocked account set a cookie which you should honor [T5233](https://phabricator.wikimedia.org/T5233), and there’ll be a new cookie when anon IP is blocked [T152462](https://phabricator.wikimedia.org/T152462) and when the account is locked (prevented login)[T158473](https://phabricator.wikimedia.org/T158473).

[2018-05-28 09:51] misaochan commented on #1558
Interesting suggestion! My initial thoughts on gamification was that it should be organically woven into existing features/activities, rather than a whole new "Play" activity. For instance, statistics/badges would be viewed via an icon (maybe trophy icon?) next to the username, review would be integrated into the "Browse" activity... and we don't have a Nearby game just yet, but if we did I would

[2018-05-28 09:53] misaochan commented on #1473
Great, looking forward to it!

Should we keep this open until we have the links up?

[2018-05-28 10:05] neslihanturan commented on #1473
Yes I think we can discuss under this thread instead of creating a new issue

[2018-05-28 10:16] neslihanturan commented on #1558
I can say several reasons to separate it.
- Increasing accessibility and emphasizing that you can have fun and improve the knowledge makes our games more attractive. For a user who rarely uses nearby activity, it can be very hard to discover our nearby game (I mean our nearby game in future:)). But I think pretty much everyone would discover all games when they are together. _So separate nav menu

[2018-05-28 10:39] nicolas-raoul commented on #1558
I think what we have currently in development is "light gamification", which means making normal tasks a bit more fun, and giving some positive feedback.

After we implement several games, such a screen would be nice indeed.

Some people may object to the use of the term "game". Here is a famous precedent though: https://tools.wmflabs.org/wikidata-game/distributed/

[2018-05-28 13:05] seannemann21 commented on #1511
Thanks! That would make sense to do it on the upload process! Seemed odd to have it pop up whenever you opened any authenticated activity

[2018-05-28 13:08] seannemann21 commented on #1511
Also thanks for the cookie info! For the record, I misspoke before when I said if you close the app you'll be able to sign into an unblocked account and have full functionality. You have to reinstall it to regain full functionality if you signed into a blocked account before

[2018-05-28 13:20] neoliteconsultant commented on #1560
I start working on this

[2018-05-28 13:43] neoliteconsultant commented on #1525
I start working on this

[2018-05-28 14:50] misaochan commented on #1556
@neslihanturan Oh wow, I had no idea LOL! That's actually great, that means we can reuse the logic. I definitely think the button should be in contributions activity, not just in media details. Perhaps in the lower right corner of any failed upload?

[2018-05-28 15:37] ujjwalagrawal17 commented on #1521
@nicolas-raoul @neslihanturan We can discuss here that we should make a new Activity for exploring or refactor the code of CategoryImagesActivity (featuredActivity). @nicolas-raoul Can you catchup the discussion at #1561 .

[2018-05-28 16:19] misaochan commented on #1558
Thanks for the explanation, @neslihanturan . I guess my concern is that our navigation bar, and also the app itself, is already getting very cluttered. We will soon be adding "Browse" to our nav bar (which can hopefully be united with Featured and Review). This means we have 10 nav bar items, and with "Play" there will be 11. I guess I personally feel that would be warranted if there was an actual

[2018-05-28 19:09] neslihanturan commented on #1521
Let's continue here:
 **misaochan**

**neslihanturan**

[2018-05-28 19:20] ujjwalagrawal17 commented on #1521
I already made a few mock-ups.
![](https://i.imgur.com/aIcCHcl.png)
![](https://i.imgur.com/yWZdGwd.jpg)
I thought We can start with only featured images. Later on we can integrate picture of the day and customise it more.

Yes I will share some more mock ups for explore feature tomorrow!

[2018-05-28 22:28] seannemann21 commented on #1511
I think I am just going check for the block when an authenticated activity is created, using a snackbar to inform the user since that was what was originally asked for

[2018-05-28 23:01] seannemann21 commented on #1511
Also I noticed that if two snackbars are shown on screen, then the second will immediately replaced the first. I could create a queue to handle snackbars, but should a create a separate issue for this?

[2018-05-28 23:59] seannemann21 commented on #1511
@revi can you block the seannemann21 account with a block at expires sometime tomorrow? Anytime works. I wanna see how expired blocks work (like if any information is returned from the api call)

[2018-05-29 03:48] maskaravivek commented on #1525
@neoliteconsultant a PR is already up for it. Please check for other tasks. :)

[2018-05-29 04:28] nicolas-raoul commented on #1521
I believe this would be the best:
- One single item in the left menu called "Explore"
- Touching "Explore" show the featured images and a search icon in the corner
- Touching the search icon brings the search screen as implemented in this request
In other words, like @ujjwalagrawal17 implemented looks great to me :-)

[2018-05-29 07:15] neslihanturan commented on #1556
Actually current one looks like email redirect button to me:D So definitely we should change it. We should add it to contrib activity, I agree @misaochan . Besides, we should check functionality (as I said I never experienced it worked). Ideally it can give possible fail cause if we found any (such as your account blocked or weak internet connection snackbar) .

[2018-05-29 07:18] neslihanturan commented on #1521
Usage of tabs solved all unclarity for me. So for now I will merge @ujjwalagrawal17 's PR, then he can add other tabs on another PR.

[2018-05-29 07:35] #1518 closed

[2018-05-29 07:38] nicolas-raoul commented on #1550
Could you please post what the Mediawiki API sends?
I suspect that the API does not send duplicate, and the app has a kind of bug that creates duplicates.
If it is the case, then we should fix the bug rather than add de-duplication.
Thanks! :-)

[2018-05-29 08:07] ujjwalagrawal17 commented on #1522
This issue is fixed and can be closed now.

[2018-05-29 08:08] nicolas-raoul commented on #1522
Thanks! :-)

[2018-05-29 08:08] #1522 closed

[2018-05-29 08:15] gupta1anubhav commented on #1550
Sorry @nicolas-raoul I am not able to find what Mediawiki API sends if you could help that would be great
In my opinion, duplicates could be because we are merging results from search categories and all categories on the same string.

[2018-05-29 08:19] misaochan opened #1563 "Dex archives: setting .DEX extension only for .CLASS files"
**Summary:**

I frequently encounter the error "Dex archives: setting .DEX extension only for .CLASS files" when trying to build in AS. Cleaning and rebuilding solves the issue, but wastes a lot of time as it happens so frequently.

**Steps to reproduce:**

Build in AS from various branches with different build variants.

**Add System logs:**

Dex archives: setting .DEX extension only for .CLASS f

[2018-05-29 08:26] ujjwalagrawal17 commented on #1521
Also we can maybe add write some content in the page similar to website -
**Highlights**
If you are browsing Commons for the first time, you may want to start with Featured pictures, Quality images or Valued images.

or maybe we can include main website link at the bottom too.[https://commons.wikimedia.org/wiki/Main_Page]

[2018-05-29 08:38] nicolas-raoul opened #1564 "Featured pictures: Show in recency or random order, rather than alphabetical order"
Currently, featured pictures are shown in alphabetical order.

As a consequence, users will always see the same pictures.
In particular, nobody will ever see all of the featured pictures that do not start with a quote or digit character.
This is boring for users, they will not scroll featured pictures twice. Even in one year the pictures show will be the same, with 1 or 2 exceptions maybe among hu

[2018-05-29 08:52] nicolas-raoul commented on #1521
Most Commons users do not know what is the difference between quality and valued images, and don;t really need to know.
They just want to see nice images.
So, how about hiding these technicalities, and just showing pictures in this order:

1. The picture of the day
2. All of the pictures for the first page (page in the meaning of query paging) of featured images
3. All of the pictures for the firs

[2018-05-29 11:08] loydjayme25 opened #1565 "Icon/Logo Proposal"
Hello, i am willing to submit my design for your project.

[2018-05-29 12:03] neoliteconsultant commented on #1564
I start working on this

[2018-05-29 13:56] neslihanturan opened #1566 "Code quality: make contributions and featured activity use same code"
**Summary:**

Currently Contributions Activity and Featured Activity includes several copy pasted codes. They should be organized by inheritance

**Would you like to work on the issue?**

In two weeks, yes

[2018-05-29 15:49] VhanIrving11 opened #1567 "Logo Proposal"
Hello !
can i submit a design ?

[2018-05-29 17:03] maskaravivek commented on #1566
Yes, ideally contributions activity and featured activity could share a lot of code. Just the data source would be different, other than that the UI rendering, scrolling logic and list adapter logic can be shared.

It would be great to pick up this cleanup as more and more browsing features are being added.

[2018-05-29 22:44] TacoTheDank commented on #1565
I really wish you utopian.io people would stop going around on well-known projects trying to submit designs, especially for something like AN OFFICIAL WIKIPEDIA APP

[2018-05-29 22:45] TacoTheDank commented on #1567
T_T

[2018-05-30 02:49] nicolas-raoul commented on #1564
@neoliteconsultant Thanks! :-)

[2018-05-30 02:55] nicolas-raoul commented on #1565
@loydjayme25 Sure feel free to link to your SVG here. Cheers! :-)

[2018-05-30 02:56] nicolas-raoul commented on #1567
Duplicate of #1565

[2018-05-30 02:56] #1567 closed

[2018-05-30 05:18] ujjwalagrawal17 commented on #1553
Some of the discussion on this feature is already done in #1521
I am attaching the some discussion here-

I found that except Featured Image - Quality Images, Valued Images, and Picture of the day can also be shown in explore page.

<tr>
<td>

![screenshot_20180525-152200](https://user-images.githubusercontent.com/19607555/40646470-dc5c6e60-6346-11e8-9445-b1c85ff406eb.png)

</td>
<td>

![screensho

[2018-05-30 05:31] ujjwalagrawal17 opened #1569 "Search Image History"
**Summary:**
This is an enhancement to #1521 (Search Images feature)
When the user touches the search icon in explore tab they see a blank screen. Instead, we can show the search history on the screen.

 **Commons app version:**
2.7.1-debug_rename_featured-df82383

**Screen-shots:**

![screenshot_20180528-125309](https://user-images.githubusercontent.com/19607555/40700734-6f3e1920-63f8-11e8-80d3-f

[2018-05-30 06:01] maskaravivek commented on #1553
I like @ujjwalagrawal17's idea of using a heterogeneous recycler view with different kind of cards. The wikipedia homepage also uses cards very pleasantly. Attaching screenshots of how it looks.

| 1  | 2 | 3  | 4 |
| ------------- | ------------- | ------------- | ------------- |
| ![img-2722](https://user-images.githubusercontent.com/3069373/40701401-72fd8fca-63fb-11e8-99d4-d801328c3d67.JPG)  |

[2018-05-30 06:18] loydjayme25 commented on #1565
@nicolas-raoul  okay sir, many thanks !

[2018-05-30 07:46] nicolas-raoul commented on #1569
That would be great indeed :-)

[2018-05-30 08:50] neslihanturan commented on #1553
I think cards are quite cool but, I also agree to @nicolas-raoul about hiding technical details. Since currently we add several new things to app, we should protect simplicity.

[2018-05-30 09:07] #1521 closed

[2018-05-30 09:08] ujjwalagrawal17 commented on #1521
This feature is added so I am closing this issue :)

[2018-05-30 09:15] neslihanturan commented on #1521
Thanks!

[2018-05-30 09:30] misaochan commented on #1566
Agreed, this would be useful.

[2018-05-30 09:38] misaochan commented on #1553
The cards look great to me personally, especially in the way that the Wikipedia app designed them. However, I have also had issues with the Wikipedia app where the main screen was just too complex - I couldn't keep track of which cards I had viewed and why there were so many of them. If we did use cards, I would actually put "Valued/Quality/Featured" all under ONE card view, and then "All" under a

[2018-05-30 09:44] misaochan commented on #1556
@neslihanturan Agreed, we should try and display more informative messages when an upload fails. Although that does depend on how much information we can get from the server about the fail cause to begin with.

[2018-05-30 09:49] neslihanturan commented on #1502
Great idea!

[2018-05-30 10:11] #1525 closed

[2018-05-30 12:15] maskaravivek commented on #923
I have created a phab task hoping that someone replies about how to get our own Wikidata tag.

https://phabricator.wikimedia.org/T195960

[2018-05-30 14:37] loydjayme25 commented on #1565
colors can be change depending of your choice.

[2018-05-30 15:40] neoliteconsultant commented on #1564
Hey @nicolas-raoul

How do I get the featured images to show for the commons beta app? At the moment I am unable to test

[2018-05-30 16:28] tanvidadu commented on #85
For level up badges I was thinking of designing single structure which can be done used for different level with few changes like color, level up information.
This approach will provide allow us to have flexibility in terms of increasing the no of levels as an when required without actually increasing or designing more badges. And also maintain the size of the apk.

In Middle I will be writing the

[2018-05-30 16:35] maskaravivek commented on #1564
The featured images category on the commons beta site has no images, that’s why the list is showing as empty. Am not sure how to get an image featured for testing. :(

[2018-05-30 20:11] neslihanturan commented on #1565
Thanks for your suggestions @loydjayme25 . But since our app is about Commons, I think the logo should seem similar to Commons logo. Maybe it is better to ask questions about desired design of team here. We can discuss forst and then you can implement, so that we prevent you from wasting your time.

Questions like do we really need to change our logo, color choices, shape, shadow etc.

[2018-05-31 00:41] seannemann21 commented on #1511
@revi let me know if you are/arent able to unblock/block those accounts!

[2018-05-31 01:07] misaochan commented on #85
As I mentioned to Tanvi earlier, I personally prefer option 2 (without the Commons logo, which I find too cluttering :)). But would love to hear others' thoughts!

[2018-05-31 01:19] misaochan commented on #1564
Is there a need to test featured images on beta, though? Beta build variant is mostly only needed if you need to upload a lot of nonsensical pictures for testing, which doesn't appear to be necessary for this.

[2018-05-31 02:03] nicolas-raoul commented on #1565
I agree with @neslihanturan , the WMF Commons official logo is hard to beat. It is recognized immediately by most Commons users. A new design would have to be incredibly wonderful to surpass this advantage.

[2018-05-31 04:33] maskaravivek commented on #1560
@gupta1anubhav Can you pick this up and fix it. :)

[2018-05-31 06:56] neslihanturan commented on #1565
One more thing, if you are a designer who want to contribute, we have design tasks frequently. You can check current issues and find something else. For example #85 can have something related to design

[2018-05-31 06:59] neslihanturan commented on #85
Maybe putting Commons logo on flat area of option 2 would look better?

[2018-05-31 10:03] tanvidadu commented on #85
Thanks @neslihanturan :)
After putting the logo in Option 2 , it looks something like this :
![badgewithlogo](https://user-images.githubusercontent.com/29161745/40775196-1abb583e-64e5-11e8-8688-9d94923e5232.png)

[2018-05-31 12:06] nicolas-raoul opened #1571 ""Error occurred while loading images" on empty search"
**Steps to reproduce:**

1. Open search
2. Type some long random word

**Expected behavior:**

Empty results

**Observed behavior:**

Error message is displayed.

Also, "null" should probably be the search string?

 **Commons app version:**

2.7.1-debug-rename-featured

**Screen-shots:**

![screenshot_20180531-210051](https://user-images.githubusercontent.com/99590/40781289-473ed922-6516-11e8-98f4

[2018-05-31 12:13] nicolas-raoul opened #1572 ""No images matching" message does not really disappear when performing new another search"
**Steps to reproduce:**

1. Open search
2. Type some long random word
3. As expected, the "No images matching" message appears
4. Now erase and type "nice"
5. Results appear
6. Scroll fast downward
7. Under the non-yet loaded images, you can see the error message left from step 3

 **Commons app version:**

2.7.1-debug-rename-featured

**Screen-shots:**

![screenshot_20180531-210925](https://user-

[2018-05-31 12:41] loydjayme25 commented on #1565
okay sir, ill check it and improve my design.

[2018-05-31 12:44] ujjwalagrawal17 commented on #1571
Yes, I also noticed this issue. I will fix this issue.

[2018-05-31 12:45] ujjwalagrawal17 commented on #1572
Yup, I also tested this issue is there. thanks for telling I will fix it.

[2018-05-31 15:46] seannemann21 commented on #1511
I'm going to go ahead and submit a pull request since the only thing I was afraid of was if when a block expired, the block information still remained when you queried the API for block info; however, I am now checking the actual expiration time of the block as opposed to just checking if an expiration time exists.

Thank you very much to everyone that helped me! Also, sorry it took so long! I was

[2018-05-31 15:49] revi commented on #1511
Sorry, was busy IRL. Done.

[2018-05-31 15:51] seannemann21 commented on #1511
Thanks! Can you actually change that expiring block to an hour from now?

[2018-05-31 16:00] seannemann21 commented on #1511
Actually don't worry about it. Thanks!

[2018-05-31 17:08] revi commented on #1511
Actually unblocked. (Since it was over 1h)

[2018-05-31 17:09] seannemann21 commented on #1511
Thanks!

[2018-05-31 20:00] maskaravivek commented on #923
As pointed out in the phabricator discussion, it should be trivial to add the tags by making another API call just after a successful edit is made.

Moreover, I have requested the Wikidata Administrators to create a new tag for us. :)

[2018-06-01 03:39] whym commented on #465
I feel like a higher threshold might be better than no warning at all. If we keep it high enough, we could pass nearly all intentional cases while catching some careless (and fixable) mistakes.

For example, "> 140 characters" would result in 92% reduction of detection (423 violations → 32). At 120, it would be 71% reduction. Here is a chart showing line length vs occurrences:
![linelength](https:

[2018-06-01 09:36] whym opened #1574 "SettingsActivityTest fails due to undeclared dependencies"
**Summary:**

SettingsActivityTest fails due to undeclared dependencies. This happens locally and on Travis-CI.

**Steps to reproduce:**

Run `gradle :app:testBetaDebugUnitTest` with an emulated/real device connected.

It will give:
[code]

**Expected behavior:**

There should be no error in the test log.

**Would you like to work on the issue?**

Yes (assigned).

[2018-06-01 12:33] nicolas-raoul commented on #1571
null problem is fixed, thanks :-)

[2018-06-01 12:33] nicolas-raoul commented on #1572
Fixed, thanks!

[2018-06-01 12:33] #1572 closed

[2018-06-01 12:46] nicolas-raoul opened #1579 "Explore crashes when rotating screen"
**Steps to reproduce:**

1. Open "Explore"
2. Rotate screen

**Add System logs:**
[code]

 **Commons app version:**

2.7.1-debug-browse-commons-via-app

[2018-06-01 16:05] #1574 closed

[2018-06-01 17:58] psh commented on #465
@whym - you ignited my competitive nature - if we set the line length to 140, then 32 violations is totally doable to fix.  Anyone else feel up for the challenge of shooting for zero?  😁

[2018-06-01 20:21] maskaravivek commented on #923
Yay! We have our own tag(`wikimedia-commons-app`) created for Wikidata edits. Can someone thank the admin in the above thread, I am not sure how to post a reply. :(

[2018-06-02 04:41] nicolas-raoul opened #1580 "Search results sometimes appear twice"
It is hard to replicate, but I had this happen yesterday and today after editing the search string for 10 minutes.

Yesterday I got a search with 50 results, but the 25 last were the same as the 25 first.
Today I got the same result twice. Strangely the result does not even match the search string. Also I know that Commons contains an image that matches this search string, but it is not the image

[2018-06-02 10:53] TGar21 commented on #861
@Bluesir9 Is this fixed on current Google Play version? I am new here, I just downloaded the app and I run into this crash.
If this should be fixed, can I create a new issue?

Environment: HTC 10, Android Oreo, version 2.7.1 from GP
Log:
`06-02 12:44:46.199 12044 12044 E AndroidRuntime: FATAL EXCEPTION: main
06-02 12:44:46.199 12044 12044 E AndroidRuntime: Process: fr.free.nrw.commons, PID: 12044

[2018-06-02 11:35] nicolas-raoul commented on #861
@TGar21 Yes please create a new issue, thanks for your feedback!

[2018-06-02 14:14] nicolas-raoul commented on #1571
@sivaraam Yes I switch branches and build every time.
There is a beta version but it is only updated every month or so. This could make beta more up-to-date: #1056
The current situation is even more complex since most development is taking place in two branches rather than on master. I think these two branches should be merged to master as often as possible, but that's sometimes not possible when

[2018-06-02 15:32] TGar21 opened #1581 "Crash after granting permission."
**Summary:**
Commons crashing during granting a Location permission aftr first run. I am using Oreo device.
See the video: https://www.dropbox.com/s/3aig57i1x6pdcok/2018_06_02_17_20_08.mp4?dl=0

**Steps to reproduce:**

1. Turn off the GPS permission
2. Clear data
3. Start app
4. Go through the onboarding and sign in
5. Press menu icon and choose Nearby option
6. Dialogue asking for GPS permission

[2018-06-02 15:35] TGar21 commented on #861
Created #1581

[2018-06-02 17:34] VojtechDostal commented on #1556
I remember this worked for me at least once. The reason behind the fail was loss of internet connection *during* upload.

[2018-06-03 04:44] Bluesir9 commented on #861
@TGar21 The stacktraces of the 2 crashes look different. The crash you encountered is caused because of calling "getLatitude" on a null "Location" object. So yeah, creating a new issue was the right thing to do.

[2018-06-03 07:55] maskaravivek commented on #923
I get the following error while adding the `wikimedia-commons-app` tag using logged in user's token. Does this API require any special permission?

[code]

The same API works for me in the sandbox.
https://www.wikidata.org/wiki/Special:ApiSandbox#action=tag&format=xml&revid=689454815&add=wikimedia-commons-app&token=2b9cbcfd21ea10b557a579a865be9a025b138621%2B%5C

[2018-06-03 08:04] maskaravivek commented on #923
@VojtechDostal @nicolas-raoul Once the logs are in place, this query can be used to track the edits made using the Commons app.

https://www.wikidata.org/w/index.php?hidebots=1&translations=filter&hidecategorization=1&tagfilter=wikimedia-commons-app&limit=500&days=30&hideWikibase=1&title=Special:RecentChanges&urlversion=2

[2018-06-03 08:16] nicolas-raoul commented on #923
@maskaravivek Thanks! I added the URL to the list of things to patrol, at https://commons.wikimedia.org/wiki/Commons:Mobile_app :-)

[2018-06-03 08:21] nicolas-raoul commented on #1581
Thanks for this great issue report, and for offering to start working on it, please let us know about everything you find out :-)

[2018-06-03 10:05] whym opened #1582 "Make the use/lack of "File:" prefix explicit in variables storing file names"
**Summary:**

All Wikimedia Commons files have the "File:" in their titles on the website. We have variables called 'filename' everywhere in the source code which may or may not expect the prefix, which is confusing. I believe clarifying this will make our lives a little bit easier.

Suggestions:

* Use `PageTitle` which has `getPrefixedText()` and `getText()` where appropriate.
* Update the docum

[2018-06-03 10:09] whym commented on #1582
What do you think?

One possible problem is that `PageTitle`'s methods perform (at least for now) string manipulation dynamically and there might be (very minor) performance issues. I think it is mostly negligible though.

[2018-06-04 07:52] misaochan commented on #923
Implemented

[2018-06-04 07:54] misaochan commented on #252
Thanks so much everyone! It seems our minimum viable product for P18 edits and logging is complete. :) Shall we merge the `wikidataEdits` branch into master now? After we have completed the other requirements at #1478 , we can push a beta release.

[2018-06-04 08:04] misaochan commented on #1478
Bumping this as 2.8 will be scheduled soon with the completion of P18 edits. :) I think that once the urgent bugs/crashes are fixed, we will be good to go, hopefully by the end of this week or early next week. I have moved various large and non-urgent tasks down since including them in 2.8 would delay the release of P18 edits.

[2018-06-04 08:32] nicolas-raoul commented on #1485
One by one.
I almost never use the multiple photo upload feature.

On Mon, Jun 4, 2018 at 5:24 PM, Josephine Lim <notifications@github.com>
wrote:

[2018-06-04 08:39] misaochan commented on #1485
Thanks @nicolas-raoul ! Do you also remember where your photo was stored (SD card or device)? Do you ever share from Google Photos?

[2018-06-04 08:40] misaochan commented on #465
Setting the line length to 140 sounds good to me! :)

[2018-06-04 11:09] neslihanturan opened #1585 "Discussion: Moving to Gitlab?"
**Summary:**

Thanks to Microsoft is buying Github news, several projects are moving to Gitlab. Biggest handicap of moving Gitlab was, majority of projects and users were on Github. But current migration can change this situation and there is nothing that prevent us from migrating to Gitlab, a free software.

What do you think team?

[2018-06-04 11:52] misaochan opened #1586 "Display "what's new" popup the first time a user updates to new version"
Most people don't read changelogs on the Play Store, especially if their apps are set to auto-update. Some apps get around this by having a "What's new?" popup the first time a user updates, displaying a summary of changes that users are likely to find interesting.

Thoughts on us doing this? Pros: Some of our new features aren't very easy to discover, so having them all in one place might increas

[2018-06-04 12:07] misaochan commented on #1462
Good point. It seems that unlike Wordpress, we cannot make a blog with multiple authors though? Every person seems to have their own "Stories" which may be included in a "publication", so since we don't want to be a publication ourselves, we can't really create a "Wikimedia Commons app" blog per se, right?

Does anyone know who the curator of https://medium.com/freely-sharing-the-sum-of-all-knowle

[2018-06-05 02:46] nicolas-raoul commented on #1586
How about doing it only when really needed?
In particular, not for bugfix releases.

[2018-06-05 02:52] nicolas-raoul commented on #1585
While I preferred GitLab (which I use at work) to GitHub even before it was bought by Microsoft, requiring every contributor to create a GitLab account adds a barrier of entry.
I would be a bit like asking your friends to add you on Diaspora instead of Facebook: It is undeniably better, but almost nobody is there :-/

[2018-06-05 07:37] ujjwalagrawal17 commented on #1478
@misaochan when are we releasing the beta for version 2.8. It would be great if we could include browsing images feature too. Searching images feature is already ready (some improvements are needed). Also, recent searches feature will be merged soon. I think it would be ready by end of this week or early next week at max.

[2018-06-05 07:43] ujjwalagrawal17 commented on #1571
@nicolas-raoul What should I show in snackbar? Do we need to show the same message at No Image text view?

[2018-06-05 08:11] misaochan commented on #1586
Yeah, it should definitely be only done for major releases, if we go with this.

[2018-06-05 08:11] nicolas-raoul commented on #1571
No snackbar is needed when no match is found.
The "No images [...] found" text view is enough :-)

[2018-06-05 08:12] ujjwalagrawal17 commented on #1571
Ok I will fix it.

On Tue 5 Jun, 2018, 1:41 PM Nicolas Raoul, <notifications@github.com> wrote:

[2018-06-05 08:18] misaochan commented on #1478
@ujjwalagrawal17 Hmm. We plan on releasing the beta late this week or early next week, but generally the last 1-2 weeks before the beta is released are reserved for testing and fixing bugs. Where possible, we tend to avoid adding new features in that time frame, as they also need to be tested and any bugs fixed, which would take another week or so.

How about we include your complete project in 2.

[2018-06-05 08:23] nicolas-raoul opened #1589 "Crash after installing previous version of app"
When we add a new feature, there will always be 0.1% of people who hate the new feature so much that they switch back to the previous version of the app. I think that has happened to many of us too, and if they prefer that version well why not.

Problem: After switching to a previous version, any attempt to start the app is met with this crash:

![screenshot_20180605-172011](https://user-images.gi

[2018-06-05 08:32] misaochan commented on #724
Closing this as there are no further reports of the issue.

[2018-06-05 08:32] #724 closed

[2018-06-05 08:34] misaochan commented on #705
This can start after #1091 is closed via #1552 , I think. My previous comment was made before we created #1091 as a subtask of #604 . With that subtask done, we can start writing tests for the single uploads, and then add multiple upload tests when multiple uploads are completed.

[2018-06-05 08:54] whym commented on #465
So it seems that we can close this issue with the 100 -> 140 change?

We might want to revisit this (and perhaps slightly decrease the threshold if we manage to achieve zero violations at 140) - I'd suggest a separate issue page for that.

[2018-06-05 09:19] misaochan commented on #1452
Any updates on this @Maeglad ? :)

[2018-06-05 09:33] #465 closed

[2018-06-05 09:34] misaochan commented on #465
Sounds good. Thanks @whym ! :)

[2018-06-05 11:36] Maeglad commented on #1452
I have done logic to calculate bearing from values of magnetic and accelerometer sensor, but right now I'm struggling a bit with rotating marker on map. Marker has no methods to rotate icon. From documentation of mapbox I learned that I should use SymbolLayer and iconRotate property of layer to rotate icon. I'll try it out and keep you updated how it is going.

[2018-06-05 16:38] #1091 closed

[2018-06-05 16:41] maskaravivek commented on #705
Will pick up the upload tests after 2.8.0 release tasks are completed. :)

[2018-06-05 18:49] TGar21 commented on #1581
I am sorry I won't be able to finish this I have less time than I thought I'll have. But I found out that the problem is that the line:

`lastKL = locationManager.getLastKnownLocation(LocationManager.NETWORK_PROVIDER);`

 in the method getLKL() in the class LocationServiceManager can return null.

It is there as the second option used if the getLastKnownLocation with the GPS_PROVIDER returns null,

[2018-06-05 23:40] whym commented on #1589
Going forward, it seems like we can use https://developer.android.com/reference/android/database/sqlite/SQLiteOpenHelper.html#onDowngrade(android.database.sqlite.SQLiteDatabase,%20int,%20int) . Or if not, can we offer to delete the (too new) database when the old app is started?

For the versions that are already released, a section or a page in the documentation would be better than nothing. (on

[2018-06-06 05:03] hismaeel commented on #161
Hello
I do not know how to get the edit working, or is the edit call broke? I wrote a python script to get the login token, login then, get edit token, and make an edit. I receive json responses of success, but cannot see any change in the actual page. The description is held in "section=1", but the api doesn't recognize it and says no such section exists,. That's why I have to pass section=0 but

[2018-06-06 07:39] misaochan commented on #161
@whym @maskaravivek  any thoughts on this?

[2018-06-06 07:40] misaochan commented on #1452
Sounds like good progress, thanks for the update @Maeglad . :)

[2018-06-06 07:42] misaochan commented on #1515
I'll take this up alongside failed uploads.

[2018-06-06 07:44] misaochan commented on #1478
Added #1515 and #1581 , removed the other unnecessary items.

[2018-06-06 08:57] misaochan commented on #1478
@maskaravivek @neslihanturan I have created the `2.8-release` branch in preparation for the release, please submit all bugfixes listed in this issue to that branch, thanks! :)

[2018-06-06 11:44] whym commented on #161
Isn't it possible to use one of the MediaWikiApi methods we already have rather than working with the JSON level? We have [MediaWikiApi.edit()](https://github.com/commons-app/apps-android-commons/blob/9845a6265d7a1339998413fe1770931264a1af34/app/src/main/java/fr/free/nrw/commons/mwapi/ApacheHttpClientMediaWikiApi.java#L228). (The implementation is in ApacheHttpClientMediaWikiApi but we use MediaWi

[2018-06-07 05:17] nicolas-raoul commented on #1585
GitHub->GitLab migration procedure: https://docs.gitlab.com/ee/user/project/import/github.html
For instance we would need to re-assign issues, it seems.

[2018-06-07 06:34] misaochan commented on #1485
I have had no luck with reproducing this bug on v2.7.1 (Android 7.0), despite experimenting with different ways of uploading via Share.

I have tried:
- Stock gallery > select image (from device storage) > Share > Commons
- Stock gallery > select image (from SD card) > Share > Commons
- Google Photos > select image > Share > Commons
- Stock gallery > select multiple images > Share > Commons

Anyon

[2018-06-07 06:49] tanvidadu commented on #1316
I will start working on this issue as a part of #274

[2018-06-07 08:00] misaochan commented on #1316
@tanvidadu Sounds good. :)

[2018-06-07 08:08] ujjwalagrawal17 opened #1594 "Replace edittext by searchview for searching in app."
**Summary:**
Earlier We were using edit text for searching, after searching a little I found [SearchView](https://developer.android.com/reference/android/widget/SearchView) is a better option for this as it has a lot of inbuilt functions that we can use in later stages. Also, UI will look much better in case of searchview.

**Screen-shots:**
![screenshot_20180607-133026](https://user-images.github

[2018-06-07 11:00] ujjwalagrawal17 commented on #1594
This is added in #1595 . So closing this issue.

[2018-06-07 11:00] #1594 closed

[2018-06-07 11:01] ujjwalagrawal17 commented on #1571
@nicolas-raoul Issue is fixed so we can close this issue now.

[2018-06-07 11:03] ujjwalagrawal17 commented on #1580
Umm, I am not sure about this issue but I am adding pagination in search now. So your second query of not finding image will be solved.

[2018-06-07 13:41] nicolas-raoul opened #1598 "ClassCastException: CategoryImagesListFragment cannot be cast to MediaDetailPagerFragment"
[code]

[2018-06-07 17:26] misaochan opened #1599 "Update "automatically get current location" setting text to inform that files will be geotagged with it"
Based on the discussion at https://commons.wikimedia.org/wiki/Commons:Village_pump#Warning!_Mobile_uploads_are_getting_the_wrong_location! , we should make this more explicit to users.

[2018-06-07 18:53] VojtechDostal commented on #1599
It's a surprise to me that the coordinates can be assigned based on uploader's current position rather than position at the time of taking the picture. Isn't that mostly useless? :-) That position is usually completely different.

[2018-06-07 20:01] neslihanturan opened #1600 "Notifications Activity crashes"
**Summary:**

Notifications activity crashes.

**Steps to reproduce:**

Just opening activity

**Add System logs:**

[code]

**Device and Android version:**
Android 4.2.2

 **Commons app version:**

master / productionRelease built variant

[2018-06-08 01:12] misaochan commented on #1599
I think the rationale was that people sometimes upload photos on the spot  (e.g. via camera), forget to enable geotagging on their camera, and if they choose to enable this setting, they will still get the other benefits of geotagging based on their current position. @nicolas-raoul can perhaps elaborate on this?  Indeed, this option might have less relevance now than when it was implemented (for m

[2018-06-08 02:02] misaochan commented on #1485
I actually managed to reproduce this bug - by complete accident, while testing something else. The problem here is that this is the Play Store version 2.7.1 - I'm afraid to uninstall and build manually because then I might lose the reproduction.

But I can't seem to get any sort of useful logs in logcat from it. Logcat is running, but our app's process appears to be... hidden? Even when filtering

[2018-06-08 03:26] whym commented on #1599
(I might comment at the VP later, but I think technical questions should be sorted out here first.)

Can we quantify 'relatively small'? [There are 28,590 files](https://commons.wikimedia.org/w/index.php?title=Special:Search&limit=500&offset=0&profile=default&search=insource%3A%2F%22%7B%7BLocation%22%2F++insource%3A%2F%22%7B%7BUploaded+from+Mobile%7Cplatform%3DAndroid%22%2F&searchToken=4uhk252oy1b

[2018-06-08 09:03] neslihanturan opened #1601 "Nearby edits didn't edit Wikidata items"
**Summary:**

Nearby edits didn't edit Wikidata items. I uploaded this image via nearby map: https://commons.m.wikimedia.org/wiki/File:Centre_de_Recerca_Matem%C3%A0tica_3.jpg , by selecting nearby marker of this wikidata item: https://www.wikidata.org/wiki/Q2757630

Upload completed with no problem, displayed on my contirbutions list, but marker is still on map and wikidata item doesn't have the i

[2018-06-08 09:36] misaochan commented on #1599
@whym Yeah, unfortunately there is no way to tell what the exact number is unless we write a script (and even then it doesn't distinguish between files where the uploader **intentionally** used our feature for this purpose, as opposed to those who don't actually desire it despite having enabled that setting). I'm making a guess based on what I see manually, as well as the fact that 3 factors (that

[2018-06-08 09:45] misaochan commented on #1601
@maskaravivek could you look at this when you have the time? Thanks!

[2018-06-08 09:48] neslihanturan commented on #1478
Thanks, I love those lists @misaochan . They are very structured before release.

[2018-06-08 10:35] whym commented on #1599
I'm working on a script to do that. From preliminary results, it appears like roughly 10% of the 28,590 images fall into the definition (except for the the unintentional vs intentional bit, as you pointed out). I think I can get the full number in a day or two.

Another technical point: is the settings screen the only entry point to enable the feature? Do/did we ask it in Share or Categorization s

[2018-06-08 11:12] nicolas-raoul commented on #1599
This option is off by default, right?

[2018-06-08 11:22] nicolas-raoul commented on #1599
I might be confusing things. My comment above was about "Automatically get current location - Retrieve current location to offer category suggestions if image is not geotagged", I am not sure whether it is related or not.

- Are coordinates at time of upload really added to the image as its coordinates?
- If yes, is it enabled by default after installing the app?

[2018-06-08 12:28] nicolas-raoul opened #1602 "Expected adapter item count: 25, found: 0"
[code]

[2018-06-08 12:34] nicolas-raoul opened #1603 "Inconsistency when tapping history item"
1. Search for chicken, pause 5 seconds
1. Search for duck, pause 5 seconds
1. Now history contains both duck and chicken
1. Tap duck and chicken one after the other very fast many times
1. When the images appear, sometimes the images that appear are not for what is written in the search bar, as the screenshot below shows:

![screenshot_20180608-213012](https://user-images.githubusercontent.com/995

[2018-06-08 12:39] nicolas-raoul opened #1604 "Single "Back" touch does not go back from search screen, need to touch "Back" twice"
1. Go to search screen
1. Search for something
1. Results appear (or no results)
1. Press "Back" button of your phone.
1. Nothing happens <- problem here
1. Press "Back" again
1. Now you are at the page showing featured images

[2018-06-08 12:39] neslihanturan commented on #1480
I was digging the root cause, it seems like same issue: https://github.com/mapbox/mapbox-gl-native/issues/10417

[2018-06-08 12:40] neslihanturan commented on #1480
And this one: https://github.com/mapbox/mapbox-gl-native/issues/11461

[2018-06-08 13:31] whym commented on #1599
As far as I can see:
* Coordinates were added using the {{Location}} template into the file page, not to the embedded EXIF.
* It is disabled by default. (and if the camera adds coordinates to photos, it has no effect.

Relevant code: https://github.com/commons-app/apps-android-commons/blob/8dfe9d6bff952e2323025cfa5738c2a9dae9c5a3/app/src/main/java/fr/free/nrw/commons/upload/GPSExtractor.java#L123-

[2018-06-08 13:35] #1569 closed

[2018-06-08 13:35] ujjwalagrawal17 commented on #1569
This feature is added.

[2018-06-08 13:43] ujjwalagrawal17 commented on #1571
@nicolas-raoul.

[2018-06-08 14:41] nicolas-raoul commented on #1571
Thanks! :-)

[2018-06-08 14:41] #1571 closed

[2018-06-08 16:13] tanvidadu commented on #274
## QUIZ
We can divide the quiz into two parts :
First part can be related to topicness where we can display ask yes-no question as earlier mentioned by @nicolas-raoul. The following are questions that can be asked in the format given in the mockup:

<img src = "https://user-images.githubusercontent.com/29161745/41160622-ea446b18-6b4d-11e8-95e8-63261f6525e5.jpeg" width="50%" heigth="50%"/>

Second

[2018-06-08 17:49] misaochan commented on #1599
@whym Thanks for looking into this!

Yes, AFAIK the settings screen is the only entry point to enable the feature.

Yup, that is my understanding too.

If yes, is it enabled by default after installing the app?

@nicolas-raoul Yes they are added if the user has manually enabled that setting. It is disabled by default.

We should definitely change the flavour text to make it more explicit, and I wi

[2018-06-08 17:55] misaochan commented on #274
Hi @tanvidadu , the mockups could do with a bit of polish for the final UI in my opinion (for instance, we shouldn't leave the action bar blank), but as a draft it looks good. :)

I don't think there is a need to divide the tutorial into two parts per se. For instance, "Screenshot of a website", "image of artwork, logo" etc in your Part 1 is actually related to copyright. I also don't think there

[2018-06-08 18:28] tanvidadu commented on #274
Thanks for the review @misaochan !
I will go as per the @nicolas-raoul examples.
Sorry! I didn't work on the finer details, I will polish the UI and share the updated mockups.

[2018-06-08 19:16] misaochan commented on #274
No worries Tanvi! You're doing a great job. :)

An additional thought regarding copyright questions - we can't ACTUALLY use a copyrighted picture in our app, unless we own the copyright, not even for educational purposes I think. What do you think is the best way to get around this @nicolas-raoul ?

[2018-06-09 04:04] nicolas-raoul commented on #1599
If the setting has always been "Automatically get current location - Retrieve current location to offer category suggestions if image is not geotagged", then I have to agree that adding these coordinates to the image itself is more than described. So removing these locations sounds to me like the best thing to do for now.

I am sure we can distinguish whether the coordinates template was added by

[2018-06-09 04:07] ujjwalagrawal17 commented on #1602
@nicolas-raoul How can you tell the steps to reproduce this.

[2018-06-09 17:10] dlsrks1021 opened #1607 "Build failed: Could not find common.jar"
**Summary:**

Without change any code, I could not build android.

**Steps to reproduce:**

I just clone and run 'gradlew.bat assembleDebug' on windows.

 **Commons app version:**

2.7.1-debug-master~db5d732a

**Screen-shots:**

![41192331-003a2df6-6c37-11e8-941c-9acad8c5c320](https://user-images.githubusercontent.com/26715094/41194114-d265cc4e-6c51-11e8-9b2a-64bb5cb1d24c.png)

**Would you like to

[2018-06-10 11:07] whym commented on #1599
According to my script's final results, there were 939 applicable files (less than 4% of the geotagged files) as of last Friday. I offered to redact location information from them at the Administrators noticeboard.

What message, if any, should we send to the affected users (probably to their talk pages)? The right timing would be after the release of the fixed app anyway, though.

[2018-06-10 15:13] misaochan commented on #1599
Thanks so much @whym ! I guess we could tell them that we apologize for an unclear description of the "Automatically get current location" setting, as we did not mention that enabling the setting would add those coordinates to the location template of the uploaded image? And let them know that due to this, in order to protect users' privacy we have to redact location information from files that ma

[2018-06-11 02:48] nicolas-raoul commented on #1599
I would say that pushing an APK to all users with no real changes is OK if it is a security correction.

[2018-06-11 02:51] nicolas-raoul commented on #1602
Easy: I just tapped everywhere like crazy ;-)
Unfortunately I don't know how to reproduce the problem. It might even be a race condition.

[2018-06-11 09:02] misaochan opened #1611 "Change target API to 26"
Needs to be done by Nov 2018. From Play Store developer console:

[2018-06-11 09:14] misaochan commented on #1599
Pushed to beta. Would greatly appreciate if anyone could help test (just to make sure the setting looks appropriate and there are no major issues otherwise), will push to production in 1-2 days' time.

[2018-06-11 09:22] misaochan commented on #1485
Well, I can't reproduce anymore. :/ Guess we have to hope that #1592 works.

[2018-06-11 11:49] nicolas-raoul opened #1612 "Anonymous communication (Tor?)"
Our app uses HTTPS everywhere (I believe), preventing the bad guys from seeing the pictures/etc that Alice sends.
But the bad guys can totally see that Alice is uploading data to commons.wikimedia.org and from there get a hint and check the recently uploaded pictures.

A solution could be to allow Alice to use an anonymity technology (Tor? VPN?).
Because making all of her communications go through

[2018-06-11 12:58] whym commented on #1599
Is there any way to solicit users to review preferences? Without that, I don't think many will notice the change - (presumably many) those who were not aware of the upload-time geotagging would continue to be so more often than not.

I'll be drafting an incident report page on the repo's wiki. It would be nice if we can include a link to it when notifying users.

[2018-06-11 13:19] nicolas-raoul commented on #1599
Ah, indeed. Switching the setting off might have been the safest thing to do.

[2018-06-11 13:33] whym commented on #1599
Or, would it be too much to remove the feature of upload-time geotagging at least temporarily? (This may be preferable, because an abandoned key will mean that we will have to make sure not to use it again.)

[2018-06-11 13:45] nicolas-raoul commented on #1599
Testing: Setting is OK, and picture uploaded correctly :-)

[2018-06-11 13:45] misaochan commented on #1599
I actually don't mind removing the feature of upload-time geotagging entirely, personally. As we've seen from the stats, not many people even enable the setting, and now that we are considering implementing features like a to-do checklist for users, leaving the coordinates blank might actually be preferable. That will allow us to remove the setting entirely and prevent any further issues.

However

[2018-06-11 13:46] misaochan commented on #1599
Thanks @nicolas-raoul ! Will push to production tomorrow. :)

[2018-06-11 14:09] neslihanturan commented on #1478
I was working on #1480, but couldn't figure out the reason. I found some similar errors from mapbox repos and reported on our issue page.

Now I switched to work on "Top 5 crashes on Play Store", to use out time more efficient.

[2018-06-11 14:38] misaochan commented on #1478
@neslihanturan If you are doing #1545 , best to coordinate with @maskaravivek so that you both aren't working on the same crashes. :)

[2018-06-11 14:39] misaochan commented on #1480
We have been using mapbox for a long time, though. If the issue lies in the mapbox SDK, why is the issue only happening recently? I relog very often and always check Nearby, it has not occurred for me before the last release.

[2018-06-11 14:58] whym commented on #1599
Okay, it makes sense.

https://github.com/commons-app/apps-android-commons/wiki/June-2018-incident

[2018-06-11 15:14] neslihanturan commented on #1480
Did you check logs recently? I just get exactly same stack trace and nothing else for all of my recent tests. I am not saying the error is about mapbox code, what I am saying is somehow we can't see native crash.

[2018-06-11 15:16] neslihanturan commented on #1478
@maskaravivek can I work on #1545 - A?

[2018-06-11 16:18] neslihanturan commented on #1480
Here what I get with these steps:

[code]

[2018-06-12 01:16] nicolas-raoul commented on #1316
After thinking more about this, I believe that license choice is important enough to have its own activity, which would explain each license with proper sentences.

I believe the best would be to do like OpenArchive's app which, rather than asking for a license, asks the user what permissions they agree to let:
https://play.google.com/store/apps/details?id=net.opendasharchive.openarchive.release
!

[2018-06-12 08:44] misaochan commented on #1601
@neslihanturan We have confirmed that this isn't actually a problem because it was due to your VPN, right? Just checking. :)

[2018-06-12 08:47] misaochan commented on #1599
Is this (removing the retrieval of current location via settings) something that we have all agreed we want to do? If yes, I can add a note to the 2.8 list #1478

[2018-06-12 08:54] nicolas-raoul commented on #274
The mockups look great! :-)

Like you two, I prefer option 1 (showing the result after each question) because it is more efficient to educate the users on-the-spot.

I totally agree with Josephine's words here:

Thanks for pointing out that many people probably don't know what CC0 is. Actually half of these people probably don't know what "public domain" is either. But terminology is hard to remem

[2018-06-12 09:30] whym commented on #1599
Do you mean removing the use of the current location in category suggestion as well? I am in favor of stopping the publication of upload-time location. However, isn't it useful to retrieve location-related categories even it's technically the place of uploading not photographing, assuming the uploader has not moved too far away in between?

[2018-06-12 09:49] misaochan commented on #1599
It could be, but this would make the implementation (and testing) a bit more time-consuming - we would need to distinguish between two types of coordinates, where one is added to the location template and the other is not. Definitely still doable, but I am trying to pare down the requirements for 2.8 since our team is already doing a lot of additional work with bugfixes while our grant tasks are p

[2018-06-12 10:09] whym commented on #1599
I understand. Then it might be better to leave it as a future enhancement issue to 'revive' that part in some form after removing it.

[2018-06-12 10:25] whym opened #1613 "Redacting unwanted location information from file pages"
*This will not be done in Android code but a (Python) script that works on Wikimedia Commons. Comments are welcome. I plan to work on this alone, but if someone is interested, please contact me. (Since it's a one-off job and contains potentially sensitive data collected, I don't want to publish it in the repo.)*

In #1599 we agreed to redact file pages that contain location information published i

[2018-06-12 11:14] nicolas-raoul commented on #1559
@neslihanturan  By the way, what branch is it in? Would you mind sharing the URL? Thanks :-)

[2018-06-12 12:43] neslihanturan commented on #1559
Sure @nicolas-raoul : https://github.com/commons-app/apps-android-commons/tree/wikimedia-hackathon-2018

[2018-06-12 12:49] ujjwalagrawal17 commented on #1520
Yup @nicolas-raoul, I agree with this. Maybe we can show download and share icon in the list itself.

[2018-06-13 03:05] maskaravivek commented on #1478
@neslihanturan Sure pick that up. Meanwhile I will submit a PR for B.

[2018-06-13 04:00] ujjwalagrawal17 opened #1617 "Add a feature to clear recent searches."
**Summary:**
- Delete option enhances the already existing recent searches (search history). A delete icon can be shown to the user which opens a dialog for confirmation. On confirmation, search history is cleared.

**Would you like to work on the issue?**
Yes.

[2018-06-13 04:15] ujjwalagrawal17 opened #1619 "Add Scrollbar in Search Images RecyclerView"
**Summary:**
Users can search for large database scrolling through 100's of images while searching. Showing a scrollbar helps user detect where he/she is.

**Would you like to work on the issue?**
Yes, I have already worked on this issue.

[2018-06-13 04:27] ujjwalagrawal17 opened #1621 "Add a back button in Media Details fragment when opening from Explore, Search"
**Summary:**
back button should be present in place of hamburger icon when opening MediaDetailPagerFragment from SearchActivity or Explore Activity.

**Obseved Behaviour**
![screenshot_20180528-125328](https://user-images.githubusercontent.com/19607555/41330189-8ac88034-6eef-11e8-85d6-7612e387cc70.png)

**Expected Behaviour**
![screenshot_20180613-095158](https://user-images.githubusercontent.com/

[2018-06-13 04:47] ujjwalagrawal17 opened #1623 "Implement RecentSearchDao tests"
**Summary:**
 Add tests for creating, deleting a table. Saving, Finding, deleting recent searches

**Would you like to work on the issue?**
Yes.

[2018-06-13 12:43] misaochan commented on #1545
Linking this to #1130 as some of the crashes here were discussed there previously, might help in fixing things.

[2018-06-13 15:07] ujjwalagrawal17 opened #1624 "Show 2 images per row instead of 1 in landscape mode while searching."
**Summary:**
- Show 2 images per row instead of 1 in landscape mode while searching.

**Screen-shots:**
<table>
<tr>
<td>

![screenshot_20180613-203217](https://user-images.githubusercontent.com/19607555/41360006-5e4ba25c-6f49-11e8-9bff-53d056ef99d5.png)

Observed
</td>
<td>

![screenshot_20180613-203451](https://user-images.githubusercontent.com/19607555/41360005-5e06326c-6f49-11e8-8303-f0f286bac

[2018-06-13 17:40] neslihanturan commented on #1130
@psh currently I am working on the SecurityException, and your comments were really helpful. But I have a question: Since we upload from our app, means we already have that file, why do we have to cache it again?

[2018-06-13 23:54] whym commented on #1550
@gupta1anubhav To make sure, you might want to try temporarily inserting ` Log.d("API.searchCategories", categories.toString());` into somewhere around
https://github.com/commons-app/apps-android-commons/blob/7f02524522b24fdabf3d9a144ad1264e39336292/app/src/main/java/fr/free/nrw/commons/mwapi/ApacheHttpClientMediaWikiApi.java#L335
(same goes for `allCategories`)

[2018-06-14 05:49] #1479 closed

[2018-06-14 08:16] nicolas-raoul opened #1630 "Throbber visible below loaded images"
Not a big problem, but if there was an easy way to fix that, it would be great :-)

1. Go to featured images activity
2. Touch a picture to see its details
3. Press Back
4. You can see the throbbler (blue circle rolling) in the interstice between the two images, for like 1 or 2 seconds.

![screenshot_20180614-171236](https://user-images.githubusercontent.com/99590/41399797-3691a9d4-6ff6-11e8-878d-

[2018-06-14 08:23] nicolas-raoul opened #1631 "Viewing a search result looses scroll position"
People who are looking for an image will probably:

1. Search for a string
2. Scroll until they see an image they might like, then view it, maybe download it if it is good, or otherwise:
3. Continue scrolling until they see an image they might like, then view it, maybe go back to scrolling
4. Etc, until they have found enough good images to be satisfied.

Problem: Currently, after viewing an image

[2018-06-14 08:29] #1579 closed

[2018-06-14 08:29] #1604 closed

[2018-06-14 08:30] #1598 closed

[2018-06-14 08:34] nicolas-raoul commented on #1603
Can't reproduce anymore.

[2018-06-14 08:34] #1603 closed

[2018-06-14 08:51] ujjwalagrawal17 commented on #1580
@nicolas-raoul Pagination is added. Can you check if it still exists? I am unable to reproduce it.

[2018-06-14 09:06] #1580 closed

[2018-06-14 09:37] #1624 closed

[2018-06-14 09:37] #1623 closed

[2018-06-14 09:37] #1621 closed

[2018-06-14 09:37] #1619 closed

[2018-06-14 09:38] #1617 closed

[2018-06-15 00:44] whym commented on #1613
I submitted https://commons.wikimedia.org/wiki/Commons:Bots/Requests/Whymbot. Inputs are welcome. (As always, this is not a vote and we don't exactly need a large number of "supports".)

[2018-06-15 05:24] nicolas-raoul opened #1633 "Crash when clearing search history twice"
Steps:

1. Go to the search activity
2. Press the X to remove history
3. Confirm
4. Again, press the X to remove history
5. Confirm
6. Crash

[2018-06-15 05:42] nicolas-raoul commented on #1564
I does not seem to work, unfortunately.
The featured images are still listed in alphabetical order.

[2018-06-18 06:50] neoliteconsultant commented on #1564
@nicolas-raoul did you check the upload times of the featured images?

[2018-06-18 13:59] maskaravivek opened #1635 "Handle case where user uploads image with empty title (whitespace)"
**Summary:**

Try uploading an image with an empty title(only spaces) and description. App crashes on clicking next.

**Add System logs:**

[code]

**Expected behavior:**

App should gracefully handle empty values.

**Observed behavior:**

App crashes!

**Device and Android version:**

What make and model device (e.g., Samsung J7) did you encounter this on?  What Android
version (e.g., Android 4.0

[2018-06-18 14:23] juniaziz commented on #1633
I tried going to the search activity but couldn't get to it. May I know the flow to get there?

P.s. I have not started working on it yet. Checking if I can handle it or not.

[2018-06-19 02:43] nicolas-raoul commented on #1633
@juniaziz You have to install this APK: https://drive.google.com/file/d/1THe_I3PRixktLQcOSMMvzymLhHN6_ERq/view?usp=sharing

[2018-06-19 03:11] nicolas-raoul opened #1637 "Wikidata not edited when uploading from Nearby"
Last weekend I went to a lot of places with Nearby as my guide.
In the Nearby screen, after touching +, I used both the camera button and the gallery button, with always the same result: No changes to Wikidata.

I am using [this commit](https://github.com/commons-app/apps-android-commons/commit/9f07c099089f73aa6133e7f09a8bc9729aef27df) of the [explore branch](https://github.com/commons-app/apps-an

[2018-06-19 03:35] nicolas-raoul opened #1638 "Nearby : Bind call too late - someone already tried to get: interface bghk -- metadata{ service_id: 0 }"
I get a lot of `Nearby  : Bind call too late - someone already tried to get: interface bghk -- metadata{ service_id: 0 }` lines.

Not sure if important or not. If it is expected, maybe we don't need to log it as a warning ?
Or is it a real problem?

[2018-06-19 06:03] ujjwalagrawal17 commented on #1633
@juniaziz You can checkout to browse-commons-via-app branch and built APK on your local PC as well.

[2018-06-19 07:52] misaochan commented on #1637
Hmm. @nicolas-raoul we are only a few days away from releasing the beta to the Play Store... Shall we go ahead and release it and see if you encounter the same problem with that? Instead of delaying it to check through the branches.

We can still use this logcat in that case, so we'll keep the issue open.

[2018-06-19 07:55] misaochan commented on #1635
Thanks @maskaravivek , I merged #1636 . :) However, while we indeed do not want the app to crash when user submits an empty title, I don't think we should allow empty titles either. For this issue to be fully solved, I think tapping submit with an empty title should bring up a warning that informs the user that titles can't be empty, and disallowing the user from proceeding. What do you guys think

[2018-06-19 08:06] #1510 closed

[2018-06-19 08:23] nicolas-raoul commented on #1635
I agree with @misaochan , any empty title would tarnish the reputation of the app, so we should disallow that.

[2018-06-19 08:23] ujjwalagrawal17 commented on #1630
@nicolas-raoul Should we show the progress bar above the images? That would be better.

[2018-06-19 08:30] nicolas-raoul commented on #1630
The problem is the blue circle that you can see between two images in the middle of the screenshot above.
We should do like other similar apps, for instance Facebook. I believe that a user who scrolls slowly never sees a throbber or progress bar. A throbber could be shown only if the user scrolls faster than images load.

[2018-06-19 08:32] ujjwalagrawal17 opened #1639 "Add search categories from commons feature"
This is a child issue of #1221

**Summary:**

The users should be able to search categories directly using name/description from commons.

**Screen-shots:**

<table>
<tr>
<td>

![screenshot_20180619-135827](https://user-images.githubusercontent.com/19607555/41585893-f57961fe-73c8-11e8-9f8b-cd39d126f115.png)

</td>
<td>

![screenshot_20180619-135620](https://user-images.githubusercontent.com/196075

[2018-06-19 08:35] nicolas-raoul commented on #1639
Looks great!
Just a note: How about renaming "Images" to "Media", as it also includes sounds for instance? :-)

[2018-06-19 08:55] nicolas-raoul commented on #1637
Yes sure I will test the beta, thanks :-)

[2018-06-19 09:22] ujjwalagrawal17 opened #1640 "Add search via voice option in app"
**Summary:**
Voice Searching can be added for searching categories/images.

Link: https://developer.android.com/guide/topics/search/search-dialog#VoiceSearch

[2018-06-19 09:47] nicolas-raoul commented on #1637
I can reproduce the same problem with the latest "2.8-release" branch.

On the Nearby map I selected the pin for https://www.wikidata.org/wiki/Q17224098 then pressed "+" then "gallery" then I choose my picture of that wonderful museum proceeded through the description and categories activities. Result: Picture got uploaded (https://commons.wikimedia.org/wiki/File:Okamura_chairs_museum.jpg) but no

[2018-06-19 10:00] misaochan commented on #1637
Pinging @maskaravivek

[2018-06-19 10:02] misaochan commented on #1637
@nicolas-raoul Thanks for the report. :) I see two unrelated changes to that Wikidata entity in its history:

Just checking that both were done manually by you?

[2018-06-19 10:08] nicolas-raoul commented on #1564
@neoliteconsultant Yes, here are the upload times of the first images that appear, in order:

1. 1 June 2016 https://commons.wikimedia.org/wiki/File:%22Broke,_baby_sick,_and_car_trouble!%22_-_Dorothea_Lange%27s_photo_of_a_Missouri_family_of_five_in_the_vicinity_of_Tracy,_California.jpg
2. 30 June 2016 https://commons.wikimedia.org/wiki/File:%22Chuveir%C3%A3o%22_na_Caverna_Timimina.jpg
3. 27 Januar

[2018-06-19 10:09] ujjwalagrawal17 opened #1642 "Add a category details page in app"
This is a child issue of #1221
**Summary:**
- The user should be able to view a category details page after searching categories / clicking on a particular category from a specific media.
- The details page should contain images, subcategories, (optional) link (icon to go to browser category page).

**Would you like to work on the issue?**
Yes, I will start working on this issue.

[2018-06-19 10:11] nicolas-raoul commented on #1637
Yes, I manually added an English label and an industry via the desktop web interface (not via Android).

[2018-06-19 10:21] maskaravivek commented on #1637
The logs suggest that the edit is not even being attempted as the Wikidata entity is `null`. I will check the code to find out cases for which entity id could be `null` while uploading an image from Nearby activity.
[code]

[2018-06-19 10:48] nicolas-raoul commented on #1642
What do you plan to show on a category details page?

I think it should at least contain:
- Child categories
- media in that category

Maybe the parent categories too? That is very useful when a category does not contain enough images.

[2018-06-19 10:52] ujjwalagrawal17 commented on #1642
I was planning for child category, media inside the category. Yup getting parent category would be a good option. I need to think of a Good UI for this.

[2018-06-19 11:15] misaochan commented on #1635
Oh, nice! Thanks for the very clear table, haha. I guess we can close this then? :)

[2018-06-19 11:35] misaochan commented on #1599
I submitted #1644 , which removes current location retrieval entirely from the upload process, and removes the Setting as well.

Where possible, I have left methods intact so that in the future if we decide to reimplement this (retrieving current location solely for category suggestions but not adding it to the template), we will not need to rewrite code. However, I have removed most of the method

[2018-06-19 12:37] VojtechDostal commented on #1450
I'd LOVE to have a possibility of filtering the results (filtering out streets in my case, photographing them is BORING :-) ).

I was thinking that maybe we could use parts of the queries used by [Petscan ](http://petscan.wmflabs.org/)(in the Wikidata tab, see attached image). You can just type any number of properties or items separated by commas and they will get filtered. This is an option for

[2018-06-19 13:59] misaochan commented on #945
My thoughts on implementation: If a user uploads a photo via Nearby with a geotag that is not close to the location of the Nearby item (within a radius of 100m perhaps?), notify user of this and ask if they want to upload anyway. If they confirm that they want to perform the upload, allow the upload but do not edit the Wikidata item.

[2018-06-19 14:00] neoliteconsultant commented on #1564
@nicolas-raoul ok I will resolve it ASAP

[2018-06-19 14:09] nicolas-raoul commented on #945
Great idea!
I would say radius of 1 kilometer, because GPS is often way off.

[2018-06-19 14:13] nicolas-raoul commented on #1564
@neoliteconsultant Thanks a lot :-)

[2018-06-19 17:43] maskaravivek commented on #1635
Yup this is fixed now. (Y)

Currently merged to the feature branch for 2.8.0.

[2018-06-19 17:43] #1635 closed

[2018-06-19 18:02] misaochan commented on #1637
@VojtechDostal thanks for testing this! Interesting. I wonder if there are different "language versions" of wikidata just like Wikipedia, or are all wikidata entities global?

[2018-06-20 03:15] nicolas-raoul commented on #1637
@misaochan Wikidata entities are global, because Wikidata stores concepts, that exist independently of human languages. For instance, the Niagara Falls are a thing independently of languages, and so are its properties such as its height, its coordinates or its picture. Labels are only here to help humans quickly get an idea of what the thing is.
So our P18 addition request should not depend on the

[2018-06-20 05:36] neslihanturan opened #1645 "Cancellation of last upload attempt fails."
**Summary:**

We can cancel and remove items properly every attempt except latest one. When it comes to latest upload attempt, clicking cancel does nothing.

**Steps to reproduce:**

Click latest failed upload and try to cancel

[2018-06-20 07:33] whym commented on #1611
Any more details on how to do that?

It appears to be already 27 in the app's config. Am I looking at the wrong place? https://github.com/commons-app/apps-android-commons/blob/2cfbb67f1c67113fb0b37d141ca557c8a924fee7/app/build.gradle#L91
https://github.com/commons-app/apps-android-commons/blob/2a0b9d8a0bac0116fc442f4b43fcf0a09df5ae85/gradle.properties#L22

[2018-06-20 14:16] tanvidadu commented on #274
Thanks, @nicolas-raoul @domdomegg for sharing images!
In continuation to our previous discussion

I have come up with few brief explanations for each anwser. I would love to hear community reviews .

**Selfies:**
Selfies of yourself or of other people shouldn't be uploaded due to right of privacy and right of publicity.  Due to these rights, photographer cannot remove any rights belonging to the s

[2018-06-20 16:14] maskaravivek commented on #1637
@nicolas-raoul  I was trying to emulate the results given by the SPARQL query used in the app when your location is used. I am getting an error while trying to run the query. I put the location of Okamura Chairs Museum.

http://tinyurl.com/y7vh8kfh

Can you check the coordinates and let me know what needs to be changed in the query.

@VojtechDostal It might be fruitful to do the same exercise for

[2018-06-21 05:31] maskaravivek commented on #945
I understand the vandalism concerns but I was under the impression that Nearby uploads would enable to upload the photos at a later point of time.

For example, I recently visited a few historical places on my trip to Pune, India and i was hoping to upload the phots after returning. Limiting the uploads to 1km radius might defeat the purpose.

To mitigate the risk of vandalism we could introduce s

[2018-06-21 07:02] ujjwalagrawal17 commented on #1514
Also, it would be great to use google Assistant for browsing.
Something like
- Google, search some butterflies from commons.

@maskaravivek can you share a link using which we can integrate Google Assistant?

[2018-06-21 08:11] nicolas-raoul commented on #1637
Here is the fixed query:  http://tinyurl.com/y9fvprpf
The trick is that longitude must be written on the left and latitude on the right.

[2018-06-21 08:20] nicolas-raoul commented on #1550
Yes, some debug would be great to find out where the duplicates come from.
I understand that some duplicates may appear from time to time, but often it is the same long list of categories repeated exactly.

[2018-06-21 08:48] nicolas-raoul commented on #274
I reworded a bit. Actually, some the pictures are OK are not for other reasons I believe:

**Selfies:**
Selfies do not have much encyclopedic value. Please do not upload a picture of your self unless you are famous enough and already have a Wikipedia article about you.

(when uploading a selfie you renounce to your right of privacy for this picture. but it is just off-topic for Commons, though I c

[2018-06-21 08:57] misaochan opened #1647 "Have a "helpful hints" expandable section at upload screen"
There are a few inner workings of the app that are not immediately obvious to the casual user, I think. A few off the top of my head:

- Enabling geotagging on your camera is necessary to allow the app to attach location templates to your uploaded image and provide location-based category suggestions
- If you mistakenly upload a wrong image, you can nominate it for deletion within the app by going

[2018-06-21 12:55] sivaraam commented on #1087
Just in case anyone here is still trying to find the root cause for this issue (or any issue, for that matter) and isn't aware of `git bisect`, [https://git-scm.com/book/en/v2/Git-Tools-Debugging-with-Git give it a try]! You'll almost always find the root cause without a lot of effort. I've used it multiple times with fruitful results.

[2018-06-21 12:58] misaochan commented on #1647
Alternatively, we could display a random hint on the upload screen each time, and have a "see all" option that would bring up the full list?

[2018-06-21 13:13] sivaraam commented on #1462
You could give the [talk page of Wikimedia blog on meta](https://meta.wikimedia.org/wiki/Talk:Wikimedia_Blog). You'll possibly get the details you want.

[2018-06-21 13:16] nicolas-raoul opened #1648 "ConcurrentModificationException at fr.free.nrw.commons.Media.setDescriptions"
explore branch with category_search merged in.
When scrolling featured images then looking at their properties.
Reproducible, two examples of crash:
[code]

[code]

[2018-06-21 13:25] nicolas-raoul opened #1650 "Category search does search for my whole string"
1. I typed "apple"
2. I got the results for "app"
3. The "MEDIA" tab is OK, though, showing pictures of apples.
4. Adding another letter then removing it solves the problem

Difficult to reproduce.

![screenshot_20180621-221817](https://user-images.githubusercontent.com/99590/41721747-bc305e72-75a1-11e8-9e9e-b5cbf9c2e977.png)

[2018-06-21 13:33] nicolas-raoul opened #1651 "No view found for id 0x7f0f00ad at fr.free.nrw.commons.explore.SearchActivity.onSearchImageClicked"
[code]

[2018-06-21 13:58] nicolas-raoul opened #1652 "Ghost "No categories matching" message"
explore categories branch

1. In category tab, search for "banana"
2. In category tab, search for "owrgowirg"
3. Message "No categories matching owrgowirg found" appears
4. Press X
5. Recent searches appear
6. Press "banana"
7. Message "No categories matching owrgowirg found" appears, with throbble on top of it

Expected: At step 7, the message should not appear

[2018-06-21 16:00] sivaraam opened #1653 "App crashes when tapping on an image during multiple share"
I tried to see if there are duplicates but couldn't find any. Sorry, if I've missed them.

**Summary:**
The app crashes when tapping on any of the images during a multiple upload before providing a title.

**Steps to reproduce:**
1. Share multiple images by any means using the Commons app
2. Tap on one of the images before giving a title to the set of images

**Add System logs:**

Add logcat files

[2018-06-21 18:32] sivaraam opened #1654 "App shouldn't try to upload non-image files to commons"
**Summary:**
It is possible to try to share non-images using the app using certain external apps such as file managers. In that case the app doesn't clearly indicate to the user about why uploads of non-image files fail.

**Steps to reproduce:**
1. Open a File explorer of your choice (e.g.) Amaze file manager.
2. Choose multiple files containing at least one image and a non-image file (.mp3, .md,

[2018-06-22 10:30] #1633 closed

[2018-06-22 10:30] nicolas-raoul commented on #1633
Tested, thanks :-)

[2018-06-22 10:31] #1602 closed

[2018-06-22 10:39] ujjwalagrawal17 commented on #1652
Same issue was in image search.

[2018-06-22 11:07] nicolas-raoul commented on #1652
@ujjwalagrawal17 still  present with this latest commits:
![screenshot_20180622-200511](https://user-images.githubusercontent.com/99590/41773660-ce080b7a-7657-11e8-831e-13e270a21b6c.png)

[2018-06-22 11:24] Maeglad commented on #1452
I was in middle of testing when black squares started appearing on map
![screenshot_1529664916](https://user-images.githubusercontent.com/9913181/41773651-183ba624-761d-11e8-985b-81b34fc3846e.png)
im using emulator with android api 26, strange thing is i was testing same code 4 days ago on same image and there were no black squares. I tried different images but all on every it is same. This issue

[2018-06-22 11:41] nicolas-raoul commented on #1452
@Maeglad Probably some network problem or problems of the server that provides the tiles.

[2018-06-22 11:41] nicolas-raoul commented on #1652
Thanks!

[2018-06-22 11:41] #1652 closed

[2018-06-22 13:21] neslihanturan opened #1655 "[browse-commons-via-app] Crash on deleting categories."
**Summary:**

It crashes on deleting recent categories

**Steps to reproduce:**
Played with app first, couldn't recognize steps at beginning. After some playing, search several categories first, then click to x, then click to delete icon.

**Add System logs:**

[code]

[2018-06-22 13:25] neslihanturan opened #1656 "[browse-commons-via-app] Recent categories aren't added properly"
**Summary:**

Correct recent categories aren't added without clicking back button first.

**Steps to reproduce:**

Search for some categories, then they won't be added to recent list. Then click on back button on left top, click to search button again, you will see your recent categories there.

[2018-06-22 13:35] #1639 closed

[2018-06-22 13:42] nicolas-raoul commented on #1483
I get this on the explore branch:
[code]

[2018-06-22 14:15] ujjwalagrawal17 commented on #1656
They are getting added if you stay in search screen for at least 5 seconds. Otherwise, they are not getting added.

[2018-06-22 14:15] ujjwalagrawal17 commented on #1651
This is fixed now.

[2018-06-22 14:16] ujjwalagrawal17 commented on #1648
This is also fixed now.

[2018-06-22 14:45] #1651 closed

[2018-06-22 14:53] ujjwalagrawal17 commented on #1650
The search works fine most of the time. I think this is a very rare issue. Maybe due to Searchview it is showing wrong sometimes.

[2018-06-22 14:56] ujjwalagrawal17 commented on #1655
I think this issue is fixed now. I couldn't reproduce this.

[2018-06-22 14:58] nicolas-raoul opened #1657 "setVisibility on null at fr.free.nrw.commons.explore.images.SearchImageFragment.updateImageList"
[code]

[2018-06-22 16:24] sivaraam commented on #1654
I didn't think of this as a feature as the app doesn't seem to be advertising itself to be allowing uploads anything other than images, does it? It doesn't seem to be allowing the users to chose anything other than images through the main user interface. Further one of my tests to confirm whether this is a bug or not was trying to upload a mp3 file along with an image. The upload of the mp3 file f

[2018-06-22 23:33] albendz commented on #1653
I can pick this up.

[2018-06-23 08:01] misaochan commented on #1654
I guess this would need to be discussed in the more specific context of adding support for specific formats. For instance, we have #4 for videos (as an interesting point of note, that issue is currently our oldest unsolved issue ;)). The end goal is to allow these other formats, but we don't have the resources to implement that at the moment.

I wonder what the demand would be for uploading mp3s,

[2018-06-23 08:04] misaochan commented on #1462
Thanks @sivaraam . That talk page seems to be for blog.wikimedia.org , not for the Medium blog (which has a separate URL and different articles), but maybe they could help point us in the right direction regardless.

[2018-06-23 08:07] misaochan commented on #1653
Please feel free @albendz . :)

[2018-06-23 08:38] misaochan opened #1658 "Automatically enable Codacy for all branches"
Is there a way to do this? Currently we only seem to analyze master and branches that are manually set. In other branches it seems to fail with "Codacy was unable to analyse your pull request."

[2018-06-23 08:42] sivaraam commented on #1654
I'm not a veteran commons uploader to comment about this. :)

I filed this issue not with the motive of adding support for non-image file formats but with the motive of improving the user experience of the user trying to share non-image files along with images. Currently,

1. The app doesn't clearly state why the upload fails (particularly why non-image uploads fail)
2. The app seems to be uploadi

[2018-06-23 11:44] maskaravivek commented on #1514
Nice suggestion @ujjwalagrawal17.

Here's the link for Google Assistant's console.

https://console.dialogflow.com/api-client/

[2018-06-23 11:48] nicolas-raoul opened #1659 "NoSuchMethodError: No static method toHumanReadableAscii(Ljava/lang/String;)Ljava/lang/String; in class Lokhttp3/internal/Util"
Crash when opening Nearby (on browse branch, Android 7.1.2)
[code]

[2018-06-23 11:55] nicolas-raoul commented on #1483
I guess it only happens with debug APKs.
I believe it is OK as long as code coverage code does not get included in the production APK.

[2018-06-23 14:21] nicolas-raoul opened #1660 "Wild rabbit crashes app (NumberFormatException: For input string: "1=42.344335")"
Steps to reproduce (explore branch):

1. Open Explore
2. Search for "rabbit"
3. Scroll a dozen images until you find the image `File:Wild rabbit, cut.jpg` (don't worry, the rabbit is entire and healthy, only the picture was cut)
4. Crash:
[code]
A strange thing is that searching for "Wild rabbit cut" and touching the same image does not trigger the crash.
https://commons.wikimedia.org/wiki/File:Wi

[2018-06-24 00:23] maskaravivek opened #1661 "Using branch name tags for Github issues"
Our project has simultaneous active development happening on multiple branches. For eg. at the time of creating the issue `2.8-release`, `feedback-gamification`, `browse-commons-via-app` and `gamification` are active. Even the other branches in our repo are not exactly stale and would be merged in due course of time.

Sometimes it's difficult to figure out which feature branch the issue is referri

[2018-06-24 05:10] hismaeel commented on #161
Alright so I tried it but with no effect. I still think section editing muight be the only option. The description is in that sinppet-thing which is in section 1, and if I edit a photo on the commons website, the url points to section 1.
![capture](https://user-images.githubusercontent.com/25305892/41816092-bd6b377c-7730-11e8-9ef2-a687e7f15d80.PNG)
But unfortunately the api always returns "no such

[2018-06-24 13:44] sivaraam commented on #1661
In any case, I suppose it would nice to have a common prefix, like `branch-` for them to distinguish them easily.

[2018-06-25 02:11] nicolas-raoul commented on #1661
@maskaravivek Yes good idea! I am guilty of submitting many bugs for the `browse-commons-via-app` and referring to it by a different name every time because I can't remember it.

@sivaraam This is not the topic of this issue, and I don't think having all branches start with `branch-` would add any value.

[2018-06-25 05:14] sivaraam commented on #1661
Seem you understood me. I wasn't proposing all branch names to have a common prefix like `branch-` (that's ridiculous). I was proposing all the branch related tags/labels that are about to be created to have a common prefix such as `branch-` so that it's easier to distinguish those tags easier.

Maybe you were thinking of giving it a different colour, but I thought a common prefix for the tags wou

[2018-06-25 07:28] nicolas-raoul commented on #1661
Sorry I misunderstood the whole issue!
I guess `branch-2.8-release` is not needed as we already have `pre-release`?
I created two branch-* labels for the main branches we have currently.

[2018-06-25 07:48] maskaravivek commented on #1661
@misaochan Yes, I was referring to having tags. Having them in the body/title will be difficult to search.

[2018-06-25 08:22] misaochan commented on #1661
I'm good with the `branch-*` labels, and it's a good idea to have that as a prefix IMO :). I would request all collaborators to help keep on top of these labels and remove them when we are done with the branches though, to prevent cluttering.

[2018-06-25 09:30] nicolas-raoul commented on #1564
This works great now, thanks :-)

[2018-06-25 09:30] #1564 closed

[2018-06-25 09:39] nicolas-raoul commented on #1238
As tipped by @sivaraam we should probably do without the login screen, and directly show featured images and browsing to the user.

Then when the user tries to upload a picture we should popup the login screen.
We could also have a "Login" item in the navigation menu for people who want to login without uploading an image.

[2018-06-25 11:41] Maeglad commented on #1659
Had same problem, seems mapbox had issue with OKHttp library https://github.com/mapbox/mapbox-java/issues/726, in my case updating to new version of mapbox solved the issue.

[2018-06-25 12:19] misaochan commented on #1659
@Maeglad Is this an issue on master as well? If so, we will need to update Mapbox in both master and the `2.8-release` branch.

[2018-06-25 13:03] Maeglad commented on #1659
@misaochan I got this error after merging master to my branch. I had another look now and I am not sure what exactly caused it because I was using same version of mapbox as master. Also building current master caused same error on emulator with api 26.

[2018-06-25 20:41] seannemann21 commented on #1631
I can take this! Do you also want to save the scroll position within the Explore tab and my recent uploads?

[2018-06-25 20:53] seannemann21 commented on #1631
I seem to have gotten it working with the search result scroll bar, but if you knew the name of the fragment/activity that contains the recycler view for the Explore tab then that would be very helpful! I'll keep looking

[2018-06-26 12:17] misaochan commented on #1485
I received a message on FB from a user who is experiencing this issue. She mentioned that the issue started a couple of months ago only, and about 99% of her uploads failed. She tried uninstalling and reinstalling the app, logging out and logging in again. So the issue may not be as simple as the auth token problem that we were assuming in #1592 . :/

She also says that while she normally uploads

[2018-06-26 12:35] nicolas-raoul commented on #1485
We could get this FB user to do bisection, in order to find the exact commit that triggers the problem.
If she can generate the APKs that would be the best, otherwise any volunteer to provide her with APKs every day or so until the commit is found? @sivaraam maybe?

[2018-06-26 18:47] ujjwalagrawal17 commented on #1660
@nicolas-raoul Umm, I can't reproduce this issue.

[2018-06-26 18:49] ujjwalagrawal17 commented on #1657
@nicolas-raoul Seems like it is fixed now. I can't reproduce this too.

[2018-06-26 19:14] sivaraam commented on #1485
I wouldn't mind doing the bisect (given a reasonable range to bisect, of course) if the FB user is ready to take APKs daily and try and test if it has issues or not. I think it would be a little tricky if there they couldn't consistently state a yes/no for "Whether the issue occurs to them in this APK?".

BTW, I've actually faced this issue once before (last week when I wasn't poking around for #1

[2018-06-27 01:11] #1657 closed

[2018-06-27 01:12] nicolas-raoul commented on #1485
Even a very rough bisect would be better than nothing, starting with the APK of the previously released version :-) That would rule out (or not) server-side changes.

[2018-06-27 03:20] whym commented on #161
I could be wrong but it sounds as though you were giving a file name (page title) that doesn't exist on Wikimedia Commons. What was the value of `filename` in your trial? FYI,`revisionsByFilename()` expects "File:Metro_Glasgow_city.jpg" not "Metro_Glasgow_city.jpg".

As for sample code, does this help?

https://github.com/commons-app/apps-android-commons/blob/2bbc260d2382f06c9accec0eae58a2357f819f

[2018-06-27 10:30] nicolas-raoul commented on #1631
It seems that the problem is not fixed unfortunately, at least on my Android 7.1.2.
In Explore:
- Scroll down
- Tap on a image
- Press Back
- Position is lost, now at top

[2018-06-27 10:33] misaochan commented on #1485
Thanks for volunteering, @sivaraam . :) Yes, I think the range would be between the 2.6.7 release and the 2.7.0 release.

I will talk to the user about this once she gets back to me on the previous question that I asked her re: 2FA. @sivaraam what is your preferred method of communication, can I link her to your on-wiki talk page?

[2018-06-27 10:35] misaochan commented on #1631
@seannemann21 Sorry for the lack of clarity - the browse-commons branch is actually a GSoC project currently being worked on by @ujjwalagrawal17 . It is probably best for you to work on issues that do not refer to this branch. :)

[2018-06-27 10:35] nicolas-raoul commented on #1485
How about communicating via the public mailing list? So that everybody can benefit from the insight or offer ideas.

[2018-06-27 10:44] sivaraam commented on #1485
I don't think wiki talk pages would be suitable for sharing APKs. Public mailing list would be nice, as @nicolas-raoul suggests.

[2018-06-27 10:44] nicolas-raoul opened #1665 "Crash when swiping in featured pictures"
- Go to featured pictures
- touch a picture
- swipe right a few times
- crash:

[code]

[2018-06-27 10:58] misaochan commented on #1485
Hmm, okay. So one of us would make a public mailing list post linking this issue and asking anyone who is experiencing problems to please download the APK and see if their problem is fixed with that APK? And I'll link the FB user to that post?

[2018-06-27 11:13] nicolas-raoul commented on #1659
I tried upgrading MapBox to 6.2.0 but get this error:
[code]

[2018-06-27 11:38] nicolas-raoul commented on #1659
Updating to Mapbox 5.5.0 fixes the crash, with no other changes needed.
Plenty of other exceptions show up in logcat, but the feature works correctly.

[2018-06-27 11:40] nicolas-raoul commented on #1665
This also happens on the master branch.

[2018-06-27 11:57] nicolas-raoul opened #1667 "Error when scrolling down in category details"
When reaching end of results, it seems.
[code]

[2018-06-27 12:12] nicolas-raoul opened #1668 "Duplicate pictures in category details"
- Search for "bananas"
- The first pictures are (starting with "Carmel market, Tel Aviv (2262998341)"):

![screenshot_20180627-210542](https://user-images.githubusercontent.com/99590/41972863-2bba491e-7a4e-11e8-85d5-1d2cff9d631d.png)

Scroll 44 pictures, now you see (including "Carmel market, Tel Aviv (2262998341)"):

![screenshot_20180627-210610](https://user-images.githubusercontent.com/99590/41

[2018-06-27 12:29] sivaraam commented on #1485
Yes, initially we would share an APK and based on their response we would be sharing further APKs (~10-11 APKs in total for the given range) which they would also have to test with and give feedback to help us narrow down the culprit. It might be time consuming and repetitive but it's the down-side of bisecting (unfortunately we can't use `git bisect run`).

Just to make sure, as this is a time co

[2018-06-27 13:55] seannemann21 commented on #1631
Whoops sorry I meant i had it fixed locally on my machine, and ok I'll look for something else!

[2018-06-27 14:05] hismaeel commented on #161
Yes @whym I give the same filename as you mention :-)  Also, revisionsByFileName doesn't work with "File:Metro_Glasgow_city.jpg"; It keeps saying page doesn't exist.
I've been trying the same code you've linked above- By sample code I meant a sample use of the edit call on a picture-page. That'd be of great help

[2018-06-27 14:05] sivaraam opened #1669 "App crashes when uploadin image via share without logging in"
**Summary:**
The app crashes when trying to upload (via Share) without logging into the app for the first time.

**Steps to reproduce:**
1. Install the app
1. _Do not sign-in into the app_
1. Try to upload an image via Share (without logging in)
1. Give a title and description for the image and start the upload

**Add System logs:**
[code]

**Expected behavior:**
The app should prompt the user to

[2018-06-27 14:19] sivaraam opened #1670 "Setting text is truncated when space is not available"
**Summary:**
The settings text should not be truncated when space is not available as that leaves users with partial information which they cannot use to judge what the setting is actually for. This is especially a major issue for non-English languages where the translation might be longer and eventually gets truncated.

**Steps to reproduce:**
1. Go to the Settings page on a small screen device

[2018-06-27 16:18] #1659 closed

[2018-06-27 16:53] misaochan commented on #1485
Good point, it might indeed be frustrating to the user.

I talked to @neslihanturan who has found that the changes she is making to the file upload process at the moment have solved her own failed uploads problems. I think that once she and @maskaravivek have completed their bugfixes, we will go ahead with 2.8, and I will contact the users who have reported problems, and see if that fixes it for t

[2018-06-27 17:03] seannemann21 commented on #1670
I submitted a pull request! I didn't even notice the note at first, but still ended up fixing it the same way haha

[2018-06-27 17:29] misaochan commented on #1296
Hi @madhurgupta10 , thanks for adding the widget. :) Are you planning to do future work on this? Having a wikipedia link for the pic of the day and buttons to upload directly from the widget would be great! For the uploads, I think there should be a button for camera and gallery, and please try and reuse the existing code as far as possible, as the permission checks etc are included in it.

[2018-06-27 18:20] sivaraam commented on #1485
Sounds nice. If the change magically does fix the failed upload issues, everyone's happy!

[2018-06-28 00:45] whym commented on #161
Perhaps you are using the beta site? (You must be if you haven't changed the product flavor.) In that case you would have to files on the beta site, e.g. https://commons.wikimedia.beta.wmflabs.org/wiki/File:CommonsAppTest_14.jpg . For product flavors please see https://github.com/commons-app/apps-android-commons/issues/916 .

[2018-06-28 07:52] ShridharGoel commented on #1669
I would like to work on this.

[2018-06-28 08:04] nicolas-raoul commented on #1669
@ShridharGoel It is yours :-)

[2018-06-28 08:47] nicolas-raoul opened #1673 "Hopping from category to category does not always work"
1. Go to featured images
2. Touch the first one (currently "Ryxö island nature reserve in Brofjorden")
3. Scroll down to its Categories section
4. Touch the first one ("Ryxö")
5. As expected, the category details activity for Category:Ryxö appears
6. Touch the first image (actually the same image)
7. Scroll down to its Categories section
8. Touch the second one ("Brofjorden")
9. Expected: The cate

[2018-06-28 08:51] nicolas-raoul opened #1674 "Inconsistent Back arrow in category details"
I am not sure exactly how you want the Back arrow to behave and when it should be a Hamburger, but it seems inconsistent now, for instance sometimes pressing the Back arrow exits the whole app.

[2018-06-28 12:47] nicolas-raoul opened #1677 "Trim File: and Category: from filenames when displaying"
Trim File: and Category: from filenames when displaying

[2018-06-28 12:54] ujjwalagrawal17 commented on #1677
Yup nice. I will do it. Just a doubt should we trim only on search results or for details page also in media details and category details?

[2018-06-28 13:02] nicolas-raoul commented on #1677
Everywhere, I would say.
Media and categories are always shown in a very different way (media have a thumbnail while categories do not) so there is no ambiguity.

[2018-06-28 15:04] madhurgupta10 commented on #1296
Hi @misaochan, I will definitely add more features to it and sure I will try to reuse the code :)

[2018-06-28 16:50] misaochan opened #1678 ""Give permissions" dialog in Nearby activity keeps flickering"
**Summary:**

"Give permissions" dialog in Nearby activity keeps flickering. You cannot select the "give permissions" option while it is doing that, and eventually it crashes.

This problem seems to occur in `master` branch. Actually, I'm testing PR #1672 , but that is based on master at the time of my testing, and that PR is unlikely to be the cause since there is no relevant change in that PR. I

[2018-06-29 08:02] sivaraam commented on #1318
Has this been resolved in 30d7b5d3?

[2018-06-30 09:50] misaochan commented on #274
We need to discuss what happens after the user has already completed the quiz - do we give them a "grace period" to get their revert % down before showing them the dialog again, perhaps a month? Or do we never show it to them again? If they uninstall and reinstall the app, this setting should be retained, as it wouldn't be fair to keep making them take it just because they reinstalled.

[2018-06-30 14:29] misaochan commented on #274
Discussed this with @tanvidadu , this is the criteria we are thinking with using at the moment:

Thoughts anyone? :)

[2018-07-01 10:32] ilgazer commented on #1582
`PageTitle`'s methods don't seem to do anything expensive in terms of performance and the constructor just seems to use a single split. Btw I'm a new contributor to FOSS projects in general so if I am wrong, feel free to correct me.

[2018-07-01 10:50] ilgazer commented on #212
I can take this up.

[2018-07-01 12:05] misaochan opened #1683 "WMCZ project plan (Aug - Nov 2018) and release of v2.10"
There was another issue for this #865 , but that was written almost a year ago - the timeline and scope has changed since then and that issue has gotten rather long, so I figured that it would be best to get a fresh start.

WMCZ has kindly offered to fund the development of our app for a short period of time, and the new features/improvements that I would propose are below. These new features will

[2018-07-01 12:07] misaochan commented on #212
Great, thanks @ilgazer !

[2018-07-01 12:12] misaochan commented on #865
This issue is outdated, please see #1683

[2018-07-01 12:12] #865 closed

[2018-07-02 07:57] ilgazer commented on #1192
@97balakrishnan imagizer API also cannot be used as it is not open source.

In my opinion, EXIF modification and anonymization(#70, #181, #1685) would be more useful as a global setting rather than an edit option. A user who would want to remove his camera serial id from a picture would probably like to remove it from every picture. The global setting behaviour is partially implemented in #1685.

[2018-07-02 09:21] misaochan commented on #1192
I agree that global settings would be useful for anonymization. It would be good if we could have an indicator in the upload screen (ShareActivity) that that setting is on, though - as we have had issues with users enabling a setting and then forgetting that they did. :)

A new issue to discuss global settings for EXIF modification would be useful indeed.

[2018-07-02 10:36] misaochan commented on #1647
@ilgazer I agree, one hint at a time would be best. But I guess the "see all" option is useful - if a user REALLY wants to read all of them at the same time, I don't see why not? :)

[2018-07-02 15:02] ilgazer opened #1686 "Implementation of in-app EXIF modification"
**Summary:**

The app should implement a group of global setting for EXIF modification.

**Expected behaviour:**

In the settings menu, there should be a setting to remove certain EXIF tags like camera model etc(#70, expansion of #1685 ) This is partially implemented in #1685.

There should be another setting to reduce location accuracy to 20km, 10km etc(#181) by giving slightly wrong coordinates.

[2018-07-03 02:53] nicolas-raoul commented on #182
Such pictures probably are less than 0.01% of all uploaded pictures, so if we implement some location-hiding it should definitely be per-picture rather than a general setting.

[2018-07-03 02:59] nicolas-raoul commented on #1686
Endangered species pictures probably are less than 0.01% of all uploaded pictures, so if we implement some location-hiding it should definitely be per-picture rather than a general setting.

However, a hide-location-if-X-meters-from-home feature would have its place in the general settings :-)

What does it mean to "reduce accuracy" for a Commons picture?
Could you please include the URL to a Comm

[2018-07-03 03:05] nicolas-raoul opened #1687 "Coordinates / no coordinates indicator on upload screen"
When my camera takes a picture, there is a small globe indicating whether I currently have a GPS fix or not.

It would be great if such an indicator was present on the upload screen too.

Cases where it would be useful:
- I took 10 pictures of a building, and when I start writing the title I realize that GPS info is not available. So I choose another of the 10 picture, with GPS info (when taking 1

[2018-07-03 03:15] nicolas-raoul commented on #1683
Looks good!

[2018-07-03 04:04] nicolas-raoul commented on #274
Sounds good!

About the 25/50 part: Do you mean the quizz will not popup before the user uploads 50 pictures? I think it would make sense to show the quizz much earlier, for instance as soon as 5 pictures have been reverted (except if more than 5 have been not reverted).

Also, I would say that one third of reverts is already quite high.

Finally, when you say "10 uploads, if revert rate is greate

[2018-07-03 05:51] ilgazer commented on #1686
Yeah, that's what I was thinking. I clarified the OP. Also, I agree that the endangered species thing isn't really a priority, but on #182 people proposed hiding the location if one of the categories you select is an endangered species. That would be seriously hard to implement though, as the upload starts before the category screen.

[2018-07-03 05:52] ilgazer commented on #1686
Oops, accidentally closed it. CAn someone reopen it?

[2018-07-03 05:58] ilgazer commented on #1687
We could even take this a step further and make it so that clicking the "Location data present" button opens some kind of interface to edit the EXIF data.

[2018-07-03 06:10] ilgazer commented on #1683
Looks quite nice and focusing on the technical aspects of the code rather than focusing only on new features seems really beneficial in the long term.

[2018-07-03 06:17] nicolas-raoul commented on #1687
Yes great idea!
That would allow people to remove location data if they desire.

Even better, when clicking the "Location data NOT present" icon, this could open a map where I can choose the point manually (see #8)

[2018-07-03 06:25] nicolas-raoul opened #1688 ""Finishing uploading" not finished after an hour"
On @maskaravivek 's wikidataTest branch.
Two images were uploaded correctly (and the Wikidata properly set) but the third does not seem to finish. It is still running right now, so if there is any way I can give you more debug information please ask me :-)
All images uploaded via Nearby->Gallery

![screenshot_20180703-152009](https://user-images.githubusercontent.com/99590/42201951-bf314640-7ed4-1

[2018-07-03 07:30] nicolas-raoul commented on #1637
I just uploaded 3 pictures via Nearby on Vivek's wikidataTest branch.
The first two succeeded and the third one is the topic of this other issue: #1688

[2018-07-03 07:30] #1637 closed

[2018-07-03 07:46] ilgazer commented on #1192
In my opinion, we should further reduce the scope of this edit interface to these 4 features:

- Crop (especially lossless resize à la jpegtran)
- Rotate (90, 180, 270 degrees)
- White balance
- Brightness

The EXIF editing interface should be completely seperate in my opinion. The proposed "Location data avaliable" indicator in #1687 and another indicator for "You have EXIF data for this picture"

[2018-07-03 07:52] nicolas-raoul commented on #1192
"You have EXIF data for this picture" : almost all uploads have EXIF though.

[2018-07-03 12:14] misaochan commented on #1192
@nicolas-raoul To clarify, in my suggestion I didn't mean that the indicator would tell them whether the picture has EXIF data or not. Rather, IMO it should say something like, "Anonymization setting enabled", so that people don't upload pictures forgetting that they have it on, and then complaining that all their uploads have no EXIF.

I agree with the 4 features that @ilgazer proposed.

[2018-07-03 14:42] misaochan commented on #274
Sorry, that was a bit unclear, haha. I think what was intended is to basically check their revert rate every 10 uploads. So lets say a new user uploads 10 pictures and 5 are reverted, they will get a popup with the quiz. Once they complete the quiz, their counter is reset and they will not be checked anymore, until they upload another 10 pictures. Then we check their revert rate again, if exceeds

[2018-07-03 16:16] tanvidadu commented on #274
@misaochan, you are accurate in this respect. thanks :)
I only introduced the check at a particular threshold to avoid a situation like:
Once the quiz has been popped up and the counter has been reset, then if a person uploads an image and that image is reverted, the percentage would be 100% and quiz would be popped up. As a result, it will be annoying for the user.

[2018-07-04 02:33] albendz commented on #1653
I am having trouble with this repro. I don't see an option to upload multiple images, just one at a time. Can you send me a link to the documentation for the feature you are using or be more explicit with your repro? @sivaraam

[2018-07-04 06:19] nicolas-raoul commented on #1665
Also got this when scrolling down the details of a featured picture.

[2018-07-04 06:21] nicolas-raoul opened #1690 "NPE at fr.free.nrw.commons.utils.ContinueUtils.getQueryContinue"
Just after clicking on the category name from one of my pictures (not when clicking on the tab).
[code]
And then clicking on the subcategories tab shows the loading circle forever

[2018-07-04 08:20] misaochan commented on #1653
Gallery > select multiple images > Share > Commons

[2018-07-04 08:34] nicolas-raoul opened #1691 "Upload from category"
The new browsing feature is the most powerful way to find categories.

Rather than selecting a picture first and then painfully searching for categories, how about easily selecting the category first using the browsing feature, and then selecting the picture?

It won't help if you must tag using several hard-to-find categories, but it is better than nothing, as pictures often have only one hard-to

[2018-07-04 08:37] nicolas-raoul opened #1692 "Sub-categories not showing"
- Search for category "apples"
- Open the "Apples by country" subcategory
- "Apples by country" does not show any subcategories (spinning forever)
- In fact it has many: https://commons.wikimedia.org/wiki/Category:Apples_by_country

[2018-07-05 08:56] #1252 closed

[2018-07-05 08:59] #1631 closed

[2018-07-05 09:01] nicolas-raoul commented on #1650
I have not seen this for a while, I will reopen if I observe it again.

[2018-07-05 09:02] nicolas-raoul commented on #1660
Does not crash anymore, indeed.

[2018-07-05 09:02] #1660 closed

[2018-07-05 09:29] #1677 closed

[2018-07-05 13:00] #1692 closed

[2018-07-05 13:00] #1690 closed

[2018-07-05 13:00] nicolas-raoul commented on #1668
Presumably fixed.

[2018-07-05 13:00] #1668 closed

[2018-07-05 13:00] nicolas-raoul commented on #1667
Presumably fixed.

[2018-07-05 13:00] #1667 closed

[2018-07-05 13:30] nicolas-raoul commented on #1648
[code]

[2018-07-05 15:47] maskaravivek opened #1693 "Wikimania Hackathon Ideas"
Wikimedia's annual conference, [Wikimania](https://wikimania2018.wikimedia.org/) is happening in less than two weeks from now.

Before the conference, there would be a two-day hackathon. It would be great if you could help in collating ideas for the hackathon. Bunch of small or tasks or a couple of medium sized tasks would be apt for the 2-day hackathon.

I would be there and hopefully, more peopl

[2018-07-05 16:20] #1430 closed

[2018-07-05 16:24] misaochan commented on #1693
Nice! I'm thinking these enhancements are fairly standalone and fun/interesting:

- #1514 Upload photo using Google Assistant
- #1296 Improve app widget (if @madhurgupta10 hasn't already started work on the improvements?)
- #1118 Itinerary covering Nearby places

Btw, oof, I just realized that we have 300+ open issues, lol! Need to go through those and start closing the obsolete ones at some point

[2018-07-05 17:08] albendz commented on #1653
Got it! Thanks for adding the new info.

[2018-07-06 04:08] liuxinyu970226 commented on #1333
@ArkadiyVoronov Commons-android-strings-nominated see more and Commons-android-strings-welcome help button text are still not fixed, please fix both!

[2018-07-06 19:16] ArkadiyVoronov commented on #1333
Hello! I will try to fix it

[2018-07-07 07:18] ilgazer commented on #70
I'm working on this.

[2018-07-07 07:19] ilgazer commented on #181
I'm working on this.

[2018-07-07 10:06] VaishSiddharth commented on #1653
@sivaraam The app crashes when I select a single image from gallery and then share it  through "Commons" app. But when I select multiple images and try to share it then the app opens but doesnt crashes.

[2018-07-07 10:38] ArkadiyVoronov commented on #1333
Hello! I will try to fix it

[2018-07-07 14:45] maskaravivek commented on #1333
Thanks, @ArkadiyVoronov for picking this up. :)

[2018-07-07 17:18] VaishSiddharth opened #1694 "App crashes when storage permission is not given and user tries to share a single image from gallery"
**Summary:**

App crashes when storage permission is not given and user tries to share a single image from gallery

**Steps to reproduce:**

Do not give storage permission.
Open gallery
Share a single image using "commons" app

**Device and Android version:**
Xiaomi Mi A1 (Android 8.0.0, API 26)

 **Commons app version:**

2.7.2-debug-master~fa6353b3

**Screen-shots:**

![screenshot_20180707-22453

[2018-07-07 23:56] livemusicbangla commented on #1688
Media wiki uploaded file

[2018-07-08 01:50] albendz commented on #1653
Exception I see when it crashes:
E/AndroidRuntime: FATAL EXCEPTION: main
                  Process: fr.free.nrw.commons.debug, PID: 22139
                  java.lang.NullPointerException: key == null
                      at android.support.v4.util.LruCache.get(LruCache.java:80)
                      at fr.free.nrw.commons.MediaWikiImageView.setMedia(MediaWikiImageView.java:54)

[2018-07-08 11:03] sivaraam commented on #1653
@VaishSiddharth That seems to be a separate issue. Could you create a new one?

[2018-07-08 11:07] VaishSiddharth commented on #1653
@sivaraam i have created a new one #1694

[2018-07-08 13:22] VaishSiddharth commented on #1678
@misaochan I want to work on this but not sure what should appear on the screen when the user denies location permission I plan to direct the user to ContributionActivity with a toast message which says Grant location permission. Please tell what to do.

[2018-07-08 19:38] parth96 opened #1697 "App doesnot ask for permission when multiple pics are shared"
**Summary:**

App doesnot ask for storage permission when multiple pics are shared through gallery.

**Steps to reproduce:**
1.Select pics you want to share through any gallery.
2.Click on the share button.
3.Select the commons app from the recommended app list.
4.The dialogue box which should appear asking for storage permission doesnot appear.

**Device and Android version:**
Motorola G(4) (andr

[2018-07-09 13:15] Czeva commented on #310
Hi, I am not getting categories, either, although the files were saved from the category page in the app. The images are always uploaded but the ctg is not, even after 2 days. Example: https://commons.wikimedia.org/wiki/File:%C4%8Cesk%C3%BD_Krumlov,_PP_Cvi%C4%8D%C3%A1k.jpg, uploaded as "Uncategorized" (ctg added by myself 2 days later). The same thing happened today (uploaded image w/o the ctg). U

[2018-07-09 13:32] Czeva opened #1698 "Enhancement requests: Add images in the user gallery, EXIF date taken"
Hi, I would like to suggest making two enhancements of the Commons app:

1. It would be nice if the app could add the uploaded images in the user gallery, as VicuňaUploader can, letting the user choose the size of the image, name of the part of the gallery, and whether the new bit should go to the top or bottom of the page.

2. I have noticed that the date uploaded to Commons probably takes the da

[2018-07-10 02:36] nicolas-raoul opened #1699 ""No media" even though category contains pictures"
https://commons.wikimedia.org/wiki/Category:Illuminated_buildings_in_Bordeaux contains 2 pictures:
![screenshot_20180708-231855](https://user-images.githubusercontent.com/99590/42486055-40520f56-8435-11e8-8965-dbb943b3b7a9.png)
but the app says "no images found":
![screenshot_20180708-231913](https://user-images.githubusercontent.com/99590/42486060-476314d4-8435-11e8-8b7c-378ed9fade6c.png)

[2018-07-10 02:38] nicolas-raoul opened #1700 ""No categories matching" despite one category shown"
![screenshot_20180708-234333](https://user-images.githubusercontent.com/99590/42486146-a6719248-8435-11e8-8cc2-16a72df52f45.png)

[2018-07-10 03:41] hismaeel commented on #161
Nope it's the commons website, and the pictures were uploaded through the actual release app. Still no luck; I see that with the base URL of https://commons.wikimedia.org/w/api.php, it does return the page content with these parameters:
[code]
This is what the app does to retrieve content.
But still when I pass in this content (with a new description) as the **text** parameter of the edit call, I

[2018-07-10 04:05] nicolas-raoul commented on #310
@Czeva

Do you mean that categories are *never* saved?

Would you mind pressing "menu > settings > send log file" 5 seconds after having choosing the categories and pressing the floppy icon, and then a minute after? Thanks!

The best would be to sniff local traffic, you could try this using one of the methods described at https://stackoverflow.com/questions/41152974/whats-the-best-way-to-capture-p

[2018-07-10 04:09] nicolas-raoul commented on #1678
@VaishSiddharth Do these "too many bugs" exist already in the app? Or do you mean that they are introduced by your commits?
If in the first case, please post issues if there is no issue about them yet, thanks :-)

[2018-07-10 06:59] Czeva commented on #310
@nicolas-raoul
Well, every time I have used the app, no ctg was uploaded although it was added before upload. I did my best to send the log from my phone but had to use a different email address (gmail) than the one I had registered here with. The methods mentioned above are, I'm afraid, a bit difficult, sorry.

[2018-07-10 08:00] whym commented on #161
@hismaeel: I tried a very quick test on the beta site, which seemed successful.

1. Add [FileModifyTask.java](https://github.com/commons-app/apps-android-commons/files/2179387/FileModifyTask.java.txt)
2. Add an inject method to CommonsApplicationComponent for the class above
3. Insert a call to FileModifyTask somewhere. I modified onDeleteButtonClicked of MediaDetailsFragment to use this instead o

[2018-07-10 11:36] tanvidadu commented on #274
@nicolas-raoul  please share the link for blurry picture of a not-remarkable human hand!
Thanks :)

[2018-07-10 14:50] misaochan commented on #310
Hmmm. I looked through the log file and unfortunately I can't find anything there that would help pinpoint the problem. :/

As this has been a longstanding and difficult-to-solve problem that causes users a lot of inconvenience, I would like to raise again the possibility of solving this issue by simply having categories sent alongside with the image upload as part of the template, instead of as a

[2018-07-10 14:54] misaochan commented on #1678
Do you mean that you would like to submit fixes for the other issues at the same time, too? Sure, by all means, feel free to submit multiple PRs, assuming there aren't any requested changes outstanding on your original PR. We have been having a bit of a backlog with PR reviews, so it's totally fine to have multiple PRs open at the same time.

[2018-07-10 14:58] misaochan commented on #274
@tanvidadu If Nicolas doesn't get back to you, feel free to take one by yourself. ;) It doesn't matter too much whose hand is in it, haha.