[2020-03-08 16:46] 318anushka commented on #2238
Thanks @sivaraam I'll keep you updated with the work.

[2020-03-08 17:09] #3295 closed

[2020-03-09 04:28] vvijayalakshmi21 commented on #3466
Hi Nicolas, I have cloned the repo as mentioned in the guidelines. On reading about the exception from the above log file, it seems like it is more likely to occur in the cases when 1) Order of read and write in Parcelable is different, 2) the CREATOR is not mentioned as static in proguard. I checked the source code and upon checking I see that in our code both of them are rightly done.
I also rea

[2020-03-09 09:23] macgills commented on #3458
Sure I amn't working on this right now.

[2020-03-09 09:36] misaochan commented on #3428
Wow, #3397 is a really long discussion thread... I'm still halfway through it, but for this issue I think it is safe to say that it is OK to swap the buttons as per common conventions.

[2020-03-09 09:43] Glitch101 commented on #3428
Yes, #3397 contains quite a lot of unrelated discussion with respect to this issue. I have updated the issue description to include the links to relevant discussion on #3397 thread.

[2020-03-09 10:31] 318anushka commented on #2238
I am an outreachy applicant and since this is my first issue so i'll be needing a little help with it.
So i am thinking to proceed with scale bar plugin as it is used with mapbox object.

[2020-03-09 10:53] #3435 closed

[2020-03-09 10:58] macgills opened #3476 "Use individual test commands on CI instead of check"
**Summary:**

The build is failing because the `check` task is for an unknown reason attempting to publish the beta app. We should run the specific tasks instead of relying on this command.

**Would you like to work on the issue?**

Yes

[2020-03-09 10:59] misaochan commented on #3474
@6point022 Go for it!

[2020-03-09 11:36] macgills commented on #3445
@FawziyahAlebiosu do you currently have a codestyle that is compliant with the project?

I am new to the project and was hoping it would just be an easy task for an existing contributor. However if you are willing to do this task then I am for it

[2020-03-09 11:36] sivaraam commented on #2238
Sure. Feel free to ask for help when you need it. 👍

Yeah, proceed with that.

[2020-03-09 11:48] macgills commented on #3222
@nicolas-raoul do you have any guidance on the acceptance criteria of this ticket?

[2020-03-09 12:16] #3476 closed

[2020-03-09 17:55] misaochan commented on #3222
Wow, sorry, I didn't get notified of this ping for some reason! Could you please link me to the image on Commons that you uploaded with this branch? The caption and depicts fields should be appropriately filled in the Commons file page.

Aside from that, here are the issues with the branch that I can see so far.

From @maskaravivek :

From @nicolas-raoul :

From @GearGit :

[2020-03-09 18:07] #3414 closed

[2020-03-09 18:11] neslihanturan opened #3479 "Add progressbar to new Media details zoom activity"
**Summary:**
When it is a DSLR image with a big size, it took some time for it to be displayed. But user is looking at a black screen during this time. Instead there should be an progressbar.

Progressbar should appear after image from media details is clicked until image is being loaded.

[2020-03-09 18:44] kbhardwaj123 commented on #3479
@neslihanturan I have understanding of the custom ZoomableDraweeView which I added so can I work on this?

[2020-03-09 18:47] kbhardwaj123 commented on #3436
@neslihanturan sorry for bothering again and again but now since the handle zoom pr is merged can we convert those black tiles to material card design as misaochan recommender in the handle zoom issue discussion

[2020-03-09 20:01] neslihanturan commented on #3479
Go for it @kbhardwaj123 :)

[2020-03-09 20:09] 6point022 commented on #3346
@ashishkumar468 I don't think this issue has been fixed, the linked PR doesn't really display any error message nor does it fix the issue that even pressing "Cancel" saves the change. I'd be interested in working on this if it can be re-assigned. Thanks!

[2020-03-10 01:41] maskaravivek commented on #3346
@6point022 if you see any issues in @vibhusharma101's PR feel free to post your code review comments on the PR itself. :)

[2020-03-10 06:57] sivaraam commented on #3466
I just checked now and came to know that this really isn't specific to the crash observed by @nicolas-raoul. In my observation, for a crash that's different from the one observed by Nicolas:

* When I choose K-9 mail to send the mail I see the To, Subject and Body of the e-mail getting filled appropriately.
* When I choose Gmail to send the mail I only the To field gets filled. The Subject and Bod

[2020-03-10 07:36] vvijayalakshmi21 commented on #3466
@sivaraam Just want to clear my understanding on this issue. The problem is that we are not seeing the attachment file (in the case of a crash in the app) in the composed mail when we use Gmail whereas other mail providers like K-9 works just fine. So I have to check if this could be replicated for any crash. Is that right? Kindly confirm

[2020-03-10 08:12] sivaraam commented on #3466
@vvijayalakshmi21 I'm not sure about whether an attachment is added when you report crash but when I report a crash (read 'send a crash report email') using K-9 mail I see the To, Subject and Body fields of the e-mail filled correctly. Here's a screenshot of K-9 mail:
![Screenshot_2020-03-10-13-33-24](https://user-images.githubusercontent.com/12448084/76292107-92944200-62d4-11ea-96c5-acfb6c8ea860.

[2020-03-10 08:57] sivaraam commented on #3465
You might have used that phrase out of your curiosity to learn, which BTW is totally good, but just wanted you to beware the [*impostor syndrome*](https://www.hanselman.com/blog/ImAPhonyAreYou.aspx). 🙂

[2020-03-10 09:02] macgills commented on #3127
Should this have been closed? There are still many ContentProviders

[2020-03-10 09:46] macgills commented on #3222
Thank you for the reply @misaochan , I will contact you promptly in the future.

While the intentions were noble the result the code does not do the same thing, if the context is not `CategoryImagesCallback` then there is a ClassCast, [code](https://github.com/commons-app/apps-android-commons/pull/3133/files#diff-bbef5284e708d4bbea6ae3d95565f0deL254-R253)

I have uploaded a picture on beta but bet

[2020-03-10 09:56] misaochan commented on #3222
Absolutely, I would recommend using prod as far as possible, unless you need to upload a lot of test photos.

The easiest way is to spend 5 min outdoors just taking pictures of stuff - Commons needs all sorts of pictures, even if it's just a park or street or tree. :) But if this is a problem, I can email you some of my pictures if you like.

I agree.

This sounds like a good idea to me.

Yes, don

[2020-03-10 09:56] madhurgupta10 commented on #3465
😆 Don't worry, just an expression!

[2020-03-10 10:10] sivaraam commented on #872
Thanks for the clarification. That sounds like an appropriate place for it.

BTW, I think we really have to update the issue title now after all the discussion. The title was what actually confused me 😄

[2020-03-10 11:23] aakankshaa23 commented on #2911
I would like to fix this issue.

[2020-03-10 11:25] ashishkumar468 commented on #2911
@aakankshaa23  It is yours :)

[2020-03-10 12:47] macgills opened #3482 "Use Room in Structured Data branch"
**Summary:**

Structured data uses our now deprecated ContentProvider pattern. This should be removed.

**Would you like to work on the issue?**

Yes

[2020-03-10 18:54] sivaraam commented on #3428
Yeah. Sorry about that! 😅

If we're ok with swapping the "Yes" and "No" in [`showAlertDialog(Activity, String, String, Runnable, Runnable onNegativeBtnClick, View, boolean)`](https://github.com/commons-app/apps-android-commons/blob/master/app/src/main/java/fr/free/nrw/commons/utils/DialogUtil.java#L89), I think there are at least two usages of that method which we have to update to ensure the "Yes

[2020-03-10 19:01] #2817 closed

[2020-03-10 20:36] 318anushka commented on #2238
@Override
    public void onMapReady(@NonNull MapboxMap mapboxMap) {

        mapboxMap.setStyle(Style.MAPBOX_STREETS, new Style.OnStyleLoaded() {
            @Override
            public void onStyleLoaded(@NonNull Style style) {

                scaleBarPlugin = new ScaleBarPlugin(mapView, mapboxMap);
                scaleBarOptions = new ScaleBarOptions(getContext())
                        .se

[2020-03-10 22:53] FawziyahAlebiosu commented on #3445
@macgills you have a good point. I did some research on codestyle before I asked for it to be assigned to me, and I didn’t think about having a codestyle that was already compliant with the project! Thanks for bringing that up :)
For anyone reading this issue, I’m not working on this anymore because I don’t have a compliant codestyle- in relation to this project.

[2020-03-11 00:59] FawziyahAlebiosu commented on #3428
This is definitely an interesting issue, @Glitch101 can you assign this to me?

[2020-03-11 04:43] vvijayalakshmi21 commented on #3466
Thanks so much for this. I read a couple of S.Overflow posts related to this:

https://stackoverflow.com/questions/59314608/android-studio-mailto-intent-doesnt-show-subject-and-mail-body
https://stackoverflow.com/questions/59237274/email-intent-subject-is-ignored-in-gmail-but-works-with-other-mail-clients

I have been trying to replicate the issue and try out the above solutions using my emulator

[2020-03-11 05:05] aakankshaa23 commented on #2911
Hello sir,
 I just did the attribution part. Could you please tell if I can send the
pull request.
The screenshot is attached below along with how it looked previously.

Thanks

On Tue, Mar 10, 2020, 4:55 PM Ashish Kumar <notifications@github.com> wrote:

[2020-03-11 05:28] Glitch101 commented on #3428
Sorry, I cannot assign an issue to you. I do not have wrote access to this repository. I am a contributor. I am tagging one of the maintainers so that they can assign you. @maskaravivek

[2020-03-11 06:02] avivith commented on #3391
Is this issue solved, or can I work on it?

[2020-03-11 06:08] avivith commented on #3205
Hi. Is this bug solved already, or should I work on it?

[2020-03-11 06:09] sivaraam commented on #3466
Sure. Share the details about the issues you are facing. 🙂

[2020-03-11 06:15] avivith commented on #3067
Hi. Is this issue closed, or should I work on it?

[2020-03-11 06:22] avivith commented on #3316
Hi. Is this issue solved already, or should I work on it?

[2020-03-11 06:22] sivaraam commented on #3428
@FawziyahAlebiosu You can take this up. I've assigned this to you. Be sure to let us know how you get on :)

[2020-03-11 06:28] avivith commented on #3353
Hi. Is this issue reopened or solved?

[2020-03-11 06:29] samwilson commented on #3205
I'm not sure (I'm trying to test with 2.12.3 but every upload is failing and there's nothing in the logs).

[2020-03-11 07:37] misaochan commented on #3205
@samwilson Oh dear. When you say there's nothing in the logs, do you mean that you tried Settings > Send Log File, but the email had no attachment?

Could I please ask that you do a fresh install (uninstall the app and install the Play Store version again), and see if that solves your problem? If not, we have a lot of brainstorming to do. :/

[2020-03-11 07:52] misaochan commented on #3222
Btw, just leaving a note here in case I forget later: It would be great if you could also make sure that the unit test coverage is up to par before we merge into master. It's possible to add the unit tests later, but it's easier to keep track of it if we just have them when the dev branch is merged.

[2020-03-11 07:52] samwilson commented on #3205
@misaochan thank you! that worked, now it's uploading properly again! And no, the logs weren't empty, but all they had for the current day was e.g. `[file-logging-thread-1] [ContributionsSyncAdapter] : Received image File:2019-07-12 Fremantle Bowling Club, 4.jpg` and nothing about uploading.

Anyway, the issue at hand still exists; custom author names can't contain templates.

[2020-03-11 07:57] misaochan commented on #3205
Thanks for the clarification, @samwilson . :)

@avivith The bug is yours, please keep us updated on your progress!

[2020-03-11 08:02] misaochan commented on #3353
The issue is still being discussed (I am awaiting @nicolas-raoul 's input), sorry.

[2020-03-11 08:04] misaochan commented on #872
@sivaraam I tried. It was surprisingly hard to capture all that in one sentence. 😄

[2020-03-11 08:42] sivaraam commented on #872
It's good. Just a minor suggestion, I think it would be nice if we could convey that the icon would be per image more clearly.

Here's an alternative suggestion:

I'll come to that `article(s)` part in an upcoming comment.

Oh, don't be surprised. It's true.

*"I didn't have time to write a short letter, so I wrote a long one instead."* - Mark Twain [[ref]](https://www.goodreads.com/quotes/21422-i

[2020-03-11 08:43] neslihanturan commented on #3436
Sorry for latency, I didnt see the noification :( I have some designs for this purpose, will add them today

[2020-03-11 08:43] misaochan commented on #3428
Those are the warnings when a user tries to upload a duplicate or "bad" picture, right? I agree, those should be kept with "Yes" as the negative action. But the dialog button mentioned in this issue (for turning on location) can be changed.

[2020-03-11 08:48] maskaravivek opened #3484 "If an upload fails and is retried, the depictions, captions, etc must be persisted somewhere"
@macgills I guess the idea of `DepictionDao` might be to store depictions that were selected during the upload process. If an upload fails and is retried, the depictions, captions, etc must be persisted somewhere so that it can be attached in the retrial request.

We can probably have the `Contributions` table take care of the extra metadata instead of having a separate table.

_Originally posted

[2020-03-11 08:57] macgills commented on #3428
`  <string name="upload_title_duplicate" formatted="true">A file with the file name %1$s exists. Are you sure you want to proceed?</string>`

That to me seems like yes should be in the positive position.

`  <string name="upload_problem_do_you_continue">Do you still want to upload this picture?</string>
`

That also seems like a yes in positive.

Positive/negative have no correlation between destr

[2020-03-11 09:08] sivaraam commented on #872
Is there any reason not to show a list of all Wikipedia articles (I mean all language versions of the article) associated with a Nearby uploaded image and let the user decide which version of the article the image should be added to?

I realise that a Wikidata item could contain links to a lot of language versions making it harder for the user to find the ones he wants. We could fix that in a coup

[2020-03-11 09:30] macgills commented on #2238
@318anushka is this code getting executed? I think I just saw some ticket about `onMapReady` never firing but it could have been quite old. Put a breakpoint in this method and see if it gets triggered when you debug

[2020-03-11 09:50] maskaravivek commented on #3222
Also, I guess #3484 would have to be taken care of so that on retrying failed uploads captions and depicts are not lost.

[2020-03-11 09:51] #2911 closed

[2020-03-11 10:08] nicolas-raoul commented on #3222
@macgills I have thousands of pictures to upload, [here](https://drive.google.com/open?id=1T5wfM16qb78XCvnf1Zunww4neg8BXJj6) are some just for you, after you upload them all please please ask and I will add a hundred more :-)

[2020-03-11 10:19] sivaraam commented on #3428
Yeah

That's a good point. They really don't seem to have any correlation. FWIW, even the [material design guideline for dialog boxes](https://material.io/components/dialogs/#actions) is against keeping dismissive actions (in our case "No") in the left of the dialog. Looks like I was wrong in thinking they are correlated 🤔 Thanks for correcting that @macgills 🙂

One other reason I was suggesting t

[2020-03-11 10:29] macgills commented on #3428
Also if we go with the material guidelines "Yes/No" are poor words to use, the action should be repeated in the positive button eg "Upload/Proceed" and the negative should be something like "Cancel" if you cancel an operation

[2020-03-11 10:55] madhurgupta10 opened #3487 "Replace ProgressDialog with ProgressBar"
**Summary:**
As per the discussion on the [thread](https://github.com/commons-app/apps-android-commons/pull/3481#issuecomment-597563335)

We should replace the ProgressDialog with ProgressBar because it was deprecated in API 26
https://developer.android.com/reference/android/app/ProgressDialog

[2020-03-11 11:05] macgills opened #3488 "Delete app/prod folder"
**Summary:**

This folder was left behind as a mistake

**Would you like to work on the issue?**

Yes

[2020-03-11 11:37] macgills commented on #3484
This is already done. Media/Contributions were extended to contain depictionEntityIds/captions

[2020-03-11 11:37] #3484 closed

[2020-03-11 11:52] macgills opened #3490 "Depiction Search in upload shows No Results before it gets results"
**Summary:**

Searching for a depiction during the upload process should follow LCE pattern for retrieving data. Only onStructured Data branch.

**Screen-shots:**

![image](https://user-images.githubusercontent.com/3358282/76414126-a2705c80-638e-11ea-83b1-3a6aada51eef.png)

![image](https://user-images.githubusercontent.com/3358282/76414144-aa300100-638e-11ea-88a7-20e6208fed83.png)

**Would you li

[2020-03-11 12:11] bistaastha commented on #3316
Hi @avivith. This hasn't been resolved yet.

The fast scrollbar's height and width can be customized by making custom drawables ([referene](https://stackoverflow.com/questions/45370246/how-to-use-fastscrollenabled-in-recyclerview)) .

@maskaravivek Reducing the width using this method might be a possible approach to solving the problem of accidental touches.

[2020-03-11 12:41] #3445 closed

[2020-03-11 12:44] VitalyVPinchuk commented on #3464
Hi
Could I try to fix it?

[2020-03-11 12:47] nicolas-raoul commented on #3464
@VitalyVPinchuk Sure, thanks :-)

[2020-03-11 13:52] macgills opened #3492 "[Discussion] Add inspections to git"
**Summary:**

Inspections are a part of intellij, giving us highlighting & autofixes for many common issues in code. We should share them between developers so everyone has the same experience.

Should we try and enforce people run Inspections on VCS changed code?
It is difficult to achieve this in any automated fashion, this [tool](https://github.com/bentolor/idea-cli-inspector) is trying but I f

[2020-03-11 14:58] 318anushka commented on #2238
yes you're right , i checked and it's not getting executed but according to following article:

https://stackoverflow.com/questions/27531037/onmapready-not-calling-even-though-the-map-display-without-any-error?rq=1

onMapReady() is triggered by getMapAsync() and we are calling that in onViewCreated()

[2020-03-11 15:02] macgills opened #3493 "App freezes for 15 seconds when you press Next in UploadMediaDetailsFragment"
**Summary:**

There should be some indication of progress and the app should be responsive

**Steps to reproduce:**

Try to upload anything

**Would you like to work on the issue?**

Yes

[2020-03-11 15:40] 318anushka commented on #2238
okay, i figured.How does this look?
Let me know if any styling or position changes are required.

![Screenshot_20200311-205937__01](https://user-images.githubusercontent.com/45694892/76434970-6cf26000-63dc-11ea-83df-f2b3e185a1dc.jpg)

[2020-03-11 16:53] FawziyahAlebiosu commented on #3428
Will be sure to replace it with that.

[2020-03-11 16:55] FawziyahAlebiosu commented on #3428
So, is it safe to conclude that the swapping of positive and negative action, as well as replacing with Cancel, and Proceed, is ONLY to the dialog box that shows up when turning location, correct? I am not doing this to any other dialog boxes, right?

[2020-03-11 17:08] sivaraam commented on #2238
@318anushka There was a recent change (#3485) as a consequence of which the logo and trademark are shown in the bottom left corner too. Can you checkout the latest master (which contains the change) and apply your changes over them to see how they both play together?

[2020-03-11 17:11] sivaraam commented on #2238
BTW, the scale looks good. Can you also check that the scale bar doesn't take up a lot of space in a small screen device?

[2020-03-11 17:14] 318anushka commented on #2238
Yeah sure I'll check that.

On Wed, Mar 11, 2020, 10:41 PM Kaartic Sivaraam <notifications@github.com>
wrote:

[2020-03-11 17:29] #3488 closed

[2020-03-11 17:39] sivaraam opened #3494 "Give better names for the upload warning dialog buttons"
Per [@macgills' comment](https://github.com/commons-app/apps-android-commons/issues/3428#issuecomment-597555730):

This sounds valid. We should think about changing the text shown for the dialog buttons in the following places which are the two warnings shown when a user tries to upload a duplicate or bad picture:
* [UploadMediaDetailFragment.java#L352](https://github.com/commons-app/apps-android-

[2020-03-11 17:41] sivaraam commented on #3428
There seems to be some confusion here. Let me clarify.

@FawziyahAlebiosu You don't have to worry about the dialog that shows up when turning on location. It's just now being added in PR #3438. As of now, the only changes you would have to do is to swap the negative and positive button text in the [`DialogUtil#showAlertDialog`](https://github.com/commons-app/apps-android-commons/blob/master/app/sr

[2020-03-11 18:55] FawziyahAlebiosu commented on #3428
Ahh @sivaraam thanks for clarifying haha! I've created a pull request to address the correct issue then. Also, I'll definitely work on issue #3494 as well.

[2020-03-11 18:55] sivaraam commented on #3445
Looks like there are some unintended consequences of using

[code]

See #3495 file changes. Is there any way to avoid this?

[2020-03-11 19:04] FawziyahAlebiosu commented on #3494
Does this mean that instead of calling R.string.warning as the text for those dialog boxes, we would replace it with R.string.cancel ?
And it would be replaced in those two instances where .warning is called, that you link in your comment?

[2020-03-11 19:32] 318anushka commented on #2238
i have changed orientation and scaling a bit because scalebar is positioned wrt top left corner so it was creating problem in smaller screen device (i tried on Nexus S 4.0 inch) . Also it was overlapping with the compass at bottom corner.Now it works fine
![Screenshot_20200312-005149](https://user-images.githubusercontent.com/45694892/76456443-003b8d80-63fd-11ea-87c6-9b0db2655124.jpg)
<img width="

[2020-03-11 20:31] avivith commented on #3361
Hi. Is this issue closed/worked on, or should i work on it?

[2020-03-11 20:33] avivith commented on #2874
Is this issue closed already? if not, what is left to be done?

[2020-03-11 21:18] FawziyahAlebiosu commented on #3428
Update while testing this, I realized that I will need to figure out which part in the method I need to swap as well-so I'm halfway done!
![yesNo](https://user-images.githubusercontent.com/20774412/76464882-402e5080-63bc-11ea-9a0c-7bc5a9fe0523.gif)

[2020-03-11 22:02] #2889 closed

[2020-03-12 01:21] nicolas-raoul commented on #2238
Looks good, thanks a lot Anushka :-)

[2020-03-12 06:38] sivaraam commented on #2238
@318anushka The scale looks perfect in the first screen shot. But the scale seems to be taking up considerable amount of space in the small screen device. The amount of place to access to access the map is already pretty less in the small screen device. So, even a little space matters there. Is there any way to improve this? For instance, in my device Google maps shows the scale only when I zoom i

[2020-03-12 07:29] aakankshaa23 commented on #3037
Hello,
I tried to reproduce and the featured tab is not showing the name of some authors though the author exists.
![WhatsApp Image 2020-03-12 at 12 55 19 PM (2)](https://user-images.githubusercontent.com/37452934/76497510-1e3ad980-6461-11ea-8378-85c90e20ad6d.jpeg)
![WhatsApp Image 2020-03-12 at 12 55 19 PM (1)](https://user-images.githubusercontent.com/37452934/76497515-20049d00-6461-11ea-89cb-8f

[2020-03-12 07:48] 318anushka commented on #2238
So scaling is fine , I should just work on visibility?

On Thu, Mar 12, 2020, 12:08 PM Kaartic Sivaraam <notifications@github.com>
wrote:

[2020-03-12 08:10] nicolas-raoul commented on #2238
In the first screenshot, the font size of "750 m" is similar to the font size of "Place type".
In the second screenshot, the font size of "250 m" is much larger than the font size of "Place type".

Ideally, the font size should always be more or less similar to the font size of "Place type". Not sure what controls that.
Similarly, the width of the black/white bar is similar to the handle of the lo

[2020-03-12 08:30] neslihanturan commented on #3436
Hey @kbhardwaj123 , design option 2 in here displays the UI we aimed to have: https://github.com/commons-app/apps-android-commons/issues/2881 and actually almost implemented in: https://github.com/commons-app/apps-android-commons/pull/2954 . But it is merged on another branch, not up to date anymore. Maybe your aim can be rebasing those changes from @ujjwalagrawal17 .

[2020-03-12 08:41] #3233 closed

[2020-03-12 08:43] neslihanturan commented on #3210
Seems like crash is solved:)

[2020-03-12 08:43] #3210 closed

[2020-03-12 08:43] 318anushka commented on #2238
A fixed float value is passed as parameter for all font size. I'll check if something can be done.

[2020-03-12 08:58] prince-09 commented on #3459
can I work on this?

[2020-03-12 08:58] macgills commented on #3445
@sivaraam looks like the user resolved it. A part of having our codestyle in git is that people can change it if they so wish, we should just reject anything done accidentally.

I was going to make a documentation update, I asked a question somewhere about whether the issue should be here or on the documentation repo. I'll just go do it on the doc repo

[2020-03-12 09:01] misaochan commented on #3037
Thanks for sharing @aakankshaa23 ! Would you like to work on this?

[2020-03-12 09:06] macgills commented on #3428
@FawziyahAlebiosu I would giving the [official guide](https://developer.android.com/guide/topics/ui/dialogs) a read if you are not too familiar with Dialogs, that should familiarise you with their api

[2020-03-12 09:11] kbhardwaj123 commented on #3436
@neslihanturan sure i would be happy to do implement that :)

[2020-03-12 09:24] macgills commented on #3459
It can be quite complicated as our proguard rules will most likely need updating and the app will need thorough testing.

With the addendum that it can be difficult are you still willing to work on it?

[2020-03-12 09:33] aakankshaa23 commented on #3037
yeah. I would love to :)

[2020-03-12 09:53] sivaraam commented on #3445
@macgills Yeah, he has.

Just for clarification, who do you refer to as "people" here? Contributors?

To clarify, I'm not against keep the code style in Git. I was just wondering if we could avoid such accidental changes while keeping the file Git. 🤔

The closest I could find is https://stackoverflow.com/a/936290/5614968 (the `git update-index --assume-unchange` part). But that's in the hands of t

[2020-03-12 09:56] macgills opened #3498 "Replace BiMap with a HashMap"
**Summary:**

BiMap is unnecessary and can be deleted, `contansKey(V v)` is replaceable by `containsValue`

[2020-03-12 10:22] macgills commented on #3445
Contributors, frogmen, mermaids, skeletor, whoever can submit a pr to this repo.

If a file is in git then it can be changed and trying to enshrine it seems like something we should not do. Just treat it like any other file and educate people on IntelliJ/Android Studio functionality.

I have a local branch for the documentation update and am awaiting access to the repo.

[2020-03-12 11:16] macgills opened #3500 "Error Message for uploading with an already existing title is wrong"
**Summary:**

Try to upload on beta with a title "t" and a dark image. You see the message "title is empty" when it actually already exists

**Commons app version:**

master

[2020-03-12 12:26] kbhardwaj123 commented on #3436
After analysing the media detail fragment of the hackathon-2019 branch i think the design option 2 is much better, should i start it's implementation ?

[2020-03-12 12:54] macgills opened #3501 "Depictions remain selected on subsequent upload"
**Summary:**

A depiction from a previous upload was shown when I had yet to select any for the current upload.

**Steps to reproduce:**

Upload an image and select a depiction.
Go to upload another image and search for any depiction.
See the previously selected depiction.

**Commons app version:**

structuredData

**Would you like to work on the issue?**

yes

[2020-03-12 13:37] macgills opened #3502 "[Discussion] Remove plurals from app"
**Summary:**

[Docs](https://developer.android.com/guide/topics/resources/string-resource#Plurals)

I doubt the plurals work well for other languages as many cases are missing.

From my running of lint there are 74 missing quantities and 18 Implied Quantities along with 98 Unused quantities

[2020-03-12 14:06] misaochan commented on #3436
@kbhardwaj123 Yes, please feel free to go ahead with the design option 2 that is linked by @neslihanturan , thanks!

[2020-03-12 14:17] macgills opened #3503 "Remove Title/Caption From MediaUploadDetail and only use Caption/Description pairs"
**Summary:**

`Caption (Required)` should be removed and the first caption be used as title instead

**Commons app version:**

structuredData

**Screen-shots:**

![image](https://user-images.githubusercontent.com/3358282/76530720-0e74c280-646c-11ea-9838-97401773a213.png)

**Would you like to work on the issue?**

Yes

[2020-03-12 14:33] macgills commented on #3501
Possible duplicate of #2803

[2020-03-12 14:59] macgills commented on #2442
Closing as I believe this to no longer be an issue

[2020-03-12 14:59] #2442 closed

[2020-03-12 15:09] misaochan commented on #3037
It's yours! Please keep us updated on your progress. :)

[2020-03-12 17:07] aakankshaa23 commented on #3037
I tried to replace the setAuthorView function with direct check whether the author exists or not.
It is not repeating or disappearing the data as it is inside getView which prevents this kind of misfunctionality.
Please suggest this change
![Capture](https://user-images.githubusercontent.com/37452934/76546566-c11b4400-64b1-11ea-90b1-9c996221a3e0.PNG)

[2020-03-12 19:08] 318anushka commented on #2238
Passed the default value (same as that of "place type") and this looks fine now.
Also about visibility , i tried to enable scaleBar visibility only when bottom sheet is dragged or state changed but looks like the method isn't called. Any fixes to that or is it fine for now?

<img width="309" alt="Screenshot 2020-03-12 at 10 57 02 PM" src="https://user-images.githubusercontent.com/45694892/76557632

[2020-03-12 23:53] misaochan commented on #1871
**Important:** Originally I had planned for these to be held roughly around the middle of this year. However, due to the new directives listed at https://meta.wikimedia.org/wiki/Grants:Project , "All offline (in-person) public events funded by Rapid Grants, Project Grants, or Annual Plan Grants must be cancelled or postponed until further notice", and "We will not be approving grants for offline e

[2020-03-13 02:45] nicolas-raoul commented on #2238
I would say it is fine.
Further enhancements can be filed as separate enhancement GitHub issues :-)

On Fri, Mar 13, 2020 at 4:08 AM 318anushka <notifications@github.com> wrote:

[2020-03-13 04:41] vvijayalakshmi21 commented on #3466
The target device for the app is set as Pixel 3a API 28.
![image](https://user-images.githubusercontent.com/34595292/76590025-080d3780-64ba-11ea-88fb-aa735cf2d5f9.png)

I have been trying to run the emulator. The process is running in the background but I am not able to view the Emulator.
![image](https://user-images.githubusercontent.com/34595292/76589946-d1372180-64b9-11ea-9456-ae853ad82a59.png)

[2020-03-13 06:22] sivaraam commented on #2238
@318anushka I suppose this is a lot better too :)

[2020-03-13 07:30] kbhardwaj123 opened #3506 "Image View Height remains zero for some time on a bad network"
**Image View height stays at zero for some time on bad network**

This happens only sometimes but the image height in media detail remains zero for some time on a bad network then suddenly jumps into existence

It happens only for some images and only rarely

**i managed to capture it on a bad LTE network**
![GIF-200313_125411 1](https://user-images.githubusercontent.com/44129798/76599131-59550f80

[2020-03-13 07:34] ashishkumar468 commented on #3506
Hi @kbhardwaj123  How are you planning to approach this issue?

[2020-03-13 07:40] kbhardwaj123 commented on #3506
@ashishkumar468 i will try to debug using timber arguments and try to analyse the logs, to see what is causing this delay

[2020-03-13 07:40] kbhardwaj123 commented on #3506
i will post here as soon as i find something

[2020-03-13 07:41] nicolas-raoul commented on #75
This page seems to do exactly what we want: https://commons.wikimedia.org/wiki/Special:SuggestedTags
Everyone please try it out, and post here how often at least one useful suggestion is shown (for instance 50% of the time, etc). Other thoughts welcome too of course. Thanks! :-)

[2020-03-13 08:13] ashishkumar468 opened #3507 "App Crashes in MediaDetailsFragment with ClassCastException"
**Summary:**

Open MediaDetails from the MainActivity and Swipe the ViewPager till it reaches it's end, the app crashes

**Steps to reproduce:**
Open MediaDetails from the MainActivity and Swipe the ViewPager till it reaches it's end

**System logs:**

[code]

**Device and Android version:**

Samsung S6

**Commons app version:**

Current master

**Would you like to work on the issue?**
Preferably

[2020-03-13 08:21] kbhardwaj123 commented on #3507
@ashishkumar468 I recently made major changes to the media detail files can I work on this

[2020-03-13 08:38] macgills commented on #3507
Go ahead @kbhardwaj123 !

[2020-03-13 09:00] macgills commented on #3466
You can't install on your device? have you enabled usb debugging in developer settings?

You could also try a much lower spec emulator, I go for much smaller screens because even though the emulator has improved greatly over the years it is still awful.

[2020-03-13 09:14] maskaravivek commented on #75
Wow! The suggestions look quite useful. For each of the first 5 images, I found at least 1 relevant tag suggested.

[2020-03-13 09:49] misaochan commented on #2238
That looks fine to me @318anushka . Feel free to submit your PR for this. :)

[2020-03-13 09:55] misaochan commented on #3466
There is no need to add a release config in order to test the app, debug should work. You may want to experiment with different kinds of virtual devices, and also make sure they are up to date.

What exactly happens when you try with your real device?

[2020-03-13 10:03] misaochan commented on #75
Their algorithm is fantastic IMO!! Had at least 2 relevant tags for 3/3 of the photos I saw.

[2020-03-13 10:14] macgills commented on #75
I couldn't say! Will for sure discuss it with him at our next meeting on monday.

[2020-03-13 10:24] misaochan commented on #75
Awesome! Let us know how that goes. :)

[2020-03-13 11:25] macgills opened #3508 "Remove HeightLimitedRecyclerView"
**Summary:**

I can see no reason why this should exist. It should be removed and the UploadMediaDetailFragment tested with a standard Recyclerview

**Would you like to work on the issue?**

Anyone feel free to take, otherwise I'll get to it

[2020-03-13 12:23] sivaraam commented on #75
In my attempt at testing 6 or 7 images, the suggestions were mostly relevant. In cases there were even 10 appropriate suggestion! Also, none of the suggestions can be called totally irrelevant. This looks great.

Yeah, guess what they are using in the backed,...  [Google cloud vision](https://cloud.google.com/vision/). 😎 [[ref]](https://commons.wikimedia.org/wiki/Commons:Structured_data/Computer-a

[2020-03-13 13:41] nicolas-raoul opened #3509 "P5775: Image of interior, and similar other properties"
When all P18s of the world are filled (lol), our next target could be:

https://www.wikidata.org/wiki/Property:P5775 Image of interior

It does not apply to all items that have coordinates, though, for instance a sculpture may or may not have an interior. Also, such pictures will be harder to take, for instance getting a picture of the interior of a prison might require some serious dedication to

[2020-03-13 13:47] #3493 closed

[2020-03-13 15:23] macgills commented on #2942
I think that has been done? @nicolas-raoul what are the steps I would need to undertake to validate this?

[2020-03-13 15:30] macgills opened #3510 "Improve Kotlin conversion of Achievement Models"
Data classes (preferably completely immutable) should be leveraged and there shouldn't be empty constructors

[2020-03-13 15:51] nicolas-raoul commented on #2942
Sean:
I recently uploaded this pic via Nearby:
https://commons.m.wikimedia.org/wiki/File%3A%E4%B8%96%E7%94%B0%E8%B0%B7%E5%B8%82%E5%A0%B4.jpg
The Wikidata item has its P18 linking to the picture, which is good.
But the point of this issue is to set "depicts" in the structured data of
the picture linking to the item, which the app is not doing yet as you can
see at my URL.

On Sat, 14 Mar 2020, 00:2

[2020-03-13 16:29] macgills commented on #2942
@nicolas-raoul Were you using the structured-data branch?

[2020-03-13 16:42] nicolas-raoul commented on #2942
Ah no sorry lol
Would you mind sending me an APK?

On Sat, 14 Mar 2020, 01:29 Seán Mac Gillicuddy, <notifications@github.com>
wrote:

[2020-03-13 19:55] kbhardwaj123 commented on #3507
@ashishkumar468 i got it it was because MainActivity did not implement the CategoryImagesCallback interface due to which the context of MainActivity couldn't be cast to CategoryImagesCallback

[2020-03-13 20:54] kbhardwaj123 commented on #3506
after a bit of debugging i found that if we try to print log for value of finalHeight :
![image](https://user-images.githubusercontent.com/44129798/76658624-880ace80-659a-11ea-99db-2e83116e777c.png)
i get:
![image](https://user-images.githubusercontent.com/44129798/76658844-f8b1eb00-659a-11ea-8fe4-7ca918e21448.png)

[2020-03-13 22:13] madhurgupta10 commented on #2377
@neslihanturan @misaochan Is this issue still there?

[2020-03-13 22:15] madhurgupta10 commented on #2852
@nicolas-raoul @misaochan Can I start implementing this?

[2020-03-13 22:22] madhurgupta10 commented on #3502
@macgills How about using something like - **book(s)**

[2020-03-13 22:27] madhurgupta10 commented on #1192
@neslihanturan Can I take up this issue?

[2020-03-13 22:45] madhurgupta10 commented on #2864
@misaochan @maskaravivek The Outlined Edit Text has become very popular now, and it is complimentary with the Dark Theme.

![Screenshot_20200313-233752](https://user-images.githubusercontent.com/30932899/76664388-7d453f00-6584-11ea-84c5-b983d9085924.png)

[2020-03-14 00:44] nicolas-raoul commented on #2852
@madhurgupta10 Sure, thanks! :-)

[2020-03-14 06:28] sivaraam commented on #3409
I believe this issue has served it's purpose now.

[2020-03-14 06:28] #3409 closed

[2020-03-14 09:30] #3507 closed

[2020-03-14 11:18] ashishkumar468 commented on #3300
This has been resolved #3322, closing this one.

[2020-03-14 11:18] #3300 closed

[2020-03-14 15:29] hudlerr commented on #3508
Hey @macgills, is this still up for grabs - correct me if not, but UploadMediaDetailFragment is using a ReyclerView

[2020-03-14 19:19] sivaraam opened #3517 "Nearby's presenter and view need better separation of concerns"
It seems the Nearby's presenter (`NearbyParentFragmentPresenter`) and it's view (`NearbyParentFragment`) need some refactoring to fix some separation of concern issues.

This was noted in the discussion of #3438. The relevant portion starts at https://github.com/commons-app/apps-android-commons/pull/3438#discussion_r390120216

Some relevant comments:

Though it was mentioned that this wasn't a hig

[2020-03-14 20:31] ahmedmamdouh13 commented on #3503
Can i work on this issue ?

[2020-03-14 21:13] hudlerr commented on #3494
Hey @sivaraam, am I alright to work on this?

[2020-03-14 23:33] madhurgupta10 commented on #2852
@nicolas-raoul
I just need a few clarifications!

When the user visits the Review Activity then we will check if the user level is >=5 if yes then we will let them review. If not then we will display a popup that explains that the user can't review until the profile reaches level 5 and redirects them to Achievements Activity.

When the user visits the Review Activity again and he/she is still unde

[2020-03-15 00:39] nicolas-raoul commented on #2852
Good question!
The best would be to at first never display the Review item in the left menu, a bit like we don't display it for users who are not logged in.
Then each time the user goes to their Achievements and gets their level calculated, you would "unlocked" the feature (allow the review item to appear in the menu, either immediately or next time they open the app).

[2020-03-15 00:46] madhurgupta10 commented on #2852
@nicolas-raoul Thanks, on it!

[2020-03-15 06:16] aakankshaa23 commented on #3037
The latest PR contains the author's name shown in the featured tab. I just changed the setAuthorView with a check whether the creator exists or not and setting the author textview blank instead of GONE which solves the misfunctionality of changing author name while scrolling.
Sorry for the above closed PRs as it contained unnecessary commits.
The latest PR contains only 1 required commit :)

[2020-03-15 08:29] gouri-panda commented on #3352
Can I work on this issue?

[2020-03-15 09:33] nicolas-raoul commented on #3352
@animeshk08 How is your progress? :-)

[2020-03-15 13:45] kbhardwaj123 commented on #3517
@sivaraam can i take this one up ?

[2020-03-15 13:49] kbhardwaj123 commented on #3517
i guess what the point here is that all the logical implementation should reside inside the presenter and not the view, right?

[2020-03-15 13:49] kbhardwaj123 commented on #3517
i guess what the point here is that all the logical implementation should reside inside the presenter and not the view, right?

[2020-03-15 14:14] gouri-panda opened #3520 "Application crashes when nomination for deletion is pressed"
**Steps to reproduce:**
1. Install the Application.
2. Skip the Login or Signup section
3. Go to the Explore section and select one image
4. Tap the button Nominate for deletion

**System logs:**
`2020-03-15 20:11:48.076 12723-12723/fr.free.nrw.commons.beta E/AndroidRuntime: FATAL EXCEPTION: main
    Process: fr.free.nrw.commons.beta, PID: 12723
    java.lang.NullPointerException: Attempt to invok

[2020-03-15 14:33] madhurgupta10 commented on #3520
@gouri-panda Could you please add logs?

[2020-03-16 01:05] gouri-panda commented on #3520
@nicolas-raoul  , @maskaravivek  Can I Start work on this issue?

[2020-03-16 01:13] madhurgupta10 commented on #3520
@gouri-panda I am unable to reproduce this issue. Can you share the flavor and app version you faced this issue on?

[2020-03-16 01:24] gouri-panda commented on #3520
@madhurgupta10 The app version is 2.12.3 and the  flavor is Beta

[2020-03-16 06:00] sivaraam commented on #3517
Hi @kbhardwaj123! Thanks for showing interest in taking this up. But this issue is tagged "low priority" as there are more important issues that need to be solved. So, I encourage you to take a look at other issues. I hope you'll find another one that interests you. 🙂

[2020-03-16 06:57] gouri-panda commented on #3520
@madhurgupta10  Did you find it?

[2020-03-16 08:34] macgills commented on #3520
![image](https://user-images.githubusercontent.com/3358282/76737568-ee414e00-6760-11ea-80b6-5208c5c17484.png)
@madhurgupta10 try not being logged in, the warning on that `equals`  is unsurprisingly `may produce NPE`

[2020-03-16 08:43] madhurgupta10 commented on #3520
I can see the issue now. @gouri-panda Do mention it (skip login) in your description.

[2020-03-16 09:13] misaochan commented on #3222
Hi @nicolas-raoul , @ashishkumar468 was encountering difficulty with using your images due to not knowing the title and description that he should use to upload them. Could you add a brief one please? :)

[2020-03-16 09:20] nicolas-raoul commented on #3222
@macgills @ashishkumar0207 When uploading my images, please use the title "Shibuya cityscape" or "Food in Shibuya restaurant" (feel free to adapt if obvious), and select the category [Shibuya](https://commons.wikimedia.org/wiki/Category:Shibuya). Also, please tell me your Commons accounts by email or chat, so that I can see the pictures you uploaded and add a description and more precise categorie

[2020-03-16 09:25] macgills commented on #3222
on prod I am `macgills2`

[2020-03-16 09:27] ashishkumar468 commented on #3222
Thanks @nicolas-raoul , I my username is [Ashishkumar468](https://commons.wikimedia.org/wiki/User:Ashishkumar468)

[2020-03-16 09:54] macgills commented on #3503
I am working on it @ahmedmamdouh13

[2020-03-16 09:58] macgills commented on #3508
It is up for grabs

![image](https://user-images.githubusercontent.com/3358282/76744706-96a8df80-676c-11ea-8fc5-d78b5a38c0a1.png)

[2020-03-16 10:01] misaochan commented on #3037
Hmmm. Referring to your PR, there is a bit of a problem here, as there is actually an author for https://commons.wikimedia.org/wiki/File:Paul_C%C3%A9zanne_-_The_Pigeon_Tower_at_Bellevue_-_1936.19_-_Cleveland_Museum_of_Art.jpg , as you can see in the Commons page. However, because the uploader is not the artist, it probably uses a different template, which we might not have accounted for when fetch

[2020-03-16 10:07] misaochan commented on #2864
I'm not sure how it would work with our upload text fields, to be honest... but we could provide input if you can share a mockup of how you think it could look. :)

[2020-03-16 10:13] #3474 closed

[2020-03-16 10:13] misaochan commented on #2377
I have not noticed it recently, but I'm not sure. Could you test this and let us know what you find @madhurgupta10 ? :)

[2020-03-16 10:30] macgills commented on #3502
I am in favor of it but others would need to be as well. @misaochan ?

[2020-03-16 10:44] macgills commented on #2377
I would judge this "feature, not a bug", if I've understood it correctly. At least for failed contributions.

We delete our databases so that another user can login ,an unlikely scenario but possible.

To support this we would have to key the data in our databases by user and never delete them.

Previously successful contributions should be accessible from the endpoint though.

[2020-03-16 11:14] #3520 closed

[2020-03-16 11:47] misaochan opened #3523 "Add support for Pride campaigns"
@Ladsgroup suggested to me that he would be interested in working on a "Pride" version of the app  for events like pride parades - when they upload the pictures, it would add some categories related to the campaigns.

I reckon that this could eventually even be generalized to all campaigns. For instance, if Wiki Loves Pride is on, we will already be displaying it as "News" on our main screen (see

[2020-03-16 11:57] macgills commented on #3379
This discussion should be revived, in my opinion.

MVVM is the standard [recommended](https://developer.android.com/jetpack/docs/guide) approach since 2017 and has fantastic support from the modern androidx libraries.

The MVP solution currently has a good few issues with logic not contained to presenters, boolean traps in the api, Presenters named as `Listeners`, views not passed to constructors

[2020-03-16 12:45] ShridharGoel commented on #3379
@macgills If the team is interested, then I would like to take this up as a GSoC 2020 project. It would be great if this can be added as a project.

[2020-03-16 12:58] macgills opened #3524 "Convert SpinnerLanguagesAdapter to kotlin"
**Summary:**

Due to bad merging on the structuredData branch this class is out of sync, I think the easiest way forward is to convert to kotlin, iron out some problems and then merge the new class to structuredData

**Would you like to work on the issue?**

Yes

[2020-03-16 13:45] nicolas-raoul opened #3526 "Unlike "Items" tab, "child classes" tab does not display description nor image thumbnail"
**Steps to reproduce:**

- Run this branch: https://github.com/commons-app/apps-android-commons/commits/structured-data
- Have Android in English locale
- Tap "Explore" in the left menu
- Tap the search tool
- Type "bow"
- Tap "Items"
- Look at the archery item: It has a description and an image. Tap it
- Tap "Child classes"
- Look at the "composite bow" item: It has no description nor image, desp

[2020-03-16 13:46] #3037 closed

[2020-03-16 13:48] nicolas-raoul commented on #3138
Seems fixed now :-)

[2020-03-16 13:48] #3138 closed

[2020-03-16 13:56] nicolas-raoul commented on #3143
Can't reproduce either :-)

[2020-03-16 13:56] #3143 closed

[2020-03-16 13:57] nicolas-raoul commented on #3137
Still happening.

[2020-03-16 14:23] nicolas-raoul commented on #2297
Below is the structured-data branch right now.
Things to fix in the UI:
- Remove the obsolete "Caption (Required)" field.
- When the "+" button is tapped, a new language (caption+description fields couple) is added at the bottom, but somehow it does not seem to appear immediately, I have to tap around a bit before being able to see it, not sure why.
![Screenshot_20200316-231105_Commons](https://us

[2020-03-16 14:30] macgills commented on #3503
duplicate of #2297

[2020-03-16 14:54] nicolas-raoul opened #3529 "Captions/depictions are not saved to Commons"
**Steps to reproduce:**
- Build https://github.com/commons-app/apps-android-commons/commits/structured-data branch
- Open app
- Upload picture
- Fill captions, for instance like this:
![Screenshot_20200316-233251_Commons](https://user-images.githubusercontent.com/99590/76769907-71ee4f80-67e0-11ea-9f20-66c15cbba8c5.jpg)

- Fill depictions, for instance like this:
![Screenshot_20200316-234526_Common

[2020-03-16 15:03] macgills opened #3530 "[DISCUSSION] Use Kotlin Android Extensions instead of Butterknife"
**Summary:**

In kotlin we have the option of using [Kotlin Android Extensions ViewBinding](https://kotlinlang.org/docs/tutorials/android-plugin.html#view-binding)

I am in favour of their usage for their ease of use.

 The alternatives are:
1. Continue using butterknife
1. Use [ViewBinding](https://developer.android.com/topic/libraries/view-binding) for compile time safety

[2020-03-16 16:13] maskaravivek commented on #3530
I am in favour of using Kotlin Android Extensions ViewBinding for all the Android components that are written in Kotlin.

IMO our goal should be to gradually remove all usages of Butterknife. Whenever an existing Android component which is written in Java is converted to Kotlin, we should ideally replace Butterknife with Kotlin Android Extensions ViewBinding.

Let's wait for what others think abou

[2020-03-16 17:12] misaochan commented on #3530
This sounds good to me.

[2020-03-16 17:35] maskaravivek commented on #3530
@misaochan Do we need to wait for more opinions on this or if everyone agrees then we can unblock #3524.

[2020-03-16 17:53] misaochan commented on #3530
Let's just get @ashishkumar468 's opinion, we should be good after that since this is a relatively minor policy.

[2020-03-16 18:49] ashishkumar468 commented on #3530
Agree with @maskaravivek  's opinion, I am okay to go with this, read the docs, supports both View Caching and Layout Containers (so that classes like ViewHolders can also be used as an extension containner).

[2020-03-16 19:02] gouri-panda opened #3531 "Application crashes when clicking the GridView adapter of Bookmarks."
**Summary:**
Application crashes when clicking the grid view after changing the theme in Bookmarks.

**Steps to reproduce:**

- Go to the bookmarks section
- Change the theme by going to the navigation drawer
- Go back to the Bookmarks section
- Select one image view in the Grid view

**System logs:**

[code]

**Device and Android version:**

Device name - Pixel 3a XL
Android version - Android 10

[2020-03-17 01:51] madhurgupta10 commented on #3346
@maskaravivek Hopefully migrations to AndroidX Pref #3521 will include this fix

[2020-03-17 04:54] vvijayalakshmi21 commented on #3466
The Android emulator does not show up even though the process is running in the background. I missed to enable the developer options and now I can install and run the app in my device but the debug points are not hit despite having USB debugging set to true

[2020-03-17 06:01] sivaraam commented on #3466
The breakpoints work only if you run the debug variant of the app. You can do that by hitting the debug icon instead of the run icon in Android studio. This is how the debug icon would look like:
![image](https://user-images.githubusercontent.com/12448084/76826482-8fec9c00-6842-11ea-8346-16568eed4e5a.png)

Refer the following page for more information: https://developer.android.com/studio/debug/

[2020-03-17 08:18] ashishkumar468 opened #3532 "Issue with gitignore"
**Summary:**

gitignore includes not to ignore files with path
-!/.idea/codeStyles/
because of which .idea/codeStyles/Project.xml shows up in changed files

**Commons app version:**

Current master

**Would you like to work on the issue?**
Yes

[2020-03-17 08:41] #2238 closed

[2020-03-17 08:50] macgills commented on #3530
A minor xml style point now that it seems we are all in agreement.

Should we start writing our `id`s in camelCase instead of snake_case seeing as they will be present in Kotlin classes?

[2020-03-17 08:56] ashishkumar468 commented on #3530
I think that should be okay.

[2020-03-17 09:38] macgills commented on #3532
We need to address the fundamental issue of why people are not realising that AS has changed a file or why AS is changing the file.

For people not being aware of their changes I generally recommend using a git client, sourcetree/gitkraken because the ui is a lot friendlier
![image](https://user-images.githubusercontent.com/3358282/76842624-74799500-6832-11ea-981d-92b2393fbdc9.png)

As to why AS i

[2020-03-17 10:00] sivaraam commented on #3532
As we're seeing cases where AS is messing with the codeStyle itself, I think we can look into alternatives assuming it's hard to figure out why AS is modifying the file. Is there any reason not to use alternative options such as [checkstyle](https://checkstyle.sourceforge.io/) to check for code style? I've seen the Wikipedia app use it for their [project code styles](https://github.com/wikimedia/a

[2020-03-17 10:26] neslihanturan opened #3534 "Ambiguities on nearby map marker"
**Summary:**
Recently I discovered a weird issue. Sometimes there are two different wikidata items with same labels (yes this is possible for wikidata, the unique id is entity id). Firstly they looks non useful on the map, see two different Ataşehir label, one is for the district, the other is for municipality building.
<img src="https://user-images.githubusercontent.com/3127881/76846053-f678b680-

[2020-03-17 10:32] macgills commented on #3532
checkstyle has poor automatic formatting support if memory serves and it is only for java so it doesn't really matter to me much.

Spotless could be okay, its general purpose-ness gives me cause for doubt. Personally haven't used it.

This should be an important lesson for new contributors to learn anyhow "Don't commit something you didn't change".

I'd rather figure out why AS is changing the fil

[2020-03-17 10:35] #3333 closed

[2020-03-17 10:40] macgills commented on #3530
@maskaravivek if you are okay with it then I will consider this issue closed

[2020-03-17 10:48] misaochan commented on #3532
Yes, it happens for me on AS 3.6.1.

[2020-03-17 10:49] macgills commented on #3532
@misaochan can you commit the changes to `Project.xml` a branch and I can try switching to it to see what happens for me?

[2020-03-17 10:52] gouri-panda commented on #3257
@maskaravivek  Is this issue still open? Can I work on this issue?

[2020-03-17 11:04] misaochan commented on #3532
https://github.com/misaochan/apps-android-commons/tree/Project-xml-debugging

[2020-03-17 11:07] Glitch101 commented on #3532
Happened with me as well on Android Studio 3.6.1

[2020-03-17 11:07] macgills commented on #3532
looks like I am the problem I would say https://stackoverflow.com/a/34628619 I turn off a lot of these plugins because they slow down build time

[2020-03-17 11:11] macgills commented on #3532
Who wants to open a PR to update the codestyle?

[2020-03-17 11:14] macgills commented on #3257
@gouri-panda seeing as how it has been 2 months with no activity I say go for it, try and replicate the issue first because I don't know if it exists

[2020-03-17 11:32] macgills commented on #3532
I'll open a PR so

[2020-03-17 11:34] Glitch101 commented on #3532
I can take this up but I didn't respond since I am really not sure how to patch this up :sweat_smile:

[2020-03-17 11:35] misaochan commented on #2377
This is what I was thinking. AFAIK we DID have an API for this, but not sure what happened with that. @maskaravivek any idea?

[2020-03-17 11:37] misaochan commented on #3502
Requesting @Nikerabbit or @amire80 's input on this.

[2020-03-17 11:39] #3464 closed

[2020-03-17 12:29] amire80 commented on #3502
Thanks for the ping! I'm not sure I understand the question. Does the app already have proper plural support and you want to remove it? If yes, why?

Or maybe the app doesn't have plural support, and you want to change the existing strings so that they would be number-neutral? If yes, can you just add proper plural support instead?

[2020-03-17 12:40] macgills commented on #3502
@amire80

The app has plural support but plurals have a lot of issues. Plurals missing that are required, extra plurals in languages that don't need them.

My suggestion is to use number neutral strings and ditch our plurals.

Hello again, been a while.

[2020-03-17 12:46] amire80 commented on #3502
Why remove plural support instead of improving the strings?

If there are problems in the translations, mark them as fuzzy by appending the string `!!FUZZY!!` to the beginning of each problematic translation. And where is the plural support documented? Translators at translatewiki are usually most experienced with localizing MediaWiki and its extensions, and if the strings here work differently, t

[2020-03-17 13:02] macgills commented on #3502
It is not a problem with the english strings (potentially), it is that the generated plurals exist when they shouldn't and don't exist when they should.

The english:
[code]

![image](https://user-images.githubusercontent.com/3358282/76857971-68033580-684e-11ea-94ec-7164714d2e2c.png)

Here the mistake was made to add a `zero` rule for English

[code]

and that caused this issue

![image](https://u

[2020-03-17 13:10] #3465 closed

[2020-03-17 13:14] madhurgupta10 opened #3536 "Replace static summary in custom author name with actual value"
**Summary:**

Continuing the discussion from [thread](https://github.com/commons-app/apps-android-commons/pull/3521#issuecomment-600058029)

Currently, a static summary is set which is somewhat repetition of the above switchpref

![76859067-db11a980-6858-11ea-9898-1b8e9bf5d382](https://user-images.githubusercontent.com/30932899/76859363-79057400-6859-11ea-9e54-576459aec7ed.png)

According to me, i

[2020-03-17 13:15] madhurgupta10 commented on #3536
Pinging @misaochan @macgills for inputs.

[2020-03-17 13:16] macgills commented on #3502
If I can be pointed at the place to add it then I am happy to add documentation on how android plurals work, which will mostly be a regurgitation of the [docs](https://developer.android.com/guide/topics/resources/string-resource#Plurals)

[2020-03-17 13:19] madhurgupta10 commented on #3346
@maskaravivek I tested the master branch after #3521 merger and this issue is resolved, so we can close #3346 and #3362

[2020-03-17 13:21] Nikerabbit commented on #3502
We now have plural validator for Android. Compare for example to Ajapaik which has it enabled:
* https://translatewiki.net/w/i.php?title=Special:Translate&showMessage=strings-profile_rephotos&group=ajapaik-app&language=ar&filter=&optional=1&action=translate (make sure you are logged in first, then make change in the text area but don't save. You see a warning from the validator).
https://translate

[2020-03-17 13:24] macgills commented on #3502
What would the strategy be for fixing our existing plurals?

[2020-03-17 13:24] macgills commented on #3536
I am in favour of it and androidx supports the functionality well

[2020-03-17 13:31] Nikerabbit commented on #3502
I can only make them show up in the list of messages needing translation/updating. Translators are required to update those messages appropriately.

Extreme solution would be to remove the problematic translations for these messages.

[2020-03-17 13:34] Glitch101 commented on #3453
`LoginActivity` is acting quite weird. When the activity starts, [the focus should go to](https://github.com/commons-app/apps-android-commons/blob/15bccdf650f76b9367865f15a7054824537b8200/app/src/main/res/layout/activity_login.xml#L109) the `username` field since we are doing `<requestFocus/>` in it (considering I am right about what `<requestFocus/>` does) but that's not happening as well. I have

[2020-03-17 13:43] madhurgupta10 commented on #3536
I have linked my PR and we can Merge/Close as per the discussion. :)

[2020-03-17 13:44] macgills commented on #3502
It is extreme but slightly to where I am leaning. We have 7 plurals and 2 of these should probably not be plurals.

I'll let @misaochan weigh in as it is not a decision to take lightly.

[2020-03-17 13:58] #3346 closed

[2020-03-17 14:16] macgills commented on #3453
watch out for those `@OnFocusChange` listeners, I would delete those and test it all out

[2020-03-17 14:40] sivaraam commented on #3536
Just wondering, isn't this a duplicate of #3415 in a way? :thinking:

[2020-03-17 14:48] macgills commented on #3529
Okay, yowza

[code]

![image](https://user-images.githubusercontent.com/3358282/76867969-28dce080-685e-11ea-92a3-829d80b72491.png)

I'mma guess this'll be the problem.

If you can give me the cliff notes of this process beyond `make contribution object, send contribution object` that'd help

[2020-03-17 14:55] macgills commented on #3536
Absolutely but after skimming and scrolling to the end what did that ticket end up being about?

[2020-03-17 14:58] nicolas-raoul commented on #3529
This happens even when you select a few depictions, if I understand correctly?
So it looks like the depictions are lost somewhere after selecting them... not sure how they are supposed to be carried around, but probably like the categories (which are correctly uploaded).
Sorry for not having much technical insight to bring to the investigation :-)

[2020-03-17 15:16] sivaraam commented on #3536
I'm not sure the issue ever reached a consensus. If memory serves, the consensus was forming around keeping the two options as it is and just fixing the summary issue. But then the discussion stopped.

In case it's not clear, I pointed to that issue just to ensure you close that too when the PR #3537 gets merged. Nothing else 🙂

[2020-03-17 15:28] macgills commented on #3529
Thanks Nicolas.

@maskaravivek @misaochan any possibility of ye chiming in with detail on the component detail and data flow? I am working on enhancing the readability of UploadController right now

[2020-03-17 15:29] macgills commented on #3536
superb.

[2020-03-17 17:32] VitalyVPinchuk commented on #3510
Hello
Is it suitable for beginners? If so, I'd like to work on it but some clarification and guidance needed.

[2020-03-17 18:06] Glitch101 commented on #3508
I tested it and it seems to be working fine. The only change is that the user will then be able to give unlimited descriptions to an image and are we sure that that's okay?

[2020-03-17 20:36] maskaravivek commented on #3530
Once the liked PR is merged, we can close this issue.

[2020-03-18 10:03] macgills commented on #3510
It should be okay, basically the problem is that the models were converted automatically and then not given a manual pass.
This [PR](https://github.com/commons-app/apps-android-commons/pull/3096) did a good job but was superseded.

[2020-03-18 10:07] VitalyVPinchuk commented on #3500
I tried to upload but app said "name already exists". Maybe it's fixed already

[2020-03-18 10:14] macgills commented on #3536
@misaochan with your approval of this feature I will merge the linked PR

[2020-03-18 10:20] #3397 closed

[2020-03-18 10:22] macgills commented on #3508
@Glitch101 that is different from how it currently is?

[2020-03-18 10:23] ashishkumar468 commented on #3508
I think even now we are not limiting the number of descriptions, don't remember why this was added anyways

[2020-03-18 10:24] ashishkumar468 commented on #3508
Maybe @misaochan  could confirm

[2020-03-18 10:24] Glitch101 commented on #3508
Yes, currently the user can at max submit 4 descriptions. This is what I
observed. Please confirm.

On Wed, Mar 18, 2020, 15:52 Seán Mac Gillicuddy <notifications@github.com>
wrote:

[2020-03-18 10:27] ashishkumar468 commented on #3508
No no, I just tried, we can add any number of descriptions, just the rendering is slow and maybe that's why you perceived it to be 4. Anyways, even if we have to limit it to 4, I am sure we can do it without the HeightLimitedRecycler view

[2020-03-18 10:29] ashishkumar468 commented on #3530
I was reading the docs, and the layout container support is experimental, are we okay with that?

[2020-03-18 10:41] Glitch101 commented on #3508
I tested it again and I can only do it 4 times on my device. I even waited 60 seconds and nothing happened. Let me test it more thoroughly with logs and I will keep you guys updated.

[2020-03-18 10:45] macgills commented on #3500
![image](https://user-images.githubusercontent.com/3358282/76952375-e9b59a80-6904-11ea-9cd5-9e11b9545cb2.png)

Try with a dark image, looks like somebody was being too clever with bit shifting and when multiple conditions are true it is showing incorrect messages

[2020-03-18 10:47] #3359 closed

[2020-03-18 10:49] macgills commented on #3530
It has been experimental since it released and has seen no real change over the 2 years I have been using it in production. It is also not "experimental" in the same way they mark APIs `experimental` where it is a compiletime error to not also mark your caller experimental

[2020-03-18 10:58] macgills commented on #3508
It performs very poorly and does not persist the data on scroll but I did add 7

[2020-03-18 11:09] Glitch101 commented on #3508
Were you able to go beyond 7?

[2020-03-18 11:11] sivaraam opened #3540 "Remove requirement to specify issue title in pull request"
For some time now, GitHub is showing cards when we hover over an issue number which gives us a quick summary of the issue. The issue title is shown in the card among other things.

Given that and the fact that we already require the issue number to be specified in the pull request description, I believe it's now moot to ask the contributors to include the issue title in the pull request descriptio

[2020-03-18 11:11] macgills commented on #3508
This issue is unrelated to removing HeightRecyclerView, please open a new issue for this.

It is difficult to say because the scrolling is so choppy but I believe so

[2020-03-18 11:14] Glitch101 commented on #3508
You are right. Since we would be removing it from this layout, it won't matter anyway.
Anyways, this issue seemed stale to me since @hudlerr hasn't responded for some while. Would it be okay if I submit a PR for this?

[2020-03-18 11:17] ashishkumar468 commented on #3508
@hudlerr  Are still interested in picking this up?

[2020-03-18 11:19] hudlerr commented on #3508
Sorry for the late reply; i would still like to, yes.

[2020-03-18 11:19] gouri-panda commented on #3257
@macgills  After Debugging and dig into source code I found that it happens on the uploadContribution method in the UplaodService class. In the uploadContribution method after uploadResult success, it returns the file name with underscores but I can't find where it sets as @nicolas-raoul  said.

[2020-03-18 11:20] ashishkumar468 commented on #3508
@hudlerr  Thanks for the quick response, please keep us posted regarding the updates, @Glitch101  Feel free to choose from the other issues :)

[2020-03-18 11:21] Glitch101 commented on #3508
Sure, happy to help :)

[2020-03-18 11:23] hudlerr commented on #3508
Got it!

[2020-03-18 11:23] sivaraam commented on #3540
FYI: A change for this is already present in the [`pull-request-template-change`](https://github.com/commons-app/apps-android-commons/tree/pull-request-template-change) branch of this repo.

[2020-03-18 11:33] macgills commented on #3257
[code]

This is what you are talking about?

Try debugging `UploadClient.uploadFileFromStash` I think, we need to worry about the data that gets uploaded so you can ignore the `Contribution` object getting set with details to be saved to the DB.

I am afraid I have no idea right now how anything gets uploaded and what fields are what. The 17 fields of Contribution are very unfriendly.

[2020-03-18 11:38] macgills commented on #3540
Go for it

[2020-03-18 12:03] VitalyVPinchuk commented on #3500
Oh, you're right, now I see. It's weird :)

[2020-03-18 12:12] macgills commented on #3500
Updated my misleading description, do you want to be assigned to this issue?

[2020-03-18 12:23] macgills opened #3541 "Media/Contribution are models for Network/Database/UI domains"
**Summary:**

To enforce separation of concerns the boundaries of these objects should be established.

**Would you like to work on the issue?**

When I have more familiarity with the codebase? If somebody else wants to tackle it then I won't complain

[2020-03-18 12:25] VitalyVPinchuk commented on #3500
Yes I do. Thanks.

[2020-03-18 12:49] macgills opened #3542 "Get rid of "Anemic Repositories""
**Summary:**

Terminology from [this article](https://proandroiddev.com/anemic-repositories-mvi-and-rxjava-induced-design-damage-and-how-aac-viewmodel-is-silently-1762caa70e13)

Some relevant quotes

**Would you like to work on the issue?**

Sure

[2020-03-18 13:54] macgills commented on #3408
I will be taking over this ticket as it has had no activity for a month. Hope I am not stepping on your toes @ilgazer

[2020-03-18 14:10] 6point022 commented on #3540
While it is definitely unnecessary for desktop users, having the PR title in the description could be useful for mobile users, considering there's no quick summary option as of now. And the new GitHub apps could probably result in a lot more people using GitHub through mobile.

Also, while we are on subject of making changes to the PR template, can we also modify "**Screenshots showing what change

[2020-03-18 14:57] macgills commented on #3540
Github is unusable on mobile for everything but commenting, I don't think we should make an affordance for a review context.

It means add screenshots if you changed the UI. We could change it to to `for UI changes only`. Separate issue though, please make an issue to discuss it further

[2020-03-18 15:36] misaochan commented on #3502
This would be great!

This sounds OK to me, I would prefer it over simply removing the problematic translations.

[2020-03-18 15:44] misaochan commented on #3529
IIRC @ashishkumar468 handled the overhaul of the upload process code last year, pinging him for input. My knowledge of the flow is somewhat outdated. :)

[2020-03-18 16:03] misaochan commented on #3536
Looks good to me, thanks @madhurgupta10 and @macgills . :)

[2020-03-18 16:10] 6point022 commented on #3540
That is true, however, it may get better with the [official Android and iOS apps that have been released](https://www.theverge.com/2020/3/17/21184254/github-mobile-app-now-available-download-ios-android-microsoft).

Sure, will do that.

[2020-03-18 16:19] 6point022 opened #3544 "Rephrase the requirement asking for screenshots in the pull request template"
_Continuing the discussion from issue #3540_

**Screenshots showing what changed (optional - for UI changes)** can have better phrasing. We could change it to **Screenshots showing what changed (for UI changes only)**.

[2020-03-18 16:29] sivaraam commented on #3544
I believe "**Screenshots (for UI changes only)**" would be more concise and clear enough.

[2020-03-18 16:36] sivaraam commented on #3540
I agree with this.

I've used the GitHub android app ever since the beta was launched. When it comes to reviewing PRs, trust me, it's still not there yet. Let's hope it gets better over time.

👍

Don't worry. You're [not the only one who got confused](https://github.com/commons-app/apps-android-commons/pull/3496#issue-386861711). It really does need to be changed for the good. 🙂 We'll discuss that

[2020-03-18 17:22] maskaravivek commented on #3540
I am not sure if we should make this change. Personally I use the new Github mobile app a lot for keeping track of the active issues.

Github mobile app recently came out of beta and they have been recently putting efforts to improve the mobile experience.

IMO it doesn't hurt to keep both the title and the issue number. Even for desktops I would be lazy enough to go and hover over the issue numbe

[2020-03-18 17:40] sivaraam opened #3546 "Post deletion notification in user pages of all users who have uploaded a version of that file"
As mentioned in https://github.com/commons-app/apps-android-commons/issues/3464#issue-575650691 (emphasis mine):

We currently only place the deletion notification only on one uploader talk page (not sure which one). Ref: [related code](https://github.com/commons-app/apps-android-commons/blob/master/app/src/main/java/fr/free/nrw/commons/delete/DeleteHelper.java#L101-L124)

We should get a list of

[2020-03-18 18:41] sivaraam commented on #3540
Personally, I've always found requesting the issue title to be a strange thing to request in the pull request description. Even if a person wants to know what is being fixed there's already a "What changes did you make and why?" section that should cover it. To add to that, a good PR would convey very well what is being fixed in the PR title and description itself. So, we really lose nothing by re

[2020-03-18 19:08] sivaraam opened #3547 "Logout doesn't immediately log users out"
**Summary:**
When I logout of the app, I see a "Please wait" loading dialog. After the dialog disappears, I expect to see the log-in page but it doesn't show up. The dialog just disappears and I'm able to use the app as if nothing happened. I'm not able to upload images, though. When I close the app and re-open it I see the login page.

**Steps to reproduce:**
1. Open the app
2. Log in to the app

[2020-03-18 19:49] madhurgupta10 commented on #3473
Github Android app also have theme options

Dark
Light
System Default

Which is quite similar to one we are using. I am not sure about pre-Android 10 devices.

[2020-03-18 23:23] avivith commented on #3547
Hi. I would like to work on this issue.

[2020-03-19 06:22] ilgazer commented on #3408
Hi, I was just about to make a PR with some changes. I was really busy in
the past 2 weeks but I will have more time now. Is there any chance you
could take up another issue?

On Wed, 18 Mar 2020, 16:54 Seán Mac Gillicuddy, <notifications@github.com>
wrote:

[2020-03-19 08:39] #3536 closed

[2020-03-19 08:41] macgills commented on #3544
@6point022 want this assigned to you?

[2020-03-19 08:44] 6point022 commented on #3544
@macgills Sure. And if we have a consensus on what @sivaraam proposed, i.e., "**Screenshots (for UI changes only)**", then I'll create a PR for that.

[2020-03-19 08:49] #3415 closed

[2020-03-19 08:50] sivaraam commented on #3415
Fixed in #3536

[2020-03-19 08:52] macgills commented on #3540
Personally when I start working on an issue I copy the title of an issue eg `Remove requirement to specify issue title in pull request #3540`, put the number at the start and then use that as the prefix for all my commits and if it is only 1 commit it ends up automatically being the title. Helps keep the context of my work so even if I have a stupid brain for a bit and just add the commit message

[2020-03-19 08:54] #3453 closed

[2020-03-19 08:58] macgills commented on #3473
`Follow System` works for me

[2020-03-19 09:02] macgills commented on #3547
You are assigned @avivith

[2020-03-19 09:16] macgills commented on #3408
@ilgazer I am a full time resource on the project now and this ticket has been quite beneficial for me to get to grips with the upload process. I would prefer to keep going now that I have momentum but if you insist I will hand it back over, it being your ticket and all.

[2020-03-19 09:26] Nikerabbit commented on #3502
Plural validator is now enabled and I'm marking bad plural translations for review.

Btw, `zero` key should not be used in English. It is not the same as number 0 in some languages. See for example Latvian in https://www.unicode.org/cldr/charts/34/supplemental/language_plural_rules.html

[2020-03-19 09:34] macgills commented on #3502
I am aware. I should probably make a ticket to get rid of that also our zero string for that is not a quantity string and should not be used
`<string name="contributions_subtitle_zero">No uploads yet</string>`

A conditional in code should express it I think

[2020-03-19 11:28] gouri-panda commented on #3257
@macgills  I think when we upload the image we sent the correct image title formate(i.e without underscores) then after image uploaded successfully the Database sends the UploadResult. In the Upload result, the image title contains underscores and then the title stores Local Database.
[code]

[2020-03-19 11:51] macgills commented on #3257
We can't be sending the correct thing, Nicolas' screenshots are from the website not the app so for this ticket any LocalDatabase should be completely irrelevant but I think the contribution database is what is used to queue uploads but here it has state `contribution.setState(Contribution.STATE_COMPLETED);` so this is probably the last operation?

@ashishkumar468 may know more than me, I think th

[2020-03-19 11:52] #3544 closed

[2020-03-19 12:41] 6point022 commented on #3426
@misaochan @macgills I'd really appreciate your inputs to proceed with this issue.

[2020-03-19 12:44] macgills commented on #3500
@misaochan to resolve this well we might need to rethink the validation flow. Have we ever considered adding a validation screen that shows the progress of the individual checks and a customised message depending on which check fails?

[2020-03-19 12:47] ashishkumar468 commented on #3257
AFAIR, we intentionally do nothing of this sort. But, I do see this happening, but at least to me its looks like we are sending the correct format file name, but this [api](https://commons.wikimedia.org/w/api.php?format=json&formatversion=2&errorformat=plaintext&action=upload&ignorewarnings=1) seems to return underscored file name even though we pass the file name in the non-underscored format.
At

[2020-03-19 12:54] macgills commented on #3426
I say do it

[2020-03-19 12:57] macgills commented on #3257
https://commons.wikimedia.org/w/api.php?action=help&modules=upload lets keep this handy

[2020-03-19 13:30] nicolas-raoul commented on #3257
We first upload the picture to Commons, _and then_ inject into Wikidata a reference to that newly created picture.

Commons transforms ":" into "-", and possibly other sanitations. So we need to rely on the name that Commons gives us back.

Example:
1. We upload "Director at première of Batman:Reborn" using the Commons API
2. The Commons API returns to me a response saying: OK, I created your file

[2020-03-19 13:46] gouri-panda commented on #3257
@nicolas-raoul  Are you saying we should check the response we get from API should be equal to the image title we uploaded with underscores.

[2020-03-19 14:08] nicolas-raoul commented on #3257
@gouri-panda Please take a picture of any common object in your house, upload it via the app with a name containing spaces and ":", while recording adb logcat. Then please post the Commons API response here. Thanks! :-)

[2020-03-19 14:34] 318anushka commented on #2882
@nicolas-raoul
If it's still open can i work on this?

[2020-03-19 14:36] gouri-panda commented on #3257
Image title = Beautiful house :

**Logs**
[code]

[2020-03-19 14:47] macgills commented on #3257
[code]

So we just alter `getFileName` to replace underscore with space?

[code]
Or I could be misundestanding the api

[2020-03-19 14:56] gouri-panda commented on #3257
[code]
We can add another method here to replace underscore with space and then we store into  Local Database Contribution Provider.

[2020-03-19 15:00] misaochan commented on #3500
Yes, our current validation flow is pretty wonky and reliant on a bunch of cases. A validation screen showing the individual checks in a more organized manner would be fantastic, however if ALL of the checks are good I see no reason to burden the user with it. Only display it when one or more of the checks fail perhaps. @neslihanturan @maskaravivek @ashishkumar468  ?

[2020-03-19 15:04] macgills commented on #3500
The checks are so lengthy I think surfacing it to the user has merit so they don't get frustrated but I think that is mostly the `isDark` check and I have been only uploading dark images, maybe it would be quicker without doing that.

[2020-03-19 15:08] madhurgupta10 commented on #3547
Just to mention that this issue is similar to #2764

[2020-03-19 15:22] misaochan commented on #3500
Do they take a long time for you? It usually takes 1-2 sec for me to proceed to the next stage.

[2020-03-19 15:22] macgills commented on #3257
You can try modifying that method and see if we get the right end result.
I actually just checked and that method is really annoying.
In UploadService we add the "File:" prefix
`String canonicalFilename = "File:" + uploadResult.getFilename();`
and then just replace it here before making sure this string has double quotes. That should be changed.

I also find it hard to believe this thing needs to

[2020-03-19 15:24] macgills commented on #3500
15 seconds sometimes, this is on beta though. Try with a totally black image

[2020-03-19 15:25] macgills commented on #2882
@318anushka please verify the issue exists and then start working on it

[2020-03-19 15:27] nicolas-raoul commented on #2882
@318anushka OK you can take it. Please let us know about your progress, and by the way thanks for adding the scalebar in Nearby, it is very useful :-)
I just tested, the problem still exists:
![Screenshot_20200320-001525](https://user-images.githubusercontent.com/99590/77083180-72852100-6a40-11ea-8293-02b6d58ecae7.png)

[2020-03-19 15:31] macgills commented on #3547
My apologies @madhurgupta10, that ticket is a year old and doesn't go into as much detail so I am considering closing it and instead focusing on this ticket.

Would you like to be assigned to this ticket and do you have the capacity for it currently?

[2020-03-19 15:33] madhurgupta10 commented on #3547
The old ticket can be closed and I am working on other issues right now. I would be happy if @avivith picks it up!

[2020-03-19 15:40] macgills commented on #2764
closing as duplicate of #3547

[2020-03-19 15:40] #2764 closed

[2020-03-19 15:43] macgills opened #3550 "Remove feature of using location data for pictures taken around the same time"
**Summary:**

We currently detect if there was an image taken within 120 seconds of another photo and suggest the user choose between the location data of the 2 photos for the upload, once per instance of the application.

This could be removed I think.

[2020-03-19 15:45] macgills commented on #3550
@nicolas-raoul pinging you for context on this feature.

Should be also noted that it doesn't actually use any location data if it asks the user currently but does in my refactor #3408

[2020-03-19 15:52] nicolas-raoul commented on #3550
This is a very useful feature, I use it actually.

[2020-03-19 15:55] 318anushka commented on #2882
@macgills Yes i checked, i'll start working on it.
And thanks a lot for helping me out with the first contribution😊

[2020-03-19 15:57] nicolas-raoul commented on #3550
Smartphone GPS sensors are cheap and often fail to get a location.
Very often, when you take 3 pictures of something, only 1 will have GPS coordinates.
Thus the idea of, if needed, reusing GPS coordinates of pictures taken shortly before or after.

[2020-03-19 15:57] madhurgupta10 opened #3551 "[Structured Commons] Remove both captions and description instead of just descriptions"
**Summary:**

Continuing the discussion from [thread](https://github.com/commons-app/apps-android-commons/pull/3504#issuecomment-601249775)

When Structured Commons are implemented, change the action of "X" to delete both Captions and Description instead of just Descriptions.

Use the UI mockup discussed in PR where the X and the Spinner are vertically centered.

Mockup:
![screenshot-user-images g

[2020-03-19 16:15] macgills commented on #3550
This feature doesn't work right now so that is very surprising

[2020-03-19 16:23] misaochan commented on #3426
I'm on board with it. :)

[2020-03-19 18:11] 318anushka commented on #2882
What exactly do we wan't to display here. I just saw last PR and it displayed title name but the changes aren't merged
https://github.com/commons-app/apps-android-commons/pull/2890#issuecomment-484651415
Can you please elaborate :-)

[2020-03-19 18:54] sivaraam commented on #3473
"Follow system" sounds a lot better but whether it's quite similar to "Default" [is debatable](https://github.com/commons-app/apps-android-commons/pull/3460#issuecomment-596095164).

Yeah they show the same thing there too.

FWIW, WhatsApp shows just "Light" and "Dark" as options for the theme in my device (Android 5.1.1).

[2020-03-19 18:54] sivaraam commented on #3473
Rather than bikeshedding this further, I believe it would be better if we just go with the following:
1. Light
2. Dark
3. Follow system

Note the order there. What do you think?

[2020-03-19 18:57] GearGit commented on #3376
Created a new pull request.

https://github.com/commons-app/apps-android-commons/pull/3552

[2020-03-19 18:58] madhurgupta10 commented on #3473
I will make the change if @macgills and @misaochan approves :)

[2020-03-19 19:00] sivaraam commented on #3547
I'm not sure if this is a duplicate of that for the following reason: In my case, I actually don't see the login page at all after I logout. I waited for around 2 minutes and still didn't see the logout screen. 🤷‍♂ As mentioned in the description, I'm even able to go to other places such as Nearby, Explore etc.

[2020-03-19 19:19] sivaraam commented on #2882
When you upload via Nearby the image gets associated with a [Wikidata item](https://www.wikidata.org/wiki/Help:Items). We would like to show the title of the corresponding Wikidata item in the toast.

[2020-03-19 19:20] sivaraam commented on #2882
Also, whether the PR #2890 achieved that correctly is questionable.

[2020-03-19 19:42] sivaraam commented on #3257
I don't think we have to handle the underscores in our code. If you take a look at the example response at the [linked wiki page](https://www.mediawiki.org/wiki/API:Upload#Example_1:_Upload_a_local_file_directly) it has a `canonicaltitle` key inside the `imageinfo` key which seems to be the version of the title that Wikidata is expecting (after slicing the `File:` part). I haven't confirmed this b

[2020-03-19 19:51] sivaraam commented on #3257
If my theory is correct and I were to map the various API parameters in the [example response](https://www.mediawiki.org/wiki/API:Upload#Example_1:_Upload_a_local_file_directly) with [Nicolas' example](https://github.com/commons-app/apps-android-commons/issues/3257#issuecomment-601178839) above, this would be the mapping:

* `filename` would correspond to the `Director_at_première_of_Batman-Reborn

[2020-03-19 20:20] gouri-panda commented on #3257
@sivaraam I am really confused about this code
[code]
In the code the uploadResult method gives the image title with underscore but in the code database it stores without underscore.Can you please look at it?
![image](https://user-images.githubusercontent.com/43576162/77111283-12e14280-6a4d-11ea-9835-e4a84a9c6666.png)

[2020-03-19 21:47] FawziyahAlebiosu commented on #3361
do you mean adding the type of info buttons that are in this [image](https://user-images.githubusercontent.com/20774412/77117770-0affaf00-6a09-11ea-9aed-f4cd21a86989.png) to these two options at the [bottom?](https://user-images.githubusercontent.com/20774412/77117805-1bb02500-6a09-11ea-8496-89b37be5a643.png)
If I would throw a solution out there, maybe we should just modify what the boxes that ar

[2020-03-19 22:00] FawziyahAlebiosu commented on #2874
correct me if I'm wrong, it looks like the remaining strings that still contain 'success and failure" are:
https://github.com/commons-app/apps-android-commons/blob/0ad269d3d6ef461c74d6338368eb81e4cdf5200c/app/src/main/res/values/strings.xml#L22
https://github.com/commons-app/apps-android-commons/blob/0ad269d3d6ef461c74d6338368eb81e4cdf5200c/app/src/main/res/values/strings.xml#L338
https://github.c

[2020-03-19 22:07] FawziyahAlebiosu commented on #2872
Looks to me like inside of the strings.xml file, search this area has been removed and is no longer capitalized. See here:
https://github.com/commons-app/apps-android-commons/blob/0ad269d3d6ef461c74d6338368eb81e4cdf5200c/app/src/main/res/values/strings.xml#L452
Can this issue be closed now?

[2020-03-19 22:09] FawziyahAlebiosu commented on #2872
I spoke too soon!
@HarunJr looks like all that is left is for this line to be made to lowercase and then both strings will be consistent:
https://github.com/commons-app/apps-android-commons/blob/0ad269d3d6ef461c74d6338368eb81e4cdf5200c/app/src/main/res/values/strings.xml#L310

[2020-03-19 22:46] maskaravivek commented on #3500
Yup a validation screen sounds great.

[2020-03-19 23:44] madhurgupta10 commented on #3547
One of the processes in logout is causing the delay, I remember trying to find out the root cause of it but stopped working on it after a few days. This is issue is subjective to the user, for me I can log out instantly but sometimes I face the same issue.

[2020-03-20 01:17] nicolas-raoul commented on #2882
Hum, good find, I wonder why this PR was not merged.
It looks good to me as it is simple enough.
@318anushka would you mind testing it? Then send a new PR with the same content if it looks OK to you.
@sivaraam Is it a general observation, or do you have in mind something in particular which is bad about this PR? Thanks for your insight :-)

[2020-03-20 04:09] sivaraam commented on #2882
I had a suspicion if that PR was just showing the image title rather than the title of the Wikidata item in the toast. I'm not familiar with that code to confirm either way. Thus the observarion. :)

[2020-03-20 05:16] nicolas-raoul commented on #2882
Oh, that might be the case indeed!
Anushka, please test the PR by modifying the caption and description, and
post the URL of your uploaded image. Thanks! 🙂

On Fri, 20 Mar 2020, 13:09 Kaartic Sivaraam, <notifications@github.com>
wrote:

[2020-03-20 07:27] macgills commented on #3473
Approved

[2020-03-20 07:41] macgills commented on #3257
@gouri-panda the database is irrelevant so don't focus on it.

`wikidataEditService.createClaimWithLogging(contribution.getWikiDataEntityId(), canonicalFilename);` this is the line you need to focus on to fix this ticket.

If ImageInfo has `canonicaTitle` then it isn't in this wikidata library
[code]

[code]

[2020-03-20 07:53] macgills commented on #2872
Buttons in android by default capitalise all the text that you set to them so I doubt `SEARCH THIS AREA` was ever in the codebase as all caps. I am not 100% on what to do here because referencing our button `SEARCH THIS AREA` with the non capitalised text `Search this Area` weakens their connection in English.

I'd say the best way it to probably paramterise `showcase_view_whole_nearby_activity` a

[2020-03-20 08:12] macgills commented on #3547
With this ticket I think we can "make logout work good"

I am not entirely aware how login/out works but can't we just delete a local token or something?

[2020-03-20 08:22] ilgazer commented on #3408
I understand and your reason to continue is quite reasonable. I would have
needed to rewrite a good portion of my work anyways as I mistakenly created
another class for storing GPS coordinates instead of reusing LatLng. Have
fun with the spaghetti code :))

[2020-03-20 08:24] sivaraam commented on #3388
Just wanted to share a page which seemed related to this: https://meta.wikimedia.org/wiki/Wikiexpedition

[2020-03-20 08:32] macgills commented on #3408
I am waist deep in bolognese

[2020-03-20 08:53] macgills commented on #3550
So reasons this doesn't work:
1. The boolean `haveCheckedForOtherImages` gets set true after you check for other images once, not even if you successfully find anything. This object is a singelton and that boolean is never set to false.
1. When we show the dialog here is the callback we call
[code]

As far as git blame goes it has been like this since 13/06/19

[2020-03-20 08:57] macgills commented on #3550
Also if I have understood this right: A user can set to redact their location tags and then we offer to get their location from another photo? That would annoy me a lot

[2020-03-20 10:04] macgills commented on #3550
Also I don't know if this is a feature but this only works when you are uploading multiple images or that is the scenario it is most likely to work in.

How we try and find the users photos to test if they were with the 120s range is we get the parent directory of the photo and then iterate the photos in the directory, on my phone that directory is
`/data/user/0/fr.free.nrw.commons.beta/cache/Comm

[2020-03-20 10:18] 318anushka commented on #2882
Sure , will do that!!

[2020-03-20 10:19] 318anushka commented on #2882
Sure!! will do that.

[2020-03-20 10:33] misaochan commented on #3473
Sounds good to me.

[2020-03-20 10:34] #3532 closed

[2020-03-20 10:38] macgills commented on #3550
Also the message that shows in the dialog doesn't make it clear that we are suggesting they use this image's location data because the image you are trying to upload doesn't have any

[2020-03-20 10:50] macgills commented on #3222
@misaochan

So the issue with this is the beta environment, not necessarily the app (though a little bit the app).

Merging is becoming more crucial to stop divergences from arising so if we can live with it I would aim to get structured data merged sooner rather than later and live with the consequences.

[2020-03-20 10:56] misaochan commented on #3500
Right, it takes longer if one of the checks fail for some reason(?). But I meant that currently, for users who submit a photo that passes all the checks, they would usually just go straight to the next stage in 1-2 sec, in my experience. The validation screen sounds to me like it would be a step back for them, although it would be a step forward for photos that fail a check.

[2020-03-20 11:03] misaochan commented on #3222
Yes, exactly. Due to the nature of how the beta cluster works, there are many features of the app that do not work on it. This is perfectly fine and intended (on our side) - if we restricted ourselves to an app that works perfectly on beta, we would have no Nearby uploads, no category suggestions, so on and so forth.

We should aim for it to work on production, and that is sufficient. Beta is sole

[2020-03-20 11:07] macgills commented on #3500
I think the dark check just takes longer for a dark picture.

I didn't see your message @misaochan so I just sort of rambled  for a bit:
So I am thinking a list of conditions, intedeterminate progressbar beside each one while checking, green tick, red x or orange/yellow exclamation  for on success, fatal error, non fatal error/warning?

Show a button for previous if any are in progress, progress a

[2020-03-20 11:09] macgills commented on #3222
Okay, then I will open a PR to close this ticket

[2020-03-20 11:11] misaochan commented on #3388
Oh, so that's the name of what we were talking about... 😄

Thanks for the resource! We still have about a year before we start planning this (perhaps longer, depending on the duration of the WMF offline events ban...), but it is great to have more info at our fingertips for when we start.

[2020-03-20 11:16] misaochan commented on #3222
Great! Please ping for testing when it's ready. :)

[2020-03-20 11:21] macgills commented on #3500
If it is just a Validation Failed Dialog, all it needs to show is the errors and not the successes.

Are there many unprogressable errors? I think empty/invalid title are the only ones that fully stop you moving forward.
[code]

Also it would be preferable if we moved away from ints and represented our errors as types.

I think all this has to do is combine non fatal errors into one dialog - as lo

[2020-03-20 11:24] macgills commented on #3222
@misaochan ping

[2020-03-20 12:38] macgills opened #3555 "Get rid of HandlerService"
**Summary:**

We have RxJava if we need to simulate a queue of work, by binding we can just pass acquire a service reference and directly invoke methods instead of using message passing.

[2020-03-20 13:30] #3473 closed

[2020-03-20 13:56] macgills commented on #3529
This is behaving completely absurdly.

By calling `Single.just(contribution)` the depictionEntityIds are being cleared on the Contribution. I have no logical explanation

[2020-03-20 13:57] amire80 opened #3557 ""Did you shoot these two pictures at the same place" is not translatable"
The message "Did you shoot these two pictures at the same place? Do you want to use the latitude/longitude of the picture on the right?" is not translatable on translatewiki.

It appears in the code in app/src/main/res/layout/fragment_similar_image_dialog.xml, but not on translatewiki. I've just seen in the app, even though I see the rest of the app in Hebrew.

I suspect that other messages from t

[2020-03-20 14:02] amire80 commented on #3502
I see that this was enabled in translatewiki. It's mostly a good thing, but would it be possible to make some rules optional? For example, in Hebrew "two" and "many" are almost always identical, and something similar is probably true for a lot of other languages.

It probably has to be done on the translatewiki or Extension:Translate side, so pinging @Nikerabbit again.

[2020-03-20 14:18] macgills commented on #3502
@amire80 just as input for "translatewiki or Extension:Translate side", lint would still complain at us if it says hebrew should have two/many and the file only has 1 of the rules. This could be dealt with by having ignores in the hebrew files for this issue of `MissingQuantity` but it would mask all missing quantities then, unless applied to specific translations

[2020-03-20 14:20] #3426 closed

[2020-03-20 14:22] nicolas-raoul commented on #931
@mhk19 : This is not a "bug" issue. We are currently discussing how to tidy up the page, so feel free to post your ideas here :-)

[2020-03-20 14:33] amire80 commented on #3502
If the linter complains about it, it is a bug in the linter. A linter is supposed to complain about likely problems. A missing "two" rule in Hebrew is likely not a problem because the "two" form is only used when talking about hours, days, years, and body parts, and that's about it. If a linter reports about it at all, it's supposed to be in the lowest priority. A linter is not supposed to overrid

[2020-03-20 14:36] nicolas-raoul commented on #3412
Here are a few possible illustrations: https://commons.wikimedia.org/wiki/Category:Lonely_people_in_art lol

[2020-03-20 14:39] Nikerabbit commented on #3502
@amire80 As a translator, what would you think of an explicit syntax for aliasing forms, such as `{{PLURAL|one=...|two&many=...}}`?

[2020-03-20 14:47] amire80 commented on #3502
Somewhat redundant, but much better than just duplicating everything.

(And if you are doing this, then this should be documented for all the translatewiki projects where it is used.)

[2020-03-20 15:02] 6point022 commented on #3498
@macgills Can I work on this?

I have identified  the following changes that will have to be made:

1. Change BiMap to HashMap in `DescriptionsAdapter.java`
2. Change BiMap to HashMap in `SpinnerLanguagesAdapter.kt`
3. Delete `BiMap.java` (I am not sure, maybe we can keep it)

I didn't find any usage of `contansKey(V v)`, so I don't think there's any issues here.

[2020-03-20 15:14] isnirp commented on #3195
I noticed latest item isn't placed at the top until pull-refresh. If this issue is still standing I can have a look at it @nicolas-raoul

[2020-03-20 17:06] 6point022 opened #3558 "Nearby: Copy the place name on long click"
**Summary:**

In Nearby, copy the place name to clipboard on long click, instead of just a normal click.

**How can we reproduce the issue?**

Open Nearby. Select any location pin. Tap on the place name.

**What did you expect the app to do, and what did you see instead?**

Currently, a normal click also copies the text to clipboard. And it is very annoying because the toast appears whenever we ex

[2020-03-20 17:50] sivaraam commented on #3257
Yeah, that does seem to be a limitation of the data-client library[1]. I believe we can request them to provide a way to access the `canonicaTitle` in the response.

[1]: IIUC, the repository for it can be found at https://github.com/wikimedia/wikimedia-android-data-client

[2020-03-20 19:01] sivaraam commented on #3557
Yeah. As you've observed. It seems the string is currently non translatable. It has to be moved to the `strings.xml` file to enable translation.

On a related note, there's discussion going on in #3550 about whether this feature could be removed. You can be part of the discussion if you're interested @amire80 :)

[2020-03-21 02:48] nicolas-raoul commented on #3195
@isnirp Thanks for testing! Actually it seems that the situation has worsened recently, the order is messed up independently from file name. It would be great if you could fix it, thanks! It is yours, please let us know about your progress :-)

[2020-03-21 02:58] nicolas-raoul commented on #3257
@sivaraam Thanks for the research!

@gouri-panda Communicating with upstream is an important part of doing open source. Please make sure you understand the issue and write the enhancement request that you would send to https://github.com/wikimedia/wikimedia-android-data-client . Then we will check it and then you can post it there and wait for their answer. Thanks :-) https://blog.wikimedia.org/20

[2020-03-21 07:08] nicolas-raoul commented on #3140
Similar issue on latest master:
[code]

[2020-03-21 07:39] nicolas-raoul opened #3559 ""Failed to send thanks" notification, but thank actually sent successfully"
Steps to reproduce:
- Compile and run latest master.
- Tap "Review"
- If the picture is good, tap to end a thank
- See notification, it says "Failed to send thanks"

Example:
![Screenshot_20200321-162122_Commons](https://user-images.githubusercontent.com/99590/77221973-424d9780-6b92-11ea-8607-24ee8b9cc8e0.jpg)

Even though the thank has actually been [sent successfully](https://commons.wikimedia.o

[2020-03-21 08:08] sivaraam commented on #3559
I've seen this too.

[2020-03-21 08:11] nicolas-raoul commented on #2744
@sivaraam I just tried with the latest master, you are right! I guess this can be closed.

[2020-03-21 08:11] #2744 closed

[2020-03-21 08:19] nicolas-raoul opened #3560 "Attach correct tags when sending thank"
Currently thanks are sent with no tag, see the first line below ([thanks viewing tool](https://commons.wikimedia.org/wiki/Special:Log/thanks)):
<img width="808" alt="Screen Shot 2020-03-21 at 16 40 31" src="https://user-images.githubusercontent.com/99590/77222179-4ed2ef80-6b94-11ea-9fc9-6f1677d8246e.png">

By comparison, the last line is sent via the Wikipedia mobile app, I think.
We should send t

[2020-03-21 08:27] nicolas-raoul opened #3561 "After tapping "+", new language caption+description pair difficult to access"
When the "+" button is tapped, a new language (caption+description fields couple) is added at the bottom, but somehow it does not seem to always appear immediately, especially from the third language pair, I have to tap around a bit before being able to see it, not sure why.
![Screenshot_20200316-231105_Commons](https://user-images.githubusercontent.com/99590/76766756-d5c24980-67db-11ea-83a9-25b5a

[2020-03-21 08:29] nicolas-raoul commented on #2297
Closing this, issues created for each of the two remaining problems.

[2020-03-21 08:29] #2297 closed

[2020-03-21 09:13] 6point022 commented on #3559
Can I try to work on this?

I was able to reproduce this issue for betaDebug. I observed that we get the same failure notification when the thanks is recorded and when it actually fails (I did this by turning off the WiFi just before sending thanks).

[2020-03-21 09:16] nicolas-raoul commented on #3559
@6point022 Yes it's yours! Please use "prodDebug" instead. Thanks :-)

[2020-03-21 09:21] nicolas-raoul opened #3562 "Make prodDebug the default flavor?"
The beta server can be useful in some cases, but it does not work as well. As the app integrates more and more with other servers, more and more features do not work on beta.
Really most testing should be done on prod (when testing picture upload, using pictures that are acceptable for prod or aborting before real upload).

What do you think about making prodDebug the default flavor, rather than b

[2020-03-21 10:00] 318anushka commented on #2882
I tried testing the pr and everytime on uploading image toast displayed "failed to update corresponding wikidata entity" and the image is still getting uploaded.

[2020-03-21 10:07] nicolas-raoul commented on #2882
Could you please post the URL to the image?

[2020-03-21 10:11] 318anushka commented on #2882
Yes , here
https://commons.wikimedia.beta.wmflabs.org/wiki/File%3AGovindgarh_lake_side.jpg

[2020-03-21 10:12] 318anushka commented on #2882
Tried this as well
https://commons.wikimedia.beta.wmflabs.org/wiki/File%3ASardar_Vallabhbhai_National_Institute_of_Technology%2C_Surat_2.jpg

[2020-03-21 10:18] 318anushka commented on #2882
Also i recently synched local repo and now there is an error, it is unable to fetch nearby places.Is anyone else facing the same error?
Logcat shows this error: E/SQLiteLog: (1) no such column: location_pic
![Screenshot_20200321-145330](https://user-images.githubusercontent.com/45694892/77224397-45915500-6b8b-11ea-97ff-bf001688df75.jpg)

[2020-03-21 11:52] nicolas-raoul commented on #2882
Please rebuild using the "prodDebug" option, and upload/post the URL again. Thanks! :-)

[2020-03-21 12:07] chao19991005 commented on #3561
Can I work on this issue?

[2020-03-21 12:11] nicolas-raoul commented on #3561
@chao19991005 Have you managed to reproduce the issue? Please send a screenshot showing these fields in several languages, thanks :-)

[2020-03-21 12:27] chao19991005 commented on #3561
@nicolas-raoul Sorry, I found that there is no such bug appears in my device

[2020-03-21 12:28] AntSYau commented on #3561
it happens after i have added several languages. besides i found it impossible to delete the languages i don't want, there's only a + button.
![Screenshot_20200321-202514](https://user-images.githubusercontent.com/10476297/77226316-5a351380-6bb2-11ea-99b4-40b453045584.jpg)

[2020-03-21 12:28] nicolas-raoul commented on #2068
@misaochan Not really. Thanks were implemented, by not "in your area". Maybe it could be another tab in Explore, after "Mobile uploads"?

I suggest abandoning the idea of star rating for now, and instead making any picture targetable for "peer review", where the user can either thank or tag any problem.

[2020-03-21 12:35] AntSYau commented on #3561
Oh and after adding another several blank languages, I directly suspended my phone, and when I turned it back on, the app crashed and asked me to send error messages...

[2020-03-21 12:37] nicolas-raoul commented on #3561
@chao19991005 @AntSYau Oh sorry I did not realize the Structured Data branch had not been merged yet.
Would you mind temporarily switching to this branch? https://github.com/commons-app/apps-android-commons/commits/structured-data Thanks!

[2020-03-21 12:37] AntSYau commented on #3561
sure i'll see what i can do

[2020-03-21 12:41] nicolas-raoul commented on #2909
@kbhardwaj123 Sorry for the late reply! Are you still interested in working on this?

[2020-03-21 12:46] AntSYau commented on #3561
the "+" button now don't work at all @nicolas-raoul

[2020-03-21 12:47] AntSYau commented on #3561
[code]

[2020-03-21 12:48] nicolas-raoul commented on #3364
I think we should support any size that Commons allows us to upload.
As the Redmi has 48 megapixels it may hold a lot of details that could be lost if we compressed the image before sending it.

[2020-03-21 12:59] AntSYau commented on #3561
Here are logs after I wake up my phone. It looks like the app is trying to drag something from server or something, but it never made it and got trapped
[code]

[2020-03-21 13:04] AntSYau commented on #3561
And if I straightly go back to sleep from here, the app will crash.
[code]

[2020-03-21 13:13] 318anushka commented on #2882
Yes the PR is showing image title (i edited and checked).
https://commons.wikimedia.org/wiki/File%3ASVNIT%2C_SURAT.jpg

[2020-03-21 13:22] nicolas-raoul commented on #3561
Please rebuild with the "prodDebug" flavor, it is better to always use that flavor. Thanks!

I tried the following:

- Select an image to upload
- Enter caption/description in the first language
- Tap '+'
- Nothing happens, even if waiting for a long time
- Switch the focus to the other fields
- Still nothing happens, even if waiting for a long time
- Add another character to the description field

[2020-03-21 13:28] AntSYau commented on #3160
Did the orignal author turned on the "Use custom author name" in the app Settings and uploaded an image with a custom name?

[2020-03-21 13:28] nicolas-raoul commented on #2882
Thanks!
Unfortunately, image title is not great, because it may not be the same as the Wikidata item.
The toast is a remainder that the image you just uploaded is now linked from the Wikidata item (as seen at https://www.wikidata.org/wiki/Q7423738 )
That's probably why Ahmed's PR was not merged.

So, you will have to figure out how to implement this and show the Wikidata item's label (which was di

[2020-03-21 13:30] nicolas-raoul commented on #3160
@AntSYau Might be! Would you mind trying? :-)

[2020-03-21 13:35] nicolas-raoul commented on #3375
I think this is a duplicate of #545

@Zthomasdewp feel free to add more info there, thanks! :-)

@GearGit Please read bullet 3 at https://github.com/commons-app/documentation/blob/master/android/Volunteers-welcome!.md#developers ;-)

[2020-03-21 13:37] 318anushka commented on #2882
Okay i'll start working on it

[2020-03-21 13:40] kbhardwaj123 commented on #2909
@nicolas-raoul yeah sure I'll take this up :)

[2020-03-21 13:41] AntSYau commented on #3160
These are uploads with that option [on](https://commons.wikimedia.beta.wmflabs.org/wiki/File%3A%E8%82%AF%E5%BE%B7%E5%9F%BA%E6%88%91%E7%9C%8B.jpeg) and [off](https://commons.wikimedia.beta.wmflabs.org/wiki/File%3AOff.jpeg). It did result in different Author names on the website.

[2020-03-21 13:59] AntSYau commented on #3561
Yes, that happens on my build!
Sorry I had little experience in tracking issues. I will look through history reports about the other crash.

[2020-03-21 14:00] nicolas-raoul commented on #3160
Interesting!
Do you want to try and fix this issue? If yes I can assign it to you.

[2020-03-21 14:04] nicolas-raoul commented on #3561
@chao19991005 Are you able to reproduce the issue I described above? On the structured-data branch.

[2020-03-21 14:04] AntSYau commented on #3160
I think I can give it a try, but I'm still learning Android programming so it may take more time...

[2020-03-21 14:06] nicolas-raoul commented on #3160
Take your time, but please just let us know about your progress every few days at least. Thanks! :-)

[2020-03-21 14:07] AntSYau commented on #3160
Ok~ I'll try my best

[2020-03-21 14:08] nicolas-raoul commented on #3360
Please only ask to take this issue if you have already 5 pull requests accepted for bugfixes. Thanks! :-)

[2020-03-21 14:12] nicolas-raoul commented on #3369
betaDebug often behaves weirdly.
Could you please send the same screencast with the prodDebug flavor? Thanks :-)

[2020-03-21 14:32] sivaraam commented on #3369
I believe this is obsolete now as #2944 is now fixed. Hence closing this.

[2020-03-21 14:32] #3369 closed

[2020-03-21 14:46] nicolas-raoul commented on #3003
Warning: Most images displayed in Wikipedia articles are not good illustrations for their topic. That's because a lot of images are miniatures at the bottom, or show related things. For instance an article about a 12th century castle might only have a picture of the 18th century castle that was built after the original castle was destroyed. I do a lot of WDFIST and these cases happen very often, s

[2020-03-21 14:50] 6point022 commented on #3559
I'll really appreciate some help with this.

This is from the ThankClient.java file

[code]

I tried to see what `getSuccessVal()` will return.

[code]
I could be way off here (I am just learning!!), but I think the reason for failure could be that it is actually returning 0, since the default value of `success` will be 0 and we are never initialising it to anything else. So, in `ThankClient.java`

[2020-03-21 15:06] amire80 commented on #3557
Whatever, I don't care very much to be honest. I trust the app's designers on this. But if you do plan to keep it, please make it translatable :)

[2020-03-21 17:34] sivaraam commented on #3559
@6point022 It's a good thing you shared your doubts here :) I'm not so familiar with the code base but I'll share my views here assuming others will correct me if I'm wrong.

You won't find the code that initializes the value of `success` anywhere in the app or in the [data-client library](https://github.com/wikimedia/wikimedia-android-data-client). It's automatically set when you receive the resp

[2020-03-21 18:22] sivaraam commented on #3562
I have mixed opinions about this.

### _Bad side_
If we were just going to change the default build flavour to `prodDebug` and be done with it, I don't think that would be a good idea. That would not be good as we wouldn't have done[1] the *responsible job* of communicating to the contributors that they can't just upload any random image to the production servers during their testing[1]. If we don

[2020-03-21 18:38] 318anushka commented on #2882
That means whenever toast isn't displayed, the image is uploaded but isn't linked to a wikidata item, right? Why does this happen?
Because only 2 out of 8 times toast was visible to me 😅

[2020-03-21 18:39] 318anushka commented on #2882
Because only 2 out of 8 times toast was visible to me 😅

[2020-03-21 18:39] 318anushka commented on #2882
That means whenever toast isn't displayed, the image is uploaded but isn't linked to a wikidata item, right? Why does this happen?
Because only 2 out of 8 times toast was visible to me 😅

[2020-03-21 19:06] sivaraam commented on #3562
Having shared my concerns about this. I also wanted to share some possible alternatives/suggestions. I've tagged the suggestions with the flavors to which they are applicable.

### [BETA] Fix the problem with beta?
Can't we just share the feedback about the issues we face with the beta servers to the backend team and get them fixed? This would be a better, right?

### [BETA] test-commons.wikimedia

[2020-03-21 21:02] isnirp commented on #3195
@nicolas-raoul thanks I'll keep you updated

[2020-03-22 02:33] HasanatJahan commented on #3560
Can I work on this?

[2020-03-22 04:59] 318anushka commented on #2882
That means whenever toast isn't displayed, the image is uploaded but isn't linked to a wikidata item, right? Why does this happen?
Because only 2 out of 8 times toast was visible to me 😅

[2020-03-22 07:49] Rajahn commented on #3561
Hi，i've reproduced that issue on structured-data branch. if @chao### doesn't feel like fixing it, i could try it

[2020-03-22 07:59] AntSYau opened #3565 "Add remove button for media descriptions on upload page"
**Summary:**

When I upload a media, I can choose to write media description in different languages, however, it is impossible to delete languages. I feel there should be a remove button for unwanted ones.

**Steps to reproduce:**

- Log in
- Click + button and choose a photo
- Add media description in two languages (reference #3561)
- Try to remove one language

**System logs:**

N/A

**Device an

[2020-03-22 08:05] chao19991005 commented on #3561
@nicolas-raoul I have reproduce that issue but I am not sure how to solve that.

[2020-03-22 08:05] chao19991005 commented on #3565
May I try to work on this issue？

[2020-03-22 08:20] AntSYau commented on #3160
I reconsidered this issue, and found that this may be a feature instead of a bug... If an user choose to upload media with custom name, it should means that the user wants to redirect viewers to another page instead of his own main page. And in this case, that page doesn't exist. I feel like we can only alert user that he is using a custom name, but if he chooses to proceed, there is really nothin

[2020-03-22 08:42] hyonisss commented on #3561
What version is  your android studio ?

[2020-03-22 10:21] AntSYau commented on #3561
I'm using AS 3.6.1 @hyonisss

[2020-03-22 12:41] 6point022 commented on #3559
@sivaraam Thanks a lot for the response. ^_^

So, I checked for two cases.
1. When the thanks is sent successfully, `getSuccessVal()` returns 0, and we're checking for a 1. This is the reason for the incorrect notification.
2.  I tried to generate a failure by turning off the phone's WiFi before sending the thanks. In this case, we actually get a throwable and move into the catch block and get the

[2020-03-22 13:41] nicolas-raoul commented on #2882
These 8 uploads were all done via the Nearby map?
If the wikidata linking fails, an error message toast is shown instead, so a toast should be shown everytime. Maybe another bug? On my phone I see the toast everytime, what device and Android version do you have? Maybe something appears in logcat about that? :-)

[2020-03-22 13:42] nicolas-raoul commented on #3560
OK, it is yours! Please let us know about your progress every few days at least :-)

[2020-03-22 14:55] sivaraam commented on #3565
This is a duplicate of #2810 which itself is being fixed in PR #3504. So, closing this :)

[2020-03-22 14:55] #3565 closed

[2020-03-22 15:01] sivaraam commented on #3561
@macgills would like to take a look at this, I believe.

[2020-03-22 18:23] #3557 closed

[2020-03-22 18:28] maskaravivek commented on #3257
The app is using my fork for the data-client was dbrant was not available for maintaining the original repo.

https://github.com/maskaravivek/wikimedia-android-data-client

PS: We should transfer the ownership of this fork to `commons-app`.

[2020-03-22 18:31] maskaravivek commented on #3257
@gouri-panda Do you mind if I take up this issue as I am working on #1831 and it will change the implementation of how we set a claim. See WIP PR for more details #3449.

[2020-03-22 18:32] gouri-panda commented on #3257
Sure @maskaravivek :)

[2020-03-22 19:00] sivaraam commented on #3559
How do you know that the thank succeeded? Did you check the thank log (Special:Log?type=thanks) of the corresponding wiki? I just tried using the API sandbox and could see that the value of `success` is 1 for a successful thank:

![image](https://user-images.githubusercontent.com/12448084/77255316-7ad19c00-6c8c-11ea-9d33-e90940b18885.png)

Well, that's what would happen when the app could not conn

[2020-03-22 20:59] 6point022 commented on #3559
Thanks a lot for taking out the time to explain, it's really helpful. 😄

Yes, I checked the thank log and if the thank appeared in it, I considered it a success. If the thank is successful, the value of `success` returned by `getSuccessVal()` is actually 0, and not 1.

Even I am not sure how to proceed from here. Let's see if someone else can help us. :)

[2020-03-22 21:31] 318anushka commented on #2882
Yes all via Nearby map. Logcat shows contribution success but wikidata item is not edited because of location mismatch. I am using pre-clicked photos maybe that's why(quarantined you know).
Anyway a minor change in Ahmed's PR instead of image title displaying place.name(since it is linked to wikidata item) and this is the default label(if not modified) which is displayed as title when uploaded via

[2020-03-22 21:51] maskaravivek commented on #3529
@macgills When exactly are the `depictionEntityIds` getting cleared?

On a related note, I just noticed that `Parcelable` isn't implemented for both `captions` and `depictionsEntityIds`. So if `Contribution` object is being passed around, we would be losing information.

[2020-03-22 21:58] maskaravivek commented on #2882
@318anushka You can comment out this if condition if you are testing with pictures that have an incorrect location.

https://github.com/commons-app/apps-android-commons/blob/master/app/src/main/java/fr/free/nrw/commons/wikidata/WikidataEditService.java#L64

[2020-03-22 21:58] #3524 closed

[2020-03-22 22:16] maskaravivek commented on #872
@misaochan Do we need to put this feature to be put specifically in the contribution list or can we have it in the Media details screen where all other media related actions are present.

The issue with adding it in the list is that I will have to make an API call for every single image which was uploaded via nearby in the list to check if the corresponding Wikipedia article contains an image or n

[2020-03-22 22:21] maskaravivek commented on #746
@misaochan Can you help in defining the scope of the task from IEG point of view. I went through #2843 and I got the basic idea of how we want it to be implemented but it would be great if could define it more formally. :)

[2020-03-22 22:24] maskaravivek commented on #1993
@ashishkumar468 Recently you refactored the contributions list. Can you confirm if this has already been taken care of?

[2020-03-22 22:24] maskaravivek commented on #2904
@ashishkumar468 After our latest refactoring are we still using `logEvents` to fetch the contributions or has it changed?

[2020-03-22 22:26] maskaravivek commented on #2439
This should be fixed now. Feel free to reopen if the issue still persists.

[2020-03-22 22:26] #2439 closed

[2020-03-22 22:31] maskaravivek commented on #3541
I am not sure if either `Media` or `Contribution` is a model for the network domain. But yes, recently `Contribution` started serving as a model for both Database and UI layers after our room integration. It would have been great to keep them isolated.

[2020-03-22 23:30] HasanatJahan commented on #3560
Thanks, I'm on it!

[2020-03-23 03:13] ashishkumar468 commented on #2904
@maskaravivek We are still using logEvents.

[2020-03-23 03:15] ashishkumar468 commented on #1993
@maskaravivek my refactors did not change the way things were already there. AFAIK I know such things would need pagination at the end of the recycler view which is not there as of now

[2020-03-23 06:58] sivaraam opened #3567 "Logos in "About" screen are hardly viisble in dark theme"
**Summary:**
The logos in About screen were recently changed in #3444. But the new logos are hardly visible in dark theme. We should show appropriate logos which are visible well in dark theme.

**Screen-shots:**
![Screenshot_2020-03-21-21-46-41](https://user-images.githubusercontent.com/12448084/77290161-93c86480-6d01-11ea-9242-22f9c9277f73.png)

[2020-03-23 07:04] sivaraam commented on #1396
I believe we already have a dark theme app in the latest version of the app. So, closing this. Feel free to re-open if I'm missing something.

[2020-03-23 07:04] #1396 closed

[2020-03-23 07:10] sivaraam commented on #3560
@nicolas-raoul According to [our doc](https://github.com/commons-app/documentation/blob/master/android/Volunteers-welcome!.md) isn't it kind of contradictory to assign the `good-first-issue` and `enhancement` for the same issue?

[2020-03-23 07:26] nicolas-raoul commented on #3560
@sivaraam Indeed, actually I was hesitating between bug and enhancement for this one :-) I will avoid tagging enhancements as `good-first-issue` in the future.

[2020-03-23 08:44] 318anushka commented on #2882
Thanks!! @maskaravivek

[2020-03-23 08:49] macgills commented on #3498
There is one instance where you will have to use `containsValue` I think. Please delete BiMap in your PR

[2020-03-23 08:57] macgills commented on #3558
Long click always hides a feature for me, the benefit here is if people do try to select the text by long pressing on it we get rid of the need to deal with highlighting. If we wish to surface this functionality better an explicit copy button could be used like the github icon
![image](https://user-images.githubusercontent.com/3358282/77299377-438ed980-6ce4-11ea-8a70-511b08a1d007.png)
or the text

[2020-03-23 09:13] macgills commented on #3364
This is not an issue of "uploading" we just tried to show the image in an imageview without decoding it into the bounds of the view.
Seeing as how the log mentions `at android.widget.ImageView.onDraw(ImageView.java:1360)` I would assume using a DraweeView would fix this.

Where in the upload process fails? Is it trying to show it in UploadMediaDetailsFragment where you add title/description?

If a

[2020-03-23 09:13] prince-09 opened #3568 "In explore activity, a blank screen appears when I tap on any image."
**Summary:**

A blank page appears when I tap on an image in explore activity.

**Steps to reproduce:**
 Click on any image in explore activity.

**Device and Android version:**

Redmi 5a SDK 25.

**Commons app version:**

2.12.3

**Would you like to work on the issue?**
yes

[2020-03-23 09:18] nicolas-raoul commented on #3364
Indeed, we must support big images at all stages. By the way some people upload all sorts of huge files in various formats via the Upload Wizard web interface, and use the app from time to time, having these files show up in the app's Contributions page. Also, huge images/etc may appear in search. So the app should not crash on any of these files.

[2020-03-23 09:22] macgills commented on #3562
I am massively in favour of a functional beta environment however that materialises, having to use prod to test is not desirable to me at all

[2020-03-23 09:52] macgills commented on #3257
@maskaravivek a bit off topic here but do we even need the wikimedia data library? Moving it into the app just seems easier as we won't have to worry about publication. I guess the question is how many projects are dependent on it?

[2020-03-23 10:03] sivaraam commented on #3560
Ah! I would have gone with `bug` as we generally want the actions made from the app to be tagged appropriately 🙂

[2020-03-23 10:06] macgills commented on #1396
@sivaraam it may have been a typo or a misread so I am just clarifying, this is for a dark theme _map_ not >app

[2020-03-23 10:15] sivaraam commented on #1396
@macgills Yeah, it was indeed a typo. Fixed it now :) The app does have a dark themed _map_.

[2020-03-23 10:25] sivaraam commented on #3257
IIRC, it's a fairly recent integration. Here's an issue which you would give you some context about this: #1863 (TL;DR: https://github.com/commons-app/apps-android-commons/issues/1863#issuecomment-418163099)

I guess you'll find an answer for this in the comment mentioned before.

[2020-03-23 11:26] prince-09 opened #3570 "In review page bottom texts are hidden."
**Summary:**

bottom text are hidden in the review page.

**Steps to reproduce:**

go to the review page.

**Device and Android version:**

Mi 5a
25 API

**Commons app version:**
2.12.3

[2020-03-23 11:37] maskaravivek commented on #3257
@macgills Yes, there's a lot of history behind why the data-client came into picture and honestly I would prefer to have everything in our main codebase rather than maintain a library that too for model classes which keep changing frequently. That being said let us continue this discussion in a separate issue. :)

[2020-03-23 11:43] macgills opened #3571 "[DISCUSSION] Remove wikimedia android data client"
**Summary:**

The library is out of date and unmaintained (I believe) making it more difficult to integrate with new APIs or model changes. We should move the code into our codebase.

[2020-03-23 11:44] macgills commented on #3570
Can you add an image please @prince-09

[2020-03-23 11:51] macgills commented on #3257
discussion to continue here #3571

[2020-03-23 11:54] avivith commented on #3205
Sadly, I'm a little sick and don't manage to work currently. I hope someone else would solve this issue.

[2020-03-23 11:55] avivith commented on #3316
Sadly, I'm a little sick and don't manage to work currently. I hope someone else would solve this issue.

[2020-03-23 11:56] avivith commented on #3547
Sadly, I'm a little sick and don't manage to work currently. I hope someone else could solve this issue.

[2020-03-23 12:11] nicolas-raoul commented on #872
If we load asynchronously little by little, and cache the information, I guess it will not slow down the app much? If we check for many languages that might be more severe, though.

Downloading the wikicode of the article and checking for "[[File:" or other language equivalents might be enough. We should get the non-transcluded wikicode, because for instance https://en.wikipedia.org/wiki/Souvign%C

[2020-03-23 12:24] macgills commented on #3529
@maskaravivek I saw that and thought "oh maybe when it gets sent to the service" but that still isn't the case because they communicate with messages not intents so no parcelling. There must be a shared reference somewhere, I'll try to find what is clearing it

[2020-03-23 12:57] gupta-anmol opened #3573 "Remove empty icon space/left padding from Settings"
**Summary:**

There's empty space before every preference in the Settings page.
This may be due to the PR for issue #3465.

**Screen-shots:**

_This is how it looked before._

![image](https://user-images.githubusercontent.com/44764339/77318450-19183d00-6d33-11ea-9f8b-60d3e947b8aa.png)

_This is how it looks now._

![image](https://user-images.githubusercontent.com/44764339/77318326-e79f7180-6d32-

[2020-03-23 13:21] #3498 closed

[2020-03-23 13:26] macgills commented on #3573
Not an issue, just how settings screen works, see [docs](https://developer.android.com/guide/topics/ui/settings)

[2020-03-23 14:29] macgills commented on #3529
![image](https://user-images.githubusercontent.com/3358282/77326893-60da9c80-6d12-11ea-9fed-3333de69417a.png)

I guess it is working now.... I'll open a PR but I still don't have an idea of quite just how many web requests we need to be performing

[2020-03-23 14:51] bharathbiju commented on #3567
guess this issue has been cleared @sivaraam
if so could you please close the issue  @nicolas-raoul

[2020-03-23 15:03] bharathbiju commented on #3570
![commons](https://user-images.githubusercontent.com/37261249/77330446-63a2b500-6d45-11ea-8b46-872df025a562.jpeg)
 @macgills i am sure this is what @prince-09  meant

[2020-03-23 15:10] misaochan commented on #3571
I was under the impression that we were maintaining a fork of this? @maskaravivek

[2020-03-23 15:41] macgills commented on #3570
This has an open pr, closing

[2020-03-23 15:41] #3570 closed

[2020-03-23 16:13] misaochan opened #3575 "Flickering colors on screen"
In the current master, when an image is uploading, colors flicker frantically in the contributions list. This needs to be fixed, especially since it could be an epilepsy trigger(?).

[2020-03-23 16:26] misaochan opened #3576 "If you get the "Is this a picture of..." popup and you say "No", it still autofills the title/desc"
**Summary:**

If you get the "Is this a picture of..." popup and you say "No", it still autofills the title/desc

**Steps to reproduce:**

Upload a photo with a geotag near a popular location. You will get the popup. If you say "no", the title/desc should be empty, but they are still autofilled.

**Device and Android version:**

Samsung Galaxy S9, Android 10

**Commons app version:**

Current mast

[2020-03-23 16:36] misaochan commented on #3575
Perhaps picking one color and sticking to it would be a good idea. Maybe white in regular mode and black in dark mode? @neslihanturan

[2020-03-23 17:55] sivaraam commented on #3571
Given the fact that the library is [claimed to be](https://github.com/commons-app/apps-android-commons/issues/1863#issuecomment-418163099) a successor of the mediawiki:api I would say it is far from being outdated. If anything, it must be more up-to-date. "Incomplete" might be appropriate.

I don't think it is. There have been changes in [the upstream](https://github.com/wikimedia/wikimedia-androi

[2020-03-23 18:13] sivaraam commented on #3571
Having said that, [as of now](https://github.com/wikimedia/apps-android-wikipedia/tree/f970666bcef6d23f93e8ba74efea415bd4f48a08) it's interesting to note that the Wikipedia app itself doesn't seem to be using the external library. It seems to be using a version of the library present within their codebase.

[2020-03-23 18:18] misaochan commented on #3571
This was the maintainer's (@dbrant 's) recommendation to me in Aug 2019 when we were encountering issues with needing to make a modification to the library:

I am personally OK with either option - (1) maintaining the fork as a separate library or (2) putting everything into our main codebase. However, it would be great if we could get an updated recommendation from @dbrant in case anything has ch

[2020-03-23 18:18] sivaraam commented on #3547
@avivith It's fine. Take care of yourself.

[2020-03-23 18:23] sivaraam commented on #872
I was of the impression that we were going to use the [`/page/media`](https://en.wikipedia.org/api/rest_v1/#/Page%20content/get_page_media__title_) API to fetch the images used in the article. Even the [description of this issue](https://github.com/commons-app/apps-android-commons/issues/872#issue-255869693) says so. Did I miss anything? 🤔

[2020-03-23 18:27] misaochan commented on #2068
This would be fantastic IMO. :)

[2020-03-23 18:36] bharathbiju commented on #2074
![leaderboard](https://user-images.githubusercontent.com/37261249/77350609-c8203d00-6d62-11ea-9ac8-153287f0b43c.jpg)
would it be better if the leader-board icon  was placed near the bell icon ?

[2020-03-23 18:36] misaochan commented on #746
Sure, will do that ASAP (after I manage to test Nes's PR, probably!).

[2020-03-23 18:39] misaochan commented on #2074
As we discussed in the Hangouts group, I do not think it is a good idea to have the leaderboard icon on the app bar. The notifications icon will not stand out anymore if we clutter the bar up.

[2020-03-23 18:43] misaochan commented on #3205
Thanks for letting us know @avivith , hope you feel better soon.

[2020-03-23 18:53] misaochan commented on #872
@maskaravivek I understand, but I strongly feel that if the user must enter media details view in order to see this, the feature will be used far less frequently than if it was on the main contributions list. As Nicolas says, loading asynchronously should help with performance? If anyone else feels differently, please do chime in. :)

IMO this would add undue complexity, especially as this is our

[2020-03-23 18:58] maskaravivek commented on #872
Loading the contributions page by page sounds good. I have started a WIP PR(#3566) that loads contributions 10 at a time and loads more on scrolling down. Having it in place would make this task easier. @ashishkumar468 has volunteered to help me with this PR(ie. #3566).

[2020-03-23 19:31] maskaravivek commented on #3576
I think this issue cropped up because recently we swapped the positive and negative buttons for dialog boxes. Therefore title/desc is getting filled when you say no and nothing happens on clicking yes.

[2020-03-23 19:31] madhurgupta10 commented on #2074
With the new Android phones coming in with Notch and Hole Punch Camera we should not put it in a place where the user can't access it easily.

[2020-03-23 19:33] maskaravivek commented on #3540
Okay lets remove the requirement. :)

[2020-03-23 19:33] #3540 closed

[2020-03-23 20:23] 6point022 commented on #3205
@misaochan Can you explain what exactly a "non-username" string is that Sam refers to? Also, I didn't quite understand how someone is to go about fixing this. Should we not allow the user to set the "non-username" string as a custom author name?

[2020-03-23 22:41] samwilson commented on #3205
The string I get the bug with is `{{User:Samwilson/photographer|camera=g6}}`, i.e. anything that's not a username, because the app then takes that string and puts it into `[[User:x|x]]` (where `x` is the string).

[2020-03-23 22:47] maskaravivek commented on #2074
@bharathbiju Can you post the other mockup that contains the UI of the leaderboard screen?

[2020-03-24 00:33] nicolas-raoul commented on #872
@sivaraam Oops I forgot that, sorry 😓

[2020-03-24 00:34] FawziyahAlebiosu commented on #3551
I hope you don't mind me asking, I promise I DID some research about this but I couldn't find anything  helpful. What is structured commons? Is it a repository that holds another version of the android app? What is the difference between this one and that-if any?

[2020-03-24 01:29] FawziyahAlebiosu commented on #3431
oh!! Okay wow I did NOT know that developers can control what a layout looks like in landscape format, and now I went down a rabbit hole researching landscape variations.
Have you been notified if it is a genuine issue that can be worked on? I know it seems like a low-priority issue, but it'd still be interesting to work on, i think.

If you're no longer interested, I'd like to ~play around with t

[2020-03-24 02:03] HasanatJahan commented on #3560
I worked on building it today. I will work on the feature very soon as soon my midterm ends this Friday.

[2020-03-24 06:29] 6point022 commented on #3431
No, we haven't had any discussion on this issue. Please tag and ask a collaborator/member before starting to work on it.

Sure, you can take up the issue once you have had it approved. :)

[2020-03-24 07:54] macgills commented on #3571
I am in favor of 2 as the description says

[2020-03-24 08:38] macgills commented on #3551
@FawziyahAlebiosu there is a branch on the repo called structuredData that I am working on after inheriting, you can read more [here](https://commons.wikimedia.org/wiki/Commons:Structured_data). It seems like this ticket will now be done as part of the original ticket to remove descriptions once Structured Data is merged so I wouldn't worry about it

[2020-03-24 10:49] 6point022 commented on #3568
I am unable to reproduce this issue for prodDebug and betaDebug. Maybe you could share some screenshots?

[2020-03-24 12:54] #2882 closed

[2020-03-24 13:41] FawziyahAlebiosu commented on #3551
Ohhhhhhh that page has so much information, thank you!! I was just curious because I had seen it referenced in multiple issues.

[2020-03-24 14:00] macgills commented on #3492
@maskaravivek @ashishkumar0207 @misaochan @neslihanturan  any thoughts?

[2020-03-24 14:11] ashishkumar468 commented on #3492
@macgills  Before we conclude something, can you elaborate, how does this generally work?

[2020-03-24 14:25] misaochan commented on #3576
@maskaravivek Wait, hold on, we swapped ALL of them?? I thought we were only swapping for one specific dialog. Which PR was this again...?

[2020-03-24 14:32] macgills opened #3579 "p18Value causes NPE in WikidataEditService createClaimWithLogging"
**Summary:**

p18Value causes NPE in WikidataEditService createClaimWithLogging

**Steps to reproduce:**

Upload an item with no associated place

**Would you like to work on the issue?**

yes

[2020-03-24 14:39] misaochan commented on #3576
Alright, I found it. The PR is #3496 , which handles the issue in #3428. Based on the opening post, I was under the assumption that we were only making the change for the "turn location on" dialog (and I specifically mentioned that I was okay with the change being made for [just that dialog](https://github.com/commons-app/apps-android-commons/issues/3428#issuecomment-597510758)), but it seems like

[2020-03-24 14:58] misaochan opened #3581 "Add setting to allow users to turn suggestions off"
Currently we suggest a Nearby place to a user if they upload a photo near it, which is great! But depending on the user's photography style, some may find constant suggestions unwelcome. For instance, people who never photograph places, but only food/people/etc may not want to see these suggestions.

This issue may be compounded if we implement machine vision suggestions in the future.

A setting

[2020-03-24 14:59] #3579 closed

[2020-03-24 16:05] macgills commented on #3492
Exactly like the codestyle a file gets added to git.

The file is the settings you can see in your inspections
![image](https://user-images.githubusercontent.com/3358282/77448733-0c562080-6de9-11ea-86b5-8a67a4d7d0aa.png)

We would all share the same settings, be able to raise the level to get red syntax highlighting if it is something we especially don't want, turn on ones that are not on by defau

[2020-03-24 17:34] bharathbiju commented on #2074
![leaderboardv2](https://user-images.githubusercontent.com/37261249/77457937-6378e700-6e23-11ea-9202-04dda13c06e6.jpeg)
![leader](https://user-images.githubusercontent.com/37261249/77457938-64aa1400-6e23-11ea-835f-9d70dedb4aad.jpeg)
design 1

 i came up with this idea after talking to @misaochan  on hangouts

![tab](https://user-images.githubusercontent.com/37261249/77457678-0715c780-6e23-11ea-8f8

[2020-03-24 17:53] ujjwalagrawal17 commented on #2074
I think white background will look better. As all other pages have white background. (Media details page also will be having white background according to new design).

[2020-03-24 18:10] kbhardwaj123 commented on #2074
@ujjwalagrawal17 I completely agree, in the default mode we should have White background

[2020-03-24 18:17] madhurgupta10 commented on #2074
We should have support for both the Dark and Light Themes just like all other activities of the app.

[2020-03-24 18:18] maskaravivek commented on #3576
Yes, I just checked the PR and am not sure why it was implemented that way. IMO, its better to revert #3496 instead of discovering and fixing all issues one by one.

[2020-03-24 18:29] maskaravivek commented on #3571
I am also in favor of 2. To make the transition easier, maybe we could add it as a library module in our codebase.

[2020-03-24 19:07] sivaraam commented on #3576
To give some context, the change was done that way as @macgills rightly pointed out](https://github.com/commons-app/apps-android-commons/issues/3428#issuecomment-597515984) that "Positive/negative have no correlation between destructive/constructive actions. It is simply the response to the question posed". After some discussion we decided to switch the position of the dialog buttons [[ref](https:

[2020-03-24 19:12] 318anushka commented on #3101
@nicolas-raoul  Looks like no one is working on this issue rn.
Can you assign this to me :-)

[2020-03-24 19:26] 318anushka commented on #2836
This issue doesn't exist anymore.
Could you please close it :-)

[2020-03-24 19:50] 318anushka commented on #3316
I'd like to give this a try if no one is working on it.

[2020-03-25 00:16] nicolas-raoul commented on #3101
@318anushka Actually, I wonder why nobody reviewed Harith's pull request...

@harith96 Sorry for the delay, would you mind merging the current master into your pull request branch, and fixing the conflicts? If you don't have time now, @318anushka will take over in a week. Thanks! :-)

[2020-03-25 00:44] nicolas-raoul opened #3582 "During upload, searching for "Fruit shops in Japan" does not show existing category"
Steps to reproduce:
1. Run the latest master
2. Start uploading any image (you can abort afterwards)
3. When the category search activity appears, type "Fruit shops in "
4. The choices below appear, among them you can see [Fruit shops in Japan](https://commons.wikimedia.org/wiki/Category:Fruit_shops_in_Japan):

![Screenshot_20200325-093526_Commons](https://user-images.githubusercontent.com/99590/7

[2020-03-25 00:46] nicolas-raoul commented on #2836
@omer-rotem1 Are you still working on it? If not please let us know, thanks :-)

@318anushka I experienced this issue last week, do you think it has been fixed very recently? By the way, you might be interested in this issue meanwhile: #3582

[2020-03-25 03:26] FawziyahAlebiosu commented on #3431
@nicolas-raoul @maskaravivek can I try working on this?

[2020-03-25 04:37] bharathbiju commented on #2074
@kbhardwaj123   and @ujjwalagrawal17  i was preparing this for the dark mode and totally forgot about light mode , thanks @madhurgupta10 for remaining of it, will prepare mock ups for both.

[2020-03-25 04:43] nicolas-raoul commented on #3431
Sorry, I just saw this.
Is it really a problem?
What official Android guidelines says that it should look like this?
Thanks :-)

[2020-03-25 05:50] madhurgupta10 commented on #3567
@bharathbiju I don't think this issue is solved yet!

[2020-03-25 09:13] 318anushka commented on #2836
Yeah i checked and it seems to work fine. As soon as i remove net connection, failed notification pops up

![Screenshot_20200325-142354](https://user-images.githubusercontent.com/45694892/77520172-cbbcdc80-6ea6-11ea-9404-ece24d8749e4.jpg)

[2020-03-25 09:40] misaochan commented on #3571
Sounds good to me. Let's give it a few days in case we get an update from dbrant, if we don't hear anything we can start doing this next week?

[2020-03-25 09:40] misaochan commented on #2074
Yes, this would be ideal IMO.

[2020-03-25 09:41] macgills commented on #3428
Due to an error I am reopening to verify the usages of DialogUtil

[code]
Has 3 usages, its api passes `yes` & `no` to the correct positions.

[code]
Positive click listener in correct first position.

[code]

Positive click listener in correct first position.

[code]

Positive click listener in correct first position

[code]

This method has 8 usages

[code]
yes,no and click listeners in correct

[2020-03-25 09:42] misaochan commented on #3431
The screenshot previews are broken, but I clicked through and I do feel like https://user-images.githubusercontent.com/44764339/75149037-0e17c000-5727-11ea-9612-9a935b650487.png looks better.

[2020-03-25 09:46] nicolas-raoul commented on #2836
Ah, yes indeed this issue is about the "Finishing uploading" message, I see, thanks!

The remaining issue is that it seems impossible to swipe the failure notification away. The only solution to make it disappear seems to be to reboot the phone, which is quite inconvenient. Do you experience this problem? If yes, would you mind creating an issue about it? Thanks!

[2020-03-25 09:47] 318anushka commented on #3582
I am able to reproduce this issue
when i searched for flowers in... and type any name that appears in the suggestions below, it shows no categories found.
![Screenshot_20200325-150319](https://user-images.githubusercontent.com/45694892/77523076-35d78080-6eab-11ea-8257-4f89c17a8200.jpg)
![Screenshot_20200325-150340](https://user-images.githubusercontent.com/45694892/77523080-36701700-6eab-11ea-91ea

[2020-03-25 09:54] 318anushka commented on #2836
Yes, swiping away is a problem. But once the upload fails, just tap on notification it takes you to the Home Activity then the notification automatically disappears. you don't have to reboot the phone.
Although it would be better if we could just swipe away the notification.

[2020-03-25 09:56] nicolas-raoul commented on #3582
Thanks!
First I suggest looking at the HTTP search request in `adb logcat`, to see whether the request has a problem or not.

[2020-03-25 09:57] macgills commented on #3431
These are [clustered fixed tabs](https://material.io/components/tabs/#fixed-tabs)

I see no issue with usage. They could be aligned right to favour the right handed? I don't have a strong opinion here.

[2020-03-25 10:11] nicolas-raoul commented on #2836
wow I will try next time lol

[2020-03-25 10:30] macgills opened #3583 "Add stalebot to help the marking of PRs"
**Summary:**

With the volume of PRs it is easy for some to fall through the cracks. With [stalebot](https://github.com/probot/stale) we could get a notification if there has been no activity for X number of days. Personally in the past I have used 7 days, issued a warning that the next stale marking will result in closing of the PR and then closed it after a total of 14 days inactivity

[2020-03-25 10:45] misaochan commented on #3576
@sivaraam Thanks for the clarification. Yeah, I think there may have been a misunderstanding. :/

The changes are being checked at https://github.com/commons-app/apps-android-commons/issues/3428#issuecomment-603741583

[2020-03-25 10:50] misaochan opened #3584 "Add tooltips for "depicts""
Structured-data introduces a new concept to users, depicts. It would be good if we could add a tooltip to the "depicts" upload stage in the structured-data branch, to educate them on what it means (similar to what we currently have for title/desc).

[2020-03-25 10:56] misaochan commented on #3466
I can confirm that this problem still happens for me on current master (I use Gmail).

@vvijayalakshmi21 , how are things going?

[2020-03-25 11:11] misaochan commented on #3583
I'm OK with using stalebot for PRs (probably not for issues). I guess a more suitable number of days of inactivity for our repo would be more like 28 (so warning after 21 days and closure after another 7?).

[2020-03-25 11:17] macgills commented on #3583
I don't think you can have it go 28-7 automatically. My flow was, stale 7 days>automatic comment and labelling stale> I comment which automatically removes Stale label> 7 days of inactivity reapplies stale label>I close

So I think we would want to choose 17 days then as the stale interval? Or a 3/4 stale strike policy

[2020-03-25 11:27] macgills commented on #3576
I would move to close this in lieu of my comment.

[2020-03-25 11:37] ashishkumar468 commented on #3492
Good to go from my side.

[2020-03-25 11:37] ashishkumar468 commented on #3575
@neslihanturan  can you confirm the UI suggestions by @misaochan

[2020-03-25 12:05] macgills commented on #3492
We can potentially use [this](https://github.com/checkstyle/checkstyle/blob/master/config/intellij-idea-inspections.xml)

[2020-03-25 13:38] #3494 closed

[2020-03-25 14:07] DiFronzo opened #3585 "Case sensitive search for category"
**Summary:**

The search is way to sensitive on uppercase and lowercase categories. Should show both lowercase and uppercase results.

**Steps to reproduce:**

1. the latest master
2. Start uploading any image (you can abort afterwards)
3. When the category search activity appears, type "covid-19 pandemic"
4. You get no results, even though [Category:COVID-19 pandemic](https://commons.wikimedia.or

[2020-03-25 22:25] neslihanturan commented on #3575
I agree with picking one color but, can't we pick the same color with background color of each theme? Dark grey and light grey, instead of harsh black and white. Then there wont be any flickering effect, I guess?

[2020-03-25 23:47] gouri-panda commented on #3547
Can I work on this issue? :)

[2020-03-25 23:48] madhurgupta10 commented on #3567
Pinging @misaochan and @nicolas-raoul for suggestions!

[2020-03-26 02:02] madhurgupta10 commented on #3547
@gouri-panda Sure but before implementation please discuss your approach and the root cause of the delay.

[2020-03-26 07:24] ashishkumar468 commented on #3575
@neslihanturan Just of confirm,  you mean these for the corresponding themes?
[code]

[2020-03-26 09:22] macgills commented on #3567
Change them to white? Are these vectors? You can change 1 line to get them to be white, add that as a new icon and then use attributes set in light/dark theme to switch between the images, there are some examples for colors already there

[2020-03-26 10:33] misaochan commented on #3575
Sounds good to me.

[2020-03-26 12:11] neslihanturan commented on #3575
Yes @ashishkumar468 , exactly those two.

[2020-03-26 14:33] nicolas-raoul opened #3587 ""javax.annotation.processing does not exist" when compiling from command line"
When I try to compile from command line (`./gradlew installProdDebug`), I get this error:
[code]
Any idea what could be the problem? :-)

[2020-03-26 14:42] macgills commented on #3587
type `gradlew - version`

If the JVM isn't 1.8 then fix that

[2020-03-26 14:53] #3391 closed

[2020-03-26 15:37] nicolas-raoul commented on #3587
Thanks, installing JDK 1.8 and running `JAVA_HOME=/Library/Java/JavaVirtualMachines/jdk-8-latest/Contents/Home ./gradlew installProdDebug` does the trick!

[2020-03-26 15:37] #3587 closed

[2020-03-26 16:15] nicolas-raoul commented on #3503
Just tested, it is great now :-)

[2020-03-26 16:15] #3503 closed

[2020-03-26 17:52] VitalyVPinchuk commented on #3500
Is there anything I could help with?

[2020-03-26 17:55] sivaraam commented on #3567
Changing color is nice. But changing it to white might make the icons stand out in the black background and they might possibly attract attention away from the text (which seems to be greyish in color). It would be nice if we could use a different color other than white.

But it seems, both [Facebook](https://en.facebookbrand.com/facebookapp/assets/f-logo?audience=landing) and [GitHub](github.com/

[2020-03-26 18:20] sivaraam commented on #2836
+1 for this. I don't see any reason why the failure notification should be sticky.

[2020-03-26 23:21] madhurgupta10 commented on #3567
How about keeping the color of logos black and adding a small white circle in the background similar to the Github Android App Icon.

[2020-03-27 03:22] nicolas-raoul commented on #3561
@chao19991005 Please `git pull` as this screen has changed in the structured-data branch.

Actually it is much easier to use than before, thanks to the bigger space.

So now it only feels weird when you try to enter a third language pair.

[2020-03-27 08:47] macgills commented on #3500
@VitalyVPinchuk I am not sure we have agreed on functionality. @misaochan ?

[2020-03-27 09:04] macgills commented on #3567
Use white, I think we are all in agreement.

Now who wants the ticket assigned?

[2020-03-27 09:10] macgills commented on #3561
The feature is pretty unusable for many languages, the data is not persisted so if you start scrolling it just deletes your text. That might be a separate issue but it would probably take entirely rewriting the adapters and data flow to actually sort out cleanly.

There is also the lingering question of the #3508 @nicolas-raoul could you check out my comments on the associated PR and see if I am o

[2020-03-27 10:14] nicolas-raoul commented on #3508
@macgills Sorry I just saw this. I don't know what `HeightLimitedRecyclerView` is, but from a functional point of view: Users should be able to enter as many language pairs as they want.

[2020-03-27 10:30] macgills commented on #3508
@nicolas-raoul look at #3508 for some images. HeightLimitedRecyclerview meant the list would never grow beyond a certain height, if we don't care about the list growing to cover the image then the PR is fine as is. If that isn't fine then we need to persist the functionality of the list never growing beyond a certain amount

[2020-03-27 10:41] nicolas-raoul commented on #3508
Ah OK I see what that means now, thanks!

Since most people just enter caption/description in 1 language, the ideal would probably be:
- Initial height just like now, just high enough to show a single language
- If the user taps "+", grow enough to show about 2 language pairs
- Have some maximum height, so that it does not take the full screen. A good maximum height could be 2 or 2.5 or 3 language

[2020-03-27 11:13] nicolas-raoul commented on #3558
@6point022 I agree that it is annoying now. Good enhancement idea! :-)

Since it is a very non-vital feature, I don't think we need to surface it more.
Actually the Google Maps app does not surface it either, but the place name is actually copyable via long-press.

[2020-03-27 14:41] madhurgupta10 commented on #3567
@macgills The issue seems to be perfect for first-time contributors.

[2020-03-27 16:05] neslihanturan commented on #3466
Hey @vvijayalakshmi21 , since this issue is a blocker for v2.13 release (urgent), ı may need to claim this one. By looking the comments above the last one sent 2 days ago, I feel like you are not around anymore and this should be okay for you. I hope this is ok for you :)

[2020-03-27 16:14] isnirp commented on #3195
hello @nicolas-raoul I introduced a comparator<Contribution> for sorting based on the datecreated. This helped with the ordering. I pushed to my fork, if you may review...

[2020-03-27 16:46] misaochan commented on #3576
Right, thanks @macgills . :)

[2020-03-27 16:46] #3576 closed

[2020-03-27 18:02] misaochan commented on #3492
Just to clarify, this would have to be run locally, right? I wonder if it is at all possible to include this in Travis CI? It would be incredibly helpful to be able to view the inspection results of any PR submitted rather than having to check locally.

[2020-03-27 18:04] isnirp commented on #3567
hello @macgills @nicolas-raoul I would like to handle this issue.

[2020-03-27 18:48] sivaraam commented on #3567
@isnirp I've assigned this to you. Let us know how you get on. Feel free to ask for any help, if need be. :)

[2020-03-27 19:07] isnirp commented on #3567
@sivaraam it's resolved. created an attr for images present in about.  do I do a PR?

![dark](https://user-images.githubusercontent.com/10153512/77791083-4bdd7080-7066-11ea-9d63-e0d19f5c1cd5.jpeg)

[2020-03-27 19:14] sivaraam commented on #3567
@isnirp That's great!

Sure, feel free to open a PR :)

[2020-03-27 22:20] 318anushka commented on #3316
I have enabled fast scroll only when user actually scrolls(state is changed) so even if you accidentally touch scroll bar it wouldn't lead to abrupt jump or disrupt normal scroll.

[2020-03-28 07:03] vvijayalakshmi21 commented on #3466
Hi, My sincere apologies for not responding here. I had been on quarantine with no access to my laptop. I totally understand the urgency of the issue. Please go ahead.

@misaochan or @nicolas-raoul Please could you assign me another issue to work on? I am available from today.

[2020-03-28 07:06] vvijayalakshmi21 commented on #3585
Hi, Is this issue similar to #3179 ?

[2020-03-28 07:27] nicolas-raoul commented on #2352
Not perfect but fixed for now :-)

[2020-03-28 07:27] #2352 closed

[2020-03-28 07:28] nicolas-raoul commented on #1733
Fixed :-)

[2020-03-28 07:28] #1733 closed

[2020-03-28 07:53] nicolas-raoul commented on #3117
@BhuvanaGN Are you still working on it?

[2020-03-28 07:53] nicolas-raoul commented on #3466
@vvijayalakshmi21 Sure, no problem, thanks for letting us know. How about #3117? :-)

[2020-03-28 08:41] bharathbiju commented on #2074
would you guys support a bottom navigation bar ?

[2020-03-28 11:42] dafnith commented on #3585
Can I work on this issue?
(Is it possible for my colleague @johnnyrevithis to be an assignee as well?)

[2020-03-28 11:55] johnnyrev commented on #971
Hey, is this issue still open? And if so, could it be assigned to me and my colleague @dafnith?

[2020-03-28 12:07] nicolas-raoul commented on #971
It is still open, but:
1. It is super hard, would probably take a month at least
2. Newcomers should take issues with the "bug" label, as explained at https://github.com/commons-app/documentation/blob/master/android/Volunteers-welcome!.md#developers
Thanks! :-)

[2020-03-28 12:52] sivaraam commented on #2074
IMO,  it would be inconsistent to use it given that we don't have a bottom navigation bar anywhere else in the app.

[2020-03-28 13:05] sivaraam opened #3590 "Unable to exit the app from onbarding tutorial"
**Summary:**
After a fresh install, we show the onboarding tutorial to the users to educate them about Wikimedia Commons and the kinds of pictures they can upload. That's nice. But it's impossible to exit the tutorial using the back button. This seems too restrictive and unreasonable, IMO. An user should be able to exit the tutorial without issues. We can show them the tutorial again upon next ope

[2020-03-28 13:09] sivaraam commented on #2145
I believe this has been fixed now. I could see that the page is reasonably mobile friendly now. Can we close this?

[2020-03-28 13:41] nicolas-raoul commented on #2145
The two yellow and blue columns (= the main content) are still a pain to read :-/
In the age of mobile upstream should really find a solution to make the boxes responsive.

[2020-03-28 15:25] sivaraam commented on #3179
I'm re-opening this as I believe there's a problem with how this issue was fixed.

@kbhardwaj123 Can you clarify a doubt that I have regarding your PR #3326? In the description you say:

Are you sure the API really doesn't care about the case of the category name given to it? I'm doubtful about that for several reasons. Here are a couple:

1. *The logical one*: If the API really doesn't care about

[2020-03-28 15:28] sivaraam commented on #3585
@vvijayalakshmi21 You're right. This is a duplicate of #3179 (which has been re-opened).

@dafnith I'm closing this as this is a dupe. You can take up #3179 if you're interested or take a look at other issues. 🙂

[2020-03-28 15:28] #3585 closed

[2020-03-28 15:30] kbhardwaj123 commented on #3179
@sivaraam while I was working on this I went with what @nicolas-raoul suggested so I made all the category strings being passed to the OkHttpClient are converted to lower case and I wrote new tests regarding that and they worked fine but I guess I must have missed something I will take a look at at again

[2020-03-28 15:59] sivaraam commented on #3179
Ok. Here's the issue with the respect to the app. Now category search doesn't return any categories that have a upper case character in it (other than the first one, of course). See #3582 for proof.

In case the issue is not clear to you from #3582, here's another example.

Here's what I get when I search for categories with "COVID" (mind the case) in the app (version: 2.12.3.629~a63a358):
![Scree

[2020-03-28 16:00] VojtechDostal opened #3591 "Q1402200 shows up on the map as not photographed"
Interestingly, [Q1402200](https://www.wikidata.org/wiki/Q1402200) shows up on my map as blue - unphotographed - even though it has P18 correctly filled in. Do you see it too?

![Screenshot_20200328-165846_Commons](https://user-images.githubusercontent.com/21329813/77827377-84885300-7115-11ea-8bbf-16539c984389.jpg)

[2020-03-28 16:11] sivaraam commented on #3582
I believe this issue is due to the fix for #3179. See https://github.com/commons-app/apps-android-commons/issues/3179#issuecomment-605466529

@318anushka Apologies, in my free flow of exploration which started at #3585, I ended up finding the cause of this issue without intending to 😅

FYI: Bhardwaj has mentioned that he'll look into the issue mentioned at #3179.

[2020-03-28 16:37] sivaraam commented on #2145
Yeah, I agree the page doesn't provide the best mobile friendly experience yet. I believe we could file a task about this in phabricator:

https://phabricator.wikimedia.org/maniphest/task/edit/form/10/?title=&projects=mobile

[2020-03-28 17:00] 318anushka commented on #3582
oh okay, I just started looking into the issue so no problem.
Incase, no one is working i'll get back to it :-)

[2020-03-28 17:15] sivaraam commented on #3591
I can confirm that I could see Q1402200 in Nearby too.

![Screenshot_2020-03-28-22-36-46](https://user-images.githubusercontent.com/12448084/77828982-00e65a80-7145-11ea-9292-df24bc08db7c.png)

[2020-03-28 17:33] sivaraam commented on #3582
@318anushka Sure. You can keep a watch of #3179. In the meanwhile, feel free to look at other tasks :)

I'm closing this in favour of #3179.

[2020-03-28 17:33] #3582 closed

[2020-03-28 18:21] vvijayalakshmi21 commented on #3117
Hi, Kindly let me know how to reproduce this bug?
I tried going to the 'Explore' tab (using the latest app on Google Play Store) but I did not know how to see this issue?
Do I have to change any settings to the language seen in the issue?

[2020-03-28 18:37] sivaraam commented on #1613
@whym You are right. I too believe it would be merely confusing if we do it now.

Do you think we can just mention that we never did the mass message part in the [incident wiki page](https://github.com/commons-app/documentation/blob/master/android/June-2018-incident.md) and close this as done?

[2020-03-28 18:49] Ainali commented on #3160
No I consider this a bug, at least with the current UI messages. I turned custom author name on and set it to my full name `Jan Ainali`. I expected it to upload with the author set to `[[User:Ainali|Jan Ainali]]`, but instead it [got uploaded](https://commons.wikimedia.org/wiki/File:Hugo_de_Grootgracht_2020.jpg) with `[[User:Jan Ainali|Jan Ainali]]`. From mobile, that should be much more common th

[2020-03-28 18:57] sivaraam commented on #3573
I was about open an issue for the same reason. It kind of feels weird seeing the Settings page this way. I've never seen any Settings page like this with lots of space to the left and in between settings. See below screenshots:

![Screenshot_2020-03-29-00-15-38](https://user-images.githubusercontent.com/12448084/77831159-6e998300-7153-11ea-9fc3-f51c4ac962f4.png)
![Screenshot_2020-03-29-00-17-21](h

[2020-03-28 22:03] vvijayalakshmi21 opened #3594 ""No categories matching %1$s found" message is displayed"
**Summary:**
I tried to search for an image - ''aburasoba azabujuban" by clicking on 'Explore'. When the image results were loading I clicked on the Category tab. I saw a message stating "No categories matching %1$s found"

**Steps to reproduce:**

How can we reproduce the issue?
Commons app -> Explore ->Search Commons  -> Enter ''aburasoba azabujuban'' -> Click Categories when the results are loa

[2020-03-28 22:04] 318anushka commented on #3590
@sivaraam I think it's a minor change. will fix this.

[2020-03-28 22:08] vvijayalakshmi21 commented on #3594
The same issue is seen for Media as well when we search for ''aburasoba az"
The message reads "No images matching %1$s found"

[2020-03-28 22:12] vvijayalakshmi21 commented on #3594
I did find an issue that is closed - https://github.com/commons-app/apps-android-commons/issues/3254

Not sure if the version I tested has these changed merged.

[2020-03-28 22:27] 318anushka commented on #2836
Should i create a new issue for this?

[2020-03-29 05:07] nicolas-raoul commented on #2836
@318anushka Yes good idea, thanks! :-)

[2020-03-29 09:19] VojtechDostal opened #3595 "Automatically add main category when uploading from Nearby map/list"
Many items are already linked to their main Commons category via sitelink and/or Commons category property. It would be fantastic if we could add this category to the images automatically (or somehow suggest it to the uploader).

This wasn't very interesting before we started also showing pins for objects which are already photographed. These already photographed objects have a higher probability

[2020-03-29 09:57] 318anushka opened #3596 "Sticky notification when upload fails"
**Summary:**
When an upload fails, you cannot just swipe away the notification that appears. Have to tap on it which takes you to HomeActivity, then it disappears automatically.However, dismissing it with a swipe would be better.

**Steps to reproduce:**

- upload a photo.

- Remove internet connection so that upload fails.

- Notification pops up, try to swipe to away. It won't .

**Device and An

[2020-03-29 10:15] 318anushka commented on #3590
It's done, should i submit a PR for this?

[2020-03-29 12:25] sivaraam commented on #3590
@318anushka Sure, feel free to submit a PR :)

[2020-03-29 12:30] sivaraam commented on #3596
@318anushka go for it. Hope I'm not over-assigning issues to you :)

[2020-03-29 12:40] 318anushka commented on #3596
No😅. Actually i already figured this out while looking for other issue.
I'll submit the PR to get it reviewed.

[2020-03-29 15:54] misaochan commented on #3591
@VojtechDostal Is this the only occurrence that you've seen, or are there others as well?

[2020-03-29 15:55] misaochan commented on #1613
@sivaraam I think that makes sense, and we can probably point to the discussion on this thread for the reason, too.

[2020-03-29 15:58] VojtechDostal commented on #3591
The only one I have seen so far. We can leave it for now and wait if someone reports other similar cases of this behaviour.

Also I wonder if Q1402200 would pop up in the "unphotographed" results of the app's SPARQL query if accessed using https://query.wikidata.org.

[2020-03-29 16:52] neslihanturan commented on #3591
Hey @VojtechDostal , what happens
1- if you deselect need photo
2- Then select it back?

[2020-03-29 17:16] bharathbiju commented on #2074
@sivaraam i meant a common bottom  navigation bar , when i looked through the previous suggestions there was a encouraging support for this idea. i would like your opinion also on this @misaochan

[2020-03-29 17:35] sivaraam commented on #3179
@misaochan Given that we've now accidentally [reduced the category search space](https://github.com/commons-app/apps-android-commons/issues/3179#issuecomment-605466529) rather than increasing it, you might want to ensure we fix this before releasing the next version.

As it's not clear, I thi

[2020-03-29 18:22] misaochan commented on #3179
Added to the release list, thanks for the heads up!

[2020-03-29 18:26] sivaraam commented on #2074
By "bottom navigation bar" if you mean a [navigation bar found at the bottom in the below screen shot, I mean the same thing too :man_shrugging:

![Screenshot_2020-03-29-23-39-03](https://user-images.githubusercontent.com/12448084/77856811-568b3780-7217-11ea-8f92-8780d9c00d12.png)

Moreover, the [material design guideline for using bottom navigation bar](https://material.io/components/bottom-navig

[2020-03-29 18:51] sivaraam commented on #1613
Done. I've created https://github.com/commons-app/documentation/pull/12 for this.

[2020-03-29 19:17] #3596 closed

[2020-03-29 19:29] #3567 closed

[2020-03-29 19:33] neslihanturan commented on #3594
Thanks for reporting this issue @vvijayalakshmi21 :) I think we can close this one since the same issue is reported and still open.

[2020-03-29 19:33] #3594 closed

[2020-03-29 19:55] #3479 closed

[2020-03-29 20:48] vvijayalakshmi21 commented on #3594
Sorry yeah I meant a merge has been done for this issue and not closed.

[2020-03-29 22:20] vvijayalakshmi21 commented on #3319
Hi, is this issue fixed?
I see the same in 2.12.3~dc08a5e88 version of the app. In my case I didn't grant permissions to location access and when I clicked on the icon, the app crashed

[2020-03-30 01:37] 318anushka commented on #2074
For APIs implementation, how about we use flask.
It offers several extensions like Flask-SQLAlchemy as orm. I find SQLAlchemy as a good option for communicating with database due to high level of abstraction and ease to handle changes.

[2020-03-30 03:42] nicolas-raoul opened #3600 "[structured-commons] From Nearby, "Next" button greyed out until modifying caption"
Uploading from Nearby

Button should be available immediately
![Screenshot_20200327-192901_Commons](https://user-images.githubusercontent.com/99590/77873055-ccc58380-7283-11ea-878e-8509c675e9fe.jpg)
![Screenshot_20200327-192937_Commons](https://user-images.githubusercontent.com/99590/77873069-d353fb00-7283-11ea-94e5-ca1ed812c8ed.jpg)

[2020-03-30 03:52] nicolas-raoul opened #3601 "[structured-commons] Wrong thumbnails at the "depictions" step when uploading"
Steps to reproduce:
1. Open "Explore"
2. Tap the search icon
3. Enter "rabbit"
4. Tap "Items"
5. Thumbnails are showing correctly in this activity, as you can see
6. Now get back to the home of the app, ans tap the "+" to start uploading an image
7. At the "depictions" step, type "rabbit"
8. Problem: For the item "Rabbit (species of small mammals)", the thumbnail for "Rabbit (basketball player)" a

[2020-03-30 05:48] nicolas-raoul commented on #3117
You have to change Android's language to Japanese.
Only for Japanese I guess.

[2020-03-30 06:02] vvijayalakshmi21 commented on #3117
I just checked this on the latest version of the app in Google store on my Google Pixel 3a Phone with Android version 10. I could not see the extra character
Is this issue particular to any specific branch?
![Screenshot_20200330-112900](https://user-images.githubusercontent.com/34595292/77880342-0e254700-7222-11ea-86f5-bff43856bdfb.png)

[2020-03-30 06:09] nicolas-raoul commented on #3117
Oh, I guess it has been fixed.
Thanks you for checking! :-)

[2020-03-30 06:09] #3117 closed

[2020-03-30 06:16] vvijayalakshmi21 commented on #3117
Is there another beginner-friendly issue I could take up?

[2020-03-30 06:28] vvijayalakshmi21 commented on #3466
Hi @neslihanturan Not sure if this has been already fixed. But just noticed that the logs DO get attached to Gmail when we click ''Send Log file" from Settings.
![Screenshot_20200330-115421](https://user-images.githubusercontent.com/34595292/77881978-aa9d1880-7225-11ea-8f28-9451d4a76f97.png)

[2020-03-30 06:54] vvijayalakshmi21 opened #3603 "Include Sign-In link in Sign Up page if Username already exists"
**Summary:**

This is not an issue but just a suggestion.
When a user clicks on Sign-up and enters an existing username, the screen currently only advises that the username already exists. If we modify the message to say that if they are an existing user, then to click on a button/link which would take them to sign-in page, it will be easier.

**Steps to reproduce:**

Attempt Sign Up using existin

[2020-03-30 07:04] vvijayalakshmi21 commented on #3600
HI Nicolas,
Is this issue reg modifying the caption of an already uploaded image or for a new upload?
I tried to upload a new image and could see different fields on screen plus the Next button automatically enabled once I entered a character in the Title field.
![Screenshot_20200330-123021](https://user-images.githubusercontent.com/34595292/77884455-b7703b00-722a-11ea-8ef7-5a3c08de918b.png)

[2020-03-30 07:06] ashishkumar468 commented on #3603
This is a web view which just shows the signup page, the commons app does not handles the signup on its own

[2020-03-30 07:11] nicolas-raoul commented on #3600
This is only for the "structured-data" branch.

On Mon, Mar 30, 2020 at 4:04 PM vvijayalakshmi21 <notifications@github.com>
wrote:

[2020-03-30 07:39] sivaraam commented on #3466
@vvijayalakshmi21 Those are not the logs we're concerned about in this issue. We're concerned about the crash logs not getting attached from (ACRA) crash dialog. After you face an app crash you are shown a dialog (by ACRA) that suggests you to send the logs via e-mail for further debugging. It looks something like the following:

![Screenshot_2020-03-30-13-05-56](https://user-images.githubusercont

[2020-03-30 09:21] vvijayalakshmi21 commented on #3466
Hi @sivaraam, I think we're both highlighting the same point. It's from the acra dialog where the logs aren't attached to Gmail and not that the logs aren't attached to Gmail at all. Just wanted to drop this note if that'd be helpful in any way.

[2020-03-30 09:22] vvijayalakshmi21 commented on #3603
Thanks for clarifying this @ashishkumar468
So does that mean it's out of scope for us and won't need fixing?

[2020-03-30 09:42] #3575 closed

[2020-03-30 09:52] misaochan commented on #3179
Hi @kbhardwaj123 , are you currently still working on this? Please do keep us updated, thanks!

[2020-03-30 09:59] misaochan commented on #3466
Thanks @vvijayalakshmi21 , it's interesting to see that Send Log File works but not ACRA. That does help us narrow the potential causes indeed.

[2020-03-30 10:00] kbhardwaj123 commented on #3179
@misaochan sure I'm on will update ASAP

[2020-03-30 10:27] ashishkumar468 commented on #3603
As far as I understand yes, @misaochan would know better

[2020-03-30 11:17] dafnith commented on #3601
Hey, can I take this one?

[2020-03-30 11:18] neslihanturan commented on #3466
I found a very similar issue is mentioned here, and it is told that fixed from Gmail side: https://github.com/ACRA/acra/issues/744

[2020-03-30 11:18] johnnyrev commented on #3600
Can it be assigned to me?

[2020-03-30 11:38] nicolas-raoul commented on #3601
@dafnith Yes sure :-)

[2020-03-30 11:40] nicolas-raoul commented on #3600
I forgot to say: it is only when uploading from Nearby.

[2020-03-30 12:02] nicolas-raoul commented on #3117
@vvijayalakshmi21 Sorry for the delay, would you mind working on https://github.com/commons-app/apps-android-commons/issues/3526 ? It is on the "structured-data" branch. Thanks!

[2020-03-30 12:06] neslihanturan commented on #3319
Can you try it on current master @vvijayalakshmi21 ? If it is solved feel free to close this issue:)

[2020-03-30 12:07] AntSYau commented on #3160
Ok it seems I got it wrong :( I'll look into it. Thanks!

[2020-03-30 12:48] nicolas-raoul opened #3604 "Display thumbnail for categories too"
Thumbnails are super useful to distinguish two categories with similar names.

Many categories have images (for instance https://commons.wikimedia.org/wiki/Category:Rabbits see the upper right), probably taken from Wikidata.

We should display thumbnails, like is done for depictions.

[2020-03-30 13:58] 6point022 commented on #3558
@nicolas-raoul Let me know if the proposed solution (changing it to a long click) is fine and I will create a PR. :)

[2020-03-30 14:17] neslihanturan commented on #3466
Well an interesting detail,if I change ACRA configuration to send the stacktrace as file, instead of text as:
[code]
It works with gmail too. But if I set it to false as
[code]
It does not work this time.

[2020-03-30 14:38] 318anushka commented on #3316
I have fixed the issue [here](https://github.com/commons-app/apps-android-commons/pull/3593)
Can someone review it please.

[2020-03-30 15:25] nicolas-raoul commented on #3558
Yes, it is fine. Thanks! :-)

[2020-03-30 15:38] 6point022 opened #3606 "Clicking Cancel in About -> Translate opens the previous activity"
**Summary:**

Clicking Cancel in About -> Translate opens the previous activity.

**Steps to reproduce:**

Go to About. Click on Translate and press Cancel.

Instead of staying on the About page, it opens the previous activity.

**Screen-shots:**

![](https://im.ezgif.com/tmp/ezgif-1-053cd9702337.gif)

**Would you like to work on the issue?**

No, please feel free to take this up. This can also be

[2020-03-30 16:17] 318anushka commented on #3341
@vibhusharma101  you still working on this or can i take this issue?

[2020-03-30 16:40] misaochan commented on #3117
@vvijayalakshmi21 If you have time, #3584 on `structured-data` would be good too. :)

[2020-03-30 16:42] gupta-anmol opened #3607 "App keeps crashing on opening"
**Summary:**

App keeps crashing on opening.

**Steps to reproduce:**

I cloned the repo from GitHub and tried to compile it. Can't open the app now.

**System logs:**

[code]

[code]

**Device and Android version:**

Redmi Note 5 Pro
MIUI version 11
Android 9

**Commons app version:**

master betaDebug

[2020-03-30 17:43] misaochan commented on #3607
Does this happen in the prod build variant?

[2020-03-30 17:51] 6point022 commented on #3607
Yes, it happens on prodDebug too.

I have added some more system logs that I missed earlier.

[2020-03-30 18:53] sivaraam commented on #3607
@6point022 I know this isn't a solution to the actual problem you've reported. But just try clearing the app's data and using the app. You would not experience the crash.

[2020-03-30 18:55] sivaraam commented on #3607
The reason for the actual problem is very clear in the error message. Quoting the relevant portion:

[2020-03-30 20:25] 6point022 commented on #3607
@sivaraam Thanks a lot, it worked! :D

[2020-03-31 00:49] madhurgupta10 commented on #3590
@sivaraam on beta we provide a **Skip Tutorial** button but on prod, it's intentionally hidden from there so we should be giving this feature only for beta IMO.

[2020-03-31 01:44] isnirp commented on #3606
The cancel calls "finish" which causes the about activity to close. I would like to resolve this @sivaraam

[2020-03-31 03:00] vvijayalakshmi21 commented on #3526
Hi Nicolas,
I tried to load structured-data branch in Android studio but I could not see this in the list of branches displayed. Am I missing something?
![image](https://user-images.githubusercontent.com/34595292/77982361-cbbb4300-72d1-11ea-9d0f-2a903b3d95e3.png)

[2020-03-31 03:03] vvijayalakshmi21 commented on #3526
I tried to locally download the code using Git Bash from my forked repo but that was not successful too. The branch does not seem to get listed on my forked repo as well

$ git clone --single-branch --branch structured-data https://github.com/vvijayalakshmi21/apps-android-commons
Cloning into 'apps-android-commons'...
warning: Could not find remote branch structured-data to clone.
fatal: Remote br

[2020-03-31 03:11] nicolas-raoul commented on #3526
You have to create a branch in your local repo that tracks structure-data
Then create a sub-branch to it for each pull request.

Maybe try this? https://www.git-tower.com/learn/git/faq/track-remote-upstream-branch

[2020-03-31 03:56] sivaraam commented on #3590
@madhurgupta10 I don't get it. Why should we prevent the user from exiting the tutorial in any case? Wouldn't that be intrusive? It's his wish if he wants to exit. As mentioned in the description, we can show the tutorial again if he hasn't completed it.

Also, as of now the user *can* exit by tapping on home or removing app from recent apps. We're just making sure they can exit via the back butto

[2020-03-31 03:58] sivaraam commented on #3606
@isnirp Sure. Go for it. :)

[2020-03-31 04:11] ashishkumar468 commented on #3590
Yes, this is clearly a back, the back button should take him to the previous activity or so exit the app if there are no activities in the stack

[2020-03-31 06:32] sivaraam commented on #3590
Exactly. This is what I was thinking too.

Jus in case it's not clear, I'm speaking of exiting the app by tapping on back from the *first tutorial screen*. I'm not speaking of exiting the app when the user is in the middle of the tutorial.

[2020-03-31 07:25] sivaraam commented on #3526
@vvijayalakshmi21 You can also try this:

[code]

[2020-03-31 07:31] ashishkumar468 opened #3611 "Contributions & Media are not Serialised properly"
**Summary:**
Contributions & Media are not Serialised properly as a result of which app crashes when those things are sent as Serializable objects in intents

**System logs:**

[code]

**Device and Android version:**
8.1.0
**Commons app version:**
2.12.3

[2020-03-31 08:47] #3611 closed

[2020-03-31 08:57] #3606 closed

[2020-03-31 09:54] misaochan commented on #3466
As I discussed with Neslihan, my main concern with switching to files is that it will be difficult to search the google groups forum for a particular crash or version number. Currently in a forum thread we can see everything directly without needing to download them one by one.

But on the other hand, we already have access to crashes on the Dev Console so we would only be using ACRA to get user c

[2020-03-31 10:12] misaochan commented on #3179
Thanks @kbhardwaj123 ! As we are planning to include this in v2.13, when you submit your PR could you please rebase and submit it on the `2.13-release` branch? Thanks!

[2020-03-31 10:15] 318anushka commented on #3590
We don't want to exit from app when user again go through the tutorial after login, right?
In that case we want to go to the previous activity.
Have to modify the code because in that case too, on pressing back app closes clearing the backstack.

[2020-03-31 10:28] sivaraam commented on #3466
Just curious, how do users do that? I don't see an option in the app's settings that says it to use ACRA instead of Google's crash reporting 🤔

Also, I only remember seeing the ACRA dialog during a crash. I don't remember seeing the Google's crash reporting dialog when the app crashes. Do we show that only for the *stable* versions released to play store? I ask this because I mostly just use alpha

[2020-03-31 10:37] sivaraam commented on #3590
Right.

Exactly.

Also, I think there's *at least* one case in which the tutorial is shown. When you have more number of deletions (> 50%) the app prompts you to take a quiz. If you answer that quiz badly it asks you go through the tutorial, AFAIR.

[2020-03-31 10:38] kbhardwaj123 commented on #3179
@misaochan oh thanks for pointing that out

[2020-03-31 11:30] misaochan opened #3614 "Intermittent issue with user/pass not being saved when entering 2FA code"
I received a report of an issue from a 2FA user with v2.12.3 of the app. This problem happens occasionally for her when she tries to log in with 2FA:

1. Enter username and password
2. App prompts you for 2FA code
3. When you copy the 2FA code and come back to the app, the username and password is empty, requiring you to type them all over again while the 2FA timer is ticking

I have not managed t

[2020-03-31 11:37] misaochan commented on #3466
I believe there is an Android system setting for users to say "automatically share diagnostics and crash data" or not.

It doesn't really work as a binary choice. Basically, if the user allows the above Android setting, Google will automatically collect crash stats from their phone for us (and all other apps) in the dev console. Additionally, an ACRA dialog pops up when a crash happens in OUR app,

[2020-03-31 13:31] sivaraam commented on #3614
I have a hunch that this could be happening when Android kicks the app out of memory due to low memory. I'm not very sure though.

@misaochan Can you ask the device model of that user? It might be helpful. If possible, also ask them if the phone was under memory pressure (which would hopefully be apparent by noticeable lag when coming back to the app) when they faced this issue.

[2020-03-31 18:12] sivaraam commented on #3466
Thanks for the tip. There does seem to be a [setting for the diagnostics](https://support.google.com/accounts/answer/6078260).

Ah. Now I see what you're saying. Thanks for the clarification.

I'm not sure about this part though. When I said Google's crash report dialog the following is what I had in mind.

![Screenshot_2020-03-31-18-39-34](https://user-images.githubusercontent.com/12448084/780589

[2020-03-31 19:00] sivaraam commented on #3466
Ok. Coming back to the topic of the issue. I actually noticed an interesting thing. When the size of the crash log is small the crash logs are filled in the the mail body just fine even when I use Gmail.

![Screenshot_1585662482](https://user-images.githubusercontent.com/12448084061914-8bc88e80-73ab-11ea-9a4e-58f3464e1162.png)

I observed this in the emulator (Nexus 5 API 24) but am _unable to_ ob

[2020-03-31 19:15] sivaraam commented on #3607
Let me add some information about why we're facing this issue based on the little knowledge about Room that I have.

As the error message clearly states the schema has changed without the version number being changed.

* _What constitutes the schema here?_
    For now, it's the fields of the [Contribution](https://github.com/commons-app/apps-android-commons/blob/master/app/src/main/java/fr/free/nr

[2020-03-31 19:24] sivaraam commented on #3420
@misaochan Looks like there's a new blog now to Wikimedia technical blog now. It can be found at [[[WM:TECHBLOG]] – Open Source for Open Knowledge](https://techblog.wikimedia.org/).

See also:
* [[Wikitech-l] New Wikimedia Technical Blog](https://lists.wikimedia.org/pipermail/wikitech-l/2020-March/093250.html)
* [Wikimedia technical blog editorial guidelines - MediaWiki](https://www.mediawiki.org/

[2020-03-31 19:54] vvijayalakshmi21 commented on #3526
Hi @nicolas-raoul I started to debug the depicts code and for some time the Images were displaying for Items but soon after I started seeing the default barcode image for Items as well despite changing nothing but just introducing more debug points.

Not sure if this is something relevant to the issue but could this be because of unstable response?
Also, I was checking the below code snippets for

[2020-03-31 20:51] madhurgupta10 commented on #3590
I wanted to share that the **prod** do not have the **Skip Tutorial** button which was intentionally hidden (which I assume to force new users to go through the tutorial) but as you said it doesn't make much sense to prevent a user from skipping the tutorial. So we should allow the user to quit the tutorial by pressing the back button and also show the **Skip Tutorial** button for **prod** also.

[2020-03-31 20:57] 318anushka commented on #3590
@madhurgupta10 Actually, it's not about skipping tutorial but exiting the app on pressing back button in the first screen of tutorial.
Fresh install the app and open it and try to exit the app by pressing back button. It won't, first screen of tutorial keeps popping up.

[2020-03-31 20:58] vvijayalakshmi21 commented on #3584
Hi @misaochan
When you say tooltips, do you refer to the one we see in Nearby (which upon clicking shows a text) or does it have to be a toast displayed when the user presses on the icon long?

[2020-03-31 21:01] madhurgupta10 commented on #3590
Okay, now I see the bug. I was trying it by launching the Tutorial from the Navigation Drawer.

[2020-03-31 21:37] vvijayalakshmi21 commented on #3526
I think the issue is with the entity id being entityId = "y/Q186476" format rather than entityId = "Q186476" as seen in the cases where we are able to successfully get the information.
I tried a quick dirty fix where I removed the y/ prefix as below:

if (entityId.startsWith("y/")){
            entityId = entityId.substring(2);
        }
Now I see images being displayed for child classes:
![Screen

[2020-04-01 01:02] nicolas-raoul commented on #3526
wow congratulations, nice find!

Even if substring fixes the bug, I am sure you will agree that instead, creating a valid entityId in the first place would be a better solution.
Where does this `entityId` come from? Why does it include extra characters before the `Q`? Can you fix it? Thanks :-)

[2020-04-01 05:24] vvijayalakshmi21 commented on #3584
I would like to take this up after #3526 if thats okay?

[2020-04-01 06:36] nicolas-raoul commented on #3591
Strange, the Wikidata item looks perfectly normal, no special attributes or anything unusual.
Time to show off how I can see inside HTTPS packets thanks to [HttpCanary](https://github.com/MegatronKing/HttpCanary):
![Screenshot_20200401-152303_Commons](https://user-images.githubusercontent.com/99590/78106001-7005cc80-742d-11ea-9f25-1fc0aae394a9.jpg)
Request:
[code]
[Link](query.wikidata.org/sparql?

[2020-04-01 07:14] vvijayalakshmi21 commented on #3526
Hi @nicolas-raoul
The problem is with the getChildQIDs() in OkHttpJsonApiClient.java file.
From the response the entityId = "http://www.wikidata.org/entity/Q186476"
But we are trying to fetch the ID as below:
[code]

[2020-04-01 07:17] vvijayalakshmi21 commented on #3526
For fetching the parent QID in the same file, we are using the below line of code:
`                            entityId = entityId.substring(entityId.lastIndexOf("/") + 1);
`

[2020-04-01 07:28] nicolas-raoul commented on #3526
Wonderful!
Please send a pull request fixing that :-)

[2020-04-01 10:22] vvijayalakshmi21 commented on #3526
@sivaraam thanks for the info. I will follow the steps outlined in your reply. How do I do the following?

# Your local branch which tracks the structured-data branch should be checked out now
# You can try building an app and checking if it works

Sorry I'm still familiarizing myself with GitHub. So please help me.

[2020-04-01 13:46] kbhardwaj123 commented on #3179
I investigated about the problem and here are my findings.
 - thanks @sivaraam for such in depth details, you are right the API is indeed case sensitive
 - We have 2 search options available at our disposal we can search by prefix or we can use the normal search (in between search, is case-insensitive)

So Suppose I want to find the category **Temple of Ishtar at Mari** by entering **temple of ish

[2020-04-01 13:49] kbhardwaj123 commented on #3179
@misaochan @sivaraam @nicolas-raoul @maskaravivek I need your opinions on my investigation on this to fix it for v2.13 i mean are we going to use the production flavor of the APIs in v2.13

[2020-04-01 17:07] misaochan commented on #3420
@sivaraam thank you, that is useful! Do you know if the process for submitting an article remains the same?

[2020-04-01 17:28] 318anushka opened #3616 "Notification marked as read still appearing in unread"
**Steps to reproduce:**

- click the bell icon

- click on a notification, it will open the webpage

- come back to app, notification marked as read snackbar appears(notification disappears from here).

- go back to home activity

- count of notification is still same and it appears in unread.

What did you expect the app to do, and what did you see instead?
notification to disappear from unread s

[2020-04-01 17:29] sivaraam commented on #3420
@misaochan I'm not aware of the details but I presume the following wiki page contains the details you would be looking for: [Wikimedia technical blog editorial guidelines#Publishing on the Tech blog](https://www.mediawiki.org/wiki/Wikimedia_technical_blog_editorial_guidelines#Publishing_on_the_Tech_blog)

Let me know if I'm missing something.

[2020-04-01 17:52] sivaraam commented on #3179
@kbhardwaj123 Thanks for the analysis. I'll look into it and respond share my comments soon. I have a quick doubt about one particular thing:

What do you mean by beta flavor of API? Do you mean the API hosted in the beta server (https://commons.wikimedia.beta.wmflabs.org/w/api.php) as opposed to the production server (https://commons.wikimedia.org/w/api.php)?

[2020-04-01 18:41] vvijayalakshmi21 commented on #3526
@nicolas-raoul I think fixing this will only fetch the image urls

I checked the output after changing the - to + and the below is the screenshot:
![Screenshot_20200402-000203](https://user-images.githubusercontent.com/34595292/78174156-6c1e7e00-741e-11ea-9955-2488f12cae4a.png)

The description is still not displayed although it gets displayed when we search for the same through Explore->Items

![

[2020-04-01 19:20] sivaraam commented on #3526
Glad to be of help :)

My pleasure.

Or would you suggest committing changes separately?

@vvijayalakshmi21 Don't be too hesitant to commit your changes. Feel free to commit often. It's good to have several revisions of the code that work. They would only help you get back to a previous working code easily when things go awry. That's one of the main points of committing changes, isn't it?

Here's

[2020-04-01 20:09] 6point022 commented on #3616
In which build variant are you facing this issue? I am unable to reproduce this for betaDebug, i.e., the notification disappears correctly for me.

[2020-04-01 21:03] vvijayalakshmi21 commented on #3526
Hi @nicolas-raoul I have been trying to locate where we are fetching the description field for the "Items". I can see that we are making a call in getMediaListFromSearch() and getting the values in the response

[code]

But I could not find where we are exactly fetching the value. I think I am overseeing it.
Could you please help me identify?

[2020-04-01 22:33] vvijayalakshmi21 commented on #3526
The sub classes for an item are fetched by the URL:

https://query.wikidata.org/sparql?query=SELECT%20%3Fsubclass%20%3FsubclassLabel%20WHERE%20%7B%0A%20%20%20%20%3Fsubclass%20wdt%3AP279%20wd%3AQ186476.%0A%20%20%20%20SERVICE%20wikibase%3Alabel%20%7B%20bd%3AserviceParam%20wikibase%3Alanguage%20%22en%22.%20%7D%0A%7D%0A&format=json

The parent classes are fetched using the URL:
https://query.wikidata.

[2020-04-02 01:07] nicolas-raoul commented on #3526
Thanks for the investigation!
Please send a first pull request for thumbnails only.
Descriptions can be a second pull request later.

To get descriptions, you will need to modify the SPARQL query template to include `?parentClassDescription` as seen in this screenshot, in app/src/main/resources/queries/parentclasses_query.rq and app/src/main/resources/queries/subclasses_query.rq:
<img width="1111"

[2020-04-02 01:11] nicolas-raoul commented on #3179
For category search (and really any testing that does not involve actually uploading), please use the `prodDebug` flavor of the app. The beta server is unusable for most testing.

[2020-04-02 03:19] kbhardwaj123 commented on #3179
@sivaraam yes that's exactly what i meant the API hosted on beta server https://commons.wikimedia.beta.wmflabs.org/w/api.php has server API but it is unable to give the required result where as the production API https://commons.wikimedia.org/w/api.php gives the expected result as shown bu the links in by previous comment.
@nicolas-raoul does prodDebug flavor use https://commons.wikimedia.org/w/ap

[2020-04-02 03:24] vvijayalakshmi21 commented on #3526
Hi @nicolas-raoul
I've created a PR from my branch for the thumbnail fix.

I've received an automatic reply asking for testing. Kindly let me know what I need to do to complete the pr process

[2020-04-02 05:50] nicolas-raoul commented on #3526
Unit tests would be required if this was about merging a new feature into master, but for this issue it is OK, don't worry.

Looking forward for a pull request about the description :-)

[2020-04-02 05:53] nicolas-raoul commented on #3179
@kbhardwaj123 Yes, prod* flavors use the production APIs, for instance https://commons.wikimedia.org/w/api.php . Sorry that our beta servers are not representative of production :'-(

[2020-04-02 06:06] kbhardwaj123 commented on #3179
@nicolas-raoul sure then the problem is solved already, I will create the pull request

[2020-04-02 07:45] sivaraam commented on #3179
Thanks for the clarification.

Let me now clarify something. The API hosted in the beta servers and the production servers _would not_ differ in a functional manner. I'm glossing over a little but I believe it's fine for the case in question. You see different results when you use the beta server _only because_ all the categories present that are present in the prod server _are not present_ in the

[2020-04-02 08:03] sivaraam commented on #3179
Ok. Here's a proof for the fact that the Beta server behaves just the same way as the production server.

https://commons.wikimedia.beta.wmflabs.org/w/api.php?action=query&format=json&formatversion=2&generator=search&gsrnamespace=14&gsrsearch=testcat&gsrlimit=25&gsroffset=0

This returns the `Category:TestCat` despite the search term being `testcat`. So, the beta server's `generator=search` is cas