[2019-03-15 02:59] nicolas-raoul commented on #2253
How about renaming "Review another image?" to "Skip this image?"
I suggest showing the "Yes, out of scope" button in red and the "Seems fine" button in green, because it seems easy to get distracted and click "Yes" thinking "Yes it is on-topic"

I am not sure previous/next are really needed but if they are implemented already let's try with them.

[2019-03-15 03:12] nicolas-raoul commented on #2563
@brendajerop Thanks for letting us know! :-)

[2019-03-15 03:18] nicolas-raoul commented on #2590
Does this work well with lists whose size increment as you scroll?

For what activity do you want to implement this?

[2019-03-15 03:42] maskaravivek opened #2596 "App crashing for API 28"
**Summary:**

After recently updating to API 28 in #2595, the app started crashing for Android Pie devices. It works fine for lower Android versions.

Android Pie's changelog mentions the removal of Apache HTTP client from the system's boot classpath.

This is the suggested fix:
https://developer.android.com/about/versions/pie/android-9.0-changes-28#apache-p

**Steps to reproduce:**

App crashes w

[2019-03-15 03:46] #2580 closed

[2019-03-15 04:06] #2596 closed

[2019-03-15 05:13] #2591 closed

[2019-03-15 05:17] misaochan commented on #1131
After the discussion at #888 , I think I would be on board with increasing the minSDK to 19. If users with phones lower than 19 are still able to access the last available version of the app via the Play Store even after we increase the minSDK, IMO that should be OK - it would be a reasonable compromise between reducing tech debt and maintaining inclusiveness.

@nicolas-raoul @maskaravivek @ashish

[2019-03-15 05:41] maskaravivek commented on #1131
Yes, I am also in favor of increasing the `minSDK` version.

[2019-03-15 06:33] nicolas-raoul commented on #2239
If the phone does not have any way to find the direction, then please just hide the arrow.
Thanks! :-)

[2019-03-15 07:23] noahwalugembe commented on #2592
Am just new to this repo can i work on this @madhurgupta10

[2019-03-15 07:46] noahwalugembe commented on #1107
@sivaraam @neslihanturan I am an outreachy applicant who would like to work on this as my contribution

[2019-03-15 07:49] nicolas-raoul commented on #1131
If you think it makes development easier, do as you wish.

[2019-03-15 07:51] nicolas-raoul commented on #2592
@noahwalugembe Sorry, Madhur has indicated he would like to work on this issue, Please choose another, thanks :-)
I had forgotten to put the label, I put it now.

[2019-03-15 07:54] nicolas-raoul commented on #1107
@noahwalugembe It is yours! Please let us know know about your progress :-)

[2019-03-15 07:59] #1400 closed

[2019-03-15 08:02] noahwalugembe commented on #2337
Hi @brendajerop iam also interested in working on this

[2019-03-15 08:12] noahwalugembe commented on #2241
@sp2710  like to work on this

[2019-03-15 08:15] noahwalugembe commented on #1107
Thanks Mr @nicolas-raoul

[2019-03-15 08:16] nicolas-raoul commented on #2337
@brendajerop What is the status on this? :-)

[2019-03-15 08:25] noahwalugembe commented on #2337
Is this still available

[2019-03-15 08:34] brendajerop commented on #2337
I don't think this was ever assigned to me so it's open. I was only helping in regards to getting the captions:)

[2019-03-15 08:38] nicolas-raoul commented on #2553
Is this "and" or "or"?

Currently there are only 4 issues with "bug" and "beginner-friendly" labels:
https://github.com/commons-app/apps-android-commons/issues?q=label%3Abug+label%3A%22beginner+friendly%22+is%3Aopen

[2019-03-15 08:45] neslihanturan commented on #2182
Closing this one, seems outdated:)

[2019-03-15 08:51] vanshikaarora commented on #2588
I think that's a good suggestion. But before working I would love to hear opinion of other mentors @nicolas-raoul @maskaravivek @misaochan @neslihanturan Please pitch in your suggestions :)

[2019-03-15 08:54] nicolas-raoul commented on #2337
@noahwalugembe I suggest you start working on #1107 and then get another issue after #1107 is done :-)

[2019-03-15 09:00] nicolas-raoul commented on #2588
No opinion, as notifications are not showing up for me recently (I will fill an issue as soon as possible).

[2019-03-15 09:08] vanshikaarora opened #2598 "Put map component in bottom sheet of upload activity"
**Summary:**
As discussed in #2542 Map component can be placed in the bottom sheet of upload activity  instead of the right side of the image

**Would you like to work on the issue?**

Yes

[2019-03-15 09:20] neslihanturan commented on #2252
Actually I think that transparent layer is better to have. Since when we see this transparent later, they are multiple buttons on bottom which we want to make our user focus on. If user also expands the FAB with "+" icon, there are 8 buttons in total. So I think blocking the map is a good decision.

Ie. google hangouts app have the same, when we click on the "+" FAB, it hides all cats with a trans

[2019-03-15 09:28] nicolas-raoul commented on #2252
I am OK with the semi-transparent layer, but tapping on the map should really close the details. I use Nearby very often and it is quite annoying.

By the way, imagine you are in the process of uploading 5 pictures, you have filled 4 titles and descriptions, and at the 5th picture you want to hide the bottom panel to see the picture better, so without thinking you press "Back" (because Nearby trai

[2019-03-15 09:31] neslihanturan commented on #2252
Oh, I see. Currently swiping down is also an option, but it can e hard to discover I agree. So having the layer and making it clickable sounds like the solution.

[2019-03-15 09:41] neslihanturan commented on #2313
I also don't think this is a big issue:)

[2019-03-15 10:04] madhurgupta10 commented on #2590
@nicolas-raoul I was thinking about implementing it in in Contributions activity, and yes it works well with different sized list.

[2019-03-15 10:17] ShridharGoel commented on #2313
Yes, we can close this.

[2019-03-15 10:17] #2313 closed

[2019-03-15 10:28] madhurgupta10 opened #2599 "Adding information dialog to Statistics"
**Summary:**
Adding information dialog to Statistics.

**Screen-shots:**
![InkedScreenshot_20190315-155319_LI](https://user-images.githubusercontent.com/30932899/54425332-13a90f80-473b-11e9-8412-ba11987de69d.jpg)

**Would you like to work on the issue?**
Yes

[2019-03-15 11:29] madhurgupta10 commented on #2333
@nicolas-raoul if the bug still exists, I would like to solve it :)

[2019-03-15 11:39] madhurgupta10 commented on #2508
@nicolas-raoul @maskaravivek is it a good time to implement this feature as per the discussion

The free encyclopedia appreciates your uploads.
Would you like to rate the upload app?
Yes - Ask me later - Don't ask me again

[2019-03-15 13:26] silkypriya commented on #2253
Hello @nicolas-raoul , @neslihanturan
Made pull request implementing changes discussed above.
Would love your suggestions for improvement.
Thank you!

[2019-03-15 13:55] nicolas-raoul commented on #2590
In the future we will make the Contributions activity load only a dozen elements, and load more as the user scrolls down.

Please give a few examples of applications that have bubble scroll on a list whose elements are automatically added as you scroll down. That will allow us to study their behaviors and choices.

Thanks! :-)

[2019-03-15 13:59] misaochan commented on #2553
Sorry, I meant "or" indeed.

[2019-03-15 13:59] nicolas-raoul commented on #2333
Yes it still exists, I checked yesterday. Thanks, it is yours! :-)

[2019-03-15 14:08] vanshikaarora commented on #2425
@nicolas-raoul Do you mean using a WebView here?

[2019-03-15 14:14] zhao-gang commented on #2182
The indefinitely repeated images issue is caused by commons client. It can only process two parameters(`gcmcontinue`  `continue`) returned by the server. The server never promised it only returns two parameters: [API documentation](https://www.mediawiki.org/wiki/API:Query#Continuing_queries). When the server returns some parameters other than above two, the client just ignores them, which causing

[2019-03-15 14:19] madhurgupta10 commented on #2590
@nicolas-raoul, for example, we can consider google photos app, where the bubble scroll view features the dates, helps user to navigate easily and finds the photos they need. But in case we are adding infinite scrolling feature then we might need to refresh the view.

[2019-03-15 14:28] vanshikaarora commented on #2425
@nicolas-raoul The above link gives a query like
[code]
 While I was executing the API there wasn't any node like "revisions" instead the API response looked like

[code]

Intsead of "revisions" it returned an empty node "missing". Am I parsing the API correctly here?
[code]

[2019-03-15 17:22] domdomegg commented on #2552
Recreated on `2.10.1-debug-master~44c18ac23`

[Beta Commons](https://commons.wikimedia.beta.wmflabs.org/wiki/File:MobileTest_2556.jpg)

[2019-03-15 17:27] #2552 closed

[2019-03-15 17:29] domdomegg commented on #2468
Closing now 2.10.2 released and all hotfixes made

[2019-03-15 17:29] #2468 closed

[2019-03-15 17:31] domdomegg commented on #2302
Closing as I don't have more information about what you mean - please comment here or open a new issue if you have more info.

[2019-03-15 17:31] #2302 closed

[2019-03-15 18:16] domdomegg opened #2603 "User-specific achievements failure"
**Summary:**

Achievements fails to load for me, gives snackbar error "Something went wrong, We could not fetch your achievements".

**Steps to reproduce:**

How can we reproduce the issue?
- Go to achievements page while your username is 'domdomegg' (does seem to be weirdly specific to me)

See blank API response is particular to me:
https://tools.wmflabs.org/urbanecmbot/commonsmisc/feedback.py?u

[2019-03-15 18:19] domdomegg commented on #2603
Pinging @urbanecm

[2019-03-15 18:54] vanshikaarora commented on #97
@maskaravivek Do you mean images downloaded from Google Images or the images on Google Photos(application)

[2019-03-15 19:18] domdomegg commented on #2534
From my testing it seems to break whenever the search query is less than 6 characters long.

Here are some logs of failures in case it helps:
[code]

[2019-03-15 19:48] #2186 closed

[2019-03-15 19:55] domdomegg commented on #2197
Reopened, see #2290

[2019-03-15 19:55] domdomegg commented on #2250
Reopened, see #2290

[2019-03-15 20:47] urbanecm commented on #2603
Copying from server logs:

[code]
I've copied feedback.py to test.py and adapted it to use first argument passed on the command line instead of the user get parameter (which isn't easily passable from the commandline). Then I did the per-user testing @domdomegg did using the API, to confirm the error quoted above indeed comes from @domdomegg 's request (error.log seemingly doesn't log the url, jus

[2019-03-15 20:57] vanshikaarora commented on #2588
@maskaravivek @ujjwalagrawal17 Can you please share your opinion :)

[2019-03-15 20:58] vanshikaarora commented on #2563
@nicolas-raoul @ujjwalagrawal17 I have made a Pull Request here #2586 Kindly review :)

[2019-03-15 21:55] domdomegg commented on #2502
@madhurgupta10

We can now click and hold to remove a specific search (see #2275) so adding the extra gesture might not be worth it - up to you. If you do decide to go ahead ideally use the same handler function.

I think you can try implementing swipe to delete, and it may be merged as long as it's a small change (i.e. ideally just add another listener, without adding any extra libraries). I thin

[2019-03-15 21:59] domdomegg commented on #2603
Perfect, thanks for the quick fix :)

[2019-03-15 21:59] #2603 closed

[2019-03-15 22:06] #2241 closed

[2019-03-15 22:19] domdomegg commented on #2250
Fixed again in #2347

[2019-03-15 22:19] #2250 closed

[2019-03-15 22:48] #2276 closed

[2019-03-15 23:02] #2524 closed

[2019-03-15 23:05] domdomegg commented on #2465
Fixed in #2577

[2019-03-15 23:05] #2465 closed

[2019-03-15 23:15] #2324 closed

[2019-03-15 23:27] domdomegg opened #2605 "No notification wording and capitalisation"
**Summary:**

Weird wording and capitalisation in the "You have no unread Notification" message. Don't think notification should be capitalised, and think it should be plural.

**Screen-shots:**

![Screenshot_1552692264](https://user-images.githubusercontent.com/4953590/54466820-8df88480-4779-11e9-8fe1-ecdb4f6ed31d.png)

**Would you like to work on the issue?**

Yes

[2019-03-15 23:47] #2520 closed

[2019-03-16 03:39] neslihanturan commented on #2508
I think it is not yet, it requires 1, 2 months actually

On Fri, Mar 15, 2019, 13:39 Madhur Gupta <notifications@github.com> wrote:

[2019-03-16 06:29] maskaravivek commented on #97
I meant the images on Google Photos(application).

[2019-03-16 06:31] #2605 closed

[2019-03-16 07:52] maskaravivek opened #2607 "Quiz Checker is not being used"
**Summary:**

It seems that quiz checker is not being used anywhere. Earlier if the revert rate was more than 15% then the quiz popup was shown. It doesn't seem to happen anymore.

[2019-03-16 08:10] vanshikaarora commented on #97
@maskaravivek I just checked for the images uploaded from Google photos they also possess the following EXIF Directories: Exif IFDO, Exif SubIFD, Exif Thumbnail and GPS Directory.

[2019-03-16 08:16] maskaravivek commented on #97
Okay great (Y).

[2019-03-16 09:03] nicolas-raoul commented on #2425
What do you get with
[code]
?

[2019-03-16 09:11] vanshikaarora commented on #2425
@nicolas-raoul It returns an object of type CustomApiResult

[2019-03-16 11:20] sp2710 commented on #2607
Yes @maskaravivek it is not being used anywhere

![Screenshot from 2019-03-16 16-49-08](https://user-images.githubusercontent.com/39745544/54474489-779b0900-480b-11e9-96f5-9d67fa6e2f89.png)

I would like to work on this. Shall i pick it up?

[2019-03-16 11:22] #2593 closed

[2019-03-16 11:27] maskaravivek commented on #2607
I was actually already working on it. Can you please take up some other issue. :)

[2019-03-16 11:27] domdomegg opened #2609 "FAB weird behaviour when toggling on API 19"
**Summary:**

The FAB behaves weirdly on API level 19:

![issue](https://user-images.githubusercontent.com/4953590/54474562-3fc99c80-47de-11e9-83ad-9ec02b236271.gif)

**System logs:**

There are no logs when doing this

**Device and Android version:**

Galaxy Nexus Emulator, at API level 19

[code]

**Commons app version:**

`2.10.1-debug-master~57e685cf6`

**Would you like to work on the issue?**

[2019-03-16 11:28] domdomegg commented on #2599
Assigned to @madhurgupta10

[2019-03-16 11:30] maskaravivek commented on #2599
@madhurgupta10 Can you elaborate on what would you show in the information dialog. :)

[2019-03-16 11:34] madhurgupta10 commented on #2599
@maskaravivek I wanted to add information dialog button next to each **Featured Image**, **Thanks Received**, **Images via Nearby Places** so that a user can know more about these milestones and boost up his/her contributions accordingly.

For instance, the **Featured Image** heading does not explain much and someone who is new to the platform might want to know more about it. As per the current s

[2019-03-16 11:35] sp2710 commented on #2607
Sure :-)

[2019-03-16 11:35] sp2710 commented on #2609
I am picking it up

[2019-03-16 11:39] domdomegg commented on #2599
I think like how "images uploaded", "images reverted" and "images used" have information icons which explain what they mean, adding those for the other categories.

[2019-03-16 11:40] domdomegg commented on #2599
To avoid clutter by having 6 buttons maybe we could change this to have one information button which takes the user to something which explains all the achievement stats? It could also explain how level is calculated.

[2019-03-16 11:42] madhurgupta10 commented on #2599
@domdomegg Great idea 👍 we can redirect them to a github page as we have for FAQ.

[2019-03-16 11:49] domdomegg opened #2610 "Night mode: Nearby map"
**Summary:**

The night mode uses the light map theme which is quite bright. Ideally should use a dark map theme.

**Would you like to work on the issue?**

Yes

[2019-03-16 11:49] maskaravivek commented on #2599
IMO, we are just adding little (i) icons, it won't clutter the UI as such. We can probably just add these icons instead of redirecting to Github.

[2019-03-16 12:05] domdomegg commented on #2599
I'd agree redirecting them to Github is probably a bit much. Let's stick with the (i) icons for now.

[2019-03-16 12:10] #2563 closed

[2019-03-16 12:21] #1131 closed

[2019-03-16 12:33] #2610 closed

[2019-03-16 13:13] madhurgupta10 commented on #2502
@domdomegg I agree that it will not be the best to make the app more complicated by adding a small feature. I will try to experiment with this change and if you think the change won't make the app more complicated, then we can merge it. I will keep this on low priority and focus more on other potential issues :)

[2019-03-16 13:15] nicolas-raoul commented on #2068
Ah yes, navigation drawer is the right word, thanks!

[2019-03-16 13:16] nicolas-raoul commented on #2425
Does your IDE allow you to see what is inside this object?

[2019-03-16 13:24] maskaravivek commented on #2425
When I tried calling this API I got the following response:

https://www.wikidata.org/w/api.php?action=query&prop=revisions&rvprop=content&titles=Talk:Q11311478&format=json&rvslots=main

[code]

[2019-03-16 13:30] vanshikaarora commented on #2068
@nicolas-raoul Currently the "Peer-review" activity is will be showing a list of images along with their rating or is it something else?

[2019-03-16 13:37] #2335 closed

[2019-03-16 13:42] nicolas-raoul commented on #2068
There are several ways to implement this.
A) In Explore, as a "Nearby pictures" tab. For consistency maybe the rating feature could be available on all pictures found in Explore, not just nearby pictures
B) As a part of Peer Review, for instance after recently uploaded pictures have all been reviewed (this would require creating a server-side database of what pictures have been reviewed).

[2019-03-16 13:46] vanshikaarora commented on #2068
@nicolas-raoul Since currently we don't have the server-side ready. Shall I start with option A

[2019-03-16 13:55] nicolas-raoul commented on #2068
Yes if you want :-)
You can first implement the rating system on all pictures that are shown in Explore.

[2019-03-16 13:56] #906 closed

[2019-03-16 13:56] #2607 closed

[2019-03-16 13:59] nicolas-raoul commented on #2068
For the UI, how about this:
1. When the user double-taps a picture, show this popup: ☆☆☆☆☆
2. When the user taps on the 4th star, it becomes: ★★★★☆
3. When the user taps OK, save the rating as explained at https://github.com/commons-app/apps-android-commons/issues/2068#issuecomment-461263882

[2019-03-16 14:00] nicolas-raoul commented on #2068
The same feature should also be available in the media details as double-tap too, and in the media details' menu (along with Download) for discoverability.

[2019-03-16 14:04] vanshikaarora commented on #2068
You can first implement the rating system on all pictures that are shown in Explore.

Sure :)

When the user double-taps a picture, show this popup: ☆☆☆☆☆
When the user taps on the 4th star, it becomes: ★★★★☆
When the user taps OK, save the rating as explained at #2068 (comment)

One point of suggestion here, user's might not know about this double tapping feature. So either,

- we can add a rate

[2019-03-16 14:18] madhurgupta10 opened #2616 "Wrong bookmarked item expanding onResume"
**Summary:**
Wrong bookmarked item expanding onResume.

**Steps to reproduce:**
Go to Bookmarks > locations > tap on an item other than first one > go to camera or map > the wrong item will expand when you return to the activity.

**Device and Android version:**
Xiaomi Mi A1 API level 28 Stock Android

**Commons app version:**
lastest betaDebug

**Screen-shots:**
![ezgif-5-2556a54a1a5e](https://us

[2019-03-16 14:39] nicolas-raoul commented on #2068
A rate icon near the download icon or inside the menu in the media details would be good, I think.
A tutorial would be too much intrusion for a non-essential feature, I think.

[2019-03-16 14:53] noahwalugembe commented on #1107
Hi @nicolas-raoul i have Avoided "dynamism/movements" of username and password fields in the login screen. Pleas check my remo {https://github.com/noahwalugembe/apps-android-commons} to see my contribution

[2019-03-16 14:54] nicolas-raoul commented on #1107
Would you mind sending a pull request? :-)
https://help.github.com/en/articles/creating-a-pull-request
Thanks!

[2019-03-16 15:27] #2231 closed

[2019-03-16 15:39] #1334 closed

[2019-03-16 15:45] noahwalugembe opened #2619 "Avoid "form movements" in the login screen"
In order to Avoid "dynamism" in the login screen (#1107)  i have stopping the soft keyboard from pushing my view up is this some thing that we can implement.

[2019-03-16 15:46] domdomegg opened #2620 "App crashes if visiting achievements in flight mode"
**Summary:**

The app crashes if trying to access achievements in flight mode.

**System logs:**

[code]

**Device and Android version:**

API 28

[2019-03-16 15:49] domdomegg commented on #2619
Sorry, didn't realise you were working based off #1107. Have added it to your PR and closing this as a duplicate.

[2019-03-16 15:49] #2619 closed

[2019-03-16 15:56] vanshikaarora commented on #2068
Ok I'll add the rate icon in the media details :+1:

[2019-03-16 16:01] sp2710 commented on #2620
I would like to work on this

[2019-03-16 16:02] domdomegg commented on #2620
Assigned to @sp2710

[2019-03-16 16:05] domdomegg commented on #2620
Also perhaps related, it doesn't cause a crash but being in flight mode causes a tonne of similar errors with notifications:

[code]

[2019-03-16 16:05] domdomegg commented on #2620
And just opening the app

[code]

[2019-03-16 16:07] domdomegg commented on #2620
Also ACRA might be catching the real error for the Achievements crash:

[code]

[2019-03-16 16:13] ujjwalagrawal17 commented on #2588
@vanshikaarora I think it can be done in 2 ways.
A. the notifications can be divided into 2 groups - new, read. (Then we only need to mark the notification as read when we click them).
B. the notifications can be divided into 3 groups- new, read, archived. We can divide the notifications in 2 groups (new/read) and all the new notifications should above above read ones. Similar to this:
![WhatsApp

[2019-03-16 16:27] #2245 closed

[2019-03-16 16:52] sp2710 commented on #2620
@domdomegg  I have sent a PR for this issue. The ACRA was catching the real error as onError was not implemented.
The logs are of a different issue. I am looking at it.

[2019-03-16 16:53] vanshikaarora commented on #2068
Task List for me:

- [ ] Adding UI as discussed [here](https://github.com/commons-app/apps-android-commons/issues/2068#issuecomment-473532644)
- [ ] Adding Android Commons app quality assessment== Score:4 (1:Low quality, 5: High quality) to the media's talk page
- [ ] Add a "thank" to the picture if the number of stars is 4 or 5.

[2019-03-16 16:57] maskaravivek commented on #1092
@dbrant We have updated the `minSdkVersion` to 19. :)

[2019-03-16 17:06] #2620 closed

[2019-03-16 17:09] madhurgupta10 commented on #2508
@neslihanturan Okay

[2019-03-16 17:26] vanshikaarora commented on #2068
@nicolas-raoul As discussed [here](https://github.com/commons-app/apps-android-commons/issues/2425#issuecomment-472791645). Currently we do not have the an API to write media talk page.  Task 2 in my work list shall be kept on hold. Please correct me if I am wrong :)

Is it  like sending a thanks to the editor of the picture?

[2019-03-16 17:39] vanshikaarora commented on #2425
@maskaravivek on using

[code]
The following is shown in logs

[code]

[2019-03-16 18:10] ujjwalagrawal17 commented on #2502
@madhurgupta10 I think it's better to skip this for now. I am closing this issue now. Feel free to reopen this issue if you think your solution will add value to the app.

[2019-03-16 18:10] #2502 closed

[2019-03-16 18:25] ujjwalagrawal17 commented on #2599
@madhurgupta10 feel free to start working on this issue and to add (i) icons.

[2019-03-16 18:28] albendz commented on #2590
My 2 cents:

For dynamic loading, you may be able to create all lettered sections in a top level view and each lettered view has its own set of scrollable data.. If you are within one section of the listview, you dynamically load x items within that section on scroll. When you are returned fewer than x items for that section, you begin loading the next section's data into the next section. It woul

[2019-03-16 18:36] ujjwalagrawal17 commented on #2367
@madhurgupta10 if you have any other idea you can suggest that in this thread.

[2019-03-16 19:09] maskaravivek commented on #2425
I also used the rvslots param set to main

[2019-03-17 01:01] #2180 closed

[2019-03-17 01:16] ranjithsiji opened #2627 "Simple - Failed to upload images into commons"
**Summary:**

Is anybody here who succeeded uploading a picture into commons using this app ?

**Steps to reproduce:**

Install this app
Upload a picture to commons
Get the failed message.

**System logs:**

What logs ?

**Device and Android version:**

Redmi Note 4, Moto G5, Oneplus 3
Andoroid 8,9

**Commons app version:**

2.10.2~66e1539a or any version earlier

**Screen-shots:**

NO I am postin

[2019-03-17 05:23] vanshikaarora commented on #2425
@maskaravivek Even then the response was same for me :(

[2019-03-17 05:24] maskaravivek commented on #2627
@ranjithsiji Can you go to settings and share logs from there.

[2019-03-17 05:28] vanshikaarora commented on #2588
@ujjwalagrawal17 I prefer the option B. There can be three categories with the category new being highlighted. And for the read notification I agree with creating a swipe to archive feature instead of swipe to read.

@maskaravivek @nicolas-raoul @albendz Please share your opinion :)

[2019-03-17 05:30] maskaravivek commented on #2425
You need to use `wikidataApi` instead of `api`

[2019-03-17 05:41] maskaravivek commented on #2588
Notifications are not showing for me as well (neither unread nor read ones). :/

Personally, I would prefer option A because of its simplicity.

We can probably listen for web view loaded event and mark the notification as read, only after the page loads completely.

If we go with option B, then we will introduce something called `archived` notifications. [Mediawiki API](https://www.mediawiki.org/

[2019-03-17 05:51] vanshikaarora commented on #2425
Thanks @maskaravivek  Using this I successfully got the result :)

[code]

[2019-03-17 07:25] nfatma commented on #2035
I am able to add the "_use the title/desc from your previous upload & edit_" button in the UI but I am not able to get the prev title/desc from the database. Can I get any help??

[2019-03-17 09:59] vanshikaarora commented on #2414
I have gone through the issue the `String json = response.body().string();` returns
[code]
for an image bookmarked from Explore.

While api call for an image bookmarked from self-uploaded image returns `{"batchcomplete":""}`

[2019-03-17 10:00] vanshikaarora commented on #2414
@nicolas-raoul @misaochan @neslihanturan Is this an issue from server-side?

[2019-03-17 10:01] domdomegg commented on #2373
While testing #2374, I couldn't reproduce this on `2.10.1-debug-master~d719a4a9d`. Can you check this is still present?

[2019-03-17 10:12] #2598 closed

[2019-03-17 10:22] vanshikaarora opened #2629 "Crash in upload activity due to recent migrations to androidx"
**Summary:**

After the recent migrations to androidx upload activity crashes due to the following log message

**Steps to reproduce:**

- Click on the FAB
- Select a picture
- Upload

**System logs:**

[code]

**Commons app version:**
latest master

**Would you like to work on the issue?**

Yes

[2019-03-17 10:32] #2017 closed

[2019-03-17 10:37] domdomegg opened #2632 "Warnings from Android Gradle Plugin"
**Summary:**

When building there are about 70 warnings from the 'Android Gradle Plugin' similar to:

[code]

This also clutters up the Travis logs.

**Would you like to work on the issue?**

Yes, PR ready in #2631

[2019-03-17 10:42] #2629 closed

[2019-03-17 10:55] #894 closed

[2019-03-17 11:05] #2632 closed

[2019-03-17 11:06] sp2710 commented on #2373
@domdomegg I am also not able to reproduce this error.

[2019-03-17 11:12] domdomegg commented on #2373
Okay in that case I'm going to close this issue and related PR. I think changes to ContributionsFragment since your PR have fixed it - shame your PR was not reviewed earlier.

[2019-03-17 11:12] #2373 closed

[2019-03-17 11:13] domdomegg commented on #1996
Think these are now fixed (also see discussion in #2373)

[2019-03-17 11:13] #1996 closed

[2019-03-17 11:17] vanshikaarora commented on #2440
I think the Issue here and the one posted [here](https://github.com/commons-app/apps-android-commons/issues/2414#issuecomment-473650576) in the issue #2414 are related

[2019-03-17 11:18] vanshikaarora commented on #2441
Do we have more opinions on this?

[2019-03-17 11:40] domdomegg commented on #1777
See https://github.com/commons-app/apps-android-commons/pull/2216#issuecomment-473657312

[2019-03-17 11:40] #1777 closed

[2019-03-17 11:58] ranjithsiji commented on #2627
MediaWiki Username = Ranjithsiji
App Version Name: 2.10.2~66e1539a
User Name: Ranjithsiji
Network Type: cellular
Device manufacturer: Xiaomi
Device model: mido
Android Version: 9

2019-03-17 17:22:22,195     [DEBUG] [file-logging-thread-1] [UploadService] : Set 0 uploads to failed
2019-03-17 17:22:22,199     [DEBUG] [file-logging-thread-1] [UploadService] : Flags is 0 id is 1
2019-03-17 17:22:22,2

[2019-03-17 12:53] sp2710 opened #2634 "Enable GPS dialog always showing"
**Summary:**

Dialog to Enable GPS is showing even if GPS is enabled

**Steps to reproduce:**

1.Enable GPS .
2. Open the App. You will see the dialog asking for enable GPS.
3. It is also happening while switching to nearby Tab

**Device and Android version:**

Motorola Moto G5 plus with API 24

**Commons app version:**

Latest master

![ezgif com-video-to-gif](https://user-images.githubuserconten

[2019-03-17 13:09] sp2710 commented on #2212
@domdomegg I would like to work on this issue

[2019-03-17 13:13] ranjithsiji commented on #2627
thank god my old app **CommonsLab Android** is working perfectly. It is doing what it saying. Good Bye new commons app.

[2019-03-17 13:58] sp2710 commented on #2337
@nicolas-raoul Shall I pick it up?

[2019-03-17 14:25] domdomegg commented on #2212
Assigned to @sp2710 - however I don't want to assign you to to many things at once - are you still working on #2609?

[2019-03-17 14:34] sp2710 commented on #2212
Yes. For now I am having an issue in setting up emulator with API 19. I will work on #2609 after solving this issue

[2019-03-17 15:01] domdomegg commented on #2263
Closing stale issue, please reopen if new information becomes available. What should be done with failed images now in #2311

[2019-03-17 15:01] #2263 closed

[2019-03-17 15:20] #2246 closed

[2019-03-17 15:29] #2394 closed

[2019-03-17 15:41] namrata-jha commented on #2337
Can I work on this issue please?

[2019-03-17 15:44] namrata-jha commented on #2238
Since there hasn't been any updates on this issue, can I take it up?

[2019-03-17 15:48] pgmpofu commented on #2238
@namrata-jha  I'm have forked a branch and am currently working on it

[2019-03-17 15:49] noahwalugembe opened #2637 "I would like to add detect text copy/ paste event in password and username edit-text box"
@nicolas-raoul I would like to add detect text copy/ paste event in password and username edit-text box os as to enable user to copy and paste passwords which I do a lot when logging

[2019-03-17 16:13] namrata-jha commented on #2026
Can I take the issue up?

[2019-03-17 16:14] #2592 closed

[2019-03-17 16:16] namrata-jha commented on #2075
I would like to work on this, with some guidance regarding how to go about it, thanks!

[2019-03-17 16:17] vanshikaarora commented on #2588
Looking upon the problems we have with API i think option A would be a better choice.

@nicolas-raoul @domdomegg @misaochan @neslihanturan Can you please share your opinion here :)

[2019-03-17 16:18] vanshikaarora commented on #2075
@namrata-jha , i have a suggestion of using the library  https://github.com/KeepSafe/TapTargetView do you have any other suggestion in mind?

[2019-03-17 16:18] namrata-jha commented on #2049
Since there has been no update on this yet, can I take this up?

[2019-03-17 16:19] domdomegg commented on #2588
I'd prefer option A for the same reasons as @maskaravivek

[2019-03-17 16:23] #2194 closed

[2019-03-17 16:27] vanshikaarora commented on #2588
Since option A seems preferable. Here is how we can implement it:

- Create a section for new notifications (no section in case of no notifications)
- Clicking on any of them means the user has marked the notification as read
- I am not sure whether we are going to remove the swipe to delete feature or not (yet to be decided)

I am working on the above two features as of now.
Third point still nee

[2019-03-17 16:31] domdomegg commented on #2588
I think remove swipe to delete

[2019-03-17 16:54] #2203 closed

[2019-03-17 17:11] #1850 closed

[2019-03-17 17:16] domdomegg commented on #2637
We can currently copy and paste usernames/passwords by pressing and holding in the textview, then clicking paste. However maybe a dedicated button in the beta app could take the contents of the clipboard and fill both fields and simulate clicking the login button.

e.g. if you had your username and password in clipboard seperated by a newline like:
[code]
then clicked a button under the normal log

[2019-03-17 17:20] domdomegg opened #2638 "Remove BitmapUtils"
**Summary:**

Currently in achievements the level badge (`badge.xml`) has the level number drawn on top with `BitmapUtils`. I think it would be better to somehow use a normal `TextView` overlaid on the badge to do this. This would have three benefits:
- Massively reduce opportunity for bugs
- Crisper text as not rendered to a bitmap
- Marginally better performance

**Screen-shots:**

![Screenshot_

[2019-03-17 18:21] noahwalugembe commented on #2637
Thanks for the good idea am going to try it out that way

[2019-03-17 18:34] ujjwalagrawal17 commented on #2588
I also think we should remove swipe to read.

[2019-03-17 19:54] domdomegg opened #2643 "Refactor layouts"
**Summary:**

There are an extreme number of layouts for an app with not that many different screens. This increases the opportunities for bugs to arise, and makes it difficult to find which layout might be useful to reuse when writing new code - leading to even more layouts!

It would be good to try to get a handle on some of the layouts, refactoring commonly used components out and using the sam

[2019-03-17 20:01] domdomegg opened #2644 "Extend WelcomeActivityTest"
**Summary:**

Would be good to extend WelcomeActivityTest to cover more cases. These are taken from #2636:

- Test swiping the correct number of times and then clicking 'yes' exits WelcomeActivity
- ~Test that on beta clicking the 'skip tutorial' button exits WelcomeActivity~
- ~Test we can swipe both ways (i.e. backwards and forwards)~
- Test swiping beyond the proper bounds shouldn't do anything

[2019-03-17 20:41] #2634 closed

[2019-03-18 03:48] zhao-gang commented on #2638
@domdomegg Hi. I'd like to work on this. Please assign this issue to me.

[2019-03-18 04:48] maskaravivek commented on #2638
Assigned to @zhao-gang!

[2019-03-18 04:50] ashishkumar468 opened #2648 "Crash in MediaDetailPagerFragment while downloading images"
**Summary:**
App Crashes when we try to download an image in MediaDetails page (Probable cause is the lack of external storage permission)

**Steps to reproduce:**

How can we reproduce the issue?
Download an image in MediaDetails Page without external storage permission

**System logs:**

[code]

**Device and Android version:**
ANDROID_VERSION=8.0.0
APP_VERSION_NAME=2.10.2
BRAND=motorola
PHONE_MO

[2019-03-18 05:03] maskaravivek commented on #2026
Sure take this up @namrata-jha. The first step would be to reproduce the issue. It is possible that this might already be fixed.

[2019-03-18 05:05] maskaravivek commented on #2049
@namrata-jha I have assigned #2026 to you. Let us know when you are done with it. You can pick other issues after that. :)

[2019-03-18 05:36] nicolas-raoul commented on #2068
# Talk page
I think this is the API to use to edit any wiki article (which includes Commons talk pages):
https://github.com/wikimedia/wikimedia-android-data-client/blob/master/src/main/java/org/wikipedia/edit/EditClient.java#L25
You need to merge https://github.com/commons-app/apps-android-commons/pull/2642 into your branch to start using it.

# Thank
The app must thank the wiki edit which is the

[2019-03-18 06:31] nicolas-raoul commented on #2590
If we are talking about the Contributions activity, I guess the bubble would not show letters, right @madhurgupta10 ? What would the bubbles show instead? Upload dates?

[2019-03-18 06:39] madhurgupta10 commented on #2590
@nicolas-raoul Yes, I was thinking about displaying dates, just like google photos.

[2019-03-18 06:40] madhurgupta10 commented on #2616
@domdomegg could you please add **assigned** tag as well?

[2019-03-18 07:51] nicolas-raoul commented on #2425
About the UI: How about the one I proposed in the first post above? It does not need to be polished as it is not a place people will see often :-)

[2019-03-18 07:55] nicolas-raoul commented on #2414
Could you please write here the complete API request and response for both cases? Preferably using a [curl](https://en.wikipedia.org/wiki/CURL) command. Thanks!

[2019-03-18 07:57] domdomegg opened #2649 "Create unit tests for darkness-checking logic"
**Summary:**

Would be good to have a unit test for the darkness checking algorithm. It could use the 4 images in #1767 as samples.

See https://github.com/commons-app/apps-android-commons/pull/2639#issuecomment-473773865

[2019-03-18 07:59] vanshikaarora commented on #2644
Hey, is the issue still open?

[2019-03-18 08:00] domdomegg commented on #2644
@vanshikaarora Yep! Do you want to take it up?

[2019-03-18 08:01] vanshikaarora commented on #2644
Yes I want to work on this

[2019-03-18 08:02] domdomegg commented on #2644
Perfect. Feel free to request a review from me (although I'm happy for anyone else to review, just in case it speeds things up).

[2019-03-18 08:16] nicolas-raoul commented on #2637
Does the WIkipedia app, or any other popular app, have this feature?

[2019-03-18 08:19] nicolas-raoul commented on #2238
@pgmpofu Cool looking forward to your pull request :-)

[2019-03-18 08:21] nicolas-raoul commented on #2075
Sorry this issue is marked as debated, which means it needs discussion among people who are very experienced with the app before it can be implemented. Thanks for you understanding! :-)

[2019-03-18 08:22] nicolas-raoul commented on #2337
@sp2710 It is yours, thanks!

[2019-03-18 08:59] domdomegg commented on #2637
I'm not sure. I do think it could make the beta easier to test - however it does come with a cost of adding complexity.

[2019-03-18 09:50] misaochan commented on #2637
My vote is no, sorry. I personally think this proposed improvement adds complexity for very minimal benefit.

[2019-03-18 09:58] vanshikaarora commented on #2414
@nicolas-raoul
### Curl request of **any image**
[code]

**Response**
[code]

### Curl request for self-uploaded images

[code]

**Response**
[code]

[2019-03-18 10:03] vanshikaarora commented on #2068
Do we need to further editing on this PR? Or it is sufficient to be merged with my branch?

[2019-03-18 10:44] nicolas-raoul commented on #874
Is this problem still happening?

[2019-03-18 10:46] nicolas-raoul commented on #757
It actually sends me back to either Contributions or my external app, depending on whether I started the upload via the app or via my external app.

[2019-03-18 10:46] #757 closed

[2019-03-18 10:48] nicolas-raoul commented on #2033
I haven't seen this for a while. If that happens again please tell us, thanks! :-)

[2019-03-18 10:48] #2033 closed

[2019-03-18 10:55] nicolas-raoul commented on #2352
Recently I only see a blue point, and it does not move with the GPS.
When walking, to refresh the position of the blue point I am forced to kill the app and start it again.
The blue point should move with me as I walk.

[2019-03-18 10:56] nicolas-raoul commented on #2637
Sorry about that @noahwalugembe how about working on https://github.com/commons-app/apps-android-commons/issues/2352 instead if you want? :-)

[2019-03-18 10:56] #2637 closed

[2019-03-18 11:08] neslihanturan commented on #2352
IMO solving this issue can be very tricky. Because we have some different cases such as
- do x when list is expanded, do y when list is collapsed.
- do x when user is searching around, do y when user is walking and requesting track.

I think the main problem is new nearby UI is developed incrementally with feedbacks. And search this area feature added after the initial implementation. Work flow sh

[2019-03-18 11:08] neslihanturan opened #2651 "IMO solving this issue can be very tricky. Because we have some different cases such as"
IMO solving this issue can be very tricky. Because we have some different cases such as
- do x when list is expanded, do y when list is collapsed.
- do x when user is searching around, do y when user is walking and requesting track.

I think the main problem is new nearby UI is developed incrementally with feedbacks. And search this area feature added after the initial implementation. Work flow sh

[2019-03-18 11:44] nicolas-raoul commented on #2414
Please put the URL inside quotes, otherwise the `&` are understood as starting another command :-)

[2019-03-18 11:48] nicolas-raoul commented on #2068
That PR will get more commits, but even now it should be enough to edit talk pages I believe.

[2019-03-18 12:11] vanshikaarora commented on #2414
@nicolas-raoul
### For any image

[code]

### For self-uploaded image

[code]

[2019-03-18 12:13] vanshikaarora commented on #2068
@nicolas-raoul So shall I merge the PR in it's current state with my branch?

[2019-03-18 12:26] nicolas-raoul commented on #2068
Yes, merge that PR into your branch.
Please first commit all of your changes first so that you can easily reset if things go wrong.

[2019-03-18 12:32] nicolas-raoul commented on #2651
I would say:
- map camera follow the location of the user? : 1: YES, others: NO (if complicated, NO for all is fine too)
- track the location of user with blue dot? YES for all states
- auto zoom in/ out? Only at 1 when loading the first set of points

[2019-03-18 12:36] madhurgupta10 commented on #2599
@domdomegg @maskaravivek Please suggest **strings** for information dialogs for each of the three

[2019-03-18 13:18] noahwalugembe commented on #2637
Okay nicolas-raoul

[2019-03-18 14:29] neslihanturan opened #2652 "NPE on bookmark while pic from explore still loading (slow internet)"
**Summary:**
From crash report of @nicolas-raoul , seems like an easy one.
[code]

[2019-03-18 14:36] oluwadara-abijo commented on #2652
@neslihanturan Can I take this?

[2019-03-18 14:36] neslihanturan commented on #2652
Yes, feel free @oluwadara-abijo

[2019-03-18 15:11] mrpeny commented on #2205
Hi, I am planning to work on this issue. Are you still working on it @NicholasWeiner? Please let me know if you have discovered something that would be useful for further testing and fixing! Thank you

[2019-03-18 15:37] #860 closed

[2019-03-18 16:53] MetalDent commented on #2643
Can I help?

[2019-03-18 17:17] NicholasWeiner commented on #2205
Hi Bence,
The issue is all yours. I can no longer work on it due to having a busy
schedule for the next few months.

On Mon, Mar 18, 2019, 4:11 PM Bence Konya <notifications@github.com> wrote:

[2019-03-18 17:28] mrpeny commented on #2205
OK. Thank you. @domdomegg, please assign this issue to me if you agree!

[2019-03-18 18:07] david-oh-git commented on #2534
Hello, i would be looking into this issue.

[2019-03-18 18:52] domdomegg commented on #2205
Assigned to @mrpeny

[2019-03-18 18:53] domdomegg commented on #2205
Also @mrpeny It looks like you might have a fix in 762c210. I'd be happy to review a PR consisting of that change if you request a review from me :)

[2019-03-18 19:24] mrpeny commented on #2205
Thanks @domdomegg, I made the PR. Please let me know if something is not correct! I have read the documentation but I am new to the open source world so I might have missed something.

[2019-03-18 20:21] #705 closed

[2019-03-18 20:27] domdomegg commented on #2599
I don't mind too much - as long as it's not just restating the text already there (e.g. should *not* be something like for 'thanks recieved': 'this is the number of thanks you have received on Wikimedia Commons').

For thanks and featured pictures, perhaps looking at the text from one of these might help:

https://commons.wikimedia.org/wiki/Commons:Featured_pictures
https://en.wikipedia.org/wiki/W

[2019-03-18 20:29] madhurgupta10 commented on #2599
@domdomegg Definitely 👍

[2019-03-18 20:47] domdomegg commented on #2534
@Bahaaib how have you been getting on with this? Could @david-oh-git help/take it over now?

[2019-03-18 21:03] #2205 closed

[2019-03-18 21:14] domdomegg commented on #2643
Thinking more about the initial changes I want to make I think it's easier to coordinate to avoid merge conflicts if I do them, so I've marked this as assigned to me. However I'm sure later the changes will be more localized. For example, PRs #2641, #2645, and #2646 all touch over 10 layout files.

Also for future people if this is still here and those PRs have been merged for a while (like a week

[2019-03-18 23:06] domdomegg opened #2655 "Fix warnings about string resources 'without required default value'"
**Summary:**

There are a bunch of warnings about string resources without the required default value (i.e. a fallback in `strings.xml`). As these strings are not used throughout the app I think we should remove them.

The main benefit is that it'll be easier to search for failures in the logs as the string resources have the text 'failed' in them which is annoying when going through Travis logs t

[2019-03-18 23:08] domdomegg commented on #2649
For someone picking this up: it might be useful to reuse the generate image methods from #2626

[2019-03-18 23:50] #2179 closed

[2019-03-18 23:59] #2212 closed

[2019-03-19 03:02] nicolas-raoul opened #2657 ""Nominate for deletion" shows wrong reasons in "Uploaded via mobile""
In the new "Uploaded via mobile" tab of "Explore", I have found an off-topic picture, and as the "Nominate for deletion" button was visible I tapped it. Here is what appeared:
![Screenshot_20190318-230646](https://user-images.githubusercontent.com/99590/54577078-bf08db80-4a3d-11e9-8f67-1b4de0484f89.png)
As you can see, 4 of the reasons start with "I" which is a mistake since the picture was not up

[2019-03-19 03:09] nicolas-raoul opened #2658 "In "Uploaded via mobile", hide media nominated for deletion"
In `Explore`'s `Uploaded via mobile` tab, I suggest not showing media that have been nominated for deletion, because:

- There is no way to tell that the picture has been nominated for deletion, so I nominate it, resulted in double nominations like this: https://commons.wikimedia.org/w/index.php?title=File:@Oleballinazz_14.jpg&action=history
- It makes the exploring experience less enjoyable.
- It

[2019-03-19 04:29] vanshikaarora commented on #2655
Hey I am working on this

[2019-03-19 04:45] vanshikaarora commented on #2657
Hey, I am working on this!

[2019-03-19 04:50] vanshikaarora commented on #2655
@domdomegg Do you mean removing their declaration in strings.xml.  Because on removing one of the listed string from strings.xml  `contributions_subtitle` . I found that it was used in some classes(like MainActivity for contributions_subtitle)

Have I misunderstood the Issue?

[2019-03-19 05:32] nicolas-raoul commented on #2657
Oh, actually I just got a better idea:
If the picture is not uploaded by me, it should not have a "nominate for deletion" button, but instead it should have a "Peer review" button that redirects to the Peer Review activity for that picture.
The Peer Review activity is not totally ready yet, but it should not change too much anymore so I suggest you create a feature branch and pull #2602 into it, a

[2019-03-19 06:03] nicolas-raoul opened #2659 "Tapping Android notification after deletion nomination does not do anything"
**Steps to reproduce:**

1. Upload a picture
2. Nominate it for deletion
3. An Android notification appears. Tap it.

Expected: Go to the nomination page in the browser, or to the picture's media details activity. I think.
Actual: Nothing happens.
![Screenshot_20190318-230806](https://user-images.githubusercontent.com/99590/54583600-0734f780-4a58-11e9-83ca-2729a7a32bd6.png)

[2019-03-19 06:09] nicolas-raoul opened #2660 "Android notification after deletion nomination unclearly worded, and not localized"
**Steps to reproduce:**

1. Upload a picture
2. Nominate it for deletion
3. An Android notification appears.

As seen below it says `Successfully nominated XYZ deletion`. Instead it should say `Successfully nominated "XYZ" for deletion` (note the `"` and `for`).

More importantly, all strings in this method should be localized:
https://github.com/commons-app/apps-android-commons/blob/57e685cf6cc5f

[2019-03-19 06:19] nicolas-raoul commented on #860
Working great in my tests.
A small difference I noticed is that files are now uploaded in parallel, rather than one after the other (not sure whether that is related to this PR or not).

[2019-03-19 06:43] nicolas-raoul opened #2661 "Bookmarked item does not disappear from map after being uploaded"
**Steps to reproduce:**

1. Change the [sandbox item](https://www.wikidata.org/wiki/Q4115189)'s geolocation to somewhere near you (or use FakeGPS or scroll to its current location and press "Search in this area).
2. Open the app, tap "Nearby"
3. Find the sandbox item
4. Bookmark it
5. Tap the + and upload a picture for it.
6. Kill the app
7. Open the app, tap "Nearby"

Expected: The item should ha

[2019-03-19 08:07] noahwalugembe commented on #2660
Hi @nicolas-raoul can i instead work on this i am done with #1107

[2019-03-19 08:12] nicolas-raoul opened #2663 "Wrong description language for Nearby upload"
**Steps to reproduce:**

1. Change the [sandbox item](https://www.wikidata.org/wiki/Q4115189)'s geolocation to somewhere near you (or use FakeGPS or scroll to its current location and press "Search in this area") and change its "instance of" to "embassy", remove its "image" if it has one.
2. Change your Android language to Hebrew (might work with other non-English languages)
2. Open the app, tap "

[2019-03-19 08:16] nicolas-raoul commented on #2660
@noahwalugembe OK it is yours :-)

[2019-03-19 08:24] nicolas-raoul opened #2664 "Do not suggest technical categories during categorization"
**Steps to reproduce:**

1. Upload a picture
2. During categorization, enter "moved" (let's say you the picture is about "The House That Moved")

Problem: Many technical categories show up, for instance the "Requested moves" categories in the screenshot below. Selecting such a category in the app would always be a mistake, so better not show them.

Preferably we should find a category search metho

[2019-03-19 08:33] noahwalugembe commented on #2660
Can you check out the pool trequest for  #1107 issue

Can you check out  pull request #2618 for issue  #1107

[2019-03-19 08:43] vanshikaarora commented on #2655
OK I'll do that :+1:

[2019-03-19 09:17] vanshikaarora commented on #2644
@domdomegg I have sent a PR for the first three tests here #2666
They pass all the tests, Can you please review them :)

[2019-03-19 09:35] vanshikaarora commented on #2655
warn: removing resource fr.free.nrw.commons.beta:string/login_failed_username without required default value.

@domdomegg I didn't find these declarations in the latest master. Are you working on a different version?

[2019-03-19 10:00] nicolas-raoul commented on #2659
I suggest than when tapping (after everything has finished successfully) just opens the nomination's webpage in the browser.

[2019-03-19 10:26] silkypriya commented on #2658
Hello @nicolas-raoul , I'd like to work on this issue.

[2019-03-19 10:49] misaochan commented on #545
Sorry I missed this. It sounds like a great idea, @maskaravivek ! :) We should hardcode a dummy campaign in the development branch to test the flow before we release it, though.

[2019-03-19 10:53] misaochan commented on #2002
Yes, I was running prodDebug on my successful API 19 test. Tagging @maskaravivek @ashishkumar468 for input.

[2019-03-19 10:59] misaochan commented on #2441
@nicolas-raoul Are you OK with "See the ongoing campaigns"? If you are, we can allow the student to proceed with this, I think it is very beginner-friendly. ;)

[2019-03-19 11:11] misaochan commented on #2649
Added beginner-friendly label, this would be great for a GSoC student.

[2019-03-19 11:19] misaochan commented on #2253
The latest mockup looks fantastic IMO! :)

[2019-03-19 11:44] neslihanturan commented on #2253
Isn't it @misaochan ! I am on it for testing now, thanks for fast responses @silkypriya

[2019-03-19 11:58] nicolas-raoul commented on #2658
@silkypriya OK good luck :-)

First compare the wikitext of a media that has a nomination and one that does not. You can find many of both at https://commons.wikimedia.org/wiki/User:Didym/Mobile_upload/2019_March_17-21

[2019-03-19 11:59] vanshikaarora commented on #2659
@nicolas-raoul I have create a Pull Request [here](https://github.com/commons-app/apps-android-commons/pull/2667) Kindly review :)

[2019-03-19 12:02] nicolas-raoul commented on #2441
OK! :-)

[2019-03-19 12:42] vanshikaarora commented on #2657
@nicolas-raoul I am suffering frequent crashes in the application after merging the PR.

Let's wait for the work completion. I'll pick this work whenever #2602 is merged with master

[2019-03-19 13:38] #97 closed

[2019-03-19 15:06] neslihanturan opened #2671 "Finalize some sleeping PRs"
**Summary:**

We have some pull requests which are nicely written in general but needs some more effort to be ready. Since their owners are not available to work on them anymore, instead of closing and deleting them, we should make them usable.

I think this tasks can be suitable for beginners. If you already gained a little familiarity with the app, you can take a look at:

#1712 #1784 and #2069

[2019-03-19 15:16] #2638 closed

[2019-03-19 15:45] sp2710 commented on #2609
@domdomegg Is this happening everytime? I am not able to reproduce this issue on Galaxy Nexus emulator on API 19.

[2019-03-19 15:53] sp2710 commented on #2671
@neslihanturan I would like to work on them.
Shall i start with #2069 ?

[2019-03-19 17:54] silkypriya commented on #2253
Thank you! @neslihanturan @misaochan

[2019-03-19 19:06] VitalyVPinchuk commented on #2671
Hello! Is it possible for me to try #1712 at the same time?

[2019-03-19 19:20] domdomegg commented on #2609
@sp2710 Yes, the padding is wrong every time. The button only jumps position if both notifications are present. Example without notifications:

![Screenshot_1553023201](https://user-images.githubusercontent.com/4953590/54635418-01510d80-4a7c-11e9-831f-4095cf0378c3.png)

I think #2675 might have fixed this, will review it soon and close this if so.

[2019-03-19 19:36] domdomegg commented on #2644
Might also want to add:

Test swiping all the way through, then clicking the finish button should result in the activity being destroyed.

[2019-03-19 19:43] #2609 closed

[2019-03-19 20:26] noahwalugembe commented on #2671
Am currently trying to close of an issue and i would like to try this #1784  as my next task.

[2019-03-19 21:01] neslihanturan commented on #2671
Thanks to all, please feel free to work as soon as you don't have another issue to work on. Seems like 3 issues are assigned

[2019-03-19 21:02] domdomegg commented on #2311
Reopening as not fully solved, still doesn't display all the details we could.

[2019-03-19 21:16] domdomegg commented on #2655
I think these are in master. e.g. `login_failed_username` is present in [values-af/strings.xml](https://github.com/commons-app/apps-android-commons/blob/master/app/src/main/res/values-af/strings.xml)

[2019-03-19 22:15] noahwalugembe commented on #2671
Is  #1784 assigned to me

[2019-03-20 04:24] nicolas-raoul opened #2677 "Level number in achievements position is a bit odd with 2 digits"
![adb-screenshot](https://user-images.githubusercontent.com/99590/54658887-ef6e7980-4b12-11e9-8e17-1b46dd0e3e5c.png)
Compare with how it looks two days ago:
https://github.com/commons-app/apps-android-commons/issues/2638#issue-421949706
I think it should be a bit more up, don't you think?
Strangely in the screenshot on the right here it looks OK: https://github.com/commons-app/apps-android-commons

[2019-03-20 04:35] nicolas-raoul commented on #2671
@noahwalugembe Yes OK good luck :-)

[2019-03-20 05:36] silkypriya commented on #2649
Hello @domdomegg @misaochan can i work on this issue ?

[2019-03-20 05:39] silkypriya commented on #2658
Thank you! @nicolas-raoul

[2019-03-20 06:55] maskaravivek commented on #2649
Sure take this up @silkypriya

[2019-03-20 07:34] vanshikaarora opened #2679 "Main Activity crashes when returning from Upload"
**Summary:**

Main Activity crashes while returning back from Upload(if no image is selected) or returning from settings(while enabling location)

**Steps to reproduce:**

- From Main Activity select Fab Icon and Upload via gallery
- Press back from Image Picker

Main Activity will crash in the onActivityResult() method.

**Device and Android version:**
Vivo 1713 API Level 24

**Commons app versio

[2019-03-20 08:32] #2659 closed

[2019-03-20 08:41] #2648 closed

[2019-03-20 09:11] vanshikaarora commented on #2311
Sorry for not seeing this before. I just checked issue with failed images is here (probably incorrect parsing of API response)

[code]

Since the previous PR is already merged shall I work on a different PR for this?

[2019-03-20 09:59] misaochan commented on #2649
Go for it! :)

[2019-03-20 10:42] oluwadara-abijo commented on #2652
Hi @neslihanturan
I could not reproduce the issue

[2019-03-20 10:46] nicolas-raoul commented on #75
My understanding is that we still need to find either:
- A Wikimedia-hosted API that provides image classification (We can not use third party API like Azure directly for privacy reasons. Calling a third-party API from a Wikimedia server would be OK as long as it does not cost money)
- An embeddable image classification JAR which is small (at most a few megabytes) and open source.

The API or libr

[2019-03-20 10:46] neslihanturan commented on #2652
This issue is taken from user reports, I also didn't experience this issue. @nicolas-raoul did. Maybe it can be good to ping him to get some help to reproduce.

[2019-03-20 10:52] oluwadara-abijo commented on #2652
Alright then.
@nicolas-raoul can you help here?

[2019-03-20 10:53] ashishkumar468 commented on #2652
@oluwadara-abijo The issue might not reproduce on your device, but is a simple case of NPE, ie. if the bookmark object itself is null, for example in MediaDetailPagerFragment where it is initialised separately and say the method findBookmark() is called before it is initialised. IMO having a look in the function could help you fix the bug

[2019-03-20 11:01] nicolas-raoul commented on #2652
I can't add more details than what my bug report already says, but if it happens again I will let you know.
As Ashish says, reading the stack trace and source code is the best way to find the problem :-)

[2019-03-20 11:03] madhurgupta10 commented on #75
@nicolas-raoul I agree that using third party API such as Azure will be a concern for privacy. There is an alternative to it https://wadehuang36.github.io/2017/07/20/offline-image-classifier-on-android.html

[2019-03-20 11:12] #2599 closed

[2019-03-20 11:31] neslihanturan commented on #2311
Please open another PR @vanshikaarora :)

[2019-03-20 12:38] silkypriya commented on #2658
Hello @nicolas-raoul

Compared the wikitext of images that are nominated with the ones which are not.
Getting no such difference which can be used to differentiate between the two.

For example-
This is wikitext of image which has not been nominated for deletion
[[File:MobileTest 2676.jpg|thumb|<div class="boilerplate metadata" id="cleanup" style="text-align: center; background: #ffe; margin: .75e

[2019-03-20 12:50] nicolas-raoul commented on #2658
Here is the wikitext you need:
https://commons.wikimedia.org/w/index.php?title=File:@Oleballinazz_12.jpg&action=edit (I am sure there is an API operation to get that)
If it contains `{{delete` then it means the file is nominated for deletion.

[2019-03-20 13:59] vanshikaarora commented on #2655
@domdomegg I have raised a PR for this [here](https://github.com/commons-app/apps-android-commons/pull/2684). Kindly review :)

[2019-03-20 16:00] vanshikaarora commented on #2677
I feel it's not exactly centred with the badge in the background.

Since after #2665 we have textview above the badge icon. I think we can centre it accordingly above the badge icon

[2019-03-20 16:54] Bahaaib commented on #2534
@domdomegg Yes, No problem. Sorry for the disappointment!

[2019-03-20 19:33] madhurgupta10 commented on #2432
@neslihanturan I want to work on this issue if no one is working on the same :)

[2019-03-20 21:45] madhurgupta10 opened #2686 "Write Unit Test for Login Activity"
**Summary:**
Write Unit Test for Login Activity

**Would you like to work on the issue?**
Yes

[2019-03-20 22:07] domdomegg commented on #2686
Please write the new test in Kotlin if possible - I know it's a mix but it should be standardised soon :)

[2019-03-20 22:08] madhurgupta10 commented on #2686
@domdomegg please check #2687 I tried to write it with kotlin :)

[2019-03-20 22:10] domdomegg opened #2688 "NavigationBaseActivityTest.doubleNavigateToExploreThenReturnHome is flaky"
**Summary:**

See https://github.com/android/android-test/issues/262

I'm not completely sure but I think this is an issue in `androidx.test.espresso.contrib`. It might be worthwhile seeing if it can be replicated in a very basic app that doesn't have any complications with many activities and lots of network requests to help either us debug this or help the android devs fix it. Also, android-test

[2019-03-20 22:11] madhurgupta10 opened #2690 "Refactor LoginActivity code for better readability"
**Summary:**
Refactor LoginActivity code for better readability, for example, this can be replaced with a switch statement.
[code]
also there are many elements which still uses `setOnClickListener` instead of `@OnClick` these are small changes but it will surely make the code more maintainable and readable :)

**Commons app version:**
latest betaDebug

**Would you like to work on the issue?**
Yes

[2019-03-20 23:10] #2686 closed

[2019-03-21 02:52] zhao-gang commented on #2677
@nicolas-raoul @vanshikaarora I think the reason is that I used hard coded dp in layout file:
https://github.com/commons-app/apps-android-commons/blob/0612519e1cb2f091cac3a2c1c1b7b6b960ddab94/app/src/main/res/layout/activity_achievements.xml#L71-L81

The TextView is horizontally centered with `android:layout_alignParentLeft="true" android:layout_alignParentRight="true"`, but I can't find a way to

[2019-03-21 04:18] vanshikaarora commented on #2677
@zhao-gang I can take this up :+1:

[2019-03-21 06:29] sivaraam opened #2691 "Achievements page takes a long time to load"
**Summary:**
The achievements page seems to be taking ~30 seconds for me to load in some cases. Not sure why it is taking a lot of time to load despite the network being fast/reliable.

**Steps to reproduce:**
1. Open the app
2. Open the sidebar
3. Tap on the trophy icon to open the achievements page.

**Device and Android version:**
Samsung SM-J111F (Android 5.1.1)

**Commons app version:**
2.10.

[2019-03-21 06:38] nicolas-raoul opened #2692 "Potential problems with this image : No problem"
When uploading a picture, I got this screen:
![Screenshot_20190320-141512](https://user-images.githubusercontent.com/99590/54736534-e4891700-4bee-11e9-8937-a01c116a983e.png)
Usually a reason (examples: picture too dark, picture downloaded from Facebook, etc) is displayed, but the problem here is that zero reason is listed.
I pressed "Yes" and the picture got uploaded successfully to https://common

[2019-03-21 06:40] nicolas-raoul commented on #2692
For reference, here is an example of how reasons should be listed:
![Screenshot_20190320-144743](https://user-images.githubusercontent.com/99590/54736681-a3ddcd80-4bef-11e9-9e5b-28d089f7f1a9.png)

[2019-03-21 06:43] nicolas-raoul opened #2693 "Image not displayed at upload step 1, maybe because of slow internet"
**Steps to reproduce:**
1. Start image upload with slow internet connection
2. At step 1, nothing is displayed:
![Screenshot_20190320-145428](https://user-images.githubusercontent.com/99590/54736734-eb645980-4bef-11e9-94fa-1db8431df44e.png)

[2019-03-21 06:56] nicolas-raoul commented on #2663
Another example:
`description` should not be set to `en`, it should be sent to `ja` because the description is in Japanese.
![Screenshot_20190321-114650](https://user-images.githubusercontent.com/99590/54737136-ce308a80-4bf1-11e9-8b70-5e9258a5cfd1.png)

[2019-03-21 08:42] vanshikaarora commented on #2691
Hey @sivaraam I can see the progressbar in achievements activity. Are you working on latest master?

[2019-03-21 08:44] neslihanturan commented on #2691
Possibly related #1816 or #2603

[2019-03-21 09:16] neslihanturan commented on #2432
Seems like @sp2710 already requested to work on this issue @madhurgupta10 :)

[2019-03-21 09:57] neslihanturan opened #2696 "Crash on uplod failure"
**Summary:**
I can consistently reproduce a crash on current master by making the upload fail intentionally. You can disconnect yourself during the upload to reproduce, upload will fail as expected and app crashes (this one is unexpected). Here are whole logs I could collect on verbose mode.

Tested on API 26 emulator with current master.
[code]

[2019-03-21 10:31] vanshikaarora commented on #2692
Hey, I am working on this Issue

[2019-03-21 10:54] vanshikaarora commented on #2692
Hey @nicolas-raoul I think that you have uploaded an image that was downloaded from internet. And the error dialog poped up due to the merge of #2581. However I think slight change was needed in ImageUtils.java. I have made the changes [here](https://github.com/commons-app/apps-android-commons/pull/2697). Kindly review :)

[2019-03-21 12:05] #2253 closed

[2019-03-21 12:18] neslihanturan opened #2698 "Improve peer review feature quality"
**Summary:**

After #2602 is merged #2253 is completed. Now some quality issues from hackathon still needs to be fixed.

- [ ] Code style issues @maskaravivek
- [x] Move from XML to JSON @maskaravivek
- [ ] It scrolls, I would prefer static/ support different screen sizes
- [x] Images moves on swipe, just questions should move instead @vanshikaarora
- [ ] A beta alert should be added somewhere
- [

[2019-03-21 12:34] vanshikaarora commented on #2307
Hey, If no-one is working on this Issue or shall I take this up?

[2019-03-21 12:37] vanshikaarora commented on #2698
Hey @neslihanturan I would like to work on this Issue

[2019-03-21 12:39] neslihanturan commented on #2698
Hi @vanshikaarora , thanks for your interest. Do you have other tasks on you? If so I would recommend finish them first. Otherwise, would you like to write unit tests for this task?

[2019-03-21 12:40] vanshikaarora commented on #2698
@neslihanturan I have some PR's up for review until then I can work on this.

[2019-03-21 12:42] neslihanturan commented on #2698
Sure, then I assign "Write unit tests with kotlin" to you? Does it sound good?

[2019-03-21 12:46] vanshikaarora commented on #2698
Yes I will. It would be good if you can tell me specifically about some of the tests that we need to check :)

[2019-03-21 12:52] neslihanturan commented on #2698
Following this conversation can be helpful -> #2253 . We have whole workflow there, can help you to understand what we expect from the peer review activity.

[2019-03-21 13:01] vanshikaarora commented on #2698
Currently I see three test cases:
1. Answering the questions(clicking on the bottom button) should take us to next view pager
2. On answering the last question view pager should come to first and load the next image
3.On pressing next reload image and return to the first element of viewpager

@neslihanturan Can you add more to the list :)

[2019-03-21 13:14] neslihanturan commented on #2698
- All of the requests and their answers from server.
- Test for  the randomizer query

I just recognized, actually tests can be complex for this feature. Even though  with your previous contributions you have proven that you can handle it, still you can always pick another thing from the list, I can pick the tests too. What about
- Images moves on swipe, just questions should move instead
or
- Ref

[2019-03-21 13:17] vanshikaarora commented on #2698
@neslihanturan since I think that's fair enough. Since for writing test cases it will take me time to be familiar with the changes in the code.

I'll start with the other two tasks :+1:

[2019-03-21 13:21] neslihanturan commented on #2698
Great:) Do you need more explanation with your 2 tasks?

[2019-03-21 16:07] maskaravivek commented on #2698
@neslihanturan To add to the list, the recent changes API can be moved to JSON. As of now, we are fetching an XML response. I would like to pick this up.

[2019-03-21 16:08] maskaravivek commented on #2698
Also, theres a lot of commented out code in various places. Am removing it.

[2019-03-21 16:09] #2696 closed

[2019-03-21 16:11] neslihanturan commented on #2698
Thanks @maskaravivek ! I am assigning you for code style in general and moving to JSON.

[2019-03-21 17:20] sivaraam commented on #2691
Nope. As I state in the description, I use the version 2.10.2 of the app which has just recently been release as a stable one.

Anyways, I found why I don't see the progress indicator. It shows when enable animations in the developer settings of my device and doesn't show up when I disable them.

The progress indicators in various places of the app don't seem to be visible when the animations are

[2019-03-21 18:47] #2655 closed

[2019-03-21 19:22] #2677 closed

[2019-03-22 02:30] nicolas-raoul opened #2703 "Deletion nomination sent to my own page, instead of the uploader's page"
**Steps to reproduce:**

1. Go to Explore
2. Go to the Mobile uploads tab
3. Find a picture that you want nominate for deletion
4. Push the button to nominate it for deletion

Expected: Among other things, a message is sent to the uploader
Actually: That message is sent to my own talk page. Example: https://commons.wikimedia.org/wiki/User_talk:Syced#File:@Oleballinazz_14.jpg and nothing sent by my

[2019-03-22 03:12] nicolas-raoul opened #2704 "Picture thought to be downloaded from the Internet even though it is not"
**Steps to reproduce:**

1. Install this app: https://play.google.com/store/apps/details?id=btfactor.realhdrcamera
2. Take a picture with it
3. Try to upload it
4. The warning about pictures downloaded from the Internet pops up

Example picture: https://commons.wikimedia.org/wiki/File:Omotesando_station_exit_2_at_night.jpg

**To do**
1. Try to reproduce the issue
2. Find out whether fixing it is p

[2019-03-22 04:41] nicolas-raoul commented on #2307
@Tanvi-Goyal That's an idea we can keep in mind, but I feel that near the username makes the user really feel that their achievements are associated to them. Did you get a chance to start caching the level or anything towards completing this issue? If yes please commit and push, even if it is not complete, thanks :-)

[2019-03-22 05:12] nicolas-raoul opened #2705 "Achievements: Show image usages, rather than images used"
One of the goal of the Achievements activity is to show the user that their uploads are being useful.

Let's say a user has uploaded a very good picture of the Everest, and this picture is now used in the Wikipedias in English, Vietnamese, and 98 other languages.
Currently, the user would see `Images Used: 1`
Instead, we should show `Images Usages: 100`

Maybe it takes more time to compute.
Both c

[2019-03-22 05:32] maskaravivek commented on #2704
This issue would require some investigation and also a fair understanding of EXIF and IPTC.

Am not sure if this is really a beginner friendly issue.

[2019-03-22 06:05] nicolas-raoul commented on #2704
@maskaravivek  To me, "beginner-friendly" means that the issue does not require deep knowledge of our project. The present task is doable without even looking at the source code of our app, so that's why I tagged it, even though I agree that it requires technical skills (using an hexadecimal editor and looking up documentation).

[2019-03-22 10:02] JobGetabu commented on #2693
I would like to be assigned to this issue ?

[2019-03-22 12:37] ashishkumar468 commented on #2652
As @oluwadara-abijo was away and the fix was really small, I have raised a PR for the same (so that it could go in 2.10 hotfix release).

[2019-03-22 13:37] vanshikaarora commented on #2698
@neslihanturan As part of one of my work I am supposed to replace the classes SendThankTask.java and CheckCategoryTask.java to their corresponding RxJava implementation. Right?

[2019-03-22 14:18] sp2710 commented on #2525
@nicolas-raoul does this mean we should remove Title field from media details and add Captions instead of it?

[2019-03-22 15:16] sp2710 commented on #2432
@madhurgupta10
You can pick this up. Currently i don't have any approach in my mind so it would be great if you have one.
Can you describe your approach here before implementing it.

[2019-03-22 16:07] vanshikaarora commented on #2698
Images moves on swipe, just questions should move instead

@neslihanturan I have solved the above two issues in #2707 and #2709. Kindly review and share your feedbacks :)

[2019-03-22 16:35] ashishkumar468 opened #2710 "App crashes while searching images"
**Summary:**
Because of null query(MwQueryResult) or null mwQueryResponse, the app crashes when accessing member variables of these references

**System logs:**

[code]

**Device and Android version:**

What make and model device (e.g., Samsung J7) did you encounter this on?
ANDROID_VERSION=4.1.2
APP_VERSION_NAME=2.10.2
BRAND=samsung
PHONE_MODEL=SPH-D710
CUSTOM_DATA=
**Commons app version:**
2.10.

[2019-03-22 16:35] ashishkumar468 opened #2711 "App crashes while searching images"
**Summary:**
Because of null query(MwQueryResult) or null mwQueryResponse, the app crashes when accessing member variables of these references

**System logs:**

[code]

**Device and Android version:**

What make and model device (e.g., Samsung J7) did you encounter this on?
ANDROID_VERSION=4.1.2
APP_VERSION_NAME=2.10.2
BRAND=samsung
PHONE_MODEL=SPH-D710
CUSTOM_DATA=
**Commons app version:**
2.10.

[2019-03-22 16:36] maskaravivek commented on #2710
If one of the `null` values inside the response was causing the crash, #2708 fixes it.

[2019-03-22 16:43] ashishkumar468 commented on #2710
Duplicate of #2711. Created accidentally, closing this one

[2019-03-22 16:43] #2710 closed

[2019-03-22 17:24] jashpreet commented on #2296
Hey , Can i work on this issue ?

[2019-03-22 18:01] vanshikaarora commented on #2698
Hey @neslihanturan can you assign me more tasks from this list?

[2019-03-22 20:43] higimo opened #2716 "Login do not working"
My login is higimo.

[2019-03-22 21:27] noahwalugembe commented on #2704
Yes the image contain EXIF DATA blow
{
Camera make : UMIDIGICamera
model : A3Date/Time :2019/03/23 00:20:42
Resolution : 2592 x 4608
Flash used : NoFocal
length : 3.5mmExposure
time : 0.030 s (1/33)Aperture : f/2.0ISO
equiv. : 283Whitebalance : AutoMetering
Mode : center weight

}
![Ultimate_HDR_Camera_Original_20190323_002035](https://user-images.githubusercontent.com/27782388/54854000-7c2b5a00-4

[2019-03-22 21:51] noahwalugembe opened #2717 "“Dumping memory, app will freeze. Brrr.” message"
Getting
{“Dumping memory, app will freeze. Brrr.” message}after uploading  a picture.
Is this something that i can also work on?

![Screenshot_20190322-225712](https://user-images.githubusercontent.com/27782388/54854970-a7fc0f00-4d05-11e9-9873-5a68f0167de1.png)
![Screenshot_20190322-225739](https://user-images.githubusercontent.com/27782388/54854978-ae8a8680-4d05-11e9-9669-c830e6832931.png)

[2019-03-22 22:10] oluwadara-abijo commented on #2652
Okay then.

[2019-03-23 03:34] Lyndaar commented on #2074
Hi, so i was supposed to contribute to the application by building the leaderboard activity, i have gotten the fact that it would have to be a tab on the achievement activity.
but i wanted to ask if there is a UI for this. kinda a ui representation and secondly i am finding it hard to locate the api path for leaderboard{i.e what it is fetching or its results, i need help with the exact api path to

[2019-03-23 04:47] vanshikaarora commented on #2704
@nicolas-raoul I couldn't reproduce the Issue. Have you made any specific changes to  the image taken through that App.

Also I have verified the response for EXIF:

### Taken from "Ultimate HDR Camera" App
- JPEG Directory
- EXIF IFDO Directory
- EXIF SubIFD Directory
- Interoperability Directory
- EXIF Thumbnail Directory
- Huffman Directory
- File Type Directory
- File Directory

### Taken from

[2019-03-23 06:04] maskaravivek commented on #2716
@higimo Can you share logs from your device.

[2019-03-23 06:23] ashishkumar468 opened #2718 "Crashes while setting null auth cookies"
**Summary:**
App crashes while setting null auth cookies in CustomMwApi
**System logs:**

[code]

**Device and Android version:**

What make and model device (e.g., Samsung J7) did you encounter this on?
ANDROID_VERSION=8.1.0
APP_VERSION_NAME=2.10.2
BRAND=vivo
PHONE_MODEL=vivo 1718

**Commons app version:**
APP_VERSION_NAME=2.10.2

**Would you like to work on the issue?**
Yes

[2019-03-23 06:50] ashishkumar468 opened #2720 "RuntimeException while uploading image if the license if invalid"
**Summary:**
While uploading a media, if the license is somehow invalid we throw a RuntimeException and as it is not handled, the app crashes

**Steps to reproduce:**

How can we reproduce the issue?
Provide invalid license while uploading image.

**System logs:**

[code]

**Device and Android version:**

WUSER_COMMENT=
ANDROID_VERSION=7.0
BRAND=motorola
PHONE_MODEL=Moto G (4)
**Commons app versio

[2019-03-23 08:39] david-oh-git commented on #2534
someone has fixed this already

[2019-03-23 10:43] sp2710 commented on #2693
@nicolas-raoul IMO we should add progress bar to it untill image gets loaded.

[2019-03-23 10:47] vanshikaarora commented on #2698
Not showing the categories peer review screen for the images having zero categories.

Hey @neslihanturan Shall I pickup these two?

[2019-03-23 10:50] vanshikaarora commented on #2698
Not showing the categories peer review screen for the images having zero categories.

Hey @neslihanturan I can pick these two task.

[2019-03-23 12:36] #2534 closed

[2019-03-23 13:17] madhurgupta10 commented on #2432
@sp2710 We can implement swipe gesture to mark the notifications as unread.

[2019-03-23 13:27] #2644 closed

[2019-03-23 13:40] madhurgupta10 opened #2724 "Complete the NavigationBaseActivityTest"
**Summary:**
Complete the NavigationBaseActivityTest.

**Would you like to work on the issue?**
Yes

[2019-03-23 14:19] sp2710 commented on #2432
@madhurgupta10 I am not talking about that. Please see the conversation at https://github.com/commons-app/apps-android-commons/issues/2408#issuecomment-460899358

[2019-03-23 14:23] domdomegg commented on #2679
Reproduced on `2.10.1-debug-master~052d09e08`

[2019-03-23 14:28] madhurgupta10 commented on #2432
@sp2710 I see, as there is no API for unread notification, it will be very difficult to make then unread.

[2019-03-23 14:42] #2679 closed

[2019-03-23 15:21] #2692 closed

[2019-03-23 16:28] silkypriya commented on #2649
Created PR #2727 for this.
Kindly review. Thank you!

[2019-03-23 16:57] domdomegg commented on #2717
This is caused by LeakCanary - maybe it's signs of a memory leak you could investigate? It could also be a false positive.

LeakCanary should only be installed with the debug build variants, so this does not happen on the main app.

[2019-03-23 16:59] domdomegg commented on #2718
Closed in #2719

[2019-03-23 16:59] #2718 closed

[2019-03-23 17:00] domdomegg commented on #2711
Closed in #2712

[2019-03-23 17:00] #2711 closed

[2019-03-23 17:18] domdomegg commented on #2061
There have been no further instances of this error so am closing.

[2019-03-23 17:18] #2061 closed

[2019-03-23 18:31] noahwalugembe commented on #2717
Thanks am going to investigate about it.

[2019-03-23 18:41] maskaravivek opened #2729 "Make explore load faster"
**Summary:**

There's scope for improvement for loading images in Explore activity.

- instead of fetching all metadata associated with the image, we should fetch only what we use.
- use JSON API instead of XML so that Gson can be used for parsing the response. As of now, the response is parsed inefficiently in `CategoryUtils`.

**Would you like to work on the issue?**

Yes

[2019-03-23 18:49] maskaravivek opened #2730 "Fix fetching of media details in bookmarks"
**Summary:**

`BookmarkPicturesController:loadBookmarkedPictures` inefficiently fetches the media information by searching on the file name. Instead, it should simply use
`OkHttpJsonApiClient:getMedia` to get media information based on file name.

The backend query for search would be more expensive than querying by the exact filename.

[2019-03-23 18:54] ashishkumar468 commented on #2730
I can take this up:-)

[2019-03-23 21:35] domdomegg commented on #2226
Update: turning this issue into running the tests in Travis. Pinging @maskaravivek cause you're super knowledgeable about Travis + testing!

Also had a thought, need to be careful when running PRs that Travis shouldn't reveal login details e.g. if malicious PR submitted which tried to print the login details.

[2019-03-24 04:31] vanshikaarora commented on #2698
Hey @domdomegg I was working on some other Issue's enlisted here. If those issues still need to be fixed can you please reopen this Issue :)

[2019-03-24 05:34] maskaravivek commented on #2226
Travis allows us to set encrypted environment variables which are not available to Pull requests. These values are available only to the original repo's branches. The only nuance would be that the reviewer will have to run the tests locally to verify if the PR works.

@domdomegg  As you pointed out in #2700, we should use mock values for our tests whenever possible. That way we can test the app is

[2019-03-24 09:59] domdomegg commented on #2226
Also maybe we could have some way of running the automated tests which don't require login on Travis PR builds - I think the more tests we can run automatically on PRs the better as less likely to break master.

[2019-03-24 12:44] MarcoAurelioWM opened #2735 "i18n: internet_downloaded: typos"
https://github.com/commons-app/apps-android-commons/blob/cbab7dd303ab98a150f4074c5e2272dd5a01b6d1/app/src/main/res/values/strings.xml#L252

We need a space after the dot, plus Internet is a proper name so it should be Internet instead of 'internet'. I'll make a PR shortly.

[2019-03-24 15:53] ashishkumar468 opened #2737 "App crashed with NPE in UploadPresenter due to null object returned by Proxy InvocationHandler"
**Summary:**
NullPointerException in UploadPresenter due to null object returned by Proxy InvocationHandler

**System logs:**

[code]

**Device and Android version:**
ANDROID_VERSION=8.1.0
BRAND=UMIDIGI
PHONE_MODEL=A3
CUSTOM_DATA=
STACK_TRACE=

**Commons app version:**

APP_VERSION_NAME=2.10.1-debug-reuploadimg

**Would you like to work on the issue?**
Yes

[2019-03-24 16:46] vanshikaarora opened #2739 "Adding a search fragment to search other users by name"
**Summary:**

#2074 introduces the idea of having Leader-board in Achievements Activity. Also along with this we can add a Search Fragment to search user by username.

This username can be used to fetch all the contributions made by a particular user.

**Would you like to work on the issue?**

Yes, but this requires specific API's which are not available currently. Once the API'S are made availabl

[2019-03-24 16:54] vanshikaarora opened #2740 "Progressbar Overlaps images in Explore"
**Summary:**
In explore activity Progressbar overlaps the images.  It should be displayed at the bottom when scrolling down the images

**Steps to reproduce:**
- Go to explore
- Scroll down to the bottom

**Screen-shots:**

![WhatsApp Image 2019-03-24 at 10 19 21 PM](https://user-images.githubusercontent.com/34261945/54882727-10242f80-4e83-11e9-90f5-2271dddacc16.jpeg)

**Would you like to work on

[2019-03-25 05:15] maskaravivek commented on #2226
Are Travis logs visible to all users or is it visible to only members/collaborators? If it is not visible to all users then it should be fine to use non-encrypted environment variables that are available for all builds.

[2019-03-25 05:58] nicolas-raoul opened #2743 "Review: Notifications seem to be about picture I have not reviewed yet"
I just tried the review feature for the first time today. I reviewed the picture of a 2016 senator, all perfect, great picture with relevant categories, so I tapped "seems fine" at each step.

After sending the thank, two notification appeared. Problem: They seem to be about the next picture (Pedro Americo drawing).

Other apparent problem: "Requesting category check" appears despite me tapping to

[2019-03-25 07:07] nicolas-raoul commented on #2525
Yes, if a caption is available in the user's language, it should be shown, and the title not shown.

_(for those wondering: the title can still be obtained if needed via the "copy wikitext" button)_

[2019-03-25 07:10] nicolas-raoul commented on #2296
@lcartel Are you still working on this? Have you made any progress? :-)

[2019-03-25 07:13] nicolas-raoul commented on #2074
@Lyndaar There is no API yet, actually designing and implementing the API is part of the project :-)

[2019-03-25 07:21] nicolas-raoul commented on #2704
Thanks @noahwalugembe and @vanshikaarora for checking!
https://commons.wikimedia.org/wiki/File:Omotesando_station_exit_2_at_night.jpg is the exact image for which that happened. I will try again and let you know :-)

[2019-03-25 07:27] sp2710 commented on #2525
In that case some minor changes in #2662 will be enough to solve the issue.

[2019-03-25 07:36] nicolas-raoul opened #2744 "Review: No thanks given despite "Sending Thanks: Success""
As part of the review I performed, I chose to thank the uploader (why not?), and a notification tells me that it worked:
![Screenshot_20190325-145038](https://user-images.githubusercontent.com/99590/54898184-95085b00-4f0e-11e9-8508-f8dfc93ab14f.png)
But when I look at https://www.mediawiki.org/wiki/Special:Log/thanks I do not see my thank (it was two hours ago):
![Screenshot from 2019-03-25 16-35-

[2019-03-25 07:37] lcartel commented on #2296
I stoped working on this, I didn’t find the time to finish it. You can reasign the task if you want.

[2019-03-25 07:50] #2735 closed

[2019-03-25 07:58] nicolas-raoul commented on #2296
@lcartel Understood! If you have made some modifications do not hesitate to push them to a remote branch :-)

@jashpreet It is yours! :-) Please let us know about your progress from time to time.

[2019-03-25 08:04] JobGetabu commented on #2441
I would like be to this assigned @nicolas-raoul

[2019-03-25 08:12] nicolas-raoul commented on #2441
@JobGetabu It is yours, looking forward to your pull request :-)

[2019-03-25 08:17] vanshikaarora commented on #2744
Hey, @nicolas-raoul I am working on this

[2019-03-25 08:27] noahwalugembe commented on #2717
Hi @albendz  I have so far come across this to leak suspects

![image](https://user-images.githubusercontent.com/27782388/54904963-dee24880-4ef0-11e9-942a-a9078c32cd4b.png)

![image](https://user-images.githubusercontent.com/27782388/54904978-e9044700-4ef0-11e9-9ffc-80ec7dee7022.png)

[2019-03-25 08:31] misaochan commented on #874
@Aschroet This should have been fixed in 2.10. Please do let us know if you are still encountering problems.

[2019-03-25 08:31] #874 closed

[2019-03-25 08:35] vanshikaarora commented on #2743
Hey, @nicolas-raoul I am working on this issue.

[2019-03-25 09:32] JobGetabu commented on #2441
[Pull request](https://github.com/commons-app/apps-android-commons/pull/2745)

[2019-03-25 09:45] vanshikaarora opened #2747 "Clicking on Sending thanks should take to thank logs"
**Summary:**

**Expected**
After "Send Thanks" notification is completed clicking on notification should take us to "Thanks Log" for the image.

**Observed**
Currently it opens Home page of the Application

**Would you like to work on the issue?**

Yes

[2019-03-25 09:54] #2441 closed

[2019-03-25 09:56] nicolas-raoul commented on #2441
Thanks!
Would you mind doing the same for "Display nearby notification" by the way?

[2019-03-25 10:03] nicolas-raoul commented on #2747
Sounds like a reasonable idea.

[2019-03-25 11:16] JobGetabu commented on #2441
No, I don't mind.
I'll fix that and pick up another issue
Thanks

On Mon, Mar 25, 2019, 12:56 PM Nicolas Raoul <notifications@github.com>
wrote:

[2019-03-25 11:23] nicolas-raoul opened #2748 "More attractive Google Play feature graphic"
I think we need a new _feature graphic_ for the app, that makes more people want to use the app.
Please post your suggestions or drafts or ideas below, but first be sure to read all of the requirements and guidelines at https://developer.android.com/distribute/best-practices/launch/feature-graphic
Also, be sure to only use non-copyrighted (public domain) picture and graphic elements.
For each sugg

[2019-03-25 12:07] vanshikaarora commented on #2747
Hey @nicolas-raoul I just checked there is no API showing thanks log. Do we have a webpage to display thanks received we can display that Url in a webview.

[2019-03-25 12:14] neslihanturan commented on #1450
Here is my proposed design for this filtering feature:
![mapFilterDesign](https://user-images.githubusercontent.com/3127881/54918390-2d9edb00-4f0f-11e9-994b-bb1cf655cb3e.png)

Actually I am quite happy with how design evolved. Here are my decision parameters:
- Since they were one of the suggested element in material design guidelines for filtering, I decided to use chips. The other alternative is

[2019-03-25 12:17] vanshikaarora commented on #2698
Hey @neslihanturan I have solved the above Issue [here](https://github.com/commons-app/apps-android-commons/pull/2728). Kindly review :)

[2019-03-25 13:39] VojtechDostal commented on #1450
Hello Neslihan, it looks great from a UX perspective. I am worried that it's not customizable enough, though. Will it be possible to filter custom classes of objects? For example, Czech Republic has all streets imported and I'd like to filter them out. It could be the same for eg. buddhist temples in Nepal. Is it possible to enter any type of class or will your tool be limited to only 40 options?

[2019-03-25 14:02] misaochan commented on #1450
Hi @neslihanturan , thanks for the mockup!
- I love the "search" field for place type, good thinking. :) If user discovery is a concern, maybe have a "search" icon next to the field?
- Love the chips for place state.
- I think checkboxes would suit place type better than chips. The reason is that people should be able to filter for more than one at a time. For instance, someone might want "everyth

[2019-03-25 14:09] VojtechDostal commented on #1450
Hmm, that's of little use to our community but I understand your reasons.

I originally envisioned an input box somewhere in settings which would permanently alter search results for the user for all his/her queries (unless they decide to change the settings). It could have worked like  Petscan which I mentioned in June last year (see above).

[2019-03-25 14:17] misaochan commented on #1450
@VojtechDostal I revised my comment after looking through the code just now, I think it might be doable.

My suggestion for this: If the user types something in the search field that isn't one of our preset options (say, "street", although from the looks of Nicolas's stats.txt, that should be high enough in the hierarchy to make it to preset)... instead of displaying Neslihan's list, it would inst

[2019-03-25 14:23] neslihanturan commented on #1450
@misaochan agreed about checkboxes, I will search for the best way of displaying checked options on search row. Because I wouldn't prefer to expand the check list and review what I clicked there. Instead I would prefer to see what I included when check list is collapsed. On the other hand, we can not fit 40 element to one row if all of them are checked.

@VojtechDostal thanks for pointing out "exc

[2019-03-25 14:35] maskaravivek opened #2749 "Replace usage of direct calls to web view and map"
**Summary:**

Some places in the app still open the webview directly or open the map directly. We already have util functions to serve both purposes. All calls should be made to these functions instead of calling directly.

Having a single function handle the logic will make it easier to change it in the future.

[2019-03-25 15:20] nicolas-raoul commented on #2747
I suggest displaying the page that shows everyone's recent thanks. That's
all we have.

On Mon, Mar 25, 2019, 21:07 Vanshika Arora <notifications@github.com> wrote:

[2019-03-25 16:14] higimo commented on #2716
@maskaravivek how can i get log from my device?

[2019-03-25 16:14] higimo commented on #2716
@maskaravivek how can i get log from my device?

[2019-03-25 16:25] vanshikaarora commented on #2747
https://en.wikipedia.org/wiki/Special:Log/thanks
@nicolas-raoul Is this the correct link for Recent Thanks?

[2019-03-25 20:37] sashrikakaur commented on #2255
@vanshikaarora Do you mind if I work on this issue?

[2019-03-25 21:53] Lyndaar commented on #2074
Okay,  so how do we get to implement the leaderboard for the android dev,
because from what I can see, we would have to just build the interface for
where the leaderboard would be seen, till there is a leaderboard Api path,
that can be consumed to that part of the interface.

I stand corrected though.

On Mon, Mar 25, 2019, 08:14 Nicolas Raoul <notifications@github.com wrote:

[2019-03-25 23:30] domdomegg commented on #2226
Travis logs are publicly visible. Also I was thinking more about this and also thought that being really clever someone could submit a PR which has an app which collects the login details, e.g. by changing the login API urls and setting up a sever there.

[2019-03-26 06:23] noahwalugembe commented on #2717
In fr.free.nrw.commons.beta:2.10.1-debug-deletion_nomination:226.
* android.arch.lifecycle.ReportFragment has leaked:
* AssistStructure$SendChannel.!(mAssistStructure)!
* ↳ AssistStructure.!(mWindowNodes)!
* ↳ ArrayList.!(elementData)!
* ↳ array Object[].!([0])!
* ↳ AssistStructure$WindowNode.!(mRoot)!
* ↳ AssistStructure$ViewNode.!(mChildren)!
* ↳ array AssistStructure$ViewNode[].!([0])!
* ↳ Assi

[2019-03-26 06:27] noahwalugembe commented on #2717
I have got this upload activity leak

In fr.free.nrw.commons.beta:2.10.1-debug-deletion_nomination:226.
* fr.free.nrw.commons.upload.UploadActivity has leaked:
* AssistStructure$SendChannel.!(mAssistStructure)!
* ↳ AssistStructure.!(mWindowNodes)!
* ↳ ArrayList.!(elementData)!
* ↳ array Object[].!([0])!
* ↳ AssistStructure$WindowNode.!(mRoot)!
* ↳ AssistStructure$ViewNode.!(mChildren)!
* ↳ array A

[2019-03-26 06:54] pgmpofu commented on #2238
@namrata-jha please take over this issue. I apologize for the inconvenience but I am unable to complete due to other commitments.

[2019-03-26 07:42] sup95 commented on #2255
@vanshikaarora I am not working on this and will not be able to get to it, anybody could take it up:)

[2019-03-26 09:24] noahwalugembe commented on #2717
In fr.free.nrw.commons.beta:2.10.1-debug-deletion_nomination:226.
* fr.free.nrw.commons.upload.UploadActivity has leaked:
* AssistStructure$SendChannel.!(mAssistStructure)!
* ↳ AssistStructure.!(mWindowNodes)!
* ↳ ArrayList.!(elementData)!
* ↳ array Object[].!([0])!
* ↳ AssistStructure$WindowNode.!(mRoot)!
* ↳ AssistStructure$ViewNode.!(mChildren)!
* ↳ array AssistStructure$ViewNode[].!([0])!
* ↳

[2019-03-26 09:35] noahwalugembe commented on #2717
Hi @albendz  When i comment out ClickableSpan implementation the memory leak stops i think Using ClickableSpan may still cause leaks even on versions higher than KitKat. If you look into implementation of the ClickableSpan you will notice that it doesn't extend NoCopySpan, so it leaks in onSaveInstanceState()

[2019-03-26 10:30] vanshikaarora opened #2753 "Disable the answering buttons in Review Activity until image is loaded"
**Summary:**

Disable the yes and no buttons in Review activity until image is loaded

**Would you like to work on the issue?**

Yes

[2019-03-26 12:14] neslihanturan commented on #1450
Based on the discussions above, using checkbox seemed most appropriate method to select/deselect all and exclude some items.

My first suggestion is using checkbox with chips. When we checked some, they will be added to row as chips. The only concern of mine about this approach is, we may have 20 selected place types. Adding 20 chips to a row is open to discussion.
![filterNearby2](https://user-im

[2019-03-26 12:32] #2729 closed

[2019-03-26 15:01] maskaravivek opened #2755 "JSON version of image info API doesn't sort the results by timestamp"
I am sending parameters to sort by `timestamp` but it seems to be not working for the JSON API. There seems to an upstream issue in the JSON version of the API.

JSON response: https://commons.wikimedia.org/w/api.php?action=query&format=json&generator=categorymembers&gcmtype=file&gcmtitle=Category%3AFeatured_pictures_on_Wikimedia_Commons&gcmsort=timestamp&gcmdir=desc&gcmlimit=10&prop=imageinfo&iip

[2019-03-26 15:34] #2737 closed

[2019-03-26 16:38] misaochan commented on #1450
I like suggestion 2 a lot more. :) With suggestion 1, there may be far too many types to display if the user selects "all except X". Displaying selected types at the top is a nice touch, too. If the user searches for a place type that isn't in the list, there should be an option to "add custom filter".

The pin styling according to place states is a nice idea, but I'm not sure how it would work. F

[2019-03-26 17:07] neslihanturan commented on #1450
But I think @nicolas-raoul mentioned that this could take too much time. But if we still want to include this, I can add such think into design 2

[2019-03-26 18:29] madhurgupta10 opened #2756 "Pic of the Day Widget API not working"
**Summary:**
Pic of the Day Widget API not working

Current API (https://commons.wikimedia.beta.wmflabs.org/w/api.php?action=query&generator=images&format=json&titles=Template%3APotd%2F2019-03-26&prop=imageinfo&iiprop=url%7Cextmetadata) used to fetch Pic of the day returns

`{
"batchcomplete": ""
}`

**Would you like to work on the issue?**
Yes

[2019-03-26 19:13] madhurgupta10 opened #2757 "Add title of the picture to the App Widget"
**Summary:**
Add the title of the picture to the App Widget so that users can know about the picture they are looking at.

**Would you like to work on the issue?**
Yes

[2019-03-26 19:30] maskaravivek commented on #2756
@madhurgupta10 Can you test if it is working on prod?

[2019-03-26 19:31] madhurgupta10 commented on #2756
https://commons.wikimedia.org/w/api.php?action=query&generator=images&format=json&titles=Template%3APotd%2F2019-03-26&prop=imageinfo&iiprop=url%7Cextmetadata

Works @maskaravivek

[2019-03-26 20:00] maskaravivek commented on #2756
On beta server no images would be present in POTD list.

[2019-03-26 23:55] madhurgupta10 commented on #2756
@maskaravivek Okay, then I think we can close the issue :)

[2019-03-27 04:02] #2756 closed

[2019-03-27 06:04] noahwalugembe commented on #2717
Hi @albendz to solve this issue i have avoided using ClickableSpan by using this implementation{strBuilder.setSpan(new URLSpan(url),start, end, Spanned.SPAN_EXCLUSIVE_EXCLUSIVE);}

instead of

 ClickableSpan clickable = new ClickableSpan() {
            public void onClick(View view) {
                // Handle hyperlink click
                String hyperLink = span.getURL();
                launc

[2019-03-27 07:25] noahwalugembe commented on #2757
Yes.  can i work on it

[2019-03-27 08:00] noahwalugembe commented on #2753
Yes i would like to work on this

[2019-03-27 09:32] nicolas-raoul commented on #2716
@higimo Tap Settings>Send log

[2019-03-27 09:34] nicolas-raoul commented on #2747
@vanshikaarora Yes!

But now I am thinking: Do we really need notifications for this? How about nothing, or maybe just toasts/snackbars? @neslihanturan

[2019-03-27 09:39] nicolas-raoul commented on #2074
You have to design the API, then develop both the server part (that takes data from the database and provides it as JSON) and the client part (that consumes the JSON and displays it in the Android app).

[2019-03-27 09:40] neslihanturan commented on #2747
@nicolas-raoul don't we need to use https://commons.wikimedia.org/wiki/Special:Log/thanks or https://commons.wikimedia.beta.wmflabs.org/wiki/Special:Log/thanks depending to the flavor instead?

I agree notification can be too much, on the other hand snacbar/toast can feel like "Is something really happened?"

[2019-03-27 09:43] neslihanturan commented on #2753
Please do not @noahwalugembe , @vanshikaarora already worked on it as she stated:

Yes

And she already sent a PR for this issue.

[2019-03-27 09:54] noahwalugembe commented on #2753
Sorry dear my net work was down I posted before seeing the updated page

[2019-03-27 09:58] neslihanturan commented on #2753
No problem @noahwalugembe :) We always try to avoid two PRs for the same issue.

[2019-03-27 11:04] #2757 closed

[2019-03-27 11:30] sp2710 opened #2761 "Peer Review loads different image on rotation"
**Summary:**

After rotating the device peer review Activity is loading a different image

**Steps to reproduce:**

Rotate screen on Peer Review activity

**Device and Android version:**

Motorola Moto G5 plus on API 24

**Commons app version:**

Latest master

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/39745544/55072676-b81f4000-50b1-11e9-84dc-af416109a7cd.gif)

**Would y

[2019-03-27 11:37] neslihanturan commented on #2761
Ah thanks for discovering:)

[2019-03-27 12:50] ujjwalagrawal17 commented on #2074
@nicolas-raoul I have updated the project schedule in phabricator, https://github.com/commons-app/apps-android-commons/issues/2074#issuecomment-470481841 , outreachy's website.

[2019-03-27 13:54] nicolas-raoul opened #2763 "Peer review: show description"
Description often says why a picture is special. For instance:

Title: Abdel Rawid
Description: Soccer player in the 2020 Iraqi Olympics team

That can change the reviewer's perception from "_Hum probably another worthless selfie_" to "_Whoa this is a very valuable picture_".

[2019-03-27 14:02] neslihanturan commented on #2763
Referencing #2698

[2019-03-27 14:52] madhurgupta10 opened #2764 "Handle and Fix the Delay in Logout"
**Summary**
Handle and Fix the Delay in Logout.

**Would you like to work on the issue?**
Yes

[2019-03-27 15:02] madhurgupta10 commented on #2388
@nicolas-raoul @ShridharGoel I suggest using [CSnackBar](https://github.com/ChathuraHettiarachchi/CSnackBar) Library for this task :)

[2019-03-27 15:17] maskaravivek commented on #2764
@madhurgupta10 Why is the toast required?

[2019-03-27 15:26] madhurgupta10 commented on #2764
@maskaravivek Sometimes when a user logout there is a couple of seconds delay, this creates confusion for the user to hit the log out button again or not, A toast will ensure that the logout was successful and user don't need to redo the task.

[2019-03-27 16:15] maskaravivek commented on #2764
If theres a delay then it might be better to show a progress bar instead.

But before that can you investigate the cause of delay. No network operation occurs while the user logs out. So it would be better to find out which task is taking time

[2019-03-27 16:54] madhurgupta10 opened #2766 "App Crashing on Tablets"
**Summary:**
App is crashing in Tablet, working fine on Phones

**Steps to reproduce:**
Launch the app in a Tablet

**System logs:**
[code]

**Device and Android version:**
Custom Tablet API 28

**Commons app version:**
latest betaDebug

**Would you like to work on the issue?**
Yes

[2019-03-27 16:56] madhurgupta10 commented on #2764
@maskaravivek Sure, I will investigate the cause of the delay, and a Progress Bar would be better.

[2019-03-27 17:45] madhurgupta10 opened #2767 "Add Click to View Photo to Home Screen Widget"
**Summary:**
Add onClick Event to View Photo to the Home Screen Widget so that a user can view the original image.

**Steps to reproduce:**
Click on the image of Home Screen Widget

**Commons app version:**
latest prodDebug

**Would you like to work on the issue?**
Yes

[2019-03-27 19:33] maskaravivek opened #2769 "Evaluate SonarQube vs Codacy"
**Summary:**

[SonarQube](https://www.sonarqube.org/) provides an overview of the overall health of your source code and even more importantly, it highlights issues found on new code.

[Codacy](https://www.codacy.com/) is an automated code review tool

## Comparisions

- https://stackshare.io/stackups/codacy-vs-codebeat-vs-sonarqube
- https://medium.com/devgurus/continuous-code-quality-and-automat

[2019-03-27 20:48] madhurgupta10 commented on #2769
@maskaravivek We can also consider https://codebeat.co/ it is free for open source.

[2019-03-27 21:14] madhurgupta10 opened #2770 "Incomplete Nearby List shown in Landscape mode"
**Summary:**
Incomplete List is shown in Landscape mode.

**Steps to reproduce:**
Go to Nearby, hit the List Icon and scroll to the end, then switch to landscape mode to see the difference.

Actual Behaviour
Sector 70, Mohali (Last Element of my list) which you see in Portrait mode is not visible in Landscape mode

Expected Behaviour
Upon Rotation to Landscape mode, the list shown should be the sa

[2019-03-27 21:25] madhurgupta10 opened #2771 "Location Permission Required Dialog's UI Fix"
**Screen-shots:**

The Checkbox and the Text next to it are located at a very weird place, they should be in line with the other text.

![screenshot-2019-03-28_02 51 57 841](https://user-images.githubusercontent.com/30932899/55113282-b29f1580-5104-11e9-9ed5-a9f62643990c.png)

**Would you like to work on the issue?**
Yes

[2019-03-27 22:11] sp2710 opened #2773 "Search this area takes forever to load if no internet connection"
**Summary:**

If there is no internet then clicking search this area button in nearby makes starts loading the map and it takes forever to load. An app kill if require even if the connection is re-established.

**Steps to reproduce:**

1.Go to nearby
2.After map is loaded turn off internet.
3.move to a different location.
4.Click on search this area button.
5.The app gets stuck at this point. Even

[2019-03-27 22:37] sp2710 commented on #2763
Currently on clicking the image it does nothing. IMO we should show the user the media details on clicking the image same as we do for explore and contributions fragment.

[2019-03-27 22:39] #2771 closed

[2019-03-28 01:32] madhurgupta10 opened #2776 "Replace Search Button with FAB"
**Summary:**
Replace Search Button with FAB for making the app more Material Design friendly.

**Would you like to work on the issue?**
Yes

[2019-03-28 01:48] madhurgupta10 opened #2778 "Moving GPS FAB to bottom right corner"
**Summary:**
I think we should move GPS FAB to the bottom right corner. Even google maps GPS Fab is located at the right bottom and all other FAB icon we have are on the right bottom, so it makes sense to move the GPS Fab to the right-hand corner as well.

**Screen-shots:**
![Screenshot_20190328-071649](https://user-images.githubusercontent.com/30932899/55123686-8e096480-5129-11e9-8456-0cc4c555918

[2019-03-28 02:59] madhurgupta10 opened #2779 "Upload FAB Missing Padding in Nearby"
**Summary:**
Upload FAB Button is Missing Padding in Nearby

**Screenshot**
![Screenshot_20190328-082901](https://user-images.githubusercontent.com/30932899/55126655-a1213200-5133-11e9-9683-67e086713eb4.png)

**Would you like to work on the issue?**
Yes

[2019-03-28 03:40] nicolas-raoul commented on #2755
Please anyone:
1. Reproduce the problem
2. Create an upstream issue report at http://phabricator.wikimedia.org
3. Link to it from here
Thanks! :-)

[2019-03-28 04:57] sp2710 opened #2781 "Multiple instances of Peer Review"
**Summary:**

Multiple instances of Peer Review Activity are created if opened multiple times.

**Steps to reproduce:**

1.Click on Peer Review several times from the Navigation Drawer
2.Click on Back button.

It can be seen that multiple instances are created

**Device and Android version:**

Motorola Moto G5 plus with API 24

**Commons app version:**

Latest Master

**Would you like to work on t

[2019-03-28 06:27] silkypriya commented on #2698
Hello, @neslihanturan
Can I take issue ?
I was woking on this and had almost completed this task. Can I make PR for this ?
Thank you!

[2019-03-28 07:34] neslihanturan commented on #2698
Sure @silkypriya , thanks:)

[2019-03-28 07:59] domdomegg opened #2782 "Remove unnecessary tags from string resources"
**Summary:**

NB: This has potential merge conflicts with #2741, so probably best to wait until that's merged before working on this (or work on just the ones outside WelcomeActivity).

Would be ideal to remove any tags like `CDATA` or `<u>` from string resources. There are probably more but the ones I know about are the 'More information' link from WelcomeActivity, and all the links from AboutAct

[2019-03-28 08:07] domdomegg commented on #2766
Looking at the log this is probably the key part:

[code]

[2019-03-28 08:14] domdomegg commented on #2769
Currently I don't pay that much attention to Codacy - it seems to only flag up false positives, which is annoying for reviewing PRs as Github's red 'x' icon could mean Travis has passed and Codacy is being weird about something minor. Also Codacy seems to sometimes get 'stuck' reviewing PRs, or fails it on Github but doesn't show the issues on Codacy to be fixed.

Therefore I'd be very up for swap

[2019-03-28 08:16] neslihanturan commented on #2698
Please continue this suggestion from here @sp2710 :)

[2019-03-28 08:19] domdomegg commented on #2781
This is likely an issue with intent flags in either NavigationBaseActivity or the peer review activity's `startYourself`

[2019-03-28 08:31] neslihanturan commented on #2776
I think such a big design change needs some discussion with team. Personally I don't think having search button in FAB is better than having it on the top.

[2019-03-28 08:32] nicolas-raoul commented on #1450
I am OK with both Nes' suggestions 1 and 2.

The performance problem is not only about custom filters, but might be also for built-in place types. For instance, let's say I select "school": I would probably expect the app to also include sub-classes of "school", such as "physico-mathematical boarding school" https://www.wikidata.org/wiki/Q4483543 . That is a rather time-consuming SPARQL request to

[2019-03-28 08:40] neslihanturan commented on #2778
Where do you plan to put upload FABs @madhurgupta10 ?

[2019-03-28 08:41] neslihanturan commented on #2776
Closing this one for now since @domdomegg and me doesn't find this change necessary. Please feel free to reopen if you think this change is needed.

[2019-03-28 08:41] #2776 closed

[2019-03-28 08:43] neslihanturan commented on #2779
This UI change is necessary, thanks for pointing it out @madhurgupta10 .

[2019-03-28 08:49] nicolas-raoul commented on #2747
Ah yes beta might need a different URL.
But is we don't show notifications then no need to think about that :-)

When sending an email in Gmail, only a snackbar is shown. No need to show more here.

[2019-03-28 08:52] silkypriya commented on #2698
Hello @domdomegg @neslihanturan ,
I have used  ic_help_black_24dp with tint attribute. Shall I change that to info icon ?

Made PR #2783.
Kindly review
Thank you!

[2019-03-28 09:10] nicolas-raoul commented on #2770
Please add to your issue:
- What you expected
- What you saw instead
Thanks! :-)

[2019-03-28 09:13] nicolas-raoul commented on #2773
I noticed that indeed. Could you detail what you plan to do?
- Just remove the "Search this area" button?
- Or display an error if connection times out, and retry the next time the user opens that tab or press "retry"?

[2019-03-28 09:15] nicolas-raoul commented on #2763
@sp2710 That would be great indeed!

[2019-03-28 09:20] domdomegg commented on #2698
I think it might be better to use the info icon given we use it in the rest of the app for the same purpose - we should be consistent.

[2019-03-28 10:49] sp2710 commented on #2781
@domdomegg Yes it was an issue with flags in peer review activity. I have raised a PR for it.

[2019-03-28 10:49] madhurgupta10 commented on #2770
@nicolas-raoul Sector 70, Mohali (Last Element of my list) which you see in Portrait mode is not visible in Landscape mode

[2019-03-28 10:51] madhurgupta10 commented on #2776
@neslihanturan Definitely, I will take care of this :)

[2019-03-28 10:52] sp2710 commented on #2773
@nicolas-raoul I removed the "Search this Area" button if connection is lost. Currently if connection gets lost it shows a snackbar With the message but "Search this Area button" is still there. Clicking it makes the nearby stuck at it even if the connection is re-established.
IMO removing "Search This Area" button whenever connection gets lost would be a nice option.

[2019-03-28 10:59] madhurgupta10 commented on #2767
@nicolas-raoul We can definitely do that, could you please suggest me the Intent

[2019-03-28 11:01] sp2710 commented on #2698
@neslihanturan I am picking #2763

[2019-03-28 11:08] madhurgupta10 commented on #2778
@neslihanturan I don't think that we should move the upload FAB, when clicking on a marker and the bottom list expands, it will definitely cover the GPS FAB, but I think that is ok, as when a user clicks on a marker, they don't want to move around the map. Please let me know your opinions on this :)

[2019-03-28 11:43] madhurgupta10 commented on #2776
@neslihanturan Okay cool 👍

[2019-03-28 11:53] neslihanturan commented on #1450
[v] Exists [ ] Needs photo -> Shows all current items, with or without a P18

I agree that "exists" covers all items but on the other hand it can be confusing to see "needs photo" images when it is deselected. So the question is should we first filter as "need/not need photo" then filter as "exists", or first as "exists" then "need/not needed".

To make it more clear, we can rename it to "only exi

[2019-03-28 12:19] #2690 closed

[2019-03-28 12:44] neslihanturan opened #2785 "Position of tabs on Main Activity is wrong for a while"
**Summary:**
For a while, position of Main Activity tabs are not centered in both half of the page, they are centered on whole page instead. They weren't like that previously, something should have break them.

**Expected behaviour:**
They both should be centered to both half of the page.

![image](https://user-images.githubusercontent.com/3127881/55157775-51ac2780-516e-11e9-8d0a-d7ed24a6abf1.png)

[2019-03-28 12:46] neslihanturan opened #2786 "Peer review NullPointerException on orientation change."
**Summary:**

It crashes on orientation change on mis-category question.

**System logs:**

[code]

**Device and Android version:**
API 26

**Commons app version:**

betaDebug, current master

[2019-03-28 12:46] neslihanturan commented on #2786
Related with #2698

[2019-03-28 12:53] #2749 closed

[2019-03-28 13:57] neslihanturan commented on #2778
I don't think covering/blocking an item is a good idea, it would feel like there is a problem. Besides, since there are multiple FABs on the same screen we should keep them separated to prevent confusion, as material design guideline already doesn't suggest to use multiple FABS on same screen: https://material.io/design/components/buttons-floating-action-button.html#usage . Google Maps is mainly f

[2019-03-28 14:06] madhurgupta10 commented on #2778
@neslihanturan Very well explained 👍 I agree that the main FAB should be on the right bottom corner,  for our app it is Upload, so we should not move the GPS fab, but if possible we can replace the margin attributes and add unified padding to it, similar to screenshot. Unified padding for all FAB makes the UI a bit more pleasing.
![InkedScreenshot_20190328-071649_LI](https://user-images.githubuser

[2019-03-28 14:11] neslihanturan commented on #2778
Agreed. There is a related, open PR #2780 . Please cooperate with PR owner.

[2019-03-28 14:13] neslihanturan commented on #2766
Can you share API level @madhurgupta10 ?

[2019-03-28 14:48] silkypriya commented on #2698
Hello @neslihanturan
Peer Review activity layout does not support different screen sizes.
Can we add this in the above listed issues ?

Currently            | Expected
:-------------------------:|:-------------------------:
![2222](https://user-images.githubusercontent.com/25826255/55166688-af089e80-5197-11e9-84bd-05f6b4faa689.jpg) | ![1111](https://user-images.githubusercontent.com/25826255/55166

[2019-03-28 15:02] madhurgupta10 commented on #2769
[codebeat](https://codebeat.co/projects/github-com-jakewharton-butterknife/report_classes/java-butterknife-compiler-BindingSet) gives very good feedback for new developers, consider this example which asks users to reduce the number of arguments
![screenshot-codebeat co-2019 03 28-20-30-42](https://user-images.githubusercontent.com/30932899/55168185-61406600-5198-11e9-9f71-33df20f86a50.png)

[2019-03-28 15:04] madhurgupta10 commented on #2778
@neslihanturan Sure, I will update the Location FAB padding aswell :)

[2019-03-28 15:17] neslihanturan commented on #2763
assigned to @sp2710

[2019-03-28 15:21] neslihanturan commented on #2698
I am adding, thanks @silkypriya

[2019-03-28 15:23] #2778 closed

[2019-03-28 15:47] madhurgupta10 commented on #2766
@neslihanturan API Level 28 Device Nexus 9

[2019-03-28 16:05] ashishkumar468 commented on #2720
@maskaravivek @misaochan @neslihanturan @nicolas-raoul, The crash is because, license urls for "CC BY" & "CC BY-SA" is not handled. Does any one knows what url's need to be returned for these license names?

[2019-03-28 17:01] madhurgupta10 opened #2788 "Navigation UI problem in split screen mode"
**Summary:**
Navigation UI problem in split screen mode

**Steps to reproduce:**
Go to Split Screen Mode, Open Navigation Drawer

**Device and Android version:**
Xiaomi Mi A1 API Level 28 stock

**Commons app version:**
latest betaDebug

**Screen-shots:**
![Screenshot_20190328-222733](https://user-images.githubusercontent.com/30932899/55177431-3b6f8d00-51a9-11e9-80e4-7c0af8ca7906.png)

**Would you

[2019-03-28 17:30] misaochan commented on #2720
The Upload Wizard uses https://creativecommons.org/licenses/by-sa/4.0/deed.en for CC BY SA 4.0, and https://creativecommons.org/licenses/by/4.0/deed.en for CC BY 4.0, so I think we can go with that. For 3.0 just replace the corresponding string in the URL.

[2019-03-28 17:40] misaochan commented on #1450
- Re: place states, why would we need "Needs photo" or "has photo" at all? After all, Nearby by its very definition is "nearby places that need photos", so every single Wikidata item that we even fetch would need a photo and not have a photo. I would think that place types just needs (1) "still exists" and (2) "has Wikipedia article"?

- Re: place types, actually the implementation I had in mind w

[2019-03-28 17:59] ashishkumar468 opened #2789 "App Crashes with IllegalStateException in ViewUtils"
**Summary:**

App Crashes with IllegalStateException in ViewUtils
**System logs:**

[code]

**Device and Android version:**

ANDROID_VERSION=4.3
BRAND=ZTE
PHONE_MODEL=Z797C
CUSTOM_DATA=

**Commons app version:**

APP_VERSION_NAME=2.10.2

[2019-03-28 18:21] ashishkumar468 commented on #2720
@misaochan Thanks JO,  but the app already had the same for CC BY SA 4.0 and CC BY 4.0, the ones matching exactly "CC BY" & "CC BY-SA" are not there. Seems like they are deprecated. I was wondering if it will be okay to use the ones for CC BY SA 4.0, and CC BY 4.0 respectively ?

[2019-03-28 18:35] ashishkumar468 opened #2791 "NullPointerException in MediaDetailFragment while deleting a media"
**Summary:**
DeleteTask (An Async task) is invoked onSuccess of some other RX function, without checking the fragments current state, leading to NullPointerExceptions and possible memory leaks

**System logs:**

[code]

**Device and Android version:**
ANDROID_VERSION=6.0.1
BRAND=samsung
PHONE_MODEL=SM-J106H

**Commons app version:**

APP_VERSION_NAME=2.10.2

**Would you like to work on the issue?*

[2019-03-28 19:18] ronanb80 commented on #2782
I can take a look in to this when #2741 is merged

[2019-03-28 19:41] domdomegg commented on #2782
To be assigned to @ronanb80 once #2741 merged

[2019-03-28 20:20] domdomegg commented on #100
Fixed in #2113

[2019-03-28 20:20] #100 closed

[2019-03-28 20:27] domdomegg opened #2793 "Beta campaigns"
**Summary:**

Currently it's hard to test changes to campaigns in the app. It'd be good if we could create a beta endpoint.

**Would you like to work on the issue?**

Yes

[2019-03-28 20:27] domdomegg commented on #545
Have created #2793 which I'll work on.

[2019-03-28 20:37] madhurgupta10 commented on #814
@nicolas-raoul Can I take up this issue?

[2019-03-28 20:56] domdomegg opened #2794 "Deletion request notification goes to wrong URL"
**Summary:**

Clicking the deletion success notification adds an extra `File:` to the URL e.g.:

https://commons.m.wikimedia.beta.wmflabs.org/wiki/Commons:Deletion_requests/File:File:MobileTest_190327-105304.jpg

But it should be

https://commons.m.wikimedia.beta.wmflabs.org/wiki/Commons:Deletion_requests/File:MobileTest_190327-105304.jpg

I've only tested this on beta (as don't want to delete rea

[2019-03-28 21:37] #2767 closed

[2019-03-28 21:39] domdomegg commented on #2788
Sorry if it's a dumb question to ask, what exactly is the issue with that screenshot?

[2019-03-28 21:42] madhurgupta10 commented on #2788
@domdomegg
The Achievement button is very small and joining the edge and it very difficult to click.
![InkedScreenshot_20190328-222733_LI](https://user-images.githubusercontent.com/30932899/55194681-63beb200-51d0-11e9-8410-83d31c1f785e.jpg)

[2019-03-28 21:46] madhurgupta10 commented on #2794
@domdomegg I would like to solve it :)

[2019-03-28 21:59] Menna-Elshazly commented on #2785
@maskaravivek is that considered an issue ?

[2019-03-28 22:27] domdomegg commented on #2785
I believe the idea is that on any size screen the tabs should both be 50% the width of the screen.

[2019-03-28 22:27] madhurgupta10 commented on #2794
@domdomegg Done :)

[2019-03-28 22:39] domdomegg opened #2800 "Beta: images with no description display long text about it"
**Summary:**

On beta, on images with no description, rather than just saying 'No description' the description shows 'this file has no description, and may be...'. Probably an upstream bug.

See https://github.com/commons-app/apps-android-commons/pull/2681#issuecomment-477765766

**Screen-shots:**

![Screenshot_1553805905](https://user-images.githubusercontent.com/4953590/55191574-75856280-519a-11

[2019-03-28 22:42] domdomegg opened #2801 "Beta: license URL returned by JSON API is missing http prefix"
**Summary:**

The license URL returned by JSON API is missing the `http` prefix, which causes issues when parsing it as a URI. Workaround done in 5ca9415c0e3d10186aeb372b9c9cc5112792cccb but ideally would be fixed in the API.

[2019-03-28 22:47] domdomegg commented on #2464
Seems to be fixed upstream now

[2019-03-28 22:47] #2464 closed

[2019-03-28 23:11] domdomegg commented on #2755
Created https://phabricator.wikimedia.org/T219576

[2019-03-28 23:20] domdomegg opened #2802 "Use JSON version 2 APIs"
**Summary:**

Use [JSON version 2 APIs](https://www.mediawiki.org/wiki/API:JSON_version_2) which are much nicer to use, return proper results for booleans, and return arrays properly. Also, version 1 JSON APIs are planned to be [deprecated](https://www.mediawiki.org/wiki/API:JSON_version_2#The_future_of_%22version_1%22_JSON_response_format).

**Would you like to work on the issue?**

Yes

[2019-03-28 23:28] domdomegg commented on #2800
See https://phabricator.wikimedia.org/T219578

[2019-03-28 23:32] domdomegg commented on #2801
See https://phabricator.wikimedia.org/T219579

[2019-03-29 01:33] nicolas-raoul opened #2803 "Cancel nearby upload -> Next upload gets the same title/description"
**Steps to reproduce:**

1. Go to Nearby
2. Select an pin (in my case a nearby research foundation)
3. Click `+` and the camera icon
4. Change your mind and leave the app
5. Open the app from its launcher icon
6. In the Home activity, press `+` and choose an unrelated picture (in my case a picture of flowers)

Expected: Blank fields appear, for me to enter the name and description of the flower
Ac

[2019-03-29 01:43] nicolas-raoul commented on #2770
Even if you scroll down to the bottom of the list, right?

[2019-03-29 01:58] madhurgupta10 commented on #2770
@nicolas-raoul Yes, that is the problem

[2019-03-29 05:25] madhurgupta10 opened #2804 "Initialize all views using bind view in NearbyMapFragment"
**Summary:**
Complete the TODO Initialize all views using bind view in NearbyMapFragment.

**Would you like to work on the issue?**
Yes

[2019-03-29 08:14] nicolas-raoul commented on #814
@tanvidadu Any update on this? By the way, you don't really need permission to merge from people's branches (just acknowledging them is nice though) :-)

[2019-03-29 09:07] nicolas-raoul commented on #75
Thanks @madhurgupta10 !
This seems to be the best fork of that project: https://github.com/mnnyang/tensorflow_mobilenet_android_example
Unfortunately I did not manage to build it, there must be some necessary step that I am not thinking of.

[2019-03-29 10:09] Menna-Elshazly commented on #2785
i will solve it

[2019-03-29 10:39] misaochan opened #2805 "Codecov reports for PRs?"
Some time ago (I can't remember how long, probably a year or so?) we used to have Codecov reports for every PR that was submitted. In the pull request itself, Codecov would mention how merging the PR would affect test coverage.

Somewhere along the way, we lost that. Does anyone know why, and how we can get these reports activated again? @whym @domdomegg @psh @maskaravivek

[2019-03-29 10:44] misaochan commented on #2805
Edit: Oh, I just realized that some PRs have them, but some don't. For instance, #2798 does not have them, but #2792 does. It does appear that the majority of PRs have them, although the report will be posted at a variable time.

[2019-03-29 12:52] maskaravivek commented on #2805
Yes, I have observed that sometimes the report takes a lot of time to get generated.

[2019-03-29 13:42] madhurgupta10 commented on #75
@nicolas-raoul I managed to build it, If you would like, I can share the apk file.

[2019-03-29 14:23] vanshikaarora commented on #2803
Hey, I can look into this :)

[2019-03-29 15:25] misaochan commented on #2720
I don't think there is a need for a "CC BY" & "CC BY-SA" license without any version number. The Upload Wizard only has 3.0 and 4.0 for these corresponding licenses, and CC0 (so 5 licenses in total). In fact I don't think there is even a legal definition for "CC BY" without a version? Let's ask @nicolas-raoul to confirm.

[2019-03-29 18:05] domdomegg commented on #2805
It is bizarre that it does take so long with some PRs (like #2798). Maybe it's worth raising a bug upstream with Codecov? I've found a trick to force it to review it again is to redo the Travis build. This seems to me maybe like some webhook getting lost on its way from either Travis or Github to Codecov.

[2019-03-29 18:08] domdomegg commented on #2688
This test has now been removed, but should really be re-added once the upstream bug is fixed. See #2797.

[2019-03-29 18:59] domdomegg opened #2806 "Moving to travis-ci.com (from travis-ci.org)"
**Summary:**

Travis advise that using travis-ci.com is now recommended for open source projects (over travis-ci.org)

See the announcement: https://docs.travis-ci.com/user/migrate/open-source-on-travis-ci-com/

Migration guide: https://docs.travis-ci.com/user/migrate/open-source-repository-migration

This is probably low priority for now.

[2019-03-29 20:15] #2766 closed

[2019-03-29 21:01] #2794 closed

[2019-03-30 01:26] madhurgupta10 opened #2809 "Night Mode: Language selection dialog is not readable"
**Steps to reproduce:**
(Dark Mode) Go to Upload, Click on + to add a new language, click on the language selection option.

**Screen-shots:**
![Screenshot_20190330-064847](https://user-images.githubusercontent.com/30932899/55269427-e884fb00-52b8-11e9-856d-92b80f54f0ea.png)

**Would you like to work on the issue?**
Yes

[2019-03-30 01:33] madhurgupta10 opened #2810 "Option to Remove a new language description while uploading"
**Summary:**

Sometimes, a user might accidentally hit the "+" when uploading a photo, there is no option to remove it. We should add a "-" so that the user can remove it.

**Steps to reproduce:**
Upload a new photo, hit the + button many times in Step 1, then try to remove not needed ones.

**Screen-shots:**
![Screenshot_20190330-065845](https://user-images.githubusercontent.com/30932899/55269473

[2019-03-30 02:26] silkypriya commented on #2698
Hello @neslihanturan,
Fixed the issue mentioned in last comment in #2811
Kindly Review.
Thank you!

[2019-03-30 04:46] vanshikaarora commented on #2786
Hey, I am working on this

[2019-03-30 05:17] maskaravivek commented on #2786
It would be nice to have espresso tests for emulating orientation change in all activities.

[2019-03-30 05:19] maskaravivek commented on #2810
Apart from this, the user should not be allowed to add the same language twice.

[2019-03-30 05:20] vanshikaarora commented on #2786
@maskaravivek Shall I create a separate Issue for this ?

[2019-03-30 05:20] maskaravivek commented on #2786
Yes, that would be great. :)

[2019-03-30 05:22] maskaravivek commented on #2698
@neslihanturan Why do we have such a complex logic for randomizer? Can't we randomly pick one revision from the list?

[2019-03-30 05:38] vanshikaarora opened #2813 "Creating espresso tests for emulating orientation change in all activities"
**Summary:**

As discussed in #2786 .

**Would you like to work on the issue?**

Yes

[2019-03-30 06:25] tanvidadu commented on #814
@madhurgupta10 , sure go ahead !  :+1:
@nicolas-raoul, I haven't worked on this issue since last year  :/

[2019-03-30 06:29] madhurgupta10 commented on #2810
@maskaravivek Good Point, I would implement that as well :)

[2019-03-30 06:30] maskaravivek commented on #2813
Assigned to @vanshikaarora!

[2019-03-30 07:02] tanvidadu commented on #1871
Sorry for the late reply!
I would also like to volunteer. I can help in organizing technical workshops focused on Open Source and how to contribute to Commons in my college, NSIT both as part of university technical fest or a standalone event.
The target audience will be the university students from NSIT as well as other nearby colleges and universites.

[2019-03-30 09:42] vanshikaarora commented on #2747
@nicolas-raoul @neslihanturan shall I remove the notification and add a snackbar instead?

[2019-03-30 10:00] nfatma commented on #2744
Can I work on this issue?

[2019-03-30 10:16] domdomegg opened #2815 "Nominating for deletion is cancelled on leaving the media details"
If the user clicks off the screen the deletion nomination is cancelled. This is better than the previous behaviour (just crashing), however ideally the deletion nomination would continue after leaving the media details screen, and just not try to edit the views if we're out of the media details.

Also, nominating for deletion seems quite slow - maybe a semi-solution for this would to be at least c

[2019-03-30 10:17] domdomegg commented on #2810
I'm not sure how tightly bound this code is, but if you are it might be best to do them as separate PRs so they're easier to review.

[2019-03-30 10:21] domdomegg commented on #2815
This may have actually been done, this is based on the 2.10-release branch. If so please close/ask me to close this issue

[2019-03-30 11:23] maskaravivek commented on #2744
Sure. Assigned to @nfatma

[2019-03-30 12:05] maskaravivek opened #2817 "Espresso tests for testing upload with multilingual descriptions"
**Summary:**

It would be nice to automatically test uploads with multilingual descriptions. The user can click on the (+) button to add a description in another language.

![device-2019-03-30-173139](https://user-images.githubusercontent.com/3069373/55275817-b653b780-5311-11e9-85dd-541cd00f7c0f.png)

IMO, there are two things that need to be tested here.

- test that verifies that the user is abl

[2019-03-30 12:21] misaochan opened #2818 "Modify warning about existing picture name"
His comment:

Did we change something that broke the automatic appending of suffixes to files of the same name? @ashishkumar468 @maskaravivek

Edit: The scope of this task has changed to:

Can we include some more detailed text to the warning about even f they proceed with same name, a suffix will be added to their filename. Besides can we add "don't display again" button to this warning?

[2019-03-30 12:25] misaochan commented on #1871
Wonderful, @tanvidadu , thanks for volunteering! :) I think one workshop held in a university (by you), and one held by @sivaraam in the villages, would be fantastic.

 It will likely take a while before we are ready for this, since we need to get the backend overhaul completed and all major issues solved before it would make sense to hold these workshops. Probably in ~6 months from now or so?

[2019-03-30 12:28] maskaravivek commented on #2818
@misaochan Just to confirm, is this user an alpha user or a beta/normal user?

[2019-03-30 12:29] #2793 closed

[2019-03-30 12:30] misaochan commented on #2818
I asked him to confirm, but `2.10.2~66e1539a1` indicates that he is on alpha.

[2019-03-30 12:32] misaochan commented on #2818
Edit: How strange, he isn't in our alpha testing group as far as I can see. I wonder why the feedback is displaying that as his version?

[2019-03-30 12:35] maskaravivek opened #2819 "Add unit test for fetching campaigns"
**Summary:**

Now that we have #2793 in place we can easily test campaigns. At least we should have unit tests to verify the API layer (using mock web server). Specifically we need to test `OkHttpJsonApiClient:getCampaigns` for 2 scenarios.

- when the API returns at least 1 campaign(active or otherwise)
- when the API returns no campaigns.

[2019-03-30 12:37] misaochan commented on #65
This button does not exist anymore in the new upload screen, AFAIK. I think it would be nice to have it again, both for single and multiple uploads.

[2019-03-30 12:38] maskaravivek commented on #2818
Indeed he is on our beta version ie. https://github.com/commons-app/apps-android-commons/commit/66e1539a1.

We decided to use SHA for both alpha and normal releases. See comment.

https://github.com/commons-app/apps-android-commons/issues/2127#issuecomment-448531983

[2019-03-30 12:41] maskaravivek commented on #65
@misaochan Is #2035 a duplicate of this issue?

@nfatma is working on fixing this in #2713

[2019-03-30 12:46] misaochan commented on #2818
Eep. Let's carry on the discussion there, I think I might not have worded that comment clearly, lol.

[2019-03-30 12:55] maskaravivek commented on #2127
@misaochan The only way I can think of showing SHA only for alpha users and not for other users is to have #2270 in place.

As of now alpha and actual prod use the build flavor and there's no way to differentiate between alpha and prod users. Having an alpha flavour would mean that in `app/build.gradle` we would have another block of properties named `alpha` similar to `beta` and `prod`. `alpha` f

[2019-03-30 14:12] domdomegg opened #2820 "POTD widget fails with huge images"
**Summary:**

Today's POTD is massive, which causes max parcel memory limit to be exceeded.

https://upload.wikimedia.org/wikipedia/commons/c/cb/Attacus_taprobanis-Kadavoor-2018-07-13-001.jpg

It would be good to get a smaller version of the file to avoid this.

[code]

[2019-03-30 14:39] domdomegg commented on #586
There's now a fair few good espresso tests :tada:

Can always add more but there are other issues for that.

[2019-03-30 14:39] #586 closed

[2019-03-30 14:47] maskaravivek commented on #2820
The API that we use lets us specify the height and width properties.

[code]

API doc: https://www.mediawiki.org/wiki/API:Imageinfo

We can either choose to send these params for all our media calls, which would mean adding these params in `appendMediaProperties` method. Otherwise, if we want to send these params only for POTD, then `getPictureOfTheDay` needs to be edited.

Should we hardcode the

[2019-03-30 15:02] maskaravivek commented on #2818
It works for me. It shows a warning popup message but lets me continue.

Also, i verified that the suffixes are appended as expected.

[2019-03-30 15:03] maskaravivek commented on #2818
Maybe after a user reaches a certain level, we can let him choose to not display these warnings again and again.

[2019-03-30 15:14] maskaravivek opened #2822 "Create UI test for testing"
**Summary:**

It would be great to have UI tests in place for multiple image uploads.

**Would you like to work on the issue?**

Yes.

[2019-03-30 15:29] domdomegg commented on #2820
I don't mind either way - I think it would be ideal if we could do it by the phones hardware but only if it doesn't over complicate the code. Otherwise I think something like fixing a max width and height would be good.

[2019-03-30 15:48] domdomegg opened #2823 "Removing checkstyle from Travis"
**Summary:**

I'm planning on brushing up the travis config, and considering removing checkstyle from Travis.

The reasons for doing this are:
- Codacy already does this, and provides the output in a much better way
- Speed up Travis
- Remove about ~3000 lines of Travis' log output which are always ignored - making it easier to find important stuff when it does fail. It will also help avoid [log l

[2019-03-30 15:50] domdomegg commented on #1389
Tests are now done in Kotlin, builds are passing, coverage is increasing and there's a nice CI pipeline to alpha releases. Thanks to everyone who helped with this :tada: :champagne:

[2019-03-30 15:50] #1389 closed

[2019-03-30 15:50] maskaravivek commented on #2823
Yes, I am okay with it being removed. Personally, I haven't checked it even once. Codacy anyways shows this feedback in a much prettier way.

[2019-03-30 16:11] domdomegg opened #2824 "Update to Gradle 5"
**Summary:**

Updating Gradle from 4.10 to 5.3.1 should give us
- Faster builds
- Less noisy transform output (https://github.com/gradle/gradle/issues/6334)
- Potentially fix/help towards fixing #1941

I've marked this tentatively as beginner friendly - it's hard to judge things like this, but if it turns out to be difficult can always remove.

Useful links:

https://developer.android.com/studio/r

[2019-03-30 16:17] domdomegg commented on #2823
Just been testing a bit - incredibly it knocks off almost 6 minutes from the build! Probably going to add all that back on (and more) when we enable instrumented tests - though at least it shouldn't be as painful a wait, and the output will be much more useful.

[2019-03-30 17:03] madhurgupta10 commented on #2810
@domdomegg Cool, I will make separate issue for it :)

[2019-03-30 17:07] madhurgupta10 opened #2825 "The user should not be allowed to add the same language twice."
**Summary:**
The user should not be allowed to add the same language twice. [#2810(Comment)](https://github.com/commons-app/apps-android-commons/issues/2810#issuecomment-478208929)

**Would you like to work on the issue?**
Yes

[2019-03-30 23:38] aadilahmed commented on #2824
Hi, can I work on this?

[2019-03-31 14:03] domdomegg commented on #2824
@aadilahmed, please do, it's been assigned to you :)

[2019-03-31 16:32] JobGetabu commented on #2819
Can i  work on this @maskaravivek

[2019-03-31 17:11] maskaravivek commented on #2819
Sure take this up. @JobGetabu

[2019-04-01 04:12] nicolas-raoul commented on #75
Thanks! Did you modify any of that project's files? If yes please fork/commit and push your fork to GitHub, thanks :-)

wow 32 MB is very big. I am sure the tensorflow libraries contain many unused classes/network types/etc. Ideally image recognition should not add more than a few MB to the total size of our app's APK. Anyone willing to take on this issue for GSoC/Outreachy, please include that tr

[2019-04-01 04:13] nicolas-raoul commented on #2803
It is yours @vanshikaarora :-)

[2019-04-01 04:17] nicolas-raoul commented on #2720
"CC BY" & "CC BY-SA" are not valid license, they must not be applied to any of our uploads.

Was the image that triggered the RuntimeException uploaded from the app? Or from another tool?

[2019-04-01 04:24] nicolas-raoul commented on #814
@tanvidadu OK thanks!
@madhurgupta10 It is yours :-)

[2019-04-01 04:28] madhurgupta10 commented on #75
@nicolas-raoul Sure, I will add that in my proposal :) and will commit the files soon, also the TF 2.0 is out so it would be much more optimized and would be better than this example, it's pretty old.

[2019-04-01 06:37] nicolas-raoul commented on #2747
Yes thanks! :-)

[2019-04-01 07:10] KaveriKR commented on #2825
Is the issue still open to grab?, like to work on it.

[2019-04-01 07:12] ashishkumar468 commented on #2720
I am not sure about that, the logs are not sufficient to conclude that, if they are not valid licenses, can we remove it from the list of valid license names from the license drop down shown in the upload?

[2019-04-01 07:20] KaveriKR commented on #2817
Is it still open? , I would like to work on it.

[2019-04-01 07:31] KaveriKR commented on #2035
Is it still open? , I would like to work on it.

[2019-04-01 07:37] maskaravivek commented on #2817
@KaveriKR I have already started working on it. :)

[2019-04-01 07:38] maskaravivek commented on #2035
@nfatma Is already working on this issue.

[2019-04-01 09:17] neslihanturan commented on #2698
@maskaravivek can you explain more what do you indicate by complex? At the end of the day our purpose is selecting from recently uploaded mobile uploads.

[2019-04-01 10:03] misaochan commented on #2720
If the image is triggering the exception via UploadActivity, it would be uploaded via the app, right?

@ashishkumar468 I am not seeing "CC BY" or "CC BY SA" in the license drop down shown in step 3 of the upload at all. Do you see it? I only see the 5 options that are similar to upload wizard.

[2019-04-01 10:09] neslihanturan commented on #2818
It can be about missing "Use previous title and description button" too.

On the other hand, the warning feels like if I proceed with the same file name, I will violate Commons. However we already add suffixes for same file names. Can we include some more detailed text to the warning about even f they proceed with same name, a suffix will be added to their filename. Besides can we add "don't displ

[2019-04-01 10:18] misaochan commented on #65
Ah yes, that did not turn up in my search, sorry!

[2019-04-01 10:18] #65 closed

[2019-04-01 10:39] misaochan commented on #2820
I think it's OK to set a (reasonable) max height and width, for most phone screens that should be fine IMO. My main concern would be tablet users who would have a much bigger screen and be more likely to notice. I wonder if setting the max height and width based on screen size would be a good idea? @nicolas-raoul

[2019-04-01 10:41] #2809 closed

[2019-04-01 10:52] misaochan commented on #2823
I agree, please remove it. No need for the redundancy since we already have Godacy, and it saves time and makes the Travis output a bit cleaner.

[2019-04-01 10:53] neslihanturan commented on #2823
I never use it either, and it increases complexity. Good idea to remove it @domdomegg

[2019-04-01 11:26] neslihanturan opened #2827 "Requesting reason twice on nomintion for deletion"
**Summary:**

Ideally there the reason for nomination of deletion should be asked once, we should suggest some possible reasons and we should let user edit their own reason. Currently it is asked twice. It is intentional?

**Steps to reproduce:**

Nominate an image for deletion

**Screen-shots:**
![Screenshot from 2019-04-01 14-19-22](https://user-images.githubusercontent.com/3127881/55324129-d4dc

[2019-04-01 11:53] jashpreet commented on #2296
I am having trouble going back to the same fragment instance , Can you please guide me on the same ?

[2019-04-01 14:42] misaochan commented on #2818
This poster clarified that he was actually talking about #2035 . Sorry for the false alarm!

I actually don't much see the point in the warning about the same filename since suffixes are automatically appended anyway. But if we keep the warning, I agree with @neslihanturan 's suggestion:

Shall we go with that?

[2019-04-01 14:43] misaochan opened #2828 "Hotfixes needed for v2.10.3"
- [x] Crashes on google group forum
- [x] #2720
- [ ] #2832
- [ ] #2035
- [ ] #2818

[2019-04-01 16:36] maskaravivek commented on #2827
It might have got introduced after my recent refactoring of Async tasks. :(

[2019-04-01 18:03] #2802 closed

[2019-04-01 18:07] ashishkumar468 commented on #2720
@misaochan We do not show it in the drop down, but the old images which are already licensed by them , the app needs to recognise with their license as well. Are we supposed to update the license of one of the defaults from the app or is there a better way to handle this ?

[2019-04-01 18:53] ashishkumar468 opened #2832 "Crash while adding descriptions while uploading image"
**Summary:**
App crashes with IOE while adding descriptions while uploading image.

**System logs:**

[code]

**Device and Android version:**
ANDROID_VERSION=9
BRAND=xiaomi
PHONE_MODEL=Mi A1

**Commons app version:**
APP_VERSION_NAME=2.10.2

**Would you like to work on the issue?**
Yes

[2019-04-01 18:55] ashishkumar468 commented on #2720
@misaochan  @nicolas-raoul I have probably found the root cause for the issue. For some of the users who have been using the app since a long time, the older licenses ("CC BY" & "CC BY-SA"), were most probably stored by the BasicKvStore which when being applied while upload used to throw a RuntimeException. I have added a PR for the same to remove the deprecated licenses and use the default one (C

[2019-04-02 03:34] #2813 closed

[2019-04-02 06:40] madhurgupta10 commented on #2827
@maskaravivek @neslihanturan I would like to take this up :)

[2019-04-02 07:41] maskaravivek commented on #2827
Assigned to @madhurgupta10

[2019-04-02 08:45] nicolas-raoul opened #2836 "Notification does not disappear when upload fails"
**Steps to reproduce:**

1. Upload something
2. During the upload, remove the network connection or make the Internet super slow. It might need to be done at a very specific time, you will have to try.
3. The upload becomes marked as "Failed" in the Home activity.
4. Problem: The notification is still pretending to be progressing (in my case it says "Finishing uploading"). Expected: The notificati

[2019-04-02 09:48] nicolas-raoul commented on #2074
@ujjwalagrawal17

I guess you mean "display uploads in the second tab"

"Leaderboard" is the name of the whole feature.

[2019-04-02 10:14] neslihanturan commented on #2786
A similar crash happens when we reach to category question before image is loaded:

[code]

[2019-04-02 10:18] #2781 closed

[2019-04-02 10:20] neslihanturan opened #2837 "Peer review image does not load"
**Summary:**
After recent changes on Peer review, the image does not load on first start of the activity. There is no problem about API response.

[2019-04-02 10:37] nicolas-raoul commented on #2074
@Lyndaar Are you planning to apply for Outreachy? The deadline is very soon.

[2019-04-02 10:42] madhurgupta10 commented on #2837
@neslihanturan I would like to solve it :)

[2019-04-02 10:56] misaochan commented on #2720
Makes sense. Thanks @ashishkumar468 . :) I'll close this issue now that your PR is merged.

[2019-04-02 10:56] #2720 closed

[2019-04-02 11:00] neslihanturan commented on #2837
Thanks @madhurgupta10 :) But you have some open pull requests which needs some work. It would be better finish them first. After they are merged, if this issue will be still available, you can surely pick.

[2019-04-02 11:03] Lyndaar commented on #2074
yeah, i have made a contribution though, but i am still confused , cause i
thought the api building was for the web guy while we the android dev
consumes the api to build or improve the functionalities of the app

On Tue, Apr 2, 2019 at 11:37 AM Nicolas Raoul <notifications@github.com>
wrote:

[2019-04-02 11:10] madhurgupta10 commented on #2837
@neslihanturan Sure no problem :)

[2019-04-02 11:17] #2825 closed

[2019-04-02 11:31] madhurgupta10 commented on #2827
@neslihanturan Shall I remove the first popup?

[2019-04-02 11:34] #2779 closed

[2019-04-02 11:36] neslihanturan commented on #2827
This issue needs some more discussion before implementation. Firstly I want to make sure does this second dialog is intentional or not?

[2019-04-02 11:37] madhurgupta10 commented on #2827
@neslihanturan Okay I will wait before implementation 👍

[2019-04-02 11:50] neslihanturan commented on #2820
Anything based on px can be noticed based on different devices. But we can not get a dp based API response either. So I think we can calculate required values based on the screen if this won't be too complicated.

[2019-04-02 11:55] neslihanturan commented on #1450
Re: place states, why would we need "Needs photo" or "has photo" at all? After all, Nearby by its very definition is "nearby places that need photos", so every single Wikidata item that we even fetch would need a photo and not have a photo. I would think that place types just needs (1) "still exists" and (2) "has Wikipedia article"?

I think we considered including Nearby Places Has Photo several

[2019-04-02 12:10] nicolas-raoul commented on #2074
In this case, there is no API available, and we don't have separate web/android teams, so we need to be on both sides :-)

[2019-04-02 12:24] nicolas-raoul commented on #2820
Commons is the highest-consuming app when I look at my 10GB mobile data plan usage, even though I don't use the app that much and don't upload more than 100MB per month. I guess many people in other countries have smaller data plans and no WiFi. So, in all activities, we should really try our best to avoid using too much bandwidth, while still showing picture in a quality that satisfies pro photog

[2019-04-02 12:28] nicolas-raoul commented on #1450
Seeing existing pictures is very useful in all places that are not super-touristic.
Looking at it, if I see almost no pictures on the map, I know that I should shoot everything interesting, whereas if there are many pictures it means that probably everything has been shot already I move on quickly.
Especially in the countryside, most interesting places do not have a Wikidata item in the first plac

[2019-04-02 18:12] misaochan commented on #1450
Hmm, so in that case we are intending to merge viewing of existing pictures with Nearby? I was originally envisioning that we would eventually have a separate map of existing pictures in Explore, where it seems to be more appropriate in my opinion.

If you guys strongly feel that it should be merged with Nearby, I am OK with that, but @neslihanturan you do realize that this will increase your work

[2019-04-02 18:15] misaochan commented on #2820
I agree with this. It may not be the best quality, but IMO people who are wanting to view pictures in ultra high res are probably not going to be doing it on their phone anyway. :)

[2019-04-03 03:57] sivaraam opened #2838 "Encourage testers to use alpha"
**Summary:**

The 'Testers' section of the ['Volunteers Welcome'](https://github.com/commons-app/apps-android-commons/wiki/Volunteers-welcome%21)Wiki page now reads:

Given that we now release an alpha versionaybe it could be changed into something like,

[2019-04-03 03:58] sivaraam commented on #2838
BTW, I used to edit Wiki pages long time ago. Now I don't see the option to Edit them. Has editing been restricted to collaborators?

[2019-04-03 04:10] nicolas-raoul commented on #2838
Indeed this seems to be the current configuration:
![Screenshot from 2019-04-03 13-09-40](https://user-images.githubusercontent.com/99590/55452256-c91c0400-5611-11e9-8952-ba7b0aa21310.png)
I can't remember a discussion about changing it :-/

[2019-04-03 07:01] KaveriKR opened #2840 "Notification badge on home page remains highlighted always"
**Summary:**

The notification badge on the home page remains highlighted even after reading the notification, according to general understanding it should only be highlighted when we have any new unread notifications.

**Device and Android version:**

Teted on Moto G6 - version Android P. API -28

**Screen-shots:**

![Screenshot_20190403-120645](https://user-images.githubusercontent.com/30476249/

[2019-04-03 08:42] madhurgupta10 commented on #2770
@nicolas-raoul this code is the root of this problem, we need to remove it
`bottomSheet.getLayoutParams().height = getActivity().getWindowManager()             .getDefaultDisplay().getHeight() / 16 * 9;`

[2019-04-03 08:44] nicolas-raoul commented on #2770
Does it work well without? :-)

On Wed, Apr 3, 2019 at 5:42 PM Madhur Gupta <notifications@github.com>
wrote:

[2019-04-03 08:46] madhurgupta10 commented on #2770
@nicolas-raoul Yes, I have tested it, but if we remove it the list would occupy the all available screen optionally we can add marginTop to maintain the same ratio

[2019-04-03 08:48] FelixEder commented on #395
@nicolas-raoul I wont have time to finish this issue sadly, could you remove the assigned-label so someone else can work on this? :ice_cream:

[2019-04-03 08:55] nicolas-raoul commented on #395
@FelixEder Done, thanks for letting us know! :-)

[2019-04-03 08:58] madhurgupta10 commented on #2770
![Screenshot_20190403-142646](https://user-images.githubusercontent.com/30932899/55466382-afcc8500-561c-11e9-8d8a-b674e261db36.png)
![Screenshot_20190403-142704](https://user-images.githubusercontent.com/30932899/55466383-b0651b80-561c-11e9-9ff0-1fd0271f38ee.png)

[2019-04-03 09:01] ashishkumar468 commented on #2770
@madhurgupta10 The list inside the bottomsheet is scrollable, right ?, so even if we fix the height of the bottom sheet , the list would have had all the items irrespective of the orientation, right ?

[2019-04-03 09:09] madhurgupta10 commented on #2770
@ashishkumar468 The list inside is 100% scrollable, the problem we had earlier was, when the view is generated in potrait mode the height was set according to the potrait mode, when we rotate the height of the cointainer remained same as of potrait, due to the we were not able to see the rest of the list which was already generated but was hidden.

[2019-04-03 11:41] madhurgupta10 commented on #2820
@misaochan Yes, I recently added a click event for the POTD where a user who is interested in the photo can click on it and know more about it.

[2019-04-03 11:52] neslihanturan commented on #1870
Hi @misaochan , I designed some mockups based on your definition. Waiting for feedbacks:)
Not: First and second icons are alternatives to each others

![missingInfoUI](https://user-images.githubusercontent.com/3127881/55476729-07202480-5620-11e9-8eb6-97c1a8ee3877.png)

[2019-04-03 12:33] ashishkumar468 commented on #2837
@neslihanturan I was able to see the image, by

Do you mean that when the ReviewActivity is opened for the first time, the image is not displayed and then from the next time you open the Activity, the image loads fine ?

[2019-04-03 12:53] neslihanturan commented on #2837
Sorry for missuse of language @ashishkumar468 . What I means is that when the ReviewActivity is opened for the first time, the image is not displayed and then I clicked to skip this image button. An image finally came. I didn't tried by revisiting the activity.

I can reliably reproduce this issue on 2.10.1-debug-master~02ad3b2dc with below verbose logs after clicking review:

[code]
![Screenshot

[2019-04-03 12:55] neslihanturan commented on #2837
Strange note: Skip this image button and revisiting the activity doesn't help us to make it load either.

[2019-04-03 13:02] neslihanturan commented on #2837
Here is the GIF
![ezgif-3-ef69ec310e2f](https://user-images.githubusercontent.com/3127881/55480803-b9a8b500-5629-11e9-8381-2483a751f278.gif)

[2019-04-03 13:16] higimo commented on #2716
@nicolas-raoul there is no settings (Настройки) and logs (Лог or Журнал) button in this interface. Screenshot:
![Screenshot_free nrw commons](https://user-images.githubusercontent.com/2804205/55481536-499b2e80-562b-11e9-8867-260e2b14c258.jpg)

[2019-04-03 13:30] neslihanturan commented on #1450
When I consider our future new UI plan which will be implemented at the end of 2019 and will include bottom tabs as Home, Nearby, Explore, My contributions, I thought it can be confusing to have 2 maps on both Nearby(we consider renaming nearby though) and Explore tab. So my vote is handling all map related tasks from one place.

[2019-04-03 14:08] madhurgupta10 opened #2842 "Hosting app on Appetize"
**Summary:**
Appetize provides a free evaluation of the app, new contributors do not need to install/build the app to check it.

https://appetize.io/

Check out this [susi ](https://appetize.io/app/mbpprq4xj92c119j7nxdhttjm0?device=nexus5&scale=75&orientation=portrait&osVersion=8.1)hosted app from fossasia

**Would you like to work on the issue?**
Yes

[2019-04-03 15:46] misaochan commented on #1870
@neslihanturan Thanks for the mockups! To be honest I could not understand what the X symbol in the 2nd screenshot means, haha. The first one with the "i" icon looks OK to me but I'm not sure if it appropriately conveys a sense of "something is missing"? I would vote for a "!" symbol instead, to denote missing information.

I like the warning on the third screenshot. Maybe the text could say inste

[2019-04-03 15:49] misaochan commented on #2838
We did this because there was a period of time when a spammer kept creating nonsensical wiki pages and overwriting our work. :/

I wish there was a way to fine-tune the permissions (IMO contributors should all be able to edit wikis, which would still exclude spammers since they wouldn't have had a merged PR).

[2019-04-03 15:51] misaochan commented on #1450
@neslihanturan OK, I will leave the decision up to you. :) If you find that implementing a map of existing pictures takes too much time, you can just remove the filter for that and create an issue for a future enhancement. Maybe for next year's GSoC/Outreachy? ;)

[2019-04-03 16:00] misaochan commented on #2842
Looks good to me, as long as it doesn't break any policy? @nicolas-raoul

[2019-04-03 16:03] neslihanturan commented on #1870
I thought I used an "!" sybmol indeed, sorry for the mistake:)

I am adding it to complete new UI mockups which I will be posting tomorrow.

[2019-04-03 16:15] nicolas-raoul commented on #2842
Can accounts be transfered? Can several people manage a single app?

[2019-04-03 16:17] misaochan opened #2843 "New main screen UI in v3.0"
This task was mentioned in our PG proposal and is slated for the end of our grant, but I forgot to create an issue for it. :) Copying over from the proposal:

After the new features have been completed, we would like to tie everything together in a new main screen UI. Since the creation of the app, the focal point of the main screen has been the user's past contributions. However, the app is now v

[2019-04-03 17:24] ashishkumar468 opened #2845 "Null username in ReviewActivity for the review image"
**Summary:**
null is shown instead of the actual username in ReviewActivity for the image to be reviewed.
**Steps to reproduce:**
Click on Review from the nav drawer
What did you expect the app to do, and what did you see instead?
Instead of null, the actual username should have been shown.

**Device and Android version:**
One Plus 3T, Android &

**Commons app version:**
2.10.2-debug-master~081555

[2019-04-03 23:48] madhurgupta10 commented on #2842
https://blog.fossasia.org/tag/appetize-io/
I found this nice blog

[2019-04-04 00:37] madhurgupta10 commented on #2842
People can manage a single app using the token and the key

[2019-04-04 01:59] madhurgupta10 opened #2848 "Skip this image title should be in center in landscape mode"
**Summary:**
Skip this image title should be in the center in landscape mode just like portrait mode.

**Steps to reproduce:**
Navigation Menu > Review > Rotate the Device to Landscape

**Device and Android version:**
latest betaDebug on Xiaomi Mi A1 with API level 28 stock android.

**Screen-shots:**
![Screenshot_20190404-072614](https://user-images.githubusercontent.com/30932899/55524551-67a8738

[2019-04-04 04:32] madhurgupta10 opened #2850 "Moving hardcoded URLs from About Activity to a constant file"
**Summary:**
There are many hardcoded strings which makes them difficult to locate and change the URL in case needed, so I think we should move them build.gradle file.

like
[code]

**Would you like to work on the issue?**
Yes

[2019-04-04 05:49] nicolas-raoul commented on #2820
The full image should only be downloaded when the user clicks to view the image. Not when just displaying a thumbnail of it in a widget or other activity such as Explore.

[2019-04-04 05:52] nicolas-raoul commented on #2837
I can confirm:
1. Open the app
2. Tap "Review"
3. The image never loads, the blue circle keeps spinning
Even on super-fast WiFi

[2019-04-04 05:58] nicolas-raoul opened #2852 "Limit peer review to users above level 10"
Peer review can not be done by a beginner. It takes quite some experience to know what is on-topic and off-topic, what is a copyright violation or not.

So, I suggest hiding the navigation drawer's "Review" item from users who have not yet reached level 10.

I chose 10 because it is a round number, but I am open to other suggestions.

This means storing the level somewhere when it is retrieved fro

[2019-04-04 06:01] madhurgupta10 commented on #2852
@nicolas-raoul Instead of hiding, what if we have a dialog which tells the user why he/she can't review, this will motivate him/her to reach next levels quickly :)

[2019-04-04 06:08] nicolas-raoul commented on #2838
@sivaraam Updated, thanks! :-)

[2019-04-04 06:54] neslihanturan commented on #2852
If we will implement this, we can calculate achievements on background on application start. Or as @madhurgupta10 said, we can inform user. We can first "if you like to discover review item please check your achievement score first, and redirect user to achievements", on next visit if they are under the score inform that why we have such mechanism. If they exceed, let them review.

But this should

[2019-04-04 08:23] nicolas-raoul opened #2853 "Show settings even when not logged in"
**Steps to reproduce:**

1. Log out
2. Open navigation drawer

Expected: Settings item exists.
Actually: No Settings item

It prevents users from setting up night mode, sending logs, and other things that do not rely on login.

Some settings might need to be hidden though? The only one I can think of are:
- "Recent upload limit"
- "Use custom author name"

Not hiding them would not be the end of t

[2019-04-04 08:25] nicolas-raoul commented on #2716
Thanks for noticing, I created a separate issue for that: https://github.com/commons-app/apps-android-commons/issues/2853

Meanwhile, you can also take the log with ADB logcat: https://www.youtube.com/watch?v=W6iDw76UpQw

[2019-04-04 08:28] nicolas-raoul commented on #1450
Not that I have any power to decide, but as a user I would probably find it more convenient to have a single map. The name "Nearby" can be used for both _nearby images_ and _nearby places that lack images_.

[2019-04-04 08:35] neslihanturan commented on #1450
@nicolas-raoul I assumed Nearby naming will change not because has/lack images, it was because of search this area button. Sorry for mixing all issues together, but when it comes to UI decisions I try to connect dots.

To sum up the issue, it seems like we will go with the design 2, try to have a single map and have 2 chips instead of 3 (with better namings).

[2019-04-04 08:49] nicolas-raoul commented on #1870
The band-aid idea is interesting, but a ! is probably more understandable indeed.

By the way, in the OpenStreetMap community, the icon for things to fix is the bug (even though it is not software bugs):

![Screenshot from 2019-04-04 17-40-47](https://user-images.githubusercontent.com/99590/55542335-cbf62200-5701-11e9-818d-67c256ef3f91.png)
![adb-screenshot](https://user-images.githubusercontent.c

[2019-04-04 08:58] nicolas-raoul commented on #2842
I just looked at the pricing:
![Screenshot from 2019-04-04 17-55-03](https://user-images.githubusercontent.com/99590/55542866-e8468e80-5702-11e9-9347-979c11abd8f5.png)
From that, I guess that we will not advertise appetize.io as a mainstream way to try the app, as we would quickly overflow the free tier. So setting up scripts to automatically push APKs is probably not worth the trouble.
That being

[2019-04-04 09:06] nicolas-raoul commented on #2852
@madhurgupta10 Indeed, displaying the button and showing an explanation can be a way to motivate people, indeed. We don't want to make people play the system, though, for instance by uploading 1000 picture of a mushroom and embedding them all in sub-pages of the Swahili Wikipedia, for instance.

@neslihanturan  You are right. I am confident that we can do this in a careful way. StackOverflow has t

[2019-04-04 09:09] madhurgupta10 opened #2854 "Navigation Drawer is huge in Tablets"
**Summary:**
The navigation drawer seems to occupy extra space in tablets.

**Device and Android version:**
Custom Tablet 9 inch API 28 stock android.

**Commons app version:**
latest betaDebug

**Screen-shots:**
![screenshot-2019-04-04_14 35 10 181](https://user-images.githubusercontent.com/30932899/55543795-65fca100-56e7-11e9-8129-442c22c7ca11.png)
![screenshot-2019-04-04_14 35 40 499](https://u

[2019-04-04 09:11] nicolas-raoul commented on #2854
How does it look in other apps such as Gmail?

[2019-04-04 09:14] madhurgupta10 commented on #2854
@nicolas-raoul On other stock android apps such as Contacts, it is like this
![screenshot-2019-04-04_14 42 42 843](https://user-images.githubusercontent.com/30932899/55544144-179bd200-56e8-11e9-8964-5951c932d16c.png)
![screenshot-2019-04-04_14 42 53 771](https://user-images.githubusercontent.com/30932899/55544145-179bd200-56e8-11e9-91a6-6c8d43400ae4.png)

[2019-04-04 09:35] ashishkumar468 commented on #2837
I was able to produce this in master, seems like
`if (pair.second) {
                        return new Media(pair.first.replace("File:", ""));
                    }
                    throw new Exception("Page does not exist");`
always throws exception even in 5 retries as pair.second is always false for all 5 retries. We will need to decide what do do, when we have retried the threshold number

[2019-04-04 11:59] madhurgupta10 opened #2857 "Achievements Activity getting recreated on rotation"
**Summary:**
Achievements Activity is getting recreated on rotation, this should not happen.

**Steps to reproduce:**
Go to Navigation Drawer > Click on Achievements Icon, Rotate the device

**Device and Android version:**
Xiaomi Mi A1 API 28 stock.

**Commons app version:**
latest betaDebug

**Would you like to work on the issue?**
Yes

[2019-04-04 12:09] maskaravivek commented on #2850
These URLs would be the same for all build flavors. To tidy it up you may move it to a constants file.

[2019-04-04 12:10] silkypriya commented on #2658
Hello @nicolas-raoul,
I have made PR #2858 solving this issue. Sorry I took so long to implement. Kindly review.
Thank you!

[2019-04-04 12:23] madhurgupta10 commented on #2850
@maskaravivek I reason I wanted to move them to build.Config because of the Unit Test, I want to write the Unit test for About Activity, so it will be easy to check on click if the correct URL intent is fired or not.

[2019-04-04 12:28] madhurgupta10 commented on #2850
@maskaravivek Should I create a class and add all the URLs to it?

[2019-04-04 13:35] misaochan commented on #2852
Good idea! But umm, is level 10 a bit high? Maybe 5 or something...? I think you are the only one here who has level 10+, @nicolas-raoul . ;)

.

[2019-04-04 13:37] misaochan commented on #1450
Sounds good!

Re: the naming, yeah, I think we were discussing this in another issue #2190 . I think the conclusion was that we want to stick to Nearby?

[2019-04-04 14:32] maskaravivek commented on #2850
Will it be difficult to write a unit test if the urls are in a constants file?

[2019-04-04 17:35] sivaraam commented on #2838
Looks great, thanks!

[2019-04-04 17:35] #2838 closed

[2019-04-04 19:26] silkypriya commented on #2853
Hello @nicolas-raoul, can I work on this issue?

[2019-04-04 21:02] ujjwalagrawal17 commented on #2415
I was going through the links in the issue . The project seems super amazing. :100:

[2019-04-05 00:18] madhurgupta10 commented on #2850
@maskaravivek I think, test can be written easily by using **IntentMatchers.hasData()** and passing the URL string from the constant file :)

[2019-04-05 03:42] nicolas-raoul opened #2861 ""Secret combo" to grant all privileges"
# Context
We are [starting](https://github.com/commons-app/apps-android-commons/issues/2852) to limit some features to only users who have reached a certain level.

# Problem
While generally a good thing, there are some side-effects on people who legitimately should be able to use all features:
- Developers with test accounts
- Long-time Wikignomes who specialize on certain tasks (for instance pre

[2019-04-05 03:43] nicolas-raoul commented on #2852
Yes sure, 5 is probably enough.
But if it is only to allow developers to performs tests, then maybe implementing https://github.com/commons-app/apps-android-commons/issues/2861 is safer strategy? :-)

[2019-04-05 04:12] maskaravivek commented on #2269
In fact, we require something exactly like Firebase Remote config but due to privacy reasons, we might not want to use a 3rd party service.

[2019-04-05 04:28] maskaravivek commented on #2861
Related: #2269.

Based on a combination of factors, features can be switched off/on for a particular user. On top of mind, I have these parameters:

- has user enabled experimental features or not (Could be enabled using "Secret combo")
- Flavor: Beta/Alpha/Prod
- Android Version
- Username
- Country or location

[2019-04-05 04:48] maskaravivek commented on #2658
Does the Media detail not show that the image has been nominated for deletion. Maybe we can fix that.

I agree that this makes exploring images less enjoyable and it was duly noted in #2017.

IMO, instead of hiding such images completely, we should simply show that the image was nominated for deletion. That itself would discourage people from uploading such images.

Yes, a separate API call would

[2019-04-05 04:54] maskaravivek commented on #2837
Is it expected or does the page actually exists? For what page is the app checking @ashishkumar468

[2019-04-05 07:45] nicolas-raoul commented on #2853
@silkypriya Yes it is yours :-)

[2019-04-05 08:48] nicolas-raoul commented on #2658
Great idea!
This should be shown:
1. Higher priority: in the media details: "Nominated for deletion" label instead of the "Nominate for deletion" button.
2. Lower priority (can be a different issue) on the thumbnail in the list. Because we sometimes get shocking pictures (nudity). For instance, we could blur the thumbnail and overlay on it a very big "NOMINATED FOR DELETION" in large red letters.

[2019-04-05 10:46] madhurgupta10 commented on #2827
@neslihanturan Any update on this?

[2019-04-05 12:40] silkypriya commented on #2658
@nicolas-raoul @maskaravivek

In media detail it shows "Nominated for deletion" label in case it has been nominated for deletion.

![11111](https://user-images.githubusercontent.com/25826255/55626838-54d99000-57cc-11e9-87d9-1eb7806d82eb.png)

Shall I close PR #2858 or am I suppose to update the PR for the changes ?

Yes, we can have the label on the thumbnail in the list. This way the user need no

[2019-04-05 12:48] nicolas-raoul commented on #2658
Close or update: I would say update. Sorry for changing my mind!

Shall I proceed: If you want, thanks! In that case, I suggest creating a sub-branch, so that it can be a different pull request, so that we can merge the first one while you are working on the second.

[2019-04-05 12:48] nicolas-raoul commented on #2658
By the way, the screenshot looks great! :-)

[2019-04-05 13:08] madhurgupta10 commented on #2842
@nicolas-raoul @misaochan I generated a singed apk for v2.10.2 prodRelease and uploaded it to appetize, check out https://appetize.io/app/8ywtpe9f8tb8h6bey11c92vkcw

[2019-04-05 13:19] madhurgupta10 opened #2864 "Using Outlined Edit Text from Material Design for Login Screen"
**Summary:**
We use the new Outlined Edit Text from Material Design which is used by Gmail. It looks super cool :)

link - https://material.io/design/components/text-fields.html#usage

**Screen-shots:**
![image](https://user-images.githubusercontent.com/30932899/55630484-68d4c000-57d3-11e9-8cc9-88cd74618641.png)

**Would you like to work on the issue?**
Yes

[2019-04-05 13:47] madhurgupta10 opened #2865 "Fade the background when FAB is open"
**Summary:**
Currently, when the FAB is open it is hard to see the small camera and gallery icons, many apps like Hangouts handle this by fading the background.

**Screen-shots:**
![Screenshot_20190405-191350](https://user-images.githubusercontent.com/30932899/55632177-63797480-57d7-11e9-9302-7c911eb31299.png)

**Would you like to work on the issue?**
Yes

[2019-04-05 14:38] maskaravivek commented on #2864
I don't think that just updating the login screen with this UI would be a good idea.

[2019-04-05 14:43] madhurgupta10 commented on #2864
@maskaravivek we can replace all edit text with it, so that the UI is unified across the app.

[2019-04-06 07:24] silkypriya commented on #2853
Hello @nicolas-raoul,
PR #2867 fixes this. Kindly review.
Thank you!

[2019-04-06 23:57] domdomegg opened #2868 "Fixing espresso tests"
**Summary:**

Since #2829 was merged Espresso tests have been broken. Paging @maskaravivek as I seem to be going in circles trying to fix the Kotlin build errors :(

**Logs**

master as-is
[code]

master using `.isBlank()`: compiles successfully, get runtime errors:

[code]

[code]

[2019-04-07 09:51] maskaravivek commented on #2868
Will look into this issue.

[2019-04-08 01:17] Jantzilla opened #2869 "Persist "menu option dots" on menu selection"
**Summary:**

Currently the menu options icon disappears when it is selected. It may be useful to keep the icon visible in order to quickly close the options menu, namely if more options are added to this list, users are not aware that pressing back closes this menu, or the user is operating the device with limited accessibility.

**Steps to reproduce:**

From the home screen press the "notificati

[2019-04-08 07:34] #2845 closed

[2019-04-08 07:43] nicolas-raoul opened #2870 "Pressing "Back" on home activity opens tutorial"

[2019-04-08 07:44] nicolas-raoul opened #2871 "Wrong thumbnails appearing and flickering"
when scrolling in Explore and home activity.

It started happening rather recently.
It now happens all the time, even on super-fast WiFi.

[2019-04-08 09:16] neslihanturan commented on #746
For slow network discussion:
Maybe we can remind limited connection mode button with a silent snackbar and/or an animation on limited connection more toggle when we detect slow network, instead of forcing user.

We plan to have a limited connection mode toggle on the action bar as mentioned in #2843 . A user may want to use the app in normal mode in general (ie. using the map) but just want to wai

[2019-04-08 12:32] misaochan commented on #1962
Just received an email that reminds me that the hackathon is coming up. :) Quite a few of us will be there.

We should probably start collecting some tasks that we can recommend to participants who are interested. I added the `hackathon 2019` label to some of them, anyone else please feel free to add the label to other tasks as you see fit.

[2019-04-08 12:36] misaochan commented on #1296
For the hackathon this year, I think it would be nice to work on creating a more full-featured widget so people can check the nearest place that needs photos, and upload photos for it without firing up the app.

[2019-04-08 12:39] madhurgupta10 commented on #1296
@misaochan Sure, I think a separate Home Screen Widget would be better as android support multiple types of home screen widget. The Pic of the Day Widget was supposed to be used by people who want to discover new commons every day, but for power users, a new fully featured would be better.

[2019-04-08 12:46] misaochan commented on #2861
Should this work for prod server also or only for beta? I'm not sure if it's worth the added complexity of coding all the level restrictions, if it can be bypassed so easily. A simple search would bring the "secret" up, even if the person has zero experience with Wikimedia.

I would be in favour of only allowing this shortcut for the beta server for convenience sake. Devs can always temporarily ha

[2019-04-08 12:52] misaochan commented on #2852
Not really for the developers, I just thought that 10 is a bit too high. :) Devs can always hardcode or mock their level with the debugger.

[2019-04-09 01:45] nicolas-raoul commented on #2861
I was thinking for both servers.
I believe only a very small fraction of the users would think of searching for secret cheatcodes.

[2019-04-09 03:39] nicolas-raoul commented on #75
I believe the project above uses the normal Tensorflow. Using Tensorflow Lite will certainly reduce size a lot, but still not enough I am afraid. Other things to try:
https://developer.android.com/topic/performance/reduce-apk-size
https://stackoverflow.com/questions/51784882/how-to-decrease-the-size-of-android-native-shared-libaries-so-files/51814290#51814290

[2019-04-09 08:50] madhurgupta10 commented on #75
@nicolas-raoul
Thanks for the links, I will explore them :+1

[2019-04-10 01:00] jamespm4 commented on #2818
I'm looking for a first repo to work on, and I'm interested in working on this.

[2019-04-10 09:19] amire80 opened #2872 "Suggested fixes for "showcase view whole nearby activity""
**Summary:**

A couple of things should be fixed for the benefit of the users and the translators.

**Steps to reproduce:**

Check the messages "showcase view whole nearby activity" and "search this area".

The message "showcase view whole nearby activity" currently says: "Clicking on 'SEARCH THIS AREA' locks the map and launches a nearby search around that location."

The words "SEARCH THIS AREA"

[2019-04-10 09:22] amire80 opened #2873 "Review buttons use all-caps"
Buttons such as "NO, MIS-CATEGORIZED", "SEEMS FINE", "NO, OUT OF SCOPE", etc., use all-caps. This is a bad practice for translatable software user interface strings, because most alphabets don't have capital letters, and in alphabets that do have them this has questionable readability.

All of them should be changed to regular capitalization.

[2019-04-10 09:27] amire80 opened #2874 ""check category failure title" and "check category success title" shouldn't use the words "success" and "failure""
These two messages say:
* Requesting category check: Success
* Requesting category check: Failed

Using the words "Success" and "Failed" in user interface messages is a bad practice. See the explanation here: https://www.mediawiki.org/wiki/Localisation#Avoid_jargon_and_slang .

They should be rephrased in a more human way. For example:
* Category check requested
* Category check request didn't wor

[2019-04-10 09:42] neslihanturan commented on #2873
Thanks for letting us know @amire80 . They are capital because the design guideline we followed suggests using capital for such buttons when the language support capital letters: https://material.io/design/components/buttons.html#anatomy
Would it be helpful for translations if we use non-all-capital strings in string resources and capitalize them programmatically for buttons only if the language l

[2019-04-10 10:10] amire80 commented on #2873
Thanks for the link.

It's good to see that the Material design guidelines acknowledge that only some languages have capitalization, and explains that the purpose is "to distinguish the text label from surrounding text". However, it's unfortunate that it doesn't provide any solution for distinguishing the text label in languages that don't have capitalization.

The same guidelines also say: "Don’t

[2019-04-10 10:31] neslihanturan commented on #2873
Styling, coloring can be options

I agree we should have use shorter strings.

 This was a new feature implemented during the previous hackathon, thus its UI planned in very short time. Let's wait opinions from others, maybe we can consider complete new UI as you suggested.

[2019-04-10 10:53] misaochan commented on #2818
@jamespm4 It is yours. :)

[2019-04-10 11:10] madhurgupta10 opened #2875 "Network Error while Logging In"
**Summary:**
Getting a network error on login. I have tried with multiple accounts and on multiple devices. The prodDebug works fine, this problem is only with the betaDebug.

**Steps to reproduce:**
Login to the app with the latest betaDebug build.

**Device and Android version:**
Google Pixel 3 API level 28 stock android.

**Commons app version:**
betaDebug
2.10.2-debug-master~08a555c09

**Logs*

[2019-04-10 11:33] neslihanturan commented on #2875
@madhurgupta10 are you sure there are no network issues? Because it happens both on Explore and login.

[2019-04-10 11:34] neslihanturan commented on #2875
Can you also provide some logs here.

[2019-04-10 11:42] madhurgupta10 commented on #2875
@neslihanturan I have added logs to the issue, and yes I am sure there are no network issues because all other apps work just fine even the prodDebug Commons.

[2019-04-10 12:29] ashishkumar468 commented on #2875
@madhurgupta10  Is this happening to you on real devices as well, a possible cause according to [this](https://stackoverflow.com/questions/45923747/android-emulator-chain-validation-failed-connecting-developers-machine-with-se?rq=1) could be wrong date and time of the device. Can you verify that

[2019-04-10 13:17] VitalyVPinchuk commented on #2875
I'm having the exact same problem since 05/04/2019. I can't log in to beta cluster.

[2019-04-10 13:28] neslihanturan commented on #2875
Can you identify when this actually started? You can move on commit history by checking out to previous commit

[2019-04-10 14:06] misaochan commented on #2875
Thanks for reporting this! I agree that if prod works for you, the issue most likely lies with the app. We should look into the `javax.net.ssl.SSLHandshakeException: Chain validation failed` error, that looks like the culprit.

Are you interested in working on this @madhurgupta10 ?

[2019-04-10 14:07] madhurgupta10 commented on #2875
Yes, it is happening even on Physical Devices

[2019-04-10 14:08] madhurgupta10 commented on #2875
I would be happy to solve it, but I need to look into the issue more carefully to find the solution.

[2019-04-10 18:52] marcin-kwasniak commented on #2874
Hi, I made a correction for English, German and Polish.

[2019-04-11 08:31] misaochan commented on #1296
Hmm, interesting. I was thinking of just adding the other features on to pic of the day, since the nearest place won't take up more space than 1 row. But perhaps a separate widget would be cleaner indeed.

[2019-04-11 08:32] #1296 closed

[2019-04-11 08:32] misaochan commented on #1296
Reopening as per discussion at #2862

[2019-04-11 14:23] neslihanturan commented on #1499
Current implementation seems good in terms of UI, but after our filtering nearby UI, this UI will need some change (see #1450 ). My suggestion is keeping colors for place states. Adding stars for bookmarks since an item can be has photo/needs photo and bookmarked at the same time, we can't use color anymore.
![path5235](https://user-images.githubusercontent.com/3127881/55962990-a1b0e100-5c7a-11e9-

[2019-04-11 14:30] misaochan commented on #1962
Just thought about this - we were discussing adding a map of places that DO have pictures, perhaps displaying each picture on the map based on its coordinates. Something like this:

![panoramio-map](https://user-images.githubusercontent.com/3611199/55965420-e90a9200-5cb9-11e9-8f10-2c069dac40a7.png)

How about adding this task for the hackathon? We can work on it as a standalone feature during the

[2019-04-11 14:37] misaochan commented on #1499
I love the "my bookmarks" filter! :)

I also like the stars idea, but how about just having an entire star instead of a star inside a pin? IMHO the star inside the pin looks a little strange, and at first glance it is not so easy to tell which ones have stars in them.

[2019-04-11 14:53] neslihanturan commented on #1962
@misaochan this looks exciting. Do you mean after filters are implemented and they choose to include "places has photo" they will see photos instead of markers? This looks very nice on such a big image but IMO images as small as our map markers won't be very understandable. On the other hand we can display very small images. With very small images:
![smallImagesOnMAp](https://user-images.githubuse

[2019-04-11 15:01] neslihanturan commented on #1499
MY only concern with just stars is, they can be felt something belong the map. Besides I don't want to hide the marker completely because it will cover the marker color so the place type information too.
Here some other star ideas which does not cover place type information:
![otherStarStyles](https://user-images.githubusercontent.com/3127881/55967970-d83f2980-5c83-11e9-9f9c-8ef9684fc126.png)

[2019-04-11 19:42] neslihanturan commented on #2843
I tried to follow this specification for mockups, but here are some problems I faced:

    - Unread notifications as a bell icon
    - Limited connection mode toggle

After we have a bottom bar, keeping a global action bar for all screens reduces the area when considering the actions belong to each screen. Ie. Exploring have an search field, which I really like, on toolbar. Adding a global toolbar

[2019-04-11 19:55] neslihanturan commented on #2843
Adding my current Explore screen design for reference to discussion:
![mainUI3Explore](https://user-images.githubusercontent.com/3127881/55988545-cf168280-5cac-11e9-8161-384f76cb50ec.png)

[2019-04-11 20:07] neslihanturan commented on #1870
I liked the creative approach of this bugs, but it somehow scares me. I am not sure if it is a professional deformation or a regular user feeling though:)

[2019-04-12 08:11] misaochan commented on #1962
Yes! The first design looks great to me :D I think it would be nice for users to be able to see small thumbnails on the map, it would pique their interest more compared to having to click on the pins to see anything.

This was what I was initially thinking, however Nicolas and you preferred having them in Nearby? Personally I could go either way, so it's up to you (or maybe others would like to ch

[2019-04-12 08:25] misaochan commented on #1870
Ummm... another vote against the bugs here. Not good for us entomophobes... ^^;;

[2019-04-12 09:34] neslihanturan commented on #2843
Here is my Nearby suggestion:
![neNearby](https://user-images.githubusercontent.com/3127881/56027673-281efe80-5d1f-11e9-8cdc-a73f2249c890.png)

[2019-04-12 09:49] neslihanturan commented on #746
Hi team, for upload queue UI, I loved the designs proposed by @psh :
![image](https://user-images.githubusercontent.com/3127881/56028178-40dbe400-5d20-11e9-9597-d00466c93054.png)

But they are not very similar with our existing constibutions list style:
![image](https://user-images.githubusercontent.com/3127881/56028231-5bae5880-5d20-11e9-8114-49fabdb1d15d.png)

So here is my question, should I ke

[2019-04-12 10:01] neslihanturan commented on #2843
- "Welcome back, username!" with level badge, upload stats and achievements displayed
    - News about ongoing campaigns
    - The nearest place that needs pictures
    - The picture being uploaded currently (with option to pause/resume) and queue of other pending uploads. Or, if there is no picture being uploaded or in the queue, the most recent picture uploaded
    - "To do list" of uploaded pic

[2019-04-12 14:37] neslihanturan commented on #1962
The decision depends on our purpose. If we want to do something like the image you shared, then it should be on explore IMO. On the other hand if we just want to display small images instead of markers, we can put it in Nearby and use the first design I shared. My final decision is keeping it on Nearby.

[2019-04-13 09:57] misaochan commented on #746
I like the proposed designs, too. :) A few considerations:
- After the advent of #2843 , I don't think the currently-uploaded file(s) should be tied with "contributions" anymore. Rather, IMO it should be in 'Home' - you would be able to pause/resume uploads from there, and perhaps see thumbnails of the last few images uploaded. For instance, like these horizontal scrollview cards in Google Play:

[2019-04-13 12:37] misaochan commented on #2843
@neslihanturan , I made a rough sketch of how I envisioned Home to look like. The bottom bar you made with Nearby and Explore looks great to me, so I just copied it onto my sketch. :)

![home screen cropped](https://user-images.githubusercontent.com/3611199/56079658-dcfa0e00-5e3a-11e9-9c1e-2d80ecc56348.png)

A few points to note:

- The inspiration for this was a card-based layout, similar to the

[2019-04-13 12:41] misaochan commented on #746
Edit: see https://github.com/commons-app/apps-android-commons/issues/2843#issuecomment-482805484 for more details.

[2019-04-13 12:57] misaochan commented on #1962
Hmm, I guess having all small images would be simplest. However, I don't think we can display literally all the images, since there could be hundreds of images with coordinates close to each other, so we would need to think of a way to prioritize them anyway.

[2019-04-13 12:58] neslihanturan commented on #2843
Thanks @misaochan , I think I got what is in your mind.

[2019-04-14 08:52] maskaravivek commented on #1962
Also, some people might be interested to contribute but might be new to Android or our project. Can we have small predefined tasks to write unit tests for specific parts of the app? In the showcase, all these subtasks can be showcased as 1 where we talk about the increase in test coverage we achieved just in 3 days.

I agree that working on writing test cases(UI or unit tests) isn't very fancy and

[2019-04-14 09:11] neslihanturan commented on #2843
Hi, we had a discussion about usage of nav drawer together with bottom navigator.

@ashishkumar468 :

Avoid using a navigation drawer with other primary navigation components, such as a bottom navigation bar.
"
https://material.io/design/components/navigation-drawer.html#usage

On the other hand we have several items on our current nav drawer and it can be hard to fit all of them in home screen. P

[2019-04-14 15:30] madhurgupta10 commented on #2875
@VitalyVPinchuk Did you find any possible solution to this? Due to this issue, it has become very difficult to test the beta version 😕

[2019-04-14 16:02] VitalyVPinchuk commented on #2875
Unfortunately no. May it be the issue of server? I had moved on 4 week old commit which worked fine for me, but ran into the same error.

[2019-04-14 16:05] ashishkumar468 commented on #2875
Even I am in the opinion that this has something to do with the server, I mean the same code is working fine for prod but not for beta, could be something related to the certificates or something else.

[2019-04-15 00:29] madhurgupta10 commented on #2875
@VitalyVPinchuk @ashishkumar468 Even I am not able to log in on the previous builds which worked fine, this might be a problem from the server side.
@misaochan @neslihanturan Could you please confirm?

[2019-04-15 06:33] neslihanturan commented on #2875
Hi @madhurgupta10 , I don't know any server side issues that can prevent login. Ie. blocked accounts can login but they can't upload. On the other hand if the issue still exists on previous builds too can you please:
- Try with a clean installation? Please do not remove your current failing installation for testing. You can reproduce the issue and this is good for us. Can you please try it on anot

[2019-04-15 10:47] neslihanturan commented on #2843
To find the best approach for our new UI, we may need to sort our current and to have features:
**Accessible from nav bar:**
- Current nav bar items
- Contributions
- Nearby
- Explore
- Bookmarks
- Review

**Account related things:**
- Settings
- About
- Tutorial
- Feedback
- Logout

**Accessible from other screens:**
- Notifications
- Achievements
- Campaigns
- Closest nearby

**Plans**
- TODO li

[2019-04-15 11:02] misaochan opened #2878 "Only display HTTP logs in verbose?"
I had encountered a problem with a PR I was testing and wanted to post logs, but my debug-level logs were full of HTTP request logs, e.g.:

[code]

This makes it very difficult to find the logs I need.

I recall we used to only display HTTP logs in Verbose? Is there a reason we changed this? @maskaravivek @ashishkumar468

[2019-04-15 11:38] misaochan opened #2879 "0 contributions shown on MainActivity"
**Summary:**

I'm getting 0 shown on my contributions tab, even though it actually displays my contributions correctly.

**Steps to reproduce:**

I logged in and looked at the contributions tab

**System logs:**

Difficult to obtain directly with #2878 unsolved. I sent log files to the forum.

**Device and Android version:**

Samsung Galaxy s9 Android 8.0

**Commons app version:**

Latest master (

[2019-04-15 11:47] misaochan commented on #2875
Just tested this. I got the same network failure issue as everyone else, but am able to log in to https://commons.wikimedia.beta.wmflabs.org/wiki/Main_Page without issues. They may have made changes to their beta API, seems we'll have to try and figure out what.

[2019-04-15 11:47] maskaravivek commented on #2878
The MediaWiki XML API logs are still in verbose. These logs are from OkHttp JSON APIs

[2019-04-15 11:49] misaochan commented on #2878
Ah, OK. Is it okay to change everything to Verbose, then?

[2019-04-15 11:56] amire80 opened #2880 "Description field uses outdated code iw for Hebrew"
**Summary:**

When uploading a file, in the file name and description form the Hebrew language is identified by the code "iw".

This is a deprecated code. The current ISO 639-1 code is "he". Despite being deprecated, the code "iw" is often used internally in Google products and Java libraries, but it must never be shown to users. It must always be aliased internally to "he". End users must only se

[2019-04-15 12:04] nicolas-raoul commented on #2880
Thanks for the tip!

[2019-04-15 14:20] neslihanturan opened #2881 "New Media Details UI"
**Summary:**

Hi, here is a UI suggestion, which fits wit our new upload UI, for our Media Details interface.
Option 1:
![mediaDetailsUI](https://user-images.githubusercontent.com/3127881/56140003-ac34e880-5fa2-11e9-9624-894bf7d429cf.png)

Option 2:
![mediaDetailsUI2](https://user-images.githubusercontent.com/3127881/56140016-b1923300-5fa2-11e9-8833-d970a8427df0.png)

After nomination for deletion

[2019-04-15 14:24] neslihanturan commented on #161
My shared design is related with this task too: #2881

[2019-04-15 14:41] nicolas-raoul commented on #2881
Personally I prefer option 2, because nominating for deletion is a grave thing to do. Showing delete as a prominent icon would make it appear as a day-to-day operation, and may encourage people to upload anything, thinking they can easily delete it later.

[2019-04-15 15:05] madhurgupta10 commented on #2875
@misaochan Thanks for the update. Is there any official link to the new API documentation?

[2019-04-15 15:06] neslihanturan commented on #2881
You explanation was my motivation for designing second one @nicolas-raoul , I agree the second is better.

[2019-04-15 15:48] maskaravivek commented on #2878
Yes sounds good to me. Will add a beginner friendly tag when i get to my computer.

[2019-04-15 15:53] ashishkumar468 commented on #2881
Looks really good @neslihanturan, but instead of expand/collapse by clicking (if I am inferring that correctly), do you think we should go ahead with a collapsing toolbar, the image being the collapsible component?

[2019-04-15 17:42] ashishkumar468 commented on #2881
Correction : Re-read material.io and found these,
Expanding bottom sheets provide a small, collapsed surface that can be expanded by the user to access a key feature or task. They offer the persistent access of a standard sheet with the space and focus of a modal sheet.
Bottom sheets can display a wide variety of content and layouts, ranging from menu items (in list and grid layouts), to supplemen

[2019-04-15 18:29] madhurgupta10 commented on #2879
@misaochan This issue might be similar to #2377

[2019-04-16 09:00] maskaravivek commented on #2880
Are we currently using ISO codes? Should we move to ISO 3?

[2019-04-16 09:01] maskaravivek commented on #2881
I personally love option 2 suggested by Neslihan.

[2019-04-16 09:40] #2848 closed

[2019-04-16 09:44] #2865 closed

[2019-04-16 11:52] nicolas-raoul opened #2882 "Item name not filled in toast"
![Screenshot_20190416-203820](https://user-images.githubusercontent.com/99590/56207352-79195480-6089-11e9-8b81-e3c5009edf54.png)
2.10.2.388~84637c5

[2019-04-16 12:08] nicolas-raoul opened #2883 "Image sometimes not shown in upload description activity"
2.10.2.388~84637c5
![Screenshot_20190416-210519](https://user-images.githubusercontent.com/99590/56208241-a23ae480-608b-11e9-8dbf-cd8f9c8c0a11.png)

[2019-04-16 16:06] misaochan commented on #2875
@madhurgupta10 That was just a guess, I do not know if there is a new API. :) We would need to look into it.

[2019-04-16 16:15] misaochan commented on #2879
Ah, I didn't notice, thanks for pointing that issue out @madhurgupta10 .

[2019-04-16 16:15] #2879 closed

[2019-04-16 16:19] misaochan commented on #2377
Does this happen just in master, or in an actual release? I experienced the same problem in master, but I have not received any reports from v2.10.2 users about it (and usually users are quite vocal about problems like this ;)).

If we can concur that it just happens in master, it may be a good idea to find out which commit is causing the problem rather than trying to solve from scratch.

BTW, I w