[2022-03-26 15:07] Ayan-10 commented on #4922
@nicolas-raoul I tried to reproduce the error but got a different stack trace. Actually, in the [issue](https://github.com/commons-app/apps-android-commons/pull/4880) two places  (settings and upload) were mentioned where I have to implement the language selection history and also I forget that the description editor also uses the language selection. Sorry about that. So, language selection histor

[2022-03-26 15:47] misaochan commented on #3361
@AdityaArunSharma , you have to unsubscribe from the GitHub email notifications yourself, we can't do it for you.

[2022-03-26 15:48] misaochan commented on #4923
@nicolas-raoul is this on master?

[2022-03-27 08:20] nicolas-raoul commented on #4923
It has been happening on master since I first tried this picture (like 6 months ago).
Probably not high priority since only very few pictures have such erroneous EXIF, I guess.

[2022-03-27 08:21] nicolas-raoul commented on #4922
@Ayan-10 Yes I had also forgotten about this place, sorry! Sure no worries :-)

[2022-03-28 14:30] Amey1619 commented on #4764
Hi ,  My name is Amey Gupta I am a 2nd year IT student from India . I would like to work on this project Can you tell me how to get started ? @nicolas-raoul

[2022-03-29 07:51] 4D17Y4 commented on #4764
Welcome to the project @Amey1619,
Here is everything you need : https://github.com/commons-app/commons-app-documentation/blob/master/android/Students.md

[2022-03-29 12:09] Ps066 commented on #4764
hello ,  i am intrested to work on this project can u help me get started ?

[2022-04-02 05:12] nicolas-raoul opened #4925 ""No location found" despite EXIF coordinates"
All pictures I take with my Pixel 4 default camera app (geolocation enabled) have EXIF coordinates.

Problem: The Commons app (latest master) always shows the "No location found" popup.

![Screenshot_20220402-140231](https://user-images.githubusercontent.com/99590/161367418-b8595d77-d94f-4e24-9377-fa4820595308.png)

Example picture, I am not sure whether GitHub keeps the EXIF though so please let

[2022-04-04 04:47] Rishavgupta12345 commented on #4764
@nicolas-raoul proposal for GSOC is created in Phabricator pls review https://phabricator.wikimedia.org/T303273

[2022-04-04 05:55] nicolas-raoul commented on #1192
https://github.com/bkhall/AndroidMediaUtil (a port of IJG code) implements lossless rotate and crop: https://github.com/bkhall/AndroidMediaUtil/blob/master/src/android/mediautil/image/jpeg/LLJTran.java#L188

[2022-04-05 09:15] misaochan commented on #3388
After v4 release (soon, hopefully!), it will be time to start planning the publicity measures, notably this task and #2428 .

Based on https://meta.wikimedia.org/wiki/Grants:Risk_assessment_during_COVID-19 , unless we limit this event to 10 people or less, we will have to go through a rather complicated risk assessment and apply for approval from the Foundation. So, IMO our options are to either r

[2022-04-05 09:27] misaochan commented on #2428
Hooray, we can now start planning this in preparation for the v4 release! :)

A list of things that I think we need to do:
- [ ] Decide on the metrics for the winner. I agree that "number of valid Wikidata edits" would be a good objective measure, as it doesn't rely on the subjectivity of "best pictures".
- [ ] Decide on timeframe (can't decide on exact dates until v4 is out, but can decide on len

[2022-04-05 10:14] VojtechDostal commented on #3388
Have you seen the latest update on this? https://diff.wikimedia.org/2022/03/29/announcement-of-the-removal-of-the-covid-travel-policy/

[2022-04-05 10:31] misaochan commented on #3388
@VojtechDostal That's great news, thanks for sharing! :) I had no idea about that, I guess the grant pages weren't updated yet.

Incidentally, do we know if any hackathons/meetups are currently being planned for this year, or will that be too soon? If they are, it would be fantastic to be able to tag this on to one of those perhaps.

[2022-04-05 10:48] VojtechDostal commented on #3388
I am not aware of any. Wikimedia Hackathon is mostly happening online this year (https://m.mediawiki.org/wiki/Wikimedia_Hackathon_2022).

[2022-04-05 10:56] nicolas-raoul commented on #2428
Using the leaderboard's ranking would be ideal. Could someone check whether it shows different rankings to different people, for instance because of timezones? Also, I think there is a cache on our server-side? If someone could prepare a query to be the ultimate reference, that would be great.

[2022-04-05 16:19] Ayan-10 opened #4926 "[Bug]: Build Failure for directory values-zh-hk after latest upstream fetch"
### Summary

After the latest upstream fetch in my local repository, I am getting a build failure in `values-zh-hk` directory.

### Steps to reproduce

- Fetch the upstream in the forked repository.
- Build the project.

### Expected behaviour

A successful build

### Actual behaviour

A build failure

### Device name

Pixel 3

### Android version

11

### Commons app version

latest master

### D

[2022-04-05 16:22] Ayan-10 commented on #4926
Not sure, if this is happening only in my local environment or not. Please let me know if the issue is not occurring for others.

Thanks

[2022-04-07 10:09] madhurgupta10 opened #4927 "Fix CI - Invalid resource directory name"
It seems like the CI is failing with the following error, not sure what is the problem here but we should fix this asap.
[code]

[2022-04-07 10:12] madhurgupta10 commented on #4927
@nicolas-raoul @misaochan I am not familiar with `translatewiki bot` but looking at the logs it seems like it is linked to translatewiki.

[2022-04-08 07:26] nicolas-raoul commented on #4927
We need to add a new line `zh-hk: zh-rHK` to https://phabricator.wikimedia.org/diffusion/GTWN/browse/master/groups/Wikimedia/CommonsAndroid.yaml

[2022-04-08 07:42] nicolas-raoul commented on #4927
@Nikerabbit Would you mind adding `zh-hk: zh-rHK` to https://phabricator.wikimedia.org/diffusion/GTWN/browse/master/groups/Wikimedia/CommonsAndroid.yaml? Thanks a lot!

[2022-04-08 13:11] Nikerabbit commented on #4927
Ping @translatewiki

[2022-04-08 15:27] madhurgupta10 commented on #4926
Thanks @Ayan-10 you can follow the conversation for this issue on - https://github.com/commons-app/apps-android-commons/issues/4927

[2022-04-08 15:27] #4926 closed

[2022-04-10 16:00] sivaraam commented on #4876
May be this is related to https://github.com/commons-app/apps-android-commons/issues/4901 ? I say that because the picture linked above has a single category ("1968 stamps of Ajman") that starts with a date. If that's the case, #4902 [ I hope to get around to fixing those tests soon :) ].

[2022-04-10 17:08] sivaraam commented on #2428
If we want to do this, I believe we could certainly do this. It should be enough if there's a API using which we could fetch the rankings.

That said, using the leaderboard to show the metrics as Nicolas suggests sounds like a better idea to me. Is there a particular reason you prefer to show this in the website @misaochan ?

May be "Wikiexpedition competition" ? I suggest this because the aim of

[2022-04-11 06:13] Ayan-10 commented on #4922
@nicolas-raoul Can I work on it?

[2022-04-11 06:31] misaochan commented on #4927
@translatewiki

[2022-04-11 06:39] nicolas-raoul commented on #4922
@Ayan-10 Yes thanks! :-)

[2022-04-11 06:52] misaochan commented on #2428
I was hoping that Wikimedians who don't have the app (i.e. people who only have iOS phones) would be able to follow the results of the competition as well, as that would be good for publicity. :) But I agree that it should definitely be shown in the Leaderboard, the website can just be an optional addition if we can manage it. What do you and @nicolas-raoul think?

I've never been to one, but base

[2022-04-11 10:29] nicolas-raoul commented on #2428
Sounds good enough :-) A webpage might be able to get the same JSON as the app's leaderboard.

[2022-04-11 10:42] nicolas-raoul opened #4930 "Nearby filter bookmark icon invisible in dark mode"
The bookmarks icon in the nearby search menu needs a dark mode icon.

The icon is present, but is the same color as the menu "black". When the bookmarks row is touched for selection the background changes to gray and the icon is revealed as the black color.

Solution probably just needs a different icon color while in dark mode.
![Screenshot_20220404-082726](https://user-images.githubusercontent.c

[2022-04-11 11:51] JustinLiang522 commented on #4930
hello, I would like to work on this issue. Could you plz assign it to me?

[2022-04-11 11:56] nicolas-raoul commented on #4930
@JustinLiang522 It is yours, thanks! :-)

[2022-04-11 12:14] #4922 closed

[2022-04-11 12:18] nicolas-raoul opened #4931 "Description edit dialog does not always work"
### Steps to reproduce

1. Open app
2. In Explore>Featured, tap on any picture (this opens media details)
4. Tap on the pen circled in red:
![adb](https://user-images.githubusercontent.com/99590/160240295-fc195ac7-b38b-4f78-9b78-da2110c0d16c.png)

### Expected behaviour

Description edition dialog opens

### Actual behaviour

Spinner keeps spinning, dialog never opens.

[2022-04-11 12:31] JustinLiang522 commented on #4930
@nicolas-raoul I have downloaded several icons from https://www.iconfont.cn/. Which one do you think is the most suitable?
![bookmarks](https://user-images.githubusercontent.com/73240868/162739426-0829a78f-4a42-40f9-baf3-0552ecda2d95.png)

[2022-04-11 14:28] JustinLiang522 commented on #4931
@nicolas-raoul I tried to reproduce the bug, but the dialog opened as expected...
<img src="https://user-images.githubusercontent.com/73240868/162761165-94b0599b-9c7a-4ed2-82e6-2ade546b069e.png"  width="30%">

[2022-04-11 14:38] Ayan-10 commented on #4913
I have diagnosed the issue and it came out that some of the entity response does not have either description or P31 property that's the reason for not showing any responses. I think we can show no description for the entities which neither have a description nor a P31 property (Instance of). I would like to work on this.

[2022-04-11 18:06] sivaraam commented on #2428
+1

Indeed. That would ensure consistency across the data shown. Let me know if the current leaderboard response contains all information necessary to show the data in the website, I'll start doing a prototype to show the details in the website.

[2022-04-11 19:08] Ayan-10 commented on #4931
@nicolas-raoul Actually the issue is not only about the picture which is not uploaded by the app. The algorithm which is extracting descriptions from `wikitext` is mainly based on a general syntax of `description` structured in `wikitext` which is `|description={{language1|1=description in language1}}, {{language2|1=description in language 1}}`. The descriptions of the pictures uploaded from phone

[2022-04-12 00:36] nicolas-raoul commented on #4930
It looks great!
Sure, feel free to send a pull request :-)

[2022-04-12 00:49] nicolas-raoul commented on #4931
Thanks @JustinLiang522 for testing and thanks @Ayan-10 for your explanation which makes a lot of sense.

My fault for not identifying what picture it was. I can reproduce using this picture: https://commons.wikimedia.org/wiki/File:Antique_cash_register_in_a_cafe,_Darjeeling.jpg which can be found in Explore>Featured.

So, the goal of this issue would be to:
- Make other descriptions editable by an

[2022-04-12 00:50] nicolas-raoul commented on #4931
Note: This bug has existed since a long time (since at least 85bdcd5a7a689b2782e22501e6aa355f97dbe796)

[2022-04-12 01:25] nicolas-raoul commented on #4913
Thanks for the investigation!

In the [API query for Ouagadougou](https://www.wikidata.org/w/api.php?action=wbsearchentities&format=json&type=item&uselang=en&search=ouagadougou&limit=25&language=en&uselang=en&continue=0) all results have a label, but not all results have a description nor P31 (for instance [Q2518888](https://www.wikidata.org/wiki/Q2518888) does not have description nor P31).

We s

[2022-04-12 07:31] misaochan commented on #2428
Thanks a lot @sivaraam . :) The current leaderboard displays the data for the current week (no. of upload/used/nearby). So that would be sufficient I think, if our time limit for the competition was a week. We would need to add a query if we wanted a different time limit.

I don't think so - my rankings just reset today on a Tuesday, it had more uploads yesterday (Monday). I'm GMT +10. But we shou

[2022-04-13 09:09] Discostu36 opened #4934 "[Bug]: Invalid characters in title are allowed by app and lead to generic upload failure"
### Summary

When trying to upload a file with a file name that is not accepted by the server (e.g. including Emojis), the upload fails. The app does not tell the user the reason for failure. In the log, this error message can be found:
[code]

### Steps to reproduce

1. Open the app
2. Select an image for upload
3. Add a name for the image including an emoji, for example: `Zum Behler Weg 🚶`
4. Ad

[2022-04-13 09:11] Discostu36 commented on #4934
Possibly related issue: #3651

[2022-04-13 09:17] nicolas-raoul commented on #4925
@Compiledebuger Sent, thank you! :-)

[2022-04-14 08:28] #28 closed

[2022-04-14 12:29] #4913 closed

[2022-04-14 12:30] #4930 closed

[2022-04-15 02:26] JustinLiang522 commented on #4931
@nicolas-raoul Can I work on this issue?

[2022-04-15 05:00] nicolas-raoul commented on #4931
@JustinLiang522 Yes thanks!

[2022-04-15 05:09] nicolas-raoul commented on #4934
Thanks for spotting this, and for the detailed report!
Ideally we should not allow the user to go to the next step if the caption contains any invalid character.
This seems to be the current list of invalid characters (from https://commons.wikimedia.org/wiki/MediaWiki:Titleblacklist):
[code]

[2022-04-16 07:52] nicolas-raoul opened #4936 "Erroneous "Your recent uploads have no location""
### Steps to reproduce

1. Uploaded many pictures without EXIF location.
2. Uploaded one picture WITH EXIF location (via Nearby, not sure whether it matters).

Not sure whether reproducible every time.

### Expected behaviour

This message should not appear, as the picture being uploaded has location.

### Actual behaviour

![Screenshot_20220416-152035_Commons](https://user-images.githubuserconten

[2022-04-16 11:04] JustinLiang522 commented on #4931
I intercepted the description of the picture that can cause this bug from `getCurrentWikiText()` of `MediaClient.kt`, but it seems to be in the right format.
[code]

[2022-04-16 12:14] nicolas-raoul commented on #4931
Interesting!
Would you mind creating a unit test based on this wikitext, and debugging the issue?

[2022-04-16 12:16] Ayan-10 commented on #4931
Yes, the format is right but the algorithm divides the descriptions (ex. `{{language1|1=description in language1}} , {{language2|1=description in language 2}}`) of different languages by the comma/"," to get the description in different laguages (ex. arr[`"{{language1|1=description in language1}}"` **,** `"{{language2|1=description in language 2}}"`]). However in this case of description there is

[2022-04-16 12:21] JustinLiang522 commented on #4931
@Ayan-10 Got it, thanks!

[2022-04-16 12:25] Ayan-10 commented on #4931
@nicolas-raoul I missed your comment.

[2022-04-16 14:40] JustinLiang522 commented on #4931
How about changing the original algorithm into a repeatedly matching string pattern of `{{languageCode|desciption}}` and putting them into the description list?

[2022-04-16 16:17] adi7yashah commented on #4885
I want to work on this issue please assign it to me

[2022-04-16 16:35] dnsproxyserver01 opened #4937 "root"
sudo su

[2022-04-16 16:58] sivaraam commented on #4937
Seems like spam.

[2022-04-16 16:58] #4937 closed

[2022-04-17 03:56] JustinLiang522 commented on #4931
I have tried the algorithm I described in my last comment and it worked for most files except for two cases:
1. The description is a bare string of words without specifying any language.
2. Multiple string patterns of the form `{{A|B}}` can appear after `desciption=` but inside some double curly brackets the `A` may not be a language code. (This can probably be addressed by checking whether `A` is

[2022-04-17 06:59] Aman16-ai commented on #4936
i would like to work on this issue

[2022-04-17 07:07] Aman16-ai commented on #4898
can i work on this issue?

[2022-04-17 10:53] nicolas-raoul commented on #4936
@Aman16-ai It is yours, thanks!

[2022-04-17 10:54] nicolas-raoul commented on #4898
@Aman16-ai Better work on one issue at a time 🙂

[2022-04-17 10:56] nicolas-raoul commented on #4931
@JustinLiang522 Nice progress! 🙂

[2022-04-17 15:06] JustinLiang522 commented on #4931
@nicolas-raoul I have created a few unit tests for the `getDescriptions` method, should also I commit them?

[2022-04-17 22:54] nicolas-raoul commented on #4931
@JustinLiang522 Yes, unit tests are very valuable, thanks a lot!

[2022-04-18 04:04] Talloju commented on #173
I am getting "java.lang.SecurityException: Permission Denial: opening provider com.google.android.apps.photos.contentprovider.impl.MediaContentProvider from ProcessRecord{114f054 4881:jp.trilltrill.trill.dev/u0a468} (pid=4881, uid=10468) that is not exported from UID 10116" in aversion devices till Android 12. Can someone help.

[2022-04-18 04:27] nicolas-raoul commented on #173
@Talloju: You happens while you are testing the app you are developing, right? Here is the GitHub of the Wikimedia Commons app. Unless you are working on the Wikimedia Commons app, please post to https://stackoverflow.com. Thank you!

[2022-04-18 13:17] #4730 closed

[2022-04-19 12:53] misaochan commented on #4927
@translatewiki @Nikerabbit Would it be possible to get a ETA on when this could be fixed on Wikimedia's end? Thanks a lot!

[2022-04-21 04:26] AlexMahlon commented on #4934
Hello, I'd like to work on this if it's still available.

[2022-04-21 05:00] nicolas-raoul commented on #4934
@AlexMahlon It is yours, thanks! :-)

[2022-04-21 05:32] Abijeet commented on #4927
Sorry for the delay. We should be able to get this in sometime next week.

[2022-04-21 09:13] misaochan commented on #4927
Wonderful, thanks for the update @Abijeet !

[2022-04-22 06:38] nicolas-raoul opened #4939 "Improve GSoC proposals process"
This year we had less GSoC candidates than previous years, and several great candidates ended up not submitting a proposal.

This issue is to collect feedback and brainstorm on ideas to improve/simplify/etc the proposal phase process.

Anyone is welcome to share feedback and ideas, anonymously or not, now or in a few weeks or at any time.
For instance, what are the main challenges as a potential c

[2022-04-22 06:46] nicolas-raoul opened #4940 "Upload semi-failure for image without EXIF, reproducible 100%"
### Steps to reproduce

1. Install [Scrambled EXIF](https://play.google.com/store/apps/details?id=com.jarsilio.android.scrambledeggsif) app
2. Choose a picture worth uploading to Commons, share it to Scrambled EXIF, then share the result to Commons
3. Enter a caption, press Next
4. A popup `No location found` appears, press `Skip`
5. A popup `Problems found in image` appears, press `Upload`
6. Sel

[2022-04-22 09:06] misaochan commented on #4940
Hi @nicolas-raoul , does this only happen with the Scrambled EXIF app specifically, or any other methods of deleting EXIF as well?

[2022-04-22 09:33] nicolas-raoul commented on #4940
I have not tried, sorry.

[2022-04-23 07:50] Compiledebuger commented on #4925
@nicolas-raoul the picture you sent to me also isn't contain GPS information, and then I try to upload a picture with exif coordinates and find the location, the app didn't popup with "No location found"

[2022-04-23 08:53] Compiledebuger opened #4942 "[Bug]: App crashed after add new category to a picture without category"
### Summary

App crashed after add new category to a picture without category

### Steps to reproduce

1.update a new picture without selecting category
2.add a new category to the picture, then the app crashed

### Expected behaviour

The app will add a new category

### Actual behaviour

The app crashed immediately

### Device name

No response

### Android version

9

### Commons app version

m

[2022-04-23 10:58] JustinLiang522 commented on #4940
Hi @nicolas-raoul, I followed the steps to reproduce the bug on my pixel 3 (Android 10), but the file was successfully uploaded. Can you send me the picture that caused the failure on your phone via email so that I can test them on mine?

[2022-04-24 19:14] Compiledebuger commented on #4942
@nicolas-raoul

[2022-04-24 22:40] jidanni opened #4944 "Template interferes with GitHub app"
Here I tried to use the GitHub app to file a bug report. However I was kicked out of the app as you see in the screenshot.

To continue using the GitHub app I had to instead select the very first choice: no template.

If this is GitHub's fault, please tell them.

![Screenshot_20220425-063827.jpg](https://user-images.githubusercontent.com/1230959/164999710-6292dfcd-627f-459a-975c-890e34de52ee.jpg)

[2022-04-24 22:48] jidanni opened #4945 "Many steps to open file page in real web browser"
In the following series of screenshots, you will see, from first picking "view file page", to the final step where we really are in the browser (black background), it takes very many steps. The blue background browser is not the browser: we're still in the app!

Yes, every time we were given the list, we choose Chrome Canary.
![Screenshot_20220425-063505.jpg](https://user-images.githubusercontent.

[2022-04-25 02:00] nicolas-raoul commented on #4940
@JustinLiang522 Interesting finding!

I just reinstalled the app and tried again, same issue. I edited the instructions above because I had made a mistake, sorry about that!

Here is one of my pictures that I just passed though ScrambledExif: https://drive.google.com/file/d/1o_Wd3FkDuzsWYdNmsvkpsrX_AmaXGjPi/view?usp=sharing

[2022-04-25 04:16] nicolas-raoul commented on #4925
Sorry you are right, that picture had no EXIF location! Somehow Galaxy Gallery showed a map for it, maybe it stores location another way, or maybe I did a mistake.
I will close this issue, and reopen it if I manage to reproduce with a picture that really has EXIF location.
Thanks a lot for your help!

[2022-04-25 04:16] #4925 closed

[2022-04-25 04:23] nicolas-raoul commented on #4942
I was not able to reproduce, strangely.
Would you mind posting a stack trace? You can easily get it by tapping 確定 on the bug report popup then checking the content of the prepared email.
Thanks for your report!

[2022-04-25 09:22] Compiledebuger commented on #4942
@nicolas-raoul The bug report is as follows:
[code]

[2022-04-25 09:36] nicolas-raoul commented on #4942
Great find! Looking forward to your pull request :-)

[2022-04-25 09:45] Compiledebuger commented on #4942
Thanks, I already make one pull request https://github.com/commons-app/apps-android-commons/pull/4943

[2022-04-25 11:39] Abijeet commented on #4927
Translatewiki now exports the language in `zh-rHK`. See commit: https://github.com/commons-app/apps-android-commons/commit/11bc72c5142ada2d9c21d845e35317ad8016daed

[2022-04-25 19:48] #4906 closed

[2022-04-26 09:39] neslihanturan opened #4947 "[Bug]: After moving between tabs on Bookmark fragment, Bookmarks never loads"
### Summary

When we select Bookmarks from bottom menu, the picture tab comes selected and bookmarked pictures are there. After that if we select locations tab and come back to pictures tab again, we don't see bookmarked images (seeing them is expected) and we see a progressbar instead.

### Steps to reproduce

1. Select bookmarks tab
2. Wait until bookmarked photos are visible
3. Select location

[2022-04-26 10:53] #4927 closed

[2022-04-28 07:34] #4931 closed

[2022-04-28 10:15] madhurgupta10 commented on #4945
I think having a toggle in the settings which let users set their preference to whether open it in-app browser or the phone's default browser is a better option.

[2022-04-28 10:22] madhurgupta10 opened #4948 "Consider moving app from monolith to multi-module application"
Currently, most of the application is just one big module and it is a good idea to start considering making multiple modules for different features.

There is a very good article that explains why it is a good idea, https://proandroiddev.com/modularization-of-android-applications-in-2021-a79a590d5e5b

[2022-04-28 10:41] SweetD3v commented on #173
Try this..It worked for me!
Giving permission to all available packages.

[code]

[2022-04-28 11:09] nicolas-raoul commented on #173
Anyone experiencing this issue on our latest Commons app, please open a new issue, thank you! :-)

[2022-04-28 14:21] #4942 closed

[2022-04-28 14:35] #4782 closed

[2022-04-28 15:39] Ayan-10 commented on #4947
Can I look into it?

[2022-04-29 11:24] misaochan opened #4949 "[Bug]: Crash on Bookmarks > Items and Bookmarks > Location tabs"
### Summary

App crashes in the Items and Location tabs of Bookmarks.

### Steps to reproduce

1. Go to Bookmarks
2. Go to Items or Locations tab

### Expected behaviour

The relevant fragment should load

### Actual behaviour

App crashes

### Device name

Samsung Galaxy S20 FE

### Android version

Android 11

### Commons app version

4.0-release and master

### Device logs

[code]

### Screen-s

[2022-04-29 11:29] misaochan commented on #4947
Sounds like it's related to #4949 , although in my case it straight-up crashes. Might be because I have 0 bookmarks.

@Ayan-10 yes please feel free, thanks!

[2022-04-29 11:38] misaochan commented on #4944
Does it work if you select a browser and use the web-based version?

[2022-04-29 11:43] misaochan opened #4950 "[Bug]: Back arrow still present on top-level activity (Contributions)"
### Summary

If you load the app and select an image to view, you can return to the top-level activity (Contributions) by tapping the up button (back arrow). But the up button remains present once you are in Contributions again.

### Steps to reproduce

1. Open app
2. Tap an image to enter media details view
3. Tap up button to return to Contributions

### Expected behaviour

Up button should not

[2022-05-01 11:15] sivaraam commented on #4877
This appears to be available in Translatewiki already. Curiously, it looks like a bot imported the changes done in the repository into translatewiki 🤔

Related change link in Translatewiki: https://translatewiki.net/w/i.php?title=Wikimedia:Commons-android-strings-share_license_summary/bn&diff=10602509&oldid=9550296

Anyways, I suppose there's nothing left to do here. Hence closing this.

[2022-05-01 11:15] #4877 closed

[2022-05-02 05:41] misaochan commented on #4949
Hmm, I tried again today and it seems that it does not happen anymore after restarting the app. Do you have an idea as to why this happens prior to restart?

[2022-05-02 18:25] Ayan-10 commented on #4949
@misaochan I think this is happening because a new table was created in the codebase. When users update the app with the new version of the codebase, they don't have the table created inside the local database. Now when the code wants values from the table as per the new code app can't find any table named such and shows the error. As `onCreate()` from `SQLiteOpenHelper` is called only when the ap

[2022-05-02 22:44] Easytatenda commented on #28
Help with my nearby locations

[2022-05-04 06:34] misaochan commented on #4949
@Ayan-10 thanks for your investigation! So based on that, it seems like this is not really related to #4947 after all. Are you interested in working on this issue as well? If you are, please let me know and please rebase your work on `4.0-release`, as this will go into the release shortly.

[2022-05-05 06:59] neslihanturan commented on #4950
this looks like fixed with #4952

[2022-05-05 06:59] #4950 closed

[2022-05-05 07:08] #4947 closed

[2022-05-05 08:03] Ayan-10 commented on #4949
@misaochan I would love to work on it but I am a little tied up with some work. Sorry for not being able to work on this.

[2022-05-05 08:36] misaochan commented on #4949
No worries @Ayan-10 , thanks for letting us know!

[2022-05-06 09:35] jidanni commented on #4944
Well yes, but that takes the whole point out of GitHub making an app and templates.
I suspect this is all GitHub's fault.

[2022-05-06 09:39] jidanni commented on #4945
The problem is opening it in Chrome will still get hijacked, as you see in the first and second interactions. It takes about three interactions before we finally "shake off the hijackers."

[2022-05-07 05:19] JustinLiang522 opened #4953 "[Bug]: Always show "unable to get description" dialog after exiting the media detail fragment."
### Summary

Every time I click the edit description button on a picture and exit, a pop-up dialog "unable to get description" will always show even if the descriptions are displayed correctly.

### Steps to reproduce

1. go to "Explore"
2. open a picture
3. click the edit description button
4. exit editing

### Expected behaviour

no pop-up dialog is shown

### Actual behaviour

a pop-up dialog "

[2022-05-07 06:27] nicolas-raoul commented on #4944
To be clear, the screenshot shows the GitHub app, right?

I don't use the GitHub app personally, but I feel like it is a good enhancement idea for their app indeed. @jidanni Would you mind reporting it to them?

[2022-05-09 03:06] nicolas-raoul commented on #190
jpegtran can be used in our Android app via JNI, here is an example doing that: https://github.com/kamemak/ajpegtran_example

And here is a jpegtran fork that performs blurring without reducing the quality of other parts of the image: https://github.com/kamemak/jpegtran_pixelization

[2022-05-09 03:19] nicolas-raoul commented on #1192
jpegtran can be used in our Android app via JNI, here is an example doing that: https://github.com/kamemak/ajpegtran_example

And here is a jpegtran fork that performs blurring without reducing the quality of other parts of the image: https://github.com/kamemak/jpegtran_pixelization

With this, I am all for implementing crop/rotate/blur inside our app. :-)

We should first make that code into a li

[2022-05-09 17:01] #4944 closed

[2022-05-10 09:46] Abijeet commented on #4893
We've added a validator to ensure that these variables cannot be skipped in translations.

![image](https://user-images.githubusercontent.com/1685517/167600412-2140d5c0-a2b4-48b4-aa7d-bac6c1e95a58.png)

[2022-05-11 08:22] misaochan commented on #4893
Thanks for fixing this. :)

[2022-05-11 08:22] #4893 closed

[2022-05-13 08:46] nicolas-raoul commented on #4953
I can reproduce the issue in master.

[2022-05-13 08:50] #4953 closed

[2022-05-15 09:51] 4D17Y4 commented on #4885
@jidanni,
The captions remain precisely the same as entered by the user, the only change is to the title which is the same as the caption with the first letter capitalized and appended with an integer if not unique (Serving as the file name).

[2022-05-15 10:05] 4D17Y4 commented on #4885
Welcome to the project @adi7yashah,
This issue is under discussion, feel free to drop your suggestions if any.

In the meantime, you can ask to get assigned to another issue.
https://github.com/commons-app/apps-android-commons/labels/good%20first%20issue could help you get started.

[2022-05-15 10:33] #4934 closed

[2022-05-15 10:58] 4D17Y4 commented on #4940
Can reproduce this,
Upload also fails for images with removed metadata using [ExifEraser](https://play.google.com/store/apps/details?id=com.none.tom.exiferaser&hl=en_IN&gl=US)

[2022-05-16 00:55] nicolas-raoul opened #4957 "App corrupts Commons description"
App erroneously modified `|description=` to `|descriptio`

https://commons.wikimedia.org/w/index.php?title=File%3A%E4%B9%9D%E5%8D%81%E4%B9%9D%E9%87%8C%E6%B5%9C_7.jpg&type=revision&diff=655568871&oldid=655568708

Another example: https://commons.wikimedia.org/w/index.php?title=File:Fishtbnk_truck_near_Kujukuri_beach.jpg&diff=prev&oldid=656180711

I believe that happened when editing the caption.

C

[2022-05-16 18:20] sivaraam opened #4958 "CI: Instrumentation test started failing"
### Description

In CI, the instrumentation tests started failing in `master` with the following trace:

[code]

Failed build link: https://github.com/commons-app/apps-android-commons/runs/6450786871?check_suite_focus=true

I also observed a similar failure when [running tests in my fork of the repo](https://github.com/sivaraam/apps-android-commons/runs/6457229905?check_suite_focus=true) for the t

[2022-05-16 18:22] #1157 closed

[2022-05-17 06:51] madhurgupta10 commented on #4958
@sivaraam Unfortunately sometimes there could be flaky tests depending upon which kind of VM is running the emulator, there are some random dialogues on Android devices such as low storage, updates available, welcome popup, etc. which overshadows the actual views and leads to test failures. The only way, for now, we can fix it is by rerunning the CI manually. The ideal solution would be to keep in

[2022-05-17 13:21] jidanni commented on #4885
I get it. A lowercase / original version is still used somewhere. OK, closing.

[2022-05-17 13:21] #4885 closed

[2022-05-17 17:27] sivaraam commented on #4958
In that case, could we at least consider making the instrumentation tests independent of the rest of the CI cycle by keeping it as a separate job ? I suggest this since it appears to be getting in the way of running unit test cases.

For reference, the Git repo has a [GitHub CI workflow with multiple jobs](https://github.com/git/git/blob/master/.github/workflows/main.yml).

[2022-05-18 17:02] #4958 closed

[2022-05-19 08:10] madhurgupta10 commented on #4957
@nicolas-raoul Could you share the exact steps to reproduce this issue?

[2022-05-19 08:56] madhurgupta10 opened #4959 "[Bug]: Crash on clicking edit button on description"
### Summary

Crash on clicking the edit button in the descriptions.

This caused due to incorrect previous db version in https://github.com/commons-app/apps-android-commons/pull/4880

### Steps to reproduce

Go to an Upload Media.
Click on Pencil Icon next to - In all languages in the description
App crashes

### Expected behaviour

Should not crash

### Actual behaviour

Crash on button click

##

[2022-05-19 10:08] madhurgupta10 commented on #4957
Also pinging @Ayan-10 as this seems related to https://github.com/commons-app/apps-android-commons/pull/4672

[2022-05-19 20:44] Ayan-10 commented on #4957
@madhurgupta10 @nicolas-raoul I have investigated the issue. This issue occurs when the file doesn't have any description in any language and user only add a caption without a description. Like this file: https://commons.wikimedia.org/w/index.php?title=File:Fishtbnk_truck_near_Kujukuri_beach.jpg&diff=prev&oldid=656180711 doesn't have any description or caption, now if user add a caption in a langu

[2022-05-20 05:14] madhurgupta10 commented on #4957
Thanks for the detailed investigation, I believe these two lines are added to remove the extra `,  `  from the buffer string, in that case, I think replacing them with a regex pattern is a much better solution

[2022-05-20 08:22] madhurgupta10 commented on #4959
Fixed in #4960

[2022-05-20 08:22] #4959 closed

[2022-05-20 14:11] #4957 closed

[2022-05-20 14:19] nicolas-raoul opened #4962 "Caption with trailing whitespace leads to failed upload (titleblacklist-custom-space)"
Latest master.

Steps:

1. Upload any picture.
2. At the caption step, enter a name with a space at the end.
3. The upload seems to be starting fine, but at the end it fails with the logcat error `titleblacklist-custom-space`.

[2022-05-21 10:53] Compiledebuger opened #4963 "[Bug]: The description unable to change after edit description several time"
### Summary

I try to edit its description to a picture with description. First, I try to empty description and submit it, the description will be same with caption, and then I try to add new description to the picture, the picture's description don't change.

### Steps to reproduce

1.update a picture with some description
2.edit the picture with empty description and submit it.
![9DO@(PWXNKWH0XV

[2022-05-21 17:36] pigsonthewing opened #4964 "[Bug]: Order of images does not persist"
### Summary

If I select several images to share, they are presented in a different order to both that i which I select them, and in which they were taken.

[Not clear if  #4392 is the same issue]

### Steps to reproduce

1. In device's gallery, select several images
2. Share to Commons app
3. Enter caption & description of first image
4. Select "next"
5. Repeat 3 & 4 for all images

### Expected

[2022-05-21 17:42] pigsonthewing opened #4965 "Change of focus loses work in progress"
### Summary

If I view another app, then any work in progress in this app is lost

### Steps to reproduce

1. Select image(s) to share
2. Share to app
3. Enter metadata for one or more images
4. Switch to another app (for example, to check the spelling of a name)
5. Cannot switch back to Commons app with the same state that it was left; whatever was typed is lost; images are no longer selected

##

[2022-05-21 17:57] pigsonthewing opened #4966 "[Bug]: Use of "previous" then "next" causes duplicates if name changed"
### Summary

When uploading multiple images, switching backwards and forwards between them to edit the "caption" [sic: file name] causes duplicate uploads

### Steps to reproduce

1. Select multiple images to share
2. Share to app
3. Enter caption and description for first image
4. Copy details to all images
5. Select "Next"
6. Modify image caption
7. Select "Previous"
8. Modify image caption
9. S

[2022-05-21 18:06] pigsonthewing opened #4967 "[Bug]: Parameter name "caption" and resue of caption as file name are suboptimal"
### Summary

Use of the term "caption" is ambiguous. The use of the caption for the filename is harmful.

This is especially problematic for sets of images, where the filenames, but not captions, require disambiguation (example 01.jpg, example 02.jpg, etc.)

### Steps to reproduce

n/a

### Expected behaviour

Users should be asked for an image (file) name; and then whether they wish to use that a

[2022-05-21 18:16] pigsonthewing commented on #4848
Is this the same as #4835 ?

[2022-05-22 05:54] JustinLiang522 commented on #4940
@nicolas-raoul  I can reproduce it now, can I work on this issue?

[2022-05-22 06:14] JustinLiang522 commented on #4940
From the Logcat, a `SecurityException` is raised when the picture is not uploaded by a process whose `uid=10100` (the UID of the preinstalled photo app). I think the issue arises because the common apps deny permission when uploading photos directly from apps other than the system photo app, such as ExifEarser and Scrambled EXIF.

[2022-05-22 22:52] nicolas-raoul opened #4970 "Add G7 deletion reason (Author or uploader request deletion within 7 days)"
`{{G7}}`

https://commons.wikimedia.org/wiki/Template:G7

https://commons.wikimedia.org/wiki/Commons:Criteria_for_speedy_deletion#G7

[2022-05-23 01:10] #4712 closed

[2022-05-24 04:33] nicolas-raoul commented on #4471
@Rishavgupta12345 Are you still willing to work on this? If yes, you might want to test Ben's pull request? :-)

By the way, I just tested Accessibility Scanner on our app, the results are interesting. Example:
![Screenshot_20220524-132815](https://user-images.githubusercontent.com/99590/169949571-b30d5761-37c1-42ff-8b14-1e61b75577c5.png)

[2022-05-24 07:38] JustinLiang522 opened #4971 "[Bug]: Blank page shown when trying to edit descriptions"
### Summary

When I try to edit the description of this picture, a blank page is shown.
<img src="https://user-images.githubusercontent.com/73240868/169974280-909e2280-1daa-44ad-9b87-3b1df7668732.jpg" width="50%" height="50%" />
<img src="https://user-images.githubusercontent.com/73240868/169974312-02605e6b-facd-42ad-b07f-b4da74b18542.jpg" width="50%" height="50%" />
I think this is probably becau

[2022-05-24 09:08] misaochan opened #4972 "[Bug]: Compile error when building with prodRelease"
### Summary

Building the 4.0-release branch with the prodRelease build variant encounters an error as of today (24 May). It did not encounter any errors the last time I did it (about 2 weeks ago), hence the issue probably lies with a deprecation or changes to the relevant external library.

Commenting out the line `implementation("io.github.coordinates2country:coordinates2country-android:1.2") {

[2022-05-24 09:51] madhurgupta10 commented on #4972
@misaochan Did you try after deleting the cached packages and build folder?

[2022-05-24 09:55] madhurgupta10 opened #4973 "[Warning] Fix the warning with ANDROID_NDK_HOME"
ANDROID_NDK_HOME is deprecated and will be removed in the future so we should use the recommended solution for this
[code]

**Would you like to work on this issue?**
No

[2022-05-24 11:36] #4471 closed

[2022-05-24 11:55] misaochan commented on #4972
Yes, doesn't solve the issue. :/

[2022-05-24 14:15] misaochan commented on #4972
Hi @nicolas-raoul , any thoughts on what the issue could be? As you appear to be the author of https://github.com/coordinates2country/coordinates2country-android :)

[2022-05-25 04:22] nicolas-raoul commented on #4972
I can reproduce the issue.

I built that library using `openjdk 11.0.12 2021-07-20 LTS` or earlier.

If there is anything I can change on the library side to fix it, I am happy to do it. :-)
The answers at https://stackoverflow.com/questions/54147275/move-to-openjdk-11-but-compile-in-java-8 sound may be relevant?

[2022-05-25 19:36] Light-jetPilot commented on #4726
Also having this issue. No changes to my phone or the app. Just opened the app for the first time in several months and nearby feature is no longer working.

I'm not an app developer, but it looks like some kind of database error.

Device and Android version:
Samsung Galaxy A51
Android version 12

App version:
3.1.1~1c9267ca0

![Screenshot_20220525-152052_Commons](https://user-images.githubusercon

[2022-05-26 02:06] nicolas-raoul commented on #4726
@Light-jetPilot Could you please try to uninstall then reinstall the app?

[2022-05-26 02:28] Light-jetPilot commented on #4726
Uninstalled, restarted, and reinstalled. Same issue. Also am having issue #4742

[2022-05-26 02:50] mds08011 commented on #4726
@Light-jetPilot have you tried going to Settings>Apps>Commons>Storage & Cache and then clearing both the storage and cache memory? That resolved both issues in  my case.

[2022-05-26 02:59] Light-jetPilot commented on #4726
This does fix the issue. Odd that a clean install wouldn't, but I'm guessing that local database wasn't removed in the uninstall, so it still contained the deprecated column.
Thanks for your help

[2022-05-26 07:02] #4972 closed

[2022-05-26 07:29] nicolas-raoul opened #4976 "Translate caption/description"
### What is the user problem or growth opportunity you want to see solved?

I often see captions (or descriptions) in languages I can not read.

### How do you know that this problem exists today? Why is this important?

It happens a lot.
Users who use Explore to find a picture of sugar (for instance) would probably like to understand the caption/description so that they can be sure the picture re

[2022-05-26 08:33] JustinLiang522 commented on #4940
According to [this StackOverflow question](https://stackoverflow.com/questions/46684243/openinputstream-cause-securityexceptionpermission-denial-android-n), when the `UploadWorker` try to open the input stream of the content Uri, the read permission is denied, because the `UploadActivity` has terminated at the time.
I suggest the following solutions:
1.  store the hashcode of the image into the `c

[2022-05-26 08:43] nicolas-raoul commented on #4940
Interesting!
Thanks for explaining different strategies.
How about trying to implement based on the first solution?

[2022-05-26 09:17] nicolas-raoul opened #4977 "Compare app-uploaded and mobile website-uploaded pictures"
In order to understand (or demonstrate) how useful the Commons Android app is, it would be good to compare pictures uploaded:
- Via the Commons Android app, meaning they have their creation history has the `Android app edit` tag ([example](https://commons.wikimedia.org/wiki/File:Buildings_near_Shibuya_2.jpg)).
- Via https://commons.m.wikimedia.org (presumably from a mobile device), meaning their c

[2022-05-26 12:53] madhurgupta10 commented on #4759
@Ayan-10 If this issue is resolved, consider closing it :)

[2022-05-26 13:50] Ayan-10 commented on #4759
@madhurgupta10 @sivaraam I have tested it on API level 19. Unfortunately, it's still occuring.

[2022-05-27 06:30] nicolas-raoul commented on #4967
Hi Pigsonthewing, nice to hear from you!
I beg to differ on the necessity to ask users to type a technical filename, especially on a tiny keyboard, but probably also on desktop.
If the best imaginable captions for two pictures are the exact same caption, then there is no harm in having these two pictures use the same technical filename plus an identifiable technical filename suffix. Or if there ac

[2022-05-27 08:10] nicolas-raoul commented on #4971
I can reproduce for the first pic I tried in Explore>Featured

Thanks!

[2022-05-27 13:21] Compiledebuger opened #4978 "[Bug]: App crashed after after edit multiple caption several time"
### Summary

I try to add multiple caption and description of different language to a picture. First, I add some caption and description to it. And delete some of them, then the app crashed.

### Steps to reproduce

1.choose one picture and open it.
2.push edit button near the caption.
![image](https://user-images.githubusercontent.com/57441189/170704116-78aca595-5a35-47f3-8a62-d0c220d09bd9.png)
3

[2022-05-27 13:28] #4963 closed

[2022-05-28 04:07] Compiledebuger commented on #4978
@nicolas-raoul

[2022-05-28 06:33] misaochan commented on #4977
This data would be interesting indeed! This would require the usage of a bot (with the corresponding bot privileges) I guess?

[2022-05-28 07:40] JustinLiang522 commented on #4940
I was trying to access the database, but the connection was closed by the host and I don't know the reason.
![image](https://user-images.githubusercontent.com/73240868/170815721-26889ff7-c20a-43f0-93b3-111f9a778ba8.png)

[2022-05-28 09:25] nicolas-raoul commented on #4940
Do you really need to access any database on wmflabs.org? My understanding is that it is about the app's local SQLite database on the Android device :-)

[2022-05-28 09:38] nicolas-raoul commented on #4977
Hopefully a part of it can be done by some query similar to https://quarry.wmcloud.org/query/10587

For the rest, rather than use a crawling bot (very costly in terms of server resources) we should probably download Commons metadata and parse it locally. It should be one or several of the files at https://dumps.wikimedia.org/commonswiki/latest/ , not sure which one(s).

[2022-05-28 10:42] JustinLiang522 commented on #4940
How can I modify the app's local SQLite database? It is new to me. 😓

[2022-05-28 11:46] nicolas-raoul commented on #4940
You can read the content using the various solutions at https://stackoverflow.com/questions/17529766/view-contents-of-database-file-in-android-studio, but to **modify** the content, you will probably want to modify the app's source code, as it is eventually the app that modifies the database (including columns creation/etc).

[2022-05-28 12:12] nicolas-raoul commented on #4978
I can reproduce the crash, thanks for finding this and reporting!

[2022-05-28 20:30] neslihanturan commented on #2428
Tomorrow we will make a walk with around 10 people for completing Nearby pictures. I planned there can be 5 groups (2 people per group). I am not sure about calling it a competition. As most of them are first time contributors, they need to warm up first:) I suggest e designing a badger for all of them to use in their user pages, instead of choosing a winner.
![rota_small](https://user-images.gith

[2022-05-28 21:26] madhurgupta10 commented on #2428
@misaochan Sorry I missed the notification for this old message, the timezone for all users should be the same which is the pacific timezone (server default) I guess so the week/month etc. calculations are done based on that. The ranks are calculated in real-time but the data we use to calculate these ranks is updated in the leaderboard database every 2 hrs.

[2022-05-28 21:48] madhurgupta10 opened #4980 "Remove empty files and folder"
It seems like there is a folder with two empty files located at https://github.com/commons-app/apps-android-commons/tree/master/app/CommonsContributions

This looks like it was accidentally added so it should be removed.

[2022-05-29 02:51] #4978 closed

[2022-05-29 03:01] #4971 closed

[2022-05-29 04:50] JustinLiang522 commented on #4940
Got it, thanks!

[2022-05-29 06:37] misaochan commented on #2428
Hi @neslihanturan , the photo walk task is #3388 . :) The Nearby event is a competition is a separate event that will be done virtually. (Thanks for organizing it, btw! The route looks good and well-planned, and new contributors is the goal indeed.)

Great, I think this should be fine then for the competition, since everyone will be on equal ground.

[2022-05-29 10:37] nicolas-raoul commented on #4940
I forgot to mention that the SHA should not be inserted in database before the picture is completely uploaded. How about keeping the SHA somewhere, and adding it to database if the upload is successful?

[2022-05-29 20:30] kudlav opened #4984 "[Bug]: No web browser found to open URL or map application"
### Summary

When I try to open any link in Commons app (beta release), it shows just a toast:

or

Other apps works fine. Stable Commons app works fine, it will open Firefox in _Custom tabs_ mode.

Installed browser:
- Firefox 100.3.0

Installed navigations:
 - Google Maps
 - Mapy.cz
 - Organic Maps

### Steps to reproduce

1. Open the app
2. Open a place
3. Click to Route/Wikidata/Commons
4. An

[2022-05-30 02:44] JustinLiang522 commented on #4940
Thanks for reminding me! Actually, the SHA will not be inserted into the `uploaded_table` if the upload fails. It will just be in the `contribution` table. If this situation may still cause problems, do you have any suggestions about where I can store the SHA or can I just delete the SHA from the `contribution` table if the upload fails?

[2022-05-30 05:29] nicolas-raoul commented on #4940
Ah, then it is good, thanks! :-)
I was afraid that the picture could appear as "uploaded already" in the custom selector UI, despite not really having been uploaded successfully.

[2022-05-30 06:19] nicolas-raoul opened #4985 "Can not type Japanese space in caption field"
This is the Japanese space character: `　`
It is wider than the non-Japanese space character.
While not used as often, it can still be useful to separate expressions.

When uploading a picture with the app, this character can not be typed into the caption field. When I type the space character on the phone's keyboard, nothing happens.
Pasting it does not work either, the character is removed from t

[2022-05-30 07:14] #4940 closed

[2022-05-30 10:03] #4980 closed

[2022-05-31 07:16] misaochan commented on #4984
@kudlav thanks for letting us know! We will try to fix this in the next release.

[2022-06-01 11:40] neslihanturan commented on #3388
Hello all, here is the report of the photowalk that I facilitated last weekend:

- 10 people joined to the walk, 7 uploaded pictures to Commons
- 143 photos are uploaded
- We worked as 5 groups, each has 2 people,
- Here is the report tweet (I edited video of the event too): https://twitter.com/oydorgtr/status/1531550037477666816
- Here is the call tweet (also called from telegram): https://twitte

[2022-06-01 12:55] neslihanturan commented on #3388
Also here is the wikishootme results:
![animation](https://user-images.githubusercontent.com/3127881/171409205-4b5c02e3-1be4-4e9c-8e95-79c2fe37d292.gif)

[2022-06-02 05:00] misaochan commented on #3388
Fantastic job, thanks a lot @neslihanturan ! :)

[2022-06-02 05:00] #3388 closed

[2022-06-03 18:17] sivaraam commented on #4759
Hey @Ayan-10, did you read [my comment above](https://github.com/commons-app/apps-android-commons/issues/4759#issuecomment-1019459717)that hints at a possible reason for this ?

One possible way to check if this is an app specific issue or not, is to check if it is possible to access https://commons.wikimedia.org/ through the browser preferably Chrome since I'm guessing it piggy back on the certif

[2022-06-04 02:42] madhurgupta10 commented on #4984
Fixed in #4987

[2022-06-04 02:42] #4984 closed

[2022-06-05 13:54] misaochan opened #4988 "v4.0 crash report - java.lang.SecurityException: getDataNetworkTypeForSubscriber"
From our google group crash report forum:

[code]

[2022-06-05 13:57] misaochan commented on #4988
Another similar report from a different user which might help:

[code]

[2022-06-06 08:16] madhurgupta10 commented on #4988
@misaochan These crashes are caused by the changes done in https://github.com/commons-app/apps-android-commons/pull/4723

Mapbox needs this permission - https://stackoverflow.com/questions/70803660/mapbox-oncreate-instance-crashed-onstart-android-java

I am not sure what should I do here?

[2022-06-06 13:25] OpenGreenStreet commented on #4
It would be really very nice if there was a solution for this!

Is there a timeline for this development?

[2022-06-07 03:36] madhurgupta10 commented on #4988
@misaochan I could not reproduce the crash on my end, I tested with AVD 10, 11 and 12 so I am not 100% sure if the crash is caused by Mapbox or not, we could try updating the Mapbox SDKs to latest. Still, without reproducing it locally, we need to wait for the original reporter to confirm if it is fixed or not.

[2022-06-07 05:46] Ayan-10 commented on #4759
@sivaraam Yes, I can access https://commons.wikimedia.org/ from the browser of the device. The device doesn't have google chrome or Playstore so I was not able to test it with chrome.

I have also tested it on an API 21 device and It's not occurring anymore.

[2022-06-07 07:48] misaochan commented on #4988
Yes, please do so and I'll release the next beta version, then we will see if the crash reports still come in for this one.

[2022-06-07 07:49] misaochan commented on #4
Unfortunately not. :( If anyone is interested in taking this up, please let us know and we would be more than happy to provide support!

[2022-06-08 08:03] nicolas-raoul opened #4990 "NullPointerException: Attempt to invoke interface method UploadMediaDetailFragmentCallback.getIndexInViewFlipper"
[code]

Happening on latest master.

This started happening rather recently.

I only got it a few times, but reproduction seems to be like this:
1. Prepare an upload by selecting a few pictures.
2. Without actually uploading, leave the app for hours, doing other things.
3. Crash when opening the app.

[2022-06-08 15:24] OpenGreenStreet opened #4991 "Requesting renaming of images"
### What is the user problem or growth opportunity you want to see solved?

From my point of view it would be good if users of the app could request renaming of images.

### How do you know that this problem exists today? Why is this important?

About the web frontend

### Who will benefit from it?

I can request a renaming directly in the app and do not have to do it on the PC

### Anything else

[2022-06-09 12:06] pigsonthewing commented on #4967
Your reply assumes that "the best imaginable captions" are also the best imaginable file names. This is not the case.

All my file names, for example, are in the format `[subject] - [date] - Andy Mabbett] - [number]`. At present, when I enter such file names, the app also uses them as captions.

I posit that most images on Commons do not us the same text for file name and caption. Indeed, if they

[2022-06-09 16:59] misaochan opened #4992 "v4.0 crash report - NPE at LocationPickerActivity.java:158"
From the google groups crash forum:

[code]

[2022-06-10 18:47] misaochan commented on #4988
@madhurgupta10 seems like it didn't work. :/

[code]

[2022-06-12 17:24] 4D17Y4 commented on #4764
Congratulation to our GSoC candidate for this year @Ayan-10, great job on your contribution to the project and proposal for GSoC. He will be working on this issue this summer. Glad to you on board, Ayan.

We would like to thank all the candidates for their interest and proposals. We had some great ones but unfortunately, there was just one slot and we had to choose only one. Do not get disappointe

[2022-06-13 13:19] linsui opened #4994 "[Bug]: F-Droid: GMS libs in the final apk"
### Summary

F-Droid deploys a new binary scanner which finds GMS in the apk. See https://gitlab.com/linsui/fdroiddata/-/jobs/2577487197 I don't know where it comes from.

### Steps to reproduce

You can use dexdump and grep to check the apk.

### Expected behaviour

There is no nonfree libs.

### Actual behaviour

GMS sleaks in.

### Device name

_No response_

### Android version

_

### Commons

[2022-06-13 19:23] sivaraam commented on #4759
Interesting. Then there might really be something curious going on. I'm out of ideas on what might be possible causes for this issue. Let's see if others are able to shed any light upon this.

[2022-06-14 00:54] nicolas-raoul commented on #4994
Thanks for letting us know about this!

[2022-06-14 10:23] licaon-kter commented on #4994
It's via mapbox, there are references in `com/mapbox/android/core/location/`

Any chance to update to https://github.com/maplibre/maplibre-gl-native instead of the old lib?

Ref: https://github.com/maplibre/maplibre-gl-native/pull/313

[2022-06-17 14:23] OpenGreenStreet commented on #190
Such a function would also be very desirable from my point of view

[2022-06-20 05:08] nicolas-raoul opened #4997 "Show where a picture is in use"
### What is the user problem or growth opportunity you want to see solved?

A big motivation for users is to see that their uploads are useful, being embedded into Wikipedia articles etc.

### How do you know that this problem exists today? Why is this important?

Important to retain users and encourage them to upload more useful pictures.
Can also teach what kind of pictures are well-received.

#

[2022-06-26 10:53] HOODZCHRIS commented on #167
Rootless installer error:

 java.lang.SecurityException: Permission Denial: reading com.android.providers.downloads.DownloadProvider uri content://downloads/all_downloads/5328 from pid=1208, uid=10495 requires android.permission.ACCESS_ALL_DOWNLOADS, or grantUriPermission()
	at android.os.Parcel.createException(Parcel.java:1966)
	at android.os.Parcel.readException(Parcel.java:1934)
	at android.dat

[2022-06-28 03:11] #4992 closed

[2022-06-28 03:11] #4988 closed

[2022-06-28 03:21] misaochan opened #5000 "v4.0 crash report - NPE at ContributionBoundaryCallback.kt"
From google groups forum.

[code]

[2022-06-28 03:23] misaochan opened #5001 "v4.0 crash report - NPE at UploadMediaDetailFragment.java:155"
From google groups forum:

[code]

[2022-06-28 03:27] misaochan commented on #5001
Perhaps related - there is another crash report with the exact same user comment (in German) but a different stack trace.

[code]

[2022-06-28 10:52] misaochan opened #5002 "v4.0 bug report - category search not working"
From an email sent to our google groups forum:

[2022-06-28 14:24] mds08011 commented on #5002
I am using `4.0.1~66f8f97d0` and experiencing the same issue since the last update from Google Play Store.

[2022-06-28 17:33] sivaraam commented on #5002
I too got 4.0.1 through play store and experience the same behaviour. I'm using the app on a OnePlus Nord running Android 12.

The worst part is I'm not even able to get the specific app version (the one with the commit hash) since the app crashes when clicking on the "More" tab on the home screen navig. :-(

[2022-06-29 06:51] misaochan commented on #5002
Thanks for the reports, guys! We are working on it. :)

@sivaraam Could you submit a crash report the next time it happens please, so we can get the stack trace?

[2022-06-29 06:58] misaochan commented on #5002
By the way, @mds08011 @sivaraam do either of you know if the search worked for you in v4.0.0? (Between 28 May and 9 June)

[2022-06-29 16:13] mds08011 commented on #5002
Actually, I was able to fix things by clearing both the storage and cache memory (Settings>Apps>Commons>Storage & Cache).  After clearing both and logging back in, the categories populated.

And I don't think I used the app during version 4.0.0 so I can't speak to that.

[2022-06-29 19:50] sivaraam commented on #5002
Interestingly, the buttons appears to crash only when I'm on mobile data. It works fine when I'm on Wi-Fi. Anyways, good to know there's a fix for the issue. :-)

I could confirm too that I'm not able to see the issue in a fresh installation.

Me too. I'm not really sure if I used that particular version.

[2022-07-05 08:54] #5000 closed

[2022-07-08 07:55] misaochan opened #5006 "v4.0 crash report - SQLiteException: no such table: contribution (code 1 SQLITE_ERROR)"
From google groups forum:

[code]

[2022-07-08 15:50] misaochan commented on #5006
From the user: "I think all I did was go back to the app after having it in the
background, when the crash notice appeared. I was doing some Wikidata
uploads from the map, but I think this happened between uploads just
as I brought the app back to the foreground (possibly from the task
switcher)."

[2022-07-09 16:52] matkoniecz opened #5007 "Allow to edit description"
### What is the user problem or growth opportunity you want to see solved?

User may want to add or fix description after upload

### How do you know that this problem exists today? Why is this important?

I tried to modify description as I failed to add or and I see no way to achieve it from within app or even how to get to Wikimedia Commons file page from the app

### Who will benefit from it?

[2022-07-09 16:54] matkoniecz opened #5008 "Location edit - allow to center on GPS provided location"
### What is the user problem or growth opportunity you want to see solved?

User should not be expected to scroll to their current location through half the world

### How do you know that this problem exists today? Why is this important?

I just tried to add location and have up

![Screenshot_20220709-185242](https://user-images.githubusercontent.com/899988/178115470-4aa4dfc5-fc7f-474a-af09-a6d5a

[2022-07-09 17:05] matkoniecz opened #5009 "Allow to mark objects as not existing anymore and as a defunct"
### What is the user problem or growth opportunity you want to see solved?

I am not interested in taking photos of not existing places - and I am definitely not interested in getting notifications about nearby places that turns out to be not existing

### How do you know that this problem exists today? Why is this important?

I just run into it

![Screenshot_20220709-190151](https://user-images.g

[2022-07-11 07:42] nicolas-raoul commented on #5000
Issue number 5000! Congratulations! 🎉🎉🎉😄

[2022-07-12 06:50] #5006 closed

[2022-07-12 06:50] #5001 closed

[2022-07-14 08:55] whym commented on #3635
I changed the title of this issue to differentiate it from #1971. (The latter seems more wide-ranging.)

[2022-07-14 10:47] misaochan opened #5014 "v4.0 crash report - SQLiteException: no such table: worktag"
From google groups forum. Not sure if this is related to #5006 , it is a different table.

[code]

[2022-07-15 06:31] misaochan commented on #5014
I had more information from the user after talking to them:

This crash appears to be new in v4 - I looked through the v3 crashes for the last 60 days on the play store console and it did not exist there. I understand that it's not directly caused by us, but perhaps it might be worth looking at what changed, and if there is any workaround we can do?

[2022-07-17 08:36] mds08011 opened #5015 "[Bug]: Custom Image Selector not identifing photo location"
### Summary

The "custom picture selector" is not recognizing the locations from my photo's EXIF data.  If I upload a photo using the regular file selctor, the app is able to identify the location of the photo from EXIF data.  If I select the same photo with the custom selector, I get a "no location found" dialog box.

By "regular selector," I am referring to the button highlighted by a green box

[2022-07-18 16:07] misaochan commented on #1971
Just to clarify (as the discussion has been long), it is the date in the template that needs to change to follow the EXIF data, right?

[2022-07-18 16:09] #5002 closed

[2022-07-19 01:00] nicolas-raoul commented on #1971
Using the latest commit of https://github.com/commons-app/apps-android-commons/tree/4.0-release branch, I just uploaded the files below, cropped or not, rotated or original. Some have a one day difference between EXIF and `{{According to Exif data|`, some not:

One day difference:
- https://commons.wikimedia.org/wiki/File:%E6%A8%AA%E6%B5%9CYMCA.jpg taken at `18:02, 12 July 2022`, we generated `{{A

[2022-07-19 04:23] misaochan commented on #1971
Thanks @nicolas-raoul ! Hmm, in that case the hypothesis re: saving date must be wrong, then? I have no idea what else could be the issue, as I don't see any pattern. Did you upload all of them through the same method (Contributions > Gallery > Stock Android Gallery)?

[2022-07-19 08:55] nicolas-raoul commented on #5015
Thanks for reporting!
I have experienced a rather similar problem, always on Pixel 4, and never with my old Samsung somehow. If you have access to other phones, would you mind trying?

Does sharing from Google Photos work? And what about from a third-party gallery app? Thanks!

[2022-07-19 09:13] subbass1 commented on #1971
As i am (heavily) affected: I choose multiple files with a file commander and hand over via "share". But I doubt this is relevant here.

[2022-07-19 09:21] subbass1 commented on #1971
@misaochan: why the hypoth. then must be wrong? On his files I see identical capture and saving dates in the EXIF. Besides that: only 1 day difference could be timezone related and then another thing.

[2022-07-19 10:12] misaochan commented on #1971
Hi @subbass1 , great to see you here! If I understand correctly, @nicolas-raoul 's reports indicate that some of his pictures had the correct date even though he edited the pictures. And some of his pictures have the wrong date even though they are originals and he did not edit them. Nicolas can you confirm my interpretation of your post?

Also, @subbass1 are all of your wrong dates just 1 day lat

[2022-07-19 10:21] subbass1 commented on #1971
@misaochan: here it's conistently this way (no timezone prob!): in the EXIF we have 2 fields/dates: "Erfassungszeitpunkt" (capture date) and "Speicherzeitpunkt" (saving date).  if they are the same, no problem. if not (this happens when you edit days later) the app errorously uses the saving date. And afaics the files by nicolas do show identical dates, so there can't be a problem related to this

[2022-07-19 10:36] misaochan commented on #1971
What change exactly did you perform on 13 July? Could you describe the process of making that change? I understand from your post on the Village Pump that it involves Google Photos, but I need to know the process so I can test it.

[2022-07-19 10:41] subbass1 commented on #1971
Yes, I always edit online (cutting, center etc.), and then for convenience first save on the phone before uploading in mass mode from there (also could be days later, but that makes no harm). The edits are being saved correctly by google photos on the files. The app should just ignore these field and always use "Erfassungszeitpunkt" (capture date, you called it "date and time of data generation")

[2022-07-19 10:52] misaochan commented on #1971
Sweet, I have successfully reproduced the issue! https://commons.wikimedia.org/wiki/File:Australian_possum.jpg Thanks so much @subbass1 , we hope to fix this soon.

Summary

There are 2 separate issues.

Issue 1 - Date of data generation vs file change date

This is the issue that @subbass1 is experiencing. To reproduce, edit a photo in Google Photos on your phone, then save the edit. Then "Share"

[2022-07-19 11:54] nicolas-raoul commented on #1971
True

Yes

Great finding, before/after 3pm seems to indeed be the key! I guess you meant: If the _picture's EXIF date_ (not sure which one, since the EXIF dates found in EXIF seem to always be identical for me) is before 3pm then no problem. If the picture's EXIF date is after 3pm then `According to Exif data` is set to 1 day too late. I will keep uploading more pictures to validate this hypothesi

[2022-07-19 12:08] whym opened #5017 "[Bug]: timestamp discrepancies dependent on files (not devices)"
### Summary

It looks like at least some cases of timestamp oddities are reproducible by first downloading the offending file and uploading it from the gallery.

https://upload.wikimedia.org/wikipedia/commons/5/5a/Belvedere_%28Saarburg%29.jpg

This is one of the files reported at https://commons.wikimedia.org/wiki/Commons:Village_pump#Files_uploaded_via_Mobile_app_have_wrong_dates .

(It's better

[2022-07-19 12:12] whym commented on #5017
The parsing of EXIF seems fine.

I inserted
`Timber.w("exif date %d %d", exif.getDateTimeOriginal(), exif.getDateTimeDigitized());`
into EXIFReader.processMetadata and confirmed that both matched what is shown in the EXIF table in the file page.

[2022-07-19 12:18] whym commented on #1971
I have created #5017. Is it the same thing as Issue 1 above? (Sorry, I didn't catch up with the recent comments here.) I used the beta cluster, which might complicated things needlessly.

[2022-07-19 12:56] misaochan commented on #1971
Hi @whym ! Yes, #5017 looks like a duplicate of Issue 1. We can close it and I will link to it in my summary comment above.

@nicolas-raoul Thanks! I think for now I will just link to #3635 in my summary comment, and later on that can serve as detailed discussion for Issue 2 if needed. I prefer not to move things around too much before @neslihanturan has the chance to catch up on this, as the disc

[2022-07-19 13:35] whym commented on #1971
Agreed with having the discussion in one place for now.

To support what @misaochan said above (hi, it's been a while!), among ``ExifInterface``'s four timestamp-related methods, `getDateTimeOriginal()` seems like the one we want, at least if the device behaves as expected.

- `getDateTime():` this is the one the app currently uses. It is confusingly the last modification timestamp and can be upda

[2022-07-19 17:13] mds08011 commented on #5015
I don't have another phone easily available but I'll see what I can dig up.

Sharing from Google Photos works without issue, but sharing from a third-party image gallery (Solid Explorer's "SE Image Viewer" in my case) has the same problem identifying image location.

[2022-07-20 07:51] nicolas-raoul commented on #1971
(about issue 2)

I have tested with around 100 pictures, I can confirm that being at UTC+9, any picture taken after 3pm leads to a `According to Exif data` which is +1 day compared to the picture's taken date documented in EXIF.

Apparently [EXIF timezones can't be trusted](https://photo.stackexchange.com/a/97149/1498), and actually when it comes to the `According to Exif data` template the app **

[2022-07-20 08:30] whym commented on #1971
If we are to start from the string representation of the DateTimeOriginal value, I would expect lots of irregularities from different devices that Android supports. (I do think it's a great idea, though.) It might worth checkiing out [how MediaWiki parses that](https://github.com/wikimedia/mediawiki/blob/99aad54ea856479fa29fcced81734dd0c17ddcbd/includes/media/FormatMetadata.php#L343) in PHP.

[2022-07-21 13:36] nicolas-raoul commented on #1971
(about issue 2)

People have been transferring their pictures from their Android/etc devices for 17 years to upload via the web Upload Wizard, so I believe it is robust enough for us :-)

Thanks a lot for the PHP link! Judging from it, Mediawiki can parse the following EXIF DateTimeOriginal/etc formats:
[code]
In other words, we can implement this pseudo-code:

1. year = substring from 0 length 4,

[2022-07-21 14:01] nicolas-raoul opened #5018 "Create a map showing where we have a higher proportion of uploads than other uploaders"
I believe our app results in more uploads from the global South / underrepresented countries than the web Upload Wizard, but I don't think we have a solid proof of that.

This script could be customized to check for our label, then compare. For instance it could show with a green gradient the areas where we have proportionally more than our average share of uploads :
[code]
Found at https://common

[2022-07-21 14:24] mds08011 commented on #5015
@sivaraam , would you mind trying to reproduce this issue on your OnePlus Nord?

 Checking whether image locations are identified when sharing photos from a third-party image gallery and/or using the Custom Photo Selector.

[2022-07-21 18:16] SamarthAsthan commented on #4990
@misaochan can i work on it ?

[2022-07-21 22:13] nicolas-raoul commented on #4990
@SamarthAsthan Yes thanks!

[2022-07-22 07:05] misaochan commented on #5018
Great idea! I can obtain maps of active installs from the dev console, but uploads is a better metric for sure.

[2022-07-26 13:07] whym commented on #1971
I wrote [a database query](https://quarry.wmcloud.org/query/66237) and found a few edge cases of DateTimeOriginal values.

* "03/03/2019 1:57" [Venice_8.jpg](https://commons.wikimedia.org/wiki/File:Venice_8.jpg)
* "2018-07-23 18:40:47" [Kirkevoll_skole_panorama.jpg](https://commons.wikimedia.org/wiki/File:Kirkevoll_skole_panorama.jpg)
* "2018-10-07 13:18:19" [Berganvannet,_Re.jpg](https://commons.

[2022-07-26 14:30] nicolas-raoul commented on #1971
Thanks a lot for the research! Is `03/03/2019` format a rare exception, or is it quite prevalent? It could be a bug in an app's EXIF generator, by the way `Date and time of digitizing` in the EXIF of the same panoramic picture uses a more standard year-first format.

How about we just not generate the `According to Exif data` template if we do not recognize the date?

[2022-07-27 04:21] misaochan commented on #1971
Sounds like a good option to me, if it's considered acceptable by the Commons community.

[2022-07-27 13:32] whym commented on #1971
Yes, I forgot mention but we can say from the same results that [nicolas-raoul's simple method](https://github.com/commons-app/apps-android-commons/issues/1971#issuecomment-1191495565) will work for 99+% of the cases (both of the ":" and "-" delimiters). It would be nice to handle the 1% or fewer irregular cases, but that can wait.

[2022-07-28 09:06] whym commented on #1971
In general, I think it's safe to assume the community expectation is "as good as UploadWizard or better".

I assume "not generate" means inserting the current date, which is what the app does.

For comparizon, when EXIF doesn't provide the date, UploadWizard asks for it. If I try to leave it empty, I cannot proceed. (It says "This field is required.") In this way, UW tries to find the correct date

[2022-07-28 17:38] misaochan commented on #1971
Hmm, if it's not possible to proceed without a date via the Upload Wizard, then we should not do that indeed.

I would prefer not to do this as IMO this is the more complex option from a dev, UI and tester perspective

I would be in favour of this if all are agreed. @nicolas-raoul @neslihanturan ?

[2022-07-28 23:06] nicolas-raoul commented on #1971
Using {{Upload date}} when EXIF date can't be determined sounds good to me 🙂

[2022-08-01 15:36] endim8 opened #5021 "[Bug]: App won't launch after signing in for first time"
### Summary

Launching the app for the first time, it was able to open the login screen. After I logged in, the app crashed and now refuses to open.

### Steps to reproduce

1. attempt to open the app

### Expected behaviour

the app should launch

### Actual behaviour

The app refuses to launch

### Device name

Oneplus 8 Pro

### Android version

Android 12

### Commons app version

2.6.0 (fdroi

[2022-08-01 15:39] endim8 commented on #5021
ah ok, the f-droid version is just insanely out of date... it's working with 3.1.1 downloaded from google play

[2022-08-01 15:39] #5021 closed

[2022-08-01 15:41] endim8 opened #5022 "F-Droid version very out of date"
### Feedback

Why is the F-Droid version so out of date? the last build was in 2017.
This really needs to be updated.

### Wiki username

_No response_

### Device name

_No response_

### Android version

_No response_

### Commons app version

2.6.0 (fdroid)

[2022-08-02 05:15] misaochan commented on #5022
I'm not really sure why - usually F-Droid automatically takes from our releases, and we haven't changed our system for those since 2017. https://github.com/commons-app/apps-android-commons/releases Is there a way for us to ask them about this?

[2022-08-02 08:21] thibaultmol commented on #3647
It is also ignoring camera model when uploading.
For example this image:  https://send.bitwarden.com/#X7f5l8mp3keDoa7jAOkMmQ/JFt1UTmk7h-aJPl1E57UzQ
Gets uploaded without saying what smartphone it was taken with, even though it is in the original exif.
https://commons.wikimedia.org/wiki/File:Rechterkant_Sancta_Maria.jpg

[2022-08-02 08:28] endim8 commented on #5022
ah, looking at https://gitlab.com/fdroid/fdroiddata/-/blob/master/metadata/fr.free.nrw.commons.yml, it seems that all newer versions are disabled due to https://github.com/commons-app/apps-android-commons/issues/4994

[2022-08-03 09:20] whym commented on #1971
I just realized that things would be a bit more complicated than I said in the last comment, because it looks like it's not the current timestamp but the last modified date on the local file system that's used when EXIF timestamp is unavailable. (I was testing with newly copied files, so I didn't notice the difference, sorry.)

https://github.com/commons-app/apps-android-commons/blob/f8a8f9207028a

[2022-08-03 11:10] misaochan commented on #1971
Hmm, thanks for bringing that up @whym . As this only affects edge cases, I think I will go ahead and merge and release #5019 as the vast majority of cases can be handled by that, and time is of the essence. Could you create a new issue for this topic?

[2022-08-03 11:12] #1971 closed

[2022-08-03 11:13] misaochan commented on #5014
I will proceed to release without this, as we cannot reproduce this bug and the person who reported it did not get back to me regarding my question (re: reinstalling).

[2022-08-03 11:14] misaochan commented on #1971
Should tentatively be able to do the v4.0.2 release with this by tomorrow.

[2022-08-03 11:15] misaochan commented on #5022
Noted, thanks. If anyone is interested in working on #4994 , please let us know!

[2022-08-04 09:15] misaochan commented on #1971
@subbass1 I have released v4.0.2 with this bugfix, it should be available for beta testing on the Play Store in a few hours' time. Could you please register for beta testing, make sure the app is updated to v4.0.2 (you can check the version via "About") and test it with an edited photo? Thanks a lot!

[2022-08-04 10:22] misaochan opened #5024 "Google Play Store UGC issue. App update rejected - should we temporarily remove Explore?"
Upon my attempt to publish v4.0.2, I received this email from the Google Play Store. Basically, due to a UGC policy change by Google, **all updates to our app, including the latest one that I submitted, will be rejected** until we make the changes required. I have attached a snippet of the email and the screenshot that they sent me below, but long story short, the issue is caused by Explore showin

[2022-08-04 10:44] madhurgupta10 commented on #5024
@misaochan If I understood correctly they require us to add a report option in the three-dot menu which can be used to report the 3 mentioned violations. I think if we simply show a popup with these three violations and generate an email template where the user can send an email to Google Group, it should be acceptable to Google I guess.

Even for YouTube, if someone wants to report any inappropri

[2022-08-04 10:47] misaochan commented on #5024
Hmm, interesting. I was thinking about the Commons review/report structure when I was considering the problem, but if just providing an option to email our mailing list works, then that could be an option. How would this work with the requirement to "remove/block abusive users"?

[2022-08-04 10:55] madhurgupta10 commented on #5024
[code]

Not sure about that, if Google wants us to implement a block feature in that app then it would take a lot of time to develop.

Also, I notice that even in YouTube app if you click on block user it will only restrict that user from commenting on your videos nothing else so I am confused what Google want us to implement here as we don't have any direct user interaction within the app (As far

[2022-08-04 11:01] misaochan commented on #5024
Yes, exactly. It seems to be a change in Google's own policy, as we have had the Explore feature for a long time and this is the first time I received this email from them. I am open to trying just an email link for "Report inappropriate content", but it can delay the process (and consequently the ability for us to complete this grant, AND the date bug fix that is causing a lot of ire in the Commo

[2022-08-04 11:06] madhurgupta10 commented on #5024
@misaochan I can try putting up a PR with email option by today or tomorrow and we can see if Google approves it or not.

[2022-08-04 11:07] misaochan commented on #5024
That would be fantastic, thank you! There is also a Data Safety form requested by Google that I need to work out with @nicolas-raoul , but AFAIK that should not block releases until 22 Aug.

[2022-08-04 11:28] whym commented on #5024
If we are to let the user report things, I think it might make sense for us to implement a (probably app-embedded) list of banned categories. I refrain from linking but Commons does have dedicated categories for genital images that we might want to ban, for instance.

Illegal images (like child porn) can be directly reported to  legal-reports@wikimedia.org. (See also https://commons.wikimedia.org/

[2022-08-04 12:00] nicolas-raoul commented on #5024
I wonder whether the Wikipedia app has received this. Arguably a picture upload app is seen as more prone to abuse.

The Help page says "in-app" but I guess an in-app button that launches an email app is acceptable.
The policy does not say that we have to take down all content that gets reported.
It is not clear whether reporting users is enough, or whether blocking users (making them and their co

[2022-08-04 13:33] whym commented on #5024
It looks as though the Wikipedia app hasn't had to deal with the same issue, at least in the past. The alpha version updated today shows random images from Commons for editing tasks, without something like a report button. The (i) link is for [the feature's help page](https://www.mediawiki.org/wiki/Wikimedia_Apps/Suggested_edits), not for report/moderation.
![Screenshot_20220804_222931](https://us

[2022-08-05 07:21] misaochan commented on #5024
TODO: https://github.com/commons-app/apps-android-commons/pull/5025#issuecomment-1206026553

[2022-08-05 07:42] misaochan commented on #5014
This crash happened to me today while testing the app before release - it happened as soon as I submitted the upload after the final license step. The uploads before and after it were fine. In my case, the only difference I noticed was that the problematic upload did not have any coordinates, and I chose "skip" when prompted to choose coords for it.

I will proceed with the release regardless, but

[2022-08-05 08:04] misaochan commented on #5024
Thanks everyone, I have released v4.0.3 with these changes. Fingers crossed...

[2022-08-05 09:14] nicolas-raoul commented on #5024
Another issue came up, which I believe can be fixed in Play console settings?
It seems to mean that the UGC problem is considered fixed. :-)

[2022-08-05 09:22] misaochan commented on #5024
Ah, I got the Data Safety Form email an hour prior to the UGC email the last time, so I wouldn't necessarily assume that. :) Still, it would be great if you and I could work on the Data issue at the same time. I will message you.

[2022-08-05 09:31] misaochan commented on #5024
Yes, it is now published. Thank you all - I will make a new issue for https://github.com/commons-app/apps-android-commons/pull/5025#issuecomment-1206026553 .

[2022-08-05 09:32] #5024 closed

[2022-08-05 09:33] misaochan opened #5026 "Add report menu for Leaderboard"
As stated at https://github.com/commons-app/apps-android-commons/pull/5025#issuecomment-1206026553 , we need to add the Report menu in Explore to Leaderboard.

[2022-08-05 09:34] misaochan commented on #1971
@subbass1 The v4.0.3 release has gone through, would appreciate help with testing it. :)

[2022-08-06 05:55] nicolas-raoul commented on #5026
Actually, I am not sure why the whole menu (which can be seen via Explore) is missing. Looks like a bug I would say. 🙂

[2022-08-06 06:15] nicolas-raoul commented on #5015
From third-party gallery (Simple Gallery, by Simple Mobile Tools), I share to:
- EXIF Viewer: It shows coordinates
- Commons app: It tells me "no location found"

Screencast: https://youtu.be/-azE7U-lGgA

Pixel 4, picture taken using stock camera

[2022-08-06 07:20] madhurgupta10 commented on #5014
@misaochan I uploaded a pic today without any coordinates and choose SKIP option but still, there was no crash for me and the upload was successful

[2022-08-06 07:36] nicolas-raoul commented on #965
Duplicate of https://github.com/commons-app/apps-android-commons/issues/2425

[2022-08-06 07:36] #965 closed

[2022-08-06 07:40] nicolas-raoul commented on #5009
Good idea! I think this is similar to https://github.com/commons-app/apps-android-commons/issues/2425, which Vanshika has started to implement, so would you mind commenting there? 🙂

[2022-08-06 07:40] #5009 closed

[2022-08-06 07:46] nicolas-raoul commented on #5008
Yes, the first time you are dropped at a random location in San Francisco, but then the app remembers the last location you chose 🙂

Adding a "center on location" button like in Google Maps is a great idea, there is a good probability that it will be nearer to where the picture was taken than San Francisco. Please note that using GPS often results in permission issues, so it might not be trivial t

[2022-08-06 07:51] nicolas-raoul commented on #5007
Good news, this is implemented in the next version. Still quite buggy though. 😔
![Screenshot_20220806-164857](https://user-images.githubusercontent.com/99590/183239999-10bc529e-b4a6-4154-bc3c-dfaccd50ddb1.png)

[2022-08-06 07:51] #5007 closed

[2022-08-06 07:58] madhurgupta10 opened #5029 "Invalid resource directory name `values-ks-arab`"
It seems like the CI is failing with the following error. Seems related to #4927

[code]

[2022-08-06 08:04] nicolas-raoul commented on #4991
Thanks for the idea!

Changing the title of an image should be a rare operation, it is risky as it breaks wikilinks. I would recommend always first checking where the image is in use, which can only be done on the website.

Since readers are mostly shown captions, I think typos can be left in titles.

There might also be backclash from the Wikimedia community if this feature is used without care (

[2022-08-06 08:10] matkoniecz commented on #5008
and also likely closer than the last remembered location!

[2022-08-06 08:43] nicolas-raoul commented on #4966
Thanks for reporting!

Good news, that does not seem to happen in recent master, I just tried with the exact same steps. If this is actually not happening every time, please let us know, thanks! 🙂

[2022-08-06 08:53] nicolas-raoul commented on #4965
I totally agree, this is very frustrating!

State should be remembered (maybe in database?) and survive low memory kicks and ideally even reboots.

It will take a lot of effort to implement&test&maintain unfortunately, and we are all taking care of this app in our spare time. 😔

[2022-08-06 08:57] nicolas-raoul commented on #4964
I can reproduce this.
It results in confusing titles.

[2022-08-06 10:21] OpenGreenStreet commented on #4991
Thank you for your feedback. I had only thought of a request. The implementation would then be done by an experienced user or admin. It would be enough to simply call the dialog for requesting a renaming via a web browser.

It was just an idea, if it doesn't make sense to you, it's okay.

[2022-08-06 10:42] pigsonthewing commented on #4966
Happy to test; when will this master be deployed?

[2022-08-06 11:19] nicolas-raoul commented on #4966
Thanks a lot, that's a great help!
I believe it is already available to beta users. Here is how to join the beta: https://github.com/commons-app/commons-app-documentation/blob/master/android/Volunteers-welcome!.md#testers

[2022-08-06 11:21] nicolas-raoul commented on #4991
I had missed that indeed, thanks.

Is there an existing place on Commons for such requests?

[2022-08-06 11:43] OpenGreenStreet commented on #4991
I can't say. I have asked an admin.

[2022-08-07 09:08] subbass1 commented on #1971
Ok, will do (perhaps someone could look at my last uploads (but if I upload the same days the photos were taken one can't check it). But besides that: *please* look in the very annoying bug that the app stops working completely quite often. (I think you know my text facts.) Also stop/start uploading manually doesn't help. Than it's necessary to de- and reinstall completely. I'm really annoyed, can

[2022-08-07 09:37] pigsonthewing commented on #4966
I have now tested this using the current Beta (version=4.0.3~23c474b06). The issue persists, and occurred on my first attempt to upload multiple images..

See screenshot at https://commons.wikimedia.org/wiki/File:Commons_app_beta_screenshot_showing_duplicate_uploads_-_2022-08-07.png  (The duplicate copies have been nominated for speedy deletion.)

[2022-08-07 11:00] pigsonthewing opened #5030 "Author field shows HTML tags when template used"
### Summary

When viewing my recent uploads in the app (using Beta version=4.0.3~23c474b06), the attribution includes visible HTML markup and incorrect text. This is apparently caused when `{{Creator:Andy Mabbett}}` is present on the Commons file page, as it includes the description from the associated Wikidata item. For items with the author in plain text, the issue does not occur.

### Steps to

[2022-08-07 11:05] OpenGreenStreet commented on #4991
Does that help you?:
https://commons.wikimedia.org/wiki/Template:Rename

[2022-08-07 11:47] nicolas-raoul commented on #4966
Thanks, I will try again!

On Sun, 7 Aug 2022, 18:37 Andy Mabbett, ***@***.***> wrote:

[2022-08-08 05:51] misaochan commented on #5029
@translatewiki could you help with this please?

[2022-08-08 05:59] misaochan commented on #1971
@subbass1 Sorry, I'm not familiar with that issue - I was under the impression that you were crashing on Settings, is that not fixed now?

For the issue of the ANR (app not responding), could you create a new issue using our issue tracker so that a volunteer can take it up please? Thanks!

[2022-08-08 06:01] misaochan opened #5031 "Google Play action required - background location access"
@nicolas-raoul and I received, over the weekend, more emails from the Play Store regarding non-compliance. Snippet below:

Oddly, both of us also looked at the manifest and could not find any mention of ACCESS_BACKGROUND_LOCATION in the manifest. Does anyone have any ideas for what the cause could be? @neslihanturan @madhurgupta10 @whym

[2022-08-08 06:19] madhurgupta10 commented on #5031
@misaochan I think the permission is added automatically by Mapbox SDK

[2022-08-08 07:17] misaochan commented on #5031
Hmm, okay. By the way, there is actually another part of the email:

![IN_APP_EXPERIENCE-1504](https://user-images.githubusercontent.com/3611199/183360542-1d82b470-ccc0-4f75-ae6b-8eef665df009.png)

However, the way I read it, that was superseded by the "Feature does not meet requirements for background location access" issue - i.e. even if we fix the disclosure, we are still considered to not be e

[2022-08-08 08:33] nicolas-raoul commented on #5031
Maybe use `<uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" tools:node="remove" />` ? Note the `remove` part.
Use case from [the documentation](https://developer.android.com/studio/build/manage-manifests): "_necessary when you discover an element in your merged manifest that you don't need, and it was provided by a lower-priority manifest file that's out of your contro

[2022-08-08 09:08] nicolas-raoul commented on #5031
By any chance, does [LocationServiceManager](https://github.com/commons-app/apps-android-commons/blob/a0ff15cdc23e32763139dfdf86e2f9e1b9b913e1/app/src/main/java/fr/free/nrw/commons/location/LocationServiceManager.java) or any similar class somehow survives (and maybe even run) when the app is not visible on screen?

[2022-08-08 13:56] misaochan commented on #5031
I don't think it's possible for us to implement background location checking without it being possible in the manifest, right? I wonder if perhaps the best next step is to try `<uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" tools:node="remove" />` , as that would presumably solve the issue with Mapbox. If it doesn't work, then we have to investigate further? @madhurg

[2022-08-09 06:35] madhurgupta10 commented on #5031
I checked the merged manifest file and there is indeed no ACCESS_BACKGROUND_LOCATION permission requested. Not sure why we are getting this error

[2022-08-09 08:16] nicolas-raoul commented on #5031
[This developer had a similar problem](https://www.internetkatta.com/how-to-solve-location-policy-rejection-for-play-store), no ACCESS_BACKGROUND_LOCATION anywhere, and apparently this got their app approved:
![Screenshot from 2022-08-09 17-14-49](https://user-images.githubusercontent.com/99590/183599525-792a465d-3600-4918-907f-44d243c44c4c.png)

[2022-08-09 08:41] whym commented on #5030
I tested it and it happened with https://commons.wikimedia.org/wiki/File:Zhu-Zhanji-Gibbons-at-Play.jpg . In this case, the creator is not me. (I uploaded a public domain artwork.)

![Screenshot_20220809-173537](https://user-images.githubusercontent.com/10674/183604656-dfc635a9-dca4-407a-a2ce-177d482590b7.png)

[2022-08-09 13:16] DamienBradleyDSP commented on #5026
I've had a look into this and it seems that the media.MediaDetailPagerFragment needed to display the media content is created in two places - ExploreListRootFragment & ContributionsFragment. The explore side sets up with a `.add(R.id.explore_container, fragment)` and contributions side sets up with `.add(R.id.root_frame, fragment, tag)` which I believe may be the root cause of the issue - the cont

[2022-08-09 13:21] misaochan commented on #5031
@nicolas-raoul Do you think we could appeal, talk to Google and say that we checked our manifest and merged manifest, and there is no ACCESS_BACKGROUND_LOCATION in either? At the very least, they might be able to give us more details on what exactly makes them think we are accessing location data in the background. Otherwise it feels a bit like shooting in the dark, there are a lot of things we ca

[2022-08-09 13:22] nicolas-raoul commented on #5026
@DamienBradleyDSP Thanks a lot for the investigation! Please do not hesitate to send a pull request, if it solves the issue we will probably merge it :-)

[2022-08-09 13:26] DamienBradleyDSP commented on #5026
Well the reason I haven't is that I'd guess that the code needs a bit of a rewrite so that the mediadetailfragment is made inside of an explore fragment - or contributions is made inside the explore fragment. I'm not sure on the solution in that respect, I'm unable to hack together a solution with the architecture there at present

[2022-08-10 06:53] madhurgupta10 commented on #5031
@misaochan Even in the permissions I don't see "Allow all time" request as stated in [docs](https://developer.android.com/training/location/permissions#request-background-location)

![image](https://user-images.githubusercontent.com/30932899/183834596-9c705d53-d6ac-43e0-9386-76fbccf07b87.png)

[2022-08-10 06:55] misaochan commented on #5031
Yes, indeed. :( I actually just tried promoting the beta to production anyway yesterday. It is still in review (more than 12h now), but we'll see what happens.

[2022-08-10 08:55] whym commented on #5031
[Playstore page](https://play.google.com/store/apps/details?id=fr.free.nrw.commons) has a link (under Developer contract) to https://github.com/commons-app/apps-android-commons/wiki/Privacy-policy which doesn't exist. I confirmed this with a real phone's Play Store app and desktop Firefox.

Is it supposed to be https://github.com/commons-app/commons-app-documentation/blob/master/android/Privacy-po

[2022-08-10 09:12] nicolas-raoul commented on #5031
@whym Fixed, thanks a lot! :-)

[2022-08-10 12:14] misaochan commented on #5031
App was rejected from prod about an hour ago (so after the privacy link was fixed).

[2022-08-10 12:32] whym commented on #5031
Is the link really fixed? Here is what I'm seeing. It could be my local cache or something, though.
![image](https://user-images.githubusercontent.com/10674/183901698-aa4cf135-b198-450d-8f52-7d947d478779.png)

[2022-08-10 13:23] pigsonthewing commented on #5030
I think that the template's whole text would be too much text. The simplest solution may be to render the name of the individual template without the "Creator:" prefix; so in the first case above, "**Andy Mabbett**", and for the second (your) example, "**Xuande**".

Alternatives for your example would be to use the top line's link text ("**Xuande Emperor**") or the entire top line's text  ("**Xuan

[2022-08-11 07:29] misaochan commented on #5031
I believe in order to actually publish the new link, Google might have to approve our submission first, but I could be wrong.

[2022-08-14 10:59] misaochan commented on #5031
These are the results of my appeal to Google:

[2022-08-14 11:31] madhurgupta10 commented on #5031
@misaochan one thing I understand is that we should add a dialog before the permission dialog which tells the user why we need this permission.

Apart from that, I don't really understand what's causing the background location :(

[2022-08-15 05:14] Ayan-10 opened #5033 "[Bug]: Test classes are facing several issues"
### Summary

**Issues:**

1. Coverage is not showing for some classes and after a successful run of a test class a popup is showing saying `Project class files are out of date would you like to recompile? The refusal to do it will hide coverage info`.
![Screenshot (17)](https://user-images.githubusercontent.com/71203077/184578595-87c84dbe-08af-40a4-9e22-77898a38e427.png) Clicking recompile it's sh

[2022-08-15 08:04] misaochan commented on #5031
@madhurgupta10 Yes, as I mentioned on Zulip, the email sounds like the prominent disclosure is their primary issue, and resolving that may allow our release to go through. We can leave this issue open for further investigation, should anyone wish to take it up in the future.

How about we add a dialog before the location permission that says: “The Commons app collects location data in the backgrou

[2022-08-15 08:10] madhurgupta10 commented on #5031
This should be acceptable I guess. Also I think Google's definition for background location not necessarily mean that only apps that use location when they are closed are considered in this category but also like our app which uses location when app is not in foreground (like nearby walk) will also falls under this category so a more clear prompt message should be acceptable to Google.

[2022-08-15 08:14] misaochan commented on #5031
Ah yeah, makes sense. Do you think you could implement this dialog please?

[2022-08-17 06:09] misaochan commented on #5031
Still rejected. I appealed again...

[2022-08-18 14:37] misaochan commented on #5031
The appeal has been declined. Oddly, v4.0.3 still remains up on beta, but v4.0.4 cannot be pushed to either beta or production.

[2022-08-20 11:02] nicolas-raoul commented on #5031
Apparently, because we define `minSdkVersion 19` (which is less than `29`), ACCESS_FINE_LOCATION [implicitly implies background location permission](https://stackoverflow.com/a/67392120/226958), so we must follow all the Google Play rules for that.

So it seems that we can either:
- In all places where location service is used, tell the user that we use background location.
- Or bump `minSdkVersio

[2022-08-21 17:57] sivaraam commented on #5015
Apologies. I somehow happened to miss the ping here.

Sure. I tried to check but I'm facing a somewhat weird situation. The app doesn't seem to be considering the location information in any of the images I try to upload i.e., I get the "No location found" pop-up in all cases though the image has location information in it. I tried to use regular upload option / custom image selector and sharing t

[2022-08-22 10:24] misaochan commented on #5031
Unfortunately I don't think this would solve the problem, as the reviewer explicitly said that we aren't eligible for background location at all because "It is possible to deliver a similar experience without access to location in the background".

Hmm, thanks, I was actually unaware that this might solve the issue. I agree, it would be extremely rough to drop 22% of our users, but this probably b

[2022-08-22 10:28] madhurgupta10 commented on #5031
I suspect bumping up the SDK version will result in unexpected crashes whenever location service tries to get location in background.

[2022-08-22 10:29] misaochan commented on #5031
We don't actually access location in background, though? According to the SOF thread, it is just implied by our min SDK.

[2022-08-22 11:53] nicolas-raoul commented on #5031
Sorry I had missed that :-( Thanks for the hint!

Existing users with an old Android will keep the out-of-date app. But new users with an old Android will not be able to find the app in Google Play.

[2022-08-22 11:57] madhurgupta10 commented on #5031
Google's definition of background location is quite confusing but we can try with this change

[2022-08-22 13:02] misaochan commented on #5031
I tested it and no additional crashes that I can see so far. Will try releasing with this.

[2022-08-22 13:09] madhurgupta10 commented on #5031
@misaochan Also I think we should remove "in the background" from the permission prompt

[2022-08-22 13:53] misaochan commented on #5031
Good point!

[2022-08-22 14:29] madhurgupta10 commented on #5031
@misaochan I think just updating the string of "location_permission_rationale_nearby" should be sufficient since my commit also fixes the bug where prompt was not shown before the permission request (Google's Policy)

[2022-08-23 10:10] misaochan commented on #5031
Seems like Nicolas's suggestion works, based on the email from google. I just need to "cleanse" all the other tracks and hopefully then it should be fine

Annoyingly, it does mean that the latest version has to go directly to prod without testing
. Hopefully there won't be too many issues with that

[2022-08-23 11:37] addshore opened #5036 "[Bug]: Category selection not working"
### Summary

Currently while using the app, category selection does not work at all. The spinner just keeps on spinning.
When entering text to start a search the spinner also just spins and no suggestions happen.
This results in me not adding categories to my uploads.

### Steps to reproduce

Upload image
Get to category selection screen
Wait

### Expected behaviour

Suggested categories would app

[2022-08-23 14:39] addshore opened #5037 "[Bug]: Upload says it fails, despite uploading and appearing in the list"
### Summary

Any file I upload via the commons app will currently say that it has failed.
However the image will be uploaded and edits after the upload will also happen.

### Steps to reproduce

Upload an image
Enter data about the image
Wait for the upload to run

### Expected behaviour

Only 1 entry in the list for the image, and it shows that the upload has succeeded.

### Actual behaviour

Dup

[2022-08-23 14:42] addshore opened #5038 "[Bug]: Uploads added in limited connection mode did not start when entering normal mode"
### Summary

I added 10 images today in the limited connection mode.
These images didn't immediately upload as expected, but appeared in the list.
The upload bar was animating though, rather than displaying the text "queued" anywhere.

When setting to normal connection mode nothing happened, no images started uploading.

Instead I had to hit pause on each of the uploads, and then hit the play butt

[2022-08-24 03:39] nicolas-raoul commented on #5029
@Nikerabbit Sorry for the frequent pings, would you mind checking maybe? I think it is [Kashmiri](https://en.wikipedia.org/wiki/Kashmiri_language) in a Perso-Arabic script.

[2022-08-24 06:17] misaochan commented on #5031
It did not work, for some extremely perplexing reason. Even though version 1031 was not listed in the previous email from google re: non-compliance. I submitted an appeal, but don't really have much faith in it at this point.

Unfortunately that is it for us, we have put in a large number of unpaid hours to try and fix this and our final report is way overdue, so if the appeal does not succeed, I

[2022-08-24 16:18] misaochan commented on #5031
Wow finally a useful appeal review! I think that did the trick, looks like v4.0.5 is out in production and beta!

[2022-08-25 00:34] nicolas-raoul commented on #5031
Great! And apologies if the faulty questionnaire was by me 😔
I think it would be a good idea to export your questionnaire answers and put the file in version control.

[2022-08-25 05:33] misaochan commented on #5031
Great idea! There are quite a lot of files though. Probably need a new folder for them, or just in the documentation repo?

[2022-08-25 05:56] nicolas-raoul commented on #5031
How about a new folder in
https://github.com/commons-app/marketing/tree/master/play-store-listing ?

On Thu, Aug 25, 2022, 2:33 PM Josephine Lim ***@***.***>
wrote:

[2022-08-25 06:37] misaochan commented on #5031
LGTM. :)

[2022-08-25 11:00] whym commented on #5033
The last one should be solved by #5039. As for the rest, is any of these perhaps an intermittent issue? Will ``./gradlew :app:testBetaDebugUnitTest`` generate an HTML report on coverage or does it fail?

Killing the gradle daemon (./gradlew --stop) and/or invalidating cache from Android Studio might help.

I remember seeing those errors while working on #5039 but it looks like they eventually disa

[2022-08-25 14:11] whym commented on #5029
It looks as though the problem was fixed for the Wikipedia app around Aug 5. Maybe what's left to do is just to rename the offending directory, like https://github.com/wikimedia/apps-android-wikipedia/commit/802f4d6cb256c35ee19d141f675763450908fb05 ? [Updates made since then](https://github.com/wikimedia/apps-android-wikipedia/commits/main/app/src/main/res/values-ks) look fine for the Wikipedia ap

[2022-08-26 12:39] Bongo50 commented on #5015
I would like to mention that I am also experiencing this issue on my Moto G50 running Android 12. Location works as expected on the "regular" selector but not the custom selector.

[2022-08-27 15:52] trolleway opened #5041 "[Bug]: Uploading photos from Custom Selector drops coordinates"
### Summary

When upload photos from 'Custom Selector' window, geographic coordinates are not read from photo.

### Steps to reproduce

1. Take a photo on street with GPS coordinates
2. Open 'Custom Selector', select photo, process to upload.

### Expected behaviour

In upload form, clicking on Coordinates button should show coordinates of photo

### Actual behaviour

In upload form Coordinates bu

[2022-08-31 18:32] SamarthAsthan commented on #4774
@nicolas-raoul can i add this feature ?

[2022-08-31 18:33] SamarthAsthan commented on #4347
@NotSoImportant can I know more about this issue ?

[2022-08-31 21:15] NotSoImportant commented on #4347
Sure, what do you want to know?

When using autocomplete to type a title, my keyboard will add a trailing whitespace (which is not obviously recognized by the user).
When trying to upload it will fail or hang without any proper error message.

[2022-09-01 00:05] madhurgupta10 commented on #4774
@SamarthAsthan Sure, feel free to make a PR.

[2022-09-01 08:04] psyguy opened #5042 "Add a direct "Copy Link" button next to Share button"
### What is the user problem or growth opportunity you want to see solved?

Add a "Copy Link" button to the menu above articles to allow directly copying the link to the clipboard without going through Android's native Share menu.

### How do you know that this problem exists today? Why is this important?

This UX improvement makes sharing less effortful by reducing the number of taps (from 3 to 2

[2022-09-01 09:10] trolleway opened #5043 "[Bug]: Wiki Loves Monuments photos upload with 2021 template instead of 2022"
### Summary

While uploading photo to Wiki Loves Monuments via appilcation, a old template inserted
[code]
instead of
[code]

### Steps to reproduce

1. Take a photo of some monument
2. Open app, locate monument on map, upload photo

### Expected behaviour

[code]
should added

### Actual behaviour

[code]
template added

### Device name

Samsung S20 FE

### Android version

Android 11

### Common

[2022-09-01 09:21] whym commented on #1971
Just a data point to confirm the EXIF bug was fixed, [a file uploaded a few days ago](https://commons.wikimedia.org/wiki/File:Apollo_and_Marsyas_music_contest.jpg) has a correct timestamp. (The version used was 4.0.5~f03b7dd8d.)

The wiki text says

EXIF says

If not for the bug fix, the wiki text would have said 2022-08-30.

[2022-09-01 09:23] bodhisattwawiki commented on #5043
same for India

[2022-09-01 13:11] SamarthAsthan commented on #4774
@madhurgupta10 it will be great if it will open that persons profile picture on taping on avatar ?

[2022-09-01 13:18] whym commented on #5043
Currently the year is hard-coded, so the 2021→2022 changes would be the simplest fix.

I would say we should set the current year (dynamically) for a long term fix, though. Maybe a template substitution, to allow WLM people to control it?

[2022-09-01 13:19] nicolas-raoul commented on #4774
@SamarthAsthan Sorry it was ambiguous, I rewrote the issue title and description to detail exactly what must be done. Thanks! :-)

[2022-09-01 13:23] SamarthAsthan commented on #4774
@nicolas-raoul you wanna say like like instagram?

https://user-images.githubusercontent.com/97031010/187924514-dcb976be-3086-4d02-81b1-ba9a8ad7267d.MP4

[2022-09-01 13:31] nicolas-raoul commented on #4774
@SamarthAsthan Yes except it should show an explanation popup rather than a menu.

[2022-09-03 17:28] addshore commented on #5036
Fixed after logging out and in again

[2022-09-03 17:30] #5036 closed

[2022-09-04 18:41] sivaraam commented on #5022
Closing this now as there seems nothing left to be done here. #4994 seems to cover the actionable part to me. Feel free to correct me in case I got something wrong.

[2022-09-04 18:41] #5022 closed

[2022-09-05 04:03] #5029 closed

[2022-09-05 06:23] nicolas-raoul commented on #5043
Dynamic (based on first day of the campaign) sounds good enough to me, rather than introducing template complexity and possible validation errors.

[2022-09-05 07:29] nicolas-raoul commented on #5041
Thanks for your report!
It is the same issue as #5015 if I understand correctly?

[2022-09-05 07:32] nicolas-raoul commented on #5037
That often happens to me as well, however I have not found a 100% sure way to reproduce the problem.
Does anyone know a 100% sure way to reproduce the problem? That would help developers.

[2022-09-05 07:49] nicolas-raoul commented on #5033
I am able to run testBetaDebugUnitTestCoverage using command line Gradle.
There is probably some local problem in Ayan's environment.
Ayan, have you tried on another computer or in a virtual machine?

[2022-09-06 01:54] nicolas-raoul opened #5046 "Small-scale code improvement in ImageFileLoader.kt"
In [ImageFileLoader.kt](https://github.com/commons-app/apps-android-commons/blob/9c27f8510d8ea0d05e089f46556ada106456ac8e/app/src/main/java/fr/free/nrw/commons/customselector/ui/selector/ImageFileLoader.kt#L84), merge into single condition: `file != null && file.exists`

[2022-09-06 22:37] nicolas-raoul opened #5047 "Nearby: Show whether a WLM pin already has a Wikidata image or not"
Normal pins are blue if no image ("Needs photo"), green if an image already exists on Wikidata.

WLM pins all look the same. It would be useful to make them look different, for instance greener.

[2022-09-10 09:00] Lakshay-Pruthi opened #5048 "[Bug]: user name / IP address blocked while signing up"
### Summary

I was signing up on the app and was typing my user name. This pops up : ( see the image attached )

### Steps to reproduce

1. Open the app
2. Go to sign up page
3. Type any user name

### Expected behaviour

Tell me if username available or not

### Actual behaviour

Telling if the username is not available but giving this popup when you enter a different username

### Device name

S

[2022-09-10 09:53] whym commented on #5043
@bodhisattwawiki @trolleway While we are at it, do you know which countries participate in WLM 2022, and which countries are happy with having the app enabled for them? There is a list of countries that the feature is enabled for written in the source code.

https://github.com/commons-app/apps-android-commons/blob/e135fea20d216a771df83b05fd26bf8f7f3fb202/app/src/main/java/fr/free/nrw/commons/uploa

[2022-09-10 10:06] Lakshay-Pruthi opened #5050 "Author field sometimes shows HTML tags"
### Summary

In many image instead of Author name, Html Tags are displayed.

### Steps to reproduce

1. Open the app
2. Open some random images ( featured section )

### Expected behaviour

Show Author name

### Actual behaviour

Showing Html tags

### Device name

Samsung m21 2021

### Android version

Android 12 ( stock version )

### Commons app version

4.0.5

### Device logs

_No response_

#

[2022-09-11 07:00] Lakshay-Pruthi commented on #5048
I'm getting the same issue while registering for MediaWiki account on the website. I am not able to report this to MediaWiki repo as it requires a Mediawiki account.
![image](https://user-images.githubusercontent.com/91469717/189516065-a9d20d41-09af-4109-9fac-cd8867ddfbec.png)

[2022-09-12 22:42] otionce commented on #5031
Hey guys, I was just looking at how to get involved with open source projects, and I stumbled on this one.

I tried to catch up on what has been going on with the app.
I downloaded it, and after being prompted to use the location services, I answer only while using this app, and then i got this weird bug where it would repeatedly ask permission over and over, and I couldn't even answer fast enough

[2022-09-14 15:52] JLZIMMERMANN opened #5051 "Wikidata : display wikidata elements that need picture"
### What is the user problem or growth opportunity you want to see solved?

Wikidata is growing more and more and some pictures would be welcome to help understand each one.

### How do you know that this problem exists today? Why is this important?

Any element that could have coordinates could be illustrated by pictures. A nomade app like commons would help a lot.

### Who will benefit from it?

[2022-09-18 06:50] #5043 closed

[2022-09-19 04:44] nicolas-raoul commented on #5051
Good news, this is already implemented. Please see the "Nearby" tab of the app. :-)
Thanks for using the app!

[2022-09-19 04:44] #5051 closed

[2022-09-19 04:46] nicolas-raoul commented on #5050
That's true, especially with customized author names.
Pull requests welcome!

[2022-09-19 04:49] nicolas-raoul commented on #5048
Unfortunately, if the website does not work, the app will not either.
I believe the links in "You can contact" are usable without logging in.

[2022-09-19 04:49] #5048 closed

[2022-09-19 05:15] nicolas-raoul commented on #5050
Actually this seems to be a duplicate of #5030?

[2022-09-19 05:15] #5050 closed

[2022-09-21 08:08] nicolas-raoul opened #5056 "Use coordinates2country instead of Geocoder in UploadMediaPresenter"
`UploadMediaPresenter.java` uses Geocoder in the `reverseGeoCode` method.
This usage has several problems:
- Requires a geocoding backend such as Google Play Services, which is not always available and reliable ([example](https://en.wikipedia.org/wiki//e/_(operating_system))).
- [Apparently](https://stackoverflow.com/questions/16258898/does-android-geocoder-work-only-with-internet-connection) uses

[2022-09-23 06:53] nicolas-raoul opened #5057 ""Copy to subsequent media" does not work if depicts Wikidata place"
Steps to reproduce:

1. Take several pictures near a Wikidata place
2. Upload both together.
3. When asked whether tge pictures depict the place, say yes.
4. Write a caption/description
5. Tap "Copy to subsequent media"
6. Tap "Next"
7. Expected: The caption/description from step 4 has not been copied. Problem: The caption/description is from the Wikidata place.

[2022-09-23 13:42] nicolas-raoul opened #5058 "Debug log in FileProcessor.kt seemingly not converting data properly before logging"
The instruction `Timber.d("Exif tag $tag with value $it redacted.")` (at line 120 currently) seems to output `kotlin.Unit` all the time:

[code]

Maybe some conversion issue?

[2022-09-26 03:38] bosankus commented on #5046
Hi @nicolas-raoul I think this issue is solved through #5055 ? Is it correct ?

[2022-09-26 04:56] nicolas-raoul commented on #5046
@bosankus You are right, thanks for spotting this! I will close it now.

[2022-09-26 04:56] #5046 closed

[2022-09-26 06:29] madhurgupta10 opened #5060 "Grant Discussion for Commons App 2023"
Hi all,

We are brainstorming some ideas for the following year's grant proposal and would love to gather some ideas from everyone, especially the regular users of the app.

**Few potential ideas we have in mind so far -**

1. Add support for Audio/Video upload.
2. Have a working iOS version, which could be native or cross-platform.
3. Better app architecture and migration to Kotlin.
4. Marketing

[2022-09-27 07:23] nicolas-raoul opened #5061 "Coverage reports not generated on recent pull requests?"
On past pull requests such as https://github.com/commons-app/apps-android-commons/pull/910 I see Codecov coverage reports like this:

![Screenshot from 2022-09-27 16-20-21](https://user-images.githubusercontent.com/99590/192459928-34b1948f-0c69-4a2a-b27f-a4dc324b46b3.png)

That was very convenient to see whether a pull request makes global coverage increase or decrease.

Sorry I might have missed

[2022-09-30 19:29] psh commented on #5060
On point #2 - if the team is already committed to using Kotlin - you might consider using Kotlin Multiplatform Mobile (KMM) to enable sharing code between your Android and iOS applications.  Key business logic would have to move from Java to Kotlin as a first step, before being shared.

[2022-10-01 07:07] shubhamshah14102 commented on #4347
@NotSoImportant
I am interested in working on this issue and would ensure that the string is trimmed before reaching the backend.
Please can you assign this issue to me?

[2022-10-01 10:34] nicolas-raoul commented on #4347
@shubhamshah14102 It is yours, thanks!
Please let us know about your progress every few days 🙂

[2022-10-02 08:12] satdeepgill opened #5062 "[Bug]: Uploads fail on my device all the time."
### Summary

Uploads fail on my mobile device all the time.

### Steps to reproduce

I have shared the log file via email

I have tried uploading different images.

### Expected behaviour

Upload the file

### Actual behaviour

Fails to upload.

### Device name

One Plus Nord

### Android version

Android 11

### Commons app version

4.0.5

### Device logs

_No response_

### Screen-shots

![Scree

[2022-10-03 19:04] bosankus commented on #4664
Hi All @psh @misaochan @madhurgupta10 @ThomasLatham @prtksxna ,
When I search `import butterknife.BindView` globally in Android Studio, I see multiple classes where its still being used. And   out of which, I want to start working for the mentioned change at `WelcomeActivity`.

Can I raise a PR for it ?

[2022-10-04 08:18] tripathisharad commented on #5062
Hi @satdeepgill can you please assign me this project I can try to solve the problem.

[2022-10-04 11:40] KeshavAnandBhagat commented on #3101
Hi, Please assign me this issue if it still exists?

[2022-10-04 12:59] nicolas-raoul commented on #3101
@KeshavAnandBhagat It is yours, thanks!

[2022-10-05 09:48] KeshavAnandBhagat commented on #3101
I am working on the issue and it will be completed very soon
Can please add this issue under **hacktoberfest** label to get me motivated

[2022-10-06 04:26] acass91 commented on #2819
@neslihanturan Could I work on this one as part of Hacktoberfest?

[2022-10-06 14:37] Artem13327 opened #5064 "Add speedy deletion feature"
### What is the user problem or growth opportunity you want to see solved?

_No response_

### How do you know that this problem exists today? Why is this important?

_No response_

### Who will benefit from it?

_No response_

### Anything else you would like to add?

_No response_

[2022-10-09 00:05] nicolas-raoul commented on #5015
I did some experiments using a picture that has location (proved by ExifViewer app).

At `presenter.receiveImage(uploadableFile, place)` in `UploadMediaDetailFragment.java`, `uploadableFile`'s `file` points to `/data/user/0/fr.free.nrw.commons/cache/CommonsContributions/9886dd0c-bf3f-41bb-83a6-9aa5eaff20d3.jpg` (or similar) which contains 0,0 as EXIF location (downloaded via Device File Explorer t

[2022-10-10 11:01] nicolas-raoul commented on #5056
@DKolibar Yes, it is yours, thanks!

[2022-10-10 16:45] DamienBradleyDSP commented on #5026
Had another look at this and it was simpler than I first thought - I have enabled the explore options menu for ProfileActivity so this should now be functional with the leaderboard

I had to disable certain option menu items appearing in ContributionsFragment -> within the fragment it checks if the activity is MainActivity and if not doesn't display the notifications / cloud button

[2022-10-11 05:11] Eric-peng111 commented on #4898
@nicolas-raoul Can I work on this issue? thanks

[2022-10-11 06:29] nicolas-raoul commented on #4898
@Eric-peng111 Did you manage to reproduce the issue? 🙂

[2022-10-11 06:52] Eric-peng111 commented on #4898
No, I did not. Just forked it & cloned to my local, gonna be working on it.

[2022-10-11 11:20] nicolas-raoul commented on #4898
@Eric-peng111  Reproducing is probably tricky... if you find a way to reproduce, please tell us and it will be assigned to you 🙂

[2022-10-11 14:03] nicolas-raoul commented on #5057
Interesting, there may be special conditions I have not thought of.

[2022-10-11 20:47] Claud-C commented on #4976
@nicolas-raoul  Can I work on this issue?

[2022-10-12 05:57] zhihaoyuu commented on #4976
I think I can try to solve the problem, could you assign the issue to me

[2022-10-13 04:14] Claud-C commented on #2333
@nicolas-raoul Can I try to work on this issue?

[2022-10-13 06:08] zhihaoyuu commented on #4985
hi，I think maybe I can try this bug, could you assign it to me?

[2022-10-13 06:22] 2022H1030042G commented on #5042
Hi @psyguy, Is the issue available, I would like to work on it.

[2022-10-13 07:12] zhihaoyuu commented on #4985
I think the solution to this problem is to add a method such as "jpSpace2EnSapce" to be called in the filter. In this way, and when the query enters Japanese spaces, it is converted into English space. I will try to complete the method

[2022-10-13 09:05] nicolas-raoul commented on #2333
@Claud-C Yes thanks! 🙂

[2022-10-13 10:30] psyguy commented on #5042
Hi @2022H1030042G, I'm not sure what you mean by the issue being available. It indeed has not been solved yet.

I found a possible implementation to this issue which would not require changing the UI (in case people are used to it), and would allow linking to _specific parts_ of the article (which is also really useful, especially when referencing to a subtopic of the entry in online discussions):

[2022-10-13 10:57] 2022H1030042G commented on #5042
What I meant was if no one has been assigned to this issue or it has been not resolved, I would like to work on it

[2022-10-13 14:22] 2022H1030042G commented on #5042
Can you give some idea on how do I start working on it? And where do I have to make the changes (in which file)?

[2022-10-13 14:43] nicolas-raoul commented on #4985
@zhihaoyuu It is yours 🙂

[2022-10-13 16:32] psyguy commented on #5042
I honestly have no clue; I'm afraid I'm basically illiterate in this regard (I know R and partly LaTeX). I was hoping someone with the knowledge of implementing it would pick up the issue.

[2022-10-14 07:29] matkoniecz commented on #5008
Feel free to work on it (as far as I am concerned - and it seems that noone else is working on it)

[2022-10-14 12:40] priyansh2998 commented on #931
U can hide the bar on left
![image](https://user-images.githubusercontent.com/80479962/195849145-7131944e-ad25-4fff-ba3f-735f6e087b16.png)
can update the icon of android too and put it in the end or mid part , it does not look at the start page

[2022-10-15 05:13] OpenGreenStreet commented on #5037
I often feel that way too (not always). I suspect the following: if file name and description are identical, it comes to the problem described
see here: [https://commons.wikimedia.org/wiki/File:20221014_xl_0705-Commons-App-Error.png](url)

[2022-10-16 08:45] nicolas-raoul opened #5072 ""File not found. Please try another file" when using Nearby camera button"

[2022-10-16 08:47] nicolas-raoul opened #5073 "Nearby upload via gallery: Always no location"
Android 13 stock camera.
Reproduced 10 times in a row with vbarious pictures with location.

[2022-10-16 13:49] nicolas-raoul opened #5074 "Numbers cropped in Leaderboard"
The first digit is not entirely visible when numbers have 4+ digits:
![Screenshot_20221016-204532~2](https://user-images.githubusercontent.com/99590/196039008-1f6bf8b1-dd05-4dd0-9492-9894c5242e8a.png)

[2022-10-16 14:30] nicolas-raoul opened #5075 "Media details' "Copy the wikitext to the clipboard" gives invalid wikitext"
I don't think the anchor tag should be there?
[code]

[2022-10-17 02:38] gengarrrr commented on #2649
Hi @misaochan @maskaravivek @nicolas-raoul
Can I work on this issue?

[2022-10-17 02:42] nicolas-raoul commented on #2649
@gengarrrr Yes thanks! :-)

[2022-10-17 02:55] Jiaweeeeeen commented on #4962
@nicolas-raoul Hi, can I work on this issue?

[2022-10-17 03:04] nicolas-raoul commented on #4962
@Jiaweeeeeen Yes thanks! :-) Did you manage to reproduce the issue?

[2022-10-17 03:12] Jiaweeeeeen commented on #4962
@nicolas-raoul I haven't reproduced the issue. Is it the same step you provide above?

[2022-10-17 03:14] nicolas-raoul commented on #4962
Yes, it might take a few attempts in various situations.

[2022-10-17 07:04] bosankus commented on #4664
Hi @nicolas-raoul , Can you review the above PRs kindly?

[2022-10-17 09:27] misaochan commented on #5031
This issue has been fixed. @otionce could you create a separate bug report for the bug you encountered? Thanks. :)

[2022-10-17 09:27] #5031 closed

[2022-10-17 09:31] misaochan commented on #5060
Happy to hear this! Re: point 2, as discussed via email, I would strongly recommend having a chat with Adam Baso (director of product) before proceeding with this, as WMF technical staff have veto over technical grants submitted, and they have declined our iOS grant proposal previously.

The other points look fantastic. :)

[2022-10-17 09:36] misaochan opened #5076 "Removed video on Play Store"
As I was writing the final report for our last grant, I went through our Play Store listing and realized just how old our video is. The UI has changed completely since the time it was taken (around the 2018 Prague pre-hackathon), I believe the UI in the video is from v2.x.

As a video isn't mandatory, and it feels like it would harm rather than help our listing at this point, I have removed the vi

[2022-10-18 06:41] Justweng commented on #5042
Hi, I also try to solve the problem.

[2022-10-18 12:28] Justweng commented on #5042
![Screenshot_20221018_175026](https://user-images.githubusercontent.com/68474038/196429190-1839413b-27bd-48d6-9427-5e8ba44e0547.png)
I've added a copy button next to share button, does that meet your requirements? @psyguy

[2022-10-18 12:30] Justweng commented on #5042
And after clicking it, there will be a toast.
<img width="344" alt="image" src="https://user-images.githubusercontent.com/68474038/196429647-c3ec0a62-390b-4639-8af2-716ce99cb32d.png">

[2022-10-18 15:10] Lz-01 commented on #5074
please assgin this issue to me

[2022-10-19 07:33] Jiaweeeeeen commented on #4962
I think the solution could be to add a method in `UploadMediaDetailInputFilter.java` to check the trailing whitespace in the caption field. Then in the `filter`, if the input text has any trailing whitespace, simply remove it. I'm going to implement these methods and hope the solution works.

[2022-10-19 07:51] Eric-peng111 commented on #4898
@nicolas-raoul
I am not sure if this is the issue where the button seems not working all the time no matter how many times I click on both
Besides, in my emulator, I cannot even use this 'review' function
etc: Image cannot be shown no matter how long I wait
<img width="328" alt="image" src="https://user-images.githubusercontent.com/111075450/196629296-d404aa41-f0cc-4ac3-b072-8abb78f916b3.png">

[2022-10-19 13:06] Eric-peng111 commented on #4611
@Ayan-10  can I take this issue?

[2022-10-20 04:36] Claud-C commented on #2333
I wonder if this issue still exists?  After I used a right-to-left language, my device made corresponding changes, but the problem mentioned in the issue did not appear in the software.

[2022-10-20 08:37] nicolas-raoul commented on #2333
Thanks for testing! It might have been fixed, thanks for letting us know!

I will thus close for now, if anyone observes the issue again please do not hesitate to reopen 🙂

[2022-10-20 08:37] #2333 closed

[2022-10-20 11:51] u7253519 commented on #5073
Hello, can I try working on this issue?

[2022-10-20 12:27] Ayan-10 commented on #4611
I think @nicolas-raoul can help you with that.

[2022-10-21 02:35] xiangl1111 commented on #3971
@nicolas-raoul Please let me work on this issue. thx

[2022-10-21 02:37] Henry4669 commented on #2872
Hi, is this issue resolved? If not, then can I contribute to this issue?

[2022-10-21 02:37] junhaow1 commented on #5057
Hi @nicolas-raoul  Could I please work on this issue? Pls assign me. Thank you:)

[2022-10-21 05:42] Eric-peng111 commented on #4611
@nicolas-raoul Can I please take this issue ? Thanks

[2022-10-21 08:16] Anjun-Feng commented on #4985
@zhihaoyuu
Does your solution actually solve it? I've given your code a go and it seems I cannot type in a Japanese space in the caption field still.

[2022-10-21 15:04] zhihaoyuu commented on #4985
hi, I just tested it too and I think I found the real problem. The real problem is that when your language setting in the emulator is English, you can only type in English, no other languages are allowed. But if you switch to Japanese, you can type any Japanese normally (including Japanese spaces)
The following screenshot is the input of Japanese space, it can be displayed：
![image](https://user-i

[2022-10-22 01:18] jidanni opened #5081 "Samsung versus Exif location"
Samsung Galaxy users often find they are not able to  transmit location data in the Exif headers so the Commons App can deal with it properly.

![Screenshot_20221021-195033_Commons.jpg](https://user-images.githubusercontent.com/1230959/197309793-0cca3bd2-b6f1-4f2c-9546-8b5bca5e5b41.jpg)

For example: https://commons.m.wikimedia.org/wiki/File%3AInternational_boundary_line_plaque_Rainbow_Bridge_Niag

[2022-10-22 01:47] jidanni opened #5082 "Item so dark they look unselectable"
Would any user expect that any other items except for the very leftmost, Contributions, would still be clickable, being so dark?

![Screenshot_20221021-204134_Commons.jpg](https://user-images.githubusercontent.com/1230959/197311254-fdd1b0be-2e0d-4d9c-b633-6e38aa1c5b38.jpg)

Such darkness tells the user "never mind tapping me because I am not functioning on the current page."

I have circled the tr

[2022-10-22 01:53] jidanni opened #5083 "Tapping "Tap to view upload" notification has no effect, should open the media details of the uploaded image"
![Screenshot_20221021-203157_One UI Home.jpg](https://user-images.githubusercontent.com/1230959/197311321-8d786a73-dba1-48a9-88dd-8b9f7cafac15.jpg)
We tap the above notification, but nothing happens. Samsung Galaxy Android 12
4.0.5~f03b7dd8d

[2022-10-22 01:54] jidanni commented on #5083
Sure we can switch to the app manually, but it takes some of the fun out of it.

[2022-10-22 01:58] jidanni opened #5084 "Tapping on GitHub icon results in "No web browser found to open URL" on Samsung Galaxy with Android 12"
Here on the About page we see a GitHub Issue link in blue, and a GitHub cat icon. If we touch the blue Issue link we get properly delivered to where we can write bugs. However if we touch the GitHub icon we get the error message you see at the bottom of this page, "No web browser found to open URL":
![Screenshot_20221021-205451_Commons.jpg](https://user-images.githubusercontent.com/1230959/1973114

[2022-10-22 02:38] Anjun-Feng commented on #4985
Oh, I see. setting the language as Japanese was what I didn't think about. Thanks for your reply :)

Also, please ignore my own repo if it appears. It is just my approach for my group assignment in which we chose to analyze and solve issues for this project. I'm all new to an open source (guess I shouldn't reference the issue).

[2022-10-22 03:16] Anjun-Feng commented on #4985
@zhihaoyuu Also, I'm a bit confused about your code.
![image](https://user-images.githubusercontent.com/110949485/197316571-aed28ac4-b149-4ca2-b77a-3ae04441eae9.png)
I have the following doubts:
1. Why is your code all green? I think you've only added and used the method `jpSpace2EnSapce`.
2. Why are there two duplicating lines? Additionally, I think by having it without a comma at the end of the

[2022-10-22 04:27] zhihaoyuu commented on #4985
thanks for your question.
q1：At first I created the method to convert Japanese space to English space, but it seems that the problem is not this, the problem is that the software only allows input in the language you set. so in fact,  you just need to manually switch to the Japanese input method. just ignore this code( we don't need it now）

q2：yes it was a bug, I added one less ";", if you want i

[2022-10-22 11:12] glitched-sudhanshu commented on #5026
Is this issue solved now? Else I will look into it.

[2022-10-22 11:16] glitched-sudhanshu commented on #4671
@madhurgupta10 @Asgardian8740 is this issue solved now?
Or can I look into this?

[2022-10-22 11:19] glitched-sudhanshu commented on #4664
Hi @madhurgupta10 is this issue is solved.
What I understood from all this discussion was, it needs multiple people.
So can I work into it?

[2022-10-22 12:28] Jiaweeeeeen commented on #4962
Unfortunately, this solution doesn’t work because any empty space the user types is recognized as trailing space. Instead, I have another solution to remove them after the user typed the caption. Any trailing whitespace will be removed when set to  `uploadMediaDetails`.

[2022-10-22 15:34] jidanni opened #5086 "Don't just say "failed""
Give the user a clue what the problem was. For instance
- it's the Wikimedia  company's fault.
- it's the user's own fault for uploading such unworthy content.
- it's some unknown fault that we are very very sorry but we admit that we don't know what the problem is.

That way the user would know, if he should
- try again
- wait till tomorrow and try again
- go to a community college class about ma

[2022-10-22 15:35] jidanni commented on #5086
![Screenshot_20221022-103017.jpg](https://user-images.githubusercontent.com/1230959/197347903-4e30d0f5-096a-427b-99ba-c9efc3237f25.jpg)
![Screenshot_20221022-103041.jpg](https://user-images.githubusercontent.com/1230959/197347908-1e7bbfd5-b566-4b80-b5cc-b867e145d954.jpg)

[2022-10-22 15:41] jidanni commented on #5086
P.S., I just sent the Debug .zip file. Check your email.

[2022-10-22 15:52] jidanni commented on #5086
Upload fine via the website.
https://commons.wikimedia.org/wiki/File:Mysterious_lights_over_North_Pacific_Ocean.jpg

[2022-10-22 15:59] jidanni opened #5087 "Say if Category spinner is waiting for input or not"
Here we see an info message that is seen when pressing the i-circle button. It could perhaps also mention the function of the spinner there on the right.

- is it spinning waiting for us to type things in?
- is it spinning, meaning we should wait for it to finish, before we start typing things in?

These are things the user needs to know.
![Screenshot_20221022-105510.jpg](https://user-images.githu

[2022-10-22 23:13] Animyos opened #5088 "[Bug]: App crashes and won't open again after signing in"
### Summary

Downloaded the app (version 2.6.0) from the F-Droid store. Opened the app and logged into the app with my Commons account. App crashes and won't open again, even after closing it repeatedly. The only thing that *does* help is uninstalling the app and re-installing it again, but even after that the app only works until you log in.

### Steps to reproduce

1. Download version 2.6.0 from

[2022-10-22 23:14] Animyos commented on #5088
I've got something wrong, the buttons on the screenshot are "App-Informationen" ("app information") and "App schließen" ("close app")

[2022-10-23 02:13] nicolas-raoul commented on #5073
@u7253519 Sorry for the delay! Yes, thanks 🙂

[2022-10-23 02:17] nicolas-raoul commented on #3971
@xiangl1111 Please read https://github.com/commons-app/commons-app-documentation/blob/master/android/Volunteers-welcome!.md and first choose issues that have the "bug" label, thanks!

[2022-10-23 02:19] nicolas-raoul commented on #5057
@junhaow1 Yes thanks! First, please let us know whether you are able to reproduce the issue.

[2022-10-23 02:22] nicolas-raoul commented on #4611
Hi @Eric-peng111 Would you mind working on bugs first per https://github.com/commons-app/commons-app-documentation/blob/master/android/Volunteers-welcome!.md ? Thanks a lot! 🙂

[2022-10-23 02:27] nicolas-raoul commented on #4664
@bosankus  Sorry for the delay, I have started reviewing but not finished yet.

@glitched-sudhanshu If you find other classes that need the same, please list them here and you can start working on them 🙂

[2022-10-23 03:26] psh commented on #5060
I was watching a really good video from the recent Droidcon NY - https://www.droidcon.com/2022/09/29/optimize-your-app-for-large-screens-3/ - talking about optimizing an app for larger screens, but also a good talk part way through about camera APIs and considerations.  For an app like Commons, might be worth watching and seeing if anything is relevant to the work you want to do in these various p

[2022-10-23 03:41] Eric-peng111 commented on #4611
@nicolas-raoul Thanks for replying
I'd like to take first issue
However, I already fixed about 90% of the issue as this:
![image](https://user-images.githubusercontent.com/111075450/197372268-6ba175e7-ad97-4a92-8b90-4fbb29cb7446.gif)

is it possible to let me do this at first ?
Sorry I did not know this policy.

[2022-10-23 04:21] russianbear222 commented on #5008
Hi, will this issue be closed? @mattflaschen

[2022-10-23 05:13] u7253519 commented on #5073
I`ve been trying to reproduce the problem on my device but it seems that the upload is working fine. Maybe it`s a problem with the Android version? My device is OPPO A53s on Android 11.  @nicolas-raoul
I think I did find another problem though with the upload location, the images that I took with locations are recognized fine, but when I tried adding location to old images with Google Images then

[2022-10-23 09:44] nicolas-raoul commented on #5073
Maybe try running a higher version using the emulator?

About your second paragraph: Great finding, it might be related but could you please create a new issue for it, ideally with a screencast video? Then you can work on that issue instead of this one. Thanks a lot!

[2022-10-23 09:52] nicolas-raoul commented on #5008
@pwq334107948 Have you noticed that this issue is already assigned to @russianbear222 ?
Hopefully you two can collaborate (for instance to add unit tests) but in the future please make sure the issue is assigned to you before starting coding 🙂

@russianbear222 Feel free to pull pwq's code and improve it, thanks!

[2022-10-23 09:58] nicolas-raoul commented on #4611
Hard question 😱
OK for this time exceptionnally, but please keep in mind that it might take a very long time before we review it. Thanks for your understanding! 🙂

[2022-10-23 11:52] Kyle-ZixinFeng commented on #4964
Hallo, I think I maybe can try to slove this bug, Could you assign this for me, please?

[2022-10-23 17:47] DKolibar commented on #5056
@nicolas-raoul I created PR #5093 for this issue. I hope my implementation is as expected.

[2022-10-24 03:25] u7253519 opened #5094 "[Bug]: Google image locations cannot be recognized"
### Summary

When locations are added through Google Gallery but not through camera taken, it cannot be recognized

### Steps to reproduce

1.  Open Google Gallery and choose an image with no location
2.  Click top right navigation bar
3.  Add location for the image
4.  Open the Commons app and upload the image through any way

### Expected behaviour

The uploaded image should have a location alre

[2022-10-24 04:21] Eric-peng111 commented on #4611
Thanks for letting me do this issue
@Ayan-10 @nicolas-raoul  can u assign this issue to me at this point?

[2022-10-24 04:46] Eric-peng111 commented on #4611
Hi @nicolas-raoul
I think I done this issue since I tested by debug, so I submitted  the first PR to this issue, pls have a check when u have time
No need to rush since you said gonna take time to review
Thanks

[2022-10-24 12:40] YuLei947 commented on #5033
Hi, I think maybe I can try and solve this problem, could you please assign this to me? Thanks in advance.

[2022-10-24 18:43] misaochan commented on #5033
@YuLei947 , were you able to reproduce this issue?

[2022-10-25 01:42] YuLei947 commented on #5033
I encounter the same problem when I clone it, and I believe I can solve at least one of the problem above. Could you please assign this issue to me?

[2022-10-25 02:32] gengarrrr commented on #2649
@nicolas-raoul. Hello, I found that there already exists an ImageUtilsTest file, and I think it contains the check for dark with no image example through the merged pull request of Add ImageUtils Tests #4542. Should I just work on adding some images? or Can I write my own test functions within the file. Thank you

[2022-10-25 04:57] Henry4669 commented on #2872
@neslihanturan Hi, sorry I forgot to ping one of the contributors.
If I can contribute to this issue, may I ask which activities the strings are used in?

[2022-10-25 08:39] nicolas-raoul commented on #5076
No strong opinion, personally I would say better have an old video than no video, since the concept has not changed fundamentally, but I agree that a new video would be great. I actually started making a new one a year ago but did not get time to finish it, video editing takes so long. 😅

[2022-10-25 08:43] nicolas-raoul commented on #5082
I personally don't think it is misleading. I close meanwhile, but if anyone has a link to official guidelines about this (in dark mode), please let us know, would be happy to correct if we are against guidelines about this! :-)

[2022-10-25 08:43] #5082 closed

[2022-10-25 08:49] nicolas-raoul commented on #5086
Other upload platforms (for instance Facebook) also just say "Failed".
But I agree that a "details" link with the complete exception message (and maybe even stacktrace if in a scrollable area) would be helpful. It must be copyable.

[2022-10-25 09:03] nicolas-raoul commented on #5081
Could you please upload an original **JPEG taken by your camera** having text EXIF location to http://exif-viewer.com/ and copy/paste the full result here? Please also share the JPG before sneding to Commons, as a shared Google Drive link for instance.

Also, could you please create a separate issue for HEIC, including a link to a HEIC file produced by your camera, shared like above. Thanks!

[2022-10-25 09:15] nicolas-raoul commented on #4716
I believe #4656 was meant to fix this?

[2022-10-25 09:15] #4716 closed

[2022-10-25 09:17] nicolas-raoul commented on #5083
I can reproduce the issue on current master.

Anyone taking this, you find find this helpful: #4656

[2022-10-25 09:19] nicolas-raoul commented on #5084
Interesting, it opens a web browser for me.
Anyone able to reproduce the issue?

[2022-10-25 09:21] nicolas-raoul commented on #5087
Spinning means a result should appear soon. It is a common UI element, I don't think it needs explaining.
Anyone feel free to post official UI guidance regarding this.

[2022-10-25 09:21] #5087 closed

[2022-10-25 09:22] nicolas-raoul commented on #5088
Sorry for the inconvenience!
Would you mind uninstalling and reinstalling the app?

[2022-10-25 09:28] nicolas-raoul commented on #5094
Do you mean Google Photos?

Would you mind adding a screenshot of step 3 "Add location for the image"? I will prevent misunderstandings.

Thanks a lot!

Also, does the picture have non-zero latitude/longitude showed when opened from the [EXIF Tag Viewer](https://play.google.com/store/apps/details?id=com.teapps.exiftagviewer) app?

[2022-10-25 09:45] nicolas-raoul commented on #2649
@gengarrrr Good find, please add your oyn test fuctions within that file 🙂

[2022-10-26 00:39] jidanni commented on #5087
(All I know is whenever I got to this page, and before I typed anything in, the spinner was spinning, and I just had to wait forever and nothing ever changed it just kept spinning. So I always gave up and started typing thins in. I found it worked much better once I had typed something in. So I'm saying that I-Circle button should explain exactly what is supposed to happen.)

[2022-10-26 01:05] jidanni opened #5097 "Only half of menu shown if users' fonts are large"
Here the user has just tapped the three bar menu.
![Screenshot_20221025-200015.jpg](https://user-images.githubusercontent.com/1230959/197910089-0b376c26-6aa4-4111-81c7-47b88182b767.jpg)
He would never dream that there was items further down. If he by accident grabs the manual and scrolls up he one day will find them:
![Screenshot_20221025-200028.jpg](https://user-images.githubusercontent.com/12309

[2022-10-26 01:08] jidanni commented on #5097
Sure, you could blame the user for using  larger fonts in his Android settings. But that's what some users sometimes will do.

[2022-10-26 01:15] jidanni commented on #5084
Hmm, I encountered the bug on Samsung Galaxy with Android 12. With Asus and Android 8 it opens it nicely  in the GitHub app,
![Screenshot_20221025-201400.jpg](https://user-images.githubusercontent.com/1230959/197911788-6f9b4f10-a49c-4417-8890-ff4d4ec33e31.jpg)

[2022-10-26 01:29] jidanni commented on #5081
First, that site raises a browser error even before you get to it ... you have to push advanced settings to proceed to it anyway. Second when I paste https://upload.wikimedia.org/wikipedia/commons/6/65/International_boundary_line_plaque_Rainbow_Bridge_Niagara_Falls.jpg in to it even more SSL errors occur...

[2022-10-26 01:39] jidanni commented on #5081
OK, https://jimpl.com/results/mQGrqQF6vib8h6iNAUB97aUD?target=exif says
[code]

[2022-10-26 01:42] jidanni commented on #5081
Anyway, uses would be expected to always choose .heic mode because it saves half the disk space, and will not be taking pictures in .jpg more, just to support some legacy apps...

[2022-10-26 05:53] Claud-C commented on #2333
Since I couldn't reproduce the bug, I thought about it and came up with a few ideas.

First, what are the devices that reproduce this bug? Perhaps their common trait is the cause of the bug.

Second, is this bug only in Japan? The specific text content they provide may be the cause of this bug.

I'm sorry that I can't solve this issue, because I can't reproduce this bug and I don't have more ideas

[2022-10-26 06:11] russianbear222 commented on #5008
@nicolas-raoul I added a new pull request, however, I wasn't able to do unit tests, I don't understand the format of it, I get java.lang.reflect.InvocationTargetException
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at java.base/jdk.internal.reflect.Delegating

[2022-10-26 08:52] u7253519 commented on #4801
Hello, can I try this issue?

[2022-10-26 09:58] Bashamega commented on #5097
Assign me that issue

[2022-10-26 13:13] jidanni commented on #5082
Here Restaurants is dark, meaning if we click it, we are not going to get Restaurants.
![20221026T081027](https://user-images.githubusercontent.com/1230959/198035032-bb7493de-5594-47bc-9a6d-d3b508695a60.jpg)

[2022-10-26 13:18] jidanni commented on #5082
Here we see various ways to display valid buttons to press on, with no need to darken any,
![20221026T080832](https://user-images.githubusercontent.com/1230959/198035722-b36daebb-43f7-4d46-9b55-dad8df3c011e.jpg)

[2022-10-26 13:20] jidanni commented on #5082
Here (mbasic.facebook.com again) dark is used, but choice names are then white,
![20221026T081850](https://user-images.githubusercontent.com/1230959/198036630-625d7e8a-82ef-44d9-a165-ea15f6e1de6f.jpg)

[2022-10-26 13:21] jidanni commented on #5082
Here current item is indicated, with no need to degrade other choices,
![20221026T080650](https://user-images.githubusercontent.com/1230959/198036882-8d1f990a-5331-4eef-9419-ff6ed1762237.jpg)

[2022-10-26 14:10] u7253519 commented on #5073
I checked again with my device upgraded to Android 12, and the upload is still working. So I think the problem might only exist for Android 13?

[2022-10-26 20:14] u7253519 commented on #4797
Hi I was trying to work on #4801 and I saw that it`s linked to this one. It seemed that the other one can`t be solved with this one finished first, so I tried to work on this one instead. I`ve made a pull request for this issue, can you help me check if it would work alright? I will try to fix remaining problems. Thank you! @nicolas-raoul

[2022-10-27 01:41] u7281898 commented on #3463
Hi, could I please be assigned to this issue.

[2022-10-27 09:05] nicolas-raoul opened #5100 "Reword message "A selfie" to "a selfie which is not used in any article""
Three tasks:
- Reword the string "A selfie" to "a selfie which is not used in any article" in `app/src/main/res/values/strings.xml`. Do not forget to change the uppercase "A" to lowercase "a".
- Please also reword "Blurry" to "totally blurry".
- Please also reword and "Nonsense" to "nonsense, absolutely unusable in any article".

Context: https://commons.wikimedia.org/wiki/Commons:Deletion_request

[2022-10-27 13:29] guishas commented on #5100
Hey, I would like to fix this, can I grab this issue?

[2022-10-27 14:43] lucile98-ode commented on #4787
Hello everyone,
with @xenom34 we would like to try to participate in this issue.
Is it possible to be assigned on it?
Thanks (:

[2022-10-28 00:13] nicolas-raoul commented on #5100
@guishas Yes thanks!

[2022-10-28 05:30] #815 closed

[2022-10-28 05:36] nicolas-raoul opened #5101 "Review: Only pictures uploaded from the app"
The `Review` feature (in the app's menu) was originally thought as a way to improve our app's overall upload quality, it is not really adapted to the wide variety of pictures uploaded via other upload tools.

Task: Make `Review` show only images that were uploaded from the app.

I believe a REST API request somewhere in the app needs to be modified. Images uploaded from the app have a special tag

[2022-10-28 05:38] Henry4669 commented on #2872
Hi @nicolas-raoul, sorry for bothering you. @neslihanturan doesn't seem to be active but I have done exactly as @amire80 had asked, which involved, for example, changing the capitalisation properties of a button in the map activity.
![image](https://user-images.githubusercontent.com/115204041/198504624-8045a225-c5de-4da2-a9d3-426d1f840da6.png)
I would like your opinion on how the button should loo

[2022-10-28 17:25] guishas commented on #5100
Hey Nicolas, I just submitted my PR fixing this issue! When you have time please take a look at it. If I did anything wrong please let me know!

[2022-10-28 22:36] #5100 closed

[2022-10-28 22:36] nicolas-raoul commented on #5100
Thanks @guishas ! :-)

[2022-10-29 02:22] nicolas-raoul opened #5103 "Review: Only images that are not used"
Task: When retrieving a new image to review, skip to next if the image is in use in any article or user page.

Same context as #5101, it is a bug to suggest that selfies that are used might be out of scope.

Caveat: Ignore usage under https://commons.wikimedia.org/wiki/User:Didym/Mobile_upload/ which has been a gallery of all of our uploads since 2014.

[2022-10-29 03:33] nicolas-raoul commented on #5015
https://commonsware.com/Q/pages/chap-location-002.html :

"in Android 10, access to [EXIF location] is much more restricted than it had been."

"only option appears to be to get the Uri for each individual image and use ExifInterface"

[2022-10-29 08:34] nicolas-raoul opened #5104 ""Welcome to Full-screen Selection Mode" popup shown when tapping an already uploaded image in Media Details"
1. Reset app storage.
2. Go to Explore.
3. Tap a picture.
4. In the details tap the picture again.

Screencast: https://drive.google.com/file/d/1exJ5BZYmkQ7Rzb5MNMI9PdAEykQolrbi/view?usp=drivesdk

It should just open the image in full-screen mode, without any selection gesture nor popup.

Also, it seems to just show a black screen afterwards.

This first-time-popup is meant to only appear when usi

[2022-10-29 08:57] bosankus commented on #4664
Hi @nicolas-raoul , there are other areas to cover too which am yet to push code in future for closing this ticket. Are you sure this issue can be closed now ?

[2022-10-29 09:09] nicolas-raoul commented on #4664
Thanks @bosankus!

You are right, still 10+42 to go 😅
Anyone feel free to join the effort, see the example PR https://github.com/commons-app/apps-android-commons/pull/4681/files 🙂
[code]
[code]

[2022-10-29 10:00] nicolas-raoul commented on #4801
@u7253519 Thanks! I updated the links above. The first 3 ones are the same URL, but they may be different in the future.

[2022-10-29 10:37] #5056 closed

[2022-10-29 10:38] #2649 closed

[2022-10-29 12:20] russianbear222 commented on #5008
@nicolas-raoul I just pushed a new pull request.

[2022-10-29 14:45] madhurgupta10 commented on #4671
@glitched-sudhanshu Feel free to pick up this issue :)

[2022-10-29 22:54] Strubbl commented on #5081
I can reproduce the problem with JPEG. Exif Result is:

create | 2022-10-29T22:53:15+00:00
-- | --
ApertureValue | 169/100
BrightnessValue | 903/100
ColorSpace | 1
Compression | 6
DateTime | 2022:10:28 16:33:29
DateTimeDigitized | 2022:10:28 16:33:29
DateTimeOriginal | 2022:10:28 16:33:29
DigitalZoomRatio | 100/100
ExifImageLength | 3000
ExifImageWidth | 4000
ExifOffset | 238
ExifVersion | 48, 50,

[2022-10-30 01:19] nicolas-raoul commented on #5081
@jidanni and @Strubbl what Android versions are you using?

[2022-10-30 02:14] glitched-sudhanshu commented on #4671
@madhurgupta10 I will surely have a look at it.

[2022-10-30 07:39] Strubbl commented on #5081
Stock Android 12.

[2022-10-30 08:26] nicolas-raoul commented on #2333
@Claud-C No need to be sorry, identifying what bug reports are no longer applicable is an important part of software maintenance. I guess another modification had the side effect of eliminating this bug. Thanks again and do not hesitate to check other issues if you want!

[2022-10-30 08:33] babelstone commented on #5074
Also, could you change the font colour to black and increase the font size, as the numbers are really hard to read at such a small size and in that light orange colour.

[2022-10-30 08:51] #5041 closed

[2022-10-30 08:57] nicolas-raoul commented on #5081
This happens with the custom picker, the normal picker, as well as sharing from gallery?

Actually on a recent Android version the only way I have found to get the location recognized is to first look at the picture's location in Google Photos' details, then share to Commons.

[2022-10-30 09:07] babelstone opened #5106 "Leaderboard does not update fast enough"
### Summary

I started using the app a few weeks ago, and the first time I viewed the leaderboard it correctly showed my stats and position on the board. But thereafter my stats, and also those of everyone else I think, have remained unchanged. Although I have uploaded 200+ photos with the app since then, my uploads on the leaderboard have remained the same as the first time I viewed the board. Th

[2022-10-30 09:53] nicolas-raoul commented on #3647
@thibaultmol By default the app removes camera model and some other properties, for privacy purposes. See Settings>Manage EXIF Tags

[2022-10-30 09:58] #4962 closed

[2022-10-30 10:40] Seylyn commented on #4997
Hi, I've created this design for the file usage section. Could you please have a look and give an opinion?
<img width="311" alt="Screenshot 2022-10-30 at 12 57 26 pm" src="https://user-images.githubusercontent.com/79801220/198874267-748fe8ba-25aa-480d-8de6-61133ebfc998.png">

After adding a title of the website and its link:
<img width="310" alt="Screenshot 2022-10-30 at 1 53 53 pm" src="https://u

[2022-10-30 11:43] nicolas-raoul commented on #4997
@Seylyn It is not about adding, rather it should show as an unmodifiable list.

[2022-10-30 13:58] thibaultmol commented on #3647
Forgot to mention, yeah my issues was just because the Manage exif tags setting wasn't set correctly

[2022-10-31 10:47] Strubbl commented on #5081
The Samsung S9 runs Stock Android 10

[2022-10-31 10:58] Strubbl commented on #5081
Yes, i tried it directly with the picker from the app as well as sharing from gallery. Both ways do not recognize the location.

I cannot test this due to not having Google Photos available. But this reads like GPhotos is change some location exif data at the file.

[2022-11-02 12:09] nicolas-raoul commented on #5015
On branch https://github.com/commons-app/apps-android-commons/tree/location-loss I did an experiment following https://developer.android.com/training/data-storage/shared/media#media-location-permission

I added the ACCESS_MEDIA_LOCATION permission to the manifest. I also requested the permission at runtime as it is also required but no permission dialog is shown, apparently it is normal: https://s

[2022-11-03 12:08] ev-rymko commented on #4990
Hello! Is this issue open now? If yes, can I try to fix it?

[2022-11-03 13:14] nicolas-raoul commented on #4990
No recent news from SamarthAsthan so you can take it, thanks!

But I haven't seen this issue in months actually, so better close it actually.
If you manage to reproduce it, you are more than welcome to fix it, though :-)

[2022-11-03 13:14] #4990 closed

[2022-11-04 19:19] jeremykenny commented on #5101
I'd like to take on this issue.

[2022-11-05 01:51] nicolas-raoul commented on #5101
@jeremykenny It is yours, thanks!

Please post relevant Mediawiki API calls you find. 🙂

[2022-11-05 14:30] jidanni commented on #5081
Observation: reboot the Samsung phone, totally in airplane mode.

Looking in the Samsung Gallery app, in the Details page of each photograph, we see each picture has gone back to latitude and longitude. This gives us a glimmer of cheer. So those geocoded street addresses, are just a temporary phenomenon...
So deep down latitude and longitude are still inside the photographs. It's only when the Sam

[2022-11-07 17:41] sivaraam commented on #5106
There are three leaderboards:

1. Upload
2. Used
3. Nearby

Could you check if you're looking at leaderboards other than the "Upload" one ? If you're facing the issue with "Upload" one itself, then some screenshot would be helpful to understand what issue you're observing.

[2022-11-07 18:04] sivaraam commented on #5088
@Animyos Sorry about that but the version of the app in F-droid is pretty old. [side note: It's so old it only targetted Android 7.1. It's a bit surprising the app even shows you the login screen on Android 12!] The reason the F-droid version if pretty old is due to #4994

Would you able to download and use the [latest version (v4.0.5) of the app from play store](https://play.google.com/store/apps

[2022-11-07 18:17] sivaraam commented on #5015
I'm not absolutely sure but maybe you missed the following point mentioned in [the article](https://commonsware.com/Q/pages/chap-location-002.html) ?

[2022-11-07 19:18] Animyos commented on #5088
@sivaraam Yes, I’ve already done that and can confirm that the issue doesn’t happen with the newest version from PlayStore. Thanks for replying!

[2022-11-07 19:41] babelstone commented on #5106
Same for all three leaderboards for all three time periods. I attach a screenshot of my Achievements page which shows a total of 4219 uploads, and the uploads leaderboard which shows a count of 3987 uploads for all time. 3987 is the number of my uploads when I first opened the leaderboard in early October. Used for all time leaderboard shows 933 for all time, even though my current used count is 1

[2022-11-08 00:54] nicolas-raoul commented on #4994
The Timber error sounds like something that could be solved with some Gradle wizardry maybe?

[2022-11-08 01:59] #5088 closed

[2022-11-08 18:14] sivaraam commented on #5106
Thanks for the details! I suppose the leaderboard should be showing the right numbers at least for you now. Let me know in case it still shows incorrect numbers.

IIUC, the leaderboard information is maintained in tools server and should be updated periodically. For some reason, it seems not to be updating by itself. Let me ping relevant contributors to see if they could shed some light @madhurgup

[2022-11-08 21:17] babelstone commented on #5106
Thank you! Yes, the leaderboard has now been updated, and shows the correct figures for me. I agree that the leaderboard data does not seem to be automatically updating as expected.

[2022-11-11 09:55] nicolas-raoul opened #5110 ""Error occurred while processing the image" when uploading big panorama JPG"
23MB JPG with metadata saying it is a panorama. Not sure whether it fails because of the size or because of the metadata.

Share from gallery: "Error occurred while processing the image. Please try again!"
![Screenshot_20221111-155957](https://user-images.githubusercontent.com/99590/201314199-7d7112b7-2bbc-4079-b2ee-239f3f19c9a2.png)

Traditional picker: "Error occurred while picking images":
![Sc

[2022-11-15 13:09] nicolas-raoul commented on #5015
Oops sorry that error was my fault, specific to my dev branch.

[2022-11-15 13:09] nicolas-raoul commented on #5015
oops again wrong issue...

[2022-11-15 13:10] nicolas-raoul commented on #5110
Oops sorry that error was my fault, specific to my dev branch.

[2022-11-15 13:10] #5110 closed

[2022-11-19 16:55] Strubbl commented on #5081
It worked with an older version of the app, which i had installed via F-Droid back then, e.g. with Android-App Commons 2.11.0~93b948d20 (info from this picture: https://commons.wikimedia.org/wiki/File:Rathaus_Stralsund_3.8.2019.jpg)

[2022-11-20 07:25] nicolas-raoul commented on #5081
Very interesting! If someone could post the F-Droid links to the last working version and the first broken version, that would be super useful. 🙂

[2022-11-20 10:53] sveinki opened #5113 "Translation issue with message Wikimedia:Commons-android-strings-show already actioned pictures/is"
Message URL: https://translatewiki.net/w/i.php?title=Special:Translate&showMessage=commons-android-strings-show_already_actioned_pictures&group=commons-android-strings&language=is

"Show already actioned pictures" - "actioned" means what? Is it pictures that have already been used in some context, or have been archived, or what?

[2022-11-20 13:25] Strubbl commented on #5081
Unfortunately, this is not possible anymore. The version 3.1.1~1c9267ca0 was installed from Gplay, because the latest available version on F-Droid is 2.6.0. I  installed this 2.6.0, but it crashes directly after logging in.
I cannot remember this exactly anymore. But i think due the versions mentioned, i installed the app from Google Play, because the F-Droid version was never working for me.

[2022-11-21 14:02] nicolas-raoul commented on #4664
If anyone knows a trick to prevent this issue from getting closed every time, please let me know... and thanks Paul for reopening when I forgot to! :-)

[2022-11-22 20:19] psh commented on #4664
Looking at Github documentation and feature requests, it seems you cant _disable_ the auto-closing feature and the suggested quick workaround is to avoid the keywords in PR comments that trigger it.  So, avoid saying "Fixes #4664" and maybe say something like "This PR relates to #4664" instead.  In theory that will generate a link without this issue being closed when the PR merges.

[2022-11-22 21:27] jeremykenny commented on #5101
The relevant API call is https://github.com/commons-app/apps-android-commons/blob/f7d3414cc3f895edeaa2221e1c99655519d05e44/app/src/main/java/fr/free/nrw/commons/review/ReviewInterface.java#L13

Which calls this endpoint: https://commons.wikimedia.org/w/api.php?action=help&modules=query%2Brecentchanges.

I believe the right way to go about this is to add `tags` to the `rcprop` argument, create a `t

[2022-11-23 01:48] Alasande opened #5114 "Uploads fail on my device all the time Android Samsung"
It is always disturbing while trying to upload photographs in real time. It discouraged me a lot. Please fix the problem, count the number of times I uninstalled the application, switch off the mobile, and find all possible ways to make it correct.

[2022-11-23 07:47] nicolas-raoul commented on #5101
Great finding, thanks!

How about specifying `rctag` in the API call? If I understand correctly, that could give us only the review we want, instead of filtering afterwards :-) That seems to work:

https://commons.wikimedia.org/w/api.php?action=query&format=json&formatversion=2&list=recentchanges&rcprop=title|ids|tags&rctype=new|log&rctoponly=1&rcnamespace=6&rclimit=1&rctag=android%20app%20edit

r

[2022-11-23 07:52] nicolas-raoul commented on #5114
Hi @Alasande

Sorry for the inconvenience!
What is the size (in MB) of the picture you are trying to upload, on average?
I would suggest:
- Leaving the app open, screen open, while the picture is uploading, not using other apps at the same time.
- Uploading pictures one -by one, never as a multi-upload.

[2022-11-23 08:20] nicolas-raoul commented on #5113
It means pictures that have already been either uploaded, or marked as "not for upload".
Thanks for localizing! :-)

[2022-11-23 08:43] Alasande commented on #5114
Hello,

Greeting the day,

Thank you for reaching out to me. The average picture size is 500KB–5MB,
but some times it will vary up to 15MB. Neither camera photographs nor
mobile camera photos are uploading.

Thank you for your suggestions I will follow the same.

Regards,

Bharathesha A B

On Wed, 23 Nov 2022, 1:22 pm Nicolas Raoul, ***@***.***>
wrote:

[2022-11-23 13:28] nicolas-raoul opened #5115 "Fix unit tests: AdvanceQueryFragmentUnitTests"
Broken since https://github.com/commons-app/apps-android-commons/pull/5091 it seems.

Anyone please feel free to send a pull request, thanks! :-)

[2022-11-24 03:22] bosankus commented on #5115
@nicolas-raoul  on it

[2022-11-24 15:09] jidanni commented on #5081
By the way, https://play.google.com/store/apps/details?id=com.aminbeheshti.exifviewer is a fine Exif analyzer.

[2022-11-25 02:45] bosankus commented on #5115
One observation found.
with `mockito-inline:3.13.0` multiple tests are not running, and showing `Test events not received`
<img width="739" alt="Screenshot 2022-11-25 at 8 11 46 AM" src="https://user-images.githubusercontent.com/46471379/203889659-fc5d69a6-1ca4-4616-ac65-b2a428a9ec0b.png">

So the option was to update `mockito-inline:3.4.0` which enables mocking static objects. And test results we

[2022-11-25 03:03] nicolas-raoul commented on #5115
By "updating", do you mean going from version 3.13.0 back to older version 3.4.0?

[2022-11-25 08:59] #5113 closed

[2022-11-25 10:39] nicolas-raoul commented on #5064
Note: Such a feature should be limited to experienced users.

[2022-11-25 17:40] bosankus commented on #5115
If you see this link https://github.com/mockito/mockito/releases?page=2 there is no release note for 3.13.0. Though I understand 3.12.0 is successor of 3.4.0 which involves mocking static methods(https://github.com/mockito/mockito/releases?page=13).

[2022-11-26 05:37] aunghsi1 commented on #5115
Hello

[2022-11-26 05:38] aunghsi1 opened #5116 "Hey"
### What is the user problem or growth opportunity you want to see solved?

_No response_

### How do you know that this problem exists today? Why is this important?

_No response_

### Who will benefit from it?

_No response_

### Anything else you would like to add?

_No response_

[2022-11-27 14:38] sivaraam commented on #5116
Hi @aunghsi1 ! If there's anything specific you need help with, it would great if you could elaborate. Thanks! 🙂

[2022-11-27 14:47] sivaraam commented on #5104
When I tap on the image of an already uploaded image, I see the uploaded image in full-screen. I don't see a "Welcome to Full-screen Selection Mode" pop-up. Is there any specific steps that need to be followed in order to trigger this issue ? 🤔

[2022-11-30 02:59] nicolas-raoul commented on #5104
@sivaraam  Sorry I added the steps now.