[2021-02-21 01:53] nicolas-raoul commented on #2252
Sure!
Please note that this is labeled as `enhancement`. Since you have fixed many issues labeled as `bug`, you can now work on enhancements too, but in general we try to give a higher priority to bugs :-)

[2021-02-21 01:58] #4143 closed

[2021-02-21 04:02] nicolas-raoul opened #4260 "Item with P582 (end time) shown as existing"
Item https://www.wikidata.org/wiki/Q17183050 (Beer Lane) has a P582 (end time) property:
<img width="485" alt="Screen Shot 2021-02-21 at 12 55 23" src="https://user-images.githubusercontent.com/99590/108615119-14c53a00-7444-11eb-8cc5-d9af4f8b0288.png">
Despite that, it is shown by the app as existing:
![adb](https://user-images.githubusercontent.com/99590/108615129-39b9ad00-7444-11eb-8a02-e619ecd7

[2021-02-21 10:39] mrudultora commented on #3364
I tried to replace the **PhotoView** with **DraweeView** as suggested by @macgills and it resolves the problem of crashing. But, now the problem arises that the image does not load in DraweeView because of the URI . Also, the scaling of image is not working as expected.

[2021-02-21 10:51] jidanni commented on #4243
As I don't have any great pictures to upload to Commons right now all I can tell you is simply looking in my Android gallery the pictures taken with the app all lack exif headers.

Also the one time I did try to upload one of them there was this weird extra question about location that I normally never stumbled into meaning that Commons website did not know where the picture was taken because it d

[2021-02-21 10:53] jidanni commented on #4243
And, I bet if you compare the final pictures that have ended up successfulyl uploaded, you'll see the ones without exif headers come from directly pushing the snap a picture button on the app.

[2021-02-21 10:57] jidanni commented on #4243
![Screenshot_20210221-185601.jpg](https://user-images.githubusercontent.com/1230959/108622845-77cfc480-7476-11eb-85d3-e39f385f839f.jpg)
" undeniable proof "

[2021-02-21 11:02] mrudultora opened #4261 "Feature: Adding App links/Deep links to the app"
**Summary:**

When we share url of a image and then try to click on that url, the browser opens with that link. **But**, if the user is having app installed we should open that particular image in app as first choice rather than in browser. Many apps nowadays has such feature.

**Would you like to work on the issue?**
**Yes**, I would like to implement this feature.

[2021-02-21 11:42] nicolas-raoul commented on #618
This has been implemented :-)
If you notice any Wikidata item that is displayed (not in black) despite not existing, please create a new issue linking to the item. Thanks!

[2021-02-21 11:42] #618 closed

[2021-02-21 11:55] gparap commented on #4252
I want to fix the issue

[2021-02-21 12:31] Prince-kushwaha commented on #4252
@gparap  i am working on this issue

[2021-02-21 12:39] gparap commented on #4252
ok

[2021-02-21 14:15] Anu-123-gif opened #4262 "Add a section explaining how to use nearby feature in the tutorial"
**Summary:**

It is quite confusing to use the nearby feature and it would be very helpful for new users if the tutorial explained this as well.

**Would you like to work on the issue?**
Yes
With some guidance :)
Please let us know whether you want to fix the issue by yourself. If not, anyone can get the issue assigned to them.

[2021-02-21 14:22] Anu-123-gif opened #4263 "Clicking on the map again should hide the nearby places list"
**Summary:**

Clicking on the map again should hide the nearby places list but instead it zooms into the map which is hardly visible.

_Before creating an issue, please search the existing issues to see if a similar one has already been created. You can search issues by specific labels (e.g. `label:nearby`) or just by typing keywords into the search filter._

**Steps to reproduce:**

Go to nearby

[2021-02-21 15:23] #4250 closed

[2021-02-21 17:00] 4D17Y4 commented on #4263
Hey @Anu-123-gif,
Thanks for spotting that.
Apparently, this issue seems quite similar to #2252, which is assigned.
If you have any inputs on the issue you can share them there to help the assignee tackle the issue.

Make sure to check if a similar issue already exists.  ;-)

Thanks.

[2021-02-21 17:16] Anu-123-gif commented on #4263
@4D17Y4 sorry about that. All the issues that I found were already addressed , apparently I missed checking this one.

[2021-02-21 17:23] Anu-123-gif commented on #4260
@nicolas-raoul can I work on this issue ...and also can you please tell me what is or how can I see endtime?

[2021-02-21 17:28] 4D17Y4 commented on #4263
Here is a URL that has bugs that are great for newcomers, to help you get started.
https://github.com/commons-app/apps-android-commons/issues?utf8=%E2%9C%93&q=is%3Aopen+is%3Aissue+no%3Aassignee+-label%3Aassigned+-label%3Adebated+label%3Abug

If you want to work on any issue or have any doubts do leave a comment on the issue,
maintainers will be happy to help.

You can close this issue now ; )
Than

[2021-02-21 17:32] Anu-123-gif commented on #4263
Thanks !

[2021-02-21 17:32] #4263 closed

[2021-02-21 18:38] mrudultora commented on #4261
@nicolas-raoul @misaochan Your views?

[2021-02-22 01:21] nicolas-raoul commented on #4261
Sometimes I open the webpage on purpose, for instance because I want to add a talk page comment or use another feature not available yet in the app. But I guess most users do not do that.

I think that's an interesting enhancement to experiment with.

[2021-02-22 03:50] jidanni commented on #4243
(Okay, turns out when you press the second button Android doesn't ask you if you want it also to take a picture. However it should!)

[2021-02-22 07:02] mrudultora commented on #4261
@nicolas-raoul You added the enhancement label, so I will wait for 5 PRs to get merged. Then, I will start working on it. Thanks !

[2021-02-22 08:47] Pratham2305 commented on #3364
I have also noticed this issue and managed to found a solution but not sure if it's the best thing to do. I have disabled the hardware acceleration for uploadActivity by adding the `android:hardwareAccelerated="false"` attribute in Android Manifest File, Now it is working as expected and I am able to upload the image!

[2021-02-22 09:15] mrudultora commented on #3364
@Pratham2305 Yes, you're right, but there are other consequences of using `android:hardwareAccelerated="false"`. So, I think it is not the best solution.

[2021-02-22 10:00] #4218 closed

[2021-02-22 11:37] 4D17Y4 opened #4266 "Image Dimensions should be reduced if too large."
**Summary:**

If the dimension of the image is large, particularly if the length of the image is more than the screen size, then on opening the media details of the image, the image covers the whole screen making the image description visible only on scroll.

**Steps to reproduce:**
* Upload an oversized image ( go for a full length screenshot )
* Tap on the image to see the media details.
* You'l

[2021-02-22 11:44] 4D17Y4 commented on #4266
To add to the issue,
we can notice that some part of the image is not visible  even on scroll if it is sufficiently large.

I think we should add an upper bound on the length of the image and adjust it's dimensions if it exceeds this bound.

@nicolas-raoul , @misaochan  for suggestions.

[2021-02-22 14:46] nicolas-raoul commented on #4266
Tip for anyone trying to reproduce the issue, here is a very high/narrow image: https://commons.wikimedia.org/wiki/File:Adolphe_Millot_carotte_longue.jpg . In media details you only see the top of the image, you have to scroll the equivalent of a few pages to reach the metadata, and the bottom of the image is never visible.

If the image is too high, I think it is a good idea to display it reduced

[2021-02-22 15:01] nicolas-raoul commented on #4260
A first step is to add the following line to app/src/main/resources/queries/nearby_query.rq :
[code]
Then in app/src/main/java/fr/free/nrw/commons/nearby/fragments/NearbyParentFragment.java and app/src/main/java/fr/free/nrw/commons/nearby/NearbyController.java treat `endTime` the same as `destroyed` (maybe using some factorization).
You will also need to modify app/src/main/java/fr/free/nrw/common

[2021-02-22 16:40] Anu-123-gif commented on #4260
Thank you for giving me a start !

[2021-02-22 18:15] Prince-kushwaha opened #4268 "Display campaigns setting is not disable on left sliding the notification"
**Summary:**
Display campaigns setting is not disable  on left sliding the notification

**Steps to reproduce:**
See In screenshot

**Device and Android version:**

Android Device:Redmi y3

**Commons app version:**
Latest Master
**Screen-shots:**

https://user-images.githubusercontent.com/65972015/108750730-631f2980-7567-11eb-8308-d81a085c8360.mp4

**Would you like to work on the issue?**
YES
Plea

[2021-02-22 18:19] #4268 closed

[2021-02-22 21:26] Pratham2305 commented on #4255
Hey @nicolas-raoul, I would like to work on this one.

[2021-02-23 00:36] nicolas-raoul commented on #4260
Actually the app is only interested in one thing: whether the place exists or not.
So rather than carrying around both `destroyed` and `endTime`, please carry around a boolean that you can call `exists`.
I believe the best is to do that in , replace `public final String destroyed;` with `public final boolean exists;` and modify the constructors to do `this.exists = (destroyedString == null) && (en

[2021-02-23 03:31] Prince-kushwaha commented on #3951
@nicolas-raoul i want to work on this issue

[2021-02-23 03:40] mrudultora commented on #3917
I tired this in many devices but was unable to reproduce. May be resolved ?

[2021-02-23 04:15] mrudultora opened #4269 "App crashes on switching between contribution tab and nearby tab fastly"
**Summary:**

On denying permission the dialog box pops out. Denying frequently and at the same time switching between contribution tab and nearby tab fastly causes crash.

**Steps to reproduce:**

https://user-images.githubusercontent.com/65870389/108801255-401e6500-75bb-11eb-8a45-893c604cd96b.mp4

**System logs:**

[code]

**Device and Android version:**
Redmi Note 7S and Android 10.

**Commons

[2021-02-23 04:43] nicolas-raoul commented on #3951
@Prince-kushwaha Sorry this is not marked as `bug`. There are many bugs left to choose from :-)

[2021-02-23 04:45] nicolas-raoul commented on #3917
@mrudultora It might be resolved, but most probably it does not happen on your devices because it only happens on a very limited number of device types.

[2021-02-23 04:45] nicolas-raoul commented on #3917
Anyone with a Xiaomi POCO F1? If yes, are you able to reproduce this issue? Thanks a lot :-)

[2021-02-23 05:05] mrudultora opened #4270 "Changing language from settings doesn't work"
**Summary:**

Changing language from settings show us that language has changed but in reality it doesn't changes. There are strings present in **strings.xml** that have translations but they appear in default language (in my case english).

**Steps to reproduce:**
• Go to settings and change language to your preferred language (I selected hindi).
• Then I moved to LoginActivity, but the strings a

[2021-02-23 05:05] mrudultora commented on #4270
@nicolas-raoul Can you confirm this issue ;-)

[2021-02-23 05:17] Prince-kushwaha commented on #3951
@nicolas-raoul accounding to contribution guide how make more than 5 merged pull requests
 is work on enhancement i made more than 10 merged pull request so can i work on this issue

[2021-02-23 07:22] Prince-kushwaha commented on #3951
@nicolas-raoul accounding to contribution guide who make more than 5 merged pull requests
is work on enhancement i made more than 10 merged pull request so can i work on this issue

[2021-02-23 07:49] nicolas-raoul commented on #4270
Thanks for asking before starting coding!

The setting is called `Default description language`, right?
It only affects the language in which the user enters description, when uploading a picture.
For instance, many Spanish speakers have their UI in Spanish but enter English descriptions so that their pictures are more easily searchable :-)

[2021-02-23 07:49] #4270 closed

[2021-02-23 08:14] nicolas-raoul commented on #3951
Ah sorry, congratulations @Prince-kushwaha ! :-)
For enhancements, agreements from core developers is needed.
This enhancement has actually not reached that stage.

The argument I would have against are:
- It adds to the burden of **maintenance**, as we would have to update the screenshots every time the user interface changes (it changes quite often), preferably in the user's locale (as for insta

[2021-02-23 08:17] #2252 closed

[2021-02-23 08:27] mrudultora commented on #4270
@nicolas-raoul  Hi, I was talking about UI. Have a look at the below screenshot.
![Screenshot_2021-02-23-13-51-05-642_fr.free.nrw.commons.beta.jpg](https://user-images.githubusercontent.com/65870389/108817744-60abe680-75de-11eb-9b3f-dbb8e0cb3e82.jpg)
Like, I have fixed the issue so the strings are appearing in Hindi. The language of UI must change.
But, in actual I get such a result inspite of cha

[2021-02-23 08:35] Prince-kushwaha commented on #3951
@nicolas-raoul thanks for explaining

[2021-02-23 08:46] nicolas-raoul opened #4271 "Explore Search: No title bar for item, non-existent menu for item, wrongly-worded menu for category"
Explore>Search>Items>item lacks a title (maybe white on white?) and three-dot menu containing "View item page":
![adb](https://user-images.githubusercontent.com/99590/108818724-23a31c80-75fd-11eb-91fd-d06fb1baf3ce.png)

It should be like the equivalent category (notice the title "Rabbits" and the three-dot menu containing "View file page"):
![adb](https://user-images.githubusercontent.com/99590/10

[2021-02-23 08:51] nicolas-raoul commented on #4270
Oh, do you mean that you switched Android's system language to Hindi?

[2021-02-23 08:53] Prince-kushwaha commented on #4005
@nicolas-raoul  can i work on this issue

[2021-02-23 09:00] #4252 closed

[2021-02-23 09:08] nicolas-raoul commented on #4005
@Prince-kushwaha I just asked Gouri-panda to rebase and will probably merge as soon as it is done :-)

[2021-02-23 09:23] nicolas-raoul commented on #4269
Strange, I am not able to reproduce this... I merged a few related pull requests a few hours ago, maybe it had an impact?
What commit number can you reproduce this on?

[2021-02-23 09:24] Prince-kushwaha commented on #4271
can i work on this issue

[2021-02-23 09:28] nicolas-raoul commented on #4271
@Prince-kushwaha Sure, thanks! Please do not hesitate to ask if I forgot to clarify anything.

[2021-02-23 09:35] mrudultora commented on #4269
@nicolas-raoul I didn't added the clear commons-app-verison. This is the one
**3.0.0-debug-master~88be88f25**

[2021-02-23 09:38] mrudultora commented on #4269
It's hard to reproduce. Just for the sake of screencast I have spent approx. 5 minutes. So, that I can catch the crash during the screen recording. Will you please confirm it. Because the logs generated are valid. On switching frequently, the toast produces but the fragment is not attached.

[2021-02-23 09:42] nicolas-raoul commented on #4271
Ah, I noticed that the bar (with many elements this time) is also missing in media details when opening a picture like this:
Explore
Tab "Featured"
Open the media details of any image with a depiction (for instance the recent "American kestrel" image)
Tap a depiction
Tab "Media"
Tap any picture

Directly from "Featured":
![adb](https://user-images.githubusercontent.com/99590/108825754-c01dec80-760

[2021-02-23 09:43] #4254 closed

[2021-02-23 09:46] nicolas-raoul commented on #4269
Thanks! Understood, I will try more :-)

[2021-02-23 09:53] #4245 closed

[2021-02-23 09:53] neslihanturan commented on #3361
No one is working on it and the issue is still open :) A good start point would be answering how you plan to solve each bullets that I listed at https://github.com/commons-app/apps-android-commons/issues/3361#issuecomment-725372809 . @Dannyhh , are you interested?

[2021-02-23 10:44] mrudultora commented on #4269
@nicolas-raoul The best way to reproduce it is tap yes on the dialog box from contributors tab and then move immediately to nearby tab and then press deny. The app will crash. Tried this 5 times and app crashed all of the time. Sorry for pinging you again and again.

[2021-02-23 11:21] nicolas-raoul commented on #4269
No problem for the pings! :-)
Actually the pending PR https://github.com/commons-app/apps-android-commons/pull/4259 (soon to be merged after style changes) modifies how this permission is asked. Let's wait until that PR is merged, probably tomorrow.

[2021-02-23 11:28] mrudultora commented on #4269
Sure ;-)

[2021-02-23 11:35] nicolas-raoul commented on #4129
I can reproduce the issue on latest master:
[code]

[2021-02-23 12:27] mrudultora commented on #2657
Anyone working on this? If not, I would like to work on this.

[2021-02-23 13:06] #3994 closed

[2021-02-23 13:42] #2803 closed

[2021-02-23 14:28] nicolas-raoul commented on #2657
Actually this is fixed now. Sorry for letting it open!

[2021-02-23 14:28] #2657 closed

[2021-02-23 14:39] #4136 closed

[2021-02-23 14:50] nicolas-raoul commented on #4262
I agree that we would need documentation about Nearby.

However, I don't think the tutorial is the best place. The tutorial is for ultra-important policy explanation (copyright, and what kind of pictures are expected). The tutorial is not meant to explain anything technical (features, buttons, UI) as it would make it too long. The tutorial is to prevent behaviors that would get us into big trouble

[2021-02-23 14:52] nicolas-raoul commented on #4243
Something is unclear in your issue report: Is this about the uploaded file on Commons?
Or is it about the locally saved file which can be created if `Save In-app shots` is enabled?

[2021-02-23 14:54] mrudultora commented on #3682
@neslihanturan Although, there is a PR for this #3864 . Only possible solution is using custom decoders or switching to glide etc. There is a link on custom decoders [here](https://github.com/facebook/fresco/tree/master/samples/showcase/src/main/java/com/facebook/fresco/samples/showcase/imageformat/svg). So, can I take this up ?

[2021-02-23 15:55] Anu-123-gif commented on #4262
Yes, making the tutorial too long won't really help.
A documentation sounds good!
We could add a link to the documentation in the tutorial if the users want to know more about Nearby.

[2021-02-23 20:31] misaochan commented on #545
The mockups and implementation plans are being discussed at https://commons.wikimedia.org/wiki/Commons:Mobile_app/WLM currently. We will take community feedback until 8 March, at which point we will modify the plans/design as needed and re-post the finalized plans.

[2021-02-24 00:44] jidanni commented on #3951
OK, but at least mention with words "to upload, press the upload button, which is probably the biggest button on the screen".

[2021-02-24 02:27] jidanni commented on #4243
I was talking about:

[2021-02-24 04:01] nicolas-raoul commented on #4262
Of course, please feel free to add a new section at https://github.com/commons-app/commons-app-documentation/blob/master/android/How-to-install-and-use-the-app.md I believe you have edit rights, please let us know if not.

I agree that a "User guide" link in the hamburger menu could be a good idea. Please note that it would be an "enhancement" rather than a "bug", though, which has an impact on wh

[2021-02-24 04:13] nicolas-raoul commented on #4243
Anyone can reproduce this? Please paste the EXIF output of:
1. a picture saved by the app
2. a picture taken directly by your device's stock camera app

[2021-02-24 04:14] nicolas-raoul commented on #4262
Ah, sorry, my link was wrong, the documentation is now here: https://commons-app.github.io/docs.html

[2021-02-24 04:22] nicolas-raoul commented on #3951
I think the upload button explanation should be written as a new top section in the user guide: https://commons-app.github.io/docs.html

[2021-02-24 04:27] nicolas-raoul opened #4273 "Add link to user guide in About"
The user guide (https://commons-app.github.io/docs.html) is currently hard to reach.

The only way to reach it now is via  About>website icon>Documentation

How about a new item "User guide" just below "Tutorial" in the hamburger menu, linking to https://commons-app.github.io/docs.html?

[2021-02-24 05:35] Prince-kushwaha commented on #4253
@nicolas-raoul can you confirm that  issue so that i work on this issue

[2021-02-24 11:55] mrudultora opened #4276 "App Crashes on changing system wide theme in WikidataItemDetailsActivity"
**Summary:**

On changing system wide theme in **WikidataItemDetailsActivity** / **CategoryDetailsActivity** and then clicking any image causes crash.

**Steps to reproduce:**

• Open **WikidataItemDetailsActivity** / **CategoryDetailsActivity**.
• Change your system theme (Light -> Dark / Dark -> Light).
• Click any image and the app will crash.

**System logs:**

[code]

**Device and Android ver

[2021-02-24 11:59] misaochan commented on #4261
Hi @mrudultora , interesting suggestion. Before you start working on this, could you elaborate on how you plan to implement this?

[2021-02-24 12:02] misaochan commented on #3917
The closest device that I have access to is a RedMi Note 7 (same manufacturer) and I cannot reproduce the issue with that. :/

[2021-02-24 12:06] misaochan commented on #4276
@mrudultora It is yours. :)

[2021-02-24 12:08] mrudultora commented on #3917
@misaochan Same, I am using Redmi Note 7S and not able to reproduce in that. Infact, I tried in Redmi 5A and Redmi Note 5, but was unable to reproduce in them also.

[2021-02-24 12:11] mrudultora opened #4277 "Commons isn't responding in Limited connection Mode"
**Summary:**

Frequently getting the message **_Commons isn't responding_** in Limited connection Mode.

**Steps to reproduce:**

How can we reproduce the issue?
After switching to limited connection mode, I switched to peer review and nearby tab and suddenly the message popped out. Infact, got this once when pausing and resuming upload in limited connection mode.

**Device and Android version:**

[2021-02-24 12:55] mrudultora commented on #4261
@misaochan I just figured it out, but I am really confused. We are working with indices (position of item) everywhere. Like when we are in **ExploreListRootFragment** then on clicking a image, it's position is transferred to **MediaDetailPagerFragment**. But, when the URL is clicked I just have the **name/title of the file**. If this is the case, I guess this cannot be done. We must have something

[2021-02-24 14:18] nicolas-raoul commented on #4261
@mrudultora I am sure MediaDetailPagerFragment is given more than a position, it must be given an identifier. You can use the Wikimedia API to get such an identifier from a filename.

[2021-02-24 14:24] mrudultora commented on #4261
@nicolas-raoul I will try to look ;-)
Btw, would you please give me some more info 😅.

[2021-02-24 18:10] Prince-kushwaha opened #4278 "Media details categories editor: Category not actually added"
**Summary:**

when Add category to any (image,video) it show in add in categories(MedailDetail)
But when re again open current image  medailDetail it not show in categories its mean it is not upload to database

**Steps to reproduce:**
See in Screenshot

**Device and Android version:**
Android Device:Redmi 4
API :28
**Commons app version:**
Latest master (3.0.0)
**Screen-shots:**

https://user-ima

[2021-02-25 02:38] Prince-kushwaha commented on #4253
@misaochan @madhurgupta10 @ashishkumar468 can you confirm that issue and assigned me

[2021-02-25 02:38] Prince-kushwaha commented on #4253
@misaochan @madhurgupta10 @ashishkumar468 can you confirm that issue and assigned me

[2021-02-25 02:38] Prince-kushwaha commented on #4253
@misaochan @madhurgupta10 @ashishkumar468 can you confirm that issue and assigned me

[2021-02-25 02:38] Prince-kushwaha commented on #4253
@misaochan @madhurgupta10 @ashishkumar468 can you confirm that issue and assigned me

[2021-02-25 09:52] nicolas-raoul commented on #4261
Sure :-)
I think you need to implement your own `MediaDetailPagerFragment.MediaDetailProvider` where `getTotalMediaCount()` returns `1` and `getMediaAtPosition(0)` returns a `Media` which you can fill using your URL and possibly other fields retrieved using the [Commons API](https://commons.wikimedia.org/w/api.php).
There are several implementations that you can look at for inspiration, for instan

[2021-02-25 10:36] misaochan commented on #4277
Ah, looks like an ANR. Would you like to investigate/fix this, @mrudultora ?

As a side note, I think we can probably disable peer review entirely in limited connection mode, since it requires downloading images. @nicolas-raoul what do you think?

[2021-02-25 10:37] misaochan commented on #4253
@Prince-kushwaha Could you do me a favour and test the `3.0-release branch` to see if this problem still occurs for you?

[2021-02-25 10:45] misaochan commented on #4273
Hmm, personally the docs feel more like "documentation for advanced users" than a "user guide" (which I think would be more like a step-by-step guide on how to use the app, and which we don't currently have). Additionally, the hamburger menu feels quite full already, so IMO we should reserve it for features that most users would use frequently.

How about adding Documentation as a link in About? S

[2021-02-25 10:59] mrudultora commented on #4277
Hi @misaochan my PR for completely hiding peer review in limited connection mode is merged. So that issue is solved ;-)
I tried to debug the cause leading to ANR but  was unable to resolve the issue. I want to work on this issue but I am completely clueless :-(

[2021-02-25 18:04] Prince-kushwaha commented on #4253
@misaochan this issue is still occur in 3.0-release branch

[2021-02-26 00:24] nicolas-raoul commented on #4273
Indeed that page is very advanced for now, but recently we were asked for documentation for non-advanced features ([Nearby](https://github.com/commons-app/apps-android-commons/issues/4262), [the upload button](https://github.com/commons-app/apps-android-commons/issues/3951)), and I think https://commons-app.github.io/docs.html is where that should go.

Documentation as a link in About sounds good

[2021-02-26 07:54] nicolas-raoul commented on #4253
Does it still happen after resetting the app's storage and cache?

[2021-02-26 08:21] #4129 closed

[2021-02-26 09:26] Prince-kushwaha commented on #4253
@nicolas-raoul app not crash after resetting the app storage and cache

[2021-02-26 09:27] Prince-kushwaha commented on #4253
@nicolas-raoul this issue some time occur and some time not occur

[2021-02-26 09:32] Prince-kushwaha commented on #4278
@nicolas-raoul  can i work on this issue

[2021-02-26 10:56] mrudultora commented on #4261
@nicolas-raoul I tried using `https://commons.wikimedia.beta.wmflabs.org/w/api.php?action=wbgetentities&props=labels&format=json&languagefallback=1&sites=commonswiki` this api as it takes languages and file name as parameter, and checked the response in Postman. It gives status as ok but output is not appropriate. Also, checked some other combinations but the output is not as expected. I am adding

[2021-02-26 11:00] mrudultora commented on #4276
@misaochan As stated in exception, the variable declared as **lateinit** is never initialised. So, I want to ask you that can I change the lateinit variable to nullable variable. I mean will it be a good practice.

[2021-02-26 18:24] sivaraam commented on #3441
@Roshan13046 I don't think so. Even after the major UI revamp the behaviour of the info icon hasn't changed. It would be nice to see it changed as suggested above.

[2021-02-27 16:27] #3440 closed

[2021-02-27 16:51] Anu-123-gif commented on #4260
I had a few doubts :
How should I initialize `endTime` in app/src/main/java/fr/free/nrw/commons/nearby/Place.java?
After replacing `public final String destroyed;` with `public final boolean exists;`
I will have to remove destroyed from constructor calls as well. Should I replace  it with exists everywhere?
I think I should replace the condition to check whether place is destroyed with `exists ==

[2021-02-28 01:16] nicolas-raoul commented on #4260
`destroyed` is read from the database.
Your first task is to similarly read the end time from the database :-)
My advice would be to first study how `destroyed` is read, study the SPARQL network response and the various classes that the information comes through.

[2021-02-28 02:28] nicolas-raoul opened #4280 "Crash when rotating screen on media details (item search)"
**Steps to reproduce:**

1. Tap "Explore"
2. Tap the search button
3. Enter "rabbit"
4. Tap "Items"
5. Tap the "rabbit" item
5. Tap the first image. You are now seeing the media details.
6. Rotate the screen
7. Crash

**Commons app version:**

Latest master

[2021-02-28 02:48] Prince-kushwaha commented on #4278
@nicolas-raoul  @misaochan can i work on this issue

[2021-02-28 09:04] Pratham2305 commented on #4280
@nicolas-raoul I think the issue is similar to #4276, as the system log of the crash are similar

[2021-02-28 14:52] nicolas-raoul commented on #4280
Thanks a lot for spotting that, @Pratham2305 ! I will close this issue and keep an eye on #4276 :-)

[2021-02-28 14:52] #4280 closed

[2021-03-01 05:12] nicolas-raoul opened #4281 "Wrong language pre-selected in Nearby upload"
In Nearby I saw the pin for https://www.wikidata.org/wiki/Q48746543 and took a picture of it. When I tapped the + button of the Nearby item and selected my picture, I got this:
![Screenshot_20210301-140112_Commons](https://user-images.githubusercontent.com/99590/109514405-58c1da00-7ae9-11eb-8700-f296892d61b8.jpg)
Problem: Despite the Wikidata item not having an English label, the pre-entered capti

[2021-03-01 10:40] misaochan commented on #4277
Pinging @ashishkumar468 for thoughts on this. :)

[2021-03-01 10:43] misaochan commented on #4253
@Prince-kushwaha you are welcome to take a look at this issue in that case. Please let us know what you find.

[2021-03-01 10:50] #4255 closed

[2021-03-01 10:53] misaochan commented on #4278
Have you checked to see if the categories were actually added to Commons, by looking at the upload in your browser? That would help figure out if the categories were genuinely not added, or if they were added but there is a bug in media details that does not fetch/display them.

[2021-03-01 12:24] mrudultora commented on #4277
@misaochan @ashishkumar468 Yes it's sometimes unrelated to peer review. I am adding logs based on ANR from stacktrace. The best way to produce this ANR is upload a file in limited connection mode and then switch on/off that mode frequently and also try pausing and resuming upload.
From stacktrace reason is :

    Load: 7.11 / 6.88 / 6.63

[code]

[2021-03-01 13:19] ashishkumar468 commented on #4277
Yes, this is unrelated to the Peer Review Service, this is because the Upload Service has does not call startForeground in its onCreate within the permitted threshold. In UploadService#showUploadNotification, we show the notification after querying the contributions which might be taking time in devices with too many contributions or lower-end devices. Most likely this is the issue

[2021-03-01 13:26] mrudultora commented on #4277
@ashishkumar468

 I tested this in devices with 3-4 gb ram. Also, this is the second image I uploaded on commons app.
So, I guess it could be happening frequently in all the devices. And this was happening in peer review also, but as discussed in #3994 the peer review activity was hided. So, it may be happening in peer review service also. I was able to reproduce in that also.

[2021-03-01 13:29] ashishkumar468 commented on #4277
From the logs, this is happening in UploadService
`fr.free.nrw.commons.beta/fr.free.nrw.commons.upload.UploadService`. PeerReview does not have a service, we make normal API calls to get the data, because of the limited connection mode, we might not be downloading the images, fixing that should solve the issue

[2021-03-01 13:41] #4184 closed

[2021-03-01 14:28] 4D17Y4 commented on #4281
I'd like to work on this one.

[2021-03-01 14:37] 4D17Y4 commented on #4281
I'd like to work on this one ;)

[2021-03-01 14:37] #4266 closed

[2021-03-01 14:51] nicolas-raoul commented on #4281
@4D17Y4 It is yours! This issue is about Wikidata, which is a hot topic recently for Commons. There are a lot of interesting concepts in Wikidata, and I think that this issue is a good way to enter the field. If you have any question please do not hesitate to ask.

First, are you able to reproduce the issue? You can either use a "fake GPS" app or an Android emulator to place yourself geographicall

[2021-03-01 14:59] mrudultora commented on #4277
@ashishkumar468 Okay ;-) I wasn't much familar with PeerReview details like we make normal API calls to get the data. Are you working on it? If not, I would like to give it a try.

[2021-03-01 15:00] 4D17Y4 commented on #4281
Yes, I can reproduce this one.

Excited to work on this one.

Sure.

Thanks.

[2021-03-01 15:20] ashishkumar468 commented on #4277
@mrudultora  This issue, "the one with the Service" will be fixed soon as a part https://github.com/commons-app/apps-android-commons/issues/3790, you can pick the go ahead with the current issue :)

[2021-03-02 17:32] 4D17Y4 commented on #4281
Hey @nicolas-raoul,

Ive investigated on the issue and found out that in uploadMediaDetails.kt
https://github.com/commons-app/apps-android-commons/blob/9cf59f78010691b49ec582a4c5defdd534d325d7/app/src/main/java/fr/free/nrw/commons/upload/UploadMediaDetail.kt#L22-L26
We've used default language as the language code for media details (line 23).

This works well when the user wants to enter the capti

[2021-03-03 06:07] nicolas-raoul commented on #4281
Good find!
From where in the code is this constructor called (when coming from Nearby)? That place is the code probably knows what language `place.name` and `place.longDescription` are in.

[2021-03-03 08:57] nicolas-raoul opened #4283 "IllegalStateException: The application's PagerAdapter changed the adapter's contents without calling PagerAdapter#notifyDataSetChanged! Expected adapter item count: 140, found: 150"
In the contributions activity, when opening any of my uploaded pictures I get the following crash either immediately or after changing screen orientation a few times. I can reproduce the crash easily, both in latest master and in branch `marcosliberal:fix-issue-3906`.
[code]

5 hours later, I get the same crash with different numbers: `Expected adapter item count: 590, found: 600`

I guess the app

[2021-03-03 09:03] #3986 closed

[2021-03-03 09:10] nicolas-raoul commented on #4278
I tried a few times, and can see that the category is actually not added.
For instance, I added category "Bakeries" to https://commons.wikimedia.org/wiki/File:Last_day_of_Mitsukoshi_at_Ebisu_Garden_Place_8.jpg but I can see nothing recent in history: https://commons.wikimedia.org/w/index.php?title=File:Last_day_of_Mitsukoshi_at_Ebisu_Garden_Place_8.jpg&action=history

[2021-03-03 09:31] nicolas-raoul opened #4284 "Remove unused strings"
`No Image for Depiction` (`depictions_image_not_found` in `app/src/main/res/values/strings.xml`) seems to not be used anywhere. The app builds and runs fine without that string, it seems.

I think we should remove all unused strings, as they make localization less maintainable.

I am sure there are tools to find unused strings (maybe lint?).

[2021-03-03 11:04] 4D17Y4 commented on #4281
The constructor is passed an object of Place, here are its variables (no language)

https://github.com/commons-app/apps-android-commons/blob/9cf59f78010691b49ec582a4c5defdd534d325d7/app/src/main/java/fr/free/nrw/commons/nearby/Place.java#L21-L30

This place object is in fact created from an object of NearbyResultItem (generated from JSON received as query result) having these variables-
https://gi

[2021-03-03 12:39] #4271 closed

[2021-03-03 14:03] nicolas-raoul commented on #4281
Thanks for the investigation! Passing a `labelLanguage` along with `label` sounds like a good idea.

I am not sure to understand that:

We can not change anything server-side, unfortunately.
For your second solution, are you proposing to do the parsing in OkHttpJsonApiClient.java?

[2021-03-03 16:58] marcosliberal commented on #4284
Hi @nicolas-raoul. I can give it a try if it's ok by you.

[2021-03-03 18:07] #4005 closed

[2021-03-03 18:17] #3785 closed

[2021-03-03 18:33] neslihanturan commented on #3682
Hi @mrudultora , I think the solution at #3864 seems valid. However there are some conflicts. Lets ask to PR owner if they are still interested to fix conflicts. Otherwise you can send either your solution or the same solution in the PR (rebased to master ofc).

[2021-03-03 18:44] mrudultora commented on #3682
@neslihanturan Okay ;-)

[2021-03-04 01:28] 4D17Y4 commented on #4281
Yes @nicolas-raoul , was planning on that but I found out a better way to deal with the situation.

PR for the same ;)

[2021-03-04 04:03] Prince-kushwaha commented on #4278
@nicolas-raoul
`@FormUrlEncoded
    @Headers("Cache-Control: no-cache")
    @POST(Service.MW_API_PREFIX + "action=edit")
    fun postAppendEdit(
        @Field("title") title: String,
        @Field("summary") summary: String,
        @Field("appendtext") appendText: String,
        @Field("token") token: String
    ): Observable<Edit>
`
how i test this Post request locally on my browser
can we ex

[2021-03-04 06:54] Pratham2305 opened #4286 "Contributions didn't appear after logging in again"
**Summary:**

Empty contribution tab appears after you try to login again without closing the app.

**Steps to reproduce:**

1. Log out from the app
2. Now again try to log in without closing the app
3. Empty contribution tab will appear.

**Device and Android version:**

Device: Pixel 3 emulator, Android 10

**Commons app version:**

Latest Master

**Screen-shots:**

![Screenshot_1614839622](http

[2021-03-04 08:34] Prince-kushwaha commented on #4278
@misaochan @neslihanturan
`@FormUrlEncoded @Headers("Cache-Control: no-cache") @POST(Service.MW_API_PREFIX + "action=edit") fun postAppendEdit( @Field("title") title: String, @Field("summary") summary: String, @Field("appendtext") appendText: String, @Field("token") token: String ): Observable<Edit>`
how i test this Post request locally on my browser
can we explain how this http POST request work

[2021-03-04 09:02] nicolas-raoul commented on #4284
@marcosliberal Thanks! :-)

[2021-03-04 12:51] #4281 closed

[2021-03-04 13:09] nicolas-raoul commented on #4278
Adding a category means editing the image's page ([example](https://commons.wikimedia.org/w/index.php?title=File:Last_day_of_Mitsukoshi_at_Ebisu_Garden_Place_8.jpg&action=edit)) to append something like `[[Category:Bakeries]]` at the end of it.

Here is the documentation to edit a page: https://www.mediawiki.org/wiki/API:Edit

[2021-03-04 13:11] 4D17Y4 opened #4287 "Tapping multiple items in explore should not be allowed"
**Summary:**
When tapping on multiple item at the same time the explore fragment is replaced by the media details.

**Steps to reproduce:**
* Tap on multiple items in explore fragment simultaneously (use two fingers ;-) )
* Go back to the fragment from details ( back ).
* The fragment is replaced by a media detail.

**Device and Android version:**
Nokis 6.1+ android 10 stock.

**Commons app versio

[2021-03-05 02:07] marcosliberal commented on #4284
Hi @nicolas-raoul. Just made a pull request with the removed strings I found.

I did it by running an "Unused resources" analysis on strings.xml files with Android Studio. More than 100 strings were found.

[2021-03-05 14:28] Prince-kushwaha commented on #4278
@nicolas-raoul  @misaochan @neslihanturan  what is `csrfTokenClient.tokenBlocking`
or what is csrfToken or token

[2021-03-05 14:54] nicolas-raoul commented on #4278
@Prince-kushwaha Please first tell us everything you understand about it, so that we can start from there or correct your understanding if needed :-)

[2021-03-05 15:35] #4284 closed

[2021-03-06 04:45] Prince-kushwaha commented on #4278
@nicolas-raoul @misaochan
`fun appendEdit(pageTitle: String, appendText: String, summary: String): Observable<Boolean> {
        return try {
            pageEditInterface.postAppendEdit(pageTitle, summary, appendText, csrfTokenClient.tokenBlocking)
                .map { editResponse -> editResponse.edit()!!.editSucceeded() }
        } catch (throwable: Throwable) {
            Observable.just(fa

[2021-03-06 05:51] Prince-kushwaha commented on #4278
@nicolas-raoul below code is in file :PageEditClient.kt in actions folder
[code]

[2021-03-06 08:16] mrudultora commented on #3682
@neslihanturan I think Saumia is not there to work on this again. So, can I make a PR now ?

[2021-03-06 08:27] nicolas-raoul commented on #4278
Have you read about CSRF? See https://stackoverflow.com/questions/5207160/what-is-a-csrf-token-what-is-its-importance-and-how-does-it-work
Please add log debug lines, just before the postAppendEdit, and before the equivalent post call used when uploading (which works and probably uses CSRF too).

[2021-03-07 01:49] marcosliberal opened #4290 "Error messages from login attempts are always in English"
**Summary:**

My phone's system language is Portuguese but when I try to login with an incorrect username/password in the login screen I get an error in English.

Looking at the code I can see that the error shown in this situation is a string returned from the login API and not a string in the strings file so it doesn't look like a missing translation (actually tested in Spanish and French and go

[2021-03-08 06:25] Pratham2305 commented on #2815
Hi! @domdomegg I think the issue still exists on the latest master, Can I work on this one?

[2021-03-08 09:18] nicolas-raoul opened #4291 "Nearby: Mark instances of "unbuilt building or structure" as not existing"
Class: https://www.wikidata.org/wiki/Q105821051

(similar to #4260)

[2021-03-08 17:57] marcosliberal commented on #4243
I also cannot reproduce this issue (tested in a Nokia 7 plus with Android 10 and the commons app from the playstore).

As you can see in the screenshots below that show the EXIF of 2 pictures, 1 saved by the commons app and other taken with the stock camera app, they both have the same EXIF fields with almost the same exact values (except for things like timestamp obviously). They also have locati

[2021-03-08 18:06] jidanni commented on #4243
OK then I better close this.

[2021-03-08 18:06] #4243 closed

[2021-03-09 19:17] marcosliberal commented on #4273
I also like the idea. But if I may make another suggestion, wouldn't it also be nice to have a new button or link in the final page of the Tutorial pointing to the User Guide? The app asks "You think you got it?" and there is only one possible answer. Maybe a "No, show me User Guide" or something like that would make sense.

Either way, can I work on this issue? :)

[2021-03-10 05:17] nicolas-raoul commented on #4273
@marcosliberal Please note that this is labeled as "enhancement". Do you have 5 bugfixes to meet the requirement described at https://github.com/commons-app/commons-app-documentation/blob/master/android/Volunteers-welcome!.md#developers ? Cheers!

[2021-03-10 06:41] nicolas-raoul commented on #873
I think this can be considered solved, even category edition seems to have found its place.

[2021-03-10 06:41] #873 closed

[2021-03-10 06:46] nicolas-raoul commented on #230
I think this can be closed.
Everyone: if you think that filenames should be used as a caption or description or other, please explain why here, and post real world examples. Thanks!

[2021-03-10 06:46] #230 closed

[2021-03-10 08:47] marcosliberal commented on #4273
Unfortunately not 😄

[2021-03-11 08:00] Pratham2305 commented on #4260
Hi! @Anu-123-gif, Are you still working on it, if not I would love to work on this one. Thanks!

[2021-03-11 11:33] Anu-123-gif commented on #4260
Hi! I've been working on this issue but I still can't get it right. Maybe you'll have better luck!
Go ahead ,thanks!

[2021-03-11 12:08] nicolas-raoul commented on #4260
@Anu-123-gif Sorry to hear about that, please feel free to take another issue, and also do not hesitate to ask any question :-)
Also, feel free to share with Pratham what you tried, interesting things you found about the issue, etc. Cheers!

[2021-03-11 13:12] domdomegg commented on #2815
Sure

[2021-03-12 16:02] mithun2020ait commented on #4217
can i fix the issue?

[2021-03-12 17:18] Roshan13046 commented on #4217
Partially fixed. changes suggested. working on it.

[2021-03-12 22:20] matkoniecz commented on #3766
Sorry for delay! I see that it is now fixed, thanks!
![Screenshot_20210312-173148](https://user-images.githubusercontent.com/899988/111004370-3b162f80-8389-11eb-93c5-5c3764389172.png)

[2021-03-13 02:51] madhurgupta10 opened #4293 "Fix the UI issue with leaderboard rank number"
**Summary:**
Leaderboard ranking UI isn't properly set for 3 digit rank or more.

**Steps to reproduce:**
Open leaderboard scroll to 100 or more ranking

**Device and Android version:**
Xiaomi Mi A2 Android 10

**Commons app version:**
latest prodDebug

**Screen-shots:**
![Screenshot_20210313-081807](https://user-images.githubusercontent.com/30932899/111016626-05973380-83d5-11eb-82b6-b09eb9e5d374.

[2021-03-13 19:12] theankitbhardwaj commented on #4293
I would like to work on this issue. Please assign it to me.

[2021-03-14 10:11] theankitbhardwaj commented on #4293
Thanks.
Can you help me a bit ? I am new to open source contributions.
Which branch I have to fix the bug for ? I have fixed the bug in master branch though. Thanks in advance.

[2021-03-14 10:13] madhurgupta10 commented on #4293
@theankitbhardwaj You can create a PR for the master branch.

[2021-03-14 10:13] theankitbhardwaj commented on #4293
Okay thanks. Will create a PR now.

[2021-03-14 10:53] theankitbhardwaj commented on #4293
#4294

[2021-03-15 12:11] neslihanturan commented on #3711
As far as I checked, we don't have this issue anymore with new UI. However, I am not quite sure that I see over texts on some screen shoots. Can someone else also check if this issue exists with our latest UI?

[2021-03-15 12:15] #4293 closed

[2021-03-16 18:16] puneetdwivedi commented on #4217
i would like to work on this

[2021-03-17 12:20] misaochan commented on #4
Hi @brion , any chance you are still interested in working on this? We've received quite a few requests for video support recently. :)

[2021-03-17 12:34] misaochan commented on #3766
Happy to hear that, @matkoniecz ! Any chance of updating your Google Play review? ;)

[2021-03-17 12:38] matkoniecz commented on #3766
Thanks for a reminder, also fixed! (now also response should be changed, currently it is quite funny :) )

[2021-03-17 12:50] misaochan commented on #3766
Hmm, I can't seem to find my old response, I guess it might be automatically hidden when the review is updated? Anyway, thanks a lot @matkoniecz . :)

[2021-03-17 12:55] matkoniecz commented on #3766
![screen04](https://user-images.githubusercontent.com/899988/111470709-7073a200-8728-11eb-98c9-d9206258b551.png)

I guess that I will edit it to include original complaint.

[2021-03-17 15:05] #4260 closed

[2021-03-17 17:38] misaochan commented on #545
### Finalized plans for WLM 2021

**Scope:** Users should be able to upload photos for the WLM competition via Nearby, with the monument ID and appropriate template attached. We should complete implementation by 1 July 2021 to allow time for testing.

**Implementation:**

(See mockups above for reference)
1. During WLM month, we will have a banner that informs the user about WLM, and WLM monuments

[2021-03-19 15:01] Prince-kushwaha commented on #3363
@nicolas-raoul  @misaochan  what this year this organization participate in gsoc 2021

[2021-03-19 18:00] srish commented on #175
Hi! I just saw an Android app project listed here: https://www.mediawiki.org/wiki/Google_Summer_of_Code/2021#Add_a_custom_picture_selector_to_the_Commons_Android_app that I couldn't identify who added. @nicolas-raoul @madhurgupta10 Could you confirm if you plan to mentor this project in the upcoming round of GSoC? If so, could you also add it to Phabricator?

[2021-03-20 08:02] HamzaBinMubeen commented on #175
Hi Sir Nicolas,
I am Hamza Bin Mubeen, currently doing Alevel's and I plan to contribute to this project as I have basic knowledge of Android app development. I am going to start learning Java in May from Coursera, so this project and your mentorship could help me get practically involved while learning through courses.
I would be glad too, by contributing to one of the biggest open-source project

[2021-03-20 08:53] jidanni opened #4296 ""Is this a picture of ...": Not too clear about which image it is asking me about"
Here I am uploading several images at one time. It (latest alpha) is asking me a question about one of those images or perhaps many of those images but the image it is asking me the question about does not appear. Therefore I'm not sure exactly which image(s) it is asking me a question about.

![Screenshot_20210320-164607.jpg](https://user-images.githubusercontent.com/1230959/111864536-6659d980-89

[2021-03-20 08:54] HamzaBinMubeen commented on #175
Also @nicolas-raoul I read the reviews of the commons app, and most of the people are facing a common issue of not being able to zoom in a picture, watching a video, and are having constant crashes. Can we create a project for GSoC and fix these issues too?
Also I think we should add an optimization feature which decreases the image quality for slower network connections.
Let me know how can we pr

[2021-03-20 12:14] nicolas-raoul commented on #175
@srish Thanks for the nudge! We will add a Phabricator issue.

[2021-03-20 12:15] madhurgupta10 commented on #175
@srish Yes, we are mentoring :)

[2021-03-20 16:40] nicolas-raoul commented on #175
@srish I created a Phabricator task: https://phabricator.wikimedia.org/T278015

[2021-03-20 17:38] HamzaBinMubeen commented on #175
Please help me out. Waiting for a reply😊

[2021-03-20 19:00] Pratham2305 opened #4297 "UI Issue: After changing the system theme from settings"
**Summary:**

Theme change didn't work properly, as After changing the system theme from settings, the Bottom Navigation bar disappears and the background color is also different.

**Steps to reproduce:**

1. On Explore/Contribution Tab, Open any Media details

2. Close the app, and Change the System theme

3. Now reopen the app.

**Device and Android version:**

Device: Pixel 3 emulator, Android

[2021-03-21 18:05] sivaraam opened #4299 "App should respect device font-size"
The app doesn't care about the device's font size setting. It appears to be using a consistent size regardless of whether the device font size is "Extra Small" or "Extra Large". For accessibility reasons, it would be nice if the app respected the device font size. An example of an app that respects device font size is the [Wikipedia Android app](https://github.com/wikimedia/apps-android-wikipedia/

[2021-03-21 18:13] sivaraam commented on #3711
Yeah, I don't appear to notice any over-sized text either. So, I'll close this one. Regardless, I would like to see the app respect the device font size. I've opened #4299 for that 🙂

[2021-03-21 18:39] #3711 closed

[2021-03-21 18:40] sivaraam commented on #830
Is this still relevant? Or shall we close this? 🤔

[2021-03-21 18:47] sivaraam opened #4300 "Limited connection mode banner occupies too much space"
**Summary:**
In small-screen devices the limited connection mode banner occupies to much space. To be specific, it occupies ~50% of the space in which I view my Contributions. The worst part of it is, it's sticky and hence doesn't even move along with the contributions. 😐

**Steps to reproduce:**
1. Open the app in a small-screen device (mine is ~4.2")
2. Turn on limited connection mode
3. Observe

[2021-03-21 22:33] nicolas-raoul opened #4302 "All GSoC (Google Summer of Code) 2021 candidates: Please read"
Do you want to apply for GSoC 2021?

Please read [how to apply to our GSoC](https://github.com/commons-app/commons-app-documentation/blob/master/android/Students.md).

Thank you for your interest, and welcome to the team! 🙂

[2021-03-22 03:20] gabrielchl commented on #3376
(would like to work on this)

[2021-03-22 08:11] VishnuSanal commented on #4300
@nicolas-raoul I'd like to work on this issue. Would it suffice to reduce the size? Or change it to something like a `SnackBar` or such? I'm new here! Looking forward to contributing :)

[2021-03-22 08:39] madhurgupta10 commented on #3376
@gabrielchl Feel free to create a PR for this issue, you can checkout the discussion on old PR for the possible fixes for this issue.

[2021-03-22 09:23] ashishkumar468 commented on #4300
IMO, the size could be reduced to have a width of what a standard banner notification (48 dp height). We could so add a close button which would make it go away untill it's toggled back again.

[2021-03-22 09:33] theankitbhardwaj commented on #4300
I think adding close button wouldn't be right. User must knew all time that his/her uploads are paused.

[2021-03-22 09:35] ashishkumar468 commented on #4300
@theankitbhardwaj, there is an icon on the toolbar which already does that

[2021-03-22 09:36] theankitbhardwaj commented on #4300
Ohh. Sorry I didn't notice that.

[2021-03-22 10:56] misaochan commented on #175
Just wanted to mention that the zoom issue (and the majority of the crashes) are somewhat outdated - zoom has been in the app for a couple of versions now. However, video support has indeed not yet been implemented and is frequently requested, so that could be a potential topic IMO (if the mentors are okay with it). :)

[2021-03-22 10:57] #830 closed

[2021-03-22 11:02] misaochan commented on #4300
Reduced size sounds good to me too. Same with a close button, however I think it does not save in between sessions. E.g. if the user closes the banner, then closes the app with limited connection mode on, when they relaunch the app with limited connection mode on, the banner should display again. Otherwise there is too much potential for confusion IMO.

[2021-03-22 11:11] misaochan commented on #175
Btw, I think this is a fantastic idea @nicolas-raoul ! I would find it very helpful personally. :) However I should probably mention that when we looked at open source custom picture selector libraries a couple of years back, we had multiple issues with the ones we tried. I think there was an issue with multiple uploads and also an issue with Google Photos not working with them. (@maskaravivek @as

[2021-03-22 16:18] jaxonzku commented on #4300
what about changing the color of the limited-connection-mode icon on the status bar to a different color which tells it is currently turned on. The color will change previous color when it is clicked again. Also, a popup giving an alert for 2 seconds.

[2021-03-22 18:27] HamzaBinMubeen commented on #175
Thankyou for replying 😊

Oh that's great if those issues have been fixed.
Yes I too would love to work on bringing a new feature, video support, if the mentors are okay with it, otherwise I could dedicate some of my time on this after GSoC. :)

Yeah, finding/creating library is going to be a fun but hectic work😀

[2021-03-22 18:29] HamzaBinMubeen commented on #175
Other than that Sir @nicolas-raoul @madhurgupta10 should I start working on the tasks (given here :https://github.com/commons-app/commons-app-documentation/blob/master/android/Students.md) ? Or wait for the application period to begin?

[2021-03-22 19:49] madhurgupta10 commented on #175
@HamzaBinMubeen you can start working on the issues. It will help you get familiar with the project and codebase.

[2021-03-22 22:07] HamzaBinMubeen commented on #175
Okayy Sure!!
Thankyou

[2021-03-23 10:12] neslihanturan commented on #3101
There is a sleeping PR **almost** ready for this issue:  #3124 . If anyone interested this issue, please make sure you checked the code at mentioned PR.

[2021-03-23 10:19] #1255 closed

[2021-03-23 10:29] neslihanturan commented on #2272
This issue is no more around.

[2021-03-23 10:29] #2272 closed

[2021-03-23 10:34] neslihanturan commented on #2414
This issue is not valid anymore :)

[2021-03-23 10:34] #2414 closed

[2021-03-23 12:25] Pratham2305 commented on #4048
@nicolas-raoul @misaochan, Can I work on this?

[2021-03-23 12:30] HamzaBinMubeen commented on #175
Hi Sir @madhurgupta10.
Sorry to disturb you again.
I wanted to ask that will you suggest windows version of Android studio or Linux one, to work on this project?
Thankyou

[2021-03-23 12:32] madhurgupta10 commented on #175
You can use any OS at your convenience.

[2021-03-23 15:50] Krshivam25 commented on #3361
Hi @neslihanturan Please assign me this issue as I'm a new bees here and love to contribute over documentation

[2021-03-23 15:51] Krshivam25 commented on #3361
Hi @neslihanturan Please assign me this issue as I'm a new bees here and love to contribute over documentation

[2021-03-23 16:28] Krshivam25 commented on #4217
Hi, @madhurgupta10 I would like to work on this issue, can you suggest me the way to get started?

[2021-03-23 16:31] madhurgupta10 commented on #4217
@Krshivam25 Hi, thanks for your interest, this issue is already assigned. @Roshan13046 can you confirm if you are still working on it? If not we can reassign this issue to someone else.

[2021-03-23 17:03] neslihanturan commented on #4217
Thanks for your interest @Krshivam25 , it is already assigned. @Roshan13046 should be working on it. Are you still workin on reviews @Roshan13046 ?

[2021-03-23 23:42] Oleksandr-prog opened #4304 "My"
**Summary:**

Summarize your issue in one sentence (what goes wrong, what did you expect to happen)

_Before creating an issue, please search the existing issues to see if a similar one has already been created. You can search issues by specific labels (e.g. `label:nearby`) or just by typing keywords into the search filter._

**Steps to reproduce:**

How can we reproduce the issue?
What did you ex

[2021-03-24 08:19] neslihanturan commented on #3634
Anyone who is interested with this issue, please make sure you followed previously opened PR  #3771

[2021-03-24 09:00] neslihanturan commented on #3682
@mrudultora sorry for late response, yes you can make a PR if you are still interested :)

[2021-03-24 09:16] #3573 closed

[2021-03-24 09:38] #3376 closed

[2021-03-24 09:48] neslihanturan commented on #4224
If this issue is still valid and someone tries to solve this, please make sure to look at comments on closed PR #4225 to see @mrudultora 's investigation.

[2021-03-25 07:27] jidanni opened #4305 "Allow uploading another version"
Here I am looking at one of my uploads. Not only is there no button to upload a another version, there is no button to go to the Commons website where there IS  button to upload another version. I am using the latest Alpha.
![Screenshot_20210325-152432.jpg](https://user-images.githubusercontent.com/1230959/112434404-844d8280-8d7e-11eb-98f3-ade90eff95c7.jpg)
(You see sometimes we have a better vers

[2021-03-25 07:28] jidanni commented on #4305
There are plenty of buttons and links and everything as we scroll the page down. There's just no button to go to the commons website, or upload a newer version.

[2021-03-25 07:30] jidanni commented on #4305
Oh I see, the share button contains a link to the commons website. Okay then all that is missing is "upload another version."

[2021-03-25 15:41] Prince-kushwaha commented on #4302
@nicolas-raoul @ Madhur Gupta can you tell me more about this idea( https://phabricator.wikimedia.org/T278015) GSoC 2021 - Commons Android app - Custom pictures selector which indicates what pictures have been uploaded already

[2021-03-25 17:51] sivaraam commented on #4299
In your screenshots, I see very minor difference in the "Explore" screens when compared to the media details screen. So, I think there's still room for improvement here. Also, I literally see no difference in the explore screen in my device. I've tested with the app as of d00127947cf996e2a8ff10615e8cae521c5d3adc. Could you explore more on this?

[2021-03-25 18:05] sivaraam commented on #4048
@Pratham2305 Sure, you could work on it. Let us know how you plan to approach this issue.

[2021-03-26 03:34] Prince-kushwaha commented on #4302
@madhurgupta10 can you tell me more about this idea( https://phabricator.wikimedia.org/T278015) GSoC 2021 - Commons Android app - Custom pictures selector which indicates what pictures have been uploaded already

[2021-03-26 07:07] Prince-kushwaha commented on #4253
@misaochan this issue not present in latest master
so i close this issue

[2021-03-26 07:07] #4253 closed

[2021-03-26 08:20] Prince-kushwaha commented on #4299
@sivaraam can i work on this issue

[2021-03-26 09:46] Pratham2305 commented on #4048
I agree with @nicolas-raoul  and @misaochan, So will basically add a "copy to subsequent media" button on the first upload screen that will copy the caption and description to all the other media and I think it would better to hide the button in the next steps if it is pressed and also if, in any step, the user changes any of the captions and description then button should reappear and allow copyi

[2021-03-26 13:30] Prince-kushwaha commented on #4299
@nicolas-raoul @madhurgupta10 can i work on this issue

[2021-03-26 17:19] sivaraam commented on #4048
If we hide the button in some cases and show it in other cases, users might find it difficult to figure out when it is shown and when it is not shown. So, I feel it would be better to just show it all the time in all screens except the last one.

[2021-03-26 18:54] Pratham2305 commented on #4048
@sivaraam Okay!, No problem

[2021-03-27 01:06] nicolas-raoul commented on #4302
@Prince-kushwaha If you have **specific questions** please feel free to ask here. 🙂
In particular, if some information is missing from https://phabricator.wikimedia.org/T278015 then please let us know and we will add it. Cheers!

[2021-03-27 01:07] #4304 closed

[2021-03-27 01:12] nicolas-raoul commented on #4305
Overwriting a file is rather rare on Commons, in general people just upload as a new file.
While this feature indeed exists on the web UI, personally I would not consider it a priority nor even worth the maintenance burden.

Also, in the past we had bugs which were _accidentally_ overwriting files, so since then we keep an eye on overwriting statistics and when we see overwritings raising we know

[2021-03-27 05:44] Prince-kushwaha commented on #3682
@neslihanturan can i work on this issue

[2021-03-27 06:31] HamzaBinMubeen commented on #175
Hi, I hope you all are doing well.

Since a couple of days, I have been trying to start compiling this app so that I can begin bug testing, but I am getting into an error.
The Android Studio is not able to find the directory of SDK manager.
![image](https://user-images.githubusercontent.com/80984531/112712057-b54cc500-8eee-11eb-8f61-7f7c4441cc5e.png)

^^when I try to set the directory manually, it

[2021-03-27 10:30] nicolas-raoul commented on #175
@HamzaBinMubeen Are you able to build and run any other Android app, for instance https://github.com/tema6120/ForgetMeNot ?

[2021-03-27 12:11] nicolas-raoul commented on #4299
@Prince-kushwaha Yes, thanks! Please post before/after screenshots on the PR. Please also post before/after screenshots of activities where big fonts cause layout/usability problems, if any.

[2021-03-27 14:36] nicolas-raoul commented on #4296
I confirm that this is an issue when uploading several pictures.
When that happens I just select "No", because I don't know for what picture the question is.

Maybe we could show a miniature?
Or only ask this question when the user reaches this picture's caption/description step, and let the user see the picture (as seen in @jidanni 's screenshot the picture is almost invisible even if it was the

[2021-03-27 16:18] HamzaBinMubeen commented on #175
I am currently fresh installing the android studio, and will then try again. Will also try running other project and update you

[2021-03-27 21:34] HamzaBinMubeen commented on #175
I have fixed the issue. There was some problem with the installation and/or JDK folder.
Thankyou @nicolas-raoul

[2021-03-27 21:35] HamzaBinMubeen commented on #175
If anyone has this same issue, remove all the files related to android studio (sdk/jdk etc) and restart to completely remove everything,  then,
1. Download JDK from Oracle's official website and install it.
2. Download latest android studio, and install it.
3. When Android studio asks about missing SDK files, let it install it from the dialogue box that appears, otherwise go to  "settings > Appear

[2021-03-28 06:25] Prince-kushwaha commented on #4299
@nicolas-raoul  At api level -28 app should respect device font size but at api level- 25 app should not respect device font size
try different method to solve this using stack overflow but stack overflow solution not work on api level 25

[2021-03-28 08:37] nicolas-raoul commented on #3101
As the app has become more stable and usable, I have started uploading 10 or 20 of pictures at once. It is very convenient for a batch of pictures of the same castle, for instance. So I am starting to wonder whether we really need an artificial limit... Is there a specific reason we need a limit?

Coincidentally, two days ago I tried uploading 45 pictures at once (of a small island's landscapes) a

[2021-03-28 08:59] nicolas-raoul commented on #3363
The information for GSoC 2021 is at https://github.com/commons-app/commons-app-documentation/blob/master/android/Students.md
Thanks! :-)

[2021-03-28 08:59] #3363 closed

[2021-03-28 10:51] KishkinJ10 commented on #3974
can i work on this i am a beginner it will help me . can you guide me?

[2021-03-28 10:58] nicolas-raoul commented on #3974
@KishkinJ10
Sorry, this task was completed already by Rebecca, I had forgotten to close it.
Apologies and please find a good issue for you using [this search link](https://github.com/commons-app/apps-android-commons/issues?utf8=%E2%9C%93&q=is%3Aopen+is%3Aissue+no%3Aassignee+-label%3Aassigned+-label%3Adebated+label%3Abug).
Thanks for your interest!

[2021-03-28 10:58] #3974 closed

[2021-03-28 14:45] Prince-kushwaha opened #4307 "Search widget to choose description language"
**Summary:**

The list of default Description language is large
getting bottered to choice to desire language

![Screenshot_2021-03-28-20-12-20-422_fr free nrw commons](https://user-images.githubusercontent.com/65972015/112756266-0c8f8a00-9002-11eb-83e1-0445aa359525.jpg)

**Would you like to work on the issue?**
YES
Please let us know whether you want to fix the issue by yourself. If not, anyone c

[2021-03-28 15:06] Prince-kushwaha commented on #4307
@nicolas-raoul @madhurgupta10 @misaochan  @ashishkumar468 can i work on this

[2021-03-29 23:18] madhurgupta10 commented on #4217
Since there is no response from @Roshan13046

@Krshivam25 you can work on this issue if you want :)

[2021-03-30 01:08] jidanni commented on #4305
OK, but how about a reasonable way to get to the file's Commons page?

[2021-03-30 04:12] Krshivam25 commented on #4217
Yes, @madhurgupta10 thanks I will definitely do this.

[2021-03-30 04:24] nicolas-raoul commented on #4305
@jidanni Do not the three-dot menu contain a "View file page" button?

[2021-03-30 06:37] sanjay-thiyagarajan opened #4309 "Improvise the design of the Quiz response buttons"
**Summary:**
Redesigned the Yes & No radio buttons

**Steps to reproduce:**
Create a custom drawable layout for the radio buttons to make them look more attractive.

**Device and Android version:**
Emulated device - Pixel 2 XL
API 28

**Commons app version:**

3.0.0-debug-master~d0f895416

**Screen-shots:**

## **Previous**
![Previous version](https://github.com/sanjay-thiyagarajan/projects/raw/ma

[2021-03-30 06:39] sanjay-thiyagarajan commented on #4309
@nicolas-raoul  Can I work on this ?

[2021-03-30 07:46] Pratham2305 commented on #4296
Hey @nicolas-raoul, I would like to work on this.
Yes, I think it would be better if this question asks when the user reaches the particular image, and also we can show a miniature image if the image is not visible properly as mentioned.

[2021-03-30 09:05] #4305 closed

[2021-03-30 11:19] Pratham2305 commented on #175
Hi! Everyone, I am interested in working on this project and I am planning to implement a custom picture selector from scratch, Here the UI mock of what I am thinking to implement

<img src="https://user-images.githubusercontent.com/54663429/112853755-cd793b80-90ca-11eb-9c13-14234e3ff75e.png" width="300">        <img src="https://user-images.githubusercontent.com/54663429/112966954-598d7080-9168-1

[2021-03-30 11:53] nicolas-raoul commented on #4296
@Pratham2305 Thanks it is yours! :-)

[2021-03-30 13:08] nicolas-raoul commented on #175
@Pratham2305
Looks great!
If I understand correctly, `Album 1`/`Album 2`/etc/`Download` are folders directly under `/sdcard/`? Or at any level under /sdcard/`? And `All Photos` shows all pictures from all folders under `/sdcard/` (recursively)?
I assume the "robot head" images will be replaced with actual thumbnails of each picture. How about the "mountains+sun" images, will they be replaced with

[2021-03-30 13:27] nicolas-raoul commented on #4309
Thanks for the idea!
I have no strong opinion about this, both the first and second designs look reasonable to me.
With the second design, how about removing the "Next" button? For instance tapping "Yes" would take the user to the next step directly.
In any case this would be labeled as "improvement", which means it can only be implemented after 5 bugfixes: https://github.com/commons-app/commons-a

[2021-03-30 13:37] sanjay-thiyagarajan commented on #4309
Yeah. Removing the next button will be good. Can I start working on that ?

[2021-03-30 14:23] nicolas-raoul commented on #4309
@sanjay-thiyagarajan Please read https://github.com/commons-app/commons-app-documentation/blob/master/android/Volunteers-welcome!.md#developers ? Especially the part about bugfixes. Cheers!

[2021-03-30 14:42] nicolas-raoul commented on #4297
I am able to reproduce this on latest master. Good find!

[2021-03-30 15:01] nicolas-raoul commented on #4307
Great idea!
By the way, this languages list is unfortunately not ideal.
I suggest making the settings activity reuse the code that shows the languages list when uploading a picture:
![adb](https://user-images.githubusercontent.com/99590/113009202-b6157d80-91b2-11eb-8df2-c1079ce45e1e.png)
To sum up, the task would be:
1. Factorize by making the settings activity use the same code as the upload acti

[2021-03-30 15:05] nicolas-raoul commented on #4290
Thanks for noticing this!
What do you think is a good way to fix it?

[2021-03-30 15:08] nicolas-raoul commented on #4287
I can reproduce on latest master.
Thanks for noticing this, and sorry for the delay!

[2021-03-30 15:13] nicolas-raoul commented on #4286
I just tried on latest master. After logout/login for me it is not empty, but it is showing very old contributions, not my most recent contributions (which should be at the top).

[2021-03-31 05:23] Prince-kushwaha commented on #4307
@nicolas-raoul this idea is great
can you tell me more about the idea and  how i implement this

[2021-03-31 09:32] 4D17Y4 opened #4311 "First item Location bookmarks in expanded state."
**Summary:**

On expanding a location bookmark and switching between pictures and location , the first item in the location bookmark is expanded.

**Steps to reproduce:**

* Bookmark some pictures and some locations .
* Go to location bookmark and expand a bookmark.
* Swipe to the Pictures section ( Should be loaded ) and then swipe back to the locations.

**What did you expect the app to do, and

[2021-03-31 09:35] 4D17Y4 commented on #4311
I think we can collapse the location bookmark altogether on switching to pictures section.
Other way we can retain the state of expanded bookmark and correctly show it.

@neslihanturan , @nicolas-raoul for suggestions.

[2021-03-31 11:19] Ayan-10 commented on #3434
Hi, @sivaraam @nicolas-raoul Is the issue still open? I would like to work on this issue.

[2021-03-31 11:35] Ayan-10 commented on #3433
Hi, @macgills @nicolas-raoul I would like to work on this issue. If It is still open. Can I?

[2021-03-31 12:16] Ayan-10 opened #4312 "ProfileActivity should have a back button"
**Summary:**

There should be a back button on the top of ProfileActivity like in Settings and Review Activity.

**Steps to reproduce:**

* Open app and tap on Hamburger Menu
* Click and open the profile.
* You can see there is no back button
I think ProfileActivity should have a back button like other Activities Like Settings and share

**Device and Android version:**

Device: Pixel 3a
API: 27

*

[2021-03-31 12:54] marcosliberal commented on #4290
The API has parameters for localization (ex.: 'uselang' and 'errorlang'). I've actually tried them and I was able to retrieve these error messages in Portuguese.

The problem in the login case is that we still don't have the user account settings to get the account language but maybe, just for the login, we can use the device language?

[2021-03-31 14:10] Pratham2305 commented on #4296
@nicolas-raoul Can you review the #4308 PR, it would be easier to resolve this issue once that PR gets merged as the changes required for both issues are very much similar. Thanks!

[2021-03-31 15:09] nicolas-raoul commented on #4311
Indeed something is wrong: When I expand the **second** bookmarked location then swipe left+right, now the **first** bookmarked location is expanded.

Since we remember the scrolled position for Pictures, I personally think we should remember the expansion status for Locations.

[2021-04-01 03:49] Prince-kushwaha opened #4313 "Open all external webLink in app not in default browser"
**Summary:**

Like when click on the viewpage or viewcategory the webpage open in default web browser but  not in app
But when click on the signup signup webpage open in app

**SignUp page open  in app **
![Screenshot_2021-04-01-09-14-20-545_fr free nrw commons](https://user-images.githubusercontent.com/65972015/113240789-0122b400-92cb-11eb-9f8b-6b6510ccfcc9.jpg)

**Would you like to work on the i

[2021-04-01 03:53] Prince-kushwaha commented on #4313
@nicolas-raoul can i work on this issue

[2021-04-01 07:28] nicolas-raoul commented on #4290
Wonderful!
Yes, device language is fine, I guess it is the language used to display the UI of the login screen?

[2021-04-01 07:57] sanjay-thiyagarajan commented on #4300
Is someone working on this issue ? If not, I wish to work on it.

[2021-04-01 08:27] neslihanturan commented on #4300
I think we should explicitly say limited connection mode is on. So just color change seems too hidden to me and may cause confusion.

I agree @misaochan about closing/removing the notification while keeping limited connection mode on may cause confusion. However I would be confused if the cross button that I clicked to remove the banner would cause my limited connection goes off too. Because my pu

[2021-04-01 10:16] VishnuSanal commented on #4300
@neslihanturan Shall I implement as you suggested? As a banner with 48dp height & a click to expand to show more text?

[2021-04-01 11:57] nicolas-raoul commented on #4307
@Prince-kushwaha Please first find the methods where each language list is built (one during settings modification, one during upload). Please post the GitHub link to both lines of code (to create links you can browse the repository on GitHub then click a line).

[2021-04-01 13:24] neslihanturan commented on #4300
Lets wait for inputs of others, if they all agree, it is yours as you were the first person who asked.

[2021-04-01 14:11] nicolas-raoul commented on #3434
@arishta Thanks for working on this! Are you planning to address https://github.com/commons-app/apps-android-commons/pull/4023#pullrequestreview-572388916 within a month? If not, would you mind letting Ayan continue your work? Cheers!

[2021-04-01 14:24] #4287 closed

[2021-04-01 14:26] nicolas-raoul commented on #3433
@Ayan-10 No news from gerardolgvr for 10 months, so I guess yes. Thanks!

[2021-04-01 14:58] arishta commented on #3434
Hello, @nicolas-raoul No, we will not be working on this. You can let Ayan continue the work.

[2021-04-01 15:32] neslihanturan commented on #3434
Thanks for letting us know @arishta , you can go for it @Ayan-10 :)

[2021-04-01 16:40] Ayan-10 commented on #3433
Hey @nicolas-raoul , Thanks for assigning me.
I make two buttons in alert dialogue which is "READ MORE" and "OK". If user clicks the "READ MORE" button. It will open a webpage and by clicking "OK" dialogue got cancelled. I am attaching a screenshot here.

<img src="https://user-images.githubusercontent.com/71203077/113322437-504fff80-9332-11eb-8128-a0e8612b195f.png" width="250">

I also thought ab

[2021-04-01 19:15] Ayan-10 commented on #3434
Hey @neslihanturan , Thank you for assigning me.
I was thinking that In fragment_achievements.xml under the statistics section if we wrap each element with Constraint layout instead of Relative Layout and constrain it as needed we can prevent this issue.
I am attaching the original and updated screenshot of the app. Please have a look.

#### Original
<img src="https://user-images.githubusercontent

[2021-04-02 05:51] nicolas-raoul commented on #3434
@Ayan-10 For the updated version, could you please post a screenshot on a tiny screen? You can use the Android emulator to simulate any screen size. Thanks!

[2021-04-02 05:54] nicolas-raoul commented on #3433
"READ MORE"/"OK" looks good :-) You can go forward with a pull request.

[2021-04-02 06:12] #4048 closed

[2021-04-02 06:30] nicolas-raoul commented on #4312
It would be a good enhancement indeed.
Also, I think the title should display the username.
Actually, I think there used to be even a three-dots menu allowing people to share their achievements, not sure where it went.

[2021-04-02 06:33] nicolas-raoul commented on #4313
Maybe it was intended? When I open my browser it is nice to see my categories/etc tabs, but seeing the signup form again might not make as much sense?

[2021-04-02 10:55] Prince-kushwaha commented on #4307
@nicolas-raoul  setting activity use below code to build language list
it use Java Build class -Locale  to get language list

[code]

And Upload activity use  below code to build langauage list
language list is store language.xml
[code]
which method is both setting activity and upload activity

[2021-04-02 13:51] Ayan-10 commented on #3434
@nicolas-raoul , I test this issue in Nexus One 3.7' 480x800 API 26. This solution is not working help popup is getting overlapped with the count Textview. After that, I also tried in every possible way to solve this issue by organising fragment_ achievements.xml layout but this issue can't be solved.
I think now either we have to reduce the size of each TextView and ImageViews or we have to chang

[2021-04-02 14:01] Ayan-10 commented on #4312
That would be a great idea @nicolas-raoul , and I would love to work on this. I think we should move forward one by one and first, we should add a back button because It is looking a little awkward compare to other Activities then we can move forward with displaying the username and fixing the share menu.

[2021-04-03 08:55] #3433 closed

[2021-04-03 09:01] #4311 closed

[2021-04-03 14:32] nicolas-raoul commented on #4312
@Ayan-10
Thanks for your interest! Howevere, have you read https://github.com/commons-app/commons-app-documentation/blob/master/android/Volunteers-welcome!.md#developers especially the part about issues labeled "enhancement"?
I suggest focusing on bugs at first :-)
Cheers!

[2021-04-03 14:35] nicolas-raoul commented on #3434
@Ayan-10 Thanks for testing! Unfortunately I am not sure what would work here... I still hope it is possible to achieve without changing the UI drastically, though.

[2021-04-03 14:42] nicolas-raoul commented on #4307
@Prince-kushwaha Thanks a lot!

If Settings is using `getLanguagesSupportedByDevice`, it is clearly a bug. That list depends on the device, so it is not the language list we want (which is: the languages supported by Commons for captions and descriptions).

Would you mind creating a new issue for this bug? Exceptionally you can take it too if you want. Thanks!

[2021-04-03 15:31] Ayan-10 commented on #3434
Ok @nicolas-raoul, So I have got an idea. The in the layout the help icon is a little upper of the layout. So if we put the count textView a little lower and warp them with constrainlayout, For smaller screen size devices the count textView will come under the help icon instead of overlapping it. For a normal screen device, it will look as it is now ( not actually as it is. The count icon will com

[2021-04-03 15:52] 4D17Y4 opened #4318 "Hitbox for info in achievement is too small"
**Summary:**

While testing a PR I faced difficulty toggling the info on the fields in the achievement tab.

**Steps to reproduce:**

Go to the profile section and try toggling the info for any field.

**Device and Android version:**

Nokia 6.1+ android 10 stock

**Commons app version:**

3.0.0-debug master.

**Would you like to work on the issue?**

YES.

[2021-04-03 15:54] 4D17Y4 commented on #4318
Instead of having a small icon at the top right of the info field we can have the whole field toggle the info dialog. ie tapping on the fields would open the info dialog instead of tapping on the icon.

We can also increase the size of the icon if necessary.

@nicolas-raoul, @misaochan for suggestions.

[2021-04-03 16:21] 4D17Y4 commented on #3900
I can reproduce this on the latest master.
When the progress bar is active (still loading) numbers are shown in their respective fields, but as soon as the loading is finished a dialog "You haven't made any contributions" is shown, all the fields are set to zero and level reset to 1.

<img src=https://user-images.githubusercontent.com/54016427/113484433-df415100-94c5-11eb-9ba2-ad0992775f88.jpeg he

[2021-04-03 16:31] Prince-kushwaha commented on #4307
@nicolas-raoul what i have to add search widget for both setting and  upload activity

[2021-04-03 17:10] sotiriszogos commented on #3651
Is this issue still open?

[2021-04-04 05:27] Ayan-10 opened #4320 "Turn on location dialog should turn on GPS directly by clicking YES"
**Summary:**

If GPS is not turned on and user click YES in the Turn on location dialog. It should turn on GPS directly instead of going to Settings like Google Maps.

**Steps to reproduce:**
* Turn off GPS in your device.
* Open the app and go to Nearby
* Click Recenter FAB
* Click YES in Turn on location dialog

**What did you expect the app to do, and what did you see instead?**
The app should

[2021-04-04 06:30] Prince-kushwaha opened #4321 "Setting Language list is not an language list which is supported by Commons for caption and description"
**Summary:**

Settings langauge list is using `getLanguagesSupportedByDevice`, it is clearly a bug. That list depends on the device, so it is not the language list we want (which is: the languages supported by Commons for captions and descriptions).

Upload language list which is languages supported by commons for caption and description

_Originally posted by @nicolas-raoul in https://github.com/

[2021-04-04 06:32] Prince-kushwaha commented on #4321
@nicolas-raoul can i  work on this

[2021-04-04 07:06] nicolas-raoul commented on #4320
Indeed Google Maps turns the "Location" setting on directly, rather than directing the user to the settings screen.
Thanks a lot @Ayan-10 for finding this, but again this would be an enhancement rather than a bug (the feature currently works but could be made more convenient).

[2021-04-04 07:09] nicolas-raoul commented on #3651
@sotiriszogos Yes! The first step would be to try and reproduce it, possibly by using a [sandbox item](https://www.wikidata.org/wiki/Q4115189).

[2021-04-04 09:12] nicolas-raoul commented on #3434
I am not a Android UI expert unfortunately...
Anyone able to check the strategy described in the post above? @madhurgupta10 maybe?

[2021-04-04 09:17] madhurgupta10 commented on #3434
IMO using constraint layout and setting 0dp for the TextView should work just fine for all devices.

[2021-04-04 10:05] Ayan-10 commented on #3434
@madhurgupta10 I tried that idea before but I think It didn't work for all devices. For small devices, the TextViews were getting overlapped. As you can see in early conversation I tested on **Nexus One 3.7' 480x800 API 26**. TextViews are getting overlapped as the text is large in size.

[2021-04-04 10:27] Ayan-10 commented on #3434
@madhurgupta10 @nicolas-raoul Till now I can think of two possible ideas. I am mentioning it below.

#### 1. Placing the count TextView under the help icon and reducing the size of the right margin of count TextView.
<table>
<tr>
<td> Device Size = Normal || Device = Pixel 3a</td>
<td> Device Size = Small || Device = Nexus One</td>
</tr>
<tr>
<td><img src="https://user-images.githubusercontent.com

[2021-04-04 10:32] Ayan-10 commented on #4320
Yeah right, Ok no problem. @nicolas-raoul Actually recently I made an App where I implemented a similar idea. So I was thinking If you can assign me to this issue or not. But if it's a protocol then it's ok.

[2021-04-04 10:35] nicolas-raoul commented on #4318
You mean that tapping on "Quality images" would open the pop-up that explains what a quality image is, right?
Good idea I think.

Getting rid of the "?" might even solve #3434. As a consequence I think it is fair to let @Ayan-10 (assigned to that issue) work on this if they want, though. What do you think @4D17Y4?

[2021-04-04 10:36] madhurgupta10 commented on #3434
Could you share the code snippet?

[2021-04-04 10:44] nicolas-raoul commented on #3900
This issue is blocked by this server-side problem: https://github.com/commons-app/commonsmisc/issues/22

@4D17Y4 This requires getting access to the server side, which takes a lot of time and administrative wikimedia "paperwork", and almost no programming. If you are interested and motivated you can try, though.

[2021-04-04 10:45] nicolas-raoul commented on #4321
Yes thanks! :-)

[2021-04-04 10:52] Ayan-10 commented on #3434
When I was testing, It did not work out so I delete the branch. I will redo it and share the code snippet here ASAP.

[2021-04-04 11:15] 4D17Y4 commented on #4318
Yes, exactly.

Sure, as @Ayan-10  is working on it I think it'll be fair to let him solve this.
@Ayan-10 keep us updated on ur progress.

[2021-04-04 12:33] 4D17Y4 commented on #4278
I can reproduce this on master,
While uploading the categories are added without any issue but adding categories to the images does not work as intended.
Additionally, on add categories dialog, the back button is not configured properly and triggers the back of media detail.

I would like to work on this one if no one is working on it.

[2021-04-04 12:36] Ayan-10 commented on #3434
Thank you @madhurgupta10 for suggesting.

After the suggestion while redoing it. I realized It can be actually possible to do.

#### I think the issue was solved. Here I am attaching the images of normal and small device screen.
<table>
<tr>
<td> Device Size = Normal || Device = Pixel 3a</td>
<td> Device Size = Small || Device = Nexus One</td>
</tr>
<tr>
<td><img src="https://user-images.githubuse

[2021-04-04 12:41] nicolas-raoul commented on #4278
@Prince-kushwaha Since you are working on another issue, I take the liberty to reassign this one, thank you for your understanding :-)

[2021-04-04 12:59] Ayan-10 commented on #4318
Thanks @4D17Y4 @nicolas-raoul , Although I think I solved #3434 , I love to work on this also.
Sure, I will keep you updated on my progress.

[2021-04-04 15:15] Ayan-10 commented on #4320
@nicolas-raoul can I consider it for GSOC?

[2021-04-04 15:17] Ayan-10 commented on #4312
@nicolas-raoul can I consider it for GSOC? Actually, I am writing the proposal. So I am just asking.

[2021-04-04 19:41] Ayan-10 commented on #4318
Should I keep the help icon as it is and make the TextView clickable or Should I remove the help icon? @nicolas-raoul

[2021-04-04 20:30] vinayak0505 commented on #175
Hi! Everyone, I am interested in working on this project and I have extended the ImagePicker Library so that
we are able to this
![WhatsApp Image 2021-04-04 at 11 54 15 PM](https://user-images.githubusercontent.com/56196007/113520703-9fa46300-95b2-11eb-95de-157503bff0a2.jpeg)
with only

[2021-04-04 22:35] kozuch opened #4326 "Screwed batch upload"
Upload to this category

https://commons.wikimedia.org/wiki/Category:Josefovsk%C3%A9_louky

was largely screwed. 42 images selected, about 60 uploaded - many multiple times.

Filename pattern was
Ptačí park Josefovské louky (Josefov Meadows) ##.jpg

All images kept failing uploading so I had to restart them manually which probably caused the duplicates.

First image
https://commons.wikimedia.org/w

[2021-04-05 04:21] Bbiswabasu commented on #4312
@nicolas-raoul if no one is working on this, can I start working?

[2021-04-05 05:10] Prince-kushwaha commented on #4307
@nicolas-raoul what i have to add search widget for language list of both setting and upload activity

[2021-04-05 05:19] Ayan-10 opened #4327 "On Nearby Fragment Place type SearchView is not visible properly in lower API devices"
**Summary:**

On Nearby Fragment Place type SearchView is visible properly in higher API devices like API 27 but Place type SearchView is not visible properly in lower API devices like API 23.

**Steps to reproduce:**

1. Run the app in any lower API device like API 23.
2. Go to Nearby
3. Click Place type search icon

What did you expect the app to do, and what did you see instead?

Search View sh

[2021-04-05 05:39] Prince-kushwaha commented on #175
@nicolas-raoul this is great ideas

[2021-04-05 07:18] nicolas-raoul commented on #175
@vinayak0505 Interesting! Feel free to make a proposal based on this, I have a few questions though:
- `setDisabledImages` [does not seem to exist](https://github.com/nguyenhoanglam/ImagePicker/search?q=setDisabledImages) in that library's repository. Are you suggesting to modify the library in order to add that method? Please note that the API is not fast enough to call it on all images before sh

[2021-04-05 07:41] vinayak0505 commented on #175
Yes , I have already modified that Library and added 2 methods setdisabled
method a disabled text method in which you can pass test to display as a
toast when user clicks on it

On Mon, 5 Apr, 2021, 12:48 pm Nicolas Raoul, ***@***.***>
wrote:

[2021-04-05 07:52] neslihanturan commented on #4312
Hi @Ayan-10 , I am afraid that this task can be too easy for GSoC. Do you think it would be suitable?

@Bbiswabasu thanks for your interest, @Ayan-10 seemed to be interested with this issue. I encourage you to check other issues:)

[2021-04-05 08:01] nicolas-raoul commented on #4312
@Ayan-10 I agree with Neslihan.

@Bbiswabasu Thanks for your interest! But please carefully read https://github.com/commons-app/apps-android-commons/issues/4312#issuecomment-812873414 :-) Cheers!

[2021-04-05 08:03] #4296 closed

[2021-04-05 08:03] Ayan-10 commented on #4312
@neslihanturan I know this task can be too easy for GSoC. That's why I am asking for everyone's opinion. Although I am not only adding a back button but also as you can see in the earlier discussion I want to display username in the title box and also add a share button that allow people to share their achievements. Thank you for the opinion.

[2021-04-05 08:04] nicolas-raoul commented on #4320
@Ayan-10 Thanks for asking! I also think this one would be too simple, actually.

[2021-04-05 08:10] Ayan-10 commented on #4320
@nicolas-raoul ok I can understand. Actually, this is my first time applying for GSOC.

[2021-04-05 08:14] neslihanturan commented on #4318
Hey @Ayan-10 it would be amazing if you could add UI screen shoots and explain what you propose :)

[2021-04-05 08:38] neslihanturan commented on #4312
Even if those are nice suggestions, I still think that might be a weak proposal idea. You can take a look at gsoc labelled issues in our repository to inspire from previous years.

[2021-04-05 08:39] nicolas-raoul commented on #4327
If I understand correctly, the problem is that when typing something in the "Place type" text field, it is not correctly visible. Please correct me if my understanding is incorrect.

Thanks for spotting this! And for volunteering to work on it :-)

[2021-04-05 08:56] Ayan-10 commented on #4312
@neslihanturan @nicolas-raoul I was going through the idealist mentioned here [Task ideas](https://github.com/commons-app/commons-app-documentation/blob/master/android/Students.md#task-ideas). I think I can add some features from Task Ideas to the app.

and

So what do you think now? Should I consider these Ideas for GSoC?

[2021-04-05 09:02] Ayan-10 commented on #4327
Yes @nicolas-raoul , You got it. In lower API devices it is not properly visible. For higher APIs, It is visible properly.

[2021-04-05 09:09] nicolas-raoul commented on #4312
These 3 tasks would probably take less than a week (two days of development and three days of testing/unit tests/etc max).
GSoC 2021 duration is 10 weeks (a bit shorter than past years when it was 3 months).

[2021-04-05 09:17] nicolas-raoul commented on #4318
My opinion is that if the labels are visibly tap-able (in other words: user can see that clicking the label will offer some kind of help) then the "?" circles can be removed. But Neslihan is more knowledgeable about UI, so a screenshot or mockup would be great.

[2021-04-05 10:28] Ayan-10 commented on #4318
@nicolas-raoul That's right, but I think If I remove the help icon user can't able to understand that the label is clickable and the label can show a popup.
@neslihanturan I am attaching the screenshots that can explain my thought.

**1. Removing the help icon**: User can click anywhere on the label to see the help popup.
<table>
  <tr>
    <td> Removing the icon ( Look at the "Images via Nearby P

[2021-04-05 10:30] Ayan-10 commented on #4312
Thank you so much @nicolas-raoul , for helping. Should I create issues of these task ideas or just write a proposal with these ideas no need to create an issue for that.

[2021-04-05 11:33] nicolas-raoul commented on #4318
@Ayan-10 Thanks for this well-illustrated explanation, you convinced me that your option 2 is the best.

[2021-04-05 11:36] nicolas-raoul commented on #4312
@Ayan-10 No need to create issues, just explain in your proposal. Thanks! :-)

[2021-04-05 12:26] Ayan-10 commented on #4318
Thank you so much @nicolas-raoul for your appreciation, Should I make a PR now?

[2021-04-05 13:02] nicolas-raoul commented on #4318
Let's wait a bit for Neslihan's insight.

On Mon, 5 Apr 2021, 21:26 Ayan Sarkar, ***@***.***> wrote:

[2021-04-05 14:55] 4D17Y4 opened #4329 "Back button in edit categories triggers back of media details."
**Summary:**

On pressing the back button in the edit categories dialog back button of media details is triggered.
https://github.com/commons-app/apps-android-commons/issues/4278#issuecomment-813025470

**Steps to reproduce:**

* Open Media details.
* Open edit categories dialog.
* Press back button.

**Device and Android version:**

Nokia 6.1+ API level 29 stock version.

**Commons app version:**

[2021-04-05 16:34] misaochan commented on #3101
@nicolas-raoul When we initially proposed multiple uploads, there were some concerns in the Commons community about the potential for inexperienced users to use this feature to flood Commons with nonsensical uploads, e.g. uploading their entire phone gallery. The limit was proposed as a compromise between the needs of legitimate users, and reassuring the community that they wouldn't get inundated

[2021-04-05 17:25] Prince-kushwaha opened #4330 "In setting Default description language option is needed to get disable when user is not login"
**Summary:**

when user is not login in app then there is not any need of  Default description language option
so disable the Default description language option in setting  becouse Default description language option is use to set
language for description and caption in Upload

when user is login in app then Default description language option enable in setting

**Device and Android version:**
An

[2021-04-05 17:42] misaochan commented on #4300
I agree with this. :)

Let us go with that for now. We can revisit the discussion later if users still feel that a removal option is needed after these changes are made.

[2021-04-05 18:44] misaochan commented on #3900
Ah man, we really do need to follow up on that. AFAIK even if we make the changes to the repo, we still need write access to the tool at https://tools.wmflabs.org/urbanecmbot/commonsmisc/ to implement this? @urbanecm could you help us with this please?

[2021-04-05 19:23] VishnuSanal commented on #4300
I have a concern. We can't show the title and description within 48dp. I think we can remove the description, else it would be really tiny & unreadable!

Attaching a sample of how this will look :)

![IMG_20210406_005057](https://user-images.githubusercontent.com/50027064/113616184-692e1d00-9672-11eb-8eb5-6f23a6ce81b0.jpg)

[2021-04-05 19:40] vinayak0505 commented on #175
please check pull request #4331
also if anyone wants to use above feature feel free to use https://github.com/vinayak0505/ImagePicker
mentor is there any specific reason why we are not using mvvm?? if no then i think its better if we convert the code to mvvm
and also please convert the code to kotlin.
Also can i apply for gsoc now and make mother changes after that so that i wont miss the date

[2021-04-06 08:38] nicolas-raoul commented on #3101
Interesting!
This could be a candidate for gamification (score 1: must upload 1 by 1, score 2: can upload up to 2 pictures at the same time, score 18: can upload up to 18 pictures at the same time, etc) in the spirit of https://github.com/commons-app/apps-android-commons/issues/2852

[2021-04-06 08:47] #4299 closed

[2021-04-06 10:53] sotiriszogos commented on #3651
@nicolas-raoul Thank you, I will take a look by the end of the week to reproduce it and work on it if noone is currently working on this issue.

[2021-04-06 11:25] nicolas-raoul commented on #3651
@shabar-shab Are you still working on this? Please let us know about anything you have found out :-)

[2021-04-06 11:43] Prince-kushwaha commented on #4330
@nicolas-raoul can i work on this issue

[2021-04-06 12:41] #3434 closed

[2021-04-06 12:47] 4D17Y4 commented on #1815
Can I work on this one?
I can reproduce this on the latest master.

[2021-04-06 13:37] Prince-kushwaha commented on #175
@Pratham2305 can you help me how you create this picture https://user-images.githubusercontent.com/54663429/112966954-598d7080-9168-11eb-8a6f-06f93ed31bcc.png please help me

[2021-04-06 13:56] #4278 closed

[2021-04-06 14:19] Pratham2305 commented on #175
@Prince-kushwaha Sure, I have created it on the android studio itself, basically created a thumbnail layout, and used a simple recyclerview to populate the screen. I think you can create it in the same way and made changes whatever you like :)

[2021-04-06 14:34] nicolas-raoul commented on #1815
@4D17Y4 Yes thanks :-)

[2021-04-06 15:15] nicolas-raoul commented on #175
@vinayak0505

Understood, don't worry, it is probably a CI temporary failure.

This project has existed for a long time, so some parts might not be using the best practice. Anyone with 5 merged bugfixes or more is welcome to send pull requests for this! :-)

Anyone with 5 merged bugfixes or more is welcome to concert classes from Java to Kotlin.

You must get a bugfix merged before the application

[2021-04-06 15:27] vinayak0505 commented on #4300
wouldn't hiding it while scrolling down would be an better option, them it fill alerting not alarming on the head

[2021-04-06 17:01] vinayak0505 commented on #3879
yes, this problem is still there and will stay there as viewpager is used and what is happening here is you if click on first item then it should be okay and no flickering will occur but when going to 2nd and beyond there is also a scrolling part taking place, what we can do here is adding a smooth scrolling so it looks nice plus user will able to get to know that they can scroll left and right.

[2021-04-06 18:04] Prince-kushwaha commented on #4313
@nicolas-raoul in latest android api all external weblink of app open in app not in default browser
this feature is also  in my android phone Redmi y3 api:29

[2021-04-06 18:07] vinayak0505 commented on #3879
can i work on this issue

[2021-04-06 19:37] vinayak0505 commented on #3879
please check Fixes #3879 #4334
solved this issue also added a little animation when opening detail screen and going back (because it looks like that was the developer trying to do while adding delay) and also minor optimization to code repetition and if else statement.
let me know if you want me to remove the animation

[2021-04-06 19:52] Ayan-10 opened #4335 "Exists and Needs Photo does not response if Location is not available."
**Summary:**

If the location is not available and user clicks to Exists and Needs Photo chip, it does not respond. In that state, if user clicks those chip it should show a Toast saying " Location not available ".

**Steps to reproduce:**

- Goto Nearby Fragment without turned on GPS ( If location is not available, You can see a Toast of " Nearby might not work properly, Location not available ")

[2021-04-07 00:27] nicolas-raoul commented on #4300
Making the banner smaller when scrolling (like some websites do) sounds like a good idea indeed :-)

[2021-04-07 01:04] nicolas-raoul commented on #3879
@vinayak0505 Would you mind removing animations from this screen? Thanks! In particular I observe that in the latest master branch, when opening the app the contributions appear from the right. While animation can be good sometimes, making the main content appear from the side when starting the app is not good: the content should appear immediately. I think we should remove animations from this sc

[2021-04-07 05:15] sanjay-thiyagarajan commented on #4283
@nicolas-raoul  I would like to work on this issue. Can you assign this to me ?

[2021-04-07 05:39] vinayak0505 commented on #3879
okay so the real problem is viewpager get the complete data , not just for the single screen , so when you click on an item it takes time to load therefore the app crashes with error code like expected pager adapter count 60 found 70 pager id(its weird why there always a gap of 10 and also i am not able to reproduce this error as its not crashing on my device), so someone came up with the solution

[2021-04-07 10:15] Ayan-10 commented on #4318
Hey @neslihanturan , Can you kindly give your insight on this so that I can proceed further.

[2021-04-07 14:29] nicolas-raoul commented on #4283
@sanjay-thiyagarajan Vinayak is actually focusing on this area right now, so better avoid double work. Sorry and hopefully you can find another issue to work on, thanks a lot for your interest :-)

[2021-04-07 14:33] #4321 closed

[2021-04-07 14:36] nicolas-raoul commented on #4330
I am not sure this is worth the added maintenance complexity...

[2021-04-07 14:41] Prince-kushwaha commented on #175
@nicolas-raoul  i want to make gsoc proporsal on this idea below is my implemention Strategy tell me how  is my implemention strategory
![mainpicture](https://user-images.githubusercontent.com/65972015/113883348-b4177400-97db-11eb-9962-68950ca8a3fd.PNG)

[2021-04-07 14:45] gabrielchl commented on #175
This idea appears to be largely identical to the previous comment at https://github.com/commons-app/apps-android-commons/issues/175#issuecomment-810139238

[2021-04-07 14:48] Prince-kushwaha commented on #175
@gabrielchl i use their picture

[2021-04-07 14:50] Prince-kushwaha commented on #175
@gabrielchl i only use their photos i change the photos

[2021-04-07 17:17] 4D17Y4 commented on #1815
Hey @nicolas-raoul ,
I've investigated on this issue.
To start with, as we know panoramic images have more length ( horizontal dimension ) as compared to the normal images.
And  to fetch the image from commons media API we have used.
https://github.com/commons-app/apps-android-commons/blob/0d23e65e0fed3272c53a18106215b7ddb9da7cae/app/src/main/java/fr/free/nrw/commons/media/MediaInterface.java#L14-

[2021-04-08 02:29] nicolas-raoul commented on #1815
Inspired by your strategy 2, how about the algorithm below?

1. Run the `iiurlwidth=640` query.
2. If the height of the returned image is below 200 pixels, then run another request with ``iiurlheight=200` (or with a calculated `iiurlwidth` if the API has no `iiurlheight` parameter).

(The value of 200 pixels might need some tuning after testing on different screen sizes etc)

[2021-04-08 06:24] VishnuSanal commented on #4300
Can this be done? `CollapsibleActionBar` would need considerable UI rework & it would collapse the main `ActionBar` too. I tried adding a `ScrollListener` too, but that requires a higher API level :(

I'm adding a draft PR with these changes if anyone needs to take a look :)

[2021-04-08 06:33] nicolas-raoul commented on #4300
@VishnuSanal It was just one idea, if it would bring too much complexity then the idea can be discarded :-)

[2021-04-08 06:38] nicolas-raoul commented on #175
@Prince-kushwaha It looks good! Please thank Pratham for the mockups ;-)

@gabrielchl That is true. Actually, this year's project is not so open-ended, it can be expected that all candidates' proposal will be rather similar, with probably only small variations. As detailed at https://github.com/commons-app/commons-app-documentation/blob/master/android/Students.md#how-we-choose-the-student, we choo

[2021-04-08 09:07] vinayak0505 commented on #4300
nice idea but you will not be able to that because of the image size , there is one same image file with ending 32 instead , but you will have to change its tint. which will be restricted to api level 32 so again its better string to linear layout , or you can simply import app and then change its tint. just a suggestion.

[2021-04-08 11:24] neslihanturan commented on #175
The mockups and implementation ideas under this issue looks great, thanks to everyone who collaborate here, I look forward to see proposals. Even if it is expected to have similar proposals, we prefer to see your own problem solving skills and perspective too. Also, the thing that @nicolas-raoul said is very true, we choose student mostly based on their contributions.

[2021-04-08 12:10] neslihanturan commented on #4330
I agree it is not a vital improvement, however I see a related code in SettingsFragment
[code]
Description setting can simply be added between them. So since there is already related code, I think we can have this.

[2021-04-08 12:22] neslihanturan commented on #4318
Thanks for the mockups @Ayan-10 , I agree we should go with option 2. Otherwise it is not clear that labels are clickable and there is a way to get help.

[2021-04-08 12:57] #4327 closed

[2021-04-08 12:59] #3790 closed

[2021-04-08 13:07] Prince-kushwaha commented on #4307
@nicolas-raoul to implement Search view for language list in Upload activity i have to remove AppCompatSpinner and add ListView with searchview in  place of AppCompatSpinner

It is  not possible to add searchWidget for  language list in setting activity becouse we not add searchview in setting activity

So can i continue work to implement search view for language list in upload activity ?

[2021-04-08 13:28] madhurgupta10 commented on #4318
Hi, I wanted to link https://github.com/commons-app/apps-android-commons/issues/3441 here.

[2021-04-08 13:35] madhurgupta10 commented on #3007
@nicolas-raoul Looks like this one solved in https://github.com/commons-app/apps-android-commons/pull/4323

[2021-04-08 15:38] Ayan-10 commented on #4318
Hey, @madhurgupta10 I think I did the same thing that @maskaravivek said in #3441 . Please tell me should I have to change something or is it ok?

[2021-04-08 15:55] Prince-kushwaha commented on #3949
@nicolas-raoul  can i work on this

[2021-04-08 15:59] #4318 closed

[2021-04-08 16:37] #4330 closed

[2021-04-08 16:58] Prince-kushwaha commented on #4307
@neslihanturan https://github.com/commons-app/apps-android-commons/issues/4307#issuecomment-815809364
So can i continue work to implement search view for language list in upload activity ?

[2021-04-08 17:51] #4297 closed

[2021-04-08 20:07] Ayan-10 opened #4343 "ReviewActivity is barely visible in Landscape Mode"
**Summary:**

Elements of ReviewActivity is not visible to user in landscape. We should make a landscape layout for it.

**Steps to reproduce:**

1.  Go to ReviewActivity
2.  Turn on landscape Mode

**What did you expect the app to do, and what did you see instead?**

Image in ReviewActivity is not visible in Landscape Mode even the text also is not visible. ReviewActivity should visible properly

[2021-04-09 01:01] nicolas-raoul commented on #4307
@Prince-kushwaha Yes thanks!

[2021-04-09 01:02] nicolas-raoul commented on #3949
@Prince-kushwaha Yes thanks :-)

[2021-04-09 01:06] #3007 closed

[2021-04-09 08:51] Prince-kushwaha commented on #3949
@nicolas-raoul UI to show all show captions and descriptions
Tell me if improvement need
![Screenshot_2021-04-09-14-09-03-378_com example test](https://user-images.githubusercontent.com/65972015/114153963-864a4080-993d-11eb-97f7-5924d1d50827.jpg)

[2021-04-09 11:49] Prince-kushwaha commented on #3949
@nicolas-raoul this another UI for showing all language Caption and Description
![Screenshot_2021-04-09-17-12-35-343_com example test](https://user-images.githubusercontent.com/65972015/114175071-311b2880-9957-11eb-9f44-477162caf78b.jpg)

i thing is more better than previous UI i make it more better

Tell me if improvement need

[2021-04-09 13:49] marcosliberal commented on #4290
Hi again,

I started looking at the code and thinking about how to solve this issue, and I ended up having to make changes to the wikimedia data client library. This is a library that is available to be used by other apps right? This means that I should be concerned not to make changes to the public API that can break other apps using this library. How are changes to this library being managed?

T

[2021-04-09 14:17] nicolas-raoul opened #4344 "Duplicate uploads when uploading 10 pictures"
Using the latest master (commit ecbff7e3b8c84b5d40f33bdae3369da090ef0e48 plus non-upload related changes) I uploaded these 10 selected pictures:
![adb](https://user-images.githubusercontent.com/99590/114191736-b5859f80-9987-11eb-889b-9b1d7f83bb7f.png)
Problem: Many of the pictures were uploaded twice or thrice (as seen at https://commons.wikimedia.org/w/index.php?title=Special:ListFiles/Syced&ilsh

[2021-04-09 16:20] ashishkumar468 commented on #4344
Hi @nicolas-raoul , thanks for creating the issue and sharing the steps. I will be looking into it.

[2021-04-10 12:51] 4D17Y4 commented on #1815
Ive investigated further -

The API does have the parameter `iiurlheight` to get the image of specified height, but we cant query both at the same time, it considers only the first one.

Also, we haven't saved the width or height of the image anywhere, the image info does have the attribute `width` and `height` but they are never initialized/used (always 0).

To change the query parameter dependin

[2021-04-10 13:26] nicolas-raoul commented on #1815
Yes, I think it is worth it. Thanks!

[2021-04-10 13:29] nicolas-raoul commented on #4290
The data client library which is present in the app is not used by other apps, so don't worry too much about modifying it :-)

B sounds good to me!

[2021-04-10 13:33] nicolas-raoul commented on #3949
I would imagine it like this:
[code]

After tapping on `more languages`:
[code]

[2021-04-10 13:46] nicolas-raoul opened #4345 "Blue square appears at end of description of image uploaded via Nearby"
1. With latest master, upload a picture using Nearby
2. Open the picture in your contributions
3. Notice the blue square (shown by the red arrow):

![adb](https://user-images.githubusercontent.com/99590/114271686-96514580-9a4d-11eb-9dc3-d079c67f7b4e.png)

Actually [the image as seen on the website](https://commons.wikimedia.org/wiki/File:Masuma_island.jpg) does not even seem to have a description:

[2021-04-10 14:01] Prince-kushwaha commented on #3949
@nicolas-raoul i implemented UI this to show all descriptions and caption in all  entered languages
I need the help to get all descriptions in  all entered language of image(media) using api call
I use the` media.getDescriptions() ` to get all entered lanuage but this function not return any description
and media.getFallbackDescription() given one description in local language
help me

![Screensho

[2021-04-10 14:30] NotSoImportant opened #4347 "Remove leading and trailing spaces in title"
When adding new images through the app it happens that the caption ends with a space. This is then used for title/filename and produces ugly links. Please run a `.trim()` before uploading.

[2021-04-10 14:54] NotSoImportant commented on #1883
Is this a stale issue?

[2021-04-10 21:20] NotSoImportant opened #4348 "Cancel upload not working"
Not sure what internally happens, but let me describe what I saw:
1. Uploading an image via the share menu from my galery. "File not found error"
2. Trying to upload the same image via the apps "+" button. See the first uploaded image now. Second attempt only contains part of the description. Clicking the "||" pause button to cancel. Shows message "resume". Upload seems to continue. And afterwards

[2021-04-10 22:28] NotSoImportant opened #4349 "Add image dialog is veeeery slow"
Whole "add new contribution" dialog is veeeery slow - depending on the file size.

Probably the same as #2402, but
- much much slower than in the attached video there
- especially slow when typing, marking text, copying

... leading soon to typos and definitively the most annoying thing when using the app.

It is **dependent on the file size** of the image you are trying to upload. For small image

[2021-04-10 22:54] NotSoImportant commented on #1687
@nicolas-raoul as far as I see there is a map icon shown now when an image has coordinates.

[2021-04-10 22:54] NotSoImportant commented on #1848
As there is a separate wikidata entry for coordinates now, it should be offered to add and edit it.
IMHO same as #8.

[2021-04-10 23:44] NotSoImportant opened #4350 "Feature: Add possibility to directly copy the filename / category"
Copy as `File:FileName.jpg` (in the ... menu) or `Category:MyCategory` (next to the each category or in the ... menu with another selector)

This is in order to simplify the flow with Openstreetmap/OsmAnd (and maybe others).
https://github.com/osmandapp/OsmAnd/issues/9970#issuecomment-817216574

If you feel there is a better way / flow, please feel free to suggest it.

[2021-04-11 01:40] kurtkaiser commented on #4345
Could I be assigned this issue? I experienced the same bug today. I use the application in dark mode and it is also present there.

[2021-04-11 03:22] nicolas-raoul commented on #4345
@kurtkaiser It is yours, thanks! 🙂

[2021-04-11 03:26] nicolas-raoul commented on #1687
@NotSoImportant You are right, thanks for noticing! 🙂

[2021-04-11 03:26] #1687 closed

[2021-04-11 10:08] Prince-kushwaha opened #4351 "Need Help : how get all entered descriptions of any media (image,video) in MediaDetailFragment"
**Summary:**
I want to get all entered descriptions of image in MediaDetailFragment i try how much

I use the `media.getDescriptions()` to get all entered lanuages descriptions but this function not return any description its size is zero and `media.fallbackDescription()` given one description

I need help to solve this :https://github.com/commons-app/apps-android-commons/issues/3949
Image link ht

[2021-04-11 10:13] Prince-kushwaha commented on #4351
@nicolas-raoul @madhurgupta10 @neslihanturan @misaochan help me

[2021-04-11 17:11] sivaraam commented on #3900
I'm curious as there's been a long period of time since we've heard from @urbanecm related to this issue. Should we think about forking the tool and hosting it elsewhere ? Or should we just wait for some more time?

[2021-04-11 17:33] madhurgupta10 commented on #3900
There is already a copy available https://commons-android-app.toolforge.org/tool-commons-android-app/

[2021-04-11 18:24] sivaraam commented on #3900
Interesting. So, we just have to switch to using it in the app then ? Or is there something that it lacks ?

Of course, we can wait in case there's hope for fixing it in the tool hosted by Martin.

[2021-04-12 06:51] vinayak0505 commented on #4351
@Prince-kushwaha i tried solving it , as i can see there is no data in the table in description.
![image](https://user-images.githubusercontent.com/56196007/114352305-5b542c80-9b89-11eb-9c62-2858b035eb86.png)
So you might be doing it right you'll have to check if you are getting data from the api and also storing it. you can use postman for this. if I found something more ill let you know

[2021-04-12 08:30] Prince-kushwaha commented on #4351
@vinayak0505 i also use api call https://commons.wikimedia.org/w/api.php?action=query&format=json&formatversion=2&prop=imageinfo&iiprop=url%7Cextmetadata%7Cuser&&iiurlwidth=640&iiextmetadatafilter=DateTime%7CCategories%7CGPSLatitude%7CGPSLongitude%7CImageDescription%7CDateTimeOriginal%7CArtist%7CLicenseShortName%7CLicenseUrl&titles=File:Hibiscus%20syriacus%20capsule%20hoarfrost%20-20200101-RM-1021

[2021-04-12 08:39] vinayak0505 commented on #4351
Are you sure that the API call you are making if for the item with multi discription , like if you are checking for your own contributions then you are uploading multiple description.

[2021-04-12 08:48] Prince-kushwaha commented on #4351
@vinayak0505 yes image have multi description
image link for above api call
https://commons.m.wikimedia.org/wiki/File:Hibiscus_syriacus_capsule_hoarfrost_-20200101-RM-102111.jpg

[2021-04-12 08:51] jidanni opened #4352 ""Picture too dark" warning when uploading an OGG file"
I uploaded this fine, https://commons.wikimedia.org/wiki/File%3A%E5%8F%B0%E7%81%A3%E5%8F%B0%E4%B8%AD%E6%9D%B1%E5%8B%A2%E7%95%AB%E7%9C%89.ogg
But during the process I got a warning that my "picture was too dark". It's not a picture at all it's an OGG file!

[2021-04-12 09:09] vinayak0505 commented on #4351
I see, i guess this API is not getting what we want here, will have to read the documentation if there is no API then we might have to report this to the backend team. @nicolas-raoul @madhurgupta10 @neslihanturan @misaochan please check are these steps okay.

[2021-04-12 10:32] nicolas-raoul commented on #3949
By using a network analyzer when loading https://commons.wikimedia.org/wiki/File:TianqiZhe.jpg you can see that the page gets language captions by calling the URL https://commons.wikimedia.org/wiki/Special:EntityData/M75558527.json?revision=552105075

You can just use https://commons.wikimedia.org/wiki/Special:EntityData/M75558527.json which gives the latest version which is what we want. I believ

[2021-04-12 10:35] nicolas-raoul commented on #4351
I replied in the main thread: https://github.com/commons-app/apps-android-commons/issues/3949#issuecomment-817696283
If you have other questions feel free to post there, other people subscribed to that issue might know the answer, or in any case will be interested in seeing any answer :-)

[2021-04-12 10:35] #4351 closed

[2021-04-12 11:48] Prince-kushwaha commented on #3949
@nicolas-raoul problem  is  in the descriptions . descriptions is empty for all image   `"descriptions": {}`
see the descriptions in this json is empty https://commons.wikimedia.org/wiki/Special:EntityData/M75558527.json but image have descriptions  https://commons.wikimedia.org/wiki/File:TianqiZhe.jpg
How i get all descriptions for image

[2021-04-12 13:17] nicolas-raoul commented on #3949
Ah, you are right!
It is OK to only show localized captions for now.
Localized descriptions can be added in a later phase, when we have an easy API to retrieve them.

[2021-04-12 13:29] neslihanturan commented on #4352
Oh, I will create an issue for this. Thanks a lot for your feedback.

Bests,
Neslihan Turan

積丹尼 Dan Jacobson ***@***.***>, 12 Nis 2021 Pzt, 11:52
tarihinde şunu yazdı:

[2021-04-12 13:50] neslihanturan commented on #1883
I don't think this is gonna happen soon. If you have suggestions/things to say about this issue feel free to share.

[2021-04-12 14:11] neslihanturan commented on #4173
Hey @ashishkumar468 , do you mean instead of ACRA?

[2021-04-12 14:26] neslihanturan commented on #2810
The PR #4206 was working, however it had irrelevant changes, thus we couldn't merge it. Anyone else can implement is in the same way and this issue should be solved :)

[2021-04-12 14:44] Prince-kushwaha commented on #3949
@nicolas-raoul i find another way to find descriptions for image using another the api call- https://commons.wikimedia.org/w/api.php?action=parse&page=File:Hibiscus%20syriacus%20capsule%20hoarfrost%20-20200101-RM-102111.jpg in this json `"text":{ }` contain all the html code to show page .<td class=\"description\">Contain all descriptions of image < /td>  extract code between td  and using webview

[2021-04-12 15:18] NotSoImportant commented on #1883
I was just wondering as something was put to done if now you have applied it or what are the next steps.

[2021-04-12 17:02] neslihanturan commented on #4290
Hey @marcosliberal , thanks a lot for your interest. There is one open PR which is reviewed and waiting action from you. Could you please sort it out (either do/respond the review or close the PR if you don't think you are interested anymore so that others can claim the issue) before starting to work on this issue?

[2021-04-13 02:49] nicolas-raoul commented on #3949
Yes, thanks! Please make sure that if the HTML is broken the app does not crash (and instead just shows no descriptions).

[2021-04-13 05:30] Ayan-10 commented on #3744
@nicolas-raoul Can I work on this?

[2021-04-13 05:41] nicolas-raoul commented on #3744
@Ayan-10 Yes thanks!

[2021-04-13 09:55] madhurgupta10 commented on #3900
We can but I think it is much better to handle it from the server-side as it doesn't require users to update to the latest version to see the change.

[2021-04-13 10:10] nicolas-raoul commented on #3900
Users who do not update will just not get the fix, which is not different from the current situation :-)
I think it is better to switch to a server we can update easily, rather than suffer such delays again in the future when we need to modify something.

[2021-04-14 03:58] Prince-kushwaha commented on #3634
@neslihanturan i want to work on this issue

[2021-04-14 05:08] nicolas-raoul commented on #3634
@Prince-kushwaha It is yours, thanks!

[2021-04-14 06:21] nicolas-raoul opened #4357 "After switching to different account, contributions screen shows pictures of previous account"
1. Be logged into your usual account
2. Log out
3. Log into another account (which has never uploaded anything)
4. Expected: Contributions screen is empty. Actually: Showing 10 pictures from the usual account.

[2021-04-14 08:38] Pratham2305 commented on #4357
Hey @nicolas-raoul, I think PR #4337  solves this issue too, but I am not sure about the #4286 as I am not able to reproduce the issue you guys are facing. Can you again test the PR with this issue? Thanks!

[2021-04-14 11:06] misaochan commented on #3101
Sounds good to me, but we would need to fix the upstream Achievements issue first. :)

[2021-04-14 11:09] misaochan commented on #4300
How about removing the description from the banner, but having a tooltip on the banner that, when clicked, would display the description text? @neslihanturan

[2021-04-14 11:22] misaochan commented on #4173
I reckon that it would be instead of ACRA, no point in having 2 different crash report libraries IMO.

Personally I am a bit hesitant to switch, since ACRA seems to be significantly more popular and commonly-used. But ACRA has also said in Ashish's link that they will not be working on the issue since they perceive it to be Gmail's responsibility. So if we test and find out that Mindorks works wel

[2021-04-14 11:25] misaochan commented on #1883
I would consider this a semi-success. All PRs for new features/enhancements now require unit tests, as mentioned in our contribution guidelines. However, I don't think most contributors are applying true TDD principles (which is different from just writing tests for their code).

[2021-04-14 11:40] misaochan commented on #3900
I agree with @nicolas-raoul and @sivaraam , I think we should move to a server that we have easy access to. This issue has been going on for a very long time unfortunately. :(

[2021-04-15 14:45] #3879 closed

[2021-04-15 15:50] Ayan-10 commented on #3101
Hey @nicolas-raoul @misaochan , I was working on this topic past few days to see what can be done. So, As android doesn't have the functionality to directly count the number of images selected. I was thinking what if I make a custom image picker so that I can count the images and while selecting the images if user exceeds the limit of selecting images user can select any more image and gets a toas

[2021-04-16 00:22] nicolas-raoul commented on #3101
@Ayan-10 Sounds like a good idea if Android does not have the functionality usable directly. It could clash with this year's GSoC though (many proposals are about creating such a custom image picker), so I suggest waiting until August 24 before implementing it this way.

[2021-04-16 02:40] vinayak0505 commented on #3879
Thanks @nicolas-raoul

[2021-04-16 02:43] vinayak0505 commented on #4283
@nicolas-raoul I think this is also resolved ??

[2021-04-16 02:50] nicolas-raoul commented on #4283
Possibly, I close it and might reopen if I see it happening again.

[2021-04-16 02:57] vinayak0505 commented on #4283
@nicolas-raoul okay

[2021-04-16 03:09] vinayak0505 commented on #4283
@nicolas-raoul should we create a dummy developer account with atleast 200 images , so that everyone can test this because I tested it with 80 images.
Creating an dummy account would be really helpful, I have seen other open source organization doing this , it is really helpful.
We won't need to add images, people using the account will add it.

[2021-04-16 03:47] jidanni opened #4358 "Remind the user to turn on the network"
At this point the user is scratching his head, pushing the word "next" over and over and not knowing what the problem is. The problem is he hasn't simply turned on the network. Therefore there should be a friendly message reminding him / her to do that.
![Screenshot_20210416-114148.jpg](https://user-images.githubusercontent.com/1230959/114968653-5c4ace00-9ea9-11eb-9589-1b2740738b69.jpg)
I'm using

[2021-04-16 03:50] jidanni commented on #4358
Also what is that weird  icon  floating over the other words for? I didn't dare press it to find out. Maybe it's because someone needs to test this with users who use large font setting in Android 🤓

[2021-04-16 04:27] nicolas-raoul commented on #4283
@vinayak0505 Yes good idea! Could you please create a new issue for this?

[2021-04-16 04:28] vinayak0505 commented on #4283
@nicolas-raoul okay

[2021-04-16 04:29] vinayak0505 commented on #4283
@nicolas-raoul should I create a account as well?

[2021-04-16 04:31] vinayak0505 opened #4359 "Test Commons account for developers, with 200+ uploads"
**Summary:**
A public account for developers, so that every developer can use that account to login and test issues with it

**Would you like to work on the issue?**
Yes!!

[2021-04-16 04:39] nicolas-raoul commented on #4283
No need for now, I think.

[2021-04-16 04:53] nicolas-raoul commented on #4359
Anyone needing this: Please contact me privately (my contact info should be [here](http://nrw.free.fr/)) explaining why you need it and for how long, then I will send you a username/password.

[2021-04-16 05:33] Prince-kushwaha commented on #3634
@nicolas-raoul how many max number of recent Selected item i save in Room database

[2021-04-16 07:50] nicolas-raoul commented on #3634
10 should be good. Thanks!

[2021-04-16 08:04] nicolas-raoul opened #4360 "Captions and depictions not uploaded to Commons"
**Steps to reproduce:**

1. Install latest master
2. Upload an image, entering a caption and a depiction
3. Check the image's page on the Commons website
4. Problem: caption and depiction not set

Example: https://commons.wikimedia.org/wiki/File:Park24_by_night.jpg

**System logs:**
The problem seems to be that the usual second request is not performed (the first being the upload itself):
[code]

[2021-04-16 11:38] vinayak0505 commented on #4359
Yes, I think rather then you giving you account, we can create a dev account open for everyone.

[2021-04-16 13:34] nicolas-raoul commented on #4359
No account can be open for everyone, due to vandalism.

[2021-04-16 17:20] AaronAven commented on #4217
Can I fix this issue please? I see it hasn't been worked on in 15 days. I am looking to contribute for a university class. Thank you in advance.

[2021-04-17 01:07] madhurgupta10 commented on #4217
@AaronAven It seems like @Krshivam25 isn't working on this issue anymore so feel free to create a PR. Thanks!

[2021-04-17 03:19] Prince-kushwaha commented on #3634
in room database how delete all element except first 10 element

[2021-04-17 08:31] nicolas-raoul commented on #4360
As you probably guessed already, the problem started exactly with this commit: ecbff7e3b8c84b5d40f33bdae3369da090ef0e48 ([example](https://commons.wikimedia.org/wiki/File:Elevated_monitoring_desk_at_Shinagaw_station.jpg))
The previous commit (fd2a7a9c56a6c09592f1610ac664d422fa76b617) was uploading depictions correctly ([example](https://commons.wikimedia.org/wiki/File:Shibuya_River_when_raining.jp

[2021-04-17 08:56] nicolas-raoul commented on #4360
Possible fix suggested at https://github.com/commons-app/apps-android-commons/commit/ecbff7e3b8c84b5d40f33bdae3369da090ef0e48#r49634599

[2021-04-18 04:53] Prince-kushwaha opened #4364 "Build gradle error when run any androidTest"
**Summary:**

when i run any test in androidTest it throw build an error
**Steps to reproduce:**
Open androidTest file
run any androidTest file

**System logs:**

[code]

**Device and Android version:**
Android Device :Redmi y3(API :29)
**Commons app version:**
latest master

[2021-04-18 06:21] Ayan-10 commented on #1821
@nicolas-raoul Can I work on this issue?

[2021-04-18 07:19] #4360 closed

[2021-04-18 07:20] nicolas-raoul commented on #1821
@Ayan-10 Sure, thanks!

[2021-04-18 07:30] 4D17Y4 commented on #1815
Sorry for the delay @nicolas-raoul, had some important work.
I will continue this now.

[2021-04-18 09:10] nicolas-raoul opened #4365 "Achievements shows zero Nearby uploads, despite leaderboard showing I have hundreds Nearby uploads"
![adb](https://user-images.githubusercontent.com/99590/115140228-32dc9e80-a071-11eb-8a2a-243f0034dc97.png)
![adb](https://user-images.githubusercontent.com/99590/115140239-47209b80-a071-11eb-8366-63224ecc9386.png)

[2021-04-18 09:12] urbanecm commented on #3900
First of all, I'd like to apologize for the delay here. Since almost none of my development activities happen on Github, I rarely go through my Github notifications, which is why I missed this issue for so long. If you do need me urgently at any time (and having the app partially broken definitely is urgent :)), the best way to reach me is IRC (I have the client opened when I'm at a computer) or a

[2021-04-19 08:43] neslihanturan commented on #4359
We usually don't need it when we have beta flavor, in which cases did you need this?

[2021-04-19 08:46] vinayak0505 commented on #4359
Are you asking me? If yes , I didn't get you

[2021-04-19 08:49] neslihanturan commented on #4359
Yes I was asking to understand "What are the benefits of having a single public account for developers?". Can you explain why do you thing we need a public/shared account? We already have beta flavor. We use it for testing purposes.

[2021-04-19 08:55] nicolas-raoul commented on #4359
@neslihanturan I think this is useful when debugging scrolling issues on the contributions list. There was recently an issue occurring only when scrolling for a while, which means more pictures than a developer can upload in a reasonable time :-)

[2021-04-19 08:56] vinayak0505 commented on #4359
Yes, so having a single account will make a things easy for new contributors  as they won't have to upload 200 pictures to find bugs or add improvements.
I believe there will many developers who can improve the app but are not willing to spend time in creating a different account and adding information only for testing purpose. Creating a single account will help in adding large amount of data and

[2021-04-19 08:56] neslihanturan commented on #4358
We could simply make them remember network issue, thanks for creating this issue @jidanni . Also seems beginner friendly to me.

For the button: It ideally is not floating. Seems like a UI bug.

[2021-04-19 09:08] neslihanturan commented on #4300
I think it is a hidden way of warning user about limited connection mode. I think it is better when written openly. Btw, which problem this suggestion prevents? There are several suggestions under this issue so I am a little lost.

[2021-04-19 10:31] #3744 closed

[2021-04-19 10:39] Prince-kushwaha commented on #4365
@nicolas-raoul can i work on this

[2021-04-19 10:56] Prince-kushwaha commented on #4365
@nicolas-raoul  i my case i upload two nearby picture Achievements shows two Nearby uploads but in leaderboard  it show zero nearby upload

[2021-04-19 11:05] neslihanturan commented on #4365
Hey @Prince-kushwaha , thanks for your interest but please complete your already open and changes requested PRs first. For example #4355 , #4361

Even if it is not the first time I had to write this, please note that it is impossible for us to follow every volunteers commitments. Please make sure yourself that you don't have any other remained tasks in your plate before asking for a new issue.

[2021-04-19 11:12] neslihanturan commented on #4359
Hmm for the issues which requires bunch of uploads, it seems helpful indeed. Such an account can be exists only on beta debug (to prevent vandalism). However, I am some doubts about sharing login information publicly. Such an account can be an address for spammers.

[2021-04-19 14:19] #4329 closed

[2021-04-20 00:58] nicolas-raoul opened #4367 "Advertisement brainstorming"
I started advertising the app on Google Ads, 1$ a day, for fun and to gain some experience.

<img width="1001" alt="Screen Shot 2021-04-20 at 09 16 49" src="https://user-images.githubusercontent.com/99590/115319084-fbc5d480-a1b9-11eb-9727-8543edf4199e.png">

If you want to join the fun, please comment with headlines (30 characters max) and descriptions (90 characters max) that you think may help u

[2021-04-20 03:05] Ayan-10 commented on #2810
@neslihanturan Can I do this?

[2021-04-20 04:08] madhurgupta10 commented on #2810
@Ayan-10 feel free to create a PR for this issue!

[2021-04-20 09:23] #4302 closed

[2021-04-20 09:55] 4D17Y4 commented on #4365
I'd like to work on this issue.

[2021-04-20 10:03] nicolas-raoul commented on #4365
@4D17Y4 It is yours! :-)

[2021-04-20 11:47] Ayan-10 commented on #2810
@madhurgupta10 can I use

![Screenshot_20210420_170952](https://user-images.githubusercontent.com/71203077/115390383-ce9a1600-a1fb-11eb-90e3-887fc582d099.png)

this remove icon. Instead of X icon?

[2021-04-20 12:51] madhurgupta10 commented on #2810
@Ayan-10 I would prefer the "x" but lets discuss it with @neslihanturan

[2021-04-20 14:23] nicolas-raoul commented on #4344
This might be happening every time I upload a large number of pictures together.

Another occurrence: 23 pictures uploaded from 07:05, 18 April 2021 here: https://commons.wikimedia.org/w/index.php?title=Special:ListFiles/Syced&ilshowall=1
7 of them got duplicated.

- Picture 1: 1 time
- Picture 2: 1 time
- Picture 3: 1 time
- Picture 4: 1 time
- Picture 5: 1 time
- Picture 6: 1 time
- Picture 7: 1

[2021-04-20 14:45] dpriskorn commented on #3938
Ideally I as a an uploader would like to select a bunch of images and add them to a category
On the screen to choose which category I would like an option to create a new one.

[2021-04-20 14:47] dpriskorn commented on #3938
Regarding depictions I do not agree that a shelter depicts the municipality. Does it really?

[2021-04-20 14:56] Prince-kushwaha commented on #2763
@nicolas-raoul if you want i  work on this issue in my pull requests i make required changes

[2021-04-20 16:09] ashishkumar468 commented on #4344
Hi @nicolas-raoul , apologies for the delay in fixing this, seems like a multi-threading race condition issue, I went through the code and could not find a direct solution, please give me some time, possibly by this weekend I will try to raise the fix.

[2021-04-20 19:04] venkatesh2000 commented on #4358
Hi! I just ran the app from the master branch in betaDebug. Currently, the app displays the below error as a Toast upon clicking the 'next' button when there is no internet connection:

 'Unable to resolve host "commons.wikimedia.beta.wmflabs.org": No address associated with hostname'

So, do you mean to replace the above with a friendly message asking the user to check their network connection?

[2021-04-20 19:16] jidanni commented on #4358
A Toast ... only remains visible for a short time period.

Maybe that's why I didn't see it. Maybe it has a conflict with other stuff on the screen. What if the user looks away for a second? Therefore a message should stay until the user hits OK.

[2021-04-21 02:15] madhurgupta10 commented on #4364
Which test did you try to run and also share the configuration file!

[2021-04-21 02:48] Prince-kushwaha commented on #4364
@madhurgupta10 i run almost every test in androidTest all the test thrown build gradle error

[2021-04-21 03:04] madhurgupta10 commented on #4364
How exactly are you running a test, is it a Unit Test or Instumentation Test?

[2021-04-21 03:26] Prince-kushwaha commented on #4364
@madhurgupta10 i simply run these test   and found build gradle error
![Capture](https://user-images.githubusercontent.com/65972015/115492046-a7d0f380-a27e-11eb-90f0-95b3453ab079.PNG)

[2021-04-21 04:22] madhurgupta10 commented on #4364
@Prince-kushwaha  thanks for reporting. This issue seems to be only with Instrumentation tests, I have created a PR that should resolve this issue!

[2021-04-21 05:07] nicolas-raoul commented on #2763
@Prince-kushwaha It should be a separate pull request. Feel free to unassign yourself from some other issues if you want to focus on this one.

[2021-04-21 05:54] nicolas-raoul commented on #3938
@dpriskorn So you mean that you would select a bunch of images that you have already uploaded, and perform category manipulation on the whole bunch at once? Interesting idea! Our UI to assign a category to a _single_ image is very new and still full of bugs, so the first step would be to polish it, though :-)

Great question! We definitely want to express (using structured data) the fact that the

[2021-04-21 06:26] nicolas-raoul commented on #3938
I just realized that "object location" is meant to contain coordinates (latitude, longitude), not the Wikidata QID of an item such as a municipality 🤔

Would you mind asking at https://commons.wikimedia.org/wiki/Commons_talk:Structured_data what is the best way to model the relationship between the picture and the municipality? Thanks!

[2021-04-21 06:54] dpriskorn commented on #3938
done https://commons.wikimedia.org/wiki/Commons_talk:Structured_data#Modeling_picture_taken_in_a_certain_municipality

[2021-04-21 11:37] nicolas-raoul commented on #4208
Actually OGG upload seems to be more-or-less working (accidentally?) as tipped by Jidanni at #4352

[2021-04-21 12:09] nicolas-raoul commented on #4350
Hi @NotSoImportant ! I am also an OSM contributor and would love to see OsmAnd integrated with the Android Commons app! ❤️

Please note that each image already has a _Share_ button, circled in green in the screenshot below):

![adb](https://user-images.githubusercontent.com/99590/115549944-39bf1780-a2e4-11eb-8f68-3e9b8e69630c.png)

I just tried sharing to OsmAnd, and here is what I got:

![adb](ht

[2021-04-21 12:31] nicolas-raoul commented on #4349
Strange, I use the app daily and have never noticed such an issue.
Would you mind [trying the alpha](https://github.com/commons-app/commons-app-documentation/blob/master/android/Volunteers-welcome!.md#how-to-install-the-alpha), and if that still happens, posting a screencast of it?
Thanks!

[2021-04-21 12:35] nicolas-raoul commented on #4347
Thanks for reporting!
Would you have a link to such an uploaded image (with extra spaces)?

[2021-04-21 13:51] obsidian-zero commented on #4358
Hello, I also test this case. But when I don't connect to the Internet, it only shows: Please wait…
And then it will return to the upload step.

[2021-04-21 14:04] obsidian-zero commented on #4358
When I test it, it will show "Please wait..." for a long time. Is that the case with you?
Maybe we could consider adding some caveats to this sentence.
Please wait ...
If the wait is too long, you may want to check your network connection.

[2021-04-21 14:19] venkatesh2000 commented on #4358
For me, I see the "Please Wait..." for less than a second and then the Toast message appears with the error:

''Unable to resolve host "commons.wikimedia.beta.wmflabs.org": No address associated with hostname''

[2021-04-21 14:29] obsidian-zero commented on #4358
OK, I found it.
When I opened the emulator and failed to connect to the Internet the first time I uploaded, it was the same as you.
But if I go through the upload process and try to close the network connection to upload, it will wait a long time and the Toast message will be "Time Out".

[2021-04-21 14:31] Ayan-10 opened #4370 "Using shimmer effect instead of progress bar"
**Summary:**

Current app using a circular progress bar as a processing response. Instead, we can use the shimmer effect to show a processing response like Facebook.

**Screen-shots:**

<table>
  <tr>
    <td> Current state</td>
     <td>Proposed state</td>
  </tr>
  <tr>
    <td><img src="https://user-images.githubusercontent.com/71203077/115569802-32dfd700-a2db-11eb-9eb6-4951d2501d2f.png"width="

[2021-04-21 17:42] NotSoImportant commented on #4349
Is there a possibility to get a compiled alpha version without play store?

[2021-04-21 20:28] NotSoImportant commented on #4349
Screen recording attatched. This unfortutately is the original speed.

https://user-images.githubusercontent.com/35758921/115616661-beb02e00-a2f0-11eb-99f8-d511b7f26fe7.mp4

[2021-04-21 20:58] NotSoImportant commented on #4350
@nicolas-raoul thanks. I am searching for a good integration, but seems not easy. E.g. for StreetComplete it was rejected https://github.com/streetcomplete/StreetComplete/issues/2762
However I was pointed to some resources which make me think about if `wikimedia_commons` tag is actually the best way or rather it could be linked with `wikidata` better, which itself can have an image. I think I shou

[2021-04-22 11:59] Arnold2381 commented on #4290
Can I work on this @nicolas-raoul ?

[2021-04-22 12:34] obsidian-zero commented on #4358
I'd like to have a try at this problem. But I was a beginner and didn't know where to start.
I have the following ideas:
A) Added a reminder to note the network connection in "Please wait..."
B) Add a reminder screen after upload failure. It will disappear when the user confirms it.
C) Add a reminder on the upload page to remind users of their network connection.

Can you give me some advice? This

[2021-04-22 13:20] Prince-kushwaha commented on #2763
@nicolas-raoul I unassign from some issue can i work on this issue

[2021-04-22 13:28] nicolas-raoul commented on #2763
OK thanks :-)

[2021-04-23 03:22] Prince-kushwaha commented on #2763
@nicolas-raoul i think idea of @cypherop is right that when we click on the Peer review image Media Detail page is open it show all
information about image not just description becouse for any user to review the image user known everything about image
So can i implement to show Media Detail when click on the peer review image ?

[2021-04-23 04:29] nicolas-raoul commented on #2763
@Prince-kushwaha OK!

[2021-04-23 05:49] jidanni commented on #4358
I had a second look and didn't see any toasts... but of course my device has its fonts cranked real big...

[2021-04-23 06:48] nicolas-raoul opened #4371 "Improve the workflow for double-contributors (Commons+OpenStreetMap)"
Many open-data-minded explorers contribute to both Commons and OpenStreetMap.
Below is what I believe is currently the optimal workflow.
Please anyone feel free to correct mistakes, share your efficiency tips, or suggest ways the apps could be improved to improve efficiency.

---

Let's say you are in front of a building (or other immovable thing).
Open the Commons app's `Nearby` screen, uncheck `

[2021-04-23 06:50] nicolas-raoul commented on #4350
Let's keep the present issue simply about copying the filename and categories.

And let's continue the integration talk at https://github.com/commons-app/apps-android-commons/issues/4371

[2021-04-23 07:08] ujjwalagrawal17 commented on #1147
Closing it since this feature is already added.

[2021-04-23 07:08] #1147 closed

[2021-04-23 09:12] vinayak0505 commented on #4300
@VishnuSanal, are still working on this issue? if not, can i take this?

[2021-04-23 12:13] VishnuSanal commented on #4300
I'm, I'd love to complete it too! I even made a draft PR too!

But, I was confused right now on which suggestion to implement! If you'd like you can take it up @vinayak0505. What do you say?

[2021-04-23 12:15] vinayak0505 commented on #4300
Just go with the one you implemented earlier , with improvements.

[2021-04-23 12:51] madhurgupta10 opened #4372 "Increase number of leaderboard records fetched in a single request from API"
**Summary:**
The current limit of pagination is set to 10 records at once, but I think we should increase it to something like 100, this will ensure that fewer networks calls are sent from the phone thus saving battery consumption.

[2021-04-23 14:54] obsidian-zero commented on #4320
I'm sorry, but from what I remember.
After Android 5.0 normal circumstances can not directly open the GPS through the software.
Did I remember wrong?

[2021-04-23 15:03] ashishkumar468 commented on #4344
@nicolas-raoul  would it be possibe to share app logs from when this happened?

[2021-04-23 21:04] 4D17Y4 commented on #4365
Are these screenshots from the current master @nicolas-raoul?
In my case, achievement performs the same as I mentioned in https://github.com/commons-app/apps-android-commons/issues/3900#issuecomment-812888186, all the fields are zero and no numbers are shown in the top part of the fragment.

[2021-04-24 07:31] nicolas-raoul commented on #3900
Closing this, thanks a lot Martin! :-)

[2021-04-24 07:31] #3900 closed

[2021-04-24 07:33] nicolas-raoul commented on #4365
Actually this seems fixed now :-)
![adb](https://user-images.githubusercontent.com/99590/115951200-59d81c00-a51a-11eb-8403-955bd2b6d226.png)
I think you have to use the production server to see relevant numbers.

[2021-04-24 07:33] #4365 closed

[2021-04-24 08:07] U81-A commented on #4347
I'm new to android development and is willing to handle this issue with my hardest try :)
Considering that I'm not that familiar with Android, If I cannot work it out I'll post my failure attempts below.

[2021-04-24 08:22] nicolas-raoul commented on #4347
@U81-A Thanks!
Sure, please let us know how it goes, success or failure :-)
Ideally please upload an APK somewhere so that @NotSoImportant can test it.

[2021-04-24 09:56] NotSoImportant commented on #4347
👍 Is there any procedure how to do test uploads. E.g. to a certain category?

[2021-04-24 10:34] nicolas-raoul commented on #4347
@NotSoImportant Not really, just upload encyclopedy-worthy pictures that you took :-)
If you have none on your phone, you can use some of the pictures I took: https://drive.google.com/drive/folders/1T5wfM16qb78XCvnf1Zunww4neg8BXJj6?usp=sharing

[2021-04-24 10:45] nicolas-raoul commented on #4349
APK for latest master: https://drive.google.com/file/d/1gnqgrH_8Yy93VPKlkOQQ1OoTDb8M0Hb4/view?usp=sharing

[2021-04-24 10:46] nicolas-raoul commented on #4290
@marcosliberal Are you still working on this?

[2021-04-24 11:14] Ayan-10 commented on #4309
@nicolas-raoul can I work on this?

[2021-04-24 12:14] NotSoImportant commented on #4349
Requires a google account as well which I don't have ;-)

[2021-04-24 12:59] U81-A commented on #4347
Thanks for the shared link, I just went through the developer document and gonna find proper pictures for uploading and testing

[2021-04-24 13:07] nicolas-raoul commented on #4349
Oh I didn't know that, sorry!
Would you have a file sharing service to recommend?

On Sat, 24 Apr 2021, 21:14 NotSoImportant, ***@***.***> wrote:

[2021-04-24 13:19] marcosliberal commented on #4290
I will not have time for this in the next couple of days, so if @Arnold2381 wants to solve this it's ok by me.

[2021-04-24 14:24] nicolas-raoul commented on #4309
@Ayan-10 Please avoid issues labeled as `debated` for now. Thanks! :-)

[2021-04-24 14:52] Ayan-10 commented on #4309
@nicolas-raoul ok I will keep that in mind. But I was not talking about fixing this exact issue. In this issue, you commented about removing the "Next" button? For instance, tapping "Yes" would directly take the user to the next step. I was talking about doing this improvement. So can I?

[2021-04-24 14:58] nicolas-raoul commented on #4309
I see you have 5 merged pull requests already, congratulations! :-)
OK for removing Next.

[2021-04-24 15:35] U81-A commented on #4347
I'm back again, and I went through the code but not quite clear which particular part of the code is responsible for taking in the user's input of the caption :(
I also thought that to make the file names and links look nicer, is it possible to only do a `trim` before uploading the file? (I'll try that and other methods after I found the relevant code block)

[2021-04-24 20:30] VishnuSanal commented on #4300
@vinayak0505 You can take over this if you wish. I'm dropping

[2021-04-24 20:33] vinayak0505 commented on #4300
oh okay, let me try

[2021-04-24 20:38] NotSoImportant commented on #4348
I was able to reproduce a related behaviour:
- start upload dialog via the share menu of another app
- enter a title
- go back (app crash dialog appeared)
- again share a picture with commons app to get the upload dialog
- this time proceed until upload
- result: at hitting "upload" the same image will be uploaded twice
-

[2021-04-24 21:26] SJu-w commented on #4137
It's been a few months, and the app still produces those nonsensical, meaningless descriptions!

[2021-04-24 21:26] SJu-w commented on #4147
It's been a few months, and the app still produces those nonsensical, meaningless descriptions!

[2021-04-24 21:48] vinayak0505 commented on #4300
If i am not in limited connection mode and i close the app open it again then i am able to see the banner for 1 sec or so, it should be at the visibility gone in the xml and then toggle

[2021-04-24 21:53] vinayak0505 commented on #4357
@nicolas-raoul this is happening because at the time of logout the data is still being fetch so sometimes the images are stores in the table after the table is cleared,
solution : every thing must be paused first when the logout is clicked and then the clearing of table must occur .
this will not only solve this problem but the problem with used seeing older contribution or no contribution when th

[2021-04-25 00:46] nicolas-raoul commented on #4347
Trimming should be doe as early as possible.
Please place many breakpoints to see which one gets hit after filling the
caption.
Good luck! 🙂

On Sun, 25 Apr 2021, 00:35 U81-A, ***@***.***> wrote:

[2021-04-25 00:47] nicolas-raoul commented on #4357
Great find!

On Sun, 25 Apr 2021, 06:53 Vinayak Aggarwal, ***@***.***>
wrote:

[2021-04-25 01:35] jidanni opened #4376 "It looks like we copied to the exact same file name"
Here we have just uploaded two
![Screenshot_20210425-093327.jpg](https://user-images.githubusercontent.com/1230959/115977331-7d967300-a5a9-11eb-80f5-2e0ab420adff.jpg)
 pictures and it sure seems that you chose exact same file names for both of them.

[2021-04-25 01:38] jidanni commented on #4376
Oh, we have to tap on each one to see which one's file name is different from what is shown on the top level.
![Screenshot_20210425-093725.jpg](https://user-images.githubusercontent.com/1230959/115977373-fbf31500-a5a9-11eb-9156-a1a1df301c3c.jpg)

[2021-04-25 01:38] jidanni commented on #4376
Therefore it would be better if at the highest level with truthful filename was shown for all images all the time.

[2021-04-25 06:54] obsidian-zero commented on #4357
Sorry， if anyone work for this？ I want to have a try.

[2021-04-25 08:02] 4D17Y4 commented on #4348
I'd like to work on this one.

[2021-04-25 08:47] nicolas-raoul commented on #4357
@obsidian-zero Welcome to the project! :-)

@vinayak0505 Are you working on the issue, or can obsidian-zero take it based on your research work?

[2021-04-25 08:59] vinayak0505 commented on #4357
Let him give it a try

[2021-04-25 19:08] NotSoImportant commented on #4359
In addition I think it would be helpful to have a process to allow uploading dummy pictures for test purposes. E.g. a certain category that will be cleaned regularely. This would be helpful to debug issues related to uploading, where I would not like to think about what to upload every time (might be many times).

[2021-04-25 21:46] NotSoImportant commented on #4335
Actually the complete "Nearby" tab does not work while location is not available.
This however is sad, as when activated ANY location can be looked at (not only current gps position).

So please
1. enable the same functionality even with gps deactivated
2. Locally store the last gps location instead of jumping back to Tower Bridge, London

![IMG_20210425_232152](https://user-images.githubuserconte

[2021-04-26 00:24] nicolas-raoul commented on #4359
@NotSoImportant Such tests would pollute the production server, because even deleted files are not really 100% deleted. But don't worry, this use case is taken care of: I have thousands of acceptable pictures to upload that anyone can use for their test uploads ([link](https://drive.google.com/drive/u/1/folders/1T5wfM16qb78XCvnf1Zunww4neg8BXJj6)), and if for any reason this is inconvenient then th

[2021-04-26 06:54] NotSoImportant commented on #4359
@nicolas-raoul thank you for explaining.
However this is not the ideal solution because
- I may only be testing bits somebody else created
- I may even want to do tests with the released bits
- even when enough pictures are available, the pure uploading without good or wrong metadata or duplicate images is not what should go to the prod server, right?

How about the following
- instead of having a

[2021-04-26 07:02] NotSoImportant commented on #4335
Wondering if this should have been fixed by #3732, but seems it is not.

[2021-04-26 07:28] nicolas-raoul commented on #4359
These pictures have a meaningful title, an EXIF latitude/longitude, and all can be categorized "Tokyo". Not perfect but more than enough to be acceptable on Commons :-)

A server setting could be an idea worth considering, it would also allow developers to instantly test on production (many features only work in production). We try to reduce the number of options to keep the app simple, though. Wo

[2021-04-26 07:38] neslihanturan commented on #3389
Hi all, here I my suggested mockups for this feature.
1- Where to reach a user profile from:
![howToGetThere](https://user-images.githubusercontent.com/3127881/116046139-717ae600-a67b-11eb-9a6f-1d9afe8d7889.png)

2- What will happen when we tap on user name from one of these 3 access points:

Looking forward to hear your feedbacks :)

[2021-04-26 08:05] nicolas-raoul commented on #3389
Should it be possible to reach a user from the leaderboard? I wonder who is this Vojtech who outranked me ;-)

Will you add a "View user page" in the three-dots menu, similar to "View file page" and "View item page"?

[2021-04-26 08:19] NotSoImportant commented on #4359
Sure. Can you please point me to where to open issues for the server, as commons-app repositories feels not like the right place.

[2021-04-26 08:24] nicolas-raoul commented on #4359
The server exists already and is outside of our scope, so the issue should be at https://github.com/commons-app/apps-android-commons/issues/new

[2021-04-26 08:42] neslihanturan commented on #3389
Thanks for pointing out important points @nicolas-raoul , I edited the designs accordingly in my previous comment. How did you find the updated versions?

[2021-04-26 09:09] nicolas-raoul commented on #3389
About the 4th screenshot of section 1: I agree that tapping "Fae" should open Fae's profile.

About the 5th screenshot of section 1: I don't think a search loop widget is necessary here though, as it is already present in Explore.

About the 6th screenshot of section 1: I think that "View user page" would be more relevant in section 2 (achievements/leaderboard/contributions screen).

[2021-04-26 13:32] Ayan-10 commented on #4335
@NotSoImportant Yes #3732 should fix this issue. Currently, I am fixing another issue. I will look into this as soon as possible. Thanks for helping.

[2021-04-26 14:01] NotSoImportant commented on #4335
Thank you ☺️

[2021-04-26 14:37] nicolas-raoul opened #4379 "Misleading preference name KEY_LANGUAGE_VALUE = "languageDescription""
Before the next release it would be great to fix this preference's naming:
[code]
Both the variable name and the content should be rethought.

This preference stores **the user's preferred language when filling captions and descriptions**.
How about this?
[code]
I believe the `KEY_` part is not useful, am I mistaken?

If we release with that, it will be much harder to fix afterwards, I think.

At

[2021-04-26 18:34] sivaraam commented on #4376
Nice catch. This looks like one of those cases where we might want to show the title instead of the caption to distinguish the images.

Alternatively, should we consider adjusting the duplicate logic to append numbers to the captions too? Would that actually make sense?

[2021-04-27 02:43] ashishkumar468 commented on #545
Hi @misaochan , Quick question around this - as far as I understand, we will be using this API - https://heritage.toolforge.org/api/ to get the monuments around an area.  An entry in the response looks like this
`{"country":"in","lang":"en","project":"wikipedia","id":"N-AP-102","adm0":"in","adm1":"in-ap","adm2":"","adm3":null,"adm4":null,"name":"Nandavaram Temple including the sculpture of Subraha

[2021-04-27 03:35] Prince-kushwaha opened #4380 "Contribution count does not get updated right away image successful uploaded"
**Summary:**

After a successful upload, when 'Contribution' activity is shown, then upload count in the header is not incremented. It still shows the old count. But when you close and re-open the application, it shows the correct count.

**Steps to reproduce:**

1. Note the current upload count and then upload an image.
2. When you come back to 'contribution activity '
3. And see contribution cou

[2021-04-27 05:20] nicolas-raoul commented on #545
I believe `Nandavaram Temple including the sculpture of Subrahamanya` is only a row in [a list article](https://en.wikipedia.org/wiki/List_of_Monuments_of_National_Importance_in_Andhra_Pradesh)) so it has no Wikidata item. We could create a new Wikidata item, but doing it right would be hard due to many edge cases. So, if there is no Wikidata item then I think it is not needed to link to/from Wiki

[2021-04-27 11:25] Ayan-10 commented on #4379
@nicolas-raoul I will fix it along with this #4366 PR.

[2021-04-27 14:10] nicolas-raoul commented on #4379
@Ayan-10 Thanks! :-)

[2021-04-27 14:10] #4379 closed

[2021-04-27 14:40] Prince-kushwaha commented on #4380
@nicolas-raoul what this issue is considered as bug

[2021-04-28 00:16] nicolas-raoul commented on #4380
Yes thanks! I think this is the same as https://github.com/commons-app/apps-android-commons/issues/1853 by the way.

[2021-04-28 00:16] #4380 closed

[2021-04-28 07:01] misaochan commented on #545
Hi @ashishkumar468 , as mentioned at https://github.com/commons-app/apps-android-commons/issues/545#issuecomment-771713688 , the WLM coordinators have recommended that we not use the monuments database as our source, but rather Wikidata. In the mailing list discussion that I linked, the comments from Multichill and Jean-Frederic were:

and

So I believe that rather than using https://heritage.tool

[2021-04-28 07:15] misaochan commented on #4147
Sorry, it seems the volunteer who wished to work on it is not responding. This issue is now up for grabs again.

[2021-04-28 07:24] VojtechDostal commented on #545
@misaochan I haven't read this whole discussion but I agree that Wikidata are superior to monument lists. As for P2186 as the filter for monuments, please be aware that this will only work for countries which use this identifier property:

<img width="593" alt="Bez názvu" src="https://user-images.githubusercontent.com/21329813/116363228-33103300-a803-11eb-9ef8-1c597db1b58d.png">

For example, as y

[2021-04-28 07:28] misaochan commented on #545
Ah, thanks for the input @VojtechDostal ! Is there a way to easily access a list of which identifiers each country uses for their monuments?

[2021-04-28 07:40] VojtechDostal commented on #545
There's at least some in this table:

https://www.wikidata.org/wiki/Wikidata:WikiProject_WLM/Status#Table

I am not sure if such long list of properties would be easily "queriable"... On the other hand, including all of them would probably greatly increase number of countries able to use the app.

[2021-04-28 07:44] misaochan commented on #545
Oh, wow, that is long indeed. :/ I will ask on the mailing list and see what the consensus is. Would adopting P2186 be a difficult endeavour, if that were to be recommended?

[2021-04-28 07:46] VojtechDostal commented on #545
Adopting it would be easy for countries which already have their monuments in Wikidata (10 minutes of work and a few hours of automatic import). If I understand it correctly, it is just an arbitrary value which can be just copied over from the official identifier property values...

[2021-04-28 07:49] misaochan commented on #545
If that is the case, then it sounds to me like it would make sense for countries to do this anyway - not just for the Commons app, but because AFAIK, any other WLM tool built on Wikidata would also require it? I will still ask the community of course, just trying to get an idea of the context. :)

[2021-04-28 08:03] misaochan commented on #3389
Hi @neslihanturan , thanks for the mockups! :)

I think this is a very ambitious plan and perhaps it may be better to stick to something a bit more basic for the initial prototype. ;)  Increasing the access points increases the potential for issues and the need for debugging, besides adding UI complexity. I would vote for only item 1, 4, and 6, and not implement the rest. Especially with item 2, i

[2021-04-28 08:11] madhurgupta10 commented on #4343
@Ayan-10 I agree, we should have a different UI for landscape mode. Pinging @neslihanturan @nicolas-raoul @misaochan for their feedback on this :)

[2021-04-28 08:33] VojtechDostal commented on #545
I haven't really heard of a tool yet that uses that property, but that might be ignorance on my part. I am happy to do that, and I am sure other countries too, but it would be good to be able to rely on some sort of WLM community consensus that this is desirable.

[2021-04-28 08:47] misaochan commented on #545
Thanks @VojtechDostal ! I will update you when I get a consensus.

[2021-04-28 08:55] misaochan commented on #4343
I agree. Maybe picture on the left and text on the right?

[2021-04-28 11:04] Ayan-10 commented on #4343
@madhurgupta10 @misaochan Can you once go through Nearby Activity in Landscape mode. I think the map view is becoming very tiny in landscape mode.

![Screenshot_20210428_162111](https://user-images.githubusercontent.com/71203077/116392824-89e72e00-a83e-11eb-960c-e03a93291fe9.png)

[2021-04-28 11:23] Ayan-10 commented on #4343
@madhurgupta10 @misaochan I did this for ReviewActivity. Please have a look.

![Screenshot_20210428_165048](https://user-images.githubusercontent.com/71203077/116395723-1e06c480-a842-11eb-99f3-d47a3ec82f90.png)

[2021-04-28 13:38] nicolas-raoul commented on #545
Great to hear that this database got deprecated in favor of Wikidata! I am all for doing everything with Wikidata, obviously 🙂

[2021-04-28 13:46] Prince-kushwaha commented on #1853
@neslihanturan this issue present in latest master

[2021-04-29 00:49] nicolas-raoul commented on #4344
OK! I just took this log while uploading 22 boat pictures: [multiupload.log](https://github.com/commons-app/apps-android-commons/files/6395664/multiupload.log)
As you can see at https://commons.wikimedia.org/w/index.php?title=Special:ListFiles/Syced&ilshowall=1, towards the end each picture was uploaded twice.

- Picture 1: 1 time
- Picture 2: 1 time
- Picture 3: 1 time
- Picture 4: 1 time
- Pictu

[2021-04-29 04:37] Prince-kushwaha opened #4385 "App crash On categoryDetail activity when click on image after orientation change"
**Summary:**

App crash On categoryDetail activity when click on image  after orientation change

**Steps to reproduce:**

1. Open categoryDetail activity
2. change the orientation
3. click on the image

**System logs:**

[code]

**Device and Android version:**
Android Device :Redmi y3
API :
**Commons app version:**
Latest master
**Screen-shots:**

https://user-images.githubusercontent.com/6597201

[2021-04-29 06:30] madhurgupta10 commented on #4343
You can make a separate issue for other Activities

[2021-04-29 06:31] madhurgupta10 commented on #4343
Looks good to me! Let's wait for other's feedback

[2021-04-29 07:29] misaochan commented on #4343
LGTM as well. :)

[2021-04-29 07:32] misaochan opened #4386 "Items required for v3.1"
New features:
- [ ] #545 Add support for campaigns

Bugfixes:
- [x] #4344 Duplicate uploads when uploading 10 pictures
- [ ] #3792 Fix SQLite error, again
- [ ] #4435 Room schema error - update DB version

[2021-04-29 07:57] nicolas-raoul commented on #4343
I am not sure how many people will do reviews in landscape mode, but if it's not too much work how about:
- Making the legend (the text that starts with `File:Mark of Zorro`...) a bit higher. It is 2 lines and I believe that the blue bottom banner (with the 4 dots) is covering the second line.
- Maybe putting the `Skip this image` part on the right only? That will leave more space for the picture.

[2021-04-29 17:06] Prince-kushwaha commented on #4385
@nicolas-raoul can i work on this issue

[2021-04-29 20:19] NotSoImportant commented on #3890
yes, the app says something like "update success", but when looking at details it is not reflected there, which makes the user feel like: was it really updated?

[2021-04-29 20:45] NotSoImportant opened #4387 "Edit categories feels broken, bad UX"
**Summary:**
Actually the first few times I thought the dialog is broken.
1. could not find a search box
2. even worse: dialog **closes** when clicking anywhere inside the dialog (else than the icon)

I only saw some wired lines below, tried to click on them but instead of a textbox appearing, the dialog closed.
Only later I found these are buttons with ~1px height, but clicking not only there, bu

[2021-04-30 00:37] jidanni opened #4388 "User loses sight of the app during sharing"
First, choose your Android phone's Gallery app and launch it. Okay now find a photo and push Share. Okay now from all the sharing applications pick the Commons application. Okay fill in the  forms as usual and when we finally get to the last screen we touch the Submit button. All is okay so far except now we are switched back to the gallery app looking at the original photo!

( Yes, somewhere in t

[2021-04-30 00:39] jidanni commented on #4388
My point is all through the process the user should never lose sight of the Commons app. Not even for one second. Yes after the picture is finally fully uploaded there should be a final way for him to push an okay button to confirm that he understands that all this has finished. And only then should the app disappear.

[2021-04-30 00:39] jidanni commented on #4388
And yes, temporary toast messages aren't good enough. Because his head might have been turned when it popped up. So be sure to have a confirm button. I guess you would call it an okay button.

[2021-04-30 00:40] jidanni commented on #4388
And yes, I reported this bug when a picture was still uploading in the background so I'm not sure what was going to happen next. However the app shouldn't have switched back to the gallery even for one second anyway.

[2021-04-30 04:29] Arnold2381 commented on #4290
@nicolas-raoul can you guide me? I tried solving the bug but couldn't do it. I was working in `Service.java` but nothing worked.

[2021-04-30 06:48] nicolas-raoul commented on #4290
@Arnold2381 Please put a breakpoint at the instruction that sends the login request to the server.
Then please post here the HTTPS request URL (and data) that goes out, first before your change, then after your change.

[2021-04-30 06:50] nicolas-raoul commented on #4385
I can reproduce the crash.
Thanks for finding this!

[2021-04-30 07:00] misaochan commented on #545
If anyone is interested in following the discussion, it is at https://lists.wikimedia.org/pipermail/wikilovesmonuments/2021-April/subject.html , or you can subscribe to wikilovesmonuments@lists.wikimedia.org for updates. For the time being there is a wide range of different opinions, so I'll give it a bit more time to see if a trend emerges.

[2021-04-30 09:11] Arnold2381 commented on #4290
@nicolas-raoul Thank you for that suggestion, but It worked. I was changing the wrong param value will make a PR now.

[2021-04-30 13:42] ashishkumar468 commented on #3389
To summarise the expected behavior:
Clicks on the author names in places mentioned in Screenshots 1,4 & 6 would open the Profile-Section for that particular user where we will be showing the Achievements, Leaderboard and the ContributionsList of that user. Question: Will we be supporting clicks on contributions?

[2021-05-01 03:52] jidanni opened #4391 "Still have a checkbox on image to asking if he wants to use the same name as image one"
Here isn't the second image going to help me use the title of the first image? Why do I have to type it all in again if it's the same? Maybe I missed a step on step 1. Maybe there was a thing that said would you like to use the same name for the other images? Well even if I did miss the step that choice should still be available here on Step 2.
![Screenshot_20210501-114733.jpg](https://user-images

[2021-05-01 03:57] jidanni opened #4392 "Upload first image first, second image second"
Okay let's say we choose two images to upload. Okay we fill in the title of the first one, and fill in the title of the second one. But when it comes to doing the upload the app uploads the second image first! That's rather odd and makes one worry that when it comes time to upload some sequences, it's going to do it backwards.

Sure, you might say that "order isn't important!"
Fine, then do it in

[2021-05-01 17:43] Prince-kushwaha commented on #4385
@nicolas-raoul @ashishkumar468  @madhurgupta10 how i solve  this Exception :   `java.lang.IllegalStateException: FragmentManager has been destroyed`
when commit the fragmentTransaction

`
            mediaDetails = new MediaDetailPagerFragment(false, true);
            FragmentManager supportFragmentManager = getSupportFragmentManager();
            supportFragmentManager
                    .begi

[2021-05-02 18:15] Prince-kushwaha commented on #4385
@nicolas-raoul I am not able to solve this issue assign to someone other

[2021-05-02 21:28] madhurgupta10 commented on #4173
@misaochan I found out that this issue may be due to this particular change in API 29+ (https://developer.android.com/training/sharing/send#adding-rich-content-previews) I checked the internal implementation of the source code of ACRA and it seems like that they have already implemented this, so I upgraded to 5.8.1-beta11 and this brings back the missing body for Gmail, I also checked it with Yaho

[2021-05-03 00:37] #4290 closed

[2021-05-03 01:01] jidanni opened #4394 "Implement category chooser on desktop too"
Adding categories to images within the app is a breeze...
But what if we aren't finished and want to add the rest later via desktop computer?
Alas on desktop we must find the category, and paste it in via hand,
[code]
Perhaps there could be some technology transfer to the desktop?

[2021-05-03 01:33] jidanni opened #4395 "The app allowed me to create a file name with a trailing blank"
https://commons.wikimedia.org/wiki/File:Leaves_blown_backwards_.jpg is proof that the app allowed me to create a file name with a trailing blank.

Many cellphone input methods add blanks anticipating a following word.

It would be great if the app was aware of that.

Also of course strip any blanks at the front of file names too, and compress any multiple blanks in the middle of filenames to a sin

[2021-05-03 03:24] Prince-kushwaha commented on #1853
@nicolas-raoul can i work on this issue

[2021-05-03 15:45] Pratham2305 commented on #4385
@nicolas-raoul  Can I work on this?

[2021-05-03 18:01] madhurgupta10 commented on #4385
@Pratham2305 Sure, feel free to make a PR for it!

[2021-05-04 06:43] misaochan commented on #4173
@madhurgupta10 Nice! Yes, please go ahead and do that thanks. :)

[2021-05-04 06:52] misaochan commented on #545
So, we got a lot of good ideas from the responses, however some of them (e.g. Magnus's suggestion of a new tool acting as an interface, or Platonides's suggestion of the Wikidata table) are beyond our scope as Android developers, and we are also very rapidly approaching our end of June beta testing deadline. :/

I'm thinking that for this year, we should move ahead with P2186, otherwise we risk no

[2021-05-04 08:53] misaochan commented on #545
Edit: Additionally, #3410 is slated for release in the same version as WLM, so I guess that could be a stopgap measure for experienced users for the time being.

[2021-05-04 08:59] misaochan commented on #3410
My suggestions on how to implement this:

- In the "filters" dropdown menu for "place type", we have an additional option: "Advanced options". This should probably stand out from the other place types through the use of different font/color/etc.
- When the user selects that, they are brought to a dialog that lets them modify the SPARQL. As we are already looking at a map with an existing query rat

[2021-05-04 09:51] nicolas-raoul commented on #3410
Sounds perfect!
If a custom request fails or times out (50% of my SPARQL errors are mistyped variable names, which unfortunately result in hard-to-debug timeouts), I would suggest telling the user to fix or reset their query, so that they don't have to retype it again.

[2021-05-04 13:24] neslihanturan commented on #3410
I love the use case @misaochan . Now I am more clear about this issue to create a UI. I agree @nicolas-raoul for the last step. Also we can have reset to default or save my query buttons for further usages maybe? So that they can bring their query back instead of typing all over again.

[2021-05-04 14:56] nicolas-raoul commented on #3410
Custom SPARQL is rather niche, so personally I don't really think a "save my query" feature would be worth the complexity&maintenance. People who write SPARQL queries should be able to save their queries in a memo app, a text file or even an email draft :-)

By the way, the advantage of letting users modify the whole query (rather than just a fraction like WikiShootMe) is that we can do much deepe

[2021-05-04 15:30] misaochan commented on #3410
I agree that we probably don't need a "save my query" function for the time being, and also the full query should be editable.

I don't think we have a way to check the validity of a query without actually executing it.

Ah, when I said "invalid" I was actually thinking about the request failing - are they different? I agree with both of you, auto-resetting is probably a bad idea now that I think

[2021-05-04 17:51] sivaraam opened #4398 "Hackathon 2021"
Just wanted to spread the word about the remote Hackathon this year. It's been planned as a remote event on May 22-23.

Link to the main page about the hackathon: [Wikimedia Hackathon 2021](https://www.mediawiki.org/wiki/Wikimedia_Hackathon_2021)

A look at the main page tells me we at least a few of us might already be aware of this but opening an issue just in case 🙂

[2021-05-05 11:54] misaochan commented on #4398
Ahh, I was not aware, thanks for the link @sivaraam ! And well done @neslihanturan . ;)

[2021-05-05 13:46] Ayan-10 opened #4400 "{{Creator: Andy Mabbet}} in place of actual author name"
**Summary:**

Sometimes, while uploading an image and after uploading an image, in place of the actual author name it's showing {{Creator: Andy Mabbet}} in Contribution Activity.

**Steps to reproduce:**

Upload any image in the app. Although It's not happening every time.

**Device and Android version:**

OPPO A57 API 23 and Pixel 4 API 27

**Commons app version:**

Latest master

**Screen-shots:

[2021-05-05 18:03] Prince-kushwaha opened #4401 "Notification of Number of image is in uploading is not change"
**Summary:**

If i upload the more than one together image  then Notification of  Number of image  is in uploading is not change when one by one
image is seccussfully uploaded
See the circle section in image
![Screenshot_2021-05-05-13-22-04-200_fr free nrw commons_LI](https://user-images.githubusercontent.com/65972015/117187731-da8bf780-adf9-11eb-9c06-81ca61891fe0.jpg)

**Steps to reproduce:**
- U

[2021-05-06 05:11] Prince-kushwaha commented on #4401
@nicolas-raoul what this issue is considered as bug

[2021-05-06 07:58] misaochan commented on #4400
Oh, wow. Are you interested in working on this @Ayan-10 ?

[2021-05-06 12:33] nicolas-raoul commented on #4401
If I understand correctly, you are expecting `Processing 2 uploads` to become `Processing 1 upload` as soon as the first image is successfully uploaded? I guess I would consider that an enhancement.

[2021-05-06 13:17] Ayan-10 commented on #4400
@misaochan Yes, I would like to work on this.

[2021-05-06 17:05] Prince-kushwaha commented on #4401
@nicolas-raoul yes can i work on this

[2021-05-06 17:10] Prince-kushwaha commented on #4401
i think it is bug

[2021-05-07 02:15] nicolas-raoul commented on #4401
It seems to me that the current behavior can be considered correct.
Even if there is only 1 file left to upload, it is correct to say that it is in the middle of processing 2 uploads.
I will mark this as debated for now, if other people think it needs work then it can be revisited.

[2021-05-07 06:20] misaochan commented on #4400
@Ayan-10 it is yours, please keep us updated on your progress. :)

[2021-05-07 06:21] misaochan commented on #4401
IMO "processing 2 uploads" is fine.

[2021-05-07 06:55] nicolas-raoul commented on #4401
Understood! I will close for now, anyone please feel free to comment if you have more thoughts about this.

[2021-05-07 06:55] #4401 closed

[2021-05-07 13:37] Ayan-10 commented on #4400
@misaochan This is weird. Actually previously authorName = {{Creator: Andy Mabbet}} is showing for both lower and higher API devices but now this issue is not showing with higher API devices but It does showing with OPPO A57 API 23. I thought it's occurring only in lower API devices. But I tested the app in some other lower API devices but It's not occurring. **Actually now this issue is only happ

[2021-05-07 17:23] Prince-kushwaha opened #4403 "Back Pressed Event not work in Explore tab"
**Summary:**

Open the App without login  and go to Explore tab  and press back button then back press event not work

**Steps to reproduce:**
- Open an App without Login
- Go to Explore Tab
- Press the Back button then nothing happens

**Device and Android version:**
Android Device:Redmi y3

**Commons app version:**
Latest master
**Would you like to work on the issue?**
YES

[2021-05-08 05:37] Prince-kushwaha commented on #4403
@nicolas-raoul can i work on this issue

[2021-05-08 09:45] #4385 closed

[2021-05-08 09:49] #4300 closed

[2021-05-08 09:55] nicolas-raoul commented on #4403
Great find!
Yes thanks :-)

[2021-05-09 18:00] Prince-kushwaha commented on #4357
@vinayak0505 you are working on this issue

[2021-05-09 18:03] vinayak0505 commented on #4357
Someone else is assigned on it

[2021-05-09 18:29] vinayak0505 commented on #4395
I would like to work on this issue

[2021-05-09 20:16] Pratham2305 commented on #3380
@nicolas-raoul @madhurgupta10 I am able to reproduce this one on the latest master, Can I work on this?

[2021-05-10 00:22] nicolas-raoul commented on #3380
@Pratham2305 It is yours, thanks! :-)
The best would probably be to not search nearby items (and thus not show the popup) if the upload is already coming from the Nearby feature.

[2021-05-10 00:47] obsidian-zero commented on #4357
I'm terribly sorry for the delay.I have a lot of things to do during this time. It will take me about another week to be free.
I think you can do it if you want.

[2021-05-10 07:32] misaochan commented on #3380
Did #3799 not fix this?

[2021-05-10 07:36] misaochan commented on #4400
It doesn't occur for me on Samsung Galaxy S10 Android 11.

[2021-05-10 07:38] #4364 closed

[2021-05-10 07:41] misaochan commented on #2810
I would strongly prefer an "x" as well, it's much more commonly used.

[2021-05-10 08:19] nicolas-raoul commented on #3380
I experienced this bug two days ago, so I guess it somehow is still around.
Ah, good find, this PR should be a good source of inspiration :-)

[2021-05-10 09:03] misaochan commented on #545
It seems that the WLM community is largely split on whether P2186 or P1435 should be used as the property identifier ([mailing list discussion](https://lists.wikimedia.org/pipermail/wikilovesmonuments/2021-May/009446.html)). The benefits of P1435 are that it is a tried and tested method (used by other tools e.g. Monumental) and appears fairly future-proof, but the disadvantages are that it is a br

[2021-05-10 10:06] neslihanturan commented on #4309
Hi all, next button has a function as "I don't know" button. When you are not sure if the photo is relevant or not, you may need to have a next button to see the next question. If you answer the question, no need to have an additional click to next button, it automatically changes the screen after your answer without using next button. So I am not sure about removing next button.

[2021-05-10 10:07] neslihanturan commented on #4309
My suggestion would be changing the name of the button from "next" to "I dont know" maybe?

[2021-05-10 10:21] neslihanturan commented on #4358
I think a warning should be displayed if network is not connected. I am okay to use a dialog instead of toast, toasts might be  unnoticeable.

[2021-05-10 12:18] Ayan-10 commented on #2810
@madhurgupta10 @misaochan Thank you for your response. I create the PR.

[2021-05-10 13:21] Ayan-10 commented on #4309
Hi @neslihanturan @nicolas-raoul , This idea seems good. I will rename the "next" button "I don't know"
and clicking this button pop up a dialog saying about the image uploadable or not and why and show the next question. Also, I make the Yes/No radio button clickable and according to the users' action, it will react and automatically shows the next question.
Should I move forward with this idea?

[2021-05-10 16:07] #2763 closed

[2021-05-10 16:28] #4286 closed

[2021-05-10 17:07] 4D17Y4 commented on #4395
Hey @jidanni,
Thanks for confirming the issue.
The issue is very similar to issue #4347, I'd suggest you add your inputs there as it would help the assignee solve the issue efficiently.
Do check for a similar issue before creating a new one.

As the issue is assigned, @vinayak0505  you can check if the assignee is still working on it and take it up if not.

We can close this one @nicolas-raoul as

[2021-05-11 08:35] nicolas-raoul commented on #4395
Thanks @4D17Y4 for spotting this!

@jidanni would you mind posting your picture's URL at #4347 as an example of the buggy behavior? Actually please post the whole message, as it also contains relevant information about cellphones adding blanks. Thanks! :-)

[2021-05-12 03:48] Prince-kushwaha commented on #3384
@nicolas-raoul i latest master i think this is not present in latest master

[2021-05-12 04:09] Prince-kushwaha commented on #2616
@madhurgupta10 i test this issue in latest master but this issue not present in  latest master

[2021-05-12 04:12] #2616 closed

[2021-05-12 05:10] Prince-kushwaha opened #4409 "Need Improvement in Peer Review Activity UI in landscape Mode"
**Summary:**

Current Below UI is not good for Peer Review Activity in Landscape Mode

![Screenshot_2021-05-12-09-54-59-652_fr free nrw commons](https://user-images.githubusercontent.com/65972015/117919202-34188880-b30a-11eb-81b1-d8029ccf71bd.jpg)

 I thing Below UI is good for Peer Review Activity in Landscape Mode
![Screenshot_2021-05-12-12-23-55-566_fr free nrw commons](https://user-images.gith

[2021-05-12 07:02] Prince-kushwaha commented on #4409
@nicolas-raoul @madhurgupta10 can i work on this

[2021-05-12 09:24] domdomegg commented on #2616
Thanks for testing @Prince-kushwaha :raised_hands:

[2021-05-12 20:21] Pratham2305 commented on #4387
I agree on this one, this issue does exist on the latest master.
@nicolas-raoul I would like to fix this one if you can confirm this from your side. Thanks!

[2021-05-12 23:51] nicolas-raoul commented on #4387
Thanks @NotSoImportant for formalizing this, I always felt uncomfortable using this UI indeed.
And thanks @Pratham2305 for accepting to work on it!

[2021-05-13 06:47] Ayan-10 commented on #2810
@neslihanturan I already made a PR. Please have a look at #4406

[2021-05-13 10:36] madhurgupta10 commented on #4409
@Prince-kushwaha This issue is already under discussion https://github.com/commons-app/apps-android-commons/issues/4343

[2021-05-13 10:36] #4409 closed

[2021-05-13 11:00] nicolas-raoul commented on #4309
Sounds good to me!
Yes and No can actually be normal buttons rather than radio buttons, and could be placed side-by-side (like in Sanjay's design but maybe with a normal color/shape).

[2021-05-13 11:08] nicolas-raoul commented on #4394
I totally agree with you that category selection is more convenient with the Android app, mostly thanks to depiction search (better matching, multilingual) which finds associated categories.

I actually sometimes run the Android Commons app on desktop, using BlueStacks or Android Studio.

Another alternative is to use https://commons.wikimedia.org/wiki/Help:Gadget-HotCat

There is actually already

[2021-05-13 11:08] #4394 closed

[2021-05-13 11:20] Prince-kushwaha commented on #4343
@madhurgupta10 @nicolas-raoul can i work on this

[2021-05-13 11:24] madhurgupta10 commented on #4343
@Ayan-10 can you confirm if you are still interested to work on this? If not we can assign it to you @Prince-kushwaha

[2021-05-13 12:45] Ayan-10 commented on #4343
@madhurgupta10 Yes, I am currently working on it. Actually, I am almost done with the UI changes as proposed by @nicolas-raoul . But I stuck a little at a point for making changes but I am trying my best to fix it. I will make PR as soon as possible.

[2021-05-13 12:47] madhurgupta10 commented on #4343
@Ayan-10 Thanks for the update, feel free to ask if you need any help. @Prince-kushwaha you can work on other issues in that case.

[2021-05-13 12:55] Prince-kushwaha commented on #4343
@madhurgupta10 can i create issue for this and work on it https://github.com/commons-app/apps-android-commons/issues/4343#issuecomment-828974126

[2021-05-13 12:57] madhurgupta10 commented on #4343
Yes but before starting working on it, do discuss your approach and UI

[2021-05-13 14:00] #3380 closed

[2021-05-13 17:03] shreyadenny commented on #3361
Hello! @neslihanturan this issue was last assigned on 23rd of March and I noticed that it has been over 2 months since. If there haven't been any developments, can I please contribute to this. I am new to open source and I'd like to start with this documentation.

[2021-05-13 18:36] Ayan-10 commented on #4343
Thanks, @madhurgupta10 .

I solved the issue and this is the final UI. Please check out @madhurgupta10 @nicolas-raoul @misaochan .

![Screenshot_20210513_201557](https://user-images.githubusercontent.com/71203077/118170473-c2465900-b447-11eb-932d-059685514f90.png)

Should I make PR with this UI?

[2021-05-14 02:24] madhurgupta10 commented on #4343
Please make a PR, thanks!

[2021-05-14 02:35] sophiya02 commented on #4358
Hi, I would like to contribute to this issue. Can I fork this project??

[2021-05-14 15:16] Ayan-10 commented on #4309
@neslihanturan @nicolas-raoul What if I change the name of the button "I am not sure"? and Is the UI of the radio button okay or should I change to a button with normal(square) shape as you proposed me to do in the previous comment?

<img src="https://user-images.githubusercontent.com/71203077/118290654-4a823800-b4f4-11eb-8666-fa6a5d11f32b.png" width=300/>

[2021-05-15 00:14] #2810 closed

[2021-05-15 10:14] 4D17Y4 commented on #4347
@U81-A  are u still working on this one ?

[2021-05-15 11:38] Ayan-10 commented on #8
@nicolas-raoul @madhurgupta10 Can I work on this issue?

[2021-05-15 13:52] nicolas-raoul commented on #8
@Ayan-10 Yes thanks! :-)

[2021-05-15 14:30] #1821 closed

[2021-05-15 14:43] #4343 closed

[2021-05-15 16:20] Ayan-10 opened #4415 "Statistics TextViews are not showing in Achievements Fragment"
**Summary:**

Statistics TextViews are blank in Achievements Fragment.

**Steps to reproduce:**

Go to Achievements. See Statistics.

**Device and Android version:**

Pixel 4 API 27

**Commons app version:**

3.0.0-latest master

**Screen-shots:**

<img src="https://user-images.githubusercontent.com/71203077/118370437-50941980-b5c5-11eb-9620-b96816a0f3fa.png" width=300/>

[2021-05-15 16:21] Ayan-10 commented on #4415
@nicolas-raoul @madhurgupta10 Is this issue occurring for everyone.

[2021-05-16 02:26] kurtkaiser commented on #4345
I am noticing the date and disappointed in myself. I have not given this the focus it deserves. I hope to spend more time on it but if it needs to be passed to someone else I understand.

[2021-05-16 09:58] nicolas-raoul commented on #4345
@kurtkaiser No problem, take your time :-)

[2021-05-16 12:47] nicolas-raoul commented on #4415
Would you mind circling in red the part(s) that you think is problematic?

By the way here is mine (the numbers 278 0 0 24 look plausible):
![adb](https://user-images.githubusercontent.com/99590/118397660-193e6f00-b690-11eb-92f4-393e3ebeb4ab.png)

[2021-05-16 13:37] Ayan-10 commented on #4415
@nicolas-raoul Sorry for not being clear. As you can see in the screenshots the TextViews under the red square are black which was present before in the app. You can also see this in your attached screenshot.

<table>
  <tr>
    <td> Somedays before</td>
     <td> Now</td>
  </tr>
  <tr>
    <td><img src="https://user-images.githubusercontent.com/71203077/118398310-a6c09580-b675-11eb-9349-aeea1dcb

[2021-05-16 14:16] nicolas-raoul commented on #4415
Ah sorry I missed that!

[2021-05-16 14:57] madhurgupta10 commented on #4415
@Ayan-10 thanks for the issue, do you know the last commit when it was working fine?

[2021-05-16 15:29] Ayan-10 commented on #4415
@madhurgupta10 I was looking into it but I couldn't able to find that commit. But I will let you know If I can find it. Although I find the cause of this issue and I fixed It. Please look into #4416 .

Thanks.

[2021-05-16 23:53] nicolas-raoul commented on #4415
By the way "git bissect" is a great tool to find the commit 🙂

On Mon, 17 May 2021, 00:29 Ayan Sarkar, ***@***.***> wrote:

[2021-05-17 07:46] neslihanturan commented on #3410
Hi everyone, there are some points needs to be clarified appeared during my mockup attempts. Currently we use this query:
[code]

   Where location, label, description, class, classLabel, icon, wikipediaArticle, commonsArticle, commonsCategory, pic, destroyed are variables that we reach and use their values in NearbYResultItem.kt class. On the other hand ${LONG}, ${LAT}, ${RAD} and ${LANG} are the

[2021-05-17 07:58] nicolas-raoul commented on #3410
For my use case number 2 above, I need to modify the COALESCE, which is outside of WHERE.
I am in favor of having just a big text area, and a tooltip that contains a "read more" link to the wiki (such tooltips with "read more" weblinks can be seen in Achievements). I can write that wiki page, it can even contain a collection of purpose-specific custom queries.
This feature is for power users who a

[2021-05-17 08:09] neslihanturan commented on #3410
Hmm, we can let people edit COALESCE without editing "as ?label", "as ?description" parts. Them might be superusers when it comes to SPARQL but it is not only about the SPARQL, also about to know about the code in our side and we can not expect them to know the variable names that our code preferred.

[2021-05-17 08:28] nicolas-raoul commented on #3410
We can list the variables in the tooltip or "read more".
Users start from the default query, it is not like they have a blank page.
In SPARQL queries, output variables are always at the same place, and people know to not modify the output variable names.
If they mess up, resetting to default is easy enough.

Having several text fields separated by `as ?label`/etc areas would make copy/pasting (fro

[2021-05-17 08:32] neslihanturan commented on #3410
"Having several text fields separated by as ?label/etc areas would make copy/pasting (from the wiki for instance) very cumbersome and error-prone."
hmm very true, I didn't think about this user flow. So I will continue as you said with tooltips, thanks for the inputs @nicolas-raoul !

[2021-05-17 16:22] neslihanturan commented on #3410
Here is my suggestion, I am happy so hear your feedbacks.
![attempt1](https://user-images.githubusercontent.com/3127881/118522891-3e40e980-b745-11eb-968e-0303c36c11c3.png)

[2021-05-17 17:51] Ayan-10 commented on #4415
@nicolas-raoul Thanks for sharing. This is a great tool to find a bad commit. I find that commit. The commit is mine, but when I made the PR, it was running perfectly. I attached the screenshots also. As you can see in #4341 . I don't know what happened. This is the commit that I found.

[code]

[2021-05-18 01:32] nicolas-raoul commented on #3410
Looks good to me!

A few minor things:
- Grey background implies that the text is not editable.
- `- If you are a super user you can edit nearby query below` -> `You can customize the Nearby query. If you get errors, reset and apply.`
- Put the (i) tooltip after that text, rather than after `Advanced options`.
- I suggest this tooltip content:
  - `You can customize the Nearby query to show things

[2021-05-18 07:13] misaochan commented on #3410
Looks good to me @neslihanturan . :) @nicolas-raoul 's changes sound good as well.

I think that it might be beneficial to check that these variables all exist when the user taps "Apply" - if any of them don't exist, show an error dialog and do not proceed. Otherwise, for instance if a user removes commonsCategory, they could get a nice map with all the pins shown, but the app will probably crash

[2021-05-18 08:01] nicolas-raoul commented on #3410
Checking that the request's String contains the String `?wikipediaArticle` (etc) before the `WHERE` can be worth checking indeed, even if that does not guarantee that wikipediaArticle will actually be an output, even less that it is in the right format (for instance it could contain a number).

I would recommend against checking for the String `as ?wikipediaArticle`, because someone who reads only

[2021-05-18 17:31] sivaraam commented on #1890
I just stumbled across the fact that the play store screenshots are stale (again!). Since the UI revamp, the app looks nothing like what one sees in the screenshot. So, it would be nice if we update them :)

I could help with getting the screenshots, if necessary. We've got to update the website too.

[2021-05-19 06:42] misaochan commented on #1890
Yikes, yes! If you could email me the updated screenshots I can update them in the Play Store, @sivaraam . Thanks a lot. :)

[2021-05-19 07:01] misaochan commented on #3410
Makes sense. I wonder if it's possible to make a note in ACRA if a modified query is being used in Nearby?

[2021-05-19 12:03] Ayan-10 commented on #8
Hey @nicolas-raoul @madhurgupta10 , I am done with the "update coordinate feature" part of this feature. I put a dummy latitude and longitude for implementation and testing the coordinate update API calls. You can see this feature working in the video I attached.

https://user-images.githubusercontent.com/71203077/118808134-c4d10480-b8c6-11eb-8568-85e382c75598.mp4

[2021-05-19 12:12] Ayan-10 commented on #8
@nicolas-raoul @madhurgupta10 Now I was thinking about making a location picker from where user will get their preferable location if they click on the FAB. (Now the app this feature is working on a dummy location). For creating this part of the feature I can use google play-services-location and google maps API key. Should I move forward with this idea of implementation?

If you have any suggesti

[2021-05-19 12:42] nicolas-raoul commented on #8
When I created this issue I mostly had in mind the upload wizard (set the location of the picture you upload), but editing the location of an already uploaded picture is a good feature to have, too. Feel free to switch to developing for the wizard (merit: higher priority), or keep developing for editing (merit: keep the work you have done), as you wish :-)

We want our app to work even on devices

[2021-05-19 13:15] Ayan-10 commented on #8
@nicolas-raoul Ok I understand. I will implement both of the features (upload wizard and edit). As I am almost done implementing this feature, I will make a PR for this. Then I will work on the upload wizrad.

Actually, This is a subtask of my this year's GSoC proposal. My proposal did not get selected for this year. So I decided to implement all of the tasks that I proposed to do in my this year'

[2021-05-19 13:18] Ayan-10 commented on #8
Thanks for sharing this mapbox. This will be a great way to implement the location picker feature.

One more thing. Can you little elaborate me about the upload wizard that you mentioned. You meant that there should be a feature in the app that will allow user to upload location while uploading image. Am I right?

[2021-05-19 14:14] nicolas-raoul commented on #8
Wonderful! If you want to focus on editing, feel free. But if you want to try on the upload wizard too, here is how I would suggest to implement that UI part:

Can you see the map icon below (blue squarish button)?
Right now, it opens the location with an intent, which means the default map app opens (for instance Google Maps).
I suggest modifying the UI so that this button opens a Mapbox map show