[2020-11-07 05:38] maskaravivek commented on #4019
@misaochan Can you share a screenshot of the leak info.

[2020-11-07 07:07] jidanni opened #4021 ""Depictions" is a word not seen in the Upload Wizard."
"Depict(ions)" is a word not seen in the Upload Wizard.
![Screenshot_20201106-124530_1](https://user-images.githubusercontent.com/1230959/98434427-54248080-210a-11eb-8ef2-9cb85667f9e7.jpg)
Please use the same vocabulary as seen in the Upload Wizard. At least make sure you use words that are seen at least once in the Upload Wizard.
2.13.1.825~71d200e

[2020-11-07 08:58] anadi198 commented on #3757
Okay thank you for the clarifications. The "errors" were indeed just warnings.

There are two ways of adding icon at the end of a TextView(as far as I know), one is to use the drawableEnd property and the other is using a separate ImageView inside a parent layout. Since setting the onClick isn't simple for the first choice and the second one adds layers to the UI, I would like to know which one I

[2020-11-07 10:40] gouri-panda commented on #4005
@nicolas-raoul I want to work on this issue.

[2020-11-07 10:42] gouri-panda commented on #4005
What should we call him if we upload one image or multiple images?

[2020-11-07 11:10] nicolas-raoul commented on #4005
Thanks @gouri-panda !
If you need a variable that says whether we upload one image or multiple images, how about a boolean called `set`, or maybe `isSet`? Does that answer your question, or did I misunderstand?

[2020-11-07 11:12] gouri-panda commented on #4005
@nicolas-raoul   I'm thinking about what should we display to users on the text?

[2020-11-07 11:19] gouri-panda commented on #4005
@nicolas-raoul  I was trying to say if the user will select one image what should we display instead of "For all images in set"? Similarly what about multiple images.

[2020-11-07 11:21] nicolas-raoul commented on #4005
Multiple images -> Current behavior, do not change anything
One image -> Do not display the label `(For all images in set)`

[2020-11-07 12:20] HezinTUKE commented on #3952
@sivaraam maybe this is a dumb question but which version of Android are u using ?
Because i'm trying with Android 10 and i have not this problem

[2020-11-07 13:23] gouri-panda commented on #3968
I want to work on this issue.

[2020-11-07 15:25] gouri-panda commented on #3584
@nicolas-raoul  I want to work on this issue.

[2020-11-07 15:59] gouri-panda commented on #3584
@nicolas-raoul As seàn suggested we can place the icon inside the `TextInputEditText` and on the side of progress bar like this.
<img width="709" alt="Screenshot 2020-11-07 at 9 28 17 PM" src="https://user-images.githubusercontent.com/43576162/98445871-28bc8880-2140-11eb-962d-d999230de11a.png">

[2020-11-07 21:50] jidanni commented on #3952
Android 8, Zenfone 3.
But more importantly,
in my Android settings,
I have cranked up things like font size,
and display size, etc. That's what us older users do.
So be sure to test like that too.

[2020-11-08 19:35] arishta commented on #3434
This is the link to the PR from my team - isdl03
[link](https://github.com/commons-app/apps-android-commons/pull/4023)

[2020-11-08 19:46] arishta commented on #2874
Here is the link to the PR submitted by my team isdl03
[link ](https://github.com/commons-app/apps-android-commons/pull/4024)

[2020-11-09 09:41] #3992 closed

[2020-11-09 09:48] misaochan commented on #4021
It does exist in the Upload Wizard:

![depicts](https://user-images.githubusercontent.com/3611199/98525442-30a53580-22c4-11eb-8fb1-aca3b058d058.png)

There will be a tooltip added soon before we release 3.0.

With all due respect @jidanni , do you think that maybe the beta might be more suited for you? ;)

[2020-11-09 09:52] misaochan commented on #2874
It seems like changes were requested on #4000 . Is there a reason you created a 2nd PR?

[2020-11-09 10:00] misaochan commented on #3584
Oh wow, I just realized that this issue overlaps with #3757 , since it makes sense to include tooltips with the "depicts" title. @gouri-panda would you mind discussing this on #3757 ? Then I can close this issue.

[2020-11-09 10:03] misaochan commented on #1860
I don't think Nearby currently works if GPS is not enabled, AFAIK we explicitly check for GPS prior to loading. It doesn't work for me, anyway. Does it work for you with only WiFi, @sivaraam ?

[2020-11-09 10:06] misaochan commented on #4018
Thanks for letting me know @sivaraam ! That PR is from April though, and there have been a lot of changes to the codebase since then. I wonder if it might just be easier to start from scratch than to resolve so many conflicts?

[2020-11-09 10:10] misaochan commented on #4016
Hmm, in my case the pic had GPS coordinates, though. But good point, it probably stems from the same root cause. I will close this and we can discuss it there.

[2020-11-09 10:10] #4016 closed

[2020-11-09 10:11] misaochan commented on #3684
It happens to me with a picture that has GPS data (I checked the metadata on my phone's gallery).

[2020-11-09 10:40] arishta commented on #2874
A new member of our team started working on this issue and submitted a new PR. The changes should have been made in existing PR only. We will ensure this in the future.

[2020-11-09 16:38] gouri-panda commented on #3757
@nicolas-raoul  we can place the icon inside the `TextInputEditText` and on the side of progress bar like this.
<img width="709" alt="Screenshot 2020-11-07 at 9 28 17 PM" src="https://user-images.githubusercontent.com/43576162/98445871-28bc8880-2140-11eb-962d-d999230de11a.png">
If no one works now then I want to take this issue.

[2020-11-09 17:27] sivaraam commented on #1860
I'm not sure about just Wi-Fi. But when I set my location mode to "Wi-Fi and mobile networks" (the only non-GPS option available in my device), Nearby does work fine for me. It does take some time to locate the device and I see a warning stating Nearby might not work properly. Other than those, I don't see anything wrong. I do see Nearby markers for places that need pictures. So, I'm presuming it

[2020-11-09 17:30] sivaraam commented on #4018
Yeah. That might indeed be better (or) a person could just try rebasing the PR branch over `master` in case that could be easily done without much conflicts. Otherwise, doing the change from scratch using the PR as a reference would indeed be better.

[2020-11-09 17:33] sivaraam commented on #3684
That seems like the issue described in #3647 (mentioned before).

[2020-11-10 01:21] jidanni opened #4025 "Detect Android share intents"
Other apps detect this, why not this app?

`intent:#Intent;action=android.intent.action.SEND;type=image/jpeg;launchFlags=0x1b080000;end`

[2020-11-10 01:23] jidanni commented on #4025
I even see matchin: Commons (fr.free.nrw.commons - fr.free.nrw.commons.upload.UploadActivity)

[2020-11-10 01:26] jidanni commented on #4025
`intent:#Intent;action=android.intent.action.SEND;type=image/jpeg;launchFlags=0x1b080000;end
------------
ACTION: android.intent.action.SEND
MIME: image/jpeg
URI: intent:#Intent;action=android.intent.action.SEND;type=image/jpeg;launchFlags=0x1b080000;end
FLAGS:
FLAG_RECEIVER_REGISTERED_ONLY_BEFORE_BOOT
FLAG_RECEIVER_FOREGROUND
FLAG_ACTIVITY_FORWARD_RESULT
FLAG_ACTIVITY_PREVIOUS_IS_TOP
FLAG_ACTIVIT

[2020-11-10 01:27] jidanni commented on #4025
2.13.1.827~1baea1e

[2020-11-10 01:34] jidanni opened #4026 "Words cut off"
Words cut off:
![Screenshot_20201110-092949_1](https://user-images.githubusercontent.com/1230959/98616417-ba421b00-2337-11eb-84fb-dd5b5a34077c.jpg)
2.13.1.827~1baea1e

[2020-11-10 07:12] jidanni commented on #4021
(I do not see it and I am already at the
![14375-0](https://user-images.githubusercontent.com/1230959/98641592-fccf1c00-2366-11eb-8dc1-07393bd83e37.jpg)
step.
To proceed further I must click "Publish files", which I dare not do with just a test image.
Therefore I'll have to take your word for it.)

[2020-11-10 07:33] jidanni commented on #3985
(OK, but next time do please add the link to what the duplicate is of.)

[2020-11-10 09:02] gouri-panda commented on #3968
@nicolas-raoul Should I start working on this issue? and also I need descriptions.

[2020-11-11 00:34] nicolas-raoul commented on #4026
Indeed! The label should be made multiline to wrap when needed.

[2020-11-11 00:36] nicolas-raoul commented on #4025
Could you sharing reproduction steps?
- From what app (many phones come with their own customized gallery so the intent might be slightly different)
- When performing what action
Thanks!

[2020-11-11 00:39] nicolas-raoul commented on #4021
The Upload Wizard has that step in "Add data".
I encourage you to try it by first transferring a picture from phone to PC, or using Upload Wizard in a mobile browser (not easy).
I will close this for now.

[2020-11-11 00:39] #4021 closed

[2020-11-11 00:44] nicolas-raoul commented on #4013
I confirm, in the new UI the bar is very visible :-)
I will close this as fixed.
Thanks!

[2020-11-11 00:44] #4013 closed

[2020-11-11 00:46] nicolas-raoul commented on #4012
It was mine, there has been code changes and it has not happened again, so I will close now, and only reopen if it happens again.

[2020-11-11 00:46] #4012 closed

[2020-11-11 00:48] nicolas-raoul commented on #4015
Seems like it also happens without uploading via Nearby.
Yesterday I uninstalled the app, installed alpha instead, uploaded a picture not from Nearby, opened Nearby, left it. This morning when I came back to Nearby it was black.

[2020-11-11 00:49] nicolas-raoul commented on #4004
Could you please post a screenshot of your settings screen, around "Display nearby notification"?

[2020-11-11 00:51] nicolas-raoul commented on #4003
It happens to me all the time too.
It might or might not be related to #3959.

[2020-11-11 01:00] nicolas-raoul commented on #3987
What do you suggest for the label and secondary text of that setting?
Please read the conventions first: https://material.io/design/platform-guidance/android-settings.html#label-and-secondary-text
Thanks! :-)

[2020-11-11 01:06] nicolas-raoul commented on #3986
#2843 has been closed 4 days ago, so I think it is now fair to report any big problem :-)
Yes, this GitHub issue tracker is the right place for alpha too, but let's keep in mind that alpha is a work in progress ;-)

[2020-11-11 01:09] nicolas-raoul commented on #3981
I uninstalled then reinstalled the app (alpha/master) yesterday and had this notification run for hours, even though I did not enable Limited Connection mode.

[2020-11-11 01:13] nicolas-raoul commented on #3977
As we are not legal experts, we just blindly do the same as the Upload Wizard.
I imagine that the Upload Wizard does that because if there was a one-time settings a user could say they have tapped it by mistake, and require Commons to remove all of their images. With a dialog each time, no user can say they tapped it by mistake every time.
I will close this until the Upload Wizard changes how they

[2020-11-11 01:13] #3977 closed

[2020-11-11 10:30] Prince-kushwaha commented on #4026
I want to work on this issue

[2020-11-11 10:31] Prince-kushwaha commented on #4026
assign me this issue

[2020-11-11 10:32] misaochan commented on #3981
Same here, it also started happening much more frequently for me on the current master.

[2020-11-11 11:04] neslihanturan commented on #3757
Hi @gouri-panda , I guess @anadi198 is working on this task currently. You can fin a new task to work on if you like to:) The it comes to the question of @anadi198 , you can implement the solution you liked most, any changes can be made during PR review stage.

[2020-11-11 11:23] neslihanturan commented on #2818
@anadi198 , I saw you are also working on another issue. If you are not working for this issue, please let us know. So that someone else can work:)

[2020-11-11 11:34] neslihanturan commented on #3361
Hi everyone seemed to interested, sorry for the latency of the response. Based on the mockups shared, I decided to explain what is in my mind about this task in more details:
- A rounded info button next to Peer Review title should exists
- When clicked to that button a group of explanation of each function of this feature should be visible. This explanation should be a detailled explanatin, ie. "

[2020-11-11 11:46] misaochan commented on #4026
@Prince-kushwaha please feel free to work on it, thanks!

[2020-11-11 11:56] Prince-kushwaha commented on #4026
ok

[2020-11-11 12:07] anadi198 commented on #2818
@neslihanturan I didn't realise I got a reply on this thread, feel free to assign it to someone else. I can take this up once I'm done with the current one if no one else does.

[2020-11-11 17:09] anadi198 commented on #3757
I can't log in to my Commons Beta account, it keeps giving a 502 under maintenance message. It hasn't fixed for the past few hours. Did I do something wrong? Sign up or forgot password, none seem to work.

`Request from - via deployment-cache-text06.deployment-prep.eqiad.wmflabs, ATS/8.0.8
Error: 502, Next Hop Connection Failed at 2020-11-11 17:05:31 GMT`

Sorry for posting this here if there's so

[2020-11-11 18:08] misaochan commented on #3968
I don't think there's any need to mention alpha in the app, as it's not possible to opt in to alpha solely within the app (it requires signing up to our google group). Alpha is generally for users who are already very familiar with our project and have looked us up on GitHub. It can be unstable so I don't feel comfortable recommending users to be alpha testers in-app.

@gouri-panda It seems like t

[2020-11-11 20:45] neslihanturan commented on #3757
@anadi198 can you login via web interface? Can you login to prod account? Are you sure you are not blocked and password is correct?

[2020-11-12 03:14] jidanni commented on #4021
But does that mean
- The app does this step **before** the user "Publishes the file" (hits the button that actually makes the file public online), but:
- The website does this step **after** ?

If so, bad!

[2020-11-12 03:23] jidanni commented on #3968
I would say do like
https://www.chromium.org/getting-involved/dev-channel
Full disclosure of all four channels to the testing community, right from the start.

[2020-11-12 03:54] jidanni commented on #4025
Asus Zenfone 3 standard gallery app.
View a photo. Press share.

Captured with https://play.google.com/store/apps/details?id=uk.co.ashtonbrsc.android.intentintercept

[2020-11-12 04:29] jidanni commented on #4004
OK it hasn't popped up recently. Maybe fixed already.

[2020-11-12 04:29] #4004 closed

[2020-11-12 04:33] jidanni commented on #3987
Hmm, I see in #4008 I made some guesses about what it should say.

[2020-11-12 04:35] jidanni commented on #3986
OK I will try to get used to the "cloud".

[2020-11-12 05:27] anadi198 commented on #3757
I can log in to the prod version (from Google Play) just fine. @neslihanturan

[2020-11-12 07:16] anadi198 commented on #3757
I had a look and although not exactly as same as mine I found a similar closed issue, recommending to install the prod debug build which I did and now I've tested that my changes indeed to work. I think further questions/corrections will be best made in the PR so I'll be opening one.

[2020-11-12 09:53] Prince-kushwaha commented on #4026
this issue is solved in latest version 2.13.2 ~757c7b008

[2020-11-12 11:49] neslihanturan commented on #4026
Thanks for debugging it @Prince-kushwaha

[2020-11-12 12:51] Prince-kushwaha opened #4031 "Textview(No Copyright violation) not fit in Peer Review Activity"
**Summary:**
Textview(No Copyright violation) not fit in Peer Review Activity
**Steps to reproduce:**
Go to the home activity
Open navigation bar ->click on Review
See the Bug by Screes-shots
**Device and Android version:**
Device:Redmi y3
Android version:9, API :29
**Commons app version:**
2.13.2
**Screen-shots:**
![WhatsApp Image 2020-11-12 at 6 17 34 PM](https://user-images.githubusercontent.co

[2020-11-12 12:52] Prince-kushwaha commented on #4031
i like to work on this issue

[2020-11-12 12:53] Prince-kushwaha commented on #4031
assinge me for this issue

[2020-11-12 14:36] Soroyesodiq commented on #3361
Thanks for the detailed explanation.

[2020-11-12 23:11] jidanni opened #4032 "So hard to choose language with massive list"
I can't even tell if there is Chinese deep down in this massive list. I looked and looked. Why isn't there some help to choose the language with a short search string?
![Screenshot_20201113-070711.jpg](https://user-images.githubusercontent.com/1230959/99007456-34b0ac00-257f-11eb-9a0e-f2b295853e08.jpg)

[2020-11-12 23:12] jidanni commented on #4032
I'm also wondering. Let's say I do finally find the language. Hopefully it'll be remembered on my frequently chosen languages list. That way the next time I need to do this it'll be right up on the top.

[2020-11-12 23:13] jidanni commented on #4032
As you see, I gave up on trying to find Chinese. And just inserted Chinese in the English box.
![Screenshot_20201113-070746.jpg](https://user-images.githubusercontent.com/1230959/99007700-b1438a80-257f-11eb-87aa-28e5c0c1602c.jpg)

[2020-11-12 23:14] jidanni commented on #4032
2.13.1.828~2ed5a74

[2020-11-12 23:15] jidanni commented on #4032
Even though it was raining, and I was in a hurry, I still checked under the z h, traditional Chinese, Chinese, Hans...

[2020-11-12 23:24] jidanni opened #4033 "Reuse depiction string when asking categories"
Okay, so there are two (main) questions the app is asking. One is what does your picture depict, another is what categories does your picture belong to.

Therefore if I enter 'Bubulinos parthiogenesis' to answer the first question, wouldn't it be great to have that copied automatically into the second question to help me get started picking the categories instead of me having to type it in all ove

[2020-11-12 23:29] jidanni commented on #4033
In fact even straight from the title, and the description, have that same string follow us around in case we need it. (Or you could say if we were smart we would know to copy the title ourselves while we're entering it and now we could use it just like I said.)

[2020-11-12 23:32] jidanni commented on #4032
By the way at the top of the list there were about 50 greyed-out variants of English. If there are grayed out I suppose I couldn't choose them. Well why don't you put the grayed-out stuff at the bottom of the list as people are in a hurry...

[2020-11-12 23:36] jidanni commented on #4032
By the way, even though Chinese is not the most popular language according to the rank of a number of Wikipedia articles, but it is the most spoken language in the world so hopefully it will appear closer to the top, if ever.

[2020-11-13 00:00] jidanni opened #4034 "GitHub new issue app version autofiller button"
How about a button, in the app, at least development versions, that would directly take us to a new GitHub issue with the version number of the app already filled-in in the comment!

So it would call the GitHub app via a Android intent...

(No, I don't know what should happen if the person doesn't have the GitHub app already also installed.)

Yes, I do know that it is still very easy to copy it (e

[2020-11-13 10:30] nicolas-raoul commented on #4015
The easiest way I have found to reproduce the problem:

1. Open Nearby
2. Either press "Home" or switch to a different app
3. Come back to the Commons app
4. Map is now black

[2020-11-13 12:33] gouri-panda commented on #4003
@nicolas-raoul  @neslihanturan  @jidanni Can you give some more details on how to reproduce this issue?

[2020-11-13 12:45] sivaraam commented on #4026
Re-opening this as I could still observe the issue in the latest master (2ed5a74b4d24f80e8f24c2cb642f457e953e5b28). I believe the truncation depends on the screen size. So, to observe this it's best to try testing in a smaller screen device. For completeness, I observe this in a 4.2" screen device.

[2020-11-13 12:58] sivaraam commented on #3986
You'll see an _actual_ label (briefly) for the switch when long pressing it. There is still one thing that could be improved about it, though. Currently it says "Limited Connection" which feels blunt to me. So, we could re-phrase it a little. I would suggest using "Limited connection mode".

[2020-11-14 03:33] Saral-code commented on #4026
I want to work on this issue. I think I can fix that. Assign me this issue.
Thank You.

[2020-11-14 04:46] madhurgupta10 commented on #4031
@Prince-kushwaha This issue was already reported https://github.com/commons-app/apps-android-commons/issues/3376

[2020-11-14 04:46] #4031 closed

[2020-11-14 05:21] Prince-kushwaha commented on #4031
ok

[2020-11-14 05:56] sivaraam commented on #4026
Sure @Saral-code ! Feel free to work on it and let us know how it goes :)

[2020-11-14 08:04] Prince-kushwaha commented on #4026
but i work on this issue

[2020-11-14 08:13] Saral-code commented on #4026
@Prince-kushwaha You can continue working and i ll also try to correct it. No problem.

[2020-11-14 08:26] Prince-kushwaha commented on #4026
ok

[2020-11-14 08:42] neslihanturan commented on #4026
Actually we don't assign the same issue to 2 people. We don't want to waste you efforts.

@Prince-kushwaha you said you can't replicate the issue, right? It this still the case?

@Saral-code , if @Prince-kushwaha is still willing to work on the issue, please pick another issue for yourself.

Thanks both for your interest:)

[2020-11-14 08:52] Saral-code commented on #4026
Ok then , i m also facing issue in running Android studio in my laptop.
See ya

[2020-11-15 01:28] nicolas-raoul commented on #4032
Duplicate of #3681

[2020-11-15 01:28] #4032 closed

[2020-11-15 01:30] nicolas-raoul commented on #4034
Creating a new issue should only bee done when no such issue exists already.
So taking people to issues is fine, but taking people to a new issue directly is not really a good thing to do, I think.

[2020-11-15 01:30] #4034 closed

[2020-11-15 01:36] nicolas-raoul commented on #4033
Great idea!
Actually if you search for 'Bubulinos parthiogenesis' and 'apomixis' in depictions, my opinion is that in the category dialog we should display the top 3 results for both of these search terms.
The difficulty is to decide what constitutes a search term. For instance, if you want to search for the "dog" depiction and mistype "dig", then correct, now you have these search terms: "d" "di"

[2020-11-15 01:42] nicolas-raoul opened #4036 "[Question] How to browse categories (and items) with the new UI?"
I often browse items to find the most precise one. But in the new UI (latest master) I could not find these features.
The most logical place would probably be two tabs in "Explore", called "Items" and "Categories".
Thanks! :-)

[2020-11-15 01:47] nicolas-raoul commented on #4003
@gouri-panda Just install the app and open it.
I guess it only happens with accounts that have uploaded already 10 or more pictures. Feel free to upload 10 or 20 of these pictures, using their filename (without the extension) as a title and "Tokyo" as category: https://drive.google.com/drive/u/1/folders/1T5wfM16qb78XCvnf1Zunww4neg8BXJj6

[2020-11-15 02:45] jidanni commented on #4034
Well, they would probably already have fully investigated the problem with a wide big desktop screen in the days before they filed the bug. And only when they're actually ready to file it, pushed the button.  It's been years since I had to paste a version number into a bug report. We always get them into the bug reports automatically for example, https://bugs.chromium.org/p/chromium/issues/detail?

[2020-11-15 11:37] nicolas-raoul opened #4037 ""Copy previous captions & descriptions" feature does not copy the secondary language choice"
Steps to reproduce:
- Install latest master
- Select 2 pictures to upload, share to the Commons app
- For the first picture, enter two captions, one in English ("en") and one in Japanese ("ja")
- For the second picture, press "Copy previous captions & descriptions"

Expected: The second picture now has an English caption and a Japanese caption.
Actually: The second picture now has an English capti

[2020-11-15 23:09] nicolas-raoul opened #4038 "Crash when scrolling down my contributions"
Latest master 2ed5a74
[code]
Not sure if that matters, but some context: I used Nearby to upload a picture of both items Takahan Ryokan and Nakatani Foundation.

[2020-11-16 00:54] jidanni commented on #4034
Perhaps even the Android version number could be  stuffed into it also, just like when creating a feedback email ...

[2020-11-16 01:14] nicolas-raoul commented on #4034
If the GitHub API allows to remember a version number when show the list of existing issues, then auto-fill the version number if the user chooses to create a new bug, that would be ideal indeed. Please anyone reopen if you find a way to achieve that.

[2020-11-16 19:36] gouri-panda commented on #4038
@nicolas-raoul Can I work on this issue?

[2020-11-16 21:59] nicolas-raoul commented on #4038
Sure, thanks! 🙂

On Tue, 17 Nov 2020, 04:36 gouri-panda, <notifications@github.com> wrote:

[2020-11-16 22:48] jidanni commented on #4034
Well https://docs.github.com/en/free-pro-team@latest/rest/reference/issues#create-an-issue gives full control of the content...

[2020-11-16 22:50] jidanni commented on #4034
And https://www.google.com/search?q=prefill+github+issue finds tons...

[2020-11-17 01:55] jidanni commented on #4
All I know is I have a
[code]
that my phone makes, that I want to upload directly, without even knowing what formats are even all about.

[2020-11-17 01:58] jidanni commented on #4
For instance, with YouTube no matter what format we upload in, it is not exposed to the user.

And when people view the video on YouTube, it is usually not in the same format that it was uploaded in anyway. Therefore we see websites take care of all this legal stuff for the user automatically.

[2020-11-17 07:11] gouri-panda commented on #4037
@nicolas-raoul Can I work on this issue?

[2020-11-17 09:06] misaochan commented on #3986
I'm good with changing the text to "Limited connection mode".

[2020-11-17 09:14] #3757 closed

[2020-11-17 09:15] misaochan commented on #3968
We have a wiki for the same purpose: https://github.com/commons-app/commons-app-documentation/blob/master/android/Volunteers-welcome!.md

[2020-11-17 09:17] misaochan commented on #2818
@anadi198 I have just merged your other PR. Please feel free to work on this now if you'd like.

[2020-11-17 15:37] jidanni commented on #4034
Maybe the issue, with a few fields filled in, could be created.
Then a link given to the user: "OK, issue `#1234` created. Please
browse it and add any missing details."

[2020-11-17 17:49] jidanni commented on #3968
OK, but
1. Starting as a user looking at the wording on #3984
2. There is no path for them to ever reach [that wiki page](https://github.com/commons-app/commons-app-documentation/blob/master/android/Volunteers-welcome!.md).

[2020-11-17 19:11] #4015 closed

[2020-11-18 23:29] heinrich5991 commented on #3924
https://github.com/commons-app/apps-android-commons/blob/ffdfb05d5f054dd58f40991c886edd4fb0901098/app/src/main/java/fr/free/nrw/commons/location/LocationServiceManager.java#L48-L53

I think the fix might be as simple as changing this `&&` to a `&` so that both operands are always executed.

[2020-11-20 10:45] Prince-kushwaha commented on #4026
Anyone review my pull request #4041 and #4028

[2020-11-20 12:47] Prince-kushwaha commented on #3981
This issue is not solved in the master branch
I want to work on this issue

[2020-11-20 12:52] ashishkumar468 commented on #3981
@Prince-kushwaha Sure, go ahead, please post updates over here :)

[2020-11-20 13:03] Prince-kushwaha commented on #3981
assigness me for this issue

[2020-11-20 13:04] Prince-kushwaha commented on #3981
@ashishkumar0207 can  review my pull request #4041 and #4028

[2020-11-21 10:25] anadi198 commented on #2818
Just making sure,

needs to be changed to something like:

Also, should I save the "don't display again" boolean into saved preferences?

[2020-11-21 11:43] fnordson commented on #746
Has there been any progress on this feature?
I'm kinda lost with the Tags here and it being moved from "in progress" to "done".

[2020-11-22 03:10] nicolas-raoul commented on #746
@fnordson I have never tested it yet, but I believe it is now implemented on the master branch, which you can get by opting for the alpha version, instructions at https://github.com/commons-app/commons-app-documentation/blob/master/android/Volunteers-welcome!.md#how-to-install-the-alpha Thanks!

[2020-11-23 01:24] nicolas-raoul commented on #4037
@gouri-panda Sure, thanks!

[2020-11-23 07:32] fnordson commented on #746
I've successfully signed up yesterday but I didn't get the Alpha. Still on 2.13.2.
I was in the Beta programme already.

[2020-11-23 11:15] misaochan commented on #746
Hi @fnordson , what email address did you sign up to the alpha google group with?

[2020-11-23 11:29] #4026 closed

[2020-11-23 12:01] nicolas-raoul commented on #746
@fnordson Can you please post a screenshot of your About screen? The commit number might reveal something.

[2020-11-23 17:30] misaochan commented on #2818
Yes, that is correct. :)

I don't see why not.

[2020-11-23 17:41] #4001 closed

[2020-11-23 17:42] misaochan commented on #3981
I merged your other PRs. :) Please feel free to work on this now @Prince-kushwaha .

[2020-11-23 20:15] neslihanturan commented on #4014
Hi Josephine, I investigated this issue today. DiffUtils does not do its job for some reason, will look closer tomorrow. However, I think this issue is not related with latest changes.

[2020-11-23 23:46] jidanni opened #4042 "Highlight currently active image with a contrasting border"
Here in 2.13.1.835~9375a8b there is confusion of what the grayed out image means. Only on the second page now do we realize that it's not indicating a half uploaded image, but just indicating which image we are answering questions about. Please resolve such confusion via some redesign so basic uses don't get confused. Thanks.
![Screenshot_20201124-074059](https://user-images.githubusercontent.com/

[2020-11-23 23:50] jidanni opened #4043 "Accessibility: overlapping seen with larger font sizes"
Here in 2.13.1.835~9375a8b we see that some older users who have cranked up their cell phone font size etc.  settings, will not be able to see all the items on the page due to overlapping. Therefore more testing needs to be done at different font sizes to make sure the app will work for all of them. Also consider screen magnification sizes excetera, all the things that you'll find on a common Andr

[2020-11-23 23:51] jidanni commented on #4043
Following simple accessibility principles will ensure a clear view for all app users.

[2020-11-24 00:26] jidanni opened #4044 "The number of steps is influenced by the number of images"
In #4042 we observe how if you are uploading one image there are four steps. But if you're uploading two images,  it becomes five steps. Thus we can see that you're confusing two kinds of steps. This would never happen on the website version.
So call them 1.1, or 1A, Etc.

Yes, it is correct that there are indeed five steps but you are still confusing two kinds of steps. Thank you.

[2020-11-24 06:47] fnordson commented on #746
@misaochan fnord.moto@gmail... (I will edit it away as soon as I posted this)

@nicolas-raoul :

![grafik](https://user-images.githubusercontent.com/5624605/100058280-4882ca80-2e29-11eb-88cb-abf1dbfd3dfc.png)

[2020-11-24 06:49] fnordson commented on #746
@misaochan you should have got it if you have notifications on.

@nicolas-raoul
![grafik](https://user-images.githubusercontent.com/5624605/100058443-90095680-2e29-11eb-939d-e9f07a60196e.png)

[2020-11-24 07:47] nicolas-raoul commented on #746
@fnordson Does Play Store show the app as up-to-date? And if yes, would you mind trying to uninstall and reinstall? Sorry for the inconvenience!

[2020-11-24 11:00] anadi198 commented on #2818
@misaochan I'm not sure if just opening a PR notifies the necessary people or not so I'm just dropping this comment to update you.

[2020-11-24 17:42] fnordson commented on #746
@nicolas-raoul No problem. I did uninstall it twice now. Once a few hours after I joined the alpha programme and a second time minutes ago. (Other apps did update in that time so it's not my store or something like that)
It does say that I'm a beta tester before I install:

![grafik](https://user-images.githubusercontent.com/5624605/100131692-ac86ac80-2e84-11eb-9eb3-927e49a16c94.png)

[2020-11-25 05:02] #4020 closed

[2020-11-25 09:55] misaochan commented on #746
@fnordson , I did not receive a notification, hence why I am asking for the email address that you signed up with, so that I can check if you are actually a member of the group (which is required for alpha testing). If you don't wish to reveal it here, please email commons-app-android-private@googlegroups.com so that we can look into it.

Alpha testing is a subset of beta testing. To be an alpha t

[2020-11-25 09:59] misaochan commented on #4014
Thanks for the investigation @neslihanturan ! It's good to know that it's not related, however we still have to fix it before releasing v3.0 as it's a pretty major bug.

[2020-11-25 10:03] #2818 closed

[2020-11-25 10:04] misaochan commented on #4043
Good point. We should at the very least minimize the top card if there is insufficient space.

[2020-11-25 10:07] misaochan commented on #4042
Could you suggest a modification that would make it clearer to you which picture is active?

[2020-11-25 17:55] sivaraam commented on #4042
To me, highlighting the currently active image using a contrasting border comes to mind.

[2020-11-25 17:56] fnordson commented on #746
@misaochan I seems my join to the group had been blocked by my adblocker. I'm in now...sorry for the confusion :(

[2020-11-26 02:34] jidanni commented on #4042
Yup, so greyed-out or one side of a single image itself being greyed-out should indicate partial uploading states. And then a border around an image, no matter if it's greyed out or not, could indicate this is the current selected image that we are adding notations to.

[2020-11-26 10:24] misaochan commented on #746
Happy to hear that @fnordson :)

[2020-11-26 10:25] misaochan commented on #4042
Great idea! I think this would be a nice task for a beginner. :)

[2020-11-27 05:45] jidanni commented on #4034
https://ytdl-org.github.io/youtube-dl/ , if you hit the  Support button, leads straight into their template.

[2020-11-27 05:46] jidanni commented on #4034
https://github.com/ytdl-org/youtube-dl/issues/new/choose

[2020-11-27 05:54] nicolas-raoul commented on #4034
It is not what we want, unfortunately. We want people to first check whether a similar issue exists.

[2020-11-27 23:37] jidanni commented on #4034
To report a bug, follow these easy steps:
1. First [check](https://github.com/ytdl-org/youtube-dl/issues) if a similar issue exists.
2. No? Really? OK, then please [report it](https://github.com/ytdl-org/youtube-dl/issues/new/choose)!

(Using youtube-dl as an example.)

[2020-11-28 06:24] jidanni opened #4046 "Identical file names seen during upload"
In 2.13.1.838~9202c3a
we observe that during uploading the two file names are exactly the same! This is rather frightening to the user. Only after the upload is complete do the file names become different with one having a number two added to it. Why can't this be done before showing them to the user?
![Screenshot_20201128-141051](https://user-images.githubusercontent.com/1230959/100495305-3f755e8

[2020-11-28 06:29] jidanni opened #4047 "Field tip truncated on small screen / big font"
If the (older) user has larger fonts enabled, then the  numbers after "limit 2" are truncated.
2.13.1.838~9202c3a
![Screenshot_20201128-140726](https://user-images.githubusercontent.com/1230959/100495369-11dce500-3186-11eb-9ba6-e4eed5c8609a.jpg)
We also note a logo, covering up the word after "media".

[2020-11-28 06:38] jidanni opened #4048 ""copy to subsequent media" button"
Version 2.13.1.838~9202c3a.
Shouldn't the words "copy previous captions and description" go away after we press it?
![Screenshot_20201128-141002](https://user-images.githubusercontent.com/1230959/100495491-456c3f00-3187-11eb-9a05-59bb424e5cc7.jpg)
(You know we pressed it several times thinking that it is the only choice on this tiny little shred of window that's left visible, (due to probably bein

[2020-11-28 06:47] jidanni opened #4049 "Add option to not have the app run in the background"
Can there please be an option added to not have the app run in the background? I don't actually see the point of having the app run in the background.
![Screenshot_20201128-144311_1](https://user-images.githubusercontent.com/1230959/100495658-a0526600-3188-11eb-8ea4-544d3331ece6.jpg)
In fact, this is the only app out of probably one hundred on on my cell phone that triggers this kind of message. O

[2020-11-28 16:20] Saral-code commented on #4042
I would like to work on this issue. Please assign me this issue.

[2020-11-28 16:55] ashishkumar468 commented on #4038
Hi, I have been able to reproduce this issue too, seems like this happens while some upload is going on and since we use the the pagedListAdapter, whose getItem function is @Nullable we need to handle the case when the item returned is null, this could happen when the differ is still processing the item, @gouri-panda , you might want to handle this in the adapter itself instead of the ViewHolder

[2020-11-28 17:43] ashishkumar468 commented on #3981
Hi @Prince-kushwaha  are you still working on this?

[2020-11-28 17:49] ashishkumar468 opened #4051 "App crashes while back press in explore"
**Summary:**

App crashes when switching tabs and pressing back in explore

**Steps to reproduce:**

Open the app->Click on Explore->Switch Tabs->Press back
**System logs:**

[code]

**Device and Android version:**

What make and model device (e.g., Samsung J7) did you encounter this on?
What Android version (e.g., Android 4.0 Ice Cream Sandwich or Android 6.0 Marshmallow) are you running?
Is it t

[2020-11-28 18:17] #4019 closed

[2020-11-28 18:22] #4051 closed

[2020-11-28 18:30] Saral-code opened #4053 "Cannot sign up !!! error connection timed out"
After pressing the run, the button app gets installed, and the login window is opened. When I try to sign up, it shows a message of the web page not available.
![WhatsApp Image 2020-11-28 at 11 55 57 PM](https://user-images.githubusercontent.com/54104573/100523336-d2d68000-31d5-11eb-9cc8-821219f56949.jpeg)
mobile : realme 3 pro
Please help! I really want to contribute to this app!

[2020-11-29 01:37] Prince-kushwaha commented on #3981
Yes

[2020-11-29 02:02] Prince-kushwaha commented on #3981
Make PR in few days

[2020-11-29 05:14] ashishkumar468 commented on #3981
@Prince-kushwaha Thanks for the update, how are you planning to approach the issue?

[2020-11-29 06:21] Prince-kushwaha commented on #3981
* fixes automatically triggered of Upload then their is no Pending of uploads of media
* fixes notification that is not dismissing

[2020-11-29 07:42] gouri-panda commented on #4038
@ashishkumar0207 What should we add to the default value in  `PageListAdapter`?

[2020-11-29 08:22] ashishkumar468 commented on #4038
There should not be any default value, I am not very much aware of the api but for now I guess just handling the NPE in the adapter should be fine

[2020-11-29 08:54] gouri-panda commented on #4038
@ashishkumar0207 I'm still confused how do we handle this situation? Thanks!
[code]

[2020-11-29 10:50] #4053 closed

[2020-11-29 15:56] ashishkumar468 commented on #4038
Hi @gouri-panda, I meant in the ContributionListAdapter#onBindViewHolder, basically not to call holder.init when there are chances of getItem being null

[2020-11-29 16:26] ashishkumar468 commented on #343
Seems like the case for the string `"contributions_subtitle"`. Should be probably simpler to remove the plural item for the quantity "zero" and handle it via branch statements instead of from the strings, raising a PR soon

[2020-11-30 14:36] nicolas-raoul commented on #4049
What this notification means and how to turn it off:
https://www.howtogeek.com/325083/how-to-disable-the-is-running-in-the-background-notification-on-android-oreo/

[2020-11-30 14:40] nicolas-raoul commented on #4048
I have no strong opinion on this, let's let the UX experts decide :-)

[2020-11-30 14:43] nicolas-raoul commented on #4047
Curious to hear what the UX experts think about this.
Could you please post a screenshot of 2 or 3 other similar apps to show how other apps handle a field tip too long to fit?

[2020-11-30 14:48] nicolas-raoul commented on #4046
This is working as intended.
These are not filenames, they are captions.
Captions are human-friendly.
Ideally the picture should show up instead of these grey placeholders, so that you can make a difference between each.

[2020-11-30 14:48] #4046 closed

[2020-11-30 14:49] nicolas-raoul commented on #4044
This is by design.
If many users complain about it, this can probably be reconsidered.

[2020-11-30 14:49] #4044 closed

[2020-11-30 14:57] misaochan commented on #3635
Is anyone interested in taking this up or diagnosing it further? We have another report at https://commons.wikimedia.org/wiki/Commons:Village_pump#Bug_report_for_wrong_cats_on_upload

[2020-11-30 15:27] jidanni commented on #4046
(Well they are 99% similar to what the filenames end up being.
You see the user wants to make sure they have chosen good filenames.
As it is 100 times harder to change them later (yes, on the website) then any of the other things they type in.
OK, well we'll just trust the app to make good filenames. If the end up not good, well at least one can't blame the user.)

[2020-11-30 15:32] jidanni commented on #4049
Yes, the notification is correct and nobody should try hacking their phone to turn it off.

There is no reason the app should be continuously running in the background.

Not even the mighty facebook app does this.

And most folks would be uploading five times more pictures per day to Facebook than to commons.

It's just like if I leave my car's motor running all night because I might want to drive

[2020-11-30 15:35] jidanni commented on #4048
It could stay, if the Next Step button was visible enough on some users' crowded screens without it needing to go away to leave room for that button... (Yes, sloppy users leave big keyboards on the screen.)

[2020-11-30 15:38] jidanni commented on #4047
Mmmm, I don't know. Maybe related: https://developer.android.com/guide/topics/ui/look-and-feel/autosizing-textview

[2020-11-30 15:40] jidanni commented on #4047
https://developer.android.com/guide/topics/ui/accessibility

[2020-11-30 15:41] jidanni commented on #4049
https://developer.android.com/docs/quality-guidelines/build-for-billions/battery-consumption

[2020-11-30 16:05] jidanni commented on #4047
I was also going to mention
https://material.io/design/usability/accessibility.html#implementing-accessibility
but due to https://bugs.chromium.org/p/chromium/issues/detail?id=1153673
it takes some work to get exactly there.

[2020-11-30 16:08] jidanni commented on #4047
https://material.io/design/typography/understanding-typography.html#readability is OK though.

[2020-11-30 16:43] Saral-code commented on #3681
I would like to work on this. Can you assign me this issue?

[2020-11-30 18:37] sivaraam commented on #3681
@Saral-code sure. You can work on this. 🙂

[2020-11-30 18:43] sivaraam commented on #3635
@misaochan Just to make it more clear, is this issue only about diagnosing the issue and fixing it or does it also involve using the [310ABP](https://github.com/JakeWharton/ThreeTenABP) library that Macgills mentions in one of the earlier comments?

[2020-11-30 19:20] AdityaArunSharma commented on #3968
Hey! @misaochan @jidanni  @nicolas-raoul
I am a begineer in open source but have little experience in andriod development.
Can I work in this good first issue? I am very eager to start with open source.

[2020-11-30 19:25] AdityaArunSharma commented on #2874
@neslihanturan  is this issue still open. Can i work on it?

[2020-11-30 19:27] AdityaArunSharma commented on #3361
@neslihanturan is this issue still open? can it be assigned to me?

[2020-11-30 20:07] #3314 closed

[2020-11-30 23:30] nicolas-raoul commented on #3968
@AdityaArunSharma The "good first issue" was about searching strings and it is done already, I just forgot to remove the tag, sorry for the confusion! Anyway welcome to the team, glad to have you on board ! :-) Would you mind finding another issue at https://github.com/commons-app/apps-android-commons/issues?utf8=%E2%9C%93&q=is%3Aopen+is%3Aissue+no%3Aassignee+-label%3Aassigned+-label%3Adebated+lab

[2020-11-30 23:35] nicolas-raoul commented on #4038
Note: This also happens while not uploading, even after restarting the phone and before starting any upload. I just sent a crash log with the name "scrolling down".

[2020-12-01 00:59] jidanni commented on #4047
In the first picture on https://github.com/commons-app/apps-android-commons/pull/4055#issuecomment-736014504
the "Limit 2..." looks a whole lot better!

[2020-12-01 02:19] Prince-kushwaha commented on #3981
Not able to solve this issue completly

[2020-12-01 03:00] nicolas-raoul commented on #3981
@Prince-kushwaha No problem, just commit and push your code into a branch on your repository and link to it here so that others can have a look :-) Also please feel free to share here any tips or things you have noticed. Thanks for your work!

[2020-12-01 03:12] ashishkumar468 commented on #4038
Probably in that case catching the exception might not work. I came across something, https://github.com/airbnb/epoxy/issues/585, @gouri-panda, this might help. Also can you confirm, if hasStableIdss(true) is enabled for this recycler view

[2020-12-01 03:15] Prince-kushwaha opened #4058 "Add feature in Login Account"
**Summary:**
In Login Activity add feature when click on the username field it so the previous Login Username
So that the user not type username again again for the Login
**Commons app version:**
2.13.2~757c7b.0008
**Would you like to work on the issue?**
Yes
Please let us know whether you want to fix the issue by yourself. If not, anyone can get the issue assigned to them.
Yes

[2020-12-01 03:16] Prince-kushwaha commented on #4058
I want work on this
assignees me

[2020-12-01 11:01] misaochan commented on #3635
Diagnosing and fixing it. Switching to 310ABP is a potential method for fixing the problem (and would be a nice upgrade), but it's not strictly necessary.

[2020-12-01 11:06] misaochan commented on #4048
Now that we have changed our upload process significantly, I wonder if there's a better way to handle copying title/desc, than to have that big chunk of text on every screen. That button is, after all, a relic of our old upload process where multiple uploads were not yet possible from within the app.

My thought is that we could have a "copy" icon on the first upload screen, and if the user taps i

[2020-12-01 11:08] #343 closed

[2020-12-01 11:08] misaochan commented on #343
@Nikerabbit , we have merged a fix, please let us know if the problem still occurs.

[2020-12-01 11:12] misaochan commented on #4049
I don't actually get this notification for the app despite not having it turned off. It would be good if you can provide specifics about when it triggers for you, e.g. only when uploading? did you open Nearby? or does it just happen all the time? etc. Alongside your Android version and device.

[2020-12-01 11:14] misaochan commented on #4047
The first picture in that comment is what happens when you tap on the text field.

[2020-12-01 13:17] nicolas-raoul commented on #4048
I use that button very often when uploading many pictures of the same town for instance.

The "copy to subsequent media" button idea is great!
The desktop Upload Wizard actually has that, so it most of the serious Commons users will find it familiar:
<img width="280" alt="Screen Shot 2020-12-01 at 22 13 23" src="https://user-images.githubusercontent.com/99590/100745481-afecdb80-3422-11eb-96cb-e086

[2020-12-01 13:48] misaochan commented on #2874
@arishta Would you /your teammate like to make the requested changes in #4000 ?

@AdityaArunSharma Thanks for your interest, but there is already a PR up for this (pending requested changes). :) Please feel free to look for any other issues with the "bug" or "good first issue" label.

[2020-12-01 13:50] misaochan commented on #4058
I am not sure if this would be a desirable feature, due to security/privacy concerns. I know that some apps do this, but Wikimedia privacy guidelines might be different. @nicolas-raoul @sivaraam what do you think?

[2020-12-01 13:56] #4018 closed

[2020-12-01 13:56] #3341 closed

[2020-12-01 14:23] isdl03 commented on #2874
@misaochan Since we are working on two more issues from this app, there has been some delay. We will make the requested changes and submit the PR as soon as possible.
Thanks.

[2020-12-01 14:23] nicolas-raoul commented on #4058
I would say it is not really desirable.
An activist might not like this feature when the bad guys find out that their phone contains a username linked to pictures of them doing bad things. Sounds extreme, but it is what privacy is about.
If someone logs out, we better forget them.

Some OS-level password managers exist for people who need this, what we could do is make sure that we are compatible

[2020-12-01 15:27] Prince-kushwaha commented on #4037
i want to work on this issue
Assignees me

[2020-12-01 16:30] madhurgupta10 commented on #4049
I think this issue might be similar to https://github.com/commons-app/apps-android-commons/issues/3981 If I recall correctly in older android versions the progress bar is not shown for non dismissing notifications.

[2020-12-01 16:37] gouri-panda commented on #4037
@Prince-kushwaha Sorry, I'm working on this issue.

[2020-12-01 17:39] sivaraam commented on #4058
I agree with @nicolas-raoul. As a matter of fact, I haven't seen many Android apps that remember username. Also, I don't even see much use for it in out app given that users don't get logged out unless they manually do so. So, I don't see how this would be beneficial either.

On a _side note_, there were two global logouts [[1](https://lists.wikimedia.org/pipermail/wikitech-l/2020-June/093543.html

[2020-12-01 20:20] Saral-code commented on #3681
Hello Everyone,
Here are the few things I observed:
1. Answering @nicolas-raoul , this list coming from the JRE (Java Runtime Environment) on which the app is running and I don't think that list can be altered.
2. Almost every JRE has same number of languages, so changing JDKs or JREs won't help.

What I think we can do is as follows :
1.  Manually creating a list of all languages, which I think i

[2020-12-01 21:53] jidanni commented on #4049
Yes, I bet they're related. So I'll just wait till the other one gets fixed and  uploaded...

[2020-12-01 21:57] jidanni commented on #4047
Well, just here using the GitHub app it seems everybody's comments on these issues are nicely wrapped and folded or whatever, never going off the screen, even though they are one long line.

[2020-12-01 22:37] isdl03 commented on #2874
@misaochan We are unable to make the changes in the current PR #[4024](https://github.com/commons-app/apps-android-commons/pull/4024)  . Is it alright if we create a new PR?

[2020-12-02 01:12] nicolas-raoul commented on #4037
@Prince-kushwaha please choose an issue by clicking on the "unassigned issue" link at https://github.com/commons-app/commons-app-documentation/blob/master/android/Volunteers-welcome!.md#developers Thanks!

[2020-12-02 02:01] nicolas-raoul commented on #3681
@Saral-code Thanks for listing your observations, and for listing different strategies while evaluating them, very good methodology.

Actually, I think that the best way would be a 4th way of getting languages, which is hinted at https://github.com/commons-app/apps-android-commons/issues/3681#issuecomment-617107276.
`AppLanguageLookUpTable.java` indeed contains various methods that look like they

[2020-12-02 02:26] nicolas-raoul commented on #4047
@jidanni Important content is wrapped  of course, but have you seen many major apps wrapping **field tips**?

[2020-12-02 09:43] misaochan commented on #2874
Hi @isdl03 , it seems like this is the 3rd PR you are creating for fixing a small issue. Could you elaborate on the problems you are experiencing with just pushing your changes to the existing PR? Maybe we can help you.

[2020-12-02 11:44] Prince-kushwaha commented on #3981
Any one explain me how Uploading of media work in this app

[2020-12-02 11:56] Prince-kushwaha commented on #3981
on  install latest branch
there is many bugs regarding uploads

[2020-12-02 17:07] misaochan commented on #4058
I agree. Closing then, since it appears to be unanimous.

[2020-12-02 17:07] #4058 closed

[2020-12-02 18:17] sivaraam opened #4060 "Does the app ever log users out?"
There were two global logouts [[1](https://lists.wikimedia.org/pipermail/wikitech-l/2020-June/093543.html)], [[2](https://lists.wikimedia.org/pipermail/wikitech-l/2020-October/093922.html)] in the past 6 months. The Wikipedia app logged me out properly during those occurances but I don't remember being logged out of the Commons app. I wonder why? 🤔

Also, does the app ever automatically log someon

[2020-12-02 18:17] sivaraam commented on #4058
Done. #4060

[2020-12-02 19:19] jidanni commented on #4047
If that their official name?
https://www.google.com/search?q=android+%22field+tips%22
can't find them.

[2020-12-03 04:18] Prince-kushwaha commented on #2296
I want to solve this issue

[2020-12-03 04:19] Prince-kushwaha commented on #2296
I solved this issue can i make an PR

[2020-12-03 15:11] isdl03 commented on #2874
@misaochan PR #[4024](https://github.com/commons-app/apps-android-commons/pull/4024) is showing changes in the complete file, and we could not get rid of these unnecessary changes.

[2020-12-03 17:59] sivaraam commented on #2874
@isdl03 PR #4000 didn't have unnecessary changes. So, you could try updating that.

[2020-12-03 20:13] Saral-code commented on #3681
_Thanks for the compliment @nicolas-raoul , this methodology helps in letting another person understand properly how am I thinking._
Firstly, As asked by @nicolas-raoul , here are the outputs- (These outputs were coming from \apps\data-client\src\main\res\values\languages_list.xml)
[code]

<<all above outputs are converted into string format, actual output was List<String> data type>>

SOLVING INT

[2020-12-04 00:14] nicolas-raoul commented on #3681
Thanks for the investigation!

Where the spinner retrieves a list of languages, please use `getCodes()` for the identifiers and `getLocalizedNames()` to display in the GUI. That is the list of language choices we need :-)

Please list them in the order they come in (most popular languages first). If we figure out something smarter it will be the subject of a separate issue. Thanks a lot!

[2020-12-05 03:19] Prince-kushwaha opened #4063 "After click on backButton, application goes back to the exploreActivity"
**Summary:**
when your are at SearchActivity  then click on Backbutton application goes back to exploreActivity .
I want application goes to RecentSearch fragment  and when click again on backbutton application goes back to exploreActivity.

**Steps to reproduce:**

->Explore
->Search something
->Click on BackButton

**Device and Android version:**
API :29
**Commons app version:**
2.13.1
**Screen-

[2020-12-05 03:20] Prince-kushwaha commented on #4063
I want to work on this issue
asssinged me

[2020-12-05 05:57] Prince-kushwaha opened #4065 "If phone not connected with internet our Appliction does not show any message or DailogBox"
**Summary:**
when our app is not connected with Internet I want to add an DailogBox or message which show You are not connected with Intenet
**Commons app version:**
2.13.1
**Would you like to work on the issue?**
YES
Please let us know whether you want to fix the issue by yourself. If not, anyone can get the issue assigned to them.
YES

[2020-12-05 05:58] Prince-kushwaha commented on #4065
I want to work on this
can i work

[2020-12-05 16:01] Prince-kushwaha commented on #4065
@nicolas-raoul

[2020-12-05 16:02] Prince-kushwaha commented on #4065
can i work

[2020-12-05 18:43] sivaraam opened #4070 "Use the primaryLightColor for dark theme in the app"
There's a color specified in `colors.xml` with the name [`primaryLightColor`](https://github.com/commons-app/apps-android-commons/blob/master/app/src/main/res/values/colors.xml#L19). It looks like a nice complement to the [`primaryColor`](https://github.com/commons-app/apps-android-commons/blob/master/app/src/main/res/values/colors.xml#L17). While `primaryColor` seems suited for light theme, the l

[2020-12-05 18:52] #3946 closed

[2020-12-06 02:17] nicolas-raoul commented on #4065
It is intended that such a notification does not appear.
The app is usable (not fully but some feature) without an Internet connection.

[2020-12-06 02:17] #4065 closed

[2020-12-06 02:30] Prince-kushwaha commented on #4065
Every app show an Layout or DailogBox  when Internet is not connect it show only
when their is having need of Internet to Loading data from Internet and show data to user

[2020-12-06 02:35] Prince-kushwaha commented on #4065
Like in commons app need to show an Layout or DailogBox when Internet is not connected In some activity like-MainActivity,ExploreActivity and where having need

[2020-12-06 04:52] Prince-kushwaha opened #4072 "Crash after opening media from the explore search"
**Summary:**
click on the image then app is crashed

![Screenshot_2020-12-04-21-47-33-116_fr free nrw commons beta](https://user-images.githubusercontent.com/65972015/101271893-2126e880-37ad-11eb-8bba-a8e6704f51a9.jpg)

**Steps to reproduce:**
->click on explore
 ->click on search icon search something
->click on the result image
What did you expect the app to do, and what did you see instead?
App

[2020-12-06 04:58] Prince-kushwaha commented on #4072
This  issue raise  after pull request is merge #3891

[2020-12-06 04:59] Prince-kushwaha commented on #4072
I want to work on this issue
assinged me

[2020-12-06 13:39] madhurgupta10 opened #4073 "Delete Old UI Tests?"
**Summary:**
![Capture](https://user-images.githubusercontent.com/30932899/101281691-7dfac100-37f6-11eb-9d5f-c0718b5e5a21.PNG)

[2020-12-06 18:11] domdomegg commented on #4073
I support removing the tests if they don't even compile. We haven't been running these instrumentated tests in so long it'd be great to see them fixed or removed so we can get them running in Travis again.

[2020-12-06 19:07] #3873 closed

[2020-12-06 20:33] domdomegg opened #4077 "Removing pmd and checkstyle"
The build currently contains two steps, `checkstyle` and `pmd` which were previously used to check code quality. Since 2017 Android's own `lint` tool has lessened the need for both of these, and we've actually set the old tools to [ignore their own failures](https://github.com/commons-app/apps-android-commons/blob/dcd767351bf45524d8d8c994b47aa0184f615f31/app/quality.gradle#L27). Additionally, pmd

[2020-12-07 00:41] domdomegg commented on #1491
https://github.com/commons-app/apps-android-commons/issues/3530

[2020-12-07 00:41] #1491 closed

[2020-12-07 00:45] domdomegg commented on #3530
Kotlin Android extensions looks to be being deprecated in favour of view binding for Android. However, looks like support will only be dropped in September 2021

https://android-developers.googleblog.com/2020/11/the-future-of-kotlin-android-extensions.html

[2020-12-07 02:09] Prince-kushwaha opened #4079 "menu item are not visible"
**Summary:**
In Different Activity or fragment color of toolbar is different In some activity color of toolbar and color of menu item is same due
to this menu item are not visible

**Steps to reproduce:**
open different pages of app see the toolbar and menu item

**Device and Android version:**
 Android Device:Redmi Y3
API :29
**Commons app version:**
2.13.1~debug-issue15~b24ed1cf6
**Screen-shots:

[2020-12-07 02:11] Prince-kushwaha commented on #4079
I want to work on this issue
asssimed me

[2020-12-07 02:23] Prince-kushwaha commented on #4079
This issue raise after pull request is merge #3891

[2020-12-07 02:27] Prince-kushwaha commented on #4079
@neslihanturan hi

[2020-12-07 02:30] Prince-kushwaha commented on #4079
which color i used for toolbar or menu item
UI v.3 there are two color toolbar white and blue

[2020-12-07 06:33] Prince-kushwaha opened #4081 "App is crash when Backbutton is pressed"
**Summary:**

App is crash when we are at Contributions,Favorities page and then backButton is pressed

**Steps to reproduce:**
->Go to contributions,Favorities
->Backbutton pressed
What did you expect the app to do, and what did you see instead?
App does not crash we backbutton pressed

**Device and Android version:**
Android Device :Redmi
API :29
**LogCat**
2020-12-07 11:56:58.628 8131-8131/fr.f

[2020-12-07 09:10] Prince-kushwaha commented on #4081
I want to work on this issue
assinged me

[2020-12-07 11:26] misaochan commented on #4073
Agreed, we need to either fix or remove these.

[2020-12-07 11:29] misaochan commented on #4081
Thanks @Prince-kushwaha , please feel free to work on this.

[2020-12-07 11:38] misaochan commented on #4077
I agree. To be honest, I scroll right through all of the checkstyle output when going through a Travis build, it is far too verbose.

Do you know if there's a way to add Android lint checks to CI, @domdomegg ? For instance if a PR triggers an additional lint warning, is there a way for the person reviewing the PR to see it without going through the local build?

[2020-12-07 13:02] Prince-kushwaha commented on #4081
@misaochan  review my pull request #4074

[2020-12-07 13:26] gouri-panda commented on #4038
@ashishkumar468  apologies for the delay. I think also the root cause was duplicate IDs among list items.

It's false in `ContributionsListAdapter`
@ashishkumar468 @nicolas-raoul  What should I do?

[2020-12-07 14:38] gouri-panda opened #4084 "App crashes when back button presses on ContributionFragment"
**Summary:**
Application crashes when back button presses on the ContributionFragment.

**Steps to reproduce:**
* Open App
* Press Back button
<details>
  <summary>System Logs</summary>

[code]
</details>

**Device and Android version:**
* Branch: master
* Device: Realme
* Android version: 10

**Screen-shots:**
NA

**Would you like to work on the issue?**
yes

[2020-12-07 15:42] Prince-kushwaha commented on #4084
this issue is same as #4081

[2020-12-07 15:43] Prince-kushwaha commented on #4084
I solved this issue make PR in few day
you work on different issue

[2020-12-07 16:15] #4084 closed

[2020-12-07 16:20] Prince-kushwaha opened #4086 "Crash when tapping on the nearbyNotification in Contributions activity"
**Summary:**
In new UI when click on the nearbyNotification content  app crash
**Steps to reproduce:**
**Go to Contributions
click on the nearbyNotification**

![Screenshot_2020-12-08-10-12-53-464_fr free nrw commons beta](https://user-images.githubusercontent.com/65972015/101441408-084e3c80-393f-11eb-97f8-94d60929eac5.jpg)

**System logs:**

Add logcat files here (if possible).
2020-12-07 21:44:0

[2020-12-07 16:26] Prince-kushwaha commented on #4079
**In new UI which color for toolbar or menu item** ?
Anyone tell me so that i work on this issue

[2020-12-07 16:31] Prince-kushwaha commented on #4086
assigned to me

[2020-12-07 16:32] ashishkumar468 commented on #4038
Hi @gouri-panda, No problem, yes can you try calling setStableIds(true) for the adapter and see if this solves the issue?

[2020-12-07 18:31] gouri-panda commented on #4038
@ashishkumar0207  we can't  use adapter.setHasStableIds(true); with ObservableArrayList/ObservableFields.

[2020-12-07 23:20] domdomegg commented on #4077
Yes, I'll try adding the lint step to the CI gradle build. Ideally with GitHub actions we might be able to get annotations within the PR as you describe. I think to prevent it being too noisy to start with we can create a [lint baseline](https://developer.android.com/studio/write/lint#snapshot) so only new problems are reported. Hopefully over time given more focus on one set of lint checks we can

[2020-12-08 02:30] domdomegg opened #4088 "Update Gradle and Android Gradle Build Tools"
## What

We should keep Gradle and the Android Gradle Build Tools up-to-date.

## How

#4076, but after updating Triple-T/gradle-play-publisher (#4089)

## Why

This will:
- eliminate build warnings
- improving build performance
- added tool capabilities (better debugging etc.)
- better compatibility for running tests in CI (I'd like to get UI tests working again, plus explore GitHub actions as an

[2020-12-08 02:30] domdomegg opened #4089 "Update Triple-T/gradle-play-publisher"
## What

We should update gradle-play-publisher to version 3

## Why

This will provide compatibility with the Android Gradle Build Tools 4.1. See #4088

[2020-12-08 02:31] domdomegg opened #4090 "Using JSON service account credentials"
## What

PKCS (.p12) service account credentials have been deprecated in the Triple-T/gradle-play-publisher plugin for over a year now, and support has finally been dropped in version 3. We should migrate to JSON service account credentials instead.

## How

I think to do this we need to:
1. Login to the GCP project where the current service account is
2. Generate JSON credentials for the account

[2020-12-08 02:31] domdomegg commented on #4089
Currently blocked by #4090

[2020-12-08 03:06] domdomegg opened #4091 "Changing CI provider"
## Background

Travis CI has served us well over the years - I used to use it a lot in my own personal projects. However, travis-ci.org (what we use currently) [is being shut down on December 31st 2020](https://mailchi.mp/3d439eeb1098/travis-ciorg-is-moving-to-travis-cicom?e=%5BUNIQID%5D). We have to migrate CI provider by then.

We can move to travis-ci.com however they are also altering the rule

[2020-12-09 07:58] Prince-kushwaha commented on #4079
@maskaravivek can i work on this issue

[2020-12-09 08:26] mrudultora commented on #4088
@domdomegg  I want to work on this !

[2020-12-09 17:18] #3684 closed

[2020-12-09 18:17] misaochan commented on #4091
Wow, I was unaware that they were shutting down travis-ci.org, and the deadline is pretty close. :/

GitHub Actions does sound like the best option to me, too. We will have to put in the extra work to reimplement alpha auto-publishing, but I reckon that will soon have to be done anyway regardless of what we choose. Pinging @ashishkumar468 @maskaravivek @nicolas-raoul for input.

[2020-12-10 00:50] nicolas-raoul commented on #4091
Quoting https://devclass.com/2020/11/25/travis-ci-open-source-engagement/ :

Not sure what is the easiest, going through the hoops or switching. I am fine with any choice. A point for Travis is that its software itself is open source, unlike GitHub.

I wonder whether WMF has their own Travis or Jenkins server.

[2020-12-10 07:58] Prince-kushwaha commented on #4081
Anyone view my pull request -#4085 and #4092 and #4074

[2020-12-10 12:22] ashishkumar468 commented on #3981
Hi @Prince-kushwaha , are you still working on this one?

[2020-12-10 13:05] Prince-kushwaha commented on #3981
No

[2020-12-10 13:16] Prince-kushwaha commented on #3981
Yes

[2020-12-10 15:28] #4072 closed

[2020-12-10 15:37] misaochan commented on #3981
@Prince-kushwaha could you let us know specifically what you have tried and where you are stuck, please? Unfortunately the questions you are asking are very general and I'm not sure how we can help you with them. :/

[2020-12-10 17:13] 4D17Y4 commented on #4070
Hey, @sivaraam
I want to work on this.

I've changed the colors in Dark theme, although I was unable to get the difference in UI.

The second change was clear and here are the screenshot of the change.

<img src="https://user-images.githubusercontent.com/54016427/101804714-e8ce3400-3b37-11eb-9747-433b62642070.png" width="400">       <img src="https://user-images.githubusercontent.com/54016427/1018

[2020-12-10 18:48] sivaraam commented on #4070
Hi there 👋 Welcome to the project! This color change for dark theme is currently just a suggestion. We still need the opinion of others before we could make the change. Pinging a few people to get their opinion: @misaochan @neslihanturan @nicolas-raoul @madhurgupta10

[2020-12-11 00:23] nicolas-raoul commented on #4070
@sivaraam is right, at first better work on more well-defined issues rather than spend time implementing many details for possibly nothing.

Additionally, at first please focus on bugs as explained at https://github.com/commons-app/commons-app-documentation/blob/master/android/Volunteers-welcome!.md . Here is a URL that gives bugs that are great for newcomers to work on: https://github.com/commons

[2020-12-11 05:52] 4D17Y4 commented on #4070
Thx @nicolas-raoul ,
I'll go through them.

[2020-12-11 09:20] 4D17Y4 commented on #4003
Hey, @nicolas-raoul
Can I work on this issue ?

[2020-12-11 09:38] nicolas-raoul commented on #4003
@4D17Y4 Yes, thanks :-)
Can you see the issue happening? You might have to upload a few pictures before that happens, please see my comment above.

[2020-12-11 09:47] 4D17Y4 commented on #4003
Yes, I can see it.
@nicolas-raoul

There are two thinks playing there part here.
First one is the recycler view whose default animation on uploading is making the screen flash.
Secondly its the SimpleDraweeView used for image which flickers on upload.

So, I was wondering if we want no flickering at all or only the image to flicker on upload.

According to me the flicker on image looks good, sugge

[2020-12-11 09:51] nicolas-raoul commented on #4003
Thanks for the investigation and for confirming, great way to proceed!

We want no flicker at all :-)
The progress bar is there to indicate that the image is being uploaded.

[2020-12-11 14:11] Prince-kushwaha commented on #3994
can i work on this issue

[2020-12-11 14:12] Prince-kushwaha commented on #3994
@nicolas-raoul  can i work on this issue

[2020-12-11 14:28] Prince-kushwaha opened #4096 "In nearby tab when back button is pressed nothing happen"
**Summary:**
In nearby tab back button is pressed then  nothing happen

**Steps to reproduce:**
 Go to nearby tab
 click on Back button is pressed
**Device and Android version:*
Android Device:Redmi y3
API:29
**ScreenShot**

![20201212_134114](https://user-images.githubusercontent.com/65972015/101980005-0a3e3580-3c88-11eb-86ef-96627114f0e7.gif)

**Commons app version:**
2.13.2
**Would you like to

[2020-12-11 16:11] #4017 closed

[2020-12-11 16:20] misaochan commented on #4070
The screenshot on the right looks better indeed to me. :)

(Also it seems the author names are completely hidden in dark mode, you can just see a tiny sliver of the "person" icon on the left, and you can't see the text at all.)

[2020-12-11 18:00] 4D17Y4 opened #4098 "Author names not visible in Dark theme"
**Summary:**
Author names not visible in Dark theme.

**Steps to reproduce:**

Change the App theme to Dark.

What did you expect the app to do, and what did you see instead?

Author names should be clearly visible

**Screen-shots:**

<img src="https://user-images.githubusercontent.com/54016427/101936754-f6062400-3c06-11eb-8066-a9c2af72ecf7.png" height=600>

https://github.com/commons-app/apps-and

[2020-12-12 11:17] Prince-kushwaha commented on #4096
assinge me

[2020-12-12 14:12] Prince-kushwaha opened #4101 "In MediaDetailfragment Editext Dailog is Blank in Dark mode"
**Summary:**

See bug in Screenshot

**Steps to reproduce:**
Go to  Dark mode in app
Click on any media or image
click on Edit view icon

**Device and Android version:**
Android Device:Redmi Y3
API:29

**Commons app version:**
2.13.2

**Screen-shots:**
![WhatsApp Image 2020-12-12 at 7 27 20 PM (1)](https://user-images.githubusercontent.com/65972015/101985876-a5e39c00-3cb0-11eb-8fca-88f2a9905c5b.jp

[2020-12-12 18:57] #4042 closed

[2020-12-12 20:04] 4D17Y4 commented on #3924
Can I work on this one ?

The mentioned issue happens for the first time you login.
As written in the steps to reproduce this bug @heinrich5991

This clears all the data from the app also the last location from the app, so when you login again the app tries to fetch the last location which is not available .

Thus the call to last location of the app returns null causing the app to show the messag

[2020-12-14 07:54] heinrich5991 commented on #3924
The problem is **not** that the error message is shown. The problem is that the location is never determined. Removing the error message would not fix my issue.

[2020-12-14 12:55] #3981 closed

[2020-12-15 13:46] nicolas-raoul commented on #4063
Thanks for the screencasts, that's very helpful to explain the issue.

[2020-12-15 13:47] nicolas-raoul commented on #4096
I can reproduce the issue in latest master.

[2020-12-15 13:50] nicolas-raoul commented on #4086
I can reproduce on latest master.
Thanks for spotting this bug!

[2020-12-15 13:51] nicolas-raoul commented on #4081
I can reproduce this on master.

[2020-12-15 13:55] nicolas-raoul commented on #4079
If I understand correctly, the problem is that in Explore the search icon is white on almost-white background so it is very difficult to see (I can experience this on latest master).

[2020-12-15 15:10] #4014 closed

[2020-12-15 15:25] Saral-code commented on #3681
@nicolas-raoul
Fixed the issue just the way you requested.
All changes and other important info is listed in the PR.

[2020-12-15 16:22] WoodyMats commented on #3651
Hello! I'm new here and i would like to try solve this bug to contribute to the project! Thank you. :)

[2020-12-15 16:58] Prince-kushwaha commented on #4079
Yes

[2020-12-15 17:01] Prince-kushwaha commented on #4086
Pull request is create

[2020-12-15 18:13] Saral-code commented on #4043
Hello,
I would like to work on this issue. I think I can fix that.

[2020-12-15 18:21] Saral-code commented on #4033
I think we can display top 3 result for categories as per depiction terms as suggested by @nicolas-raoul
and if no categories are found we can keep it empty.
I would like to work on this issue.

[2020-12-16 01:54] nicolas-raoul commented on #4033
@Saral-code Thanks for your enthusiasm! Would you mind focusing on bugs first, though? See bullet 3 of https://github.com/commons-app/commons-app-documentation/blob/master/android/Volunteers-welcome!.md#developers :-)

[2020-12-16 07:17] Pratham2305 commented on #4037
@gouri-panda  Are you still working on this issue ?

[2020-12-16 07:28] gouri-panda commented on #4037
@Pratham2305 you can take it.

[2020-12-16 09:23] Prince-kushwaha commented on #4081
yes

[2020-12-16 13:42] Saral-code commented on #4033
OK I'll be back here after 5 PRs. 👍

[2020-12-16 14:03] Saral-code commented on #3969
I think I can fix this issue.
Can I work on this?

[2020-12-16 14:49] nicolas-raoul commented on #3969
Thanks Saral for proposing your help, but actually this "Recent Upload Limit" does not exist anymore, now there is no limit :-)
Sorry that I had forgotten to close this issue.

[2020-12-16 14:49] #3969 closed

[2020-12-16 14:49] Prince-kushwaha commented on #4079
@nicolas-raoul see  in below image  menu icon and toolbar background color is same  so it is difficult to see icon
tell me background color for menu icon and toolbar
![Screenshot_2020-12-07-07-07-11-646_fr free nrw commons beta](https://user-images.githubusercontent.com/65972015/101301002-77536480-385d-11eb-9fc9-06a078386134.jpg)

[2020-12-16 14:50] nicolas-raoul commented on #4033
@Saral-code Wonderful! :-)

[2020-12-16 14:58] nicolas-raoul commented on #4079
Sorry would you mind circling the problem in red?
If possible on a higher-resolution screenshot.
Thanks!

[2020-12-16 15:06] Prince-kushwaha commented on #4079
you can reproduce this issue in master branch
->Go to explore,->search for image
->then click on any search result the see the toolbar it is difficult to  see toolbar icon like- Download ,share ,Star

[2020-12-16 15:21] nicolas-raoul opened #4111 "Search icon is hard to see"
On latest master, go to "Explore"
The search icon (looking glass just above "Uploaded via mobile") is very hard to see as it is white on a very light grey background.

[2020-12-16 15:23] nicolas-raoul opened #4112 "Crash when tapping search result"
On latest master:

- Go to Explore
- Tap the search icon in the upper-right (yes it is hard to see, that's the topic of  #4111)
- Type "rabbit" or anything in the search bar
- Tap any result that appears
- Crash

This also happens with items search.
I just sent 3 logcats.

[2020-12-16 15:38] Prince-kushwaha commented on #4112
This bug is fixed by my pull request -#4074

[2020-12-16 15:39] Prince-kushwaha commented on #4112
install the app with current master branch

[2020-12-16 16:05] Prince-kushwaha commented on #4111
can i work

[2020-12-16 16:15] Prince-kushwaha commented on #4111
this is subissue of my create issue #4079

[2020-12-16 16:17] Prince-kushwaha commented on #4111
i fixes this issue i can make PR

[2020-12-16 17:18] misaochan commented on #4047
Interesting idea @4D17Y4 ! I'm good with moving the info about the character limit to the info tooltip. We should also limit the EditText, but users do still have to be informed.

[2020-12-16 17:19] #4003 closed

[2020-12-16 17:32] misaochan commented on #4043
@Saral-code Please feel free! I think this would be a good issue for you too. :)

[2020-12-17 02:52] Prince-kushwaha commented on #3949
can i work

[2020-12-17 15:03] nicolas-raoul commented on #4112
You are right, I was mistakenly using an old version!
Sorry and thanks for pointing out :-)

[2020-12-17 15:03] #4112 closed

[2020-12-17 15:11] nicolas-raoul commented on #4003
@4D17Y4 Thousands of thanks, the scrolling is so nice now! :-)

[2020-12-18 06:04] nicolas-raoul commented on #3949
@Prince-kushwaha Please focus on bugs for now, thanks! :-)

[2020-12-18 15:42] misaochan opened #4114 "Erroneous data when uploading from Contributions after Nearby"
**Summary:**

After selecting a Wikidata item from the Nearby map to upload an image to, the next upload (through the regular Contributions screen) thinks that you are still uploading from Nearby, and erroneously populates p18.

**Steps to reproduce:**

Go to Nearby map, select a pin, tap "+", tap Gallery. Then go back to Contributions. Upload a picture - the title and desc are prefilled from the

[2020-12-18 15:47] misaochan opened #4115 "Achievements shows "1" and nothing else"
**Summary:**

Achievements activity does not work, it only displays a "1" to me (and my level is also not 1).

**Steps to reproduce:**

Go to Achievements activity (bottom bar > [your username])

**Device and Android version:**

Samsung Galaxy S20FE

**Commons app version:**

ProdRelease, e454cfd98fe7537a9b95960031aa46edaf7a50ab

**Screen-shots:**

![Screenshot_20201219-014603_Commons](https://use

[2020-12-18 15:51] misaochan opened #4116 "Crash when tapping on "Nearby item" card in Contributions"
**Summary:**

Tapping on the Nearby item card in Contributions crashes the app.

**Steps to reproduce:**

Make sure your GPS is on and you have location permissions enabled for the app. When the card at the top of Contributions screen appears, tap it.

**System logs:**

STACK_TRACE=java.lang.NullPointerException: Attempt to invoke virtual method 'android.content.res.Resources androidx.fragment.app

[2020-12-18 16:16] Saral-code commented on #4115
I would like to work on this issue. I think I can fix that.

[2020-12-18 16:17] Saral-code commented on #4116
I would like to work on this issue. I think I can fix that.

[2020-12-18 16:23] misaochan commented on #4115
Go for it, @Saral-code ! :)

[2020-12-18 16:26] misaochan commented on #4116
Great, please feel free to start on this once you have a PR up for #4115 @Saral-code

[2020-12-18 16:27] Saral-code opened #4118 "Introducing new option for deletion of image after selecting them"
PROBLEM : While selecting the pics of someone selects an extra image and wants to remove it ,he/she has to select all the images again in case of multiple images. I think their should be an option for  removing the image  then and there.
SOLUTION :
1. I think that either we can use drag and drop motion to select and drag it to some place to get it deleted.
2. We can create a separate button on the

[2020-12-18 16:31] misaochan commented on #4118
Hmm. To be perfectly honest, this feels a bit like overengineering to me, introducing more complexity for minimal benefit. Personally I've uploaded quite a few sets of multiple images and have never needed to do this, and on the rare occasion that someone changes their mind, the inconvenience to them isn't very high IMO.

What do you guys think @nicolas-raoul @sivaraam ?

[2020-12-18 16:46] misaochan commented on #4091
Talked to @ashishkumar468 about this and he is good with GitHub Actions too. I think we can start looking into making this change. @domdomegg are you familiar with migrating to it?

[2020-12-18 18:36] sivaraam commented on #4118
I haven't used the multi-upload feature much. So, I can't say much about usefulness out of experience. But I could imagine that the following might not be overkill:

I do wonder if that would make the take more precious free space from the already crowded media details input overlay, though (there's also a draft PR for adding a new button that allows the removal of a description: #3504). Especiall

[2020-12-18 19:20] #4098 closed

[2020-12-18 19:47] 4D17Y4 commented on #4114
Can I work on this ?

The issue can be traced as following,

The place parameters are saved as soon as gallery icon is pressed in nearby fragment as shared preferences.
https://github.com/commons-app/apps-android-commons/blob/9e92c95d425a53f98d0b845ea0ef7605af711d24/app/src/main/java/fr/free/nrw/commons/nearby/fragments/NearbyParentFragment.java#L1454-L1459

They are removed as we enter the upload

[2020-12-18 20:14] 4D17Y4 commented on #4047
Should we add a down counter to show the number of characters left like in stackoverflow and in whatsapp ?
@misaochan

[2020-12-19 01:11] ashishkumar468 commented on #4114
@4D17Y4 It is yours :)

[2020-12-19 01:13] nicolas-raoul commented on #4118
I think I agree with Josephine and Kaartic, it would help in a few cases but it would be another feature to maintain, and it would make this screen a bit more complex.
I will close this for now, but please do not take it personally, and please do not hesitate to suggest other ideas, most features in this app were suggested by relative newcomers :-)
Also, anyone who need this feature please comment

[2020-12-19 01:13] #4118 closed

[2020-12-19 10:32] 4D17Y4 commented on #4086
Hey,
I can help here.

Let me walk through the issue,
So first when the the notification is tapped,

https://github.com/commons-app/apps-android-commons/blob/f1b40728b2a21a768428c3181f898e66829e55dd/app/src/main/java/fr/free/nrw/commons/contributions/MainActivity.java#L294-L297

is called which in turn calls the function with same name in nearby fragment

https://github.com/commons-app/apps-androi

[2020-12-19 14:57] Prince-kushwaha commented on #4086
Actually this issue is closed by my pull request #4105

[2020-12-19 14:58] Prince-kushwaha commented on #4086
Actually this issue is closed by my pull request #4105 and merged

[2020-12-19 15:03] Prince-kushwaha commented on #4116
This issue is already create - #4086 and and solved my pull request  #4105

[2020-12-21 10:30] Ankita13-code commented on #4101
Hey! I would like to work on this issue! Can this be assigned to me?

[2020-12-21 10:50] Ankita13-code commented on #3994
@nicolas-raoul I'm new to contributing to wikimedia and would love to take this up as my first issue. Can this issue be assigned to me?

[2020-12-21 11:54] nicolas-raoul commented on #3994
Prince, Ankita: This issue is quite hard, it will require some policy decisions. I would suggest finding another issue at https://github.com/commons-app/apps-android-commons/issues?utf8=%E2%9C%93&q=is%3Aopen+is%3Aissue+no%3Aassignee+-label%3Aassigned+-label%3Adebated+label%3Abug ? Thanks!

[2020-12-21 16:34] Ankita13-code commented on #4111
@nicolas-raoul Shall I work on this issue or is it assigned to someone?

[2020-12-21 18:14] sivaraam commented on #4111
Hi @Ankita13-code 👋. Welcome to the project. Looks like @Prince-kushwaha is working on #4079 which is very related to this issue. So, I believe this is taken. You could find other beginner friendly issue by looking at issues tagged with [good-first-issue](https://github.com/commons-app/apps-android-commons/labels/good%20first%20issue). Also, take a look at our [Volunteers-welcome!](https://github.

[2020-12-21 18:49] misaochan commented on #4114
Thanks for the detailed investigation, @4D17Y4 ! I've merged your PR. :)

[2020-12-21 18:49] #4114 closed

[2020-12-21 18:52] misaochan commented on #4047
I think for the time being, this issue can be handled by simply moving the info. Adding a counter would be a separate enhancement IMO. :)

[2020-12-21 18:57] 4D17Y4 commented on #4047
Cool,
Assign it to me, I'll do a PR first thing in the morning.
Thx .

[2020-12-21 19:05] misaochan commented on #4091
If I recall correctly, the WMF Android team set up the credentials for us. It may be difficult to get them to do it again so close to Christmas and New Year. :/ Let's try running in parallel and I will send them an email.

[2020-12-21 19:11] misaochan commented on #4086
Hi @Prince-kushwaha , there are reviews on your PR #4092 requesting you to rethink the way you are handling the solution, as simply adding a fixed delay is a bandaid. What do you think about the suggestion that @4D17Y4 made instead?

[2020-12-21 19:12] misaochan commented on #4116
Sorry about that, this is indeed a duplicate of #4086 , closing for redundancy.

[2020-12-21 19:12] #4116 closed

[2020-12-21 19:15] misaochan commented on #3994
I think removing Peer Review from the menu during limited connection mode would be the best solution, what do you think @sivaraam @nicolas-raoul ?

[2020-12-21 19:25] misaochan commented on #4047
@4D17Y4 I think you deleted your comment by accident? Sure, I can assign you this issue. Generally speaking issues tagged enhancement tend to be a bit iffy, but as the discussed solution for this is quite simple (and you are not adding any features) I will tag this as "good first issue".

[2020-12-21 19:31] 4D17Y4 commented on #4047
Nope,
Actually I thought same, tagging it as good first issue.
And decided to work on other bugs, letting beginners handle this one ;)

[2020-12-21 19:35] misaochan commented on #4047
Works for me. :)

[2020-12-21 20:21] Pratham2305 commented on #3616
@318anushka @nicolas-raoul  can I work on this issue ?

[2020-12-22 00:26] nicolas-raoul commented on #3616
@Pratham2305 Yes thanks :-)

[2020-12-22 00:33] nicolas-raoul commented on #3994
In my personal opinion, loading a miniature of 1 picture (I mean 1 by 1) is OK in limited connection, especially since opening Peer Review is voluntary.
But I totally agree with removing the menu entry until someone wants to implement that :-)

[2020-12-22 01:50] Prince-kushwaha commented on #4086
Ok

[2020-12-22 04:38] trdillon commented on #4047
Hey, I'm new here and would like to contribute. This looks like a good place to get started, is it available for me to work on?

[2020-12-22 05:15] nicolas-raoul commented on #4047
@trdillon It is yours, thanks! Please post about your progress once in a while :-)

[2020-12-22 12:53] #4101 closed

[2020-12-22 16:42] #4043 closed

[2020-12-22 17:08] 4D17Y4 commented on #4038
Is this still open?
Help me reproduce this issue, I'm somehow not getting it.
@nicolas-raoul  @ashishkumar0207
Thx.

[2020-12-22 17:41] neslihanturan commented on #4063
I am not sure the expected behavior would be going back to the recent searches fragment. I think the way it works now is fine.

[2020-12-22 17:53] neslihanturan commented on #4111
Hey all, actually considering our one issue at a time principle and @Prince-kushwaha has a lots of open pull requests with some reviews, I think we should assign this issue to someone else. After you are done with your existing issues, we can continue to assign you new ones @Prince-kushwaha .

Are you still willing to work on this issue @Ankita13-code ?

[2020-12-22 17:56] neslihanturan commented on #4111
Sorry, if the PR is open for this issue I did not see it. @Prince-kushwaha can you please verify the PR for this issue is not send?

Another note, please do not create one PR for multiple issues or multiple PRs for one issue. It became very hard to control them and review. And please do not claim new issues before you are done with your existing PRs for next time :)

[2020-12-22 17:58] neslihanturan commented on #4079
I confirm this issue exists on light mode. However I can not understand the questions of @Prince-kushwaha , sorry. It is just basic color change depending to the theme. See attrs.xml. There are share and download buttons on toolbar but they are not visible.
![device-2020-12-22-203951](https://user-images.githubusercontent.com/3127881/102918603-40ee2a00-4498-11eb-93b6-cb158e1185af.png)

Since @Prin

[2020-12-22 17:59] shikhar8434 commented on #4111
Sir can I work on this issue please?

[2020-12-22 18:02] shikhar8434 commented on #4079
Can i work on this issue please ?

[2020-12-22 18:08] 4D17Y4 opened #4123 "Abnormal Behavior on theme change."
**Summary:**

On Changing the theme the app behaves abnormally.

Instances:
Change the theme while on the nearby fragment, after getting back to the app we see that we are taken to contributions fragment while the bottom tab still points to the nearby fragment.

Change the theme while on favourites/explore, the app crashes on returning.

What did you expect the app to do, and what did you see inst

[2020-12-22 18:18] 4D17Y4 commented on #3352
I want to work on this,
Assign me.

[2020-12-22 18:22] #3996 closed

[2020-12-22 18:52] sivaraam commented on #3956
We're long past Hacktober now. :)

[2020-12-22 18:53] sivaraam commented on #3956
I think we could remove the 'hacktoberfest' tag from the repository as it doesn't seem necessary any more 🤔

[2020-12-22 19:40] 4D17Y4 commented on #3924
I totally agree with it, but the problem is that it can't be determined either, as this is the first time the fragment is being loaded.

Refining the test conditions would be my shot on it.

Really want to fix this, would be really nice if I get some input on other possible ways to handle this situation. @ashishkumar468 @nicolas-raoul

Thx.

[2020-12-22 23:58] nicolas-raoul opened #4124 "A particular failed upload has no visible caption, retries fail"
![Screenshot_20201223-084533_Commons](https://user-images.githubusercontent.com/99590/102943524-afb09f00-44fb-11eb-9fb6-b427c728ffe3.jpg)
Context: Usually when an upload fails, its caption is visible, and pushing "Retry" succeeds 99% of the time.
Problem: With this one, no caption, and on rertry it always shows the progress bar progressing until the end but then fails, with this error in logcat:
[

[2020-12-23 00:14] nicolas-raoul commented on #4038
@4D17Y4 Yes it is an unassigned bug :-)

The first task would be to understand how to reproduce the issue.

It now fails on a different picture:
[code]
The crash happens when this picture starts showing a bit on the screen: https://commons.wikimedia.org/wiki/File:%E3%82%88%E3%81%86%E3%81%8B%E3%82%93%E3%81%AE%E9%96%8B%E3%81%91%E6%96%B9_3.jpg

This picture is the 24th is my uploads, 25th if counting

[2020-12-23 00:20] nicolas-raoul commented on #3352
@4D17Y4 I think you already have another issue assigned? :-)

Since Animeshk08 has not replied, @gouri-panda can have this one if not already working on any other issue.

[2020-12-23 06:42] Pratham2305 commented on #4124
@nicolas-raoul I have also faced the similar issue in prodDebug (previously I was testing for betaDebug), I don't think there is a issue with this particular branch as I have faced this on master also.  In my case upload failed but caption was visible, still retry didn't work  and same logcat error. Can you just confirm if you are facing this error on this branch only.

[2020-12-23 06:48] nicolas-raoul commented on #4124
@Pratham2305 Thanks for the info! Actually I don't know about master, as I have been using your branch ever since I tried it because it is so useful :-)

[2020-12-23 06:50] nicolas-raoul commented on #4124
I consider this issue as low priority since I have only seen it once. But if several other people confirm it on master, it will be worth investigating.

[2020-12-23 17:42] Prince-kushwaha commented on #4086
@misaochan  idea suggested by @4D17Y4  is good . I also implemented the idea of //@4D17Y4//  it,s solve this issue in better way

[2020-12-23 17:49] 4D17Y4 commented on #4038
Hey  @nicolas-raoul,
It does happen with me, but just to confirm this happens when u scroll too fast and after you restart the app right?

[2020-12-23 18:50] 4D17Y4 commented on #4038
I think the same,
updating the condition to check for NPE.

As for the investigation, I got to know that the function is called with a position as 0 and it gets contribution as null making it crash.

I was thinking of adding the condition in the holder.init() instead, as it would be better cuz then we can directly access the contribution, but here we have to access the method twice or have to init

[2020-12-24 00:21] nicolas-raoul commented on #4038
It happens to me:
- even when scrolling very slowly
- even after using the app for hours and using other activities such as Nearby and Explore

[2020-12-24 06:19] shabar-shab commented on #3917
@nicolas-raoul can I work on this?

[2020-12-24 06:29] Aditya-1295 commented on #4111
Hi, I am very new to opensource coding , i know that this issue was not assigned to me . I just wanted to get familiar to Github and
codebase base for this repo . Looking forward to contributing to this community.

[2020-12-24 07:00] shabar-shab commented on #3651
@nicolas-raoul can I work on this?

[2020-12-24 08:08] nicolas-raoul commented on #3917
@shabar-shab Is the issue reproduced on your device (or emulator)?

[2020-12-24 08:09] nicolas-raoul commented on #3651
@shabar-shab Yes, thanks!
Please let us know about your progress every few days :-)

[2020-12-25 17:46] Pratham2305 opened #4129 "App Crashes on logging out"
**Summary:**
App crashes when trying to log out.

**Steps to reproduce:**
Go to More tab on Bottom Navigation Bar.
click on log out then select yes on alert dialog.

What did you expect the app to do, and what did you see instead?
User should  log out and login screen should appear, but app crashes instead.

**System logs:**

Add logcat files here (if possible).

2020-12-25 22:37:05.305 23964-2396

[2020-12-25 18:15] sivaraam opened #4130 "Geoinformation Ideas - WMDE Technical Wishes"
WMDE seems to be collecting problems and needs for geoinformation related things in Wiki. I thought some people here might have ideas and would be interested to share them. If that's the case, feel free to add your ideas in the following wiki:

[WMDE Technical Wishes/Geoinformation/Ideas - Meta](https://meta.wikimedia.org/wiki/WMDE_Technical_Wishes/Geoinformation/Ideas)

Just spreading the word :)

[2020-12-25 18:20] Saral-code commented on #4115
@misaochan
What should this section actually display?

[2020-12-26 07:36] franklinbill opened #4131 "A display issue with fonts in login screen"
**Summary:**

Summarize your issue in one sentence (what goes wrong, what did you expect to happen)

In the process of using, I found a bug in layout / display. As shown in the figure, in the first page, the text overlap each other. This may be an adaptation problem. I suspect it is because **display and font size** are set to large (mainly due to **display size**).
I hope that the page can be set

[2020-12-26 07:53] shabar-shab opened #4132 "App Crashes on viewing reviews in Review Fragment"
**Summary**:

On viewing the reviews (Peer Review)  in Review Fragment app continuously crashes.

**Steps to reproduce:**

- In bottom Navigation Bar got to Hamburger button (three stacked parallel  line)
- click Review
- on viewing review parameter " is this image correctly categorized "app crashes

**System logs:**

[code]

**Device and Android version:**

 Samsung Galaxy j2, Version 5.0.1(Lolli

[2020-12-26 09:53] Aditya-1295 commented on #4131
Can I work on this issue ?

[2020-12-26 10:02] Aditya-1295 opened #4133 "In nearby tab the query hint text is not displayed properly."
**Summary:**

Summarize your issue in one sentence (what goes wrong, what did you expect to happen)

In nearby tab the query hint text is not displayed properly.

**Steps to reproduce:**

How can we reproduce the issue?
What did you expect the app to do, and what did you see instead?

Go to near by tab and then click the search button on top.

**Device and Android version:**

What make and model d

[2020-12-26 15:48] shabar-shab commented on #4132
I have started working on this.

[2020-12-26 17:24] sivaraam commented on #4115
@Saral-code you should see something like what you see in the [following screenshot](https://github.com/commons-app/apps-android-commons/issues/3434#issuecomment-591069107) ...

![Achievements](https://user-images.githubusercontent.com/46127128/75287634-b8373b00-5840-11ea-9597-da8d35796136.jpg)

... but for the new UI. I'm guessing its broken in the new UI from the beginning. So, the task here is

[2020-12-27 10:12] #3681 closed

[2020-12-27 10:48] #4037 closed

[2020-12-27 10:56] Prince-kushwaha opened #4135 "App crash when user change app theme"
**Summary:**
 when we are at Explore tabs change app theme night to dark mode or visa -verse then go back to Explore tab
then App crash

**Steps to reproduce:**
->open Explore tab
-> change theme of app night to dark and vica -verse
->go back to Explore tab app crash

How can we reproduce the issue?
App not crash
**System logs:**

     **Caused by: androidx.fragment.app.Fragment$InstantiationExcep

[2020-12-27 16:21] Prince-kushwaha commented on #4111
@shabar-shab I already create the PR for this issue you make PR on different unassign bugs

[2020-12-27 18:35] sivaraam opened #4136 "App shortcuts not working"
**Summary:**
The app shortcuts don't seem to be working now.

**Steps to reproduce:**
1. Long press Commons app icon
2. Click on one of the app shortcuts
3. Observe that the corresponding action is _not_ triggered but an "App not found" toast is shown.

**Device and Android version:**
Nokia 2.3; Android 10

**Commons app version:**
2.13.2~757c7b008

[2020-12-27 19:38] SJu-w opened #4137 "Improve file description"
**Summary:**

Files uploaded to Commons by the app have a name of the photographed subject just in the filename, but not in the file description ("description" field of the "Information" template). The description field contains just the label of the value of the P31 (instance of) property, which is usually a vague general term. The description also does not contain the wikidata identifier of the

[2020-12-27 20:14] Saral-code commented on #4136
@sivaraam
It seems that its working on my phone (Realme 3 pro, android 10)
Please could you upload a video or screenshot of the issue to confirm if I an following the right steps

[2020-12-27 20:16] Saral-code commented on #4131
I would like to work on this issue.
Please assign me

[2020-12-27 20:23] mdaabis commented on #4136
@sivaraam
When I debug the app using my Android device, the only shortcut visible is the 'Setting' shortcut which is working fine. However, when I download the Wikimedia Commons app from the Play Store I can see three shortcuts ('Settings', 'Bookmarks' and 'Explore') none of which are working and they give the toast 'Permission Denied'. Am I to assume that the difference between the two is because

[2020-12-28 10:10] misaochan commented on #4137
Pinging @nicolas-raoul @VojtechDostal for input.

[2020-12-28 10:16] #4115 closed

[2020-12-28 10:26] misaochan commented on #4130
Thanks for letting us know @sivaraam . :)

GitHub Discussions looks awesome for our purpose IMO, although it is still in beta. The benefits are that we can declutter our issues system, but there could be the downside of people needing to check both (and probably some will not). Personally I feel that the benefits exceed the downsides. What do you think @nicolas-raoul ?

[2020-12-28 10:31] misaochan commented on #4131
@Saral-code It is yours. :)

[2020-12-28 12:12] nicolas-raoul commented on #4137
I am open to any description template that make the picture more useful :-)
I think that duplicating information should generally be avoided (in order to not waste contributors' time), but if there is a Commons policy that recommends duplication then I am happy to conform to it.

I agree with you that the QID(s) being only in the `File usage on other wikis` is not enough. And here is some good new

[2020-12-28 14:11] neslihanturan commented on #4111
There are two issues on this same bug. Please everyone let us know that you are working on the issue and make sure no one else interested with the same issue before you do. And remember, one issue at a time. If you have open PR with reviews needs to be done, you should not work on a new issue. Unfortunately one of the solutions came for the same issue will be closed. Please be more careful next ti

[2020-12-28 14:24] neslihanturan commented on #4130
I think we can use "discussion" like tag and share them in here, issues. Othwerwise some discussions may be missed.

[2020-12-28 14:50] Prince-kushwaha commented on #4111
@neslihanturan  There is two pull request of this issue I already make the PR for this issue but //@shabar-bar // make another PR of this issue

[2020-12-28 15:32] #4096 closed

[2020-12-28 18:04] sivaraam commented on #4136
@Saral-code Which version of the app do you use?

Interesting. What version do you see in the 'About' screen in the built version of the app? What version do you see in the 'About' screen in the play store version?

[2020-12-28 18:37] SJu-w commented on #4137
Hi, thanks for your reaction.
- Description is the main and basic way of description files at Commons. If there something is "duplicating", then the "structured data", rather than the standard description. In any case, the absence and loss of information is undoubtedly a much bigger mistake than possible duplication. I assume that when the name / description of the object is automatically copied (

[2020-12-28 18:46] sivaraam commented on #4136
!  Please could you upload a video or screenshot of the issue to confirm if I an following the right steps

Here's the recording of the issue I observe:

https://user-images.githubusercontent.com/12448084/103236499-135b2200-496b-11eb-9794-551eb1254c51.mp4

[2020-12-28 19:42] misaochan commented on #3363
Hi all, this was written for the 2020 GSoC programme, but I just wanted to re-pin this because it contains extremely good advice for anyone aiming to apply for the 2021 round. In particular, please note this section:

Please avoid creating a pull request for an issue until the issue has been assigned to you.

[2020-12-28 19:45] VojtechDostal commented on #4137
I am not sure that this long explanation was needed. It sort of diverges into discussions which should be held on Wikimedia Commons and not here.

I am in favor of using the item description as the default description for the image. If this is not available, we can always fall back to P31. (Alternatively, we can fall back to a more clever data-based description formed using a more complex algorith

[2020-12-28 19:59] Pratham2305 commented on #4136
@sivaraam Yes, I am facing this issue when I have installed the app from play store (app version 2.13.2~757c7b008) as also mentioned by @mdaabis , but Since that shortcut.xml file contains only the settings shortcut now, hence only setting shortcut is appearing When I am running the current master branch(app version 2.13.2~debug-master~1ccb357e). and it is working fine in betaDebug.

[2020-12-28 22:45] SJu-w commented on #4137
The commonly established standard of Commons is that **the description provides "brief (if possible) but complete information about the image"**, including indentification of notable subjects or objects, location, relevant circumstances and all information to support all item categories of the file.  Normally, the description contains more complex and complete information than the file name itself

[2020-12-29 03:18] Prince-kushwaha opened #4140 "Toolbar with share button is missing in Profile Activity"
**Summary:**

After latest changes, toolbar with share button and back button of ProfileActivity disapeared. It should be added with back button.
**Commons app version:**
2.13.1
**Screen-shots:**
Screenshot of Current Master branch

![Screenshot_2020-12-31-18-45-51-161_fr free nrw commons beta](https://user-images.githubusercontent.com/65972015/103412062-60bcd680-4b99-11eb-8c6a-4c4b96d24220.png)

[2020-12-29 14:07] Saral-code commented on #4131
Hello,
So what I observed with this issue are as follows:
1. This issue occurs only when I set your font as EXTRA LARGE in my mobile (I use realme 3 pro)
2. On top of that the dpi level should be less than 330
(very rare configuration )
3. With these setting most of the well built apps perform pretty badly like youtube, whatsapp, facebook,etc. (font cutting and layout overlapping can be observed).

[2020-12-29 14:09] Saral-code commented on #4136
I agree with @Pratham2305 , I am facing the same scenario.

[2020-12-29 15:12] nicolas-raoul commented on #4137
Here is the algorithm I would recommend for pictures that represent a Wikidata item:
- If the Wikidata item **has** a description in my language → Pre-fill the picture's description using the Wikidata item's description (example: `チェコ・ミモンにあるバロック像` or `baroque statue in Mimoň, Czech Republic`)
- If the Wikidata item **does not have** a description in my language → Pre-fill the picture's description

[2020-12-29 15:39] nicolas-raoul commented on #4130
Thanks @sivaraam for the tip!

We currently have a mailing list: https://groups.google.com/g/commons-app-android
I am not against switching.

Google Play requires an email address as developer contact:
<img width="646" alt="Screen Shot 2020-12-30 at 00 36 29" src="https://user-images.githubusercontent.com/99590/103295364-1d4a5700-4a37-11eb-9393-5e99f775b216.png">
Does GitHub Discussions provide em

[2020-12-29 15:54] nicolas-raoul commented on #3694
In current master, the `depicts` is indeed added silently to all Nearby uploads.
It is actually _too_ silent: If you do not select _another_ `depicts` as well, a popup appears shaming you for not filling depictions. By the item is suggested and not checked, if you check it then the `depicts` is duplicated like this:
<img width="221" alt="Screen Shot 2020-12-30 at 00 54 01" src="https://user-images

[2020-12-29 17:08] SJu-w commented on #4137
- **When the application is now able to select a somehow meaningful file name, then I do not understand why it is such a problem to insert at least an equally meaningful and valuable description into the description field.** This is the basis and the minimum - of course, provided that the description can and should be further improved and enhanced, while the file name usually remains unchanged.
-

[2020-12-29 17:15] SJu-w commented on #4137
Btw, I think it's obvious that "baroque statue in Mimoň, Czech Republic" doesn't identify the subject of the photo, while "Sousoší svatých jáhnů Jiřího a Agapita u cesty ke kostelu sv. Petra a Pavla v Mimoni" is quite specific aned even is there no need to add anything to it.

[2020-12-29 17:27] VojtechDostal commented on #4137
Too long - didn't read, but I think @SJu-w might be proposing to use Wikidata item's *label* in the description field of the {{information}} template. I didn't think about that before and it might be nice to include it in the description too... However, sometimes the Wikidata label isn't very informative for discerning several unnamed objects - eg. https://www.wikidata.org/wiki/Q103822064 - label

[2020-12-29 17:51] sivaraam commented on #3363
Speaking of GSoC 2021, are we aware of the [upcoming changes](https://opensource.googleblog.com/2020/10/google-summer-of-code-2021-is-bringing.html) to the programme? 🤔

[2020-12-29 17:58] SJu-w commented on #4137
Didn't read this text, didn't read also the file pages from the last months? Try to read at least the first two paragraphs so that we don't spin in a circle. You are trying unnecessarily to invent for what is already described above, and obvious even before this discussion.

Is it really so hard to understand that the "description" on a file page has to **identify** what's in the image? It's reall

[2020-12-30 02:37] nicolas-raoul commented on #4137
I am sure Vojtěch was joking, I for one read all of your comments with attention, even if some parts (like the part about "hashtags" which is not on topic here) might sound more like a rant. Please be assured that your point of view is considered and respected. You have already convinced us that using only P31 (which is what the app currently does) is not good enough.

Yesterday I asked you to pos

[2020-12-30 03:33] nicolas-raoul commented on #3595
Here is the most current behavior:
- If you upload from Nearby, then the item will be suggested as a depiction.
- In turn, if you select a depiction, then the linked Commons category will be suggested as a category.

I think that it is enough :-) Don't you think so?

[2020-12-30 04:46] SJu-w commented on #4137
Hi nicolas-raoul. This time, perhaps we understood each other in the basics. This step can be solved almost immediately so that the file description has at least as informative value as the file name. So I will add just a few clarifications or improvements:
- if the label is empty in a given language, consider this language as if there is no description in it, even if the additional "description"

[2020-12-30 09:25] mr-yman opened #4141 "Nearby tab shows no locations, gives SQL error"
**Summary:**

Nearby tab malfunctions; gives no nearby locations and offers only a toast with an SQL error.

**Steps to reproduce:**

- Having already been logged into Commons on my device, I open the app.
- Taking no other action, I click the "Nearby" tab. I initially get a "Location not available" toast. (This parenthetical is NOT part of the steps to reproduce: Commons does have location access

[2020-12-30 09:43] mr-yman opened #4142 "Attempting to open Bookmarks crashes app"
**Summary:**

Attempting to open Bookmarks crashes app

**Steps to reproduce:**

-Open sidebar menu
-Click "Bookmarks"
-Crash

This may or may not be relevant, but I do not believe that I have any bookmarks.

**System logs:**
[Log txt](https://github.com/commons-app/apps-android-commons/files/5753754/bookmarkerror.txt)

**Device and Android version:**
API level: 30
Android version: 11
Device manuf

[2020-12-30 10:10] misaochan commented on #4141
Thanks for reporting this! We thought we had fixed it previously in #3792 , but it seems not :(

[2020-12-30 10:18] misaochan commented on #3363
What was the requirement for the last GSoC, does anyone remember?

Pinging also @madhurgupta10 for this. :)

[2020-12-30 10:23] misaochan commented on #3694
Oh whoops, that is not good. We should at the very least prevent the duplication.

@nicolas-raoul What do you think about displaying the relevant depicts, pre-selected, with all the other depicts at that step? That way the user knows it is already selected.

[2020-12-30 10:24] nicolas-raoul commented on #3694
Yes that's a perfect solution 🙂

On Wed, 30 Dec 2020, 19:23 Josephine Lim, <notifications@github.com> wrote:

[2020-12-30 10:30] misaochan commented on #3900
As per the feedback in our mailing list, this still needs to be fixed.

[2020-12-30 10:34] misaochan commented on #4131
Many thanks for your investigation @Saral-code . Let me ping @neslihanturan for her thoughts. You can feel free to take a look at another issue in the meantime, while we decide on a solution. :)

[2020-12-30 15:09] #4047 closed

[2020-12-30 17:39] misaochan commented on #3900
Just talked to @madhurgupta10 about this. It seems that although he does have access to the repo, he does not have access to the VM at https://tools.wmflabs.org/urbanecmbot/commonsmisc/ . @urbanecm would it be at all possible for you to either fix this on your end, or to give Madhur access? Thanks a lot. :)

[2020-12-30 20:36] madhurgupta10 commented on #3363
These changes are for GSoC 2021, for last year the pattern was the same as all previous years with 10 weeks of coding and 3 evaluations. [Check out this article](https://www.geeksforgeeks.org/whats-different-in-gsoc-2021-eligibility-timeline-stipend/#:~:text=Changes%20in%20GSoC%202021%20Edition&text=So%2C%20the%20changes%20which%20are,have%2010%20weeks%20to%20code.)

[2020-12-30 20:57] madhurgupta10 commented on #3900
@misaochan I added a feedback_test.py file with the suggested solution, here is the URL to test it `https://commons-android-app.toolforge.org/tool-commons-android-app/feedback_test.py?user=Syced`

The code is available here `https://phabricator.wikimedia.org/source/tool-commons-android-app/repository/master/`

I don't see any changes between the response provided by `feedback.py` and `feedback_tes

[2020-12-31 12:28] Saral-code commented on #4142
I think its a device specific issue. I am using Realme 3 pro (Android 10) its working perfectly fine.
Try pulling the repo and ensure your app is up to date. If still the problem persists just screen record it and post it here. : )

[2020-12-31 13:14] Prince-kushwaha opened #4143 "click on skip button in Peer Review after orientation change then app is crashed"
**Summary:**

**issue :  when  click on skip button in Peer Review after  orientation change  then app is crashed**

**Step to Reproduce the issue**

1. Open the Peer Review Activity
2. change the orientation of screen
3. click on the button "skip this image"
4. then App crash

**Screenshot for first issue **

![20210103_102548](https://user-images.githubusercontent.com/65972015/103472142-d4d0c780

[2020-12-31 17:43] sivaraam commented on #3363
I believe it is 12 weeks. Also, the 350 hour time requirement of previous years is being reduced to 175 in 2021 (that's 1/2 the time requirement). Here's [concise piece](https://git.github.io/rev_news/2020/10/30/edition-68/) about the changes:

[2021-01-01 01:36] nicolas-raoul commented on #4142
Bookmarks are not in the sidebar menu anymore.
I don't have any bookmark either, and it does not crash, maybe it was fixed already?
In any case would you mind switching to the alpha version, to see whether it happens with it too? Thanks a lot for your feedback!

And thanks @Saral-code for helping others :-)

[2021-01-01 08:17] nicolas-raoul commented on #4143
On latest master even after a configuration change (theme switch) I am not able to reproduce the first issue (no crash), nor the second issue (different image appears), nor the third issue.
Would you mind posting a screencast (including the configuration change) and the full logcat, on the latest master branch? Thanks!

[2021-01-01 08:51] nicolas-raoul commented on #4140
What do you suggest should appear in the toolbar of categoryDetailsActivity?
What do you suggest should appear in the toolbar of profileActivity?
Do you have any link to a document or discussion mentioning that an empty toolbar is a bad thing?
Thanks!

[2021-01-01 12:24] Prince-kushwaha commented on #4140
@nicolas-raoul  view screenshot the screenshot

[2021-01-01 13:52] nicolas-raoul commented on #4140
Ah, I see! That's a bug indeed, thanks!

[2021-01-01 13:59] neslihanturan commented on #4140
Hey @nicolas-raoul , lets not assign this issue to @Prince-kushwaha since there are already 2 open PRs that requires changes. This issue is a release blocker so I will handle it ASAP.

[2021-01-01 14:09] #3616 closed

[2021-01-01 14:56] misaochan commented on #3900
Thanks @madhurgupta10 ! I think the results at https://commons-android-app.toolforge.org/tool-commons-android-app/feedback_test.py?user=Syced are actually correct (pinging @nicolas-raoul to confirm).

[2021-01-01 15:10] neslihanturan commented on #4038
Reopenning since the root cause is still unsolved.

[2021-01-01 15:13] nicolas-raoul commented on #3900
[code]
The numbers look reasonable! :-)
Still not sure whether the `()` is here on purpose or not.

[2021-01-01 15:16] madhurgupta10 commented on #3900
I remember using `print("\n")` with the header instead of an empty `print()` and none of my API's print `()` I think this might be the fix, I can push a commit if you like :)

[2021-01-01 15:27] misaochan commented on #4137
This description makes sense to me personally. I am also OK with switching to this if the community supports it.

I agree with this, the description should not be pre-filled with something that the user cannot understand. If pre-filling with `instanceOf` is not an acceptable way of handling it, then perhaps we can just not pre-fill at all, and the user can insert their own description, same as the

[2021-01-01 16:33] #4086 closed

[2021-01-01 17:44] sivaraam commented on #4136
i just tried building prodDebug from master pointing at 86c571ceee843d8a50226d6a6a71d5682d1344a6 and I still face the issue. When debugging, the exception I see when tapping on the shortcut is the following:

[code]

[2021-01-01 22:56] nicolas-raoul commented on #3900
Let's try and see whether the app likes it :-)
To debug you can modify the URL used by the app.

[2021-01-02 02:54] SJu-w commented on #4137
@misaochan: The main and basic purpose of image description is to identify what is in the image. This is what some people did not understand, and that is why this issue arose at all. **If there is a tool designed to upload a photo of a particular subject, then by default such a tool pre-fills a unique identification of that subject.** This practice has been widely applied and has proved its worth,

[2021-01-02 06:41] Aditya-1295 commented on #4133
Fixed  this issue in #4127 .
hence closing this issue

[2021-01-02 06:41] #4133 closed

[2021-01-02 13:06] #4079 closed

[2021-01-02 13:07] #4111 closed

[2021-01-02 16:20] shabar-shab commented on #4123
@neslihanturan can I work on this issue

[2021-01-02 18:50] VojtechDostal commented on #3595
Why is the commons category suggested only if depiction is selected?
I guess the category is highly desirable any time a picture is uploaded to an item from Nearby, isn't it?

[2021-01-03 05:51] Prince-kushwaha commented on #4143
@nicolas-raoul bug are in latest master i upload screershot for each bug

[2021-01-03 11:02] 4D17Y4 commented on #4123
I'm on it 🙃

[2021-01-03 13:28] misaochan commented on #3595
Hmm. I guess in the ideal scenario, the suggested depiction will be correct, and the user will select it, and therefore the category will also be selected. In the case of the suggested depiction being wrong (or the user skipping the depicts step), the user will not select it, in which case do we still want to display the category suggestion?

I guess my personal opinion would be "yes", since it is

[2021-01-03 13:36] misaochan commented on #4137
As we all appear to agree on how to handle the "If the Wikidata item has a description in my language" scenario, I will create a separate issue for it that can be worked on ASAP.

Re: the "If the Wikidata item does not have a description in my language" scenario, I don't think WLM has a model that we can follow in this case. AFAIK the WLM monument lists for every country is carefully curated by na

[2021-01-03 13:40] misaochan opened #4147 "Pre-fill desc in Nearby uploads with Wikidata item's label + description"
As mentioned by @SJu-w in #4137

**Task:** If the Wikidata item has a description in the user's language → Pre-fill the picture's description using the Wikidata item's label+description.  (example: sculpture of the Holy Deacons of George and Agapit on the way to the Church of St. Peter and Paul in Mimoň (baroque statue in Mimoň, Czech Republic))

[2021-01-03 14:50] Saral-code commented on #4147
I would like to work on this. : )

[2021-01-03 15:20] nicolas-raoul commented on #4147
@Saral-code It is yours, thanks! If you are unsure about what the goal is, please do not hesitate to ask.

[2021-01-03 15:27] nicolas-raoul commented on #3595
Because it was easier to implement from a source code point of view ^_^
Suggesting the category even if the user did NOT select the depiction is doable but it is one more small complexity on top of all of the others.

Actually, my personal point of view is that the user should not be able to deselect the item in depictions (_after all, if that image represents the item, it must depict it_). In tha

[2021-01-03 15:32] nicolas-raoul commented on #4143
@Prince-kushwaha Thanks for the screencasts, very helpful!
By "configuration change" I think you meant "orientation change", I understand now :-)

[2021-01-03 15:49] VojtechDostal commented on #3595
I agree that user should not be able to deselect the item in depictions :). The selection of the pin in Nearby map should be enough to qualify for a depiction tag... and also the commons category suggestion.

[2021-01-03 17:50] 4D17Y4 commented on #4142
Hey,
I  had this issue today while working on other bug, although as @Saral-code  and @nicolas-raoul  said we can't reproduce it as it happens only at certain times.

As far as I can remember it was regarding some SQL  error and said the entry doesn't exist, similar to the one in #4141
Thanks.

[2021-01-03 19:15] madhurgupta10 commented on #3900
I pushed another commit with my solution, the new API seems to be working as expected without any garbage characters https://commons-android-app.toolforge.org/tool-commons-android-app/feedback_test.py?user=Syced I also tested on the app and it is working as expected. So we can close this issue here and open an issue on https://github.com/commons-app/commonsmisc

[2021-01-04 03:38] nicolas-raoul commented on #4142
Thanks for the feedback!
If anyone could find steps to reliably reproduce the crash, that would be wonderful :-)

[2021-01-04 12:11] Pratham2305 commented on #4136
Okay I think the problem is that in shortcut.xml it is only targeting the beta package variant that's why it is working fine on betaDebug.  @sivaraam  Can I make a PR to resolve this one ?

[2021-01-04 15:05] mondlicht-und-sterne opened #4150 "Screenshots for F-Droid"
You can add Screenshots for F-Droid, too, if you want.

https://f-droid.org/en/docs/All_About_Descriptions_Graphics_and_Screenshots/

https://gitlab.com/snippets/1895688

[2021-01-04 16:59] misaochan commented on #3900
Sounds good, thanks a lot. :)

[2021-01-04 19:51] Pratham2305 opened #4151 "List state not retained, on coming back to explore fragment from media detail fragment after choosing any media."
**Summary:**
On explore tab, When you open any media detail then on Pressing back navigation button on the toolbar it is sending back to the list fragment but it is not retaining the state of list as it is showing the list again from the starting.

**Steps to reproduce:**
On explore tab, scroll down and open any media's details, then on media details screen press back navigation button on toolbar.

[2021-01-05 13:27] VinamraGuptaa commented on #2590
Is this issue still open?

[2021-01-05 14:09] nicolas-raoul commented on #2590
@VinamraGuptaa Yes it is open. This is labeled `enhancement` though. Please make sure to read the "more than 5 previous pull requests" part at https://github.com/commons-app/commons-app-documentation/blob/master/android/Volunteers-welcome!.md Thanks!

[2021-01-05 19:05] misaochan commented on #3765
Released to beta. :)

[2021-01-05 19:05] #3765 closed

[2021-01-05 19:07] misaochan opened #4155 "Items required for v3.0.1"
- [x] #4141 SQL error fixed
- [x] UI improvements, pending @neslihanturan 's investigations (UI fixes cherrypicked)
- [x] #4147 Prefill desc with Wikidata item's label + description
- [x] #4157 Back button in Media Details view
- [x] #4173 ACRA crash report version name
- [x] #4156 Location not available
- [x] #4283 media details view crash

[2021-01-05 22:51] FatimahGoldhirsch opened #4156 "Location not available, Nearby unusable"
**Summary:**

Nearby does not recognize location, does not show quests and is practically unusable.

**Steps to reproduce:**

1. Allow app to access location via GPS
2. Open app, go to Home, select Nearby
3. Map is centered to Tower of London, displays error message "Nearby might not work properly, Location not available"
4. It is not possible to get the location and also not possible to scroll to

[2021-01-06 14:23] misaochan commented on #4156
Hi @FatimahGoldhirsch , sorry to hear about that. We've just released v3.0 to beta, which should contain a fix for this issue. If you are enrolled in beta testing, could you please update your app to v3.0 and see if it solves the problem for you? If not, could you sign up for the beta at https://play.google.com/apps/testing/fr.free.nrw.commons ?

Thanks a lot!

[2021-01-06 19:36] neslihanturan commented on #4151
This would be very nice if it gets solved in next hotfixes. How is your work going @Pratham2305 ?

[2021-01-07 10:21] Pratham2305 commented on #4151
@neslihanturan Its going great, looking forward to make more good contributions and learn new things. Thanks

[2021-01-07 10:21] Pratham2305 commented on #4151
I have added a setNavigationOnClicklistener on toolbar and now Its working fine, @neslihanturan  Can I make a PR to close this issue.

[2021-01-07 12:40] misaochan opened #4157 "Back button in Media Details view should bring user back to where they left in Contributions list"
A report from our google groups forum:

[2021-01-08 08:48] PopescuGeorge1 commented on #4157
Hello, are you referring from the Explore ? Because on both Featured or Uploaded Via Mobile sections I can use the back button or the phone buttone and it doesn't take me back to the top of the list.

-Technical Information-
Android Version: 9
Device manufacturer: Xiaomi
Device model: Mi A1
Network type: wifi
App Version: 2.13.2 (downloaded today)

[2021-01-08 12:30] 4D17Y4 commented on #4157
Can I work on this?

[2021-01-08 12:44] Pratham2305 commented on #4157
@PopescuGeorge1  I think the issue do exist on explore tab also, I have already created the issue for the same #4151. I have checked on current app version i.e, 3.0.0-debug-master.

[2021-01-09 08:59] Pratham2305 opened #4159 "On Explore Tab, All Available Options on toolbar in media detail view are only targeting the first media in the list."
**Summary:**
On explore tab, when open any media detail from the list then try to download or open the media in browser it is targeting only the first media from the list. This same thing also happens with other options like set wallpaper, share.

**Steps to reproduce:**
On explore tab, open any media detail then try to choose any available option like download image, set wallpaper, open in browse

[2021-01-09 09:38] arishta commented on #2874
We have made the changes as requested in the PR [#4000](https://github.com/commons-app/apps-android-commons/pull/4000).
Kindly review the same.

[2021-01-09 09:40] arishta commented on #3434
@sivaraam We have made the requested changes in the PR [#4023](https://github.com/commons-app/apps-android-commons/pull/4023). Kindly review the same.

[2021-01-09 17:00] akshaykrad commented on #4136
@sivaraam I am a beginner and would like to workout this issue , kindly assign this issue to me.

[2021-01-09 22:25] FatimahGoldhirsch commented on #4156
Hello @misaochan
thanks, it is good to know that this problem has been worked on.

I have never compiled an app before (after all, I'm just a regular user) and couldn't make it work yet. That means I will wait for v3.0 to become published on F-Droid. Sorry that I can't help with beta testing.

[2021-01-10 08:04] akshaykrad commented on #4136
@sivaraam I am a beginner and would like to workout this issue , kindly assign me to this issue.

[2021-01-11 08:21] KushMehta1511 opened #4161 "Typing Error in comments of PageEditClient.java class"
**Summary:**
In the comments of the class PageEditClient.java "@param pagetitle" is written in three areas in this file. It should have been "@param pageTitle" with capital T as pageTitle is being passed as an argument rather than pagetitle.

**Screen-shots:**

![image](https://user-images.githubusercontent.com/65716045/104158626-bdc75080-5413-11eb-8604-38cfcf9e581b.png)

**Would you like to work

[2021-01-11 12:22] misaochan commented on #4091
Hmm, so it seems like our last alpha release was 8 Jan 2021 (after the 31 Dec cut-off), and also CI seems to still work. Any idea if Travis has changed their mind? @domdomegg

[2021-01-11 12:35] neslihanturan commented on #4063
Hi all, I was reviewing the latest PR and recognized this is not the case in current master of fixed already. See my screen record, tested at 3.0.0-debug-master~8e9b39fa8 :

https://user-images.githubusercontent.com/3127881/104183062-6f6d7e00-5422-11eb-9e6d-3b40b5730b16.mp4

[2021-01-11 12:36] neslihanturan commented on #4063
So closing this issue and related PR, since it seems like there is no issue at all actually.

[2021-01-11 12:38] #4063 closed

[2021-01-11 12:40] neslihanturan commented on #2296
Currently one of the issues (#4063) is closed and the other is still valid. Since this issue is trying to solve "both" of them I don't know what to do with this PR. This is why ideally we prefer single PR for one issue.

[2021-01-11 13:03] #4081 closed

[2021-01-11 14:01] neslihanturan commented on #4143
I can not reproduce the issue, can you please explain the steps more briefly? You can use bullet list that composed of steps instead of a sentence.

[2021-01-11 14:08] neslihanturan commented on #4143
Also, I recognized 2 issues are listed under this same issue. This causes confusion, please make sure you created singe issue for each one. Please make sure you followed issue and PR creation documentations. These kinds of issues that prepared out of guidelines confuses reviewers and makes things harder.

[2021-01-11 14:21] #3352 closed

[2021-01-11 14:22] #4123 closed

[2021-01-11 14:22] #4135 closed

[2021-01-12 00:27] domdomegg commented on #4091
I am not sure. My best guess is that Travis have for some reason postponed the cut-off date and haven't communicated that? On their official site it stills says ["travis-ci.org will be officially closed down completely no later than December 31st, 2020"](https://docs.travis-ci.com/user/migrate/open-source-repository-migration#q-what-will-happen-to-travis-ciorg-after-december-31st-2020) but even [t

[2021-01-12 10:00] burnerlee commented on #4147
@nicolas-raoul can I work on this issue and submit a PR?

[2021-01-12 11:34] nicolas-raoul commented on #4147
@Saral-code Any progress on this? :-)

[2021-01-12 14:13] mondlicht-und-sterne opened #4163 "Screenshots for F-Droid"
You can add Screenshots for F-Droid, too, if you want.
https://f-droid.org/en/docs/All_About_Descriptions_Graphics_and_Screenshots/
https://gitlab.com/snippets/1895688
That was simply information about what is still possible. You would then only have to enter the screenshots in fastlane.

[2021-01-12 15:07] burnerlee commented on #4147
@nicolas-raoul please let me know if I can start off with this issue

[2021-01-12 15:14] nicolas-raoul commented on #4147
@burnerlee Let's wait for @Saral-code for 24 hours from now, if no reply then you can have it :-)

[2021-01-12 15:16] burnerlee commented on #4147
oh cool, thank you :)

[2021-01-12 15:38] burnerlee commented on #4147
also @nicolas-raoul, sorry if this isn't the right place to ask this question, but is this project planned to participate in gsoc 2021?

[2021-01-12 23:20] nicolas-raoul commented on #4147
@burnerlee Yes, we are planning to participate in GSoC 2021 :-)

[2021-01-13 08:06] #4161 closed

[2021-01-13 13:44] Prince-kushwaha commented on #4143
@neslihanturan these  issues are present in latest master I add steps to Reproduce these two  issues

[2021-01-13 13:49] Prince-kushwaha commented on #4143
I listed 2 issue under this same issue becouse the cause of these  issues is same

[2021-01-13 14:33] madhurgupta10 commented on #3918
Closing as it is fixed in https://github.com/commons-app/apps-android-commons/pull/4062

[2021-01-13 14:33] #3918 closed

[2021-01-13 15:06] burnerlee commented on #4147
@nicolas-raoul, may I start working on the issue now?

[2021-01-13 16:40] #3954 closed

[2021-01-13 16:47] misaochan commented on #4157
I was referring to Contributions list (the main list after you log in) - you will need to have several uploads of your own to see the issue. It does seem like Explore has the same problem too. @Pratham2305 it seems you are working on #4151 , do you know if your solution works with Contributions as well?

[2021-01-13 16:51] misaochan opened #4173 "ACRA crash reports do not display the version name in body again"
Crash reports need to have version name in body for easy filtering, not in the .stacktrace file.

[2021-01-13 17:24] Prince-kushwaha opened #4174 "Limited connection enabled mode not working"
**Summary:**
when I enabled the limited connection mode  during the uploading of media (image,video)
uploading of media (image ,video) not paused

See in the Screenshot
**Steps to reproduce:**

1. Uploading any media
2. enabled  limited connection mode
3. current uploading media are not paused

How can we reproduce the issue?
What did you expect the app to do, and what did you see instead?
when li

[2021-01-13 17:25] Prince-kushwaha commented on #4174
I want to work on this issue assign me

[2021-01-13 18:02] ashishkumar468 commented on #4173
This seems to be a problem with Gmail https://github.com/ACRA/acra/issues/744

[2021-01-13 18:13] ashishkumar468 commented on #4173
https://github.com/MindorksOpenSource/CrashReporter, seems fairly simple to implement, should we try it out?

[2021-01-13 20:12] Pratham2305 commented on #4157
@misaochan No it will not work as the issues are different in both of them, actually in explore tab, this problem occurs only when you use back button on toolbar. But in Contribution tab both toolbar and default device's back button are showing this issue. I have gone through the issue in contribution tab and it is because we are replacing the fragment eachtime which basically restart the fragment

[2021-01-14 00:35] nicolas-raoul commented on #4147
No news from Saral since 2 days unfortunately, so yes, you can take it. Thanks!

[2021-01-14 11:05] burnerlee commented on #4147
thank you so much, I'll start with the contributor's guide right away :)

[2021-01-14 15:41] misaochan commented on #4156
Thanks for letting us know! Is it possible for you to send logs for us to investigate this? Go to Nearby and get that error message, then Settings > Send Log File.

[2021-01-14 15:49] misaochan commented on #4157
Thanks for the investigation @Pratham2305 . Would you like to include the fix for Contributions in your PR as well, or shall I assign this issue to someone else?

[2021-01-14 16:08] Pratham2305 commented on #4157
@misaochan Yes I would like to work on this.

[2021-01-15 07:12] #4151 closed

[2021-01-15 09:46] 4D17Y4 commented on #4156
Hey @misaochan ,
I think this issue might be related to the issue #3924 .
I have investigated on it and have reported [here](https://github.com/commons-app/apps-android-commons/issues/3924#issuecomment-743808555) .
Let me know if the solution suits you, otherwise ill try to find other possible ways of handling the issue.

Just to confirm @FatimahGoldhirsch , can you try waiting for sometime and ch

[2021-01-15 13:08] 4D17Y4 opened #4178 "Bookmarks not Updated in Picture section after remove"
**Summary:**

When u remove a bookmarked picture in media detail in bookmark picture fragment the bookmark is still shown in the fragment.

**Steps to reproduce:**

How can we reproduce the issue?
1. Open bookmarks/favorites
2. Select a picture to go to picture detail
3. Tap on the bookmark (bookmark removed)
4. Go back to the fragment(either with back button or the option in the title bar)
5. The

[2021-01-15 15:19] ashishkumar468 opened #4179 "App crashes while back press on the home-screen"
**Summary:**

App crashes while back press on the home-screen
(Reported by one of the users via email)

**Steps to reproduce:**
1. Open the app
2. Back press

**System logs:**

[code]

**Device and Android version:**
Android Version 10

**Commons app version:**

3.0.0

**Would you like to work on the issue?**

Yes

[2021-01-15 16:14] ashishkumar468 commented on #4141
Fix has been merged on 3.0-release, closing this one

[2021-01-15 16:14] #4141 closed

[2021-01-16 07:55] Prince-kushwaha commented on #2770
can i work on this issue

[2021-01-16 08:18] KushMehta1511 opened #4182 "Mistakes in comments in ThanksClient.java"
**Summary:**

The spelling of extension is written incorrectly in the first line. It is written as "extention".
Later in the thanking logic, it is written "@param revesionID" which should be "@param revisionID".
The Spelling of recipient is also mentioned incorrectly. It is written as "recepient".

**Would you like to work on the issue?**
Yes

[2021-01-16 09:26] Pratham2305 opened #4184 "Incomplete bottom sheet appears in landscape mode"
**Summary:**
Incomplete bottom sheet appears on clicking more option tab in landscape mode, and It is also not scrollable.

**Steps to reproduce:**
Switch to landscape mode, then open more option tab in bottom navigation bar

What did you expect the app to do, and what did you see instead?
Bottom sheet appeared should be scrollable till the bottom.

**Device and Android version:**
Device: Pixel 3

[2021-01-16 12:03] #4182 closed

[2021-01-16 14:58] madhurgupta10 commented on #2770
@Prince-kushwaha yes, feel free to make a PR

[2021-01-16 16:31] sivaraam commented on #3434
Apologies for the delay. I was supposed to get around to this long ago but it slipped. Currently, I'm in lack of time due to a medical emergency in my family. I'll be sure to review when I find the time. We'll see if someone else could beat me to it, instead :)

[2021-01-16 16:53] #4179 closed

[2021-01-16 16:53] ashishkumar468 commented on #4179
Fix has been merged to 3-0- release

[2021-01-16 16:59] madhurgupta10 commented on #4184
@Pratham2305 Feel free to work on this issue

[2021-01-16 17:03] madhurgupta10 commented on #4178
@4D17Y4 I am not able to reproduce this issue, can you share a video of the bug? Thanks

[2021-01-16 17:04] sivaraam commented on #4136
@Pratham2305 Sure. Feel free to work on this in case you're interested. :)

Hi @akshaykrad 👋. Welcome to the project. There's already interest in this ticket. Feel free to find other beginner friendly issue by looking at issues tagged with [good-first-issue](https://github.com/commons-app/apps-android-commons/labels/good%20first%20issue). Also, take a look at our [Volunteers-welcome!](https://gith

[2021-01-16 17:05] madhurgupta10 commented on #4163
@mondlicht-und-sterne Closing this issue as it is a duplicate of https://github.com/commons-app/apps-android-commons/issues/4150

Feel free to discuss it on https://github.com/commons-app/apps-android-commons/issues/4150

[2021-01-16 17:05] #4163 closed

[2021-01-16 17:07] madhurgupta10 commented on #4174
@Prince-kushwaha feel free to ping us back when you have completed other assigned issues, we will assign it to you if no one else is working on it :)

[2021-01-16 17:19] madhurgupta10 commented on #4159
@Pratham2305 Thanks for reporting the issue, feel free to ping us back when you have completed other assigned issues, we will assign it to you if no one else is working on it :)

[2021-01-16 17:24] 4D17Y4 commented on #4178
![2021-01-16-22-38-17-online-video.GIF](https://user-images.githubusercontent.com/54016427/104818410-7a267980-584d-11eb-9ec6-603d37d0f99a.GIF)

Here u go @madhurgupta10
U can still see the image in the fragment even though it was removed.

[2021-01-16 17:27] madhurgupta10 commented on #4178
@4D17Y4 Thanks for the details. I see the bug. Feel free to make a PR for this :)

[2021-01-17 09:12] Prince-kushwaha commented on #4174
i am already working on this issue

[2021-01-17 11:11] 4D17Y4 opened #4186 "Crash on tapping Last Item in the Featured Fragment."
**Summary:**

Summarize your issue in one sentence (what goes wrong, what did you expect to happen)
App crashes on clicking the last element in the featured fragment.

**Steps to reproduce:**
1. Go to the Explore tab
2. Scroll all the way down in the featured section.
3. Tap on the last item.

What did you expect the app to do, and what did you see instead?
No crash and the media detail fragment l

[2021-01-17 13:17] 4D17Y4 commented on #4159
To add to the issue, the bookmark option is showing similar unexpected behavior.
Would love to work on this if it's unassigned.
Thanks.

[2021-01-17 14:09] Pratham2305 commented on #4159
Sorry, I forgot to mention here, I have already started working on it. I have tested the bookmark option as well and I think its working fine. @4D17Y4  Can you share a video or gif of the bug.

[2021-01-17 14:16] 4D17Y4 commented on #4159
Hey @Pratham2305 ,
U can try this way.
Bookmark the first item from the details and swipe in the details to go to next picture u would see that the bookmark doesn't change even though u haven't bookmarked all pictures.

If that doesn't clears it I'll send the video.
Thanks.

[2021-01-17 14:25] Pratham2305 commented on #4159
@4D17Y4 Yes, I have also noticed the bug now. Thanks for the detail

[2021-01-18 06:25] Prince-kushwaha commented on #2270
By mistake i link my PR with this issue

[2021-01-18 15:40] Prince-kushwaha commented on #4174
@madhurgupta10 can  i continue working on this issue

[2021-01-18 15:47] madhurgupta10 commented on #4174
@Prince-kushwaha We recommend you to close the other issues/PRs which you have been assigned before starting new ones!

[2021-01-19 11:27] pigsonthewing opened #4189 "Need to turn off audio"
Please provide an option , in settings, to turn off the audio alert notification that an upload has started (and any other audio alerts).

[2021-01-19 11:33] pigsonthewing opened #4190 "Need to use Creatror template"
**Summary:**

Users cannot use a "Creator ~" template

**Steps to reproduce:**

In settings, set the "Custom author name" to be "{{Creator:Andy Mabbett}}"

App populates the author field of uploaded files with `[[User:{{Creator: Andy Mabbett}}|{{Creator: Andy Mabbett}}]]`

App should populate the author field with {{Creator:Andy Mabbett}}``

Diff: https://commons.wikimedia.org/w/index.php?title=Fi

[2021-01-19 11:41] pigsonthewing opened #4191 "Need to apply default categories"
I apply `[[Category:Images by Andy Mabbett]]` to all my images and `[[Category:Taken with OnePlus Nord]]` to all those uploaded from my mobile.

Neither of these (being hidden categories) are found by the app's category search.

In settings, pleas add an option to enter such categories, and have them applied to every upload (alternatively, have them shown as selected on the app's category page, wi

[2021-01-19 11:53] pigsonthewing opened #4192 "Hidden category not found by exact name"
I apply a location-and-date category such as `[[Category:United Kingdom photographs taken on 2021-01-19]]` to all my images.

Presumably because these are hidden categories, they are not found by the app's category search.

In settings, please provide an option to have hidden categories found on the category search page (alternatively, please provide the option on that search page, so that it can

[2021-01-19 16:23] ashishkumar468 commented on #3924
@4D17Y$ https://github.com/commons-app/apps-android-commons/blob/ffdfb05d5f054dd58f40991c886edd4fb0901098/app/src/main/java/fr/free/nrw/commons/location/LocationServiceManager.java#L48-L53

Fixing this is really worth trying, the '&&' should be replaced by '||' IMO

[2021-01-19 22:44] FatimahGoldhirsch commented on #4156
Hello and thank you for your replies.

@4D17Y4 Yes, that issue looks similar to mine. I waited for several minutes and it did not get the location, whereas another app was able to get the location.

What I am wondering the whole time is why I cannot load needed pictures when the app does not know my location in the first place. Can I only look at the needed pictures at my current location?

@misao

[2021-01-20 06:43] 4D17Y4 commented on #4156
Thanks for letting me know @FatimahGoldhirsch ,
I'll look into it, and convey as get more info.

[2021-01-20 08:40] jidanni opened #4194 "Sharing to the commons app: no indication"
With no apps launched, visit  your cell cellphone's gallery app. Now share an image from the gallery app, to the commons app.

Sure, the image uploads fine. However there is zero indication, no matter through the notifications bar that something is going on, or the commons app being launched itself. To see that it really worked you have to launch the commons app and have a look.

Maybe this is all

[2021-01-20 14:31] asraman9792 commented on #3926
Hello is this issue available to work or has been resolved ?

[2021-01-20 14:42] asraman9792 commented on #3917
@nicolas-raoul Sir can i work on this issue as my first issue ?

[2021-01-20 14:52] nicolas-raoul commented on #3917
@asraman9792 Did you manage to reproduce the issue? That's the hardest part actually, as it does not happen on all devices I have tried.

[2021-01-20 14:53] nicolas-raoul commented on #3926
@asraman9792 Sorry I forgot to mark this issue as fixed! Thanks for the hint.

[2021-01-20 14:53] #3926 closed

[2021-01-20 14:56] asraman9792 commented on #3917
@nicolas-raoul Sir I have MI k20 pro as it does not happen with it will check with the other devices I have

[2021-01-20 15:06] #4132 closed

[2021-01-20 17:18] #4159 closed

[2021-01-20 17:35] #4178 closed

[2021-01-21 04:38] Prince-kushwaha opened #4196 "App crash in CategoryDetailsActivity when click on any media"
**Summary:**
In the CategoryDetalis Activity click on any medai  (image or video) then App crash

**Steps to reproduce:**
See in ScreenShot

What did you expect the app to do, and what did you see instead?
App not crash in the CategoryDetails Activity  on click on any medai (image,video)

 **System logs:**

 java.lang.NullPointerException: Attempt to invoke virtual method 'void androidx.appcompat.

[2021-01-21 08:56] Nikerabbit opened #4197 "Trailing whitespace in i18n messages (+extra)"
**Summary:**

Translatewiki.net does not support trailing whitespace in messages (it gets stripped). Here is a list of such messages:
[code]

Insignificant trailing whitespace should be removed. Significant trailing whitespace should be avoided by using variables.

The script also found this difference:
[code]

The change from "exists" to "destroyed" looks like a mistake. Can you verify?

[2021-01-21 10:39] misaochan commented on #4197
Yes, the change was a mistake I believe, I remember there was a PR where an auto-replace of "exists" had to be fixed. @neslihanturan can you confirm? :)

Thanks for letting us know about the trailing whitespaces. This should be an easy PR for a new contributor to get started on.

[2021-01-21 10:42] misaochan commented on #3924
Hi @4D17Y4 , please see Ashish's comment. :) Feel free to submit a PR for this and we will review.

[2021-01-21 10:45] misaochan commented on #4156
@FatimahGoldhirsch This is a good question. The map was initially designed as a "Nearby" map, that would allow users to view needed pictures at their current location. We eventually added the option to "Search" for needed pics at other areas, but we did not change the location requirement. This issue still needs to be fixed, but I do think that there is merit in switching to a system where we DON'

[2021-01-21 10:50] misaochan opened #4198 "Allow users to access Nearby map without their current location"
From a conversation on #4156

@FatimahGoldhirsch said:

And this was my response:

What do you all think about allowing users to access the map without their location? I think it would be doable (and would help a lot if a user has GPS disabled but just wants to upload their old photos).

If the location was accessible, of course we would load the map at their location. Otherwise perhaps we could l

[2021-01-21 12:49] 4D17Y4 commented on #4142
2021-01-21 18:13:03.161 9495-9495/fr.free.nrw.commons.beta E/SQLiteLog: (1) no such table: bookmarksLocations
2021-01-21 18:13:03.164 9495-9495/fr.free.nrw.commons.beta E/AndroidRuntime: FATAL EXCEPTION: main
    Process: fr.free.nrw.commons.beta, PID: 9495
    android.database.sqlite.SQLiteException: no such table: bookmarksLocations (code 1 SQLITE_ERROR): , while compiling: SELECT location_name,

[2021-01-21 12:55] 4D17Y4 commented on #4141
Unfortunately, the fix isn't working.

<img src="https://user-images.githubusercontent.com/54016427/105353631-8297ff00-5c15-11eb-8b50-688a89194550.jpeg" height=500px>

Date and time of ss: 21 jan 2021, 6:06 IST.

For the context, I was logging in and out several times to test a bug and this showed up.

Thanks.

[2021-01-21 15:05] ashishkumar468 commented on #3924
I am not sure about the other issue, or if this would solve the issue for this , but

I am not sure about the other issue, or if this would solve the issue completely(since the device does not have play-services), but the short-circuiting is clearly a bug, I will be raising a PR for that, soon, once that goes to beta (and if we are not able to solve this by then), rolling this out will help for su

[2021-01-21 15:23] misaochan commented on #4141
Did you test the 3.0-release branch, @4D17Y4 ?

[2021-01-21 15:54] Prince-kushwaha commented on #3559
can i work on this issue

[2021-01-21 15:59] Daykeras commented on #3559
Yes

On Thu, Jan 21, 2021, 10:54 AM Prince kushwaha <notifications@github.com>
wrote:

[2021-01-21 17:55] 4D17Y4 commented on #4141
Oh,
I just noticed that,
Thanks @misaochan
and sorry for the noise ;)

[2021-01-21 18:14] 4D17Y4 commented on #3924
I've tried replacing `&&` with `||` but as the network provider returns true, the second GPS providers are never asked for updates and we can't see the location icon on the status bar ( which typically shows that location is being accessed ).

I do agree with the issue that GPS one won't be called if the Network turns out to be false.

For that, I can change `&&` to `|` this way GPS providers woul

[2021-01-21 18:21] ashishkumar468 commented on #3924
Thanks @4D17Y4 , have you been able to reproduce this issue in your device, if yes will it be possible to share the steps to reproduce this?

[2021-01-21 18:46] 4D17Y4 commented on #3924
Sure @ashishkumar0207,
Try this
1. Remove the app from the background and fresh start it.
2. Switch to the nearby tab.
3. You'll see the mentioned toast "Location not available"
4. Wait for some time, you'll see the location getting updated and the map showing your current location.

[2021-01-22 08:13] maxbetton commented on #2810
Hello, I see the issue is available. Can I take it ?

[2021-01-22 08:18] madhurgupta10 commented on #2810
@maxbetton Sure go ahead!

[2021-01-22 08:20] madhurgupta10 commented on #2810
Feel free to refer https://github.com/commons-app/apps-android-commons/pull/3504#issuecomment-600801773 for UI

[2021-01-22 08:25] maxbetton commented on #2810
Thank you. For sure, I saw it :)

[2021-01-22 13:18] maxbetton commented on #2810
Just to be sure, are we OK with that?
![Screenshot_1611321374](https://user-images.githubusercontent.com/55984454/105495474-83d03700-5cbc-11eb-8539-f31cf803d7f3.png)

[2021-01-22 15:12] ashishkumar468 commented on #3924
@4D17Y4 Thanks for sharing the steps, although this issue seems different, @heinrich5991 's issue is that Nearby never updates the location in his device.

[2021-01-22 17:57] 4D17Y4 commented on #3924
Apparently, I overlooked the discussion that followed the issue.
Thanks, @ashishkumar0207.

[2021-01-22 18:02] 4D17Y4 commented on #3924
Should I open a new issue for fixing the mentioned bug, as I have the PR ready and linked here? and I think the issue would be quite similar to this one.
@misaochan @neslihanturan

[2021-01-22 21:38] jidanni opened #4201 "View in (in app) browser"
We see a menu item, view in browser. However we're surprised as it turns out it is not a real browser, but it is just the the in-app browser. To finally get to the real browser we need to select even more, one time, view in browser. Therefore perhaps rename this menu item to something like, view in in app browser.

[2021-01-23 05:35] madhurgupta10 commented on #2810
@maxbetton My Bad, I see that some comments got hidden and the UI which was actually finalised is this https://github.com/commons-app/apps-android-commons/pull/3504#issuecomment-619364827
![80324860-0a8ddb80-8833-11ea-8471-ba2319196c5e](https://user-images.githubusercontent.com/30932899/105569781-b7699a80-5d6a-11eb-9768-f337f650b86f.png)

[2021-01-23 09:14] madhurgupta10 commented on #4197
@misaochan The issue with whitespaces can be fixed with the PR #4200
About the second part, Should we reopen this issue or create a new one?

[2021-01-24 16:37] maxbetton commented on #4197
@madhurgupta10 I will do the second part in the same PR sorry

[2021-01-25 02:30] madhurgupta10 commented on #4201
@jidanni I agree it makes more sense to make the change. Pinging @sivaraam @nicolas-raoul @misaochan for their opinion :)

[2021-01-25 10:34] Pratham2305 opened #4203 "Blank Screen Appears on clicking any media after a theme change"
**Summary:**

Summarize your issue in one sentence (what goes wrong, what did you expect to happen)
On explore tab, Blank Screen appears on clicking any media after changing the theme in settings.

**Steps to reproduce:**
1. Go to the Explore tab and click on the More options tab
2. Open Settings from the bottom sheet and then Change the app theme
3. Now return back to explore tab
4. Open any medi

[2021-01-25 13:35] Prince-kushwaha commented on #1984
i want to work on this issue

[2021-01-25 13:38] maxbetton commented on #4197
Second part done in the same PR than the first part #4200

[2021-01-25 14:27] #4197 closed

[2021-01-26 07:59] Roshan13046 commented on #3880
Can I update the min SDK version from 19 to 21?

[2021-01-26 16:33] 4D17Y4 commented on #4186
Can I work on this?
@madhurgupta10 @misaochan

[2021-01-26 17:01] sivaraam commented on #4201
I'm doubtful if users might perceive that we're shipping a full-blown browser with the app or something like that when they read "in-app browser".

In reality, all we do is use custom tabs to open links. Of course, they do look as if the links open within the app. That's one part of it. But there's another part which makes it difficult for us to use the phrase "in-app" for the menu. That is the fa

[2021-01-26 23:27] FatimahGoldhirsch commented on #4156
@misachan
Send Log File issue: I'm using the default client that came with my OS (com.android.email).

And thank you for opening that new issue. I was not sure whether this topic was already discussed and settled.

[2021-01-27 07:56] jidanni commented on #4201
OK, then maybe just say "View page".

[2021-01-27 07:57] madhurgupta10 commented on #4201
How about saying "View webpage" instead?

[2021-01-28 18:28] sivaraam commented on #4201
That sounds better 🙂

[2021-01-29 19:00] Roshan13046 commented on #4203
It works fine on the Samsung J7 Android device.

[2021-01-29 19:02] Roshan13046 commented on #4203
@Pratham2305
It works fine on Android devices.
My device: Samsung j7 Prime

[2021-01-29 19:23] Roshan13046 commented on #4073
Can I fix this issue?
My Approach: Deleting the old UI tests from the file.
Any suggestions?

[2021-01-29 19:58] Pratham2305 commented on #4203
That's strange, I can still reproduce it, here a video

https://user-images.githubusercontent.com/54663429/106320707-3eea6880-6299-11eb-82d5-f069cb429915.mp4

@Roshan13046  can you just confirm that you have also followed the same steps? Thanks!

[2021-01-30 15:28] maxbetton commented on #2810
I have open the PR #4206 for this issue;

[2021-01-30 18:50] Pratham2305 commented on #2803
hey @nicolas-raoul, I am able to reproduce this. Can I work on this?

[2021-01-31 00:51] nicolas-raoul commented on #2803
@Pratham2305 Yes thanks!
I think you can rebase Manuelle's pull request to the latest master, and address https://github.com/commons-app/apps-android-commons/pull/3292#pullrequestreview-349131086 and https://github.com/commons-app/apps-android-commons/pull/3292#pullrequestreview-415169298

[2021-01-31 04:09] Roshan13046 commented on #4189
Unable to hear any notification alert.
Can you please provide steps to reproduce?

[2021-01-31 04:24] Roshan13046 commented on #4203
@Pratham2305 I followed the steps mentioned in the above video. Yes, this issue exists.

[2021-01-31 08:18] nicolas-raoul opened #4207 "Nearby: Consider items with a "point in time" (P585) as not existing anymore"
Items with a "point in time" (P585) are mostly past events, see for instance https://www.wikidata.org/wiki/Q858475

They currently appear in Nearby like currently existing items.

I suggest considering them as non-existing, which means treating them as if they had a P582 or P576 property.

[2021-01-31 15:28] jidanni opened #4208 "Add support for uploading and recording audio sounds"
The app could easily upload audio files. Right from the start screen we see a picture of a camera, a picture of mountains...

[2021-01-31 15:34] jidanni opened #4209 "Add link to website in main menu"
Okay, perhaps the app cannot do the job for a certain file. Or, maybe we are just bored. So now we want to go to the Commons website upload page. Well there in the main three bar menu there should be a link to that page. That link should simply launch a browser like Google Chrome that would take us there.

[2021-01-31 15:35] jidanni commented on #4209
Not sure if that link should go to the commons main page, or the commas upload page. You guys decide. Also how it should be titled you guys decide also. But it should be there in the main menu because it's the granddaddy of this program you might say.

[2021-01-31 15:38] jidanni commented on #4209
Maybe it should be called Website. Anyway there's no other way to get there, without at least three clicks, otherwise from within the app.

[2021-01-31 17:56] Pratham2305 commented on #2803
@nicolas-raoul I have tested the solution given in #3292 and it's not working as expected. I am also getting multiple merge conflicts on that. Can I make a new PR to address the issue?

[2021-02-01 09:05] nicolas-raoul commented on #2803
@Pratham2305 Yes sure thanks!

[2021-02-01 14:33] neslihanturan commented on #3375
Closing this one as it is duplicate :)

[2021-02-01 14:33] #3375 closed

[2021-02-01 18:12] neslihanturan commented on #545
Hey all, finally this is happening :) Today I worked on some mockups and ideas about how to implement WLM. Here they are:
**Use Case**
- My suggestion is keeping this feature location independed. Whether the user is at that country or not, if searched area has an active campaign, user should be able upload through app.

- After a search at a place where WLM is active occured, we can display a bann

[2021-02-02 15:26] misaochan commented on #545
Yup, we are super stoked to be working on implementing WLM integration into the app for WLM 2021, as part of our new project grant! :) Integration of other types of campaigns are not in scope for the time being, but we should be able to generalize more in the future.

Generally speaking, this is the process that we intend to go through:
1. Designing mockups and discussing implementation details
2.

[2021-02-02 16:42] misaochan commented on #4073
I think it's OK to delete for now. We should probably make a separate issue for writing UI tests that actually work.

[2021-02-02 16:45] misaochan commented on #4201
I'm good with "view webpage" too.

[2021-02-02 16:49] misaochan commented on #4186
@ashishkumar468 is this related to the WorkManagers issue?

[2021-02-02 16:51] ashishkumar468 commented on #4186
No this seems a different one

[2021-02-02 16:54] misaochan commented on #4186
@4D17Y4 Please feel free in that case. :)

[2021-02-02 16:59] misaochan commented on #4141
So just to confirm @4D17Y4 , you don't encounter this bug on 3.0-release? :)

[2021-02-02 17:34] misaochan commented on #3924
@4D17Y4 sorry for the slow response. Yes, I think it's OK to submit a new PR. Generally we try to have a one-at-a-time rule, however this is higher priority than #4186 so perhaps it is better to submit this one first.

[2021-02-02 23:29] madhurgupta10 commented on #4073
@Roshan13046 Feel free to make a PR for this issue!

[2021-02-03 00:02] nicolas-raoul commented on #545
Uploads are always welcome, "Needs picture" or not, WLM or not :-)
From my point of view I think that showing WLM points with no picture yet in a more visible way would be ideal, but showing them all the same way is reasonable too, if it is easier to implement/maintain.

[2021-02-03 06:00] Roshan13046 commented on #4073
Please, suggest to me which UI tests are considered old UI tests?

[2021-02-03 13:36] 4D17Y4 opened #4211 "Shows "Location not available" while fetching location updates."
**Summary:**

Summarize your issue in one sentence (what goes wrong, what did you expect to happen)
When you load nearby for the first time it says "Location not available". After waiting for a while the location does update and we see the current location in the nearby tab.

**Steps to reproduce:**
How can we reproduce the issue?

  1. Remove the app from the background and fresh start it.
  2. S

[2021-02-03 15:34] 4D17Y4 commented on #4141
Actually, this bug is very hard to reproduce even on the master.
I'll continue testing bugs on the 3.0-release and if I encounter this again I'll surely inform.
Thanks.

[2021-02-03 15:57] 4D17Y4 commented on #4186
@misaochan, I'm confused, this issue was there when I opened it and it is on 3.0-release too but apparently, on the latest master i can't reproduce it. Somewhere in the commits in the last 17 days, this got fixed in master.
Should I close this one?

[2021-02-04 17:38] misaochan commented on #4186
Thanks for your investigations, I will close it then. :)

[2021-02-04 17:38] #4186 closed

[2021-02-04 17:59] sivaraam commented on #4201
I just remembered that the Wikipedia app, also uses text to indicate opening the page of the media in the browser. They're using the "file page" in those places. Here's a screen shot that shows their usage of "file page":

![Screenshot_2021-02-04-10-24-34](https://user-images.githubusercontent.com/12448084/106934900-ba886180-6740-11eb-9793-38b14061c604.png)

So, "View file page" is an alternative

[2021-02-05 13:52] Pratham2305 commented on #3732
Hi! I would like to work on this.
I agree with @sivaraam,  I think we can initially show a zoomed out map and if the user allows the permission then we can zoom to the user's location otherwise, we can still enable the "search this area" button and allow the user to use it and upload images.

[2021-02-05 14:25] Roshan13046 commented on #4140
is there anyone working on this issue? I would like to fix it.

[2021-02-05 15:52] ashishkumar468 commented on #4140
Hi Roshan, this is yours :)

[2021-02-05 16:46] Prince-kushwaha commented on #4196
Can I work on this issue

[2021-02-05 17:00] Roshan13046 commented on #3584
Is anyone still working on this issue?

[2021-02-06 06:59] Bbiswabasu commented on #4201
I would like to work on this

[2021-02-06 11:46] i-am-atif commented on #3651
@nicolas-raoul can I work on this?

[2021-02-06 14:05] shabar-shab commented on #3651
@i-am-atif  I was not able to reproduce this issue. did you reproduce this issue.

[2021-02-06 15:37] i-am-atif commented on #3651
@shabar-shab I just tried to reproduce this issue, but failed to do so

[2021-02-06 15:48] i-am-atif commented on #3651
I was able to upload the image without any error.

[2021-02-06 20:19] 4D17Y4 opened #4215 "Swiping on the last item in explore featured tab takes you to uploaded via mobile."
**Summary:**

When you swipe on the last item in explore featured fragment it gets to uploaded via mobile.

**Steps to reproduce:**
go to the last item of the featured tab and swipe left, you'll notice you're taken to uploaded via mobile.
* this issue also exist in bookmark fragment.

What did you expect the app to do, and what did you see instead?

This is not the major issue but when we click on

[2021-02-06 20:26] 4D17Y4 commented on #4215
@misaochan ,
Assign me this one.
I'll fix it and also the crash on tapping the last item which seems to show up again, once and for all. As these, both issues are linked ill fix them in one pr.

[2021-02-06 20:30] 4D17Y4 commented on #4215
For the solution part,
I'm thinking of restricting the user from swiping to get to the 'uploaded from mobile' that will remove any abnormal behaviour on returning or tapping an item.
@nicolas-raoul , @madhurgupta10 for suggestions.

[2021-02-07 07:44] Roshan13046 opened #4217 "Share button color should be changed from white to black in About Activity."
**Summary:**

In the About Activity screen, a share button is present at the top right corner but not visible due to its white color. To make it visible its color should be changed to black.

**Steps to reproduce:**
Open About section in Menu Bar.
There is a share button at the top right corner of the toolbar.

What did you expect the app to do, and what did you see instead?
The share button shoul

[2021-02-07 07:45] Roshan13046 commented on #4217
I would like to fix this issue by raising a PR.

[2021-02-07 08:49] Pratham2305 opened #4218 "In-App notifications appear on media detail fragment"
**Summary:**
In-App notifications appear on media detail fragment after coming back from zoom image activity.

**Steps to reproduce:**
On Contribution Tab, Open any media details then click on the image and now return back to the media detail page.

What did you expect the app to do, and what did you see instead?
These should not appear on the media detail fragment.

**Device and Android version:*

[2021-02-07 14:59] madhurgupta10 commented on #4217
@Roshan13046 Feel free to work on this issue

[2021-02-07 15:03] madhurgupta10 commented on #4215
@4D17Y4 Hi, could you please add a screen recording of the current behaviour?

[2021-02-07 15:11] madhurgupta10 commented on #4203
@Pratham2305 Thanks for reporting the issue, feel free to work on it

[2021-02-07 15:14] madhurgupta10 commented on #4196
@Prince-kushwaha Thanks for reporting the issue, feel free to work on it.

[2021-02-07 17:55] Roshan13046 commented on #1255
This issue should be closed as it's fixed.

[2021-02-08 04:41] Roshan13046 commented on #3441
Is this issue fixed?

[2021-02-08 06:21] 4D17Y4 commented on #4215
@madhurgupta10, I've updated the issue, added the recording.
The major issue is the last one according to me.

[2021-02-08 08:50] neslihanturan commented on #545
AFAIK it is allowed to join WLM, whether you are at the place or not. You can upload pictures taken beforehand.

Good idea, and will be simpler to implements

I agree, thumbnails may discourage people from uploading. Lets make all of them with WLM logo.

Hmm, place type is more visible indeed. However there is few space there. If we add one more filter as WLM, it may go two lines. But we can live

[2021-02-08 12:06] #1984 closed

[2021-02-08 13:50] #3559 closed

[2021-02-08 15:47] pigsonthewing commented on #4189
Upload a photo.

As upload starts, app gives an audible notification.

[2021-02-08 16:55] neslihanturan commented on #545
According to latest discussions, here is the final (for now) mockups:
![wlm_mockups_english](https://user-images.githubusercontent.com/3127881/107253621-8ade9f80-6a47-11eb-8613-2845ea1e776e.png)

[2021-02-09 08:16] aakashgoel2002 commented on #4209
The link can be attached in the Commons Logo which appears after clicking the three-bar menu, and according to me, the link should be of Commons Main Page as it doesn't symbolize upload. Can I work over this issue?

[2021-02-09 14:18] Vikash174 commented on #4217
is this issue fixed?

[2021-02-09 14:25] Vikash174 commented on #4201
can i work on this issue

[2021-02-09 17:22] Roshan13046 commented on #4217
@Vikash174 yes.

[2021-02-11 09:35] asaikarthikeya opened #4221 "Colour of More option when the theme set to dark colour."
**Summary:**

More option doesn't change colour accordingly when the theme set to dark colour.

**Device and Android version:**

 Phone -- Asus max m1 pro.
Android 10
Stock android.

**Screen-shots:**

![Photo from Sai Karthik](https://user-images.githubusercontent.com/70392921/107620128-3c651700-6c7a-11eb-86c6-00d1391cb19b.jpg)

**Would you like to work on the issue?**

Yes

[2021-02-11 10:14] #4221 closed

[2021-02-11 17:56] #4150 closed

[2021-02-12 07:42] mrudultora opened #4224 "App crashes in ExploreListRootFragment"
**Summary:**

On clicking the last image in **ExploreListRootFragment** the app crashes with **IndexOutOfBoundsException**

**Steps to reproduce:**

• Go to Explore tab from Bottom Navigation Bar.
• Clicking on the last image in Featured tab causes the app to crash.

**System logs:**

    Process: fr.free.nrw.commons.beta, PID: 26125
    java.lang.IndexOutOfBoundsException: Index: 10, Size: 10

[2021-02-12 14:17] madhurgupta10 commented on #4215
@4D17Y4 Thanks for the details, this happens only when there is no network or slow network and async loading isn't continuing in the background.

Feel free to work on it if you are not working/assigned any other issue at the moment.

[2021-02-12 14:31] 4D17Y4 commented on #4215
I don't find any connection with network and the view pager nested swipes not configured properly.
Can u explain it , it'll help me in tackling the issue efficiently.

Will start working on it .
Thx.

[2021-02-13 06:19] mrudultora commented on #4196
@Prince-kushwaha Are you still working on this ? If not, then please inform :-)

[2021-02-13 08:21] mrudultora commented on #4142
@nicolas-raoul I am able to produce this. My logs are different from @4D17Y4 . I am attaching only the relevant logs.

    Process: fr.free.nrw.commons.beta, PID: 32617
    java.lang.NullPointerException: Attempt to invoke virtual method 'boolean fr.free.nrw.commons.media.MediaDetailPagerFragment.isVisible()' on a null object reference
        at fr.free.nrw.commons.bookmarks.BookmarkListRootFragm

[2021-02-13 08:41] 4D17Y4 commented on #4142
Yes, @mrudultora
They seem totally different.
It's just that I'm currently working on a bug in the Bookmark fragment and I can't seem to reproduce this issue on the latest master.
Can u check if you are testing this on the current master?

Thx.

[2021-02-13 08:51] Prince-kushwaha commented on #4196
Yes

[2021-02-13 08:52] Prince-kushwaha commented on #4196
@mrudultora  I am work on this issue

[2021-02-13 08:57] mrudultora commented on #4196
@Prince-kushwaha Okay ;-)

[2021-02-13 09:06] mrudultora commented on #4142
@4D17Y4 I am on the current master. I think the problem faced by me can be opened as a new issue.

[2021-02-13 09:17] mrudultora opened #4226 "App crashes when pressing back button in bookmarks fragment"
**Summary:**

When I try to close the bookmarks fragment by pressing back button the app crashes

**Steps to reproduce:**
Go to bookmarks tab. Press back button.

**System logs:**

Process: fr.free.nrw.commons.beta, PID: 32617
java.lang.NullPointerException: Attempt to invoke virtual method 'boolean fr.free.nrw.commons.media.MediaDetailPagerFragment.isVisible()' on a null object reference
at fr.fr

[2021-02-13 09:18] mrudultora commented on #4226
Can I work on this ?

[2021-02-13 10:56] 4D17Y4 commented on #4142
Hey @mrudultora,
I've examined this bug on the master and someone in recent commits fixed the issue.
Furthermore, I see that your fork is some commits behind the latest master.
U can update your fork and then if the bug still persists you can open a new issue 😄.

And if this was tested on an updated clone then never mind, open a new issue and start working as soon as you're assigned.

Thanks.

[2021-02-13 10:59] diamniko commented on #4147
Hello, can I work on this?

[2021-02-13 11:00] mrudultora commented on #4142
@4D17Y4 Yes you are right. Btw, in my last comment I was talking about this #4226 ;-)

[2021-02-13 11:53] #4226 closed

[2021-02-14 06:49] jidanni commented on #4201
Currently tapping the three dots, and then View In  Browser triggers the Android question screen of which app do we want to use, so we choose Chrome. However doesn't open it in Chrome. It just opens it inside the commons app. So it's asking us which application want to use to open it, but then it's ignoring our choice. Or, it's opening it inside Chrome, inside the Commons app.

[2021-02-14 06:51] jidanni commented on #4201
`intent://commons.m.wikimedia.org/wiki/File%3AStick_stuck_through_%E5%A7%91%E5%A9%86%E8%8A%8B_leaf.jpg#Intent;scheme=https;launchFlags=0x3008000;i.android.support.customtabs.extra.SECONDARY_TOOLBAR_COLOR=-16763027;i.android.support.customtabs.extra.TOOLBAR_COLOR=-15966052;B.android.support.customtabs.extra.EXTRA_ENABLE_INSTANT_APPS=true;end`

[2021-02-14 14:13] nicolas-raoul commented on #4215
I can reproduce the issue even with a good mobile connection, if I swipe very fast for a minute.
Maybe I have to swipe faster than the next page loads.

[2021-02-14 14:21] 4D17Y4 commented on #4215
Yes, @nicolas-raoul
U can see this issue in bookmarks too where loading isn't an issue if u haven't bookmarked many of them.
I have linked a PR that solves the issue in both explore and favorites fragment.
Waiting for review and suggestions ; )

[2021-02-14 14:52] nicolas-raoul commented on #4224
Strange, I am not able to replicate this issue.
Does this happen all the time, or only sometimes?
Is there a trick to make it happen more often, for instance use a slow Internet connection, or any other trick?
Thanks! :-)

[2021-02-14 15:35] mrudultora commented on #4224
@nicolas-raoul No it's not due to slow internet connection. Go to explore tab. Scroll down fastly and open the last image immediately. The next few images must be loading at that time (this is important). This bug also is present in current beta version on play store. I hope you will be able to produce this bug by the above steps :-)

[2021-02-14 15:37] mrudultora commented on #4224
Also, it's happening in both logged in and not logged in !

[2021-02-14 17:42] 4D17Y4 commented on #4224
Yes, @nicolas-raoul,
Can confirm this issue does not exist on the current master,
Moreover, there is a very similar closed issue #4186.

@mrudultora, you can follow the discussion there, although I was not able to point to the commit that fixed it.
https://github.com/commons-app/apps-android-commons/issues/4186#issuecomment-772615882

If the PR fixes another issue link it to that specific issue, o

[2021-02-14 17:57] mrudultora commented on #4224
@4D17Y4 The issue you mentioned gives a **NullPointerException**. The issue I mentioned is giving **IndexOutOfBoundsException**. So I guess, this is a valid issue ;-)

[2021-02-14 18:59] Pratham2305 opened #4229 "App Crashes while trying to nominate an item for deletion, When User is not logged in."
**Summary:**
When the user is not logged in, App Crashes after giving the reason while nominating the item for deletion.

**Steps to reproduce:**

1. Open the app without logging in.
2. Click on any Media to open media detail.
3. Now try to nominate the media for deletion and click "ok" after giving the reason.

What did you expect the app to do, and what did you see instead?
The app should redire

[2021-02-14 19:22] 4D17Y4 commented on #3440
I'd like to work on this one.

[2021-02-14 20:02] 4D17Y4 opened #4230 "Opening notifications in "Read" section still marks them as read and removes them from the list."
**Summary:**

On tapping a notification in read section of notifications, the app behaves as if in unread section and marks the notifications as read, removing them from the list.

**Steps to reproduce:**
* Go to read the section in the notification.
* Tap on an item to view it.
* Get back to see notification removed from read section.

What did you expect the app to do, and what did you see inste

[2021-02-15 05:47] 4D17Y4 commented on #3440
On investigation, I found that even swiping doesn't seem to do the job whilst the nearby notification works perfectly.
Will start working as soon as I'm assigned @nicolas-raoul , @misaochan .
Thanks.

[2021-02-15 12:15] nicolas-raoul commented on #3440
@gupta-anmol Are you still working on this? :-)
@4D17Y4 if there is no answer from Gupta within 24 hours please feel free to work on it.

[2021-02-15 12:38] nicolas-raoul commented on #4224
@mrudultora Are you able to reproduce the issue on the latest master?

[2021-02-15 13:01] gupta-anmol commented on #3440
@nicolas-raoul I'm not working on this.
@4D17Y4 you can go ahead with it. 👍

[2021-02-15 14:43] nicolas-raoul commented on #4203
I confirm that the issue still exists in the latest master.

[2021-02-15 14:45] nicolas-raoul commented on #3531
I confirm that this crash still happens in latest master.

[2021-02-15 14:52] #4203 closed

[2021-02-15 14:52] mrudultora commented on #4224
@nicolas-raoul I was on latest master. But, I am trying today and it's not crashing. On clicking the last item the index is not exceeding the size of list today (I was logging the index).

[2021-02-15 14:53] #3531 closed

[2021-02-15 18:01] #2770 closed

[2021-02-15 21:06] 4D17Y4 opened #4232 "App crashes on trying to upload a media from gallery."
**Summary:**
On selecting an item from the gallery for upload the app crashes unexpectedly.

**Steps to reproduce:**
Try selecting a media from the gallery for upload from the floating action button.

What did you expect the app to do, and what did you see instead?
The app should not crash.

**System logs:**

[code]

**Device and Android version:**

Nokia 6.1+ android 10 stock

**Commons app versi

[2021-02-16 05:37] jidanni commented on #4232
Also crashes want attempting to use the app to take a picture.

Also crashes two out of three times, upon simply launching the app.

[2021-02-16 06:14] jidanni commented on #4232
A simple
https://en.m.wikipedia.org/wiki/Smoke_testing_(software)
would have surely caught this. One hopes such tests are part of the standard operating procedures before an upload to Google Play. Thanks.

[2021-02-16 07:21] ashishkumar468 commented on #4232
Hi @jidanni , Thanks for sharing the logs. The app usually does not crashes while performing these basic operations. The issue is related with fetching EXIF information, I will look into this and make sure the fix is rolled out asap.

[2021-02-16 07:23] nicolas-raoul commented on #4232
Did the problem start happening yesterday? Yesterday I merged this PR which upgrades ExifInterface: https://github.com/commons-app/apps-android-commons/pull/4223/files

[2021-02-16 09:25] nicolas-raoul commented on #4232
@4D17Y4 In your report you wrote `Commons app version: betaDebug master`. Usually in this field we put the complete version number.

@jidanni Would you mind posting a screenshot of the About screen? I am especially interested in the part after the `~` character.

[2021-02-16 13:36] nicolas-raoul commented on #4232
@jidanni You are using the alpha version if I remember correctly? You did not compile the app's source code by yourself nor installed manually a customized APK, right?

[2021-02-16 13:49] nicolas-raoul commented on #4230
I can reproduce that on latest master indeed, good find!

[2021-02-16 13:51] nicolas-raoul commented on #4230
Since you already have an issue assigned, please ask when you want to work on this one and we will assign you, thanks :-)

[2021-02-16 13:53] nicolas-raoul commented on #4229
Thanks!
You can also choose to hide the action from non-logged in users. Whichever you think makes most sense / is most maintainable :-)

[2021-02-16 13:57] nicolas-raoul commented on #4218
Well spot!
Since you already have an issue assigned, I leave this one unassigned. When you have no issue assigned, please ask us to assign you, thanks :-)

[2021-02-16 14:22] nicolas-raoul commented on #4209
Does the Wikipedia app has something like this? If yes, could you please post screenshots showing all steps to go from the app's main screen to the website?

Right now you can go to About, tap the earth icon, then on that website tap the Wikimedia Commons hyperlink.

@aakankshaa23 Please read https://github.com/commons-app/commons-app-documentation/blob/master/android/Volunteers-welcome!.md#develo

[2021-02-16 14:27] #4201 closed

[2021-02-16 14:41] nicolas-raoul commented on #697
I just retried the lingualibre website, it is now available in English is usable on mobile (with only a few glitches).
I will thus close this issue, as lingualibre is the best tool for pronunciation of words/sentences.
Thanks! :-)

[2021-02-16 14:41] #697 closed

[2021-02-16 14:43] nicolas-raoul commented on #4208
including transcoding to Wikimedia-accepted format

[2021-02-16 14:53] nicolas-raoul commented on #4189
@pigsonthewing Thanks for reporting! What version of Android are you using? Would you mind reading https://github.com/commons-app/apps-android-commons/issues/2528 and telling us whether this describes what you are experiencing? If not, would you mind detailing what is different? It might be an old issue that we are having trouble reproducing. Thanks!

[2021-02-16 15:07] nicolas-raoul commented on #4142
Closing this as the initial issue seems solved.
Anyone please create a new issue if you experience any such problem on the latest master or with Play Store's alpha version.
Thanks all! :-)

[2021-02-16 15:07] #4142 closed

[2021-02-16 15:16] nicolas-raoul commented on #4232
I think I reproduced this. I believe that uploading any image with no EXIF (for instance a screenshot) causes this in latest master.

[2021-02-16 15:43] nicolas-raoul opened #4234 "Venetian language"

[2021-02-16 18:58] 4D17Y4 commented on #4232
Yes @nicolas-raoul, this seems to be the issue.
As i revert the files in that commit, uploading seems to work fine.

[2021-02-16 20:16] Pratham2305 commented on #4229
Yes, I think hiding it makes more sense if the user is not able to use it.

[2021-02-16 22:13] jidanni commented on #4232
@nicolas-raoul glad to hear the bug will be fixed soon!

[2021-02-16 22:21] pigsonthewing commented on #4190
https://commons.wikimedia.org/wiki/Template:Creator

[2021-02-16 22:23] jidanni opened #4236 "Be sure version number is mentioned on crash message screen"
In #4232 maintainers asked "What version were you using when the crash happened?"
However users cannot get to the version information the familiar way, as... of course the app has crashed!
Therefore I have an idea: in the crash message discussed on #2179, simply be sure the version number appears on the screen!
"But smart users can still get that info from the Android Settings app info." -- Yes, b

[2021-02-16 22:29] pigsonthewing commented on #4189
I have a OnePlus Nord, so I'm using OxygenOS, v. 10.5.10.AC018A - https://en.wikipedia.org/wiki/OxygenOS

Seems to be, though I can't speak to the error logs.

[2021-02-17 00:21] hugolpz commented on #697
@nicolas-raoul : We also published our recorder script under free license for project willing to do thing locally.
- https://github.com/lingua-libre/LinguaRecorder

[2021-02-17 01:03] nicolas-raoul commented on #2528
@pigsonthewing reports an audio alert notification that an upload has started, on a OnePlus Nord, running OxygenOS, v. 10.5.10.AC018A - https://en.wikipedia.org/wiki/OxygenOS

[2021-02-17 01:05] jidanni commented on #4209
I'm not sure. Other reporters perhaps can install it and see. My phone is off today.

Sounds rather hidden / obscure.

Like [the mobile websites' highest menu level](https://phabricator.wikimedia.org/T274744), important stuff is right there.

[2021-02-17 01:06] nicolas-raoul commented on #4189
The app does not willingly call any instruction to make a sound, so there must be some kind of bug deep inside one of the libraries we are using which affects only some devices/OSes.
I added your information to #2528, and will close this issue so that all investigation can be focused in one place.
Thanks a lot for using the app, and sorry for the inconvenience!

[2021-02-17 01:06] #4189 closed

[2021-02-17 04:23] nicolas-raoul commented on #4232
@4D17Y4 Thanks! Then reverting the commit would be the easiest, but if you are up for the challenge, how about checking what has changed in ExifInterface and adapt our source code to the new outputs? :-)

[2021-02-17 04:26] 4D17Y4 commented on #4232
@nicolas-raoul l've tried solving the issue without reverting the files.
Would be glad if u review the pr ;)

[2021-02-17 07:27] nicolas-raoul commented on #4194
When sharing from the gallery, indeed after the upload (which is visible in the notification bar), the user is sent back to the gallery (which is expected) without telling them that the upload was successful.

My point of view is that a notification would be too much, but a toast could be nice.

[2021-02-17 07:33] nicolas-raoul commented on #4196
I am able to reproduce the crash on latest master.

[2021-02-17 07:37] #4196 closed

[2021-02-17 09:38] #4232 closed

[2021-02-17 09:51] mrudultora commented on #4129
@Pratham2305 Unable to reproduce.

[2021-02-17 10:17] mrudultora opened #4238 "App crashes on trying to upload a media directly from camera."
**Summary:**

On selecting a image clicked from the camera for upload, the app crashes.

**Steps to reproduce:**

• Click on the **+** (floating action button) icon in contributions tab.
• Select camera from there.
• Click a photo and select that photo.
• App will crash there.

**System logs:**

[code]

**Device and Android version:**
Redmi Note 7S (Android 10)

**Commons app version:**
betaDebug

[2021-02-17 10:28] nicolas-raoul commented on #3651
@i-am-atif Did you follow all the steps exactly, especially step 4?
Please post the URL of your uploaded image here, thanks!

[2021-02-17 10:37] nicolas-raoul commented on #3584
@Roshan13046 Double sorry: 1) For my late reply 2) Because we forgot to close this issue, the "tooltip" is already implemented. Please feel free to look at other issues, thanks a lot! :-)

[2021-02-17 10:37] #3584 closed

[2021-02-17 11:44] misaochan commented on #4232
Thanks a lot @4D17Y4 ! :)

[2021-02-17 11:47] misaochan commented on #4147
@burnerlee Are you still working on this? If not, we would like to assign this to @diamniko .

[2021-02-17 11:55] misaochan commented on #3732
Hi @Pratham2305 , sorry for the slow response! Are you still interested in working on this?

I agree with you and @sivaraam , the "search this area" button should be allowed regardless, and pins should still be loaded. For the initial area to display, I'm OK with either a zoomed out view, or a random location, or even the Tower of London ;). But if we go with a zoomed out view, we do have a limit

[2021-02-17 11:55] misaochan commented on #4198
Duplicate of discussion at #3732 .

[2021-02-17 11:55] #4198 closed

[2021-02-17 12:02] #4211 closed

[2021-02-17 14:23] mrudultora commented on #3994
@nicolas-raoul Can I work on this?

[2021-02-17 15:25] nicolas-raoul commented on #3994
@mrudultora It is yours, thanks!
What approach will you take?

[2021-02-17 16:40] misaochan commented on #4232
@jidanni Hope this fixes the issue for you. In the future, in your logs it would be great to mention that you are an alpha tester. 99.99% of our Play Store users are running beta or production versions, so just mentioning that it is from the "Play Store" is slightly confusing for our volunteers. Alpha is essentially the latest code on master, and its main purpose is expediting testing.

[2021-02-17 16:52] neslihanturan commented on #4236
Thanks for the suggestion, I agree that there should be an easier way to have build number. If the user chooses to send a email report, we have the number included to the email. Otherwise, we can display it in ACRA report dialog. This should be an easy task. Thanks for the suggestion.

[2021-02-17 17:12] Anu-123-gif opened #4241 "Correct spell error in the message shown when app crashes"
**Summary:**
The error message shown when the app crashed had a few spelling errors.

**Steps to reproduce:**
I gave location access to the app then it crashed and I saw the message.

**Device and Android version:**

What make and model device (e.g., Samsung J7) did you encounter this on?
Redmi Note 5
What Android version (e.g., Android 4.0 Ice Cream Sandwich or Android 6.0 Marshmallow) are you ru

[2021-02-17 18:04] 4D17Y4 commented on #4230
I can work on this one now.
I will start as soon as assigned ; )

[2021-02-17 20:15] Pratham2305 commented on #3732
@misaochan Yes, I would love to work on this one.

[2021-02-18 04:25] Dannyhh commented on #3361
@neslihanturan any updates on this issue? or is someone working on it

[2021-02-18 07:46] jidanni commented on #4236
Hmmm, even if they send the email, they would still like it mentioned on the screen.

[2021-02-18 08:06] jidanni opened #4243 "Pictures taken with the app and saved locally lack proper EXIF headers"
The app should just hand over the picture taking job to the native camera app.

Then take the first picture off the stack when the native app returns.

One day if the user discovers their pictures lack proper headers, they may be disappointed that they can't enter them into various contests, etc.

It simply is a unfortunate loss of data.

[2021-02-18 14:06] nicolas-raoul commented on #4241
Thanks for noticing! :-)
This file is generated by TranslateWiki, so we should not modify it manually.
I actually noticed the spelling errors too and fixed them on TranslateWiki 2 days ago.
TranslateWiki automatically overwrites these localization files every 3 days: https://github.com/commons-app/apps-android-commons/commits/master?author=translatewiki
More info about localization: https://github

[2021-02-18 14:09] nicolas-raoul commented on #4241
I will close this for now, sorry about that!
Please do not be discouraged, your PR was perfect otherwise :-)
There are plenty of other bugs to fix, so looking forward to your next pull requests!

[2021-02-18 14:09] #4241 closed

[2021-02-18 14:56] mrudultora opened #4244 "App crash in WikidataItemDetailsActivity on clicking any media"
**Summary:**

On clicking any media in **WikidataItemDetailsActivity** the app crashes ( Point to note here is I am not talking about **CategoryDetailsActivity**). A similar issue was fixed few days ago but was fixed in a wrong way.

**Steps to reproduce:**

https://user-images.githubusercontent.com/65870389/108374564-1960d700-7227-11eb-9408-7c18d70b96ce.mp4

What did you expect the app to do, and

[2021-02-18 15:04] nicolas-raoul opened #4245 "Category editing accessible when not logged in"
**Steps to reproduce:**

1. Open the app, latest master
2. Log out
3. Tap "Explore"
4. Tap any picture
5. In the "Categories" section, tap the pencil icon
6. Tap the loop icon
7. Type "Test"
8. Select the "Test" category
9. Tap "Update categories"
10. The UI shows the category as being added
11. Tap `...` and `View file page`, observe that the category has not really been added

The bug is at step

[2021-02-18 15:31] mrudultora commented on #3994
@nicolas-raoul I am removing peer review from bottom sheet menu if the user is in limited connection mode. Is it fine ?

[2021-02-18 16:37] misaochan commented on #3732
@Pratham2305 It is yours. :) Please keep us updated on your progress.

[2021-02-18 22:20] nicolasmaia commented on #697
I still think it would be valuable for Commons to do this. Most people who know Commons don't know Lingua Libre so if they want to contribute with a recording to Commons and can't do it, they might just give up, not knowing of this other project.

[2021-02-19 00:00] nicolas-raoul commented on #697
I don't think we should duplicate the pronunciation feature just in case people do not know the right app.
Adding general audio support would be a good idea though, please feel free to subscribe to that issue: https://github.com/commons-app/apps-android-commons/issues/4208
Thanks for caring! :-)

[2021-02-19 01:13] jidanni commented on #4243
In fact, after pressing the "+", if we choose the second button (upload from file), Android asks us anyway if the picture we want to upload should come from the camera (take picture now), or an existing file (in the users Android Gallery etc.).
Therefore, perhaps just have "+" punch the second button automatically for us, eliminating a step, and eliminating the need for a first button, and also al

[2021-02-19 01:43] nicolas-raoul commented on #697
I also added a FAQ: https://github.com/commons-app/commons-app-documentation/blob/master/android/Frequently-Asked-Questions.md

[2021-02-19 01:47] nicolas-raoul commented on #3994
@mrudultora Sounds good :-)

[2021-02-19 01:48] #4229 closed

[2021-02-19 11:43] mrudultora commented on #4245
I have opened PRs for all the issues assigned to me. So, can I work on this ?

[2021-02-19 13:37] Prince-kushwaha commented on #4245
can i work on this issue

[2021-02-19 13:56] 4D17Y4 opened #4250 "Bookmarks when user not logged in."
**Summary:**
U can still bookmark a picture when ur not logged in from the media details.

**Steps to reproduce:**
Tap on a media in explore or in uploaded from mobile.
Tap on the star to mark it as bookmark.
The app says "Added to the bookmark".

What did you expect the app to do, and what did you see instead?
User should not be able to bookmark the items
or
We must include a bookmark section for

[2021-02-19 13:59] 4D17Y4 commented on #4250
According to me, we should remove the bookmark options from the details if a user is not logged in.

I'm also willing to add a bookmark section for the not-logged-in users if that is the solution we all agree on.

@nicolas-raoul , @neslihanturan , @misaochan for suggestions.

[2021-02-19 14:15] nicolas-raoul commented on #4245
@mrudultora It is yours thanks!

[2021-02-19 14:34] nicolas-raoul commented on #4250
I am in favor of letting non-logged in users have the bookmarks feature, since it is a local only feature.
I don't think there is any plan to synchronize bookmarks using a Wikimedia account.

[2021-02-19 14:52] 4D17Y4 commented on #4250
Yus @nicolas-raoul,
They are not synchronized with an account,
Logout refreshes the bookmarks.

Should I start working on it @nicolas-raoul,
I'm thinking of adding a bottom nav button for bookmarks as in the logged-in version, also as there is no nearby so I don't think we require a location bookmark fragment in there.

[2021-02-19 15:22] nicolas-raoul commented on #4250
Sounds good, thanks!

[2021-02-19 18:28] Prince-kushwaha opened #4252 "when app theme is Dark then CategoryDetailsActivity ,SearchActivity ,WikidataItemDetalActivity, Profile Activity Toolbar color is not change to dark"
**Summary:**
when  app theme is Dark then  CategoryDetailsActivity Toolbar color is not  dark

**Steps to reproduce:**

1. Change the App theme to  Dark
2. Open the CategoryDeatailsActivity and see the toolbar

What did you expect the app to do, and what did you see instead?
In Dark theme color of CategoryDetailsActivity Toolbar color change to dark

**Device and Android version:**
Redmi y3 Api:29

[2021-02-19 18:50] Prince-kushwaha opened #4253 "App is Crash when click on Bookmark Bottom navigation bar icon or open Bookmark At Android API Level 25"
**Summary:**

App is Crash when click on Bookmark Bottom navigation bar icon or open Bookmark At Android API Level 25
but it is not crash on API Level 28

**Steps to reproduce:**

1. Open the app
2. click on Bookmark Bottom navigation bar icon
3. then App is crash

What did you expect the app to do, and what did you see instead?
App not crash
**System logs:**

[code]

**Device and Android version:

[2021-02-19 19:03] mrudultora opened #4254 "App crashes on setting avatar when not logged in"
**Summary:**

When tapping **Set as Avatar** from menu of **MediaDetailFragment** the app crashes if the user is not logged in.

**Steps to reproduce:**

How can we reproduce the issue?
• Logout from your account.
• Go to explore tab.
• Open any image.
• Then tap _set as avatar_ from menu.

What did you expect the app to do, and what did you see instead?
Either the app must not show the option of

[2021-02-19 19:22] mrudultora commented on #4253
@Prince-kushwaha Have a look at this #4142. This thread might help you.

[2021-02-19 19:26] mrudultora commented on #4129
@nicolas-raoul This is a valid issue. I am able to reproduce this issue randomly. @Pratham2305 If you are not working on this, would you mind if I take this up ?

[2021-02-19 19:28] mrudultora commented on #4254
@nicolas-raoul Your suggestions on this ?

Either the app must not show the option of setting avatar for the users not logged in.
OR
A dialog box must be opened on clicking it asking the user for logging in to set that image as their avatar.

[2021-02-20 01:00] #4230 closed

[2021-02-20 01:28] nicolas-raoul commented on #4254
This sounds like the best option to me :-)

[2021-02-20 01:40] nicolas-raoul commented on #4252
This also happens with the search bar in Explore, and the Items (Depictions) activity.
I think they should be all addressed together, as it is the same problem with presumably the same solution.

[2021-02-20 05:59] Pratham2305 commented on #4129
@mrudultora  Sure, you can go for it. I am currently on another issue, But It would be better if any mentor approved this one then you can start :-)

[2021-02-20 10:04] nicolas-raoul commented on #4129
Thanks @Pratham2305 for reporting the issue and for your fairness!
@mrudultora I see you currently have no assigned issue without a pending pull request, so you can take this one, thanks!

[2021-02-20 12:20] nicolas-raoul commented on #4243
I just tested on my Samsung S10, a picture taken using the in-app camera button gets correct geographic depiction suggestions.
Do you get correct depiction suggestions (items near the place where you take the picture)?

[2021-02-20 12:23] nicolas-raoul commented on #4244
I can reproduce in latest master.

[2021-02-20 12:35] #4244 closed

[2021-02-20 15:12] nicolas-raoul opened #4255 "Media details activity shows depictions in random languages, rather than in the user's locale"
**Steps to reproduce:**

1. Find a picture that has depictions (there are many in Explore>Uploaded via mobile)
2. Open its media details
3. Finds its depictions
4. Most often they do not match your locale

**Commons app version:**

Latest master 3.0.0-debug

**Screen-shots:**

My locale is English, but depiction for [fire engine](https://www.wikidata.org/wiki/Q208281) is shown in [Luxembourgish](h

[2021-02-20 15:22] nicolas-raoul commented on #4238
I can't reproduce on latest master... is this still happening for you on latest master?

[2021-02-20 15:48] mrudultora commented on #4238
@nicolas-raoul Yes, I am facing it on latest master. Tested just now for confirmation and getting the same exception °-°

[2021-02-20 16:46] 4D17Y4 commented on #2252
Hey ,
I would like to work on this one.
Adding to it I think the fab should also close on tap outside both in nearby and in contribution (I was going to open a new issue for it but then found this one.)