[2019-04-16 17:18] madhurgupta10 commented on #2853
@nicolas-raoul I think this issue is solved, we can close it.

[2019-04-16 17:45] neslihanturan opened #2884 "Simplify nearby classes, improve code quality"
**Summary:**

Nearby classes needs some simplification.

[2019-04-16 18:32] maskaravivek commented on #2875
The issue is with incorrect SSL certificates. Shall I take this up?

[2019-04-16 18:34] madhurgupta10 commented on #2875
@maskaravivek Sure :)

[2019-04-16 18:50] VitalyVPinchuk commented on #2875
Please give us more technical details.

[2019-04-16 19:26] #2853 closed

[2019-04-16 23:11] ashishkumar468 opened #2886 "Refactor UploadActivity"
**Summary:**
The current flow of UploadActivity has a lot of code in a single place, because of which it is very difficult to find bugs and is very difficult to maintain the code. As a part of adopting the MVP pattern, refractor the Upload Activity to use MVP and switch to fragments instead of the entire code being in the single Activity forcing the Activity to juggle views (inside the ViewFlipper

[2019-04-17 02:40] nicolas-raoul commented on #2511
@jidanni Please check these bot edits, and tell us whether they are good or not:

https://commons.wikimedia.org/w/index.php?diff=346096980
https://commons.wikimedia.org/w/index.php?diff=346098103
https://commons.wikimedia.org/w/index.php?diff=346098138
https://commons.wikimedia.org/w/index.php?diff=346098140
https://commons.wikimedia.org/w/index.php?diff=346098616
https://commons.wikimedia.org/w/i

[2019-04-17 06:13] amire80 commented on #2880
Internally, you should definitely use the same codes that are used on Commons.

You should use "iw", "in", and "ji", only when it is required by Android software libraries. On this screen you _probably_ don't need to use them at all, but I don't know enough about Android to be certain.

To users you should ideally show the language name and not the language code.

[2019-04-17 08:41] nicolas-raoul opened #2888 "First time ever tapping "Nearby": Tab does not show"
**Steps to reproduce:**

1. Install app on new phone
2. Log in
3. Tap "nearby"
4. Location permission popup appear, accept
5. Nearby tab is not opened (nearest location bar is shown, though)

Workaround: Tap on "Nearby" again.

**Commons app version:**
2.10.2-debug-master~84637c5fe

**Screen-shots:**
![Screenshot from 2019-04-17 17-38-54](https://user-images.githubusercontent.com/99590/56273452-b5

[2019-04-17 10:12] misaochan commented on #2881
Great job @neslihanturan ! I agree with Option 2, nominate for deletion should come with a warning sign, it should not be with the other options.

[2019-04-17 10:24] neslihanturan commented on #2528
Still happens, on current master with API 26 emultor

[2019-04-17 10:24] misaochan commented on #2843
Yes, this is a bit of a dilemma. It would be great to get more thoughts on this. @nicolas-raoul ?

I think that that Option 1, the 5-item bottom nav bar, should be reasonably future-proof. We would likely be able to fit most things under those 5 items - for instance if we gamify Nearby, we would just add it to Nearby, not to the main nav bar. But it does pose a restriction somewhat, and also it wo

[2019-04-17 15:47] ahmedmamdouh13 commented on #2882
i would like to start my first contribution on this

[2019-04-17 17:53] madhurgupta10 opened #2889 "Write Instrumentation Tests for AboutActivity"
**Summary:**
Write Instrumentation Tests for AboutActivity in Kotlin

**Would you like to work on the issue?**
Yes

[2019-04-17 19:32] OlgaMorales commented on #2883
i'd like to work on the issue. :) it could be my first contribution.

[2019-04-17 21:01] OlgaMorales commented on #2883
@nicolas-raoul how can i start working on this issue?

[2019-04-18 01:50] madhurgupta10 commented on #2875
@misaochan the issue seems to be solved now as per the [comment](https://github.com/commons-app/apps-android-commons/pull/2885#issuecomment-484128979).

[2019-04-18 02:20] nicolas-raoul commented on #2883
@OlgaMorales Thanks for working on this! :-)

The first steps:
1. Run the app from Android Studio, as https://github.com/commons-app/apps-android-commons/wiki/Quick-start-guide-for-Developers
2. Reproduce the problem
3. Insert breakpoints at source code lines where you think the image might be loaded.

[2019-04-18 03:28] madhurgupta10 commented on #2871
@nicolas-raoul I think this is happening due to the high-resolution images used for preview, this takes time for recyclerview to load. A possible approach would be using the cache mechanism ([reference](https://stackoverflow.com/questions/26856487/recyclerview-painfully-slow-to-load-cached-images-form-picasso)) or IMO we should use low-resolution images for thumbnails.

[2019-04-18 03:53] madhurgupta10 opened #2891 "Revamp the About Activity"
**Summary:**
About Activity UI does not seems to be updated for a long time. The Activity does not look very good on large screen devices. I think we should update the UI.

We can refer to the Wikipedia App About Activity for UI.

**Screen-shots:**
<img src="https://user-images.githubusercontent.com/30932899/56335707-2770e700-61bb-11e9-88ae-4ab873458bde.png" width="90%">
<img src="https://user-ima

[2019-04-18 04:12] nicolas-raoul opened #2892 "Contributions: Same 3 images repeat forever"
2.10.2.388 (latest master as of now)
Scrolling down shows 5 images, then the last 3 are repeated forever:
https://i.imgur.com/AEFqTlY.mp4

[2019-04-18 04:25] nicolas-raoul commented on #2891
I don't think it is bad right now :-)
Before starting coding please post a mockup showing what you think would be ideal, thanks!

[2019-04-18 04:31] #2875 closed

[2019-04-18 06:21] maskaravivek commented on #2889
@madhurgupta10 Can you list down the test cases that you plan to write?

[2019-04-18 06:28] neslihanturan commented on #2892
I experience d the same issue today. Does anyone remember any PR that effects contributions list recently?

[2019-04-18 06:35] maskaravivek commented on #2823
@domdomegg Are you picking this up? :)

[2019-04-18 07:59] zhao-gang commented on #2528
The previous fix used [setOnlyAlertOnce](https://developer.android.com/reference/android/support/v4/app/NotificationCompat.Builder#setonlyalertonce) to let the notification only alert once. It fixed the repeating alert on some devices with API level 27/28. I searched "setOnlyAlertOnce api 26" on the web and didn't find any interesting results.

Unfortunately I don't have the environment to test th

[2019-04-18 08:35] neslihanturan commented on #2528
Thanks @zhao-gang it was helpful!

[2019-04-18 13:01] misaochan commented on #2875
Thanks all!

[2019-04-18 13:32] #2035 closed

[2019-04-18 13:52] #2878 closed

[2019-04-18 13:59] misaochan opened #2895 ""Get it on F-Droid" badge broken?"
The image for "Get it on F-Droid" on https://github.com/commons-app/apps-android-commons/blob/master/README.md appears to be broken for me. Just checking if this is the case for anyone else or if it's just my connection?

[2019-04-18 14:28] nicolas-raoul commented on #2895
https://f-droid.org/badge/get-it-on.png has become extra-slow.
I reported the problem internally.

[2019-04-18 19:54] fredrikjonasson commented on #2872
I would like to start my contribution with this one.

[2019-04-18 21:10] fredrikjonasson commented on #2872
![Screenshot_1555621111](https://user-images.githubusercontent.com/17785337/56391412-dc90b700-622e-11e9-926f-1d5d274a1830.png)
![Screenshot_1555621192](https://user-images.githubusercontent.com/17785337/56391413-dc90b700-622e-11e9-8451-cfbb715142d2.png)

I took a quick look and it seems to be consistent capitalization towards the user. The key "Search this area" indeed seems to refer to the text a

[2019-04-19 01:31] nicolas-raoul commented on #2895
Reply:

So we should use this one instead: https://commons.wikimedia.org/wiki/File:%22Get_it_on_F-droid%22_Badge.png

[2019-04-19 09:46] ahmedmamdouh13 commented on #2888
requesting location permission off the main thread seems to solve the problem , but still loading forever after permission being granted , i'm on it.

[2019-04-19 09:56] nicolas-raoul commented on #2888
@ahmedmamdouh13 Assigned to you, thanks! :-)

[2019-04-19 10:04] ahmedmamdouh13 commented on #2888
in what format should i upload videos , i couldn't upload but gif

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/31363038/56419629-329b4400-629b-11e9-9eaf-e3a9d4805b41.gif)

[2019-04-19 10:29] nicolas-raoul commented on #2888
I don't think GitHub accepts videos formats, except GIF

[2019-04-19 13:03] ahmedmamdouh13 commented on #2888
![untitled](https://user-images.githubusercontent.com/31363038/56425331-1061f000-62b4-11e9-81ab-ef09b76fa00a.gif)

[2019-04-19 13:33] sivaraam commented on #2895
I've just created #2896 to fix this. Hope this helps.

[2019-04-19 16:49] domdomegg commented on #2892
Potentially related? #2182

[2019-04-19 16:53] #2895 closed

[2019-04-19 17:07] jidanni commented on #2511
@nicolas-raoul Looks good. Let 'er rip.

[2019-04-19 21:54] madhurgupta10 commented on #2788
@domdomegg PR is ready :)

[2019-04-20 04:53] maskaravivek commented on #2820
I just found out that `MediaWikiImageView` fetches the thumbnail for the image by calling a separate API for each image. So basically the current flow is:

- Call API/use local DB to fetch `Media` list
- For each item in `Media` list, call `findThumbnailByFilename` API to fetch thumbnail for the image.

`findThumbnailByFilename` method specifies the thumbnail width as 640. So we can probably use t

[2019-04-20 06:00] maskaravivek commented on #2820
As per the current code base, even on clicking the image, the media detail view shows the 640 width image as `MediaDetailFragment` also uses `MediaWikiImageView`. Will be fixing this too.

Going forward,

- list views will use the thumbnail, and fallback to the original image if thumbnail is not available
- the media detail view will use the original URL instead of using the thumbnail.

[2019-04-20 06:15] maskaravivek opened #2898 "Media Detail view uses 640 width thumb url instead of using the original image URL"
As per the current code base, even on clicking the image, the media detail view shows the 640 width image as `MediaDetailFragment` also uses `MediaWikiImageView`. Will be fixing this too.

Going forward,

- list views will use the thumbnail, and fallback to the original image if thumbnail is not available
- the media detail view will use the original URL instead of using the thumbnail.

_Originall

[2019-04-20 06:16] maskaravivek commented on #2898
@misaochan @neslihanturan Is there a specific reason for using thumb urls even in media detail view? If not, I will go ahead and fix it.

[2019-04-20 06:25] maskaravivek opened #2899 "Contributions DAO saves invalid image URLs"
**Summary:**

The image URL saved in contributions DB isn' valid for the ones I checked. So there's some issue in the logic that saves the image Url. We need to fix this to take advantage of caching.

Eg.

https://upload.wikimedia.org/wikipedia/commons/0/04/File%3AClownfish_in_Two_Oceans_Aquarium%2C_Capetown-_-_6.jpg

--

**Steps to reproduce:**

- Take a debuggable build
- Go to `chrome://inspect

[2019-04-20 06:32] maskaravivek commented on #2899
This could be the reason behind a couple of bugs in the app:

- when an image is uploading, the thumbnail doesn't show up. #939
- in review activity, the image is not shown sometimes #2837 (haven't validated yet)

[2019-04-20 06:36] maskaravivek opened #2900 "Peer review uses XML API to get media categories"
Similar to media details view, peer review should switch to the JSON API to get categories based on file name.

[2019-04-20 06:41] maskaravivek commented on #2698
Oh sorry, I didn't realize that we are trying to select an image uploaded from mobile. But now I am confused that how are we actually filtering mobile uploads. Can you briefly explain the process?

[2019-04-20 07:42] #2837 closed

[2019-04-20 08:44] #2804 closed

[2019-04-20 09:33] #2899 closed

[2019-04-20 09:33] #2900 closed

[2019-04-20 11:05] maskaravivek commented on #1976
This should be fixed now. Feel free to reopen if the issue pops up again. :)

[2019-04-20 11:05] #1976 closed

[2019-04-20 19:19] matejsuchanek commented on #2358
(Was asked by @VojtechDostal to make here a suggestion.)
https://www.mediawiki.org/wiki/Wikidata_Query_Service/User_Manual#SPARQL_endpoint states:

The simplest way to bypass caching is to add some dummy string to the query, like a comment `#` and a random number.

Also those `SERVICE wikibase:label` calls in the query are redundant. They are known to make queries slow even if you make no use of t

[2019-04-20 21:19] OlgaMorales commented on #2883
just a question , why when I run the project app on my mobile I see beta version, how can i see the same which is in the play store version

[2019-04-21 06:09] maskaravivek commented on #118
I think the app is trying to skip deleted images. `ContributionsSyncAdapter:onPerformSync`

[code]

[2019-04-21 06:16] maskaravivek opened #2904 "Use image info instead of event logs for getting user uploads"
**Summary:**

Currently, the app fetches the user's contributions by:

- Step 1: querying `logevents` API (`ApacheHttpClientMediaWikiApi:logEvents`). This gives the `pageid`, `filename` and `dateUpdated` for user's uploads

- Step 2: Deleted files(the ones with `pageid` 0) are skipped and the rest is inserted int the `contributions` db.

- Step 3: To show the list of contributions, `findThumbnailB

[2019-04-21 06:19] maskaravivek commented on #2904
Most of the code in `ContributionsSyncAdapter` is from 2013. Fixing the above would help us with #1092

@misaochan @nicolas-raoul it would be great if you could give your opinions on this issue.

[2019-04-21 09:31] misaochan commented on #2904
@maskaravivek This sounds good to me. The old method is a relic from the legacy app that was implemented before category suggestions etc. I really like the idea of switching to using the same API as that used to generate category suggestions and search - maybe we could even reuse some of the common code if feasible?

Not being able to retrieve deleted images may indeed be a disadvantage, but I don

[2019-04-21 09:36] maskaravivek commented on #2730
I am taking this up as this has been pending for almost a month. :)

[2019-04-21 11:36] #2730 closed

[2019-04-21 11:59] maskaravivek opened #2907 "Use a low res and high res image in media detail"
**Summary:**

While working on #2898, I realized that while the high-resolution image loads, the user should at least be shown a low res image for that duration.

As of now media detail simply keeps showing the low res image, so the image loads instantly. But going forward, when we try to show the original image in detail page, depending on the network the image might take some time to load.

It m

[2019-04-22 04:26] nicolas-raoul opened #2908 "Yes/no buttons not reachable when many categories"
Here I scrolled to the bottom:
![Screenshot_20190422-132214](https://user-images.githubusercontent.com/99590/56482983-fddcf600-6501-11e9-8f42-bf8cce979fc1.png)

[2019-04-22 04:34] nicolas-raoul opened #2909 ""Requesting category check" notification even though I did not mark as such"
Categorization of the picture was correct, so I pushed the button accordingly, but despite that a "Requesting category check" notification is shown. I have not checked whether the request is actually uploaded or not.
![Screenshot_20190422-125319](https://user-images.githubusercontent.com/99590/56483201-52cd3c00-6503-11e9-8c13-8c6c6c3b67bf.png)

[2019-04-22 07:08] YevgeniyMovsesov opened #2910 "Typed text lost after screen orientation change"
**Summary:**

Typed text lost after screen orientation change

**Steps to reproduce:**

1. Open main screen
2. Tap "+" to add image, select "gallery" and select any image from the gallery
3. Fill in "title" and "description", add description in second language
4. Change device orientation

Actual result: "title" and all "descriptions" were lost

Expected result: "title" and all "descriptions" rema

[2019-04-22 09:40] nicolas-raoul commented on #2843
Sorry I haven't got much time to read this thread and the next three weeks will be super-busy too... anyway I am sure you will make good decisions :-)
By the way, I like how the sketch above presents the user with immediate calls to action (upload more, most nearby, TODO list)

[2019-04-22 11:48] picsi opened #2911 "No OpenStreetMap attribution"
The map in the Nearby tab has no OSM attribution. OSM requires attribution in a very specific way: in the map frame, as "© OpenStreetMap Contributors".

See https://www.openstreetmap.org/copyright

[2019-04-22 11:56] picsi opened #2912 "Clicking on a category crashes the app"
When looking at an image file and clicking on one of its categories, the app crashes and shuts down.

[2019-04-22 12:24] maskaravivek commented on #2912
@picsi Does this happen on latest master or on one of the market builds?

[2019-04-22 12:28] picsi commented on #2912
I'm using the latest from F-Droid.

[2019-04-22 12:49] maskaravivek commented on #2912
Can you share logs from your device?

[2019-04-22 13:33] nicolas-raoul commented on #2911
Thanks for letting us know!
Note: Apparently it is actually `© OpenStreetMap contributors` with a lowercase `c`.

[2019-04-22 17:37] Szymon20000 commented on #2908
I've made a pull-request

[2019-04-22 21:05] picsi commented on #2912
Not entirely sure how to do that. I'm on Lineage 15.1 on mido, if that helps.

[2019-04-22 22:44] CAVillalobos commented on #2880
Hello, I'm looking to make my first contribution in an Open Source project. Can I take this issue?

[2019-04-23 02:42] nicolas-raoul commented on #2880
@CAVillalobos Yes sure, it is yours! Please let us know about your progress every few days or so, thanks :-)

[2019-04-23 04:00] maskaravivek commented on #2912
Just click on Settings > Send logs from within the app. It will open an email client and with the log files attached.

[2019-04-23 15:52] ashishkumar468 opened #2915 "Refractor feature Review"
**Summary:**
The architectures of the layout files of ReviewActivity and ReviewFragment are not the best. 1. Instead of putting the scroll view in the activity_review, the scroll view could be in just the review_fragment, with only the question and question context being scrollable, as in instead of making the whole page scrollable, only the content which can actually scroll should be allowed to s

[2019-04-23 16:33] VojtechDostal commented on #2507
Interestingly, I found out that the problem can be 'rescued' by tapping the Task Switcher/Recent apps button (the square) and then navigating back to the app window.

[2019-04-23 16:36] VojtechDostal commented on #2415
We could actually start inserting Depicts for files uploaded via Pins on our Nearby map (we know what such pictures depict).

[2019-04-23 17:03] #2820 closed

[2019-04-23 17:03] #2898 closed

[2019-04-23 17:03] #2907 closed

[2019-04-23 17:31] misaochan opened #2917 "App adds space at end of filename sometimes"
From a user on our FB page:

This is probably v2.10.2 since both beta and prod Play Store versions are on it, and she mentioned she recently reinstalled the app. Hopefully she'll submit a crash report for a crash that she mentioned, then we can get her Android version etc without having to ask her to find and repeat everything.

[2019-04-24 03:37] madhurgupta10 commented on #2910
@YevgeniyMovsesov I am unable to reproduce the issue, would you please upload a gif?

[2019-04-24 06:40] YevgeniyMovsesov commented on #2910
![2019_04_24_09_31_35](https://user-images.githubusercontent.com/13016833/56637695-ebcf9480-6674-11e9-8867-8423c2d62113.gif)

[2019-04-24 07:41] madhurgupta10 commented on #2910
@YevgeniyMovsesov I tested the latest code on Xiaomi Mi A1 with API level 28 stock android but I still can't reproduce. Are you testing the latest version?
![ezgif-1-1c2c1e1a3077](https://user-images.githubusercontent.com/30932899/56641212-75418f80-6692-11e9-9f4a-89f558f46665.gif)

[2019-04-24 09:10] misaochan commented on #2917
More information:

[2019-04-24 09:10] misaochan opened #2918 "Add option for default language for file descriptions"
From a user on FB group:

[2019-04-24 09:21] neslihanturan opened #2919 "Photos are displayed as rotated on upload screen"
**Summary:**
A report from our user says photos on upload screen displayed 90 degree rotated. On the other hand, she sees the images properly on her gallery.

![Screenshot_20190424-121417_Commons](https://user-images.githubusercontent.com/3127881/56648133-6acfc780-668b-11e9-8f53-a516334d2d1e.jpg)

She just installed the app, so version should be latest production 2.10.2

Edit:
![Screenshot_2019042

[2019-04-24 12:52] #2915 closed

[2019-04-24 13:01] neslihanturan commented on #2873
After #2916 is merged, we can reconsider Review Activity buttons.
- Currently @ashishkumar468 fixed all capital strings problem from strings.xml, so that translators should see normal texts.
- We use textAllCaps=true for capitalizing strings for later use in buttons. According to documentation https://developer.android.com/reference/android/widget/TextView#attr_android:textAllCaps this method uses

[2019-04-24 13:01] #2873 closed

[2019-04-24 13:07] neslihanturan opened #2920 "Reconsider peer review button strings"
**Summary:**
We want to have single line buttons, but since our button texts are too long, we reduced their text sizes for a temporary solution.

We need to have shorter (but still meaningful) button texts. Or we need to find strings that will be relevant even in short form.

**Steps to reproduce:**

Open peer review activity

**Screen-shots:**

Here how it looks now:
![Screenshot from 2019-04-24

[2019-04-24 14:09] YevgeniyMovsesov commented on #2910
Madhur, as I stated in original description, this is "Commons app" ver. 2.10.2 on
Samsung J7 with stock Android 8.1.0

App Version Name:  @2.10.2~66e1539a1
Network Type: wifi
Device manufacturer: samsung
Device model: j7y17lte
Android Version: 8.1.0

[CommonsAppLogs.zip](https://github.com/commons-app/apps-android-commons/files/3112649/CommonsAppLogs.zip)

[2019-04-24 14:20] neslihanturan opened #2921 "Optimize peer review, avoid unnecessary calls"
**Summary:**
As described here: #1544 Review needs some performance optimization. @maskaravivek seems familiar with the new implementation in ReviewHelper.java.

Note: Please only see the last commit from the closed PR.

[2019-04-24 14:50] neslihanturan opened #2922 "Beta accound alert is missing"
**Summary:**
Beta account login alert is missing, this reduces testers efficiency.

![image](https://user-images.githubusercontent.com/3127881/56669219-7b973200-66b9-11e9-8378-558656b3d47a.png)

[2019-04-24 15:02] neslihanturan opened #2923 "Images are streched on display"
**Summary:**
Images doesnt seems properly on MediaDetailsActivity and contributions list.

**Screen-shots:**
See vertically,
![Screenshot from 2019-04-24 15-43-55](https://user-images.githubusercontent.com/3127881/56669840-74bcef00-66ba-11e9-90dc-537bc10bf63b.png)

and horizontally,
![image](https://user-images.githubusercontent.com/3127881/56670200-180e0400-66bb-11e9-9a06-b3bc90228fc3.png)

[2019-04-24 17:54] CAVillalobos commented on #2880
Hello and sorry for the delay. I've reading the code looking where the language list is obtained and I found [this line](https://github.com/commons-app/apps-android-commons/blob/bb7ab62b34d5ba88353eae9ab185629dac764fa7/app/src/main/java/fr/free/nrw/commons/upload/SpinnerLanguagesAdapter.java#L60). I was not sure, but after consulting it it seems that the app gets the codes from all the languages c

[2019-04-24 17:59] maskaravivek commented on #2923
@neslihanturan This would have got introduced after my recent changes in #2906. I am currently using `fitXY` stretch mode for images ie.

[code]

Should we use some other scale type?

https://developer.android.com/reference/android/widget/ImageView.ScaleType

[2019-04-24 18:30] neslihanturan commented on #2840
I got a similar feedback to this issue.

[2019-04-24 18:47] neslihanturan commented on #2923
I think previous version was much better. It wasn't transform the image, it was just showing what fits into screen.

[2019-04-24 18:50] maskaravivek commented on #2923
Does this look good?

https://user-images.githubusercontent.com/3069373/56682478-3a1e7b00-66e9-11e9-8fcd-8ed1af41f631.png

[2019-04-24 18:51] neslihanturan commented on #2923
Exactly this @maskaravivek

[2019-04-24 19:10] maskaravivek commented on #2923
Then merging #2924 should fix the issue. :)

[2019-04-24 19:12] #2923 closed

[2019-04-24 21:09] CAVillalobos commented on #2880
Hello again. I've modified the language spinner's text view to only show each language by name completely hiding the codes to the user. Is this what you asked for?
![image](https://user-images.githubusercontent.com/48102075/56691354-f9007980-669c-11e9-915d-6a8cf0032f91.png)

The only problem I'm seeing now is that the spinner's size has increased more than it should have.
![image](https://user-ima

[2019-04-25 00:27] madhurgupta10 commented on #2910
@YevgeniyMovsesov Hi, I tested it on Android Oreo 8.1 stock android on a Virtual Device with similar hardware (as of Samsung J7)
I request you to please try the latest build using Android Studio, try it on Virtual Device as well. If the problem continues, let us know :)
![screencast-Genymotion-2019-04-25_05 49 58 255](https://user-images.githubusercontent.com/30932899/56701860-b8494480-671e-11e9-8

[2019-04-25 00:44] madhurgupta10 commented on #2920
@neslihanturan also the position of **SKIP THIS IMAGE** confuses first-time users (if it is a subtitle or a button).

[2019-04-25 06:06] YevgeniyMovsesov commented on #2910
Madhur, unfortunately I don't know how to work with Android Studio and virtual devices. I reported issue, using physical device with latest build from Google Play Store as a beta-tester. If you would so kind to provide apk-link to latest build, I will try to reproduce it...

[2019-04-25 07:13] madhurgupta10 commented on #2910
@YevgeniyMovsesov Hi, the beta version on respective app stores are released by the team. We continuously add new features and fix issues here on GitHub and later they are released. The last release was done on February 28 which I guess you are referring too, you can view the releases [here](https://github.com/commons-app/apps-android-commons/releases)

This issue has already been fixed and you ca

[2019-04-25 08:10] neslihanturan commented on #2880
Hi @CAVillalobos , firstly congratz for your first time contribution:) I think what we wanted for this issue is mapping deprecated language codes with new ones, and using new ones instead. I think using the whole language name is not efficient in terms of space.

I don't have much knowledge about this formats but, found such thing: https://gist.github.com/SeanZoR/9152167 and seems like can be bene

[2019-04-25 09:00] neslihanturan commented on #2840
And what I experienced on API 19 is device is pink check mark displayed for a second, then the notification came back to its own space.

[2019-04-25 09:10] amire80 commented on #2880
A couple of things:

1. Whatever you show on the screen, make sure that you send a valid code when you save the template. Commons templates use "he", not "iw".
2. Being efficient in terms of space shouldn't be the only consideration. Being convenient to the user is important, too. For people it is more natural to read a name and not a code of two or three letters. "Standard Moroccan Tamazight" is

[2019-04-25 10:16] neslihanturan commented on #2880
Thanks @amire80

So we need to map deprecated version to up to date version in any case.

I think displaying whole language name and the up to date language code between parentheses on language selection list, and displaying only the language code after selection would be enough for convenience. Since the user already saw the code next to the language during selection, they will know what it means

[2019-04-25 10:24] yarons opened #2927 "No context for a certain string"
https://translatewiki.net/wiki/Wikimedia:Commons-android-strings-review%20c%20violation%20report%20problem/he

I don't know what it means, how should I translate it? Is it OK to ask for a description?

[2019-04-25 10:37] neslihanturan commented on #2919
Reported device was a Samsung 5A device, and apparently there is some issues with rotation and Samsung devices, see: https://stackoverflow.com/questions/11023696/setrotation90-to-take-picture-in-portrait-mode-does-not-work-on-samsung-device#comment14414266_11024837

It would be great if someone with Samsung device help me to reproduce this issue.

[2019-04-25 10:46] neslihanturan commented on #2927
Hi, sorry I am not sure I understand properly. We have a string variable as:
<string name="review_c_violation_report_problem">copyRightViolation</string>
Does your question is about this string?

[2019-04-25 11:54] fredrikjonasson commented on #2918
I would like to start working on this issue.

Regards,

Fredrik

[2019-04-25 12:12] neslihanturan commented on #2918
Great idea @misaochan ! Thanks for your interest @fredrikjonasson , can you explain the implementation in your mind?

[2019-04-25 13:31] neslihanturan commented on #2786
This PR is available to work on

[2019-04-25 13:35] yarons commented on #2927
Yes, should it be translated? Can I keep it like that? Should it even be here?

[2019-04-25 14:05] neslihanturan commented on #2927
No it shouldn't be there, it should be a constant in the code actually. Sorry for bothering, please leave it as is I will create an issue to remove it.

[2019-04-25 16:45] fhernandezn commented on #2880
Hello everyone!

I also detected this issue and wanted to join to conversation.

**For the point 1.**

My understanding is that internally the code uses "iw" for the Hebrew language, and makes sense because it's based in the OS. We can just detect that "iw" in the dropdown and replace it with "he".

Since it's just a replacement in the UI, but internally stills uses "iw", the rest of the code shou

[2019-04-25 17:37] CAVillalobos commented on #2880
Hello again. Looking at your comments I decided to go for what I previously suggested as the first option to solve the problem so I changed the codes in the UI to show the correct codes while keeping the deprecated ones in the background basing in the gist that @neslihanturan shared before.
![image](https://user-images.githubusercontent.com/48102075/56755571-0d9c4a80-674d-11e9-9345-b12aeef1d347.pn

[2019-04-25 18:01] neslihanturan commented on #2880
Hi @CAVillalobos seems like we defined our scope after the discussion. Sorry but I couldn't understand your edit, since I didn't see the previous comment before the edit.

I mean this:

[2019-04-25 18:14] CAVillalobos commented on #2880
Oh, sorry if I wasn't clear. You see, the first times I compiled the app the list with all the available languages was displayed only in lowercase and I thought this didn't looked good so I changed the display to show the names capitalized with something like:
`String languageName = languageNamesList.get(position).substring(0,1).toUpperCase() + languageNamesList.get(position).substring(1);`
So I m

[2019-04-25 21:12] OlgaMorales commented on #2883
hi @nicolas-raoul I've reproduced the problem many times but neither of them has failed.

[2019-04-26 02:04] nicolas-raoul commented on #2883
@OlgaMorales Do you mean the image correctly appears every time?
Strange, for me it fails to display almost every time.
Could you please download some pictures from https://drive.google.com/open?id=1YeYGelmhKbpO_OPAKLT-S4Cw-rsbCG6V and try to upload them?

[2019-04-26 02:05] nicolas-raoul commented on #2883
Also, it might be because of low memory. I am using a Nexus 5, please try to use a similar device or the emulator with only 2GB of RAM.
Thanks!

[2019-04-26 04:32] yarons commented on #2927
Sure, thank you :)

[2019-04-26 05:40] neslihanturan opened #2931 "Remove the strings which have to be stored as constant from strings.xml"
**Summary:**

As @yarons pointed out at #2927 , some strings from strings.xml should be removed. They should have been defined as constants. Ie.

\<string name="review_c_violation_report_problem">copyRightViolation\</string>

They don't need to be translated, they are strings to be used for the code, not for the user read them.

This task is quite beginner friendly though.

[2019-04-26 07:53] #2788 closed

[2019-04-26 08:08] #2773 closed

[2019-04-26 09:49] #2761 closed

[2019-04-26 09:53] #2922 closed

[2019-04-26 21:56] OlgaMorales commented on #2883
I'll try with the device you said , as I tried with the pictures you indicated and my phone uploaded those very well,

[2019-04-27 04:55] #2880 closed

[2019-04-28 08:04] #2892 closed

[2019-04-28 12:18] sivaraam commented on #2931
Just for the note, I don't think we would have to declare them as constants within the code (i.e., the Java files) though. These constant strings could be kept in a separate string resource file (like [string_no_translate.xml](https://github.com/wikimedia/apps-android-wikipedia/blob/master/app/src/main/res/values/strings_no_translate.xml)) so that they aren't subject to translation.

I'm not sure

[2019-04-28 15:01] domdomegg commented on #2931
I'm not sure how they're used in the code, but it sounds like an enum might be the best solution. Definitely agree they shouldn't be a translated string!

If we're keeping it in XML, [the docs](http://tools.android.com/recent/non-translatablestrings) suggest using the `translatable="false"` attribute - I don't know if translatewiki obeys this.

[2019-04-28 15:39] ashishkumar468 commented on #2931
The string has been used for branch statements as below(problem being the string usage)
 `if (problem.equals("spam")) {
            reasonList[0] = "A selfie";
            reasonList[1] = "Blurry";
            reasonList[2] = "Nonsense";
            reasonList[3] = "Other";
        } else if (problem.equals("copyRightViolation")) {
            reasonList[0] = "Press photo";
            reasonList[

[2019-04-29 06:32] neslihanturan commented on #2931
@sivaraam

Can you please explain why you think in this way?

Enum seems like the best to me.

[2019-04-29 14:14] domdomegg commented on #2911
You've used the uppercase in your comment, and OSM use the uppercase in [their guidance](https://www.openstreetmap.org/copyright).

[2019-04-29 14:15] domdomegg commented on #2889
We need #2868 to be fixed first.

[2019-04-29 17:04] sivaraam commented on #2931
Sorry for the unuseful comment in between :-( I was commenting in general about how to handle some constant string which shouldn't be translated. It's only now after looking the code that I realise that the string of concern should indeed be an element in an enumeration. Sorry again. I'm surprised someone thought of using string to handle this case. Anyways, let's just fix that at least now :-)

[2019-04-29 18:18] neslihanturan commented on #2931
Yeah, this code is from the hackathon. This mistake should have been related with time constraint. I am glad we all agreed:)

[2019-04-30 08:29] VojtechDostal commented on #1962
Hello all, as our app is featured as one of the topics for the hackathon, the organizers suggest that we as a team give a short introductory talk on the technical side of the app / plans for future etc. Would anyone be willing to do that? :) Thank you.

[2019-04-30 09:03] neslihanturan commented on #2671
Current status, we have an available PR for #1712
Hi @noahwalugembe and @sp2710 are you still working on your tasks?

[2019-04-30 09:08] noahwalugembe commented on #2671
Yes let me finish it up

[2019-04-30 09:10] neslihanturan commented on #2671
Sure @noahwalugembe , take your time. I just wanted to make sure it the issues are available or assigned.

[2019-04-30 21:25] kateOmally commented on #2931
I'm a first timer at open source. May I take this issue? Looks simple enough. But i'm new here, so let me know if I'm missing something.

[2019-04-30 21:30] neslihanturan commented on #2931
Yes this one is quite beginer friendly, welcome @kateOmally :)

[2019-04-30 21:36] kateOmally commented on #2931
Is there a way to find which strings should be turned into enum? So far, i only know about review_c_violation_report_problem.

[2019-04-30 22:46] sp2710 commented on #2671
I will continue my work on this after finalizing other open PR's. Until then if anyone else wants to work on this can take up this issue.

[2019-05-01 06:42] neslihanturan commented on #2671
Thanks for clarifying @sp2710 , no need to rush I was just sorting the issues.

[2019-05-01 09:38] #2337 closed

[2019-05-01 11:00] sivaraam commented on #2931
To find which strings need to turned into enum just search for the usages of the *review_c_violation_report_problem* string in the code. Your search must lead you to [ReviewController.java](https://github.com/commons-app/apps-android-commons/blob/dcbf076965071576889b13af02d6574533974136/app/src/main/java/fr/free/nrw/commons/review/ReviewController.java). Try to dig more from there to find what str

[2019-05-02 08:44] fredrikjonasson commented on #2918
@misaochan, due to some unforeseen happenings i havent been able to investigate this closer. If anyone else have an implementation in mind and an interest of working on this one; feel free!

[2019-05-02 11:56] neslihanturan commented on #2931
There are some urls and tokens as well, ie. mapbox://styles/mapbox/traffic-night-v2
Everything under strings.xml should be translatable. Others should be constants instead.

[2019-05-02 12:00] neslihanturan opened #2935 "Fix all-capital strings in strings.xml"
**Summary:**

As mentioned at #2873 , we should avoid using all-capital strings in strings.xml file, since this can cause some problems during translation. There are some all-capital strings under strings.xml file, they should be fixed, and capitalized in the java code or layout xmls depending on where they are used.

Note: While implementing this PR, many files can be edited. So please make sure

[2019-05-03 18:40] kateOmally commented on #2931
I need some help: I can't find the right place in the app for the user to exercise this code. That is, I expected that if the user looks at an uploaded image (in its page with Summary and so on), there'd be a button to [flag content] as inappropriate or some such thing.

The fix is straightforward, but i want to test my change, and i can't figure out how.  :-/

[2019-05-03 18:54] kateOmally commented on #2931
Never mind, I think i found it.

[2019-05-03 19:17] kateOmally commented on #2931
Okay , new question. I'm trying to run DeleteHelperTest and get the error "command line is too long. Shorten command line for DeleteHelperTestor also forAndroid JUnit default configuration."  I've never encoun

[2019-05-03 19:19] ashishkumar468 commented on #2931
Hi @kateOmally . Please try [this](https://blog.jetbrains.com/idea/2017/10/intellij-idea-2017-3-eap-configurable-command-line-shortener-and-more/)

[2019-05-03 19:29] kateOmally commented on #2931
Thanks. That worked.

[2019-05-03 23:43] henryhucsc commented on #2935
Hi,
I would like to contribute to this one. But I am a beginner who has no experiences of contributing to open source project on Github. May I ask a few questions?
I followed your [instruction](https://github.com/commons-app/apps-android-commons/wiki/Quick-start-guide-for-Developers)
1. I searched file named strings.xml, there are many files. I am not sure why one should I work on? some of them ar

[2019-05-04 07:57] neslihanturan commented on #2935
Welcome to team @henryhucsc
1- Just the default one should be edited, others will be updated after translations by translators.
2- Yes you should create a new branch, see: https://github.com/commons-app/apps-android-commons/wiki/Developer-workflow

[2019-05-06 01:59] kateOmally commented on #2931
Okay, I think i've gotten myself oriented on how the app works and how the code is structured.

Do you agree with the following changes?
Remove these from strings.xml:
[code]
Add an enum to ReviewController.java
make corresponding changes to DeleteHelper.java

Looking for similar issues,
I didn't find usages of these:
[code]
And these look like a candidate for removing from strings.xml or making t

[2019-05-06 13:52] #2585 closed

[2019-05-06 13:52] #2791 closed

[2019-05-06 14:54] nicolas-raoul commented on #2842
@neslihanturan Having the app on appetize is great. Having a badge is totally optional, but I would say why not, we can always remove it when appetize stops working or if nobody is motivated to update it at least once a year.

[2019-05-06 17:31] maskaravivek commented on #1962
Yup, we can prepare an introductory talk on our future plans covering the technical aspects. I will start preparing the slides and share the Google Slide link here so that we can collaborate on it. :)

If @misaochan and @ashishkumar468 are also willing to participate then we could present as a team.

Just to add that @misaochan is traveling till the start of the hackathon and might not be able to

[2019-05-06 17:58] VojtechDostal commented on #1962
Thank you Vivek. I will asi what needs to be done

[2019-05-06 19:22] Szymon20000 opened #2940 "Problem with color of info icon"
![image](https://user-images.githubusercontent.com/12784455/57249260-c2cfdc00-7044-11e9-9514-0ed39dfefabe.png)

Info icon is not visible because it's always white(skip_this_image_button).
Android 6.0.1
Samsung note 4.

[2019-05-06 21:49] OlgaMorales commented on #2918
hi @neslihanturan I'd like to wok on this issue.

[2019-05-06 23:41] henryhucsc commented on #2935
Thank you very much for answering my questions.
I just finished fixing all-capital strings in strings.xml and pulled request to master.

[2019-05-07 11:26] VitalyVPinchuk commented on #2917
Hi.
Could it be due to the following line of code?
`                String canonicalFilename = "File:" + result.getString("/api/upload/@filename").replace("_", " "); // Title vs Filename
`
Is there a need to replace underscore back with space?

[2019-05-07 20:43] neslihanturan commented on #2940
This issue is beginner friendly

[2019-05-07 21:08] madhurijain97 commented on #2940
![sample](https://user-images.githubusercontent.com/16744716/57332077-ec354a00-70ce-11e9-8502-ef9f46e16be3.jpg)

I am able to see the blue info icon on Android 8.
Is this issue specific to Android 6?

The drawable_tint_color is set to blue in the activity layout, so it should ideally be showing in blue color. However, if the issue still persists, we can change the color of the drawable icon itself

[2019-05-07 21:15] neslihanturan commented on #2940
Oh, thanks for reporting this @madhurijain97 . Can you please make sure tried with both dark and light theme (from settings).

[2019-05-07 21:33] madhurijain97 commented on #2940
![sample_dark](https://user-images.githubusercontent.com/16744716/57334552-ee020c00-70d4-11e9-9d27-901d01b545d0.jpg)

Yes, I tried with both.
The blue info icon shows up in the dark theme too.

[2019-05-08 07:27] neslihanturan commented on #2940
I can't reproduce the issue either,
![image](https://user-images.githubusercontent.com/3127881/57357442-a4203100-717b-11e9-88f4-52179660c68a.png)

@Szymon20000 can you share the about page screenshot of the device you reproduce this issue?

[2019-05-08 08:08] #2854 closed

[2019-05-08 08:21] #2842 closed

[2019-05-08 10:08] nfatma commented on #2744
I have been working on this issue for quite long. It seems to me that the API calling and use is perfect. Also when I was trying to make Request `https://commons.wikimedia.org/w/api.php?action=thank&revid=108006&source=diff&token=8f9706723e33af5c950b628dceb6f7555cd2a2f0+\`  via API sandbox I am getting the below error:

{
    "error": {
        "code": "mustpostparams",
        "info": "The follow

[2019-05-08 18:37] #2931 closed

[2019-05-08 18:42] neslihanturan commented on #2920
Thanks for your interest, what are your suggestions for new strings @mar7yn ?

[2019-05-08 18:51] neslihanturan commented on #2744
Hi @nfatma can you copy the request url taken from sandbox here?

[2019-05-08 21:25] misaochan commented on #1962
Yes, I'm happy to participate as well. :) Thanks for starting with the slides @maskaravivek , I will try to check in a few days before the event when I might have proper internet again.

[2019-05-08 21:28] neslihanturan commented on #2827
@madhurgupta10 sorry for the late response, my personal preference is removing the first dialog, and keeping the second one with build in options. What do you think?

[2019-05-08 21:29] ashishkumar468 commented on #1962
I would like to help too @maskaravivek . Let's discuss about the slides.

[2019-05-09 07:28] VojtechDostal commented on #1962
So, we should schedule the talk using the instructions here:
https://www.mediawiki.org/wiki/Wikimedia_Hackathon_2019/Program#How_to_schedule_a_session

Also please e-mail hackathon@wikimedia.cz - someone from our team will then make sure that your talk is given a priority :)

[2019-05-09 08:40] nfatma commented on #2744
sure @neslihanturan

/w/api.php?action=thank&format=json&token=34a419c2852c0e298652b8199193240c5cd3e626%2B%5C&source=diff

and here I am getting this:
{
    "error": {
        "code": "missingparam",
        "info": "One of the parameters \"rev\" and \"log\" is required.",
        "*": "See https://commons.wikimedia.org/w/api.php for API usage. Subscribe to the mediawiki-api-announce mailing list

[2019-05-09 08:43] neslihanturan commented on #2744
Can you also share related code lines that your sentence above is about? So that I can help

[2019-05-09 14:49] mar7yn commented on #2920
Instead of:
"Is this correctly categorized"

Use either:
"Review image categories" or
"Review category assignment"

Button strings:
"Reject" versus "Seems fine"

Any thoughts?

[2019-05-10 08:53] nicolas-raoul opened #2942 "Set "depicts" automatically for images uploaded via "Nearby""
Daithib8 uploaded https://commons.wikimedia.org/wiki/File:Ailtbrack_Lough.jpg via Nearby for Q33225778.

Automatically, Q33225778 had its P18 set to https://commons.wikimedia.org/wiki/File:Ailtbrack_Lough.jpg

Enhancement: Automatically, https://commons.wikimedia.org/wiki/File:Ailtbrack_Lough.jpg should have its P180 set to Q33225778 (as "Prominent").

[2019-05-10 12:09] #2850 closed

[2019-05-10 20:13] OlgaMorales commented on #2918
hey there , @neslihanturan could you tell me where do you get the list of the languages please? I haven't found where ...

[2019-05-11 08:24] neslihanturan commented on #2918
Hi @OlgaMorales investigating current adding description process for upload can help you. We are displaying the list of language there.

[2019-05-11 13:48] sivaraam commented on #2870
I observe this too.

[2019-05-12 04:57] sivaraam opened #2944 "Web page opened isn't persisted across app opens"
**Summary:**
When I open a web page by tapping on a web link from within the app, it opens it using custom tabs. Then if I tap on the home button and re-open the app by tapping on the app's icon, the web page that I opened is gone. I'm taken back to the page from which I opened the web page.

**Steps to reproduce:**
1. Go to About
2. Tap on the Privacy policy link
3. Tap on the home button of your

[2019-05-13 16:29] VojtechDostal commented on #1962
We have a time slot at 4pm on Saturday:
https://www.mediawiki.org/wiki/Wikimedia_Hackathon_2019/Program#Saturday,_18_May:_Hacking_all_day!

Any progress please? :)

[2019-05-13 16:48] neslihanturan commented on #1962
I had a slide that I used at Netherlands Techstorm, some parts of it can be used. I have just shared it with the @misaochan , @ashishkumar468 and @maskaravivek .

When it comes to nearby displaying existing images feature, I think this is not a good idea for the hackathon now, since nearby filters are not ready yet, and a huge refactor on nearby classes is on progress. Choosing a simpler task for

[2019-05-13 22:17] OlgaMorales commented on #2918
Here's my PR @neslihanturan !
I hope to receive your feedback!
Regards.

[2019-05-13 23:17] madhurijain97 commented on #2944
I think that this is the expected behavior. The webpage is opened in a browser only when a click is triggered. The browser and app are separate and as a result, the webpage will not open up when the user re-opens the app. Please correct me if I am missing out something.

[2019-05-14 02:35] nicolas-raoul commented on #2415
@VojtechDostal

Good idea! I just created #2942 please check.

[2019-05-14 04:01] nicolas-raoul commented on #2525
@BinduVerma123 Any progress on this?
Please share anything you might have found out, things that worked and also things that did not work if any :-)

[2019-05-14 04:11] nicolas-raoul commented on #2297
Assigned to @vanshikaarora (GSoC 2019). Anyone interested in collaborating on this task or offering tips, don't hesitate to post here :-)

[2019-05-14 04:12] nicolas-raoul commented on #2097
Assigned to @vanshikaarora (GSoC 2019). Anyone interested in collaborating on this task or offering tips, don't hesitate to post here :-)

[2019-05-14 05:26] neslihanturan commented on #2918
Hi @OlgaMorales I can't see you PR, but I saw you pinged me. Additionally your account seems like disabled.

[2019-05-14 09:10] nfatma commented on #2786
Hi @neslihanturan can I work on this issue?

[2019-05-14 09:13] nicolas-raoul commented on #2786
@nfatma Yes, it is yours now! Please let us know about your progress every few days. Thanks :-)

[2019-05-14 09:16] nfatma commented on #2786
Thanks @nicolas-raoul :)
I'll keep updating about my progresss.

[2019-05-14 09:29] sivaraam commented on #2944
I don't think this is the intended behaviour. I suspect this might be because we specifically add a flag for the browser to open as a new activity.

`customTabsIntent.intent.addFlags(Intent.FLAG_ACTIVITY_NEW_TASK | Intent.FLAG_ACTIVITY_CLEAR_TASK);`

Ref: [handleWebUrl](https://github.com/commons-app/apps-android-commons/blob/master/app/src/main/java/fr/free/nrw/commons/Utils.java#L144)

I use ano

[2019-05-14 16:42] maskaravivek commented on #1962
@VojtechDostal I have just added our session on the program page. Feel free to move it around if its not at the right place. :)

https://www.mediawiki.org/wiki/Wikimedia_Hackathon_2019/Program#Saturday%2C_18_May%3A_Hacking_all_day%21

Also the associated phabricator task is up on phabricator.

https://phabricator.wikimedia.org/T223298

[2019-05-14 18:47] olgalesan commented on #2918
@neslihanturan here's my PR
Regards.

[2019-05-14 20:48] misaochan commented on #1962
Thanks guys! Re: the tasks, if "display existing nearby images" is not suitable,  how about we just stick to the widget and unit tests? I guess other participants might have their own ideas for things they want to do, too?

[2019-05-14 22:39] PanagiotisBatsikouras commented on #2840
Since this is an unassigned issue, may I take up this one?

[2019-05-15 01:56] nicolas-raoul commented on #2840
@PanagiotisBatsikouras Sure, looking forward to your pull request, please let us know about your progress :-)

[2019-05-15 06:42] neslihanturan commented on #2840
Hi @PanagiotisBatsikouras thanks for volunteering for this task:) You may need some discussion for implementing this task. Ie. for some questions like when we will define a notification as read?

My personal opinion is each time notifications activity is visited, all notifications before visit date should be considered as read. No matter if user clicked to them or not. So after each visit, red not

[2019-05-15 09:35] PanagiotisBatsikouras commented on #2840
Perfect, I will inform you about the progress in a couple of days or so.

[2019-05-15 11:05] VitalyVPinchuk commented on #2942
Hello @nicolas-raoul
I'd like to work on this.

[2019-05-15 11:13] nicolas-raoul commented on #2942
@VitalyVPinchuk Thanks it is yours :-) Please let us know about your progress everyday, as it might interest people at the hackathon this Friday/Saturday/Sunday.

[2019-05-15 11:33] nicolas-raoul commented on #1848
@ioshomebrew Any progress on this since your last commit (Sep 5, 2018)? Don't hesitate to push anything, even if not finished :-)

[2019-05-15 11:38] nicolas-raoul commented on #1848
Re-reading this issue nearly a year later, I agree that putting a pin (or zooming/centering a place in the middle of the screen) sounds more developer-friendly and user-friendly.

At least for users who can read maps (before smartphones existed I remember walking around a city and asking local people where we are on a paper city map, many had no idea).

[2019-05-15 11:53] nicolas-raoul commented on #1962
Here would be my task recommendations:

A) Selfie detection. Once a selfie is detected, warn about it (for reference see how the app warns about pictures that are too dark or that have been downloaded from Facebook). There are several possible strategies: [OpenCV](https://github.com/commons-app/apps-android-commons/issues/74#issuecomment-188966749), [machine learning](https://github.com/commons-ap

[2019-05-16 14:19] VitalyVPinchuk commented on #2942
While uploading an image on beta-cluster from nearby, I get an error `badtoken The centralauthtoken is not valid` when call to `wikidatCreateClaim` method is made. Trying to find out what the problem is.

[2019-05-16 21:22] Vicropht commented on #2940
This seems to be an android 6 specific issue, everything fine here (Huawei WAS-LX1A Android 8 used)

[2019-05-17 07:20] PanagiotisBatsikouras commented on #2840
Hi @neslihanturan, can you please tell me how to generate notification ? I have generated the notification after the first post and after that i don't know when notification gets generated.

[2019-05-17 09:47] misaochan opened #2950 "Shrink images to width of screen in media details view, and allow users to zoom to enter"
Feedback from @schoenbaechler at hackathon: Media details view of image should automatically shrink images to width of screen, and allow them to zoom in, instead of just displaying a part of the image.

[2019-05-17 09:49] nicolas-raoul commented on #2950
Yes I always thought this!

[2019-05-17 09:50] nicolas-raoul commented on #2950
A similar PR was closed recently for inactivity: #2427

[2019-05-17 09:51] nicolas-raoul commented on #2421
Merging into #2950

[2019-05-17 09:51] #2421 closed

[2019-05-17 11:19] neslihanturan commented on #2840
It is not something we can generate, but I can help you by thanking your uploads if you share your beta user page with me? You should continue development end testing no beta, but notifications works same on beta and prod so it should be fine.

[2019-05-17 11:53] PanagiotisBatsikouras commented on #2840
Thanks for the response. I will create a second user then in order to thanking my other user's uploads so that I will generate notifications on my own for testing purposes.

[2019-05-17 11:54] neslihanturan commented on #2840
Even better:) Just make sure you are on beta, to not violate real commons. https://commons.wikimedia.beta.wmflabs.org/wiki/Main_Page

[2019-05-17 12:58] misaochan opened #2952 "Implement provision for Freedom of Panorama"
A user at the hackathon talked to me about images being deleted because there is no way to invoke freedom of panorama https://en.wikipedia.org/wiki/Freedom_of_panorama from within the app. Anyone know if this is possible, and if so, how to implement it?

[2019-05-17 14:23] neslihanturan commented on #2881
@ujjwalagrawal17 while implementing this feature, please consider adding an edit icon next to categories too, as in descriptions. I forgot to add on design.

[2019-05-17 14:31] ujjwalagrawal17 commented on #2881
Sure @neslihanturan, I will add it.

[2019-05-17 14:47] alcpp commented on #2952
I'm a user which talked :)

I open app on my city (Dnipro, Ukraine) and it shows a lot of places I can photo.
Its strange, because we've made a lot of fotos previously.

If you open corresponding wiki-article you will see it is already illustrated.

But even if the user will make a suggested photo, it will be deleted in few days. User will experience bad user experience :)

The reason is - no FOP

[2019-05-17 15:01] neslihanturan commented on #2952
Hi @alcpp , thanks for your feedback.

So maybe we can relate this issue with our nearby filter plan #1450 ? Do I understand what you mean correctly?

[2019-05-17 15:38] alcpp commented on #2952
yes,  it seems "place state" option can be used.

[2019-05-17 15:39] neslihanturan commented on #2952
Thanks @alcpp , will edit discussion accordingly.

[2019-05-18 10:38] misaochan commented on #923
Update: There was a change to ct_tag that makes our previous query invalid. Thanks to the help of Lucas, we now have a new query that works:

https://quarry.wmflabs.org/query/31076

[code]

As a side note, now we have 541 p18 edits! :)

[2019-05-18 11:45] domdomegg commented on #2748
If someone isn't comfortable generating the PNG and SVG, if they draw it out just in pen and paper or on a whiteboard and post a picture here (could be good to brainstorm ideas if there's time left at the hackathon) I can digitize it.

[2019-05-18 12:31] PanagiotisBatsikouras commented on #2840
I believe it's almost done. Just doing some final tests and I will create the pull request until tomorrow.

[2019-05-19 12:49] nicolas-raoul commented on #2952
The restrictive law does not cover Wikidata items such as famous trees,
streets, mountains, ponds, very old buildings and statues, architecturally
uninteresting buildings, etc, right?

Is there a way to know whether an Ukrainian item is forbidden to shoot or
not, using SPARQL?

On Sat, May 18, 2019, 00:39 neslihanturan <notifications@github.com wrote:

[2019-05-19 15:50] lucaswerkmeister commented on #2952
I tried to write a query, but I think it would have to be specific for each country, we don’t have the copyright laws of different countries in structured form:

[code]
[Try it!](https://query.wikidata.org/#%23%20attempt%20at%20a%20query%20to%20determine%20if%20a%20Ukrainian%20monument%20may%20be%20photographed%20or%20not%0AASK%20%7B%0A%20%20BIND%28wd%3AQ25394061%20AS%20%3Fitem%29%20%23%20change%2

[2019-05-20 04:29] nicolas-raoul commented on #1962
How was the hackathon? :-)

Showcased hackathon results, the Android Commons app is number 19: https://etherpad.wikimedia.org/p/Wikimedia_hackathon_showcase_2019

 Any videos available maybe?

[2019-05-20 04:56] nicolas-raoul commented on #2952
Executing this SPARQL query for each item shown on the map, potentially for several countries, would take too much time, but here is a
[2018 discussion about this topic](https://www.wikidata.org/wiki/Wikidata:Project_chat/Archive/2018/09#Photographing_trip:_Mark_items_that_can_not_be_uploaded_to_Commons_anyway?) that can help us make things efficient:
[code]

So I suggest we:
- Make the app filter

[2019-05-20 08:45] lucaswerkmeister commented on #2952
I don’t think I agree with that usage of “image: no value”… it works if you interpret P18 as “freely licensed image on Wikimedia Commons”, but it’s not like the item physically cannot be photographed.

[2019-05-20 12:05] VojtechDostal commented on #2950
Me too!

[2019-05-20 12:09] VojtechDostal commented on #2917
This happens on my phone because a space is automatically inserted just after a word which was selected from auto-suggest. Would be cool to have the space removed automatically, as long as it does not interfere with the ability of the app to warn me about Commons images with the same file name,

[2019-05-20 14:23] nicolas-raoul commented on #2952
P18 effectively means “freely licensed image on Wikimedia Commons” since no other images are allowed :-)
Wikimedia veterans LydiaPintscher and Jmabel seem to agree.

[2019-05-21 09:33] VitalyVPinchuk commented on #2942
Hello @nicolas-raoul
I've tried to set property P180 for uploaded images via "nearby".
Image itself uploads ok with the property added, but after that the map at "nearby" isn't shown anymore. I need some advice on how to call API correctly.
I haven't been able to make it work on beta-cluster yet, so I used prodDebug and then manually cleared my test uploads, sorry for that.
E.g. https://commons.wi

[2019-05-21 20:35] alcpp commented on #2952
"Executing this SPARQL query for each item shown on the map, potentially for several countries, would take too much time,"

True :)
Actually first version of script form Lucas was for a list of items in Ukraine.

But I was thinking about some automatic properties in each wikidata item at that momment, so proposed  to make a script for 1 item.

Definetly here should be used script for a list of ite

[2019-05-22 09:02] VitalyVPinchuk commented on #2917
Hi.
Do I open PR for this minor fix?

[2019-05-22 09:35] nicolas-raoul commented on #2917
Yes, a PR is needed for any code change.
Thanks :-)

[2019-05-23 08:45] nicolas-raoul commented on #2942
The P180 looks good, congratulations!
Sorry, I am not sure what the problem is with the map not showing.

[2019-05-23 11:15] #2917 closed

[2019-05-26 08:08] simon04 opened #2968 "App should not clutter download folder with log files"
`/sdcard/Download/logs/prod/CommonsAppLogs.0.log`

It's annoying to have logging stuff in my download folder when I want to keep this folder clean.

Use the corresponding `data/` folder instead.

[2019-05-28 09:25] neslihanturan commented on #2968
Thanks for letting us @simon04

[2019-05-28 13:11] misaochan commented on #2950
I think this would be fixed in #2954 when it is merged.

[2019-05-28 13:20] misaochan commented on #1962
Hi @nicolas-raoul ! The folks we met at the hackathon were interested in creating a new design for the app (main screen and explore), so that is what we focused on. I don't know if there was a video of the actual presentation, but we made a demo video of the prototype (https://drive.google.com/file/d/1IQG7n34yRkHek4I4yfRp9mNV4mXsQyNL/view) and slides (https://docs.google.com/presentation/d/1bvY8f3

[2019-05-28 14:25] neslihanturan commented on #1962
Actually it would be amazing if someone from hackathon can list all design considerations given at the hackathon under #2843 . Ie. do we keep hamburger menu, how many bottom tabs we plan to use etc. It is not very easy understand from slides.

[2019-05-28 18:30] misaochan commented on #1962
I'm not sure if I can remember all design considerations, but AFAIK the consensus was that bottom tabs should be capped at 5, and one of them would replace the hamburger menu (i.e. instead of being pulled out from the hamburger icon at the side, the nav drawer would be pulled out via the "More" icon in the bottom bar).

The function of the slides is that the left screenshot is the old UI, and the

[2019-05-29 08:31] nicolas-raoul opened #2971 "Implement optimal camera?"
Nowadays a smartphone's default camera app often alter pictures to make them look more appealing:
- Artificial bokeh
- Artificially augmented sharpness
- Artificially saturated colors

From our point of view, I would say we usually prefer pictures without bokeh, and with natural colors/sharpness.

Would a no-frills camera (such as the open source [OpenCamera](https://f-droid.org/en/packages/net.so

[2019-05-29 10:49] misaochan commented on #2971
Does Commons truly prefer completely "natural" photos? I'm not an expert, but from what I can see of a lot of the featured images or WLM/WLE winners, it does look like there is some work done on the colors/saturation/etc.

[2019-05-29 20:15] maskaravivek commented on #2971
Is open camera's source code free to use? I would like to point out that I have used open camera for one of my personal projects and the code is very vast and looks difficult to understand. So making even a small change would be very difficult. If someone can confirm that the source code is under free to use license then I can publish the trimmed down version of the repo on GitHub to showcase how

[2019-05-30 04:00] nicolas-raoul commented on #2971
I believe the winners are not representative of pictures that actually get used in Wikipedia/etc articles. But more importantly, such post-processing is performed **manually** by an expert. The problem I am suggesting addressing is **automatic** post-processing, which performs the same transformations for all images.

Yes, it is available at https://sourceforge.net/projects/opencamera/ under the G

[2019-05-30 09:52] maskaravivek commented on #2971
Great! Yes I was able to trim down the codebase to remove some advanced features and modernize the codebase. I will publish the repo on GitHub with a readme file once I come back from vacation.

[2019-05-30 11:50] misaochan commented on #2828
This has been closed in favour of 2.11 as discussed with @ashishkumar468 . There is no purpose in releasing such an old version when the upload refactor is nearly complete, and one of the major bugfixes in this list depends on the refactor.

[2019-05-30 11:50] #2828 closed

[2019-05-31 07:44] VitalyVPinchuk commented on #2942
Could anyone of the seniors please have a look into the code and tell what the problem is with the map after `wbeditentity` api call?

[2019-05-31 08:54] nicolas-raoul commented on #2971
I asked at https://commons.wikimedia.org/wiki/Commons:Help_desk#Any_policy_about_(aggressive)_automatic_post-processing only one answer so far:

[2019-06-01 08:20] Aschroet commented on #1971
Are you sure it is fixed? The SandBot just came across fixing a date of a file that i uploaded not long ago with the latest beta version (2.10.2~66e1539a1) : https://commons.wikimedia.org/w/index.php?title=File:Raspberry_Pi_3_Wikidata.jpg&action=history. Maybe there is also a problem with the timezone?

[2019-06-01 08:46] neslihanturan commented on #2942
Hi @VitalyVPinchuk , Are you sure map isn't visible is related with your api call? I mean they seem irrelevant to me at first. Can you please check error logs, maybe your previous api call has some errors and this blocks further api calls etc?

[2019-06-01 12:12] VitalyVPinchuk commented on #2942
Hello @neslihanturan
I make two calls to commons api, first one is to get page id, and the other one is to set p180 property for the id I got from the first call. Image still uploads okay, despite this problem.
And yes, I am pretty sure that the problem is due to these calls, because when I remove them image uploads and the map is shown afterwards.

[2019-06-01 12:19] neslihanturan commented on #2942
Hi @VitalyVPinchuk , do you still see an empty map? Or just s grey area? Is there any crash you can share with me?

Additionally currently a complete refactor happens on nearby classes, so current issue might be solved in new implementation. Here, #2969 . It is not ready yet, I am currently working on them. Can you please share which methods should be implemented to test your changes? So that I ca

[2019-06-01 12:30] VitalyVPinchuk commented on #2942
Thanks.
It is grey area with spinning progress indicator.
I have to check logs for any related messages.
You could have a look at my repo branch fix-2942.
Those changes are minor.

[2019-06-01 12:43] nicolas-raoul commented on #1971
@Aschroet Thanks for reporting!
The original issue of this report was for date that were wrong by several months, so I guess it might be different, but still a problem of course.

[2019-06-01 12:49] neslihanturan opened #2975 "Achivements says you have no contributions while I have"
**Summary:**
This happened on beta flavor, so if this is an expected behavior for achievements on beta please close this issue. Along with the wrong message an error exists on logs too.

**System logs:**

[code]

**Device and Android version:**

API 26 emulator, 2.10.2-debug-refactorNearbyClassesMVP~008e1f632 which was my local work branch, it happens also on current master

**Commons app version:

[2019-06-01 14:53] harshchinu commented on #2935
Hi,
I would like to contribute to this one. But I am a beginner who has no experiences of contributing to open source project on Github. May I ask a few questions?
I saw some issue and that already solved i am an complete beginner to opensource that why would you like to guide me

[2019-06-02 07:08] maskaravivek commented on #2975
Even on beta flavour achievements are fetched for prod. If your beta and prod username is same then it should ideally show you prod statistics.

From the logs it seems the API timed out. Was the username valid for prod?

[2019-06-02 10:10] nicolas-raoul opened #2976 "Caption lost after going to depicts then "previous" back to captions"
1. Open the upload activity
2. Enter a caption and description
3. Press Next, enter a category
4. Press Next, you are now in the "depicts" activity
5. Press "Previous"
6. Press "Previous" again
7. Expected: Caption and description still visible. Actual problem: Caption and description are lost

[2019-06-02 10:27] nicolas-raoul opened #2977 "-fr.free.nrw.commons.upload.Caption@9ac4bfe- used as filename"
I entered as a caption "Daichi Tamachi Building closes after 53 years" but the filename became a Java object name:
https://commons.wikimedia.org/wiki/File:-fr.free.nrw.commons.upload.Caption@9ac4bfe-.jpg

[2019-06-02 11:55] nicolas-raoul commented on #2977
Fixed

[2019-06-02 11:55] #2977 closed

[2019-06-02 16:02] ashishkumar468 opened #2980 "Upload Refactor"
Upload Test cases for reference for #2886

Uploads:

- [ ] Camera upload > yet to be tested

- [ ] Camera nearby upload with successful wikidata edit > yet to be tested

- [ ] Single gallery upload > yet to be tested

- [ ] Multiple gallery upload > yet to be tested

- [ ] Gallery upload with successful wikidata edit > yet to be tested

In the current ShareActivity:

- [ ] Tooltips for title, desc

[2019-06-02 16:10] #2980 closed

[2019-06-03 02:44] nicolas-raoul commented on #2511
Fixed by TheSandDoctor (still running regularly).
Thanks for the report and feedback!

[2019-06-03 02:44] #2511 closed

[2019-06-03 05:08] nicolas-raoul opened #2983 "Categories from last upload selected"
1. Upload a picture with 3 categories
2. Start uploading another picture
3. Reach the categorization activity
4. Expected: No categories selected. Actually: The 3 categories from step 1 are selected.

With yesterday's commit (not tried with today's commits)

Not sure whether the problem is in master too, or not.

[2019-06-03 05:10] ashishkumar468 commented on #2983
@nicolas-raoul , shouldn't be there in master, I will look into it and add a fix for the same.

[2019-06-03 05:21] nicolas-raoul opened #2984 "Non-selected categories shown when category search field empty"
Steps:
1. Start uploading a file
2. Choose 2 categories
3. Erase everything from the categories search field
4. Expected: Only selected categories are shown. Actually: Non-selected categories are shown too.

This might be a problem in master too, I have not tried.

![Screenshot_20190603-141713_Commons](https://user-images.githubusercontent.com/99590/58777753-c7b78980-860a-11e9-8e20-eea0bbebb588.jp

[2019-06-03 05:36] nicolas-raoul opened #2985 "Crash everytime I try to start the app"
After a multiple upload that failed on slow network.
[code]

Not sure if due to gsoc2019 branch or not.

Workaround: Remove the app's data, in Android settings.

[2019-06-03 07:07] ashishkumar468 commented on #2985
@nicolas-raoul Must have been reproduce due to some thing on the gsoc branch, but the class is somewhere un related to gsoc changes, I will anyways raise a PR on master for the fix of the same

[2019-06-03 08:02] neslihanturan commented on #2975
No it is not same user name. So th,is is not a bug anymore, but why even on beta we have achievements fro prod? Changing this would be easier for testing future issues on beta.

[2019-06-03 08:54] maskaravivek commented on #2975
Have opened an upstream issue.

[2019-06-03 15:53] misaochan commented on #2511
Thanks all! And apologies for the inconvenience. :)

[2019-06-03 18:53] maskaravivek commented on #2074
@silkypriya Can you post the designs and database schema here. We can discuss further here. :)

Also, please create an account(@silkypriya and @ujjwalagrawal17) on tools admin(https://toolsadmin.wikimedia.org/) so that I can add you as maintainers. I have created a test project for working with tools forge while developing the leaderboard. Eventually, we will make the deployment in the prod tools

[2019-06-03 19:00] maskaravivek commented on #2074
Regarding the leaderboard, I was wondering how should the user start showing up in the leaderboard?

Option 1: With User consent via some popup

The user can say **yes** to be included in the leaderboards and from that point onwards, we can consider him for leaderboard rankings.

Option 2: Automatically when the user performs one of the actions

We can automatically add the user in the leaderboard

[2019-06-04 02:56] nicolas-raoul commented on #2074
I would say option 2. Less intrusive, and other rankings already exist on the Wikimedia sites so it is not like we require their approval.

Sounds great!

[2019-06-04 05:11] maskaravivek commented on #2975
@urbanecm Has updated the APIs to make it work for the beta cluster as well. Am taking up the changes to start using the updated API for the beta cluster.

[2019-06-04 05:12] silkypriya commented on #2074
Hello @maskaravivek,
The database schema link : https://docs.google.com/document/d/1cb6ABJqcHLR1YxdZoaat53xE9tAbcBvkR4tORvGwBTg/edit?usp=sharing

I have added a Leaderboard table in existing commonswiki database for storing leaderboard information. Would like to get your suggestions.

Have created an account on tools admin (username: Silky Priya 44).
Thank you!

[2019-06-04 12:10] ujjwalagrawal17 commented on #2074
@maskaravivek I have also created an account on tools admin (username: ujjwalagrawal17)

@silkypriya can you post the design mockups shared in https://github.com/commons-app/apps-android-commons/pull/2978 here also. According to the new UI, we are not merging Achivements and leaderboard.

We will decide this after everyone's opinion that we should merge leaderboard with achievements or we shouldn'

[2019-06-04 12:12] misaochan commented on #2074
I agree with Option 2. :)

[2019-06-04 12:34] ashishkumar468 opened #2987 "App crashes when response body is empty [but not null] in getUploadCount()"
**System logs:**

[code]

[2019-06-04 12:37] neslihanturan opened #2988 "Add tests for Image EXIF/XMP metadata removal routine"
**Summary:**
Since we are trying to cover all of new features with tests, this #2863 pull request needs tests.

[2019-06-04 12:58] #2987 closed

[2019-06-04 14:34] #2975 closed

[2019-06-04 15:17] maskaravivek commented on #858
Yes, the Wikipedia app uses Hockey app for Crash reporting and @sharvaniharan from the Wikipedia Android team confirmed the same during the hackathon. It would be great if our app also starts using Hockeyapp. Its open source so unlike Fabric or Firebase it should be safe to use this.

Apart from automatic crash reporting, Hockeyapp has a few other features as well, which we check and use if needed

[2019-06-04 15:25] janpio commented on #858
Note that HockeyApp won't be available much longer and has be replaced by Visual Studio App Center: https://hockeyapp.net/

[2019-06-04 15:29] maskaravivek commented on #858
Thanks for pointing it out @janpio! I didn't know about App Center.

Looks like App center SDK is also open source. https://github.com/microsoft/appcenter-sdk-android

@dbrant @sharvaniharan Do you have any opinions on what platform we should use for crash reporting?

[2019-06-04 15:32] ashishkumar468 commented on #858
I think adding the hockey app sdk will be of great help.
As @maskaravivek  mentioned

it sends the crash reports automatically, rather than the user having to send an email
the crash reports are automatically grouped on a dashboard so it is easy to track and resolve issues.

Right now it is really painful to browse and fix the crashes from the google groups. Also, as the crashes are grouped togeth

[2019-06-05 10:08] nicolas-raoul opened #2991 "Double slash in URL"
The app performs this request:

https://tools.wmflabs.org/urbanecmbot/commonsmisc//wikidataedits.py?user=Syced

As you can see, the last slash is doubled. It believe this is a small mistake?
It has no impact on the results, but I guess it is worth fixing anyway.

Super-low priority.

[2019-06-05 10:31] ashishkumar468 commented on #2991
Thanks for pointing this out @nicolas-raoul, as the fix was really small, I have raise a PR for the same :-)

[2019-06-05 10:49] #2991 closed

[2019-06-05 11:10] ashishkumar468 commented on #2827
@madhurgupta10 , Are you still working on it. Please let us know if you have any updates ?

[2019-06-05 11:14] ashishkumar468 opened #2993 "Achievement crashes when GetWikidataEditCountResponse is null."
**Summary:**

Achievement crashes when GetWikidataEditCountResponse is null.

**Steps to reproduce:**
Not sure how to reproduce this, @neslihanturan Shared the logcat.

**System logs:**

[code]

**Commons app version:**
2.10.2

**Would you like to work on the issue?**
Yes

[2019-06-05 11:29] #2993 closed

[2019-06-05 11:33] maskaravivek opened #2995 "Cache achievements for next use"
**Summary:**

Our API to fetch feedback, uploads and nearby edits takes a significant amount of times and often it times out. It might be worthwhile to cache the results and display the cached data first. We can call the API asynchronously and update the view once the calls succeed.

As these results don't change very often, it shouldn't affect user experience.

[2019-06-05 12:06] ashishkumar468 commented on #2786
@nfatma Are you still working on this, Please let us know if you have any updates ?

[2019-06-05 12:51] silkypriya commented on #2074
Hello,
Leaderboard UI can be implemented in either ways.

1. Update UI of achievements activity to display level (current activity) in first tab and Leaderboard in second tab.
PR: #2996
![61891253_340184619996950_8879397933003309056_n](https://user-images.githubusercontent.com/25826255/58955017-66cdb400-87b8-11e9-8e3d-6bc79f7c3445.png)

2. Add Leaderboard item to navigation drawer
PR: #2978

Navig

[2019-06-05 14:19] maskaravivek commented on #2912
Am closing this issue as its not reproducible. Feel free to reopen it if the issue persists. :)

[2019-06-05 14:19] #2912 closed

[2019-06-05 14:21] maskaravivek commented on #2871
@nicolas-raoul Does this still happen?

[2019-06-06 02:41] nicolas-raoul commented on #2074
I would say 1, in order to not cram the navigation drawer.

[2019-06-06 04:41] nicolas-raoul commented on #2871
Yes, always, even after changing phones and reinstalling the almost 10 times.
This is especially visible when uploading a new picture.

[2019-06-06 06:23] nicolas-raoul commented on #2995
Ideally, the app try to could count what has changed since the cache was taken.
Example:
1. User opens the achievements activity, a request is made and it returns upoads:60 wikidata:20
2. The user uploads 3 pictures, including 1 using Nearby. The numbers are kept as a "delta".
3. Eager to see their progress, the user opens the achievements activity again
4. The cache is still valid (for instance i

[2019-06-06 06:38] ashishkumar468 commented on #2871
Even I have faced this issue, especially while uploading, all of the items flicker (including the one being uploaded), seems like some issue related with us posting the progress update.

[2019-06-06 06:49] ashishkumar468 commented on #2074
Option 2 Sounds plausible.

[2019-06-06 08:25] nfatma commented on #2786
@ashishkumar0207  Yes I am working on this. I am thinking to solve this issue by using viewModel.

[2019-06-06 08:59] maskaravivek commented on #2995
IMO, this approach can be used for statistics that are specific to the android app but for other statistics, it might cause confusion. For eg. if the user uploads a few pictures using the app and a few others using some other platform. Then the number would not match either with what he last saw or with his actual upload count.

Instead, what about showing a small text:

[code]

This would be easi

[2019-06-06 09:50] ashishkumar468 commented on #2786
Hi @nfatma, In the current state the app is not using ViewModel's anywhere, as far as I could infer from the logs (and I may be wrong), the problem is with the lifecycle management of one of the member variables, can we not solve it using the scopes in dagger or something like it?

[2019-06-06 18:38] nfatma commented on #2786
hi @ashishkumar468 ,  yes the problem is with the life cycle management.  We can solve the issue by using the scopes in dagger as you suggested or by using onSaveInstanceState() also.
I thought it would be nice if we can delegate work of UI controller with the help of ViewModel. As the app is not using it anywhere, we can add it later for more efficiency. :)

[2019-06-07 06:59] #2921 closed

[2019-06-08 05:45] #2888 closed

[2019-06-08 09:19] ujjwalagrawal17 commented on #2074
@nicolas-raoul, in the long run, we are shifting the UI to have bottom tabs instead of nav-drawer so I think we can proceed with design 2.
Similar to what is shown in: https://docs.google.com/presentation/d/1bvY8f3Vv9Tf8jzNTVuSfVvvjeaEsLypnlI39mQYOcRE/edit?ts=5cea64ef#slide=id.g57b021ae21_0_19

@misaochan @neslihanturan What are your opinions?

If everyone is okay with 2nd design we can proceed wi

[2019-06-09 10:05] misaochan commented on #1962
@neslihanturan We have a clearer depiction of the design suggestions at https://phabricator.wikimedia.org/T223159 also. I almost forgot about that! :)

[2019-06-09 10:06] #1962 closed

[2019-06-09 10:07] misaochan commented on #2843
https://phabricator.wikimedia.org/T223159 has design suggestions by Robin Schoenbaechler, the designer whom we worked with at the hackathon.

The (unstable) WIP PR is #2972

[2019-06-09 11:34] misaochan commented on #858
Hmm, I guess it depends on whether the new App Center is allowed under policy. @dbrant @sharvaniharan What does the Wikipedia app plan to do when Hockey is deprecated? Will you be switching to App Center?

[2019-06-09 11:47] misaochan commented on #2074
I would vote for Design 1. Not necessarily because of nav drawer clutter (as you say, that will only be temporary), but because it feels like it makes more sense and will be more visible to the user. When they go to their Achievements, they have the immediate option to see where they stand compared to others.

However, if time is a factor (since it's a GSoC project), I'm OK with either design. I p

[2019-06-09 14:50] dbrant commented on #858
Yes, presumably HockeyApp is being folded into AppCenter. I don't think it's going away, so we'll keep using it.  It's been useful to us for being able to add extra metadata to the crashes, such as the user's language selection.  If the new AppCenter experience proves to be inadequate in some way, then we'll happily go back to using the generic Play Store crash reporting, which is perfectly fine,

[2019-06-09 15:02] misaochan commented on #858
Yay, thanks for the feedback @dbrant ! Let's proceed with integrating HockeyApp/AppCenter in that case. :)

Re: Play Store crash reporting, it is a problem for us to rely on that as only myself and @nicolas-raoul have access to the WMF Play Store account at the moment. Adding more people would require Legal's consent (and we did not get it the last time we asked). However, if we use HockeyApp, we

[2019-06-09 15:36] sherlockbeard commented on #2873
#2999  in this pull i made the necessary changes required in layout files and in the string value file

[2019-06-09 15:38] sherlockbeard commented on #2935
#2999 in this pull i made the necessary changes required in layout files and in the string value file

[2019-06-09 20:13] bennofs opened #3003 "Feature to select existing image for nearby"
The wikipedia articles for nearby items sometimes already have images. It would be nice if there was an easy way to add this image to the wikidata item from the app.

[2019-06-10 03:27] nicolas-raoul opened #3004 "[GsoC 2019] Copy previous caption & description"
Steps to reproduce the problem:
1. In Android gallery, choose 2 pictures
2. Share to Commons app
3. Enter caption for first picture
4. Press Next
5. Press "Copy previous title & description"
6. Problem: caption does not get copied.

Also, the button should be renamed to "Copy previous caption & description"

[2019-06-10 03:44] nicolas-raoul opened #3005 "[GSoC 2019] Caption not filled when uploading from Nearby"
Steps to reproduce:
1. Go to Nearby
2. Select a pin
3. Add a picture for it
4. Problem: In the metadata activity, Caption is empty

In master, title get filled with the label of the Wikidata item.

Fix:
Fill the caption using the label of the Wikidata item (using the code already present for title, that should be an easy change, the only difficulty is to set the right language in the UI).

![Scree

[2019-06-10 08:51] neslihanturan commented on #2843
Thanks for remembering it @misaochan , it looks really helpful.

[2019-06-10 08:58] nicolas-raoul commented on #3003
It is exactly what I thought when I first started adding images! ("_Why walk 10 kilometers while a picture is actually already available on Commons?_")
Here are strategies we can take to improve that:

# Strategy A
I have great news for you: Yes, there is an easy way to add this image to the wikidata item, it is called WDFIST. It is designed for desktop, but it works correctly on mobile too (I jus

[2019-06-10 10:49] nicolas-raoul opened #3006 "[GSoC 2019] Categories names blank"
At the categories selection step, categories names do not appear:

![Screenshot_20190610-123259_Commons](https://user-images.githubusercontent.com/99590/59190812-ac272280-8bb8-11e9-9863-572230d76b17.jpg)

Anyone using alpha master: Is it a problem on master too?

[2019-06-10 11:01] sherlockbeard commented on #2703
#2827 talked about two dialog box for deletion .
if you look at the dialog box i think the first dialog box is for when someone is trying to nominated other's upload for deletion, and the second one is for the deletion on the picture you uploaded( according to the option's that can be selected). @nicolas-raoul could this be the reason?

[2019-06-10 11:08] nicolas-raoul commented on #2703
Great find!
Indeed part of the code has been written for own picture deletion, and then probably reused for review without thinking about this detail.
So now you know what to fix :-)

By the way, other parts of the workflow will probably be different, for instance if you propose for deletion the picture of someone else you must write on their talk page, but if it is your own picture then it does n

[2019-06-10 11:28] sherlockbeard commented on #2703
are username unique. i mean how can i know that the user uploaded the picture or it is uploaded by someone else.

[2019-06-10 11:33] nicolas-raoul commented on #2703
Yes, usernames are unique.

[2019-06-10 11:40] sherlockbeard commented on #2703
ok . i think i know what i need to do . i need to check the author name with the current account name .
and if is true i have to show the drop down box dialog box otherwise the dialog box with input text .
correct me if i am wrong.

[2019-06-10 11:47] nicolas-raoul commented on #2703
Yes sounds good :-)

And also, send a message to the right talk page, and only if the uploader is not me.

[2019-06-10 12:14] nicolas-raoul opened #3007 "Achievements nearby tooltip hidden"
The circled "i" is half hidden:
![Screenshot_20190605-192441_Commons](https://user-images.githubusercontent.com/99590/59194603-7f790800-8bc4-11e9-89db-bb626f1c5e80.jpg)
I guess the line should wrap or something?

[2019-06-10 13:55] sherlockbeard commented on #2703
sorry to ask. but i need help mediawikiapi
https://github.com/commons-app/apps-android-commons/blob/master/app/src/main/java/fr/free/nrw/commons/delete/DeleteHelper.java#L106-L113A
can you explain what these lines are doing

[2019-06-10 14:11] madhurgupta10 commented on #2827
@ashishkumar0207 Sorry for the late response, I was busy in a hackathon. I think that we can definitely remove the first dialog and just have the second one.

[2019-06-10 14:27] neslihanturan commented on #2703
Hi @sherlockbeard . Here is the API documentation: https://www.mediawiki.org/wiki/API:Main_page and sandbox: https://www.mediawiki.org/wiki/Special:ApiSandbox . I hope these helps.

[2019-06-10 15:24] sherlockbeard commented on #2703
@neslihanturan  @nicolas-raoul
https://github.com/commons-app/apps-android-commons/blob/master/app/src/main/java/fr/free/nrw/commons/delete/DeleteHelper.java#L113
in this user talk is set to session.gecurrentAccount().name i think i should change it to media.getcreater but i don't know how to check the result .

[2019-06-10 15:27] neslihanturan commented on #2703
@sherlockbeard do you mean you don't know how to test your implementation?

[2019-06-10 15:53] sherlockbeard commented on #2703
@neslihanturan. the problem is i don't know about the stuff of usertalk on wikimedia and don't know how to produce it. i have fixed up the issue of dialog box.

[2019-06-10 15:58] neslihanturan commented on #2703
Hi @sherlockbeard , you can find several documentation about what the talk page is and what is nomination for deletion etc. Also, you can use beta flavor of our app for nominating for deletion some images and debug to understand what is going on. For learning what beta flavor is please make sure you read our contributor docs.

[2019-06-11 03:53] nicolas-raoul opened #3008 "Typo in method name: wikidatCreateClaim"
Please replace with `wikidataCreateClaim`

[2019-06-11 07:04] sherlockbeard commented on #3008
@nicolas-raoul  i am unable to find the refrence.

[2019-06-11 07:17] nicolas-raoul commented on #3008
How did you search? Did you try grep for instance?

[2019-06-11 08:29] sherlockbeard commented on #3008
![Screenshot from 2019-06-11 13-56-50](https://user-images.githubusercontent.com/46790654/59256092-d75d5080-8c50-11e9-8230-2a2696af4ef2.png)

i never used grep on abd . can you tell me how to do it . i tried find on internet but there was no solid answer there

[2019-06-11 08:31] nicolas-raoul commented on #3008
You have to search in the source code of the app, on your local filesystem.
What OS are you using?

[2019-06-11 08:41] sherlockbeard commented on #3008
ok . sorry it was my misunderstanding i thought i have to do grep on android . now i understand what need to do . btw i use arch

[2019-06-11 16:54] misaochan commented on #858
I just realized that there might be a benefit of ACRA - it lets the user comment on what they are doing during the crash, and we can follow up with them because we have their email address from the email that they sent us. @ashishkumar468 how important do you think this would be for your bug-solving? Maybe we should keep Acra AND implement Hockey (as a replacement for the generic Play Store crash

[2019-06-12 09:57] sherlockbeard commented on #3008
@nicolas-raoul please close this issue.

[2019-06-12 10:00] sherlockbeard commented on #2703
https://commons.wikimedia.org/wiki/User_talk:Sherlocktest (uploader)
https://commons.wikimedia.org/wiki/User_talk:Sherlocktest2 (nominator )

https://commons.wikimedia.org/wiki/File:Sherlocktest.jpg (file page)

@nicolas-raoul

[2019-06-12 10:01] nicolas-raoul commented on #3008
Thanks!

Tip: If your commit summary includes "Fixes #3008" then the issue will be automatically closed when merging :-)

[2019-06-12 10:01] #3008 closed

[2019-06-12 10:08] nicolas-raoul commented on #2703
The place where the message has been sent is correct, thanks for fixing! :-)

[2019-06-12 11:37] #2703 closed

[2019-06-12 11:37] #2827 closed

[2019-06-12 19:00] royjor2016 opened #3017 "Edits on deleted file redirects"
**Summary:**

The app recreated a deleted file redirect.

**Steps to reproduce:**

https://commons.wikimedia.org/w/index.php?title=File:%E9%81%82%E6%98%8C%E9%95%BF%E7%B2%BD.jpg&action=history
This file was moved on 8 June. The original file name was incorrect and so deleted.
But the app made this edit on 11 June: https://commons.wikimedia.org/w/index.php?diff=353950582

**Device and Android versio

[2019-06-13 03:21] nicolas-raoul commented on #3017
Thanks @royjor2016 for noticing this problem! :-)

# My understanding

Original file name: https://commons.wikimedia.org/wiki/File:遂川长粽.jpg
Corrected filename: https://commons.wikimedia.org/wiki/File:遂昌长粽.jpg

The Commons app performed categorization 3 days after the upload, but the file had already been moved.

# My thoughts
It must be an old version of the app, because newer versions of the app

[2019-06-13 18:23] domdomegg opened #3018 "Error publishing Google Play Alpha builds with Gradle 5"
**Summary:**

Travis builds are failing, I think in the command publishing the alpha build to the play store. This is after updating to Gradle 5 (I merged #2860 - everything seemed to be working, it built fine and tests passed - sorry for breaking it).

Have taken a look myself but not sure how to fix - @maskaravivek I'm hoping you might? Otherwise we can revert the changes until we think publishi

[2019-06-13 19:39] #2886 closed

[2019-06-13 19:49] ashishkumar468 commented on #858
I am okay with having both :-), The user's comment is definitely valuable.

[2019-06-13 20:57] neslihanturan commented on #3018
Can we revert until a solution is found? Otherwise we have to revert it for each branch that we sync with master to test them.

[2019-06-13 20:59] neslihanturan commented on #3018
I created the revert pull request, please feel free to merge it if you agree, I don't want to merge my own PR:  #3019

[2019-06-13 21:19] neslihanturan commented on #3018
Well, it seems like sleep time for everyone's time zone, I merged my own pull request. It just reverts the problematic pull request.

[2019-06-14 14:11] VojtechDostal commented on #2507
This stopped after I switched to a new phone. Without any other case available, we can probably close the issue.

[2019-06-14 14:12] neslihanturan commented on #2507
Good idea @VojtechDostal , nearby is being refactored currently. Might be solved meanwhile.

[2019-06-14 14:12] #2507 closed

[2019-06-14 21:08] royjor2016 commented on #3017
I dont use your app so I dont know how you designed it, but in case you dont know, the page id/curid always stays the same regardless whether the page is moved/deleted/restored.

This example can always be found at https://commons.wikimedia.org/w/index.php?curid=79523893 .

[2019-06-15 04:29] nicolas-raoul commented on #3017
Great tip, thanks!
So I guess we should keep track of files using that id, rather than the title. I edited the strategy section above.

[2019-06-15 19:08] kozuch opened #3021 "Can not create new category during upload"
I can not create new category during file upload. Using last version from Google play.

[2019-06-16 10:39] vanshikaarora commented on #3006
@nicolas-raoul I just checked the Issue it does not persist in the master, it is only in Refactor-uploads. I'll fix this in the next commit

[2019-06-16 10:40] vanshikaarora commented on #3004
I'll fix this in the next commit

[2019-06-16 10:51] vanshikaarora opened #3022 "[GSOC 2019] App crash while uploading the image"
**Summary:**

App crash on navigating to a different app while uploading an image. Don't now that it appears other times or not. But I'll go through it

[code]

**Would you like to work on the issue?**

Yes

[2019-06-16 10:56] vanshikaarora commented on #3006
@nicolas-raoul this issue is fixed herein the commit https://github.com/vanshikaarora/apps-android-commons/commit/d900748aaccdb27f3376dcb72a43e1efd4d9261b

[2019-06-16 10:57] vanshikaarora commented on #3006
![WhatsApp Image 2019-06-16 at 4 17 42 PM](https://user-images.githubusercontent.com/34261945/59563094-eda14d00-9052-11e9-924e-4872538858a2.jpeg)

[2019-06-16 11:56] vanshikaarora commented on #3004
Hey @nicolas-raoul, I have fixed the Issue here n the commit https://github.com/vanshikaarora/apps-android-commons/commit/be6b726699d3f8e07b290b0e393ceb65d074f467

[2019-06-16 12:01] ashishkumar468 commented on #3022
Is this happening on master as well ?

[2019-06-16 13:09] vanshikaarora commented on #3022
No it happened for me in branch `upload_caption_depict`

[2019-06-16 14:24] vanshikaarora commented on #3005
@nicolas-raoul I have started working on it. But there is just one problem. How can i detect current language in which the place is returned from NearbyFragment. Do you have any idea how to proceed?

[2019-06-16 15:09] ashishkumar468 commented on #3022
Ohh, please sync your branch with master, master already has a fix for this :-)

[2019-06-16 16:05] #3022 closed

[2019-06-17 04:02] nicolas-raoul commented on #3006
I just tested, it works, thanks for fixing! :-)

[2019-06-17 04:02] #3006 closed

[2019-06-17 04:04] nicolas-raoul commented on #2663
I think the cause of the problem is that the SPARQL request coalesces languages, and we have no way to know what language was used:
[code]
As you can see, the label in language `itemLabelPreferredLanguage` is used if it exists, but if it does not exist, a label in any other language is used (randomly and we don't know which one).

# Solution
When the user proceed with uploading a picture for that

[2019-06-17 04:10] nicolas-raoul commented on #3005
Good question!
You should modify NearbyFragment to make it give the language too.
Let's consider that `classLabelPreferredLanguage` is always the language of the description _(even though it is not always true today: As can be seen in `app/src/main/resources/queries/nearby_query.rq`, the language might be any other language if there is no label filled for `classLabelPreferredLanguage`, but that's

[2019-06-17 04:12] nicolas-raoul commented on #3004
It works now, thanks for fixing! :-)

[2019-06-17 04:12] #3004 closed

[2019-06-17 04:19] nicolas-raoul commented on #3021
Interesting idea!
What do you think it should look like?
We should at least ask for that new category's parent category(ies), and a description.

If we implement such a feature, we should definitely limit it to very experienced users, as we don't want newcomers to create a mess in the categories :-)

Meanwhile, the workaround is to select the upper category, for instance "Entrepreneurs" rather tha

[2019-06-17 10:29] misaochan commented on #3018
Thanks @domdomegg and @neslihanturan for the quick response! :) I pinged @maskaravivek for review of #3023 since he was the one who set up our automated releases.

[2019-06-17 10:32] misaochan opened #3024 "Items needed for v2.11 release"
Please make sure bugfixes for all the below items are submitted to `2.11-release` branch, thanks!

- [x] Fix for bug introduced in #2937 ( #3038 ) - @maskaravivek
- [x] #3027
- [x] #3028
- [x] #3029 (awaiting Vitaly's PR)
- [x] #3036
- [ ] #3030 if possible (included in Nearby refactor so might be postponed depending on timeline)

[2019-06-17 11:22] #2824 closed

[2019-06-17 11:39] #3018 closed

[2019-06-17 14:59] maskaravivek opened #3026 "Migrate all APIs to retrofit"
**Summary:**

This is a subtask to track network layer refactoring as part of #1092.

- [x] getAuthCookie > PR raised
- [x] login > PR raised
- [x] getEditToken > PR raised
- [x] getWikidataCsrfToken > PR raised
- [x] getCentralAuthToken > PR raised
- [x] fileExistsWithName
- [x] pageExists
- [x] findThumbnailByFilename
- [x] getCategoryImages
- [x] getSubCategoryList
- [x] getParentCategoryList
-

[2019-06-18 08:04] VojtechDostal commented on #3003
On the other hand, we've started as an app for uploading pictures to Wikimedia Commons and this stuff seems to be already quite distant from the original purpose. Don't get me wrong - I do think that synchronization between Wikipedia and Wikidata is important - but I think there are better tools for that such as HarvestTemplates or WDFist.

[2019-06-18 08:17] nicolas-raoul commented on #3003
@VojtechDostal True. Would "Strategy A" above be OK? (just a link to WDFIST centered on the right location)

[2019-06-18 09:04] VojtechDostal commented on #3003
@nicolas-raoul Yes that would be acceptable although if I understand WDFIST, it only makes sense to display the link in a minority of cases (items which have Wikipedia sitelink which is not ceb or sv - which are mostly bot-created Wikipedias). In these cases the button would needlessly take up precious space, is that right?

[2019-06-18 09:21] nicolas-raoul commented on #3003
I believe such a W button would not take up precious space:
It would open a page [such as this one](https://tools.wmflabs.org/fist/wdfist/?depth=3&language=en&project=wikipedia&sparql=SELECT%20?item%20WHERE%20%7B%20SERVICE%20wikibase:around%20%7B%20?item%20wdt:P625%20?itemlocation%20.%20bd:serviceParam%20wikibase:center%20%22Point(116.401703%2039.907902)%22%5E%5Egeo:wktLiteral%20.%20bd:servicePara

[2019-06-19 20:50] TutiZulatto commented on #3021
I think it could be a good idea to add hastags in the description to make it easier for wikignomes to identify the most requested new subcategories.
A great idea also is to clean the categories list, because there are a lot of entries with personal names. This will also help with any issue related to search for a specific category.
Probably with a dictionary of unauthorized words for categories th

[2019-06-20 02:28] nicolas-raoul commented on #3021
@TutiZulatto What do you mean by "personal names"? Please take a screenshot of the app and show us what entries have "personal names". Thanks!

[2019-06-20 08:17] misaochan opened #3027 "Category search does not work properly [current master]"
**Summary:**

Searching for the exact category name does not output any results even though that category exists.

**Steps to reproduce:**

I searched for "Christchurch Botanic" and was told "No Categories Found". However that exact category does exist as per my search of only "Christchurch".

![Screenshot_1561017509](https://user-images.githubusercontent.com/3611199/59832502-62dc8d00-9387-11e9-9b

[2019-06-20 08:21] misaochan opened #3028 "Wrong photo displayed in ContributionsActivity during upload process [current master]"
**Summary:**

The previous photo uploaded is displayed instead of the current photo being uploaded

**Steps to reproduce:**

Upload a photo and watch the process in ContributionsActivity

**Device and Android version:**

Samsung Galaxy s9 Android 8.1

**Commons app version:**

Current master

**Screen-shots:**

![Screenshot_1561017562](https://user-images.githubusercontent.com/3611199/59832829-2f4

[2019-06-20 08:26] misaochan opened #3029 "GPS category suggestions are not displayed [current master]"
**Summary:**

Photos taken at a location that I know have categories associated with it (due to having uploaded almost the same photo previously), have no GPS category suggestions. Title-based category suggestions are shown, though.

**Steps to reproduce:**

Take a photo at a well-known place (or test the upload with the Play Store version to see what categories you get), and then test it with cur

[2019-06-20 08:35] nicolas-raoul commented on #3027
I noticed this too, it is a very recent problem.
![Screenshot_20190619-140838_Commons](https://user-images.githubusercontent.com/99590/59833681-91576980-9381-11e9-9eab-8a1d2de8f1e6.jpg)

[2019-06-20 08:38] ashishkumar468 commented on #3027
Thanks for finding the issue @misaochan  and @nicolas-raoul , I will look into it :-)

[2019-06-20 08:40] nicolas-raoul commented on #3028
I confirm, it happens all the time.

[2019-06-20 17:30] nixxcode commented on #2968
@neslihanturan Hi there, is this issue still up for grabs for a newcomer?

I can see that some work was done under #2974, but that issue is still open, while this issue is still marked as open and unassigned.

Thank you.

[2019-06-20 20:51] xkomczax opened #3030 "Nearby map is not loading"
When I go to app -> click Nearby -> click the "+" button -> select camera icon -> take the picture and successfully proceed with upload, the map appears for a short while and then disappears (switching to Contributions and back to Nearby doesn't help). Instead, I see just the blue "loading screen", which keeps on running.
The "solution" is to kill the app and open again (sometimes I have to do it

[2019-06-20 21:37] neslihanturan commented on #2968
Please don't rely on labels directly. We sometimes forget changing them. The pull request looks good to me, possibly this issue will be solved after pull request is tested. So I would suggest checking for another issue. Sorry for the inconvenience.

[2019-06-21 02:06] nicolas-raoul commented on #3030
Thanks for the feedback! Does it happen all the time? What Android version and app version are you using? Thanks!

[2019-06-21 02:08] nicolas-raoul commented on #2968
@nixxcode Thanks, please let us know if you find any other mislabelled issue :-)

[2019-06-21 08:48] xkomczax commented on #3030
Hi Nicolas,
yes, it happens all the time.
Version 2.10.2 @ Android 9

[2019-06-21 08:54] misaochan commented on #3030
Hi @xkomczax , thanks for reporting this. The next time this happens, could you please go to Settings > Send Log File , and send us the email containing your logs? This would help us debug your problem.

Thanks so much!

[2019-06-21 08:59] nicolas-raoul opened #3031 "Test cases for captions & depictions"
# Manual tests
## Base test
1. Share a picture to the Commons app
2. Enter caption and description for 2 different languages
3. Press "Next"
4. The activity must now be depiction selection
5. Enter "bridge" in the search box
6. Check that several items are proposed, one having the description "_structure built to span physical obstacles_". Select that one.
7. Go to https://www.wikidata.org/wiki/Sp

[2019-06-21 12:14] nixxcode commented on #2968
My pleasure, glad I could help!

[2019-06-23 05:11] ashishkumar468 opened #3032 "Dialog not showing up."
**Summary:**

Dialogs are not showing up(sometimes) in the HomePage, because the parser says that the current dialog view already has a parent and adding it to another parent would require us to remove this dialog view from the existing parent.

**System logs:**

[code]

[2019-06-23 05:42] ashishkumar468 opened #3033 "App Crashes while selecting depicts"
**Summary:**

App crashes while selecting depicts

**System logs:**

[code]

[2019-06-23 10:43] ashishkumar468 commented on #3027
@misaochan  I tried manually calling the api's with ["Christchurch Botanic"](https://commons.wikimedia.org/w/api.php?aclimit=25&action=query&format=xml&list=allcategories&acprefix=Christchurch+Botanic), for which I get the response ```
<allcategories>
<c xml:space="preserve">Christchurch Botanic Gardens</c>
</allcategories>
[code]

<query>
<allcategories/>
</query>
</api>
[code]

[2019-06-23 15:21] xkomczax commented on #3030
Hi, I just send the email with the log file.

[2019-06-24 02:13] nicolas-raoul opened #3035 ""Copy previous caption & description" only works for second picture in set"
In a 4 pictures set.

At third picture, the button does nothing when pressed (even though caption&description of second picture is filled).

At fourth picture, the button does nothing when pressed (even though I filled manually the caption&description of the third picture).

[2019-06-24 02:57] nicolas-raoul commented on #3004
Related: #3035

[2019-06-24 03:09] nicolas-raoul commented on #1688
Reproduced again today (one year later!) on the GSoC 2019 branch, not sure if it is the same bug but it is the same symptom:
![adb-screenshot](https://user-images.githubusercontent.com/99590/59988970-07a4e600-9678-11e9-9e22-642a725c3903.png)
[logcat5.txt](https://github.com/commons-app/apps-android-commons/files/3319059/logcat5.txt)

[2019-06-24 09:06] misaochan commented on #3027
A recap of my conversation with Ashish: It actually looks like the first letter of the first word is not case-sensitive, but the others are. That would explain both my and @nicolas-raoul 's findings.

We are planning to look at the old category implementation (prior to the upload process overhaul) to see how this was handled previously, since this issue appears to be new (but to the best of our kn

[2019-06-24 09:17] misaochan commented on #3030
Thanks @xkomczax !

I managed to reproduce this issue - it only happens if I go to Contributions and then go back to the Nearby tab (staying in Nearby does not cause it).  @neslihanturan , Nearby seems to think that I am moving around the map, therefore it does not update.

My logs below:

[code]

[2019-06-24 09:23] misaochan commented on #3035
@nicolas-raoul , does this only happen in gsoc2019 branch, or also in the Play Store alpha (master)?

[2019-06-24 09:28] misaochan opened #3036 "Achievements does not load - blank page and "error occurred" toast [current master]"
**Summary:**

Every time I go into Achievements, it says "error occurred" and gives me a blank page. Logging out and in again does not fix the problem.

**System logs:**
[code]

**Device and Android version:**

Samsung Galaxy S9 Android 8.1

**Commons app version:**

Play Store alpha (current master)

[2019-06-24 09:30] neslihanturan commented on #3030
Thanks  for the logs @misaochan . But I think this should be solved by #2969 .

[2019-06-24 09:34] misaochan commented on #3030
Thanks @neslihanturan . How far is #2969 from being ready for testing?

[2019-06-24 09:46] misaochan opened #3037 "Author is not shown for Uploaded via Mobile tab in Explore [current master]"
**Summary:**

In the "Uploaded via Mobile" tab of Explore, the author isn't shown for some pictures. Interestingly, after you scroll down a lot and then go back up to the top, the author isn't shown for ALL pictures.

In Media Details View, the author field is empty, too.

This does not happen for Featured images at all.

![Screenshot_20190624-194111_Commons](https://user-images.githubusercontent.

[2019-06-24 09:57] neslihanturan opened #3038 "Some of the peer review functions does not work"
**Summary:**
This issue is introduced after #2937 is merged. Here is a brief explanation of problems in peer review.

| Operation  | Expectation | Reality |
| ------------- | ------------- | ------------- |
| Is this in scope - No, out of scope | Requests reason -> nominates for deletion with delete reason -> Brings first question with new image | Does nothing |
| Is this in scope - Seems fine  |

[2019-06-24 10:42] neslihanturan commented on #3030
As I mentioned on Zulip, I stuck at some point. I don't understand why my current approach is not working but today I will try other approaches randomly, to see if one of them will work or not. Because there is no point of insisting on current approach. So my optimistic prediction would be Friday @misaochan

[2019-06-24 11:40] #2918 closed

[2019-06-24 13:46] nicolas-raoul commented on #3035
Sorry I did not try on master.
Every bug I tag gsoc2019 is tested only on that particular branch.

[2019-06-25 03:19] charlygg commented on #2935
Hi,
I would like to contribute, I was reviewing the PR referenced to this issue and I have one question, Do you need fix all-capital string in java code?

[2019-06-25 06:33] neslihanturan commented on #2935
Hi @charlygg , thanks for your interest. Actually this issue is not for all capital strings. Ie. "FAQ" is all capital and should be all capital. Additionally this issue is only for strings located in strings.xml file. On the other hand I believe this issue is solved by previous pull request of @sherlockbeard . I am not sure why github didn't close this automatically. Please don't hesitate to ask y

[2019-06-25 06:36] neslihanturan commented on #2935
This ##3015 solves the issue.. Github didn't close this issue because pull reques't didn't followed our pull request template and didn't include issue link. Anyway, this one is solved.

[2019-06-25 08:24] maskaravivek commented on #3036
API is not returning a response for me

https://tools.wmflabs.org/urbanecmbot/commonsmisc/feedback.py?user=Maskaravivek

@urbanecm Would you be able to check this?

[2019-06-25 09:46] sherlockbeard commented on #2935
@neslihanturan #2999 was the pr for it . But i by mistake pushed some other change it . Then i closed that to start a fresh pr (about which i forgot due to my exams)  . So this issue still exists . I will send pr in 24 hours.

[2019-06-25 09:49] neslihanturan commented on #2935
Oh okay, sorry for the confusion. Please ping me when ready. I thought I merged your changes earlier though @sherlockbeard .

[2019-06-25 12:42] urbanecm commented on #3036
Looking...

[2019-06-25 12:47] urbanecm commented on #3036
Fixed.

[2019-06-25 12:48] maskaravivek commented on #3036
@urbanecm What was the issue?

[2019-06-25 12:55] urbanecm commented on #3036
@maskaravivek thanksRecieved took 8+ minutes, and according to https://lists.wikimedia.org/pipermail/cloud/2019-June/000689.html, it can be optimalized by filtering by log_namespace. Fixed with commons-app/commonsmisc@2b5cc1ab4949d193675659aec48585ae7c39df1d.

[2019-06-25 12:57] maskaravivek commented on #3036
Works for me now. Thanks for your quick optimization @urbanecm :)

[2019-06-25 12:57] #3036 closed

[2019-06-26 14:06] #2935 closed

[2019-06-26 16:16] #3038 closed

[2019-06-26 17:32] ashishkumar468 commented on #3029
Hi @misaochan , I just tried to upload an image on the current master prodDebug, and I was able to see the GPS based categories as well, attaching the api response for categories with Gps coordinates
Attaching the screenshot for the same.
![device-2019-06-26-225751](https://user-images.githubusercontent.com/17375274/60201588-384a7280-9866-11e9-9ee9-ad23bb7816dc.png)

Can you confirm that the versi

[2019-06-27 09:10] neslihanturan commented on #3029
I tested images from here: https://github.com/ianare/exif-samples/tree/master/jpg/gps . I used DSCN0010.jpg and DSCN0042.jpg from the list. I confirmed that they have GPS EXIF:
![Screenshot from 2019-06-27 12-05-25](https://user-images.githubusercontent.com/3127881/60253071-230c2d00-98d4-11e9-8b36-c4ac43f9d12c.png)
![Screenshot from 2019-06-27 12-04-57](https://user-images.githubusercontent.com/31

[2019-06-29 11:53] vanshikaarora commented on #3035
@nicolas-raoul @misaochan I have fixed the issue [here](https://github.com/commons-app/apps-android-commons/tree/f7c675856bd92e307ba1c88ec27b7e349dbc9d21) . Please check :)

[2019-06-29 12:02] nicolas-raoul commented on #3035
Great, it works now, thanks for fixing! :-)

[2019-06-29 12:02] #3035 closed

[2019-06-29 13:07] vanshikaarora commented on #3033
Fixed the issue in the latest [commit](https://github.com/commons-app/apps-android-commons/pull/2970/commits/4a6bb78a9d0339fa4764a53a8f85e59db1b552a4)

[2019-06-29 15:06] vanshikaarora commented on #3005
@nicolas-raoul here i see:

[code]

that we are trying to match with the apps language, so instead of searching in nearbyfragment, shall i use the devices locale as caption's language

[2019-06-29 15:35] nicolas-raoul commented on #3005
Yes, you can do that.
It is not ideal, but anyway we can't make that feature perfect until #2663 is implemented, so using the device's language is good enough for now.

[2019-06-29 17:15] vanshikaarora commented on #3005
OK I'll try this out

[2019-06-29 17:54] vanshikaarora commented on #3005
@nicolas-raoul I have resolved the issue [here](https://github.com/commons-app/apps-android-commons/pull/2970/commits/cbd52ec460ae744ad62d09134fffa79cb582dcfb). Please check:)

[2019-06-29 18:05] vanshikaarora commented on #2984
@nicolas-raoul I am not able to reproduce the issue. Does the issue still persist?

[2019-06-30 03:10] nicolas-raoul commented on #3005
Unfortunately the issue is still present.

[2019-06-30 03:11] #3033 closed

[2019-06-30 08:10] nicolas-raoul opened #3044 "[GSoC 2019] Upload not performed"
Latest branch as of now.

**Steps to reproduce:**

1. Upload a picture
2. After the license step, the app suddenly closes, unexpectedly
3. Pictures is not uploaded, as seen at https://commons.wikimedia.org/wiki/Special:Contributions/Aroravanshika or equivalent

[2019-06-30 18:31] ashishkumar468 opened #3045 "Refactor Contributions"
* Use RecyclerView in ContributionsListFragment
* Switch to MVP

[2019-07-02 04:18] ashishkumar468 opened #3048 "IllegalStateException while fetching uploadCount in OkHttpJsonApiClient"
**Summary:**
Fetching upload count fails throwing exception mentioned in the below logs

**System logs:**

[code]

**Commons app version:**

Current master

**Would you like to work on the issue?**
Yes

[2019-07-02 04:23] nicolas-raoul commented on #75
There is a pre-built APK at https://github.com/tensorflow/tensorflow/tree/master/tensorflow/examples/android#bazel
I just tried it, the app itself is rather buggy, but when it works it is super-fast and not too bad at recognizing things, I mean the 3 first guesses contains the depicted object 50% of the time, so showing them as suggestions would be helpful.
The APK is 23 MB unfortunately.

[2019-07-02 08:17] maskaravivek commented on #75
I would take a look at this and hopefully, we can incorporate this in the app for category suggestions and later maybe to suggest depicts for Wikidata.

[2019-07-02 09:43] nicolas-raoul commented on #75
Most image classification implementations output WordNet 3.0 concepts.

I just wrote [this query that shows the mapping between WordNet concepts, Wikidata items, and Commons categories](https://query.wikidata.org/#SELECT%0A%20%20%3FwordNetURI%0A%20%20%3FwikidataItem%0A%20%20%3FwikidataItemLabel%0A%20%20%3FcommonsCategory%0AWHERE%20%7B%0A%20%20%3FwikidataItem%20wdt%3AP2888%20%3FwordNetURI.%0A%20%20

[2019-07-02 10:15] neslihanturan opened #3050 "Remove hard coded strngs in delete helper"
**Summary:**
Delete reasons are hardcoded, they should go into strings.xml file.

[2019-07-02 11:12] PavelAplevich commented on #3050
I will work on it

[2019-07-02 11:16] neslihanturan commented on #3050
I created this issue to link the pull request you have already sent. So after merging your PR, this will be closed. So I created this issue just to keep our repository structured.

[2019-07-02 11:20] #3050 closed

[2019-07-02 12:35] Opsylac opened #3051 "Upload fails"
**Summary:**

I cannot upload new files.

**Steps**

I am on the french version of the app.
I upload a file, enter name, description, categories, licence. Click submit.
The loading bar charges...
Then it says " failed" ("échoué").
The image does not appear, there is only a grey image icon flashing.

**Device and Android version:**

Mobile : Fairphone 2 (FP2)
Android version : 7.1.2

**Commons app

[2019-07-02 12:37] neslihanturan commented on #3051
Hi @Opsylac , thanks a lot for your report. Currently we are working to fix this issue. For a temporary solution you can try logging out and in again, sometimes this helps. For permanent solution please stay tuned, it will be available soon.

[2019-07-02 12:55] Opsylac commented on #3051
Great, thank you for answering so fast!
And thank you for working on this.

[2019-07-03 18:03] ashishkumar468 commented on #3028
I was trying to fix this issue, seems like the local URI which we have while uploading an image is not an actual path of the image, its the one provided by the content provider for temporarily accessing the input stream and my guess is that it does not support concurrent access(while the upload is going on the image is not loaded). The best solution I could come temporarily is to show a place hold

[2019-07-03 20:26] neslihanturan commented on #3028
@ashishkumar468 Place holder image seems like a good idea to me.

But what I did not understand this issue is recently happened. How come it was working previously?

[2019-07-03 20:28] ashishkumar468 commented on #3028
@neslihanturan , You mean the correct image was being shown while the image was being uploaded ?

[2019-07-03 20:34] neslihanturan commented on #3028
Yes @ashishkumar468

[2019-07-03 21:08] ashishkumar468 commented on #3028
Do you mean the current master @neslihanturan , I just downloaded the app from play store, seems like even in this version, we just show a  place holder image while the upload is going on and then just after the upload finishes, we show the actual image. Attaching the relevant gif file
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/17375274/60625210-b8438000-9e04-11e9-9bf0-9fd

[2019-07-04 04:59] nicolas-raoul commented on #3028
Placeholder is OK for me. It is definitely better than showing the wrong image.

[2019-07-04 07:24] neslihanturan commented on #3028
Thanks for the gif @ashishkumar468 , I was trying to say not in current master but there was a time upload preview was working. Anyway, I think everyone agrees and we go with placeholder solution.

[2019-07-04 07:27] ashishkumar468 commented on #3028
I just edited my comment, I meant the current prod app live on google play store. @neslihanturan  :-), I will still try to figure out if we can somehow show the actual image while upload, worst cases will show the place holder

[2019-07-04 08:34] misaochan commented on #3028
Placeholder is fine in my book as long as it updates to the correct image after the upload is complete.

@neslihanturan I think it might be caused by changes that we made to the way we handle file paths in the last several months, to prevent certain crashes and failures that we were experiencing.

[2019-07-04 09:05] neslihanturan commented on #3028
I suspected the same @misaochan , but such a obvious bug would be reported on pull request tests for sure. But definitely related with those changes.

[2019-07-04 12:17] ilgazer commented on #74
Do we want to prevent people from submitting normal portraits? If we don't, how could we distinguish between a portrait and a selfie using the FaceDetector API?

[2019-07-04 13:18] nicolas-raoul commented on #74
@ilgazer The goal is never to _prevent_ people from uploading, but rather showing a warning.
I can make the difference between a selfie and a portrait. For the instance the size and proportions of the face, the proximity of a shoulder or an arm extended towards the camera, are sure signs that a picture is a selfie rather than a portrait. I expect a computer might be able to tell the difference as

[2019-07-04 16:18] ilgazer commented on #1898
Can't we retrieve the focal length data from [https://developer.android.com/reference/android/hardware/camera2/CameraCharacteristics Android SDK Camera2 API]?

[2019-07-04 16:20] ilgazer commented on #3026
Can I help with this or should I refrain from doing grant tasks?

[2019-07-04 16:37] maskaravivek commented on #3026
You are most welcome to contribute. Our grant doesn't define the APIs specifically and given that we are supposed to overhaul the entire app, some help would be great. :)

You can pick any of the pending APIs. I have updated the comment to reflect which ones have a PR raised already. You can pick from the remaining ones.

It would be best to pick just 1 API at a time and raise a PR for it separate

[2019-07-04 16:40] ilgazer commented on #3026
That's nice to hear!

[2019-07-04 17:22] KINGRANDOLPH commented on #3026
Katrina.TU chat

On Jul 4, 2019 11:40 AM, Ilgaz Er <notifications@github.com> wrote:

That's nice to hear!

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub<https://github.com/commons-app/apps-android-commons/issues/3026?email_source=notifications&email_token=AJI7XQD3FL3MCQ7FO6BQ5X3P5YRW5A5CNFSM4HYXQMD2YY3PNVWWK3TUL52HS4DFVREXG43VM

[2019-07-05 02:04] nicolas-raoul commented on #1898
@ilgazer For pictures taken within the app, probably. But I guess this API can not be used for pictures found in the gallery, right?

[2019-07-05 07:33] ilgazer commented on #1898
The api just gives us the camera specs. So we wouldn’t be able to detect
selfies taken from that phone but not selfies taken from another phone.

5 Temmuz 2019 Cuma tarihinde Nicolas Raoul <notifications@github.com> yazdı:

[2019-07-05 07:51] nicolas-raoul commented on #1898
That API only gives you the available focal lengthes of the camera, right? It does not say _what focal length was actually used_ to create 4352.JPG even if 4352.JPG has been shot on the same phone.

[2019-07-05 18:55] ilgazer commented on #3026
I also completed searchCategory :)

[2019-07-06 16:54] vanshikaarora commented on #3044
Hey @nicolas-raoul this issue is fixed in the commit https://github.com/vanshikaarora/apps-android-commons/commit/e8db428b56406ab2df00f837c81308fe0df12fb1 . Please check if it works for you :)

[2019-07-06 16:59] vanshikaarora commented on #3005
@nicolas-raoul this issue is fixed for me in the commit https://github.com/vanshikaarora/apps-android-commons/commit/59ac10959ba7723dfd368d074cce3ac3df5beac7 .  In case if the issue still persist for you we can try using `place.label` instead of `place.name`. Can you please check :)

[2019-07-07 01:46] #3044 closed

[2019-07-07 02:34] nicolas-raoul commented on #3005
I just tried the latest upload_caption_depict and unfortunately the caption is not set:
https://commons.wikimedia.org/wiki/File:Shark_fins,_abalone,_birds%27_nests.jpeg

[2019-07-07 05:24] vanshikaarora commented on #3005
I'll look into the issue again:)

[2019-07-07 07:24] #3045 closed

[2019-07-07 20:15] #3048 closed

[2019-07-08 06:38] PavelAplevich opened #3058 "Achivements doesn't work"
I can't open achivements in my phone Redmi4x API 25 and emulator Nexus One API 22.
I see this..
![Screenshot_1562567325](https://user-images.githubusercontent.com/52326878/60787699-5e73ea80-a163-11e9-8c82-a9270ff46aac.png)

Then this..
![Screenshot_1562567288](https://user-images.githubusercontent.com/52326878/60787724-6c297000-a163-11e9-8a79-b4dd76323127.png)

On my phone the situation is similar

[2019-07-08 06:57] nicolas-raoul commented on #3058
I believe this was fixed a few hours ago :-)
Could you please:
1. [Install the alpha version](https://github.com/commons-app/apps-android-commons/wiki/Volunteers-welcome%21#how-to-install-the-alpha)
2. Let us know whether that solve the issue
Thanks for your feedback!

[2019-07-08 08:26] PavelAplevich commented on #3058
I fork repo and run it in my AndroidStudio. I run 2.11 rep and master rep. I have error in this rep.

I understand that achievements work on earlier versions? Or I did not understand you correctly?(

[2019-07-08 08:28] nicolas-raoul commented on #3058
It used to work, then broke, then the latest commit in master is supposed to fix this, if I understand correctly.
Could you please post a screenshot of your About screen? :-)

[2019-07-08 08:41] misaochan commented on #3026
Added suggested test flows - if anyone wants to help with testing, we would greatly appreciate that, as more eyes are better. :) I will start testing soon.

[2019-07-08 08:41] PavelAplevich commented on #3058
![Screenshot_1562575157](https://user-images.githubusercontent.com/52326878/60795809-0ba32e80-a175-11e9-9d51-878f9305c535.png)

This my about on emulator Nexus One. On real phone Redmi4x analogically

[2019-07-08 08:48] nicolas-raoul commented on #3058
If you were using the latest commit of the master repository, the number at the end of the version string should be fe540eb

Also, at https://github.com/PavelAplevich/apps-android-commons I see "This branch is 15 commits ahead, 4 commits behind commons-app:master"

So I guess you need to "git rebase" from the master repository.

Would you mind trying? Thanks! :-)

[2019-07-08 11:03] PavelAplevich commented on #3058
I do this steps:
1. Delete my repo and delete project in Android Studio and Git.
2. Fork commons-app and pull in Git.
3. Run Android Studio
4. Run emulator Nexus One API 22 and see this  <1 second.
![Screenshot_1562583515](https://user-images.githubusercontent.com/52326878/60805483-e4565c80-a188-11e9-9cf0-ebfccc2365cb.png)
5. Then i see this
![Screenshot_1562583480](https://user-images.githubuserc

[2019-07-08 11:28] nicolas-raoul commented on #3058
You have the correct version now, and it seems that you have discovered a new bug haha :-)
To be sure, please go to the Android settings, delete all data of the Commons app, then try opening it again. If it crashes, please create a new issue.
Thanks a lot!

[2019-07-08 11:32] neslihanturan commented on #3058
Hi @PavelAplevich , I think your previous reported error can be related with previous version of the app as @nicolas-raoul reported. And by checking the log it seemed to me lke a API<19 related error, should be about using vector drawables on old versions.

But according to your latest screenshoot you discovered a new bug too. Can you please paste new logs of your latest build here? The about page

[2019-07-08 11:33] neslihanturan commented on #3058
Please make sure you cleaned logcat before test, just to make sure we get log of up to date version, thanks for discovering though @PavelAplevich !

[2019-07-08 12:04] PavelAplevich commented on #3058
**And problem still here. I have this About menu**
![Screenshot_1562583496](https://user-images.githubusercontent.com/52326878/60808123-364eb080-a190-11e9-99dd-2cdae63467b9.png)
**But after a second i see this**
![Screenshot_1562583480](https://user-images.githubusercontent.com/52326878/60808209-5ed6aa80-a190-11e9-899b-6e0afe8fe440.png)

**I run app on emulator Nexus One API 22 and real phone Redm

[2019-07-08 12:35] PavelAplevich commented on #3058
**UPD**

Issue #2940 still here, but Review activity send error before ~1sec, too
![Screenshot_1562589206](https://user-images.githubusercontent.com/52326878/60810509-fdb1d580-a195-11e9-8fc4-fc5a82726e55.png)

[2019-07-09 07:51] neslihanturan opened #3060 "Peer review error"
**Summary:**
This issue is reported and will be filled by @PavelAplevich

**Steps to reproduce:**

How can we reproduce the issue?
What did you expect the app to do, and what did you see instead?

**System logs:**

[code]

**Device and Android version:**

What make and model device (e.g., Samsung J7) did you encounter this on?
What Android version (e.g., Android 4.0 Ice Cream Sandwich or Android 6

[2019-07-09 07:53] neslihanturan commented on #3058
Hi @PavelAplevich , separate issues for each different issue would be a better for all to follow. I think the one about Peer review is a different issue.

I will share what I understand, can you please verify if correct. When you click to achievements activity on current master, you see this error right?
[code]

I wanted to make sure and asking this because this log seems like related with **contr

[2019-07-09 08:18] PavelAplevich commented on #3058
**@neslihanturan I think this problem has one reason for all Activity. And I just noticed that i lot out from my profile, app doesn't crash anytime and working correctly.
I can give you logs of all Activity which you want**

[2019-07-09 08:19] neslihanturan commented on #3058
Can you try login again and see if it works for you @PavelAplevich ?

[2019-07-09 08:21] PavelAplevich commented on #3058
**I try and my logcat if i go to About write this:**

 --------- beginning of system
07-09 11:20:28.458 17708-17708/fr.free.nrw.commons.beta I/AppCompatViewInflater: app:theme is now deprecated. Please move to using android:theme instead.
07-09 11:20:29.386 17708-17708/fr.free.nrw.commons.beta D/AndroidRuntime: Shutting down VM
07-09 11:20:29.387 17708-17708/fr.free.nrw.commons.beta E/ACRA: ACRA c

[2019-07-09 08:25] neslihanturan commented on #3058
Maybe leaving the contributions fragment causes this, because it is not expected to have a very obvious bug on each activities. What do you say @ashishkumar468 ? Can this be related with latest contributions changes?

[2019-07-09 08:27] PavelAplevich commented on #3058
**I give you another logcat from real device. I hope this help you**

--------- beginning of crash
2019-07-09 11:25:17.416 13854-13854/fr.free.nrw.commons.beta E/AndroidRuntime: FATAL EXCEPTION: main
    Process: fr.free.nrw.commons.beta, PID: 13854
    java.lang.NullPointerException: Attempt to invoke virtual method 'android.net.Uri fr.free.nrw.commons.contributions.Contribution.getContentUri()'

[2019-07-09 08:28] neslihanturan commented on #3058
Hi @PavelAplevich , how did yo produce the latest logcat, what were you doing with the app?

[2019-07-09 08:29] PavelAplevich commented on #3058
Analogical. I go to About and app crash

[2019-07-09 08:39] PavelAplevich commented on #3058
UPD!
If I minimize application app crash instantly. Maybe problem with life cycle? In onPause or onStop?

[2019-07-09 08:40] neslihanturan commented on #3058
Yes, I thought the same. Lets see what @ashishkumar468 will say, he recently worked on related area.

[2019-07-09 11:45] #3060 closed

[2019-07-09 12:54] ashishkumar468 opened #3061 "App crashes in ContributionListFragment"
**System logs:**

[code]

[2019-07-09 13:12] PavelAplevich commented on #3058
I reset down to commit #3046 and app works correctly. As I undestand, problem in this commit #3046

[2019-07-10 03:28] PavelAplevich commented on #3058
#3062 solved this issue

[2019-07-10 09:10] #3061 closed

[2019-07-10 09:12] #3058 closed

[2019-07-10 13:37] misaochan commented on #3026
Does the `backend-overhaul` branch work for anyone else at the moment? After logging in I cannot even test any of the upload flows, because my main screen is completely empty (as in, there isn't even the upload FAB, lol).

I submitted logs to the forum, will check them and hopefully find the problem.

[2019-07-10 13:43] maskaravivek commented on #3026
@misaochan Can you test on a clean install?

[2019-07-10 13:44] misaochan commented on #3026
@maskaravivek This is a clean install.

[2019-07-10 21:53] neslihanturan commented on #3026
Beta debug, API 26 emulator
-I was already logged in an uploaded an image successfully. But having no progressbar during upload seemed a little weird. I checked uploaded image page, everything seemed well to me.
Then I logged out and in, what I see is same with @misaochan :
![Screenshot from 2019-07-11 00-45-37](https://user-images.githubusercontent.com/3127881/61007612-ea5d6080-a375-11e9-8b2e-eec

[2019-07-11 11:44] misaochan commented on #3026
BTW, I also realized that we cannot rely on users doing a fresh install - most users will just be updating their app automatically, not uninstalling and reinstalling. So we must make sure that our final solution works regardless of fresh install or not.

[2019-07-12 11:29] misaochan commented on #923
It seems that this query is failing as of today, https://quarry.wmflabs.org/query/37548 says `Unknown column 'rev_user_text' in 'field list'`.

@urbanecm Would it be possible for you to help with this? I am trying to get the number of p18 edits for our IEG's final report. Thanks so much! :)

[2019-07-12 11:43] urbanecm commented on #923
Certainly, that's another schema change (the actor migration). Use something like this instead:

[code]

[2019-07-13 08:43] misaochan commented on #923
Thank you! Works now, we have 725 p18 edits! :)

[2019-07-13 08:48] misaochan commented on #923
@urbanecm Hmm, there is another issue - it looks like edits to the same page title count multiple times, for instance Q32110705 is present in 2 rows, so we can't just use the number of rows as our metric. Do you know if it's possible to only count the unique page titles?

[2019-07-13 09:04] nicolas-raoul commented on #923
@misaochan With unique page titles: https://quarry.wmflabs.org/query/37568

[2019-07-13 10:15] urbanecm commented on #923
@misaochan Seems you have what you wanted? :-)

[2019-07-13 13:08] neslihanturan opened #3066 "Error on updating mapbox map"
**Summary:**

Hi all, currently our mapbox is not up to date, but I am facing with some issues when I try update it.

**Steps to reproduce:**

We have these two lines at build gradle:
[code]
And I change them with these two:
[code]
Sync is successful, however it complains about  some kotlin issues on run:
![image](https://user-images.githubusercontent.com/3127881/61172010-c709ff80-a587-11e9-8e0d-a

[2019-07-13 15:08] neslihanturan opened #3067 "OnMapReady callback is never called issue"
**Summary:**

Hi all, currently I am working on #2969 to implement MVP architecture on our nearby classes. After digging the classes I recognized there are some unnecessary calls which needs to be fixed. In current master implementation NearbyFragment.populatePlaces method is being called before nearbyMapReady callback. And populate places method tries to operate a null (non ready yet) mapboxMap.

[2019-07-13 15:09] misaochan commented on #923
Woo, thanks guys! :)

[2019-07-13 16:57] VojtechDostal commented on #923
Also we seem to have edits from all continents except Antarctis :)

https://query.wikidata.org/#%23defaultView%3AMap%0Aselect%20%3Fitem%20%3FitemLabel%20%3Fcoord%20where%20%7B%0A%0A%3Fitem%20wdt%3AP625%20%3Fcoord%20.%0ASERVICE%20wikibase%3Alabel%20%7B%20bd%3AserviceParam%20wikibase%3Alanguage%20%22%5BAUTO_LANGUAGE%5D%2Cen%22.%20%7D%0A%20%20%0Avalues%20%3Fitem%20%7B%0A%0Awd%3AQ56648964%0Awd%3AQ5663

[2019-07-13 17:08] maskaravivek commented on #3066
@neslihanturan is retrofit dependency added in the gradle file? Can I see the code somewhere?

[2019-07-14 07:53] ashishkumar468 opened #3070 "Remove SyncService and SyncAdapter"
**Summary:**

The app uses SyncService and SyncAdapter which does nothing but makes the api call and saves the data in db, the same can be done from the Activity as well. The Sync service is useful only when our backend supports that(send us data letting us know that do we need to sync), or if we use periodic syncs. As currently our app uses none of them. We can simply shift to making the api call

[2019-07-14 07:54] ashishkumar468 commented on #3070
Would be great if @misaochan @maskaravivek @neslihanturan  could share your views :-)

[2019-07-14 18:29] neslihanturan commented on #3066
Sure @maskaravivek , I created a branch on my fork: https://github.com/neslihanturan/apps-android-commons/tree/updateMapbox

[2019-07-15 04:55] maskaravivek commented on #3066
@neslihanturan Can you check the migration guide. Earlier we were using 6.X version and now we are changing it to 8.1. There are some migration steps that need to be followed when migration from 6.X.

https://github.com/mapbox/mapbox-gl-native/wiki/Android-6.x-to-7.x-migration-guide

Also, as described [here](https://docs.mapbox.com/android/maps/overview/), you might have to exclude some conflicti

[2019-07-15 12:20] VojtechDostal commented on #3021
I hear this as a regular complaint from more experienced app users. However, as @nicolas-raoul says, I can imagine the horrible mess that we'll cause if we unlock such feature to all users.

[2019-07-15 16:08] misaochan commented on #3070
Would we not need to do periodic syncs once we implement the ability to pause/resume uploads?

[2019-07-15 16:46] maskaravivek commented on #3070
[Sync adapter](https://developer.android.com/training/sync-adapters/creating-sync-adapter) is mostly used when you want to schedule periodic syncs in the background. Our sync adapter does nothing of that sort. It simply triggers sync when MainActivity is opened. Since we don't intend to perform background syncs `SyncAdapter` is just an overhead. A simple API call would be enough.

As far as pause/

[2019-07-15 17:14] maskaravivek opened #3073 "delete branch bot deleted master branch"
The delete branch bot deleted the master branch when this PR was merged #3072.

<img width="747" alt="Screen Shot 2019-07-15 at 10 39 07 PM" src="https://user-images.githubusercontent.com/3069373/61234936-f2d8e100-a751-11e9-862e-db953b17ae58.png">

We should disable the plugin or maybe configure it to protect some branches. Anyways we are safe as I have a local copy of the latest master.

[2019-07-15 17:22] ashishkumar468 commented on #3070
Also, the sync adapter as of now is meant to sync contributions and takes no part in upload. The Upload is happening from a separate service  (UploadService), which will be modified along with others to support Pause/Resume.

[2019-07-15 17:35] misaochan commented on #3073
Bot uninstalled until we get config up.

[2019-07-15 19:48] maskaravivek opened #3074 "Trouble while making authenticated cross wiki calls"
All of the authenticated calls(ie login, upload, nomination for deletion, thank, notifications etc) made to commons wiki is working perfectly. I am stuck with a cross-wiki call to Wikidata. I am trying to call `Service:wbcreateclaim` to create a claim on Wikidata but the call is failing. I have attached the relevant logs below.

@dbrant It would be great if you could take a look at the logs and su

[2019-07-16 09:06] misaochan commented on #3026
Tested with real device running Android 8.1 today.

Successes:
- Contributions and the FAB etc loads now! 👍
- Single upload from Gallery succeeded - https://commons.wikimedia.org/wiki/File:Mushroom_chicken_tea_broth.jpg. Category selection works as expected. Author, license, etc is correct.
- Multiple uploads with Google Photos succeeded. This one seems to have the dates correct - https://commons.

[2019-07-16 13:19] neslihanturan commented on #3026
For me, similar to @misaochan 's. Achievements is blank screen:
![Screenshot from 2019-07-16 16-13-12](https://user-images.githubusercontent.com/3127881/61297435-ebaee300-a7e4-11e9-98a8-a3827642b9b0.png)

- Contributions loads this time.
- Uploads works.
- Potential upload issue warnings displayed.
- Nearest place notification permission is requested after selecting nearby tab and coming back to c

[2019-07-16 14:31] #3073 closed

[2019-07-16 16:29] albendz commented on #3032
I'm going to take a look at this and see what I can find or fix

[2019-07-16 16:29] ashishkumar468 commented on #3032
Thanks for taking this up @albendz  :-)

[2019-07-16 16:33] neslihanturan commented on #3066
Hi @maskaravivek , I have followed docs but I think we are okay according to migration guide.
Our dependency tree when we try to update it to version 8 as:
[code]
 is:
[code]
Sync is succeed but it gives this error on build:
![image](https://user-images.githubusercontent.com/3127881/61310783-a77c0c80-a7fd-11e9-8058-8899921dcb85.png)
Logs doesn't mean much, there is nothing related with retrofit.

[2019-07-17 01:58] albendz commented on #3032
Repro steps for this (one path of many):

1. Disable location permissions
2. Open app and you should see a dialog requesting location permissions
![Capture](https://user-images.githubusercontent.com/12453997/61341552-a518b300-a7fb-11e9-97e8-5e06d54467fa.JPG)

3. Dismiss the app without closing it (hit the home button) with the dialog still open
4. Open app again and you'll see this error log (same

[2019-07-17 07:44] nicolas-raoul opened #3076 ""No depictions selected" despite one selected"
![Screenshot_20190717-131311_Commons](https://user-images.githubusercontent.com/99590/61356698-de135f00-a8b1-11e9-8b4e-f0dad7aea975.jpg)
@vanshikaarora

[2019-07-17 07:45] vanshikaarora commented on #3076
I'll look into this

[2019-07-17 07:47] nicolas-raoul opened #3077 "Hide disambiguation items from depiction search"
This first item is a disambiguation item, it should not be shown:
![Screenshot from 2019-08-28 12-09-18](https://user-images.githubusercontent.com/99590/63823004-39467000-c98d-11e9-8532-79605f65dd2b.png)
There are other kinds of "technical" items that probably should not be shown either, for instance Wikimedia categories like https://www.wikidata.org/wiki/Q32415105

[2019-07-17 07:51] ashishkumar468 commented on #3077
@nicolas-raoul Do we have any property which explicitly specifies that this item is a disambiguation item or do we have to go by text ?

[2019-07-17 07:56] nicolas-raoul commented on #3077
We must rely on the P31 (instance of) statement.
Please note that this is a long-term enhancement, not in scope of GSoC 2019.
Anyone feel free to implement it :-)
I am not sure what is the best approach, if possible modifying the search query would be the most efficient, but it might not be possible.

[2019-07-17 10:10] misaochan opened #3078 "Issue with collecting stats needed for IEG final report"
After 2.11 is released (very soon), I will need to collect the final metrics of success for our last IEG. There are two metrics remaining to be collected:

- Less than 10% of images uploaded via the app are unusable (deleted)
- Overwrite incidents are reduced to <0.5% of all uploads

Normally we use https://github.com/whym/commons-app-stats for this, however, it has been broken for the last month+

[2019-07-17 11:30] neslihanturan commented on #3066
Latest progress, I am able to update it up to 7.2.0 but problems starts at 7.3.0. Additionally updating it to 7.2.0 didn't fixed #3067 issue.

[2019-07-17 11:41] nicolas-raoul commented on #3078
I see SQL requests from that line: https://github.com/whym/commons-app-stats/blob/master/local/bin/plot_batch.py#L36

Maybe it is possible to run it from the SQL web interface we used the other day? And add a `COUNT(` at the right place?

[2019-07-18 12:30] koala0090 commented on #2369
I think this problem wasn't closed yet. I would like to report the same problem. Not only the title would be erased, but all the data you filled in.

[2019-07-18 12:44] nicolas-raoul commented on #2369
@koala0090 Are you using the alpha version? Could you please post a screenshot of your About screen?

[2019-07-18 13:39] koala0090 commented on #2369
@nicolas-raoul Sure, thanks for you reply.
http://imgur.com/gallery/D7sjRpn

[2019-07-18 19:52] ashishkumar468 commented on #3024
@misaochan We don't need to cherry-pick #3062 from master, the crash was because of some changes in master which are not there in 2.11. Can one of you guys @maskaravivek @neslihanturan please confirm ?

[2019-07-19 08:52] neslihanturan commented on #3024
You are right @ashishkumar468 if your refactor of contributions fragment is not in 2.11, then no need for #3062 too.

[2019-07-21 13:52] misaochan commented on #3024
@ashishkumar468 as you were the one who reported the bug, I trust you know where it was from (but next time follow the issue template and mention the app version! ;)). Thanks for the heads up, I have removed the item from the checklist.

2.11 should be out soon, hooray!

[2019-07-21 14:12] #3027 closed

[2019-07-21 14:20] vanshikaarora commented on #3077
Since disambiguation responses are noticed here, this must also be prevelant on the Commons Website. Right?. Shouldn't the we modify the APIs to remove disambiguation item from the backend itself?

[2019-07-21 14:26] vanshikaarora commented on #3007
@nicolas-raoul I noticed this Issue too.
Should we just add a single line below "Images via Nearby Places" which says [Tap here for more info], if  this makes the layout a little crowded then may be reducing the font size might me an option. What do you say?

[2019-07-21 14:43] vanshikaarora commented on #2889
This issue seems to be inactive since long. I would like to work on writing Unit tests. @maskaravivek @nicolas-raoul @domdomegg. Can you please list down some Unit tests for About Activity

[2019-07-22 03:25] nicolas-raoul commented on #3077
@vanshikaarora That's an idea indeed. I guess many other apps need an API search method that returns only "real-world" items.

This issue is not marked with the "gsoc2019" label, which means you don't need to worry about it (it is out of scope), but thanks for your insight! :-)

[2019-07-22 03:34] nicolas-raoul commented on #3007
@vanshikaarora Some languages take more space than others, for instance I am sure French will not fit even if we make the font smaller. The best solution would be to make sure that the text AND the (i) wrap nicely when it is too long.

[2019-07-22 03:38] nicolas-raoul commented on #2889
- Open About. Make sure the version shown is the real version of the APK. Make sure that the commit number is the real commit number (might be difficult to make that a unit test though)
- Click on each link, make sure a browser opens to the right page (also difficult to make as a unit test I guess)

[2019-07-22 07:07] nicolas-raoul commented on #3076
This is still happening, did you try to reproduce it an fix it?

[2019-07-22 07:41] nicolas-raoul commented on #2525
@vanshikaarora This needs to be implemented. It is the most important part of the GSoC to make the app more localized :-)

How to reproduce:

1. Set Android language to English or French or Japanese
2. Open the app
3. Tap "Explore"
4. Tap the search icon
5. Enter "tantanmen"
6. Scroll until you see this picture: https://commons.wikimedia.org/wiki/File:Tantanmen.jpeg

Expected: The app labels the p

[2019-07-22 08:26] vanshikaarora commented on #2525
@nicolas-raoul I am currently working on this :)

[2019-07-22 08:34] vanshikaarora commented on #3076
@nicolas-raoul I tried to work upon this. Actually the Issue is, when you click on the checkbox it shows not item selected however when you click on the depiction item(the text or description) it works perfectly.

The Issuue is it considers only the text and description item in it's root view and not the checkbox. I am still not able to figure out why the entire `layout_upload_depicts_item.xml` as

[2019-07-22 08:51] nicolas-raoul commented on #3076
Are the correct "Q___" items passed to the method that uploads depictions?
If yes, how about using checking whether the list of items is empty, rather than checking the UI? :-)

[2019-07-22 09:41] vanshikaarora commented on #3076
@nicolas-raoul yes the "Q____" items are passed when you click on the label or description nut are empty on clicking the check box

[2019-07-22 09:46] nicolas-raoul commented on #3076
I am sure that pressing the checkbox works for _categories_. Please compare the two in debug mode, thanks :-)

[2019-07-22 17:32] ilgazer commented on #1131
Can this issue be closed?

[2019-07-22 19:31] ilgazer commented on #3026
Can you also update the list?

[2019-07-22 21:48] albendz commented on #3032
The view that is throwing the exception is the customView being sent to the DialogUtils.showAlertDialog. This happens for onResume because Dialog1 (the dialog created before suspend) has the customView and a new dialog Dialog2 (the dialog created after suspend) uses the same customView (who already has Dialog1 as a parent).

A few options I'm considering:

- Dismiss alert dialogs on suspend becaus

[2019-07-23 05:20] ashishkumar468 commented on #3032
Figure out if a dialog has already been created and don't create another on resume

These two will required considerable changes, the DialogUtils are used from many places. The third option would solve the issue for now and IMO we can create another issue to refactor the DialogUtils to make sure multiple instances are not created.

[2019-07-23 08:26] ilgazer commented on #3026
These are both waiting for wikimedia-android-data-client PR's
- logEvents -> [wikimedia/wikimedia-android-data-client#22](https://github.com/wikimedia/wikimedia-android-data-client/pull/22)
- isUserBlockedFromCommons -> [wikimedia/wikimedia-android-data-client#23](https://github.com/wikimedia/wikimedia-android-data-client/pull/23)

[2019-07-23 10:19] ilgazer opened #3082 "Do we use ModificationsSyncAdapter for anything?"

[2019-07-23 12:05] #3082 closed

[2019-07-23 12:05] nicolas-raoul opened #3083 "Use MID (Wikibase identifiers) or pageid instead of title (filenames) everywhere in the app"
In the app, we use media identifiers at various places, for instance in the gallery/etc. We even store some, in the cache and in the bookmarks.

Commons titles (for instance `Moissac-Bellevue Ruines d’un moulin à blé.JPG`) are bad as identifiers because:
- They can be very long
- They can be in very strange alphabets or contain weird characters that trigger bugs when going through various protocol

[2019-07-23 16:09] thetimeheist76 commented on #2940
I am a beginner and if this issue is still open, I would like to work on it.

[2019-07-23 17:37] thetimeheist76 commented on #2940
If this issue is still open I would like to work on it.

[2019-07-23 18:30] neslihanturan commented on #2940
This is open but someone else already works on this. So please check for a new issue. Looking for beginner friendly label and asking if anyone else working on it is a good practice for newcomers :) Additionally you can check out our documentation before starting.

[2019-07-24 02:38] nicolas-raoul commented on #2940
@thetimeheist76 Did you manage to reproduce the issue? If yes feel free to start working on it, thanks a lot :-)

[2019-07-24 02:42] nicolas-raoul commented on #2940
@thetimeheist76 Sorry I had not seen Neslihan's comment! And the issue should have been tagged as "assigned".

[2019-07-24 02:47] nicolas-raoul commented on #2985
Fixed

[2019-07-24 02:47] #2985 closed

[2019-07-24 02:48] nicolas-raoul commented on #2919
I remember seeing this quite often on a Samsung S10.

[2019-07-24 02:50] nicolas-raoul commented on #2908
Is this fixed?

[2019-07-24 02:51] nicolas-raoul commented on #2870
Seems fixed.

[2019-07-24 02:51] #2870 closed

[2019-07-24 04:24] maskaravivek commented on #2889
It would be great if you could first focus on finishing unit tests for the tasks that you are working on. Those things are part of the critical flows. :)

[2019-07-24 04:46] maskaravivek commented on #2889
These would be [instrumentation tests](https://developer.android.com/training/testing/unit-testing/instrumented-unit-tests). :)

[2019-07-24 09:19] ilgazer commented on #3070
IMO it would be better if we did away with ContributionsSyncAdapter and connected our data sources(ContributionDao for failed uploads etc. and UserClient for online data) to the recyclerview directly. How important is caching the user's contributions offline?

[2019-07-24 09:40] nicolas-raoul opened #3088 "Show captions in "Home" and "Explore""
As you scroll you see titles (=filenames) over the thumbnails, these should be captions:

![adb-screenshot](https://user-images.githubusercontent.com/99590/61783205-5940bc00-ae42-11e9-9fa1-e27814d9dbd4.png)

Show titles at first but replace with captions when available

[2019-07-24 10:04] nicolas-raoul opened #3089 "Non-app edit using tag Wikimedia Commons App"
The edit creating this Wikidata user page is tagged as being made by the Wikimedia Commons App:
https://www.wikidata.org/w/index.php?title=User:V123456789012&curid=65309449&action=history

It is obviously wrong, and I wonder how the tag managed to get there.

[2019-07-24 10:43] thetimeheist76 commented on #2940
@nicolas-raoul  yes I was able to reproduce the issue. I first tried with Android 7 and it did not raise the issue. Later I tried with Android 5 and was able to reproduce. I'll now start working on it. Thanks a lot.

[2019-07-24 13:30] maskaravivek commented on #3089
Do you mean its ethically wrong or technically?

I was under the assumption that anyone can add a tag to any revision using a simple authenticated API call. Is there a way to restrict a tag's usage?

[2019-07-24 15:53] nicolas-raoul commented on #3089
Morally I guess haha

If it is a test, why not, but using it outside the app interferes with our statistics.
I actually spotted it when monitoring, so that interferes with monitoring too.

[2019-07-24 16:07] ilgazer commented on #3083
I can't find any reference to MID's in https://commons.wikimedia.org/w/api.php. However, it might be a good idea to use `pageid`s instead of filenames as our identifiers. ´pageid´ is of type int, so we can use it as an index in SQL as well.

[2019-07-24 17:40] ilgazer opened #3091 "Odd code in CategoryImagesListFragment"
In CategoryImagesListFragment, the code tries to cast the Context to 4 different activities and calls viewPagerNotifyDataSetChanged on each of them. This pattern is present in a few more classes. Does this have any advantages as opposed to implementing an interface?

            try {
                ((CategoryImagesActivity) getContext()).viewPagerNotifyDataSetChanged();
            }catch (Excep

[2019-07-24 18:13] maskaravivek commented on #3091
No this doesn’t have any advantage. Infact its a very bad way of handling the scenarios.

IMO it would be great if media details could be a separate activity and could maintain its own life cycle.

[2019-07-24 18:30] thetimeheist76 commented on #2919
![2919](https://user-images.githubusercontent.com/53221361/61818484-8dca6d00-ae6e-11e9-9ebc-9090c357413b.png)
I tried reproducing it on Xiaomi Redmi Note 4 device but the mentioned issue cannot be found. FYI I had clicked the image in a landscape mode.

[2019-07-24 18:38] thetimeheist76 commented on #2908
![2908](https://user-images.githubusercontent.com/53221361/61819061-e2bab300-ae6f-11e9-92df-e36e38c5b4d3.png)
I tried reproducing the issue on Xiami Redmi Note 4 Android 7 but the issue doesn't show up.

[2019-07-24 18:53] thetimeheist76 commented on #2909
![2909](https://user-images.githubusercontent.com/53221361/61820169-244c5d80-ae72-11e9-8118-a50ccf2f7f5d.png)
Was able to reproduce the same issue.
Device: Xiaomi Redmi Note 4
Android Version: 7.0
Commons app version: 2.10.2-debug master~0574b753b

[2019-07-24 20:30] ilgazer commented on #3091
Maybe they should be rewritten in MVP after Nearby activities are done.

[2019-07-25 06:25] neslihanturan commented on #2909
@thetimeheist76 thanks for wanting to work on this issue:) It can be better to note you claimed the issue under issue page instead of the mail list, so that anyone who sees this issue can know that you are working on it.

[2019-07-25 06:28] thetimeheist76 commented on #2909
Ok. I am on it.

[2019-07-26 09:39] misaochan commented on #3024
Update: Discovered a bug where default language is set to Afrikaans always, which is a blocker. Tentative release date is next Monday if we can fix the bug by then.

[2019-07-26 09:45] misaochan commented on #3026
Which list do you mean?

Thanks for your help with all this @ilgazer ! :) Let me know if it hasn't been merged after a week or so and I'll try to ping the maintainer.

[2019-07-26 11:51] nicolas-raoul opened #3092 "Media details categories empty immediatly after upload, even though correctly uploaded"
**Steps to reproduce:**
1. Install latest 2.11 branch ( 8cd9bd5524248e51ec626aeb2b0a62b3d320fd27 ), prodDebug
2. Upload a picture with various categories
3. Wait for the upload to finish
4. Tap the picture in the home activity
5. Media details open, check categories
6. Expected: The categories I entered. Actually: "None selected"
7. Wait 10 minutes
8. Repeat from step 4: Same problem
9. Kill app (

[2019-07-26 17:33] thetimeheist76 commented on #2940
Was able to resolve the issue. This is how it now looks
![WhatsApp Image 2019-07-26 at 10 50 46 PM](https://user-images.githubusercontent.com/53221361/61970013-7ff52300-aff9-11e9-9e13-c9a8156a73c8.jpeg)
![WhatsApp Image 2019-07-24 at 11 50 00 PM](https://user-images.githubusercontent.com/53221361/61970014-7ff52300-aff9-11e9-801e-b541f170108f.jpeg)

[2019-07-26 17:38] thetimeheist76 commented on #2940
Was able to resolve the issue. This is how it looks now. Wasn't able to get rid off
![light theme](https://user-images.githubusercontent.com/53221361/61970358-407b0680-affa-11e9-9fa4-b2ad8de8bb02.jpeg)
![WhatsApp Image 2019-07-26 at 10 50 46 PM](https://user-images.githubusercontent.com/53221361/61970367-44a72400-affa-11e9-9824-76b484305be9.jpeg)

the blue background around the icon though.

[2019-07-26 18:12] thetimeheist76 commented on #2940
Was able to fix the issue. This is how it looks now.
![img2](https://user-images.githubusercontent.com/53221361/61972321-f0527300-affe-11e9-81a5-0dae8d5fcf59.jpeg)
![img3](https://user-images.githubusercontent.com/53221361/61972324-f0eb0980-affe-11e9-9dc4-f9c1b33b438a.jpeg)

[2019-07-26 22:07] ilgazer commented on #3026
They no longer are! Their PR's are waiting for merge, but a completely unrelated test is failing for some reason.

[2019-07-28 10:43] ashishkumar468 opened #3094 "Inconsistent descriptions for uploaded images"
**Summary:**
Inconsistent descriptions for upload images

**Steps to reproduce:**
Upload an image, add descriptions

How can we reproduce the issue?
Upload an image, add default locale description, the language for the description is wrong

**Device and Android version:**
Samsung S7 API 27

**Commons app version:**
2.10.2-debug-2.11-release

[2019-07-29 08:49] neslihanturan commented on #2940
Oh okay, seems like a second PR came about this issue. @PavelAplevich do you still working on this issue?

[2019-07-29 11:46] #3094 closed

[2019-07-29 19:49] ilgazer commented on #212
Implemented in #2863

[2019-07-29 19:49] #212 closed

[2019-07-29 19:53] #70 closed

[2019-07-29 21:23] ilgazer commented on #424
It seems that the project has settled on Butterknife and the generated view binder hasn't seen any use.

[2019-07-29 21:23] #424 closed

[2019-07-29 21:38] #602 closed

[2019-07-29 21:39] ilgazer commented on #653
The link is invalid. Closing.

[2019-07-29 21:40] #703 closed

[2019-07-29 21:44] ilgazer commented on #604
Why does such a limit exist anyways?

[2019-07-29 21:45] #1814 closed

[2019-07-30 03:43] maskaravivek commented on #604
Just so that anyone doesn't try to upload a lot of random images at once.

[2019-07-30 08:10] nicolas-raoul opened #3098 ""No Depictions matching %1$s found""
1. Open search
2. Select Items tab
3. Enter a random long string
4. The message should be `No Wikidata items matching "あかさたなはまやら" found.` but instead I get this message:
![adb-screenshot](https://user-images.githubusercontent.com/99590/62112014-ce057180-b2ec-11e9-9640-460414ba2cd7.png)

[2019-07-30 08:13] nicolas-raoul opened #3099 "No match message subsists even after searching again"
1. Search for a random long string
2. "No match" message appears
3. Search for something else that exists
4. "No match" message still visible
![adb-screenshot](https://user-images.githubusercontent.com/99590/62112240-43714200-b2ed-11e9-9a02-03fbe59b2111.png)

[2019-07-30 08:16] nicolas-raoul opened #3100 "Same Wikidata items re-appear when scrolling"
1. Open search
2. Search for "hello"
3. Select Items tab
4. The first item is "original song written and composed by Adele and Greg Kurstin"
5. Scroll down. New items get appended.
6. PROBLEM: Among the new items, the same item "original song written and composed by Adele and Greg Kurstin" is present.

[2019-07-30 08:49] nicolas-raoul commented on #2429
@VojtechDostal Is this issue the cause of the double P18 at https://www.wikidata.org/wiki/Q33323401 ?

[2019-07-30 09:59] ilgazer commented on #604
That's fair. Shouldn't be too hard to implement :)

[2019-07-30 10:37] VojtechDostal commented on #2429
@nicolas-raoul Yep, sorry for doing that intentionally :) . I wanted to find out if this is possible and then I forgot about it. Both pics are valid for the object but we might only keep one in the item, right?

[2019-07-30 11:12] ilgazer opened #3101 "Limit on number of images uploaded at once"
**Summary:**

For multiple uploads, there should be an upper limit on the number of images a user can upload at a time. From #604 :

[2019-07-30 11:14] #604 closed

[2019-07-30 11:19] ilgazer commented on #3091
There are usages similar to this throughout the code. It shouldn't be too hard to refactor them.

[2019-07-30 12:02] nicolas-raoul commented on #2429
@VojtechDostal Yes, please choose the most representative :-)

[2019-07-30 15:06] vanshikaarora commented on #2976
@nicolas-raoul , this issue persisted in the previous commits. AFAIK this issue doesn't persist in the latest commit.
Can you please verify that the issue is solved or not

[2019-07-30 17:06] vanshikaarora commented on #3100
@nicolas-raoul I have resolved the issue here in the latest commit https://github.com/commons-app/apps-android-commons/pull/2970/commits/f9a9854b18de289fb6e997f91b2381ba24b8ff2f
Please check :-)

[2019-07-30 17:11] vanshikaarora commented on #3088
@nicolas-raoul here are the commits for showing captions in [Explore](https://github.com/commons-app/apps-android-commons/pull/2970/commits/b9766199faeabd95564fc93f30ec1fc592ac3d98) and [home](https://github.com/commons-app/apps-android-commons/pull/2970/commits/22be5b50135403cdf7d91e71c40cbb620c033f56)

[2019-07-30 17:22] vanshikaarora commented on #3098
@nicolas-raoul I have solved this issue in the latest commit [here](https://github.com/commons-app/apps-android-commons/pull/2970/commits/29e0fcad74055dba4dbc440941716e020eec1f40).

Please review :-)

**Preview**
![Uploading IMG-20190726-WA00056.jpg…]()

[2019-07-30 17:28] vanshikaarora commented on #3099
@nicolas-raoul I have resolved the issue [here](https://github.com/commons-app/apps-android-commons/pull/2970/commits/62954080f25ef537cff9981bebe9ad6d11a2000b).

Please review :-)

[2019-07-30 17:28] ilgazer opened #3102 "Test fails in Travis CI even though it passes on my PC"
The Travis CI build is failing in my PRs #3081 #3085 and #3087 because of this:
[code]
However, when I run the tests on my PC, everything is fine and I don't get the same message. Can anyone help me out with this?

[2019-07-30 18:53] Nikerabbit commented on #653
Seriously? You can copy paste the whole thing with space. Or use this link: https://translatewiki.net/w/i.php?title=Special:Translate&showMessage=commons-android-strings-set_limit&group=commons-android-strings&language=qqq&filter=&optional=1&action=translate

[2019-07-30 23:30] ilgazer commented on #653
My apologies.

[2019-07-31 00:12] nicolas-raoul opened #3103 "Depiction search: tapping image should open its media details"
Right now tapping does nothing

[2019-07-31 08:08] nicolas-raoul commented on #2976
Yes it is fixed, thanks!

[2019-07-31 08:08] #2976 closed

[2019-07-31 08:24] nicolas-raoul commented on #3100
Thanks for fixing, it works great now :-)

[2019-07-31 08:25] nicolas-raoul opened #3104 "Wikidata items list is not padded"
The text is 1 pixel from the left side.
A bit more padding would probably be good.

[2019-07-31 08:27] nicolas-raoul commented on #3098
Great!
Very minor: Could you please make the "d" in "depictions lowercase? And a point at the end of the sentence.

[2019-07-31 08:29] nicolas-raoul commented on #3098
Ah sorry please ignore my previous message.

Instead, use this message: `No Wikidata items matching "あかさたなはまやら" found`

[2019-07-31 08:31] nicolas-raoul commented on #3099
Fixed, thanks!

[2019-07-31 08:36] #3100 closed

[2019-07-31 08:36] #3099 closed

[2019-07-31 08:38] nicolas-raoul commented on #2983
I have not noticed that recently.

[2019-07-31 08:47] #2983 closed

[2019-07-31 08:48] nicolas-raoul commented on #3088
Also, this must be implemented in the "Media" tab of Explore search.

[2019-07-31 08:58] vanshikaarora commented on #3088
I'll add it int my next commit

[2019-07-31 08:59] vanshikaarora commented on #3098
I have added this in my code. Will be pushed along with the next commit

[2019-07-31 09:00] vanshikaarora commented on #3100
Good to see :-)

[2019-07-31 09:01] nicolas-raoul commented on #3088
Strangely, my home does not seem to show captions.

For instance, I recently uploaded https://commons.wikimedia.org/wiki/File:%E9%9A%85%E7%94%B0%E5%B7%9D%E9%A7%85_JR%E5%80%89%E5%BA%AB_3.jpg with the app, then added an English caption using the Commons website.
Problem: In my home activity the filename is used, not the English caption (my Android's locale is English):
![adb-screenshot](https://user

[2019-07-31 09:02] vanshikaarora commented on #3088
OK I'll check this out

[2019-07-31 09:04] nicolas-raoul commented on #3088
Please test it on your device with a picture you uploaded. You can add captions easily using the Commons website :-)

[2019-07-31 09:12] vanshikaarora commented on #3104
@nicolas-raoul is this okay?

![Screenshot_20190731_144032](https://user-images.githubusercontent.com/34261945/62199531-462d6f00-b3a1-11e9-9fcd-14bce7725c62.png)

[2019-07-31 09:17] nicolas-raoul commented on #3104
Yes it looks great!

[2019-07-31 09:46] vanshikaarora commented on #3104
okay, I have added this in my code. Will be pushed along with the next commit

[2019-07-31 12:14] vanshikaarora commented on #3088
@nicolas-raoul this issue is resolved here https://github.com/commons-app/apps-android-commons/pull/2970/commits/238a91a0462e71c7e860a5af9d8443a8fbbf01ed.

Please check :-)

[2019-07-31 12:14] vanshikaarora commented on #3104
@nicolas-raoul I have resolved this issue [here](https://github.com/commons-app/apps-android-commons/pull/2970/commits/369137a96d5ee0c3dacc6a9a417fd8465e818d4d).

Please check :-)

[2019-07-31 12:15] vanshikaarora commented on #3098
I have resolved this issue in the commit [here](https://github.com/commons-app/apps-android-commons/pull/2970/commits/369137a96d5ee0c3dacc6a9a417fd8465e818d4d).

Please check :-)

[2019-07-31 12:17] vanshikaarora commented on #3103
@nicolas-raoul the commit [here](https://github.com/commons-app/apps-android-commons/pull/2970/commits/85fbe592e53ac8ce8c2666af18fe1ce893a97192) resolves the issue.

Please check :-)

[2019-07-31 13:42] #3104 closed

[2019-07-31 13:42] #3098 closed

[2019-07-31 13:43] #3103 closed

[2019-07-31 13:50] nicolas-raoul commented on #3088
Wonderful!

Similarly, we must show captions in the list of images shown by depiction search.

For instance, search for the "boat" Wikidata item and you will find this image: https://commons.wikimedia.org/wiki/File:Stade,_Hansehafen_--_2018_--_2961.jpg
Problem: On my English locale Android it is not shown with its English caption but rather with its filename (minus the .jpg):
![adb-screenshot](htt

[2019-07-31 13:58] vanshikaarora commented on #3088
I'll add it in my next commit

[2019-07-31 17:11] vanshikaarora commented on #3088
@nicolas-raoul I have made the necessary changes in the [commit](https://github.com/commons-app/apps-android-commons/pull/2970/commits/2c94e4ec81243713a934dcfd2191dbfb8b464b52)

Please check :-)

[2019-08-01 03:33] nicolas-raoul commented on #3088
Wonderful, thanks for all the fixes you performed yesterday, that's impressive :-)

[2019-08-01 03:33] #3088 closed

[2019-08-01 03:36] nicolas-raoul commented on #2525
I believe this is now implemented in all places where titles (filenames) were shown before.
(in Vanshika's upload_caption_depict branch)
If you find any other place where captions could be used, please let us know :-)

[2019-08-01 03:36] #2525 closed

[2019-08-01 03:37] nicolas-raoul commented on #2984
I haven't seen this in a while.

[2019-08-01 03:37] #2984 closed

[2019-08-01 03:48] nicolas-raoul opened #3105 "In depiction search, also show subclasses of the selected Wikidata item"
1. Perform a depiction search for "rock band"
2. You see several pictures of Roxette and Bon Jovi
3. Perform a depiction search for "band"
4. Scroll until the end: Not a single picture of Roxette or Bon Jovi

I believe that step 4 is problematic.
Searching for "band" should show ALL bands, not just the bands that happen to not be in a more specific subclass yet.

OR the app could first show all su

[2019-08-01 04:17] vanshikaarora commented on #3088
Thanks @nicolas-raoul :-)

[2019-08-01 09:16] misaochan commented on #3078
I think we can't rely on the current SQL query in that repo - it's not just the histogram that's broken, but the data obtained is faulty (the CSV file is wrong too). Maybe I could try to fork it and set up the dev env on tools.wmflabs.org, then revert to past commits and see if that works. But it might be a change on the server side that is causing the problem, and not necessarily a client side co

[2019-08-01 09:27] urbanecm commented on #3078
I've reviewed both queries, and I don't see anything that should prevent the query from running. However, I might've overseen something :-). I'd still try to run the two queries and see if it works.

You say on whym/commons-app-stats#13 that the CSV "shows 'NoName' and 'NoTitle' for everything". That would mean the try-except structure in plot_batch.py was triggered by an exception, see https://gi

[2019-08-01 09:29] misaochan commented on #3078
I have never run the script manually, haha... I usually access the data at https://tools.wmflabs.org/commons-app-stats/ (which also contains the links to the raw CSV). :)

[2019-08-01 09:33] urbanecm commented on #3078
Well, at least I tried that ;). I've looked into logs available under `/data/project/commons-app-stats`, but it seems that logs that I'd need are readable only for tools maintainers. I'll try to email Whym and request maintainer permission, so I can look into the issue.

Theoretically, I can either write a new script from scratch, but it's possible that the issue is a very little problem and if yo

[2019-08-01 09:38] misaochan commented on #3078
Thank you so much for the help, @urbanecm ! Yeah, I'm quite unfamiliar with tools unfortunately... :)

I agree, that makes sense.

[2019-08-02 04:51] nicolas-raoul commented on #2097
Most of this is being implemented right now. Each feature has its own issue so I can close this one.

[2019-08-02 04:51] #2097 closed

[2019-08-02 05:11] nicolas-raoul opened #3106 "Show thumbnail of P18 when asking the user to select a Wikidata item"
This makes the choice much easier, especially when no label/description is available for the user's locale:

![bitmap](https://user-images.githubusercontent.com/99590/62345922-1a3ff400-b52f-11e9-8242-334a2b2606c3.png)

This should be used:
- When choosing depictions during upload
- When choosing depictions during search

Most Wikidata items used in depictions statements have an image, it can be re

[2019-08-02 05:53] nicolas-raoul opened #3107 "Depiction search: loading forever"
1. Search for "bow"
2. One result gets displayed

Problem: The "loading" wheel never disappears

Maybe when there are several images it is simply hidden by the pictures?
![adb-screenshot](https://user-images.githubusercontent.com/99590/62347587-2929a500-b535-11e9-968d-cff9566b3e11.png)

[2019-08-02 07:28] nicolas-raoul opened #3108 "Wikidata items label/description not localized"
Problem: Despite locale being Japanese, the label and description for "apple" are shown in English:
![adb-screenshot](https://user-images.githubusercontent.com/99590/62352128-5e88bf80-b542-11e9-9095-91003245c742.png)
Despite the "apple" item https://www.wikidata.org/wiki/Q89 having a label and description in Japanese:
![Screenshot from 2019-08-02 16-26-07](https://user-images.githubusercontent.com

[2019-08-02 10:21] vanshikaarora commented on #3108
Solved the issue [here](https://github.com/commons-app/apps-android-commons/pull/2970/commits/46978b485b5b27d3d4131157510a5adaf5de8074)

[2019-08-02 10:21] vanshikaarora commented on #3107
Solved the issue [here](https://github.com/commons-app/apps-android-commons/pull/2970/commits/46978b485b5b27d3d4131157510a5adaf5de8074)

[2019-08-02 10:31] nicolas-raoul commented on #3107
It works, thanks! :-)

[2019-08-02 10:31] #3107 closed

[2019-08-02 10:38] nicolas-raoul opened #3109 ""No Wikidata item matching" message remains despite items loaded"
It might be hard to reproduce, but I managed to get this when searching (see red arrow):
![adb-screenshot](https://user-images.githubusercontent.com/99590/62364518-a9173580-b55c-11e9-9669-a7404e08dbaf.png)
Maybe hide the message when you load items?

[2019-08-02 11:25] #3108 closed

[2019-08-02 11:29] nicolas-raoul opened #3110 "Depiction added every time I switch and come back to the Commons app"
1. Open Commons app
2. Tap a picture that has a depiction
3. Switch to another app, for instance a web browser
4. Switch back to Commons
5. Depictions are doubled

After two app switches:
![adb-screenshot](https://user-images.githubusercontent.com/99590/62367290-2abe9180-b564-11e9-861c-7f17c1c0b36a.png)

[2019-08-02 11:35] nicolas-raoul opened #3111 "Depictions not localized in media details"
Even when using Japanese locale, depictions in Media Details appear in English.

Despite the item having a Japanese label:
![Screenshot from 2019-08-02 20-34-31](https://user-images.githubusercontent.com/99590/62367545-f8616400-b564-11e9-872f-6fb60243dfd6.png)

[2019-08-02 11:41] nicolas-raoul opened #3112 "Move depictions section to just above categories section (media details)"
Currently, depictions are just below caption and title.
Let's put them be a bit lower: In the same group as categories, just above categories.
It is the most logical place for them.

[2019-08-02 11:46] nicolas-raoul opened #3113 "Tapping a depiction in media details should open search on that depiction"
In media details, if you tap on a category, the app will show all media in that category.

Similarly: In media details, if you tap on a depiction, the app will show all media in that depict the same item.

Right now, the app opens the Wikidata page of the item, which is better than nothing, but I think that the behavior above would be preferable now that depiction search works well :-)

[2019-08-02 12:06] nicolas-raoul opened #3114 "Hierarchy of Wikidata classes"
When viewing a category, you have 3 tabs:
- A tab showing the media in that category
- A tab showing sub-categories
- A tab showing parent categories

Similarly, when viewing a Wikidata item, it would be great to have 3 tabs:
- A tab showing the media that depicts that Wikidata item
- A tab showing all Wikidata items that are subclasses or instances of the Wikidata item
- A tab showing all Wikidat

[2019-08-02 13:38] vanshikaarora commented on #3110
Fixed [here](https://github.com/commons-app/apps-android-commons/pull/2970/commits/ee2b7befe47e4d70269327157d3c19c2f2814829)

[2019-08-02 13:38] vanshikaarora commented on #3112
Fixed [here](https://github.com/commons-app/apps-android-commons/pull/2970/commits/ee2b7befe47e4d70269327157d3c19c2f2814829)

[2019-08-03 09:25] vanshikaarora commented on #3111
@nicolas-raoul for the issue i have gone through this [API](https://commons.wikimedia.org/w/api.php?action=help&modules=wbsearchentities) and tried various calls

I found that none of the calls
https://commons.wikimedia.org/w/api.php?action=wbsearchentities&format=json&language=hi&search=Q528943
https://commons.wikimedia.org/w/api.php?action=wbsearchentities&format=json&language=hi&strictlanguage=

[2019-08-03 10:04] vanshikaarora commented on #3113
@nicolas-raoul I have fixed this issue [here](https://github.com/commons-app/apps-android-commons/pull/2970/commits/c22762b5cfc3dc7ec476e862b17661eeb77106c1)

[2019-08-03 11:44] vanshikaarora commented on #3109
Hey @nicolas-raoul although i was not able to reproduce the issue, yet i have modified the code to hide the view so that this issue won't come across any more. Here is the [commit](https://github.com/commons-app/apps-android-commons/pull/2970/commits/39834fb61faeacc0fe0c3265cceb74de54030a44)

[2019-08-03 11:45] vanshikaarora commented on #3076
@nicolas-raoul I have fixed the issue [here](https://github.com/commons-app/apps-android-commons/pull/2970/commits/39834fb61faeacc0fe0c3265cceb74de54030a44)

Please check :-)

[2019-08-04 09:30] nicolas-raoul commented on #3111
Strange!
How about asking on StackOverflow if there is no question about that yet?

[2019-08-04 09:31] nicolas-raoul commented on #3112
Thanks for fixing! :-)

[2019-08-04 09:31] #3112 closed

[2019-08-04 09:37] vanshikaarora commented on #3111
Sure I'll just post a question on Stack Overflow

[2019-08-04 10:00] nicolas-raoul commented on #3113
Thanks, it works for media details from Home.

However, after you open an image found with depiction search, clicking on one of its depictions in media details does not do anything

Example: Search for "warehouse" depiction, open "Godorf station at dusk, May 2018", tap "rail".

[2019-08-04 10:05] vanshikaarora commented on #3113
Thanks for the finding, I'll look into the issue again :-)

[2019-08-04 10:44] nicolas-raoul commented on #3076
Seems to work well now, thanks 🙂

On Sat, 3 Aug 2019, 20:45 Vanshika Arora, <notifications@github.com> wrote:

[2019-08-04 10:51] misaochan opened #3115 "Items required for v2.12 release"
- [x] #3026 Retrofit migration- fixbugs mentioned at https://github.com/commons-app/apps-android-commons/issues/3026#issuecomment-511732535 and https://github.com/commons-app/apps-android-commons/issues/3026#issuecomment-511812380 (pending date bug and overwrite bug) @ashishkumar468
- [x] Logout https://github.com/commons-app/apps-android-commons/pull/3150#discussion_r331743965 fixed @ashishkumar4

[2019-08-04 13:54] vanshikaarora commented on #3113
@nicolas-raoul I have resolved the issue [here](https://github.com/commons-app/apps-android-commons/pull/2970/commits/1607bd9515f76cc8c81f79e3187b3f2f5c94ce62)

[2019-08-05 06:02] nicolas-raoul commented on #3113
Great that works now :-)

[2019-08-05 06:02] #3113 closed

[2019-08-05 06:06] nicolas-raoul commented on #3111
Looks like there is an answer at https://stackoverflow.com/questions/57346718/mediawiki-api-not-returning-depictions-in-languages-other-than-english :-)

[2019-08-05 06:07] nicolas-raoul commented on #3109
Fixed, thanks! :-)

[2019-08-05 06:07] #3076 closed

[2019-08-05 06:07] #3031 closed

[2019-08-05 06:11] nicolas-raoul commented on #3005
This now works as expected, the caption is present, I tried with several languages :-)

[2019-08-05 06:11] #3005 closed

[2019-08-05 06:13] nicolas-raoul commented on #3110
Fixed, thanks!

[2019-08-05 06:13] #3110 closed

[2019-08-05 09:08] harith96 commented on #3101
If this issue is not assigned to anyone, I would like to look into the matter

[2019-08-05 09:15] nicolas-raoul commented on #3101
@harith96 Thanks! :-)

[2019-08-05 09:52] vanshikaarora commented on #3111
@nicolas-raoul I have resolved the issue [here](https://github.com/commons-app/apps-android-commons/pull/2970/commits/e7914770cd85fa59cf29b676d0e899536ba6089c).

Please check :-)

### Preview

![Screenshot_20190805_151814](https://user-images.githubusercontent.com/34261945/62455736-a9017a80-b794-11e9-8252-91a8599f5724.png)

[2019-08-05 09:54] nicolas-raoul commented on #3111
Great!

2019年8月5日(月) 18:52 Vanshika Arora <notifications@github.com>:

[2019-08-05 09:58] vanshikaarora commented on #3111
Thanks :-)

[2019-08-05 11:00] #2060 closed

[2019-08-05 11:25] #2588 closed

[2019-08-05 12:22] whym commented on #3078
Sorry for the delay! I think what's needed is the quarterly chart. But since when? In the current state of the script, a 2018Q4-to-2019Q2 chart takes 0.5-1.0 day to produce, and it'll probably increase linearly as we take a longer period.

(I think the slowness is partly because I wrote worse code than I should, but partly due to the increased data itself - recently there are much more mobile cont

[2019-08-06 03:33] #3111 closed

[2019-08-06 03:46] nicolas-raoul opened #3117 "Character ` appearing in media details"
_(on Vanshika's upload_caption_depict branch, but most probably elsewhere too)_
The label should be `議論` only but somehow a random ` character appears to be prepended.
![Screenshot_20190806-002603_Commons](https://user-images.githubusercontent.com/99590/62509871-d3604000-b847-11e9-9ed4-6327049ab78c.jpg)
![Screenshot from 2019-08-06 12-45-11](https://user-images.githubusercontent.com/99590/62509913

[2019-08-06 04:02] nicolas-raoul opened #3118 ""No depiction found" despite some found"
I think that happens when typing some random string then correcting. The red message does not disappear.
![Screenshot_20190804-194238_Commons](https://user-images.githubusercontent.com/99590/62510511-30f58c00-b84a-11e9-8144-b21bc9634cc1.jpg)

This also happens for categories: https://github.com/commons-app/apps-android-commons/issues/2236

[2019-08-06 05:12] nicolas-raoul opened #3119 ""Back" button exits the app after tapping media details depiction"
1. Find any image that has a "depiction"
2. Tap the depiction in the media details
3. You are now in a search that shows all images that depict the same thing
4. Press "Back"

Expected: Go back to the media details
Actually: The app is closed

[2019-08-06 08:26] vanshikaarora commented on #3106
@nicolas-raoul I have fixed the issue [here](https://github.com/commons-app/apps-android-commons/pull/2970/commits/bcd457722efe69780366f61f2f3148549577e29e).

Please check :-)

### Preview
![Screenshot_20190806_135217](https://user-images.githubusercontent.com/34261945/62523652-e2e48680-b851-11e9-810f-ccde3dbb3950.png)

[2019-08-06 09:42] nicolas-raoul commented on #3106
in my tests it shows the same thumbnail several times.

2019年8月6日(火) 17:26 Vanshika Arora <notifications@github.com>:

[2019-08-06 10:00] vanshikaarora commented on #3106
@nicolas-raoul are you on the latest commit?

[2019-08-06 13:37] misaochan commented on #3078
Hi @whym , thanks for looking into this! :) Yes, what is needed is the quarterly chart - the weekly chart is pretty cool, but I have never actually used it for stats collection. I also use the CSVs to obtain raw numbers and exact percentage (i.e. for deletions). For the time span, the ideal start would be 2015 since that is when the community-maintained app began, but if that poses a big problem,

[2019-08-06 14:36] nicolas-raoul commented on #3106
@vanshikaarora Yes, latest commit bcd457722

[2019-08-06 14:37] nicolas-raoul commented on #3106
![adb-screenshot](https://user-images.githubusercontent.com/99590/62549244-1bf91700-b8a3-11e9-9075-fcd2b62d1c93.png)

[2019-08-06 14:38] nicolas-raoul commented on #3106
Also, would you mind making the thumbnails a bit larger, maybe something like 70 pixels? :-)

[2019-08-06 14:38] vanshikaarora commented on #3106
Sure :-)

[2019-08-06 14:39] ashishkumar468 commented on #3106
Also, ux wise, shall we add a placeholder image for even those items who do not have the images the ui looks a little zig-zaggy, and would be nice to add a very light colored divider, what do you say @nicolas-raoul  ?

[2019-08-06 14:40] vanshikaarora commented on #3106
Oh then I guess all of them have same label hence same value of url like
[code]

[2019-08-06 15:11] nicolas-raoul commented on #3106
Yes, a placeholder based on this image would make the list more coherent and beautiful: https://commons.wikimedia.org/wiki/File:Wikidata-logo.svg

[2019-08-06 15:15] nicolas-raoul commented on #3106
The thumbnail should be retrieved using the Wikidata QID, not the label.
In my screenshot above, the first item is Q312 (Apple Computer, Inc) so you must:
1. Get the P18 property of Q312
2. Retrieve the thumbnail of that P18 URL

[2019-08-06 15:37] vanshikaarora commented on #3106
I have added this placeholder https://commons.wikimedia.org/wiki/File:Wikidata-logo.svg

[2019-08-07 02:35] nicolas-raoul commented on #3089
The user who had performed the edits above has been blocked for sockpupetting.

But here is already another example (item created by the new editor for self-promotion):
https://www.wikidata.org/w/index.php?title=Q66124491&offset=&limit=500&action=history

[2019-08-07 07:58] rtsketo commented on #3091
I'd like to be assigned on this one.
Aside from implementing an interface, what else should be done?

Could you give me more details about this?

[2019-08-07 08:08] whym commented on #3078
Issues have been cleared up as far as I can see. The chart now looks like this.
![image](https://user-images.githubusercontent.com/10674/62602944-d6cef680-b92f-11e9-945d-92e8ef2f1e37.png)

Short answer is SQL. More on this is in: https://github.com/whym/commons-app-stats/issues/13#issuecomment-518981863

There is another thing I meant to change but forgot before. Instead of stacking up edits and u

[2019-08-07 08:38] nicolas-raoul opened #3120 "Suggest categories based on depictions"
In the Upload activity, after the user inputs that her picture depicts an [elephant](https://www.wikidata.org/wiki/Q7378), in the next screen (category selection) we should append to the list of suggested categories, the category associated with that Wikidata item.

https://www.wikidata.org/wiki/Q7378 -> Retrieve the P373 (Commons category) property -> Suggest https://commons.wikimedia.org/wiki/Ca

[2019-08-07 08:47] nicolas-raoul opened #3121 "Upload: When selecting item, append its subclasses to suggestions"
During upload, when I select the "bridge" item, the app should suggest subclasses of bridge (railway bridge, suspended bridges, etc) so that I can see whether a more fitting class exists, and select that one instead.

The new items should be limited to a certain number (for instance 50), and appended right below the selected item.

_Note: We could think of doing the same with instances, but that w

[2019-08-07 11:27] vanshikaarora commented on #3118
@nicolas-raoul I have solved this issue [here](https://github.com/commons-app/apps-android-commons/pull/2970/commits/f3389a507ca152bbaa1da040b98acc3322d2b0ca).

Please check :)

[2019-08-08 05:29] nicolas-raoul commented on #2352
Problem still present. Blue circle is at the place where I opened the Nearby map, and the large grey circle is where I am right now:
![Screenshot_20190728-155625_Commons](https://user-images.githubusercontent.com/99590/62677291-caf33b00-b9e8-11e9-9d79-58a462ad81f5.jpg)

[2019-08-08 11:37] nicolas-raoul opened #3122 "Test with right-to-left languages"
For instance Hebrew or Arabic.

[2019-08-09 04:21] harith96 commented on #3101
I've implemented the feature and am currently improving the code and adding javadocs. There are several small new functions as I've used existing functions for the most part. Should I write unit tests for the new ones?

[2019-08-09 08:14] Aktron opened #3123 "The app category autosuggest suggest categories including Disambiguation"
**Summary:**

When you upload an image of a street or something else of an non-Unique name, it suggests a generic category that serves usually for a Dsambiguation

**Steps to reproduce:**

Take a picture of something that has a category with a generic name

**System logs:**

N/A

**Device and Android version:**

AGM A8 Android 7.1

**Commons app version:**

AGM A8 2.10.2

**Screen-shots:**

N/A

*

[2019-08-09 15:33] ilgazer commented on #3101
That's great to hear :) You indeed need to write tests for your code. Keep
in mind that the focus is to test the feature, it's up to you to find the
best way to do that.

On Aug 9, 2019 7:21 AM, "harith96" <notifications@github.com> wrote:

[2019-08-09 17:13] misaochan commented on #3078
Thank you so much, @whym ! Yes, the new format looks great, it definitely makes sense to have the edits in a separate bar. :) It seems like we hit our upload peak in 2018 Q2, which is interesting. Still, it looks like deletions have decreased, so I'm not complaining, haha.

One additional question: I downloaded the CSVs to do my calculations... it looks like there are 5 types of actions in the spr

[2019-08-10 11:19] ilgazer commented on #3091
Sorry for the late reply :) You're assigned!

The current architecture of these categories are not great. I meant that as a long term side note. If you would like to refactor these classes completely, I would advise you to make some smaller contributions and become more familiar with the project before taking on such a big task.

[2019-08-10 12:17] whym commented on #3078
I thought it was redundant. "edit (new)" is in effect a duplicate of "upload (new)", with some rare exceptions when upload fails but page creation succeeds, perhaps. (I didn't exclude it from the CSV because it might be useful when investing upload failures etc.) If I sort the CSV by date it looks like this:

![image](https://user-images.githubusercontent.com/10674/62821664-633d1b80-bbb3-11e9-8914

[2019-08-10 14:52] ashishkumar468 commented on #3026
I think @ilgazer 's PR can be merged, I have tried testing them locally and both seem to work fine on my machine. What do you say @maskaravivek  ?

[2019-08-10 16:03] maskaravivek commented on #3026
@ashishkumar468 Yes, lets merge @ilgazer PRs.

[2019-08-12 05:40] harith96 commented on #3101
PR created. Can you please check it? Thanks.

[2019-08-12 09:04] whym commented on #3089
They must be modifying the user agent header. If the user agent header contains "Commons/", MediaWiki recognizes it as this app: https://github.com/wikimedia/mediawiki-extensions-MobileApp/blob/5712e704bd55adf16bdbc192a72e855ab7d0889e/includes/MobileAppHooks.php#L27

(It could be unlucky coincidence if there is a browser with such a user agent name, but I don't know one.)

[2019-08-12 12:09] vanshikaarora commented on #3119
@nicolas-raoul I have resolved the issue [here](https://github.com/commons-app/apps-android-commons/pull/2970/commits/3370b11bf4ff8333a28e2ef0b61e3194730c0045)

Please check :-)

[2019-08-12 12:30] misaochan commented on #3078
Ah, OK! Yeah, I think it is best to leave it out of the histogram entirely if it is a duplicate (although it may be interesting to investigate further - if a disparity is indeed an indicator of failed uploads, that would be a very good way for us to get stats on failed uploads).

[2019-08-12 12:46] misaochan commented on #3024
Pushed from beta to production today.

[2019-08-12 12:46] #3024 closed

[2019-08-12 17:16] VojtechDostal opened #3126 "Wrong dates added for non-English locales"
I uploaded a few pictures a few days ago using the latest version of the app. An automatic category to sort the pictures by date was added to each of them, which is cool, but the [category ](https://commons.wikimedia.org/w/index.php?title=Category:Photographs_taken_on_10._08._20&action=edit&redlink=1
)does not exist:

See eg:
https://commons.wikimedia.org/wiki/File:Krucifix_na_z%C3%A1pad_od_Zl%C3%

[2019-08-12 18:53] misaochan commented on #3126
Hmm, I've just tested the alpha and found no issue with the date taken - https://commons.wikimedia.org/wiki/File:San_Gimignano_2.jpg . The hidden category https://commons.wikimedia.org/wiki/Category:Photographs_taken_on_2019-07-05 does exist for me.

Is anyone else able to reproduce this? Vojtech does your phone display the current date correctly to you (aside from this app)?

[2019-08-13 05:28] nicolas-raoul commented on #3126
Do we really need this date?
Maybe the bug is that the date format varies with the locale?

[2019-08-13 08:20] misaochan commented on #3126
I don't think the category was made by us, it seems to be added to Upload Wizard uploads too, i.e. https://commons.wikimedia.org/wiki/File:Kirkkokatu_27_Raahe_20190705.jpg

[2019-08-13 08:24] nicolas-raoul commented on #3126
Then the easiest is probably to create a Phabricator ticket and forget about it :-)

[2019-08-13 08:27] misaochan commented on #3126
I don't think the problem is with the category creation though... it seems to be a side effect of the wrong upload date. It makes sense for uploads made "in the future" to not have the category created yet.

[2019-08-13 08:53] ilgazer commented on #3101
Nice work! I'm kinda on holiday right now, but I'll take a look when I can.
:)

[2019-08-13 09:15] misaochan opened #3127 "Refactor our content providers to adhere to modern standards"
Subtask of #1092 , and includes #1043

[2019-08-13 09:18] misaochan opened #3128 "Go through all our existing dependencies to see if we should keep or remove them"
Subtask of #1092

We have already implemented a stricter process for including new libraries in pull requests, and we will now go through all our existing dependencies to see if we should keep or remove them, and refactor the code accordingly.

[2019-08-13 09:21] misaochan opened #3129 "Clean up all string literals in code and replace them with string resources"
Subtask of #1092

Clean up all string literals in code and replace them with string resources, to better take advantage of TranslateWiki translations. (Fairly simple task)

[2019-08-14 01:44] nicolas-raoul commented on #3122
Could be improved a bit but at least text is visible.

[2019-08-14 01:44] #3122 closed

[2019-08-14 01:45] nicolas-raoul commented on #3106
With the latest commit, here is what I see for a search on "apple":
![adb-screenshot](https://user-images.githubusercontent.com/99590/62988808-a7b10b80-be80-11e9-9083-061fdf63f54b.png)

[2019-08-14 02:34] nicolas-raoul commented on #3106
Also, during upload:
![adb-screenshot1](https://user-images.githubusercontent.com/99590/62990561-6c660b00-be87-11e9-832e-74f4305c945f.png)
![adb-screenshot](https://user-images.githubusercontent.com/99590/62990563-6f60fb80-be87-11e9-903b-655d1f9801cd.png)

[2019-08-14 02:50] nicolas-raoul commented on #3118
It works now, thanks :-)

[2019-08-14 02:50] #3118 closed

[2019-08-14 02:57] nicolas-raoul opened #3130 "Tapping a depiction in media details sometimes does nothing"
In media details, if you tap on a depiction, the app will show all media in that depict the same item.

It works most of the time, but not always, strangely.

- In your home activity, tap a picture to which you have added depictions
- Tap on a depiction. The explore activity opens, showing all media with that depiction. That's great.
- Tap an image in that list
- In the media details, tap a depict

[2019-08-14 02:59] nicolas-raoul commented on #3119
That's fixed, thanks :-)

[2019-08-14 02:59] #3119 closed

[2019-08-14 13:08] vanshikaarora commented on #3130
@nicolas-raoul I have resolved the issue [here](https://github.com/commons-app/apps-android-commons/pull/2970/commits/e778de4ff1b9fc1da501e62ba9ef914bd88e3be8).

Please check :-)

[2019-08-14 14:23] harith96 commented on #3101
Okay. :+1:

[2019-08-15 07:43] nicolas-raoul commented on #3130
It works now, thanks for fixing :-)

[2019-08-15 07:43] #3130 closed

[2019-08-15 15:39] nicolas-raoul opened #3132 "Text when no parent/child class"
Currently: "No Wikidata items matching XYZ found"
Better text: "XYZ has no child classes"

Similarly: "XYZ has no parent classes"

[2019-08-16 10:14] vanshikaarora commented on #3132
@nicolas-raoul I have fixed the issue [here](https://github.com/vanshikaarora/apps-android-commons/commit/2ec7823d4c397328088e111c94fa10bf1eeafa83)

Please check :-)

[2019-08-16 11:02] sjl872964789 opened #3134 "When the location mode is “device only”, the nearby information can not be obtained, and there is no prompt."
**Summary:**

When the location mode is "Device only" to get the Nearby locations, it will be loaded all the time without any hints.

_Before creating an issue, please search the existing issues to see if a similar one has already been created. You can search issues by specific labels (e.g. `label:nearby`) or just by typing keywords into the search filter._

**Steps to reproduce:**

1. Set the loc

[2019-08-19 09:34] nicolas-raoul commented on #3106
Also getting wrong thumbnail during upload (using latest commit):
![Screenshot_20190819-182252_Commons](https://user-images.githubusercontent.com/99590/63255068-d7f90f80-c2af-11e9-9094-ab28e4de988a.jpg)
Here is the thumbnail which should appear: https://www.wikidata.org/wiki/Q843426

[2019-08-21 11:03] nicolas-raoul opened #3135 "Make Structured Commons feature work on the beta server"
Currently some Structured Commons features work only with the production server, and fail with the beta server flavor, because for instance P180 has a different meaning on the beta server (identifier numbers do not match).

It would be great to fix that, so that testing on the beta server matches reality more closely.

[2019-08-22 13:05] nicolas-raoul opened #3137 "Wikidata items repeated in Explore"
1. Go to Explore
2. Type "apple"
3. Tap "Items"
4. Scroll
5. Notice that some items appear several times, for instance "apple cultivar"

[2019-08-22 15:15] nicolas-raoul opened #3138 "Dogū has thumbnail of dog collar"
Despite the Wikidata item having a very different image: https://www.wikidata.org/wiki/Q602082 (by the way that image is used as Snoop Dogg's album, and Snoop Dogg's album does not have an image: https://www.wikidata.org/wiki/Q753494 )
![Screenshot from 2019-08-23 00-12-41](https://user-images.githubusercontent.com/99590/63526816-f7579d00-c53a-11e9-83b4-a97efc82d129.png)

[2019-08-22 15:21] nicolas-raoul commented on #3132
It works great now! Thanks for fixing :-)

[2019-08-22 15:21] #3132 closed

[2019-08-22 15:21] nicolas-raoul commented on #3114
Implemented by @vanshikaarora