[2020-06-15 14:31] macgills opened #3801 "SPARQL responses can return greater than 50 results breaking wbGetEntities"
**Summary:**

Summarize your issue in one sentence (what goes wrong, what did you expect to happen)

Go to Explore>Search>Cat>Items>House cat>Child Classes and do see no data has been loaded

**Commons app version:**

master

**Would you like to work on the issue?**
yes

[2020-06-15 19:22] sivaraam commented on #872
On reading this initially and searching, I realised that the `/page/media` API is missing from the API page. I've wondered what happened to that API. I happened to come across an answer for it now. Links to related phba tickers for reference:
* [⚓ T226105 Deploy new media-list endpoint in RESTBase](https://phabricator.wikimedia.org/T226105)
* [⚓ T248553 `media` endpoint stopped working as before](

[2020-06-16 07:34] macgills opened #3806 "Apply codestyle to project"
**Summary:**

Most files do not adhere to the codestyle. The project should be reformatted.

**Would you like to work on the issue?**

yes

[2020-06-16 09:38] nicolas-raoul commented on #3600
@johnnyrev Please commit and push your current work, even if it is not finished, someone might be able to give you tips about your code :-)

[2020-06-16 10:26] macgills opened #3808 "Construct media objects that depict an item id correctly"
**Summary:**

Currently when searching for media that depicts an item the response is not sufficient to create a media object, leaving blank details screens.

Currently when we select one of the `items` in explore we then try and retrieve the media that has it as a depiction with
[code]

Which returns a [searchResponse](https://www.mediawiki.org/w/api.php?action=query&list=search&srsearch=meaning)

[2020-06-16 10:40] macgills commented on #3808
Choosing option 2 and using a generator

[2020-06-16 10:46] johnnyrev commented on #3600
@nicolas-raoul My apologies for my delayed answer, but I was all in for issue [#3634](https://github.com/commons-app/apps-android-commons/issues/3634). So I haven't managed to implement some code on this one. Please feel free to assign it to someone who is more interested to.

My apologies again!

[2020-06-16 11:17] nicolas-raoul commented on #3600
@johnnyrev No problem, thanks for letting us know :-)

[2020-06-16 11:36] macgills commented on #3462
(Un)fortunately google have now released Paging3 (in alpha) which is a much improved version of the paging library, this ticket should probably become `migrate to Paging3` as the older library has been used in a few locations thus far.
Could be a nice point to get some coroutines in as the library is very much designed with them in mind but that is neither here nor there.

[2020-06-16 11:38] macgills opened #3810 "Convert DepictedImagesFragment to use Pagination"
**Summary:**

For an improved UX the depicted images should be paginated

**Would you like to work on the issue?**

Yes

[2020-06-16 13:51] #872 closed

[2020-06-16 13:58] #3772 closed

[2020-06-16 14:16] heyyviv commented on #3776
I want to work on this, can you me this

[2020-06-16 17:31] gerardolgvr commented on #3788
Hello @nicolas-raoul , can I help in this issue?  I have followed the steps you describe below and I find the following information. Just I'm not sure what's the correct field should be rendered.

I find these urls in the logcat:
- https://tools.wmflabs.org/urbanecmbot/commonsmisc/wikidataedits.py?user=EoRdE6
- https://tools.wmflabs.org/urbanecmbot/commonsmisc/uploadsbyuser.py?user=EoRdE6
- https:

[2020-06-16 19:34] FawziyahAlebiosu commented on #3785
@macgills can I do this or should I wait till there is more discussion on this thread?

[2020-06-16 19:37] gerardolgvr commented on #3433
Hello @nicolas-raoul  I'm trying to run the tests but I got this:

![image](https://user-images.githubusercontent.com/20119298/84820145-c58a5800-afde-11ea-8395-572ec6775710.png)

Is there a config or a setting that I'm not doing?

[2020-06-16 19:39] FawziyahAlebiosu commented on #3703
@nicolas-raoul to clarify, if a selected item has nothing listed  under "Instance of", then that tab should be removed?

[2020-06-17 00:46] nicolas-raoul commented on #3788
Featured_pictures_on_Wikimedia_Commons sounds like the correct number to use :-)

You can find many usernames here: https://commons.wikimedia.org/wiki/Special:RecentChanges?hidebots=1&translations=filter&hidecategorization=1&hideWikibase=1&limit=500&days=7&urlversion=2 99.99% of them do not have any featured picture I guess.

To find usernames of people who have featured pictures, the easiest is t

[2020-06-17 01:07] gerardolgvr commented on #3788
Thanks @nicolas-raoul  for the information!

I'm gonna review the information, any update I'm gonna post it here

[2020-06-17 01:58] gerardolgvr commented on #3788
![image](https://user-images.githubusercontent.com/20119298/84845982-70b50480-b013-11ea-94ce-393fffe90896.png)

Hello @nicolas-raoul again heheh

I found where the problem is located, at the image is the response for the url:
https://tools.wmflabs.org/urbanecmbot/commonsmisc/feedback.py?user=EoRdE6

As you can see the field "featuredImages" is a sum from :
"Quality_images" and "Featured_pictures_o

[2020-06-17 02:39] nicolas-raoul commented on #3788
Actually, I would be in favor of just renaming the label to "Quality Images" instead of "Featured Images".

0.394% of Commons images are Quality Images.
0.022% of Commons images are Featured Images.

[2020-06-17 03:11] gerardolgvr commented on #3788
Hello @nicolas-raoul again

![image](https://user-images.githubusercontent.com/20119298/84850558-a7901800-b01d-11ea-9a68-890bbf400779.png)

I review the code a explore the code and found that the problem is ar Achievements.kt. As you can notice the field "featuredImages" is the result of sum: "qualityImages" and "featuredPicturesOnWikimediaCommons" . So, the solution is only use "featuredPicturesO

[2020-06-17 04:36] nicolas-raoul commented on #3788
Actually, if you have time could you split into two different statistics in the UI?
It makes sense to show both the number of features images, and also the number of quality images. :-)

[2020-06-17 07:49] macgills opened #3811 "Convert MediaDataExtractor to Kotlin"
**Summary:**
Its in java.

**Would you like to work on the issue?**

Yes

[2020-06-17 08:13] macgills opened #3813 "Convert MediaClient to Kotlin"
**Summary:**

Its in java

**Would you like to work on the issue?**

Yes

[2020-06-17 08:20] macgills commented on #3785
@maskaravivek @misaochan @ashishkumar468  can ye weigh in on @FawziyahAlebiosu  removing this activity and its related files?

[2020-06-17 08:46] ashishkumar468 commented on #3785
I think @FawziyahAlebiosu can take this up, the activity is actually never used

[2020-06-17 10:13] macgills opened #3816 "Update Android Gradle Plugin to 4.0.0"
**Summary:**

Android Studio is at 4.0 in the stable channel and we should update AGP to gain the benefits

**Would you like to work on the issue?**

Yes

[2020-06-17 12:25] macgills commented on #3748
The 3 Explore fragments have been converted to pagination and I can not reproduce with the given steps, closing

[2020-06-17 12:25] #3748 closed

[2020-06-17 16:37] #3816 closed

[2020-06-17 16:38] #3813 closed

[2020-06-17 16:38] #3811 closed

[2020-06-17 17:23] gerardolgvr commented on #3788
Sure, sounds a good idea.

I can do the changes, I can add it just below the first one

About the icon:
- I can search for a new one as a proposal if you want or use a particular icon you prefer (I saw some icons in drawable folder). I'm gonna do the changes to share you a SS

[2020-06-17 20:15] Charlitos96 commented on #3767
I'm looking for a folder to make a Test for my contribution, but I didn't find it, Can you tell me where did you put yours tests? or do I make a new folder?

[2020-06-17 20:51] gerardolgvr commented on #3788
I added the changes requested:
![WhatsApp Image 2020-06-17 at 3 37 21 PM](https://user-images.githubusercontent.com/20119298/84948523-77925480-b0b1-11ea-9600-348473b71b7d.jpeg)

I found an icon but I'm not sure about it. Here are some icons that I found:
![image](https://user-images.githubusercontent.com/20119298/84948864-ecfe2500-b0b1-11ea-88ae-72f789164f54.png).

What do you think?

[2020-06-18 03:28] nicolas-raoul commented on #3788
Wonderful!
`5` and `10` are just debug values, right?

The icon you chose is nice I think :-) Where did you find it? We must use only public domain icons.

[2020-06-18 03:34] rhulkb27 commented on #3788
hi @nicolas-raoul It looks like @gerardolgvr has made some good progress on this, more then I had made so far (admittedly not that much). As such, please feel free to re assign the issue to him; I will look for another issue to work on.

Thanks!

[2020-06-18 03:40] nicolas-raoul commented on #3788
@rhulkb27 Understood, thanks! :-)

@gerardolgvr Actually would you mind using this icon? https://upload.wikimedia.org/wikipedia/commons/8/8c/Quality_images_logo.svg
It is the official icon for quality images, as seen at https://commons.wikimedia.org/wiki/Commons:Quality_images Thanks! :-)

[2020-06-18 03:55] gerardolgvr commented on #3788
@rhulkb27 thanks you, no problem :)

Yup, just to debug the code.
I found those icons at flaticon.com

Sure, I can add that icon @nicolas-raoul . I have to say that I added a brief desciption from https://commons.wikimedia.org/wiki/Commons:Quality_images to lauch the proper alert and probably we must add the proper link, associated according this #3433 but I think that the pr associate to #3433 mu

[2020-06-18 05:44] gerardolgvr commented on #3788
I think this is ready for a PR, if there isn't anything to add. How it seems to you ? @nicolas-raoul

![WhatsApp Image 2020-06-18 at 12 38 22 AM](https://user-images.githubusercontent.com/20119298/84982554-9b2ebc80-b0fc-11ea-9d07-ac703851a0ee.jpeg)

[2020-06-18 06:47] macgills commented on #3767
@Charlitos96 You can follow the guidelines [here](https://developer.android.com/studio/test#add_a_new_test), automated tests must live under the `androidTest` source set and unit tests must live under a `test` source set. The package structure of the project should be mirrored between test and source

[2020-06-18 07:41] nicolas-raoul commented on #3788
Is there an easy way to make the logo not be cropped, for instance by resizing it?
If not, that can be the topic of a future issue so don't worry too much, and submit your PR when you want :-)

[2020-06-18 08:41] macgills opened #3818 "Convert SubDepictionListFragment to use Pagination"
**Summary:**

For an improved UX the depicted images should be paginated

**Would you like to work on the issue?**

Yes

[2020-06-18 11:52] macgills opened #3820 "Convert CategoryImagesListFragment to use Pagination"
**Summary:**

For an improved UX the category images should be paginated

**Would you like to work on the issue?**

Yes

[2020-06-18 13:22] macgills opened #3822 "Convert SubCategoryImagesListFragment to use Pagination"
**Summary:**

For an improved UX the sub category list should be paginated

**Would you like to work on the issue?**

yes

[2020-06-18 14:17] gerardolgvr commented on #3788
Sure, I have fixed the image problem. The problem was when I was importing the image. Android studio face problems when image is converted to xml, especially when they have kind of gradients or some stuffs like that:
https://stackoverflow.com/questions/59610243/android-studio-does-not-import-all-parts-of-an-svg-vector

So I imported the logo as png

Here's the final result.

![WhatsApp Image 2020-

[2020-06-19 09:13] sivaraam commented on #3634
I think you should be persisting the `DepictedItem` objects of the recently used depictions rather than creating a new class `RecentDepictions. You could see this being done for Categories too.

From `CategoriesModel.kt`:
[code]

Others could comment better about this.

PS: You're more likely to get a faster response when you don't ping specific people :)

[2020-06-19 09:19] sivaraam opened #3825 "Show the "Add image to linked Wikipedia article" icon for all images"
**Summary:**
PR #3783 adds a "Add image to linked Wikipedia article" icon to images uploaded via Nearby. As of now, the icon is only shown for the images that meet a certain criteria. I believe it's:
i. Image is uploaded via Nearby
ii. Has a linked Wiki article
iii. The linked wiki article doesn't have any images

For better UX, I think it would be nice if we show the wikipedia icon for all images

[2020-06-19 09:23] sivaraam commented on #3640
As mentioned in the description, you would see the issue when uploading an image. The third step of the upload process would be to add categories. As of now, if you search there, you would see hidden categories such as:
* [Category:Pages using authority control without Wikidata link - Wikimedia Commons](https://commons.wikimedia.org/wiki/Category:Pages_using_authority_control_without_Wikidata_link

[2020-06-19 09:50] macgills commented on #3640
[code]
This is in `CategoriesModel` which is invoked from `CateogoriesPresenter` which is used by the View `UploadCategoriesFragment`

[2020-06-19 10:20] macgills commented on #3634
We specifically don't want to use DepictedItems. It is generally good practice to have separate models for different domains of your application and this illustrates that well.

Were we to save DepictedItems, if we follow the example of Category, we would need to add
[code]

to the DepictedItems and this would pollute that class as these fields only matter in the database layer of our application,

[2020-06-19 19:11] maskaravivek commented on #1831
I am unable to add the media legends as the API is giving some error. I have created a phab ticket asking for help.

https://phabricator.wikimedia.org/T255852

[2020-06-19 23:31] rhulkb27 commented on #3825
hi @sivaraam , what you propose is to remove these criteria and always show the "add image to linked wikipedia article" icon?

[2020-06-20 01:40] PaulinaQuintero commented on #3640
I appreciate the information! As soon as I can I will be doing a pull request

[2020-06-21 03:30] nicolas-raoul opened #3826 "[Leaderboard] Get a user's avatar"
Commons does not really have a notion of avatar, but people who want to have a representative picture post it to their userpage. Examples:

https://commons.wikimedia.org/wiki/User:%C5%A0J%C5%AF (self-portrait)
https://commons.wikimedia.org/wiki/User:Amqui (self-upload picture showing the user's nickname)
https://commons.wikimedia.org/wiki/User:Giantflightlessbirds (picture the user is most proud o

[2020-06-21 06:15] ashishkumar468 opened #3827 "App crashes when Upload Media Details fragment is clicked ad there is no compound drawable [2]"
**Summary:**

Summarize your issue in one sentence (what goes wrong, what did you expect to happen)
App crashes when Upload Media Details fragment is clicked ad there is no compound drawable [2]
**Steps to reproduce:**

How can we reproduce the issue?
Click on the EditText title in UploadMediaDetailFragment

**System logs:**

[code]

**Device and Android version:**

ANDROID_VERSION=10
PHONE_MODEL=

[2020-06-21 07:33] ashishkumar468 commented on #3792
Fixed in #3793

[2020-06-21 07:35] ashishkumar468 commented on #1846
Fixed and Not reproducible in latest builds, marking this as closed

[2020-06-21 07:35] #1846 closed

[2020-06-21 07:36] ashishkumar468 commented on #3070
This has already been implemented

[2020-06-21 07:36] #3070 closed

[2020-06-21 16:01] VmKid commented on #3726
Perhaps we could do something like this, adding the icon to the filter chips (and possibly adding additional filters for the other icons) (Please excuse the slightly squished icon- this was only a test run)
![Screenshot_20200621-115652](https://user-images.githubusercontent.com/3360357/85229287-d3612400-b3b6-11ea-86bb-6aad66f2700b.jpg)

[2020-06-21 17:39] sivaraam commented on #3825
I'm suggesting to show the icon in all cases and decide to enable/disable it based on the criteria. When tapping on the icon when it is enabled one would get the dialog as usual. When tapping on the icon when it is disabled one should be shown the reason why it is disabled probably as a tooltip.

[2020-06-21 17:54] sivaraam commented on #3826
I wonder if this is a good thing to do. People who include pictures in their talk pages don't particularly do that with an idea that it would shown as an avatar of them in some place (in our case: the leaderboard). Of course, some people might include them with the intent that it could be used to identify them. But I certainly don't think everyone would have such an idea. It's like we're going aga

[2020-06-21 18:16] rhulkb27 commented on #3825
@sivaraam I would really like to work on this issue, however, I am unable to repro the icon (I am not able to find an image that passes the criteria). Do you know if there is a way to force the app to give me the icon on a given image?

Regardless, I can begin work on this now after I read through maskaravivek's code and find out how it works. The only issue (as stated earlier) is that I am unsure

[2020-06-21 18:43] sivaraam commented on #3825
@rhulkb27 Thanks for your interest. For some background, I initially suggested this in PR #3783, but it wasn't addressed as people thought it needs to be discussed first and it didn't need to be part of the MVP. That's why I opened this issue. So, you can take this up if others agree to this change.

Regardless, some replies to your questions:

No, I don't think that's possible. Neither does it ma

[2020-06-21 19:47] rhulkb27 commented on #3825
Alright, @sivaraam I'm confident that I will be able to implement this change, however as you said we need others to agree that this is a good change before I can begin working on it; do you know who exactly we need to give me the go-ahead from before I can start working on the issue? Maybe we can @ mention them here?

[2020-06-22 01:27] nicolas-raoul commented on #3826
@sivaraam We have to be more user-friendly than the current "wiki world". The wiki world is currently very text-based (and visually boring), but this is changing, with for instance full-width horizontal banners at the top of Wikivoyage pages. The [web-hosted leaderboard](https://stats.wikimedia.org/#/commons.wikimedia.org/contributing/top-editors/normal|table|2020-06-22~2020-06-22|~total|daily) is

[2020-06-22 04:18] ashishkumar468 opened #3829 "App Crashes in UploadMediaDetailFragment when trying to upload a very large image in lower end devices"
**Summary:**

App Crashes in UploadMediaDetailFragment when trying to upload a very large image in lower-end devices

**Steps to reproduce:**

Upload a  very high-quality image.

**System logs:**

[code]

**Device and Android version:**

 Mi 9 SE Android Version:10

**Commons app version:**

2.13

**Would you like to work on the issue?**

Yes

[2020-06-22 07:33] misaochan commented on #3726
This is a nice idea, but it would require rethinking how we display the selected chip, as it replaces the check mark. I think there was a discussion earlier where people perceived a greyed-out chip in different ways (some people thought it meant selected, and some people thought the opposite), hence why we use a check mark for that purpose.

[2020-06-22 07:37] misaochan commented on #3757
@PaulinaQuintero We want the name of the step and then a tooltip. So for instance in your screenshot, the title would have "Step 3 of 4: Add categories ["i"]".

[2020-06-22 07:50] misaochan opened #3831 "WMF is planning to remove api_urls field in /page/summary endpoint"
I just saw this post in wikitech-l, reposting in its entirety below. Do you know if we are using that endpoint @maskaravivek @ashishkumar468 ?

[2020-06-22 07:57] macgills commented on #1831
@maskaravivek it looks like you aren't setting the `claim` parameter but instead posting the claim in the body, the [examples](https://www.wikidata.org/w/api.php?action=help&modules=wbsetclaim) make it seem like that is not an acceptable method

[2020-06-22 08:32] misaochan commented on #746
Sorry for the delayed response @maskaravivek !

From the proposal page:

So there are two components to this, the ability to pause/resume uploads and the active limited connection mode.

Pause/resume uploads (this feature should be available for all uploads regardless of "limited connection" mode status):
- The user should have an option to pause and resume their current upload. For the UI you can

[2020-06-22 09:16] macgills opened #3832 "Remove unused code via Declaraction Redundancy>Unused Declaration Inspection"
**Summary:**

Summarize your issue in one sentence (what goes wrong, what did you expect to happen)

There is unused code across the project that adds to the mental load of working with it.

**Would you like to work on the issue?**

Yes

[2020-06-22 10:41] macgills opened #3834 "Fix broken uploads without a place"
**Summary:**

Summarize your issue in one sentence (what goes wrong, what did you expect to happen)

When performing an upload without a place it is guaranteed to fail.

**Steps to reproduce:**

Upload without a place.

**System logs:**

[code]

**Commons app version:**

master

**Would you like to work on the issue?**

Yes

[2020-06-22 10:58] macgills opened #3836 "Fix button attributes on "Next" in Depiction Uploads"
**Summary:**

Summarize your issue in one sentence (what goes wrong, what did you expect to happen)

Button has black text

**Screen-shots:**

![image](https://user-images.githubusercontent.com/3358282/85280184-8bf29a80-b47f-11ea-803d-8f32c9083cc7.png)

**Would you like to work on the issue?**

yes

[2020-06-22 11:21] #3834 closed

[2020-06-22 16:08] maskaravivek commented on #3831
We are not using this endpoint.

[2020-06-22 16:43] maskaravivek commented on #1831
I was sending the claim param as a form-encoded param but i was not converting it to string. I am now converting it to a string and am getting a different error.

[code]

Here's the PR. https://github.com/commons-app/apps-android-commons/pull/3838

Here's the sandbox URL:

https://www.wikidata.org/wiki/Special:ApiSandbox#action=wbsetclaim&format=json&claim=%7B%22id%22%3A%22Q7110921%24150c615e-9708

[2020-06-22 17:02] maskaravivek commented on #746
When the connection is lost, the upload would fail because we will lose the HTTP connection. What we can do is to automatically retry the uploads when the user is connected to wifi. Here a fresh upload would be attempted.

So basically there should be constant connection for the duration of any single file upload. With limited connection mode we can achieve automatic queuing/retrying of uploads ev

[2020-06-22 18:38] sivaraam commented on #3825
Let me ping some people: @misaochan @maskaravivek @neslihanturan

[2020-06-22 18:55] sivaraam commented on #3826
May be not a legal issue. But I certainly think some people _might_ get offended by it because [god](https://commons.wikimedia.org/wiki/User:F%C3%A6) [knows](https://commons.wikimedia.org/wiki/User:Ytoyoda) [what](https://commons.wikimedia.org/wiki/User:Strakhov) [images](https://commons.wikimedia.org/wiki/User:Hohum) they have in their user pages. The main thing is: they would have no idea that t

[2020-06-22 19:20] sivaraam commented on #746
That sounds a little too aggressive, doesn't it? If we do that, I wonder what useful thing the user could do with the app without even browsing images. 🤔

Instead of disabling image previews may be we could queue the image download requests initiated from the "Download image" option and download them when the user connects to Wi-Fi.

I wonder why this should only be available in limited connection

[2020-06-22 19:37] maskaravivek commented on #746
Just to clarify I meant after the addition of limited connection mode feature. Yes, it should be available for all cases.

Also, to clarify, based on his connectivity I mean whatever is the definition of limited connection mode. As the ticket originally mentions, if the user is on Wifi, we can automatically reattempt uploads. If he is on mobile data it won't be retried automatically.

From what I

[2020-06-22 19:43] PaulinaQuintero commented on #3640
I could already detect the problem here, what happens is that the API that is used has a bug. I have been testing and apparently the API that it is used to do this which has the generator parameter, is not returning the hidden data correctly. I tried another one that has list as a parameter and apparently this works well.
What could be done is change the whole part of the front to change to this l

[2020-06-22 21:50] VmKid commented on #3726
Fair enough.
How does this look
![Screenshot_20200622-174724](https://user-images.githubusercontent.com/3360357/85338702-c9235080-b4b0-11ea-8308-852a251357d8.jpg)
?

[2020-06-23 01:51] nicolas-raoul commented on #3826
@sivaraam All of the images that you have found and linked under your sentence "god knows what images" are good pictures and represent correctly the user's style of contribution, which is great. Some avatars changing is not a big problem, a bit like companies change logos or people change their social media profile picture to a black rectangle or a soccer team.

[2020-06-23 06:52] maskaravivek commented on #1831
I managed to make the API work. The parameters have changed. For ref this is the expected claim object.

[code]

[2020-06-23 07:35] macgills commented on #3433
@gerardolgvr because these `androidTest`s are not run on our CI or checked in any way it is very easy for them to get broken and for nobody to realize. The compilation is failing due in no way to your changes and it seemingly has 15 errors

[2020-06-23 12:13] #3140 closed

[2020-06-23 12:56] macgills commented on #3703
This should be quite straightforward to implement post merging of the pagination PRs but I wouldn't attempt if beforehand.

@nicolas-raoul I would suggest a separate ticket for supporting "Remove an explore tab with zero results" as they will all share a baseclass that can implement this functionality. As it stands right now they all just have empty views that show when no items are returned

[2020-06-23 14:15] #3836 closed

[2020-06-23 14:39] misaochan commented on #3109
According to @macgills this is redundant after the pagination changes.

[2020-06-23 14:39] #3109 closed

[2020-06-23 19:03] gerardolgvr commented on #3433
Thanks @macgills , good to know about it.

I'm gonna try to research more about it and look for a solution

[2020-06-24 06:09] misaochan commented on #3831
Thanks @maskaravivek

[2020-06-24 06:09] #3831 closed

[2020-06-24 06:14] misaochan opened #3840 "We are hiring a part-time Android developer and tester (contractor)"
Hey all, we are hiring a part-time Android app developer and tester (contractor, 1 yr) to join our team! This is a fully-remote position, and you will be working in a collaborative open-source environment with a diverse team from all over the world to improve the Commons app. :)

**Role**
- Android app development, primarily focused on increasing code coverage (writing unit tests, refactoring code

[2020-06-24 06:28] misaochan commented on #3420
The contractor job posting is up #3840 . :) Closing this issue.

[2020-06-24 06:28] #3420 closed

[2020-06-24 07:44] macgills commented on #3433
I would make a new issue "Fix Instrumentation tests", generally when we ask for tests what is meant is unit tests because those do get run on the CI. The functionality you added however is mostly in an Activity, a quite annoying to unit test class

[2020-06-24 10:15] macgills opened #3841 "Unit Test DepictsClient"
**Summary:**

DepictsClient should be tested to increase coverage

**Would you like to work on the issue?**

Yes

[2020-06-24 11:09] macgills opened #3843 "Unit Test DepictedItem"
**Summary:**

DepictedItem should have its constructors tested to increase coverage

**Would you like to work on the issue?**

Yes

[2020-06-24 13:49] #3600 closed

[2020-06-24 18:52] sivaraam commented on #3826
I think you missed my main point.

I say that as there are possibilities that a user ([count me in](https://commons.wikimedia.org/wiki/User:Kaartic)) might have used images for various purposes in their user page. They can't always be used to represent the user. At least, that's what I think. If you were suggesting to use an image uploaded by the user, that's different. We know that the user uploa

[2020-06-24 18:54] gerardolgvr commented on #3433
ohh , good idea.

Yeah, it makes sense

[2020-06-24 19:14] sivaraam commented on #746
Yeah, I think there's some misunderstanding between my "retry" and your "reattempt". When I said:

I meant automatically retrying the upload whenever it fails (particularly a failure when the network is connected) at particular intervals. Looks like you were mentioning something different. Were you just mentioning the re-attempt done when the connection is restored?

The very reason why I suggeste

[2020-06-24 20:05] maskaravivek commented on #746
Right. Obviously there should be a smart retry policy. The easiest and reasonably effective way would be to have exponential backoff. But anyways retry policy is something that can be optimized iteratively. We don't need to get it right from the very beginning.

[2020-06-25 00:56] PaulinaQuintero commented on #3640
I don't know if you have been checked this, but what I mean is that it is impossible to fix the fact that the hidden categories are shown without fixing the allcategories generator api, part of the backend team. Because replacing the generator API with the list API involves a huge change in the frontend that could affect other parts of the code and I don't know if you agree to do this.

[2020-06-25 02:49] nicolas-raoul commented on #3826
About the technical perspective: We can just do like [Histropedia](http://histropedia.com/timeline/jynrtpg9bg0t/Italian-painters ) and resize. I don't think anyone has ever criticized Histropedia for resizing images, even though it often leads to unexpected results, for instance this circle-shaped painting of Da Vinci, with the top of the head cut off. Not a big worry.

[2020-06-25 05:49] ashishkumar468 commented on #3829
Fixed in #3830

[2020-06-25 05:49] #3829 closed

[2020-06-25 06:59] #3843 closed

[2020-06-25 07:20] #3780 closed

[2020-06-25 07:20] #3808 closed

[2020-06-25 07:23] misaochan opened #3845 "Contributions list starts at the last uploaded pic, not the currently uploading one"
**Summary:**

Normally after the user uploads a pic and goes back to Contributions, the first item on the list should be the currently-uploading pic. But now it is the last-uploaded pic and they need to scroll up to see the current one. This makes it confusing as they might assume that the upload didn't go through.

**Steps to reproduce:**

Upload a pic
Go back to Contributions

**Device and Andro

[2020-06-25 08:02] #3810 closed

[2020-06-25 08:13] misaochan commented on #746
I was thinking more along the lines of this: https://stackoverflow.com/questions/45464795/pause-resume-httpurl-connection-while-uploading-large-files-android

It does depend on whether or not the Commons server supports resuming uploads (I don't know if it does). If it doesn't then we have no choice but to discard the upload when connection is lost and retry later. But I figured we should at least

[2020-06-25 08:57] maskaravivek commented on #746
Yes, as far as I could check the upload API doesn't support this header.

https://www.mediawiki.org/wiki/API:Upload

Anyways, I have opened a phab ticket to confirm the same. https://phabricator.wikimedia.org/T256359

[2020-06-25 09:08] #3801 closed

[2020-06-25 09:08] #3818 closed

[2020-06-25 09:38] #3820 closed

[2020-06-25 12:40] #3798 closed

[2020-06-25 12:40] #3822 closed

[2020-06-26 02:47] maskaravivek commented on #746
It seems that we can use stashed uploads for pause and resume. https://www.mediawiki.org/wiki/API:Upload#Example_3:_Upload_file_in_chunks

[2020-06-26 02:47] maskaravivek commented on #746
@neslihanturan Can you help me with the designs for this feature.

[2020-06-26 07:54] #3841 closed

[2020-06-26 11:32] sivaraam commented on #3640
@PaulinaQuintero You're observation is right. The generator doesn't consider `gacprop=hidden` as mentioned in the description. I think the [related code](https://phabricator.wikimedia.org/source/mediawiki/browse/master/includes/api/ApiQueryAllCategories.php$123) also confirms this.

Indeed, requesting the generator API to consider the `gacprop=hidden` would be the easiest way to solve this. As a f

[2020-06-26 11:55] macgills opened #3847 "Convert Media and Contribution to Kotlin Data Classes"
**Summary:**

To ease reasoning about these objects and aid conciseness they should be converted to kotlin

**Would you like to work on the issue?**

Yes

[2020-06-26 13:21] ashishkumar468 commented on #3827
Fixed in #3828

[2020-06-26 13:21] #3827 closed

[2020-06-26 19:01] FawziyahAlebiosu commented on #3703
@macgills that makes sense to me, will stay posted on when those PRs get merged.

[2020-06-27 04:24] Charlitos96 commented on #3767
Hi, I made a PR with my test, but when I run the test this problem jumps:
`AboutActivityTest.kt: (39, 68): Unresolved reference: getVersionNameWithSha`

That's a problem not realted with my issue, or with what I made, in fact I see there is another PR that can solve it #3850

[2020-06-28 03:34] madhurgupta10 commented on #3840
@misaochan Although I am working on the GSoC project right now till August 2020, I would be happy to apply if eligible :)

[2020-06-28 20:40] rhulkb27 commented on #3845
Hey I wan't to work on this, i'll repro it tonight. @misaochan

[2020-06-28 23:28] rhulkb27 commented on #3825
@misaochan @maskaravivek @neslihanturan Hi, I just wanted to follow up on this issue; don't forget to let me know if you have any issues with this, otherwise, I will implement it tomorrow.

[2020-06-29 12:47] misaochan commented on #3845
Go for it @rhulkb27 ! :)

[2020-06-29 12:49] misaochan commented on #3840
Hi @madhurgupta10 , thanks for your interest! You are definitely eligible to apply for this job from my point of view, however you would need to check with your GSoC mentors to see if there are any GSoC regulations that prohibit you from applying for it. :)

[2020-06-29 16:04] misaochan commented on #3825
What indicator shall we have for people to know at a quick glance whether or not it is enabled? Should it be greyed out if disabled? Otherwise it would defeat the purpose of having the icon in Contributions at all if users could not tell easily whether the option was available or not for a particular image without tapping it.

Aside from the others that you pinged, @nicolas-raoul 's input would be

[2020-06-29 16:07] misaochan commented on #3640
Personally I agree that hidden categories should not be shown. However I'm not sure if there is a good way for us to solve this without upstream making the changes first.

[2020-06-29 16:11] #3726 closed

[2020-06-29 16:53] misaochan opened #3852 "Option to create custom campaigns in app"
I received a request via email from an employee of WMCZ, copying it here with his permission:

I think this could be doable once we get the WLM integration up, we would just need to make the implementation more generic so that people can create their own, maybe via submitting PRs to our campaigns repository?

[2020-06-29 17:28] Charlitos96 commented on #3767
Hello,
Following the pattern from the [link](https://www.w3.org/TR/wai-aria-practices/examples/dialog-modal/dialog.html), they pass the reference of the element that triggered the Modal using `openModal('dialog1',this)`.
Using that as a guide, I update the method `handleOnClick()` to pass the reference of the button with `event.target` to update `modalTriggerElement` with it.
If this was not the a

[2020-06-29 17:37] rhulkb27 commented on #3825
@misaochan I believe @sivaraam suggested to have a tooltip showing the reason why the image does not pass the criteria.

[2020-06-29 18:17] sivaraam commented on #3825
I think it should be. Actually, I assumed it would be greyed out when I mentioned "disabled". Looks like I should have mentioned this explicitly.

Yes, exactly. If we don't grey out then it would end up being very bad UX. I suggested the tooltip as an add-on to explain "_why_" the button is disabled and greyed-out.

[2020-06-29 22:55] neslihanturan commented on #746
My suggestion for the toggle, and progressbar, and for contribution list.
![toggleRedesign](https://user-images.githubusercontent.com/3127881/86063974-b42c5b80-ba74-11ea-88da-d8dab5566e6a.png)

[2020-06-30 01:17] PaulinaQuintero commented on #3640
I already did A PR with all the changes, the categories are already hidden. Could you check it? Sorry for all the commits. I'm pretty sure that is working well

[2020-06-30 01:20] PaulinaQuintero commented on #3640
The API is working well, it is no necessary @misaochan the problem is that the documentation is missing important information. I could solve it

[2020-06-30 05:43] Deepakkast commented on #832
okhttp3.internal.http2.Http2Connection$ReaderRunnable.applyAndAckSettings (Http2Connection.java:739)
okhttp3.internal.http2.Http2Connection$ReaderRunnable.settings (Http2Connection.java:711)
okhttp3.internal.http2.Http2Reader.readSettings (Http2Reader.java:289)
okhttp3.internal.http2.Http2Reader.nextFrame (Http2Reader.java:141)
okhttp3.internal.http2.Http2Reader.readConnectionPreface (Http2Reader.

[2020-06-30 07:43] maskaravivek opened #3854 "Upload file in chunks"
**Summary:**

We are going to add support for pause/resume of downloads as part of #746.

Pause/resume can be achieved by using stashed uploads. So as a first step, I am planning to add change our upload code so that any file upload is processed in chunks.

Once we have this working, it would be easy to build on top of it to add the ability to pause/resume downloads.

[2020-06-30 11:22] misaochan commented on #2843
Copy pasting the design posted by @neslihanturan at https://github.com/commons-app/apps-android-commons/issues/746#issuecomment-651411040 for reference. Opinions appreciated. :)

![toggleRedesign](https://user-images.githubusercontent.com/3127881/86063974-b42c5b80-ba74-11ea-88da-d8dab5566e6a.png)

[2020-06-30 11:40] sivaraam commented on #2843
That certainly does look nice. Just wondering, is this going to be the how the re-design would look? Or is there more work to it?

[2020-06-30 11:40] misaochan commented on #3825
Makes sense. I am okay with this change in that case. @neslihanturan what do you think?

[2020-06-30 11:44] sivaraam commented on #746
That looks nice. Just a suggestion. "(Uploading… 53% of image is uploaded)" seems too verbose and the brackets seem unnecessary. I believe "Uploading… 53%" would be concise and clear. Ditto for "Paused…". Additionally, I think it would be useful to show the size corresponding to the part of the image that's left to be uploaded.

[2020-06-30 11:45] misaochan commented on #2843
That is a mockup for how the redesign would look, yes. I imagine we might discover that some tweaks might be necessary when implementation starts.

[2020-06-30 11:47] sivaraam commented on #746
Yeah. As I said before, wouldn't it be a little too aggressive, to prevent the automatic download of thumbnails that populates the Contributions etc list? Wouldn't it significantly affect the usability the app when browsing images?

[2020-06-30 11:58] misaochan commented on #746
I don't think so, as it is an option that the user can toggle on and off as they wish. Currently all users must load at least the first page of Contributions before they can even use the app. This way users who want to just, say, use Nearby to photograph a few pins while on limited data, won't have to waste their data on image downloads.

It will, but if we want maximum usability of all features a

[2020-06-30 12:02] misaochan commented on #2843
Actually, now that I think about it... I love the cloud icon and it should stay, but additionally I think we need a very clear way of telling the user that limited connection mode is on. With this design a user might accidentally turn the mode on, and then they might just not look at the upper right of their screen and wonder why things aren't working the way they are supposed to. Maybe even havin

[2020-06-30 12:03] nicolas-raoul commented on #2843
I know it is only a draft, but if I had a comment to make, it would be to add a bit of space before the next picture, or remove a bit of space above the picture name. Taking the Instagram app as a reference, I can see that the vertical spacing between two posts is double the size of the vertical spacings that can be found within an individual post.

[2020-06-30 12:11] #1831 closed

[2020-06-30 12:13] misaochan opened #3856 "Location mismatch problem for p18 edits via Nearby uploads"
As mentioned at https://github.com/commons-app/apps-android-commons/pull/3838#issuecomment-651232930 , there is a problem with p18 edits via Nearby uploads in master.

@misaochan says:

I uploaded https://commons.wikimedia.org/wiki/File:Tea_Tree_Bay_3.jpg , which is for the Wikidata item https://www.wikidata.org/wiki/Q21952057 . However, the Wikidata item is not being edited at all, which leads to

[2020-06-30 16:31] #3854 closed

[2020-06-30 19:41] #3847 closed

[2020-07-01 02:08] SaumiaSinghal commented on #3561
Hi @nicolas-raoul! I noticed the time lag issue on pressing '+' button. Can I work on it?

[2020-07-01 08:14] nicolas-raoul commented on #3561
@SaumiaSinghal Actually I just tried again (using the app as compiled from the latest master) and I can not see any lag anymore haha... could you please try again with the latest master? (About should show commit version 96cf57711)

[2020-07-01 09:07] SaumiaSinghal commented on #3561
Hi @nicolas-raoul! I tried after merging from the latest master. The problem that I see now is there is no lag on pressing '+' button but, I have to scroll to make the new content appear.

[2020-07-01 10:20] misaochan commented on #3766
Hi @matkoniecz , any luck with Mapbox? I feel like it will be much more beneficial to your cause for Mapbox to support this in their SDK. Otherwise all the apps that are using the Mapbox Android SDK will be stuck looking for lengthy, potentially hack-ish workarounds since they have not exposed methods to modify the attribution.

[2020-07-01 10:21] nicolas-raoul commented on #3561
Having to scroll is not such a big problem, but could you please send a pull request, so that we can check the code? Thanks!
Thanks also for the screencast, it makes it easy to see the result. And it looks like an improvement indeed!

[2020-07-01 10:36] SaumiaSinghal commented on #3561
No problem! I'll open a PR.

[2020-07-01 10:49] matkoniecz commented on #3766
Not from Mapbox (their response time on topic of attribution is in months, in some cases more than year) but I got some info on Telegram channel (OpenStreetMap dev):

I have not tested it so far.

[2020-07-01 11:01] ashishkumar468 commented on #3766
I have opened an [issue](https://github.com/mapbox/mapbox-gl-native-android/issues/447) in the Mapbox's repo raising the concern, hopefully we will get some clarity from over there.

[2020-07-01 11:57] SaumiaSinghal commented on #3573
Hi @macgills, @sivaraam Can I work on this, if no one else is working on it?

[2020-07-01 13:02] SaumiaSinghal commented on #2819
Hi @maskaravivek! I would like to work on this issue if no one else is looking into it.

[2020-07-01 17:13] maskaravivek commented on #2819
@SaumiaSinghal  Yes, sure. Assigned to you.

[2020-07-01 17:15] #3561 closed

[2020-07-02 07:47] madhurgupta10 opened #3861 "[GSoC Task] Use the APIs to fetch leaderboard’s based on uploads via mobile app (all time) and display it in the Leaderboard screen."
**Summary:**
- [x] Display user's Avatar and rank on Leaderboard screen fetched from API.

- [x] Use the APIs to fetch leaderboard’s (user list) based on uploads via mobile app (all time) and display it in the Leaderboard screen.

**Would you like to work on the issue?**
Yes

[2020-07-02 08:04] sivaraam commented on #3573
Hi @SaumiaSinghal, yeah you can work on this. No one appears to be working on this.

[2020-07-02 08:12] sivaraam commented on #746
Yeah, that certainly would be a solution. Anyways, I was thinking if it would be nice to have multiple levels in the limited connection modes:
1. Normal mode - App behaves the same as how it does now.
2. Medium mode - Thumbnails images would be automatically downloaded but any upload/download would be queued until the device is connected to a Wi-Fi
3. Aggressive mode - No thumbnails would be autom

[2020-07-02 08:22] sivaraam commented on #2843
Yeah, certainly. This reminds me of the "[Offline library](https://www.mediawiki.org/wiki/Wikimedia_Apps/Offline_support)" feature that the Wikipedia app had in its alpha but was paused before it went into production. They had a nice design which clearly indicated when the user was browsing offline and online. I guess we could do something like that here. Here's a related task: https://phabricator

[2020-07-02 08:28] sivaraam commented on #3826
That does look nice. The images seem to be resized well for the container size that they have. Do they actually take those images from Commons and resize them?

[2020-07-02 09:45] SaumiaSinghal commented on #2819
Hi @maskaravivek! Thanks for assigning the issue. I'm running into an error on running the tests that I wrote, I have pointed out the error on my draft PR [here](https://github.com/commons-app/apps-android-commons/pull/3862/files#r448880632). Can you please check once whenever you have time? Thanks.

[2020-07-02 15:45] Anyrob commented on #3732
Hi, @neslihanturan! I was wondering if you have had a chance to check my pull request. This time, I was trying to add some test but I ran into a lot of problems since other tests are broken even though I try different ways (even with espresso which also helped me discover another bug in the application) I did not find a way to perform the test in any way other than manual, do you have any recommen

[2020-07-02 17:52] sivaraam commented on #3732
I doubt whether that's an ideal solution given that we have a "Search this area" feature. I wonder why there should be a hard requirement on the location permission when Nearby could be used to browse places even without the location permission, as I understand it. 🤔

[2020-07-03 07:21] SaumiaSinghal commented on #3678
Hi @neslihanturan! I think the reason behind this is SVG images are not supported by fresco. It is mentioned [here](https://github.com/facebook/fresco/issues/1008). However, fresco allows using custom decoders for SVG formats, as given in the [docs](https://frescolib.org/docs/customizing-image-formats.html).
I would like to work on this issue.

[2020-07-03 10:35] misaochan commented on #3732
I'm not sure if the Mapbox SDK itself requires location permissions to function, but if it doesn't, that could be a possibility. However, which section of the globe should we display initially to the user if we don't know where they are? ;)

[2020-07-03 10:36] misaochan commented on #2843
That looks like a nice design! Thumbs up from me. :)

[2020-07-03 10:37] misaochan commented on #746
Could be a future enhancement. ;) Let's implement the basic feature first and get user feedback?

[2020-07-03 13:21] bnasim commented on #3840
@misaochan I am interested for this role. I would apply.

[2020-07-03 17:56] sivaraam commented on #3732
Sounds great!

I think we already know the answer to that, "Tower of London":
![Screenshot_2020-07-03-23-07-47](https://user-images.githubusercontent.com/12448084/86489713-ca8f2b80-bd82-11ea-9386-7052e2b1953d.png)

This is location that the app shows now before it gets the actual location of the user (i.e. when the GPS is turned off, GPS is triangulating user's location etc.). Alternatively, we co

[2020-07-03 17:58] sivaraam commented on #746
Sure. :)

[2020-07-03 18:01] sivaraam commented on #3678
@SaumiaSinghal You can take this up.

[2020-07-04 15:11] sivaraam commented on #3734
I'm re-opening this as I believe the conversion introduced a bug. The converted version [lower-cases the search word](https://github.com/commons-app/apps-android-commons/blob/master/app/src/main/java/fr/free/nrw/commons/category/CategoriesModel.kt#L94) before sending it to the `allcategories` API. I'm not sure why that's done. Anyways, as detailed in [my comment](https://github.com/commons-app/app

[2020-07-04 19:52] sivaraam commented on #2843
The Wikipedia app recently pushed a change to its [alpha version](https://github.com/wikimedia/apps-android-wikipedia/releases/tag/latest) in which it has a bottom nav bar similar to the one found in the proposed design. Just wanted to mention it in case someone wants to get an idea of how having the "More" menu in the bottom nav bar would feel like in live action :)

[2020-07-05 14:48] sivaraam commented on #3734
On a related note, I also think there's not much benefit in [lower-casing the words](https://github.com/commons-app/apps-android-commons/blob/master/app/src/main/java/fr/free/nrw/commons/category/CategoriesModel.kt#L130) sent to the [`search` API](https://www.mediawiki.org/wiki/API:Search) either. The algorithm used by `search` API is more clever than the simple prefix only search done by the `all

[2020-07-06 11:55] ghost opened #3866 "Available for volunteering on a data science project"
I am open to volunteering in a data science related project.

I just started learning how to program with Python. I have skills in MySQL query writing, using Excel and i am available to volunteer in a data science related project as long as i can learn at the end of it. I can dedicate 3 hours daily. My reasons are for me to learn, experience, grow in my skills and also add value.

 Thank you @nico

[2020-07-06 13:44] nicolas-raoul commented on #3866
Hi! Thanks for posting.
Do you have a minimum and a maximum regarding the number of days that the project should take?
Is it OK to send you different projects rather than one big project?

[2020-07-06 13:53] nicolas-raoul commented on #3866
A possible project could be to find out how contributions made from the Android Commons app differ from contributions made by other means.

Here is some documentation, please be aware that finding the right documentation can be hard and is part of the work, included in the project: https://www.mediawiki.org/wiki/Category:MediaWiki_database_tables

Many query examples can be found here: https://qua

[2020-07-06 18:17] #3749 closed

[2020-07-07 15:27] nicolas-raoul commented on #3247
Not sure it is the exact same problem, but in the last few weeks (months?) I get upload failures a lot.
When I get on the computer and try reproduce the problem while running adb logcat, the uploads work 🤣
By the way, retry **always** works, I have never seen a retry fail.

[2020-07-07 17:01] misaochan commented on #3247
@nicolas-raoul Which version of the app are you referring to, is it master (alpha testing)?

[2020-07-07 17:08] misaochan commented on #3734
Yes, it sounds like we should remove the `toLowerCase()` call.

[2020-07-07 17:24] ashishkumar468 commented on #3734
Seems like a small fix, raising a PR soon after verifying locally

[2020-07-07 17:59] vvijayalakshmi21 commented on #3840
Just submitted my application!
This is an amazing opportunity. Thank you!

[2020-07-07 23:30] nicolas-raoul commented on #3247
@misaochan Yes, master or very close to it. Actually yesterday I sent a log after such an upload fail, and after the successful retry, using the leaderboard branch which is super close to master.

[2020-07-08 10:02] misaochan commented on #3247
Pinging @ashishkumar468 to look into this :)

[2020-07-08 11:41] misaochan commented on #3840
Thank you for applying, @vvijayalakshmi21 and @bnasim . :) We'll get back to you shortly.

[2020-07-08 12:03] madhurgupta10 commented on #3840
@misaochan I just completed my application as well :)

[2020-07-08 14:05] misaochan commented on #3840
Thanks @madhurgupta10 !

[2020-07-08 15:49] madhurgupta10 commented on #3861
@nicolas-raoul Closing this issue :)

[2020-07-08 15:49] #3861 closed

[2020-07-08 17:09] ashishkumar468 commented on #3247
Hi everyone, I looked into the logs sent by @nicolas-raoul. So the this error is thrown when the upload fails
`{"errors":[{"code":"stashfailed","text":"Invalid chunk offset","data":{"offset":"2621440"},"module":"upload"}],"docref":"See https://commons.wikimedia.org/w/api.php for API usage. Subscribe to the mediawiki-api-announce mailing list at &lt;https://lists.wikimedia.org/mailman/listinfo/medi

[2020-07-08 17:32] maskaravivek opened #3868 "Chunked uploads fail on master"
Hi everyone, I looked into the logs sent by @nicolas-raoul. So the this error is thrown when the upload fails
`{"errors":[{"code":"stashfailed","text":"Invalid chunk offset","data":{"offset":"2621440"},"module":"upload"}],"docref":"See https://commons.wikimedia.org/w/api.php for API usage. Subscribe to the mediawiki-api-announce mailing list at &lt;https://lists.wikimedia.org/mailman/listinfo/medi

[2020-07-08 17:32] maskaravivek commented on #3247
Yes, @nicolas-raoul 's issue seems to be related to my changes. There should be a different issue for it as Nicolas is using alpha release and the original issue was for the beta version. I am creating a different issue for this. #3868

We still need to debug @harisankerPradeep's issue.

[2020-07-08 17:40] ashishkumar468 commented on #3247
We don't seem to have logs from @harisankerPradeep. Also, the issue seems to be old (App version 2.11) and there is a high probability that it's already resolved in one of our upload-related bug fixes. Happy to fix this if @harisankerPradeep  can confirm if this is happening with him on one of the latest releases

[2020-07-08 18:37] ujjwalagrawal17 commented on #3840
@misaochan I am interested too. Will fill the application soon.

[2020-07-09 06:52] nicolas-raoul commented on #3866
@JOYCE-FRED Here is the first task: Show per-country upload trends. It requires some SQL skills to get the image titles, a bit of scripting to get latitudes/longitudes from pictures EXIF, and a bit of data processing to match latitudes/longitudes to countries. If you have any question please ask here. If you have 3 hours daily, it could take from 2 weeks to 2 months. Thanks and good luck! :-)

[2020-07-09 10:40] misaochan commented on #3840
@ujjwalagrawal17 Awesome! :)

[2020-07-09 12:59] JOYCE-FRED commented on #3866
@nicolas-raoul on checking through the links sent to me. I noticed that quarry platform has additional projects asides MediaWiki, how can categorical search be done more easily through the site?
MediaWiki database is large which is not what i am used to, so i will take time to read and understand how the table are connected.
Also, is there a particular table that the project is focused on?

[2020-07-09 14:40] nicolas-raoul commented on #3866
Quarry is only about Mediawiki sites such as Wikipedia or Commons.

There are many databases and tables, but the most important for the task I described at https://github.com/commons-app/apps-android-commons/issues/3866#issuecomment-655937535 is probably table `image` of database `commonswiki_p`, which can be seen in use in this query: https://quarry.wmflabs.org/query/46513

Please use https://qua

[2020-07-09 15:03] chirag-jn commented on #3840
@misaochan thanks for opening such opportunity. I'm currently a GSoC 2020 participant and my participation ends on 31 August. Is there some way in which we can start by 1st September and make up for the lost time by increasing the number of hours per week by the amount of time lost before that?

[2020-07-09 15:35] misaochan commented on #3840
@chirag-jn Yes, you can apply anyway and request this in the final comment section in your application. I cannot guarantee it but it is a possibility.

[2020-07-09 16:01] chirag-jn commented on #3840
Great @misaochan thanks

[2020-07-10 13:12] madhurgupta10 opened #3870 "[GSoC Task] Complete Unit Tests for Leaderboard API"
**Summary:**

Complete Unit Tests for Leaderboard API

- [x] Complete Unit Tests for APIs for calculating and displaying rank of the User

- [x] Complete Unit Tests for APIs for displaying leaderboard based on the 2 parameters

**Would you like to work on the issue?**
Yes

[2020-07-11 14:11] misaochan commented on #3840
Hi all, just a friendly reminder that I will be closing the application form around [9am UTC](https://www.worldtimebuddy.com/?qm=1&lid=100,2174003,8&h=100&date=2020-7-13&sln=9-10) on 13th July. If you are planning to apply and have not done so, please do so before then. :)

[2020-07-11 14:56] ujjwalagrawal17 commented on #3840
Just submitted my application @misaochan :)

[2020-07-11 19:05] michaelnares commented on #3218
Can I take this one one, please?

[2020-07-11 19:42] maskaravivek commented on #3218
@michaelnares As a first step, can you try to reproduce this issue and list down the steps here.

[2020-07-12 14:47] michaelnares commented on #3218
@maskaravivek I get https://stackoverflow.com/questions/38618885/error-rpc-failed-curl-transfer-closed-with-outstanding-read-data-remaining.  I have success after git clone https://github.com/commons-app/apps-android-commons.git --depth 1
 and cd apps-android-commons/, but the same error after git fetch --unshallow.  Is there any issue with working on the repository without doing git fetch --unsha

[2020-07-12 15:13] VibhorChinda opened #3871 "Available for volunteering on an Android project"
Hii everyone. I am Vibhor Chinda.
I wanted to make contributions to any Android related project. Thus i am open for volunteering on an Android Project.

I have skills in the domain of Android and can write android related code in both java and kotlin. I am keen to make contributions to any android related project.

My reasons for contributing in project is that it can help me to learn and grow my

[2020-07-12 18:24] chirag-jn commented on #3840
I've just submitted my application @misaochan. Expecting to hear a reply soon 😁

[2020-07-12 23:17] MSSoumya commented on #3840
@misaochan I have just submitted my application. :)
Thank you for this opportunity!

[2020-07-13 09:35] misaochan commented on #3840
Applications are now closed. Thank you to everyone who applied! :) I will be discussing the applications with the team, and will get back to you within the next couple of weeks.

[2020-07-14 09:31] misaochan commented on #3871
Welcome, @VibhorChinda ! :) You can look in our issues for the "good first issue" or "bug" labels, those are good places for a new contributor to start. Please also read https://github.com/commons-app/commons-app-documentation/blob/master/android/Contributing-Guidelines.md , if you haven't yet.

[2020-07-14 10:26] VibhorChinda commented on #3871
Thank you. Will surely have a look :)

[2020-07-14 13:52] #3856 closed

[2020-07-14 17:54] johnnyrev commented on #3634
Excuse me for this delayed comment, but due to some problems with the implementation process and the restricted time that we have this period of time, me and @dafnith aren't able to keep up with this issue. So, feel free to assign this issue to someone who is able to spend more time and get this thing done.

By the way thanks for all the information and help that you gave us. It was a very good ex

[2020-07-14 18:28] sivaraam commented on #3634
@johnnyrev Ok. Thanks for letting us know.

[2020-07-15 17:53] maskaravivek opened #3873 "Codecov is not running for some of the PRs"
**Summary:**

Codecov should run and comment should appear automatically on PRs with code coverage information. Recently it seems to be not happening for some of the PRs.

[2020-07-15 18:00] madhurgupta10 commented on #3873
@maskaravivek Does it work on master branch PRs?

[2020-07-15 18:03] #3870 closed

[2020-07-15 18:09] madhurgupta10 opened #3874 "[GSoC Task] Add pagination in the leaderboard screen to load more users on scrolling down."
**Summary:**
Add pagination in the leaderboard screen to load more users on scrolling down.

- [x] Implement Pagination

- [x] Add Button for AutoScroll to user’s rank

**Would you like to work on the issue?**
Yes

[2020-07-15 18:46] maskaravivek commented on #3873
Nope

[2020-07-15 18:46] maskaravivek commented on #3874
@madhurgupta10 Please use AndroidX Paged Lists for pagination.

[2020-07-15 18:52] madhurgupta10 commented on #3874
@nicolas-raoul @maskaravivek We currently don't have many users on the leaderboard, if you would give me a list of some usernames that I can add, then it would be great :)

[2020-07-15 19:21] maskaravivek commented on #3874
You can use my user IDs `Maskaravivek` and `Testmaskara`.

Tagging others to see if they would be okay sharing their userIDs for the leaderboard.

@misaochan @neslihanturan @ashishkumar468 @sivaraam

[2020-07-15 22:05] VibhorChinda commented on #3584
Can i take this issue ?? @misaochan

[2020-07-16 00:15] nicolas-raoul commented on #3874
<img width="187" alt="Screen Shot 2020-07-16 at 09 14 10" src="https://user-images.githubusercontent.com/99590/87612183-ce3c8e00-c744-11ea-8db9-d4b1dd504a54.png">
You can find thousands others here: https://quarry.wmflabs.org/query/18084

[2020-07-16 10:41] misaochan commented on #3874
Sure, you can use `Misaochan` and `Misaochan2` . :)

[2020-07-16 11:09] misaochan commented on #3584
@vvijayalakshmi21 are you still interested in working on this?

[2020-07-16 11:20] #1473 closed

[2020-07-16 13:43] sivaraam commented on #3874
Sure you can use `Kaartic` .

I'll note that I don't have a lot of [uploads](https://commons.wikimedia.org/wiki/Special:ListFiles?limit=50&user=Kaartic), though :) I guess that might be helpful in its own way ;)

[2020-07-17 04:23] nicolas-raoul opened #3875 "Randonauting (nearby random point)"
[Randonauting](https://i-d.vice.com/en_uk/article/xg8gb3/randonauting-is-the-new-supernatural-trend-taking-over-tiktok) is a newish trend where users are told to go to a random latitude/longitude. Adventure ensues.

Not sure it is a good idea, but how about adding a dice icon in the upper-right of Nearby that would send you to a random point?

Actually not totally random and only a bit supernatura

[2020-07-18 18:26] sivaraam commented on #3766
Some time ago, I happened to contact Mapbox support about this with hope of getting something useful. This is what they say:

The only hint is that they mention adding a `TextView` on the map.

[2020-07-19 15:29] #3640 closed

[2020-07-21 12:51] Husseinhj commented on #3840
If it's still open. I am interested too

[2020-07-21 19:23] TejaswiKarasani commented on #3840
@misaochan just a request to checkout my github profile overview. I have been playing almost similar role for [this project](https://github.com/mozilla-mobile/fenix/) since early this year. Thanks  in advance!

[2020-07-22 09:04] neslihanturan opened #3879 "Other pictures flickers when a media is selected from contributions list"
**Summary:**
I always knew I was seeing flickering images when I choose an item from contrib list and trying to go to Media Details Fragment. While I was testing another bug, I recognized on click to an object from contrib list, rebuildCatList method from MediaDetailsFragment is called for previous images too. And I see previous image is appeared during my debug steps.

This issue should be invest

[2020-07-22 09:13] misaochan commented on #3840
Sorry guys, applications were closed on 12 July. :( I will update you if we have an opening in the future.

[2020-07-22 09:59] misaochan commented on #3879
Pinging @ashishkumar468

[2020-07-22 10:08] misaochan commented on #3766
@ashishkumar468 just informed me that his workstation is down and repairs will take a while due to the Covid situation where he is. We will look into this further when he is able to come back.

[2020-07-22 10:47] misaochan opened #3880 "Update min SDK?"
For a long time, we have kept our min SDK lower than most (currently we are at 19), because we wanted to be as inclusive as possible towards lower income user groups. Realistically speaking however, we do not usually test the app exhaustively on the lowest APIs and we probably will not have the resources to do so in the near future, so people using these devices would be very prone to crashes. Als

[2020-07-22 20:34] maskaravivek commented on #3880
Yeah, I agree with the pros of increasing the minSdk version. Also, updating the min SDK would mean that users on lower versions can't receive app updates but they can still use the existing version. Also, new users would still be able to download the current version after we update the minSDK(Google Play Console lets you keep the existing version for older devices.).

[2020-07-22 21:36] neslihanturan commented on #3880
My suggestion is removing it after we think we have a stable version already. Considering they won't get any updates, critical bugs shouldn't exist.

[2020-07-23 09:31] misaochan commented on #3880
Good point, let's go with that. We can revisit this discussion after 3.0 has been out for a while maybe. :)

[2020-07-23 11:42] sonukushwaha403 commented on #3560
Is this issue open now

[2020-07-23 11:42] sonukushwaha403 commented on #3560
I want to work on it

[2020-07-23 16:39] VibhorChinda commented on #3584
Can I work on this ? @misaochan

[2020-07-23 17:21] misaochan commented on #3560
@HasanatJahan are you still working on this?

[2020-07-23 17:21] misaochan commented on #3584
Let's give @vvijayalakshmi21 a bit more time to get back to us, if another week passes I think we can assign to you @VibhorChinda .

[2020-07-23 17:35] vvijayalakshmi21 commented on #3584
@misaochan Sincere apologies for not getting back.
Please feel free to reassign to @VibhorChinda

[2020-07-23 17:43] misaochan commented on #3584
Thanks for getting back @vvijayalakshmi21 ! @VibhorChinda It is yours. :)

[2020-07-24 07:57] sivaraam commented on #3766
Just an update about this.

<details>
<summary>I asked them for an example/specific instructions on how to achieve this.</summary>

Thanks for the response. I'll look into and let you know if we could find a way to add a TextView on the map. In the meantime, if you could share specific instructions/examples of how to achieve this that would be great.
</details>

This is the response that I got:

S

[2020-07-27 08:19] sivaraam commented on #3880
If resource is the primary reason for increasing the min SDK from 19, I'll be glad to lend a hand. I use an API 22 (5.1.1) device for day to day use and also happen to have access to a API 19 device (4.4). I'm really glad that many apps that I use day to day such as [Signal](https://github.com/signalapp/Signal-Android), still support lower API devices. I would be glad if we could do the same.

If

[2020-07-27 10:33] misaochan commented on #3840
The position has been filled, thank you very much to everyone who took the time to apply! If we have another opening in the future, I will create a new issue.

[2020-07-27 10:33] #3840 closed

[2020-07-27 11:00] misaochan commented on #3880
Thanks a lot @sivaraam , that would be greatly appreciated! I will ping you when v3.0 is ready for testing? :)

There is definitely a technical burden caused by low minSdk as well. Eventually that will probably be the main reason for switching, but for the time being it would be great to have an API 19/22 user to test our next release to make sure it's stable for lower API devices.

[2020-07-27 12:32] sivaraam commented on #3880
Sure. Also, feel free to ping me whenever you want something tested in the low APIs. I'll be glad to. 🙂

That doesn't mean I would stop testing at my own will, of course. 😉

[2020-07-27 15:15] ashishkumar468 opened #3882 "Add default value for column hasInvalidLocation"
**Summary:**

Add default valid value for hasInvalidLocation in Contributions column

**System logs:**

**Device and Android version:**

Google Nexus

**Commons app version:**

2.13 release prodDebug

**Would you like to work on the issue?**

Yes

[2020-07-28 17:23] ashishkumar468 commented on #3882
Merged to 2.13

[2020-07-28 17:23] #3882 closed

[2020-07-29 09:35] ashishkumar468 opened #3884 "Delete NearbyMapFragment & NearbyListFragment"
**Summary:**

Delete NearbyMapFragment & NearbyListFragment are not used anymore-both are empty files

**Commons app version:**

current-master

**Would you like to work on the issue?**

Yes

[2020-07-29 09:59] madhurgupta10 opened #3886 "[GSoC Task] Tapping the name of a user in the leaderboard should open the gallery of that user's pictures"
**Summary:**

- [x] Tapping the name of a user in the leaderboard should open the gallery of that user's pictures, probably as a browser URL, for now.

**Would you like to work on the issue?**
Yes

[2020-07-29 18:28] #3884 closed

[2020-07-30 14:01] madhurgupta10 commented on #3826
I would be implementing this feature in the upcoming weeks, I think the best way is to add a menu item next to "Set As Wallpaper" which we can call as "Set as Avatar". This gives users the flexibility to browser through and selects the one they want.

[2020-07-30 17:44] sivaraam commented on #3826
Nice idea. I just have one problem with that. As we would be managing the avatar chosen by a user, we would have to ensure the information is kept safe enough, right? How do we do that?

I'm considering "avatar" as a private information which we needs to be treated carefully (correct me if I'm wrong). So far, we didn't have this problem as all the information we use is obtained from Commons. We we

[2020-07-30 18:03] madhurgupta10 commented on #3826
@sivaraam On the database side, I am just storing the suffix of the media and using it along with the base URL to display it in the app.

Just to be clear that there is no duplicate copy created or saved anywhere.

[2020-07-31 04:37] subbass1 commented on #3635
I also encountered a problem with the date, e.g. see here:
To me it seems that on uploading the "Speicherzeitpunkt" (saving date) is altered, I'm not sure if this is correct, on other uploads both time lines are the same, iirc (there seems to be additionally a problem with UTC).
But even if: the app uses the wrong "line", correct would be "Erfassungszeitpunkt" (capture date).

[2020-07-31 05:41] nicolas-raoul commented on #2074
Yes two spinners sounds good :-)
First spinner: Upload/Nearby/Usage
Second spinner: Week/Year/All time

[2020-08-03 11:48] neslihanturan opened #3890 "Categories should be re-fetched again after updated"
**Summary:**
Currently we have the function to edit categories from the app: #3851 . But unfortunately, we have a logic to fetch uploads only once when the contrib list is being loaded until we close the app. So, if the user changes the categories both from the app or from web interface, our contrib list remains same since it is fetched from db, not from servers. We should:
a- refetch all whenever

[2020-08-03 17:01] madhurgupta10 commented on #3873
@maskaravivek Looks like this one is resolved, I can see the report on my PR https://github.com/commons-app/apps-android-commons/pull/3892

[2020-08-04 03:15] ujjwalagrawal17 opened #3893 "Write Unit Tests for Explore Module"
**Summary:**

Currently running the code coverage of our app tells us:
- 27% of classes are covered,
- 13% of lines of code are covered.

This issue is for writing unit tests of the explore module and increase the code coverage above 80% (100% if possible).

- [ ] Explore Activity [0% line coverage]
- [ ] Search Activity [0% line coverage]
- [ ] Categories sub-package [30 % line coverage, 15 class

[2020-08-05 14:55] misaochan opened #3894 "Duplicate deletion requests (and also uploads?)"
From Ciell on our google groups forum (with some paraphrasing from me):

![Screenshot_20200803-231721_Commons](https://user-images.githubusercontent.com/3611199/89428154-6d223c00-d77f-11ea-937f-a920d4c569c9.jpg)

[2020-08-05 17:48] sivaraam commented on #3894
If I understand the report correctly, both [File:Coffeeshop Sensi (Winterswijk) 2.jpg](https://commons.wikimedia.org/wiki/File:Coffeeshop_Sensi_(Winterswijk)_2.jpg) and [File:Coffeeshop Sensi (Winterswijk) 3.jpg](https://commons.wikimedia.org/wiki/File:Coffeeshop_Sensi_(Winterswijk)_3.jpg) were nominated for deletion. But I don't see any hints of deletion nomination in the former. Surprisingly, I

[2020-08-05 19:01] maskaravivek commented on #3868
Update: I have been trying to fix the issue by handling `stashfailed` and other errors like `verification-error`(listed [here](https://www.mediawiki.org/wiki/API:Upload#Possible_errors)) but I am running into issues while testing it. I should be able to fix the issue by this weekend.

[2020-08-06 09:57] misaochan commented on #3894
If I'm reading correctly, she cleaned the duplicates up as she has Commons admin rights (she said "tomorrow", but I only saw her email 2 days later).

[2020-08-06 09:59] misaochan commented on #3868
Thanks for the update @maskaravivek !

[2020-08-06 10:53] sivaraam commented on #3894
Yeah, I understand that the duplicates have been cleaned. Its obvious from the fact that [File:Coffeeshop Sensi (Winterswijk) 3.jpg](https://commons.wikimedia.org/wiki/File:Coffeeshop_Sensi_(Winterswijk)_3.jpg) is now redirecting to [File:Coffeeshop Sensi (Winterswijk) 2.jpg](https://commons.wikimedia.org/wiki/File:Coffeeshop_Sensi_(Winterswijk)_2.jpg). What I'm trying to say is I don't see hints

[2020-08-09 10:37] madhurgupta10 opened #3895 "Add Authentication to Leaderboard Avatar Update"
**Summary:**
Add Authentication to Leaderboard Avatar Update

[2020-08-09 10:41] madhurgupta10 commented on #3826
@nicolas-raoul Maybe we can close this ticket?

[2020-08-09 10:44] #3826 closed

[2020-08-09 12:05] madhurgupta10 opened #3896 "Update leaderboard strings"
Update leaderboard strings

[2020-08-09 15:00] sivaraam commented on #2074
I happened to stumble across [this discussion](https://meta.wikimedia.org/wiki/Requests_for_comment/X!%27s_Edit_Counter) about how "any [wiki] editor must opt-in to allow other editors to see additional statistics". I remember something about an opt-in being discussed here for the Leaderborad. Just wanted to confirm if that's correct. If yes, how would a user opt-in? Also, would there be a possibi

[2020-08-09 17:56] sivaraam commented on #3895
This sounds curious. It would be nice if the description could be elaborated a bit to more as to what exactly is going to be added 🙂

[2020-08-11 11:56] #3886 closed

[2020-08-12 08:23] matkoniecz opened #3898 "The same images are listed multiple times in contributions tab"
**Summary:**

Summarize your issue in one sentence (what goes wrong, what did you expect to happen)

https://commons.wikimedia.org/wiki/File:Asphalt_track.jpg is displayed at least twice in my list of images

It is not limited to just flicker as one scrolls across list (when previously displayed imaged are briefly shown before showing real one)

It is not confusion with other uploads, see https://

[2020-08-13 13:35] Soroyesodiq commented on #3898
I will like to work on this

[2020-08-13 18:25] ashishkumar468 commented on #3898
Hi, @Soroyesodiq  Feel free to pick this up, before you attempt to fix this, please try to reproduce this and feel free to post updates over here :)

[2020-08-13 18:26] ashishkumar468 commented on #3845
Hi @rhulkb27  Any updates on this issue?

[2020-08-13 18:27] ashishkumar468 commented on #3766
This is fixed on 2.13, closing this PR, the changes should be visible in the next release.

[2020-08-13 18:27] #3766 closed

[2020-08-13 18:29] ashishkumar468 commented on #3767
Hi @Charlitos96  Can you add the link to your PR over here so that we can help finalize it?

[2020-08-14 08:55] ashishkumar468 commented on #3028
This has already been via #3046, feel free to re-open this issue if someone is still facing it

[2020-08-14 08:55] #3028 closed

[2020-08-14 08:57] ashishkumar468 commented on #3029
Seems to be working on current master/2.13, closing this one, feel free to re-open this if someone is able to re-produce it :)

[2020-08-14 08:57] #3029 closed

[2020-08-14 08:58] #3244 closed

[2020-08-14 09:00] ashishkumar468 commented on #3218
Has anyone been able to reproduce this issue on the latest commits?

[2020-08-14 09:01] ashishkumar468 commented on #3214
Not seeing this issue on the latest master, closing this issue for now

[2020-08-14 09:01] #3214 closed

[2020-08-14 09:03] ashishkumar468 commented on #3092
@nicolas-raoul  are you still facing this issue on one of the latest commits?

[2020-08-14 09:05] ashishkumar468 commented on #3051
Uploads have been refactored, should not happen on latest commits, also without the logs there is nothing where we could look specifically for this issue, closing this issue, feel free to re-open if someone is able to reproduce this

[2020-08-14 09:05] #3051 closed

[2020-08-14 09:07] ashishkumar468 commented on #3030
Nearby has been refactored and I have verified that this does not exist on latest commits. Feel free to re-open this if someone faces this again :)

[2020-08-14 09:07] #3030 closed

[2020-08-14 09:14] ashishkumar468 commented on #3289
Closing this issue because there are no logs tod debug. My guess is that because of improper DB migrations which has been handled properly in 2.13/master. Closing this issue for now

[2020-08-14 09:14] #3289 closed

[2020-08-14 09:17] ashishkumar468 commented on #2125
Not able to reproduce this on latest commits, closing the issue

[2020-08-14 09:17] #2125 closed

[2020-08-14 09:19] ashishkumar468 commented on #2236
Could not reproduce this on the latest commits, closing this issue for now. Feel free to re-open if someone manages to reproduce this :)

[2020-08-14 09:19] #2236 closed

[2020-08-14 09:20] ashishkumar468 commented on #2310
Contributions have been refactored, should not happen on latest commits. Closing this issue, feel free to re-open if someone manages to reproduce this again.

[2020-08-14 09:20] #2310 closed

[2020-08-14 09:23] ashishkumar468 commented on #2627
Seems to be a very old issue, seeing the logs I can confirm that the fix has been added as a part of backend-overhaul. Closing this issue

[2020-08-14 09:23] #2627 closed

[2020-08-14 09:24] #2652 closed

[2020-08-14 09:25] ashishkumar468 commented on #2693
@nicolas-raoul  are you still seeing this issue?

[2020-08-14 09:27] ashishkumar468 commented on #2716
As the logs are not added and considering the issue has been marked before backend overhaul (which aimed to fix such issues), closing this one.

[2020-08-14 09:27] #2716 closed

[2020-08-14 09:30] ashishkumar468 commented on #2026
Seems to ve very old, also I can confirm from the logs that this has been fixed. Closing this issue

[2020-08-14 09:30] #2026 closed

[2020-08-14 09:32] ashishkumar468 commented on #2078
@nicolas-raoul  are you still facing this issue on latest commits?

[2020-08-14 09:34] ashishkumar468 commented on #1170
As we have no logs and considering uploads have been refactored to handle such errors, closing this issue

[2020-08-14 09:34] #1170 closed

[2020-08-14 09:35] #1216 closed

[2020-08-14 09:37] ashishkumar468 commented on #1589
A DB migration unhandled exception, handled in the latest commits, seems to very very old, closing this one

[2020-08-14 09:37] #1589 closed

[2020-08-14 09:38] ashishkumar468 commented on #1694
Seems to be very old and handled in the latest commits, closing this issue

[2020-08-14 09:38] #1694 closed

[2020-08-14 09:39] #1941 closed

[2020-08-14 09:41] ashishkumar468 commented on #167
Solved in latest commits, closing this one, feel free to reopen if some one is facing this again

[2020-08-14 09:41] #167 closed

[2020-08-14 14:20] nicolas-raoul commented on #3218
@ashishkumar468 I am having so many failed upload with recent versions, but retry always works perfectly. I guess this can be closed if nobody manages to reproduce with the latest version.

[2020-08-14 14:31] nicolas-raoul commented on #3092
Seems fixed :-)

[2020-08-14 14:31] #3092 closed

[2020-08-14 14:33] nicolas-raoul commented on #2693
I have not seen this for a very long time.

[2020-08-14 14:33] #2693 closed

[2020-08-14 14:49] nicolas-raoul commented on #2078
The pictures still swap in the order that their upload finish, but at least they do not swap while uploading.

[2020-08-14 15:11] nicolas-raoul commented on #3871
Hi @VibhorChinda :-)
Did you find some good issues to fix?

[2020-08-14 15:39] nicolas-raoul opened #3900 ""Images Used" and "Thanks Received" erroneously at zero"
**Steps to reproduce:**

1. Log into an account with several images used and several thanks.
2. Go to Achievements.
3. "Images Used" and "Thanks Received" show 0

**Commons app version:**

2.12.3

**Query**

https://tools.wmflabs.org/urbanecmbot/commonsmisc/feedback.py?user=Syced gives:

[code]

[2020-08-15 07:41] ankitadhiman003 commented on #3361
@neslihanturan Can I work on this issue?

[2020-08-15 16:23] VibhorChinda commented on #3871
Yes I have one issue assigned to me will probably start working on it next week. Was not able to give time due to college exams and some health related issues.

[2020-08-16 03:09] madhurgupta10 opened #3901 "[GSoC Task] Add Filters to Leaderboard"
**Summary:**
- [x] Add Filters to Leaderboard

**Would you like to work on the issue?**
Yes

[2020-08-16 03:38] madhurgupta10 commented on #3895
@sivaraam @misaochan We realised that there is a need to authenticate the user when a certain operation like update avatar is performed, currently, there is no authentication and anyone can spam the API and change the avatars of any user.

We can't use Wikimedia Account authentication since it needs a username and password combo.

So the best method would be to generate a JWT using a secret key (o

[2020-08-17 07:46] ashishkumar468 commented on #3218
Hi @nicolas-raoul  Should we create a new issue for that, as this issue is related to retries?

[2020-08-17 07:47] ashishkumar468 commented on #2078
@nicolas-raoul  Just to confirm the order of contributions after the upload is based on uploadFInishedTimestamp instead of uploadStartTimestamp, is this what you meant?

[2020-08-17 09:32] nicolas-raoul commented on #3218
There is already an issue about the failures. My comment above was only saying that retry works :-)

[2020-08-17 10:07] ashishkumar468 commented on #3218
@nicolas-raoul  Ohh, okay, so we can close this issue right?

[2020-08-17 10:18] nicolas-raoul commented on #3218
I think it is OK to close it, yes.

[2020-08-17 10:18] #3218 closed

[2020-08-17 10:22] ashishkumar468 commented on #1688
The upload service has been refactored, the issue was the notifications not being updated properly, I verified that this does not happen on the master. Closing this issue, feel free to re-open if someone is able to reproduce this again

[2020-08-17 10:22] #1688 closed

[2020-08-17 10:26] ashishkumar468 commented on #1804
Seems to be fixed as a part of upload/nearby refactor

[2020-08-17 10:26] #1804 closed

[2020-08-17 10:28] ashishkumar468 commented on #1829
Not reproducible in the latest commits

[2020-08-17 10:28] #1829 closed

[2020-08-17 10:29] ashishkumar468 commented on #1959
Uploads have been refactored as a part of backend-overhaul, as the crash on notification click has already been merged. Closing this issue

[2020-08-17 10:29] #1959 closed

[2020-08-17 10:30] misaochan commented on #3218
For reference, the issue regarding failed uploads is #3247 .

[2020-08-17 10:31] ashishkumar468 commented on #966
As the issue is very old and we have had major refactors post this. I am not able to reproduce this in the latest commits, closing this issue

[2020-08-17 10:31] #966 closed

[2020-08-17 11:30] #1870 closed

[2020-08-17 11:31] misaochan commented on #161
Closed in #3851 .

[2020-08-17 11:31] #161 closed

[2020-08-17 11:43] #3868 closed

[2020-08-17 14:37] nicolas-raoul opened #3903 "Uploaded picture corrupt (part is grey)"
I uploaded a picture of a building, but unfortunately the bottom of the uploaded picture is grey: https://commons.wikimedia.org/wiki/File:%E6%9D%B1%E4%BA%AC%E5%A1%97%E6%96%99%E4%BC%9A%E9%A4%A8.jpg

I suspect that only the beginning of the file is uploaded, and then the upload gets considered as finished even though it is not. Depictions/categories/etc are set correctly.

The same actually happened

[2020-08-17 15:17] moraispgsi opened #3904 "Tiny survey about energy aware software practices."
Dear contributors,

would you be willing to fill in a short 5-10 min survey (https://forms.gle/F3YwtLVKtk47yVhC9) about energy-efficient mobile development practices in the context of my master thesis? It's about raising awareness of software energy practices and about introducing a new open-source tool for helping in that regard. Your input would be greatly appreciated. Thanks a lot!

Ricardo Mor

[2020-08-17 17:54] ashishkumar468 commented on #3903
@maskaravivek Could this be related with the chunk uploads?

[2020-08-17 18:59] sivaraam commented on #3895
Ok. IIUC, you're about to add authentication to the API to avoid bogus updates. That sounds nice. I do have a doubt,

I'm not really sure but wouldn't OAuth authentication help us here?

Is this process transparent? IOW, would the user have to generate the token manually or would it be done automatically? If done automatically, how would the secret key be kept secret?

[2020-08-20 05:47] nicolas-raoul commented on #3900
Another user reports the same issue:
[code]

[2020-08-20 15:33] misaochan commented on #3900
Hi @nicolas-raoul , does this happen in version 2.13 (beta release) too?

[2020-08-21 05:02] #3901 closed

[2020-08-21 08:40] #3896 closed

[2020-08-22 16:02] sid-the-ant opened #3907 "Contributing to the project"
Me and my team are looking for an open source project to contribute to, and this seems like a good starting point to work on.

I have a couple of queries, and I would be glad if someone would help us out.

1. Besides the ones listed in the CONTRIBUTING.md, are there anymore requirements for the contributions(mostly bug fixes) to be merged with the project?
 2. Are feature additions considered for

[2020-08-23 20:26] maskaravivek commented on #3900
Yes, I think it should be handled by the API itself.

I don't think anything changed in the API recently for production. @madhurgupta10 are any of your changes in production?

[2020-08-23 20:27] madhurgupta10 commented on #3900
@maskaravivek All my changes are in the leaderboard branch and the PR isn't merged to master yet to I don't think so

[2020-08-23 20:31] madhurgupta10 commented on #3900
Also, the tool is different for leaderboard and achievement so I guess it should not affect the APIs.

[2020-08-24 09:07] Kushagra2000 commented on #2940
Is this issue still open?

[2020-08-24 09:15] Kushagra2000 commented on #2874
Is this issue still open? If so, can I be assigned to complete this?

[2020-08-24 09:53] nicolas-raoul commented on #2940
The issue has been fixed. Thanks all! :-)

[2020-08-24 09:53] #2940 closed

[2020-08-24 12:59] misaochan commented on #3900
Another vote for handling it on the API's side. Should we open an issue there?

[2020-08-24 18:02] sivaraam commented on #3900
Suspicious indeed. Inferring from the usage of `print` in `[feedback.py](https://github.com/commons-app/commonsmisc/blob/37ae9c0628ea7d0e72824c6fded7120b1286332d/feedback.py)` it seems to be `python3`. But the result appears as if the source got executed using `python2` 🤔

For example, there's the [following lines at the end of `feedback.py`](https://github.com/commons-app/commonsmisc/blob/37ae9c0

[2020-08-24 18:07] sivaraam commented on #3900
I found the following in [Help:Toolforge/Python - Wikitech](https://wikitech.wikimedia.org/wiki/Help:Toolforge/Python), which seems to confirm that `python` might indeed be pointing to `python 2`:

[2020-08-25 02:31] nicolas-raoul commented on #3900
Great find @sivaraam !

Anyone with access (Vivek?), would you mind trying to copy the script, insert `#!/usr/bin/env python3` as its top line, and open https://tools.wmflabs.org/urbanecmbot/commonsmisc/feedback_yourcopy.py?user=Syced again? Thanks!

[2020-08-25 16:45] madhurgupta10 commented on #3895
@sivaraam

I am not sure, I read the docs on Wikimedia Authentication and we can't use it for this use case. If you have any idea on the implementation using Wikimedia auth do let me know.

The way I plan to implement is we have a JWT token generated with username as payload init, we sign this token with a secret,
On the app side, we generate this token automatically when the task is performed, th

[2020-08-25 17:00] misaochan opened #3909 "Upgrade targetSdk to 29"
As requested by the Google Play  dev console (required before Nov 2020). We should probably test it once over when we do the upgrade.

[2020-08-26 12:47] nicolas-raoul opened #3910 "Make spinners labels fit in portrait mode"
The spinners are an important part of the leaderboard, we want to allow everyone to quickly check each.
Unfortunately their labels are truncated in portrait mode on a rather wide (1080 pixels) smartphone, making them less discoverable and less usable:
![screen](https://user-images.githubusercontent.com/99590/91304705-e3e1b080-e7e4-11ea-96f0-1d0216efe1cb.png)
The labels definitely have space to fit

[2020-08-26 20:18] madhurgupta10 commented on #3910
@nicolas-raoul I will surely do it after the https://github.com/commons-app/apps-android-commons/pull/3905 is merged.

[2020-08-27 06:59] nicolas-raoul commented on #3903
50% of my 14 latest uploaded pictures are corrupt in the same way.
I can try any branch you want, to help debug the problem :-)

[2020-08-27 10:35] misaochan commented on #3903
@nicolas-raoul Have you tried master recently? If it still happens, logs would be great. :)

[2020-08-27 13:50] #2074 closed

[2020-08-27 15:04] nicolas-raoul commented on #3903
I just uploaded 5 pictures and it worked (latest master) :-)
I close for now and will only reopen if it happens again.

[2020-08-27 16:44] arishta commented on #2874
My team and I were looking for issues to resolve and this seems like a good starting point. If this issue is unassigned, can it be assigned to us?

[2020-08-27 16:44] arishta commented on #3101
My team and I were looking for issues to resolve and this seems like a good starting point. If this issue is unassigned, can it be assigned to us?

[2020-08-27 16:45] arishta commented on #3434
My team and I were looking for issues to resolve and this seems like a good starting point. If this issue is unassigned, can it be assigned to us?

[2020-08-27 23:40] nicolas-raoul commented on #3101
@arishta It is yours!
Please checkout @harith96's pull request, merge the current master into it, test it, then submit a pull request :-)

[2020-08-27 23:44] nicolas-raoul commented on #3434
@TejaswiKarasani Are you still working on this? :-)

[2020-08-27 23:53] #3910 closed

[2020-08-28 02:13] TejaswiKarasani commented on #3434
Feel free to unassign it @nicolas-raoul :)

[2020-08-28 04:31] nicolas-raoul commented on #3434
@TejaswiKarasani Thanks :-)
@arishta It is yours, please let us know about your progress every few days at least :-)

[2020-08-28 08:33] sivaraam commented on #3734
@misaochan Just a reminder that we might want to ensure that we fix this before the corresponding change goes into production.

[2020-08-28 12:00] #3874 closed

[2020-08-28 20:40] Soroyesodiq commented on #3898
I tested the app on both Android 7.0 and 9.0 devices and it worked perfectly fine.

[2020-08-29 12:44] misaochan commented on #3734
Hi @ashishkumar468 , did your PR go through? I can only seem to find the commit on your fork.

[2020-08-29 12:46] misaochan commented on #3898
Hi @Soroyesodiq , which version of the app did you test? Was it the current master?

[2020-08-29 13:11] ashishkumar468 commented on #3734
@misaochan I have raised a PR for the same on master, 2.13 anyways did not have the original change

[2020-08-29 14:46] nicolas-raoul commented on #3903
Unfortunately the problem happened again with the latest master (2.12.3-debug-master~df209e752): https://commons.wikimedia.org/wiki/File:Evening_walk_in_Shirokane_-_sushi_restaurant.jpg
My Internet connection is rather slow, that might trigger it? I expect that many people need to upload on similar connections, though.

[2020-08-29 22:01] madhurgupta10 commented on #3907
@sid-the-ant Hi welcome, you can look for issues with **good-first-issue** tag and get them assigned to you, regarding new features, you can always create a new issue and based upon the discussion a new feature could be implemented :)

[2020-08-30 08:16] Soroyesodiq commented on #3898
I tested it on both version 2.12.3-debug-master and the current android play store version

[2020-08-30 14:08] madhurgupta10 commented on #2857
Closing this one as it is resolved with #3912

[2020-08-30 14:08] #2857 closed

[2020-08-31 09:41] fnordson opened #3914 "App Crash on Login"
**Summary:**

Login leads to crash of app

**Steps to reproduce:**

Start App
Type in login data.
Hit "login" button.

**System logs:**

[code]

**Device and Android version:**

ANDROID_VERSION=7.1.1
PHONE_MODEL=Moto G Play

**Commons app version:**

APP_VERSION_CODE=561
APP_VERSION_NAME=2.12.3

**Would you like to work on the issue?**

I don't have the qualification to work on this issue

[2020-08-31 13:41] nicolas-raoul commented on #3903
Below is the log for this corrupted upload: https://commons.wikimedia.org/wiki/File:Strange_eggplant.jpg
[code]

[2020-08-31 15:45] misaochan commented on #3766
Hi @matkoniecz , this should be out in our current beta release, v2.13.1. Could you please register for beta testing and let us know if it works for you? Thanks!

[2020-08-31 16:00] #3734 closed

[2020-08-31 16:04] misaochan commented on #3757
Hi @PaulinaQuintero , do you have an update on this?

[2020-08-31 16:36] misaochan commented on #3914
Hi, this bug should have been fixed in v2.13.1. Could you register for beta testing and let us know if it fixes the problem for you? Otherwise, the new version should be available to everyone by the end of the week (if everything goes well).

[2020-08-31 16:41] fnordson commented on #3914
Sure.
How do I register for beta?

[2020-08-31 16:53] fnordson commented on #3914
I installed the Beta but the problem still occurs.
From the crash log I've send:

APP_VERSION_CODE=775
APP_VERSION_NAME=2.13.1
ANDROID_VERSION=7.1.1
PHONE_MODEL=Moto G Play
STACK_TRACE=java.lang.NullPointerException: Attempt to read from field 'java.lang.String android.accounts.Account.name' on a null object reference
	at fr.free.nrw.commons.contributions.ContributionsFragment.setUploadCount(Contr

[2020-08-31 16:54] fnordson commented on #3914
@misaochan

I installed the Beta but the problem still occurs.
From the crash log I've send:

APP_VERSION_CODE=775
APP_VERSION_NAME=2.13.1
ANDROID_VERSION=7.1.1
PHONE_MODEL=Moto G Play
STACK_TRACE=java.lang.NullPointerException: Attempt to read from field 'java.lang.String android.accounts.Account.name' on a null object reference
at fr.free.nrw.commons.contributions.ContributionsFragment.setUpload

[2020-09-01 02:40] ashishkumar468 commented on #3762
Hi @robdjq  Are you still working on this issue?

[2020-09-01 02:55] ashishkumar468 commented on #3914
This seems to be a different one from the one mentioned in the original issue log, @fnordson So just to confirm, you are able to login in successfully but as soon as you get logged in, the app crashes?

[2020-09-01 05:01] maskaravivek commented on #3903
Yes, this is due to my recent changes. I will try to fix it as soon as possible.

[2020-09-01 05:10] maskaravivek commented on #3903
@nicolas-raoul I have added a fix for it but I wasn't able to reproduce the issue(as I couldn't replicate flaky internet situation). It would be great if you could help in testing #3916

[2020-09-01 07:18] matkoniecz commented on #1511
Relevant PR is merged but it appears to be not working.

I just got blocked (block for proxy apis because I tried to upload image using Flixbus WiFi), and attempts to upload image failed with "Failed" showing after image was uploaded and no feedback why it failed.

I noticed what is happening only because I tried to upload directly from Wikimedia Commons website

[2020-09-01 07:53] neslihanturan commented on #1511
@matkoniecz as far as I understand, your account was unblocked but just the proxy you tried was blocked? We may need to create a new issue for this. I think the responses for account blocks and proxy permissions are different. User shouldn't be displayed "your account is blocked" message in this case, they should be shown something like  "you can not edit from this network"

[2020-09-01 08:02] matkoniecz commented on #1511
"your account was unblocked but just the proxy you tried was blocked" - maybe. As I understand I was hit by global IP block ( https://meta.wikimedia.org/wiki/Global_blocks ) targeting range that included 176.12.107.132 - I see no blocks in https://commons.wikimedia.org/wiki/Special:BlockList?wpTarget=User%3AMateusz+Konieczny&blockType=&limit=50&wpFormIdentifier=blocklist

I was able to bypass bloc

[2020-09-01 08:04] revi commented on #1511
You could simply display the block message and people should be able to read and fix the problem (if the network is spooky, change network, if your account is gone, use web interface to submit an appeal). I am not sure if you have different api message for hard IP block (usually for OPs and worst of the worst user on the net) and the account block. Proxies also get blocked as if they're vandals.

[2020-09-01 08:09] neslihanturan commented on #1511
Hmm yes we can redirect user to web interface for ip block extemption thing too. I saw this kinds of messages at the time Wikipedia was blocked in Turkey and I had to use VPN, and it was different from "your account is blocked message".
a- If we have such a distinct answers about blocks, we should inform user about the reason. We should exclusively create an issue for this task.
b- If both has the

[2020-09-01 10:33] fnordson commented on #3914
@ashishkumar0207

Just before the app disappears and the crash report pop-up comes up, I think I can see a small text saying that the login was successful. It's just too fast everything and I'm not sure if the text was there the last time.

From my standpoint it looks like the same behaviour:
Start App
Type in login data.
Hit "login" button.
App disappears and crash report pop-up comes up.

[2020-09-01 14:17] misaochan opened #3917 "User unable to select camera or gallery button"
From our google groups forum:

-- Technical information --
API level: 29
Android version: 10
Device manufacturer: Xiaomi
Device model: POCO F1
Device: beryllium
Network type: wifi
App version name: 2.12.3~dc08a5e88

![IMG_20200901_164422](https://user-images.githubusercontent.com/3611199/91862619-8e5c4680-ecb1-11ea-8e73-d1d9bfac21a0.jpg)

From the screenshot it seems like his contributions are not

[2020-09-01 14:52] madhurgupta10 opened #3918 "Increase Code Coverage for Profile Activity"
**Summary:**
![Capture](https://user-images.githubusercontent.com/30932899/91867093-d9b22d00-ec90-11ea-963c-4218874b0da5.PNG)

**Would you like to work on the issue?**
Yes

[2020-09-01 18:27] robdjq commented on #3762
@ashishkumar468 I couldn't solve it, please unassign it from me, sorry and thanks for the opportunity.

[2020-09-01 23:30] nicolas-raoul commented on #3762
@robdjq No problem, thanks for letting us know :-)

[2020-09-02 18:45] misaochan commented on #3790
From conversation with @ashishkumar468 : This will happen when the user presses the home button/app goes in background immediately after initiating upload before the app gets time to attach the service with the progress update notification. And only in Android O+.

[2020-09-03 01:28] TacoTheDank commented on #3880
I feel like upgrading from 19 to 23 is a bit too large of a jump. I think it would be better to first upgrade to 21, and in due time (when Google gets closer to dropping support for API 16-19) eventually upgrade to 23 (or maybe to 22 and then 23).

[2020-09-07 02:50] nicolas-raoul commented on #3769
I uploaded a lot of pictures via Nearby yesterday, and none of them was correctly linked from P18.
Example log:
[code]
The problematic part is `Image location and nearby place location mismatched, so Wikidata item won't be edited`. It is clearly wrong as the image https://commons.wikimedia.org/wiki/File:Embassy_of_the_Czech_Republic,_Tokyo.jpg has coordinates only 43 meters from the Wikidata item:

[2020-09-07 02:57] ashishkumar468 commented on #3769
Possible Duplicate of #3856 , which has been fixed and merged in 2.13-release

[2020-09-07 03:26] nicolas-raoul commented on #3769
Indeed, it works in branch 2.13-release, thanks a lot! :-)

[2020-09-07 03:27] #3769 closed

[2020-09-10 17:10] misaochan commented on #3900
Can confirm that this issue still happens. I don't have access to the tool. @maskaravivek @madhurgupta10 ?

[2020-09-10 17:19] misaochan opened #3919 "[2.13-release Upload showed that it failed, but actually went through"
**Summary:**

I uploaded https://commons.wikimedia.org/wiki/File:Shorncliffe_Pier.jpg . On the contributions screen, it first displayed the upload as failed, then displayed the successful upload eventually.

Upload was a normal upload via Gallery FAB.

**System logs:**

[code]

**Device and Android version:**

Android 10 Samsung Galaxy S9

**Commons app version:**

2.13-release branch

**Screen-sh

[2020-09-10 17:32] misaochan opened #3920 ""Send Log File" does not collect updated logs"
**Summary:**

Recently I've noticed that the "Send Log File" feature does not collect the recent logs. The last one that I sent only collected up to 3rd September, which is pointless for actually finding the source of a problem.

**Steps to reproduce:**

Settings > Send Log File, then check the files generated

**Device and Android version:**

Android 10, Samsung Galaxy s9

**Commons app version:*

[2020-09-10 17:37] misaochan opened #3921 "[2.13-release] Logout does not work"
**Summary:**

Tapping "Logout > Yes" does not actually log me out now.

More specifically, it seems like I am technically "logged out" but it is not reflected in the UI. Instead of being brought back to LoginActivity I am in Contributions still, with a bunch of images that are not mine.

**Device and Android version:**

Android 10, Samsung Galaxy s9

**Commons app version:**

2.13-release

[2020-09-11 02:37] nicolas-raoul opened #3923 "2.13.1: "Back" does nothing in Nearby in particular circumstance"
2.13.1-debug-2.13-release~624d351d4
I sent a log with the same title.

I actually did not open the app's home activity at all today, I only shared pics to the app. After doing something else I opened the app, it opened on Nearby (maybe the state at which I left it yesterday?). I pressed "Back" but it did nothing, not exiting the app, not going to contributions. I pressed Back many times, same abse

[2020-09-11 03:12] heinrich5991 opened #3924 "Shows "Location not available" despite GPS being on in Nearby tab"
**Summary:**

The app shows "Location not available" in the Nearby tab, even though location is enabled for the app and the precise location is also available (another app can display the exact position).

**Steps to reproduce:**

1. Make sure that you have accurate location enabled and available, e.g. by starting a navigation on osmand.
2. Clear data of the app, start it.
3. Go through introducti

[2020-09-11 03:14] nicolas-raoul opened #3925 "2.13.1: Upload really failed, but "Retry" does not seem to do anything, pics actually not uploaded"
2.13.1-debug-2.13-release~624d351d4

- On a fast Internet connection, I uploaded two sets of pictures, all with せたかや未来の平和館 in the title.
- They all failed (which is strange too by the way).
- When I tapped the "retry" icon on any of them, nothing happened. I tapped several times.
- Scrolling up does not show more pics.
-  On the Commons website, I don't see the pics in my contributions.

![Screens

[2020-09-11 03:17] nicolas-raoul commented on #3924
I noticed that too. It happens only the first time you open Nearby, right?

[2020-09-11 03:20] ashishkumar468 commented on #3924
Actually yes, this happens when the last known location is null. Enabling location does not always mean that we have the location. So in that case, when we do receive the location, which happens almost instantly if the permission is enabled, we use the location to show nearby pins.

[2020-09-11 03:21] heinrich5991 commented on #3924
No, this happens every time. This is not a new phenomenon, it also happened when I tried using the app 1-2 years ago.

In my test, another app (osmand) was constantly showing the correct location.

[2020-09-11 03:23] ashishkumar468 commented on #3924
Hey @heinrich5991 , so even after allowing location permission, nearby does not work for you?

[2020-09-11 03:26] heinrich5991 commented on #3924
Yes, this is correct.

[2020-09-11 03:27] ashishkumar468 commented on #3924
@nicolas-raoul  Do you face the same issue?.
@heinrich5991  Would it be possible for you to share the app logs?

[2020-09-11 03:30] heinrich5991 commented on #3924
Had to figure out how to filter it to just that app. From the point when I click on "Nearby" (I do it twice in the log). Looks interesting, an exception is thrown.

[code]

[2020-09-11 03:31] heinrich5991 commented on #3924
Oh, might also be interesting (don't know if this makes a WONTFIX): The device doesn't have Play Services or MicroG installed.

[2020-09-11 03:43] adizcode commented on #3361
Hi, I'd like to contribute. Could I get a few pointers on how to get started?

[2020-09-11 03:47] heinrich5991 commented on #3924
Exception seems to be expected by the code

https://github.com/commons-app/apps-android-commons/blob/3f23ea0723d2745e26bc9051defab87b4df3bfef/app/src/main/java/fr/free/nrw/commons/location/LocationServiceManager.java#L61-L75

called at

https://github.com/commons-app/apps-android-commons/blob/3f23ea0723d2745e26bc9051defab87b4df3bfef/app/src/main/java/fr/free/nrw/commons/location/LocationServiceMan

[2020-09-11 03:47] heinrich5991 commented on #3924
But it seems that the GPS provider isn't called when the network provider fails due to the short-circuiting of &&. Is that the bug?

[2020-09-11 03:51] nicolas-raoul opened #3926 "Upload fails immediately. App freshly reset, fast Internet"
2.13.1

I have sent a log with the same title.
I can reproduce if you need

Logcat
[code]

[2020-09-11 04:23] nicolas-raoul commented on #3924
@ashishkumar468 not same as it only happens the first time for me, sorry for the noise! 😅

[2020-09-11 07:50] sivaraam commented on #3921
Possible duplicate of #3547

[2020-09-11 18:31] misaochan commented on #3926
@nicolas-raoul , do you mean that the upload failure is completely reproducible for you?

[2020-09-12 02:21] nicolas-raoul commented on #3926
Yes. It does not happen all the time but I was able to reproduce it now. I just sent a log 🙂
Sorry if it is a bug already fixed on master.

[2020-09-13 08:48] madhurgupta10 opened #3929 "Add Test for Level Controller for Achievements"
**Summary:**
Add Test for Level Controller for Achievements

**Would you like to work on the issue?**
Yes

[2020-09-14 01:31] #3929 closed

[2020-09-14 11:00] arishta commented on #2874
Can this issue be assigned to me and my team?

[2020-09-14 11:11] #3626 closed

[2020-09-14 11:11] #3639 closed

[2020-09-14 11:11] #3914 closed

[2020-09-14 15:20] fnordson commented on #3914
@misaochan Why has this been closed?
Is it supposed to be fixed (it isn't on my phone)?
Fixed in the next version?

[2020-09-14 18:45] misaochan commented on #3914
The associated PR has been merged, so the issue is auto-closed. It will be released in the next hotfix, which should be soon.

[2020-09-15 19:09] sivaraam commented on #3179
Re-opening as this issue seems to have been closed by mistake.

[2020-09-15 19:09] maskaravivek commented on #746
Here are the changes that I am making for the remaining pieces of this feature:

1. Offline mode toggler in the toolbar
2. Enabling offline mode would not upload image even when online
3. When in offline mode, Category Selection Fragment won't be shown, and any image processing which requires internet will be skipped
4. As soon as the user disables the offline mode sync will start to sync all imag

[2020-09-15 19:27] sivaraam commented on #746
So, "limited-connection" mode had turned to "offline" mode now. It's a little weird because I see our app's primary purpose as uploading images and then to browse them. So, a "Offline" mode sounds contradictory right in it's name. I didn't get this feeling for "limited-connection" mode. We should like think about the name 🤔

This sounds a little off to me. So if a user enables offline mode, they w

[2020-09-16 03:03] ashishkumar468 commented on #3179
@sivaraam  This has been fixed via #3913. Does that not fix the issue for you?

[2020-09-16 05:10] maskaravivek commented on #746
@sivaraam Sorry, for the confusion. I have updated the scope based on your comment.

[2020-09-16 19:03] sivaraam commented on #3179
#3913 brings back the old case-sensitive behaviour. This issue is about making category search case-_insensitive_ which is still an [open question](https://github.com/commons-app/apps-android-commons/issues/3179#issuecomment-612052320), to my understanding.

[2020-09-16 19:34] sivaraam commented on #746
Nice. I just have one clarification for now:

Does this apply only for mobile data or also for Wi-Fi? I'm mostly just trying to get a refined meaning for "online" here. My understanding is that this should happen only for mobile-data per https://github.com/commons-app/apps-android-commons/issues/746#issuecomment-647369932:

[2020-09-17 08:35] maskaravivek commented on #746
For now, limited connection mode if enabled would be effective on any network the user might be using. In the future, we can have another set in the Settings page where he can define his preference.

[2020-09-17 15:38] misaochan commented on #746
Makes sense to me @maskaravivek .

- Additionally, as per https://github.com/commons-app/apps-android-commons/issues/746#issuecomment-647369932 : Not automatically download any images to populate Contributions list, Explore, etc. Make sure they don't crash when you can't download, but perhaps display a placeholder image (@neslihanturan what is your thought on the placeholder that we can use?)

- A

[2020-09-17 16:18] neslihanturan commented on #746
Well, I could not find nice a CC0 placeholder file, so made one myself :). We can use this: https://commons.wikimedia.org/wiki/File:Placeholder_view_vector.svg

[2020-09-18 14:12] madhurgupta10 opened #3932 "Write Unit Tests for Welcome Activity"
**Summary:**
Welcome Activity only has Instrumentation Tests, so I want to write unit tests to increase code coverage.

**Would you like to work on the issue?**
Yes

[2020-09-18 15:05] #3932 closed

[2020-09-19 18:20] sivaraam commented on #1585
Since this issue is related to GitLab and WMF is conducting a GitLab consultation, I thought I'll bring it to the notice of people here :)

[GitLab consultation - MediaWiki](https://www.mediawiki.org/wiki/GitLab_consultation)

TL;DR: WMF is conducting a consultation on replacing Gerrit with GitLab. It's open to comments now. They are open to comments until Sep 30.

[2020-09-20 21:40] Daykeras commented on #3559
I'd like to try my hand at figuring out what's going on.

[2020-09-21 11:26] misaochan commented on #1585
Thanks for the heads up @sivaraam !

[2020-09-21 11:30] misaochan commented on #3559
Please feel free, @Daykeras !

[2020-09-24 07:01] egils-consulting opened #3935 "Feature request: enable creation of Wikidata item for advanced users"
I love finding and documenting all the treasure campsites of the world.
To do this more effectively I need an app to both create the wikidata item.and to enable uploading various types of photos to it e.g. P18 and preferably: P7418, P8517, P5252, P3451, P4717,

[2020-09-24 13:36] misaochan commented on #3935
Hi @egils-consulting , thanks for your suggestion! I agree that this feature could be useful, but a couple of concerns that I have about it:
- Creating Wikidata items is not really related to the core functionality of the app, which is based on making it easier to upload and browse images
- Vandalism could be a concern, especially as many of our app users might not be familiar with Wikidata

What

[2020-09-24 13:46] misaochan commented on #3547
Thanks for pointing me to this issue, should be fixed by #3649  .

[2020-09-24 13:46] #3921 closed

[2020-09-25 06:18] egils-consulting commented on #3935
Yeah, I found another venue that might be better suited, a fork of www.fruktkartan.se.

[2020-09-25 06:20] dpriskorn opened #3937 "Feature request: remember categories and suggest"
Remember last users categories and suggest them by default to the user

[2020-09-25 06:24] egils-consulting opened #3938 "Feature request: support adding new categories"
Images without categories are almost completely worthless to the community. New categories are sometimes needed when I upload lean-to shelters because I want to have a subcategory of e.g. "Lean-tos in Sweden" that does not yet exist.

I suggest adding a view that enables me to search for and create missing categories. It does not have to be in the upload-flow, but that is perhaps preferred.

[2020-09-25 06:28] egils-consulting opened #3939 "Bug: no fuzzy matching of categories"
searching categories requires me to type the name EXACTLY right to be able to find what I want.
Thats a bug IMO because I expected to find all "lean-tos*" when they typed "leanto" or "lean to" but now I get no results which is bad.

[2020-09-25 06:56] egils-consulting commented on #3939
It already has the permission. 7.1.2

[2020-09-25 06:57] egils-consulting commented on #3939
Restarting the app seemed to work.

[2020-09-25 07:11] sivaraam commented on #3939
This is a limitation with the category search API that the app uses. See also: #3179

[2020-09-25 07:19] egils-consulting commented on #3939
OK, I see. Then I suggest we work around the problem by letting the user add any category they want in addition to the ones found. That would effectively work around all this search issues. Trust the user to get it right.

[2020-09-25 07:49] ahsanz024 commented on #3353
any updates on this issue?

[2020-09-25 07:50] ahsanz024 commented on #3101
Any updates on this?

[2020-09-25 10:16] nicolas-raoul commented on #3353
There is no reply from Gone_Postal, it is unclear what they want. I think we can close this issue.
If there is any additional information that would make sense for us to upload, please feel free to open a new issue detailing exactly what it would add. Thanks all :-)

[2020-09-25 10:16] #3353 closed

[2020-09-25 12:57] #746 closed

[2020-09-25 14:01] misaochan commented on #3101
@arishta How are things going with this?

[2020-09-25 14:09] arishta commented on #3101
We are done with the designing part and currently in the middle of implementation.

[2020-09-25 14:20] misaochan commented on #3101
Thanks for the update!

[2020-09-25 14:21] #3781 closed

[2020-09-25 14:21] misaochan commented on #3781
2.13.2 released to beta.

[2020-09-25 19:58] robsonbbs commented on #3584
Can I take this?

[2020-09-26 00:39] nicolas-raoul commented on #3920
Is there a way to work around the problem?
For instance restarting the app?
Or maybe deleting the app's storage in the Android settings?

[2020-09-26 00:46] nicolas-raoul commented on #3584
@VibhorChinda Are you working on this? :-)

[2020-09-26 14:33] VibhorChinda commented on #3584
@nicolas-raoul Please feel free to re-assign the issue to @robsonbbs  :)

[2020-09-26 15:16] nicolas-raoul commented on #3584
@robsonbbs It is yours, please let us know about your progress every few days at least, thanks :-)

[2020-09-26 18:37] sivaraam commented on #3547
Sadly as noted in my [earlier comment](https://github.com/commons-app/apps-android-commons/issues/3547#issuecomment-614212820), that PR didn't fix the issue for me. I still observe the behaviour stated in the issue description :( I tried using 2.13.1.793~66f6e2e

[2020-09-27 18:38] sivaraam opened #3941 "Unable to report crash using ACRA"
**Summary:**
I'm using version 2.13.1.793~66f6e2e of the app on a Samsung SM-J111F running Android 5.1.1. When I face a crash when using the app, the ACRA pop-up shows up but when I enter a description and hit "Submit" the e-mail client doesn't seem to be opening up like it should. As a consequence I'm unable to report crashes using the ACRA window. Note that I use K-9 mail as my e-mail client and

[2020-09-27 18:55] madhurgupta10 opened #3942 "Write Test for Quiz"
**Summary:**
Write tests for Quiz package classes.

**Would you like to work on the issue?**
Yes

[2020-09-27 18:57] madhurgupta10 commented on #3942
@misaochan While writing test for QuizController I noticed that **context.getResources().getString()** is used to get Strings instead we can directly use **context.getString()** on context, this makes it easier to mock during the test, should I change this in the class?

[2020-09-28 04:54] maskaravivek commented on #3942
Yes, feel free to make this change. It won't affect the behavior.

[2020-09-28 14:19] misaochan commented on #3920
I am not familiar with a workaround. :/ But I have asked @ashishkumar468 to prioritize this.

[2020-09-28 14:40] misaochan commented on #3941
Hmm. Are you able to open K-9 mail with an intent from any other apps? Do you have any other email apps on your phone (not necessarily gmail) that you could test with to see if it works? We need to figure out if the issue is K-9 mail specific, or if it affects more than just one client (I know it works for gmail).

[2020-09-28 14:48] misaochan commented on #3547
Ah sorry, I didn't notice that. I am unable to reproduce this bug on a 5.1 emulator, wonder what could be causing it. Perhaps we should try to upgrade Room as macgills suggests.

[2020-09-28 18:13] sivaraam commented on #3941
The "Send log file" option in our app works fine with K-9 mail. I also remember that crash reporting worked fine with K-9 mail for the "[My Expenses](https://github.com/mtotschnig/MyExpenses)" app when I reported a crash a couple of days ago.

I actually installed two e-mail apps to check this one. One of those was Gmail. None of them work. I just see nothing after tapping on "OK" on the ACRA cras

[2020-09-28 18:27] sivaraam opened #3943 "Toggling the Telemetry opt-out option has no effect"
**Summary:**
In the app settings, when I'm unable to toggle the "Telemetry opt-out" option that's supposed to enable/disable the Mapbox telemetry. How many ever times I tap on it, it just remains enabled.

Also, in retrospect, I believe "Telemetry Opt Out" is kind of a contradictory name for the option as it contradicts the option description by conveying that enabling the setting means the user h

[2020-09-29 17:45] neslihanturan opened #3944 "App doesnt run on Samsung Galaxy A50"
**Summary:**
Current master does not run on Samsung Galaxy A50, Android 10. Shows nonsense error log:

[code]

[code]

[code]

[2020-09-29 17:51] neslihanturan commented on #3941
Possibly related:
![resim](https://user-images.githubusercontent.com/3127881/94596953-951cb000-0295-11eb-8d0d-feef7a90b10b.png)

[2020-09-29 17:52] ashishkumar468 commented on #3920
I verified the code and the official docs on ACRA, not sure how we could have added a bug in this because our code does exactly as they have mentioned in their docs

[2020-09-29 18:02] neslihanturan commented on #3762
After #3931 this should be closed.

[2020-09-29 18:02] #3762 closed

[2020-09-29 18:04] neslihanturan commented on #3893
Btw after #3891 , we won't have Explore and Search Activities.

[2020-09-29 23:48] nicolas-raoul commented on #3920
If everything is done according to the doc, it is worth reporting the issue at https://github.com/ACRA/acra/issues

[2020-09-30 12:49] misaochan commented on #3920
Does "Send Log File" use ACRA, though? ACRA is just for the crash reports, right?

[2020-09-30 15:44] misaochan commented on #3944
Are you building from AS, @neslihanturan ? The first log looks like a build issue, try cleaning and rebuilding?

[2020-09-30 15:50] misaochan commented on #3943
Can confirm, unable to toggle it off too on real device running Android 10.

I agree, but AFAIK we are simply following Mapbox's own requirements. If we are allowed to change it, that would be great. Should probably be a separate issue though. ;)

[2020-09-30 17:21] neslihanturan commented on #3944
I tried with fresh install + cleaning the AS. It shows me the login screen but it crashes as soon as I logged in. With no meaningful error at all:/

[code]

[2020-09-30 17:29] ashishkumar468 commented on #3920
My bad, I assumed this is done via ACRA, let me debug the code and get back, sorry for the confusion

[2020-10-01 07:46] sivaraam opened #3946 "Use a different setting for Mapbox telemetry opt-out"
**Summary:**
I believe "Telemetry Opt Out" is kind of a contradictory name for the option as it contradicts the option description by conveying that enabling the setting means the user has **opted out** of telemetry while that is not the case. To my understanding, enabling the setting means telemetry would be sent to Mapbox. So, we should use a better name for the setting too. My suggestion would

[2020-10-01 07:50] sivaraam commented on #3943
You're right. I opened #3946 for this. We can continue the discussion there.

[2020-10-01 07:55] sivaraam commented on #3946
@misaochan [writes](https://github.com/commons-app/apps-android-commons/issues/3943#issuecomment-701479162):

Interesting. They require us to give an option to opt-out but I don't remember any requirement for how Setting should be named [[ref](https://docs.mapbox.com/help/how-mapbox-works/attribution/#mapbox-maps-sdk-for-android)]. Did I miss anything? 🤔

[2020-10-01 09:03] darshan934 commented on #2874
Hello,
Can I clean up the remaining parts of this?

[2020-10-01 12:38] neslihanturan commented on #2874
Thanks for your intersts @darshan934 , @arishta and @FawziyahAlebiosu . I think before start to implement some changes, we need to discuss what has left from this issue and how we should proceed.

[2020-10-03 17:03] andrew-tc commented on #2528
Hi everyone! I'm new to contributing to OSS and I'd like to help with fixing this issue.

However, I tried this on the current master branch and API 25 emulator, but it seems I'm unable to repro it; there's no notification sound at all. May I know the current status of this report?

[2020-10-04 07:39] sumitkp18 commented on #253
Hi team,
This is my first time contribution.
I am interested to take up this issue, can I take it? or is someone working on it?

Also can someone help me understand the issue better.

[2020-10-04 13:32] nicolas-raoul commented on #253
Ah sorry this has been implemented already... also as a first contribution please choose a bug to fix, thanks :-) See https://github.com/commons-app/commons-app-documentation/blob/master/android/Volunteers-welcome!.md

[2020-10-04 13:45] nicolas-raoul commented on #2528
@andrew-tc Could you please try with API 26 emulator?

[2020-10-04 18:19] harshsaver commented on #2874
Hello, if the issue has not yet been solved, I would like to work on it!

[2020-10-05 06:44] neslihanturan commented on #2874
Hello everyone seems interested, please make sure you noted the remained parts of the issue (ie. related strings) along with your request to work on it. I am not sure if the issue is solved or not and I would like to discuss before you start working on it.

[2020-10-05 08:48] arishta commented on #2874
@neslihanturan
As mentioned by @FawziyahAlebiosu , there are strings which still contain 'success and failure' that need to be replaced.
We could start with that.

[2020-10-05 11:05] neslihanturan commented on #2874
Seems like a good start @arishta , thanks! What kind of replacements do you suggest? If @FawziyahAlebiosu is not interested anymore, you can start to work on this issue (since you were the first interested person after FawziyahAlebiosu). Otherwise, @FawziyahAlebiosu can claim the issue.

[2020-10-05 13:15] arishta commented on #2874
Here are the replacements that I suggest for these strings :
1. Replace "Login success!" with "You are logged in!", the latter sounds more user friendly.
2. Replace "Wallpaper set successfully" with "Wallpaper set", since I think the word "successfully" is redundant here.
3. Replace "Sending Thanks : Success" with "Thanks Sent!".

[2020-10-05 13:25] neslihanturan commented on #2874
Sounds good to me:)

[2020-10-05 18:30] sivaraam commented on #253
While I agree that bug fixes serve better as first time contributions, I do wonder about the following statement:

While we do clearly have support for adding descriptions in other languages (which is done) much of the discussion in this issue seems to be about showing other language descriptions in the media details view (which is _not_ done yet, to my knowledge). So, this issue is in a kind of a

[2020-10-05 21:07] fejd commented on #171
Just ran lint and got 1065 issues. To stop the inflow of new issues I'd suggest adding a lint baseline (https://developer.android.com/studio/write/lint#snapshot), and then fail builds that introduce new issues.

[2020-10-05 23:55] nicolas-raoul opened #3949 "Ability to show captions and descriptions in all entered languages"
Media details currently shows only one pair of caption/description (either in the user's locale or a fallback language).

It could be useful if there was the ability to see captions and descriptions in all languages were they are available.

It would show information similar to this (probably in a more mobile-friendly form):
<img width="661" alt="Screen Shot 2020-10-06 at 08 46 45" src="https://us

[2020-10-06 04:18] jidanni opened #3950 "Can't find upload button anywhere!"
The app description says it helps his upload pictures to Commons. However no matter how I look I just can't figure out how to upload anything in it. There's just no upload button in the menu or anything, even though I'm successfully logged in.

[2020-10-06 04:23] jidanni commented on #3950
Oh, I get it. It's that blue plus button that could very well end up on an exactly same color blue background so one could hardly notice it. Perhaps around it with a white circle.
![Screenshot_20201006-122038.jpg](https://user-images.githubusercontent.com/1230959/95158534-6723f800-07ce-11eb-9352-be08b23c7b33.jpg)
I would say also put an Upload entry in the menu,  but I'm an old-timer.

[2020-10-06 04:24] jidanni opened #3951 "Documentation for the upload button"
There is a 5-page tutorial that we see upon first using the app. The tutorial does not at all include telling the person to look for the big upload button on the lower right corner of the screen. It should!

[2020-10-06 04:40] jidanni commented on #230
Please give users the liberty to use device file names. Otherwise we are forced to use the desktop web page upload form.
Sir, give as many warnings as you want but still allow us this option.
Otherwise we are forced to type gibberish file names, much less valuable than the ones from our disk, because it's raining and we have to upload quickly before we get off the mountain where there is cell cove

[2020-10-06 04:48] jidanni opened #3952 "Can't see what we are typing when entering the title"
Here we see we can't see what we are typing when we are entering the title, unless we remember to push the "v" button.
![Screenshot_20201006-122723.jpg](https://user-images.githubusercontent.com/1230959/95160064-2f1eb400-07d2-11eb-95e9-e4e2042995f7.jpg)

[2020-10-06 04:50] jidanni commented on #3952
The pictures are overlaid upon the text box even though the text box cursor still appears, (not shown in this photo.)

[2020-10-06 05:13] ashishkumar468 commented on #3950
Hi @jidanni , Thanks for the suggestion. We are having a major ui-revamp which should address your issues. We will let you know when it goes to beta.

[2020-10-06 06:14] nicolas-raoul commented on #230
Do you really rename your pictures on your mobile device? Or do you mean that "DSCF00001467" is more valuable than "big plant on little plant"?

In my opinion, "big plant on little plant" is much better than "DSCF00001467".
Taking real-world example, what name below is most useful?

- https://commons.wikimedia.org/wiki/File:Dscf_(259503377).jpeg
- https://commons.wikimedia.org/wiki/File:Plant_in_t

[2020-10-06 06:20] nicolas-raoul commented on #253
@sivaraam Indeed I had only relied on the word "adding" and did not re-read the whole discussion before closing, sorry about that. Master already falls back to showing other languages, and allows to enter captions and descriptions in any number of languages. You are right that this issue is kind of awkward, so better I created a new issue about showing (captions and) descriptions in other language

[2020-10-06 06:20] #253 closed

[2020-10-06 09:05] jidanni commented on #230
P_20201006_153656_vHDR_On.jpg has both date and time in it. That's what my cell phone makes.

[2020-10-06 11:39] madhurgupta10 opened #3954 "Write Tests for Settings Activity"
**Summary:**
Write Tests for Settings Activity

**Would you like to work on the issue?**
Yes

[2020-10-06 13:36] #3942 closed

[2020-10-06 15:32] misaochan commented on #230
I really do not think this is an appropriate file title for a Commons upload? I am willing to change my mind if you can cite a source from reputable members of the Commons community stating differently.

[2020-10-06 16:17] neslihanturan commented on #325
For long time overrides arent reported. I think this is solved.

[2020-10-06 16:17] #325 closed

[2020-10-06 16:22] neslihanturan commented on #224
Hard to test this issue since I am not authorized to move images. But I suspect this is only because of we fetch uploads from database, not from server each time. There is a relevant issue that I will reference.

[2020-10-06 16:23] neslihanturan commented on #896
This one is solved, proviously

[2020-10-06 16:23] #896 closed

[2020-10-06 16:29] neslihanturan commented on #919
This should be fixed

[2020-10-06 16:29] #919 closed

[2020-10-06 16:41] neslihanturan commented on #939
Currently, it is only white. No flickering thumbnails exists.

[2020-10-06 16:45] neslihanturan commented on #1355
I just uploaded an image and categories are there. This should be solved.

[2020-10-06 16:45] #1355 closed

[2020-10-06 16:48] neslihanturan commented on #1630
It is not visible anymore :)

[2020-10-06 16:48] #1630 closed

[2020-10-06 16:51] neslihanturan commented on #1645
Now cancels work:)

[2020-10-06 16:51] #1645 closed

[2020-10-06 16:54] neslihanturan commented on #1656
This issue is outdated, now all of my searches are added immediately.

[2020-10-06 16:54] #1656 closed

[2020-10-06 16:55] #1721 closed

[2020-10-06 18:11] jidanni commented on #230
All I'm saying is the app should support the same file names as the desktop form does. If the desktop form says not allowed, only then should the app also say not allowed.
The app should not be changing policies on its own.

[2020-10-06 23:43] jidanni commented on #230
And in fact and in fact the desktop form comes with the filename pre-filled right in it.

So the app should at least have an expert mode, which does the exact same thing. Thanks.

[2020-10-07 00:09] nicolas-raoul commented on #230
Precisely, the Upload Wizard does not allow such filenames:
![screenshot from 2016-08-15 16-45-00](https://cloud.githubusercontent.com/assets/99590/17658602/bf373964-6307-11e6-9041-5735953a316f.png)
The Upload Wizard is the recommended tool to upload on desktop. Other upload tools exist, some with basic HTML upload fields which indeed keep the original filename, but they are not examples to follow

[2020-10-07 00:36] jidanni commented on #230
Fine, I guess they'll just keep spending their time trying to make new /regular expressions/ to match all kinds of such file names.

But just like the old saying goes a picture is worth a thousand words so it's going to be harder and harder to pack enough information into a small file name to distinguish it sooner or later.

 Anyway my experience is because I'm a home user with 2m / 64K ADSL there

[2020-10-07 09:26] lionuncle commented on #173
java.lang.SecurityException: Permission Denial: opening provider

Can somebody provide solution?

[2020-10-07 09:29] nicolas-raoul commented on #173
@lionuncle Is it happening in the Commons app?

[2020-10-07 10:21] neslihanturan commented on #1815
2020 update, this issue is still exists.

[2020-10-07 11:23] neslihanturan commented on #2049
This issue is solved.

[2020-10-07 11:23] #2049 closed

[2020-10-07 11:33] neslihanturan commented on #2077
2020 update, this issue still exists

[2020-10-07 11:47] #1816 closed

[2020-10-07 11:50] neslihanturan commented on #2440
This issue is solved.

[2020-10-07 11:50] #2440 closed

[2020-10-07 15:55] neslihanturan commented on #3845
I guess this issue is available/unassigned now

[2020-10-07 21:04] HezinTUKE commented on #3952
@jidanni hI ,  i want to  solve this problem, please assign me )

[2020-10-07 21:12] jidanni commented on #3952
Love to, but I can't because I'm not an admin.

[2020-10-08 06:35] neslihanturan commented on #3952
This issue is yours @HezinTUKE , what kind of solution is in your mind?

[2020-10-08 18:11] sivaraam opened #3956 "Participate in Hactober?"
[Hacktober](https://hacktoberfest.digitalocean.com/) is in progress and this year they've made it [opt-in](https://hacktoberfest.digitalocean.com/hacktoberfest-update) so interested projects have to add a 'hacktoberfest' repository topic.

Should we participate in Hactober by adding the topic?

[2020-10-09 17:00] misaochan commented on #3956
@sivaraam that looks cool! :) Would love to participate, the only thing is that this is a very busy time for the grantees. Would you or other volunteers be OK with handling the reviewing/testing of the PRs for Hacktober? If you are then I can add the topic.

[2020-10-09 17:13] misaochan commented on #939
Yup, this is solved.

[2020-10-09 17:13] #939 closed

[2020-10-09 20:23] ashishkumar468 commented on #3956
Sounds like a nice idea to me too :)

[2020-10-10 03:35] ashishkumar468 commented on #3944
@neslihanturan  This seems to be a migration error, you must have switched out from one of the release branches to master. As of now, our release branches are not always up to date with master and vice-versa

[2020-10-10 03:46] ashishkumar468 commented on #28
I am assuming this discussion was for nearby, closing this, feel free to open if I have misunderstood the issue

[2020-10-10 03:47] ashishkumar468 commented on #22
Seems to be fixed, feel free to re-open if this still exists on the latest releases

[2020-10-10 03:48] ashishkumar468 commented on #8
Seems to be implemented in the latest release, closing this issue, feel free to re-open if I have misunderstood

[2020-10-10 03:50] #118 closed

[2020-10-10 04:04] ashishkumar468 commented on #3698
@nicolas-raoul Are you still seeing this issue on the latest release branches?

[2020-10-10 04:12] ashishkumar468 commented on #3879
Hey @neslihanturan Are you still facing this issue?

[2020-10-10 04:12] ashishkumar468 commented on #3898
Hi @Soroyesodiq I am not seeing this issue in the latest release, or master, please verify if this still exists

[2020-10-10 04:13] ashishkumar468 commented on #3903
@nicolas-raoul  This seems to be fixed, although we do have a failure issue, I can't seem to produce this, do the latest commits by @maskaravivek not fix this for you?

[2020-10-10 06:28] ashishkumar468 commented on #4
My bad, Thanks @maskaravivek, I had accidentally closed this one

[2020-10-10 07:40] nicolas-raoul commented on #3903
I have not gotten this for a while, thanks all! :-)

[2020-10-10 07:40] #3903 closed

[2020-10-10 07:46] nicolas-raoul commented on #28
@ashishkumar468 Nearby only shows Wikidata items.

The goal of this feature is to display all existing Commons pictures, independently of Wikidata items.

For instance within a forest it would show me what places have a lot of pictures in Commons, and which places have no picture on Commons... even if Wikidata has nothing about this forest has zero Wikidata item.

[2020-10-10 07:47] ashishkumar468 commented on #28
My bad @nicolas-raoul, thanks for re-opening it :)

[2020-10-10 17:04] sivaraam commented on #3956
Sure! I'll do the best I can on helping with the PRs. 🙂

[2020-10-10 17:07] sivaraam commented on #3898
I believe the verification should be done by @matkoniecz

[2020-10-11 01:28] nicolas-raoul commented on #3790
I just got this by starting the upload process, and switching off the screen of my phone while on the depictions (or was it categories?) screen, then switching my phone's screen back on like 20 minutes later.

[2020-10-11 10:14] nicolas-raoul commented on #3698
I have not tried recently.

[2020-10-11 10:19] nicolas-raoul commented on #8
This feature is not present in the latest release, I have never seen this being implemented (but I could be wrong so please let me know if this is actually available).
The latest release only contains a feature that opens your map app at the location of the picture. It does not allow to pick a better location.

[2020-10-11 12:46] misaochan commented on #3956
Thanks @sivaraam , I have added the topic and the label. :) Please let me know if anything else is needed for us to join.

[2020-10-11 12:47] #3920 closed

[2020-10-11 14:03] nicolas-raoul commented on #3920
Thanks! :-)

Might be totally unrelated and a problem on my side, but I noticed this strangely cropped namespace in logcat:
<img width="139" alt="Screen Shot 2020-10-11 at 23 02 49" src="https://user-images.githubusercontent.com/99590/95680631-03f2f500-0c16-11eb-98fd-60de850140be.png">

[2020-10-11 14:15] arishta commented on #2874
@neslihanturan since @FawziyahAlebiosu does not seem to be active on this issue, can it assigned to me so that I can start working  on it.

[2020-10-11 14:17] neslihanturan commented on #2874
Please go ahead @arishta :)

[2020-10-11 14:43] nicolas-raoul opened #3959 "Gallery fetches metadata for 800+ pictures"
While uploading a picture, I noticed that the app keeps making tons of requests (several per second) to get metadata of some of my very old pictures, taken several years ago. I would have to scroll down 800 pictures to reach these pictures.
Logcat:
[code]
I noticed it on the branch for https://github.com/commons-app/apps-android-commons/pull/3916 but it might be happening in master too.

The app s

[2020-10-11 15:03] nicolas-raoul opened #3960 "Retry overwrites pic of same set with same title"
1) I uploaded a set of 2 pictures of a butterfly (top and side views), the top view of the butterfly failed, and the side view of the butterfly succeeded.

2) I pushed "Retry", and there was no error.

3) The app gallery was only showing the side view picture, so I checked my uploads at https://commons.wikimedia.org/w/index.php?title=Special:ListFiles&user=Syced and saw that the top view got overw

[2020-10-11 17:21] ashishkumar468 commented on #3267
Seems to be fixed, not reproducible in the latest releases. We have added placeholders for images while uploading and before loading from the internet. Closing this issue, thanks to everyone for the feedback and help :)

[2020-10-11 17:21] #3267 closed

[2020-10-11 17:23] ashishkumar468 commented on #2789
No more reproducible, closing this one :)

[2020-10-11 17:23] #2789 closed

[2020-10-11 17:25] ashishkumar468 commented on #2377
Happening no more on 2.13. Also as this is very old, closing this one, feel free to re-open if it happens again :)

[2020-10-11 17:25] #2377 closed

[2020-10-11 17:27] ashishkumar468 commented on #2002
@neslihanturan  I am able to login in Api 19, are you still seeing this issue?

[2020-10-11 17:28] ashishkumar468 commented on #831
This part of the code no more exists. closing the issue, thanks to everyone for feedbacks and support :)

[2020-10-11 17:28] #831 closed

[2020-10-11 17:30] ashishkumar468 commented on #1746
@nicolas-raoul  Does this issue still exists?

[2020-10-11 17:35] ashishkumar468 commented on #3898
@matkoniecz Are you seeing this issue in the latest release?

[2020-10-11 17:53] ashishkumar468 commented on #3923
@nicolas-raoul  I have raised a possible fix PR for this one, can you help test it please?

[2020-10-11 18:23] ashishkumar468 commented on #3651
Tagging @misaochan @neslihanturan @maskaravivek  for suggestions

[2020-10-11 18:30] ashishkumar468 commented on #237
@nicolas-raoul  Do the latest releases still have this issue?

[2020-10-11 18:31] ashishkumar468 commented on #1110
Can someone, probably @misaochan  confirm if this is still happening?

[2020-10-11 18:35] ashishkumar468 commented on #1438
Not reproducible to me on the current master. Feel free to reopen if this happens again:)

[2020-10-11 18:35] #1438 closed

[2020-10-11 18:37] ashishkumar468 commented on #1782
Is anyone still seeing this issue?

[2020-10-11 18:57] ashishkumar468 commented on #3698
Hmm, I can't seem to produce this, can you verify this please?

[2020-10-11 19:12] matkoniecz commented on #3898
2.13.2~757c7b008 - scrolling down (especially fast one) still triggers this

[2020-10-11 19:45] maskaravivek commented on #3791
This is no longer reproducible on master.

[2020-10-11 19:45] #3791 closed

[2020-10-11 19:45] maskaravivek commented on #1169
This got fixed after our backend overhaul.

[2020-10-11 19:45] #1169 closed

[2020-10-11 19:48] maskaravivek commented on #1746
@ashishkumar468 This refers to the old upload UI as far as I can remember. Feel free to reopen it if the issue persists.

[2020-10-11 19:48] #1746 closed

[2020-10-11 19:49] ashishkumar468 commented on #1746
Sure, Thanks @maskaravivek

[2020-10-11 19:49] maskaravivek commented on #1782
@ashishkumar468  This issue apparently got fixed after backend overhaul.

[2020-10-11 19:49] #1782 closed

[2020-10-11 19:52] maskaravivek commented on #2755
The app is no longer using this API. So i am closing this for now.

[2020-10-11 19:52] #2755 closed

[2020-10-11 19:52] ashishkumar468 commented on #3288
Seems to be fixed, closing this one, feel free to re-open if it gets reproduced :)

[2020-10-11 19:52] #3288 closed

[2020-10-11 19:55] ashishkumar468 commented on #2883
Can't reproduce on master, We've had major revamps and since this issue is old, I am safely assuming its fixed. Feel free to re-open if reproduced

[2020-10-11 19:55] #2883 closed

[2020-10-11 23:13] nicolas-raoul commented on #3698
I will reopen if I see that again :-)

[2020-10-11 23:13] #3698 closed

[2020-10-11 23:17] nicolas-raoul commented on #237
I just tried, and yes:
![Screenshot_20201012-081611_Commons](https://user-images.githubusercontent.com/99590/95692781-51498380-0c63-11eb-9a54-313dded604f6.jpg)

[2020-10-11 23:36] nicolas-raoul commented on #22
It is still happening unfortunately.
When I searched for trees in the app I saw this suspicious category: "Trees,nature..."
![20201012_082628](https://user-images.githubusercontent.com/99590/95693045-30822d80-0c65-11eb-87f9-2a14ed93725e.jpg)

Sure enough, Upload Wizard does not allow it:
<img width="657" alt="Screen Shot 2020-10-12 at 08 24 56" src="https://user-images.githubusercontent.com/99590/

[2020-10-12 03:10] ashishkumar468 commented on #3960
@nicolas-raoul  Did this happen in limited connection mode or in general?

[2020-10-12 03:14] ashishkumar468 commented on #3607
The discussed solution has already been implemented on the current master. Closing this issue, feel free to re-open if the issues comes up again.

[2020-10-12 09:31] #3943 closed

[2020-10-12 09:32] #3845 closed

[2020-10-12 09:34] misaochan commented on #3895
AFAIK we are not able to use OAuth. See https://phabricator.wikimedia.org/T179519

[2020-10-12 09:39] misaochan commented on #3651
Hmmm, I've never encountered this problem, it seems to be specifically for that particular Wikidata item?

[2020-10-12 09:40] misaochan commented on #1110
Nope, this seems to have been fixed in the overhaul.

[2020-10-12 09:40] #1110 closed

[2020-10-12 09:48] misaochan commented on #2434
Fixed in overhaul.

[2020-10-12 09:48] #2434 closed

[2020-10-12 11:36] nicolas-raoul commented on #3651
For all such Wikidata items I guess. Maybe use that item or rename the sandbox item momentarily, and before upload modify title (but not the label(s)) to prevent the problem seen at https://github.com/commons-app/apps-android-commons/issues/3651#issuecomment-613396737?

[2020-10-12 11:40] nicolas-raoul commented on #3960
My connection is slow, but I did not change any setting intentionally, so general I guess? How to see what mode I am using?

[2020-10-12 12:17] misaochan commented on #3960
If you were on a branch that had limited connection mode implemented, there would be a toggle on the upper right. Since there doesn't seem to be one in the screenshot, it appears to be general @ashishkumar468

[2020-10-12 20:22] anadi198 commented on #3952
Hello, I'm new here. I want to try and fix this issue so I was wondering if this issue is assigned or not.

[2020-10-13 13:29] sivaraam commented on #3952
Welcome @anadi198! Looks like @HezinTUKE is looking into this issue. Feel free to check out the other issues in this repo especially those labelled with "[good first issue](https://github.com/commons-app/apps-android-commons/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+label%3A%22good+first+issue%22+no%3Aassignee)" are a good place to start.

[2020-10-13 13:43] anadi198 commented on #3952
Will do, thanks for clarifying!

[2020-10-13 19:54] anadi198 commented on #3434
Hello, I'm new here and I was wondering if I could work on this issue..

[2020-10-14 01:06] nicolas-raoul commented on #3434
@arishta Are you still working on this? Please let us know about your progress :-)

[2020-10-14 06:31] rebeccachild74 commented on #3560
Can I be assigned this issue if nobody else is? Thank you!

[2020-10-14 12:26] arishta commented on #3434
@nicolas-raoul  My team and I are working on three issues of this app(including this) parallelly as part of our software development lab. We have completed the design phase of all the three issues, and are now proceeding towards the implementation part.

[2020-10-14 14:38] nicolas-raoul commented on #3560
No reply from HasanatJahan so I guess it is OK to take over.
@sonukushwaha403 Sorry for not telling you sooner... if you are still interested in this, please say so within 24 hours and we will assign it to you.
In case of negative reply or no reply from sonukushwaha403 within 24 hours, feel free to ask again and we will assign it to you, @rebeccachild74.

[2020-10-14 14:42] nicolas-raoul commented on #3434
@arishta Wonderful! Would you mind posting the results of the design phase? (on each of the 3 issues)
Thanks!

[2020-10-14 17:04] borisenkotim commented on #3951
I'd like to work on this

[2020-10-14 17:30] ashishkumar468 commented on #3951
It is yours @borisenkotim . Please share with us the changes you think you are going to make :)

[2020-10-14 18:13] sivaraam commented on #3898
I believe it's fine to make a test upload when you file it under the "[Test uploads](https://commons.wikimedia.org/wiki/Category:Test_uploads)" category and later nominate it for deletion.

Alternatively, @nicolas-raoul _might_ be able to provide you a useful image for upload if you want to got that route :)

[2020-10-14 18:22] arishta commented on #3434
@nicolas-raoul
So far we have completed the requirements gathering phase, the output of which is the SRS document attached here.
The next phase was the design and planning phase. Most of the discussion was summed up in forms, but we do have a high level design document that I have attached here.
[HLD.docx](https://github.com/commons-app/apps-android-commons/files/5380102/HLD.docx)
[SRS.pdf](https:

[2020-10-14 18:27] madisoncfallin commented on #1971
Is this still available? I'd like to work on it

[2020-10-14 20:35] madisoncfallin commented on #3584
Any chance I could take this over? :)

[2020-10-14 20:54] madisoncfallin commented on #3341
I just left a comment on anushka's PR, I'm interested in finishing it up.

[2020-10-14 20:55] borisenkotim commented on #3951
I would say there are multiple options to include this information in the tutorial. We could create a whole new slide with the button instructions and possible an image locating the upload button, or add this information to one of the slides of the tutorial, I was thinking the second slide. Maybe including it as another bullet point or as text above the image or at the bottom (below the bullet poi

[2020-10-14 21:12] borisenkotim commented on #3951
![Slide4AsATitle](https://user-images.githubusercontent.com/42623783/96045726-39baf800-0e27-11eb-9786-c1190520f41f.png)

[2020-10-14 23:42] jidanni commented on #3951
You need a big arrow, pointing to a big circle around the big upload button.
Using only words to describe it is not enough.

[2020-10-15 00:53] nicolas-raoul commented on #3584
@robsonbbs How is your progress so far? :-)

[2020-10-15 00:58] borisenkotim commented on #3949
I'd be willing to tackle this issue.

[2020-10-15 01:46] nicolas-raoul commented on #3949
Thanks a lot @borisenkotim it is yours :-) Please let us know about your progress every few days.

[2020-10-15 07:53] anadi198 commented on #3757
Hi, I would like to try and solve this issue. @misaochan
Also, for adding "Categories" there is already a tag inside strings.xml but for Depicts I could not find one. I could find Depictions though.. So I was wondering, if I add an extra string in strings.xml, won't we need to add that for all the translations? Do some steps need to be followed for that?

[2020-10-15 08:03] neslihanturan commented on #3757
Hi @anadi198 thanks for your interest. No we don't need to add translations for all these languages. They are translated explicitly, we only edit the default file.

[2020-10-15 08:15] nicolas-raoul commented on #1971
@madisoncfallin Thanks! Please first try to reproduce the issue by uploading a picture and let us know (including at what exact time/timezone you took a picture, uploaded the picture, what its EXIF contained, and what metadata appears on the image's page at https://commons.wikimedia.org)

[2020-10-15 08:26] anadi198 commented on #3757
Okay thank you for clarifying.

`tvTitle.setText(getString(R.string.step_count, callback.getIndexInViewFlipper(this) + 1,
                callback.getTotalNumberOfSteps()));`
So from what I've understood, I need to add ": Categories" and such inside those, and then put tvTitle inside a horizontal `LinearLayout` on the end side of which is the tooltip icon. Is that the correct way?

Also what do I

[2020-10-15 09:36] nicolas-raoul commented on #3898
@matkoniecz Feel free to upload these pictures: https://drive.google.com/drive/u/1/folders/1T5wfM16qb78XCvnf1Zunww4neg8BXJj6 :-) You can use each picture's filename as a title. Thanks!

[2020-10-15 23:13] borisenkotim commented on #3951
Here is a mock-up of doing it the way you described, note this would be adding another slide to the tutorial.
![image](https://user-images.githubusercontent.com/42623783/96194920-419a9b00-0f00-11eb-9991-f10d4f956ce8.png)
If we go this route I will spend some more time on the aesthetics of the arrow and circle. And currently I am using the home page screenshot that was posted on another thread, I p

[2020-10-16 00:10] jidanni commented on #3951
I would make it super obvious:
![e](https://user-images.githubusercontent.com/1230959/96198218-cdefa100-0f86-11eb-8bf5-0144d0a305ac.png)
(And add thicker red circle.)
Thanks.

[2020-10-16 00:53] borisenkotim commented on #3949
I just realized that since this is labeled as an enhancement issue, and I have less than 5 previous pull requests for this repo, I technically don't qualify to work on this.

[2020-10-16 01:31] rebeccachild74 commented on #3560
@nicolas-raoul could I be assigned to this issue?

[2020-10-16 01:37] nicolas-raoul commented on #3938
Note: Creating a category is an expert thing to do, and requires seeing very well what are the currently existing categories. Our category search/exploration is quite buggy at the moment, it must be fixed first.

[2020-10-16 01:42] nicolas-raoul commented on #3939
Creating a new category can not be a workaround when not finding the right category. Eacg category creation must be very well-thought and can't be done without knowing exactly what related categories already exist.

[2020-10-16 01:52] nicolas-raoul commented on #3949
Ah, you're right, thanks for your integrity! (same for #3951 I guess)
For now how about working on this bug instead? https://github.com/commons-app/apps-android-commons/issues/3681
Thanks a lot!

[2020-10-16 01:57] nicolas-raoul commented on #3950
Let's merge this into #3951

[2020-10-16 01:57] #3950 closed

[2020-10-16 04:20] borisenkotim commented on #3951
Here is an update on that
![image](https://user-images.githubusercontent.com/42623783/96212267-3c067a80-0f2b-11eb-8f42-1160e7fd5fcc.png)

Technically, since this was labeled as enhancement, I don't qualify to work on this issue. However, all that's left for me is doing the same for landscape. I already added this slide to the tutorial in the code, it was a simple process.

[2020-10-16 04:29] borisenkotim commented on #3681
I would like to work on this

[2020-10-16 04:30] jidanni commented on #3951
Okay, but the button itself still needs a circle added so later when it's on its own outside of the tutorial it will still contrast if it happens to be on in exactly the same color page as itself.

[2020-10-16 06:00] egils-consulting commented on #3938
OK, I understand. I should probably create the ones I need with a bot or something. There is 290 categories like "Lean-to in Härnösand Municipality" missing and ~20 missing for the Administrative areas also.

[2020-10-16 06:11] nicolas-raoul commented on #3938
@egils-consulting I see! I encourage you to use depictions too, the great thing is that they are perpendicular. For instance, for a picture of a lean-to in Härnösand Municipality, you would select two depictions: "lean-to" and "Härnösand Municipality" (that's all, no need to create a new depiction item).

[2020-10-16 06:29] egils-consulting commented on #3938
Thanks for the suggestion. Can I add depictions in the app?

[2020-10-16 06:31] rebeccachild74 commented on #3560
@nicolas-raoul After looking into this issue and testing thanking from the app, I think that the `source` field is already implemented to post with a new thank from the app, but the Thanks Log is not configured to show the source. I'll continue working on adding tags though, since other thanks entries display them, as seen below. Let me know what you think when you get a chance.

![image](https://

[2020-10-16 06:39] nicolas-raoul commented on #3938
Depictions are actually Wikidata items, so your feature request #3935 covers that :-)
It is quite rare to have to create a Wikidata item. For instance "lean-to" and "Härnösand Municipality" Wikidata items already exist, so no need to create one. The only situation would be if you encounter a notable place that does not have a Wikidata item yet, for instance a small school or a village townhall or

[2020-10-16 06:47] nicolas-raoul commented on #3560
Thank you for the investigation!

When tapping to send a thank, would you mind finding (and posting here) what web requests are sent?
A) by this app
B) by the Wikipedia app or mobile Wikipedia website
Thanks!

[2020-10-16 17:29] borisenkotim commented on #3959
Hi, I would like to give this issue a try.

[2020-10-16 17:34] madisoncfallin commented on #1971
@nicolas-raoul That will be difficult, I don't actually have an Android device easily available....Is there a way I could fake it in Android Studio?

[2020-10-16 20:06] Danejerosa1111 commented on #3361
Hi, I would like to work on this issue if nobody is assigned.

[2020-10-16 23:57] nicolas-raoul commented on #1971
Yes, it is actually easier in Android Studio, all web requests show up in logcat :-)

[2020-10-17 00:04] nicolas-raoul commented on #1971
In Android Studio, just download any picture from https://drive.google.com/drive/folders/1T5wfM16qb78XCvnf1Zunww4neg8BXJj6?usp=sharing and use for upload in the app. Thanks! :-)

[2020-10-17 00:41] rebeccachild74 commented on #3560
@nicolas-raoul

A) The request POST  `https://commons.wikimedia.org/w/api.php?format=json&formatversion=2&errorformat=plaintext&action=thank` is logged in the logcat output, but this is not making sense because no properties are passed. The thank can be seen in the log though so it was successful. I'm going to look into the logging of that more and see why it's not accurate.

B) POST `https://comm

[2020-10-17 02:04] nicolas-raoul commented on #3560
Maybe properties are passed in the POST body? In that case you would have to either:
- Run the app in debug mode, for instance with Android Studio, and put a breakpoint where the web request is sent.
- Use a network analyzer such as HttpCanary, it lets you see all details of the requests.

[2020-10-17 05:09] Jeewantha95 commented on #3954
Can i contribute?

[2020-10-17 13:25] nicolas-raoul commented on #3959
Thanks for asking, very good question, I investigated and actually the answer surprised me.
This has nothing to do with uploading, apparently.
It happens in the gallery (the main activity of the app, which shows your uploaded pictures).
The app seems to load metadata for all pictures I have ever uploaded, which is thousands.
When it has finished (it can take days), the behavior is not observed any

[2020-10-17 13:43] nicolas-raoul commented on #3923
Actually this issue has only happened once to me, so it is difficult to reproduce on any branch...

[2020-10-17 15:12] nicolas-raoul commented on #3959
I noticed that this fetching behavior also makes the home activity "flicker", the activity shows a brief white flash after each block of lines appears in logcat.

I made a [video](https://youtu.be/I0BNQVIEGak) showing the app and logcat, one hour after opening the app. In this video you can see the app busy downloading metadata for [a picture I uploaded 7 years ago](https://commons.wikimedia.org/w

[2020-10-17 18:05] madhurgupta10 commented on #3954
Hello, @Jeewantha95 I am already working on this one, you could start with issues listed as good-first-issue :)

[2020-10-17 18:33] sivaraam commented on #3341
@madisoncfallin We haven't heard from @318anushka in a while. So, feel free to take this up by addressing the pending review comments in the PR :)

[2020-10-17 19:09] sivaraam commented on #3434
Hi @arishta, we don't require contributors to write those documents for fixing issues. So, you could get right into fixing the issue (similar to the "implementation" phase in your process) and asking for help in that regard. Thanks!

[2020-10-17 19:39] arishta commented on #3434
@sivaraam Yes, I understand that. As I have said in the above comment, we have picked these issues as part of our software development lab in the ongoing semester, which requires us to follow all the steps in the given order, beginning from, requirements gathering phase to testing phase, mimicking how software development process actually happens in the real world. I posted the documents after @ni

[2020-10-18 09:24] nicolas-raoul opened #3967 "Cannot GET /en.wikipedia.org/v1/page/media-list/ ; RuntimeException: fileexists-no-change at uploadFileFromStash"
I have some trouble uploading a particular file. Maybe I mistakenly paused it, and also I noticed a "Wikipedia" symbol on it in gallery, it is the first time I see that symbol, not sure if related.
[code]

[2020-10-18 09:45] jidanni opened #3968 "But we may already be a Beta Tester"
In Settings > Feedback section:
`Become a Beta Tester...`
But we may already be a Beta Tester.
So the wording should say:
`Become a Beta Tester (if not one already)....`
Or else more fancy detection should be enabled.

[2020-10-18 09:49] jidanni opened #3969 "Recent Upload Limit not remembered"
1. In Settings, change Recent Upload Limit from 100 to 10.
2. Close the app.
1. Launch the app again.
1. Check the limit again.

It is back to 100.

[2020-10-18 09:54] jidanni opened #3970 "No setting to limit how many Contributions we see"
In settings there is a Recent Upload Limit setting.
Well, there should also be a Contributions Limit setting.
Or maybe they are the same thing.
1. Install the app
2. Login

On the Home screen, on the left, there are our thousands of contributions, covering many years.
We think, what a waste, we want to save bandwidth.
Why can't there just be a setting to show 10 of them. Sure we tried #3969.

[2020-10-18 11:53] jidanni commented on #3970
What's worse is apparently upon launching the app, each time, all the images are downloaded from the network again!

[2020-10-18 12:00] jidanni commented on #3969
Yes, other settings are successfully saved. Just not this setting.

[2020-10-18 12:06] jidanni opened #3971 ""I'll add details soon" checkbox"
Perhaps have a checkbox,
"I'll add more details soon"
 that appends those words to the description when uploading.
As most users won't have time when uploading in the field to make a perfect submission yet.

[2020-10-18 12:11] jidanni opened #3972 "Upload never completes with slow connections"
Please test uploading with a 2 megabyte image, over a household ADSL 2M/64K connection.

Yes, that is right, 64 KB upload speed.

You will see the upload never completes.

[2020-10-18 15:03] Prince-kushwaha opened #3973 "Losing filled data when screen rotate"
**Summary:**

In signup  form filled information is lossed when screen is rotated

**Steps to reproduce:**
Go to Login activity
click on signup
Fill signup  form  then rotated the screen

What did you expect the app to do, and what did you see instead?
In signup  form filled information is not lossed when screen is rotated

**Device and Android version:**
Device :Redmi Y3;

**Screen-shots:**

![Wh

[2020-10-18 15:05] Prince-kushwaha commented on #3973
i am working on this issue

[2020-10-18 15:20] sivaraam commented on #3967
I'm not sure about why you got the "Cannot GET ..." error. I just thought of clarifying that the Wikipedia icon for the image should've come from the implementation for #872 (done in PR #3783) for which we use [`media-list`](https://en.wikipedia.org/api/rest_v1/#/Page%20content/getContent-media-list) API to get a list of images associated with the corresponding Wikipedia article. Ideally, the icon

[2020-10-18 16:12] Prince-kushwaha commented on #3973
I want to work on this issue
assigned me

[2020-10-19 04:02] rebeccachild74 commented on #3560
I am still struggling to figure out the next steps for implementing this. I think the mobile site which includes tags in the thanks log hits a different endpoint than the android app and website. It looks like its making a post request when you hit the thank button and gets the "You thanked ___" html in response.
![image](https://user-images.githubusercontent.com/39253970/96399732-ec6ebb80-1183-11

[2020-10-19 04:29] nicolas-raoul commented on #3560
Any idea what `494208581` refers to? Maybe user Fae?
Could you please paste the whole request here? I believe you can right-click and copy as cURL. I hope tags can be found in that.

[2020-10-19 04:45] rebeccachild74 commented on #3560
`curl "https://commons.m.wikimedia.org/wiki/Special:Thanks/494253494" -H "User-Agent: Mozilla/5.0 (iPhone; CPU iPhone OS 11_0 like Mac OS X) AppleWebKit/604.1.38 (KHTML, like Gecko) Version/11.0 Mobile/15A372 Safari/604.1" -H "Accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8" -H "Accept-Language: en-US,en;q=0.5" --compressed -H "Referer: https://commons.m.wikimedi

[2020-10-19 05:55] nicolas-raoul commented on #3560
Strange, none of the parameters/headers seems to be about tags... maybe the matching is done server-side 🤔 Have a look around https://phabricator.wikimedia.org/diffusion/ETHA/browse/master/includes/ApiThank.php$99 (including other scripts in the same folder) and see whether anything is about tags.
If not, would you mind asking at https://www.mediawiki.org/wiki/Extension_talk:Thanks ?

[2020-10-20 04:59] rebeccachild74 opened #3974 "Add Documentation for Sending Thanks & Reviewing Content"
**Summary:**

The [commons-app documentation](https://github.com/commons-app/commons-app-documentation/blob/master/android/README.md) does not include any information about the review feature or about sending thanks. We should update it to help new developers get familiar with the app and increase the amount of people reviewing content through it.

[#3361](https://github.com/commons-app/apps-andro

[2020-10-20 08:47] nicolas-raoul commented on #3974
Thanks!
Documentation issues should ideally be on the tracker over there, but now that this one exists, let's use it, it's OK :-)

[2020-10-20 08:49] nicolas-raoul commented on #3973
It is yours, thanks! Please let us know about your progress every few days :-)

[2020-10-20 08:52] nicolas-raoul commented on #3972
I also have a super-slow connection sometimes.
Does it happen when uploading a single image, or only for sets of several images?
Are you using the alpha version? If not, can you try it? And use Settings>Send log when that happens.
Thanks!

[2020-10-20 08:56] nicolas-raoul commented on #3971
Very interesting idea!
Ideally there would also be a way on desktop browser to see what images need to be perfected.

A possible implementation which does not make the Android UI even more crowded that it is already:
1) On mobile: When you have no time, just enter nothing in the "description" field.
2) On desktop: Go to a special webpage that lists all of your pictures that lack a description, new

[2020-10-20 09:04] nicolas-raoul commented on #3969
Could you please try the alpha? I think the "Recent Upload Limit" setting does not exist anymore, only a few images are loaded, and only if you scroll down, more are loaded. If I understand correctly.

[2020-10-20 09:11] nicolas-raoul commented on #3968
I actually don't see this in the dev branch I use... maybe the UI has changed and this is not needed anymore?

This is actually a good first issue for anyone who wants to take it, the first tasks is to check whether the UI includes that string or not, in both master and the maintenance branch. Thanks!

[2020-10-20 12:16] jidanni opened #3975 "F-Droid logo is much bigger that that for Google Play"
On https://github.com/commons-app/apps-android-commons the F-Droid logo is much bigger that that for Google Play.

![1710-1](https://user-images.githubusercontent.com/1230959/96584476-da6e5380-1310-11eb-9566-0005aa21d5da.jpg)

[2020-10-20 12:18] jidanni commented on #3975
Compare https://commons-app.github.io/ where they are equal size.

[2020-10-20 12:24] jidanni opened #3976 "Beta testers get same version as non-beta testers"
1. Visit https://play.google.com/store/apps/details?id=fr.free.nrw.commons , note the version number available.
2. Now sign up as a Beta Tester... `You're a beta tester for this app. Awesome!`
3. Now note the version available. It is the same version.

[2020-10-20 12:25] jidanni commented on #3969
I don't know about any 'alpha'. All I know is #3976.

[2020-10-20 12:29] jidanni commented on #3968
Maybe also related to #3976.

[2020-10-20 12:38] jidanni commented on #3971
Or automatically add a Category:Bob_Nerblesome/Not_Finished_Editing_Yet_Don't_Get_Angry_at_me etc.

I don't think it is actually "legal" (as seen when attempting to do it from a browser) to get away without a Description.

[2020-10-20 12:39] jidanni opened #3977 "Agree just once in Settings that these are my images"
When uploading images we have to agree that this is my work etc. each time.

Perhaps we can agree just once in Settings?

[2020-10-20 12:43] jidanni commented on #2279
Alpha? Never heard of it. No search can find it. Certainly you mean the... #3976.

[2020-10-20 12:48] jidanni commented on #3972
Yes, single image. Note it may be beyond your control, and actually a
https://phabricator.wikimedia.org/T205619
issue.
All I know about is #3976, and no "alpha".

[2020-10-20 14:51] nicolas-raoul commented on #3976
Yes, the Google Play alpha/beta is pretty weird, it takes time to get the intended version.

The surest way to know is to compare the commit code in About. The latest commit codes can be seen at https://github.com/commons-app/apps-android-commons/commits/master (use the dropdown to select any other branch).

Cheers!

[2020-10-20 15:27] Prince-kushwaha commented on #3973
ok

[2020-10-20 19:41] #3923 closed

[2020-10-21 00:54] #3547 closed

[2020-10-21 04:12] jidanni commented on #3976
You must mean "master". That's the only active branch other than 2.13.2~757c7b008 .

[2020-10-21 04:30] nicolas-raoul commented on #3976
Yes these are the most active branches currently on the main repository, you may be interested in seeing work being done in other branches too: https://github.com/commons-app/apps-android-commons/network

[2020-10-21 17:52] sivaraam commented on #3969
@jidanni You can find information about the alpha and how to install it in the following page: https://github.com/commons-app/commons-app-documentation/blob/master/android/Volunteers-welcome!.md#testers

[2020-10-21 18:00] sivaraam commented on #3970
Yeah, that's a current limitation of the app. A "limited connection mode" feature is being implemented now (cf. #746). This might be one thing that we can address in that feature.

Also, you might be interested in chiming in there :)

[2020-10-21 18:02] sivaraam commented on #3975
Looks like F-droid increased the size of their logo 🤔

The website is not affected as it uses a stored version of the logo rather than fetching it directly from the F-droid website.

[2020-10-21 18:18] sivaraam commented on #3975
The file in common has a newer revision that removes the surrounding blank space thus resulting in it being rendered bigger than the play store icon. Linking to the older version which has the surrounding blank space would fix the issue.

[2020-10-21 18:30] sivaraam commented on #3977
Interesting idea. I'm guessing whether that's feasible though. I presume it's legalese that the app is required to show similar to how there's a "Release rights" section in Special:UploadWizard.

[2020-10-21 19:22] #3975 closed

[2020-10-21 20:13] borisenkotim commented on #3959
When it comes to the flickering, it appears to be a common thing and has to do with the asynchronous API calls going on in the background. The master branch also has this issue. A common fix is to use ContentLoadingProgress bar: https://developer.android.com/reference/androidx/core/widget/ContentLoadingProgressBar
Which is used to prevent this flicker. This would be an addition of a UI element and

[2020-10-21 21:44] madisoncfallin commented on #1971
I believe that I've repro'd the issue: https://commons.wikimedia.beta.wmflabs.org/wiki/File:MCF_Test_Photo.jpg

The "Date" shown in the "Summary" box isn't a date at all.

[2020-10-22 00:51] jidanni commented on #3977
I can't think of any law that says agreeing to agree each time is not the same as agreeing individually. If so, then even agreeing individually could be presumed not agreeing enough.

[2020-10-22 01:07] nicolas-raoul commented on #1971
Ah, the beta server does not have this template.
Please compile the app again with the "prodDebug" flavor, thanks!

[2020-10-22 06:23] rebeccachild74 opened #3980 "Hitting "My Rank" button from a list position below your rank on leaderboard takes you to the person ranked below you."
**Summary:**

When you view the leaderboard, it will default to show the top users in the filtered results. If you select the "My Rank" button from a position in the list above your rank,  it will scroll the list down so that your rank is right above the "My Rank" button, so one from the bottom. If you select the "My Rank" button from a position in the list below your rank, it will scroll the list

[2020-10-22 09:00] madhurgupta10 commented on #3980
Hello, @rebeccachild74 I ideal behaviour should be that when **A User with rank X** taps the **My Rank** button then we should scroll to **X+1** position so that **My Rank** button is just below the actual rank of the user.

[2020-10-22 09:30] madhurgupta10 opened #3981 "Starting Uploads notification not dismissing"
**Summary:**
Starting Uploads notification not dismissing.

I installed the app on a new device and the notification was automatically triggered even when there were no pending uploads and I am unable to dismiss it.

**Device and Android version:**
Xiaomi A2 API 29

**Commons app version:**
2.13.1-debug-master-409e43c3a prodDebug latest master

**Screen-shots:**
![Screenshot_20201022-145328](https

[2020-10-22 18:20] sivaraam commented on #3981
I'm experiencing this for quite some time now. Currently I can reproduce this using v2.13.1.809~409e43c of the app that I installed from the Play store alpha channel on a Android 5.1.1 device. I have to force stop the app to make the notification go away. I'm suspecting this was introduced after the introduction of the limited-network mode option in PR #3934.

[2020-10-22 18:32] sivaraam commented on #3941
I observed a crash in v2.13.1.809~409e43c of the app and the ACRA window popped up. When I tapped on "Ok", "Open with" suggests for e-mail clients are shown. When I tap on K-9 mail it properly takes me to the mail composition window. So, it looks like crash reporting works in that version. So, I'm closing this issue for now. If I or someone else is able to reproduce, we can re-open this.

[2020-10-22 18:32] #3941 closed

[2020-10-22 20:25] madisoncfallin commented on #1971
@nicolas-raoul I just uploaded a photo on the prodDebug flavor: https://commons.wikimedia.org/wiki/File:MCF_Test_Photo_1.jpg

Is this the intended behavior? I would assume that the date of the photo should be the date it was taken, not the date it was uploaded.

[2020-10-22 22:46] jidanni commented on #3976
Conclusion: there is only
- Master
- Google Play version
- Google Play Beta version
- Fdroid Version.

And
- Google Play version
- Google Play Beta version
are clamped to the same version, for no good reason.

[2020-10-23 02:35] madisoncfallin commented on #3341
Looks like the PR is well out of date. Unfortunately, most of the work that 318Anushka did was on files that were removed when the Media section was reorganized this summer.

@sivaraam I'll attempt fix the issue in a new PR.

[2020-10-23 06:18] jidanni commented on #3976
Wait! On https://github.com/commons-app/apps-android-commons/issues/3969#issuecomment-713749200 I finally found the Alpha!!

[2020-10-23 06:23] jidanni commented on #1056
Hmm, #3976, as beta is same as main, might as well make alpha beta. I.e., instead of three things, two of which are the same...

[2020-10-23 06:26] jidanni commented on #746
Did anybody try uploading images with limited connections, like in #3972?

[2020-10-23 06:53] madhurgupta10 commented on #3981
@sivaraam same behaviour for me, the only way to dismiss the notification is by force stopping the app.

Pinging @maskaravivek for discussion on this issue.

[2020-10-23 10:07] nicolas-raoul commented on #1971
Thanks! All of the dates on that page actually seem correct to me. Upload dates are really the date the picture was uploaded, while shooting dates are really the date the picture was shot.

The problem is shown by this past upload (which has been corrected since):
https://commons.wikimedia.org/w/index.php?title=File:Raspberry_Pi_3_Wikidata.jpg&oldid=352178950
I highlighted the correct date in gree

[2020-10-24 05:39] #3944 closed

[2020-10-24 05:41] ashishkumar468 commented on #3937
As @nicolas-raoul  mentioned that the app already does this, does that not happen for you @egils-consulting . Also it would be really helpful if you could follow the issue template and add more tags, removing the bug tag for now while we receive more information on the issue.

[2020-10-25 03:05] jidanni opened #3985 "We see "starting uploads" upon upgrade to Alpha"
We see "starting uploads" upon upgrade to Alpha, and it never stops. However we don't have any uploads scheduled. So I don't know what it's doing.
Version 811.

[2020-10-25 03:08] jidanni opened #3986 "Limited connection mode switch needs a label"
Limited connection mode switch  needs a label. Yes, I know there's no way to put a label there. However I challenge you to figure out what this switch is for without forcing yourself to toggle it to find out. What if there was a fire alarm button and nobody could figure out what the purpose of it was without having to push it to find out?
Version 811.

[2020-10-25 03:15] ashishkumar468 commented on #3985
Hi @jidanni an issue already exists for this, also I have already raised a PR for the fix, should be merged this, closing this as duplicate

[2020-10-25 03:25] jidanni commented on #3985
Okay. That's good. However what should I do today to stop it?
Directly use Android's Force stop?

[2020-10-25 03:30] jidanni opened #3987 "Location permission setting does not match its title"
There is a setting called display location permission. And below it we see it says ask for location permission. So maybe the title should also say that instead.

 Also it is not clear what'll happen if the user turns it off.

[2020-10-25 03:37] jidanni commented on #3985
Okay, Force stop worked. Unless one launches the app again.

[2020-10-25 03:42] jidanni opened #3988 "Telemetry opt-out setting needs to be reworded."
The Telemetry opt-out setting is confusing. It needs to be reworded.

So if we turn the setting on, then we are opting out. Then the words describing the setting should be reworded, otherwise it seems we are choosing opposite.

[2020-10-25 22:11] Danejerosa1111 commented on #3361
![image](https://user-images.githubusercontent.com/51971585/97120461-57644900-16d4-11eb-88a4-ff1cbde6f22d.png)

[2020-10-25 22:12] Danejerosa1111 commented on #3361
I had revised the tool tip review button to have three different options that have alert boxes that go into a little more detail for this issue

[2020-10-26 03:47] rebeccachild74 commented on #3974
I've added a PR to the documentation repository: [#29](https://github.com/commons-app/commons-app-documentation/pull/29).
Please check it out

[2020-10-26 04:59] ashishkumar468 commented on #3985
Closing this as duplicate

[2020-10-26 04:59] #3985 closed

[2020-10-26 05:49] maskaravivek opened #3992 "Upload failures on master"
Even with #3959 not happening (the app has finished downloading metadata all of the pictures I have ever uploaded), I still experience upload failures whenever I upload a set of 2 pictures.

Log (search for `HTTP FAILED`):
[code]

_Originally posted by @nicolas-raoul in https://github.com/commons-app/apps-android-commons/pull/3916#issuecomment-710961477_

[2020-10-26 05:52] misaochan commented on #3986
If you can see the limited connection mode, you must be testing master/alpha, not a release build. Yes, it needs a label, and it will have one. The UI in master is still in progress. :)

[2020-10-26 06:01] misaochan commented on #3976
Currently beta testers get the same version as production users, because the latest beta has been promoted to production and we do not have a release in beta testing. They are not always the same.

Master and alpha are (supposed to be) the same version and they should almost always be different from beta and production.

[2020-10-26 06:04] misaochan commented on #1056
Beta is not always the same as production, as I mentioned. Alpha and beta serve 2 different purposes, beta is tested by thousands of users and is already mostly stable, we are just ferreting out the final few bugs, alpha is tested by very few users who have been warned that it may be unstable.

[2020-10-26 06:09] misaochan commented on #3972
Just to clarify, @jidanni , this fails for you on the Upload Wizard as well?

[2020-10-26 06:47] misaochan commented on #3992
Hi @nicolas-raoul , the 503 error you are experiencing appears to be a server-side error. Would it be possible for you to try uploading the exact same pictures (preferably with the same connection and device) on the Upload Wizard and see if they work?

[2020-10-26 06:59] misaochan commented on #2818
@anadi198 it seems like this has been inactive for over a year, so it is now yours. Feel free to go for it. :)

[2020-10-26 07:00] misaochan commented on #3757
@sivaraam @nicolas-raoul Any thoughts on what text we should put in the "depicts" tooltip?

[2020-10-26 07:03] #3788 closed

[2020-10-26 07:09] misaochan commented on #1971
Just checking if anyone is still able to reproduce this issue?

[2020-10-26 07:12] jidanni commented on #3986
(Yes. I hope I am still filing these in the right place here on GitHub.)

[2020-10-26 07:16] jidanni commented on #3972
Correct. Which means for half the month (after I use up my 4G LTE (high speed) cell plan allowance) there is no way to upload images (even just 2MB ones.) As my home ADSL is just 64K upload speed, and any convenience store Wi-Fi is too far away back in town.

[2020-10-26 11:26] nicolas-raoul commented on #1971
@madisoncfallin Could you please try to reproduce using this file taken shortly before midnight? https://drive.google.com/file/d/1vfTRupGatxi0W3TlGl8mF4-5Hk5vt4Fb/view I don't think the EXIF embeds any timezone information.

[2020-10-26 17:47] sivaraam commented on #3757
I see the following description for depicts in [Commons:Structured data](https://commons.wikimedia.org/wiki/Commons:Structured_data)

... and [Commons:Depicts](https://commons.wikimedia.org/wiki/Commons:Depicts#What_items_to_add) seems to have a more detail about depicts about it.

Combining that information with the way in which we phrase the other tooltips in the upload flow, the following would

[2020-10-27 08:14] nicolas-raoul opened #3993 "Peer review does not show picture under review"
Limited mode should either remove peer review from the menu, or load the pic under review (it is not that big)

[2020-10-27 08:25] nicolas-raoul opened #3994 "Peer review picture blank in limited connection mode"
Limited mode should either remove peer review from the menu, or load the pic under review (it is not that big)
![Screenshot_20201027-171008_Commons](https://user-images.githubusercontent.com/99590/97275560-69332100-1879-11eb-8e5e-0370d6866361.jpg)

[2020-10-27 08:27] nicolas-raoul commented on #3993
oops duplicate

[2020-10-27 08:27] #3993 closed

[2020-10-27 17:58] #3973 closed

[2020-10-27 18:01] #3767 closed

[2020-10-27 18:59] sivaraam commented on #3988
Thanks. This is a duplicate of #3946, though. So, closing this.

[2020-10-27 18:59] #3988 closed

[2020-10-27 21:28] arishta commented on #2874
@sivaraam My team has submitted a PR request from the user account : isdl03. Kindly review it.

[2020-10-28 05:12] harshchinu opened #3996 "Hitting on on My Rank in leaderboard section crashes the application"
**Summary:**

Summarize your issue in one sentence (what goes wrong, what did you expect to happen)
If you haven't made any contribution then my rank button should be disabled or tell the user use to make some contribution but it crashes the application

**Steps to reproduce:**

How can we reproduce the issue?
Signup with a new account or use an account with 0 contributions and go to profile and t

[2020-10-28 05:13] harshchinu commented on #3996
I have solved this bug can PR for it as well?

[2020-10-28 09:04] misaochan commented on #3972
Hmmm, OK. That is very annoying, but unfortunately we can't do anything about it because we only handle the Android app, for the Commons server we depend on WMF. I will tag this as upstream instead then.

[2020-10-28 09:07] misaochan commented on #3757
Thanks @sivaraam , that looks good to me. :) @anadi please feel free to use the above text for the tooltip.

[2020-10-28 09:09] misaochan commented on #3996
Yes, please feel free @harshchinu , thanks!

[2020-10-28 09:12] misaochan commented on #3992
Hi @nicolas-raoul , were you able to try this? Sorry for the repeated pings, but this is blocking v3.0 release at the moment, because if Upload Wizard works for you then we need to investigate further. :)

[2020-10-28 11:47] nicolas-raoul commented on #3790
With the latest master, this happens anytime I try to upload an image (via either gallery or camera, from either home or nearby).
Happens even after uninstalling and reinstalling the app.

[2020-10-28 11:50] ashishkumar468 commented on #3790
@nicolas-raoul  Can you send the logs for this, please?

[2020-10-28 11:51] nicolas-raoul opened #3997 "SecurityException: Permission Denial: startForeground requires android.permission.FOREGROUND_SERVICE"
Maybe a missing permission?
With the latest master, this crash happens anytime I try to upload an image (via either gallery or camera, from either home or nearby).
Happens even after uninstalling and reinstalling the app.
I ACRA'd a bunch yesterday. Logcat:
[code]

[2020-10-28 12:03] nicolas-raoul commented on #3992
Sorry for the delay! I have been super busy recently.
I just tried on the Upload Wizard on the same phone, upload was super fast:
![Screenshot_20201028-205510_Firefox](https://user-images.githubusercontent.com/99590/97433480-ef766280-1960-11eb-850f-a384f30e3aba.jpg)
![Screenshot_20201028-210031_Firefox](https://user-images.githubusercontent.com/99590/97433496-f56c4380-1960-11eb-8e70-b4d76c8826e8.j

[2020-10-28 12:19] nicolas-raoul commented on #3790
@ashishkumar0207 30 minutes ago I wrongly posted a comment here, but then realized that it was a different error, so I filed a new issue: https://github.com/commons-app/apps-android-commons/issues/3997
Sorry for the noise!

[2020-10-28 14:21] #3980 closed

[2020-10-28 16:28] ashishkumar468 commented on #3790
No problem @nicolas-raoul

[2020-10-28 17:26] #3909 closed

[2020-10-28 17:55] sivaraam commented on #2874
Strangely, I don't see any PRs from the mentioned account. I only see PR #3991 for this issue which doesn't seem to be from the mentioned account. @arishta Could you share a link to the PR or clarify what I'm missing?

[2020-10-28 18:20] arishta commented on #2874
There may have been some issues. I will check it with the team and get back to you .
Thanks.

[2020-10-28 23:07] arishta commented on #2874
@sivaraam Here is the link to the PR : https://github.com/commons-app/apps-android-commons/pull/4000

[2020-10-29 03:04] Prince-kushwaha opened #4001 "Progress Bar Visibility change with Orientation Change and login process terminated"
**Summary:**

In Login activity when I clicked login button Progress Bar visible when I rotated the screen Progress bar invisible
and login process of user stop or terminated

**What did you expect the app to do, and what did you see instead?**
Maintaining Progress Bar Visibility  and prevent stop of login process with Orientation Change

**Steps to reproduce:**
 Go to Login activity
 Filled the i

[2020-10-29 03:04] Prince-kushwaha commented on #4001
i am working on this issue

[2020-10-29 03:05] Prince-kushwaha commented on #4001
I want to work on this issue
assigned me

[2020-10-29 19:10] Mugurell commented on #3997
I gather this would happen for you on a device with Android >= 28 (Android 9 - Pie)?
If so I'd have a shot on fixing this.

[2020-10-29 19:23] Mugurell commented on #3997
Based on the logcat the issue is indeed happening because of a missing permission - [FOREGROUND_SERVICE](https://developer.android.com/reference/android/Manifest.permission#FOREGROUND_SERVICE) which is required for starting foreground service beginning with Android 9 - https://developer.android.com/about/versions/pie/android-9.0-changes-28

[2020-10-29 19:43] Mugurell commented on #3968
A potential issue with the above string recommendation -  `Become a Beta Tester (if not one already)` is that on some devices it could not entirely fit on one row.
Maybe this important note could be added to the description? (`Opt-in to..`)

[2020-10-29 21:55] jidanni commented on #3968
OH, AND... do mention "alpha tester" too!
Because currently beta=non-beta!!
And it will take the user a long time to figure out
1.  beta=non-beta, and even longer, if ever, to stumble upon the fact that:
2. There is also a little mentioned alpha.

[2020-10-29 23:54] #3997 closed

[2020-10-30 08:12] jidanni opened #4003 "Screen flashing"
2.13.1.818~9d99c25

Does anybody notice the screen flashing a little?

 Seems to start after you queue a picture, and doesn't even stop even after you finally upload it.

Flashes about once per second.

[2020-10-30 08:26] jidanni opened #4004 "Can't stop "nearby place found" pop up"
So watch settings combination will finally turn off the "nearby place found" pop up? I tried them all.
2.13.1.818~9d99c25

[2020-10-30 08:32] jidanni opened #4005 ""(For all images in set)" appears even when I am not uploading a set but rather a single image"
One of the steps during upload asks us:
"(for all images in set)..."

Well, in this certain case there was only one media item. Please detect that and have the wording reflect that. Otherwise the user gets very worried that he's about to upload a big bunch of stuff that he didn't intend to.

In fact, showing an exact count, would make the user confident of what is about to happen.
2.13.1.818~9d99c

[2020-10-30 08:38] jidanni commented on #4003
Sure, WAI perhaps. However many users will take their cell phones to the repair shop asking if there's something wrong with their battery.

[2020-10-30 10:56] neslihanturan commented on #4003
It happens sometimes to me too @jidanni , thanks for reporting it

[2020-10-31 11:17] madhurgupta10 commented on #3981
@ashishkumar0207 @sivaraam Unfortunately the issue still exists for me (2.13.1-debug-master~c793827c5) when I toggle Limited Connection Mode.

[2020-11-01 06:54] madhurgupta10 commented on #4001
@Prince-kushwaha feel free to create a PR for this issue.

[2020-11-01 09:27] nicolas-raoul commented on #3992
I have been testing master since the chunk branch was merged into it, and I am happy to say that I don't get failures anymore, even on a slow connection. I have not yet tried sets, though, but I believe there is a different issue for them.

I will now test your PR Vivek, thanks!

[2020-11-01 11:58] nicolas-raoul commented on #3992
A set of two pictures fails immediately, though. I have just sent a log.

[2020-11-01 12:15] nicolas-raoul commented on #3992
Here is the failure part of the log.
As you can see, from the start of the upload to the failure, it only took 34 milliseconds:
[code]

[2020-11-01 13:54] Prince-kushwaha commented on #4001
ok

[2020-11-01 20:26] maskaravivek commented on #3992
@nicolas-raoul Thanks for sharing the logs. Based on the logs I have pinpointed the method which is throwing errors. I have added more logs and have enabled HTTP response logging to see the full network response. Do you mind retesting and sharing logs.

[2020-11-02 00:11] nicolas-raoul commented on #3992
Thanks!
Here is the log:
[code]

[2020-11-02 04:22] maskaravivek commented on #3992
@nicolas-raoul Can you also send complete logs via "Send logs". I am looking for the HTTP response from the backend.

[2020-11-02 05:18] nicolas-raoul commented on #3992
Sure! I just reproduced and sent.

[2020-11-03 10:57] nicolas-raoul commented on #3992
I just had a single upload fail even though I was on a fast Internet connection. I have sent a log immediately after the failure. The title is `L'Atelier de Joël Robuchon 2`.

[2020-11-03 23:47] pataquets commented on #1860
@misaochan ping
Any plans about this feature?
When on the go, the prompt to turn on GPS just to peek if images are needed nearby might be a big no-no to save battery (my case). So, less opens on the go at the end of the day.

[2020-11-04 02:33] nicolas-raoul commented on #4005
I agree, we should hide the "(For all images in set)" when it is not a set.

[2020-11-04 02:55] nicolas-raoul commented on #1860
@pataquets There are a limited number of developers so it is difficult to promise a plan, even though this could be useful.
Meanwhile, as a temporary solution, how about using a "fake GPS" app? It pretends that you are at any point of your choice, and consume almost no power.
Thanks for using the app!

[2020-11-04 02:59] nicolas-raoul commented on #3717
I think this is already implemented?
I uploaded a set of two pictures yesterday, the first got the original title and the second got the original title + ` 2` suffix.
Using the latest master.
If it does not work for you, please reopen, thanks :-)

[2020-11-04 02:59] #3717 closed

[2020-11-04 02:59] nicolas-raoul commented on #3992
I tried `L'Atelier de Joël Robuchon 2` again and it failed again, but when I changed the title to `L'Atelier de Joel Robuchon 2` (without the accent) it worked. So I am pretty sure the failures are now due to special characters.

[2020-11-04 07:14] Nikerabbit commented on #343
Translators are still unable to translate this message: https://phabricator.wikimedia.org/T267142

[2020-11-04 08:47] maskaravivek commented on #3992
@nicolas-raoul Thanks for pointing this out. I have added a fix for this in the same PR. #4011.

It would be great if you could test and confirm if you still see any upload failures.

[2020-11-04 10:04] nicolas-raoul commented on #3992
Yep, now it did not fail immediately :-)
I don't know if it is related, but the app crashed a few seconds after the upload began :'-(
I sent a crash report via ACRA with "pr4011" in the email title.

[2020-11-04 10:15] nicolas-raoul commented on #3992
I just tried again and this time the upload succeeded :-)
The crash mentioned in the comment above happened as I was scrolling down while the upload was taking place, if that helps.
I guess the PR is good to merge :-)

[2020-11-04 18:00] maskaravivek opened #4012 "Crash while scrolling media on contributions screen"
**Summary:**

Crash while scrolling media on contributions screen

**System logs:**

[code]

**Device and Android version:**

What make and model device (e.g., Samsung J7) did you encounter this on?
What Android version (e.g., Android 4.0 Ice Cream Sandwich or Android 6.0 Marshmallow) are you running?
Is it the stock version from the manufacturer or a custom ROM ?

**Commons app version:**

master

[2020-11-04 18:05] maskaravivek commented on #3992
Thanks for testing it @nicolas-raoul.

I have created a separate issue for it. #4012

[2020-11-06 04:48] jidanni opened #4013 "Progress bar lacks appropriate contrast"
Have a look at the progress bar when uploading an image.  You will see it is blue on dark blue. In other words very hard to see.
2.13.1.823~d4b73fa

[2020-11-06 10:13] misaochan commented on #4013
This will be changed in the v3.0 UI. :)

[2020-11-06 15:42] misaochan commented on #1860
Apologies, we do not have concrete plans to implement this at the moment, we are a small external team so no extra resources to commit to it I'm afraid. :( But if a volunteer dev would be interested in working on it, that would be great.

[2020-11-06 16:04] #2843 closed

[2020-11-06 16:13] misaochan opened #4014 "New UI - Nearby list does not update when a new area is searched"
**Summary:**

The Nearby list should update when "Search this area" is tapped in a new location. Currently it just shows the old list, although the map does update.

**Steps to reproduce:**

Nearby > move to different area > "Search this area" > select list icon at top right

**Device and Android version:**

Samsung Galaxy S20FE, Android 10

**Commons app version:**

master (after merging new UI #

[2020-11-06 16:18] misaochan opened #4015 "Map is black after uploading from Nearby"
**Summary:**

After uploading directly from Nearby, when I return to the Nearby fragment, the map is black

**Steps to reproduce:**

Upload a pic via Nearby > complete the process > look at Nearby

**Device and Android version:**

Samsung Galaxy S20FE, Android 10

**Commons app version:**

master after merging #3891

**Screen-shots:**

![Screenshot_20201107-015943_Commons](https://user-images.gith

[2020-11-06 16:20] misaochan opened #4016 "0,0 coordinates added after uploading"
**Summary:**

The app adds false coordinates (always 0,0) to recent uploads. Not sure when it started but I just noticed it. See https://commons.wikimedia.org/wiki/File:Catseye_Bay.jpg for instance

**Steps to reproduce:**

Upload a picture that has coordinates > check coordinates on Commons

**Device and Android version:**

Samsung Galaxy S20FE, Android 10

**Commons app version:**

master

[2020-11-06 16:22] misaochan opened #4017 "Add more obvious display for limited connection mode"
As mentioned in https://github.com/commons-app/apps-android-commons/issues/2843#issuecomment-651748303 , we need to add an obvious display in the UI when limited connection mode is active

[2020-11-06 16:25] misaochan commented on #3757
Hi @anadi198 , are you still working on this?

[2020-11-06 16:56] misaochan opened #4018 ""Uploaded by" bugged in Explore"
**Summary:**

The "uploaded by" field in Explore frequently displays gibberish or is empty.

**Steps to reproduce:**

Go to Explore, look at "uploaded by"

**Device and Android version:**

Samsung Galaxy S20FE, Android 10

**Commons app version:**

master

**Screen-shots:**

![Screenshot_20201107-023255_Commons](https://user-images.githubusercontent.com/3611199/98393384-edb94700-20a4-11eb-83ea-cae

[2020-11-06 17:00] misaochan opened #4019 "Memory leaks when resuming and pausing"
**Summary:**

Memory leaks found when resuming and pausing uploads

**Steps to reproduce:**

Install LeakCanary, pull #4011 , upload a pic, pause

**Device and Android version:**

Samsung Galaxy S20FE, Android 10

**Commons app version:**

#4011

[2020-11-06 17:02] misaochan opened #4020 "Crash when switching from light to dark mode and vice versa"
**Summary:**

App crashes when switching from light to dark mode

**Steps to reproduce:**

Settings > Dark Mode (or Light Mode if you are already in dark mode)

**Device and Android version:**

Samsung Galaxy S20FE, Android 10

**Logs:**

[code]

**Commons app version:**

master

[2020-11-06 17:21] anadi198 commented on #3757
Hi @misaochan, I got caught up with some work after my last comment. But I would like to give this a try. I'll try to fix it tonight and then let you know.

[2020-11-06 17:32] misaochan commented on #3757
Thanks @anadi198 , please let us know how it goes. :)

[2020-11-06 18:37] anadi198 commented on #3757
@misaochan I had a look and have a few questions:

- How do I update `R.string.step_count` to, for example, have `: %3$s` since it starts giving me ~100 errors in all the translation files(I really hope the answer is not what I'm thinking it is :D)
- What text do I show when tooltip is pressed for Categories and such? Is there something already available somewhere?
- Just to confirm, the steps oth

[2020-11-06 18:48] sivaraam commented on #4018
This looks related to #3341 for which a PR is already up (#3714). It just needs a bit more tweaking.

[2020-11-06 18:51] sivaraam commented on #3341
Hi @madisoncfallin, any progress on this?

[2020-11-06 18:53] sivaraam commented on #4016
This looks like a duplicate of #3684

[2020-11-06 19:03] sivaraam commented on #1860
Just to make things clear for someone who would like to pick this up, the aim of this is to not rely on GPS for nearby? Or is it to make it an optional requirement such that nearby would work even if GPS is not enabled (isn't it already the case?)?

[2020-11-06 21:23] Ainali commented on #3160
This just happened to me here: https://commons.wikimedia.org/wiki/File:Wittenburgergracht_night.jpg

[2020-11-07 00:53] nicolas-raoul commented on #3757
@anadi198 If it is warnings you can safely ignore them. If it is errors, have you tried https://stackoverflow.com/a/11444141/226958 maybe?

You are right about the 4 steps.
Here are tooltips for each:
- Media details: `Please write a short caption that says what your picture shows. In the description, say what makes the picture interesting or typical or rare, and explain the context, visible or no