[2019-08-22 15:21] #3114 closed

[2019-08-22 15:22] nicolas-raoul commented on #3106
Implemented by @vanshikaarora
I have created two issues for the small bugs I have found, but we can close this main issue :-)

[2019-08-22 15:22] #3106 closed

[2019-08-22 17:42] misaochan opened #3139 "Global metrics (for IEG final report)"
I'm working on the required global metrics for our IEG renewal's final report -https://meta.wikimedia.org/wiki/Grants:IEG/Improve_%27Upload_to_Commons%27_Android_App/Renewal/Final#Global_Metrics . Looking at the [previous grant](https://meta.wikimedia.org/wiki/Grants:IEG/Improve_%27Upload_to_Commons%27_Android_App/Final), it seems like we only needed to fill in 3 of the 6 metrics.

2. Number of ne

[2019-08-23 02:44] nicolas-raoul opened #3140 "IndexOutOfBoundsException when scrolling on Explore items, after a night of not using the app"
Yesterday on the emulator I was scrolling items in the Explore activity, and let the app like this.
This morning I came back to my computer, scrolled a bit again, and got this crash:
[code]

[2019-08-23 19:45] RozaliyaRusskikh commented on #3129
Hi there! I'm a beginner and I'm eager to contribute to this project. Could I take this issue?

[2019-08-23 19:49] RozaliyaRusskikh commented on #3128
Hello! As I understand we have to remove unused dependencies only?

[2019-08-24 01:03] nicolas-raoul commented on #3129
@RozaliyaRusskikh Yes, it is yours!
Please let us know about your progress :-)

[2019-08-24 01:05] nicolas-raoul commented on #3128
@RozaliyaRusskikh Yes, just comment each one by one and check whether it still works :-)

[2019-08-24 07:11] RozaliyaRusskikh commented on #3129
Thank you! I am starting right now and I will create PR as soon as possible  :)

[2019-08-24 07:11] RozaliyaRusskikh commented on #3128
Thank you! Could I take this issue?

[2019-08-24 07:29] nicolas-raoul commented on #3128
@RozaliyaRusskikh  OK!

[2019-08-24 08:12] nicolas-raoul commented on #3138
Another strange thing: When I search for "apple", then for "deck", the second search ("deck") shows a thumbnail that appeared for "apple":
![Screenshot from 2019-08-24 17-08-31](https://user-images.githubusercontent.com/99590/63634497-4401bc00-c692-11e9-8f76-6d70c5dcd744.png)

[2019-08-24 08:44] vanshikaarora commented on #3140
@nicolas-raoul Where have you observed this Issue, Explore or Items?

[2019-08-24 08:54] vanshikaarora commented on #3137
@nicolas-raoul I noticed that only some values are repeated and not all of them. I used breakpoints and checked for the offset value while calling the APIs. They seem to be perfect. I am not sure, but it might be an issue with the API

[2019-08-24 09:17] nicolas-raoul commented on #3140
Explore

On Sat, 24 Aug 2019, 17:44 Vanshika Arora, <notifications@github.com> wrote:

[2019-08-24 09:18] nicolas-raoul commented on #3137
can you please output all thumbnail urls to logcat?

On Sat, 24 Aug 2019, 17:54 Vanshika Arora, <notifications@github.com> wrote:

[2019-08-24 09:19] vanshikaarora commented on #3140
okay

[2019-08-24 09:20] vanshikaarora commented on #3137
okay

[2019-08-24 19:56] RozaliyaRusskikh commented on #3128
I have looked through existing dependencies located in build. gradle (Module: app) file to see if they should be deleted or kept. I have commented each one by one and have checked whether it still works. The next dependencies are unused:

[code]

[2019-08-25 14:32] nicolas-raoul commented on #3128
Nice!
Can you please remove them and send a pull request?
I forgot: Please also test on the lowest version of Android supported by the app (you can find in the manifest and create an AVD emulator for that Android version).
Thanks! :-)

[2019-08-25 21:34] RozaliyaRusskikh commented on #3128
Could you please have a look at PR?

[2019-08-25 21:41] urbanecm commented on #3139
That's because of a schema change in MediaWiki. https://quarry.wmflabs.org/query/38568 should give the same data as https://quarry.wmflabs.org/query/18084.

Yeah, you're right. Going to get the script I used to add the category, and add it again. If you have a github link to an issue where we solved it last year, it might help.

[2019-08-25 22:02] urbanecm commented on #3139
Nvm, found it, it's #696. Going to use the last year query, and this time I added it to commonsmisc repository, so I don't find it too long next year :).

[2019-08-26 00:06] nicolas-raoul opened #3142 "Image appearing twice in search"
When I search for "aburasoba azabujuban", [this image](https://commons.wikimedia.org/wiki/File:Tantanmen.jpeg) appears twice. Maybe because it has captions? I haven't tried in master though.
![Screenshot from 2019-08-26 09-03-29](https://user-images.githubusercontent.com/99590/63657819-846f5000-c7e0-11e9-997c-8bcbf3639874.png)

[2019-08-26 04:07] nicolas-raoul opened #3143 "Upload of file with all-Japanese caption fails"
I am trying to upload a file with the Japanese caption `贅沢そうめん`.
It failed, and every retry fails immediately too:
[code]
Strcutured Data branch, not tried with master.

[2019-08-26 08:52] harith96 commented on #3101
Hey, @ilgazer did you have time to take a look at code in the pull request?

[2019-08-26 10:14] misaochan commented on #3139
@urbanecm Thanks so much for your help! How long should we wait for the category to be ready?

A few odd things about the "number of new editors" stat:
- https://quarry.wmflabs.org/query/38568 gives us 195907 users. I would be thrilled if that were true, but that actually exceeds our total app downloads. It's not implausible that people would be creating multiple accounts, but also the `is_mobile`

[2019-08-26 19:35] VitalyVPinchuk commented on #3135
Hello @nicolas-raoul
I also encountered this problem when testing P180. Could you please give us a clue how this problem can be addressed?

[2019-08-27 03:42] nicolas-raoul commented on #3135
It is pretty simple: A `final static String depictsProperty` should be created, whose value depends on the build flavor:
- "P180" on the prod flavor
- "P245962" on the beta flavor ( as seen at https://github.com/wikimedia/operations-mediawiki-config/blob/master/wmf-config/InitialiseSettings-labs.php )
Then this `depictsProperty` should be used instead of the currently hard-coded `P180`.

[2019-08-27 05:43] nicolas-raoul commented on #3135
I forgot to say: All of this must be done as a fork of Vanshika's branch https://github.com/vanshikaarora/apps-android-commons/tree/upload_caption_depict

[2019-08-27 11:23] nicolas-raoul commented on #2415
Closing as every implementable task has its own issue.

[2019-08-27 11:23] #2415 closed

[2019-08-27 18:04] misaochan opened #3144 "2FA logins not working in 2.11"
A report from one of our users:

I had trouble with the app and then uninstalled and reinstalled but I simply cannot log in. (I have 2FA enabled). I can login via browser the app simply says failed login (and then too many failed logins)

[2019-08-28 03:25] nicolas-raoul commented on #3138
All thumbnails seem to be good before I start scrolling.
For instance here the "knot with two loops" was the last item visible without scrolling. After scrolling just a little bit, the next item "2005 South Korean film" has a mistaken thumbnail:
![Screenshot from 2019-08-28 12-25-16](https://user-images.githubusercontent.com/99590/63823463-ebcb0280-c98e-11e9-8403-b794e20f7537.png)
With the latest

[2019-08-28 08:04] maskaravivek commented on #3144
@misaochan Is this happening for all users? Can someone with 2FA enabled try to reproduce the issue in a debuggable app and share the logs.

[2019-08-28 09:42] misaochan commented on #3144
I meant to test that, but I've had 2FA off for a while. Will try to reenable 2FA on my account and re-test soon.

[2019-08-28 10:36] nicolas-raoul commented on #3126
A few examples found:
- `Photographs taken on 10. 08. 20` (Czech locale)
- `Photographs taken on 27/08/2019` (Nepali locale)
- `Photographs taken on 2019-07-05` (English locale)  ← Only this one is valid

So, instead of writing the date using the user's locale, we should code it explicitly as `year + "-" + month + "-" + day`.

[2019-08-28 10:41] nicolas-raoul commented on #3128
@RozaliyaRusskikh Thanks for the PR! Review might take a bit of time since it is not a high-priority issue.
By the way, here is a high-priority issue which is beginner-friendly, feel free to take it: #3126

[2019-08-28 14:54] misaochan commented on #3128
Hi @RozaliyaRusskikh , thanks for your interest! This issue is a little more complex than just removing unused dependencies, but that is a fantastic first step.

[2019-08-28 14:56] misaochan commented on #3129
Welcome aboard, @RozaliyaRusskikh ! Let us know if you need any help. :)

[2019-08-28 14:58] misaochan commented on #3126
@nicolas-raoul , is this the same issue as the one reported in our public forum:

[2019-08-29 03:07] nicolas-raoul commented on #3126
@misaochan Yes, I am pretty sure it is, and I share your view that it is a priority issue, because it forces Commons people to fix our mess, giving the app a bad reputation.

[2019-08-29 10:18] misaochan commented on #3126
@nicolas-raoul Agreed. Unfortunately I am away for 2 weeks starting this Saturday, and by the time I get back 2.12 should be close to ready, which means that a hotfix may not make sense. :/ Or alternatively, could you and @ashishkumar468 collaborate on this, where he sends a hotfix to our `2.11-release` branch, and you do the 2.11.1 hotfix release when it is ready?

[2019-08-29 10:38] VitalyVPinchuk commented on #3135
I'd like to work on the issue

[2019-08-29 11:50] misaochan commented on #3135
@VitalyVPinchuk it's yours! :)

[2019-08-29 12:16] RozaliyaRusskikh commented on #3128
Thank you, @misaochan, @nicolas-raoul! I am very glad to hear it! It is very interesting to work on your team!

[2019-08-29 12:48] nicolas-raoul commented on #3126
I am looking for a new apartment right now so I have to focus on that, unfortunately :'-/ But I can review a pull request :-)

[2019-08-29 14:48] VitalyVPinchuk commented on #3135
@misaochan Thanks!

@nicolas-raoul I'd like to clarify two more things.
First, as far as I understand, the app displays "nearby" section from https://www.wikidata.org/wiki/Special:AllPages no matter which flavor it is running. So if we're running beta flavor and trying to set "depicts" property for an entity (I experiment with https://www.wikidata.org/wiki/Q32752052) it says that `[[d:Special:Enti

[2019-08-29 15:36] misaochan commented on #3126
Ah, okay. I'll try to release 2.11.1 with the hotfix as soon as I get back, then.

[2019-08-29 15:55] ashishkumar468 commented on #3126
I will look into the issue and raise a PR for the same :)

[2019-08-30 02:57] nicolas-raoul commented on #3135
When using the beta Commons app:
- all read operations to Commons go to the beta Commons server (which is the case already)
- all read operations to Wikidata go to the real Wikidata server (which is the case already)
- all write operations to Commons should go to the beta Commons server (which is the case already)
- all write operations to Wikidata should be skipped

I am not sure about the edit t

[2019-08-30 14:00] thetimeheist76 commented on #3092
Hey, if this is still open I would like to work on it.

[2019-08-31 07:46] nicolas-raoul commented on #3092
It is yours! 🙂

[2019-09-02 04:44] RozaliyaRusskikh commented on #3129
Hello! Unfortunately I do not have enough time to work on this issue. So the issue can be reassigned.

[2019-09-02 15:29] iwean commented on #3144
It happened to me too. So I disable my 2FA then login to the app... but I must write my token again because it changed when I enable 2FA again. 🤣

[2019-09-03 07:51] ashishkumar468 commented on #3126
I am not able to reproduce this, I can see the actual date for both Hindi & English Locales. Is there a specific way to produce this ?

[2019-09-03 08:02] nicolas-raoul commented on #3126
Maybe Hindi & English locales use the same date format.
@ashishkumar0207 Would you mind trying Czech or Nepali locale?

[2019-09-03 08:09] ashishkumar468 commented on #3126
@nicolas-raoul  Sure, I will try that .

[2019-09-05 20:05] Perhelion opened #3147 "Upon deletion request, notification should be sent to uploader, not author"
As I can't find this in the documentation (but now here on Issues on a screenshot) I reported here:  https://phabricator.wikimedia.org/T232142 (closed because of this).

**Edit:** The relevant code seems here: https://github.com/commons-app/apps-android-commons/blob/11d36189d4d8dbac49f5d5c86a1b3b7e1166f266/app/src/main/java/fr/free/nrw/commons/delete/DeleteHelper.java#L116

It seems very false to

[2019-09-08 14:05] VojtechDostal commented on #3126
It seems this is a fairly general phenomenon... just found out the same bug appears in pictures from another Czech uploader: https://commons.wikimedia.org/wiki/File:Plastika_Prost%C5%99en%C3%BD_st%C5%AFl_v_ulici_Na_Mlejnku.jpg

So it could really be due to language settings.

[2019-09-09 07:01] PavelAplevich commented on #3126
I can't reply this bug with my phone, with Czech, Nepali, English or Russian locale.

[2019-09-09 07:02] nicolas-raoul commented on #3126
@PavelAplevich Thanks for trying! Could you please post the URL to the images you uploaded in each locale? Thanks :-)

[2019-09-09 07:03] PavelAplevich commented on #3129
@misaochan I think, all done. You can close this issue

[2019-09-09 07:14] PavelAplevich commented on #3126
https://commons.wikimedia.beta.wmflabs.org/wiki/File%3AMemori%C3%A1l.jpg
This image upload now. But on "Summary" i see "6 August 2019"

[2019-09-09 07:17] nicolas-raoul commented on #3126
That's with the Czech locale right?
Could you please try uploading to the production server instead? Using the prod flavour.

[2019-09-09 07:18] PavelAplevich commented on #3126
I undestand. This is the date the file was created on my device.

[2019-09-09 07:26] PavelAplevich commented on #3126
@nicolas-raoul
I did't understand you( Sorry, tell me more what I need to do

[2019-09-09 07:30] nicolas-raoul commented on #3126
I mean, please run `./gradlew installProdDebug` (or select the `productionDebug` flavour in Android Studio, as described at https://stackoverflow.com/a/27549441/226958). :-)

[2019-09-09 07:43] PavelAplevich commented on #3126
I run build with "prod" and "debug" on my phone and app doesn't work :D

[2019-09-09 07:44] ashishkumar468 commented on #3126
Doesn’t works as in what error are you getting?

On Mon, 9 Sep 2019 at 1:13 PM, PavelAplevich <notifications@github.com>
wrote:

--

Thanking You,
Ashish Kumar

[2019-09-09 07:53] PavelAplevich commented on #3126
09-09 10:53:14.164 17895-17895/? E/libprocessgroup: failed to make and chown /acct/uid_10065: Read-only file system

    --------- beginning of main
09-09 10:53:14.164 17895-17895/? W/Zygote: createProcessGroup failed, kernel missing CONFIG_CGROUP_CPUACCT?
09-09 10:53:14.165 17895-17895/? I/art: Not late-enabling -Xcheck:jni (already on)
09-09 10:53:14.761 17895-17895/fr.free.nrw.commons.beta I/AC

[2019-09-09 07:55] ashishkumar468 commented on #3126
@PavelAplevich  Can you try using clean project/ invalidate cache restart, it seems to work for me.

[2019-09-09 08:06] PavelAplevich commented on #3126
All my steps:
Choose "Build"->"Edit Flavours"->"prod"
                            "Edit Build Types"->"debug"
Restart Studio
Delete all cashe and app from my phone
Restart phone
Delete cashe and app from emulator
Run app on phone and emulator. App doesn't work(

[2019-09-09 08:10] ashishkumar468 commented on #3126
This seems to be another issue, please create an issue for the same. We will take it from there.

[2019-09-09 12:12] PavelAplevich commented on #3126
@ashishkumar468 I done) I update my gradle to 3.5.0 version and all works.
@nicolas-raoul You's URL on prodDebug build
https://commons.wikimedia.org/wiki/File%3AOrigami_3.jpg

[2019-09-09 12:17] ashishkumar468 commented on #3126
The date seems looks correct to me, @nicolas-raoul. @PavelAplevich has also uploaded the image in Czech locale.  Am I missing something, is there a specific way to reproduce this?.@PavelAplevich  I would recommend not to upload dummy images on prod, your account might get flagged :P

[2019-09-09 12:40] PavelAplevich commented on #3144
@misaochan I think, i know what the problem. Password of this user got into list of commonly used passwords. I have this problem today. If i tried login with "popular password", app write "error" and this all.

Why did it happen: " I tried login in prod version with my beta account, and do it many times. My password blocks and go into LIST OF BAD PASSWORDS  :D "

User can reset they password and a

[2019-09-10 05:05] nicolas-raoul commented on #3126
@PavelAplevich Any difficulty with that? I can help you step-by-step if you want :-)

[2019-09-10 05:18] nicolas-raoul commented on #3126
_(sorry please disregard the comment I posted a few minutes ago, I had not refreshed my browser)_

https://commons.wikimedia.org/wiki/File%3AOrigami_3.jpg (Czech locale) has a wrong date format: `{{According to EXIF data|31. 10. 2018}}`

https://commons.wikimedia.org/wiki/File%3ACaf.jpg (Russian locale) has a correct date format: `{{date|2019|7|28}}`

So, congratulations for reproducing the proble

[2019-09-10 08:31] sivaraam commented on #3144
@PavelAplevich I suspect the recent expansion of the Common passwords list (Ref: [Phab ticket](https://phabricator.wikimedia.org/T151425), [Tech News](https://meta.wikimedia.org/wiki/Tech/News/2019/36)) is the reason behind this issue. That's because it seems to have happened just very recently. Though, I'm not very sure about it. 🤔

[2019-09-10 13:20] PavelAplevich commented on #3144
When i try login with my "bad" password, i see "connection error"(mb another, i'm not sure) and that all. And i think this is problem. User doesn't understand what happened. I read my AndStudio logcat and can understand the problem, but user can't do this

[2019-09-10 13:24] PavelAplevich commented on #3126
@nicolas-raoul Ok, I will do it. Give me some time..

[2019-09-10 13:49] sivaraam commented on #3144
I actually meant _... is **not** the reason ..._ My bad.

[2019-09-10 13:51] sivaraam commented on #3144
The user should be made aware of the bad password issue clearly. But that is a _different issue_ than this one, I suppose.

[2019-09-10 15:07] PavelAplevich commented on #3144
No, this is the reason of this issue. If user password going "bad", user can't login with his password, app write "failed login" and that's all (it doesn't clarify the reason). User try again and again, because he know that password is correct. User reinstall app and do the same actions, but app writes "failed login". In this stage i started to think that login system is broken, go into logs and *

[2019-09-10 17:43] Achim55 commented on #3147
During the past 2 weeks I noticed a malfunction that might be a bug of this app: If a user creates a deletion request the notification is not sent to the uploader as it should be but to the name the 'author' field contains. If author and uploader are the same that doesn't matter but if the author (for example an author name imported from flickr) doesn't have a user account on Commons the notificat

[2019-09-10 22:54] Darwinius commented on #3144
I also was unable to login in the app from my mobile phone. I have 2FA enabled

[2019-09-11 08:20] PavelAplevich commented on #3126
@nicolas-raoul
https://commons.wikimedia.org/wiki/File%3AUruccha.jpg
This file has wrong date too, right?

[2019-09-11 13:25] RenatoViana01 commented on #3142
Can I work on this?

[2019-09-11 13:37] ashishkumar468 commented on #3142
Sure @RenatoViana01 . Please keep us posted about the progress :)

[2019-09-11 13:45] RenatoViana01 commented on #3142
@ashishkumar468 do you guys have a slack?

[2019-09-11 13:59] nicolas-raoul commented on #3126
@PavelAplevich The date of that file is `{{According to EXIF data|04.09.2019}}` which is wrong too, yes.

By the way, rather than uploading random pictures and then nominating them for deletion, I suggest you upload these pictures (pick randomly as some have been uploaded already):
https://drive.google.com/drive/folders/1YeYGelmhKbpO_OPAKLT-S4Cw-rsbCG6V?usp=sharing

[2019-09-11 16:14] PavelAplevich commented on #3126
@nicolas-raoul Thank you, for pictures.
I think, the problem is:
Photos with correct date i download from my messenger. They date based on date of creating file.
Photos with wrong date i did it by myself, on my phone. They date based on EXIF.
As the result - EXIF work's wrong.
What do think about this?

[2019-09-11 18:48] RenatoViana01 commented on #3142
@ ashishkumar468 this seems to be an API problem.

[2019-09-12 02:41] nicolas-raoul commented on #3142
We often use Zulip and Hangout. But talking on GitHub issues has the advantage that people coming afterwards can see all of the information.

[2019-09-12 06:40] ashishkumar468 commented on #3142
@RenatoViana01  as @nicolas-raoul  We use github threads to discuss the issue, that way we also get to keep track of our conversations. Also, Have you seen the response, are we getting the same entry multiple times.

[2019-09-12 07:29] nicolas-raoul commented on #3142
@RenatoViana01 Could you please post the API request (preferably as a curl command line) and the resulting erroneous response? Thanks :-)

[2019-09-13 07:31] amire80 commented on #2872
Yes. The capitalization should be consistent. My suggestion is not to use ALL CAPS, but to write "Search this area", because there are many languages in which ALL CAPS are irrelevant, such as Chinese, Hindi, and Arabic. _However_, maybe the designer of the app has a different opinion about this. The important thing is that it will be consistent.

And if you can automatically insert "Search this ar

[2019-09-13 14:27] neslihanturan commented on #2872
Hi @HarunJr , thanks for your interest but currently related classes are being edited. So what about waiting until #2969 is merged and after that if the issue still persist you can solve.

[2019-09-14 14:48] HarunJr commented on #2872
No problem @neslihanturan. I shall wait.

[2019-09-14 18:44] urbanecm commented on #3139
I'm so sorry, I forgot about this totally. Feel free to ping me if you don't hear a response in reasonable time :P. I've tried to create https://quarry.wmflabs.org/query/38955, which hopefully will "solve" the issue for this timebeing.

https://quarry.wmflabs.org/query/18084 doesn't work, it last executed on "Fri May 18 2018", long before the breaking schema change.

Ad the category, could you spo

[2019-09-14 19:20] ashishkumar468 commented on #3026
Other than the contributions (upload count and possible display inconsistency), and notification progress issue and the achievements bug, is there anything else remaining in this PR ?

[2019-09-14 22:31] ilgazer commented on #3026
There is CategoryApi, a class that thtat uses JSON but should be migrated
to retrofit.

On Sat, 14 Sep 2019 at 22:20, Ashish Kumar <notifications@github.com> wrote:

[2019-09-15 04:02] ashishkumar468 commented on #3026
Thanks @ilgazer  :)

[2019-09-15 12:33] maskaravivek commented on #3026
Wikidata edits is still not sorted. We might need external help for it.

[2019-09-17 15:18] Aschroet commented on #3126
There is one line where the template is filled: https://github.com/commons-app/apps-android-commons/blob/bb570a5afc32e13086460b9aa536112107c620f2/app/src/main/java/fr/free/nrw/commons/contributions/Contribution.java#L205

Either _dateCreated_ is not in the correct format or the formatter _getDateStringWithSkeletonPattern_ does not work properly.

[2019-09-18 01:52] omer-rotem1 commented on #2836
Hi, can I work on this please as a first issue?

Thanks

[2019-09-18 02:30] nicolas-raoul commented on #75
Good news, this is starting to get implemented on commons.wikimedia.org :
https://commons.wikimedia.org/wiki/Commons:Structured_data/Computer-aided_tagging

[2019-09-18 10:31] RenatoViana01 commented on #3142
I was away this weekend, will get on it now :)

[2019-09-19 09:11] misaochan commented on #3129
Thanks @PavelAplevich !

[2019-09-19 09:11] #3129 closed

[2019-09-19 09:49] misaochan commented on #3026
Thanks for fixing the Achievements and wrong upload count in #3151  @ashishkumar468 . :) Based on
https://github.com/commons-app/apps-android-commons/issues/3026#issuecomment-511732535 , it seems like the remaining issues are:

[2019-09-19 09:59] ilgazer commented on #3026
IMO we should rewrite FileProcessor and the weird code surrounding it. That will probably also resolve this bug. I've started working on it.

[2019-09-19 10:03] misaochan commented on #3126
@PavelAplevich Using EXIF data is fine as far as I'm aware. The problem here is with the date **templates** being sent, which are in the wrong format. I think https://github.com/commons-app/apps-android-commons/issues/3126#issuecomment-525686311 explains what needs to be done. :)

[2019-09-19 15:34] RenatoViana01 commented on #3142
I was trying to get it with the network profiler and now I can't even reproduce the issue, it just gives me no images matching. Other queries work fine.
<img width="274" alt="Screenshot 2019-09-19 at 16 33 19" src="https://user-images.githubusercontent.com/12497487/65258718-4a514f80-dafb-11e9-8841-890034f4388f.png">

[2019-09-19 20:03] urbanecm commented on #3139
@misaochan Ping? Could you check the above?

[2019-09-20 09:25] misaochan commented on #3139
Hey @urbanecm , sorry for the slow response, I just got back from vacation a few days ago and had a huge backlog. :)

I spot-checked 10 of those, and they all appear to be correct! Thanks so much!

This one doesn't look right to me for number of new editors, it has 200k+ rows, and is_mobile is 0 for all of them?

[2019-09-20 12:13] Steinsplitter commented on #3144
Same here. I cannot login with 2FA enabled.

[2019-09-20 12:15] Steinsplitter commented on #3144
I don't think so, a number of experienced users with 2FA enabled can't login. The problem is not my pw. So i can confirm was @Darwinius wrote above.

[2019-09-21 05:28] nicolas-raoul opened #3152 "Suggest depictions by fetching nearby Wikidata items"
When I take a pictures near Arc De Triomphe, suggest as depictions: Arc De Triomphe, Champs Elysees, and other items that might be in my picture.

[2019-09-21 21:28] maskaravivek commented on #3144
@misaochan were you able to test this?

[2019-09-22 14:41] urbanecm commented on #3139
Cool! I've started a bot to fill https://commons.wikimedia.org/wiki/Category:Uploaded_with_Mobile/Android_(Nov_2017-Aug_2019) from that list then :).

That might be because there was `user_registration > "20180101000000"`.

[2019-09-23 14:53] neslihanturan opened #3154 "Master build issues"
**Summary:**

```apps-android-commons/app/src/main/res/values-en-gb: Error: Invalid resource directory name```
Master has a build issue

[2019-09-24 14:02] misaochan commented on #3144
Just managed to reenable 2FA and test this. 2FA logins on `backend-overhaul` do not prompt for OTP and automatically fail with the logs below.

[code]

[2019-09-24 14:17] misaochan commented on #3144
Additionally, 2FA logins also fail in `backend-overhaul` (the un-released development branch). @maskaravivek @ashishkumar468 please be aware that `backend-overhaul` logs display the user's password in plaintext. This should never happen, please make sure this is fixed before we merge `backend-overhaul` to master.

[2019-09-25 03:10] maskaravivek commented on #3154
Can this issue be closed now @neslihanturan?

[2019-09-25 05:13] ashishkumar468 commented on #3144
HI @misaochan , Do the tests fail on the latest commit of backend-overhaul,  I don't have 2FA enabled with me, would it be possible for you to attach the relevant logs from backend-overhaul

[2019-09-25 09:37] misaochan commented on #3144
@ashishkumar468 Yes, the tests fail on the latest commit of backend-overhaul. I didn't post the logs yesterday because they contain a lot more sensitive information than 2.11-release logs. I'll try and redact them today and email them to you and Vivek.

[2019-09-25 09:38] ashishkumar468 commented on #3144
That would be great, thanks JO :)

[2019-09-25 13:41] neslihanturan commented on #3154
Yes @maskaravivek

[2019-09-25 13:41] #3154 closed

[2019-09-25 17:34] misaochan commented on #3126
@PavelAplevich would you happen to have an update on this? Sorry for the rush, but this is a bit of a high-priority issue. :)

[2019-09-25 18:19] misaochan commented on #3139
@urbanecm Awesome, thank you! Has the bot already completed, i.e. https://commons.wikimedia.org/wiki/Category:Uploaded_with_Mobile/Android_(Nov_2017-Aug_2019) can now be used for stats?

Hmm. I checked the new query with user_registration > "20190101000000", but it still seems wrong. For instance [Booktab pub](https://commons.wikimedia.org/w/index.php?limit=50&title=Special%3AContributions&target=

[2019-09-25 18:33] urbanecm commented on #3139
The bot completed, but it seems to missed ~100 pages. The missing pages should be added soon.

Ad the query, maybe the simplest thing would be to write it from scratch. What results it should have? I'll try to write a query for that soon-ish!

[2019-09-25 18:35] misaochan commented on #3139
I think we would want the number of users whose first contribution to Commons was via mobile app, from Nov 2017 to Aug 2019.

[2019-09-26 00:43] nicolas-raoul commented on #2836
@omer-rotem1 Yes, thanks!

[2019-09-26 11:25] PavelAplevich commented on #3126
@misaochan
This is Czech locale image
hhttps://commons.wikimedia.beta.wmflabs.org/wiki/File%3AKran.jpg

This is Russian locale image
https://commons.wikimedia.beta.wmflabs.org/wiki/File%3A%D0%A3%D1%80%D1%83%D1%87%D1%8C%D0%B5.jpg
https://commons.wikimedia.beta.wmflabs.org/wiki/File%3A%D0%93%D0%BE%D1%80%D0%BE%D0%B4.jpg

This is UK locale image
https://commons.wikimedia.beta.wmflabs.org/wiki/File%3AC

[2019-09-27 10:21] misaochan commented on #3126
@PavelAplevich none of them are correct. We need the format "Photographs taken on 2019-07-05", which has the **year** first.

Take a look at the template for the images you linked - to view the format of the template, you can go to Summary > edit. The first file you linked, for instance, says:

A possible solution is to code it explicitly as year + "-" + month + "-" + day.

[2019-09-29 07:31] PavelAplevich commented on #3143
@nicolas-raoul
https://commons.wikimedia.beta.wmflabs.org/wiki/File%3A%E8%B4%85%E6%B2%A2%E3%81%9D%E3%81%86%E3%82%81%E3%82%93.jpg

Can't reproduce

[2019-09-29 08:22] ashishkumar468 opened #3157 "Upload Presenter test case fail"
**Summary:**
UplaodPresenter test handleSubmit() fails

**Steps to reproduce:**

Run Upload Presenter tests

**Device and Android version:**

NA

**Commons app version:**

master

**Would you like to work on the issue?**

yes

[2019-09-29 09:31] ashishkumar468 commented on #3126
Thanks for the PR @PavelAplevich , the same is merged with master, works for me. Can someone else also verify the same ?

[2019-09-29 09:38] #3157 closed

[2019-09-30 09:56] misaochan commented on #3126
Thanks so much @PavelAplevich ! :) @ashishkumar468 I am trying to review the results, but it seems like the Commons Beta DB is down at the moment? I'll try again later.

[2019-09-30 14:58] misaochan commented on #3126
Issue is fixed for me. Thanks @PavelAplevich !

[2019-10-01 15:25] brainwane commented on #70
Thank you!

[2019-10-02 11:47] misaochan commented on #3139
Hey @urbanecm , just pinging as requested. :)

Also, I guess https://commons.wikimedia.org/wiki/Category:Uploaded_with_Mobile/Android_(Nov_2017-Aug_2019) is ready to use now?

Thanks again!

[2019-10-02 17:43] its-kos commented on #253
Can i contribute to this ?

[2019-10-02 17:45] vanshikaarora commented on #253
Hey @its-kos. I am not working on this issue currently. You can take this up :-)

[2019-10-02 17:46] its-kos commented on #253
I can do Greek

[2019-10-02 17:51] vanshikaarora commented on #253
@its-kos You don't have to translate the description yourself. You can use Wikimedia APIs to fetch description in user's locale.

Check them out [here](https://commons.wikimedia.org/w/api)

[2019-10-02 17:52] its-kos commented on #253
This link doesnt work

[2019-10-02 17:53] vanshikaarora commented on #253
I'm sorry. Please try this out https://commons.wikimedia.org/w/api.php

[2019-10-02 17:57] its-kos commented on #253
Ah well i might have misinterpreted what the issue was, i thought it was a translation

[2019-10-02 17:59] vanshikaarora commented on #253
Are you clear with the issue now? Do you need more help with the issue?

[2019-10-02 19:59] royjor2016 opened #3160 "Author link is red link"
**Summary:**

Take a look at this please https://commons.wikimedia.org/wiki/Special:ListFiles/Ww9980 , e.g. https://commons.wikimedia.org/wiki/File:20191001_%E6%A2%85%E6%B1%9F%E7%AB%99.jpg .

This user's name is Ww9980, but the author field is **[[User:WFan|WFan]]** , linking to a different (and in this case non-existent) username.

This should not happen!

**Commons app version:**

This file was

[2019-10-03 13:24] sjl872964789 commented on #3134
Hello，any update about this issue？It would be really appreciated to get your concern on this.

[2019-10-03 17:14] misaochan commented on #3126
With further testing, I've found that uploaded pictures without EXIF data don't display the date at all in the summary: https://commons.wikimedia.org/wiki/File:Byron_lighthouse_2.jpg

This is quite strange since https://commons.wikimedia.beta.wmflabs.org/w/index.php?title=File:NoEXIF.jpg displays the date perfectly fine. And looking at their date templates, there is no difference.

Is there a diff

[2019-10-04 11:49] BhuvanaGN commented on #3117
will work on it

[2019-10-05 04:23] TechyMitch1 commented on #2874
Hello, I made some more corrections for English

[2019-10-05 04:26] JasonSarwar commented on #171
Are there still lint issues to be fixed?

[2019-10-05 08:15] PavelAplevich commented on #3126
@misaochan
I see the correct information both there and there

[2019-10-05 10:47] misaochan commented on #3126
Do you see the date in the summary? I don't mean Summary > Edit, but in the user-facing summary. Personally for https://commons.wikimedia.org/wiki/File:Byron_lighthouse_2.jpg this is what I see:

Description | English: Lighthouse at Cape Byron
Date |  
Source | Own work
Author | misaochan2

[2019-10-05 10:49] domdomegg commented on #171
Almost certainly, see https://developer.android.com/studio/write/lint#manuallyRunInspections for instructions on how to find them

[2019-10-05 10:57] PavelAplevich commented on #3126
Yes, i see.. Any ideas, what the problem is?

[2019-10-05 11:03] misaochan commented on #3126
I'm not sure. :( Trying to figure it out myself too. @nicolas-raoul @Aschroet any idea?

[2019-10-05 12:14] maskaravivek commented on #3128
I have reviewed all the dependencies that the app currently uses and apart from 2-3 dependencies all other libraries seem to be essential. Have attached links to the PRs for removing the non essential dependencies.

Thanks @RozaliyaRusskikh for removing the unused dependencies. Also just for documentation sake, we currently found just 2-3 dependencies which are non-essential as we carried out the

[2019-10-05 12:16] ashishkumar468 commented on #3160
Is this an issue with the app @misaochan @nicolas-raoul ?

[2019-10-05 12:25] misaochan commented on #3128
@nicolas-raoul @neslihanturan @dbrant Would appreciate thoughts on https://github.com/commons-app/apps-android-commons/issues/3128#issuecomment-538644740 :)

[2019-10-05 12:26] misaochan commented on #3160
Wow, interesting, I have never encountered or heard of this issue. But for this user it does look like it happened. Strange...

[2019-10-05 14:15] ashishkumar468 commented on #3128
Cross verified @maskaravivek  's comment, LGTM :)

[2019-10-06 06:07] ashishkumar468 commented on #3026
@misaochan  I am not able to reproduce this . "Issues found with multiple uploads (with Android stock gallery): Unable to select more than 1 image in Android stock gallery. It works for Google Photos.". Can you reverify this on the latest commit form this branch, a screenshot for the same would be better, could be a device-specific issue. Just to confirm that is is a bug added by this branch, can

[2019-10-06 06:44] ashishkumar468 commented on #3026
@misaochan About this " Dates appear to be using the upload date again instead of the date taken - the picture above was taken on 15 Jul", I am not able to reproduce this as well, I uploaded one of the [images](https://commons.m.wikimedia.org/wiki/File%3ABridal_Veil_falls.jpg) you had sent me (created date 20/05/2016), which seems to show up correctly the web app as well. Attaching the screenshot

[2019-10-08 16:47] misaochan commented on #3026
@ashishkumar468 I can't quite figure out the date bug. Upon testing the current version of backend-overhaul, I now get a completely unrelated date.

For instance, I uploaded https://commons.wikimedia.org/wiki/File:Jacaranda_in_bloom.jpg from Google Photos single upload. The template says the photo's date is 7 September, but I definitely took it on 7 October. The EXIF information on Google Photos c

[2019-10-08 16:49] ashishkumar468 commented on #3026
Hi @misaochan , If this is the case, I am sure this must be there on master as well, if that comes out to be true, can we take that separately?

[2019-10-08 16:51] misaochan commented on #3026
Sure, I'm OK with merging backend-overhaul to master with this bug present (might be easier than trying to fix everything before merging), but we still have to fix it before releasing v2.12 with it. :)

[2019-10-08 17:03] misaochan commented on #3026
Yes, the problem still occurs for me on the latest commit. I tested using a Samsung Galaxy s9 running Android 9.0.

This is the stock Android gallery after tapping the FAB "+"  button > Gallery. Long-pressing on any image does not initiate multiple selection.

![Screenshot_20191009-025410_Gallery](https://user-images.githubusercontent.com/3611199/66416182-9c252f80-ea40-11e9-8348-aaf780870ef7.jpg)

[2019-10-08 17:34] ashishkumar468 commented on #3026
Hi @misaochan, Can you verify if this is happening to you on master as well ?

[2019-10-09 14:50] misaochan commented on #3026
Oops, another bug... when I was testing #3166 I uploaded a file titled "Story Bridge". The app warned me that the file exists, as it should, but it did not add a numbered suffix as it usually does. Instead, it rewrote https://commons.wikimedia.org/wiki/File:Story_Bridge.jpg

(I will test master for the multiple uploads afterwards)

[2019-10-09 15:06] ashishkumar468 commented on #3026
@misaochan So if it does not work for you on master as well, we should probably create a separate issue for that. I am sure this is something device-specific (weird though). Thanks for finding the other bug JO, I will look into that, so other than cross-wiki thing, only this is left on backend-ovberhaul, right ?

[2019-10-09 15:46] misaochan commented on #3026
Yeah, if it works on your device, I think it's OK to address it separately. In order to be considered complete, the backend overhaul task needs 2FA logins to work in addition to the overwrite bug and cross-wiki calls. But it should be fine to merge the `backend-overhaul` branch to master after the overwrite bug is fixed, so that alpha testers can try it asap.

[2019-10-09 16:04] misaochan commented on #3147
Sorry, seems like we missed this (I was only notified of the ping today). Yes, we should be able to fix this shortly. Just to be clear what is needed - for https://commons.wikimedia.org/wiki/File:8.1.19VaughanChiangByLuigiNovi30.jpg we should send the notification to User:Nightscream, correct?

[2019-10-09 21:57] Achim55 commented on #3147
Correct, thank you.

[2019-10-10 09:42] misaochan commented on #3147
Thanks for the confirmation, this will be included in the next release.

[2019-10-10 09:43] misaochan commented on #3126
@Achim55 Hope you don't mind a quick Q - do you know why the date field in the user-facing summary of https://commons.wikimedia.org/wiki/File:Byron_lighthouse_2.jpg is blank, even though the template is filled with |date={{date|2019-09-09}}``?

[2019-10-11 01:06] Yued1 commented on #3126
@misaochan I tried in various locales, and the user-facing summary is displaying the proper dates.

[2019-10-11 04:23] PavelAplevich commented on #3126
@misaochan I have correct data too..

[2019-10-11 07:29] Achim55 commented on #3126
I fixed it and left a note on your talk page. Best, Achim

[2019-10-13 01:19] JasonSarwar commented on #171
Opened one pull request for changes to the packages:
* fr.free.nrw.commons.bookmarks
* fr.free.nrw.commons.bookmarks.locations
* fr.free.nrw.commons.bookmarks.pictures
* fr.free.nrw.commons.category

I'll work on more fixes and submit them in other pull requests.

[2019-10-14 12:11] nicolas-raoul commented on #3134
I don't understand step 1, I don't seem to have any such setting. Could you
please add a screenshot of that step?

Thanks!

On Thu, 3 Oct 2019, 03:24 L, <notifications@github.com> wrote:

[2019-10-15 14:32] #2884 closed

[2019-10-15 14:33] maskaravivek commented on #2884
Good job @neslihanturan :)

[2019-10-15 17:43] Achim55 opened #3174 "Items of Delete.Reason need to be changed"
**Summary:** Delete.Reason items "... Other" must be removed ASAP

a) "Because it is Other" is no valid reason, see https://commons.wikimedia.org/wiki/Commons:Deletion_requests/File:Po_Shun_Road_roundabout_protesters_20190804.jpg for example
b) Users have been blocked because of this, see https://commons.wikimedia.org/wiki/Special:Contributions/Ahmed_mohssen_abumira for example

[2019-10-16 16:44] misaochan commented on #3126
Thanks @Achim55 , I'll modify the template that we send accordingly. :)

[2019-10-16 16:47] misaochan commented on #3174
Will do.

I actually wonder if it is a good idea to keep allowing deletion nominations through our app. I recall we started by just allowing people to nominate their OWN photos for deletion, which is a much more conservative measure. Allowing it for other people's photos seems to increase the surface area for problems. @nicolas-raoul @neslihanturan @maskaravivek

[2019-10-17 09:40] misaochan opened #3179 "Make category search non case-sensitive"
Received a report from a 2.11 user on our FB page that category search is case-sensitive for her, which means that sometimes she'll type the right category in the search field but nothing will show up.

AFAIK the MW API that we use is inherently case-sensitive, but the upload wizard seems to be able to find a way around that and produces the same category suggestions regardless of case.

[2019-10-17 10:44] nicolas-raoul commented on #3179
Maybe if we convert everything to lowercase then the server performs a non-case-sensitive search? That's just an hypothesis, I have not tried.

[2019-10-17 11:25] Achim55 commented on #3174
Josephine, I think deletion request functionality could be kept but I think predefined reasons are not the best way. Better let the users enter some text as rationale. The used language doesn't matter, because https://commons.wikimedia.org/wiki/Commons:List_of_administrators_by_language now lists sysops of 36 different languages, so it should be sufficient to get the given reason.

[2019-10-22 14:33] misaochan commented on #3174
Sounds good. For the time being I think we can remove "Other" so it can be done ASAP for the next release, but keep this issue open and switch to custom text for the long term if everyone is agreed.

[2019-10-22 15:48] misaochan commented on #3179
@nicolas-raoul Possible! We'll try it out with a direct query first.

[2019-10-22 17:52] DeepaMalani opened #3180 "Wrong image details in Explore"
**Summary:**

After getting search results in Explore, sometimes when clicking on image it displays wrong image details.

**Steps to reproduce:**

How can we reproduce the issue?
What did you expect the app to do, and what did you see instead?

1. Go to Explore
2. Type cat/fish in search box
3. Click on the list item
4. Wrong image details
For example - Clicking on second image it displays details

[2019-10-25 07:41] misaochan commented on #3174
Reopening issue for the long-term discussion as per https://github.com/commons-app/apps-android-commons/issues/3174#issuecomment-544992501

[2019-10-25 10:47] draco-malfoy commented on #2882
Why is this still open?

[2019-10-26 13:55] yashk2000 commented on #2753
I would like to work on this issue.

[2019-10-27 00:39] Rui-Zhang1997 commented on #3137
May I be assigned this issue?

[2019-10-27 14:36] Ainali opened #3186 "Use coordinates and date to suggest categories"
**Summary:**

If coordinates and date are available, they can be used to suggest useful categories. For example, I am taking a picture in Stockholm 15 October 2019, and depending on how the category tree look at the specific time for the image I could get the suggestion to add from these categories:

* 2019 in Sweden
  * 2019 in Stockholm County
    * 2019 in Stockholm
* October 2019 in Sweden
  *

[2019-10-27 14:53] Ainali opened #3187 "Suggest category based on EXIF data on camera model"
Most common camera models already have categories in Commons like: Category:Taken with Samsung Galaxy S7 Edge and so on. Since the model name of the camera is in the EXIF data, it would be possible to actually suggest these categories for the user.

[2019-10-28 09:36] misaochan opened #3188 "Travis failing on master"
Execution failed for task ':app:mergeBetaDebugResources'.

[2019-10-28 11:04] yashk2000 commented on #3188
@misaochan renaming the file to `values-b+tt+Cyrl` fixes the error. Should I rename the file accordingly and send a pr?

[2019-10-29 12:59] yashk2000 commented on #3188
@misaochan renaming the file to `values-b+tt+Cyrl` does not cause the error to occur on my laptop. Should I rename the file accordingly and send a pr?

[2019-10-30 09:04] misaochan commented on #3188
Sounds good to me, thanks. :)

[2019-10-30 09:15] yashk2000 commented on #3188
On it.

[2019-10-31 16:58] albendz commented on #3160
I'll do a bit of investigation into this and see what I can find.

[2019-11-01 13:07] neslihanturan commented on #2874
Reopened because the issue is not completely solved.

[2019-11-01 13:57] neslihanturan commented on #3188
Travis fails with same reason:
[code]

[2019-11-01 14:21] yashk2000 commented on #3188
@neslihanturan @misaochan this happened because this file was added by localization updates from translatewiki again.
I don't know how to prevent that from happening.

Maybe we could update the travis.yml so that if this file is found, it should be renamed to `values-b+tt-Cyrl`. Could you please tell if this should be done?

[2019-11-02 05:31] maskaravivek commented on #3188
@misaochan Do you know how translate wiki is able to merge commits directly to master? Is there some kind of pipeline set up for it. Maybe we can change it so that pull requests are created instead of direct commits.

[2019-11-02 11:08] nicolas-raoul commented on #3187
I think server-side bots are already doing that very well... am I mistaken?

[2019-11-02 11:14] nicolas-raoul commented on #3186
Good idea!
Finding the country from the coordinates would be a good first step (I think there is an issue about that but I can't find it).

[2019-11-02 11:27] nicolas-raoul commented on #3174
I am in favor of letting users nominate other people's uploads for deletion.

Ahmed was being silly (vandalism), and could have done the exact same thing using the website rather than the app. Blocking was the right thing to do. This is an example of a wiki working as it is supposed to.

[2019-11-02 11:42] Ainali commented on #3187
I have never seen such a bot (or diffs made by bots). If you can point to anyone i would be happy to talk to the bot owner about expanding it's activity.

[2019-11-04 07:01] nicolas-raoul commented on #3188
I am sure the rename can be performed automatically via Translatewiki
configuration. We already do something similar for other languages.

On Sat, 2 Nov 2019, 14:31 Vivek Maskara, <notifications@github.com> wrote:

[2019-11-04 15:00] yashk2000 commented on #3188
@nicolas-raoul could you please provide some guidance as to how to do that?

[2019-11-04 15:15] yashk2000 opened #3191 "Make the username along with the rewards icon clickable in the Navigation Drawer"
**Summary:**

Make the username along with the rewards icon clickable in the Navigation Drawer

**Steps to reproduce:**

How can we reproduce the issue?
What did you expect the app to do, and what did you see instead?

- Open the app's Navigation Drawer.
- See the username and the trophy icon.
- The trophy icon doesn't appear to be clickable at first glance.
- Make the username also clickable as g

[2019-11-04 15:19] yashk2000 commented on #3191
@misaochan @neslihanturan @ashishkumar468 could you please provide your views on this? Is it fine for a GCI issue?

[2019-11-04 15:35] yashk2000 opened #3192 "Improve the share message of the app"
**Summary:**

Improve the share message of the app

**Steps to reproduce:**

- Enter the about activity.
- Click the share icon.
- The message sent on sharing the app can be improved a bit by adding some punctuations.

**Commons app version:**

2.11.0-debug-master

**Would you like to work on the issue?**

Opening this issue for GCI.

[2019-11-04 15:36] yashk2000 commented on #3192
@misaochan @neslihanturan @ashishkumar468 could you please provide your views on this? Is it fine for a GCI issue?

[2019-11-04 23:27] albendz commented on #3160
I think someone might need to look in the database to check some of the values. A couple of things looked like they might not always return the expected username or at least they might return different values at different times:
[1](https://github.com/commons-app/apps-android-commons/blob/master/app/src/main/java/fr/free/nrw/commons/auth/SessionManager.java#L110) : You can get either the user name

[2019-11-05 17:31] DeepaMalani commented on #1650
Hi Nicolas,

I tried to reproduce this issue to figure out what is the reason and I found below reason for this issue.

When I want to search **apple**  but before finishing the writing **apple** loader starts to fetch the data from the server with just two or three letters (because of little dealy in my typing) it displays wrong results.

For example
1. I typed **app**  and loader started to fetc

[2019-11-05 17:44] ashishkumar468 commented on #1650
Hi Deepa, Feel free to pick the issue. It is yours :-)

[2019-11-05 18:23] DeepaMalani commented on #1650
Thanks Ashish :)

[2019-11-05 18:49] ashishkumar468 commented on #3180
Hi Deepa, Thanks for finding the issue. I am not able to reproduce this, is there a  specific way to produce this. It would be great if you could attach a GIF supporting the same. :-)

[2019-11-05 18:52] ashishkumar468 commented on #3191
Hi @yashk2000. Not sure about this in terms of GCI, but IMO, the feature looks fine to me. It would be nice to have the entire area clickable.

[2019-11-05 19:00] ashishkumar468 commented on #3134
Thanks for finding out the issue @sjl872964789. This must be happening in the newer versions of android. (Mostly 8+). We will have to probably figure out if the LOCATION_MODE is device only and maybe ask the user to update the location preferences in that case.

[2019-11-05 19:20] DeepaMalani commented on #1650
Hi Ashish,

Below are the steps to reproduce it.
For example I want to get the result for Apple

1. Type **app** and let the loader starts
Here is the screen shot

![App_Screenshot](https://user-images.githubusercontent.com/24900514/68237732-8e6db600-ffbc-11e9-8acf-b3700bddc9ae.png)

2. Once loader starts **immediately** type remaining letters for example "le" in my case.

![Apple_Screenshot](http

[2019-11-06 09:16] neslihanturan commented on #3192
Hi @yashk2000 , would you mind sharing GCI task specifications etc.? I am not sure if this issue is really needed. What punctuation do you want to change? Can you provide current and updated strings?

[2019-11-06 09:58] neslihanturan opened #3195 "Ordering problem at contributions list when same file name is used"
**Summary:**
We expect that contributions list add latest item to top. But when we used same filenames, the last one appears on the bottom, see the screenshots:

**Steps to reproduce:**
Add files with same file name

**Device and Android version:**

 API 21 Emulator

**Commons app version:**

Current master, beta debug

**Screen-shots:**

![image](https://user-images.githubusercontent.com/3127881/

[2019-11-06 10:07] yashk2000 commented on #3192
@neslihanturan the current share message is this:
`Upload photos to Wikimedia Commons on your phone Download the Commons app: https://play.google.com/store/apps/details?id=fr.free.nrw.commons`

It's missing the punctuation over here `on your phone Download`. It also seems to be a bit too dull in my opinion. I was thinking of adding the punctuation and making the message as follows:
`Upload photos

[2019-11-06 10:08] yashk2000 commented on #3191
@ashishkumar468 @neslihanturan I have a few more ideas for GCI tasks, but I want to discuss them with you before I create the tasks. So should I just open issues over here, or should I send a list of all my ideas to the mailing list?

[2019-11-06 10:11] neslihanturan commented on #3192
Oh okay, a native speaker it better to share their idea here:) Let's wait for someone else join the conversation.

[2019-11-06 10:28] yashk2000 commented on #3192
@neslihanturan I have a few more ideas for GCI tasks, but I want to discuss them with the maintainers before I create the tasks. So should I just open issues over here, or should I send a list of all my ideas to the mailing list?

[2019-11-06 11:06] #2182 closed

[2019-11-06 11:28] #2753 closed

[2019-11-06 11:30] neslihanturan commented on #3192
Creating issues seems to better to me. You can create a label and add it to your issues like "GCI ideas"

[2019-11-06 11:39] nicolas-raoul commented on #3192
I agree with Neslihan's comment above.
Then please add GCI tasks for each issue we have set labels for.
Thanks a lot :-)

[2019-11-06 12:15] yashk2000 commented on #3192
@nicolas-raoul I should add GCI tasks for each issue with the label `good first issue`?

[2019-11-06 12:17] yashk2000 commented on #3192
@nicolas-raoul @neslihanturan I should add GCI tasks for each issue with the label good first issue?

[2019-11-06 12:27] yashk2000 opened #3197 "The xml files contain a lot of hardcoded dimensions"
**Summary:**

The xml files contain a lot of hardcoded dimensions

**More Information**

Currently, a lot of the layout files contain hardcoded dimension values as layout_width, layout_height, padding, etc. Instead of being hardcoded, these values should be a part of the dimens.xml file from which they should be accessed each time needed. The same should be done for text size which is currently ha

[2019-11-06 12:27] yashk2000 commented on #3197
@neslihanturan @ashishkumar468 @nicolas-raoul please provide your views on this issue for GCI.

[2019-11-06 12:28] ashishkumar468 commented on #3197
Hi @yashk2000  Can you provide specific examples for the same ?

[2019-11-06 12:34] yashk2000 commented on #3197
@ashishkumar468 Some files where I noticed these issues are:
- welcome_final.xml
- activity_notification.xml
- activity_quiz.xml
- bottom_sheet_nearby.xml

These are just few of the files. I think whoever takes up this issue will have to go through all the layouts and see if this issue exists in them.

[2019-11-06 12:45] neslihanturan commented on #3197
@yashk2000 we are not sure about the scope of a GCI issue. We don't know how hard it should be etc. Can you provide us a document about which issues can be accepted as an GCI issue. "Ie. issues which can be done in 1 day for experienced developer and 7 days for a newbie."

[2019-11-06 12:53] nicolas-raoul commented on #3197
It is a rather hard CGI task, but still OK I think.
In the instructions, be sure to link to https://github.com/commons-app/apps-android-commons/wiki/Quick-start-guide-for-Developers

[2019-11-06 12:53] yashk2000 commented on #3197
@neslihanturan the minimum time for completing a GCi task is 3 days. We cannot set the time for completing a task in less than 3 days.

Here is a list of some sample tasks: https://developers.google.com/open-source/gci/resources/example-tasks

As far as I could make out, we should make tasks that are not very tough for beginners to figure out by using online resources. I saw some other GCI tasks t

[2019-11-06 13:14] nicolas-raoul commented on #3137
@Rui-Zhang1997 Yes, thank you, and sorry for the late reply! Please let us know about your progress :-)

[2019-11-06 13:30] neslihanturan commented on #3197
After reading the info at the link, I think punctuation fixes can not be accepted as GCI task, on the other hand fixin hard coded variables in xmls can be a task.

[2019-11-06 14:55] yashk2000 commented on #3197
@neslihanturan while punctuation fixes aren't a very high-level task, but I think it will be acceptable to help someone get started.
The tasks given in the link are only some of the tasks which were taken by last year's winners. I think we can keep the punctuation fix as a beginner level task.

[2019-11-06 18:50] DeepaMalani commented on #3180
Hi Ashish,

This issue is related to issue 1650. It will be automatically resolved after solving #1650
When we get the wrong list in Explore then it displays the wrong details also.

Steps to reproduce are similar to #1650
For example, I want to get the result for pink

1. Type pi and let the loader starts
Here is the screenshot

![Screenshot_2019-11-06-18-38-46](https://user-images.githubusercont

[2019-11-06 19:38] urbanecm commented on #3197
Published as https://codein.withgoogle.com/tasks/6173151566757888/ (or https://codein.withgoogle.com/dashboard/tasks/6173151566757888/ for GCI-recognized mentors)

[2019-11-07 03:15] sjl872964789 commented on #3134
I'm sorry to see your kind reply just now. In fact, the three mobile phones I used (Samsung A6s, Xiaomi Hm2, vivo x9) all have this setting. Of course, it seems that some mobile phone systems do not have this setting. Attach how to find this setting for my mobile phone.
![D6DE156A764118C9B24612644A9EE0AD](https://user-images.githubusercontent.com/15941953/68357265-b6415300-014f-11ea-8b75-7afe1f62c

[2019-11-08 13:38] yashk2000 opened #3201 "[GCI Ideas] Remove unused imports from classes"
**Summary:**

Currently, some classes contain unused imports. To improve code quality and make the app-building faster, these unused imports should be removed.

A few files that contain unused imports are:

- SessionManager.java
- BookmarkPicturesController.java
- Bookmark.java
- CacheController.java
- CampaignsPresenter.java

Similarly, go through other classes and remove all unused imports. Unus

[2019-11-08 13:38] yashk2000 commented on #3201
@neslihanturan @ashishkumar468 @nicolas-raoul please tell if this is a good task for GCI.

[2019-11-08 17:35] DeepaMalani commented on #3195
Hi, Neslihanturan,

I tried to reproduce issue #3195 on the same device which you specified(Emulator Api 21) but it's working fine, which means a new image with the same file name added to the top.

Here is screen shots
<img width="257" alt="issue_3195" src="https://user-images.githubusercontent.com/24900514/68498144-003b3f00-020b-11ea-8706-3e33fef1fb2c.PNG">

Could you please suggest me is there

[2019-11-09 08:35] nicolas-raoul commented on #3201
good for CGI

On Fri, 8 Nov 2019, 22:38 Yash Khare, <notifications@github.com> wrote:

[2019-11-09 12:17] chaytanyasinha commented on #2874
May I contribute to this issue.

[2019-11-09 13:35] chaytanyasinha commented on #2920
May I contribute to this issue @neslihanturan

[2019-11-09 15:10] neslihanturan commented on #2920
Sure @chaytanyasinha , do you have suggestions for strings?

[2019-11-09 19:16] chaytanyasinha commented on #2920
@neslihanturan ma'am,
I would say that while questioning we can let it be "Does this follow the rules of copyright?".And we can say "Logos,screenshots,movie posters are often  copyright violations".That's it,because writing "Clicking NO to nominate this image for deletion" as it's already mentioned in the first review question and it's letting the "NO,copyright violation" to hide or  we can shift

[2019-11-09 19:29] chaytanyasinha commented on #2920
For "Is it in scope" we can write "Is the picture clicked correctly"  and instead  of "Is this picture under <category>?
where <category> is a variable which will be changed with the name of the category.

[2019-11-10 18:20] GearGit commented on #3201
Can I work on this issue?

[2019-11-10 18:21] GearGit commented on #3201
Can I work on this issue?

[2019-11-11 07:29] shash137 commented on #3192
Hello @yashk2000 , @neslihanturan , @nicolas-raoul , @ashishkumar468  I'm new to the community and I would like to resolve this.

[2019-11-11 07:31] ashishkumar468 commented on #3192
Sure @shash137. Please let us know what changed do you intend to make to resolve this issue?

[2019-11-11 07:55] shash137 commented on #3192
@ashishkumar468  I've changed the current share message:
`Upload photos to Wikimedia Commons on your phone Download the Commons app: https://play.google.com/store/apps/details?id=fr.free.nrw.commons`
to
`Upload photos to the Wikimedia Commons directly from your phone. Download the Commons App now: https://play.google.com/store/apps/details?id=fr.free.nrw.commons`

[2019-11-11 07:56] ashishkumar468 commented on #3192
LGTM, good to go if one of @neslihanturan, @maskaravivek @nicolas-raoul  @misaochan  confirms.

[2019-11-11 08:44] yashk2000 commented on #3192
@ashishkumar0207 @shash137 this is a GCI issue. We have created a task for it in the GCI dashboard too.

We should wait till 2nd December when GCI starts and assign it to a GCI student.

[2019-11-11 08:46] yashk2000 commented on #3201
@GearGit this is a GCI task. So if you are a GCI student, please wait till December 2nd to officially claim the task and then start working on it.
If you are not a GCI student, please go for a non-GCI issue :)

[2019-11-11 08:47] ashishkumar468 commented on #3192
Thanks, @yashk2000, I did not know @shash137  was not picking this up as a part of the GCI task. @shash137, as @yashk2000 said this is a GCI task and only those associated with GCI can be assigned this task.

[2019-11-11 09:17] shash137 commented on #3192
@ashishkumar468 , @yashk2000  i don't know about GCI please tell me.
But I was told in the zulip to contribute in the issues under "good first issues" tag.

[2019-11-11 09:41] nicolas-raoul commented on #3201
@GearGit Thanks for your comprehension :-)

[2019-11-11 12:32] nicolas-raoul commented on #2909
Bug still present in latest master.

[2019-11-11 12:35] nicolas-raoul opened #3202 ""Sending Thanks: Failure" despite good WiFi"
Latest master

I reviewed one picture which was a great picture with everything perfect, I chose the thank the uploader.

I sent my log file, it might contain relevant information.

[2019-11-11 12:53] nicolas-raoul commented on #3192
Sorry, adding that tag was my mistake.
Let's add this tag again on such issues if they are not solved after CGI.

[2019-11-11 15:29] shash137 commented on #3192
What is CGI @nicolas-raoul  if can ask?

[2019-11-11 17:01] shash137 commented on #3192
@nicolas-raoul  okay so I don't have to solve issues under GCI.

[2019-11-13 13:24] chaytanyasinha commented on #3186
@nicolas-raoul. I also thought about this idea earlier and may I contribute to this .

[2019-11-13 15:08] neslihanturan commented on #2920
Hey @chaytanyasinha, thanks for sharing preffered strings but they are somehow longer then the previous ones. but we want to make them shorter. Additionally it is always better to ad a single space after punctuations. By the way I am not the most suitable person to discuss language fixes so this discussion is very open for someone to join

[2019-11-13 18:27] DeepaMalani opened #3203 "Review: App crash when rotating the Peer Review screen"
**Summary:**

Summarize your issue in one sentence (what goes wrong, what did you expect to happen)

App is getting crash when I rotate the screen for "Is this correctly categorized?" title.

**Steps to reproduce:**

How can we reproduce the issue?
What did you expect the app to do, and what did you see instead?

Steps to reproduce

1. Go to the Navigation Drawer and click on "Review".
2.  Click "

[2019-11-13 18:50] chaytanyasinha commented on #2920
Hey @neslihanturan  thanks for letting me know.Well I  was also thinking of  of the string "Does this come under <category>?" where <category> is variable which will be adjusted with the according to whatever the category will be.

[2019-11-14 14:06] neslihanturan opened #3204 "Reminding for usage of the PR title templates"
**Summary:**

As noted in documentations we have templates for pull request titles. sometimes some of us doesnt rely on this template. This is a kind reminder that please make sure you followed templates. Hint:
Fixes #xxxx TITLE OF XXXX so that the reviewer can relate the issue and PR when they are checking from the list.

[2019-11-14 15:20] samwilson opened #3205 "Custom author name breaks when it's a template"
**Summary:**

The custom author name setting expects a username, unlike for example the similar field in UploadWizard. For example, when setting a custom author name that contains a template, it is wrapped in a User link.

For example, [this revision](https://commons.wikimedia.org/w/index.php?oldid=375363301) contains:

[code]

**Steps to reproduce:**

1. Set a custom author name to a non-username

[2019-11-14 18:05] chaytanyasinha opened #3206 "Making review question boxes also touchable so that can we can swipe it to next question."
Summary:
We should let the whole area of review cards which contains "Is this in-scope?","Is this under category correctly"which is there in the review section instead of the small dots pagination in the most bottom.
And I also feel like the Skip this image button should be in the extreme bottom.
Steps to reproduce the issue:
Just go to the review section and you may try swipe to the other questio

[2019-11-14 20:21] chaytanyasinha opened #3207 "Notification when a picture is added to bookmarks."
Summary:
There is no notification about the bookmarks when they are added.

Steps to reproduce:
Just go to explore select a picture of your choice then just click on the star in the top right  then it will be added to your bookmarks but there is no notification  about the picture being added to bookmarks.
What did you expect the app to do, and what did you see instead?
App should show an notificat

[2019-11-15 14:24] neslihanturan commented on #3206
Thanks for your suggestion @chaytanyasinha :) as a user i wouldnt expect to go to next question when I click on the the question itself. I am not sure if it is a needed improvement. Please everyone join the discussion

[2019-11-15 14:27] chaytanyasinha commented on #3206
Correct ma'am but I just want to say that if an user can go to thd next question by sliding through the dots,then sliding the questions will much easier.

[2019-11-15 14:31] neslihanturan commented on #3206
Sorry I thought you were talking about tapping questions not sliding them. Actually I am not really sure what does screenshots displays and what the issue really is. I have read the issue description carefully but would be great if you can edit it to make it more clear. And it also would be great if you can note if the screenshots indicates the current situation or the situation after the improvem

[2019-11-15 14:32] neslihanturan commented on #3206
And a friendly reminder, we are a team here so no need to say ma"am. You can say friend or tag our name instead:)

[2019-11-15 14:41] neslihanturan commented on #3203
Then this is assigned to you @DeepaMalani thanks a lot for reporting.

[2019-11-15 14:45] neslihanturan commented on #3195
I will try to reproduce it as soon as possible @DeepaMalani , thanks a lot.

[2019-11-15 14:50] neslihanturan commented on #3191
I agree this one is not for GCI but would be lovely to have, thanks.

[2019-11-15 15:17] maskaravivek commented on #747
We recently attended the Wikimedia Technical Conference 2019 and a few people suggested to start using Kotlin in our codebase.

@misaochan @neslihanturan @ashishkumar468 @nicolas-raoul @dbrant Do you guys have any thoughts on this?

[2019-11-15 15:46] dbrant commented on #747
Kotlin is where the ecosystem is heading, without a doubt. Even all the code samples in the Android framework documentation are now Kotlin-first.  It's definitely a much better language than Java, for various reasons that I won't argue here. Once you get used to it, you won't want to go back.

However, there shouldn't be any rush to convert all of your _old_ classes from Java to Kotlin, since it c

[2019-11-15 16:20] neslihanturan commented on #747
My concern is what would be the effect of Kotlin usage for newcomers. Do you think people started to know about be familiar with it or still Android developers mostly know Java instead of Kotlin?

[2019-11-16 14:03] FlorianSW opened #3208 "Show information message when login is throttling"
When logging through the app and the login gets throttled, the app still only shows, that the username/password is wrong. The app should give the information, that the login is throttled and the user should wait for some time.

[2019-11-17 04:29] chaytanyasinha commented on #3207
@neslihanturan @maskaravivek @ashishkumar468 @nicolas-raoul what you guys say about this issue.

[2019-11-17 05:06] chaytanyasinha commented on #3206
@neslihanturan I made the changes in the issue description

[2019-11-17 20:06] shash137 opened #3209 "Add email verification to the app"
**Summary:**

Email verification must be added to the app to avoid anonymous logging in.

_If there is authentication in the app so there must be email verification in the app so as to avoid anonymous log in to the app, this will restrict fake login and will be more safe._

**Steps to reproduce:**

I think this can be solved by using firebase authentication and email verification.

**Device and An

[2019-11-17 20:11] shash137 commented on #3209
@neslihanturan @nicolas-raoul what you guys say about this issue?

[2019-11-18 08:04] sivaraam commented on #3209
Just chiming in. Commons ([which is a global account for all Wikimedia projects](https://meta.wikimedia.org/wiki/Help:Unified_login)), does not mandate the user to provide an email address.

Regardless, when one provides the email address a verification email is indeed sent to verify the email address. So, I don't understand what's missing here.

[2019-11-18 14:30] shash137 commented on #3209
Yes email verification is said, but I'm saying without verifying email app must not start. I just wanted this, but I think it is not required.
thanks

[2019-11-18 19:26] sivaraam commented on #3209
Nice suggestion but I think that would make the flow inconsistent with that of the Commons website. So, its better to leave this here. Hope you'll find something better :slightly_smiling_face:

[2019-11-18 22:52] nicolas-raoul commented on #3209
Yes, I don't think we need additional verification, unless WMF requires it from us for some reason.
I close the issue for now, but feel free to continue the discussion to bring new arguments.
Thanks for participating! :-)

[2019-11-18 22:52] #3209 closed

[2019-11-18 23:01] nicolas-raoul opened #3210 "Crash when uploading a picture via Nearby"
API level: 28
Android version: 9
Device manufacturer: samsung
Device model: SM-G970F
Device: beyond0
Network type: wifi
App version name: 2.11.0.493 (GitHub commit 8ccad22)

Steps to reproduce:

1. Start Commons app
2. Tap "Nearby"
3. Select any pin
4. Tap the + button
5. Tap gallery
6. Select any picture
7. Crash

Same if tapping camera at step 5

[2019-11-18 23:07] nicolas-raoul commented on #3207
I don't think we need a notification when adding a bookmark.
If you know any popular app that has this behavior, please let us know.

I will close this issue for now. Thanks for you participation though :-)

[2019-11-18 23:07] #3207 closed

[2019-11-18 23:12] nicolas-raoul commented on #3208
What do you mean by "throttling"?

Do you mean, when the user is blocked?

[2019-11-18 23:19] nicolas-raoul commented on #747
How about:
- Creating new classes in Java in OK
- Creating new classes in Kotlin in OK
- Converting a class from Java to Kotlin is OK
- Converting a class from Kotlin to Java is forbidden
?

That allows a smooth conversion, allows both Java and Kotlin fans to contribute. Java to Kotlin conversion could be the topic of a Google Code-In task, for the easy classes. I am sure that within a few years s

[2019-11-18 23:38] FlorianSW commented on #3208
Nope, When logging in with the wrong password, the user is "throttled" from making any new attempt to login for a given time period. This feature can be configured with: https://www.mediawiki.org/wiki/Manual:$wgPasswordAttemptThrottle

When hitting this throttling using the commons app, it will keep saying, that the username/password combination was incorrect, while this was not checked, and the l

[2019-11-19 02:15] chaytanyasinha commented on #3207
okay @nicolas-raoul

[2019-11-19 04:31] shash137 commented on #3209
Okay thnx for your help @nicolas-raoul and @sivaraam, one more thing earlier I forgot to add when sign in completes there is toast message "Account Created", and there is no message related to email verification, I think it should be like first "Account Created" and then "email verification sent" or we can do it "Account Created and email verification sent!". Is it good @nicolas-raoul and @sivaraa

[2019-11-19 09:17] neslihanturan commented on #3208
Thanks @FlorianSW , I think it would be a lot more beneficial having the correct message with an information link about what throttling is.

[2019-11-19 09:18] neslihanturan commented on #747
Sounds like a great movement plan @nicolas-raoul

[2019-11-19 10:19] IgnacioGarcia198 commented on #3210
Hello, I would like to fix this bug :)

[2019-11-19 10:20] neslihanturan commented on #3210
Okay @IgnacioGarcia198 go for it. Please don't hesitate to ask us because this can be a relatively complicated issue.

[2019-11-19 10:29] IgnacioGarcia198 commented on #3210
That is true. I just tried a very easy fix for this issue, my app on my device is not crashing anymore. Although I also changed some version numbers etc in the build.grade files (nothing to do with this issue, just Android Studio always complains about such things) I hope it's not a problem, just let you know.

[2019-11-19 10:31] neslihanturan commented on #3210
Actually changing build number would be a problem. When you create the pull request please make sure just relevant changes are made. Any extra changes will block your Pr beıng merged.

[2019-11-19 12:20] IgnacioGarcia198 commented on #3210
Hello, there is this directory values-tt-cyrl which is causing an error, may I delete it?
Also should I send the PR on master or on a different branch?
Thanks in advance.

[2019-11-20 06:07] #2255 closed

[2019-11-20 06:09] maskaravivek commented on #747
@misaochan If you agree to this, we can probably add this in our contribution guidelines. Post that, I will add support(add library dependency) for Kotlin in our codebase.

[2019-11-20 06:35] chaytanyasinha commented on #3207
Well @nicolas-raoul I was talking about an notification like error the message pop up.
![WhatsApp Image 2019-11-03 at 23 50 19](https://user-images.githubusercontent.com/50200796/69214809-f3fd9d00-0b8d-11ea-8f43-e69ae64143dd.jpeg)

[2019-11-20 18:32] GearGit commented on #3208
Can I work on this issue,as I did experience this issue and was going to report it soon if no else was going to.

[2019-11-21 06:19] misaochan commented on #3208
@geargit It is yours! :)

[2019-11-21 06:22] misaochan commented on #3188
Pinging @Nikerabbit for input on this.

[2019-11-21 13:55] #3032 closed

[2019-11-21 13:59] neslihanturan opened #3214 "Error occurred while loading notifications"
**Summary:**

When you suspend the app and resume, error occurred while loading notifications log will appear.

**Steps to reproduce:**

Suspend the app then resume

**System logs:**

[code]

**Device and Android version:**

Nexus 6 APı 26 Emulator

**Commons app version:**
betaDebug

**Would you like to work on the issue?**
Ideally no

[2019-11-21 15:45] Tpt commented on #2297
I just released a new version of [WikidataToolkit](https://github.com/Wikidata/Wikidata-Toolkit) that supports MediaInfo editing. It should also work on Android if it helps. I have also made two examples, [one for retrieval](https://github.com/Wikidata/Wikidata-Toolkit-Examples/blob/master/src/examples/OnlineMediaInfoExample.java) and [one for edit](https://github.com/Wikidata/Wikidata-Toolkit-Exa

[2019-11-21 19:14] maskaravivek commented on #3210
As mentioned in #3212, I am reopening this issue until @neslihanturan confirms that this looks to be correct way of fixing the issue. :)

[2019-11-22 02:57] nicolas-raoul commented on #1656
@lkmandy Any progress on this issue? :-)
If you don't intend to work on it anymore, please let us know and we will unassign it.
Even if you don't have code to submit, your findings and ideas are welcome :-)

[2019-11-22 02:59] nicolas-raoul commented on #2660
Is this issue still present in master?

[2019-11-22 04:07] GearGit commented on #3208
After analyzing the problem, a few options come to my mind.

We can disable the login button, let's say for the next 5 minutes, and enable it when the set time has elapsed. Then the user will again get the same amount of trials but this time the throttling period will increase to, say 30 minutes.

This option is preferred as the app should not allow any login attempts when the login is throttled,

[2019-11-22 04:08] GearGit commented on #3201
No problem, I will revisit this issue after 2nd December.

[2019-11-22 09:56] neslihanturan commented on #3208
I loved the idea of displaying seconds @GearGit . Of course we will need to have some texts to explain whats going on. On the other hand, If we just disable login button, as a user I might feel like login button will be enabled when I entered my password and username. It is currently disabled because fields are empty. To prevent this confusion I suggest having a red very visible warning on top of

[2019-11-22 10:03] chaytanyasinha commented on #3206
So should I work on it ?@neslihanturan

[2019-11-22 10:31] neslihanturan commented on #3206
Well, recently I get a suggestion from a user which says "skip this question" button can be beneficial. I think this issue seems related. What does everyone else think?

[2019-11-22 11:01] chaytanyasinha commented on #3206
@neslihanturan your suggestions are most welcome and If you want I can do whatever changes are required in the section.

[2019-11-22 11:11] neslihanturan commented on #3206
Well, currently seems fine button does nothing, so it just skips the question. It is basically the same thing with skip this question button. So I am not sure if it is exactly needed. But it is said to me that when the user is not 100% sure what does this question means, it is hard to press seems fine button. ınstead they prefer a skip this question button.

This issue needs to be discussed more @

[2019-11-22 15:52] FlorianSW commented on #3208
I wouldn't disable the login button, but only show a message to the user (and probably a timer, not sure if you get the time to wait from the api, though). Disabling the login button only works as long as the app is not restarted and would probably be confusing to the user. It might also be, that the user still, for whatever reason, want to submit the form. That should not be prevented without any

[2019-11-22 19:09] GearGit commented on #3208
The API has the information as to how long should the user wait before logging in again. Therefore as soon as the login is throttled we can trigger the countdown timer which calls the API and converts the time to seconds or minutes and displays in the login section.

What we can do is, display a kind of pop up with a message "Please wait before logging in again".

[2019-11-23 05:00] misaochan commented on #3208
I agree with this.

@GearGit there is no need to mention whether the last-submitted password is correct or not. Maybe we can just say something like: "Too many failed attempts. Please wait X seconds before trying again" in red?

[2019-11-23 05:28] misaochan commented on #2297
Thanks @Tpt ! :)

[2019-11-23 07:22] IgnacioGarcia198 commented on #3147
Hello I found this lines
https://github.com/commons-app/apps-android-commons/blob/02f5cdac595caa38c2340e5f31f5b3a5ad560402/app/src/main/java/fr/free/nrw/commons/contributions/Contribution.java#L178
The previous line belongs to the method called in this line:
https://github.com/commons-app/apps-android-commons/blob/02f5cdac595caa38c2340e5f31f5b3a5ad560402/app/src/main/java/fr/free/nrw/commons/uploa

[2019-11-23 10:02] maskaravivek commented on #3026
All the items in this task have now been completed. Closing this issue now. :)

Thank you, everyone, for your contributions. :)

[2019-11-23 10:02] #3026 closed

[2019-11-23 10:34] maskaravivek commented on #3147
Can someone help in summarising the issue for me?

I am confused because of @IgnacioGarcia198's comment. Is there an issue while uploading the picture or is there an issue while nominating a file for deletion?

Based on the initial comments posted on this issue thread, my understanding is that for https://commons.wikimedia.org/wiki/File:8.1.19VaughanChiangByLuigiNovi30.jpg, the app should try to n

[2019-11-23 10:41] maskaravivek commented on #2660
No. I couldn't find any of the above strings. Closing the issue.

[2019-11-23 10:41] #2660 closed

[2019-11-23 10:45] maskaravivek commented on #3214
It seems to be working fine for me. I also tried suspending and resuming the app.

![device-2019-11-23-161252](https://user-images.githubusercontent.com/3069373/69477418-2ddbd700-0e0c-11ea-9b24-f7e559f528a1.png)

From the logs, it looks like there's some login issue.

[code]

Were you logged in properly when this occurred?

[2019-11-23 10:46] maskaravivek commented on #3188
I had a chat with @Nikerabbit during the tech conference, and it seems that translate wiki doesn't support pull requests yet.

[2019-11-23 10:52] neslihanturan commented on #3214
Hey @maskaravivek , can you also check logs? I was checking the logs for another issue but recognized that I am seeing this possibly improper logs that I shared. Do you also see them?

[2019-11-23 10:53] maskaravivek commented on #3214
Yes, I checked it. I don't see these logs.

[2019-11-23 11:36] IgnacioGarcia198 commented on #3147
@maskaravivek I was checking in the `master` branch. Should I check a different one? Actually on `master` it seems the code in DeleteHelper has changed,  the issue might be different now. The same line @Perhelion referred to is looking like this now:
https://github.com/commons-app/apps-android-commons/blob/891d9ec41ce6b799fa6bc001c48da40074b09e9a/app/src/main/java/fr/free/nrw/commons/delete/Delete

[2019-11-23 14:36] GearGit commented on #3208
Why do I think disabling the Login button is necessary when login is throttled?
Consider the following case, where I deliberately enter incorrect password till it displays the message "Too many unsuccessful attempts. Please try again in a few minutes". It takes a total of 6 failed attempts.

![Screenshot_20191123-192217_Commons](https://user-images.githubusercontent.com/41429261/69479811-8ec4d880-

[2019-11-23 14:43] nicolas-raoul commented on #3210
I just tested, it does not crash anymore :-)

The image is not linked to Wikidata though:
https://commons.wikimedia.org/wiki/File:Queensway_Shopping_Centre.jpg
https://www.wikidata.org/wiki/Q7271124
Should I create a new issue about that?

[2019-11-23 17:13] maskaravivek commented on #3210
@nicolas-raoul What version of the app are you using? Wikidata edit was fixed just a few hours back(7 hours back) by this commit https://github.com/commons-app/apps-android-commons/commit/891d9ec41ce6b799fa6bc001c48da40074b09e9a.

[2019-11-23 19:57] chaytanyasinha commented on #3206
Yes @neslihanturan , I also think this is an issue which is to be discussed and as much I know there is no skip this question button available and for going to the next question we have the dots in bottom which is the area which can touched to slide which is not that comfortable to move to next question instead of any kind button.So I think the whole card of question should be able to slide and we

[2019-11-24 03:37] #3144 closed

[2019-11-24 11:19] misaochan commented on #747
Sounds good to me. Are we all agreed on this? If anyone has any objections, now's the time. We'll wait a week or so. ;)

[2019-11-24 11:26] nicolas-raoul opened #3217 "NullPointerException at ContributionsFragment.onAuthCookieAcquire when starting the app after a few hours"
I have noticed this kind of crashes recently:
1) Use the app
2) Do other things
3) The next day, tap the Commons icon to launch it
4) Immediate crash

[code]

[2019-11-24 11:48] Ainali opened #3218 "Retry of failed upload uploaded image again"
**Summary:**

I started an upload of an image and put my phone in the pocket. Next time I open it I have a notification that it failed. In the list on the main view of the app I pressed the retry icon in the lower right corner of the image. The image starts the upload again and it seems to succeed. When I later look at my contributions I noticed that the image actually did succeed the first time a

[2019-11-24 14:22] chaytanyasinha opened #3219 "A Toast Notification in quite bottom for showing the starting of Download and Bookmarked."
Summary:
A small message just like the "ERROR" message should be shown when we start downloading and when we bookmarked any picture.
Steps to reproduce:
Just go to explore select a picture of your choice then just click on the download icon in the top right then it will be stored to your memory storage but there is no notification about the picture started to downloading
Just go to explore select

[2019-11-24 15:15] ashishkumar468 commented on #3219
AFAIR, the download is handled by the download manager, does that not show a download progress notification.

[2019-11-24 15:24] ashishkumar468 commented on #3218
Thanks for figuring out this bug @Ainali. This must have been one of those cases when the image does get uploaded but one of the other steps fail.

[2019-11-24 15:35] #3203 closed

[2019-11-24 16:38] chaytanyasinha commented on #3219
Yes @ashishkumar468 , it does show the download progress notification but I was talking about an toat notification like this in the screenshot.
![Uploading WhatsApp Image 2019-11-24 at 22.03.07 (1).jpeg…]()

[2019-11-24 16:43] chaytanyasinha commented on #3219
Yes @ashishkumar468 , it does show the download progress notification but I was talking about an toat notification like this in the screenshot.
![WhatsApp Image 2019-11-24 at 22 03 07 (1)](https://user-images.githubusercontent.com/50200796/69497871-9a87cc00-0f07-11ea-87e2-03c3d5b636c9.jpeg)

[2019-11-24 18:38] urbanecm commented on #3139
Yes, the category should be ready now. Sorry for writing so late, almost all of my attention was given to conference I organized, so I didn't think much about this one. What about https://quarry.wmflabs.org/query/40268 - it should have only users with first upload using your app.

[2019-11-24 19:30] chaytanyasinha opened #3221 "Selectively delete search history"
Summary:
After we choose to delete the searches the most recent searches automatically deletes and to delete the older searches we need to click it longer.We cannot select multiple searches for delete.

Steps to reproduce:
Go to explore,click on search bar then click on bin icon then automatically the most recent search gets deleted even if u don't want to delete it.

What did you expect the app t

[2019-11-25 00:40] nicolas-raoul commented on #3221
I am afraid the search history source code is already complex enough, and
thus takes time to maintain. After all, the webapp does not even offer
search history at all 🙂
There are hundreds of very important tasks waiting for you, how about
choosing one of them? 🙂

On Mon, 25 Nov 2019, 04:30 Chaytanya, <notifications@github.com> wrote:

[2019-11-25 01:52] chaytanyasinha commented on #3221
sure @nicolas-raoul,thanks for your feedback

[2019-11-25 02:18] nicolas-raoul opened #3222 "Merge Structured Data into master"
1. Clone this repository somewhere on your computer: https://github.com/VitalyVPinchuk/apps-android-commons/tree/upload_caption_depict
2. Switch to the upload_caption_depict branch
3. Test it: Browse by items, see parent and child items
4. Test it more: Upload a picture via Nearby and post below the URL of the uploaded picture
5. Merge the latest master of git@github.com:commons-app/apps-android-c

[2019-11-25 02:20] nicolas-raoul commented on #3221
@chaytanyasinha Would you accept to take charge of https://github.com/commons-app/apps-android-commons/issues/3222 ? That would be wonderful :-)

[2019-11-25 02:28] chaytanyasinha commented on #3221
I will surely try for it sir @nicolas-raoul

[2019-11-25 02:52] chaytanyasinha commented on #3206
@neslihanturan So what do you think?

[2019-11-25 03:57] GearGit commented on #3222
Can I work on this issue?

[2019-11-25 04:17] GearGit commented on #3208
@nicolas-raoul @FlorianSW Should I start working on disabling the login button when login is throttled? If yes, then please do assign me the task.

[2019-11-25 04:59] nicolas-raoul commented on #3221
Oh, someone took the issue just an hour ago :-O

Then could you please try #3202 ? Please comment on the issue saying "I take this issue", so that nobody else takes it :-) Thanks a lot!

[2019-11-25 04:59] nicolas-raoul commented on #3222
@GearGit : Yes, thanks! Please let us know about your progress at least once per day :-)

[2019-11-25 05:01] nicolas-raoul commented on #3202
Please first try to reproduce the issue, then post the logcat here.

[2019-11-25 05:34] chaytanyasinha commented on #3202
sure I am trying to reproduce the issue @nicolas-raoul

[2019-11-25 07:23] chaytanyasinha commented on #3202
I tried to reproduce the issue and it went right so I think there might be some problem with the contributor's account because of which he was unable to receive the"Thanks".
![Screenshot_20191125-120526](https://user-images.githubusercontent.com/50200796/69520239-1b83a980-0f82-11ea-8cb5-f3bbd0a404fe.png)

[2019-11-25 07:53] GearGit commented on #3222
I will surely update my progress daily, as a matter of fact, I have already started working on it.

[2019-11-25 08:40] urbanecm commented on #3139
With the help of few other folks, here is an optimalized version of the query that finishes in time: https://quarry.wmflabs.org/query/40273, but across all users (not necessarily registered in the timeframe you specified), https://quarry.wmflabs.org/query/40278 _might_ have the filtering, but made on date of first upload, not date of registration (that can differ).

[2019-11-25 09:18] nicolas-raoul commented on #2744
@nfatma Are you still working on this issue? What are your findings? What would be the correct URL to make it work? Thanks :-)

[2019-11-25 09:20] nicolas-raoul commented on #3202
@chaytanyasinha
Thank you for testing!
Would you mind working on #2744? And if you ever see "Sending Thanks: Failure", please immediately take a logcat and post it here :-)

[2019-11-25 09:25] chaytanyasinha commented on #3202
Thanks @nicolas-raoul for assigning me new issues

[2019-11-25 09:28] nicolas-raoul commented on #3219
I am not sure it is really needed, as the download notification appears, and most pictures are small enough that download will not take a long time.

[2019-11-25 09:31] chaytanyasinha commented on #3219
@nicolas-raoul I agree with you but many popular applications does use these type of toasts at starting of downloading so we can also try writing  "Downloading.."

[2019-11-25 09:32] nicolas-raoul commented on #3218
Any newcomer willing to take this? :-)
Tip: To make an upload fail, switch Android to airplane mode just after the upload starts.

[2019-11-25 09:40] nicolas-raoul commented on #3188
@yashk2000 I am not sure to understand exactly how but we usually fix such problems with a magic line here: https://phabricator.wikimedia.org/diffusion/GTWN/browse/master/groups/Wikimedia/CommonsAndroid.yaml$10

[2019-11-25 09:45] nicolas-raoul commented on #3180
Thanks @DeepaMalani for investigating!
Is it exactly the same issue as #1650? If seems so, so I will close this issue and let you work on #1650 which is assigned to you :-)

[2019-11-25 09:45] #3180 closed

[2019-11-25 09:46] nicolas-raoul commented on #1650
@DeepaMalani Thanks for reproducing! Now please run the app in debug mode and see why the previous search is not aborted when the user type another letter :-)

[2019-11-25 10:09] #3217 closed

[2019-11-25 11:42] nicolas-raoul commented on #3210
@maskaravivek I just tried again with commit 9b15a327c55cb811e7d8ed4d2ffbacc65d821864 (the commit just after your fix), and unfortunately the image is not linked from Wikidata:
https://commons.wikimedia.org/wiki/File:Geylang_Methodist_Secondary_School.jpg
https://www.wikidata.org/wiki/Q5554989

[2019-11-25 11:51] neslihanturan commented on #3202
By the way the other issue #2744 says even if it says "success", thanks is not being sent. @chaytanyasinha are you sure it worked for you?

[2019-11-25 12:03] neslihanturan commented on #3208
According to discussions, for now it can be nice to display warning text and remaining seconds (if the API makes it possible). Login button visibility can be decided later.

[2019-11-25 12:25] chaytanyasinha commented on #3221
@nicolas-raoul  Actually I was interested in doing #3202 but it's okay  if someone else took it,as its open source.
I'll be working on other issues.

[2019-11-25 12:40] chaytanyasinha commented on #3202
Yes @neslihanturan,Initially I thought it worked but later I came to know about the issue #2744 .
Then I tried to send "nomination for deletion" for a  picture uploaded by my friend for testing purpose and it worked for me then I am thinking to go through the api of "thanks" thing because that's where I guess the problem is happening.
![Screenshot_20191125-173947](https://user-images.githubusercon

[2019-11-25 13:37] chaytanyasinha commented on #2744
Well I have a question that the "Thanks" message is sent via mail or is it a notification on the application?

[2019-11-25 13:53] nicolas-raoul commented on #2744
It is a notification in the web application.
Please create an account if you don't have one already, and try to send
thanks to someone who uploaded a nice picture.

On Mon, 25 Nov 2019, 22:37 Chaytanya, <notifications@github.com> wrote:

[2019-11-25 14:19] yashk2000 commented on #3188
@nicolas-raoul thanks for providing the link. I'll send a patch with the correct name for `tt-cyrl` to the CommonsAndoird.yaml in the phabricator.

[2019-11-25 14:39] chaytanyasinha commented on #2744
what is the language used in webapp

[2019-11-25 14:42] neslihanturan commented on #2744
Hey @chaytanyasinha , our app facilities using https://commons.wikimedia.org/ from android devices. When you click "view in browser" , you will see the image on browser.

[2019-11-25 18:03] chaytanyasinha commented on #2744
Yes @neslihanturan,I opened the webapp in my mobile browser.Can you please tell me in which language are the api written for the issue.

[2019-11-25 19:05] neslihanturan commented on #2744
We are using MediaWiki API for this purpose. However, we probably shouldn't need to edit the API for this issue. So, I can't understand why you need the langugage of the APı. Please make sure you read our contributors documents beforehand, you can find more information about APIs we used there.

I think for this issue we need help with investigation. If you are able to reproduce the issue please s

[2019-11-25 19:08] chaytanyasinha commented on #2744
I did reproduced the issue and updated about it in the earlier comments @neslihanturan.

[2019-11-25 19:10] neslihanturan commented on #2744
Sorry @chaytanyasinha I can't see it. Can you please share the link of the comment you mentioned?

[2019-11-25 19:28] chaytanyasinha commented on #2744
Sorry @neslihanturan,I got confused actually I updated about the reproduction of issue in the issue #3202 and the link of the comment is: https://github.com/commons-app/apps-android-commons/issues/3202#issuecomment-558137956

[2019-11-25 19:32] neslihanturan commented on #2744
Thanks for the update @chaytanyasinha , can you add more info toy our test though? There are some points I couldn't understand about the comment you linked:
1 - Did you send thank or did you nominate for deletion or did you do both?
2- Is your thank succeed and given, or it succeeded but not given as described in this issue?

[2019-11-25 19:37] chaytanyasinha commented on #2744
@neslihanturan Actually I did thank for the first it succeeded but it was showing a progress in notification bar so just to test I nominated a picture for deletion and it worked on the first go.
So,I concluded that there is an issue in sending thanks as it shows it succeeded but it's still in progress according to the notification  bar and it's not sent in real.

[2019-11-25 19:39] neslihanturan commented on #2744
Notification is not reliable to verify thank is worked or not, instead you should check:

as written in @nicolas-raoul 's comment. If you did this on beta cluster, you should check this on beta.

[2019-11-25 19:41] chaytanyasinha commented on #2744
Yes @neslihanturan ,In this list also I was not able to find my user name.

[2019-11-25 19:44] neslihanturan commented on #2744
Then, the way we make API call should be wrong. @nfatma already did great investigation though, those comments can be helpful to create the correct the API call.

[2019-11-25 19:47] chaytanyasinha commented on #2744
Yes I went through those comments and I went on the provided url.

[2019-11-25 20:02] chaytanyasinha commented on #2744
@neslihanturan @nicolas-raoul If you say I can give a try of writing new API.

[2019-11-25 20:06] GearGit commented on #3208
This is the current beta version of the commons app login screen:
![20191126_012448](https://user-images.githubusercontent.com/41429261/69573349-eb70f080-0feb-11ea-923f-9e424d99e411.jpg)

![20191126_012415](https://user-images.githubusercontent.com/41429261/69573348-eb70f080-0feb-11ea-9bc1-38c68a23a1bf.jpg)

As we can see that it is mentioned that the login is throttled for the next 5 minutes, the

[2019-11-26 04:33] GearGit commented on #3222
@nicolas-raoul Can I use Travis CI for merging conflicts?

[2019-11-26 04:43] nicolas-raoul commented on #3222
Not sure how it might help, but feel free to try.

On Tue, 26 Nov 2019, 13:33 Somanshu, <notifications@github.com> wrote:

[2019-11-26 04:51] maskaravivek commented on #3222
I am not sure if its a beginner-friendly issue. Apart from resolving the merge conflicts, this task would also require fixing the Wikidata API calls. None of the authenticated API were working earlier.

[2019-11-26 04:53] ashishkumar468 opened #3223 "NPE in ReviewActivity"
**Summary:**

Review Activity has null a null check on savedInstanceState and not on the actual media object before calling updateMedia and reviewController, media.getFileName() causes NPE

**Steps to reproduce:**
Open ReviewActivity, let the activity recreate, open the app again

**System logs:**

[code]

**Device and Android version:**
Android 9

**Commons app version:**  : 2.11.0

**Would you l

[2019-11-26 04:56] nicolas-raoul commented on #3222
Vivek, thanks for the insight!
I think the merging is newcomer-friendly.
Then URLs can be replaced by an expert 🙂

On Tue, 26 Nov 2019, 13:51 Vivek Maskara, <notifications@github.com> wrote:

[2019-11-26 05:13] maskaravivek commented on #3222
Are we talking about merging master into the structured-data branch? If yes, then it should be fine that anyone picks it. :)

Else, if we are talking about merging structured-data into master then everything will need to work perfectly before it can be merged.

Also, the URLs are correct AFAIK, but some changes need to be done in how the edit token is fetched. Also, some of the APIs need to be mod

[2019-11-26 05:14] #3223 closed

[2019-11-26 05:35] misaochan commented on #3210
Hi @nicolas-raoul , I'm on alpha currently and https://www.wikidata.org/wiki/Q34814515 works for me. If the current alpha version doesn't work for you, could you send us logs please?

[2019-11-26 05:48] misaochan commented on #3139
https://quarry.wmflabs.org/query/40278 works perfectly for me, and date of first upload is fine! Thanks so much for your help @urbanecm . :)

[2019-11-26 05:56] nicolas-raoul commented on #3222
Yes, that is an important task to ensure it stays up-to-date.

Is there an issue about this? If not it would be great to create one, so that we don't forget some todo or tips :-)

[2019-11-26 06:13] maskaravivek commented on #3222
Do you mind updating the task title and description?

Sure, will do. :)

[2019-11-26 06:22] nicolas-raoul commented on #3222
Fixed, thanks! :-)

[2019-11-26 06:52] GearGit commented on #3222
Do I have to still merge the https://github.com/VitalyVPinchuk/apps-android-commons/tree/upload_caption_depict
Branch with the master merge?
If yes,then who will be handling the URLs.

[2019-11-26 07:37] nicolas-raoul commented on #3222
@GearGit Yes please clone https://github.com/VitalyVPinchuk/apps-android-commons/tree/upload_caption_depict then merge the main repo's master into it.
The URLs/etc will be handled by someone else (or even you if you understand everything and are motivated) in the issue Vivek will create.

[2019-11-26 08:50] YoCoB commented on #428
Hi,

I'd like to work on this issue !

[2019-11-26 08:53] YoCoB commented on #102
Hi,

I'd like to work on this issue !

[2019-11-26 09:04] SamuelleMollard commented on #3202
Hi, is this issue assigned to @chaytanyasinha in the end ? We are a team who want to work on this project and have been redirected to this issue.

[2019-11-26 09:50] SamuelleMollard commented on #3202
I have replicated the bug, here is the logcat :
2019-11-26 10:41:31.376 9406-9481/fr.free.nrw.commons.beta E/NativeCrypto: ssl=0x78ac48aac0 cert_verify_callback x509_store_ctx=0x7897f00788 arg=0x0
2019-11-26 10:41:31.376 9406-9481/fr.free.nrw.commons.beta E/NativeCrypto: ssl=0x78ac48aac0 cert_verify_callback calling verifyCertificateChain authMethod=ECDHE_RSA
2019-11-26 10:41:31.583 9406-9463/fr.f

[2019-11-26 09:51] SamuelleMollard commented on #3202
![thanks:failure](https://user-images.githubusercontent.com/53781646/69618730-ab852a00-103a-11ea-82fb-0110022f7e08.jpg)

[2019-11-26 09:51] SamuelleMollard commented on #3202
Android 7, API 24

[2019-11-26 10:00] SamuelleMollard commented on #3202
After re-replicating the issue, i have a clean logcat, so the previous one might be related to something else.

Also it seems consistent replicating it like that :
-> Go to review section
-> Skip all images until a good one comes
-> Validate all conditions for the image
-> Thank the contributor.

This seems to replicate the bug consistently

The only line I have in logcat (warnings) is :
2019-11-2

[2019-11-26 10:06] neslihanturan commented on #2744
I would like to be able to combine two issues. Currently this issue and #3202 seems like the same thing. Lets discuss here.

@chaytanyasinha I think writing the new API is not the way we go. The way we make the API call should be investigated. You can use Mediawiki APı sandbox for investigation purposes. If you are willing to do in this way, please say us so that I will assign the issue to you. Ot

[2019-11-26 10:06] neslihanturan commented on #3202
This issue will be discussed under #2744

[2019-11-26 10:09] chaytanyasinha commented on #2744
Yes I can do this way too @neslihanturan

[2019-11-26 10:11] neslihanturan commented on #2744
Okay so this issue is assigned to @chaytanyasinha

[2019-11-26 10:18] chaytanyasinha commented on #2744
@neslihanturan Actually I went through MediaWiki APi Sandbox yesterday only and I came to know about this error:
{
    "error": {
        "code": "mustpostparams",
        "info": "The following parameter was found in the query string, but must be in the POST body: token.",
        "*": "See https://commons.wikimedia.org/w/api.php for API usage. Subscribe to the mediawiki-api-announce mailing list

[2019-11-26 10:19] chaytanyasinha commented on #2744
Currently I am going through this(https://www.mediawiki.org/wiki/Extension:Thanks#API_Documentation) so that I can find a way to solve it

[2019-11-26 10:20] SamuelleMollard commented on #2744
Should I try and work on it too then or would it be more efficient if I worked on an other issue then ?

[2019-11-26 10:27] neslihanturan commented on #3208
I think it is understandable that we don't see the message when we close the app and come back. Since there are no login information, we can't know if the users login throttled or not as that state. So it should stay same.

I am suprised we already have it. This issue is created next to me by @FlorianSw and he said no information displayed. Can you please also check for prod too @GearGit ? Maybe o

[2019-11-26 10:31] neslihanturan commented on #2744
Please work on another issue @SamuelleMollard , I am currently online, if you want to pick one just left a comment under the issue and I will assign it to you if it is not already assigned.

Note:
- Do not rely on the assigned label to strictly, sometimes the label is outdated and the issue is still available.
- Following beginner friendly labels usually helps.

[2019-11-26 10:32] SamuelleMollard commented on #2744
Very well, I'm selecting an issue labelled 'beginner-friendly' and commenting under it then. Thanks

[2019-11-26 10:45] SamuelleMollard commented on #2755
I don't really understand if that is a bug, though if you want to I can try and create an OrderedJson object, which will be an ordered JSON, so that we can have JSON ordered and keep them ordered. It will not be preserved through the API, but I believe we can re sort it every time we get it through the API, and we can send it since the API doesn't care about ordering.

[2019-11-26 12:25] chaytanyasinha commented on #2882
If its not done yet I can contribute to it @nicolas-raoul

[2019-11-26 12:29] neslihanturan commented on #2882
Hi @chaytanyasinha , we usually make one issue once. Since you already claimed another issue, it is better to focus that one first. If you want to claim this one instead, please write a comment under #3202 so that others can work on it.

[2019-11-26 12:37] chaytanyasinha commented on #2882
I am sorry @neslihanturan, actually I was cloning the extensions and till then going through other issues and just because I was not that I can't work on 2 issues at same time I commented

[2019-11-26 12:42] neslihanturan commented on #2882
It is totally okay @chaytanyasinha , thanks for your interest:) It is also always okay to leave the other issue and pick new ones.

[2019-11-26 12:48] nicolas-raoul commented on #2882
@draco-malfoy I haven't tested it yet.
Would you mind testing and posting a screenshot of the result? Thanks :-)

[2019-11-26 13:19] nicolas-raoul commented on #3202
@SamuelleMollard

Just to be sure: You can reproduce the bug consistently even when the Internet is reachable during the whole length of the test? You don't cut the WiFi nor switch to airplane mode during the reproduction steps, right?

@neslihanturan I think there are two separate problems:

- #2744: No thanks given despite "Sending Thanks: Success"
- This issue: "Sending Thanks: Failure" despite

[2019-11-26 13:20] nicolas-raoul commented on #3202
I would suggest reopening this issue and having Samuelle work on it, while Chaytanya works on #2744 :-)

[2019-11-26 13:29] neslihanturan commented on #3202
Oh okay I missed the connectivity issues part, sorry for inconvenience. This one is yours @SamuelleMollard :)

[2019-11-26 14:38] chaytanyasinha commented on #2744
@neslihanturan @nicolas-raoul I went through the APIs and I found them fine.Even we can see on all other wikimedia platforms its working as in the thank list I checked all other thanks are used in other platforms so I think there is problem with something else.

[2019-11-27 02:37] GearGit commented on #3222
@nicolas-raoul I have cloned the branch into my local machine and tried merging it with the master branch, but there are several conflicts which I have to manually correct.

Should I simply just allow the new changes to overwrite the old ones or do I also have to check how is it affecting the master branch?

Also, I didnt quite get this part, therefore it would be very helpful if you can provide a

[2019-11-27 02:45] GearGit commented on #3208
@neslihanturan I cloned the master branch and compiled it into my mobile phone. So I guess this feature will be introduced in the upcoming upcoming of commons app.

However, I do agree with adding a timer when the login is throttled and I guess we can display the timer in center just below the current throttling message.

[2019-11-27 02:54] GearGit commented on #3221
Maybe rather than having a checkbox next to each search result, we can have a simple "x" which when clicked will remove that particular search result.

[2019-11-27 04:33] nicolas-raoul commented on #2755
" good first issue" was about creating the Phabricator issue, which is done now :-)

I also remove the "upstream" label because Mediawiki says it works as intended.

Can anyone remember us where is the actual impact on the app? What are the app usage steps to show the problem within the app?

[2019-11-27 04:47] nicolas-raoul commented on #3222
That is the difficulty or merging conflicts: You have to understand the code, and keep the features and improvements of both sides. Good luck! :-)

Before merging, run the app and go to the "Explore" section then use the search bar and tap everything that talks about items. Also make sure to try and understand how this page works (when uploading a picture):
![69851385_2384319075161590_438474613555

[2019-11-27 05:11] nicolas-raoul opened #3225 "Some pictures shown twice in my home activity"
Steps:
- In the app, go to "Nearby"
- Use it to upload pictures of a few nearby places
- Go to app's home activity (maybe after killing the app)
- Some pictures appear twice, example:

![Screenshot_20191127-135634_Commons](https://user-images.githubusercontent.com/99590/69695388-83232b80-111f-11ea-89fe-ca5a19d87d06.jpg)

Not sure whether Nearby is relevant or not.

[2019-11-27 05:41] nicolas-raoul commented on #3221
I still think it would be [overengineering](https://en.wikipedia.org/wiki/Overengineering).

[2019-11-27 06:11] GearGit commented on #3221
(https://en.wikipedia.org/wiki/Overengineering).
![20191127_112731](https://user-images.githubusercontent.com/41429261/69698045-3a14ac80-110a-11ea-9a4a-4380343ff02b.jpg)

This was what I was suggesting, the user will not have to press the delete button to delete the specific search result,instead the use will press the x button to delete the specific search result.

Although,it is your call if thi

[2019-11-27 07:47] misaochan commented on #3147
Yes, this is correct according to @Perhelion 's reply to me. So we should pick the title/user url, not the text.

[2019-11-27 08:16] misaochan commented on #3188
Any updates on this please? :) We have to keep fixing the build manually recently.

[2019-11-27 08:46] misaochan commented on #3221
Hi, I think this feature is a "nice to have", but the added complexity does not seem to be worth it. Additionally, new contributors are strongly encouraged to work on issues tagged "bug" or "beginner friendly" as far as possible, as per our volunteer guidelines - https://github.com/commons-app/apps-android-commons/wiki/Volunteers-welcome%21 . :)

[2019-11-27 09:00] #3126 closed

[2019-11-27 12:08] chaytanyasinha commented on #3225
@nicolas-raoul It even happens to me when I just upload  new picture.It doesn't show the new picture instead it shows the second latest picture.

[2019-11-27 16:21] SamuelleMollard commented on #3202
Very well, I will try to solve that tomorrow and this weekend

[2019-11-27 16:41] chaytanyasinha commented on #3221
okay @misaochan I understand this as  overengineering.

[2019-11-28 06:37] GearGit commented on #3208
@nicolas-raoul @FlorianSW Who will be working on this issue then?If no one has taken up the issue, I would like to work on this issue.

[2019-11-28 07:23] nicolas-raoul commented on #102
Sorry I believe Sam's team is working on it already... Sam's team, please post a comment here so that we can label the issue as assigned, so that other people like YoCoB are not left disappointed. Thanks! :-)

[2019-11-28 08:22] #1450 closed

[2019-11-28 08:25] misaochan opened #3227 "Nearby has many, many location markers"
**Summary:**

I have many location markers in Nearby, not just one.

**Steps to reproduce:**

Load Nearby. Maybe walk around a bit, do something that changes your GPS location

**System logs:**

[code]

**Device and Android version:**

Samsung Galaxy S9, Android 9

**Commons app version:**

Master after merging #3178

**Screen-shots:**

![Screenshot_20191128-182324_Commons](https://user-images.git

[2019-11-28 08:59] nicolas-raoul commented on #3225
@chaytanyasinha Feel free to fix this bug when/if you don't have any other issue assigned to you :-)

[2019-11-28 09:01] neslihanturan commented on #3225
@chaytanyasinha if you see this "during the upload" it can be another issue. Do you also reliable reproduce this by following Nicolas's use case, I mean after uploading some nearby items?

[2019-11-28 11:19] yashk2000 commented on #3188
@nicolas-raoul @misaochan patch sent to translatewiki.
https://gerrit.wikimedia.org/r/#/c/translatewiki/+/553461/
please review it and tell me if any changes are needed.

[2019-11-28 12:17] neslihanturan opened #3228 "App crashes at start on current master, beta debug"
**Summary:**
I fetched upstream and app does not start anymore. After being logged in it crashes.

**Steps to reproduce:**
Start the app with current master

**System logs:**
[code]

**Device and Android version:**

API 21 Emulator

**Commons app version:**
betaDebug

[2019-11-28 13:38] chaytanyasinha commented on #3225
No @neslihanturan I mean after the photo is uploaded but it happens with me for the time the app is opened after exiting the app and coming again it comes the way it should.

[2019-11-28 14:13] #3228 closed

[2019-11-28 14:14] chaytanyasinha commented on #2744
@neslihanturan @nicolas-raoul Please reply what should I do next. As I am getting same errors nfatma got and I found the api fine as its working for other platforms.

[2019-11-28 14:50] neslihanturan commented on #2744
Actually I don't know @chaytanyasinha , since I haven't work on this issue before.

[2019-11-28 15:45] SamuelleMollard commented on #3202
I didn't see your comment sorry.
Yes, i did reproduce it while keeping WiFi up for the whole length of the test.

[2019-11-28 16:21] chaytanyasinha commented on #2744
It's okay @neslihanturan . So should I work on another issue or the issues which I started?

[2019-11-28 16:44] SamuelleMollard commented on #3202
Hum, I have been looking through the code to try and understand what is happening, but I am not sure what org.wikipedia.dataclient.Service is, nor where I can find it. So far it seems that service.thank(String.valueOf(revisionId), null,
                    csrfTokenClient.getTokenBlocking(),
                    CommonsApplication.getInstance().getUserAgent()) raises an exception, and I don't have

[2019-11-28 20:35] neslihanturan commented on #2744
Sure @chaytanyasinha , you can always switch between issues, just clearly say if you want to leave it so that someone else can work on.

[2019-11-29 04:23] GearGit commented on #3222
@nicolas-raoul @maskaravivek I found this bug when I was searching for a bow in the explore section, don't know the exact reason for this bug.

![Screenshot_20191129-091321_Commons](https://user-images.githubusercontent.com/41429261/69842934-5429c880-128b-11ea-996d-ba8cfdf69937.jpg)

Whenever I am searching for some caption under items -> media tab, "No images found" message is displayed for any c

[2019-11-29 05:56] nicolas-raoul opened #3231 ""Nearby" always first puts me in Punta Arenas"
**Steps to reproduce:**

- Start app
- Go to Nearby

Expected: map centered on Tokyo
Actually: map centered on Puntas Arenas, at the other side of the globe.

Every time.

**Device and Android version:**

On two different recent phones.

**Commons app version:**

2.11.0.500~8472c63

[2019-11-29 06:52] maskaravivek commented on #3222
@GearGit thanks for reporting this. Please create a separate issue for this and any other issues that you encounter on this branch.

[2019-11-29 07:10] nicolas-raoul commented on #3222
@GearGit Great work! As Vivek said, please create issues for each problem (be sure to mention what repo+branch in each issue), and then for each issue we can guide you on how to fix it :-)

[2019-11-29 07:15] nicolas-raoul commented on #3202
Thanks for investigating!

Please reproduce the problem in debug mode from Android Studio (you will need a computer for that). When the thank method is called, navigate the stack to see how this method behaves.

The Service method must come from one of the libraries linked to in https://github.com/commons-app/apps-android-commons/blob/master/app/build.gradle

[2019-11-29 09:10] neslihanturan commented on #2744
Actually this comment of @nicolas-raoul is beneficial for this issue too: https://github.com/commons-app/apps-android-commons/issues/3202#issuecomment-559685641

You can try using breakpoints to find out unexpected pattern of the method.

[2019-11-29 09:11] neslihanturan commented on #3231
Thanks for this @nicolas-raoul , I am on it.

[2019-11-29 09:34] nicolas-raoul opened #3233 "No items shown in Nearby"
Wherever I go, no pins are shown:

![Screenshot_20191129-182904_Commons](https://user-images.githubusercontent.com/99590/69859012-a0e6c100-12d6-11ea-9c7b-1612e1ca0582.jpg)

[2019-11-29 09:44] nicolas-raoul opened #3235 "Color of conditions in Nearby"
In the screenshot below, "Exists" is disabled and "Needs Photo" is enabled, right?

I feel that making active thingies grey is not necessary, maybe even counter-intuitive? Same color all the time would be enough I think.

Let's wait for other people's feedback though, maybe it's just me.

![Screenshot_20191129-183826_Commons](https://user-images.githubusercontent.com/99590/69859399-6f222a00-12d7-1

[2019-11-29 09:48] sivaraam commented on #2744
I think there is a slight misunderstanding here. The Thanks feature seems to be working fine. The link in the issue description clearly shows that the logs at **Mediawiki** were being searched. If I understand correctly, when you thank a user for uploading the image to Common the log would be found in the **Commons wiki** and not in Mediawiki. So, I checked the [logs at Commons ](https://commons.w

[2019-11-29 09:57] nicolas-raoul opened #3236 "White font for place type search box and "x""
I could not find 😂
It hides part of the map.
![Screenshot_20191129-185633_Commons](https://user-images.githubusercontent.com/99590/69860600-f2dd1600-12d9-11ea-864e-5bdb24e3452a.jpg)

[2019-11-29 10:05] neslihanturan commented on #3233
This one seems like a critical one. Do you have more details about this @nicolas-raoul , ie. logs, use cases.

[2019-11-29 10:16] neslihanturan commented on #3231
I tested it again, it puts me to my current location correctly. Can you share some logs for this @nicolas-raoul , or any details you think might be related?

[2019-11-29 10:22] neslihanturan opened #3237 "App crashes if user taps my location button while the map is loading."
**Summary:**

Tap "my location" button while map loading, the app crashes. Reported by @nicolas-raoul

**Steps to reproduce:**

Tap "my location" button while map loading

**System logs:**

[code]

**Device and Android version:**
ANDROID_VERSION=9
PHONE_MODEL=SM-G970F

**Commons app version:**

APP_VERSION_NAME=2.11.0.500

**Would you like to work on the issue?**

yes

[2019-11-29 10:56] neslihanturan opened #3239 "Typed "bridge" then tapped bridge entry"
**Summary:**
NPE on item click on filter list, reported by @nicolas-raoul

**Steps to reproduce:**

typed "bridge" then tapped bridge entry

**System logs:**

[code]

**Would you like to work on the issue?**

Yes

[2019-11-29 13:10] neslihanturan opened #3242 "Display selected place types at top"
**Summary:**

This was the buggy code I used for this purpose, but should be implemented in a more proper way. Sharing this code piece just to give the idea:
[code]
![image](https://user-images.githubusercontent.com/3127881/69871008-b7831d00-12c2-11ea-93ac-9119b98fe003.png)

**Steps to reproduce:**

When you select place types they stay where they are:
![image](https://user-images.githubuserconten

[2019-11-29 13:17] neslihanturan commented on #3236
Clicking the small "x" next to search area makes it for me. Does it work for you too @nicolas-raoul ?

[2019-11-29 14:17] #3147 closed

[2019-11-29 14:18] #3239 closed

[2019-11-29 14:18] #3237 closed

[2019-11-29 14:25] nicolas-raoul commented on #3236
wow I could not see it lol
by the way how about making the font white? same color as "place type" 🙂

On Fri, 29 Nov 2019, 22:17 neslihanturan, <notifications@github.com> wrote:

[2019-11-29 16:15] #3227 closed

[2019-11-29 16:43] FernandaCG commented on #3218
Hi, can I work on this??

[2019-11-29 16:59] misaochan opened #3244 "All uploads crash in prodRelease, 2.11.0~1c470241e"
**Summary:**

When testing prodRelease on current master, all uploads crash as soon as I select the photo to upload

**Steps to reproduce:**

Clean install app on prodRelease build, select picture to upload

**System logs:**

[code]

[2019-11-29 17:33] chaytanyasinha commented on #2744
@neslihanturan I think I will switch to other issues.

[2019-11-29 18:52] neslihanturan commented on #2744
Oh so thanks were working according to @sivaraam 's comment. I am not closing this issue until @nicolas-raoul verifies it though. Thanks @sivaraam !

[2019-11-29 18:58] neslihanturan commented on #3218
It is yours @FernandaCG :) This can be a relatively complicated task, so please communicate with us about the steps you have done so that we can share ideas.

[2019-11-29 19:21] akonic commented on #2874
@neslihanturan What is left on this issue?

[2019-11-29 19:25] neslihanturan commented on #2874
You can search mentioned strings in strings.xml file and fix them as guided in the issue description.

[2019-11-29 20:09] neslihanturan commented on #3231
Hi @nicolas-raoul , I am going through your logs but all the locations seems correct:
東京, Kanto
東京 東京 日本

Would it be possible for you to share your logs after fresh install, just after experiencing the issue, without playing with the app too much?

[2019-11-29 20:15] neslihanturan commented on #3231
Hi @nicolas-raoul , I am going through your logs but all the locations seems correct, they are in Japan.

Would it be possible for you to share your logs after fresh install, just after experiencing the issue, without playing with the app too much?

[2019-11-30 00:40] lgelauff opened #3246 "Login fails repeatedly"
**Summary:**

I keep getting'login failed' messages, despite being quite confident the password is correct.

_Before creating an issue, please search the existing issues to see if a similar one has already been created. You can search issues by specific labels (e.g. `label:nearby`) or just by typing keywords into the search filter._

**Steps to reproduce:**

After downloading the Commons app, I tr

[2019-11-30 04:26] chaytanyasinha commented on #3225
May I work with this issue.I have a solution for it.

[2019-11-30 05:43] GearGit commented on #3222
@nicolas-raoul @maskaravivek Take another example, when I type flowers.
,
![20191130_020040](https://user-images.githubusercontent.com/41429261/69892018-31e58880-1327-11ea-8568-0a36923f17e9.jpg)

![20191130_020102](https://user-images.githubusercontent.com/41429261/69896140-bfde6500-1361-11ea-8cc8-246102373bea.jpg)

But in the play store version of app I am able to fetch the data without any issue

[2019-11-30 05:45] maskaravivek commented on #3222
Yes please! Don’t hesitate in creating new issues even if you are not sure that it deserves a separate issue or not :)

[2019-11-30 05:47] GearGit commented on #3222
Should I create a new issue here or in the repository https://github.com/VitalyVPinchuk/apps-android-commons/tree/upload_caption_depict

[2019-11-30 05:51] GearGit commented on #3246
Sometimes it might be the case that your internet connection is poor. Did you try the same in some other place with a good internet connection?

[2019-11-30 05:52] lgelauff commented on #3246
Yes, my last attempt was from an extremely well-connected network.

[2019-11-30 06:29] misaochan commented on #3244
Crash for 2nd upload onwards:

[code]

[2019-11-30 07:09] harshchinu opened #3247 "Photo upload fail"
**Summary:**

Summarize your issue in one sentence (what goes wrong, what did you expect to happen)

_Before creating an issue, please search the existing issues to see if a similar one has already been created. You can search issues by specific labels (e.g. `label:nearby`) or just by typing keywords into the search filter._

**Steps to reproduce:**

After downloading the Commons app, I tried to l

[2019-11-30 08:37] nicolas-raoul commented on #3222
Here. Thanks 🙂

On Sat, 30 Nov 2019, 14:47 Somanshu, <notifications@github.com> wrote:

[2019-11-30 08:42] nicolas-raoul commented on #2744
Samuelle, could you please try the thank feature and see whether it appears
in the log Sivaraam mentioned? Please post the log here. Thanks! 🙂

On Sat, 30 Nov 2019, 03:52 neslihanturan, <notifications@github.com> wrote:

[2019-11-30 10:07] ankit1414 opened #3249 "The colorAccent is white in darkMode making toggle switch unidentifiable whether on/off"
**Summary:**

The colorAccent is white in darkMode making toggle switch unidentifiable whether on/off.

**Steps to reproduce:**

How can we reproduce the issue?
->going to settings from the  navigation drawer.

What did you expect the app to do, and what did you see instead?
->The toggle switch should have some color when its on , which gives a better visual effect and easy identification.

**Devi

[2019-11-30 13:51] maskaravivek commented on #3249
Thanks for creating the issue @ankit1414. It would be great if you could reference google's material style guide to see what color should be used.

[2019-11-30 17:23] ankit1414 commented on #3249
@maskaravivek  i think this is fine considering the app theme.
Hex Code : #108DE8
![colorAccent](https://user-images.githubusercontent.com/45892437/69903770-006eca80-13c4-11ea-89fc-49ba2bc2fdee.jpg)

[2019-11-30 20:08] GearGit opened #3254 "Error encountered when searching for captions."
**Issue:**

When searching for a caption in the explore section of the upload_caption_depict branch at https://github.com/VitalyVPinchuk/apps-android-commons/tree/upload_caption_depict  we encounter an error in the media and category sections.

Here are two screenshots for each of the error encountered:

![Screenshot_20191129-091321_Commons](https://user-images.githubusercontent.com/41429261/69842

[2019-12-01 08:25] yashk2000 commented on #3188
@misaochan @nicolas-raoul @neslihanturan I think this issue has been resolved for now. The build is passing now.

[2019-12-01 09:58] GearGit commented on #3254
@nicolas-raoul @maskaravivek I found the function causing the error but to resolve it I need to know which variable or function is responsible for getting the input from the user.
Can you help me with this task?
https://github.com/VitalyVPinchuk/apps-android-commons/tree/upload_caption_depict

[2019-12-01 12:49] SamuelleMollard commented on #2744
I can try, but I have to do something before and launching android studio should take about 20 min anyway so not right now, but I am not sure I will be able to, since I have not been able to get a sending thanks:success yet to be honnest

[2019-12-01 13:20] SamuelleMollard commented on #2744
I can't get a sending thanks: success, no matter how i try
I'll work on #3202 and if I can fix that I will send you the logs, but for now I can't get them.
Furthermore, I can confirm that those thanks are not in the log mentioned above

[2019-12-01 13:23] ankit-kumar-dwivedi commented on #3179
Can I take this issue?

[2019-12-01 13:50] SamuelleMollard commented on #3202
OK, I have a problem. My breakpoint did not work, Android Studio's message is :
No executable code found, suspend thread
I must say that I am a little bit lost here, can someone help me with what that all means ?
I have this log :
2019-12-01 14:39:53.115 21555-21678/fr.free.nrw.commons.beta E/NativeCrypto: ssl=0x78ac642380 cert_verify_callback x509_store_ctx=0x7896d2ce78 arg=0x0
2019-12-01 14:39:5

[2019-12-01 13:51] SamuelleMollard commented on #3202
I also appear to have a lot of warnings,

2019-12-01 14:42:21.856 859-3437/? W/PackageManager: checkUidPermission(): android.permission.INTERACT_ACROSS_USERS_FULL of 10090 is denied.
2019-12-01 14:42:21.856 859-3437/? W/PackageManager: checkUidPermission(): android.permission.REAL_GET_TASKS of 10090 is denied.
2019-12-01 14:42:21.856 859-3437/? W/PackageManager: checkUidPermission(): android.permi

[2019-12-01 13:54] SamuelleMollard commented on #3202
I also appear to have a lot of warnings
[android-common-warn-log.log](https://github.com/commons-app/apps-android-commons/files/3908268/android-common-warn-log.log)

[2019-12-01 15:00] chaytanyasinha commented on #3236
Yes @nicolas-raoul even I feel that it should be in white

[2019-12-01 15:04] chaytanyasinha commented on #3225
@neslihanturan @nicolas-raoul what about the issue

[2019-12-01 17:18] misaochan commented on #3231
I finally managed to reproduce this with a clean install (previously it did not happen to me). Logs sent.

[2019-12-01 17:19] misaochan commented on #3233
This only happened to me when I managed to reproduce #3231

[2019-12-01 17:21] misaochan commented on #3246
Hi @lgelauff , sorry, we had issues with 2FA logins in 2.11.0. I've just released v2.12 to beta testing, which should contain the fix - it should be available in a few hours. Please let us know if it doesn't work for you. :)

[2019-12-01 17:22] misaochan commented on #3247
Hi @harshchinu  I've just released v2.12 to beta testing, which should contain the fix - it should be available in a few hours. Please let us know if it doesn't work for you. :)

[2019-12-01 17:24] misaochan commented on #3231
(It might be helpful to figure out why BOTH of us are defaulting to Punta Arenas when this happens - is there something special about those coords?)

[2019-12-02 00:13] DeepaMalani commented on #1650
Hi Nicolas,
I ran the app in debugging mode and figured out that the previous search will be aborted if the API call to fetch the results haven't started for the previous search, but once the API call starts we can not send the latest search text midway to API.  

The solution which I think will work is once the API call starts let it finish to fetch ing the data and after that send the latest sea

[2019-12-02 03:56] nicolas-raoul commented on #3231
I created a new Wikimedia account, and noticed that the new account works fine, I am shown my correct location.

With my normal account, location is always Punta Arenas (more exactly: inside a bay near Punta Arenas), even when using a different phone.

[2019-12-02 06:52] misaochan commented on #3231
@nicolas-raoul Do you have 2FA enabled for your normal account? It sounds a bit strange that it could affect GPS location, but I was just wondering, since it was my 2FA account that has the problem (and my other acc doesn't).

[2019-12-02 06:53] nicolas-raoul commented on #3231
@misaochan No 2FA on any of my accounts
It might sound strange indeed, but this bug is so strange that any idea is worth investigating :-)

[2019-12-02 06:56] misaochan commented on #3115
Released to beta. :)

[2019-12-02 06:56] #3115 closed

[2019-12-02 06:58] misaochan opened #3256 "Hotfixes needed for v2.12.1"
- [x] #3231 Nearby Punta Arenas bug [PR s up #3271 ]
- [ ] #3236 Make "x" more visible in place types filter (Nearby)
- [x] Crashes in google groups forum fixed

[2019-12-02 07:07] harshchinu commented on #3247
No, just updated the app and tried again it is failing same issue

[2019-12-02 09:03] misaochan commented on #3247
Could you check the About page of the app, please, and confirm that you are running v2.12.0?

[2019-12-02 09:11] #1863 closed

[2019-12-02 09:13] #1866 closed

[2019-12-02 10:15] misaochan commented on #3231
Hmm, I did a clean install with the non-2FA account that did not have problems previously, and I still have this issue. Probably not related to accounts, then.

[2019-12-02 11:29] nicolas-raoul opened #3257 "Avoid "Commons link should be well-formed" warning"
When uploading a picture via Nearby, the Wikidata item's `image` field is filled via an sanitized version of the picture's title (notice the underscores):
![Screenshot from 2019-12-02 20-12-11](https://user-images.githubusercontent.com/99590/69955396-e4dcfe80-1540-11ea-98ca-87a5d6ffa29e.png)

It works, but actually, Wikidata prefers the non-sanitized version, so it complains:
[code]
![Screenshot f

[2019-12-02 11:31] nicolas-raoul commented on #1866
I confirm that the Wikidata `image` is correctly edited by the latest version of the app.

[2019-12-02 11:44] harshchinu commented on #3247
Yes

On Mon, 2 Dec, 2019, 2:33 PM Josephine Lim, <notifications@github.com>
wrote:

[2019-12-02 12:09] neslihanturan commented on #3247
Thanks a lot for reporting this issue @harshchinu !
Can you please make sure your username is not banned from editing Wikimedia Commons? Are you able to upload images with web interface? If everything is fine with web interface but you still can't use the app, can you try logging out and in again?

[2019-12-02 12:17] harshchinu commented on #3247
I am apply upload the image through web portal so i am not in the banned
list obviously
Tried logout and loggin same still not working

On Mon, 2 Dec, 2019, 5:39 PM neslihanturan, <notifications@github.com>
wrote:

[2019-12-02 12:24] neslihanturan commented on #3247
I would try reinstalling the app to. Would you mind sharing logs with us, it seems like an serious issue?

[2019-12-02 12:41] harshchinu commented on #3247
Hey i am newbie here so where can i find the log in application

On Mon, 2 Dec, 2019, 5:54 PM neslihanturan, <notifications@github.com>
wrote:

[2019-12-02 12:47] neslihanturan commented on #3247
Settings-> under feedback title-> send log file

[2019-12-02 12:57] harshchinu commented on #3247
Thanks

On Mon, 2 Dec, 2019, 6:17 PM neslihanturan, <notifications@github.com>
wrote:

[2019-12-02 20:14] apap04 opened #3259 "Create a video explaining the best practices for media upload"
**Reserved for GCI Students**

**Summary:**

Commons Android App is an open-source project which lets users contribute to Wikimedia by uploading media directly from their Android phone. Certain best practices need to be followed while you contribute. Often first-time contributors don't know about them and end uploading photos that might violate the policies. Your task is to create a video that dem

[2019-12-03 01:55] nicolas-raoul commented on #2908
I guess this is fixed the, thanks :-)

[2019-12-03 01:55] #2908 closed

[2019-12-03 02:20] ashishkumar468 opened #3260 "NPE in Nearby"
**Summary:**

Nearby Crashes with NPE

**Steps to reproduce:**

Open Nearby, allow Location Permission, Nearby Crashes

**System logs:**

[code]

**Device and Android version:**

What make and model device (e.g., Samsung J7) did you encounter this on?
What Android version (e.g., Android 4.0 Ice Cream Sandwich or Android 6.0 Marshmallow) are you running?
 Android 10, Pixel2 XL
**Commons app version

[2019-12-03 02:51] ashishkumar468 opened #3262 "App crashes when clicking on Title Info while uploading"
**Summary:**

Clicking on title-info while uploading a media, sometimes crashes the app

**Steps to reproduce:**
Upload the image, click on title edit text on the end

**System logs:**

[code]

**Device and Android version:**

What make and model device (e.g., Samsung J7) did you encounter this on?
What Android version (e.g., Android 4.0 Ice Cream Sandwich or Android 6.0 Marshmallow) are you runni

[2019-12-03 03:10] ashishkumar468 opened #3264 "NPE in MediaDetailFragment"
**Summary:**
App Crashes on clicking on of the options menu for null media
Summarize your issue in one sentence (what goes wrong, what did you expect to happen)
When the provider is unable to provide a media for that positions options menu should be disabled so that the corresponding onClicks are not triggered

**System logs:**

[code]

**Device and Android version:**

What make and model device (

[2019-12-03 05:15] madhurgupta10 opened #3266 "[Code-In Task] Create a video for Commons Android app"
**Summary:**
Commons Android App is an open-source project which lets users contribute to Wikimedia by uploading media directly from their Android phone. Certain best practices need to be followed while you contribute. Often first-time contributors don't know about them and end uploading photos that might violate the policies. Your task is to create a video that demonstrates the best practices wit

[2019-12-03 05:17] madhurgupta10 commented on #3266
I see @apap04 Already made the issue #3259 Closing this duplicate one.

[2019-12-03 05:17] #3266 closed

[2019-12-03 05:33] kamrutha commented on #1984
@misaochan the issue doesn't exist

[2019-12-03 07:03] nicolas-raoul commented on #1984
@kamrutha Could you please post a screenshot showing the app's home activity just before and just after an upload? Thanks a lot :-)

[2019-12-03 07:10] kamrutha commented on #1984
@nicolas-raoul
This is the image before uploading:
![WhatsApp Image 2019-12-03 at 12 37 05 PM (2)](https://user-images.githubusercontent.com/34261526/70028162-e8689800-15c9-11ea-9978-081cda572c19.jpeg)

While i am uploading the current image, it is showing the previous image till it completely upload the current image
![WhatsApp Image 2019-12-03 at 12 37 05 PM (1)](https://user-images.githubuserco

[2019-12-03 07:14] kamrutha commented on #1984
@nicolas-raoul
**View before uploading the image:**
![WhatsApp Image 2019-12-03 at 12 37 05 PM](https://user-images.githubusercontent.com/34261526/70028286-44cbb780-15ca-11ea-81e3-0ddf67917446.jpeg)

**Image after uploading**
![WhatsApp Image 2019-12-03 at 12 37 05 PM (2)](https://user-images.githubusercontent.com/34261526/70028328-6167ef80-15ca-11ea-811d-e8394cbe991b.jpeg)

**While uploading the

[2019-12-03 07:15] kamrutha commented on #1984
** But, While uploading the current HSV image, the page is showing the previous image only, until the current image is uploaded completely**
![WhatsApp Image 2019-12-03 at 12 37 05 PM (1)](https://user-images.githubusercontent.com/34261526/70028474-c7547700-15ca-11ea-925f-ac6ecef5408a.jpeg)

[2019-12-03 07:15] kamrutha commented on #1984
@nicolas-raoul

[2019-12-03 07:21] nicolas-raoul commented on #3259
A few policies that you can remind about in your video:
- Only upload pictures that you have taken yourself. Not pictures you have downloaded from the web, or screenshots.
- Do not upload selfies. Rather, upload pictures of things that are relevant for an encyclopedia, such as a public building, a mountain, a river, a local tool or dish.
- Do not upload pictures of your friends. Pictures of person

[2019-12-03 07:41] kamrutha opened #3267 "Uploading a new image shows the previous image uploaded on screen until the current image is uploaded completely"
**Summary:**

While uploading a new image the app shows the previous image until it is fully uploaded

**Steps to reproduce:**
What did you expect the app to do, and what did you see instead?
New image to be shown instead of the old one

**Device and Android version:**

Redmi 6 Pro
Andriod version 9PKQ1.180917.001

**Screen-shots:**
**BEFORE UPLOADING**
![WhatsApp Image 2019-12-03 at 12 37 05 PM](

[2019-12-03 07:44] #3260 closed

[2019-12-03 07:44] #3264 closed

[2019-12-03 07:44] #3262 closed

[2019-12-03 08:21] kamrutha commented on #1984
@nicolas-raoul  This issue still exists.. the count is incremented only on application re-open.

[2019-12-03 08:21] nicolas-raoul commented on #1984
@kamrutha
Can you see the number 1223 in my home activity below?
![Screenshot_20191203-171958_Commons](https://user-images.githubusercontent.com/99590/70032624-275e1400-15f1-11ea-8172-b9e06a745453.jpg)
If I upload 1 more picture now, the number should become 1224.
I guess you will see the number appear if you kill the app and restart it.

[2019-12-03 08:27] nicolas-raoul commented on #1984
Ah, it seems that you have found the problem, great :-)

Now, please:
1. run the app in debug mode
2. find where the number is cached after it is retrieved the first time
3. write a cache invalidation method which sets the cache variable to null, for instance
4. find the Java source code which runs when an upload finishes
5. At that place, call the method created at step 3

Good luck :-)

[2019-12-03 08:27] kamrutha commented on #1984
@nicolas-raoul
I can see the number but as the count didn't increase after uploading an image
![WhatsApp Image 2019-12-03 at 1 55 39 PM](https://user-images.githubusercontent.com/34261526/70033046-b14bb400-15d4-11ea-9fde-ece6a47e6413.jpeg)

It incremented only after I CLOSE the app

[2019-12-03 08:29] kamrutha commented on #1984
@nicolas-raoul  Yes, I will work on it. Thanks ! :-)

[2019-12-03 09:08] nicolas-raoul commented on #1984
If you are new to caches, this can be interesting to read:

https://en.wikipedia.org/wiki/Cache_invalidation

The best method for your case here is [Purge](https://en.wikipedia.org/wiki/Cache_invalidation#Purge), because it is the one that makes the lowest number of web requests in the long run.

[2019-12-03 09:14] nicolas-raoul commented on #3267
Thanks for spotting this bug!
We only allow people to work on one bug at a time. Do you want to work on this one later, after solving the one you are currently assigned to? :-)

[2019-12-03 10:44] kamrutha commented on #3267
@nicolas-raoul  Yeah, I will work on it after I complete the current one.

[2019-12-03 13:58] chaytanyasinha commented on #3225
I mentioned about issue which is mentioned in #3267 under this issue

[2019-12-03 16:10] misaochan commented on #923
@VojtechDostal , is there a way to re-run that query to get an updated map? Would be useful for future reports. :)

[2019-12-03 17:16] GearGit commented on #3254
I found a solution for it, however, I don't know if it violates the code style used by Wikimedia or not.

Locate:
1. apps-android-commons\app\src\main\java\fr\free\nrw\commons\explore\images\SearchImageFragment.java
2. apps-android-commons\app\src\main\java\fr\free\nrw\commons\explore\categories\SearchCategoryFragment.java

Both of these files will have a method to handle cases when there is no da

[2019-12-03 18:36] m-alzam commented on #3201
Working on it

[2019-12-03 19:03] urbanecm commented on #923
I think that query is executed each time you load it :-).

[2019-12-03 19:59] VojtechDostal commented on #923
@urbanecm Unfortunately, you need to manually update the list of items in the Query (AFAIK, Query cannot read from Quarry). It's getting longer every time (and shorteners don't work any more) but here you are:
[https://query.wikidata.org/embed.html#%23defaultView%3AMap%0Aselect%20%3Fitem%20%3FitemLabel%20%3Fcoord%20where%20%7B%0A%0A%3Fitem%20wdt%3AP625%20%3Fcoord%20.%0ASERVICE%20wikibase%3Alabel%2

[2019-12-04 01:07] yashk2000 commented on #3201
All the best @m-alzam. Let me know if you face any difficulties.

[2019-12-04 05:38] chaytanyasinha commented on #3242
Yes @neslihanturan even I have seen this feature in many applications and its very good to have these features as it increases the iser experience and make it Comfortable

[2019-12-04 07:16] SamuelleMollard commented on #102
Yes, they are, YoCoB is part on my team.
Sorry for the misunderstanding

[2019-12-04 07:30] misaochan commented on #923
Awesome, thanks @VojtechDostal ! Yeah, that is a pretty long URL, haha. 😄 How do you obtain the list of items (in the appropriate format) to update it with?

[2019-12-04 08:43] sivaraam commented on #2744
FWIW, I just tried to Thank an uploader. Regardless of the fact that the I got a "Sending Thanks: Failure" notification the Thanks was indeed sent as you can see in [the thanks log](https://commons.wikimedia.org/wiki/Special:Log?type=thanks&user=Kaartic&page=&wpdate=2019-12-04&tagfilter=).

![image](https://user-images.githubusercontent.com/12448084/70126595-634fb280-169f-11ea-9876-90d1c5b8e68b.pn

[2019-12-04 09:25] VojtechDostal commented on #923
@misaochan Yeah, it's a really cool visualization of what we have achieved with the app. I get the list from @nicolas-raoul 's quarry (https://quarry.wmflabs.org/query/37568).

[2019-12-04 10:14] SamuelleMollard commented on #3202
Well, I got the debugger to work, though I haven't figured the bug out. I can't find a way to understand what this "Service" is, and it is probably the one sending a failure since everything else seem to work fine.
I think I am going to give up on this issue, since it seems very related to #2744 and I can't get to make progress, I am a bit lost here, and we have to make a pr within a week. Does @n

[2019-12-04 11:26] nicolas-raoul commented on #2803
@vanshikaarora I guess you are not working on this one anymore? :-) Feel free to share anything you have found out about the issue though.

[2019-12-04 11:26] nicolas-raoul commented on #3202
Thanks for your investigation!
Sure, how about https://github.com/commons-app/apps-android-commons/issues/2803 ?

[2019-12-04 11:27] chaytanyasinha commented on #3219
@ashishkumar468 @nicolas-raoul what do you think about it?

[2019-12-04 11:36] chaytanyasinha commented on #3236
May I do this

[2019-12-04 11:40] neslihanturan commented on #3236
Sure @chaytanyasinha , givve a try. We especially want to have a white "x"

[2019-12-04 12:01] chaytanyasinha commented on #3236
The selected items also needs to be written in white?
@neslihanturan

[2019-12-04 12:08] neslihanturan commented on #3236
Displaying selected items is another issue, we should implement them separately. So for this issue just color of "x" button should be fine. By the way, you don't have any other assigned issues, right? We make one issue at a time.

[2019-12-04 12:10] neslihanturan commented on #3219
I also think this is not needed at this stage. We have several of more important issues :)

[2019-12-04 12:17] chaytanyasinha commented on #3236
No @neslihanturan I don't have any issue on which I am currently working.Okay I'll change the color.

[2019-12-04 12:19] nicolas-raoul commented on #3236
Thanks @chaytanyasinha ! I think the "x" and also the text inside the place type search box (which says `Bridge, museum, ho...` in the screenshot above) should be made with the same font color as "Place type".

[2019-12-04 12:24] chaytanyasinha commented on #3236
Okay @nicolas-raoul I'll do it.

[2019-12-04 12:25] nicolas-raoul commented on #2744
@sivaraam Your last paragraph is actually another well-known bug waiting for someone to fix it :-) : https://github.com/commons-app/apps-android-commons/issues/2909

[2019-12-04 12:27] chaytanyasinha commented on #3219
it's completely fine @neslihanturan .I'll be more happy to solve important issues.

[2019-12-04 12:33] SamuelleMollard commented on #3202
Seems good, thanks.
I will try and work on it when I find time, probably tomorrow afternoon

[2019-12-04 15:40] kamrutha commented on #1984
@nicolas-raoul  While I am trying to solve the above issue, I am not able to upload pictures, it is showing the following message.
![WhatsApp Image 2019-12-04 at 7 38 55 AM](https://user-images.githubusercontent.com/34261526/70156794-544e0d80-1669-11ea-9c64-500927402150.jpeg)

[2019-12-05 04:30] maskaravivek commented on #1984
@kamrutha The crash that you are facing was recently fixed by #3248. Can you check if you have the latest version of the master branch.

[2019-12-05 04:34] kamrutha commented on #1984
@maskaravivek  Okay, Thanks!!!

[2019-12-05 08:12] nicolas-raoul commented on #102
@SamuelleMollard OK I understand now haha
@YoCoB It is yours :-)

[2019-12-05 08:24] maskaravivek opened #3273 "Improve codecov configuration to better reflect code coverage"
Ideas to improve the configuration:
- maybe exclude model classes
- account for UI and integrated tests

[2019-12-05 08:30] maskaravivek commented on #747
@misaochan Can we implement this now?

[2019-12-05 14:56] misaochan commented on #747
Yes, it looks like we're all good! Go for it. :)

[2019-12-05 15:07] maskaravivek opened #3278 "Add java docs to methods which have it missing"
Recently we merged a few PRs with java docs missing and it would be great to have java docs added for all new methods that were added in those PRs.

Or in general, it would be great to have java docs added to methods that have it missing.

[2019-12-05 15:08] maskaravivek commented on #3278
@nicolas-raoul @vanshikaarora @ujjwalagrawal17 This might be a good GCI task. Can new GCI tasks still be added? It would be great if students can pick as of their tasks. :)

[2019-12-05 15:12] SamuelleMollard commented on #2803
I would like to work on this issue, though I just can not get in 'Nearby'. I mean, I can, but I only have a blue screen, and pressing the only button there is makes the app crash
Does anyone have any information about that ? Otherwise I will open a new issue since that is kind of a problematic bug, and I have not found any other issue about that.

[2019-12-05 15:13] maskaravivek commented on #3128
@misaochan Can this issue be closed now?

[2019-12-05 15:14] #2367 closed

[2019-12-05 15:14] #1889 closed

[2019-12-05 15:14] misaochan opened #3279 "Configure Travis to run UI tests and integrated tests as well"
Currently Travis only automatically runs unit tests, which is part of the reason why the upload crashes were not detected earlier even though we have an upload script. We should config it to run all types of tests.

[2019-12-05 15:15] maskaravivek commented on #918
Closing this task as it was for IEG 2017.

[2019-12-05 15:15] #918 closed

[2019-12-05 15:18] misaochan commented on #3279
Related to #2226

[2019-12-05 15:44] SamuelleMollard commented on #2803
OK, I didn't unnderstand how 'nearby' works, I was just not located anywhere and ended up in the ocean and I didn't understand that. After I got that to work, the button still makes the app crash, and uploading any picture at any location makes the app crash as well. I will investigate that a bit more later

[2019-12-05 18:00] sivaraam commented on #2507
I think I'm facing a similar issue in my device now. But for me it is the "Contributions" screen in which I see the black part in the bottom of the screen. It happens to me consistently when I switch to "Nearby" and then back to "Contributions". It only goes away when there is a screen update in the Contributions page (e.g., when a "Nearby location" card is shown above the contributions).

I'm usi

[2019-12-05 18:23] chaytanyasinha commented on #3236
@nicolas-raoul @neslihanturan I made the changes last night just after you assigned me but my ram is not working properly because of which I am not able to test the codes.
What should I do?

[2019-12-05 18:24] sivaraam opened #3280 "Showing the quiz pop-up in every open is annoying"
### Summary
Requesting the user to take a quiz when the quality of images they have uploaded is not good (more than 50% deleted images [footnote 1]) is a nice thing. But it would be even more nice to give some time before asking them to take the quiz when they have expressed disinterest (by hitting on the "Cancel" button). Currently, the app shows the quiz pop-up every time the person opens the ap

[2019-12-05 18:37] sivaraam opened #3281 "Dismissing the quiz pop-up requires tapping on Cancel twice"
### Summary
Tapping on "Cancel" button on the quiz pop-up doesn't seem to be dismissing the pop-up. Most of the time I have to tap on the button twice to dismiss the pop-up. Its also worth noting sometimes the pop-up does get dismissed when I tap on it once but most of the time it doesn't.

There is a chance that I might be dismissing two pop-ups but I cannot differentiate between the two visually

[2019-12-06 07:43] madhurgupta10 commented on #3278
@maskaravivek Great! I have drafted this task https://codein.withgoogle.com/dashboard/tasks/6669477291229184/preview/

[2019-12-06 08:40] vanshikaarora commented on #3278
Great! That's a nice task for students.

@madhurgupta10 Can I help you with the task?

[2019-12-06 08:51] #3201 closed

[2019-12-06 09:00] misaochan commented on #3128
Sounds good to me!

[2019-12-06 09:00] #3128 closed

[2019-12-06 09:04] misaochan commented on #2803
Hi @SamuelleMollard ,

This issue seems to be related to the recent bug #3231 . If you could provide further details of your investigations there, that would be great!

Also, logs of your crashes would be fantastic (you can either use the app option to send it to our private mailing list, or post them here).

[2019-12-06 09:18] madhurgupta10 commented on #3278
@vanshikaarora Sure

[2019-12-06 09:44] nicolas-raoul commented on #2803
Also, please make sure you are working on the latest source code. I think
one of these crashes has been fixed very recently.

By any chance, is the map in the sea near Punta Arenas?

On Fri, 6 Dec 2019, 18:04 Josephine Lim, <notifications@github.com> wrote:

[2019-12-06 11:48] vanshikaarora commented on #3278
Do you need any help with drafting the task, or is it complete?

Also shall I assign myself as a mentor?

[2019-12-06 12:09] m-alzam commented on #3197
Working on this (task claimed)

[2019-12-06 12:12] yashk2000 commented on #3197
@m-alzam great :rocket:
All the best :+1:
Let us know if you have any doubts.

[2019-12-06 13:26] madhurgupta10 commented on #3278
Sure

You may add additional details!

[2019-12-06 14:41] m-alzam commented on #790
Hi,
Could you add this as a Google Code-in task?

[2019-12-06 15:20] vanshikaarora commented on #3278
So shall we go ahead and publish this task?

[2019-12-06 17:27] m-alzam commented on #3197
Pull requests send. @yashk2000 I have [this problem](https://github.com/commons-app/apps-android-commons/pull/3282#issuecomment-562662825).

[2019-12-07 03:29] GearGit commented on #3222
@nicolas-raoul @maskaravivek i have made some changes in the categories and media section of explore in #3254
Please verify so that I can create a pull request and merge upload_caption_depict branch with master branch.

[2019-12-07 09:18] madhurgupta10 commented on #3278
@maskaravivek please let us know if anything else needs to be added.

[2019-12-07 12:31] chaytanyasinha commented on #3236
@neslihanturan @nicolas-raoul should I send a pull request?

[2019-12-08 16:11] FlorianSW commented on #3278
Hi guys, I saw your task in GCI :) I think there's some information missing to help students get started. First of all: How many methods a student should look like? Do you've any convention or good examples about how a good docblock for a method should look like? Any other information a newcomer should get in order to get started with contributing to your project?

Once these infos are in the task

[2019-12-09 06:31] nicolas-raoul commented on #3236
Please send a pull request with the title "[WIP] White font for place type search box and x"
WIP means "Work In Progress"
Thanks :-)

[2019-12-09 06:47] nicolas-raoul commented on #790
Unfortunately CGI rules currently exclude pure-localization tasks :-/

[2019-12-09 06:48] chaytanyasinha commented on #3236
okay @nicolas-raoul I'll do it.

[2019-12-09 08:36] SamuelleMollard commented on #2803
Indeed I am not working on the latest source code, I'm fixing that

[2019-12-09 08:37] m-alzam commented on #790
Oh, thanks. Could you remove the `code-in` label, so others students don't go here thinking about the same?

[2019-12-09 08:42] neslihanturan commented on #2803
Puntas Areas PR is up #3271 but not merged yet, it should be merged today.

[2019-12-09 08:53] neslihanturan commented on #3236
@chaytanyasinha since the straightforward solution will not work for this issue (I also tried setting hint text color, I assume this is what you did too, am I right?) would be nicer to test it at least once before sending the PR. Is your issue with your ram permanent, or will be solved soon?

[2019-12-09 09:30] SamuelleMollard commented on #2803
OK, I have updated the code, and I have tried to replicate the bug. However, I jut can't click on any place. I don't understand how I am supposed to 'select' a pin. I don't know if I don't understand the workflow or if it is  bug

[2019-12-09 09:33] SamuelleMollard commented on #2803
I have discovered a 'list' button, but it opens an empty menu

[2019-12-09 09:44] SamuelleMollard commented on #2803
And yes, I am located near Pontanas Area, and the crash no longer happens

[2019-12-09 09:56] neslihanturan commented on #2803
Hey @SamuelleMollard selecting any pin means selecting one marker(place) from the map. Pontas area still exists on the master, this is expected since the PR is not merged yet. If you want to avoid from that issue and see pins, you can pull my changes from #3271 and work on top of them.

[2019-12-09 10:08] neslihanturan opened #3287 "Contributions screen is deformed switching between tabs"
**Summary:**
This issue is slightly related with an old issue #2507
From @sivaraam 's report:

I think I'm facing a similar issue in my device now. But for me it is the "Contributions" screen in which I see the black part in the bottom of the screen. It happens to me consistently when I switch to "Nearby" and then back to "Contributions". It only goes away when there is a screen update in the Cont

[2019-12-09 11:15] neslihanturan opened #3288 "Crash on image upload"
**Summary:**

Some logs has sent from a user, it says during the upload, it crashes.

**Steps to reproduce:**

Try to upload some images. A wild idea this issue should only be reproducible for some android versions, prpobably <11. For our reports they are: "ANDROID_VERSION=8.0.0 and 9"

**System logs:**

[code]

[2019-12-09 11:27] neslihanturan commented on #3236
Additionally, this issue is one of our hot issues, see: https://github.com/commons-app/apps-android-commons/issues/3256 so it would be amazing if you can send your [WIP] PR as soon as possible, so that, if it does not work I will have time to work on the same.

[2019-12-09 11:33] neslihanturan commented on #3233
This issue is also should be solved by #3271

[2019-12-09 13:08] chaytanyasinha commented on #3236
No @neslihanturan RAM issue will be soon resolved,I'll try to test the codes now and will be sending the PR ASAP.

[2019-12-09 13:40] chaytanyasinha commented on #3236
Yes @neslihanturan I also tried using changing the hint color only.

[2019-12-09 15:07] aklapper commented on #3278
Also see https://www.mediawiki.org/wiki/Google_Code-in/Mentors#Task_requirements for how to write good and clear GCI tasks with enough info - thanks a lot! :)

[2019-12-10 09:45] SamuelleMollard commented on #2803
The thing is, I don't really see any kind of markers, I have tried to click on places on the map where there are names of places, but it did not trigger anything

[2019-12-10 10:06] SamuelleMollard commented on #2803
Ok, for some reason I now see the pins

[2019-12-10 10:16] SamuelleMollard commented on #2803
I got the workflow to work, but I can't reproduce the bug. Can someone confirm me they can reproduce it ?
I tried the steps given above but I do get blank fields, whether I input 'next' once or not

[2019-12-10 10:25] SamuelleMollard commented on #2803
Ok, nevermind I got it
I was doing it wrong by actually taking the photo before leaving the app

[2019-12-10 11:13] SamuelleMollard commented on #2803
By the way, if someone knows what activities/method are called it would be a time saver. Just posting that so that if someone knows they can tell me, I am searching through the code to find it anyway

[2019-12-10 13:52] #3231 closed

[2019-12-10 14:34] misaochan commented on #3179
@ankit-kumar-dwivedi please feel free!

[2019-12-10 18:31] venkatesh2000 commented on #3267
@nicolas-raoul Hi, I'm new to this project and to open source contributions itself. I can reproduce this bug in v2.11.0. However, I can't seem to do the same after checking out the master branch and launching the app in my device. Am I missing something? Forgive me if my question is too naive.

[2019-12-11 06:17] nicolas-raoul opened #3289 "Crash at start, every time"
with latest master 2.12.0.525

maybe because I have a failed upload?

[2019-12-11 08:54] misaochan commented on #3289
Hi @nicolas-raoul ,

All of the crash reports you have sent to the google groups mailing list have been empty, no title or body. Do you think you could take a look at why this is happening, or otherwise copy the crash logs over to this issue? I don't think it's an ACRA issue because other people's reports are coming through fine.

[2019-12-11 13:25] a18jouan commented on #3235
Hi,
When does this happen ? I am a new user and I can't find this situation.

[2019-12-11 13:54] a18jouan commented on #2874
I found the same problem with two others messages  :
Sending Thanks: Failure
Sending Thanks : Success
Can I fix that ?

[2019-12-11 16:49] SamuelleMollard commented on #2803
Ok, I have fixed the issue, I am issuing the PR

[2019-12-11 17:03] SamuelleMollard commented on #102
My team should have done that, I have integrated it in the PR

[2019-12-12 18:30] VojtechDostal opened #3293 "Map does not work"
Don't know where to start... these new functions look so pretty but unfortunately I cannot use them :-( map basically does not work for me in the latest version. I realize this is not the most useful way to report issues but let me just list a few of them:

- it starts to load somewhere in the Argentina and only shifts to Prague when the pins load (if they do)
-  it loads all wikidata items includ

[2019-12-13 08:18] misaochan commented on #3293
@VojtechDostal We have merged a fix for this that we plan to release next week, but it would be great if we could get someone to test it on alpha.

I invited you to our alpha testing google group, so once you join you should be able to download the alpha version from the Play Store. Please let me know if the fix works for you. :)

You can leave alpha testing and resume beta testing at any time by

[2019-12-13 08:24] misaochan commented on #3235
I guess part of the reason was that the items in the "Place Type" list are marked in grey when they are selected, so the Place State cards look uniform if they are also greyed when selected. But I am OK either way. :)

@a18jouan are you on beta testing? This feature is only released in beta and alpha.

[2019-12-13 12:37] chaytanyasinha commented on #3236
@neslihanturan @nicolas-raoul I have sent the pull request 2 days back with tag [WIP].I tried to check the codes but it was showing error "sdk files missing".I'll be thankful if you check it once for updating it.
Thanks.

[2019-12-13 18:58] FernandaCG commented on #3218
Hi @neslihanturan, I have been debugging the app, and I think that in the method retryUpload in ContributionViewHolder we could validate if the file already exists, but idk which attribute of the contribution could I use. Can you give me some feedback?

[2019-12-14 03:19] chaytanyasinha commented on #3236
@neslihanturan please guide me where I am wrong I'll try to resolve the codes.

[2019-12-14 19:21] nicolas-raoul commented on #3289
Yes I realized that recently the app was crashing without attaching any
information.
I would have loved to take a logcat but I am travelling.
"Send logs" is also not accessible because of the app crashes before.
Because I needed Nearby I wiped app storage and connected with another
account, it solved the problem. I hope some of us can reproduce the problem
though.

On Wed, 11 Dec 2019, 00:54 Josep

[2019-12-14 19:21] nicolas-raoul commented on #3267
Maybe the bug has been fixed? Could you please send screenshots?
Thanks! 🙂

On Tue, 10 Dec 2019, 10:31 Venkatesh S, <notifications@github.com> wrote:

[2019-12-14 20:03] venkatesh2000 commented on #3267
@nicolas-raoul Thanks for the reply!! The issue seems to have been fixed as I can't reproduce it in v2.12(Beta release). I've attached the screenshots in my previous comment.

[2019-12-15 07:24] animedhruv opened #3294 "sir what do we exactly need to show in the video"

[2019-12-15 08:11] chaytanyasinha commented on #3236
@neslihanturan please guide me where I am wrong I'll try to resolve the codes.

[2019-12-15 08:21] siamsot commented on #3294
I think we can close this unless there are some extra information provided

[2019-12-15 08:23] nicolas-raoul commented on #3280
Good idea! 🙂

Detecting self-nomination sounds hard, but maybe there is a tool/API for
that? I suggest splitting into a different issue.

On Thu, 5 Dec 2019, 10:24 Kaartic Sivaraam, <notifications@github.com>
wrote:

[2019-12-15 08:23] nicolas-raoul commented on #3222
Sorry I have no time to check this month, anyone please check and let us
know, thanks 🙂

On Fri, 6 Dec 2019, 19:29 Somanshu, <notifications@github.com> wrote:

[2019-12-15 08:23] nicolas-raoul commented on #1650
Thanks for the investigation!
Are you working on implementing the fix? 🙂

On Sun, 1 Dec 2019, 16:13 Deepa Malani, <notifications@github.com> wrote:

[2019-12-15 12:35] madhurgupta10 commented on #3259
@nicolas-raoul A student recently submitted a video, please let us know your feedback.

[2019-12-15 17:51] madhurgupta10 commented on #3294
@animedhruv Hi, I believe you are a Code-In student. Please use the official Google Code-In Comment section for any queries or you can continue on the conversation on https://github.com/commons-app/apps-android-commons/issues/3259

[2019-12-15 20:36] zoranzoki21 commented on #3192
This should be closed as resolved now, as my pull request is merged.

[2019-12-15 22:50] VDK opened #3295 "Ultimate achievement: Too many contributions (making our script time out)"
**Summary:**

I have over ¼ million edits on Wikimedia Commons. The "achievements" tab in the app isn't able to calculate which awards I've got because there's too much data. I think this is not an issue that can be fixed because we don't cache user data statistics. A "you got all the achievements"-award shouldn't be too hard to implement?

**Steps to reproduce:**

An account with a lot of edits (

[2019-12-15 23:13] licaon-kter commented on #82
@nicolas-raoul Please keep a consistent tag scheme, as F-Droid has:
[code]
...so it expects for versionName `2.12.0` a tag named `v2.12.0`, yet the tag is `v2.12` instead, so it fails to build: https://f-droid.org/wiki/page/fr.free.nrw.commons/lastbuild_508

[2019-12-16 05:28] nicolas-raoul commented on #82
@licaon-kter Thanks for the feedback!
@misaochan Maybe try renaming the tag?

[2019-12-16 06:18] nicolas-raoul commented on #3259
@madhurgupta10 Could you please link to the video, or add me as a mentor to the video task? Thanks :-)

[2019-12-16 06:23] nicolas-raoul commented on #3192
@zoranzoki21 Thanks for fixing this :-)
@yashk2000 Thanks for filing the issue!

[2019-12-16 06:23] #3192 closed

[2019-12-16 06:34] nicolas-raoul commented on #3295
Thanks Vera for using the app! :-)

Good idea, instead of showing this error we should display something like:
[code]

The difficulty is to differentiate between:
- Failures due to high number of contributions
- All other kinds of failures, for instance high server load or database issues

If we can differentiate those reliably, then we can implement this enhancement.

[2019-12-16 07:24] licaon-kter commented on #82
See the MR link, it's fixed for this version (only), my comment was for...future versions. ;)

[2019-12-16 07:28] nicolas-raoul commented on #82
Understood, thanks :-)

[2019-12-16 07:28] #82 closed

[2019-12-16 08:19] maskaravivek commented on #3254
@GearGit You can check our wiki to know about the code style or contributor guidelines. https://github.com/commons-app/apps-android-commons/wiki

Also, when in doubt, don't hesitate in creating a PR. If there's a code style issue or any other issue, any of the collaborators would point it out in the code review. :)

[2019-12-16 08:26] #3249 closed

[2019-12-16 08:41] #3188 closed

[2019-12-16 10:31] neslihanturan commented on #2874
Sure @a18jouan , it is yours:)

[2019-12-16 11:19] neslihanturan commented on #3236
Please see my reviews below your closed PR @chaytanyasinha . I think testing and seeing that your changes works is a must for sending a PR. so please focus on solving your issues with missing SDK filses, and make sure you can build the app with no issues. Then you can continue to contribute easier. Meanwhile I may have to send the PR for this issue, since it is on one of to do lists which has to b

[2019-12-16 12:08] chaytanyasinha commented on #3236
Sure @neslihanturan I will soon resolve my problem of computer and will again start contributing to the community.
Earlier I was upset because of first PR rejection because I knew how to solve these type of issues but thanks for supporting.
I'll soon start contributing again

[2019-12-16 12:15] neslihanturan commented on #3236
Really no need to be upset, it is very normal to have some issues on your PR when your computer does not work properly and also SDK is not found. We need our tools to write code:)

[2019-12-16 12:40] madhurgupta10 commented on #3259
@nicolas-raoul Added you as mentor.

[2019-12-16 13:34] chaytanyasinha commented on #3236
Okay @neslihanturan I will resolve the issue.

[2019-12-16 18:48] sivaraam opened #3296 "Don't count self nominations for assessing image upload quality"
Currently the users are suggested to take a quiz when more than 50% of their uploaded pictures have been deleted. Currently the pictures that were deleted due to self-nomination are also taken into account when calculating the percentage of deleted pictures. IMO, it would be appropriate to show the quiz pop-up only when a user has more than 50% of deleted images due to third-party nominations i.e.

[2019-12-16 18:48] sivaraam commented on #3280
Done :slightly_smiling_face: #3290

[2019-12-17 05:47] nicolas-raoul commented on #3259
@madhurgupta10 Thanks!
- Youtube video at https://codein.withgoogle.com/dashboard/task-instances/5176651416076288/ : Introduce how to install the app (not required but why not), what pictures not to upload, what pictures are OK to upload. Not super high quality but the main points are there, I suggest approving.
- MP4 at https://codein.withgoogle.com/dashboard/task-instances/5393129109192704/ : Th

[2019-12-17 08:13] madhurgupta10 commented on #3259
@nicolas-raoul Thanks, I shared the feedback with them.

At:  https://codein.withgoogle.com/dashboard/task-instances/5393129109192704/
Already submitted the video with the changes and uploaded it to youtube. To change the orientation he needed to do it all over again so I think we can skip it. I think we are good to approve this one now.
https://www.youtube.com/watch?v=QsyjjuEOo8w&feature=youtu.be

[2019-12-17 11:24] #2868 closed

[2019-12-17 13:09] VDK commented on #3295
[A simple API query](https://commons.wikimedia.org/w/api.php?action=query&list=users&ususers=1Veertje&usprop=editcount) gets you the total edit count.
It's probably safe to assume the achiements caculation has failed because a user has over 200.000 edits?
Some testing could be done beforehand to determine when the calculation starts to fail or afterwards by logging a user's edit count when the cal

[2019-12-17 16:27] madhurgupta10 commented on #3259
@nicolas-raoul Other student At https://codein.withgoogle.com/dashboard/task-instances/5176651416076288/ Also completed.
@misaochan We can promote the videos on social media channels :)

https://youtu.be/3uMI8VGRKCQ

[2019-12-17 19:42] GearGit commented on #3254
I will check out the guide and create a PR asap.

[2019-12-17 22:30] nicolas-raoul commented on #3259
Nice, the audio is much better.

On Wed, 18 Dec 2019, 01:27 Madhur Gupta, <notifications@github.com> wrote:

[2019-12-17 23:21] madhurgupta10 commented on #3294
@nicolas-raoul I think we can close this now.

[2019-12-18 01:07] #3294 closed

[2019-12-18 08:34] misaochan commented on #3259
Awesome! Is there a way to get a compilation of all of them? A playlist or something?

[2019-12-18 09:24] misaochan commented on #3296
This would be a good thing to have, however I wonder if there is a practical way of actually implementing it, as it would significantly increase the number of queries that are done, AFAIK (for each deletion, we must check who the person nominating was). @maskaravivek  what do you think?

A somewhat easier solution might be to just address #3280 (which would be a lot easier to solve), and maybe red

[2019-12-18 09:29] misaochan commented on #3289
Hmm, okay. Could be due to a recent change in master (after the 2.12 release). We'll keep an eye out for it.

Incidentally, does Nearby work for you now (i.e. Punta Arenas bug solved)?

[2019-12-18 09:29] misaochan commented on #3188
Thanks @yashk2000 !

[2019-12-19 14:51] GearGit commented on #3295
@VDK @nicolas-raoul This seems an interesting feature to implement, I would like to work on this issue. But I don't have a test account with this high number of edits.

[2019-12-19 16:10] maskaravivek commented on #3295
@GearGit It seems there are other issues already assigned to you. It would be great if you could first complete those. If this issue still remains unassigned by the time you are done with other tasks, feel free to ping again. :)

[2019-12-19 16:59] tmutimer opened #3300 "Switching to/from night mode causes crash on Nearby tab"
**Summary:**

Toggling the night mode on or off, then navigating back to the nearby screen causes the map to not display properly. Tapping the List button then causes a crash.

**Steps to reproduce:**
1. Open the nearby tab.
2. Open the sidebar and go to settings
3. Toggle once the night mode option
4. Go back to nearby.
::DEFECT map does not show up. small white square region shows instead in top

[2019-12-19 17:32] neslihanturan commented on #3300
Sure it is allowed:) Welcome to team and thanks for reporting and being volunteer to work on this issue @tmutimer . By the definition the issue seems like suitable for a first time contributor. Please ask if you face with any problem.

[2019-12-20 03:20] madhurgupta10 opened #3301 "[GCI Ideas] Update the app on Appetize to latest version and update URL on Readme"
**Summary:**
The Appetize app version seems to be outdated (2.10.2)

A good Code-In Task can be, updating the app on Appetize to latest version and update URL on Readme.

Student needs to generate a signed apk of prod flavor and upload it to a free appetize account (they can ask an adult if it requires 18+ to upload). After that, they can update the Readme file and open a PR.

[2019-12-20 03:23] madhurgupta10 commented on #3259
@misaochan not as of now 😕

Here are the links to both.

1. https://www.youtube.com/watch?v=QsyjjuEOo8w&feature=youtu.be
2. https://youtu.be/3uMI8VGRKCQ

[2019-12-20 18:43] MaheshPawar97 commented on #3288
I checked out. If I press the button to upload it is crashing. 3 out of 2 times it crashed.
Tested Version: Android 9.0
![Screenshot_2019-12-21-00-11-39-151_fr free nrw commons beta](https://user-images.githubusercontent.com/32674489/71283613-bd7e9200-2386-11ea-80b4-c2babcfcd1e7.jpg)

[2019-12-21 10:34] kamrutha commented on #1984
@nicolas-raoul  I am facing problem in using cache invalidation. Could you please help me out in how to solve the issue?

[2019-12-23 02:51] nicolas-raoul commented on #1984
First, try to disable the cache code, so that the number is calculated everytime.

[2019-12-24 05:18] chaytanyasinha commented on #3236
@neslihanturan Can you please tell by what variable is the text defined which is there in the search box and the Cancel button.

[2019-12-24 06:18] ashishkumar468 opened #3302 "Nearby Crashes when LatLng object is null"
**Summary:**

Nearby Crashes when LatLng object is null

**System logs:**

[code]

**Device and Android version:**

What make and model device (e.g., Samsung J7) did you encounter this on?
What Android version (e.g., Android 4.0 Ice Cream Sandwich or Android 6.0 Marshmallow) are you running?
Is it the stock version from the manufacturer or a custom ROM ?

**Commons app version:**
2.12.0

**Would y

[2019-12-24 06:24] ashishkumar468 commented on #3302
This seems to be already fixed on the current version, closing this issue

[2019-12-24 06:24] #3302 closed

[2019-12-24 06:25] ashishkumar468 opened #3303 "Nearby Crashes when options menu is clicked"
**Summary:**
USER_COMMENT=Navigated away from settings after toggling night mode on and off

**Steps to reproduce:**

Play with options menu

**System logs:**

[code]

**Device and Android version:**

What make and model device (e.g., Samsung J7) did you encounter this on?
Android 9
**Commons app version:**
2.12.0.530

**Would you like to work on the issue?**

Yes

[2019-12-24 07:11] ashishkumar468 opened #3305 "App Crashes in Review Fragment"
**Summary:**
Crash in Review Fragment

**Steps to reproduce:**
Open ReviewActivity

**System logs:**

[code]

**Device and Android version:**
Android 9
**Commons app version:**
2.11.0

**Would you like to work on the issue?**

Yes

[2019-12-24 07:47] ashishkumar468 opened #3307 "App Crashes in GridViewAdapter$setAuthorView"
**Summary:**
App crashes with invalid string formatter in GridViewAdapter

**System logs:**

[code]

**Device and Android version:**

What make and model device (e.g., Samsung J7) did you encounter this on?
What Android version (e.g., Android 4.0 Ice Cream Sandwich or Android 6.0 Marshmallow) are you running?
IAPP_VERSION_CODE=508
APP_VERSION_NAME=2.12.0
ANDROID_VERSION=8.1.0
PHONE_MODEL=CPH1909
*

[2019-12-24 08:34] maskaravivek commented on #3307
@ashishkumar468 does this crash happen for some particular language?

[2019-12-24 08:34] ashishkumar468 commented on #3307
Yes, @maskaravivek, it was because of the invalid argument in strings file

[2019-12-24 09:01] misaochan commented on #3288
@MaheshPawar97 which version of the Commons app are you on? Could you try this with v2.12 and see if the same problem occurs? Thanks. :)

[2019-12-24 09:52] neslihanturan commented on #3236
There are no variables defined in the Java code, you can create them by findView. Did you solved you issues with Android Studio? :)

[2019-12-24 15:06] maskaravivek commented on #3301
@madhurgupta10 Do we have any statistics on how many people are using the app via appetize? If even a few users are trying out the app using appetize, we can probably automate the process in the future using their APIs.

https://appetize.io/docs#updating-apps

[2019-12-24 15:33] madhurgupta10 commented on #3301
@maskaravivek Here is the usage report. I see few people are actually using the app on appetize.
![image](https://user-images.githubusercontent.com/30932899/71418473-a5618800-2690-11ea-9126-ceafde877d37.png)

[2019-12-24 16:56] chaytanyasinha commented on #3236
Actually @neslihanturan my ram was completely burnt from inside it will take few weeks to get new parts.That's why I am not active these days.

[2019-12-26 10:58] GearGit commented on #3254
@maskaravivek @nicolas-raoul Sorry for delay, but I created a pull request which will fix the issue. Now I am waiting for it to be tested and merged with the upload_caption_depict branch at https://github.com/VitalyVPinchuk/apps-android-commons/tree/upload_caption_depict

[2019-12-27 17:59] bistaastha commented on #2782
Hi. Can I work on this?

[2019-12-28 05:05] nicolas-raoul commented on #2782
@bistaastha OK it is yours :-)

[2019-12-28 18:07] gouri-panda commented on #3218
Hi guys, can I work in this issue?

[2019-12-29 17:44] maskaravivek commented on #3301
@madhurgupta10 Can you help in creating a separate task for automating the appetize update process. Any volunteer can pick it up. :)

[2019-12-29 17:50] madhurgupta10 commented on #3301
@maskaravivek Sure, also if we are automating this task then it would be too difficult for Code-In, so I think we should not include this in Code-In.

[2019-12-29 17:55] maskaravivek commented on #3301
Yes, apologies for not being clear. I meant a general task here on Github :)

[2019-12-30 10:28] erlandvr commented on #3140
I have the same error when coming back from a backgrounded app into a recyclerView. Do you have any updates on this issue?
`Android: 9
Android Build: PKQ1.180716.001
Manufacturer: OnePlus
Model: ONEPLUS A5000
CrashReporter Key: 3a3cce06-0988-40c4-af2d-ed889612f39e
Start Date: 2019-12-05T08:32:27.372Z
Date: 2019-12-05T09:07:21.574Z

java.lang.IndexOutOfBoundsException: Inconsistency detected. Inval

[2019-12-30 12:57] madhurgupta10 opened #3311 "Update the app on Appetize using the API"
**Summary:**

As per the discussion on #3301 We need to automate the process of publishing the latest app to the appetize.io

[2019-12-30 12:57] madhurgupta10 commented on #3301
@maskaravivek task created #3311

[2019-12-30 12:57] #3301 closed

[2019-12-30 13:13] chinmoy12c opened #3312 "Picture zoomed too much"
**Summary:**
When a picture is clicked, the picture is zoomed to the point that parts of the picture are not visible.

**Steps to reproduce:**
Open any picture in featured or mobile uploads.

**Device and Android version:**
I'm using Redmi note 7s with android version 9(Pie)

**Commons app version:**
version 2.11.0

**Screen-shots:**
![Screenshot_2019-12-30-18-18-53-445_fr free nrw commons](https:

[2019-12-30 14:28] nicolas-raoul commented on #3312
So, do you suggest showing the picture at the top and fill the rest with black?

Is there really no way to achieve that without using the PhotoDraweeView library?

[2019-12-30 15:09] chinmoy12c commented on #3312
Yes, the library places the image automatically in the centre and it looks good on the black background as well.
![Screenshot_2019-12-30-20-33-05-285_fr free nrw commons beta](https://user-images.githubusercontent.com/57670338/71587519-fd423800-2b43-11ea-8f18-69e3eb8af6dc.jpg)

![Screenshot_2019-12-30-20-28-52-257_fr free nrw commons beta](https://user-images.githubusercontent.com/57670338/7158753

[2019-12-30 19:54] chinmoy12c commented on #3312
Found a better solution without using the library , changing the scale type to fitCenter fixed the issue.

![Screenshot_2019-12-31-01-15-15-711_fr free nrw commons beta](https://user-images.githubusercontent.com/57670338/71598148-c41dbe00-2b6b-11ea-8826-8982b5cfd4fd.jpg)

***EXTRA MODIFICATIONS***
Should I make the background black as well? It looks better.

[2019-12-31 01:05] nicolas-raoul commented on #3312
Yes, black background would be great :-)
Also, does it look strange when scrolling the details up a bit? A few more
screenshots would be great (once the background is black).
Thanks!

On Tue, Dec 31, 2019 at 4:54 AM Chinmoy <notifications@github.com> wrote:

[2019-12-31 06:12] chinmoy12c commented on #3312
This is how it looks now.

![Screenshot_2019-12-31-11-35-14-939_fr free nrw commons beta](https://user-images.githubusercontent.com/57670338/71611846-59e43800-2bc2-11ea-80d5-b6afb0b8d46a.jpg)
![Screenshot_2019-12-31-11-35-10-156_fr free nrw commons beta](https://user-images.githubusercontent.com/57670338/71611847-59e43800-2bc2-11ea-8d90-8c17f134dfff.jpg)
![Screenshot_2019-12-31-11-33-39-724_fr fre

[2020-01-01 00:45] nicolas-raoul commented on #3312
Looks like a good improvement to me!
Could you please post a few screenshots in landscape mode too? 🙂

On Tue, 31 Dec 2019, 15:12 Chinmoy, <notifications@github.com> wrote:

[2020-01-01 07:13] chinmoy12c commented on #3312
These are landscape view screenshots
![Screenshot_2020-01-01-12-40-55-304_fr free nrw commons beta](https://user-images.githubusercontent.com/57670338/71638996-37225400-2c94-11ea-9e4b-5114b52a9fb4.jpg)
![Screenshot_2020-01-01-12-39-58-700_fr free nrw commons beta](https://user-images.githubusercontent.com/57670338/71638997-37225400-2c94-11ea-9019-4b318cc550a9.jpg)
![Screenshot_2020-01-01-12-40-09-

[2020-01-01 09:28] maskaravivek commented on #2493
@misaochan If this is a bit tricky can we at least have the APKs along with the beta/prod releases that we do. It won't need any Travis setup. Whenever you push a new tag to Github, you will have to manually edit the tag to add the APK as well.

<img width="883" alt="Screen Shot 2020-01-01 at 2 26 12 AM" src="https://user-images.githubusercontent.com/3069373/71639939-1af3c800-2c3e-11ea-813b-a05619

[2020-01-01 21:42] chinmoy12c opened #3314 "Error shown when there are no more images to load"
**Summary:**
When the featured or uploaded by mobile list comes to end, i.e there are no more images to load an error is shown instead of suitable information.

**Steps to reproduce:**
Reach the last image of featured or mobile uploads.

**System logs:**

[code]

**Device and Android version:**
 Redmi note 7s , Android version 9 (Pie)

**Commons app version:**

version 2.12.0

**Screen-shots:**
![

[2020-01-02 08:46] nicolas-raoul commented on #3312
Looks great!
Could you please send a pull request and post the link to it here?
Thanks :-)

[2020-01-02 12:22] chinmoy12c commented on #3312
This is the pull request link.
https://github.com/commons-app/apps-android-commons/pull/3315#issue-358640716
Thank You :)

[2020-01-02 14:21] bistaastha commented on #3037
Hi
I tried to reproduce this on the current master, and all images under 'Uploaded via Mobile' tab have author names. However, 'Featured' tab does not have any author names showing under the image, though they are present in the Media Details View.

[2020-01-02 17:23] misaochan commented on #2493
Sure, I can do that. :) Remind me if I forget, please.

[2020-01-03 08:49] bistaastha opened #3316 "Enabled Fast Scroll disrupts normal scroll flow"
**Summary:**
In Explore activity, scrolling through 'Featured' or 'Uploaded via Mobile' has fast scrolling enabled for the GridView. For right-handed scrolling, this GridView scrollbar is often accidentally touched and may lead to an abrupt jump to another image. Also, it is counter-intuitive to normal scrolling.

**Steps to reproduce:**
- Go to Explore
- Scroll through images in any of the tabs
-

[2020-01-04 13:24] nicolas-raoul commented on #3222
@GearGit Does your branch https://github.com/GearGit/apps-android-commons/tree/upload_caption_depict compile and run correctly? Could you please post a screenshot of its "Explore" activity? Thanks :-)

[2020-01-07 09:55] #3312 closed

[2020-01-07 17:24] DeepaMalani commented on #1650
Hi Nicolas,

I have worked on this issue and already have submitted a pull request for this issue (#3200 ).

[2020-01-10 20:29] DeepaMalani opened #3319 "App Crash when click on location button in NearBy"
**Summary:**

App crash when clicks on the location button in NearBy before loading the Map. The location button is working properly once the map is loaded but if we click on the location button before the loading app gets crash.

**Steps to reproduce:**

How can we reproduce the issue?

1. Click the NearBy tab in the home screen.
2. Try to click on the location button(top right) before loading th

[2020-01-10 20:29] DeepaMalani commented on #3319
![NearByjpg](https://user-images.githubusercontent.com/24900514/72184257-e18d2c00-33a4-11ea-801a-8c7b36f91448.jpg)

[2020-01-10 20:31] neslihanturan commented on #3319
It should be fixed on current master, can you please try give us a feedback. Thanks for finding it though @DeepaMalani !

[2020-01-10 20:34] DeepaMalani commented on #3319
Sure  @neslihanturan will try on current master and then update you.

Thanks

[2020-01-11 08:57] 6point022 opened #3320 "Unable to login"
**Summary:**

I am unable to login through the app, can login through a browser.
Error message says `Chain validation failed`

**Steps to reproduce:**

_How can we reproduce the issue? What did you expect the app to do, and what did you see instead?_

I ran the project on Android Studio. Then I opened the app and created an account, verified my email and tried to login, which failed.

**System log

[2020-01-11 09:16] neslihanturan commented on #3320
Hi @6point022 , thanks for report. Do you able to login from the web interface?

[2020-01-11 09:34] 6point022 commented on #3320
@neslihanturan Yes, I'm able to login through the web.

[2020-01-11 09:35] neslihanturan commented on #3320
One more question, is your account 2fa enabled?

[2020-01-11 09:54] 6point022 commented on #3320
@neslihanturan How do I check that?

[2020-01-11 13:01] 6point022 commented on #3320
@neslihanturan No, it's not.

[2020-01-11 14:10] neslihanturan commented on #3320
This is really an issue then, thanks a lot for reporting it @6point022 :)

[2020-01-11 23:41] maskaravivek commented on #3320
@6point022 Are you using an emulator?

Please check this thread to see if anything works for you.

https://stackoverflow.com/questions/45923747/android-emulator-chain-validation-failed-connecting-developers-machine-with-se

[2020-01-12 09:32] 6point022 commented on #3320
No, I am not using an emulator.

So, when I tried to login through the web today, I couldn't. I tried to do "Forgot my password" and I wasn't receiving any email for the same. I tried to do "Forgot my password" with my username instead of email and it said

![image](https://user-images.githubusercontent.com/44764339/72216695-96ad1900-354a-11ea-9e19-dc0c1bdc8678.png)

 then I tried to sign up again

[2020-01-12 13:51] kbhardwaj123 commented on #3179
@misaochan Is this issue free to be worked upon? if so can i take it?

[2020-01-12 14:50] ankit-kumar-dwivedi commented on #3179
Hey! Yes sure you should start working on it as I'm not working on it right
now.

On Sun, Jan 12, 2020, 7:21 PM Kshitij Bhardwaj <notifications@github.com>
wrote:

[2020-01-12 15:02] kbhardwaj123 commented on #3179
Thank you:)

[2020-01-12 18:04] ashishkumar468 commented on #3319
HI @DeepaMalani, Even if it's not fixed on current master, @neslihanturan & I are working on some bug fixes in nearby. It should be fixed then, Appreciate you for your help :)

[2020-01-12 20:45] DeepaMalani commented on #3319
Thank @ashishkumar468 for informing.

[2020-01-13 01:22] maskaravivek commented on #3139
Closing this issue as our final report has been submitted.

[2020-01-13 01:22] #3139 closed

[2020-01-13 01:22] maskaravivek commented on #3078
Closing this issue as our final report has been submitted.

[2020-01-13 01:22] #3078 closed

[2020-01-13 01:24] maskaravivek commented on #3236
@chaytanyasinha Are you still working on this issue? If not, please let us know so that it can be reassigned to someone else. :)

[2020-01-13 01:51] maskaravivek commented on #1831
This can be done using `wbsetclaim` API. This is how the request would look:

<img width="1088" alt="Screen Shot 2020-01-12 at 6 50 33 PM" src="https://user-images.githubusercontent.com/3069373/72229513-75f5bb00-356c-11ea-81de-35182073e48a.png">

Sample JSON for claim object:

[code]

It would be great if we could decide whether the title or description needs to be set in P2096? Accordingly, I can

[2020-01-13 02:04] maskaravivek commented on #3127
@ashishkumar468 Is there any estimate about by when you might be able to complete this task. I was hoping to have this in place before I started with #872.

[2020-01-13 02:31] chaytanyasinha commented on #3236
@maskaravivek No,I am not working on it due to some technical issues,I'll be back with contributing in few days.Please assign to someone else.
Regards

[2020-01-13 02:47] maskaravivek commented on #3320
I think beta servers are experiencing some issues. I also faced the same issue using the beta version of the app today. You can build and use the prod debuggable app for the time being.

[2020-01-13 15:30] GearGit commented on #3222
Sorry for the delay in responding, but the https://github.com/GearGit/apps-android-commons/tree/upload_caption_depict branch does compile. I will upload a screenshot of the explore activity.

[2020-01-13 15:57] GearGit commented on #3222
Looks like there is some issue with the upload_caption_depict branch, the "Explore" section of the app, as well as the "Uploaded via Mobile" both display the message "No images found!".
I will look into it and make a pull request.
@nicolas-raoul my previous pull request hasn't been yet merged by the collaborators. Is it maybe because I pulled the request on upload_caption_depict branch of https://

[2020-01-14 02:05] albendz commented on #3236
I can pick this up.

[2020-01-14 04:18] maskaravivek commented on #3236
Sure. Assigned to you. :)

[2020-01-14 17:40] chinmoy12c commented on #3314
This is the pull request with the fix.
https://github.com/commons-app/apps-android-commons/pull/3325#issue-362757440

[2020-01-14 17:52] chinmoy12c commented on #3320
I am experiencing the same issue on login as well as loading images.
`
2020-01-14 23:19:49.402 4431-4431/fr.free.nrw.commons.beta E/CategoryImagesListFragment: Error occurred while loading images inside a category
2020-01-14 23:19:49.402 4431-4470/fr.free.nrw.commons.beta D/OkHttp: <-- HTTP FAILED: javax.net.ssl.SSLHandshakeException: Chain validation failed
2020-01-14 23:19:49.402 4431-4431/fr.fr

[2020-01-14 17:56] chinmoy12c commented on #3320
I am experiencing same issues with login as well as when images are loaded. I'm unable to load images either and get the same error.
[code]

I'm using redmi note 7s with android pie.

[2020-01-15 03:14] sivaraam commented on #3320
@6point022 Note that you would have to create different accounts for the [Beta instance of Wikimedia Commons](https://commons.wikimedia.beta.wmflabs.org/wiki/Main_Page) and the [production instance](https://commons.wikimedia.org/wiki/Main_Page). IOW, you cannot login into the beta instance using the account you have created in the production instance.

The beta version of the app requires you to l

[2020-01-15 10:52] misaochan commented on #1831
I would go with the title as it's more concise, what do you think @nicolas-raoul ?

[2020-01-15 13:32] sivaraam commented on #3320
This is because the username is registered with some other wiki (in this case [en.wikipedia](https://commons.wikimedia.org/wiki/Special:CentralAuth/Anmol)) and since the introduction of [Unified login](https://en.wikipedia.org/wiki/Wikipedia:Unified_login) creating an account in one wiki with a username means the username is also reserved in other wikis. If you had keenly noticed, the error messag

[2020-01-15 13:50] tmutimer commented on #3320
To corroborate: I am also experiencing this issue and am no longer able to login to the beta server in the app, after being logged out yesterday (due to uninstalling/reinstalling the app). As per other users I can login on the website at [commons.wikimedia.beta.wmflabs.org](url) using the same credentials. I do not have 2FA enabled.

[2020-01-15 14:03] chinmoy12c commented on #3320
I used my beta test account but still get the same error

[2020-01-15 14:10] nicolas-raoul commented on #1831
Absolutely, title is a great media legend, while description is not a good media legend, I don't know what I was thinking when writing the text of the original issue.
Thanks! :-)

[2020-01-15 16:39] maskaravivek commented on #1831
If we go ahead with the title then what should be filled in the language attribute? In the case of description, we are aware of the language but in the case of title, the user can type it in any language.

@misaochan @nicolas-raoul

[2020-01-16 07:18] maskaravivek commented on #872
@misaochan Can you help in defining the scope of the task. It would be great if the opening comment could be edited to define the scope.

[2020-01-17 06:41] t-karcher opened #3327 "Trim whitespaces from title on upload"
**Summary:**

In a recent upload I noticed (too late) that autocorrect somehow added a space after my title and the app didn't trim it on upload: https://commons.wikimedia.org/wiki/File:Lumix_G6_mit_Objektiven_.jpg

I'd appreciate if the app could automatically trim all whitespaces from the beginning and the end of titles.

**Steps to reproduce:**

Add a whitespace at the end of a title. It will n

[2020-01-17 06:45] misaochan opened #3328 "Change to {{According to Exif data}} template"
Based on documentation cited at
 https://commons.wikimedia.org/wiki/Commons_talk:Mobile_app#Incorrect_date_format , we should use {{According to Exif data}} because {{According to EXIF data}} is a redirect.

Basically, just need to change the case.

[2020-01-17 06:56] misaochan commented on #872
@maskaravivek Sorry for the delay, this actually required a lot more thought than I initially estimated, lol. I will try and get back to you by the weekend.

[2020-01-17 07:00] misaochan commented on #3327
Makes sense, thanks for the suggestion. :)

[2020-01-17 08:11] 6point022 commented on #3320
@sivaraam That makes sense. I opened both the beta and production instance on the web and realised that my account was not "deleted" but I had ended up created two different accounts--one for each instance.

However, the problem persists. I can login to the [beta version](https://commons.wikimedia.beta.wmflabs.org/wiki/Main_Page) on the web, but using the same credentials I can't login to the beta

[2020-01-17 12:56] petkakisgeorge opened #3329 "Can't change language."
**Summary:**

I'm going to settings and there is only an option for changing the default description language.
The default app description is been set by the device's default language and cannot be changed.

**Steps to reproduce:**

We should  add an option where user could also choose for the default app language.
So after the User choose an other language , the program should re-choose  the righ

[2020-01-17 14:52] GearGit commented on #3327
Working on it. I think I found the exact code to edit, but I will have to test it first.

[2020-01-17 19:46] maskaravivek commented on #3222
I think we should make a copy of the `upload_caption_depict` branch to our repo and continue working on that.

[2020-01-17 19:51] maskaravivek commented on #3222
Sorry, I just looked at the discussion in detail. Also, can someone catch me up with details about why we are trying to update @VitalyVPinchuk's branch instead of @vanshikaarora's branch?

Isn't #2970 the original GSoC PR?

[2020-01-17 19:53] maskaravivek commented on #1831
To start off can I assume "en" as the language for the title (or descriptions for media legends) and work on this task. Once #3222 is fixed, we can update the feature to use captions instead of descriptions/titles. We will take care to release the feature only after we start using captions.

[2020-01-18 11:26] harshika-arya commented on #3257
Hi @nicolas-raoul, I would like to work on this.

[2020-01-18 17:42] maskaravivek commented on #3257
@harshika-arya Yes, sure. The issue is yours. Feel free to ping here if you get stuck anywhere. :)

[2020-01-18 19:09] albendz commented on #3236
@maskaravivek I'm unable to test the app due to a "Chain validation failed" error at the login page. Do you know what this is caused by? Tried on two different computers, multiple emulators, etc.

[2020-01-18 19:12] maskaravivek commented on #3236
Yes, I too faced the same issue while using the beta flavor of the app. It is being discussed here. #3320

You can build and use the prod flavor of the app for the time being.