[2021-11-20 08:49] nicolas-raoul commented on #4701
@deek121477 At https://commons.wikimedia.org/wiki/File:Air_is_wild_with_the_leaves.jpg you can see a link called `Upload a new version of this file`. You will have to discover what API calls the form behind that link use. :-)

[2021-11-22 03:50] deek121477 commented on #4701
Okay. I will try.

[2021-11-22 07:12] misaochan commented on #4704
I agree, that would be the ideal way to handle it. :)

[2021-11-22 07:13] misaochan commented on #4706
Thanks for reporting this! The same issue occurs for me on current master.

[2021-11-23 09:58] matkoniecz opened #4707 "Upload failure does not explain at all why upload failed in case of login failure"
**Summary:**

On upload failure I just get "Failed" with no explanation what happened.

Is my account blocked? No.

Is there is no internet connection? There is.

Maybe app lost ability to open files? ????

Maybe there was an API upgrade? ????

Maybe this app version was remotely disabled? ????

Maybe there is something wrong with this file? ????

Maybe there is something wrong with file name? Dup

[2021-11-23 10:11] matkoniecz commented on #4696
@madhurgupta10  Where have you seen such badges? Is there some trustworthy service for generating image with proper count?

[2021-11-23 10:19] madhurgupta10 commented on #4696
@matkoniecz  We can use https://shields.io/category/issue-tracking to generate custom badges, this is an open-source project (https://github.com/badges/shields) and seems to be quite popular :)

[2021-11-23 11:29] matkoniecz commented on #4696
`repo:commons-app/apps-android-commons is:issue is:open label:"good first issue" ` query

`"good first issue" issues` label

on https://shields.io/category/issue-tracking

gives ![GitHub issue custom search](https://img.shields.io/github/issues-search?label=%22good%20first%20issue%22%20issues&query=repo%3Acommons-app%2Fapps-android-commons%20is%3Aissue%20is%3Aopen%20label%3A%22good%20first%20issue

[2021-11-23 15:59] ujjman opened #4709 "Achievements tab shows "user" has not made any contribution"
**Summary:**

`Achievements` tab shows that "user" has not made any contribution but when we click `contributions` tab, there is a list of contributions made by the "user"

**Steps to reproduce:**
1. Restart the app
2. Click on 3 lines button on the bottom-right
3. Select the "user name"
4. Go to leaderboards tab
5. Click on any user (who made some contribution like I clicked on `Christian Ferrer`

[2021-11-23 16:06] ujjman commented on #4700
can I work on this @nicolas-raoul?

[2021-11-24 00:53] nicolas-raoul commented on #4700
@ujjman Yes thanks! Please let us know about your progress every few days at least :-)

[2021-11-24 14:39] nicolas-raoul opened #4711 ""Please provide a caption for this file" when uploading any dark picture"
Latest master
![Screenshot_20211124-233829_Commons](https://user-images.githubusercontent.com/99590/143258600-8e765c84-4aa2-4783-8f18-86d737c5bbdd.jpg)

[2021-11-24 16:22] ujjman commented on #4700
made the PR @nicolas-raoul

[2021-11-25 08:13] misaochan commented on #4707
Hi @matkoniecz , sorry to hear that! Unfortunately, as far as stating the reason, we are limited to what the server tells us (which is not much, and we have no control over the server, as we are a community team and not employed by WMF).

Sorry, I just want to clarify this. So after you logged out and logged back in with your changed password, the uploads work?

[2021-11-25 08:54] matkoniecz commented on #4707
Yes

Even "upload rejected by Wikimedia Commons server, reason unknown" would be already an improvement!

I suspected that app failed to open file or that internet failed.

Info that upload was refused by server would already help a lot in this case.

If it is not making a specific error about authentication failure then I would be happy to make a feature request about this problem

[2021-11-25 09:05] misaochan commented on #4707
Makes sense! Yes, this should be doable I believe.

[2021-11-26 03:18] jidanni opened #4712 "Can't upload on slow Internet"
![Screenshot_20211126-111138.jpg](https://user-images.githubusercontent.com/1230959/143521505-789c551c-fc4c-4e4f-8eb7-fd5dd976317c.jpg)
![Screenshot_20211126-111028.jpg](https://user-images.githubusercontent.com/1230959/143521580-d5a023e1-86cd-46a2-b425-20a4cb3696ad.jpg)
![Screenshot_20211126-110843.jpg](https://user-images.githubusercontent.com/1230959/143521639-768a7288-bc3d-478b-821f-8e2b5bb191

[2021-11-26 03:21] jidanni commented on #4712
Need at least four bars to succeed. Notice the cell ID has not changed at all. I just have walked to a slightly different position. Therefore the app needs a little more patience before timing out. Otherwise in lower reception areas  it will time out just too fast.
![Screenshot_20211126-112004.jpg](https://user-images.githubusercontent.com/1230959/143521842-9a4a79e3-7208-4cb0-aa98-67e6027fb6dc.jpg

[2021-11-26 03:22] jidanni commented on #4712
Current beta.

[2021-11-28 14:37] Ayan-10 commented on #4711
@nicolas-raoul Can't reproduce the issue. It's working as expected.

<img src="https://user-images.githubusercontent.com/71203077/143772326-1471898d-406d-4f99-a80d-64f920175a0d.jpg" width=300/>

[2021-11-28 22:33] nicolas-raoul commented on #4711
Thanks for trying!
Strangely I can't reproduce it either now, even though it reproduced every time last week. Not sure what happened.
I will close this issue for now.

[2021-11-28 22:33] #4711 closed

[2021-11-29 06:26] deek121477 commented on #4701
While cloning git@github.com:deek121477/apps-android-commons.git

I am getting a message of: [ permission denied(public key)
Please make sure you have the correct access rights
and the repository exists.]
So can I use the git clone command of https://github.com/deek121477/apps-android-commons.git?

[2021-11-29 06:57] nicolas-raoul commented on #4701
Have you tried all troubleshooting steps listed at https://docs.github.com/en/authentication/troubleshooting-ssh/error-permission-denied-publickey ?

[2021-11-29 07:04] deek121477 commented on #4701
Not yet. I will try

[2021-11-29 07:26] deek121477 commented on #4701
Can I use HTTPS instead of SSH?

[2021-11-29 07:45] nicolas-raoul commented on #4701
I think HTTPS would not allow you to make changes (I could be wrong).

You can start with HTTPS, though. Just make sure to make backups to not lose your changes.

[2021-11-29 09:22] deek121477 commented on #4701
Okay.I will continue with HTTPS, and make sure about my backups too.
I have gone through this article to understand difference between HTTPS and SSH.
https://ourtechroom.com/tech/https-vs-ssh-in-git/

[2021-11-30 03:01] Ayan-10 commented on #4631
@jidanni You mean this "Starting uploads notification" should be dismissable. Right?

[2021-11-30 19:17] jidanni commented on #4631
Well, in the image above, it is like we see two headlines on the same newspaper:
- Biden winning in early results
- Biden won
Well, shouldn't the old news be replaced by the new news, and not just accumulate there on the headlines?

[2021-12-02 02:20] Ayan-10 commented on #4631
Ok. I got it. Thanks for the amazing explanation.

[2021-12-02 06:05] Ayan-10 commented on #4631
Can I work on it?

[2021-12-02 07:04] Ayan-10 commented on #4606
Can't reproduce it on the latest betaDebug master.
<img src="https://user-images.githubusercontent.com/71203077/144373556-0612e56c-695c-4e91-bbdf-098070ea2a40.png" width=300/>

**Reopening**
![Screenshot_1638428023](https://user-images.githubusercontent.com/71203077/144374050-2672da5d-4ab6-44f5-aa6e-2687faea6f1b.png)

[2021-12-02 17:54] jidanni commented on #4606
OK good.

[2021-12-02 17:54] #4606 closed

[2021-12-04 04:07] Ayan-10 opened #4716 "Tapping notification (Tap to view your upload) is not working at all"
**Summary:**

I was trying to reproduce #4698 and found out that tapping on the upload state notification is not working at all.

**Steps to reproduce:**

1. Upload any image on commons
2. App will send a notification about the upload state and it's saying "Tap to view your upload"
3. Tap the notification nothing happens

What did you expect the app to do, and what did you see instead?

As it's wr

[2021-12-04 05:24] Prince-kushwaha commented on #4716
@nicolas-raoul can i work on this issue

[2021-12-04 06:27] Ayan-10 opened #4718 "After uploading by sharing an image from gallery the app again returns to Upload Activity"
**Summary:**

After uploading by sharing an image from the gallery the app returns to Upload Activity, but after uploading it should return to the contributions tab.

**Steps to reproduce:**

1. Go to phone's gallery and tap share
2. Select Commons
3. It will take you to upload activity for uploading the image
4. Fill in all the details upload the image
5. Now the app takes you to your phone's gal

[2021-12-04 07:45] nicolas-raoul commented on #4716
@Prince-kushwaha Ayan wrote "YES" at "Would you like to work on the issue?" :-)

[2021-12-04 08:31] Pratham2305 commented on #4571
Hey @nicolas-raoul, I think it would be great. Can I work on this?

[2021-12-04 08:33] Prince-kushwaha commented on #4716
@nicolas-raoul but @Ayan-10 already assigned to 3-4 issue and these issue is open  And @Ayan-10 have many pull request are in change required i think @Ayan-10 already have too many work assigned

[2021-12-04 08:34] Prince-kushwaha commented on #4716
@nicolas-raoul i am free and i like to work on this issue

[2021-12-04 10:46] nicolas-raoul commented on #4571
Hi Pratham, great to see you again!
Sure, thanks :-)

[2021-12-05 05:17] Ayan-10 commented on #4616
@nicolas-raoul I was trying to find an endpoint for posting depicts(or wikidata) but can't find any. Can you help me with that?

[2021-12-05 09:45] nicolas-raoul commented on #4616
You should be able to use the exact same API call as in the Upload Wizard. The Upload Wizard first uploads the picture, then adds depictions as a second step, so hopefully you can reuse the code of the second step :-)

[2021-12-06 13:55] Prince-kushwaha commented on #4513
@nicolas-raoul can i work on this issue

[2021-12-06 18:59] #4514 closed

[2021-12-06 19:50] #4615 closed

[2021-12-06 20:09] neslihanturan commented on #4698
I think this issue is same with #4604 (which is already solved) am I mistaken?

[2021-12-07 01:08] nicolas-raoul commented on #4513
@Prince-kushwaha  Yes thanks! The scrollbar should be visible whenever there are more items than fits. It should be visible from the beginning, even before the user starts scrolling.

[2021-12-07 08:44] nicolas-raoul opened #4722 "Unformat text pasted into depicts search field"
Steps:
1) Copy some formatted text from another app, for instance an article title in the Wikipedia app
2) Paste into the "Depicts" search field of the Upload Wizard.
3) Problem: Pasted text looks huge. It should be the same size as when typing text using the keyboard

Same for categories search.

The solution at #4514 might give clues.

![adb](https://user-images.githubusercontent.com/99590/14499

[2021-12-08 06:34] KhyatiSaini commented on #4722
Hi, I would like to work on this issue, can you please assign me?
Thanks

[2021-12-08 08:57] nicolas-raoul commented on #4722
@KhyatiSaini Sure, thanks!

[2021-12-08 10:28] nicolas-raoul commented on #4718
Good find!

Note: You wrote `Press the home button and open Commons` as step 6, but in the video it seems that you are using the `Recents` button and choosing the existing Commons window. Does the problem happen for both methods?

[2021-12-08 10:30] nicolas-raoul commented on #4712
How many seconds/minutes does it take to fail?

[2021-12-08 10:43] nicolas-raoul commented on #4709
Trying the steps, for most users I get a spinner then after a long time `Something went wrong, We could not fetch your achievements` instead of step 6.
With some other users, I get a seemingly correct information (screenshot below).
Do you get the error for all users?
Thanks for the report!
![adb](https://user-images.githubusercontent.com/99590/145194415-bb603c99-6431-4e5e-a30b-b556ad358fc9.png)

[2021-12-08 12:07] Pratham2305 commented on #4706
Hey @misaochan, I am able to reproduce this.
I think the problem is from the server side. As the API returns the JSON in an invalid format due to which all values are initialized as zero.

[2021-12-09 12:42] #4682 closed

[2021-12-09 13:55] #4696 closed

[2021-12-09 14:24] #4703 closed

[2021-12-09 23:56] #4631 closed

[2021-12-10 12:32] Ayan-10 commented on #4718
Sorry for the late response.

Yes, for any button we press to again go to commons. Commons will start with the upload form.

[2021-12-10 12:35] #4508 closed

[2021-12-11 00:31] fgnievinski opened #4726 "Error fetching nearby places"
**Summary:**

Error fetching nearby places. no such column: location_language (cod...

**Steps to reproduce:**

Click on the icon for nearby location in the bottom menu.
Wait for the GPS location to fix.
Click on the button for searching in this area.

**System logs:**

[code]

**Device and Android version:**

Google Pixel 3a
Android 12
stock version

**Commons app version:**

3.1.1~1c9267ca0

**S

[2021-12-11 18:15] Pratham2305 commented on #4215
@nicolas-raoul  @madhurgupta10  I think this issue still exists, I can reproduce it on the latest master.

[2021-12-12 01:20] nicolas-raoul opened #4728 "Suggest to users to turn on camera location."
For people whose 10 last uploads had no EXIF coordinates (latitude, longitude): show this tip activity just after they push the "Submit" button of the last step of the Upload Wizard:

Showing the tip should reset the counter, meaning the tip will appear again after 10 more consecutive pictures without location.

That's important because many camera apps have location off by default.

[2021-12-12 04:04] Ayan-10 commented on #4728
@nicolas-raoul Can I work on it?

[2021-12-12 04:54] 4D17Y4 commented on #4215
Hey @Pratham2305, the issue still exist.
I've gone through the code and I believe a commit under #4446 made some change that affected the PR fix.

Code from current master
https://github.com/commons-app/apps-android-commons/blob/c6f4649fcf1e95f84f1e58c4e8a569871af821de/app/src/main/java/fr/free/nrw/commons/explore/ExploreListRootFragment.java#L111-L117

As one can notice
`((ExploreFragment) getPar

[2021-12-12 06:06] nicolas-raoul commented on #4728
Yes, thanks!

[2021-12-12 09:21] Pratham2305 commented on #4215
@4D17Y4 Thanks for pointing out, I have checked the commit, and Yes that is the only line missing. Now it's working fine!

[2021-12-12 12:23] #4718 closed

[2021-12-12 19:17] Pratham2305 opened #4730 "Nothing happens on clicking media in the Contribution tab of User's Profile"
**Summary:**

On clicking author name, it shows Leaderboard, Achievement, and Contributions of that user, but on clicking on media in contribution tab nothing happens, I think it would be great if we can open and scroll each contribution as we did on Contribution Tab.

**Steps to reproduce:**

- Open any Media detail, Click on Author's Name
- Now switch to the contribution tab in User Profile
- Cl

[2021-12-13 12:14] #4215 closed

[2021-12-13 15:41] #3410 closed

[2021-12-14 04:58] nicolas-raoul opened #4731 "Nearby banner appearing in Media Details"
Is it intended?
That happens when opening the app and tapping a picture very fast.
In my opinion, the Nearby banner should only appear on the activity showing the list of my contributions.
![adb](https://user-images.githubusercontent.com/99590/145935682-f8d39a5c-449b-4e77-90a1-c8ade1efdf2c.png)

[2021-12-14 05:04] nicolas-raoul commented on #3591
Looks like the problem is somehow solved now.
If anyone finds this issue again, please reopen and let us know, thanks!
![adb](https://user-images.githubusercontent.com/99590/145936324-273c17b5-ffa8-4858-9432-1ec3b7e54675.png)

[2021-12-14 05:04] #3591 closed

[2021-12-14 05:11] nicolas-raoul commented on #4726
Thank you for reporting!

Did you recently switch to a different version of the app manually (for instance by installing an APK)?
Or did you just update normally using F-Droid or Play Store?

Also, did you recently change language settings of the OS or app?

Would you mind trying to erase the app's data (in Android settings)? Please let us know whether that fixes the issue or not. Thanks!

[2021-12-14 08:18] misaochan commented on #4731
I agree, the banner should only be on the main (contributions list) activity.

[2021-12-14 08:32] misaochan commented on #4706
@Pratham2305 thanks for investigating! Could you link to a sample query string and the response, please?

[2021-12-14 15:54] fgnievinski commented on #4726
yes, I had recently reconfigured Android's preferred language settings.

I only installed from the Google Play store. but I did try uninstalling and
reinstalling, which did l didn't help. I also tried the beta version, to no
avail.

but now clearing the app's storage solved the issue, thank you for your
help.

On Tue., Dec. 14, 2021, 02:11 Nicolas Raoul, ***@***.***>
wrote:

[2021-12-14 19:38] Pratham2305 commented on #4706
Query:
`https://urbanecmbot.toolforge.org/commonsmisc/feedback.py?user=Azanti`

Response:
[code]

I think the first two lines in the response are unnecessary.

Yes, but I am not sure about the server-side so should I just make changes in the above response to extract the valid JSON?

[2021-12-15 00:37] nicolas-raoul commented on #4726
Do you remember what sequence of operations led to the problem?

Or even better, would you know steps to reproduce the error?

That would help us a lot to fix the bug so that it does not happen to other people in the future :-)
Thanks a lot!

[2021-12-15 04:03] nicolas-raoul opened #4732 "Users sending feedback may not realize that it reveals the identity behind their wiki username"
Some Mediawiki contributors would be at risk if their identity is revealed.
Problem: When **WhistleblowerFromNorthKorea123** sends feedback about the app, the following is posted to the public mailing list:

Solution: I think we should **show a toast** like this when tapping "Feedback", while the email compose activity appears:

[code]

_(I just changed the group's settings so that email addresses

[2021-12-15 04:06] Ayan-10 opened #4733 "Categories should be fetch every time they are updated"
**Summary:**

Categories are being updated programmatically in the current app which sometimes leads to lag while updating recent changes on categories and depictions. Categories should be fetched every time they are getting updated. There is a TODO too in the `updateCategory()` method

**Steps to reproduce:**

Update categories of any media. Sometimes it's not showing new categories.

**Device an

[2021-12-15 08:09] misaochan commented on #4706
Yes, you can try that and post the results. If it works, please feel free to submit a PR. :)

[2021-12-15 10:32] Prince-kushwaha commented on #4731
@nicolas-raoul can i work on this issue

[2021-12-15 10:49] nicolas-raoul commented on #4731
@Prince-kushwaha Sure, thanks!

[2021-12-15 13:21] fgnievinski commented on #4726
the sequence of steps would be:
- install the Commons app
- open and close the app
- change Android language
- open the app again
- try to access the Nearby menu

On Tue., Dec. 14, 2021, 21:37 Nicolas Raoul, ***@***.***>
wrote:

[2021-12-15 14:20] nicolas-raoul commented on #4726
Strangely I could not reproduce the issue.
But please anyone else please try and let us know :-)
Thanks Felipe and all!

[2021-12-15 17:45] jidanni commented on #4712
A couple minutes I recall.
Surely "It is expected that all students drive their cars to school.
That Ralph still drives his bicycle, getting here after the gates have closed,
is his own fault."

[2021-12-15 17:53] jidanni commented on #4698
OK maybe.

[2021-12-15 17:53] #4698 closed

[2021-12-16 01:14] nicolas-raoul commented on #4712
Thanks!
With the same Internet connection (when upload fails), would you mind running https://play.google.com/store/apps/details?id=com.internet.speedtest.check.wifi.meter and posting screenshots of the results?

Since Commons' most valuable contributors (=people who send pictures from places for which Commons does not any picture yet) are precisely people who are in remote areas with low Internet

[2021-12-16 06:33] jidanni commented on #4712
Sure there is https://awik.io/simulate-slow-internet-connection-chrome-developer-tools/ but I'm not sure how realistic that is.

I'm sorry I'm on a limited data plan so can't do any of those data gobbling speed tests.

Actually all you need to do is go down into some home's basement,
or some Faraday Cage like tin shack.

Surely there is some corner of some storage room where you phone only even ha

[2021-12-16 18:37] sivaraam commented on #4732
That's a good point.

I wonder if a toast is enough for this. Shouldn't we show a warning of sorts in an dialog right after someone clicks the "Feedback" menu to ensure this isn't overlooked ? 🤔

Nice move. I could confirm that the e-mail aren't visible via the Google Groups interface. But that makes me wonder, that setting doesn't help with hiding e-mails from someone who is a member and is subsc

[2021-12-17 00:53] nicolas-raoul commented on #4732
I agree!

As an example, I just approved a feedback message about Huawei AppGallery. Would you mind letting me know whether you see the author's email address, and more generally what information you see about the author (I would check myself but as a group admin I may be seeing more than other members). Thanks a lot!

[2021-12-17 11:02] #4722 closed

[2021-12-18 10:55] Ayan-10 commented on #4539
@nicolas-raoul Because of the server-side response, We can't get the name of the instance of depicts directly from the response. It will show only the IDs. It will be better if we can directly get the name from the response. Otherwise, to implement it we have to search for the name by the ID for each item.

[2021-12-19 15:05] neslihanturan opened #4738 "Delete image from gallery after upload"
**Summary:**

We got a request from a user says

"The Nominate for deletion button is for deleting from Commons.
My request is for deleting uploaded image from my phone, so that phone space is saved once uploading is complete. Presently, I have to manually delete from phone each time."

I am not sure if this feature would be wanted from all users but lets discuss.

[2021-12-19 15:08] neslihanturan opened #4739 "Select files in offline mode and add other details while uploading"
**Summary:**

We got a request from a user says

"Please also add a select feature that allows to select the files in an offline mode and then add file details later at the time of uploading."

So you think such a feature would be helpful? Let's discuss.

[2021-12-19 15:17] sivaraam commented on #4738
I don't think everyone would want this feature either but it might certainly be a nice feature to have for someone who uses a device that has low storage or for someone who just don't want to keep stocking up images on their device. A lot of good quality images could easily eat up a lot of device storage. So, if we ever implement this we could have it as an opt-in feature.

[2021-12-19 15:22] sivaraam commented on #2012
This appears to be fixed in the latest version of the app. There's a way to open and even zoom into an images these days 🙂

[2021-12-19 15:22] #2012 closed

[2021-12-19 15:42] sivaraam commented on #2510
I think I really should've got the screenshots. The app appears to be gone from play store now. My search to find some other way to get the APK, didn't go well either. So, closing this for now. Do re-open if you find any other way to try out the app.

[2021-12-19 15:42] #2510 closed

[2021-12-19 16:52] sivaraam commented on #4732
I was able to see the both sender's name and e-mail on that one. I even see the associated Google profile photo when I view using the Gmail website. I think that should answer the question. Do let me know if you were wondering if some other information was visible or not.

So, the answer to the above question turns out to be a yes which seems a bit concerning :-(

[2021-12-20 09:08] nicolas-raoul commented on #4367
5000 installs.
Top 10 countries: Myanmar, Ethiopia, Algeria, Kenya, Nigeria, Somalia, Morocco, Cameroon, Cote d'Ivoire, DR Congo.
98% on mobile phones, the rest on tablets.
65% on Google Search, 32% on Google Display Network, 3% on YouTube.
Target cost per install (TCPA): 0.18 USD for English, 0.16 USD for French.

Installs caused by English-language ads:
![Screen Shot 2021-12-20 at 17 53 50](http

[2021-12-21 16:58] misaochan commented on #4367
That's awesome @nicolas-raoul !

I wonder if we could ask translatewiki for help with this. @Nikerabbit

[2021-12-21 17:52] misaochan commented on #4732
I think we have a couple of options:
1. We can switch to receiving feedback on our private mailing list instead (which is already used for logs and covered under the privacy policy)
2. We can use a dialog to warn the user, as suggested

[2021-12-21 20:01] Pratham2305 commented on #4543
@nicolas-raoul Can I work on this?

[2021-12-22 03:40] Ayan-10 commented on #4497
@nicolas-raoul Can I work on it?

[2021-12-22 07:41] nicolas-raoul commented on #4497
@Ayan-10 It is yours, thanks!

[2021-12-22 08:01] nicolas-raoul commented on #4367
Notes for potential translators:
- Headlines are 30 characters maximum.
- Descriptions are 90 characters maximum.
- Assets get banned if they use the word "Wikipedia" (or any other trademarked word I guess). WMF would probably be able to help with this, but it is probably not the best use of their time. So instead I used the word "Wiki", which is not too bad I think: not trademarked, shorter, and

[2021-12-22 08:02] nicolas-raoul commented on #4543
@Pratham2305 Yes thanks!

[2021-12-22 08:09] nicolas-raoul commented on #4732
Option 1 sounds like the most efficient for now. Any objection?

The email address is commons-app-android-private@googlegroups.com , it should be a fairly simple first issue :-)

[2021-12-22 08:51] #4706 closed

[2021-12-22 09:13] jidanni opened #4740 "Commons app info lists "Contacts" permission, in "Not allowed" state but it should not be shown at all"
I found out one of the optional permissions needed by this app, is Contacts.
Maybe if I turn it on, it will send messages to all my friends!?
So perhaps it isn't really needed anymore.
Or, have some explanation within the app...

[2021-12-22 09:18] jidanni opened #4741 "Mention location permission doesn't affect picture location"
In settings, when discussing location permission, perhaps also mention that it won't affect picture location. Because the app always uses the camera of the cell phone.

[2021-12-22 11:38] deek121477 commented on #4701
Actually I tried making changes in the code

[2021-12-22 13:15] #4728 closed

[2021-12-22 18:17] sivaraam commented on #4732
The only thing I'm concerned about using a private list is volunteers who might be active in the public list might not be able to help with handling / replying to feedback. To be honest, I haven't watched the public list so closely. So, if only the members of the private group handle replying to significant amount of feedback in public group, then there's nothing to worry 🙂

[2021-12-22 21:04] ThomasLatham commented on #4664
Hi, I'd really like to help out with this migration as my first open-source contribution.

I've followed the quick start guide for developers (in addition to reading the Contributing Guidelines, Developer workflow and Code Style), and Gradle has built the application successfully. Android Studio is still telling me there are errors, however, and I want to clear those up before I try writing any co

[2021-12-23 04:04] mds08011 opened #4742 "App crashes when selecting "star" in menu"
**Summary:**

Every time I navigate to the "star" icon on the bottom menu, the device crashes.  I do not remember what the star icon represents.  Please see the video I created below.

**Steps to reproduce:**

1. Open App
2. On the bottom menu with nearby places, etc, and tap the star icon
3. App crashes and asks to send logs.

**System logs:**

Logs are posted a separate comment below.

**Device

[2021-12-23 04:06] mds08011 commented on #4742
[code]

[2021-12-23 04:42] mds08011 commented on #4739
I can see the appeal of such a feature, although I have no idea how difficult it would be to implement.

I am a frequent user of the "limited connection mode". I commute to and from my work on a bus and like to pass time by adding tags/categories/etc to photos while I riding the bus and then uploading everything to Commons once I connect to Wifi at my destination.

From both the name of the featur

[2021-12-23 04:49] mds08011 commented on #4726
I am also having issues with nearby places and have not made any recent changes I can think of.

![Screenshot_20211222-204759.png](https://user-images.githubusercontent.com/8010709/147189534-bd20d4ae-8daa-41df-8711-d06c4fc2ba27.png)

[2021-12-23 08:17] #4571 closed

[2021-12-23 08:21] nicolas-raoul commented on #4726
@mds08011 If I understand correctly you have not modified any Commons app setting recently, and have not recently installed the app via APK? Would you mind posting a logcat that includes the stacktrace?

[2021-12-23 12:57] madhurgupta10 commented on #4664
@ThomasLatham Feel free to open a new issue if you need help, one or more team members will be happy to help you out :)

[2021-12-23 14:30] psh commented on #4664
@ThomasLatham if it helps - my process for the last few PR that I submitted was to search for `import kotlinx.android.synthetic` and choose a file from the list that isn't a base class of a hierarchy; right now there are a half-dozen or so files with synthetics left.  Personally, I like to be _finishing_ rather than _starting_, and since synthetics are closer to being finished, that would be where

[2021-12-23 18:24] sivaraam commented on #4732
One thing just occurred to me. While Option 1 is indeed efficient for the short term and reduces the concern a bit, we would still need Option 2 for the long term as revealing identity (even to a limited set of members) is still something we should warn the users about.

[2021-12-23 20:18] mds08011 commented on #4726
Correct, I installed from the Google Play Store at least a few months ago and do not recall changing any settings.

I can try to get those longs but it may be a while.

[2021-12-23 22:15] mds08011 commented on #4726
Actually, please disregard my previous comments. My own issue with Nearby was easily resolved after clearing the app cache and storage.

[2021-12-24 10:08] nicolas-raoul opened #4743 "Upload wizard: Depiction search broken in master"
1. Upload picture
2. At the depictions step, type `rabbit` or any other common word
3. Problem: Nothing seems to happen. No suggestions appear.

I could not spot anything special in logcat.

[2021-12-24 10:22] nicolas-raoul commented on #4743
Sorry false alert, resetting the app's data fixed the issue.

[2021-12-24 10:22] #4743 closed

[2021-12-24 11:44] nicolas-raoul commented on #4676
Trying to upload 30 pictures as a set, all failed.
When I retry a picture, I get the same kind of error:
[code]

Maybe the trailing space in the filename is the problem, I might have mistakenly typed it.

[2021-12-26 10:13] nicolas-raoul commented on #4742
Thank you for the feedback!
I believe you installed from Play Store and only updated with Play Store, right?
While this kind of error is expected for people who (like me) switch between different versions, it should never happen to people who just follow Play Store (or F-Droid) updates.

[2021-12-26 10:16] nicolas-raoul commented on #4741
The current settings wording says the the permission is needed for nearby.
Is there any UI element that kind of implies that it "affects picture location"?

[2021-12-26 10:20] nicolas-raoul commented on #4740
That's worrying, could you please post a screenshot?
Thanks for reporting!

It might be linked to closed issue #4682

[2021-12-27 00:35] jidanni commented on #4740
In Android Settings, pick Apps, then pick this app, and then look up all the permissions it uses.

[2021-12-27 00:39] jidanni commented on #4741
I'm saying that most people will think it is for picture location.
So even though it says it is for something else,
it should also mention something like _it is not for picture location too, because it isn't actually the app that takes pictures_.
That way people will be doubly clear.

[2021-12-27 02:15] nicolas-raoul commented on #4740
Below is what I see.
If you reinstall the app, is the contacts permission still on?
![adb](https://user-images.githubusercontent.com/99590/147427508-209ee365-ef40-4004-acca-ab04f129681a.png)

[2021-12-27 04:51] deek121477 commented on #4701
Can you please help me?
Understanding the code base is taking much time.

[2021-12-27 05:51] nicolas-raoul commented on #4701
Hi @deek121477,
Have you found the chain of method calls that performs the actual file upload?
Would you mind posting the list of methods here?

[2021-12-27 06:26] deek121477 commented on #4701
No.I haven't found the chain of method calls

[2021-12-27 09:31] nicolas-raoul commented on #4701
@deek121477 I would suggest running the app in debug mode from your IDE (such as Android Studio), setting breakpoints, and actually uploading a picture using the app.

[2021-12-27 16:43] jidanni commented on #4740
The Contacts permission never was on.
I am just _aghast_ that it was sitting there in the first place.

[2021-12-27 20:58] mds08011 commented on #4742
That is correct but after thinking about it more, I have a theory about what has been causing my problems. While my initial download and subsequent updates were all through the Play Store, I also changed phones in that time. I downloaded the app on my old phone and then used a USB cable to transfer data to my new phone (Google Pixel 2 to Pixel 4a). Since transferring phones, I had successfully use

[2021-12-28 08:41] nicolas-raoul commented on #4742
Let's close for now, but if anyone finds reproducible steps leading to such crashes, please comment below, thanks! 🙂

[2021-12-28 08:41] #4742 closed

[2021-12-28 11:07] nicolas-raoul commented on #4740
Indeed another app does not show the `Contacts` permission (not even disabled):
![adb](https://user-images.githubusercontent.com/99590/147559886-26cd46a8-54f8-448c-8567-b0a6fd70e5d9.png)
Here is the relevant part of our `app/src/main/AndroidManifest.xml`:
[code]
Not sure which one makes Contacts appear.

[2021-12-28 11:15] #3700 closed

[2021-12-28 13:22] Ayan-10 commented on #4497
@nicolas-raoul Can you tell me by which image I can trigger `Is this a photo of place X` this dialog.

[2021-12-28 14:50] nicolas-raoul commented on #4497
@Ayan-10 Yes: Take a picture while being at the same coordinates as a Wikidata item (example: `48.8484, 2.35926`). You can use a FakeGPS app.

[2021-12-29 14:23] nicolas-raoul commented on #1192
In order to prioritize editing features, I did some research about JPEG quality loss in popular editing apps (mostly Google Photos and Samsung Gallery), and published my findings here: https://github.com/lossless-jpg/data

In short: cropping/rotating/blurring a picture is unnecessarily **lossy even with popular apps**. 😱
That means not only lower quality but also (because lossy editors often save

[2021-12-29 14:24] jidanni commented on #4740
Maybe a previous developer just added all the permissions that were available, to make sure that everything worked.

[2021-12-30 02:38] nicolas-raoul commented on #4731
@Prince-kushwaha any progress on this? 🙂

[2021-12-30 07:05] nicolas-raoul commented on #4572
Not needed anymore as Nearby is now quite fast 🎉

[2021-12-30 07:05] #4572 closed

[2021-12-30 07:18] nicolas-raoul opened #4745 "Add bookmarked items to suggested depictions"
The app now allows the user to bookmark Wikidata items, thanks to Ayan-10.

Since bookmarked items are probably things that the user has an interest for or encounters frequently, it would be good to append them when suggesting depictions (typically at the Upload Wizard's "depicts" step).

[2021-12-30 10:31] nicolas-raoul commented on #3551
Fixed in master, thanks all! :-)

[2021-12-30 10:31] #3551 closed

[2021-12-30 12:56] Ayan-10 commented on #4745
@nicolas-raoul I would like to work on it.

[2021-12-30 14:14] nicolas-raoul commented on #2158
The app now tips the user to enabled camera location, if their last 10 uploads all lack location data _(thanks @Ayan-10 for implementing!)_.

Doing the same for these sounds doable:
- 10 last uploads are all in portrait mode
- 10 last uploads are all with zero category

About displaying general tips when idle, maybe create a new issue?

[2021-12-30 14:29] nicolas-raoul commented on #2063
The first time flow is still maybe not optimal, but I guess this issue needs an update, or maybe recreate the issue to focus on current problems? Thanks! :-)

[2021-12-30 14:38] nicolas-raoul commented on #4454
Duplicate of  #1848

[2021-12-30 14:38] #4454 closed

[2021-12-30 14:41] nicolas-raoul commented on #1848
Good news, there is now a location picker in the Upload Wizard, it is the map icon at the top of the caption/description step.

I suggest making this location picker a fully-fledged Upload Wizard step for pictures that have no location.

[2021-12-30 14:43] nicolas-raoul commented on #1559
I believe this is done? :-)
If I am mistaken, feel free to reopen.

[2021-12-30 14:43] #1559 closed

[2021-12-30 14:50] nicolas-raoul commented on #954
This has been working fine for the last few years, thanks harisankerPradeep and all! :-)

[2021-12-30 14:50] #954 closed

[2021-12-30 15:08] nicolas-raoul opened #4747 "When uploading many pictures, the top thumbnails strip do not show the current picture"
How about moving the strip so that the current picture is always towards the middle in the strip?
It would help remember what other pictures I took of the same thing, in order to write more precise captions.

When uploading without touching the strip:
![adb](https://user-images.githubusercontent.com/99590/147763449-f3db4d21-60e2-41ba-a688-f5b7270ce6aa.png)

I have to swipe the strip to reveal the

[2021-12-30 20:15] Pratham2305 commented on #4747
@nicolas-raoul Can I work on this?

[2021-12-30 22:57] NotSoImportant commented on #1848
Latest 3.1.1 release does not have it

[2021-12-30 23:04] NotSoImportant commented on #4349
Fixed / not reproduceable in 3.1.1

[2021-12-30 23:04] #4349 closed

[2021-12-31 02:35] Ayan-10 commented on #4497
@nicolas-raoul Immediate after clicking an image from the gallery with the same coordinates as a Wikidata item. The app is showing the dialog.
Can you please elaborate what do you mean by this?

[2021-12-31 02:38] Ayan-10 commented on #1848
@nicolas-raoul I would like to work on it.

[2021-12-31 04:17] nicolas-raoul commented on #4497
1. Take 2 pictures at location 48.8484, 2.35926 (using Fake GPS).
2. Select them both and start a multi-upload.
3. For the first picture, you get asked "is this a picture of ...", answer No.
4. For the second picture, the app asks again. It should "remember" and not ask again.

Same if you answer Yes at step 3, by the way.

[2021-12-31 05:43] nicolas-raoul commented on #1848
@NotSoImportant It is in master, so it will be in the next release 🙂

@Ayan-10 Thanks!

[2021-12-31 10:33] #4543 closed

[2021-12-31 12:10] NotSoImportant commented on #4347
In 3.1.1 (or with potential server changes) the situation now is worse. Upload finally **fails, but without any indication why**. After retry subsequently fails as well. When re-adding the same text and picture, but this time description not ending with a whitespace it is successful.

[2021-12-31 14:09] nicolas-raoul commented on #4676
Only the second of a 2-pics upload failed:
[code]

[2021-12-31 14:10] nicolas-raoul commented on #4347
Related: #4676

[2022-01-01 16:28] Pratham2305 commented on #53
Hey, @nicolas-raoul I would like to work on this.

[2022-01-02 00:40] nicolas-raoul commented on #53
@Pratham2305 Thanks! If you have any question or suggestion about the library and its integration please let me know :-)

[2022-01-02 04:12] nicolas-raoul commented on #53
To import the library you will have to use method 2 described here: https://stackoverflow.com/a/34329145/226958

[2022-01-02 05:45] Ayan-10 opened #4749 "Crash while clicking on hamburger icon on the bottom sheet"
**Summary:**

Crash while clicking on hamburger icon in bottom sheet

**Steps to reproduce:**

1. Open commons
2. click the hamburger icon on the bottom sheet

**System logs:**

[code]

**Device and Android version:**

Realme GT master API 30

**Commons app version:**

latest prodDebug

**Would you like to work on the issue?**

No

[2022-01-02 13:56] vivek-gite commented on #4740
`<uses-permission android:name="android.permission.GET_ACCOUNTS" />` uses groups of permissions instead of single permission when asking the user to grand them.

[2022-01-02 13:59] vivek-gite commented on #4739
@neslihanturan  @mds08011 I would like to work on this. Please assign me this issue.

[2022-01-03 00:51] nicolas-raoul commented on #53
Example usage:

`Coordinates2Country.countryQID(-23.7, 39.8)` returns 142, the [Wikidata QID number of France](https://www.wikidata.org/wiki/Q142).

[2022-01-03 10:45] nicolas-raoul commented on #53
Update: Importing the library just become much easier!
Just add `implementation("io.github.coordinates2country:coordinates2country:1.2")` to the app's `build.gradle`.

Details at https://github.com/coordinates2country/coordinates2country/blob/main/README.md#use

[2022-01-03 11:51] Pratham2305 commented on #53
On using it, I am getting this error

[code]
Maybe the `java.awt` and `javax.imageio` isn't supported on Android

[2022-01-03 12:21] nicolas-raoul commented on #53
Thank you for noticing this! I will try to fix it, feel free to do other things meanwhile.

[2022-01-04 09:48] misaochan commented on #4732
I would prefer Option 2 personally, as the people with access to the private list are mostly devs who use it to access crash reports, and I can't easily add people to the list (due to WMF's requirements - they have to sign a NDA).

[2022-01-04 10:05] nicolas-raoul commented on #4732
How about we send the technical information and message as a new section on some dedicated wiki page such as https://commons.wikimedia.org/wiki/Commons:Mobile_app/Feedback?

Merits:
- This avoids revealing the user's name, email address, Google profile pic.
- This also avoids the step where the user has their email client open and must push "Send".
- Subscribing would send Mediawiki notifications,

[2022-01-04 11:13] misaochan commented on #4732
Hmmm. I think if they are not logged in, they can still post on a wiki, but it will reveal their IP?

My main concern with this method is that we do sometimes get spam on our mailing list - not sure if that will persist if we use a wiki, but if it does it will look worse. I am open to trying it though. :)

[2022-01-04 11:24] nicolas-raoul commented on #4732
The wiki form warns them that their IP will be visible, so I don't think it is a big problem. We could also disable feedback for non-logged in users (we already disable many menu items for them).

I believe that most spam we received is posted directly by email spam campaigns, not through the app.
In other words, spammers are spamming our Google Group's email address, without having ever installed

[2022-01-04 13:15] misaochan commented on #4732
Makes sense! Happy to go with option 2 then if anyone wants to take it. I guess it is beginner-friendly, too. :)

[2022-01-05 11:33] nicolas-raoul commented on #53
Could you please try again with `implementation("io.github.coordinates2country:coordinates2country-android:1.2")`?
Thanks!

[2022-01-06 04:26] matkoniecz commented on #3898
I finally go to this, unable to really reproduce it.

Lets assume that it was fault of my phone/Android version that had buggy RecyclableView.

[2022-01-06 04:26] #3898 closed

[2022-01-06 04:30] matkoniecz opened #4750 ""Exists" should be enabled by default for map view"
**Summary:**

Filtering locations to only existing one would be much better user experience.

In general sane default are a good idea.

Looking for objects where no trace may exist anymore should be opt-in.

**Steps to reproduce:**

Install app.

Switch to map tab.

Grant location permission.

Be deluged by nonexisting objects that used to exist and can be filtered out as nonexisting.

**System lo

[2022-01-06 04:42] nicolas-raoul commented on #3898
Thank you for checking!
If you notice any problem, please do not hesitate to create another issue :-)

[2022-01-06 05:23] matkoniecz commented on #4712
I have seen it in Android Emulator (see say https://stackoverflow.com/questions/6236340/how-to-limit-speed-of-internet-connection-on-android-emulator that hopefully is not outdated)

But I expect that the main problem is not low speed but intermittency which may be harder to simulate.

[2022-01-06 05:24] matkoniecz commented on #4712
Debugging app in forest would be quite irritating and would go really slow (forest 5km away us the closest place to me that has severe connectivity issues). The same may be true for developers of this app.

[2022-01-06 12:28] GiwrgosTsifoutis commented on #4699
Hello @neslihanturan, I would like to tackle this issue. Is it still open? If not, is there an issue you would like me to help? First time helping on an OSS project.

[2022-01-06 12:48] #4747 closed

[2022-01-06 13:59] Pratham2305 commented on #53
After adding it, the Gradle build is failing. I have not made any changes in the gradle related files just added the dependency.

![Screenshot (273)](https://user-images.githubusercontent.com/54663429/148391269-8fee41f8-281e-4dfc-b0a4-4b7d75d60f29.png)

I have tried a few things but none of them helped.
Simply fixing each error could be a solution but I am not sure what is causing it, as after rem

[2022-01-06 18:58] mds08011 commented on #4739
@vivek-gite at this point, I think this issue is still just a discussion rather than a true feature/enhancement request. However, if you have specific ideas about how this could be implemented, feel free to share them!

[2022-01-07 03:24] kurtkaiser commented on #4345
Having pulled that latest and rebuilt I am no longer seeing this issue, pictured below. Does this appear to be resolved for anyone else?
![image](https://user-images.githubusercontent.com/8277340/148486445-e40f0b2f-196e-48b1-baad-693bc45af5ae.png)

[2022-01-07 04:34] nicolas-raoul commented on #4345
Thanks for coming back to this!
I am still seeing this issue on https://commons.wikimedia.org/wiki/File:July_2004,_Pays_Dogon_15.jpg that I uploaded with the app yesterday (GitHub master or super-close to it):
![adb](https://user-images.githubusercontent.com/99590/148491965-482bee2f-91bf-4f16-a7f9-51fd4888e3bf.png)

[2022-01-07 05:35] mds08011 opened #4751 "Category search is case-sensitive"
**Summary:**

It would be easier to find relevant categories if the search was not case-sensitive.  When uploading photos from my phone, I am often rushing and not always typing carefully and using proper capitalization.

**Steps to reproduce:**

1. Begin uploading photo to Commons.
2. When searching categories, use a known existing category and type it exactly (example in screenshots is "Solana B

[2022-01-07 05:43] mds08011 commented on #4751
I do not think they are related, but I had previously reported a separate category search issue: https://github.com/commons-app/apps-android-commons/issues/3384

[2022-01-07 06:36] mds08011 commented on #4750
Filtering for "Exists" by default in the Nearby Places feature seems reasonable to me.

<img src="https://user-images.githubusercontent.com/8010709/148502127-fb6d904e-6043-4bd0-a496-a4c3f49310a2.jpg" width="50%">

As an aside, matkoniecz, thank you for all your work on StreetComplete (and OSM generally) - that is a fantastic app!

[2022-01-07 21:03] GiwrgosTsifoutis commented on #4732
Hello, I would like to tackle this issue. It's my first time contributing to OSS plus contributing to OSS is an assignment formy university. If it is assigned, i woud love some recommendations of other issues that need to be fixed. Thanks.

[2022-01-08 01:47] nicolas-raoul commented on #4732
@GiwrgosTsifoutis It is yours, thanks a lot!

Your code will have to edit a wiki page. My tip is to look at the code of another feature that does the same thing: The "nominate for deletion" feature edits a wiki page to add a deletion nomination notice.

[2022-01-08 17:20] GiwrgosTsifoutis commented on #4732
Thanks for the tip nicolas. Since this is my first time using Android Studio as well could someone tell me how to run the project and help me find where the code for the "nominate for deletion" feature is located? Sorry for asking basic things. Thanks a lot!

[2022-01-09 06:36] nicolas-raoul commented on #4732
Guide: https://github.com/commons-app/commons-app-documentation/blob/master/android/Quick-start-guide-for-Developers.md

Search for "nominate for deletion" in the source code, that will give you a localization identifier. Search for that identifier and you will get the code 🙂
Then search for "nominat" and "delet" in the source code, that should get you more related classes.

[2022-01-09 11:41] GiwrgosTsifoutis commented on #4732
Thanks again @nicolas-raoul :D

[2022-01-10 14:43] GiwrgosTsifoutis commented on #4732
Hey again, I am having some trouble with android studio. It will not build and the following is displayed:

failed
The option setting 'android.enableR8=false' is deprecated.
The 'kotlin-android-extensions' Gradle plugin is deprecated. Please use this migration guide (https://goo.gle/kotlin-android-extensions-deprecation) to start working with View Binding (https://developer.android.com/topic/libra

[2022-01-10 15:16] deek121477 commented on #4701
@nicolas-raoul
I tried running in debug mode. But it runs very slow on my laptop(4GB RAM). Also setting breakpoints was a bit confusing.
Is there any resource where I can learn more about setting breakpoints?

[2022-01-10 15:37] neslihanturan commented on #4739
Thanks for your ideas @mds08011 . Yes, the issue is still being discussed @vivek-gite . I think we need more people chime in to decide such an extra feature. Based on @mds08011 's ideas something like 3 connection mode came to my mind.
- normal mode
- limited connection
- offline mode where user can collect all photos to upload later is a stack. Well obviously most of our features won't work in of

[2022-01-10 15:44] neslihanturan commented on #4699
Hi @hkimbrough22 , sorry for seeing this so late. Are you still interested? If so, at which point you are facing a problem?

[2022-01-10 15:48] neslihanturan commented on #4740
Oh, do you thing we should fix this? Even if the permission is never granted, seeing an irrelevant permission on the list may be scary for some of our users.

[2022-01-10 15:53] neslihanturan commented on #4749
Hey @Ayan-10 can you reproduce this reliably?

[2022-01-10 16:01] vivek-gite commented on #4740
@neslihanturan GET_ACCOUNTS permission, may retrieve all registered accounts and email addresses stored in Account Manager. This will help commons to autofill the password from the account manager saved on your phone.

[2022-01-10 16:08] neslihanturan commented on #4741
Hmm, I think there is no harm of more clarification in settings and maybe in the window while getting the permission?

[2022-01-10 16:29] hkimbrough22 commented on #4699
@neslihanturan I'm not really able to work on this currently. Thanks for the response!

[2022-01-11 03:12] nicolas-raoul commented on #4732
This problem is not specific to Commons, so I would suggest you try building a tutorial project, and searching the Internet for solutions to your issue. If no one on the Internet has the same problem, I suggest posting a new question on Stack Overflow. Good luck!

[2022-01-12 01:46] jidanni commented on #4740
Hmmm, https://developer.android.com/reference/android/Manifest.permission#GET_ACCOUNTS says
Protection level: **dangerous**

[2022-01-12 04:10] Ayan-10 commented on #4749
@neslihanturan Yes, It was occurring on the latest prod master. Even I have an older version (2-3 commits older than the latest) installed on my device. It's still occurring on it. But now I can't reproduce it in the latest master anymore.

[2022-01-12 08:32] neslihanturan commented on #4749
So closing it for now, feel free to reopen :)

[2022-01-12 08:32] #4749 closed

[2022-01-12 08:39] vivek-gite commented on #4740
@jidanni In Android 8.0 they introduced Autofill Framework, which does not require any type of contact permission. So, I would like to change the permissions in commons-app and add Autofill Framework.
Please assign me this issue.

[2022-01-12 08:46] nicolas-raoul commented on #4740
@vivek-gite Would you mind summarizing what the current issue is (with screenshots), and how it should be when fixed? Thanks a lot! :-)

[2022-01-12 08:52] nicolas-raoul commented on #4750
I tend to agree that `Exists` should be enabled by default.
Others might argue otherwise because non-existent places appear in a different color.

[2022-01-12 09:09] vivek-gite commented on #4740
**Summary:**
Commons-App found to have an optional permission of contacts for autofill service. But in Android 8.0 we don't require contact permission for autofill service.
 Also, https://developer.android.com/reference/android/Manifest.permission#GET_ACCOUNTS says.
**Protection level: dangerous**
I think it would be great if we remove **contact permission**  and add **Autofill Framework**.
**Step

[2022-01-12 09:25] nicolas-raoul commented on #4740
Thanks!
Please remember to test your change on various API levels we support.

[2022-01-13 06:09] vivek-gite commented on #4740
@nicolas-raoul I have made a PR. Please review it once.

[2022-01-13 15:17] ThomasLatham commented on #4664
Thank you @madhurgupta10! I'll see what I can figure out on my own, but I won't hesitate to open a new issue if I get stuck

[2022-01-14 10:44] GiwrgosTsifoutis commented on #4732
Hey i wanted to let you know that I will not be able to fix the issue and you could unassign me from the issue. Thanks a lot!

[2022-01-14 12:50] nicolas-raoul commented on #4732
Understood, thanks for letting us know!

[2022-01-14 18:50] ouroboran commented on #4751
@mds08011 @neslihanturan  Can I work on this issue?

[2022-01-15 14:09] Ayan-10 commented on #1848
@nicolas-raoul That means for those images which have no location there should be an extra step after description/caption where users are forced to pick a location using the location picker. Right?

[2022-01-15 23:54] nicolas-raoul commented on #1848
@Ayan-10 Yes, exactly! Users should have a "Skip" button in case they do not want to pick a location, though.

[2022-01-17 07:09] nicolas-raoul commented on #4751
Malcom, I believe this is similar to https://github.com/commons-app/apps-android-commons/issues/3179?
If not, please point out the differences, thanks! :-)

[2022-01-17 13:50] mds08011 commented on #4751
@nicolas-raoul  you are correct, they appear to be the same. I had overlooked it when creating this issue.

[2022-01-17 14:12] nicolas-raoul commented on #4751
No problem, thanks for caring! I believe you can close this issue?
Please do not hesitate to report other issues.

[2022-01-17 14:58] mds08011 commented on #4751
@ouroboran please see #3719 instead. Closing this duplicate issue.

[2022-01-17 14:59] #4751 closed

[2022-01-17 18:09] sivaraam commented on #3384
Yeah. I could confirm that with v3.1.1~1c9267ca0, when I search for "Ulster Bank" in the category search the corresponding category does appear to be showing up. So, closing the issue.

Feel free to re-open in case you observe this again.

[2022-01-17 18:09] #3384 closed

[2022-01-17 20:31] Pratham2305 commented on #53
@nicolas-raoul Sorry for the Delay, I have resolved the issue and created the PR now. Please Review!

[2022-01-18 03:35] Ayan-10 commented on #181
@misaochan @nicolas-raoul @neslihanturan As recently a location picker is implemented to modify coordinates of already uploaded media PR: #4418, we are using it for editing location while uploading too PR: #4475.

1. So if user doesn't want to share the exact location of any picture, user can modify it using the coordinates modifier, by this, they can put any location they want to share for that p

[2022-01-18 05:47] nicolas-raoul opened #4757 "In-app camera does not record location"
Steps to reproduce:
1. Make sure the app is able to use the GPS, for instance by opening the "Nearby" activity.
2. In the main activity, tap the "+" button then tap the camera icon
3. Take a picture, try to upload it. At the "Media details" step, the latitude/longitude button is not visible, which means that the picture is considered to have no latitude/longitude associated with it.
4. Outside the

[2022-01-18 05:51] nicolas-raoul opened #4758 ""Info" tooltip not visible in Japanese because of long label"
Steps to reproduce:
1. Switch your phone to Japanese language, or make the label in your language very long in strings XML.
2. Pretend to upload a picture
3. At the "Media details" steps, the localization for "Step 1 of 4: Media Details" is so long that the (i) tooltip button is not visible.

Maybe overflow if too long?
Or if it is only for Japanese, the label can be made shorter like `1/4: メディア詳細

[2022-01-18 17:57] Nandita-Gite commented on #4758
@nicolas-raoul i would like to work on this issue. Please assign me

[2022-01-18 18:02] vivek-gite commented on #4758
@nicolas-raoul I would like to work on this issue. Please assign me.

[2022-01-19 04:15] Ayan-10 opened #4759 "SSLHandshakeException while logging in on device with API level 19"
**Summary:**

Getting SSLHandshakeException while logging in on a device with API level 19.

**Steps to reproduce:**

Try to log in on a device with API level 19.

**System logs:**

[code]

**Device and Android version:**

Nexus 5x API level 19

**Commons app version:**

lastest master prodDebug

**Screen-shots:**

![InkedScreenshot_1642522158_LI](https://user-images.githubusercontent.com/71203077

[2022-01-19 06:25] Ayan-10 opened #4760 "Clicking the back button in Contribution Tab after uploading an image, return again to Contribution Tab"
**Summary:**

Clicking the back button in Contribution Fragment after uploading an image, return again to Contribution Fragment

**Steps to reproduce:**

How can we reproduce the issue?

1. Open commons
2. click on the + button and upload an image
3. Then you will return to Contribution Tab. Now
4. press the back button. You will again return to Contribution Tab

What did you expect the app to do,

[2022-01-19 08:10] neslihanturan commented on #4759
Similar/related issue on API19:
[code]
![image](https://user-images.githubusercontent.com/3127881/150089826-14ff903d-f1b8-4340-8231-48fef6b27c73.png)

[2022-01-19 11:28] #53 closed

[2022-01-19 13:05] nicolas-raoul commented on #4759
Anyone investigating this, could you please check from what API level it starts working correctly? Thanks!

[2022-01-19 13:06] nicolas-raoul commented on #4760
Thanks a lot Ayan for reporting the issue and being willing to work on it!

[2022-01-20 06:19] #3604 closed

[2022-01-20 06:28] Ayan-10 commented on #4495
@nicolas-raoul I mentioned some solutions of this issue in issue #181 . Can you please give your opinion there so that I can start working on both of these issues?

[2022-01-20 08:30] Ayan-10 opened #4762 "Only name of the category is showing for the categories which are linked with depicts"
**Summary:**

 Because of the server-side response, we can get only the name of the category for the categories which are linked with depicts, other information like thumbnail and description is not available in the server response. It will be very useful if we can get not only the name but also the other details of those categories which are linked with depicts. so that those details can be used

[2022-01-20 08:54] Ayan-10 commented on #1192
@nicolas-raoul I made previous year's GSoC proposal with this issue. While researching about its implementation I came across some good image transformation libraries. One of them is [uCrop](https://github.com/Yalantis/uCrop). Don't know you checked this library or not. But I know some SDK's and libraries regarding this and I can add them in https://github.com/lossless-jpg/data. I read the documen

[2022-01-20 09:25] nicolas-raoul commented on #1192
@Ayan-10

uCrop does not mention it is lossless (which always means it is lossy in my experience so far), but it is indeed worth trying by installing their sample app https://play.google.com/store/apps/details?id=com.yalantis.ucrop.sample

1. To determine whether a crop was lossless or not, please follow steps 1, 2, 4, 6 of https://github.com/lossless-jpg/data#methodology
2. To determine whether E

[2022-01-20 11:14] nicolas-raoul commented on #181
Allowing the user to either:

- Modify the picture's location using the location picker UI
- Completely remove the picture's location

... would indeed be enough, I think.

I suggest this workflow:
- If the pic has no coordinates: Suggest to the user to pick coordinates and open the location picker. _(you have implemented this part already)_
- If the pic has coordinates too close to home: Tell the

[2022-01-20 12:34] Ayan-10 commented on #1192
@nicolas-raoul Okay got it. I will check the libraries that I know. The playstore link of uCrop seems not working.

1. I already read 1, 2, 4, 5, 6 steps. I was asking that after the 6th step when we get an image for each transformation from https://online-image-comparison.com which you are saving with the `_comparison` suffix. By that `_comparison` suffix image how should I judge whether the imag

[2022-01-20 12:38] nicolas-raoul commented on #1192
@Ayan-10 Ah sorry! If the comparison image has any red pixel, then the transformation was lossy.

[2022-01-20 12:59] Ayan-10 commented on #181
@nicolas-raoul So that means I have to implement a button in the location picker for removing the coordinates from UploadItem and another thing I think we don't know the user's home location, so we have to ask for it to the user. Is that ok?

And also if we already know the user's home location. why not automatically reduce the precision no matter what user does after seeing `This picture's coordi

[2022-01-20 14:34] #4497 closed

[2022-01-22 09:01] nicolas-raoul opened #4764 "GSoC 2022: Improve the custom picture selector"
Students interested in GSoC 2022, welcome! Please read [the instructions to apply](https://github.com/commons-app/commons-app-documentation/blob/master/android/Students.md).
The set of enhancements below constitutes the proposed task that the chosen student will implement during GSoC 2022.

---

The custom picture selector appears when the user taps the `+` then taps the third button (at the botto

[2022-01-23 06:37] Rishavgupta12345 commented on #4764
Hi I am new to contribution , I am targeting GSOC 2022 and so I would like to work on this issue , IT would be great if you guide me a way to kick start working on  this issue

[2022-01-23 06:53] nicolas-raoul commented on #4764
@Rishavgupta12345 Welcome! Sure, here is the guide that should contain everything to get started: https://github.com/commons-app/commons-app-documentation/blob/master/android/Students.md :-)

[2022-01-23 07:18] Rishavgupta12345 commented on #4679
I would like to work on this issue PLease assign me

[2022-01-23 10:26] sivaraam commented on #4728
This makes me wonder. Wouldn't it be nice to have a way to turn off the suggestion for someone who is not in a situation to upload images with location? Some kind of a "Don't show again" option in the dialog.

I'm asking because there might be legitimate cases where a user cannot upload an image without location. For instance, there's a possibility for their device GPS to not work properly. I supp

[2022-01-23 10:29] sivaraam commented on #4757
I could confirm that the in-app shots don't appear to have any location associated with them.

Just for the note to anyone who picks this up, we need to ensure the app doesn't accidentally upload in-app camera images with location when the user has turned it off by disabling "Location" option via Settings > Manage EXIF Tags.

[2022-01-23 10:34] nicolas-raoul commented on #4728
I am actually uploading a lot of my old digicam pictures (without location) so I get the popup from time to time, personally I don't find it annoying :-) I believe the high advantages of having coordinates justifies insisting a bit.

[2022-01-23 10:58] sivaraam commented on #4759
I tested on a API 22 device and it works fine.

I think this issue is related to WMF wikis requiring TLS 1.2 these days. See [ [ref 1](https://phabricator.wikimedia.org/T266866#6922639), [ [ref 2](https://www.mediawiki.org/wiki/Compatibility#Browser_support_matrix) ]. They do indicated that 4.3+ (that includes API 19) should be supported. I wouldn't be surprised if some 4.4 (API 19) devices also b

[2022-01-23 11:06] sivaraam commented on #4728
Understandable. I just feel us showing the suggestion pop-up is the right level of nudge for users. Providing no way to stop the pop-up even when its not helpful might come out badly, I wonder.

[2022-01-23 11:21] sivaraam commented on #3732
@Ayan-10 Just trying to figure out what the precise problem you're observing is. Do you see the "Search this area" button when you choose a particular location in the map? If you do see it, do you see no pins even when you zoom to a particular location and use "Search this area" button ?

I'm asking this as Nearby would likely do nothing by default without the location permission when you don't us

[2022-01-23 11:54] sivaraam opened #4765 "Nearby screen flashes in a particular case when denying permission"
**Summary:**

When the location permission is denied for the app in a specific way the app screen keeps flashing with the "Requesting Location Permission" dialog being visible.

**Steps to reproduce:**
1. Ensure the device's location is turned off
1. Use a fresh installation of the app
2. Log-in to the app
3. Tap on "Nearby".
4. You'll see the location permission request
5. Tap **outside** the per

[2022-01-23 11:55] sivaraam commented on #2063
You're right. A major part of this issue appears stale. I observed a new issue for which I've filed #4765.

[2022-01-23 11:55] #2063 closed

[2022-01-23 14:18] sivaraam commented on #4679
Hi @Rishavgupta12345 ! We [usually assign 'enhancements'](https://github.com/commons-app/commons-app-documentation/blob/master/android/Volunteers-welcome!.md#developers) only to contributors with more than 5 merged pull requests. You take a look at issues [tagged with 'good first issue'](https://github.com/commons-app/apps-android-commons/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%2

[2022-01-23 18:39] Ayan-10 commented on #3732
@sivaraam It seems **some of the issues** that I mentioned here are not occurring now. You can check [this comment](https://github.com/commons-app/apps-android-commons/issues/3732#issuecomment-913082506) where I mentioned the issues that were occurring at that time and way of reproducing them in detail.

In the current master, "the nearby tab is not working at all without permission and the spinne

[2022-01-23 19:33] Pratham2305 commented on #4757
@nicolas-raoul, Can I look into this?

[2022-01-24 00:40] nicolas-raoul commented on #4757
@Pratham2305 Yes thanks! 🙂

[2022-01-24 06:48] Rishavgupta12345 commented on #4471
I would like to work on this issue PLease assign me

[2022-01-24 16:13] Ayan-10 commented on #4762
@nicolas-raoul I was looking into the way of getting thumbnail and description for the categories inside DepictItem. It seems we can get the filename from the entity by P18 property for most of the entity and from the filename we can get the thumbnail. But when I searched for [L-Alanine](https://www.wikidata.org/wiki/Q218642). The P18 property I not available for this entity however we can find th

[2022-01-24 17:13] sivaraam commented on #4701
@deek121477 In case you're still looking for information about breakpoints, you could take a look at this resource: [Breakpoints - Debug your app  |  Android Developers](https://developer.android.com/studio/debug/#breakPoints). You could also read the full guide here: [Debug your app  |  Android Developers](https://developer.android.com/studio/debug/)

[2022-01-24 17:20] sivaraam commented on #3732
Yeah. With the steps you mention, I do reproduce the issue where the "Search this area" button is not being shown. This is with 3.1.1~1c9267ca0.

So, looks like the app works fine when the location permission itself is not available but fails to show the "Search this area" button if the permission is available but GPS is turned off. Nice catch.

[2022-01-25 05:55] nicolas-raoul commented on #4762
Thank you for the investigation! It is OK to not show any thumbnail when the item does not have a P18.

[2022-01-25 12:38] #4760 closed

[2022-01-25 14:34] Rishavgupta12345 commented on #4709
I think this issue isn't present anymore , I am not gettin any bug here and its working perfectly . PLEASE verify and close this issue if needed

[2022-01-25 14:39] Rishavgupta12345 commented on #4594
I am un able to replicate this issue . when I am clicking "DENY" app is not crashing . It just nor using the location service but working perfectly in all other ways . MAYBE THIS ISSUE IS ALREADY solved by another issue . PLEASE  VERIFY

[2022-01-25 14:42] Rishavgupta12345 commented on #4498
APP has many changes now, and this issue is pretty old moreover, it's not an issue anymore. ITS ALREADY SOLVED

[2022-01-25 14:43] neslihanturan commented on #4498
Thanks for letting us know @Rishavgupta12345 :)

[2022-01-25 14:43] #4498 closed

[2022-01-25 18:03] ratneshnavlakhe commented on #4732
Hi @nicolas-raoul please let me know if this issue can be picked, I would like to look into this.

[2022-01-25 20:45] Pratham2305 commented on #4757
I have noticed, this only happens when the app's location permission is not available otherwise it is working as expected when both commons and camera app have location permission.

[2022-01-26 06:31] nicolas-raoul commented on #4757
Interesting!
That presumably happens when the user has no interest in Nearby.
So maybe ask for user permission when starting the in-app camera? Preferably with a message such as:

[2022-01-26 06:43] nicolas-raoul commented on #4709
It seems indeed that no popup (mentioned by step 6) appears.
Thanks @Rishavgupta12345 for letting us know about this! :-)

[2022-01-26 06:43] #4709 closed

[2022-01-26 06:52] nicolas-raoul opened #4767 "Something went wrong, We could not fetch your achievements"
1. Restart the app
2. Click on 3 lines button on the bottom-right
3. Select the "user name"
4. Go to leaderboards tab
5. Click on any user.
6. Sometimes it works, but most often the spinner spins for a few minutes, then a network error appears: `Something went wrong, We could not fetch your achievements`

Related: #2691

[2022-01-26 06:53] Rishavgupta12345 commented on #4709
similarly, I made 2 other issues to be close and many more to go. Will these be considered as my contribution ?

[2022-01-26 06:55] nicolas-raoul commented on #4709
These contributions are a good complement to your pull request, yes, so please mention them in your proposal. :-)

[2022-01-26 06:57] nicolas-raoul commented on #4732
@ratneshnavlakhe It is yours, thanks!

[2022-01-26 07:05] sivaraam commented on #4757
Interesting indeed. For some reason, this doesn't appear to be the case at least in my device. i.e., the in-app camera doesn't seem to be capturing the location even when both the app and camera app have the location permission granted and GPS is turned one. Not sure how that's the case. Anyways, let me know in case any specific information is needed to debug this. I'll be happy to share it.

[2022-01-26 07:19] Ayan-10 commented on #3732
@sivaraam @nicolas-raoul I have fixed the issue. Can I make the PR?

[2022-01-26 07:31] sivaraam opened #4768 "An issue form instead of a basic template"
I happened to come across the [Mozilla Fenix issue creation page](https://github.com/mozilla-mobile/fenix/issues/new/choose). It has several types of issues that a user could choose from. Further, the [bug reporting page](https://github.com/mozilla-mobile/fenix/issues/new?assignees=&labels=%F0%9F%90%9E+bug%2Cneeds%3Atriage&template=---bug-report.yml&title=%5BBug%5D%3A+) is an actual form rather th

[2022-01-26 08:17] nicolas-raoul commented on #3732
@Pratham2305 Are you still working on this? I see you are currently assigned. Thanks! :-)

[2022-01-26 09:56] ratneshnavlakhe commented on #4732
Thanks, @nicolas-raoul I have some questions about showing the dialog.
1. Is the dialog cancellable via the back button?
2. Should the dialog have only one positive button 'ok' button ?
3. Should I use this message text `Please remove from this email any information that you are not comfortable sharing publicly.` for the dialog?
4. Should I add this message in string resource? If so, do we need to

[2022-01-26 13:32] Rishavgupta12345 commented on #4726
this issue is already solved by pull request #4742 , Please close this issue.

[2022-01-26 13:39] Rishavgupta12345 commented on #4465
nearby works perfectly now. It's an old issue and may be solved by any other issue. Please review and close this issue @nicolas-raoul

[2022-01-26 13:42] Rishavgupta12345 commented on #4443
nearby works perfectly now. It's an old issue and may be solved by any other issue. Please review and close this issue @nicolas-raoul

[2022-01-26 13:56] Rishavgupta12345 commented on #4459
Categories work perfectly now. It's an old issue and already solved by the pull request #4474. Please review and close this issue

[2022-01-26 14:23] Ayan-10 commented on #4762
@nicolas-raoul One DepictedItem can be associated with more than one category. In that case, using P18 image to every associated category, will not be the same as the real thumbnail of every category. I was trying to find a way for this scenario. Can you suggest to me a wikidata with which more than one commons categories associated? I was trying to find one but can't find any.

[2022-01-26 18:50] Pratham2305 commented on #4757
Yes, that would be great!

@sivaraam Can you just confirm that your camera is recording location when used normally?. Thanks!

[2022-01-26 20:46] madhurgupta10 opened #4770 "Cache dependencies to speed up build on CI"
**Summary:**
For most of our builds, we don't update dependencies so it makes sense to cache them instead of downloading them every time, this will speed up the builds and save the free build quota provided for us.

Link for help
https://github.com/actions/cache

**Would you like to work on this issue?**
Yes

[2022-01-27 04:25] nicolas-raoul commented on #3732
@Pratham2305 Thanks for your sportsmanship!

[2022-01-27 06:46] Rishavgupta12345 commented on #66
This issue is pretty old and irrelevant now. The app has gone through many changes and this is no longer an issue. please verify and close this issue @nicolas-raoul

[2022-01-27 06:53] Rishavgupta12345 commented on #102
is this issue still needed to be done? I don't find it relevant anymore.

[2022-01-27 07:03] Rishavgupta12345 commented on #953
I don't think this issue is relevant now. Please review and close this issue

[2022-01-27 07:08] Rishavgupta12345 commented on #778
I want to work on this issue please assign me 🙂

[2022-01-27 10:30] nicolas-raoul commented on #953
@Rishavgupta12345 This issue is very relevant, we still need this feature.

[2022-01-27 10:32] nicolas-raoul commented on #102
@Rishavgupta12345 Still relevant, still needed.

[2022-01-27 10:32] nicolas-raoul commented on #66
@Rishavgupta12345  Still relevant, still needed.

[2022-01-27 10:39] nicolas-raoul commented on #4459
Indeed. If anyone still experiences this, please reopen, thanks!

[2022-01-27 10:39] #4459 closed

[2022-01-27 10:40] nicolas-raoul commented on #4443
Indeed. If anyone still experiences this, please reopen, thanks!

[2022-01-27 10:40] #4443 closed

[2022-01-27 10:42] nicolas-raoul commented on #4465
@Rishavgupta12345 Have you read the issue carefully? This is about the current location tracking, which is still laggy in my experience.

[2022-01-27 10:43] nicolas-raoul commented on #4594
If anyone can reproduce this issue, please reopen, thanks! :-)

[2022-01-27 10:43] #4594 closed

[2022-01-27 10:47] nicolas-raoul commented on #4726
@Rishavgupta12345 Not sure what you are talking about, #4742 is an issue, with no associated PR. Let's keep this open and close if nobody experiences the same during the next beta.

[2022-01-27 11:04] nicolas-raoul commented on #4758
In the description above I wrote `if it is only for Japanese`, so the first step would be to gather the lengths of the string in all other languages, to see whether Japanese is an outlier (while keeping in mind that character width also has an impact).

[2022-01-27 14:33] Rishavgupta12345 commented on #4726
YES I mentioned the pull request wrong but actually, this issue is not reproducible

[2022-01-27 18:09] sivaraam commented on #4757
Yes, it does.

[2022-01-28 02:29] nicolas-raoul commented on #66
@Rishavgupta12345 Thanks! :-)

[2022-01-29 11:09] nicolas-raoul commented on #4732
@misaochan

Sorry, my understanding was that we were going with posting to a wiki page as described at https://github.com/commons-app/apps-android-commons/issues/4732#issuecomment-1004674506 , but now that I re-read your subsequent comment https://github.com/commons-app/apps-android-commons/issues/4732#issuecomment-1004801322 I am troubled by your words "_option 2_". Do you mean implementing a pop

[2022-01-31 03:04] nicolas-raoul opened #4774 "Leaderboard: Taping on my avatar should open tip popup explaining how to change it"
When tapping the round shown by the red arrow:
![Screenshot_20220131-120111_Commons](https://user-images.githubusercontent.com/99590/151733378-e19d1c6c-90c9-4622-b405-f5a3a961b0a0.jpg)

... show this tooltip:

[2022-01-31 04:06] misaochan commented on #4732
@nicolas-raoul sorry, my brain was having an off-day! I meant switching to a wiki indeed, however IMO there is no harm in having both, and certainly having a dialog before we can implement the switch is a good stopgap. We can just modify the dialog's text when wiki posting is implemented.

Please feel free to merge the PR after the changes that you requested are made. :)

[2022-01-31 04:10] misaochan commented on #953
Hi @Rishavgupta12345 , could you elaborate on why you feel this issue is irrelevant now?

[2022-01-31 14:16] #4732 closed

[2022-02-01 01:20] nicolas-raoul opened #4776 "Peer review: Do not ask to review categories if there are none"
If a picture has no category, then we already know the answer: The picture is not well-categorized.
In such cases, we could skip that step.
Even if some bots routinely flag all non-categorized pictures, our mobile peer-review still makes sense for other aspects of the pictures (encyclopedic or not, relevant categories or not, etc).

[2022-02-01 01:58] nicolas-raoul opened #4777 "When adding coordinates, use smarter default position than San Francisco"
Steps to reproduce:
1. Find any picture that has no coordinates
2. Press the pencil icon to add new coordinates
3. You now have a map where you can choose the coordinates. Problem: This map is centered on San Francisco.

The location should be the last used location. Factorize with `UploadMediaDetailFragment.LAST_LOCATION`

[2022-02-01 02:52] nicolas-raoul opened #4779 "Send in-app feedback to wiki page instead of email"
Currently, the `Feedback` button (in the app's main menu) opens an email editor.
For privacy reasons, let's switch to a form that posts the same information to the top of https://commons.wikimedia.org/wiki/Commons:Mobile_app/Feedback

For logged-in users:

1. Show a form:
 - 4-lines high text area where the user must write a custom message.
 - Checkboxes for each line of debug information (for ins

[2022-02-01 02:52] nicolas-raoul commented on #4732
Follow-up: #4779

[2022-02-01 05:27] madhurgupta10 opened #4781 "Cancel previous ongoing runs in the PR/branch when you push new commits"
**Summary:**
It makes sense to only build the latest commit and cancel any previous ongoing builds when you push new commits to a PR or branch. This will ensure that we don't run out of free build mins.

Link for help https://stackoverflow.com/questions/66335225/how-to-cancel-previous-runs-in-the-pr-when-you-push-new-commitsupdate-the-curre

**Would you like to work on the issue?**
No

[2022-02-01 05:36] madhurgupta10 opened #4782 "Move all model classes into a single package"
**Summary:**
Model classes should be excluded from testing so we need to add them to the `excludes` in https://github.com/commons-app/apps-android-commons/blob/master/jacoco.gradle

Currently, these classes are distributed in various packages, adding them into a single package will make it much easier to achieve this task.

**Would you like to work on the issue?**
No

[2022-02-01 06:46] RishiKumarRay commented on #4781
@madhurgupta10 can you please review if my approach is right?

[2022-02-01 07:46] #4781 closed

[2022-02-01 13:07] ratneshnavlakhe commented on #4774
Hi, @nicolas-raoul I would like to look into this. Can you assign me?

[2022-02-01 13:53] nicolas-raoul commented on #4774
@ratneshnavlakhe It is yours, thanks! :-)

[2022-02-01 14:51] brierjon commented on #181
@nicolas-raoul
With the objectives of providing an uploader control over the privacy of their sensitive locations and trying to keep value for Commons. We should not be creating a tool that introduces error even with good intentions.
From the way I'm reading this, the options should be:
-     Maintain coordinates as recorded by EXIF - maintains the accuracy as captured when photographed. (can be m

[2022-02-01 18:22] ratneshnavlakhe commented on #4774
Hi @nicolas-raoul there seems to be some issue with loading leader board, getting this stack trace on logcat.

`2022-02-01 23:49:51.214 8161-8161/fr.free.nrw.commons.beta E/AchievementsFragment: Fetching achievements statistics failed
    java.lang.StringIndexOutOfBoundsException: length=31; index=-1
        at java.lang.String.substring(String.java:1935)
        at fr.free.nrw.commons.mwapi.OkHtt

[2022-02-02 01:14] nicolas-raoul commented on #4774
@ratneshnavlakhe Can you reproduce this problem on the master branch? If yes, please create a new GitHub issue, thanks for finding this! :-)

[2022-02-02 06:17] misaochan commented on #4774
@ratneshnavlakhe are you running betaDebug build variant (as it seems from the logs)? Please test the leaderboard with prodDebug instead, thanks. :)

[2022-02-02 06:23] Rishavgupta12345 commented on #66
@nicolas-raoul  I am unable to find the activity/fragment which has the scrren A in https://github.com/commons-app/apps-android-commons/issues/66#issuecomment-404389721 , please help me

[2022-02-02 06:28] nicolas-raoul commented on #66
@Rishavgupta12345 It is the category selection activity, it looks like this now:
![adb](https://user-images.githubusercontent.com/99590/152104937-50991ec0-2104-49dc-8c34-81487e13ec50.png)

[2022-02-02 06:37] Rishavgupta12345 commented on #66
I think you are referring to the wrong category selection, the one you are referring is present while uploading a new photo, BUT the one this issue is talking about is:- when you go to explore option and try to search a picture , check the issue from beginning

[2022-02-02 07:15] nicolas-raoul commented on #66
@Rishavgupta12345 This issue is about being able to find and select parent and children categories **when uploading** a picture. I updated the title to make this clearer.

[2022-02-02 07:54] madhurgupta10 commented on #4774
Maybe also adding a toast message saying "Leaderboard is only available on prod version" could be another good first issue.

[2022-02-02 08:40] nicolas-raoul opened #4784 ""This feature is only available on the prod flavor.""
Several features of the app are broken when you try to use them with the [beta flavor](https://github.com/commons-app/commons-app-documentation/blob/master/android/Quick-start-guide-for-Developers.md#building-the-source-code).
For instance, the [leaderboard throws an exception when running the beta flavor](https://github.com/commons-app/apps-android-commons/issues/4774#issuecomment-1027151359). It

[2022-02-02 08:41] nicolas-raoul commented on #4774
@madhurgupta10 Great idea, issue created: #4784

[2022-02-02 10:32] madhurgupta10 commented on #4647
Sadly this issue has been reappeared

[code]

Maybe a good solution would be removing the deprecated dependency altogether from the Gradle file.

[2022-02-02 11:43] BashCache commented on #4647
Hello @madhurgupta10 ,
Sure, I will work on this and make the fixes.

[2022-02-02 12:54] ratneshnavlakhe commented on #4774
Yeah makes @madhurgupta10 to add a toast if the feature is unavailable for other variants.
Thanks, @misaochan will try it out with prodDebug build.

[2022-02-02 13:12] Rishavgupta12345 commented on #66
this isn't a good first issue any more SO I think i should not work on it

[2022-02-02 13:48] nicolas-raoul commented on #66
@Rishavgupta12345  I indeed think it is a bit hard for a first issue. But since it was marked as a good first issue when you started working on it, we let you choose whether you want to work on it or not. :-)

[2022-02-03 05:46] Rishavgupta12345 commented on #4784
I didn't understand the issue please explain a bit more

[2022-02-03 05:52] Rishavgupta12345 commented on #4782
@madhurgupta10  can you expain about this issue a bit more , I am new to contribution

[2022-02-03 05:52] #4770 closed

[2022-02-03 05:57] Rishavgupta12345 commented on #3066
@nicolas-raoul  this is a very old issue and we are using different dependencies now and this issue is not relevant any more

[2022-02-03 06:04] nicolas-raoul commented on #3066
Indeed, I see that we are already at `mapbox-android-sdk:9.1.0`.
Thanks @Rishavgupta12345 !

[2022-02-03 06:04] #3066 closed

[2022-02-03 06:08] Rishavgupta12345 commented on #4767
I am not able te replicate this issue , I tried 20 times and its working perfectly

[2022-02-03 06:11] nicolas-raoul commented on #4784
@Rishavgupta12345 I added more details. To understand it, please build both flavors and test the leaderboard with both.

[2022-02-03 06:14] nicolas-raoul commented on #4767
I am able to reproduce right now (at the first try) on a very fast WiFi network (when posting the issue above I was on fast 4G).

[2022-02-03 06:16] madhurgupta10 commented on #4782
Hi @Rishavgupta12345 you need to look for all the model classes, sealed, enums, etc. both in java and kotlin in all packages and move them into a single package called **models**. If you are unfamiliar with model classes checkout this link - https://stackoverflow.com/questions/36031209/model-class-and-pojo-class#:~:text=A%20model%20class%20is%20typically,model%20java%20classes%20for%20JSON%20.

A

[2022-02-03 12:40] madhurgupta10 opened #4786 "Fix warnings for ImageFileLoader.kt"
**Summary:**
[code]

**Would you like to work on the issue?**
No

[2022-02-03 12:46] madhurgupta10 opened #4787 "Moving to JDK 11?"
**Summary:**
I see this warning in the console, so maybe we should consider moving to JDK 11+

[code]

**Would you like to work on the issue?**
No

[2022-02-03 12:48] madhurgupta10 commented on #4768
@sivaraam good thing to do IMO.

We could also have one with "Feedback" and "Need Help"?

[2022-02-03 14:29] Rishavgupta12345 commented on #4786
I would like to work on this issue please assgn me

[2022-02-04 06:48] misaochan commented on #4787
Good idea. I would request that the person submitting the PR also do a brief test of the app's functionality and report on that in the PR.

[2022-02-04 06:57] misaochan commented on #4768
I agree, this would be fantastic. :) I wonder how they convert templates into actual forms? Is there a plugin needed?

- Bug reports: I guess the current template is mostly suited to "bug reports", so we can just convert that into a form (if possible).
- Feature requests: Mozilla's version looks good
- Feedback: Commons app version, Wikimedia username (optional), device
- Need help: Not sure about

[2022-02-04 07:08] Rishavgupta12345 commented on #4765
It's a problem that changes from device to device and is created by the system launcher of the device itself. My MIUI12 version of android works perfectly and doesn't cause any issue here

[2022-02-04 07:09] madhurgupta10 commented on #4768
Here is a helpful link - https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/configuring-issue-templates-for-your-repository

Maybe "Question" instead of "Nead Help", if someone needs any help with the project or have any general question to ask.

[2022-02-04 07:16] Rishavgupta12345 commented on #4348
Yes, pausing/canceling an upload while it is still uploading is not working, we have to add a proper stopping and resuming upload feature

I would like to work on this issue please assign me @nicolas-raoul

[2022-02-04 07:21] nicolas-raoul commented on #4348
Oops sorry 4D17Y4 for missing this one!
@Rishavgupta12345 It is yours, thanks :-)

[2022-02-04 09:46] nicolas-raoul opened #4790 "Upload while filling metadata"
Currently, even if I spend a long time filling caption/description/depictions/categories/license, actual upload of the picture only starts after I validate the last step (license).

How about starting the upload (as a stash) as soon as the caption/description step appears? Did not we have something like this at some point?

Low priority as we should first make sure upload is reliable in the first

[2022-02-04 17:37] sivaraam commented on #4765
I'm confused. This bug speaks about screen flashing that happens with a sequence of actions that are all within the app. How does the system launcher come into picture here? 🤔

[2022-02-05 00:56] #1848 closed

[2022-02-05 10:15] nicolas-raoul opened #4793 ""No location found" popup: Remove the need to tap "Next" again"
After tapping "Next", the "No location found" popup appears.

Problem: After choosing a location, I am still at the caption/description step, so I have to tap "Next" again.

Goal: After choosing a location, I should be sent directly to the next step (depictions, or next media in the case of a multi-upload).

[2022-02-05 10:16] nicolas-raoul opened #4794 ""No location found" popup location editor: Also remember zoom level"
In addition to the longitude,latitude, it would be great if the zoom level could be remembered.

[2022-02-05 10:52] nicolas-raoul opened #4795 "Make caption field monoline (Upload Wizard)"
A caption must not be multiline.

[2022-02-05 15:46] #3732 closed

[2022-02-06 01:31] nicolas-raoul opened #4797 "Peer review: Add one more choice to the list"
peer review feature:

No FoP in copyright-related reasons for deletion (the second question). This is one of the most common reason for deletion, it should be in the list. Proposed message: "There is no freedom of panorama in the country where this picture was taken, so some installations (even permanently displayed in public spaces) can not be freely photographed and shared."

[2022-02-06 08:14] strainu commented on #4797
![Screenshot_20220206-101156](https://user-images.githubusercontent.com/1571400/152672679-1c694eec-8a43-42ed-8152-77ee6de3f5d5.jpg)

Here is the screen where I believe "No FoP" should appear. Considering the size, I believe something like "Breach of Freedom of Panorama rules" would be OK as a text. If you can add links, you cen link Freedom of Panorama to C:FOP

[2022-02-06 08:18] strainu commented on #4797
And [here](https://commons.wikimedia.org/w/index.php?title=Commons:Deletion_requests/File:Hexagone-Balard_@_Paris_(23766157612).jpg&oldid=627919512) is the incomplete deletion request. It reads "Because it is ~~~~" in Romanian. Maybe you should use the non-localized version for deletion proposals?

[2022-02-07 05:04] Ayan-10 commented on #4539
@nicolas-raoul Can I work on it?

[2022-02-07 08:21] nicolas-raoul commented on #4539
@Ayan-10 It is yours, thanks! :-)

[2022-02-07 08:34] misaochan commented on #4795
Hi @nicolas-raoul , do you mean we should restrict the text field?

[2022-02-07 10:35] nicolas-raoul commented on #4795
Yes, exactly, in the UI :-)

Multiline descriptions might be acceptable, but captions should be a single short line.

[2022-02-07 11:09] nicolas-raoul opened #4800 "Deletion requests: Post in English rather than in the flagger's locale"
An app user (using the Romanian locale on their phone) flagged a picture for deletion.
The deletion requests was posted in Romanian:

https://commons.wikimedia.org/w/index.php?title=File%3AHexagone-Balard_%40_Paris_%2823766157612%29.jpg&type=revision&diff=627919510&oldid=627919420

The picture's uploader probably does not understand Romanian.
Even though we can not expect everyone to understand En

[2022-02-07 11:21] nicolas-raoul opened #4801 "Peer rerview deletion requests: Include a link to the policy page"
People to whom deletion requests are sent might not be able to understand the language in which the request in written.

So, we should include a link to the policy page, so that they get at least an idea of what it is about.
Policy pages for each deletion reason:

- Press photo: https://commons.wikimedia.org/wiki/Commons:Fair_use
- Random photo from the Internet: https://commons.wikimedia.org/wiki

[2022-02-07 14:02] nicolas-raoul commented on #4797
Thanks! I created more issues based on your feedback, feel free to subscribe to them too and add more information:
https://github.com/commons-app/apps-android-commons/issues/4800
https://github.com/commons-app/apps-android-commons/issues/4801

[2022-02-07 14:03] #4786 closed

[2022-02-07 14:34] Rishavgupta12345 commented on #4797
I would like to work on this but I am not able to understand this issue properly. Can you please elaborate and tell me the meaning of FoP

[2022-02-07 14:36] Rishavgupta12345 commented on #4787
Changing the entire JDK is a big deal and should require a lot of file changes , is this really a good first issue

[2022-02-07 14:55] strainu commented on #4797
@Rishavgupta12345 you have a more detailed explanation below the picture. You need to add another entry in the list, with the text "Breach of Freedom of Panorama rules" and do not create the request If no option is chosen.

Given that I expect other people to ask for other options, maybe using a dropdown instead of checkboxes would be a good idea? @nicolas-raoul any thoughts on replacing the check

[2022-02-07 15:01] strainu commented on #4800
I'm bikeshedding a little here, but I wonder what would happen if we published the text in **all** the languages instead? It would probably mean a lot of text to be sent by the phone, i.e. data usage issues. Could we perhaps create an i18n template on Commons and use that in order to prevent the app from sending the text? How complicated would it be to update the translations then?

[2022-02-08 01:54] nicolas-raoul commented on #4797
Maybe just add another checkbox for now? If we run into space problem, then switching to a dropdown can definitely be considered (as another GitHub issue).

In parallel, it would indeed be good to test what happens when selecting several options, and if the result is bad then propose a change as another issue. Thanks again! :-)

[2022-02-08 02:00] nicolas-raoul commented on #4800
The template idea is great, as it would allow us to just post a short string (with parameters) and the exact wording would be easy to enhance by any wiki contributor in real-time (without having to wait for us to release a new version of the app, which does not happen often).

@strainu Would you mind creating a prototype of the wiki template and its parameter? Parameters would probably include the

[2022-02-08 04:45] nicolas-raoul commented on #4762
@Ayan-10  Could you please post here an example of the existing HTTP request and response that retrieves the description and thumbnail when performing a category search?

From that, we can hopefully find out what HTTP request to make to get the description and thumbnail of 1 particular category.

[2022-02-08 06:09] Ayan-10 commented on #4762
@nicolas-raoul The problem is with commons categories that are associated with a DepictedItem. So I think category search HTTP requests will not give any way to find the description and thumbnail of 1 particular category which is associated with a Wikidata. As we have to retrieve the categories from DepictedItem. So I think we have to investigate depict search instead of category search I am attac

[2022-02-08 06:24] nicolas-raoul commented on #4762
In the category activity, we have the name of each category. Why not run a new HTTP request to https://commons.wikimedia.org/w/api.php for each? (minus the categories coming from search)

[2022-02-08 07:00] Ayan-10 commented on #4762
Do you mean to say we should make a GET call for every commons-categories which are associated with a DepictedItem?

Can't understand what you mean by category activity.

[2022-02-08 07:07] nicolas-raoul commented on #4762
Yes, I think it is acceptable as there will typically not be more than a handful.

By "category activity" I meant the activity of the Upload Wizard where the user has to select the right categories to apply to their picture.

[2022-02-08 07:18] Ayan-10 commented on #4762
Yes, that can be done. But as we are getting the thumbnail by P18 in the depicted response itself, I was avoiding the network call. Now it seems p18 have some exception like I gave the example of L-Alanine earlier and we don't have any specific property to get the information. I think the network call will be efficient to do.

Thanks.

[2022-02-09 11:42] Ashish-100-tiwari commented on #4794
@nicolas-raoul , I want to contribute but when I downloaded the zip file and imported in android studio then its showing me an error ( photo attached ) , can you please help me to resolve this problem .
![Screenshot 2022-02-07 173337](https://user-images.githubusercontent.com/80841006/153193167-abaf11ee-cc5e-4e12-b46a-bae77a56cdd8.png)

[2022-02-09 12:39] nicolas-raoul commented on #4794
@Ashish-100-tiwari Thanks for your interest! Did you try performing an Internet search for the error message?

[2022-02-10 02:51] nicolas-raoul opened #4805 "If description contains "360", add {{Pano360}}"
360 degrees panoramas can be marked with the `{{Pano360}}` template, which enables specific features.

Example usage: https://commons.wikimedia.org/w/index.php?title=File:Binsfeldsee_Panorama.jpg&action=edit

When the description contains the string "360", we could:
1. Ask the uploader `Is this picture a 360 degrees panorama?` with answers `Yes` and `No`
2. If yes, add `{{Pano360}}` after the desc

[2022-02-10 07:05] #4768 closed

[2022-02-10 07:09] misaochan commented on #4787
@Rishavgupta12345 Hmm, could you provide an example of the file changes that would be required, please?

[2022-02-10 07:16] Rishavgupta12345 commented on #4787
I don't know exactly but the plugins which work on old JDK and are deprecated in the new ones will give errors and have to be replaced by the latest plugins and functions

[2022-02-10 07:18] nicolas-raoul opened #4806 "[Bug]: "No location found" popup sometimes appears twice for the same picture"
### Summary

The "No location found" popup sometimes appears again.

### Steps to reproduce

1. Take a screenshot of anything
2. Try to upload it
3. Enter a random text as caption
4. Tap "Next"
5. The "No location found" popup appears. Tap "Skip".
6. The image quality popup appears, tap "Upload"

### Expected behaviour

The depictions activity should appear.

### Actual behaviour

Instead, the "No

[2022-02-10 18:53] arinmodi commented on #4794
Can i work on this ?

I already setup the project on my machine and also run it on my phone.

I am ready to work on this, only thing i need is some detailed explanation of the issue

[2022-02-10 22:24] nicolas-raoul commented on #4794
@[Ashish-100-tiwari](https://github.com/Ashish-100-tiwari) Are you still working on this? :-)

[2022-02-11 06:11] arinmodi commented on #4794
Hey @nicolas-raoul, please suggest me any other issue for me to work, i really want to start contributing in this

[2022-02-11 09:34] nicolas-raoul commented on #4806
Yes thanks!

[2022-02-11 12:39] arinmodi commented on #4806
Hey @nicolas-raoul, I have one query,

I found that same thing is happening in "Duplicate Image Found" dialog, should I also change that or do PR with current issue solution ?

[2022-02-12 06:22] Ashish-100-tiwari commented on #4794
yes , I tried internet search but still the same thing is coming "Gradle project sync is failed "
![image](https://user-images.githubusercontent.com/80841006/153699722-8254ac31-d84d-40f9-a2e7-e8f8a9861a2c.png)

[2022-02-12 08:58] sivaraam opened #4808 "Open the last opened screen of bottom navbar when launching the app"
### What is the user problem or growth opportunity you want to see solved?

Whenever a users opens the app it starts in the "Contributions" screen. This might be useful for some users as they might prefer to be taken to the "Nearby" screen instead which they use often. OTOH, changing starting with "Nearby" screen by default might not help users who wish to see their Contributions first.

One possi

[2022-02-12 17:40] Ashish-100-tiwari commented on #4794
@Ayan-10 , thanks bro but I tried this also , you can go ahead and solve this issue

[2022-02-13 03:54] Ayan-10 commented on #4808
I would like to work on it.

[2022-02-13 05:41] nicolas-raoul commented on #4808
Great idea! If anyone is against this, please comment as soon as possible. 🙂

@Ayan-10 There is a small risk that the community or core developers are against the idea, but feel free to start working on it if you want. 🙂

[2022-02-13 06:17] misaochan commented on #4808
I would be in support of this idea for the Contributions and Nearby screen, but not for Explore or the other screens. As far as I'm aware, Explore is very rarely the primary feature that people use our app for (even though it's a cool feature), so it's likely that someone might check Explore out for a bit, then leave the app, and get very confused about why it's not showing them their own photos a

[2022-02-13 08:01] devarsh-mavani-19 commented on #4795
hi @nicolas-raoul can I fix this small issue I am new to this community? can you assign it to me? or can I directly create a PR?

[2022-02-13 11:20] nicolas-raoul commented on #4795
@devarsh-mavani-19 It is yours, thanks! :-)

[2022-02-13 11:22] nicolas-raoul commented on #4808
The problem with adding settings is that the more important settings become more difficult to find.
Last opened screen (if it is Contributions or Nearby, otherwise Contributions) sounds good to me.

[2022-02-13 11:56] arinmodi commented on #4794
Can i work on this issue ?

[2022-02-13 13:10] #4795 closed

[2022-02-13 13:17] nicolas-raoul commented on #4794
@Ayan-10 I see you are mentioned, are you interested in taking this issue? If not, please let @arinmodi know they can have it :-)

[2022-02-13 13:22] devarsh-mavani-19 commented on #4777
I want to work on this issue. can you assign this to me? @nicolas-raoul

[2022-02-13 13:49] #4806 closed

[2022-02-13 14:01] nicolas-raoul commented on #66
Today I learnt that on the website, [HotCat](https://en.wikipedia.org/wiki/Wikipedia:HotCat) can do this.
It is hard to find andcan be tricky (in some cases it seems that I have to add a space at the end of my search to make suggestions appear) so it is not necessarily an example to follow, but could give us some insights.
<img width="321" alt="Screen Shot 2022-02-13 at 22 56 11" src="https://user

[2022-02-14 07:42] arinmodi commented on #4794
Hey @nicolas-raoul, to solve this issue i need to add new field to uploadItem. So how should i pass the values, using constructor or using only get method ?

[2022-02-14 09:16] nicolas-raoul commented on #4794
Please follow the same implementation strategy as `fr.free.nrw.commons.upload.mediaDetails.UploadMediaDetailFragment.LAST_LOCATION`.
Thanks!

[2022-02-14 10:46] #4762 closed

[2022-02-14 11:45] arinmodi commented on #4793
Can i work on this, issue ?

[2022-02-14 11:50] arinmodi commented on #4794
Hey @nicolas-raoul, made a PR for this issue

[2022-02-14 18:41] sivaraam commented on #4808
I somehow lean towards the more simpler "remember last opened screen" which opens the last screen that you left the app from. Not just when that was "Contributions" / "Nearby". I say that because I think the problem of opening launching "Explore" / "Favorites" when they were the last opened screens likely isn't a big cause of concern explictly because they _are not used a lot_. So, there are very

[2022-02-14 18:55] devarsh-mavani-19 commented on #4767
@nicolas-raoul I also face such problem. But isn't this issue of backend?

[2022-02-14 23:13] nicolas-raoul commented on #4808
I agree with @sivaraam actually. It is conceivable that some people use the app only to find freely reusable images.

[2022-02-14 23:16] nicolas-raoul commented on #4767
Yes, possibly a backend problem. The backend's source code is at https://github.com/commons-app/commonsmisc

[2022-02-15 03:48] Ayan-10 opened #4820 "LocationPickerActivity is showing MapboxConfigurationException while creating it in a test class"
### Description

I was trying to add tests for the LocationPickerActivity class. But getting errors while building the class. Can't find any solution for that.

**What I was doing**

<img width="697" alt="2022-02-14" src="https://user-images.githubusercontent.com/71203077/153800526-5a316597-847b-4e25-9ba2-d032eb7aa2fb.png">

**Error**

[code]

I think the exception is occurring because of using Ma

[2022-02-15 04:28] RajeshPenugonda commented on #4782
Hey! @madhurgupta10  I am interested to work on this. I can do this

[2022-02-15 04:33] madhurgupta10 commented on #4782
@RajeshPenugonda Sure thanks :)

[2022-02-15 05:28] madhurgupta10 commented on #4820
Looking at the logs, I guess the problem here is that Mapbox needs an actual device to get initialised properly. There could be two possible ways to write tests for this class:
1. Find a way to get a test instance of Mapbox (ideal solution)
2. Use Mock reflection of Mapbox similar to NearbyParentFragment Tests

[2022-02-15 05:49] Ayan-10 commented on #4820
@madhurgupta10 I tried this earlier but the same exception occurred.

[2022-02-15 06:10] madhurgupta10 commented on #4820
You need to avoid `.create()` method for activity, it directly calls the onCreate

[2022-02-15 06:22] misaochan commented on #4808
I guess my main concern is that this might generate a bunch of "why can I not get the app to show the usual screen when I launch the app??" complaints, as this logic is hidden to the user. The "hidden" part is important, as the user probably doesn't remember the last screen they used and it looks like unintentional behaviour or a bug, and also there is no clear instruction on how to change the lau

[2022-02-15 13:02] devarsh-mavani-19 commented on #4767
@nicolas-raoul on further debugging issues i found that three are probably 2 databases in the backend 1 for beta users/developers and 1 for normal users.  when we log in from development version our data is probably stored in a separate database. to prove this I tried logging in from the normal version (playstore version) with beta version credentials and I can't log in. In fact, in the forgot pas

[2022-02-15 13:36] nicolas-raoul commented on #4767
The database for achievements is probably only for prod.
Here is some more documentation:
- https://github.com/commons-app/commons-app-documentation/blob/master/DB_Schema/leaderboard.md
- https://github.com/commons-app/commons-app-documentation/tree/master/API

[2022-02-15 18:29] arinmodi commented on #4764
Hey @nicolas-raoul, what's this about ? can i work on this, right now ?

[2022-02-15 18:44] mrfeder666 commented on #4764
@nicolas-raoul does this mean there will be only 1 idea in GSoC this year?

[2022-02-15 19:14] #4777 closed

[2022-02-15 19:17] devarsh-mavani-19 commented on #4699
hi @misaochan  I made a pull request recently https://github.com/commons-app/apps-android-commons/pull/4816 that solves one of the two issues you mentioned. i.e. showing last location. I would like to add the second feature of showing current user location. Can you please assign me this task? Thank You

[2022-02-15 20:10] madhurgupta10 commented on #4782
I have created a PR for the jacoco file (https://github.com/commons-app/apps-android-commons/pull/4821)

@RajeshPenugonda  You need to make a model subfolder for every package and move relevant files to it, see `customselector` (https://github.com/commons-app/apps-android-commons/tree/master/app/src/main/java/fr/free/nrw/commons/customselector) for example

Creating multiple PRs ideally one per pa

[2022-02-15 20:19] madhurgupta10 commented on #4787
Can you share the plugins that need to be updated?

[2022-02-16 03:27] nicolas-raoul commented on #4764
@arinmodi Please do not start working on this particular issue right now, as there are high chances that it will be worked on during GSoC.

@mrfeder666 Please refer to https://github.com/commons-app/commons-app-documentation/blob/master/android/Students.md#task-ideas (in short: this is the recommended idea but other ideas are OK too)

[2022-02-16 05:19] #4539 closed

[2022-02-16 05:44] devarsh-mavani-19 commented on #4699
@nicolas-raoul i would like to work on this issue it is almost similar to this what I solved in this https://github.com/commons-app/apps-android-commons/pull/4816 . Can you please assign this to me?

[2022-02-16 06:05] nicolas-raoul commented on #4699
@devarsh-mavani-19 Sure, thanks! :-)
I believe this is when editing coordinates of an already uploaded picture (for instance someone else's picture found in Explore).

[2022-02-16 09:22] arinmodi opened #4824 "Need help in writing unit test"
### Description

I have to write the unit test for the small functionality of remembering zoom level in map, Can anyone help me to write test ?

For more info you can check the requested changes on PR #4817

Thanks,

[2022-02-16 13:13] Rishavgupta12345 commented on #199
@nicolas-raoul  This issue is pretty old and now we can easily remove the failed uploads , HENCE this issue is already solved

[2022-02-16 14:13] #4699 closed

[2022-02-16 14:32] Ayan-10 commented on #4824
As I can see your changes in the UploadMediaDetailFragment.java, the tests for those lines can be written by observing other already written tests of that class. I would suggest you to observe other test classes and try to understand the reasoning by doing some experiments while writing tests. It will help you to learn and write unit testing by yourself and also get familiar with the codebase.

On

[2022-02-16 14:50] Rishavgupta12345 commented on #4797
I would like to work on this issue please assign me @nicolas-raoul

[2022-02-16 18:41] arinmodi commented on #4820
@Ayan-10 , Now I understand the testing and start working on LocationPickerActivityTest, but same error is occured with me,
find any solution ?

[2022-02-16 19:53] arinmodi commented on #4824
@madhurgupta10, same error is happened with me

[2022-02-16 19:57] arinmodi commented on #4820
@madhurgupta10, same error happened with me, any solution ?

[2022-02-16 20:29] arinmodi commented on #4824
Thanks @Ayan-10

[2022-02-16 20:29] #4824 closed

[2022-02-17 01:35] madhurgupta10 commented on #4820
Yes, for now, you can skip onCreate and write tests for other methods

[2022-02-17 01:36] madhurgupta10 commented on #4820
@arinmodi  Refer https://github.com/commons-app/apps-android-commons/issues/4820#issuecomment-1039874395

[2022-02-17 05:40] arinmodi commented on #4820
@madhurgupta10, tried but not worked...

[2022-02-17 06:52] #4794 closed

[2022-02-17 09:57] devarsh-mavani-19 commented on #4679
@jidanni I am able to see the same thing in the notification progress bar and on-screen progress bar when uploading images. can you please share a screenshot of the notification progress bar? Thanks1

[2022-02-17 11:09] nicolas-raoul commented on #4679
@devarsh-mavani-19 Yes thanks! To answer your question: When uploading a picture, the contributions activity shows a bar which goes left to right, it is the same animation that loops the same way without any indication of what percentage of the upload has been accomplished. On the opposite, the progress bar in Android's notification area shows more or less accurately what percentage of the upload

[2022-02-17 15:53] Ayan-10 commented on #4820
@madhurgupta10 That's great. Sure I will add instrumentation tests too. However, I created unit tests for the class covering as much as possible.

Thanks a lot for the help.

[2022-02-17 18:38] devarsh-mavani-19 commented on #2871
@nicolas-raoul How about using glide library? @madhurgupta10 mentioned that using a caching solution will help and From my past experience glide is better than picasso when there are lots of images to load. I would like to solve this issue if no one is currently working on it

[2022-02-17 18:39] sivaraam commented on #4808
That's a valid point. May be a one-time user education of some sort would help here?

Interesting. It's likely not clear from my description but I only intended for the app to launch the screens that are visible from the bottom navbar. I feel it would be better to stop with that. If we extend this to screens like "Setting", "About" etc. it could really become confusing and not so helpful 🙂

[2022-02-17 19:14] matkoniecz commented on #4750
I am pretty sure that it check Wikidata for this info, but I have not checked actual code.

[2022-02-18 00:43] nicolas-raoul commented on #2871
Actually this issue is fixed, sorry for leaving it open!

[2022-02-18 00:43] #2871 closed

[2022-02-18 03:44] #4679 closed

[2022-02-18 04:29] KosOrKosm commented on #4784
Hello @nicolas-raoul, I would like to handle this issue. Could I be assigned?

[2022-02-18 04:33] nicolas-raoul commented on #4784
@KosOrKosm Yes thanks! :-)

[2022-02-18 06:27] misaochan commented on #4750
Sorry I missed this! Good idea, I agree that "Exists" should be enabled by default.

@arinmodi the black markers are places that are flagged in Wikidata as 'not existent currently'.

[2022-02-18 06:36] madhurgupta10 commented on #4782
@RajeshPenugonda Let us know how is the progress on this issue going?

[2022-02-18 09:36] devarsh-mavani-19 commented on #4800
Hey @nicolas-raoul I was checking the Code and I think the Language of reason uploaded by users depends on users keyboard. however we can control the language of name of month. we can make it english

[2022-02-18 09:53] nicolas-raoul commented on #4800
@devarsh-mavani-19 Thanks! We can do English for now, and then (in another issue) a template once @strainu or someone else creates a template.

[2022-02-18 09:55] devarsh-mavani-19 commented on #4800
@nicolas-raoul so for now should change the language of the month of deletion request to english?

[2022-02-18 10:25] nicolas-raoul commented on #4800
Yes, and also the reason, which is `Pentru că este` in the example https://commons.wikimedia.org/w/index.php?title=File%3AHexagone-Balard_%40_Paris_%2823766157612%29.jpg&type=revision&diff=627919510&oldid=627919420

[2022-02-18 10:30] devarsh-mavani-19 commented on #4800
@nicolas-raoul is there anyway i can read the deletion request just like you sent me this link https://commons.wikimedia.org/w/index.php?title=File%3AHexagone-Balard_%40_Paris_%2823766157612%29.jpg&type=revision&diff=627919510&oldid=627919420. can I read my own deletion request for testing my code?

[2022-02-18 10:38] nicolas-raoul commented on #4800
@devarsh-mavani-19 For tests, feel free to send actual deletion requests for this file: https://commons.wikimedia.org/wiki/File:Bicycles_shop_in_Ebisu.jpg You can find it in Explore by searching for "Bicycles shop in Ebisu".

[2022-02-18 17:05] arinmodi commented on #4750
Hey @matkoniecz , currently when we are opening the near by screen, Need Photo filter is selected by default and after solving this issue <b>Exists and <b>Need Photo</b> both filter selected by default, is it ok ?

[2022-02-19 03:02] nicolas-raoul opened #4835 "[Bug]: Multi-upload continues even after pausing all"
### Summary

Pausing does not work correctly in multi-upload.

### Steps to reproduce

1. Select 4 pictures in your gallery app
2. Share → Send to Commons app
3. Pause all 4 pictures

### Expected behaviour

Uploads do not progress anymore.

### Actual behaviour

One of the pictures continues uploading.

Pausing it makes a different one start uploading.

Even exiting the app (apps button then swip

[2022-02-19 03:10] nicolas-raoul opened #4836 "Cancel upload"
### What is the user problem or growth opportunity you want to see solved?

Sometimes I select a picture by mistake, or forget to remove EXIF before uploading.

Currently the only option is to reset the app's data, which:
- is inconvenient,
- forces the user to log in again,
- redownloads hundreds of megabytes of contributions,
- loses bookmarks and history.

### How do you know that this problem

[2022-02-19 04:47] Rishavgupta12345 commented on #4797
@nicolas-raoul I have a doubt . whenever I am running the app from android studio its running the beta version of the app. but I want to run the main version of the app in my emulator , how should i do it

[2022-02-19 07:44] #4793 closed

[2022-02-19 08:30] arinmodi commented on #4836
I want to work on this...

So in this i have to add functionality of cancelling upload, which is started by user, Am i right ?

[2022-02-19 08:54] devarsh-mavani-19 commented on #4805
I would like to work on this issue. Can you please assign it to me

[2022-02-19 09:02] #4750 closed

[2022-02-19 09:13] nicolas-raoul commented on #4836
@arinmodi Yes, thanks! When tapping the X button, the upload should stop and the picture's row in Contributions should disappear entirely. Please try to reuse the round X button seen when an upload failed (it has the desired effect of removing the upload):

![adb](https://user-images.githubusercontent.com/99590/154794484-5c155e0b-b610-47df-8534-11d4b5180ec4.png)

[2022-02-19 09:24] nicolas-raoul commented on #4757
@Pratham2305 Any progress on this, maybe? It would be a really great bugfix :-) But if you are busy, don't worry!

[2022-02-19 09:41] devarsh-mavani-19 commented on #4805
@nicolas-raoul can i work on this issue?

[2022-02-19 10:01] nicolas-raoul commented on #4805
@devarsh-mavani-19 Thanks for your interest! We currently have many bugs, so we try to fix bugs before adding new low priority features. 😅 How about trying #4779? I can guide you if anything is unclear :-)

[2022-02-19 10:05] devarsh-mavani-19 commented on #4805
Yes I would like to work on that issue. :)

[2022-02-19 10:09] nicolas-raoul commented on #4805
@devarsh-mavani-19 Great! Would you mind commenting there? I can't assign to anyone who has not commented. :-)

[2022-02-19 10:10] devarsh-mavani-19 commented on #4779
I would like to work on this issue :)

[2022-02-19 10:19] devarsh-mavani-19 commented on #4779
@nicolas-raoul I would like to work on this issue

[2022-02-19 11:13] devarsh-mavani-19 commented on #4779
hey, @nicolas-raoul in the master branch I am facing an SSLHandshake exception. So on which branch should I add this feature?

[2022-02-19 13:09] nicolas-raoul commented on #4779
Beta is probably OK too, you can use https://commons.wikimedia.beta.wmflabs.org/wiki/Commons:Mobile_app/Feedback

I think I saw that Madhur was having the same issue? If the issue does not disappear within a day, could you please file a Phabricator ticket? Thanks!

[2022-02-19 14:10] devarsh-mavani-19 commented on #4779
@nicolas-raoul issues is resolved. I can actually login now. Thanks

[2022-02-19 15:01] psh commented on #4664
https://android-developers.googleblog.com/2022/02/discontinuing-kotlin-synthetics-for-views.html?m=1

Google says -

[2022-02-19 15:04] arinmodi commented on #4836
Do I have to show any popup to user before cancellation ?

[2022-02-19 20:54] arinmodi commented on #4764
@nicolas-raoul, is there any idea list for GSOC 2022 ?

And for android, is this only idea for GSOC 2022 from Wikimedia ?

[2022-02-19 23:53] nicolas-raoul commented on #4836
@arinmodi Good idea! I would suggest `Are you sure you want to cancel this upload?`

[2022-02-20 00:27] nicolas-raoul commented on #4764
@arinmodi Please read https://github.com/commons-app/commons-app-documentation/blob/master/android/Students.md#task-ideas thanks! For now yes this is the only Android Wikimedia idea apparently: https://www.mediawiki.org/wiki/Google_Summer_of_Code/2022#Ideas_for_projects

[2022-02-20 05:00] devarsh-mavani-19 commented on #4779
@nicolas-raoul I am trying to find what are the parameters of form data that I have to pass in POST Request. I tried the parameters from chrome network tab and tried those in postman but it is always showing this message
"Some parts of the edit form did not reach the server; double-check that your edits are intact and try again."

Here is what I found from network tab
URL: https://commons.wikimedi

[2022-02-20 06:58] arinmodi commented on #4836
@nicolas-raoul, I have one query that....

According to me, allowing the cancellation during the ongoing upload is not a good user experience, but we can allow this option once user pause the upload,

what you think ?

Thanks

[2022-02-20 07:36] #4820 closed

[2022-02-20 08:08] nicolas-raoul commented on #4836
Yes, sounds good, thanks for citing an example from another app!

[2022-02-20 08:12] arinmodi commented on #4836
Just for the confirmation, I have to allow the cancel only after pause, right ?

[2022-02-20 08:19] nicolas-raoul commented on #4836
Yes.

- During upload only the pause button is visible.
- After tapping on pause, two buttons are visible: remove (cross-shaped icon) and unpause (play icon)
- After tapping remove, a popup asks for confirmation.
- Removing makes the picture's row disappear, and removes associated memory/connection resources if any.

[2022-02-20 08:53] arinmodi opened #4840 "[Bug]:"
### Summary

Uploading is not paused after the resuming the upload

### Steps to reproduce

1. Upload the new image in contribution
2. Pause the upload
3. resume the upload
4. again pause the upload

### Expected behaviour

the upload should pause when tapping on the pause after the resume

### Actual behaviour

Uploading is not paused after resume it

### Device name

ASUS_X00TD

### Android vers

[2022-02-20 09:15] nicolas-raoul commented on #4779
Tip: For the signature/timestamp you can write `~~~~` and I believe the server will replace it with the signature and timestamp.

[2022-02-20 09:35] madhurgupta10 commented on #4073
Fixed in https://github.com/commons-app/apps-android-commons/pull/4828

[2022-02-20 09:35] #4073 closed

[2022-02-20 10:22] nicolas-raoul commented on #4779
Ah actually I notice that a signature is automatically attached to your tests, it is the `[2409:4041:D13:CBF3:E403:257A:60AC:A0EC](https://commons.wikimedia.org/wiki/Special:Contributions/2409:4041:D13:CBF3:E403:257A:60AC:A0EC) 05:21, 20 February 2022 (UTC)` part, so you can remove the `[Anonymos here](https://commons.wikimedia.org/wiki/User:Syced) ([talk](https://commons.wikimedia.org/wiki/User_t

[2022-02-20 10:25] devarsh-mavani-19 commented on #4779
yes the signature was attached when I passed in the default CSRF token (+\) otherwise it won't attach the signature. so I think I need to write ~~~~ to attach signature. I will make sure that is the behaviour though.

[2022-02-20 12:35] jidanni commented on #4458
All I know is I don't have any picture to upload today. Also I can't make movies with my bandwidth allowance. Anyways in a different app I just typed a bunch of spaces and I can always see where the cursor is. So please just type a bunch of spaces and see if you can tell where the cursor is. If you can then this bug can be closed.

[2022-02-21 06:24] nicolas-raoul opened #4844 "[Bug]: In peer review, deletion proposal is sent even if no reason is chosen"
### Summary

In peer review, the deletion proposal is sent even if no reason is chosen.

### Steps to reproduce

1. Start peer review
2. When asked whether the picture is in scope, tap No
3. Without selecting any reason, submit

### Expected behaviour

Should not be submittable until at least a reason is chosen.

### Actual behaviour

Submitted without any reason listed. This simply shouldn't happ

[2022-02-21 06:25] nicolas-raoul commented on #4797
Since this issue is more complicated than expected, I split the second part to its own issue: #4844

[2022-02-21 08:55] misaochan commented on #4458
I can see the location of the cursor too in Caption. :/ Might be device-specific.

[2022-02-21 08:58] misaochan commented on #4458
Closing as requested by issue creator, please feel free to ping if anyone can reproduce this bug, thanks!

[2022-02-21 08:58] #4458 closed

[2022-02-21 15:29] devarsh-mavani-19 commented on #4779
hey @nicolas-raoul I am facing a problem. I am requesting a token using csrfTokenClient.getTokenBlocking() but when I try to make a request to upload post using that csrf token it is giving badtoken error. I even tried to generate a token from browser and then tried sending a POST request from postman but still getting same error. I tried this exact thing yesterday and it worked but today it is no

[2022-02-21 16:44] arinmodi commented on #4764
Hey @nicolas-raoul, how can we mark the picture that it is not for upload, is there any standard for this ?

[2022-02-22 01:44] nicolas-raoul commented on #4779
Can you reuse the same code as the peer review feature?
The peer review feature does the exact same thing (add a paragraph to a given wiki page), so hopefully not much new code is needed.

[2022-02-22 02:45] #4800 closed

[2022-02-22 02:53] nicolas-raoul commented on #4764
@arinmodi I suggest an overlay icon similar to this: 🚫

[2022-02-22 04:47] devarsh-mavani-19 commented on #4779
@nicolas-raoul thanks its working. I used the same code of peer review. I will do a PR after adding unit tests. or will create a draft PR if you want to test the functionality and UI. Thanks :)

[2022-02-22 09:43] arinmodi commented on #4764
@nicolas-raoul, i am not talking about the icon but how can we determine that this image is ok to upload and this image is not ok to upload,

For example, picture contain dog photo should mark with not for upload, like that

[2022-02-22 09:51] nicolas-raoul commented on #4764
@arinmodi It is the app user who decides that. For instance on my phone I have a family picture and a building picture: I would manually mark the family picture as "not for upload".

[2022-02-22 10:17] arinmodi commented on #4764
So, how can the user select the picture as "not for upload", currently tapping on the image select the image for upload.

So, i think we need to add another touch event, which mark the image as not for upload for example, onLongPressing the image, it should mark as the "not for upload"

What do you think ?

[2022-02-22 10:33] nicolas-raoul commented on #4764
@arinmodi To mark a picture (or several) as not for upload, here are the steps: 1) Tap the picture(s) 2) Tap the "Mark as not for upload" button.

[2022-02-22 10:36] arinmodi commented on #4764
okay @nicolas-raoul, now i got the idea,

but this is reserved for the GSOC right ?

[2022-02-22 10:57] nicolas-raoul commented on #4764
@arinmodi Yes, this is reserved for GSoC 2022.

[2022-02-22 11:25] arinmodi commented on #4835
can I work on this ??

[2022-02-23 00:38] nicolas-raoul commented on #4764
@arinmodi The information must be stored locally. The "uploaded already" information is already being stored locally, the implementation will probably be very similar.

[2022-02-23 04:38] Ayan-10 commented on #4544
@nicolas-raoul I would like to work on it.

[2022-02-23 05:01] arinmodi commented on #4764
I have one suggestion in this improvement,

Instead of toggle at top, we can create a filters menu, which contains 3 filters, reset and apply button,

Three filters are as follow,

1. One filter as @nicolas-raoul said
2. Second filter named "blur", which removes blur images from the list
3. Third filter named "suggestions", which displays only high quality images,

Is this nice idea ?

[2022-02-23 05:28] nicolas-raoul commented on #4764
@arinmodi Please create your proposal on Phabricator as detailed at [https://github.com/commons-app/commons-app-documentation/blob/master/android/Students.md](https://github.com/commons-app/commons-app-documentation/blob/master/android/Students.md#task-ideas). Then, on your Phabricator proposal page, feel free to propose such extra features and ask for feedback about these extra features. Thanks!

[2022-02-23 05:32] arinmodi commented on #4764
Okay @nicolas-raoul

[2022-02-23 07:02] Rishavgupta12345 commented on #4589
@nicolas-raoul i would like to work on this issue please assign me

[2022-02-23 07:03] Rishavgupta12345 commented on #4553
can you explain a bit more about this issue and how to reproduce it

[2022-02-23 07:06] Rishavgupta12345 commented on #4523
@nicolas-raoul  I would like to work on this issue please assign me

[2022-02-23 07:33] nicolas-raoul commented on #4553
Nearby's SPARQL query should be modified to take int account property P3999. If you are new to SPARQL, you would probably need to practice a bit first at query.wikidata.org/

[2022-02-23 08:56] nicolas-raoul commented on #4544
By the way, just wondering: Do you receive an email notification when I assign an issue to you?

[2022-02-23 08:58] nicolas-raoul commented on #4589
I would be in favor of just showing "No images found" and no graphic (unless the app already embeds a usable graphic) in order to not make the app heavier for this edge user case.
Thanks! :-)

[2022-02-23 10:01] nicolas-raoul opened #4847 "[Bug]: "Copy to subsequent media" sometimes does not work"
### Summary

It was working until recently, so please bissect git commits.

This might be happening for sets where the "Is this a picture of" question appears.

### Steps to reproduce

Upload a set of pictures
At the first, write a caption and tap  "Copy to subsequent media"

### Expected behaviour

Caption copied to all following pictures.

### Actual behaviour

Sometimes only copied to the the n

[2022-02-23 14:24] Ayan-10 commented on #4544
@nicolas-raoul Yes, I do receive an email.

Also, I have made a UI regarding this issue. Please give your inputs.

<img src="https://user-images.githubusercontent.com/71203077/155337001-74565fa8-c4be-41ab-bece-3281e2953aeb.png" width=300/>

I was thinking to remove the recent searches section when the user will click on edit text as we can expect a user will only click on the edittext to search fo

[2022-02-23 14:55] arinmodi opened #4848 "[Bug]: Pause Upload feature not working in Android 11"
### Summary

Pausing upload not working android 11

### Steps to reproduce

1. Upload the picture
2. pause upload

### Expected behaviour

should pause the upload

### Actual behaviour

it is showing the paused state to user in foreground, but it is uploading picture in background, and after some time you will notice that picture is uploaded to the contribution, which should not happen

### Device

[2022-02-23 17:47] ben-mathu commented on #4782
I would like to work on this.

[2022-02-23 18:02] madhurgupta10 commented on #4782
Thanks, @ben-mathu Please do make multiple PRs for this issue. Ideally one per package.

[2022-02-24 02:29] nicolas-raoul commented on #4544
Looks and sounds great! Thanks :-)

[2022-02-24 05:40] #4784 closed

[2022-02-24 07:56] nicolas-raoul opened #4849 "Rename "master" branch to "main""
Per https://github.com/github/renaming

Context: https://www.zdnet.com/article/github-to-replace-master-with-alternative-term-to-avoid-slavery-references/

[2022-02-24 10:55] arinmodi commented on #4808
Can I work on this, if anyone not working on this ?

[2022-02-24 11:02] neslihanturan opened #4850 "[Bug]: Prod/beta flavor messages may be nonsense for users"
### Summary

A recent feedback came about messages like "Achievements are only available in the prod flavor." and "The leaderboard is only available in the prod flavor." may be nonsense for some of our users. The strings refers to the beta and prod flavor should better be changed with something else which is more understandable for all.

### Steps to reproduce

Try to see achievements or leaderboa

[2022-02-24 12:32] 4D17Y4 commented on #4758
In addition to this I think we can refractor the upload fragment as we notice the label overlaps with map icon when the text content is long.

[2022-02-25 03:37] misaochan commented on #4850
Sorry, just to clarify - these messages are only shown when a beta build is used, right? Not if a prod build is used? I haven't been able to reproduce this on prod.

If that is the case, surely if someone is using the beta build, they would be a developer and not a regular user, and should be aware of the prod and beta builds (or should be made aware of them, at least).

[2022-02-25 11:33] nicolas-raoul opened #4855 "Copyright warning for beta flavor"
### What is the user problem or growth opportunity you want to see solved?

We have a first-time tutorial, but many beta users seem to believe that it is does not apply.

In fact, the beta server is also very strict on copyright.
Recently a user of the beta flavor of the app uploaded copyrighted images and got banned.

Most beta users probably do not read the wiki nor any documentation, and just g

[2022-02-25 13:58] Rishavgupta12345 commented on #4849
i would like to work on this please assign me

[2022-02-25 14:01] nicolas-raoul commented on #4849
I am pretty sure admin rights are needed for this.

[2022-02-25 14:05] Rishavgupta12345 commented on #4849
then I think you should solve this issue yourself 🥲

[2022-02-25 14:07] nicolas-raoul commented on #4849
Such a big change must be discussed before. You can see that this issue is not marked as bug nor enhancement. It is in discussion phase :-)

[2022-02-25 14:31] Rishavgupta12345 commented on #4855
I would like to work on this issue please assign me

[2022-02-25 14:49] Rishavgupta12345 commented on #4850
I would like to work on this issue but am unable to understand what actually I have to do here, If the required message and response is specified by the mentors here then I will implement them on the app

[2022-02-25 15:01] #4523 closed

[2022-02-25 15:09] Rishavgupta12345 commented on #1819
this issue is pretty old and not so relevant now , please check and close this issue

[2022-02-25 19:43] RS400 commented on #4855
Wow🤔

[2022-02-25 22:57] nicolas-raoul commented on #4855
@Rishavgupta12345 Just show the popup on the first page of the first-time tutorial. No relation with the peer review feature. Thanks!

[2022-02-25 23:41] #4836 closed

[2022-02-26 05:07] arinmodi commented on #4840
Closes via #4843

[2022-02-26 09:48] arinmodi commented on #4808
@nicolas-raoul, can I work on this ?

[2022-02-26 12:21] nicolas-raoul commented on #4808
@arinmodi This issue is still assigned to Ayan-10.

[2022-02-26 13:14] chrisdebian opened #4861 "Contributions Screen- Nearest Feature"
### What is the user problem or growth opportunity you want to see solved?

When using the app, at the top of the Contributions tab/page, I can see the nearest location to me, that is recognised as being if interest. In many cases, a photograph of the location has already been submitted.

### How do you know that this problem exists today? Why is this important?

So that it is easier to identify t

[2022-02-26 13:19] chrisdebian commented on #4861
I'm using version 3.1.1~1c9267ca0, on a Pixel 4a.

[2022-02-26 14:30] Rishavgupta12345 commented on #4855
@nicolas-raoul  you have suggested adding a popup in the first time tutorial for copyright, but I have seen that popup works only when there is a button click, but there is no button click so should I add a new layout that gives the copyright message just like as other things in the first time tutorial

[2022-02-26 18:58] arinmodi commented on #4844
@nicolas-raoul, i would like to work on this

[2022-02-27 00:12] nicolas-raoul commented on #4855
What do you mean? Could you please giving us an Android documentation page explaining this?

[2022-02-27 12:52] devarsh-mavani-19 commented on #4776
when i don't enter any category, there are still some default categories entered by backend server. For example: **Uploaded with mobile** and many such default categories are always there, Is there a way we can identify the default categories?

[2022-02-27 13:24] nicolas-raoul commented on #4776
Excellent question!
These are called "Hidden categories", for instance for https://commons.wikimedia.org/wiki/File:Arenal_d'en_Castell.jpg :
<img width="667" alt="Screen Shot 2022-02-27 at 22 20 27" src="https://user-images.githubusercontent.com/99590/155884124-acfc3ab5-2ca2-4c30-8d7b-77b198752a28.png">

A hidden category can be recognized by the `__HIDDENCAT__` line when editing it, for instance

[2022-02-27 13:37] devarsh-mavani-19 commented on #4776
@nicolas-raoul got it 👍🏿 . I would like to work on this one

[2022-02-27 13:50] nicolas-raoul commented on #4776
@VojtechDostal @sivaraam By any chance do you know any easier way (I mean easier than [my comment above](https://github.com/commons-app/apps-android-commons/issues/4776#issuecomment-1053555523)) to check whether a given picture has any non-hidden category?

[2022-02-27 14:25] devarsh-mavani-19 commented on #4776
@nicolas-raoul i was going through documentation of API and found an easy way. I can simply pass a query parameter prop=categories and another parameter clprop=hidden. This will give me all the properties associated with that file and also give me whether it is hidden or not. see this example

https://commons.wikimedia.org/w/api.php?action=query&format=json&formatversion=2&clprop=hidden&prop=categ

[2022-02-27 14:34] nicolas-raoul commented on #4776
@devarsh-mavani-19 Sounds promising! Feel free to test on production, if you are unsure just answer "Yes" at the questions, there will be no harm to production.

[2022-02-28 15:02] Rishavgupta12345 commented on #4764
@nicolas-raoul  This is the only project for GSoC 2022 so I can make a completely different project for GSoC?

[2022-02-28 15:12] arinmodi commented on #4835
Hey @nicolas-raoul, I found that this problems only happens  when user pause the upload before the actual upload start by the upload worker, let me explain me with example that,

1. Suppose you upload the 4 photos, those 4 photos will be queued by the upload worker,
2. you pause the first upload,  now there is a delay between pausing First upload and starting the next upload.
3.  in this delay you

[2022-02-28 15:16] arinmodi commented on #4835
Hey @4D17Y4,  can you also give it a think on above comment and this issue

[2022-02-28 18:04] ben-mathu commented on #4782
@madhurgupta10 Please review these PRs then give feedback.

[2022-02-28 19:29] 4D17Y4 commented on #4764
Yes, this is the only Android Wikimedia project idea for GSoC'22 [GSoC'22 Project Ideas](https://www.mediawiki.org/wiki/Google_Summer_of_Code/2022#Ideas_for_projects)

Go through [GSoC Students](https://github.com/commons-app/commons-app-documentation/blob/master/android/Students.md#task-ideas), it has all the information you need for a different project.

[2022-03-01 06:30] Rishavgupta12345 commented on #3917
@nicolas-raoul  THIS issue is pretty old and now we can easily select camera/gallery. So there is no such bug and we can close this issue safely

[2022-03-01 06:33] Rishavgupta12345 commented on #3607
@nicolas-raoul  This issue is pretty old and the app does not crash now , it works fine so we can safely close this issue

[2022-03-01 06:33] nicolas-raoul commented on #4850
These messages are not shown in prod, they are only shown to developers who have built the beta flavor by themselves (as we do not distribute any binary for beta). Even if they do not know yet what flavors are, I am willing to think they will search for the text of the tooltip message in the source code.

That being said, any better wording is very welcome :-) How about adding `Please check the de

[2022-03-01 06:34] Rishavgupta12345 commented on #2919
@nicolas-raoul  this issue is pretty old and no more reproducible so we can safely close this issue

[2022-03-01 06:35] #3917 closed

[2022-03-01 06:35] Rishavgupta12345 commented on #2836
@nicolas-raoul  notification works properly now so we can close this old issue

[2022-03-01 06:43] Rishavgupta12345 commented on #4850
okay got it , you can assign me the issue now

[2022-03-01 06:47] Rishavgupta12345 commented on #4850
okay got it , you can assign me the issue now

[2022-03-01 06:49] nicolas-raoul commented on #4850
@Rishavgupta12345 My previous comment was mostly meant for Neslihan. As you can see in the discussion, there is no clear consensus yet. Let's wait until a consensus is reached :-)

[2022-03-01 06:51] Rishavgupta12345 commented on #4707
@nicolas-raoul i would like to work on this issue please assign me

[2022-03-01 06:56] Rishavgupta12345 commented on #4670
@nicolas-raoul i would like to work on this issue please assign me

[2022-03-01 07:38] arinmodi commented on #4808
@Ayan-10, are you working on this ?

[2022-03-01 08:09] arinmodi commented on #4835
@nicolas-raoul, please have a look on above comment, so that i can move forward

[2022-03-01 10:50] #3607 closed

[2022-03-01 10:52] nicolas-raoul commented on #2919
I haven't seen this in a while indeed. If anyone can reproduce, please comment, thanks!

[2022-03-01 10:52] #2919 closed

[2022-03-01 10:52] #2836 closed

[2022-03-01 11:20] Ayan-10 commented on #4808
Currently no, as my exams are going on. @nicolas-raoul You can assign him for this.

Thanks

[2022-03-01 13:29] Rishavgupta12345 opened #4875 "[Bug]: file not found please try another file"
### Summary

problem 1:-
clicking multiple times on the ' + ' button keeps increasing the dialogs. Those dialogs are useless as you are only uploading a single image you don't need multiple captions and descriptions

problem 2:-
if you are uploading an image and making 2 dialogs in step 1 using the ' +' button and giving two different captions and descriptions to that image then the image is not u

[2022-03-01 14:06] Rishavgupta12345 commented on #4707
@nicolas-raoul  I was working on this issue and this seems non-reproducible to me, like how to change the password there is no such option in the app

[2022-03-02 01:50] nicolas-raoul opened #4876 "[Bug]:"
### Summary

Despite https://commons.wikimedia.org/w/index.php?title=File:Stamp_of_Ajman_-_1968_-_Colnect_682825_-_Ferdinand_of_Austria_-_by_Velasquez_and_-_Return_from_hunting.jpeg&action=history having a category (and having it since it was first created), I got the following screen in `Review`:

![adb](https://user-images.githubusercontent.com/99590/156154389-8e3a249e-1c1d-4178-af1e-330edc31f7a

[2022-03-02 12:09] arinmodi commented on #4835
@nicolas-raoul, please update on this, thanks

[2022-03-02 12:21] nicolas-raoul opened #4877 "[Bug]: UnknownFormatConversionException: Conversion = 'এ'"
### Summary

UnknownFormatConversionException

### Steps to reproduce

1. Open app
2. In Settings, change "app user interface language" to বাংলা [bn]
3. Start uploading a picture (for instance via the + gallery button)

### Expected behaviour

Can upload

### Actual behaviour

Crash:

java.util.UnknownFormatConversionException: Conversion = 'এ'
at java.util.Formatter$FormatSpecifier.conversion(For

[2022-03-02 12:36] nicolas-raoul commented on #4835
Sorry for the delay!
Pausing may be used by people who are on a slow or costly Internet connection, so being able to pause uploads before they start is a good feature to have...

[2022-03-02 13:07] Rishavgupta12345 commented on #4875
@nicolas-raoul  I created this issue and would like to work on it, if you think its OK then please assign me

[2022-03-02 13:30] 4D17Y4 commented on #4875
@Rishavgupta12345 problem 1 is a feature where u can add captions and descriptions in multiple languages.
I cannot reproduce problem 2. Maybe try with a different image and let us know if you get the same result.

[2022-03-02 13:40] Rishavgupta12345 commented on #4875
if problem 1 is the feature to add a caption in another language then if once the user is writing the caption in English then the second option should disable English from the options and show other languages. to reproduce this issue try adding English caption twice in the same image. (which should not be present)

[2022-03-02 18:00] Aftabuzzaman opened #4878 "[Bug]: The app keeps crashing"
### Summary

The app keeps crashing if you change your apps interface language to Bangla (Bengali).

### Steps to reproduce

These are the steps to reproduce the possible issue.
1. Install Wikimedia Commons app on an Android device from Playstore.
2. Login to a Wikimedia account.
3. Please select "App user interface language" as বাংলা (Bangla) (if not already set)
4. Once the language is Bangla, t

[2022-03-02 18:04] Aftabuzzaman commented on #4878
duplicate of https://github.com/commons-app/apps-android-commons/issues/4877

[2022-03-02 19:03] madhurgupta10 opened #4879 "Evaluate the use of Jetpack Compose, Hilt, Flows in this project"
**Hilt** is a dependency injection built on top of Dagger, it is much easier to understand and implement than Dagger. https://developer.android.com/training/dependency-injection/hilt-android

**Flows** is a Kotlin extension for coroutines and works best along with Jetpack Compose. https://developer.android.com/kotlin/flow

**Jetpack Compose** is the new popular UI toolkit for Android Apps. https:/

[2022-03-03 12:53] Rishavgupta12345 commented on #4875
if it is so then I am closing the issue

[2022-03-03 12:53] #4875 closed

[2022-03-04 02:08] #3279 closed

[2022-03-04 02:09] madhurgupta10 commented on #2805
This issue is fixed now :)

[2022-03-04 02:09] #2805 closed

[2022-03-04 02:10] madhurgupta10 commented on #2226
Fixed in https://github.com/commons-app/apps-android-commons/pull/4828

[2022-03-04 02:10] #2226 closed

[2022-03-04 16:30] 4D17Y4 commented on #4876
Thanks for showing interest @devarsh-mavani-19, we recommend solving each issue in a different PR.

[2022-03-05 05:34] devarsh-mavani-19 commented on #4876
@4D17Y4 sorry for delay in responding. Actually adding this feature
https://github.com/commons-app/apps-android-commons/pull/4874
Will automatically solve this issue as well.

[2022-03-05 06:34] Rishavgupta12345 commented on #4738
@nicolas-raoul  this feature is not useful enough for all the users , and I think we should close this issue

[2022-03-05 06:35] Rishavgupta12345 commented on #4670
@nicolas-raoul @4D17Y4  I would like to work on this issue please assign me

[2022-03-06 14:11] Rishavgupta12345 commented on #4307
@nicolas-raoul  @4D17Y4  this enhancement is already implemented and working in our app , so we can close this issue

[2022-03-06 14:15] Rishavgupta12345 commented on #4419
@nicolas-raoul @4D17Y4 we have be-tarask language in out app now so we can close this issue now .

be-tarask is present in out app and the given language code to it is [be-x-old]

[2022-03-06 14:16] Rishavgupta12345 commented on #4398
@nicolas-raoul @4D17Y4  this issue is not relevant now so we can close this now

[2022-03-06 14:22] Rishavgupta12345 commented on #4388
@nicolas-raoul  @4D17Y4 we have this feature now in our app so we can close this issue now

[2022-03-07 06:34] Rishavgupta12345 commented on #4269
@nicolas-raoul @4D17Y4 this issue is not reproducible any more and so we can close this

[2022-03-07 06:37] Rishavgupta12345 commented on #4273
@nicolas-raoul @4D17Y4 i would like to work on this issue please assign me this

[2022-03-07 06:43] Rishavgupta12345 commented on #4234
@nicolas-raoul @4D17Y4 we have the Venetian language (vèneto - vec) perfectly working on our app now so we can close this issue now

[2022-03-07 07:15] Rishavgupta12345 commented on #4131
@nicolas-raoul  @4D17Y4 this is not an issue any more we have perfect working Ui now and so we can close this issue now

[2022-03-07 07:23] Rishavgupta12345 commented on #3987
@nicolas-raoul @4D17Y4 we have better strings for display location permission now and this issue is already solved, we are using ask for location permission now which is sufficient so we can close this issue .

we have many issues open in this repository which is actually not present, I am cleaning the repository by informing

[2022-03-07 07:56] #4398 closed

[2022-03-07 08:22] Renessaince commented on #4419
Why be-x-old if it should have been be-tarask?

[2022-03-07 08:52] #4844 closed

[2022-03-07 09:16] #4855 closed

[2022-03-07 09:34] #4589 closed

[2022-03-07 09:35] #4307 closed

[2022-03-07 09:38] nicolas-raoul commented on #4388
This is still happening, but I think it is working as intended.
Same happens with the Gmail app.

[2022-03-07 09:38] #4388 closed

[2022-03-07 09:39] nicolas-raoul commented on #4269
I will close this for now, but if anyone manages to reproduce on the latest version, please reopen, thanks!

[2022-03-07 09:39] #4269 closed

[2022-03-07 09:46] nicolas-raoul commented on #4131
Looking fine even with big font indeed:
![adb](https://user-images.githubusercontent.com/99590/157007073-62cf74cb-17f6-44e1-a0c6-f5ba1aec34f1.png)

[2022-03-07 09:46] #4131 closed

[2022-03-07 09:49] nicolas-raoul commented on #3987
This seems solved in master? @jidanni if not please post a screenshot and let us know, thanks!

[2022-03-07 09:55] nicolas-raoul commented on #4419
Related Phabricator task `Rename "be-x-old" to "be-tarask"` implemented in 2015: https://phabricator.wikimedia.org/T11823

Next steps:
1. Do we get the list of languages from an API?
2. If yes, file a Phabricator bug for that API. If no, update our code.

[2022-03-07 10:00] nicolas-raoul commented on #4738
I think we can keep this as a low priority task. Before deleting pictures we should probably make upload super-reliable.

[2022-03-07 12:56] Rishavgupta12345 commented on #3987
@nicolas-raoul  you can self check it easily go to the settings scroll down and you will see a ASK FOR LOCATION PERMISSION option , this option had a different name previously which was not soo clear but now it is perfect so we can close this issue

[2022-03-07 14:21] Rishavgupta12345 commented on #3956
@nicolas-raoul this issue is useless now we can close this

[2022-03-07 19:01] #3956 closed

[2022-03-08 05:13] Rishavgupta12345 commented on #4764
is this project got selected in GSoC 2022?

[2022-03-08 05:20] Rishavgupta12345 commented on #4209
@nicolas-raoul we already have this feature in about option so we can close this issue now

[2022-03-08 05:37] Rishavgupta12345 commented on #3968
@nicolas-raoul can you please tell me what actually we have to do in this issue? is this issue even relevant to be open?

[2022-03-08 05:39] Rishavgupta12345 commented on #3951
@nicolas-raoul I would like to work on this issue but can you sum up and say me what exactly I have to do in this issue?

[2022-03-08 05:40] Rishavgupta12345 commented on #3907
@nicolas-raoul this issue is useless you can close this

[2022-03-08 06:22] Rishavgupta12345 commented on #3871
@nicolas-raoul this issue is useless you can close this

[2022-03-08 06:22] Rishavgupta12345 commented on #3866
@nicolas-raoul this issue is useless you can close this

[2022-03-08 06:30] Rishavgupta12345 commented on #3777
@nicolas-raoul we are already using room , this issue is not relevant we can close this

[2022-03-08 06:33] Rishavgupta12345 commented on #3715
@nicolas-raoul is this issue still relevant now?

[2022-03-08 06:38] Rishavgupta12345 commented on #3663
@nicolas-raoul this issue is not relevant any more so we can close this

[2022-03-08 06:43] Rishavgupta12345 commented on #3583
@nicolas-raoul I want to work on this issue please assign me

[2022-03-08 06:45] Rishavgupta12345 commented on #3562
@nicolas-raoul i think this issue is not relevant anymore and we can close this

[2022-03-08 06:57] Rishavgupta12345 commented on #3500
@nicolas-raoul this issue is not relevent now and so we can close this

[2022-03-08 06:58] Rishavgupta12345 commented on #3487
@nicolas-raoul i want to work on this issue please assign me

[2022-03-08 12:58] Aadish01 commented on #4764
Hello there , I am interested in contributing in this issue as a GSOC _contributor_, can anyone suggest starting point ..??

[2022-03-08 13:28] arinmodi commented on #4764
@Aadish01 Follow this Doc :  https://github.com/commons-app/commons-app-documentation/blob/master/android/Quick-start-guide-for-Developers.md and you good to go, Thanks

[2022-03-08 13:29] Aadish01 commented on #4764
**Thank you for the help**

[2022-03-08 13:30] arinmodi commented on #4764
@Rishavgupta12345, I think this project is selected but @nicolas-raoul, can you confirm please ?
Thanks

[2022-03-09 01:17] nicolas-raoul commented on #4764
If you mean selected by us (the Commons Android app team) as the recommended task for this year's GSoC, then the answer is **yes**.

But if you mean accepted by Google, the answer is that we do not know yet, because accepted projects will be announced on May 20 following the timeline at https://developers.google.com/open-source/gsoc/timeline
Two days ago Wikimedia got accepted as an organization:

[2022-03-09 10:32] #3987 closed

[2022-03-09 15:23] Aadish01 commented on #4764
I
![Screenshot (30)](https://user-images.githubusercontent.com/100947416/157472520-1d878a5f-370d-451d-9168-af351477e424.png)
 am facing a issue with this repo , I have cloned the repo and opened it . I loaded perfectly but gradle build is not working properly , I am attaching the screenshot of above . Please resolve it anyone .

[2022-03-09 15:25] Aadish01 commented on #4764
I have tried to change gradle versions and even edited gradle-build file , but nothing good happend .

[2022-03-09 19:34] sivaraam commented on #3715
It's still relevant because we haven't done away with the language selection menu for the "Translate" option. We could call this issue done when we remove the language selection dialog that appears upon clicking "Translate". In place of that, "Translate" should just point to a translatewiki link like the following which specifies a particular language:

https://translatewiki.net/w/i.php?title=Spec

[2022-03-09 19:54] sivaraam commented on #3562
This one is still relevant as the status of the Commons beta cluster hasn't changed much since the issue was first opened. For more information read the issue description.

[2022-03-10 02:19] nicolas-raoul commented on #4764
@Aadish01 This sounds like a common error that a web search could solve. Could you please search for your error message on sites such as Stack Overflow? If nothing on the web exists about this problem, you can ask for help at https://github.com/commons-app/apps-android-commons/issues/new?assignees=&labels=help+needed&template=need-help.yml Thank you and good luck! :-)

[2022-03-10 05:15] Rishavgupta12345 commented on #4764
I also faced the same problem while first time using < SOLUTION:- don't edit anything in the project. In a freshly cloned project go to the settings, search for Gradle, and then choose openjdk-17 (if you don't have it download it) and then apply. then Invalidate cache restart. 😎

[2022-03-10 05:46] Rishavgupta12345 commented on #3361
@nicolas-raoul  I would like to work on this issue and implement the feature told here, just verify it once,

if this is actually needed, assign me this issue

[2022-03-10 05:50] Rishavgupta12345 commented on #3358
@nicolas-raoul I would like to work on this issue, IF you actually want this feature to be implemented then assign me otherwise close this issue

[2022-03-10 05:52] Rishavgupta12345 commented on #3394
@nicolas-raoul this issue is useless you can close this

[2022-03-10 12:52] #3394 closed

[2022-03-10 14:29] Rishavgupta12345 commented on #3246
@nicolas-raoul now we don't face any problem with login so we can close this issue now

[2022-03-10 14:32] Rishavgupta12345 commented on #3247
@nicolas-raoul we have a better version of the app now and so we can close this old issue

[2022-03-10 14:37] Rishavgupta12345 commented on #3204
@nicolas-raoul this issue is obsolete so we can close this

[2022-03-10 14:41] Rishavgupta12345 commented on #3123
@nicolas-raoul I think this issue is not valid so we can close this

[2022-03-10 14:55] Rishavgupta12345 commented on #2891
@nicolas-raoul is this issue still relevant to work on? because we are still using the old version and it is working pretty well since then

[2022-03-10 14:57] Rishavgupta12345 commented on #2920
@nicolas-raoul now we have a perfectly size button so we can close this issue now

[2022-03-10 15:01] Rishavgupta12345 commented on #2950
@nicolas-raoul this issue is already fixed by the above pull request so we can close this issue now

[2022-03-10 20:45] jmanan088 commented on #4764
I'm completely new to open source and GSoC, and I want to contribute in this. Can you please point me in the right direction. Also is the contributor selected or is this still open?

[2022-03-10 22:38] nicolas-raoul commented on #4764
@jmanan088
This page has everything to get you started: https://github.com/commons-app/commons-app-documentation/blob/master/android/Students.md :-)
Still open, please refer to the GSoC timeline: https://developers.google.com/open-source/gsoc/timeline
Thanks!

[2022-03-10 23:53] jidanni opened #4885 "Have default first letter capital"
Here we see the keyboard is set for lowercase for the first letter. Well, as it'll end up uppercase later on the website and might as well be reflected in the keyboard first letter choice!
![Screenshot_20220311-075107.jpg](https://user-images.githubusercontent.com/1230959/157775022-8c73af0a-c431-477f-85f4-7699e30bd91e.jpg)

[2022-03-10 23:55] jidanni commented on #4885
In other words, on the screenshot, instead of seeing a keyboard full of lowercase letters, you should see it full of uppercase letters, for that first letter.

[2022-03-11 03:38] #2950 closed

[2022-03-11 03:39] #2920 closed

[2022-03-11 04:10] 4D17Y4 commented on #4885
That's the file name which is also dependent on the number of images. Try another image with same name, you'll see that image has an appended integer for uniqueness.
Captions and descriptions remains exactly same, you can check that on the file page.

[2022-03-11 04:14] #2910 closed

[2022-03-11 05:00] Rishavgupta12345 commented on #2785
@4D17Y4 we have a completely different Ui now so we can close this issue

[2022-03-11 05:10] Rishavgupta12345 commented on #2740
@4D17Y4 now we don't face such issue in our app so we can close this issue now

[2022-03-11 05:16] Rishavgupta12345 commented on #2747
@4D17Y4 now we have different feature in our app so we can close this old issue

[2022-03-11 05:23] Rishavgupta12345 commented on #2691
@4D17Y4 now to achievement is smoother and perfectly working so we can close this issue

[2022-03-11 05:33] Rishavgupta12345 commented on #2508
@nicolas-raoul @4D17Y4 i want to work on this issue please assign me

[2022-03-11 05:36] Rishavgupta12345 commented on #2388
@nicolas-raoul @4D17Y4 I want to work on this issue please assign me

[2022-03-11 05:43] Rishavgupta12345 opened #4887 "Clear the old issues in this repository"
### What is the user problem or growth opportunity you want to see solved?

There are 500+ issues in this project repository but many of them are old and obsolete,

so it would be great if the contributors while searching for issues face any such open issue then they would comment on it tagging the mentors of this project, to close that issue.

This will reduce the open issues and would make the r

[2022-03-11 06:19] jmanan088 commented on #4764
@nicolas-raoul Thank you for the help. I'll start right away.

[2022-03-11 06:24] Rishavgupta12345 commented on #2190
@nicolas-raoul @4D17Y4 this issue is obsolete so we can close this now

[2022-03-11 06:29] Rishavgupta12345 commented on #2158
@nicolas-raoul @4D17Y4 i would like to work on this issue please assign me

[2022-03-11 06:45] nicolas-raoul commented on #2158
@Rishavgupta12345 Thanks!
There is already a warning if the last 10 (I think) uploaded pictures do not contain latitude/longitude, hopefully you can reuse that and build upon it.

[2022-03-11 06:52] #3247 closed

[2022-03-11 06:54] #3208 closed

[2022-03-11 07:00] Rishavgupta12345 commented on #2067
do you still want this feature?

[2022-03-11 07:02] Rishavgupta12345 commented on #2002
@nicolas-raoul @4D17Y4 this issue is obsolete so we can close this now

[2022-03-11 07:03] nicolas-raoul commented on #2508
@Rishavgupta12345 Please work on one issue at a time, thanks for your enthusiasm! :-)

[2022-03-11 07:04] Rishavgupta12345 commented on #1900
@nicolas-raoul we have better feature now in our app and so we can close this issue

[2022-03-11 07:05] nicolas-raoul opened #4888 "Unit tests are failing"
Latest master:
[code]

[2022-03-11 10:14] Aadish01 commented on #4764
Can you please tell me the whole configurations of your android studio , bcos I am still unable to build gradle . configurations like gradle version , gradle plugin version . jdk version , android studio version , etc . if any dependencies you installed or something ?

[2022-03-11 11:09] Prince-kushwaha commented on #4888
@nicolas-raoul  i found these issue when i run the unit test can
i work on this issue

[2022-03-11 12:33] Rishavgupta12345 commented on #4888
@nicolas-raoul i have already solved a part of this issue MUCH BEFORE , merge this pull request #4884

fr.free.nrw.commons.customselector.ui.selector.ImageFragmentTest > testHandleResult FAILED
    java.lang.Exception at AndroidTestEnvironment.java:538
        Caused by: java.lang.reflect.InvocationTargetException at ImageFragmentTest.kt:128
            Caused by: java.lang.NullPointerException at

[2022-03-11 13:39] Rishavgupta12345 commented on #2158
can you please tell me on which file this function is implemented I am unable to find it in the project

[2022-03-11 13:51] nicolas-raoul commented on #4764
@Aadish01 Please refer to https://github.com/commons-app/apps-android-commons/issues/4764#issuecomment-1063584972 thanks!

[2022-03-11 13:52] Rishavgupta12345 commented on #2158
yes it was implemented in #4735 but I uploaded 12 pictures without location and didn't get any warning pop up or anything

[2022-03-11 13:56] nicolas-raoul commented on #4888
Here is the pull request that broke the unit tests: https://github.com/commons-app/apps-android-commons/pull/4834/files

[2022-03-11 14:02] Rishavgupta12345 commented on #4888
yes out of the 4 test failed  the first two test failed is from this  pull request and the next two tests  failed is from my pull request of #4863 so merge #4884  and the two test failed will be gone

[2022-03-11 14:14] nicolas-raoul commented on #4888
Thanks @Rishavgupta12345, now the remaining failing unit tests are:
[code]

[2022-03-12 06:04] Rishavgupta12345 commented on #2508
@4D17Y4 you can assign me this issue now

[2022-03-12 06:19] nicolas-raoul commented on #4888
I just ran `./gradlew clean testProdDebugUnitTest` in master (which has #4884 merged in already), it still fails with:
[code]

Anyone who finds a fix, please feel free to send a pull request!
Since this is quite urgent, anyone please feel free to work on this particular even if not assigned.
Thanks in advance!

[2022-03-12 07:20] #2785 closed

[2022-03-12 07:30] 4D17Y4 commented on #2508
Hey @Rishavgupta12345,
Nice work so far. Now as you have some experience working on commons I'd say go for a difficult bug and try to solve it.
Just to reiterate `A quality PR is more valuable than number of issues/PRs`.

With that said, finish up the assigned issues and then ping for this one.
Thanks.

[2022-03-12 12:23] Rishavgupta12345 commented on #2508
Thanks, @4D17Y4 I am targeting GSOC this year, it would be great to work under your guidance

[2022-03-12 12:57] devarsh-mavani-19 commented on #4888
@nicolas-raoul it's an easy Fix i will raise a PR shortly

[2022-03-12 13:20] Rishavgupta12345 commented on #4877
@nicolas-raoul @4D17Y4 solved this bug and created a pull request #4890

sorry for not assigned and still solved , but this was really a simple bug and an urgent one

[2022-03-12 13:30] devarsh-mavani-19 commented on #4888
The reason tests were failing for nicolas but not failing for rishav gupta is because nicolas was testing in prod flavor and rishav was testing in beta flavor. the test was not handled yet for production flavor. I have made changes so it should work. https://github.com/commons-app/apps-android-commons/pull/4889

[2022-03-12 13:43] Rishavgupta12345 commented on #4848
@arinmodi actually pausing upload works, BUT only once.

Click the pause button while uploading, uploading will be paused then click resume. works perfect
But if you try to pause it again , it won't pause , THIS IS THE ACTUAL issue

[2022-03-12 14:08] jidanni commented on #4885
Yes, but in all cases the first letter will be capitalized, no? If it's in Chinese it wouldn't matter anyway but for Roman characters they always get capitalized for the very first letter so it might as well be capitalized when the user enters  it anyway.

[2022-03-12 14:09] jidanni commented on #4885
The integer appended is appended at the end, I'm talking about the very beginning, the very first ASCII character.

[2022-03-12 14:14] Rishavgupta12345 commented on #4676
@nicolas-raoul an you explain a bit more about this issue ?

[2022-03-13 00:41] #4888 closed

[2022-03-13 05:53] Ayan-10 commented on #4764
Adding a bubble scrollbar in `listview` is very direct and simple in android but in the case of `recyclerview`, android directly supports fast scroll but doesn't support bubble in it. So, I was looking for some good libraries by which bubble scrollbar can be added. Listing those below.

1. https://github.com/Trendyol/BubbleScrollBar - Can not be used in the `recyclerview` which is using `GridLayou

[2022-03-13 10:30] nicolas-raoul commented on #4764
@Ayan-10 Nice research, thanks a lot! :-)
Such research may actually be planned as part of the GSoC itself. Alternatively, if you already know a library that you think is a great fit, you can write in your proposal that you will use that one (you can also add a small buffer of time so that if for some unforeseen reason the library is found to not be usable, you will still have time to go with anot

[2022-03-13 11:41] arinmodi commented on #4848
@Rishavgupta12345, did you try in Actual android 11 device ?

[2022-03-13 13:49] koala0090 opened #4891 "Bug report: Failed to clear unsuccessful uploading"
How to reproduced:

What happens?:

[2022-03-13 13:59] Ainali opened #4892 "Reuse information from depictions in categorization step"
### What is the user problem or growth opportunity you want to see solved?

It is tedious to add the category when it is perceived that the software could assist with data input.

### How do you know that this problem exists today? Why is this important?

When I add that an image depicts something that has a Commons category connected on the Wikidata item, it feels like the app could assist me by

[2022-03-13 14:11] koala0090 opened #4893 "[Bug]: Regular expression exposed when uploading files"
### Summary

Regular expression exposed when uploading files

### Steps to reproduce

### Expected behaviour

### Actual behaviour

Regular expression exposed in information box.
![Screenshot_20220308-185824311 (1)](https://user-images.githubusercontent.com/24404556/158063558-9b3cbf12-43ff-4590-a066-e8f401f5e596.jpg)

### Device name

ASUS Zenfone 6

### Android version

Android 10

### Commons ap

[2022-03-14 04:35] nicolas-raoul commented on #4676
Sorry I haven't seen this in a while, I should have closed it.
Thanks Rishav for the hint!

[2022-03-14 04:35] #4676 closed

[2022-03-14 13:27] Rishavgupta12345 opened #4894 "[Bug]: language Bengali has many string problems"
### Summary

Notice the title bar in the gif it changes from English to Bangla when tapped on the menu. Notice the name change in other tabs as well.

### Steps to reproduce

![158153697-bc771dc7-372b-4380-a97f-0259f650fbc2](https://user-images.githubusercontent.com/74723804/158181188-621531a5-05bb-49ba-91b4-17edbe6058d5.gif)

### Expected behaviour

This change of language should not happen and i

[2022-03-14 14:06] Rishavgupta12345 commented on #4893
@koala0090 can you please tell me the language in which you are using the app , because this is a language-specific issue and doesn't happens in all other languages

[2022-03-14 14:08] Rishavgupta12345 commented on #4891
same as #4893 this is a language specific issue, tell me the language in which you are using the app and facing this issue

[2022-03-14 15:19] koala0090 commented on #4893
@Rishavgupta12345 Traditional Chinese

[2022-03-15 00:50] nicolas-raoul commented on #4764
@achintya-7 Welcome to the project! Our policy is to use either Kotlin or Java. Thank you for your understanding!

[2022-03-15 04:11] achintya-7 commented on #4764
Ok , no problem.

[2022-03-15 07:35] #3246 closed

[2022-03-15 07:41] misaochan commented on #3500
@Rishavgupta12345 does the issue not happen for you anymore when following the steps listed by Macgills?

[2022-03-15 07:43] #3777 closed

[2022-03-15 07:48] misaochan commented on #4670
I believe this has been fixed by #4668 ?

[2022-03-15 07:48] #4670 closed

[2022-03-15 07:51] misaochan commented on #4850
I'm good with implementing this. :)

[2022-03-15 09:03] misaochan commented on #3871
@Rishavgupta12345 that is not a nice thing to say - we pride ourselves in being inclusive and welcoming towards all new contributors to open source.

That being said, this issue was opened a long time ago, and we have since changed the guidelines for new issues, so I will go ahead and close for this reason. @VibhorChinda if you ever return and need help, please feel free to create a new issue with

[2022-03-15 09:03] #3871 closed

[2022-03-15 09:10] misaochan commented on #4894
I believe this is not caused by the app itself, but rather by the lack of Bengali translations for "Bookmarks". We welcome any new translations, and anyone can sign up as a translator at Translatewiki.

[2022-03-15 09:11] misaochan commented on #4893
@Nikerabbit

[2022-03-15 09:14] misaochan commented on #4892
Hmm, I actually thought this was something that we had already implemented. @Ainali , could you confirm the version of the app that you are using?

Tagging @nicolas-raoul for input.

[2022-03-15 11:04] Ainali commented on #4892
Now I see! I was confused because [Q636666](https://www.wikidata.org/wiki/Q636666) did not show the category I expected. It turns out that it has two values on [P373](https://www.wikidata.org/wiki/Q636666#P373) and the one that unfortunately is hard to interpret for me is chosen in the app. Perhaps in cases where there are several values the app should show all of them, or if you only want to go w

[2022-03-15 11:34] nicolas-raoul commented on #4892
I did not know an item could have several P373. 🤯

It is a Wikidata constraint violation but I guess it is OK for some types of items ("_ship can change [name](https://en.wikipedia.org/wiki/Ship_naming_and_launching) and [flag state](https://en.wikipedia.org/wiki/Flag_state) through time, but the [IMO number](https://en.wikipedia.org/wiki/IMO_number) remains the same through the [hull's](https://e

[2022-03-15 11:43] Ainali commented on #4892
Sure, I'll do that!

[2022-03-15 11:48] Ainali opened #4895 "[Bug]: Only one category shows for a depicted item if it have several values on P373"
### Summary

I noticed on [Q636666](https://www.wikidata.org/wiki/Q636666) that it did not show the category I expected. It turns out that it has two values on [P373](https://www.wikidata.org/wiki/Q636666#P373) and the one that unfortunately is hard to interpret for me is chosen in the app.

### Steps to reproduce

1. Upload an image
2. In depicts, select an item with several values on P373
3. In

[2022-03-15 13:01] Rishavgupta12345 commented on #4850
@neslihanturan @nicolas-raoul so tell me the work I have to do in this issue and then please assign me this issue

[2022-03-15 15:57] #4892 closed

[2022-03-16 04:05] 4D17Y4 commented on #4877
### **Please do not start working on an unassigned issue.**

Ping us to get assigned and then notify with the proposed solution.
If accepted, start working.

Closing this as it is solved.

[2022-03-16 05:27] nicolas-raoul commented on #4895
Interestingly the `DepictedItem` class already has `commonsCategories: List<CategoryItem>`, we should verify that:
- It is filled correctly
- We surface all of its elements as suggestions, not just the first element.

[2022-03-16 05:43] nicolas-raoul commented on #4877
For long-term resolution, the change should be performed in Translatewiki.
`app/src/main/res/values-bn/strings.xml` get overwritten regularly by content from Translatewiki.
https://github.com/commons-app/commons-app-documentation/blob/master/android/Translating-the-app.md

[2022-03-16 08:14] Ainali commented on #4895
I made this screencast:

https://user-images.githubusercontent.com/5566159/158545266-d4f06992-6a3d-4fe2-a8a9-13969e7d8314.mp4

Interestingly it shows a category Ventura (ship), which doesn't exist. The name of the other category on Wikidata which exists on Commons, and the one I expected, is Ventura (ship, 2008).

[2022-03-16 10:34] nicolas-raoul commented on #4850
Just find all occurrences of `only available in the prod flavor` (might be a bit different) and add `Please check the developer documentation.` at the end. Thanks! :-)

[2022-03-16 12:39] #4808 closed

[2022-03-16 18:15] sivaraam opened #4896 "Hackathon 2022"
### Description

The [announcement for Hackathon 2022](https://mediawiki.org/wiki/Wikimedia_Hackathon_2022) is now live! It seems it would be a hybrid of online and local in-person meetups.

It is possible to apply for rapid grants until March 20 2022 to host local meetups during or around the Hackathon.

The duration of the hackathon is May 20-22, 2022. The schedule is yet to come.

[2022-03-17 06:48] Nikerabbit commented on #4893
Please ping @translatewiki in the future to get attention from our support team.

Looks like one translator has used `$` in place of `%`. I have filed https://phabricator.wikimedia.org/T304043 to prevent it from happening again.

[2022-03-17 10:12] #4776 closed

[2022-03-17 10:52] nicolas-raoul opened #4898 "[Bug]:"
### Summary

When reviewing, at some point the "Yes" and "No" buttons got both disabled and never become enabled in the previous step.

Skipping the image and trying review another image did not solve the problem, both buttons were still disabled at that step.

![adb](https://user-images.githubusercontent.com/99590/158780276-093219b6-3781-4132-9fe7-547f399b8126.png)

### Steps to reproduce

Diffic

[2022-03-18 06:01] Rishavgupta12345 commented on #2508
@nicolas-raoul @4D17Y4 please assign me this

[2022-03-18 06:38] nicolas-raoul opened #4900 "App downloads too many of my contributions, without reason"
### Summary

Even without scrolling down, the app seems to download the metadata of hundreds of my past contributions.
This wastes network data, storage space, and seems to be the root cause of [a "Davey" latency problem](https://github.com/commons-app/apps-android-commons/pull/4725#issuecomment-1051425419).

### Steps to reproduce

1. Install the app with an account that has hundreds of uploads (

[2022-03-18 07:16] devarsh-mavani-19 commented on #4900
@nicolas-raoul  So we want something like lazy loading (pagination)? As we scroll down, more data should be loaded right?
I would like to work on this issue

[2022-03-18 08:05] misaochan commented on #4900
Hmm, it looks like when we introduced lazy loading, we only introduced it for the images but not the metadata. So I think we would need to download the data at the appropriate time (when the image is downloaded), not all at the start.

[2022-03-18 10:06] nicolas-raoul commented on #4900
@misaochan : I wrote metadata, but I am not too sure what transits. I just see a packet per picture, at a very fast pace (more than 1 request per second), and that seems to never stop.

@devarsh-mavani-19 : Thanks! Better use prod for this issue as it is not about writing. Do you have an account with hundreds of contributions? If not, see the tip above :-)

[2022-03-18 11:09] devarsh-mavani-19 commented on #4900
@nicolas-raoul no I don't have account with hundreds of contribution.

[2022-03-18 14:26] nicolas-raoul commented on #4900
@devarsh-mavani-19 Please send me an email as tipped at https://github.com/commons-app/apps-android-commons/issues/4359#issuecomment-820904731 thanks!

[2022-03-18 17:13] Ainali opened #4901 "[Bug]: Category "Amavenita (ship, 2014)" not found"
### Summary

I serached for a category that exists, but it doesn't show up.

### Steps to reproduce

1. When uploading an image, search for category: Amavenita

### Expected behaviour

[Category:Amavenita (ship, 2014)](https://commons.wikimedia.org/wiki/Category:Amavenita_(ship,_2014)) should be suggested.

### Actual behaviour

"No Categories found"

### Device name

Samsung Galaxy S10

### Andro

[2022-03-19 07:13] devarsh-mavani-19 commented on #4901
@Ainali isn't this the expected behaviour.? Because, Amavenita (ship, 2014) is a non-hidden category and I think we are only supposed to show the hidden category.

[2022-03-19 07:26] Ainali commented on #4901
Oh, I didn't realize. Then this is a duplicate with #4192 (and a use case for why it is needed, this is how all ships are categorized and the way for a human to identify them).

[2022-03-19 08:27] devarsh-mavani-19 commented on #4192
@nicolas-raoul do u recommend providing this option in settings or on the category selection screen or both?

[2022-03-19 09:13] nicolas-raoul commented on #4901
@devarsh-mavani-19 I would consider that a bug. If a category is not hidden, then the upload wizard's category search step is **supposed to** show it.

[2022-03-19 09:19] nicolas-raoul commented on #4901
By the way, when I search for "rabbits", the first result is https://commons.wikimedia.org/wiki/Category:Rabbits which is not a hidden category:

![adb](https://user-images.githubusercontent.com/99590/159115296-dff3836c-346d-4088-b66f-00e2c4f8d59e.png)

[2022-03-19 09:30] nicolas-raoul commented on #4192
Category search is already very buggy (in part because of server-side issues) so I am hesitant to add settings to it, as settings tend to slow down bug resolution (because different people experience different behaviors).

That sounds reasonable. Even for non-hidden categories, sometimes typing the exact category name does not make it appear in search (presumably because the API does not like some

[2022-03-19 09:56] devarsh-mavani-19 commented on #4901
Yes that is how it should work if it is non-hidden, then it should be displayed. However, in case of Ainali it was not displayed because category name contained a year which was older than previous year  (Amavenita (ship, **2014**)). so according to this issue #750 it should be filtered out.

so just to summarize currently 2 conditions must met 1. it should be non-hidden and 2nd either should not

[2022-03-19 10:18] Ainali commented on #4901
Then I would still consider that issue to have been too poorly defined, because the app shouldn't filter out things where the year is part of the identifier of that thing, in this case, the ship that got the name in 2014. (Also, the app should probably not filter out by year, since it's common to upload files a day or two after they are taken which means that if I upload an image on January 1, I e

[2022-03-19 10:47] sivaraam commented on #4901
I'm presuming the issue #750 was understood properly but the fix for it was a bit loose than it should've been. The [relevant code snippet](https://github.com/commons-app/apps-android-commons/blob/15fa93e8d004bd0f55515e6d33c7228b23d63026/app/src/main/java/fr/free/nrw/commons/category/CategoriesModel.kt):

[code]

That essential returns true (which means the category is filtered out) when the name:

[2022-03-19 13:02] nicolas-raoul commented on #4901
Thanks a lot @devarsh-mavani-19 for finding this out!
I had forgotten about this feature.
Do wee all agree on this?
- `Photographs taken on 2015-11-08` -> Hide
- `Amavenita (ship, 2014)` -> Do not hide

[2022-03-19 13:24] devarsh-mavani-19 commented on #4901
yes

[2022-03-19 13:57] sivaraam commented on #4487
Just to be sure, in order to get the alpha builds back up is the only thing left is to contact WMF and set-up the credentials for the Actions workflow?

[2022-03-19 18:03] achintya-7 commented on #4764
I have worked on the implementation of the following feature this weekend. I would like to share my progress as of now. I am attaching a GIF of the preview of the app.

![demo1](https://user-images.githubusercontent.com/67036708/159132628-f53592a8-4667-4383-917a-9d4c62d289e4.gif)

I will be working on the fullscreen gesture detector and then the switch button implementation next.
You can refer to

[2022-03-19 18:19] sivaraam commented on #4192
I'm wondering if you would really need to invoke the `parse` action. Wouldn't it be more relevant to just use the `query` action without any of the local filtering that we do?

Success: https://commons.wikimedia.org/w/api.php?action=query&format=json&prop=categoryinfo&titles=Category%3ARabbits

Error: https://commons.wikimedia.org/w/api.php?action=query&format=json&prop=categoryinfo&titles=Categor

[2022-03-20 00:28] nicolas-raoul commented on #4192
Thanks @sivaraam that's indeed much better!

[2022-03-20 02:14] nicolas-raoul commented on #4764
@achintya-7 There might have been a misunderstanding. Implementing this project will be done this summer by the selected student. If you really want, it is OK to investigate a few things to evaluate difficulty or compare strategies, but you should probably not spend too much time on it. You only have to do what's described at https://github.com/commons-app/commons-app-documentation/blob/master/and

[2022-03-20 02:15] 4D17Y4 commented on #4764
Hey @achintya-7
This is a GSoC task which means all the work related to it like research, implementation, documentation and testing is to be done in that period.

Right now you just have to create a strong proposal and to make it strong we recommend solving bugs from the app. This would build your understanding of this project and help in your GSoC.

Finally, mockups are nice but remember these fe

[2022-03-20 02:20] #4273 closed

[2022-03-20 02:22] #4850 closed

[2022-03-20 03:06] nicolas-raoul opened #4904 "Feedback section title contains links and "talk", should only contain plain-text username"
### Summary

Currently the app posts `~~~` which is transformed into something complex.
Instead, the app should insert the username (may be `AccountUtil.getUserName`).

### Steps to reproduce

1. Log into the app
2. Tap the hamburger menu
3. Tap `Feedback`
4. Send some feedback
5. Go to https://commons.wikimedia.org/wiki/Commons:Mobile_app/Feedback
6. Click `Edit` to see the wikicode

### Expected

[2022-03-20 03:10] #4779 closed

[2022-03-20 04:03] nicolas-raoul commented on #1900
@Rishavgupta12345 We don't have this feature yet.

[2022-03-20 04:08] nicolas-raoul commented on #2002
Let's reopen if this happens again.

[2022-03-20 04:08] #2002 closed

[2022-03-20 04:08] nicolas-raoul commented on #2067
@Rishavgupta12345  Yes that could be a nice feature :-)

[2022-03-20 05:36] devarsh-mavani-19 commented on #4904
Will do it

[2022-03-20 06:51] devarsh-mavani-19 commented on #4900
sorry for the delay. sent you an email

[2022-03-20 06:57] nicolas-raoul opened #4906 "Peer review: "thank the contributor" should show snackbar instead of notification"
![adb](https://user-images.githubusercontent.com/99590/159151757-41e422f1-d334-4471-903f-115f868d7147.png)

[2022-03-20 06:58] nicolas-raoul commented on #2747
Created clearer issue: https://github.com/commons-app/apps-android-commons/issues/4906

[2022-03-20 06:58] #2747 closed

[2022-03-20 07:40] nicolas-raoul commented on #2388
@neslihanturan Do you think this is a good idea, actually? If yes, Rishav can work on it.

@madhurgupta10 Is a library really needed? The PR https://github.com/commons-app/apps-android-commons/pull/2389 does not seem to use any.

[2022-03-20 07:41] nicolas-raoul commented on #2891
Closing for now, but if anyone has a mockup please do not hesitate to post a comment :-)

[2022-03-20 07:41] #2891 closed

[2022-03-20 07:43] nicolas-raoul commented on #3123
Indeed I have not seen any disambiguation category suggested, recently.

@Aktron If you find a disambiguation category being suggested, would you mind telling us which one exactly, so that we can reproduce the issue? Thanks!

[2022-03-20 07:43] #3123 closed

[2022-03-20 07:44] #3204 closed

[2022-03-20 07:47] nicolas-raoul commented on #3358
There might be cases where it is useful, for instance for currently happening events, or when someone just posted in a category or depiction or with some keywords and want to see their upload appear. Still very low priority, so better work on a bug Rishav, it would be more impactful in my opinion :-)

[2022-03-20 07:50] nicolas-raoul commented on #3361
@Rishavgupta12345 Thanks please follow https://github.com/commons-app/apps-android-commons/issues/3361#issuecomment-725372809

[2022-03-20 07:53] nicolas-raoul commented on #3431
I believe there is no issue here, so I close for now. If you believe something must be fixed, please comment, preferably linking to official Android guidelines. Thanks all!

[2022-03-20 07:53] #3431 closed

[2022-03-20 07:57] nicolas-raoul commented on #3583
As we lack reviewers, some reasonable PRs have been sleeping for much more than 14 days. I don't see it as a problem, we review PRs when we have time :-)

[2022-03-20 07:58] #3663 closed

[2022-03-20 08:00] nicolas-raoul commented on #3866
@Rishavgupta12345 Please do not say "useless", that's unfriendly.

@ghost Did you find anything? If yes feel free to comment :-)

[2022-03-20 08:00] #3866 closed

[2022-03-20 08:01] nicolas-raoul commented on #3907
@Rishavgupta12345 Please do not say "useless", that's unfriendly.

[2022-03-20 08:01] #3907 closed

[2022-03-20 08:24] nicolas-raoul commented on #3951
https://commons-app.github.io/#usage now has full instructions on how to perform an upload.

[2022-03-20 08:24] #3951 closed

[2022-03-20 08:31] nicolas-raoul commented on #3968
Beta versioning is not used as much as it used to be in the past, so no need to spend time on this now.

[2022-03-20 08:31] #3968 closed

[2022-03-20 08:33] #4209 closed

[2022-03-20 09:16] arinmodi commented on #4906
I want to work on this

[2022-03-20 09:32] nicolas-raoul commented on #4835
Strangely I can't reproduce this in master anymore.

[2022-03-20 09:43] #4904 closed

[2022-03-20 09:44] arinmodi commented on #4835
I think that's because we added the pause dialogue, but in my device i am able to reproduce even with the pause dialogue.

[2022-03-20 10:15] madhurgupta10 commented on #2388
@nicolas-raoul External library not needed for this task. Also, we should not be replacing every single Toast with Snackbar

Links for reference
https://stackoverflow.com/questions/34432339/android-snackbar-vs-toast-usage-and-difference

https://material.io/archive/guidelines/components/snackbars-toasts.html#:~:text=Snackbars%20contain%20a%20single%20line,not%20be%20swiped%20off%2Dscreen.

Lastly,

[2022-03-20 10:44] nicolas-raoul commented on #2388
@Rishavgupta12345 you already have quite a few issues assigned, if you still want to work on this task afterwards please ask again, thanks :-)

[2022-03-20 10:46] nicolas-raoul commented on #4835
Indeed that's probably linked!
Would you mind posting updated steps for reproduction? Thanks a lot!

[2022-03-20 11:04] arinmodi commented on #4906
![Screenshot_20220320-152617~3](https://user-images.githubusercontent.com/61725413/159159289-c9360ad6-0804-4b7e-8b07-6cbb76b626c2.png)

Is this ok ?

[2022-03-20 11:28] nicolas-raoul opened #4908 "Thumbnail image is grey during upload"
When a picture is being uploaded, it is shown as a grey default thumbnail:

![adb](https://user-images.githubusercontent.com/99590/159159847-aac70aeb-1c6a-4721-b83d-50fb862f371e.png)

I think that showing a thumbnail of the real picture would be more user-friendly, especially when I want to pause a given picture within a multi-upload, or to know what picture's upload failed, or to choose what pict

[2022-03-20 11:35] arinmodi commented on #4908
I can solve this in the #4908 PR

[2022-03-20 11:36] arinmodi commented on #4908
I can solve this in #4905

[2022-03-20 11:45] devarsh-mavani-19 commented on #4192
If I understood correctly,
Lets suppose that the text entered in search bar matches a category, then in that case we should shown it in suggestion box right? If true then I think it won't be much helpful to users as they still have to manually type in category name, rather than us providing suggestions.

Please correct me if I am wrong.

[2022-03-20 11:49] arinmodi commented on #4835
![Screenshot_20220320-171256~2](https://user-images.githubusercontent.com/61725413/159160690-dc7c5d4a-dcd5-4f46-9ee7-f2664f5e14d5.png)

Here are the steps:

1. Upload multiple images from the app
2. Try to stop the all four fast
And one image will be still uploading

I followed above step and able to reproduce

[2022-03-20 12:10] nicolas-raoul commented on #4908
@arinmodi It is better done in a separate pull request.

[2022-03-20 12:12] nicolas-raoul commented on #4906
Seeing this now, I am a bit worried about usability. Performing peer review usually means tapping about 1 button per second, so the button being hidden impacts productivity.

[2022-03-20 12:14] nicolas-raoul commented on #4192
After performing API calls 1 and 2, you would concatenate the results:
- Result of API call 2 (if not an error) as the first suggestion.
- Results of API call 1 as the rest of the suggestions.

[2022-03-20 12:16] nicolas-raoul commented on #4835
Strange, I do not reproduce despite using the same steps. I tried several times.

[2022-03-20 12:30] arinmodi commented on #4906
I think it will not a major issue cause we are displaying the snackbar for a sec and there is also a sec delay before the user start the next review because of the loading of the image. So it will not affect the user.

[2022-03-20 13:32] arinmodi commented on #4908
ok @nicolas-raoul, please assign this to me

[2022-03-20 13:32] nicolas-raoul commented on #2358
Much faster now :-)

[2022-03-20 13:32] #2358 closed

[2022-03-21 03:56] devarsh-mavani-19 commented on #4192
ok got it thanks.
@sivaraam would u like to work on this? if not I will. Thanks : )

[2022-03-21 04:50] nicolas-raoul opened #4911 "Media details shows `Add categories to this image to improve usability` despite categories correctly saved"
Steps to reproduce:
- Run app.
- Start uploading a picture.
- At the categories selection step, select a few categories.
- Finish the upload.
- Once uploaded, tap the uploaded picture to upload Media details

Expected: The media details should show the added categories
Actually: The media details show `None selected` in the `Categories` section and a warning says `Add categories to this image to i

[2022-03-21 07:00] nicolas-raoul opened #4912 "Short freeze when coming back from media details"
After leaving the app for a few hours on a picture's media details, tapping Android's "back" button did not work at first. It was just slow and after like 10 seconds I was successfully back to the contributions screen. But it should not be that slow.

It _might_ be related to https://github.com/commons-app/apps-android-commons/issues/4900

Logcat, I am not sure exactly when the freeze started and

[2022-03-21 07:14] nicolas-raoul opened #4913 "Depiction not found despite Wikidata item with that exact name"
Steps to reproduce:
1. Start an upload
2. At the depictions selection step, type `ouagadougou`

Expected: [The Ouagadougou item](https://www.wikidata.org/wiki/Q3777) is suggested
Actually: Nothing is suggested

[code]

As you can see, the app calls [the correct URL](https://www.wikidata.org/w/api.php?action=wbsearchentities&format=json&type=item&uselang=en&search=ouagadougou&limit=25&language=en&u

[2022-03-21 07:53] arinmodi commented on #4906
@nicolas-raoul, please update on this

[2022-03-21 08:30] nicolas-raoul commented on #4906
If you believe it does not hinder fast peer review, please send a pull request and we will be able to try it out.
Thanks!

[2022-03-21 10:34] arinmodi commented on #4906
made the pr

[2022-03-21 13:25] #4908 closed

[2022-03-22 04:21] achintya-7 commented on #4764
Ok, well I do got to know a lot of new stuff for native android. I'll look into other issues then.

[2022-03-22 05:33] #4616 closed

[2022-03-23 02:15] #4900 closed

[2022-03-23 06:00] Rishavgupta12345 commented on #3487
@madhurgupta10 @nicolas-raoul I was assigned this issue but I found out that this issue is pretty old.

and this feature is already implemented in our app, we are already using the progress bar in the ZOOM ACTIVITY.

so you can close this issue

[2022-03-23 06:16] Rishavgupta12345 commented on #2508
@nicolas-raoul @4D17Y4 worked on previous issues , so assign me this one

[2022-03-23 06:22] Rishavgupta12345 commented on #2388
@nicolas-raoul @4D17Y4 work on previous issues is completed , please assign me this one

[2022-03-23 06:57] Rishavgupta12345 commented on #4764
@nicolas-raoul @4D17Y4 According to https://github.com/commons-app/commons-app-documentation/blob/master/android/Students.md can i consider this project to work on in GSOC 2022 ?

[2022-03-23 06:57] Rishavgupta12345 commented on #1192
@nicolas-raoul  @4D17Y4  According to https://github.com/commons-app/commons-app-documentation/blob/master/android/Students.md can i consider this project to work on in GSOC 2022?

[2022-03-23 07:00] Rishavgupta12345 commented on #965
@nicolas-raoul @4D17Y4  According to https://github.com/commons-app/commons-app-documentation/blob/master/android/Students.md can i consider this project to work on in GSOC 2022 ?

[2022-03-23 07:00] Rishavgupta12345 commented on #4
@nicolas-raoul @4D17Y4  According to https://github.com/commons-app/commons-app-documentation/blob/master/android/Students.md can i consider this project to work on in GSOC 2022 ?

[2022-03-23 07:12] nicolas-raoul commented on #1192
@Rishavgupta12345 If for any reason you are strongly motivated by this issue, you can choose it. But otherwise I would suggest #4764. You can also submit a proposal for each.

[2022-03-23 07:14] nicolas-raoul commented on #965
@Rishavgupta12345 If for any reason you are strongly motivated by (https://github.com/commons-app/apps-android-commons/issues/953 + https://github.com/commons-app/apps-android-commons/issues/965), you can choose it. But otherwise I would suggest #4764.

[2022-03-23 07:17] nicolas-raoul commented on #4
@Rishavgupta12345 If for any reason you are strongly motivated by this issue, you can choose it. But otherwise I would suggest #4764. You can also submit a proposal for each.

[2022-03-23 07:33] #4544 closed

[2022-03-23 08:46] nicolas-raoul commented on #2508
This issue has the `debated` label, which means that it is not ready for a volunteer to work on.
The reason is still https://github.com/commons-app/apps-android-commons/issues/2508#issuecomment-466662817, upload is still failing very often.
Thanks! :-)

[2022-03-23 08:51] nicolas-raoul commented on #3487
@Rishavgupta12345 : Understood, you are always free to unassign yourself from any issue. About closing this issue: I see that many classes are still using `android.app.ProgressDialog`, for instance `fr/free/nrw/commons/upload/UploadActivity.java` or `fr/free/nrw/commons/auth/LoginActivity.java`.

[2022-03-23 22:09] JAnDud opened #4917 "Connect to Wikidata item"
### What is the user problem or growth opportunity you want to see solved?

sometimes I upload photo and app asks "is this picture of XXX?" Sometimes is XXX correct, but sometimes is XXX another object. And sometimes there is also YYY which is in shorter distance from photo, but app offers XXX.
It should be fine, if I can in this case select another object near me.

### How do you know that this p

[2022-03-23 22:15] JAnDud opened #4918 "Provide better (more) maps"
### What is the user problem or growth opportunity you want to see solved?

as user of OSM mapnik and [mapy.cz](http://mapy.cz/) I found used map too much googlish (only streets and rivers, missing many ponds, forests, landmarks etc). It should be fine if I can select between more maps (see c-geo app for geocaching)

![3xDoudleby](https://user-images.githubusercontent.com/19319822/159804954-ddae4e

[2022-03-24 02:15] 4D17Y4 opened #4919 "[Bug]: Crash on image upload."
### Summary

Uploading in current master crashes the app with following log :

        at android.database.sqlite.SQLiteConnection.nativePrepareStatement(Native Method)
        at android.database.sqlite.SQLiteConnection.acquirePreparedStatement(SQLiteConnection.java:986)
        at android.database.sqlite.SQLiteConnection.prepare(SQLiteConnection.java:593)
        at android.database.sqlite.SQLit

[2022-03-25 11:40] nicolas-raoul commented on #4919
Does this happen even after removing the app's data?

[2022-03-25 16:29] misaochan commented on #4487
Yes, I'm not familiar with how to recreate the Travis pipelines with Actions though. But if anyone would be willing to take this up, that would be great. :)

Once we have the PR up for the new workflows, I can contact WMF for the credentials, that was the final step when we did it previously.

[2022-03-25 18:38] misaochan commented on #4919
Hi @4D17Y4 , could you list the steps to reproduce in a more detailed manner please? For instance, are you uploading through Contributions > Gallery, or Nearby? At what step does the upload crash?

[2022-03-25 18:53] #4919 closed

[2022-03-26 05:25] Rishavgupta12345 commented on #3361
@nicolas-raoul you can close this issue now

[2022-03-26 07:53] #3361 closed

[2022-03-26 12:32] AdityaArunSharma commented on #3361
Please remove me from your mailing list

On Sat, Mar 26, 2022, 1:23 PM Nicolas Raoul ***@***.***>
wrote:

[2022-03-26 12:52] nicolas-raoul opened #4922 "Crash when trying to edit description (in Media details)"
### Summary

[code]
Same stack trace as #4919 so it might be the same issue. I create a new issue since it happens in a different place.

### Steps to reproduce

1. Open app
2. Upload pictures with captions in several languages (might be optional)
3. In your contributions or in Explore, tap on any picture (this opens media details)
4. Tap on the pen circled in red:
![adb](https://user-images.githu

[2022-03-26 12:55] nicolas-raoul commented on #4922
Probably linked to this recently merged pull request: https://github.com/commons-app/apps-android-commons/pull/4880

[2022-03-26 13:49] nicolas-raoul opened #4923 ""NumberFormatException: There are more than one component" at ExifAttribute.getIntValue"
For a particular picture, I am getting this crash everytime I send it for upload via "share":
[code]
or this shorter exception trace when I open that picture's folder in custom selector:
[code]
Below is the picture, it might have been modified during the upload so you might not be able to reproduce the crash. Even if you are not able to reproduce the crash, you can try to catch/prevent it and I ca