[2017-06-27 11:02] nicolas-raoul opened #750 "Filter out irrelevant categories"
Here are the patterns I can think of right now (feel free to add more):
- https://commons.wikimedia.org/wiki/Category:Media_needing_categories_as_of_16_June_2017
- https://commons.wikimedia.org/wiki/Category:Photographs_taken_on_2015-11-08

![screenshot from 2017-06-27 20-01-00](https://user-images.githubusercontent.com/99590/27584546-6b771af0-5b73-11e7-8f16-45b082be74a1.png)

Implementation will

[2017-06-27 11:19] nicolas-raoul commented on #85
For what it's worth, here is how Google motivates people to upload more pictures.
I guess they are as interested in data quality as us. I wonder how they deal with people who upload crap.
![screenshot from 2017-06-27 20-17-05](https://user-images.githubusercontent.com/99590/27585113-d5803416-5b75-11e7-9d3f-d4f030437e44.png)

[2017-06-27 12:12] VojtechDostal commented on #696
What we need is to have a subcategory with images uploaded Jul 2016 - Jun 2017. We can then use this category to get the number of uploaders via Uploaders in Cat and number of usages via GLAMorous. That shouldn't be that difficult but Petscan times out when I try to get a list of images uploaded into that category during the above-mentioned period of time (60000 images is too much for Petscan). Ma

[2017-06-27 12:47] whym commented on #696
For the number of images uploaded added to articles in a timeframe, using [Didym's gallery pages](https://commons.wikimedia.org/wiki/Special:PrefixIndex/User:Didym/Mobile_upload) seems to work. It looks like GLAMolous can handle a hundred of page titles: [link](https://tools.wmflabs.org/glamtools/glamorous.php?doit=1&category=&use_globalusage=1&ns0=1&gallerypages=User%3ADidym%2FMobile+upload%2F201

[2017-06-27 14:07] misaochan commented on #696
@whym , the GLAMorous link you posted auto-times out for me.

Good idea re: the random sampling for iOS vs Android, I'll do that.

[2017-06-27 18:20] misaochan commented on #748
Does this only happen if you share via the Android gallery app? Or does it also happen if you go into the app and upload from gallery?

[2017-06-28 06:28] gupta-meghna64 commented on #621
![image](https://user-images.githubusercontent.com/20908024/27623150-b43da152-5bf8-11e7-9495-c531f48fc95a.png)
@tobias47n9e  Is this vector image fine instead of the raster image that is currently being used for nearby-map markers ?
If so, can I work on this issue ?

[2017-06-28 06:58] misaochan commented on #621
@gupta-meghna64 I can't answer your image question, will have to wait for @tobias47n9e or @neslihanturan for that. But absolutely, feel free to work on any issue here at all, and let us know if you need any help. :)

[2017-06-28 07:01] misaochan commented on #696
Also, is there a way to automatically get a sum of the items in Didym's gallery pages?

[2017-06-28 12:11] neslihanturan commented on #621
Hi @gupta-meghna64 , thanks for your interest. I think we should definitely use vectors in our app. But it can be better if you can colourise the icon to our application blue.

Plus, the file is a .png export, however it is suppose to be a .svg file to solve the problem. Otherwise same thing would happen again. Or, we can use .xml files with <vector> tags also.

I use inkscape software (free softw

[2017-06-28 13:35] VojtechDostal commented on #696
I asked Martin Urbanec from our chapter to kindly help with the subcategory. It seems he could easily use Didym's gallery pages for that :-)

[2017-06-28 14:33] VojtechDostal commented on #696
See https://commons.wikimedia.org/wiki/Category:Uploaded_with_Mobile/Android_(Jul_2016_-_Jun_2017)

[2017-06-28 15:34] misaochan commented on #696
@VojtechDostal thanks for the link, but I wonder why there are only 208 files in that category? There should be a lot more than that from the looks of things.

[2017-06-28 15:38] VojtechDostal commented on #696
It takes some time to fill that category and also Martin decided to ask for a bot flag because it seems someone didn't like using a bot without a flag. If you know someone who operates a bot... eg. @whym ? Then the list of files to be categorized is here: https://quarry.wmflabs.org/query/19871

[2017-06-28 15:52] misaochan commented on #696
Oh, cool, thanks for the clarification. :) No worries, I'm heading off to bed soon anyway so I'll check on the category again tomorrow.

[2017-06-28 15:53] misaochan commented on #696
(Also, please pass my thanks on to Martin :) )

[2017-06-28 21:32] domdomegg commented on #740
Uploaded SVG with red x, and fixed so the x is identical size to the no selfie pic

https://commons.wikimedia.org/wiki/File:Social_media_app_mockup_screenshot_rejected.svg

(Also released via CC0)

[2017-06-29 10:43] #740 closed

[2017-06-29 11:15] misaochan commented on #696
@VojtechDostal , do you think the category has been filled? The number (4589) is still different from the numbers in the [stats tool](https://github.com/whym/commons-app-stats/issues/1), which adds up to 20554.

[2017-06-29 11:52] urbanecm commented on #696
You are right, my mistake. I'm going to fix it now. Sorry! --Martin U.

[2017-06-29 12:27] misaochan commented on #696
Thanks so much @urbanecm ! :) When do you think I should check the category again?

[2017-06-29 12:30] urbanecm commented on #696
It depends... I'm ending with around 50k (and not your 20k) of images and I'm wondering if this is correct. I've used this query https://quarry.wmflabs.org/query/19912.

[2017-06-29 12:31] misaochan commented on #696
Wow, interesting lol. Any idea why the discrepancy with your stats tool, @whym ?

[2017-06-29 12:33] misaochan commented on #696
One more thing - does the query check for new files or just for any edits made within the timespan? The app does a lot of edits (category additions) that aren't supposed to be counted.

[2017-06-29 12:37] urbanecm commented on #696
I'm wondering why it tooked https://commons.wikimedia.org/w/index.php?title=File:Plant%C3%A0_Regne_2013_(4).jpeg&action=history when it has NO 2016 in its history. I probably misunderstood the aim of the cl_timestamp field.

I'm going to make a new query which would look for upload-type logs in https://commons.wikimedia.org/wiki/Special:Log and would print images were uploaded within the timespan

[2017-06-29 12:48] whym commented on #696
Can you try pasting the titles of the gallery pages? https://commons.wikimedia.org/wiki/Special:PrefixIndex/User:Didym/Mobile_upload You will need to add the "User:" prefix.

https://tools.wmflabs.org/commons-app-stats/latest.csv.gz contains individual file titles with upload dates. Is this what you are looking for?

[2017-06-29 12:50] urbanecm commented on #696
Yeah, it is but I need older data too. But it seems I've got it, around 20k of images, see https://quarry.wmflabs.org/query/19914. It looks okay. What do you think?

[2017-06-29 12:58] urbanecm commented on #696
@misaochan Do you think https://quarry.wmflabs.org/query/19914 looks okay (I mean the results)? I don't want to do similar mistake again :-).

[2017-06-29 14:40] misaochan commented on #696
@urbanecm Yes the last Quarry looks perfect to me, thanks! (Sorry, was away for a while)

[2017-06-29 14:43] urbanecm commented on #696
Great @misaochan. Per IRC discussion with one of Commons's bureaucrats he prefer I fill the category with a flag so I'll wait for evaluation of my bot rights request (https://commons.wikimedia.org/wiki/Commons:Bots/Requests/UrbanecmBot).

[2017-06-29 14:51] misaochan commented on #696
Oh okay, no worries @urbanecm . Do you think you could ping me when the category is ready to be used? Thanks so much again. :)

[2017-06-29 14:53] misaochan commented on #696
@whym Sorry for the lack of clarification - Martin's sub-category is all that is currently needed, as when we have filled the category with images from the appropriate timespan, I can just paste it into UploadersInCat and GLAMorous. I was just wondering why his query was getting a widely divergent number from your stats tool, but that has been resolved now. Sorry about that!

[2017-06-29 14:55] urbanecm commented on #696
Yeah, I'll ping you.

[2017-06-29 19:02] neslihanturan commented on #667
After several tests, I am pretty much sure about the reason:
On every filter input changes, a new async task is working to update category results. When a new input comes (very fast) and the old one is still not ready (because of api call), we cancel old thread because we don't need its results any more (instead, we need results for new input). However, cancelling a thread doesn't kill the network

[2017-06-29 19:05] maskaravivek commented on #746
Yes, it would be great to implement the offline support(upload later). I would be able to help with the flow and sync logic having done it for offline payments. :)

[2017-06-29 21:48] neslihanturan commented on #732
I think this has the same reason with #733 and might be solved by adding one line, but do we have more information about re-producing them? Or does this bug occur on every app launch on specified devices?

[2017-06-30 07:15] misaochan commented on #732
Unfortunately the information that I posted above is all we have. It would be easier for you guys to be able to log in to the developer console and see the charts for easier visualization, but I have requested access for you guys a couple of weeks ago and WMF hasn't gotten back to me about that.

At any rate, I don't think anything in the console says whether it occurs on every app launch on speci

[2017-06-30 07:22] misaochan commented on #746
Sounds good to me. :) Do you guys think it is sufficiently important/easy that we should add it to the renewal proposal? Or if it's not easy, do you think it's sufficiently important that we should remove something else to make way for this?

[2017-06-30 07:30] misaochan commented on #517
This is done, thanks all!

[2017-06-30 07:30] #517 closed

[2017-06-30 07:48] neslihanturan commented on #746
Hard question. I don't think it is easy, however in my point of view it is quite important.

[2017-06-30 08:21] urbanecm commented on #696
@misaochan I've got the flag so the category is being filled with the rest of results (some were in both of queries), currently around 6 edits/min, so around 2 days till the task would be completed.

[2017-06-30 08:45] misaochan commented on #696
Thanks for the update @urbanecm !

@VojtechDostal I've been looking at the other grants that were renewed, and it seems like in some cases they started writing the renewal before the final report was signed off on (in one of their cases the final report was never even signed off on, but the renewal was approved!).

In that case I think perhaps I could just start writing the renewal anyway, and I'l

[2017-06-30 11:16] VojtechDostal commented on #696
Sounds good :-)

[2017-06-30 11:41] neslihanturan commented on #732
It seems like this happens on Android 7 or higher versions. But I couldn't understand what does this percentages mean?

[2017-06-30 12:31] misaochan commented on #732
The percentages all just add up to 100%. Perhaps this screenshot will help:

![crash_charts](https://user-images.githubusercontent.com/3611199/27735587-bfb9b7a4-5de3-11e7-9d66-43abde0c9c77.png)

You are correct that it only happens in Android 7.0 and above.

Bear in mind that this chart only represents the current week. I'm not sure how to aggregate all the weeks' data yet.

[2017-06-30 15:00] eoinzy commented on #739
FYI, I think you can just change:
`fragmentTransaction.commit();`

to
`fragmentTransaction. commitAllowingStateLoss();`

[2017-06-30 17:59] veyndan commented on #747
I second the use of Kotlin, I've been using it in a personal project for a couple of months and it is a pleasure to use. The Kotlin plugin has been stable for a few years now, the only difference is that Android Studio will finally provide it with the editor. There are also a lot of resources on Kotlin as it is very big in the developer community.

A major supporter of Kotlin are the guys at Squar

[2017-06-30 20:47] maskaravivek commented on #746
I agree with @neslihanturan. Its important as in my opinion the feature to queue up pictures for upload and not waiting for the upload to complete could highly motivate users to upload more pictures

[2017-07-01 05:01] misaochan commented on #746
@maskaravivek I think our app already queues up pictures for upload, you can upload as many as you want without waiting for the previous uploads to complete. But waiting for WiFi could definitely help in a situation where the user has limited mobile data, then he can queue the uploads for later instead of having to remember to do it later.

[2017-07-01 08:31] neslihanturan commented on #746
Do you think it is easy to implement this feature?

[2017-07-01 09:34] nicolas-raoul opened #757 "Sometimes not sent back to Gallery after categories screen"
1. Start Android gallery
2. Send a pic to Commons
3. Fill title/description, press OK
4. Fill categories, press OK
5. Window disappears, I am shown my home screen

Most of the time at step 5 I am sent back to the gallery, I think.
Log:
[code]
Not really a problem but being back to the gallery is more convenient.

[2017-07-01 10:00] nicolas-raoul commented on #667
I managed to get a logcat: https://gist.github.com/nicolas-raoul/d7ee9a85d82bb60e93bfbda11b7cb42f

[2017-07-01 10:08] nicolas-raoul commented on #748
logcat: https://gist.github.com/nicolas-raoul/b357c04e99af3670c6a2089487bad069
Please note that the "Bitmap too large" message is probably unrelated.

[2017-07-01 10:12] nicolas-raoul commented on #748
Tried again immediately afterward without stop-forcing the app: Same problem, with the log below:
[code]

[2017-07-01 10:57] neslihanturan commented on #667
Thanks for the logs, do you have a comment about it? We already handle the io interrupted exceptions in the code. So I still think the reason is api call hanging. Even if we manage our threads in the pool (actually we already do) it will hang anyway. We need to find a way to abort api call or fix root cause of api call hanging (I don't know it yet).

[2017-07-01 14:37] nicolas-raoul commented on #667
Sorry I don't have much more to add :-/
Is there is anything I can test please let me know.

On Sat, Jul 1, 2017 at 7:57 PM, neslihanturan <notifications@github.com>
wrote:

[2017-07-01 14:40] veyndan commented on #728
Can this be closed since `NavigationBaseFragment` was removed in #752?

[2017-07-01 17:03] misaochan commented on #667
Sorry @neslihanturan , have been a bit busy this weekend, and I don't have an easy answer to the problem unfortunately. Will take a closer look at the relevant code when I can.

[2017-07-01 17:03] misaochan commented on #728
Yeah, good point. This issue does not seem to have recurred yet anyway.

[2017-07-01 17:03] #728 closed

[2017-07-01 23:00] neslihanturan commented on #667
I have some good news for you. I found a way to get request per task by editing @yuvipanda 's codes at org.mediawiki.api and in.yuvi.http.fluent so that I can abort requests. According to my tests, it solved the issue, my mind is free now :).
I edited related codes to access httpRequest objects. Is there any other software that uses these codes? Can we edit them freely @yuvipanda ?

If so, I will

[2017-07-03 00:20] whym opened #758 "Gallery pick crash: "Required view 'navigation_view' (snip) was not found""
In my environment (API 24, emulator), choosing an image from the gallery via the app screen results in a crash. It looks like this didn't happen before #752 ae789308088ab67554a306a4af9daba9805f1ee8. (pinging @veyndan)

1. Start the app
2. Press the gallery button
3. Pick an image
4. Crash (see below for the log)

[code]

[2017-07-03 08:07] #758 closed

[2017-07-03 08:43] misaochan commented on #667
Instead of trying to directly edit the imported libraries, why not subclass it and override the method instead? AFAIK directly editing imported libraries is generally not recommended (and in fact IIRC Android Studio purposely makes it difficult to do so, you have to do a workaround to make sure that it doesn't revert to its pre-edited state whenever a build is run). What do you guys think about th

[2017-07-03 09:10] neslihanturan commented on #667
Because we need to access to a non public variable inside library. How could I get it without editing ?

[2017-07-03 09:12] neslihanturan commented on #667
However, I will check it again today with subclassing :)

[2017-07-03 09:29] misaochan commented on #696
Thanks for the new category, it works perfectly with Uploaders in cat and GLAMorous! :)

I'm wondering why the results at https://quarry.wmflabs.org/query/18084 have changed so much though, a week ago it was only 564. Did a whole bunch of people sign up? But the latest new user upload is tagged 20170627075711, not too recent.

[2017-07-03 09:34] whym commented on #696
The query page is manually (but not automatically) updatable and I did it last week. The previous update was in April or earlier if I recall it correctly.

[2017-07-03 09:59] misaochan commented on #696
Oh, okay, thanks! So the current results are more accurate, thus I can switch to using them?

[2017-07-03 10:34] whym commented on #696
Yes, but note that I might re-run and update it again in future. It might be a good idea to save it somewhere as evidence. (You could even save the table into a subpage of the wiki page of your report - check the "Download data" menu.)

[2017-07-03 10:39] misaochan commented on #667
I think subclasses do not need public access per se, they can access protected variables, and usually there should be a getter method that prevents you from needing to access the variable directly. Let me know how you get on. :)

[2017-07-03 11:29] misaochan commented on #696
The final report is now complete (whew!). :) Will be posting a draft of the renewal proposal shortly.

[2017-07-03 11:45] veyndan opened #760 "Invalid resource directory name"
I'm getting the following error when trying to compile the app due to b0f877f21841b36c302c1b7f8dcaa741d926e713.

[code]

[2017-07-03 13:18] misaochan commented on #457
This has been fixed I think?

[2017-07-03 13:21] misaochan commented on #757
Wow, interesting. I've never had this happen. Could you paste a longer section of the logs if possible?

[2017-07-03 13:25] misaochan commented on #760
@Nikerabbit do you think this could be fixed?

[2017-07-03 13:27] misaochan commented on #711
Does this still happen?

[2017-07-03 19:06] veyndan commented on #725
I don't know if input to the design is too late but here is my two cents.

IMO the design is way too complicated. We have a Floating Action Button, a Hamburger menu, AND tabs. This seems like overkill to me. I kind of feel overwhelmed by the proposed design, and as I am someone that has used the app quite a bit, I can't imagine how a new user would feel. My opinion on the hamburger icon has been v

[2017-07-03 20:37] neslihanturan commented on #725
First of all I think Josephine plans to add the mock-ups to the report so it would be better if we can choose a design quickly. So I encourage everyone to help this discussion whenever they have time.

As an old fashion user that uses apps very rare, I always prefer to have accessibility to everything from a menu such as hamburger menu. Plus, I think bottom navigation feels like tabs on the bottom

[2017-07-03 20:46] veyndan commented on #725
Bottom navigation has become a standardised concept in Android, and shouldn't behave like tabs as per the [spec](https://material.io/guidelines/components/bottom-navigation.html). Many popular apps use this type of navigation now e.g. YouTube, Instagram, Google+ so the user should now how they work. Personally I don't think that uploading should be a button even though it is an action. See the Ins

[2017-07-03 21:10] neslihanturan commented on #725
I just discovered how Instagram is implemented the upload button. I still think it feels a little weird, but probably most of users will know how it works. And I have two more questions,
- How user will navigate from let's say settings activity to the main screen again?
- Can't we protect the hamburger menu and change the tabs to bottom navigation? So we would prevent from @maskaravivek 's work be

[2017-07-03 21:31] veyndan commented on #725
The settings activity will just load an activity over whatever screen you are on. When you press the back button on the toolbar, it should just take you back again.

I don't know what @maskaravivek thinks, but personally I don't mind if we scrap whatever work I did on it to remove the hamburger icon.

[2017-07-04 05:40] #760 closed

[2017-07-04 05:56] misaochan commented on #725
Thanks for your thoughts @veyndan , it's always good to get feedback. :)

I personally strongly feel that the hamburger/navigation menu is a huge improvement to the toolbar (and have received similar feedback from a few users). Most Android users that I personally know (even non-technical folks) are familiar and comfortable with using these, and I feel it is much more convenient, intuitive, and el

[2017-07-04 06:13] maskaravivek commented on #725
Both the bottom navigation and hamburger menu options look good to me. I haven't followed the whole UI overall discussion but am okay with my code getting scrapped if we end up building something more convenient for our users. :)

Maybe the mockups would help in taking a decision.

[2017-07-04 07:21] nicolas-raoul commented on #667
Meanwhile I did more testing. I believe that the problem is triggered or not by whether you type in the first few seconds after the categories screen appears.

- After the categories screen appears, type immediately 8 characters -> hangs
- After the categories screen appears, Wait a bit, then type like crazy, erase like crazy, all in all maybe 200 characters at fast pace -> no problem

[2017-07-04 07:23] nicolas-raoul commented on #748
This always happens after #667.
I guess fixing #667 will fix this as well.

[2017-07-04 16:04] psh commented on #662
![Method Count Graph](https://hawke.io/apps-android-commons-methods-count.png)

Guava is a huge library and Google's guidance is to always use ProGuard if you're going to pull it in.  The current master branch is right at 60k methods (of the 64k method limit).  The green quadrant in the top right of the graph is 14.9k methods pulled in from Guava.  At present the Guava usage is just used for `Futu

[2017-07-04 19:37] neslihanturan commented on #711
Unfortunately, yes.

[2017-07-05 07:55] misaochan commented on #662
Hi @psh ,

Thanks to the insight! I would not be opposed to switching to Rx, personally. I am not terribly familiar with either Rx or Guava, but if Rx can fulfill Guava's current role while also making it simpler to fix #749 , I would be all for it.

@maskaravivek what do you think?

[2017-07-05 09:28] misaochan commented on #324
Now that we have a nav drawer, what do you guys think about implementing this?

[2017-07-05 09:55] misaochan commented on #734
@maskaravivek How long do you estimate this task will take? If a long time, do you think perhaps we could schedule it for the 2018 round with WMCZ instead? I'm having a tough time finalizing the renewal draft - it looks like we might have to take 1 or 2 things out.

[2017-07-05 10:02] misaochan commented on #252
I've been writing the renewal proposal and thinking about one of the proposed improvements:

I actually think it might be a good idea to keep this for the 2018 proposal with WMCZ. What do you think guys? For the 2017 renewal it might be best to focus on the Wikidata edits first, and after we have successfully tracked those with the implementation during the renewal, then Wikipedia edits can be con

[2017-07-05 10:28] maskaravivek commented on #734
We can deprioritize it if we have time constraints. The way I am thinking about it might take at least a week of effort.

[2017-07-05 10:34] maskaravivek commented on #662
Thanks @psh for the comments. :)

I have no experience with Rx so will have to evaluate it a bit. Yes if it helps in reducing the method count then we can surely consider it.

[2017-07-05 10:51] misaochan commented on #734
Okay, thanks, will omit it from this round then.

[2017-07-05 16:57] psh commented on #705
In the process of refactoring related to networking I introduced a class `ApacheHttpClientMediaWikiApi` and felt the need to at least _smoke test_ to make sure that requests and responses are correctly handled.  I used the `MockWebServer` (from OkHttp) to serve up canned responses and assert that requests are well formed at a unit-test level.

https://github.com/psh/apps-android-commons/blob/maste

[2017-07-06 00:12] whym commented on #705
@psh Thank you for working on that. I like the idea of having a mocked server. While there is #555 which is about using Beta Commons for tests, I believe there is nothing that prevents us from having both kinds of tests.

It might be a good idea to leave some links about it as a comment in ApacheHttpClientMediaWikiApiTest.

[2017-07-06 00:41] psh commented on #705
OK.  PR submitted.  Its not the upload tests themselves, its all the work to _set you up for success_ given the more specific knowledge.  :)

See: https://github.com/commons-app/apps-android-commons/pull/763

[2017-07-06 13:22] misaochan commented on #259
Been looking further into this. It seems that we actually want **two** different types of Nearby notifications, right?

1) Push notification (opt-in only). This will pop up if the user takes a photo while they are near a Nearby location regardless of whether or not they are in the app.

2) Standard notification - in top panel of the proposed new UI. This just takes the nearest Nearby location and

[2017-07-06 13:22] misaochan commented on #324
@nicolas-raoul , do you know if there is an API for this?

[2017-07-06 13:28] misaochan commented on #79
Is this the same as #259 ?

[2017-07-06 13:32] misaochan commented on #259
Also, for those who opt in for the push notification, do we want that to happen only when the user takes a photo near a Nearby place, or whenever they are very close to a Nearby location (even if they haven't taken a photo, but the radius for this should probably be smaller)?

[2017-07-06 13:45] misaochan commented on #694
@maskaravivek I agree, we probably need to look further into the push notifications. I wonder if it might be a good idea to just display in-app notifications for now (basically, just displaying the nearest Nearby place in the UI of the main screen), and save push notifications for later? Push notifications would be wonderful but we would likely need at least an idea of how we want to implement the

[2017-07-06 18:44] misaochan opened #765 "Allow user to edit some attributes of pictures that they uploaded?"
This is probably a far- future thing, but I wonder if it would be a good idea to allow users to edit attributes of uploaded pictures within the app itself rather than having to enter the browser? We probably don't need to offer all types of edits, we should mostly just want to edit categories, description etc. Should probably also be restricted to images uploaded by yourself to prevent vandalism.

[2017-07-07 06:33] misaochan commented on #725
@neslihanturan Are you okay with your latest mockups being published under the CC0 license? (I will upload them to Commons, stating that you released them with permission, and link to them in my renewal proposal)

[2017-07-07 06:38] nicolas-raoul commented on #324
I think it is just a normal category. I am sure there is an API to get all media of a category.

[2017-07-07 07:15] nicolas-raoul commented on #79
That issue's title made it sound similar but the body is a very different idea.
I renamed that issue to reflect the body.

[2017-07-07 07:18] nicolas-raoul commented on #765
Sounds similar to #161 :-)

[2017-07-07 07:23] neslihanturan commented on #725
Sure

[2017-07-07 12:38] whym commented on #747
Could it be used for [writing tests](https://github.com/dbacinski/Android-Testing-With-Kotlin/blob/master/docs/Unit-Testing-Introduction.md) here? Unit tests can use more readability and it appears like Kotlin can be of help, and doing something experimental there is safe (in the sense that it's separate from the main code).

Here is my attempt: https://github.com/whym/apps-android-commons/commit/

[2017-07-09 14:39] psh commented on #743
Couple of things of note:

* Nearby will be a lot easier to jump into - it's just a single linear list of known `Place` objects
* There is no simple analog of the `CursorAdapter` in the world of RecyclerViews. This means there is a bunch of _implied_ functionality behind the `Contribution` list view due to the ability to observe changed values out of the content provider.
* There is a nice (rich)

[2017-07-10 07:23] misaochan commented on #765
Oh yup, sorry!

[2017-07-10 07:23] #765 closed

[2017-07-10 07:25] misaochan commented on #161
Sounds like a great idea to me. I wonder how feasible this is from a technical standpoint?

[2017-07-10 07:25] misaochan commented on #324
Ah okay, thanks!

[2017-07-10 08:44] nicolas-raoul commented on #161
Hopfully the title/description activity and the categories activity can be reused (with current data retrieved from Commons and preset)?

[2017-07-10 13:57] misaochan commented on #161
The technical issue I was wondering about is that I think modifying a description is different from submitting a new image with a description (which is what the current title/desc activity does). Categories are unlikely to be an issue since the app handles them via a modification to the original upload anyway.

[2017-07-11 10:50] misaochan commented on #694
An incomplete draft of the renewal proposal is now being worked on at https://meta.wikimedia.org/wiki/Grants:Project/Improve_%27Upload_to_Commons%27_Android_App/Renewal . Please feel free to browse and offer suggestions/feedback on the existing sections if you would like.

As an additional measure of success, I wonder if we should include 'user feedback' as a measure, since many of the improvement

[2017-07-11 11:11] misaochan commented on #7
A few points of discussion:

1) Which notifications exactly do we want to display? User talk & picture nominated for deletion are definitely needed. But what else should/can we show? I'm not sure we want to display notification of modifications as the app submits a modification for EVERY upload (this is how the category selection goes through even though the upload has already started).

2) How do

[2017-07-11 11:42] misaochan commented on #604
We may need to think about 'what sort' of multiple uploads we would like to allow. The browser-based Upload Wizard allows any multiple uploads, even of unrelated pictures - all pictures must have their titles, desc, and categories selected separately later.

I propose that we do not allow this, but instead only allow multiple uploads of ONE subject. So instead of having the user type in titles, de

[2017-07-11 11:54] tised commented on #748
Hello ! I do think that  [#667](https://github.com/commons-app/apps-android-commons/issues/667) can cause problem.

[This](https://github.com/commons-app/apps-android-commons/blob/master/app/src/main/java/fr/free/nrw/commons/upload/ShareActivity.java) extend [AuthenticatedActivity](https://github.com/commons-app/apps-android-commons/blob/master/app/src/main/java/fr/free/nrw/commons/auth/Authentica

[2017-07-11 12:27] nicolas-raoul commented on #694
For user feedback, a good measure can be the number of stars given on
Google Play.

On Tue, Jul 11, 2017 at 7:50 PM, Josephine Lim <notifications@github.com>
wrote:

[2017-07-12 02:34] nicolas-raoul commented on #604
I am a heavy user of the app but I have almost never used multiple upload. Is it really needed? It sounds like it might lead some people to upload a lot of pictures with only approximate titles/categories.

[2017-07-12 07:35] misaochan commented on #604
Ah, interesting. I would personally use them, especially if I was taking photos of an event or of a particular location from a few angles.

Would anyone else like to weigh in?

[2017-07-12 09:14] tised commented on #748
@misaochan app.getMWApi().setAuthCookie(authCookie);

For what needs this request are sent ? What will be if this request doesn't sent

[2017-07-12 10:39] tised commented on #457
Seems this is fixed, because FIleProvider implementation exist in project.

Also i switched targetSdkVersion to 25 and install app for 7.1.2, 6.0.1, 4.4 android devices, no crashes at all when select camera/from gallery

@misaochan i think you can switch 25 targetSdk on master too

[2017-07-12 12:19] nicolas-raoul commented on #7
About (1): It would already be wonderful if we could just get the alerts that can be seen at your https://commons.wikimedia.org/wiki/Special:Notifications either via API or scraping. Example:
![screenshot from 2017-07-12 21-18-50](https://user-images.githubusercontent.com/99590/28117279-bc838ba6-6747-11e7-876b-d4ef0e27b47e.png)

[2017-07-12 16:31] misaochan commented on #7
Nice, sounds like a plan! Will have to check and see if the API linked by @whym is able to display all of that, though.

[2017-07-12 16:32] misaochan commented on #733
Should be fixed, will reopen if not.

[2017-07-12 16:32] #733 closed

[2017-07-12 16:33] misaochan commented on #732
Should have been fixed, will reopen if not.

[2017-07-12 16:33] #732 closed

[2017-07-12 16:38] misaochan commented on #457
Strange, I thought the target SDK had been increased to 25 before this! Yeah, will do, thanks for the reminder @tised .

[2017-07-12 16:40] #457 closed

[2017-07-12 16:44] misaochan commented on #748
@tised Sorry, I think that is legacy code that I was not involved in writing... Your guess is as good as mine lol.

[2017-07-12 16:53] misaochan commented on #694
@nicolas-raoul Hmm. I am hesitant to use Google Play reviews because I think some of them aren't relevant, honestly. There are quite a few 1-star reviews by people who either (1) have a bone to pick with WMF and are taking it out on us, like the guy who was complaining about English Wikipedia, or (2) don't know what the purpose of the app is, like those who are complaining that it doesn't have Pho

[2017-07-13 02:42] nicolas-raoul commented on #694
Indeed Google Play review can be pretty tough and random. And people tend
to rate the whole initiative rather than the app itself, for instance
people who get a stinky room with Airbnb might give the app one star, even
if the app was flawless.

But I am not sure how many people would respond on the mailing list, which
does not have many readers I believe.

A link shown to experienced users within

[2017-07-13 09:07] tised commented on #731
I cannot find such package "hamburger" on main branch, and NavigationBaseFragment are not exist too

[2017-07-13 09:08] misaochan commented on #694
Ah, good point. The link within the app sounds like a good plan to me, if feasible. Perhaps I will add it as an 'optional' measure of success, same as how I did with the 10+ new contributors the last time.

[2017-07-13 11:46] misaochan commented on #694
Also, I wonder if there is a method for measuring test coverage just for the upload functionality (as that will be our main focus for implementing tests for, for the time being)?

[2017-07-13 15:13] misaochan commented on #731
I think this issue might have been deprecated by the recent changes. I'll close it for now, we can reopen if it persists.

[2017-07-13 15:13] #731 closed

[2017-07-13 16:19] misaochan commented on #739
Hi @tised ,

Thanks for all the great patches, they've been very helpful to us. :) A little note: If you put the issue number (say, "fix #739") in the pull request comment/description, it will automatically close the issue when I merge it. Putting it in a commit or the title of the PR does help, but I don't think it automatically closes issues (this one is still open).

[2017-07-13 17:13] achalshant commented on #750
I'd like to take this up and I'm fairly new to open source. Could someone guide me though how it works here (in terms of code review and code commit)?

[2017-07-14 02:55] nicolas-raoul commented on #750
Hi @achalshant
Thanks for participating!
It is very simple: Just clone the repository, create a branch named for instance "fix750_irrelevant_categories", fix the code, then send a pull request.
A core developer will then review your pull request and merge :-)

[2017-07-14 08:15] misaochan commented on #750
Welcome, @achalshant ! Pretty much what @nicolas-raoul said, except I would add that you should fork the repo first, and then do all the work on your own repo. :) Any reasonable commit styles are fine with us.

[2017-07-15 05:48] akaita commented on #621
Hi guys, I thought I could help out with the project so I completed the task and created #775 .
I hope that is fine :)

[2017-07-15 06:15] akaita commented on #522
I believe this was fixed in #544 -> 5639be077e943fd4bd7d0859ed10ee94531ecd7c
So this issue could probably be closed.

[2017-07-15 07:22] tobias47n9e commented on #621
Sorry missed the ping. I think black is fine for the icon if we can change the color in the code? That way we only need 1 SVG for day and night theme.

[2017-07-15 07:40] tobias47n9e commented on #621
Although this issue can be about all the icons in the app, I added a screenshot of the main icon this task is about. Compared to the other mapbox GL map-features it is very pixelated on my phone.

[2017-07-15 13:21] achalshant commented on #750
Thanks @nicolas-raoul and @misaochan I got the following message before committing my branch:

remote: Permission to commons-app/apps-android-commons.git denied to achalshant.
fatal: unable to access 'https://github.com/commons-app/apps-android-commons.git/': The requested URL returned error: 403

Could I get the permissions necessary?

[2017-07-15 16:01] misaochan commented on #522
Agreed, thanks @akaita !

[2017-07-15 16:01] #522 closed

[2017-07-15 16:06] misaochan commented on #750
@achalshant was the branch on your own (forked) repo, or on the upstream (this) repo?

The steps are:
1. Fork this repo
2. Clone the forked repo
3. Create branch on the forked repo
4. Commit to the branch on the forked repo
5. Create pull request to upstream (this) repo from the branch on your (forked) repo

You should not be committing directly to any branch on the upstream repo (I personally alm

[2017-07-15 17:49] akaita commented on #621
Oh 💡, I see I misunderstood which icon you were referring to...
Indeed, the one you refer to looks way worse (for some reason, there is only a mdpi version of it).

We will need a different svg for this one, mostly because of the shadow.
I'll check the best way to get this one done.

I will leave the #775 open, as it also seems to be relevant.

[2017-07-16 05:41] psh opened #778 "Reducing Codacy issues"
How does everyone feel about the number of Codacy issues - is this something that is used in a _relative sense_ (to judge a given feature based PR as to whether it generally improves the codebase) or is it a measure in an _absolute sense_ (should look to reduce the count to get  the code into a better place).

I guess what I am asking is whether you'd like a PR that reduces the Codacy issue count

[2017-07-16 06:32] whym commented on #778
I just incidentally submitted #779 (mostly about whitespace issues) without seeing this discussion. Personally I wouldn't mind receiving such PRs unless we are flooded by them (like 10 PRs for 10 lines of changes in total).

That said, people might have different opinions on some of the checks - notably a (often slight) violation of maximum length of line (#465). I might say splitting a long line

[2017-07-16 07:49] misaochan commented on #696
The first draft of the renewal proposal is complete :) :
https://meta.wikimedia.org/wiki/Grants:Project/Improve_%27Upload_to_Commons%27_Android_App/Renewal

I'll be doing community notifications shortly, current plans are to post on:
- Mailing lists - wikitech-l, mobile-l, wikivoyage-l, commons-l
- Google group forums
- Commons Village Pump

Any other suggestions? Or if there are closed groups tha

[2017-07-16 09:17] nicolas-raoul opened #780 "Peer review - review the latest pictures uploaded by other people"
Let's say Joe is in the train with 30 minutes to kill, and he has already uploaded all of his interesting pictures. Joe could start playing a mobile game, but he prefers doing something for the greater good.

We should let Joe easily review the latest pictures uploaded by other people. Suggested user interface:
- The picture
- Good action buttons: Looks good, Send a public thank, Selfie, Copied fr

[2017-07-16 10:53] VojtechDostal commented on #696
I'll post it to CEE and Wikidata Facebook groups because people previously seemed interested in the app and wanted to support it.

[2017-07-16 12:21] nicolas-raoul opened #781 "Map of recently uploaded pictures"
Snapchat has recently released a very entertaining feature that shows public videos uploaded around the globe. You can zoom to a country/city and immediately see what is going on there, for instance a concert or a demonstration, I am having quite a lot of fun with it:
![snapchat](https://user-images.githubusercontent.com/99590/28247496-bde49008-6a6c-11e7-8352-ed57817dd725.jpg)

It would be cool to

[2017-07-16 14:31] misaochan commented on #780
This sounds really interesting! Is there already a framework in Commons that has those options? I know "thank" exists, but I haven't seen the others (I suppose "selfie" and "copied" can just use the nomination for deletion framework). If there isn't already a framework, I don't think we have the privileges to implement one server-side?

[2017-07-16 14:36] misaochan opened #783 "Travis build failure on master"
I have already restarted once, with the same result.

[code]

[2017-07-16 14:55] misaochan commented on #696
Thanks, @VojtechDostal , that would be great! :) Shall I copy my mailing list post here when I've done them?

A somewhat silly question for anyone that might have an idea - what day of the week is best to post on mailing lists? A bit trivial, but I only get one shot at posting, haha (don't want to spam people), so might be good to make it count.

[2017-07-16 15:02] misaochan commented on #778
I'm good with such a PR (like @whym said, with reasonable consolidation though).

On a tangential note, I wonder if we can/should change the settings for line length warnings?

[2017-07-16 15:12] misaochan commented on #694
As the proposal is up on meta-wiki and I am no longer editing the opening post, if no one has any objections I will close this to prevent duplication with #696 .

[2017-07-16 22:51] akaita commented on #621
Created new PR with the proper change :)

[2017-07-17 06:39] achalshant commented on #750
Got it. Thanks for clarifying @misaochan  :)

[2017-07-17 10:43] misaochan commented on #696
Notifications done so far:

- [Commons Village Pump](https://commons.wikimedia.org/wiki/Commons:Village_pump#Commons_Android_app_-_IEG_renewal_proposal)
- [Wikivoyage Travellers' Pub](https://en.wikivoyage.org/wiki/Wikivoyage:Travellers%27_pub#Commons_Android_app_-_IEG_renewal_proposal)
- [Commons talk: Mobile app](https://commons.wikimedia.org/wiki/Commons_talk:Mobile_app#IEG_renewal_proposal)

W

[2017-07-18 03:43] nicolas-raoul commented on #780
For deletions I suggest copying the concept from https://commons.wikimedia.org/wiki/MediaWiki:Gadget-QuickDelete.js . It is a gadget that can be enabled in your Commons preferences, I use it a lot, here is how it looks like on the Web UI:
![screenshot from 2017-07-18 12-32-52](https://user-images.githubusercontent.com/99590/28299704-b984775e-6bb5-11e7-94a4-48a1582331a3.png)

I suggest doing it dir

[2017-07-18 07:20] #783 closed

[2017-07-18 07:27] misaochan commented on #473
@nicolas-raoul @whym @Nikerabbit

There is a question from an endorser at https://meta.wikimedia.org/wiki/Grants:Project/Improve_%27Upload_to_Commons%27_Android_App/Renewal asking how he can help with Russian translations.

I looked at https://translatewiki.net/w/i.php?title=Special:Translate&group=commons-android-strings&filter=%21translated&action=translate&language=ru hoping to be able to give

[2017-07-18 07:33] nicolas-raoul commented on #473
Yes, all Russian translations are done, but only 49% are reviewed.

[2017-07-18 08:31] nicolas-raoul opened #790 "Translate Play Store listing"
To lower the barrier to entry for non-English readers, we should translate the store listing to other languages:
![screenshot from 2017-07-18 17-26-26](https://user-images.githubusercontent.com/99590/28307643-83f037b2-6bde-11e7-9f56-1752ffc21d8f.png)

And maybe even these (lower priority, but if someone makes screenshots/videos in other languages please send them to us, we can upload them, and cre

[2017-07-18 08:43] misaochan commented on #790
I agree, would be very useful. Is there a way to integrate this into translatewiki?

[2017-07-18 09:16] nicolas-raoul commented on #790
Yes, just create a new file containing these string, in any format that the
tool accepts.

On 18 Jul 2017 5:43 p.m., "Josephine Lim" <notifications@github.com> wrote:

[2017-07-18 10:02] misaochan commented on #696
Posted to wikimedia-l, multimedia-l, wikitech-l, mobile-l, wikivoyage-l, commons-l. Got a mail delivery error from multimedia-l, maybe that mailing list doesn't exist anymore.

If anyone knows anywhere else that I can post, please do let me know! A copy of my mailing list posts is below:

[2017-07-18 10:53] misaochan opened #791 "One-time popup asking for feedback on renewal proposal?"
I wonder if it would be a good idea to implement a one-time popup asking for feedback on the IEG renewal proposal?

Benefits:
- It would be good to get input from existing users on our planed implementations, and many of them don't read mailing lists or the village pump. All users will also have Wikimedia accounts, whereas many don't have github accounts
- Endorsements, haha

Disadvantages:
- Peop

[2017-07-18 11:00] Ainali commented on #791
As a user I would feel included if such a popup came up, since I would feel my input was valued, especially since I have vested interest in the app itself.

[2017-07-18 12:04] janpio opened #792 "2., 3. and 4. German tutorial screen show "u2022""
instead of what should actually be there. (Dots?)

Version 2.4.2, fresh install from Play Store

[2017-07-18 12:38] janpio commented on #792
Seems translation is happening on translatewiki.net (maybe add link to projects in README?), will look there further.

[2017-07-18 12:47] janpio commented on #792
Found the strings here: https://translatewiki.net/w/i.php?title=Special:Translate&group=commons-android-strings&language=de&filter=&action=translate with filter for "u2022".

Unfortunately I only get "You need translation rights to translate messages. Get permission" as I had to create an account there. No idea what I need to do to get this. ("Get permission" links to a page where I can translate

[2017-07-18 12:52] janpio commented on #792
Noticed a "You need to provide more translations to complete your registration." on the homepage of Translatewiki...

[2017-07-18 12:55] janpio commented on #792
Aha: "You reached the translation limit for new translators. Our team will verify and upgrade your account soon. Then you will be able to translate without limits." I'll wait then.

[2017-07-18 13:06] janpio commented on #792
"Hi Sujan,

Thank you for applying as a translator at translatewiki.net. I regret to inform you that I have rejected your application, because the quality of your translations did not meet the requirements.

If you think that your application was rejected by mistake, please try to apply again as a translator at translatewiki.net. You can sign up here:
https://translatewiki.net/"

Account deleted.

[2017-07-18 13:25] janpio commented on #792
Nice guy in IRC helped me out to get the new account approved.

Made the necessary changes to the 3 keys that included wrong content.

Now how to get these commited here?
Is this done automatically?

[2017-07-18 13:28] misaochan commented on #792
@janpio thanks for the changes. I believe the translatewiki team incorporates the changes into commits here twice a week. Those commits then need to be included in a release for them to be available to the public - I haven't had time for frequent releases recently, but I'm hoping to do one at the end of this week or next week. So, hopefully they will be out then! :)

[2017-07-18 13:29] misaochan commented on #791
@Ainali Thanks for the feedback! In that case I will look further into getting it implemented. :)

@maskaravivek and @neslihanturan what do you guys think?

[2017-07-18 13:29] janpio commented on #792
Awesome :)

[2017-07-18 13:40] janpio commented on #792
I will see that I monitor the commits a bit and close this issue when the changes made there way into the value-files.

[2017-07-18 13:57] VojtechDostal commented on #791
It's a very good idea, it's a great way to include users into the development.

I am a bit afraid of the cumbersome editing environment on mobile. If we link users to the IEG page (section Endorsement), we might run into troubles with unexperienced users adding gibberish. Is there an easier way to submit feedback on a mobile phone to wiki pages?

[2017-07-18 14:18] misaochan commented on #791
Good point re: inexperienced users, @VojtechDostal . Unfortunately I don't know of an easier way - AFAIK Wikipedia has in-app editing capability but I believe that only works for Wikipedia articles and not meta-wiki. Hmm.

[2017-07-18 17:27] jorgecasariego commented on #690
Hey everybody, doing my first pull request and my first contribution to **apps-android-commons** in #795

[2017-07-18 17:30] VojtechDostal commented on #791
Instead we could
1/ ask them to give feedback on a special page which is not so vulnerable (https://meta.wikimedia.org/wiki/Grants:Project/Improve_'Upload_to_Commons'_Android_App/Renewal/User_feedback) or

2/ start a special discussion thread on this via some external service or

3/ link to a GitHub issue (of course, registration required) or

4/ create a Flow discussion page somewhere (Flow is mo

[2017-07-19 08:19] janpio commented on #791
Side remark: Maybe adding a temporary link to the Renewal page here on the Github would be useful as well. Probably not much traffic, but the people that see it probably are at least somewhat interested.

[2017-07-19 15:39] misaochan commented on #690
Thanks @jorgecasariego ! I think we can close the issue now. :)

[2017-07-19 15:39] #690 closed

[2017-07-19 15:43] neslihanturan commented on #667
Hi everyone, it seems like we are stuck at solution of this very important bug. This happens very often and probably triggers #738 . On the other hand, related discussions get very complicated.
To summarize:
- The solution I proposed is #749 . This solves the problem as we tested it. However, because I have imported 6 classes from our libraries and edit them locally, it is very bad programming.
-

[2017-07-19 16:02] neslihanturan commented on #791
My vote is for first advise of @VojtechDostal . Additionally, I agree about adding link to the github project short description.

[2017-07-19 16:15] neslihanturan commented on #662
Hi @psh
Thanks for the easy fix advise for #667 . Did you done anything related so far or can you please give me some hints about how can I solve it by using RxJava (I have no experience with it yet) . It can be very nice if we can solve the issue in a week or sooner.

[2017-07-19 16:28] misaochan commented on #791
I have modified the Readme, thanks for the suggestion @janpio . :)

@VojtechDostal will the WMF grants committee consider endorsements on external pages or special pages in their decision, or is that mostly just for us to get feedback for ourselves? Even if it's just for us, it could still be worth doing, but in that case perhaps we could just link the Google group forums?

[2017-07-19 17:09] psh commented on #662
@neslihanturan The PR I submitted (#782 - For discussion: get upload count using Kotlin & Rx) has the effect of removing Guava and swapping it for Rx.  There's no hard requirement to include Kotlin: plain old Java 7 syntax works just fine, its just a little more verbose.  Another option is to adopt Java 8 syntax (simple change in the `build.gradle`) if we want nicer syntax.

If it helps with a dec

[2017-07-19 20:00] psh commented on #667
My suggestion to use the Rx 'debounce' operator just deals with slowing down the rate at which API calls are made.  Without using Rx or any other 3rd party code, you could just as easily say

[code]
This would address concern from @misaochan over the number of async tasks that get spun up.  It throttles how quickly calls are made, but it doesn't address the underlying issue of cancelling calls tha

[2017-07-20 08:20] misaochan commented on #667
I think the proposed solution by @psh is worth a try to see if it fixes the problem. If it doesn't, I am happy to merge #749 after testing, as @nicolas-raoul has confirmed that there are no copyright issues with doing so.

[2017-07-20 09:06] misaochan commented on #694
Reopening for discussion re: metrics of success - https://meta.wikimedia.org/wiki/Grants_talk:Project/Improve_%27Upload_to_Commons%27_Android_App/Renewal#Metrics_of_success_-_Google_Play_ratings_vs_survey

[2017-07-20 09:35] misaochan opened #799 "Creating our own social media page?"
Now that we have a significant userbase and community around the app, I wonder if it might be a good idea to create a social media page for ourselves? Facebook would be easy I think, we don't even need a separate account for the page, so I could create, say, a "Commons app" page and then invite anyone who is interested here to be an admin for that page. Then anyone who wants to get updates from us

[2017-07-20 09:49] neslihanturan commented on #799
My vote is for Twitter because we can publish our release notes from there. So, rss like environment is much convenient for us. If we can reach enough number of users, we can get feedbacks from there or apply surveys.

What about adding our Twitter page to the pop up we discuss at #791 ?

[2017-07-20 09:52] mebr1416 commented on #721
Trying to get up to speed with the project...
See screenshot for a fix to the issue...
 ![screenshot_1500543769](https://user-images.githubusercontent.com/26868644/28411547-b96e0222-6d49-11e7-949f-d9f6f2d693ab.png)

[2017-07-20 10:07] neslihanturan opened #800 "Are photos marked as "own work"?"
As some of you knows, in near past my account had been blocked because of my bunch of test uploads. But one of the notification was "It is not clear that these are your own work, please mark them as your own work". Does our app mark them as "own work" on every upload? If not, I think we should definitely do it.

And one notification was "Please select a license" where I already choose. I think thi

[2017-07-20 10:14] misaochan commented on #799
Sounds like a great idea to me! However, we don't have a Twitter page yet. :) Would you like to create one?

[2017-07-20 10:17] neslihanturan commented on #799
Sure :), but I will wait until this evening to make sure everyone is okay.

[2017-07-20 10:18] misaochan commented on #800
Interesting. I have never experienced such an issue and I upload almost exclusively with the app. If there is indeed an "own work" tag, we should incorporate one in our app, but only after we include the declaration in #721 IMO.

Could you point to a recent picture without a license and create an issue for it please? Thanks!

[2017-07-20 10:20] misaochan commented on #721
Hi @mebr1416 , thanks for taking this up! I like the screenshot, with the exception that the formatting feels a bit strange to me. The license is left-aligned, whereas the declaration is centre-aligned. However, I am not sure how exactly to remedy that. The simplest solution I can think of is just centre-aligning the license as well. Perhaps else someone has a better suggestion?

[2017-07-20 10:22] misaochan commented on #799
Sounds good, we can wait for a couple of days even, no rush.

Do you know how Twitter permissions work? For instance if you create a Twitter page for "Commons app", can only you post under that name, or can others post as well? Sorry, I am very new to Twitter. :)

[2017-07-20 10:25] neslihanturan commented on #800
They are removed during block process and I am not planning to upload test pictures in near future:) But I still have my notifications on my user page.

[2017-07-20 10:43] neslihanturan commented on #799
Well, it is not possible by using Twitter web interface. We can share the password between us, however, two factor authentication wouldn't be possible under this case (super unsafe). On the other hand, Twitter servers may have hard times to understand several logins from different parts of the world and may kick us out.

There is [tweetdeck](https://tweetdeck.twitter.com/) for such managements. Tw

[2017-07-20 10:43] mebr1416 commented on #721
Actually both the license and declaration are centre-aligned according to the layout file. If the license had more text you would see so.

<-------From the Layout File-------------->
<-----the license------->
<TextView
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:text="@string/share_license_summary"
        android:id="@+id/share_license_

[2017-07-20 10:52] janpio opened #801 "Docs in repository instead of Wiki?"
I am just starting to read through the wiki and repo to get an understanding what is what, what works how, what is stored locally, which APIs are used etc. Derived from the current state I would probably document this in the wiki.

But I think it could be beneficial to have simple .MD files in /docs that could contain all that information instead of the wiki. It would have the advantage of being c

[2017-07-20 10:56] janpio commented on #801
After having type this, the disadvantage of using files in the repo instead of the wiki of course is that it is much easier and faster to just edit the wiki instead of forking the projects, making your changes, and then sending a pull request.

[2017-07-20 11:27] VojtechDostal commented on #791
Josephine, this shouldnt be a problem for the committee. They are rather
sensible about this sort of things.

Dne 19. 7. 2017 18:28 napsal uživatel "Josephine Lim" <
notifications@github.com>:

[2017-07-20 11:30] VojtechDostal commented on #799
I'd still create a Facebook page and at least automatically post from
Twitter. Facebook has a large presence among wikimedians.

Dne 20. 7. 2017 12:43 napsal uživatel "neslihanturan" <
notifications@github.com>:

[2017-07-20 12:03] neslihanturan commented on #791
If we can describe the scope of the issue, I can work on it very quick. Will it be a time dependent or update dependent pop up screen?
- When we will display it?
- At where we should display it?
- What should we write on it?
- Will we redirect users to browser view the page via link?
- Is it okay for everyone if we promote our twitter/facebook account on the same pop-up window?

I think we should

[2017-07-20 13:26] nicolas-raoul commented on #799
Good idea!
Why not both? :-)
And maybe networks followed by photographers of all kinds, such as
Instagram or Pinterest?

Josephine, I suggest you register with the app's name in all of these
network and keep the passwords preciously.
Even if you don't plan to use them immediately.

I manage the accounts for several open source projects and products at my
company, and in my experience it can take q

[2017-07-20 13:52] misaochan commented on #791
I would vote for time-dependent (perhaps until the end of July). We can still take it out during the next update, but at least then we don't HAVE to make a separate update just to take it out when the results have been released for the proposal.

-  It should only be displayed once. That is crucial IMO.
- I don't mind where it is displayed, your suggestion sounds good to me @neslihanturan
- What t

[2017-07-20 13:52] nicolas-raoul commented on #800
My pictures are marked as "Own work", at least the last one I uploaded from
the app:
https://commons.wikimedia.org/wiki/File:Lantern_festival_in_Odaiba_on_Marine_Day.jpg

On Thu, Jul 20, 2017 at 7:25 PM, neslihanturan <notifications@github.com>
wrote:

[2017-07-20 14:11] misaochan commented on #799
Thanks for the input, guys!

@nicolas-raoul Our mailing list is actually moderated by Neslihan, haha. But yes I see your point, and I agree.

I think moving forward from here, I will create the FB account and @neslihanturan will create a Twitter account? I will announce in the Google group forums (and here) that we would like a volunteer to manage the FB community. I don't think any password sendi

[2017-07-20 14:18] misaochan commented on #721
Interesting! I would have thought that the license string would move to the centre when a short license name is selected in that case.

@neslihanturan what do you think, should we keep this formatting, or otherwise what would the most aesthetically-pleasing way be to display this text?

@mebr1416 One more issue that I just noticed, could you please change "the above policies" to "Wikimedia Commons

[2017-07-20 14:21] misaochan commented on #800
Oh, it is under "Source". Yes, mine are marked as "own work", too.

[2017-07-20 16:16] misaochan commented on #499
We should probably bump this one - I think it is inconvenient for a lot of people, especially in the case of the description.

[2017-07-20 17:27] misaochan commented on #791
I've been thinking about how best to display this message. If we use a dialog box, we could say "We are planning several new features and improvements for the app! Would you like to view them and have your say? (will open a browser page)", and have the negative action button say "no, and never show again", and the positive action button say "Sure, take me there!"

I'm not sure how we can handle tw

[2017-07-20 18:04] neslihanturan commented on #791
Oops, accidentally deleted your comment @misochan :( I was trying to say that I agree about adding scope to feedback page and giving only feedback page link. And adding social media accounts permanently is also a good idea

[2017-07-20 23:47] whym commented on #791
I don't know if there are many enough, but how about showing the notification to the beta testers only? Beta testers are less likely to be surprised/annoyed by such a notification, and more likely to be familiar with wiki-editing and the nature of Meta Wiki.

[2017-07-21 01:09] misaochan commented on #791
Wow, thanks @whym, that might actually work! There are 174 beta testers so indeed I think the numbers might be enough to make a significant impact.

@neslihanturan @VojtechDostal what do you think? We could probably just link the positive action button directly to the proposal in that case. And I guess in the worst case scenario, if we get a few clueless editors still, we can always revert the cha

[2017-07-21 06:02] neslihanturan commented on #800
Hmm so they were complaining about pictures inside of pictures. I would request for undeletion if my VPN wouldn't be broken at that time. Thanks for clarifying, so I am closing the issue.

[2017-07-21 06:02] #800 closed

[2017-07-21 09:51] nicolas-raoul commented on #800
Maybe they considered that the street art is not your own?

On Jul 21, 2017 3:02 PM, "neslihanturan" <notifications@github.com> wrote:

[2017-07-21 10:01] whym commented on #800
Right, it would be prudent to exclude street art if freedom of panorama
doesn't apply. In that case it would be new uploads rather than seeking
undeletion.

[2017-07-21 11:43] neslihanturan commented on #800
Actually I was sure it was an non-licenced street art but I see, thanks all of you for clarification. I will be much more careful on uploading photos of works of others.

[2017-07-22 01:02] whym commented on #621
closed via #786

[2017-07-22 01:02] #621 closed

[2017-07-22 01:30] whym opened #804 "Shrink images in the main screen (contributions list) instead of cropping"
Currently sometimes images get cropped out in the main screen. (left in the mock up below) They should be shrunken and centered instead. (right)

![untitled](https://user-images.githubusercontent.com/10674/28487270-31ff81be-6ec8-11e7-9ee3-7832003dca18.png)

This was pointed out at https://github.com/commons-app/apps-android-commons/pull/738#pullrequestreview-46125017 by @misaochan. It sounded like

[2017-07-22 01:34] whym commented on #534
#727 should have solved it. At least it did for me. e.g. https://commons.wikimedia.org/wiki/File:CommonsAppTesting_9.jpg (note that since this is a test upload it will eventually be deleted)

It's not released in the Play Store, though. Please keep an eye on the coming releases of the app, and feel free to re-open this if the problem persists after then.

[2017-07-22 01:34] #534 closed

[2017-07-22 05:13] gupta-meghna64 commented on #804
@whym This can be adjusted by setting the image to ImageView dynamically using the java code by maintaining the aspect ratio of the image. Can I work on this issue ?

[2017-07-22 09:25] whym commented on #804
Thank you for your interest. If you are asking if it's up for grabs, yes.

"the image to ImageView dynamically using the java code" - this sounds like
a workable solution. I don't know whether you have to write code for that
or using a library feature is enough, but I do think it has to work
dynamically. i.e. image size should change when the device is rotated.

[2017-07-22 10:43] neslihanturan commented on #791
I also couldn't find a way to restore your comment, so decided to add it here manually. Quote from @misaochan :

In reply to previous comment, I think direct link to proposal page can be too much to read for user. We can create a feedback page as @VojtechDostal proposed, and give one link to that page on dialog window. We can write some introduction to encourage them to share ideas and include lis

[2017-07-22 11:56] mebr1416 commented on #721
*Set the alignment of text to "start" making it left for languages that L to R (e.g. English) and right for languages that are R to L (e.g. Arabic).
*Link included.
![screenshot_1500724157](https://user-images.githubusercontent.com/26868644/28490886-9d1c6190-6eed-11e7-9d85-bd6dc2370120.png)

[2017-07-23 01:30] mwoguri commented on #711
@neslihanturan I was unable to reproduce this crash on an Xperia Z1 Compact running 4.4.2.  Could you give any further details?  Here's what I did:

1. Install app
2. Go through tutorial and log in
3. Upload photo, adding a title and category
4. On "My Recent Uploads" page, tap the photo
(No crash observed)

[2017-07-23 04:39] nicolas-raoul commented on #721
Great idea!
Small detail, I would write "copyrighted material" rather than "copyright material".

[2017-07-23 08:38] neslihanturan commented on #711
Hey, no error occurs on my case either, any more. Thanks for reminding this! This issue can be closed, I guess.

[2017-07-23 08:38] #711 closed

[2017-07-23 08:54] nicolas-raoul commented on #801
How would wikilinks work with .MD files in /docs ?

[2017-07-23 09:49] neslihanturan commented on #739
Should I close this issue manually?

[2017-07-23 09:49] neslihanturan commented on #708
Should I close this issue manually?

[2017-07-23 11:43] janpio commented on #801
Wikilinks = links between pages?
Then as usual. .md files are automatically rendered on Github, and links to a `test.md` file link to the correct path automatically.

[2017-07-23 16:03] janpio commented on #792
Latest commit from translatewiki included the changes I did for the DE translation:
https://github.com/commons-app/apps-android-commons/commit/f73a9f15fc39152d99a542eb785894ed6471021d#diff-cdca861e65ab0caf0dac48368b3fa2a6R122

[2017-07-23 16:03] #792 closed

[2017-07-23 17:36] anukarsh1 commented on #541
I would like to start working on this :)

[2017-07-23 17:48] domdomegg commented on #541
Oh - looks like @janpio just did this a [couple days ago](https://github.com/commons-app/apps-android-commons/commit/142e1edaaee10a9a4ce2fd4929108a49a320332a). Thanks for volunteering though, please do take a look at the other [beginner friendly](https://github.com/commons-app/apps-android-commons/labels/beginner%20friendly) issues if you're interested in contributing

[2017-07-23 17:48] #541 closed

[2017-07-23 17:49] anukarsh1 commented on #541
Sure I will :)

[2017-07-23 17:56] akaita commented on #791
If I might put my 2 cent: I think asking for feedback is OK as long as it is not annoying to the user.

So, when is it annoying and when is it not annoying?

- Showing multiple times: annoying
- I just downloaded the app and you already ask me for feedback: annoying
- I'm a beta tester and you ask me for feedback: kind of OK, although I would prefer to just have a link I can use whenever I choose

[2017-07-23 18:00] janpio commented on #541
Sorry for not checking if an issue about this existed - I was working on fixing a concrete bug in the DE translation and made this change as I learned how it works myself just then.

[2017-07-23 18:03] domdomegg commented on #541
@janpio no worries - thank you for fixing it anyways :)

[2017-07-23 18:07] anukarsh1 commented on #397
I think this issue should be closed, shouldn't it?

[2017-07-23 18:08] janpio opened #809 "Better (developer) app documentation"
As I just started looking into the Commons app I noticed some basic documentation missing. I went ahead and created a few first drafts on the wiki:

Basic list of App Structure and Functionality:

- https://github.com/commons-app/apps-android-commons/wiki/Screen-Structure
- https://github.com/commons-app/apps-android-commons/wiki/App-Functionality

Using these two links you should be able to get a

[2017-07-23 19:08] janpio commented on #801
Ah, now that I actually used the Wiki a bit I understand: You can "wikilink" words automatically in Github wikis as well - wasn't aware of that before. In .md files that really would not be possible, you would have to use filenames (relative or absolute) everywhere.

[2017-07-23 19:26] neslihanturan commented on #809
Thanks! This was really needed. I read first two document and they looks okay. There are something that I need to read more carefully in API document, will take time for this.

This structure looks nice for this level of documentation. However if the next plan is going deep with code, structure can be an issue. First question comes to my mind: are you planning to create a structure of classes acco

[2017-07-23 19:37] janpio commented on #809
As I actually have only *just now* cloned the project and opened it in Android Studio I don't know yet. From the complexity I found in the last 3 minutes, I think really documenting this in the wiki ist not a very good idea.

Maybe "connect the dots" - meaning just a more general writeup "what happens where" in code or something (similar to https://github.com/commons-app/apps-android-commons/wiki/

[2017-07-23 19:42] neslihanturan commented on #809
Actually, there is some mysterious parts in our code. Thus, might be hard to document those parts. On the other hand, we need to do in sooner or later. At least starting from somewhere is nice.

[2017-07-23 20:36] janpio opened #810 "Account Sync / `logevents`?"
Per #809 I am looking into understand the broad strokes of the app. Can someone explain to me how the Account Sync / `logevents` stuff works?

My first impression is that actual operations on the Wiki (uploads and modifications) are async via a queue  and this is handles via the "Account" integration in Android. Is this correct?

How are the results of these operations handled in the app? Are thes

[2017-07-23 20:54] janpio commented on #810
Found the code for (some of) this functionality:
https://github.com/commons-app/apps-android-commons/tree/master/app/src/main/java/fr/free/nrw/commons/auth

Some seems to be shared with (or better: an ancient version of) the Wikipedia Android app:
https://github.com/wikimedia/apps-android-wikipedia/tree/master/app/src/main/java/org/wikipedia/wikidata

So that's probably where it came from.

[2017-07-23 22:13] janpio commented on #809
I started on this really rudimentary while going through the codebase for the first time:
https://github.com/commons-app/apps-android-commons/wiki/Technical-Overview
I think this level should be enough, maybe a list of files and what is in them.
Everything else should definitely happen inside the source files themselves (which could really use some documentation...).

[2017-07-24 04:45] amire80 commented on #397
Yes, it can be closed. The message is always auto-inserted in English, [set as ignored in translatewiki.net](https://gerrit.wikimedia.org/r/#/c/366842/), and in 815465b the existing translations were removed from the source.

[2017-07-24 04:45] #397 closed

[2017-07-24 06:28] misaochan commented on #809
I really like this! Thanks for making the effort to write all these up, @janpio , I think it will be very helpful to new devs. :)

I would vote for a more general writeup, because our codebase is changing very rapidly. It looks very different today than it was even 6 months ago. So going into more detail might take a lot of effort, for not much payoff.

[2017-07-24 06:57] misaochan commented on #708
Yes, please feel free to close any issues that you think should be closed @neslihanturan . :) If you make a mistake it can always be reopened, so no big deal.

[2017-07-24 06:57] #708 closed

[2017-07-24 06:58] #739 closed

[2017-07-24 07:04] misaochan commented on #804
Hi @gupta-meghna64 , yes, please feel free to work on this issue (or any others that you are interested in). :)

[2017-07-24 07:12] misaochan commented on #791
Hi @akaita , thanks for the feedback. We plan on only displaying the popup to users who have signed up for beta testing - the beta version with the popup will never be pushed to production (speaking of which, I need to make a note to remind myself about that....)

Is it common for people to sign up for beta testing without having tried to use the app at least 5 times?

[2017-07-24 07:45] akaita commented on #791
I might be missing something here 🤔
I think that when people takes an action, they expect the result to that action to come first. I mean, when I sign-up to a beta, I expect to get and test the beta; getting a pop-up as soon as I open an app for the first time is always annoying to me, nevermind whether it is a beta or not.

Anyway, I guess there is more flexibility with beta users, so just experi

[2017-07-24 07:51] misaochan commented on #791
Oh, sorry I missed the point, @akaita ! Yeah, there is a possibility that someone might sign up for beta recently and then get the popup before they've had the chance to do much else. Perhaps it might be beneficial to find a way to delay the popup so it isn't the first thing users see. E.g. have it triggered by some action, like a successful upload or when they load, say, the Nearby screen.

It wo

[2017-07-24 08:56] janpio opened #811 "Move all developer/contributor documentation to Wiki"
Right now there is developer and contributor documentation in at least two places: README and the repo Wiki. I suggest this should be unified in one location, the Wiki.

That would mean moving the "Develop with Android Studio or IntelliJ", "Build Manually", "Code Structure", "On-Device Storage" and "Translating the app" paragraphs from README to the wiki. The "Volunteers welcome!" should probably

[2017-07-24 09:49] whym opened #812 ""Take picture" should allow saving the picture when the user tries to cancel uploading"
When you take a picture from the "Take a picture" action, the file will be stored in cache. You will not be able to retrieve it later from there. If you interrupt or cancel the upload procedure (by pressing the back button or killing the app) and fail to complete, the file will be lost.

(This was different before #727 - the file was to be stored in external storage immediately. However I don't th

[2017-07-24 09:52] nicolas-raoul commented on #811
I agree!

On Mon, Jul 24, 2017 at 5:56 PM, Jan Piotrowski <notifications@github.com>
wrote:

[2017-07-24 11:01] janpio opened #813 "Stetho is enabled for release builds - should be changed to debug-only"
While debugging one of my own apps I noticed that Commons app (still running in the background from earlier) includes Stetho and is therefore debuggable using the Chrome Dev Tools.

The only mentions of this I found were [the PR that added this](https://github.com/commons-app/apps-android-commons/pull/594) and [the wiki](https://github.com/commons-app/apps-android-commons/wiki) Home page:

This se

[2017-07-24 12:57] misaochan commented on #811
I agree with moving the docs into wiki and linking to them from the README.

[2017-07-24 13:07] #670 closed

[2017-07-24 13:07] #503 closed

[2017-07-24 14:09] neslihanturan commented on #719
Hi, is there any improvements about this issue? Is anyone still working on it?

[2017-07-25 07:31] neslihanturan commented on #791
What about adding a notification to top of home page? Seems less annoying to me. If user clicks to the notification, we can display the window?

[2017-07-25 07:48] misaochan commented on #791
I am OK with that if there is a way for the user to dismiss that message and not have it show up again. The main concern with UI modifications is that it would take more time (for development and testing) than this task might actually warrant IMO. That is why I think a popup would be easiest.

[2017-07-25 08:22] neslihanturan commented on #791
Okay, so last decision:
- removing remind me later option
- displaying the notification on 3rd time starting the app?

[2017-07-25 08:27] misaochan commented on #791
Yes and yes IMO.

[2017-07-25 08:34] misaochan commented on #791
Final suggestion from my part, if this is not too much trouble - in addition to the popup, add a link to the proposal in the navigation drawer ("Reviews", underneath Feedback).

Then modify `<string name="feedback_popup_description">We are planning several new features and improvements for the app! Have your say.</string>` to `<string name="feedback_popup_description">We are planning several new f

[2017-07-25 11:12] psh opened #814 "Add app shortcuts"
Android app shortcuts seem like a natural way to launch the app and go directly to

* Nearby places
* Upload from gallery
* Take a picture

![App Shortcut](https://paul.hawke.io/apps-android-commons/wikimedia-commons-app-shortcuts.png)

It should be a matter of _configuration_ rather than large amounts of code - adding a `shortcuts.xml` and making sure that we can launch directly into the given ac

[2017-07-25 12:26] misaochan commented on #814
Cool, I actually had no idea we could do that! What SDK level does that require?

Personally "Upload from gallery" is the option that I use more than 80% of the time in the app, I would be for keeping that in. :)

[2017-07-25 12:35] misaochan opened #815 "Including our app as a project in a FOSS internship program"
I figure we could potentially put our app up for the next [Outreachy](https://www.gnome.org/outreachy/) round (Dec - Mar). AFAIK GSoC is only once a year and we have missed the last intake, so Outreachy will be the next one up. This is always a good way to get more visibility for us and to introduce new programmers to our project (plus the benefit of Outreachy is that it is for underrepresented gr

[2017-07-25 13:41] psh commented on #814
If the app targets Android 7.1 (API level 25) or higher you can use app shortcuts.  The `gradle.properties` currently has us set to a minimum of 15, and target of 25, so we are good (though we might want to think about bumping the minimum up as API 15 represents only 0.7% according to Google)

I think one killer feature of app shortcuts is that users can create "pinned shortcuts" - an icon directl

[2017-07-25 13:44] psh commented on #815
What is involved (time commitment, or other prerequisites) in being a mentor?

[2017-07-25 14:15] misaochan commented on #815
It varies depending on how involved you want to be, as far as I can tell. I would estimate 5 hours per week or so. Perhaps @nicolas-raoul can provide better information on this. ;)

[2017-07-25 21:00] neslihanturan commented on #815
As an old intern of Outreachy program, I would be very happy to mentor it to increase diversity.

[2017-07-26 02:12] psh commented on #814
Updated the screenshot - icons and starting point for `shortcuts.xml` are on a branch, should someone else want to pick this up and play around with it - https://github.com/psh/apps-android-commons/tree/app-shortcuts

[2017-07-26 07:56] misaochan commented on #815
Thanks @neslihanturan ! Once I can confirm my availability, at the end of August maybe we can take a look around the issues board and pick a few suitable tasks? Even if I end up not being available, if anyone else is willing to be the 2nd mentor then we can still go ahead. :)

[2017-07-26 08:15] misaochan commented on #814
Sounds great to me. Happy to review if anyone wants to pick this up. :)

[2017-07-26 10:51] neslihanturan commented on #791
@misaochan , could you explain Developer plans addition to navigation drawer deeper? How shoud it look like?

[2017-07-26 13:35] misaochan commented on #791
Just an item under "Feedback" and above "Logout" that says "Developer plans" (you choose what icon you want, I'm okay with anything).

[2017-07-26 14:04] janpio commented on #791
(Note from a PM-by-day person: The "Developer plans" link in the drawer feels feature creep her and only half thought out. It should probably be discussed and implemented in another issue. [Personally, I would expect something like that in "About"])

[2017-07-26 14:17] misaochan commented on #791
Fair point @janpio . @neslihanturan what do you think? Shall we just put in the popup first and then discuss the nav drawer link separately? You can still keep the work you've done (if you've started on that), just move it to a different branch.

[2017-07-26 14:21] neslihanturan commented on #791
I added the commits actually, you can see here #808, almost 2 hours ago.

[2017-07-26 14:54] psh commented on #725
**Bottom Nav _vs_ Tabs**

The material design spec says there should be 3-5 options if you're going to use bottom navigation.  If there are only 2 (contributions and nearby) then we should opt for tabs.

That said, I think it would be easy to come up with a 3rd bottom nav item though - we could collect the notifications and other status messages into an "inbox" -

* upload succeeded - give a link

[2017-07-27 06:57] misaochan commented on #725
Thanks for the feedback, @psh . :)

Yeah, this is why I am leaning towards tabs. Having more than 2 items feels rather "busy" to me, like we're overwhelming the user with stuff. The intent of having Contributions and Nearby as the 2 tabs is so that the user can focus on those 2 main things (along with the FAB upload button). Then everything else can go into the nav drawer.

I do like the suggestio

[2017-07-27 07:59] mebr1416 commented on #701
I'm looking into this.

[2017-07-27 09:19] mebr1416 commented on #701
Note: the (I) on the right side of the Title field. When the (I) is clicked a message shows at the bottom part for short period and disappears.
![screenshot_1501146435](https://user-images.githubusercontent.com/26868644/28663016-d0005708-72c4-11e7-867b-bb20addb8c5c.png)

[2017-07-27 09:54] nicolas-raoul commented on #701
Looks good!

On Thu, Jul 27, 2017 at 6:20 PM, The B <notifications@github.com> wrote:

[2017-07-27 09:56] mebr1416 commented on #701
What message should follow the "Description" field?

[2017-07-27 10:16] nicolas-raoul commented on #701
How about something like this? :

Please describe the media as much as possible: Where was it taken? What
does it show? What is the context? Please describe the objects or persons.
Reveal information that can not be easily guessed, for instance the time of
day if it is a landscape. If the media shows something unusual, please
explain what makes it unusual.

On Thu, Jul 27, 2017 at 6:56 PM, The B <

[2017-07-27 10:18] nicolas-raoul commented on #701
The official doc at
https://commons.wikimedia.org/wiki/Commons:First_steps/Quality_and_description#Good_file_descriptions
does not contain much.

On Thu, Jul 27, 2017 at 7:16 PM, Nicolas Raoul <nicolas.raoul@gmail.com>
wrote:

[2017-07-27 10:49] mebr1416 commented on #701
Title Information

![screenshot_1501152273](https://user-images.githubusercontent.com/26868644/28667020-584279b8-72d2-11e7-90e9-fcaeff949120.png)

Description Information

![screenshot_1501152113](https://user-images.githubusercontent.com/26868644/28666949-1ac67ec2-72d2-11e7-8329-c5e3d58c0829.png)

[2017-07-27 11:11] nicolas-raoul commented on #701
The text you have chosen is mostly for people who upload scientific images,
which are very unlikely to be taken with a smartphone.
On the opposite, people with smartphones are much more likely to take
pictures of live events and points of interest.

On Thu, Jul 27, 2017 at 7:49 PM, The B <notifications@github.com> wrote:

[2017-07-27 22:56] janpio opened #819 "OAuth?"
While working on the inital developer documentation I noticed that the app actually "handles" the username and password of the app users. I was surprised by that.

Does Commons/Mediawiki not support OAuth so the app can use a token based authentication mechanism?

[2017-07-28 08:41] mebr1416 commented on #701
I've made the changes to the text according to text @nicolas-raoul posted above.

[2017-07-28 09:59] misaochan commented on #809
Thanks again for all the documentation efforts @janpio . We'd like to add your name to the CREDITS.md, if you're okay with that. :) If so, what name would you prefer us to use?

[2017-07-28 10:08] misaochan commented on #819
I was indeed wondering about this. The current login mechanism is a slightly-modified version of the legacy code from several years back. It's entirely possible that Commons/Mediawiki might support OAuth now.

[2017-07-28 10:13] janpio commented on #809
"Jan Piotrowski" is fine. Thanks!

[2017-07-28 10:13] misaochan commented on #812
I agree, a warning and the opportunity to save the file in external storage would be good.

[2017-07-28 10:17] janpio commented on #819
One data point: Wikipedia for iOS also has an integrated login, not Oauth.

[2017-07-28 10:19] janpio commented on #812
I kind of expected the picture to appear in my gallery after I took it, no matter what happens with it in the app. (But I am an iOS user mainly...) Is this done differently in Android by default?

[2017-07-28 10:30] misaochan commented on #809
Done. :)

[2017-07-28 11:02] tobias47n9e commented on #819
There is a mediawiki extension OAuth that is used by Wikipedia. Perhaps a thing for a library to share with the Wikipedia app? I made one of several python packages to connect with mediawiki and can explain some of the basics.

[2017-07-28 11:47] janpio commented on #819
Awesome. Do you know any apps that actually use this? Is this also available on Commons?

[2017-07-28 13:13] whym commented on #812
@janpio Thanks for the suggestion. I went back to the official documentation and it said:

https://developer.android.com/training/camera/photobasics.html#TaskPath

So I think you are right.

In light of this, I'm happy to make it (almost) always save the picture. I'm thinking of two approaches.

Approach A:
* User takes a picture using this app.
* App asks whether you want to save it locally (+per

[2017-07-28 14:06] misaochan commented on #812
What about Approach A with an option (perhaps in Settings) to not use external storage (and thus not save the picture) if a picture is taken with the in-app camera? I can think of a few use cases where users might prefer not to save the file automatically (people with very limited external storage space, perhaps?). However, those use cases might be too few to justify the additional complexity need

[2017-07-28 15:01] tobias47n9e commented on #819
The Oauth token works for all projects and you can customize what permissions the consumer needs. Here are the existing clients: https://m.mediawiki.org/wiki/Special:MyLanguage/OAuth/For_Developers

I don't know if there is a Java library, but add it on that page if you find one. The python mwoauth library is very readable and could be a template for a Java implementation.

[2017-07-28 15:19] janpio commented on #819
Nice, looking good and pretty straightforward.

Is there a list of apps, websites or projects that are **using** this already somewhere?

[2017-07-28 15:28] janpio commented on #819
Last point at https://m.mediawiki.org/wiki/Special:MyLanguage/OAuth/For_Developers#content-collapsible-block-3 might be a problem as well.

[2017-07-28 17:55] tobias47n9e commented on #819
Are you mentioning this (The link to the headline does not work for me)?

https://www.mediawiki.org/wiki/OAuth/For_Developers#Security_benefits_and_trade-offs

The solution seems to be:

https://stackoverflow.com/questions/4419915/how-to-keep-the-oauth-consumer-secret-safe-and-how-to-react-when-its-compromis

We could set up a web service on tool labs (Which I guess got renamed again and is now To

[2017-07-28 18:26] janpio commented on #819
Yep, that was the one.
Is this "normal" for OAuth mobile apps?
(Or is this a OAuth 1 vs 2 thing?)

[2017-07-28 19:26] akaita commented on #804
I don't understand.
The example on the left is doing `center-crop`: make the image as small as possible, preserving the image ratio and covering the whole space.
That looks like the correct behaviour.

Could you use [this reference](http://www.peachpit.com/articles/article.aspx?p=1846580&seqNum=2) to point what scaling type you are expecting here?

[2017-07-28 20:06] akaita commented on #813
I myself don't understand your question. Sounds like you are asking [how to use Stetho](https://github.com/facebook/stetho) in the form of [a tutorial](https://code.tutsplus.com/tutorials/debugging-android-apps-with-facebooks-stetho--cms-24205), which is actually explained in your own question: `Run in debug mode, go to browser, chrome://inspect/#device, select inspect device, Resources tab`

Am I

[2017-07-28 20:31] janpio commented on #813
I was asking what it is actually used for.
Is it common that this is in production apps for endusers to use?

[2017-07-28 20:47] tobias47n9e commented on #819
I am not totally sure, but my current understanding is that there always need top be 3 parts involved. The Oauth provider, the consumer and the client. If the mobile app is both consumer and client the security can never work. Maybe that ist why there is no android library?

[2017-07-28 20:52] akaita commented on #813
It is used for development, for debugging. I'm nor sure about the confusing part of this explanation, or even the tutorial I liked to.

No, it is not common to allow enduser to use debugging tool. This app doesn't do it either...

[2017-07-28 21:02] janpio commented on #813
You should check that again. v2.4.2 from the Play store does.

![image](https://user-images.githubusercontent.com/183673/28736153-dab35cc0-73e8-11e7-9b13-79bc234b4ed7.png)

That's why I am asking...

[2017-07-28 21:06] akaita commented on #813
Ha! Something was going on with my browser and didn't show me anything even in debug.
I stand corrected 🙇

Stetho is indeed enabled for all build types. Probably not very important, but better disable it IMHO.

[2017-07-28 22:11] psh commented on #819
No Android Library?

* https://gist.github.com/JakeWharton/f26f19732f0c5907e1ab (OAuth 1.0a)
* https://gist.github.com/alex-shpak/da1e65f52dc916716930
* https://github.com/pakerfeldt/okhttp-signpost
* https://github.com/corcoran/okhttp-oauth2-client

That's a quick sample of code that utilize OkHttp (a transitive dependency that already exists in this app)

Do any of them cover the cases we need h

[2017-07-28 23:45] whym commented on #804
Using a similar wording to that page, my intention was "Scales the image to fit inside the view, while maintaining the image aspect ratio. The larger axis will exactly match the view, and blank will be added the other axis." The images does not need to always cover the whole space. Not sure if this is identical to one of the types described there.

[2017-07-29 08:00] janpio commented on #819
He meant the list here: https://m.mediawiki.org/wiki/Special:MyLanguage/OAuth/For_Developers#Libraries

If the Mediawiki implementation is standard, any of the ones you posted matching the Mediawiki OAuth version should be fine though.

[2017-07-29 14:59] akaita commented on #804
Ok, `blank will be added the other axis evenly` means you are talking about `fitCenter`.

In a list, having that kind of blank space would be very strange.
We could avoid cropping the image and also having blank spaces with:

- make image take whole width
- make image's height adapt to show whole image

Would that sound ok?

[2017-07-29 15:05] psh commented on #310
@misaochan - Is this still a bug that needs to be addressed?

[2017-07-29 16:45] psh commented on #819
Thanks for the correction @janpio, I was barking up the wrong tree on that one!

[2017-07-30 07:06] misaochan commented on #310
@psh It hasn't happened recently for me, but not sure. Has anyone else experienced this recently? @AtaZh ?

[2017-07-30 08:11] misaochan commented on #813
Yeah, if Stetho is enabled for release builds, we should definitely change that. Hope you don't mind me modifying the title of the issue, @janpio . :)

[2017-07-30 09:11] misaochan opened #823 "Nearby item descriptions not working in v2.5.0 (beta)"
Posting on behalf of @VojtechDostal who is unable to do so at the moment:

Item descriptions in Nearby Places do not work for him after the recent patch. For instance, this description used to be` instance of (P31) `(which admittedly isn't the best description, haha, but still) but now only says `?`

![vojtech_nearby](https://user-images.githubusercontent.com/3611199/28752097-c5da6c62-755a-11e7-81

[2017-07-30 11:36] misaochan commented on #748
Does this still happen for anyone in the current beta release? Seems to be fixed for me.

[2017-07-30 13:10] VojtechDostal commented on #823
Thanks for posting this.

[2017-07-30 14:56] misaochan commented on #750
Should be fixed I think.

[2017-07-30 14:56] #750 closed

[2017-07-30 14:57] #529 closed

[2017-07-30 23:14] mwoguri commented on #642
I could not reproduce this on an Xpera Z3 compact running 6.0.1.  When I log out, I am taken to the log in page.  Could you confirm that this still exists, @misaochan, and if so add any details about how to reproduce?

[2017-07-30 23:29] mwoguri commented on #628
@sandarumk could you add your phone's version and steps to reproduce?  I tried logging in/out a few times on and Xperia Z3 running 6.0.1 and was unable to reproduce.

[2017-07-30 23:34] mwoguri commented on #624
@whym Can this issue be closed?  The discussion in #625 makes it appear as if perhaps it can be.

[2017-07-31 07:16] nicolas-raoul opened #825 "Day mode by default"
Is it me or the default mode when first installed is night mode?

If yes, I would suggest making it day mode by default.
Most people probably use this app while outside, for which night mode is not the best.
In particular, the night-mode nearby map is unreadable in day light.

[2017-07-31 07:48] zapdoss commented on #499
Is anyone working on this issue? I would like to work on it.

[2017-07-31 07:55] nicolas-raoul commented on #499
@zapdoss That would be great, go ahead, thanks! :-)

[2017-07-31 08:43] whym commented on #624
I think so. I recently did a fresh install and didn't experience a crash.

[2017-07-31 08:43] #624 closed

[2017-07-31 22:12] neslihanturan commented on #825
I also prefer day mode frequently.

[2017-08-01 09:46] misaochan commented on #825
Yeah the default mode is night mode. I'm good with changing it to day mode, if the majority agree. :)

[2017-08-01 09:49] misaochan commented on #499
@zapdoss Welcome! And yes, please feel free to work on this. :)

[2017-08-01 13:35] nb2998 opened #827 "Unable to upload picture"
Not even a single picture from gallery is being uploaded. I have tried it several times but it appears to be failed every single time. The same problem is faced when I go to gallery and select this app to share. However, it works fine when I use camera to upload the picture.

Android version : 6.0.1
Device: Redmi

Logcat :

[code]

[2017-08-01 16:20] janpio commented on #811
(Please assign this issue to me, I will take care of it)

[2017-08-01 16:21] janpio commented on #809
(Could someone please assign this issue to me as I plan on continue working on it when I have the time)

[2017-08-01 16:25] misaochan commented on #811
Assigned, thanks @janpio !

[2017-08-02 07:43] misaochan opened #829 "Update on the app and grant renewal status - project maintainer taking a temporary break"
Hi guys, bit of a long post, apologies in advance.

A bit of background: This app is purely community-maintained, and since last year has been funded by a WMF [Individual Engagement Grant](https://meta.wikimedia.org/wiki/Grants:IEG/Improve_%27Upload_to_Commons%27_Android_App). The actual funding has run out some time ago and the past few months have been purely volunteer work.

Unfortunately thing

[2017-08-02 15:57] nicolas-raoul commented on #829
Sorry to hear about that, I really hope that WMF will give its OK for starting as soon as possible! The grants are a great way to put great energy into new features and strategic tasks.
It is very understandable that you don't spend as much time on the project when doing it purely as a volunteer.
For day-to-day operations, I encourage everyone in their spare time to develop/send PRs and review new

[2017-08-02 17:56] psh commented on #829
Couple of questions -

* There is a current milestone [IEG tasks](https://github.com/commons-app/apps-android-commons/milestone/1) open with a single item not finished.  Can we close it?

* Are the issues tagged [High Priority](https://github.com/commons-app/apps-android-commons/issues?q=is%3Aissue+is%3Aopen+label%3A%22high+priority%22) actually the top things to work on right now?

* Would it be

[2017-08-02 19:09] neslihanturan commented on #829
First question : I think we can close it

For the rest, tags are not very well organized currently. I also have hard times to select a task to work on. I can start an issue tomorrow to discuss what can we do until renewal time and accordingly create new issues and organize tags.

[2017-08-03 08:41] neslihanturan opened #830 "Discussion: New strategies until grant renewal starts"
Hi everyone,
After #829 , it might be very important to be organized again, to not lose our team motivation. We already have our ideas on proposal here: https://meta.wikimedia.org/wiki/Grants:Project/Improve_%27Upload_to_Commons%27_Android_App/Renewal , but I think there is a lot to that is not included to our proposal. It can be a good time to
- Re-factor our legacy codes
- Optimise our network c

[2017-08-03 08:47] #420 closed

[2017-08-03 09:02] misaochan commented on #829
Thanks for the support, all! Greatly appreciated. <3

@psh

1. Thanks for the reminder! I have closed it.

2. I would say they are - I checked on High Priority tasks fairly recently. I did remove one today that appears to no longer exist, but I would say that everything on it now is relevant. #748 is pending discussion about whether it still occurs. #328 is likely to be fairly involved and was pla

[2017-08-03 09:22] misaochan commented on #830
Hi Pollyanna. ;)

In all seriousness, all the suggestions that you mentioned sound great. I mean, I don't really agree that new features should be delayed just because bugs/crashes still exist - bugs/crashes will always exist (especially with the plethora of Android devices out there and new Android versions coming out so often), so I personally think that it would be unrealistic to delay new feat

[2017-08-03 09:46] neslihanturan commented on #830
Yes, I can follow this process. I need to declare that I am in two more project simultaneously, but I will do my best anyway.

Regarding tests, I am sometimes having hard situations because as you know wikipedia access is blocked in my home. Despite my wasted long hours to solve the issue, I am still not able to set a consistent VPN connection from my main computer (I even tried to refresh my OS i

[2017-08-03 09:49] whym commented on #830
I agree. If there is going to be a lack of releases for an extended period, it sounds like a good idea to use the time to cleanup/stabilize internal things.

[2017-08-03 09:54] nicolas-raoul opened #831 "NullPointerException at android.content.ContextWrapper.openOrCreateDatabase"
5 reports
On app version 74 (beta):
[code]

[2017-08-03 09:57] nicolas-raoul opened #832 "InternalError at okhttp3.internal.http2.Http2Connection$ReaderRunnable.applyAndAckSettings"
[code]

[2017-08-03 10:05] misaochan commented on #830
No worries, just put in however much time you can afford to put in. This is all currently volunteer work anyway. :)

Advice off the top of my head:

- Look into the high priority issues
- Have a clean-up of our current issues, a lot of them should have been closed or need tags. It's easier to start with a clean slate.
- Have a clean-up of the existing PRs
- Work with @psh and @akaita to get the Rx

[2017-08-03 10:15] mebr1416 commented on #825
Good day. I am looking into this.

[2017-08-03 10:30] akaita commented on #830
Please let me chip-in, at least in regards to the status codebase.
It is very obvious that tons of people with very varying knowledge-levels have contributed code into it. Good practices and bad practices are mixed in equal parts, as well as very different coding styles and patterns.

The absolute highlight of the codebase if though the handling of threading. It is quite bad (excuse my sincerity)

[2017-08-03 10:34] misaochan commented on #830
Testing would be needed even if RxJava2 PRs are progressively merged into master (which I am good with, assuming there are no issues with core functionality when tested). But yes, conflicts could be minimized that way.

As for the codebase and knowledge levels - yes, that is the beauty of a community-maintained open source app. ;) We all have to start somewhere, after all.

[2017-08-03 14:04] psh commented on #830
Three problems of deprecation should be addressed:

* Several of the API calls that the app uses return warnings that they are deprecated on the server side.  For instance, we should be requesting a _csrf_ token and not an _edit_ token.

* Worse than simple API calls being deprecated is that the Wikimedia API [data formats](https://www.mediawiki.org/wiki/API:Data_formats) page lists XML as a depre

[2017-08-03 18:03] akaita commented on #667
If you don't mind, i'd like to get on and try to solve this issue.
👍 ?

[2017-08-03 18:08] neslihanturan commented on #667
Sure, everyone will be very happy. :)

[2017-08-03 20:40] akaita commented on #667
I see the issue. Will fix it.
I'm not sure about the expected behaviour, though.

I would expect the behaviour to be:

- if there are categories which start with the entered term, show them
- if there are NO categories which start with the entered term, show categories with similar terms
- if the user has already chosen a number of terms, those are shown at the top of the list. Other suggestions a

[2017-08-03 21:39] akaita commented on #667
Maybe, additionally:

- if no term is entered:
  + show most popular terms in the user's other uploads, ordered by most recent
  + if the previous doesn't yield 25 results, add category suggestions for the search: ""

[2017-08-04 07:30] neslihanturan commented on #667
I think currently, it works same as in your comments. I am just not sure about completing them to 25 result (it is kind to recognize without reading code). However this behavior is also good for me. I can only add:
- If there is no related terms (let's say input fghvdfhhgfd) it displays an informative text.

[2017-08-04 07:43] janpio commented on #667
(If the functionality changes, you might want to discuss this in a new "enhancement" issue. This bug fix should probably not change the way stuff works for the user.)

[2017-08-04 07:44] misaochan commented on #667
What the app currently does:

1. When no term is entered, displays 3 types of suggestions:
- Location-based category suggestions - see https://github.com/commons-app/apps-android-commons/wiki/Category-suggestions-%28readme%29
- Recent categories selected by user
- Title of the file that user typed in #43

2. When a term is entered, categories are shown based on the entered term. I don't think the

[2017-08-04 07:44] akaita commented on #667
Thanks @neslihanturan .
I'll implement this behaviour, then. Anyway, I'll keep in mind that this is an area that will keep evolving.

btw: the issue doesn't replicate anymore in my code. I just have to refactor that area in order to make sure it behaves as expected :)

[2017-08-04 07:48] akaita commented on #667
@misaochan my issue here is that the current behaviour is not clear to me...

- I understand you say the results from (1) will always be shown at the top of the list, regardless of what the user's search?
- How are the results of (1) meant to be ordered? Alphabetically?

[2017-08-04 07:53] misaochan commented on #667
The **selected** terms from (1) will, yes. Not all the results. Do you use the app to upload files currently? If not, I'd strongly recommend trying it out to get a feel of it.

They are ordered in the way that the API returns them, I believe.

[2017-08-04 08:11] akaita commented on #667
When I ask about the ordering, I mean that there are three sources of information for (1). When those three sources are merged, the result could be ordered...

[2017-08-04 08:40] neslihanturan commented on #667
To remove the confusion: I also think we shouldn't change the behaviour @akaita . Thanks for noting that @janpio . I am really glad that the issue isn't occurred in your code anymore, thanks @akaita . I am ready to test it whenever the PR is ready.

Regarding to the issue about order of (1), I couldn't test geo-tagged ones since I don't have any geo-tagged photos currently. But for others:

![scre

[2017-08-04 09:34] akaita commented on #667
These explanations help a lot. Thanks @misaochan !

[2017-08-04 15:48] mebr1416 commented on #825
Thank you @neslihanturan for your input.

[2017-08-04 23:40] akaita commented on #825
Would it make sense to use the device's time to choose the default day/night mode?
Or even better, the light sensor?

[2017-08-05 04:03] mebr1416 commented on #825
Device's time would have to consider sunset time per season. So that would
have to be downloaded info that is stored per season per location. You know
that in the month of June there is about a week or more of no sunset in
Northern Sweden :)

The light sensor would make sense.

Overall, let's close this issue as it is and maybe reopen a new one with
your question. I feel the current options are su

[2017-08-05 10:08] janpio commented on #825
The day/night mode is in reality more a "light UI/dark UI" mode. Different people prefer different colors, see Visual Studio (default light) vs. Visual Studio Code (default light).

[2017-08-07 09:45] nicolas-raoul commented on #825
Thanks @mebr1416 ! :-)

[2017-08-07 09:45] #825 closed

[2017-08-07 11:41] misaochan commented on #642
Sorry it took so long for me to get back about this, @mwoguri . I think this issue has been solved, thanks. :)

[2017-08-07 11:41] #642 closed

[2017-08-08 10:30] janpio opened #836 "[Wiki] "Volunteers Welcome!" should not only focus on developers"
Right now the "Volunteers Welcome!" documentation is 100% focuesd on developers: https://github.com/commons-app/apps-android-commons/wiki/Volunteers-welcome%21 (formerly in the README)

I think this could be improved to also include translation and other work related to the app that more non-technical people could do. The technical development instructions might also better be placed in a seperate

[2017-08-08 10:32] janpio commented on #836
What would that be, what a more non-technical person can de besided Translation on Translatewiki?
Testing?
Moderating images?
Helping with issues?

[2017-08-08 10:36] janpio commented on #836
- Write documentation in the wiki

[2017-08-08 10:44] janpio commented on #809
All available documentation is now part of the Wiki. I added an initial structure to the home page that groups it a bit, but someone (or several someones) should go over all the content to see if the order and grouping makes sense.

I am sure some information is duplicated and should be concentrated in one location.
Other information is still missing.

But we have to start somewhere 🐿

[2017-08-08 11:01] #811 closed

[2017-08-08 13:04] whym commented on #836
Yeah, testing the app and moderating images would be great.

To expand, to people who can use Android Studio:
* Compile and test the latest (not yet release) app, and report any issues you encounter

To experienced Commons editors:
* Check lists such as https://commons.wikimedia.org/wiki/User:Didym/Mobile_upload and https://commons.wikimedia.org/wiki/Special:RecentChangesLinked/Category:Uploaded_w

[2017-08-08 13:22] #217 closed

[2017-08-08 13:26] whym commented on #62
All has been good with TranslateWiki (thanks to everyone) - closing this.

[2017-08-08 13:26] #62 closed

[2017-08-08 13:35] whym commented on #827
This seems to be related to the jacoco-android plugin and codecov.

This seems to indicate that it is related to permissions. Does the app have the storage permission? Were you ask to give it? (You should have, if the app worked as expected.)

[2017-08-08 13:45] misaochan commented on #836
Everything @whym mentioned, plus:
- Testing the current beta release and reporting any issues with it (for those who don't know how to build from GitHub)
- Moderating our Google group forums (AFAIK @neslihanturan is currently doing that, but a non-technical person could also do that)
- Helping with promotional/marketing stuff - sharing about the app on social media, making educational videos on ho

[2017-08-08 17:17] nb2998 commented on #827
It had the permission for storage but not for location. It works fine now!
Thanks!

[2017-08-08 17:17] #827 closed

[2017-08-09 08:31] #667 closed

[2017-08-09 08:31] neslihanturan commented on #748
I think since #667 is solved, the (possibly) related issue might be also solved. If someone still experience this, then we should consider them separately.

[2017-08-09 13:33] misaochan commented on #748
I agree. FTR I don't experience this issue anymore in the current beta release either. Lets close it, if anyone still has problems they can reopen. :)

[2017-08-09 13:33] #748 closed

[2017-08-09 14:06] AtaZh commented on #310
[Still there ](https://commons.wikimedia.org/w/index.php?title=File:Sprouts_of_dill.jpg&oldid=254815246)

[2017-08-09 14:45] Divya063 commented on #499
Can I have an update on the issue?I would like to work on this

[2017-08-10 12:22] nemobis commented on #259
Ideally the notifications would not be opt-in; Google doesn't ask permission to trick you into contributing your resources into their proprietary database, they just pester you asking to contribute to the map. But an opt-out notification is more useful in a widely used app (like Wikipedia https://phabricator.wikimedia.org/T143884 or OsmAnd http://osmand.net/blog?id=osmand-2-7-released ) so I can u

[2017-08-11 06:56] akaita opened #843 "Reduce cost of reviews - Screenshot"
In #829 @misaochan said 40% of the time spent in maintenance was about reviewing PRs.
A good way to reduce this asking for Before&After screenshots and/or videos of PRs.

This simple technique has multiple effects:

- forces the author to run the app in order to take the screenshot
- forces the author to review his own work once he is done
- provides a way to review the results at a glance
- limit

[2017-08-11 07:26] misaochan commented on #843
I like the idea, @akaita . A video might be too much work or sound too intimidating, but a screenshot (especially an After screenshot) would be great. :) That would definitely be a huge help for the reviewers! And you're right that it "forces" (I prefer to use the term "encourages", haha) the author to run the app and test it, which does prevent the rare case of people submitting completely unwork

[2017-08-11 09:03] neslihanturan commented on #843
I also like the idea. I can add some additional things that we can add to readme. Of course it is not required for all types of PR's but,
- If PR requires some shared preferences
    - Testing it after clearing app data also
- If it is login task related,
    - Testing it with logging-out and logging-in again.
    - With fresh installation of the app
- If it is nearby realted
    - Testing it with

[2017-08-11 09:06] neslihanturan commented on #843
Actually it can be nice if reviewers also note what they have tested so far in comments with test device versions, so that other reviewers can finish remained tests and merge.

[2017-08-11 09:16] janpio commented on #843
Great idea. The documentation of this itself should like on the wiki, but also think about creating a pull request template that users will see when creating a PR. This can include checkboxes to fill out and of course also links to the wiki explanation of what is expected with a PR.

First step is probably to create the docs in the wiki and then build a pull request template based on that.

[2017-08-11 09:43] neslihanturan commented on #843
Agree with checkboxes and PR template @janpio .

[2017-08-11 10:18] akaita commented on #843
Having a template for PRs sounds like a good one.
We just have to make sure we point as few requirements as possible. Each requirement decreases the time spent in reviews, but it also increases the entry-barrier for authors.

We should find a good balance.
I would propose that we add requirements iteratively:

1. add one requirement
2. if PRs still take too much maintenance effort, add another req

[2017-08-11 11:11] mebr1416 commented on #814
@psh I have cloned your repo twice. Both times, all the changes you have done related to app-shortcuts isn't showing on my Android Studio. Is it somehow protected?

[2017-08-11 16:27] mebr1416 commented on #814
@psh, looking into this..

[2017-08-12 16:04] deepak-thakur commented on #814
how can i contribute ? i am a beginner with few months of experience with android.

[2017-08-13 15:22] misaochan commented on #843
My suggestion for the initial PR requirements (we can add more requirements later if needed, as @akaita suggested):

1. "After" screenshot for all PRs that modify the UI. I personally do not think the "Before" screenshot is absolutely essential - it would be nice but I'm not sure the onus should lie with the contributor to document the existing state of the repo. If we do mention a "Before" screen

[2017-08-14 03:16] nicolas-raoul opened #844 "If a category has exact name entered, show it first"
WIth the latest Git, yesterday I got this situation: I typed the name of a category that I know exists, but I had a hard time finding it, because it was far down in the suggestions.

My suggestion: If a category has _exact_ name entered (ignoring uppercase/lowercase), show it first

[2017-08-14 08:54] misaochan commented on #844
Agreed, that would be good!

[2017-08-14 14:53] mebr1416 commented on #814
I have left this issue for now.

[2017-08-15 03:03] nicolas-raoul commented on #814
@deepak-thakur Feel free to fix this issue, see https://github.com/commons-app/apps-android-commons/wiki/Volunteers-welcome%21 :-)

[2017-08-15 21:37] developer-- commented on #747
Kotlin? :)) W'll be aweosme 👍

[2017-08-16 06:17] gappleto97 opened #845 "Please push beta release to F-Droid"
The version currently there has a lot of crashes for me. The beta version solves essentially all of these.

[2017-08-16 06:19] gappleto97 opened #846 "Please push beta update to F-Droid"
It appears to solve basically all of the bugs (and crashes) that frequently occur in the version there.

[2017-08-16 06:20] gappleto97 opened #847 "Please push beta release to F-Droid"
It appears to solve basically all of the bugs (and crashes) that frequently occur in the version there.

[2017-08-16 06:24] #846 closed

[2017-08-16 06:24] #847 closed

[2017-08-16 06:25] gappleto97 commented on #845
Sorry for the multiple issues. I'm on a very flaky connection and it looked like it didn't go through.

[2017-08-16 06:47] ismailisimba commented on #844
You could design the search method to check for similarities ignoring caps, then by simple calculation decide if by how much percentage the query matches a category. Then sort the results from highest match to lowest.

[2017-08-16 06:57] misaochan commented on #845
Hi @gappleto97 ,

No worries. I was under the assumption that all of the tagged releases at https://github.com/commons-app/apps-android-commons/releases would automatically be pushed to F-Droid? Or am I mistaken in this?

[2017-08-16 07:16] nicolas-raoul commented on #844
@ismailisimba Something similar has already been implemented by @misaochan, please see https://github.com/commons-app/apps-android-commons/wiki/Category-suggestions-%28readme%29
Cheers!

[2017-08-16 07:33] nicolas-raoul commented on #845
F-Droid has a strict rule to not publish beta software.
I have already tried, and had my pull requests refused because the apps I was integrating were still in beta.
Cheers!

[2017-08-16 11:27] gappleto97 commented on #845
They do have rules to handle betas and the like. And they put their own betas on there. So that confuses me.

[2017-08-17 13:06] YDrall opened #848 "Logging out takes user back to contributions screen"
Android Version: 5.0

![output](https://user-images.githubusercontent.com/7512994/29413410-ed5c1eac-8379-11e7-86e5-03185e646eee.gif)

[2017-08-17 13:11] misaochan commented on #848
Hi @YDrall ,

Is your account 2FA enabled? Unfortunately we haven't been able to implement 2FA authentication just yet (and the auto minimize is what usually happens to 2FA accounts on login). There are [tentative plans](https://meta.wikimedia.org/wiki/Grants:Project/Improve_%27Upload_to_Commons%27_Android_App/Renewal) to implement it in the upcoming months, though.

[2017-08-17 13:25] misaochan commented on #815
Hi all,

Unfortunately, I do not think I can be the primary mentor for this round. However, I am happy to be the secondary mentor/co-mentor, if someone else would like to be the primary. The primary mentor would be the main point of contact for the intern as well as for the Wikimedia and Outreachy coordinators, and would be responsible for reviewing their code. I will help and advise wherever I ca

[2017-08-17 14:43] sandarumk commented on #815
What about Google Code In? Unlike other mentorship projects, the tasks for GCI are particularly smaller since they are targeted to high school students. The tasks do not have to be only coding, they can be testing, documentation, outreach, marketing, etc. Tasks should have designated mentors, but one task can have many mentors, so the workload can be shared.

[2017-08-17 15:29] neslihanturan commented on #815
Actually I think affording mentoring time is not a big deal for me, however I don't feel qualified enough to be primary mentor, yet. If @psh can have time to be primary mentor as a more experienced developer, I would be very happy to be co-mentor.
On the other hand, I am not sure about a suitable task that is big enough to be held in 3 months. Do you have any idea?

Regarding to Google Code In iss

[2017-08-17 16:39] misaochan commented on #815
@neslihanturan Sure, if @psh is able to participate, I am happy for both of you to be the mentors (and you guys can decide between yourselves who will be the primary or secondary mentor :) ). In that case I'll grant him collaborator  permissions (which he will need for that), and remember to ping me to post on the Phab thread, as AFAIK there used to be a rule that said that projects will need the

[2017-08-17 17:53] YDrall commented on #848
@misaochan Yes, Exactly!

[2017-08-18 02:46] psh commented on #848
In `CommonsApplication` we have a loop

[code]
The `removeAccount()` method returns an `AccountManagerFuture` indicating that removing the account is an asynchronous operation.  Also, we are passing *null* for the second argument - the `AccountManagerCallback` - which will be called when the operation completes.

I believe the bug stems from a race condition where the account manager still isn't d

[2017-08-18 03:22] psh commented on #815
Yes, I'd be happy to be a mentor.  @neslihanturan - you've been around this project longer than me and you know the Outreachy better than I do - I think its significant that you've been through the program yourself.  You're uniquely qualified to take a lead role!

Issue #725 might be a candidate for a project - incorporating tabs into the main activity of the app, adding a FAB and converting the e

[2017-08-18 09:56] utkarshmttl commented on #813
I think this issue is resolved in #828

[2017-08-18 10:17] nicolas-raoul opened #849 "Ignore Wikidata statements marked as deprecated"
Not sure whether this is done right now.
Some items have wrong coordinates that come from a reference database. Since the coordinates come from a reference database, the wrong ones are not deleted but simply marked as deprecated.

[2017-08-18 12:20] neslihanturan commented on #815
I also think #725 is suitable, however, improving our UI is one of our goals from our proposal. So, it is also important for us to make it happen in 6 months. We might need to finish this task before Outreachy session finishes. So maybe we can think of a new features or enhancements that are not written in our proposal.

For example there was an idea about gamifying the map here #334. Can we consi

[2017-08-18 16:48] misaochan commented on #815
Thanks for volunteering, @psh ! :) So it's settled - you and Neslihan can be the mentors. I would strongly recommend reading https://www.mediawiki.org/wiki/Outreachy/Mentors and the associated links beforehand.

I agree with @neslihanturan - it's too late for us to make significant changes to the IEG renewal proposal, plus honestly getting an intern is not a guarantee. In most rounds, some project

[2017-08-19 09:24] whym commented on #813
yes, thanks for spotting!

[2017-08-19 09:24] #813 closed

[2017-08-19 15:26] misaochan commented on #791
I think the popup has served its purpose by now. :) Would anyone like to remove the popup and nav drawer link? We will have more information about funding soon (I will be talking to the grants admin next Friday), and in the case of funding being approved we might have a release in a few weeks' time, so it would be good for this to be removed by then.

[2017-08-20 03:40] whym commented on #499
Solved via #838

[2017-08-20 03:40] #499 closed

[2017-08-20 13:30] Bluesir9 commented on #848
Hi, I am brand new to the code base, but the explanation provided by @psh makes much sense. I have been able to reproduce the issue fairly consistently, so I was wondering if I could give a shot at fixing this? Unless of course someone else has already taken care of it.

[2017-08-20 13:53] misaochan commented on #848
@Bluesir9 Absolutely, please feel free to try and fix this. Thanks! :)

[2017-08-21 17:45] Bluesir9 commented on #848
Do we need to handle any kind of errors in this? As in, if the callback throws an error, should we just swallow it and move on or should some kind of visual indication be shown to the user?

[2017-08-22 15:56] neslihanturan opened #853 "Preparing a test server"
Hi everyone,

I was thinking to facilitate our testing process. Maybe we can create a test server that includes emulators and several scenarios we want to test (maybe we can use selenium), and a script to test our PR for several conditions with command line easily. Does any of you used such thing before? Do you have advises for such environment?

[2017-08-22 22:11] psh commented on #853
How does this issue relate to PR #555 (WIP Use beta commons site when in debug mode) / Issue #705 ?

In the comments on #555 @whym suggested using product flavors to allow us to switch where the app is pointing.  I have that partially implemented on a branch (easily pulled out to make it a stand-alone PR if you want)  The one thing I haven't tracked down is what the beta site equivalent of https:/

[2017-08-23 07:56] neslihanturan commented on #853
Thanks for pointing to related issues @psh ! Actually I don't know the equivalent site either. I have read your branch and it looks like what I try to say. What do you think about testing on common emulators on a server to make sure patch is tested for several different devices?

[2017-08-23 08:10] whym commented on #853
As far as I know the use of tools.wmflabs.org in this app is read-only, so I suppose we can use the original site regardless it's test mode or not. (=no risk of accidentally destroying something on the server side.)

[2017-08-23 08:18] whym commented on #853
@neslihanturan It sounds like Travis-CI covers at least some of what you said - Travis-CI has Android emulators and it runs "gradle connectedCheck" (see .travis.yml) which invoke tests under app/src/androidTest.

[2017-08-24 06:48] nicolas-raoul commented on #222
Most programmers here are here because they love Wikipedia/Wikivoyage. So they usually spend their limited time adding features that benefit Wikipedia/Wikivoyage.

Thus, a potential developer for the present feature would probably come from one of these Mediawiki communities outside WMF. If these communities have no interested developers, they might want to crowdsource funds to hire a developer to

[2017-08-24 07:42] abhishekd08 commented on #848
Is this issue still open ? I tested the app on my phone and it worked fine with log in and log out. If it is open, can I work on it ?

[2017-08-24 07:47] Bluesir9 commented on #848
@abhishekd08 I am currently working on this on, in fact I am almost done. Have a look around, there are quite a few issues that could use some help!

[2017-08-24 07:51] dieudo4 commented on #222
Merci Nicolas : )
Actually, I imagined a fork could be done on an early version of this app (as simple as possible), where one would only have to change a few code lines. For instance replace  https://commons.wikimedia.org/wiki with the selected new wiki's address.
Does that seem realistic ?

[2017-08-24 07:52] abhishekd08 commented on #719
Can I work on this issue ?

[2017-08-24 08:09] neslihanturan commented on #719
Hi @abhishekd08 , thanks for your interest. Actually there is an almost done work for this issue made by @Nethermane , see #826 . However, it breaks tests somehow. If @Nethermane is not willing to continue to this task, you can pick this issue, I think. Are you planning to continue @Nethermane ?

[2017-08-24 08:15] nicolas-raoul commented on #222
Yes, that would probably work!
It would take a developer only a few hours to download and set up the development environment, follow our README, change the URL, compile and send you the APK.

New versions have less bugs than early versions, I believe.
If you learn to compile by yourself, you can keep up with app improvements :-)

[2017-08-24 11:48] Nethermane commented on #719
I was unsure how to complete this issue without breaking tests and where I should go after that. You are welcome to work on this issue.

[2017-08-24 12:59] Kartik2016 commented on #848
Is the issue still open @YDrall ? CAn i work on it?

[2017-08-24 13:02] Kartik2016 commented on #844
Is the issue still open? if yes, can i work on it ?

[2017-08-24 13:15] whym commented on #646
I have checked the results of checkstyle and there is no warnings about the ordering of imports now, so closing this.

[2017-08-24 13:15] #646 closed

[2017-08-24 15:30] misaochan commented on #848
@Bluesir9 It would depend on the type of error, but in this case I don't think there is a need to display any visual indication to the user. Please `catch` potential exceptions and `log` them, though.

@Kartik2016 and @abhishekd08 Thank you for your interest! However, lets give @Bluesir9 a chance to finish this, shall we? ;) Please feel free to browse through our issues and ask, if a particular on

[2017-08-24 15:34] Kartik2016 commented on #848
Ok. Thank you. I am an absolute begginer. I'll browse through other begginer friendly issues too.

[2017-08-24 15:46] #536 closed

[2017-08-24 15:46] #532 closed

[2017-08-25 10:29] abhishekd08 commented on #719
@Nethermane @neslihanturan  Thanks, I will work on this issue but as I am a complete beginner it may take time. If anyone interested to work on this issue can work.

[2017-08-25 23:21] jonas27 commented on #719
Sorry for not responding sooner. I would suppose shared preferences are still the way to go but they would need to be implemented before.

[2017-08-26 14:37] abhishekd08 commented on #848
@misaochan  thanks for your support, I am also a complete beginner. I will try to find some other beginner friendly issues.

[2017-08-28 15:20] misaochan commented on #815
Srishi Sethi (of WMF) recently posted on my talk page about this, along with instructions for how to include our project. Please feel free to chime in in the conversation or ask her further questions if needed. Link: https://www.mediawiki.org/w/index.php?title=Topic:Tx36gt6b4ppmrzto&topic_showPostId=tx36gt6cou5a46jg&fromnotif=1#flow-post-tx36gt6cou5a46jg

[2017-08-28 16:56] f71uday commented on #831
I start working on this

[2017-08-28 18:15] psh opened #858 "Update crash reporting framework"
I notice that the app is using the ACRA crash reporter.  In the commercial app experience I've had, we moved away from ACRA to [Crashlytics](https://get.fabric.io/) several years ago.  Google _bought_ Crashlytics back in January and are now suggesting that people use it in preference to [Firebase crash reporting](https://firebase.google.com/docs/crash/).  Crashlytics is free.

Out of the box, in a

[2017-08-29 10:50] srish commented on #815
Glad to hear there is an interest in including Commons App project in Outreachy! :) @misaochan has already included all the relevant resources. Application period opens in about a week, so if you could let me know which project you would want to showcase, that would be great. This time we are planning to promote the featured projects during the application period, can't guarantee but we'll try our

[2017-08-29 16:15] Bluesir9 commented on #832
Unless someone else has already taken care of this, I will have a look into this.

[2017-08-29 16:29] Bluesir9 commented on #706
If the explanation text is short enough, we could fit it below the "Nearby Places" text in the actionbar, just like the number of uploads are shown in the home screen below the "My Recent Uploads" text in the actionbar.

Or we could use something like a tooltip that would come up only the first time the user ends up on the screen.

[2017-08-30 16:23] misaochan commented on #832
Go for it, @Bluesir9 :)

[2017-08-30 16:24] misaochan commented on #706
Yeah, text under the actionbar sounds feasible to me (it could say just "nearby places that lack photos", perhaps?). But not sure if that is in line with UI design guidelines. Hopefully someone experienced in UI design can chime in?

The first-time tooltip is a viable idea also. :)

[2017-09-03 08:11] sivaraam commented on #853
Seems the following resources would be of help,

https://docs.travis-ci.com/user/languages/android/

https://medium.com/@harmittaa/travis-ci-android-example-357f6e632fc4

[2017-09-03 09:01] sivaraam commented on #741
I suspect the validity of that. I just now added a *second* image to a geographical place.

https://www.wikidata.org/wiki/Q7809309

[2017-09-03 10:42] sivaraam commented on #725
That's surprising you show notifications **within** the app! I thought the Android's [Notifications](https://developer.android.com/guide/topics/ui/notifiers/notifications.html) was the right place for that.

[2017-09-03 11:59] whym opened #860 "Use stash to upload"
By using the stash-based upload process available in the MediaWiki API, we can decouple the uploading of the file content from the decision of the file name. This can be great because it reduces the chance of the file name being taken by someone else during a long upload process, resulting in an overwrite. (#228)

https://www.mediawiki.org/wiki/API:Upload has some documentation on it. Also, there

[2017-09-03 12:22] misaochan commented on #725
Hi @sivaraam ,

Thanks for the feedback. Indeed, I think "notifications" might have been the wrong word to use (but I can't think of a better one). The Android notifications that you mention would be a separate enhancement for a few reasons: (1) the need for a webservice to push the notifications, which might be tricky to implement within the IEG timeframe, and (2) users might not want to receive

[2017-09-03 12:30] misaochan commented on #259
@nemobis Sorry I missed your comment! Yeah, Google certainly doesn't ask, haha. But to be honest I've personally found Google's automatic notifications to be somewhat annoying, and I'm not sure we want to follow their "strategy" in this aspect...

[2017-09-03 13:04] sivaraam commented on #725
You could use *Alerts* if you like that.

I'm not sure I get you. I have no idea why you need a *webservice* for this. Currently, you do get the information to notify the user in some way. You could just use Android's NotificationManager to send a notification using that information. You could find a simple example [here](https://developer.android.com/training/notify-user/build-notification.html)

[2017-09-03 13:33] sivaraam commented on #725
To add to my previous comment, I don't think the users would consider the notifications about "proposed deletion" as disturbing by any chance. It's something they might care about. Though, they may consider the notifications about pictures to be annoying if they are shown *frequently*. I suspect that would never happen. In case you doubt it you may give the user an option to *turn off* such notifi

[2017-09-03 17:06] Bluesir9 opened #861 "Crash when denying run-time permission for location access in NearbyActivity"
I am encountering the following crash when I deny the run-time permission for location access when I hit the NearbyActivity

`java.lang.RuntimeException: Failure delivering result ResultInfo{who=@android:requestPermissions:, request=1, result=-1, data=Intent { act=android.content.pm.action.REQUEST_PERMISSIONS (has extras) }} to activity {fr.free.nrw.commons/fr.free.nrw.commons.nearby.NearbyActivit

[2017-09-03 17:19] Bluesir9 commented on #706
Just attaching a screenshot for reference as to what it could look like:

![screenshot_1504458459](https://user-images.githubusercontent.com/5329780/30005158-cc67c18c-90f9-11e7-8576-a135e34998c6.png)

I have used [this](https://github.com/sephiroth74/android-target-tooltip) library for the tooltip.

[2017-09-03 18:19] psh commented on #706
Given the wide variations in screen sizes, we cant guarantee that the message in the toolbar will be fully visible.  I think the screenshot is an example of this.

If we're shooting for a "first run" type of experience, would it be better to use a library like [MaterialShowcaseView](https://github.com/deano2390/MaterialShowcaseView) and walk the user through the functionality, highlighting that yo

[2017-09-03 20:32] domdomegg commented on #725
Possibly getting off-topic, but Google Maps sends notifications in a very similar vein to ours e.g. POI nearby missing photo, photo was deleted etc. Here's the screenshot from the notification settings page, where each type of notification can be turned on/off individually (there's also a main general toggle to turn all notifications off)

![screenshot_20170903-211345](https://user-images.githubus

[2017-09-03 22:44] psh commented on #848
Closed by PR #856

[2017-09-03 22:44] #848 closed

[2017-09-04 02:50] nicolas-raoul commented on #741
@sivaraam While adding several images for an item is technically doable due to historical reasons, it is not desirable.
This is discussed at https://www.wikidata.org/wiki/Property_talk:P18#How_many_images.3F
Geographical items that have more than 1 image have the extra ones removed regularly.
Cheers!

[2017-09-04 07:15] misaochan commented on #861
@Bluesir9 Interesting, it crashes for you EVERY time? Just to be clear, which version are you testing - the production release, the beta release, or the current master branch?

Yeah, I was undecided on creating a whole new Fragment just for the error message, but the suggestions at #707 swayed me. :) I would personally not mind the use of a dialog instead. What do the others think?

[2017-09-04 07:23] misaochan commented on #706
Thumbs up from me for MaterialShowcaseView. :) Not sure how time-consuming it is to implement, but it does seem like the ideal solution.

[2017-09-04 07:28] Bluesir9 commented on #706
MaterialShowcaseView looks neat. We could start by using it for NearbyActivity first and probably implement it for other screens as well in time.

[2017-09-04 08:07] janpio commented on #725
Is there a (concept) design document for notifications that should be implemented? A list of some possible examples? That would make this discussion here much easier, because it would define if these are actual *notifications* one should *notified*  about vs. info bits that are shown sometimes.

[2017-09-04 08:57] srish commented on #815
Checking if there is an interest in showcasing the project for this round  https://www.mediawiki.org/wiki/Outreachy/Round_15 :) Let me know soon!

[2017-09-04 09:18] misaochan commented on #725
If the app isn't currently running, wouldn't you need a service to run the API calls (to find the nearest Place that needs photos) and generate the notifications that the user receives? Please feel free to chime in at #79 - we are discussing how to achieve push notifications there. :)

Yes, notifications shown in the notification drawer that can pop up even if the app isn't open.

I think this mig

[2017-09-04 09:20] misaochan commented on #725
It's not really off-topic, but there is a conversation about opt-in vs opt-out here - #259

I was planning to draft a basic one after IEG approval (because then we would certainly need it prior to implementation), but currently we don't have one.

[2017-09-04 09:24] misaochan commented on #79
Another option for sending push notifications - https://firebase.google.com/docs/cloud-messaging/ . Would this be compatible with our policies?

[2017-09-04 09:42] janpio commented on #725
Discussing how it looks like (and also how it has to be technically implemented, see https://github.com/commons-app/apps-android-commons/issues/79#issuecomment-326913078) doesn't really make much sense before we don't know what exact problem it should solve and what exact things it would communicate to the user.

Start with the list of things, then you can progress to UI and tech details.

[2017-09-04 10:00] nicolas-raoul commented on #725
Personally I would not mind all notifications (wiki messages, deletions, nearby, etc) to all use the Android notifications system (assuming nearby is off by default).

[2017-09-04 10:11] misaochan commented on #696
A brief update for those following the process: I have talked to Marti on 25 Aug, and was informed that we should have a decision on the renewal application in 2-3 weeks' time.

[2017-09-04 10:24] misaochan commented on #815
@neslihanturan , are you around? I think you and @psh need to decide on a task and start the process of including our project (see @srish 's comments). Admittedly this might be somewhat difficult timing, with the IEG results coming up soon and a lot of uncertainty and busyness in the meantime, so if you guys want to postpone our involvement to a future round it's totally understandable.

If you tw

[2017-09-04 10:30] misaochan commented on #725
I agree with this in principle, but it is very difficult to do things in such a linear manner with an app that is largely volunteer-based and has no permanent funding. In order to get funding (via grants), we usually need to apply WAY ahead of time and set a schedule (which is where technical feasibility comes in) and show the community mock-ups (which is where "how things look" comes in). Ideally

[2017-09-04 10:44] janpio commented on #725
@misaochan I wasn't replying to your message in specific (and your note about the list) but to the general discussion about implementation details of notifications (both UI and technical) while nobody even knows what notifications there should be.

[2017-09-04 14:24] neslihanturan commented on #815
No, I am still on the vacation, this is the reason of my silence. Sorry for this. Actually IEG results uncertainty makes taking responsibility decision hard for me. I think postponing it to summer round may be a better idea?

[2017-09-04 14:24] neslihanturan commented on #815
No, I am still on the vacation, this is the reason of my silence. Sorry for this. Actually IEG results uncertainty makes taking responsibility decision hard for me. I think postponing it to summer round may be a better idea?

[2017-09-04 15:00] misaochan commented on #815
Yeah, postponing sounds good to me in that case.

[2017-09-04 15:17] Bluesir9 commented on #861
@misaochan So actually the crash was obtained initially when I built from an outdated master. So I pulled fresh changes and built it and tried it again. And the crash persists and happens every time I hit the deny button on the run-time permission dialog.

Replacing the fragment with a dialog would be simple enough but yeah lets hear from the others as well.

[2017-09-04 15:33] misaochan commented on #861
@Bluesir9 If you don't mind, could you please try installing the version on Google Play and see if it crashes for you as well? If it doesn't, then we know that the problem lies with one of the pre-release changes.

Thanks!

[2017-09-04 15:40] Bluesir9 commented on #861
just tried it on the play store version and it crashed there as well.

[2017-09-04 15:46] misaochan commented on #861
Ah, okay, thanks. We definitely need to bump this up priority-wise, then.

[2017-09-04 15:51] Bluesir9 commented on #861
Of course. If we are decided on the Dialog route as a fix, then I could take this up. Will be a quick one anyways.

[2017-09-04 15:56] misaochan commented on #858
The link to Crashlytics brings up Fabric - was that intended?

If the link is correct, is Fabric/Crashlytics open source? I understand that it is free, but AFAIK according to our policies we cannot use non-open source dependencies?

[2017-09-04 16:01] misaochan commented on #860
Interesting! I agree that this would be useful, but if we were to take advantage of the "name the file later" benefits, we would need to redesign our upload process I believe?

[2017-09-04 16:01] janpio commented on #858
These were mentioned a few times already. Are these documented anywhere?

[2017-09-04 19:27] psh commented on #858
Crashlytics started out a standalone crash reporting service that was bought by Twitter and integrated into the wider Fabric SDK in 2013.  Last year it was bought by Google with the plan for Crashlytics to replace their existing Firebase crash reporting system.

So, no it's not open source but it is free and part of the overall portfolio of other Google tools.  Do we plan on using Google SDKs for

[2017-09-04 19:29] #791 closed

[2017-09-05 06:14] nicolas-raoul commented on #812
Sorry if I missed the point, but what's bad with this approach C?

1. User takes a picture using the camera button this app.
2. App saves the pictures locally if it has the permission to.
3. App then proceeds like currently (metadata, upload, categories). If the app had no storage permission and the user cancels before upload is complete, the apps asks for storage permission and saves if given, or

[2017-09-05 07:41] janpio commented on #858
(HockeyApp would be an alternative whose SDKs are open source on Github)

[2017-09-05 08:01] nicolas-raoul commented on #858
The HockeyApp server is not open source either.
We have no requirement that server-based code is 100% open source, but in accordance with https://wikimediafoundation.org/wiki/Privacy_policy we must be very careful about what we let third-party companies know about our users.

[2017-09-05 08:13] janpio commented on #858
What are the "main" Wikipedia apps doing for crash reporting? If they built their own thing, maybe one can piggyback on them...

[2017-09-05 08:13] misaochan commented on #858
@nicolas-raoul Wasn't there an issue with the use of Google Maps SDKs for lat/long calculations when I was implementing the map of nearby places? https://github.com/commons-app/apps-android-commons/issues/73#issuecomment-239756301 Perhaps we might need to discuss this and agree on a policy for which external libraries and SDKs we can and cannot use (and document it on the wiki, as @janpio suggests

[2017-09-05 08:24] misaochan commented on #845
Closing this, please feel free to reopen if we have new information about F-Droid accepting betas.

If it helps, in a few weeks' time there will tentatively be a production release with the new fixes, so hopefully you can get it then. :)

[2017-09-05 08:24] #845 closed

[2017-09-05 08:30] #720 closed

[2017-09-05 08:33] misaochan commented on #651
Does this still happen?

[2017-09-05 08:36] #501 closed

[2017-09-05 08:56] nicolas-raoul commented on #651
Not seen in a while.

[2017-09-05 09:12] nicolas-raoul commented on #858
That comment was about using a proprietary Android component directly on the phone. Google Play Services can be considered a library, as it provides methods for all sorts of random things. A GNU-GPL program can not call a proprietary library.

Calling a proprietary server via HTTP calls, on the other hand, is less of a problem, if privacy is respected.

If we choose to call a proprietary service,

[2017-09-05 09:59] nicolas-raoul commented on #858
I started a wiki paragraph about this topic here: https://github.com/commons-app/apps-android-commons/wiki/Code-style#external-libraries

[2017-09-05 10:04] misaochan commented on #858
Thanks for the clarification @nicolas-raoul ! I would be on board with using Crashlytics in that case. :)

[2017-09-05 10:14] misaochan commented on #651
I will close this for the meantime then, feel free to reopen if the issue persists in beta @HonzaG .

[2017-09-05 10:14] #651 closed

[2017-09-05 10:41] misaochan opened #865 "Plans for 2018 - WMCZ proposal"
As some of you may know, Wikimedia Czech Republic has kindly offered to include us in their grant proposal for 2018 funding. :) We will need to come up with a list of improvements that we intend to implement in 2018. @VojtechDostal has informed me that their proposal is due on 1 Oct 2017, so we will need to "finalize" the list by the end of September ideally.

Feedback on the proposed improvements

[2017-09-05 10:44] VojtechDostal commented on #865
Hi all and thanks @misaochan for starting this. I am also posting @tised 's suggestions on the technical side of the app which you might or might not find useful - just wanted you to have them at your disposal:

-      Use Retrofit instead of volley or mwapi. As i understand, in project there are some org.mediawiki:api dependency which provides client-server integration in Android part, but it loo

[2017-09-05 10:45] misaochan commented on #725
Possibly worth clarifying - there isn't actually a need to pick only ONE type of notification. I personally feel that the in-app "notifications" and push notifications (Android system) both serve very different purposes and each have their own uses. IMO push notifications would be most useful for actions and situations where the user isn't in the app but need to be notified at that exact moment th

[2017-09-05 11:05] nicolas-raoul commented on #858
That means telling Microsoft the IP address of our users.
I am not sure how WMF will see that :-/

On Tue, Sep 5, 2017 at 7:04 PM, Josephine Lim <notifications@github.com>
wrote:

[2017-09-05 11:25] misaochan commented on #858
If it contravenes the privacy policy, perhaps not a good idea then.

[2017-09-05 11:37] nicolas-raoul commented on #858
That's a grey area.
For some reason giving our users' IP addresses to Mapbox did not sound
problematic to them.
Better ask WMF case-by-case I think, with a clear explanation of the
benefits.

On Tue, Sep 5, 2017 at 8:25 PM, Josephine Lim <notifications@github.com>
wrote:

[2017-09-05 12:24] whym commented on #812
That's an option, too.

I took this as 'it must be saved immediately', but it might be fine if the file is eventually saved.

[2017-09-05 13:19] whym commented on #860
I think there a couple of possibilities, with varying scope of changes. I believe the options below will not require UI change (but will require changes to the upload process working in the background). What do you think?

* Shift the timing to check the file name's availability (=the findUniqueFilename method). By doing the check in the last minute (after the file is uploaded), I believe we can m

[2017-09-05 13:21] psh commented on #865
On the technical topics, generally a "yes" to all with the following notes:

* **Retrofit** - Retrofit works _wonderfully_ when you have a REST API with multiple endpoints.  Since we hit a single endpoint we'd mostly be using Retrofit for its ability to build a multipart form encoded request.  Building that request is something that's super easy to do, so we can use the underlying OkHttp / Okio li

[2017-09-05 13:30] sivaraam commented on #861
So, @Bluesir9  IIRC you're taking this up (assuming that you could take that thumbs up symbol as an acknowledgement)?

[2017-09-05 13:47] janpio commented on #858
Haha, I also still had a tab open where I researched this a few minutes ago:
https://github.com/wikimedia/apps-android-wikipedia/search?utf8=%E2%9C%93&q=hockeyapp&type=

[2017-09-05 13:52] Bluesir9 commented on #861
@sivaraam yes

[2017-09-05 13:53] nicolas-raoul commented on #858
I guess we can use it then.

On Tue, Sep 5, 2017 at 10:47 PM, Jan Piotrowski <notifications@github.com>
wrote:

[2017-09-05 14:16] sivaraam commented on #861
@Bluesir9 I guess somebody should assign this task to you to avoid it being showing from the task that has no asignee.

[2017-09-05 14:59] sivaraam commented on #328
Just for the note the 2FA has been successfully implemented in the Wikipedia android app. I guess their  implementation could help you finish this quickly.

[2017-09-05 15:09] sivaraam commented on #725
You would need a service for that! But that wouldn't stop you from issuing notifications only when the user opens the app. As an example the alpha version of the wikipedia app sends a notification when a newer version is available. That's because it's not in play store, yet.

I would go with @nicolas-raoul with the notifications. It wouldn't be as disturbing as it might seem. Just see the notifica

[2017-09-05 15:13] sivaraam commented on #812
So, is this task assigned to @ftsalamp ?

[2017-09-05 15:20] pszklarska commented on #844
If @Kartik2016 doesn't work on this issue, I'd like to fix this :)

[2017-09-05 16:13] Bluesir9 commented on #74
I understand that this is a fairly old discussion but I am curious. Processing the image on the device for face detection, blur detection etc. would be a fairly heavy operation right? I remember working on a small app a while back where we were advised to move all image processing related stuff to a server for exactly that reason.

[2017-09-05 16:13] nicolas-raoul commented on #812
I can't assign to @ftsalamp strangely... maybe Github limits assignment to only people who have commented on the issue or are part of the organization :-/ @ftsalamp could you please try to leave a comment? :-)

[2017-09-05 16:20] nicolas-raoul commented on #74
@Bluesir9 Yes image processing can be pretty heavy, but I believe that some of the checks can be implemented in a way that does not use too much power. For instance, checking whether a picture is totally black is very fast, checking whether it is totally fuzzy should be reasonably fast.

Incidentally, one of my friends is working on a embedded Java library for Android that can recognizes cars/peop

[2017-09-05 16:31] Bluesir9 commented on #74
Makes sense. I will refer the links that have been mentioned earlier in this discussion and give this a shot. Will start with black and fuzzy pictures first and see where it goes from there. How does that sound?

[2017-09-05 16:31] nicolas-raoul commented on #844
Oh, sorry for not assigning this one in time...
It seems that both @Kartik2016 and @pszklarska started working on it at the same time. Apologies for the confusion, this time I guess it makes sense to assign it to @pszklarska who has sent a pull request already. In the future we will try to assign sooner!

[2017-09-05 16:34] nicolas-raoul commented on #844
Hum, looks like Github does not allow me to assign to anybody outside the organization, actually!
This means we need another way to indicate that an issue is assigned... maybe a label?
In any case we will need to make that explicit in [the documentation](https://github.com/commons-app/apps-android-commons/wiki/Volunteers-welcome%21).

[2017-09-05 17:09] theprog commented on #831
Is this issue fixed @nicolas-raoul ? or anyone working on it anymore?
I would like to give it a try if it is still open.

[2017-09-06 01:57] nicolas-raoul commented on #74
Yes starting with black pictures detection sounds good (pictures taken in the pocket for instance). Thanks! :-)

[2017-09-06 03:40] nicolas-raoul commented on #74
When such a black picture is detected, I suggest asking the uploader something like "This picture is totally black. Are you sure you want to upload it? Wikimedia Commons is only for picture with encyclopedic value".

I suggest checking the picture before uploading it. The upload is done in the background anyway, while people enter metadata, so taking a few more seconds is not a problem.

[2017-09-06 05:47] misaochan commented on #831
I don't think anyone else is working on this currently, please feel free to go for it. :)

[2017-09-06 05:48] misaochan commented on #844
Yeah, the assignment is messy. :/ Maybe we could just state in comments "assigned to [name]", along with adding that label?

[2017-09-06 08:09] misaochan commented on #865
Thanks for the suggestions, all! I am on board with most of the technical changes suggested, especially refactoring the large and complex classes (`ShareActivity` especially would be top priority IMO), and switching the deprecated XML queries to JSON ones.

@psh and @maskaravivek , would you two like to collaborate to come up with a list of technical improvements that we would add to my user-focus

[2017-09-06 09:09] misaochan commented on #545
We are discussing the possibility of implementing this at #865 . Copying over my comment from that thread, so that we can discuss it here:

There are varying levels of "support" possible, ranging from simply displaying news/ads for ongoing campaigns, to full integration that allows users to submit photos for the competitions directly through the app. Personally I would start with the former, and w

[2017-09-06 09:15] sivaraam commented on #79
I'm not sure what I'm missing but why do you need a server to send push notifications. Couldn't you do that on the client itself?

[2017-09-06 09:20] nicolas-raoul commented on #79
I also don't think we really need push notifications, it is not like we are a messenging app for talk pages (that could be an idea for another app haha)

Network-wise polling once a day is actually probably better than waiting for a push all day long.

Push notifications' infrastructure would be heavier in terms of maintenance. It would also become a source of problem when people fork the app and

[2017-09-06 09:41] janpio commented on #79
What is described in the initial post maybe would not even be implemented with _push_ notifications but local notifications: It could be a setting the user can opt in, so his app checks regularly (also when only running in background) for relevant locations and then sends a local notification that informs them about it and allows a shortcut to opening the app.

Implementing this with a push notifi

[2017-09-06 09:52] sivaraam commented on #79
That was what I had in my mind. What's needed is an [Android service](https://developer.android.com/guide/components/services.html) not a web service.

That's true. It's more easier to do it on the client side where all the crucial info is present.

@janpio I thought the feature was notifying an use about a nearby location requiring an image even though the app isn't open.

[2017-09-06 09:55] nemobis commented on #79
Kaartic Sivaraam, 06/09/2017 12:52:

Indeed

[2017-09-06 11:13] Bluesir9 commented on #74
Right. The flow changes should be simple enough, the actual detection would be the crucial part. Will get back here if I have any queries related to this.

[2017-09-06 12:55] VojtechDostal commented on #865
@misaochan I would not be afraid of including the "technical" changes, which do not affect the appearance or functionality, into the proposal. As long as they are well reasoned and are supplemented with changes that do matter for the user, I'm fine with everything. A good code is the basis for all future improvements.

[2017-09-06 14:20] misaochan commented on #865
Wonderful, thanks for the clarification! :)

We can definitely go ahead with including some of the technical improvements, then. Personally, I would suggest that we focus first on the improvements that do not require adding new libraries, and then judiciously select which new libraries we want to include. This could be a personal preference, but my opinion is that the more libraries/external frame

[2017-09-06 14:51] psh commented on #865
Classifying things according to the "library" / "no library" gets us a list that looks something like this (based on details from @VojtechDostal with 1 addition)

| No Library Needed | Library Needed |
| --- | --- |
| Move to JSON based WIkimedia API (formerly, 'use Retrofit').  We already include *OkHttp* and *GSON* in the build.  | Use Glide library instead of asynctask load of images. Glide alr

[2017-09-06 14:57] misaochan commented on #865
Thanks for the sorting, @psh ! I would also add your suggestion to the "no library needed" -

`Codacy is reporting some very high cyclomatic complexity numbers for classes like ShareActivity and MediaDetailsFragment. I think we should take a look at breaking up some of these big / complex classes to make the code more maintainable. Some (architectural) separation between View, Model and other code

[2017-09-06 15:13] misaochan commented on #79
Thanks, all! I did not realize this was achievable without push notifications. That would be helpful indeed. I will modify the title.

Yeah, correct. As mentioned above, and was agreed upon by the issue starter: "The user gets a notification when he is close to (say, 50m) a location that is on the Nearby list".

As stated at #865 , there are two different suggestions for system notifications, this

[2017-09-06 15:23] janpio commented on #259
I reread the initial issue: Are you all sure that a notification (no matter how implemented) was the intended functionality here? I more understood that this should be a suggested location (similar to suggested categories) to be connected to the picture on upload in the Commons app.

Showing a notification the moment a picture taken (with nearby locations the picture might match) would be a differ

[2017-09-06 15:24] janpio commented on #79
(Please note my https://github.com/commons-app/apps-android-commons/issues/259#issuecomment-327519106 - I am not sure this was about a notification at all in the beginning)

[2017-09-06 17:34] sivaraam commented on #79
I guess you would need both to address all kinds of users. Some user would love to take a lot of pictures and would be happy to know that their snap might contribute something to commons. A few others who don't take pictures often all the time would love to take a snap when they come to know a place near them is in need of a picture.

[2017-09-06 17:34] sivaraam commented on #865
Could you describe a little more about what you expect the app to allow you to do? This might help in assessing the feasibility.

You could just **tag** the edits triggered from the app rather than logging it.

I don't like the sound of that. It seems to be a feature creep that could waste developer time which could be used to in improving something else. It's better to leave that to the android a

[2017-09-06 18:00] sivaraam commented on #809
To comment a little about this statement, that's possibly because the project hasn't **documented the change well**. It would be nice if the project had **guidelines for commit messages** like the one the [git community has](https://github.com/sivaraam/git/blob/master/Documentation/SubmittingPatches#L93). A project that follows a good commit message guideline wouldn't face such complexity issues t

[2017-09-06 18:25] sivaraam opened #868 "Change the app's icon"
It seems the app's icon needs some update. It doesn't look so nice on some backgrounds.

![commons logo](https://user-images.githubusercontent.com/12448084/30127922-8098d98c-935e-11e7-9c82-512b8858cc82.png)

Though the logo seems to be clear in the above screen shot it's not when the brightness is low. It's very hard to identify it.

How about giving it a circular (Android O's coming) white backgr

[2017-09-06 18:31] sivaraam opened #869 "The onboarding screens could need some improvement"
I find it a little hard to read the text on the onboarding screens. It would be nice to change them.

I find the new onboarding screens of the wikipedia app to be a good alternative. It's currently only in the [alpha](http://android-builds.wmflabs.org/). I could help with this if it's ok to change it.

[2017-09-06 18:32] sivaraam commented on #869
One of my main concerns about the current onboarding screen is that it forces the user to swipe to go to the next screen which isn't such a good thing.

[2017-09-06 19:13] sivaraam commented on #674
Just to be sure has this been fixed by #707?

[2017-09-06 20:55] neslihanturan commented on #809
I think it would be really nice, I generally have hard times on creating commit messages. It seems like the guideline of git community is usable for most projects. Do you wish to edit some parts of it to apply it to commons app?

What do other team members think?

[2017-09-06 20:56] maskaravivek commented on #865
Hello, all!
Already a lot of good suggestions for what we could include in the WMCZ proposal. @misaochan and @psh's list are very extensive and we probably just need to prioritize things in it for the proposal.

Few comments from the current discussion:
- Improve map navigation might be a lot of effort. Even some of the most popular apps use the users' map app for navigation.
- Add limited connect

[2017-09-06 21:58] neslihanturan commented on #865
Hello team,
Firstly, I loved reading this thread. It is very well organised discussion of our distributed ideas. Thanks to all contributors and all the tables and bullets, everything is clarified.

I can add some small notes:

- For nearby push notifications from @misaochan 's first comment, I would say "both" should be implemented.
- I agree, we don't need to handle navigation in app.
- I am not

[2017-09-06 21:58] AtaZh commented on #545
While winners (and, right, most of the participants) surely use other equipment to take pictures, we have troublesome regions frome where it would be a blessing for wlm-ua to have even phone-taken picture of a monument. (Not like I am sure that having an app will 100% resolve this, though. Or know anything about other countries.)

[2017-09-07 00:19] whym opened #870 "New message notification by email"
We would like to make sure the user notice messages they have received. In the Wikimedia Commons community, more often than not, missed talk page messages can cause trouble. (In the worst case, the user can be blocked for "ignoring warnings".)

We can ask the user to enter their email address so that we can let them receive notifications by email. I believe we can use https://www.mediawiki.org/wik

[2017-09-07 03:09] nicolas-raoul commented on #674
@sivaraam  Not sure... would you mind testing the reproduction steps described in the issue? Thanks!

[2017-09-07 03:15] nicolas-raoul commented on #545
[off-topic] @AtaZh Is wikilovesmonuments.org.ua maintained by your community? It seems to have been hacked.

[2017-09-07 03:23] nicolas-raoul commented on #865
@sivaraam While directions is probably overkill, compass on the Nearby map would be really helpful. As a heavy user of Nearby, I always head towards the nearest cluster of items, and only open a real map app when I don't know what is the direction I should head to. This is not feature creep, this is an essential feature if we are serious missing pictures.

[2017-09-07 07:26] janpio commented on #865
(I don't know how "exact" this has to be, but if you can try to avoid "push notification" as it implies [complicated and extensive] technical implementation that is not really needed by both issues and features they refer to - "notification" explains the features well enough)

[2017-09-07 07:30] janpio commented on #870
+1 on encouraging users to fill out their email address for email notifications.

Unfortunately, native notifications would require a server side component that a) either polls for new messages or b) is informed about new messages by MediaWiki. It also requires a "database" of "push tokens" that are connected to user accounts (unless this can somehow be added to the mediawiki user account and then

[2017-09-07 07:43] janpio opened #871 "Push / native / system notifications"
The topic "native Android push notifications" popped up in several issues in the last few days: e.g. #870, #865, #725, #7, #858, #79, #259.

I posted my thoughts in several of them, but as this tends to hijack the actual feature discussion, I wanted to centralize that information in one place:

Native push notifications would certainly be a nice technical feature and could greatly enhance some fun

[2017-09-07 07:58] sivaraam commented on #865
Yeah, @nicolas-raoul compass would be fine. I didn't think of providing compass alone as a feature, so I didn't mention that explicitly. I'm not pretty sure of it's feasibility, though.

[2017-09-07 08:23] misaochan commented on #869
I'm good with changing the layout of the tutorial/onboarding screen, but please post screenshots of the change in your PR so people can comment on it first. :) How would you recommend the transition to the next screen be done?

[2017-09-07 08:24] misaochan commented on #259
@janpio Good point. Perhaps @magnusmanske could clarify? :)

[2017-09-07 09:17] misaochan opened #872 "In Contributions list, add an icon for images uploaded via Nearby that allows users to use that image in associated Wikipedia article(s)"
As discussed in #252, we might want to allow the user to edit the associated Wikipedia article to add the image, after the user has successfully uploaded a pic for a Wikidata item. This would complete the "chain" of seamless workflow after the other improvements at #252 are completed during the renewal - users can browse the places that need photos, select one and move to the location, directly up

[2017-09-07 09:34] misaochan commented on #865
Great feedback, thanks all! I have modified the opening post to reflect some of the comments and to include the table of technical improvements made by @psh (with the exclusion of MaterialShowcaseDesign, which I think is a user-focused improvement and not a technical one).

I agree with @maskaravivek that we will need to prioritize things. Depending on the budget, it is unlikely that every single

[2017-09-07 09:46] sivaraam commented on #872
Copying from my comment on #865

Could you describe a little more about what you expect the app to allow you to do? This might help in assessing the feasibility.

Adding one more,

I guess such a situation wouldn't happen.

[2017-09-07 09:51] misaochan commented on #871
Thanks for creating this thread, @janpio - definitely useful to have a centralized issue for discussing this.

[2017-09-07 09:54] misaochan commented on #674
#707 was not meant to fix this, it was made to fix #650 . It's possible that this might have been fixed along with one of the refactors done in the past few months, but as far as I'm aware, there hasn't been any direct attempt at fixing this.

[2017-09-07 10:15] misaochan commented on #870
Sounds like a good idea to me.

[2017-09-07 10:29] sivaraam commented on #869
As I'm just going to take most of the code from the Wikipedia android app, you could see what you would get in live action by using the [alpha app](http://android-builds.wmflabs.org/). Here are a few screen shots of the android app. I'll post screen shots of the change after I make them.

![screenshot_1504779338](https://user-images.githubusercontent.com/12448084/30159035-e5ccfa6e-93e4-11e7-83f2-5

[2017-09-07 10:33] sivaraam commented on #869
One thing I need to confirm before I make the change. Is it good to have a *generalized* onboarding screen that could be re-used? (or) Should I just make an *initial* onboarding screen ?

[2017-09-07 10:37] nicolas-raoul commented on #869
@sivaraam We have been talking about forcing "bad" users (users who got reverted a lot) to re-pass the tutorial pages. So making it reusable sounds good.

[2017-09-07 10:53] sivaraam commented on #869
@nicolas-raoul I guess I should have been more clear. I didn't mean the number of times an onboarding would be shown when I meant re-usable. I meant designing a *generalized* view pager layout that could be used to create multiple user-education flows.

To be more clear, the Wikipedia app has three user-education flows,
1. The initial onboarding screen (shown when the user opens the app for the fi

[2017-09-07 12:04] misaochan commented on #869
It would be great to have a generalized layout that could be re-used if possible, IMO. While we do not have a need for it at the moment, many new features for the app are planned, and it's possible we might have multiple flows in the future.

If that is significantly more difficult, a specific initial onboarding screen is fine and is all that is really needed for now.

[2017-09-07 12:10] sivaraam commented on #869
As I said before, it's not that difficult thanks to the wikipedia app developers who have done the great work of creating a *generalized* version of the onboarding screen. So, just a little modification to suite it to the commons app.

[2017-09-07 12:52] sivaraam commented on #809
Sure! I'm not sure what applies to the commons app. Let's discuss that on a PR.

[2017-09-07 14:35] misaochan opened #873 "Overhaul media details view pane"
The current media details view pane feels rather clunky, and would be difficult to implement new features such as #161 . I'm not sure exactly what sort of redesign I have in mind yet (perhaps someone with a better design eye or familiarity with other photography apps can chime in?), but preferably it should be able to pave the way for #161 .

[2017-09-07 18:06] theprog commented on #831
Hi after a lot of digging into the code I didn't find any strong clue. But I have a confusion about following code -
This portion looks a bit suspicious to me (may be cause of my little knowledge).

` public synchronized DBOpenHelper getDBOpenHelper() {
        if (dbOpenHelper == null) {
            dbOpenHelper = new DBOpenHelper(this);
        }
        return dbOpenHelper;
    }`

I am not so

[2017-09-08 09:08] Aschroet opened #874 "Missing location template for bulk uploads"
When uploading photos by "send to" Commons app the location template is not added although the GPS coordinates are contained in Exif. An example are my latest uploads i made into this category:
https://commons.wikimedia.org/wiki/Category:Kriegerdenkmal_auf_dem_Sperlingsberg_(Kapellendorf)

[2017-09-08 09:09] nicolas-raoul commented on #649
@maskaravivek Did you start working on this? :-)

[2017-09-08 10:44] sandarumk commented on #649
if not I can give it a try?

[2017-09-08 11:38] tim-weaver commented on #868
i gave it a white border

[2017-09-08 12:41] psh commented on #868
If we're going to play around with the icon, I'd suggest digging into Google's style guide - https://material.io/guidelines/style/icons.html

The other small change would be to create 'adaptive icons' (see https://developer.android.com/guide/practices/ui_guidelines/icon_design_adaptive.html) so that Oreo users see icons more suited to the platform.

[2017-09-08 16:41] misaochan commented on #860
Option 1 sounds good to me. What do the others think? :)

My concern with Option 2 is, what do we do if the user doesn't complete the process of putting in a title? Currently, that would just mean that the upload doesn't get submitted at all. But if we were to go with Option 2, then if I understand correctly, we would have uploaded a file without any name? Can the file be easily cancelled without

[2017-09-08 20:24] psh commented on #873
Using the current design, users are used to pulling the footer up to reveal more details

![cardinals-baseball-detail-01](https://user-images.githubusercontent.com/407647/30229410-6db01084-94a7-11e7-9de4-e6285fb3af20.png) ![cardinals-baseball-detail-02](https://user-images.githubusercontent.com/407647/30229417-75c4f744-94a7-11e7-8f43-b64323cada3d.png)

Much like in Google Maps except that Google M

[2017-09-10 17:13] psh commented on #873
One thing I notice about the media details view that we have is that it doesnt respect the portrait / landscape nature of the image.  For example, [this picture](https://commons.wikimedia.org/wiki/File:Cardinals_baseball_stadium.jpg) was taken landscape.

Looks good when my phone is in landscape

![device-2017-09-10-120103](https://user-images.githubusercontent.com/407647/30251199-76c09b6a-9620-11

[2017-09-10 17:25] psh commented on #873
There are 3 operations available on the detail view right now and it sounds like we're talking about adding a 4th

- Share
- Download
- View in Browser
- Edit (coming soon?)

Google Photos also offers 4 actions on a bottom navigation (share, edit, info, delete), and a bunch of others in an overflow menu.  The detailed picture information is on its own full-screen view.  The bottom navigation defin

[2017-09-12 15:26] soldierinwhite commented on #551
Thinking of implementing a floating satellite number on the map, but is this something we really need or is it a little redundant if we already have the accuracy circle?

[2017-09-12 15:38] neslihanturan opened #877 "Crash after taking pictures on devices before Android 5.0"
You can reproduce this bug by click to save button (tick) after taking photo on before Android 5.0. Error says
 `java.lang.SecurityException: Permission Denial: opening provider android.support.v4.content.FileProvider from ProcessRecord{42992670 2928:com.android.gallery3d/u0a52} (pid=2928, uid=10052) that is not exported from uid 10151`

[2017-09-13 08:05] neslihanturan opened #880 "Restrictions of beta server"
Thanks to great feature of @psh ( #857 ), now we are able to use beta cluster. Thus I wonder restrictions of using commons beta, not to vandalise. What are our restrictions by using our new feature? Can we
- Upload same photos several times?
- Upload with bad title/description/categories?

[2017-09-13 10:39] sivaraam commented on #674
I tried but it seems to be //worser// than what's described in the description. I don't get any items in 'nearby' until the nearby activity gets created again after a location change has been triggered even if I hit the refresh button. When I say the nearby activity gets created again I mean the following scenarios,

- I //hit the back button// when I'm in the nearby and get back to 'nearby' scree

[2017-09-13 11:54] misaochan commented on #674
@sivaraam To clarify, which version of the app are you experiencing that issue with? Pre-release (current master), release (beta or production)?

[2017-09-13 12:49] sivaraam commented on #674
@misaochan My bad, I tested that with the current master.

[2017-09-13 14:55] misaochan commented on #674
@sivaraam Would it be possible for you to test the current beta release and see if the same issue exists with that? Then at least we'll know if the worsened issue was introduced with a recent PR.

Thanks!

[2017-09-14 11:59] sivaraam commented on #674
Just a little curious, Is there no way to test the beta other than to get it from the play store?  IOW, is there any way to get the beta from the source? (I don't see any tags for the beta since version 2)

[2017-09-15 13:56] Bluesir9 commented on #877
By any chance, was the app running on a Stock Android device or was it a Xiaomi/OPPO/Huawei/Letv etc.?

[2017-09-15 14:37] misaochan commented on #819
Adding this as high priority due to a request from Michael Holloway (WMF).

[2017-09-15 14:43] misaochan commented on #674
You can get the latest beta from https://github.com/commons-app/apps-android-commons/releases (v2.5.0). Should they be tagged differently? Betas are almost always moved to production a few days to a week after they are published in beta (the recent version is the only exception).

[2017-09-15 15:26] sivaraam commented on #674
I'm actually accustomed tags like [this](https://github.com/wikimedia/apps-android-wikipedia/tags). So, I thought the beta's tag would contain the word 'beta'. I find it to be more communicative.

[2017-09-15 16:37] neslihanturan commented on #877
I heard some inconsistencies about this bug, my test device was Lenovo, Android 4.0.2. I have sent the solution on PR #878 . At least it solved the situation on my device :). Here is the related SOF link https://stackoverflow.com/questions/24467696/android-file-provider-permission-denial/24467912

[2017-09-15 17:52] Bluesir9 commented on #877
Ah, haven't worked with a FileProvider before so that Security Exception straight up reminded me of the permission management systems in place in quite a few non stock android devices especially the ones I mentioned earlier.

The solution provided in the SO post makes sense. I followed the chain and found that the issue has been reported to google's issue tracker as well here -> https://issuetrack

[2017-09-16 13:31] Bluesir9 opened #881 "SignUpActivity still leads to main(production) signup page even when using beta debug builds"
Was trying to sign up on the beta debug build which lead me to the main(production) sign up page. So when I used the same credentials as my production account it of course showed me that my account exists.

But we should be lead to the sign up page for the beta server right? The way its right now, if a user tries to sign up on the beta build, their account will be created on the production server

[2017-09-16 13:39] Bluesir9 commented on #881
Yup, just as expected I used the beta server url's mentioned in build.gradle and changed it to what I thought would be the sign up page for the beta server. And it went through, I was able to create an account properly.

[2017-09-18 04:43] misaochan commented on #674
The Wikipedia app actually has a separate "beta" app though, doesn't it? So in their case it would make sense to tag beta and production versions separately since they are actually different builds, in my view. In our case the exact same APK makes its way from beta to production with a push of the button in the Play Store a few days later (most of the time), we don't have a dedicated beta app. Wou

[2017-09-18 06:38] nicolas-raoul commented on #551
In my opinion, the circle is enough and we don't need the number of satellites.
We target travelers and normal people in the street, they have low IT literacy, and might not even know that  satellites are involved in showing their position on the map.
@tobias47n9e are you OK with closing this? :-)

[2017-09-18 06:56] nicolas-raoul commented on #674
My understanding is that two different things are called "beta":
- "beta" in Google Play: Before going to all users, the APK first stays for a few days as a "beta" in Google Play, being delivered only to people who have subscribed for beta in Google Play
- "beta" in Gradle: Dedicated to testing, these APKs should never be uploaded to the current Google Play app. Creating a new Google Play app (lik

[2017-09-18 09:39] janpio commented on #674
The [Wikipedia Beta](https://play.google.com/store/apps/details?id=org.wikipedia.beta) app is actually a #3:

* "beta" in the sense of "Wikipedia Beta" goes to the same servers as the release version (in contrast to the "Gradle beta") but is published before the changes are promoted to the real Wikipedia app. It enables users to have the prodution and beta app installed at the same time and switch

[2017-09-18 09:41] janpio commented on #674
Different names might be:

1. Beta Rollout (in Google Play)
1. Debug or development Build (via Gradle)
1. Preview Release (in Google Play)

[2017-09-19 06:15] sivaraam commented on #674
I think that's why the Wikipedia app has a separate beta (but as has been felt by it's users it's stability is almost equal to that of production).

[2017-09-19 07:44] sivaraam commented on #674
@sivaraam Would it be possible for you to test the current beta release and see if the same issue exists with that for you? Then at least we'll know if the worsened issue was introduced with a recent PR.

Getting back to where I left off. Yeah, I get the same behaviour as described in [my comment](https://github.com/commons-app/apps-android-commons/issues/674#issuecomment-329129076) in the current

[2017-09-19 12:45] janpio commented on #809
I'll close this for now as I think I collected everything that existed in the wiki. Now it is the "task" for everyone to grow and nurture that.

[2017-09-19 12:45] #809 closed

[2017-09-19 13:21] nicolas-raoul opened #883 "Nearby notable things from OpenStreetMap with no Wikidata item"
Wikidata only has 2000 embassies, while OpenStreetMap has 8000.
All embassies are notable enough to have their picture in Commons.
OSM has gotten quite good at linking to Wikidata, so an OSM item without a Wikidata link probably is not in Wikidata yet.
So, let's display them in Nearby, as soon as technically possible.
An advantage of OSM is that the items are all current.
When the user uploads a p

[2017-09-21 09:33] whym commented on #860
It is a two-stage upload process and in the first stage, the uploaded file will have a temporary name in a temporary space ("stash"), separate from the normal File namespace. If you cancel before finishing the second request, the uploaded material will be gone.  At least that's how I understand from the documentation:

[2017-09-21 13:58] mashawan commented on #649
Hi there, I am looking to get involved... this looks like an easy one to start with. I noticed there has been some chat here, but no one is currently assigned.  I'll assign myself, but please shout if you are already on it...

[2017-09-22 01:46] nicolas-raoul commented on #649
@sandarumk Sorry for the late reply! Did yo start working on it?
@mashawan Let's wait a few hours for @sandarumk 's reply, sorry about that :-/

[2017-09-22 07:56] mashawan commented on #649
No problem, just looking for something to start...

[2017-09-22 08:03] sandarumk commented on #649
Sorry for the delay. I did not start and waiting for confirmation. @mashawan  you can start working on it. I won't be able to do it before next week.

[2017-09-22 08:04] nicolas-raoul commented on #649
@mashawan: Seeing [@sandarumk's branches](https://github.com/sandarumk/apps-android-commons/branches) and given that 6 hours have passed, you can start working on this.
Cheers!

[2017-09-22 08:05] nicolas-raoul commented on #649
Thanks for the reply! OK, assigning to @mashawan :-)

[2017-09-23 01:50] psh opened #884 "Tech-improvement: Use 'newInstance' pattern for fragments"
For fragments, use the [newInstance pattern](http://www.androiddesignpatterns.com/2012/05/using-newinstance-to-instantiate.html) instead of creating new objects directly. Fragment newInstance() pattern prevents memory leaks and makes it obvious what arguments are used by the fragment.

[2017-09-23 01:53] psh opened #885 "Tech-improvement: JSON based Wikimedia API"
Move to the [JSON based WIkimedia API](https://www.mediawiki.org/wiki/API:Data_formats) as XML is officially deprecated by Wikimedia as a format. We already include OkHttp and GSON in the build, so no new libraries would be needed.

[2017-09-23 01:54] psh opened #886 "Tech-improvement: Better use of dimens.xml for common sizes"
Most common sizes must be moved to dimens.xml and separated by screen-sizes folders. Too much values are hardcoded in layouts

[2017-09-23 01:55] psh opened #887 "Tech-improvement: Use SVG format icons"
Move icons to SVG format instead of PNG, which will decrease APK size and improve icon multi-screen support

[2017-09-23 01:56] psh opened #888 "Tech-improvement: Refactor high-complexity classes"
Address the very high cyclomatic complexity we are seeing from Codacy by breaking up Activities & Fragments according to one of the well-respected architectural patterns (MVP / MVVM / etc)

[2017-09-23 01:58] psh opened #889 "Tech-improvement: Use Glide for image loading / caching"
Use [Glide library](http://bumptech.github.io/glide/) instead of asynctask load of images. Glide already developed for loading images, and its support different paths for imageview (URI, URL, file path at SD card and etc). Simple use, simple result.

[2017-09-23 01:59] psh opened #890 "Tech-improvement: Introduce dependency injection using Dagger2"
Dagger2 is dependency injection library which will help to remove many initializations of some utils/loaders/api workers and etc. For example in current project it will help to initialize SharedPreferences client once for using in many parts of app. _(the runtime for Dagger is tiny, it's mostly compile-time annotation processing)_

[2017-09-23 02:07] psh commented on #865
I added a few new issues and did a little organizing based on what @whym started - the project [WMCZ Plans for 2018](https://github.com/commons-app/apps-android-commons/projects/2) has a "backlog" column of the various issues we called out in this thread.  I propose that the ones we want to work on get pulled over into the "Ready To Start" and ordered from top-to-bottom in a priority ordering.  As

[2017-09-23 03:42] #881 closed

[2017-09-23 03:58] #877 closed

[2017-09-23 06:17] misaochan opened #891 "Actions needed to keep app on WMF Google Play Store account"
WMF has been talking to me about the actions needed in order to keep our app on their Google Play Store account. The list of actions we have agreed upon is as follows:

- [x] Nicolas, myself, and anyone with access to the crash reports forum will have to sign NDAs. If anyone wishes to relinquish crash report forum access instead of signing the NDA, that's fine too.

- [x] Modify disclaimer for app

[2017-09-23 06:20] misaochan commented on #891
Disclaimer for app store listing (drafted by Aeryn with my input):

Disclaimer for About page in app:

[2017-09-23 07:03] misaochan commented on #829
Brief update: Apologies again for the absence. I am currently working another job while awaiting the grant application results, and over the past 2 weeks or so, what little time I have for the Commons app has been spent mostly negotiating with WMF to keep the app on their Google Play Store account.

The committee review period for our grant application has finally begun and will conclude on the 25

[2017-09-23 14:09] misaochan commented on #865
Awesome, thanks guys! The system looks good to me. :)

[2017-09-23 14:27] misaochan commented on #865
Oh, I just noticed that some of the items in that project were actually slated for the IEG renewal proposal (see #694 and its associated Metawiki link). Apologies for not being clear about the two - they are actually two separate proposals and two separate "grants". The 6-month IEG renewal was applied for in July 2017 and was intended to run in 2017. The WMCZ 2018 proposal was intended to fund dev

[2017-09-24 10:42] saurabhmithe commented on #719
I would like to contribute for this issue.

[2017-09-25 01:41] nicolas-raoul commented on #719
@abhishekd08 Any progress on this maybe?

@saurabhmithe It has been a month so yes, feel free to write code for this and send us a pull request, thanks a lot! :-)

[2017-09-25 03:11] psh commented on #873
I was playing with the main Wikipedia app today - particularly around how it handles photos:

![wikipedia-app](https://user-images.githubusercontent.com/407647/30790701-1f37835a-a173-11e7-87f8-026b4f993113.png)

The details are minimal (as you would expect - the focus isnt on pictures) but it does highlight the idea of letterboxing photos in landscape mode.  They also do a nice job of presenting c

[2017-09-26 09:18] misaochan commented on #891
@nicolas-raoul , any idea how we can draft a proper privacy policy without legal assistance?

[2017-09-26 13:10] nicolas-raoul commented on #891
My idea is to just take the WMF one, replace the name and nature of the
project, then remove the many irrelevant parts.

On Sep 26, 2017 18:18, "Josephine Lim" <notifications@github.com> wrote:

[2017-09-27 00:19] loisgh commented on #171
If this is still open, I'd be happy to help with this.

[2017-09-27 02:36] nicolas-raoul opened #892 "Become the replacement for Panoramio"
Panoramio was a hugely popular app to send pictures of places. The user could choose the license, and many chose an open license.
It [was shut down last year](https://ssl.panoramio.com/maps-faq) after it was acquired by Google in 2007.

When you look for pictures when editing a Wikipedia articles, a large proportion of the images come from Panoramio, so the closure of Panoramio is a big loss for W

[2017-09-27 02:53] nicolas-raoul commented on #590
A person from the WMF legal team just wrote this:

So we should indeed do the same, because it is a privacy problem.
Or does anyone have a proof that the Wikipedia app in fact still uses MapBox?

[2017-09-27 08:32] misaochan commented on #891
Yeah, I think that should be OK as long as we mention Mapbox as well?

Where should we host our privacy policy once we have drafted it? Is the GitHub wiki sufficient?

[2017-09-27 08:45] nicolas-raoul commented on #891
Yes, Github Wiki is good enough I think, and it is the most flexible option.
Once things settle down we can think of moving it to the official website.

On Wed, Sep 27, 2017 at 3:32 PM, Josephine Lim <notifications@github.com>
wrote:

[2017-09-27 09:40] janpio commented on #892
Background on Panoramio: https://en.wikipedia.org/wiki/Panoramio

My impression was that it was popular because it was accessible directly from Google maps as its own layer, which also caused people to want to upload photos there. Is there a Google Maps equivalent that uses Commons pictures? Layer for Openstreetmap or something?

[2017-09-27 09:52] nicolas-raoul commented on #892
Seeing that (unreferenced) histogram, it seems that Panoramio's popularity started 8 months before Google acquisition: http://mw2.google.com/mw-panoramio/photos/medium/10861303.jpg
And it did not grow that much after Google's acquisition (only doubled in terms of upload rate): http://static.panoramio.com/photos/large/29520652.jpg

[2017-09-27 10:01] janpio commented on #892
Was it only integrated with the acquisition?

[2017-09-27 10:18] nicolas-raoul commented on #892
@janpio

Panoramio pictures were visible by default in Google Earth in February 2007, it seems: http://blog.panoramio.com/2007/02/photos-from-panoramio-updated-in-google.html

http://mashable.com/2007/05/30/google-panoramio/#RIuTAZwB_kqu (written in May 2007) says that Panoramio integrates Google Maps (as seen in their screenshot), but if the reverse was true they would probably have talked about

[2017-09-27 10:23] janpio commented on #892
Ok, here is the feature that I remembered in Maps: https://youtu.be/_qX4S4jl-BE?t=100 (May 2008)

[2017-09-27 10:26] janpio commented on #892
Here is a Leaflet Maps based site that "copied" lots of the Panoramio pictures: https://mapsights.com/ (Copyright situation is unclear, seems they are "only" linking to Panoramio right now but also wrote about "downloading" the pictures when Google shuts down Panoramio - the photographers are not happy)

[2017-09-27 15:41] belkacem77 opened #893 "Kabyle localization"
As we just finished the kab localization of Wikimedia Mobile Apps and Commons Android App, would you like consider kabyle language within the next release of Wikipedia Android app?

Thank you
Regards

[2017-09-27 15:50] janpio commented on #893
Here is some information on how translation of the Commons app is handled:
https://github.com/commons-app/apps-android-commons/wiki/Translating-the-app

[2017-09-27 15:57] belkacem77 commented on #893
Thanks @janpio

[2017-09-27 16:49] neslihanturan commented on #590
If there is a privacy problem, I think yes we should do. However, according to [here](https://gerrit.wikimedia.org/r/#/q/project:apps/android/wikipedia+mapbox) wikipedia app still uses mapbox. Am I missing something?

[2017-09-28 09:45] misaochan commented on #590
I think Aeryn mentioned MapBox just to ensure that we include mention of it in our privacy policy? AFAIK he did not say we needed to switch to using something else.

If I recall correctly, when we first implemented the map of nearby places, we wrote to Legal and got their consent to use MapBox?

[2017-09-28 09:58] misaochan commented on #891
Sounds good to me!

[2017-09-30 12:41] s-ambastha commented on #831
Hi
I am a beginner and would like to work on this bug.
Would anyone please tell me **on which event this bug is being raised?**
So the I can find the bug in android monitor.

Thanks in advance

[2017-09-30 15:09] psh opened #894 "Media details lost on device rotation"
I happened to be testing the app on a tablet (real hardware) and rotated the screen.  I then verified and it also occurs on a phone (emulator) -

![media-details-landscape](https://user-images.githubusercontent.com/407647/31046801-1690a3ac-a5c5-11e7-9c1a-b750a64b1444.png)

![config-change-bug](https://user-images.githubusercontent.com/407647/31046802-1918bc9a-a5c5-11e7-82c9-f51ef0f14756.png)

This

[2017-09-30 15:10] psh commented on #873
New bug logged - #894 (Media details lost on device rotation)

If we are overhauling the media details screen we might want to fix the bug, or at least make sure we dont cause a regression and re-introduce it.

[2017-09-30 15:31] psh commented on #894
Looking into things a little more: each of the media pager adapter fragments reach back to the `ContributionsActivity` for data.  After rotation, the adapter in `contributionsList` is null.

[code]

[2017-09-30 17:22] psh commented on #725
I had some fun looking at _color_ based on the shade of blue we use in the app -

![image](https://user-images.githubusercontent.com/407647/31047920-eecf9120-a5d8-11e7-96f6-3428e4844561.png)

<img width="374" alt="colors" src="https://user-images.githubusercontent.com/407647/31047957-8d37b46e-a5d9-11e7-9a7d-e958a6217866.png">

Check it out on [Paletton](http://paletton.com/palette.php?uid=43w0u0kv

[2017-10-01 00:20] joe94 opened #895 "Travis CI failure related - String resources format"
After cloning the repo and attempting to build the app using `./gradlew assembleDebug`, I got this error:
[code]

A quick google search led me to this: https://stackoverflow.com/questions/4414389/android-xml-percent-symbol

Escaping the %-symbols with a `%` in https://github.com/commons-app/apps-android-commons/blob/master/app/src/main/res/values-hi/strings.xml#L57 seems to silence the issue and t

[2017-10-01 22:36] VDK opened #896 "GPS info isn't transferred from exif to description when a group of pictures is being uploaded"
This picture https://commons.wikimedia.org/wiki/File:United_States_Custom_House_(Baltimore,_Maryland)_-_24.jpg
And others like it that I uploaded with the mobile app don't have the GPS data that is in the exif data included in the description.

[2017-10-02 07:36] nicolas-raoul commented on #831
@s-ambastha : Sorry I don't know when this bug happens. Finding that is part of the investigation. Please let us know if you find anything, thanks :-)

[2017-10-02 08:18] joe94 commented on #889
@psh Were you thinking of something like this: https://github.com/bumptech/glide/blob/master/samples/flickr/src/main/java/com/bumptech/glide/samples/flickr/FlickrSearchActivity.java#L313 ?

 Also for clarification, the app uses an asynctask to fetch the image url (https://github.com/commons-app/apps-android-commons/blob/master/app/src/main/java/fr/free/nrw/commons/MediaThumbnailFetchTask.java#L19)

[2017-10-02 10:18] adikul30 commented on #814
@nicolas-raoul Can i work on this issue or anyone else has already been assigned ?

[2017-10-02 12:36] nicolas-raoul commented on #814
@adikul30 Seems like @deepak-thakur is not around for now, so feel free to give it a try, yes :-)

[2017-10-03 06:44] joe94 commented on #895
The build failure seems to be related: https://travis-ci.org/commons-app/apps-android-commons

[2017-10-04 22:16] mashawan commented on #649
Got a working implementation now, just tidying it up a little.

[2017-10-05 06:02] tobias47n9e commented on #896
Thanks for opening this issue. That seems quite critical.

[2017-10-07 10:50] ishtig commented on #884
May I take this up?

[2017-10-07 21:52] psh opened #899 "UI improvement - login screen"
There has been a lot of talk about improving the user interface recently, so I started thinking about how to freshen up the login screen.

The code is basically ready to go as a  PR but I wanted to solicit feedback on the look+feel since this is one of the first screens seen by a user.  Any thoughts?

## Phone

![login-phone-01](https://user-images.githubusercontent.com/407647/31312033-1dac6922-ab

[2017-10-07 22:54] thedeadline commented on #868
Hi,
I'd like to create an adaptive icon for the app but I can't find the raw file for the icon... is the original vector file (illustrator, sketch, etc.) available in the repo?

Thanks, I'm new to open source contribution (doing it for Hacktoberfest) :).

[2017-10-07 23:05] thedeadline commented on #899
I would make the background of the logo white so it stands out more from the background of the page. Also, whatever line the error message refers to should be red to indicate visually quickly that it needs attention.

Consider also changing the text to white for readability (but screenshot is small, so I can't say for certain it's not the size).

[2017-10-08 12:07] nicolas-raoul commented on #868
The SVG is on Wikimedia Commons 🙂

On Oct 8, 2017 07:54, "Isabelle Giuong" <notifications@github.com> wrote:

[2017-10-08 12:32] psh commented on #868
@nicolas-raoul - Do you think it would be a good idea to drop a copy into the 'design' folder of this project, just for reference?

[2017-10-08 14:21] nicolas-raoul commented on #884
@Ishti: Yes go ahead 🙂

On Oct 7, 2017 19:50, "Ishti Gupta" <notifications@github.com> wrote:

May I take this up?

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub
<https://github.com/commons-app/apps-android-commons/issues/884#issuecomment-334926614>,
or mute the thread
<https://github.com/notifications/unsubscribe-auth/AAGFBh9hQ