[2017-10-08 18:39] thedeadline commented on #868
I agree with @psh I thought it would be in 'design' and looked there first.

[2017-10-09 08:59] misaochan opened #901 "User reported that their current location appended to image EXIF data by default"
I recently received a complaint where the user believed that their current location was appended to the EXIF of their uploaded image without their consent. After doing a bit of digging to refresh my memory, it seems to me that this should not happen. As mentioned at https://github.com/commons-app/apps-android-commons/wiki/Category-suggestions-%28readme%29 , the user's current location should only

[2017-10-09 09:11] misaochan commented on #899
Personally I love the screenshots! Especially the new error display replacing Toasts. :)

My only concern is that the login box appears rather small relative to the size of the screen in tablets.

This would be a nice addition, but not essential IMO.

[2017-10-09 09:15] misaochan commented on #896
Thanks for reporting this @VDK . To clarify, this only happens when you upload by selecting multiple pictures in your gallery, then tapping "Share" and then selecting the Commons app, right?

[2017-10-09 09:31] misaochan opened #902 "Current master build failing - translation issues"
Hi @Nikerabbit ,

It seems that some of the recent translations are causing the master build to fail?

[code]

Thanks!

[2017-10-09 13:47] Nikerabbit commented on #902
I fixed one string that looked incorrect, but I have no if that string is causing the problem.

[2017-10-09 18:13] crud3 commented on #902
I can confirm the problem, the build also fails for me.

The problematic string is in the `app/src/main/res/values-hi/strings.xml` file

`<string name="contributions_subtitle">{{PLURAL | शून्य = @ स्ट्रिंग / योगदान_उपशीर्षक_शुन्य | एक =% d अपलोड |% d अपलोड्स}}</string>`

If I change the value of that string to something else like `foo`, the build passes.

[2017-10-09 20:23] Nikerabbit commented on #902
That's the one I modified too.

[2017-10-10 03:36] nicolas-raoul commented on #868
Here is the SVG: https://commons.wikimedia.org/wiki/File:Commons-logo.svg
Yes, feel free to add it inside the project, good idea!

[2017-10-10 13:54] misaochan commented on #902
@Nikerabbit Is it okay for us to add the `formatted="false"` fix before your commits go through? As AFAIK we would have to wait 2-3 days more for those?

[2017-10-10 14:17] Nikerabbit commented on #902
Yeah go ahead.

[2017-10-10 14:27] #902 closed

[2017-10-10 16:06] Bluesir9 opened #906 "Improving usage of shared preferences"
I think the way shared preferences have been used can be improved. Ideally we could have a singleton class to manage our usage of shared preferences with all the keys used across the project put together in a single enum. That way it would become simple to track what all keys have been used all across.

[2017-10-10 16:12] Bluesir9 commented on #374
I believe this has not been done as yet, in which case I would like to pick this up.

[2017-10-10 16:28] Bluesir9 commented on #736
Would saving the logs to a text file not work? When reporting an issue, the user could just attach that file. Or is that not a recommended practice?

[2017-10-10 21:43] mashawan commented on #649
I think this is done now...

[2017-10-11 02:49] nicolas-raoul commented on #374
@Bluesir9 Go ahead, thanks! :-)

[2017-10-11 02:53] nicolas-raoul commented on #736
I believe an app can access its own logcat.
The app could do this when requested:
https://stackoverflow.com/questions/27957300/read-logcat-programmatically-for-an-application

[2017-10-11 05:07] misaochan commented on #736
Interesting! That could definitely be a future enhancement.

[2017-10-11 05:08] #649 closed

[2017-10-11 05:45] Bluesir9 commented on #736
Cool, will try this out.

[2017-10-11 11:30] whym commented on #893
It looks like your translations have been integrated to this repository since August. (Thanks for your help!)

https://github.com/commons-app/apps-android-commons/commits/master/app/src/main/res/values-kab/strings.xml

I believe we will have a release in the coming months, and Kabyle localization will be automatically incorporated.

[2017-10-11 11:30] #893 closed

[2017-10-11 11:38] belkacem77 commented on #893
Sorry to let this issue open!!!! I forgot it!!! Yeah it's integrated. And thank you again.

[2017-10-11 22:59] VDK commented on #896
Affirmative

[2017-10-12 10:50] mashawan commented on #906
Hi, can I take this?  I was working with shared preferences in my last issue, I should be able to improve things.

[2017-10-12 10:55] Bluesir9 commented on #906
I was kinda waiting on someone with more experience with the project to provide their feedback on this before picking this up :)

[2017-10-12 12:33] neslihanturan commented on #906
Hi, this improvement is very meaningful. Actually, we have talked about the same thing on pre-hackathon and I have implemented it. However, since I couldn't resolve conflicts for long time, I closed my own pr. Sometimes rewriting it is better than solving several conflicts:) so feel free to work on it @mashawan

[2017-10-12 12:37] neslihanturan commented on #906
Here #609

[2017-10-12 14:43] Bluesir9 commented on #736
@misaochan How would this functionality work for the user? Would it build on the "Feedback" option provided in the navigation drawer? Or would a new option be added for example "Report Error" or something which would open the email app with a logs file attached?  Or something entirely else?

[2017-10-12 15:09] Bluesir9 commented on #871
We recently moved away from FCM for a small set of push "notifications" at my workplace. For this we used Socket.IO to maintain an active socket connection in the background between the client and the server. And while the system works just fine we haven't really been able to match the delivery success rate that we get on FCM, primarily cause keeping the background service running all the time to

[2017-10-12 15:17] Bluesir9 commented on #896
Would like to take this up if nobody else has.

[2017-10-13 02:52] nicolas-raoul commented on #896
@Bluesir9 : Feel free, thanks! :-)

[2017-10-13 09:51] kaabus commented on #887
Can i take this ?

[2017-10-14 04:55] whym commented on #901
Is it possible it was an image created using a different app with location info on it and then uploaded using this app?

If that is the case, maybe we should somehow detect it and show a warning about it.

[2017-10-15 04:24] Bluesir9 commented on #896
Looks like this and #874 are the same.

[2017-10-16 06:17] VDK commented on #124
Uploads still fail if you don't add .ogg to the filename yourself. It says fail on the main screen

[2017-10-16 06:52] nicolas-raoul commented on #124
@VDK: Thanks for the feedback!

[2017-10-16 08:04] misaochan commented on #901
It's hard to find out, as I wasn't given the user's contact or name, just contacted by the Wikimedia oversight team. :/ I think that as long as no one else has experienced this problem before, we can safely say that it isn't supposed to happen, and that if it happens again, we would like further details to try and isolate why that particular user is experiencing a problem?

[2017-10-16 08:07] misaochan opened #916 "Add section to wiki for testing with product flavors"
I just realized that we don't seem to have anything on our wiki on how to test the app (as far as I can see). With #857 merged, I think it would be good to have a page on the wiki explaining to newcomers how this works, so that people don't send bad images to real Commons servers.

[2017-10-16 08:21] misaochan commented on #736
We definitely need to discuss this prior to implementation. I can think of a few possible options, each with pros and cons:

1. A setting in Settings. The user could turn it on when they want logs to be sent, perform the activities that they want a log for, and then turn it back off. However, there should probably be a constant indicator of that setting being on, since otherwise someone might forg

[2017-10-16 15:20] Bluesir9 commented on #736
Agreed. Adding a new option just for reporting logs doesn't make sense especially when we already have the "Feedback" option there.

That seems like the most user friendly way of doing it, although I am not sure how it would work UI/UX wise. From the top of my head, it could be something like the Battery Saver mode where as soon as the user turns on the "Collect Logs" setting, the entire app gets

[2017-10-16 22:30] #899 closed

[2017-10-17 03:25] nicolas-raoul commented on #736
I would be in favour of keeping development effort low, and the easiest
seems to be to put an action button in the settings menu (even though it is
not a "setting", just like Android shows its version number in the
settings), and make it take a logcat and launch an email activity with that
text.

On Tue, Oct 17, 2017 at 12:20 AM, Vishan Seru <notifications@github.com>
wrote:

[2017-10-17 16:06] misaochan commented on #736
This sounds good to me too. I'm not sure how far back we would want to collect them though, should we get everything from the time the app started? That could be very nonspecific, but probably the simplest way.

AFAIK the code in the StackOverflow link just pulls the entire logcat history since the time the app started, it doesn't need to "collect continuously".

[2017-10-17 19:07] Bluesir9 commented on #74
@nicolas-raoul An update on this. I am done with the detection of black/too-dark images. It works well enough but I will keep testing it on my end just to be sure.

I decided to move to detection of blurry images. So I added the OpenCV library to the project and found that the multidex limit was reached(specifically 67163) and I had to enable multidexing to be able to build following that.

Wasn't

[2017-10-18 02:49] nicolas-raoul commented on #74
@Bluesir9 Thanks for the update! Looking forward to test superdark picture detection.

Multidexing does not seem to be a problem per se: https://stackoverflow.com/questions/39503348/disadvantages-in-multidexing-the-android-application

By the way, what is the APK size after adding OpenCV?

[2017-10-18 03:33] nicolas-raoul commented on #736
Pulling the entire logcat history since the time the app started is perfect, I think.
When users encounter a bug, they will be able to immediately get a log for that bug, rather than having to try and reproduce the bug again.

[2017-10-18 07:17] whym commented on #916
Should it cover things like these for the beta site/flavor?

* Beta site: https://commons.wikimedia.beta.wmflabs.org/
  * Beta site's account creation: https://commons.wikimedia.beta.wmflabs.org/w/index.php?title=Special:CreateAccount
  * Beta site's upload form: https://commons.wikimedia.beta.wmflabs.org/w/index.php?title=Special:UploadWizard
* What to upload:
  * Take a picture with camera (emul

[2017-10-18 08:33] misaochan commented on #916
@whym Looks good to me. I think we could also emphasize that with the beta flavor, it's okay to keep uploading duplicate images or bad images as they won't be sent to the actual Commons server?

[2017-10-18 08:34] misaochan commented on #736
Oh, yeah, good point. I agree. :)

[2017-10-18 14:15] Bluesir9 commented on #74
This beta debug build's size is 21.7 MB.

[2017-10-18 17:05] JohnKal commented on #719
I would like to work on this issue.

[2017-10-19 04:04] nicolas-raoul commented on #719
@abhishekd08 @saurabhmithe Any progress on this maybe?

@JohnKal It has been about a month so yes, feel free to write code for this and send us a pull request, thanks a lot! :-)

[2017-10-19 11:18] Bluesir9 commented on #736
So where are we planning to put this action button to trigger the email?

[2017-10-19 14:09] misaochan opened #918 "IEG renewal approved - updates and progress (and new assistant project maintainer)"
Hi all,

Our IEG renewal application has just been [approved](https://meta.wikimedia.org/wiki/Grants_talk:Project/Improve_%27Upload_to_Commons%27_Android_App/Renewal#Renewal_approved). :) We (Vivek, Neslihan and myself) plan on starting on 23rd Oct if we receive our agreements by then.

I will be updating this with a timeline and the measures of success shortly, and we can use this thread to track

[2017-10-19 14:17] #829 closed

[2017-10-19 14:18] misaochan commented on #694
This has been approved.

[2017-10-19 14:18] #694 closed

[2017-10-19 14:18] #696 closed

[2017-10-19 14:57] misaochan commented on #736
Possibly just a new item in settings with the title "Send Logs" and the description "Send logs to developers via email"? Clicking on it could trigger the email.

[2017-10-19 15:00] janpio commented on #736
Great first iteration.

[2017-10-20 02:28] nicolas-raoul opened #919 "10 different pictures uploaded under the same title, overwriting all but the last one"
https://commons.wikimedia.org/wiki/File:Small_branded_swift.jpeg#filehistory

[Discussion about that incident at Commons](https://commons.wikimedia.org/wiki/Commons:History_merging_and_splitting/Requests#File:Small_branded_swift.jpeg_.E2.86.92_File:Small_branded_swift_01.jpeg.2C_File:Small_branded_swift_02.jpeg.2C_File:Small_branded_swift_03.jpeg.2C_File:Small_branded_swift_04.jpeg.2C_File:Small_b

[2017-10-20 04:33] Bluesir9 commented on #736
Neat, will get started on this then.

[2017-10-20 05:14] poojithakr commented on #124
I am interested in fixing this bug. But I don't see an option to upload the audio files. When I tried to upload an ogg file the upload failed.
![screenshot_2017-10-19-22-11-12](https://user-images.githubusercontent.com/18076885/31806111-b3a7e9ca-b51a-11e7-8513-bb3775ac297f.png)

[2017-10-20 07:16] misaochan commented on #919
It says "uploaded via Mobile 2.4.2 Android.". Oh dear. :/

Hopefully our planned improvements to prevent overwrites will fix this in the near future.

[2017-10-20 07:30] sivaraam commented on #871
I guess you missed [my comment](https://github.com/commons-app/apps-android-commons/issues/725#issuecomment-326803729) on #725.

[2017-10-20 08:26] misaochan commented on #438
I think we can close this, with beta product flavours having been implemented?

[2017-10-21 17:27] neslihanturan commented on #438
I agree @misaochan

[2017-10-21 18:32] RSBat commented on #264
I would like to work on this

[2017-10-21 20:51] neslihanturan commented on #899
I know this issue is closed but login screen looks great, I wanted to share my impression. Thanks @psh !

[2017-10-22 03:36] #438 closed

[2017-10-22 03:37] misaochan commented on #264
@RSBat please feel free. :)

[2017-10-22 10:33] kerenpas commented on #885
I start working on this

[2017-10-22 16:55] psh commented on #885
Something to consider as you are working on this -

* The app uses several different networking libraries, some of which are _obsolete_.  This is our chance to clean up and consolidate around a single (modern) network stack
* I called out [OkHttp](http://square.github.io/okhttp/) as I believe that to be the best way forward for us
* The main Wikipedia app uses the awesome [Retrofit](http://square.

[2017-10-23 11:03] kerenpas commented on #885
Hi Paul ,
I have no experience with OkHttp, but found it very friendly to learn and to used.
I will use the OkHttp lib.
I let you know how it goes.
Thanks for your help!

[2017-10-24 05:08] misaochan commented on #918
Estimated timeline:

[IEG_2017_gantt_chart.pdf](https://github.com/commons-app/apps-android-commons/files/1409598/IEG_2017_gantt_chart.pdf)

[2017-10-24 07:26] misaochan opened #922 "Develop new UI for Nearby item view pane, to include Upload option"
In our implementation of #252 , we need to think about where the "upload image for this item" button will be, and in the process figure out if the existing Nearby item UI needs to be overhauled.

Options:
1. We leave the current UI mostly as it is, but replace one of the two bottom navigation buttons (probably "read article") with "upload image"
2. We design a different viewpane for Nearby items (

[2017-10-24 07:53] misaochan opened #923 "Log P18 edits after direct Nearby uploads implemented"
After #252 is implemented, we will need to log the Wikidata P18 edits made via our app, for collecting metrics (number of edits made), as well as to confirm that we are doing it correctly.

How and where shall these logs be made?

[2017-10-24 09:00] VojtechDostal commented on #252
That would be really cool. As for descriptions, we can even do multilanguage descriptions eg. {{en|castle in Czechia}}{{cs|hrad v Česku}} - Wikimedia Commons supports that.

[2017-10-24 11:24] neslihanturan commented on #922
It seems to me like the discussion in #873 is about media detail view instead of nearby items. To apply such thing to nearby, we might need to open each items details on new screens. Since nearby items doesn't have photos to display, it would be an empty page with nearby options. Thus my vote is for option 1, partially.

I think it can be better if we protect both _read article_ and _get direction

[2017-10-24 12:02] misaochan commented on #922
To clarify, I didn't mean that we should follow the suggestions at #873 verbatim, just that perhaps we could consider incorporating elements of the suggestions there into our design here. I think Google Map pins are very similar to our Nearby items, so if we study how they handle their item details pane, we could perhaps improve our current one.

I also think that we need to think about how the cu

[2017-10-24 12:21] misaochan commented on #252
@nicolas-raoul and @VojtechDostal sounds great! Do you guys know which other open-source programs do that? Would be good if we could "reuse" some parts of their code, haha.

[2017-10-24 12:26] misaochan commented on #922
Edit: I just did a bit of further reading, and it seems that the technically correct term for what I'm talking about is a "bottom sheet", not a "viewpane" - https://material.io/guidelines/components/bottom-sheets.html#bottom-sheets-usage

Sorry for the confusion!

[2017-10-24 12:38] misaochan commented on #922
Oh, sorry @neslihanturan , I also realized I didn't answer your question, lol. That looks quite good if we go with Option 1. :) It would be nice to have a few different possibilities to choose from though. Not urgent, we can start the wireframes in the next phase (2 weeks from now I believe?). I'm just asking early so we can get input from others before you start wireframing.

[2017-10-24 12:44] neslihanturan commented on #922
I prepared that wireframe just to visualise our discussion. It is not my offer, actually. I will search to find a better solution according to your comments:)

[2017-10-24 12:59] VojtechDostal commented on #252
I'm no expert in anything like this but what about just inserting a simple template like this:

{{description from wikidata|Q42}}

We can then tweak the description template any way we like and the whole thing will be much more flexible. As content in Wikidata grows, the content generated from the template will get better and better. @tobias47n9e  ?

[2017-10-24 17:35] psh commented on #252
Given that people might skip tapping the "use suggested title and description" button, how would you feel if the app simply pulled that data automatically and then allowed the user to change it if they wanted to?  (Similarly, with the categories)  I'd hate for good data to go to waste because of a forgotten button click.

[2017-10-25 10:20] misaochan commented on #252
Great idea IMO! Pre-filling the title and desc fields would also save the user an extra tap. It does make things a bit more difficult for anyone who would have preferred to enter their own (as they would need to delete the pre-filled ones), but if they were submitting the image via Nearby, I think it's unlikely they would want to change the title and desc significantly anyway.

I would like to swi

[2017-10-25 10:43] misaochan commented on #7
This has been included in the IEG renewal and will be implemented in the near future. I am fleshing out the details for the task below, feedback/suggestions welcome.

**Use case:**
We intend to notify users in the app when a user talk message is received, or if a picture they uploaded is nominated for deletion. This aims to ensure that users are notified of feedback and deletions, similar to how t

[2017-10-25 11:03] janpio commented on #7
From experience: This won't be enough. There will be uses that start the app once and have it running "forever".
You should add at least "resume" and probably specific in app events (uploaded picture, refreshed upload list, ...) as triggers as well.

[2017-10-25 11:42] neslihanturan commented on #7
I agree @janpio about refreshing notification by events.

I think user might want to make requested changes by WebView or app. We should give two buttons to redirect to our MediaDetail view or WebView.

A question: Did we ever considered to add "delete" option like modify option?

[2017-10-25 13:33] misaochan commented on #7
@janpio Good point, we should check onResume as well, at least. I'm on the fence re: checking with other events like picture uploads - depends on how much complexity it would add to the feature I guess.

@neslihanturan AFAIK deletion in Commons is not as straightforward as modifications - I don't think anyone can straight up delete their images, they have to nominate them for deletion. We could ad

[2017-10-25 14:48] neslihanturan opened #924 "Travis Fails"
Travis fails by my last merges, however I am pretty sure these merges are not the reason for this. If you look at the PRs list, you will notice our latest pull requests are always failed with Travis. This log may be meaningful:

[code]
Do you have any idea about how to accept license agreements?

[2017-10-25 15:02] misaochan commented on #924
Interesting, I re-ran the build after @psh submitted the Travis commit hoping it'd fix it, but it doesn't seem to be the case.

[2017-10-26 02:11] nicolas-raoul commented on #252
I totally agree with pre-filling.
People who want to prepend their own before the generated part of the string.
Anyway, if the generated "Castle in Malta, built in 1541 by Gianno Frangipani" is not a good description for the item, then it is a sign that the picture is not a good P18 image for that item.

Allowing friendly multilingual is a great idea, but I suggest leaving that for a subsequent ph

[2017-10-26 04:11] psh commented on #922
Google maps has a lot of good content in a very small space.  Comparing the non-expanded Google Maps footer with our "nearby" map, I think it's equivalent in terms of content shown:

![google-maps-footer](https://user-images.githubusercontent.com/407647/32034047-e64b6586-b9d5-11e7-9cfb-efe1247ee5f6.png)![nearby-expanded](https://user-images.githubusercontent.com/407647/32034059-f2efc566-b9d5-11e7-

[2017-10-26 07:58] IanvsPoplicola commented on #520
Hi there, I'm interested in working on this issue - has there been a decision on what exactly is to be implemented for it? Any advice on where and how to get started with the implementation is also most welcome!

[2017-10-26 09:08] VojtechDostal commented on #252
Good point @nicolas-raoul

[2017-10-26 09:40] neslihanturan commented on #922
I like implementing a small footer with FAB icon. But I think making map view user friendly is an easier task than list view. I prepared some screenshots from google map.

![googlemapmocks](https://user-images.githubusercontent.com/3127881/32045183-4b8740b0-ba48-11e7-8c64-ea3a44f85d17.png)
 As you see, they change whole screen when list element is selected. We can use half page footers with map vi

[2017-10-26 15:30] #674 closed

[2017-10-26 15:38] misaochan commented on #924
Hmmm, seems like it works actually? Build passes now.

[2017-10-26 23:50] whym commented on #924
The first idea I wrote here (adding explicit acceptance) didn't work, another attempt (adding "android-26") seemed to work. The PR has both.

[2017-10-27 02:57] psh commented on #922
It sounds like the switch between "map" and "list" is more about expanding and collapsing the map; in "list" mode its about 1/2 the screen and in "map" mode its the whole screen.  Like the "fullscreen" button when watching a video online.

[2017-10-27 07:28] misaochan commented on #924
Cool, thanks. :)

[2017-10-27 07:55] misaochan commented on #922
@psh I agree, using a FAB for camera would be awesome! (I suppose in this context it would make sense to prioritize camera over gallery, gallery can go elsewhere). The expansion of the bottom sheet (from compact to detailed) would be great, too. Definitely makes much more sense than a separate activity/fragment.

I'm not sure if the side-scrolling info cards are feasible for our scope this round,

[2017-10-27 11:25] RSBat opened #927 "No nearby places are shown after reload even if there are some"
App shows no nearby places (even if there are some) when loading second time the same place.
Steps to replicate:
* Launch emulator.
* Set GPS coordinates to Longitude: 0.0 Latitude 80.0
* Open nearby screen
* Some places are loaded
* Press reload
* See "No nearby places found" message

[2017-10-28 04:43] psh commented on #922
What I think I am hearing - map mode is a map that fills the whole view, and list mode is now a hybrid 50/50 split of list items and map:

![map-mode](https://user-images.githubusercontent.com/407647/32131107-6dd9a634-bb6b-11e7-8af6-1f224cfdbcff.png) ![list-mode](https://user-images.githubusercontent.com/407647/32131290-1a95a338-bb70-11e7-9246-f773e67ae693.png)

When an item is selected on the map

[2017-10-28 10:15] Bluesir9 commented on #734
Would like to take this up if its not being actively worked upon.

[2017-10-29 04:46] misaochan commented on #734
Please feel free @Bluesir9 . :)

[2017-10-29 09:48] nicolas-raoul opened #930 "Create screenshots for all languages available on Google Play"
Screenshots are one of the most important things for users to know what the app is, and understand how it works. Currently we only have English screenshots:

https://github.com/commons-app/apps-android-commons/tree/master/design/screenshots

Below are the languages supported by Google Play (I removed the ones that have no localization in our app):

Afrikaans – af
Arabic – ar
Azerbaijani – az-AZ
Ba

[2017-10-29 13:45] Bluesir9 commented on #734
So based on my understanding, events should be first written to a local storage and from there we should attempt to upload them. Once successfully uploaded they can be removed from the local storage. The local storage here would ideally be a SQLite DB.

[2017-10-29 20:17] psh commented on #930
When you say "Swipe away all notifications, to make the screenshots cleaner" can I suggest a slightly different approach that works well with my commercial clients - I suggest

1. Enable developer options
2. In developer options, turn on "demo mode"

![demo-mode](https://user-images.githubusercontent.com/407647/32147880-32acbf4a-bcbc-11e7-9d72-526264461f61.png)

This will set the status bar to a f

[2017-10-30 06:35] nicolas-raoul commented on #930
@psh I am talking about the icons on the talk, like when you have received an email.
By the way, these tasks are for https://codein.withgoogle.com students to perform :-) I will tag accordingly

[2017-10-30 08:52] aumassart commented on #520
@lanvsPoplicola
I already started previous week to work a little bit on this issue. I am new on this project and I chose this issue as a first one to enter in the code. So, if you want, we can work together on it and exchange ideas as a first experience on this project

[2017-10-30 09:20] misaochan commented on #324
This will be implemented in the later half of the IEG renewal. The scope is still somewhat vague, so we need to discuss how the UI will look like, what exactly to display, etc.

**Use case:**
We plan on adding a "featured images" activity to the app, accessible via the navigation drawer. This will allow users to browse featured images on Commons, which aims to educate newcomers on what makes a goo

[2017-10-30 09:32] neslihanturan commented on #324
+1 for Contributions view

[2017-10-30 10:22] neslihanturan commented on #922
Hmm, so we should decide something:
1- Do we want to change our switching mechanism between map and list (separated screen as @psh and me mentioned above)?
Advantages of new mechanism:
    - User is able to switch between them easier and faster. Easier to see names of places by list (without clicking to map), and see distances and directions by map without switching screens.
Disadvantages:
    - I

[2017-10-30 17:47] aumassart commented on #520
What I have done for now is that I added a Privacy Statement link to the page https://wikimediafoundation.org/wiki/Privacy_policy in the subscribe page. You can see the view of the subscribe page now :

![login](https://user-images.githubusercontent.com/12572789/32185866-bc6224b6-bda0-11e7-9736-fe29ee1fe5c8.png)

So, when the user want to connect or subscribe, there is this link to the privacy sta

[2017-10-30 18:27] #927 closed

[2017-10-31 05:58] IanvsPoplicola commented on #520
@aumassart that's cool, I'll leave this to you then! Looks like you're well on track of resolving it :)

[2017-10-31 15:08] neslihanturan commented on #843
I have an additional idea to reduce review costs:

-Removing PRs when requested changes are still waiting during more than 20 days.
What do you think?

[2017-10-31 15:54] nicolas-raoul commented on #843
@neslihanturan I believe that a sleeping PR is better than no PR at all.
Volunteers come and go, and most do it for fun.
Let's say Alice implemented a feature and send a PR because she had a few hours on a rainy Sunday. Meanwhile master has changed a bit and the PR must be rebased. Rebasing is everything but fun, and it might be months before the next rainy Sunday. Deleting the PR would lead to th

[2017-10-31 16:10] misaochan commented on #922
Yeah, good question. I agree with you re: the advantages and disadvantages. Another potential disadvantage of the hybrid view is that I'm not sure how it will look like on very small and low-res screens - might be worth checking out how Google Maps handles those.

But on the other hand, another potential advantage is that it makes it simpler to do away with the map-to-list switch icon. Remember th

[2017-10-31 16:17] misaochan commented on #843
+1  if there is anything else needed besides rebasing... IMO if only a rebase is needed we could just do it ourselves, since it's less work than creating new issues, assigning etc., and doesn't really benefit a newcomer to do it.

I wouldn't go with removing PRs @neslihanturan . If you are finding your workload too heavy it's OK to leave them for some time. :)

[2017-10-31 16:39] misaochan commented on #520
Hi @aumassart , thanks for your interest! Unfortunately we cannot use WMF's privacy policy - see #891 for the reasons. I would recommend that you submit your PR using the https://github.com/commons-app/apps-android-commons/wiki/Privacy-policy link instead (that is still in draft mode, but should be fixed up shortly). :)

[2017-10-31 17:50] neslihanturan commented on #922
I liked hybrid view more, when @misaochan make us remember new UI plans. It really solves one of our problem.

[2017-10-31 18:06] maskaravivek commented on #819
I was trying to submit our app's details for OAuth consumer registration but am not sure about the callback URL column as our app is a native Android app. Can anyone help with it? https://meta.wikimedia.org/wiki/Special:OAuthConsumerRegistration/propose

[2017-10-31 20:17] #736 closed

[2017-10-31 21:26] aumassart commented on #520
@misaochan thanks for your answer. I didn't see that. I will then change the privacy policy link to refer instead to the one you mention. :)

@IanvsPoplicola I hope you are finding an other issue that interests you a lot :)

[2017-11-01 03:28] nicolas-raoul commented on #843
It is true that before contributing to a repository, I always look at the number of open PRs, and sometimes give up if there are too many compared to the size of the project, as it make it feel like nobody processes PRs. Too bad Github does not show a few recently closed PRs on the same screen.

[2017-11-01 09:29] misaochan opened #931 "Tidy up Commons:Mobile app page"
https://commons.wikimedia.org/wiki/Commons:Mobile_app could potentially be due for a bit of a tidy-up, to reflect the current state of the app. Any ideas for how we could structure the information and what else to add?

[2017-11-01 10:08] misaochan commented on #819
Tagging @whym and @nicolas-raoul :)

[2017-11-01 10:18] nicolas-raoul commented on #819
I have always wondered how non-web applications handle OAuth.
From what I read at https://developer.android.com/training/id-auth/authenticate.html it seems that no callback URL is needed?

[2017-11-01 16:01] misaochan commented on #604
This will be done in the later half of the IEG renewal.

**Use case:**
Currently, the only way to submit multiple uploads (many files in one upload step) is to go to the Android gallery app, select more than one image, and click "share". We would like to implement multiple image selection from within our app as well, to prevent the need for re-submitting many times if the user has several differen

[2017-11-01 16:26] misaochan commented on #843
@neslihanturan Ah, yes, good point. Maybe after 30 days, we can re-promote the issue and suggest that they build on the last PR?

[2017-11-01 17:08] maskaravivek commented on #819
The Callback URL column was mandatory so have put https://commons-app.github.io/ in it. Have been assigned a consumer token and secret token for the app

[2017-11-01 17:59] maskaravivek commented on #819
The way ahead isn't very clear to me so i have created a phab task hoping someone could help us with it. https://phabricator.wikimedia.org/T179519

[2017-11-01 18:04] maskaravivek commented on #328
@sivaraam Does wikipedia app use OAuth for authentication? I have added the 2FA permission in OAuth Consumer registration for Commons app. Ref #819

[2017-11-01 18:08] ragesoss commented on #328
The Wikipedia app does not use OAuth. It has an in-app login flow that handles 2FA.

[2017-11-01 20:22] maskaravivek commented on #819
Someone replied to my phab task from WMF.

Our app doesn't have a backend component as far as I know. Even if we register as a Owner only app, the app will only be able to act in the name of the user who registered them. See **Owner Only apps** section of [OAuth app guidelines](https://meta.wikimedia.org/wiki/OAuth_app_guidelines#Review_guidelines)

@tobias47n9e @nicolas-raoul @misaochan Any insig

[2017-11-01 20:30] maskaravivek commented on #734
@Bluesir9 Yes you are right. This could be one possible flow:
Any event occurs > Put it in the local SQLite DB

Sync event > Schedule batch syncing of events(lets say batch of 50 events) every 5 minutes. Ideally just one batch should be synced every 5 minutes, rest of the events can wait for the next sync.

[2017-11-02 06:12] maskaravivek commented on #819
Anyways the OAuth Consumer request also got rejected. https://meta.wikimedia.org/wiki/Special:OAuthListConsumers/view/efc15ccf765eb39aad7c6a3c25f73826?markasread=2870231

[2017-11-02 07:44] misaochan commented on #819
I will email Corey and Aeryn about it and point them to the Phab task. Don't worry about it for now @maskaravivek

[2017-11-02 07:47] misaochan commented on #924
PR #932 fails Travis with the same error - license agreement

[2017-11-04 06:04] maskaravivek commented on #819
We made some progress with the OAuth implementation using oauth library that Corey Floyd from WPF suggested.

Am now stuck at some E006[1] error. This seems to be related to issues other have run into while using OAuth on mobile[2][3]. My suspicion is that it might have to do something with redirection to mobile version of wiki URL. See WIP PR[4]

Any help with it would be really great. :) @tobias

[2017-11-04 10:25] maskaravivek commented on #924
We can probably close this issue for now and monitor failures on travis. I will try to make sure that any failures on travis are addressed.

[2017-11-04 10:36] misaochan commented on #891
I've been reading up on how other apps handle their privacy policies - what do you guys think about using guidelines similar to https://www.iubenda.com/blog/privacy-policy-for-android-app/ and https://www.iubenda.com/blog/warning-google-play-developer-policy-violation-action-required-policy-issue/ for writing ours? I wonder if that may be an option, as the WMF one looks rather long and convoluted

[2017-11-04 10:40] misaochan commented on #924
Great, thanks @maskaravivek !

[2017-11-04 10:51] maskaravivek commented on #662
Closing this issue as we are using RxJava instead of guava.

[2017-11-04 10:51] #662 closed

[2017-11-04 13:13] VDK commented on #124
Wikimedia Commons supports wav, ogg and flac audio files. At the moment these files do get uploaded if you add the file extension yourself to the title of the upload, so Indian accent.ogg

[2017-11-04 15:52] nemobis commented on #901
My proposal https://phabricator.wikimedia.org/T143884 (for the Wikipedia app) went in this direction.

You cannot "replace" Panoramio because Panoramio's space is now taken by Google Maps and Google Photo, which trick users into submitting their own photos wherever they are for Google (and Google only) to use in its products. Google bought Panoramio and then gradually killed it, just like they rem

[2017-11-04 16:07] nemobis commented on #892
My proposal https://phabricator.wikimedia.org/T143884 (for the Wikipedia app) went in this direction.

You cannot "replace" Panoramio because Panoramio's space is now taken by Google Maps and Google Photo, which trick users into submitting their own photos wherever they are for Google (and Google only) to use in its products. Google bought Panoramio and then gradually killed it, just like they rem

[2017-11-04 16:25] misaochan commented on #901
@nemobis In your case the location EXIF won't be stripped. The complaint here was that the user's current location was **appended** to an image with no EXIF location data, without his permission. This should never happen. There is an option in Settings to use your current location as location data if the image has no EXIF data, but that is off by default and has to be enabled by the user if they w

[2017-11-05 10:04] misaochan commented on #891
I have updated the privacy page of the wiki using the template provided at https://gist.github.com/alphamu/c42f6c3fce530ca5e804e672fed70d78#file-android-privacy-policy-template , and will be modifying it in the next week to suit our app. If anyone finds this template unsuitable, please let me know ASAP. :)

[2017-11-05 18:36] oe-bayram commented on #730
Yes it shows up for me! The link only appears, if there is a category or a common article page for the Nearby place!

[2017-11-05 22:24] maskaravivek commented on #628
Does this still happen. I tried reproducing the leaks 2-3 times but no memory leaks seem to happen. Can someone else test again. @misaochan @neslihanturan

![no_leaks](https://user-images.githubusercontent.com/3069373/32419805-150cb860-c2a6-11e7-82ce-575d91dceae1.png)

[2017-11-05 22:53] maskaravivek commented on #636
I didn't notice any leaks while uploading a couple of images. It would be great if others could help in testing this. @misaochan @neslihanturan need your help in testing it. :)

[2017-11-05 22:56] maskaravivek opened #938 "Memory leak in Contributions Activity"
It leaks `ContributionsActivity` instance.

![contributions_activity_leak](https://user-images.githubusercontent.com/3069373/32420013-529fadaa-c2aa-11e7-9c74-8cb7c5f631f6.png)

[2017-11-06 08:47] misaochan commented on #730
@oe-bayram Thanks! It works as intended, then? :)

[2017-11-06 08:57] misaochan commented on #636
I tested (on a real device running 7.0) and don't get these leaks either, we'll see if @neslihanturan does.

[2017-11-06 09:05] misaochan opened #939 "Image that is currently being uploaded switches constantly from image thumbnail to "empty thumbnail" in ContributionsActivity"
It switches back and forth from the first screenshot to the second, back to the first, so on and so forth until the progress bar is complete and the image has completed uploading. Does anyone else get this issue? I tested with a real device running Android 7.0.

![flicker 1](https://user-images.githubusercontent.com/3611199/32433020-4e3a7e36-c325-11e7-935d-98697ada84c0.png)
![flicker 2](https://us

[2017-11-06 14:02] neslihanturan commented on #636
Tested on a real device 4.2.4, and no leak occurred.

[2017-11-06 14:19] neslihanturan commented on #939
Hmm, I tried on a real device 4.2.4, and this case didn't occurred. First it shows empty thumbnail, and after progress bar is done, it shows thumbnail. However empty thumbnail is flashing. So I think someone has better network connection (since I use VPN to access, thumbnail can becomes visible after all progress is completed ) would verify your bug report.

[2017-11-06 14:21] oe-bayram commented on #730
@misaochan Then? Close the issue please :)
We are a group of two students from Freie Universität Berlin and as a part of a Software Engineering course we want to contribute to this project by solving an issue or an enhancement. But it was very difficult to find an issue, because most of them have been already solved, but aren't marked as closed!
So now want to take the issue #591 and would be glad

[2017-11-06 14:23] oe-bayram commented on #591
We would be glad if we can take this issue.

[2017-11-06 14:24] neslihanturan commented on #730
I wouldn't say most, but yes somethimes we miss closing them:) We will be very happy if you comment them as "should be closed" to lead us:)

[2017-11-06 14:28] oe-bayram commented on #874
Should be closed :)

[2017-11-06 14:30] oe-bayram commented on #228
What is the current state of the issue?

[2017-11-06 14:37] oe-bayram commented on #919
Does ist have something to do with issue #228 which is also open?

[2017-11-06 14:38] oe-bayram commented on #291
Should be closed.

[2017-11-06 14:39] neslihanturan commented on #591
I consider this enhancement as a good one. However, its scope needs to be defined (and discussed) better before implementation.
1. Are we planning to update nearby list accordingly?
    - My opinion: Yes, we should.
2. How does user reset her location back?
    -My opinion: There should be a button to reset map view according to original location.

After adding #252 (This can be discussed under #2

[2017-11-06 14:54] neslihanturan commented on #291
Actually, it shouldn't. I could able to reproduce this bug just a minute ago.

[2017-11-06 15:33] misaochan commented on #291
Do you mean you encounter this when you select to use the CSV instead of Wikidata as your source, @neslihanturan ?

On a somewhat tangential note, I wonder if it would be a good idea to completely remove the CSV option from Nearby. We kept it in initially just in case some people faced issues with the Wikidata implementation, but it has been many months now and I don't think anyone is using the CS

[2017-11-06 15:38] misaochan commented on #730
Yes, sorry about that @oe-bayram . The past few months have been a rather difficult time for our dev team.

How involved/large does your contribution need to be, in order to be counted as course credit? Perhaps you could start a new issue of your own and people might suggest issues to you?

[2017-11-06 15:38] misaochan commented on #591
I agree, the scope of this is very vague at the moment.

[2017-11-06 15:43] misaochan commented on #591
To answer your questions:

1. Yes
2. Agreed
3. I'm not so sure about this.

In fact even implementing this enhancement in and of itself could potentially increase the risk of vandalism via direct uploads IMO, since someone would not even need to be in a location (or to spoof his location) in order to upload a picture for that Nearby item. When P18 edits are implemented, the consequences of this co

[2017-11-06 15:46] #730 closed

[2017-11-06 15:47] neslihanturan commented on #591
I was thinking for my DSLR camera uploads. Since I never took photos with my android device, I am never able to upload a nearby place while I am there. But I share your vandalism concern.

[2017-11-06 15:53] neslihanturan commented on #930
Hmm, what about choosing some photos and using only them to take screen shots? Because pictures, their name, description and category needs to be appropriate. I wrote this comment by looking at some problems at #940 by the way.

Plus, if it is not too hard for students, mock location apps can work to make nearby screen shoots look more native.

[2017-11-06 15:59] misaochan commented on #591
For Question 3 (uploading with mock locations) I could be on board with it if it was only enabled for the BetaDebug build variant. I don't think there is a need for it in Prod.

[2017-11-06 16:06] maskaravivek commented on #636
Closing the issue then. `ShareActivity` has undergone a lot of changes since the issue was reported. It might have got fixed in the process.

[2017-11-06 16:06] #636 closed

[2017-11-06 16:18] misaochan commented on #628
Has not happened to me recently.

[2017-11-06 16:49] misaochan opened #941 "Memory leak in NearbyActivity"
Happened after getting an empty Nearby list.

![screenshot_20171107-021752](https://user-images.githubusercontent.com/3611199/32452727-1b169b16-c366-11e7-82a5-7c18c74ef5a3.png)

[2017-11-06 18:18] maskaravivek commented on #941
Am working on fixing the above fix. Found another leak in `NearbyActivity`
![nearby_leak](https://user-images.githubusercontent.com/3069373/32456807-e8e84554-c34c-11e7-8ada-1944011db530.png)

[2017-11-06 21:00] maskaravivek commented on #895
Am able to build the current master successfully using `./gradlew assembleDebug`

[2017-11-07 00:49] joe94 commented on #895
This has been solved.

[2017-11-07 00:49] #895 closed

[2017-11-07 04:03] whym commented on #228
Personally i see this as a big, parent issue - as long as any overwrite happens, it will stay opened. We don't really know why many of the cases happen but they need to be prevented eventually.

At the same time, I think sub-issues with known concrete steps to reproduce can be opened. (e.g. "overwrite happens after X is done on Android version Y")

[2017-11-07 08:02] misaochan commented on #705
We now have the ability to upload to a beta server via the new product flavours #857 , so we can proceed with upload tests. :) This task has been assigned for the IEG renewal.

Question: How/when will we consider this task to be "complete"? What should the target be?

[2017-11-07 11:21] neslihanturan commented on #922
According to our discussion, needs and material standards, I have prepared something. I am not sure about some points so your feedback is highly appreciated.
![nearbymockup1](https://user-images.githubusercontent.com/3127881/32491191-d8e37276-c3c6-11e7-97ff-49777c9c7c0d.png)

[2017-11-07 15:43] misaochan commented on #922
@neslihanturan Nice! In general it looks good to me, I especially like the camera FAB and the clean look. :). I'm not sure about having "show list" on the bottom left of the bottom sheet when the item is selected though. And for the expanded bottom sheet (top right screenshot), I think we could improve on the layout of the buttons, I'm not sure we want them on all 4 corners.

The list looks great

[2017-11-07 17:29] psh commented on #922
I am liking the direction this is going, liking it a lot.  :+1:

Another way to think about showing or hiding the list of items is to look at the one screen having 3 states - All Map, Hybrid (1/2 map / 1/2 list) and All List.  That is, from the perspective of just the _size of the map_, 100% / 50% / 0%.  What if we had two small buttons to "maximize" and "minimize" the map display located at the b

[2017-11-08 03:47] nicolas-raoul commented on #228
Incidentally the web-based Commons Upload Wizard also has an overwrite problem: https://phabricator.wikimedia.org/T179967

[2017-11-08 08:22] neslihanturan commented on #324
Since I really liked this idea, maybe we can add it on third tab along with contributions, nearby, instead of another item on nav drawer.

[2017-11-08 08:40] nicolas-raoul commented on #591
I want to second that. I upload most of my pictures on the train back, or when I am waiting for a friend for instance.
Checking the picture's coordinates is a great idea indeed, to put a strong warning or even forbid the upload.
In any case it would be great if the UI (itself or via a web link to the wiki) could educate the users about:
- how to setup their camera to write EXIF info
- what constit

[2017-11-08 08:53] nicolas-raoul commented on #930
It was a good idea, but why is it not possible? Because the app prevents uploading duplicates? We could ask the students to edit the image to alter a single pixel. By seeing 940 I realize that telling the students what pictures to upload is much safer, otherwise half of the screenshots will probably be unusable (necktie/cat/etc)

Mock location is also a great idea! I believe only rooted Android de

[2017-11-08 09:04] nicolas-raoul opened #943 "Miles or km in Nearby Places"
This came to the mailing list:

Rather than creating another setting/toggle, getting that from the phone's locale would be better I guess. Maybe it is done already, please someone check, thanks!

[2017-11-08 09:15] nicolas-raoul commented on #291
We don't use CSV anymore, so I am in favour of closing this bug and opening new bugs for any such new problems :-)

[2017-11-08 11:00] neslihanturan commented on #324
While working on mockups of this feature, some question come up:
1- Which information do we want to emphasize on grid layout? Only thumbnail, file name + thumbnail etc.
2- Which information do we want to emphasize on media detail page?

[2017-11-08 14:23] thealexguy commented on #591
We'd like to focus on 1. and maybe 2. because we're limited in scope and time due to the fact we're implementing this feature in the context of a course at our university. So these two subissues and the correspondent tests totally fullfill the limited scope and time of our course
We also think that the nearby list should be in sync with the map and we're following the discussion about mocking the

[2017-11-08 14:43] thealexguy commented on #591
Do you think it's possible to implement 1. and 2. isolated and irrespective of 3. ?

[2017-11-08 15:15] nicolas-raoul commented on #591
@thealexguy Yes feel free to implement only 1 and 2 :-)

[2017-11-08 17:14] misaochan commented on #324
I would personally not be in favour of 3 tabs - I think 2 is enough, too many would distract the user from our main focus. IMO this would be better as an item in the nav drawer instead of a tab.

1. It depends on what kind of layout we use - if it was similar to the current Contributions, then having a filename would be good I think

2. Off the top of my head - filename, desc, categories.

[2017-11-08 17:15] misaochan commented on #591
@thealexguy Sure, please feel free. :)

[2017-11-08 17:38] misaochan commented on #812
Have we actually implemented this? I see @ftsalamp 's PR is closed, but @neslihanturan you have made the necessary fixes, right?

[2017-11-08 18:00] JohnKal commented on #894
I am working to fix this issue.

[2017-11-09 06:45] kerenpas commented on #885
hi,
Sorry for the delay to commit my changes...
I have question regarding the test. In the project there is a ApacheHttpClientMediaWikiApiTest, I want to add OkHttpClientMediaWikiApiTest. How do I preform testing?
Thanks!

[2017-11-09 07:08] misaochan commented on #894
@JohnKal great, thanks! :)

[2017-11-09 07:13] misaochan commented on #823
Does anyone still encounter this in the current master build?

[2017-11-09 08:29] neslihanturan commented on #812
Yes, closing this then.

[2017-11-09 08:29] #812 closed

[2017-11-09 09:11] neslihanturan commented on #922
Hmm actually Youtube's left bottom corner generally disturbs me, but I am probably an old fashion user. I think it can be too much accessibility if we use "picture in picture" and "hybrid view" together. But we can consider using only picture in picture thing too:)

[2017-11-09 09:49] neslihanturan opened #944 "A single activity is instantiated multiple times - Back Stack"
I couldn't find a relevant issue, so created new one. If you switch between home and nearby multiple times, you can see all instances of activities by pressing back button. We shouldn't let multiple instances of same activity.

[2017-11-09 10:05] misaochan opened #945 "Check image coordinates for direct Nearby uploads in locations that the user is not currently in"
After #591 and #252 are implemented, there is concern that there could potentially increase the risk of vandalism via direct uploads from a location that the user is not actually in, since they would not need to be in a location (or to spoof their location) in order to upload a picture for that Nearby item. When P18 edits are implemented, the consequences of this could be even more severe, as the

[2017-11-09 10:15] neslihanturan commented on #945
Hmm, how does site handles this problem? I think, I am able to upload a photo of a place without EXIF.

[2017-11-09 10:17] misaochan commented on #945
The site doesn't have Nearby or direct uploads for Nearby items. :) This only refers to direct uploads for a specific Nearby item, aka #252

[2017-11-09 10:26] neslihanturan commented on #945
I mean uploading a nearby item is almost same with uploading a place explicitly. If vandalism is under control for "uploading photo of a place" case, it should be fine four our case too.

[2017-11-09 10:31] misaochan commented on #945
The difference is with the P18 edits. Once a direct upload is done with Nearby, the P18 property of that Wikidata item will be edited and the item will be removed from the 'nearby places that need photos', because it already has a photo.

[2017-11-09 14:11] misaochan commented on #291
Yeah, there is an option in Settings for the user to use CSV. :) But removing the entire CSV option might reduce complexity, especially as many of the new improvements (e.g. #252 ) will only work solely for Wikidata. I wonder if anyone actually uses the CSV? It takes like 5 min to load, lol.

[2017-11-09 14:19] neslihanturan commented on #324
Here are three suggestion of me for featured pictures. I would go with 3rd one since we want to encourage users to take better pictures to be in this list one day, displaying user names on first sight could help our purpose.
![mockupsfeatured](https://user-images.githubusercontent.com/3127881/32609360-7d357bee-c570-11e7-9db5-54f7725c78d6.png)

Besides since I don't want any license violations, her

[2017-11-09 16:01] misaochan commented on #324
Looks good to me! I would be good with Option 3, but I think we need to find a way to show more clearly that the bottom text is the author. Perhaps a more significant difference in font between the top and bottom text?

[2017-11-09 19:24] tobias47n9e opened #947 "Add "location" (P276) to nearby image query"
Currently the nearby query ignores items that have no coordinate location set using P625 (https://www.wikidata.org/wiki/Property:P625) but link to an item using P276 (https://www.wikidata.org/wiki/Property:P276).

That means that items about events like this one: https://www.wikidata.org/wiki/Q42740247 or https://www.wikidata.org/wiki/Q18417962 are not listed as needing images. But people living c

[2017-11-09 21:31] tobias47n9e commented on #943
Using "en_us" to mean non-metric units is a pretty annoying assumption a lot of software makes. I am in favour of not implementing any of this. Any person using the app will know what meters are, and the purpose of the measurements is just to give a rough distance. Anything else is done better in dedicated routing apps.

[2017-11-10 03:44] nicolas-raoul commented on #945
It is right that a vandal that wants to vandalize already has many venues to perform their deed.
But as Josephine said, Nearby vandalism would be harmful to 2 projects instead of 1.
Also, we are looking for ways to reduce vandalism everywhere, and each solution is welcome even if it does not cover all of our scope. We can not detect vandalism with EXIF coordinates for normal uploads (not activatin

[2017-11-10 03:50] nicolas-raoul commented on #291
Even if we dump CSV, keeping a layer of abstraction might help if we decide to implement #883.

[2017-11-10 04:14] nicolas-raoul commented on #324
Even if visually option 1 is best, I prefer option 3 for our purpose.
How about showing "Uploaded by Uwe kils" instead of just "Uwe kils"? WIth users' sometimes weird usernames it is worth the precision.

Would tapping a picture show its details view with description/categories? Featured images always have proper categories, which could serve as a good example to follow.

[2017-11-10 05:20] nicolas-raoul commented on #943
@tobias47n9e So you mean kilometers for all?
While I usually don't like to compromise on localization, I have to agree to not making our code more complex in order to accommodate what could be considered an archaism lol.

[2017-11-10 05:20] #943 closed

[2017-11-10 05:30] nicolas-raoul commented on #947
Here are the results I get with that query for Germany:
[code]
It seems to me that 99% of these items are not a good target for our app, since they are past events.
How about limiting to only items with a starting/ending dates stating that the event is happening now?

[2017-11-10 05:38] nicolas-raoul opened #948 "In the Nearby map, show items with precise-enough "location" (P276)"
[This query](https://query.wikidata.org/#select%20DISTINCT%20%3Furlatlas%20%3Fitem%20%3FitemLabel%20%3FlieuLabel%20%3Fdateconsult%0Awhere%20%7B%0A%20%3Fitem%20wdt%3AP195%2Fwdt%3AP361%2a%20wd%3AQ3044768.%20%0A%20%3Fitem%20%28wdt%3AP276%7Cwdt%3AP361%29%2F%28wdt%3AP276%2a%7Cwdt%3AP361%2a%29%20wd%3AQ1075988.%0A%20MINUS%7B%3Fitem%20wdt%3AP276%20wd%3AQ1075988.%7D%0A%20MINUS%7B%3Fitem%20wdt%3AP276%20wd%3

[2017-11-10 06:28] neslihanturan commented on #324
Actually I tried to fit categories to this page too, but there is no enough space. I agree adding Uploaded by indicator. And yes, I will send some media details sketch today.

[2017-11-10 06:48] nicolas-raoul commented on #324
How about reusing the existing media details view, with just the added
field "author"?

On Fri, Nov 10, 2017 at 3:28 PM, neslihanturan <notifications@github.com>
wrote:

[2017-11-10 09:10] neslihanturan commented on #324
I remember some discussions about existing media details view here #873 . So maybe we need to redesign it for both featured and contributions view. What do you think @nicolas-raoul ?

[2017-11-10 10:20] VojtechDostal commented on #291
CSV seems so slow and ineffective compared to the Wikidata-based tool that I'm supportive of abandoning it completely.

[2017-11-10 11:07] nicolas-raoul commented on #324
Yes the two will probably have much in common.

On Nov 10, 2017 18:10, "neslihanturan" <notifications@github.com> wrote:

[2017-11-10 14:46] misaochan commented on #324
I definitely wouldn't try and fit categories into the grid layout, haha. It would be way too cramped IMO.

I also agree with adding "Uploaded by", and using the same media details view UI for contributions and featured. However, if we do add the ability for users to modify their desc etc inside the app, that needs to be restricted solely to contributions (no concrete plans for that yet until 2018

[2017-11-10 15:13] neslihanturan commented on #324
So should we leave UI improvements for media detail to 2018 too? This would make me very happy though because I am having hard times to choose a design currently:)

[2017-11-10 22:21] thealexguy commented on #591
Just one more question:
which log in do i have to use when debugging the app and developing the new feature?
Is there any default developing log in ? My normal user data doesn't work...
Thanks alot!
[I've already asked it in the mailing list but i haven't got any reply yet.]

[2017-11-11 08:49] ramarajesh2112 commented on #944
This is because the finish() method is not being called upon the current activity which is leading to have it running in the background when we switch to a new activity. Fixed this is this PR https://github.com/commons-app/apps-android-commons/pull/949.
Please review and share any feedback.

[2017-11-11 16:31] maskaravivek commented on #819
The discussion is continuing on https://phabricator.wikimedia.org/T179519 for anyone who might be interested.

[2017-11-11 18:02] maskaravivek opened #950 "Implement upload button to allow the user to select Camera or Gallery"
Making a sub task from #252.
Implement upload button, making sure to check for necessary permissions and to allow the user to select Camera or Gallery. The scope of the task is to to refactor the upload interactions.

Instead of having two buttons on the `ContributionsActivity` there can be a single upload button and on clicking it, a dialog will open which would look similar to:

![choose_image](

[2017-11-11 18:04] maskaravivek commented on #922
@neslihanturan Great work with the mock up. Am very excited to imagine how our app would look after we implement this. :)
I am planning to handle the interaction once someone clicks this upload button with the proposal in #950. A common flow can handle the upload interactions in both the cases.

[2017-11-12 05:44] misaochan commented on #591
There is no default developer login unfortunately.

1. What build variant are you running?
2. What login did you try initially (is it your Commons username and password?)

[2017-11-12 06:25] maskaravivek commented on #705
Had a discussion with @misaochan. Am updating the scope of this task for further feedback and suggestions:

(1) write a script that uploads a fake image to the beta server and checks for the result. Ideally we want a test that tests the entire upload process from image selection to checking that the image has been uploaded.
(2) Write unit tests for classes/methods in the "upload" package

[2017-11-12 11:59] gokberksahin commented on #124
I can successfully upload ogg files without adding extension name to the title of the upload. Is issue fixed or just i can upload without problem?

[2017-11-12 16:17] misaochan commented on #922
@maskaravivek Good point. We actually do need to discuss how to handle the choice of Camera vs Gallery as well. In the UI aspect, a few of the options are:

1. Expanding the FAB similar to the planned overhaul of ContributionsActivity at #725 (and if we do this, we need to figure out how to get it to work for the Nearby List as well, which doesn't have a FAB)
2. A dialog similar to the screenshot

[2017-11-13 01:51] nicolas-raoul opened #953 "Export location of nearby missing pictures to GPX file"
The "Nearby missing pictures" map exists, but many people would probably prefer to see the location of their favorite maps app such as OsmAnd/Maps.me/etc.

So, it would be great to have an "Export to GPX" button that asks you for the desired radius, and generates a GPX file containing all of the latitudes/longitudes. KML/KMZ formats could be a nice addition.

The KMZ file for the whole world (gene

[2017-11-13 07:26] neslihanturan commented on #922
My vote is for option 1, and adding a gallery button to our nearby list design.

[2017-11-13 07:52] nicolas-raoul opened #954 "Take latitude/longitude from picture taken seconds after"
When I go photohunting and finally reach that historical remain after walking for kilometers, I usually take several pictures with slightly different lighting/angle. I usually take about 5 pictures of the thing, and when I am back home I judge which one is the best.

Problem: The first few pictures usually do not have GPS information. And quite often the first picture is the best. Actually, when u

[2017-11-13 08:07] misaochan commented on #922
This sounds good to me, too.

[2017-11-13 08:31] misaochan commented on #954
Interesting, I didn't know this was possible! Very novel idea IMO. :)

[2017-11-13 10:27] misaochan commented on #891
I have completed the final draft of the privacy policy - https://github.com/commons-app/apps-android-commons/wiki/Privacy-policy . Please feel free to comment and provide feedback - if there are no issues, I will be sending Aeryn (WMF) this copy at the end of the week.

@nicolas-raoul @whym

[2017-11-13 13:34] neslihanturan commented on #922
According to feedbacks and our new needs, mockups are redesigned:

1- For listview, selected grey tone is appropriate to material specs and upload button is added:
![listuploadadded](https://user-images.githubusercontent.com/3127881/32727800-fba71c96-c88e-11e7-930d-9d7b67733034.png)

2- Option 1 for details view,
- Flat buttons are changed icons to make them more visible.
- Upload option is added

[2017-11-13 17:07] misaochan commented on #922
Looks great to me, @neslihanturan ! 👍 I would personally go with Option 1 for the detailed view.

[2017-11-13 17:11] misaochan commented on #891
Will do, thanks!

I think the crash logs sent via the Google Play developer console (not to the google group forum) are not optional? Or is there a way to turn that off?

We don't, but I don't know if the 3rd party libraries or websites we link to do. So I thought it would be safer to leave that statement in. I know Mapbox mentioned that their website does use cookies, but don't think their map se

[2017-11-13 17:12] misaochan commented on #823
Thanks for the feedback @VojtechDostal . We'll try to work on this ASAP.

[2017-11-13 17:41] maskaravivek commented on #890
@psh my PR has been merged now. Can this issue be closed now?

[2017-11-13 18:40] maskaravivek commented on #861
`NoPermissionsFragment` seems to be unused in the current master. I simply see a progress bar without any crash if i hit cancel. This is the dialog box that i am referring to.

![location_permissions](https://user-images.githubusercontent.com/3069373/32742674-2b5a92ba-c8d0-11e7-9237-0a3f12e8433e.png)

Can we close this issue if it no longer happens.

[2017-11-13 18:45] maskaravivek commented on #628
Closing it task as it doesnt seem to be happening with the current master. Feel free to reopen if anyone notices a leak.

[2017-11-13 18:47] #628 closed

[2017-11-13 19:41] psh commented on #890
No, but building on your good work to introduce dagger, I've submitted #956 that "completes the swing" to fully embrace dependency injection.  Basically, no-one is now reaching back into the `CommonsApplication` and dependencies are being resolved using Dagger throughout.

[2017-11-13 19:58] maskaravivek commented on #890
Great work @psh!. Am trying to review your PR. :)

[2017-11-14 05:35] nicolas-raoul commented on #930
@misaochan Sorry to bother you, but would you mind building an APK that uploads to the beta Commons site (I think there is a flavor for this?), and uploading it to https://github.com/commons-app/apps-android-commons/releases ?
This way, students will be able to use it to upload samples selected by me, without impacting Commons nor getting reverted as duplicates. I don't have access to an Android d

[2017-11-14 06:39] nicolas-raoul commented on #930
@psh: Now I re-read your comment and realized I totally missed the point, thanks for that great tip!

[2017-11-14 06:43] misaochan commented on #930
@nicolas-raoul Is this still needed?

[2017-11-14 06:47] nicolas-raoul commented on #930
I am still hesitating between asking the students to upload to beta Commons or to the real one... I will settle within a day :-)

[2017-11-14 06:50] misaochan commented on #930
Sure, let me know. :)

[2017-11-14 06:54] misaochan commented on #861
I think @Bluesir9 has fixed this? The PR should ideally link to the issue next time though. :)

[2017-11-14 07:01] Bluesir9 commented on #861
Yeah this has been fixed and merged. PR in question -> #866

[2017-11-14 07:11] misaochan commented on #861
Thanks @Bluesir9 !

[2017-11-14 07:11] #861 closed

[2017-11-14 08:23] nicolas-raoul opened #957 "Zooming does not work when pinching with the finger on the same horizontal line (on Nearby map)"
Zooming/unzooming depends on where your two fingers are placed.

It is a bit difficult to explain, but if you think of an analog clock:
- Fingers at 12 and 6: Zooming works
- Fingers at 3 and 9: Zooming does not work

[2017-11-14 08:32] misaochan commented on #799
Thanks @VojtechDostal for setting up and updating our Facebook page and group! :) If anyone is interested in joining:

Group: https://www.facebook.com/groups/472189063132928/
Page: https://www.facebook.com/WikimediaCommonsApp/

Now that that is done, we should probably publicize the page/group a bit. What do you guys think about adding a link to our website, and perhaps to our nav drawer in the ap

[2017-11-14 08:49] VojtechDostal commented on #799
I am taking all suggestions for Facebook posts guys! :-) I will try to be inventive myself. I plan to post updates on the technical improvements planned and done. I might also post showcases of uploaded pictures. We can also post various reports or blog posts :)

[2017-11-14 08:55] misaochan commented on #957
This refers to the Nearby map, right?

[2017-11-14 10:45] Bluesir9 commented on #957
Wouldn't zooming in and out be part of the Mapbox sdk itself?

[2017-11-14 11:47] whym commented on #747
Andrdoid Studio 3 has been officially released and I submitted #958.

[2017-11-14 13:51] nicolas-raoul commented on #957
@misaochan : Yes, sorry for not precising.
@Bluesir9 : Indeed the bug is reproducible in the Mapbox demo app. Apparently there is a related bug currently https://github.com/mapbox/mapbox-gl-native/issues/10101 so let's wait until they fix things and then update, since it is not a critical bug.

[2017-11-14 16:33] Bluesir9 commented on #883
Does the scope of this issue entail:
1-Fetching a list of nearby places from OSM based on the current coordinates of the user which will be then shown on the map?
2-Creating a WikiData item every time an image is uploaded(based on whether we have an existing WikiData item) and linking it to an OSM item based on the coordinates of that item?
3-Both of the above

[2017-11-14 19:38] feelfreelinux commented on #747
Can we use Kotlin in new classes / modules? Using android-extensions allows us to stop using butterknife, and Kotlin is fully interoperable with java

[2017-11-14 20:05] feelfreelinux opened #959 "Google Code-In: Setup development environment and run tests"
- [Download Android Studio 3.0](https://developer.android.com/studio/index.html)
- [Install and configure git on your machine](https://git-scm.com/book/en/v2/Getting-Started-Installing-Git)
- Create github account
- [Fork apps-android-commons repository on github](https://help.github.com/articles/fork-a-repo/)
- [Clone your fork into your local machine.](https://help.github.com/articles/cloning-a-

[2017-11-14 20:11] feelfreelinux commented on #959
@nicolas-raoul I've added this as beginner task on GCI dashboard, let me know if this suits you

[2017-11-15 01:37] nicolas-raoul commented on #883
@Bluesir9 (3) Both of the above. Linking from OSM is important so that at the next Nearby search this point is not shown anymore.

[2017-11-15 02:22] nicolas-raoul commented on #959
While this does not add immediate new features to the app, it is a good exercise, don't hesitate to improve our wiki (do you have write access to it?) based on the difficulties they encounter, thanks a lot! :-)

[2017-11-15 06:09] misaochan commented on #747
Personally I would be in support of limiting Kotlin to tests for the time being - there are lots of overhauls going on with the codebase at the moment, and adding Kotlin to the mix would make things rather messy IMO. Plus it would add another barrier to entry for new contributors.

[2017-11-15 08:36] neslihanturan commented on #7
Hi, here is my suggestion for notifications display. User can click and go to the site.
![talkpage](https://user-images.githubusercontent.com/3127881/32826356-1c3814a4-c9f9-11e7-964d-cc0d940bc325.png)

[2017-11-15 09:06] misaochan commented on #7
Great job @neslihanturan ! Looks good to me. :)

[2017-11-15 10:00] nicolas-raoul opened #960 "Create screenshots for YOURLANGUAGE"
_(Only for Google Code-in)_

Requirement: "YOURLANGUAGE" must be a language that you can read and write very well, typically your native language. For instance, if your native language is Telugu and you can write in Telugu, then follow the instructions below and write the pictures names/descriptions in Telugu.

# A. Context
- Commons is a big repository of images that are used in Wikipedia.
- Comm

[2017-11-15 10:13] abhi472 opened #961 "Number of uploads not updating"
even after uploading two images the toolbar's subtitle shows 0 uploads
![screenshot_20171115_153608](https://user-images.githubusercontent.com/17140215/32830611-c4fcc504-ca1b-11e7-976b-dcf12eae3b1a.jpg)

[2017-11-15 10:18] neslihanturan commented on #961
Thanks for report @abhi472 , I experienced same issue on 4.2.4 device. Can you share your Android vesrion?

[2017-11-15 10:27] abhi472 opened #962 "same image is being uploaded"
while uploading a new image if the recent upload is failed and then restarted,
another image is being uploaded
this "other image" is basically the very first image that was uploaded so the image from the bottom of the stack is being picked up.

![screenshot_20171115_155056](https://user-images.githubusercontent.com/17140215/32831135-56a871dc-ca1d-11e7-9af3-bce226e3760b.jpg)

here the bottom image

[2017-11-15 10:29] abhi472 commented on #961
sorry to have not mentioned it in the issue itself,
i checked this on a v6.0.1 device

[2017-11-15 11:18] nicolas-raoul opened #963 "Remove suggestion to skip categories"
The categories screen says:

I believe categories should never be skipped. Pictures with no categories have much less values and give a bad name to the app. I think this sentence should be removed.

[2017-11-15 13:14] thealexguy commented on #591
I've pulled the latest version and used my normal login username and password. I registered again and now it works :)

[2017-11-16 06:48] nicolas-raoul commented on #930
I finally settled to ask each students to take 3 well-defined pictures, that will be on-topic on Commons, and hopefully good enough as screenshots. So no need for a beta Commons release now, even though that could be useful for other purposes like bug investigation :-)

[2017-11-16 07:37] misaochan commented on #591
@thealexguy Happy to hear that. :) You can always check what build variant you are using (if you are using Android Studio, it should be on the left side of the screen). The build variants that include the term "beta" (e.g. betaDebug) will upload images to the beta server (instead of the real Commons server) and AFAIK that requires a separate login/registration from the actual Commons one.

[2017-11-16 11:27] nicolas-raoul opened #965 "Report that Nearby item is not at specified location"
Sometimes Nearby makes me go to a place, and I realize that there is nothing, for instance it was supposed to be a museum but it is just fields. This probably happens to any regular Nearby user.

This leads to frustration, and if nothing is done the point stays on the Nearby map, and another person (or forgetful me) might be tricked by it again.
But this could be turned into a very positive experi

[2017-11-16 11:57] maskaravivek commented on #941
Closing this as the PR is now merged.

[2017-11-16 11:57] maskaravivek commented on #938
Closing this as the PR is now merged.

[2017-11-16 11:58] maskaravivek commented on #938
Closing this as the PR is now merged.

[2017-11-16 12:09] janpio commented on #965
How is such "maintenance" done in Commons itself, outside the context of the app?

[2017-11-16 12:21] nicolas-raoul commented on #965
commons.wikimedia.org does not even have a Nearby feature, actually.
This is Wikidata maintenance rather than Commons maintenance, within the purpose of adding missing content to Commons.
The same concept could probably be used for OpenStreetMap points, though.

[2017-11-16 12:24] janpio commented on #965
Yeah right, I was wondering how they normally do the "Oh, I noticed this data/entry is wrong, let's fix it" process.

[2017-11-16 15:49] misaochan commented on #965
@nicolas-raoul Sounds good, but if we do that we probably need someone to consistently check that article and make the necessary modifications, otherwise they may get even more frustrated. :) I don't think the regular Commons/Wikidata volunteers will be willing to do it.

[2017-11-16 19:04] maskaravivek commented on #961
@abhi472 Is this happening on the beta build? We have a known issue where the upload count doesn't reflect correctly on beta/debug builds as it uses the beta commons.

[2017-11-16 19:27] maskaravivek commented on #823
I am unable to find a issue with item descriptions not showing up in general. Is the issue specific to this particular data point? Also the last change in the query was done in May itself ie during the hackathon.

@VojtechDostal I tried to reproduce the issue by checking places around the item posted in the screenshot. Somehow that item doesn't show up in my list.
- Can you help me with its geo co

[2017-11-16 19:50] maskaravivek commented on #832
@nicolas-raoul Do we have more details about the issue. The stack trace doesn't lead to any source in the commons app so debugging it won't be feasible.
- Any pointers to where it happens would help.

[2017-11-16 22:43] VojtechDostal commented on #823
I think this problem is language-specific. If your language is English, you won't have problems. But my app loads in Czech and is unable to retrieve Czech descriptions even if they exist.

[2017-11-17 02:21] nicolas-raoul commented on #965
@misaochan I volunteer to monitor that page, fix what I can, and announce the rest on Wikidata's project chat :-)
I guess it will not be more than 50 reports a month anyway, even when the app becomes very popular.

[2017-11-17 02:33] nicolas-raoul commented on #832
@maskaravivek Sorry I don't have more info, I took this crash from Google Play's crash reports page.
If it is not usable then I guess we can close it, if someone gets the same issue a Google search might lead them to this page anyway. Anyone having this problem, please explain how you get it, with what version of the Commons app, thanks!

[2017-11-17 02:33] #832 closed

[2017-11-17 03:00] nicolas-raoul commented on #823
Please note that what is shown on the screenshot above as "description" is actually not the item's description, but the label of the class of which the item is an instance of. In this case it is "gymnasium", which has a Czech label, so there is still a problem.

The [Wikidata query](https://query.wikidata.org/#SELECT%0A%20%20%20%20%20%28SAMPLE%28%3Flocation%29%20as%20%3Flocation%29%0A%20%20%20%20%

[2017-11-17 06:10] abhi472 commented on #961
@maskaravivek yes it happened in betaDebug

[2017-11-17 06:42] nicolas-raoul commented on #463
The problem with Wikidata's use of emoji is that the goal is not to provide one emoji to each class, but only to assign each emoji to a particular class or item. So most classes do not have an emoji, and coverage is never going to be good.

On the opposite, for icons the goal is to have an item for each class, so coverage will continuously grow.

[2017-11-17 06:57] maskaravivek commented on #961
We depend on a https://tools.wmflabs.org/ API to get the upload count. They don't have an equivalent API for commons beta. So with the current approach this issue cannot be resolved.

It would be great if we are able to explore an API that supports both commons and beta commons

[2017-11-17 06:59] misaochan commented on #961
Yeah, this is a known issue with our beta product flavours sadly, but as beta is only used for testing (and will never be released to users), it isn't a high-priority problem IMO.

[2017-11-17 07:07] VojtechDostal commented on #823
Thanks @nicolas-raoul for explanation. I did not know the description is based on P31. In that case it is clear that it's not just a language-specific problem. Look at @maskaravivek 's screenshot from yesterday. For example, the "Orlová (usedlost)" item (Q30067555) has a P31 "homestead" which should show in English. But instead it says "no description found".

Why does it only work for "Pěvecká ko

[2017-11-17 07:27] misaochan commented on #965
Thanks @nicolas-raoul ! :) So implementation-wise, we are really just talking about a link that takes the user to https://www.wikidata.org/wiki/User:Syced/Commons_Mobile_App , right?

[2017-11-17 08:50] nicolas-raoul commented on #965
Actually, I was thinking about a UI with radio buttons letting the user choose what the problem is.
This UI would automatically post a message on the wiki page above in the user's name, including the item's identifier and the selected problem.
That forces the user to include the reason of the problem (some users would just say "It does not work").
Another advantage is that it writes reports in Eng

[2017-11-17 09:11] maskaravivek commented on #823
Thanks @nicolas-raoul @nicolas-raoul. Lots of insights from your comments about this issue. Should help us fix the queries for all languages.

[2017-11-17 09:19] neslihanturan commented on #961
Actually it happens to me on product too:/

[2017-11-17 11:24] janpio commented on #961
Anybody talked to the person offering the API on  tools.wmflabs.org if he could create a variante for the beta host?

[2017-11-17 12:02] #211 closed

[2017-11-17 18:57] maskaravivek opened #966 "Crash on clicking back from a failed media detail page"
I tried uploading an image which failed because of some reason. From the media detail view when i click the back arrow in the toolbar, the app crashes.

[code]

[2017-11-17 20:05] maskaravivek commented on #300
I was also unable to reproduce the issue on my wifi or mobile network. I tried both my home and office Wifi.
@VojtechDostal if this issue is no longer happening then I would like to close this issue. :)

[2017-11-18 00:38] nsaiisasidhar commented on #953
Hi, can I work on this enhancement.

[2017-11-18 06:45] maskaravivek commented on #953
@nsaiisasidhar Awesome thanks! Go ahead with it. :)

[2017-11-18 06:46] maskaravivek commented on #953
@nsaiisasidhar Awesome thanks! Go ahead with it. :)

[2017-11-18 07:54] VojtechDostal commented on #300
This now hasnt happened for a very long time in the current version of the app. Thanks for closing it @maskaravivek

[2017-11-18 13:37] misaochan commented on #300
Closing, thanks guys! :)

[2017-11-18 13:37] #300 closed

[2017-11-18 13:41] misaochan commented on #961
@neslihanturan Oof, really? Which version of the app are you experiencing this issue with - Google Play beta, Google Play production, or master?

@janpio My memory might not be accurate, but if I recall correctly the person who implemented the wmflans tool for us was @urbamecm ? Hi Martin, can you confirm? :)

[2017-11-18 14:00] urbanecm commented on #961
Hello Josephine, yeah, I was the one who created the wmflabs tool. Should I do anythin with this issue?

[2017-11-18 17:58] janpio commented on #961
Nice, hi @urbanecm :)

There now exists a beta/debug version of the app that uses a different host - so that test uploads don't land on production Commons and get deleted and make people unhappy. It would be neat if the wmflabs tool would also exist for that host, so it could be used to display the correct number.

@misaochan can probably provide the correct host the beta/debug version uses.

[2017-11-18 18:29] urbanecm commented on #961
If we're talking about the beta cluster (https://commons.wikimedia.beta.wmflabs.org/wiki/Main_Page), it seems to be almost impossible to create similar api as for the prod one. I depend on Tool Labs replicas and as beta cluster contains just some random gibberish, it isn't replicated. I may try to precalculate number of uploads and create similar API which will serve such pre-calculated numbers.

[2017-11-18 18:34] janpio commented on #961
If it is not "yeah, I can deploy the same code again with another hostname configured" for you (which I hoped...) then it indeed probably isn't worth the effort.

[2017-11-19 04:13] thealexguy commented on #591
Everything of the following is open for discussion :)

We discussed and have some questions so far:

- What is the difference between LatLng from mapbox and your own implementation of LatLng (fr.free.nrw.commons.location.LatLng)? Which one should we use ?

- Should we use the same radius as now right now ? (we would use the same, we just wanted to get that confirmed)

We also like to (and have to

[2017-11-20 02:08] oe-bayram commented on #591
In addition to the tasks above we want (and have) to write one (or more) test cases that captures the intended behavior of the feature.

Well as you can read it here, Android doesn’t contain any actual code when running unit tests. “This is to make sure your unit tests only test your code and do not depend on any particular behaviour of the Android platform”.

A possible way would be to mock some

[2017-11-20 15:56] misaochan commented on #961
Hi @urbanecm , thanks for dropping by! :) Yeah, I don't think it is a high priority fix, so if it will be difficult then it won't be worth it IMO. Although @neslihanturan did mention something about it not working for her on prod as well, can you confirm this Neslihan?

[2017-11-20 16:03] misaochan commented on #591
Hi @oe-bayram and @thealexguy - apologies for the slow response, we have been pretty busy recently, 2 of our devs were travelling this weekend and we are gearing up for a release next week. Do you two have any strict deadlines for your project? We will try to answer you within the next week if possible.

[2017-11-20 20:44] neslihanturan opened #969 "Wrong files displayed when switched from beta to prod"
An incredibly weird thing happened. I was testing the app on beta, then I switched to prod and rebuild the app without logging out. Then, I saw someone else's pictures with same names (i.e. my file name is birds in beta server, and I saw file birds in real commons server)

[2017-11-20 20:49] neslihanturan commented on #961
Yes, I can confirm @misaochan :/
![device-2017-11-20-234837](https://user-images.githubusercontent.com/3127881/33040858-6f49d594-ce4d-11e7-90fa-62088fdb32c0.png)

[2017-11-20 21:10] neslihanturan opened #970 "Adding history to nav bar"
Since we plan to add edit function, what about adding display history too? We can display edits, uploads, nominations for deletion, adding a photo to a nearby place with P18, sending us a feedback etc.

[2017-11-20 21:18] urbanecm commented on #961
I will be happy to investigate but I really do need your on-wiki username for it. Can you give it to me please? Thanks!

[2017-11-20 21:24] neslihanturan commented on #961
Yes, it is my prod account. Actually I was aware of this issue before we have beta flavors, but I have never thought it is not reported. My username is "Neslihan Turan" thanks @urbanecm !

[2017-11-20 21:28] neslihanturan commented on #938
Here is new leak:
![device-2017-11-21-002635](https://user-images.githubusercontent.com/3127881/33042401-cc86bf06-ce52-11e7-8af2-0230163beb43.png)

[2017-11-20 21:29] neslihanturan commented on #941
Here is new leak:
![device-2017-11-21-002652](https://user-images.githubusercontent.com/3127881/33042465-0192e954-ce53-11e7-89aa-fa0ae0ca12fb.png)

[2017-11-20 21:57] urbanecm commented on #961
Ok, that's caused by the spaces. I thought that I will be requested with URL like "https://tools.wmflabs.org/urbanecmbot/uploadsbyuser/uploadsbyuser.py?user=Neslihan%20Turan" (URL encoded space) but the URL was "https://tools.wmflabs.org/urbanecmbot/uploadsbyuser/uploadsbyuser.py?user=Neslihan_Turan" (underscore instead of a space).

As underscore is an illegal char in username (It's converted to

[2017-11-21 02:39] nicolas-raoul opened #971 "Localized category search"
Less than 1 in 4 persons in the world can understand basic English.
Only 36% of the world population use the Latin alphabet.

So, for most people the search bar does not return the right things, for instance typing "España" in our app's category search bar does not make the "Spain" category appear.

This is a core problem of Commons, where categories only have an English name. [Structured Commons]

[2017-11-21 08:45] misaochan opened #973 ""No nearby places found" in NearbyActivity (pre-release)"
While currently testing master, after loading NearbyActivity, I get the "No nearby places found" error. Tapping refresh does not solve the problem.

This happens consistently on my phone (Samsung Galaxy S7 running Android 7.0). I am never able to get the Nearby list/map on my phone in the current master. I have GPS on, which is currently displaying appropriately in other apps (E.g. Google Maps, Zo

[2017-11-21 16:17] #332 closed

[2017-11-21 18:16] neslihanturan commented on #961
It works now @urbanecm , thanks a lot!

[2017-11-21 18:18] #961 closed

[2017-11-21 18:24] janpio commented on #961
Maybe not use the API on betaDebug then but just display a ? to avoid confusion?

[2017-11-21 18:28] urbanecm commented on #961
You're welcome @neslihanturan.

@janpio Agree with you.

[2017-11-22 15:06] thealexguy commented on #591
Hi @misaochan - the goal of our project is more learning the way how to contribute to an opensource software than perfectly implementing a feature. So we have a deadline but it does not have to be strictly adhered to.  Of Course a fast reply would be nice.
Currently we have a working implementation following the solution approach above. If the approach is not well enough, we will rewrite our imple

[2017-11-22 16:19] misaochan commented on #591
Hi @thealexguy , trying to go through your questions now, let me know if I miss anything.

I haven't had time to take a close look at the Mapbox documentation yet, but unless there is a good reason to do otherwise, I would use our own implementation, as there is a possibility that we may not continue to use Mapbox in the future.

Yes, that should be OK.

The proposed approach sounds good to me. Wh

[2017-11-22 19:43] neslihanturan commented on #922
Hi everyone, since I am implementing our chosen design, I have some questions about best practices. Currently I am working on hybrid map-list view, colapsed nearby details view and expanded nearby details view.
I decided to use a bottom sheet to display listview so that user can expand it to whole screen or hide completely by swiping. For nearby details, I decided to use another bottom sheet.

Log

[2017-11-23 04:50] nicolas-raoul commented on #591
Sounds good! Manual tests are probably enough, I would say, as it is primarily a UI feature. Good luck :-)

[2017-11-23 07:14] #973 closed

[2017-11-23 07:37] misaochan commented on #922
Tagging @psh or anyone else familiar with Android UI development? :)

[2017-11-23 19:01] maskaravivek commented on #944
@misaochan Can this issue be closed?

[2017-11-23 20:56] maskaravivek opened #978 "Failing UI test for NearbyActivity"
Recently one of the tests started failing. Heres the build stackstrace.

[code]

When I run the task `:app:connectedBetaDebugAndroidTest` locally, it succeeds for me.

Can anyone help with this issue. @whym @psh

[2017-11-23 21:30] ardovic commented on #960
I was about to make screenshots in Russian, yet got a problem with installed Beta. The "Nearby" doesn't work anymore, tried with GPS on and on several devices, will debug later this week.

[2017-11-24 05:49] misaochan commented on #944
Yup, thanks all!

[2017-11-24 05:49] #944 closed

[2017-11-24 06:08] misaochan opened #979 "Remove option to load from CSV for Nearby"
The "load from CSV" option is a relic of our initial Nearby prototype before we switched to using Wikidata queries. Personally, I think Wikidata is superior in all aspects and I have never used the CSV option after Wikidata implementation because the CSV takes about 5 minutes to load each time. Nobody that I have talked to currently uses the CSV either.

We were discussing removing the CSV entirel

[2017-11-24 06:32] tobias47n9e commented on #979
I agree with removing the CSV option.

[2017-11-24 07:55] nicolas-raoul commented on #960
@ardovic: Thanks for your feedback! It seems that beta has some problems indeed, so please use the app from Google Play. I will fix the instructions, thanks for letting us know :-)

[2017-11-24 09:01] nicolas-raoul opened #980 "Rename? GitHub will help potential first-time contributors discover issues labeled with "help wanted" or "good first issue""
Should we rename our existing "beginner friendly" label?

Also, would it make sense to use the "help wanted" label?
I guess all of our non-discussion issues would have it, so I have doubts.

We would have to modify our up-for-grabs.net configuration too.

[2017-11-24 10:24] whym commented on #978
For me it was locally reproducible. It appears that NearbyActivity gets stuck with https://github.com/commons-app/apps-android-commons/commit/a61124a5802060338819b22c33a20ca475c8e582 when run with "gradle connectedCheck -Dtest.single=fr.free.nrw.commons.NearbyActivityTest"

With https://github.com/commons-app/apps-android-commons/commit/21f08ae9862c5d3386de3ffaeffafce7e258365b it went through. (I

[2017-11-24 23:04] psh commented on #922
@neslihanturan - I really like where your design is taking us!

Couple of questions about the list view -

- In your list view, is it possible to expand more than one card to show the buttons?
- What does your design look like in landscape mode or on a tablet - is the goal to take the items from "... more" and put them into the buttons?
- I'm not sure what the top and bottom shadows are trying to

[2017-11-25 07:20] neslihanturan commented on #922
Hi @psh , answers for your questions:
-No, only one card
-Yes we can fit all buttons
-Yes, I wanted to make them look like they are on below layer.

For controlling states:
Actually firstly I implemented a bottom sheet state control by using if-elses and visibilities with bottom sheet callback. However, later it seemed to me badly organised and confusing. Later, I decided to use state design patte

[2017-11-25 09:19] maskaravivek opened #982 "Optional Permissions in Nearby Places activity?"
On opening `NearbyActivity` when location is disabled, the alert dialog shows the following permission. The text is somehow misleading as its not possible to show nearby places without location permissions in `NearbyActivity`.

![optional_permissions](https://user-images.githubusercontent.com/3069373/33229158-3e7158e8-d1ef-11e7-9b12-80ae573ca759.png)

IMO it makes more sense to ask for location pe

[2017-11-25 10:15] nicolas-raoul commented on #982
Sounds reasonable!

[2017-11-26 08:36] misaochan commented on #982
I agree, the text is misleading, your suggestion sounds good to me.

[2017-11-26 19:03] oe-bayram commented on #591
## **Feature Description**
_Id:_ #591
_Name:_ Long-press on map to launch a nearby search around that location

### **Functionality:**
This Feature is an addition to the current feature of showing nearby Places around the current location of the user. Now it’s possible to add a custom location anywhere on the map via a long press. After a few seconds of loading the nearby places around the custom

[2017-11-26 19:13] oe-bayram commented on #591
Dear Team,
we want to create a new branch from the master branch and transfer the changes to this new branch but it seems like that we don't have the permission to create a new branch in this project. Could you please give us the permission to do this (or maybe you could create the new branch yourself), so we can create a pull request?

@thealexguy and @oe-bayram

[2017-11-26 20:36] maskaravivek commented on #591
@oe-bayram You could fork the repo and push changes to your branch, and submit a PR then. :)

[2017-11-27 09:23] misaochan opened #986 "Constant crashes in Release build (current beta in Google Play Store)"
When generating a signed APK with the ProdRelease build, I get these errors:

[code]

I was able to carry on and generate the APK regardless, but we should still probably look into them so that we don't keep getting errors in future versions.

Update: Currently, it seems that in order to release any of the new features post-2.5.0, we will need to:

- [ ] Fix issue with commons-logging and httpclie

[2017-11-27 10:59] misaochan commented on #986
Wow. So it said APK build successful and I was able to upload to Google Play beta - but the app crashes for me on the Google Play version. I sent logs, but can't access them until they go through to the server.

[2017-11-27 11:28] misaochan commented on #986
Will try to deploy the fixes mentioned at https://stackoverflow.com/questions/46989310/commons-logging-defines-classes-that-conflict-with-classes-now-provided-by-andro

[2017-11-27 12:14] misaochan commented on #986
Huh. Well, that didn't solve the problem for me. :/

[2017-11-27 12:31] misaochan commented on #986
Ran logcat:

[code]

[2017-11-27 14:23] whym commented on #986
From the result of 'gradle app:dependencies', it looks like the old dependencies are via in.yuvi:http.fluent (which is unmaintained). Not sure if we have to remove (replace) it or there are easier workarounds.

prodReleaseCompileClasspath - Resolved configuration for compilation for variant: prodRelease
+--- com.github.nicolas-raoul:Quadtree:ac16ea8035bf07
+--- fr.avianey.com.viewpagerindicator:li

[2017-11-27 16:35] misaochan opened #988 "Testing Release build?"
After the current fiasco, I realized that we should probably be testing the Release build (as opposed to just the Debug build) before uploading a new version to the Play Store, lol. The main problem is that testing that build requires the APK to be signed, and the inbuilt "sign APK" UI option in Android Studio just hardcodes the key passwords etc into the gradle file, clearly not an option for an

[2017-11-27 18:02] janpio commented on #988
Aside: Do you really need a signed "Release" build, or just a development build of the code and settings that would end up in a signed build?

[2017-11-27 22:28] psh commented on #988
I (personally) got around the issue by using environment variables on my machine - in my `build.gradle` I have
[code]
and then later on
[code]
And that way the passwords are not embedded in my git repo, but I also have the convenience of not typing a huge command line when I want to release - I just set the "APP_KEYSTORE" and "APP_KEYSTORE_PASSWORD" environment variables on my build server.

[2017-11-27 23:48] nicolas-raoul commented on #988
Yes, environment variables is how I do for my apps, it works well :-)

[2017-11-28 03:09] misaochan commented on #986
Possibly worth noting that even with Dagger reverted (on my fork), the ProdRelease build fails with

[code]

[2017-11-28 03:17] misaochan commented on #988
Thanks guys! Do those methods allow others to test the Release build as well, though? I would still need to send the keystore to whomever needs to test the Release build, I figure?

[2017-11-28 03:52] misaochan commented on #986
I reverted the beta: https://github.com/misaochan/apps-android-commons/tree/D-commit

Currently, it seems that in order to release any of the new features post-2.5.0, we will need to:

-  Fix conflicts between Dagger and commons-logging and httpclient, or else not use Dagger
-  Fix error with kaptProdReleaseKotlin
-  Re-test ProdRelease build (I am hoping we can find a way for other devs to test r

[2017-11-28 04:52] nicolas-raoul commented on #988
@misaochan You don't need (and should probably not :-) ) send the keys to everyone.
Everyone can sign using their own keys, using the exact same code and Gradle files.

[2017-11-28 05:35] misaochan commented on #988
Oh, so the "signed" release doesn't actually have to be signed with the exact key that we use for the Play Store! (as long as we don't intend to upload to it on that build)

Cool, thanks @nicolas-raoul . I had no idea, haha.

[2017-11-28 05:45] nicolas-raoul commented on #988
Yes, for instance the F-Droid maintainer signs all apps (including Commons) with his own key (we never gave our keystore/keys to him), and people can use the app normally, it behaves normally regardless of who signed it. The signature is only checked by Google Play (when uploading the APK).

[2017-11-28 11:37] nicolas-raoul commented on #986
Did you post any question on StackOverflow about this? If yes, please post the URL here so that I can bounty it :-)

[2017-11-28 15:17] misaochan commented on #986
@nicolas-raoul Do you know if it's OK for us to link to our GitHub repo on StackOverflow? The issue is quite specific and there's too much relevant code for me to copy to StackOverflow.

[2017-11-28 15:22] psh commented on #986
The *kapt* failure looks like the `build.gradle` dependency was removed but there are other commits that needed to come out as well.

One of the changes back in **Android 6.0** was to [remove the Apache HTTP Client API](https://developer.android.com/about/versions/marshmallow/android-6.0-changes.html#behavior-apache-http-client)

Is this what we're seeing?

[2017-11-29 06:04] misaochan commented on #819
This has been found to be impossible with WMF's current version of OAuth (see https://phabricator.wikimedia.org/T179519 ), and it has also been discovered that adding the Key to the app will open up the possibility for 3rd parties to impersonate the Commons app.

Consequently the requirement for us to use OAuth has been waived - based on Corey Floyd (WMF)'s email to me. I will close this for now,

[2017-11-29 06:04] #819 closed

[2017-11-29 06:40] misaochan commented on #986
@psh Thanks for the suggestion. We already do have `useLibrary 'org.apache.http.legacy'` in our current build.gradle file, though... or do you mean we should find a way to remove dependency on it?

[2017-11-29 06:54] nicolas-raoul commented on #986
@misaochan Yes the question should include all relevant elements, answerers should not have to click any link. It can be a good opportunity to check everything and make clear what the problem is with all of the minimum conditions.

[2017-11-29 08:45] misaochan commented on #986
Checking out with detached HEAD at https://github.com/commons-app/apps-android-commons/commit/75496388ce96eb532334f5f7efe59fb3a3d05e20 yields no such issues when tested. So the issue would lie with commits made after that point, most likely #932 is my guess. @maskaravivek , could you please take a look at this, as you made most of the recent changes to Gradle?

Interestingly, checking out the deta

[2017-11-29 08:55] misaochan commented on #986
I can confirm that #932 is a contributing factor. Checking out the merge of #929 (the PR merged directly before 932) produces no errors, but checking out the merge of #932 does.

[2017-11-29 09:07] misaochan commented on #328
This can be unblocked now that we have confirmed that OAuth is not possible and not needed.

[2017-11-29 11:30] janpio commented on #819
Good outcome.

[2017-11-30 00:12] oe-bayram commented on #591
Due to the last version update our implementation for this feature isn't compatible anymore. Well the current version has some location issues in the nearby activity (#983). And this is being fixed with this [merge](https://github.com/commons-app/apps-android-commons/pull/983).

Anyway I have tried to implement the feature with this merge and after a bit change in the nearby activity it works agai

[2017-11-30 05:47] maskaravivek commented on #986
The source of crash is definitely dagger but am not sure why it is happening just on release builds. I tried disabling prodguard and minification on release build(just for finding the root cause) but that too didnt help.

This is the stacktrace.

[code]

@whym @psh Do you guys have any insights on it?

[2017-11-30 07:03] misaochan commented on #986
To recap my conversation with Vivek, it seems that there are two separate issues here:

1. Dagger causing crashes in release build. We are trying to find a solution for this (because ideally we would like to keep using Dagger instead of wasting time reverting many scattered commits), but if we are unable to find one within the week, we may have to revert in order to get the release out to users.

[2017-11-30 08:12] singh-anmol commented on #959
-GCI 2017-

Hello,
I am encountering build errors while running tests in Android Studio.
Simply running the app in emulator works. Only the command provide in GCI dashboard produces the error.
While test are running i can see some automated stuff happening in emulator like opening/closing of app (nearby) etc. (i also accepted some permission request)
sorry for the trouble, i'm new to android devel

[2017-11-30 08:26] nicolas-raoul commented on #959
@feelfreelinux I let you check and approve the task. Please note that the unit tests are currently broken, so the result obtained by Singh is probably expected.

[2017-11-30 08:32] singh-anmol commented on #959
@nicolas-raoul Sir, should i submit the task for review with the above results then?

[2017-11-30 08:54] misaochan commented on #591
Hi @oe-bayram , sorry, we have been quite busy with solving the issues blocking our current release. Testing and merging PRs should hopefully resume next week after we clear the blockers, and hopefully we can try to look into the problems you are experiencing then as well, if still needed.

[2017-11-30 09:47] nicolas-raoul commented on #959
Let's wait for @feelfreelinux 's evaluation.

[2017-11-30 12:01] feelfreelinux commented on #959
@nicolas-raoul @singh-anmol I just ran unit tests on my machine, can confirm this issue. You can submit task on GCI dashboard, and I will accept it :) Need to add note in task description that tests are currently broken

[2017-11-30 12:35] psh commented on #959
There's a PR (#990) that addresses the broken test.

[2017-11-30 12:57] nicolas-raoul commented on #959
@feelfreelinux I would highly suggest that you modify the task description to something like "1. Build, 2. Run the unit tests, 3. Tell us whether the unit tests are passing or failing"

Advantages of adding the 3rd step:
- You don't have to modify the description every time the tests fail or get fixed.
- More importantly, it teaches the students that unit tests are a way to get informed, not a thi

[2017-12-01 08:26] misaochan commented on #959
Tests should hopefully be passing now, sorry about that guys!

I agree with Nicolas's suggestion for the 3rd step... the status of our tests can change fairly often.

[2017-12-02 16:24] #969 closed

[2017-12-02 16:25] #982 closed

[2017-12-03 20:54] maskaravivek commented on #986
After investigating a bit, i found that there seems to be some issue with fresco initialisations that is causing the crashes.
[code]

- Fixing the fresco init issue on master wasn't helping as master still has a public constructor in `CommonsApplication` that provides an instance of application.
- I observed that this approach was now giving trouble with a mix of dagger and non dagger usage of `Co

[2017-12-03 20:56] #890 closed

[2017-12-04 03:31] nicolas-raoul opened #994 "Salt usernames when logging"

[2017-12-04 03:33] nicolas-raoul opened #995 "Opt-in for event logging"
Event logging meaning https://meta.wikimedia.org/w/index.php?title=Special%3APrefixIndex&prefix=MobileApp&namespace=470
Actually do we really need this logging at all?

[2017-12-04 05:49] psh commented on #978
I moved the test and switched it over to a *Robolectric* based unit test.  I believe this issue can be closed now.

[2017-12-04 08:18] #986 closed

[2017-12-04 09:11] misaochan opened #997 "New crash in version 78"
I noticed a spike in our crashes since version 78 was pushed to production. Most of those crashes were associated with this particular log, 11 reports to be precise. Unfortunately I can't seem to figure out what is going wrong since our app isn't even mentioned in the stack trace.

All of the crashes were in Android 7.0 and caused by a Galaxy J7(2016) - so probably by a single person.

[code]

[2017-12-04 09:14] misaochan commented on #995
I was wondering about that - it's likely there because the original devs intended for some sort of analytics to be run (AFAIK WMF runs analytics on most of its projects?). I don't think we need it for the time being, but when we implement the Wikidata edits with Nearby we would need to log those (but that might not be related).

[2017-12-04 09:30] Bluesir9 commented on #997
Never encountered this in production but one of our testers at work ran into this issue when installing a debug build after sharing it via ShareIt on a Samsung device. Installing the same build via adb would work fine however, so we left it at that. That said [this](https://stackoverflow.com/questions/44278561/unexpected-crash-in-basedexclassloader) SO question provides what I think is a reasonabl

[2017-12-04 11:11] janpio commented on #994
Event logging is per user, not per installation?

[2017-12-04 11:22] harisankerPradeep commented on #954
I'd like to work on this :)

[2017-12-04 15:42] nicolas-raoul commented on #954
@harisankerPradeep  It is yours :-)

[2017-12-04 19:27] tobias47n9e opened #998 "Nearby crashes when switching views before GPS is found"
While the GPS is searching switching between map and list view can crash the app. Easily reproducible when having no location and just hitting the list/map button a few times.

Version: 2.6.4
Android 7.0

[2017-12-05 06:20] juniaziz commented on #963
I started working on it and found where it is coming from in the code...How should I handle this? Just remove the .isEmpty condition and display the No categories matched text? Any ideas?

`if (categoriesAdapter.getItemCount() == selectedCategories.size()) {
                                // There are no suggestions
                                if (TextUtils.isEmpty(filter)) {

[2017-12-05 07:28] nicolas-raoul commented on #963
I don't think it is the right place.
To begin, please try to replace the text `Tap this message (or hit back) to skip this step.` with the text `Hello`.

[2017-12-05 12:24] misaochan commented on #998
Thanks for reporting this @tobias47n9e . Just to clarify, this did not happen in the previous versions?

[2017-12-05 12:25] misaochan commented on #997
Thanks @Bluesir9 . Seems like there isn't that much that can be done in this case.

[2017-12-05 15:08] misaochan commented on #590
Quoting @dbrant on this issue:

I think that in this case, we may want to consider doing the switch to the Wikipedia tile server instead of Mapbox, in the near future. We could possibly tag it on to the end of our grant (I could ask for a budget extension if needed), and we could hopefully use the Wikipedia app's implementation to guide us. Thoughts, anyone? @maskaravivek @neslihanturan

[2017-12-05 15:31] misaochan opened #1001 "Release 2.6.5 pending urgent fixes (should hopefully be the last beta before production)"
Unfortunately, we have discovered two pretty big issues with the current beta:

- [ ] My last fix for sending logs only to private Google group forum was overridden at some point (re-sent PR, see #1000 )
- [ ] The crash that Tobias mentioned at #998

Seems like pushing to production will not be wise with both of the above. Pending these fixes, we will release 2.6.5 which should hopefully FINALLY b

[2017-12-06 12:12] nicolas-raoul opened #1004 "Black background on details and categories screen"
A student with an Android 4.2.2 Samsung Galaxy GT-S7583T always gets a black background at the details and categories screens:
![](https://github.com/commons-app/apps-android-commons/blob/master/design/screenshots/Hebrew%20iw-IL/car-description.png?raw=true)
More screenshots with 3 different pictures: https://github.com/commons-app/apps-android-commons/tree/master/design/screenshots/Hebrew%20iw-IL

[2017-12-06 12:19] superplane39 commented on #1004
I'm the student who encountered the problem; I'd be interested in helping out, if possible, and help test issues :)

[2017-12-06 17:27] misaochan opened #1005 "Revamp UI of About page and add our FB page link to it"
Now that we have a somewhat active [Facebook page](https://www.facebook.com/WikimediaCommonsApp/) , it might be a good idea to add it to the app in a non-intrusive way so that users can follow for updates if they want to (also good for fostering a community around the app). The absolute most non-intrusive way would be to add it to the About activity, though that would be a bit obscure. If we can f

[2017-12-06 19:19] tobias47n9e commented on #998
@misaochan Don't really know when this was introduced. Does anyone get a crash report window? In my case the app just closes and nothing else happens.

[2017-12-07 02:45] nicolas-raoul commented on #1005
My vote goes to the About page :-) I think that's the right place for it, and people who would be interested in the content of the Facebook page are the same people who are likely to check the About dialog.

[2017-12-07 03:25] psh commented on #998
I managed to generate *two* different crashes while testing current _master_ on my Pixel XL running the beta of Android 8.1.0.

### AFTER SCREEN WAS ALLOWED TO LOAD COMPLETELY, THEN SWITCHING MANY TIMES (QUICKLY)
[code]

### COUPLE OF QUICK MAP/LIST TAPS AS ITS LOADING
[code]

[2017-12-07 07:23] misaochan commented on #1005
About page sounds good to me. It may be a good idea to organize it a little bit perhaps, have little icons for "GitHub", "Facebook", "Google groups forum" etc instead of just a lot of text links?

[2017-12-07 13:41] maskaravivek opened #1006 "Crash after Nearby screen was allowed to load completely, then switching many times between map and list"
[code]

[2017-12-07 13:42] maskaravivek opened #1007 "Couple of quick map/list taps as its loading"
[code]

[2017-12-07 13:43] maskaravivek commented on #998
Created #1006 and #1007 for the issues reported by @psh

[2017-12-07 15:21] misaochan commented on #998
I think the 2nd crash report is similar to this issue (couple of quick map/list taps as loading)?

[2017-12-08 00:40] pawan92 commented on #963
Hey I would like to fix this but wanted to verify it was just deleting that line of code? Please let me know.

[2017-12-08 07:50] nicolas-raoul commented on #963
@pawan92 What line of code are you talking about?
But yes, it is probably as easy as removing a line of code.
Please include a screenshot in your pull request, thanks :-)

[2017-12-09 15:54] pawan92 commented on #963
I have been trying to find the correct file where it outputs that message ("Tap this message (or hit back) to skip this step.") but have been unsuccessful. any suggestions? or am i going about this the wrong way?

[2017-12-09 17:53] harisankerPradeep commented on #954
@nicolas-raoul  all photos taken with the camera are stored in /DCIM/Camera, so knowing the file's creation date and the folder doesn't help. In that case won't it be necessary to go through the EXIF data of all the photos and find the nearest ones? Is there a better way to do this or am I getting this wrong somewhere?

Thanks in advance!

[2017-12-09 21:26] nsaiisasidhar commented on #790
Hi, can I work on this enhancement.

[2017-12-10 13:16] gokberksahin commented on #963
I made a PR for this, why it hasn't been merged?

[2017-12-10 15:35] misaochan commented on #963
So sorry for the mixup guys. :/ This should have at least have been tagged as "assigned" after that PR was submitted, even if we didn't have time to test and merge it yet. @neslihanturan could you please test #964 and see if it solves the issue? If it does we can close this. Apologies again.

[2017-12-10 18:58] Abbe98 opened #1013 "Use EXIF date rather than upload date"
The file below automatically got the date 2017-12-10 during upload but in the meta data field the date is set to 29 October 2017.

https://commons.wikimedia.org/wiki/File:Fågelskyddsområde_skylt_1.jpg

**Expected result** the date parameter would be set to 2017-10-29 not the date of the upload.

[2017-12-11 01:59] nicolas-raoul commented on #1013
Thanks for the feedback!
Make sense indeed!

[2017-12-11 02:05] nicolas-raoul commented on #954
@harisankerPradeep The folder might be different, for instance my pictures are stored in /DCIM/OpenCamera.
Many gallery apps found in Google Play have a "Recent pictures" tab that shows the latest pictures you have taken, and that works even when I switch between camera apps that use different folders. So, you should probably use the same algorithm as these apps, in order to get all recently taken

[2017-12-11 02:08] nicolas-raoul commented on #790
@nsaiisasidhar actually you don't need to translate anything, what needs to be done is just to create the English-language file, and modify the TranslateWiki configuration.

[2017-12-11 06:23] nsaiisasidhar commented on #790
Sure. I'll do it soon. Thank you

[2017-12-11 19:43] maskaravivek commented on #978
thanks @psh

[2017-12-11 19:43] #978 closed

[2017-12-11 20:50] neslihanturan opened #1014 "Kotlin Debug Error"
Sometimes I get this error "`Error:Execution failed for task ':app:kaptBetaDebugKotlin'. >` " randomly and can't get rid of it. I tried to revert my commits and nothing solved, so it seems that this is not related with code itself. Sometimes cleaning the project worked, once I changed my working directiry to solve it. @psh , maybe you have some experience about this problem, do you?

[2017-12-11 21:01] psh commented on #1014
When you see that error and want to know more about the cause, take a look in the `Gradle Console` tab (or re-run on the command line) -- there's something failing in the annotation processing, and Android Studio is swallowing / hiding that error.  Sadly the error reporting from annotation processing is really poor right now.  😢

[2017-12-11 21:36] neslihanturan commented on #1014
So it must be related with the current state of the code, why it still complaints even if I revert my changes?

[2017-12-12 02:04] psh commented on #1014
The annotation processor (*kapt*) writes Java source code underneath the `build` folder of the project, so reverting your own changes under `src` wont always clear things up.  Running a `gradle clean` will remove the annotation processor output.  That said, the failure of *kapt* suggests that there's a problem somewhere so it's worth finding out what it was - which is why I suggested looking on th

[2017-12-12 08:03] neslihanturan commented on #1014
Thanks for great explanation @psh , I will look at to root cause.

[2017-12-12 14:55] psh opened #1015 "Team Chat / Discussion Tool"
I've noticed that we use Github issues to chat / discuss things.  I live my life on both Slack and Discord - would it help to make use of one of those kinds of tools?

[2017-12-12 15:22] nicolas-raoul commented on #1015
A problem with these tools is that (as far as I know) they make it difficult for newcomers and lurkers to read where an issue comes from, what people thought about it, and what has been tried before.

[2017-12-13 02:25] #963 closed

[2017-12-13 07:41] harisankerPradeep commented on #954
@nicolas-raoul sure man, I'll look into it.

[2017-12-14 13:27] nicolas-raoul commented on #790
The files are now at https://github.com/commons-app/apps-android-commons/tree/master/marketing
What is left is to figure out how to have Translatewiki translates them as well.

(In a later phase we could break down the long description so that the whole translations are not lost whenever we change anything in the English original)

[2017-12-14 14:03] nicolas-raoul commented on #790
The translatewiki configuration file is actually this file:
https://phabricator.wikimedia.org/diffusion/GTWN/browse/master/groups/Wikimedia/CommonsAndroid.yaml

[2017-12-14 14:04] Clockery commented on #790
Is this the file?
https://github.com/wikimedia/translatewiki/blob/master/groups/Wikimedia/CommonsAndroid.yaml

[2017-12-14 14:04] Clockery commented on #790
Oh, wait, I didn't see your earlier comment :) Aren't both of them the same file?

[2017-12-14 14:05] nicolas-raoul commented on #790
Yes!
Github is only a mirror of Phabricator, so pull requests are better sent to Phabricator.

[2017-12-14 14:15] nicolas-raoul commented on #790
Yes, you can get an understanding of the syntax by checking the many examples at https://phabricator.wikimedia.org/diffusion/GTWN/browse/master/groups/

[2017-12-14 14:33] Clockery commented on #790
I'm not really sure how to send a pull request on Phabricator... I'm using Differential to create a diff right now. Does the "Repository" field refer to the file itself, or the folder which contains the file?

https://phabricator.wikimedia.org/differential/diff/create/

[2017-12-14 15:03] nicolas-raoul commented on #790
That Git repo is outside of our control and they usually are busy, so just
post your modified file when you are sure about it 🙂

On Dec 14, 2017 23:33, "C. F." <notifications@github.com> wrote:

[2017-12-14 15:05] Clockery commented on #790
I've made the changes (which I hope are okay), where do I post it to?

[2017-12-14 15:06] nicolas-raoul commented on #790
Here 🙂

On Dec 15, 2017 00:05, "C. F." <notifications@github.com> wrote:

[2017-12-14 15:09] Clockery commented on #790
[diff.txt](https://github.com/commons-app/apps-android-commons/files/1559690/diff.txt)

Here's the file, please let me know if anything should be changed. I hope it's all right :)

[2017-12-14 15:16] nicolas-raoul commented on #790
That would overwrite the English version.
Please suffix with %CODE%

On Dec 15, 2017 00:09, "C. F." <notifications@github.com> wrote:

[2017-12-14 15:19] Clockery commented on #790
Sure, but where should the suffix be added? Do I add it as a separate field under MANGLER?

[2017-12-14 15:21] Clockery commented on #790
No, wait, I think I get it. As part of the links, right?

[2017-12-14 15:22] Clockery commented on #790
[diff.txt](https://github.com/commons-app/apps-android-commons/files/1559738/diff.txt)

Fixed it now (I hope).

[2017-12-14 15:41] Clockery commented on #790
Here's the fixed (renamed) file

[diff-revised.txt](https://github.com/commons-app/apps-android-commons/files/1559813/diff-revised.txt)

[2017-12-14 16:07] nicolas-raoul commented on #790
Last thing, the id and label need to be different for each file.

On Fri, Dec 15, 2017 at 12:41 AM, C. F. <notifications@github.com> wrote:

[2017-12-14 16:09] Clockery commented on #790
[diff-revised-2.txt](https://github.com/commons-app/apps-android-commons/files/1559926/diff-revised-2.txt)

Is this all right?

[2017-12-14 16:26] #998 closed

[2017-12-14 16:26] #1007 closed

[2017-12-15 01:08] nicolas-raoul commented on #790
Yes looks good, thanks! :-)

[2017-12-15 01:37] Clockery commented on #790
Thank you so much! :D

[2017-12-15 08:51] nicolas-raoul commented on #790
https://translatewiki.net/wiki/Thread:Support/Adding_3_text_files_to_Commons_Android

[2017-12-15 11:23] #1006 closed

[2017-12-17 05:25] misaochan commented on #1015
As Nicolas said, we generally try and keep most of the project-related and technical discussions on GitHub itself. However, we do have a Google Hangouts group that we use for general chatting and stuff like "new beta out, please help test!". :) If anyone is interested in joining, feel free to email me and I'll add you!

[2017-12-17 08:16] maskaravivek commented on #328
Our app already has most of the code in place needed for enabling 2FA. I am just not able to test it out as i am not a power user and as the [article](https://meta.wikimedia.org/wiki/Help:Two-factor_authentication) mentions only power users can enable it for their accounts.

[2017-12-17 08:22] strainu commented on #328
@maskaravivek , you can ask the stewards to add you to the "oath testing group". I believe such requests are done at https://meta.wikimedia.org/wiki/Steward_requests/Global_permissions#Requests_for_other_global_permissions

[2017-12-17 11:10] maskaravivek commented on #328
Thanks @strainu for the link. Got the permission by creating a phab ticket. https://phabricator.wikimedia.org/T183079

[2017-12-19 10:19] nicolas-raoul commented on #618
I think we should show the pin in a different color, as it makes me walk a lot for nothing haha.
Another property to check:
https://www.wikidata.org/wiki/Property:P576 dissolved, abolished or demolished

[2017-12-20 08:37] nicolas-raoul commented on #790
https://gerrit.wikimedia.org/r/#/c/399355/

[2017-12-20 15:49] deydebaditya commented on #997
I had encountered a similar problem while working on a different project. This happened while working with Build Tools 26 and SDK 7.1.1 itself. The problem was solved by including

`defaultConfig{
......
multiDexEnabled true
}
dependencies {
  compile 'com.android.support:multidex:1.0.0'
}`

this in my gradle.build

I can try this out to see if it solves the problem.

[2017-12-20 15:52] deydebaditya commented on #994
I can implement hashing with salt using BCrypt (Blowfish algorithm), as I've done this previously too. As I am new, please do refer me to the activity file and the java class which refers to the above functionality, I'd implement the patch right away.

[2017-12-20 16:01] deydebaditya commented on #124
I'd like to take a look into the issue and solve it if it still exists.

[2017-12-20 16:16] nicolas-raoul commented on #994
Sorry for keeping this open, we removed this kind of logging altogether: https://github.com/commons-app/apps-android-commons/commit/da82466a170a0a6df67423b39292e8fcfab85fe2

[2017-12-20 16:16] #994 closed

[2017-12-20 16:41] deydebaditya commented on #1013
I would like to try out developing the patch for this.

[2017-12-21 03:50] nicolas-raoul commented on #124
OK @deydebaditya good luck, let us know about the situation every few days :-)

[2017-12-21 13:13] deydebaditya commented on #124
@nicolas-raoul Sure thing! :)

[2017-12-21 14:44] #801 closed

[2017-12-21 14:49] #836 closed

[2017-12-24 18:03] maskaravivek commented on #719
This is fixed now. Closing the issue.

[2017-12-24 18:03] #719 closed

[2017-12-27 14:55] urbanecm commented on #85
Hello all,

I've created a simple API that allows you to fetch numbers needed for such statistics more fastly than by asking MediaWiki API directly.

It's at https://tools.wmflabs.org/urbanecmbot/commonsmisc/feedback.py?user=Martin_Urbanec. This script return JSON.

By default, the script returns all data that it can get from database. This may take long time so the script accept another parameter

[2017-12-28 05:14] nicolas-raoul commented on #85
@urbanecm : Very cool!
Would you mind adding this documentation to https://github.com/urbanecm/commonsmisc/blob/master/README.md ?
Do you plan to maintain this tool for a few years?

[2017-12-28 07:27] nicolas-raoul opened #1029 "Filter out irrelevant categories"
![screenshot_20171125-235725](https://user-images.githubusercontent.com/99590/34403428-8b33a1d4-ebeb-11e7-8157-a1f05b814586.png)
This was an experiment that has been abandoned, but the 300 categories remain: https://commons.wikimedia.org/wiki/Commons:Image_classification_system

Tip for newcomers: https://github.com/achalshant/apps-android-commons/commit/3681176f54d1fbd00408216a4ed5641b583d3054

[2017-12-28 07:56] nicolas-raoul opened #1030 "Spinning wheel overlaps on text input, when using Hebrew locale"
Even though the phone's locale is in Hebrew, categories all use Latin characters I believe.

As seen below, the blue spinning wheel overlaps the entered text "mochi":

![screenshot_ -](https://user-images.githubusercontent.com/99590/34404210-e012a50c-ebef-11e7-80ef-64cf714c046d.png)

[2017-12-28 08:12] nicolas-raoul commented on #1029
We can skip all "in the XXXXs" categories except 2000s and 2010s, as people should not use the app to upload very old pictures.
![screenshot_20171205-154359](https://user-images.githubusercontent.com/99590/34404630-1fded974-ebf2-11e7-9651-0b360c1ed507.png)

[2017-12-28 09:33] nicolas-raoul commented on #823
Our query [works](https://query.wikidata.org/#SELECT%0A%20%20%20%20%20%28SAMPLE%28%3Flocation%29%20as%20%3Flocation%29%0A%20%20%20%20%20%3Fitem%0A%20%20%20%20%20%28SAMPLE%28COALESCE%28%3Fitem_label_preferred_language%2C%20%3Fitem_label_any_language%29%29%20as%20%3Flabel%29%0A%20%20%20%20%20%28SAMPLE%28%3FclassId%29%20as%20%3Fclass%29%0A%20%20%20%20%20%28SAMPLE%28COALESCE%28%3Fclass_label_preferred

[2017-12-28 10:55] urbanecm commented on #85
Docs) Not at all, just forgotted... Will ad ASAP.

Plans) Yeah, that's my plan.

[2017-12-28 12:19] brainwane commented on #310
I'm still experiencing this; see https://commons.wikimedia.org/w/index.php?title=File:Hari-kondabolu-onstage_2.jpg&oldid=274778522 .

[2017-12-28 12:20] brainwane commented on #70
I would very much appreciate this feature.

[2017-12-28 12:22] misaochan commented on #310
@AtaZh and @brainwane , thanks for letting us know!

[2017-12-28 12:34] misaochan commented on #70
Sorry guys, I never quite got around to this. :( Any volunteer who wants to take it on would be very welcome.

[2017-12-30 09:38] misaochan commented on #891
Should be done, closing this unless I hear otherwise from WMF.

[2017-12-30 09:38] #891 closed

[2017-12-30 16:14] misaochan commented on #823
Errr... I think I might have solved this while working on Nearby uploads. It appears that we are calling `place.getDescription().getText();` to get the description, but getDescription() actually returns an enum, and I don't think getText() is converting that appropriately. Instead, AFAIK, what we really want is the longDescription .

The PR I submitted solves the problem for me. I had initially in

[2017-12-30 21:33] janani-sridhar commented on #1029
Hi, I'll start working on this issue!

[2017-12-31 08:42] misaochan opened #1036 "[Urgent] Crashes in v2.6.5"
We are getting a lot of crashes in v2.6.5 production, with a crash rate of 4.27%, more than in previous versions. This has unfortunately led to a lot of uninstalls. :( The majority of the crashes seem to be related to Dagger. I have pasted them below:

* 11 reports, 8 users using Android 8.0 and 8.1:

Pixel 2 XL (taimen) | 3 | 27.3%
Nexus 6P (angler) | 3 | 27.3%
Pixel (sailfish) | 2 | 18.2%
Pixel

[2017-12-31 08:43] misaochan commented on #1036
Hm, seems like 3 of the crash clusters stem from the same line of code:   `fr.free.nrw.commons.HandlerService.onCreate (HandlerService.java:55)`

[2018-01-01 10:20] misaochan commented on #1036
Crash rate has gone up to 5.43% with the Dagger-related crash. :/ @maskaravivek @psh , any thoughts on how we can fix this? Not sure why we are experiencing so many issues with Dagger.

[2018-01-01 16:03] psh commented on #1036
It looks like all of these stack traces boil down to the same root cause.

[code]

Is, in fact, happening & that exception is a *symptom*.  The real, troublesome line in question - `AndroidInjection.inject()` line 134 - says  that the application associated with the `UploadService` doesn't implement **HasServiceInjector** and yet our commons application class extends `DaggerApplication` which clea

[2018-01-01 17:52] neslihanturan commented on #924
Travis on master fails again :/

[2018-01-01 18:23] sivaraam opened #1037 "Explicitly show that the license text is a link"
I saw the [blog post about the recent release](https://cookiesandcodeblog.wordpress.com/2017/12/24/commons-app-update-version-2-6/) and came to know that the licenses were linked. I thought of seeing it in the app and was surprised to see that the text denoting the license was plain. Surprisingly tapping on the text did open the browser make it behave like links while not visually depicting a link

[2018-01-01 18:27] sivaraam opened #1038 "Is it woth showing "Error while caching pictures"?"
I saw toasts containing the "Error while caching pictures" message several times while I was scrolling through the list of Recent Uploads when the device was offline. That made me wonder why the toast is shown at all. I don't see any *useful information* it is conveying to the end-user except that is distracts him for no reason. What's the rationale behind showing that message? Is it worth showing

[2018-01-01 18:58] sivaraam opened #1039 "Revamp the Settings page"
- [ ] Categorize the items so that user is able to get what he wants quickly. Possible categories for the currently available content are *Appearance, General, Feedback*
 - [ ] Clarify why disabling "Use Wikidata" would cause huge data consumption. This could be done possibly by using a 'Learn more' link to a page that explains the reason.
 - [ ] The heading 'License' isn't clear enough. 'Default

[2018-01-01 19:04] sivaraam commented on #1037
Regardless, I think the Upload screen needs a revamp. It's quite odd to show the image being uploaded in the background. It seems to be cluttering up with the text in the screen (the text *Wikimedia Commons policies* is barely visible). It would be better to show a small preview of the image and let the users see it fully if they want to.

[2018-01-01 20:24] tanvidadu opened #1040 "Hide Keypad on clicking outside the EditText"
The user experience will be improved if keypad is closed/hidden each time the user clicks outside the EditText , in the Common Activity.

[2018-01-01 20:45] tanvidadu opened #1041 "Keypad overlaps on Wikimedia Commons policies Link"
The keypad in the Commons Activity overlaps with the Wikimedia Commons Links .
![commons app](https://user-images.githubusercontent.com/29161745/34470950-8b223a1e-ef62-11e7-8e0d-fe1c59ab09d7.jpeg)

[2018-01-02 08:48] misaochan commented on #1036
Thanks for the thoughts @psh !

Yeah, very plausible. Initiating the upload via "Share" is possible for all Android versions I think, and is currently the only way to access `MultipleShareActivity`. We really need to overhaul that in the future, since `MultipleShareActivity` always gets left behind in any of our changes (and personally I always forget to test using it).

I'm admittedly not very fa

[2018-01-02 09:03] whym commented on #924
Does it (still) fail? Latest build seems to have passed (January 2). https://travis-ci.org/commons-app/apps-android-commons/builds

I think [this](https://travis-ci.org/commons-app/apps-android-commons/builds/323803637) was a problem with the particular patch (which seems to have been fixed already).

[2018-01-02 09:32] neslihanturan commented on #924
Yes, I am re-closing this issue

[2018-01-02 09:32] #924 closed

[2018-01-02 12:16] misaochan opened #1042 "No categories found in Commons beta servers?"
When running the beta product flavor, I cannot seem to find any categories regardless of what my search term is. Is this an inherent limitation of the Commons beta servers (they don't have categories), or is it due to an issue with our implementation?

[2018-01-02 12:17] misaochan commented on #1039
Agreed completely with the revamp, especially with using material design guidelines and categorization of items.

[2018-01-02 12:18] misaochan commented on #1037
Explicitly displaying the license link sounds good to me. Please do create a separate issue to discuss the Upload screen revamp. :)

[2018-01-02 12:19] misaochan commented on #1040
Agreed, thanks for the suggestion. :)

[2018-01-02 16:32] tanvidadu commented on #1040
I will like to work on the issue

[2018-01-02 16:32] tanvidadu commented on #1041
I will like to work on the issue.

[2018-01-02 20:46] maskaravivek opened #1043 "Introduce Room DB abstraction layer to our app"
For starters, heres an article explaining room
https://medium.com/google-developers/7-steps-to-room-27a5fe5f99b2

I recently used Room in one of the projects and found the following advantages.

- making testing upgrade/functionality of db easier
- cleaner code, removing boilerplate code
- prepare for using livedata/flowables with RxJava
- verifies queries at runtime

It would be great to have tho

[2018-01-03 03:32] psh commented on #1043
The **TL;DR** - yes, I like Room but I think there are some fundamental things to address on the path toward using it.

Most of the advantages you cite can be derived from any modern ORM - I (and my team) evaluated

* [sqlbrite](https://github.com/square/sqlbrite) / [sqldelight](https://github.com/square/sqldelight)
* [GreenDAO](http://greenrobot.org/greendao/)
* [OrmLite](http://ormlite.com/)
* [

[2018-01-03 07:17] neslihanturan commented on #1041
@tanvidadu , thanks:)

[2018-01-03 08:48] sivaraam opened #1044 "Revamp the Upload screen"
As stated in [#1037](https://github.com/commons-app/apps-android-commons/issues/1037#issuecomment-354669983):

![screenshot_2018-01-01-20-20-16](https://user-images.githubusercontent.com/12448084/34469902-23580540-ef4d-11e7-9c48-637a007e30cc.png)

[2018-01-03 16:33] misaochan opened #1045 "Review how "description" is handled in Nearby"
As mentioned at #1034 , we currently display Wikidata's "instance of" value of a place in Nearby as its "description" in our app. We also use a compacted form of that value to ascertain what type of place it is and what icon to display for it in the Nearby list

Points of discussion:
- What is the appropriate name for the "instance of" value?
- Should we fetch Wikidata's "description" value as wel

[2018-01-04 14:09] neslihanturan commented on #1045
Great discussion, because it was always confusing strings for description, icon selector etc. My answer to first question: What about using exact same variable names with Wikidata in future?
- Place.name - Wikidata's 'label'
- Place.instanceOf - compact form for Wikidata's 'instance of' value
- Place.longInstanceOf - Wikidata's 'instance of' value verbatim
- Place.description - Wikidata's 'descrip

[2018-01-05 15:00] whym commented on #1042
Beta Commons has categories. There is [Category:Nature](https://commons.wikimedia.beta.wmflabs.org/wiki/Category:Nature) for example. Most of existing ones are for maintenance categories or categories for user pages, though. https://commons.wikimedia.beta.wmflabs.org/wiki/Special:AllPages?from=&to=&namespace=14

Did you try creating categories you want to test?

[2018-01-05 21:11] maskaravivek commented on #1001
@misaochan Can this be now closed?

[2018-01-06 04:31] janani-sridhar commented on #1029
Hi there,

I have forked achalshant's branch and added my code here: https://github.com/janani-sridhar/apps-android-commons/blob/master/app/src/main/java/fr/free/nrw/commons/category/PrefixUpdater.java

I'm not sure how to create a pull request for this fix, considering that I was working off of achalshant's branch. Hope to hear some feedback and advice soon!

[2018-01-06 10:16] nicolas-raoul commented on #1029
Please merge master into your branch, then rebase. Thanks! 🙂

On Jan 6, 2018 12:31, "janani-sridhar" <notifications@github.com> wrote:

[2018-01-06 10:38] misaochan commented on #1001
Yes, thanks for pointing out!

[2018-01-06 10:38] #1001 closed

[2018-01-07 01:22] maskaravivek commented on #328
What what i understand,

The `HttpClient` implements some sort of **cookie** store which is in turn by `AccountManager` when a request to retrieve auth cookie is made [`blockingGetAuthToken`]. I observed that after enabling 2FA, this call is not return any cookie.

Read a few posts regarding handling of cookies for 2FA enabled authentication and finally decided to create and store a cookie in such

[2018-01-07 17:49] psh commented on #1036
Doing some poking around, I ran across https://stackoverflow.com/questions/46784685/runtimeexception-with-dagger-2-on-android-7-0-and-samsung-devices

[2018-01-07 19:08] maskaravivek commented on #1036
@psh This could very well be our source of crashes. I will refactor the usage of these dagger classes.

[2018-01-08 06:54] misaochan commented on #1036
Thanks for the input guys! I've updated the opening post with the recent number of crashes as well as the devices that recorded the crash (since it appears to be a contributing factor). Annoyingly, despite having a Samsung Galaxy S7 running 7.0... I still can't reproduce my crash cluster, lol.

[2018-01-08 09:07] misaochan commented on #328
@maskaravivek I just requested global OATH permissions for the production servers - https://meta.wikimedia.org/wiki/Steward_requests/Global_permissions#Requests_for_other_global_permissions . Hopefully we will be able to test your PR soon. :)

Re: creating a cookie, your approach looks reasonable to me, however it would be best to wait for @dbrant 's input due to potential privacy concerns.

[2018-01-08 09:09] VojtechDostal commented on #328
It's already done, @misaochan :) took them only 4 minutes.

[2018-01-08 10:33] misaochan commented on #328
@VojtechDostal Wow, cool! :) That was fast, haha. Will set my 2FA up and test ASAP.

[2018-01-08 14:13] dbrant commented on #328
@maskaravivek The Wikipedia app basically stores all cookies in `SharedPreferences`, since some of our cookies need to be persisted regardless of having an account.  If you want to persist the authentication cookie in `AccountManager`, that's fine too.

Implementing 2FA simply means that instead of returning a successful reply, the API will return a special status message that should cause your ap

[2018-01-09 20:29] mithlesh4257 commented on #1037
I like to work on this issue.

[2018-01-10 02:43] nicolas-raoul commented on #1037
@mithlesh4257 It is yours, waiting for your pull request :-)

[2018-01-10 03:54] nicolas-raoul commented on #1044
Uploading a screenshot is very unusual, 99% of the uploads are camera pictures.
So I am personally in favor of keeping this feature.

That being said, I think the upload screen needs a way to view the picture more clearly and zooming/scrolling into the picture. In order to write a correct title/description I often need to see all small details of the picture.

[2018-01-10 03:56] nicolas-raoul commented on #1041
@tanvidadu Any progress? :-) How do you plan to fix it?

[2018-01-10 04:28] nicolas-raoul commented on #1036
How about releasing a beta including the latest changes?
(Unfortunately I can't reproduce the crash though)

[2018-01-10 04:58] sivaraam commented on #1044
So I am personally in favor of keeping this feature.

That was just an example. It's bound to happen for many other pictures that aren't screenshots too. Particularly when you have kept the brightness of your screen to the lowest possible setting. To give another example, I guess this would also happen for pictures of natural scenery such as mountains that are highly detailed.

Yeah, I do support

[2018-01-10 08:52] misaochan commented on #1036
@nicolas-raoul I think @maskaravivek is currently working on a Dagger refactor based on the advice received here. Since it will likely only take a few more days, I figured we could wait for that and then do a beta release with that.

[2018-01-10 16:31] mithlesh4257 commented on #1041
Can I start working on this issue #1041?

[2018-01-10 16:35] mithlesh4257 commented on #1041
There is only one way fix this.
Sir @nicolas-raoul I have to keep the button ("USE PREVIOUS TITLE/DESCRIPTION") below of the TextView containing Wikimedia Commons policies.

[2018-01-10 16:42] nicolas-raoul commented on #1041
Actually after re-reading this I am not sure what @tanvidadu is trying to achieve.
To me, it seems unavoidable that part of the screen is hidden when the keyboard is visible.
@tanvidadu could you please explain a bit more? Thanks!

[2018-01-10 16:56] mithlesh4257 commented on #1041
Sir @nicolas-raoul , I have an idea , If I adjust  the views I can be able to make the user to see the links.
One of the possible way is to
1. Bring the spinner to the top
2. Bring the TextView containing Attribution text to just below of spinner
3. Bring the Button to bottom.

This might be helpful. Is it ?

[2018-01-10 16:58] tanvidadu commented on #1041
Sorry for not being a little specific earlier. We can adjustResize the Xml components each time the keypad is opened so the Wikimedia Commons policies Links is visible.
Please refer these resources
https://android-developers.googleblog.com/2009/04/updating-applications-for-on-screen.html
https://stackoverflow.com/questions/3295672/android-soft-keyboard-covers-edittext-field

[2018-01-10 22:13] easkerov opened #1052 "Unable to login with valid Wikimedia account"
I've cloned the sources (commit 64ad93725842ae404e9db830158bf50d380dd7c3 in master branch) to my local machine, built and deployed the App, but unable to login with invalid password error. If I try to login to App installed from Google Play Store then authentication is successful with the same credentials. I've tried to debug, in getErrorCodeToReturn method (ApacheHttpClientMediaWikiApi class), th

[2018-01-11 00:22] nicolas-raoul commented on #1041
Not being able to see the field you are typing in would be a problem, but I don't see why the keyboard overlapping the policy link is a problem.
We can not show everything at all times, otherwise things will become painful for people with very small screens.

[2018-01-11 00:40] divadsn commented on #960
@nicolas-raoul how about using the demo mode which is available in the Developer Options since 6.0 Marshmallow? This will make the creation of screenshots much more easier and they will look more clean and consistent when swiping them.

[2018-01-11 00:58] nicolas-raoul commented on #960
@divadsn Yes that's a great idea! Thanks!

Everyone who is comfortable enough with enabling Developer Options, please use Demo Mode as explained by @divadsn

[2018-01-11 02:50] nicolas-raoul commented on #953
Hi @nsaiisasidhar any progress with this? :-)

You will need to write some Java code that does the same as my shell script, called by a button somewhere (for instance an action bar button in "Nearby Places" followed by a confirmation popup saying "You are about to download a large GPX file of nearby places. This can take a few minutes and a lot of network data. Continue/Cancel").

[2018-01-11 03:02] nicolas-raoul opened #1054 "Do not show "no description found""
Even with #1034 fixed there will always be a lot of items with no description.

When no description is found, I think we should just leave the subtitle empty, rather than writing "no description found" to it. I believe "no description found" clutters the screen with a lot of non-information in both map and list modes. The label is always here anyway, so it is not like the item would lose its visua

[2018-01-11 05:18] nsaiisasidhar commented on #953
@nicolas-raoul Hi, I'm working on it. I'll make the PR in few days. Thank you for the information.

[2018-01-11 06:44] misaochan commented on #1052
Could you check which product flavour you are building? You need to be running the prodDebug variant to be able to login with your Wikimedia account. If you run the betaDebug variant you will have to sign up for a beta account.

[2018-01-11 06:48] misaochan commented on #1054
Personally I think that's a great idea :)

[2018-01-11 09:10] misaochan opened #1055 "Recruit volunteers to help with testing"
I was talking to @neslihanturan and @maskaravivek today and the topic of testing came up - our current method is somewhat inefficient because we rely a lot on core developers' time for testing, plus we aren't able to cover a wide range of cases/devices.

It was mentioned that we could perhaps put more effort into designating tasks for people who would like to contribute to our project as testers.

[2018-01-11 09:33] nicolas-raoul opened #1056 "At each commit to master, automatically build an APK and send it to Google Play beta"
Since we are using branches, the master branch should always work. In other words, if a bug appears in the master branch then we want to know it immediately.

We have a good number of beta testers (Commons users with no development skills), but betas are rather rare because building and uploading them wastes a lot of the maintainer's time.

Solution:
Whenever something is committed to master:
- In

[2018-01-11 09:42] nicolas-raoul opened #1057 "Release test flavour (which uploads to the test server) to Google Play"
Most people who want to use the test flavour lack the technical skills to compile the APK.
For instance, most of the Google Code-in high school students (who are currently taking screenshots of the app) would not have enough time to compile an APK.

So, it could be a good idea to release to Google Play the flavour that uploads to beta commons.
We would probably need to remove the WMF's names and l

[2018-01-11 09:42] nicolas-raoul commented on #1055
Good idea!
The app only allows a limited number of actions, and each upload is pretty much independent from previous uploads, so we have probably less test scenarios than an accounting app for instance.
The Wiki sounds like a good place for this.
I upload a few pictures each day using the latest version from Google Play beta. I happen to always have pictures that I believe are interesting, but som

[2018-01-11 13:31] easkerov commented on #1052
@misaochan Thanks for response.

Could you please clarify how I can check this? Do I need use another branch or run/debug configuration? I've double checked developer documentation, but did not find anything related to this.

[2018-01-11 15:54] misaochan commented on #1052
Are you using Android Studio for development? If you are, you can check the "build variants" toolbar on the middle left side of the screen.

[2018-01-11 16:00] misaochan commented on #1056
Wow, interesting. I had no idea we could automate that! If we could get it to work, indeed it would benefit us tremendously - less work for me uploading betas and easier testing of the master branch.

The only issue I'm seeing with this is that there will be a LOT of versions being uploaded without changelogs so it may be difficult to keep track of all of them?

[2018-01-11 16:01] misaochan commented on #1057
Do you mean that it will be an entirely different app, like Wikipedia vs Wikipedia Beta?

[2018-01-11 16:11] easkerov commented on #1052
@misaochan
Thanks a lot, I've figured out and managed to build and install prodDebug and then log in successfully. I am going to contribute to project, experienced in Java, but beginner in Android Development.

[2018-01-11 16:25] misaochan commented on #1052
Wonderful! Very happy to hear that. :)

[2018-01-11 16:31] misaochan opened #1058 "Add explicit mention of beta server to login screen of beta product flavour"
We could make it more explicit in the login screen of the beta product flavour that the user is logging in to the beta servers (and that they will need a beta account).

Rationale: to prevent issues like #1052 (we have had several questions about this), and I sometimes forget myself.

[2018-01-11 16:31] #1052 closed

[2018-01-11 20:11] divadsn opened #1059 "values-sr-el: Error: Invalid resource directory name"
The recent localisation update (29e667e8fe004ddb963e927fef78d9740735b137) from @translatewiki has broken Travis-CI builds for new PRs.

Local builds are also not working when applying the commit to the master branch on my fork.

[code]

[2018-01-11 21:30] misaochan commented on #1056
Edit: Also, if we decide to do this we will probably need to ask WMF if they are will be okay with the very frequent releases. I know it notifies me in the dev console every time the Wikipedia app is updated, so they might find themselves getting spammed by our updates if they don't adjust their notifications (and I'm not sure if it's possible to turn off notifications for one particular app).

[2018-01-11 21:57] srish commented on #815
Hello folks! Checking here again to see if there is an interest in mentoring this project in the Google Summer of Code'18 or Outreachy'16? I am asking as we are currently recruiting projects for both programs.. they are coming up :) https://www.mediawiki.org/wiki/Google_Summer_of_Code/2018
https://www.mediawiki.org/wiki/Outreachy/Round_16

[2018-01-12 02:13] nicolas-raoul commented on #1057
Yes, exactly.

[2018-01-12 02:22] nicolas-raoul commented on #1059
Thanks for noticing!
I guess we should try this: https://stackoverflow.com/a/31329977
This probably involves modifying the Translatewiki configuration, something like https://phabricator.wikimedia.org/diffusion/GTWN/browse/master/groups/Wikimedia/CommonsAndroid.yaml;7a0afccf2836795f7ad2c24787a00935a2a51058$18

[2018-01-12 02:27] nicolas-raoul commented on #1056
With a beta for each commit, the changelog is available without any effort: It is just the list of Git commits.
It makes it very easy to spot what commit introduced a bug. Testers can proceed by dichotomy and tell us exactly what commit triggers the problem, that too saves a lot of developer time.

I don't see any problem with "too many" releases. https://en.wikipedia.org/wiki/Release_early,_relea

[2018-01-12 02:31] nicolas-raoul commented on #815
@maskaravivek

[2018-01-12 06:01] maskaravivek commented on #815
@misaochan Since past few days, i was talking to @nicolas-raoul about mentoring programs and have started as a co-mentor in few of the Google code in tasks. I am up for mentoring for GsoC or Outreachy as a mentor/co-mentor. Are we still planning to submit our project for this round.

[2018-01-12 06:45] maskaravivek commented on #1056
We don't use Crashlytics for beta releases but otherwise [Crashlytics](http://try.crashlytics.com/beta/) is a very good option for such frequent beta releases. I guess using Crashlytics would have privacy concerns, right?

[2018-01-12 06:54] divadsn commented on #1059
This should definitely work, was looking on how Crowdin imports translations for sr-el, will test later!

[2018-01-12 08:16] nicolas-raoul commented on #1059
Submitted for review: https://gerrit.wikimedia.org/r/#/c/403889/1

[2018-01-12 08:30] misaochan commented on #815
@maskaravivek Great! Please feel free to submit our project for this round if you are willing to be a mentor (perhaps ask @psh or @neslihanturan if they would be willing to be your co-mentor?). You can look through our issues to see which ones will be suitable for it.

Unfortunately I am personally swamped this year and cannot help, but I don't think I actually need to do anything other than post

[2018-01-12 12:13] neslihanturan commented on #815
I am also very busy this year, even if I want to be volunteer for co-mentoring, have to stop myself and focus other tasks of mine:/

[2018-01-12 13:43] psh commented on #1056
Using [Fabric Beta](https://docs.fabric.io/android/beta/overview.html) to distribute the app is different than using the _Crashlytics_ crash reporting tool.  The privacy concerns are different in this case and offer people a clear opt-in / opt-out - users can still use the real app, but if they have concerns about getting test builds then they have a clear path for avoiding them.

There would be n

[2018-01-12 14:48] nicolas-raoul commented on #590
I believe this is fixed.

[2018-01-12 14:48] #590 closed

[2018-01-12 14:50] nicolas-raoul commented on #542
I guess this is fixed?

[2018-01-12 14:50] #542 closed

[2018-01-12 14:56] nicolas-raoul commented on #526
I believe this is implemented?

[2018-01-12 14:56] #526 closed

[2018-01-12 15:00] nicolas-raoul commented on #82
Fixed, now at https://f-droid.org/wiki/page/fr.free.nrw.commons

[2018-01-12 15:40] nicolas-raoul commented on #181
So, the app should let the user set the latitude/longitude of their home, and the app would reduce the precision of the GPS coordinates if too close, for instance 143.3245537653 becomes 143.32

[2018-01-12 15:54] nicolas-raoul commented on #815
Tips to everyone willing to so a GSoC'18 or Outreachy'16:

1. [Here](https://phabricator.wikimedia.org/T115101) is a past application that could can use as a model if you want. That particular application was accepted and successful, actually the person who wrote it eventually became the project's maintainer.
2. Feel free to post your proposition at https://github.com/commons-app/apps-android-comm

[2018-01-12 16:24] neslihanturan commented on #181
Actually I woudn't want to give my home latitude/longitude to an app. So what about adding a button on share screen as "reduce precision of GPS coordinates" and even more user can choose the amount of it lets say up to 20km. And we of course should prepare an explanation text for the purpose of this.

[2018-01-12 18:20] maskaravivek commented on #1056
Yes, I was also suggesting usage of Fabric Beta for distribution of test builds. If we get a go ahead that it wont violate any of our privacy policies for users then the integration would be quite simple and can be automated.

[2018-01-12 18:25] maskaravivek commented on #82
I see the following error on fdroid for our latest release. Anyone here aware of how to fix it.
<img width="727" alt="screen shot 2018-01-12 at 11 55 19 pm" src="https://user-images.githubusercontent.com/3069373/34889422-e9e91a1a-f7f3-11e7-90c8-cafad1e22aea.png">

[2018-01-12 18:56] maskaravivek commented on #815
@misaochan @neslihanturan Yes, I understand you guys have a packed schedule. :). Just to understand clearly, what are the steps needed from our side to include our project for GSoC/Outreacy. I can sift through the suggested tasks above and then come up with filtered options that would both benefit our project and would be doable within a 2-3 month period.

@nicolas-raoul Thanks for the tip.

@psh

[2018-01-12 22:57] #886 closed

[2018-01-12 23:00] psh commented on #885
@kerenpas - How're things going with this issue?  Have you been able to make any progress?

[2018-01-13 04:27] misaochan commented on #815
@maskaravivek I think https://www.mediawiki.org/wiki/Outreachy/Mentors has a good overview of the steps needed. But I have never been a mentor personally so not sure if that alone is enough, maybe @srish can point out other documentation needed?

[2018-01-13 09:48] mithlesh4257 commented on #1054
Can I work on this issue?

[2018-01-13 10:06] mithlesh4257 commented on #1054
Can we inplace of "no description" paste one of the search result of **gigablast**?

[2018-01-13 11:50] kerenpas commented on #885
Hi,
Sorry I been busy and put it aside...  I will finish it teal Wednesday
next week, thanks for the reminder!

On Jan 13, 2018 1:00 AM, "Paul Hawke" <notifications@github.com> wrote:

[2018-01-13 15:06] misaochan commented on #815
Also, the list @nicolas-raoul provided is great, with the exception of "C: Show user talk notifications #7 " - that is planned for our IEG and I believe work has already started on it.

[2018-01-14 01:05] maskaravivek commented on #7
I was in the process of implementing this for our app. The MediaWiki notifications API gives all the notifications for a selected wiki/list of wikis.
- How should I decide what all notifications should be shown in the app and what not to show.
- Also on checking out the API response it seems the notifications actually just contain the keyword and its the responsibility of the client to sugarcoat i

[2018-01-14 04:16] misaochan commented on #1059
Thanks for reporting this @divadsn ! @nicolas-raoul Is there a way to push these changes to our project easily, or should we just wait for the next round of translatewiki commits before doing a release?

[2018-01-14 07:56] maskaravivek commented on #1054
@mithlesh4257 feel free to take up this issue. I guess removing the the "no description" text would be sufficient. Adding any other search result would again clutter the screen.

[2018-01-14 09:02] misaochan commented on #1054
I agree with @maskaravivek - search engine results could be an interesting potential enhancement to debate (with its own pros and cons), but removing the text should suffice for the time being. We can create another issue to debate the search engine query. :)

Please feel free to work on this issue @mithlesh4257 , thanks!

[2018-01-14 10:45] nicolas-raoul commented on #815
@misaochan Oh sorry I removed that point, I believe that even without it C still has enough substance. Thanks :-)

[2018-01-14 10:47] nicolas-raoul commented on #1059
Yes Translatewiki has a UI to download a particular localization file, so the file could be manually downloaded and copied to our source code.

[2018-01-14 11:28] nicolas-raoul commented on #7
The welcome notification that you took as an example probably does not contain much, indeed.
I think we should catch these two kinds of notifications, which have more information:

Someone nominated one of my uploads for deletion:

![screenshot from 2018-01-14 19-52-51](https://user-images.githubusercontent.com/99590/34915375-fd54579c-f968-11e7-9181-b5e9b344dc02.png)

Someone thanked me for an edi

[2018-01-14 13:13] mithlesh4257 opened #1063 ""Forgot password" link on login screen"
![screenshot_20180114-163647](https://user-images.githubusercontent.com/22450186/34916232-d6043670-f95a-11e7-879c-ecd4cba17145.jpg)

There should be Password Reset Option here.

[2018-01-14 13:35] nicolas-raoul commented on #1063
@mithlesh4257  Could you please provide a screenshot of a popular app that has " Reset Option" in its login screen?
Cheers!

[2018-01-14 16:31] sivaraam commented on #1057
A few questions,
* Is this different from the "beta" version of the app available in an opt-in basis for beta testers?
* Why would you need to remove the WMF's names and logo, anyways?

[2018-01-14 16:35] sivaraam opened #1064 "Switched to Wikimedia maps server instead of Mapbox ??"
The release notes of v2.6.5 does say that the app has switched to using the Wikimedia maps server instead of the Mapbox. But, I still see the Mapbox watermark in the Nearby screen. So, hasn't Mapbox been removed completely?

![screenshot_2018-01-14-19-01-14](https://user-images.githubusercontent.com/12448084/34918333-dcac6f44-f976-11e7-9cdb-03f44668c1f0.png)

[2018-01-14 16:42] misaochan commented on #7
Glancing at the list of notification types - https://www.mediawiki.org/wiki/Help:Notifications/Notifications_types , my vote would be for:

At minimum:
- Talk page messages
- Deletions - actually, is this the same as "Edit reverts"? Or does Commons just use talk page messages for this purpose? @nicolas-raoul any idea?

Nice to have:
- Thanks
- Milestone
- LoginNotify

[2018-01-14 16:43] sivaraam opened #1065 "Showing "Location has not changed" toast in Nearby screen when nearby items haven't loaded isn't useful"
I was on a *wavering network* recently and this lead to sluggish loading of items in Nearby. As I was a little impatient I tapped on the 'Refresh' icon to see if that helps in some ways. Instead of the nearby items I expected, what I got was the "Location has not changed." toast. I don't think showing that toast when there's no items in the Nearby list is the most informative thing we could show t

[2018-01-14 16:51] misaochan commented on #1064
As mentioned at #590 (initially written by dbrant):

So what you are seeing is just the SDK. No user information is sent to the Mapbox map server.

[2018-01-14 16:55] misaochan commented on #815
I agree! C is already very substantial with just the 2 tasks IMO. :)

[2018-01-14 16:59] misaochan commented on #1057
@nicolas-raoul I'm not sure, honestly... This raises the question of where we will host the 2nd app, since getting a 2nd app onto WMF's Play Store account will not be trivial. If we host it on a different developer account, then that will require additional maintenance I believe. I don't know if the benefits will justify the extra work?

@sivaraam

Yes. The test flavour does not upload anything on

[2018-01-14 18:09] maskaravivek commented on #815
I took a look at the possible tasks suggested by @nicolas-raoul @misaochan and other open issues. I won't be adding any new choices here. :D Here are a few tasks from the above lists that I feel would have sufficient scope for a 2-3 month internship and would help our app evolve. I would love to mentor students with any of these tasks.

- Feedback on how my pictures get used: Statistics #85 (stati

[2018-01-14 18:17] maskaravivek commented on #7
Cool thanks @misaochan. I will add support for the above types.

I found an interesting bug while implementing this feature. If i do a fresh login and try to check the notifications, I am able to fetch it using the media wiki api.
However, in subsequent sessions, the API throws an error "You must be logged in to use this API". Seems theres some bug in our media wiki api implementation. @psh Do you

[2018-01-14 19:23] mithlesh4257 commented on #1063
@nicolas-raoul Sorry Sir for labeling wrong It should be "Reset Password Option",

![reset](https://user-images.githubusercontent.com/22450186/34919775-8146f648-f98e-11e7-834d-22bf9f6561d3.jpeg)

[2018-01-14 22:02] psh commented on #1063
@nicolas-raoul Some other notable examples -

| **LinkedIn** | **Slack** |
|---|---|
![device-2018-01-14-153300](https://user-images.githubusercontent.com/407647/34921026-f82ca462-f941-11e7-9167-5eaa6865a4bc.png) | ![device-2018-01-14-153604](https://user-images.githubusercontent.com/407647/34921037-3c65bdb2-f942-11e7-91dd-2247019757dc.png)
| **Pandora** | **Papa Johns Pizza** |
![device-2018-01-1

[2018-01-15 01:32] nicolas-raoul commented on #1065
Not sure if related, but recently I had the following problem:
1. I was using Nearby with my real location, with items showing normally
2. I launched Fake GPS and set my location to somewhere else
3. I opened Nearby again
4. Got the toast "Location has not changed"
Even though it is obvious that my location had actually changed.

[2018-01-15 01:35] nicolas-raoul commented on #1057
I will close this for now, feel free to reopen if the need arises.
For now people willing to use a flavour should compile it.

[2018-01-15 07:29] misaochan commented on #1063
Looks good to me, thanks for the suggestion and mockup! :)

[2018-01-15 09:29] #823 closed

[2018-01-15 09:54] sivaraam commented on #1065
@nicolas-raoul Seems to me that it goes into a separate issue. Of course, only if Fake GPS had did it's job correctly :)

[2018-01-15 09:55] sivaraam commented on #1065
Maybe, the commons app didn't fall to it as prey ;)

[2018-01-15 10:03] sivaraam commented on #1064
@misaochan Nice. But I think others would be confused on seeing the Mapbox watermark just as I was confused. Is it possible to remove that watermark just in case users don't get confused just like I was? I guess it should be possible to remove the watermark (I don't see any watermark in Wikipedia app's Nearby but I guess they use the mapbox SDK too).

If the watermark shouldn't be removed, maybe t

[2018-01-15 10:06] nicolas-raoul commented on #1064
I am also in favor of removing the watermark.
If we just use their software (as opposed to their tiles) then no need for a watermark. We can include any needed attribution into the About screen.
A few things are suggested at https://stackoverflow.com/questions/30320079/how-to-remove-mapbox-logo-from-bottom-left-corner

[2018-01-15 12:01] misaochan commented on #1064
@sivaraam and @nicolas-raoul Good point, sounds like a plan. :)

[2018-01-15 12:26] neslihanturan commented on #1064
I am coming from related SOF post. But there is not a clarity about license terms among answers.

Under these circumstances, don't we violate their license terms by removing their logo?

[2018-01-15 12:30] neslihanturan commented on #1058
Good point @misaochan I also very frequently re-enter username and password accidentally.

[2018-01-15 12:36] mithlesh4257 commented on #1054
@nicolas-raoul  Sir Instead of messing with "no description" codes like XML or Java code, should I only set visibility false in Login activity xml, or what to do Sir please help Sir.

[2018-01-15 12:40] mithlesh4257 commented on #1058
Can @neslihanturan , @misaochan  please explain this issue? I'm not getting it?

[2018-01-15 13:00] neslihanturan commented on #1058
We have product flavors as beta and production. When developer team making tests, we might need to upload several test images and this behavior may violate Commons site upload rules. Thus, we use beta product flavor (switch from build variant window on Android Studio) which make us use beta server, instead of real commons site.

But we have two different accounts one for real commons site, one for

[2018-01-15 13:05] nicolas-raoul commented on #1064
I believe https://github.com/mapbox/mapbox-gl-native/blob/master/LICENSE.md is the license for the Mapbox software we are using. It only requires us to include a short text in our source code and About menu. Actually, if it required a watermark it would probably not be considered open source.

[2018-01-15 13:16] neslihanturan commented on #1065
Actually I experienced both cases and agree with @sivaraam about displaying more informative message like "Poor network connection" etc. Or course firstly we need to recognize what is the cause reason of this latency.

For other issue with FakeGPS I will create a new issue.

[2018-01-15 13:22] neslihanturan opened #1066 "Nearby doesn't recognize when location changed with Fake GPS"
As mentioned #1065 by @nicolas-raoul :

I also recognized this issue rarely, however, I suspect it is related with a latency of FakeGPG app. Does anyone else experience this isssue on real location changes too?

[2018-01-15 13:49] neslihanturan commented on #962
Hmm, I think the reason can be match of file name. I experienced a similar issue, I have uploaded files named "test" previously, and nominated them to be deleted. After they are deleted, black cells in the grid of contributions list has remained still. And whenever someone upload a picture with same file name, I can see them in my upload list in place of my deleted test files.

[2018-01-15 13:53] neslihanturan commented on #950
Since we decided to use FABs on #725 I am closing this issue.

[2018-01-15 13:53] #950 closed

[2018-01-15 14:12] #735 closed

[2018-01-15 14:12] #743 closed

[2018-01-15 14:29] neslihanturan commented on #868
Actually a related PR already merged, but our logo still looks same, I couldn't understand the reason. But if we are okay with current look of the icon, I will close this discussion. Personally, I am okay.

[2018-01-15 14:39] nicolas-raoul commented on #868
The merge was only so that it behaves differently on Android O, apparently.

I agree that the icon is sometimes not very visible. If anyone has a good design that make the Commons icon more visible, feel free to propose it.

[2018-01-15 15:15] neslihanturan commented on #868
Actually @tim-weaver made white borders for our icon at #875 but since the PR didn't merged for long time, and I think it doesn't look very beautiful with white borders, closed the PR. We can always re-open and merge it if you like white borders. But I think we are still welcome design ideas for Commons icon.

[2018-01-15 16:40] sivaraam commented on #868
I think it doesn't improve things much.

How about using one version of the adaptive icons (I like the square one with the rounded corners) for other android versions? I guess it would solve the issue.

[2018-01-15 16:44] sivaraam commented on #1065
Ah, it's just one you would expect, sluggish network. The network speed was wavery as a consequence of the environments in which I was at that time.

[2018-01-15 16:53] sivaraam commented on #1064
This makes me wonder, *Who's adding the watermark in the first place and how is it being done?* Is the app doing it specifically?

[2018-01-15 20:56] maskaravivek commented on #1065
Yes, I agree that the toast is not informative enough. The purpose of adding the toast was to avoid page refresh if the refresh button is clicked without the location getting changed. It should ideally be aware of more states, where page has not loaded fully and show meaningful feedback. Having no feedback might prompt the user to click on the toast multiple times.

[2018-01-16 06:32] misaochan commented on #1059
It seems like Travis is still failing despite the translatewiki commits having come in 20+ hours ago. The error is the same.

@nicolas-raoul @Nikerabbit Any idea why? Is it okay to just carry on with the release regardless?

[2018-01-16 06:43] nicolas-raoul opened #1067 "Reducing APK size"
By @psh:

[code]

I agree that APK size is a very important thing as many of our users inhabit places where network and WiFi connections are rare, and data rates expensive. I would even say that they are our most important users, because they inhabit places that have very few Commons images.

Having several APKs may be bothersome to upload, but that can be solved by using a Google Play upload scri

[2018-01-16 06:57] nicolas-raoul commented on #1059
I checked the logs of a few of the latest Travis builds, and I don't see anything about `sr-el`. Could you please link to the latest build log that talks about `sr-el`? Thanks!

[2018-01-16 07:42] whym commented on #1067
#710 - but i'm fine with closing the older one in favor of this because it seems to describe the issue better.

[2018-01-16 07:43] whym opened #1068 "TestCommonsApplication's compilation errors"
It looks like since #1062 TestCommonsApplication has been broken. For example, it tries to override injector() which was removed by the patch.

To quote some of the errors:

[code]

[2018-01-16 07:57] misaochan commented on #1059
Oh, sorry, I was looking at the build logs for the wrong branch! Looks like this issue has been fixed. :)

The master build is still failing though, just with a different error. I will create a new issue for it.

[2018-01-16 08:00] misaochan commented on #1059
Oh, seems @whym beat me to it - see #1068

[2018-01-16 08:00] #1059 closed

[2018-01-16 08:01] misaochan commented on #1068
@whym , do you know if this should block the current release (to fix the Dagger crash)? I am leaning towards just doing the release first while we fix this, as the issue seems to lie with the tests.

[2018-01-16 08:19] whym commented on #1068
It appears only about tests not the main code, yes. I should also mention that I'm not really familiar with Dagger yet, though.

[2018-01-16 08:46] neslihanturan commented on #906
Hi @mashawan are you still working on this issue? If not I can re-promote this issue as almost beginner friendly:)

[2018-01-16 09:04] neslihanturan commented on #887
We use .webp format instead .png for a while (since #910 ). Should I close this discussion then?

[2018-01-16 09:30] neslihanturan commented on #843
Including me, we sometimes don't completely fit in with decisions taken under this discussion. So I wrote this comment to up this topic as a reminder:)

[2018-01-16 09:47] #938 closed

[2018-01-16 09:53] neslihanturan commented on #307
@AtaZh did you eperience this issue recently? Or anyone else? Because Out Of Memory errors should be solved recently.

[2018-01-16 09:55] neslihanturan commented on #352
I don't think this happens anymore. Does it?

[2018-01-16 09:57] VojtechDostal commented on #352
Haven't experienced this for a long long time

[2018-01-16 09:58] VojtechDostal commented on #352
But then, I switched off 2FA...

[2018-01-16 10:01] neslihanturan commented on #389
I think #639 solved this issue. If not, please reopen it.

[2018-01-16 10:01] #389 closed

[2018-01-16 10:16] neslihanturan commented on #173
I guess this is no longer a problem.

[2018-01-16 10:16] #173 closed

[2018-01-16 10:31] #1014 closed

[2018-01-16 10:32] neslihanturan commented on #1036
We hope this is solved currently.

[2018-01-16 10:32] #1036 closed

[2018-01-16 10:34] #1042 closed

[2018-01-16 10:35] #988 closed

[2018-01-16 10:43] #941 closed

[2018-01-16 13:42] whym commented on #868
It might be useful to ask Wikimedia Foundation Legal team about what kind of modifications are allowed to the original logo which is a trademark of theirs. (I believe this app's logo is under a trademark agreement with them, right? Unless perhaps we choose an entirely new one.)

I found https://wikimediafoundation.org/wiki/Visual_identity_guidelines but it only talks bout the Wikipedia logo. (They

[2018-01-16 14:00] VojtechDostal commented on #1045
IMHO descriptions tend to be better than those generated by instance(of). I'd fetch descriptions if available. You have to make the decision after you check the availability of descriptions in a given language. I think concatenation will look a bit funny, so I'd leave out instance(of) if description is available.

[2018-01-16 14:14] VojtechDostal commented on #1005
I'd love this :-)

[2018-01-16 14:42] nicolas-raoul commented on #1045
My opinion is the opposite, if we had to choose one I would choose
instance(of).
It really tells what the item is. Description is most often of lowei
quality, and not homogeneous.

On Jan 16, 2018 23:00, "VojtechDostal" <notifications@github.com> wrote:

[2018-01-16 15:07] mithlesh4257 commented on #1015
I agree to @misaochan and @nicolas-raoul , It will be too difficult for newcomers to join open source community.

[2018-01-16 18:42] Triplec85 opened #1073 "== Commons-App --- multiple uploads --- 01, 02, 03, ... not 1, 2, 3, ... =="
=== English ===
Can you change it please, that the app (with ''multiple uploads'') numbered the pictures with '''0'''1.jpg, '''0'''2, jpg, '''0'''3, jpg ... to 10.jpg, 11.jpg, etc.
Please not as before with the app 1.jpg, 2, jpg, 3.jpg, ... 10.jpg, etc. (because with this numbering appeared the pictures 1 and 11-19 before the pictures 2-9.
Here's an example: [https://commons.wikimedia.org/wiki/Cat

[2018-01-16 18:43] Triplec85 opened #1074 "For ''multiple uploads'' you can't specify descriptions in the app, and specify after uploading"
=== English ===
For ''multiple uploads'' you can't specify descriptions in the app, only categories. This (specify descriptions) is only possible with ''single uploads''. It would also be nice if you could edit descriptions of the images with the Commons app even after an upload. Greets -- [[User:Triplec85|Triplec85]]  10:15, 16 January 2017 (UTC)

=== German ===
Bei Mehrfach-Uploads kann man bei

[2018-01-16 19:48] srish commented on #815
@maskaravivek So glad to hear that you are onboard for this! Next steps are that you create a task on Phabricator for these projects, and tag them with #Google-Summer-of-Code (2018) and/or #Outreachy (Round-16). You can see some task descriptions for projects in https://phabricator.wikimedia.org/project/view/3096/ for reference. I will then showcase them on https://www.mediawiki.org/wiki/Google_Su

[2018-01-16 21:34] kerenpas commented on #885
Hi Paul,
I having some problem to test the LogEvens
<https://commons.wikimedia.beta.wmflabs.org/w/api.php?action=help&modules=query%2Blogevents>
API. I need an example for logEvents response that contains the field "
lestart".
All the request that I made do not contain this field here is a link
<https://commons.wikimedia.beta.wmflabs.org/w/api.php?action=query&list=logevents>
to example response.

[2018-01-16 21:54] kerenpas commented on #885
Hi Again,
I figure out what was the problem... I have not pass the lestart parm at
the get query string...
Thanks,
Keren

On Tue, Jan 16, 2018 at 11:34 PM, Keren pastov <kerenpas@gmail.com> wrote:

[2018-01-17 02:44] nicolas-raoul opened #1075 "User page edition"
One user recently expressed deep frustration that they are not able to edit their user page.

Indeed, this is not possible within the app, and not even within the Commons mobile website (screenshot below).

How about adding a simple textbox that allows users to write a simple self-introduction?
It could even be suggested if their user page is currently empty.

A self-introduction is important beca

[2018-01-17 03:00] nicolas-raoul commented on #85
@maskaravivek "Thanks" are now available on Commons, I just tried.

By the way, it would be great if the statistics could be shown in an encouraging way. For instance, "Thanks: 0 Awards: 0" is discouraging, on the opposite a greyed-out "achievement" box like in games or like in Snapchat (screenshot below) feels encouraging, I think.

![snapchat-trophy-1456847092](https://user-images.githubusercont

[2018-01-17 06:37] misaochan commented on #815
@maskaravivek Great job! Thanks for offering to mentor. :)

A few things:
- We will probably need to flesh out the scope of #274 a little beforehand. Currently the requirements are still a bit vague. I would **not** be in favour of locking the app for users who fail the quiz, also. :) Let us discuss things further on that issue
- For the "skills required", do we really need familiarity with Kotlin

[2018-01-17 06:51] misaochan commented on #352
Nope, this doesn't happen with non-2FA logins (that was a bug with one of the hackathon builds I believe), but still happens for 2FA logins on master I think.

[2018-01-17 08:46] kerenpas commented on #885
Hi Paul,
I getting Server Error... (Our servers are currently under maintenance or
experiencing a technical problem. Please try again
<https://codebeautify.org/htmlviewer/>in a few minutes.)
I am waiting for this issue to be solved, so I may be late for commit my
code.
Thanks,
Keren

On Sat, Jan 13, 2018 at 1:50 PM, Keren pastov <kerenpas@gmail.com> wrote:

[2018-01-17 10:08] whym commented on #74
Discussion on possibility of creating a microservice, from #926

whym commented an hour ago

nicolas-raoul commented an hour ago

whym commented 43 minutes ago

nicolas-raoul commented 29 minutes ago

So here we are. :)

[2018-01-17 12:13] Mustahai commented on #1063
Hello, I am a CS student tasked with helping solve an issue on an open source project and this seems like the perfect issue me. I would therefore like to work on solving it.

[2018-01-17 12:55] neslihanturan commented on #1063
Hi @Mustahai , go for it:)

[2018-01-17 14:41] mithlesh4257 opened #1076 "App crashes after cloning to Android Studio from GitHub"
App crashes after cloning to Android Studio from GitHub.

![image](https://user-images.githubusercontent.com/22450186/35048295-943e5dd2-fbc2-11e7-9027-98ee3e76f5f2.png)

[2018-01-17 17:10] maskaravivek commented on #1076
@mithlesh4257 Can you please share the stack trace.

[2018-01-17 17:12] maskaravivek commented on #352
Yes, this is still reproducible with 2FA enabled. Am working on fixing it. :)

[2018-01-17 17:33] mithlesh4257 commented on #1076
Sure @maskaravivek

01-17 22:01:49.584 4205-4205/? I/art: Not late-enabling -Xcheck:jni (already on)
01-17 22:01:49.584 4205-4205/? W/art: Unexpected CPU variant for X86 using defaults: x86
01-17 22:01:50.094 4205-4205/fr.free.nrw.commons.debug I/InstantRun: starting instant run server: is main process
01-17 22:01:50.107 4205-4205/fr.free.nrw.commons.debug D/NetworkSecurityConfig: No Network Secur

[2018-01-18 10:02] tshradheya commented on #1005
I would like to work on this.

[2018-01-18 11:23] maskaravivek commented on #1005
@tshradheya Feel free to take it up. :)

[2018-01-18 17:16] rjb2179 commented on #1065
I can start working on this. I'll use it as an opportunity to introduce myself to everyone working on the project :)

[2018-01-18 17:41] tshradheya commented on #1005
Is there any mock up of the UI that you would like to follow, or going with the current style is fine?

I thought of following @misaochan 's idea but I am not sure where to place the text that already exists

[2018-01-19 07:39] VojtechDostal commented on #1005
I guess going with the current style can't hurt - any overhaul should be systematic and not just in 1 place :-)

You're probably gonna have to remove a sentence and add icons instead :-) Be creative.

[2018-01-19 08:05] nicolas-raoul commented on #1065
@rjb2179 It's yours, please let us know about your progress once in a while :-)

[2018-01-19 12:52] sivaraam commented on #1065
@rjb2179 It's good to see that you're willing to work on this. Just to be sure you're on the right track, could you briefly describe what you're about to do?

[2018-01-19 14:33] misaochan commented on #1005
Happy to hear that you would like to take this task up, @tshradheya . :)

We need to preserve the first paragraph verbatim ("The Wikimedia Commons app is an...." to "...maintenance of the app.") as this is a legal requirement for us. Aside from that, feel free to be creative, haha. If you like, you can post a mockup here before doing the actual coding, this may save time for you as people can give

[2018-01-19 17:09] tshradheya commented on #1005
![layout-2018-01-20-010236](https://user-images.githubusercontent.com/12574756/35162519-998cddaa-fd7e-11e7-837b-39bea2e02b1d.png)

Here is what I made

[2018-01-19 17:36] misaochan commented on #1005
Looks good to me. :) @neslihanturan @nicolas-raoul what do you think?

[2018-01-19 17:44] misaochan commented on #815
Just talked to @maskaravivek about this - if an active co-mentor can't be found by the time the applications begin, I can lend my support as co-mentor. :) I've told him that I may not have the time to do much so the majority of the workload might fall on him, but if we can't get someone with more availability, I'm happy to sign up so we can move the project ahead.

[2018-01-19 18:55] maskaravivek commented on #1005
@tshradheya Awesome!

[2018-01-19 19:16] rjb2179 commented on #1065
@sivaraam
If the location has not changed, then we don't want the user to continue refreshing. If the page is not loading, the user may be tempted to continue refreshing. I'm going to figure out how to make the app "aware" that the page has not yet loaded, and show something like "Hold on. Page still loading" or "Poor network connection."

[2018-01-20 01:21] tshradheya commented on #1005
Great. I will create a PR by tonight then :+1

[2018-01-20 08:07] mithlesh4257 commented on #1076
@nicolas-raoul, @maskaravivek Please help.

[2018-01-20 08:13] maskaravivek commented on #1076
@mithlesh4257 Is it still happening?

[2018-01-20 11:04] Nickthemaster13 commented on #1030
Hello,I would like to contribute to this project by fixing this issue

[2018-01-20 11:22] mithlesh4257 commented on #1076
I used another emulaor, but now new problem is with Login Credential. The same id is registered with Commons app is not working for Commons beta app.

@maskaravivek

[2018-01-20 11:41] mithlesh4257 commented on #1058
Yes, @neslihanturan.

[2018-01-20 11:52] mithlesh4257 commented on #1076
Thanks @maskaravivek Issue solved.

[2018-01-20 11:52] #1076 closed

[2018-01-20 12:35] mithlesh4257 commented on #1075
@nicolas-raoul, can you please make me understand? I'm not getting it.

[2018-01-20 12:38] mithlesh4257 commented on #1074
Thanks @Triplec85 :-), I will be fixing it.

[2018-01-20 14:20] mithlesh4257 commented on #1058
Hi @neslihanturan , Shall adding one TextView be good to solve this issue mentioning "Use Commons Beta Credentials"?

[2018-01-20 18:09] #1068 closed

[2018-01-20 18:39] sivaraam commented on #1065
@rjb2179 Nice idea. But I think it would be better to *disable" the refresh button when nearby items are being loaded and enable it only after the items have been loaded successfully or when loading fails. That would be better than allowing the user to refresh when the items are being loaded.

[2018-01-20 23:00] afswift commented on #1039
If this issue isn't being worked on currently, I would love to tackle this issue. I've been working with android studio for a few months now.

If this is needed for parsing through:

I start working on this

[2018-01-21 05:38] sivaraam opened #1084 "Get listed in "Apps Using Fresco""
If I'm correct in assuming that the app uses the [facebook/fresco](https://github.com/facebook/fresco) library as I see it in the build.gradle file, how about letting them know about it?

See "Apps Using Fresco" section of http://frescolib.org/

NOTE: I find this to be an opportunity to increase the users of the app.

[2018-01-21 05:55] sivaraam commented on #74
I'm not sure how much useful this might be but I'll tell it anyway. IIRC, the Wikipedia android app uses face recognition to correctly position lead images which have faces in them. I think they also use the primary colour of the lead image of an article to give a colour to the "Continue reading" and "Because you read" cards shown in the app's Explore feed. So, they should have used an image manip

[2018-01-21 09:21] misaochan commented on #1039
@afswift Go for it. :)

[2018-01-21 10:43] maskaravivek commented on #7
Heres the complete list of notifications supported by commons. https://commons.wikimedia.beta.wmflabs.org/wiki/Special:DisplayNotificationsConfiguration

[2018-01-21 10:46] tshradheya commented on #1056
Can I take this up?

[2018-01-21 16:21] sivaraam commented on #1039
@misaochan Sorry for the off-topic question. Why do you actually use the #assigned tag instead assigning the task to the concerned person?

[2018-01-21 17:36] misaochan commented on #1039
@sivaraam Because GitHub doesn't allow us to assign tasks to someone who hasn't yet contributed to the repo I believe. The option just isn't available.

[2018-01-21 17:45] misaochan commented on #1056
@psh Interesting! Fabric Beta doesn't actually use the Google Play channels, right? The entire system appears to be self-contained. I would personally be OK with this, but would probably need to check with WMF.

If we don't use Fabric Beta, and elect to use a script to upload to Google Play Store instead... I wonder if we should create an **alpha** testing group for this purpose. There are a few r

[2018-01-21 18:03] misaochan opened #1087 "[Urgent] Version 2.6.6 crash"
New crash in version 2.6.6 affecting 12 users with 79 reports. :/ It appears to be caused by uploading. I tried to contact the user to get more information, but we'll see if he responds.

[code]

(Yes, the stack trace is only 2 lines. Not sure why)

Android 5.1 | 60 | 75.9%
Android 7.0 | 10 | 12.7%
Android 8.0 | 5 | 6.3%
Android 6.0 | 2 | 2.5%
Others | 2 | 2.5%

A37f (A37f) | 59 | 74.7%
ZenFone 3

[2018-01-21 18:11] misaochan commented on #1087
@psh @maskaravivek This appears to be caused by a NPE from the line:

`if (contrib.getState() == Contribution.STATE_COMPLETED) `

[2018-01-21 18:43] rjb2179 commented on #1065
@sivaraam OK, I'll go ahead with your suggestion.

[2018-01-21 19:35] misaochan opened #1088 "Checking for potential exceptions (crashes)"
This has been a rather rocky release, and I wonder if it would be a good idea to have a system in place to check for potential exceptions in our code before shipping out to users. Perhaps using something like http://fbinfer.com ?

[2018-01-21 20:04] rjb2179 commented on #1065
@sivaraam Do you think it is enough to replace showLongToast(...) with return? This way refresh will be disabled until nearby "realizes" that the location has changed.

/* from refreshView(), NearbyActivity.java */
if (curLatLang != null && curLatLang.equals(lastLocation)) { // refresh view only if location has changed
            if (isHardRefresh) {
                ViewUtil.showLongToast(this, R

[2018-01-21 20:16] neslihanturan commented on #1074
@Triplec85 Thanks for the feedback:)
- Your first request (Enabling description input on multiple uploads) is related with #604 . We will be implemented it soon:)
- Second is a discussion here #161 . This will be implemented after first one, but still it is on our schedule.

@mithlesh4257 this tasks isn't beginner friendly and they need to be discussed more before they get implemented. They are no

[2018-01-21 20:59] neslihanturan commented on #1065
@rjb2179 yes it would prevent the toast message being displayed. However I think this discussion requires more. Without the toast message it would be even more frustrating for user, clicking refresh button, see no toast and nothing happens.

I think most important part of the fix is detecting when nearby places aren't loaded and informing user accordingly.

And @sivaraam I am not sure whether it i

[2018-01-22 01:31] psh commented on #1087
Reading the code in context I see something straight away
[code]
Firstly, we are not checking the return value of `contributionCursor.moveToFirst()` - it will return `false` if the cursor we are interacting with was empty (ie, we are unable to move anywhere).  It's a common mistake to forget to check the return value of `moveToFirst()` and `moveToNext()` and leads to bugs every time.

I believe wh

[2018-01-22 03:16] psh commented on #1084
Yes, the app uses Fresco - the contributions grid view uses `SimpleDraweeView`, as does the share, upload and media details.

[2018-01-22 04:44] nicolas-raoul commented on #1075
@mithlesh4257 Have you looked up what a Mediawiki user page is?

[2018-01-22 04:53] nicolas-raoul commented on #1056
Yes, Google Play's alpha is perfect for this use :-)
Personally I would choose the alpha even if it means constants updates, but most testers would probably choose beta.

[2018-01-22 04:58] nicolas-raoul commented on #1074
@mithlesh4257 Your enthusiasm is wonderful, but could you please concentrate on one task at a time? That would allow you to deeply study and understand the technology and functionality related to a particular issue. Thanks! :-)

[2018-01-22 06:22] misaochan commented on #1065
I agree with @neslihanturan . Disabling the refresh button while it is loading would still be an improvement (which @rjb2179 can work on), but we probably also need to have a discussion on the refresh logic in general. I do not think the toast should be removed for the time being.

I am not sure if the refresh button is still needed in our current state. :)

[2018-01-22 06:31] misaochan commented on #1087
Thanks @psh !

Unfortunately much of our modifications and contributions code is legacy code from 4+ years ago, and the logic behind them confuses me sometimes. :/ One of the reasons I can guess is that the contribution (upload) failed, but the modification (category selection) went through without checking for whether the upload worked.

However, if that was the case, that doesn't answer the ques

[2018-01-22 09:16] Sylvia23 commented on #1075
I would like to work on this issue.

[2018-01-22 09:26] misaochan commented on #705
Just realized that this should probably wait until #604 has been done, to prevent time being wasted.

[2018-01-22 09:26] neslihanturan commented on #1075
Thanks @Sylvia23 , after some more discussions to define the task better, you can start to work on this:)
- Do we plan to add a new "edit user information" item to nav. bar?
- Does anyone have a mockups to propose? @Sylvia23 maybe offering some mockups can be good for starting.

[2018-01-22 09:37] misaochan opened #1091 "Decouple upload logic from fragments/activities, unify upload entry points"
As mentioned at #1060 , this probably needs to be done prior to implementing multiple uploads. Currently upload logic is coupled to various entry points - ShareActivity.java, MultipleShareActivity.java, and soon to be NearbyMapFragment and PlaceRenderer as well when direct uploads from Nearby are implemented. We would like to get the direct Nearby uploads out first so that users can use the featur

[2018-01-22 09:47] misaochan opened #1092 "Completely overhaul app backend (legacy code)"
Talked to @maskaravivek and @neslihanturan about this today. It feels like a lot of time is wasted trying to understand the legacy code in our app and getting new modifications to work well with it. Much of the time is spent patching up something that no one in our team is really familiar with and that was written more than 4 years ago (a long time in Android development). When I talked to the ori

[2018-01-22 11:44] Sylvia23 commented on #1075
Thanks @neslihanturan.

-Yes, putting an option for "Edit User Information" is a good idea. A textbox and a button can be put under this item.

-Offering mockups would definitely help.

[2018-01-22 13:38] whym commented on #710
closing in favor of the new discussion

[2018-01-22 13:38] #710 closed

[2018-01-22 22:24] maskaravivek commented on #1091
@misaochan I would like to take it up after the crash fixes if you guys agree. I already have some changes locally relating to this refactoring and i can own it up. :)

[2018-01-23 06:29] Sylvia23 opened #1095 "Signup/Login wih Social Network Account"
Most of the apps have this very useful and commom feature to login/signup with social network acoount. Social network APIs or SDKs can be intergrated in the android app which makes it very easy to login/signup and share your actions. So, I think it should be there in this app as well.
For example,
![screenshot from 2018-01-23 11-43-57](https://user-images.githubusercontent.com/23060217/35260930-e8

[2018-01-23 07:42] nicolas-raoul commented on #1095
I think we can not provide more login options than what is available at https://commons.wikimedia.org/w/index.php?title=Special:UserLogin&returnto=Main+Page

While Mediawiki has extensions for this (such as https://www.mediawiki.org/wiki/Extension:Facebook) I am not sure whether they are enabled on Commons or not.

[2018-01-23 07:48] whym commented on #1095
On the server side the possibility of enabling social media login seems to be slim: https://phabricator.wikimedia.org/T61631 - it's more of a policy issue than a technical issue.

We could perhaps create a UI that helps users to create a Wikimedia Commons account using information pulled from their social media accounts, though. It would have to be carefully implemented to avoid creating duplicate

[2018-01-23 08:00] misaochan commented on #1091
@maskaravivek Great! By all means. :)

[2018-01-23 08:06] misaochan commented on #1087
From @whym at #1090 (copying over here for continuity):

[2018-01-23 09:04] misaochan commented on #1075
Thanks for offering to work on this, @Sylvia23 ! :)

- Instead of another nav bar item, I propose associating this option with the username at the top of the nav bar. For instance, Zomato does this via the ">" indicator on the right of the username (see below). An alternative could be a cogwheel icon next to the username? Tapping on the indicator or icon would bring the user to the activity that @

[2018-01-23 11:40] Sylvia23 commented on #124
Hi, I tried uploading .ogg audio file by both by

- putting .ogg extension in title.

- without putting extension in the title.

Upload failed in the second case while the upload was successful in the first one.
Can we add an option after the user chooses the file to upload different types of file like it can be a picture, audio file or a video. We can add a drop-down on the UI shown in screenshot

[2018-01-23 12:12] Sylvia23 commented on #520
I would like to work on this issue if it is still open.

Can someone explain exactly what has to be implemented to resolve this because I can already see "Privacy policy" link on the login page which refers to [https://github.com/commons-app/apps-android-commons/]

![screenshot from 2018-01-23 11-43-57](https://user-images.githubusercontent.com/23060217/35275154-c99fc65e-0064-11e8-9b70-2e4afadfdd1

[2018-01-23 12:47] misaochan commented on #520
Oops, sorry, I think this should have been closed. Indeed the link has already been implemented. Please feel free to try your hand at other open issues @Sylvia23 .

[2018-01-23 12:47] #520 closed

[2018-01-23 14:13] Sylvia23 commented on #520
For sure @misaochan  :+1:
Thanks.

[2018-01-23 17:13] sivaraam commented on #1065
@rjb2179 Sorry, but I'm not well acquainted with the code base to help you with this. But on taking a cursory look it seems that replacing that toast with a message results in the toast *never* being shown. Also it possibly would *not* disable the refresh button. It would just prevent the toast from being shown. That doesn't seem to be what I was suggesting (maybe I wasn't clear enough :( ).

Just

[2018-01-23 17:29] sivaraam commented on #1084
It seems that to get the [PR](https://github.com/facebook/fresco/pull/2031) merged into [facebook/fresco](https://github.com/facebook/fresco) the person has to sign the Facebook CLA. I'm not so interested in reading/signing the CLA for this trivial change. So, is there anyone else who has already signed the CLA who could possibly do this instead of me?

[2018-01-23 18:49] sivaraam commented on #1092
I have long been thinking of suggesting a similar issue for the UI. Though the recent overhaul had made some significant improvements, I still thinks it would be better to completely overhaul the UI as I could still see some dominance of legacy UI even after some overhaul.

As an motivator for why I think of a complete overhaul, consider the login screen. It was recently modified. The new design d