[2018-03-12 17:12] RiccardoGrigoletto commented on #1221
I have created it and added some classes. I am using draw.io tool in Google Drive, the file is here: https://drive.google.com/file/d/1WTaigiccHn3-3h-T42oe3XmLikgg3bNR/view?usp=sharing .
You can view, comment and modify the file.

As you can see I added a browseController that has the LIMIT number and its functions need an "offset" parameter. I was thinking about adding a class that make queries an

[2018-03-12 18:21] harisankerPradeep commented on #1221
@nicolas-raoul Great! I'll look into it !!

[2018-03-12 19:03] misaochan commented on #815
Hi @srish ,

Just confirming that Outreachy participants will also need to create a proposal on Phab? I checked phabricator.wikimedia.org/project/view/3097/ but it seems that the workboard hasn't been created yet?

[2018-03-12 21:13] diddypod commented on #1139
I have implemented the feature using the API, but I'm having a bit of trouble trying to disable the nomination process once a successful deletion is processed.
This is what I've done so far [here](https://github.com/diddypod/apps-android-commons/tree/delete-request)

[2018-03-12 21:41] maskaravivek commented on #85
Yes, the scope of this task looks feasible to me. As a stretch goal, we could consider showing the statistics as suggested by @nicolas-raoul to make it visually more appealing. :)

[2018-03-12 21:45] maskaravivek commented on #1139
@diddypod Can you open a PR for the same. It would be easier to review that way. :)

[2018-03-12 22:42] ujjwalagrawal17 commented on #1284
<table>
<tr>
<td>

![screenshot_20180312-225425](https://user-images.githubusercontent.com/19607555/37312801-83c747c2-2672-11e8-9055-6e5b3d77bf0c.png)

</td>
<td>

![screenshot_20180313-040737](https://user-images.githubusercontent.com/19607555/37313183-14cfe0ac-2674-11e8-915a-cee67dd47489.png)

</td>
</tr>
</table>

Screenshots from Phimp.me

[2018-03-13 02:17] hismaeel commented on #780
Hello! I have a proposal for GSOC that is related to this, but is a bit different. Sorry for being late
## Summary
The first time I got the app I thought the "Nearby" Tab showed in menu showed the **photos** taken by the people close to me, rather than the places nearby. I then thought it would be great if users could look at photos from others, and look at them by different criteria-Nearby, Relev

[2018-03-13 02:18] nicolas-raoul commented on #1294
Thanks!
Yes a PR would be most welcome :-)

2018/03/13 2:16 "Abhishek Poonia" <notifications@github.com>:

[2018-03-13 03:47] srish commented on #815
@misaochan Yes! good point. The workboard lives here now > https://phabricator.wikimedia.org/project/board/3097/. Outreachy candidates can now add their proposals on Phabricator.

[2018-03-13 04:34] madhurgupta10 opened #1295 "Navigation Drawer too large for landscape mode"
**Summary:**
Navigation Drawer too large for landscape mode. Width needs to wrap up just the content.

**Steps to reproduce:**

Swipe from the left

**Device and Android version:**
Xiaomi Mi A1 Oreo 8.0

 **Commons app version:**
2.6.7-debug-master~2516445d

**Screen-shots:**
![screenshot_20180313-095342](https://user-images.githubusercontent.com/30932899/37322807-d84d1ea6-26a5-11e8-8a98-0e90ab81c

[2018-03-13 04:38] madhurgupta10 commented on #1287
@knight-shade Could I fix it?

[2018-03-13 04:56] madhurgupta10 opened #1296 "Widget"
**Summary:**
It would be great if there is a widget that shows the picture of the day from [website](https://commons.wikimedia.org/wiki/Main_Page) [Edited by misaochan: pic of the day has been implemented, but a more full-featured widget would be awesome!]

![screenshot-commons wikimedia org-2018 03 13-10-20-18](https://user-images.githubusercontent.com/30932899/37323234-6c3c1db8-26a8-11e8-9d2a-9d

[2018-03-13 05:10] madhurgupta10 commented on #1294
can I work on this?

[2018-03-13 06:05] diddypod opened #1298 "Change SignupActivity to an Activity from a WebView"
**Summary:**

SignupActivity is currently a WebView, which is inconsistent with the res of the application and allows users to browse MediaWiki in the WebView without logging in

**Expected**

SignupActivity should be an Android Activity

**Observed behavior:**

It is a WebView.

**Device and Android version:**

Xiaomi (Wingtech) Redmi 2 Prime
Xiaomi Redmi Note 4

 **Commons app version:**

2.6.7-

[2018-03-13 06:10] diddypod commented on #1298
This can be easily implemented using JavaScript injection in a WebView. I'd like to take this up.

[2018-03-13 06:15] nicolas-raoul commented on #780
@hismaeel Please copy-paste the above as a [new issue](https://github.com/commons-app/apps-android-commons/issues/new), as it is unrelated to peer review. Thanks!

[2018-03-13 06:18] nicolas-raoul commented on #1273
@yashshah7197 Cool!
Could you please post the test app to Github? For instance you can call it "Commons-Mobile-app-intent-client-sample". Thanks a lot :-)

[2018-03-13 06:35] nicolas-raoul commented on #1296
By widget, do you mean the Android feature to add dynamic content on the wallpaper, a bit like the software below?
![live-image-widget-android-widget1](https://user-images.githubusercontent.com/99590/37326115-fd3d543c-26d3-11e8-962a-48ed649174a3.jpg)

[2018-03-13 06:38] nicolas-raoul commented on #1294
@knight-shade do you intend to send a pull request soon? In how many days? Thanks :-)
@madhurgupta10 The issue is assigned to @knight-shade's for now.

[2018-03-13 08:09] madhurgupta10 commented on #1296
@nicolas-raoul yes, kinda like that

[2018-03-13 08:10] madhurgupta10 commented on #1294
@nicolas-raoul Ok, no problem.

[2018-03-13 09:03] nicolas-raoul commented on #1296
Good idea, feel free to implement it!

First, how do you plan to get the URL of today's picture?

On Tue, Mar 13, 2018 at 5:09 PM, Madhur Gupta <notifications@github.com>
wrote:

[2018-03-13 10:27] nicolas-raoul commented on #75
Recent WMF blog post https://blog.wikimedia.org.uk/2018/02/structured-data-on-commons-is-the-most-important-development-in-wikimedias-usability/ :

This sounds very similar to the present issue.
Categories will become Structured Commons properties in the future, but that does not make that much difference from the point of view of this issue.

The idea of swiping left/right is interesting, let's g

[2018-03-13 10:28] knight-shade commented on #1287
@madhurgupta10 I already create a PR for this 2 days ago.

[2018-03-13 10:32] knight-shade commented on #1294
@nicolas-raoul I already have a fix for it locally, that's how I have 'after' gif demonstrating the changes. Just was a little bit hesitant to create the PR, so asked for opinion. Will create the PR right way :smile:

[2018-03-13 10:57] knight-shade commented on #1295
@madhurgupta10 Same as issue #1275. Already solved. :+1:

[2018-03-13 12:38] madhurgupta10 commented on #1295
@knight-shade cool, glad it was fixed :)

[2018-03-13 12:39] #1295 closed

[2018-03-13 12:41] madhurgupta10 commented on #1296
@nicolas-raoul If there is an API available then I can use it or I can scrape the website to get the link.

[2018-03-13 13:25] misaochan commented on #85
Sounds good to me, indeed the UI design should be part of this task. :)

[2018-03-13 13:33] misaochan commented on #780
Hi @hismaeel ,

Thanks for the suggestion! Indeed many other people have mentioned having the same initial misconception of Nearby. :) We are hoping to alleviate that by creating a mini-tutorial about Nearby soon, but being able to view nearby pictures submitted by other people would still be nice. However, as @nicolas-raoul says, this is quite a different feature from Browse and so should have it

[2018-03-13 13:39] misaochan commented on #1110
All yours @kamilya35231 ! :)

[2018-03-13 13:40] misaochan commented on #1258
Lets reopen then.

[2018-03-13 13:59] yashshah7197 commented on #1273
@nicolas-raoul sure! Here is the repo link -
https://github.com/yashshah7197/commons-intent-client-sample

Just a note though that've I've written the sample app in Kotlin since I've been learning the language these days. 👻

[2018-03-13 14:36] aniket1897 commented on #1284
I have worked on this issue can I submit PR?

[2018-03-13 14:40] ujjwalagrawal17 commented on #1284
@aniket1897 I wanted to work on it. You should ask before working on the issue.
But since you had already worked on it. You submit the PR.

[2018-03-13 14:47] aniket1897 commented on #1284
Sorry @ujjwalagrawal17 new to open source , next time I will take care.

[2018-03-13 15:00] ujjwalagrawal17 opened #1301 "Change Toast to snackbars in app."
**Summary:**

Snack bars look better than toast and disappear when activity is destroyed.
https://stackoverflow.com/questions/34432339/android-snackbar-vs-toast-usage-and-difference

**Steps to reproduce:**

Add a utils function in Utils.java

 **Commons app version:**

2.6.7-Debug

**Screen-shots:**

![screenshot_20180313-202042](https://user-images.githubusercontent.com/19607555/37349695-02324d5

[2018-03-13 15:37] gupta-meghna64 commented on #85
I had thought of an idea, wherein we could grant titles to a user based on the statistics obtained. For instance, a title could be "Lightning Uploader" which signifies that the user has his current number of uploads > a threshold(say 25).
Could these titles be added to the mediWiki pages of the user as titles received? Since, if we are awarding a title to the user, then he/she should be able to sh

[2018-03-13 16:28] srish commented on #780
@misaochan Yes, that's right! @hismaeel would need two mentors to proceed with this. As you all are packed right now with other projects, it does not seem feasible to move forward with this right now (unless we have a secret mailing list on which we could hunt for more app contributors as potential mentors). So, I would encourage @hismaeel to check out other ideas that we are showcasing:  http://m

[2018-03-13 16:30] madhurgupta10 commented on #1298
Please allow me to work on this :)

[2018-03-13 16:49] madhurgupta10 opened #1303 "Fix Underline Tag in "About Page""
**Summary:**

Fix Underline Tag in "About Page".

**Steps to reproduce:**

Go to Navigation Drawer > About

**Expected behavior:**

Should show underlined text instead of tags

**Observed behavior:**

Shows U Tags around the text.

**Device and Android version:**

Xiaomi A1 Oreo 8.0 (Stock Android)

 **Commons app version:**

2.6.7-debug-master~2516445d

**Screen-shots:**
![inkedscreenshot_2018031

[2018-03-13 17:15] madhurgupta10 commented on #970
@neslihanturan Its been a long time since this issue was opened, I would like to work on it if it is still needed to be solved :)

[2018-03-13 17:26] ayushin78 commented on #85
I was thinking that we should create levels like in games where levels will be updated according to the game points earned by the user. The user can be awarded game points according to his statistics such as

-  For every new Thanks Received, 5 points

- For every Quality image, say 10 points

- For every Featured Image, 20 points

Whenever the user will cross the threshold for each level for exam

[2018-03-13 17:30] madhurgupta10 opened #1305 "Replace New Image Upload with Floating Action Button (Material Design)"
**Summary:**

To add a new image it is always nice to have a floating action button (fab), which is easy to reach on devices with larger screen size.
It is also great to follow material design language for the app :)

**Screen-shots:**

![image](https://user-images.githubusercontent.com/30932899/37358820-09e90418-2712-11e8-9675-bd6cf1830db6.png)

![image](https://user-images.githubusercontent.com/

[2018-03-13 17:30] madhurgupta10 commented on #1305
I want to work on this issue :)

[2018-03-13 18:11] neslihanturan commented on #970
It seems like nobody is interested. So better not to implement this one and close this issue.

[2018-03-13 18:11] #970 closed

[2018-03-13 18:14] neslihanturan commented on #1305
Since we have a #725 , probably this should wait.

[2018-03-13 18:35] maskaravivek commented on #1284
@nicolas-raoul @misaochan Your opinions on whether we need this feature? :)

[2018-03-13 19:21] Jatin0312 commented on #1291
Ok Thanks :)

[2018-03-13 20:20] knight-shade commented on #1258
@misaochan seems @madhurgupta10 's [PR](https://github.com/commons-app/apps-android-commons/pull/1304) fixes it.

[2018-03-13 20:23] madhurgupta10 commented on #1258
@Nikerabbit I just opened that issue #1303,  I was not aware that it was under this issue.

[2018-03-13 20:35] madhurgupta10 commented on #1305
@neslihanturan Sure!

[2018-03-13 20:36] knight-shade commented on #1301
@ujjwalagrawal17 Seems easy though, but you will need to take care of edge cases. Eg. As of now, the app shows a toast for each image which it could not cache (error in caching image), leading to number of toasts equal to the number of images failed to cache. You should figure out how to get past this issue, since showing 20 or merely 6 toasts continuously will definitely not a good UX.

[2018-03-13 20:58] madhurgupta10 commented on #1296
@nicolas-raoul I can either use [jsoup](https://jsoup.org/) to get src from [here](https://commons.wikimedia.org/w/api.php?action=parse&format=jsonfm&formatversion=2&text=%5B%5BFile%3A%7B%7BPotd%2F%7B%7BCURRENTYEAR%7D%7D-%7B%7BCURRENTMONTH%7D%7D-%7B%7BCURRENTDAY2%7D%7D%7D%7D%5D%5D&prop=images%7Ctext&contentmodel=wikitext&format=json) or I approch [this](https://stackoverflow.com/questions/9084442/

[2018-03-13 21:39] maskaravivek commented on #1296
The answer to the StackOverflow question seems to be a suitable approach to me.

[2018-03-13 21:57] maskaravivek commented on #85
Sounds like a great idea to me. Gamification is what we want to drive more engagement.

I am just not sure about the feasibility of this task as part of GSoC/Outreachy. :)

[2018-03-14 03:40] madhurgupta10 commented on #1296
@maskaravivek Sure, I am on it 👍

[2018-03-14 05:25] Jatin0312 commented on #1291
There is a share button already present which shares the link of the photo.
![issue1](https://user-images.githubusercontent.com/17095817/37384599-d3595bdc-2775-11e8-8389-da0b2f3bdcec.jpg)

Including one more share button will become redundant.
Am I getting confused with some other share button?

[2018-03-14 05:34] #1303 closed

[2018-03-14 06:50] tanvidadu opened #1306 "In aboutActivity about_uploads_to textView has no functionality"
**Summary:**
In aboutActivity there is TextView with id about_uploads_to which has no implementations in the code. It has not been used anywhere.

**Expected Behavior:**
Link TextView with appropriate urls. If necessary add different links depending upon flavour.

Observed this in betaDebug , proddebug.

![aboutactivity](https://user-images.githubusercontent.com/29161745/37387247-aaa7ea8a-2781-11e

[2018-03-14 06:55] nicolas-raoul commented on #1291
Oh I am sorry I did not remember it was implemented already!
So sorry for wasting your time :-/

On Wed, Mar 14, 2018 at 2:25 PM, Jatin0312 <notifications@github.com> wrote:

[2018-03-14 06:55] #1291 closed

[2018-03-14 07:01] nicolas-raoul commented on #1273
Thanks!
Would you mind transfering the repo to the https://github.com/commons-app
organization? You can request the transfer in the settings of your repo.
This way, it would be easy to find and maintain :-)
Cheers!

On Tue, Mar 13, 2018 at 10:59 PM, Yash Shah <notifications@github.com>
wrote:

[2018-03-14 07:06] yashshah7197 commented on #1273
Sure! But I think I need to transfer the ownership to you first since I don't have rights to create repos in the commons-app organization. I tried and it gave me an error saying that I don't have rights to create a repo. 😢

[2018-03-14 07:09] srish commented on #815
Hi all! Just checking if we are showcasing the following project: https://phabricator.wikimedia.org/T188877 only for GSoC 2018, right?

[2018-03-14 07:16] misaochan commented on #815
I think so, based on our discussion above. I guess the Outreachy tag should be removed?

[2018-03-14 07:23] srish commented on #815
@misaochan Sounds good! removed :)

[2018-03-14 07:29] misaochan commented on #1284
I definitely think it should NOT be in the navigation drawer the way the app in the screenshot does it. Feels a lot like feature bloat and users might get annoyed, since it isn't really something they would use often.

However, I think it could be nice to have a little "Share" icon in About. Perhaps next to the FB etc icons?

[2018-03-14 07:47] misaochan commented on #85
@gupta-meghna64 I personally like your idea of having titles. However... perhaps @nicolas-raoul can confirm, but I don't know if adding that to the MediaWiki page of the user will be feasible? As it would only be available for app users, so it may drive a larger wedge between us and the browser-based Commons community.

@ayushin78 Levels looks nice to me, too. :) But like Vivek says, it may be a b

[2018-03-14 08:15] nicolas-raoul commented on #1273
OK can you please transfer to me? Thanks a lot! :-)

On Wed, Mar 14, 2018 at 4:07 PM, Yash Shah <notifications@github.com> wrote:

[2018-03-14 08:17] nicolas-raoul commented on #1273
Ah, could you please first add an open source license, by the way?
For instance this file:
https://github.com/commons-app/apps-android-commons/blob/master/COPYING or
another license if you prefer another one.

Your name will stay in the namespace, by the way :-)

On Wed, Mar 14, 2018 at 5:15 PM, Nicolas Raoul <nicolas.raoul@gmail.com>
wrote:

[2018-03-14 08:32] 97balakrishnan commented on #1270
I saw this code in the master implementation... I think that mean that the location is updated only for a two minute interval . If the user has to refresh the location before this interval he would definitely require the refresh button and swipe option; If we have to remove the refresh button we should decrease the time interval which in turn would make the app less optimal.
/
    public class Loc

[2018-03-14 09:08] neslihanturan commented on #1270
@97balakrishnan can you please check #1241 PR, since it checks users location in every two seconds. So manual refresh is not needed anymore.

[2018-03-14 09:44] nicolas-raoul commented on #85
Here are a few examples of ranking systems for inspiration: https://community.jivesoftware.com/thread/258122 https://ux.stackexchange.com/questions/67013/alternative-reward-levels-to-gold-silver-bronze https://community.canvaslms.com/thread/15047-name-the-levels

The best would be to have a photographer-themed or reporter-themed ranking system, here are a few examples (but feel free to come up wit

[2018-03-14 10:56] tanvidadu commented on #85
In many of online games I have played, instead of providing points they provide coins. We can also provide coins to users instead of points and allow them to buy stickers( of different cost) . We can allow users to share the stickers they bought. Coins can be given to user on the basis of barnstars, appreciations as well as images featured. This encourage users to upload quality images. we can ini

[2018-03-14 11:04] gupta-meghna64 commented on #85
@nicolas-raoul even being able to add the award/title on your own user page could be a big incentive for the user, as by this way you atleast have your awards on web! So, we could probably take this idea forward.

[2018-03-14 11:35] yashshah7197 commented on #1273
Done! I've added the license file and requested the ownership transfer to you. You just have to accept it now! 👻 😄

[2018-03-14 12:08] nicolas-raoul commented on #85
How about "reputation"?
"Reputation" sounds more in phase with the Wikipedia spirit (free, collaborative) than "coins" or just "points".

Reputation could "unlock" some features that are dangerous for newbies. For instance, I firmly think that multiple upload is not a feature to put in the hands of newcomers, who sometimes use it to upload their whole photo roll.
The implementation of unlocking ca

[2018-03-14 12:14] nicolas-raoul commented on #1273
The repo now lives at
https://github.com/commons-app/commons-intent-client-sample and you are a
collaborator (with write permission) to it :-)

On Wed, Mar 14, 2018 at 8:35 PM, Yash Shah <notifications@github.com> wrote:

[2018-03-14 12:15] misaochan commented on #85
Oh, I had no idea a framework for barnstars already existed! It would be good to have it on the user's talk page indeed.

I also agree with reputation sounding better than coins.

[2018-03-14 12:19] ayushin78 commented on #85
The idea of using the photographer-themed ranking system is great and the levels mentioned are also very cool.
Using focal length or reputations also seems better than points/coins.

[2018-03-14 12:21] yashshah7197 commented on #1273
@nicolas-raoul great! 👻 Now just waiting for my PR to be merged haha! 🤣

[2018-03-14 12:39] tanvidadu commented on #85
@nicolas-raoul @misaochan reputation sound even better than coins and we can allow users to unlock stars on the basis of their reputation and depending upon stars we can allow users to access restricted  features.
In the Initial release we can focus on the stars part and in the later releases we can add the functionality of restricted features.
The more stars the person has more reputed or experie

[2018-03-14 13:46] knight-shade opened #1308 "Hide/Show toolbar when scrolling"
**Summary:**

In Contribution, Nearby, Notifications and Settings activity the toolbar is in permanent position. It should be hidden/shown according to scrolling.

**Steps to reproduce:**

- Just go to any of the mentioned activity, and scroll through the list.

**Expected behavior:**

The toolbar should be hidden/shown for a better immersive experience.

**Observed behavior:**

The toolbar stays

[2018-03-14 15:34] 97balakrishnan opened #1309 "Making Nearby locations load faster"
**Summary:**
 ### Problem  :
 There is a significant lag in the loading of nearby locations ( about 3-4 seconds in normal network conditions).

This may be due to two reasons :
1) Time interval in getting the location information from device
2) Time interval in getting the desired number of nearby locations from api

### Proposed Solution :
The solution to 1st problem may be to use the FusedLocati

[2018-03-14 15:39] 97balakrishnan commented on #1270
I checked the PR and went through the changes. But, I don't think checking for location updates every two seconds will be battery.  It will result in battery drain. I googled regarding this and i found that in some devices the GPS doesn't support automatic location updates less than 10 seconds. So I think that the refresh option is mandatory for the app.

https://developer.android.com/reference/an

[2018-03-14 18:07] Jatin0312 opened #1310 "Extra space being displayed in Nearby info dialog."
**Summary:**
1. I think there is quite a space being displayed in nearby info dialog.
2. Colour of dialog sheet can be changed so that it can be distinguished from the list.
3. I think animation can be added when an item is clicked on the list.

**Steps to reproduce:**
Go to Nearby Activity and click on list mode type and click on item.

**Device and Android version:**
Moto g4 plus
Android 7.0.0

[2018-03-14 18:26] maskaravivek commented on #1284
Keeping the share button in the top bar (`Toolbar`) of the `About` page also seems to be a good idea to me. That way it won't get lost in the already overcrowded `About` page.

[2018-03-14 18:56] madhurgupta10 commented on #1287
@knight-shade ok no problem :)

[2018-03-14 19:43] neslihanturan commented on #1310
@Jatin0312 please don't work on nearby related issues since we are changing nearby classes at all.

[2018-03-14 19:44] Jatin0312 commented on #1310
Ok sure :)

[2018-03-14 19:45] neslihanturan commented on #1270
What is your suggestion to track users location without checking users location on every two seconds? What is your solution?

[2018-03-14 19:49] neslihanturan commented on #1309
@97balakrishnan what about applying this optimization just after #1241 is implemented?

[2018-03-14 19:55] neslihanturan commented on #1306
Can you explain the summary more briefly? @tanvidadu

[2018-03-14 20:01] neslihanturan commented on #1308
Nearby, not yet. But notification is safe @knight-shade

[2018-03-14 20:10] psh commented on #1308
According to the material design spec from Google - https://material.io/guidelines/patterns/scrolling-techniques.html - there are 2 options that are perfectly valid:

* Firstly that the app bar stays where it is and content scrolls under it.  This is what is implemented within our app.

* Secondly that the app bar scrolls off (vertically) as you scroll down through content and reappears when you s

[2018-03-14 21:29] knight-shade commented on #1308
@psh Ya that sound good, and on a lighter note hide/show toolbar is not working with Frame layout for unknown reason. On the other hand, can you suggest how to make AppBar layout work with framelayout (I need it for another project)?
I have tried nestes scroll view and it doesn't scale fully.

[2018-03-14 21:31] neslihanturan commented on #1273
Since we have implemented the first steps for this feature, should we communicate with other open source apps to inform that it is possible to do? How they will know that if we don't tell them:)

[2018-03-14 22:25] tanvidadu commented on #1306
@neslihanturan I have updated the summary. thanks :)

[2018-03-15 00:19] yashshah7197 commented on #1273
@neslihanturan how about we create a new Wiki page to document this feature? This way any app that wants to use this feature can look at the Wiki pages on how to implement it in their app. We can also then reach out to popular open source apps requesting them to implement this feature simply by just contacting them with the link of the documentation. We can also edit the Wiki page [here](https://g

[2018-03-15 01:21] 97balakrishnan commented on #1309
Sure that's a good idea.We can check the apps performance after applying changes in #1241 and recheck if this optimisation is required or not.   Thanks :)

[2018-03-15 05:53] nicolas-raoul commented on #1309
About point 2:

I don't think that would make results appear earlier.
Unlike most network traffic, SPARQL requests to Wikidata generate 0 bytes for a long period (typically 5 seconds), and then send all of the results extremely fast (typically 5 milliseconds).

Press F12 in your browser, select the "Network" tab, and see what happens when running [this sample query](https://query.wikidata.org/#SEL

[2018-03-15 06:14] nicolas-raoul commented on #1273
@yashshah7197 Yes please create a Wiki page about this, thanks a lot! :-)

Let's start gathering ideas of apps where the user shares an image + a description.

Snapchat:
Image + description : yes
Relevance of the content: Low (Commons has enough selfies with dog ears)
Probability that they integrate us: About zero :-)
Screenshot:
![screenshot_20180315-150918](https://user-images.githubusercontent.

[2018-03-15 06:19] nicolas-raoul commented on #1308
I would argue that as an app targeting photographers we should strive to offer a visually breathtaking experience, so personally I would be in favour of the second option :-)

[2018-03-15 07:38] misaochan commented on #1308
I am hesitant to have this for our main (contributions) screen prior to the main screen UI overhaul (#725 ). Currently our camera and gallery buttons are on the toolbar, and they are our main function, so I feel we need to have the toolbar available at all times. After #725 has been implemented, it could be a possibility.

As an interesting note, I tested a few popular apps (Gmail and Evernote), a

[2018-03-15 07:48] misaochan commented on #1284
@maskaravivek Sounds like a plan! 👍

[2018-03-15 09:05] 97balakrishnan commented on #1221
@nicolas-raoul  @neslihanturan Will it be nice if we add a save option and share option to individual search result items with proper license and usage details displayed?

[2018-03-15 09:10] misaochan commented on #604
Based on discussion on the gamification issue #85 , I think it would indeed be a good idea for the multiple upload feature to eventually be dependent on the user's upload vs deletion statistics. Perhaps if we do manage to find a way to ascertain % of reverts for a particular username, we can set a requirement like "at least 50 uploads, and less than 10% of uploads are reverted".

That is out of th

[2018-03-15 09:19] 97balakrishnan commented on #1270
Yeah now i can understand the need for  auto updating every 2 seconds is the only option. Sorry.

[2018-03-15 09:25] nicolas-raoul commented on #1221
Yes indeed, if users search for an image I guess they want to do something
with it.
How about just reusing the existing image viewing activity? It has all of
this already :-)

On Thu, Mar 15, 2018 at 6:05 PM, Balakrishnan S <notifications@github.com>
wrote:

[2018-03-15 09:48] 97balakrishnan commented on #1221
Ok thanks :-)

[2018-03-15 10:14] yassbra opened #1311 "instagram profil picture full size invalid url signature"
_
a few days ago I was able to fetch inta profile pic in my android app by removing the part from vp/ to /t51 {vp/...}/t51.. from the pic URL

https://scontent-mrs1-1.cdninstagram.com/vp/xxxxxxxx/t51....jpg

but it doesn't work !!

and change the resolution from s150x150 to s720x720, and it worked fine but now i still get "invalid url signature", so I think Instagram has added signature to their U

[2018-03-15 10:39] nicolas-raoul commented on #1311
Please ask on StackOverflow.
Cheers!

[2018-03-15 10:39] #1311 closed

[2018-03-15 12:15] ujjwalagrawal17 opened #1312 "Integrating crash report service with crashlytics(fabric)"
**Observed Behaviour**

Currently, there is no crash tracking service in the app now.

**Expected Behaviour**

There should be a crash tracking service.

**Steps to Reproduce**

Integrating Fabric crash report service with crashlytics.
Web URL: https://fabric.io/

**Would you like to work on the issue?**

Yes.

[2018-03-15 12:18] ujjwalagrawal17 commented on #1312
We will need an API key for adding this feature.

[2018-03-15 12:36] nicolas-raoul commented on #1312
We are already using the open source https://github.com/ACRA/acra for that.

Crash reports are sent to the private mailing list https://groups.google.com/forum/#!forum/commons-app-android-private

Strangely the crash reports seem to have stopped arriving to the mailing list in January, not sure why, any idea @misaochan ?

We should probably switch to using the same thing as the Wikipedia app.

[2018-03-15 13:45] misaochan commented on #725
I've been thinking about the notification display a bit...

It seems that this display of notifications (the second line in the blue section on the main screen, as per our mockup) will not be as simple as the first line (nearest location). Should we display the LATEST notification always, even if it's a thanks or a user talk message, or should we display the latest file deletion? And what should w

[2018-03-15 13:55] misaochan commented on #1312
@nicolas-raoul Good point, I have no idea! :/ We should probably look into that.

What is the Wikipedia app using again?

[2018-03-15 14:36] neslihanturan commented on #725
You are very right about your concerns @misaochan I am thinking for solution.

[2018-03-15 15:11] Bluesir9 commented on #1312
It looks like Wikipedia uses [Hockey](https://www.hockeyapp.net/)

[2018-03-15 15:39] Bluesir9 commented on #781
Is this still in the plans? If so, I would like to pick it up. I am guessing there should be an API which gets the list of recently uploaded images along with the details about where they were taken and we would simply populate them on the map. I don't use Snapchat but the image @nicolas-raoul  attached would be a good place to start.

[2018-03-15 16:00] #1310 closed

[2018-03-15 17:41] #1054 closed

[2018-03-15 18:36] knight-shade commented on #1308
@nicolas-raoul Exactly why I am in favour of second option.
@misaochan Yup, even I think it would be good after main screen UI overhaul (#725) gets merged. Google photos have hide/show toolbar behaviour, same for Whatsapp as well as linkedin.
Yup, the toolbar behaviour should be consistent across the app.

[2018-03-15 19:51] gupta-meghna64 commented on #274
When I started using the commons app, as a beginner I wasn't aware about the exact meaning of each licence while uploading the images. So I think it's important for us to make the user understand which license he/she should opt for while uploading the image.
Thus, it would be great if we could add a brief description about each license in the tutorial itself which would thus avoid the user randoml

[2018-03-16 02:48] nicolas-raoul commented on #1312
Hockey is proprietary, that's surprising.
As crash reports contain private information, it might be worth asking WMF.

[2018-03-16 02:56] nicolas-raoul commented on #781
I still think it would be a cool feature to add :-)
It would show the whole world map, so it would be different from Nearby (a map of nearby recent uploads most be desperately empty most of the time).

I don't know any API that gives this, if you could find it that would be wonderful :-)
Good places to ask would be https://commons.wikimedia.org/wiki/Commons:Village_pump and Stack Overflow.

[2018-03-16 03:01] nicolas-raoul commented on #274
@gupta-meghna64 Great point! Could you please create a new issue about this? Thanks!

[2018-03-16 03:09] gupta-meghna64 commented on #274
@nicolas-raoul Sure, I will :)

[2018-03-16 04:45] gupta-meghna64 opened #1316 "Introducing a brief explanation of image license"
#### Summary
There should be a brief explanation of the licenses of images in the application to prevent the user from randomly choosing any license.
For example-
There should be an explanation about:
1) CC0
2) Attribution 3.0
3) Attribution-ShareAlike 3.0
4) Attribution 4.0
5) Attribution-ShareAlike 4.0

#### Commons app version
Commons 2.6.7

#### Would you like to work on the issue?
Yes!

It wo

[2018-03-16 04:51] Bluesir9 commented on #781
Cool, will get started on that and post my findings.

[2018-03-16 04:58] nicolas-raoul commented on #1316
How about a (?) link at the right of the selection gadget, that opens a page on our Wiki or https://commons.wikimedia.org/wiki/Commons:First_steps/License_selection in the user's language?

[2018-03-16 06:55] Jatin0312 opened #1317 "Dividing nav bar into sections."
**Summary:**

1. We can divide navbar into section as it would look better than the existing nav bar.

**Expected behavior:**

![navbar2](https://user-images.githubusercontent.com/17095817/37507407-57448cf6-2914-11e8-919b-bd31e2d9ec2e.jpeg)

It's just a sample from fasthub application.

**Observed behavior:**

![navbar](https://user-images.githubusercontent.com/17095817/37507520-e1bf9222-2914-11e8

[2018-03-16 07:33] nicolas-raoul commented on #1317
What sections do you suggest?

On Fri, Mar 16, 2018 at 3:55 PM, Jatin0312 <notifications@github.com> wrote:

[2018-03-16 07:38] Jatin0312 commented on #1317
We can divide section into 3 parts
1. First section containing Home
2. Second section containing Nearby, Notification and Tutorial
3. Third section containing About, Settings, Feedback and logout

These are just suggestions we can change it accordingly.

[2018-03-16 08:15] #1282 closed

[2018-03-16 08:45] neslihanturan commented on #1157
@maskaravivek what is your opinion for this discuttion?

[2018-03-16 09:01] gupta-meghna64 commented on #1316
@nicolas-raoul that sounds great! I'll start working on it :)

[2018-03-16 09:23] madhurgupta10 commented on #1317
@Jatin0312 I don't think it is required, the navigation bar looks good.

[2018-03-16 09:26] misaochan commented on #1317
How do you plan on organizing the current nav bar?

I am open to this if the organization makes sense. :) We should probably ask @neslihanturan though.

[2018-03-16 09:27] misaochan commented on #274
@gupta-meghna64 Sounds like a good idea to me, but I'm not sure we need this in the welcome tutorial itself (remember, users always have to click through all of it with each fresh install ;)). Rather, I would recommend having it in the upload screen where the licenses are selected.

Please link the new issue here when you create it, thanks! :)

[2018-03-16 09:28] neslihanturan opened #1318 "Wrong URL not found toast"
**Summary:**

URL not found toast is visible when license is null (I am not sure if this case is possible). The related code is here:
[code]
However I can go to the license page by clicking license, so it shouldn't be null.

**Steps to reproduce:**

I faced this issue with some images. Just click on images to see media details page. However, this doesn't happen on each images, so try several:)

**

[2018-03-16 09:34] neslihanturan commented on #1317
I think organization is a good idea since we have several items. But I don't think suggested organisation is a good idea. My suggestion is:

- Our main features are home and nearby.
- Account or app related things are notifications, settings and logout (Logout should be at the end of everything)
- Information and communication with developers things about, tutorial and feedback

[2018-03-16 09:38] Jatin0312 commented on #1317
I think @neslihanturan organization suggestion given by you is really nice :)
Just in case for Logout we can create separate section since it should be kept at last.

[2018-03-16 09:44] #1004 closed

[2018-03-16 09:56] #1179 closed

[2018-03-16 10:28] Jatin0312 commented on #1317
It would look something like this:

**Screenshots**
![nav5](https://user-images.githubusercontent.com/17095817/37516031-dd777a9a-2932-11e8-88b5-9cf4c5a19e84.jpeg)

[2018-03-16 10:38] #1301 closed

[2018-03-16 10:55] #1262 closed

[2018-03-16 11:04] #1275 closed

[2018-03-16 11:15] #1287 closed

[2018-03-16 11:32] yashshah7197 commented on #1318
Hey @neslihanturan I would like to work on this issue. Thanks! 😄

[2018-03-16 11:33] yashshah7197 commented on #1273
@nicolas-raoul On it! I'll have it up by night! 👍

[2018-03-16 11:46] #1294 closed

[2018-03-16 12:33] tanvidadu commented on #1316
@gupta-meghna64 I am already working on a class that would fetch a token for url based on the language selected by the user. I can simply add the functionality to fetch the token for this url too. You can continue from there. It will save a lot of effort.

[2018-03-16 13:07] maskaravivek commented on #1157
As I said,

We should rather debug issues which come because of these util methods. :)

[2018-03-16 13:35] blue-atom commented on #1306
I would like to work on it

[2018-03-16 13:41] neslihanturan commented on #1157
Closing it then

[2018-03-16 13:46] #1198 closed

[2018-03-16 13:54] neslihanturan commented on #1306
It is already assigned to @tanvidadu , @blue-atom . If she decides to leave it, you can start to work on it.

[2018-03-16 18:01] psh commented on #1309
The algorithm steps outward and performs multiple queries. If it updated the GUI each time it received data then you would start seeing results quicker - you'd see the circle of map pins expand - in a series of steps. Your're right that each query takes a while before showing results, but, there's no point forcing the user to sit there if we do have usable data to give them.

[2018-03-16 18:01] neslihanturan opened #1322 "Direct nearby uploads fab buttons visibility problem"
**Summary:**
On Direct Nearby Uploads New branch visibilities of FABs are problematic.

**Steps to reproduce:**

Get the code in directNearbyUploadsNew branch.
- Go Nearby Activity.
- Select a marker.
- Click to plus fab
- Press back button until bottom sheet is hidden.
- You will see FABs on left upper corner for a moment.*
- If you try to click around naw draver icon FABs will appear again with

[2018-03-16 18:36] Jatin0312 commented on #1322
While I was adding recenter button I also faced problem in which fab button was not getting displayed in Android version 19.
I resolved it by adding fab button below linear layout in the relative layout.
I would like to work on this issue and see if I can resolve it.
Thanks :)

[2018-03-16 19:07] neslihanturan commented on #1322
Actually they are visible, our problem is a little different. But still I will be appreciated if you find a solution. However, I suggest not to assign this task to nobody (so that everyone can try to find a solution simultaneously) since it needs to be solved as soon as possible.

[2018-03-16 19:09] Jatin0312 commented on #1322
Sure @neslihanturan it would be better not assigning to anyone since everyone can try :)

[2018-03-16 21:12] knight-shade commented on #1318
@neslihanturan I upload a sample image with similar licence `cc-zero`, but it opened in browser.

[2018-03-16 21:42] Jatin0312 opened #1323 "App crashing while uploading certain pictures."
**Summary:**
I tried to upload one picture the app crashed. But it's not happening with every picture that I try to upload. Happens with picture located in content://com.android.providers.downloads.documents/document/

**Steps to reproduce:**
Open app and click on upload picture and try to upload picture(Does not happen with every picture).

**Add System logs:**
[code]

**Expected behavior:**
It s

[2018-03-17 02:18] hjoshi123 commented on #1221
Hello Everyone. I am Hemant and I am an 2nd year undergraduate from India. I would very much like to work on this project. Could you just tell me how to get started?
@nicolas-raoul Also should the search bar contain auto-complete option?

[2018-03-17 03:49] hjoshi123 commented on #1130
Can anyone tell me when does bug 1130 (a) occur?

[2018-03-17 04:19] hjoshi123 commented on #1323
I would like to work on this. Can you briefly explain what might be or what is causing this error?
Is related to size of the images or the MIME type or something?

[2018-03-17 04:34] hjoshi123 commented on #1130
I got a fix for getting mime type from camera. @nicolas-raoul is it correct and is it related to 1130 (a)
[code]

[2018-03-17 06:05] neslihanturan commented on #1318
Actually @knight-shade, it is not directly related with license type, I have other images with this license and this toast isn't displayed. However, going media detail view of some pictures (I don't know what is special with them) causes this toast become visible. Even with those pictures we are still able to click on license and go to the correct page. So toast gets displayed while license is not

[2018-03-17 06:51] knight-shade commented on #1318
@neslihanturan That's really strange :confused: That means both the `if` and `else` are getting executed :astonished: , moreover the mentioned toast is the only code that uses string `Error: URL not found`.  I tried with more images, not able to reproduce the bug. Removing only seems to be optimal solution. Shall I create PR for it?

[2018-03-17 06:59] Jatin0312 commented on #1323
Hi @hjoshi123 I don't think it is related to size actually and I already have a fix for it.
In the method getPath located in FileUtils class.
[code]
Changing
` Uri.parse("content://downloads/public_downloads"), Long.valueOf(id));`
to this
` Uri.parse("content://downloads/document"), Long.valueOf(id));`
seems to work fine.
I have tested this on 3 device.
Moto G4 plus Android 7.0.0
Xiaomi Android 8.

[2018-03-17 07:00] neslihanturan commented on #1318
Since it is low priority, maybe we can wait someone else to discover this issue with its reason. What so you say @knight-shade ?

[2018-03-17 07:01] knight-shade commented on #1318
Ya , sure @neslihanturan  :+1:

[2018-03-17 07:10] knight-shade commented on #1323
@Jatin0312  How old is your fork? I am unable to find `getPath` method in FileUtils class.

[2018-03-17 07:14] Jatin0312 commented on #1323
No I think it's still there I'm checking from original repo.

[2018-03-17 07:15] knight-shade commented on #1323
It's not there in the original repo as of now.

[2018-03-17 07:16] Jatin0312 commented on #1323
I will check and confirm.

[2018-03-17 07:29] neslihanturan commented on #1322
- Checking visibility in action listeners solved wrong actions +
- Currently working on being displayed very short moment before getting hidden

Then this issue will be done.

[2018-03-17 07:43] Jatin0312 commented on #1323
@knight-shade I saw this method here if I'm wrong please correct me.
Sorry if I'm wrong with this.

![confirming](https://user-images.githubusercontent.com/17095817/37552944-763ad86a-29e4-11e8-85c0-29dfd22fb3b2.png)

[2018-03-17 10:18] tanvidadu commented on #85
@nicolas-raoul @misaochan @maskaravivek @tobias47n9e  when a user receives a barnstar on a image uploaded via commons, is he/she notified through notifications?

[2018-03-17 12:01] O-O-Balance commented on #1323
The problem appears to be in `upload.ShareActivity`:

    private void findOtherImages(boolean gpsEnabled) {
        Timber.d("filePath"+getPathOfMediaOrCopy());
        String filePath = getPathOfMediaOrCopy();
        long timeOfCreation = new File(filePath).lastModified();//Time when the original image was created
        File folder = new File(filePath.substring(0,filePath.lastIndexOf('/')));

[2018-03-17 13:41] Jatin0312 commented on #1323
Here's the complete process which got this crash for better understanding.

Link : https://drive.google.com/open?id=13-rWrsrZsJWzkDq68j3NvF17JJXX7RU3

[2018-03-17 13:41] Jatin0312 commented on #1323
@O-O-Balance ya you are right there should be null check but the problem here I guess is about finding the location of file correctly.

[2018-03-17 13:43] hjoshi123 commented on #1323
@Jatin0312 I think the problem is that the URI is pointing at a temporary location. So next time you refer it its returning null. A better approach might be to directly get the file location instead of using URI's. I am working on a fix considering this. Please let me know your opinion

[2018-03-17 13:48] Jatin0312 commented on #1323
Ya I already have a fix for it
https://github.com/commons-app/apps-android-commons/issues/1323#issuecomment-373899479
It was working till now. I'm testing on more device right now.
Ya you are correct It's about the location problem.

[2018-03-17 13:49] hjoshi123 commented on #1323
Cool @Jatin0312 Lemme know if the crash is fixed

[2018-03-17 16:53] Ketharan commented on #1298
Considering the signup process when a user signing up the checking for whether the username exists in the system is done currently after pressing the signup button. It is difficult to going for new user name again and again while retyping the password and responding to recaptcha...... It will be better the user existence test is done during onchange trigger of the username field.

[2018-03-17 19:29] Ketharan opened #1325 "Check for whether username exists during username element change"
**Summary:**
When signing up through the app the checking for whether the user exists in the system done after pressing the signup button. Most of the times it ends up in multiple signup attempts.

**Steps to reproduce:**
A signup with existing user name will reproduce.

**Expected behavior:**

The check up for the user existence should be checked after the 'onchange' trigger of the username field

[2018-03-18 04:40] yashshah7197 commented on #1273
@nicolas-raoul @neslihanturan I've written the wiki page and it can be found [here](https://github.com/commons-app/apps-android-commons/wiki/Passing-an-image-to-the-app). Please let me know if any changes are to be made! 👻

[2018-03-18 07:45] tanvidadu commented on #1126
<img width="192" alt="map_in_description_layout" src="https://user-images.githubusercontent.com/29161745/37563745-c00b5cfc-2aad-11e8-8e42-5ababbf60451.png">

This is the mockup of layout with icon to open map.
I was thinking of using the coordinates already present in the imageObj in the shareActivity to get the latitude and longitude and then open the map at that specific location.
@nicolas-raoul

[2018-03-18 08:50] neslihanturan commented on #1126
I am not sure about showing icon next to description @tanvidadu

[2018-03-18 09:08] tanvidadu commented on #1126
I can change its location to toolbar next to arrow icon which will be visible only when user starts typing in Description/Title EditText ?
This way it would be intuitive for user to know that map icon has something to do with description/title.

[2018-03-18 09:30] misaochan opened #1329 "Current issues with direct Nearby uploads"
**Summary:**

I thought we should probably keep a list of issues we are experiencing with the directNearbyUploadsNew feature branch, so we don't miss anything out before releasing to production. Please feel free to edit this post to add issues or detail for issues.

**Steps to reproduce:**

Build from `2.7.x-release` and test the Nearby feature

- [x] 1. Memory leaks PR #1390
- [x] 2. Crash when l

[2018-03-18 09:40] neslihanturan commented on #1329
3. Crash on orientation change

Then we are done. Btw weird, I could upload as far as I remember.

[2018-03-18 09:42] misaochan commented on #1329
I think the crash was caused by re-loading the map after submitting the upload, since the line pointed to was a "IndexOutOfBounds" error at `LatLng[] boundaryCoordinates = {places.get(0).location,   // south`. But I have not been able to reproduce it.

[2018-03-18 09:53] misaochan commented on #1329
@neslihanturan I found a couple more issues. Sorry! :D

[2018-03-18 10:15] gupta-meghna64 commented on #844
@nicolas-raoul This is strangely weird. I tried with exactly the ones you tried, and they're appearing at the top of list for me :-/

[2018-03-18 11:35] devaar100 opened #1331 "Feedback navigation drawer"
**Summary:**
The feedback should only show mail apps

**Observed behavior:**
All apps with messaging ability are listed and on selecting non-mail ones error is shown

**Comments:**
Its a petty issue but i thought i should mention it

**Would you like to work on the issue?**
I would like to work on this

[2018-03-18 12:31] devaar100 opened #1332 "Contribution Image auto/manual refresh if fetching fails"
**Summary:**
The images and related metadata don't auto refresh nor a manual refresh facility is there if there was an error downloading the data earlier

**Steps to reproduce:**
1) Turn off the net connection and turn on the app
2) After caching fail toast is displayed select a contribution
3) Image info and metadata aren't available ( Turn on net connection but no auto fetching or refresh button

[2018-03-18 12:56] wailbabou commented on #1284
@maskaravivek  I start working on this

[2018-03-18 12:59] ujjwalagrawal17 commented on #1284
@wailbabou we already have a PR on this issue by @aniket1897

[2018-03-18 13:02] wailbabou commented on #1284
@ujjwalagrawal17  but there is no comments from him since 5 days ! , and you said :[ If it takes more than two days, please post other comments at least every two days]

[2018-03-18 13:12] ilimugur commented on #124
@neslihanturan I am planning to submit a proposal for GSoC on [the project idea](https://phabricator.wikimedia.org/T188877) you are mentoring, and I thought it would be helpful to start working an issue or two. Do you think this issue would be a good starter to familiarize myself with the code?

[2018-03-18 13:13] harisankerPradeep commented on #85
The idea of reputation and awarding tags sounds great! But it becomes attractive only if we can show some kind of statistics on how many people have x points or who has the most coveted tag or so on. If the user doesn't have any context i.e if he doesn't know how many people have x reputation or how coveted the tag of "Raw guru" is it becomes rather pointless, doesn't it?
@nicolas-raoul @misaochan

[2018-03-18 13:56] amire80 opened #1333 ""about rate us" message is empty"
**Summary:**

The message "Commons-android-strings-about rate us" is empty:
https://translatewiki.net/w/i.php?title=Special:Translations&message=Wikimedia%3ACommons-android-strings-about+rate+us%2Fhe

It should probably deleted, fixed, or ignored.

**Steps to reproduce:**

See translatewiki.

**Expected behavior:**

There must be no translatable messages in translatewiki that are empty strings.

[2018-03-18 14:24] gupta-meghna64 commented on #1331
Hi @devaar100 this issue is similar to #1203 and has already been worked upon :-)

[2018-03-18 19:26] neslihanturan commented on #124
Since this is beginner friendly, go for it @ilimugur :) But the issue is old, firstly please check if the problem still exists.

[2018-03-18 20:59] ilimugur commented on #124
I already have, actually. I built the code on Android Studio and tried uploading an .ogg file using an emulator, but it seems the files (i.e. I tried 2 different ones) look grayed out, and can not be selected for upload. Same thing occurs when I tried using my physical device via the official distribution of the app in the Play Store.
Is there some other way to upload audio files via the app that

[2018-03-19 04:37] Mansi449 commented on #1284
Hi @ujjwalagrawal17, I would like to work on this issue

[2018-03-19 07:05] nicolas-raoul commented on #1284
@aniket1897 if you have made any progress on this please tell us, thanks!

[2018-03-19 07:18] nicolas-raoul commented on #1331
So I guess this can be closed?
@devaar100 feel free to reopen if you find something not covered yet, thanks :-)

[2018-03-19 07:18] #1331 closed

[2018-03-19 07:28] nicolas-raoul commented on #85
@tanvidadu Giving a barnstar is just writing a paragraph on a user's talk page, so there is no special notification, just the generic notification that someone wrote on your talk page.

@harisankerPradeep Most wiki editors edit for their own pleasure and don't compare themselves to others ( notable exception: https://en.wikipedia.org/wiki/Wikipedia:Editcountitis )
I have never seen any page listin

[2018-03-19 07:48] aaronpp65 commented on #75
Hai ,
My name is Aaron.So i am interested in contributing to the Commons App for GSoC18 to allow users to browse.So i was wondering if i could use image processing,Like when the user uses the camera to take a photo,the app scans the area and gives possible suggestions which could include users see other people's work etc.
we could use TensorFlow lite
and an image processing model like Inception-v3

[2018-03-19 07:50] nicolas-raoul opened #1334 "Refactor variable names of nearby_query.rq"
**(Please don't work on this before June 2018, as the file is currently being worked on)**

Right now we have a mix of snake_case and camelCase at app/src/main/resources/queries/nearby_query.rq

Please note that refactoring must also be done in the Java source code, and tested.

[2018-03-19 08:20] nicolas-raoul commented on #75
@aaronpp65 basic questions about this solution:
- Does it work offline?
- What is the size (kilobytes) of the part we must embed in our app's APK?
- What is the license of the whole thing? (if it does not work offline, please cite the license of the server part too)
Thanks :-)

[2018-03-19 08:54] aniket1897 commented on #1284
Yes I am working on the issue

[2018-03-19 09:30] neslihanturan commented on #1329
@misaochan I will be looking at those issues today, can you write your new couple more issues too?

[2018-03-19 09:38] misaochan commented on #1329
I added them to the opening post yesterday already. Thanks! :)

[2018-03-19 09:40] diddypod commented on #1221
I think we can try to expand the scope of the project a bit and allow users who aren't logged in to browse Commons and upload images as well. It won't require a very drastic refactoring of the application, since MediaWiki and the APIs support anonymous edits (in a manner of speaking, it attributes it to the IP address of the user, instead).
However, the ContributionsActivity would have to go (for

[2018-03-19 09:50] diddypod commented on #1238
Allowing users who aren't logged in to upload images won't require a very drastic refactoring of the application, since MediaWiki and the APIs support anonymous edits (in a manner of speaking, it attributes it to the IP address of the user, instead).
However, the ContributionsActivity would have to go (for a user who isn't logged in, that is) , since the IP of a mobile user will keep changing.

Fu

[2018-03-19 10:32] #1139 closed

[2018-03-19 10:43] neslihanturan opened #1335 "Improve our new feature "delete nomination""
**Summary:**
We have added nomination for deletion option after @diddypod 's contribution  #1297. Now there can be some improvments before release:
- Firstly the button can have a better UI
- User shouldn't be able to click delete button second time. Maybe disabling the button is a better option rather than displaying an alert after nomination message it accepted.

Other improvement ideas are welc

[2018-03-19 11:08] diddypod commented on #1335
I'd like to finish this up. Is that okay, @neslihanturan?

[2018-03-19 11:12] neslihanturan commented on #1335
Assigned to you @diddypod , thanks!

[2018-03-19 12:37] aaronpp65 commented on #75
*It’s machine-learning on the go, without the need for connectivity.
*TensorFlow Lite is < 300KB in size when all operators are linked and <= 200KB when using only the operators needed for standard supported models (MobileNet and InceptionV3).
*TensorFlow is an open-source software,it was released under the Apache 2.0 open source license

[2018-03-19 13:59] mashawan commented on #953
<bump> ;-)

[2018-03-19 13:59] mashawan commented on #953
--bump-- ;-)

[2018-03-19 15:45] neslihanturan commented on #1329
+1 Bug, if you click one of nearby markers and make information bottom sheet visible, then go to settings and change theme, app will crash when you re-start nearby activity. Editing first entry accordingly.

[2018-03-19 15:54] devaar100 opened #1336 "Search button Contribution Fragment List"
**Summary:**
Adding search facility for Contributions Fragment List

**Expected behavior:**
Quick fetching desired contribution

**Observed behavior:**
Scrolling through all contributions made till date

**Would you like to work on the issue?**
I would like to work on this

[2018-03-19 16:01] neslihanturan commented on #1336
Can you explain it more specifically @devaar100 ?
- Search by what (title, category, date)?
- Do you have any mockups in your mind?
- How will we desire contributions? Do we have an input field?

Please re-edit your first post included more details, current status doesn't too much anything to me:/

[2018-03-19 16:31] Bluesir9 commented on #781
The API we are looking for is [this](https://www.mediawiki.org/wiki/API:Allimages). For whatever reason, I am not able to run it on the wikimedia commons base url in the API sandbox but an example query would be something like [this](https://commons.wikimedia.org/w/api.php?action=query&format=json&list=allimages&aisort=timestamp&aidir=descending&aiprop=user|metadata|mediatype|timestamp|url|mime|co

[2018-03-20 06:30] Mansi449 commented on #1258
@Nikerabbit @misaochan  I would like to work on this issue!

[2018-03-20 08:56] aaronpp65 commented on #75
Yes the library gives you a word like "leopard" or "container ship" but it happens when we use a pre-trained Incpetion v3. Its trained using Imagnet data set.
So instead of using a pretrained model, we can train the Inception model using our own wikimedia commons dataset.Hence we will get strings similar to that of the commons.Then we can query this string in the commons database and retrieve othe

[2018-03-20 09:47] wailbabou opened #1339 "Nearby Activity Floating Action buttons"
**Summary:**
1 ) I'm using **directNearbyUploadsNew** branch
By going to NearbyActivity i got the application stopped message
it said :

`Attempt to invoke virtual method 'android.graphics.drawable.Drawable android.graphics.drawable.Drawable$ConstantState.newDrawable()' on a null object reference`

2 ) also after fixing that , and by choosing a marker from the map
there no icons inside [fab_galery

[2018-03-20 09:50] wailbabou commented on #1322
i was working on it , and i got this errors
[issue](https://github.com/commons-app/apps-android-commons/issues/1339)

[2018-03-20 10:00] wailbabou opened #1340 "Unable to get provider [ ModificationsContentProvider ]"
I'm using **directNearbyUploadsNew** branch
with sdk 19 , after installing the application and lunch it , it crush with this error :
`Unable to get provider ModificationsContentProvider `
After searching i find this :
[StackOverFlow question ](https://stackoverflow.com/questions/37312103/unable-to-get-provider-com-google-firebase-provider-firebaseinitprovider)

After using Application instead of M

[2018-03-20 10:05] neslihanturan commented on #1339
Is it happening on emulator? If it crashes on activity start how did you managed to get screen shoots?

[2018-03-20 10:05] neslihanturan commented on #1322
Actually if you look at the referenced PR, you will see this issue is solved already.

[2018-03-20 10:05] #1322 closed

[2018-03-20 10:07] wailbabou commented on #1339
@neslihanturan  no , with real device
and the screenshot is for the second issues ( because after changing `android` with `app` )
the app was working but there is no icons ( because of vector drawable )

[2018-03-20 10:08] neslihanturan commented on #1339
Plus, there are icons in the buttons but since you set button background to same color, they are not distinguishable I guess:)

Because background of these buttons should be white.

Can you try your changes on a pre-lollipop emulaor? The reason for android:backgroundTint="@color/button_blue" was prelollipop devices.

[2018-03-20 10:11] neslihanturan commented on #1340
Yes, this one was expected. The error used to exist in master branch too, but it is solved. However, dNUnew branch doesn't have the fix yet. We decided not to add since we are about to merge that branch to master very soon:)

You can add this code before testing to solve crash at least, this is how I do, https://github.com/commons-app/apps-android-commons/pull/1237/files

[2018-03-20 10:14] neslihanturan commented on #1339
Also, it is great someone is testing our new branch since there can be several bugs waiting to be discovered. Thanks for your interest @wailbabou :)

[2018-03-20 10:15] wailbabou commented on #1339
<img width="336" alt="screen shot 2018-03-20 at 11 11 31 am" src="https://user-images.githubusercontent.com/17969012/37648513-7c42692e-2c2f-11e8-9636-82eb327bd757.png">
without [ android:backgroundTint=""]
by the way [ android:backgroundTint ] was used only with [fab_list] FAB , but the others use [app:backgroundTint]

[2018-03-20 10:18] neslihanturan commented on #1339
Can you explain your last screen shot more briefly please?

[2018-03-20 10:30] wailbabou commented on #1339
Just i used an emulator with pre-lollipop version , where i used  [app:backgroundTint] instead of  [android:backgroundTint] and it worked fine

and when i put it back [ android:backgroundTint ]
i get this error :
<img width="986" alt="screen shot 2018-03-20 at 11 27 01 am" src="https://user-images.githubusercontent.com/17969012/37649318-ac606e74-2c31-11e8-8cc9-42b5c33f4bd4.png">

____
and about th

[2018-03-20 10:32] wailbabou commented on #1340
it was the same one that i used to lunch it :) , thank you

[2018-03-20 10:34] #1340 closed

[2018-03-20 10:35] neslihanturan commented on #1339
Can you please push your changes on a PR so that I can also test on a physical pre-lollipop device

[2018-03-20 10:53] nicolas-raoul commented on #75
@aaronpp65 Very impressive, thanks!
Requiring connectivity during training is no problem, of course.
But using Commons as a training set unfortunately sounds difficult, because:
- Most Commons category have only 10 files or less, which is not enough for training.
- Commons images are usually not fit for training, for instance these are images in https://commons.wikimedia.org/wiki/Category:Containe

[2018-03-20 11:00] wailbabou commented on #1339
done

[2018-03-20 11:44] wailbabou commented on #1270
i tried before to use LocationListener , where i listen for user position changes , to change his marker position , this is the app [weHelp](https://play.google.com/store/apps/details?id=care.wehelp)
if this is the same case , i can handle it
with :
- using locationlistener for every 10 or 20 / 50  meters to update the map without user intervention , and without testing every 2 seconds for example

[2018-03-20 11:50] neslihanturan commented on #1270
But in any case it will be dependent to meter or seconds, or both. Meter metric can be risky since speed can differ. So we have MIN update limit for meter and second.
MIN 2 seconds and MIN 10 meters if location data changed.
[code]

[2018-03-20 12:03] nicolas-raoul commented on #781
@Bluesir9 Your example query seems to work, thanks!
Is there a way to tweak that query so that it also gives the latitude/longitude?
Without the latitude/longitude we would need to request the metadata page for each picture, which would take more time. We also need the URL to a thumbnail of the picture, to show it as a pin on the map :-)

[2018-03-20 12:14] Bluesir9 commented on #781
I found the latitude and longitude as part of the "metadata" field for one one of the entries in the response. So I think that is where we will find the GPS data. I guess the takeaway from this is that a lot of pictures will not contain the latitude/longitude data which might make things tricky for us.

The URL is already their as part of the response, its the "url" field.

[2018-03-20 12:47] Steinsplitter commented on #1296
There is a RRS feed (with i18n) which could be used: https://commons.wikimedia.org/w/api.php?action=featuredfeed&feed=potd&feedformat=rss&language=en

https://commons.wikimedia.org/wiki/Special:ApiSandbox#action=featuredfeed&format=json&feedformat=rss&feed=potd

[2018-03-20 14:47] devaar100 commented on #1336
@neslihanturan
Searching via title
I was wondering if an expandable search bar button can be included in toolbar which on click expands to take input
The titles with the input as subsequence can then be filtered and shown in the contributions fragment list

[2018-03-20 14:54] Mansi449 commented on #1323
@Jatin0312 I would like to fix this issue. Please assign it to me!

[2018-03-20 15:25] Jatin0312 commented on #1323
Hi @Mansi449  Actually I think I have a fix for this issue. Just waiting for mentors to confirm this issue.

[2018-03-20 15:26] knight-shade commented on #1336
@devaar This might vary from person to person, but how many pictures names do we remember exactly ? I have uploaded around just 10 images during development and hardly remember any names, but hey that's just me. :smile:

[2018-03-20 16:52] madhurgupta10 commented on #1296
@Steinsplitter nice find, and XML Seems fine to me.
@maskaravivek @nicolas-raoul Sir should I go with [this](https://commons.wikimedia.org/w/api.php?action=featuredfeed&feed=potd&feedformat=rss&language=en) or should I continue the other way. I think [this](https://commons.wikimedia.org/w/api.php?action=featuredfeed&feed=potd&feedformat=rss&language=en) is one is better as one request is better th

[2018-03-20 17:24] devaar100 commented on #1336
@knight-shade the picture will be retrieved based on input being a substring so no need to remember full names 🙂

[2018-03-20 17:27] aaronpp65 commented on #75
Yeah.....So mapping ImageNet with commons should do the trick

[2018-03-20 18:29] aaronpp65 commented on #75
@nicolas-raoul will you please check my draft and give possible feedbacks.
Thanks

[2018-03-20 19:03] Mansi449 commented on #1244
@nicolas-raoul I would like to work on this issue. Please assign this to me.

[2018-03-20 19:06] madhurgupta10 commented on #1244
@Mansi449 Hi, I am already working on the issue.

[2018-03-20 19:09] Mansi449 commented on #1244
Okay, the `assigned` tag was not there, that's why I chose this issue

[2018-03-20 19:11] madhurgupta10 commented on #1244
@Mansi449 there are a lot of pending issues, go check them out. :)

[2018-03-20 20:09] utsha1510 commented on #868
if in case we can choose an entirely new one, I can design one.

[2018-03-20 20:32] wailbabou commented on #1329
[ 6 ] onStateChanged  called with STATE_SETTLING then STATE_HIDDEN  after changing theme ( `recreate()` ) and going back to nearByActivity

Surrounding this line `getView().requestFocus()`  with try catch fixed it , even if it's not good solution

[2018-03-20 21:23] diddypod commented on #1335
We can also display the ongoing deletion process, as @neslihanturan suggested. Some ways to do that would be
- an alert with a progress bar and the exact status of the deletion process
- a series of Toasts, as each part of the tasks is completed
- an notification with a progress bar and status of the deletion of the process

I prefer the first one.

[2018-03-20 21:40] ujjwalagrawal17 commented on #324
I did some research on finding list of images in a particular category. But was unable to find that API. instead we can use [API:Images](https://www.mediawiki.org/w/api.php?action=help&modules=query%2Bimages) to find all images in a particular page.

Also I think most of the images from [Category:Featured_pictures_on_Wikimedia_Commons](https://commons.wikimedia.org/wiki/Category:Featured_pictures_

[2018-03-20 21:41] ujjwalagrawal17 commented on #324
Can I work on this issue?

[2018-03-20 23:18] Yahhi commented on #171
Can I try to solve some of the current issues?

[2018-03-21 05:17] nicolas-raoul commented on #781
Just ignore pictures that do not have latitude/longitude.

I wonder if you can make coordinates appear by modifying the `aiprop` property's value in your query.

[2018-03-21 06:18] Bluesir9 commented on #781
You can find the possible values for aiprop [here](https://www.mediawiki.org/wiki/API:Allimages). There is no explicit field we can use to fetch the coordinates.

That said, I will start working on this now.

[2018-03-21 07:33] neslihanturan commented on #171
Sure @Yahhi we have lots of them:)

[2018-03-21 07:54] neslihanturan commented on #1335
I really couldn't decide yet @diddypod , we really wouldn't want to block the user if we can work on background. But if we do so (what the PR does currently), everything become confusing according to my tests.

My suggestion is such a flow:
- Displaying "nominate deletion" button as is
- When user clicked on that button, displaying a toast "your request taken" (with better english)
- Putting a pro

[2018-03-21 07:55] neslihanturan commented on #324
Hi @ujjwalagrawal17 , did you noticed the UI is already ready on another branch. And the rest is in our IEG plans. Besides, if you feel ready to start a non-beginner friendly task please go for it:) I will assign it to you.

[2018-03-21 08:01] Jatin0312 commented on #1317
Hi @neslihanturan if this organisation is Ok should I create a PR for this.
Thanks :)

[2018-03-21 08:08] misaochan commented on #324
Hi @ujjwalagrawal17 , sorry, we would like to be able to assign this issue to you, but it is already in our IEG plans for the next few months. Please do take a look at one of our other issues, thanks. :)

[2018-03-21 08:08] neslihanturan commented on #1317
Sorry, I missed this one somehow :( Waiting for your PR @Jatin0312

[2018-03-21 08:09] 97balakrishnan opened #1344 "App crash on uploading image"
**Summary:**

After i upload images, and select the categories, the app crashes after 3 seconds.
This happens on the featuredImages branch
After relaunching the app, the number of uploads is not correct.

**Steps to reproduce:**
Upload images, set title,desc and select the category. After saving, the app crashes.

**Add System logs:**

03-21 13:17:08.418 32126-4172/fr.free.nrw.commons.debug E/Andr

[2018-03-21 08:12] neslihanturan commented on #1336
@devaar100 I also never needed to search among my contributions. Let's ask if this is needed to our frequent contributors. Did you ever need such a feature @nicolas-raoul and @VojtechDostal ?

[2018-03-21 09:12] 97balakrishnan commented on #1309
@nicolas-raoul Thank you for letting me know about the behaviour of SPARQ ,so i think the 2nd point won't be necessary. About point 1 I'll implement and see if there is any improvement.

[2018-03-21 09:15] 97balakrishnan opened #1345 "Progressbar not visible"
**Summary:**

The progressbar while loading activities is not visible in some devices

**Steps to reproduce:**

I opened nearby activity, I couldn't see the progressbar spinning in my phone.

**Screencast**
![link](https://media.giphy.com/media/8YyZVfjwyBAEHIiOo4/giphy.gif)

**Device and Android version:**
Android 6.1

**Commons app version:**

2.6.7-debug-master

[2018-03-21 09:26] VojtechDostal commented on #1336
I don't consider myself a very prolific contributor but I've uploaded a few hundred pics and needed to search for them once or twice. And even then I wouldn't want to search them on my phone because I'd use the file name for some downstream applications which are not mobile friendly.

So in this case I'd be against complicating our app, keeping it lightweight and free of unneeded functions.

[2018-03-21 10:11] neslihanturan commented on #1345
@97balakrishnan  please leave NearbyRelated tasks for now since we are changing whole Nearby classes currently.

[2018-03-21 10:11] #1345 closed

[2018-03-21 10:24] neslihanturan commented on #1344
Does this happens on master @97balakrishnan ? Since featured images branch is not stable yet, we can say some crashes are normal.

[2018-03-21 10:25] #1339 closed

[2018-03-21 10:36] 97balakrishnan commented on #1344
Ok

[2018-03-21 10:36] neslihanturan commented on #1336
Since general attitude is keeping our app simle, closing this issue. You can re-open it whenever you want

[2018-03-21 10:36] #1336 closed

[2018-03-21 10:37] neslihanturan commented on #1344
Does this happens on master then?

[2018-03-21 10:38] 97balakrishnan commented on #1344
No I didn't encounter this crash in master.

[2018-03-21 10:38] #1344 closed

[2018-03-21 10:41] neslihanturan commented on #1332
Thanks for discovering this possible bug @devaar100 . But before adding manual refresh button to our main page (Contribution Activity) we need some discussions.

What about comparing last fetch time and connection establishment time, then fetching accordingly ie.

[2018-03-21 10:52] 97balakrishnan commented on #1329
I think the list button can be made as a toggle to show list of nearby places on first click and hide them on second click

[2018-03-21 11:03] diddypod commented on #1335
That seems fine, but the view with the progress-bar won't persist once the user goes to the ContributionsActivity and returns. I feel that using a notification to display progress is a better idea, if alerts block the workflow.

Using notifications-
- Visually and fuctionally dislable button on click
- Toast saying "Attempting to nominage "Image.jpg" for deletion
- Notification with a progress bar

[2018-03-21 11:09] 97balakrishnan commented on #1329
[code]

I still get this crash when orientation changes when the options on nearby list is enabled

[2018-03-21 11:15] neslihanturan commented on #1335
Yes, notifications are also a good option @diddypod

[2018-03-21 11:30] 97balakrishnan commented on #1329
[code]

I get this crash when internet is  unavailable

[2018-03-21 11:31] neslihanturan commented on #1329
Thanks for your reports @97balakrishnan

[2018-03-21 11:55] neslihanturan commented on #1329
It is good to inform everyone interested to solve these bugs, please do not solve them before dNUnew branch is merged to master. @maskaravivek is working to rebase, after that we can send PRs related with these bugs.

[2018-03-21 12:15] devaar100 commented on #1332
@neslihanturan that is a great suggestion
I was wondering if a counter can be set which is false if images haven't loaded and true otherwise
Whenever fragment comes to focus we can check the counter status to see if loading images is required

[2018-03-21 12:20] neslihanturan commented on #1332
This would be even better @devaar100 :) I guess you are willing to work on this, assigning it to you

[2018-03-21 12:41] diddypod commented on #1335
I'll implement and push shortly, then.

[2018-03-21 12:52] neslihanturan commented on #1329
I am currently working on "internet unavailable crash", letting you know to prevent two persons working on the same issue.

[2018-03-21 13:33] 97balakrishnan commented on #1329
Ok I'll work on the text wrap issue after the branch is merged

[2018-03-21 13:43] neslihanturan commented on #1329
@97balakrishnan just setting singleLine=true on xml should work when it comes to text wrap problem. Or we can remove the text _when there is no room_ . So we expect to see text when it fits.

Note: Merge is done, you can send your PR

[2018-03-21 17:35] ujjwalagrawal17 commented on #1221
I think search is a very powerful feature. We should have a separate activity for search.

Advantages of having a different Search Activity instead of integrating it with featured Category Activity.
- We can include search history (for both images and categories) based on Last clicked image/category(We can store it in local SQLite database).
- We can include tab layout with viewpager to provide a

[2018-03-21 17:45] 97balakrishnan commented on #1221
nice work bro. Its good to see everyone s enthusiasm, we can discuss the implementation ideas here , But I don't know why everyone is trying to build a prototype for this. Its not required that we have to build something to showcase our idea .. just a mock ui is enough .Please dont mistake me, I think this project is meant to be done by someone during GSoC , there are a lot of issues which can be

[2018-03-21 18:01] ujjwalagrawal17 commented on #1221
@97balakrishnan Yup, I agree with you bro. What are your thoughts on my implementation idea?

[2018-03-21 19:18] ujjwalagrawal17 commented on #1221
@neslihanturan @nicolas-raoul What are your views?

[2018-03-21 19:52] maskaravivek commented on #1329
Update: dnuNew is now merged with master. Moreover, @Jatin0312's recenter changes are also merged.

[2018-03-22 04:29] nicolas-raoul commented on #1221
@hjoshi123 Auto-complete would be nice to have indeed, great idea :-)

@97balakrishnan You are right, a prototype is not required. I was quite surprised (but in a good way) to see one before GSoC has even started.

I have no strong preferences between putting media and categories together or in separate tabs.
- An advantage of separating them is that you can see more categories on the screen
- An

[2018-03-22 05:45] devaar100 commented on #1332
Thanks @neslihanturan :)
I'm on it

[2018-03-22 06:29] neslihanturan commented on #1329
@97balakrishnan after you saw that I was working on the internet thing and said "ok" , why did you create a related PR? We are not racing, we are colobrating please consider the comments next time...

[2018-03-22 06:31] 97balakrishnan commented on #1329
ok sorry :-)

[2018-03-22 06:46] neslihanturan commented on #1332
@devaar100 currently there is a work in progress about connectivity issues in Nearby. Maybe you can wait for this PR to re-use same network methods. #1351

[2018-03-22 07:01] neslihanturan commented on #1221
I want to keep this feature as simple as possible since main purpose of our app is uploading facilities. I consider this as a tool for educating user to decide what kind of pictures should be preferred and to encourage. In this way, it feels very similar with featured Images #324 feature:)
- Thus, we can display two tabs under FeaturedImages activity, one is for featured images, the other is for s

[2018-03-22 07:52] nicolas-raoul commented on #1309
@psh Very true, I had forgotten about that! It definitely make sense to show the pins after each request indeed :-) So @97balakrishnan point 2 is good too, sorry ! You should add the points asynchronously after each getFromWikidataQuery call, within the `while (radius <= MAX_RADIUS)` loop.

[2018-03-22 08:17] nicolas-raoul commented on #868
@utsha1510 It should be based on the Commons icon (SVG above).

Anyone feel free to propose an icon (or prototype of icon), but be aware that the WMF might refuse it, so please don't be upset if that happens ^_^ Cheers!

[2018-03-22 08:20] Jatin0312 commented on #1221
Just a suggestion for this project :
1. We can have an activity which shows latest files/recent edits.
2. We have an activity showing featured images, with that we can have valued and quality images all three in fragments in same activity and search bar/button which can work in all three.
I want to add these to my GSoC proposal but before adding I wanted to take reviews. Thanks

[2018-03-22 08:24] nicolas-raoul commented on #75
@aaronpp65 Could you please post a link to your draft? Thanks!

[2018-03-22 08:28] nicolas-raoul commented on #1296
@madhurgupta10 Yes Steinsplitter's solution is definitely the best :-)
RSS is XML so it should be easy to parse.

By the way, how about opening the image's description page in the browser when the widget is tapped?

[2018-03-22 08:34] neslihanturan commented on #1221
@Jatin0312
1- I think Contributions Activity already displays latest edits
2- We already heva featuredImages branch and backend will be implemented soon:) So no need to include this to proposal, they are different tasks.

[2018-03-22 08:35] Jatin0312 commented on #1221
Ok sure @neslihanturan :)

[2018-03-22 08:41] nicolas-raoul commented on #953
@nsaiisasidhar Yes, if you get the results as CSV then feel free to use regular expressions to make that into GPX. Purists might argue that you should get JSON and parse it, but that would take more memory, so CSV is OK I guess.
Indeed, please use a radius query if you can, thanks! :-)
Sorry for my late reply. I guess this is your current code https://github.com/nsaiisasidhar/apps-android-commons/

[2018-03-22 08:47] nicolas-raoul commented on #844
@gupta-meghna64 I am using the Play Store version, I guess this has been fixed in master? :-)

[2018-03-22 08:51] nicolas-raoul commented on #1126
Personally I would put a "Show location on map" button at the bottom, after
the license.
Everything above is user input.

Better not add an icon near the arrow icon, it would make it even less
visible.

On Sun, Mar 18, 2018 at 6:08 PM, Tanvi Dadu <notifications@github.com>
wrote:

[2018-03-22 08:58] nicolas-raoul commented on #1273
@yashshah7197 Wonderful thanks! :-)

[2018-03-22 08:58] #1273 closed

[2018-03-22 12:02] Mansi449 commented on #966
@maskaravivek I too am not able to replicate the error. I removed all the granted permissions and tried again but still clicking the back button works perfectly fine

[2018-03-22 12:40] madhurgupta10 commented on #1334
@nicolas-raoul I can do this by the weekend, I am about to solve the previous issues that I was working on :)

[2018-03-22 12:42] madhurgupta10 commented on #1296
@nicolas-raoul Sure, I am adding this feature 👍

[2018-03-22 13:09] ujjwalagrawal17 commented on #1221
@neslihanturan How about having a seperate activity for search.but rather than putting it on drawer. We can have a button or layout in featuredImageActivity to open searchActivity. This way we will have not have problem of tabs in tabs.

[2018-03-22 13:20] neslihanturan commented on #1221
@ujjwalagrawal17 it seems like to much work to find and access to search activity to me

[2018-03-22 13:40] 97balakrishnan commented on #1221
@ujjwalagrawal17 Having a search button in featured images is not a good idea. It will give an impression that it is used to search the featuredImages

[2018-03-22 14:18] liuxinyu970226 commented on #1333
[Commons-android-strings-about translate](https://translatewiki.net/wiki/Wikimedia:Commons-android-strings-about_translate/en) too

[2018-03-22 14:20] ujjwalagrawal17 commented on #1221
I did some research on this. Here are a screenshots from LinkedIn, Instagram, Facebook,

<table>
<tr>
<td>

![screenshot_20180322-191631](https://user-images.githubusercontent.com/19607555/37774837-4f588fe0-2e07-11e8-83c5-c947ffda09da.png)

</td>
<td>

![screenshot_20180322-191719](https://user-images.githubusercontent.com/19607555/37774835-4f0676ba-2e07-11e8-9f61-559e984c7b88.png)

</td>
</tr>

<

[2018-03-22 14:25] ujjwalagrawal17 commented on #1221
@97balakrishnan It depends on what title we will have in nav drawer for featuredImageActivity. If we have it "Browse Commons" then people will not be confused I think.

[2018-03-22 14:33] ujjwalagrawal17 commented on #1221
@hjoshi123 If we will integrate autocomplete how will we show search results. We should limit the autocomplete to give a maximum of 3 or 5 results so that it doesn't take the whole screen.

[2018-03-22 15:42] neslihanturan opened #1354 "Whole page map issue"
**Summary:**
Map view adjusts to whole page. This happened after dNUnew branch is merged to master or re-center button is added.

**Steps to reproduce:**
Open nearby activity

**Expected behavior:**

![device-2018-03-22-143845](https://user-images.githubusercontent.com/3127881/37780832-9e7ad22e-2e00-11e8-8e23-5bffc8c6ea33.png)

**Observed behavior:**

![device-2018-03-22-143532](https://user-image

[2018-03-22 15:42] neslihanturan commented on #1354
@97balakrishnan seems like whole page map issue is related with master, not with your branch:)

[2018-03-22 15:44] 97balakrishnan commented on #1354
Oh thank you for letting me know @neslihanturan :)

[2018-03-22 16:56] aaronpp65 commented on #75
https://docs.google.com/document/d/1am3EbhBrwaYn2_LLKAmnrXlzTGVWgttCdALAV4fy_NU/edit?usp=sharing
@nicolas-raoul here is the link to the draft. I should make one in phabricator too right?

[2018-03-22 21:01] wailbabou commented on #1354
Can i work on this ?

[2018-03-22 22:22] Yahhi opened #1355 "Categories is not shown when user look at image properties for the first time (immediately after saving)"
**Summary:**

When the user adds image and then sees image properties no category is shown even if the category was selected and save button is clicked.

**Expected behavior:**

The category should be immediately shown after saved. If the user doesn't see the selected category, he may think that something goes wrong and category selection is not working.

**Observed behavior:**

No category is sho

[2018-03-22 22:49] Yahhi commented on #1355
The same issue is already mentioned at https://github.com/commons-app/apps-android-commons/issues/1290. But the reason for this was not described. I think it happens because when the user clicks "save" system does not wait until successful saving, just adds network request to the queue (as in public void onCategoriesSave(List<String> categories) in ShareActivity. So when the user goes to image inf

[2018-03-23 04:04] tanvidadu commented on #1126
@nicolas-raoul this is screenshot of fragment_single_upload with the button
![location on map](https://user-images.githubusercontent.com/29161745/37810866-b07c0e08-2e7c-11e8-99c7-6774958cef0a.jpeg)

with zoom being added in #1300 I was thinking of adding map as one of  floating button inside nested FAB like https://github.com/futuresimple/android-floating-action-button/issues/22.

@nicolas-raoul @

[2018-03-23 04:33] nicolas-raoul commented on #1126
To me it looks like the best available solution, thanks! :-)

[2018-03-23 04:34] nicolas-raoul commented on #75
Yes, please post it on Phabricator, thanks :-)

On Fri, Mar 23, 2018 at 1:56 AM, aaronpp65 <notifications@github.com> wrote:

[2018-03-23 04:41] nicolas-raoul commented on #75
Could you please explain in more details the following steps:
*- Convert the model to the TensorFlow Lite file format.*
*- Integrating the converted model into Android application*

*Also, please add a step-by-step description of what the user will see,
what screen they will go to, what button they click, so that we understand
what this project will bring to the app. Feel free to include hand-draw

[2018-03-23 07:24] neslihanturan opened #1356 "GSoC proposal guide"
Since some of you are working on your proposals, here is a guide I saw today: https://medium.com/@owtf/google-summer-of-code-writing-a-good-proposal-141b1376f076

[2018-03-23 17:13] aaronpp65 commented on #75
@nicolas-raoul i have made the required changes and have added a basic wireframe
Thanks for the feedback.

[2018-03-23 17:27] gupta-meghna64 commented on #844
Yes @nicolas-raoul :)

[2018-03-23 20:50] Jatin0312 opened #1358 "Circle Page indicator not visible correctly in Welcome Activity."
**Summary:**

Part of circle  page indicator in WelcomeActivity getting overlaped with view pager.

**Steps to reproduce:**

Before first time login or from navigation drawer click on tutorial.

**Expected behavior:**
![expected](https://user-images.githubusercontent.com/17095817/37852710-a304487a-2f09-11e8-94fc-fd0077c2335e.png)

**Observed behavior:**
![observed](https://user-images.githubuserco

[2018-03-24 11:06] gupta-meghna64 commented on #1316
@nicolas-raoul how do I retrieve the user's language? Should there be an option of selecting the language from a list on clicking info icon or some other way?

[2018-03-24 11:41] devaar100 commented on #1332
@neslihanturan sir since the issue was closed can I resume working on it

[2018-03-24 12:22] devaar100 opened #1361 "Nearby places refresh issue"
**Summary:**
There is an issue with manual refresh on nearby places activity

**Steps to reproduce:**
1. Open nearby places from navigation drawer
2. Now open some other app from task manager
3. Turn off the internet
4. Open wikimedia app again
5. The list of places disappears
6. Turn on the internet
7. Press refresh, a toast appears stating location has not changed and no refresh takes place

**E

[2018-03-24 12:38] devaar100 opened #1362 "Place marker text screen overflow"
**Summary:**
The place marker title on map seems to overflow for some place with large names

**Screen-shots:**
![screenshot_2018-03-24-17-54-52-866_fr free nrw commons](https://user-images.githubusercontent.com/29582559/37864000-35f52544-2f8e-11e8-9040-fefdc1fae4f2.png)

**Would you like to work on the issue?**
Yes

[2018-03-24 12:47] devaar100 opened #1363 "Blank screen with no data in list"
**Summary:**
On contribution list fragment and nearby places list fragment when there is no data to populate list view there is just a blank screen
Since the app is about images, aesthetic beauty is integral

**Expected behavior:**
A simple and beautiful png/clip art to be displayed in the centre if the list is empty

**Observed behavior:**
Blank screen

[2018-03-24 16:28] neslihanturan commented on #1332
Go for it @devaar100

[2018-03-24 17:24] ShivaniGawande commented on #1363
Can I work on this ? @devaar100

[2018-03-24 17:31] devaar100 commented on #1363
@ShivaniGawande sry but I want to work on this

[2018-03-24 18:05] devaar100 commented on #1363
Suggestions for nearby places list screen
![3e03fff14fad115ed53d97cf720b1982](https://user-images.githubusercontent.com/29582559/37867275-e2f8f392-2fbb-11e8-9f2e-fc229afb6604.jpg)
![ab46f940845c751642aa967b867d1a1e](https://user-images.githubusercontent.com/29582559/37867276-e3457dd4-2fbb-11e8-8be0-e0f2510479ad.jpg)
![boy_with_luggage](https://user-images.githubusercontent.com/29582559/37867277-e3

[2018-03-24 18:05] devaar100 commented on #1363
Suggestions for contribution list fragment
![camera-upload-512](https://user-images.githubusercontent.com/29582559/37867292-049fbb20-2fbc-11e8-89f2-8af15783eee6.png)
![camera-upload](https://user-images.githubusercontent.com/29582559/37867293-04f5acd8-2fbc-11e8-9112-1b217a69c13b.png)

[2018-03-24 23:34] FatemaKhalid commented on #947
Hey, I would like to handle this issue as I'm interested in the internship for outreachy program.
It'd be nice to have some tips as a beginning.

[2018-03-25 01:20] ArkadiyVoronov commented on #1333
Can I deal with this issue?

[2018-03-25 01:46] ArkadiyVoronov commented on #931
Link to github, at the bottom of the page?

[2018-03-25 08:04] #7 closed

[2018-03-25 08:11] misaochan commented on #1329
Thanks so much for working on this, guys! :)

Just checking on our progress - which items have been solved? I guess 1, 3, 5 and 6 are done?

[2018-03-25 09:44] misaochan commented on #1329
The action bar is currently hidden for me in Nearby and there is no way to bring it back. Not sure when this happened?

[2018-03-25 14:01] #1354 closed

[2018-03-25 14:02] misaochan commented on #1361
Please feel free to work on this, @devaar100 . :)

[2018-03-25 14:06] misaochan commented on #1363
When you say "no data to populate list view", do you mean that the user is offline? In that case, I think the text "No connection, unable to load contributions/nearby places" would be better. There can also be an image to go along with the text, but it should be something that reflects what the text says, IMO.

For the contribution list, if it is empty because the user has not uploaded anything, I

[2018-03-25 14:08] misaochan commented on #1355
How soon afterwards do you check?

Indeed, categories are submitted afterwards through an edit to the uploaded file. So there can be a delay. Saving categories locally can be an option, but in that case you need to check if remote categories exist and then replace the local categories with them (because the user can add categories through the browser, so the remote copy is the better one to use).

[2018-03-25 14:10] misaochan commented on #1358
Oh, wow, I never noticed that. Yes, please feel free! :)

[2018-03-25 14:14] misaochan commented on #1333
@ArkadiyVoronov it is yours. :)

[2018-03-25 14:17] #1317 closed

[2018-03-25 14:18] misaochan commented on #1305
This is already planned as part of #725 :)

[2018-03-25 14:18] #1305 closed

[2018-03-25 14:20] misaochan commented on #1298
@diddypod Sorry we didn't get back to you about this. Are you still interested in working on it?

[2018-03-25 14:24] misaochan commented on #1290
Categories are not submitted along with the image, but rather as a modification to the uploaded image, because the upload has already begun after the first upload step. Hence, it takes a bit of time for categories to be sent to the Commons server and consequently fetched in media details view.

Could you please check again now and see if they have been added?

[2018-03-25 14:25] misaochan commented on #1258
This can be closed I hope?

[2018-03-25 14:45] Jatin0312 commented on #1358
Ok sure I will create the PR :)

[2018-03-25 14:55] misaochan commented on #1306
Sorry, I'm a bit confused, what is the rationale for adding the "Upload" link to the browser-based Upload Wizard? Presumably the user is already on a mobile phone since they are in our app, and the Upload Wizard does not work on mobile.

[2018-03-25 15:08] misaochan commented on #1212
I created the release branch https://github.com/commons-app/apps-android-commons/tree/2.7.x-release and switched the base for the 2 pending PRs required for release. @neslihanturan please feel free to test the prodRelease build on that branch. :)

Aside from PRs needed to fix urgent issues with 2.7, all other PRs and new features will go into master and scheduled for 2.8 release.

[2018-03-25 15:43] madhurgupta10 commented on #1296
@misaochan I will try to implement that too :)

[2018-03-25 16:29] neslihanturan commented on #1358
How did you recognized this @Jatin0312 :D

[2018-03-25 16:38] neslihanturan commented on #1363
These pictures looks different than our apps style. Plus, their license is very important, are they CC0? Should we include attribution?.

[2018-03-25 16:47] Jatin0312 commented on #1358
Was just checking App intro and got to see this luckily :)

[2018-03-26 06:01] Nikerabbit commented on #1258
Still multiple messages having an issue:
[code]

What happened here? I thought they were fixed? I see it was reverted in a984a302 by @madhurgupta10 .

[2018-03-26 06:02] diddypod commented on #1298
Yes, please. May I take it up?

[2018-03-26 06:08] tanvidadu commented on #1306
Sorry! I didn't consider it from this angle.
I will modify my pr to remove the extra textView in about activity.
Thanks :)

[2018-03-26 06:37] neslihanturan commented on #1361
Does it continues @devaar100 ?

[2018-03-26 07:47] neslihanturan opened #1368 "Leaks needs to be solved before release"
**Summary:**

Here are leak reports needs to be solved before release (means this week)

**Steps to reproduce:**

Play with app, in general.

**Add System logs:**

![leaks](https://user-images.githubusercontent.com/3127881/37893044-81d866a6-30e2-11e8-9651-415d26e45ffd.png)

This issue can be solved by several people. Please use comments efficiently to assign it yourselves by using letters (A/B/C/D

[2018-03-26 08:18] nicolas-raoul commented on #1316
@gupta-meghna64 How about just something like Locale.getDefault().getLanguage();?
Then I think a mapping to the relevant URLs would be the easiest, with English as the default.

[2018-03-26 09:04] devaar100 commented on #1361
@neslihanturan sorry sir I didn't get you
Would you mind elaborating for my convenience

[2018-03-26 09:42] nicolas-raoul commented on #1298
@diddypod Yes feel free :-)

[2018-03-26 10:03] neslihanturan commented on #1361
Sorry, I meant does this problem still exist?

[2018-03-26 10:30] misaochan commented on #1329
I still get the below crash occasionally when I change orientation in Nearby, or sometimes even if I go to another activity and then return (e.g. uploading, or wikipedia, etc). It doesn't happen reliably, though.

[code]

[2018-03-26 10:44] devaar100 commented on #1361
@neslihanturan I fixed the issue and submitted a PR for the same :)

[2018-03-26 11:10] misaochan opened #1371 "Fix Travis build failures due to Nearby tests"
**Summary:**

Travis has been failing ever since our Nearby overhaul, specifically due to Nearby tests failing. I would propose two steps to fix this problem:

1. First, temporarily remove all Nearby tests. This allows us to actually use Travis again for PR and build evaluation, instead of just assuming it will fail.

2. Then, re-create Nearby tests one by one.  Nearby has changed so significantly

[2018-03-26 11:15] misaochan commented on #1306
Thanks! :)

[2018-03-26 11:15] prakhargahlot commented on #124
Hey @neslihanturan, would it be alright if I take it up, and try to fix it? As long as it is not already assigned to someone.

I plan to fix this for gsoc_2018 proposal.

[2018-03-26 11:18] misaochan commented on #1258
Ah, snap.

As this is a fairly simple fix, I would recommend this to beginners looking for an issue to fix. :)

[2018-03-26 11:40] devaar100 commented on #1332
@neslihanturan sir I sent a PR for it , please provide your comment on the changes :)

[2018-03-26 13:34] neslihanturan commented on #124
@ilimugur did you make any progress? Are you still working on?

[2018-03-26 14:16] prakhargahlot commented on #124
I just cloned the code and and built the app. Just got started on it.

[2018-03-26 14:46] neslihanturan commented on #1258
This task waits some beginners to fix it:)

[2018-03-26 18:47] yashshah7197 commented on #1368
I'll kick things off by taking up the the 'A' leak. I can try to fix all of them too if that's okay. 👍 @nicolas-raoul @neslihanturan

[2018-03-26 18:52] yashshah7197 commented on #1371
I'd like to have a shot at this. I'll probably get to learn how to write tests properly too. 👍

[2018-03-26 18:54] neslihanturan commented on #1368
Firstly you can start with 'A', since this issue is urgent and requires parallel working. If you are done with 'A' don't hesitate to get another one, after you wrote comment here @yashshah7197

[2018-03-26 19:36] gupta-meghna64 commented on #1316
That sounds like a great idea @nicolas-raoul
I'll start working on it as soon as possible :)

[2018-03-26 20:50] diddypod commented on #1298
JavaScript injection is a rather hacky implementation. I'll try to make it somewhat better by using the MediaWiki APIs for account creation.

[2018-03-26 21:34] neslihanturan commented on #1329
I am not able to reproduce the error @misaochan :/ Besides I added one more issue on main list

[2018-03-26 22:40] ujjwalagrawal17 opened #1372 "nearby bug"
_Before creating an issue, please search the existing issues to see if a similar one has already been created. You can search issues by specific labels (e.g. `label:nearby `) or just by typing keywords into the search filter._

**Summary:**

Summarize your issue in one sentence (what goes wrong, what did you expect to happen)

**Steps to reproduce:**

How can we reproduce the issue?

**Add System

[2018-03-26 22:40] #1372 closed

[2018-03-26 22:40] ujjwalagrawal17 commented on #1372
Sorry it was created by mistake

[2018-03-27 01:10] ujjwalagrawal17 opened #1373 "Add no internet check in Notification Activity"
**Summary:**

Since notification activity on opening without internet connection shows a blank screen, We should add an internet connection check so that user knows that he/she is not connected to internet.

**Steps to reproduce:**

Use NetworkUtils.isInternetConnectionEstablished function an show a snackbar with an option to retry

**Expected behavior:**

No internet check is present.
**Observed

[2018-03-27 01:38] nicolas-raoul commented on #75
@aaronpp65 Thanks!
If I understand correctly, your idea would work like this:
1. I take a picture of a butterfly
2. I upload it to Commons via the app
3. I go to the app's gallery and touch my picture
4. In the details view that opens, pictures that are similar to my picture (other pictures of butterflies) are shown below my picture
Is my understanding correct? Thanks!

[2018-03-27 04:07] Mansi449 commented on #1258
I would like to work on this issue...please assign it to me!

[2018-03-27 04:10] nicolas-raoul commented on #1258
@Mansi449 It's yours :-)

[2018-03-27 04:44] Mansi449 commented on #1284
@aaronpp65
I have already opened a pull request for this :)

[2018-03-27 05:03] prakhargahlot commented on #124
@neslihanturan @nicolas-raoul  I went ahead and did some investigations, and there is some ambiguity here (perhaps only to me?) about what does adding .ogg to the "title of the file" means.
Case 1: File upload fails when there is no "filename.ogg" in the title text field after the file is selected (but the file selected itself has the extension present) - This does not repro. The upload works fine

[2018-03-27 05:29] Mansi449 commented on #1323
Please do review my PR :-)

[2018-03-27 06:26] gupta-meghna64 commented on #815
@srish do we need to submit our phabricator task as well or just creating the task should be fine for the proposal deadline?

[2018-03-27 06:50] nicolas-raoul commented on #1221
Related proposals so far, ordered by Phabricator id:

@ujjwalagrawal17 https://phabricator.wikimedia.org/T188597
@97balakrishnan https://phabricator.wikimedia.org/T188930
@Jatin0312 https://phabricator.wikimedia.org/T190232
@diddypod https://phabricator.wikimedia.org/T190490
@Ross65536 https://phabricator.wikimedia.org/T190640
@RiccardoGrigoletto https://phabricator.wikimedia.org/T190661

Please l

[2018-03-27 07:01] devaar100 commented on #1363
@neslihanturan @misaochan if the issue seems to be of importance then I would invest some time to find more CC0 images that go better with app style
Please guide me for the same :)

[2018-03-27 09:14] misaochan commented on #1368
Thanks for volunteering to do "A", @yashshah7197 . :) If anyone else would like to take the others, please feel free to mention it here.

[2018-03-27 09:18] misaochan commented on #1371
@yashshah7197 I think you currently already have an assigned task (memory leak A)? But feel free to ping me after that has been completed and I will assign this to you then. :)

[2018-03-27 09:25] misaochan commented on #1329
@neslihanturan I'll try to look into the crash in that case, you can focus on 8. :)

[2018-03-27 10:22] neslihanturan commented on #1363
I never needed such images as a user. However, this can be a good idea to improve communication worth user. I agree with @misaochan images should be together with texts. But I think images should be designed for our app, using existing images doesn't seem like a good idea to me. I don't think we have a designer contributor either.

[2018-03-27 10:24] neslihanturan commented on #1329
I was about to propose myself for 8 too:)

[2018-03-27 12:43] Mansi449 commented on #1258
Please review my pull request

[2018-03-27 14:24] #1335 closed

[2018-03-27 14:34] ilimugur commented on #124
@neslihanturan Yeah I still am looking to regenerate the issue, but I was having a few technical issues with my OS in the last few days.
@prakhargahlot seems to have hit the spot with the MIME type suggestion. I'll look into extending the MIME types to include audio files in order to regenerate the problem and update this thread, hopefully in less than a day.

[2018-03-27 15:03] prakhargahlot commented on #124
Okay, then I will hold off on doing any more work on it for the time being. I suggest you assign the issue (or have someone assign it) to you, @ilimugur if you're working on it.

[2018-03-27 15:19] neslihanturan commented on #124
Since @ilimugur is a first time contributor we can not assign to him, we can only add assigned tag but it is not guaranteed someone added this tag. However, as I wrote previously you can easily see if someone working on it by looking at comments and asking to that person:)

[2018-03-27 17:30] Helvijs-t2t commented on #1318
Hi, I just 'joined' this project. I would like to take a look at this as it is labelled "Beginner Friendly".
Could you please give me some more information on where can I see the full source code for this?

[2018-03-27 17:35] misaochan opened #1380 "Fix whitespace and padding for Notifications"
**Summary:**

Notifications activity needs a bit of aesthetic improvement.

**Steps to reproduce:**

Go to Notifications in nav drawer

**Expected behavior:**

Whitespace needs to be stripped from the start of some types of notifications (although to simplify things we can probably strip from the start of all messages).

Also, this may be personal preference, but I think we could increase the padd

[2018-03-27 17:37] Jatin0312 commented on #1380
I would like to work on this issue. :)

[2018-03-27 17:38] misaochan commented on #1380
@Jatin0312 go for it. :)

[2018-03-27 18:07] aaronpp65 commented on #75
@nicolas-raoul actually what i am suggesting is much simpler than that.....

*User clicks the camera icon to snap
*Camera opens up
*Before taking the pic,the camera scans the premise and provides suggestion at the bottom of the screen
*The user scroll through these suggestions(while still in camera view ) and takes appropriate pic.

so number of clicks a user has to make is same as the current app

[2018-03-27 18:08] knight-shade commented on #1318
@Helvijs-t2t In  `MediaDetailFragment` at line `282`.

[2018-03-27 18:48] Helvijs-t2t commented on #1318
@knight-shade  for me (I am not sure why) it shows it at line `297` in the same file.  However, I am not able to debug anything because of
![capture](https://user-images.githubusercontent.com/32101902/37988020-b7d7817c-31f7-11e8-83bf-a85556fd2a7d.PNG)
![capture1](https://user-images.githubusercontent.com/32101902/37988031-bac1f43a-31f7-11e8-9288-adad41e0e092.PNG)

Any ideas of what have I done wro

[2018-03-27 18:58] neslihanturan commented on #1318
I don't think R is missing. Android studio sometimes wrong alerts about it. Did you able to run other projects with you Anrdoid Studio setup? If so firstly fork our project, then git clone your fork to your local computer, then open the project with Android Studio. Everything should work properly with this scenario. Make sure your Android Studio is updated, help -> check for updates

[2018-03-27 19:06] Helvijs-t2t commented on #1318
My mistake on updates. This was because I Updated everything to latest versions and was running `'com.android.tools.build:gradle:3.1.0'`  when this project runs on `'com.android.tools.build:gradle:3.0.1'` after changing parameters this error is not active anymore.

[2018-03-27 21:10] ujjwalagrawal17 commented on #1371
Can I work on this?

[2018-03-27 21:40] ujjwalagrawal17 commented on #1371
I had completed step 1. Starting working on step 2 now.

[2018-03-28 05:15] yashshah7197 commented on #1368
@neslihanturan can you tell me how I could reproduce these leaks? LeakCanary doesn't seem to be detecting anything for me yet.

On a side note, sorry for the late updates. I'm down with a bit of fever and cough so can't really work on anything properly right now. 🙈

[2018-03-28 05:59] ujjwalagrawal17 commented on #1371
2nd part is left in this issue can we reopen it?

[2018-03-28 06:26] neslihanturan commented on #1368
@yashshah7197 just playing with app, I don't know either.

[2018-03-28 09:14] nicolas-raoul commented on #75
Oh, I see, when I point the camera towards a container ship it will show me other pictures of container ships, am I understanding correctly?
Please not that most user don't use our app's camera, using their favorite camera app instead and then sharing or selecting from gallery.

[2018-03-28 09:38] misaochan commented on #1371
@ujjwalagrawal17 it is yours. :)

[2018-03-28 09:39] ujjwalagrawal17 commented on #1371
@misaochan yup I will complete it soon.

[2018-03-28 09:58] #1258 closed

[2018-03-28 09:59] misaochan commented on #1258
@Nikerabbit , the recent PR should have solved the problem. Please do let us know if there are any further issues, thanks!

[2018-03-28 10:36] Mansi449 commented on #1284
Please do review my PR

[2018-03-28 19:05] maskaravivek opened #1386 "Version Control: Using squash merge when merging PRs to master"
In my opinion, when we merge PRs, we should be squashing the commits before merging it. A PR is usually related to one logical change as:
- during the course of development, developers usually keep creating commits after small changes
- whenever a PR is reviewed, new commits are made to address issues pointed in reviewer's comments

Doing a squash would have the following advantages:
- will keep o

[2018-03-28 19:19] #1373 closed

[2018-03-28 19:22] #1284 closed

[2018-03-29 00:12] psh commented on #1386
I believe that almost all of the benefits of a squash commit could be accomplished with a simple `--no-ff` merge to master from a feature branch.  You get the ability to easily revert (rolling back the single merge commit) and you can easily track features - `git log --merges --oneline` drops a clean list of the merge commits to the main branch.

If you want the entire branch in your local develop

[2018-03-29 03:45] liuxinyu970226 commented on #1333
Found new one: [Commons-android-strings-nominated see more](https://translatewiki.net/wiki/Wikimedia:Commons-android-strings-nominated_see_more/en)

[2018-03-29 05:10] Mansi449 commented on #1323
Please review my PR.

[2018-03-29 06:40] misaochan commented on #1386
I agree with this, especially after having had to cherry pick through multiple-commit PRs recently. ;)

I think the simplest way to do this is for reviewers to use the web interface and click on the drop-down button then select "squash merge". Given that it's so simple, if we do decide to go with this, I'd personally prefer to request reviewers to all use that method for consistency (so that we do

[2018-03-29 06:50] neslihanturan commented on #1368
I am working on B and C

[2018-03-29 07:12] Mansi449 commented on #1323
App crashes when we try to upload a picture located in content://com.android.providers.downloads.documents/document/
After making this change, the app no longer crashed.

[2018-03-29 09:09] sepicoder commented on #916
I would like to work on this :)

[2018-03-29 09:11] sepicoder commented on #947
I would like to work on this :)

[2018-03-29 11:01] neslihanturan commented on #947
This is not very beginner friendly task @sepicoder of course you can take a look at, but beginner friendly tasks can be a better choice:)

[2018-03-29 11:04] sepicoder commented on #947
Thanks for letting me know. Do you have any suggestions for me to work on?

Bests,
Sepideh

On Thu, Mar 29, 2018 at 4:01 AM, neslihanturan <notifications@github.com>
wrote:

--
*Sepideh Homami |* homami.sepideh@gmail.com | (818)430-4294
*Management Information Systems*

[2018-03-29 11:22] neslihanturan commented on #947
Discovering bugs, reporting issues is a good contribution. Besides you can follow beginner friendly label to find one. Ie. #1368 should be done today, maybe you can work on. D,E and F should be available.

[2018-03-29 13:02] neslihanturan commented on #1368
@yashshah7197 this issues needs to be done today, will you be able to make it up? If not I will give a try.

[2018-03-29 14:32] ilimugur commented on #124
I used [Intent.putExtra](https://developer.android.com/reference/android/content/Intent.html#putExtra(java.lang.String,%20android.os.Bundle)) and [Intent.EXTRA_MIME_TYPES](https://developer.android.com/reference/android/content/Intent.html#EXTRA_MIME_TYPES) to be able to help file managers detect the file formats we are interested in.

It seems to be partially working in a virtual device (API v26

[2018-03-29 16:31] misaochan commented on #916
@sepicoder It is yours. :)

[2018-03-29 17:32] psh opened #1389 "Kotlin for the tests"
**Summary:**

It has been our stated strategy that we would evaluate the use of Kotlin by using it for writing tests.

**Expected behavior:**

New tests would be written using Kotlin & our test coverage would increase.

**Observed behavior:**

1. Very few tests seem to be created, whether Java or Kotlin.
2. We leave the CI build broken & don't actively maintain the test suite
3. We don't utilize K

[2018-03-29 20:27] neslihanturan commented on #1368
It seems like E and F is something we can ignore: https://medium.com/@amitshekhar/android-memory-leaks-inputmethodmanager-solved-a6f2fe1d1348

[2018-03-30 01:18] #1230 closed

[2018-03-30 09:38] neslihanturan commented on #1329
We are almost done, except one leak, leak A at #1368

[2018-03-30 13:31] misaochan commented on #1329
Wonderful, great job @neslihanturan . :) Release will be coming up shortly!

[2018-03-30 18:01] misaochan commented on #1212
A huge thank you and congratulations to everyone who has contributed to the app so far! All of your contributions will be live in the Play Store version of the app soon. :) I plan on pushing the beta release tomorrow (since I will be heading to bed soon and won't be able to test the Play Store version if I do it today).

@VojtechDostal what information will you need for the Tech News update? I can

[2018-03-30 18:21] neslihanturan commented on #1212
Best release ever! Thanks everyone who contributed:)

[2018-03-31 06:33] veryveryharry commented on #1363
Hi, I can take a stab at creating some graphics for the empty states if this is still available.

[2018-03-31 07:11] #1380 closed

[2018-03-31 10:50] nicolas-raoul opened #1393 ""My Recent Uploads" empty, spinning forever"
Since updating the app.
![screenshot_20180331-192104](https://user-images.githubusercontent.com/99590/38162495-11c90642-351d-11e8-94d4-31fc43a095d4.png)

[2018-03-31 14:16] 97balakrishnan commented on #1363
I think these image drawable assets provided in android studio by default under apache license 2.0 can be used initially.
![alt link](https://image.ibb.co/mV7eVS/Screenshot_from_2018_03_31_19_39_38.png)

![alt link](https://image.ibb.co/eyVux7/Screenshot_from_2018_03_31_19_36_12.png)

[2018-03-31 14:51] 97balakrishnan commented on #1329
[code]

getting this exception on first time loading of nearby places after granting permission.
Nearby location doesnt load the first time due to this exception
Device Android 6.0.1
Version 2.7.0-debug master

[2018-03-31 15:17] 97balakrishnan commented on #1393
I am not having this issue on the master branch's latest version, Can you please specify in which specific case this happens? My recent uploads are working fine on my phone Android 6.0.1

[2018-03-31 15:49] 97balakrishnan commented on #1329
The directions symbol is overlapped by recenter button.

![alt link](https://preview.ibb.co/b7zUx7/Screenshot_20180331_210950.png)

[2018-03-31 16:13] misaochan commented on #1393
Hmm. Does this issue persist for you, @nicolas-raoul , or is it only the first time?

Thanks for the crash report @97balakrishnan !

[2018-03-31 16:16] misaochan commented on #1329
Interesting, the directions symbol was never meant to be there. What happens when you select one of the pins and expand the bottom sheet?

[2018-03-31 16:19] 97balakrishnan commented on #1329
It remains there even if i select the pin and expand. Note: I got the directions symbol only after i zoomed the map. It was not initially present.

[2018-03-31 16:24] misaochan commented on #1329
Thanks @97balakrishnan . Could you create an issue for the problems you are experiencing, please? It would make it easier to organize the discussion.

[2018-03-31 18:12] 97balakrishnan opened #1395 "Map orientation button gets overlapped by recenter button"
The directions symbol appears when the map is zoomed in or rotated , that symbol is overlapped by the recenter button.

![alt link](https://preview.ibb.co/b7zUx7/Screenshot_20180331_210950.png)

**Expected behavior:**

The directions symbol not appearing at all or the recenter button has to be moved down

**Device and Android version:**
Android 6.0.1

[2018-03-31 18:16] 97balakrishnan opened #1396 "Enhancement : Dark themed map"
Dark styled map can be implemented for dark theme
BUT I don't know if this can be done with mapbox.
**Screen-shots:**

![alt link](https://snazzy-maps-cdn.azureedge.net/assets/37-lunar-landscape.png)

[2018-03-31 18:42] 97balakrishnan opened #1397 "Addition : Adding a link to Help page in Tutorial"
**Summary:**

We can add a small button for more help in the last slide of tutorial to open a link to [Help page](https://commons.m.wikimedia.org/wiki/Help:Contents) of wikimedia commons. Here they can learn more about
- licensing,
- Privacy policy
- copyrights and other related stuff.

[2018-04-01 00:53] Jatin0312 opened #1398 "Deletion Button getting disabled after clicking on cancel button"
**Summary:**
Nomination for deletion button getting disabled after clicking on cancel button in alert dialog box.

**Steps to reproduce:**

Just go to any image click on nomination for deletion and click cancel on alert dialog box

**Expected behavior:**

![solved7](https://user-images.githubusercontent.com/17095817/38168794-c275f55c-3574-11e8-8582-1954a2820f6b.gif)

**Observed behavior:**

![bug7

[2018-04-01 01:07] Jatin0312 opened #1399 "Place description getting overlapped with plus fab button Nearby Activity"
**Summary:**

For some place description while clicking on the marker gets overlapped with plus fab button

**Steps to reproduce:**
Click on any marker place which has a large description.

**Expected behavior:**

It should not overlap.

**Observed behavior:**

![bug 8](https://user-images.githubusercontent.com/17095817/38168867-f8355afa-3576-11e8-9083-eb967d33fd79.jpeg)

**Device and Android vers

[2018-04-01 06:34] veryveryharry commented on #1363
@misaochan that works for me.

Just to clarify, are these the cases were talking about for blank screens?
1. No connection when loading nearby places
2. No connection when loading contributions
3. User has not uploaded anything

I had a few ideas for (1), and was trying to make these consistent with mostly the tutorial illustrations in terms of style.  Let me know if it's not too far off.

Mocks:

[2018-04-01 07:57] tanvidadu commented on #1396
https://www.mapbox.com/help/android-runtime-styling-intro/
https://www.mapbox.com/android-docs/map-sdk/overview/runtime-styling/
 can be used to style the maps on run-time.
Maybe we can change the language of map depending upon the language of the user ?

[2018-04-01 08:10] VojtechDostal commented on #1393
This happened to me too after I updated to 2.7. Recent uploada fail to load for me

[2018-04-01 08:17] VojtechDostal commented on #1393
Interesting find: it does not load no matter how I click between items in the sidebar. But when I change the number of "recent uploads shown" in settings and then go to recent uploads, the problem disappears. However it appears again when I close and reopen the app

[2018-04-01 08:44] misaochan commented on #1393
@VojtechDostal this is your 2fa account, right? Could you please try logging out and in again and see if that fixes the problem?

Also, does anyone face this problem with a non-2fa account?

[2018-04-01 08:48] VojtechDostal commented on #1393
Nope I disabled 2FA a few months ago.

I tried signing off and on again and it didnt help. Actually the spinning loading wheel disappears altogether, just blank window now.

All the other functions seem to work.

[2018-04-01 08:49] misaochan commented on #1363
Yes, for the blank screens. :)

The mocks look great IMO! I agree that they are consistent with the style in the tutorial. I would probably make the images a little bit darker though, as it's hard to see them at first glance.

Will ping @neslihanturan for further thoughts.

[2018-04-01 08:51] VojtechDostal commented on #1393
Sorry the blank window was just before the pictures loaded. So it took a while but now the recent uploads show normally. So it could have been the signing off/on that helped

[2018-04-01 08:52] misaochan commented on #1396
We need to use the Wikimedia tile server for privacy reasons, and AFAIK this cannot be achieved with that (see #1002 ).

[2018-04-01 08:54] misaochan commented on #1393
Thanks for the details @VojtechDostal ! If it happens again, it would be great if logs could be provided (immediately after you see that happening, go to Settings > Send logs to developers).

@maskaravivek Do you think you could take a look at this? I think the authentication might be buggy in this aspect. :)

[2018-04-01 09:01] misaochan commented on #1399
@Jatin0312 I agree. The issue is yours if you want it! :)

[2018-04-01 09:09] misaochan opened #1400 "List of issues that need hotfixes for 2.7"
Please rebase and submit PRs for these issues to the `2.7.x-release` branch, so that they can be included in the next hotfix (2.7.1).

Essential:

- [x] #1395 Directions symbol gets overlapped by recenter button. PR #1423  (wanderlustnyc)
- [x] #1393 "My Recent Uploads" empty, spinning forever (@maskaravivek )
- [x]  #1413 Security exception. Old PR #1421, new PR #1440  (misaochan)
- [x]  #1437 Bu

[2018-04-01 09:10] misaochan commented on #1395
Just to clarify, @97balakrishnan has mentioned that:

@97balakrishnan could you please clarify if you are ever able to select a pin and view the bottom sheet? If you are, could you post a screenshot of how the bottom sheet looks like now?

Also, what device are you using?

Thanks!

[2018-04-01 09:13] misaochan commented on #1329
Thanks! As the release has gone ahead, I will close this so we can have a fresh start on discussing existing issues at #1400

[2018-04-01 09:13] #1329 closed

[2018-04-01 09:15] misaochan commented on #1397
Sounds like a good plan IMO. :)

[2018-04-01 09:17] misaochan commented on #1386
If everyone is OK with this, shall we update our documentation in the wiki, and proceed with this change? Tagging the other collaborators who haven't weighed in @neslihanturan @whym

[2018-04-01 09:25] misaochan commented on #1368
Closing, we can create a new issue if there are further leaks. :)

[2018-04-01 09:25] #1368 closed

[2018-04-01 09:26] misaochan commented on #1362
Hi, sorry for the slow response, but we have recently released a new version of Nearby with an entirely different UI. So this won't be an issue in the new UI.

[2018-04-01 09:26] #1362 closed

[2018-04-01 09:49] Jatin0312 commented on #1399
Sure I will do it :)

[2018-04-01 09:55] misaochan commented on #1399
Thanks @Jatin0312 ! Please submit your PR to `2.7.x-release` branch :)

[2018-04-01 11:12] 97balakrishnan commented on #1395
![alt link](http://i67.tinypic.com/24y5s7q.png)
![alt link](http://i63.tinypic.com/1zflkx2.png)
![alt link](http://i63.tinypic.com/10ekbjp.png)

[2018-04-01 11:13] 97balakrishnan commented on #1395
Yeah iam using version 2.7.0
My device moto g3 android 6.0.1

[2018-04-01 12:16] gabrielaradu commented on #171
Hi, i'd like to help out as well.

[2018-04-01 12:43] misaochan commented on #1395
Oh, okay! So the bottom sheet (and the "directions" symbol on the bottom sheet) works fine. It's just the orientation button (to align the map to North) that is being covered.

[2018-04-01 12:50] misaochan opened #1401 "User is no longer prompted to send ACRA crash reports"
**Summary:**

ACRA crash report prompt has disappeared.

**Steps to reproduce:**

Generate a crash

**Expected behavior:**

In prior versions (not sure how long ago), the user used to be prompted to send crash reports to ACRA (our mailing list) whenever the app crashes. This allows us to see the logs of a crash alongside the user's comments, which is important for debugging.

**Observed behavior:*

[2018-04-01 14:18] gabrielaradu commented on #1398
Is this issue free to take?

[2018-04-01 14:35] misaochan commented on #1398
Oops, I think @Jatin0312 said they would like to work on it, but AFAIK Jatin already has a couple of other tasks assigned to them? Jatin, are you okay with @gabrielaradu taking this task?

[2018-04-01 14:36] Jatin0312 commented on #1398
Ya sure no problem :)

[2018-04-01 15:00] misaochan commented on #1398
Thanks. :) The task is yours @gabrielaradu . I see you already have a PR up for it, we'll review it ASAP.

[2018-04-01 15:27] tanvidadu commented on #1397
I will start working on it !
Though I believe we should add this link in about page also. User might not go to tutorial each time in case they need information regarding license, privacy policy , copyrights etc.

[2018-04-01 15:28] 97balakrishnan commented on #1397
Sorry @tanvidadu I've already started working on this.

[2018-04-01 15:31] tanvidadu commented on #1401
I will start working on it and also update ACRA to the latest version available.

[2018-04-01 15:31] misaochan commented on #1397
@tanvidadu If you are looking for other issues to work on, feel free to try your hand at #1395 or #1401 :)

[2018-04-01 15:32] misaochan commented on #1401
Cool, thanks @tanvidadu ! :) Please submit your PR to `2.7.x-release` branch.

[2018-04-01 16:08] diddypod commented on #1325
@nicolas-raoul, should I take this up as a sub-task for #1298?

[2018-04-01 16:11] diddypod commented on #1298
Hello

Really sorry for the inactivity and the lack of updates, I've been having evaluations in college. I've been tinkering away in my free time, though, and while the bulk of the process is working, I'm having a bit of trouble retrieving and displaying the captcha via APIs. Any help or insights?

[2018-04-01 16:25] misaochan commented on #1298
Hi @diddypod , no worries. :) I am afraid that I can't offer any help with the captcha because that is exactly where I got stuck the last time I tried to implement this. :/ Perhaps someone else can chime in?

[2018-04-02 00:28] wanderlustyc commented on #1395
Hey, I can fix this. I just looked into the code. I think this problem can be fixed by assigning some margin values to the compass button when initializing the map.

[2018-04-02 03:11] nicolas-raoul commented on #1393
I don't use 2FA either.
Yesterday I reduced the number of "recent uploads shown" to 3, but that did not help.
I got the images to show once today, by just opening the app, but now they do not show anymore.

[2018-04-02 05:25] nicolas-raoul commented on #1325
I think it can be considered a different task :-)
One may affect the other, though.

On Mon, Apr 2, 2018 at 1:08 AM, Suchit Kar <notifications@github.com> wrote:

[2018-04-02 05:34] nicolas-raoul commented on #1393
I have never used 2FA for Wikimedia.
Here is my log after rebooting my phone, opening the Commons app, and letting it spin for a few minutes:
[logs.txt](https://github.com/commons-app/apps-android-commons/files/1867221/logs.txt)

[2018-04-02 06:40] knight-shade opened #1406 "Error messages in LoginActivity disappear after orientation change."
**Summary:**

Error messages in LoginActivity disappear after orientation change.

**Steps to reproduce:**

1. Try to login without mobile connected to internet.
2. It will show error message, and then change phone orientation.

**Expected behavior:**

Error messages should be retained across orientation change.

**Observed behavior:**

Error messages disappear after orientation change.

**Device

[2018-04-02 07:54] misaochan commented on #1395
Hi @wanderlustyc , thanks! It is yours. :)

[2018-04-02 07:55] misaochan commented on #1393
Hm, strange, the logs.txt is only a few lines and none related to the app:

`04-02 14:22:58.643  3434  3445 W art     : Suspending all threads took: 8.916ms04-02 14:22:58.700  3434  3445 I art     : Background partial concurrent mark sweep GC freed 28740(1432KB) AllocSpace objects, 8(160KB) LOS objects, 39% free, 7MB/12MB, paused 17.749ms total 214.824ms04-02 14:22:58.916  3434  3434 I AppCompatVi

[2018-04-02 08:26] nicolas-raoul commented on #1393
@misaochan Apparently that fixed the problem for @VojtechDostal but I am worried that many other users are affected, so how about using me to test solutions?

I almost never look at my own uploads, so I don't mind. I can also test any APK you might want to try.

[2018-04-02 08:31] misaochan commented on #1393
@nicolas-raoul The problem is that we're not sure if it actually did work for Vojtech or if it was just coincidence. :) If you could confirm that it solves the problem for you, then at least we can be quite sure that the issue is related to changes that we made to authentication.

Thanks, we will ping you when we have a solution ready to try. :)

[2018-04-02 08:32] misaochan commented on #1393
Edit: Oh, I see, you mean that you are afraid that you can't reproduce the bug any more once you log out? Good point... :/

[2018-04-02 08:33] misaochan commented on #1393
In that case, could we please get a logcat for the time when you open the app? Unfortunately the logs option in Settings seems to be bugged, so getting it from Android Studio would be ideal.

[2018-04-02 08:36] VojtechDostal opened #1408 "Wikipedia link in Nearby map should be localized based on user's default language"
Latest version of the app brings a 'detailed view' for items in the Nearby map which also includes a Wikipedia button that goes to a corresponding article. However the button does not work in some cases even when Wikipedia article is clearly available. I suspect this is because the app only loads English Wikipedia, no matter what the language settings are.

It would be cool if we could prefer link

[2018-04-02 08:42] nicolas-raoul commented on #1393
Logging out and in solved the problem.
The problem does not happen anymore even if I restart the app.

On Mon, Apr 2, 2018 at 5:33 PM, Josephine Lim <notifications@github.com>
wrote:

[2018-04-02 08:47] Jatin0312 commented on #1393
The problem of continuous spinning and come when I clear data for commons app. It is resolved as mentioned here by logging out and then login.

[2018-04-02 08:48] Jatin0312 commented on #1393
Shouldn't it be log out while clearing app data.

[2018-04-02 08:51] misaochan commented on #1393
Interesting. Did you guys not have to log in after updating the app? Did it actually save your previous login session despite the update or clearing data?

[2018-04-02 09:20] VojtechDostal commented on #1393
I dont remember ever logging in after updates. I am always logged in.

[2018-04-02 09:39] neslihanturan commented on #1363
I agree they should be a little darker. Besides you should test them on dark theme too, thanks @veryveryharry

[2018-04-02 09:42] nicolas-raoul commented on #1393
Updating from Play Store (or from an APK with the same signature I guess) does not require re-entering my password.

[2018-04-02 09:45] neslihanturan commented on #1386
I also agree reviewers can squash before merging @misaochan

[2018-04-02 10:00] whym commented on #1386
Agreed.

Furthermore, is it going too far to disable "Allow merge commits" in the repo settings? Perhaps yes - there might be exceptions we want to make, like when a PR accidentally consists of two independent, legitimate commits and it's quicker to merge them than asking to re-submit separately.

[2018-04-02 10:09] misaochan commented on #1386
Thanks guys! Let's try to start now, then. Will update our wiki.

@whym Yeah, we probably want to hold off on disabling that for now, haha. :) Maybe we can reevaluate in the future.

[2018-04-02 10:11] misaochan commented on #1386
Updated https://github.com/commons-app/apps-android-commons/wiki/Project-maintenance .

[2018-04-02 10:11] #1386 closed

[2018-04-02 10:48] neslihanturan commented on #1400
I am starting to work on security exception.

[2018-04-02 11:04] nicolas-raoul commented on #591
When I go nearby-hunting, I only take pictures and walk/cycle.
I upload later when I have time.
Being able to upload from the nearby map is great, but when I am back home the points are out of the map.
A workaround is to use a fake GPS app, but it is very cumbersome.
This feature makes make the operation very natural.

[2018-04-02 11:51] neslihanturan commented on #591
I am even more old-fashion @nicolas-raoul , writing down places to a paper since I took photos with DSLR, not phone. So I also think this feature is quite needed.

[2018-04-02 12:02] nicolas-raoul opened #1409 "Wikidata image not set"
**Steps to reproduce:**

- Open Nearby
- Select a thing you took a picture of
- Touch the + and select gallery
- Select the picture of the thing
- Leave title/description as is, change license if you want
- Select categories
- Press the floppy icon

I have just tried once, will retry with another when I can.

**Add System logs:**

[logs (1).txt](https://github.com/commons-app/apps-android-commons/

[2018-04-02 12:03] 97balakrishnan opened #1410 "App icon visibility"
**Summary:**
The app icons is not properly visible if the background colour is same as the app colour.
We can envelope the icon within a white circle or square to make it visible in all backgrounds.

**Screen-shots:**
![altlink](http://i64.tinypic.com/2zfsb2v.png)

Discussions on app icon #868

[2018-04-02 12:36] nicolas-raoul commented on #1409
I tried again, same problem, with https://www.wikidata.org/wiki/Q49269017 and the user seen in the screenshot above.
Maybe because the user is not "registered"? Maybe that means this user has never opened Wikidata, and thus https://en.wikipedia.org/wiki/Wikipedia:Unified_login has not initialized something? Wild guess, someone familiar with Wikimedia login might want to comment (@VojtechDostal?)

[2018-04-02 12:42] #1306 closed

[2018-04-02 12:44] misaochan commented on #591
I agree. Sorry we didn't follow up on this, @oe-bayram . :/ Are you guys still interested in working on this?

[2018-04-02 12:49] neslihanturan opened #1412 "Crash (SQLiteReadOnlyDatabaseException) when opening another activity after notifications activity"
**Summary:**

As @97balakrishnan said:
This happens only when the app is logged in for the first time. When i tried to launch the notifications and then open recent uploads i got the following crash. I dont know if they are related but i just thought of reporting it. My recent uploads are working fine after i relaunch the app on my phone Android 6.0.1.

**Steps to reproduce:**

@97balakrishnan can

[2018-04-02 12:50] neslihanturan commented on #1412
@97balakrishnan are you still able to reproduce this issue? Can you explain more briefly?

[2018-04-02 12:51] neslihanturan opened #1413 "Security exception after last release"
Reported by @97balakrishnan
[code]
getting this exception on first time loading of nearby places after granting permission.
Nearby location doesnt load the first time due to this exception
Device Android 6.0.1
Version 2.7.0-debug master

[2018-04-02 12:52] misaochan commented on #1409
@nicolas-raoul We have not implemented Wikidata edits yet. :) That is the next planned step, but we wanted to get the direct uploads released first instead of saving all for a later release date.

[2018-04-02 12:52] neslihanturan commented on #1413
@97balakrishnan can you please expain this more briefly? I am not able to reproduce this so far.

[2018-04-02 12:59] nicolas-raoul commented on #1409
Ah sorry thanks, yes that's a good strategy.
Looking forward to Wikidata edits :-)

[2018-04-02 12:59] #1409 closed

[2018-04-02 13:04] nicolas-raoul commented on #1396
How about leaving this issue open and marking it "upstream"?
In the future WMF might accept to add dark tiles, after they have solved their many more pressing issues.

[2018-04-02 14:00] 97balakrishnan commented on #1413
Yes,
**Steps to reproduce**
1. First time login
2. Click on notifications activity
3. Immediately click on home activity

![alt link](http://i66.tinypic.com/119xf1s.png)

[2018-04-02 14:05] 97balakrishnan commented on #1413
Steps to reproduce:
1. Log into the app
2. Open nearby places
3. Grant permission for location access

Now the nearby places does not load for me. The above exception was listed in my log cat.

If I got to home activity and return to nearby places it loads.

[2018-04-02 14:06] 97balakrishnan commented on #1412
Yes, I am able to reproduce this issue .

Steps to reproduce:
1. Log in to the app.
2. Open Notifications activity
3. Immediately open home activity

![alt link](http://i66.tinypic.com/119xf1s.png)

[2018-04-02 14:39] neslihanturan commented on #1413
Do you still facing with same issue? Or did it happen only once?

[2018-04-02 17:17] 97balakrishnan commented on #1413
No I can still produce this exception, multiple times

[2018-04-02 17:26] neslihanturan commented on #1413
Do you like to work on that to help us figure out what is going on, since you are the one can reproduce the issue?

[2018-04-02 17:28] 97balakrishnan commented on #1413
Yeah ok.. I will start working on this issue and get your guidance when required Thanks

[2018-04-02 18:23] 97balakrishnan opened #1416 "Illegal state exception after current update"
**Summary:**
Crash encountered when nearby activity is running in the app in background.

**Steps to reproduce:**

1. Log into the app
2. Open nearby activity
3. Press home button before map loads so that app runs in background
4. After sometime - app crashes

**Add System logs:**

[code]

**Device and Android version:**
Android 6.0.1 Moto g3
 **Commons app version:**
Version 2.7.0

[2018-04-02 18:30] madhurgupta10 commented on #1296
@nicolas-raoul Please be ensured that I am still working on the issue. Sorry for the delay, I am having some college exams :sweat:

[2018-04-02 18:37] 97balakrishnan opened #1417 "Toggle list view and fullscreen map view"
**Summary:**
Making the list view button in Nearby places as a toggle to alternate between list and map
![alt link](https://cdn0.iconfinder.com/data/icons/video-editing/100/8-512.png)
this list icon can be changed to this icon on first click.On second click the full screen map view can be shown and icon can be reassigned to the list icon.

[2018-04-02 18:46] aa-rikimaru commented on #1325
@nicolas-raoul Hi I would like to work on this, if no one is assigned to it.

[2018-04-03 05:17] nicolas-raoul commented on #85
New York Times' insight on contributor motivation, that might give us some ideas:
![screenshot from 2018-04-03 14-14-56](https://user-images.githubusercontent.com/99590/38230548-6d46622a-3749-11e8-9dc9-af7b389b04a0.png)
https://www.nytimes.com/2018/03/28/nyregion/if-you-see-something-write-something.html

[2018-04-03 06:05] neslihanturan commented on #1413
Sure, feel free to ask @97balakrishnan

[2018-04-03 06:08] neslihanturan commented on #1395
@wanderlustyc are there any progress so far? Do you have any question about this task, I will be happy to answer.

[2018-04-03 06:25] nicolas-raoul commented on #1325
@aa-rikimaru OK it is yours :-)

[2018-04-03 10:29] misaochan opened #1418 "Blank category shown when submitting direct upload from a Nearby item without Commons category"
**Summary:**

Blank category shown when submitting direct upload from a Nearby item without Commons category

**Steps to reproduce:**

Direct upload an image from an item on the Nearby list or map that doesn't have a Commons category (you can check on Wikidata)

**Expected behavior:**

Blank category should not be shown

**Observed behavior:**

The top category is blank

**Device and Android versi

[2018-04-03 10:36] misaochan opened #1419 "Allow user to retrieve data from server while upload is in process"
**Summary:**

Values in media details view are empty sometimes. So far, for me, this only happens when a different image is currently being uploaded.

**Steps to reproduce:**

Upload an image, then quickly go to your contributions list and select a different image to view

**Expected behavior:**

Display values appropriately

**Observed behavior:**

Does not display values appropriately. I suspect

[2018-04-03 10:47] misaochan opened #1420 "Initial permission request during direct upload does not take user to gallery/camera"
**Summary:**

Initial permission request during direct upload does not take user to gallery/camera

**Steps to reproduce:**

Clear permissions, then try to upload from the Nearby list/map

**Expected behavior:**

Take user to gallery/camera after they approve permissions

**Observed behavior:**

Does not take user to gallery/camera

**Device and Android version:**

API 26 Samsung Galaxy s7

 **Com

[2018-04-03 11:03] neslihanturan commented on #1412
@97balakrishnan is it possible this log is wrong? Can you please reproduce the issue again and share the log with us? Since this log is related with log out.

[2018-04-03 14:41] wanderlustyc commented on #1395
@neslihanturan It went well. I've submitted PR. Thanks. : )

[2018-04-03 17:11] misaochan commented on #1420
Annoyingly, I have tried several different solutions to no avail. My current code mirrors that of ContributionListFragment.java 's exactly, yet it seems to work for ContributionListFragment but not for NearbyMapFragment.

Posted on StackOverflow https://stackoverflow.com/questions/49635619/onrequestpermissionsresult-not-called-in-fragment-tried-all-solutions-i-could , will see if anyone has any an

[2018-04-03 17:39] misaochan commented on #1420
Ah, I think I might have found the solution. Will tidy up and submit PR ASAP. :)

[2018-04-03 21:13] aa-rikimaru commented on #1325
I've taken a look at it and I can't seem to find a way to check for an existing user in real-time unless I'm using AJAX calls. There are also methods in MediaWikiApi, such as validateLogin() that can be use, if the code for the SignUp button is located outside of WebView.

[2018-04-04 02:03] veryveryharry commented on #1363
Sure! I made the colors darker and created a set based on the one I thought was most clear:
![asset 7](https://user-images.githubusercontent.com/16273340/38284103-773d7d7a-376e-11e8-8c65-ced40ac7a87e.png)

Mockups:

|   |   |   |
| --- | --- | --- |
| ![asset 1](https://user-images.githubusercontent.com/16273340/38284108-7bec44c8-376e-11e8-8690-0bdb593dbefb.png) | ![asset 2](https://user-images.gi

[2018-04-04 08:09] misaochan commented on #1363
@neslihanturan I don't think he was asking us to choose - I think the 3 columns correspond to 3 different scenarios - (1) user hasn't uploaded anything yet, (2) user has no internet connection in contribution list, (3) user has no internet connection in Nearby places? @veryveryharry could you clarify this?

Going with that assumption, for the "no uploads yet" scenario, the first column looks fanta

[2018-04-05 12:51] misaochan commented on #1412
I just found a crash report on the Play Store dev console that seems like it might be related. @neslihanturan does this log look relevant to you?

3 Apr 03:09 on app version 83
Oppo A37f (A37f), 2048MB RAM, Android 5.1
Report 1 of 1

[code]

[2018-04-05 12:53] neslihanturan commented on #1412
This can be the log for this issue @misaochan

[2018-04-05 13:13] neslihanturan commented on #1393
I become able to reproduce this bug on a emulator API level 23, on LogCat debug I saw
`04-05 16:03:09.986 3372-3372/fr.free.nrw.commons.debug E/SessionManager: User is not logged in`
Maybe works for your finding solution @maskaravivek

[2018-04-05 13:17] misaochan opened #1427 "NPEs in v2.7.0"
New NPEs in v 2.7.0, from the Play Store dev console:

Today, 19:02 on app version 83
Samsung Galaxy A5(2017) (a5y17lte), 3072MB RAM, Android 7.0
Report 1 of 1

[code]

Yesterday, 18:00 on app version 83
Huawei M3 (hwbeethoven), 3072MB RAM, Android 7.0
Report 1 of 1

[code]

[2018-04-05 16:27] neslihanturan commented on #1427
@misaochan the first NPE is related with this line:
`                null, null, sessionManager.getCurrentAccount().name,`
seems like after our update, user is not logged in anymore, so this crash must be related with "there is no current account and its name problem". I think this will be solved after #1393 is solved.

[2018-04-05 16:58] neslihanturan commented on #1427
And maybe second one is a known bug https://github.com/material-components/material-components-android/issues/43

[2018-04-06 06:04] veryveryharry commented on #1363
Yes, the three were for the three different scenarios. Sorry if that wasn't clear.
How is this?

| No uploads | No connectivity (For both uploads & places) |
| --- | --- |
| ![uploads](https://user-images.githubusercontent.com/16273340/38401885-47d38732-390d-11e8-9bff-93aef6a24ee6.png) | ![uploads_noconnect](https://user-images.githubusercontent.com/16273340/38401414-793c845c-390a-11e8-8d2b-d8879c

[2018-04-06 06:51] neslihanturan commented on #1363
I would use the middle one from **Other Options** for no uploads yet.

[2018-04-06 07:44] veryveryharry commented on #1363
Vector files updated [here](https://github.com/veryveryharry/cc0-images/tree/master/images)

[2018-04-06 08:52] misaochan commented on #1363
Yeah, I agree with the middle image for "no uploads yet".

However, for the person who implements this... The text:
**No Recent Uploads**
Make a contribution to Wikimedia Commons today!

that was proposed in the earlier mockup seems perfect to me, to go along with the middle image. I would strongly prefer it over "No Uploads Yet".

Thanks for the vector files @veryveryharry ! :) @devaar100 are you

[2018-04-06 08:54] misaochan commented on #1427
I agree re: the first NPE. Once #1393 is solved I guess we can try and see if the first NPE disappears.

The second one is interesting. Doesn't seem like there's anything we can do to solve it in that case?

[2018-04-06 10:39] #1420 closed

[2018-04-06 10:40] #1418 closed

[2018-04-06 11:25] neslihanturan commented on #1393
What about logging out user programatically if we can't find any solution by this weekend? Would it be annoying for users?

[2018-04-06 12:37] misaochan commented on #1393
Yeah, that's an option that I'm considering, too. However, since this bug is only in beta (not production), I think it is OK to wait a couple more days for Vivek to get better, if needed. No need to rush for a solution.

[2018-04-07 14:46] psh commented on #1092
@misaochan @nicolas-raoul - it's been a while since we visited the topic of software architecture and I was curious where your thinking has landed.  On January 24th you wrote,

How has the reading gone?  Do you have questions?  Have you reached any conclusions?

[2018-04-07 17:00] albendz commented on #1408
[Beginner] I'd like to try this one (first task). Does wikipedia provide an API that allows retrieval of articles by language/size?

[2018-04-07 17:52] harisankerPradeep commented on #85
That was an interesting read...

[2018-04-07 19:49] maskaravivek commented on #1312
Lets, keep the issue open for discussion. IMO if WMF approves it would be great to have fabric crashlytics integrated. It would make tracking crashes/non-fatals much easier.

@dbrant Any opinion on using crashlytics from a privacy standpoint?

[2018-04-07 19:59] VojtechDostal commented on #1408
Tagging @nicolas-raoul on this.
I can only guess this would be handled by the Wikidata API: https://www.mediawiki.org/wiki/Wikibase/API#wbgetentities

[2018-04-07 20:28] albendz commented on #1408
I want to try to repro this - is there an easy way to change language in the app? I've gone to the wikimedia commons preferences and set my language to something else but I'm not seeing it take effect in the app. (https://commons.wikimedia.org/wiki/Special:Preferences)

[2018-04-08 06:13] VojtechDostal commented on #1408
I think you need to change the language in Settings of your mobile device.

[2018-04-08 07:39] misaochan commented on #1408
Hi @albendz , there is no way to change language in the app specifically. The app's language changes depending on the language set in the phone settings. :) https://stackoverflow.com/questions/4212320/get-the-current-language-in-device could be helpful in retrieving the language.

[2018-04-08 10:26] misaochan opened #1429 "New SQLiteReadOnlyDatabaseException in 2.7.0"
From Play Store dev console:

Apr 03:09 on app version 83
Oppo A37f (A37f), 2048MB RAM, Android 5.1
Report 1 of 1

[code]

[2018-04-08 10:26] misaochan commented on #1429
Oh, sorry, this is a duplicate of #1412 . WIll close.

[2018-04-08 10:26] #1429 closed

[2018-04-08 13:29] codaphrenic opened #1430 "Rotating the screen while logged in redirects the user to the "create an account" page."
#### Expected behavior
It is expected that on rotating the screen from portrait to landscape, a user should still be able to go on using the app from the landscape view and not get redirected to create an account when already you have one created and you are logged in to the account.

#### Actual behavior

The app on rotation redirects you back to the **create an account** page even when you are a

[2018-04-08 13:50] misaochan commented on #1430
Thanks for posting this, @codaphrenic ! It strikes me as very strange. From everything I can see, the user is **not actually using our app** at all, but rather http://commons.m.wikimedia.org (the mobile version of the website). In our app, when logged in, the user is brought to their contributions, not to the "welcome to Commons" page in the video.

Yet the icon he clicks in his app launcher looks

[2018-04-08 13:52] misaochan commented on #1430
For reference, the login screen of our app looks like this:

![screenshot_20171224-010543](https://user-images.githubusercontent.com/3611199/38468365-d010a220-3b87-11e8-8431-025621f5a317.png)

And the screen you should get upon logging in would look like this:

![screenshot_20170329-175228 1](https://user-images.githubusercontent.com/3611199/38468366-dc7cc7e6-3b87-11e8-9e98-e6b25be45f4b.png)

[2018-04-08 15:05] psh commented on #1389
I ran across a blog post from Brian Button (an Agile leader based in the St Louis area) that talks about "Three Degrees of Unit Testing" that might be interesting to the current topic.

https://blog.brianbutton.io/index.php/2018/04/01/the-degrees-of-unit-testing/

I love his comment

[2018-04-08 16:12] neslihanturan commented on #1412
Is it possible the cause of this bug is being logged out after update? It seems like user tried to upload an image while she is logged out.

[2018-04-08 17:03] aaronpp65 commented on #75
![screenshot](https://user-images.githubusercontent.com/31073761/38470166-6f172644-3b4e-11e8-80fb-fb099bd22a90.jpg)
@nicolas-raoul This i what i have in my mind.You can see the suggestions below in small thumbnails.

[2018-04-08 18:54] misaochan commented on #1412
@neslihanturan  What leads you to that conclusion?

[2018-04-08 21:08] neslihanturan commented on #1412
Read only database can mean user doesn't have right to write maybe? But this was a very rough precision.

[2018-04-09 03:27] nicolas-raoul commented on #1408
[This Wikidata query](https://query.wikidata.org/#SELECT%20%3Farticle%20WHERE%20%7B%0A%20%20%20%20%20%20%3Farticle%20schema%3Aabout%20wd%3AQ243.%0A%20%20%20%20%20%20FILTER%20%28CONTAINS%28STR%28%3Farticle%29%2C%20%22.wikipedia.org%2F%22%29%29%0A%7D) gives you all Wikipedia articles about the Eiffel Tower (Q243):
[code]
I don't know any API that gives the size of the articles, though.

[2018-04-09 11:24] VojtechDostal commented on #252
IMO the Wikibase API is just for that. https://www.mediawiki.org/wiki/Wikibase/API

[2018-04-09 13:04] neslihanturan opened #1431 "Leak Nearby Activity instance with ConnectivityManager"
**Summary:**

There is a leak.

**Steps to reproduce:**

Open NearbyActivity, then go to Contributionsctivity

**Screen-shots:**

![image](https://user-images.githubusercontent.com/3127881/38499267-a422dfce-3c0f-11e8-894a-8fd5f02ae646.png)

**Would you like to work on the issue?**

yes

[2018-04-09 16:51] Ahoerstemeier commented on #618
Around my home 50% of the items suggested are no longer existing parts of the former city wall, so its difficult to notice those places which need attention. As there may be users who want to see the places no longer existing, so to avoid filling the view for the general user - why not add an optional filter? A different color doesn't help when there are many no longer existing items cluttering th

[2018-04-10 04:16] albendz commented on #1408
Thanks, I'll start with the languages then.

[2018-04-10 11:46] nicolas-raoul commented on #618
Mapbox seems to have something like filters:
![screenshot_20180410-204045](https://user-images.githubusercontent.com/99590/38555140-085be29c-3d00-11e8-935f-fdb985252dd4.png)

[2018-04-10 11:51] nicolas-raoul commented on #252
At that page "Add a claim with a string data value" sounds like the most appropriate method :-)

[2018-04-12 06:04] neslihanturan opened #1435 "Nearby Places never loads on API level 19"
**Summary:**

Nearby progress bar turns to the eternity. I didn't understand why it gives illegal argument exception and I am not sure how we should handle it etiher.

**Steps to reproduce:**
- Use an API 19 device
- Start Nearby Activity

**Add System logs:**

`E/LocationServiceManager: Illegal argument exception
                                                                                 jav

[2018-04-13 11:43] sivaraam commented on #1092
I suspect that the app doesn't have to cache the file (which seems to be an indicator that it's becoming memory hungry). In Linux based systems, once you open a file and get the file handle successfully you generally don't have to worry about file getting deleted. So IIUC, Android uses the Linux kernel and thus I think it's enough if we could just have open file handles (possibly using `FileInputS

[2018-04-13 16:42] dinaraassan opened #1436 "list icon allows user only to show the list , but not to make it disappear"
Summary:
I expected that by pressing the icon the list of nearby places will appear and if I will press this icon again the list will disappear. However, once the list appears future pressing on this icon will do nothing.

Steps to reproduce:
1. Download the (Beta) app from the Play Store
2. Go to Nearby
3. Press the icon for viewing the list

Expected behavior:
I expected that by pressing the ico

[2018-04-13 16:58] dinaraassan commented on #1290
Yeah, you were right, the category has been added.

[2018-04-13 17:33] dinaraassan commented on #1393
I faced the same problem.
Interesting fact: "My Recent Uploads" will spinning forever, until I change the screen orientation from vertical to horizontal. In the landscape orientation I can view my recent uploads and once I will change orientation again to the vertical I will still be able to view them until I will close the app. Next time I will open the app, "My Recent Uploads" will spinning fore

[2018-04-13 19:33] dinaraassan opened #1437 "button that opens Google Maps shows always only the coordinates of the first chosen mark"
Summary:
When you choose any mark from the map the corresponding button that opens  Google Maps shows always only the coordinates of the first chosen mark.

How can we reproduce the issue?
1. Download the (Beta) app from the Play Store
2. Go to Nearby
3. Choose any mark on the map
4. Press the button for opening google map (labeled it on the screenshot)

Expected behavior:
I expected that Google M

[2018-04-13 19:54] dinaraassan opened #1438 "Case when the button that opens Google Maps do nothing"
Summary:
In case if you first open the list of nearby places, and there chose the place and press the button that opens  Google Maps and then try to choose mark from the map and press there the same button it will do nothing.

Steps to reproduce:
1. Download the (Beta) app from the Play Store
2. Go to Nearby
3. Open the list of nearby places
4. Choose place and press there the button that opens th

[2018-04-13 21:47] dinaraassan opened #1439 "Map centers camera to your current location marker at a random moment"
Summary:
The center of the map goes back automatically to your location marker at random moment during your manipulations with the map

Steps to reproduce:
1. Download the (Beta) app from the Play Store
2. Go to Nearby
3. Center the camera of the map somewhere away from your location marker
4. Start continuously tapping the screen from marker to marker, or just tapping the screen of the map.(with

[2018-04-14 06:32] neslihanturan commented on #1437
Thanks for reporting this critical issue @dinaraassan :)

[2018-04-14 06:35] neslihanturan commented on #1439
Thanks for reporting this issue @dinaraassan , actually it is normal if it centers you when location information is updated. As a user, do you think it is a bad experience?

[2018-04-14 12:06] misaochan opened #1441 "Compass button hidden by bottom sheet"
**Summary:**

Compass button in `2.7.x-release` branch is hidden by bottom sheet when pin is selected

**Steps to reproduce:**

Load Nearby map, select a pin, and swivel the map around a bit. Now you have a rotated map and no way to get it back to the original rotation. You can only access the compass button if you clear the bottom sheet.

**Expected behavior:**

Have the compass button in a locat

[2018-04-14 16:18] VojtechDostal opened #1442 "Uploading pictures from Gallery does not support descriptions"
I uploaded a few pictures en mass by sharing them from the Gallery app. This is a great way to upload pictures (within a common category) but there is no way to provide a unified description. The pictures end up flagged as "description missing".

[2018-04-14 17:13] brok85 commented on #1436
I start working on this with @gshrock

[2018-04-14 21:30] dinaraassan commented on #1438
@neslihanturan Can you please take a look at this issue. I think it is important.

[2018-04-14 22:45] dinaraassan opened #1444 "Link in "This image will be licensed ..." is too sensitive"
Summary:  The link attached to the whole sentence "This image will be licensed under Attribution-ShareAlike 4.0" is too sensitive and easily could be accidentally clicked and also it is not obvious that it is a link.  Maybe it would be better if we will attach the link only to specific words like "Attribution-ShareAlike 4.0", like in the case with words "Wikimedia Commons policies" at the same scr

[2018-04-15 00:25] albendz commented on #1408
Update: Found a repro on my phone with released, found the code I want to change, debugging issues with project setup and plugin configurations.

[2018-04-15 02:41] albendz commented on #1408
PR up: https://github.com/commons-app/apps-android-commons/pull/1445

[2018-04-15 07:14] neslihanturan commented on #1436
@dinaraassan actually it wasn't a bug, it was a feature:) you can always swipe down the list. Do you still think a button is needed to hide the list? If so I will test and merge @brok85 's PR.

[2018-04-15 07:15] neslihanturan commented on #1290
Then closing the issue:)

[2018-04-15 07:15] #1290 closed

[2018-04-15 07:27] neslihanturan commented on #1438
This one is really important, thanks for reporting  @dinaraassan  , I will be working on it today.

[2018-04-15 07:28] neslihanturan commented on #1444
This task is suitable for beginners. Thanks for reporting @dinaraassan :)

[2018-04-15 07:42] dinaraassan commented on #1436
@neslihanturan Yeah, I understood that it is a feature, but still, I think that it would be better if we will have the additional way to close the list just by pressing the icon.  I already explained the reason in the description of the issue. It is not obvious that we can swipe down the list. Users will press the icon intuitively again in order to close the list and hence, will be confused if it

[2018-04-15 09:01] misaochan commented on #1441
Ah, I see. Does it really look that asymmetrical to have it on the top left? I guess we can leave it for the time being, and change in the future if users complain. Maybe it is just me who always accidentally rotates maps. :)

[2018-04-15 09:05] misaochan commented on #1442
Thanks for reporting this. :) Yeah, this is a known bug - lots of things are missing from this entry point, including saving geotagged locations. We intend to overhaul uploading in the near future (hopefully, after 2.7.1 is done). In that case, we would streamline multiple uploads - they would work the same way via "Share" and via the app, which should solve this problem. #1091

[2018-04-15 09:06] misaochan commented on #1436
I agree with @dinaraassan that it would be good if tapping the list button again when the list is up could close it. :) If it isn't too much trouble, anyway.

[2018-04-15 09:13] neslihanturan commented on #1441
@misaochan yes:/ we couldn't find a better solution that time. So I am closing this issue

[2018-04-15 09:13] #1441 closed

[2018-04-15 09:27] kamilya35231 commented on #1110
It seems to work with the images that have proper geotags. If it is possible to view the location from the info of the image in the gallery, app will recognize it.

[2018-04-15 12:51] gupta1anubhav commented on #1444
I have started working on this issue

[2018-04-16 04:58] nicolas-raoul commented on #1393
I guess changing orientation sort of reloads the view or something?

[2018-04-16 05:52] neslihanturan commented on #1393
But then our assumption that is related with being logged out or seeming like logged out should be wrong or incomplete. Weirdly @maskaravivek has already solved this issue with that assumption

[2018-04-16 07:33] misaochan commented on #1438
I tried to reproduce this but have been unable to - the Directions button always brings me to my map app, both in Nearby list and map. Does this issue happen for anyone else?

[2018-04-16 07:52] misaochan commented on #1130
I just realized that 1130 (a) has not been solved. It is our most prevalent crash on production by far, with 39 reports affecting 21 users over the last 30 days. It may be worth trying to solve this ASAP.

@hjoshi123 Sorry we didn't get back to you! Unfortunately those crash reports come from the Play Store dev console and we can't see when or how it happened. Has it happened for you before?

[2018-04-16 08:01] nicolas-raoul commented on #1438
I can reproduce the bug, with the exact steps described by @dinaraassan (it is only for the buttons that appear after touching a pin on the map and touching the white banner that appears at the bottom)
The Wikidata button next to it works fine.

[2018-04-16 09:40] neslihanturan commented on #1438
Yes, I am also able to reproduce this bug with the steps written by @dinaraassan . But weird thing is Wikidata button and Directions button and how they handle their actions are exactly same. My current investigation didn't bring any solution. If some of you have a theory, I would like to heard about:)

[2018-04-16 10:15] misaochan commented on #1438
@neslihanturan and @nicolas-raoul Does this happen for you with the current 2.7.x-release branch as well? That is the one that I am testing currently, with the steps mentioned in the first post. I guess if it doesn't happen on that branch, it will be solved in 2.7.1.

[2018-04-16 10:26] nicolas-raoul commented on #1438
Sorry I am using alpha (beta?).

[2018-04-16 10:57] neslihanturan commented on #1438
I am able to reproduce this on 2.7.x-release too @misaochan :/

[2018-04-16 11:14] neslihanturan opened #1448 "Wikimedia Hackathon 2018 ideas"
**Summary:**

As all you know Wikimedia Hackathon is a great opportunity for us to meet new contributors, designers, users and getting feedback from them. It would be great if we can be there prepared, do you have any ideas? You can also define how you would like to our app be presented on open ceremony too. I will be there, probably there will be others from team too:)

[2018-04-16 11:37] #1437 closed

[2018-04-16 11:44] nicolas-raoul commented on #1448
I believe #780 is a good task for a hackathon because:

- Many people will have many different ideas about what it should do, look like, and what existent APIs/databases it could use
- A flimsy prototype can be implemented quickly, and be visually impressive even if not finished.
- Easy to understand. Review has always been understaffed, and it wastes a lot of time from experienced volunteers whos

[2018-04-16 12:03] #1398 closed

[2018-04-16 13:00] #1358 closed

[2018-04-16 13:17] neslihanturan commented on #1318
There are no extra information except I wrote here @Helvijs-t2t . Thanks for your interest, I will surely write here if I recognize something else. It you would like to contribute in time being, you can check other  beginner friendly tasks:)

[2018-04-16 13:42] Helvijs-t2t commented on #1318
Could you please share your email with me for a quick question, you know my email address already. Thanks @neslihanturan

[2018-04-16 14:30] knight-shade commented on #1448
Hello guys @neslihanturan @nicolas-raoul Does anyone know why the deadline for scholarship was end of January, so early?

[2018-04-16 15:02] misaochan commented on #1448
@knight-shade I'm not attending this round, but I believe that part of the reason is that WMF is paying for your flight tickets, and the earlier flight tickets are booked, the cheaper they are. ;)

[2018-04-16 15:04] misaochan commented on #1448
@neslihanturan Thanks for starting this! I agree that #780 looks like a good idea. As you will likely be leading the team this time though, I would advise that you choose a task that you are relatively familiar and comfortable with personally.

I don't think we had much time to talk about the app during the open ceremony - last round we had a couple of sentences each I believe, haha.

[2018-04-16 21:52] neslihanturan commented on #1318
tur.neslihan@gmail.com

[2018-04-17 06:56] VojtechDostal commented on #1448
By the way, Wikimedia Czech Republic is going to be very involved in Wikimedia Hackathon next year (2019) - and we plan to make this app one of the centerpieces of the event. More information is currently not public but an announcement will come out soon :-)

[2018-04-17 08:29] misaochan commented on #1448
Exciting! 👍

[2018-04-17 09:30] neslihanturan commented on #1448
#780 seems like a good idea! When it comes to our 1 or 2 sentence explanation, I would like to get team support about what should be said, which sides of the app need to be emphasized etc.

On the other hand, do you think we should add our idea to here: https://phabricator.wikimedia.org/project/view/3260/

Event page: https://www.mediawiki.org/wiki/Wikimedia_Hackathon_2018/Program

[2018-04-17 09:47] misaochan commented on #1448
How about saying that the app allows users to upload photos to Commons directly from their Android phones, and emphasizing the Nearby feature? I don't think you will get to demonstrate, but you can say that we have a map of nearby places that need pictures, and people can upload photos directly from it with titles and categories suggested based on the Wikidata item.

(Hopefully we should have 2.7

[2018-04-17 09:57] misaochan opened #1450 "Add filters to Nearby"
This was inspired by #618 , but I decided to create a new issue as this is a much more general suggestion.

I wonder if it would be a good idea to have filters where people can filter out certain types of Nearby items. The most obvious usage would be for the "instanceOf" label, where someone could say they wanted "historic sites" or "suburbs" etc specifically, and only see those pins on the map. A

[2018-04-17 10:12] misaochan commented on #591
I think we probably want to bump this up a bit, possibly include it in our next grant (WMCZ or PG). After using our direct uploads quite a bit, I agree completely with @nicolas-raoul that this feature is needed.

Some thoughts:
- How about instead of long-press, when the user moves to a different section of the map, we have a "Search this area" button that appears? That would be more intuitive to

[2018-04-17 11:16] gupta1anubhav commented on #1450
Even I was thinking of the same thing as the app shows places inside fix radius around user's location.
And random important places are shown.

[2018-04-17 13:12] #1436 closed

[2018-04-17 16:10] misaochan commented on #1438
Copying my test results from my PR:

How odd. It happens to me sometimes but not at other times. When it happens, I can never access Directions from the map at ALL (although I can from the list). The steps don't matter - it happens regardless of whether I have opened the list beforehand, or changed activity, or not.

When it doesn't happen, I can always access Directions from the map, and again th

[2018-04-17 17:41] psh commented on #1448
My mind immediately went to an exercise our company does when spinning up a new project team - we use one of the well known "elevator pitch" frameworks to focus ourselves on the outcome of the project - its a quick "fill in the gaps" game

Following the pattern I came up with:

[2018-04-17 18:17] neslihanturan commented on #1448
A nice template  to  follow:)

[2018-04-17 18:31] maskaravivek commented on #1393
@neslihanturan I have added checks based on the logs that you posted above.

[code]

As i have never been able to reproduce the issue on my end(i haven't tried the latest set of steps shared by you), I can't confidently say if the PR solves the issue.

[2018-04-18 03:54] nicolas-raoul commented on #1450
I would totally use this feature to filter out schools, to avoid the creepiness haha

When I go to a place where there are a lot of pins I might want to only show the important ones that are not closed. But once I have uploaded most of them and the pins are getting rare, I will probably want to show the other ones too.

What is important is probably subjective.

[2018-04-18 04:03] nicolas-raoul commented on #591
"Search this area" is better indeed, and it is found in apps like AirBNB

Yes, totally, making "adding a no-GPS picture via the nearby map at a remote location" a feature that can be "unlocked" (see https://github.com/commons-app/apps-android-commons/issues/85#issuecomment-372998745) is a great idea. Until "reputation" is implemented, though, I think we should not worry too much about vandals, who

[2018-04-18 09:19] misaochan opened #1451 "Require Javadocs for all new methods and classes?"
In our current state, I think our code is still somewhat difficult for a new contributor to get started with. A big part of the reason IMO is insufficient Javadocs. Ideally, I feel that every method and class should have Javadocs, at least brief ones. In that way, people who are unfamiliar with the codebase can get a headstart instead of trying to puzzle out from scratch what method does what.

My

[2018-04-18 10:40] neslihanturan commented on #1451
I agree it would improve our code quality. But we should want them to be descriptive too. Sometimes Javadoc is just same with method name, and this is meaningless. We should force our contributors (myself included:)) to write detailed explanations too.

[2018-04-18 12:07] neslihanturan commented on #1400
Just waiting for #1433 , then we are done for 2.7.1 :tada:

[2018-04-18 12:32] psh commented on #1451
I think you're exactly right @neslihanturan - Javadoc comments are next to useless in most cases.  If the code in question is so complex that it needs explanation then *refactor* it to make the intent more obvious.  If there's still something of note then the code comment should be about *why* design choices were applied, what the *intent* was for doing something a certain way.

[2018-04-18 12:54] misaochan commented on #1451
@neslihanturan I agree. :)

@psh I somewhat agree with that sentiment in general, but IMO the issue is that "if the code is so complex..." is a subjective measurement. "So complex" to an experienced developer would be a very different benchmark from "so complex" to a beginner. And arguably, in an application of any significant size it would be impossible for code to not be "complex" in a beginner'

[2018-04-18 15:27] misaochan commented on #591
Good point. Yeah, I think we can just use a warning until we implement that. :)

[2018-04-18 15:31] misaochan opened #1452 "Add direction the user is facing to Nearby real-time position"
AFAIK there was a discussion about this somewhere, but I think it was buried under a more general discussion.

Currently, our users see their real-time position as a dot. Which is great! But it would be much more useful if they could see what direction they were facing, similar to popular map apps. IMO this would make it easier for users to navigate using our Nearby map, without implementing full-

[2018-04-18 15:59] misaochan commented on #669
Is this still possible now that we are using the Wikimedia tile server?

[2018-04-19 09:53] neslihanturan commented on #1400
Essentials are done:)

[2018-04-20 05:45] misaochan commented on #1393
Hi @nicolas-raoul , this should have been fixed in 2.7.1, can you please help us test if it works for you?

Steps:
1. Unregister from beta and download the production version (2.6.7)
2. Log in to the app
3. Register to beta and update to 2.7.1
4. See if My Recent Uploads works for you?

[2018-04-20 06:26] nicolas-raoul commented on #1450
There is no concept of "importance" in Wikidata. I just meant that some people want to take pictures of all religious buildings, while other people want to take pictures of all religious building, it is just a matter of personal interests.

I started computing statistics about the "instanceOf" of the points we deal with, it will probably take a day or two before all results get computed but here a

[2018-04-20 10:55] neslihanturan commented on #725
- For closest nearby marker:
    - Even if user click to the indicator and upload photo for nearby place, the point still will be therehttps://github.com/commons-app/apps-android-commons/issues/1409. Until we implement #252 , same point will be displayed to user and this will be annoying.7
    - Before loading our map (switching to nearby tab) we won't be able to load nearby places. Even if we dec

[2018-04-20 13:32] gupta1anubhav opened #1458 "Can add user's photo in nav_header"
We can request the user, his profile photo if he wants and that can be placed in nav_header in navigation drawer. It is an enhancement feature.
For user's who don't want to upload their photo, then default nav_header will be used which would be same as in the current version of this app.

Screenshots
![screenshot-1524229566793](https://user-images.githubusercontent.com/31107831/39053730-563648a2-4

[2018-04-20 16:16] misaochan commented on #1451
@whym @maskaravivek What do you guys think?

I guess I will take @nicolas-raoul 's emoji as a "yes". 😄

[2018-04-20 17:01] misaochan commented on #1212
Wrote a summary of the new features at
https://cookiesandcodeblog.wordpress.com/2018/04/21/commons-app-version-2-7-beta-release/ :)

Fingers crossed everything will be okay with 2.7.1 and we can push to production soon.

[2018-04-20 21:36] neslihanturan commented on #725
Nearby:
1. Maybe we can listen location less frequently than our map, when it is on contributions tab. Lets say for every 1 minutes. Besides, our query can be stop whenever we find a point (first point will be closes point). This could be more efficient or using data connection.

But I still think it can be better for UX, if we use a button to request latest location and request permission consequ

[2018-04-21 05:55] sivaraam commented on #725
I support this :+1:

It's better to ask for the location permission only when we actually need it. The reason for requesting the permission is easily understood by the user when they see the request in the context of the requirement (the Nearby view).

[2018-04-21 13:12] neslihanturan opened #1459 "Invisible list button"
**Summary:**

List button at Nearby Activity is invisible after 2.7.0 is merged to master.

 **Commons app version:**

Master

**Screen-shots:**

![image](https://user-images.githubusercontent.com/3127881/39084437-c11d661c-457e-11e8-83d8-bf43aa21e83e.png)

**Would you like to work on the issue?**

Yes

[2018-04-21 13:27] neslihanturan commented on #1459
Oh sorry this issue is not exists actually.

[2018-04-21 13:27] #1459 closed

[2018-04-21 14:50] VojtechDostal commented on #1442
OK, largely duplicate with #604

[2018-04-21 14:50] #1442 closed

[2018-04-22 19:48] maskaravivek commented on #1451
Though I agree with @psh's concern about sometimes the method/class being too complex and needing refactoring, to start with we can at least add Javadocs to briefly explain what it does. Refactoring the old code base with newly adopted design patterns would always be an ongoing exercise.

As our codebase matures and more and more people start contributing we need some way to explain the intent of

[2018-04-22 19:58] maskaravivek commented on #252
The Wikibase API at first look is very intimidating. From what I could gather from the above discussions and as @nicolas-raoul points out, we need to "Add a claim with a string data value".

<img width="1256" alt="screen shot 2018-04-23 at 1 29 57 am" src="https://user-images.githubusercontent.com/3069373/39099270-828d8e78-4695-11e8-9da3-fb004cc954b5.png">

This means editing the P18 property for

[2018-04-23 03:32] nicolas-raoul commented on #252
Not sure that helps, but [Wikishootme](https://bitbucket.org/magnusmanske/wikishootme/src/f5ecf48cdd584a1a616cee716acc65f8606f82e2/public_html/api_v3.php?at=master&fileviewer=file-view-default) adds an image to an item like this in PHP:
[code]
I wonder whether a similar Java non-OAuth library exists.

[2018-04-23 05:41] nicolas-raoul commented on #252
I have found https://www.mediawiki.org/wiki/Wikidata_Toolkit , a Wikidata/Wikibase Java library for bots and other non-user actors (ie not OAuth).
While it might sound overkill for just one operation, I would say we should use it because:
- Commons is migrating to Wikibase, so in the future we will have to migrate most of our API calls to Wikibase.
- This library is developed by WMF, it is an offi

[2018-04-23 16:32] psh commented on #252
Have you tried using the toolkit on Android?  I have some concerns that there are libraries that might not be compatible - valid choices for desktop / server use but not conducive to mobile usage.

[2018-04-24 04:44] nicolas-raoul commented on #1450
Here are the types of items that have a latitude/longitude but do not have a picture:
![screenshot from 2018-04-24 13-29-02](https://user-images.githubusercontent.com/99590/39166271-c06ca146-47c3-11e8-9cc5-9f023cd1493f.png)
[code]
Full file: [stats2.txt](https://github.com/commons-app/apps-android-commons/files/1940866/stats2.txt)
My computer crashed in the middle so there is no data for Europe/Af

[2018-04-24 07:16] nicolas-raoul commented on #252
@psh I haven't seen anything saying that it is usable on Android, indeed.
I just asked: https://github.com/Wikidata/Wikidata-Toolkit/issues/356

[2018-04-24 08:15] misaochan commented on #1450
@nicolas-raoul Thanks! The data is very interesting, I actually had no idea there were so many. It is also interesting that there are more "rural commune of Vietnam"s than there are global train station points, lol.

This does complicate things a bit. Maybe we should come up with a simple prototype first, and then see if many people actually use the filters, before enhancing it by hardcoding mappi

[2018-04-24 08:29] misaochan commented on #725
The problem with this is that AFAIK there is no way to get only the "closest" point with our current query - we seem to just get all the points and then sort them, and only then do we know which point is "closest". I agree that your suggestion would be the best in terms of efficiency, but you may need to modify the query.

This sounds like a good idea to me! :)

[2018-04-24 22:07] hismaeel commented on #161
Hi. It's been many days. Any progress? Can I take over this task from you @ujjwalagrawal17 ? :-)

[2018-04-25 00:09] ujjwalagrawal17 commented on #161
I was busy with my end semester exams. Exams will be finish day after tomorrow. But I will be working on featured image branch. So you can take this task.

[2018-04-25 00:35] hismaeel commented on #161
Thanks @ujjwalagrawal17

[2018-04-25 10:06] misaochan opened #1462 "Start a Medium dev blog and add it to Wikimedia publication?"
I just found out about https://medium.com/freely-sharing-the-sum-of-all-knowledge/ from looking at the GSoC community bonding page. From what I can gather, it seems that Medium works by having "Collections" or "Publications" of relevant blogs, similar to [Planet Wikimedia](https://meta.wikimedia.org/wiki/Planet_Wikimedia). However, the Medium collection seems to have more traction and readers than

[2018-04-25 15:38] VojtechDostal commented on #1462
I really support this but I worry about the duplication. Would it be possible to switch to medium completely and then aggregate to Planet Wikimedia from there?

[2018-04-25 16:50] tanvidadu commented on #1451
I can start working on this issue!
While going through the code-base I will try to update as many javadocs as I can.  Is there anything I should take care of while updating javadocs ?

[2018-04-25 17:07] psh opened #1463 "We dont have a published 'code of conduct' document"
I took a look at our Github “Community Profile” (https://github.com/commons-app/apps-android-commons/community) which highlights that our project doesn’t have a published code of conduct.  Digging a little deeper there’s a suggestion that the “Contributor Covenant” (see: https://www.contributor-covenant.org/) might be a good starting point.

I read through it and it seems to have been adopted by a

[2018-04-25 20:25] maskaravivek commented on #1462
Sounds like a great idea to me. I would surely volunteer to help in writing few articles if we start such a blog. :)

Moreover, I won't worry too much about duplication as Medium offers a cool feature where it lets you import stories from other blogs.

https://medium.com/p/import

It certainly supports Wordpress imports but we will have to check about Planet Wikimedia. Importing the story publishe

[2018-04-25 20:39] maskaravivek commented on #1451
Awesome @tanvidadu! That would be really helpful. :)

We all can contribute towards this goal of having richer java docs. :)

[2018-04-26 03:41] psh opened #1464 "MediaDataExtractor is making inefficient (redundant) server calls"
**Summary:**

`MediaDataExtractor` is making double calls to the mediawiki API to determine if a page (image) has been deleted.  Its not wrong, just inefficient.

**Steps to reproduce:**

Take a look at the `fetch()` method
[code]

**Expected behavior:**

Only one call should be made, and then the request / result should be logged.  Calling `pageExists()` initiates a call to the server every time.

[2018-04-26 06:00] sivaraam commented on #1044
@maskaravivek I don't think the main reason for opening this issue, lack of readability as a consequence of showing the image being uploaded in the background, has **strongly** been opposed by anyone. So, I do think the upload screen needs a re-design in that respect. If that's to be covered as part of #1128 then we could leave this closed else I would possibly expect a better reason for closing t

[2018-04-26 07:16] neslihanturan commented on #1044
I agree this task is not totally about zooming, probably @maskaravivek merged this since zoom feature is merged though.

[2018-04-26 15:28] misaochan commented on #1463
Good point @psh ! The "Contributor Covenant" looks good to me. I did wonder if we would be expected to use the Wikimedia code of conduct instead, but that would be much less specific and at any rate it isn't an explicit requirement for us.

[2018-04-26 15:45] psh commented on #1463
Can someone with contacts at WMF reach out to them to see if the "Contributor Covenant" is compatible with the WMF guidelines before we jump in?

[2018-04-26 15:55] misaochan commented on #1462
Thanks guys!

@maskaravivek So, basically, what I should do is to create a Medium blog for "Commons app", and then add a few of our accounts so that we can all contribute articles from our personal accounts... and then I should ask the person in charge of the Wikimedia publication if they could add our blog to it. Is that accurate?

Sorry, really new to this whole Medium thing. 😄

[2018-04-26 19:03] gupta1anubhav opened #1465 "0 uploads in beta app"
No. of uploads on Actionbar remains to 0 on logging in the app even when I have stored many images before.

How can we reproduce the issue?

1. Login to the app and make sure you have uploaded photos previously.
2. No. of uploads remains at zero.

Tested On: Xiaomi Redmi Note 4
Android Version: 7.0
Commons app version: 2.7.1-debug-master~8a06aa5

Screen-shots:

![screenshot_2018-04-27-00-27-00-559

[2018-04-27 03:33] musicbanglatv opened #1466 "MusucBanhlaTv/Musicbangla"
_Before creating an issue, please search the existing issues to see if a similar one has already been created. You can search issues by specific labels (e.g. `label:nearby `) or just by typing keywords into the search filter._

**Summary:**

Summarize your issue in one sentence (what goes wrong, what did you expect to happen)

**Steps to reproduce:**

How can we reproduce the issue?

**Add System

[2018-04-27 04:25] #1466 closed

[2018-04-27 12:32] tanvidadu commented on #85
For the implementation of the Gamification feature, I have come up with a strategy:
Depending upon the images Featured, used and thanks received , we can calculate "reputation" earned and depending upon the "reputation" earned we can assign titles.
In second phase I will extracting no of reverted uploads. They can also be used as a parameter to calculate "reputation".
In case I get time in the end

[2018-04-28 02:12] nicolas-raoul commented on #85
1. In the wiki spirit, having your work edited is a good thing. It means
the content was considered important enough to build on. But of course, if
it was edited because you entered no description/categories then it is not
so good... how about counting edits as positive, but also give reputation
for a description over 30 characters and over 2 categories?

2. Commons people don't use barnstars much

[2018-04-28 07:24] Aschroet commented on #1110
Just made another upload including this file: https://commons.wikimedia.org/wiki/File:Kriegerdenkmal_M%C3%BChlberg_Drei_Gleichen_-_5.jpg with the same result, i. e. no location. Or is this related to the smartphone i am using which is a Samsung A3 2017.

[2018-04-28 07:26] tanvidadu commented on #85
Based on the discussion and time constraints I have come with two mock-ups : one for title and other for badges. Please suggest improvements in these mock-ups.  Thanks :)
https://marvelapp.com/5450777

[2018-04-28 07:42] maskaravivek commented on #85
Great to see you come up with these mockups so quickly. :)

The mockups look quite clean and intuitive at first look. Here's my feedback on the same,
- The username isn't exactly required as of now because the user can just see his Feedback in the app.
- The text (The more quality images...) could possibly be replaced by a question mark (?) and on tapping it, this tip/description can be shown. Thi

[2018-04-28 16:51] neslihanturan commented on #725
Hmm, this implementation will be harder than we thought.

[2018-04-28 18:41] VojtechDostal commented on #1110
Uploading from my Samsung J7 never adds location template either. I wonder if I can do something about the phone settings (?)

[2018-04-28 18:44] VojtechDostal commented on #1110
OK I just tried enabling "Location Tags" on my camera. That could work :-)

[2018-04-28 18:54] kamilya35231 commented on #1110
@VojtechDostal just make sure that you can view the location info in the details of the image like here on the screenshot
![image_info](https://user-images.githubusercontent.com/35804101/39399877-c43ce45c-4b47-11e8-88ee-3393f41b1be1.jpeg)

[2018-04-29 14:00] misaochan commented on #85
Great job with the mockups, @tanvidadu ! 👍 The UI looks fantastic to me in general, and I really liked that you took the initiative to add 2 minor features (the Share option and information icon - those will indeed be very useful).

A few suggestions:

- Minor change: The title of the activity. Generally we don't use `ALL CAPS` for our titles, but rather `Camel Case`. Also, "Feedback" feels a bit

[2018-04-29 14:46] misaochan commented on #725
@neslihanturan I think for our minimum viable product, maybe we can just run the Nearby query onResume, and give users the option to remove that display permanently if they dislike it? They can re-enable it in Settings. That may be the best balance between usability and data conservation. Users can turn it on when they want to and turn it off if data is really a concern. Also they need not expect

[2018-04-29 14:48] misaochan commented on #1110
Location tags definitely need to be enabled on your phone's camera. :) Maybe we should add this note to an information icon somewhere.

[2018-04-29 15:11] misaochan commented on #1110
@kamilya35231 Sorry for not getting back to you earlier. Currently there is no way to invoke MultipleShareActivity directly from the app. However, we are starting work soon on #1091 which will change that (and likely fix the problem along with it). Have you made significant progress on this task? If not, it may be a better idea to pick another task. Apologies for the inconvenience!

[2018-04-29 15:34] gupta1anubhav commented on #1465
betaDebug

[2018-04-29 16:27] misaochan commented on #1465
AFAIK, this is a known issue on beta due to incompatibility of the API that we use for obtaining number of uploads. :)

[2018-04-29 16:51] VojtechDostal opened #1468 "Category field should not change to capitals every time a space is typed"
Every time I add a space when typing categories, the letter case is changed to capitals. Many categories do not start each letter in capitals so this is quite frustrating. What do you think?

[2018-04-29 17:53] tanvidadu commented on #85
Thanks @misaochan for the feedback! I completely agree on separating "progress" from "statistics".  The suggested "progress" and "statistics" parameters looks great to me ! I will start incorporating all the changes suggested.

I have already worked on Changes suggested by Vivek, as result on the latest mock-up was available on the link. I have included all the mock-ups I have made and shared up t

[2018-04-30 07:05] misaochan commented on #1468
Hmm, sorry @VojtechDostal , I'm not clear on that the issue is. Do you mean that your phone keyboard auto-corrects your input to a capital for each new word when you are searching for categories in the Categories screen?

If so, firstly I don't know if we can do anything about it - it seems to be a keyboard setting on your device. Secondly I'm not sure if it makes a difference - our categories SHO

[2018-04-30 07:11] misaochan commented on #85
Thanks for clarifying! :)

For the badges, I think both would be nice. But due to time constraints, maybe we could go with level badges first (like the one you have in your mockup) and just list the number of thanks etc. Then if you have time at the end of the project, you can add badges for the achievements you mention?

[2018-04-30 09:00] VojtechDostal commented on #1468
It seems to be really specific to this one text field though...

But if the search algorithm disregards letter case, then it's all right for me :-)

[2018-04-30 10:08] #1361 closed

[2018-04-30 10:49] #1323 closed

[2018-04-30 11:27] #1406 closed

[2018-04-30 11:31] #1397 closed

[2018-04-30 15:00] tanvidadu commented on #85
Sound good to me !
I will incorporate the changes mentioned above ! Thanks :)

[2018-04-30 15:03] tanvidadu commented on #1468
This is might be because of the pull-request #1099 which fixed the issue #1098

[2018-04-30 15:41] misaochan commented on #1468
Wow, I just noticed #1098 ! I really wonder why the search issue mentioned in that issue would occur, when AFAIK our MediaWiki query is case-insensitive? For instance, I searched https://commons.wikimedia.org/w/api.php?action=query&list=search&srwhat=text&srnamespace=14&srlimit=10&srsearch=four%20storeys%20house for `Four Storeys House` and `four storeys house` and got exactly the same results.

@

[2018-04-30 18:44] gupta1anubhav opened #1472 "Remove deprecated setDestination(Object)"
Steps to reproduce

1. Build project
2. Check build info.
We need to change ConfigurableReport.setDestination(Object) to ConfigurableReport.setDestination(File) as former method  is deprecated.

![2](https://user-images.githubusercontent.com/31107831/39444161-6c6a0672-4cd4-11e8-8c64-2f84e7b679c8.png)

Would you like to work on the issue?
Yes, I would love to work on this issue.

[2018-05-01 05:08] neslihanturan commented on #1468
Hmm, at the time we merged that PR, category search was a little problematic. I remember, several times I had to write exactly same category name to see results. So maybe I misunderstood the root cause of this issue. Do you think it is better to use capital for only first letter? Because I think weight of categories that start with capital is higher. There is no a balanced mixture.

[2018-05-01 05:11] maskaravivek commented on #85
Separating statistics and progress metrics seems to be a great idea. I also agree with the basis on which @misaochan has defined the levels.

I was wondering what exactly the Share button would do. IMO, it would be nice to take a screenshot [programmatically]of the whole Feedback/Achievements page and let the user share the image. Android exposes a very simple to use API for this purpose.

[2018-05-01 06:27] gupta1anubhav commented on #1472
Should I start working on this issue?

[2018-05-01 08:55] misaochan commented on #1451
Thanks for the input, everyone. :) As the majority appear to be on board, I have made the relevant changes to https://github.com/commons-app/apps-android-commons/wiki/Code-style#javadocs and https://github.com/commons-app/apps-android-commons/wiki/Project-maintenance#pull-requests-and-merging-workflow .

Collaborators, please check for this in all new PRs starting 1 May, and please remind each oth

[2018-05-01 10:01] nicolas-raoul commented on #1472
@gupta1anubhav yes, thanks :-)

[2018-05-01 10:03] misaochan opened #1473 "Create video of people using the new Nearby feature for Play Store"
I was thinking that it would be nice if we could create a video of people (preferably a diverse group of people) walking around on a photo trip around the area, using the new Nearby feature and uploading pictures through it. We could post this video on our Play Store listing, as well as on blogs etc.

Perhaps this year's hackathon would be a good place to do it? @neslihanturan what do you think? I

[2018-05-01 14:06] neslihanturan commented on #1473
Great idea:) I am very excited actually. I can make the video work as soon as it is a simple video. But we need someone to record. Maybe John will be there?

[2018-05-01 14:10] neslihanturan commented on #1473
Another idea, not for play store but for our social media accounts: we can record ourselves while using nearby in some important places of our countries and then merge all of them with feeling collect and share knowledge of all world.

[2018-05-01 14:27] misaochan commented on #1473
Hopefully! But even if he isn't, if you mention this during the opening speech (where you invite participants to join you), someone might volunteer.

This is a great idea! :) I am all for it.

[2018-05-01 15:13] #1212 closed

[2018-05-01 15:13] misaochan opened #1478 "Items needed for v2.8 release"
v2.7 was pushed to production today. Hooray! That also means that it's time to start planning v2.8. :)

Required:
- [x] Featured images #324 @maskaravivek PR at #1456
- [x] Wikidata edits and logging #252 #923
- [x] Nearby places tutorial #706  @neslihanturan PR at #1467
- [x] Refactor ShareActivity #1091  @misaochan PR at #1552
- [x] Failed uploads #1485 - PR at #1790
- [x] Remove retrieval of cu

[2018-05-01 15:14] #686 closed

[2018-05-01 15:14] #922 closed

[2018-05-01 15:28] gupta1anubhav opened #1479 "Error "path attribute should be defined""
"external-path" in the red underlined text is the problem here.
Android lint: Android resources validation error in provider_paths.xml

the path attribute should be defined is the error description.

![4](https://user-images.githubusercontent.com/31107831/39479280-6945970a-4d82-11e8-88dd-5d0110a0648a.png)

Would you like to work on this issue?
Yes, I want to work on this issue.

[2018-05-01 16:33] maskaravivek commented on #1479
@gupta1anubhav can you provide some details on how you plan to fix the above.

Moreover please detail where the above code is being used. :)

[2018-05-01 19:50] gupta1anubhav commented on #1472
@misaochan @nicolas-raoul plz review my pull request

[2018-05-02 00:01] KAMiKAZOW commented on #1221
Just adapt the Wikipedia app for the browsing part.

[2018-05-02 07:50] neslihanturan opened #1480 "Nearby crashes after logging out and in"
**Summary:**

Nearby crashes after logging out and in.

**Steps to reproduce:**

Open app, open nearby, log out, log in, open nearby again

**Add System logs:**
[code]

**Device and Android version:**

API level 19

 **Commons app version:**

current master

[2018-05-02 07:50] neslihanturan commented on #1480
Can be related with #1413

[2018-05-02 07:57] pigsonthewing opened #1481 "coordinates present but not found"
Deferral of my images are deleted as hanging no coordinates (see screenshot), despite the presence of the {{Object location dec}} template.

Screenshot shows https://commons.wikimedia.org/wiki/File:Panorama_war_memorial_-_2018-04-23_-_Andy_Mabbett_-_01.jpg

[2018-05-02 07:57] pigsonthewing commented on #1481
![screenshot_2018-05-02-08-54-59](https://user-images.githubusercontent.com/89541/39511879-e445ac06-4de6-11e8-8f2a-0dd6bce3f4b4.png)

[2018-05-02 08:17] misaochan commented on #1472
@gupta-meghna64 Could you please mention this issue number in your PR's description (e.g. "Fixes issue #")? Doing so will create a link here, and will auto-close the issue when it is merged.

[2018-05-02 08:30] misaochan opened #1482 "Set up sign in credentials for Google Play pre-launch report"
The Google Play pre-launch report in the dev console seems to be a huge help - we can upload a beta or alpha version and have it click through to test for crashes etc on various devices.

The main reason this doesn't work for us is that our app is mostly blocked behind a sign-in wall. However, I just read that it can be given sign-in credentials: https://support.google.com/googleplay/android-devel

[2018-05-02 08:39] nicolas-raoul commented on #1481
Hi Andy, thanks for the feedback!

Could you please tell us what metadata the app should write, and what it wrote instead?

Did you perform [this edit](https://commons.wikimedia.org/w/index.php?title=File%3APanorama_war_memorial_-_2018-04-23_-_Andy_Mabbett_-_01.jpg&type=revision&diff=299304278&oldid=299304094) manually? Does the final metadata represent what the app should write?

Cheers!

[2018-05-02 08:41] nicolas-raoul commented on #1481
Ah, I think I misunderstood.
The metadata is correct, but the problem is that the details activity's Coordinates field contains "None provided", right?

[2018-05-02 09:33] tanvidadu commented on #85
I initially added share button to share the image of badges and level on different social media platforms but taking screenshots of whole screen sounds much better.
To make separation more pronounced in the achievements screen I have changed the mock-ups a bit.
<img width="306" alt="updatedmock" src="https://user-images.githubusercontent.com/29161745/39516231-f3225ff2-4e19-11e8-88fe-09eb9a969619.p