[2018-12-17 16:10] domdomegg commented on #2153
Also opens Snackbar with text:

`Error occurred while loading categories.`

[2018-12-17 17:17] domdomegg commented on #2153
Fix in #2153

[2018-12-17 21:46] domdomegg opened #2156 "When uploading multiple images the image license selector implies singular"
**Summary:**

When uploading multiple images and selecting a license you get a message like:

"This image will be licensed under <license name>"
but it should be
"These images will be licensed under <license name>"

**Screen-shots:**

![screenshot_1545083184](https://user-images.githubusercontent.com/4953590/50117545-35325200-0245-11e9-921e-8a8bf038abf3.png)

[2018-12-17 21:51] domdomegg commented on #2131
Recreated on master (fb3055e)

Uploaded two files:

- `Test2132 0 1` with description `Desc 1`
- `Test2132 0 2` with description `Desc 2`

However on commons both have description `Desc 2`

https://commons.wikimedia.beta.wmflabs.org/wiki/File:Test2132_0_1.jpg
https://commons.wikimedia.beta.wmflabs.org/wiki/File:Test2132_0_2.jpg

[2018-12-18 03:41] nicolas-raoul commented on #22
Using version 2.9.0, category https://commons.wikimedia.org/wiki/Category:Azabujuban_summer_festival was proposed, even though it is a category redirect to the real category https://commons.wikimedia.org/wiki/Category:Azabu-J%C5%ABban_N%C5%8Dry%C5%8D_Matsuri
[code]

[2018-12-18 04:00] nicolas-raoul opened #2157 "Wikidata edit clearly not made with our app has tag wikimedia-commons-app"
https://www.wikidata.org/w/index.php?title=Q37181&type=revision&diff=798569608&oldid=798548076

[2018-12-18 04:41] nicolas-raoul opened #2158 "Give photography tips?"
I have spot a user who uploads pictures of many interesting places, but unfortunately always holding their phone in portrait position, leading to non-optimal pictures:
https://commons.wikimedia.org/w/index.php?title=Special:ListFiles/Liverpoolpics

After 20 uploads, should we detect that and if 90% of the pictures are in portrait mode, and if yes show something like below?

Other tip ideas welcome

[2018-12-18 05:13] nicolas-raoul commented on #2044
I can reproduce on latest alpha.
Additionally, the jpp crashes after I do it many many times:
[code]

[2018-12-18 08:36] ravi-kishan commented on #2156
Hello, I've started working on this.

[2018-12-18 08:42] misaochan commented on #2044
I think @domdomegg submitted a PR for this. Let us try again after his PR is merged :)

[2018-12-18 08:48] misaochan commented on #2158
My suggestion is slightly more vague in scope, but still relevant I think. How about we have a "tip" section in a loading screen (say, when user is loading Nearby) that has little tips like this? Not just for photography, but also for categorization, etc.

[2018-12-18 09:31] nicolas-raoul commented on #2158
Great idea! The Duolingo app does this, showing short facts in the loading screen during which a lesson's data is downloaded from the Internet. The user's uploads could influence what tips they see (for instance if their last picture had zero selected categories).

[2018-12-18 10:06] zhao-gang commented on #2156
@ravi-kishan @domdomegg

Hi, I am also working on this. I use the plurals string way (https://developer.android.com/guide/topics/resources/string-resource#Plurals). I think that'd be good for i18n.

Will send a PR soon.

[2018-12-18 10:12] neslihanturan commented on #2156
Hi @zhao-gang and @ravi-kishan , if one of you is just starting and the other has some progress, I suggest the one who just started can pick another issue, two prevent both of you work on same task.

Did you both already made some progress?

[2018-12-18 10:14] zhao-gang commented on #2156
@neslihanturan I have made it working by using plurals string. But need some clean up to submit a PR.

[2018-12-18 10:17] neslihanturan commented on #2156
@ravi-kishan might be working for two hours also, it is always better to comment before you start. Lets wait for @ravi-kishan 's answer. If he is also close to finalize PR, I would let him send PR and pick another task. But if he is just started, then he can let you to send PR. We need some communication here:) Thanks both of you for your previous and current contributions and help though:)

[2018-12-18 10:30] ravi-kishan commented on #2156
As @neslihanturan has pointed out that he has a better way of implementing it, I think he should also send the PR and the better one will be merged.

[2018-12-18 10:31] neslihanturan commented on #2156
@zhao-gang , maybe it can be better to adding your reviews under already ready PR of @ravi-kishan , instead of sending another PR . By this way, he can either improve his solution or leave it as is. Since we are all cooperating here. Having two different PR for same task puts reviewer in a hard situation though.

[2018-12-18 10:33] neslihanturan commented on #2156
Well, so if you are okay with this @ravi-kishan , waiting for your PR @zhao-gang . Thanks both:)

[2018-12-18 10:40] Divyanshu2132 commented on #2068
Rating pictures is an good idea by this we can also remove images which are not of any use or if someone has uploaded his or her photo

[2018-12-18 10:45] Divyanshu2132 commented on #2061
Same is happening with my achievement activity also
I would like to work on this issue

[2018-12-18 11:42] #1942 closed

[2018-12-18 11:59] #1981 closed

[2018-12-18 13:43] nicolas-raoul commented on #1056
Going smoothly now :-) (the bottleneck just being Google Play which takes time to roll out releases)
![screenshot from 2018-12-18 22-41-04](https://user-images.githubusercontent.com/99590/50158023-4ac37c80-0316-11e9-8181-7455884aabd7.png)

[2018-12-18 14:43] zhao-gang commented on #2156
@ravi-kishan @domdomegg @neslihanturan Hi all, I have submitted my PR. I was not familiar with this project's development process so I didn't comment on this issue before working on it. Sorry for the inconvenience.

[2018-12-18 14:57] Divyanshu2132 commented on #2061
Response.body() is getting this data from server side
"Content-type:application/json "
That is why it is unable to convert to gson datatype giving IllegalStateException

[2018-12-18 15:44] #2131 closed

[2018-12-18 16:53] misaochan commented on #1056
I made the switch to Google Groups using the address commons-alpha@googlegroups.com . I am a bit worried though, because I was not able to search for that address in the dev console (whereas our other google group addresses were searchable). If someone who wasn't in the list (maybe @ashishkumar468 or @neslihanturan ) could join the group and see if the alpha works for them, that would be great.

[2018-12-18 17:04] domdomegg commented on #1056
I've tried joining the alpha group - was in the beta previously, which I've now left. While Google Play says I'm a tester I think I've still got the beta as none of the recent changes seem to present in the app.

Just to confirm, is the process?
1. Join the Google group at https://groups.google.com/forum/#!forum/commons-alpha
2. Sign up to be a tester at https://play.google.com/apps/testing/fr.fre

[2018-12-18 17:38] domdomegg opened #2163 "When uploading a single image the category and license selector implies plural"
**Summary:**

When uploading a single image there's is the message `(For all images in set)`. While it still kind of works (as it's a set of 1 image), it does feel a bit weird. Think it would be better just being hidden in the case of uploading 1 image.

Sorry to keep being so specific about these details, but I do think it improves the overall 'polish' of the app.

@ravi-kishan or @zhao-gang one

[2018-12-18 17:49] domdomegg opened #2164 "Links out of the app should use Utils.handleWebUrl"
**Summary:**

Links to Wikimedia Commons should probably use `Utils.handleWebUrl` instead of launching the web browser, so it feels less like you're leaving the app. Also can immediately return by pressing the `x` in the top right. Also see screenshots below.

Some places I know where this is not implemented are:
- the final upload page the link to `Wikimedia Commons Policies`
- the final upload p

[2018-12-18 17:52] misaochan commented on #1056
Yes, that is the process. :) Does it work for you? You would likely not have the LATEST change (releases take a few hours to propagate) but you should have "Search this area" when you go to a new place on the Nearby map.

[2018-12-18 17:58] domdomegg commented on #1056
Yep, all working here.

Interestingly, ARCA does know what build I'm using (`2.9.0.113`) so it must be possible to get it on the about page.

[2018-12-18 18:41] maskaravivek commented on #2163
@domdomegg Thanks for finding and creating issues which beginners can pick up. :)

[2018-12-18 20:03] #2147 closed

[2018-12-18 20:07] #2153 closed

[2018-12-18 21:36] Divyanshu2132 commented on #2083
Can you please provide me the pictures?

[2018-12-18 22:40] domdomegg commented on #2127
It's a bit ugly but this does work to get the full version number (`AboutActivity:66`):

[code]

However this doesn't allow us to see the commit hash which could be useful for debugging, as don't have access to Google Play dashboard.

---

Alternatively we could update it in Gradle (`app/build.gradle:137`):

[code]

However this doesn't show the incrementing number which would also allow us to lin

[2018-12-18 23:14] domdomegg opened #2165 "App bar scrolls when it shouldn't"
**Summary:**

The toolbar scrolls when really it should be the contents of certain activities that scroll only. See GIF below demonstrating behaviour.

Most likely you will need to change files in `/res/layout/`

Places where this happens
- Achievements
- About
- other places I've forgotten to check?

Comment if you are working on this issue beforehand so we don't have two people working on the sa

[2018-12-18 23:20] domdomegg commented on #2041
Fixed in #2047

[2018-12-18 23:20] #2041 closed

[2018-12-18 23:38] domdomegg opened #2166 "Crash when clicking bookmark icon inside BookmarksActivity"
**Summary:**

Crashes on clicking the bookmark icon in the action bar when viewing media through BookmarksActivity.

**Steps to reproduce:**

How can we reproduce the issue?
1. Log in
2. Open media from Home
3. Click bookmark icon
4. Go to bookmarks tab
5. Click media
6. Click bookmark icon
7. Crashes

What did you expect the app to do, and what did you see instead?
- Should show bookmarked icon a

[2018-12-19 00:00] domdomegg commented on #2055
Fixed in #2057

[2018-12-19 00:00] #2055 closed

[2018-12-19 00:02] domdomegg opened #2167 "Crash in nearby"
**Summary:**

Sometimes nearby crashes. Based off error messages, think is to do with #591 / #2051.

**Steps to reproduce:**

How can we reproduce the issue?
Not quite sure, but seems to happen if you log in/out a few times and then open the nearby tab. Very inconsistent. Given the method names might also need to be moving/be in the process of being located by GPS?

**System logs:**

[code]

**Dev

[2018-12-19 00:06] domdomegg commented on #2167
Another log

[code]

[2018-12-19 00:15] domdomegg opened #2168 "Nearby map does not load and throws error"
**Summary:**

Nearby map doesn't load (just appears grey)

**Steps to reproduce:**

How can we reproduce the issue?
- Seems to pretty consistently happen for me whenever I open nearby tab

What did you expect the app to do, and what did you see instead?
Expected: Show me a map
Actual: Shows grey screen (but location loads as list works)

**System logs:**

Able to recreate in `2.9.0-debug-master~46

[2018-12-19 00:38] domdomegg commented on #868
Got same issue as @nicolas-raoul

LineageOS 7.1.2 on Samsung Galaxy S6 (2560x1440 pixels)

Evie launcher

**Screenshot**
![screenshot_20181219-003226](https://user-images.githubusercontent.com/4953590/50191508-1b1c7080-0326-11e9-816b-bae5b8bb6b86.png)

Also personally I prefer circular icons, which the app previously used. Is there any way to set that as the default icon style for devices that don

[2018-12-19 01:21] zhao-gang commented on #2163
@domdomegg I'd like to pick this. Check the number of images and hide the view if it is only one image could fix this issue.

[2018-12-19 04:52] DylanRobson commented on #2164
I'm working on this. 👍

[2018-12-19 08:11] nicolas-raoul commented on #2083
@Divyanshu2132 Here it is: https://drive.google.com/file/d/1AATZMZ3hQWa8pP62NNJLXM-rGD_syQmK/view?usp=sharing

[2018-12-19 08:17] Divyanshu2132 commented on #2083
I am unable to reproduce the error
Image uploaded successfully.

[2018-12-19 08:35] nicolas-raoul commented on #2168
Strange, the map shows normally for me with 2.9.0.114

[2018-12-19 09:11] misaochan commented on #1056
Fantastic! Thanks @domdomegg . :)

[2018-12-19 09:31] misaochan commented on #2127
As @domdomegg mentioned in #1056 , ACRA reports are able to obtain the correct version number (that corresponds to the Play Store number). I think that would be most intuitive for users, and also easier for us to know which version everyone is talking about. Could we just use a similar method for About?

[2018-12-19 09:39] domdomegg commented on #2127
@misaochan The first method above basically does what ACRA does. I still think the commit hash could be useful - or another way to find the commit from the versionCode.

[2018-12-19 09:41] misaochan commented on #2127
Edit: Actually, I thought about it a bit more, and realized that using the SHA would probably make debugging easier indeed, since we don't otherwise have a clear documentation of which version number was released after which commit (unlike manual releases which utilize build.gradle). So perhaps this solution may be best after all:

I would definitely say that we don't want or need the SHA for non-

[2018-12-19 09:46] misaochan commented on #2168
I get the same issue with my emulator, too. To the best of my knowledge, this is an issue for some emulators, and no one has reproduced it with a real device.

[2018-12-19 10:06] nicolas-raoul commented on #2127
How about concatenating version_sha ?

An increment is still useful, for instance if I see a bug and Alice can not
reproduce it then I can say I am using version 2.9.0.246_a5d79b and Alice
can easily tell whether she is using a prior or later version compared to
246.

On Wed, Dec 19, 2018, 18:41 Josephine Lim <notifications@github.com wrote:

[2018-12-19 10:08] misaochan commented on #2031
Thank you to our wonderful volunteers who have helped us with some of these issues while we were rushing for the 2.10 feature deadline!  :) Now that 2.10 is almost ready, we have decided that we will most likely skip 2.9.1 entirely and roll all of these fixes into 2.10. There are many bugfixes in master that we want to take advantage of, plus the automated releases via master will be very useful.

[2018-12-19 10:11] misaochan opened #2171 "v2.10 beta release checklist"
Features:

- [x] #591
- [x] #945
- [x] #78
- [x] #1556

Bugfixes:

- [x] After re-logging, notifications bell icon is empty #2014 @neslihanturan PR is up #2173
- [x] App stuck at "receiving shared content" #2033 @maskaravivek
- [x] Nearby: My position does not move #2062
- [x] Upload failures after v2.8 #2013 (Possibly fixed, let's see what the response is)
- [x] Switch to new image library to sol

[2018-12-19 10:11] misaochan commented on #2031
I have copied the remaining bugfixes needed over to #2171

[2018-12-19 10:11] #2031 closed

[2018-12-19 10:13] misaochan commented on #2127
@nicolas-raoul Great idea!

[2018-12-19 10:34] vanshikaarora commented on #2165
I am wiling to work on this error. Before that can you please elaborate on what phone you got this issue. Because I tried to do the same on my phone and i couldn't come across any error.

[2018-12-19 10:45] vanshikaarora commented on #2158
I would like to work upon this. I am a beginner at open source could you please, assign me some task to work upon this.

[2018-12-19 10:50] neslihanturan commented on #2165
Thanks @vanshikaarora , the issue is toolbar is also moving with page content. Ideally it should stay and content should scroll.

[2018-12-19 10:54] vanshikaarora commented on #2165
Sir i got what you have posted but in my case. For about actitvity neither the toolbar nor the activity is scrolled.

[2018-12-19 10:56] neslihanturan commented on #2158
Thanks @vanshikaarora for your interest, I saw you also commented on #2165, please make sure you claimed one task at a time. #2165 or this one is fine.

I think @misaochan 's suggestion is great. Maybe this information can be supported with some images, since it is faster interpret images, than text. And during loading, we have limited time to communicate with user.

[2018-12-19 10:59] vanshikaarora commented on #2158
Can you please be specific regarding the point categorization

[2018-12-19 11:14] neslihanturan commented on #2158
I think there should be a set of tips, and different texts/images (I am willing to send some images after we decide our titles) related with those tips. We can randomly pick one and display different tips (this could be fun).

- One about promoting landscape
- One about EXIF
- One about categorization
- One about statistics

Actually I loved displaying something when our app is IDLE, we can also s

[2018-12-19 11:16] domdomegg commented on #2165
It's likely that your phone has a higher dp resolution so you can see the whole page without scrolling. Maybe try an emulator with a lower resolution or bumping up the display scaling on your phone?

[2018-12-19 11:34] vanshikaarora commented on #2158
Yes sir the idea is cool but discussion part is reaaly important. I'll wait till the discusion goes on and then will start the work

[2018-12-19 11:36] vanshikaarora commented on #2165
OK sir I'll check this out on an emulator and then start working upon this.

[2018-12-19 11:37] neslihanturan commented on #2165
Thanks @vanshikaarora , and our team has a motto: No sirs here, just friends:)

[2018-12-19 11:39] vanshikaarora commented on #2165
Sorry to say that @neslihanturan. And thanks for that courtesy :)

[2018-12-19 11:58] misaochan commented on #2014
This happened again for me. I noticed though that when I went to notifications and came back, the icon was normal. It seems to only happen when there are unread notifications (i.e. the red dot is present).

[2018-12-19 12:06] #78 closed

[2018-12-19 12:07] misaochan commented on #78
I've added 2019 to the JSON file and fixed the dates etc. If anyone could double check the file, that would be fantastic, but everything appears to be in good working order otherwise. :)

[2018-12-19 12:11] nicolas-raoul commented on #2033
I just had this happen on 2.9.0.114 it is still spinning after 30 minutes.
I was uploading 16 small smartphone pictures.

[2018-12-19 12:14] neslihanturan commented on #2033
Was it a bulk upload @nicolas-raoul ? Or one by one?

[2018-12-19 12:18] nicolas-raoul commented on #2033
Yes, the 16 pictures that got stuck were as a bulk upload.
Today I also successfully uploaded several single pictures, and I also made a successful bulk upload of 4 pictures of similar size.

[2018-12-19 14:49] nicolas-raoul opened #2172 "No alpha APKs despite master commits"
There have been 6 commits to master today, yet no alpha APK has made it to Google Play:
![screenshot from 2018-12-19 23-50-17](https://user-images.githubusercontent.com/99590/50227334-e1f90480-03e8-11e9-900b-56fb33f12081.png)

![screenshot from 2018-12-19 23-46-00](https://user-images.githubusercontent.com/99590/50227157-6b5c0700-03e8-11e9-8115-c2ea078c2654.png)
(Now almost midnight here)

[2018-12-19 14:55] neslihanturan commented on #2014
You will laugh hard when I send my PR for this issue...

[2018-12-19 16:13] domdomegg commented on #2172
Doing a bit of testing in the app, I think it was my change in #2162 that broke it (sorry). Reason I think this is because the alpha from Google Play has plural string support (db38174eb4129316ff801ce89e4b8298e0495a77) but the category lists are still broken (46db38b8e902b4f81333ea54de41f861407c0e3c), and there's only two commits between there.

[2018-12-19 16:17] maskaravivek commented on #2172
@domdomegg Have you figured out a fix or should I try making a change?

You could directly commit to master for attempting the fix.

[2018-12-19 16:22] domdomegg commented on #2172
Think it's a bash whitespace problem, going to check Travis logs to see if it confirms my suspicions if so I'll try push a fix. Otherwise will revert commit.

[2018-12-19 16:37] maskaravivek commented on #2172
@nicolas-raoul 6 more commits are soon going to be added to master. #2174.

Hopefully, @domdomegg's change will fix alpha publishing then there would be a lot of new fixes on the master. :)

[2018-12-19 16:56] #1556 closed

[2018-12-19 16:58] domdomegg commented on #2172
Travis now failing but not quite sure why my change is making it fail. Going to retry build in case it was just a coincidence.

From https://api.travis-ci.org/v3/job/470100834/log.txt
[code]

[2018-12-19 16:59] #1550 closed

[2018-12-19 16:59] #2042 closed

[2018-12-19 17:17] maskaravivek commented on #2172
@domdomegg Have canceled 2 master builds(one of it was yours) and now the latest master is building. If that works, your change would also get validated.

[2018-12-19 17:35] domdomegg commented on #2172
Yay, Travis is successful now. Was just freak coincidence I guess ¯\_(ツ)_/¯

[2018-12-19 17:35] #2172 closed

[2018-12-19 18:18] #2014 closed

[2018-12-19 19:10] domdomegg commented on #2167
Another log. Still no closer to finding out the circumstances needed to trigger crash.

It's not flaky internet though, because I had an extremely strong connection when this happened. Makes me suspect flaky GPS sensor data?

[code]

[2018-12-19 19:39] domdomegg commented on #1941
Got a bit too excited and thought I had fixed this issue but haven't.

Here's another log of where we are:

[code]

[2018-12-19 20:48] briancollins-92 commented on #2166
Hi @domdomegg, just having  look and I am afraid I am not able to replicate this using my emulators (Nexus, one at 27 and one at 25)

I am wondering which branch you might be using, I tried it on master and on 2.9-release and could not replicate, thanks

[2018-12-19 21:39] domdomegg opened #2177 "Nearby places information dialog okay button"
**Summary:**

Nearby places information dialog has 'okay' button on bottom left. Usual convention is to have buttons in bottom right.

Fix ready in #2178

**Screen-shots:**

| Actual | Expected |
| - | - |
| ![screenshot_1545255229](https://user-images.githubusercontent.com/4953590/50249501-2038f880-03d6-11e9-9ead-4acf19405a8b.png) | ![screenshot_1545255392](https://user-images.githubusercontent.c

[2018-12-19 22:05] domdomegg commented on #2166
Hi @briancollins-92, thanks for looking into this.

I was using master @ 46db38b.

I've just tried again and can't reproduce it now on the current master (784ee8b) but can in the version that was failing (46db38b)

I think it may have been fixed by #2047 which was merged 5 hours ago in f3b450e. Going to close this for now, will reopen if bug reappears.

[2018-12-19 22:05] #2166 closed

[2018-12-19 22:33] domdomegg commented on #1312
Duplicate of #858

[2018-12-19 22:33] #1312 closed

[2018-12-19 22:43] domdomegg commented on #124
Taking off assigned label as not updated for a long time
Taking off beginner friendly because as this issue has been open so long it's clearly not

Going to close as the app doesn't really support uploading audio files properly yet. When it does, if this issue reappears we can reopen. Also I agree with [ilimugur's comment](https://github.com/commons-app/apps-android-commons/issues/124#issuecomment

[2018-12-19 22:43] #124 closed

[2018-12-19 22:44] domdomegg commented on #1738
Don't think this is still happening - I can't reproduce and as there's been no more updates on this going to assume it kinda sorted itself. If it does reappear can always reopen.

[2018-12-19 22:44] #1738 closed

[2018-12-19 22:52] domdomegg opened #2179 "ACRA reporting dialog looks old"
**Summary:**

Now we've got beautiful material design in the rest of the app, the crash reporting dialog does look pretty outdated. While of course we hope as few users as possible see it, I think it'd be nice if it did look good.

You'll likely want to create a custom dialog theme in `styles.xml`. It might help to see the current theme, which is the default `Theme.Dialog` from the support library

[2018-12-19 22:55] domdomegg commented on #2088
@vanshikaarora I think that's unrelated. I fixed that in 46db38b8e902b4f81333ea54de41f861407c0e3c

[2018-12-19 22:59] domdomegg commented on #2088
Just checked, this also happens in subcategories. So basically any categories page

[2018-12-19 23:04] domdomegg opened #2180 "Night mode issue list"
# List of night mode issues

Wanted to compile in one place to make it easier to review etc. Please do edit with updates on this post :)

Before starting work, double check there is no-one assigned and there are no open pull requests that have already fixed these!

- [x] #2107 Notifications
    - [x] Assigned
- [x] #2090 Search
    - [x] Assigned
- [x] #2088 Categories
    - [x] Assigned
- [x] #20

[2018-12-19 23:05] domdomegg commented on #1119
Done in #1176

[2018-12-19 23:05] #1119 closed

[2018-12-19 23:08] domdomegg commented on #1013
@ashishkumar468 Did that fix you were talking make it in? Can this be closed?

[2018-12-19 23:09] domdomegg commented on #1244
@madhurgupta10 Any updates?

[2018-12-19 23:16] domdomegg commented on #1334
Hi @Ksaboor.

It might be best to have a read through the developer documentation on the [wiki](https://github.com/commons-app/apps-android-commons/wiki#developer-documentation)

Also here is some information about Wikidata's SPARQL query service.
https://www.wikidata.org/wiki/Wikidata:SPARQL_query_service/Wikidata_Query_Help

However, if you think this is too much to start with have a look around

[2018-12-19 23:22] domdomegg commented on #1961
@AhmedAliNaga Don't know if you're still interested in working on this, but you'll likely have to work in `CommonsLogSender.java` and/or `LogsSender.java`

The functions that look particularly important for this issue are
`CommonsLogSender.CommonsLogSender` (see `this.emailBody = message`)
`LogsSender.sendEmail` (see `String body = emailBody`)

However there might be a more elegant solution elsewh

[2018-12-19 23:33] JasonObeid commented on #2179
Could I work on this issue please?
Thanks.

[2018-12-19 23:40] domdomegg commented on #2179
Assigned to @JasonObeid

[2018-12-20 00:20] domdomegg commented on #1941
Okay, got a bit closer. If you disable proguards `minifyEnabled` option Instant Run seems to work fine.

I'm going to put this on pause for now so please do feel free to have a go solving.

[2018-12-20 01:55] domdomegg opened #2181 "Clearing recent searches only removes last 10"
**Summary:**

Currently, clicking the 'bin' icon on searches only deletes your last 10 searches. Personally I think it should wipe your entire search history - I'm not sure why it's implemented the way it is currently.

If however we do want it to only delete last 10 then at least the method call should be renamed to something other than `deleteAll`

https://github.com/commons-app/apps-android-com

[2018-12-20 03:12] nicolas-raoul opened #2182 "Explore category shows same image indefinitely"
**Steps to reproduce:**

1. Go to Explore
2. Type "pictures of the year" in the search bar (UPDATE: category has changed, use `Velles (Indre)` instead)
3. Select the "categories" tab
4. Tap the first one https://commons.wikimedia.org/wiki/Category:Pictures_of_the_Year
5. Scroll its media
6. Notice that after two other picture, the picture https://commons.wikimedia.org/wiki/File:POTY_Feb_11.jpg is

[2018-12-20 03:46] vanshikaarora commented on #2088
Ok @domdomegg  I'll check that out

[2018-12-20 03:51] nicolas-raoul commented on #2182
The problem might have always existed. I just discovered that category randomly.
It does not happen for the other categories I have tried.
I reproduced the problem for that particular category, so it probably has _something_ special.

[2018-12-20 05:57] maskaravivek opened #2183 "App crashes when context passed to network utils is null"
**Summary:**

As per @nicolas-raoul's crash reports the app crashes when the context is null.

**System logs:**

[code]

**Device and Android version:**

7.1.2

**Commons app version:**

2.9.0.118

**Would you like to work on the issue?**

Yes

[2018-12-20 08:31] sp2710 commented on #2181
Hey.I had started working on this

[2018-12-20 09:34] nicolas-raoul commented on #790
Looks like something messed up, and my patch did not make it into the YAML file:
https://phabricator.wikimedia.org/diffusion/GTWN/browse/master/groups/Wikimedia/CommonsAndroid.yaml
Could someone try again?

[2018-12-20 09:36] domdomegg commented on #2088
@vanshikaarora are you working on this? Just want it to be clear for other developers looking at issues.

[2018-12-20 09:38] domdomegg commented on #2172
@nicolas-raoul can you check there are now new releases in Google Play?

[2018-12-20 09:43] nicolas-raoul commented on #2172
@domdomegg  Yes it is working thanks :-)

[2018-12-20 10:06] domdomegg commented on #2183
How do you recreate the crash in the app (i.e. in what scenario is it called with null?)

[2018-12-20 10:33] Divyanshu2132 commented on #2088
I am working on this issue

[2018-12-20 10:36] domdomegg opened #2186 "Night mode: Tabs"
**Summary:**

Tabs are inconsistent in how they are styled. I'm okay with MainActivity being different but Search and Category tabs should definitely look the same.

Should also probably standardise across non-night mode too.

Tabs are used in (edit this list if I've forgotten some):
- MainActivity (Contributions/Nearby)
- SearchActivity (Media/Categories)
- Category page (Media/Subcategories/Pare

[2018-12-20 10:37] domdomegg commented on #2088
Okay. I'm going to do the tabs separately in #2186, so please don't change them if possible (to avoid merge conflicts)

[2018-12-20 10:38] domdomegg opened #2187 "Night mode: Settings"
**Summary:**

In night mode:
- Dark blue text hard to read in settings
- Blue toggle switches are hard to see in settings

**Screen-shots:**

![screenshot_1545301108](https://user-images.githubusercontent.com/4953590/50280062-6bd5bb80-0443-11e9-9419-8975269a672c.png)

[2018-12-20 10:48] sp2710 commented on #2187
I am working on this

[2018-12-20 10:48] Divyanshu2132 commented on #2088
Sure
I'll talk to you before changing or creating pull request

[2018-12-20 11:47] domdomegg commented on #2187
Actually maybe not. Ignore this for now.

[2018-12-20 12:14] domdomegg commented on #2090
As of 3399576 search activity looks like

![screenshot_1545307990](https://user-images.githubusercontent.com/4953590/50284327-a560f380-0450-11e9-8ca6-4f24f4789c9f.png)
![screenshot_1545307992](https://user-images.githubusercontent.com/4953590/50284328-a560f380-0450-11e9-9ca8-9b50a3e08f08.png)

[2018-12-20 12:18] #1722 closed

[2018-12-20 12:55] #2183 closed

[2018-12-20 13:04] misaochan opened #2190 "Rename "Nearby" feature?"
With the implementation of #591 , it seems that Nearby is no longer just "Nearby" any more, but rather a full-fledged map of places that need pictures, anywhere in the world.

I wonder if we should consider renaming the feature? To be fair, I can't think of anything else that is equally concise, and "Nearby" is what all of us refer to it as now. But it just doesn't seem accurate anymore.

[2018-12-20 13:12] briancollins-92 opened #2191 "Bad Image Warning caught in loop"
**Summary:**

When selecting an image that is already uploaded, a warning dialogue pops up to notify that it is a duplicate. If user selects 'yes' to progress the image anyhow, then another dialogue comes up again with other warnings. clicking yes again brings up another dialogue, and so on

**Steps to reproduce:**

How can we reproduce the issue?

1. Enter the upload wizard
2. Select a photograph

[2018-12-20 13:19] domdomegg commented on #1828
Will be fixed in #2188

[2018-12-20 13:20] #1828 closed

[2018-12-20 13:47] misaochan commented on #2158
Images would be cool! However the main problem with having a different image for every tip is (1) unnecessarily increasing APK size, and (2) every time we want to add a new tip, we need to get an image for it.

How about just a few different images, each one for a certain type of tip? For instance photography tips could all have a camera image. And categorization tips could have... well I dunno wh

[2018-12-20 14:01] vanshikaarora commented on #2165
Hey I am working upon this issue

[2018-12-20 14:10] neslihanturan commented on #2158
Agree about APK size, maybe we can use text and image for some of them, and only text for others? So images are not mandatory.

[2018-12-20 14:11] neslihanturan commented on #2165
Thanks @vanshikaarora , did you managed to reproduce the issue?

[2018-12-20 14:17] vanshikaarora commented on #2165
No, I couldn't. I tried on an emulator but my system cannot suffered frequent non responsive states due to  gradle build of the heavy project as well as the emulator.

But yet i went through the xml file for these activities and i could get what was wrong with the code that generated this issue.

[2018-12-20 14:21] neslihanturan commented on #2165
Oh okay, if you have a theory go for it. But what about finishing your open PR first? It is always better working on one PR at at time.

[2018-12-20 14:23] neslihanturan commented on #2158
And we could draw some creative and attractive images ^_^

[2018-12-20 15:13] misaochan commented on #1683
Aaaannnddd... it looks like we're done, a bit sooner than expected even! :) I wrote up a blog post (https://cookiesandcodeblog.wordpress.com/2018/12/21/v2-10-alpha-testing/ or https://medium.com/@commons_android_app/v2-10-alpha-testing-fdf6c18a0007 ) that summarizes the improvements made as part of this project. "Send Logs" was not mentioned, as it was already in the v2.9 blog post.

Thank you @Vo

[2018-12-20 15:13] #1683 closed

[2018-12-20 15:55] domdomegg commented on #2190
Maybe just "map"? I feel if we were to call it this it would need a search feature which I think could be difficult to implement well without using non-open-source services.

Given it does start at your location "nearby" does still kinda make sense

[2018-12-20 16:17] neslihanturan opened #2194 "Update Nearby ⓘ icon content after "search this area" feature"
**Summary:**

We need to update nearby information box text and include search this area feature ( #2051 ) in it.

[2018-12-20 16:18] neslihanturan commented on #2190
We need to update nearby info i consequently, see #2194 . Map is a alternative, does "Upload via Map" too long;?

[2018-12-20 16:31] ShridharGoel commented on #2194
May I take this up?

[2018-12-20 16:31] domdomegg commented on #2194
Assigned to @ShridharGoel

[2018-12-20 16:32] ondro2208 commented on #1013
I think so. There is nothing to do.

[2018-12-20 16:35] #1013 closed

[2018-12-20 16:38] #2181 closed

[2018-12-20 16:57] ShridharGoel opened #2196 "App keeps toggling between Home and Notifications and then crashes"
**Summary:**

App keeps toggling between Home and Notifications and then crashes when notifications is visited through the bell icon.

**Steps to reproduce:**

1. Use the bell icon on the top-right of Home to go to Notifications.
2. Press back, Home will open.
3. Press back again, it will go to Notifications.
4. This will repeat.
5. Doing this many times crashes the app.

Instead, the app should h

[2018-12-20 16:59] domdomegg commented on #2196
Duplicate of #2044 which has fix ready in #2102

[2018-12-20 16:59] #2196 closed

[2018-12-20 17:30] #2191 closed

[2018-12-20 18:00] domdomegg opened #2197 "Night mode: About page"
**Summary:**

All the text links should be white (from accentColor in theme). However, the ones below the social media icons are blue.

**Screen-shots:**

![screenshot_1545327948](https://user-images.githubusercontent.com/4953590/50301536-89287b00-047f-11e9-8237-a75b4586fbcc.png)

**Would you like to work on the issue?**

I already have a fix ready, waiting for Travis on #2098 and then will submit

[2018-12-20 18:10] #2072 closed

[2018-12-20 18:20] #2071 closed

[2018-12-20 18:31] borisenkotim commented on #2186
Hey, I would like to work on this issue.

[2018-12-20 18:34] ShridharGoel opened #2200 "App closes unexpectedly when navigating to Home"
**Summary:**

App closes unexpectedly when navigating to Home from Explore.

**Steps to reproduce:**

1. Go to Explore from the navigation drawer.
2. Again open the navigation drawer and click on Explore.
3. Now, click on Home in the navigation drawer and the app will close.

**Device and Android version:**

Android 7.1.2 (API 25)

**Commons app version:**

2.9.0
Branch: master
Build variant: beta

[2018-12-20 18:35] domdomegg commented on #2186
Assigned to @borisenkotim

[2018-12-20 18:37] domdomegg commented on #2186
It's obviously up for debate, but I think the best look is having them look like part of the toolbar (as they are in the `Category` screenshot above).

[2018-12-20 18:39] domdomegg commented on #2186
Or white on black is quite good. Basically just not something with a white background.

[2018-12-20 18:48] domdomegg commented on #2200
Cannot reproduce on `betaDebug` on `master` @ f521e8886dcf9a2be6ab5848cfb050bbb8acb65a

![api28](https://user-images.githubusercontent.com/4953590/50304371-aeb98280-0487-11e9-8ce7-d6a511908769.gif)

Do you have any logs? Exactly what version of the app are you using? Did you build it with Android Studio, or is it from the Google Play alpha/beta/prod channel?

[2018-12-20 18:50] domdomegg commented on #2200
The above was recorded on a `Galaxy Nexus (emulator)` at API level `28`.

Also can't reproduce the crash at API level `25`.

[2018-12-20 18:51] domdomegg commented on #2187
Closed in #2098

[2018-12-20 18:52] domdomegg commented on #1839
Fixed in #1845

[2018-12-20 18:52] #1839 closed

[2018-12-20 19:51] ShridharGoel commented on #2200
App isn't crashing, it's just closing.

[2018-12-20 19:58] domdomegg commented on #2200
Managed to recreate at 340b0812 at API level `25`.

Seems to happen with any activity in the navbar (tested bookmarks, notifications)

[2018-12-20 20:07] domdomegg commented on #2200
Another clue: App exits if you press 'back' button instead of navigating home.

[2018-12-20 20:08] ShridharGoel commented on #2200
Yes, happens with other activities too as I've mentioned in the summary.

I have almost fixed it.

[2018-12-20 22:10] Divyanshu2132 commented on #2088
@domdomegg I have created a pull request look into the files changed to avoid merge conflicts

[2018-12-21 00:15] domdomegg commented on #470
New upload flow fixes this

[2018-12-21 00:15] #470 closed

[2018-12-21 00:22] domdomegg opened #2203 "Upload limit amount doesn't update EditTextPreference if hit cap"
**Summary**

The upload limit amount can be edited to be over 500. While it doesn't break anything, it is weird that the SettingsFragment remembers this when you edit the setting again without exiting settings.

**Would you like to work on the issue?**

Yes

[2018-12-21 00:34] domdomegg commented on #997
No more similar logs have come through, assuming this no longer happens. Sounds like it might have been something in ShareIt. Can reopen if see similar logs.

[2018-12-21 00:34] #997 closed

[2018-12-21 00:44] #1545 closed

[2018-12-21 00:46] #1130 closed

[2018-12-21 00:51] domdomegg commented on #2002
I am able to log in to beta and normal commons on API levels `28`, `25`, `23`, `19` and `15`.

Is this still an issue?

[2018-12-21 00:53] domdomegg commented on #1826
Fixed in #1873

[2018-12-21 00:53] #1826 closed

[2018-12-21 01:03] domdomegg commented on #1777
Sorry for title changing spam, kept changing my mind.

Let's have this as an issue for explore not showing anything in beta, which I will work on.

If you can reproduce it open up another issue for explore showing "No images found!" in prod.

[2018-12-21 01:07] domdomegg commented on #1854
Fixed in https://github.com/maskaravivek/apps-android-commons/pull/1 and #1968

[2018-12-21 01:07] #1854 closed

[2018-12-21 01:12] domdomegg commented on #1412
Have any more of these logs come through?

[2018-12-21 01:15] domdomegg commented on #1427
Think first NPE fixed in #1454, second in https://github.com/material-components/material-components-android/commit/24c40ffa2aa0ba9ea33a3dd9755be050c49e4da0

[2018-12-21 01:15] #1427 closed

[2018-12-21 01:16] domdomegg commented on #1393
Think this was fixed in #1454, reopen if issue persists with same logs.

[2018-12-21 01:16] #1393 closed

[2018-12-21 01:18] domdomegg commented on #1115
Workflow now in use and documented on wiki.

[2018-12-21 01:18] #1115 closed

[2018-12-21 01:21] domdomegg commented on #1087
I don't think this still happens. If it does do reopen.

[2018-12-21 01:21] #1087 closed

[2018-12-21 01:35] domdomegg commented on #1563
Does this still happen often in Android Studio 3.2.1?

[2018-12-21 01:40] domdomegg commented on #1465
Fixed in #1265

[2018-12-21 01:40] #1465 closed

[2018-12-21 01:41] domdomegg commented on #1770
@tanvidadu Are you still working on this?

[2018-12-21 01:42] domdomegg commented on #1773
Done in #1855

Related: #2053

[2018-12-21 01:42] #1773 closed

[2018-12-21 01:44] domdomegg commented on #1640
Done in #1716

[2018-12-21 01:45] domdomegg commented on #1289
Fixed in #1968

[2018-12-21 01:45] #1289 closed

[2018-12-21 01:47] domdomegg commented on #1980
Fixed in #1998

[2018-12-21 01:47] #1980 closed

[2018-12-21 05:12] nicolas-raoul commented on #2033
Got this ("receiving" taking forever) problem again yesterday and today, each time for a single small smartphone picture.

[2018-12-21 05:32] nicolas-raoul commented on #2033
Each time, I just try again and the picture uploads correctly with that same "receiving" screen taking only like two seconds.

[2018-12-21 05:52] nicolas-raoul commented on #2153
It works great now, thanks! 🙂

[2018-12-21 06:02] nicolas-raoul commented on #2190
I think "Nearby" is the best for now.
It makes people curious, it is personal and a call to action.

An even more personal name could be "Around you".

If the tab was called "Map" I believe many people would think "Why would I want to see a map, that's boring".

[2018-12-21 10:52] #1707 closed

[2018-12-21 12:00] neslihanturan commented on #2002
Thanks for pointing out @domdomegg , I could login on API 19, should be solved.

[2018-12-21 12:31] neslihanturan commented on #2186
Actually my favorite here is first (MainActivity) style, _whoever create a PR please share 3 screenshots for dark theme like above and 3 for light theme._

But I think this PR requires discussion, so please do not start implementation before we find our path.

[2018-12-21 12:48] neslihanturan commented on #2194
Team, can we discuss the text needs to be written here?

[2018-12-21 13:09] domdomegg opened #2205 "Upload card view arrow points in random direction"
**Summary:**

The arrow to show and hide the box to write the title and description in the new upload flow seems to point in random directions after the first upload.

**Steps to reproduce:**

How can we reproduce the issue?
1. Open the app
2. Start upload flow
3. Exit from upload flow
4. Start upload flow again

**Screen-shots:**

See https://giphy.com/gifs/2UEYQEXs9z51pNI5u5

[2018-12-21 13:16] neslihanturan commented on #2205
Thanks for reporting @domdomegg , funny issue though:D If you don't plan to work on this issue, can we promote this for beginners?

[2018-12-21 13:20] domdomegg commented on #2205
Have added beginner friendly tag. Have not looked into it at all though so it might be difficult, will remove if it turns out to be.

[2018-12-21 14:41] #2167 closed

[2018-12-21 14:41] #2168 closed

[2018-12-21 15:30] #2177 closed

[2018-12-21 15:54] ShridharGoel opened #2208 "Clicking back on Notifications always takes to Home"
**Summary:**

Clicking back on Notifications always takes to Home.

**Steps to reproduce:**

1. Go to Explore.
2. Now, go to Bookmarks.
3. Then, Notifications.
4. Press back.
5. Home will open.

Expected behaviour:
Pressing back should have taken to Bookmarks. Again pressing back should have opened Explore. On going back again, Home should have come up.

**Device and Android version:**

Android 7.

[2018-12-21 16:34] JasonObeid commented on #2179
Could you provide me with some guidance? This is my first time working with Android development.

I have set up my environment and got the crash to reproduce, but I'm having trouble changing the actual theme.

I created a simple style in styles.xml for testing purposes, and I applied this style to the ACRA activity in AndroidManifest.

Styles.xml:
[code]

AndroidManifest.xml
[code]
Thanks.

[2018-12-21 18:47] domdomegg commented on #2179
Going to have a proper look in a second, but you might want to try adding `tools:replace="android:theme"` in `AndroidManifest.xml`

[2018-12-21 18:48] domdomegg commented on #2179
Actually maybe in `CommonsApplication.java` you can set the `resDialogTheme` attribute of the `@ReportsCrashes` annotation.

[2018-12-21 18:53] domdomegg commented on #2179
Doing a bit of testing, adding

[code]

to `CommonsApplication` in the `@ReportsCrashes` annotation gives this result.

While I think it definitely looks better I think it would be ideal if:
- It showed either a flat warning icon (note the slight grey gradient currently), or just no icon at all
- There was padding on the left and right (so the "Oops. Something went wrong!" text was further from th

[2018-12-21 18:56] domdomegg commented on #2179
Re padding, maybe open an issue like this explaining it better https://github.com/ACRA/acra/issues/596?

[2018-12-21 19:01] domdomegg commented on #2179
Actually it looks like we're using an old version of ACRA. Would be a big change but maybe try updating it? https://github.com/ACRA/acra/wiki/BasicSetup

[2018-12-21 19:13] #2187 closed

[2018-12-21 19:21] domdomegg opened #2210 "Cursor 'invisible' in some fields on white background"
**Summary:**

Think in #2189 adding `colorControlActivated` to theme may have broken inputs in other places by accident.

**Screen-shots:**

![screenshot_1545420067](https://user-images.githubusercontent.com/4953590/50359705-92841700-0555-11e9-810a-c162be5e3ce2.png)

**Would you like to work on the issue?**

Yes, will try to find a fix quickly. If not, will just revert #2189

[2018-12-21 19:36] borisenkotim commented on #2186
Working on it.

[2018-12-21 20:57] domdomegg opened #2212 "Pressing back when viewing a category of a picture from search or explore goes too far"
**Summary:**

When pressing 'back' when viewing a category from media details of in explore or search activity, it returns you to explore/search results rather than the media page.

This doesn't happen if you are viewing through a category.

Should make sense if you view GIFs below.

**Steps to reproduce:**

1. Go to explore
2. Click the first picture
3. Click the first category
4. Click back
Expe

[2018-12-21 21:31] domdomegg commented on #2200
Actually, this looks like a bug in Android itself. Maybe a workaround in one of the comments here:

https://issuetracker.google.com/issues/36986021#c2

[2018-12-21 22:13] domdomegg commented on #2200
It is a bug confirmed specifically in this comment:
https://issuetracker.google.com/issues/36986021#comment7
I think it affects 4.4 (API level 25) only.

I think I've found a workaround for this issue. Calling it with `FLAG_ACTIVITY_SINGLE_TOP` avoids the extra intent call, which in turns fixes this issue without losing the other sensible back behaviour.

However I've there's another bug on API le

[2018-12-21 23:17] domdomegg commented on #310
I believe @misaochan's solution is implemented in new upload flow, so this shouldn't happen any more. Please reopen if it does.

[2018-12-21 23:17] #310 closed

[2018-12-21 23:43] domdomegg opened #2214 "Inconsistent usage of Utils.isDarkTheme"
**Summary:**

There is `Utils.isDarkTheme()` however it is not used consistently throughout the project. It should be, to avoid duplicated code and be able to easily find usages.

**Would you like to work on the issue?**

Yes. Has conflicts with #2213 so will wait for that to be merged first.

[2018-12-22 00:06] JasonObeid commented on #2179
Sure, I can get working on it tomorrow

[2018-12-22 00:08] domdomegg opened #2215 "Create method in utils to check if beta"
**Summary:**

Checking whether the current BuildConfig flavour is beta is done frequently. While it's extremely simple (`BuildConfig.FLAVOR.equals("beta")`) think it'd be nice to have all checks done to a method. There are also many variants (e.g. `==`, `equalsIngoreCase`) + duplicated helper methods already so would be good to centralise.

This would allow us to do 'find usages' to quickly see wh

[2018-12-22 00:13] domdomegg commented on #2215
Another benefit is it will stop Android Studio annoying me by suggesting parts are redundant
[code]

[2018-12-22 05:30] ShridharGoel commented on #2200
Yes I saw this. After spending considerable time in trying to figure out the reason behind the behaviour, I read about this issue and found out that it's a known Android bug which hasn't been fixed from many years. It's there only in some Android versions like Android 4.4 (API 19), Android 7.0 (API 24), Android 7.1.1 (API 25). Hopefully, the workaround will fix it.

[2018-12-22 07:01] Divyanshu2132 commented on #2212
@domdomegg
So you want that on back pressing it should go to the picture from where it was called?
I can take up this issue

[2018-12-22 11:12] domdomegg commented on #2212
@Divyanshu2132 yes exactly

[2018-12-22 11:13] domdomegg commented on #2212
Assigned to @Divyanshu2132

[2018-12-22 13:31] ShridharGoel commented on #2194
What about "...fixes the map at that location..."? Or maybe we can omit that part and just write that it launches a nearby search around that location?

[2018-12-22 13:38] domdomegg commented on #2194
I think the focus on the text should not really be explain the feature given it's pretty self explanatory - or the technical aspects like the fact it will lock the map. I think it should be on informing users that they can move the map to another place to search a different location.

[2018-12-22 13:47] tanvidadu commented on #1770
Nope due to some prior commitments, I am unable to work on it!
@domdomegg feel free to take it up :)

[2018-12-22 13:49] domdomegg opened #2217 "Pressing 'back' when viewing media should return the user to the last viewed media, not the parent activity"
**Summary:**

Pressing 'back' when viewing media should return the user to the last viewed media, not the parent activity.

See the Android design guidelines on sibling activities: https://developer.android.com/training/design-navigation/ancestral-temporal#sibling-screens

When working on this be aware of work being done on #2212, try to avoid merge conflicts.

**Steps to reproduce:**

1. Open a m

[2018-12-22 13:51] domdomegg commented on #1770
No problem - but I'm not planning on taking this up so still unassigned. Thank you for the update and for removing assigned tag though :)

[2018-12-22 15:00] ShridharGoel commented on #2217
Shouldn't both the back buttons work in the same way?

[2018-12-23 08:36] maskaravivek commented on #1961
@domdomegg I am taking up this issue if no one else is working on it.

@misaochan Am planning to add the following information in email body:

- App version > will help us identify which version of the app is having the issue
- Username > will help us check if the issue is user specific
- network connection type (wifi/cellular-4g/cellular-3g/cellular-2g/no-internet) > will help us check if the iss

[2018-12-23 09:07] #1830 closed

[2018-12-23 09:51] neslihanturan commented on #2194
I think we can also emphasize this is a **new** feature. But I couldn't establish the sentence. Something like [Previous sentence] +
Now, you can also discover and improve knowledge for other places by moving on the map.

[2018-12-23 10:52] domdomegg commented on #2186
Looks good. I can have a look over the code so far if you'd like - push your changes to your fork on Github and start a pull request with `[WIP]` in the title (work in progress).

[2018-12-23 10:53] domdomegg commented on #2194
Sure. Will need to keep updated though, because it won't be a new feature a couple releases down the line so we'd have to remove 'now'.

[2018-12-23 11:44] athatsakk opened #2223 "Incorrect Greek translation of "navigation_item_about""
**Summary:**

When i press the menu button , and menu shows up , there is an option called 'About' in english. In my case ( that i have greek language ) it's called 'Γύρω Από' , and when i press this button , on the top the name changes to another one called 'Σχετικά' ( this one is the correct by the way ).

**Steps to reproduce:**

It should have the same 'name' at every location

**Device and An

[2018-12-23 19:33] maskaravivek commented on #2033
@nicolas-raoul Does it happen just after granting storage permissions or does it happen randomly?

I haven't been able to find a pattern to reproduce the above issue.

"Receiving shared intent" shows up during the preprocessing of the image, so I was hoping that making this flow more robust would reduce the occurrence of this issue. In this regard, I was working on fixing #2083.

[2018-12-23 21:22] domdomegg opened #2225 "Only allow squash merging in with Github settings"
**Summary:**

Current policy is to only use squash and merge. I can't see a scenario where we'd need to have the flexibility to not do this, so recommend enforcing it in the Github settings so we can remove it from documentation.

Tagging @nicolas-raoul and @misaochan as I believe you two are the only ones with permissions to edit these settings.

**Screen-shots:**

I believe the option should be

[2018-12-23 22:48] NicholasWeiner commented on #2205
I am a beginner so I will take on this issue.

[2018-12-23 23:08] domdomegg commented on #2205
Assigned to @NicholasWeiner

[2018-12-24 00:18] NicholasWeiner commented on #2223
I can take on this issue.

[2018-12-24 01:05] domdomegg commented on #458
Done in #1968

[2018-12-24 01:05] #458 closed

[2018-12-24 01:22] domdomegg opened #2226 "Running androidTests in Travis"
**Summary:**

I was thinking about how to write a load of espresso tests (see #586) for the app to try to prevent so many bugs cropping up.

To get good coverage, we'd need to be a logged in user. So the tests would be more standardised, I think it would be useful to have a test user the tests could login as.

Therefore I think it would be useful to have an account on beta commons (and maybe even

[2018-12-24 01:43] domdomegg commented on #2223
Hi @athatsakk, thanks for bringing this to our attention.

Translations are managed on translatewiki. This exact string is here:
https://translatewiki.net/w/i.php?title=Special:Translate&showMessage=commons-android-strings-navigation_item_about&group=commons-android-strings&language=en-gb&filter=&optional=1&action=translate

Unfortunately I haven't gone through the translatewiki verification proce

[2018-12-24 01:46] domdomegg commented on #1893
Closing as GCI is over

[2018-12-24 01:46] #1893 closed

[2018-12-24 03:30] NicholasWeiner commented on #2205
@domdomegg I can't seem to replicate the issue on my device? What Android version is your phone using?

[2018-12-24 03:34] domdomegg commented on #2205
I reproduced it on the `Galaxy Nexus (simulator)` at API level `28`. Will post full details in a bit.

[2018-12-24 03:39] domdomegg commented on #2205
Details:

[code]

Recreated on master @ b447612cc

![screenshot_1545622681](https://user-images.githubusercontent.com/4953590/50390294-6d4a0100-072d-11e9-8014-18f2c3278ed3.png)
![screenshot_1545622686](https://user-images.githubusercontent.com/4953590/50390295-6d4a0100-072d-11e9-8e6e-5c1e32551456.png)
![screenshot_1545622719](https://user-images.githubusercontent.com/4953590/50390296-6d4a0100-072d

[2018-12-24 04:14] borisenkotim commented on #2186
Before
![searchb](https://user-images.githubusercontent.com/42623783/50390686-2806de80-06ef-11e9-8199-b162b0101b40.png)
After
![searcha](https://user-images.githubusercontent.com/42623783/50390691-2d642900-06ef-11e9-9292-472d9e69b49b.png)

Here is how the searchactivity page looks now.

[2018-12-24 07:02] nicolas-raoul commented on #2033
It happens randomly: An upload works, and the next fails, despite using the
same method (sharing from Android stock gallery).

On Mon, Dec 24, 2018, 01:03 Vivek Maskara <notifications@github.com wrote:

[2018-12-24 12:12] sivaraam commented on #2083
Just for the note, I've also faced the crash when uploading large pictures in https://github.com/commons-app/apps-android-commons/issues/2033#issuecomment-443146976.

[2018-12-24 12:34] misaochan commented on #2033
@maskaravivek I wonder what exactly goes on during the preprocessing stage? This was never an issue before the upload flow overhaul, and AFAIK we have not actually added any sort of file processing that wasn't there before. Should we try fixing the file URI NPE that I posted in my comment above and see if that helps?

[2018-12-24 13:52] domdomegg commented on #2212
If you can't reproduce it, it may have been fixed. If it doesn't cause a bug, I'm not sure how it affects this issue - could you explain some more and I might be able to help? Thanks for continuing to work on the issue :)

[2018-12-24 14:40] zhao-gang commented on #2182
I found the reason. It's related to continue parameters. Currently we only set and save two continue parameters(`continue` and `gcmcontinue`). Actually it could include a `iistart` parameter in continue node of a `generator=categorymembers` query's response.

Sample:
 https://commons.wikimedia.org/w/api.php?gcmtitle=Category%3APictures+of+the+Year&gcmtype=file&gcmdir=desc&continue=gcmcontinue%7C%7

[2018-12-25 01:35] sivaraam opened #2229 "2.9.0: app name shown when trying to share multiple images"
**Summary:**
A label ("Upload to Commons") is seen for the Commons app in the share screen near the app's icon when trying to share a single image via external sources (Gallery etc.). When trying to share multiple images, instead of the label the app name is shown. This should be corrected.

**Steps to reproduce:**
1. Use an external app to select multiple images (more than 1) and share them.
1. S

[2018-12-25 08:01] #2229 closed

[2018-12-25 08:03] maskaravivek commented on #2182
Good investigation @zhao-gang! Feel free to take this up. :)

[2018-12-25 16:34] athatsakk opened #2231 "History issues while exploring"
**Summary:**

When i press the explore button, history comes up with my previous searches. When i search something new and results shows up, i press 'x' button on right top and goes back to my history. But history does not refresh and i have to go to main page and then back to 'explore' ( in order to refresh my history ).

This may cause a lot of issues , one of them is this below

**Steps to repr

[2018-12-25 16:49] ShridharGoel commented on #2231
I would like to work on this.

[2018-12-26 09:53] Szymon20000 opened #2233 "Cannot sync"
"Caused by: java.lang.IllegalStateException: No credentials provided
	at com.github.triplet.gradle.play.internal.ValidationKt.requireCreds"

How can I sync Gradle project properly?

[2018-12-26 14:13] nicolas-raoul opened #2234 "Sub-categories and parent categories not visible in night mode"
![screenshot_20181226-193906](https://user-images.githubusercontent.com/99590/50448552-e0b06600-0919-11e9-9e96-0fc766189312.png)
![screenshot_20181226-193922](https://user-images.githubusercontent.com/99590/50448563-eb6afb00-0919-11e9-9af8-564c8acdd03a.png)

White on white background
2.9.0.139

[2018-12-27 06:45] nicolas-raoul opened #2236 ""No categories found" message inconsistancy?"
I got this message displayed even though there were some results.
There is no exact match but the app successfully found similar categories, so I think it should not have shown that message.
Adding then removing a space makes that message disappear.
![screenshot_20181227-115924](https://user-images.githubusercontent.com/99590/50469066-c8385e00-09a2-11e9-9f96-27f42cbdaff3.png)
![screenshot_20181227

[2018-12-27 07:02] ShridharGoel commented on #2236
May I work on this?

[2018-12-27 07:24] nicolas-raoul opened #2237 ""No images found" despite category having images"
alpha
reproducible always
![screenshot_20181227-124616](https://user-images.githubusercontent.com/99590/50470436-56631300-09a8-11e9-996f-6efa3f043d70.png)
![screenshot_20181227-124723](https://user-images.githubusercontent.com/99590/50470443-5ebb4e00-09a8-11e9-96f7-5ca015a4e980.png)

[2018-12-27 07:41] nicolas-raoul opened #2238 "Show map scale"
Like in Google Maps.
Useful when planning another area

[2018-12-27 07:47] nicolas-raoul opened #2239 "Show compass in home nearby banner"
Showing the nearest item is a great call to action.
But it only says like "200 meters", so the hardest thing next is to figure out in what direction to head.
I suggest showing an arrow that shows the direction.
Of course, it will not work great when the phone is held vertically.

[2018-12-27 07:55] ShridharGoel commented on #2236
Not able to reproduce the issue. Can you provide some more details like the app version?

[2018-12-27 10:41] neslihanturan opened #2240 "Does our new map style means something in terms of map language?"
**Summary:**
We recently changed our map style, @domdomegg has sent PR and I merged it. Here #2176
But I am not sure about what this map style means. Here how it looks:

![image](https://user-images.githubusercontent.com/3127881/50477321-e91da500-09dc-11e9-99e8-7ecfd53f3499.png)

![image](https://user-images.githubusercontent.com/3127881/50477349-0fdbdb80-09dd-11e9-9e82-9d5a970761b8.png)

Does it

[2018-12-27 11:34] misaochan commented on #2240
I looked it up - they appear to be contour/elevation lines: https://en.wikipedia.org/wiki/Contour_line . I don't think it's necessarily wrong to have them, but it might be unnecessary for our purpose.

[2018-12-27 11:40] misaochan commented on #2225
Hmmm. I'm good with setting it up, if we have a consensus. @nicolas-raoul @maskaravivek ?

[2018-12-27 11:41] misaochan commented on #1563
Has not happened recently, actually! Not sure if it's due to AS update or our own code changes. Tentatively closing. :)

[2018-12-27 11:41] #1563 closed

[2018-12-27 11:42] athatsakk opened #2241 "Delete specific search"
**Summary:**

When i try to delete my history , i have to delete all searches. I would like to be able to delete/keep a specific search.

**Steps to reproduce:**

Go to 'explore'
Search something
Check history
Try to delete only 1 search ( not all )

[2018-12-27 11:45] misaochan commented on #1400
#1412 does not seem to be reported often. #2171 needs to be tested to see if the problem still exists after the recent upload overhaul in 2.9 - the networking code would've changed significantly then.

[2018-12-27 11:45] misaochan commented on #1419
Note: This needs to be re-tested to see if 2.9 fixed the issue.

[2018-12-27 11:52] misaochan commented on #2061
@Divyanshu2132 please feel free, thanks! :)

[2018-12-27 13:01] ShridharGoel commented on #2234
I would like to work on this.

[2018-12-27 16:14] maskaravivek commented on #2061
@Divyanshu2132 The error you are talking seems to be different from this issue.

"Content-type:application/json" is issue #2154

Also, it has a PR #2087 which is working well and is waiting just for a review.

[2018-12-27 16:15] maskaravivek commented on #2225
Am also fine with it. :)

[2018-12-27 16:41] athatsakk opened #2244 "Zoom in/out button"
**Summary:**

It would be useful to have two buttons ( '+' , '-' ) in order to zoom in/out when being in nearby map

[2018-12-27 16:47] neslihanturan commented on #2244
Agreed:)

[2018-12-28 11:36] athatsakk opened #2245 "Pressing 'back' goes to main page"
**Summary:**

When pressing 'back' button in ''nearest places'' after pressing the button on right top, it goes straight to the main page. I should expect that it would just close that tab , and continue searching on map.

**Steps to reproduce:**

At main page, show menu and choose 'Nearest Places' ( or whatever, my app is in Greek )
When map shows up , press the button on top right
A list with pl

[2018-12-28 17:14] Divyanshu2132 commented on #2237
I am willing to work on this issue

[2018-12-28 18:07] Divyanshu2132 opened #2246 "Nearby crashing on loading"
**Summary:**

Nearby is crashing when loading

**Steps to reproduce:**

Go to home and click on near by

**System logs:**

[code]

**Device and Android version:**

Asus max pro m1 and Android version 27

**Commons app version:**

master and Betadebug

**Would you like to work on the issue?**

Yes

[2018-12-29 09:58] domdomegg commented on #2223
I got translatewiki rights and have updated this translation. Hopefully we should get changes ported into the app by translatewiki soon. Please reopen this issue if this still happens after the latest update.

[2018-12-29 09:58] #2223 closed

[2018-12-29 13:21] nicolas-raoul commented on #2225
Feel free to take decisions without waiting for me :-)

[2018-12-29 13:42] whym commented on #2225
For context, there was https://github.com/commons-app/apps-android-commons/issues/1386 in April 2018 and we maintained the options other than squashing during transition.

It looks like it's time to move out of the transition. :)

[2018-12-29 21:24] sivaraam opened #2248 "Misleading statement when skipping login"
**Summary:**
The message shown when trying to skip "_You will not be able to upload pictures._" is misleading as it could also mean that I could never upload pictures if I try to skip login. That's not true as I can login in future to upload pictures if I want to. It could be rephrased into something better like "_You would have to login to upload picutres in future_"

**Steps to reproduce:**
1. O

[2018-12-30 05:58] nicolas-raoul opened #2250 "Make version number easily copyable"
Maybe with a button like the repo clone button on GitHub.com?
Or at least make the label selectable.

[2018-12-30 08:04] Divyanshu2132 commented on #2245
@athatsakk  are you working on this issue or should I take up this issue

[2018-12-30 09:18] maskaravivek commented on #2250
Maybe we can simply copy the version number by tapping on it. I see no harm in copying the version number accidentally. :)

[2018-12-30 09:36] athatsakk commented on #2245
you can go for it

[2018-12-31 11:06] athatsakk opened #2252 "Taping on map doesn't close tab in 'nearby'"
**Summary:**

While exploring the map in 'neaby' , if you click a pin and open the details down there , to close that tab , you have to click again on it. It would be useful to click anywhere on map and also this tab should be closed.

**Steps to reproduce:**

Go to 'nearby'
Click on a pin
Click down there to show these extra options
Tap anywhere on the map

Tab remains open , and in order to clos

[2018-12-31 11:08] neslihanturan commented on #2252
@athatsakk This screenshots seems very old version of app, currently it looks different. Are you sure your master is up to date?

[2018-12-31 11:53] athatsakk commented on #2252
Hm, i have hust dowloaded the app from playstore , so i suppose i have the latest version uploaded there. But as i can i see , it is updated there 11th of october , so maybe you are right.

[2018-12-31 12:32] whym commented on #2233
What were you going to do before seeing this? Was it the automatic 'sync' of Android Studio? What will happen if you try to use any gradle command from CUI?

[2018-12-31 18:59] neslihanturan opened #2253 "Include previous hackathon work to our master"
**Summary:**

We should include previous hackathon's task which is mostly ready to be merged to master, preferably before next hackathon :)

[2019-01-01 07:10] maskaravivek commented on #2253
@neslihanturan Is https://github.com/commons-app/apps-android-commons/tree/wikimedia-hackathon-2018 this the hackathon branch?

The first task would be to bring this branch up to date with the master. Post that, we can identify the pending issues and merge it to master. :)

[2019-01-01 07:53] maskaravivek commented on #2253
Have rebased the branch with master and have made a few minor changes to fix the build.

Great work @neslihanturan  @ejegg and @whym for building this during the hackathon.

Peer review functionality works for me but I think it's not ready for production yet.
- The flow didn't feel intuitive for me and I didn't know what would happen on clicking Yes or No.
- I would prefer to skip an image without

[2019-01-01 10:38] #2163 closed

[2019-01-01 10:51] #2164 closed

[2019-01-01 10:55] #2088 closed

[2019-01-01 10:55] #2090 closed

[2019-01-01 12:17] nicolas-raoul opened #2255 "Retry button too close to scrollbar"
2.9.0 recent alphas

Tapping the retry button is very difficult as it is dangerously close to the "X" button, and most taps when I try are taken by the scrollbar.

[2019-01-01 12:19] nicolas-raoul opened #2256 "Crash on retry"
[code]

[2019-01-01 16:56] athatsakk commented on #2252
@neslihanturan , how to run 2.9 version on mobile ( on playsotre there is 2.8.5 ) . Thanks !

[2019-01-01 22:32] athatsakk opened #2259 "Incorrect Greek translation"
**Summary:**

There is another incorrect translation. The first translation ( ''Εδώ κοντά'' ) is closer to ''nearby''.
Despite that , both of them are good translations and are making clear what's following.
As a greek user i would prefer the first one.

**Screen-shots:**

![screenshot_2](https://user-images.githubusercontent.com/32622637/50576908-bdf3e500-0e24-11e9-9147-3e6043e32975.jpg)
![screen

[2019-01-01 23:06] athatsakk opened #2260 "Back button goes to main page in ''neaby''"
**Summary:**

When pressing 'back' button in ''neaby'' after pressing the button on right top, it goes straight to the main page. I should expect that it would just close that tab , and continue searching on map.

**Steps to reproduce:**

At main page , go to ''neaby''
Press the button on right top , to show a list with places
Press back button

**Commons app version:**

2.9

**Screen-shots:**

![

[2019-01-01 23:06] #2259 closed

[2019-01-02 10:02] misaochan commented on #2253
I'm OK with merging it to master, but if it is not in a polished state, maybe we can control access to it. For instance, instead of making it a main nav bar item, we can instead have a link to it in About or such? And when the user accesses the activity, we mention that it is still a work in progress, and mostly only useful for power users.

[2019-01-02 10:05] misaochan commented on #2225
Done, thanks all. :) Let me know if any problems.

[2019-01-02 10:05] #2225 closed

[2019-01-02 10:30] whym commented on #2253
This is a good point.

A similar idea might be to create a preference item for "Turn on experimental features" so that the user can (and have to) choose to see experimental features like this? If turned off, the link would be disabled or hidden. It can bring more complexity to the implementation, though.

[2019-01-02 10:44] misaochan commented on #2253
Interesting idea! Instead of a setting (which could indeed increase complexity), what about just having an "Experimental features" activity that would house features like this? Would reduce complexity and keep them all in one place.

[2019-01-02 15:12] #1961 closed

[2019-01-02 15:35] maskaravivek commented on #2253
I like the idea of having something called experimental features in the app. This could indeed be another task in itself. Someone can help in building a simple framework for experimental features and this issue can leverage it.

For now, I like @misaochan's suggestion of having all experimental features accessible from a single activity.

[2019-01-02 16:11] #2052 closed

[2019-01-02 16:16] domdomegg commented on #2260
Is this not a duplicate of #2245?

[2019-01-02 16:24] maskaravivek commented on #2033
@all The PR #2262 is supposed to fix the null URI issue that @misaochan was facing.

I will take a look at the image shared by @sivaraam to see if it is reproducible for me.

[2019-01-02 18:02] maskaravivek commented on #962
This is fixed now. Closing the issue.

[2019-01-02 18:02] #962 closed

[2019-01-02 18:33] sivaraam commented on #2250
There is. You **replace the contents** of the clipboard of the user. I never like something that unintentionally replaces the contents of my clipboard as I sometimes have data which I would like to use later or which is not yet stored somewhere.

[2019-01-02 18:40] sp2710 commented on #2256
I would like to work on this

[2019-01-02 19:01] cascafico opened #2263 "cannot upload"
Commons 2.9.0
Huawei MYA-L11
Android 6.0

Progress bar ok and upload seems completed, but listed as "non riuscito" (failed).

Also cannot remove failed uploads from app main page.
Besides, it is not clear why "nomimate for deletion" is active for an image with failed upload status.

[2019-01-02 19:19] sivaraam opened #2265 "Log file is not automatically attached for 'Send logs'"
**Summary:**
When trying to send the crash reports using the 'Send logs' feature, the logs file is expected to be attached with the mail that opens up for composition after clicking in 'Send logs'. It only seems to work when using Gmail as the default email client to send emails. For other email clients the file is not getting attached.

**Steps to reproduce:**
0. Choose any email client other tha

[2019-01-02 19:24] maskaravivek commented on #2250
You have a valid concern @sivaraam! Maybe
- we can have a copy icon beside the version number.
- we can copy on multiple taps instead of one
- we can make it selectable as @nicolas-raoul suggested

[2019-01-02 19:45] sp2710 commented on #2241
I would like to work on this.

[2019-01-02 19:48] maskaravivek commented on #2265
I am working on this.

[2019-01-02 23:58] athatsakk commented on #2260
in fact is the same issue but this is version 2.9 , and that was 2.8.5

[2019-01-03 00:04] athatsakk commented on #2252
@misaochan  Thanks a lot, i did sign up. Sorry for posting useless ''issues''. I think that this issue also exists in 2.9

[2019-01-03 00:31] domdomegg commented on #2260
Okay in that case I'm going to close this issue in favour of #2245, given it's the same issue reported for different versions - there simply has not been a fix released yet.

If you think this should stay open please do reopen/comment for me to reopen.

[2019-01-03 00:31] #2260 closed

[2019-01-03 03:43] sivaraam commented on #2250
The first and last are nice but I'm not sure if the second one is necessary. It just makes the unintended surprise less likely. IMO, we should avoid surprises completely. We could do that by just adding a copy button or making it selectable. Even just one of them would satisfy the need.

[2019-01-03 04:14] maskaravivek commented on #2250
I was simply suggesting multiple ways to do it. Obviously, we won't be adding all the ways to copy a version number! Once there is a consensus about how to go about it, a beginner can pick this up. :)

[2019-01-03 06:13] maskaravivek commented on #2033
To address this, am changing the waiting text to. Please suggest if it can be changed to something more meaningful.

[code]

[2019-01-03 07:34] sivaraam commented on #2250
Seems I misunderstand part of it, sorry. Anyways my point is *don't introduce unpleasent surprises*. So, your option 1 and 3 would be fine :)

[2019-01-03 14:04] misaochan commented on #2250
I'm good with either making it selectable or having a copy button. :)

[2019-01-03 14:07] #2248 closed

[2019-01-03 15:55] #2154 closed

[2019-01-03 21:08] domdomegg commented on #2215
Ideally to be done after #2216 merged to avoid conflicts

[2019-01-04 03:05] nicolas-raoul commented on #2256
[code]

[2019-01-04 03:09] nicolas-raoul commented on #2256
I did not try sp2710's code, but I just wanted to mention that the issue reproduces always.

[2019-01-04 06:58] nicolas-raoul commented on #2083
This does not happen anymore, thanks for fixing, now I can upload my DSLR pictures :-)

[2019-01-04 07:06] maskaravivek commented on #2256
Yes its reproducible for me as well. Just a note for anyone picking this issue, ensure that the `Contribution` is not `null` at any point in time. Before retrying `Contribution` is again fetched from the DAO and the retry is attempted.

Also, it seems some refactoring needs to be done for the `Adapter` layer and too many interactions with the DAO layer should be avoided. If we move to `RecyclerVie

[2019-01-04 07:08] maskaravivek commented on #2083
@nicolas-raoul That's great. :)

It would be great if you could try uploading a couple of DSLR pictures and tell us if you experience any issues.

I still have to try uploading the images shared by @sivaraam and see if the app crashes for his pictures.

Also, as I mentioned in the PR. These are the next steps.

The next step would be to optimize the decoding of Bitmap. Some suggestions on how to a

[2019-01-04 07:31] maskaravivek opened #2269 "Service to handle experimental features in the app"
**Summary:**

Here's my visualization of a service that can handle experimental features.

We write a simple service called `GatekeeperService`. The responsibility of this service will be to:

It will look like:

[code]

And `gatekeeperName` can be:

[code]

`isGatekeeperEnabled` can return if a particular feature(key) is true or false.

In the most simplistic form, it can decide to enable/disable

[2019-01-04 07:32] maskaravivek commented on #2253
Eventually, we can work on building a simple service/framework for handling experimental features/enabling certain features based on some checks. I have opened a new issue for discussing the framework. #2269.

[2019-01-04 07:33] maskaravivek opened #2270 "Have a Alpha build flavor for builds that are released to play store"
**Summary:**

After #1056 we have been making automatic releases on each commit to master. This already feels quite useful to me and now we don't have to wait for beta releases(which are sometimes a month apart) to gather feedback.

It would be great if can have a separate release flavor for `alpha`. It would enable us to make a few decisions in the code base.

It will remove the friction of not m

[2019-01-04 08:06] neslihanturan commented on #2253
I am willing to polish this changes and make them ready for production. But should I merge  #2257 and work top of it on master or should I work on the task branch and then merge all together? I think working on  master doesn't seem safe since we plan to have 2.10 soon. On the other hand these changes are not very related with current code base, it is an addition, if it is ok for @maskaravivek I su

[2019-01-04 08:13] misaochan opened #2271 "Issue with fetching images used?"
**Summary:**

In the Achievements page, my "images used" for misaochan2 is currently 0. It used to be enough for a lvl 4 or 5 (can't remember exactly how much). Not sure if the issue is just me though? Might be good if someone else can verify :)

**Steps to reproduce:**

Pull from the latest master (or alpha test build). Go to Achievements

**Device and Android version:**

Samsung Galaxy s7, Andro

[2019-01-04 09:15] misaochan commented on #2253
Yes, please work on a separate branch and only merge it to master later, thanks! :)

[2019-01-04 10:47] misaochan commented on #2033
Ah, I managed to reproduce this on my emulator finally. I found that this issue only happens to me via Nearby direct uploads. Uploading the exact same file via the "Gallery" in-app button succeeds. This happens for both emulator and real device.

[code]

[2019-01-04 11:21] misaochan commented on #2033
Verbose logs without "fr.free" filter from Nexus S emulator:
[code]

[2019-01-04 13:22] sup95 commented on #2250
Is this for the version number on the About screen? I would like to work on this! :)

[2019-01-04 14:17] sup95 commented on #2215
I would like to work on this!

[2019-01-04 15:33] nicolas-raoul commented on #2250
@sup95 Yes exactly!
The consensus seems to be that solutions 1 or 3 of https://github.com/commons-app/apps-android-commons/issues/2250#issuecomment-450958591 are good, so feel free to implement the one you prefer, the issue is yours :-)

[2019-01-04 15:46] nicolas-raoul commented on #819
Small info, not sure whether it is useful: I just realized that the OSMTracker for Android app uses Oauth with the OpenStreetMap server. It is a bit awkward as the app opens Firefox at the server's /oauth URL but then you are not sent back to the app after authorizing.

[2019-01-04 17:32] athatsakk opened #2272 "Tapping map doesn't close details tab in ''nearby''"
**Summary:**

While exploring the map in 'neaby' , if you click a pin and open the details down there , to close that tab , you have to click again on it. It would be useful to click anywhere on map and also this tab should be closed.

**Steps to reproduce:**

Go to 'nearby'
Click on a pin
Open the details tab ( this one down )
Tap anywhere on the map

**Commons app version:**

2.9

**Screen-shots

[2019-01-05 05:56] sivaraam commented on #2033
I've not tested with the change that has been merged but when I observed this issue initially I did not do any nearby uploads. I guess it was either a upload initiated from the app or an upload initiated by sharing from the gallery.

[2019-01-05 10:08] vanshikaarora commented on #2272
Hey I can work on this issue

[2019-01-05 13:51] korde96 commented on #2215
Is this issue still open? I have made the changes on my local commit, so is it alright if I make a PR?

[2019-01-05 13:53] domdomegg commented on #2215
It is still open but I think @sup95 was working on it first. You can submit a pr but in future please try to avoid working on issues other people already are :)

[2019-01-05 16:00] sup95 commented on #2255
@nicolas-raoul I would like to take this up! I am new to the application, could you help me figure out which retry button, or on which screen are we looking at? Thanks!

[2019-01-05 18:15] maskaravivek commented on #2255
Feel free to take this up @sup95. :)

[2019-01-06 03:48] maskaravivek commented on #2033
https://drive.google.com/drive/folders/1oe59ZN3afn2h5ycYyrpVCLxmiESVua-9

@sivaraam Regarding the crash that you were experiencing, I managed to upload all 4 images successfully on the beta server without any crashes. I used Redmi Note 5 for testing. Can you verify if the latest master build work for you?

@misaochan Am looking at the issue and am trying to figure out why the `UploadActivity` is r

[2019-01-06 11:46] vanshikaarora commented on #2158
Hey @neslihanturan have you decided the title and got the images?

[2019-01-06 14:10] vanshikaarora commented on #2075
Hpw about using https://github.com/KeepSafe/TapTargetView to make the UI even more attractive

[2019-01-06 15:33] sivaraam commented on #2033
I could verify this but could you do me a favour. I'm currently unable to build the app from source. Can you share me the apk of the app which you would like me to test?

[2019-01-06 19:01] maskaravivek commented on #2033
@sivaraam I don't have the signing keys so it won't be possible for me to share the prod release version. You can sign up for alpha and receive the latest build whenever a new change is pushed to master. Here are the instructions:

https://github.com/commons-app/apps-android-commons/wiki/Volunteers-welcome%21#how-to-install-the-alpha

[2019-01-06 19:07] sivaraam commented on #2033
Thanks I'll look into it and share the results.

[2019-01-06 19:38] sivaraam commented on #2033
I just followed the instructions in that page. When I visited the link to join testing, it shows me that I'm a tester. Does just visiting the page make me a tester or is there something wrong going around here?

I see that the the app's version is still 2.9.0 (as shown in the App info page in Systems settings).

[2019-01-07 05:01] maskaravivek commented on #2033
You might have already signed up for Beta. The consent link for alpha and beta is the same.

@sivaraam Did you also join the Google Group? Please join this group to get alpha updates.

https://groups.google.com/d/forum/commons-alpha

[2019-01-07 09:58] misaochan commented on #2033
Yes, you need to both join the Google Group AND sign up at the Google Play test page to get the alpha. The Google Play test page is the same for both alpha and beta, but being a member of the Google Group is what differentiates your account.

Personally I wish there was a clearer way, this way is kinda confusing to users, but we have no say in this.

[2019-01-07 10:30] nicolas-raoul commented on #2255
@sup95

It is on the home activity, which shows your contributions.
You first have to make an upload fail, for instance by cutting network during the upload.

![adb-screenshot](https://user-images.githubusercontent.com/99590/50763291-b9ab4a00-12b2-11e9-940f-c15895cbef08.png)

[2019-01-07 11:37] elishaolade commented on #2226
Hey, how is it going with the tests? I want to help out.

[2019-01-07 11:55] sivaraam commented on #2033
OK. I thought I joined the group yesterday seems I wasn't careful enough to verify it, sorry. How long does it take to receive the alpha update? Or would I get an update only for the next alpha release?

Anyways, I managed to build the app from source yesterday. When I try to upload the images I shared I could cause the processing stage for only one of it. Interestingly this time it doesn't seem t

[2019-01-07 15:04] Szymon20000 opened #2276 "Bug in SearchImageFragment.handlePaginationSuccess"
Steps to reproduce:
- search "vv"
- try to scroll down

bug:

When mediaList size is 0 we shouldn't try to get the last element.

I want to work on this issue.

[2019-01-07 15:50] misaochan commented on #2033
You should be able to receive the alpha update within a couple of hours. However, I'm not sure if the About page will reflect the correct version number (see #2127 ). The ACRA crash report should have the correct version number though.

Thanks for the crash reports!

[2019-01-07 17:34] sivaraam commented on #2033
You're welcome :-)

Wouldn't it be nice if the fact that the person who has signed for beta doesn't need to sign up for alpha is clarified in the wiki page? It would help avoid confusion for people like me.

[2019-01-07 19:31] #2215 closed

[2019-01-08 01:39] nicolas-raoul commented on #2096
This Commons feature will be released either today or tomorrow.
I believe this is rather easy to implement for a newcomer, by seeing how it is done with the description field, then adding a parameter to the Commons upload request.

[2019-01-08 01:59] nicolas-raoul commented on #175
I created a similar tool for Linux: https://github.com/nicolas-raoul/nautilus_commons_upload_status

[2019-01-08 02:08] nicolas-raoul commented on #175
Incidentally https://github.com/commons-app/apps-android-commons/pull/2278 might make this easier to implement :-) Probably by creating a custom ImageLoader that inherits from the default ImageLoader and adds overlays for Commons presence and EXIF geolocation presence.

[2019-01-08 02:41] nicolas-raoul commented on #2033
@sivaraam How is it now? https://github.com/commons-app/apps-android-commons/wiki/Volunteers-welcome!#how-to-install-the-alpha Feel free to improve further, it is a wiki :-)

[2019-01-08 02:50] nicolas-raoul opened #2279 "Using Play Store alpha, version number still shows 2.9.0"
**Steps to reproduce:**

1. Sign up for the alpha, install from Play Store
2. Go to Android settings > Apps > Commons, see the version, now it is 2.9.0.161
3. Go to the Commons app's About
4. It shows just `2.9.0` instead of something longer as seen at https://github.com/commons-app/apps-android-commons/pull/2273#issuecomment-451664712

**Device and Android version:**

Android 7.1.2

**Screen-shot

[2019-01-08 03:11] maskaravivek commented on #2279
As of now only debug builds show the branch name and  commit SHA appended to the version number.

[2019-01-08 06:10] maskaravivek commented on #906
As suggested by @psh we have already moved to `@Named` injections in most of the places. To make the usage cleaner, I propose the usage of a wrapper class for interacting with any Shared Preference. The wrapper should implement the following interface:

[code]

Also, a `JsonKvStore` can extend a `BasicKvStore` and let us store whole objects in shared prefs.

I would like to work on this refactorin

[2019-01-08 11:08] whym commented on #75
It looks like this uses a Toolforge tool (https://tools.wmflabs.org/imagery/api.php) which is currently down(?) - it returns a 500 error on [a query from the script](https://tools.wmflabs.org/imagery/api.php?callback=displayResult&image=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fthumb%2F1%2F13%2F720th_Special_Tactics_Group_airmen_jump_20071003.jpg%2F800px-720th_Special_Tactics_Grou

[2019-01-08 11:15] nicolas-raoul commented on #75
I hope the source code is still available somewhere and someone turns it into a more permanent tool :-)

[2019-01-08 14:35] sivaraam commented on #2033
@nicolas-raoul Looks good.

Sure, when I get the time :-)

[2019-01-08 14:38] sivaraam commented on #2033
To be more specific, it's not easily editable in mobile and I couldn't find a lot of time to use my personal laptop these days.

[2019-01-08 17:10] maskaravivek commented on #2033
@nicolas-raoul We have just pushed a fix for this issue. It should no longer happen.

[2019-01-08 17:17] #2044 closed

[2019-01-08 17:18] maskaravivek commented on #2208
Fixed in #2102.

[2019-01-08 17:18] #2208 closed

[2019-01-09 05:55] sivaraam commented on #2033
@maskaravivek I think @nicolas-raoul asked me about the updated the updated wiki page when he stated:

Or did I misunderstood it? :thinking:

[2019-01-09 06:09] maskaravivek commented on #2033
Sorry, my comment wasn't in reply to the wiki issue. It was about the fix to the bug.

Let me hide unrelated comments to avoid confusion. :)

[2019-01-09 07:00] nicolas-raoul commented on #2033
@maskaravivek  Thanks! I have uploaded many pictures recently and I have not gotten this error, whereas I was getting it very often before your commit :-)

[2019-01-09 15:38] domdomegg commented on #2226
Just posted on admin board, hopefully will get a response:

https://commons.wikimedia.org/wiki/Commons:Administrators%27_noticeboard#Support_needed_to_create_a_test_user_with_almost_no_privileges

[2019-01-10 02:23] nicolas-raoul opened #2280 "Retry does not link from Wikidata"
**Steps to reproduce:**

1. From Nearby, upload a picture (I only tried from gallery)
2. Make the upload fail (I actually had a network connectivity problem)
3. Close the app (not sure whether necessary)
4. Press the retry button
5. Image gets uploaded
6. Problem: The Wikidata item (which I used in Nearby) does not link to the image.

Example: https://commons.wikimedia.org/wiki/File:Ko%C5%ABry%C5%

[2019-01-10 09:34] maskaravivek commented on #2033
@sivaraam Thanks for sharing the logs. The issue you are facing is related to #2083.

This issue was related to the `Intent` not being handled properly leading to app crashing as soon as the `UploadActivity` is started.

Out of memory (OOM) crash that you are facing is because of large images not being handled properly. Let's take the discussion about this crash to #2083. :)

[2019-01-10 09:35] maskaravivek commented on #2083
@sivaraam Is still facing the issue.

It seems that increasing the `heapsize` has fixed the issue at least for some devices/images but its still happening on older devices.

[2019-01-10 19:15] sivaraam commented on #2083
@maskaravivek's [comment in #2033]( https://github.com/commons-app/apps-android-commons/issues/2033#issuecomment-453030118)

I'm not sure this is happening due to pictures with large size. As noted in https://github.com/commons-app/apps-android-commons/issues/2033#issuecomment-451912031, the app crashes for me for the small ones (around 4MB) but does not crash for a big one (14MB). There seems to

[2019-01-10 19:34] maskaravivek commented on #2083
Clearly the crash reports suggests that the error is OOM. There could be multiple reasons because of which a particular image is making the app crash. It depends on how the bitmap is decoded

[2019-01-10 19:45] maskaravivek opened #2281 "Remove transitive dependency to Glide"
**Summary:**

#2278 introduced an image picker library which brought transitive dependency to Glide. We already use Fresco for loading images. Let's not depend on Glide.

<img width="539" alt="screenshot 2019-01-11 at 1 20 31 am" src="https://user-images.githubusercontent.com/3069373/50993250-318da480-153f-11e9-9090-7fa98aca1664.png">

[2019-01-10 20:16] maskaravivek opened #2283 "Discuss the new camera permission required by the app"
**Summary:**

As pointed out by @sivaraam, after #2278 the app requires an extra permission ie CAMERA.

There are 2 things to be addressed:

- is it fine to request camera permission
- API > 23 isn't prompting for runtime permissions, which needs to be fixed. Will submit a PR soon.

Personally, I would be fine with granting permissions to a photo uploader app requesting for Camera permission. Goin

[2019-01-11 02:33] nicolas-raoul opened #2284 "I am underachieving"
For my user, `Images used` and `Thanks received` have become zero, even though they were not before.

Many of my images are still used on Wikipedia, I just checked :-)

![adb-screenshot](https://user-images.githubusercontent.com/99590/51009666-5102ec80-1594-11e9-887b-0486165903c3.png)

[2019-01-11 03:11] nicolas-raoul commented on #2083
@sivaraam What is the width and height of each of these images?

[2019-01-11 03:20] sivaraam commented on #2283
Personally I would be fine with granting the permission if there is a valid reason to it. For example, I don't mind my browser requesting the camera permission.

I just find it disturbing that the Commons app now asks for permission which it does not use. If there is a way to rempveot we should.

I personally do not like apps that ask for permission ahead of time with a reason that "it might be us

[2019-01-11 06:55] srinivas1729 opened #2285 "Fresh clone fails build in latest Android studio"
**Summary:**

Fresh clone fails build in latest Android Studio/SDK

**Steps to reproduce:**

How can we reproduce the issue?
- Fork project and go through quick start guide
- Fresh Android Studio install: I have 3.2.1. It setup with SDK 28
- Setup project via 'import from version control'

What did you expect the app to do, and what did you see instead?

Expected:
- Project syncs and builds
Actual

[2019-01-11 14:52] maskaravivek opened #2286 "Image Picker lets only local images to be picked"
**Summary:**

#2278 introduced a library for picking images. Unfortunately, the library or other libraries that are available, let you choose only local images. We cannot access Google Photos, Drive or other places for photos.

The library had 2 advantages:
1) lets you limit the number of images that can be picked for upload
2) removes all boilerplate and potential bugs related to picking images f

[2019-01-12 10:20] vanshikaarora commented on #2285
Hey!! I also noticed this same issue. But I made certain changes in my gradle files and that worked for me shall I send a PR of my code here

[2019-01-12 11:46] maskaravivek commented on #604
As mentioned in #2286, the image picker lets you choose only local images. Supporting other galleries(like google photos, drive etc.) means that we need to enforce the limit on the number of images that can be uploaded at one go on our own.

One suggestion is to have this check in the 1st step of the upload flow itself. If the user has selected more than 5 images, he will need to remove the extra

[2019-01-12 13:15] maskaravivek commented on #2083
@sivaraam Can you explain the pattern. I might help in fixing the issue. I couldn't figure it out on my own :(

Also, am looking at Bitmap optimizations to avoid the crash.

[2019-01-12 17:10] vanshikaarora commented on #2165
@neslihanturan Now I'll start working upon this

[2019-01-12 19:37] sivaraam commented on #2083
I think I already explained it. Anyways, when I try to upload an image with high resolutions (> 20 Mega Pixels (MP); not so large in size, though) the app crashes for me. Interestingly, the app does not crash for an image whose resolution is not so high (10.8MP) but the size is large (14MB) when compared to the images that crash.

So, the app seems to be crashing when I upload high resolution imag

[2019-01-13 09:19] vanshikaarora commented on #2245
Is anyone working on this issue or shall i take up?

[2019-01-13 09:31] vanshikaarora commented on #2234
Hey!! I can  work on this

[2019-01-13 09:32] maskaravivek commented on #2234
Sure @vanshikaarora, feel free to take this up. :)

[2019-01-13 09:37] vanshikaarora commented on #2234
OK I'll take this up

[2019-01-13 10:58] vanshikaarora commented on #2234
@maskaravivek  I had noticed that this was the issue of some previous versions after pulling the code from the master I couldn't reproduce this issue. Could you please recheck. I guess the issue was resolved here https://github.com/commons-app/apps-android-commons/pull/2213

[2019-01-13 11:12] maskaravivek commented on #2234
@nicolas-raoul Can you confirm if this issue is fixed in the latest alpha.

@vanshikaarora You can probably pick up other [beginner-friendly](https://github.com/commons-app/apps-android-commons/labels/beginner%20friendly) issues for the time being. :)

[2019-01-13 11:14] vanshikaarora commented on #2234
ok

[2019-01-13 11:40] domdomegg commented on #2139
Yep, not working on this any more. Assigned to @srinivas1729

[2019-01-13 11:51] vanshikaarora opened #2291 "Upload limit: Display helpful error when input is malformed"
**Upload Limit 0  or special characters shouldn't be allowed:**

In the Settings Activity  there is an option of setting the upload limit which should accept numbers fro 0 to 9 and some special characters shouldn't it display an error and disable ok button if the user has typed any such character.

**Steps to reproduce:**

- Go to settings Activity

- Tap the option SetUploadLimit

Currently if yo

[2019-01-13 12:06] nicolas-raoul commented on #2234
Yes it is fixed thanks :-)

[2019-01-13 12:06] #2234 closed

[2019-01-13 18:40] maskaravivek opened #2293 "Reselecting an image that has been already uploaded results in error"
**Summary:**

Summarize your issue in one sentence (what goes wrong, what did you expect to happen)

On reselecting an image that has been already uploaded results in error. The `Intent` received is empty.

**Steps to reproduce:**

- pick and upload an image from gallery
- try selecting the same image again. Results in error.

**Device and Android version:**

Android 8.1. Redmi Note 5.

**Commons

[2019-01-13 21:17] sp2710 opened #2294 "back button on navigation drawer exits app"
**Summary:**

On pressing back button while navigation drawer is open instead of closing the drawer app closes. And also if we are in nearby fragment on pressing back it goes straight to contributions fragments while the drawer remains open.

**Steps to reproduce:**

Press back button while the navigation drawer is open

**Device and Android version:**

Motorola Moto G5 plus Android 7.0

**Commons

[2019-01-13 22:39] lcartel opened #2296 "After canceling a sharing, application goes back to the search menu"
**Summary:**

On pressing back button after clicking on sharing button, application goes back to the search activity not to the image activity.

**Steps to reproduce:**
->Menu
->Explore
->Search something
->Click on an image
->Click on share button
->Press back button or scroll down to cancel sharing

**Device and Android version:**

Pixel 2 XL emulator (Android 8.0) and Motorola G4 (Android 7.0)

[2019-01-14 05:00] nicolas-raoul commented on #2296
Thanks for being willing to work on it, looking forward to your pull request :-)

[2019-01-14 07:51] amire80 opened #2297 "UI to submit captions"
**Summary:**

Now that Structured Data On Commons (a.k.a. "Captions" or "WikibaseMediaInfo") are deployed, it would be nice to submit something from the app also to structured data.

**Steps to reproduce:**

Post an image with all fields filled. Check the result. Currently it posts nothing to the WikibaseMediaInfo captions.

**Commons app version:**

2.9.0.164

[2019-01-14 09:07] nicolas-raoul commented on #2297
Is this issue about the same thing as #2096? :-)

[2019-01-14 09:29] vanshikaarora opened #2298 "Adding a feature to dismiss already read notifications"
**Shall we add a feature to dismiss your old notifications in the NotificationsActivity?**

- That may be added via a dismiss button or by swiping the item from notification list
-  In case of zero notification we can display "No recent notification"
- Also in the notification icon( that appears in the toolbar in the main activity) that currently shows a red circle in case of notification  we can

[2019-01-14 09:31] amire80 commented on #2297
Yeah, closely related. Can be closed as duplicate if you want.

I'd say that captions are more for descriptions than filenames, but the general idea is that the app should submit _something_ directly to the captions and not just to the template.

[2019-01-14 11:20] nicolas-raoul commented on #2297
_I close my issue as duplicate of this one since this one already has more discussion, and I will just copy/paste my issue's message:_

--- https://meta.wikimedia.org/wiki/Structured_Data_on_Commons/Newsletter/Next

My understanding is that it is like a bit like a filename, but multilingual, and limited to 255 characters. More at https://www.mediawiki.org/wiki/Help:File_captions

The underlying id

[2019-01-14 11:24] nicolas-raoul commented on #2096
Duplicate of #2297

[2019-01-14 11:24] #2096 closed

[2019-01-14 11:29] ShridharGoel opened #2299 "App should ask for confirmation before exiting"
**Summary:**

According to the current behaviour, the app exits directly when back button is pressed on Home.

Instead, we can add a feature of confirming before closing the app. A dialog would pop up asking the user whether they are sure that they want to exit the app.

**Would you like to work on the issue?**

Yes

[2019-01-14 12:34] amire80 commented on #2297
To be honest, I don't have a strong opinion, as long as _something_ useful  is submitted. The Commons Android app can be an excellent source for submitting to Structured Data. Perhaps the designers and the PMs of Structured Data have a more educated opinion? I'll invite them to this discussion.

[2019-01-14 15:24] ashishkumar468 commented on #2013
@misaochan @maskaravivek @nicolas-raoul I was working on the upload issue, refactored the LoginActivity and UploadService, but none of it could actually solve the bad token issue. After debugging a lot, I could produce it and found that, even after fetching fresh c-auth token, we get a bad token error as if we are not logged in. I was hoping that some one who has more experience with the api's cou

[2019-01-14 17:42] nikhilagrawal2000 commented on #171
hi, are there any more lint issues to work on!! I would really like to contribute.

[2019-01-14 17:45] domdomegg commented on #171
@nikhilagrawal2000 Yes there are plenty! Please do get stuck in. I'd advise to submit multiple smaller PRs to minimize the number of merge conflicts. Feel free to request a review from me for lint issue fixes.

[2019-01-14 17:57] vanshikaarora opened #2300 "In nearby tapping on back button does not close nearby list"
**Summary of the issue**

In the nearby fragment when we press the back button then nearby list doesn't closes instead it takes us to contributiions fragment

**Steps to reproduce:**

- Click on the nearby tab
- Select the list option located in the end in the toolbar
- Nearby list appears
- Now press the back button
- It takes you to contribution tab

Intead it should have closed the NearbyList

[2019-01-14 18:14] nikhilagrawal2000 commented on #2299
can I work on this issue?

[2019-01-14 18:57] ShridharGoel commented on #2299
@nikhilagrawal2000 I'll be working on it. Meanwhile, you can look for other issues.

[2019-01-14 19:38] sp2710 commented on #2300
Is this not same as #2245 ?

[2019-01-14 19:58] nikhilagrawal2000 opened #2302 "code optimizations"
**Summary:**

Some fragments code needed to be optimized.

**Would you like to work on the issue?**

Yes

[2019-01-14 20:10] sp2710 commented on #2010
I would like to work on this

[2019-01-14 20:13] lcenfeux commented on #2296
I'm new here so I'll need more time to understand the architecture of the app, but i'm working on it

[2019-01-15 02:13] nicolas-raoul commented on #2245
@vanshikaarora Divyanshu2132 has already submitted a pull request about this: https://github.com/commons-app/apps-android-commons/pull/2251 It is being processed.

[2019-01-15 02:13] nicolas-raoul commented on #2300
Duplicate of #2245

[2019-01-15 02:13] #2300 closed

[2019-01-15 02:21] nicolas-raoul commented on #2299
No offense, but I don't think this feature would be an enhancement.
It would make the user experience worse, for no added benefit.
The home activity has nothing to save and no important process going on that might warrant such a confirmation dialog.
See https://ux.stackexchange.com/questions/117159/is-it-a-good-practice-to-ask-before-exiting-an-application-with-nothing-to-save
Feel free to reopen

[2019-01-15 02:21] #2299 closed

[2019-01-15 02:38] nicolas-raoul commented on #2298
Sounds useful for people who use both the website and the app, and have already read all recent notifications on the website :-)

[2019-01-15 09:03] vanshikaarora commented on #2298
@nicolas-raoul If this sounds agreeable then I'll start working on this.

[2019-01-15 09:57] maskaravivek commented on #2298
@vanshikaarora Thanks for picking this up. Nice that we are finally implementing "ability to mark a notification as read".

1.  The Notifications API has a filter that returns only unread notifications. So we should ideally change the API query to fetch only unread notifications. This should be the new query:

https://commons.wikimedia.org/wiki/Special:ApiSandbox#action=query&format=xml&meta=notif

[2019-01-15 11:07] vanshikaarora commented on #2298
@maskaravivek @nicolas-raoul Thanks for approving the Issue suggested.

@maskaravivek I have started working upon this.

These are a few changes that I have already made:

- I have updated the API query in `ApacheHttpClientMediaWikiApi`
- Modified the notification item in menu, to have a text above the red circle(This text will show the number of unread notifications)
- Modified the MainActivity t

[2019-01-15 11:16] maskaravivek commented on #2298
Good work @vanshikaarora! Thanks for sharing the progress. :)

[2019-01-15 15:57] #2010 closed

[2019-01-16 03:17] #2256 closed

[2019-01-16 06:45] vanshikaarora commented on #2298
Hey @maskaravivek I have made the following changes:

- Added to a slide feature to dismiss the notification
- Display a toast message on dismiss
- Show appropriate message in case of no notification
- Added markUnread function to `MediaWikiApi` class and correspondingly to `ApacheHttpClientMediaWikiApi` class.

Here in the link https://www.mediawiki.org/wiki/Notifications/API
The api accepts a to

[2019-01-16 07:23] vanshikaarora opened #2307 "Make achievements activity more discoverable"
**Achievements activity  is currently accessed by clicking the icon.  And that icon might not seem clickable  to some general user**

### Why should we consider this?

- Presently there is no mention of achievements activity or any leaderboard in the app's tutorial
- Currently the icon is displayed over another image in the navigation drawer.
- To most general users the icon might not be percieved

[2019-01-16 07:35] nicolas-raoul commented on #2307
While I agree that it is not visible enough now, I don't think adding another item to the navigation drawer is good, as it is already long. Displaying the current level of the user visible would certainly make it more attractive (for instance: `Alaxandrea, level 7`).

[2019-01-16 07:59] vanshikaarora commented on #2307
Accepted

How about adding the same icon to the toolbar?
### Alternatively
Yes we can add the level of the user:
That adds a value. I can add a suggestion here how about adding this tutorial  https://github.com/KeepSafe/TapTargetView for the first time when user uses this app.

[2019-01-16 09:09] maskaravivek commented on #2298
Try using the API sandbox on the documentation page and see the response that you receive. Then you can traverse the XML nodes accordingly.

Let me know if you run into any trouble.

[2019-01-16 14:22] sp2710 commented on #2244
I am working on this

[2019-01-16 15:47] #2281 closed

[2019-01-16 16:32] #2083 closed

[2019-01-16 16:32] #2293 closed

[2019-01-17 01:42] nicolas-raoul commented on #2244
This is not needed nowadays, the last devices without multitouch were last sold like 8 years ago (if I am wrong please correct me).
For instance the Google Maps app does not have + - buttons (though maybe it shows them on some specific hardware models?).
I close the issue based on these considerations, but if I was mistaken please do reopen, thanks! :-)

[2019-01-17 01:42] #2244 closed

[2019-01-17 02:17] nicolas-raoul opened #2310 "Contribution both failed and successful"
I have a picture that I contributed via the app normally, as a single picture (not multi-upload), and that appears as two thumbnails in the home gallery: one failed, one succeeded.

I have no idea how to reproduce. It is the first time it ever happens to me.

Pressing the cancel button does not make it disappear, so it seems that I will have that fake failed upload stuck at the top until I reset t

[2019-01-17 06:36] sivaraam commented on #1507
That seems to be a nice suggestion @vanshikaarora to me.

[2019-01-17 09:56] vanshikaarora commented on #2307
@nicolas-raoul So what should i start with?

- Adding level number in place of icon
- Or Add the tutorial as mentioned in the previous link

I'll start working upon this soon afterwards

[2019-01-17 10:07] nicolas-raoul commented on #2307
I don't think it is important enough to add a tutorial step, a tutorial should only show features that are essential to get started.

Adding the level number means getting that number in the first place,  which is not really easy, and would hurt performance if implemented incorrectly.

Since the achievement activity is [currently broken](https://github.com/commons-app/apps-android-commons/issues/2

[2019-01-17 10:08] #1601 closed

[2019-01-17 10:10] vanshikaarora commented on #2307
ok I'll see other tasks

[2019-01-17 10:13] nicolas-raoul commented on #868
The icon size difference is especially visible in the Share dialog (please disregard the peppers), both icons are rounded squares but the "LINE" icon is much bigger:

![screenshot_20181220-142711](https://user-images.githubusercontent.com/99590/51311209-ba4e9800-1a8b-11e9-8a8c-e0e26f67c5e2.png)

[2019-01-17 10:33] nicolas-raoul opened #2311 "Hide details of failed upload? Or fix them?"
A failed upload happens when for instance Internet cuts in the middle of an upload.
In such cases, the image appears as a "failed" item in the home activity.

Unlike other images, tapping on this failed upload does not show the image's details activity. I guess this is intended?
Problem: If you tap the next unfailed image and swipe left, you can reach the failed image's details.

# Solution 1

Fix

[2019-01-17 10:33] nicolas-raoul commented on #2263
Was the image actually uploaded?
Did you click the "retry" button?
Sometimes uploads fail, that is expected.

About your last note, I created this issue: #2311

[2019-01-17 11:02] vanshikaarora commented on #2298
Hey @maskaravivek  there is some problem with this response
In accordance with the xml  i tried the path. These are the response
![screenshot from 2019-01-17 16-29-06](https://user-images.githubusercontent.com/34261945/51314108-325d9380-1a75-11e9-884c-30a348d5647c.png)
while it has no node named "query"
![screenshot from 2019-01-17 16-27-58](https://user-images.githubusercontent.com/34261945/51314

[2019-01-17 11:44] ShridharGoel opened #2312 "App crashes when trying to upload or download media without internet connectivity"
**Summary:**

App crashes after Step 1 of upload if internet is not connected. It also crashes when trying to download from media details fragment.

**Steps to reproduce:**

1. Turn off the internet connection.
2. Try uploading a picture.
3. App will crash when "Next" is pressed on Step 1.
4. Try downloading a picture without connecting to the internet.
5. App will crash.

**System logs:**

[code]

[2019-01-17 12:07] ShridharGoel opened #2313 "FAB hides cancel and retry buttons on failed uploads"
**Summary:**

In some cases, the new image upload FAB overlaps with the "X" and retry buttons on failed images. In cases like when there are only two images, the buttons become inaccessible.

**Screen-shots:**

![img_20190117_171810](https://user-images.githubusercontent.com/35566748/51317297-38f00900-1a7d-11e9-949c-f60f90b1556f.png)

**Would you like to work on the issue?**

Yes

[2019-01-17 14:03] maskaravivek commented on #2298
Can you share your WIP diff so that i can take a look

[2019-01-17 14:05] maskaravivek commented on #2312
When the app is not connected to internet some other features make the app crash too. You might consider add graceful handling for other features as well. For eg. download button in media details crashes the app when offline

[2019-01-17 14:06] maskaravivek commented on #2313
Can you share how do you suggest to address this issue?

[2019-01-17 14:35] ShridharGoel commented on #2313
@maskaravivek Actually I was thinking to ask for suggestions from you people since I don't have anything particular in mind on how to address this issue. Can you suggest some ways?

[2019-01-17 14:48] maskaravivek commented on #2313
@neslihanturan Is our UI expert. She might have some ideas. :)

[2019-01-17 14:59] ShridharGoel commented on #2312
So, should I look for the same problem in other places too and fix them together in a single PR?

[2019-01-17 16:09] maskaravivek commented on #2298
@vanshikaarora It seems you are not making the API call correctly.

- `action` should be `echomarkread`
- You also need to pass `list` of notification IDs that you are marking as read. In our case, we will be marking 1 notification as read at a time. So you need to pass `notificationID`:

[code]

Right now, our `Notification` object doesn't contain the ID.
- You need to add the attribute to it.
-

[2019-01-18 02:08] nicolas-raoul commented on #2313
I don't think it is a big problem, because when there are failed uploads you just want to either cancel or retry each of them, it is a quick operation (at most the time taken by upload), then you can cancel/retry the next one. So here you would cancel or retry the first, then the buttons will become usable for the second (since failed ones always come to top).

The only problematic case would be i

[2019-01-18 06:51] maskaravivek commented on #2280
Right now, the `Contributions` table doesn't store the associated Wikidata entity ID. Will make this change so that even on retry, the Wikidata edit is made.

[2019-01-18 14:43] maskaravivek commented on #2312
Yes, you can submit a single PR if you are simply handling the corner cases and not adding any new functionality. The issue can be renamed to include more such cases.

[2019-01-18 14:48] maskaravivek opened #2314 "Nearby crash frequently while making search this area visible"
**Summary:**

App crashes while loading nearby. This crash is different from #2246.

**Steps to reproduce:**

**System logs:**

Reported by @nicolas-raoul as well.

[code]

**Commons app version:**

Latest master.

[2019-01-19 12:09] ShridharGoel commented on #2033
This issue is permanently there in the latest master. Not even a single image could be uploaded until I went some commits back. Will have to check which commit caused the problem.

[2019-01-19 12:12] ShridharGoel commented on #2313
Maybe we can add some padding at the end of the list? Or create a dummy entry like the Gmail app does? https://graphicdesign.stackexchange.com/a/50417

[2019-01-19 14:38] nicolas-raoul commented on #2313
If the dummy entry solution is easy and does not make the code more complex, that would be nice :-)

[2019-01-19 15:20] maskaravivek opened #2321 "Failed to post notification on channel “null”"
![screenshot_1547909165](https://user-images.githubusercontent.com/4953590/51428256-5e098680-1bf9-11e9-832c-de801e5c48f1.png)

_Originally posted by @domdomegg in https://github.com/commons-app/apps-android-commons/pull/2309#issuecomment-455786657_

We need to pass `channelID` whenever we need to display a notification. There is 1 instance where `channelID` has not been passed while building a not

[2019-01-19 17:41] maskaravivek commented on #2284
@nicolas-raoul This could be because of the changes in APIs that I did. I will take a look at the queries and fix it.

[2019-01-19 20:17] #2312 closed

[2019-01-19 20:35] ShridharGoel opened #2324 "Number of contributions does not update until the app is restarted"
**Summary:**

After uploading an image, the number of contributions (the number in the bracket on the "Contributions" tab) does not increase. It increases only after the app is reopened. It doesn't update even after switching to and back from some other fragment.

**Steps to reproduce:**

1. Upload an image.
2. Notice that the number of contributions does not increase.

**Device and Android versio

[2019-01-19 21:00] maskaravivek commented on #2127
Am taking this up and would be using a version number as suggested by @nicolas-raoul

[2019-01-20 02:56] albendz commented on #2310
The only time I've seen this is when I've uploaded something twice and one failed where the other succeeded. Is it possible that the upload succeeded but before the response is received by the app, a disconnect occurs? Of course, disconnects are possible anytime.

[2019-01-20 19:02] ShumailAhmed123 opened #2327 "I would like to contribute to this Project."
Hi,

My name is Shumail Ahmed and I am a Computer Science student. I am in the last year of graduation. I am writing this because I would like to contribute to this project. In university, I am studying about the "Open Source" software.
My teacher has given me a task to contribute to the GitHub in any project, which relates to my interest and according to my level of skills.
I found this project a

[2019-01-20 19:13] maskaravivek commented on #2327
Welcome to the project @ShumailAhmed123! Feel free to check out our wiki to get started with contributions. :)

https://github.com/commons-app/apps-android-commons/wiki/Volunteers-welcome%21

[2019-01-20 20:48] albendz commented on #2327
Thanks for the interest @ShumailAhmed123 . Please take a look at the contrition documentation @maskaravivek linked to you. I will be closing this issue.

[2019-01-20 20:48] #2327 closed

[2019-01-20 20:54] albendz commented on #2045
Fix has been merged with #2046

[2019-01-20 20:54] #2045 closed

[2019-01-20 21:02] albendz commented on #2237
I would like to try to repo this: can you tell me which branch is "alpha"?

[2019-01-20 21:02] albendz commented on #2236
@ShridharGoel Are you still working on this?

[2019-01-20 21:33] albendz commented on #2082
I see these as well as as far as I can see this only occurs on the first use of the Nearby tab. Given that a lot of those are info, maybe the only one that's important is the error log for missing key.

[2019-01-20 22:11] albendz commented on #2064
For reference, this seems to be the piece of code related to this action: https://github.com/commons-app/apps-android-commons/blob/master/app/src/main/java/fr/free/nrw/commons/bookmarks/locations/BookmarkLocationsDao.java#L119

If the update failed, it should have thrown a runtime exception.

[2019-01-20 22:19] albendz commented on #2078
My guess for this issue is that the timestamps are the same on those uploaded images. The results are sorted by timestamp (https://github.com/commons-app/apps-android-commons/blob/master/app/src/main/java/fr/free/nrw/commons/contributions/ContributionDao.java#L36) and if they were too close they might show up in a different order each time.

[2019-01-21 01:14] nicolas-raoul commented on #2237
@albendz Alpha is actually reflects the latest commit on the master branch.

Actually I can't reproduce the problem either, so I will close this :-)

[2019-01-21 01:14] #2237 closed

[2019-01-21 04:18] maskaravivek commented on #2064
DB update, in particular, should ideally never fail. If anything would have failed here, then it is possible that the `bookmarkLocation` is not constructed properly.

[2019-01-22 06:53] nicolas-raoul opened #2328 "FBMD in picture metadata = Probable copyright violation"
Once #97 is implemented, we could refine it further by checking for FBMD.

It is apparently a field that Facebook puts in the metadata of images shown on its website.

Images downloaded from Facebook are most often not created by the user.

References:
- https://commons.wikimedia.org/wiki/Commons:Deletion_requests/File:Taungoke.jpg
- https://www.hackerfactor.com/blog/index.php?/archives/726-Facebo

[2019-01-22 10:23] vanshikaarora opened #2329 "Center vertically "Receiving shared content""
**UI of Upload Activity can be improved**

Currently the Ui has a progress bar is at the bottom with a text view which is nearly aligned with the bottom. leaving the whole activity blank:
![whatsapp image 2019-01-22 at 10 05 03 am](https://user-images.githubusercontent.com/34261945/51528601-eb81ec00-1e2e-11e9-9f39-c7e9e16d08b3.jpeg)

How can we reproduce the issue?
Select the FAB from home screen

[2019-01-22 10:31] nicolas-raoul commented on #2329
Just to clarify, you are not talking about the progress percentage (like 70%), but only about the vertical position (centered), right?

[2019-01-22 10:37] vanshikaarora commented on #2329
I am asking for suggestions
1. Vertical position: definitely can be better
2.  Directed progressbar: we can think over this whether to implement a directed progressbar or a custom one

[2019-01-22 11:01] vanshikaarora commented on #2329
Or we can add such a UI with a different background
![whatsapp image 2019-01-22 at 10 11 24 am](https://user-images.githubusercontent.com/34261945/51531316-fdff2400-1e34-11e9-8f70-3c279816cab5.jpeg)

[2019-01-22 11:04] nicolas-raoul commented on #2329
Could you please create a separate issue for the progress percentage?
And also for the background if you really think it is a good idea (if then please explain why on that issue's page).
Thanks! :-)

[2019-01-22 11:06] vanshikaarora commented on #2329
Ok sure Currently in this thread shall I change the vertical position of the progressbar and the TextView
I'll Create a separate issue for showing percentage after this.

[2019-01-22 22:30] albendz commented on #2269
Would something like FireBase be sufficient for this rather than writing a new service? Are there limitations on pre-existing cloud solutions we may not be able to use?

[2019-01-23 07:13] vanshikaarora commented on #2298
@maskaravivek I have followed the steps given.
Now what can be the notification Id. Is it a random token?

[2019-01-23 08:49] nicolas-raoul opened #2330 "Crash if Japanese locale"
**Steps to reproduce:**

1. Change Android's locale to Japanese
2. Open app
3. Immediate crash

**System logs:**

[code]

[2019-01-23 08:57] nicolas-raoul opened #2331 ""Nearby" tab name not localized"
**Steps to reproduce:**

1. Set language to another language than English that has 100% translation on translatewiki (such as French)
2. Open app
3. See that the tab name is still in English: "Nearby"

![screenshot_20190123-125102](https://user-images.githubusercontent.com/99590/51594671-52d79300-1f38-11e9-9a65-881bc0f57697.png)

[2019-01-23 09:00] nicolas-raoul opened #2332 "Notification activity: Dates not localized"
**Steps to reproduce:**

1. Set language to another language than English that has 100% translation on translatewiki (such as French)
2. Open app
3. Go to notifications activity
4. Notice that the dates are in English

![screenshot_20190123-133905](https://user-images.githubusercontent.com/99590/51594850-b5309380-1f38-11e9-9f5a-637867cdb7d9.png)

[2019-01-23 09:04] nicolas-raoul opened #2333 "Nearby pin bubble at wrong place in right-to-left languages"
**Steps to reproduce:**
1. Set your phone to Hebrew (probably also works with Arabic, Persian and Urdu)
2. Go to the nearby map
3. Tap on a pin
4. The bubble often appears at the wrong place

In this screenshot I actually tapped the pin at the left of the screen:
![screenshot_20190123-133816](https://user-images.githubusercontent.com/99590/51595062-2d975480-1f39-11e9-867e-a66c124ad197.png)

[2019-01-23 09:10] nicolas-raoul opened #2334 "Nearby notification empty in right-to-left languages"
**Steps to reproduce:**
1. Set your phone to Hebrew (probably also works with Arabic, Persian and Urdu)
2. Open app
3. Wait a minute or so for the nearby notification to appear (blue band between the tabs and the pictures)
4. See how its label is not visible. The pin icon is shown but not the name of the place.

![screenshot_20190123-133643](https://user-images.githubusercontent.com/99590/51595392

[2019-01-23 09:14] nicolas-raoul opened #2335 "Nearby map is not localized"
**Steps to reproduce:**
1. Put Android's locale to French
2. Open the app
3. Tap Nearby
4. Scroll all the way to Paris
5. All labels are in English. It is not just labels missing from OpenStreetMap, see screenshot, these obviously have French labels.

Was also the topic of the closed issue #669

![screenshot_20190123-130158](https://user-images.githubusercontent.com/99590/51595646-94693d80-1f3a-11

[2019-01-23 09:18] nicolas-raoul opened #2336 "Image details: date not correctly localized in Japanese"
**Steps to reproduce:**

1. Switch Android's locale to Japanese
2. Tap a picture (via "Explore" for instance)
3. Go to the upload date field
4. It is like `18 1月 2019` whereas it should be `2019年1月18日`

That might apply to other languages too.

![screenshot_20190123-132224](https://user-images.githubusercontent.com/99590/51595942-2f621780-1f3b-11e9-9411-0d64b5f00566.png)

[2019-01-23 10:04] ravi-kishan commented on #2331
I would like to work on this

[2019-01-23 10:23] nicolas-raoul opened #2337 "Show caption in media details"
from Structured Commons.
Show on first line, before title, in user's language or fallback language.

[2019-01-23 12:04] ravi-kishan commented on #2332
I would like to work on this

[2019-01-23 12:08] maskaravivek commented on #2332
Sure take this up @ravi-kishan :)

[2019-01-23 18:23] vanshikaarora commented on #2336
Hey!! I am working on this

[2019-01-23 19:06] maskaravivek commented on #2298
@vanshikaarora Check the notification response that we get. We need to use this `id` attribute.

[code]

[2019-01-23 19:07] maskaravivek commented on #2298
Let me know if you are getting stuck in getting the `id`. I will raise a PR for it and then you can rebase your branch on top of it.

[2019-01-24 03:17] nicolas-raoul commented on #2337
@vanshikaarora see #2096

[2019-01-24 06:42] misaochan commented on #1601
@nicolas-raoul , is this problem solved for you?

[2019-01-24 06:49] misaochan commented on #2286
Just read this after commenting at #2309 , sorry about that.

IMO, supporting Google Photos and other galleries is much more important than enforcing the limit on the number of images that can be uploaded simultaneously. The limit is a "nice to have", but with our current multiple upload structure (where title/desc needs to be input separately for every image), it is not essential as users cannot

[2019-01-24 06:57] misaochan commented on #2244
I agree with this. Adding the +- buttons would unnecessarily complicate the UI for no gain IMO. Sorry to waste your time @sp2710 . :(

[2019-01-24 07:02] vanshikaarora commented on #2298
@maskaravivek I have done all the rest. But here in NotificationUtils:getNotificationFromApiResult when returning a notification object I need to pass the notification Id
How do I get the notification Id here. Shall i use some other notification info as notification id or generate a random token here?

[2019-01-24 07:09] nicolas-raoul commented on #1601
Yes thanks! 🙂

Am Do., 24. Jan. 2019, 15:42 hat Josephine Lim <notifications@github.com>
geschrieben:

[2019-01-24 07:12] maskaravivek commented on #2298
Can you submit a PR with the rest of the changes. I will incorporate the `notificationID` changes and submit it as a patch on your PR.

[2019-01-24 07:13] vanshikaarora commented on #2298
@maskaravivek Yes but the PR will have error at the function `NotificationUtils:getNotificationFromApiResult` Will thet be fine?

[2019-01-24 08:20] #2271 closed

[2019-01-24 08:20] #2284 closed

[2019-01-24 08:21] #2265 closed

[2019-01-24 08:21] #2314 closed

[2019-01-24 09:54] vanshikaarora commented on #2337
Hey @nicolas-raoul as mentioned by here https://github.com/commons-app/apps-android-commons/issues/2297#issuecomment-453988747. Shall I include the steps from to or should i just change the filename and make it multilingual?

[2019-01-24 09:56] nicolas-raoul commented on #2337
@vanshikaarora Can you see the "Captions" section at https://commons.wikimedia.org/wiki/File:R%C3%A9union_publique_de_La_R%C3%A9publique_En_Marche_!_Japon,_avec_le_d%C3%A9put%C3%A9_C%C3%A9dric_Villani_le_jeudi_26_novembre_de_%C3%A0_Akasaka,_Tokyo.jpg ?

The idea is to implement the same section in the app.
Search for this picture in the app, and you will see that captions are not shown.

[2019-01-24 09:58] vanshikaarora commented on #2298
@maskaravivek I have send the PR with ui and other implementations except NotificationId.
Kindly take some time also to review the code :)

[2019-01-24 10:33] vanshikaarora commented on #2337
Make it multilingual
When uploading, just take the first caption and use it as the filename

@nicolas-raoul So shall I start working upon it this way?

[2019-01-24 12:37] nicolas-raoul commented on #2336
The date must appear in a format that is natural for the locale of the user.
For instance, the same date will appear as `2019年1月18日` to a Japanese user and `18 Jan. 2019` to a German user.

[2019-01-24 12:44] nicolas-raoul commented on #2284
I confirm it is fixed, thanks! :-)

[2019-01-24 12:45] vanshikaarora commented on #2336
ohh ohk
Sorry I have misunderstood it earlier

[2019-01-24 12:56] vanshikaarora commented on #2337
So, I can add the field for caption in the UI of that activity.
But from where will I get the caption for the image being viewed?
Shall I add an additional field for caption while uploading the image itself?

[2019-01-24 13:16] nicolas-raoul commented on #2337
We don't know either, so you will have to look up Mediawiki documentation. You might have to search for a few hours, good luck!

[2019-01-24 17:35] maskaravivek commented on #2285
Am happy updating the build tool, compile SDK and Gradle tools to the latest version.

[2019-01-24 18:02] #2127 closed

[2019-01-25 01:36] nicolas-raoul commented on #2336
I don't know this method, would you mind posting screenshots in various languages on the pull request page? Thanks! :-)

[2019-01-25 02:52] nicolas-raoul commented on #2279
Fixed now, thanks! :-D

[2019-01-25 02:52] #2279 closed

[2019-01-25 03:00] nicolas-raoul opened #2342 "Version number not selectable in About menu"
On this screen I can not select the version number, long-pressing on it does nothing:
![adb-screenshot](https://user-images.githubusercontent.com/99590/51722274-35213f80-2098-11e9-96c6-9b79260264a0.png)

This was apparently fixed in #2250 but maybe it reappeared, or maybe it is a problem in my particular environment? I am using Android 7.1.2 with German locale (but the problem also occurs in Engli

[2019-01-25 06:14] sp2710 commented on #2342
I am working on this

[2019-01-25 07:34] vanshikaarora commented on #2337
OK I'll see the API's currently available

[2019-01-25 08:14] nicolas-raoul commented on #2033
This issue happens:
- Always when using "Share" from the Android stock gallery app
- Never when using the Commons app's built-in image selection activity (thanks to yesterday's alpha release)

[2019-01-25 09:01] vanshikaarora commented on #2337
Hey @nicolas-raoul I have gone through the API's available on the documentation [here](https://commons.wikimedia.org/w/api.php). For our concern I would this Upload [API](https://commons.wikimedia.org/w/api.php?action=help&modules=upload). OUt of these we can use either if comment or text parameter to send the caption that will be added by user while uploading any image.

Please give me suggestion

[2019-01-25 09:02] whym commented on #2330
It looks like it was an error in the localized message. Hopefully this will fix it: https://translatewiki.net/w/i.php?title=Wikimedia:Commons-android-strings-notifications_mention/ja&diff=8603506&oldid=8078028

By the way, did it happen in the released app?

[2019-01-25 09:11] nicolas-raoul commented on #2330
@whym Thanks for the investigation and fix!
Wow that's a long time ago! Hopefully it only happened to the minority(?) of users who get mentioned in discussions.

[2019-01-25 09:12] nicolas-raoul commented on #2330
Closing for now, in that happens again after the translatewiki update I will reopen.

[2019-01-25 09:12] #2330 closed

[2019-01-25 10:31] maskaravivek commented on #2033
Yes, @misaochan also reported this issue. Am working on fixing it. :)

Thanks. Also, am making changes to switch to `EasyImage` lib so that all galleries(google photos, drive etc) can be supported.

[2019-01-25 11:44] maskaravivek commented on #2332
@ravi-kishan Are you still working or this issue? If not, the function added in @vanshikaarora's PR can be used to fix this issue as well.

[2019-01-25 12:47] ravi-kishan commented on #2332
I could not get to an efficient solution. You may use that pr to fix this issue.

[2019-01-25 13:12] vanshikaarora opened #2343 "Achievements Activity's toolbar is scrollable"
**On scrollong Achievements Activity it's toolbar scrolls along with the activity**

As mentioned in the issue #[2165](https://github.com/commons-app/apps-android-commons/issues/2165)

The same scrolling state can be observed for achievements activity
**Steps to reproduce:**
Go to achievements activity
Scroll the Activity

**Would you like to work on the issue?**
Yes

[2019-01-25 13:17] maskaravivek commented on #2343
Feel free to pick this up. :)

[2019-01-25 14:57] vanshikaarora commented on #2328
@nicolas-raoul so if the user downloads an image on facebook and tries to upload it on commons are we going to display them an error/Toast message that the image cannot be uploaded?

[2019-01-25 16:22] #2331 closed

[2019-01-25 17:45] #2343 closed

[2019-01-25 18:10] #2342 closed

[2019-01-25 18:13] abhishekd08 commented on #2297
Can I work on this improvement ?
I read about the issue and what I understood is caption, which is short most relevant information about the picture, is to be included along with description, which is detailed information about the picture.
The work on the app is:
1. add UI to include captions in multiple languages
2. upload this data with mediaInfo ID.

Is that right ? or Is there something I mis

[2019-01-26 04:34] nicolas-raoul commented on #2328
@vanshikaarora Yes :-)
Or maybe just display a warning such as "`Please only upload pictures that you have taken by yourself. Don't upload pictures that you have found on other people's Facebook accounts.`", and let the user decide whether they really want to upload or not.

There is already a similar thing for black pictures. Please try: 1) Take a picture in the dark, totally black 2) Try to uplo

[2019-01-26 05:47] nicolas-raoul commented on #2342
That works now thanks! :-)

[2019-01-26 06:58] vanshikaarora commented on #2328
@nicolas-raoul In [this post](https://www.hackerfactor.com/blog/index.php?/archives/726-Facebook-Tracking.html) the metadata decode dates back to 2014-11-13. Does Facebook follows the same format even after years?

[2019-01-26 07:37] nicolas-raoul commented on #2328
Good question! Not sure, that's something to check indeed. It might have changed or even disappeared.

[2019-01-26 09:34] sp2710 commented on #2059
I am working on this

[2019-01-26 11:30] nicolas-raoul commented on #2297
@abhishekd08 Yes, it is yours :-)
Yes, you are right. Please refer to my UI mocks at https://github.com/commons-app/apps-android-commons/issues/2297#issuecomment-453988747 . Please also remove the "Title" field in the first screen. The first caption is used as a filename.
Thanks!

[2019-01-26 11:56] vanshikaarora commented on #2328
Well It will take a lot of research. Also I have found some answers https://www.quora.com/How-do-you-find-the-EXIF-data-of-a-photo-uploaded-to-a-Facebook-album

Also using this link I cannot get EXIF of any image uploaded to facebook

[2019-01-26 12:45] nicolas-raoul commented on #2328
Here is the metadata of a picture I posted to Facebook this week:
http://fotoforensics.com/analysis.php?id=ae7ca2d48579b372aa393b64a539b0746eb00f6a.463379
As you can see it contains `FBMD01000a9f0d000010b40000918601006fa5010005d00100612f0200e79f03006cc00300f5eb0300bd22040013120700`.
This data is not in EXIF proper, though, it is in something called `IPTC`, not sure what I means but first you have

[2019-01-26 12:58] vanshikaarora commented on #2328
Hey @nicolas-raoul the second answer in this [link](https://stackoverflow.com/questions/12623302/get-meta-data-of-image-android) shows how to extract metadata using ImageUrl and from that metadata we can extract IPTC using [this](https://stackoverflow.com/questions/50669162/read-edit-write-jpg-iptc-metadata-in-java). Please have a look at these resources and correct me If I am wrong I'll start the

[2019-01-26 13:09] vanshikaarora commented on #2336
@nicolas-raoul Can you post the name that you of the image for which you have searched in the screenshot.  In most of the Images that I have viewed I am getting `Uploaded Date not available`

[2019-01-26 13:32] abhishekd08 commented on #2255
Do you mind if I work on this issue ? @nicolas-raoul @vanshikaarora

[2019-01-26 13:33] vanshikaarora commented on #2255
@abhishekd08 actually since noone has replied on this issue since 21 days. So I was starting to work upon this issue.

[2019-01-26 13:36] abhishekd08 commented on #2255
No problem. Go ahead. @vanshikaarora

[2019-01-26 13:37] vanshikaarora commented on #2255
Thanks:) @abhishekd08
@sup95 Are you still working on this?

[2019-01-26 14:01] vanshikaarora opened #2350 "Retry Icon not completely visible on rotating the app"
**In the contributions fragment for failed uploads retry button isn't visible on rotating the app**

**Steps to reproduce:**
Before reproducing this issue make sure that you have at least 2 failed issue in the app(You can do this by while uploading an image close your internet connection)

- Now go to contribution fragment
- Rotate the app
- Notice the retry button

**Screen-shots:**
![whatsapp im

[2019-01-26 15:21] nicolas-raoul commented on #2336
https://commons.m.wikimedia.org/wiki/File:Iotaryoji_Tateishi_and_Masaya_Arai%2C_creators_of_a_ping-pong_table_that_simulates_physical_disabilities.jpg

[2019-01-26 15:47] sp2710 commented on #2311
Is anyone working on this issue?

[2019-01-26 15:49] vanshikaarora commented on #2336
@nicolas-raoul  I don't know what's the Issue here But out of many images that I have searched through explore I am getting `Uploaded Date not available` on each of them. Also I am not getting this file:

Can you please verify the PR whether it's working fine when locale language is changed

[2019-01-26 15:50] nicolas-raoul opened #2352 "Blue point does not move with me"
![screenshot_20190125-192150](https://user-images.githubusercontent.com/99590/51789575-5e8fb780-21cd-11e9-8a3a-4f081123c4cb.png)
Expected: The blue point is supposed to follow me.
Actually: The blue point stays where it appeared when I launched the Nearby activity. The grey point follows me.

[2019-01-26 16:13] #2350 closed

[2019-01-26 16:53] vanshikaarora commented on #2245
Hey!! Is anyone working on this Issue?
I have submitted a PR for this here in #2300

[2019-01-26 16:53] vanshikaarora commented on #2245
Hey!! Is anyone working on this Issue?
Few days back, I have submitted a PR for this here in #2300

[2019-01-26 18:45] vanshikaarora opened #2353 "Disable Share button in Achievements activity until achievements are loaded"
**Summary:**
Achievements activity shows a layout with a ProgressBar  until the user's achievements are fetched from the Api.
During this time if you press the share button on the toolbar then achievements activity captures the image of the empty activity containing a ProgressBar

**Steps to reproduce:**

- Go to achievements activity
- Before it loads your achievements tap on the share button Or

[2019-01-26 21:17] sp2710 opened #2354 "Image not visible in top card while upload"
**Summary:**

Image is not visible in top card during upload

**Steps to reproduce:**

Try Uploading multiple images. In the top card the image is not visible

**Device and Android version:**

Motorola moto G5 plus with API level 24
Also able to reproduce on emulator with api 22

**Commons app version:**

latest master

**Screen-shots:**

![screenshot_1548533458](https://user-images.githubusercont

[2019-01-26 22:48] amire80 commented on #2297
There should probably be a default field for a caption in the language in which the app is being used, and a reasonably easy way to add more captions in other languages.

[2019-01-27 00:59] nicolas-raoul commented on #2336
There seems to be a bug with Explore indeed. The bug seems to not happen
with self-uploaded pictures so please upload a picture you have taken and
see its date, thanks! 🙂

On Sun, Jan 27, 2019, 00:49 Vanshika Arora <notifications@github.com wrote:

[2019-01-27 08:02] RonakLakhotia commented on #171
Hi, I would like to solve some of the lint errors!

[2019-01-27 09:01] nicolas-raoul opened #2357 "If image has not failed, let caption take the whole horizontal space"
For the second picture, "entrance" should be on the same line:
![screenshot_20190127-175611](https://user-images.githubusercontent.com/99590/51798893-11f3bd00-225d-11e9-9971-189a3b4cc278.png)
No need to keep button space for image whoseupload did not fail.

[2019-01-27 09:03] vanshikaarora commented on #2357
I am working on this Issue!!

[2019-01-27 09:19] nicolas-raoul commented on #1309
Nearby is taking like 30 seconds these days (the server is slower than before, maybe because data has grown).
So implementing point 2 would be really great 🙂

[2019-01-27 09:26] nicolas-raoul opened #2358 "Make Nearby SPARQL query faster"
Let's ask the SPARQL optimization gurus 🙂
We could also first make a simple fast query, then a second one to get second-importance info (labels, is the item ended, item class, grave items, etc)

Wikishootme's query is much faster than ours, but it grabs less data. We could start with a qury like theirs, then get details.

[2019-01-27 10:11] vanshikaarora commented on #2336
with self-uploaded pictures so please upload a picture you have taken and
see its date, thanks!

@nicolas-raoul You were right the there was a bug with explore I can see the uploade date on a self-uploaded it. It shows absolutely correct response in case of English and Hindi

Here's a screenshot for the date in Hindi

![whatsapp image 2019-01-27 at 3 38 07 pm](https://user-images.githubusercontent

[2019-01-27 10:53] vanshikaarora opened #2361 "Adding a feature to crop image uploaded using camera"
**Summary:**

When uploading an Image using camera the camera takes the image and before uploading asks for retake or OK.
Also after user clicking OK we should ask the user to crop the image as per the need.

**Would you like to work on the issue?**
Yes

[2019-01-27 11:21] maskaravivek commented on #2361
related #1192

[2019-01-27 11:33] maskaravivek commented on #2361
From the discussion, it looks like everyone agrees with having at least a few editing options.

Ref: https://github.com/commons-app/apps-android-commons/issues/1192#issuecomment-402044845

It would be great if you could share your approach on this thread before implementing it. If we can plug in an image editing library that can help us achieve all/some of the editing options, it would save us a l

[2019-01-27 11:37] vanshikaarora commented on #2361
Sure I'll do that

[2019-01-27 11:39] maskaravivek opened #2362 "Upload Date doesn't show for external images in Explore"
There seems to be a bug with Explore indeed. The bug seems to not happen
with self-uploaded pictures so please upload a picture you have taken and
see its date, thanks! 🙂

On Sun, Jan 27, 2019, 00:49 Vanshika Arora <notifications@github.com wrote:

_Originally posted by @nicolas-raoul in https://github.com/commons-app/apps-android-commons/issues/2336#issuecomment-457879586_

[2019-01-27 11:40] maskaravivek commented on #2336
Nice to see the localized date in Hindi. :) Have created another issue for Explore. #2362.

After one round of testing, we can merge #2341.

[2019-01-27 11:41] #2353 closed

[2019-01-27 13:17] vanshikaarora commented on #2336
OK @maskaravivek till then I'll look at the other Issue as well

[2019-01-27 14:04] vanshikaarora commented on #2291
@maskaravivek I just tried doing it this way but I found that this preference in settings fragmnet is a `fr.free.nrw.commons.ui.LongTitlePreferences.LongTitleEditTextPreference`
I couldn't get the text entered in the EditText until the Ok button is pressed after which the editing dialog diasppears.
Do you have some other suggestions for this?

[2019-01-27 14:31] nicolas-raoul commented on #2334
@vanshikaarora Thanks for your enthusiasm!
I assign you this one too, but before claiming more please make sure that you don't have more than one or two issues assigned to you already (not counting the ones for which you have a pull request waiting for review). Cheers :-)

[2019-01-27 15:52] #2357 closed

[2019-01-27 15:53] sp2710 opened #2363 "Toggling of top card expand button when bottom card expand button is clicked"
**Summary:**

Top card expand button toggles when top card is closed and bottom card expand button is clicked

**Steps to reproduce:**

1.Try uploading more than 1 picture
2.close top card
3.click bottom card expand button severeal times.The top card expand button also toggles

**Device and Android version:**

Motorola Moto G5 plus Api 24

**Commons app version:**

Latest master

![ezgif com-video

[2019-01-27 16:03] #2354 closed

[2019-01-27 16:09] vanshikaarora commented on #2334
Sincere apologies!!
I'll take care of that from next time :+1:

[2019-01-27 16:30] sp2710 commented on #2362
@maskaravivek Can i work on this issue if no you are not working?

[2019-01-27 16:46] maskaravivek commented on #2362
@vanshikaarora mentioned in #2336 that she is looking at this issue. @vanshikaarora can you confirm if you have already started working on it or can @sp2710 take it up?

[2019-01-27 16:47] vanshikaarora commented on #2362
Yes I am currently working on this

[2019-01-27 16:52] sp2710 commented on #2362
Ok go ahead :)

[2019-01-27 16:54] maskaravivek commented on #2362
@sp2710 You can take a look a look at other beginner-friendly or bug issues. :)

[2019-01-27 17:00] #2363 closed

[2019-01-27 17:47] sp2710 commented on #2060
I am working on this

[2019-01-27 23:31] nicolas-raoul commented on #2357
The fix works great, thanks! :-)

[2019-01-28 10:07] maskaravivek commented on #2361
This library looks good for image cropping: https://github.com/ArthurHub/Android-Image-Cropper

It also supports image rotation.

[2019-01-28 12:46] misaochan commented on #2171
Just updated this. It seems we have only one critical issue left, then we can start preparing to release 2.10! :)

[2019-01-28 14:24] nicolas-raoul opened #2367 "GSoC 2019 and Outreachy Round 18"
GSoC 2018 was a great success, with two totally new features which are now central parts of the app (achievements and explore).
Let's do it in 2019 too!
Who would like to volunteer as a mentor? We need two mentors per student.
Ideally someone who knows Android development and Commons, or someone who has been active on the project.

Documentation:
https://google.github.io/gsocguides/mentor/what-mak

[2019-01-28 14:38] maskaravivek commented on #2367
I would also like to volunteer as a mentor. :)

[2019-01-28 14:39] vanshikaarora commented on #2361
@maskaravivek The library for cropping that you have mentioned is conflicting with other files in the project here is the error report

`Android resource linking failed
Output:  warn: removing resource fr.free.nrw.commons.beta:string/contributions_subtitle without required default value.
warn: removing resource fr.free.nrw.commons.beta:string/login_failed_password without required default value.
w

[2019-01-28 14:44] maskaravivek commented on #2361
Feel free to check out other libraries. In a few days, after I am done with my current tasks, I can help in resolving the library conflicts.

[2019-01-28 14:45] vanshikaarora commented on #2361
OK sure I'll check out some other methods

[2019-01-28 15:11] maskaravivek commented on #2361
A customizable one would be apt. A square cropped image would be appropriate for apps like Instagram that allows only Square image uploads.

You might have already come across this link, but just for ref I was looking for cropping libraries amongst the ones listed here:

https://android-arsenal.com/tag/45

[2019-01-28 16:11] vanshikaarora commented on #2362
@maskaravivek I have gone through the reason for this error and I have found this:
- The uploaded date is not shown because for any image returned from api the dateUploaded attribute is null. Can you once verify your api's whether the error is from the server side
- Or else it may be due to incorrect parsing of API response

![screenshot from 2019-01-28 21-37-55](https://user-images.githubusercont

[2019-01-28 16:23] vanshikaarora commented on #2361
I have got a library that works on API level above 14 https://github.com/igreenwood/SimpleCropView?utm_source=android-arsenal.com&utm_medium=referral&utm_campaign=2366

Shall I start working with this?

[2019-01-28 16:32] maskaravivek commented on #2361
Sure, you can start working on it. :)

Where are you thinking of providing crop option?

[2019-01-28 16:35] vanshikaarora commented on #2361
After the image is captured via camera take the Uri of the image and take t to an activity for cropping
After the user crops the image send the flow to UploadActivity

[2019-01-28 16:36] maskaravivek commented on #2362
It's because of incorrect parsing :(

The issue would be only while searching images. Category images show proper dates. date is not set at all.

Check out `getCategoryImages` function above `searchImages`. Try using the exact same method for parsing the response. That should fix the issue. Let me know if you get stuck with it.

[2019-01-28 16:39] maskaravivek commented on #2361
I see 2 issues with this approach:
- it will add an extra mandatory step for the user. He will have to explicitly skip if he doesn't want to crop the image
- it won't handle multiple upload scenario

IMO, we should add an edit button somewhere on the upload screen.

[2019-01-28 16:42] vanshikaarora commented on #2362
Before I move further with wrong notions, let's discuss this point a bit:
Is the code given below incorrect? or the one used for parsing nodes?
`customApiResult= api.action("query")
                    .param("format", "xml")
                    .param("generator", "search")
                    .param("gsrwhat", "text")
                    .param("gsrnamespace", "6")
                    .param("gs

[2019-01-28 16:42] misaochan commented on #2367
Awesome, guys! :)

I'd like to volunteer as well, but I would prefer to mentor an Outreachy project instead of GSoC this year. I guess that would depend on whether we are allowed an Outreachy slot or not - AFAIK Wikimedia only has 2(?) Outreachy slots but many GSoC slots.

[2019-01-28 16:45] vanshikaarora commented on #2361
Yes that's definitely a better suggestion.
Right now there are two options in hand

- Either we can add a button on the Upload Screen
- Or before taking the user to upload screen we can display a dialog if they want to crop the image or some other message

What is your opinion about this?

[2019-01-28 16:51] maskaravivek commented on #2361
Personally i find dialogs to be obstructive as they require an explicit action from the user.
But we can go ahead with dialogs if others agree.

Anyways you can start working on it. It can be plugged in anywhere later on. Not much should change on the implementation front

[2019-01-28 16:52] vanshikaarora commented on #2361
OK I'll start with creating an activity for cropping feature :+1:

[2019-01-28 16:53] maskaravivek commented on #2362
The code for parsing the response has issues. Its incomplete as its not setting the media date at all. If you use category utils to get the parsed media response then it would contain all values set properly.

[2019-01-28 16:57] maskaravivek commented on #2361
Sure. The CropActivity should be opened using startActivityForResult with originalUri passed to it and the caller can handle the modifed URI in onActivityResult

[2019-01-28 17:00] vanshikaarora commented on #2361
Ok I'll complete this soon :+1:

[2019-01-28 17:15] vanshikaarora commented on #2361
I need another suggestion what are we going to do in case of multiple uploads?

[2019-01-28 17:42] vanshikaarora commented on #2361
@maskaravivek I think we first need to fix #2289 this libraryshowed the same AAPT2 error as was with the previous one

[2019-01-28 22:47] sp2710 opened #2368 "On changing orientation on nearby map is not able to load"
**Steps to reproduce:**

Change orientation on nearby

**What was expected**
Map should be visible in different orientation

**What happened instead**
Map is not visible and loading never finishes

**System logs:**

    android.app.ServiceConnectionLeaked: Activity fr.free.nrw.commons.contributions.MainActivity has leaked ServiceConnection fr.free.nrw.commons.contributions.ContributionsFragment$1@

[2019-01-29 01:32] maskaravivek commented on #2361
For now you can probably try using an older version of the library. If you checkout the commit history in the library’s project, you would notice that they migrated to AndroidX recently. So lets use an older version of the library for now.

[2019-01-29 03:07] nicolas-raoul commented on #2368
In "Steps to reproduce" please add:

- What was expected
- What happened instead

Thanks!

[2019-01-29 04:45] nicolas-raoul opened #2369 "Rotating screen erases title"
1. select image for upload
2. enter title
3. rotate screen
4. title field is now empty 😱

even on the categories selection screen, rotating takes you back to step 1.

[2019-01-29 07:36] sp2710 commented on #2368
Done :)

[2019-01-29 07:40] nicolas-raoul commented on #2368
I can reproduce the problem. Thanks for handling it @sp2710 :-)

[2019-01-29 08:56] vanshikaarora commented on #2361
@maskaravivek This library also gave the same Issues like the previous one's that i have tried

[2019-01-29 09:14] ashishkumar468 commented on #2361
Check this out https://github.com/Yalantis/uCrop

[2019-01-29 09:18] nicolas-raoul commented on #2362
@vanshikaarora Here is how to format blocks of code: https://help.github.com/articles/creating-and-highlighting-code-blocks/#fenced-code-blocks :-)

[2019-01-29 09:20] vanshikaarora commented on #2362
Thanks for the resource @nicolas-raoul :)
Will definitely submit proper formatted comment's from now onwards

[2019-01-29 09:21] vanshikaarora commented on #2361
Sure I'll just have a look at this :)

[2019-01-29 09:31] vanshikaarora commented on #2361
@ashishkumar468 I have checked that code but the library allows only square and rectangles of fixed ratio. So far in the discussion we had been planning to implement a customisable cropping feature.

The idea of rectangle's of various ratio also sounds good. :)
To implement anything further I would like to have more suggestions: @maskaravivek @nicolas-raoul Can you please pitch in your ideas?

[2019-01-29 09:41] vanshikaarora commented on #2369
@nicolas-raoul Shall I work on this?

[2019-01-29 09:46] nicolas-raoul commented on #2369
@vanshikaarora  How many issues are you already working on right now? When you have one or less, sure feel free to take it :-)

[2019-01-29 10:35] maskaravivek commented on #2362
Remove the `if-else` block. This block is not needed as we are not using `continue` values:

[code]

Also, add this param to the API request:

[code]

For ref this is the full query:
https://commons.wikimedia.org/w/api.php?action=query&format=xml&generator=search&gsrwhat=text&gsrnamespace=6&gsrlimit=25&gsrsearch=mango&prop=imageinfo&iiprop=url|extmetadata

[2019-01-29 11:04] #2336 closed

[2019-01-29 11:05] nicolas-raoul commented on #2361
Not much to add :-)
I suggest merging this issue into #1192 though, since the discussion here is pretty much heading the same way. Let's continue the discussion over there.

[2019-01-29 11:05] #2361 closed

[2019-01-29 11:11] vanshikaarora commented on #2362
Thanks, this resolves the Issue perfectly :+1:

[2019-01-29 11:26] nicolas-raoul commented on #1192
_Note for the future: On Commons, a best practice is to first upload your unedited picture, and then overwrite it with the cropped/brightned/rotated/etc version. Benefit: if the picture becomes popular, other people can rework it, for instance rotate it differently. Having the source file means these derivatives can be of much higher quality than if the picture had been rotated two time for instan

[2019-01-29 12:33] vanshikaarora commented on #2337
Hi @iadeelzafar actually I had gone through the documentation and other resources for working on this issue. And was awaiting for suggestions. Well if you can also pitch in some suggestions then it would be great. Or if you already know how to work on this then you can go ahead with this issue:)

[2019-01-29 12:48] sp2710 commented on #2368
@nicolas-raoul I found out that the logs that i had posted are indicating memory leaks issue.
On changing orientation not loading of nearby map is a different issue which i had resolved.

[2019-01-29 12:49] sp2710 commented on #2368
Should I send a PR for this issue and make new issue for this memory leak issue?

[2019-01-29 14:47] nicolas-raoul commented on #2368
Yes thanks 🙂

Shubham Pinjwani <notifications@github.com> 於 2019年1月29日 週二 21:49寫道：

[2019-01-29 15:39] sp2710 opened #2373 "Memory leak in Main activity on changing orientation"
**Steps to reproduce:**

Change orientation on nearby or contributions fragment.

**System logs:**

    android.app.ServiceConnectionLeaked: Activity fr.free.nrw.commons.contributions.MainActivity has leaked ServiceConnection fr.free.nrw.commons.contributions.ContributionsFragment$1@a1b3798 that was originally bound here
    at android.app.LoadedApk$ServiceDispatcher.(LoadedApk.java:1336)
    at a

[2019-01-29 15:47] sp2710 commented on #2368
@nicolas-raoul I have submitted the PR for this and have also opened the new issue for memory leak:)

[2019-01-30 01:51] nicolas-raoul commented on #2328
First try with the metadata library we are currently using (during image upload to get the latitude/longitude/etc), if it can see IPTC too that would be great, so that the size of the APK does not grow.
If it does not work, icafe looks great so feel free to use it :-)
 Thanks!

[2019-01-30 04:54] #2362 closed

[2019-01-30 09:49] #2280 closed

[2019-01-30 09:51] #2043 closed

[2019-01-30 10:04] #2321 closed

[2019-01-30 11:34] nicolas-raoul commented on #2362
It works great, thanks! :-)

[2019-01-30 11:34] nicolas-raoul commented on #2336
It works great, thanks! :-)

[2019-01-30 12:00] vanshikaarora commented on #2362
Good to see this :)

[2019-01-30 12:01] vanshikaarora commented on #2336
Good to see this :)

[2019-01-30 13:17] vanshikaarora commented on #2328
@nicolas-raoul the GPSExtractor in the upload activity uses EXIF Interface I have gone through that interface and didn't got anything that would suit our purpose.

So we can use Icafe for extracting IPTC.
I can start working on it using Icafe

The next thing to cover is how to get Facebook data out of this IPTC. Does IPTC provides an Interface to check for facebook data like in EXIF?

[2019-01-30 13:32] nicolas-raoul commented on #2328
I am not sure how icafe works, but I guess you get a IPTCRecord and get its string value. If that string starts with "FBMD" then the picture comes from Facebook, and that's all we need to know :-)

[2019-01-30 13:34] vanshikaarora commented on #2328
That's perfect :+1:

[2019-01-30 13:45] nicolas-raoul opened #2376 "Pressin "Next" at step 1 of upload does nothing"
![screenshot_20190130-224319](https://user-images.githubusercontent.com/99590/51985264-d701bb80-24e0-11e9-8879-bcd68dfde02b.png)

[2019-01-30 13:54] vanshikaarora commented on #2376
Hey @nicolas-raoul Is this Issue locale specific?
I cannot reproduce this issue, On pressing next with empty description It takes me to the step 2

[2019-01-30 14:41] maskaravivek commented on #2376
AFAIK it should not happen consistently. It might happen if some of the image preprocessing is still pending.

@nicolas-raoul I made the following changes in the preprocessing step:
- made it async
- moved it to `computation` thread from `main` thread

I didn't realize that it could cause this issue. How do you suggest to address it? I can think of 2 solutions:
- make the preprocessing step blocki

[2019-01-30 15:36] vanshikaarora commented on #2328
@maskaravivek I had created a class ReadFBMD to which I will pass the ImageUrl and it will extract metadata then process it to check for FBMD

- Now there can be two options either to call this function in `ImageProcessingService` or in `FileProcessor`  I look up for more suggestions on this.

Also I have one query how will the process be?

- User selects the images to be uploaded and if amongst t

[2019-01-30 17:53] maskaravivek commented on #2328
Yes, IMO call the function in ImageProcessingService inside the checkImageQuality function.

This function returns an integer value based on which a alert dialog with warning is shown to the user. The message contains a list of reasons for which the checks failed. Go through the current flow once and you will get an idea about the implementation.

[2019-01-31 00:58] nicolas-raoul commented on #2376
I happened to me yesterday morning in the Chinese locale. I switched to English and then it worked, but that might be caused by other things, maybe the app was kicked out of memory while I was switching languages or something.
Then at noon I uploaded a few pictures successfully.
Then in the evening after updating I faced the same problem, again with Chinese. I switch to German, same problem, then

[2019-01-31 04:26] vanshikaarora opened #2377 "Number of Contributions reduces to zero on re-login"
**Summary:**

Contibution fragment shows 0 contibutions(both failed and successful on re-login

**Steps to reproduce:**

- First have some contributions either failed or successful
- Logout of your account from you app
- Log-in to the same account
- Your contributions are all vanished

### Expected

- Previous succcessful as well as faile images must have been retained in the application
- Also th

[2019-01-31 05:40] vanshikaarora opened #2378 "Progressbar overlaps views in category and media fragment"
**Summary:**
In the category tab of Explore while loading list of items upon scroll, progressbar  overlaps the listview items.

**Steps to reproduce:**

- Go to Explore
- Search by any name
- Go to the categories fragment
- Scroll down

### Expected
The Progressbar should be visible at the bottom of the ListView
While it is overlaps the ListView

**Device and Android version:**
vivo 1713 Android v

[2019-01-31 10:12] #2329 closed

[2019-01-31 10:16] maskaravivek opened #2379 "Remove unused drawer layout from upload activity"
**Summary:**

Upload activity has Drawer layout which is unused. Need to remove this to reduce the nesting by 1 level.

[2019-01-31 13:39] nicolas-raoul opened #2381 "Label "No nearby places found clo..." could be truncated less"
there is space left on the right

[2019-01-31 13:40] nicolas-raoul commented on #2381
![screenshot_20190131-223629](https://user-images.githubusercontent.com/99590/52057733-28757d80-25a9-11e9-8f15-673b3d58ae7a.png)

[2019-01-31 13:46] maskaravivek commented on #2381
Wouldn't it be better to hide the card if there's no nearby location to be shown? We do the same thing for campaigns.

[2019-01-31 14:45] nicolas-raoul commented on #2381
Indeed!
Better use that space to show more pictures.

On Thu, Jan 31, 2019, 22:46 Vivek Maskara <notifications@github.com wrote:

[2019-01-31 15:18] sp2710 commented on #2381
I would like to work on this issue

[2019-01-31 17:04] maskaravivek commented on #2381
Sure take this up.

[2019-01-31 17:42] vanshikaarora commented on #2328
@nicolas-raoul I have gone through the following works:

-  Added the jar file for Icafe in the libs under Project root
-  Added one class(`MetadataEntry`) of `Jar` file manually into our package(For it wasn't supported)
-  Created a class `ReadFBMD`
-  This class takes the image Url and extracts the `IPTC`
-  We can Iterate over this `IPTC` to get the `MetadataEntry` which contains two strings ke

[2019-01-31 17:48] vanshikaarora commented on #2328
@maskaravivek I'll implement this functions soon in `ImageProcessingService` but before that could you please review the current state of code. Also I need suggestions for reading FBMD from IPTC.

Kindly have a look and the PR and share some feedback's :)

[2019-01-31 21:37] sp2710 opened #2384 "On Changing orientation restore state of nearby map"
**Summary:**

Currently nearby map takes some loading when its orientation is changed and then displays the map. It will be better if the previous state will be used when its orientation is changed and it will not take any loading at all.

**Steps to reproduce:**
Rotate screen on nearby map fragment

**What did you expect the app to do?**
It does not takes any loading and previous state should be

[2019-02-01 06:04] maskaravivek opened #2386 "Show thanks received"
**Summary:**

I recently received my first "Thanks" for a photo uploaded to Commons. It would be great if there's some way for the user to see the "Thanks" that he has received.

In the first cut, it would be nice to open the web page showing the "Thanks logs" filtered for that user.

https://commons.wikimedia.org/wiki/Special:Log?type=thanks&user=&page=User%3AMaskaravivek&wpdate=&tagfilter=

[2019-02-01 07:32] vanshikaarora commented on #2386
@maskaravivek Currently on tapping the notification we are taken to the details of the image uploaded. Shouldn't we add a small `SEE YOUR THANKS LOG`  or such a thing to take the user to the Web page in a webview?

[2019-02-01 08:09] maskaravivek commented on #2386
Notifications will show up only when it's unread. I was hoping to have a permanent option.

Maybe we can add it on tap of "Thanks received" in Achievements activity.

[2019-02-01 08:14] vanshikaarora commented on #2386
Yes that's definitely a good option we can take the user to a separate activity for each of their Thanks Received

Or even we can also add this for each individual image. In thetoolbar for image details activity we can add an icon about the thanks received for that contribution

[2019-02-01 08:59] sp2710 commented on #1996
@neslihanturan I had done some work in #2373.
Maybe this will fix some memory leak issue

[2019-02-01 09:09] sp2710 opened #2387 "Nearby notification visible in image details activity"
**Summary:**

Nearby notification visible in image details activity.

**Steps to reproduce:**

In image details activity
1.click on the three dots icon on the top right corner on the toolbar
2.click on view in Browser
3. press back so that image details activity is resumed

**What did you expect the app to d?**
nearby Notification Should not be visible

**What did you see instead?**
Nearby Notific

[2019-02-01 09:14] sp2710 commented on #2386
Maybe on clicking "Thanks received" we can redirect the user on a separate activity containing List of all the thanks received and on clicking on any item in the list the user should be redirected to the details of the image uploaded

[2019-02-01 09:43] josephyim commented on #2384
Hi @sp2710 , I am a newbie in open source project and java. My apologies if I say anything stupid.

I was checking out the issue #2369 , which I think is similar to this issue. Then I found this website http://code.hootsuite.com/orientation-changes-on-android/. It explains that adding "android:configChanges" is not a good idea... It suggests "_The most important aspect of handling orientation chan

[2019-02-01 10:31] #2379 closed

[2019-02-01 15:37] maskaravivek commented on #2376
I am taking this up.

[2019-02-01 17:15] abhishekd08 commented on #2297
I am getting this gradle sync error. I tried but cannot understand the problem, can anyone tell how to solve this it please ?

[2019-02-01 18:18] ShridharGoel opened #2388 "Replace toasts with snackbars where appropriate"
**Summary:**

App uses toasts at many places which can be replaced by Snackbars for better UI.

**Commons app version:**

Latest master

**Would you like to work on the issue?**

Yes

[2019-02-01 20:52] ShridharGoel opened #2390 "Clicking on the bottom card in Step 1 of upload image should toggle the state of the card"
**Summary:**

Clicking outside the arrow to expand on the bottom card in Step 1 of upload image should also toggle the state of the card.

Currently, the state toggles only when the arrow to expand the card is clicked.

**Commons app version:**

Latest master.

**Would you like to work on the issue?**

Yes.

[2019-02-01 22:32] IwanPolri commented on #2390
Ya

[2019-02-02 06:39] vanshikaarora opened #2392 "Adidng featured categories in Explore"
**Summary:**
Explore fragment currently is used for featured  Images
Unlike Wikimedia commons website main page includes both category and Images we can add the same feature in our app's explore fragments for featured category.

![vanshika4](https://user-images.githubusercontent.com/34261945/52160858-ca4cb580-26e2-11e9-9504-0db155533bb2.png)

### How to add this feature?
The explore fragment can c

[2019-02-02 11:23] ShridharGoel opened #2393 "Display all the images of a category together using FastCCI"
**Summary:**

Suppose an image is present in a particular subcategory which corresponds to a particular category. Currently, the app would show the image only in that subcategory and not in the list of images of the category.

If some image is in a subcategory, it should also be shown in the parent category of that subcategory. This can be implemented using FastCCI.

**Steps to reproduce:**

1. Go

[2019-02-02 11:55] ShridharGoel opened #2394 "App closes unexpectedly while navigating between Explore and Achievements"
**Summary:**

App closes unexpectedly while navigating between Explore and Achievements

**Steps to reproduce:**

1. Go to Explore.
2. Now, go to Achievements.
3. Again go to Explore.
4. Then, click on Achievements again.
5. App would close.

**Android version:**

Android 7.1.2 (API 25)

**Commons app version:**

Latest master.

**GIF:**

![ezgif com-video-to-gif 35](https://user-images.githubuser

[2019-02-02 12:21] maskaravivek commented on #2394
@ShridharGoel Is there anything in the logs? Can you share logcat as well.

[2019-02-02 12:53] ShridharGoel commented on #2394
@maskaravivek The app is not crashing actually. It's just closing. The issue is similar to #2200.

[2019-02-02 13:43] #2059 closed

[2019-02-02 13:51] #2298 closed

[2019-02-02 14:14] maskaravivek commented on #2358
For ref this is our current query: http://tinyurl.com/y9534dbk

[2019-02-02 17:09] maskaravivek commented on #2358
I tried removing the `emoji` attribute from the query and the query became considerably faster.

New query: http://tinyurl.com/yaafoa5n

Compare it with the original query: http://tinyurl.com/yakxk726

AFAIK, we don't use `emoji` value.

[2019-02-03 06:49] vanshikaarora commented on #2369
@nicolas-raoul This same issue arises for description of the image shall I create a separate Issue for that for fix it in the same PR?

[2019-02-03 06:57] maskaravivek commented on #2369
IMO you can fix it in the same PR. The issue seems to be related to each other.

[2019-02-03 06:58] vanshikaarora commented on #2369
Sure, I'll do that :+1:

[2019-02-03 07:13] maskaravivek opened #2402 "Fix slowness of upload activity"
I am using a decent Android phone and expend the app to run smoothly. But on the upload screen, I experience a noticeable lag in UI rendering. PFA the video:

https://drive.google.com/file/d/1ZMUt4RkxMlPFZcN1oKxxN5TacIYL_GOn/view?usp=sharing

The upload experience should be as smooth as possible. How can we improve the UI rendering?

- Is there too much nesting of elements ie. too many `View` elem

[2019-02-03 07:32] maskaravivek commented on #2402
@ShridharGoel The first step would be to investigate the causes. It would be great if you could pick up a couple of points and post the findings of your investigation here. Once we are able to identify concrete reasons, we can create separate issues and fix them. :)

I won't be marking the issue as `assigned` as this issue would benefit from insights from multiple contributors. :)

[2019-02-03 11:50] vanshikaarora commented on #2328
@nicolas-raoul I am able to retrieve IPTC dat out of that from that image. The data returned is here:
![screenshot from 2019-02-03 17-15-40](https://user-images.githubusercontent.com/34261945/52176353-90a9a680-27d7-11e9-8394-ea3505817988.png)

I am a bit confused here because there is no such FBMD tag available. Could you please help :)

[2019-02-03 11:57] vanshikaarora commented on #2328
@maskaravivek  I have observed the time for the execution and the time for reading metadata from is not complex (upon measuring through System.currentTimeMillis() I got the difference of 93)

[2019-02-03 12:05] maskaravivek commented on #2328
Okay great! Did you check for large images as well?

Is your PR up to date? Can any of us run the build and check locally?

[2019-02-03 20:40] #2283 closed

[2019-02-03 20:40] #2286 closed

[2019-02-03 20:40] #2376 closed

[2019-02-03 23:38] nicolas-raoul opened #2405 "Nearby: let me copy place name"
by long-pressing on the name in the bottom area.
Like in Google Maps app

[2019-02-04 03:24] nicolas-raoul opened #2406 "Can't multiselect"
I can't select several pictures with the new picker.
Long-press makes a grey border appear around the pic but it disappears.
The button "Cancel" never becomes "Done".

2.9.0.196~52ab393

[2019-02-04 05:00] maskaravivek commented on #2406
@nicolas-raoul Are you unable to multi-select from any of the apps(ie google photos, gallery, file manager etc) or does it work for few of them?

For me, multi-select works for Google photos and Gallery. It is not working for File Manager.

[2019-02-04 05:40] maskaravivek opened #2408 "Option to View archived notifications"
**Summary:**

With #2298 now implemented, it would be nice to have an option to view archived/read notifications.

The Wikipedia app provides an option in the action bar menu to view archived ones. We can probably mimic a similar UI.

![device-2019-02-04-110953](https://user-images.githubusercontent.com/3069373/52191992-6b677780-286d-11e9-98af-5e39a68b877c.png)

[2019-02-04 05:47] maskaravivek opened #2409 "Poll and show notification in system tray when app is in background"
**Summary:**

It would be nice to have a background service that can poll for notifications and publish a notification in the system tray. It can also serve for multiple use cases as discussed in #871.

As a basic thing, we can poll for user notifications when the app is in the background. All the infrastructure is in place for this and we just need to have a periodic background task to achieve th

[2019-02-04 05:54] nicolas-raoul opened #2410 ""Error occurred while loading images" for no apparent reason"
1. Explore
2. Search for something
3. Scroll
4. This message appears from time to time

Latest alpha

[2019-02-04 06:05] ShridharGoel commented on #2410
Yes, I've observed this issue sometimes. I thought maybe it's because of server issues.

[2019-02-04 06:32] nicolas-raoul commented on #2386
@maskaravivek  Could you please post a screenshot showing how the thank looks like, in your https://commons.wikimedia.org/wiki/Special:Notifications ? Thanks!

[2019-02-04 07:01] nicolas-raoul commented on #2358
Great finding! This will save me a lot of waiting time every day :-)

[2019-02-04 07:05] maskaravivek commented on #2386
<img width="707" alt="screenshot 2019-02-04 at 12 34 47 pm" src="https://user-images.githubusercontent.com/3069373/52194314-4bd64c00-2879-11e9-9650-2e14e24b2831.png">

[2019-02-04 07:15] nicolas-raoul commented on #2392
"Media of the day" could be added just before the featured pictures that appear when you open "Explore", good idea.

The categories system is being slowly replaced with the Structured Commons system, so I don't think investing much time developing new category browsing features should be our priority. In a few weeks I will submit an issue for adding Structured Commons properties when uploading, th

[2019-02-04 07:44] prajurock commented on #2409
I would like to work on this.

[2019-02-04 07:57] vanshikaarora commented on #2392
Structured Commons System would definitely be better indeed :)

[2019-02-04 08:01] maskaravivek commented on #2409
Sure, feel free to pick this up.

@prajurock Can you describe how you plan to implement it?

[2019-02-04 08:03] sp2710 commented on #2408
@maskaravivek In API query can we use the same filter to fetch only read notifications?

[2019-02-04 08:11] vanshikaarora commented on #2392
For this In the documentation is see the [API](https://commons.wikimedia.org/w/api.php?action=help&modules=featuredfeed) for fetching Media of the day.

So shall I create a separate issue for this or work in the same?

[2019-02-04 08:12] maskaravivek commented on #2408
Yes, that would be nice.

Also, modify the startup intent for `NotificationsActivity` to accept this filter.

[code]

[2019-02-04 08:12] vanshikaarora commented on #2405
Hey!! I am working on this.

[2019-02-04 08:20] sp2710 commented on #2408
Sure I will do that  :+1:

[2019-02-04 09:06] #2406 closed

[2019-02-04 09:31] maskaravivek commented on #2409
We won't be using FCM. The background job will poll for notification and show a local notification if there's a new one.

[2019-02-04 09:45] nicolas-raoul commented on #2328
@vanshikaarora Please post here the whole content of this data field, it might be FBMD in some encoded form:
![52176353-90a9a680-27d7-11e9-8394-ea3505817988](https://user-images.githubusercontent.com/99590/52200737-e56b2100-28ac-11e9-9134-36163a77bdf2.png)

[2019-02-04 10:16] nicolas-raoul commented on #2393
I totally agree!
Using FastCCI you could even display the best (featured/etc) images first.

[2019-02-04 14:12] prajurock commented on #2409
Poll for notifications means??

[2019-02-04 14:38] maskaravivek commented on #2409
We can call the API to fetch notification every 1-2 hours and check if there's a new notification.

[2019-02-04 16:04] prajurock commented on #2409
We have to build a Service that handles your notification contents and shows notifications when it knows that are new data(notification). The service will run in background even if your application is closed. You need a BroadcastReciever to run the service in background after the boot phase is completed.

[2019-02-04 16:18] maskaravivek commented on #2409
Yes, sounds good.

[2019-02-04 16:48] prajurock commented on #2409
Should i start working on it?Or you will assign this then i will start.

[2019-02-04 16:52] maskaravivek commented on #2409
@prajurock Its assigned to you now.

[2019-02-04 17:06] vanshikaarora commented on #2386
@nicolas-raoul Looking at the API available here:
https://commons.wikimedia.org/wiki/Special:ApiSandbox#action=thank&revid=456&source=diff&token=123ABC I can guess that currently the image url is not provided in the API request

but I guess it can be done using
[code]

Please correct me if I am wrong here :)

[2019-02-04 17:31] vanshikaarora commented on #2328
@nicolas-raoul Here is a preview for the data from data fiels that is in byte format
![screenshot from 2019-02-04 23-00-10](https://user-images.githubusercontent.com/34261945/52225582-b8306a00-28d0-11e9-9693-2c62d4811029.png)

[2019-02-04 17:58] vanshikaarora commented on #2328
@maskaravivek I have updated the PR. You can check that locally :)

[2019-02-04 18:14] maskaravivek commented on #2386
According to the documentation:

The same can be checked in the database. Any information about the image being thanked is not persisted in the public DB.

https://quarry.wmflabs.org/query/31756

At best, we can simply show a log of thanks received by the user. Am not sure if anyone would be interested in seeing that log without knowing which media was thanked.

[2019-02-04 18:18] sp2710 commented on #2408
@maskaravivek should i display the archived in the same fragment or use a different fragment for it

[2019-02-04 18:42] maskaravivek commented on #2408
You can use the same fragment. At a time either it will show archived or unread notification based on the parameter.

[2019-02-04 18:47] vanshikaarora commented on #2386
- Presently the app shows the number of thanks received so showing the logs of that "Thanks recieved" might add an additional value for the user
- Also (This is an optional suggestion) : since we have the timestamp we might be able to retrieve which image we are thanked for and thus give information of the image being thanked

[2019-02-04 18:54] vanshikaarora commented on #2392
@nicolas-raoul
Shall I add the "Media of the day" along with "Featured pictures" in a heterogeneous RecyclerView
Or Should I create a separate tab for "Media of the day"

[2019-02-04 20:52] prajurock commented on #2410
I would like to work on it.

[2019-02-04 20:52] sp2710 commented on #2386
Is this the timestamp at which the thanks was received and not the timestamp at which the image was uploaded? In that case it might not be possible to retrieve which image we are thanked for.

[2019-02-04 22:08] prajurock commented on #2409
Ok I will do.

[2019-02-05 02:32] nicolas-raoul commented on #2328
Cool, that's what we were looking for :-)
![52225582-b8306a00-28d0-11e9-9693-2c62d4811029](https://user-images.githubusercontent.com/99590/52250087-83a4c880-2939-11e9-966f-02cdec7f925e.png)
70 66 77 68 is "FBMD" is ASCII code.
So, in Java we must check whether that code is present or not in the `SpecialInstructions` field.

[2019-02-05 02:35] nicolas-raoul commented on #2392
No need to create a separate tab, I think.
Most people don't need to know how the pics are selected. They are just nice and interesting pictures.

[2019-02-05 09:04] vanshikaarora commented on #2392
@nicolas-raoul So shall I add two horizontal recyclerViews?

[2019-02-05 09:11] nicolas-raoul commented on #2392
Sorry I don't know what is the best way to implement that in Android :-/

[2019-02-05 09:14] vanshikaarora commented on #2392
@nicolas-raoul we need to have more suggestions then regarding the UI part :)

@maskaravivek @neslihanturan @misaochan Can you please pitch in your ideas :)

[2019-02-05 09:18] nicolas-raoul commented on #2392
I suggest using the same view as now, but simply feeding a mix of pictures from different sources into it:
- First picture: media of the day
- Next pictures: what comes from the currently implemented request.
So, no need to change anything in the UI, I believe :-)

[2019-02-05 09:20] vanshikaarora commented on #2392
Ohh so is it like alternate media of the day as well as pictures of the day?

[2019-02-05 09:35] vanshikaarora commented on #2328
@nicolas-raoul I'll test it on few other images to see which of them fits best if both of them fits then I feel the same `iptc.datasetMap.get("SpecialInstructions").get(0).data` will defintely be the better option :)

[2019-02-05 09:49] vanshikaarora commented on #2392
https://commons.wikimedia.org/wiki/Category:Featured_pictures
I believe.
@nicolas-raoul Yes, the images currently fetched are the featured images from the API https://commons.wikimedia.org/w/api.php?action=help&modules=featuredfeed

Currently it fetches the images by setting feed =potd,

[2019-02-05 09:52] vanshikaarora commented on #2392
@nicolas-raoul Yes, the images currently fetched are the featured images from the API https://commons.wikimedia.org/w/api.php?action=help&modules=featuredfeed

Currently it fetches the images by setting feed =potd, on setting feed =motd we can fetch media of the day. So is it to be set in the same view as the current featured images.

Please correct me if there is any difference in opinion :)

[2019-02-05 09:54] Tanvi-Goyal commented on #2388
Hi, i want to work on this issue.

[2019-02-05 10:02] Tanvi-Goyal commented on #2394
Is anyone working on this issue ?

[2019-02-05 10:08] ShridharGoel commented on #2394
@Tanvi-Goyal Yes, my PR is already up, waiting for a review.

[2019-02-05 10:15] ShridharGoel commented on #2388
I've already sent a PR which awaits a review.

[2019-02-05 10:18] Tanvi-Goyal commented on #2394
Okay @ShridharGoel

[2019-02-05 10:36] nicolas-raoul commented on #2311
@ShridharGoel Let's go with solution 1. Are you still motivated to work on it? :-)

[2019-02-05 10:39] ShridharGoel commented on #2311
Yes, definitely! :)

[2019-02-05 10:42] nicolas-raoul commented on #2311
@ShridharGoel  Assigned to you :-)

[2019-02-05 10:43] nicolas-raoul commented on #2236
@albendz Do you want to give it a try? First thing would be to manage to reproduce the issue, which is not easy.

[2019-02-05 10:45] nicolas-raoul commented on #2233
Please ask on the mailing list instead, thanks! :-)
https://groups.google.com/d/forum/commons-app-android

[2019-02-05 10:45] #2233 closed

[2019-02-05 11:18] Tanvi-Goyal commented on #2307
Hi i would like to work on this issue.

[2019-02-05 11:23] Tanvi-Goyal commented on #2272
Hi i would like to work on this issue

[2019-02-05 11:45] vanshikaarora opened #2414 "Bookmark doesn't works for self-uploaded image"
**Summary:**

In the details of a self uploaded image, the toolbar contains option to bookmark the image. For self uploaded images the button does not marks the image as bookmark

**Steps to reproduce:**

- In the contributions fragment
- Click any of your uploaded image
- On the toolbar select the star icon

### Expectations
Either the bookmark option shouldn't be available for self uploaded imag

[2019-02-05 11:46] nicolas-raoul opened #2415 "Structured Commons (issues list)"
Here are the proposed Structured Commons properties:
https://www.wikidata.org/wiki/Wikidata:WikiProject_Commons/Properties_table
We should find out which ones are relevant to us when uploading, when searching, and when showing media.

In order of perceived priority:

- Caption #2297 #2337 #2525
- Depicts #2097
- Media type https://www.wikidata.org/wiki/Property:P1163
- EXIF-like data https://commo

[2019-02-05 11:49] nicolas-raoul commented on #2082
If an exception happens always, we should:
- Find out whether there is actually a problem or not
- If yes, fix it. If not, hide the exception

[2019-02-05 12:00] nicolas-raoul commented on #2078
It is important to show the currently upload at the top to inform the user, indeed.
Maybe adding titles before each image category (for instance "Media being uploaded", "Failed uploads", "Successful uploads")? "Successful uploads" should be hidden when it is the only title.

[2019-02-05 12:41] vanshikaarora commented on #2414
@maskaravivek @nicolas-raoul @misaochan @neslihanturan Please share your opinion:
Whether I should remove the bookmark or icon or should I also add self-uploaded images to the bookmarked images

[2019-02-05 12:44] nicolas-raoul commented on #2065
I believe this is fixed.

[2019-02-05 12:44] #2065 closed

[2019-02-05 12:50] nicolas-raoul commented on #2240
Is this issue about the language (for instance Spanish) or about the elevation lines?

[2019-02-05 13:11] vanshikaarora commented on #2402
### Two of the major problems that I feel are:
I have noticed this aspect quite a few times that that showing keyboard and then hiding keyboard toggle's the views. Yes this slows down the app's activity.
Also the toggling of the view are sometimes not smoothly carried out this also degrades the user experience. it would definitely be a better option to eliminate this view flipping

[2019-02-05 16:03] misaochan commented on #2414
Hmm. I'm OK with either option, actually, but I'm personally leaning towards treating all images the same (i.e. allowing users to bookmark their own uploaded images).

[2019-02-05 16:07] misaochan commented on #2393
Tentatively sounds good to me. However, the use of FastCCI would require a complete overhaul of our current Commons query, right? Do we know how reliable the database is?

[2019-02-05 16:51] prajurock commented on #2410
I made the pull request Please check it.

[2019-02-05 17:12] prajurock opened #2416 "Achievements activity share option is not working."
**Summary:**
On clicking the share option on achievement activity App closes.

**Device and Android version:**
Asus Zenfone Max m1 pro(API 27)

**Commons app version:**

latest  master version

**Gif**

![video2gif_20190205_223545](https://user-images.githubusercontent.com/26791135/52290845-04de7880-2997-11e9-96b2-ccda2c5c96b3.gif)

**Would you like to work on the issue?**

Yes

[2019-02-05 18:33] prajurock commented on #2409
Can you provide me an API ?? or i will make dummy one.

[2019-02-05 18:55] Tanvi-Goyal commented on #2307
Can't we add the icon in the appbar left of the notiification icon.
Please consider else i will start working on the level number idea.
Thanks

[2019-02-05 19:01] soulspark666 opened #2418 "To tackle old issues"
**Summary:**
Since there are more than 400 issues still pending, with some issues still open after being solved while others being difficult to fix.

We should add the [stale](https://github.com/probot/stale) bot to tackle such problems.

**Screen-shots:**
![](https://cloud.githubusercontent.com/assets/173/23858697/4885f0d6-07cf-11e7-96ed-716948027bbc.png)

**Would you like to work on the issue?**

[2019-02-05 19:05] maskaravivek commented on #2409
the API is already integrated into the app.

https://mediawiki.org/wiki/Notifications/API

check `ApacheHttpClientMediaWikiApi:getNotifications`

[2019-02-05 19:07] #2285 closed

[2019-02-05 19:16] maskaravivek commented on #2392
Yes, we can show it in the same view. :)

[2019-02-05 19:18] soulspark666 commented on #2418
@ [maskaravivek](/maskaravivek) can I know why you closed it???

[2019-02-05 19:20] maskaravivek commented on #2386
I am fine with showing the logs but lets other pitch in too. cc @misaochan @neslihanturan @nicolas-raoul
If we go ahead with it,
- either we can simply open this link: https://commons.wikimedia.org/wiki/Special:Log?type=thanks&user=&page=User%3AMaskaravivek&wpdate=&tagfilter=

- or we can build a native page. For native page, we will need an API that returns the logs.

Yes, as @sp2710 pointed out,

[2019-02-05 19:33] maskaravivek commented on #2418
I closed it because the initial issue that you created didn't contain any details. You seem to have edited it after I closed it.

<img width="640" alt="screen shot 2019-02-06 at 1 01 17 am" src="https://user-images.githubusercontent.com/3069373/52299193-d1a5e480-29aa-11e9-8331-a4ad4bd6275b.png">

<img width="799" alt="screen shot 2019-02-06 at 1 02 35 am" src="https://user-images.githubusercontent

[2019-02-05 20:12] soulspark666 commented on #2418
I think I can't [reopen](https://stackoverflow.com/questions/21333654/how-to-re-open-an-issue-in-github) it, as this is my first contribution to the repo.

[2019-02-05 20:30] #2384 closed

[2019-02-05 20:37] #2378 closed

[2019-02-05 20:40] #2368 closed

[2019-02-05 20:45] #2294 closed

[2019-02-06 01:09] nicolas-raoul commented on #2393
Last year it was not reliable, with months-long downtimes :-/

[2019-02-06 04:42] maskaravivek commented on #2408
@sp2710 I couldn't find an API to mark a notification as unread.

You can go ahead and create a separate issue for that.  Later, we can check their implementation and get an idea about how to do it. :)

[2019-02-06 04:43] #2387 closed

[2019-02-06 05:44] maskaravivek commented on #2402
Would it help if the bottom and top cards are swapped ie, show the title/desc card at the top and image thumbnails at the bottom?

Do you mean removing `ViewFlipper`?

[2019-02-06 06:02] maskaravivek commented on #2358
I have raised a PR removing `icon` and `emoji`. Both attributes were not being used by the app. The loading is much faster now. :)

I have a couple of more suggestions:

- Do not wait for all results before displaying it on the map. As of now the query is fired multiple times until 40 items are fetched. We can make use of `Observable` from `RxJava` to emit results as they arrive.
- SPARQL must hav

[2019-02-06 07:47] vanshikaarora commented on #2402
Yes I think we can try removing the cards and instead create a new layout which has EditText at the top  and image at the bottom to prevent toggling of keyboard

Yes, ViewFlipper can be removed with individual activities and that might give a better user experience

[2019-02-06 07:58] vanshikaarora commented on #2392
Since we have multiple upvotes for the same. Then I'll start working on this and add it to the same Recycler view with alternating potd and motd.

[2019-02-06 07:59] vanshikaarora commented on #2285
Thanks for approving the PR :)

[2019-02-06 08:20] nicolas-raoul commented on #2418
I don't think that the `stale` label is useful to our project.
It would also certainly be viewed negatively both by reporters (*"I reported an imported issue but they marked it as worthless"*) and developers (*"I don't want to spend my time working on stale issues"*).
Issue #7 has received zero activity for 9 months in 2015, then again zero activity for 9 months in 2016, before becoming a hot issu

[2019-02-06 08:32] ShridharGoel commented on #2393
We'll need to set a mechanism where it would use the current system if the FastCCI servers go down, although I think that would rarely happen.

[2019-02-06 08:42] nicolas-raoul commented on #1937
We have switched to a totally different upload mechanism in 2.9.0.
Could you please try the beta or alpha?
If you still can reproduce the issue please reopen this issue, thanks! :-)

[2019-02-06 08:42] #1937 closed

[2019-02-06 09:05] sp2710 commented on #2408
Sure I will do that:)

[2019-02-06 09:09] vanshikaarora commented on #2361
@maskaravivek Now shall I start working upon this cropping feature

[2019-02-06 09:11] maskaravivek commented on #2361
Sure. And lets continue the discussion on #1192.

[2019-02-06 12:30] sp2710 opened #2420 "Notification count not updating after notification is marked as read"
**Summary:**
Notification count not updating after notification is marked as read. It is showing the same count. To update it app kill is required

**Steps to reproduce:**
1.On notifications activity mark a notification as read.
2. Press back button
The notifications count is not updated

**What did you expect the app to do?**
The notification count should get updated after a notification is marke

[2019-02-06 13:27] soulspark666 commented on #2418
We can then just change the label from to _stale_ to anything else that might be more suitable! Since stale bot is made on open source, so code can be changed to whatever may be more appropriate, or I can create a new bot from probot that will be suitable to the requirement!

[2019-02-06 16:08] maskaravivek commented on #2402
Let's investigate a bit before making this change. I am optimistic that this would improve performance but it would be a decently big task. So, let us dig up a few articles/references before working on it. :)

[2019-02-06 16:12] ShridharGoel opened #2421 "Add feature to zoom images when viewing media details"
**Summary:**

Users should have a pinch-to-zoom feature so that they can zoom the image without the need to download.

**Commons app version:**

Latest master.

**Would you like to work on the issue?**

Yes

[2019-02-06 17:09] vanshikaarora commented on #2392
@maskaravivek @nicolas-raoul Can you please let me know
[code]
is this the current api request that I am making?

[2019-02-06 17:15] vanshikaarora commented on #2068
Currently, do we have such an API?

[2019-02-06 19:30] maskaravivek commented on #2392
This will fetch only one image. Instead use

https://commons.wikimedia.org/w/api.php?action=featuredfeed&feed=potd&format=json

[2019-02-06 22:01] sp2710 opened #2424 "Use nearby map to to get routes and other directional information"
**Summary:**

When you click directions button to get the directions of a location the current action redirects user to google maps. We can implement this feature to get directions in the nearby map. Instead of redirecting the user to the google maps we can show the routes in the nearby map when the user clicks the directions button to get the directions of a location.

**Would you like to work on

[2019-02-07 02:03] nicolas-raoul commented on #2421
Ah yes that would be really great! I often regret this feature is not present :-)

[2019-02-07 02:12] nicolas-raoul commented on #2068
Structured Commons will introduce a "Quality assessment" property for each media.
Until it is ready, I suggest implementing the UI already, and as the backend just adding `==Android Commons app quality assessment== Score:4 (1:Low quality, 5: High quality)` to the media's talk page if the user selects 4 stars (for instance).

Also, let's add a "thank" to the picture if the number of stars is 4 or 5

[2019-02-07 02:45] nicolas-raoul commented on #2424
As a heavy user of the app, I often want to open Google Maps in order to get a more detailed map (depending on the country) or to benefit from the satellite view. I almost never need directions, and I guess not many people would think "*I want to take a picture of that item so I will take my car or a train to go there*".

I agree the icon is a bit misleading, but I believe it is the best way to re

[2019-02-07 03:00] nicolas-raoul commented on #516
This would be a great addition indeed.

Another place where additional preferred languages could be used is the details panel of any item in the Nearby activity:
![adb-screenshot](https://user-images.githubusercontent.com/99590/52387885-48d49900-2acf-11e9-97e2-51be7a397b4b.png)
Because my phone is in English and this item has no English Wikipedia article, the Wikipedia icon is greyed out. That's s

[2019-02-07 06:41] vanshikaarora commented on #2068
Is it the same as https://github.com/commons-app/apps-android-commons/issues/2386 ?

[2019-02-07 06:48] nicolas-raoul commented on #1499
If my understanding is correct, this is now implemented? :-)
Or did I misunderstand something, in particular the offline requirement in particular?

[2019-02-07 07:16] nicolas-raoul commented on #741
Structured Commons will introduce a "quality assessment" property for media.
I suggest using that value, it will be queryable.
Hopefully other Commons communities will find smart ways to quickly assess the quality of all media.

[2019-02-07 07:42] nicolas-raoul commented on #249
I used to think that we should not cache Wikidata, as it only takes a fraction of a megabyte, and is real-time info. Indeed using WikiShootMe I really appreciate being able to see a point disappear from the map immediately after uploading a picture. I only leave the area when there is no point left on the map.

But now I changed my mind because:
- Wikidata queries are quite time-consuming
- I ofte