[2019-02-07 07:45] nicolas-raoul commented on #50
Structured Commons will make location-based Commons categories obsolete, hopefully.

[2019-02-07 07:47] nicolas-raoul commented on #28
Existing Commons pictures could be shown on the Nearby map, but they should probably be hidden by default, or at least less visible than items missing a picture. Once again, WikiShootMe is a good example to follow.

[2019-02-07 07:54] nicolas-raoul commented on #2068
@vanshikaarora Yes both issues are about Mediawiki's "thanking" feature. The present issue would _give_ a thank, whereas the issue you mention would _receive_ the thank :-)

[2019-02-07 08:04] maskaravivek commented on #249
@nicolas-raoul As I commented here:

https://github.com/commons-app/apps-android-commons/issues/2358#issuecomment-460910579

We can use `OkHttp` cache implementation to enable caching. I am working on both the points mentioned in my comment. This should make our Nearby loading super quick.

[2019-02-07 08:05] maskaravivek commented on #2058
Closing this as #249 and #2358 should take care of this.

[2019-02-07 08:29] nicolas-raoul opened #2425 "Feedback about a Wikidata item: Does not exist, Is at other location, other problem"
I suggest adding a "discussion" action to the bottom panel that opens when you select a pin in the "Nearby" activity:

![adb-screenshot](https://user-images.githubusercontent.com/99590/52397966-b34efe80-2afa-11e9-919d-8c99bba0ef4a.png)

It would open an activity that could look like this:

[code]

The edit should be made with a particular edit tag, so that we can keep track of this feedback and im

[2019-02-07 08:37] #2058 closed

[2019-02-07 08:38] nicolas-raoul commented on #249
Cool! :-)
If we can not invalidate the cache for a particular item (the item I just uploaded a picture for), then I suggest invalidating the whole cache every time I upload a picture via Nearby.
Can OkHttp's cache be invalidated programmatically?

[2019-02-07 13:13] maskaravivek commented on #249
Yes, the cache control header can be set for any request. Setting it to null would make it not use cache.

[2019-02-07 13:46] vanshikaarora commented on #2414
@maskaravivek @nicolas-raoul @misaochan I have observed the code for this. There is an exception in the code due to which the  self-uploade images are not bookmarked
[code]

And this arises in the function since `mwQueryResponse.query()` is null. Is the API call incorrectly written? Or this API doesn't fetches self-uploaded images?
[code]

[2019-02-07 13:59] maskaravivek commented on #2392
Nope, unfortunately, this API ignores the XML response.

https://www.mediawiki.org/wiki/API:Showing_interesting_content#How_it_works_on_Wikimedia_wikis

[2019-02-07 14:09] vanshikaarora commented on #2068
That would be a great idea so currently shall we include the rating widget to the images in explore?

[2019-02-07 14:15] vanshikaarora commented on #2392
@maskaravivek I tried using this for the API:
[code]

But the result returned was:

![screenshot from 2019-02-07 19-43-04](https://user-images.githubusercontent.com/34261945/52416913-b48b2600-2b10-11e9-88f8-e85380bc9e27.png)

Is it something wrong with the API call?

[2019-02-07 14:34] vanshikaarora commented on #2291
@maskaravivek @nicolas-raoul  For adding additional changes, that we desire to this PR we need to edit EditTextPrefernece the custom class created in the Project.

- Need to a TextWatcher to the entered text
- And an additional TextView to display error text

This might effect the other cases where we are using this class
Shall I make changes to the Widget or there can be other suggestions in the

[2019-02-07 14:56] ashishkumar468 commented on #2291
Instead of adding another TextView below the edit text, you could use the method setError to show the error, also if EditTextPreference is used in a lot of places, you could may be extend the EditTextPreference and add the TextWatcher in this class to show the appropriate error.

[2019-02-07 15:41] maskaravivek commented on #2392
Is it not working?

Can you share the full API response from logcat?

[2019-02-07 16:16] vanshikaarora commented on #2392
I have recieved the following in my debug logs

![screenshot from 2019-02-07 21-45-00](https://user-images.githubusercontent.com/34261945/52425299-ba3d3780-2b21-11e9-9641-2ea59c632589.png)

[2019-02-07 16:56] maskaravivek commented on #2392
You are sending `format` param twice. Am not sure if that is causing the issue. Rest of the request looks fine.

According to the response, `potd` value is not valid.

[2019-02-07 21:13] sp2710 commented on #2424
In some cases where Wikipedia and Commons icons are not disabled it will become crowded.

[2019-02-08 02:06] nicolas-raoul commented on #1971
This is a big problem and it still exists in 2.9.0.196~52ab393:
https://commons.wikimedia.org/w/index.php?title=File:%E3%82%A2%E3%83%AB%E3%83%95%E3%82%A1%E5%85%83%E9%BA%BB%E5%B8%83.jpg&oldid=337653865
I shot that image on December 4 (as can be seen in the EXIF section) but the metadata wikitext created by our app wrongfully contains `date={{According to EXIF data|2019-02-04}}` which is the date at

[2019-02-08 02:40] maskaravivek commented on #1971
I would like to pick this up as I believe my recent changes might have broken it. We will include it in 2.10.0.

[2019-02-08 05:48] nicolas-raoul opened #2428 "Nearby competition"
How about organizing a competition using the Nearby feature?

For instance, the winner could be the person who has the most valid [Wikidata edits from the Commons app](https://www.wikidata.org/w/index.php?hidebots=1&translations=filter&hidecategorization=1&tagfilter=wikimedia-commons-app&limit=500&days=30&enhanced=1&hideWikibase=1&title=Special:RecentChanges&urlversion=2) on a particular week.

On

[2019-02-08 05:53] maskaravivek commented on #2428
I love the idea and IMO this could be a potential task for GSOC or Outreachy if we manage to get interns.

[2019-02-08 06:19] nicolas-raoul commented on #2068
Good question. I have not though about the UI.

If we mix featured pictures with normal pictures, users might rate normal pictures very harshly. Which might not be a problem, we could just maintain the user's medium rating for non-featured pictures, and apply a multiplication.

Maybe this activity could be sort of grouped with the peer review activity? Peers in the sense of mobile app users, and p

[2019-02-08 06:25] nicolas-raoul commented on #2424
Yes, but it is a rare case.
Or we could display icons on two lines (hopefully with some kind of overflowing so that it takes only one line when that fits).

[2019-02-08 06:53] nicolas-raoul opened #2429 "Neaby pin does not disappear after submitting to Wikidata, leading user to submit to Wikidata again"
**Steps to reproduce:**

1. Go to Nearby
2. Select a pin near you
3. Go take a picture of it and upload it
4. Problem: The pin is still present of the map, maybe because the map is not refreshed or maybe because of some cache.
5. User thinks it did not work and tries again

Example where that happened: https://www.wikidata.org/w/index.php?title=Q5942564&action=history

By the community rules, a Wi

[2019-02-08 07:29] vanshikaarora commented on #2392
@maskaravivek I have modified this error but still I got an invalid respose from the API. with an `error code="unknown_feed"`.

![screenshot from 2019-02-08 12-56-19](https://user-images.githubusercontent.com/34261945/52464461-fe235180-2ba0-11e9-9243-12fbc73ef5e2.png)

[2019-02-08 09:50] nicolas-raoul commented on #2428
If a user spends a week taking pictures using Nearby (without uploading), and then uploads all of them during the competition week, should it be considered cheating? We can easily find out using the picture's EXIF. A very determined cheater could go as far as modifying the EXIF, but I am not sure such extremes are realistic. I wonder whether this kind of cheating has ever happened on other WMF com

[2019-02-08 11:16] maskaravivek commented on #2392
You are using the beta app. Can you check on prod environment? It's possible that beta server doesn't have this feed

[2019-02-08 18:15] sp2710 commented on #161
Is anyone working on this.
Shall i take up this issue if no one is working?

[2019-02-09 02:50] nicolas-raoul commented on #161
@sp2710 Nobody is working on this it seems, thanks for noticing! Looking forward to your pull request :-)

[2019-02-09 02:57] maskaravivek commented on #161
AFAIK, this is part of the IEG 2019 grant task.

@misaochan Can confirm if it can be assigned to someone else or should be left for the grant.

[2019-02-09 05:42] vanshikaarora commented on #2428
To eliminate this problem shouldn't we just keep this as an event of just a day or an event with submission deadline with the idea that whoever has the most valid [Wikidata edits from the Commons app](https://www.wikidata.org/w/index.php?hidebots=1&translations=filter&hidecategorization=1&tagfilter=wikimedia-commons-app&limit=500&days=30&enhanced=1&hideWikibase=1&title=Special:RecentChanges&urlver

[2019-02-09 08:48] nicolas-raoul commented on #2428
If it is just one day, it might not really feel like a competition, because of timezones. People starting the competition in the Americas might be discouraged at the sight of the scores of people in Asia (for whom it is already the evening). A competition is fun if you can compete with others, compare your performance with them, try harder, lag behind, catch up, etc. At the scale of the planet, it

[2019-02-09 09:53] vanshikaarora commented on #2428
Ohh yes, I missed this point. At a global level one day event would definitely not be beneficial. The idea of a week long event is definitely better :)

[2019-02-09 14:10] vanshikaarora commented on #2291
@ashishkumar0207 setError function which class have you metioned here?

[2019-02-09 14:24] vanshikaarora commented on #2425
That sounds like a good idea @nicolas-raoul. There were few points in my mind
How are we going to utilise the memo added by a user?
Is it like clicking on the pin will give us the details added by all the user's with a feature to add your a memo from the user's side?

[2019-02-09 14:39] ashishkumar468 commented on #2291
@vanshikaarora EditText in android has a function [setError()](https://developer.android.com/reference/android/widget/TextView.html#setError(java.lang.CharSequence)), actually two using which you could specify the error message(and maybe the appropriate icon), to show error messages.

[2019-02-09 14:47] vanshikaarora commented on #2392
@maskaravivek Here is the reponse in prod environment:
The response doesn't returns an `error code="unknown_feed"` but yet it isn't the one expected the title in the information obtained isn't the title of my self-uploaded image
![screenshot from 2019-02-09 20-14-13](https://user-images.githubusercontent.com/34261945/52522151-5775a880-2ca7-11e9-9b07-300434442196.png)

[2019-02-09 14:48] vanshikaarora commented on #2291
Now that's clear :). So shall I modify the wrapper class to add a setError() method to the EditText?

[2019-02-09 14:54] ashishkumar468 commented on #2291
@vanshikaarora  Any one having a reference to the wrapper class (by which I am assuming you mean the wrapper for the EditTextPreference class), will be able to directly access the setError function, right?, so I guess there would not be the need to modify the wrapper class for at least this thing.

[2019-02-09 15:04] nicolas-raoul commented on #2425
@vanshikaarora Yes, added notes will be visible by all.
I forgot to say the the phase 1 notes should be added to the item's talk page.
For example, here is the talk page of the item "SQUARE BUILDING", a building which has been demolished in 2007: https://www.wikidata.org/wiki/Talk:Q11311478
[code]

[2019-02-09 17:42] vanshikaarora commented on #2291
Yes I am talking about this Wrapper class EditTextPreference. Currently this class does not overrides the function setError().

Here I mean shall I override the setError() function of the class? :)

[2019-02-09 17:43] vanshikaarora commented on #2425
Just one more question, please.
These notes will be verified by us wikimedia(for relevance) before publishing or all of them would be published?

[2019-02-09 17:53] maskaravivek commented on #2392
The response looks correct but you might need to parse it differently. Can you compare the respones for category images and this feed and find the differences.

[2019-02-10 02:37] nicolas-raoul commented on #2425
They can be published immediately :-)
In the wiki world, we assume good will, and let anyone edit stuff. Especially talk pages.

By the way, I see what you mean by "_us wikimedia_", but I just want to mention that even though our app is an official Wikimedia Foundation (WMF) app, only very few of us (only Vojtech I think) are members of the Wikimedia Foundation, and we historically considered the

[2019-02-10 06:51] maskaravivek opened #2430 "Show number of Wikidata edits from the Commons app"
**Summary:**

It would be nice to show the number of Wikidata edits he has made using the commons android app. Personally, it would motivate me to make more edits.

This task is also an action item (Point number 6) as part of "Targeted acquisition of photos for places that need them" in the upcoming IEG 2019 grant.

https://meta.wikimedia.org/wiki/Grants:Project/Commons_app/Commons_Android_app_v3#

[2019-02-10 09:44] ashishkumar468 commented on #2291
@vanshikaarora You will need to just call the method setError directly with the required params. I do not see a use case over here which requires overriding the function.

[2019-02-10 10:09] maskaravivek commented on #2430
As the changes for API are done, I am going ahead and picking this up. We would be using this API but on @urbanecm's endpoint.

https://tools.wmflabs.org/commons-android-app/tool-commons-android-app/wikidataedits.py?user=Maskaravivek

@urbanecm  On a separate note, the uploads and feedback APIs seem to be down right now. It would be great if one of us( common app members) could have maintainer acc

[2019-02-10 10:40] #2408 closed

[2019-02-10 12:54] urbanecm commented on #2430
The down issue is fixed now. I don't have issues with granting you access to the GitHub repository itself, but I'm a little bit reluctant to grant you maintainer rights to the tool itself, since that would effectively grant you access to my Wikipedia account (on the same tool there are some cron jobs needing sysop access).

[2019-02-10 13:57] sp2710 opened #2432 "Option to mark archived notification as unread"
**Summary:**

With #2408 now implemented it would be nice if we can give users an option to mark archived notification as unread. The Wikipedia app provides the same option so it would be great if we can also implement it.

https://github.com/commons-app/apps-android-commons/issues/2408#issuecomment-460899358

**Would you like to work on the issue?**

Sure. After getting an idea about how to do it

[2019-02-10 13:58] nicolas-raoul commented on #2297
We must get the user's approval that caption are licensed CC0 (independently from the image's license).
Here is how the upload wizard does that: https://commons.wikimedia.org/wiki/Commons_talk:Structured_data#CC0_licensing_mockups

[2019-02-10 14:05] urbanecm commented on #2430
Deployed&pulled, see https://tools.wmflabs.org/urbanecmbot/commonsmisc/wikidataedits.py.

[2019-02-10 14:38] maskaravivek commented on #2430
Awesome thanks @urbanecm. :)

It would be great if you grant me collaborator access for the repo. Now, that I have managed to set up a mirror for testing, it can be used for testing before making the actual releases.

Mirror tool: https://toolsadmin.wikimedia.org/tools/id/commons-android-app
Repo which is up to date with the original repo: https://phabricator.wikimedia.org/source/tool-commons-andr

[2019-02-10 14:49] urbanecm commented on #2430
Done. Maybe you would want the repo to be transferred to commons-app android, so you have full control over it?

[2019-02-10 14:59] maskaravivek commented on #2430
Am good either way but having it under `commons-app` org on Github might make it easier for other contributors to find it.

@nicolas-raoul @misaochan would be able to answer if we should have it transferred.

[2019-02-10 15:24] maskaravivek opened #2433 "Ensure that Wikidata edit happens and P18 edits are logged after a nearby upload occurs"
**Summary:**

After implementing #252 we started tagging the Wikidata edits as part of #923. We also started persisting wiki data entity ID(#2280) to make sure edit is attempted even for failed uploads(basically retrials).

We still have 2 failure points which could lead to P18 property not being added or not being logged:

- `wbcreateclaim` API fails because of some reason preventing P18 edit to

[2019-02-10 15:26] maskaravivek commented on #2433
Subtask for #1866.

[2019-02-10 16:02] misaochan commented on #2425
Hmmm, I am not sure about this. The bottom panel is already quite full, adding one more item seems to make it quite cluttered. I guess the main reason why I am hesitant is that having this extra item seems to only save the user 1 tap. Since they can just go to the Wikidata item and then tap the "Discussion" tab in their browser. Granted, wiki editing in the mobile browser is a bit clunky.

Maybe w

[2019-02-10 16:04] misaochan commented on #2428
Great idea!

Given that we aren't giving out any "real" prizes, I think we don't have to worry too much about cheating for the time being. :) EXIF checking alone should be sufficient IMO.

[2019-02-10 16:07] misaochan commented on #161
Yes, this is part of the IEG 2019 grant. AFAIK it isn't against policy if a volunteer really wants to do it, but it is probably advisable to choose a different task instead, @sp2710 , so that we get more new features done. :)

[2019-02-10 16:10] misaochan commented on #2424
I recall we'd discussed implementing directions within the app itself, but IIRC the consensus was that it would be a very involved implementation for minimal benefit. @maskaravivek ?

Hiding the Wikipedia/Commons icons if a page doesn't exist for them would be fantastic, actually! (But probably a separate enhancement, haha).

[2019-02-10 16:14] nicolas-raoul commented on #2425
How about making the icons bar movable like the tools bar in the app "Photo
Editor"?
And removing the inactive icons rather than greying them out. For instance,
the "Commons category" icon is grey most of the time.

On Mon, Feb 11, 2019, 01:02 Josephine Lim <notifications@github.com wrote:

On Mon, Feb 11, 2019, 01:02 Josephine Lim <notifications@github.com wrote:

[2019-02-10 16:29] misaochan commented on #2430
I'm good with it if @urbanecm is good with it. No pressure otherwise. :)

[2019-02-10 16:30] misaochan commented on #2425
Removing inactive icons would be fantastic. :) Haven't tried the Photo Editor app yet.

[2019-02-10 16:45] misaochan commented on #1971
Luckily the recent changes should not be on any published version of the app, just the alphas. Will hold 2.10 for it.

(Glad to see the alpha version is proving very useful, too! :))

[2019-02-10 16:49] misaochan commented on #28
Instead of showing them on Nearby, why not show them in our brand new Explore feature? I think it would be nice to have a map icon in Explore that loads all the nearby Commons pictures on a map. That would help keep use cases nice and separate - users who want to upload pictures would go to Nearby, and users who want to browse pictures can go to Explore.

(I was in favour of having them in Nearby

[2019-02-10 16:52] misaochan commented on #1499
This is a good first implementation but not the final product. :) From the proposal:

Currently there is only a list of bookmarked items.

[2019-02-10 17:07] sp2710 commented on #161
Sure @misaochan
I will try my hands on other tasks. :)

[2019-02-10 17:46] misaochan opened #2434 "Multiple uploads not possible via Gallery (local storage) in 2.10-release branch"
**Summary:**

After the image picker library overhaul, uploads from Google Photos and other 3rd party galleries now work! Yay! :)

But, while they work perfectly for 3rd party galleries now, I cannot select multiple uploads via the Android stock gallery (local storage). In the image picking stage, there is no option to select more than 1. Long tap, which normally works for selection, does not work

[2019-02-10 18:05] misaochan opened #2435 ""Explore" not loading new pics dynamically anymore (2.9.0.207~5a6402c)"
**Summary:**

"Explore" would normally load new pics dynamically after you scroll all the way down. Currently, it just stops at the bottom after 10 pics

**Steps to reproduce:**

Go to Explore, scroll down

**Device and Android version:**

Samsung Galaxy s9 Android 8.0.0

**Commons app version:**

Alpha test (2.9.0.207~5a6402c)

**Would you like to work on the issue?**

Pref not

[2019-02-10 18:39] albendz commented on #2434
I'll take this.

[2019-02-10 18:43] maskaravivek commented on #2434
@albendz I was also taking a look at this issue as it might be required for this release. It would be great if you could also post progress updates here and once any of us is able to figure out the issue, we can create a PR for it

[2019-02-10 18:47] albendz commented on #2434
No problem. When is the next release?

[2019-02-10 18:58] maskaravivek commented on #2434
#2435 and #1971 are the pending blockers before the release. We would make a beta release as soon as these are fixed.

[2019-02-10 22:05] albendz commented on #2434
Samsung Galaxy S6 7.0 does not have this issue with either gallery or google photos on 2.10 branch.

[2019-02-10 22:30] albendz commented on #2434
I tried again with an 8.0 and 9.0 emulator using the file explorer (not sure how to get the gallery instead if it's not set to default). Since I can't repro this I'm going to unassign.

[2019-02-11 03:35] maskaravivek commented on #2434
@misaochan From stock gallery do you mean file manager? It doesn't work for me while using the File manager but works for the stock gallery.

Multiple uploads didn't work with the file manager earlier as well.

[2019-02-11 03:46] #2420 closed

[2019-02-11 08:10] misaochan commented on #2434
Hmm no, I mean stock gallery. Open app > Contributions > Gallery FAB > Gallery > Camera. It works if I go directly to my stock gallery and select the multiple images then tap Share.

But if it is working for both of you, maybe we do not need to block the release for this?

[2019-02-11 08:19] nicolas-raoul commented on #28
@misaochan Sounds reasonable. What UI would be the most understandable? Maybe tabs like "Featured", "Nearby", "From Android"?

[2019-02-11 08:23] #2435 closed

[2019-02-11 08:35] misaochan commented on #28
That would be awesome!

(If you guys are planning to mentor a GSoC this year, I think this could be a great project too ;))

[2019-02-11 08:39] misaochan commented on #2367
For the GSoC project, how about #28 ?

I think it would be good to ask the student to submit unit tests along with their code, too. Since we are trying to implement TDD for our project.

[2019-02-11 08:58] misaochan opened #2437 "Tapping notification does not bring me to my talk page any more (alpha)"
**Summary:**

Previously, tapping a notification would bring me to my talk page. This is very important, because our notifications feature does not display the full message, it is just meant as a heads up. But after the recent changes, tapping does nothing.

**Steps to reproduce:**

Notifications > Tap on a notification

**Device and Android version:**

Samsung Galaxy s9 8.0.0

**Commons app versi

[2019-02-11 09:14] ShridharGoel commented on #2437
I can take this.

[2019-02-11 11:55] misaochan commented on #2437
Thanks @ShridharGoel !

[2019-02-11 14:16] urbanecm commented on #2430
Transferring a repo adds more workload to you than to me, if you want me to do it for you, you need to grant me repository creation right in your rights. As soon as I recieve the rights, I'll do the transfer and waive the rights. If you're fine with leaving this under my acc, fine with me, it was just an offer.

[2019-02-11 23:41] nicolas-raoul commented on #1971
Note: I am having this issue but I never use Google Photos.

[2019-02-12 00:07] nicolas-raoul opened #2439 "Stuck before categories selection screen: "Please wait...""
**Steps to reproduce:**
1. Go to Nearby
2. Quickly select a picture
3. Quickly press "Next", as title and description are auto-filled
4. "Please wait..." appears
5. Stuck like this. See screenshot. I waited minutes.
6. Pressing Back and "Next" again results in the same problem.

Always reproducible, on different nearby items with different pictures (from the same DLSR camera). On the opposite, an

[2019-02-12 01:35] nicolas-raoul commented on #2435
I had noticed this, I can confirm it is fixed in 2.9.0.209 :-)

[2019-02-12 04:07] maskaravivek commented on #1971
Sorry, I named the PR Incorrectly. It fixes the issue for all uploads. Will edit the title when I get to my laptop.

[2019-02-12 05:11] nicolas-raoul opened #2440 "Bookmarks activity wrongly says "No images found""
1. Go to Explore
2. Bookmark the first image
3. Go to bookmarks activity

![screenshot_20190212-140347](https://user-images.githubusercontent.com/99590/52613130-1a402f00-2ed0-11e9-92e3-d16b3cbe6b9e.png)

[2019-02-12 05:53] maskaravivek commented on #2439
@nicolas-raoul Can you confirm if your image has location coordinates in it?

Am adding a fix to prevent it from getting stuck.

[2019-02-12 06:07] nicolas-raoul commented on #2439
both had no lat/long

On Tue, Feb 12, 2019, 14:53 Vivek Maskara <notifications@github.com wrote:

[2019-02-12 06:48] maskaravivek commented on #2439
Okay. For images with no lat/lon we show a warning when it comes from nearby. Will fix this immediate issue where the app gets stuck.

Also, as of now even if the user proceeds to upload the image, the wikidata edit is omitted. Am not sure if it is intended to be like this way?

- Should I start making the wikidata edit if the user proceeds by clicking on Yes
- As an enhancement should we start ad

[2019-02-12 07:28] nicolas-raoul commented on #2439
I think the Wikidata edit should be made. Cameras often fail to get the
location even if the GPS is enabled.
I would not edit the EXIF, but submitting the lat/long in the Commons
metadata is an idea indeed.

On Tue, Feb 12, 2019 at 3:48 PM Vivek Maskara <notifications@github.com>
wrote:

[2019-02-12 07:38] vanshikaarora commented on #2425
That sounds like a great idea. I can work on this

[2019-02-12 09:05] vanshikaarora commented on #2291
Thanks @ashishkumar468 :) I have used the same function and modified the code. Here is the preview of the final PR
![ezgif com-video-to-gif 10](https://user-images.githubusercontent.com/34261945/52623820-401b0300-2ed3-11e9-9553-59a15e193935.gif)

[2019-02-12 09:07] misaochan commented on #2439
Hmm, I thought the original decision was to display the warning and omit the wikidata edit ONLY if the image has lat/lng coordinates that are far away from the wikidata item's coordinates, not for images with no lat/lng coordinates.

I agree that wikidata edits should be made for the latter, but not for the former. If we haven't yet separated the cases, we have to now.

Definitely don't edit the e

[2019-02-12 09:15] misaochan commented on #2430
Sent you the invite.

[2019-02-12 09:16] misaochan commented on #2425
Thanks @vanshikaarora ! I think we don't have a separate issue for that yet, would you mind creating the issue (and stating that you are going to work on it in your post)?

[2019-02-12 09:19] urbanecm commented on #2430
Thanks. Can you please delete https://github.com/commons-app/commonsmisc, so I can transfer my repository to this place? Thanks!

[2019-02-12 09:22] misaochan commented on #2430
Done!

[2019-02-12 09:29] urbanecm commented on #2430
Thanks, transferred the repository to the same place. If you want, you can revoke my rights now, as I don't need them.

[2019-02-12 09:44] maskaravivek commented on #2439
Thanks for the feedback. Will fix the issue and also check if we differentiate between these two cases or not.

[2019-02-12 10:17] misaochan commented on #2430
Thanks @urbanecm ! :) I'll remove the membership, but I'll send you a collaborator invite for the repo so you can make changes to it whenever you want.

[2019-02-12 11:06] maskaravivek commented on #2291
Awesome!

[2019-02-12 12:19] nicolas-raoul opened #2441 "Tap here to see the ongoing campaigns: Wrong wording"
Sounds misleading when it is already enabled.
![screenshot_20190212-211731](https://user-images.githubusercontent.com/99590/52634980-f26ebc80-2f0b-11e9-9e59-a0a73577a426.png)

[2019-02-12 12:38] misaochan commented on #2441
How about "See ongoing campaigns"?

Btw, "Display Nearby Notifications" has the same problem, so both can probably be fixed together. :)

[2019-02-12 12:44] nicolas-raoul commented on #2441
I find this clearer:
![screenshot_20190212-214203](https://user-images.githubusercontent.com/99590/52636217-55158780-2f0f-11e9-8ae8-70fecd150d62.png)

[2019-02-12 13:47] sp2710 commented on #2441
What about "Turn on to see the ongoing campaigns" ?

[2019-02-12 14:27] sp2710 commented on #2441
How about "Turn on to See ongoing campaigns"?

[2019-02-12 14:35] maskaravivek commented on #2410
@nicolas-raoul Is this duplicate of #2435

[2019-02-12 16:11] misaochan commented on #2171
Aaaannndd.... we're ready to go! 2.10 beta out today tentatively. :)

[2019-02-12 16:24] maskaravivek opened #2442 "Image quality warning dialog appears 2 times if you quick on next quickly"
**Summary:**

The warning dialog appears twice for an image that fails one of the checks

**Steps to reproduce:**

- select a place from nearby
- choose a picture to upload (say duplicate image/image with wrong geolocation)
- quickly click on next

You will see an error dialog but notice a flicker. On clicking Yes/No, you can still see the dialog. This is because the dialog appeared twice.

[2019-02-12 16:26] #2171 closed

[2019-02-12 16:58] #2430 closed

[2019-02-12 23:30] nicolas-raoul commented on #1971
I just uploaded a picture taken on January 28, and it displays January 29:
https://commons.m.wikimedia.org/wiki/File:Otafukuzaka%2C_Roppongi_5_chome.jpg

[2019-02-12 23:55] nicolas-raoul commented on #2439
_(still present in 2.10.0.214 obviously as the PR has not been merged yet)_

[2019-02-13 03:05] nicolas-raoul commented on #2410
This problem existed two weeks ago, while I noticed #2435 only 2 days ago, but maybe I just did not notice and it was already present.
Anyway I don't see any of the two now, so hopefully they are both solved :-) I will reopen if not.

[2019-02-13 03:05] #2410 closed

[2019-02-13 03:20] nicolas-raoul opened #2445 "Better icon for Achievements' "Images via Nearby Places""
This number rewards people who walk a lot to go take pictures where we tell them.
As such, I think the running icon would be more representative.

One the other hand, the pin icon is also representative, and it is immediately recognizable for people who are familiar with Nearby (which is most people whose score at this is more than zero).

![screenshot from 2019-02-13 12-15-04](https://user-images

[2019-02-13 03:27] nicolas-raoul opened #2446 "Night mode: Achievements"
white text difficult to read on silver background.
![screenshot_20190213-122205](https://user-images.githubusercontent.com/99590/52684748-9bf49300-2f8a-11e9-85ba-2b5e55a3d4ab.png)

[2019-02-13 05:55] maskaravivek commented on #1971
The problem is that we do not extract the date/time from EXIF so the summary is misleading.

<img width="1048" alt="screenshot 2019-02-13 at 11 09 34 am" src="https://user-images.githubusercontent.com/3069373/52689338-e0c6fc80-2f7f-11e9-9e2d-e7b2ead6ba72.png">

As Google Photos do not return EXIF information(i tried a few 3rd party EXIF viewer apps to cross-check this), we started using `ContentRe

[2019-02-13 06:30] ashishkumar468 commented on #1971
I am also aware of the issue of not getting upload dates from the EXIF when uploaded via google photos. IMO as @maskaravivek  suggested, we should try to extract EXIF date and fallback to ContentResolver if EXIF is not present and similarly update the the display text "according to EXIF", based on the source of extraction.

[2019-02-13 08:05] chris-fo commented on #2445
I would like to try t work on this, but as this would be my first contribution, it might take a while.

[2019-02-13 10:02] aniketnath commented on #2446
I have changed the background in light grey.
![screenshot_2019-02-13-15-27-55-489_fr free nrw commons beta 1](https://user-images.githubusercontent.com/25636078/52703534-8ee49d80-2fa4-11e9-97e3-13d9e08880e4.png)

[2019-02-13 10:04] misaochan commented on #2439
The PR has been merged, but it goes to 2.10-release (because we don't want other enhancements in master to be part of the hotfixes), so it won't be in alpha unfortunately. :/

[2019-02-13 10:25] misaochan commented on #2013
As per discussion with @ashishkumar468 and @maskaravivek , our current plans for fixing this in PG 2019: Revamp network layer, at the very least the login/getToken APIs need to be migrated to OkHttp

[2019-02-13 10:25] shabrikaruna commented on #2352
Can I fix this issue?

[2019-02-13 11:46] jainharsh96 commented on #2440
I I am working on this bug.

[2019-02-13 11:55] misaochan commented on #1971
Agreed with @ashishkumar468

[2019-02-13 12:03] maskaravivek commented on #1971
Okay, thanks for the feedback. Will make these changes. :)

[2019-02-13 12:04] chpravallika commented on #2003
Hey, I am going to fix this problem

[2019-02-13 13:43] chpravallika commented on #2003
Hey, I will not fix this problem

[2019-02-13 14:19] nicolas-raoul commented on #2445
@chris-fo good luck, please let us know about your progress once in a while 🙂

[2019-02-13 15:36] maskaravivek commented on #1993
I would like to pick this up.

[2019-02-13 15:38] #2291 closed

[2019-02-13 16:31] misaochan commented on #1092
Our current plans for this (see also #1863 ):

- Replace all usages of the deprecated org.mediawiki:api library with Retrofit (plus RxAndroid) for network calls, which will also remove our reliance on the outdated yuvi:http.fluent and org.apache.http.legacy libraries. User:DBrant_(WMF) has informed us that the Wikipedia app team are working on packaging their network code into a standalone library

[2019-02-13 18:08] chris-fo commented on #2445
Just a thought: we could maybe also change the icon to the one that marks the nearby places on the map and that is already in use:

![commons_nearby_marker](https://user-images.githubusercontent.com/47518265/52732703-222bcc00-2fc1-11e9-89bd-9b652ff82c01.PNG)

When using darkmode it would look something like this, but i could change the shadow color so it would be visible in dark mode as well:

![c

[2019-02-13 23:56] domdomegg commented on #2302
Can you provide some more clarity into what exactly you mean by this? Is there a particular set of fragments which are poorly optimized? If so, which ones and why?

[2019-02-14 02:08] nicolas-raoul commented on #2352
@shabrikaruna yes of course, thank you! The issue is now assigned to you :-)
Have you managed to reproduce the issue?

[2019-02-14 02:10] nicolas-raoul commented on #2440
@jainharsh96 Thanks!
have you managed to reproduce the problem?

[2019-02-14 02:12] nicolas-raoul commented on #1993
@maskaravivek Don't hesitate to use the "Assignees" button to assign issues to yourself :-)

[2019-02-14 02:17] nicolas-raoul commented on #2445
Yes, that looks great! :-)

[2019-02-14 02:34] nicolas-raoul opened #2447 "Erroneous string shown in tutorial"
![adb-screenshot](https://user-images.githubusercontent.com/99590/52758606-4a144180-304c-11e9-8ad6-de006a3fe264.png)
If this label has a purpose, it should be fixed.
If not, the label itself should be removed.
(screenshot above is in locale zh-hant)

[2019-02-14 02:49] nicolas-raoul opened #2448 "Seemingly redundant strings that must be translated"
I am asked to translate these 4 strings:
![screenshot from 2019-02-14 11-46-55](https://user-images.githubusercontent.com/99590/52759224-6ca75a00-304e-11e9-91e1-ed23ab64aedb.png)
It looks like the first string is not really necessary?
Same for the `Selfies or pictures of your friends` etc
Avoiding these duplications would be friendly to the translators.

[2019-02-14 03:47] maskaravivek commented on #1993
The code in contributions fragment and contribution list fragment is quite old and things have been patched on top of it. One of the focus areas of the next grant is to overhaul legacy code(#1092) and introduce a consistent code pattern across the app.

So, before starting working on this talk it would be great if we could finalize the architecture for the presentation layer. Let's continue the di

[2019-02-14 04:07] jainharsh96 commented on #2440
@nicolas-raoul  Yes
and I am working on it.

[2019-02-14 04:10] maskaravivek commented on #888
As part of #1092, we are looking to introduce a consistent pattern for our backend codebase. The same consistency should be followed for our presentation layer. There are several architectures out there and some of the most popular ones are MVP and MVVM. We already use MVP for our uploads flow and also for displaying campaigns(thanks to @ashishkumar468).

Am adding linkings to a few insightful blo

[2019-02-14 04:26] shabrikaruna commented on #2352
@nicolas-raoul the issue is fixed!

[2019-02-14 04:33] aniketnath opened #2449 "Crashed when uploading an image to server which is in read-only mode"
Whenever I am trying to upload an image from home page the app is getting crashed

[2019-02-14 04:33] jainharsh96 commented on #2440
Now there is another bug,
when  I upload image app gets crash without uploading the image.

[2019-02-14 04:40] aniketnath commented on #2442
Whenever I am trying to upload an image progress dialogue is coming only and the image is not getting uploaded

[2019-02-14 05:00] nicolas-raoul commented on #2352
@shabrikaruna What version of the app are you using? It is written in the About menu.

[2019-02-14 05:01] aniketnath commented on #2449
fixed this issue but the image is not getting uploaded due to "Contribution upload failed. Wikidata entity won't be edited"

[2019-02-14 05:03] aniketnath commented on #2447
For which language is it showing?

[2019-02-14 05:08] nicolas-raoul commented on #2447
zh-hant
Chinese traditional (Taiwan)

[2019-02-14 05:10] aniketnath commented on #2447
ok. thank you

[2019-02-14 05:12] maskaravivek commented on #2449
Can you add logs here

[2019-02-14 05:13] maskaravivek commented on #2442
Which version of the app are you using

[2019-02-14 05:16] aniketnath commented on #2442
beta version. cloned 2.9 released

[2019-02-14 05:20] aniketnath commented on #2449
Here is the log
`2019-02-14 10:47:24.146 11196-11235/fr.free.nrw.commons.beta D/CustomApiResult: API response for method uploadFile is
     <?xml version="1.0" encoding="UTF-8"?><api servedby="deployment-mediawiki-09"><error code="readonly" info="The wiki is currently in read-only mode." readonlyreason="The database has been automatically locked while the replica database servers catch up to the m

[2019-02-14 06:10] jainharsh96 commented on #2440
currently, an image is not uploading. because the database is set read-only

[2019-02-14 06:13] aniketnath commented on #2270
I have added alpha build flavour. Can I contribute it?

[2019-02-14 06:16] maskaravivek commented on #2270
This issue is still under discussion. Let us wait for others to comment and reach on a consensus before implementing it. :)

[2019-02-14 06:18] maskaravivek commented on #2449
@nicolas-raoul Do you have insights about what `readyonly` mode means? Is commons db under maintenance?

[2019-02-14 06:18] aniketnath commented on #2270
ok

[2019-02-14 06:18] maskaravivek commented on #2442
use 2.10-release

[2019-02-14 07:32] nicolas-raoul commented on #2440
This issue is reproducible even without any upload. Just try the 3 steps above :-)

[2019-02-14 07:34] nicolas-raoul commented on #2449
I guess Commons was down for maintenance.

On Thu, Feb 14, 2019 at 3:18 PM Vivek Maskara <notifications@github.com>
wrote:

[2019-02-14 07:59] aniketnath commented on #2449
I have fixed the crash can I contribute it?

[2019-02-14 08:08] aniketnath opened #2450 "One run time exception is throwing at the time of installing the app from android studio"
Whenever I am trying to install the app from android studio into my phone the app is throwing this error
"A failure occurred while executing com.android.build.gradle.internal.tasks.JacocoTaskDelegate$JacocoWorkerAction"
I am using android studio version 3.3.1

[2019-02-14 08:09] aniketnath commented on #2450
I am working on it

[2019-02-14 08:10] shabrikaruna commented on #2245
Hey, guys, I fixed this issue!

[2019-02-14 08:16] nicolas-raoul commented on #2449
@aniketnath Yes sure please send us a pull request :-)

[2019-02-14 08:23] shabrikaruna commented on #2352
Hi @nicolas-raoul I am using 2.10-debug

[2019-02-14 08:24] aniketnath commented on #2450
I have solved this issue can I contribute it?

[2019-02-14 08:31] aniketnath commented on #2449
ok

[2019-02-14 08:42] RajatChandel commented on #2448
translate to which languages?

[2019-02-14 08:42] aniketnath commented on #2446
solved this issue and I am giving my screenshot. can I contribute it?
![screenshot_2019-02-14-14-10-11-660_fr free nrw commons beta 1](https://user-images.githubusercontent.com/25636078/52774114-92d6f500-3062-11e9-84fb-78b3754d3b48.png)

[2019-02-14 08:45] nicolas-raoul commented on #2446
The colors in your previous screenshot were better actually :-)

[2019-02-14 08:56] aniketnath commented on #2446
ok

[2019-02-14 09:00] aniketnath commented on #2446
@nicolas-raoul changed it as previous one

[2019-02-14 09:18] aniketnath commented on #2449
I have made the pull request

[2019-02-14 09:36] misaochan commented on #888
There seems to be a bit of a duplicate here. I was intending for #1092 to be the main issue for this task, with #1863 for reference. Shall I close this issue and move your comment over to #1092 , @maskaravivek ?

[2019-02-14 10:26] maskaravivek commented on #888
Yes I agree #1092 should be the main issue but it might get messy to have all the discussion on that thread. I thought it would be easier to follow the discussion if we have separate issues for mediawiki apis(retrofit and okhttp), shared prefs, presentation layer, content providers etc.

[2019-02-14 11:23] maskaravivek opened #2458 "Wikidata query isn't returning updated edit count"
**Summary:**

On checking the recent changes on wiki-data it shows edits being made every day with tag `#Wikimedia Commons app`.

https://www.wikidata.org/w/index.php?hidebots=1&translations=filter&hidecategorization=1&tagfilter=wikimedia-commons-app&limit=500&days=30&hideWikibase=1&title=Special:RecentChanges&urlversion=2

But on checking the statistics in the DB, the count has not been changing

[2019-02-14 11:24] maskaravivek commented on #2458
cc @urbanecm As you are familiar with the DBs, do you have any insights about why this could be happening?

[2019-02-14 11:37] maskaravivek opened #2459 "Crash while uploading images"
**Summary:**

We have received a lot of crash reports for 2.10.0.

**System logs:**

[code]

**Commons app version:**

2.10.0

**Would you like to work on the issue?**

Yes

[2019-02-14 12:01] urbanecm commented on #2458
Replag (https://tools.wmflabs.org/replag/ shows wikidatawiki_p is delayed by 20941 secs, but that wouldn't explain no change in several months. Let me investigate.

[2019-02-14 12:09] urbanecm commented on #2458
I found it. There was apparently a schema change, and ct_tag is not populated anymore. You have to filter by ct_tag_id. For wikimedia-commons-app, the corresponding tag id is 155.

[2019-02-14 12:12] urbanecm commented on #2458
Fixed, but looks I lack permissions to close this issue. Please re-test and close :-).

[2019-02-14 12:28] maskaravivek commented on #2458
Thanks a lot, @urbanecm. :)

[2019-02-14 12:29] maskaravivek commented on #923
It looks like the older query no longer works. Here's the updated query for reference:

https://quarry.wmflabs.org/query/33398

[2019-02-14 12:30] maskaravivek commented on #2458
Thanks

[2019-02-14 12:30] #2458 closed

[2019-02-14 12:35] akash1994deep commented on #2441
"Tap here" can be removed and then it makes sense "See the ongoing campaigns" and for nearby notifications "See the nearest place that needs pictures".
Or the summary of the menu items can be dynamically changed depending on whether the toggle is on or off.

[2019-02-14 13:18] aniketnath commented on #2449
@nicolas-raoul I have made the pull request please check it out

[2019-02-14 13:22] VojtechDostal commented on #923
It doesn't? I just forked it and the query has been executed very quickly with some results:
https://quarry.wmflabs.org/query/33400

[2019-02-14 13:27] urbanecm commented on #923
It doesn't include all data. Compare with the query linked by @maskaravivek . Also see #2458 for reference.

[2019-02-14 13:40] Spartz1 opened #2461 "Floating add button turns into a spot in landscape mode"
**Summary:**
After launching the app go to nearby tab and rotate the orientation to landscape and go back to contributions tab, the add button turns into a blue color spot.

**Steps to reproduce:**

How can we reproduce the issue?
Expected: The floating add button should retain it's state
Showing: A blue color spot instead

[code]

[2019-02-14 14:15] HaricharanDharmaji opened #2462 "Nearby tab does not load the map"
**Summary:**

Nearby tab takes forever to load map. The progressbar keeps rotating. But the map is being loaded in some devices. Even the menu on the top right corner does not load anything but the progressbar keeps rotating.

**Steps to reproduce:**

1. Install and launch the app
2. Shift to Nearby tab on the home
3. Give location permission on request

**Device and Android version:**

Device: AS

[2019-02-14 19:00] maskaravivek commented on #2437
@ShridharGoel Any updates on this? We are hoping to include this fix in the next beta release.

[2019-02-15 02:21] nicolas-raoul commented on #2462
I think this is similar to #1309 ?
Let's exchange ideas over there :-)

[2019-02-15 02:21] #2462 closed

[2019-02-15 03:00] #2445 closed

[2019-02-15 04:24] thomas154 opened #2464 "Notification does not gets archived when swiped left"
**Summary:**

In notification activity when we try to archive the notification by swiping left and pressing tick, notification does not get archived, instead shows a error toast message.

**Steps to reproduce:**
- Go to notification activity
- Swipe left a notification and tap tick mark

you will see a toast saying "There was some error!"

**Commons app version:**
2.10.0-debug-master~b5a479ce

**W

[2019-02-15 04:24] HaricharanDharmaji commented on #1309
@nicolas-raoul The nearby tab loads data in this issue. In my issue #2462 the data never loads at all.

[2019-02-15 04:35] nicolas-raoul opened #2465 "Label overlaps number in Achievements"
Should wrap instead.

![screenshot_20190215-132907](https://user-images.githubusercontent.com/99590/52834663-42c16680-3126-11e9-9ae1-cf8463e253a7.png)

[2019-02-15 04:35] RajatChandel opened #2466 "Search activity launches twice if button pressed quickly"
Search activity launches twice if button pressed quickly

**Steps to reproduce:**

Open navigation drawer -> go to explore -> quickly tap on the search icon twice

I would like to fix this issue

[2019-02-15 04:40] shabrikaruna commented on #2465
i will fix this issue.

[2019-02-15 05:06] jainharsh96 commented on #2440
in Explore, an image is not loading.

[2019-02-15 05:45] misaochan opened #2468 "Hotfixes needed for 2.10.1"
- [x] #2439
- [x] #2459
- [x] #2437
- [x] #2476
- [x] #1971

[2019-02-15 06:06] maskaravivek commented on #1092
@dbrant This is one of the first tasks that we wish to pick up for IEG 2019 as our current network layer with `ApacheHttpClient` and XML based API is a source of bugs and is difficult to manage. Do you have an estimate about by when the library would be ready for first use? Also, it would be great if you could briefly outline the responsibilities of the library so that we can plan what things we n

[2019-02-15 06:47] nicolas-raoul opened #2471 "Is it really useful to localize this string? "Featured image author user name goes here""
It is in app/src/main/res/values/strings.xml and seems to be used in app/src/main/res/layout/fragment_media_detail.xml but I don't remember seeing it anywhere in the app.

1. Is it useful?
2. Does it apply only to featured images, and not for instance to images from search?

[2019-02-15 06:53] aniketnath commented on #2459
I have solved the issue

[2019-02-15 06:57] nicolas-raoul commented on #1309
@HaricharanDharmaji There is a server-side timeout (I believe it is 30 seconds or one minute) which is probably why Nearby just loads nothing sometimes.

Would you mind watching the output of `adb logcat` when loading Nearby? You might spot things that might help the project progress. Thanks! :-)

[2019-02-15 06:57] jainharsh96 commented on #2440
I resolved this issue #2440.
Now bookmarked images are loading in this activity.
![image](https://user-images.githubusercontent.com/45347251/52839694-063d3d00-311d-11e9-9d46-7990367c8f81.png)

[2019-02-15 07:03] aniketnath commented on #2449
please check the pull request for this issue

[2019-02-15 07:06] nicolas-raoul commented on #2440
@jainharsh96 Cool, please commit and push to your repo, then send us a pull request :-)

[2019-02-15 10:55] #2459 closed

[2019-02-15 10:59] aniketnath commented on #2449
should I close this issue?

[2019-02-15 11:00] #2449 closed

[2019-02-15 11:01] #2450 closed

[2019-02-15 11:28] Anil-Praharaj21 commented on #2020
I am working

[2019-02-15 11:51] maskaravivek commented on #2437
@ShridharGoel Am taking this up as this fix is one of the hotfixes required for next beta release.

[2019-02-15 12:03] maskaravivek commented on #2020
@Anil-Praharaj21 can you share your approach here? :) @nicolas-raoul suggested 4 ways to implement the feature and it would be great if we could first reach a consensus on which method we should go with.

[2019-02-15 12:14] Anil-Praharaj21 commented on #2020
I am thinking to save it in the database or we can go for Bookmarked it

[2019-02-15 12:21] maskaravivek commented on #2446
I have reverted the fix as it changes the background for light mode as well. Apologies for not noticing it while testing. :/

@aniketnath Let us know if you need any help keeping different backgrounds for light and dark themes. :)

[2019-02-15 12:24] maskaravivek opened #2476 "Crash due to contribution dao in 2.10"
**Summary:**

We have received a couple of crash reports pointing to some issue with the `ContributionDao`.
**Steps to reproduce:**

How can we reproduce the issue?

Upgrading the app from previous release versions might help in reproducing the issue.

**System logs:**

[code]

[2019-02-15 12:37] nicolas-raoul opened #2477 "Sometimes bookmarked item appears in blue instead of red"
Sometimes a bookmarked item appears in blue, instead of red.
Most other items on the same map appear correctly, bookmarked or not.
![adb-screenshot](https://user-images.githubusercontent.com/99590/52857068-6b1e8480-3169-11e9-8386-daf99202b992.png)

[2019-02-15 15:22] dbrant commented on #1092
The work of splitting off our networking layer into a standalone library is now in progress, and should be done in a couple of weeks.  https://phabricator.wikimedia.org/T215949

[2019-02-15 16:05] misaochan commented on #1092
Wonderful news @dbrant ! :)

[2019-02-15 19:17] thomas154 commented on #2416
I would like to work on this.

[2019-02-15 20:10] ujjwalagrawal17 commented on #1640
Umm, This option isn't implemented in #1716

[2019-02-15 23:43] prajurock commented on #2416
Ok @thomas154 .You can work.

[2019-02-16 01:41] prajurock commented on #2416
@thomas154 You can proceed.

[2019-02-16 01:50] domdomegg commented on #1640
Yep you're correct, my bad. I think I initially thought it had because of the `voiceSearchMode` attribute (see https://github.com/commons-app/apps-android-commons/pull/1716/files#diff-aa7791505fe0795bce32c5176a32c707R42), but it doesn't seem to actually work yet.

[2019-02-16 04:49] zhao-gang commented on #2442
@mashawan Hi. I found the reason is that method ImageProcessingService.validateImage gets called twice and the results interfered. I am working on a solution so please assign this issue to me :-)

[2019-02-16 13:31] maskaravivek commented on #2468
@misaochan Is #1971 also required for 2.10.1?

[2019-02-16 13:38] maskaravivek commented on #1971
If we have a fallback based on which we modify the display text then we need to introduce a `timestampSource` parameter in `Contribution`. That would require a schema update.

[2019-02-16 19:38] mumtazcem commented on #2239
hello, I am working on it

[2019-02-17 02:44] madhurgupta10 commented on #2477
@nicolas-raoul I would love to fix this issue, also sometimes the bookmark icon does not change (see gif). We can fix it in this issue or we can create a separate one.
*Plus I think the title of this issue is incorrect* 😛
![ezgif-1-238c0c6629a0](https://user-images.githubusercontent.com/30932899/52907674-0c056080-328c-11e9-9ec2-2419bb13c0bc.gif)

[2019-02-17 03:23] zhao-gang opened #2480 "Fix NullPointerException when uploading file failed"
**Summary:**

The related PR fixes a NullPointerException when uploading file failed.

**Steps to reproduce:**

When uploading a file failed due to server is in readonly mode, the response does not contain property dateUploaded and this causes class UploadResult.toString() throws NullPointerException.

**System logs:**

[code]

**Device and Android version:**

Unrelated

**Commons app version:**

[2019-02-17 03:42] zhao-gang commented on #2480
Oh. I just found it's already fixed in 2.10 branch. But not in master yet. So I'd better Close this issue.

[2019-02-17 03:42] #2480 closed

[2019-02-17 06:33] maskaravivek commented on #2239
As of now showing directions/routes in the app is still debated in #2424.

It might be better to show a directions icon clicking on which fires a map intent with the route. Also, I sometimes feel that we should have more CTA options in the card itself. Maybe the same set of options which are shown on tapping a nearby item in the list.

[2019-02-17 14:03] VojtechDostal commented on #2439
Yesterday I was able to upload two pictures from Nearby by taking a picture with the app's camera icon. However, using the same Nearby window but instead selecting a pre-made file from gallery produced the same bug that Nicolas has reported above. Not sure if this is the same problem but could be related.

[2019-02-17 14:42] maskaravivek commented on #2439
This issue is currently happening for any nearby upload without geolocation. It is possible that the picture you selected from the gallery didn't have any geolocation information. Anyways the fix has already been made and would be available in beta soon. :)

[2019-02-18 01:59] nicolas-raoul commented on #2447
What is the value of the English string, by the way?

[2019-02-18 02:00] nicolas-raoul commented on #2477
@madhurgupta10 Nice find! The issue is yours :-)

[2019-02-18 02:31] nicolas-raoul commented on #2239
@maskaravivek While directions are debated, I don't think the present enhancement is controversial?
![adb-screenshot](https://user-images.githubusercontent.com/99590/52924598-c40c3980-3370-11e9-8b03-66feb59c405c.png)

[2019-02-18 04:40] zhao-gang commented on #2447
I have updated the translation in [translate wiki](https://translatewiki.net/w/i.php?title=Special:Translate&showMessage=commons-android-strings-welcome_help_button_text&group=commons-android-strings&language=zh-hant&filter=&optional=1&action=translate).

@aniketnath You should see https://github.com/commons-app/apps-android-commons/wiki/Translating-the-app to learn how to update the translations

[2019-02-18 08:11] nicolas-raoul commented on #2447
Thanks @zhao-gang! Apparently app/src/main/res/values-qq/strings.xml contains the same problem, would you mind checking?

[2019-02-18 08:12] nicolas-raoul commented on #2447
[code]

[2019-02-18 08:18] madhurgupta10 commented on #2447
@nicolas-raoul Can I fix that as well? I think the strings were not updated when the [#1333](https://github.com/commons-app/apps-android-commons/issues/1333) was closed

[2019-02-18 08:19] nicolas-raoul commented on #2447
@madhurgupta10 Yes please fix them on translatewiki as explained by Zhao, thanks! :-)

[2019-02-18 08:32] misaochan commented on #2439
Fix in 2.10.1, coming out very soon. :)

[2019-02-18 08:47] misaochan commented on #1971
Hmm, I just re-read the issue, and it seems we have 2 problems:

1. The Google Photos EXIF issue. IME, EXIF has always been a problem with Google Photos, i.e. this is not a bug that was introduced by our recent changes. In that case, it is not crucial to have the fix in 2.10.1 (good to have, but we shouldn't hold up the release)
2. @nicolas-raoul 's issue. He says he has never used Google Photos,

[2019-02-18 09:03] misaochan commented on #2468
Responded on the issue.

[2019-02-18 09:07] misaochan commented on #923
Thanks guys! To clarify, https://quarry.wmflabs.org/query/33398 is the appropriate query for the new schema, right?

[2019-02-18 09:09] urbanecm commented on #923
Yes

[2019-02-18 09:12] nicolas-raoul commented on #1971
I am at work so I can not research in detail, but checking my last few uploads, it seems like the dates look OK? https://commons.wikimedia.org/w/index.php?title=Special:ListFiles/Syced&ilshowall=1 Maybe it depends on the time of day?

I am using a Nexus 5, which does not have an external SD card, and recently I am mostly uploading pictures from a directory called `/storage/emulated/0/nico/from-pc`

[2019-02-18 09:20] madhurgupta10 commented on #2447
@nicolas-raoul

Fixed [app/src/main/res/values-zh-rTW/strings.xml:  <string name="nominated_see_more">](https://translatewiki.net/w/i.php?title=Special:Translate&showMessage=commons-android-strings-nominated_see_more&group=commons-android-strings&language=zh-hant&filter=&optional=1&action=translate)

Fixed [app/src/main/res/values-qq/strings.xml:  <string name="welcome_help_button_text">](https://

[2019-02-18 09:31] nicolas-raoul commented on #2447
Thanks @zhao-gang and @madhurgupta10 for fixing this! :-)

[2019-02-18 09:31] #2447 closed

[2019-02-18 15:35] maskaravivek commented on #1971
If the date is extracted from a source other than EXIF I will use this template for displaying the date:

[code]
This will appear as:

<img width="566" alt="screen shot 2019-02-18 at 9 04 35 pm" src="https://user-images.githubusercontent.com/3069373/52961386-d57d3200-33c0-11e9-8945-edfc153909f4.png">

If it comes from EXIF I will use continue using the existing template.

[code]

This will keep ap

[2019-02-18 16:32] misaochan commented on #1971
@maskaravivek Sounds good.

[2019-02-18 16:38] VojtechDostal commented on #2429
The database output often lags behind the edits by several minutes or even an hour. We cannot speed it up so we'd either have to remove the pin "artificially" from the app or entirely change the way pins are loaded.

[2019-02-19 00:06] nicolas-raoul commented on #2429
@VojtechDostal In my experience, simply killing the app and relaunching it makes the pin disappear, though. I will have to try a few times more, in a quick way :-) Having a filter of recently added pins sounds like a very feasible solution, it does not even have to be stored in database I guess.

[2019-02-19 04:01] zhao-gang commented on #2448
@nicolas-raoul The first string is actually not used in the code. I removed this and similar two in the strings.xml. I think removing them is enough to let them not occur in translate wiki ?

[2019-02-19 04:04] nicolas-raoul commented on #2448
Yes, I believe translatewiki will notice that the strings are not needed anymore, and remove them from translations.

[2019-02-19 04:05] zhao-gang commented on #2448
@RajatChandel Hello. You should see https://github.com/commons-app/apps-android-commons/wiki/Translating-the-app to learn how to update the translations of this app. Also, you should not include other people's commits in your PR :-)

[2019-02-19 04:31] zhao-gang commented on #2471
<img width="239" alt="screen shot 2019-02-19 at 12 28 03" src="https://user-images.githubusercontent.com/692944/52990163-defaae80-3441-11e9-8165-8be36840e802.png">

The string is the placeholder for media detail page. I think we'd just need to change it to "Media author user name goes here" ?

[2019-02-19 07:54] nicolas-raoul commented on #2471
Yes, that would be better.

Are users supposed to see these strings?
If it is only used when debugging or when developing the UI, then these strings might not need localizations and thus might better be hard-coded.
If someone familiar with the topic sees this, please don't hesitate to explain to us :-)

[2019-02-19 08:36] misaochan opened #2486 "NPE at UploadResult.toString (v2.10.0)"
USER_COMMENT=Stavo caricando un'immagine (translation: "I was uploading an image")
ANDROID_VERSION=8.1.0
APP_VERSION_NAME=2.10.0
BRAND=samsung
PHONE_MODEL=SM-J710F
CUSTOM_DATA=
STACK_TRACE=java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.String java.util.Date.toString()' on a null object reference
at fr.free.nrw.commons.mwapi.UploadResult.toString(UploadResult.java:42)
a

[2019-02-19 08:37] misaochan opened #2487 "SQLiteException: no such column: wikidataEntityID (v2.10.0)"
Got quite a few of these crashes:

ANDROID_VERSION=7.1.2
APP_VERSION_NAME=2.10.0
BRAND=vivo
PHONE_MODEL=vivo 1716
CUSTOM_DATA=
[code]

[2019-02-19 08:41] maskaravivek commented on #2486
This is already fixed. #2480

[2019-02-19 08:41] #2486 closed

[2019-02-19 08:54] misaochan commented on #2487
Whoops, duplicate of #2476

[2019-02-19 08:54] #2487 closed

[2019-02-19 09:58] zhao-gang commented on #2471
As in my above edited post says, users can see these strings when the media detail data is being fetched from the server. AFAIK these strings are used as a placeholder when the data has not been fetched from the server. So I think to some extend it's useful to translate these strings.

[2019-02-19 10:04] madhurgupta10 opened #2489 "Click event not showing button layout without scrolling for last item in the list"
**Summary:**
Click event not working for last item in the list

**Steps to reproduce:**
Launch the Nearby Option List and tap on last item.
![ezgif-2-1b35368e7582](https://user-images.githubusercontent.com/30932899/53006637-964fef00-345b-11e9-92c6-3e94ea5f2129.gif)

**Device and Android version:**

Tested on Xiaomi Mi A1 running Android 9 Pie with Stock Android

**Commons app version:**
betaDebug

[2019-02-20 01:33] nicolas-raoul commented on #2471
If users can see them while details are believed fetched from the server, then I would argue that a generic "Loading..." label would be more informative and much simpler to translate to dozens of languages.

[2019-02-20 01:35] nicolas-raoul commented on #2489
I can reproduce, good find! :-)

[2019-02-20 05:31] maskaravivek commented on #923
@urbanecm Is this hosted somewhere?

[2019-02-20 06:41] nicolas-raoul commented on #923
Everyday I patrol the recent Wikidata edits, and indeed having this page with thumbnails would be so much better than the [Recent Changes page](https://www.wikidata.org/w/index.php?hidebots=1&translations=filter&hidecategorization=1&tagfilter=wikimedia-commons-app&limit=500&days=30&hideWikibase=1&title=Special:RecentChanges&urlversion=2) :-)

I know I am asking for a lot, but showing a button "Mar

[2019-02-20 10:26] misaochan commented on #2489
Thanks @madhurgupta10 , it is yours. :)

[2019-02-20 12:17] maskaravivek commented on #1971
@nicolas-raoul It would be great if you can confirm if this is fixed for you. It should be available in the latest alpha. :)

[2019-02-20 12:22] misaochan commented on #2471
Wow, I hadn't noticed these (especially the media details placeholder, lol!!). I agree that "Loading..."(or even just leaving them blank) would be preferable.

[2019-02-20 14:43] madhurgupta10 commented on #2489
@nicolas-raoul @misaochan I changed the issue title because the click event was working fine but the user needs to scroll manually to see the layout, also fixed it in PR #2491.

[2019-02-20 14:46] #2466 closed

[2019-02-20 15:06] nicolas-raoul commented on #1971
I just uploaded one picture and it looks OK: https://commons.wikimedia.org/wiki/File:Artists_workshop_closed_down,_in_Imoaraizaka_%E8%8A%8B%E6%B4%97%E5%9D%82.jpg
Thanks! :-)

[2019-02-20 15:11] zhao-gang commented on #2471
If we use "Loading...", should we change the placeholder when fetching data failed or network is unavailable. I think placeholders in media detail fragment really have little meaning to the user. I prefer to leave these fields blank.

[2019-02-20 15:14] maskaravivek opened #2493 "Release APKs for previous builds"
**Summary:**

It would be great if we could maintain release APKs for any beta/prod release that we make. Right now, if I need to do an upgrade testing from say v2.8.0, I will have to check out that branch and build it locally to install it. It would be nice to maintain these APKs under Github releases.

https://github.com/commons-app/apps-android-commons/releases

[2019-02-20 15:18] nicolas-raoul commented on #2493
So, you mean, automatically? :-)

[2019-02-20 15:20] nicolas-raoul commented on #2471
OK for blank! @zhao-gang feel free to implement the changes if you want :-)

[2019-02-20 15:28] maskaravivek commented on #2493
Yes, Travis can be set up to do this automatically.

https://docs.travis-ci.com/user/deployment/releases

I also found a nice little tutorial explaining the steps:

http://szagurskii.com/blog/how-to-deploy-apk-to-github-releases-with-travis-ci/

[2019-02-20 15:29] VojtechDostal commented on #923
BTW, anyone has any ideas why [this ](https://www.wikidata.org/w/index.php?title=Q55596579&type=revision&diff=859582302&oldid=712147156)edit isn't shown in the recent changes linked by Nicolas?

[2019-02-20 15:31] zhao-gang commented on #2471
@nicolas-raoul Ok. You can assign this issue to me so other people won't dig into this issue :-)

[2019-02-20 15:44] madhurgupta10 opened #2494 "Collection of device's essential information when user want to share feedback"
**Summary:**
When a user wants to share some feedback, the current scenario does not include the device name, model number, network type, etc.
Automatically adding this to the email template would help the team to address the feedback precisely.
![screenshot_20190220-211244](https://user-images.githubusercontent.com/30932899/53103862-5ae51b80-3554-11e9-8370-839eda816dfa.png)

**Steps to reproduce:

[2019-02-20 17:11] maskaravivek opened #2496 "Cache contribution images"
**Summary:**

It seems the images displayed in the contribution list isn't getting cached properly.

**Steps to reproduce:**

- Load contribution list
- Kill the app
- Switch off the internet
- Open the app again

**Commons app version:**

latest master.

**Screen-shots:**

![device-2019-02-20-224044](https://user-images.githubusercontent.com/3069373/53110254-971e7900-3560-11e9-8a60-6314adac8219.p

[2019-02-20 19:51] amire80 opened #2498 ""uploaded by myself", "used by", and several other lego messages"
**Summary:**

I've been reviewing the translatable strings for the Commons app, and I noticed that several of them are what we call "lego messages" in the Wikimedia jargon: strings that are translated separately and concatenated with each other and with other parameters in run time.

Lego messages are a localization antipattern in any software project. They don't take into account that different l

[2019-02-20 20:08] maskaravivek commented on #622
It seems that this was fixed long back. Now every PR shows code coverage. :)

[2019-02-20 20:08] #622 closed

[2019-02-20 20:12] maskaravivek commented on #1658
It seems that this works now. For eg Codacy check completed for https://github.com/commons-app/apps-android-commons/pull/2488

[2019-02-20 20:12] #1658 closed

[2019-02-20 20:21] FelixEder commented on #1334
@Ksaboor Are you still working on this issue? Otherwise I would love to work on it :)

[2019-02-20 20:25] #2369 closed

[2019-02-20 20:27] FelixEder commented on #395
@maskaravivek Is this issue being worked on at the moment? If not, could I work on it?

[2019-02-20 20:29] maskaravivek commented on #395
@FelixEder You can take this up. Just pick any fragment/activity that isn't using butterknife and replace it with butterknife. :)

[2019-02-21 07:43] madhurgupta10 commented on #2494
@nicolas-raoul Should I keep the support information same for all languages?

[2019-02-21 07:51] nicolas-raoul commented on #2494
@madhurgupta10 Localization would be a good thing, I would say.

[2019-02-21 07:53] madhurgupta10 commented on #2494
@nicolas-raoul Cool, well in that case shall I just create strings in res file for English and translate would take care of the rest, right?

[2019-02-21 08:17] nicolas-raoul commented on #2494
Yes, that's it :-)

On Thu, Feb 21, 2019 at 4:53 PM Madhur Gupta <notifications@github.com>
wrote:

[2019-02-21 08:37] misaochan commented on #923
Would it be possible that the schema changes affected the Recent Changes filter as well? Just a wild guess...

I agree, would be awesome if we could access this page. :)

[2019-02-21 08:41] misaochan commented on #2493
Sounds good. AFAIK this would need to be set up by the person who deploys releases, right? I'll try to set that up when I have time. :)

[2019-02-21 09:06] FelixEder commented on #395
@maskaravivek I have started work on this. Could you assign me to this issue?

[2019-02-21 09:10] madhurgupta10 commented on #2494
@nicolas-raoul Done, shall I add anything else?
![screenshot_20190221-143825](https://user-images.githubusercontent.com/30932899/53156965-89133b80-35e6-11e9-9bb3-0607567bc04a.png)

[2019-02-21 09:16] nicolas-raoul commented on #2494
Is that how it will appear to English-language users?
If yes, why not the friendlier "API level" instead of "API_LEVEL"? Same for
the others.

Also, since "App version" is in the body, we can remove it from the email
title :-)

Thanks!

On Thu, Feb 21, 2019 at 6:10 PM Madhur Gupta <notifications@github.com>
wrote:

[2019-02-21 09:17] madhurgupta10 commented on #2494
@nicolas-raoul  Sure, I will make the changes

[2019-02-21 09:32] chris-fo commented on #2498
Can I try to work on this?

[2019-02-21 09:46] madhurgupta10 commented on #2494
@nicolas-raoul I think keeping the app version in the title would be better than the body, but I can do it, either way, let me know :)

[2019-02-21 09:49] nicolas-raoul commented on #2498
@chris-fo Yes, it is yours! :-)

[2019-02-21 09:49] nicolas-raoul commented on #2494
I let you choose what you think is best :-)

[2019-02-21 09:55] madhurgupta10 commented on #2494
@nicolas-raoul PR is ready :)

[2019-02-21 11:16] madhurgupta10 opened #2502 "Swipe to delete specific recent searches"
**Summary:**
Adding Swipe Gesture to Delete Recent searches will make the app more user-friendly.

**Steps to reproduce:**
Hamburger Menu < Explore < Click on Search Button

**Screen-shots:**
![screenshot_20190221-164327](https://user-images.githubusercontent.com/30932899/53165231-2e82db00-35f8-11e9-81e9-5fa9d83ecb9e.png)

**Would you like to work on the issue?**
Yes, I want to work on this issue

[2019-02-21 15:05] ShridharGoel commented on #2437
Sorry, couldn't work on this due to exams.

[2019-02-21 15:22] maskaravivek commented on #2437
No issues @ShridharGoel :)

[2019-02-21 15:41] maskaravivek opened #2503 "Make beta release supersede alpha when required"
**Summary:**

Whenever we are making a beta release, we can make it supersede alpha release by making the version code higher than the last alpha release.

Suppose last alpha release had the version code 306 and now we want to make a beta release. So to make beta release supersede alpha we can release it with version code >=307.

[2019-02-21 16:06] Ksaboor commented on #1334
@FelixEder I'm finished working with it. It's all yours to complete.

[2019-02-21 16:16] FelixEder commented on #1334
@Ksaboor Currently working on issue #395. If I have more time afterwards I'll try to work on this :)

[2019-02-21 16:35] #2503 closed

[2019-02-21 19:44] #2437 closed

[2019-02-22 05:43] #2471 closed

[2019-02-22 06:20] maskaravivek commented on #2494
@nicolas-raoul will localising these strings be useful? Most of the people who are part of the commons and commons private Google groups understand English whereas if these meta deta come in any of the ~50-100 supported languages then it might be difficult to interpret.

As these strings would be seen by one who is reading the feedback/logs IMO it would be better not lo localise it.

My understand

[2019-02-22 06:33] nicolas-raoul commented on #2494
From the perspective of a non-technical non-English-language person who wants to send feedback about the app, it might be scary to have obscure codes and words in a language you do not understand added to your feedback.

For us English-speaking developers the content sounds obvious, but imagine you want to send feedback about something and this text gets attached to your email:
[code]
Would you pr

[2019-02-22 06:39] madhurgupta10 commented on #2494
@nicolas-raoul I agree this will be scary, as the person doesn't know what information is attached to the email. What if we replace `--Support-Info--` with something that explains the information attached below like `Down below we have added some information which will help developers to help you better, you don't need to change anything below`

[2019-02-22 06:47] nicolas-raoul commented on #2494
@madhurgupta10 I think `Technical information` would be clear enough :-)

[2019-02-22 06:48] madhurgupta10 commented on #2494
@nicolas-raoul @maskaravivek  Okay 👍 I will make the changes, thanks for the discussion :)

[2019-02-22 08:26] zhao-gang commented on #2335
@nicolas-raoul Hi. I think this may be because wikimedia tiles are not correctly loaded into nearby map. You can see the nearby map with wikimedia tiles in above PR.

[2019-02-22 09:17] nicolas-raoul commented on #2335
Here is how the Google Maps website shows London to a French-language user:
![screenshot from 2019-02-22 18-14-24](https://user-images.githubusercontent.com/99590/53232167-e2a26580-36cd-11e9-8163-a0ddc19851ae.png)
As you can see, a lot of labels (at least the major ones) are in French, even if this is an English city.

[2019-02-22 09:26] zhao-gang commented on #2335
@nicolas-raoul I found that Mapbox android sdk has a localization plugin https://github.com/mapbox/mapbox-plugins-android/tree/master/plugin-localization. I will see if it can help with the localization problem you mentioned.

[2019-02-22 12:46] whym opened #2506 "Speed up the search process for available file names in findUniqueFilename"
If the user-chosen file name is occupied by an existing file, the app sequentially tries to find an available file name by trying suffixes _1, _2, etc. When there are hundreds of these numbered files, it will be unbearably slow. It already does for Test.jpg on the Beta Commons. I believe the same thing happens when the user uploads a lot of files under the same name.

**Proposed solution:**

Chang

[2019-02-22 12:49] madhurgupta10 commented on #2506
@whym I would like to solve this issue

[2019-02-22 13:12] whym commented on #2506
@madhurgupta10 thanks, that would be great! One thing I forgot to mention - currently the [Beta Commons](https://commons.wikimedia.beta.wmflabs.org/) is read-only for maintenance and it might be a bit difficult to reproduce the slowness.

[2019-02-22 13:28] nicolas-raoul commented on #2506
@whym The "binary search" I know is https://en.wikipedia.org/wiki/Binary_search_algorithm , is that what you mean? Or is it a different Mediawiki API URL?

[2019-02-22 14:00] whym commented on #2506
@nicolas-raoul yes, I was thinking about the for-loop or recursive version of the algorithm. I don't think MediaWiki provides such a search function.

[2019-02-22 14:09] zhao-gang commented on #2335
After I added the localization plugin, it seems that with mapbox Style.OUTDOORS style, the labels will change with system language settings; but with custom style with wikipedia tiles, the labels are the places' language(say, London with English, Paris with French), without regarding to the system language settings. One advantage of the custom wikipedia style is that it has more places than mapbox

[2019-02-22 14:32] #2448 closed

[2019-02-22 14:36] VojtechDostal opened #2507 "Nearby map window gets deformed when switching from map tab to contributions and then back"
steps to reproduce:

1) load Nearby map
2) switch to Contributions tab.
3) switch back to Nearby map

I am using 2.10.0

[2019-02-22 14:39] VojtechDostal commented on #2507
![screenshot_20190222-153859](https://user-images.githubusercontent.com/21329813/53249309-12df0980-36b8-11e9-8353-21dcd3e35246.jpg)

[2019-02-22 14:45] nicolas-raoul commented on #2506
A binary search is usually performed on a finite number of elements, but here there is a quasi-infinite number of elements. We could restrict the binary search to only 1000 elements, but images Test_1.jpg to Test_1000.jpg might all exist already.

How about just using something random like a UUID (or maybe a bit shorter)? As Commons switches to using captions, having pretty filenames is becoming a

[2019-02-22 16:34] misaochan commented on #2507
Interesting. I am not able to reproduce this on 2.10.1.

Could you update to 2.10.1 (it should be out in beta by now) and see if it happens again? If it does, please send us your logs (via Settings > Send Logs).

[2019-02-22 16:37] misaochan commented on #2502
Hmmm. What would be the benefit of adding the swipe feature over the existing bin icon?

[2019-02-22 17:30] misaochan commented on #2506
Well spotted! Pinging @maskaravivek for input as he implemented the most recent version of our upload backend.

[2019-02-22 17:47] VojtechDostal commented on #2507
Yep it still happens after I updated.I sent you logs :)

[2019-02-23 01:00] whym commented on #2506
You are right, a simple binary search cannot be used. Perhaps we can use the 2^n sequence instead - 1, 2, 4, 8 instead of 1, 2, 3, 4? To make sure no gap is created because of this, you would have to go backward to find the least available position, though. (So if Test_1.jpg - Test_10.jpg exist and you find Test_16.jpg to be available after failing _1, _2, _4, _8, you will have to go backward to f

[2019-02-23 06:27] madhurgupta10 commented on #2502
@misaochan When using the app with Left hand, it is difficult for the user to reach the bin button, a swipe gesture where the user can swipe from left to right will be helpful.
Also, I don't want to remove the bin icon, but having both options will be great.

[2019-02-23 10:16] neslihanturan commented on #2507
Hi @VojtechDostal , is it something like you see a black rectangle on bottom of screen or does the height of map become smaller?

Can you also please share a normal screen to compare them with deformed screen?

[2019-02-23 10:49] misaochan commented on #888
Sorry for the delay in response, @maskaravivek . I just went through the articles on MVP and it looks good to me - I especially like that it benefits testability and reusability. :)

I would be on board with using this architecture for our backend overhaul. If anyone disagrees or would like to propose a different one, now is the time to speak! ;) The official announcements for approved grants will

[2019-02-23 13:00] VojtechDostal commented on #2507
It seems like the dimensions of the map get screwed.
![screenshot_20190223-135631](https://user-images.githubusercontent.com/21329813/53286746-47fc6200-3773-11e9-9396-f46d0e51dfce.jpg)
![screenshot_20190223-135640](https://user-images.githubusercontent.com/21329813/53286749-4df24300-3773-11e9-861e-3bec8d194c24.jpg)

[2019-02-23 15:05] madhurgupta10 commented on #2506
@whym shall I start implementing the Binary Search technique you mentioned under the previous comment?

[2019-02-23 15:20] madhurgupta10 opened #2508 "Popup to get more user rating on app store"
**Summary:**
The app on The App Store needs more ratings and reviews, we can add a little popup displayed before the user closes the app which will ask the user if he/she wants to rate the app on app store. If user agrees then he/she will be redirected to The App Store or else user can opt for **DO NOT SHOW THIS AGAIN** option

**Screen-shots:**
**_Example_**
![](http://ghostcode.in/wp-content/upl

[2019-02-23 15:38] maskaravivek commented on #2508
We might want to wait and be sure that all our issues around upload failures are fixed before we start prompting for ratings. Otherwise, we might attract more negative reviews than positive ones. :D

[2019-02-23 15:41] madhurgupta10 commented on #2508
@maskaravivek Sure! I will be happy to add this feature as soon as issues around upload failures are fixed, can we keep the issue open?

[2019-02-23 16:18] maskaravivek commented on #2508
Yes, let us keep the issue open.

[2019-02-23 17:27] madhurgupta10 opened #2509 "Count on Contributions does not update on deletion"
**Summary:**
If we delete a photo, the number of contributions do not change until the app is restarted.
#2377 & #2324 are similar but does not mention this specific case.
![ezgif-5-5827a67ba2ac](https://user-images.githubusercontent.com/30932899/53289424-db598580-37bb-11e9-95ae-95c749738cd5.gif)

**Steps to reproduce:**
Delete the file which is not uploaded and you will see the count of contribut

[2019-02-23 19:18] maskaravivek commented on #2509
The contribution gets counted only after a upload is successful

[2019-02-23 19:29] albendz commented on #2324
@ShridharGoel Are you currently working on this?

[2019-02-23 19:32] albendz commented on #2507
Just a thought: sometimes I see this on other apps when automatic screen rotation is enabled or if the screen was in a different view when the app started.

[2019-02-23 19:41] albendz commented on #2506
For this scenario where the first part of the string is the same among multiple search results, a Trie is one of the common structure used (https://en.wikipedia.org/wiki/Trie). I don't think our storage is in the right format for this but if we are loading values into the app we can consider using this structure. This could be too complex for the amount of improvement we're looking for. Another op

[2019-02-23 19:51] albendz commented on #2502
Just to clarify, should this be for swipe in any direction?

An alternative is to have swipe right to be delete and swipe left to search again. I'm in favor of delete in any direction but if we are adding swipe gestures at all it would be good to consider how they are used in other apps.

[2019-02-24 02:51] whym commented on #2506
@madhurgupta10: It seems like this might be harder than I first imagined, sorry about that. The end result might be simple enough, but there are a couple of approaches and I don't know which one is the best at the moment. I'd wait for a while to see what people think.

@albendz brought up a good point. Not exactly trie, it looks like we can combine search operators to find what we want: [e.g. `Par

[2019-02-24 04:27] ShridharGoel commented on #2324
No

[2019-02-24 06:42] madhurgupta10 commented on #2509
@maskaravivek in my case the contribution do get updated even if the upload fails and do not updates when uploaded file is removed.

[2019-02-24 06:43] madhurgupta10 commented on #2324
@albendz can I start working on it?

[2019-02-24 06:57] maskaravivek commented on #2509
not updating as this upload was never counted

again the file was still not fully uploaded to server. so canceling an upload won't affect the count.

[2019-02-24 07:15] madhurgupta10 commented on #2509
@maskaravivek got it, thanks for the clarification. Should I close this issue?

[2019-02-24 07:17] madhurgupta10 commented on #2502
@albendz yes we can have different swipe gesture for different task

[2019-02-24 11:31] maskaravivek commented on #2509
Closing it

[2019-02-24 11:31] #2509 closed

[2019-02-24 17:16] vanshikaarora commented on #1192
@nicolas-raoul So should it be like we go to the image details activity from contributions and there display an item in the menu for editing the picture.

### Or

While uploading the picture just before the upload activity or just after the upload activity we can ask the user whether they would like to edit the photo?

[2019-02-24 17:41] vanshikaarora commented on #2441
Well generally toggle switches have such description's of the switches beneath them.
So may be, we can change to "Once enabled" or "Turning on the switches"
![whatsapp image 2019-02-24 at 10 59 07 pm 1](https://user-images.githubusercontent.com/34261945/53302760-deba4300-3887-11e9-9ecf-a9c1d660b9f0.jpeg)
![whatsapp image 2019-02-24 at 10 59 07 pm](https://user-images.githubusercontent.com/34261945

[2019-02-24 17:46] #2328 closed

[2019-02-24 19:55] sivaraam opened #2510 "Find ideas we can reuse from "Commons Lab" (similar app on Play store)"
I recently came across ["Commons Lab"](https://play.google.com/store/apps/details?id=com.commons.lab.app) which is also an Android app with the description "_Upload photos, videos, and audios directly from your phone to Wikimedia Commons. No need to transfer your files to your desktop to upload on Wikimedia anymore._" I haven't seen this before but the information from Play store states the app wa

[2019-02-24 20:26] sp2710 commented on #1850
I would like to give it a try.
@Mansi449 are you still working on this issue?

[2019-02-25 01:44] nicolas-raoul commented on #2335
The screenshot on the left (in the post just above) looks like what would be ideal I think (in terms of language). For privacy reasons, I am afraid we can not use mapbox tiles though (that would reveal the user's IP address to a third party).

[2019-02-25 01:59] jidanni opened #2511 "Fix all users' uploads damaged by former Exif Date Bug"
I am very pleased that you have fixed #1971,
however it behooves you now to create a bot
to repair all the damage caused by the bug.

Your bot should check all the files in
https://commons.wikimedia.org/wiki/Category:Uploaded_with_Mobile/Android
and fix the ones that need fixing.

An example is
https://commons.wikimedia.org/wiki/File:Taiwan_white_caterpillar2018.jpg
which in fact I will leave a no

[2019-02-25 02:16] nicolas-raoul commented on #2508
We already have a link to rate the app in the About screen.
When the user quits the app, it is because they have something else to do (answer an email, look up directions, get the rare pokemon that just appeared, etc).
If we really really want to get more ratings, I would suggest showing the popup when the user opens their Achievements screen and they just got to the next level. The popup would sa

[2019-02-25 02:26] nicolas-raoul commented on #2511
Indeed we need to fix these images (by "we" I mean as a community, not naming anyone in particular).

Uploads are tagged with the app version, so the first thing we need is to identify what versions had this bug.
As for the fix, would it be acceptable to just delete the `date=` line or its value?

Thanks!

[2019-02-25 02:32] zhao-gang commented on #2335
The best solution would be that wikimedia tiles support mapbox localization plugin. So we can have both :-) I checked that in current Google Play store's Commons app we actually are using mapbox tiles, the wikimedia tiles are not used indeed(Because of the code that changed to wikimedia tiles somewhat does not do its work). To distinguish these two tiles, mapbox tiles are a little brighter than wi

[2019-02-25 02:38] jidanni commented on #2511
You would also need to fix, for my above example
- "Hidden categories: Photographs taken on 2018-11-01"
- Replace '''date={{According to EXIF data|2018-11-01}}''' with correct date, not just deleting it!

Yes, leave the words 'According to EXIF data' there too. Also maybe add
some hidden marker noting that "fixed on ... bot pass cycle 14, etc."

[2019-02-25 02:42] nicolas-raoul commented on #2507
I have never seen this happen, despite switching back and forth between the two tabs many times the past two days.

[2019-02-25 03:03] nicolas-raoul commented on #2506
Thanks for analyzing the different strategies!
I vote for (2) because it is the fastest and easiest.

And also because small numbers can make a filename ambiguous. For instance imagine I take a picture of an interesting building and name it with its address: `南青山 2 - 3 - 1`. Appending ` #1` would make the name very confusing, whereas adding something like ` #6s2p` would be less confusing as it is

[2019-02-25 03:13] nicolas-raoul commented on #2324
@madhurgupta10 Yes it is yours :-)

[2019-02-25 03:19] nicolas-raoul commented on #1192
@vanshikaarora The second. In a next phase, after the user has edited the image, we may want to internally upload both the original and the edited picture, but the user would see this as a single upload.

[2019-02-25 03:30] maskaravivek commented on #2506
I like the second approach but would like to suggest some modification in the upload flow.

Background context about current flow:

It might surprise the user to see 1, 2, 3 etc (or based on the new discussion some hash) appended to the title. Will it be more fruitful to show the final title to the user(ie. on the upload screen itself) before he proceeds further. Seeing an unaesthetic title might

[2019-02-25 03:35] nicolas-raoul commented on #2510
Yes I tried it a long time ago, I remember it was lacking in the area of categorization but otherwise a nice app.

Don't hesitate to post more findings about it, things that we should get inspiration from, and screenshots :-) Thanks!

[2019-02-25 03:50] maskaravivek commented on #2511
One approach that I can think of is that the bot can:

- Scan all images uploaded using Commons app(not just images from a few app versions)
- Compare the date in "date={{According to EXIF data|2018-11-01}}" with the actual EXIF date present in the file

If EXIF date is not present

If EXIF date is present

I am suggesting to scan all images because git annotate shows that the erroneous logic has

[2019-02-25 03:51] sp2710 commented on #1850
I would like work on this
@Mansi449 are you still working on this issue?

[2019-02-25 04:11] nicolas-raoul commented on #2511
@maskaravivek That would require the bot to download all of these images, right? Even if done little by little, that's a big amount of data.

[2019-02-25 05:48] nicolas-raoul commented on #2511
Question to everyone: Imagine a person had not configured the date in their digital camera and their pictures are all dated 1970-01-01 or similar. In such a case, the EXIF date would be even more wrong than the upload date. Should consider such cases too rare/improbable? Or should we somehow detect (how?) and process (how?) such cases? Thanks!

[2019-02-25 06:29] nicolas-raoul commented on #2328
I just tested this feature in 2.10.1.232 : an image downloaded from Facebook resulted in this popup:
![adb-screenshot](https://user-images.githubusercontent.com/99590/53317615-b24a0980-390f-11e9-961f-aba84267b64b.png)
... while an image that I took with my camera was uploaded normally :-) Well done @vanshikaarora !

[2019-02-25 06:39] nicolas-raoul commented on #2328
@vanshikaarora In case you are still looking for tasks, the section "Method 2" at #97 should be easy for you :-)

[2019-02-25 06:42] nicolas-raoul commented on #97
Now that #2328 has been implemented by @vanshikaarora , implementing the above "method 2" should be the next priority. To sum it up:

If the picture has no EXIF, display "*Please only upload pictures that you have taken by yourself. Don't upload images that you have downloaded from the Internet, or screenshots of proprietary apps*".

[2019-02-25 07:04] maskaravivek commented on #2511
Which part would require downloading all images? In the solution I proposed, I was thinking one could rely on whats visible on the page.

For eg in the image @jidanni referenced,

This is what we show in the summary(based on what the app sets):

<img width="1244" alt="screenshot 2019-02-25 at 12 32 27 pm" src="https://user-images.githubusercontent.com/3069373/53319761-83c13400-38f9-11e9-803f-641d1

[2019-02-25 07:05] maskaravivek commented on #1850
@sp2710 You can pick up this issue. There have been no updates from @Mansi449 from the past few months. :)

[2019-02-25 08:47] nicolas-raoul opened #2512 "Move \n\n from translations to Java"
Per https://github.com/commons-app/apps-android-commons/commit/3a822d3c3034955471639c3962d74c05e6ee9dec#r32453577

[2019-02-25 09:00] maskaravivek commented on #2512
Apologies, I was the one who made this change in @vanshikaarora's repo https://github.com/vanshikaarora/apps-android-commons/pull/4  :(

Have raised a PR to fix this.

[2019-02-25 09:46] #2512 closed

[2019-02-25 11:32] vanshikaarora commented on #2328
Yes definitely I'll start working on it :)

[2019-02-25 11:45] vanshikaarora commented on #97
Sure thing :)

[2019-02-25 13:05] madhurgupta10 commented on #2508
@nicolas-raoul I agree that asking for feedback when the user reaches to next level would be much better than asking the user when he/she leaves the app.

[2019-02-25 13:06] vanshikaarora commented on #2508
I would like to pitch in my notions over the Issue.

Yes currently about has the playstore link to rate the app there might be very few users who will rate the app this way.

Yes definitely the user will be delighted to see the improvement in their score's and hence there is a greater chance of user's moving ahead and rating/giving positive reviews for the app.

Yet there are a few things to keep

[2019-02-25 13:36] VojtechDostal commented on #2511
On a related note, I noticed my recent images are categorized as "Pages using duplicate arguments in template calls" because of the following glitch in "date" parameter. Should I start a separate issue?
<img width="203" alt="bez nazvu" src="https://user-images.githubusercontent.com/21329813/53341012-af004f00-390a-11e9-946d-8eb75cc751cc.png">

[2019-02-25 13:58] nicolas-raoul commented on #2511
Yes, different issue, thanks for noticing!

On Mon, Feb 25, 2019, 22:36 VojtechDostal <notifications@github.com> wrote:

[2019-02-25 14:02] VojtechDostal opened #2514 "Duplicate "date" parameter in Information template"
<img width="203" alt="bez nazvu" src="https://user-images.githubusercontent.com/21329813/53342527-719dc080-390e-11e9-808d-f3f648de5ec2.png">
My recent uploads have duplicate "date" parameter in the Information template, see attached image.

Same issue is observed in other users's recent files:
https://commons.wikimedia.org/wiki/File:Shinto_Taikyo.jpg

I guess we should first fix the issue and then

[2019-02-25 14:04] VojtechDostal commented on #2507
@albendz This doesn't seem to be the case, I have screen rotation disabled.

[2019-02-25 16:11] misaochan commented on #2476
USER_COMMENT=just tried opening the app
ANDROID_VERSION=7.1.2
APP_VERSION_NAME=2.10.1
BRAND=google
PHONE_MODEL=Nexus 5
CUSTOM_DATA=
[code]

[2019-02-25 16:24] #2514 closed

[2019-02-25 16:25] misaochan commented on #2514
This is out in master now, should be deployed on alpha builds in a few hours. Please let us know if it works for you. :)

[2019-02-25 16:31] misaochan opened #2517 "Hotfixes needed for 2.10.2"
- [ ] #2476
- [ ] #2514

[2019-02-25 17:09] vanshikaarora commented on #1192
@nicolas-raoul I have used the following library https://mindorks.com/android/store/Image-Croppers/arthurhub/android-image-cropper and that works pretty well for the current gradle versions.
### In case of multiple image's:
One way is to create an activity that will show thumbnail of selected images then the user can select image to edit (or even more than one, the user will be redirected back to

[2019-02-25 18:28] vanshikaarora opened #2518 "Migrate from Icafe to metadata-extractor"
**Summary:**

As discussed in https://github.com/commons-app/apps-android-commons/pull/2383.
Metadata-extractor is to be used in place of Icafe for reading facebook metadata

**Would you like to work on the issue?**

Yes

[2019-02-25 18:39] maskaravivek commented on #1192
I was thinking if we can add an edit icon in the middle section which currently has the location icon.

![device-2019-02-26-000447](https://user-images.githubusercontent.com/3069373/53359887-2ad5b800-395a-11e9-99f6-2ab379c259aa.png)

Clicking on the edit icon can open a separate activity(say `EditActivity`) where the user can crop the image and return back to this activity(`UploadActivity`) once d

[2019-02-25 18:39] VojtechDostal commented on #2514
Very cool, thank you :) I probably fixed most if not all occurences of the error in existing files on Wikimedia Commons.

[2019-02-25 18:45] vanshikaarora commented on #1192
@maskaravivek that would definitely be better I can add the edit icon just next to location icon and that will take the user to the edit screen. :+1:

[2019-02-25 18:49] maskaravivek commented on #2514
Thanks a lot @VojtechDostal 🎉

[2019-02-25 18:51] maskaravivek commented on #1192
The library looks good to me. It looks to be quite popular and is still being maintained. :)

[2019-02-25 20:12] chris-fo commented on #2498
I`m sorry that it is taking a while, but I have been quite busy the last few days. After tomorrow I will have more time again and I think I will be able to fix this by Sunday. Is that ok?

[2019-02-26 01:20] nicolas-raoul commented on #2498
@chris-fo OK!

[2019-02-26 01:59] nicolas-raoul opened #2519 "Race condition in upload category search"
I can't reproduce, it happens very rarely, it is probably a race condition.

When uploading a set of pictures, after searching for a few other categories (in particular I searched for "umeda" and then changed my mind, I entered "osaka" in order to get that category: https://commons.wikimedia.org/wiki/Category:Osaka
Surprisingly no such category appeared, nothing even close:

![adb-screenshot](http

[2019-02-26 03:39] zhao-gang opened #2520 "Fixed dangling snackbar in NearbyFragment"
**Summary:**

'Internet unavailable' snackbar doesn't disappear after network becomes available in NearbyFragment

**Steps to reproduce:**

Make network unavailable in Nearby fragment, the 'Internet unavailable' snackbar shows, then make network available, the snackbar doesn't disappear.

**Device and Android version:**

Unrelated

**Commons app version:**

master betaDebug

**Would you like to wo

[2019-02-26 09:58] vanshikaarora commented on #1192
@maskaravivek I couldn't find location icon in my application. Is this a difference of versions?
![whatsapp image 2019-02-26 at 3 25 37 pm](https://user-images.githubusercontent.com/34261945/53404123-07068680-39db-11e9-8074-c862112ed54b.jpeg)

[2019-02-26 10:01] vanshikaarora commented on #2402
With #1192 in progress, where we need to place edit option for images shall we beforehand update the upload activity to support activities instead of view flippers?

[2019-02-26 10:17] nicolas-raoul commented on #1192
@vanshikaarora It only shows up if your picture has latitude/longitude in the EXIF.

[2019-02-26 10:20] vanshikaarora commented on #1192
@nicolas-raoul So then should the edit icon be added somewhere else on the screen or I should modify the code for showing this layout?

[2019-02-26 10:26] nicolas-raoul commented on #1192
I guess the edit icon would make that small bubble always appear? It would always contain the edit icon, but only contain the map icon for geolocalized pictures.

[2019-02-26 10:27] vanshikaarora commented on #1192
Ok then I'll work it out this way :+1:

[2019-02-26 10:36] jeannewangxin commented on #2003
Hello,I'd like to work on this issue, please.

[2019-02-26 10:46] nicolas-raoul commented on #2003
@jeannewangxin Sorry would you mind choosing another issue? For instance this one: https://github.com/commons-app/apps-android-commons/issues/2337
We had not reviewed this issue yet.
Sorry for the inconvenience!

[2019-02-26 10:46] maskaravivek commented on #2402
I am fine with picking this up before #1192 but it might take a decent amount of changes to convert it to different activities. So if you are willing to take it to completion then feel free to take this up.

[2019-02-26 10:49] nicolas-raoul commented on #2003
@Divyanshu2132 Deleting an image is such a rare operation on Commons, that I think the current way to do (at the bottom of media details) is enough. About notifications, others will probably know better than me.

[2019-02-26 10:56] vanshikaarora commented on #2402
@maskaravivek So do you have any particular UI in my mind if we want to change it to activities?

[2019-02-26 12:42] maskaravivek commented on #2402
I think we can UI as it is. Just split it into activities

- UploadActivity >> that receives the images ie the first screen
- CategorySelectionActivity >> that allows you to select categories
- LicenseSelectionActivity that lets you select the license

[2019-02-26 13:21] FelixEder commented on #395
@maskaravivek @nicolas-raoul I have gone through all the fragments/activities and see that most seem to have Butterknife already implemented, at least partially. In some of the classes only local variables are not bound, should they still be bound?

Some of the fragments/activity that I've seen that need Butterknife implemented:

- MainActivity

- AboutActivity

- WelcomeActivity

In some other fr

[2019-02-26 20:20] #2494 closed

[2019-02-26 20:23] #2416 closed

[2019-02-26 20:25] #2334 closed

[2019-02-26 20:27] #2489 closed

[2019-02-26 20:28] #2477 closed

[2019-02-26 20:34] #2390 closed

[2019-02-26 20:35] maskaravivek commented on #2394
@ShridharGoel Does it still happen for you? It doesn't happen for me on latest master.

[2019-02-27 02:46] ShridharGoel commented on #2394
@maskaravivek It might be happening only on specific API levels similar to #2200

[2019-02-27 02:53] nicolas-raoul commented on #2461
Would you mind posting a screenshot? Thanks! :-)

[2019-02-27 04:31] ashishkumar468 commented on #888
I agree with @misaochan on the benefits. Even my vote goes for MVP.

[2019-02-27 05:14] jidanni commented on #2511
Yup no need to access the images, the dates are already here:
[code]

[2019-02-27 06:23] ShridharGoel commented on #2394
It's still happening for me on Android version 7.1.2 (API 25)

[2019-02-27 07:42] plarus opened #2523 "Last picture always displayed again and again in a category"
**Summary:**

In category:Velles (Indre) I have an infinite scrolling with last picture always displayed again and again

**Steps to reproduce:**
Go to category:Velles (Indre)
Scroll down

**Device and Android version:**
Honor Play, android 9

**Commons app version:**
Commons Android App (2.10.0~4a08a129)

**Screen-shots:**
![screenshot_20190227_001443_fr free nrw commons](https://user-images.gith

[2019-02-27 08:53] misaochan commented on #2034
@spelka contacted me and said he wasn't able to work on this anymore, so I have removed the assignment at his request. Anyone else, please feel free to take it up. :)

[2019-02-27 10:06] nicolas-raoul commented on #2394
I also managed to reproduce this on 7.1.2 (LineageOS) but now I am trying to reproduce again (to get a logcat) and it does not reproduce :-/

[2019-02-27 10:13] nicolas-raoul opened #2524 "Achievements: Put Nearby above featured and thanks"
App users are much more likely to find/upload nearby images, than to get their images featured and receive thanks (these two don't happen much to people who are not active on talk pages, and our app is not focused on talk pages, at all).

So, it would make sense to move the `Images via "Nearby Places"` item two lines up:
![adb-screenshot](https://user-images.githubusercontent.com/99590/53482957-c2

[2019-02-27 10:22] ShridharGoel commented on #2394
@nicolas-raoul Please try to do same as in the GIF, it should reproduce. :)

[2019-02-27 11:12] nicolas-raoul commented on #2394
Reproduced, the log does not contain anything obvious unfortunately:
[code]

[2019-02-27 11:52] maskaravivek commented on #2367
I like the idea of having this task as part of GSoC. Maybe we can club it with another task as this might not take more than 15-20 days. :)

I checked with Srishti and it seems that there are a few slots left for GSoC and 2 slots left for Outreachy. She has requested to submit project ideas as soon as possible.

Are we going to mentor 2 students(maybe one each for Outreachy and GSoC) or 1 student?

[2019-02-27 11:57] ashishkumar468 commented on #2367
If there are more volunteers needed, I would also like to pitch in for the same :)

[2019-02-27 12:15] misaochan commented on #2367
Ah sorry, I thought I would not have a co-mentor for Outreachy since I didn't get any responses since January - I made some other commitments that would make it difficult for me to mentor now. :( Unless we can get an additional mentor to work with @ashishkumar468 , we'll probably only be able to take 1 student.

@maskaravivek #28 actually sounds like a sufficient project for the entirety of one GS

[2019-02-27 12:52] nicolas-raoul opened #2525 "Show caption instead of filename (in my contributions and Explore)"
Caption from Structured Commons, localized in the user's language.
Fall back to filename if no caption is available.

[2019-02-27 13:07] nicolas-raoul commented on #2367
I also think #28 sounds not-that-big for a GSoC/Outreachy. Of course if you had many high-tech features like a pictures strip that updates as you move the map, that might take time to develop, but should we really spend developer time on this?

GSoC/Outreachy is an opportunity to start totally new features, and I believe Structure Commons is the best candidate now: #2415 Captions+Depicts would be

[2019-02-27 13:18] misaochan commented on #2524
Good point!

[2019-02-27 13:19] misaochan commented on #2367
Sure, I am good with either of the above tasks, it's up to you guys. :) But please do allocate time in the schedule for the intern to write unit tests - their PRs do not need to increase code coverage, but they should at least not **decrease** coverage (i.e. the tests should be sufficient to cover their own methods).

[2019-02-27 14:48] maskaravivek commented on #2367
#2415 sounds great to me as well.

@misaochan Yes, we will include unit tests as part of the project. From what I understand the code changes required to complete any of the subtasks mentioned in #2415 would be small. It is just that the discussion, planning the UI and researching about the relevant APIs would take a decent amount of time.

With 3 weeks of community period(for getting acquainted w

[2019-02-27 15:28] nicolas-raoul commented on #2367
Vivek, yes sure thanks!

On Wed, Feb 27, 2019, 23:48 Vivek Maskara <notifications@github.com> wrote:

[2019-02-27 16:39] madhurgupta10 commented on #2367
@nicolas-raoul @maskaravivek I am little surprised that project is not mentioned under GSoC 2019 list for Wikimedia Foundation, could you please confirm.

[2019-02-27 16:44] maskaravivek commented on #2367
@madhurgupta10 I am currently adding the project proposal. Hopefully, it would be approved and will be added to the list. :)

[2019-02-27 16:54] madhurgupta10 commented on #2367
@maskaravivek Thanks for the update :)

[2019-02-27 16:55] #2476 closed

[2019-02-27 16:56] madhurgupta10 commented on #2524
@nicolas-raoul I want to work on this issue :)

[2019-02-27 16:57] misaochan commented on #2367
Thanks for mentoring this round, @maskaravivek and @nicolas-raoul ! :)

[2019-02-27 17:17] maskaravivek commented on #2524
Sure take this up @madhurgupta10 :)

[2019-02-27 17:28] maskaravivek commented on #2367
Guys, I have added our project in the backlog for GSoC 2019 on the phabricator workboard.

https://phabricator.wikimedia.org/T217265

It would be great if someone could review it and add more description to it if needed. :)

[2019-02-27 17:59] madhurgupta10 commented on #2367
@maskaravivek Awesome

[2019-02-27 20:08] maskaravivek commented on #2367
I have also added the project on MediaWiki's ideas page.

https://www.mediawiki.org/wiki/Google_Summer_of_Code/2019#Add_structured_commons_support_in_Commons_Android_app

[2019-02-28 04:41] zhao-gang opened #2528 "Notification makes an alarm(beep) every time when uploading / DeleteTask progress updated"
**Summary:**

When uploading a file, notification makes a sound every time the uploading progress updated. Which is very annoying.

**System logs:**

The current notification also generate some system error logs like:
[code]

**Device and Android version:**

Nexus 6P(with Android Oreo) and Pixel 2 XL(with Android Pie) have above issue.

**Commons app version:**

master betaDebug

**Would you like

[2019-02-28 04:46] nicolas-raoul commented on #2528
I have never noticed that, but I remember someone talking about it.

[2019-02-28 12:11] nicolas-raoul commented on #2434
I can reproduce exactly what @misaochan said in the message just above.
2.10.241~64eae8b on LineageOS 7.1.2

[2019-02-28 12:37] nicolas-raoul opened #2530 "Pic uploaded via Nearby not linked on Wikidata"
I only tried once:
1. Go to Nearby
2. Select a pin
3. Tap +, gallery
4. Select picture
5. Add title, description, categories
6. Wait for upload
7. P18 has not been added: https://www.wikidata.org/wiki/Q61911536

**System logs:**

[code]

**Device and Android version:**

LineageOS 7.1.2

**Commons app version:**

2.10.1.241~64eae8b

[2019-02-28 15:21] maskaravivek commented on #2367
Apart from GSoC, we might be able to showcase a project for Outreachy as @ujjwalagrawal17 has also volunteered to mentor.

I was considering to showcase either of these 2 projects for Outreachy.

- Nearby competitions #2428
- Or Leaderboard #2074

@misaochan @nicolas-raoul @ashishkumar468 @ujjwalagrawal17 It would be great if you could share your opinions about this. :)

I will add the project to

[2019-02-28 15:37] ashishkumar468 commented on #2367
Both of (#2428  & #2027 ) look good to me in terms of increase in DAU's and gamification is always good. Considering the importance of nearby in the long run (IMO), I would vote for #2428

[2019-02-28 16:13] misaochan commented on #2367
Hmmm. A potential concern with #2428 is that it will require a lot of work that isn't really related to coding. For instance, you would need to publicize the competition, and come up with rules that are fair and adhere to policy. However, if you think you could handle it, I would vote for #2428 because it would be great publicity for the app IMO. :)

[2019-03-01 02:52] nicolas-raoul commented on #2367
I don't think #2428 would be a good choice now, because Nearby still need some polishing before we can advertise a competition, and there is almost no coding, and a lot of waiting time.

I vote for #2074, as a technical experience it is easy to explain, it involves several technologies, and it is just the right size, with some bonus tasks if time allows.

[2019-03-01 06:41] zhao-gang commented on #2252
I think @athatsakk is complaining the current app behavior: when bottom detail sheet is expanded from collapsed state, the transparent view is activated and blocked click(see commit ba9cd4db7).

I am not sure why transparent view should block clickable event. Moreover, I want to argue if we really need this transparentView. Google Maps and Amap(popular in China) do not use similar transparent view

[2019-03-01 09:35] misaochan commented on #2367
This is true. #2074 also sounds good to me.

[2019-03-01 09:59] ujjwalagrawal17 commented on #2367
I also agree with Nicolas and I think we can proceed with https://github.com/commons-app/apps-android-commons/issues/2074 .

[2019-03-01 10:28] vanshikaarora commented on #2245
Hey if no-one is working on this issue then I have a PR submitted here #2301. Kindly review :)

[2019-03-01 13:03] whym commented on #2506
Thanks for the input, everyone. It sounds like the **short hash** approach is the way to go. I've changed the task description accordingly.

@maskaravivek: do you think the UI change you described (which is a great idea) can be a separate task? I believe it can be, although hashes might make it a bit more surprising than numbers.

[2019-03-01 13:04] maskaravivek commented on #2367
@ujjwalagrawal17 Can you add this to phabricator board and MediaWiki ideas page and also to outreachy project. :)

[2019-03-01 14:12] maskaravivek commented on #2506
Yup for sure it should be a separate task. I just wanted to point :)

[2019-03-01 15:06] zhao-gang commented on #2530
@nicolas-raoul I also reproduced this issue. I quickly skipped relative code and think may be I can fix this issue. Please assign it to me :-)

[2019-03-01 15:15] nicolas-raoul commented on #2530
It is yours! :-)

To investigate, feel free to use this sandbox item: https://www.wikidata.org/wiki/Q4115189 you can modify its coordinates if you want.
You can also use a fake GPS app.

[2019-03-02 01:34] pgmpofu commented on #2238
@nicolas-raoul  May I work on this?

[2019-03-02 01:46] pgmpofu commented on #2035
@misaochan May I work on this?

[2019-03-02 03:04] nicolas-raoul commented on #2238
@pgmpofu Yes it is yours :-)
Let us know about your progress once a day or so.
Thanks!

[2019-03-02 03:05] nicolas-raoul commented on #2035
@pgmpofu I suggest you start this after you implement the map scale :-)

[2019-03-02 03:09] nicolas-raoul commented on #2035
Ideally the button would only be visible before the user either taps it or starts typing some original text.

About the wording: It would be great if we could convey the meaning of "*reuse the text you entered and modify it to fit this particular picture*" rather than just "*reuse the text as an exact duplicate*".

[2019-03-02 07:26] vanshikaarora commented on #2518
@maskaravivek have you successfully received IPTC using metadata extractor
[code]

I got the following output:
[code]

Also searching  for IPTC i got a null response:

![screenshot from 2019-02-26 14-55-33](https://user-images.githubusercontent.com/34261945/53401917-c442af80-39d6-11e9-8a23-b81c479695c0.png)

@nicolas-raoul @maskaravivek Can you please look into this :)

[2019-03-02 09:15] maskaravivek commented on #2518
I can check this on Monday. :)

[2019-03-02 09:43] vanshikaarora commented on #2518
Whenever you get time :)

[2019-03-02 16:07] domdomegg commented on #171
Reopening as believe GitHub closed automatically as was mentioned in a PR.

[2019-03-02 21:45] Bahaaib opened #2534 "Error occurred while loading images in search activity when start typing"
**Summary:**

Whenever i try to search under "Media" or "Categories" tab, The "Error occurred while loading image" SNACKBAR is poping up upon typing each character in the search bar. The Snackbar appears exactly after the debounce timeout ends "500 ms".
Once i end up my typing the progress bar starts looping forever without showing any results.

**Steps to reproduce:**

1- Slide in the navigation

[2019-03-03 06:49] ujjwalagrawal17 commented on #2074
@nicolas-raoul The idea looks great to me but we need to start and manage our own server-side to integrate this feature as this feature is not there in the commons website and we don't want to count website contribution. Which language/framework do you prefer to write the server side code.

I think we can do this in NodeJS or Django (Python) framework.

[2019-03-03 06:51] ujjwalagrawal17 commented on #2074
@maskaravivek @misaochan @ashishkumar0207 What are your opinions on the backend tech stack for our app?

[2019-03-03 07:07] ujjwalagrawal17 commented on #2074
I just noticed that https://github.com/commons-app/commonsmisc has some scripts written for achievement calculations.

[2019-03-03 08:21] ronanb80 commented on #2239
Is this issue finalized and not assigned?

[2019-03-03 08:29] nicolas-raoul commented on #2239
@mumtazcem Are you still working on this? Please inform us about your progress, or if you have abandoned the task then @ronanb80 will work on it. Thanks! :-)

[2019-03-03 08:33] nicolas-raoul opened #2535 "Nearby ships or planes without a picture"
(low priority)

The app's "Nearby" feature is mostly for things that do not move, so it does not include objects that don't have coordinates, even if they lack a picture:
- Boats such as https://en.wikipedia.org/wiki/HMPNGS_Salamaua
- Notable planes

Good news: Several web API give the identifiers of ships and planes around a given position. We would just need to retrieve nearby ships, match them

[2019-03-03 08:47] nicolas-raoul commented on #2239
@ronanb80 If there is no news from @mumtazcem within 24 hours, the issue becomes assigned to you. Meanwhile how about you research how to extract mediawiki captions for #2337 ? :-)

[2019-03-03 09:27] brendajerop commented on #2017
Is anyone working on this? If not, I'd like to work on it :)

[2019-03-03 13:42] maskaravivek commented on #2074
Yes we can add the APIs in commonsmisc itself. It's hosted on tools forge and is written in python

[2019-03-03 15:15] zhao-gang commented on #2523
I think this issue is the same as #2182

There is a PR solved the indefinite repeated image issue and waiting to be merged.

[2019-03-03 15:55] zhao-gang commented on #2182
This issue can't be reproduced since the server made some category changes related to "Pictures of the Year". But there is a newer issue reported the indefinite repeat image problem(#2523).

[2019-03-03 20:15] maskaravivek commented on #2535
@nicolas-raoul Can you share links to the paid APIs that you know. It would help in finding alternatives.

[2019-03-04 02:01] nicolas-raoul commented on #2523
Thanks @piarus and @zhao-gang !
Let's continue the discussion at #2182 :-)

[2019-03-04 02:01] #2523 closed

[2019-03-04 02:22] nicolas-raoul commented on #2535
Flights: The leader flightradar24 does not have an API, but OpenSky has one: https://opensky-network.org/apidoc/rest.html Surprisingly it seems to be free? Here are the terms of use: https://opensky-network.org/about/terms-of-use

Boats: https://api.vesselfinder.com/docs/ https://www.marinetraffic.com/en/ais-api-services/detail/ps05/vessel-positions-in-a-predefined-area

[2019-03-04 14:17] BinduVerma123 commented on #2464
@thomas154 can i work on this issue?

[2019-03-04 15:53] BinduVerma123 commented on #2502
@madhurgupta10 can i work on this issue?

[2019-03-04 15:55] twisted-sres commented on #2524
Hey, I am an outreachy applicant. Please let me know if I could take this up?

[2019-03-04 16:32] thomas154 commented on #2464
@BinduVerma123 you may proceed. Just a heads up, when I tried to resolve this issue I didn't find anything wrong with the app. So I tried to reproduce the same issue on the website turned out there too when notifications were marked as read they remained unread. Seems like something wrong on the backend side, but still you can give it a try may be I had missed something.

[2019-03-04 19:49] madhurgupta10 commented on #2524
@twisted-sres already working on it, you can solve some other issue :)

[2019-03-05 01:45] moksh-mahajan opened #2540 "Place `google()` repository as the first priority repository"
**Summary:**

In build. gradle file jcenter() repository have first priority than google() repository. My idea is to Place google() repository as the first priority repository to avoid such errors like:
**Failed to resolve: multidex-instrumentation**
Here is a [link](https://stackoverflow.com/questions/45608362/android-studio-3-0-beta-1-failed-to-resolve-com-android-supportmultidex1-0-2) to check

[2019-03-05 02:05] nicolas-raoul commented on #2464
If there is a problem with the backend side (Mediawiki), the first thing would be to report the bug at https://phabricator.wikimedia.org
Thanks!

[2019-03-05 09:56] vanshikaarora commented on #2518
@maskaravivek  Have you gone through it?

[2019-03-05 11:40] vanshikaarora commented on #2464
@thomas154 Is the issue related to archiving notifications or while marking notifications as read?

[2019-03-05 13:51] whym commented on #2506
@madhurgupta10: do you still want to work on the modified task? If yes, that's great. If no, that would be reasonable too, given that it has been significantly changed. Thanks!

[2019-03-05 16:37] vanshikaarora commented on #2425
Sure I'll do that :)

[2019-03-05 16:43] vanshikaarora opened #2541 "Removing inactive icons from the bottom panel in nearby"
**Summary:**

As per the discussion in #2425, the plan is to remove inactive icons from bottom panel of nearby instead of greying them out

**Steps to reproduce:**

- Go to Nearby
- Tap on any place on the map
- Observe the grey icons in the panel

**Would you like to work on the issue?**

Yes

[2019-03-05 17:51] #2498 closed

[2019-03-05 18:22] aashuli commented on #1159
Hey @SaiKrishna1827  , this issue is not solved yet so I would like to take this.

[2019-03-05 18:24] madhurgupta10 commented on #2506
@whym I can still work on the issue :)

[2019-03-05 18:25] madhurgupta10 commented on #2502
@albendz @misaochan any updates on this issue?

[2019-03-05 18:31] maskaravivek commented on #2518
@vanshikaarora I am able to retrieve the IPTC information using metadata-extractor. Instead of using the file path, I used the original `contentUri` in `UploadableFile`.

When an image is picked, the app copies the file to a local path (see `PickedFiles:pickedExistingPicture`). It's possible that some of the metadata information is lost while creating the file.

You might have noticed that even fo

[2019-03-05 18:37] maskaravivek commented on #2518
You can add the `contentUri` field in `UploadItem`.

`checkFBMD` method can pass the `contentUri` instead of `path`.

Then you can get the original input stream using:

[code]

[2019-03-05 19:01] maskaravivek commented on #2540
Go ahead with this change @moksh-mahajan

[2019-03-05 19:06] #2139 closed

[2019-03-06 04:25] moksh-mahajan commented on #2540
@maskaravivek on it.

[2019-03-06 05:04] brendajerop commented on #2017
@misaochan @nicolas-raoul I'd like to work on this:)

[2019-03-06 06:40] nicolas-raoul commented on #2017
@brendajerop It is yours, please let us know about your progress :-)

[2019-03-06 08:44] brendajerop commented on #2017
![screenshot_2019-03-06-11-19-34](https://user-images.githubusercontent.com/20903830/53867477-fec6d080-4004-11e9-88fa-25428a0a297e.png)
![screenshot_2019-03-06-11-19-20](https://user-images.githubusercontent.com/20903830/53867481-fec6d080-4004-11e9-9ed7-7e9c240705fb.png)
@nicolas-raoul This is what I have so far. Is this the intended output?

[2019-03-06 09:05] nicolas-raoul commented on #2017
Yes wonderful :-)

[2019-03-06 09:41] brendajerop commented on #2017
@nicolas-raoul For this specific issue I created a new activity similar to CategoryImagesActivity but with tabs, since CategoryImagesActivity is used to display images of any category, so I didn't want to clutter it with tabs.
Is this okay or should I have added the tabs to CategoryImagesActivity?

[2019-03-06 10:00] thomas154 commented on #2464
@vanshikaarora Since the activity's toolbar title name was Notification(archived) I used that word while reporting the issue, to me the intention seemed like marking the notification as read, maybe that need to be renamed to avoid confusion.

[2019-03-06 10:12] misaochan commented on #2502
I'm still not certain about this - it feels like we would be adding complexity for very little gain IMO. For instance, the Wikipedia app does not have swipe to delete recent searches either - presumably they consider the bin icon to be sufficient.

An implementation that I think COULD add functionality, would be to allow swipe to individually delete searches, since currently the bin icon deletes a

[2019-03-06 10:12] thomas154 commented on #2464
hey! today when I tried to reproduce the same issue it worked. Notifications are now getting marked as read. :v:

[2019-03-06 10:20] misaochan commented on #2534
Thanks for reporting this, I am experiencing this as well. I can't seem to find a pattern yet - some searches work but others (which are for very common objects and SHOULD work) don't.

Are you interested in working on it? I can assign to you if you like. :)

[2019-03-06 10:56] nicolas-raoul opened #2544 "Campaigns bar icon position in right-to-left languages"
For right-to-left languages, the icon should appear on the right, like the nearby icon:

![adb-screenshot](https://user-images.githubusercontent.com/99590/53876405-0c527980-404a-11e9-8961-946138bd4373.png)

[2019-03-06 11:10] nicolas-raoul commented on #2017
Sounds reasonable to me, feel free to send a pull request :-)

[2019-03-06 11:33] nicolas-raoul opened #2545 "Achievements broken in right-to-left languages"

[2019-03-06 11:34] nicolas-raoul commented on #2545
![screenshot_20190306-202818](https://user-images.githubusercontent.com/99590/53878427-30648980-404f-11e9-80de-4194f40d88e6.png)

[2019-03-06 13:08] #2540 closed

[2019-03-06 13:25] vanshikaarora commented on #2544
Hey I can work on this issue!

[2019-03-06 13:36] vanshikaarora commented on #2518
@maskaravivek Is the contentUri useful for other code or should I generate content Uri from file path while calling the `checkFBMD` method?

[2019-03-06 13:58] Bahaaib commented on #2534
Sure. I'm already working on it

[2019-03-06 14:36] maskaravivek commented on #2518
Generating contentUri from the file path won't help as it would be of the copied file.

[2019-03-06 14:46] vanshikaarora commented on #2464
@thomas154 I guess earlier you have tried to swipe left, while the current feature is to mark notification as read when swiped right.

Was this the issue?

[2019-03-06 14:50] vanshikaarora commented on #2518
@maskaravivek Since the content uri wasn't required anywhere else hence I didn't created a variable for contentUri but i had generated the Uri in UploadItem

Here is the submitted PR https://github.com/commons-app/apps-android-commons/pull/2546 kindly review :)

[2019-03-06 14:51] vanshikaarora commented on #2518
So should i first create a file from that path?

[2019-03-06 15:19] zhao-gang opened #2547 "Some properties are lost in failed uploaded images"
**Summary:**

If image uploading failed, we can try later in CONTRIBUTIONS fragment. But some properties are not saved to Contribution database and they are lost. This caused the problem that these properties have to be manually added/edited after we successfully uploaded the failed image.

**Steps to reproduce:**

Upload an image with location and categories, interrupt the uploading process, so t

[2019-03-06 15:53] brendajerop commented on #2337
@nicolas-raoul I may have found a way to extract captions:
1. Get the contents of the page containing the file- the response is html
2. Extract the captions from the html string using [Jsoup](https://jsoup.org/)
Tried with a test app and it worked
![20190306_183753](https://user-images.githubusercontent.com/20903830/53894318-f1c7d280-4040-11e9-993e-bb343a95ef47.png)
![screenshot_2019-03-06-18-33-3

[2019-03-06 16:02] ujjwalagrawal17 commented on #2367
I have made a project schedule for Outreachy task #2074. Can you suggest improvements.

The project is about adding a leaderboard based on user's edits using Commons. The feature will include only edits made with the mobile app, and users who have shown interest in this activity.

**Project schedule :**
1. Add option to enable leaderboard from achievements screen.
2. Add Leaderboard Screen and dis

[2019-03-06 16:07] vanshikaarora commented on #2541
@nicolas-raoul How should the UI Be after removing the inactive icons should it be like expansion of remaining icons due to removal of an icon or you have any other opinion in mind?

[2019-03-06 16:49] maskaravivek commented on #2518
- `UploadableFile` has a field called `contentUri`.
- add a field called `contentUri` in `UploadItem`. populate this field using `UploadableFile`'s `contentUri`

[2019-03-06 20:59] brendajerop opened #2552 "FAB doesn't close automatically after uploading an image"
**Summary:**
The FAB in Contributions remains open even after uploading an image. It has to be clicked again in order for it to collapse.

**Steps to reproduce:**
1. Go to Home>Contributions
2. Click the FAB at the bottom right
3. Upload an image either via camera or gallery
4. Go back to contributions
5. FAB is still open

**Expectations**
FAB should have closed

**Device and Android version:**
S

[2019-03-06 21:03] silkypriya commented on #2545
Hello @nicolas-raoul, I am an outreachy applicant and I want to work on this issue.Could I take this?

[2019-03-06 22:25] sp2710 commented on #1850
@maskaravivek I found the WikiCode and used https://www.mediawiki.org/w/api.php?action=help&modules=flow-parsoid-utils to convert it in html and parsed to displayable format
Now it is looking like this

Any suggestions on what should should be done with \u00a0 character?
Should I replace it with a new line or something else need to be done?

[2019-03-07 01:46] nicolas-raoul commented on #2544
@vanshikaarora It is yours :-)

[2019-03-07 03:16] nicolas-raoul commented on #2337
@brendajerop That's an option in case there is no API :-)

I am pretty sure there must be some kind of API, though... that would be ideal in terms of speed and reliability :-)

[2019-03-07 03:29] nicolas-raoul commented on #2074
Feedback about https://github.com/commons-app/apps-android-commons/issues/2367#issuecomment-470164814

I don't think we need an option. Any user who opens Achievements should see the leaderboard (maybe the Achievements activity's tabs could be Level (current activity)/Nearby/Used/Uploads.

There is no Wikimedia API for level/avatar/leaderboard, we have to create our own, probably on commonsmisc.

[2019-03-07 03:29] nicolas-raoul commented on #2367
@ujjwalagrawal17 My feedback about this schedule: https://github.com/commons-app/apps-android-commons/issues/2074#issuecomment-470370512

[2019-03-07 04:10] nicolas-raoul commented on #2545
@silkypriya Yes, it is yours :-)
Let us know about your progress like every two days at least, thanks!

[2019-03-07 04:13] nicolas-raoul commented on #1850
@sp2710 Yes a newline or two would be the best here I guess :-)

[2019-03-07 06:28] thomas154 commented on #2464
@vanshikaarora at time of creating this issue, the (2.10.0-debug-master~b5a479ce) version of app didn't had the feature to swiping right(I mean you can't swipe right a item).

[2019-03-07 06:47] thomas154 commented on #2464
[code]
From above code it seems to me that archiving and marking it as read are the same thing.
Maybe they have resolved the issue at backend side, So this issue no longer exist.

[2019-03-07 07:31] brendajerop commented on #2337
@nicolas-raoul You're right. There has to be a cleaner way to do this. I'll keep looking

[2019-03-07 09:35] misaochan commented on #2367
Thanks for creating the schedule, @ujjwalagrawal17 ! Would you like to put in 1-2 weeks for writing unit tests, or will it just be incorporated into the other tasks? I think a dedicated week for it in each half of the project would be beneficial, as the students are unlikely to have written unit tests to this level of coverage before, so they might need a bit of guidance.

I also agree with @nicol

[2019-03-07 10:01] misaochan commented on #2534
Thanks @Bahaaib ! Let us know how you get on. :)

[2019-03-07 10:05] vanshikaarora commented on #2544
Thanks @nicolas-raoul I have submitted  a PR  [here](https://github.com/commons-app/apps-android-commons/pull/2550). Kindly review :)

[2019-03-07 10:06] misaochan commented on #2441
This would be my vote. :)

[2019-03-07 10:09] misaochan commented on #97
@nicolas-raoul An issue with EXIF is that, AFAIK, uploads via third party galleries like Google Photos are often lacking in EXIF. I'm not sure we want to require that a photo have EXIF in that case? A warning could be OK, but disallowing all uploads without EXIF would be detrimental to those who use Google Photos (a lot of people).

Tagging @maskaravivek @ashishkumar468 for input as they did the r

[2019-03-07 10:11] misaochan commented on #2507
Hmm. Does it happen consistently for you @VojtechDostal , or only sometimes?

[2019-03-07 10:27] misaochan opened #2553 "Encourage new contributors to start with bugfixes?"
Had a conversation with @maskaravivek and @ashishkumar468 the other day - we were wondering if it might be a good idea to recommend new contributors to start with bugfixes, at least for their first few PRs. There are a few reasons for this:

1. Benefits to the student - I personally think that you learn a lot about a codebase by fixing bugs. It requires you to delve deep into the code and figure o

[2019-03-07 10:28] oluwadara-abijo opened #2554 "Preference summary should change when in night mode"
**Summary:**

When user turns on night mode, theme summary should not remain "Use dark mode" but something like "Use light mode".

**Steps to reproduce:**

Navigation icon -> Settings -> Night mode -> Toggle the button

**Expectation:**
When on light theme, summary should be "Use dark theme" and that is the case. But when on dark theme, summary should be changed to "Use light theme"

**Device and

[2019-03-07 10:34] misaochan commented on #2554
Hi @oluwadara-abijo , the toggle signifies "On" when it is on the right, and "Off" when it is on the left. So I think it is currently working as intended. If we made the text say "Use light theme" in your second screenshot, the toggle position would be wrong.

[2019-03-07 10:44] oluwadara-abijo commented on #2554
Okay then @misaochan

[2019-03-07 10:58] ujjwalagrawal17 commented on #2074
@nicolas-raoul @misaochan If we get all users at once than that may be possible. But it may take a lot of time.

I think we may still need duration filters in frontend and backend because the number of users in leaderboard may be very large so we need to implement pagination too and in that case we can't sort the list locally (in frontend) and get the correct result as the all time top 10 contribu

[2019-03-07 12:22] #2554 closed

[2019-03-07 13:05] oluwadara-abijo commented on #2079
I could not reproduce the issue but I noticed my banner is not at the center. The margin at the end is missing here.

![20190307_135420](https://user-images.githubusercontent.com/24768306/53958372-27bc9380-40e1-11e9-80de-d350bf921e97.png)
![20190307_135358](https://user-images.githubusercontent.com/24768306/53958374-28552a00-40e1-11e9-8c43-41eef341d036.png)

[2019-03-07 13:39] brendajerop commented on #2337
@nicolas-raoul So I asked [here](https://discourse-mediawiki.wmflabs.org/t/how-to-get-captions-from-a-file/1207) and when I implemmented the solution, the response was...
![captions2](https://user-images.githubusercontent.com/20903830/53960437-60676780-40f7-11e9-8078-ab90cf662144.png)
... which if you make pretty becomes
![prettycaption](https://user-images.githubusercontent.com/20903830/53960465-

[2019-03-07 14:28] maskaravivek commented on #2553
I agree with @misaochan and I believe it would be beneficial for both the contributors and for the project itself.

[2019-03-07 14:39] maskaravivek commented on #2074
@ujjwalagrawal17 Can you also update the description on Outreachy portal. :)

[2019-03-07 14:49] maskaravivek commented on #97
If we are looking just for the EXIF container, that is present in Google Photos as well. But if we are looking for specific tags in the EXIF then pictures uploaded from Google photos will have those tags missing.

For eg. I uploaded this pic using Google photos
https://commons.wikimedia.org/wiki/File:Excavation_site_of_Ashokan_Pillar.jpg

See the EXIF:

<img width="624" alt="screen shot 2019-03-07

[2019-03-07 15:06] ujjwalagrawal17 commented on #2074
@maskara-vivek Yes have updated the description in phabricator and Outreachy portal.

[2019-03-07 16:51] madhurgupta10 commented on #2502
@misaochan we can implement the swipe to delete individual search.

[2019-03-07 17:01] madhurgupta10 commented on #2367
@misaochan @nicolas-raoul @maskaravivek apart from #2415 can we discuss any other idea for GSoC 19?

[2019-03-07 17:02] misaochan commented on #2553
@maskaravivek Good thought. I think maybe we can require unit tests for PRs targeting enhancements, but not for PRs from new contributors targeting bugfixes/beginner-friendly issues? After all, the reason we were hesitant to require unit tests is because we did not want to raise the barrier of entry too much. But if new contributors will only be working on bugfixes and beginner-friendly issues, th

[2019-03-07 17:18] deniger commented on #2520
Hello,

I take a look to the fragment NearbyFragment and I notice that the method addNetworkBroadcastReceiver is called each time the tab is selected. This method creates a new Snackbar and register a BroadcastReceiver to the activity. So these 2 actions are done each time the tab is selected. I could explain this bug even if I didn't managed to reproduce it ( enabling/disabling airplane mode).

I

[2019-03-07 17:23] maskaravivek commented on #2553
Yup good point! Lets keep tests mandatory just for feature addition. Also, tk clarify just unit tests would be required and not UI tests, right?

[2019-03-07 17:32] misaochan commented on #2553
Yes, no unit tests for UI components. :)

[2019-03-07 20:16] sp2710 commented on #1850
@nicolas-raoul @maskaravivek What should be the node or x-path to this api call for converting wikicode to html?
I got the following results in API Sandbox

    "flow-parsoid-utils": {
        "format": "html",
        "content": "<body data-parsoid='{\"dsr\":[0,525,0,0]}' lang=\"en\" dir=\"ltr\" parsoid-version=\"2.0.0\" base-url=\"//www.mediawiki.org/wiki/\"><section data-mw-section-id=\"0\" dat

[2019-03-07 20:20] BinduVerma123 commented on #2525
Hello @nicolas-raoul i am an outreachy applicant..I would like to work on this issue.

[2019-03-08 02:10] nicolas-raoul commented on #97
For now it is just about showing informational messages rather than blocking uploads.

Cool, we can use this Google EXIF value to whitelist such pictures.

Let's collect common IPTC prefixes (such as FBMD) and classify them into good/bad :-)

[2019-03-08 02:36] nicolas-raoul commented on #2337
@brendajerop Wonderful! :-) It paste here the URL for reference:
https://commons.wikimedia.org/w/api.php?action=wbgetentities&sites=commonswiki&titles=File%3AR%C3%A9union_publique_de_La_R%C3%A9publique_En_Marche_!_Japon,_avec_le_d%C3%A9put%C3%A9_C%C3%A9dric_Villani_le_jeudi_26_novembre_de_%C3%A0_Akasaka,_Tokyo.jpg&props=labels&languages=fr&languagefallback=1

[2019-03-08 03:50] zhao-gang commented on #2520
@deniger Yes, currently the broadcast receiver is registered every time the tab is selected. My PR added a test in method addNetworkBroadcastReceiver. It first checks whether broadcastReceiver is null, if it's null we create the broadcastReceiver and register it, if it's not null(meaning a broadcastReceiver has already been created and registered), just skip the creation and registration of broadc

[2019-03-08 04:16] nfatma commented on #2035
Hi!
I am an Outreachy applicant and interested in this project.
Can I start with this issue as my contribution?

[2019-03-08 04:48] nicolas-raoul commented on #2074
We can not afford to calculate on-the-spot, even if we split durations it is still too much data to calculate.
So, the leaderboards must be calculated little-by-little, probably automatically.

Example:
1) Calculate the whole leaderboard once per day
2) When UserA opens the learboard activity, calculate only UserA's statistics, and fill the rest with pre-calculated data.
3) Save that as the newest

[2019-03-08 05:08] nicolas-raoul commented on #2553
Would this be only for GSoC/Outreachy people, or any GitHub newcomer?
Let's say that in 2017 tech wizard Magnus Manske himself comes and singlehandedly adds perfect 2FA authentication just because he wants that feature. Should we refuse that PR?
My suggestion would be to limit the strict requirement to GSoC/Outreachy people, while having it as just a recommendation for other people.

[2019-03-08 05:11] nicolas-raoul commented on #1850
Just extract the text you can get easily, and ignore the rest.

[2019-03-08 05:13] silkypriya commented on #2545
Hello @nicolas-raoul
Made pull request #2557 fixing this issue.Kindly review.
would love your feedback.
Thank you!

[2019-03-08 05:13] nicolas-raoul commented on #2525
@BinduVerma123 It is yours :-)
Here is the API you will have to use: https://github.com/commons-app/apps-android-commons/issues/2337#issuecomment-470782124

[2019-03-08 05:17] nicolas-raoul commented on #2035
@nfatma It is yours! Please let us know about your progress at least every two days, thanks :-)

[2019-03-08 07:08] silkypriya commented on #2461
Screenshot showing FAB in landscape orientation.

![dot_fab](https://user-images.githubusercontent.com/25826255/54013037-f787fa00-419f-11e9-91b9-e0379644efe8.png)

Screenshot showing clicked FAB in landscape orientation.

![clicked_fab](https://user-images.githubusercontent.com/25826255/54013338-de337d80-41a0-11e9-98dc-aa0426e03c57.png)

Hello @nicolas-raoul,
I would like to work on this issue.

[2019-03-08 07:23] nicolas-raoul commented on #2461
@silkypriya It is yours :-)

[2019-03-08 07:49] deniger commented on #2520
@zhao-gang my mistake: I didn't see your PR. I need 👓 ...

[2019-03-08 08:05] nicolas-raoul opened #2558 "Spacing after "Uploaded by:""
The spacing is wrong in French:
![adb-screenshot](https://user-images.githubusercontent.com/99590/54015807-32038e00-41c4-11e9-8913-1b6803a27165.png)

As explained in #2498 I believe the user name should be a parameter in a full string such as `Uploaded by: {0}`

[2019-03-08 09:22] oluwadara-abijo commented on #2558
Can I work on this?

[2019-03-08 09:24] VojtechDostal commented on #2507
Always... :)

[2019-03-08 09:37] misaochan commented on #2553
Haha, he would need to be a literal wizard to turn back time like that! ;)

I am theoretically OK with restricting the requirement to GSoC/Outreachy applicants (as those form the vast majority of our new PRs anyway), but in practice wouldn't it be a bit difficult to know who the applicants are? Since the contributions would happen long before they officially apply.

[2019-03-08 09:40] misaochan commented on #2507
Hmm, very interesting. The map should not be updating every time you switch tabs...

Does it also happen when you switch very quickly, without having moved location?

[2019-03-08 09:43] VojtechDostal commented on #2507
No, the "return to normal dimensions by update of the map" does not happens everytime I switch tabs. Only sometimes :) probably only when location changes. I was just trying to explain that the problem does not go away unless the map update happens.

[2019-03-08 09:57] nicolas-raoul commented on #2558
@oluwadara-abijo OK it is yours :-)

[2019-03-08 09:58] nicolas-raoul commented on #2558
Be sure to check how similar problems were solved by this pull request: https://github.com/commons-app/apps-android-commons/pull/2532/files

[2019-03-08 10:48] Kiraeraser commented on #2547
I would like to work on this issue

[2019-03-08 12:16] nicolas-raoul commented on #2547
@Kiraeraser Sorry this issue is assigned already but you can find others [here](https://github.com/commons-app/apps-android-commons/issues?utf8=%E2%9C%93&q=is%3Aopen+is%3Aissue+no%3Aassignee+-label%3Aassigned+-label%3Adebated), cheers!

[2019-03-08 15:15] oluwadara-abijo commented on #2558
Alright.
Thanks.

[2019-03-08 23:04] AshTheGoblin commented on #2434
I reproduced the issue, but I'm not sure if anything can be done about it.

I opened Google Drive > + FAB > Upload > Gallery > (any folder).

Long pressing an image does not allow for the selection of multiple files, and this is in a first party app.

[2019-03-08 23:34] mumtazcem commented on #2239
hello, I am deeply sorry that I could not update you guys.. Due to homeworks and midterms for the last two weeks I could not check my emails.

However, I was able to implement 'Bearing' which is explained here -> [https://www.movable-type.co.uk/scripts/latlong.html](url) successfully. Using this method I am able to calculate the bearing between given two points.

By checking the bearing value, car

[2019-03-09 01:27] nicolas-raoul commented on #2239
Thanks for sharing your progress!
Yes, a compass (or simple arrow) is needed, because when walking in the street it can be difficult to tell where North-East is, and on the opposite it is easy to go in the direction of an arrow.
Thanks!

[2019-03-09 05:12] #2461 closed

[2019-03-09 05:12] #2545 closed

[2019-03-09 05:13] #2332 closed

[2019-03-09 05:13] #2544 closed

[2019-03-09 05:14] #2541 closed

[2019-03-09 06:17] sp2710 commented on #1850
@nicolas-raoul I have made the changes and sent the PR
Kindly review the PR and share your feedbacks:)

[2019-03-09 07:17] silkypriya commented on #2333
hi @nicolas-raoul ,
I would like to fix this.

[2019-03-09 07:47] nicolas-raoul commented on #939
Actually now the thumbnail is not shown until the picture is uploaded:

[2019-03-09 08:29] nicolas-raoul opened #2561 "Make title edit field wrap and become bigger"
A good title should be like 100~200 characters, which is a pain to edit on a single line on mobile:
![Screenshot_20190212-091953](https://user-images.githubusercontent.com/99590/54068492-955af200-4290-11e9-8bcc-24f2d908f06d.png)
I suggest enlarging the field as soon as it does not fit on a single line.

[2019-03-09 08:34] nicolas-raoul opened #2562 "Place bookmark blue buttons hard to see in night mode"
**Steps to reproduce:**
1. Go to Setting, enable night mode
2. Go to Nearby, bookmark a place
3. Go to Bookmarks, select Places tab, tap the place
4. The blue buttons (bookmark/camera/gallery/directions/...) are hard to see

A slightly lighter blue would be better I think. Especially the directions and ... somehow.

**Screen-shots:**
![Screenshot_20190213-130007](https://user-images.githubusercont

[2019-03-09 09:02] nicolas-raoul opened #2563 "When type of nearby place is unknown, let description empty rather than just "?""
**Steps to reproduce:**

1. Go to Nearby
2. Find a place which has no type (when you tap on it then tap on the bottom panel that appears, the last line says "?"
3. Upload a picture for it (you can cancel before the real upload)
4. Description is pre-filled with "?"

While it makes sense to prefill if the type is "school" or "hospital", when it is "?" the description should be left empty.

**Screen

[2019-03-09 09:05] nicolas-raoul commented on #2519
More occurrences:
![Screenshot_20190226-132133](https://user-images.githubusercontent.com/99590/54068964-9cd0ca00-4295-11e9-86f9-c9afdb4ba85b.png)
![Screenshot_20190228-225433](https://user-images.githubusercontent.com/99590/54068968-a65a3200-4295-11e9-97dc-0bc57a5c8be1.png)
![Screenshot_20190228-225448](https://user-images.githubusercontent.com/99590/54068970-a9edb900-4295-11e9-9541-c068eeee8817.

[2019-03-09 09:08] nicolas-raoul opened #2564 "Notifications: message not centered in German"
**Steps to reproduce:**

1. Switch Android locale to German
2. Go to your notifications, make sure you have none
3. "No notifications" message is left-aligned, as per screenshot:

![Screenshot_20190307-000521](https://user-images.githubusercontent.com/99590/54069014-4c0da100-4296-11e9-92f7-3db06ea0a555.png)

Strangely this does not seem to happen with English/French.

[2019-03-09 09:21] nicolas-raoul opened #2565 "Upload category search in RTL: Spinner overlaps text"
**Steps to reproduce:**

1. Switch to a right-to-left (RTL) language such as Hebrew
2. Upload an image
3. When searching for a category, a spinner appears

Problem: This spinner overlaps the text I typed.
That does not happen with English.

**Screen-shots:**
![Screenshot_20190306-203829](https://user-images.githubusercontent.com/99590/54069162-1cf82f00-4298-11e9-93b3-51612e3c6ae7.png)

[2019-03-09 09:39] nicolas-raoul opened #2566 "Category suggestions wrong in RTL"
**Steps to reproduce:**

1. Switch Android to RTL language such as Hebrew
2. Upload image
3. When selecting categories, you see this:
![Screenshot_20190306-203852](https://user-images.githubusercontent.com/99590/54069339-92fd9580-429a-11e9-93d2-4138d0c7a5e0.png)
Checkboxes should be on the left and category names on the right.

[2019-03-09 10:31] maskaravivek commented on #1850
@sp2710 Nice work with extracting readable text from the wikitext. :)

I was wondering if we should show the talk page on the same page or should it open a separate activity. Theoretically, the discussions can be quite long(although I agree that it would be quite small for most images).

Would it be better to launch a new activity ie `GenericTalkPageActivity`. Later the same can be used to show ot

[2019-03-09 13:51] sp2710 commented on #1850
Thanks @maskaravivek :)
I also agree that it would be better to launch a new activity for showing the talk page

[2019-03-09 14:41] maskaravivek commented on #1850
@sp2710 it would be great if you could wait for  @nicolas-raoul @misaochan opinions before making the change. They have a better understanding of the Wikimedia world. :)

[2019-03-09 16:53] brendajerop commented on #2563
@nicolas-raoul I'd like to work on this

[2019-03-09 17:49] silkypriya commented on #2562
Hello @nicolas-raoul, I'd like to work on this issue.

[2019-03-09 18:52] vanshikaarora commented on #2566
Hey I can work on this!!

[2019-03-09 19:35] oluwadara-abijo commented on #2561
I'd like to work on this

[2019-03-09 19:48] vanshikaarora commented on #2566
@nicolas-raoul I have submitted a PR here #2567. Kindly review :)

[2019-03-09 19:49] vanshikaarora commented on #2565
Hey!! I can work on this.

[2019-03-09 20:46] nfatma commented on #2035
sure :)
I have imported the project in my Android studio and trying to understand the code of UploadActivity to add the enhancement.

[2019-03-09 20:52] vanshikaarora commented on #2564
Hey I can work on this

[2019-03-10 06:13] #2564 closed

[2019-03-10 06:14] #2558 closed

[2019-03-10 06:16] maskaravivek commented on #2561
@oluwadara-abijo Yes, sure. Can you raise a PR for it? :)

[2019-03-10 07:11] silkypriya commented on #2562
Made pull request for this issue.
Kindly review.
Thank you!

[2019-03-10 07:49] mumtazcem commented on #2239
New update, I added compass icon. Icon would be rotated with calculated bearing value. Below you can observe that icon is rotated 73 degrees exactly.

![compass_icon](https://user-images.githubusercontent.com/17280538/54082147-23cb8400-4322-11e9-95d8-db0b0b25be76.png)

This is the map as well.

![compass_nearby](https://user-images.githubusercontent.com/17280538/54082149-2c23bf00-4322-11e9-9b79-cd

[2019-03-10 10:30] maskaravivek commented on #2126
I am attempting to make this work. Will make a few changes and commit directly to master to check it out. Will revert back if things don't work.

You might receive a couple of dummy alpha releases. Please ignore them. :)

[2019-03-10 10:40] #2126 closed

[2019-03-10 11:33] sp2710 commented on #1850
Sure @maskaravivek.  I have not done any changes yet. Will wait for @nicolas-raoul @misaochan opinions :+1:

[2019-03-10 12:17] oluwadara-abijo commented on #2561
Yes, I can @maskaravivek. Will do so soonest.

[2019-03-10 13:25] radhika1601 commented on #2446
@nicolas-raoul Can I work on this issue?

[2019-03-10 13:59] maskaravivek commented on #2126
Release notes are now published along with automatic alpha releases:

![Screenshot_2019-03-10-18-53-01-105_com android vending](https://user-images.githubusercontent.com/3069373/54085986-3c5f8c80-436a-11e9-97c8-ddd0468ed573.png)

As of now am showing just the latest change ie the last commit because we make a release after every commit. But practically, would it be more useful if we show the last

[2019-03-10 16:16] oluwadara-abijo commented on #2561
Hi @maskaravivek. I'm guessing I no longer need to raise a PR for the issue because as it appears, @VitalyPinchuk already did. There was just no information that the issue was being worked on already.

[2019-03-10 16:47] VitalyVPinchuk commented on #2561
I'm awfully sorry, I'm a total novice with github and android sdk so I was just experimenting. I wasn't going to announce that I would work on the issue. And I didn't expect my commit to appear here (I guess it's due to commit message that references to this issue).

[2019-03-10 16:50] maskaravivek commented on #2561
@oluwadara-abijo Which PR are you referring to?

I see no PRs by @VitalyVPinchuk https://github.com/commons-app/apps-android-commons/pulls/VitalyPinchuk%20

@oluwadara-abijo you can go ahead and raise the PR. :)

@VitalyVPinchuk Welcome to the community! If you are looking at issues to get started then you can probably pick up any of these issues:

https://github.com/commons-app/apps-android-commo

[2019-03-10 16:57] VitalyVPinchuk commented on #2561
@maskaravivek Thank you very much, I would definitely do :)

[2019-03-10 17:32] oluwadara-abijo commented on #2561
No worries.
Welcome!

[2019-03-10 18:18] #2561 closed

[2019-03-10 20:51] silkypriya opened #2573 "Effective UI in night mode"
**Summary:**

UI of some activity is not effective in night mode

**Steps to reproduce:**

Go to setting. Switch on the night mode

1. Go to Home>Nearby then tab on any location. The bottom row buttons are hard to see in night mode.

![bottom_buttons](https://user-images.githubusercontent.com/25826255/54091234-d7298c80-43a5-11e9-931f-95a34b03d9a3.jpg)

2. Backgroundolour of navigation bar header d

[2019-03-10 21:18] mumtazcem commented on #2239
Here I added some more examples. If the design and the icon are acceptable for you guys @nicolas-raoul , I can make a pull request for my changes.

**1. First example**
![Screenshot_1552245520](https://user-images.githubusercontent.com/17280538/54091552-58772400-4392-11e9-9f53-33f313941a25.png)

![Screenshot_1552245613](https://user-images.githubusercontent.com/17280538/54091561-75135c00-4392-11e9

[2019-03-11 02:07] nicolas-raoul commented on #2126
I would say latest change is the best :-)
5 changes might lead to misunderstandings.

[2019-03-11 05:39] silkypriya commented on #2446
@maskaravivek ,@nicolas-raoul I have solved this issue along with some more related with night mode.
Kindly review.
Thanks!

[2019-03-11 05:45] silkypriya commented on #2562
@nicolas-raoul , I have changed the bookmarks buttons colour to slightly lighter blue in light mode as well.
Am i supposed to change it only in night mode.
Thank you!

[2019-03-11 06:59] nicolas-raoul commented on #2563
@brendajerop It is yours! :-)

[2019-03-11 07:06] nicolas-raoul commented on #2565
@vanshikaarora OK :-)

[2019-03-11 07:20] nicolas-raoul commented on #1850
I think there is no need to create a separate activity.

While Wikipedia talk pages can be extremely long, I have never seen a media talk page with more than a few lines.

[2019-03-11 07:34] nicolas-raoul commented on #2573
There are several issues about night mode already, would you mind removing from this issue the ones that are already covered at existing issues? (see #2180)
Thanks!

[2019-03-11 07:39] nicolas-raoul commented on #2239
@mumtazcem
Great start!

If you turn your phone 30 degrees to the right, does the compass turn 30 degrees to the left to compensate?
If it does not, you should use Android's internal compass and include that in the calculation.

The idea is that if you hold your phone horizontally, the arrow points in the direction in which you must walk. So you can start walking even if you have no idea where the

[2019-03-11 07:48] nicolas-raoul commented on #2446
@radhika1601 Sorry for the inconvenience, would you mind choosing another issue? Thanks!

[2019-03-11 08:57] mumtazcem commented on #2239
I actually never thought about that :). I assumed that this compass would help user to find out the nearest location in Nearby section. Thank you for your feedback, I will update you as soon as possible.

[2019-03-11 09:02] nicolas-raoul commented on #2239
Thanks, and sorry for my approximate explanation :-)

[2019-03-11 09:05] nicolas-raoul commented on #2239
This *might* help:
https://stackoverflow.com/questions/8315913/how-to-get-direction-in-android-such-as-north-west

[2019-03-11 09:09] nicolas-raoul commented on #2239
Also:
https://bitbucket.org/alekseyt/compass/src/41d8dc3b1d40f8e5d79920aaffa8ca7c330850cd/src/com/sgr_b2/compass/navigation/Monitor.java#lines-214

[2019-03-11 09:17] nicolas-raoul commented on #2239
This is maybe the closest code to what we are trying to achieve:
https://github.com/metinkale38/prayer-times-android/blob/bfc080918d68e3b0d2bda0ba0ab98b96f614e399/features/compass/src/main/java/com/metinkale/prayer/compass/_2D/Frag2D.java#L69
It displays an arrow that shows the direction of the Kaaba, Muslims can just look at the arrow and pray in the right direction. We would just have to replace

[2019-03-11 09:42] neslihanturan commented on #44
Hi @nicolas-raoul , I saw this old issue but coudn't understand it properly. Can you please explain your suggestion a little more?

[2019-03-11 10:02] neslihanturan commented on #66
It seems like we already made some progress for this enhancement. If you are a beginner and you have read this thread until here, I want to sum up this issue for you.

We already have sub, parent categories logic which is in use at our explore activity. Now you can use that logic to browse sub/parent categories of suggested categories. The screenshot I shared can clarify what I mean. I think this

[2019-03-11 10:03] nicolas-raoul commented on #44
When I search for the English spelling "Paris" I get the right category:

![adb-screenshot](https://user-images.githubusercontent.com/99590/54115388-aaba5280-442f-11e9-9980-511d56be7bf1.png)

But when I write (with a Japanese Android) in Japanese (パリ is the Japanese word for Paris) I get less relevant categories, probably found using some of their descriptions:

![adb-screenshot](https://user-imag

[2019-03-11 10:08] nicolas-raoul commented on #44
Hopefully categories will be made obsolete by Structured Commons, but that will probably be in many years, so any solution to use meanwhile would be great. The same problematic probably exists with the Commons web interface, so maybe a language setting can be specified when using the search API?

[2019-03-11 10:24] neslihanturan commented on #96
Currently we can move on photo on title/description screen, so one part of this enhancement is already done.
- We can not see the image on category screen though, but we can always come back to previous screen to see the picture again.

The current implementation satisfies me in terms of seeing details. What do you think @nicolas-raoul ? Should we close this issue?

[2019-03-11 10:27] nicolas-raoul commented on #96
Ah, yes this is solved indeed, thanks for noticing :-)

[2019-03-11 10:27] #96 closed

[2019-03-11 10:41] neslihanturan commented on #144
This issue seems like done, please reopen if you feel in oposite way

[2019-03-11 10:41] #144 closed

[2019-03-11 11:03] neslihanturan commented on #199
This seems to be related with #118 , so closing the old issue.
Currently we have retry and delete buttons for failed uploads, they work well in general but they are still not very consistent.

[2019-03-11 11:32] neslihanturan commented on #237
Some inconsistencies about category suggestion happens. We are not sure if it is a backend issue or related with the implementation of the app. I think this should be considered as a bug and requires further investigation about root cause.

[2019-03-11 11:39] nicolas-raoul commented on #237
I have not seen this kind of problems too much, recently.

Actually, before investigating this issue,  #2519 should take priority I think, as it makes many searches show irrelevant results, independently from the backend.

[2019-03-11 12:45] silkypriya commented on #2573
Hello @nicolas-raoul,
I updated this issue, removing the one same as #2446.
Pull request #2574 fixes both this issue and #2446.
Thank you!

[2019-03-11 12:52] nicolas-raoul commented on #1192
@vanshikaarora in case of multiple upload, I suggest cropping only the picture on which the user was when tapping the cropping button. If they want to crop several images, they will just press Previous/Next to reach the right image and tap again.

[2019-03-11 12:55] vanshikaarora commented on #1192
Actually I was following it this way.

[2019-03-11 13:05] nicolas-raoul commented on #1192
So sorry, I had not noticed this sentence 😱
Thanks!

[2019-03-11 13:17] vanshikaarora commented on #2565
@nicolas-raoul  I have submitted a PR here #2575. Kindly review :)

[2019-03-11 14:26] neslihanturan commented on #253
Currently we are able to edit description in different languages too. But on description field in Media Details, only the one in English is displayed.

Maybe a display in all languages button, which will be shown if there is a additional language exist, would solve this issue.

[2019-03-11 14:28] vanshikaarora commented on #1192
@nicolas-raoul  I have removed the edit activity. Please check for the changes :)

[2019-03-11 14:30] neslihanturan commented on #2377
I can verify this happens after re-login. A very weird issue. @madhurgupta10 did you made any progress with this? Did you managed to find the root cause?

[2019-03-11 14:52] neslihanturan commented on #281
This is not a bug anymore

[2019-03-11 14:52] #281 closed

[2019-03-11 14:55] neslihanturan commented on #264
- When it comes to map, pulling down is hard because map is moving.
- When it comes to list, it is also hard because pull down swipes the list down.

I think we can close this for now.

[2019-03-11 14:55] #264 closed

[2019-03-11 15:05] silkypriya commented on #2465
@nicolas-raoul , I would like to fix this issue.

[2019-03-11 16:07] #2565 closed

[2019-03-11 16:09] #2566 closed

[2019-03-11 16:34] maskaravivek commented on #1850
@nicolas-raoul I suggested a separate activity as this could be reused for other talk pages as well ie for any talk page. Some talk pages open from Notifications page as well. If we do it well, it can be reused(or extended) for those purposes as well.

For the scope of this task, it might not be required but I feel the media detail page is already bloated with a lot of content. We can probably sho

[2019-03-11 16:44] vanshikaarora commented on #253
I am interested to work on this Issue.

@neslihanturan Should I add a button displaying list of languages to select from or should I display media description according to the locale (current language of the device)?

[2019-03-11 16:51] maskaravivek commented on #253
IMO, it would be cleaner to show the description in the current locale and fall back to English if the description in that language isn't available.

[2019-03-11 16:51] neslihanturan commented on #655
This seems like solved.

[2019-03-11 16:51] #655 closed

[2019-03-11 16:52] neslihanturan commented on #657
This one is also seems fine now:)

[2019-03-11 16:52] #657 closed

[2019-03-11 16:56] vanshikaarora commented on #253
OK then I'll do it this way :+1:

[2019-03-11 16:56] neslihanturan commented on #659
Now we are able to do that!:)

[2019-03-11 16:56] #659 closed

[2019-03-11 16:58] vanshikaarora commented on #2311
@ShridharGoel  Are you still working on this Issue or Shall I take this up?

[2019-03-11 16:59] ShridharGoel commented on #2311
@vanshikaarora Feel free to work on this.

[2019-03-11 17:00] vanshikaarora commented on #2311
Thanks @ShridharGoel :)

[2019-03-11 17:05] ShridharGoel commented on #2311
You're welcome @vanshikaarora :)

[2019-03-11 17:22] neslihanturan commented on #658
Now UX looks okay based on this scenario.

[2019-03-11 17:22] #658 closed

[2019-03-11 17:28] neslihanturan commented on #713
This question is answered

[2019-03-11 17:28] #713 closed

[2019-03-11 17:34] #721 closed

[2019-03-11 17:35] #701 closed

[2019-03-11 17:41] neslihanturan commented on #894
This bug seems solved.

[2019-03-11 18:35] HareemWaqas opened #2576 "Cannot Run Git"
An error occur when Opening project in Android Studio, By following these steps
In the menu bar, click File > New > Project from Version Control... > Git
OR
(if Quick Start menu open): Check out project from Version Control > Git
Enter the Git URL you obtained from Fork the Git repository.

Error : Cannot Run Git
Illegal char :> at index 5:
https://github.com/YourName/apps-android-commons.git

[2019-03-11 18:42] maskaravivek commented on #2576
Can you try cloning from the command line?

Go the folder where you wish to clone the repo and use this command:

[code]

[2019-03-11 18:50] #2518 closed

[2019-03-11 19:04] #2562 closed

[2019-03-11 19:08] HareemWaqas commented on #2576
yes, thank you
 I have tried but still not working

[2019-03-11 19:11] neslihanturan commented on #2576
First you should make sure git is installed on your system.  https://stackoverflow.com/questions/51032739/error-running-git
Second, YourName is an alias for your actual user name. Ie. for me it is https://github.com/neslihanturan/apps-android-commons.git

[2019-03-11 19:45] HareemWaqas commented on #2576
yes git is installed in my system,
and for me it is https://github.com/HareemWaqas/apps-android-commons.git

[2019-03-11 20:48] silkypriya commented on #2465
Made pull request fixing this issue.
Kindly review.
Thank you!

[2019-03-11 22:35] ujjwalagrawal17 commented on #1850
Also if we want to add edit functionality later in media talk page it would be better to make a separate activity.

[2019-03-12 04:21] nicolas-raoul commented on #253
Please be aware that the information template might not always have the same format.
I am not sure whether the description format is always the same or not.
Here are some examples:
https://commons.wikimedia.org/wiki/Commons:Structured_data/Get_involved/Feedback_requests/Interesting_Commons_files#Variations_on_the_{{Information}}_template
In cases where you get a parsing error (example: malformed t

[2019-03-12 06:47] maskaravivek commented on #545
I would like to take our campaigns implementation forward.

## Background

It was initially implemented by @nicolas-raoul and then removed later by @misaochan (Ref #13 and #26)

## Current state

As part of WMCZ @ashishkumar468 added support for showing news about campaigns. (Ref #78)

## Proposed extension

With our current upload infra, it would be trivial to support in-app uploads for images un

[2019-03-12 06:59] nicolas-raoul commented on #545
Great, good luck!
So, clicking on the campaign banner would ask you "Do you want to join this campaign?" or something like this, and apply categories/etc to all subsequent uploads? Do you plan a way to upload unrelated pictures, for instance if I am in the middle of a Wiki Love Cats campaign and suddenly I see Obama at the corner of the street?
Or would it had a kind of selector in the upload wiza

[2019-03-12 07:31] maskaravivek commented on #545
The banner can have CTA for uploading ie gallery and camera buttons. If all these buttons can't be accommodated in a single line then we can have an expandable card similar to the nearby list.

It won't apply to all subsequent uploads. The categories/templates would be added only when an upload is initiated using the campaign banner. Similar to nearby uploads where the wiki data item is linked onl

[2019-03-12 07:45] nicolas-raoul commented on #2530
When a picture is uploaded via Nearby with wrong or no coordinates, the app must show a popup telling:

And if the user choose to continue, the picture should be uploaded and linked from WIkidata.

Coordinates often do not match, for instance when uploading picture that has no GPS coordinates, or when uploading a picture of a mountain, taken from reasonably far away.

Right now the problem is that

[2019-03-12 07:50] nicolas-raoul commented on #545
Ah, gallery/camera buttons on the banner is a good idea indeed! :-)

[2019-03-12 08:17] nicolas-raoul opened #2578 "Show warning when picture uploaded via Nearby has wrong or no coordinates"
When a picture is uploaded via Nearby with wrong or no coordinates, the app must show a popup telling:

- If the user say Yes, the picture should be uploaded and linked from WIkidata.
- If the user say No, the picture should be uploaded but not linked from WIkidata.

Why? This should prevent some misuse. But we must let the user have the last decision, because coordinates often do not match, for i

[2019-03-12 08:18] #2530 closed

[2019-03-12 08:52] zhao-gang commented on #2530
@nicolas-raoul AFAIK, the mismatched location check is in the default case, see:
https://github.com/commons-app/apps-android-commons/blob/52724b8be0fb8236a742af42a8cc8ceda171abb7/app/src/main/java/fr/free/nrw/commons/upload/UploadPresenter.java#L167-L172

and:
https://github.com/commons-app/apps-android-commons/blob/52724b8be0fb8236a742af42a8cc8ceda171abb7/app/src/main/java/fr/free/nrw/commons/uti

[2019-03-12 09:11] zhao-gang commented on #2578
@nicolas-raoul As I explained in [this post](https://github.com/commons-app/apps-android-commons/issues/2530#issuecomment-471910636). There already has the popup to warn user if the image location is not matched to nearby place location. If you think my explanation in that post is reasonable, you could close this issue :-)

[2019-03-12 09:33] nicolas-raoul commented on #2530
Oh, so it seems I misunderstood, sorry!
I will test :-)

[2019-03-12 09:33] #2578 closed

[2019-03-12 09:58] neslihanturan commented on #957
This seems like fixed from their side.

[2019-03-12 09:58] #957 closed

[2019-03-12 10:20] neslihanturan commented on #1180
This seems solved

[2019-03-12 10:20] #1180 closed

[2019-03-12 10:36] #2517 closed

[2019-03-12 10:46] vanshikaarora commented on #97
Having implemented #2518 now we are ready to work on this :)

@maskaravivek @nicolas-raoul In the absence of any EXIF data shall I give an Information meassage or

Should we first analyse EXIF data of various sources for downloading image and check for  each of the data in our code?

[2019-03-12 10:51] misaochan commented on #888
As there are no contradicting opinions, we will be going with MVP. :)

In order to maintain consistency in our codebase, we are thinking of requiring that all new PRs created after a certain date should adhere to this architecture, as well. This would apply to all volunteers, interns, and grantees - since there is no purpose in doing this overhaul if we are not going to maintain its consistency. O

[2019-03-12 11:03] maskaravivek commented on #2553
@nicolas-raoul's example of a very reputed developer wanting to contribute is reasonable. But that shouldn't be the norm. It should be an exceptional case where multiple collaborators agree. Some of the factors that may help a collaborator decide can be:

- volunteer's experience with open source (Github profile can be an indicator)
- some indication that the volunteer is familiar with Android dev

[2019-03-12 11:03] maskaravivek commented on #1092
@dbrant Is the library ready for consumption?

[2019-03-12 11:34] nicolas-raoul commented on #97
@vanshikaarora Yes, showing a warning when no EXIF is present sounds like a good idea to me. There are valid reasons to not have EXIF (screenshot of FOSS software, drawing created on a tablet, removing EXIF for privacy), but these cases are less than 1% I would say.

About the other IPTC prefixes: We are not in a hurry, let's just record examples when we encounter them in the wild :-)

[2019-03-12 11:40] vanshikaarora commented on #97
Ok I'll go ahead with this work :+1:

[2019-03-12 12:51] neslihanturan commented on #1318
Thanks @sivaraam , yes it should be solved by then.

[2019-03-12 12:51] #1318 closed

[2019-03-12 12:58] neslihanturan commented on #1410
Solved:)

[2019-03-12 12:58] #1410 closed

[2019-03-12 13:34] neslihanturan commented on #1412
This should be solved

[2019-03-12 13:34] #1412 closed

[2019-03-12 13:38] neslihanturan commented on #1480
seems like solved.

[2019-03-12 13:38] #1480 closed

[2019-03-12 13:38] vanshikaarora commented on #2068
@nicolas-raoul where should the rating icon be added?

[2019-03-12 13:40] neslihanturan commented on #2377
This happened to me again. I found it very annoying and obvious, will prioritize it

[2019-03-12 13:42] madhurgupta10 commented on #2377
@neslihanturan I will prioritize it and deep dive to find the root cause to it.

[2019-03-12 13:45] neslihanturan commented on #2377
Thanks for your interest @madhurgupta10 but I think it is assigned to @vanshikaarora . @vanshikaarora  can you please verify you are still working on this issue?

[2019-03-12 13:51] vanshikaarora commented on #2377
I am sorry, for no response since long. I'll start working on this soon.

[2019-03-12 13:53] neslihanturan commented on #1419
I can verify that it is solved after 2.9

[2019-03-12 13:53] #1419 closed

[2019-03-12 14:18] neslihanturan commented on #1435
For me, it loads on API 19 device

[2019-03-12 14:18] #1435 closed

[2019-03-12 16:03] vanshikaarora commented on #97
@nicolas-raoul So far while moving ahead with this work I have noticed that there are many types of EXIF data like ExifIFD0Directory, ExifSubIFDDirectory, ExifImageDirectory, ExifInteropDirectory, ExifThumbnailDirectory.

Here are we talking about each of these EXIF'S right?

[2019-03-12 16:37] vanshikaarora commented on #2377
@neslihanturan I was going through the issue what I noticed was that in the application contributions were added to the ContentProvider using
[code]
And while  logging out all files except the libraries are removed (including the ContentProviders) using the `clearApplicationData() ` function of `CommonsApplication.java`

[code]

[2019-03-12 17:20] ashishkumar468 opened #2580 "App is crashing in GridViewAdapter"
**Summary:**

App crashes in GridViewAdapter

**Steps to reproduce:**

**System logs:**

[code]

**Device and Android version:**

ANDROID_VERSION=9

**Commons app version:**

APP_VERSION_NAME=2.10.2

**Would you like to work on the issue?**

Yes

[2019-03-13 00:27] domdomegg commented on #2576
What operating system are you using?

What is the result of running the command in a terminal:

[code]

Are you able to clone other repositories? e.g. how about

[code]

If it doesn't work but has different output could you post it here?

[2019-03-13 01:50] nicolas-raoul commented on #97
@vanshikaarora You are the EXIF expert now ^_^ so I guess you should be able to decide the best strategy. Please detail what you think is the best thing to do, so that we can understand and provide feedback about your strategy. The goal is to allow pictures that have probably really been shot by the user, and warn about pictures that probably have been shot by other people :-)

[2019-03-13 06:03] silkypriya commented on #2060
@nicolas-raoul I would like to work on this issue, in case @sp2710 is not working on this now.

[2019-03-13 06:28] nicolas-raoul commented on #2060
@sp2710 Does the PR 2366 does what is described in this issue, especially in the complement of information above? Sorry for not being clearer from the beginning!

[2019-03-13 06:41] sp2710 commented on #2060
@nicolas-raoul Yes it does what is described in this issue. It is ready to be reviewed

[2019-03-13 06:50] nicolas-raoul commented on #2060
@sp2710 Thank you! And sorry for the time it takes us to review all pull requests.

@silkypriya Could you please choose another issue? I suggest #2253 :-)

[2019-03-13 08:40] vanshikaarora commented on #97
@nicolas-raoul Here are my general observations:

### For Downloaded Images:
They contain the following directories:
- **JPEG** information like image size, pixels etc
- **JFIF** contains information like image resolution
- **File Type Directories** contains information about Image files
And other directories like Huffman Directory and in other cases might contain directories like WEBP directory (

[2019-03-13 09:40] shalishi commented on #66
Hi, I would like take this issue. Can I?

[2019-03-13 09:40] vanshikaarora commented on #97
I have raised a PR [here](https://github.com/commons-app/apps-android-commons/pull/2581) Kindly review :)

[2019-03-13 10:11] maskaravivek commented on #97
Do the above 3 directories exist for Google photo images?

[2019-03-13 10:24] neslihanturan commented on #1439
Currently this feature should be disabled, the only possible way to recenter is using recenter button

[2019-03-13 10:24] #1439 closed

[2019-03-13 10:45] neslihanturan commented on #1492
This should be solved now

[2019-03-13 10:45] #1492 closed

[2019-03-13 10:50] neslihanturan commented on #1509
Currently when we zoom in/out, edit fields are hidden. So seems like solved.

[2019-03-13 10:50] #1509 closed

[2019-03-13 10:52] neslihanturan commented on #1511
Implemented at #1573

[2019-03-13 10:57] neslihanturan commented on #1530
Not needed anymore

[2019-03-13 10:57] #1530 closed

[2019-03-13 10:59] neslihanturan commented on #1553
We have already implemented the task written here.

[2019-03-13 10:59] #1553 closed

[2019-03-13 11:06] madhurgupta10 commented on #2502
@misaochan Can I start implementing swipe to delete individual search? :)

[2019-03-13 11:06] neslihanturan commented on #1560
It seems like solved.

[2019-03-13 11:06] #1560 closed

[2019-03-13 11:09] neslihanturan commented on #1586
We already have this now, I guess?

[2019-03-13 11:58] neslihanturan commented on #1600
Fixed.

[2019-03-13 11:58] #1600 closed

[2019-03-13 12:03] neslihanturan commented on #1607
Seems like solved.

[2019-03-13 12:03] #1607 closed

[2019-03-13 12:07] neslihanturan commented on #1655
Yes, solved:)

[2019-03-13 12:07] #1655 closed

[2019-03-13 12:12] neslihanturan commented on #1656
But they appear after clicking back button and coming back to search field again. Ideally they should be added after we search, nothing to do with back button

[2019-03-13 12:19] neslihanturan commented on #1721
I couldn't reproduce it either, this one might be solved but not sure yet.

[2019-03-13 12:26] neslihanturan commented on #1754
Solved.

[2019-03-13 12:26] #1754 closed

[2019-03-13 12:27] neslihanturan commented on #1765
Seems like solved.

[2019-03-13 12:27] #1765 closed

[2019-03-13 12:40] neslihanturan commented on #1778
Solved.

[2019-03-13 12:40] #1778 closed

[2019-03-13 12:42] vanshikaarora commented on #2377
@neslihanturan Can you give please give your suggestion here? :)

[2019-03-13 12:42] neslihanturan commented on #1789
Related with #1531

[2019-03-13 12:44] #1799 closed

[2019-03-13 12:47] domdomegg commented on #2576
Also another thing to try is maybe clone with the Git URL instead of HTTPS - it shouldn't make a difference but from the sounds of the error it seems to be getting stuck processing the http prefix.

Your git URL:
[code]

[2019-03-13 12:52] #1913 closed

[2019-03-13 12:56] neslihanturan commented on #1963
Closing this one, lets continue under #2016

[2019-03-13 12:56] #1963 closed

[2019-03-13 12:58] neslihanturan commented on #1966
Solved:)

[2019-03-13 12:58] #1966 closed

[2019-03-13 13:10] vanshikaarora commented on #2392
@maskaravivek Here is the response for category images both are pretty similiar

![Screenshot from 2019-03-13 18-33-09](https://user-images.githubusercontent.com/34261945/54280880-85a81a00-45be-11e9-8e77-dbe8d86c91c0.png)

The parsing for CategoryList is done with

[code]

while for motd I have added

[code]

Should I use the same code for parsing mediaoftheday as of categorylist?

[2019-03-13 13:55] neslihanturan commented on #1984
Referencing #2509 here, they are slightly different but solutions may be related.

[2019-03-13 14:56] silkypriya commented on #2060
Yes sure! Thank you @nicolas-raoul

[2019-03-13 16:51] HareemWaqas commented on #2576
Thanks domdomegg!
 I am using Windows10,  trying again and again but still stuck, Let me follow your given steps ,i'll upload screen shots

[2019-03-13 16:56] vanshikaarora commented on #2377
@neslihanturan I have gone through the Issue closely.

### Reason's for failure

- Contribution and other data(like personal preferences in settings) are not fetched through API. They are stored locally in cache, files, databases and other storage's
- While logging out we call the delete file method, that delete's the following 8 Files:

1. cache
2. code_cache
3. shared_prefs
4. files
5. app_ACRA-

[2019-03-13 17:14] vanshikaarora commented on #2425
Add the "closed" property to items that do not exist anymore
Modify the latitude/longitude of items that are at a different place
I volunteer to do that work, as I expect the workload to be bearable.

@nicolas-raoul I am ready to work on this Issue. But before I begin I would like to know how are retrieving/sending these feedback's. Is there an API for it?

[2019-03-13 18:01] misaochan commented on #2553
Seems like @nicolas-raoul  is in agreement? In that case, let's go ahead and create this rule. :) I think it should only affect PRs created AFTER today's date, i.e. we should accept the PRs that are already up, if they satisfy all the other requirements.

[2019-03-13 21:53] dbrant commented on #1092
Yes, it is!
I've completed the bulk of the work, and here is the [repo](https://github.com/wikimedia/wikimedia-android-data-client). Here is a rough sketch of how the integration with the library will actually work:

Include it in gradle, in the usual way:
`implementation "com.dmitrybrant:wikimedia-android-data-client:0.0.5"`

The library provides a class called `AppAdapter` which you must derive

[2019-03-14 01:25] nicolas-raoul commented on #66
@shalishi OK, it is yours :-)
Please let us know about your progress every few days, thanks!

[2019-03-14 02:57] silkypriya commented on #2253
Hello @nicolas-raoul, @maskaravivek, @misaochan
Started woking on this issue.
Shall I make the pull request for above mentioned changes to the hackathon branch (https://github.com/commons-app/apps-android-commons/tree/wikimedia-hackathon-2018)
or I shall update this branch with the master and make pull request to the master branch.

[2019-03-14 06:45] nicolas-raoul commented on #1789
Oops I had not seen that one, thanks!

[2019-03-14 06:45] #1789 closed

[2019-03-14 06:56] nicolas-raoul commented on #2576
@HareemWaqas I suggest you ask at StackOverflow or another developers forum, since this seems to be independent from the app.

[2019-03-14 07:19] nicolas-raoul commented on #2425
@vanshikaarora Thanks!

As you have see, you will need to read and write to a Wikidata item's talk page such as https://www.wikidata.org/wiki/Talk:Q11311478
Yes, there is an API.
For the read part, actually something rather similar is being implemented right now for media talk pages:
https://github.com/commons-app/apps-android-commons/compare/master...sp2710:fix%231850?expand=1#diff-22835e29a24ad4

[2019-03-14 07:29] nicolas-raoul commented on #2553
Sounds worth trying!
If in the future the number of new contributors becomes really too low, then I guess we can revisit this decision :-) In that case we might want to try seasonal restrictions, with stricter rules in the pre-GSoC/Outreachy periods.

[2019-03-14 07:44] nicolas-raoul commented on #2253
Pull request should be made to the master branch :-)
There might be conflicts to solve, good luck!
Then please fix at least the first point raised by https://github.com/commons-app/apps-android-commons/issues/2253#issuecomment-450715009 , for instance by replacing "Yes" with "In scope" and "No" with "Out of scope".

@neslihanturan I realize just now that you might have been working on this? I sugg

[2019-03-14 08:41] VitalyVPinchuk commented on #1334
Hi!
Could I try to work on the issue?
But I'm new to android.

[2019-03-14 08:55] nicolas-raoul commented on #1334
@VitalyVPinchuk Are you done any programming with Java (or a similar language) before? :-)

[2019-03-14 09:07] VitalyVPinchuk commented on #1334
@nicolas-raoul Yes. Long time ago I had experience with C++ using MFC. And I've looked through "Advanced Android App Development" by Google at Udacity recently. So now seeking the opportunity to get my hands dirty.

[2019-03-14 09:13] nicolas-raoul commented on #1334
@VitalyVPinchuk  Cool!
This issue is yours :-)
Please be sure to:
- Before: Use the feature to understand how it works
- After your refactoring: Test to see whether it still works as intended.

Please report here about your progress every two days at least, thanks!

[2019-03-14 09:39] misaochan commented on #1092
Woohoo! \o/ Thanks so much, @dbrant .

[2019-03-14 09:52] maskaravivek commented on #1092
@dbrant Is there any specific reason for keeping minSdkVersion for the library as 19. Currently, our app targets 15 and above.

[2019-03-14 09:55] vanshikaarora commented on #2425
@nicolas-raoul I have gone through the API's available [here](https://commons.wikimedia.org/w/api.php). And I have found that we can create a new description entity for each of these talks. [Here](https://commons.wikimedia.org/w/api.php?action=help&modules=wbsetdescription) was an API that I have found useful.

[2019-03-14 10:09] nicolas-raoul commented on #2425
"description" is a different thing, we should not edit it.

We must use [edit](https://commons.wikimedia.org/w/api.php?action=help&modules=edit) with title being "Talk:" + the item QID

[2019-03-14 10:13] nicolas-raoul commented on #2425
To display the current content of the talk page, https://commons.wikimedia.org/w/api.php?action=help&modules=flow-parsoid-utils (also with `title` being "Talk:" + the item QID) seems like a good solution.

[2019-03-14 10:18] vanshikaarora commented on #2425
Ok I'll use this API @nicolas-raoul

Here is the work-list for me. That will be available in the next PR:

- [ ] Calling this API from ApacheHttpClientMediaWikiApi.java
- [ ] Adding an Icon in the bottom panel for talks
- [ ] Creating a new Activity for reading talks
- [ ] Deciding the best UI for the activity

Is there anything that you would like to add or suggest especially the UI part?

[2019-03-14 10:23] neslihanturan commented on #2002
I had chance for further investigation of this issue, here are results:
Real API 19 device, using home wifi (I am able to connect and login to commons with same wifi/ I am able to login from our app and using other functions of our app with API 24 emulator from same wifi):
    - Can not login at all
    - Skip login
        - Explore days no images found
        - Search some categories, says no c

[2019-03-14 10:27] nicolas-raoul commented on #2425
Writing down this work-list is a great initiative!

The content sounds good, for the API I think we have 3 use cases:
- Read content to display it (looking at https://github.com/commons-app/apps-android-commons/compare/master...sp2710:fix%231850?expand=1#diff-22835e29a24ad4eec8642964effa110cR76 will help for this one)
- Write content to a talk page that does not exist yet
- Append content to a tal

[2019-03-14 10:29] vanshikaarora commented on #2425
@nicolas-raoul Is this available currently?

[2019-03-14 11:42] misaochan commented on #2002
I am able to login on API 19.

Huh, it is very strange that you are not getting the API call results on verbose. Can you paste the ENTIRE logs, not just the error? Alternatively, use Send Logs.

(I fixed the indentation in your post. You need to use the triple apostrophe for multiple line code, not the single apostrophe.)

[2019-03-14 12:01] nicolas-raoul commented on #2425
I don't think so, you will probably have to read the content from the server, then concatenate, then send to the server 🙂

[2019-03-14 12:04] silkypriya commented on #2253
Thank you @nicolas-raoul.

I think slight change in UI can fix both first and second point mentioned in #2253 (comment).
Shall I proceed for following changes?

1. In order to make the flow more intuitive -
   Add "Next" button instead of "No" to move to next question.
   Currently there is no way to so to previous question, so adding "Previous" button would be useful.
   "Previous" button will be

[2019-03-14 12:06] neslihanturan commented on #2253
Hi @silkypriya , thanks for your interest.

I think this issue needs some discussion before starting:)
Firstly, this feature is implemented during the hackathon by 3 people, so needs some more work.

- The functionality works just fine
- One of the main problem is it requires to have a new item on nav drawer, we need to discuss are we willing to implement it in that way or not.
- The second proble

[2019-03-14 12:22] nicolas-raoul commented on #2253
There are so many mobile uploads each day, we need the review option to be
more visible, I would say.

I would argue in favor of an item in the navigation bar, that starts
reviews (potentially many) in the mobile uploads category only, by
last-uploaded order (or randomly if it is easier but only recent uploads).

I don't think we need a "Review other image" button, the "Next" button
should do that

[2019-03-14 12:34] neslihanturan commented on #2002
**All logs after from activity start to filling inputs and clicking login button:**
[code]
**Screenshot to make sure all logs settings are correct:**
![image](https://user-images.githubusercontent.com/3127881/54356951-e7738d00-466d-11e9-8e25-49bfe964c758.png)

**All logs after clicking skip login:**
[code]

@misaochan can you double check your build variant on your successful trial? It should be p

[2019-03-14 12:40] neslihanturan commented on #2253
Actually, a complete review has 4 steps, user may want to review other image before completing all independent 4 steps too.

If we will keep it as separate item on nav bar, then we can redirect user from explore to review activity when they wanted to review an image in explore page. So that we ca both use randomization and explore+review thing.

[2019-03-14 13:19] vanshikaarora commented on #2425
@nicolas-raoul I have parsed the API using

[code]

And got the following response
[code]

Currently the `source` passed as a parameter is returned as a response.

Is this intended?

[2019-03-14 13:19] dbrant commented on #1092
Sure, I can take the library minSdkVersion down to 15.  It's currently set to 19 because that's what we are using in our app.  Testing on ancient devices with API <19 is an enormous QA burden, with ever diminishing returns. Our policy is to support API versions for which Google still issues security updates.

Is there a reason you still support such old APIs? You have a grand total of 35 installs

[2019-03-14 13:21] neslihanturan commented on #2253
If we decide to use it as a new item on nav bar, then I think current UI is quite material design friendly. Some problems are:
    - When we switch to next one, whole page switches. Instead just question supposed to switch.
Problems on newly shared UI:
    - I think only having "yes" feels weird.
    - Previous design looks more material design friendly, let's keep the design more minimal (do not

[2019-03-14 13:44] misaochan commented on #2553
I have edited the "Volunteers Welcome" section of the wiki. To all contributors, please note that these changes will take effect on unassigned issues starting tomorrow.  Thanks all! :)

[2019-03-14 13:44] #2553 closed

[2019-03-14 14:14] misaochan commented on #888
Added a rule to our wiki for this: https://github.com/commons-app/apps-android-commons/wiki/Code-style

[2019-03-14 14:20] misaochan commented on #1092
We mostly try and support as many old API versions as possible, because we target users in developing areas that don't own PCs or have landlines (and hence cannot easily use the Upload Wizard). Theoretically many of them may be using secondhand phones or very old phones. So we are hesitant to increase the minimum because while we only have 35 users on <19 now, as the app grows, the number may incr

[2019-03-14 14:23] vanshikaarora commented on #2392
@maskaravivek I have modified the code and now I am using the following for receiving response
[code]

The response generated is as follows:

[code]

This contains the Url for the images, the next thing in hand is how to parse these Url's one way that I have found after searching is writing Regex but it is it the best solution or there is some other way too.
@maskaravivek @nicolas-raoul Can you pl

[2019-03-14 14:25] brendajerop commented on #2563
@nicolas-raoul I am not able to work on this issue as of now due to complications with my computer :(. So someone else can take it up.

[2019-03-14 14:26] vanshikaarora commented on #2563
@nicolas-raoul  Shall I take this up?

[2019-03-14 14:42] dbrant commented on #1092
Keep in mind that even if you increase your minSdkVersion, the previous version of the app will still be available to older devices via the Play Store.  So you wouldn't be depriving any users from accessing the app; you will simply be freeing yourself up to focus on meaningful features, rather than worrying about supporting extreme edge cases.

(By the way, one of those 35 installs is me -- I foun

[2019-03-14 14:55] mandylk commented on #2580
Hi, @ashishkumar468 @misaochan please can I work on this issue?

[2019-03-14 15:49] ashishkumar468 commented on #2580
Hi @mandylk  I have already made the fix for the same. Please feel free to pick one of the other issues. :-)

[2019-03-14 16:01] mandylk commented on #2580
Ok thanks @ashishkumar468

[2019-03-14 16:04] mandylk commented on #1656
Hi @neslihanturan please may I work on this issue?

[2019-03-14 16:19] ashishkumar468 opened #2585 "Crash in SearchImageFragment"
**Summary:**
The Observable in SearchImageFragment has not been disposed as per the fragment lifecycle and because of which the app crashes (along with memory leaks), when RxCallbacks are received after the fragment is stopped/detached

**System logs:**

[code]

[2019-03-14 16:19] madhurgupta10 commented on #2324
@nicolas-raoul I am unable to figure out why `if (!ConfigUtils.isBetaFlavour()) {
            setUploadCount();
 }`
is added in `onCreateView` in `ContributionsFragment.java`

[2019-03-14 16:41] ujjwalagrawal17 commented on #2563
Sure @vanshikaarora feel free to work on it.

[2019-03-14 16:41] vanshikaarora commented on #2563
Thanks @ujjwalagrawal17 :)

[2019-03-14 16:46] vanshikaarora commented on #1192
@nicolas-raoul @maskaravivek @ujjwalagrawal17 I have updated the PR.
The PR works well for single as well as for multiple images.

Kindly review :)

[2019-03-14 16:55] maskaravivek commented on #1192
Good work @vanshikaarora! Will review the changes tonight. :)

[2019-03-14 16:59] vanshikaarora commented on #1192
Thanks @maskaravivek, do share your feedback's after review :)

[2019-03-14 17:51] vanshikaarora opened #2588 "Mark notification as read after user click's(views detail of the notification)"
**Summary:**
Currently notifications are marked as read only after the user swipe's to delete them. While if the user clicks on the notification and then returns back notification's are not marked as read.

**Steps to reproduce:**

- Go to notification activity
- Click on the notification
- Notification detail activity opens
- Press back button to return to same activity

**Notification was't mark

[2019-03-14 18:11] #2576 closed

[2019-03-14 18:19] madhurgupta10 opened #2590 "Adding bubble scroll view to the app"
**Summary:**
Bubble scroll is popular among apps and helps the user to easily locate the photo they are scrolling for.

**Screen-shots:**
![](https://camo.githubusercontent.com/26b1a68095f8cf1e68add244bdcea7fdc376a341/687474703a2f2f692e696d6775722e636f6d2f556771687a75642e676966?utm_source=android-arsenal.com&utm_medium=referral&utm_campaign=4156)

**Would you like to work on the issue?**
No

[2019-03-14 18:19] dbrant opened #2591 "Update target API to 28 and dependencies to latest versions."
Any reason we can't do this now?
Prior to integrating with the new common library, I would recommend that all of the app's dependencies are updated to the latest versions.

[2019-03-14 18:26] maskaravivek commented on #2392
IMO, regex would be the best option. Another option is to use jsoup but it would require adding a library. Am not in favor of adding a library just for one small parsing.

I somehow feel that a lot of time and effort is going into this task. It might be okay to take a break from this task if you feel you can invest your time in other more fruitful tasks. It's your choice. :)

[2019-03-14 18:29] dbrant commented on #492
This will be handled via #1092

[2019-03-14 18:29] #492 closed

[2019-03-14 18:32] dbrant commented on #885
This will be handled via #1092

[2019-03-14 18:32] #885 closed

[2019-03-14 18:33] madhurgupta10 commented on #2588
@vanshikaarora I think it is better to have the notifications color to be changed (decreased intensity) when the user reads the notification and comes back since the user might not want to archive them.

[2019-03-14 18:44] dbrant commented on #995
Closing, since event logging was removed from the app.

[2019-03-14 18:44] #995 closed

[2019-03-14 19:09] dbrant commented on #1268
Closing in favor of newer task #2591

[2019-03-14 19:09] #1268 closed

[2019-03-14 19:10] neslihanturan commented on #1656
Sure @mandylk , go for it:)

[2019-03-14 19:15] madhurgupta10 opened #2592 "Overlapping text in login screen in landscape mode"
**Summary:**
The text is getting overlapped in landscape mode.

**Steps to reproduce:**
Go to the login screen in landscape mode in a tablet.

**Device and Android version:**
Stock Android API level 28 on Custom Virtual Device with the resolution 2048x1536 320dpi

**Commons app version:**
latest betaDebug

**Screen-shots:**
![screenshot-2019-03-15_00 41 21 186](https://user-images.githubuserconten

[2019-03-14 20:08] maskaravivek opened #2593 "Migrate to AndroidX"
**Summary:**

While working on #2591 I thought it would be nice to migrate to AndroidX as well.

Recently we ran into issues while adding new libraries or while updating to latest versions of existing libraries(which used AndroidX). Eg. #1192

https://developer.android.com/jetpack/androidx/migrate

[2019-03-14 21:54] dbrant commented on #2593
Whoops, you'll notice that I've already got a PR (#2595) that updates to API 28 (as well as library versions), and also fixes and updates CI to match these updates, along with a few other related issues in the code.

Perhaps the PR to migrate to AndroidX can be a separate one?

[2019-03-14 23:34] mumtazcem commented on #2239
Not unfortunately all phones (mine samsung galaxy J5) have a magnetic sensor. I finally borrowed one for this project that is why I could not update you guys...

However, since having a magnetic sensor is possibility, should I alert the user if they have a magnetic sensor or not? If a phone does not have a magnetic sensor, then the compass would work just as I described [above](https://github.com/

[2019-03-15 00:08] dbrant commented on #1131
A year ago (per above screenshot) the total number of installs on API <19 was just **92**. Today, that number is **35**, while the total installs have increased by 50%.

These devices are going away, and no longer need to be supported. Please consider prioritizing this issue, so that we can remove a number of fragile API-dependent conditional statements, as well as ease the unnecessary QA burden.

[2019-03-15 00:34] domdomegg commented on #2573
Fixed in #2574

[2019-03-15 00:34] #2573 closed

[2019-03-15 00:34] domdomegg commented on #2446
Fixed in #2574

[2019-03-15 00:34] #2446 closed

[2019-03-15 00:35] domdomegg commented on #2591
Related PR: #2595

[2019-03-15 02:04] maskaravivek commented on #2593
Yes, makes sense. I will rebase my PR(#2594) once #2595 gets merged.

[2019-03-15 02:51] nicolas-raoul commented on #2425
You can get the wikitext of the talk page like this:

https://www.wikidata.org/w/api.php?action=query&prop=revisions&rvprop=content&titles=Talk:Q11311478

Then either just display it like this, or put as as the source of your request above (and replace `Talk` with `Talk:Q11311478`