[2018-01-23 19:07] neslihanturan commented on #1092
You could look at #725 @sivaraam . It will be ready in 3 weeks hopefully. But we don't have a discussion about re-do login screen. Maybe you can start one.

[2018-01-23 19:20] psh commented on #1075
If I can weigh in -

Android apps generally avoid the ">" chevron - that's a sure sign that what you're looking at is either (a) a cross platform app (phonegap / react) or (b) its a poor port of an iOS app.  I would go with the suggested "cogwheel" icon but for accessibility make the icon _and_ the username tappable to give people the best possible chance of navigating to their profile page.

[2018-01-24 02:47] nicolas-raoul commented on #1065
I guess this scenario would happen to me rather often after Wikidata linking becomes available in the app:

1. Walk around an area taking pictures of Nearby places.
2. Have lunch in a restaurant and upload/link my pictures while waiting for the cook to prepare my dish
3. While eating desert, open Nearby again and check what places I have missed (forgot to upload or forgot to take a picture, which

[2018-01-24 04:55] psh commented on #1092
Several big pieces of the deeper parts of the app we have today -

* **SQLite Database**
    * A solid decision, and should stay in place, although the method we use to access it might evolve
    * Probably worth creating some documentation of what's actually in there
* **Sync Adapter**
    * Suggests that we might want to use the provided `ContentProviderClient` to connect with a `ContentProvider

[2018-01-24 06:09] psh commented on #1092
I think it's pretty much universally accepted that separating view, data model and business logic is a good thing these days.  The exact way to do it is debated - you've probably heard people talking about

* MVP (Model / View / Presenter) - really clean separation, but often lots of classes and interfaces
* MVVM (Model / View / Viewmodel) - very similar to MVP, just depends where you want busines

[2018-01-24 07:30] misaochan commented on #1075
Ah, okay, thanks. I agree that a cogwheel (with both icon and username tappable) would be good. :)

[2018-01-24 07:57] misaochan commented on #1092
@psh Thanks so much for the feedback! We are certainly contemplating adopting one of the commonly-used architectural patterns, but weren't sure which one. Your diagram is very helpful, I will read up more on the proposed architecture and come back with questions. :)

@sivaraam this issue is mainly for discussing the **backend** overhaul though. Could you please create a new one for the login scree

[2018-01-24 08:20] neslihanturan commented on #1087
Hi team, I am able to reproduce the bug with devices 5.0.2 and 4.42 API. It happens with category and without category uploads. When I follow debug break points, weirdly ModificationSyncAdapter is called even if I don't add any categories.

- I am able to upload with web site and see my new uploads from app's interface.
- When I upload an image with category it is normal ModificationSyncAdapter is

[2018-01-24 09:30] misaochan commented on #1087
@neslihanturan Thanks, this is very helpful! :) Additionally, could you please link the image that hasn't had categories added yet?

@psh The recent changes to ModificationsSyncAdapter were mostly the Dao injections that were added in #1047 . Do you think that could be relevant to this problem?

[2018-01-24 09:32] neslihanturan commented on #1087
Here: https://commons.wikimedia.org/wiki/File:Special_bread_from_Turkey.jpg

[2018-01-24 09:57] whym commented on #230
There is now a plan to add '[caption](https://commons.wikimedia.org/wiki/Commons:Structured_data/Get_involved/Feedback_requests/Multilingual_Captions)' into file metadata on Commons (as part of the WMF's Structured Commons initiative). It's in an early phase and we don't know how much of the mockups will be implemented, but I thought it's something to keep in mind.

[2018-01-24 11:19] tshradheya commented on #1040
Since there is no progress on this, I would like to take it up

[2018-01-24 12:09] tanvidadu commented on #1030
I unable to reproduce the same error.
Please help me with the this so I start working on this.

[2018-01-24 12:12] tanvidadu commented on #1040
I am still working on it

[2018-01-24 12:29] neslihanturan commented on #1040
Since @tanvidadu emailed she still working on it, I am labeling this issue as assigned. Look forward to your PR @tanvidadu :)

[2018-01-24 12:33] neslihanturan commented on #1030
Changing phone local would work. However I can suggest to focus on one issue at a time. Since you are working on #1040 we prefer to get your other PR first. Then if you still want to take this, I will label it as assigned. But currently this task is open for everyone.

[2018-01-24 12:39] sivaraam commented on #1065
Seems my theory really did meet practice. :-)

[2018-01-24 12:42] neslihanturan commented on #1065
Just since we are trying to define our refresh strategy, I will share an idea comes to my mind. Actually it could be great if we can display differences between markers when user refresh without changing location. Ie. with a basic toast message "You won't be seeing x, y, and z points in the list since they have photos now."

[2018-01-24 12:53] tshradheya commented on #1084
I think this can be closed, since I my PR on `fresco` repo to add the WikiMedia app is [merged](https://github.com/facebook/fresco/pull/2032).

[2018-01-24 15:08] #1005 closed

[2018-01-24 16:12] rjb2179 commented on #1030
Hi, I sent a PR for #1065 the other day. I could work on this. @neslihanturan

[2018-01-24 16:25] neslihanturan commented on #1030
I write a comment on the PR @rjb2179 and this issue is yours, happily scope of this task is defined better.

[2018-01-24 16:54] misaochan opened #1096 "Add section in wiki for Dagger usage in our app"
Just realized that we have a section for Butterknife usage in our [wiki](https://github.com/commons-app/apps-android-commons/wiki/Code-style), but not Dagger. IMO while Dagger is very useful, it can be difficult to get on board with. A section in our wiki might help newcomers (or even oldcomers who are unfamiliar with Dagger, like myself) to get started with using Dagger injections appropriately i

[2018-01-24 17:12] neslihanturan opened #1098 "Start category edit with capital letter"
Since almost all categories starts with capital, I generally have problem to find category even if I wrote exactly same word except using lower case at first. Sometimes xxxx did not match with Xxxxx, so I think making first letter of keyboard on category search input uppercase would increase user experience.

[2018-01-24 17:31] tanvidadu commented on #1098
I start working on this.

[2018-01-24 17:33] neslihanturan commented on #1098
Thanks @tanvidadu :)

[2018-01-24 17:39] psh commented on #1096
We already have

https://github.com/commons-app/apps-android-commons/blob/master/dependency-injection.md

I am happy to flesh things out more if other people have questions.

[2018-01-24 17:52] tshradheya commented on #906
I will take a stab on this

[2018-01-24 18:08] #1040 closed

[2018-01-24 18:14] neslihanturan commented on #906
Thanks @tshradheya , please take a look at #609 . It displays what was expected for this PR. Besides, this task requires testing carefully. Please note all shared preferences when refactoring and test all of them at the end. It would be great if you note them on your PR, so that we can test easier.

[2018-01-24 18:53] misaochan commented on #1096
Ah, I had no idea that was there! It would have been quite helpful. :)

Shall we move it into the wiki to consolidate things?

[2018-01-25 03:20] psh commented on #1096
I wrote that document before we did the recent refactoring so it might not be entirely accurate.  It should be checked before we add it to the wiki.  I linked to the Dagger user guide in the document but is there more we (ourselves) should say to help people?  Do you have questions that haven't been answered?

If you think that getting the document into the wiki would make it more accessible to pe

[2018-01-25 03:32] nicolas-raoul commented on #1084
Great thanks! :-)

[2018-01-25 03:32] #1084 closed

[2018-01-25 03:34] nicolas-raoul commented on #1084
Don't hesitate to look for other libraries having the same kind of page :-)

[2018-01-25 11:10] tanvidadu commented on #1058
I start working on this .

[2018-01-25 11:12] tanvidadu commented on #1098
Are there any more changes required in this issue?

[2018-01-25 11:22] neslihanturan commented on #1058
@mithlesh4257 are you still work on this issue? If not @tanvidadu is willing to take. If @mithlesh4257 has an ongoing work already, we should wait for him @tanvidadu .

[2018-01-25 11:22] #1098 closed

[2018-01-25 11:28] misaochan commented on #1096
I think what could help would be to provide a step-by-step example from start to finish.

So for instance, if I want to create a new class, DaggerExample.java that will use a LocationServiceManager. What I should do would be to:

1. Check if one of the methods annotated with `@Provides` in CommonsApplicationModule.java already returns a LocationServiceManager.
2. If it does, then I can use this me

[2018-01-25 11:33] mithlesh4257 commented on #1058
@tanvidadu you can start working on it :-)
@neslihanturan

[2018-01-25 12:27] mithlesh4257 opened #1103 "Add swipe-to-refresh"
Here is screenshot.
There should be swipe-to-refresh the image uploaded.
![swipe-down](https://user-images.githubusercontent.com/22450186/35388274-2257f358-01f9-11e8-8af4-24f19b69eb92.jpeg)

[2018-01-25 14:27] #1064 closed

[2018-01-25 14:29] misaochan commented on #7
Copied over from #1089 :

Changes needed before this feature is release-ready:

- Newest notifications should be on the top, as @whym suggested
- The "Notifications" item in the nav drawer should be nearer the top, possibly between Nearby and About, not at the bottom of the list (sorry, I know this is temporary and will not matter once we get the main screen UI overhaul done, but for the time bein

[2018-01-25 16:30] neslihanturan commented on #7
I agree with all bullets except

I think it can be nice to see thanks notifications also. To make sure the file is uploaded to commons server.

[2018-01-25 17:32] neslihanturan commented on #1087
Hi team, since this is one of our most critical issue I tried to investigate. I think it is related with #1042 and @Inject's creating an instance when it is necessary. But I am not a Dagger expert yet to detect the problem. However, since I am able to upload form my beta account and not able to upload from my production, I prepared a comparison to catch something. Sharing with you and hoping it wi

[2018-01-26 05:56] sivaraam opened #1106 "Completely overhaul app's User Interface"
This is a discussion thread similar to #1092. This was initially a comment in the same thread.

I have long been thinking of suggesting a similar issue for the UI. Though the recent overhaul had made some significant improvements, I still thinks it would be better to completely overhaul the UI as I could still see some dominance of legacy UI even after some overhaul.

As an motivator for why I thi

[2018-01-26 06:03] sivaraam opened #1107 "Avoid "form movements" in the login screen"
By "dynamism", I mean trying to keep the username and password fields always at the center of the available screen space. This distracts the user when he fills in the fields.

From #1106,

[2018-01-26 06:48] sivaraam commented on #1065
@neslihanturan The idea of showing a difference explicitly when the user refreshes without changing the location seems to be a nice one but listing the names doesn't seem to be. It might be hard to read the names of the location in the toast and to immediately identify them. I could see 2 alternatives:

1. *Visual distinction using animation*: If the location currently visible in the screen has go

[2018-01-26 09:42] neslihanturan commented on #1065
@sivaraam Snackbar sounds good to me:)

[2018-01-26 09:52] neslihanturan commented on #1106
Thanks @sivaraam for sharing this UI improvement idea. I think we can collect UI improvement ideas under this thread with references. To get back to rewriting hole UI, we have to start from some point:)

[2018-01-27 03:12] knightcube commented on #1103
Can you please tell me where can i make the changes for the swipe-to-refresh to work?It would be helpful if you could tell me the package name to work inside

[2018-01-27 05:55] psh commented on #1096
I pulled together a first draft based on the existing file and your question here.

https://github.com/psh/apps-android-commons/wiki/Dependency-Injection

Thoughts?

[2018-01-27 07:58] neslihanturan commented on #1103
@mithlesh4257 I don't think this is necessary for our app. Since we already fetch whenever an image is uploaded, there is nothing to fetch on swipe down. So closing this for now, you can always reopen it. @knightcube you can look at beginner friendly tasks and pick one:)

[2018-01-27 07:58] #1103 closed

[2018-01-27 08:17] nicolas-raoul opened #1108 "Nearby listings from Wikivoyage with no Wikidata item"
Most Wikivoyage listings have no Wikidata item (because they are about not-so-notable things such as a small castle or local museum).
But many have latitude/longitude, and all accept an `image=` parameter which is often empty. This image is used in dynamic maps.

Having pictures for these would improve Wikivoyage, which is a WMF project.

Example: The tunnels at https://en.wikivoyage.org/wiki/Kinm

[2018-01-27 15:44] psh commented on #1096
I feel like the codepath link you shared would be better than simply linking to the Dagger user guide. I'll find a way to get it in there. Thanks for the link @misaochan!

[2018-01-28 13:28] tanvidadu opened #1109 "Hide Keypad when EditText out of focus"
In order to increase the user experience the keypad should be hidden each time the editText is out of focus.

Activity and fragment that include this feature:
 1) fragment_single_upload

Activities or fragments that need this change:
1)  activity_login
2) fragment_categorization
3) fragment_multiple_upload_lists

[2018-01-28 16:05] misaochan commented on #1087
Hi guys, apologies for my absence as I have been away this weekend. This is a fairly critical bug with the crash rate being 7.79% at the moment impacting ~300 user sessions. Unfortunately if a fix cannot be found soon we may need to revert the recent changes to ModificationsSyncAdapter for the time being. :(

[2018-01-28 16:35] misaochan commented on #1096
Thanks for the new wiki draft! I'll take a look ASAP. :)

[2018-01-29 10:49] Aschroet opened #1110 "Location template not added in MultipleShareActivity"
Although my previous uploads contain GPS coordinates the location template was not added. Seems to be a regression. I uploaded as a bulk upload.

Example: https://commons.wikimedia.org/wiki/File:Eternal_Alphabet_Yerevan_-_12.jpg

[2018-01-29 11:52] whym commented on #1087
If the revert has to be done, will the result of the revert be the new master, or will it be done in a separate branch?

[2018-01-29 12:21] whym opened #1112 "Fix string resource values with '%s'"
It looks like the values with '%s' in https://github.com/commons-app/apps-android-commons/commit/28a6a3b71d73bdd14c93d27689d171e871420e69 caused compilation errors in https://github.com/commons-app/apps-android-commons/commit/72cddbf684ace2e5681a2404bbcfdba7eeaae95b . The problem is that apparently translatewiki.net cannot preserve the 'formatted="false"' attribute.

However, even if translatewiki

[2018-01-29 16:09] misaochan commented on #1087
Yeah, the revert is done in the 2.6.7 branch. That is also the branch that I will be releasing if it solves the crash for @neslihanturan . I am still unsure if it should be merged into master later though, or if we should keep it separate for the time being. What do you think?

Also, I should note that the 2.6.7 branch works well for me with the exception of the number of uploads (in the action ba

[2018-01-29 16:12] neslihanturan opened #1113 "Several errors on string files"
When I tried to build 2.6.7 branch, I get these errors:
`AGPBI: {"kind":"error","text":"Multiple substitutions specified in non-positional format; did you mean to add the formatted\u003d\"false\" attribute?","sources":[{"file":"/home/nes/AndroidStudioProjects/CommonsApp4/apps-android-commons/app/src/main/res/values-bn/strings.xml","position":{"startLine":214,"startColumn":2,"startOffset":16605,"en

[2018-01-29 16:15] misaochan commented on #1087
Oh dear. 2.6.7 also tries to add a category multiple times. :/ I am glancing through my revert additions/deletions in comparison to #1047 's, but they look accurate to me and I don't see any discrepancies, especially not anything that could cause this. Strange.

https://commons.wikimedia.org/w/index.php?limit=50&title=Special%3AContributions&contribs=user&target=Misaochan2&namespace=&tagfilter=&st

[2018-01-29 16:22] neslihanturan commented on #1113
Solved by re-import and clean...

[2018-01-29 16:22] #1113 closed

[2018-01-29 16:23] neslihanturan commented on #1087
And I am still unable to upload, after revert.

[2018-01-29 16:38] misaochan commented on #1087
Oh wow, a 5th "bistro" just got added to that category list, lol. I think we need to get a better understanding of how modifications work.

[2018-01-29 17:55] neslihanturan commented on #1087
Okay here are test results, I went back from master to see if I am able to upload, all of the trials are refresh installs:
1- On commit [660439894533bf42c19d3128deb81549d60b1eaa](https://github.com/commons-app/apps-android-commons/tree/660439894533bf42c19d3128deb81549d60b1eaa), just before notifications merge, unable to upload with no error.
2- On commit [435e7900bdc5a1f14b8d1a3677f9c5f3d8ca5f7b](

[2018-01-30 06:06] nicolas-raoul commented on #7
Is there a way to filter these specific thanks? Or to only show thanks that are related to an upload rather than an edit?

[2018-01-30 09:27] misaochan commented on #1087
Talked to @neslihanturan about this. Some of our speculations:

1. This issue was always present, but didn't crash until the recent release, so we had no idea we existed. However this doesn't explain the massive uninstalls after the recent release - if the app had never worked for those people, they would likely have uninstalled long ago.
2. This issue was indeed caused by a recent PR, and the rea

[2018-01-30 10:41] misaochan commented on #1087
It seems that even the rollback isn't going to be that simple. I was cherry-picking the Dagger fix and wondering why there were so many conflicts and compile errors. It appears that the Dagger fix that we want (#1062 ) builds on top of other changes to those files, so it will not be trivial to cherry-pick the Dagger fix.

I have some thoughts on how we can prevent this problem in the future and wi

[2018-01-30 10:54] misaochan opened #1115 "Changing our release and hotfix system"
Currently, all releases are done from master, and all hotfixes to release issues are also submitted to master. Brief history of the problems that we are encountering with our current release system:

- We had a major issue with Dagger crashes in 2.6.5, which was solved by #1062
- #1062 was released via 2.6.6
- 2.6.6 fixed the Dagger crash from 2.6.5, but also included other changes that caused a d

[2018-01-30 11:20] whym commented on #1087
How about re-releasing 2.6.5 as 2.6.7 without cherry-picking anything?

[2018-01-30 11:25] neslihanturan commented on #1087
Hi team, I will share something that I learned by change. My account is not blocked, that's why I don't have any notifications and I am able to upload by browser. But I learned that IP address of my VPN is blocked (the one that I used on my Android device, not laptop). I am not able to test to upload via app without VPN (since there is still block from Turkey), and very unlcky only I could reprodu

[2018-01-30 11:28] misaochan commented on #1087
@whym The Dagger crash from 2.6.5 #1036 would make that a very unattractive option. Admittedly 6% crash rate is better than 12%, but still. If @maskaravivek can rework his PR to be independent of the other options, that might be the best bet?

[2018-01-30 11:41] misaochan commented on #1087
Interestingly, it seems like there might be a 3rd option. I closed #1090 because @neslihanturan , who was the only person able to reproduce the bug, said that while her crashes were fixed by that PR, her uploads failed. She tested this 6 days ago, and her IP block was done 10 days ago. So, there is a possibility (albeit not a guarantee) that #1090 actually does fix the problem. We might have thoug

[2018-01-30 11:49] whym commented on #1087
@neslihanturan

You might be able to avoid this problem by getting whitelisted ([IP block exemption](https://commons.wikimedia.org/wiki/Commons:IP_block_exemption#Used_for_anonymous_proxy_editing)).

[2018-01-30 11:53] misaochan commented on #1087
Sweet! Too bad this is done via email, so we can't post in support of the application. @neslihanturan Please feel free to mention your involvement in this project in the email that you send them. Also feel free to have them contact me if they wish.

[2018-01-30 16:21] mithlesh4257 commented on #872
I like to handle it.

[2018-01-30 17:18] misaochan commented on #1115
Thanks @psh . :)

Re: feature branches, indeed we have tried using them a bit, but currently their use is restricted to large features that more than one person is collaborating on (e.g. direct nearby). Do you think we should be using them more than we currently are?

[2018-01-30 17:46] misaochan commented on #872
@mithlesh4257 , we really appreciate the offer, but you currently have 2 PRs in the works that have changes requested (for fairly basic things). I would strongly recommend focusing on those, and on learning as much as you can about Git and Android development. You will be able to contribute much more after you do that. ;)

This particular issue is an extremely involved one that we are still unclea

[2018-01-30 20:43] psh commented on #1115
I think you've outlined a nice lightweight process with minimal branching, it all looks good to me.

[2018-01-31 03:54] nicolas-raoul commented on #1115
The workflow you described is great, actually I have used it successfully in other projects.

Feature branches are great too, though they should get merged into master as soon as possible (as soon as the feature is ready) to avoid late bad surprises. It is more important than always having a stable master.

[2018-01-31 04:02] psh commented on #1087
If there is a problem with corrupted data, it should be simple enough to release a version of the app where we bump the version of the database by 1 and add steps in the migration script that fixes the data (for instance, finding and deleting orphan records in one of the tables).

[2018-01-31 04:31] cfva14 commented on #1112
Working on it.

[2018-01-31 07:36] misaochan commented on #1115
Thanks guys! I'll add this to the wiki then. :)

@maskaravivek and @neslihanturan , if you guys are good with this, we can start implementing this system in the next release.

[2018-01-31 09:37] neslihanturan commented on #1087
After my VPN problem is fixed, I am no longer able to reproduce the crash:/

[2018-01-31 11:43] mithlesh4257 commented on #872
Thanks @misaochan :-)

[2018-01-31 13:03] misaochan commented on #1087
It appears that future uploads do not fail, either. :)

This is a good thing IMO, it means that the issue is much less severe than we thought.

[2018-01-31 16:00] misaochan commented on #1087
I have made the NPE temp fix at #1090 , but we should continue trying to find the reason for the empty cursor. When we find it and have a fix ready for it, we can remove the null check from ModificationsSyncAdapter to see if our fix works.

[2018-01-31 19:48] tanvidadu commented on #1044
Is adding Zoom feature into picture up for grabs?

[2018-01-31 20:20] rjb2179 commented on #1030
@neslihanturan what exactly are you suggesting when you say change the phone locale? Should Categories not accept the Hebrew locale?

[2018-02-01 03:28] nicolas-raoul commented on #1044
@tanvidadu Yes if you create an activity to zoom/pan into the picture, I am pretty sure it will get used. Thanks! :-)

[2018-02-01 03:51] nicolas-raoul commented on #1030
Unfortunately categories are only in English (this is outside of our control. There is a plan to make them multilingual, but that will probably take 5 years or more, maybe it will never happen).

But to reproduce the error, you must change your phone to the Hebrew locale (if you have not done it already). This means Android will display all system menus/etc in Hebrew. Just remember visually the pr

[2018-02-01 08:28] misaochan commented on #1110
Thanks for reporting this! I tested and have also found that image coordinates are not saved when uploading via MultipleShareActivity (and probably not checked at all, as category suggestions based on geolocation are not offered).

@Aschroet Does it work for you when uploading via the app, as a single file?

[2018-02-01 08:50] misaochan commented on #1091
@whym @psh or anyone else: Suggestions on how we can best organize the upload logic, especially in preparation for #604 ?

[2018-02-01 09:14] nicolas-raoul opened #1118 "Itinerary covering nearby places"
I stumbled upon this old app that does not work anymore since 2015:
https://commons.wikimedia.org/wiki/Commons:Unvisited_app

I find it interesting that they suggest an itinerary to cover all points of interest in the area:

![unvisited_trip_map_around_elm_street_historic_district _new_haven_ct](https://user-images.githubusercontent.com/99590/35669725-65c6ff00-0779-11e8-85bb-8c8e0058ae55.png)

Som

[2018-02-01 09:29] Aschroet commented on #1110
@misaochan, for single files it works as expected.

[2018-02-01 09:33] mujahid-sagoon commented on #152
Any update on this?
facing the same issue.

[2018-02-01 09:35] nicolas-raoul commented on #152
@mujahid-sagoon What version of the app are you using? You can see in "About".
Thanks for the feedback! :-)

[2018-02-01 10:04] mujahid-sagoon commented on #152
Thanks for the quick response @nicolas-raoul
The issue is coming on Android 7.0 , device Samsug Galaxy J7.

[2018-02-01 10:09] whym commented on #1112
I thought it was fixed but apparently it wasn't. https://travis-ci.org/commons-app/apps-android-commons/builds/336021170

It looks like the recent translation update brought new entries with the same problem.

[2018-02-01 11:40] misaochan commented on #1091
Also, I think this should go on a feature (upload-overhaul) branch, so that we can get a complete implementation of the following, before we roll out to users:

- Upload code overhaul (this)
- Multiple uploads from within the app (#604 )
- Upload tests (#705 )

[2018-02-01 13:43] liormic commented on #1109
I start working on this :)

[2018-02-01 16:25] cfva14 commented on #1112
I think the problem was that I forgot to clean and rebuild before merging. Because I don't see any of these complaints in the XML files.

[2018-02-02 01:00] whym commented on #1112
In fact there were new entries made after you sent your PR: https://github.com/commons-app/apps-android-commons/commit/f8527e6b4f9bc99983a3da3aae20f81414985939#diff-ab4db9feb3f7075f514c574b1c7410a4R211

[2018-02-02 02:34] nicolas-raoul commented on #152
@mujahid-sagoon What version of the app are you using? Please send a screenshot of the app's left menu.

[2018-02-02 05:29] nicolas-raoul commented on #152
@mujahid-sagoon Have you ever tried this application? https://play.google.com/store/apps/details?id=fr.free.nrw.commons
If not, then you are at the wrong place, and should ask your question at stackoverflow.com
Cheers!

[2018-02-02 17:25] rjb2179 commented on #1030
@neslihanturan I'm not working on this anymore.
sorry :(

[2018-02-03 04:42] tanvidadu commented on #1044
Workflow: A class which has a function that takes imageview as parameter  to be zoomed in zoomed out. class implements onTouchListener. Is it okay ?

[2018-02-03 05:05] psh commented on #746
An upload queue would be a really nice addition to the app - it would be a great debug tool for us as it gives insight (and manual control of) the sync adapter & its database.

Mockup 1 - normal operation
![upload queue](https://user-images.githubusercontent.com/407647/35763119-a0ccc2d2-086a-11e8-9893-669a25124ca3.png)

Mockup 2 - waiting for a wifi connection
![upload queue waiting for wifi](http

[2018-02-03 11:07] neslihanturan commented on #1044
What kind of zoom/pan do you think @nicolas-raoul ? Don't you also think the upload screen is very crowded for such thing? @tanvidadu probably discussing more before implementation would be nicer. Can you share some mockups, what do you have in your mind?

[2018-02-03 11:08] neslihanturan commented on #1030
Don't worry @rjb2179 . This task is free for new beginners from now on:)

[2018-02-03 11:16] neslihanturan commented on #1118
I think displayin all points (according to our current algorithm), but using a different color for closer (according to time/distance constraints) ones would be nice. If we only display reachable points,  we may miss some points that are a little far from users distance estimation. It can be hard for user define the constraints sometimes.

Also we can consider this feature as a part of our gamific

[2018-02-03 15:31] tanvidadu commented on #1044
I was aiming for something like this
![zoommockup](https://user-images.githubusercontent.com/29161745/35768649-50f7318c-0925-11e8-8829-4ed9287b0b00.gif)

[2018-02-03 15:32] neslihanturan commented on #1044
I mean, how do you think to adapt this into our app?

[2018-02-03 15:35] tanvidadu commented on #1044
we could apply this feature to the image at the background.

###### In order to write a correct title/description I often need to see all small details of the picture.

[2018-02-03 16:57] neslihanturan commented on #1044
I am not able to imagine this since we already have buttons on top of image at the background, and a transparent layer. As a user I wouldn't expect to zoom an image behind a semitransparent layer. I think this can be only implemented after UI screen is improved. But it is my personal opinion and asking to the team for discussion, what do you think, team?

[2018-02-04 12:52] sivaraam commented on #1044
I agree with what you say @neslihanturan. But I think @nicolas-raoul didn't mean to incorporate the zoom feature into the current upload screen. I thought he advised @tanvidadu to create a separate activity that allows a given picture to be zoomed/panned which we could later use as part of the revamp of the upload screen. I might be wrong so it might be better to confirm this with him.

[2018-02-04 16:36] misaochan commented on #1044
I do agree that this needs further discussion. I'm not sure if allowing the user to directly zoom the background image in the upload activity is a good idea, and given that it is semi-transparent, will the user be able to see much?

As an alternative, could we have a "view image" option in the upload activity, and tapping on it could pop up a zoomable version of the image?

[2018-02-04 16:37] psh commented on #746
I believe I made a bad assumption about how multiple share works in those mockups - looking through the code I see that although I might share 5 images in a single "batch" and they land in the database with a flag saying `multiple=true` there isn't a concept of a upload group ID to tie them all together.  Would that be something we want to add?  If so, I can create an issue for it.

[2018-02-04 16:50] psh opened #1119 "Tech-improvement: Remove hard-coded column indexes from queries"
Currently the code makes assumptions about the order of columns that are returned from database queries.  For instance,
[code]
Android's `Cursor` class provides a method to look up a column index based on a name so instead of `cursor.getString(1)` I can use a much safer
[code]
The code will end up a little more verbose but long term it will be robust against column order changes.

This issue isn't

[2018-02-05 00:52] hismaeel commented on #1119
Hello. I can start working on this. I am new to the community and OSS in general; I would love to get going.
Best :)

[2018-02-05 19:40] maskaravivek commented on #1112
Is someone working on this issue? This task fails while trying to build.

[code]

[2018-02-05 19:50] maskaravivek commented on #1112
Am not sure if anyone is fixing it currently. Am taking this up.

[2018-02-05 20:19] #1112 closed

[2018-02-06 07:18] nicolas-raoul commented on #1119
@hismaeel It's yours, looking forward to your pull request :-)

[2018-02-06 07:34] nicolas-raoul commented on #1044
I was thinking about something like below: A preview of the image is visible, and clicking on this thumbnail brings in the zoom/pan activity that @tanvidadu implemented. Pressing "Back" leaves the zoom/pan activity and brings the user back to adding more details about the picture.

I don't think this is a crowded screen, but the preview can be made much smaller if needed, for instance as a thumbna

[2018-02-06 08:08] maskaravivek commented on #328
Fixed in #1048

[2018-02-06 08:08] #328 closed

[2018-02-06 08:08] maskaravivek commented on #352
Fixed in #1048

[2018-02-06 08:08] #352 closed

[2018-02-06 08:14] misaochan commented on #1044
I think @nicolas-raoul 's mockup looks great. :) Although I do wonder how we will make it work with #604 , which will be implemented soon.

[2018-02-06 09:48] neslihanturan commented on #1044
Maybe same design would work with a grid composed from uploading multiple images, sure zooming and moving should work independently on each grid cells, what do you think?

[2018-02-06 10:29] misaochan commented on #1096
@psh I went through the new wiki draft, as an accompanying guide for my work on the Nearby List direct uploads. While the new draft was a huge help, I still found myself with an unanswered question:

- What do you do when you need to inject dependencies into a class that is not a Fragment, Service, Activity, or ContentProvider?

The "Dagger configuration in Commons app" section mentions how to add

[2018-02-06 12:31] nicolas-raoul commented on #75
There is a grant proposal to create an API for that:
https://meta.wikimedia.org/wiki/Grants:Project/AICAT

[2018-02-06 13:53] misaochan commented on #1044
Sounds good, but we would probably need to set a limit to the number of pictures displayed.

I can't read that language either, but I am pretty sure the ordering of the fields is title and desc on top, then license and policies on the bottom. ;) Just realized that that mockup is missing the "use previous title/description" button, though.

[2018-02-06 13:58] misaochan commented on #75
@nicolas-raoul Sounds very useful! How did you hear of it? I wanted to post an endorsement, but their community notifications section is still empty so I was hesitant. :)

[2018-02-06 14:15] junkiattan commented on #1029
@nicolas-raoul

This issue seems to be open! can I take this up?

[2018-02-06 15:33] nicolas-raoul commented on #75
@misaochan I learned about it here: https://www.wikidata.org/wiki/Wikidata:Project_chat#Interesting_initiative
I added an endorsement.

[2018-02-06 15:45] misaochan commented on #1029
@janani-sridhar Could you please let you know if you are still working on this? We would like to give the issue to @junkiattan if you aren't. :) Thanks!

[2018-02-06 15:47] misaochan commented on #75
I did the same. :) Even if the grant is approved though, it will probably be about a year before the API is usable (the grant is 8 months, and I believe the next Project Grant round starts in July).

[2018-02-06 16:00] mithlesh4257 commented on #1110
Now I am more prepared. I can handle this.

[2018-02-06 16:15] nicolas-raoul commented on #1044
Sorry it was just to give an idea, a better mockup would be needed :-)

[2018-02-06 16:16] misaochan commented on #1110
@mithlesh4257 Sure, go for it. :)

[2018-02-07 03:06] psh commented on #1092
I've been doing some digging - I implemented most of an "Upload Queue" and had to test what a failed upload looked like, and if I could restart it.  That's when I encountered a **bug** deep in the app, while running on an Emulator (but I expect real phones to act similarly).

When photos are shared with our app, we pull them from the incoming `Intent`
[code]
The incoming Uri has a `content://` pre

[2018-02-07 06:21] tanvidadu commented on #966
I am unable to replicate the error. Please help with this so I can go ahead with fixing it. Thanks :)

[2018-02-07 08:34] noloman commented on #171
Hi! I'd like to help with this as a way of getting to know the app for future contributions. Is this issue still open and valid? Thanks!

[2018-02-07 08:50] maskaravivek commented on #966
Must be happening when the required permissions are not provided.

[2018-02-07 10:45] domdomegg commented on #171
Yep, while there are issues on [Codacy](https://app.codacy.com/app/commons-app/apps-android-commons/issues) and found by Android Studio, there are.

Thanks for helping out :)

[2018-02-07 15:49] misaochan commented on #1044
Haha, sorry, Nicolas, didn't mean to rag on your mockup! :) Just mentioned it so that the person working on the implementation knows what else to add.

[2018-02-07 16:03] misaochan commented on #1096
I think I may have found the answer to my question (implemented in #1121 ). Classes that are not Fragments etc apparently can have injection performed directly in them? So the steps I used to inject SharedPreferences into PlaceRenderer.java were:

- Check if one of the methods annotated with `@Provides` in CommonsApplicationModule.java already returns a SharedPreferences named ("direct_nearby_uplo

[2018-02-07 16:15] hismaeel commented on #1119
Great. Just made a pull request :-)  @nicolas-raoul

[2018-02-07 16:31] misaochan commented on #252
Been thinking about how to implement and test the p18 edits. There are bound to be some problems when testing at the start, and it surely wouldn't endear us to the community if we vandalized some of the Wikidata listings during development... is there a "Wikidata beta" server that we can use as a sandbox for development, much like our current Commons beta server uploads? @nicolas-raoul @whym @Vojt

[2018-02-07 16:43] hismaeel opened #1125 "Request for CONTRIBUTING.md file"
Hi fellow enthusiasts. I, just like many others, usually look for a CONTRIBUTING.md file. While currently there are instructions in the readme file, and in the wiki, I think there should be more details, and instructions should be coalesced into one conventional file. Also, since this is an android app, contributions can have two routes, and both should be detailed:

- directly use terminal/(GitBa

[2018-02-07 17:20] misaochan commented on #1125
Thanks for the suggestion, @hismaeel ! Is this really the standard for most open source repos? I'm okay with adding a new file, but I'm concerned about duplication and maintenance (for instance, if we change any of our workflows or policies, we would need to edit BOTH the wiki and the .md file).

Thoughts, anyone?

[2018-02-07 17:30] tanvidadu commented on #1044
I am almost done with zoom/ pan class should i send a PR for the same ? thanks :)

[2018-02-07 18:03] psh commented on #1096
I've made the edits to our wiki - https://github.com/commons-app/apps-android-commons/wiki/Dependency-Injection

[2018-02-07 21:33] hismaeel commented on #1125
Hmm. We could just add more details to the wiki page, and create a CONTRIBUTING.md file that just says: "Please see our guidelines in the wiki: https://github.com/commons-app/apps-android-commons/wiki/Volunteers-welcome%21".
Mozilla does this for a few of their repos.

[2018-02-08 04:30] nicolas-raoul opened #1126 "Open map of place where picture was taken"
I often want to check on Google Maps what is the exact name of a building, or find out what is that thing in the background, or determine whether I was technically in North-Kilda or South-Kilda.
This could be another button in the description screen, but actually I often need it in the categories screen, when two proximity categories appear and I need to choose the right one.
It should open the de

[2018-02-08 05:46] nicolas-raoul commented on #252
This sandbox item is yours: https://www.wikidata.org/wiki/Q13406268
Feel free to set its coordinates to it as you see fit. I just deleted its P18.

[2018-02-08 08:19] misaochan commented on #1125
Sounds good to me! The task is yours if you want it. ;)

[2018-02-08 08:19] misaochan commented on #252
Thanks @nicolas-raoul ! It'll be a while before we get there, but good to know we have those ready for testing. :)

[2018-02-08 08:20] misaochan commented on #1096
Thanks @psh !

[2018-02-08 08:27] misaochan commented on #1096
I've added the examples to the wiki, please feel free to modify if needed. I guess we can close this task as the basics have been completed. :)

[2018-02-08 08:27] #1096 closed

[2018-02-08 08:28] misaochan commented on #1044
Hi @tanvidadu , please feel free to submit your PR whenever. :) We will review it and get back to you with any changes that are needed (if any).

[2018-02-08 08:30] misaochan commented on #1126
Sounds good to me! Where do you think the button could be in the categories screen?

[2018-02-08 09:01] nicolas-raoul commented on #1126
Hard question!
To help us think, here are the description and categories screens:
![school-description](https://user-images.githubusercontent.com/99590/35963915-96244fba-0cf9-11e8-8897-f4e99ffcc85e.png)
![school-categories](https://user-images.githubusercontent.com/99590/35963882-85ff7042-0cf9-11e8-8404-02435974fb18.png)

A map icon in the title bar would be relatively easy to implement and consis

[2018-02-08 10:30] misaochan commented on #1126
Yeah, I would be very much against having it in the action bar.

Perhaps on the left side of the text field? But it wouldn't be very intuitive for users I think, they might wonder what a map icon is doing there and what it has to do with categories...

[2018-02-08 13:29] whym commented on #252
There is also test.wikidata.org. The "image" property is [P185](https://test.wikidata.org/wiki/Property:P185) there, so a little modification will be necessary, though.

[2018-02-08 14:08] hismaeel commented on #1125
Yup, on it

[2018-02-08 14:48] nicolas-raoul commented on #1126
Putting it only at least on the description screen (where it is the most useful) could be a good first start, until we get a good idea for the categories screen.

[2018-02-09 01:54] hismaeel commented on #1125
Done. Cleared some details in Setting up dev environment page. And added more details to the wiki.

Best!

[2018-02-09 02:01] nicolas-raoul commented on #1125
Thanks!

[2018-02-09 02:01] #1125 closed

[2018-02-09 05:45] psh opened #1128 "Thinking about a combined "share" GUI"
I spent some time in [Sketch](https://www.sketchapp.com/) today thinking about what a user interface might look like if we combined the single-share and multi-share activities into a single workflow.  The thought experiment was about sharing 4 images with the Commons app, noting that we've had requests for

* the ability to add title + description to all images in a set
* pinch + zoom to scale the

[2018-02-09 06:10] nicolas-raoul commented on #1128
Thanks for these nice ideas!

One thing: I am very hesitant to reduce the space available for category search. Category search is the most important part of the app, I would say, as uncategorized images are not worth their bytes. Finding the right categories is hard enough with full-screen on a large smartphone (I scroll hundreds of category suggestions for each picture I upload: location-based su

[2018-02-09 11:52] misaochan commented on #1128
I love these! I think it's a step in the right direction in general, especially the collapsible top and bottom cards.

A few concerns:
- Is there a need for "name this set" for multiple uploads? We do have that currently (when you select multiple images in gallery and tap 'share'), but it actually REPLACES the title/desc, it isn't additional to it. This is legacy code, which we are likely to ditch

[2018-02-09 19:17] psh commented on #1128
So, tweaking thoughts about the category search - is this more of what you were thinking?

![share activity - step 6 - alternate](https://user-images.githubusercontent.com/407647/36045381-270c54e0-0d9b-11e8-8e53-4753376c8b61.png)

allowing for the top card to (optionally) be collapsed / expanded to see more

![share activity - step 6 - alternate collapsed](https://user-images.githubusercontent.com

[2018-02-10 07:40] harisankerPradeep commented on #954
This what I have done so far:
In ShareActiviy.java the function getFileMetadata() creates a GPSExtractor object to extract the GPS coordinates from the selected image. If the GPSExtractor returns null or if it returns the current the GPS location of the user, findOtherImages() is called (This is a function I made).
`if (imageObj != null) {
                // Gets image coords from exif data or use

[2018-02-10 07:41] harisankerPradeep commented on #954
This what I have done so far:
In ShareActiviy.java the function getFileMetadata() creates a GPSExtractor object to extract the GPS coordinates from the selected image. If the GPSExtractor returns null or if it returns the current the GPS location of the user, findOtherImages() is called (This is a function I made).
`if (imageObj != null) {
                // Gets image coords from exif data or use

[2018-02-10 07:42] harisankerPradeep commented on #954
This what I have done so far:
In ShareActiviy.java the function getFileMetadata() creates a GPSExtractor object to extract the GPS coordinates from the selected image. If the GPSExtractor returns null or if it returns the current the GPS location of the user, findOtherImages() is called (This is a function I made).
`
if (imageObj != null) {
                // Gets image coords from exif data or us

[2018-02-10 07:55] nicolas-raoul commented on #954
@harisankerPradeep Thanks for the code! It seems that you removed your comment though?

[2018-02-10 08:04] harisankerPradeep commented on #954
@nicolas-raoul  This what I have done so far:
In ShareActiviy.java the function getFileMetadata() creates a GPSExtractor object to extract the GPS coordinates from the selected image. If the GPSExtractor returns null or if it returns the current the GPS location of the user, findOtherImages() is called.
[code]
findOtherImages() find the folder in which the selected image is stored. Files which wer

[2018-02-10 08:10] nicolas-raoul commented on #954
Thanks!
Could you please try your algorithm with many pictures?
For instance, how much time does it take when there are 1000 pictures?
Cheers!

[2018-02-10 09:15] harisankerPradeep commented on #954
@nicolas-raoul are there any tools that can help me do that. So far I've been testing on my phone and photos I took, which are less than 150 in number.

[2018-02-11 03:06] psh commented on #1128
It would be amazing if there was a server component to the upload process - the client sends a single multipart form submission containing both the image & it's categories. From the app perspective it's one seamless transaction that either works or it doesn't - nothing gets out of step - while on the server it can be processed in as many steps as needed.

[2018-02-11 05:22] psh commented on #1128
I lightly tweaked the final step of the wizard - added a white background and the state (expanded / collapsed) of the top card would carry over from step 6 - to save the "Step __ of __" jumping around as you tap "Next".

![share activity - step 7](https://user-images.githubusercontent.com/407647/36069951-596a235a-0eb7-11e8-9445-3170e8b4601a.png) ![share activity - step 7 - collapsed](https://user-

[2018-02-11 09:32] misaochan commented on #252
@nicolas-raoul @whym @tobias47n9e  I'm currently trying to query for the Commons categories associated with the Wikidata item (to display category suggestions). I am rather inexperienced with SPARQL/Wikidata, so my attempt ends up with `Unknown error: com.bigdata.rwstore.sector.MemoryManagerOutOfMemory` when I run it on the Wikidata query service.

[This](https://query.wikidata.org/#SELECT%0A%20%2

[2018-02-11 10:18] nicolas-raoul commented on #252
[ This query](https://query.wikidata.org/#SELECT%0A%20%20%20%20%20%28SAMPLE%28%3Flocation%29%20as%20%3Flocation%29%0A%20%20%20%20%20%3Fitem%0A%20%20%20%20%20%28SAMPLE%28COALESCE%28%3Fitem_label_preferred_language%2C%20%3Fitem_label_any_language%29%29%20as%20%3Flabel%29%0A%20%20%20%20%20%28SAMPLE%28%3FclassId%29%20as%20%3Fclass%29%0A%20%20%20%20%20%28SAMPLE%28COALESCE%28%3Fclass_label_preferred_lan

[2018-02-11 11:35] misaochan commented on #252
Thanks so much @nicolas-raoul ! :)

[2018-02-11 14:23] misaochan commented on #252
A general question: Does anyone know of a geolocated Wikidata item that has more than 1 Commons category associated with it? I have not been able to find one - even searching in an extremely popular location (e.g. heart of Sydney) does not turn up any. Are items just restricted to 1 category each, or is it possible but extremely rare to have more than 1?

I have the rudimentary code set up for ret

[2018-02-11 15:03] misaochan opened #1130 "Crashes in v2.6.7"
New contributors welcome - please mention the specific issue you are fixing (e.g. 1130(a)) in your pull request.

- 1130(a):
[code]
- 1130(b):
[code]
- 1130(c):
[code]
- 1130(d):
[code]
- 1130(e):
[code]
- 1130(f):
[code]
- 1130(g):
[code]
- 1130(h):
[code]
- 1130(i):
[code]
- 1130(j):
[code]

[2018-02-11 15:18] nicolas-raoul commented on #252
This query will give you some for your tests:
https://query.wikidata.org/#SELECT%20%3Fitem%20%3Fc1%20%3Fc2%20WHERE%20%7B%0A%20%20%3Fitem%20wdt%3AP373%20%3Fc1.%0A%20%20%3Fitem%20wdt%3AP373%20%3Fc2.%0A%20%20FILTER%28%3Fc1%20%21%3D%20%3Fc2%29.%20%0A%7D%0ALIMIT%2010

[2018-02-11 16:49] psh commented on #1130
The security exception (from line 188 of Upload Service) relate back to a comment I dropped into issue #1092 - reproducing here for clarity - I had been doing some digging - I implemented most of an "Upload Queue" and had to test what a failed upload looked like, and if I could restart it.  That's when I encountered this **bug** while running on an Emulator (but I expected real phones to act simil

[2018-02-11 16:57] psh commented on #1130
The BadTokenException - Stack Overflow has a discussion that seems relevant -
 https://stackoverflow.com/questions/18662239/android-view-windowmanagerbadtokenexception-unable-to-add-window-on-buider-s

Basically, we're trying to pop a dialog to say *"This file already exists on Commons. Are you sure you want to proceed?"* after the activity has finished.

[2018-02-11 17:05] psh commented on #1130
The number format exception in Settings Fragment stems from

[code]

My guess is that we have an empty string as our "new value" and it's blowing up.

A couple of lines above we as for a value and default to 100 if no value  was present in shared preferences.  I believe a try/catch around the number parsing, and cleaning up line 88 which could use the local variable rather than parsing a second ti

[2018-02-11 17:21] psh opened #1131 "Can we update minSdkVersion?"
Google's [version dashboard](https://developer.android.com/about/dashboards/index.html) is reporting very small numbers for certain versions of Android.  Particularly,

| API Level | Distribution |
| ---- | ----- |
| API 15 (Ice Cream Sandwich) | **0.4 %** |
| API 16 (Jelly Bean) | **1.7%** |
| API 17 (Jelly Bean) | **2.6%** |
| API 18 (Jelly Bean) | **0.7%** |

Does the Google Play Store give ins

[2018-02-11 19:01] NirmalKumarJoshi opened #1132 "Wishing to contribute an application as Wiktionary with interative UI and Hybrid Application."
It can be done by developing an application with more features such as offline dictionary as it will be an offline web application as well as progressive Web Application.

[2018-02-11 19:07] NirmalKumarJoshi opened #1133 "Adding Login/Signup using Social Media and also annonymous login in Wiki Commons app"
We can use the email of user as the username as will be a better user experience because it is difficult for the user to remember his/her username for different applications.

[2018-02-12 04:04] harisankerPradeep commented on #954
@nicolas-raoul  While testing with about 250 images, the maximum time it took was 115 milliseconds and the minimum was 87 millis. What do you suggest?

[2018-02-12 09:27] junkiattan commented on #1029
@misaochan @nicolas-raoul
Can I take this issue? Ill try to submit a PR soon!

[2018-02-12 12:21] Moseco opened #1135 "Korean translation in values causes Android Studio to fail building"
I was looking into contributing to this project and when I cloned and built the project I ran into a problem.
Gradle tells me that values-ko-kp is an invalid directory. Travis also seems to output the same error.
Looking into the language and resource section of the Android [documentation](https://developer.android.com/guide/topics/resources/providing-resources.html#AlternativeResources) the Korea

[2018-02-12 12:37] Moseco commented on #1135
Looking further into it, it seems that adding the additional language code "kp" requires it to have a proceeding "r". Changing the directory from "values-ko-kp" to "values-ko-rkp" makes the build work and follows the documentation on additional language codes.

Ive made a pull request [here](https://github.com/commons-app/apps-android-commons/pull/1136)

[2018-02-12 13:31] Moseco commented on #171
I'm going to put some work into this issue

[2018-02-12 13:33] Moseco commented on #889
I would like to get started on this.

[2018-02-12 13:33] noloman commented on #171
@Moseco go ahead; please let us know if you need some help with anything

[2018-02-12 14:58] nicolas-raoul commented on #954
Sounds good! :-)

[2018-02-12 15:10] nicolas-raoul commented on #1131
What would be the merits of moving to API 16?
And the further merits of moving to API 19?
Below are our actual numbers, not counting F-Droid and direct APK downloads.
Cheers! :-)
![screenshot from 2018-02-13 00-09-50](https://user-images.githubusercontent.com/99590/36103307-5abdbba8-1052-11e8-963c-7099db97a859.png)

[2018-02-12 15:11] harisankerPradeep commented on #954
@nicolas-raoul  what's next? What should the UI of the suggestion look like? Do we have some design guidelines that I should follow?

[2018-02-12 15:20] nicolas-raoul commented on #954
I don't have much more insight than what I wrote in the third paragraph of the issue description, so feel free to propose a UI based on this. Thanks!

[2018-02-12 15:25] nicolas-raoul commented on #1029
OK!

[2018-02-12 15:29] nicolas-raoul commented on #1133
Does the desktop Commons website allow all of this?

[2018-02-12 15:30] nicolas-raoul commented on #1132
Cool!
Please create a new Github project for that new app by clicking here: https://github.com/new
Cheers! :-)

[2018-02-12 15:30] #1132 closed

[2018-02-12 15:36] NirmalKumarJoshi commented on #1132
Okay sure I will share the repo with you so that you can keep an eye on it. I truly want to develop this application and contribute to the organizaton.

[2018-02-12 15:45] harisankerPradeep commented on #954
Sure, I'll look into it. Thanks!

[2018-02-12 18:28] NirmalKumarJoshi opened #1137 "[Project Started] Developing a new version of Wiktionary for Android/ IOS with better UX and interactive UI"
As the Wiktionary App on Play Store states that "This app is no longer supported" so I have started developing a hybrid application as of Wiktionary which will run completely natively. It will be a mobile application for Android and IOS. I will take the application to a new level with interactive UI and a better UX.

Please let me know how to share it with the organization and get reviews for the

[2018-02-12 18:31] NirmalKumarJoshi commented on #1133
We can add this Oauth feature in the website as well.

[2018-02-12 20:19] pradhulstha commented on #1133
Hello, the best solution would be to allow them to signup using their emails and keep them signed in.
And, can I to contribute to the project?

[2018-02-12 21:16] ujjwalagrawal17 commented on #1137
Why not make the app native. Hybrid apps lack performance and UI.

[2018-02-12 22:15] ujjwalagrawal17 opened #1138 "Change LoginActivity Textview to Snackbar"
**Summary**
In Login Activity when the user clicks on Login Button.Instead of showing error or success message in a textview we should show a snackbar as the error message (textview) does not disappear. Snackbar will look good.

**Whould you like to work on Issue**
Yes

[2018-02-12 22:16] ujjwalagrawal17 commented on #1138
I start working on this.

[2018-02-12 22:33] ujjwalagrawal17 opened #1139 "Add Option to delete the uploaded image."
**Summary**
Sometimes we upload images that are not good and later on we should have an option to delete or suspend the image. This can be done by providing buttons in image list on clicking will call an HTTP request to delete/Suspend it from the database.

[2018-02-12 22:36] ujjwalagrawal17 opened #1140 "Option to Change Recent Uploads Design"
**Summary**
When too many images are uploaded by the user it becomes difficult for the user to scroll till the end. We should give an Option to Change Linear Layout manager to Grid Layout Manager(2 items in a row). It will be a button on Toolbar from which user can change the view type.

[2018-02-13 00:11] nicolas-raoul commented on #1137
@NirmalKumarJoshi The present Github project is only about the Commons app, so it is not the place to ask general questions about other apps. In particular, the recognition is not done by us, but by WMF (by the way, WMF will probably not recognize the app until you have at least a few thousand users).
Good luck!

[2018-02-13 00:11] #1137 closed

[2018-02-13 07:37] mithlesh4257 commented on #1110
Hi @maskaravivek  :), I have compared both files "ShareActivuty.java" and this files. I like learn more about LocationTemplate ? Can you help me?

[2018-02-13 07:41] nicolas-raoul commented on #252
I just found out that a Wikidata item should not contain more than one category:
For more info, see the "single value constraint" constraint at https://www.wikidata.org/wiki/Property:P373

This constraint is not being enforced in the UI, which means that newcomers keep adding categories and janitors keep removing them.

So, if you have not implemented it already, feel free to not handle the case w

[2018-02-13 07:44] mithlesh4257 commented on #1140
Yes @ujjwalagrawal17, we can created 2 column grid for it.

[2018-02-13 08:21] mithlesh4257 commented on #1108
Hi @nicolas-raoul :) what I'm getting by reading this, that we can use wikivoyage for nearby listing (I mean for places)? Am I right?

[2018-02-13 08:28] nicolas-raoul commented on #1108
Yes!
Keep in mind that compared to other issues, this one is both difficult and low-priority.

[2018-02-13 09:22] misaochan commented on #1139
AFAIK you can nominate your own photo for deletion, but indeed it is up to the discretion of the Commons community.It would certainly be nice if we had a button for this, though. :)

[2018-02-13 09:35] misaochan commented on #1140
Hi, thanks for the suggestion. However, this is currently already planned for the near future and the task has already been allocated to @neslihanturan (see #725 ). There are other UI improvements that are open though, please see https://github.com/commons-app/apps-android-commons/labels/UX%20-%20user%20experience

[2018-02-13 09:38] misaochan commented on #252
Oh, good to know! No, it hasn't been implemented yet. :)

[2018-02-13 09:40] misaochan commented on #1138
Could you please elaborate on why you feel the error/success message should be shown in a snackbar instead of our current textview? As far as I have seen, snackbars are not usually used for this purpose in most other Android apps.

[2018-02-13 09:43] #1140 closed

[2018-02-13 09:45] misaochan commented on #1130
Thanks for the advice, @psh ! I wonder if we should split this up into individual tasks (probably no need to create separate issues, we can just add headers e.g. 1130(a), 1130(b) etc) and make this beginner-friendly? Fixing these could be good microtasks for potential GSoC/Outreachy applicants. What do you think @maskaravivek ?

[2018-02-13 10:08] ujjwalagrawal17 commented on #1138
Check out this: https://ux.stackexchange.com/questions/108995/material-design-how-to-display-a-log-in-error
It is just a suggestion. If you will approve it I will work on it.

[2018-02-13 10:24] VojtechDostal commented on #252
In fact it would be cool if we could read Commons categories from sitelinks too, right?

Sometimes these are not linked via p373...
http://tinyurl.com/ya9f2z4t

[2018-02-13 15:44] misaochan opened #1141 "Travis build error - res/values-ko-kp"
[code]

I think there may be an issue with a recent translatewiki commit? @nicolas-raoul @Nikerabbit

[2018-02-13 15:48] misaochan commented on #1135
Thanks for reporting this! We will probably need to get @Nikerabbit to review your PR before we patch it. AFAIK if the appropriate changes are not made on translatewiki's side, future commits will continue to introduce the error.

[2018-02-13 15:48] misaochan commented on #1141
Whoops, just realized that this has already been created. #1135

[2018-02-13 15:48] #1141 closed

[2018-02-13 15:54] misaochan commented on #252
@VojtechDostal Interesting, I wonder why not? Is this a frequent occurrence, or is it rare?

[2018-02-13 16:03] VojtechDostal commented on #252
Actually there are only 3043 geocoordinated items like that, so I'm withdrawing that idea :-)

http://tinyurl.com/y7gpj5hu

[2018-02-13 16:07] misaochan commented on #1133
This is similar to #1095 - I believe the answer to both is "unlikely, due to WMF policies".

[2018-02-13 19:07] jakobsvenningsson commented on #458
Hello @misaochan! I would like to give this refactor a try. This is my first contribution to this project and I think this is a suitable task.

[2018-02-13 20:48] maskaravivek commented on #458
Sure, @jakobsvenningsson. Feel free to take this up.

[2018-02-13 21:54] mau0727 commented on #1130
I want to help but I am not sure which ones are already taken.

[2018-02-13 22:29] ujjwalagrawal17 commented on #665
I think this issue should be closed now.

[2018-02-13 23:16] ujjwalagrawal17 opened #1143 "Change webviews to Chrome Custom Tabs in App"
**Description**
We should use chrome custom tabs instead of webview because of good UI and many more things.
You can check here more advantages - https://developer.chrome.com/multidevice/android/customtabs

[2018-02-13 23:20] ujjwalagrawal17 commented on #1143
Also, we can make this a parent issue and have more child issues for each activity or fragment to keep things simple and give an opportunity to new Developers.

[2018-02-13 23:37] ujjwalagrawal17 commented on #1138
Should I start working on it?

[2018-02-13 23:41] ujjwalagrawal17 opened #1144 "Adding ISSUE_TEMPLATE.md file"
There should be proper Issue Template for creating new issues so that others can know about that issue and its related thing.

[2018-02-13 23:51] ujjwalagrawal17 opened #1146 "Adding PULL_REQUEST_TEMPLATE.md file"
There should be a PULL_REQUEST_TEMPLATE.md file which tells new contributors how to get started for contribution.

[2018-02-14 00:27] ujjwalagrawal17 opened #1147 "Change MediaDetailFragment Design"
**Description**
We need an image viewer in our app to view (zoom) the image(contribution).
We will open it on click of image in contribution Details Page

[2018-02-14 00:30] ujjwalagrawal17 commented on #1147
@nicolas-raoul  Can we have this feature in our app?

[2018-02-14 00:52] maskaravivek commented on #1143
I agree with the usage of custom tabs across the application. @ujjwalagrawal17 It would be great if you could jot down some points in favour of its usage so that we get more support for it. :)

[2018-02-14 03:11] nicolas-raoul commented on #1143
How does it work with people who don't have Chrome installed?
For instance LineageOS or maybe Amazon devices.
Does it work on all Android versions that we support?
Thanks! :-)

[2018-02-14 05:35] hismaeel commented on #1130
Great I can get going with one of these.
I analyzed 1130(b). I think just adding @Nullable to the url parameter will not do since uriParse() will get evoked anyhow.
Since We can create the intent for opening the web-browser without a Uri parameter, I suppose we check for null Uri; if so, create intent with just the action;

[code]

[2018-02-14 08:08] harisankerPradeep commented on #954
@nicolas-raoul suggestions?
![device-2018-02-14-133619](https://user-images.githubusercontent.com/26009796/36193496-2b49a284-118c-11e8-8c71-7b9ef18e8d46.png)

[2018-02-14 08:23] nicolas-raoul commented on #954
Perfect! :-)

[2018-02-14 08:59] nicolas-raoul commented on #1130
@hismaeel Is there any case where it makes sense that this value is null?
Sending people to an empty web browser does not sound like something we intend to do.

[2018-02-14 09:07] Nikerabbit commented on #1135
Shouldn't it be ko-rKP to match zh-rTW?

Also, why is there zh-rCN? No such language is configured from our side. zh-hans maps to zh

[2018-02-14 09:11] tanvidadu commented on #1044
Sorry for delay I changed my class a bit in reference to issue #1128
Please tell me which mock-up would better. Thanks !!
![test1](https://user-images.githubusercontent.com/29161745/36195618-0ff3af4a-1194-11e8-99c0-abcabfd20d0b.gif)

[2018-02-14 09:16] ujjwalagrawal17 commented on #1143
If you do not have Chrome installed, the intent will launch the default browser installed on the device.
Source- https://guides.codepath.com/android/Chrome-Custom-Tabs.
Also, some advantages we can use are -
1. Setting Toolbar color
2. Enable pre-starting and pre-fetching(this will reduce loading time)

[2018-02-14 09:56] nicolas-raoul commented on #1147
The app is more for uploading than for viewing, but why not! :-)
It should probably reuse the code that is being written for https://github.com/commons-app/apps-android-commons/issues/1044#issuecomment-365541079

[2018-02-14 10:09] harisankerPradeep commented on #954
So here are the changes made to the code:
In ShareActivity.java the function findOtherImages() has been modified:
[code]
The suggestion dialog box is DialogFragment, SimilarImageDialogFragment.java:
[code]

The code works fine my on phone. If code looks fine shall I open a PR?

[2018-02-14 11:06] Moseco commented on #1135
For consistency rKP would probably be better. rkp does work though.

[2018-02-14 15:53] misaochan commented on #458
Welcome, @jakobsvenningsson ! Please feel free. :)

[2018-02-14 15:54] misaochan commented on #665
Indeed, thanks for letting us know. :)

[2018-02-14 15:54] #665 closed

[2018-02-14 15:55] misaochan commented on #1143
Sounds good to me. :)

[2018-02-14 15:58] misaochan commented on #1138
Sorry, I'm not entirely convinced about this. AFAIK our current login screen conforms to material design guidelines, and there wasn't any other reason mentioned on the StackExchange thread regarding the benefits of switching to a snackbar. @nicolas-raoul @psh thoughts?

[2018-02-14 16:20] misaochan commented on #954
@harisankerPradeep Yes, please feel free to open a PR - generally it is easier for us to do code review in a PR than with code pasted in an issue comment. :)

[2018-02-14 16:39] harisankerPradeep commented on #954
@misaochan sure! I thought posting my thought train here would be useful for documentation purposes.

[2018-02-14 17:33] 97balakrishnan opened #1151 "Adding gesture for navigation drawer"
**Summary:**

swipe gesture to open navigation drawer on create account screen has not been added

**Device and Android version:**

Stock version of android 6.0

 **Commons app version:**

2.6.7

[2018-02-14 17:38] ujjwalagrawal17 commented on #1143
Should I start working on this ?

[2018-02-14 19:20] maskaravivek commented on #1143
Yeah feel free to start working on it. :)

[2018-02-14 20:19] misaochan commented on #954
@harisankerPradeep That's totally fine, and thanks for submitting the PR! We will test it and get back to you shortly.

[2018-02-15 04:47] nicolas-raoul commented on #1138
I don't think this SE thread has received enough attention to be considered
a reference.
The only answer gives 3 different solutions and no references.

On Feb 15, 2018 12:58 AM, "Josephine Lim" <notifications@github.com> wrote:

[2018-02-15 05:25] hismaeel commented on #1130
I agree @nicolas-raoul can't be null just checked for it. But on stacktrace posted above it's a Null Pointer Exception, and seems it comes from Uri.parse() that invokes StringUri()

[code]
Plus, licenselink() can return null when we invoke it through onClick

[code]
But, my debugging didn't lead me to a Null Pointer Exception. @misaochan details of reproducing crash would be helpful. From the stac

[2018-02-15 05:59] nicolas-raoul commented on #1130
I guess it is a difficult-to-reproduce crash with a should-never-happen condition.
How about taking the stack trace then calling ACRA to report the bug? (even though it is not a crash ACRA can be used). That's better than crashing or opening a blank page, and that might give us more information to fix the root problem in the future.

[2018-02-15 06:08] nicolas-raoul commented on #1130
@hismaeel Ah, maybe the user is viewing an image whose license is not offered by our app?
For instance a very arcane license (such as the license used by https://commons.wikimedia.org/wiki/File:Official_gnu.svg) or a now-retired license such as CC-BY-SA version 1 (for new uploads we now only allow version 3 or 4).

[2018-02-15 06:10] misaochan commented on #1130
@hismaeel Sorry, all these crashes are taken from logs sent to the Google Play Developer Console - only the stack trace and some information about the device and Android version are sent. So usually we don't know for sure how the user ran into the crash or how to reproduce them.

I agree with @nicolas-raoul on the likely best way to handle it.

[2018-02-15 08:00] Nikerabbit commented on #1135
I've set codemap to use ko-rKP.

[2018-02-15 11:04] diddypod commented on #1151
The Sign Up page seems to be a webView, so it's probably beyond the scope of the app to implement swipe gestures there.
However, should we allow users to navigate through the site without logging in? If yes, we should put that option on the login screen.

[2018-02-15 12:17] 97balakrishnan commented on #1151
Yeah. I think that the entire create account page can be made into an android activity to ensure uniformity in the app.

[2018-02-15 12:22] 97balakrishnan opened #1153 "Pull down gesture to refresh nearby places"
**Summary:**

I think that a pull down gesture in the nearby places activity to refresh the location will be better than the physical refresh button. And a progress bar or animation has to be added since there is a delay in loading nearby places.

 **Commons app version:**

2.6.7

[2018-02-15 14:05] jakobsvenningsson commented on #458
I'm still working on the issue, I got a bit delayed due to some problems getting the tests running. However, I will soon make a first commit.

[2018-02-15 14:06] neslihanturan commented on #1029
@junkiattan handled some parts of this issue recently, however it requires more effort. So, I wont close this now.

[2018-02-15 14:07] 97balakrishnan commented on #1151
Can i start working on it?

[2018-02-15 14:33] neslihanturan commented on #1029
Currently we filtered out before 2000s as it has written as XXXX format. But can we describe what do we exactly want to filter out?

[2018-02-15 14:35] junkiattan commented on #1029
@neslihanturan @nicolas-raoul

I can further extend the part of the code I touched to exclude the YY.MM.DD formats that do not pass a certain year. However the years are expressed in 2 digits, hence it is a little tricky to set a cut off year (e.g. should 99 now be defined as old?)

[2018-02-15 14:57] misaochan commented on #1151
I'm okay with an Android activity being used to handle sign ups instead of the webview. I doubt that it will be an easy task, but anyone who is interested in working on it is certainly welcome to do so. :)

I am on the fence re: the nav drawer being accessible in the signup activity. Currently the app is built around the assumption that the user HAS to be logged in. Allowing non-logged in users to

[2018-02-15 14:59] misaochan commented on #1153
Good idea. :) It is a duplicate of #264 though. Please feel free to work on that, as the person who volunteered for it hasn't been back.

[2018-02-15 14:59] #1153 closed

[2018-02-15 15:04] misaochan commented on #1029
I would personally consider 99 to be "old" in the context of smartphones. But indeed the 2 digit years are a problem. I guess we could go with allowing '1x' and '0x' through and filter out the others?

[2018-02-15 15:06] 97balakrishnan commented on #1151
okay. I will try doing this.

[2018-02-15 15:07] 97balakrishnan commented on #264
I will work on this.

[2018-02-15 15:11] misaochan commented on #264
@97balakrishnan it is yours. :)

[2018-02-15 15:16] 97balakrishnan commented on #264
thanks

[2018-02-15 15:35] junkiattan commented on #1029
@misaochan
That can be done! Actually I was thinking of including 2x too, since 201x is coming to an end. What do you think?

[2018-02-15 15:42] misaochan commented on #1029
@junkiattan We've got a good 2 years before that happens, so IMO not necessary, we can make that change when it happens. ;)

[2018-02-15 16:26] nicolas-raoul commented on #1029
@junkiattan Please do not filter based on the "YY.MM.DD" format. I guess you got confused because of my "Image class" screenshot, which is unrelated. I should probably have created separate issues.

Only filter out categories that end with the string " in the XYZ0s" (X being a digit, and YZ being either a digit or nothing).
Thanks!

[2018-02-15 16:41] junkiattan commented on #1029
@nicolas-raoul

I have already done this in my first PR for this issue. Can this be closed now then? If so then I will close my second PR

[2018-02-15 16:48] neslihanturan commented on #1029
Yes @junkiattan maybe you can close your second PR and I can close the issue. Thanks for quick responses.

[2018-02-15 16:48] #1029 closed

[2018-02-16 01:12] hismaeel opened #1156 "Crashes; user has no web browser installed and tries to open any URL"
So I had disabled my web browser because I was using it a lot at bedtime. Because of this, I kept getting a "No Activity Found" exception for many/any click(s) that open a web browser, such as on click on license and category of a photo, "open in web browser" option, links in the about page, etc.  The documentation for Intent actually reads this

[> Caution: If there are no apps on the device that

[2018-02-16 01:14] hismaeel commented on #1130
@misaochan @nicolas-raoul  This is somewhat funny; I had disabled my web browser because I was using it a lot at bedtime. That's why I was getting a "No Activity Found" exception because there was no browser to open the URL.  The documentation for Intent actually reads this

[> Caution: If there are no apps on the device that can receive the implicit intent, your app will crash when it calls start

[2018-02-16 03:16] #1015 closed

[2018-02-16 04:40] nicolas-raoul commented on #954
@neslihanturan Here is a ZIP file (60MB) with pictures I took yesterday for possible upload to Commons, so it is a very real-life sample. I had GPS activated all the time, but unfortunately (as it often happens) only some of the pictures actually managed to get GPS information (I marked them with the "-gps" prefix).

An interesting thing that I noticed is that GPS signal tend to disappear as rando

[2018-02-16 06:03] harisankerPradeep commented on #954
@nicolas-raoul It's already doing that
[code]

[2018-02-16 07:14] neslihanturan commented on #1156
Thanks @hismaeel , assigned to you.

[2018-02-16 11:33] csk1827 opened #1157 "Build error in getBuildVersion function in gitutils.gradle file."
A try-catch block is missing int getBuildVersion function in the file gitutils.gradle : https://github.com/commons-app/apps-android-commons/blob/master/gitutils.gradle, due to which following error is occurring `Gradle sync failed: CreateProcess error=2, The system cannot find the file specified`

A try-catch block is used in the function getBranchName which is declared exactly below the getBuildV

[2018-02-16 12:21] csk1827 opened #1159 "Icon is getting cropped in LoginPage, while using the app in Landscape mode"
When the app is rotated to use in landscape mode, app icon which is on top of cardview is getting cropped(Not displaying fully).

![device-2018-02-16-005815](https://user-images.githubusercontent.com/18217329/36306482-ebe0c0d8-133d-11e8-8873-9a1b751d273e.png)

**I have started working on this issue.**

[2018-02-16 15:02] diddypod commented on #1030
This error arises for any locale which uses language read from right to left. Since category search is implemented only in English, it is expected that the user will use English in category search. The simplest fix is to force the EditText gravity to the left and the ProgressBar gravity to the right, instead of letting it adapt to the locale, as the keyboard input in English doesn't adapt to the l

[2018-02-16 15:32] AkshayRameshAppDEV commented on #1159
Hey @SaiKrishna1827! Can I work on this ?

[2018-02-16 15:37] SaiKrishna1827 commented on #1159
@AkshayRameshAppDEV  I have already worked on it and I have also added PR for it. Here is the Link : https://github.com/commons-app/apps-android-commons/pull/1160. Please review it.

[2018-02-16 15:42] neslihanturan commented on #1030
Thanks for clarification @diddypod

[2018-02-16 17:01] diddypod commented on #1030
I have implemented this fix. If it's acceptable, may I send a PR for the same, @neslihanturan?

[2018-02-16 18:29] jakobsvenningsson commented on #458
I have managed to move the permission logic and file image related processing logic to its own classes. I will continue with unit testing and some more refactoring.

[2018-02-16 18:31] neslihanturan commented on #1030
@diddypod yes there is no PR for this task according to my last check. So please share your PR, I will be here yo test it:)

[2018-02-16 18:33] neslihanturan commented on #458
Tanks @jakobsvenningsson , looking forward for your PR.

[2018-02-16 19:05] diddypod commented on #1030
@neslihanturan, thank you. I've made a PR ([#1162](https://github.com/commons-app/apps-android-commons/pull/1162)). Please check :)

[2018-02-16 21:34] neslihanturan opened #1163 "Crash on upload picture with right to left languages"
Change your phone language to Arabic, try to upload a picture. It results this crash:
`02-16 00:32:56.294 32006-32006/fr.free.nrw.commons.debug E/AndroidRuntime: FATAL EXCEPTION: main
                                                                           Process: fr.free.nrw.commons.debug, PID: 32006
                                                                           java.lang.NullPoint

[2018-02-17 08:11] sivaraam commented on #1128
Just a little nitpick about the Licensing step. In case my assumption that, the text "Wikimedia Commons" is a link to the actual policy in Wikimedia Commons, is correct. Then I guess the link text should actually be "Wikimedia Commons policies".

[2018-02-17 08:27] diddypod commented on #1163
@neslihanturan I was unable to replicate the error and uploaded a picture successfully with the phone language to Arabic. Could you share some more details?

[2018-02-17 09:55] neslihanturan commented on #1163
Sure, test device API 4.4.2, whenever I click to edit title or description it gives me:
![npe](https://user-images.githubusercontent.com/3127881/36339965-aa35fd3e-13e1-11e8-8bc9-b3ab8d976b4f.png)
NPE on line 232 of SingleUploadFragment.java
[code]

[2018-02-17 10:09] diddypod commented on #1163
Successfully replicated the error.
Starting work on it :)

[2018-02-17 18:41] gupta-meghna64 commented on #1109
Hi, Is @liormic still working on this issue? If not, Can I please start working on this?
Thanks

[2018-02-18 02:12] hismaeel commented on #1130
#1166

[2018-02-18 04:07] hismaeel commented on #1130
@misaochan Can I start working on another crash too? :-)

[2018-02-18 06:07] nicolas-raoul commented on #1130
@hismaeel If you are done with your current tasks (PR pending), feel free to take another one :-)

[2018-02-18 06:11] hismaeel commented on #1130
I made a commit into a PR for another issue, #1166 . Should I make a separate PR for this?

[2018-02-18 06:13] nicolas-raoul commented on #1130
Yes, better make a different PR for each issue.
That way, a problem with one fix does not block all of your other fixes :-)

[2018-02-18 06:14] hismaeel commented on #1130
makes sense! Thanks

[2018-02-18 06:16] nicolas-raoul commented on #1109
@gupta-meghna64 : No news from @liormic since a week, so yes you can take it! Be sure to report your progress every few days at least. Thanks! :-)

[2018-02-18 07:17] liormic commented on #1109
Sorry guys .Yes gupta been working on another thing...Better if you take it
Tnx

[2018-02-18 09:41] gupta-meghna64 commented on #1109
Cool! I'll start working on it :)

[2018-02-18 09:47] maskaravivek commented on #1109
Awesome @gupta-meghna64. Am marking this task as assigned.

[2018-02-18 09:49] maskaravivek commented on #1163
Awesome @diddypod. Let us know if you need any help with it. :)

[2018-02-18 15:03] maskaravivek commented on #1159
Hello @AkshayRameshAppDEV! Welcome to the community. There are many beginner-friendly issues up for grabs. Looking forward for your first contribution. :)

[2018-02-18 15:06] maskaravivek commented on #1157
This error never happens with me. What version of the studio are you using?

[2018-02-18 16:38] misaochan commented on #252
Added some steps to the checklist based on where we currently are. I think we should probably try to release this feature once we complete the steps listed in the first checklist. Then users can use the feature and report bugs while we work on the P18 edits and logging.

[2018-02-18 17:28] SaiKrishna1827 commented on #1157
I am using Studio 3.0.1

This error occurred only when I first pulled the project from Github and tried to build the gradle in my system. For the first time, gradle built successfully only after I have added try-catch block there.

Now it's not showing any error even if I remove try-catch block. However, its a good practice to introduce try-catch block there.

[2018-02-19 05:24] maskaravivek commented on #1157
I am not sure if it actually a good practice to have a try catch here. A `try catch` will let any errors happen silently and then any real issues would not be surfaced.

Open for discussion.

[2018-02-19 12:50] Moseco opened #1169 "Bug: Reinstall of app and using an existing account causes a different imageurl to be saved"
**Summary:**

When making a contribution the imageUrl variable of Media.java is set correctly so that it can be entered in a browser and the image appears. If the app is then uninstalled or the data is cleared and you log into the same account the imageUrl of the same Media is set to a different link that leads to a 404.

**Steps to reproduce:**

1) Make a contribution and get the string stored in

[2018-02-19 14:34] alexeymorgunov commented on #75
Thanks for the endorsement @nicolas-raoul! I am one of the guys behind the proposal. We welcome any suggestions and advice!

[2018-02-19 15:53] #1146 closed

[2018-02-20 03:42] dehrenha opened #1170 "Images fail to upload"
_Before creating an issue, please search the existing issues to see if a similar one has already been created. You can search issues by specific labels (e.g. `label:nearby `) or just by typing keywords into the search filter._

**Summary:**

Two of nine images failed to upload despite changing network and restarting app.

**Steps to reproduce:**

How can we reproduce the issue?

Issue occurred aft

[2018-02-20 06:32] misaochan commented on #1170
Hi @dehrenha , thanks so much for reporting this! A few questions:

- Did you ever experience this before version 2.6.7? Or alternatively, did you experience multiple crashes with 2.6.6 instead?
- If you get another failed upload in the future, could you please go to Settings > Send log file, and have the logs sent to us? This will help us hugely in debugging your problem.

Thanks!

[2018-02-20 13:51] diddypod commented on #1163
I've fixed it and created a PR ([#1172](https://github.com/commons-app/apps-android-commons/pull/1172)). Please check :)

[2018-02-20 18:33] hismaeel commented on #1170
@dehrenha  True, I uploaded 7 very random photos and it says "4 uploads" at the top; I think maybe the "My recent Uploads" count at the top only count the ones that were approved.

#175

Best!

[2018-02-20 18:35] dehrenha commented on #1170
Josephine,
     I just started testing this app so I have had no experience at all
with the previous versions. I will send the log today. Thanks for the heads
up.

Don

On Tue, Feb 20, 2018 at 12:32 AM, Josephine Lim <notifications@github.com>
wrote:

[2018-02-20 22:14] hismaeel opened #1173 "Login Crash: Cannot log in anymore "attr value delimiter missing""
Everything was working fine. Today I deleted the beta app, then started debugging from Android studio. I can no longer login; app crashes on "logging in" waiting screen. Same behavior with 2.6.7-release branch. Not sure how to proceed.

[code]

[2018-02-21 07:49] neslihanturan commented on #1173
Are you able to login and upload via browser @hismaeel ? Apart from this, are you unable to login with beta and product together? Can you please test both credentials as beta debug and product debug?

[2018-02-21 10:01] misaochan commented on #1173
I'm getting the same issue on the beta server. Wonder if it might be caused by #1048 (which AFAIK is the last PR that modified the relevant code)?

[2018-02-21 10:38] misaochan commented on #1170
@dehrenha Hmm, interesting. I took a look at your log file and it seems that there is very little in the file. :/ Did you send it immediately after a failed upload, or at a different time?

@hismaeel Yeah, AFAIK we only count the images that have not been deleted. But what happened to the other photos for you - were they deleted on Commons or did the app fail to upload them (in which case it would

[2018-02-21 11:31] diddypod commented on #1130
The fix for issue #1163, PR #1172 should fix #1130(f).

[2018-02-21 17:25] tshradheya commented on #906
Hi, I started working on this issue (sorry for the delay).

I realized that the situation is no longer as in #609. Now different prefs are used and are Injected. For e.g.

[code]

is not used instead of just one `SharedPreferences` like before

[2018-02-21 19:20] harisankerPradeep opened #1175 "Preview image in ShareActivity fails to load"
Sometimes when the selected image is heavy the preview image in ShareActivity, the one that appears in the background of the title and descriptions screen, fails to load.  This mostly happens when the camera operates at maximum resolution. If the resolution of the image is a couple of notches lower it loads just fine.

Observed

![godavnvis](https://user-images.githubusercontent.com/26009796/36500

[2018-02-22 03:47] psh commented on #906
@tshradheya - the Injection just highlights a problem that was hidden before.  There always were three different sets of shared preferences in play and the move to inject preferences with Dagger makes it much clearer as to which ones are used where.  I agree that the code has changed since #609 but I believe that the changes bring clarity that wasn't there before.

In the old code, there were 3 wa

[2018-02-22 05:39] nicolas-raoul commented on #1175
I can confirm this problem.
Is it not a duplicate of #1004 though?

[2018-02-22 06:17] harisankerPradeep commented on #1175
@nicolas-raoul My bad, it's same as #1004. But I strongly feel about downsampling and resizing because my screen resolution is 720x1280 and the maximum resolution of my camera is 3280x2160. Knowing this I should be able to resize the image without any loss in quality of the displayed picture, right? Or am I getting this wrong somewhere?
Also should I move this conversation to #1004 .

Thanks in ad

[2018-02-22 06:50] nicolas-raoul commented on #1175
Closing as duplicate of #1004.
Yes, please copy/paste your comment there, thanks :-)

[2018-02-22 06:50] #1175 closed

[2018-02-22 07:26] harisankerPradeep commented on #1004
I feel that downsampling and resizing functions of fresco, given [here](http://frescolib.org/docs/resizing.html), can solve this issue. For example, my screen resolution is 720x1280 and the maximum resolution of my camera is 3280x2160. Knowing this I should be able to resize the image without any loss in quality of the displayed picture, right? Or am I getting this wrong somewhere?

Thanks in adva

[2018-02-22 07:32] nicolas-raoul commented on #1004
Resizing is definitely the best way to solve this problem, indeed.
This background image feature *might* be removed in the future (see #1044), but if it is easy and safe then feel free to implement it @harisankerPradeep  :-)

[2018-02-22 13:06] Moseco commented on #889
@psh I made an implementation of Glide but it is inefficient due to a bug I reported in issue #1169

If that bug can get solved the Glide solution would be much better

[2018-02-22 13:41] harisankerPradeep commented on #1044
Can someone look into the possibility of using [this](https://github.com/stfalcon-studio/FrescoImageViewer) here? It's a fullscreen image viewer based on fresco with pinch to zoom and swipe to dismiss enabled. Downsampling is also supported. As far as I can see this can be used in two places. I've used it a few times and it works like a charm. Maybe it can also be used in the recent upload screen.

[2018-02-22 13:47] harisankerPradeep commented on #1004
@nicolas-raoul  From what I can see in the fresco docs it seems simple and safe. I'll post some updates soon enough.

[2018-02-22 13:54] diddypod commented on #1139
Is anyone working on this? I'd like to take it up otherwise.

[2018-02-22 14:15] nicolas-raoul commented on #1139
@diddypod Could you please first describe exactly what actions the button will call, using what Wikimedia API requests? (complete with the API method parameters)
Thanks! That will avoid possible misunderstandings.

[2018-02-23 02:29] psh commented on #1128
Thanks for the feedback @sivaraam - I've updated the [design mockup](https://scene.zeplin.io/project/59f8f32ff01c1ed40c7bcee7) to include your thoughts.

[2018-02-23 02:42] knight-shade opened #1177 "Content in About Activity gets cut-off in landscape mode."
**Summary:**
Content gets cut-off in About activity in landscape mode.

**Steps to reproduce:**

1. Login into the app.
2. Go the the About activity through Navigation drawer.
3. Change the orientation to landscape.

**Expected behavior:**

Users on devices with small screen should be able to scroll vertically.

**Observed behavior:**

No scrolling exists.

**Screen-shots:**
![landscape](https://u

[2018-02-23 03:58] hismaeel commented on #1170
@misaochan It happened only in the beta version! It's all well in the release version.

[2018-02-23 10:18] knight-shade opened #1179 "Edittext in SingleUploadFragment lacks Material design, No scrolling behaviour and limit on text size in edit text causes content to be cut-off from screen."
**Summary:**
1. Image's title and description edit text in SingleUploadFragment lacks Material Design.
2. Lack of scrolling behaviour and text size limit in SingleUploadFragment causes content to be cut-off from screen.
3. There is no text size limit on Image's title and description, is this intentional or should there be appropriate limit on it?

**Steps to reproduce:**

1. Select a photo to uplo

[2018-02-23 11:54] nicolas-raoul commented on #1179
We want to encourage users to write long descriptions.
Anything that makes typing long descriptions easier is good :-)

On Feb 23, 2018 7:18 PM, "Abhishek Poonia" <notifications@github.com> wrote:

*Summary:*

   1. Image's title and description edit text in SingleUploadFragment lacks
   Material Design.
   2. Lack of scrolling behaviour and text size limit in
   SingleUploadFragment causes conten

[2018-02-23 12:01] knight-shade commented on #1179
@nicolas-raoul Thank you very much for your input Nicolas, sure.

[2018-02-23 12:35] knight-shade opened #1180 "Orientation change in NearbyActivity causes it to reinitialise NearbyListFragment."
**Summary:**

When there occurs a orientation change in NearybyActivty, it reinitialise the NearbyListFragment and reloads the data again.

**Steps to reproduce:**

1. Go Nearby Places activity from navigation drawer.
2. Load the list of nearby places as shown below:

![nearby places list](https://user-images.githubusercontent.com/20313518/36594302-977c0206-18c3-11e8-9aee-0b1a42df6a55.png)

3. Cha

[2018-02-23 13:39] knight-shade opened #1181 "Orientation Change in NearybyActivity during Map mode crashes the app."
**Summary:**

Where there occurs a orientation change in NearbyActivity during Map mode, it crashes the app.

**Steps to reproduce:**

1. Go Nearby Places activity from navigation drawer.
2. Load the list of nearby places as shown below:

![nearby_places_list_map](https://user-images.githubusercontent.com/20313518/36596802-ee3dd28c-18cc-11e8-860e-236768dc4e67.jpg)

3. Change the orientation of pho

[2018-02-23 13:47] nicolas-raoul commented on #1181
I just tried, I don't get a crash (Android 7.1.2)

[2018-02-23 13:50] knight-shade commented on #1181
I am getting a crash (Android 7.0, MIUI V9.0).

[2018-02-23 18:31] #1109 closed

[2018-02-23 18:46] tobias47n9e commented on #1181
Confirming the crash for Android 7.0 on orientation change.

[2018-02-23 20:05] maskaravivek commented on #1181
Yes the error also happens on an Android 5.1 Samsung device. I am getting the same stack trace.

[2018-02-23 20:15] maskaravivek commented on #1181
Added a fix for the same. Should be included in our next release. Thanks for reporting @knight-shade

[2018-02-23 20:27] maskaravivek commented on #1173
Am able to login even with a fresh install. Is anyone still facing this issue?

@neslihanturan @misaochan

[2018-02-24 00:18] #1138 closed

[2018-02-24 00:20] ujjwalagrawal17 commented on #1135
I think it should be closed now.

[2018-02-24 06:52] diddypod commented on #1139
@nicolas-raoul , I found [API: Delete](https://www.mediawiki.org/wiki/API:Delete) would satisfy our requirements. We can get a token from [API:Tokens](https://www.mediawiki.org/wiki/API:Tokens). Is this fine or can you suggest a better approach?

[2018-02-24 11:01] ayushin78 opened #1186 "Add ItemDivider in NotificationActivity"
**Summary:**

Currently, There is no ItemDivider used in the NotificationActivity. Since we are displaying description as well as the title in the listItem, Adding an ItemDivider will make it look cleaner and will help users to understand how the content is organized.

 **Screen-shots:**

Current Display
![1](https://user-images.githubusercontent.com/18305466/36629674-21806aee-197f-11e8-950f-e00d8

[2018-02-24 11:24] ujjwalagrawal17 commented on #1147
Can we have the UI like this?
Just the details will contain our details like title,desription,cordinates etc.
<table>
<tr>
<td>

![screenshot_20180224-164529](https://user-images.githubusercontent.com/19607555/36629905-0a1d2d8e-1983-11e8-9f0e-c965ac60e635.png)

</td>
<td>

![screenshot_20180224-164534](https://user-images.githubusercontent.com/19607555/36629904-09b5be56-1983-11e8-87ff-c2ee19e8c689

[2018-02-24 11:26] ujjwalagrawal17 commented on #1147
@maskaravivek Sir what are your suggestions?

[2018-02-24 11:49] knight-shade commented on #1186
Looks good @ayushin78 .

[2018-02-24 11:57] ujjwalagrawal17 opened #1187 "Rate Us feature in nav drawer"
**Summary:**

We should have a rate us option in nav drawer which will direct the user to google play link of the app.

**Steps to reproduce:**

1.Add icon and string in drawer.xml
2. Redirect to google play store in NavigationBaseActivity using

**Expected behavior:**

Rate Us Feature should be there.

**Observed behavior:**

Rate Us Feature is not present.

[2018-02-24 12:40] ujjwalagrawal17 opened #1189 "Change toolbar color to primary color"
**Summary:**

According to guidelines by Google
Toolbar background color should be the primary color.
Statusbar background color should be primary Dark color.

**Steps to reproduce:**

Change toolbar background to primary color in toolbar.xml

**Expected behavior:**

Toolbar background color should be the primary color.

**Observed behavior:**

Toolbar background color is primary dark color.

**Sc

[2018-02-24 12:56] #1135 closed

[2018-02-24 13:09] ujjwalagrawal17 opened #1192 "Option to edit Images in App before Uploading"
**Summary:**

The app should have image editing feature like on facebook/Instagram.

**Steps to reproduce:**

Include open-cv-android SDK or any other SDK and add features one by one.

**Expected behavior:**

The app should have image editing feature like on facebook/Instagram.

**Observed behavior:**

No image editing feature is present.

**Screen-shots:**

![screenshot_20180224-182942](https://u

[2018-02-24 17:59] maskaravivek commented on #1192
I have been always thinking of having editing options in the app. I couldn't find image editing library that we can simply plug in the app. Am not sure how much effort we can put to write the whole editing feature by ourselves.

@nicolas-raoul would definitely have some insights on this.

[2018-02-24 18:10] maskaravivek commented on #1189
Sounds good! @ujjwalagrawal17 can you include a link to Google's guideline for reference. :)

[2018-02-24 18:13] maskaravivek commented on #1187
Great idea @ujjwalagrawal17! It would be a nice addition to the app. Am not sure if it should find its place in the hamburger menu itself or should we add it in the **About** page.

@neslihanturan @misaochan Can you suggest where should we be adding the rate us option.

[2018-02-24 18:57] #1143 closed

[2018-02-24 19:35] tanvidadu commented on #1192
javacv library can be used for this purpose. Though I am not sure the effort needed to write the whole editing feature using this library.

[2018-02-25 00:44] hismaeel opened #1195 "Give toast when trying to upload image without giving a Title"
small issue. When uploading a new image, if I click on the next button at top right without filling in a title, it does nothing. A toast that reads "Please give a Title to proceed" would be helpful. I can start working on this :)
![shot](https://user-images.githubusercontent.com/25305892/36636763-ff9fc566-199a-11e8-8d3d-929f2955d427.png)

[2018-02-25 02:38] psh commented on #1195
I count three open PR from you right now @hismaeel ... I appreciate your enthusiasm for the project but maybe it would be worth letting someone else work on the issue and get their chance to participate?

[2018-02-25 03:47] hismaeel commented on #1195
@psh Sure Thing!

[2018-02-25 07:14] gupta-meghna64 opened #1196 "Text isn't formatted properly in Tutorial PageViews"
## Summary
Formatting the text properly in the tutorial page views would enhance the UI of the application. Instead of a '-', a bullet point should be used, and the line wraps should be properly indented.

## Steps to Reproduce
Changes will be made to the following pages:
1) welcome_do_upload.xml(landscape too)
2) welcome_dont_upload.xml(landscape too)
3) welcome_image_details.xml(landscape too)

[2018-02-25 08:11] Steinsplitter opened #1197 "[Discussion] Announce the app on Wikimedia Commons Mobile"
Wikimedia Commons Mobile (https://commons.m.wikimedia.org/wiki/Main_Page) is the mobile site for the webbrowsers, but it is imho alpha. it does not support gadgets, the improved upload form is not supported, no real mobile upload client, etc. etc.

I am inclined to announce the app somewhere there.

Maybe on the (Mobile) Main Page?
Or we could add it somewhere to he interface (for example to the n

[2018-02-25 08:28] knight-shade commented on #1192
DS photo editor SDK seems to be a good option.

[2018-02-25 08:47] maskaravivek commented on #1192
Can you include a link for it.

[2018-02-25 08:53] maskaravivek commented on #1196
Looks good to me. It might be a good idea to let others pitch in too. @neslihanturan your thoughts on this?

@gupta-meghna64 There are a lot of other beginner friendly tasks as well that you could take up. :)

[2018-02-25 09:15] misaochan commented on #1187
Sounds like a good idea! For the time being I would suggest putting it into the About page - the hamburger menu feels a bit cluttered already. But very few people read the About page, so perhaps we can implement it there first, and then discuss ways of gently nudging users towards rating us?

[2018-02-25 09:17] misaochan commented on #1192
An additional question for @nicolas-raoul ,@whym , or anyone else familiar with Commons policies - do we WANT to encourage people to edit their photos before they put them up on Commons?

Definitely no stickers or 'write' options though, please. ;)

[2018-02-25 09:26] #1181 closed

[2018-02-25 09:26] misaochan commented on #1181
Thanks for spotting and fixing this, guys! :)

[2018-02-25 09:29] misaochan commented on #1179
I think one line should suffice for the title? The title will actually turn into the image's filename on Commons, so I don't think Commons will be very happy with a 50-word title?

Long descriptions are great. :)

[2018-02-25 09:33] misaochan commented on #1173
Interesting, I can indeed log in to my beta account in the latest version of master even after fresh install. @neslihanturan can you confirm this works for you too?

[2018-02-25 09:38] whym commented on #1192
I believe the recommended way to do it is to have both - upload the unedited version first and then upload the edited (cropped, whitebalanced, etc) version, too, either as a separate file or by overwriting. This will allow someone else with a better editing skill to re-do the editing later, and until then the file remains as the version the uploader want it to be.

Not sure if there is a clearly s

[2018-02-25 09:46] misaochan commented on #7
Thanks for the PRs @maskaravivek , we have now fixed Requirement 1 and 2. What are the issues preventing 3 and 4 that you mentioned in our conversation?

[2018-02-25 09:58] 97balakrishnan commented on #1192
Yeah i agree with @whym . Even if we provide editing options in-app , I don't think that features like filters,special effects and stickers will be necessary for this app. The basic enhancements/adjustments such as brighgtness,contrast,sharpness are enough and Cropping should be given the first priority.

[2018-02-25 10:03] knight-shade opened #1198 "Orientation change in Notification activity causes it to reload notifications."
**Summary:**

When there occurs a orientation change in Notification activity, notification's list is again fetched from the server.

**Steps to reproduce:**

1. Go to Notifications from navigation drawer.
2. Change the orientation of the phone.

**Expected behavior:**

Notifications list should be retained across orientation change for better UX, reduced loading time and network usage.

**Observe

[2018-02-25 10:41] VojtechDostal commented on #1197
I think that would really be cool. Who should be involved in such decision?

[2018-02-25 10:44] VojtechDostal commented on #1139
IMHO It should basically nominate the picture for deletion.There is a link for that in the sidebar. Would that be possible?

[2018-02-25 10:45] VojtechDostal commented on #1133
Yep, unlikely.

[2018-02-25 10:56] knight-shade commented on #1179
Yup @misaochan , valid point.

[2018-02-25 11:01] tshradheya commented on #1195
Can I take this up?

[2018-02-25 11:56] Steinsplitter commented on #1197
I thought something like this:

![bildschirmfoto vom 2018-02-25 um 12 53 14](https://user-images.githubusercontent.com/6726292/36641154-503c013e-1a2b-11e8-9418-4a8edf7b4fcf.png)

[code]

[2018-02-25 13:11] diddypod commented on #1139
I did a bit more reading and found that [API:Delete](https://www.mediawiki.org/wiki/API:Delete) is not for nomination. A better choice would be to use [API:Edit](https://www.mediawiki.org/wiki/API:Edit) to edit the relevant pages as described in [Commons:Deletion requests/Listing a request manually](https://commons.wikimedia.org/wiki/Commons:Deletion_requests/Listing_a_request_manually).

As for t

[2018-02-25 13:34] maskaravivek commented on #1195
Sure @tshradheya. Feel free to take it up. :)

[2018-02-25 14:50] Moseco commented on #1169
@knight-shade Are you meaning the url is correct because it loads the image or are you checking something like the following:

System.out.println(contribution.getImageUrl);

Because under the current implementation the image still can be loaded because the code fetches the correct url based on the filename. So even if the imageurl gets set incorrectly between a data clear or uninstall the app work

[2018-02-25 15:30] VojtechDostal commented on #1197
It seems great. It will definitely improve the awareness of the app. @misaochan Is it OK for you?

[2018-02-25 16:32] misaochan commented on #1197
That would be wonderful, thanks so much @Steinsplitter ! :)

[2018-02-25 16:34] misaochan commented on #1133
Closing this, then. I suppose we can leave #1095 up for now.

[2018-02-25 16:34] #1133 closed

[2018-02-25 16:44] misaochan commented on #1197
Oh, one minor edit suggestion - F-Droid and Google Play are both app repositories for Android. I presume the first link will be to https://play.google.com/store/apps/details?id=fr.free.nrw.commons , in which case we would usually say "Download on Google Play" instead of "Download for Android" if there is simultaneously an F-Droid download present, and it would usually use the Google Play icon ([ex

[2018-02-25 17:39] Steinsplitter commented on #1197
@misaochan Okay, i changed the icon. The change is live now :)

[2018-02-25 17:52] diddypod commented on #1139
I've managed to get the script injection working. Should I take this up? @nicolas-raoul @misaochan

[2018-02-25 18:07] ujjwalagrawal17 commented on #1139
@diddypod If you have started working on in you work on it. I will work on other issues.

[2018-02-25 19:05] misaochan commented on #1197
@Steinsplitter Thanks! I could not see the buttons until I logged in, though - was that intended?

[2018-02-25 19:07] misaochan commented on #1139
@diddypod Nice! I'm inclined to say yes, but probably best to wait for @nicolas-raoul to confirm.

[2018-02-25 19:12] Steinsplitter commented on #1197
Yes.

[2018-02-25 22:12] ayushin78 opened #1203 "Feedback Feature shows unsupported clients"
**Summary:**

Instead of showing only the email clients, The Feedback feature is showing multiple unsupported clients (WhatsApp, Bluetooth etc.).

**Steps to reproduce:**
1. Install some apps which can be used for sharing. ( e.g. WhatsApp, Bluetooth)
2. In the Navigation Drawer, press on Feedback.

**Observed Behaviour**
Multiple unsupported clients being displayed.

**Expected Behaviour**
Show th

[2018-02-26 01:08] knight-shade commented on #1203
Ya @ayushin78 , even I was wondering what's wrong with feedback feature. Nice :+1:

[2018-02-26 01:34] knight-shade opened #1205 "Add ItemDivider in NearbyListFragment"
**Summary:**

Currently, There is no ItemDivider used in the NearbyListFragment. adding an ItemDivider will make it look cleaner and will help users to understand how the content is organized.

**Steps to reproduce:**
1. Go to nearby from navigation drawer.
2. Select list mode.

**Expected behavior:**
![after](https://user-images.githubusercontent.com/20313518/36649424-fb728176-1ac2-11e8-968c-de8f

[2018-02-26 02:18] knight-shade opened #1207 "BUG: In Login activity, app crashes during orientation change."
**Summary:**

When orientation change occurs in login activity, it crashes the app.

**Steps to reproduce:**

How can we reproduce the issue?
1. Go the login screen (Logout if already logged in).
2. Change the phone orientation.

**Add System logs:**
[code]

**Device and Android version:**

Android 7 MIUI V9.0

 **Commons app version:**

2.6.7-debug-master~e9602f5

**Screen-shots:**

![crashgif](h

[2018-02-26 04:24] nicolas-raoul commented on #1207
Thanks for the greatly detailed bug report!

[2018-02-26 07:59] nicolas-raoul commented on #1196
Looks good to me! :-)

[2018-02-26 10:00] misaochan commented on #1197
Looks good to me in that case. :) Shall we close this issue?

[2018-02-26 10:17] VojtechDostal commented on #799
I am happy to create the Twitter account and post automatically from Facebook. I need an e-mail address for that. Do we have one or should I create one for this purpose?

[2018-02-26 10:24] misaochan opened #1212 "Items needed for v2.7 release"
We plan on releasing v2.7 to beta in 1-2 weeks' time. :) Below are the items that need to be completed before the release:

- [x] #252 , up to the category suggestion stage
- [x] Memory leaks in Nearby solved #1368
- [x] Other Nearby fixes (more detail in #1329 ):
   - Add "?" description fix to NearbyList
   - Known crashes fixed
   - Test that uploads, including direct uploads (from list and map

[2018-02-26 10:26] misaochan commented on #799
Nope, we don't have an organization email AFAIK. Would be great if you could create one, thanks @VojtechDostal ! :)

[2018-02-26 11:06] neslihanturan commented on #1212
#686 comes tomorrow:)

[2018-02-26 11:17] SaiKrishna1827 commented on #1189
It's the correct way to use colorPrimaryDark on status bar and colorPrimary on toolbar as suggested by @ujjwalagrawal17

@maskaravivek  you can find it in Google's Android studio developer manual [here](https://developer.android.com/guide/topics/ui/look-and-feel/themes.html#CustomizeTheme)

    <color name="colorPrimary">#3F51B5</color>

    <color name="colorPrimaryDark">#303F9F</color>

    <col

[2018-02-26 13:42] VojtechDostal opened #1213 ""Use App" at Wikimedia Commons official Facebook page should go to our download page"
There is a nice blue button here:
https://www.facebook.com/WikiCommons/

that goes to a meta page, which seems useless to me.

I'd like to ask the WMF Social team to change this to our app download page.
Or should it go to our website? https://commons-app.github.io/ ?

[2018-02-26 13:59] misaochan commented on #1213
This would be wonderful if possible! I think going to our Google Play download page would make the most sense for most users. F-Droid users will likely know how to work around it.

[2018-02-26 14:00] VojtechDostal commented on #1213
OK, I will try :-)

[2018-02-26 15:18] psh commented on #1189
Dropping our primary / dark blue colors into Google's material design [Color Tool](https://material.io/color/#!/?view.left=0&view.right=1&primary.color=0c609c&secondary.color=0c609c) shows how the colors should be used visually.

<img width="199" alt="01" src="https://user-images.githubusercontent.com/407647/36678206-c899c166-1ad5-11e8-910b-06ca25e2fdba.png"> <img width="197" alt="02" src="https:/

[2018-02-26 16:09] VojtechDostal commented on #1212
I think we should start featuring these updates on [Tech News](https://meta.wikimedia.org/wiki/Tech/News#contribute), which are weekly sent to village pumps of many language Wikipedias and thus could provide a lot of publicity for us. The next issue is scheduled for publication on 2018-03-05, another on 2018-03-12. Questions:

1. should we announce the date the change comes to beta? or the final d

[2018-02-26 18:12] #1197 closed

[2018-02-26 19:41] misaochan commented on #1212
Thanks @VojtechDostal ! Will ping you when we do the release.

1. I would go with the latter, but beta isn't too bad either if we include a link to register for beta IMO.
2. Definitely after. It's really hard (and stressful :)) to pinpoint an exact date beforehand. Plus people will likely just forget when the time arrives

[2018-02-26 19:53] #1203 closed

[2018-02-26 19:57] #1186 closed

[2018-02-26 20:00] maskaravivek commented on #1205
@knight-shade Really appreciate your enthusiasm but @ayushin78 had already raised a PR for the same issue. That PR is now merged.

Closing this PR. Please feel free to take up other issues. :)

[2018-02-26 20:00] #1205 closed

[2018-02-26 20:14] #1196 closed

[2018-02-26 21:07] VojtechDostal commented on #1197
@Steinsplitter could you please look at #1213 ? I think you might be an admin of the relevant page :-)

[2018-02-26 21:09] VojtechDostal commented on #1213
I asked WMF Social and they seem to have no problem. They redirected me to admins of the page.

[2018-02-26 21:19] ayushin78 opened #1215 "Add missing space between Licence and Coordinates in MediaDetailFragment"
**Summary:**
In MediaDetailFragment, space is missing between Licence and Coordinates

**Steps to reproduce:**
1. Click on home, to see 'My Recent Uploads'
2. Scroll the Detail Pane up.

**Device and Android version:**
Samsung A8
Android 6.0 Marshmallow

 **Commons app version:**
2.6.7

**Screen-shots:**

Observed Display            |  Expected Display
:-------------------------:|:----------------

[2018-02-26 23:28] maskaravivek commented on #7
The [notifications API](https://commons.wikimedia.org/wiki/Special:ApiSandbox#action=query&format=json&meta=notifications) doesn't contain any information that i can possibly use to show that the talk message is actually about an image being nominated for deletion.

The API response contains the following data for the image being nominated for deletion message.

**Notification as seen on Commons**

[2018-02-26 23:31] maskaravivek commented on #7
Also for point number (4) the API doesn't return sufficient information. This is the response I receive:

[code]

So it won't be possible to redirect the user to the message section. I can at best simply construct the talk page URL.

It would be great if someone could provide some insights on the issues (3) and (4).

[2018-02-26 23:42] #1177 closed

[2018-02-26 23:47] #1207 closed

[2018-02-27 00:19] whym commented on #7
Regarding detecting deletion requests, some pattern matching might work well enough.

In the API response (at least one used in MediaWiki itself) we have relevant URLs.

![screenshot from 2018-02-27 09-09-54](https://user-images.githubusercontent.com/10674/36703239-17d5fd1c-1b9e-11e8-9039-8cd6ef37f5f0.png)

 "primary" attribute under "links" contain the section name - you can look for the string "

[2018-02-27 01:24] nicolas-raoul commented on #1187
While commercial apps pester their users to enter a rating, as a community app that does not depend so much on ratings for its survival I don't think we should follow that trend.
People who are interested to learn more about the app's background click the About menu, so that's the best place to put it. Incidentally, I also guess people who clicked About are the ones who would rate the app higher.

[2018-02-27 03:15] gupta-meghna64 commented on #1215
Hi! I'd like to work on this issue. Can I please start working on this?
Thanks!

[2018-02-27 04:35] gupta-meghna64 opened #1216 "Image downloading fails"
### Summary
Clicking the download button after going to My Recent Recent Uploads fails to download an image to the phone's storage even when the app has been granted Storage Permission.

### Screenshots

![whatsapp image 2018-02-27 at 9 09 05 am 2](https://user-images.githubusercontent.com/20908024/36710487-50a884c4-1ba4-11e8-967e-e74c2558c918.jpeg)
![whatsapp image 2018-02-27 at 9 02 21 am 2](htt

[2018-02-27 05:25] nicolas-raoul commented on #1215
Good catch!
OK it's yours :-)

[2018-02-27 05:39] nicolas-raoul commented on #1139
@diddypod Sorry for the delay!

I guess that only administrators have the permission to use API:Delete, so you are right that the best is to edit the relevant pages as described in Commons:Deletion requests/Listing a request manually.

Do you mean you have succeeded to create the deletion request? Nice job! In that case, waiting for your pull request :-)

[2018-02-27 05:52] diddypod commented on #1139
Hi @nicolas-raoul

I've tried using the method described by @VojtechDostal above, i.e. using the JavaScript on the File page to Nominate for deletion. However, since I'm using a WebView for it, the user is not logged in by default. Should I prompt the user to Log In once more or is it fine to send the Delete Request without logging in? (In this case the IP of the user will be recorded instead of t

[2018-02-27 06:08] nicolas-raoul commented on #1139
Rather than prompt for a user/password again (with the associated security risks), better:
1. Study what the buttons does (what pages it edits, what text it adds to each page)
2. Implement the same edits using the Mediawiki API
Thanks!

[2018-02-27 06:09] tshradheya commented on #1215
@nicolas-raoul I think the note on the issue description states that she isn't working on it.
Can I take a stab at this?

[2018-02-27 06:14] knight-shade commented on #1216
Yup @gupta-meghna64 , I can confirm the issue.
**Device and Android Version**
Android 7.0 MIUI Global V9.0

Can I take up this issue?

[2018-02-27 06:19] diddypod commented on #1139
Okay, I'll do that. Starting work on it :)

[2018-02-27 06:26] gupta-meghna64 commented on #1216
Let us wait for a confirmation @knight-shade

[2018-02-27 06:34] nicolas-raoul commented on #1192
We all seem to agree that only a subset of operations are necessary, and that some operations are undesirable, so I added them to the body of the issue, anyone feel free to modify or ask to modify.

Upload the original + overwrite with the edited version sounds like a good approach, to avoid multiplication of similar files while allowing a more skilled editor to edit the picture better later (the

[2018-02-27 06:39] ujjwalagrawal17 commented on #1147
@nicolas-raoul @misaochan What are your suggestions on this?

[2018-02-27 06:41] nicolas-raoul commented on #1215
@tshradheya Ah yes I misread, it's yours then ;-) Thanks!

[2018-02-27 06:53] nicolas-raoul commented on #1147
The details view already exists:
![screenshot_20180227-154832](https://user-images.githubusercontent.com/99590/36714554-06508002-1bd6-11e8-9856-12ee9d771f9c.png)
When the user clicks on the picture in the screen above, it should open full-screen.

[2018-02-27 08:16] #1215 closed

[2018-02-27 08:19] maskaravivek commented on #1139
Also if you get stuck you could also ask MediaWiki folks to help you out by raising a ticket here.

https://phabricator.wikimedia.org/

[2018-02-27 08:45] nicolas-raoul commented on #844
Strangely I still see this problem recently, the category with the entered name is very far in the list of suggestions:
![screenshot_20180125-144605](https://user-images.githubusercontent.com/99590/36718635-e13713fc-1be5-11e8-925f-addbc962b181.png)

[2018-02-27 09:34] VojtechDostal commented on #1216
That's really weird but I confirm that I cannot download images either. ("Download Failed")

[2018-02-27 10:16] maskaravivek commented on #1216
Please feel free to take up the issue. @gupta-meghna64 or @knight-shade.

[2018-02-27 10:26] gupta-meghna64 commented on #1216
I'd like to explore about the issue and work on it :-)

[2018-02-27 11:57] Steinsplitter commented on #1213
CC: @NahidSultan

[2018-02-27 12:05] NahidSultan commented on #1213
Done :)
Added our Commons page: https://commons.wikimedia.org/wiki/Commons:Mobile_app

[2018-02-27 12:09] VojtechDostal commented on #1213
Thank you

[2018-02-27 12:09] #1213 closed

[2018-02-27 14:08] 97balakrishnan commented on #1192
Instead of overwriting, I think that the Auto Adjust feature if available can be automatically applied if someone uploads an image.(Which automatically adjusts brightness,contrast etc).
That's also a good option to be considered

[2018-02-27 14:28] knight-shade opened #1218 "Add password visibility toggle to login screen."
**Summary:**
There is no password visibility toggle option at login screen. Its definitely good for newcomer to android and user having long passwords, and strangely it is explicitly set to false in code.

**Screen-shots:**
Before
![before 1](https://user-images.githubusercontent.com/20313518/36734061-72dbb990-1bf8-11e8-97f8-bde4691c3626.jpeg)

After
![after 1](https://user-images.githubuserconten

[2018-02-27 14:31] nicolas-raoul commented on #1192
@97balakrishnan Would you have a link to this "Auto Adjust" feature? Or is this something that you propose to create in Wikimedia Commons?

[2018-02-27 14:40] nicolas-raoul commented on #1218
I have no strong opinion on this.
Indeed some users might want it, so why not.

[2018-02-27 14:42] 97balakrishnan commented on #1192
I suggest we can use SDKs to automatically adjust the pic before it gets uploaded to Wikimedia Commons without the intervention of the user. Something like this.
[https://imagizer.com/docs#auto-fix](https://imagizer.com/docs#auto-fix)

[2018-02-27 15:50] knight-shade commented on #1169
@Moseco Yes, I checked with Timber.d(). I have logged both the urls, the one which is used when download image option is selected and other one, "View in Browser" is selected.

![whatsapp image 2018-02-27 at 9 10 02 pm 2](https://user-images.githubusercontent.com/20313518/36738168-e633da6c-1c02-11e8-9325-493d1599a46a.jpeg)

Both the urls are different, just for example in case of image I uploaded:

[2018-02-27 16:21] 97balakrishnan opened #1221 "Allow users to browse Commons from app"
**Summary:**

 My suggestion is to enable the user to access the Mobile version of Wikimedia Commons  Website  within their app. This would give an integrated feel to the user.
I noticed that this has been the main concern with people in playstore reviews.
Sorry if this issue has already been discussed

**Steps to reproduce:**
Adding a new activity which would display the mobile version of Wikimed

[2018-02-27 16:50] knight-shade commented on #1216
@gupta-meghna64 didn't realised this issue was assigned to you, although this might be useful for you:

The following two options appear before you select the download one:

![whatsapp image 2018-02-27 at 9 10 02 pm 2](https://user-images.githubusercontent.com/20313518/36738168-e633da6c-1c02-11e8-9325-493d1599a46a.jpeg)

The reason why all the downloads are unsuccessful is both the urls of the abo

[2018-02-27 17:47] gupta-meghna64 commented on #1216
@knight-shade The base imageUrl that you have specified in the code as https://upload.beta.wmflabs.org/wikipedia/commons/0/0c/ isn't the same for every image being uploaded. In my case, the base url turns out to be
https://upload.beta.wmflabs.org/wikipedia/commons/b/bd/

So, I guess we'll have to find out an alternative way of fetching the base URL instead of hard-coding it.

[2018-02-27 17:51] knight-shade commented on #1216
@gupta-meghna64 , Uh ohh, this concern came to mind though, I think it varies for each user, is it?
Better solution might be just make the backend much bettter.

[2018-02-27 18:07] gupta-meghna64 commented on #1216
@knight-shade The URL generated in the case of images with no spaces in the name is perfect, and the downloading is also taking place. But the problem comes when the image that has been uploaded has a space/special symbol in the name because of which the imageURL being generated is incorrect.

[2018-02-27 18:13] gupta-meghna64 commented on #1169
@Moseco @knight-shade Both the download URL being generated is different only in the case when the image name contains a space.
Ideally, it should be of the form: https://upload.beta.wmflabs.org/wikipedia/commons/x/xy/filename.jpg where if filename consists of spaces, then spaces should be replaced by a blank string.
If the upload url gets fixed for this particular case, then #1216 gets solved too

[2018-02-27 18:27] #1218 closed

[2018-02-27 18:55] gupta-meghna64 opened #1222 "Extra padding in uploaded media categories section"
### Summary
An extra bottom padding is present after the media detail category container, which makes it inconsistent with the rest of the containers.

### Steps to reproduce
1) Open the details of the uploaded media
2) Scroll down to media category container

### Expected behavior
![new](https://user-images.githubusercontent.com/20908024/36748225-3aa5b54c-1c1d-11e8-8632-c3f990af9f6f.jpeg)

### Ob

[2018-02-27 19:02] maskaravivek commented on #1222
@gupta-meghna64 I really can't find out the difference between the two screenshots. Am I missing something?

[2018-02-27 19:03] maskaravivek commented on #1222
Aah! Spotted it. Very subtle. Good catch. :P

[2018-02-27 19:04] gupta-meghna64 commented on #1222
Thanks xD
I've referenced a PR. Please review!

[2018-02-27 19:05] maskaravivek commented on #1222
Approved! Will merge once the tests pass.

Thanks for the contribution :)

[2018-02-27 19:38] ayushin78 opened #1224 "Show complete text of welcome notification"
**Summary:**
Welcome Notification doesn't redirect the user to any link. As a user, I would like to know the complete information displayed in the notification. So, Either it should redirect the user to an external link containing the full information or it should show the complete text of the notification.

**Steps to reproduce:**
1. After Login, click on Notifications.
2. Check the welcome notif

[2018-02-27 20:05] ujjwalagrawal17 commented on #1189
how is primary dark color selected?

<table>
<tr>
<td>

![screenshot_20180228-010941](https://user-images.githubusercontent.com/19607555/36750712-3d3f593c-1c24-11e8-842c-96cb84e4f391.png)

</td>
<td>

![screenshot_20180228-010819](https://user-images.githubusercontent.com/19607555/36750714-3d722d58-1c24-11e8-8434-279118645d35.png)

</td>
</tr>
</table

I had attached 2 combinations

Image 1 has ou

[2018-02-27 20:33] #1222 closed

[2018-02-27 20:38] maskaravivek commented on #1224
Am not sure how the notifications would look if the message is too long. Instead of removing the `maxLines` limit we can probably just increase it.
Moreover:
- It would be great if we could reduce the padding and size of the image. That would give us some more space for the notification text.

[2018-02-27 21:53] dehrenha commented on #1170
@JosephineLim I sent it a few hours after the failed upload.

On Wed, Feb 21, 2018 at 4:38 AM, Josephine Lim <notifications@github.com>
wrote:

[2018-02-28 01:57] nicolas-raoul commented on #1221
Could you please copy/paste (or screenshot) the playstore reviews you mention?
Thanks! :-)

[2018-02-28 03:29] 97balakrishnan commented on #1221
![alt text](http://i63.tinypic.com/2h5lhzd.png)

[2018-02-28 04:35] knight-shade commented on #1216
@gupta-meghna64 I have come up with a fix, shortly will update in detail.

[2018-02-28 04:48] nicolas-raoul commented on #1221
You raise a very valid point.
These people want to browse Commons pictures.
On the opposite, our app is 100% focused on _uploading_ pictures.

Among our possible strategies:
- Change the app's name to "Wikimedia Commons uploader", so that people who want to just browse don't download it, and nobody accuses us of making false promises.
- Implement browsing within the app (that's a lot of work, but

[2018-02-28 09:55] VojtechDostal commented on #1221
I'm trying to understand what these users want. I think they are actually asking for a "Search and browse" option in the sidebar. As a non-programmer, I am not sure how complex it is to include a search field in the app and then output the results of the search in a nice way (not sure if webview could do that).

[2018-02-28 10:00] misaochan commented on #1170
Hi @dehrenha ,

The way the "Send log file" feature works is that it pulls the existing logs from your phone at the time you send it. Unfortunately Android logs scroll VERY fast (and AFAIK are also cleared when you restart your phone), so generally it is best to submit **immediately** after the bug happened. Apologies that I didn't clarify that in my request. :)

[2018-02-28 10:18] misaochan commented on #1221
@VojtechDostal It would probably take quite a lot of work to allow users to "browse" Commons entirely within the app, especially if they want all of the details that are visible in the browser. Possibly a compromise could be to do the API calls and display the results in the app (basic stuff like the image thumbnails and the author), but if the user wants more details they will be redirected to a

[2018-02-28 10:33] neslihanturan opened #1225 "Unable to start the app on pre-lollipop devices"
**Summary:**
On pre-lollipop devices (tested with physical device and emulator) the app never starts. Crashes immediately.

**Steps to reproduce:**
Just start the app on a pre-lollipop device

**Add System logs:**
[code]

**Device and Android version:**
4.4

[2018-02-28 10:43] gupta-meghna64 opened #1226 "Replacement of tutorial icon in navigation drawer"
### Summary
The icon used for tutorials in the navigation drawer is the same as the about icon. As an enhancement to the User Interface, a different icon should be used.

### Steps to reproduce
1) Launch the application
2) Open the navigation drawer

### Device and Android version
Redmi Note 3
MIUI 6.0.1 MMB29M

### Commons app version
2.6.7

### Screenshots
Before:
![whatsapp image 2018-02-28 at

[2018-02-28 10:43] #1163 closed

[2018-02-28 10:54] gupta-meghna64 commented on #1216
@knight-shade It's working :-)

[2018-02-28 10:59] VojtechDostal commented on #1216
A few difficult file names to check:

- File:ČSD ř. M 260.001 1939-02.17. 24.jpg
- File:دمشق جبل قاسيون.jpg

Does the regex work for them?

[2018-02-28 11:04] knight-shade commented on #1226
@gupta-meghna64 How about this one?
![6-512](https://user-images.githubusercontent.com/20313518/36784416-4a8c4e8e-1ca5-11e8-9d2c-22b1f94ce5fd.png)

[2018-02-28 11:06] neslihanturan commented on #1226
Not this one @gupta-meghna64 :) I would prefer something simpler. Actually your screenshots looks nice

[2018-02-28 11:12] misaochan commented on #815
Hi @srish ,

We have been receiving a huge number of contributions from potential applicants. :) In view of that, @neslihanturan has volunteered to join @maskaravivek and I in mentoring if we are allowed to have 2 interns in our project, in order to give as many applicants as possible the chance to participate in GSoC/Outreachy. Would that be at all possible? We are also talking about a potential

[2018-02-28 11:27] gupta-meghna64 commented on #1226
Cool @neslihanturan
I'll reference a PR with this issue then with the result as the above screenshot :-)

[2018-02-28 12:01] knight-shade commented on #1216
Currently the app crashes for filenames which are not in english, trying to work on the issue.

[2018-02-28 12:35] srish commented on #815
@misaochan that sounds wonderful :) Thanks to you and @neslihanturan for willing to mentor as well! :) It is totally possible that we accept more than one intern for your project and promote another topic. The only thing to keep in mind is that for Outreachy we have agreed to fund up to two interns. So, if we are to select a second intern; we could do so only through the Google Summer of Code slot

[2018-02-28 13:44] gupta-meghna64 commented on #1216
@knight-shade Since you've already figured out the solution, I request you to put a PR to this and @VojtechDostal and @maskaravivek to re-assign the issue to @knight-shade

[2018-02-28 15:31] knight-shade commented on #1216
@gupta-meghna64 , now again it will take more time to re-assign the task, its hardly a line, and since its already assigned to you, I request you to make the PR kindly. :ok_hand:

[2018-02-28 17:44] misaochan commented on #815
Thanks @srish ! If we do that, should we create a new Phab task for the 2nd topic? Or should we have both under the same task?

[2018-02-28 17:55] srish commented on #815
@misaochan Yes, it would be good to create a Phab task.

[2018-02-28 18:02] misaochan opened #1228 "Add re-center button to Nearby map (in feature branch)"
After testing the Nearby feature in `directNearbyUploads` branch for a bit, I really think that we need to provide a way for users to re-center the map on their current location. Users will be swiping a lot to switch between the list and the map - and if they swipe wrongly and move the map away, they have to reload Nearby or manually go back to their location.

I do recall that we discussed this s

[2018-02-28 18:35] Jatin0312 commented on #1224
Can't we include a button in notification to completely see the notification, so whenever a user clicks on that notification button complete text will be displayed something like see more, see fewer buttons in LinkedIn, Facebook.
Example:
![bug](https://user-images.githubusercontent.com/17095817/36805691-1726d6ba-1ce4-11e8-9b47-0b22998a3bf4.gif)

[2018-02-28 21:37] maskaravivek commented on #1224
The see more option actually makes sense and it would be great if we could implement that.

[2018-02-28 21:41] Jatin0312 commented on #1224
I would like to work on this issue

[2018-02-28 21:48] #1226 closed

[2018-02-28 21:50] maskaravivek commented on #1224
Sure, please feel free to pick this up. :)

[2018-03-01 00:35] hismaeel opened #1229 "Ability to change Media Title, Description, and Category"
Would be great if users are allowed to rename Image Titles, and change Image Descriptions, and Categories. One might learn something new about the picture/item, or about it's details/description, and would then like to update it. Will also help those writing Wikipedia articles get more refined/relevant results.

![edit](https://user-images.githubusercontent.com/25305892/36820189-a4a5c0c0-1cba-11e8

[2018-03-01 03:48] ujjwalagrawal17 opened #1230 "Add showcase feature in the app for new users"
**Summary:**

We can add showcase feature in our app to provide ease to new users.

**Steps to reproduce:**

Use Material Showcase view in the app to tell the user how to upload images and more
Link -https://github.com/deano2390/MaterialShowcaseView

**What did you expect the App to do?**

The app should have showcase/tooltip feature.

**What did you see instead?**

No showcase/tooltip feature is

[2018-03-01 09:10] ujjwalagrawal17 opened #1231 "Add Option to donate to Wikimedia Foundation"
**Summary:**

we can have a button that redirects to the webpage of Wikimedia Foundation may be in about page

**Steps to reproduce:**

we Can  have a button that redirects to the webpage of Wikimedia Foundation
 Link - https://wikimediafoundation.org/wiki/Ways_to_Give

**Expected behavior:**

No donation option is available.

**Observed behavior:**

donation option should be available.

[2018-03-01 10:20] nicolas-raoul commented on #1230
Could you please write down above what features should be showcased?
Thanks!

[2018-03-01 10:21] nicolas-raoul commented on #1231
Since the app is partly funded by WMF, I agree that sounds right.
The label should make it clear that donation do not go to the app specifically, but to WMF as a whole.
How about a "Donate to the Wikimedia Foundation" link in the "About" menu?

[2018-03-01 10:42] nicolas-raoul commented on #1229
Nice! Sounds like #161 though?
If duplicate could you please close this one and post your design there? Thanks! :-)

[2018-03-01 10:43] nicolas-raoul commented on #1229
Editing the title is currently usually discouraged but, but hopefully that will change with Structured Commons captions.

[2018-03-01 10:50] ujjwalagrawal17 commented on #1189
@nicolas-raoul  @maskaravivek  what do you think?

[2018-03-01 12:52] gupta-meghna64 commented on #1231
Hi! Can I please work on this issue?
Thanks :-)

[2018-03-01 13:56] hismaeel commented on #1229
Ah missed that.
Great 👍

[2018-03-01 13:56] #1229 closed

[2018-03-01 14:52] ujjwalagrawal17 commented on #1231
@gupta-meghna64 ok you work on it.

[2018-03-01 17:09] misaochan commented on #1228
Thanks for the feedback, guys. :) If anyone is interested in implementing this, please remember to work from (and submit the PR to) the `directNearbyUploads`  feature branch, and not master.

[2018-03-01 17:14] misaochan commented on #1231
@nicolas-raoul Do you think we should ask WMF Legal first? I mean, I don't see any reason why they'd say no, but given that they requested us to make a very clear disclaimer about the app not being maintained by WMF, it might be somewhat misleading to have this button around.

[2018-03-01 17:18] misaochan commented on #1189
@neslihanturan ?

[2018-03-01 17:18] misaochan commented on #1189
Pinging @neslihanturan , as the current color scheme was created by her.

[2018-03-01 17:24] Jatin0312 commented on #1228
I would like to work on this issue. Thanks :)

[2018-03-01 20:05] neslihanturan commented on #1225
Up. This has high priority since we can't release before fixing this.

[2018-03-01 21:16] SylvainGirod commented on #171
Hey ! Last commit is about a week ago, are there some errors I can try to fix ?

[2018-03-01 21:40] maskaravivek commented on #171
Sure @SylvainGirod. Simply run the `./gradlew :app:lint` task on this project and gradle will give you a list of existing lint issues. :)

[2018-03-02 01:44] hismaeel commented on #161
Great, I too was thinking about this.
I would love to work on this; I am done with previous tasks. I'll be coming back here to ask you guys for guidance/help and updates :-)
A very basic Design just to demonstrate:
![untitled](https://user-images.githubusercontent.com/25305892/36869932-60fc9950-1d6b-11e8-80ac-7b4de25f6a1e.png)

Also, should editing Title should be allowed?

[2018-03-02 02:01] nicolas-raoul commented on #161
@hismaeel Thanks a lot, I will really use this feature a lot after you implement it, I need it very often.

I suggest skipping Title for now, because [normal users can not do it](https://commons.wikimedia.org/wiki/Commons:File_renaming), and might be replaced with "caption" when Structured Commons comes. More at

[2018-03-02 03:34] knight-shade commented on #1225
Yup, the app is crashing on pre-lollipop devices. I have made a fix, very soon will be creating PR, @neslihanturan Can you verify the fix?

[2018-03-02 03:55] knight-shade commented on #1225
Yup, the app is crashing on pre-lollipop devices, I got a fix working for pre-lollipop devices, but then the app crashes on above lollipop devices with entirely different exception.

[2018-03-02 04:18] nicolas-raoul commented on #1189
If I had to choose between Image 1 and Image 2 in your comment two days ago, I guess I would choose Image 2 :-)

[2018-03-02 04:36] misaochan commented on #161
The mockup looks great to me. :) I think only description and categories should be modifiable for the time being? Also if I may nitpick a bit, the pencil icon colour feels slightly jarring to me, perhaps a lighter grey would be preferable..

[2018-03-02 04:46] hismaeel commented on #161
Oh yup. I just quickly placed a provided icon just to demonstrate

[2018-03-02 04:53] nicolas-raoul commented on #815
Nice to hear that GSoC is getting so much attention this year, and that everyone is stepping up to help! :-)
@neslihanturan: Have you decided the task already? I guess you are looking for a co-mentor? @whym @VojtechDostal @psh @domdomegg @akaita @veyndan would you be interested?

[2018-03-02 05:06] misaochan commented on #815
I would suggest #1221 for the second topic , if you guys like the sound of that.

[2018-03-02 06:21] nicolas-raoul opened #1238 "Remove hurdle of creating an account"
Google Play statistics suggests that a lot of people uninstall the app just after installing it.
I suspect that the biggest blocker is the login screen. Most people probably give up at that step.

Proposed solution: Allow people to browse Commons, and even upload pictures, without the hurdle of choosing a username and password.

The app could show: Log in with existing account / Create an account

[2018-03-02 06:23] nicolas-raoul commented on #746
Jun 12, 2017 Google Play review:

[2018-03-02 08:30] neslihanturan commented on #1225
@knight-shade great! I will be checking your fix in 3 hours.

[2018-03-02 08:36] mashawan commented on #953
Hello, I notice this is unassigned but may be being worked on.  I have worked in Geo systems in the past and this is of interest to me.  Could I take this or is this still in active development?

[2018-03-02 09:41] maskaravivek commented on #1221
Yeah I agree, it would be a good potential task for GSoC project, though I am not sure about its priority. I believe that one of the tasks mentioned in this comment is might be a better choice. :)

https://github.com/commons-app/apps-android-commons/issues/815#issuecomment-357275828

[2018-03-02 09:47] neslihanturan commented on #1221
Actually we already plan to add featured images also, so this feature would also be nice. And I think its scope is appropriate for GSoC/Outreachy

[2018-03-02 17:43] knight-shade commented on #1238
@nicolas-raoul Smart Lock might be just the right thing for this AFAIK.
https://developers.google.com/identity/smartlock-passwords/case-studies

[2018-03-02 19:17] maskaravivek opened #1239 "Skip option in the Welcome screen for beta debug builds"
**Summary:**

Skip option in the Welcome screen. There are 5 pages in this screen and as a regular user, whenever i reinstall the app, i find it meaningless to swipe to get to the last screen.

**Steps to reproduce:**

![skip_welcome](https://user-images.githubusercontent.com/3069373/36916990-8f4d2d36-1e7b-11e8-95fa-9de08715fc51.png)

**Expected behavior:**

Option to **Skip** the tutorial would b

[2018-03-02 19:45] maskaravivek commented on #7
Thanks for the tip @whym! I wasn't sending some of these query params so the response that I got didn't contain all this information. I will incorporate these changes.

[2018-03-02 21:58] madhurgupta10 commented on #1063
Hi, I would love to work on this issue.

[2018-03-02 22:12] tanvidadu commented on #1239
I agree @maskaravivek it's an additional task for users who are already familiar with the working of the app

[2018-03-02 22:14] tanvidadu commented on #1239
I will start working on this issue :)

[2018-03-03 03:40] nicolas-raoul opened #1243 "Gallery only shows latest 3 images"
**Summary:**

Gallery only shows latest 3 images, seemingly no way to see more.

**Steps to reproduce:**

1. Open the app with an account that has 100+ uploads
2. Only the last 3 ones can be seen

**Expected behavior:**

I expect to be able to see my past pictures too.

**Observed behavior:**

Only 3 pictures visible.

**Device and Android version:**

Android 7.1.2

 **Commons app version:**

Comm

[2018-03-03 03:58] nicolas-raoul opened #1244 "Show images from category"
It can be hard to know whether you have found the right category just by its name.

The category could be for a different thing that bears the same name (and no category exists yet for the thing you took a picture of). Or you might have chosen a spelling different from the one used on Commons and the category is about something else. Or you might have a typo.

Solution: Show a few sample pictures

[2018-03-03 04:58] nicolas-raoul commented on #1063
@maskaravivek What is the current status of this? Thanks! :-)

[2018-03-03 05:27] anudeep3998 commented on #1243
Working on this issue.

[2018-03-03 05:34] anudeep3998 commented on #1243
I can't seem to reproduce this. Do you have `Set Recent Upload Limit` in settings on by chance?

[2018-03-03 06:42] nicolas-raoul commented on #1243
wow you're right I did not remember about this setting haha

I was reacting to this comment from a user:

Maybe they did the same mistake as me?

[2018-03-03 06:42] #1243 closed

[2018-03-03 09:41] VojtechDostal commented on #1231
I thought about this and I'm rather against. WMF is not actively maintaining the app and we are only financially supported. Adding the link might set a precedent for other projects financially supported by WMF and I don't think that's a good idea.

[2018-03-03 09:45] VojtechDostal commented on #1244
I think the real pain is actually inability to find any fitting category (connected to your issue #237) but this might help a bit too. Still feel this is a rather low-priority enhancement.

[2018-03-03 10:20] madhurgupta10 commented on #1244
Hi @nicolas-raoul , I would love to work on this issue. Could you please share a mockup?

[2018-03-03 10:29] ujjwalagrawal17 opened #1246 "Add FAQs page in Commons App"
**Summary:**

We need to add a FAQs page in App.We can choose some FAQs from the website.
Link to FAQs - https://commons.wikimedia.org/wiki/Commons:FAQ#What_is_this_site_about?

**Steps to reproduce:**

Add a new Activity /Fragment for FAQs Page.

**Expected behavior:**

There should be a page for FAQs.

**Observed behavior:**

There is no FAQ page in the app now.

**Screen-shots:**
UI can be like

[2018-03-03 11:23] madhurgupta10 commented on #1246
Hi, I would like to work on this issue!

[2018-03-03 11:33] ujjwalagrawal17 commented on #1246
@madhurgupta10 Hey I also want to work on it.
You can work on some other issue if you want. Maybe: https://github.com/commons-app/apps-android-commons/issues/1230.
Sorry :)

[2018-03-03 11:39] madhurgupta10 commented on #1246
@ujjwalagrawal17 can I implement [Photo Challenge](https://commons.wikimedia.org/wiki/Commons:Photo_challenge#Challenges_open_for_submission) to app?

[2018-03-03 11:45] ujjwalagrawal17 commented on #1246
@madhurgupta10 Yes you can. You need to create an issue before working on it. It seems to be a big task so we can divide it into small issues and then work on it.

[2018-03-03 11:52] madhurgupta10 opened #1247 "Add Photo Challenge Activity to app"
**Summary:**

The app should have an activity where users can see the current photo challenge available.

**Steps to reproduce:**

Creating an Activity which shows current photo challenge available on [website](https://commons.wikimedia.org/wiki/Commons:Photo_challenge#Challenges_open_for_submission)

[2018-03-03 13:25] Jatin0312 commented on #1224
@maskaravivek  I have created a fix. Please review it, I will create a pull request accordingly. Thanks :)
Screenshot showing what changed.
![solved3](https://user-images.githubusercontent.com/17095817/36934781-671ff782-1f14-11e8-95a7-f222ad2a00ec.gif)

[2018-03-03 13:53] #1195 closed

[2018-03-03 13:57] maskaravivek commented on #1239
Yes, i also believe that it should be added in all the screens. Before you start working on it, it would be great to get a go ahead from someone else too.

@misaochan @neslihanturan @nicolas-raoul

[2018-03-03 14:02] maskaravivek commented on #1224
@Jatin0312 I couldn't find the PR for this. Can you attach a link for it.

[2018-03-03 14:04] Jatin0312 commented on #1224
Ya sure, I will send a PR soon.

[2018-03-03 14:57] maskaravivek commented on #1246
@ujjwalagrawal17 IMO, it would be great if you could add a wiki page for the FAQs here on github. We can include a link to it in the app. That link could either be in the About page or in the hamburger menu. My vote would go for adding it in the about page.

[2018-03-03 14:57] neslihanturan commented on #1239
It would be a lot easier for developers indeed:) We already display tutorial on nav bar so I think skip button is a good idea.

[2018-03-03 15:01] maskaravivek commented on #1247
Yes, this is something which we always wanted to add. Ref:

- https://github.com/commons-app/apps-android-commons/issues/545
- https://github.com/commons-app/apps-android-commons/issues/865

The feature would be a big task. Would it b=possible for you to document the smaller tasks for it.

[2018-03-03 15:04] madhurgupta10 commented on #1247
Hi @maskaravivek, could you please tell me if there is any api available to fetch current challenge?

[2018-03-03 16:12] Steinsplitter commented on #1221
This would be a really cool feature 👍

[2018-03-03 16:16] VojtechDostal commented on #1247
There is difference between Commons challenges and Commons campaigns. Campaign support is planned for 2018. Challenges mentioned here have not been considered yet. The problem is that challenges are added manually (as a plain wikitext each month) and are thus probably difficult to access through an automatic approach.

[2018-03-03 16:25] madhurgupta10 commented on #1039
Hi, if the issue is still not resolved, may I please work on it?

[2018-03-03 17:34] gupta-meghna64 commented on #1231
@misaochan @VojtechDostal @ujjwalagrawal17 Should I close the referenced PR in that case?
Thanks

[2018-03-03 17:46] misaochan commented on #1231
Probably best to wait for @nicolas-raoul to get back so we can come to a consensus. I wouldn't spend any more time on this until then though. :)

[2018-03-03 17:47] misaochan commented on #1039
@madhurgupta10 I think you can go for it, as @afswift hasn't been around for a couple months now. :)

[2018-03-03 17:49] madhurgupta10 commented on #1039
@misaochan on it

[2018-03-03 17:50] misaochan commented on #815
@srish If we can't get a co-mentor for the 2nd task, is it okay to just list myself or @maskaravivek as co-mentor even though we are already on the 1st task? Or would it be best to wait for a 4th volunteer?

[2018-03-03 17:55] misaochan commented on #1247
@VojtechDostal Do you know if there is demand for having challenges in the app? At the most basic level, I imagine that we could just have a WebView to it linked in our About page (although of course that wouldn't be the most ideal way).

[2018-03-03 17:58] misaochan commented on #1239
This is a bit tricky unfortunately, I don't think I am on board with this change. Indeed it would be easier for users if we allowed them to skip, however, the tutorial was a big part of the reason why WMF funded my initial grant to begin with. :) It is really important to them that new users MUST go through it.

I can think of a few in-between alternatives:

- Only allow skipping in the betaDebug

[2018-03-03 18:58] neslihanturan commented on #1239
betaDebug build variant is a great idea @misaochan

[2018-03-03 19:01] misaochan commented on #1246
I agree, a link to the relevant wiki page in About would be the best way to go about it IMO. Feel free too add any questions you want; I have a few in mind and will add to it later. :)

[2018-03-03 19:05] anudeep3998 commented on #1156
should we close this?

[2018-03-03 19:12] misaochan commented on #1238
I agree with allowing the user to browse Commons and view Nearby without having to be logged in.

A few concerns though:
- I suspect doing this will require quite a thorough overhaul of many parts of the codebase? AFAIK our current (partially legacy).code is built on the assumption that the user is logged in. It will likely be a much larger task than it seems on the surface.
- I'm not sure if allo

[2018-03-03 19:14] misaochan commented on #1156
Yes, thanks!

[2018-03-03 19:14] #1156 closed

[2018-03-03 19:28] neslihanturan commented on #1221
I am about to create a proposal for GSoC/Outreachy of this task, hence everyone looks agreed. But We might need to clarify:
- Do we plan to include search option? (My vote: yes)
    - If yes, search by what (category, file name, author)?
- How can we relate this activity with featured images activity we planned?
- There is a screen similar to category search (with image results) in my head. What d

[2018-03-03 21:34] Jatin0312 opened #1250 "Multiple instances of Notification Activity are being opened"
**Summary:**
Multiple instances of Notification Activity are being created in Activity stack.

**Steps to reproduce:**

Everytime a notification activity instance is being created when notifications is pressed in Navigation Drawer.

**Expected behavior:**

What did you expect the App to do?

**Screenshot**

![solved5_2](https://user-images.githubusercontent.com/17095817/36939424-c53cff08-1f56-11e8

[2018-03-03 22:45] VojtechDostal commented on #1247
@misaochan it seems to me that the challenges are not very popular with the Commons community. With so many other contests and campaigns I am not surprised.  Check the number of uploads per challenge.

[2018-03-04 04:37] nicolas-raoul opened #1252 "Details activity: Open category in-app"
Once a form of category navigation is available, it would be great if it were accessible by clicking a category of an existing media.

[2018-03-04 05:11] tshradheya opened #1253 "Fix Toast Message for add_title_toast"
Fix toast message when trying to upload image without giving a Title.

` Please give a Title to proceed`  -> `Please provide a title for this file`

[2018-03-04 05:17] gupta-meghna64 opened #1255 "Privacy Policy in Login Page missing"
### Summary
Privacy policy is missing in the Login Page. The privacy policy textview should be linked to the following website: https://github.com/commons-app/apps-android-commons/wiki/Privacy-policy

### Steps to reproduce
1) Open the commons application.
2) Click on Privacy Policy.

### Expected behavior
Clicking the privacy policy should redirect us to https://github.com/commons-app/apps-androi

[2018-03-04 06:35] #1253 closed

[2018-03-04 06:35] maskaravivek commented on #1255
Sure take it up @gupta-meghna64

[2018-03-04 06:39] maskaravivek commented on #1239
Yeah I agree with the skip option to be there just for the betaDebug version. Updating the issue title as well.

[2018-03-04 06:43] maskaravivek commented on #1250
@Jatin0312 can you create a PR for it :)

[2018-03-04 07:09] tanvidadu commented on #814
@adikul30 u working on this ? I will like to work on this issue.

[2018-03-04 07:54] Jatin0312 commented on #1250
Ya sure I will do it.

[2018-03-04 08:02] 97balakrishnan commented on #1221
@misaochan Yeah, I think we can implement the searching similar to nearby activity with a list of results showing partial info and giving a link to the webpage which can be loaded in-app using webview. This can be our first level target and later improved to completely in app.

[2018-03-04 08:26] 97balakrishnan commented on #1221
I went through these links:
[https://commons.wikimedia.org/w/api.php?action=help&modules=query%2Bsearch](https://commons.wikimedia.org/w/api.php?action=help&modules=query%2Bsearch)
[https://www.mediawiki.org/wiki/API:Search](https://www.mediawiki.org/wiki/API:Search)

Using this, i think it is possible to implement a general search first.It would be nice if someone can send more references to unde

[2018-03-04 08:44] misaochan commented on #1221
I think it would be good if we can imitate, to some extent, what users expect when they search https://commons.wikimedia.org .

For instance, inspired by today's picture of the day, I searched for "butterfly" -
 https://commons.wikimedia.org/wiki/Butterfly . If I'm not wrong, the search seems to include the category, and splits the results up by various categories? @nicolas-raoul @whym any idea if

[2018-03-04 09:58] 97balakrishnan commented on #815
I think #697 can be added here.   ?

[2018-03-04 10:20] Nikerabbit opened #1258 "Translation updates on hold"
Hi, I've paused translation updates due to unresolved parsing issue I commented in https://github.com/commons-app/apps-android-commons/commit/96173e26cf07ef0d3f23cb8bb9ca4b21820eddf5#r27787891

Let's try to find a quick way to solve this.

[2018-03-04 14:23] misaochan commented on #1258
@Nikerabbit Do you think any of the solutions at https://stackoverflow.com/questions/10374847/is-there-a-way-to-store-a-string-with-markup-in-the-strings-xml would help?

[2018-03-04 15:15] nicolas-raoul commented on #1221
First showing recently featured images + a search bar (or round search button in the lower right) is a great idea.

By default if you search for "butterfly" you get this: https://commons.wikimedia.org/w/index.php?title=Special:Search&search=butterfly&fulltext=Search
It is a list that contains:
- 90% media files
- A few categories
- Possibly a few galleries such as https://commons.wikimedia.org/wik

[2018-03-04 15:18] nicolas-raoul commented on #815
If finding a co-mentor for the second GSoC proves too difficult, I can be co-mentor.

[2018-03-04 16:29] madhurgupta10 commented on #1039
@sivaraam Hi, could you please provide me the link for "Learn More" to "Use Wikidata" would cause huge data consumption

[2018-03-04 17:07] misaochan commented on #1221
That proposed schedule sounds great to me. :) We are going to be implementing featured images in our grant, but the activity will need a bit of tweaking to work with the browsing addition, so that can take up Week 1 regardless.

I would also recommend allocating at least a week in each half of the schedule for testing, documentation, and bug fixing.

[2018-03-04 17:25] misaochan commented on #815
Wonderful, thanks @nicolas-raoul ! 👍

@97balakrishnan , I think we already have 2 tasks? I doubt we can manage a 3rd. ;)

[2018-03-04 17:28] misaochan commented on #1039
Actually, I think "use Wikidata" can be removed entirely. We have migrated completely to Wikidata and do not even use the CSV anymore.(see #981 ).

[2018-03-04 17:28] misaochan commented on #979
All done. :)

[2018-03-04 17:28] #979 closed

[2018-03-04 17:31] misaochan commented on #1039
I noticed that you are missing "become a beta tester" and "send log file" - are they present but just not in your screenshot?

[2018-03-04 17:34] 97balakrishnan commented on #815
@misaochan Yeah ok :+1: thanks. Pls create a Phab task. :)

[2018-03-04 18:28] madhurgupta10 commented on #1039
@misaochan It is present, but not in the screenshot

[2018-03-04 18:35] madhurgupta10 commented on #1039
@misaochan Is there any code apart from the one in **preference.xml** which is related to "use Wikidata", that should be removed?

[2018-03-04 18:37] Nikerabbit commented on #1258
The issue is that I am using PHP's `SimpleXML` and when I am trying to read the text value of something that contains other tags it seems to return null.

Escaping `<` and `>` would work, both using `CDATA` and using entities. For exported translations they would be escaped as `&lt;u&gt;`.

Third way would be to fix our file format parser to understand u/i/b tags which are allowed by the spec as f

[2018-03-04 19:31] madhurgupta10 opened #1260 "Nothing happens on clicking a notification"
**Summary:**

Nothing happens on clicking a notification

**Steps to reproduce:**

Go to **Notifications > Click on any notification**

**Expected behavior:**

Should display more information about the particular notification

**Observed behavior:**

Nothing happens on clicking a notification

**Device and Android version:**

Android Oreo 8.0
Xiaomi Mi A1

 **Commons app version:**

2.6.7-degub-b1

[2018-03-05 03:50] knight-shade commented on #1260
@madhurgupta10  This behaviour is only for the welcome notification, tapping on other notification trigger specific actions. Eg. if you have uploaded a picture and then tap on it's notification you are directed to its webpage.

[2018-03-05 04:00] nicolas-raoul commented on #1039
@madhurgupta10 I guess all CSV code has been removed, but f you find any such code please remove it, thanks :-)

[2018-03-05 04:07] nicolas-raoul commented on #1221
@misaochan I updated the proposed schedule based on your feedback, how it it now?
Does your grant also cover "Link to the Media Details activity to see an image's details"? In which case the step should be removed, and maybe another small enhancement can be added in compensation, for instance changing sorting order.

[2018-03-05 04:08] madhurgupta10 commented on #1039
@nicolas-raoul I made the necessary changes but one of the tests is failing, could you please help me debug!

[2018-03-05 05:16] nicolas-raoul commented on #814
@tanvidadu No progress updates from @addshore so feel free to give it a try, yes :-) Please post progress updates every few days, thanks!

[2018-03-05 07:07] gupta-meghna64 commented on #1260
@madhurgupta10 This issue is similar to #1224

[2018-03-05 07:42] maskaravivek commented on #1260
@gupta-meghna64 How is this issue similar?

[2018-03-05 07:50] gupta-meghna64 commented on #1260
@maskaravivek the issue is similar in the context that since welcome notification do not have a new webpage linked to it, therefore the only improvisation that can be done to it is to show the full welcome notification text which is being achieved as of now by the idea of #1224.

[2018-03-05 10:44] nicolas-raoul commented on #1244
@madhurgupta10 Here is a mockup:

![school-categories](https://user-images.githubusercontent.com/99590/36970735-e0e79b62-20ac-11e8-9f77-a9a612da5702.png)

![school-categories2](https://user-images.githubusercontent.com/99590/36970740-e5dccbba-20ac-11e8-83e9-293d46b5c4a5.png)

I agree it is rather low-priority, but it will be a good start for #66 which is high priority in my eyes.

[2018-03-05 10:47] misaochan commented on #1221
@nicolas-raoul Nice! Looks good to me. I cannot guarantee I will be around to do the alpha releases on the appropriate weeks (although I will try), will you be able to do it otherwise?

The grant proposal does not mention it, however we did plan on implementing the link to media details view, for the sake of completeness. But we are a bit behind in our own schedule, so if this task could be done b

[2018-03-05 10:52] nicolas-raoul commented on #66
When (and if) Structured Commons will become a reality, there will most certainly be a kind of replacement for categories, for instance there will be a way to say that my picture is a picture of a dog. The same UI as above will be needed, to allow me to select a particular subclass of dog. On the opposite, if searching for "airport sign" only makes "railway sign" and other vaguely related classes

[2018-03-05 10:55] misaochan commented on #1221
Just thought about this... For Step 4 "Make search button list the results (by file name only for now).", I would probably add, "and replace featured images with them, ensuring that the activity resets to displaying featured images if the user leaves and returns".

Do we want the intern to use the same media details view for when the user clicks on the searched images?

[2018-03-05 11:18] misaochan commented on #1231
Probably best to close this, then. Thanks everyone!

[2018-03-05 11:18] #1231 closed

[2018-03-05 11:24] misaochan commented on #274
Bumping this discussion since we plan on including it in GSoC/Outreachy. My proposed schedule:

1. Search for a way to find % of reverted uploads by a user
2. If % exceeds threshold (50%), pop up a dialog to the user warning them that they will likely get banned, and encouraging them to take our quiz
3. Implement quiz. At every wrong answer, show an explanation
4. At end of quiz, if they did well,

[2018-03-05 11:35] misaochan commented on #85
Thinking about how to get this to work with GSoC/Outreachy. Since this is going to be only half of the intern's project, we probably don't want something too involved.

My suggestion would be to let users access their "profile" through clicking an icon next to their username in the nav drawer. In this profile page, we would display stats like:

- Number of images used in Wikipedia/Wikivoyage/etc a

[2018-03-05 12:11] misaochan commented on #815
Phab task is up! https://phabricator.wikimedia.org/T188877

[2018-03-05 12:19] 97balakrishnan commented on #815
Thanks a lot :)

[2018-03-05 14:11] misaochan commented on #815
So, looking through the GSoC and Outreachy guidelines for this round, it seems that the application period for [Outreachy](https://www.outreachy.org/apply/project-selection/) is anytime til March 22, and for [GSoC](https://summerofcode.withgoogle.com/how-it-works/#timeline) is March 13 - 28? I guess this means that we will need to get everything sorted for the students to start applying by March 1

[2018-03-05 14:18] misaochan commented on #1258
Anyone, please feel free to submit a PR for this. Should be a fairly straightforward fix. :)

[2018-03-05 16:32] srish commented on #815
@misaochan hello! Thanks for taking the lead in pulling this off, also @neslihanturan and @nicolas-raoul :)

As we have already showcased a commons-app project for Outreachy and our budget would allow us to only fund up to two candidates, I propose we promote this project only in Google Summer of Code. But, if you have other suggestions let me know.

If we end up promoting this project only in GSo

[2018-03-05 17:00] misaochan commented on #815
Thanks so much @srish ! Will email you. :)

[2018-03-05 18:39] ujjwalagrawal17 commented on #1189
Should I close this issue?

[2018-03-05 19:40] Moseco commented on #1169
@gupta-meghna64 That explains why @knight-shade and myself are getting different results. Thanks for letting us know about the other issue!

[2018-03-05 21:12] #1250 closed

[2018-03-05 21:16] #1224 closed

[2018-03-05 21:47] #1260 closed

[2018-03-06 02:42] knight-shade commented on #1258
@misaochan  I would like to work on this issue :blush:

[2018-03-06 03:25] knight-shade opened #1262 "App shows 0 uploads even after multiple pictures uploads."
**Summary:**
In the toolbar, the apps shows number of uploads of the user, which is always 0 even after uploading multiple pictures.

**Steps to reproduce:**

Login into your account in the app.

**Expected behavior:**

The upload count should show the number of pictures uploaded by the user.

**Observed behavior:**

The upload count is always 0.

**Device and Android version:**

Android 7.0 MIUI

[2018-03-06 03:58] ayushin78 commented on #1262
@knight-shade I guess the `"WIKIMEDIA_FORGE_API_HOST"` is same for both the versions and since it is the beta version, The tool `urbanecmbot` which is used here to determine the uploadCount returns zero. This works correctly on the live version of the app.
Please let me know if I misunderstood it. :)

[2018-03-06 04:14] nicolas-raoul commented on #1262
I think this is a known problem of the beta app.
A fix would be very welcome, though :-)

[2018-03-06 04:42] ayushin78 opened #1263 "Launch Ratings feature from AboutActivity"
**Summary:**

The rate us feature is added in Utils, but it is never launched from the AboutActivity.

**Steps to reproduce:**

1. Go to About, Click on 'Rate Us'

**Expected behavior:**

Should lead the user to the play store.

**Observed behavior:**

Nothing happens

**Device and Android version:**

Samsung A8
Android 6.0 Marshmallow

[2018-03-06 09:14] misaochan commented on #1262
Yup, this is a known bug for the beta build variant of the app. It should not affect the prod variant. AFAIK it was mentioned to us that the changes required would involve upstream and would be quite difficult/complex, hence why we have been leaving it be.

[2018-03-06 18:22] #1189 closed

[2018-03-06 18:28] ujjwalagrawal17 commented on #1263
Hey i think it is already added in https://github.com/commons-app/apps-android-commons/pull/1188 .
May be you have not pulled the updated code :)

[2018-03-06 19:16] ayushin78 commented on #1263
Hey, I checked it again. It is showing the same behavior.

[2018-03-06 20:03] Jatin0312 opened #1266 "Nearby Activity crashes when orientation of the Phone is changed"
**Summary:**

When trying to change orientation from portrait to landscape in Nearby Activity the app crashes.
This bug occurs in the directNearbyUplaodsNew branch.

**Steps to reproduce:**

Just change the orientation from portrait to landscape in Near by Activity.

**Add System logs:** 
[code]

**Expected behavior:**

The app should not crash.

**Observed behavior:**

![20180307_012309_edited](h

[2018-03-06 20:36] maskaravivek commented on #1266
@Jatin0312 Is this also happening on master?

[2018-03-06 20:38] Jatin0312 commented on #1266
I will check and confirm it.

[2018-03-06 20:45] Jatin0312 commented on #1266
No this is not happening in Master.

[2018-03-06 20:59] robiulbe opened #1267 "Mohammad Robiul"
_Before creating an issue, please search the existing issues to see if a similar one has already been created. You can search issues by specific labels (e.g. `label:nearby `) or just by typing keywords into the search filter._

**Summary:**

Summarize your issue in one sentence (what goes wrong, what did you expect to happen)

**Steps to reproduce:**

How can we reproduce the issue?

**Add System

[2018-03-06 22:26] ujjwalagrawal17 commented on #161
I am facing some issues while working on this feature.
So far I have achieved:
<table>
<tr>
<td>

![screenshot_20180307-032907](https://user-images.githubusercontent.com/19607555/37061821-a85e39a4-21ba-11e8-8d79-911b478c4c67.png)

</td>
<td>

![screenshot_20180307-032930](https://user-images.githubusercontent.com/19607555/37061819-a81aef1e-21ba-11e8-8f17-3080d2cd27d8.png)

</td>

</tr>
</table>

I

[2018-03-06 23:36] #1267 closed

[2018-03-06 23:36] maskaravivek commented on #1266
Closing the issue then. :)

[2018-03-06 23:36] #1266 closed

[2018-03-06 23:58] hismaeel commented on #161
Well...Please ask next time before starting to work an issue :-)

[2018-03-07 00:43] maskaravivek commented on #161
Well it seems @hismaeel was already working on this issue! @hismaeel have you made progress on this task and would like to continue?

@ujjwalagrawal17 We will have to assign the task to @hismaeel if he is still willing to complete it, as he came up with the initial mock ups and was already working on it.

It was a miss on our part that we didn't put a **assigned** label to this task. :(

[2018-03-07 00:53] hismaeel commented on #161
Yup, assigned label would've helped :-) I Haven't made any progress because it's mid-terms week at my uni. I thought of working on it next week which which is off.
@ujjwalagrawal17 can continue though seems he's put good work in it!

Best

[2018-03-07 01:06] maskaravivek commented on #161
Awesome thanks for the update @hismaeel!

Feel free to pick up other tasks after your mid-terms. :)

[2018-03-07 01:08] maskaravivek commented on #161
@ujjwalagrawal17 I am not very sure about this error but try doing this check before making your API call.
[code]

You can check out the sample usage in `NotificationController`#`getNotifications`

[2018-03-07 01:14] #1263 closed

[2018-03-07 04:59] ujjwalagrawal17 commented on #161
@hismaeel Sorry I forgot to comment that I am starting working on this issue.

@maskaravikas ok I will check it.

[2018-03-07 06:04] knight-shade opened #1268 "Update libraries version to the latest stable version."
**Summary:**

The project is using old version of libraries, for which already an update version have been released.
Following libraries are outdated:

- Gson from 2.8.1 to 2.8.2

- okHttp from 3.8.1 to 3.9.1

- Fresco from 1.3.0 to 1.5.0

- Leakcanary from 1.5.1 to 1.5.4

- Kotlin from 1.1.15 to 1.2.30

Should be also update buildToolsVersion and compileSdkVersion to 27?

[2018-03-07 06:39] maskaravivek commented on #1268
@knight-shade Can you briefly add a description about why each of these libraries needs to be updated? :)

[2018-03-07 08:11] nicolas-raoul commented on #1268
I think that a reason would only be needed for NOT updating a library :-)

2018/03/07 15:39 "Vivek Maskara" <notifications@github.com>:

[2018-03-07 08:34] misaochan commented on #1268
I'm okay with updating libraries (alongside buildToolsVersion etc), with the caveat that they need to be tested on a Release build variant (preferably ProdRelease) before merging. We have unfortunately had issues with library changes causing issues in a Release build but not a Debug build. :/

[2018-03-07 08:46] misaochan commented on #161
Guys, please don't rely solely on the "assigned" tag. :( We will put up the tag wherever possible to help (because it's easier to tell at a cursory glance that an issue is already taken), but the discussion on the thread is still visible to everyone. If someone has already presented a mockup and mentioned that they have started working on it, please at least ask first next time. If the last person

[2018-03-07 09:02] ujjwalagrawal17 commented on #161
@misaochan Sorry for that I thought he is not working on the issue as there was no update in 5 days. I will take care of it from next time.☺️

[2018-03-07 09:09] misaochan commented on #161
Thanks @ujjwalagrawal17 . :)

[2018-03-07 12:31] tanvidadu commented on #1268
We can also have commit per update as it might help in testing and isolation of possible errors, which else would be difficult to resolve.
I will like to work on it but i might need help while testing it on Release Build Variant

[2018-03-07 13:12] knight-shade commented on #1268
@tanvidadu I am already working on the issue.

[2018-03-07 18:27] Cheesetouched commented on #1244
@nicolas-raoul Going to take this up. Few things before I get started.

1. Where should I pick the sample images from?
2. Threshold number of sample images to be shown?

[2018-03-07 18:32] #1225 closed

[2018-03-07 18:48] neslihanturan commented on #1244
@Cheesetouched
1- Are you asking sample images to upload while testing? You can work on beta cluster.
2- 9 maybe as 3*3 grid

[2018-03-07 18:53] Cheesetouched commented on #1244
@neslihanturan

1. So when a user selects a category, say Shrine Auditorium, from where am I gonna grab the 9 sample images? i.e from common's image library, Google Images, Flickr, or some other third party service?

2. Sure. 9 works.

[2018-03-07 19:09] neslihanturan commented on #1244
The puspose of this issue is guiding user to make sure if a category is proper, by looking similar photos under same category (in Commons). I hope this answered your question 1:) It can be a good idea to get a little more familiar with the app before starting development to make things easier for you:)

[2018-03-07 19:29] neslihanturan opened #1270 "Remove Manual Nearby Updates"
**Summary:**

Updating Nearby Markers manually shouldn't be available since there is no case when the position change recognized and nearby didn't updated.

**Steps to reproduce:**

Every click on reload or swipe to refresh returns with "Location is not changed" message

**Expected behavior:**

Location change being recognized by Location Service Manager and map should be refreshed automatically.

[2018-03-07 20:17] tanvidadu commented on #1067
I tested the above mentioned code and 7 apk were generated. I had some doubt that whether we need to upload only one apk or more than one ? I came across some python script for same.

[2018-03-07 20:53] maskaravivek commented on #7
@nicolas-raoul It is possible to just get the alerts as you commented above from the notifications API. Do we want to show just the alerts, or all notifications?

[2018-03-07 22:27] maskaravivek commented on #1268
My concern at updating all the libraries at once was exactly what @misaochan is pointing to. Extensive testing needs to be done if we update the libraries.

Moreover unless updating the library fixes some issue that our app is currently facing or introduces a feature that we might be interested in using, this exercise will only add testing efforts from our side. :)

On the other hand I completely

[2018-03-08 02:11] nicolas-raoul commented on #1244
1. You should get the images from the category. I am sure there a Mediawiki API URL to get images from a given category, please let us know when you find it :-)
2. Yes 3*3 sounds good.
Thanks! :-)

[2018-03-08 04:41] psh commented on #1268
So, the `TL;DR` version - I think we might want to update **Fresco** but the other libraries can probably wait

The longer version:

* **Kotlin** is currently only being used in tests and isnt enabled for the core app codebase.  In that regard I dont think it really matters if it lags a little behind the latest version ... I dont see a lot of people writing tests for the project right now, nor peo

[2018-03-08 07:14] maskaravivek commented on #7
@nicolas-raoul One difference that I noticed is that when I add a parameter to fetch just the alerts, then the `thank-you-edit` notifications are not returned.

[2018-03-08 07:21] nicolas-raoul commented on #7
How about fetching everything, and then filtering out the `thank-you-edit` only?
The web interface does not show them, so it must have a way to differentiate them.

[2018-03-08 08:06] RiccardoGrigoletto commented on #1030
Hello everyone! I am here to pick up an easy issue in order to prove my skill to Vivek Maskara for the GSoC 2018 edition. Can I try to resolve this one?

[2018-03-08 08:17] nicolas-raoul commented on #1030
@neslihanturan has merged a pull request for this, so I guess the issue has been fixed already?
Sorry @RiccardoGrigoletto I close the issue now, would you mind choosing another one? Thanks! :-)

[2018-03-08 08:17] #1030 closed

[2018-03-08 14:49] tanvidadu commented on #1054
@mithlesh4257 u still working on it. @misaochan if its up for grabs I will like to work on it.

[2018-03-08 19:01] tanvidadu commented on #814
@psh i checked your branch for creating apps shortcut. Looks as good starting point. Can I work on your branch ?

[2018-03-08 20:59] maskaravivek commented on #7
Yes, thats entirely possible. Will make this change in my PR.

[2018-03-08 22:03] Jatin0312 commented on #1192
I think option to crop the image is an important requirement in edit image options compared to other options.

[2018-03-09 03:39] knight-shade commented on #1268
@maskaravivek  @misaochan  Thank you @psh for a detailed report, Everybody knows this , although just wanted to make it little bit more explicit, upgrading buildToolsVersion ,etc will also update the support libraries and Leak Canary, Fresco needs to be updated.

[2018-03-09 05:07] nicolas-raoul commented on #1037
@madhurgupta10 No news from @mithlesh4257 so yes, feel free!
Please inform us of your progress every few days.

[2018-03-09 06:11] madhurgupta10 commented on #747
@maskaravivek Sir, isn't is the right time to move from Kotlin to Java?

[2018-03-09 06:12] madhurgupta10 commented on #1244
@nicolas-raoul I am on it.

[2018-03-09 06:29] psh commented on #747
@madhurgupta10 I would suggest looking through the code and creating some tests - help us to make a better evaluation of the language by demonstrating its usage.

[2018-03-09 08:25] nicolas-raoul opened #1273 "Provide intent to be easily callable from other apps"
As Nemobis said at https://github.com/commons-app/apps-android-commons/issues/892 we won't get huge until we get integrated with apps that many people already use.

I believe that a first step towards that direction would be to implement an intent to let other apps open the Commons app.

Example scenario:
- While waiting at the airport, I stumble upon an Olympic player Li Jinyu, and take a picture

[2018-03-09 08:26] nicolas-raoul commented on #892
Indeed integrating with the Wikipedia app or OsmAnd is a great idea. I just created https://github.com/commons-app/apps-android-commons/issues/1273 in that vein.

By the way, keeping track of our non-open competitor:
"Local Guides shared over 300 million photos on Google Maps this year"
https://www.facebook.com/pg/GoogleLocalGuides/photos/?tab=album&album_id=932251783592781

[2018-03-09 08:54] misaochan commented on #1268
@knight-shade Sounds like a good plan, I would go with @maskaravivek and @psh 's suggestion of upgrading buildToolsVersion and Fresco. Please test this on Release build variant and provide the details (what features you tested) in your PR. You will likely need to create your own personal keys to use for Release build testing. :)

[2018-03-09 09:04] misaochan commented on #1273
Sounds like a great idea. Wouldn't the other apps need to voluntarily want to do this (by modifying their own code) in order for the intent to even be used though? How do we know what sort of intent other apps would want to use? That sounds like the trickiest part.

It would be amazing if we could be integrated somewhat with the Wikipedia app. For instance, if someone uses the Wikipedia app to edi

[2018-03-09 09:06] misaochan commented on #1054
Please feel free to go for it, @tanvidadu , as we have not heard back from @mithlesh4257 in a while.

[2018-03-09 11:25] madhurgupta10 commented on #747
@psh Hi Sir, could you please tell the specific test that should I make in Kotlin?

[2018-03-09 12:59] knight-shade commented on #1268
@misaochan By release build variant, you meant betaRelease or prodRelease ? I am currently testing with betaRelease.

[2018-03-09 15:34] pprathameshmore opened #1274 "Error while gradle build"
**Summary:**

Error while gradle build syncing.

**Steps to reproduce:**

How can we reproduce the issue?

**Add System logs:**

![sketch 1](https://user-images.githubusercontent.com/17108186/37215072-eeb976ec-23dc-11e8-8771-baad773f3995.png)

**Expected behavior:**

Gradle must be sync without any errors

**Observed behavior:**

I am forked this project and clone with locally. When open it first

[2018-03-09 16:36] default911 commented on #1274
I just took a clone and built succesfully.
Actually that's 'values-ko-rKP' in my clone. Try running after changing directory name to this.

[2018-03-09 16:45] pprathameshmore commented on #1274
@default911 Which name should I give to this directory?

[2018-03-09 16:55] tanvidadu commented on #1054
I have fixed the error @misaochan but I made a noob error when I reforked my repo. I forgot to change my branch while fixing #1251 as a result when I make a new branch other commits are also visible. Once my pr for the above issue is merged i will add pr for this one.
Sorry for delay !
Mocks
![nodescription](https://user-images.githubusercontent.com/29161745/37219165-9f7c873e-23e8-11e8-86f6-1df7ad

[2018-03-09 20:37] Cheesetouched commented on #1244
@nicolas-raoul @neslihanturan I have few more doubts guys.

1. Can I only use the Common's API endpoint to retrieve the images or can I get them outta any of the following?
https://www.mediawiki.org/w/api.php     # MediaWiki API
https://en.wikipedia.org/w/api.php      # English Wikipedia API
https://nl.wikipedia.org/w/api.php      # Dutch Wikipedia API
https://commons.wikimedia.org/w/api.php # Wik

[2018-03-10 06:34] harisankerPradeep commented on #1221
@nicolas-raoul  @misaochan @neslihanturan  Is it also possible to use the current location of the user to fetch images that were taken at the location? I'd love to see other pictures taken in the same area. I feel a lot of people feel the same.

[2018-03-10 07:12] tanvidadu commented on #473
Is this issue for grabs. I will like to work on it

[2018-03-10 10:18] default911 commented on #1274
rename this directory to 'values-ko-rKP'. Or I would suggest you take git pull as I guess since I got no errors, this might have been fixed.

[2018-03-10 11:11] IMOUNGA commented on #1244
Hi, I'm a student and I started Android and JAVA development. I have to work on this issue to learn how to read other people's code and debug it. I choose this one. I begin on GIT too but I'm not afraid.
GO 😃

[2018-03-10 14:31] pprathameshmore commented on #1274
@default911 Is it valid directory name?

[2018-03-10 15:13] 97balakrishnan commented on #1270
We cannot make the nearby activity refresh too often.. that won't be optimal. In that case the time gap between which we look for location changes has to be significantly high . About 5-10 seconds atleast. In that case if a user needs to quickly refresh or check changes in location these options come in handy. I personally feel that there is no need to remove Manual Refresh functionality. Although

[2018-03-10 16:58] knight-shade opened #1275 "Set proper width of Navigation drawer"
**Summary:**

The width of navigation drawer in portrait mode seems to be more then appropriate and creates feeling of emptiness or like something is missing in navigation drawer. This is more prominent in landscape mode where navigation drawer covers 70% of screen and most of it is empty.

**Screen-shots:**

## Observed
**Portrait**
![pb](https://user-images.githubusercontent.com/20313518/3724464

[2018-03-10 17:08] maskaravivek commented on #1275
Looks good to me. If you want to pick it up, please go ahead with it. :)

[2018-03-10 17:17] #1239 closed

[2018-03-10 17:18] maskaravivek commented on #1274
@pprathameshmore Are you still facing this issue? Can you make sure that you have the lastest master.

[2018-03-10 17:25] knight-shade commented on #1275
Sure @maskaravivek  I will create PR  for this issue.

[2018-03-10 17:30] #1063 closed

[2018-03-10 17:32] maskaravivek commented on #1268
@knight-shade Awesome work. :)

Yes, please go ahead and create a PR if you have managed to resolve all the issues around updating the libraries.

[2018-03-10 19:27] maskaravivek commented on #1039
@madhurgupta10's PR fixes all the issues listed in @sivaraam's opening comment. Closing this issue. Thanks everyone for participating in the discussion and helping us improve our UI. :)

[2018-03-10 19:27] #1039 closed

[2018-03-11 07:58] #1246 closed

[2018-03-11 08:45] yashshah7197 commented on #1273
Hey @nicolas-raoul I'd like to take this up if its not yet assigned 😄

What we could probably do for now is implement it such that we take the image URI and the label as intent extras from the third-party apps and then open the image with the label pre-filled using the intent extras that we receive. As for the third-party apps implementing these features, we could provide a standard contract as su

[2018-03-11 08:50] maskaravivek commented on #843
Now that we have PR templates in place and contributors are mostly uploading a **Screenshot**, can we close this issue. Reviewing all the open PRs still takes considerable time but the process has become much more streamlined in the past few months. :)

[2018-03-11 09:26] gupta-meghna64 opened #1282 "Share log intent shows extra clients in Settings page"
### Summary
Share intent in the Settings page while sharing the log file should should show only mail clients.

### Steps to reproduce
1) Go to settings
2) Click on "Send Log via email"

### Expected behavior
Clicking this should show only the mailing clients

### Device and Android version
Redmi Note 3
MIUI 6

### Commons app version
Commons 2.6.7

### Screen-shots
![whatsapp image 2018-03-11 at

[2018-03-11 11:17] RiccardoGrigoletto commented on #1221
Hello everyone.

I am in contact with @maskaravivek since a couple of days as I want to apply for a Commons app project for the GSoC.
Firstly, I asked to him if there are some issues to resolve but then I decided  to implement a "browse" page as I would have liked to show to you my skills with Java and android programming.

However, Yesterday I spent a couple of hours coding, I made a new simple a

[2018-03-11 11:55] Hanan194 commented on #1244
@Cheesetouched are you still working on it ?, if no I can do it

[2018-03-11 12:51] maskaravivek commented on #1221
@RiccardoGrigoletto Good to see your enthusiasm for the project. The mock activity that you created was a good way to get started.

Before you start implementing anything it would be great to first describe in detail how you have planned to go about it. It can be debated and discussed with other community members. :)

[2018-03-11 13:17] ujjwalagrawal17 opened #1284 "Add Share app option inside app"
**Summary:**

There should be an option to share the app.

**Steps to reproduce:**

1. Add option to share in navigation drawer.
2. On Click of share option -
[code]
**Expected behavior:**
There should be an option to share the app.

**Observed behavior:**
There is no option to share the app.

 **Commons app version:**
2.6.7

[2018-03-11 13:23] ujjwalagrawal17 commented on #1284
Share text can be
**Upload photos to Wikimedia Commons using the app.
Download Now: Google play link**

I need some suggestions for the text

[2018-03-11 13:36] misaochan commented on #1268
Thanks @knight-shade ! :)

betaRelease is fine this time, but in general wherever possible, testing on prodRelease is best. The beta variant is just there to assist in cases where many files that are "unsuitable" for Commons need to be uploaded for test purposes, so that we don't spam Commons with useless files. The prod variant is the variant that users will get.

[2018-03-11 13:38] misaochan commented on #843
Sounds good to me. :)

[2018-03-11 13:38] #843 closed

[2018-03-11 15:35] knight-shade commented on #1268
Thank you @misaochan , yup will keep that in mind for next time. :smile: Guys @maskaravivek @misaochan all the tests pass on my PC, but the build fails on travis CI build is failing, and I am totally out of ideas and stackoverflow why it is happening. Any help is much appreciated.

[2018-03-11 16:47] Aschroet commented on #1110
Just for information: The problem still existed with my last upload.

[2018-03-11 17:16] KatyaTulit commented on #1013
Hi, I may sound stupid but I don't get how I can debug this issue. When I upload a photo using 2.6.7. version, the date that I see on the website is actually the date of creation (which is already an expected result) https://commons.wikimedia.org/wiki/File:Tanneries_in_Fes.jpg

However, when I use Beta Commons and post the same picture using the most current version of the code - I can't see the d

[2018-03-11 17:50] RiccardoGrigoletto commented on #1221
@97balakrishnan yes I think it would be great. In fact, as @nicolas-raoul reported, if you search "butterfly" you get thousands of pictures. Furthermore, if you want to show the recently featured images, an endless scrolling is needed.

It could work like this:
Here "limit" is the number of pictures requested each time and "offset" is the position of the first picture that will be downloaded ("off

[2018-03-11 17:57] 97balakrishnan commented on #1221
Yeah that's the best option we have.

[2018-03-11 18:06] maskaravivek commented on #1282
Sure @gupta-meghna64 feel free to pick this up. :)

[2018-03-11 18:09] Steinsplitter commented on #1221
CirrusSearch works on Wikimedia Commons: https://www.mediawiki.org/wiki/Help:CirrusSearch
Some very basic filtering is possible.

[2018-03-11 18:27] madhurgupta10 commented on #1244
Hi @nicolas-raoul, could you please confirm who is assigned to work on this issue?

[2018-03-11 18:29] madhurgupta10 commented on #1037
@nicolas-raoul Sure.

[2018-03-11 18:47] kamilya35231 opened #1287 "Tutorial is not available in landscape mode"
I am new to OSS and was thinking about contributing to this project. I came across this issue while familiarizing with the app. I couldn't find it in already reported issues. Can someone check it and assign this issue to me if fix is needed?

Summary:
App crashes if tutorial is selected from the menu when device is in landscape mode

Steps to reproduce:
- Change orientation of the device to landsc

[2018-03-11 19:25] knight-shade commented on #1287
Yup @kamilya35231 the app is crashing. Actually I already had a PR ready for this, and was about to create the issue before you did. Thanks for create the issue :+1:

[2018-03-11 20:16] Jatin0312 commented on #1252
Can I get more insight into this issue. On what to actually do so that I can try working on this issue.
Thanks :)

[2018-03-11 22:13] dinaraassan opened #1289 "can not go back from the "Categories" to the "Commons" by pressing the back arrow"
Hello Everyone, I am new to the open source software projects and I wanted to contribute as a tester. I downloaded the Wikimedia Commons (Beta)  app from the Play Store and tried to test it and found some strange behavior.

Summary:
I uploaded several pictures and during that I wanted to go back from the "Categories" to the "Commons" in order to make some modifications to the description of the pi

[2018-03-11 22:54] dinaraassan opened #1290 "Does not save the chosen categories of the picture and show up as "None provided""
Summary:
Does not save the chosen categories of the picture and show up as "None provided"

Steps to reproduce:
1. Dowload the Wikimedia Commons (Beta) app from the Play Store
2. Try to upload picture from your gallery
3. Fill in the title and description in "Commons"
4. Mark the Category
5. press next
6. open the uploaded picture from the "My Present Uploads"
7. Look at the "Categories", there wi

[2018-03-12 04:50] pprathameshmore commented on #1274
@maskaravivek No, Now the project is working fine!

[2018-03-12 04:50] #1274 closed

[2018-03-12 06:31] tanvidadu commented on #1126
Sound like a good idea. I will like to work on this feature.

[2018-03-12 06:43] maskaravivek commented on #1284
This enhancement looks good to me. Let's wait for others to pitch in before starting work on it. :)

[2018-03-12 07:01] misaochan commented on #1284
Looks good to me, but I would probably put this in About instead of the nav drawer. Nav drawer is getting quite full. ;)

[2018-03-12 07:07] misaochan commented on #1268
Pinging @whym for the Travis Q.

[2018-03-12 07:19] misaochan commented on #1110
I don't think this fix was ever implemented, and AFAIK @mithlesh4257 is not currently active. @neslihanturan @maskaravivek do you guys know if the PR pertaining to this was ever merged? I don't see it linked here.

If it hasn't, I think we can open this up to other contributors.

[2018-03-12 07:25] misaochan commented on #1252
I don't think this can be implemented until we actually have category navigation?

[2018-03-12 07:54] nicolas-raoul commented on #1126
@tanvidadu It's yours! Please submit a mockup early so that we can give feedback before you are too far into development already, thanks! :-)

[2018-03-12 07:57] nicolas-raoul commented on #1252
Yes, this can not start until #1221 is done, which will take at least a few months.

[2018-03-12 08:03] nicolas-raoul commented on #1284
Could you please post screenshots of a few popular apps that have a similar feature? Thanks!

[2018-03-12 08:08] nicolas-raoul opened #1291 "Share Commons picture (Android intent)"
Users who browse their own pictures or other people's pictures may want to share a given picture via email or Facebook or Twitter etc.

The Share button could appear at the bottom of the media details activity.

I am not really sure how sharing works, but it could include the following:
- URL to the media
- License and author, for instance "Copyright PopoLeChien, license CC-BY-SA"
- The image itse

[2018-03-12 08:12] nicolas-raoul commented on #1289
I was thinking the exact same thing an hour ago after making a very misleading error in the title. Titles are hard to correct.
Unfortunately this is not really easy to solve because we start uploading as soon as we have the title+description, and modifying the title can only be done by a Commons admin, I believe.

This problem should hopefully be solved by Structured Commons, when captions are edi

[2018-03-12 09:11] nicolas-raoul commented on #1244
@madhurgupta10 @Cheesetouched Sorry I did not realize you were both working on this.
Could you please both push your current code to a GitHub branch and post a link to it here? Thanks and sorry for the trouble!

[2018-03-12 09:21] whym commented on #1268
re Travis: we need something like c11db21fc95fc for 'android-27', I believe. (And maybe that will make older entries redundant?)

[2018-03-12 09:53] Nikerabbit commented on #1258
I missed this for today's exports, but next one will be on Thursday.

[2018-03-12 10:15] nicolas-raoul commented on #1013
@KatyaTulit Don't worry too much about beta (where various things are missing), feel free to experiment by uploading on the real Commons. A week after please just remember to nominate your test pictures for deletion. Or I can send you good images that I haven't uploaded yet, if you want?

[2018-03-12 10:22] nicolas-raoul commented on #28
https://tools.wmflabs.org/wikishootme actually does a better job at showing existing nearby pictures than WikiMiniAtlas. Anyway rather than a link we should probably show the map inside the app.

[2018-03-12 10:30] misaochan commented on #1258
Thanks @Nikerabbit !

[2018-03-12 10:34] nicolas-raoul commented on #1221
@harisankerPradeep That's the topic of another issue: #28 :-)

[2018-03-12 10:34] Jatin0312 commented on #1291
I think this is a nice feature.
If you want I can work on this issue.
Thanks.

[2018-03-12 10:36] Jatin0312 commented on #1291
Also I think there should be option to edit image before uploading mainly cropping the image.

[2018-03-12 10:39] nicolas-raoul commented on #1273
@misaochan Yes, the other apps would need to voluntarily modify their own code. We can't force any app to implement a call to us, but at least we can make it possible for any potential app that might want to do it :-)

@yashshah7197 It's yours! Could you please first describe the intent you envision, using the syntax seen at the numerous examples of http://www.openintents.org/intentsregistry/ ? Th

[2018-03-12 10:44] RiccardoGrigoletto commented on #1221
Ok, so I think we need to discuss a Class diagram for the "browse" feature.

As I wrote in the previous message I tried to implement the activity similarly to the existing ones, I created 3 classes inside the "browse" package
- BrowseActivity (extends NavigationBaseActivity)
- BrowseAdapterFactory
- BrowseListFragment

I saw that there are already classes that fetch media and handle them but I don

[2018-03-12 10:50] yashshah7197 commented on #1273
@nicolas-raoul sure! Here is the one that I suggest we use - http://www.openintents.org/action/android-intent-action-send/

But instead of just having an intent to open the app, we would have a contract to pass in the image URI(or the image itself) and the label as intent extras.

[2018-03-12 10:51] nicolas-raoul commented on #1270
@97balakrishnan Have you tried the current master implementation (with autorefresh) and found it to be refreshing "too often"? If yes, could you please post a short screencast showing why it is not "optimal"? Thanks! :-)

[2018-03-12 11:27] nicolas-raoul commented on #1291
@Jatin0312  It's yours! :-)
Cropping is the subject of another issue: #1192

[2018-03-12 11:32] nicolas-raoul commented on #1221
@RiccardoGrigoletto  I don't think we have an UML tool yet, feel free to propose one, ideally free/open source, or collaborative online not needing registration to view :-)

[2018-03-12 12:45] yashshah7197 commented on #1273
Hey @nicolas-raoul I've filed a PR (#1292) which has implemented this. Turns out the app already had a functionality to receive images shared by other apps. I just had to add checks for a title and/or description if the app wants to send one along with it. I created a test app which verifies this functionality too so everything works as expected! 😄

[2018-03-12 13:05] Nikerabbit commented on #1258
I just noticed `<string name="about_rate_us"><u>Rate Us</u></string>` has the same problem by the way.

[2018-03-12 13:31] KatyaTulit commented on #1013
@nicolas-raoul Thanks. I will just nominate pictures for deletion afterwards.

I will try uploading different images in the released version (2.6.7) in hope to reproduce the issue. So far, I haven't been able to reproduce the behaviour (upload date instead of creation date visible on the website). Maybe the bug has been fixed already (Abbe98 faced this issue using 2.6.3 version)

[2018-03-12 14:08] knight-shade commented on #1290
@dinaraassan Its working fine for me, not facing the issue. Might have been due to internet connectivity since app fetches data regarding the uploaded image from server.

[2018-03-12 14:53] kamilya35231 commented on #1110
Hello, I would like to try to work on this issue if it's available. Can you assign me?

[2018-03-12 15:03] neslihanturan commented on #1110
I couldn't ind either, if problem persists I assign @kamilya35231

[2018-03-12 15:04] neslihanturan commented on #1228
Solved.

[2018-03-12 15:04] #1228 closed

[2018-03-12 17:12] knight-shade opened #1294 "Orientation change cancels the ongoing login process."
**Summary:**

After filling the username and password, when we click on login button, a progress bar starts. But if orientation change takes place when the progress bar is active, it leads to cancellation of login process. Again the user has to tap login button to start the login process.

**Steps to reproduce:**

1. Go to the login screen.
2. Fill out username and password field.
3. Click on Logi