[2020-04-02 08:19] kbhardwaj123 commented on #3179
@sivaraam initially what i meant was that since beta servers don't have all the categories ( the working of both APIs is same that was clear from their documentation) this is what i wanted to show:
Suppose i want category **Temple of Ishtar at Mari** by typing **temple of ishtar** only
If the `prodDebug` APIs are used they give what one expects:

 - with `generator = allcategories` [result](https:

[2020-04-02 08:23] kbhardwaj123 commented on #3179
How i intend to solve this is that the `searchAll` method is the one at fault here, it only calls the prefixSearch API for searching categories so we we make a call using `generator=search` and combine both prefix and normal search results our problem would be solved.
And yes we need to use the `prodDebug` APIs because of the point i just mentioned above.

[2020-04-02 08:28] kbhardwaj123 commented on #3179
@sivaraam yes i agree that the beta ones are case insensitive but they don't seem to return **Category: Temple of Ishtar at Mari** (using `generator=search`) while the case insensitive beta API (`generator=allcategories`) return the category [see result](https://commons.wikimedia.beta.wmflabs.org/w/api.php?action=query&format=json&formatversion=2&generator=allcategories&gacprefix=Temple%20of%20Ish

[2020-04-02 08:42] kbhardwaj123 commented on #3179
So i implemented the solution and with the beta server's APIs and this is how it looks with screenshots

using category suggested by @sivaraam `Category:TestCat`
![Screenshot_20200402_135943_fr free nrw commons beta](https://user-images.githubusercontent.com/44129798/78227730-5460fb80-74eb-11ea-9816-6222ca66ba4f.jpg)

Now with `Category:Temple of Ishtar at Mari` (here i am showing that it exists o

[2020-04-02 08:55] misaochan commented on #2074
Do you mean in the Profile activity? I think sticking to tabs (for Achievements and Leaderboard) would be a better idea than a bottom navigation bar, for the reasons that @sivaraam mentioned.

[2020-04-02 08:57] misaochan commented on #3603
Yes, it is out of scope for us as we do not handle the website.

Thanks anyway @vvijayalakshmi21 . :)

[2020-04-02 08:58] #3603 closed

[2020-04-02 08:58] maskaravivek commented on #3607
I am also facing the same issue on fresh install. @ashishkumar468 Can this be related to your recent change?

[2020-04-02 09:05] ashishkumar468 commented on #3607
@maskaravivek. Not sure (None of my recent PR's have updated the schema), I will have a look, even if because of some reason, the schema was updated, it should not throw an exception on fresh installs, are you sure you faced the same on fresh installs?

[2020-04-02 09:14] maskaravivek commented on #3607
I just noticed that even on uninstalling the app and reinstalling the data wasn't cleared. Once I clear all app data, it works for me.

[2020-04-02 09:16] ashishkumar468 commented on #3607
That's weird, uninstalling should clear data.

[2020-04-02 09:26] kbhardwaj123 commented on #3607
@ashishkumar468 yes you are right this happened to me when I switched branch from master to 2.13-release but upon reinstalling it got fixed

[2020-04-02 09:29] ashishkumar468 commented on #3607
Yes, one of the PR' must-have updated the schema. Should not be an issue though, because since room has been added, no releases have been made. So for end-user, this won't make a difference, although we should add migrations whenever a schema update is done.

[2020-04-02 12:25] 318anushka commented on #3616
prodDebug.
I will test it on betaDebug and confirm

[2020-04-02 12:45] whym commented on #1613
@sivaraam Thanks a lot. I'll close this as well.

(Another thing - I never got a response from my request for oversight (which is like deletion of a higher level) by email. The last message I got was an automated one saying my email "awaits moderator approval". I think not oversighting is a reasonable outcome, as it's only for severe cases.)

[2020-04-02 12:45] #1613 closed

[2020-04-02 13:53] neslihanturan commented on #3466
It is very unexpected to get different results based on devices. My suggestion is merging #3605 before release if we don't find a better approach to be able to get crash logs in a way. Meanwhile I will continue to look for root cause. Thanks @sivaraam your findings seems really helpful.

[2020-04-02 15:41] 318anushka commented on #3534
`} else if (!place.pic.trim().isEmpty()) {
            vectorDrawable = VectorDrawableCompat.create( // Means place has picture
                    getContext().getResources(), R.drawable.ic_custom_map_marker_green, getContext().getTheme()
            );`

@neslihanturan can you tell me what info does pic field contain? its a string but how do we update its value.

[2020-04-02 18:01] neslihanturan commented on #3534
It contains Property:P18 of related wikidata item for this place. https://www.wikidata.org/wiki/Property:P18

[2020-04-02 18:37] sivaraam commented on #3179
@kbhardwaj123 Thanks for your explanations. I see your problem now.

It's prudent to [explore more](https://www.mediawiki.org/wiki/API:Search) before coming to conclusions. AFAIK, you can't just make some categories case sensitive and others case insensitive. It doesn't even make any sense, does it? Anyways, I'll try to clarify what's going on here. Here's the description of the search API from [A

[2020-04-02 19:28] 318anushka commented on #3341
This is a client side error.
`private static String getArtist(ExtMetadata metadata) {
        try {
            String artistHtml = metadata.artist();
            return artistHtml.substring(artistHtml.indexOf("title=\""), artistHtml.indexOf("\">"))
                    .replace("title=\"User:", "");
        } catch (Exception ex) {
            return "";
        }
    }`
This method in Media fetch

[2020-04-02 19:43] 318anushka commented on #3341
Also there is one more ambiguity in username. The string isn't formatted properly.
![image](https://user-images.githubusercontent.com/45694892/78294598-45f4fd00-7548-11ea-8269-333713ee453d.png)

[2020-04-02 22:22] vvijayalakshmi21 commented on #3526
Hi @nicolas-raoul I have created a PR for fetching description from the server and displaying it for Parent and Child classes where available.

![Screenshot_20200403-035018](https://user-images.githubusercontent.com/34595292/78305387-6308dc00-7506-11ea-96c5-469db007fbef.png)
![Screenshot_20200403-033554](https://user-images.githubusercontent.com/34595292/78305391-64d29f80-7506-11ea-8483-2bff70b0ce

[2020-04-03 02:42] nicolas-raoul commented on #3526
Looks great!
The source code is also good.
Just rebase to fix the conflict, and I will merge :-)

[2020-04-03 02:46] nicolas-raoul commented on #3341
@318anushka : No news from vibhusharma101 so you can take it.

[2020-04-03 02:48] nicolas-raoul commented on #3601
@dafnith Any progress on this? :-)

[2020-04-03 02:50] nicolas-raoul commented on #3600
@johnnyrev  Any progress on this? Have you managed to reproduce the issue? :-)

[2020-04-03 02:55] nicolas-raoul commented on #3551
Do we really need a X button? The field is already quite narrow, so an X button would make it too small, I think. Leaving the fields empty would be enough, I think. We have to check that empty fields are not uploaded.
What do you think about it? :-)

[2020-04-03 02:57] nicolas-raoul commented on #3142
Seems fixed now :-)

[2020-04-03 02:57] #3142 closed

[2020-04-03 03:03] nicolas-raoul commented on #3109
Strangely this problem seems to have reappeared (up-to-date structured-data branch):
![Screenshot_20200403-120026_Commons](https://user-images.githubusercontent.com/99590/78319897-2a6b1000-75a3-11ea-9062-e9e3d7fabbbd.jpg)

[2020-04-03 06:37] vvijayalakshmi21 commented on #3137
Hi @nicolas-raoul I checked this and I believe after the second set of 25 items are fetched, they're simply repeating. From the attached screenshots we can see that after pyrus item the first item of the second 25 fetched is displayed. This keeps happening upon scrolling further down.
A couple of reasons I could think of for this issue are:
1. We're not properly requesting the next page
2. Not upd

[2020-04-03 06:44] vvijayalakshmi21 commented on #3137
![Screenshot_20200403-115735](https://user-images.githubusercontent.com/34595292/78331482-bed57280-75a3-11ea-9416-357c6dd19702.png)
This shows the last item displayed from the first call. (British Rock band)
![Screenshot_20200403-121149](https://user-images.githubusercontent.com/34595292/78331766-5935b600-75a4-11ea-824a-3696fe5536a1.png)
This shows the first few items of the second 25 call.

![Scr

[2020-04-03 08:28] kbhardwaj123 commented on #3179
@sivaraam Thanks for such a comprehensive explanation :).
I agree with you that search generator could be an overkill as you pointed out that searching **temple of ishtar** returns some completely unrelated categories as they contain that term in their wiki text body. So what i am thinking is that in the question on [stackoverflow](https://stackoverflow.com/q/14337219/5614968) which you mentioned

[2020-04-03 08:31] kbhardwaj123 commented on #3179
@sivaraam i tried it and it returns exactly what we want, checkout the following link:
https://commons.wikimedia.org/w/api.php?action=query&format=json&formatversion=2&generator=search&gsrnamespace=14&gsrsearch=intitle:temple%20of%20ishtar&gsrlimit=25&gsroffset=0

[2020-04-03 09:21] nicolas-raoul commented on #3179
The search URL above looks better than what we currently have indeed, but still not perfect, I think Commons has a better one for us.

Users will type and should see results appear as they type.
For instance, let's say I take a picture of a supermarket in Tokyo. I start typing "supermarkets in to"

- https://commons.wikimedia.org/w/api.php?action=query&format=json&formatversion=2&generator=search&

[2020-04-03 09:26] misaochan commented on #3584
Yes, I am referring to this one. Or the tooltips displayed in the title/desc section of the upload process.

Sure! :)

[2020-04-03 09:30] sivaraam commented on #3179
In a word: yes. It's best to keep the search title only to ensure that the results are predictable. Searching the text in the category pages is not a good idea as it might contain

[2020-04-03 09:34] sivaraam commented on #3179
In a word: yes. It's best to keep the search title only to ensure that the results are predictable and straightforward. Also, it's out of scope for this issue which is about making category search case insensitive. We can discuss enhancing the category search separately and focus on just making the category title search case insensitive for now.

[2020-04-03 09:38] sivaraam commented on #3179
Good idea. We would have to find how it works.

I think we can answer this only after knowing how that works :)

[2020-04-03 10:15] kbhardwaj123 commented on #3179
@sivaraam @nicolas-raoul so i will make it title only search and create a separate issue for improving our category search functionality in favour of something similar to that of website search

[2020-04-03 11:08] sivaraam commented on #3179
If you think of using `intitle:` part of `search` API then here's a problem I noticed with that. It only seems to be returning category pages for which a category page exists ([just as expected](https://github.com/commons-app/apps-android-commons/issues/3179#issuecomment-608033632)). Examples:

* https://commons.m.wikimedia.beta.wmflabs.org/w/api.php?action=query&format=json&formatversion=2&genera

[2020-04-03 11:17] johnnyrev commented on #3600
I recently got into this and I have started working on that issue!

[2020-04-03 11:50] kbhardwaj123 commented on #3179
@sivaraam sure in that case I agree that we should ask on the mail list, I will hold my PR on this issue

[2020-04-03 15:34] VitalyVPinchuk commented on #3555
Hello @macgills @nicolas-raoul
Can I try to work on this?

[2020-04-03 21:25] 318anushka commented on #3341
I have submitted a PR which formats the string and works just fine but i'm unable to figure out how it is generated. The media object fetched from imageInfo API already has the string.

[2020-04-04 00:01] dafnith commented on #3601
@nicolas-raoul Yes I have managed to reproduce the issue. Actually it took me a while to built correctly the project but now everything is ok and I am working on the issue.

[2020-04-04 03:49] vvijayalakshmi21 commented on #3137
If we slow-scroll down the items or debug the code, the issue does not occur. The item list is properly updated without repetitions. It is only when the user keeps scrolling down the items without allowing the call to the server to finish, we see the issue.
The below code snippet gets executed more times than once when the user scrolls down faster resulting in the list being displayed with repeate

[2020-04-04 04:49] vvijayalakshmi21 commented on #3137
On further analysis I can see that when a user scrolls down faster, the firstVisibleItemPosition and visibleItemCount variables change rapidly and in a way that the above if condition is satisfied. Please find attached the variable values when we slow-scroll or Debug and fast-scroll the items.
We can clearly see that we are making more than one call with the same offset value 25.

[fast scroll.txt

[2020-04-04 13:24] isnirp commented on #3218
I think this issue is similar to what I have reproduced. The upload failed, an attempt to upload again failed even after the progress was complete. I restarted the app and noticed the image was uploaded yet it also showed the failed upload. I experienced this on 2 occasions...
![failed](https://user-images.githubusercontent.com/10153512/78451826-1b11c280-7688-11ea-8a62-a46764acd376.gif)

[2020-04-04 16:57] vvijayalakshmi21 commented on #3137
The problem seems to be with isLoading variable not being updated when there is a call in progress. This results in duplicate calls (ie with same offset id). If we update this variable, then we can avoid the call and subsequently the duplication of items in the list.

[2020-04-04 17:20] vvijayalakshmi21 commented on #3137
I made some changes and tested quickly. I can see that now there is no repetition of items irrespective of the speed of scroll. Attaching the logs I wrote to output the variable values
[logs_isloading_updated.txt](https://github.com/commons-app/apps-android-commons/files/4432032/logs_isloading_updated.txt)

[2020-04-04 18:28] hudlerr commented on #3508
hey, @macgills my apps been crashing again and I can't seem to get it back up, so feel free to reassign this issue.

[2020-04-04 18:51] 318anushka commented on #3316
@maskaravivek I came up with a better solution. Firstly change the width(styling) of scrollbar and then set an offset(this can be width of scrollbar) such that fastscroll is enabled only when user scrolls within that offset. This reduces abrupt jumps to great extent.
Also fading scrollbar doesn't work because that will only hide it.

[2020-04-05 08:38] nicolas-raoul commented on #3555
@VitalyVPinchuk I guess, yes, thanks! :-)

[2020-04-05 08:58] nicolas-raoul commented on #3137
@vvijayalakshmi21 Wonderful! :-)

[2020-04-05 10:01] AntSYau commented on #3160
I found the problem. In `fr.free.nrw.commons.settings.SettingsFragment.getPageContents()`, both username and display name are referenced to the same `creator` variable, whose value is either `authorName` preference field or `sessionManager.getAuthorName()`, depends on whether Custom Author Name is on/off.

[code]

 I plan to add a `creator_username` variable alongside `creator`, and append these v

[2020-04-05 17:33] 6point022 opened #3622 "Language names in About -> Translate are not sorted"
**Summary:**

Currently, it is very difficult to find a particular language in the list. The names should be sorted and should be in English.

**How can we reproduce the issue?**

Got to About and click on Translate.

**What did you expect the app to do, and what did you see instead?**

The language names displayed should be sorted lexicographically. Since some names are in the respective language

[2020-04-05 23:48] dafnith commented on #3601
hey @nicolas-raoul I think I may have misunderstood the problem here. When I type rabbit in step 2 of upload, for the item "Rabbit (species of small mammals)", various wrong thumbnails appears and not only the "Rabbit (basketball player)". I don't understand if the problem is specifically with the basketball player error or the fact that it doesn't show the right image for "Rabbit (species of smal

[2020-04-06 01:50] nicolas-raoul commented on #3601
Rabbit is only an example :-)
You are right, most (maybe all?) thumbnails are erroneous.

[2020-04-06 08:00] macgills commented on #3492
@misaochan they also play an important role in the IDE highlighting which should be the first line of defence. The tool I linked in the description is for running inspection commandline but I don't trust it and it would probably add bloat to the build time.

We could encourage people to commit via AndroidStudio as one of the checkboxes is `run inspections on VCS changed text` in the commit dialog?

[2020-04-06 08:08] macgills commented on #3573
apparently we can use `app:iconSpaceReserved="false"`? I suppose go for it if it still looks alright, I was hesitant to do it because `<*Preference` elements have no attributes like `padding/margin`

[2020-04-06 08:42] macgills commented on #3551
It feels a bit messy to not have a way of removing them?

On my contacts app if I try to add a custom field I get the x option once I have added data
![image](https://user-images.githubusercontent.com/3358282/78539241-24b33b80-77ea-11ea-8111-f5c8bd470091.png)

It would be a larger change to the ui but we could launch an `Add caption & description` dialog and not have input fields in this list. It

[2020-04-06 09:08] dafnith commented on #3601
Thank you, I will check it out!

[2020-04-06 09:32] macgills commented on #3466
I am in favor of merging and have approved the pr.

[2020-04-06 09:48] macgills commented on #3614
It definitely sounds like the activity was recreated and we do not persist the state but I quickly experimented with `do not keep activities` turned on and my uname/pass were persisted across recreation. There must be something happening with the 2FA flow? I do not have it enabled

[2020-04-06 10:08] misaochan commented on #3492
Thanks for the clarification. :) I'm on board with adding the file to git.

[2020-04-06 10:11] misaochan commented on #3607
Ah, okay. I can remove this from the release list then, but we would need to make sure that this doesn't happen again in the future (because then it will impact end users).

[2020-04-06 10:28] misaochan commented on #3614
The user's response was: "I have a Samsung S7 Edge. No I did not notice any freeze or anything: what does happen is the keyboard of the Commons app stays visable."

[2020-04-06 10:35] misaochan commented on #3614
I rotated my device, which resulted in the activity being recreated - the username and password are persisted for me, although the 2FA code field disappears so you have to tap "Login" again for it to come back up. But that isn't a big problem and not what the user is experiencing.

[2020-04-06 11:54] #3195 closed

[2020-04-06 13:57] #3408 closed

[2020-04-06 13:59] macgills commented on #3482
This has been merged to structureddata branch

[2020-04-06 13:59] #3482 closed

[2020-04-06 14:00] macgills commented on #3490
merged in structured data branch

[2020-04-06 14:00] #3490 closed

[2020-04-06 14:15] #3590 closed

[2020-04-06 15:58] dbrant commented on #3571
Oh hey 👋
Yes, please do proceed with the option that is most sensible to you.

The problem with the "data-client" library is that it was a little too ambitious in scope, and ended up containing too much business logic that was specific to our product.

For the future, it might be a good idea to have a shared library that contains _only the model classes_ that are returned by the API, and nothing e

[2020-04-06 17:16] misaochan commented on #3571
Thank you for the update, @dbrant ! I agree that a more simplified shared library would be a better idea in the future. :)

Seems like we are all on board for option 2. Feel free to take this up, anyone!

[2020-04-06 18:58] #3466 closed

[2020-04-07 08:51] maskaravivek commented on #3316
Quoting @macgills's comment here:

@nicolas-raoul @neslihanturan What are your opinions on fast scrolling?

[2020-04-07 09:05] nicolas-raoul commented on #3316
I agree with bistaastha that "fast scrolling" is irritating, I often tap it by mistake, and I have almost never used it on purpose. I am in favor of removing it.

Context: "Uploaded via mobile" is meant to emulate good behavior by showing good pictures uploaded by others. It also allows experienced users to spot bad pictures and delete them, on the go.

[2020-04-07 09:34] macgills commented on #3571
Library modules often lead to a bit more overhead in the setup, I am fine just copying them to a distinct package inside commons. Modular applications have many benefits but I don't think we get any of them right now and you get a bit of complexity

[2020-04-07 13:21] nicolas-raoul commented on #228
Still happening: https://commons.wikimedia.org/wiki/File:Okonomiyaki.jpeg

Note: Maybe it is only happening in the structured-data branch.

[2020-04-07 13:27] gouri-panda commented on #228
@nicolas-raoul Can i work on this issue?

[2020-04-07 13:38] nicolas-raoul commented on #228
@gouri-panda Yes, sure :-)
Please first try to reproduce on the master branch: Upload a picture, then a different one with the same title (caption), then let us know.
I suggest you use the "betaDebug" flavor when building the app.

[2020-04-07 14:15] nicolas-raoul opened #3623 "UploadPresenter: failed to upload: Attempt to invoke interface method 'java.lang.Object[] java.util.Collection.toArray()' on a null object reference"
On the latest structured-data branch, this happens when uploading any picture, all the time:
[code]
The picture is not uploaded and a toast saying `File not found. Please try another file.` appears.
Either sharing from Galaxy S10's default gallery app, or choosing from within the app.
Sounds similar to #1976.

[2020-04-07 14:19] macgills opened #3624 "DateTimeFormat wrong"
**Summary:**

Cannot save contribution on successful upload because format is not is08601 datetime

**Steps to reproduce:**

Attempt to upload anything, see failure.

**System logs:**

[code]

**Commons app version:**

master.

**Would you like to work on the issue?**

Yes

[2020-04-07 14:28] macgills commented on #3623
try on the other branch if you could as that branch is all about fixing the uploads

[2020-04-07 14:30] #3506 closed

[2020-04-07 14:44] sivaraam commented on #3624
Just wanted to mention that this seems related to the change done in PR #3589

[2020-04-07 19:24] sivaraam commented on #3547
@gouri-panda Were you able to find the cause of this issue? Are you still working on this?

[2020-04-07 19:40] sivaraam commented on #3573
Just wanted to share another issue that I noted with the extra space. If you observe the following screenshot closely, you would notice weird white dots (in dark theme) corresponding to each setting.

![Screenshot_2020-03-31-15-52-50](https://user-images.githubusercontent.com/12448084/78712045-9b108480-7935-11ea-9c2a-71db3ab292aa.png)

I'm wondering why they're shown. 🤔

[2020-04-08 04:41] ashishkumar468 opened #3626 "Security Exception (FilePicker.writeToFile)"
**Summary:**
If Shared URI does not grant us the read permission (God Knows why would they do so, a Security exception is thrown while reading it)

**Steps to reproduce:**
I have not been able to reproduce it personally, followed from play console

**System logs:**

[code]

**Device and Android version:**

Huawei Mate 10 Pro (HWBLA), 5888MB RAM, Android 9

**Commons app version:**

current Prod, a

[2020-04-08 06:18] macgills commented on #3573
We could use layoutInspector to expose the underlying view hierarchy and what these views are? Kiwix , which is my latest dark mode/prefs screen experience, is unfortunately not using androidx preferences and has a DayNight theme driven night mode, not much similarity

[2020-04-08 07:05] macgills commented on #3626
https://stackoverflow.com/a/46722623 so this user experienced this problem

Maybe the permission was lost by activity recreation? Doesn't sound right to me but I don't trust Dexter or any of these Permissions libraries too much as they generally add an invisible activity/fragment to do the permission request. I am suspicious of this Runnable.
It looks like Dexter has an option of `Running on same

[2020-04-08 07:13] macgills commented on #3626
Anyway long winded comment aside I am fine with catching this exception but perhaps another ticket should be opened to explore this in the future?

[2020-04-08 09:48] macgills opened #3628 "Update Gradle Plugin"
**Summary:**

3.6.2 has been released so we should use it.

**Would you like to work on the issue?**

Yes

[2020-04-08 10:02] macgills opened #3630 "[Library Discussion] Core-ktx"
**Summary:**

Add [core-ktx](https://developer.android.com/kotlin/ktx#core) dependency.

Adding this library will give us access to some nice QOL improvements when writing kotlin.

[2020-04-08 10:03] macgills commented on #3630
@misaochan @maskaravivek @ashishkumar468 thoughts

[2020-04-08 12:50] #3492 closed

[2020-04-08 13:10] #3628 closed

[2020-04-08 16:37] misaochan commented on #3607
The same thing happened for me. Uninstalling and reinstalling didn't work, only clearing app data manually via Settings worked.

[2020-04-08 16:39] #3624 closed

[2020-04-08 17:32] gouri-panda commented on #3547
@sivaraam  I am still working on this issue. Unfortunately, I can't find the root cause of this issue. If anyone interested in this issue. Please feel free to take this issue.:)

[2020-04-08 19:21] sivaraam commented on #3573
I'm not familiar with this. Let me know how I could help with this.

[2020-04-09 01:37] rhulkb27 commented on #3622
Hi - may I work on this issue?

[2020-04-09 02:22] maskaravivek opened #3632 "Crash report from Play store: RuntimeException at org.wikipedia.AppAdapter.get"
**Summary:**

Runtime exception from google play store. There are 4 reports of this crash.

**System logs:**

[code]

**Device and Android version:**

Samsung Galaxy S6 (zeroflte), 2816MB RAM, Android 7.0

**Commons app version:**

2.12.3 (v561)

**Would you like to work on the issue?**

Yes

[2020-04-09 07:01] ashishkumar468 commented on #3626
Isn't the URI permission given to the application as a whole and not a single activity?. I have never been able to reproduce this personally but I have seen this happening even before we started using dexter.

[2020-04-09 07:10] macgills commented on #3607
are ye running `gradlew uA` (or `uninstallAll` if you write out full gradle commands)? I would hazard the issue is uninstalling beta and not prod or vice versa. I have never run into this issue.

There should be no AppData to clear if it is fully uninstalled

[2020-04-09 07:45] macgills commented on #3573
![image](https://user-images.githubusercontent.com/3358282/78870561-3bea6700-7a3e-11ea-9998-22a7489fac45.png)
Click this with the app running on the screen you want to inspect and you get to see what the views actually are along with their attributes
Ignore the custom key binding I have for it.

[2020-04-09 08:17] macgills commented on #3626
[Docs](https://developer.android.com/guide/topics/permissions/overview#uri) says

UriPermission!=Manifest.Permission

[2020-04-09 10:55] 6point022 commented on #3622
@rhulkb27 If you are interested then feel free to take it up. However, before beginning to work on this, please get the issue approved by a member/collaborator by tagging them here.

[2020-04-09 11:50] 318anushka commented on #3316
If everyone agrees then it's better we remove it. I just tested it on a 4.0" screen device and it really is a problem works in about 1/7th of screen width
but if fast scroll is disabled then obviously user cannot directly jump to image.
Consider users who scrolls upto some items and later want to continue after that or review different pictures. There is no refreshing by pull feature so opening ex

[2020-04-09 14:21] nicolas-raoul opened #3633 "[structured-data branch] In depictions selection screen, suggest nearby items"
For now, the depictions selection screen does not show anything when no search string is entered.
Instead, it would be good if it could suggest:
- Items that are geographically close to the picture's EXIF coordinates (implementation: reuse the SPARQL query from Nearby).

For instance when I take a picture near Arc De Triomphe, suggest as depictions: Arc De Triomphe, Champs Elysees, and other items

[2020-04-09 14:21] nicolas-raoul opened #3634 "In depictions selection screen, suggest recently selected items"
For now, the depictions selection screen does not show anything when no search string is entered.
Instead, it would be good if it could suggest:
- Items that were selected during previous uploads.

This feature exists in the category selection activity, so that activity can be studied for inspiration.

[2020-04-09 14:23] nicolas-raoul commented on #3152
Duplicate of #3633

[2020-04-09 14:23] #3152 closed

[2020-04-09 16:21] rhulkb27 commented on #3622
Ok, will do. @neslihanturan may I work on this issue?

[2020-04-09 16:26] misaochan opened #3635 "Date discrepancy in uploads (probably due to timezones)"
**Summary:**

 https://commons.wikimedia.org/wiki/File:Fruit_tea_store.jpg

Summary section says "Date | 2 January 2020 (according to Exif data)", whereas the EXIF section at the bottom says "Date and time of data generation | 15:01, 1 January 2020".

**Device and Android version:**

Samsung Galaxy S8, Android 10

**Commons app version:**

master, d7a42b2f89a35e1d80bf458538d95b93a66840c1

[2020-04-09 16:29] misaochan commented on #3630
I'm on board with this as it's part of Jetpack. But let's wait for the others to chime in.

[2020-04-09 16:35] misaochan commented on #3607
Oh, right! Yes, I had beta installed, whoops.

[2020-04-09 16:52] misaochan commented on #3179
Any luck with the mailing list? We are holding 2.13 for this at the moment. :)

[2020-04-09 18:11] sivaraam commented on #3179
Apologies. I never got around to sending the e-mail to the mailing list. Got hung up with other things. I'll try to send it by tomorrow if no one else beats me to it :)

You don't have to hold it anymore ;). I've create #3636 that reverts the changes done in the PR #3326. You merge that and move on with the release. We can handle the case insensitivity in the next release :)

[2020-04-09 18:45] sivaraam commented on #3573
Ok. This is what I get when inspecting the Settings screen:

![image](https://user-images.githubusercontent.com/12448084/78929575-477e7200-7ac0-11ea-958e-d883ed413671.png)

[2020-04-09 19:19] sivaraam commented on #3635
Curiously enough the [editing the summary of that image](https://commons.wikimedia.org/w/index.php?title=File:Fruit_tea_store.jpg&action=edit&section=1) reveals the following:

[code]

The [Template:According to Exif data - Wikimedia Commons](https://commons.wikimedia.org/wiki/Template:According_to_Exif_data#Usage) page gives some information about how the template works.

I'm wondering if the `da

[2020-04-09 22:36] maskaravivek commented on #3630
Yes, +1 for having this in our app.

[2020-04-10 00:10] 318anushka commented on #3635
Do you think this has something to do with timezone?
I was just checking onto it and created date of contribution shows this:
`2020-04-10 05:18:01.736 22623-22623/fr.free.nrw.commons D/CREATEDATE MODEL: Thu Apr 09 01:47:25 GMT+05:30 2020
`
which is exactly 5:30 ahead of IST(my current time zone)(Although ist is ahead of gmt)
Exif details of photo shows this 20:17, 8 April 2020.

[2020-04-10 06:51] kbhardwaj123 commented on #3179
@sivaraam i agree this would be our best option for now and i am really keen to see what mailing list would suggest regarding this issue :)

[2020-04-10 07:18] sivaraam commented on #3635
Yeah, that's a possibility.

For the image mentioned in the description too the timestamp in EXIF is `15:01, 1 January 2020`. If you add 10 hours for GMT+10, the date does fall in 2 January 2020. Interesting 🤔

[2020-04-10 07:21] sivaraam commented on #3635
I'm wondering if we should treat the timestamp in the EXIF as GMT or as a timestamp in the corresponding timezone in which the image was taken? 🤔

[2020-04-10 09:18] macgills opened #3638 "[Discussiion] Kotlin test naming"
**Summary:**

We could be writing our test names in backticks eg
[code]
as opposed to how it is currently done
[code]

[2020-04-10 09:24] macgills commented on #3607
Is there something here to do or can we close this?

[2020-04-10 10:03] macgills commented on #3573
Perhaps recheck that after this issue is addressed, with any luck it will just disappear. If it doesn't we will make a new issue

[2020-04-10 10:19] macgills commented on #3635
given the method we are using
[code]

and the other method available

[code]
I would say we are treating non UTC as UTC.

If we are getting more serious about Date then we absolutely should be using [310ABP](https://github.com/JakeWharton/ThreeTenABP) to handle these situations

[2020-04-10 10:19] 318anushka commented on #3635
Well, looks like it's currently treating it as GMT and then converting it

[2020-04-10 10:35] macgills commented on #3137
The linked PR does resolve the issue but the root cause of these inconsistencies should be addressed in #3462  which currently has a too wide scope given how many paginated endpoints there are, perhaps individual tickets for the list + endpoint pairs

[2020-04-10 10:46] nicolas-raoul commented on #3137
@macgills Thanks for reviewing the PR! :-)

[2020-04-10 13:21] sivaraam commented on #1041
Closing per https://github.com/commons-app/apps-android-commons/issues/1041#issuecomment-356782907

[2020-04-10 13:21] #1041 closed

[2020-04-10 14:26] sivaraam commented on #3179
I did some searching and phabricator and came to know that case insensitive category title search is a long standing feature request that is yet to be addressed [[ref 1](https://phabricator.wikimedia.org/T59302)] [[ref 2](https://phabricator.wikimedia.org/T187342)]. The [linked comment](https://phabricator.wikimedia.org/T59302#3977813) is a nice TL;DR of the status quo.

It seems we really can't u

[2020-04-10 14:50] nicolas-raoul commented on #3526
Both fixes merged, thanks @vvijayalakshmi21 ! :-)

[2020-04-10 14:50] #3526 closed

[2020-04-10 15:13] sivaraam commented on #3547
@gouri-panda Thanks for the update. I'm unassigning the issue for now. Let us know if you get any leads, I'll assign it back :)

[2020-04-10 16:10] vvijayalakshmi21 commented on #3526
Hi @nicolas-raoul can you please assign the next issue? Or can I work on the tooltip one mentioned by @misaochan

[2020-04-10 17:03] 318anushka commented on #3109
@nicolas-raoul I have managed to reproduce this error. This occurs maybe due to slow internet because we are setting errorView when query list is empty as well as when error occurs while fetching from api.
Cut the internet connection while loading items and message appears. I'd fix this

[2020-04-10 17:27] sivaraam opened #3639 "[2.13-release] Crash when trying to upload images"
**Summary:**
I face the following crash whenever I try to upload a picture using the app build from the `2.13-release` branch pointing at c961099013a19b91c46763216331795c36957b5d

**Steps to reproduce:**
*Pre-requisite*: Ensure that 'Don't keep activities' is turned on in the device's developer options.
1. Build an app from the `2.13-release` branch
2. Open the app
3. Tap on the + button
4. Choose

[2020-04-10 17:30] sivaraam commented on #3109
@318anushka I've assigned this to you. Go for it :)

[2020-04-10 18:31] sivaraam opened #3640 "Don't show hidden categories in suggested categories"
**Summary:**
When uploading an image, we ask users to add categories relevant to the image. Currently, the list of categories that we show also includes hidden categories. According to the Commons page about [hidden categories](https://commons.wikimedia.org/wiki/Commons:Categories#Categories_marked_with_%22HIDDENCAT%22):

As they're non-topical there's not much use in suggesting those categories.

[2020-04-10 18:59] sivaraam opened #3641 "Evaluate the usages of the `search` API for category search in the app"
We [seem to be using](https://github.com/commons-app/apps-android-commons/blob/241b54d008d4f844160fbf1f4555d52a8ae192d9/app/src/main/java/fr/free/nrw/commons/category/CategoryInterface.java#L23) the [`search` API](https://www.mediawiki.org/wiki/API:Search) for category search in a couple of places in the app. As mentioned in the comments in #3179 [[ref 1](https://github.com/commons-app/apps-androi

[2020-04-10 19:10] maskaravivek commented on #3641
Yes currently this is one of the ways for suggesting categories but there are few other types of suggestions ie based on location of image, previously used categories etc which are combined with this result. Personally I find the suggestions useful as otherwise I won't know what to search. For eg. if I am uploading an image with title as Madurai temple, it suggests me multiple categories that matc

[2020-04-11 06:49] kbhardwaj123 commented on #3179
@sivaraam thanks for such elaborate insights :). I have a doubt regarding the [linked comment](https://phabricator.wikimedia.org/T59302#3977813) which you mentioned, it says:

The "prefix index" which is being reffered here is it the `allcategory` API's prefix search, if so then how is it case-insensitive in most cases, i am a little confused by this

[2020-04-11 08:27] johnnyrev commented on #3634
Can it be assigned to me?

[2020-04-11 09:04] johnnyrev commented on #3634
If I get it straight, this is for step 2 of "upload" search. If so, you want the items shown with checkboxes, as they are in step 3, or with their depictions and descriptions?

[2020-04-11 09:36] nicolas-raoul commented on #3526
@vvijayalakshmi21 I assigned the tooltip issue to you. If you want a different one it is OK too.

[2020-04-11 11:55] misaochan commented on #3179
Awesome, thank you!

[2020-04-11 12:01] misaochan commented on #3334
Update: @ashishkumar468 (our bug smasher) has been feeling unwell and is taking a week off, but he has gone through the dev console crashes and submitted #3627 - after that is merged, he recommends going ahead with the release and handling the minor crashes after.

Next week I will do the final release testing, and if everything checks out we can probably expect 2.13 by the end of the week.

[2020-04-11 12:08] misaochan commented on #3639
Odd, the unmarshalling exception was supposed to have been fixed. :/ We should look into this prior to releasing.

[2020-04-11 12:35] nicolas-raoul commented on #3140
I just got this error using the latest `structured-data`.
The app was running and on the front on my smartphone, but I had not touched my phone for a while (like 20 minutes). When I took my phone and just started scrolling (I think I was on an Explore item search), it crashed immediately with this logcat:
[code]

[2020-04-11 12:43] nicolas-raoul commented on #3584
Here is the activity to which the tooltip should be added:
![Screenshot_20200411-183347_Commons](https://user-images.githubusercontent.com/99590/79042003-06f13680-7c2f-11ea-87f4-a616eb495276.jpg)

Here is how tooltips work in Step 1:
![Screenshot_20200411-183904_Commons](https://user-images.githubusercontent.com/99590/79042896-70c10e80-7c36-11ea-88f6-5d2cdb1cd992.jpg)

Maybe you could implement it

[2020-04-11 13:37] misaochan commented on #3635
Yes, I think it's likely a timezone issue - my timezone is +10.

I just went through my old uploads and this one from an older version has the same issue: https://commons.wikimedia.org/wiki/File:View_from_Mt_Coot-tha.jpg . So I think we can safely say that this has been around for a while.

Is there a reason we would use the external 310ABP library over https://developer.android.com/reference/java

[2020-04-11 13:45] misaochan commented on #3630
Ashish is away, so I think we are good to go with 2 votes for this.

[2020-04-11 13:47] misaochan commented on #3607
I would like to discuss if there is a way to ensure that  this doesn't happen again in the future - we were lucky that Room was implemented post the last release, but if we weren't then this would be impacting end users. Is there a process that we can implement that must be followed for schema updates, perhaps?

[2020-04-11 15:16] #3623 closed

[2020-04-11 15:18] nicolas-raoul commented on #3634
Yes, this screen:
![Screenshot_20200411-183347_Commons](https://user-images.githubusercontent.com/99590/79047657-ff438900-7c52-11ea-800d-b3f463362851.jpg)
It should show for instance the last 10 chosen items. If possible implement like done in categories, for consistency. Thanks!

[2020-04-11 16:50] nicolas-raoul commented on #2942
After testing this a lot today, I think that the item from Nearby (when coming from Nearby) should be added as pre-selected (maybe even undeselectable) in Step 2 or the upload.

If not, people will try to find this item, and waste time searching needlessly.

[2020-04-12 04:44] nicolas-raoul opened #3644 "Scan my old pictures and suggest most upload-worthy"
# Problem

Too many pictures and not enough time to upload them all. I need a tool that tells me what pictures are the most important, meaning the most susceptible to illustrate a Wikipedia article.

# How it could work

The tool could:

1. Scan my pictures (SD card, phone memory, Google Photos, etc), looking for pictures that are geolocalized (have a latitude and longitude in their EXIF).
2. For

[2020-04-12 08:30] VitalyVPinchuk commented on #3555
Hello @macgills @nicolas-raoul !
Could you please have a look at [changes](https://github.com/commons-app/apps-android-commons/compare/master...VitalyVPinchuk:fix-3555)

Is it what I was supposed to do?

[2020-04-12 14:58] madhurgupta10 commented on #2377
I don't face this issue anymore, rather sometimes I get "Error occurred while loading images" error.

[2020-04-12 15:01] madhurgupta10 commented on #3573
@macgills I think ```iconSpaceReserved``` is only available on API 26+

[2020-04-12 15:04] madhurgupta10 opened #3645 "Username remains visible even after logout"
**Summary:**
Username (of the last logged in user) remains visible in the navigation drawer even after logout.

**Steps to reproduce:**
Login > Logout > Open Navigation Drawer

**Commons app version:**
betaDebug lastest master

[2020-04-12 15:14] madhurgupta10 opened #3646 "Login timeout error in betaDebug"
**Summary:**
Getting login timeout error in betaDebug

**Steps to reproduce:**
Perform Login in betaDebug

**System logs:**
[code]

**Device and Android version:**
Google Pixel 2 Android 10 API Level 29

**Commons app version:**
2.12.3-debug-master~241b54d00

**Screen-shots:**
![Screenshot_1586704343](https://user-images.githubusercontent.com/30932899/79072331-cbaf4000-7ce0-11ea-8760-9311395a7546.

[2020-04-12 15:59] sivaraam commented on #3645
Yeah. I observed this too.

[2020-04-12 15:59] sivaraam commented on #3573
So, that's why it didn't work in my device (API 22) when I tried using it. 🤔

[2020-04-12 16:07] sivaraam commented on #3646
Do you get this error whenever you try to log-in? I get a `timeout` at times but successive attempts would result in a successful log-in.

Also, I'm doubtful about whether there's anything to be done in the app's side. This would generally happen when the network is not good or when there's a delay in the server's response both of which are out of our control. We could increase the timeout, if pos

[2020-04-12 16:21] madhurgupta10 commented on #3646
Yes during login, I tried multiple times but didn't worked.

Maybe there is some ongoing issue with beta API, I don't think we need to increase the timeout.

[2020-04-12 16:22] madhurgupta10 commented on #3645
@sivaraam I have noticed it for a while now, can someone confirm if it's intentional or a bug? My guess is that it is a bug.

[2020-04-12 17:43] Gestumblindi opened #3647 "Incomplete Exif data"
**Summary:**

Parts of Exif data are missing in uploads, even when selected in "Manage Exif Tags".

**Steps to reproduce:**

Check "Location" (I suppose that's what it's called in the English version; it's displayed as "Standort" in my German interface) under "Manage EXIF Tags" in the settings. Upload a file that has GPS information in the Exif data. Note that it's uploaded to Commons without the

[2020-04-12 18:31] sivaraam commented on #3645
I would have no doubt about this being a bug. Showing the username when a user is logged out is just misleading and has no obvious benefit to me. So, I don't think this is intentional. Correct me if I'm wrong.

[2020-04-12 18:42] madhurgupta10 commented on #3645
I agree, the reason why I suspect it because it has been there unnoticed for so long.

Anyways, I would be happy to fix it!

[2020-04-12 18:46] sivaraam commented on #3179
I would quote that fully to as it makes sense only when it is complete. Here it is for the sake of discussion:

Read that fully before reading further.

I'm reasonably confident that the comment either refers to the `[API:Prefixsearch - MediaWiki](https://www.mediawiki.org/wiki/API:Prefixsearch) API or someother API. It definitely is not referring to the `allcategories` API as it mentions a namesp

[2020-04-12 18:56] sivaraam commented on #3645
Kindly do so! I'll assign this to you :)

[2020-04-12 18:58] sivaraam commented on #3646
I just tried building `betaDebug` from `master` (2.12.3-debug-HEAD~241b54d00) and I was able to successfully log-in to the beta server.

![Screenshot_2020-04-13-00-23-40](https://user-images.githubusercontent.com/12448084/79077231-95dc7c80-7d1d-11ea-92b8-c72e43714c50.png)

If you're sure there's no issue with your network, just check after a day or so to see if this changes.

[2020-04-12 19:29] madhurgupta10 commented on #3547
@sivaraam @macgills What I found out that particularly ``` updateAllDatabases(); ``` in
[code]
is responsible for the delay!

[2020-04-12 20:00] gouri-panda commented on #3547
@madhurgupta10  If we don't execute the above code still it doesn't go back to the LoginActivity.

 It works on the background thread. Does this affect the UI? correct me if I am wrong:)

[2020-04-12 20:06] 318anushka commented on #3547
Yes, particularly deleting table `contributionDao.deleteAll();` is what causing it. Method which creates login activity is never called.

[2020-04-12 20:12] madhurgupta10 commented on #3547
@gouri-panda It does redirect to LoginActivity for me if I comment out that particular line.

Ideally, it should but I got this exception while debugging.

[2020-04-12 21:19] gouri-panda commented on #228
@nicolas-raoul I tried to reproduce this issue but it can't reproduce on the master branch. It checks the page exists or not if it exists It just appends the title with a suffix number.
[code]
I did it on the structured branch too, but it did the same  thing there too.

[2020-04-12 23:28] maskaravivek commented on #3639
@misaochan  I tried testing on the commit ID(`c961099013a19b91c46763216331795c36957b5d`) mentioned in this issue and didn't observe a crash.

I had a freshly installed APK of the app.

[2020-04-13 07:09] nicolas-raoul commented on #228
Thanks for insvestigating!
I wonder how this happened...
<img width="1092" alt="Screen Shot 2020-04-13 at 16 07 49" src="https://user-images.githubusercontent.com/99590/79100237-fcef4500-7da0-11ea-885f-4b6f8205cbe5.png">
@macgills do you remember how you uploaded the second okonomiyaki picture? Was it via Nearby? Thanks!

[2020-04-13 09:29] 318anushka commented on #3508
@macgills  Can i work on this issue? Also, to be clear we are supposed to remove HeightLimitedRecyclerView and adjust height of normal recycler view

[2020-04-13 09:50] macgills commented on #3639
I reproduced.
Just turn on "don't keep activities"

[code]

I'd write an automated test where you write a Contribution to a parcel and then read a contribution from a parcel as that is what is failing.

It would be best if we weren't writing any code though and we could just use the `Parcelize` annotation from kotlin

[2020-04-13 10:11] macgills commented on #3635
Yes, the java team made the new `java.time` API because Date, etc were hideous and Joda had some issues design wise. More can be read on the [joda page](https://www.joda.org/joda-time/).

In android for a while if you were doing anything serious wrt to time you used joda, because of the long history of java features not making it to android we didn't (and still don't) have access to the standard t

[2020-04-13 10:20] macgills commented on #3607
There are 2 camps for this, or at least 2 that I have followed

1. Every change to the database write a migration
1. Every release write a migration at the end

At release time testing that we can update from a previous version should be done regardless because you need to test your migration code.

I favour 2 though it does require some ownership of that code from someone at release time.

1 can

[2020-04-13 10:40] macgills commented on #3555
@VitalyVPinchuk yes that is what I was hoping would be achieved. The class can be slimmed down further as we don't need to pass this `what` and have switch statements with 1 clause. simply `uploadService.upload(contribution)` is what I would like to be invoking

[2020-04-13 10:42] macgills commented on #3555
Or perhaps even a queue implemented using a PublishProcessor of Contributions, and the api is just `uploadService.queue(contribution)`

[2020-04-13 10:44] macgills commented on #3573
it has the `app:` prefix, it is backported by the androidx libraries. Ye must have been using `android:` prefix which uses the platform implementation

[2020-04-13 10:46] VitalyVPinchuk commented on #3555
Got it. Thanks.

[2020-04-13 10:49] macgills commented on #3646
Beta is just a bit unstable at the best of times, use prod when at all possible and beta for only uploading many images, closing

[2020-04-13 10:49] #3646 closed

[2020-04-13 10:51] macgills commented on #3547
[code]
In English "everything below this line runs on the main thread"

[2020-04-13 10:56] macgills commented on #228
It wouldn't have been through nearby, I was just getting your photos from Google Drive. I think I uploaded 2 separate pictures with the same title but I doubt I had disabled any checks during development

[2020-04-13 11:02] macgills commented on #3508
@318anushka you have it right, please refer to my comments on the now closed [pr](https://github.com/commons-app/apps-android-commons/pull/3586)

[2020-04-13 11:07] maskaravivek commented on #3639
Awesome, thanks @macgills.

Fixing the issue.

[2020-04-13 17:39] vvijayalakshmi21 commented on #3319
Tested on current master on Google Pixel 3a with API level 10
The issue does not occur anymore. I did not experience crash when I click the icon before the map loads or without granting permission to access my location.
This can be closed.

[2020-04-13 17:44] #3319 closed

[2020-04-13 17:53] sivaraam commented on #3573
I did use the `app:` prefix.

This diff captures what I tried:

[code]

[2020-04-13 18:00] sivaraam commented on #3607
Option 2 sounds good if we are confident we won't miss that before release (else we get a lot of angry users!).

I'm just wondering about one other thing though. AFAIK, we frequently publish alpha versions to play store. If we push the migration to just before release those intermediate alpha updates would result in a crash (if the schema is changed, of course), wouldn't it? Would that be fine as

[2020-04-13 18:04] vvijayalakshmi21 commented on #3584
Thanks @nicolas-raoul
I will start looking into this.

[2020-04-13 20:11] maskaravivek commented on #3607
yes, right. the app will crash for them.

I guess we should go with option 1 as on every commit to master an alpha release is made.

Also, from a maintenance standpoint, it might be easier to have migrations for every change.

[2020-04-14 03:56] nicolas-raoul commented on #3584
The text can be rather long, for instance the tooltip for "description" is 10 lines. I suggest:

Select all things that your picture shows. For instance, if your picture shows a townhall in Smallville, then please select both "Townhall" and "Smallville". Try to be a specific as possible, for instance select "bulldog" instead of "dog" or "animal". Nearby items and recently used items may appear in

[2020-04-14 07:30] macgills commented on #3573
https://issuetracker.google.com/issues/111662669 this was an issue in the lead up to 1.1.0 but it has been resolved? I don't think this is limited by api level

[code]

certainly unmentioned in the method.

I tried briefly on API 27 with android: app: and setting it in code to no effect. Makes me think something is wrong in the implementation, ours or the library. Sadly there is no later version t

[2020-04-14 08:15] macgills commented on #3607
It is that or communicate to alpha users that they will need a fresh install on some versions, alphas are never renowned for their stability.

The thing I don't like about option 1 is how much extra code it adds but it is the "safer" option and causes less friction for our alpha users

[2020-04-14 09:32] macgills commented on #3645
this issue is irrelevant after #3649 is fixed, you shouldn't be able to see the navigation drawer after a logout.

[2020-04-14 09:32] #3645 closed

[2020-04-14 09:51] macgills commented on #3316
@318anushka please remove fast scroll.

If you want to discuss pull to refresh then please create a ticket.

[2020-04-14 09:54] #3558 closed

[2020-04-14 10:34] #3316 closed

[2020-04-14 11:26] macgills commented on #3529
This has been merged to structured data branch

[2020-04-14 11:26] #3529 closed

[2020-04-14 11:26] nicolas-raoul opened #3651 "Upload error for 渋谷La.mama"
Set FakeGPS (or equivalent) to be near this music venue: https://goo.gl/maps/go8ncPKxnDQgWTAD8

1. Compile the app using the "structured-data" branch (not sure if needed)
2. Start the app
3. Go to "Nearby"
4. Select the item `渋谷La.mama` https://www.wikidata.org/wiki/Q64778538
5. Try to upload this picture for it: ![20200411_171501](https://user-images.githubusercontent.com/99590/79219678-aa3f8700-

[2020-04-14 11:47] macgills commented on #3651
[code]
`getUpload` is null I would say this has nothing to do with structured data though I did test on it.
Getting the error response from the API now

[2020-04-14 11:49] macgills commented on #3651
Right now I am guessing we should replace `.` with `_`

[2020-04-14 11:53] macgills commented on #3651
B-I-N-G-O

[code]

[2020-04-14 11:56] macgills commented on #3651
And I'd wager for the second error
[code]
this is the culprit

[2020-04-14 11:58] macgills commented on #3651
This is not related to structuredData so I will remove my assignment

[2020-04-14 12:13] macgills commented on #3140
![image](https://user-images.githubusercontent.com/3358282/79223065-8dd12980-7e50-11ea-8c16-57e8a94faf38.png)

There are 5 possible culprits but there are only 3 of these fragments used from SearchActivity so that narrows it down a bit.

I'd propose 3 tickets out of this to tackle #3462 because this is an error of a structural nature

[2020-04-14 12:38] macgills commented on #3140
This also requires #3468 because the Renderers library used for adapters does not support PagedList

[2020-04-14 12:43] sivaraam commented on #3179
And here's our confirmation of [my observation](https://github.com/commons-app/apps-android-commons/issues/3179#issuecomment-612052320):

https://lists.wikimedia.org/pipermail/wikitech-l/2020-April/093295.html

[2020-04-14 13:06] sivaraam commented on #3645
Well, we would see it if we 'Skip' the log-in. I was thinking that was the reason behind this issue? 🤔

![Screenshot_1586455460](https://user-images.githubusercontent.com/12448084/79228272-cdaf0580-7e7e-11ea-9b9c-76de917d68b4.png)

[2020-04-14 13:40] sivaraam commented on #3641
I realise that and to be clear I'm not against the other suggestions just about the suggestions via title.

I understand the convenience here. But this comes with a caveat which I describe below.

The issue is *not* that the [`search` API](https://www.mediawiki.org/wiki/API:Search) behaves case-sensitively. Moreover, the `search` API actually works *case-**insensitively***. Here's an example API q

[2020-04-14 13:54] sivaraam commented on #3641
Well, if we're being serious about category addition here's we shouldn't be using the `search` API for category addition for the reason I describe in my previous comment. The [`allcategories` API](https://www.mediawiki.org/wiki/API:Allcategories) seems to be only one that does the job properly. Do enlighten me if I'm ignorant of some other magical API which is a lot better than `allcategories` for

[2020-04-14 15:34] macgills commented on #3645
I skipped the login after checking out #3649 and couldn't see my name in the drawer

[2020-04-14 15:46] madhurgupta10 commented on #3645
@macgills If you click on username area then can you launch achievements activity?

[2020-04-14 17:48] maskaravivek commented on #3641
@sivaraam I didn't realize that this issue was about using some other API for title category suggestion.

This comment of yours confused me.

Am all in for using some other API if it gives better results.

[2020-04-14 19:17] madhurgupta10 opened #3652 "Invisible username remains clickable in Navigation Drawer after logout"
**Summary:**
Invisible username remains clickable in Navigation Drawer after logout.

Following the discussion from [thread](https://github.com/commons-app/apps-android-commons/pull/3648#issuecomment-613357495)

**Steps to reproduce:**
Login > Logout > Skip Login > Click on the place where the username is supposed to be shown > Launches Achievements Activity.

**Device and Android version:**
Googl

[2020-04-15 04:24] nicolas-raoul opened #3653 "Many Mnull requests"
`structured-data` branch

I see a lot of these lines in my logcat:
[code]
I does not seem to have any bad consequence, but I don't think we can expect it to ever return any useful result either. Is `Mnull` expected to show up sometimes here? If yes, maybe we could avoid sending the request if it is for `Mnull`?

[2020-04-15 04:36] nicolas-raoul opened #3654 "StreamTimeout.newTimeoutException when depicting Sandbox"
I think I reproduced the error that Vivek is seeing, on a super-fast super-stable Internet connection:
[code]
https://www.wikidata.org/wiki/Q4115189
Might be totally random, will try again later.

[2020-04-15 07:38] macgills commented on #3653
This is in the contribution adapter when trying to render captions, the request shouldn't be done with a null id but first of all the id gets `M` prefixed to it hence `Mnull` which isn't null so it does the request. Easy fix but there may be something more fundamental we can do about having to do web requests for 1 piece of text for every Contribution?

[2020-04-15 07:44] macgills commented on #3645
Yes as I said in my [comment](https://github.com/commons-app/apps-android-commons/pull/3648#issuecomment-613357495) on the PR where I asked you to open a separate issue

[2020-04-15 07:58] maskaravivek commented on #3653
Yeah, it is a very expensive way of fetching captions. :(

It seems there are limited options to fetch captions as of now. https://commons.wikimedia.org/wiki/Commons:File_captions#How_can_I_query_the_captions_using_the_API?

Perhaps having lazy loading of contributions(#3566) would ease up things a bit.

[2020-04-15 08:16] VitalyVPinchuk commented on #3555
Hello @macgills
I'm new to RxJava and need some help.
Why would we need to use `PublishProcessor` here? Do we need to implement multiple subscribers? Or back pressure? I can't figure out how to apply it here. Could you give me an example?

[2020-04-15 08:32] macgills commented on #3341
This ticket has caused a great deal of confusion on my part and deeply overlong comments, my apologies anushka.

@nicolas-raoul do you know if this `Uploaded by` text field is supposed to represent the User ie the username a user uses to login Or is it supposed to be the Author ie the username or the custom author name should one be present?

[2020-04-15 08:34] #747 closed

[2020-04-15 08:39] nicolas-raoul commented on #3654
Probably a false alert, I was able to upload a picture depicting Sandbox, and a retry on the failed pic worked.

[2020-04-15 08:39] #3654 closed

[2020-04-15 08:53] macgills commented on #3555
A PublishProcessor is for ease of implementing a queue so we can call something like `contributionsToUpload.offer(contribution)`

And then the service manages this with maybe something as simple as `contributionsToUpload.subscribe(contribution->uploadContribution(contribution))`

We can Rx this up a bit more in the future, for now it would be quite complicated I think

[2020-04-15 08:58] #2909 closed

[2020-04-15 09:28] sivaraam commented on #3341
Just wanted to share a quick comment:

I believe @macgills means the Username one uses to log-in to Commons in general and not the username of the user who logs in to our app. Just in case someone gets confused (I was, initially). 🙂

[2020-04-15 09:32] maskaravivek commented on #3571
@macgills I suggested adding it as library module as I thought it might be the easiest way to setup as the project is already setup as an Android library.

I just did it locally and it hardly took me 5 minutes to set it up.

My first focus was to get this as part of our code base as quickly as possible. I am okay moving stuff to the `app` too but it might be useful to have it modular.

[2020-04-15 10:00] #3571 closed

[2020-04-15 10:07] madhurgupta10 commented on #747
@macgills Maybe we can keep the issue open for future PRs

[2020-04-15 10:20] macgills commented on #3653
I have elected to just slap a bandaid on this as it is quite annoying right now. I think #2904 is probably the way to go long term, at least for ContributionViewHolder

[2020-04-15 10:44] 318anushka commented on #3341
No problem @macgills It's best to clarify before updating pr.
And account in Commons is created through app, So isn't both the username (Commons in general and one in app) the same unless user intentionally creates separate accounts.

[2020-04-15 11:00] macgills opened #3658 "Throw exception instead of allowing nullable network models onError"
**Summary:**

The APIs respond 200 but with an errors object in the body.

**Commons app version:**

master.

**Would you like to work on the issue?**

Yes

[2020-04-15 11:07] maskaravivek commented on #3653
Yes, I agree. I am working on it. It should be in place by this weekend.

[2020-04-15 11:08] macgills commented on #3653
I have an open PR for it

[2020-04-15 11:08] madhurgupta10 commented on #3645
@macgills I opened a new issue #3652 and it can be closed with #3648

[2020-04-15 11:11] macgills commented on #747
I would make an issue if you are converting files, I didn't realise this was linked by your DialogUtil PR.

Regardless nobody wants an eternal issue and to me the purpose of this ticket has been served so I am alright with closing it

[2020-04-15 11:20] macgills commented on #3341
I think sivaraam is referring to a non Commons username? Like our Github unames? I don't understand at all. Is there a separate `name` field we can fill out on a user page or something like that?

The app is commons and commons is the app so when I said username I meant "the username of a user of commons" as is understood on this ticket in title and description. What you put in the username field

[2020-04-15 11:21] macgills commented on #3645
Awesome

[2020-04-15 12:13] sivaraam commented on #3341
It looks like my comment lead to more confusion than it clarifies. Apologies for that.

I'm not referring to any other username. I'm just referring to the username used to log-in to Commons. I was just trying to avoid a reader misinterpreting the following ...

... as the username of the user who is *using our app* to view the 'Explore' screen instead of as the username of the user who *uploaded t

[2020-04-15 12:40] #3652 closed

[2020-04-15 13:38] macgills commented on #3634
This functionality has been broken for contributions since 13/06/19, partially fixed in #3650

If somebody could tell me what
[code]
a "direct category" is then that would help, as far as I can tell nobody ever writes anything to this preference. @maskaravivek

@johnnyrev a new Room Dao will have to be added so that when a user selects a depiction we save that to the database. When search term is

[2020-04-15 14:00] macgills commented on #3135
I think this works?

![image](https://user-images.githubusercontent.com/3358282/79345685-55514e80-7f29-11ea-963b-8c22c9e4903c.png)

it depicts Sandbox anyhow. @nicolas-raoul if you could tell me how to verify this then I can close it

[2020-04-15 14:14] macgills commented on #3121
I am not sure how this feature should work, it seems awkward that I am searching and because I tapped an item the list changes in place. Do we do it when somebody selects a subclass too? Selecting a subclass deselects a parent selection? Would this work better as a Dialog "Did You Mean?" then a list of subclasses?

[2020-04-15 14:34] #3428 closed

[2020-04-15 18:38] vvijayalakshmi21 commented on #3584
Hi @nicolas-raoul
I checked the code and I see that for step 1 the relevant java files are UploadMediaDetailAdapter and UploadMediaDetailFragment. Currently for depictions we have only DepictsFragment and no adapter file. Shall I create a new one similar to the uploadmedia adapter and proceed to make changes?

[2020-04-15 18:43] sivaraam commented on #3547
I'm re-opening this as I still observe the issue I describe in the description when using the `prodDebug` version built with master pointing at 743e24cd71341058b74c38ea08a3018450c3c404 which has this PR merged.

[2020-04-15 19:18] sivaraam commented on #3641
Apologies for the lack of clarity. I really thought I clarified that in the first paragraph.

The problem is: there isn't! The [`search` API](https://www.mediawiki.org/wiki/API:Search) gives nice results but it isn't suited category search. The [`allcategories` API](https://www.mediawiki.org/wiki/API:Allcategories) only supports a case-*sensitive* prefix search, AFAIK. So, sending the title to it

[2020-04-16 08:08] macgills commented on #3584
@vvijayalakshmi21 the code being located in the adapter is not relevant to this feature, adapters are just classes that feed data into views and on structured data all these input fields are a part of a list.

If you look at the master branch you will see a freewheeling textview outside the list in uploadMediaDetail and that is closer to what we want but is not such a terrific example either, it s

[2020-04-16 08:26] macgills commented on #3547
@sivaraam it logs out for me

[2020-04-16 08:33] macgills commented on #3547
I guess what could be happening is that the logout call failed somehow, we now have actual error printing for this so that should be obvious in logcat. We do however probably want to alert the user that logout failed, should that situation arise

[2020-04-16 08:38] macgills commented on #3641
It has been hard to follow all the discussion on category search

I may be partly remembering but does this mean only the first letter is case sensitive in the search?
Is there any solution of multiple request we combine and filter out the distinct categories?

[2020-04-16 09:06] macgills opened #3661 "No Depictions Selected Dialog has reversed buttons"
**Summary:**

The dialog buttons have the positive action in the negative position and vice versa

**Commons app version:**

structuredData

[2020-04-16 09:31] chihuazhang opened #3663 "App crashes due to network issue"
Studies have shown that mobile apps are prone to crashes due to a network issue, mainly because successful network calls return unexpected or no data. And we found that when the field of the app(version 243)'s network return data (JSON format) is null or the network request fails (status code is 404), the app has crashed. the specific crash information is as follows:

1.

      at fr.free.nrw.comm

[2020-04-16 14:36] macgills opened #3664 "Stop using JsonObject on StructuredData"
**Summary:**

Responses from the API are being unmarshalled by hand.

[2020-04-16 16:51] misaochan commented on #3334
Neslihan and I both had to take leave this week as well - apologies to anyone whose ping I missed in the meantime. Will be back next week.

[2020-04-16 17:35] #3630 closed

[2020-04-16 18:04] sivaraam commented on #3661
One comment about the "No, Go back" button in the dialog. It's possible for someone to read the "Go back" (if they don't read the description) and wonder if this would take them to the previous step. I believe "Submit" and "Cancel" would be a concise pair of words that would avoid this confusion.

Also, a more general doubt. Do we really show a dialog whenever a user does not choose any depictions

[2020-04-16 18:47] sivaraam commented on #3641
Nope. There are a couple of things:

1. Generally, MediaWiki treats the first letter of the page title in a case-*insensitive* manner in any case. [[ref](https://www.mediawiki.org/wiki/Manual:Page_title)]. Keep that in mind, _always_. This might help you sometime in the future; like it helped me in figuring out why the testcase added in PR #3326 passed :)
2. The `allcategories` API does a *case-se

[2020-04-16 19:21] sivaraam commented on #3547
This is the "Error" only log that I see after I hit the "Yes" for the logout dialog:

[code]

The following is the verbose log:
[commons_app_log.txt](https://github.com/commons-app/apps-android-commons/files/4489333/commons_app_log.txt)

[2020-04-16 19:22] sivaraam commented on #3547
Let me know if you need more information.

[2020-04-17 01:18] nicolas-raoul opened #3666 "Crash when uploading on structured-data branch"
[code]

[2020-04-17 03:57] maskaravivek opened #3667 "Use pageid to uniquely identify contributions"
**Summary:**

As of now, the contributions table uses autogenerated id as the primary key. So every time the app is started, the DB is flushed and populated again.

This can be avoided if `pageid` returned by the `imageinfo` API is used as the primary key.

For images currently being uploaded, we would need to use a locally generated key and then replace it once the upload succeeds.

[2020-04-17 05:26] maskaravivek commented on #3653
Yes, I was talking about #2904.

[2020-04-17 07:25] #3658 closed

[2020-04-17 07:42] macgills commented on #3661
@sivaraam this issue is now merged and I am going to close it, please open a new ticket for discussion on the text/functionality

[2020-04-17 07:42] #3661 closed

[2020-04-17 07:51] macgills commented on #3641
Yeah but how many categories HaVe A cASe LiKe saRCaStic SPongeBOB?

I bet all lower case, originally Typed case, ALL CAPS, Capital Case would get us 99% of results, enough to trick users anyhow.

This is for sure a bandaid but do we have a better solution? Or do we just do nothing and close this ticket and wait for an api that supports this?

[2020-04-17 08:03] macgills commented on #3547
Perhaps file a bug report, I would be suspicious of the device/api level.

Potentially we could make `deleteAll` return a completable too but Room should be threadsafe as long as we don't do any manual transactions

[2020-04-17 08:10] macgills commented on #3653
awesome

[2020-04-17 08:10] #3653 closed

[2020-04-17 08:47] nicolas-raoul commented on #3666
Seems to happen all the time.
Retry works though.

[2020-04-17 08:48] VitalyVPinchuk commented on #3555
Hello @macgills
I've made a [commit](https://github.com/commons-app/apps-android-commons/compare/master...VitalyVPinchuk:fix-3555)  with `PublishProcessor` but not sure if it is right.

[2020-04-17 08:54] nicolas-raoul commented on #3666
@macgills Do you have access to ACRA crash reports? I can give you access if you need. I have sent two crash reports.

[2020-04-17 08:54] macgills commented on #3666
I have already fixed it

[2020-04-17 08:56] macgills commented on #3666
But perhaps ACRA report access would be useful

[2020-04-17 08:59] macgills commented on #3555
@VitalyVPinchuk looks fine to me, have you tested it with uploading multiple images at once?

[2020-04-17 10:26] VitalyVPinchuk commented on #3555
@macgills Yes I have and they upload fine.
Though app gives me an error about incorrect date format, just as the master branch.
Probably I've got a problem with localisation in my emulator.

[code]

[2020-04-17 11:24] macgills commented on #3555
You need to sync with the upstream master, this bug was fixed on the 8th

[2020-04-17 12:29] VitalyVPinchuk commented on #3555
Thanks. Merged with master. The error has gone.

Here is [PR](https://github.com/commons-app/apps-android-commons/pull/3671)

[2020-04-17 23:37] nicolas-raoul commented on #3634
My guess would be that "direct" was related to campaigns, and thus can be removed as the campaigns feature was removed years ago.

I would put nearby items before recent items.

[2020-04-17 23:49] nicolas-raoul commented on #3121
A "Did you mean?" dialog is a great idea indeed!

[2020-04-18 17:24] madhurgupta10 opened #3673 "Convert ConfigUtils to Kotlin"
**Summary:**
As per the discussion from the [thread](https://github.com/commons-app/apps-android-commons/issues/747#issuecomment-591081603).

Convert ConfigUtils.java to Kotlin.

**Want to work on this issue?**
Yes

[2020-04-18 19:14] 318anushka commented on #3508
I tried wrapping recyclerview inside constraint layout and set maximum height but the issue is recyclerview is not scrolling on adding more items.
Recyclerview scrolls if either parent is scrollable(constraint layout is not) or its height is less than all items.
Now the problem is, we are dynamically adding items to view so cannot set a fixed height
neither can set height to 0dp (match constraints

[2020-04-19 00:52] nicolas-raoul commented on #3666
Upload works better now, thanks! Also, I want to mention that upload was much slower between the cleanup commit and its revert.

[2020-04-19 00:52] #3666 closed

[2020-04-19 17:15] sivaraam commented on #3547
This issue is your bug report. The description should contain the information you need. If you need anything else, let me know.

[2020-04-19 17:22] sivaraam opened #3675 "Rename buttons of the dialog box shown when no depiction is selected"
It seems that we show the following dialog when a user chooses no depictions in the when uploading an image:

![image](https://user-images.githubusercontent.com/12448084/79694758-13f5d180-8290-11ea-99ee-5a3a12ffa2fa.png)
*(image courtesy: PR #3662)*

I just wanted to share a couple of comments I had about this dialog:
1. The "No, Go back" button in the dialog. It's possible for someone to read the

[2020-04-19 17:23] sivaraam commented on #3661
Ok. I've created #3675 for this.

[2020-04-19 17:59] sivaraam commented on #3641
Oh, I wouldn't bet on that. Particularly given all the interesting categories titles that you could find in [Special:Categories](https://commons.wikimedia.org/wiki/Special:Categories).

Also, I feel that this trick would give a false sense of case-insensitivity to the users making them wonder why the search seems to behaving case insensitive in some cases and case-sensitive in others. To give a re

[2020-04-19 22:19] maskaravivek commented on #3641
@sivaraam I am not able to follow your final suggestion.

From what I understand, the title based category suggestion are not providing the best results. If this might confuse the users we can add a (i) button explaining how the suggestions are fetched. Apart from that, I don't think we can do much.

[2020-04-19 22:24] #3436 closed

[2020-04-19 22:24] #2881 closed

[2020-04-20 07:50] neslihanturan commented on #3673
Hey @madhurgupta10 , thanks a lot for your issue and PR! But we usually discuss the issue beforehand. Do we want to convert our util files to kotlin, everyone?

[2020-04-20 07:58] macgills commented on #3508
How about [this answer](https://stackoverflow.com/a/58491364)?

[2020-04-20 08:28] macgills commented on #3675
pinging @nicolas-raoul for his input.

I am all for using different strings for the buttons, this was based on the No Categories Dialog so we should also update that when/if doing this.

I think we want to heavily encourage depictions so I think warning when no Depictions are selected is a good idea but I delegate to nicolas here.

[2020-04-20 08:38] macgills commented on #3547
Tried on a 5.1 emulator, worked fine for me, potentially a samsung issue, can't diagnose it any further at this time.

Whoever takes this up maybe try a Room Upgrade, maybe after skimming their release logs/issues?

[2020-04-20 08:55] macgills commented on #3673
Yes, that was end of the discussion on #747 I believe

[2020-04-20 09:00] madhurgupta10 commented on #3673
@neslihanturan It was discussed already so I created my PR. Sorry I forgot to link the parent issue :)

[2020-04-20 09:06] nicolas-raoul commented on #3675
In my opinion depictions are the future of Commons, since categories are widely unpractical and the category search API is problematic with no fix in view. So I would say we should keep this dialog.
But I agree with you that we can improve the wording. How about "Continue anyway" and "Add a depiction"?

[2020-04-20 09:20] macgills commented on #3675
"Cancel" and "Submit" are well within the parameters of the official design docs. The positive and negative buttons should be a response to the question posed, [link](https://material.io/components/dialogs#alert-dialog)

[2020-04-20 09:28] misaochan commented on #3675
My thoughts:
1. I personally feel that we should keep the dialog. We already have a warning dialog when the user submits an upload with no categories (along with a warning for lots of other things like a dark picture), so it isn't much of a stretch to extend that to depictions.
2. I agree with changing the button words to "Cancel" and "Continue" (though if we do choose "Continue", the warning text

[2020-04-20 09:41] macgills opened #3676 "Update Gradle Plugin"
**Summary:**

New version was released with AS 3.6.3

**Would you like to work on the issue?**

Yes

[2020-04-20 09:50] misaochan commented on #3673
Yes, any kotlin conversions that adhere to our code quality guidelines are welcome. :)

[2020-04-20 09:55] neslihanturan opened #3678 "Problem at displaying .svg files"
**Summary:**
When we clicked to any .svg item on contributions list, Media Details appears as expected at first. It gets the required height from the image. Then after 2 second, image disappears and we look at a blank container with image sizes instead.

Not: If you don't have any .svg images uploaded, exploare tab has the same issue too. Just search for key svg and you will get example images to

[2020-04-20 09:57] misaochan commented on #3639
Thanks @macgills and @maskaravivek . Is there a PR up for this?

[2020-04-20 09:59] nicolas-raoul commented on #3135
From the top of my head:
- Upload a pic with title+description in various languages and depictions. Check uploaded result.
- search by depiction, check thumbnails and descriptions
- go to parent class, check thumbnails and descriptions
- go to different subclass, check thumbnails and descriptions
- Perform these steps in a language different than English, check that localized labels and descriptio

[2020-04-20 10:20] neslihanturan opened #3679 "Issues with new meda details UI"
**Summary:**
There are some issues appeared after our new media details UI.

1- Moving from portrait to landscape deforms the image, here are the steps to reproduce:
- Display as portrait, first normal
<img src="https://user-images.githubusercontent.com/3127881/79740616-a6d25280-8308-11ea-95bb-b3739bf7fd79.png" alt="landscape" width="150">

- Change orientation to landscape, it is deformed
<img sr

[2020-04-20 10:29] nicolas-raoul opened #3680 "Tip appears even when not tapping the (i) icon"
Steps to reproduce:
- Start uploading an image
- At the caption step, enter a short caption such as "Obama in Sofia"
- Tap just a few pixels at the right of the word "Sofia"
- Problem: Tooltip appears
- Problem2: Sometimes it seems to happen when coming back from another field, even when clicking on "Obama" for instance.

It is annoying when I just want to put the focus on that line.
The "descript

[2020-04-20 10:37] neslihanturan commented on #3673
Oh sorry I missed we let it be used in any files, thanks for clarification :)

[2020-04-20 10:38] nicolas-raoul opened #3681 "List of languages for captions does not seem to match server-side languages (hard to choose language with massive list)"
I am all for language diversity, but it seems that the list of languages we propose for captions does not match what the server side actually can store:

<img width="878" alt="Screen Shot 2020-04-20 at 19 33 22" src="https://user-images.githubusercontent.com/99590/79742464-d18ace00-833d-11ea-9a00-b656eec2364c.png">

![Screenshot_20200420-193302_Commons](https://user-images.githubusercontent.com/99

[2020-04-20 10:39] #3676 closed

[2020-04-20 10:49] neslihanturan opened #3682 "Zoom fragment issue with .svg images"
**Summary:**

Zoomin .svg images is not possible. When you click on the image from Media Details, prograssbar is displayed forever, instead of the .svg image. Possibly related with this issue #3678

[2020-04-20 11:09] macgills commented on #3681
[code]

We generate this list by reading the locales on device, just to note

[2020-04-20 11:11] 318anushka commented on #3508
Yeah tried every related solution. Setting constraint layout height to 0dp hides entire view.
I don't know why is it causing problem but looking for a solution.
`app:layout_constraintHeight_max="450px"`
This alone doesn't work have to use it along with `android:maxHeight=" "` to limit constraint layout height.
Also i tried [this one](https://stackoverflow.com/a/48970129/13302378)
setting max heigh

[2020-04-20 11:15] macgills commented on #3508
Eh lets abandon this. The hope was it was easy and simpler than HeightLimitedRecyclerView, it looks like this is not the case, closing

[2020-04-20 11:15] #3508 closed

[2020-04-20 13:08] Aschroet opened #3684 "{{Location|0.0|0.0}}"
**Summary:**

The app adds _{{Location|0.0|0.0}}_ to the file description although the files metadata does not contain any GPS data. Example: [File:Renaturierter Tauberabschnitt zwischen Tauberbischofsheim und Impfingen 8.jpg](https://commons.wikimedia.org/wiki/File:Renaturierter_Tauberabschnitt_zwischen_Tauberbischofsheim_und_Impfingen_8.jpg)

This is wrong and, thus, the location should not appe

[2020-04-20 16:50] maskaravivek commented on #3639
@misaochan I haven't been able to fix the issue yet. I am able to reproduce it consistently when `do not keep activities` setting is on but I am not sure about the fix.

The crash happens even without initiating the upload so it is just related to we are saving the state of the activities.

When `do not keep activities` setting is on, open the contributions list page(main page) and then take the a

[2020-04-20 16:57] macgills commented on #3639
It is the parcelable implementation of Contribution/Media that causes this

I recommend this as acceptance criteria

[2020-04-20 17:48] misaochan commented on #3607
I would be in favour of option 1 as well. While I'm sure our alpha testers will understand, we would still want to reduce the number of crashes that they encounter, if only because we will have to sift through all of the crash reports to find the "real" reports in the sea of "schema update" reports.

As you guys have said, it is safer as well and there is clear code ownership.

[2020-04-20 18:00] ashishkumar468 commented on #3639
I think the crash is in Nearby Fragment, I tried removing the nearby fragment from the ViewPager in the MainActivity, the app did not crash with the said steps( although It did crash when it was there), also I have already tested sending contribution via intent packaged as bundle without any crash. I am yet to figure out the exact thing in NearbyFragment, which is causing this

[2020-04-20 18:03] misaochan commented on #3679
I imagine some users would use it in landscape, especially because many photos are landscape themselves.

Can we not fix this by just setting images to NOT stretch to fill the screen?

[2020-04-20 18:38] sivaraam commented on #3679
I wonder if #3678 is due to the new UI change? 🤔

[2020-04-20 18:53] sivaraam commented on #3678
Is this the reason that the icon shown for the audios that I've uploaded to Commons (not using the app, of course) disappears after a few seconds:

* _Screenshot of media details when icon is shown_
    ![Screenshot_2020-04-21-00-17-45](https://user-images.githubusercontent.com/12448084/79788284-09a60700-8366-11ea-93f3-24ead2f09822.png)

* _Screenshot of media details when icon is not shown_
    !

[2020-04-20 19:41] sivaraam opened #3685 "Better way to encourage users to add categories, depictions"
When uploading an image using the app we seem to be showing a dialog box when a user selects no categories. Further, in the `structured-data` branch we're adding another step to the upload flow which asks users to add depictions of the images. In that step too, we're planning on showing a dialog when a user selects no depictions.

To me, these dialogs that we show when a user tries to skip a step

[2020-04-20 19:47] sivaraam commented on #3675
Thanks for the info. I didn't realize that we show the dialog when a user shows no categories. That just increased my concern about which I've detailed in #3685. Let's discuss it there and keep this just about the renaming of the buttons :)

Agreed. I wonder if we should also rename the dialog buttons of the "No categories selected" dialog too which seem to have the same issue as the "No depiction

[2020-04-20 21:42] nicolas-raoul commented on #3685
It is true that the web Upload Wizard does not strictly require one, but https://commons.wikimedia.org/wiki/Commons:Categories says:

"Must" is a strong word, so I believe our warning is not too much.
How about waiving it for high-level users, in the spirit of https://github.com/commons-app/apps-android-commons/issues/2852?

Actually when suggestions are implemented, there will almost never be any

[2020-04-21 07:47] macgills commented on #3607
There is 1 more alternative if we don't particularly care about migrating our data between app versions

[code]

It isn't great but as long as we keep increasing the schema number there are no crashes. There is no data retention between versions though.

We could run a hybrid of option 1 and this, I am pretty sure a `Migration` can be to any arbitrary greater integer eg our first app version launc

[2020-04-21 09:21] maskaravivek commented on #3607
Having this in place sounds good to me. With this in place, we could do proper migrations just for beta/prod releases.

[2020-04-21 09:40] macgills commented on #3634
@nicolas-raoul apologies for going off topic here but campaigns have been removed?

![image](https://user-images.githubusercontent.com/3358282/79850787-51577d80-83bc-11ea-9ba7-00190f4497e6.png)

This is only on beta but it looks like the feature is still very much there. Can we remove it? @misaochan

[2020-04-21 09:48] misaochan commented on #228
It seems that again all files are automatically converted to .jpeg, sometime between 8 April and 21 April (see https://commons.wikimedia.org/w/index.php?target=Misaochan2&namespace=all&tagfilter=&start=&end=&limit=50&title=Special%3AContributions - all these files should be the same format because they were taken with the same camera). I think that might be related to this issue. https://github.co

[2020-04-21 09:52] macgills commented on #3341
@nicolas-raoul Could you weigh in? It is blocking this PR currently.

[2020-04-21 10:10] macgills commented on #228
This is a structured data issue.
structured data code
[code]
code on master
[code]

[2020-04-21 10:25] macgills commented on #228
@gouri-panda do you still want to work on this? If not I can take it over

[2020-04-21 10:27] #3137 closed

[2020-04-21 10:51] macgills commented on #3601
@dafnith are you still working on this? I have availability currently if you are happy for me to take over

[2020-04-21 10:52] gouri-panda commented on #228
@macgills sure,you can take it over.

[2020-04-21 10:52] macgills commented on #3600
@johnnyrev are you still working on this issue? I have availability to work on this if you are happy for me to be assigned it

[2020-04-21 10:53] #3664 closed

[2020-04-21 10:58] kbhardwaj123 opened #3687 "Media needs refactoring to remove code that has been rendered useless"
**Summary:**

After analysing the media section i came across the following things which can be removed:

 - The `MediaDetailSpacer` class has been rendered useless, it was previously used in the `fragment_media_detail.xml` file but after some recent changes it is not required.

 - The `updateTheDarkness` method inside `MediaDetailFragment` was used when we had a partially transparent media detail

[2020-04-21 10:58] macgills commented on #3681
@nicolas-raoul it seems like
[code]

should probably be what is used, similar to what is used in AboutActivity

[2020-04-21 11:01] macgills commented on #3675
I think we are all in agreement, I will open a PR implementing @misaochan 's text

[2020-04-21 11:49] macgills commented on #3687
I'd say definitely remove `MediaDetailSpacer`

The fade is sort of nice(?) but I don't see a reason for it to be there. I'd wait for more people to weigh in on that.

[2020-04-21 11:54] kbhardwaj123 commented on #3687
Tagging @neslihanturan for review on this aspect

[2020-04-21 12:00] nicolas-raoul commented on #3634
Sorry I was referring to a different feature which tagged all uploads using
a particular category such as "Wiki Loves Earth 2011"

The campaign message is to be kept 🙂

Le mar. 21 avr. 2020 à 18:40, Seán Mac Gillicuddy <notifications@github.com>
a écrit :

[2020-04-21 12:02] nicolas-raoul commented on #3341
Sorry I don't have enough knowledge in this area to provide an insightful
answer 😥

Le mar. 21 avr. 2020 à 18:52, Seán Mac Gillicuddy <notifications@github.com>
a écrit :

[2020-04-21 12:03] macgills commented on #3634
Thanks for the info @nicolas-raoul

@johnnyrev are you still working on this? I have availability as I think I have already commented on another of your tickets

[2020-04-21 12:05] macgills commented on #3341
@misaochan any insights here? starting [this comment](https://github.com/commons-app/apps-android-commons/issues/3341#issuecomment-613899068)

[2020-04-21 12:23] #3673 closed

[2020-04-21 12:39] dafnith commented on #3601
@macgills I was working on this but I find it hard to solve it. You can take the issue and I will be happy to see the solution.

[2020-04-21 14:15] neslihanturan commented on #3678
I checked out commit "fcd2867d26efb3aa9310d677ff4b350f19a3bbf3" and can verify this issue is not related with #3505

[2020-04-21 14:48] misaochan commented on #3468
Just to clarify, the RvRenderer library will be removed entirely from our dependencies upon resolving this issue, to be replaced with AdapterDelegates?

[2020-04-21 14:57] misaochan commented on #3341
My guess is that it should be the Author, however I cannot find relevant documentation to prove that. Can we not just filter it out?

[2020-04-21 15:00] macgills commented on #3468
That was the intention, I am not right now aware of the full scope of RvRenderer use but a switch shouldn't be too difficult.

There is also the possibility of sub tickets to replace the instances after identifying all usages.

[2020-04-21 15:00] neslihanturan commented on #3678
It is still there before #3505 is merged

[2020-04-21 15:04] misaochan opened #3690 "[structured data]Not able to proceed without refilling caption when uploading via Nearby"
**Summary:**

When you upload via Nearby, the caption/desc fields are autofilled as they should be. However the app considers the caption field "empty" and does not allow you to proceed until you remove and re-type the autofilled caption.

This only exists on structured-data branch.

**Steps to reproduce:**

- Upload via Nearby
- Try to tap "Next", it is greyed out

**Device and Android version:**

[2020-04-21 15:06] neslihanturan commented on #3679
Deforming images on rotation one, also happens before #3505 . I verified that same issues exists in 2.13-release branch too. So we loose nothing cherry picking UI improvements to release branch @misaochan :)

[2020-04-21 15:06] macgills commented on #3341
We can but this PR introduced a new `user` field which I do not want because Media already has enough fields for my liking. Hopefully we can rename `Media.creator` to `Media.author` to represent what the field actually is because there is a quite confusing soup of user/author/creator/uploadedBy/artist and I am trying to make sense of it

[2020-04-21 15:07] macgills commented on #3690
duplicate #3600

[2020-04-21 15:07] #3690 closed

[2020-04-21 15:08] misaochan opened #3691 "[structured data] "i" icon is too wide in structured data caption field"
**Summary:**

The "i" tooltip icon in the captions field covers too much space, it is very hard to edit the caption especially on a smaller screen.

For instance on the screenshot below, even tapping the "w" in "wharf" to edit pulls up the tooltip instead.

![Screenshot_1587481242](https://user-images.githubusercontent.com/3611199/79881926-3117d500-8435-11ea-83c3-414888ea586f.png)

**Steps to repr

[2020-04-21 15:13] misaochan commented on #3679
Okay, let's cherrypick the UI improvement over, but keep this issue open.

[2020-04-21 15:13] macgills commented on #3691
duplicate of #3680

[2020-04-21 15:13] #3691 closed

[2020-04-21 15:40] neslihanturan commented on #3687
I agree about removing both, simplicity is better.

[2020-04-21 16:09] 318anushka commented on #3341
In that case, only changing [this](https://github.com/commons-app/apps-android-commons/pull/3620/files#diff-ee21d103b77300c17e8d1973e160c391R171-R179) should be fine. We can remove user field if it's not required and maybe rename few others.

[2020-04-21 16:18] 318anushka commented on #3341
In that case, only changing [this](https://github.com/commons-app/apps-android-commons/pull/3620/files#diff-ee21d103b77300c17e8d1973e160c391R171-R179) should be fine. We can remove user field if it's not required and maybe rename few others.

[2020-04-21 16:34] #2942 closed

[2020-04-21 16:35] #3254 closed

[2020-04-21 16:38] 318anushka commented on #3341
In that case, only changing [this](https://github.com/commons-app/apps-android-commons/pull/3620/files#diff-ee21d103b77300c17e8d1973e160c391R171-R179) should be fine. We can remove user field if it's not required and maybe rename few others.

[2020-04-21 16:44] maskaravivek commented on #3341
This is the API that we use to fetch images in explore page and it doesn't return author/createdby/user fields. So I had to extract the author name from `Artist` which is a HTML field. I parse the HTML to extract the author name. As this field isn't very reliable I added a separate property to `Media` instead of merging it with author/createdby/user etc. Lets evaluate if there's a way to consolida

[2020-04-21 18:35] sivaraam commented on #3341
I agree that the API we use doesn't provide an easy way to fetch a string for the "author" (the actual "creator"/"artist" of the image/media). When it comes to "user"/"createdby" (the person who uploaded it to commons) the API does provide a way to easily get that without having to do any HTML parsing. We just are not requesting that field to be returned in the API response now. We can get the use

[2020-04-21 18:53] sivaraam commented on #3341
For the "Uploaded by" field, I believe that we should actually should show the (user)name of the user who actually "uploaded" the image rather than the name of the person who actually "created" the image. That makes sense to me as we say "**Uploaded** by" and not "Author". For a particular image in Commons, there are chances that the uploader of the image might be _different_ from the creator of t

[2020-04-21 19:25] misaochan commented on #3468
+1 from @maskaravivek and myself. :)

[2020-04-21 19:36] sivaraam commented on #3341
Just wanted to add a few other minor things that popped up to mind about this Author/Uploader dichotomy.
* The HTML parsing for the Author field [_could fail at times_](https://github.com/commons-app/apps-android-commons/blob/master/app/src/main/java/fr/free/nrw/commons/Media.java#L183-L185) (e.g. for [Troy Hunt](https://commons.wikimedia.org/wiki/File:Troy_Hunt.jpg)'s image) which would result in

[2020-04-21 19:39] misaochan commented on #3341
I think there might be a misunderstanding here. When @macgills said "Author", I thought he meant (as per his [edit](https://github.com/commons-app/apps-android-commons/issues/3341#issuecomment-613927469)) the "Username of the user who uploaded it".

This makes sense to me. Apologies that I have not been able to follow the PR, the discussion is very long. Perhaps we should also consider renaming th

[2020-04-21 19:52] sivaraam commented on #3679
I observe a weird over-sizing of the text shown in the media details view _after the merge_. I observe this in a Samsung SM-J111F running Android 5.1.1.

*Screenshots of the media detail view as observed in the tip of the PR branch (at 9644183ca)*
![Screenshot_2020-04-22-01-09-51](https://user-images.githubusercontent.com/12448084/79907002-81436700-8436-11ea-95a5-daf52615fe03.png)
![Screenshot_202

[2020-04-21 22:32] nicolas-raoul commented on #3601
Dafni, if possible please share how you investigated, what did not work,
things that you have checked, possibilities that you have ruled out. Thanks
🙂

Le mar. 21 avr. 2020 à 21:40, Dafni Theodorou <notifications@github.com> a
écrit :

[2020-04-22 02:47] kbhardwaj123 commented on #3687
since most of us are in favour of removing both i will create a PR for the same

[2020-04-22 03:27] kbhardwaj123 commented on #3679
I have investigated some of these problems and have potential solution should i start working on solving them ?

[2020-04-22 07:42] neslihanturan commented on #3679
Would be great @kbhardwaj123 :)

[2020-04-22 07:56] macgills commented on #2942
@nicolas-raoul will we make a new ticket for "Nearby Item should be added as a preselected depiction"?

[2020-04-22 07:59] #3687 closed

[2020-04-22 08:01] nicolas-raoul commented on #2942
Sean: Sure, would you mind creating it? Thanks 🙂

On Wed, 22 Apr 2020, 16:56 Seán Mac Gillicuddy, <notifications@github.com>
wrote:

[2020-04-22 09:30] macgills commented on #3341
![image](https://user-images.githubusercontent.com/3358282/79961836-2c780e80-847f-11ea-9e09-85a23d1ed758.png)

Should have looked at [this](https://commons.wikimedia.org/wiki/Special:NewFiles) long ago, clearly it is the user. Or at least this is the closest analogue I can find.

My confusion is mostly cleared but we could improve the situation by removing `getAuthorName` from `SessionManager`, re

[2020-04-22 09:49] macgills opened #3694 "When Uploading from Nearby the Place should be added as a pre-selected Depiction"
**Summary:**

nicolas-raoul :
 I think that the item from Nearby (when coming from Nearby) should be added as pre-selected (maybe even undeselectable) in Step 2 or the upload.

[2020-04-22 09:52] macgills commented on #2942
#3694 done

[2020-04-22 10:28] dafnith commented on #3601
Here is the relative paths of some classes I investigated:

- fr/free/nrw/commons/upload/depicts/DepictsPresenter.java
- fr/free/nrw/commons/explore/depictions/SearchDepictionsFragmentPresenter.java

In the DepictsPresenter class I tried to change fetchThumbnailForEntityId() method to be the same as fetchThumbnailForEntityId() of class SearchDepictionsFragmentPresenter.
That didn't work for me.

T

[2020-04-22 12:13] #3680 closed

[2020-04-22 12:13] #3675 closed

[2020-04-22 12:14] #3633 closed

[2020-04-22 12:18] macgills commented on #3120
This is ridiculously difficult to do with how the reactive streams are configured. I am switching off of this for now and may first create a ticket to rewrite this particular Rx flow before implementing this new suggestion stream, whenever I circle around

[2020-04-22 12:20] macgills commented on #3601
I'll let you know when I understand it myself!

[2020-04-22 13:20] nicolas-raoul commented on #3680
Thanks for fixing, it really improves my life!

[2020-04-22 14:30] macgills commented on #3601
@dafnith the problem was 2 essential points

1.The adapter was not using fresco properly
1.When we were fetching image urls we were relying on position in the adapter which is incredibly error prone as we cycle through many data sets while the user types out a phrase so it would set the image url for position 1 for "rab" to the item at position 1 for "rabbit" depending on the order of web requests

[2020-04-22 14:56] dafnith commented on #3601
Thank you for the explanation! 🙂

[2020-04-22 15:25] kbhardwaj123 commented on #3679
@misaochan @neslihanturan @sivaraam after some through investigation i found that there was no function to update the view dimension when device changes orientation, but the main problem is that even when i tried to add one it gave the exact opposite result i.e Landscape gave view height for portrait and vice versa that's why the **image would remain deformed no matter what** and even if i add a `

[2020-04-22 17:46] misaochan commented on #3694
Pre-selected sounds good, probably not deselectable though.

[2020-04-22 17:58] misaochan commented on #3685
Yeah, it is tough to find an ideal balance between how much or how little we should nudge users to do certain things. FWIW, when I proposed the warning dialogs many years back and sought input from the community, some of the input I received was that the "warnings are good but not enough". ;)

This is a good idea, however I feel it should be in addition to the warnings, not replacing them.

This c

[2020-04-22 18:06] misaochan commented on #3584
I think keeping the progress indicator in the search field and having the tooltip icon outside the EditText as @nicolas-raoul suggests would be best.

[2020-04-22 18:41] sivaraam commented on #3341
We really have to do the cleaning up of the author/artist/creator mess but I believe it's easier to do after all the dust settles. By which I mean it's best done after the replacement PR for #3620,  PR #3566 are merged.

Generally, we now seem to agree that we _should not_ assume the "author" and "uploader" of an image to be the same person. The PR replacement #3620 would fix this for the images s

[2020-04-22 19:32] sivaraam commented on #3394
Looks like the Hackathon is still "on". This time it's **remote**! For more information, see:

* [[Wikitech-l] Remote hackathon (May 9 - 11, 2020)](https://lists.wikimedia.org/pipermail/wikitech-l/2020-April/093312.html)
* [Wikimedia Hackathon 2020/Remote Hackathon - MediaWiki](https://www.mediawiki.org/wiki/Wikimedia_Hackathon_2020/Remote_Hackathon)

Just spreading the word :)

[2020-04-23 05:33] nicolas-raoul opened #3698 "Failure stays after retry succeeds"
Latest master 67faa40d8c8c6de5c46ab75a4b686e0aecab0fc5
![Screenshot_20200423-142748_Commons](https://user-images.githubusercontent.com/99590/80062619-219ca700-856f-11ea-9fd8-958231cdd75e.jpg)
Even after killing and restarting the app.
The "failed" one should not appear.

[2020-04-23 06:08] nicolas-raoul opened #3699 "Multiple upload: Only one file's caption is used for all files, others ignored"
Latest master 67faa40

How to reproduce:
- In the Android gallery, select 2 (or more) pictures
- Tap "Share", select the Commons app
- Give a different name to each, for instance "Himonya tennis courts" and "Himonya park entrance"
- Finish the upload

**Problem**: the two uploaded files are "[Himonya tennis courts](https://commons.wikimedia.org/wiki/File:Himonya_tennis_courts.jpg)" and "[Himonya t

[2020-04-23 06:32] nicolas-raoul opened #3700 "Bookmark Wikidata item"
Currently, only pictures and locations can be bookmarked.
It would be useful if Wikidata items could be bookmarked too.
For instance if every month I go to the harbour and takes pictures of all kinds of warships, it would be useful to have a bookmark on item [warship](https://www.wikidata.org/wiki/Q3114762) so that I can easily access it and browse its subclasses to find the best items each of my

[2020-04-23 06:55] nicolas-raoul opened #3701 "Initiate upload from Explore item"
I came to realize that most often when using "depicts" for a picture:
- One depiction item is rare and hard to search for
- All other depictions are simple and easy to find.

For instance [here](https://commons.wikimedia.org/wiki/File:Embassy_of_Tanzania,_Tokyo.jpg), the main topic of the picture (Tanzanian embassy in Japan) is hard to find on Wikidata, while the non-prominent items (car, flag pol

[2020-04-23 07:00] nicolas-raoul opened #3702 "Add recently viewed items to suggestions"
In addition to recently _selected_ items, it would be nice if the depictions selection activity of the upload wizard could also suggest the 3 last viewed items.

Especially useful when #3701 is inconvenient, for instance when I am uploading last year's picture and scrolling all of my album would take too long.

To be clear: For instance, if on the screen below I click the first item ("rabbit") the

[2020-04-23 08:24] nicolas-raoul opened #3703 "Explore: Add "Instances" tab and "Instance of" tab"
Examples:

Selected item: aircraft carrier
- Media: Shows images that depict aircraft carriers
- Child classes: Shows items such as: Clemenceau-class aircraft carrier
- Parent classes: warship
- Instances: Shows items of actual aircraft carriers, such as: French aircraft carrier PA2
- Instance of: Empty

Selected item: French aircraft carrier PA2
- Media: Shows images that depict the French aircra

[2020-04-23 08:29] macgills commented on #3685
I am in favour of just keeping the dialogs

[2020-04-23 08:50] macgills commented on #3698
This touches on the rather nebulous subject of how we handle upload failure

This list represents
1. our local contributions
2. contributions fetched from the server

When Uploading a Contribution we
1.Upload it to the stash
1.Upload it from the stash
1. Mark it as complete
1. Add wikidata properties and captions

I would say this failed at step 2? And because of that if you retried this it would

[2020-04-23 11:10] misaochan commented on #3694
To me it feels a bit strange if just one item in the list is de-selectable. It also seems to add more complexity for not a very good reason, since if the user wants it there, pre-selection is enough.

For myself, I regularly upload Nearby pics that aren't actually related to that spot, to production servers, for testing reasons (beta does not produce the same results for various reasons), and I ju

[2020-04-23 11:19] misaochan commented on #3701
Hmmm, interesting suggestion. It would add a lot of complexity though IMO - it is hard enough for us to keep on top of the three main entry points for uploads at the moment (Share, normal, Nearby), and failure to test all three thoroughly has caused us issues in the past. I am not sure how I feel about adding a fourth entry point...

[2020-04-23 11:30] misaochan commented on #3699
Oops, this is a pretty important bug!

[2020-04-23 11:34] misaochan commented on #3394
Awesome, thanks for the news @sivaraam ! I see that Multichill (one of the WLM guys) is attending, and he has previously expressed interest in collaborating with us on campaign integration into our app. If a few of us are interested in participating, maybe I could ping him?

[2020-04-23 12:04] macgills commented on #3699
As soon as I am finished the unit testing on my current ticket I will be on this.

[2020-04-23 12:35] misaochan commented on #3699
Thanks @macgills !

[2020-04-23 22:55] nicolas-raoul commented on #3501
I just had this problem too (in the 3601-depiction-thumbnails branch to be exact).
There is a pull request in #2803 so I suggested we keep that one.

[2020-04-24 01:21] nicolas-raoul commented on #3501
Sorry I just realized the other is only about name/description, might be unrelated so indeed better have two issues.

[2020-04-24 02:13] nicolas-raoul opened #3704 "Green pin visible at first, despite "Needs Photo" enabled"
Steps:
- Start the app, after killing it if necessary
- Tap "Nearby"
- Notice that "Needs Photo" is enabled
- Problem: Green pins are visible
- Workaround: Tap "Contrbutions" then "Nearby" again: Now the green pins are not visible anymore
![Screenshot_20200424-105849_Commons](https://user-images.githubusercontent.com/99590/80167870-7518fe80-861c-11ea-9bae-5191dd15e7d7.jpg)

[2020-04-24 08:03] johnnyrev commented on #3634
@macgills Actually me and @dafnith have started working on that and we want to totally reproduce it. Thanks for asking, but we can’t give it away!

[2020-04-24 08:58] nicolas-raoul opened #3705 "Crash when viewing pic I just uploaded"
Latest macgills/3601-depiction-thumbnails (most probably also happens on latest master).
Maybe not reproducible.
Steps:
- Upload image (with depiction and no categories)
- Tap it
- Details activity loads, then crashes
[code]

[2020-04-24 09:25] neslihanturan opened #3706 "Crash when trying to upload from camera or gallery"
**Summary:**
<s>When "access to gallery permission is not given" and attempted to upload from gallery, I experienced this crash:</s>
It crashes from both gallery and camera wheneverI try to upload

[code]
and this
[code]

[2020-04-24 09:34] nicolas-raoul commented on #3706
Have you tried removing the app's data in the Android settings?
We can't expect all users to do that, but it might be a hint.

[2020-04-24 09:42] macgills commented on #3706
You have do not keep activities turned on, closing

[2020-04-24 09:42] #3706 closed

[2020-04-24 09:42] misaochan commented on #3706
@neslihanturan Which branch and commit are you testing?

[2020-04-24 10:01] neslihanturan commented on #3706
Ah this settings, Sean is right sorry for wrong allert

[2020-04-24 11:22] sivaraam commented on #3706
It's not a wrong alert per se. I believe this is just a part dupe of #3639

[2020-04-24 11:35] sivaraam commented on #3679
@kbharadwaj123 Did you manage to fix the text over-sizing issue in the PR?

[2020-04-24 11:43] kbhardwaj123 commented on #3679
@sivaraam yes I tried to look into that but it doesn't seem to be related to this issue, I mean the text size is taken from dimens file and I haven't changed the text size anywhere

[2020-04-24 12:45] #228 closed

[2020-04-24 18:40] sivaraam opened #3711 "Over sized text in some places of the app"
The text in some places of the app seem over-sized. I say over-sized as I use the "Extra small" font size in my device for which the size I see in the app seems over-sized. I just checked and it looks like the app doesn't care about the device's font size setting at all. I'm not sure if this was the case ever since the beginning. I just happened to notice this now as the font size increased all of

[2020-04-24 18:41] sivaraam commented on #3679
Ok. I was of the opinion that you were fixing the issue in the new UI, in general. Anyways, I've filed #3711 for the issue I observed Thanks :)

[2020-04-24 19:10] sivaraam commented on #3634
@johnnyrev It's good to know that you and @dafnith are working on this. I just wanted to let you know that in case you feel stuck somewhere, feel free to ask for help here :)

[2020-04-24 19:11] sivaraam opened #3712 ""Next" button in depictions selection screen has no background"
**Summary:**
The depictions selection step seems to be the only step in the set of upload steps for which the "Next" button seems to be missing a background. This appears inconsistent.

**Device and Android version:**
Samsung SM-J111F; Android 5.1.1

**Commons app version:**
2.12.3.683-67faa40

**Screen-shots:**
![Screenshot_2020-04-24-21-49-47](https://user-images.githubusercontent.com/12448084/8

[2020-04-24 19:16] johnnyrev commented on #3634
@sivaraam Thanks a lot, we appreciate it!

[2020-04-24 19:35] sivaraam opened #3713 "Rationale behind using the caption as the file title"
From the pages I could find about "File captions", which are:
* [Commons:File captions - Wikimedia Commons](https://commons.wikimedia.org/wiki/Commons:File_captions)
* [Help:File captions - MediaWiki](https://www.mediawiki.org/wiki/Help:File_captions)

I don't see it mentioned anywhere that the caption are a substitute for the file title. I only see the following mentioned in [Commons:File caption

[2020-04-25 09:27] #3601 closed

[2020-04-25 09:34] #3679 closed

[2020-04-25 12:05] misaochan commented on #1898
Just thinking about how best to implement this. We have a few options:
1. See if there is an externally-maintained database of focal lengths etc that we can use. The upside is that we don't have to maintain it, the downside is that it's entirely possible that it could just disappear/be moved/change etc without us realizing.
2. Maintain our own data, similar to https://github.com/commons-app/campai

[2020-04-25 12:21] misaochan commented on #1499
@nicolas-raoul @VojtechDostal @macgills any thoughts on what sort of icon would look best for displaying bookmarked items on the map? Star, star-within-pin, etc?

[2020-04-25 13:21] LeoPaulC commented on #3711
Hello ,
Is this issue still available ?
We are two & we are interested in your project , and collaborate with you.
( @Paul-Tra & me )

Best Regards ,

[2020-04-25 18:23] sivaraam commented on #3711
@LeoPaulC  Yeah, this one is availables. You can take it up, if you wish :)

Be sure to discuss about how you plan to fix this, here. You can make a PR after we agree on the proposed solution. Good luck :)

[2020-04-25 20:21] #3451 closed

[2020-04-25 20:23] #3457 closed

[2020-04-25 20:28] maskaravivek opened #3715 "In "About", remove the language selection menu of the "Translate" link"
When I mentioned "mobile-friendly", I actually was thinking of a mobile website like experience e.g., like Commons' mobile website. That's what I would call mobile-friendly. I think you're lucky that the desktop site itself appears to be mobile friendly in your device. It's not usually the case, though :)

Having clarified that, I actually think I did a mistake by mentioning the mobile unfriendlin

[2020-04-25 23:44] rhulkb27 commented on #3705
Hi @nicolas-raoul can I work on this issue? I will try to repro it.

[2020-04-26 00:03] nicolas-raoul commented on #3705
@rhulkb27 Sure thanks! :-)

[2020-04-26 00:22] nicolas-raoul commented on #1499
I would stay star-within-pin but I am OK with star too :-)

[2020-04-26 00:32] nicolas-raoul opened #3716 "Depiction search does not return any results"
Latest master

Steps:
1. Upload a picture that has latitude/longitude coordinates
2. At the depiction step, you see suggestions. In the search bar, enter "rabbit"
3. The suggestions do not change

![Screenshot_20200426-093130_Commons](https://user-images.githubusercontent.com/99590/80294090-cce07280-87a0-11ea-9082-4743b1bab5cd.jpg)

Tip: I believe that suggestions still work when there are no sugg

[2020-04-26 06:17] #3555 closed

[2020-04-26 07:23] #3622 closed

[2020-04-26 08:03] nicolas-raoul commented on #3715
I totally agree with you that it is translatewiki's fault, and we should totally report it. My experience with translatewiki is that it is slow to move, its many UI faults have existed for like 10 years. You are right that people familiar with translatewiki will have no problem, but these are very few.

[2020-04-26 10:56] AtaZh opened #3717 "Add auto numbering of multiple images when reusing title"
**Summary:**
Desktop Commons adds automatic numbering at the end of the file names when reusing title. This feature would be useful here, too.

**Steps to reproduce:**
Choose two files, use copying the title and description, press upload. The app uploads two images as different versions of the same file.

**Device and Android version:**

API level: 29
Android version: 10
Device manufacturer: samsu

[2020-04-26 10:59] GearGit commented on #3717
@AtaZh I would like to work on this

[2020-04-26 11:05] Paul-Tra commented on #3711
Hello,
I am the second contributor who works with @LeoPaulC .
We have searched for the location responsible for displaying category titles
and we found a way to solve the problem by fixing the size of the categories in size dp rather than in size sp.
On the attached image, we have resized the phone font to the maximum.
![Resized_Screenshot_20200426-122637_Commons001](https://user-images.githubuser

[2020-04-26 14:40] sivaraam commented on #1499
To me, a good UI conveys the most essential information well. In that view, I would say it's better if we just focus on choosing an icon that would indicate clearly that the place is bookmarked. For instance, this is how Google maps shows my "starred" places (the pin with the yellow star):

![Screenshot_2020-04-26-00-47-41](https://user-images.githubusercontent.com/12448084/80310720-d1854500-87f9-

[2020-04-26 15:19] sivaraam commented on #3717
This seems related to #228 :thinking:

[2020-04-26 15:24] LeoPaulC commented on #3711
Hello ,

After other research we managed to find a second way to solve the problem by keeping the dimensions in "sp".
By adapting the mode according to the scale device and fix label size.
We used something like that :
[code]

That solves the problem, but on the other hand it changes the size of the cells (cf: screen), what do you think about this ?

Here you'll find 4 screens , about min / max fo

[2020-04-26 16:20] sivaraam commented on #3715
How about just specifying a language other than English in the link so that anyone who opens it won't get that unhelpful page which translatewiki shows when the source and target are the same?

Something like: https://translatewiki.net/w/i.php?title=Special:Translate&group=commons-android-strings&filter=!translated&action=translate&language=ab

I chose the language code `ab` as it's lexicographica

[2020-04-26 16:34] sivaraam commented on #3641
Apologies for not being clear. My last couple of comments apply mostly to #3179.

I'm not sure about the lack of clarity w.r.t how we suggest categories. The concern I have with the suggesting categories based on title is:
1. We now use the `search` API for showing the suggestions. We should actually be using the `allcategories` API for the reasons I mention above and in #3179.
2. The `allcategori

[2020-04-26 18:12] sivaraam commented on #3685
Let me repeat myself:

So, I'm not against encouraging users to add categories and depictions at all.

It's not that they are not understandable. It's that some might feel it annoying that we keep on showing suggestion dialogs for something they might wish to ignore (see also: #3581). Also, it's not like a user can categorize or add depictions only when they upload. They actually can do that even

[2020-04-26 18:20] sivaraam commented on #3121
Rather than showing a dialog why don't we show a "Suggestions based on selection" or "Did you mean?" section below the search results which shows the subclasses of the selected depictions? I believe that would be less intrusive.

[2020-04-26 20:01] maskaravivek commented on #3641
As already discussed above, it is better to show some category based suggestions rather than removing it altogether.

Tagging @misaochan for her opinions.

[2020-04-27 00:09] nicolas-raoul commented on #3715
Sounds reasonable :-)
If doing so, how about choosing a language that most of the world has heard of, for instance "Spanish"?

[2020-04-27 02:08] #2724 closed

[2020-04-27 08:33] neslihanturan commented on #3711
Hey @LeoPaulC and @Paul-Tra , thanks for your investigation but we don't want to change the UI and text or cell rates. So two proposed solutions are not doable. Just some text are oversized compared to others, ideally they should look in identical sizes.

[2020-04-27 10:45] LeoPaulC commented on #3711
Hello @neslihanturan and @sivaraam ,
Thanks for your comments
So we've make some changes , you'll find some screens .
According to the issue "It would be nice if the app respected the device's font sizing setting" ,
when the device font size is low/medium , it will be OK .
However , when the font size is at the Maximum , the text doesn't look great ...
So the questions is , will we have to set the

[2020-04-27 11:15] misaochan commented on #3641
If we conclude that the `allcategories` API provides better results, I am OK with switching to that API. However, I don't see why that would require removing title-based categories. In the worst case scenario, can we not just query `allcategories` for our other suggestions, query `search` for title-based categories, and concat the results?

[2020-04-27 11:20] misaochan commented on #3685
Interesting! Yes, I think that if validations are overhauled in a similar manner, providing the category/depiction warnings in the validations page could be a good idea. However this would depend on the validations being overhauled first.

[2020-04-27 11:22] GearGit commented on #3716
@nicolas-raoul  Can I work on this?

[2020-04-27 12:04] VitalyVPinchuk commented on #3647
I wonder if it is even possible to extract GPS data from image using `androidx.exifinterface.media.ExifInterface` on API 28 or less. For me it works only on API 29.
I think query to MediaStore is necessary.

Though I have no idea how to get GPS tags out of captured image from camera as it is not even in MediaStore. Probably, current location is the only way.

[2020-04-27 13:17] nicolas-raoul commented on #3685
Does that mean that when Joe selects a picture from the Internet for upload, we don't warn him immediately, and instead let him spend minutes filling metadata before warning him? That would make him much more likely to ignore the warning, because he has spent effort writing the metadata. Better teach people as soon as we can.

[2020-04-27 13:17] nicolas-raoul commented on #3716
@GearGit Sure, thanks :-)

[2020-04-27 15:38] siamsot commented on #3712
I would like to work on this

[2020-04-27 16:20] misaochan commented on #3685
Hmm, good point, postponing validation until after depictions and categories are selected could be problematic in that aspect. :/ I had forgotten that even if we were to overhaul validations, they should be displayed before the depicts step.

[2020-04-27 18:34] misaochan opened #3719 "[2.13-release] Nearby map starts with "Needs photos" selected, but green pins can still be seen"
**Summary:**

When you launch Nearby for the first time, "Needs photo" should be selected, and there should be no visible green pins. Currently "Needs photo" is selected by default, but this is not reflected in the state of the pins (green pins can still be seen) the first time you launch Nearby.

In order to get the display right, the user has to tap "Needs photo" again twice.

**Device and Andro

[2020-04-27 18:37] misaochan opened #3720 "[2.13-release] None of the filters work on Nearby list"
**Summary:**

The filters for place state and place type work for the map display, but changing them does not affect the list, even if you close and reopen the list.

This is especially bad for the "needs photo" place state as users will end up uploading a photo to a location that already has one, even though they have "needs photo" selected.

**Device and Android version:**

Samsung Galaxy S9 And

[2020-04-28 10:00] VitalyVPinchuk commented on #3684
Probably we're having the same issue as https://github.com/commons-app/apps-android-commons/issues/3647

[2020-04-28 10:12] sivaraam commented on #3719
This looks like a dupe of #3704

[2020-04-28 10:14] GearGit commented on #3716
@nicolas-raoul for thus issue, you want the suggestions to also include the title which user entered and not only using gps cordinates right?

[2020-04-28 10:25] nicolas-raoul commented on #3716
- If the search bar is empty: Show the suggestions
- If the search bar is not empty: Show the results for the term entered into the search bar
That's what the categories selection activity does, actually, so you can take it as an example :-)

[2020-04-28 10:25] sivaraam commented on #3711
Yeah. I mostly said that as it would be a nice to have future enhancement. Though, I could've mentioned that clearly.

It looks like the app's layout isn't designed to be influenced by the device's font size setting. So, as @neslihanturan points out, kindly just look into why the font size appears to be oversized and undersized in some places of the app and fix it. Thanks!

[2020-04-28 11:03] sivaraam commented on #3715
I didn't get into doing that as that could turn out to be a subjective decision for what's just a minor thing no one would care about (Google says Chinese is the most popular language). That's why I went the objective route of choosing the first language for which we have a translation.

I myself don't care about the language specified in the link, though. So, if you say we could just stick with S

[2020-04-28 11:51] LeoPaulC commented on #3711
Hello ,

We have an idea:
The sizes of the titles being in "sp", the text tries to take the available place, if the two titles are not the same length, then they will try to set themselves to the maximum size.
And the title "Nearby" is into a custom layout which include a textView and an ImageView , so it doesn't react as other titles.

A possible solution would be to put a fixed size, regardless

[2020-04-28 13:53] VitalyVPinchuk commented on #3719
Hi
Can I work on this?

[2020-04-28 14:18] VitalyVPinchuk commented on #3704
Hi
I would like to work on this

[2020-04-28 14:26] nicolas-raoul commented on #3704
@VitalyVPinchuk Thanks! :-)

[2020-04-28 14:42] misaochan commented on #3719
Okay, closing this, @VitalyVPinchuk please feel free to work on #3704 , thanks!

[2020-04-28 14:42] #3719 closed

[2020-04-29 04:54] nicolas-raoul opened #3722 "Receive intents from Wikipedia app"
Sharing an image from the Wikipedia app to the Commons app should open that image's media details.
Sharing an article from the Wikipedia app should open that article's Wikidata item activity (same as the one acessible from Explore)

By the way here is what gets shared to GMail:

Image:

![Screenshot_20200429-121654_Wikipedia Beta](https://user-images.githubusercontent.com/99590/80560504-20aac000-8

[2020-04-29 18:15] sivaraam commented on #3722
Do you mean that when some sgares images from the Wikipedia app we show the media detaiks view and in other cases we show the upload dialog? Currently when I share an image from the Wikipedia app to Commons app, I see the upload flow just as expected. I'm wondering how changing this would be advantageous. The Wikipedia app already has a "Go to file page" option for an image. Also, what would happe

[2020-04-30 00:20] nicolas-raoul commented on #3722
Good point, I had not thought about this!

On the other hand, if the image has a Commons URL, it does not make sense to upload it again. Instead, showing its details would be useful.

To know the most precise categories for an image, the best way I know is to go to the relevant Wikipedia article, see the pictures embedded in the article, and check their categories. It is currently hard to do on mo

[2020-04-30 10:28] VitalyVPinchuk commented on #3720
Hi @misaochan
Can I work on this?

[2020-04-30 12:19] misaochan commented on #3720
@VitalyVPinchuk Yes, please feel free :)

[2020-04-30 13:22] ashishkumar468 commented on #3705
Hi @rhulkb27  Any updates on the issue?

[2020-04-30 15:17] VitalyVPinchuk commented on #3720
Should I fork it from 2.13-release or master branch?

[2020-05-01 12:42] sivaraam commented on #3722
Yeah, but there's no harm in allowing it AFAIK.

I think it's better if we keep the flow for sharing an image consistent. It's kind of weird to think that sharing an image from every other app would trigger the upload flow but sharing an image from the Wikipedia app alone would open the media details view. Also, it's not even an easy thing to do as I state below.

I don't think we ever get a Commo

[2020-05-01 23:25] rhulkb27 commented on #3705
I am not able to reproduce the error that you have stated @nicolas-raoul. I do however get the following error when I tap the image, get the detailed activity, and tap it again:
[code]

[2020-05-02 00:25] nicolas-raoul commented on #3705
@rhulkb27 Thanks for the info! Feel free to start working on something else.

If anyone gets this crash, please comment here, thanks :-)

[2020-05-02 23:27] rhulkb27 commented on #3705
@nicolas-raoul will do :)

[2020-05-02 23:36] rhulkb27 commented on #3682
Hi @neslihanturan, may I work on this? I will try to repro this issue today. Also, could you clarify what exactly a progress bar is?

[2020-05-04 07:07] ashishkumar468 opened #3725 "App crashes with failed to initialise OKHTTP client in pre-21 devices"
**Summary:**

App crashes with failed to initialize OKHTTP client in pre-LoliPop devices
**Steps to reproduce:**

How can we reproduce the issue?
Open the app in [19]- devices

**System logs:**

[code]

**Device and Android version:**
ANDROID_VERSION=4.4.2
PHONE_MODEL=GT-N5110
**Commons app version:**
2.12.3

**Screen-shots:**
NA

[2020-05-04 09:36] neslihanturan opened #3726 "Add information about pin colours"
**Summary:**

One of our users suggested to add information about colors of pins in nearby. I think this is a good idea. Additionally, I think we should add information to explain place type, place state, exists etc. too.

[2020-05-04 09:46] neslihanturan commented on #3700
thanks @nicolas-raoul , does this one is different from #1499 ?

[2020-05-04 10:35] neslihanturan opened #3727 "Nearby list bottom sheet UI issues"
**Summary:**
1- It should display a message when no place is found, instead of empty white sheet.
2- The height should be smaller if number of items in the list is smaller than N.

[2020-05-04 13:43] #3704 closed

[2020-05-04 13:52] neslihanturan commented on #3682
Progress bar is the circle that displays progress of loading etc. You can work on it, please keep us updated about what you have done. Thanks!

[2020-05-04 14:15] #3720 closed

[2020-05-04 23:11] nathanmeade commented on #3727
@neslihanturan Is this what you are observing (2 screenshots provided below:)?
No results map screenshot:
![nearbyNoResultsMapScreenshot](https://user-images.githubusercontent.com/9450306/81021743-de2d1d00-8e39-11ea-8931-b8f85bbc4a45.jpg)
No results map screenshot with list displaying:
![nearbyNoResultsListScreenshot](https://user-images.githubusercontent.com/9450306/81021737-da00ff80-8e39-11ea-9f

[2020-05-05 01:04] nathanmeade commented on #3726
Should this be a legend that we include within the "Nearby" tab of the app? Or should this information be included within the pin itself whenever it is selected?

[2020-05-05 04:52] gvaibhav1734 commented on #3705
Got the crash which @rhulkb27 mentioned. However, I could not reproduce the original crash
[code]

[2020-05-05 08:29] neslihanturan commented on #3726
Hmm, pin itself is too hard to find. But we already have a legend for nearby which explains what it is. Maybe we can add some more explanation to the existing legend for the pins? For place type and place state, there can be "i" button in their rows maybe? What do you think?

[2020-05-05 08:39] neslihanturan commented on #3727
Seems like you discovered another bug, ideally we expect user is sent to contributions tab instead of displaying an empty nearby. What about creating a new issue for this one?

But yes, the white bottom sheet that I mentioned is the one you displayed with your screen shoots. There should be a message and progressbar there, indicating states.

[2020-05-05 09:35] macgills commented on #1898
I'd implement 3 only as it is the simplest, or at least just focus on that easy win for now.

I am always wary of targeting samsung devices because they are notorious for mangling apis/resources and returning nonsense values. Unless we can absolutely verify it makes me a tiny bit nervous. There are some services where we can request test time on specific devices, we could run an instrumented test

[2020-05-05 10:53] macgills commented on #3716
@GearGit the fix is - I think - quite simple as it is due to misuse of an api by myself and forgetting the presenter was a Singleton. If you are happy for me to make a PR I can fix it quickly

[2020-05-05 11:24] ashishkumar468 commented on #3725
Any suggestions on this, @maskaravivek @neslihanturan @macgills.  The solution I have come to is degrading the okhttp version. Do you guys think there could be a better way to do this?

[2020-05-05 11:27] macgills commented on #3725
Degrade, okhttp later versions [require android 5.0](https://github.com/square/okhttp/issues/4746).

Or upgrade our minSDK, I don't have access to our statistics to see how many users would be affected

[2020-05-05 11:34] macgills commented on #3725
![image](https://user-images.githubusercontent.com/3358282/81061722-c0f55e80-8ecc-11ea-89c0-e5bf14cffba8.png)

[2020-05-05 11:40] ashishkumar468 commented on #3725
Upgrading to 21 is something not we are considering as of now, I remember having a discussion regarding this with @misaochan . Seems like the only option is to degrade okhttp, waiting for input from others.

[2020-05-05 11:42] neslihanturan opened #3729 "Update bookmarkLocationDao to include "destroyed" info."
**Summary:**
Currently we don't have a destroyed column in the table of bookmarkLocationDao. As you know pic and destroyed are added later. This can cause an issue when user bookmarked a destroyed place. Since there is no destroyed info stored in bookmark dao (currently null), pin will appear as star inside blue, instead of star inside gray. Even if this is an edge case, we better to cover it.

So

[2020-05-05 12:08] VitalyVPinchuk commented on #3647
Hello
I would try to fix the issue if someone could show me the direction :)

[2020-05-05 12:31] macgills commented on #3647
Look at ImageCoordinates, this class reads the info from exif

[2020-05-05 12:41] misaochan commented on #3705
Please do create a separate issue for the crash that you are getting. Thanks! :)

[2020-05-05 12:46] misaochan commented on #3705
Btw, I know Nicolas says he experienced that crash on depictions-thumbnail branch, but I experienced a crash with the same stack trace on 2.13-release branch, so I think it is probably unrelated to depicts.

My crash happened when coming back to media details view from another app.

[2020-05-05 12:56] VitalyVPinchuk commented on #3647
Hello @macgills
It reads all exif but GPS tags. I tried this on API 28 with no success. It works on API 29 using `setRequireOriginal()`

[2020-05-05 12:57] nicolas-raoul commented on #3700
It is similar, but for now we can only bookmark Wikidata items that have a geolocation. Most Wikidata items do not have a geolocation.

[2020-05-05 13:25] gvaibhav1734 opened #3730 "NullPointerException when you click on image in MediaDetailFragment"
**Summary:**

App crashes when you click on the image in MediaDetailFragment.

**Steps to reproduce:**

1. Click on one of the images in Contributions tab
2. When MediaDetailFragment loads the particular media click on the image again. Do it immediately before the other fields such as license, description, depictions are loaded.

**System logs:**

[code]

**Device and Android version:**

PHONE_MOD

[2020-05-05 13:30] macgills commented on #3647
get into a debugger and find out what the values of these variables are
[code]

We may have to add cases to
[code]

[2020-05-05 13:41] GearGit commented on #3716
Sure go ahead

[2020-05-05 13:48] VitalyVPinchuk commented on #3647
Yes, I did some debugging.
The problem is image **does** contain GPS tags (latitude and longitude).
But `androidx.exifinterface.media.ExifInterface` returns null (or 0) with `exif.getAttribute(ExifInterface.TAG_GPS_LATITUDE)` or `exif.getLatLong()` unless you use API 29 and call `setRequireOriginal()`.
 On API 28 GPS tags are only accessible via MediaStore or deprecated exif interface.

[2020-05-05 13:50] macgills commented on #3716
cheers

[2020-05-05 14:22] misaochan commented on #1898
Thanks for the input @macgills . I am personally leaning towards option 3 as well, at the very least I figure we could start with that and then step up the complexity if we find that there is a need later on.

Is there a free one that you could recommend?

[2020-05-05 14:26] misaochan commented on #3725
Removing access from 5.9% of devices is a lot, especially given that we are targeting underrepresented (i.e. global south) countries. If it was possible to degrade okhttp without adverse effect I would strongly prefer that.

[2020-05-05 14:31] misaochan commented on #3729
Note: Probably will need to do a migration if we do this? Since the old version was released to users.

[2020-05-05 14:35] misaochan commented on #3730
Assigned to you, go for it @gvaibhav1734 . :)

I suggest you start by verifying that the problem also exists on prodDebug.

[2020-05-05 14:40] macgills commented on #3647
Androidx has an ExifInterface library, check with [this](https://developer.android.com/reference/androidx/exifinterface/media/ExifInterface#getLatLong())

[2020-05-05 14:42] macgills commented on #3647
Hah we are already using it and just duplicating the library code, still might be interesting to see what results occur

[2020-05-05 14:50] macgills commented on #1898
Firebase Test Lab is sort of free? Kiwix used bitbar some time ago and somebody on the repo was looking into BrowserStack, I don't have any particular insight into these services

[2020-05-05 15:03] macgills commented on #3725
![image](https://user-images.githubusercontent.com/3358282/81080135-50f4d180-8ee8-11ea-8712-246420d2cc6b.png)

4% as we already do not target all devices. I don't have any data to  point to about the SDK levels of android by region as these are only global figures but they are global so  *3/*2 might not shock me for a particular region but *10 certainly would

[2020-05-05 17:17] gvaibhav1734 commented on #3730
Problem occurs on prodDebug as well.

The line of code in _onClickListener_ for the _ImageView_ causing the issue:
[code]

`media.getImageUrl()` depends on an a network call to be populated. Would a simple null check be sufficient?

[2020-05-05 19:00] #3448 closed

[2020-05-05 21:04] nathanmeade commented on #3727
@neslihanturan Okay, I will create a new issue for the new issue discovered above. I am curious though as to how you reproduced this initially? I'm assuming this was performed by using mock data so that there were only a few results or none at all? Either way, I agree that the currently observed behavior is wrong and should be changed to handle these situations like you listed above.

[2020-05-05 22:09] nathanmeade opened #3732 "Nearby Tab Accessible Without Location Permission"
**Summary:**
When the user has not granted permission for location, the nearby tab can still be accessed when performing the appropriate steps - displaying the nearby tab and map without any results. To prevent the displaying of the nearby tab without any results in this case, the edge cases that allow for the user selecting the nearby tab without the location permission (no location data) need to

[2020-05-05 22:37] nathanmeade commented on #3726
I agree with your implementation suggestions above. Just to make sure I'm understanding your suggestions correctly, here are screenshots of what I believe is proposed:

For "i" buttons on the place type and place state rows:
![nearbyTabPinScreenshot](https://user-images.githubusercontent.com/9450306/81122635-485bc580-8eff-11ea-910a-0bc86a840f8c.png)

For the nearby legend where the pin information

[2020-05-06 03:40] gvaibhav1734 commented on #3667
Can I work on this?

[2020-05-06 05:16] maskaravivek commented on #3667
This is being handled by #3566. You can look at other issues to work on. :)

[2020-05-06 07:21] neslihanturan commented on #3726
Yes, it was. But after seeing your mockups, I changed my mind a little.
- We should add an explanation to nearby legend (img 2), about filtering in general. Something like "you can filter out pins now!" with a better english preferably.
- And add information about colors of pins next to place type (since colors indicates place types).

Note1: In your img1, I would add "i" buttont to the left side

[2020-05-06 07:49] macgills opened #3733 "On first view of DepictionUpload suggestions don't show"
**Summary:**

 after reinstalling the app and selecting a picture that has geolocation, zero suggestions are shown

**Steps to reproduce:**

On fresh install try to upload an image with geolocation,
See a Depiction screen with no results

**Commons app version:**

master

**Would you like to work on the issue?**

yes

[2020-05-06 10:07] #3716 closed

[2020-05-06 10:12] misaochan commented on #3726
Just to clarify, the "transparent" pins have been removed in #3355 - it just hasn't been released yet. However information about the green pins would be nice.

[2020-05-06 10:33] neslihanturan commented on #3726
Yes, transparent pins are there since shots from previous version

[2020-05-06 11:01] macgills opened #3734 "Refactor and convert CategoryPresenter to kotlin"
**Summary:**

Current usage is difficult to change and non idiomatic Rx.

**Would you like to work on the issue?**

Yes

[2020-05-06 12:25] CloeARiva commented on #3727
@neslihanturan @nathanmeade Hello, I'm new here and I've been working in software for just over a year, I'm currently unemployed so would like to contribute :) . Could I work on this as my first issue?

I have replicated the white sheet by deselecting the "All" checkbox in "Place type" without selecting any of the specific options.
![image](https://user-images.githubusercontent.com/29753876/811757

[2020-05-06 12:29] neslihanturan commented on #3727
Hi @CloeARiva , welcome to the team :). Considering @nathanmeade seems like interested with the issue too, I would like to ask him if he is working on the issue or not. If he is already working, you can pick another beginner friendly issue. Otherwise, you are welcome to work on this one :).

[2020-05-06 12:35] nathanmeade commented on #3727
If issue #3732 is valid (given that I have understood the issue properly and that my proposed solution is valid) then I will be working on that issue instead (preventing the user from accessing the "Nearby" tab if the location permission has been denied). @neslihanturan Would you agree that I have understood issue #3732 properly? If so, @CloeARiva this issue (#3727) would be a great issue to tackl

[2020-05-06 12:41] nathanmeade commented on #3726
Got it, that makes sense. You are correct, I did not have the latest version of master checked out here - this is actually the current PROD version from the Play Store. I definitely should be using the latest version of master instead. :)

[2020-05-06 13:32] neslihanturan commented on #3732
Yes @nathanmeade , you understood the issue right. User should never see this empty map at all.

[2020-05-06 13:33] neslihanturan commented on #3727
Seems like you shared issues as this one is for @CloeARiva and #3732 is for @nathanmeade . Both of you are welcome, looking forward for your updates:)

[2020-05-06 13:51] CloeARiva commented on #3727
@neslihanturan @nathanmeade thank you both for replying so quickly, I'll start working on this issue now :)

[2020-05-06 14:10] nathanmeade commented on #3727
Sounds good, no problem!

[2020-05-07 07:23] ashishkumar468 commented on #3705
Hi @misaochan, I am able to produce the NPE but not the exception you and @nicolas-raoul have been seeing, is there a specific step I am missing?

[2020-05-07 12:52] macgills commented on #3077
@nicolas-raoul I might need a definition on `disambiguation items`

Your linked example `No label defined (Q32415105)` is an `Instanceof (P31)` a `Wikimedia Category(Q4167836))`

Do I remove all results I fetch from the search endpoint that is an instanceOf Wikimedia Category?
Are are there further instances that must also be pruned?

The endpoint currently used is [wbsearchentities](https://www.w

[2020-05-07 13:05] macgills commented on #3105
@nicolas-raoul is this still valid?

[2020-05-07 13:38] VitalyVPinchuk commented on #3647
Interesting! Some images that do have gps data (like [this](https://user-images.githubusercontent.com/63555899/79075822-60239d80-7cf5-11ea-97dc-4fec644e4307.jpg) one in the topic) can't be read with `androidx exif interface`, though their gps tags can easily be read by querying MediaStore. Other photos that also have gps tags can be read with exif interface without a problem.
Also, images taken wi

[2020-05-07 13:45] macgills commented on #3121
That could also easily be hidden. when searching for the term `rabbit` there are 27 results.
![image](https://user-images.githubusercontent.com/3358282/81299274-e1a8ea00-906d-11ea-86b3-a7cfd77cd015.png)
Even if you hide the keyboard that isn't enough.
![image](https://user-images.githubusercontent.com/3358282/81299774-a2c76400-906e-11ea-80ef-d5dabeef1464.png)

We could insert the subclasses sectio

[2020-05-07 13:57] macgills commented on #3647
Haven't the foggiest and I bet it changes per phone and API level, android is built on a bedrock of flimsy chairs, oil soaked rags and unattended flames.

Switch to using the androidx method
[code]
 and if that returns null then try reading from the MediaStore and if that fails then shrug and return null, we did all we could.

[2020-05-07 14:08] macgills commented on #3501
Can no longer reproduce on master

[2020-05-07 14:08] #3501 closed

[2020-05-07 14:35] macgills commented on #3458
fixed by #3686

[2020-05-07 14:35] #3458 closed

[2020-05-07 14:51] misaochan commented on #3705
Have you tried switching out of the app and then back to it?

[2020-05-07 14:53] ashishkumar468 commented on #3705
Yes @misaochan. Just to confirm I have been testing on 2.13-release

[2020-05-07 14:57] misaochan commented on #3705
Yes, I was on 2.13-release as well (the ACRA report just doesn't reflect the branch). I guess I would be OK with us just fixing #3730 (since it seems more easily reproducible), then we can do the beta release and see how prevalent this crash turns out to be.

[2020-05-07 14:59] ashishkumar468 commented on #3730
A null check should be fine, what do you say @misaochan ?

[2020-05-07 15:05] misaochan commented on #3730
If we just don't do anything when `media.getImageUri()` returns null, will it still be able to display the image after the network call succeeds?

[2020-05-07 15:11] ashishkumar468 commented on #3730
We can, but that might not be a good thing,
User could be interested in browsing other  things once he realises image has not loaded yet and we not knowing his intention would take him to the zoom activity even though he might not be interested in that at that moment

[2020-05-07 15:13] misaochan commented on #3730
Good point. Let us go with the simple null check for now, and see how it goes. :)

[2020-05-07 20:37] rhulkb27 commented on #3682
Ok, I think I have reproed the issue @neslihanturan
<img width="610" alt="Screen Shot 2020-05-07 at 1 34 35 PM" src="https://user-images.githubusercontent.com/47308920/81342236-c63ae080-9067-11ea-8065-c6764ac263d6.png">
<img width="758" alt="Screen Shot 2020-05-07 at 1 35 47 PM" src="https://user-images.githubusercontent.com/47308920/81342249-ca66fe00-9067-11ea-9bfa-9fbdb679f019.png">
<img width="

[2020-05-08 00:05] nicolas-raoul commented on #3105
@macgills While it would be useful and allow people to select more specific (and thus useful) depictions, it is a far-fetched wish, so feel free to not implement it, it can be a subsequent phase in a year or more when everyone is used to depictions.

[2020-05-08 01:06] nicolas-raoul commented on #3121
Let's put this on backburner until next year, after we all get many months of experience selecting depictions.

[2020-05-08 02:54] nicolas-raoul commented on #3077
There will be a handful of QIDs of classes we want to filter out, maybe 20 maximum.

Basically, [all subclasses](https://query.wikidata.org/#SELECT%20%3Fitem%20%3FitemLabel%20WHERE%20%7B%0A%20%20%3Fitem%20p%3AP31%2Fps%3AP31%20wd%3AQ17442446.%0A%20%20%23%3Fitem%20p%3AP31%2Fps%3AP31%2Fwdt%3AP279%2a%20wd%3AQ17442446.%0A%20%20%0A%20%20SERVICE%20wikibase%3Alabel%20%7B%20bd%3AserviceParam%20wikibase%3Al

[2020-05-08 04:07] #3730 closed

[2020-05-08 07:40] gvaibhav1734 commented on #3729
Can I take this up?

[2020-05-08 07:46] ashishkumar468 commented on #3725
Hi @macgills  @misaochan  Do we have a conclusion on this?

[2020-05-08 07:54] macgills commented on #3725
Downgrade okhttp, safest all around, if we want to upgrade the sdk we can open an issue and discuss it there

[2020-05-08 09:42] macgills commented on #3077
@nicolas-raoul
[code]

is there an example usage of this parameter for the endpoint?

It would be really handy if these `props` were Wikidata Properties but I won't hold my breath.

We can I guess join the image request with the request for instanceOf items so our total number of requests doesn't increase but it is still not great.
We don't trigger an image request until absolutely necessary, ie t

[2020-05-08 10:10] nicolas-raoul commented on #3077
Do you mean that when we display "Bow - Wikimedia disambiguation page", we don't have the QID yet?
Sorry I am not familiar with this API :-/ Would you mind posting a current sample request URL?
The SPARQL endpoint might offer more options, but that would be a big change and I am not sure how fast it is when paging tons of results.

[2020-05-08 10:21] macgills commented on #3077
https://www.wikidata.org/w/api.php?action=wbsearchentities&search=abc&language=en see an example search there.

`searchEntities` doesn't return an `Entity` but a limited searchResult sort of looking thing. We have the id of this object but no statements/claims.

I am pouring through the api docs and it seems `wbgetentities` can actually return us a list of Entities based on a list of ids so that s

[2020-05-08 10:21] #3699 closed

[2020-05-08 11:59] misaochan commented on #3729
Are you familiar with doing db migrations, @gvaibhav1734 ?

[2020-05-08 13:03] gvaibhav1734 commented on #3729
Yeah. Have written a few migrations when using Room library for a project.

[code]
This SQL statement should get the job done right?

[2020-05-08 13:10] nicolas-raoul commented on #3077
That URL returns results like:
[code]
Just compare `Q169889` with the list of hard-coded banned QIDs Q4167410/Q17442446/Q4167836 and only show if it is not in the list :-) Am I missing something?

[2020-05-08 13:13] macgills commented on #3077
Yes, that QID is not an InstanceOf property, it is a specific item eg Elephant or in this case American Broadcasting Company"

[2020-05-08 13:47] nicolas-raoul commented on #3077
Indeed sorry!
How about just disabling the item (making it unselectable) once its P18 and P31 have been loaded?

[2020-05-08 13:59] macgills commented on #3077
I have already made a lot of headway into "instead of individually fetching the image property instead fetch the entities for all the ids returned in a search"  and from there it is pretty easy to do just add the instance of property and have some filtering in the presentation layer.
This reduces are amount of requests from `1+N+N/2` requests to `1+N/2`

[2020-05-09 02:17] maskaravivek opened #3740 "What is the best alternative for stetho?"
**Summary:**

Till some time back we were using [Stetho](http://facebook.github.io/stetho/#integrations) for viewing and editing SQLite DB. But we removed it as the Android studio lets you go to the device file explorer and download the DB.

I am struggling to find a good Android Studio plugin that allows to view and edit real-time changes. Some of the plugins let you download the DB and then view

[2020-05-09 04:34] ashishkumar468 commented on #3740
Android Studio is about to roll out an update which would support db browsing by default. In fact some of the canary versions already have it (4.1 canary 6 >)

https://developer.android.com/studio/preview/features

[2020-05-09 07:49] maskaravivek commented on #3740
Thanks, @ashishkumar468.

Are there other options for people who are not using the canary builds?

[2020-05-10 07:27] madhurgupta10 commented on #2074
![preview-1 1-Screen_1](https://user-images.githubusercontent.com/30932899/81493357-084e6700-92a0-11ea-9ea5-ade2735191c4.png)

![preview-2 1-Screen_2](https://user-images.githubusercontent.com/30932899/81493359-0a182a80-92a0-11ea-8919-5cc567330d19.png)

![preview-2 1-Screen_2 (1)](https://user-images.githubusercontent.com/30932899/81493360-0be1ee00-92a0-11ea-8dbb-4c7d6a082473.png)

**I would like

[2020-05-10 07:38] maskaravivek commented on #2074
I like Design 2 as its much cleaner. Just to clarify Week, Year, and All are buttons and not view pager tabs, right?

[2020-05-10 07:51] madhurgupta10 commented on #2074
Yes, similar to the ones we already use in Nearby section

[2020-05-10 07:57] neslihanturan commented on #2074
Thanks for the designs @madhurgupta10 , but I think we should avoid usage of nested tabs. Lets think about other ways: https://material.io/components/tabs#placement

[2020-05-10 07:59] ashishkumar468 commented on #2074
Agree with @neslihanturan  on this, how about non-swipeable (and just clickable) bottom nav?

[2020-05-10 08:04] neslihanturan commented on #2074
bottom nav is also not suggested for using non app level tasks :/

[2020-05-10 08:51] neslihanturan commented on #2074
Also, I think Week, year, month element should also be changed. They can't be chosen all together, logically right? I would instead use a spinner https://developer.android.com/guide/topics/ui/controls/spinner

[2020-05-11 09:12] macgills commented on #3740
This cropped up from  [a google](https://github.com/amitshekhariitbhu/Android-Debug-Database) but not exactly a world of difference from Stetho. I would wait for the AS release, not that we have any guarantee that it will be very functional, sometimes AS releases stuff that just doesn't work (instant run, multiple simultaneous previews) but 4.0 and beyond is looking like good, they will actually h

[2020-05-11 09:16] maskaravivek commented on #3740
Android Studio 4.1 is working well for me.

[2020-05-11 09:16] #3740 closed

[2020-05-11 13:21] nicolas-raoul opened #3742 "Items not displayed after coming back to search"
Latest master

Steps:
1. Open Explore
2. Search for "rabbit"
3. Tap "Items"
4. Press back button
5. You are now back to the items screen, with "rabbit" still typed.

Expected: Results shown
Actually: results not shown

![Screenshot_20200511-221715_Commons](https://user-images.githubusercontent.com/99590/81565947-1c47b500-93d5-11ea-92bf-69b0831f1306.jpg)

Appending a space and then removing it, mak

[2020-05-11 13:29] nicolas-raoul opened #3743 "IndexOutOfBoundsException at SearchActivity, when editing item search string"
I can't reproduce it, but on the search screen for items I got this crash immediately after typing a new character at the end of a word:
[code]

[2020-05-11 13:30] VitalyVPinchuk opened #3744 "Is READ_EXTERNAL_STORAGE permission really necessary when picking file from gallery?"
**Summary:**
I think `READ_EXTERNAL_STORAGE` permission isn't required for picking an image from gallery.
The message `Required permission: Read external storage. App cannot access your gallery without this.` seems to be misleading as it's required for the purpose of searching for similar images e.g. getting GPS coordinates of images taken at the same time.

**Steps to reproduce:**
Choosing file f

[2020-05-11 13:34] nicolas-raoul commented on #3744
Thanks for spotting that! Strange that I have never experienced this despite uninstalling and resetting and reinstalling the app many times per week.
The permission should probably only be asked for, only when we really need it.

[2020-05-11 13:37] ashishkumar468 commented on #3744
@VitalyVPinchuk  Have you tried choosing an image without permission?

[2020-05-11 13:42] VitalyVPinchuk commented on #3744
@ashishkumar468 No
Taping Cancel button cancels the action I guess

[2020-05-11 14:26] macgills commented on #3743
Duplicate of #3140 or at least the solution is the same

[2020-05-11 14:26] #3743 closed

[2020-05-12 10:44] #3077 closed

[2020-05-12 10:45] nicolas-raoul opened #3745 "Upload depiction suggestions not following text input"
I just installed 3077-hide-disambiguation-items.
In 2 out of 3 tests, I did not get the right suggestions (maybe because I typed very fast just for those 2 cases?), see below.
In both cases, adding then removing a space does not make the suggestions change.
![Screenshot_20200512-193620_Commons](https://user-images.githubusercontent.com/99590/81674882-dfd59100-9488-11ea-86f8-612432c7eb3f.jpg)
![Scr

[2020-05-12 11:46] CloeARiva commented on #3727
@neslihanturan @nathanmeade Hi both, I believe I have found another bug while testing my changes.

Steps to reproduce:

- on the Nearby tab click on the "Place type:" field
- deselect the "All" checkbox (this is basically searching for places of no place type so will return no results)
<img width="269" alt="wikimedia selecting no place type" src="https://user-images.githubusercontent.com/29753876/

[2020-05-12 13:38] #3733 closed

[2020-05-13 11:10] VitalyVPinchuk opened #3747 "Memory leaks when going back from search activity"
**Summary:**
LeakCanary shows memory leak when going back from search activity.

**Steps to reproduce:**
1. Go to Explore
2. Tap search and type "rabbit"
3. Go back

Emulator API 29

**Commons app version:**
Latest master

**Would you like to work on the issue?**
Yes if my reasoning is right.

I think it is because of misuse of Fresco library:
`dataSource = imagePipeline.fetchDecodedImage(imageReq

[2020-05-13 11:19] VitalyVPinchuk opened #3748 "App crashes when scrolling ITEMS in search activity"
**Summary:**
App crashes when scrolling ITEMS in search activity.

**Steps to reproduce:**
1. Go to Explore
2. Search for "rabbit" then tap ITEMS
3. Tap an item from recycler view
4. Go back
5. Try to scroll any direction

**Device and Android version:**
Emulator API 29

**Commons app version:**
Latest master prodDebug

**Would you like to work on the issue?**
Yes

[2020-05-13 11:57] macgills commented on #3468
I have converted everything but Place Renderer, that one might take a bit.

[2020-05-14 04:51] macgills opened #3749 "Improve MediaClient UnitTests"
**Summary:**

As discussed [here](https://github.com/commons-app/apps-android-commons/pull/3566#discussion_r424279365) there are areas that would benefit from some improvements.

[2020-05-14 14:32] #3745 closed

[2020-05-15 17:35] madhurgupta10 commented on #2074
Yes, we can select only one at a time. If we can use two spinners to avoid nested tabs?

[2020-05-15 18:19] gvaibhav1734 commented on #3729
Can I go ahead with this @misaochan

[2020-05-15 18:59] sivaraam commented on #2074
Just a minor thing about the wording. I believe "Usage" would be better than "Used" for the tab name.

[2020-05-15 20:15] Ladsgroup commented on #3523
Given that almost all pride parades have been cancelled this year. I think it's lower priority now :(

I will try to tackle it when I have a little less in my plate.

[2020-05-17 14:41] dafnith commented on #3634
It seems that in the category selection screen does not show anything when no search string is entered. It shows a red message that there are no results.  I tried to upload a picture multiple times and somehow it worked. When I tried again the red message appeared again. Is this normal?

I am also wondering what do you mean by "Items that were selected **during previous uploads**."
Previous upload

[2020-05-17 22:33] nicolas-raoul commented on #3634
@dafnith We merged Structured Commons work into the master branch and fixed a few bugs. Please git pull, git switch master, rebuild and test again, if you still see the red message please post a screenshot here. "previous uploads" refers to the images that _the user_ has recently uploaded. I encourage you to check the category selection screen and see how it works :-)

[2020-05-18 14:23] nicolas-raoul opened #3752 "Media details do not show depiction"
I uploaded a file and set a depiction to it.
The depiction was correctly uploaded, but is not visible in the app even after trying several times on wifi:
![Screenshot_20200518-231627_Commons](https://user-images.githubusercontent.com/99590/82223288-6db7ed00-995d-11ea-9129-b82f7c400028.jpg)
https://commons.m.wikimedia.org/wiki/File%3AMouillette.jpg

Strangely it works fine for this other picture up

[2020-05-18 14:32] nicolas-raoul opened #3753 "Item label/description: Fall back to non-empty language"
The 4 last items have labels/descriptions in French and Italian but not English:
![Screenshot_20200518-223011_Commons](https://user-images.githubusercontent.com/99590/82224561-f2efd180-995e-11ea-8a05-65a69fb2cf30.jpg)
It would be great if the app could fallback to Italian for instance if there is no label/description for the current locale (English in my case). It is better than nothing even if th

[2020-05-18 20:05] AtaZh commented on #343
I encountered a problem here. [[Wikimedia:Commons-android-strings-contributions subtitle/uk]] cannot be updated since the last change in English source [in 2018](https://translatewiki.net/w/i.php?title=Wikimedia%3ACommons-android-strings-contributions_subtitle%2Fen&type=revision&diff=8507127&oldid=7866455). The system doesn't allow me to save an edit with `|zero=` in it.

[2020-05-19 10:41] dafnith commented on #3634
@nicolas-raoul Thank you for your response!
As for the implementation we are thinking of creating the Room Dao that @macgills mentioned and name it DepictionsDAO.java. We are going to follow the steps in which CategoriesDAO is made.
If our way is correct then in which branch we are supposed to write the code?

[2020-05-19 11:07] nicolas-raoul commented on #3634
@dafnith Please create a new branch (named for instance `3634-suggest-recently-selected-items`) on the latest master. Thanks!

[2020-05-19 11:16] dafnith commented on #3634
@nicolas-raoul Thank you!
I would also be happy if you could explain the purpose of the structured-data branch and when should I switch at it thought..

[2020-05-19 12:23] CloeARiva opened #3754 "Add multidex to handle increased number of method references"
**Summary:**

We will surpass the limit of method references soon, so multidex is required. Otherwise the app will not run.

This was noticed in https://github.com/commons-app/apps-android-commons/pull/3746
It is also being added as part of https://github.com/commons-app/apps-android-commons/pull/3566. However that is still being reviewed and it would speed things along to add it seperately.

Disc

[2020-05-19 12:40] macgills commented on #3634
Structured data was a branch where Depictions(multilingual captions/descriptions) were implemented, it has been merged to master for a good few weeks now

[2020-05-19 12:43] #3727 closed

[2020-05-19 13:32] #3754 closed

[2020-05-19 13:35] macgills opened #3756 "Convert SearchDepictionsFragment to use Pagination"
**Summary:**

As part of #3140 I will convert the Fragments where we paginate data manually to a system using the androidx paging library

[2020-05-19 17:06] misaochan commented on #3334
v2.13 was just released on beta. It might take a while to get to users though, as the dev console says

[2020-05-19 17:06] #3334 closed

[2020-05-19 17:18] misaochan commented on #3729
Sorry for the late reply, @gvaibhav1734 . Sure, please feel free to go ahead and submit a PR for it in that case, thanks. :)

[2020-05-20 09:27] neslihanturan opened #3757 "Adding a tiny UI element to depictions screen to distinguish from category"
**Summary:**
Our new depictions screen seems very similar to the category selection screen. I think our long term users can find this confusing. We can add some UI element to distinguish it from category screen.

My suggestion is displaying a text before user enters any input, saying "We have a new feature to enter depictions, yaaay!" or some more proper explanation :)

[2020-05-20 10:32] misaochan commented on #3757
I was wondering if we should display the name of the step at the top of the screen (i.e. "Step 2 of 4: Depicts", "Step 3 of 4: Categories"), along with associated tooltips (as an "i" icon at the side).

[2020-05-20 13:56] macgills commented on #3752
![image](https://user-images.githubusercontent.com/3358282/82454506-c5fc0580-9aa9-11ea-8549-d0b5aedf8e10.png)

I just uploaded this and it seems fine?

I can't seem to find mouilette when searching in the app, is there an easy way for me to view this item in app to debug the requests?

[2020-05-20 14:06] macgills opened #3760 "Convert SearchCategoriesFragment to use Pagination"
**Summary:**

As part of #3140 I will convert the Fragments where we paginate data manually to a system using the androidx paging library

[2020-05-20 14:26] #3120 closed

[2020-05-20 15:15] nicolas-raoul commented on #3752
You can find it in Explore at the bottom of the list. By the way, there are two "L" characters:
![Screenshot_20200521-001444_Commons](https://user-images.githubusercontent.com/99590/82463644-0b472400-9af8-11ea-9111-2a42cd65617b.jpg)

[2020-05-20 18:36] gvaibhav1734 commented on #3729
Successful addition of _destroyed_ column to the table doesn't change the pin to appear as star inside gray.
Should I be coding the star inside grey (when destroyed) feature? @neslihanturan

[2020-05-20 23:54] #3753 closed

[2020-05-21 04:29] nicolas-raoul commented on #3705
It happened to me again, I sent an ACRA stacktrace.
The picture upload had failed so I had retried it, not sure if that matters. I had selected both depictions and categories.

[2020-05-21 09:02] macgills commented on #3752
The problem was fetching the depiction labels, the web request asks for a language, in this case "en" and no such entry exists for a few of these so we got an empty list which resulted in the throwing of an exception.

What is confusing me is this parameter to the endpoint

![image](https://user-images.githubusercontent.com/3358282/82541809-efb83980-9b48-11ea-8311-916acd624157.png)

Which sounds l

[2020-05-21 10:58] #1499 closed

[2020-05-21 11:00] misaochan opened #3762 "Invisible pins on Nearby map are still targetable"
**Summary:**

There is an interesting bug on Nearby - even with "Needs Photos" filter enabled, you can actually target the invisible green pins if you tap on their location on the map. E.g. the screenshot below:

![Screenshot_20200521-204411_Commons](https://user-images.githubusercontent.com/3611199/82552115-d8a73500-9ba4-11ea-80a2-11d4988b01d1.jpg)

So with bookmarks, sometimes I end up accidenta

[2020-05-21 12:51] #3752 closed

[2020-05-21 12:56] nicolas-raoul opened #3763 "IllegalArgumentException at fetchImagesForDepictedItem"
1. Go to any item (for instance "egg" or "rabbit"), either via Explore or via a depiction in Media Details.
2. Scroll the pictures that depict that item.
3. Crash:
[code]
If the item has few depictions (for instance "dishwasher"), the crash is immediate, no need to scroll.

[2020-05-21 13:24] macgills commented on #3763
There is also a problem with child/parent tabs but that is resolved in #3468 as I went through the adapters and fixing some bugs to get them rendering

[2020-05-21 15:39] misaochan opened #3765 "Items required for v3.0"
New features:
- [x] Nearby bookmarks
- [x] Structured data merged into master
- [x] #872 and #1870 completed
- [x] Legacy issues sorted out for structured data
- [x] #3757 Make upload steps (esp categories and depicts) more explicit
- [x] Chunked uploads and limited connection mode
- [x] New UI #3891
- [x] #4017 add limited connection mode display in UI (PR is up at #4094 )

Bugfixes:
 - [x] #3762

[2020-05-21 15:50] #3763 closed

[2020-05-21 18:29] matkoniecz opened #3766 "use of OpenStreetMap data without attribution (attributed to Mapbox in master version)"
**Summary:**

OpenStreetMap data requires attribution to be used and this attribution is missing, at least on my phone.

**Steps to reproduce:**

Start app, switch to "nearby" tab with map without attribution.

Attribution hidden in settings also would be insufficient, but not even that is done.

Data is clearly from OpenStreetMap (with contour lines added) as confirmed by looking at data unique t

[2020-05-21 19:10] maskaravivek commented on #3766
Yes, unfortunately, the current production version of the app doesn't have attribution. It seems that the attribution got removed sometime before the last release.

It was present in the previous versions of the app. A lot of changes were done recently on the maps page because of which it might have got missed. See #2911 for reference.

Our latest master has the attribution present and I believe i

[2020-05-21 19:59] matkoniecz commented on #3766
It is great that it is better in master version.

But note that you are using OpenStreetMap data, hosted and styled by Mapbox.

Mapbox may have their own additional requirements.

But https://www.openstreetmap.org/copyright requires notice associated with the map reasonably calculated to make **any** Person that views the map aware that content was obtained from the OpenStreetMap database.

It is

[2020-05-21 20:03] matkoniecz commented on #3766
Using OpenStreetMap data and using "Mapbox" as an attribution is like taking Wikimedia Commons image (on license requiring attribution) and using "author: internet" or "author: me, I found it with google" as an attribution.

[2020-05-22 00:43] nicolas-raoul commented on #3763
Thanks, it works now :-)

[2020-05-22 02:12] maskaravivek commented on #3766
Thanks for the detailed explanation @matkoniecz. We will fix it as soon as possible.

Currently when the (i) icon is clicked on the map, a dialog box appears as shown above. It shows (c) OpenStreetMap. Is it not the right way of attributing OpenStreetMap? Should the attribution be in the text on the map itself? As shown in this screenshot from the https://www.openstreetmap.org/copyright page.

<im

[2020-05-22 03:10] nicolas-raoul commented on #3748
Thanks for reporting!
Indeed I can reproduce this at first try on latest master:
[code]

[2020-05-22 09:25] neslihanturan commented on #3757
I agree, we should display names.

[2020-05-22 09:55] matkoniecz commented on #3766
The problem is that

* it requires clicking on (i) icon while license requires attribution to be "reasonably calculated to make any Person that views the map aware"
  - and it is quite obvious that normal user will not click on every icon and therefore will never see it
* there is a big Mapbox logo and popup lists (c) Mapbox first
  - So normal user will see solely Mapbox attribution and even popu

[2020-05-22 09:57] matkoniecz commented on #3766
BTW, thanks for very quick reaction made by actual humans - unlike to some major corporations using OSM data without any attribution (or extremely poor one, designed to mislead user).

[2020-05-23 14:30] nicolas-raoul opened #3767 "Achievements: Nearby count invisible"
![Screenshot_20200523-233043_Commons](https://user-images.githubusercontent.com/99590/82733217-53ab4f80-9d4d-11ea-9573-11be7059c230.jpg)

[2020-05-23 15:12] Bhavnaharitsa opened #3768 "fix: Give new link to User Documentation in Readme"
**Summary:**

In Readme, under the User Documentation, it shows to go to some other page after it is clicked. Instead, we could directly provide the link to the page in which it is available. Might seem like a smaller issue, but I felt we need to correct it.
@misaochan Your thoughts on this, please!

**Steps to reproduce:**
1. Open Readme
2. Click "User Documentation"

**Would you like to work on

[2020-05-23 17:01] sivaraam commented on #3768
Thanks for a filing an issue for this! While [moving the documentation to a separate repo](https://github.com/commons-app/apps-android-commons/issues/3411#issuecomment-594631285) we never updated all the links in the repo. So, fixing them is a good thing indeed.

I'll assign this to you. You can work on this. :)

If possible, you can update the other instances of such broken links, too. For instan

[2020-05-24 08:11] neslihanturan commented on #1984
We get a recent feedback about upload count is not updated at all.

[2020-05-24 08:12] neslihanturan commented on #1853
Recently, we have a similar report. So this issue can be alive.

[2020-05-24 08:23] neslihanturan opened #3769 "Nearby pin is not removed, wikidata item's P18 value is not linked."
**Summary:**
We got a recent report about after a nearby upload, wikidata item's P18 value is not edited. Thus nearby pin is not disappeared. Logs will be added if the user send them.

Uploads:
https://commons.wikimedia.org/wiki/File:%C3%89glise_primitive_de_Carros-Village.jpg
https://commons.wikimedia.org/wiki/File:%C3%89glise_primitive_de_Carros-Village_01.jpg

Wikidata item should have been edi

[2020-05-24 13:22] Bhavnaharitsa commented on #3768
@sivaraam Actually, I have noticed that all the links lead to the same documentation. Should we modify it into a single link "Guidelines" instead of "User documentation", "Volunteers", etc? Please tell me what you feel  :)

[2020-05-25 12:34] macgills commented on #3769
potential culprit is
[code]

This preference never gets set true, effectively disabling uploading images on the device permanently if the user once tried to upload a picture with a distant location to a Place, unless the user wipes their data.

This could also be not true, the error handling is not predictable and an issue to improve it has been open a while #3500

[2020-05-25 15:47] macgills opened #3772 "Convert SearchImagesFragment to use Pagination"
Summary:

As part of #3140 I will convert the Fragments where we paginate data manually to a system using the androidx paging library

[2020-05-25 17:22] sivaraam commented on #3768
While it is true that most of the links lead to the same documentation page, the section to which each link corresponds, to varies. For instance:

* **User documentation** should link to https://github.com/commons-app/commons-app-documentation/blob/master/android/README.md#-user-documentation
* **Contributor Documentation** should link to https://github.com/commons-app/commons-app-documentation/bl

[2020-05-26 08:33] macgills opened #3775 "Convert BookmarkLocationsDao to Room"
**Summary:**

The app has a mix of DAO implementations and we should standardize on Room

[2020-05-26 08:34] macgills opened #3776 "Convert BookmarkPicturesDao to Room"
Summary:

The app has a mix of DAO implementations and we should standardize on Room

[2020-05-26 08:35] macgills opened #3777 "Convert CategoryDao to Room"
Summary:

The app has a mix of DAO implementations and we should standardize on Room

[2020-05-26 08:36] macgills opened #3778 "Convert RecentSearchesDao to Room"
The app has a mix of DAO implementations and we should standardize on Room

[2020-05-26 12:05] macgills opened #3780 "Create media using a combination of Entities & MwQueryResult"
**Summary:**

At display time we have to make too many requests to get the potential caption/depictions leading to rapidly cycling text/views

**Steps to reproduce:**

Scroll contributions quickly or open a media detail screen.

**Commons app version:**
master

**Would you like to work on the issue?**

yes

[2020-05-27 09:10] #3729 closed

[2020-05-27 09:44] #3468 closed

[2020-05-27 10:00] #3768 closed

[2020-05-27 16:36] misaochan commented on #3705
Thanks @nicolas-raoul , do you know if there are any specific steps we can take to reproduce this? @ashishkumar468 could you look into this please?

[2020-05-27 16:37] misaochan opened #3781 "Items needed for 2.13.1 hotfix"
Please target `2.13-release` branch with these.

- [x] #3705 fixed
- [x] Add version number to body of ACRA crash report
- [x] #3829
- [x] #3792 fixed
- [x] See if #3856 occurs in 2.13 or not

[2020-05-27 17:35] sivaraam commented on #3334
@misaochan Has 2.13 started reaching the users? On seeing your e-mail to Wikimedia-mobile, I thought 2.13 might've started reaching users but when I try to install the production variant via play store I get 2.12.3 instead of 2.13. 🤔

[2020-05-27 17:54] misaochan commented on #3334
Hi @sivaraam , it is released for beta testing at the moment. :) Should be in production in a couple weeks' time.

[2020-05-28 00:47] nicolas-raoul commented on #3705
I have not found reproduction steps unfortunately. Maybe it does not happen every time.

[2020-05-28 08:00] #3712 closed

[2020-05-28 08:03] nicolas-raoul commented on #3705
I just tried again with latest master and it did not happen. Not saying it is fixed, but at least it does not happen all the time.

[2020-05-28 08:27] macgills commented on #3705
![image](https://user-images.githubusercontent.com/3358282/83117462-015b8d00-a0c5-11ea-8509-23a6cc1568d2.png)

This method must be called when ContributionListFragment receives updated data

[2020-05-28 11:10] #3756 closed

[2020-05-28 11:54] #2904 closed

[2020-05-28 11:54] #52 closed

[2020-05-28 11:54] #1993 closed

[2020-05-28 11:54] #3667 closed

[2020-05-28 12:00] ashishkumar468 commented on #3705
@macgills  Yes this probably should be the issue

[2020-05-28 19:58] maskaravivek commented on #872
I am going to use the following API to check if the Wikipedia page contains media or not.

https://en.wikipedia.org/api/rest_v1/page/media-list/A._P._J._Abdul_Kalam

[2020-05-29 04:55] maskaravivek commented on #872
@neslihanturan Can you export the 3rd icon separately and share it here. In your comment above all icons are in the same image.

[2020-05-29 10:18] macgills opened #3784 "Crash when recreating MainActivity"
**Summary:**

ContributonListFragment does not have an empty constructor because of this
[code]

The code must be rewritten to not pass the callback into the constructor.

**Steps to reproduce:**

Turn on "don't keep activities"
rotate device on main screen

**System logs:**

[code]

**Commons app version:**

master

[2020-05-29 10:52] macgills opened #3785 "Remove CategoryImagesActivity"
**Summary:**

This activity is never used and can potentially be removed

**Commons app version:**

master

[2020-05-29 19:39] maskaravivek commented on #872
@misaochan Can you help me with text for the instructions.

Also, I was planning to directly copy the wikicode to the clipboard and show this on the instructions dialog (along with the instructions).

"Wikicode has been copied to the clipboard"

[2020-05-31 02:54] edwa2 opened #3788 "Achievements: Bug in Features Pictures number"
**Summary:**

The Featured Pictures number in achievements doesn't accurately reflect the number of featured pictures uploaded by a user

**Steps to reproduce:**

Image attached

**Device and Android version:**

Galaxy S9+, Android 10

**Commons app version:**

API level: 29
Android version: 10
Device manufacturer: samsung
Device model: SM-G965U
Device: star2qltesq
Network type: wifi
App version n

[2020-05-31 15:30] madhurgupta10 opened #3789 "[GSoC Task] Update UI of achievements activity to display level (current activity) in first tab and Leaderboard in the second tab (based on uploads)."
**Summary:**
Update UI of achievements activity to display level (current activity) in the first tab and Leaderboard in the second tab (based on uploads).

- [ ] Complete the Leaderboard Fragment UI

- [ ] Add the Leaderboard to the Achievements Activity.

**Would you like to work on the issue?**
Yes

[2020-05-31 18:24] ashishkumar468 opened #3790 "Switch to WorkManagers"
**Summary:**

Summarize your issue in one sentence (what goes wrong, what did you expect to happen)
App crashes when upload is somehow initiated from the background.

**Steps to reproduce:**
Yet to figure out, reported by email

**System logs:**

[code]

**Device and Android version:**
ANDROID_VERSION=9
PHONE_MODEL=Redmi 3S
**Commons app version:**
APP_VERSION_CODE=709
APP_VERSION_NAME=2.13

**Wou

[2020-05-31 18:58] sivaraam commented on #3713
This seems to have fallen through the cracks. So, pinging some people for input:

@nicolas-raoul @macgills @misaochan

[2020-06-01 00:32] nicolas-raoul commented on #3713
Any caption is by definition a good title.
There is no reason to ask users to input more text, especially on mobile.

There is no reason anyone would want to do that (except some kind of meaningless habit). I am sure the "title" will be removed from the Upload wizard soon, it is just very slow to move as usual.

[2020-06-01 02:02] maskaravivek opened #3791 "Prod debug app crashes on startup"
**Summary:**

App crashes on startup while using it on an emulator.

**Steps to reproduce:**

Install and run prod debug on x86 emulator.

**System logs:**

[code]

**Device and Android version:**

Android 9

**Commons app version:**

`prodDebug` on latest master while using an emulator.

**Would you like to work on the issue?**

No.

[2020-06-01 02:03] maskaravivek commented on #3791
Ref: https://github.com/mapbox/mapbox-gl-native/issues/14428
https://github.com/mapbox/mapbox-gl-native/issues/15331

[2020-06-01 18:39] sivaraam commented on #3713
Except maybe for the reason that someone intentionally wants to do that (entering both title and caption) for some reason that we are not aware of.

It's well and good if it gets removed. To be honest, I personally don't have any reasons to enter both a title and a caption. The problem is, as of now Commons has Title and Caption separately. As long as it does, it's best if we have them as separate

[2020-06-01 19:15] sivaraam commented on #872
I think it's good to check with the legal team about the modified version of the Wikipedia logo. It shouldn't be a problem if we haven't changed it. But we have added a plus icon and the [Wikipedia Visual identity guidelines](https://foundation.wikimedia.org/wiki/Visual_identity_guidelines#toc-donot) mentions:

So, it would be good to check with the legal team about this.

[2020-06-02 10:03] misaochan commented on #872
For the instructions, @nicolas-raoul would you have any suggestions on what we should tell them? I actually am not that familiar with wikipedia editing, haha.

Good idea @sivaraam , I'll contact the legal team just to be sure.

[2020-06-02 10:09] misaochan commented on #3713
I am on board with modifying the caption tooltip to inform the user that it would be used as the title.

[2020-06-02 16:07] misaochan opened #3792 ""No such column" SQLite error"
I received a report from one of the WLM guys that our Nearby map does not work for them. They get this error when they try to load it:

![Screenshot_20200602-080638](https://user-images.githubusercontent.com/3611199/83542698-a8657c00-a53e-11ea-99fc-b9dac28fc731.png)

**Device and Android version:**

Android 10, Pixel 4

**Commons app version:**

v 2.13 from Play Store beta testing

**Would you lik

[2020-06-02 16:27] misaochan commented on #3775
Hi @macgills ,

In the future, instead of 4 issues with the same body, maybe we can have one parent issue and a checklist for the various items? :)

But I agree with the conversion.

[2020-06-04 15:33] madhurgupta10 commented on #3789
@nicolas-raoul Closing the issue :)

[2020-06-04 16:22] matkoniecz commented on #3766
I added this app to page listing entities using OpenStreetMap data without attribution - in https://wiki.openstreetmap.org/w/index.php?title=Lacking_proper_attribution&type=revision&diff=1997453&oldid=1997351

[2020-06-04 17:28] maskaravivek commented on #3766
Thanks for the detailed explanation. I will bump up this issue internally.

Would you be able to point us to any app/website that correctly shows the Mapbox and OpenStreetMap attributions? I am requesting this from you with the assumption that you might have come across quite a few open source app that are using these maps.

Tagging few of our collaborators here:
@misaochan @nicolas-raoul @nesliha

[2020-06-04 17:43] sivaraam commented on #3766
I think the info in the following page is a good start: https://wiki.openstreetmap.org/wiki/They_are_using_OpenStreetMap

I'll let you know if I find something better.

[2020-06-04 17:46] sivaraam commented on #3766
Mentioning the source, for the sake of completeness:

[Source](https://wiki.openstreetmap.org/wiki/Lacking_proper_attribution#List_of_usages_lacking_proper_attribution)

[2020-06-04 17:50] maskaravivek commented on #3766
Thanks @sivaraam. It would be great if someone could check a few apps from this list and share a screenshot here of the map page from apps with proper attribution. It would be easier for anyone to pick up the fix that way.

[2020-06-04 17:52] matkoniecz commented on #3766
https://nuclearsecrecy.com/nukemap/ (though I admit that phone styling suffers from too small text everywhere - but as it is not applied to just attribution I am OK with that, also for some reason wrong license is given).

Part applicable here with a fixed license would be "Map data © OpenStreetMap contributors (ODBL), Imagery © Mapbox"

[2020-06-04 18:12] misaochan commented on #3766
If the format at https://foursquare.com/explore?mode=url&near=Gda%C5%84sk%2C%20Poland&nearGeoId=72057594041027370 is acceptable, that would be my preference. On mobile screens there is very little space.

[2020-06-04 18:17] matkoniecz commented on #3766
"© Mapbox © OpenStreetMap" in always visible text, with `Mapbox` linking to whatever Mapbox requires and `OpenStreetMap` linking to https://www.openstreetmap.org/copyright should be OK.

Or "© Mapbox © OpenStreetMap (ODBL)" for version without links.

Disclaimer: I am not a lawyer, it is what I think that license requires and would be enough to keep me happy.

[2020-06-04 18:46] ashishkumar468 commented on #3725
HI @misaochan  @macgills Apparently downgrading the okhttp would need us to downgrade retrofit as well to one of the 1.9 versions instead of the 2.X on which we are, would we be okay with that?

[2020-06-05 00:30] nicolas-raoul commented on #3789
The issue was not closed automatically, even with "Fixes #XYZ" in the PR name, probably because the destination branch is not master ;-)

[2020-06-05 03:16] gerardolgvr commented on #3433
Hello! is this fixed? If not is possible to work on it?

[2020-06-05 10:51] #3784 closed

[2020-06-07 01:39] nicolas-raoul commented on #190
This app blurs faces, might be a source of inspiration: https://hyperallergic.com/568795/ios-face-blurring-tool-protests

Please note that all face/plate recognition should be performed locally, not by calling a web service.

[2020-06-07 02:10] nicolas-raoul commented on #3433
@TejaswiKarasani Thanks a lot for finding all of these links! Are you still working on this? If not we can let @gerardolgvr continue the work :-)

I agree with sivaraam that one link per topic is best. I suggest the following:

Images uploaded: https://commons.wikimedia.org/wiki/Commons:Project_scope
Images that were not reverted: https://commons.wikimedia.org/wiki/Commons:Deletion_policy#Reasons_

[2020-06-07 02:35] TejaswiKarasani commented on #3433
Please assign this issue to any other.
Thanks.

[2020-06-07 02:39] nicolas-raoul commented on #3433
Thanks @TejaswiKarasani for your work and have a great weekend :-)

@gerardolgvr this task is yours from now on :-)

[2020-06-07 15:19] gerardolgvr commented on #3433
Thanks! I'm gonna work on it.

Have a great weekend! Any update or question I'm gonna post it here  :)

[2020-06-07 21:12] rhulkb27 commented on #3788
I would like to work on this issue, I will try to repro it tonight. Is there a staging environment I can use? I currently do not have any featured photos on my account. @nicolas-raoul @edwa2 .

[2020-06-07 21:14] Charlitos96 commented on #3767
Hi, I would like to make my first contribution, can you give me more info about this, please?
Also, I clone the project and download the app from Google Play, but I can't find the view for this issue.

[2020-06-07 23:20] nicolas-raoul commented on #3762
I experienced this yesterday with latest master. At first I thought the label was referring to a visible pin which is very close to it. It may lead to mistakes, for instance taking a picture of the wrong thing and only realizing it when you are away (after taking a picture I usually keep walking, towards my next destination, and upload while walking).

[2020-06-08 01:29] nicolas-raoul commented on #3788
@rhulkb27 Thanks for working on that!

Actually featured images are super rare haha
There is a staging environment but I don't think it has featured images.

My advice:

1. Using logcat see what network request is sent to get this number
2. Run the same request from curl or your browser
3. Replace the username with names of users who have and don't have featured images
4. Post your findings here.

[2020-06-08 01:31] nicolas-raoul commented on #3767
@Charlitos96 You have to log in and click the kind of cup next to your username in the left menu.
Thanks! :-)

[2020-06-08 07:49] Charlitos96 commented on #3767
Thank you, I can access on the app from Google Play, but When I run the project from Android Studio to my Phone, it asks me for a "Common Beta Account", Can you provide me one for tests?
![Commons Beta](https://user-images.githubusercontent.com/42658489/84005342-d8879300-a921-11ea-81d8-a0e2402fcf84.jpeg)

[2020-06-08 08:23] nicolas-raoul commented on #3767
Please build the prodDebug flavor.

On Mon, Jun 8, 2020 at 4:50 PM Carlos Jimenez <notifications@github.com>
wrote:

[2020-06-08 08:28] junior291492659 commented on #3134
I have also encountered this issue.

Android provide three main location modes: high accuracy (using both the network and GPS for location), battery saving (using the network for location) and device only (using only GPS for location).

Thanks for your amazing app and I would appreciate it if you can follow this issue in your spare time

[2020-06-08 18:28] Charlitos96 commented on #3767
It seems like the bug was because you call the API and need to wait for a response, while the app is waiting for a response, the counter comes invisibly. I set a default value of 0 before calling the API and when the response of the API is ready, the value was updated.
#3796

[2020-06-08 19:13] gerardolgvr commented on #3433
I added a new menu item in order to access the pop up. A list is used to show the item using the link you mentioned above. Before to continue I would like to ask about this:
- Is ok the pop up is accessed via menu like the image?  (I was finding a good place and a menu item seems a well place and it not affects the semantic of UI elements). If this is approved I was thinking in create a new menu t

[2020-06-08 23:52] nicolas-raoul commented on #3433
@gerardolgvr It would be easier to find if each link was inside the information popup attached to it.
For instance when you tap on the "i" at the right of "Thanks Received", it opens a popup. That popup would contain its current explanation, plus a "Read more" link at the bottom which opens the given web page.
Thanks! :-)

[2020-06-09 00:01] robdjq commented on #3762
Hi, I would like to try fixing this issue.

[2020-06-09 00:02] gerardolgvr commented on #3433
@nicolas-raoul ohhh, I got it! All makes sense now jeje.  Thanks for the explanation

[2020-06-09 02:18] PaulinaQuintero commented on #3640
Can I work on this issue?

[2020-06-09 05:20] nicolas-raoul commented on #3762
@robdjq Thanks, it is yours :-)

[2020-06-09 14:50] #3725 closed

[2020-06-09 15:07] ashishkumar468 commented on #3790
The UploadService is either missing to call startForeground in some cases, we can probably think of including a combination of WorkManager and Foreground service to handle the same

[2020-06-09 15:19] misaochan commented on #3790
We can add this to the stability tasks in the upcoming grant probably, as it only happens intermittently and the workload for the fix will be pretty significant.

[2020-06-09 15:23] misaochan commented on #3420
Update: The new grant has been approved. :) WMF declined funding for an iOS app but gave us the opportunity to modify the proposal, so I removed the iOS component as requested by them and added campaigns.

They have also requested significant increases to the testing and stability goals. To that end, we have additional funding that we can allocate for this purpose, and we can hire an additional co

[2020-06-09 15:55] #3705 closed

[2020-06-09 18:46] sivaraam commented on #3420
Great! 🎉

That's sad. There was so much hopes for the iOS app as one could see from the endorsements. I'm curious to know the reason, if possible.

Anyways, a better integration with campaigns would be a nice addition too. Though this integrations needs to be done with caution so that it provides a seamless experience for both users interested and not interested in participating in the campaign.

[2020-06-10 08:52] misaochan commented on #3420
Yeah, I'm sad about that too. :( The reason they gave us was that they are concerned about maintenance of an additional app after the grant period is over.

Yes. :) We are currently talking to WLM organizers about it, and we will open up discussions in mailing lists etc soon. The plan is to have something like a Nearby map filter that other users can just not select if they don't want to participa

[2020-06-10 10:38] ddopik commented on #3742
Hello @nicolas-raoul
can i work on this issue

[2020-06-10 10:57] ashishkumar468 commented on #3781
@misaochan about the bitmap crash, do we have an issue or any crash logs?

[2020-06-10 13:01] neslihanturan opened #3798 "No images found on explore tab"
**Summary:**
1- Type a category, ie. "Cat"
2- Images should appear on first tab and categories should appear on second tab "Felix the Cat"
3- Click "Felix the Cat" category
4- Images under felix the cat category should appear, but it says "Error occurred while loading images" at bottom and "No images found".

[2020-06-11 04:41] gerardolgvr commented on #3732
Hello! Is this fixed?

I was thinking about some possible solutions to this problem:
- Add an extra message telling the reason why is location permission important (using shouldShowRequestPermissionRationale). I found this useful information (https://stackoverflow.com/questions/30719047/android-m-check-runtime-permission-how-to-determine-if-the-user-checked-nev)
- If the user doesn't grant permiss

[2020-06-11 08:28] neslihanturan commented on #3640
Hi @PaulinaQuintero , thank you. Please go for it:)

[2020-06-11 09:30] misaochan commented on #3766
Interesting, it does say that "You may not otherwise alter the Mapbox wordmark or text attribution notice", so if we made this change we would be breaching Mapbox's terms.

@matkoniecz Any chance you can take this up with Mapbox themselves?

[2020-06-11 09:41] misaochan commented on #1871
As we are approaching the end of our grant, unfortunately I will have to remove this from the grant tasks as per WMF's Covid directives. I think we can leave this issue open though, so that in the (far) future if someone wants to run a volunteer workshop they can refer to it.

[2020-06-11 09:50] misaochan commented on #1473
This would be a bit tricky with the Covid restrictions. I think I will email Chris and Marti and see if this counts as an "in person" event that must be cancelled, or not.

[2020-06-11 10:00] neslihanturan commented on #3732
Thank you for suggestions @gerardolgvr , the issue is still not fixed. You can work on this one. I think ideal solution is sending the user back to contributons fragment when permission is not given.

[2020-06-11 12:09] sivaraam commented on #3766
Yes. But they also [say this](https://docs.mapbox.com/help/how-mapbox-works/attribution/#mapbox-maps-sdk-for-android):

Observe how the second paragraph provides us with an option to include on the map in a text format which is exactly in the format that OSM requires (in addition to some Mapbox requirements).

I guess the problem is they don't say _how_ that could be done 🤔

[2020-06-11 14:54] gerardolgvr commented on #3732
oh yeah, sounds a great idea @neslihanturan

Seems well to you a Toast to give information why user is returned to contributions fragment? In order let know the user what's happening

Example "Location permission is required" -> the text is an example

[2020-06-11 16:42] matkoniecz commented on #3766
I can try, but Mapbox is remarkably slow where it comes to topic of attributing OpenStreetMap.

[2020-06-12 02:22] PaulinaQuintero commented on #3640
Thank you! I've been looking for where in the code I can implement the solution I already thought, however I didn't find it, could you give me the name of the class or the view where I could see this issue?

[2020-06-12 14:02] nathanmeade commented on #3732
@neslihanturan @gerardolgvr I have not been able to get to this fix yet. Feel free to reassign this as you see fit.

[2020-06-12 18:46] Anyrob commented on #3732
Hi! I would like to take it if you don't mind, I already have thought a solution, just waiting for you, to give me green light :) @neslihanturan @gerardolgvr

[2020-06-12 18:48] neslihanturan commented on #3732
Please go for it @Anyrob :)

[2020-06-12 18:48] neslihanturan commented on #3732
Thank you @nathanmeade for your time and reporting your unavailability.

[2020-06-12 18:49] Anyrob commented on #3732
Thank you!! @neslihanturan

[2020-06-12 18:50] gerardolgvr commented on #3732
Go ahead @Anyrob ! :D

[2020-06-12 20:57] ddopik commented on #3742
Hello @nicolas-raoul
i have tested the issues on my phone and i havn't faced the issue you have mentioned
device was huwaie mate 10 lite,  and latest commit " Latest commit "b7ba1f0" on master branch
if you still facing the issue would you mention your deveice model so i can emulate it

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/21159364/84545713-0133d200-ad00-11ea-8690-c0

[2020-06-12 23:33] PaulinaQuintero commented on #3757
![image](https://user-images.githubusercontent.com/63326136/84553690-6b398080-acda-11ea-9938-cc6b13b0cfbd.png)
From what I understand, you want to add an icon "i" of tooltips that explains what each step does, if nobody has done it, could I do it?

[2020-06-13 02:59] nicolas-raoul commented on #3742
Indeed I can't reproduce it, it seems to have been solved as a side-effect of another fix.
Thanks a lot for finding out! Thanks to you we can close this bug :-)

[2020-06-13 02:59] #3742 closed

[2020-06-13 05:46] nicolas-raoul commented on #3380
The issue is still present, I uploaded the picture below via Nearby, and P18 did not get filled: https://commons.wikimedia.org/wiki/File:Embassy_of_Slovakia,_Tokyo_2.jpg
![Screenshot_20200613-140838_Commons](https://user-images.githubusercontent.com/99590/84561048-3aae2100-ad84-11ea-9992-27c46d6ef021.jpg)
Actually my last 5 Nearby uploads have all failed to get P18, this bug is particularly penali

[2020-06-13 13:05] dafnith commented on #3634
@sivaraam we actually got stuck trying to save the selected depictions in the database. Our method that inserts recent depictions in recent_depictions table uses a list with RecentDepictions objects.
[code]
We want to call this method from UploadModel.java file but we don't know how to convert the DepictedItem object to RecentDepictions object
[code]

[2020-06-15 08:58] macgills commented on #3380
@madhurgupta10 I can take this issue if your are busy

[2020-06-15 09:06] madhurgupta10 commented on #3380
@macgills Sure, thank you!

[2020-06-15 09:41] misaochan commented on #3748
@macgills Has this been solved?

[2020-06-15 09:51] macgills commented on #3748
When my final pagination PR for this trio of fragments is merged I would be surprised if this crash could be possible

[2020-06-15 11:51] macgills commented on #3798
The title in the request isn't prefixed with `Category:`, pushing a fix