[2020-01-18 19:16] albendz commented on #3236
Thanks, will do!

[2020-01-19 09:15] kbhardwaj123 commented on #2909
@nicolas-raoul sir can i proceed working on this issue ?

[2020-01-19 12:38] LuGO0 commented on #2239
can I work on this issue is it still assigned??

[2020-01-19 13:06] nicolas-raoul commented on #2239
@mumtazcem Are you still working on this? Feel free to commit or even post here any source code you might have. Thanks! :-)

[2020-01-19 13:25] GearGit commented on #3327
There are Network issues on the 2.11 version of the app. Whenever I try to login or go to the Explore page of the app, there is always the error of network issue. Is this issue due to the fact that I am running the app in beta mode from Android Studio or am I missing something?

[2020-01-19 13:33] GearGit commented on #3222
The same issue persists with the '2.11-release' branch of the commons app. Is it because I am running the 2.11 release directly onto my phone from Android Studio or is it because of something else, cause I don't seem to be able to login either due to network error?

Even though I have a high-speed network, the network issue still persists, be it 'upload_caption_depict branch' or the '2.11-release'

[2020-01-19 14:21] #3305 closed

[2020-01-19 14:21] #3307 closed

[2020-01-19 14:50] misaochan commented on #3327
Hi @GearGit , can you try with the current master build or v2.12.1 (latest release), please?

[2020-01-19 17:10] maskaravivek commented on #3327
The login issue is been discussed in #3320. Yes, its specific to beta app.

[2020-01-19 17:10] maskaravivek commented on #3222
The login issue is been discussed in #3320. Yes, its specific to beta app.

[2020-01-20 05:23] GearGit commented on #3327
@maskaravivek @nicolas-raoul
I went through the issue [#3320](https://github.com/commons-app/apps-android-commons/issues/3320). I am also facing the same issue "Chain Validation Failed". How do I switch to the production model in the 2.11-release branch as well as in the master branch?

Even when I try to Skip Login, the explore section doesn't fetch any data. Can anyone help me understand why?

[2020-01-20 14:16] GearGit commented on #3222
@maskaravivek How should I go about with the app because the app cant seem to connect to the network, and also the login fails with error message : "Chain Authentication Failed"?
This seems to be common in the beta version on all branches, master,2.11-release and also in the upload_caption_depict.
I think I found the solution to #3327 .How can I switch to the production version of the app to resol

[2020-01-20 14:32] ashishkumar468 commented on #3222
@GearGit  to build and run the production flavor, you can change the build flavor to prodDebug or  prodRelease. [This](https://stackoverflow.com/questions/19234499/how-to-build-product-flavors-from-android-studio) is how you can change build flavor (I would very much recommend not to upload test pictures on prod server, your account might be blocked)

[2020-01-20 15:09] nicolas-raoul commented on #3222
@maskaravivek Vitaly took Vanshika's last commit and added several fixes, then last but not least, merged from master 2 months ago: https://github.com/VitalyVPinchuk/apps-android-commons/commit/53d160ba7612e0fe8a75451ea946275dbe8f71fd

[2020-01-20 19:42] #3328 closed

[2020-01-21 07:59] GearGit commented on #3222
What methodology would you recommend me to test the issue #3327 ? If beta servers are malfunctioning then this is a major concern and maybe we should open an independent issue for it.

@nicolas-raoul if the upload_caption_depict branch has been merged then maybe we should close this issue.

[2020-01-21 09:59] misaochan commented on #3222
I answered you on the issue itself.

Yes, I think this is being tracked at #3320

[2020-01-21 09:59] misaochan commented on #3327
@GearGit , re: your question from the other issue:

You can just use prodDebug to upload a proper picture with a whitespace at the end of the title and link to the result on your PR. You will not be banned for uploading a proper picture. :)

[2020-01-21 10:00] misaochan commented on #3320
Bumping this up in priority, @ashishkumar468 could you take a look at this please after you are done with the Nearby bugs?

[2020-01-21 10:01] ashishkumar468 commented on #3320
Sure @misaochan  I will look into it . :)

[2020-01-21 10:04] misaochan commented on #1831
Sounds good to me @maskaravivek .

[2020-01-21 10:37] nicolas-raoul opened #3333 "For an item that already has a P18, do not add another one"
The Nearby activity now also shows Wikidata items that **have** a P18 image. That's great.

But when the user choose to add an image based on this item, the image should not be added as an another P18.
Why? Because a Wikidata item should only have one P18 image. By the way, the selection of the most representative image is sometimes the result of a community conversation, so replacing the existing

[2020-01-21 11:13] misaochan commented on #3333
Ah, thanks for bringing this up. I agree, we should remove the last step (adding the item to p18) for items that already have a p18 (i.e. does not "need photos").

[2020-01-21 11:30] #3256 closed

[2020-01-21 11:33] misaochan opened #3334 "Items needed for v2.13"
**31 Mar:** 2.13-release branch is cut, all PRs targeting 2.13 should be rebased there or cherrypicked from master

Changes/enhancements:
- [x] #3304 and #3322 merged
- [x] Nearby filters changes: #3355 and #3235
- [x] Handle zoom in media details view #3414
- [x] Switch to Room completed
- [x] Decide if we want to include #3505  (included)

Bugfixes:
- [x] #3236 solved
- [x] #3359 assigned @ashis

[2020-01-21 11:35] misaochan commented on #2013
Several users have reported this fixed. :) Closing, feel free to reopen if needed.

[2020-01-21 11:35] #2013 closed

[2020-01-21 12:14] nicolas-raoul commented on #3222
After merging the latest master into upload_caption_depict branch, some testing is needed, to make sure that at least pictures can be uploaded with crash :-) Then hopefully the upload_caption_depict branch can be merged into master, if @misaochan is OK (note: there are a few remaining bugs such as wrong thumbnails, I hope these are not grave enough to prevent merging into master?)

[2020-01-21 12:28] nicolas-raoul commented on #3333
I don't think that should block any release, though.
I personally review all P18 manually and fix all such cases, it only takes a few minutes per week.
It is an interesting task for a newcomer, I think.

[2020-01-21 15:30] VojtechDostal commented on #3293
Not very specific bug and I haven't been able to sign in to alpha testing - due to lack of time :(

[2020-01-21 15:30] #3293 closed

[2020-01-21 15:31] VojtechDostal commented on #3287
Yes this does look similar to #2507 . I haven't experienced this problem for a long time, though.

[2020-01-21 16:33] misaochan opened #3335 "Hotfix: Crash on startup"
To fix @VojtechDostal 's crash on startup

[2020-01-21 16:38] misaochan opened #3336 "Hotfix: Coordinates of picture are not uploaded"
A user mentioned that since 2.11 (and still existing in 2.12.1), coordinates are not uploaded with his pictures. He confirms that he can see the coordinates in his stock gallery.

[2020-01-21 17:27] misaochan commented on #3335
I'll release v2.12.2 with this tomorrow.

[2020-01-21 17:29] maskaravivek commented on #3336
I also faced the same issue on the latest master. When I checked I found out that all EXIF info was stripped by default. Once I checked all EXIF tags in settings, it worked for me perfectly.

As far as I remember, we were not supposed to strip EXIF by default. I forgot to report this issue.

[2020-01-21 17:32] misaochan commented on #3336
Argh, I thought we fixed that? Must have been reverted for some reason. :/

[2020-01-21 17:32] maskaravivek commented on #3222
I agree with @nicolas-raoul. Once we have the basic sanity of the `upload_caption_depict` its best to merge it to master so that working on it becomes easier and we can create separate issues for remaining bugs that can be picked by volunteers.

[2020-01-21 17:35] maskaravivek commented on #3334
@misaochan Having #1831 as part of the release is dependant on #3222.

[2020-01-21 17:38] misaochan commented on #3222
Sorry for the delay in catching up on this thread. The reason I would prefer to wait is that we will likely have a developer (Sean from Kiwix) working on Structured Commons for us starting February. His first task would be getting Vanshika's work master-ready to create a foundation for him to work on. So if we can wait for him for a bit, it may be worth it?

[2020-01-21 18:46] ashishkumar468 commented on #3287
I seemed to have been able to reproduce this, will try to add a fix in the upcoming nearby refactor-branch

[2020-01-22 03:26] GearGit commented on #3327
I have resolved the issue but for some reason the PR checks have failed. Can someone please review and merge my PR?
PR #3338
I have attached relevant screenshots of the commit working fine.

[2020-01-22 03:34] GearGit commented on #3336
Can I work on this?

[2020-01-22 06:03] maskaravivek commented on #3336
@GearGit Are you assigned any other issues then I would suggest that you first finish them and then if this issue is still unassigned then you can comment here again. :)

[2020-01-22 09:57] misaochan commented on #3336
Bumping this in priority since it happens for all users.

[2020-01-22 10:19] macgills commented on #3222
I don't have a tremendous amount of input right now as I don't have much of a grasp of the codebase or features yet. I'm happy for a piece of work to be left for me as long as it is not blocking any other task somebody wants to work on

[2020-01-22 10:25] #3236 closed

[2020-01-22 11:29] GearGit commented on #3336
@maskaravivek I was assigned the issue #3222, but I think the upload_caption_depict branch will be merged with the master branch #3334. Therefore, I don't know if I can contribute to it or not.

[2020-01-22 11:38] nicolas-raoul commented on #3222
@macgills Ashish and I were mentoring Vanshika during her GSoC.
If you have any doubt on how the app is supposed to work with structured data, please ping me :-)

[2020-01-22 12:57] #3335 closed

[2020-01-22 13:33] VitalyVPinchuk commented on #3336
I think it is this commit that reverted changes https://github.com/commons-app/apps-android-commons/commit/8ccad2277d9974b82ae166e12f70b1e61d14d3ca#diff-9ce737f6c063c5b0b8182e771d45d97f

[2020-01-23 10:18] vibhusharma101 commented on #3336
can I Work on this?

[2020-01-23 10:21] vibhusharma101 commented on #2874
can I Work on this issue if it is not solved yet?

[2020-01-23 10:28] vibhusharma101 commented on #3288
can I Work on this if it is still open? @misaochan

[2020-01-23 11:03] vibhusharma101 opened #3340 "Cannot login into the app. Chain validation failure is showing"
Can Anybody tell me the test credentials to login into the app?
![WhatsApp Image 2020-01-23 at 4 33 25 PM](https://user-images.githubusercontent.com/39101226/72979344-216cfe00-3dfe-11ea-8566-c4baa5f0e450.jpeg)

[2020-01-23 11:07] #3340 closed

[2020-01-23 11:09] vibhusharma101 commented on #3320
I am also facing the same issue can anybody give the test credentials so that I can login into the application?

[2020-01-23 11:29] nicolas-raoul opened #3341 ""Page does not exist" near some usernames in Explore"
1. Go to Explore
2. Scroll until you see a username with "page does not exist" appended. Example:
![Screenshot_20200123-202312_Commons](https://user-images.githubusercontent.com/99590/72980824-aa942d00-3e1e-11ea-855d-a170b47b553e.jpg)
Expected: Just the username.

First figure out where this string comes from (server-side? app side?) then make it not be generated, or if impossible just filter it o

[2020-01-23 11:41] nicolas-raoul opened #3342 "Ghost metadata from Nearby"
I had something strange happen, but can't reproduce it.

1. I tapped a few pins in Nearby, including a pharmaceutical organization.
2. I did some other unrelated things while walking around.
3. With my stock camera app I took a picture of a train station.
4. I opened Commons, pressed the plus button in the home activity (my gallery)
5. I selected my train station pic
6. Surprise: Metadata prefille

[2020-01-23 12:37] vibhusharma101 commented on #3341
can I Work on this? @nicolas-raoul

[2020-01-23 15:29] vibhusharma101 commented on #3342
@nicolas-raoul  sir can I work on this issue?

[2020-01-23 16:30] maskaravivek commented on #3342
@vibhusharma101 Yes, it would be great if you could help in reproducing the issue and then pick it up. :)

[2020-01-23 16:32] maskaravivek commented on #3341
@vibhusharma101 Sure. Please help in checking this and comment here. Also, I see that you have requested to work on a lot of issues at once. I would suggest that you start with just 1 issue at first and check again for any unassigned issues.

[2020-01-23 16:33] maskaravivek commented on #3320
@vibhusharma101 you can create your own account on production and use it for testing. Use the production flavor of the app until this issue is fixed.

[2020-01-23 16:34] vibhusharma101 commented on #3320
ok sir @maskaravivek

[2020-01-23 17:47] gouri-panda commented on #3300
@neslihanturan  can I work this issue?

[2020-01-23 18:11] vibhusharma101 commented on #3341
ok Sir,  I will take care about this thing in future

[2020-01-23 23:57] maskaravivek commented on #3300
@gouri-panda Sure. It is yours. :)

[2020-01-24 04:18] ashishkumar468 commented on #3300
Hi @gouri-panda , We are about to merge a refactor branch of nearby(#3322 ). This issue should not happen any more. I would recommend you to wait for a few days (until that branch is merged) and if  the issue still persists, you can surely pick that up :).

[2020-01-24 04:19] ashishkumar468 commented on #3300
Assigning this to myself to avoid future confusions.

[2020-01-24 04:21] ashishkumar468 commented on #3336
@vibhusharma101  I have already added a PR for this. Feel free to help us in one of the other open issues :)

[2020-01-24 12:05] neslihanturan commented on #2874
@a18jouan are you still working on this issue? If not @vibhusharma101 wants to take it.

[2020-01-24 12:08] neslihanturan commented on #3288
ı don't think this issue exists at the latest version @vibhusharma101 , thanks for your interest :) Please let me know if you are unable to find a suitable issue for you.

[2020-01-24 12:12] neslihanturan commented on #3340
Hey @vibhusharma101 , we are using beta cluster ( https://commons.wikimedia.beta.wmflabs.org/wiki/Main_Page ) for test purposes, to not vandalize real commons servers with our test uploads. We all have a beta account along with our normal wikimedia accounts.

[2020-01-24 12:19] vibhusharma101 commented on #3288
Ok ,Thanks :) @neslihanturan

[2020-01-24 12:39] vibhusharma101 commented on #3341
@maskaravivek @nicolas-raoul  sir this is server side error because author name is set in GridViewAdapter class and which is taking information that we get after calling the api. We can filter this string because user can give any name to the author text view, So the easy option is to filter it out from the string in author's textView.

[2020-01-24 13:07] nicolas-raoul commented on #3341
@vibhusharma101 Great investigation! Could you please post here the whole HTTP response that contains that string? I think you can see it in the logs or by putting a debug breakpoint on a low level network method. Thanks :-)

[2020-01-24 13:08] kbhardwaj123 opened #3343 "TextUtils.isEmpty creates problems when unit testing with Mockito"
**Summary:**

While i was creating unit tests for some files which i changed. It used TextUtils.isEmpty which when tested using mockito always return false because of `unitTests.returnDefaultValues = false` mentioned in the gradle files

right now there are two work arounds:

- use PowerMockito and write mock logic for TextUtils.isEmpty
- use Robolectric which 10x time to run a test

**Would you l

[2020-01-24 13:09] kbhardwaj123 commented on #3343
I have a solution which is to create a default mock for all boolean returning text utils,if we use that then the developers who write unit tests won't have to manually create a mock using PowerMockito or use Robolectric which is much slower

[2020-01-24 13:10] kbhardwaj123 commented on #3343
For more info about this problem with Mockito refer:
https://stackoverflow.com/questions/35763289/need-help-to-write-a-unit-test-using-mockito-and-junit4

[2020-01-24 13:11] gouri-panda commented on #3300
Sure@ashishkumar

[2020-01-24 13:12] gouri-panda commented on #3300
@ashishkumar468 Sure

[2020-01-24 13:42] vibhusharma101 opened #3345 "Not able to Explore Images when I am not logged into the app."
**Summary:**

Not able to Explore Images when I am not logged into the app. This is the same exception which is coming when we are trying to login into the app.

**Steps to reproduce:**

How can we reproduce the issue?

What did you expect the app to do, and what did you see instead?

I Except the app to show me the images.

**System logs:**
**This is the request string**
[code]

**This is the log

[2020-01-24 13:43] vibhusharma101 commented on #3341
Sir I am not able to use the app in testing mode I have to use the production version of the app because I am not able to log in. and If I am not logged in I am not able to explore the images. I have also created an issue regarding the same thing.

[2020-01-24 13:46] vibhusharma101 commented on #3345
@nicolas-raoul  @maskaravivek sir please look into this as according to me there is problem with  the request string that we are sending to the server, because in login and in this both chain verification error is coming.?

[2020-01-24 21:02] kbhardwaj123 commented on #3278
As GCI is over can i start working on this issue ?

[2020-01-24 21:07] aklapper commented on #3278
Yes, I'd say so :)

[2020-01-26 09:11] vibhusharma101 opened #3346 "Upload limit is working even if I leave the upload limit edittext blank or if I press Cancel button"
**Summary:**
Upload limit is taking the first digit of last entered number a the upload limit if I am leaving upload limit edittext blank.

What did you expect the app to do, and what did you see instead?
I wanted app to show an toast displaying an error that upload limit edittext is empty.

**Screen-shots:**

![todayfifd](https://user-images.githubusercontent.com/39101226/73133075-c9c2d280-4049-1

[2020-01-26 12:01] vibhusharma101 opened #3347 "Store settings on backend?"
**Summary:**

All the settings are restored to Default automatically when I Logout and again Login in the app.

**Screen-shots:**
![helgf](https://user-images.githubusercontent.com/39101226/73134874-b1f74880-4061-11ea-9970-6dfe66a44d93.gif)

Can be created by pressing the Volume Down and Power Button at the same time on Android 4.0 and higher.

**Would you like to work on the issue?**

@maskaraviv

[2020-01-26 12:07] ashishkumar468 commented on #3347
@vibhusharma101 The app does not store such preferences in the backend, all this information is stored locally. As a result of which, whenever you logout, such preferences are cleared and hence not maintained across sessions

[2020-01-26 13:36] vibhusharma101 commented on #3347
Ok, sir . But sir we should try to save it in the backend for better user experience as user have to change the settings again and again.

[2020-01-26 13:49] vibhusharma101 commented on #3346
@ashishkumar0207  sir, Can I work on this?

[2020-01-26 14:04] ashishkumar468 commented on #3346
@vibhusharma101  It is yours, please feel free on posting updates on the same over here.

[2020-01-26 14:38] vibhusharma101 commented on #3346
@ashishkumar468  sir I am facing a little bit problem I am unable to login to the beta version of app.
chain validation failed is coming can you please send me some test credentials. In app in production mode on playstore, I am able to login but in Beta version of app I am unable to login.

[2020-01-26 17:31] maskaravivek commented on #3341
@vibhusharma101 You can see debug logs in the production app as well.

run `:app:installProdDebug`.

[2020-01-26 17:36] maskaravivek commented on #3320
@ashishkumar468 Since you have been assigned to this issue, can you also check #3345 as the error is the same for both issues.

[2020-01-26 18:25] GearGit commented on #3347
@maskaravivek  @ashishkumar0207
So is this an issue that has to be worked upon or not?

[2020-01-26 19:11] ashishkumar468 commented on #3320
Sure @maskaravivek , I guess my PR solves both of them

[2020-01-26 19:13] ashishkumar468 commented on #3346
Hi @vibhusharma101, I have added a probable fix for #3320. Once that is merged, I am sure you will be able to login with your beta credentials and use the beta flavor of the app.

[2020-01-26 19:31] #3320 closed

[2020-01-26 19:31] maskaravivek commented on #3345
Should be fixed with #3349

[2020-01-26 19:39] ashishkumar468 commented on #3345
This does not seems to be fixed, #3349 only influences the api calls with the app provided OKHTTP  Client

[2020-01-27 04:19] nicolas-raoul commented on #190
Random idea: As a bonus, it would save time if the app could automatically add blur zones at the right places when opening the blur edition activity. The user could then remove/edit/add blur zones, before going to the next step. Feel free to not include this bonus idea when fixing this issue, though.

[2020-01-27 04:36] nicolas-raoul commented on #3137
@Rui-Zhang1997 Are you still working on this? Feel free to post any findings or code, even if incomplete :-)

[2020-01-27 05:13] #3345 closed

[2020-01-27 09:11] misaochan commented on #746
Note: When we do this we should also increase the timeout limit for network-based procedures (e.g. logging in). We currently seem to time out after about 10 seconds.

[2020-01-27 09:28] misaochan commented on #3333
Thanks @nicolas-raoul . :) 2.13 is a long time away, but I will make a note that it is optional still.

[2020-01-27 14:03] nicolas-raoul commented on #3347
I suggest doing it only if the Wikipedia app already does it.
So, the first task would be to check whether the Wikipedia app does it or not.
Thanks for the fresh idea!
If the Wikipedia app does not do it yet, I suggest closing this issue and re-opening it when they do.

[2020-01-27 21:24] vibhusharma101 commented on #3347
Ok sir @nicolas-raoul

[2020-01-27 21:24] #3347 closed

[2020-01-27 21:24] vibhusharma101 commented on #3346
ok sir @ashishkumar0207

[2020-01-27 21:25] vibhusharma101 commented on #3341
@maskaravivek ok sir

[2020-01-28 01:28] animeshk08 opened #3352 "App Crashing when changing theme when an uploaded image is already viewed"
**Summary:**

The application is crashing.
If one clicks on an uploaded picture from the home screen then tries to change the theme of the application(dark/light) then returning to the previous activity the application will crash.

**Steps to reproduce:**

1. Upload a picture.
2. Go settings by swiping from left to right to open the Navigation Drawer.
3. Switch between the themes.
4. Press the bac

[2020-01-28 01:30] animeshk08 commented on #3352
I would like to work on this @nicolas-raoul @maskaravivek

[2020-01-28 04:31] ashishkumar468 commented on #3346
@vibhusharma101 Login issue has been resolved, please take a pull from master. Feel free to post updates on this issue :)

[2020-01-28 04:32] ashishkumar468 commented on #3352
@animeshk08  It is yours, feel free to post updates on this thread :)

[2020-01-28 04:34] ashishkumar468 commented on #3336
Merged in 2.12-release, closing this issue

[2020-01-28 04:34] #3336 closed

[2020-01-28 04:45] #3327 closed

[2020-01-28 04:48] ashishkumar468 commented on #3247
@harshchinu  Are you still facing the issue?

[2020-01-28 04:51] ashishkumar468 commented on #3218
@FernandaCG  Are you still working on this?
About this

You can check that using the title, the titles are supposed to be uniques, in fact, there is an existing method that lets you know if the file exists or not.

[2020-01-28 05:02] #3343 closed

[2020-01-28 07:04] harshchinu commented on #3247
Let me check and will revert back to you

On Tue, 28 Jan 2020 at 10:18, Ashish Kumar <notifications@github.com> wrote:

[2020-01-28 09:10] j9d3it commented on #3003
I agree with this one. All of the places around me that supposedly need a picture actually already have one on Wikimedia Commons and it's used in the relevant Wikipedia article. So, I think this should be implemented somehow. Existing pictures should be correctly linked to their article's Wikidata entry, and new ones could be uploaded as well.

[2020-01-28 13:10] refeed commented on #1529
So I want to update about this again, I'm really sorry for this, unfortunately the code that I had written for wmhack 2018 was deleted accidentally when I was reinstalling my laptop's OS a long time ago, I wanted to say about this earlier but I thought I could write the code again so I delayed it, but I'm busy with my university things now and I think it would take months for the WMF staffs to rev

[2020-01-28 18:45] #3278 closed

[2020-01-28 19:07] FernandaCG commented on #3218
Hi! @gouri-panda you can take the issue :D

[2020-01-28 19:08] gouri-panda commented on #3218
Thanks @FernandaCG

[2020-01-29 03:43] maskaravivek commented on #1499
@neslihanturan Can you share the PNGs for bookmark icons.

[2020-01-29 10:24] #259 closed

[2020-01-29 11:38] nemobis commented on #259
neslihanturan, 29/01/20 12:24:

Interesting! This is only after the user actively opens the Commons app
and selects the image, right? Or does it happen as soon as one takes the
picture?

[2020-01-29 12:04] neslihanturan commented on #259
It works for all uploads (from gallery or camera), as soon as these conditions are satisfied: https://github.com/commons-app/apps-android-commons/pull/3323#issuecomment-578273104

[2020-01-29 13:05] vibhusharma101 commented on #3346
@ashishkumar468 sir incorrect username password coming even if I enter correct one

[2020-01-29 14:55] gouri-panda commented on #3218
@nicolas-raoul  I can't reproduce this issue. I tried several times but it doesn't reproduce. Can you help me?

[2020-01-29 16:33] maskaravivek commented on #259
It doesn't trigger when a user clicks a picture from outside the app.

Works based on the logic described by @misaochan

https://github.com/commons-app/apps-android-commons/issues/259#issuecomment-386995266

[2020-01-29 16:37] nemobis commented on #259
Vivek Maskara, 29/01/20 18:33:

Ok. So https://phabricator.wikimedia.org/T143884 remains open for
whoever/whatever app wants to pick it up.

[2020-01-29 16:39] maskaravivek commented on #259
Yup. Also, AFAIK the phab task is for the Wikipedia app.

Moreover, in the future we can have a similar feature in the Commons app too ie as per T143884.

[2020-01-29 17:03] misaochan opened #3353 "Use "taken in" template"
From https://commons.wikimedia.org/wiki/Commons_talk:Mobile_app#{{Taken_in}} :

Would it be possible to use {{Taken in}} rather than a regular category? The categories actually state that they should not be added manually. Please see Revision #390555221 for what I am talking about.

[2020-01-29 17:07] misaochan commented on #259
and selects the image, right?

Yeah, we are starting with this for now. :) Might consider actual push notifications in the future, depending on user feedback.

[2020-01-29 17:14] nemobis commented on #259
Vivek Maskara, 29/01/20 18:39:

Indeed, that was the first idea because it was the most popular app at
the time and because we were reflecting on how to capitalise that to
increase contributions, while the Commons app is/was mostly directed
towards power users and in general users already meaning to contribute.

Things may change.

[2020-01-30 00:21] maskaravivek commented on #1499
@misaochan AFAIk as of now we already show the bookmarked places on the map. So all that is left for this task according to the grant proposal is to change the icon for the pin, right?

I too love the idea for having a filter for bookmarked places.  I guess we can create a separate issue for this task as its different from the original issue.

[2020-01-30 11:58] misaochan commented on #872
Sorry for the delay @maskaravivek , I edited the opening comment. Feel free to let me know if you need clarification on anything. :)

[2020-01-30 12:02] misaochan commented on #872
Additionally, there are two components of this that I'm not sure about, would greatly appreciate any suggestions @nicolas-raoul @VojtechDostal @dbrant @sivaraam
- The user's Wikipedia language version - I am not sure how we can find this. I guess if we can't, we can default to En, and the user can change it themselves in the browser?
- Log (or tag) the edits that are made via our app - I am actual

[2020-01-30 12:36] neslihanturan commented on #872
For the icon, what about this idea:
![g927](https://user-images.githubusercontent.com/3127881/73450350-45888c00-4376-11ea-92c2-39c31eb18c7e.png)

[2020-01-30 12:52] vishakha-a commented on #3333
@misaochan can I work on this issue?

[2020-01-30 14:03] misaochan commented on #872
Hmmm. What is the white square for?

[2020-01-30 14:53] neslihanturan commented on #872
I thought empty square indicates lack of image of an article, but considering your question it is not clear enough. I also thought putting a question mark inside the image field. What do you suggest?

[2020-01-30 15:13] misaochan commented on #872
Maybe just the Wikipedia icon? Let's see what others say. :)

[2020-01-30 15:25] misaochan commented on #3221
Closing in that case. :)

[2020-01-30 15:25] #3221 closed

[2020-01-30 15:44] misaochan commented on #2428
Bumping this since we are planning to put up https://github.com/commons-app/apps-android-commons/issues/2074 as an Outreachy/GSoC project this year. Assuming the Leaderboard implementation goes through, I guess implementing this could just involve pulling data from the leaderboard for the competition's duration, and giving the winner a barnstar or something? Of course, we'd need to do a lot of pub

[2020-01-30 15:46] misaochan commented on #3333
@vishakha-a Sure, let us know how it goes. :)

[2020-01-30 16:03] misaochan commented on #28
Now that we already have pins for Wikidata items with pictures, I wonder if it would make sense for the next step to involve displaying the actual picture (maybe in a tiny thumbnail, like [this](https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRZhR9I45smnnu_M1DupcB-uY8OQi6ZHe62j1iOyLoMQSpV1GrV). Especially if the user submits photos to Nearby, it would be encouraging for them to be able to

[2020-01-30 17:06] VojtechDostal commented on #872
Maybe the Wikipedia icon and a plus sign? :)

[2020-01-30 17:18] misaochan commented on #872
Oh yes, good idea IMO! The small plus sign can be on the upper right of the W icon perhaps?

[2020-01-30 17:34] misaochan opened #3355 "Do not display pins at all when "Needs Photo" is selected?"
Currently, when "Needs Photo" filter is selected, we still display the pins of Wikidata items that DON'T need photos, except that they are transparent. However, this seems to confuse users - for instance, one user thought that the transparent pins were the [items that "don't exist"](https://commons.wikimedia.org/wiki/Commons_talk:Mobile_app#Beta_map_not_working) (which kind of makes sense!).

Whil

[2020-01-30 18:10] misaochan opened #3356 "Wild idea: Create an actual game based on Nearby"
I've been toying with the idea of creating an actual mobile app game based on Nearby. We could essentially reuse most of our current backend code for authentication and getting the Nearby pins, the difference would lie in how they are displayed and used. **Note:** This is quite a spur-of-the-moment thought, it might not actually be a good idea. ;)

Differences with Nearby:

- UI: Music, full scree

[2020-01-30 18:47] misaochan commented on #1499
I think the few things that need doing are:
- Tidy up the bookmark system - it does not work sometimes AFAIK, and was done in bits and pieces. We should have it refactored to MVP, made more robust, unit tests added
- Change the icon for the pin - hopefully we can get other people's opinions on Nes's star icon suggestions :)
- The filter is a core part of this task IMO, there should be a way for th

[2020-01-30 18:56] VojtechDostal commented on #3355
I must say I was confused when I first saw this but I got used to it. If you don't mind, I'd be in favour of spmehow hiding the pins altogether which do not comply with the chosen criteria.

[2020-01-30 19:02] VojtechDostal opened #3357 "Keep in mind Wikidata's new way of modelling "former" objects"
I just noticed today that Wikidata is slowly changing the way former (demolished or destroyed) objects are modelled. It seems that the instance (of) former entity (and its subclasses) is slowly replaced by a new property P5816 (state of conservation). See [this change](https://www.wikidata.org/w/index.php?title=Q21034366&type=revision&diff=1058364336&oldid=1018673676) for example. [This discussion

[2020-01-30 23:06] mds08011 commented on #3356
I like this idea!  Some inspiration could potentially be drawn from StreetComplete which gamifies contributing to OpenStreetMap through “quests”: https://github.com/westnordost/StreetComplete/

[2020-01-31 03:24] GearGit commented on #3353
@misaochan Can I work on this issue?

[2020-01-31 03:30] GearGit opened #3358 "Feature: Pull to refresh in the Explore section of the commons app"
**Summary:**

It would be nice to have a pull to refresh feature in the explore section of the app.

**Would you like to work on the issue?**

Yes.

[2020-01-31 06:50] sivaraam commented on #872
I think its fine to ask the Wikipedia language from the user via a setting. Even the Wikipedia app just asks the users to choose the languages in which the user would like to explore Wikipedia. Also, from my initial exploration I couldn't find an API which would give us that information. It would have been nice if there is a counterpart of `Special:MyLanguage` that redirects users across wikis 😉

[2020-01-31 06:53] sivaraam commented on #872
Regarding the icon, I really like both the ideas: using just a plain Wikipedia logo and a Wikipedia logo with a 'plus' sign that appears on the upper right of icon. It would be nice to actually compare both and decide which looks best.

[2020-01-31 18:47] mds08011 opened #3359 "Duplicate photos in "Contributions" page"
**Summary:**

After uploading photos, I see duplicate images in the app's "contributions" screen.

**Steps to reproduce:**

1. Upload an image to Wikimedia Commons using this Android App.
2. Look though your photos in the "contribution" for duplicate images (they may not be adjacent to each other in the image feed).
3. View your account's "uploads" on https://commons.wikimedia.org and look for any

[2020-01-31 21:11] 6point022 commented on #3329
@nicolas-raoul Can I work on this issue? I have identified the code which is causing this and would like to get someone's go-ahead to start working on this.

[2020-01-31 22:37] neslihanturan commented on #3329
Hi @6point022 , this seems like a new feature request, more than a bug report.

[2020-02-01 01:18] nicolas-raoul commented on #28
great idea! It should not cover the no-picture pins, though.

On Fri, 31 Jan 2020, 01:03 Josephine Lim, <notifications@github.com> wrote:

[2020-02-01 06:02] 6point022 commented on #3329
@neslihanturan The app provides the user the option to change the default language, but nothing happens on doing so. Isn't it a bug if the app gives unexpected results or behaves in unintended ways? Shouldn't the option either work properly or be removed completely?

[2020-02-01 07:14] mds08011 commented on #3235
I agree.  Both the bright white and check marks make me think "selected".

On a related note, the dark text in "Place type" is a bit hard to read against the dark blue background.  Perhaps this could be a lighter grey?  It looks much clearer in this screenshot, but while on my phone I had trouble finding the "X" to close the "place type" drop down menu.

<img src="https://user-images.githubusercon

[2020-02-01 10:08] misaochan commented on #3235
Having used it a bit more now I agree, I think keeping a uniform color is best. If we did keep the colors, I would personally think that "greyed out" means NOT selected (the reverse of what we are currently doing)... but I recall we discussed that and had differing opinions. :)

@mds08011 The dark text is fixed in #3331 , so will probably be out in the next version.

[2020-02-01 10:15] misaochan commented on #28
@nicolas-raoul Hmm, yeah, I reckon there's a way to set the no-picture pins to always be in front (I hope).

[2020-02-01 10:19] neslihanturan commented on #3329
No worries @6point022 , there is a confusion between language of the description and language of the app:) Would you still be interested to work on this feature, ie. adding a new setting to change app language, default setting should be phone local as we do now.

[2020-02-01 10:24] misaochan commented on #3358
I personally don't think this is necessary? There's only a very low chance for items in Explore to change in the span of time that the user is browsing them, and they auto-refresh in between app sessions.

Either way, I'm happy to keep this issue around, but please be aware of the rules re: new contributors being required to work on "bug" and "good first issue" issues for their first 5 contributio

[2020-02-01 10:26] misaochan commented on #3353
Sure @GearGit , please keep us updated. :)

[2020-02-01 10:40] misaochan commented on #872
Yes. :) But I just realized that, AFAIK, when we do the checks on whether a Wikipedia article exists for that item, we only check the EN version (@maskaravivek can you confirm this?). So if we are to do this, we firstly will need an easy way for the user to choose their desired Wikipedia language while in Nearby, and we also need to modify the Nearby query to use that language to begin with.

[2020-02-01 13:01] neslihanturan opened #3360 "Add filters to review tool"
**Summary:**
This suggestion came from a user to the email list. To summarize our user says:
1- People should be able to review by their expertises
2- By image geo-locations

We can extend this scope by adding category filter, or file name search too. So that people will be able to review specific files. What do you all say?

[2020-02-01 13:04] neslihanturan opened #3361 "Improve review feature documentation"
**Summary:**
Currently our review tool is not well documented. It is not clear what happens when user click to buttons. This lack of information may prevent users from using this tool, since they don't know what they effect. Some infoboxes can be added to inform users about.

[2020-02-01 13:26] animeshk08 commented on #3352
This issue persists in other sections as well(Explore, Bookmarks) when you view an image and then change the theme. It has something to do with the activity lifecycle, as when finish and start the activity again instead of calling recreate() method of BaseActivity the application works fine. Can anyone help me with this?

[2020-02-01 14:16] 6point022 commented on #3329
@neslihanturan I would love to work on this! However, I will need some guidance because the codebase still feels overwhelming to me.

Will this be a good way to proceed?
1. I will add an option in the Settings for the user to change the app's language.
2. I will save this preference using Shared Preferences.
3. I will create a method that will change the app's language.

Now, I want to understand

[2020-02-01 16:02] vibhusharma101 commented on #3361
@neslihanturan  can I work on this ?

[2020-02-01 16:59] vibhusharma101 commented on #3341
@nicolas-raoul  {"error":{"code":"missingtitle","info":"The page you specified doesn't exist.","*":"See https://commons.wikimedia.beta.wmflabs.org/w/api.php for API usage. Subscribe to the mediawiki-api-announce mailing list at &lt;https://lists.wikimedia.org/mailman/listinfo/mediawiki-api-announce&gt; for notice of API deprecations and breaking changes."},"servedby":"deployment-mediawiki-09"}
thi

[2020-02-01 18:36] ciphereck commented on #3360
Can I work on this issue? I have some knowledge about filtering?

[2020-02-01 18:58] ciphereck commented on #3235
@misaochan Can I work on this issue?

[2020-02-01 20:20] maskaravivek opened #3363 "Information for all GSoC/Outreachy aspirants"
Everyone, welcome to our GitHub repository! Thanks for showing interest in the Commons Android app.

I am posting this information as some of you have messaged me asking where to get started.

### How do I get started?

- Look for  "good-first-issues" and volunteer to pick one up.  Also, some of the issues might have been assigned a long ago, so you can comment on the issue thread to check whether

[2020-02-01 23:45] animeshk08 commented on #3352
After looking a lot through the source code. I understand that the problem persists because we try to access a view element before the view is actually created. This happens in ContributionsFragment.
When the activity is recreated as there are savedinstances the following segment is executed.
Line:145
`if (savedInstanceState != null) {
            mediaDetailPagerFragment = (MediaDetailPagerFragme

[2020-02-01 23:47] animeshk08 commented on #3352
Also, while exploring the bug I found that it was very prominent as it replicates itself even in the Bookmark section and Explore section.

[2020-02-01 23:59] animeshk08 commented on #3361
@neslihanturan Can I work on this?

[2020-02-02 00:10] animeshk08 opened #3364 "Crash: Application crashes on uploading a large image"
**Summary:**

The application crashes on uploading a very large image. In this case, the image size was 28.69MB.

**Steps to reproduce:**

1. Find an image which has a large size.
2. Try uploading it.

**System logs:**

java.lang.RuntimeException: Canvas: trying to draw too large(192000000bytes) bitmap.
        2020-02-02 05:35:10.603 30429-30429/fr.free.nrw.commons.beta E/AndroidRuntime: FATAL EX

[2020-02-02 00:13] animeshk08 commented on #3364
Can I work on this issue ?@maskaravivek, @ashishkumar0207

[2020-02-02 05:04] kbhardwaj123 commented on #3364
I  think we can implement image compression before uploading them, however i doubt it's a good idea from user experience standpoint. I mean the standard carrier networks may take a while to upload such a big file, we can prompt users to select file less than , say 20MB

[2020-02-02 05:10] ashishkumar468 commented on #3364
@kbhardwaj123  One possible solution could be to display a compressed version on the UI and  upload the original version

[2020-02-02 05:33] kbhardwaj123 commented on #3364
@ashishkumar468 yeah that seems appropriate, we can show a compressed one after the file is picked form the gallery or camera intent, so we need to fix this upload issue if we are about to upload the original one

[2020-02-02 05:34] ashishkumar468 commented on #3364
Tagging @maskaravivek & @nicolas-raoul  @misaochan  for their inputs.

[2020-02-02 05:48] maskaravivek commented on #3235
Yes, sure. Assigned to you.

[2020-02-02 05:49] maskaravivek commented on #3360
@ciphereck I have assigned you #3235. Once that is done, you can check again to see if this issue is unassigned. :)

[2020-02-02 08:26] animeshk08 commented on #3364
Sir, I think we should allow the users to upload such high resolution images, as the picture I was trying to upload was also taken from the phone camera. Also, the error exists when we try to inflate the image in the background after it has been retrieved from the media storage. So I think even in other sections like explore and contributions we will get the same error when we will click on the im

[2020-02-02 14:06] 6point022 commented on #3329
@neslihanturan I would love to work on this! After going through the code, I have finally got some idea of how to begin. If possible, please assign this issue to me. Thanks!

[2020-02-02 14:49] animeshk08 opened #3367 "Bug: SoftKeyboard showing even after switching from nearby tab to contribution tab"
**Summary:**
While searching for a place type if we switch from nearby tab to contributions tab the keyboard is still visible

**Steps to reproduce:**

How can we reproduce the issue?
1. Open nearby tab.
2. Search for a place type.
3. With the soft keyboard visible open contributions tab

What did you expect the app to do, and what did you see instead?
The soft keyboard should have collapsed

**De

[2020-02-02 15:02] ashishkumar468 commented on #3367
Hi @animeshk08 , A major refactor branch of nearby is about to be merged. I would recommend you to wait for it to be merged and if the issue still persists, feel free to pick it up .

[2020-02-02 15:17] animeshk08 commented on #3367
Okay I had already created a PR along with the issue.

[2020-02-02 15:18] animeshk08 commented on #3367
Also, can you provide some inputs for Issue #3352 @ashishkumar468

[2020-02-02 15:19] madhurgupta10 commented on #3259
@apap04 I think we can close this now!

[2020-02-02 16:08] ashishkumar468 commented on #3352
@animeshk08 Another simple (possible) solution should be to change the lifecycle callbacks where the presenter is attached/detached, instead of doing those in onCreateView & onDestroyView, we could do that in onResume & onStop (or if you think another better place). Ideally, the showProgress should not be called after the fragment is not longer active

[2020-02-02 17:01] animeshk08 opened #3369 "Enchancement: Preventing multiple clicks on views which open Webview/BrowseIntent"
**Summary:**

A lot of views in the application opens BrowseIntent. However, clicking on these views multiple time the intent is also created multiple times which is quite heavy. Hence we can disable the button between successive calls so as to prevent multiple intent calls.
**Steps to reproduce:**

1. Click on campaign view multiple times in a short period of time.

**Device and Android version:*

[2020-02-02 20:18] GearGit commented on #3353
@misaochan I looked into Revision #390555221, but I didn't quite understood what is to be done exactly.
Can you help me out?

[2020-02-02 20:23] gouri-panda commented on #3359
@mds08011 This  issue already exists #3218

[2020-02-02 20:23] GearGit commented on #3363
@maskaravivek I have multiple possible project ideas for Commons Mobile App, should I message you directly or will it be discussed here?

[2020-02-02 20:24] #3367 closed

[2020-02-02 21:23] animeshk08 commented on #3369
Sir can I get some inputs on this? @maskaravivek @ashishkumar468 @nicolas-raoul

[2020-02-02 21:37] apap04 commented on #3259
closed :)

[2020-02-02 21:37] #3259 closed

[2020-02-02 22:48] maskaravivek commented on #3363
This is the project that we have proposed for this year's GSoC/Outreachy. https://phabricator.wikimedia.org/T217439

If you wish to discuss other ideas, you can send an mail about it.

[2020-02-03 14:04] kbhardwaj123 commented on #3295
@maskaravivek @nicolas-raoul Sir this issue seems quite intriguing, can i work on this ?

[2020-02-03 18:47] mds08011 commented on #3218
I am having a similar issue.  However, I didn't have an uploading error message and it looks like only one copy of my image uploads commons.wikimedia.org the app showing two.

**Summary:**

After uploading photos, I see duplicate images in the app's "contributions" screen.

**Steps to reproduce:**

1. Upload an image to Wikimedia Commons using this Android App.
2. Look though your photos in the "c

[2020-02-03 18:48] mds08011 commented on #3359
Thank you.  I moved my bug report to the existing issue.  Note that my case is slightly different in that I didn't see any uploading error messages and only one copy of my image uploads commons.wikimedia.org despite the app showing two.

[2020-02-04 04:21] nicolas-raoul commented on #3359
I don't think it is the same issue, actually.
Malcom has not experienced any failed upload, yet duplicate picture show up.
Actually I had the same issue until recently.
I signed up for the alpha, then uninstall and reinstalled, now it is better. Could you please try @mds08011 ? https://github.com/commons-app/apps-android-commons/wiki/Volunteers-welcome%21#how-to-install-the-alpha Thanks for your f

[2020-02-04 04:24] nicolas-raoul commented on #3218
@Ainali Do you mean all failed uploads show correctly after you retry them? Have many times did you perform the steps? Thanks :-)

[2020-02-04 08:45] neslihanturan commented on #872
Here are some more, regarding to comments. My favourite is the first, rounded one.

![add_wiki](https://user-images.githubusercontent.com/3127881/73728098-c31c1580-4743-11ea-90ca-a589423d4231.png)

[2020-02-04 09:05] #3303 closed

[2020-02-04 09:05] #3287 closed

[2020-02-04 09:40] ciphereck commented on #3360
@neslihanturan can I start working on this ?
I have already submitted a PR for #3235

[2020-02-04 12:21] ashishkumar468 opened #3371 "App Crashes when LastKnownLocation is null"
**Summary:**

Summarize your issue in one sentence (what goes wrong, what did you expect to happen)
* On Granting Location Permission, if somehow last known location is null, app crashes

**Steps to reproduce:**
 Open Nearby on Fresh Install, Grant Location Permission

**System logs:**

[code]

**Device and Android version:**

Samsung S7, Api 27

**Commons app version:**
Current master

**Would yo

[2020-02-04 13:11] animeshk08 commented on #3364
Any updates on this, Sir? @maskaravivek @nicolas-raoul @misaochan

[2020-02-04 15:01] #3371 closed

[2020-02-04 15:32] aarushivij commented on #3363
hey @maskaravivek
The view to this link is restricted

[2020-02-04 17:00] misaochan commented on #3364
Going to tag @nicolas-raoul for this one, as I am not sure what the Commons community's stance is on extremely large uploads - it will affect whether we choose to compress before or after.

[2020-02-04 17:42] misaochan commented on #3363
Have you created an account?

[2020-02-04 17:47] 6point022 commented on #3363
@misaochan The issue still persists after creating an account.

![image](https://user-images.githubusercontent.com/44764339/73771446-6bfa5d00-47a4-11ea-9476-ff29c9363b3a.png)

[2020-02-04 17:49] dzekem commented on #3363
Have the same issue too after creating an account.

[2020-02-04 17:57] ciphereck commented on #3363
I created the account. Still getting the same issue.

[2020-02-04 17:58] misaochan commented on #3363
Ah yes, we need @maskaravivek to edit the task then. :)

[2020-02-04 18:02] misaochan commented on #872
I actually vote for number 3 (from left to right), because the upload FAB is already a circle, haha. Also I feel they should be smaller than the FAB. But let's see what the others say...

[2020-02-04 18:13] misaochan commented on #4
@brion has offered to help implement this, yay! :)

We should talk about how to best handle potential video-selfie-pocalyptic issues, too. I personally think that it would suffice to have a simple addition to the tutorial or a tooltip, when the feature is implemented... but am open to other suggestions.

[2020-02-04 19:17] brion commented on #4
My rough plan is to test on-device transcoding to VP8 or VP9 since that can make use of the device OS and hardware codecs -- Android provides most of the plumbing needed. Performance will make or break this, but I think it should be adequate...

It might be possible to combine transcode and upload into a single pass, but I'm not sure of that (depends on if we need the final file size before we sta

[2020-02-04 20:38] animeshk08 commented on #3206
Hi, is this issue still being discussed? @neslihanturan  I have also faced this issue. Please see the below screenshot for better understanding. As you can see from the touches on the screen. The questions are not swipeable in the text region. However, on swiping across the blue region(3 white dots), the questions do get skipped and that too both ways. However, this functionality is not very intui

[2020-02-04 20:39] animeshk08 commented on #3360
@maskaravivek @neslihanturan  Can I work on this issue?

[2020-02-04 21:32] maskaravivek commented on #3363
I have updated the task link. It should work now.

[2020-02-05 02:24] ciphereck commented on #2649
@misaochan @maskaravivek @nicolas-raoul
Can I work on closing this issue?

[2020-02-05 02:37] maskaravivek commented on #2649
Yes, sure. It is yours.

[2020-02-05 08:34] ciphereck commented on #2649
I wrote some tests of ImageUtils class. But I'm not able to run it. It shows error "No tests were found".
I try to run tests using both ImageUtilsTest Class and the test function I created. But it's showing the same error. It's showing the same error, for tests written in the past as well by someone else.
Can anyone help?

[2020-02-05 08:55] misaochan commented on #3353
The revision shows that "[[Category:Taken with Samsung Galaxy M30s]]" was moved to "{{taken in|Samsung Galaxy M30s}}" in the "|source=" line. Basically, they are suggesting we do this for all categories starting with "Taken with".

[2020-02-05 08:58] misaochan commented on #3353
Edit: Actually, I looked at the file page and that revision looks wrong to me. https://commons.wikimedia.org/wiki/Template:Taken_in does not seem like it should be used for "Taken with", because a location is desired and not a camera model. Perhaps this issue is not so straightforward after all. :/ @nicolas-raoul what do you think?

[2020-02-05 09:36] GearGit commented on #3353
@misaochan
So should I work on this issue or not?

[2020-02-05 09:42] misaochan opened #3374 "Create "information pack" about our app for Wikimedia chapters who are interested in running Commons workshops"
It feels to me like our app could improve our engagement with Wikimedia chapters - currently, AFAIK, the only chapter that is familiar with us is WMCZ. :) In a potential future grant, I was thinking about contacting other chapters about our app and creating an "information pack" that we could offer to those who are interested. This could contain perhaps a presentation about our app with screenshot

[2020-02-05 10:57] misaochan commented on #3353
We can unassign it from you for now and you can look for a different issue. When we come to a consensus we can open it up again.

[2020-02-05 11:15] misaochan commented on #746
This seems like it would be useful for users with slow connections. A user is reporting that their slow connection necessitates a [1-minute download](https://commons.wikimedia.org/wiki/Commons_talk:Mobile_app#Beta_map_not_working) every time they load Nearby.

[2020-02-05 11:53] Zthomasdewp opened #3375 "Special upload for campaign like WLE and WLM"
**Summary:**

The App should support campaigns like Wiki Loves Monuments and Wiki Loves Earth.

It would be useful that it is possible to upload pictures for Wiki Loves Monuments and Wiki Loves Earth. Adding the "Template" of the campaign.

It would also be useful to fitler for objects that belong to the campaign like "Natural monuments" and "Cultural heritage monunments" or Wikidata-Items like th

[2020-02-05 12:16] GearGit commented on #3375
@Zthomasdewp I would like to work on this issue.

[2020-02-05 12:19] GearGit commented on #3359
I would like to work on this issue @misaochan @mds08011

[2020-02-05 12:21] ashishkumar468 commented on #3359
@GearGit  Please verify if the build still exists over here https://github.com/commons-app/apps-android-commons/wiki/Volunteers-welcome%21#how-to-install-the-alpha. If yes, feel free to pick this up

[2020-02-05 13:16] ashishkumar468 commented on #2649
@ciphereck  Please attach a screenshot

[2020-02-05 13:21] ciphereck commented on #2649
![Screenshot from 2020-02-05 18-49-36](https://user-images.githubusercontent.com/24265219/73845369-7706c900-4848-11ea-9bb8-205eb5e9d3c2.png)

Here it is @ashishkumar468

[2020-02-05 13:24] ashishkumar468 commented on #2649
Such things happen due to invalid-test configurations. To Validate, try this open any Test class and right-click and Run.

[2020-02-05 13:28] ciphereck commented on #2649
I did the same thing. Ran from the green arrow button and by right-clicking also.
Although just changed from prodDebug to betaDebug and clean and build it again. And it's working. Idk why it's working now.

[2020-02-05 13:35] kbhardwaj123 commented on #3363
it just works now :)

[2020-02-05 16:37] ashishkumar468 commented on #2649
@ciphereck  My guess would be that this could be because of some improper configurations, anyways, it's working for you now, right?

[2020-02-05 17:55] petkakisgeorge opened #3376 "Letters in Peer Review"
**Summary:**
Some words doesn't appear correctly to the user . The line <VIOLATION> under the <NO, COPYRIGHT> and some of the descriptions.

**Steps to reproduce:**
We could change the dimensions.

**Device and Android version:**
Redmi note 5 , Android version 9

**Commons app version:**
2.12.3

**Screen-shots:**
![Screenshot_2020-02-05-19-40-04-954_fr free nrw commons](https://user-images.githubu

[2020-02-05 18:05] mds08011 commented on #3359
I installed the Alpha release (Version: 2.12.3.568~fdbe53d) and my issue appears to be fixed.  However, I am suspicious that it was the act of installing and reinstalling the app, not the Alpha release itself, that resolved it.

[2020-02-05 18:07] ashishkumar468 commented on #3359
Hey @mds08011 , Can you try following the steps you have mentioned in the issue, maybe then we can conclude if it's actually fixed or not.

[2020-02-05 20:38] madhurgupta10 opened #3377 "Automatic Switching to Night Mode if system wide Dark Theme is enabled"
**Summary:**

With the new Android 10, there is a system-wide dark theme available.
Most of the apps automatically turn on/off the dark theme if it is enabled in the phone's setting.
We can add an option in our app's settings which will automatically switch to the preferred mode.

**Screen-shots:**

![Screenshot_1580935030](https://user-images.githubusercontent.com/30932899/73880935-6d4f8680-4885-

[2020-02-06 08:27] ciphereck commented on #2649
Hi,
I'm getting a problem.
The line number 99 ( bmp = BitmapFactory.decodeFile(imagePath); ) which is supposed to convert an image into bitmap is always returning null when I'm calling it from the text file.
I tried whether it is the same case when running on mobile with debugging, but on mobile while debugging it's working just fine and returning bitmap as required.
While testing it returns null

[2020-02-06 12:16] GearGit commented on #3376
@petkakisgeorge Can I work on this?

[2020-02-06 14:20] ShridharGoel opened #3379 "Migrate to Android Architecture Components"
This is a suggestion to migrate the app to the Android Architecture Components which include ViewModels, LiveData and Data Binding. It is a part of Android Jetpack.

Migrating to MVVM has many advantages like it solves the issue of tight coupling as well as improves testability along with other benefits like the use of lifecycle aware components. MVVM is recommended by Google and is preferred over

[2020-02-06 19:03] GearGit commented on #3379
I think the existing architecture is supporting the app well enough and there is no need to migrate the app to a whole new architecture.
@nicolas-raoul @maskaravivek @ashishkumar468 @misaochan
What's your take on this?

[2020-02-06 19:08] ShridharGoel commented on #3379
@GearGit You won't notice much difference in the working of the app even if we don't use any architecture pattern and put all the code into the activities without having presenters. But the actual reason why architecture patterns are used is to make the code more efficient and the development process better. That's why I think migrating to MVVM would be a good idea and would be helpful in the futu

[2020-02-06 19:08] animeshk08 commented on #3379
I also believe the same. Even though Google promotes MVVM. They never suggested, it is the most suitable architecture for every android application. The current MVP architecture looks pretty robust and I dont think we really need to migrate from it.

[2020-02-06 19:13] animeshk08 commented on #3379
Your take is right @ShridharGoel . The entire point of an architecture is to improve scalability.
That is why we are following MVP architecture.
Unless there are specific cases which MVP fails to prove efficient, there should not be a need to switch to MVVM.

[2020-02-06 19:18] ShridharGoel commented on #3379
MVP fails to be efficient when testability is concerned. Since there is dependency of views in case of MVP, unit testing becomes difficult. Similarly, there are other things too where MVVM is much better like it solves the issue of tight coupling and the use of lifecycle aware components have their own advantage.

[2020-02-06 19:21] animeshk08 commented on #3379
Yes. MVVM does makes testability more effecticient and I think of the main goals of 2020 for commons app was to improve on the unit tests. Should we discuss more on this @maskaravivek @ashishkumar468 @nicolas-raoul

[2020-02-06 21:07] maskaravivek commented on #3379
@ShridharGoel Thank you for suggestion. We recently moved to MVP after a lot of discussion in #888. Still if you think some of the issues are not handled by our current architecture then it would be great if you take a look a look at our current codebase and list down specific examples where MVVP could have been more efficient.

[2020-02-06 21:49] maskaravivek commented on #3376
@GearGit yes, sure. its yours.

[2020-02-06 23:55] nicolas-raoul opened #3380 ""Nearby Place found" despite already Nearby upload"
Via Nearby, I took a pic of https://www.wikidata.org/wiki/Q21019339 (日本福音ルーテル社団)

Problem: While entering title, it asked me whether it is a pic of https://www.wikidata.org/wiki/Q11386485 (Oreno Hamburg Yamamoto) :
![Screenshot_20200207-083854_Commons](https://user-images.githubusercontent.com/99590/73988763-05816480-4987-11ea-8838-732fa0951078.jpg)
I said no, obviously.

Sad result: pic is linked

[2020-02-07 01:47] madhurgupta10 commented on #3380
@nicolas-raoul Can I work in this
?

[2020-02-07 05:15] nicolas-raoul commented on #3380
@madhurgupta10 Sure, thanks! :-)

[2020-02-07 05:18] madhurgupta10 commented on #3377
@nicolas-raoul What do you suggest?

[2020-02-07 06:39] madhurgupta10 opened #3382 "Notification message icon's background stays white in night mode"
**Summary:**
The notification message icon's background stays white in night mode.

**Steps to reproduce:**
Open the notifications with night mode enabled.

**Device and Android version:**
Android 10 API Level 29 Google Pixel 2

**Commons app version:**
2.12.3 beta-master

**Screen-shots:**
![Screenshot_1581056852](https://user-images.githubusercontent.com/30932899/74006751-aa5d6b00-49a2-11ea-8ab8

[2020-02-07 07:29] animeshk08 commented on #3364
Sir any updates on this? @nicolas-raoul

[2020-02-07 09:50] misaochan commented on #780
I think this is done. :)

[2020-02-07 09:50] #780 closed

[2020-02-07 13:32] #3382 closed

[2020-02-07 13:39] #3235 closed

[2020-02-07 16:31] mds08011 commented on #3359
I am still experiencing this issue on Alpha Version: 2.12.3.569~b13d888

[2020-02-07 17:25] mds08011 commented on #3376
I am experiencing a similar issue.  The text below “Is this correctly categorized?” is displayed from edge to edge of my screen.  It would help to have a larger margin.

<img src="https://user-images.githubusercontent.com/8010709/74050326-b4736f80-498a-11ea-9721-f645805224c8.png" width="50%">

[2020-02-07 17:48] GearGit commented on #3376
If I change the width in the layout, then other text will not behave as expected, although we can maybe make the container's height dynamically adjust to text length, where the height of the container will be bounded by maximum and minimum height?
@maskaravivek What do you say, although I have made changes and resolved the issue?

[2020-02-07 17:49] mds08011 commented on #2909
This bug is still present in version 2.12.3.569~b13d888.

Also, my "Requesting category check" notification never finished, was not able to be cleared, and persisted even after quitting the app.

<img src="https://user-images.githubusercontent.com/8010709/74051525-f8677400-498c-11ea-8836-4dbf29a06ba8.png" width="50%">

[2020-02-07 17:55] mds08011 commented on #3376
What about reducing the text size instead of the container size?  I think the text would still be readable even if a little smaller.

[2020-02-07 18:08] GearGit commented on #3376
That is also a possibility but it's up to the mentors. Let's wait for their approval first, if they allow then I will make the necessary changes.

[2020-02-07 18:34] mds08011 opened #3384 "Image Category Search Results"
**Summary:**

When searching for categories, the most relevant category is not shown if searched for directly.  When I searched for "Ulster", the app suggested the category "Ulster Bank".  But when I searched for "Ulster Bank", no categories were shown.

**Steps to reproduce:**

1. Begin uploading an image.
2. When selecting a category, search for "Ulster".  You should see "Ulster Bank" in the res

[2020-02-07 19:18] maskaravivek opened #3385 "Prepare an API behavior document for all the APIs used by the app"
**Summary:**

The commons app uses quite a few MediaWiki APIs throughout the app. It would be great to have an API collection with all the HTTP calls added there.

It would facilitate in debugging issues quickly. We can quickly call and check an API to observe the response/latency or timeouts.

We can probably use https://www.postman.com/ or https://postwoman.io/ or some other framework for our AP

[2020-02-07 19:46] misaochan opened #3387 "Encourage users by automatically creating (or adding) the category: photos by [username]?"
I received a suggestion that adding a category "Photos by [username]" when a user uploads a photo, could potentially encourage more uploads. A lot of power-users already have a category with their name, so I wonder if extending it to other users would be okay? Or would it create too much clutter? @nicolas-raoul @VojtechDostal

[2020-02-07 19:51] misaochan opened #3388 "Organize a "Nearby Places that need photos" walk?"
A suggestion I received: An event like "let's take a walk in the city, take some photos, and upload them to Commons" would potentially sound fun and attractive to new contributors. This would be different from a workshop in that, rather than an official "tutorial" on how to use the app, it would be an outdoor exercise and would focus primarily on using Nearby. Thoughts?

@sivaraam @VojtechDostal @

[2020-02-07 20:02] GearGit commented on #3385
@maskaravivek
Can I work on this? It would improve my understanding of MediaWiki APIs

[2020-02-07 20:12] misaochan commented on #2068
Was this implemented?

[2020-02-07 20:21] maskaravivek commented on #3385
Yes, if you wish to pick this up then you can start by creating a list of APIs with the parameters. We can later take a call to go with either postman or postwoman.

[2020-02-08 03:13] GearGit commented on #3385
The External API section in the documentation of the app contains a list of API used by the app. Is there any other API used whichbis not mentioned in the Docs?
If yes then please do let me know, else I will create a list of API with their respective parameters.

https://github.com/commons-app/apps-android-commons/wiki/External-APIs

[2020-02-08 05:49] maskaravivek commented on #3385
This doc was last updated in 2017 and a lot has changed since then. It would be great if you could play with the app and figure out what all APIs are used based on the logs. You can also look at retrofit interface classes to see the APIs.

[2020-02-08 05:59] WikiDocJames commented on #4
Having the ability to upload video directly from my phone using the commons app would be wonderful. Just took some video of leaping benny, a fish, and the still images do not do them justice.

[2020-02-08 07:04] sivaraam commented on #3388
This sounds really interesting! It would be more practical and entertaining if we could find the appropriate place for such an event.

The place would play an important role because if there aren't enough interesting things to capture and upload then it wouldn't be fun. Nearby does show places which need images but I'm not sure if all places that need an image would be interesting enough for such

[2020-02-08 07:10] sivaraam commented on #3387
Excuse my ignorance, but how is adding a "Photos by [username]" category to every photo uploaded by an user different from what [Special:ListFiles](https://commons.wikimedia.org/w/index.php?title=Special:ListFiles) does (listing all files uploaded by the user)?

I just don't see how this would encourage users to upload more images 🤔

[2020-02-08 07:28] ciphereck commented on #2649
Hi,
Can anyone help why BitMapFactory is not able to convert image into Bitmap in darkness checking logic?

[2020-02-08 08:37] nicolas-raoul opened #3389 "User profiles"
Currently, tapping a user's name (when seeing a picture) does nothing.
It would be great if that could open an activity that shows:
- This user's level and statistics (reuse the current Achievements activity? Or even transform the Achievements activity to just show one's own profile activity?)
- A "view in browser" button that shows a link to this user's web page, for instance https://commons.wiki

[2020-02-08 08:38] nicolas-raoul commented on #3387
I sometimes see these categories, and I always think it is redundant and wasteful lol

This could encourage people, as it makes it a bit easier to jump to other pictures by this user, but I think that solving this problem via categories is not the best solution. How about starting to solve this problem via https://github.com/commons-app/apps-android-commons/issues/3389 instead? :-)

[2020-02-08 08:40] animeshk08 commented on #3389
I would like to work on this issue. @nicolas-raoul .
I think we can show the user's webpage on clicking the username. It would encourage them to upload more pictures and also get more details of the images they have already uploaded

[2020-02-08 08:49] nicolas-raoul commented on #3388
Yes, I would use it :-)
Ideally the user would be able to select what distance they can/want walk, for instance 1km/2km/5km/10km/20km. The algorithm would then calculate the route, going via as many places with no photo as possible. In the countryside it might not be funny, but in most cities it should find enough places. If there are no places at all that need a picture, switching to ALL Wikidata

[2020-02-08 09:29] nicolas-raoul commented on #3389
@animeshk08 Thanks for getting involved! Are you sure you satisfy this condition, though? :-)

https://github.com/commons-app/apps-android-commons/wiki/Volunteers-welcome%21#developers

[2020-02-08 11:15] nicolas-raoul commented on #3384
Thanks for reporting!
Somehow the website seems to get it right:
<img width="809" alt="Screen Shot 2020-02-08 at 20 13 35" src="https://user-images.githubusercontent.com/99590/74084161-97848c80-4aaf-11ea-95cf-91701a45af88.png">
We should compare the requests parameters.

[2020-02-08 11:52] ciphereck commented on #3384
Can I work on this @nicolas-raoul

[2020-02-08 12:04] nicolas-raoul commented on #3384
@ciphereck Yes, thanks! Please post about your progress every day or so :-)

[2020-02-08 12:40] sivaraam commented on #1038
I can't reproduce this anymore.

[2020-02-08 12:40] #1038 closed

[2020-02-08 12:46] sivaraam commented on #868
I'm closing this as I think the main outcome of this issue has been achieved (choosing an icon that's visible in dark backgrounds).

@nicolas-raoul I believe you would be fine with opening a separate issue for the icon size difference if you feel it's still the case 🙂

[2020-02-08 12:46] #868 closed

[2020-02-08 12:52] sivaraam commented on #1107
It looks like this is fixed now.

[2020-02-08 12:52] #1107 closed

[2020-02-08 12:56] LuGO0 commented on #2239
Can I take it up now?!

[2020-02-08 13:01] ciphereck commented on #3384
@nicolas-raoul Can you tell me how can I make text-based category search efficient or is there an alternative?
Also, I think this is the repo where I can make the server-side change? https://github.com/commons-app/commonsmisc

[2020-02-08 13:08] sivaraam commented on #2011
I don't get the pop-up with the confusing message anymore but one things surprises me. Tapping on the "Locate me" icon doesn't ask me to enable location (GPS) when it's disabled. It simply does nothing when I've disabled it. This is misleading. I'll open a separated issue for that. I'm closing this as its not relevant anymore.

[2020-02-08 13:09] #2011 closed

[2020-02-08 13:29] sivaraam commented on #2744
@nicolas-raoul Are you still facing this issue?

I could reliably see the Thank I give to images in the [Commons thank log](https://commons.wikimedia.org/wiki/Special:Log/thanks) despite the app stating that it could not successfully thank. (looks like a different issue).

[2020-02-08 14:57] nicolas-raoul opened #3391 "Zoom level gets reset every few seconds"
Open app
Nearby
Zoom in to alley level
Wait a few seconds
Problem: Zoom level gets reset (when updating the position of the blue dot, I guess)

[2020-02-08 14:58] madhurgupta10 opened #3392 "White Background for Logo in Night Mode"
**Summary:**

The background in the logo of the nearby list stays white in night mode.

**Steps to reproduce:**
Open Nearby, open list in night mode.

**Device and Android version:**
Android 10 API Level 29 Google Pixel 2

**Commons app version:**
2.12.3 beta-master

**Screen-shots:**
![Screenshot_1581173819](https://user-images.githubusercontent.com/30932899/74087361-7cb31780-4ab1-11ea-94f1-eddb7

[2020-02-08 15:10] madhurgupta10 commented on #3391
@nicolas-raoul I am facing this issue!

[2020-02-08 15:55] #3392 closed

[2020-02-08 16:13] animeshk08 commented on #3206
any updates? @neslihanturan

[2020-02-08 16:36] neslihanturan commented on #3388
This is an really interesting idea, what about suggesting this feature as a hackathon 2020 idea, if none of us are there? I think this can be implemented during a hackathon scope.

[2020-02-08 18:04] neslihanturan opened #3394 "Wikimedia Hackathon ideas"
**Summary:**

Well, hackathon is coming:) This year target topic is GLAM. We can start to think of suitable projects. Remember, peer review feature is implemented during a hackathon:)

[2020-02-08 19:43] sivaraam opened #3397 ""Locate me" icon in Nearby doesn't prompt user to enable GPS"
**Summary:**
The "Nearby" screen shows a toast when the location is disabled. This is fine. But when I tap on the "Locate me" button in the Nearby, I expect the app to prompt me to turn on GPS when location is disabled. But, as of now, nothing happens when I tap on the "Locate me" icon and location is disabled.

**Steps to reproduce:**
1. Turn off "Location" of your device
1. Open the app
1. Go to

[2020-02-09 09:20] nicolas-raoul commented on #3357
I had a related discussion yesterday: https://www.wikidata.org/wiki/Wikidata:Project_chat#Add_dissolved%2C_abolished_or_demolished_%28P576%29_or_similar_to_all_former_building_or_structure_%28Q19860854%29%3F

[2020-02-09 17:49] Glitch101 commented on #3397
I was successfully able to reproduce the bug mentioned by @sivaraam . Below is the screen capture of me trying to reproduce the bug on my device.

Device and Android version:
Redmi Note 5 Pro, Android 9

Commons app version:
2.12.3 (built by cloning master branch on 8th Feb, 2020)

![ezgif com-resize](https://user-images.githubusercontent.com/46349662/74107006-d12dc400-4b91-11ea-8c82-415dc12818a9.

[2020-02-09 18:01] Glitch101 commented on #3397
I'd like to help. Can I start working on this issue? I am starting to contribute to open source projects and this seems like a good first issue for me.

[2020-02-09 18:23] misaochan commented on #3388
Awesome, thanks for the feedback, everyone! :) It sounds like there are two different (but related) things being discussed here, though:
1. An implemented feature in the app that would calculate a route for the user
2. An organized event that is publicized, there is someone to guide everyone, everyone would do the same route. I think in this case, as @sivaraam mentions, we probably would want to s

[2020-02-09 18:29] misaochan commented on #3385
@maskaravivek I could not find such an option unfortunately. :/

[2020-02-09 18:31] misaochan commented on #3387
Makes sense. I will close this, and I agree that focusing on profiles is a better idea. :)

[2020-02-09 18:31] #3387 closed

[2020-02-09 18:32] misaochan commented on #3389
I love this idea! @nicolas-raoul Do you know how it would tie in with the Leaderboard that is due to be implemented in GSoC? It seems to me like some of the logic could be reused.

[2020-02-09 18:36] misaochan commented on #3359
@GearGit sounds good, let us know how you get on!

[2020-02-09 18:48] misaochan commented on #3397
Yes, go for it @Glitch101 :)

[2020-02-09 19:11] sivaraam commented on #3388
Yeah, you're right. I'm kind of curious as to how 1 came up 🤔 Doesn't matter, though.

An algorithm that plans the route does sound interesting. Though I also slightly suspect that the [devil is in the detail](https://en.wikipedia.org/wiki/The_devil_is_in_the_detail).

Hey, this sounds cool! I didn't know an iOS app was coming up. That would really be a good thing as there are indeed a lot of iOS

[2020-02-09 19:14] misaochan commented on #3388
Haha, it is possible. I do think that if we don't have strict requirements for the route it would be doable. We don't necessarily need to solve the traveling salesman problem...

Yes! Well, at least, we have a proposal in the works... I will link you when it's up. ;)

[2020-02-09 19:33] sivaraam commented on #3388
Exactly. But one problem is that the route planned might not be an optimal one. That should hopefully be fine. Just speculating 😉

Yeah. We would just be fine if we're cautious in not getting lost in the details when implementing the solutions. We should plan to improve the algorithm in iterations rather than trying to get the best version in the first attempt.

Sure! I'll be glad to be involved a

[2020-02-09 20:28] kbhardwaj123 commented on #3391
This issue does not exist for the 2.12.3 play store release however

[2020-02-10 12:57] madhurgupta10 commented on #3377
@nicolas-raoul @neslihanturan @misaochan What do you suggest?

[2020-02-10 13:13] neslihanturan commented on #3377
This would be nice, but we should also keep our in-app setting IMO.

[2020-02-10 13:17] madhurgupta10 commented on #3377
@neslihanturan Yes, we should keep it since Android 10 is new and not available to all phones yet.

[2020-02-10 14:44] kbhardwaj123 commented on #3355
![20200210_201103 1](https://user-images.githubusercontent.com/44129798/74159304-8f5c5680-4c41-11ea-8689-b00b438d503e.gif)
This does look a bit confusing i think we should remove those pins, moreover due to that border they look grey rather than transparent, if everyone is in favour of this i would interested to work on it

[2020-02-10 17:57] sivaraam commented on #3377
@madhurgupta10 IIUC, you're thinking of changing the existing into something like the following:

![Screenshot_2020-02-10-23-21-40](https://user-images.githubusercontent.com/12448084/74176033-ea4f7700-4c5c-11ea-8ef6-9bf33eb12c4f.png)

Is that correct? If that is, then it would be a good addition indeed.

[2020-02-10 18:07] sivaraam commented on #3329
Excuse me for chiming in. IIUC, this change is to add a new setting to the app that would allow the user to switch the interface language independent of the device language. Is that correct? I was just wondering, in what case would a user want to set an interface language for the app different from that of the system language? :thinking:

[2020-02-10 18:18] sivaraam commented on #3391
I think the situation is actually worse than the just the zoom level getting reset. In nearby, if I'm exploring a different place far from my current location when I'm on the move, the map moves back to my current location when the location marker updates. This is intrusive to my exploration. I suppose it would be better to not update the location marker when the user is exploring a place far from

[2020-02-10 18:25] sivaraam commented on #872
Excuse my ignorance. Where are we actually thinking of placing this icon? :sweat_smile: Would it appear after tapping the FAB that appears after tapping on a Nearby place? Or would it appear somewhere else?

[2020-02-10 18:50] 6point022 commented on #3329
@sivaraam This [stackexchange question](https://ux.stackexchange.com/questions/36541/should-i-provide-the-option-to-change-the-language-in-an-app) discusses some interesting cases when we may want to provide an explicit option to the user and not listen for the language of the system. I guess it depends on the type of app and can be useful at times.

[2020-02-10 19:28] sivaraam commented on #3329
That's an interesting link. Thanks!

I get that. I was just curious to know how this option would benefit the users of the Commons Android app. The app already changes the interface language according to the system language if a translation is available. I was of the opinion that that behaviour was good enough for the app. I couldn't see how an option to switch the interface language independent o

[2020-02-11 05:41] madhurgupta10 commented on #3377
@sivaraam Indeed

[2020-02-11 05:46] ashishkumar468 commented on #3377
@madhurgupta10 @sivaraam Or there could be just the two options, Light or Dark, and by default, the system's default theme should be selected?

[2020-02-11 05:49] ashishkumar468 commented on #3391
@nicolas-raoul, is this happening on the current master or one of the 2.12 releases?

[2020-02-11 07:17] madhurgupta10 commented on #3377
@ashishkumar0207 I think it would be fine as well since most users who use dark mode on other apps won't prefer white mode on our app and vice-versa.

[2020-02-11 09:46] nicolas-raoul commented on #3391
@ashishkumar0207 2.12.3.574~eb40051 which I believe is the latest alpha. Thanks! :-)

[2020-02-11 09:54] nicolas-raoul opened #3400 "Tower of London teleportation"
Sometimes when going back to Nearby, my map is centered around the Tower of London, despite the fact that I am in Japan.
If anyone faces the same problem, please comment.

Version 2.12.3.574~eb40051

**Steps to reproduce:**
Not sure. I will update this issue if I find out.

![Screenshot_20200211-114927_Commons](https://user-images.githubusercontent.com/99590/74226253-95187180-4cff-11ea-9ffc-ed9714

[2020-02-11 10:04] nicolas-raoul commented on #3342
@vibhusharma101 Any progress on this issue? Please let us know :-)

[2020-02-11 10:09] nicolas-raoul commented on #3359
@GearGit Please let us know about your progress :-) Thanks!

[2020-02-11 10:09] nicolas-raoul commented on #3225
Duplicate of #3359

[2020-02-11 10:09] #3225 closed

[2020-02-11 10:19] nicolas-raoul commented on #872
Apparently "we" are smarter :-)
With my Android's locale set to Japanese, I tapped a pin in Japan, it had a Wikipedia icon. I tapped it, and it directed me to the Japanese Wikipedia article. By the way, that item also has an English Wikipedia article.

[2020-02-11 10:34] nicolas-raoul commented on #3355
I agree too.
@kbhardwaj123 looking forward to your pull request :-)

[2020-02-11 11:32] yashk2000 commented on #3191
I'm taking up this issue since it hasn't been resolved yet.

[2020-02-11 13:26] ciphereck commented on #3384
@nicolas-raoul Can you help me in optimize finding categories. I got that searchForCategories in CategoriesPresenter using streams to get the category and different stream to set the same in view. I got the high-level logic, but I'm still struggling from where exactly it's getting category results and how to optimize that.

[2020-02-11 14:10] Glitch101 commented on #3400
Hey @nicolas-raoul. This is similar to the bug I am working on(#3397) . In my case, this happens when I open nearby with my GPS turned off.

[2020-02-11 16:55] mds08011 commented on #3267
Still occurring in https://github.com/commons-app/apps-android-commons/issues/3359

[2020-02-11 17:27] #3191 closed

[2020-02-11 17:33] yashk2000 commented on #3197
@nicolas-raoul this issue also created by me for GCI has not been fixed yet. There is an open pr, but it has some issues. There are some unneeded changes in some files. Should I take it up and fix this minor issue?

[2020-02-11 18:28] #3281 closed

[2020-02-11 19:54] sivaraam commented on #3377
I think it would be better to provide the options following the guidelines mentioned in the [Android Developer guide for Dark theme](https://developer.android.com/guide/topics/ui/look-and-feel/darktheme#changing_themes_in-app):

This sounds sensible to me. This might improve the scope of the task but I hope it's for the better :slightly_smiling_face:

[2020-02-11 22:20] kbhardwaj123 commented on #3400
It happened for me as well. Actually my GPS was on but i was connected to a slow wifi network, however it disappeared after a couple of seconds, i was unable to capture it because of the same reason

[2020-02-12 04:26] #3197 closed

[2020-02-12 10:44] misaochan commented on #872
I'm thinking that after the user has uploaded a photo through Nearby and the photo upload succeeds, it would appear next to the picture in Contributions, maybe overlapping a bit with it on the lower right corner?

Oh nice!! :D

[2020-02-12 10:49] misaochan commented on #3355
Yes, that solution sounds fine, just make sure they are displayed when the user selects to view them. :)

[2020-02-12 10:54] misaochan commented on #3333
@vishakha-a How are things going?

[2020-02-12 11:41] yashk2000 opened #3403 "Position of privacy policy on the login screen"
**Summary:**

Currently, in the login screen, the privacy policy button is at the absolute bottom of the screen. There is no gap between the bottom of the screen and the button, making it's positioning very awkward.

**Steps to reproduce:**

See the position of the privacy policy button in the login screen.

**Device and Android version:**

Nokia 7 plus, android 28

**Commons app version:**

2.12.

[2020-02-12 12:19] nicolas-raoul commented on #3380
Just to make sure I was explicit:

When I come from Nearby, I already have a Wikidata item QID number associated, so the app should not display any "Nearby Place Found". Actually it should not even perform the latitude/longitude retrieval and Wikidata request, as they take time for nothing in that case.

:-)

[2020-02-12 13:38] nicolas-raoul commented on #3400
@Glitch101 Thanks for the insight! Please not that I never turn the GPS off nor prevent the app from using it,  and I was always on a strong LTE network.

[2020-02-12 15:32] yashk2000 commented on #3403
@nicolas-raoul @neslihanturan @maskaravivek @misaochan while going through the code of the application, I noticed that in several places, the code-style of the app might not be followed. For example, in some places the following style is used:

`if(condition){ }`

In some other places the following style is used:

`if (condition) { }`

We should be using the second type of style since we are follo

[2020-02-12 16:29] misaochan commented on #3380
I agree, the solution would be to simply disable the search if the user is doing a direct Nearby upload.

[2020-02-12 18:47] maskaravivek commented on #3403
It is a very good suggestion indeed. I wasn't aware of such a plugin. Do you mind creating a separate issue for this? It is not related to this issue.

[2020-02-12 19:36] yashk2000 commented on #3403
@maskaravivek sure. On it :rocket:

[2020-02-12 19:41] yashk2000 opened #3405 "Irregular indentation in a lot of places in the application files."
**Summary:**

Irregular indentation in a lot of places in the application files.
In several places, the code-style of the app might not be followed. For example, in some places the following style is used:

`if(condition){ }`

In some other places the following style is used:

`if (condition) { }`

We should be using the second type of style since we are following the Google Java Code Style.
In or

[2020-02-13 02:23] maskaravivek commented on #3405
This will enhance the maintainability and code style of the app a lot.

@yashk2000 Is there a way to check for only the files that were changed by the PR?

[2020-02-13 10:19] VojtechDostal commented on #3374
Yeah, I think this would be very useful for some chapters who work in this field :-)

I will also reach out to our multimedia manager Jakub if he has any ideas on this.

[2020-02-13 14:46] yashk2000 commented on #3405
@maskaravivek if the build passes for this pr, it means that all the changed files are properly formatted now. The Travis build will be executed with the changed script in which I have added the `spotlessCheck`

[2020-02-13 17:41] misaochan commented on #3389
Also, I wonder if it is possible to pull barnstars from the user's page? If it is, this could tie in nicely with #2428 , so we could award a barnstar to winners, and it would be viewable in their profile page.

[2020-02-13 19:24] ilgazer opened #3408 "Refactoring the FileProcessor and GPSExtractor classes"
Both of these classes contain old code that doesn't match how we currently use them. For example, the logic of extracting GPS data from a similar image and using them for that class is spread out between UploadMediaDetailFragment(some of the business logic seems to be totally missing) and FileProcessor. I restructuring those classes will lead to much more readable and maintainable code. What do yo

[2020-02-13 23:27] Glitch101 opened #3409 "Can't login into my Commons beta account"
**Summary:**

From the last 24 hours, I have not been able to login to the commons app **built from source using Android Studio**. I cannot log in on the web either.

I read the past issues that signaled to me that this is probably a server problem. I just wanted to make sure that it's not at my end.

The app displays **Login Failed. Unexpected response.** on every login attempt. Even if I enter a

[2020-02-14 02:24] maskaravivek commented on #3409
@Glitch101 Can you enable `BODY` level logs in `OkHttpConnectionFactory` and check the response that you are receiving.

[2020-02-14 02:39] nicolas-raoul commented on #3409
That is probably the root problem. Near the login form I think you can find a way to contact an administrator to unblock you or check what is the problem.

[2020-02-14 04:34] ashishkumar468 commented on #3409
I am having the same issue, can someone else verify if he is able to login (even via web app)?

[2020-02-14 05:13] sivaraam commented on #3409
As noted in one of my [PR comments](https://github.com/commons-app/apps-android-commons/pull/3396#issuecomment-585048293), this is a known issue that affects the Commons beta website.

Refer the following phabricator ticket for more information:
https://phabricator.wikimedia.org/T244951

[2020-02-14 10:16] misaochan commented on #3408
I agree, those are very old classes, we might have missed them in the overhaul (oops!). Are you interested in working on these, @ilgazer ? I guess you are already familiar with the MVP architecture requirements (since I think you did some of the Retrofit refactor too)?

[2020-02-14 10:22] misaochan opened #3410 "More powerful pin filtering of Nearby map via allowing users to modify SPARQL query"
As requested by @VojtechDostal , power users familiar with SPARQL would find it useful to be able to partially modify the SPARQL query themselves to filter results. We can probably implement this in a similar manner to https://tools.wmflabs.org/wikishootme#lat=50.0720077&lng=14.424068199999999&zoom=15

[2020-02-14 10:35] VojtechDostal commented on #3410
Adding a screenshot from WikiShootMe. Thank you Josephine for starting this issue :)

<img width="307" alt="sparql filter" src="https://user-images.githubusercontent.com/21329813/74523803-1d745d80-4f1e-11ea-9b50-3efba6ae35a0.png">

[2020-02-14 10:49] Glitch101 commented on #3409
Yes, I did that and it seems it's related to cookies. I am getting an **Invalid CSRF token**.

**{"errors":[{"code":"badtoken","text":"Invalid CSRF token.","module":"clientlogin"}]**

Complete logs can be found in the file below
[commons_logs.log](https://github.com/commons-app/apps-android-commons/files/4204104/commons_logs.log)

[2020-02-14 11:00] Glitch101 commented on #3409
Hey @ashishkumar468, Did you managed to solve the issue? If yes then please share how you did it.

[2020-02-14 11:17] Glitch101 commented on #3409
So, if I am getting this right, all I can do is wait to be able to login again in the app? Is there anything that I can do on my part to be able to login again. I need to test my fix of #3397.

[2020-02-14 11:35] sivaraam commented on #3409
Yeah. That's the case for the beta version of the app.

You can do the testing using the `prod*` flavours of the app. There aren't any issues with logging in to the prod servers.

[2020-02-14 11:39] Glitch101 commented on #3409
@sivaraam Thanks for the tip. I will surely do that!

[2020-02-14 15:12] #3403 closed

[2020-02-15 03:42] GearGit commented on #3385
@maskaravivek
I am currently documenting API in Google docs. I am left with only few, how would you recommend me sharing the docs?

[2020-02-15 03:45] maskaravivek commented on #3385
You can just share the link here. Thanks

[2020-02-15 10:05] Mishrasubha opened #3411 "Improve Quick start guide for Developers documentation"
Instant run is missing in Android Studio 3.5 and is replaced with Apply Changes in Run. So, the documentation needs to be updated.

[2020-02-15 11:18] Mishrasubha commented on #1898
Can we integrate a Machine Learning model which recognizes images containing selfies and then display the warning and ask the user if he/she wishes to upload the image anyway?

[2020-02-15 11:46] yashk2000 opened #3412 "No contributions dialog keeps popping repeatedly."
**Summary:**

A dialog saying "You haven't, made any contributions yet" keeps showing up every time the achievements activity is opened when user has no contributions.

**What did you expect the app to do, and what did you see instead?**

The dialog should be shown, but the user should be given an option of "Do not show again". Else the dialog starts feeling a bit irritating every time the achieve

[2020-02-15 13:15] VojtechDostal commented on #1898
Isn't machine learning a bit too much for our little uploading app? :-) I'd suggest we keep it simple and easy-to-maintain. Anyways, how big problem selfies are nowadays?

[2020-02-15 13:26] misaochan opened #3414 "Handle zoom in media details view"
App review:

I actually thought that we had redesigned media details to fix this - I recall @ujjwalagrawal17 was working on it during the hackathon, and had a branch going that handled zoom and scrolling appropriately. I also recall we were close to merging, but I can't actually find the PR now. @maskaravivek any idea?

[2020-02-15 13:31] sivaraam commented on #3412
Wouldn't it actually be better to handle the case of having no uploads in a different way? Instead of showing a pop-up stating the user has no contributions, I think it would be better to show some motivating content in the Achievements screen which would induce the user to kickstart his uploading journey. I don't have particular ideas about what could be done yet. But just wanted to share this th

[2020-02-15 13:56] ciphereck commented on #2649
Hi,
I'm getting a problem. When I'm writing tests for ImageUtils class.
The line number 99 ( bmp = BitmapFactory.decodeFile(imagePath); ) which is supposed to convert an image into bitmap is always returning null when I'm calling it from the text file.
I tried whether it is the same case when running on mobile with debugging, but on mobile while debugging it's working just fine and returning bitma

[2020-02-15 13:59] ciphereck commented on #3384
@nicolas-raoul @misaochan @maskaravivek
Just pinging you to give me some help on how to optimize text-based search Categories. I'm stuck on it.

[2020-02-15 15:09] yashk2000 commented on #3412
It's a good idea :+1:
I'll try to think of what we can do without making it feel that we're imposing something on the user.
Until then I think we can continue with this.
As soon as I figure out an idea I'll comment it here.

[2020-02-15 15:21] kbhardwaj123 commented on #3414
![Screenshot_20200215_204443](https://user-images.githubusercontent.com/44129798/74590450-83271f00-4fdc-11ea-9f55-d316c9e34d0c.jpg)
I think it would be better if aspect ratio of the image be maintained in displaying details rather than cropping in, moreover on cropping in the quality degrades we can implement something similar to google photos or pinterest mobile app

[2020-02-15 16:25] maskaravivek commented on #3414
@misaochan Here's the original issue #2881 and PR #2954 that @ujjwalagrawal17 worked on and which was merged to the hackathon branch. I am not sure if handling zoom was part of the redesign.

[2020-02-15 16:26] maskaravivek commented on #3411
@Mishrasubha Can you provide more details about the issue?

[2020-02-15 16:59] Mishrasubha commented on #3411
It is written in Quick start guide for Developers documentation to Disable Instant Run in Android studio by doing the following steps:
In the menu bar, click File > Settings
In Build, Execution, Deployment > Instant Run uncheck the Enable Instant Run checkbox
Click OK to save and exit from the settings window.
But for Android Studio 3.5 this has been removed and replaced with "Apply Changes".
![up

[2020-02-15 17:00] Mishrasubha commented on #3411
It is written in Quick start guide for Developers documentation to Disable Instant Run in Android studio by doing the following steps:
In the menu bar, click File > Settings
In Build, Execution, Deployment > Instant Run uncheck the Enable Instant Run checkbox
Click OK to save and exit from the settings window.
But for Android Studio 3.5 this has been removed and replaced with "Apply Changes".
![up

[2020-02-15 18:55] maskaravivek commented on #3411
Okay thanks for pointing out the issue.

[2020-02-15 19:01] maskaravivek commented on #3411
@misaochan This is another instance where it would have been great if the volunteers would have been able to help us update the documentation. Given the tight control we want for our docs, we can probably consider some workaround for letting volunteers contribute to wiki documentation.

One approach is described here where people maintain a separate fork for the wiki. https://stackoverflow.com/que

[2020-02-15 19:07] maskaravivek commented on #3412
**Option 1:**
Yes, I think we can add a CTA with "Make your first upload" or something similar and trigger the upload flow. Our upload flow is easily pluggable and can be invoked from any place with just a couple of lines of codes.

we can also add a "do not show again" button in addition to Cancel. So all in all we can have 3 buttons in the dialog
- Cancel: dialog dismissed, pops up again when th

[2020-02-15 19:11] maskaravivek commented on #3384
@ciphereck Did you figure out which API is been used in the app to display the search results.

The first step would be to figure out the API and post the API URL and request parameters here on the issue thread.

[2020-02-15 19:12] maskaravivek commented on #2649
@ciphereck While running a unit test `BitmapFactory.decodeFile` won't be available and you might need to mock it as its a static class. See `FileUtilsWrapper` and `FileUtils` to see how it can be done.

[2020-02-15 19:24] maskaravivek commented on #3363
**Important Note:**

The number of contributions you make won't be the primary criteria for choosing the intern. So please don't feel pressurized to make the most number of contributions.

Please avoid creating a pull request for an issue until the issue has been discussed and assigned to you.

[2020-02-15 19:24] maskaravivek commented on #3405
A few points were discussed in the PR ie #3406. Thanks @sivaraam for your research. :)

Please reference the linked PR for details about the discussion and lets continue the discussion here.

@yashk2000 As I mentioned earlier, please wait for the issue to be assigned to you before making a PR for it until and unless is a very straight forward issue. Have updated #3363 to clarify the same.

[2020-02-15 19:40] 6point022 opened #3415 "Custom author name not reflecting in summary"
**Summary:**

`Custom author name` preference should reflect the text value change in the summary, instead of repeating the information in the summary of `Use custom author name` switch preference.

**Steps to reproduce:**

_How can we reproduce the issue?_

Go to Settings and enable the `Use custom author name`. Change the name by tapping on the `Custom author name` preference.

_What did you exp

[2020-02-15 20:21] kbhardwaj123 commented on #3414
@misaochan I think we can implement semthing like this simple mockup app:
![GIF-200216_014623 1](https://user-images.githubusercontent.com/44129798/74594608-5a476e00-505e-11ea-9ad0-a0e9089a6715.gif)

[2020-02-16 01:03] ilgazer commented on #3408
Yup, I would be interested in working on that. I've already started working
on it, and I'll be refactoring some other old code that is related (ie. I
just created a License class instead of passing around these different keys
and text etc. everywhere.)

[2020-02-16 01:34] maskaravivek commented on #3415
Yes, I like the idea of displaying the author's name instead of repeating the text. Also, let us merge both these settings ie "Use custom author name" and "Custom author name".

The behavior can be:

- when "use custom author name" is switched enabled, let us show the dialog box where the user can edit the author name.
- when the switch is disabled, don't use the custom author name.

[2020-02-16 03:09] sivaraam commented on #3363
@maskaravivek Wouldn't it be better to also mention the note in the description of the issue to ensure it isn't missed? :thinking:

[2020-02-16 05:21] yashk2000 commented on #3412
@maskaravivek the first option sounds good. This way the user can directly make a new upload and it won't be obstructive as the user can simply choose not to see the dialog again after it is shown for the first time.
Should I proceed with it?

[2020-02-16 05:23] yashk2000 commented on #3405
I'll keep that in mind :+1:

[2020-02-16 05:25] yashk2000 commented on #3405
For proceeding with this issue, the past points that were discussed were:

- Not to make all the changes in a go. We should make the changes in small batches and push them.
- Add the check to travis after the last set of changes has been made.
- Files in batches can be indented properly using [this](https://github.com/diffplug/spotless/tree/master/plugin-gradle#can-i-apply-spotless-to-specific-fil

[2020-02-16 05:26] yashk2000 commented on #3405
@maskaravivek how should we proceed then now?

[2020-02-16 09:37] yashk2000 opened #3416 "Snackbar on clicking add to bookmarks."
**Summary:**

A snackbar with an option to directly open the bookmarks activity should be displayed when the user presses the add to the bookmarks icon. Similarly, when the user removes an item from bookmarks a snack bar should be shown notifying that the item has been removed from bookmarks.

**Steps to reproduce:**

Open a photo from the explore section. Click on the star icon to add to bookmark

[2020-02-16 10:18] misaochan commented on #3414
@kbhardwaj123 That looks good, would you be interested in implementing the fix? :)

I agree.

[2020-02-16 10:21] misaochan commented on #3411
@maskaravivek I agree. It's a pity GitHub does not have that option, at the very least they should be able to submit pull requests to it!

I actually wonder if we can/should migrate to MD files instead. That way they can be maintained with pull requests like the rest of the repo. The solutions mentioned in your SO thread would have a higher maintenance overhead IMO, especially if many small change

[2020-02-16 10:22] misaochan commented on #3408
Thank you! We appreciate it. :)

[2020-02-16 10:33] kbhardwaj123 commented on #3414
@misaochan yes sure I'll start working on this

[2020-02-16 10:38] yashk2000 opened #3417 "Typo in peer review info"
**Summary:**

Commons is spelled as Commoms in the peer review info menu.

**Steps to reproduce:**

Go to review.
Click on the info icon.
Commons is spelled as Commoms.

**Device and Android version:**

Nokia 7 Plus, Android 10

**Commons app version:**

2.12.3 debug-master

**Would you like to work on the issue?**

No, anyone can solve this is as a first issue.

[2020-02-16 10:53] misaochan commented on #3414
Thanks @kbhardwaj123 . Please update us as you go along, and ping me when the PR is ready. :)

[2020-02-16 11:23] 6point022 commented on #3415
@maskaravivek Good idea. Can I start working on this?

[2020-02-16 12:41] gouri-panda commented on #3417
Can i work on this?

[2020-02-16 15:30] sivaraam commented on #3412
@maskaravivek Your options are good and would be easy to implement which is a good thing as it allows us to do the change without much effort. That said, I wanted to mention that I was actually envisioning something more when I mentioned that we should show _motivating content_ in the Achievements screen which would induce the user to _kickstart his uploading journey_. I was envisioning something

[2020-02-16 17:55] sivaraam commented on #3415
That's a good thing to do but ...

... IMO, merging this the other way round would be more intuitive. By *other way round* I mean merging "Use custom author name" *into* "Custom author name". That way, we would only have the "Custom author name" option.

* When a user *has not set* a custom author name, we show the description of the option in the summary.
* When a user *has set* a custom author n

[2020-02-16 18:34] maskaravivek commented on #3415
The approach that I suggested would also have just 1 option ie "use custom author name". Maybe we can improve the copy text. With this approach, the user can simply toggle off the setting to stop using the custom author name instead of opening the dialog box, erasing the custom name and saving it. When the toggle is off, we can continue to store the custom author name is the shared prefs and the u

[2020-02-16 18:36] maskaravivek commented on #3412
@sivaraam Yes, that the 2nd option that I suggested. Option 1 would be easier and faster to implement but yes Option 2 would be aesthetically better.

Let us get opinions from our designer @neslihanturan :)

[2020-02-17 01:54] sivaraam commented on #3412
Ah, you're right! I missed it initially as I got lost after reading the "... convert the dialog to a toast message so that it is less obstructive ..." part. My bad x-(

[2020-02-17 03:03] sivaraam commented on #3415
Yeah, I understood that initially.

That sounds useful. The reason I found merging the options into a toggle option unintuitive is that it would make the toggle option do *more than just toggling an option*. That's why I was suggesting to merge the other way round. Alternatively, keeping both the options and just update the summary sounds good too.

Yeah. We could provide an option to easily clear

[2020-02-17 04:08] maskaravivek commented on #3415
It would matter for people who have already installed the app, have the custom author name set but the toggle disabled. Once the app updated, their custom author name will start getting used which might not be what they wanted.

[2020-02-17 07:34] #2782 closed

[2020-02-17 08:30] #3417 closed

[2020-02-17 14:09] yashk2000 commented on #3412
@maskaravivek @sivaraam making an empty screen with some content to motivate the user for uploading some content is good too and easy to implement as well.

![Screenshot_20190511-142206](https://user-images.githubusercontent.com/41234408/57567590-3d0fb000-73f9-11e9-8cc9-aa79d520c050.png)

This is an empty activity that I designed for another application. We can maybe make something similar which f

[2020-02-17 16:11] misaochan commented on #3412
I like the idea of converting the dialog to an empty activity. Both the Pocket and Signal app's screen looks good (the one without any pictures is probably easier to implement). Please no gigantic emojis though. ;)

[2020-02-17 18:48] sivaraam commented on #3415
Ah! That's an issue indeed. We can think of a migration plan to handle this. During the migration,
* If the "Use custom author name" switch is turned-off, we clear the author name filled by the user (if any)
* If the "Use custom author name" switch is turned-on, we just use the author name provided by the user

Just a suggestion 🙂

[2020-02-17 19:01] maskaravivek commented on #3415
True, but UX wise I would prefer having a toggle instead of making the user clear the custom author name.

Let us get some more opinions and then a volunteer can pick the task.

[2020-02-18 05:19] sivaraam commented on #3415
Yeah, disabling a toggle would indeed be better. I suppose we should just keep the two option as it is then. That would be a lot better, IMO.

Sure.

[2020-02-18 06:13] ashishkumar468 commented on #3415
Personally I think, a toggle would be simpler in terms of UX, disabling the author name by a switch surely seems better than making the user manually clear it.

[2020-02-18 11:06] misaochan commented on #3363
I modified the desc with Vivek's note.

[2020-02-18 11:15] misaochan commented on #3359
Hi @GearGit , any updates on this issue?

[2020-02-18 11:18] misaochan commented on #3267
Just to clarify, I think this is a bit different from #3359 ? In this issue the title of the filename is correct (current upload), but the image shown is from the last image until the upload completes (after which it shows the current image). In #3359 it looks like a complete duplication in Contributions, permanently (unless cache cleared).

[2020-02-18 12:23] yashk2000 commented on #3416
I have already sent a pr for the issue. I waited until the enhancement label had been added. There were no other comments, so once the label was added, I thought that it was fine to work on it since the changes were direct.
Apologies for the misunderstanding.

[2020-02-18 12:24] yashk2000 commented on #3416
@misaochan @maskaravivek @nicolas-raoul how should we proceed with this issue. The thing I had in mind has been done in the pr I sent. If anything changes are needed, please let me know.

[2020-02-18 12:55] ashishkumar468 commented on #3416
Showing a snack bar is good, although,  personally I don't see the need to add a link to go to the bookmarks screen.

[2020-02-18 18:50] 6point022 commented on #3415
I agree with @sivaraam, the toggle will perhaps become unintuitive if it would do more than just toggling. I have rarely seen the toggle doing more. For example, in the official Reddit app, there's an option to toggle the dark mode and a separate option to choose the dark mode theme. This is similar to our issue. I can imagine it getting slightly annoying if the app asked me my dark theme preferen

[2020-02-18 19:08] misaochan opened #3420 "Commons app future plans - Project Grant proposal for 2020 is up!"
Hi all, our tentative future plans for Jun 2020 - May 2021 are out!
https://meta.wikimedia.org/wiki/Grants:Project/Commons_app/Commons_app_Android_and_iOS . Basically, we are hoping to release an iOS app, add a few new features and stability/code quality to our Android app, and do some publicity stuff.  :)

If you have any concerns about anything proposed in that proposal, feel free to ping me her

[2020-02-18 19:16] kbhardwaj123 commented on #3414
@misaochan @maskaravivek I want your opinion on one thing, while working on the Media Detail Fragment It came to my mind that the details of a contribution can be shown as Material Design Cards(shown above in my mockup) rather than the grey Edgy tile design we have right now shown below:
![Screenshot_20200215_204443](https://user-images.githubusercontent.com/44129798/74590450-83271f00-4fdc-11ea-9f

[2020-02-18 19:27] misaochan commented on #3414
Yes, the grey tile design is very old. I personally would be in support of switching to material design cards, however I'm not sure we should conflate that with this issue. Perhaps you can create a new issue for it? :)

[2020-02-18 19:30] yashk2000 commented on #3416
@misaochan @maskaravivek @nicolas-raoul how should we proceed with this issue. The thing I had in mind has been done in the pr(tests are failing which will be fixed) I sent. If anything changes are needed, please let me know.

[2020-02-18 19:41] misaochan commented on #3416
I agree with @ashishkumar468 , I don't think the link in the snack bar is necessary, as Bookmarks is directly accessible from the nav drawer.

[2020-02-18 19:44] yashk2000 commented on #3416
Ok, I will remove that action.
I had another question regarding the failing tests.

Since I changed the signature of the updateBookmarks() function, they need to be changed in the test too and for that, we might need to make quite a few changes. So I can either make those changes or figure out a different way to show the snack bar.

Which option should I proceed with?

[2020-02-19 01:11] nicolas-raoul opened #3421 "No location, despite EXIF and settings (failed+retried upload))"
![Screenshot_20200219-100344_Gallery](https://user-images.githubusercontent.com/99590/74792092-ba107400-52ff-11ea-8659-8c6134e899e1.jpg)
![Screenshot_20200219-100400_Commons](https://user-images.githubusercontent.com/99590/74792114-c399dc00-52ff-11ea-80ac-6d0ee7ed3398.jpg)
![Screenshot_20200219-100415_Commons](https://user-images.githubusercontent.com/99590/74792122-ca285380-52ff-11ea-96d7-4f6c895

[2020-02-19 04:07] GearGit commented on #3359
I am trying to recreate the issue. I will update on the issue by EOD.

[2020-02-19 05:05] GearGit commented on #3385
@maskaravivek How would you recommend me to print the API in console as they are getting called? It is getting quite difficult to track API.

[2020-02-19 05:09] maskaravivek commented on #3385
You can go to OkHttpConnectionFactory and change the log level to `BODY` to see the full request-response logs.

[2020-02-19 07:46] kbhardwaj123 commented on #3414
@misaochan sure I'll do that right away

[2020-02-19 09:19] misaochan commented on #3421
Could you link to the page on Commons please?

[2020-02-19 09:31] neslihanturan commented on #3355
Hey, I was testing #3335 . Currently filtered out pins are removed at all. But it does not seems clear when the user filtered out everything:
![image](https://user-images.githubusercontent.com/3127881/74820816-b38bf780-5313-11ea-8fed-959ae471ba72.png)

I think our current implementation is more clear.

[2020-02-19 09:48] misaochan commented on #3355
Sorry, I'm confused, how is it possible to filter out everything? If they select "Exists" then it should only filter out the pins that don't exist, right? Or are you referring to the place type?

[2020-02-19 11:15] neslihanturan commented on #3355
When we filter by place type, we can select a type which is not there. Ie. parks.

[2020-02-19 14:25] misaochan commented on #3355
I think for place type that would be an expected behaviour - in other maps (e.g. Google Maps or booking.com), if I am searching for something and I make my filters too restrictive and I see nothing, I think I would intuitively understand that I have filtered out all the possibilities. Perhaps however it could be useful to have an indicator that the place type filter is active, in the upper panel.

[2020-02-19 16:07] TejaswiKarasani commented on #3409
@sivaraam did you login to the all?

[2020-02-19 16:13] Glitch101 commented on #3409
@TejaswiKarasani No luck till now. Still can't login or create a beta commons account on both the app and the website. I am completely locked out. It seems you are facing the same issue. Is that the case?

[2020-02-19 16:14] TejaswiKarasani commented on #3409
Yeah true!

[2020-02-19 16:27] maskaravivek commented on #3409
Yes, it seems the beta server is having issues. Please use the prod flavor of the app for testing.

[2020-02-19 16:33] Glitch101 commented on #3409
@maskaravivek Stupid question maybe but can you tell us how can we build a production version in android studio. If I am correct, we can't build a production version(since the code isn't public) and hence can't really do any code changes. This is really confusing me. I just need to fix an issue in the source code and I can't do that on a production version.

[2020-02-19 17:43] maskaravivek commented on #3409
@Glitch101 Its okay to ask questions if something is not clear. :)

You can build the prod debuggable app. I have added the steps for building the app here:

https://github.com/commons-app/apps-android-commons/wiki/Quick-start-guide-for-Developers#building-the-source-code

Let me know if you still have any issues in building the app.

PS: In fact you can also build the prod release app using your

[2020-02-19 17:48] sivaraam commented on #3409
What made you think that? :thinking:

This project is an open-source project and all code is available in this repository.

Unless your fix is specific to the [*beta **servers***](  https://commons.wikimedia.beta.wmflabs.org/wiki/Main_Page) I don't see why you cannot verify any fix using the [production server](https://commons.wikimedia.org/wiki/Main_Page). In case you are confused about the termi

[2020-02-19 17:50] Glitch101 commented on #3409
Just what I needed. Thanks @maskaravivek . You are awesome!

[2020-02-19 17:53] TejaswiKarasani commented on #3409
Thanks :)

On Wed, 19 Feb, 2020, 11:20 PM Aryan Tyagi, <notifications@github.com>
wrote:

[2020-02-19 17:54] sivaraam commented on #3409
As the others have mentioned, the issue still exists in the beta servers. Unfortunate indeed.

In case you're curious you can learn more about the issue and follow the progress of the resolution in the following phabricator ticket:

https://phabricator.wikimedia.org/T243123

[2020-02-19 17:55] Glitch101 commented on #3409
I guess I was under the impression that some info might be added later to the prod version that cannot be displayed publically like some sensitive credentials, api keys etc. But, I guess I was wrong. Thanks for clarifying that:)

Thanks @sivaraam . We appreciate that:)

[2020-02-19 17:59] maskaravivek commented on #3409
Yes, the actual play store credentials are not part of the repo and only the project maintainers have access to it but as I mentioned in the wiki, you can use your own signing keys to build the release version of the app.

[2020-02-19 18:03] Glitch101 commented on #3409
Understood. Thanks a lot.

[2020-02-19 18:43] #3355 closed

[2020-02-19 19:00] sivaraam commented on #3409
I actually see some misunderstanding here. I'll just try to go into the different build variants in a little detail to see if everyone is on the right page.

There are 4 variants of the app that could be built from the combination of two [build types](https://developer.android.com/studio/build/build-variants#build-types):
* `release`
* `debug`

and two [product flavours](https://developer.android.

[2020-02-19 19:07] TejaswiKarasani commented on #3409
Yup!! Thanks and reverted back to the prod debug though :)

[2020-02-19 19:28] Glitch101 commented on #3409
Thanks, @sivaraam for the excellent explanation. It does clarify things.
Sharing the steps I used to switch build variants on Android Studio in case someone needs help.
Step 1: Go to **Build** on the toolbar.
![Screenshot from 2020-02-20 00-42-23](https://user-images.githubusercontent.com/46349662/74867045-fe405a80-5379-11ea-9635-3cbafbea254d.png)
Step 2: Click on **Select Build Variant**
![Screen

[2020-02-19 19:30] TejaswiKarasani commented on #3409
Cool @Glitch101

[2020-02-20 05:33] nicolas-raoul commented on #3421
Sure :-)
https://commons.wikimedia.org/wiki/File:Construction_in_Shibuya,_crane.jpg
It seems reproducible: https://commons.wikimedia.org/wiki/File:Tai_Chi_Chuan_building.jpg
A picture whose upload did not fail has correct information: https://commons.wikimedia.org/wiki/File:Hatanodai_Station.jpg

[2020-02-20 05:55] sivaraam commented on #3409
Glad it was useful 😄

@maskaravivek On a related note, the link in the following text seems to be broken in the wiki page. Can you fix it?

[2020-02-20 15:03] misaochan commented on #3421
Oh I see, so the issue lies with "retry". https://commons.wikimedia.org/wiki/File:Construction_in_Shibuya,_crane.jpg has coordinates in the EXIF metadata on its file page though, just not in the summary template, which is why we aren't fetching it in the app. But we need to figure out why the summary template coords are missing.

Btw do you know if the upload failed recently, and if so, was there

[2020-02-20 23:37] nicolas-raoul commented on #3421
These uploads failed because there was no Internet :-)

[2020-02-21 01:18] maskaravivek commented on #3421
My first guess is that we are not persisting EXIF metadata in the Contributions database.

[2020-02-21 09:58] misaochan commented on #3421
Possibly, but I don't think that is the sole problem, since the location template was not sent in Nicolas's example (the "location" field in the file page's summary is empty, whereas EXIF metadata at the bottom of the page exists)

[2020-02-21 10:01] #3416 closed

[2020-02-21 11:05] Glitch101 commented on #3397
Hey guys. I just need to discuss something with you all. Now that I can continue working on this issue after learning to use Prod flavor for testing, we have two approaches to solve this bug.
## Approach 1: The toast :
In this approach, we can just show a simple toast to the user to let them know that location is turned off and needs to be enabled for nearby to work.
**Example:**
![toast-50](https

[2020-02-21 18:21] TejaswiKarasani opened #3423 "Improvement of UI by using symbols(thumbs up and down symbol) to review an image and decrease in the size of text "Click No to nominate this image for deletion if itis not useful at all"""
**Summary:**

I except symbols to be used to review an image(thumbs up and down) instead of using the text directly. This can be resolved by adding corresponding symbols and make it as "image button" so that the user can review it by clicking those image button.

Green color thumbs up for "seems fine"
Red color thumbs down for "No,out of scope"

Reduction of size for the text and little changes to

[2020-02-21 20:08] maskaravivek commented on #3397
In my opinion option 2 is better. Let us wait to hear from others as well.

[2020-02-21 20:30] maskaravivek opened #3424 "Full HTTP logs for debug builds"
As of now, the app shows just the basic logs for both debug and release builds. It might be better if we could show the full logs for HTTP builds.

@misaochan If you are okay with it we can make this change.

[2020-02-21 20:31] maskaravivek commented on #3409
Thanks for the detailed explanation @sivaraam and @Glitch101. Do you mind if I copy-paste some of the content and images to our wiki?

[2020-02-22 05:21] sivaraam commented on #3409
Not at all. Please do. :slightly_smiling_face:

[2020-02-22 07:01] sivaraam commented on #3420
Great job with the proposal, all!

Just wondering, can someon share some important dates related to the proposal? Like the last date before which the endorsements should be made for the proposal?

[2020-02-22 07:09] sivaraam commented on #3397
The option 2 sound like the way to go to me too as that would be more helpful than just showing a simple toast.

One odd thing I noticed in the GIF for option 2 is that the "Yes" appears to the left and the "No" to the right. In Android, I suppose it's customary to have it the other way round. So, it would be nice to have them swapped.

[2020-02-22 07:14] sivaraam commented on #3397
I forgot to mention that I've noticed some devices change the custom behaviour and show the *positive* action in the left and the *negative* in the right. If the GIF was taken in one of those devices, kindly ignore the quoted comment.

[2020-02-22 09:06] Glitch101 commented on #3397
Yes, that's true. Positive buttons should be on the right. Here are some examples-
![Screenshot_2020-02-22-13-26-53-689_com google android packageinstaller](https://user-images.githubusercontent.com/46349662/75089602-8001d500-5580-11ea-8be5-306a18ab64fe.jpg)
![Screenshot_2020-02-22-13-27-00-614_com google android gms](https://user-images.githubusercontent.com/46349662/75089603-842df280-5580-11ea-9

[2020-02-22 09:16] Glitch101 commented on #3397
The tl;dr version of the previous comment is: The positive and negative buttons have been set as opposed to the Android design conventions in the **DialogUtils** class and should be swapped again to follow common Android conventions as pointed out by @sivaraam.

I think a new issue should be created for this? @maskaravivek What do you think?

[2020-02-22 09:48] Glitch101 commented on #3409
Glad I could help @maskaravivek.
One more thing. If you are going to use those images in the wiki then I should tell you that the **Build Variant** option in Build menu can sometimes(quite often, actually) be inaccessible in Android Studio as shown in the image below:
![build disabled](https://user-images.githubusercontent.com/46349662/75090019-a75aa100-5584-11ea-9388-ad3ca4165a91.png)
This usuall

[2020-02-22 10:33] misaochan commented on #3420
Thanks @sivaraam !

There isn't really a fixed date for endorsements I think - all I have from https://meta.wikimedia.org/wiki/Grants:Project is that "community review" ends on March 16, but in my experience the grants committee would already have started reading the proposals before that point. So I guess my answer would be "as soon as possible, please!" :)

[2020-02-22 13:10] misaochan commented on #3424
You mean for debug builds, right? ;)

I am OK with it as long as we take precautions to ensure that the user's password is not displayed like it was the last time we had HTTP logging enabled.

[2020-02-22 14:37] mhk19 commented on #931
@misaochan i want to take this issue

[2020-02-22 18:00] maskaravivek commented on #3424
Yes, right debug builds.

Redacting the user's password might be difficult. Will it be an issue for debug builds as in most cases the user would be running a debug build using an android studio or his terminal and viewing the logcat.

If the concern is that he can still accidentally share the logs by going into settings, we can add a warning message specifically for debug builds.

[2020-02-22 18:52] madhurgupta10 commented on #3363
@misaochan maybe it is also a good idea to add the following to the description:

That student should first request a code review from the person who assigned the issue or who created the issue, instead of tagging every maintainer on each and every PR.

[2020-02-22 19:01] maskaravivek commented on #3363
Haha. I think it is okay that new contributors are tagging lots of people as its understandable that they are excited about getting their first PRs merged. :)

I used to tag @misaochan and then also ping her on the issue thread 🤣

But yes IMO there's no need to initially tag anyone for code reviews. One of the collaborators will check it out in 1-2 days. If no one checks it then feel free to tag r

[2020-02-22 20:47] madhurgupta10 opened #3425 ""Set as Wallpaper" is not working properly"
**Summary:**
"Set as Wallpaper" is not working properly. (Very slow)

**Steps to reproduce:**
Go to any image and try setting it as a wallpaper using the built-in option.

**Device and Android version:**
Tested on two devices, Mi A2 on Android 10 and Google Pixel 2 on Android 7

**Commons app version:**
latest-beta-debug-master

**Would you like to work on the issue?**
Yes

[2020-02-22 20:57] maskaravivek commented on #3425
Assigned to you.

[2020-02-22 21:13] madhurgupta10 commented on #3425
@maskaravivek Few things I found:

The set wallpaper is working but not properly, we are unable to see the changes.

1. If the image is used to set the wallpaper earlier then the wallpaper will set instantaneously. Maybe due to a cached copy.
2. If it is a new image then it takes a very long time to set the wallpaper, If I close the app before that I guess the process will cancel.

Solution:
I thi

[2020-02-22 21:23] maskaravivek commented on #3425
Yes, you are right. Wallpaper option was added by me as a quick add on (see #1525). Yes it would be great if we could add a loader so that the user knows that something is going on in the background.

Also, a success and failure toast might he helpful.

[2020-02-23 05:15] bishtmanish739 commented on #3423
Yes, I want to work on this issue.

[2020-02-23 06:50] 6point022 commented on #3415
@maskaravivek How should we proceed with this?

[2020-02-23 07:29] CodeMonk263 commented on #3333
Can i work on this issue

[2020-02-23 07:47] vishakha-a commented on #3333
No, no
I am trying to figure out what to do

On Sun, 23 Feb 2020 at 12:59, Shaurya Vijayvargiya <notifications@github.com>
wrote:

[2020-02-23 08:03] maskaravivek commented on #3423
Tagging @neslihanturan to get inputs on the design change.

@TejaswiKarasani In the meanwhile if you want you can check other issues.

[2020-02-23 08:04] TejaswiKarasani commented on #3423
Ok

[2020-02-23 08:41] sivaraam commented on #3423
@TejaswiKarasani In future, when mentioning the app version mention the version you see in the "About" page of the app (e.g., `2.12.3-my-feature-branch~8bdc773f1`). That would be more precise information. The build variant alone doesn't tell anything about the particular version of the app in which you have faced an issue. It just gives the information about *which variant* of a particular version

[2020-02-23 08:44] TejaswiKarasani commented on #3423
@sivaraam ok. I will follow it :)

[2020-02-23 08:45] TejaswiKarasani commented on #3423
Changed now ! Will follow it in future as well. Thanks for the valuable suggestion

[2020-02-23 08:47] sivaraam commented on #3423
Wow! That was real quick. 😄

[2020-02-23 08:49] TejaswiKarasani commented on #3423
:p

[2020-02-23 14:55] sivaraam commented on #3409
IMO, there are better chances that the menu item is disabled for a valid reason rather than due to a bug in Android Studio. One not-so-straightforward reason could be found in the following SO answer: https://stackoverflow.com/a/49287726/5614968

Another possibility is that a build might've been in progress in which case Android Studio seems to disable menu. This one actually makes sense to me as

[2020-02-23 15:40] Glitch101 commented on #3409
That could be possible. Thanks, @sivaraam for the info.

That did come to my mind before posting the comment but I checked it and the **build variant** option was still disabled when no build was in progress.

[2020-02-23 17:04] 6point022 opened #3426 ""Archived" notifications should be referred to as "Read""
**Summary:**

"Read" notifications are referred to as "archived" notifications. However, this is inconsistent with how the website displays the notifications.

![image](https://user-images.githubusercontent.com/44764339/75116082-9dbb6100-568a-11ea-844f-989ddea01881.png)

**What did you expect the app to do, and what did you see instead?**

When you open archived notifications, the option to go bac

[2020-02-23 18:00] sivaraam commented on #3426
This looks like a good change to me 🙂

[2020-02-23 18:14] madhurgupta10 commented on #3426
@sivaraam I agree. It makes more sense to change the name to **read**

[2020-02-23 19:26] maskaravivek commented on #3426
As far as I remember we used the word "Archived" as this is what the Wikipedia app uses. While building the notifications feature, we tried to follow the same user experience/behavior as the Wikipedia app.

Before making changes lets double-check the following:
- the terminology Wikipedia app is using
- the behavior in our Commons app ie. are all the notification in "Archived" actually marked as r

[2020-02-23 19:42] 6point022 commented on #3426
It indeed uses the word "Archived". I find it strange though, given that the website doesn't follow this terminology.

Yes, I confirmed this by checking the unread and archived notifications in my account through the app and the website, and they match.

[2020-02-23 19:48] Glitch101 commented on #3397
So, should we go with a Toast or a Dialog? @maskaravivek
Also, I wanted to ask why the positive and negative button's text has been set as opposite in the **DialogUtils** class?

[2020-02-23 19:51] maskaravivek commented on #3426
Thanks for checking both these @6point022. Let us get some more opinions and if everyone agrees then I am okay with this change.

[2020-02-23 19:53] maskaravivek commented on #3397
Yes please create a new issue for it. :)

Lets go with a permission dialog if the location is not enabled. Check `PermissionUtils`.

Lets discuss it on a separate issue thread. :)

[2020-02-23 20:29] Glitch101 opened #3428 "Dialog buttons set as opposite to Android design conventions"
**Summary:**
The text of positive and negative buttons of the dialogs in **DialogUtils** has been set as the opposite and should we swapped. The positive button text is set as "No" and the negative button text is set as "Yes" as evident in the image attached below.

Side notes:
This issue was created from a discussion that happened at #3397. The relevant discussion starts from https://github.com/c

[2020-02-23 21:18] Glitch101 commented on #3397
Done :)

But when the permission is disabled and the user taps on the Nearby tab,  the app prompts them to enable permission. They can't use the **Locate Me** icon if the location permission is not enabled.
![nearby-permission](https://user-images.githubusercontent.com/46349662/75119739-af613080-56ab-11ea-9b70-ce8ef736f493.gif)

We only need to check if the location is on or off and then prompt th

[2020-02-23 21:56] Glitch101 commented on #3397
The way I have been programming the app is this:
1: When the user presses the ReCenter button - >  Check if the location is on or off.
2: If on, do nothing.
3: If off, prompt the user a dialog with a Yes and No buttons using the **DialogUtils** class.
4: Presses Yes - > Open location settings with a toast that says "Please set location mode to High Accuracy"
![Yes](https://user-images.githubuserco

[2020-02-23 22:41] maskaravivek commented on #3397
Okay thats sounds good. I confused it with something else so i was suggesting about permission utils. I assume that location permissions are already given to the app. After the location is turned on, we should also check if location permission is provided or not. If not we should invoke location permission dialog.

[2020-02-23 23:51] #3425 closed

[2020-02-24 05:07] ivantux1 commented on #3361
Excuse my question but:
Are you looking for the application to see small banners of what each button does or a small section where you can see screenshots of the actions to be performed by the app?

[2020-02-24 10:21] neslihanturan commented on #1192
The solution of this issue is almost ready at #2542 . But the PR is sleeping for a while. It can be a nice task for a beginner (not for a first time contribute but if you feel comfortable enough in repository) to fix conflicts of existing solution. So that we can include it to our codebase.

[2020-02-24 10:39] sivaraam commented on #3426
That's an interesting point. I went searching for the rationale behind using "Archived" in [phabricator](https://phabricator.wikimedia.org/). Here are some related tasks that I could find:

* [⚓ T201933 Add a Notifications UI to the Android app](https://phabricator.wikimedia.org/T201933)
* [⚓ T123155 [EPIC] Echo notifications on Wikipedia mobile apps (Android & iOS)](https://phabricator.wikimedia.

[2020-02-24 10:55] sivaraam commented on #3397
Just wondering, wouldn't it be possible to turn on the location automatically like the way Google maps does it? It would be a more pleasant experience.

IMO, as we show the dialog only when the user taps on the "Locate me" icon I don't think it would be annoying to show the dialog whenever the user taps on it. Actually, I believe it would be the other way round. When a user taps on the "Locate me"

[2020-02-24 11:02] Glitch101 opened #3429 "Typo in NearbyParentFragment.java -> onLocationChangedSlightly() method."
**Summary:**

In the method onLocationChangedSlightly(), there is a typo where "Location **significantly** changed" is written instead of "Location **slightly** changed" while creating a log entry for it using Timber.

It's most likely because the method above it was **onLocationChangedSignificantly()** and might have been by mistake copied into **onLocationChangedSlightly()** as well.
Current sta

[2020-02-24 11:45] gupta-anmol opened #3431 "Tabs don't occupy the complete width in landscape mode"
**Summary:**

Home, Explore and Bookmarks pages have two tabs each. In portrait mode, both tabs occupy half of the whole width. However, when the screen is rotated, they remain at the centre of the page and don't utilize the whole width. Every app I have tried adjusts tab width according to the screen orientation.

**How can we reproduce the issue?**

Open the app and change orientation to landsca

[2020-02-24 13:35] Glitch101 commented on #3397
Completely agree on that one. But, there is a catch.
I also wanted to do it that way but implementing that would involve importing Google Play Service API into the project and since they haven't been used before in the project, I think it would be better to make a solution using the already defined classes of the project.
You can check this SO Q&A for reference https://stackoverflow.com/questions/

[2020-02-24 13:41] Glitch101 commented on #3397
Sometimes, the user might not need location-enabled since the last location might be already acquired using Wifi and cell towers and in that case, it will only distract them when they press the Re Center button again. If it helps convey my point, the same behavior can be found in Google Maps.
Note that by location I mean GPS.

Well, we could add a count or something. I mean, let's show the user th

[2020-02-24 16:18] Glitch101 commented on #3400
Hi there @nicolas-raoul. Were you able to reproduce this issue? Actually, I was about done on issue #3397 and was thinking that I might as well take a look at this one since they are similar. Do let me know if you find anything.

[2020-02-24 17:28] sivaraam commented on #3409
Just wanted to mention that the [issue](https://phabricator.wikimedia.org/T243123) with logging into the Commons beta server has now been fixed!

[2020-02-24 17:28] sivaraam commented on #3397
Thanks for the info. Its fine if you would like to implement this without the Play Service API dependency. It would indeed be better to do that change after discussing in a separate issue about whether the dependency is worth introducing.

[2020-02-24 17:32] TejaswiKarasani commented on #3409
@sivaraam that's great!

[2020-02-24 17:47] sivaraam commented on #3397
Ah! So, all this while you were explaining the behaviour of dialog when the GPS is turned off but the location is not. Is that correct? If yes, then it clears some confusion as I've been thinking it would be the behaviour when the location is completely turned off. I think then we need to discuss both the flows:
* Location turned off
* Location on; GPS off

Note: When I refer to "Location", I refe

[2020-02-24 18:00] Glitch101 commented on #3397
Now I am confused too. Let's get this straight together.
### Assumption 1: A device has three location modes.

The middle mode is: Battery Saving which uses Wifi, Bluetooth, cell towers
The highest mode is: High accuracy which uses all available sources.

### Assumption 2:
When you click on GPS icon from your notification panel to disable the GPS, it drops the level from High accuracy to Battery S

[2020-02-24 18:05] Glitch101 commented on #3397
And I programmed the dialog box to appear in case when the App cannot access the GPS. So, the dialog will prompt the user if the location is on Battery Saver mode in which case it can only access Wifi, Bluetooth, and cell towers but not GPS.
**No** dialog box will appear if the location is on Mode 1  or Mode 3 ie GPS only or High Accuracy.

[2020-02-24 18:09] Glitch101 commented on #3397
Do note that in my previous two comments, by "Location" I also mean the exact meaning you wrote in the tagged line above:point_up:

[2020-02-24 18:45] TejaswiKarasani commented on #3409
@sivraam I couldn't able to do so :/

[2020-02-25 05:42] sivaraam commented on #3409
@TejaswiKarasani I am able to log-in to the _beta server_ using my _beta account_ via the _beta flavour of the app_. Anyways, we'll find the problem you're facing. Can you share the error message that you get when trying to log-in? A screenshot is fine too. If it says that your username and password is incorrect, it might be because you're trying to login to the beta server using the your producti

[2020-02-25 05:52] nicolas-raoul commented on #3400
I used the app a lot this weekend and did not get the bug, I guess it has been fixed :-) Thanks!

[2020-02-25 05:52] #3400 closed

[2020-02-25 07:28] nicolas-raoul opened #3433 "Help popup in Achievements: Link to tips"
In each of the help popups, it would be great to have a link that a wiki page that explains things much more deeply.

For instance the help popup for "Featured Images" could link to https://commons.wikimedia.org/wiki/Commons:Featured_picture_candidates or https://commons.wikimedia.org/wiki/Commons:Featured_pictures

[2020-02-25 07:34] nicolas-raoul opened #3434 "Help popup sometimes invisible in Achievements"
All stats have a help button, except that one.
I guess it is just waiting for someone to add one.
The help text could be:

[2020-02-25 07:53] TejaswiKarasani commented on #3409
@sivaraam it worked, previously I was used same email to register for production and beta and now I tried registering different email. Thanks again :')

[2020-02-25 08:04] sivaraam commented on #3409
Good thing it worked.

IIUC, that shouldn't be an issue. Not sure why this was the case for you.

No problem 🙂

[2020-02-25 08:19] sivaraam commented on #3409
I just checked and I have the same e-mail in both the production and beta accounts. So, I presume you have faced some other issue 🙂

[2020-02-25 08:25] TejaswiKarasani commented on #3409
@sivaraam may be different usernames with same mail id?😅 Not sure if this might be the issue that we are searching for :p

[2020-02-25 09:40] sivaraam commented on #3409
Yeah, I just wanted to clarify that using the same e-mail address for the production and beta accounts shouldn't be an issue.

[2020-02-25 10:03] sivaraam commented on #3397
Sure.

Interesting. My device has those modes too but they're not named like that.

![Screenshot_2020-02-25-15-20-16](https://user-images.githubusercontent.com/12448084/75235939-11708180-57e3-11ea-86cd-d2ed6e02dfc7.png)

Regardless, I think we could use those names for discussion as they seem pretty standard in devices running newer Android versions.

I actually don't have the option to turn the G

[2020-02-25 10:13] Glitch101 commented on #3397
Yes

In that case, when the user opens Nearby tab they will get a toast saying "Nearby might not work properly. Location not available". This behaviour was already in the App before I started hacking on it.
Now comes the part that I added:
So, the user will stay at the default location i.e **Tower of London** because in this case the Latitude and Longitude are NULL. Now, if they click on Re Center

[2020-02-25 10:20] Glitch101 commented on #3397
Well, you can take a look at my fork https://github.com/Glitch101/apps-android-commons/tree/add_location_off_dialog_in_nearby
I have only made changes to three files. NearbyParentFragment, LocationManager which has a GPS state listener already impemented in it and it changes a boolean variable in NearbyParentFragment called shwoDialogAgain to true/false based on the conditions and strings.xml for

[2020-02-25 10:26] Glitch101 commented on #3397
Actually, I have read this page before and it is using the Play Services API like we discussed before.
![Screenshot_2020-02-25_10-23-57](https://user-images.githubusercontent.com/46349662/75238480-12a3ad80-57e7-11ea-8844-e1ecccb03281.png)

I haven't gone through this one before. So, let's see if it contains some gold.

[2020-02-25 11:56] #3429 closed

[2020-02-25 12:15] nicolas-raoul commented on #3329
I don't think our app needs this setting more than any other app.
This makes settings (and our codebase) a bit more complex, without a strong reason.
(sorry for joining late, I thought I had posted this a few weeks ago already)

[2020-02-25 15:08] yashk2000 commented on #3433
@nicolas-raoul I would like to work on this.

[2020-02-25 17:12] maskaravivek commented on #3433
It is a simple enough change. Adding `good-first-issue` tag.

@yashk2000 assigned the issue to you.

[2020-02-25 18:03] Glitch101 opened #3435 "Integrate Google Play Services or not for showing the user location off dialog?"
**Summary:**

In order to show the user a dialog box as needed in issue #3397, we could also integrate the Google Play Services to do that just like Google Maps prompt us.
I wanted to discuss this with the team before I move ahead and send my PR.

Just for the sake of discussion, I would suggest that we do not integrate Play Services as they have not been integrated into the Commons app before and

[2020-02-25 18:12] maskaravivek commented on #3435
Yes, I agree. Let's not integrate google play services just for the location dialog. As we also support devices that don't have google play services, we would need to handle a different flow for them.

I don't see much UX improvement with this addition.

[2020-02-25 18:16] Glitch101 commented on #3435
Great! I would then go ahead and send my PR. Thanks @maskaravivek :)

[2020-02-25 18:18] maskaravivek commented on #3435
Can you update the opening comment of #3397 to briefly explain the final approach that has been decided?

[2020-02-25 18:18] sivaraam commented on #3397
I'm not sure why you're special casing the behaviour when the latitude/longitude is `null`. In what case is it `null`?

I have some comments to share regarding the code but I'll save them for the PR review. Speaking of PRs, I suppose we're discussing a lot of implementation related things here which should better be in the PR, IMO. If you're fine with it, please open a PR and we can continue the d

[2020-02-25 18:20] Glitch101 commented on #3435
Sure. Should I also attach the flow charts that I attached above or will it be fine without them?

[2020-02-25 18:21] maskaravivek commented on #3397
@Glitch101 Can you update the opening comment of this issue to summarise the final proposed approach so that its easier for everyone to follow.

[2020-02-25 18:23] Glitch101 commented on #3397
Sure. I will do that!

[2020-02-25 18:23] maskaravivek commented on #3435
Thanks for putting in the efforts for creating the flowcharts. If any of these flowcharts represent the final approach, feel free to add it to the issue. You can skip the other ones :)

[2020-02-25 18:29] TejaswiKarasani commented on #3434
@nicolas-raoul I would like to give a try . Could you able to assign me this issue?

[2020-02-25 18:31] maskaravivek commented on #3434
Assigned to @TejaswiKarasani

[2020-02-25 18:32] Glitch101 commented on #3397
Nearby needs both GPS and cell towers to work properly(High accuracy mode) and if you will open the app when the location is set to **Device only ** i.e only GPS, nearby won't work and will stay at the Tower of London as the Latitude and Longitude are NULL(found this using the logs) in this case. This is the case I am referring the location as null.

Now let's continue our discussion over the PR w

[2020-02-25 18:35] sivaraam commented on #3435
@Glitch101 The flow charts are really nice! Speaking of flow charts, just wanted to mention that the flow charts could use some improvements the consistency. Let me know if you're interested in hearing. Feel free to ignore as they're good the way they are 🙂

[2020-02-25 18:39] Glitch101 commented on #3435
Ignore and miss the chance to get some real and useful feedback. **No sire!**
I am all ears :)

[2020-02-25 18:59] TejaswiKarasani commented on #3434
@maskaravivek I would like to confirm whether the interpretation of the task by myself is correct.

I had sketched the help link in the screenshot. Could you able to verify and let me know whether is that the case?

![IMG-20200226-WA0001](https://user-images.githubusercontent.com/46127128/75277889-e449c080-582e-11ea-8362-08215cc2d848.jpg)

[2020-02-25 19:04] maskaravivek commented on #3434
Nope. The issue is about the achievements screen

[2020-02-25 19:18] TejaswiKarasani commented on #3434
It already had a pop message stating as below. Should I need to just replace the text to "In the app's home, tap the "Nearby" tab to show places around you that need a picture."

![Screenshot_20200226-004530](https://user-images.githubusercontent.com/46127128/75279421-97b3b480-5831-11ea-8f03-00410995e0d5.png)

[2020-02-25 19:55] maskaravivek commented on #3434
Oh, then I guess it might be getting cut off on smaller devices. Can you test it on smaller devices?

[2020-02-25 20:01] TejaswiKarasani commented on #3434
Ok I will test it and revert back!

[2020-02-25 20:29] Glitch101 commented on #3397
Hey, @maskaravivek! I updated the opening comment on this issue. Could you please take a look at it whenever you are free and let me know if it's explanatory enough or do I need to improve it further :smiley:

[2020-02-25 21:06] TejaswiKarasani commented on #3434
Rn, I don't have internet connection to download the virtual devices but asked one of my friends who uses a smaller device (Android Version 7)

Screenshot from his mobile
![IMG-20200226-WA0005](https://user-images.githubusercontent.com/46127128/75287634-b8373b00-5840-11ea-9597-da8d35796136.jpg)

[2020-02-25 21:29] kbhardwaj123 opened #3436 "Switch to Material Card design for the Media Detail Fragment"
**Switch to Material Card design**

As discussed in the issue #3414 the Black tile design has been around for a while so we could switch to material card design as follows:
![GIF-200216_014623 1](https://user-images.githubusercontent.com/44129798/74594608-5a476e00-505e-11ea-9ad0-a0e9089a6715.gif)

Would you like to Contribute?
**Yes**

[2020-02-25 21:34] kbhardwaj123 commented on #3436
I have submitted a PR to handle zoom and for that i created the above mockup so it won't take time to fix

[2020-02-25 21:35] madhurgupta10 commented on #747
I think it is a good idea to move the **utils** java files to kotlin since they don't contain much logic and easy to do it!

[2020-02-25 22:05] #814 closed

[2020-02-25 22:23] madhurgupta10 opened #3437 "Add an option to clear cache"
**Summary:**
We should add an option to clear the cache in the settings of the app.

It not only helps you free up space but also sometimes when there is a software update the app behaves oddly, luckily clearing the cache helps most of the time.

It is easier for some phones running stock android to clear the cache by quickly going to the system settings, but not for all Android Launchers and for

[2020-02-26 05:45] maskaravivek commented on #3434
Yup as you can see the (i) icon for "Nearby Places" is slightly cut from the right side. If its a even smaller device, it might be completely cut off.

[2020-02-26 06:45] sivaraam commented on #3437
I'm not sure what you mean when you say it would difficult for some android launchers. But your other point sounds contradictory to me. For me a "non-tech" person wouldn't know about caching at all. If they do, they would as well know that there would be an option to clear for each app in the device's settings. This could just be me, though 🙂

Of all the apps I've used, the only ones that provide

[2020-02-26 06:54] TejaswiKarasani commented on #3434
@maskaravivek so my task is to reduce size so that everything moves a little left , is it so?

[2020-02-26 06:55] nicolas-raoul commented on #3434
Oh, I did not realize that. I guess it is completely cut off on my device.
The goal should be to make it always visible, then :-)

[2020-02-26 06:57] nicolas-raoul commented on #3434
Here is what I see:
https://commons.wikimedia.org/wiki/File:Android_Commons_app-_Achievements_screen.jpg

[2020-02-26 06:58] TejaswiKarasani commented on #3434
Ok I will work towards it :)

[2020-02-26 12:19] misaochan commented on #3329
I agree that it adds unnecessary complexity. I don't see a common or compelling reason why a user would want to have just our app in a different language from their device. Would anyone else like to chime in on this?

The PR that is already up does seem to be a pity  - it looks like a well-written PR that would have taken a lot of time to do. On the other hand, this is also clearly an "enhancement

[2020-02-26 12:46] 6point022 commented on #3329
Yes, but I did learn a lot doing it, and I believe that's what matters the most. 😄

I have created some other issues and hope to work on them to get started. 😃

[2020-02-26 15:48] Glitch101 commented on #3435
Still waiting for that feedback:^)

[2020-02-26 16:28] sivaraam commented on #3435
@Glitch101 I appreciate your eagerness. Sometimes delay is unavoidable when you want to ensure that the feedback is constructive. Be patient. You'll get it soon 🙂

[2020-02-26 16:32] Glitch101 commented on #3435
Sure. I thought that maybe you forgot or didn't see my comment.

[2020-02-26 17:21] bistaastha commented on #3316
@nicolas-raoul Can you tag this issue as a good first issue? It is a small change but it would require some digging around.

[2020-02-26 17:25] maskaravivek commented on #3316
Yes I have also faced this issue multiple times. Can you do a bit of research and propose possible approaches to tackle it. AFAIK fast scrolling was enabled as these lists could potentially contain 100s of items.

[2020-02-26 17:30] bistaastha commented on #3316
@maskaravivek For smaller screen devices and possibly for the ones with a curved edge, I think that fast scroll hinders scrolling more than it helps with it.

[2020-02-26 17:33] bistaastha commented on #3316
I'll try to look for other alternatives for fast scroll. Since the section where this is enabled in called Explore, is the functionality for skipping to certain parts of the scroll flow really required?

[2020-02-26 17:35] maskaravivek commented on #3316
I am not sure if we would be able to detect curved edges of the device and disable fast scrolling just for those devices.

Currently, the scroll bar is very thick. Can you check if decreasing the scrollbar width to 1px or helps? Also, maybe we can set `android:fadeScrollbars:true` so that it is not visible at all times.

It would be great if could check these approaches and maybe any other approac

[2020-02-26 17:45] bistaastha commented on #3316
I tried fading the scrollbar, but accidental touches still managed to activate it. It will be some time before I will be able to check out the scrollbar after decreasing the width.

[2020-02-26 18:33] misaochan commented on #3329
Thank you for your understanding, @6point022 . :) We will leave the discussion open for now, but even if we decide to close your PR, I will make a note on it that the PR was a good one and adheres to our code quality requirements, and that we couldn't merge it for reasons unrelated to code. So you can mention it on your GSoC application etc either way.

[2020-02-27 08:11] neslihanturan commented on #3329
Sorry @6point022 , that I mis-guided you about this feature can be a good idea (I actually considered it as a good idea). Still your efforts will be considered during GSoC application. Please don't feel demotivated :purple_heart:

[2020-02-27 08:53] misaochan commented on #3333
@vishakha-a If you let us know where exactly you are stuck and what you have tried so far, we might be able to help you.

[2020-02-27 08:56] misaochan commented on #3424
Yes, I think it could be an issue, it's very possible that a new contributor (or even an old contributor...) could copy paste their debug logs here without checking through the whole thing for sensitive information. IMO it will be a security liability on our part.

Is there a specific need for showing HTTP logs, now that we have fixed the failed uploads issue?

[2020-02-27 09:08] kbhardwaj123 commented on #3436
@misaochan @maskaravivek what are your views on this :)

[2020-02-27 09:09] nicolas-raoul commented on #3333
@vishakha-a Yes, at least every two days please let us:
- What you tried
- What did not work
- What worked
- What step you are planning to start next
Thanks :-)

[2020-02-27 09:09] ciphereck commented on #2649
@misaochan @maskaravivek
I tried mocking ImageUtils as static class using wrapper as was in FileUtilsWrapper.
There's already a wrapper for ImageUtils i.e. ImageUtilsWrapper, but it's still returning null to me.

I also tried @RunWith as mentioned in StackOverflow somewhere, but it's still of no help :(
Can you please help me on this?

[2020-02-27 09:15] misaochan commented on #3436
Pinging @neslihanturan for design input. :)

[2020-02-27 09:19] misaochan commented on #3329
If everyone is OK with it, I will close this issue?

[2020-02-27 17:28] TejaswiKarasani commented on #3434
@maskaravivek @nicolas-raoul does this makes sense or should I reduce the size of other contents under stats as "Upload image near by places"

![image](https://user-images.githubusercontent.com/46127128/75469211-9fe82d00-59b4-11ea-852e-18489b3842c2.png)

[2020-02-27 19:26] sivaraam commented on #3435
Ok. Here's the feedback I was speaking of. It's only general feedback about some elements of the flowchart and not about any flowchart in particular. So, I'm not sure how interesting it would be. It might possibly sound like being pedantic/nitpicking. You can safely ignore it, if it does ☮️ 🕊

Let me clarify one thing about one of my previous comments before I go into the feedback.

By "consistenc

[2020-02-27 19:46] Glitch101 commented on #3435
That's great actually. At least it's better than fake appreciation which seems to be so common nowadays.

Interesting, I didn't knew these existed. Thanks for sharing. They will definitely help in making better flow charts in the future.

I agree. My bad. No excuses.

Yeah, that would have been better.

It very much does! Thanks for putting in the effort for writing this feedback @sivaraam. I real

[2020-02-27 23:24] madhurgupta10 commented on #3376
@GearGit any updates on this issue?

[2020-02-28 00:51] mds08011 commented on #3376
@madhurgupta10 there is a Pull Request waiting to be reviewed: https://github.com/commons-app/apps-android-commons/pull/3386

[2020-02-28 01:02] nicolas-raoul commented on #3359
Still happening in 2.12.3.591~e303491
![Screenshot_20200228-100001_Commons](https://user-images.githubusercontent.com/99590/75500760-419d6780-5a11-11ea-95df-8eb6058e9d24.jpg)

[2020-02-28 10:22] madhurgupta10 commented on #3437
I mean some launchers I used before don't give you 2 step process to clear an app's cache as stock android os do. It is tricky to find this option, I can only say this about the launchers I used before.

I agree Commons app don't have goals to be an offline-focused app but we still cache a lot of media to the phone, for instance when you open the app for the first time we cache all the media from

[2020-02-28 14:37] misaochan commented on #3359
Hi @GearGit , as this issue is a pretty visible bug, I am bumping its priority.

How are things going with your work on it? If you are actively working on it now, we're happy to keep you assigned to it. Please update us with where exactly you are stuck, and what you have tried, so we can try to help you.

If you are not actively working on it, please let us know so we can assign it to someone else

[2020-02-28 14:42] misaochan commented on #3437
Hi @madhurgupta10 , thanks for the suggestion. Given that the option is already present in the Android system, and it isn't something that the average non-technical user would use often anyway (unlike, say, logout), I'm personally not sure it's worth adding the complexity to our app. Do bear in mind that all features that are added need to be maintained (bugs/crashes fixed, compatibility with all

[2020-02-28 14:44] GearGit commented on #3359
@misaochan
I am not able to resolve the issue, please do assign it to someone else.

[2020-02-28 14:46] madhurgupta10 commented on #3437
@misaochan I agree maybe in the future. But, for now, we can skip working on this feature.

[2020-02-28 18:06] ashishkumar468 commented on #3359
Picking this up

[2020-02-28 19:24] gupta-anmol opened #3440 "Campaign notification is not removed from Home even after disabling it in the Settings"
**Summary:**

Campaign notification is not removed from Home even after disabling the "Display campaigns" preference in the Settings. This happens because the `MainActivity` is in memory and is not being recreated.

**How can we reproduce the issue?**

Open Home.
Notice the campaign notification.
Go to Settings and disable "Display campaigns".
Go back to Home.

**What did you expect the app to do,

[2020-02-29 08:04] maskaravivek commented on #3437
I guess we can close this task for now and reopen it when the need arises. :)

[2020-02-29 08:04] #3437 closed

[2020-02-29 08:36] sivaraam commented on #3437
I see there already a consensus here. I just wanted to add a few comments.

Yeah, but clearing the cache of a specific app is not something you should be doing often. As I've noted before, that just indicates that something is wrong with app's handling of the cache. We should be identifying and fixing the mishandling rather than providing a way to work around it. 🙂

That said, there's one valid ca

[2020-02-29 12:05] sivaraam commented on #3440
IMO, this does seem to be a valid issue that could be fixed. It's interesting that while disabling the setting doesn't make the campaigns notification in the home screen go away. Enabling the setting immediately results in the notification re-appearing on the home screen. 🤔

[2020-02-29 12:06] sivaraam commented on #3437
That's one thing I had in mind too when I was thinking if it was worth including the feature now. I'm curious about why I never mentioned it _#SelfAnalysis_ 🤔

[2020-02-29 18:00] sivaraam commented on #3434
@TejaswiKarasani The reduction of size for that content alone does give an awkward look. My suggestion to fix the issue would be to totally change how the info pop-up is shown. Rather than having a separate "info" icon for each item that would show the information pop-up, we could show the pop-up when a user taps on the text for that item. For example, we could just show the help pop-up when a use

[2020-02-29 18:06] TejaswiKarasani commented on #3434
@sivaraam I get it. Should I proceed in the same way @maskaravivek ?

[2020-02-29 18:10] maskaravivek opened #3441 "Totally change how the help pop-up is shown in achievements screen"
@TejaswiKarasani The reduction of size for that content alone does give an awkward look. My suggestion to fix the issue would be to totally change how the help pop-up is shown. Rather than having a separate "info" icon for each item that would show the help pop-up, we could show the pop-up when a user taps on the text for that item. For example, we could just show the help pop-up when a user taps

[2020-02-29 18:12] TejaswiKarasani commented on #3441
Ok , I will work on it

[2020-02-29 18:16] sivaraam commented on #3441
Oh! I forgot to mention the main reason I suggested this. We don't do anything when tapping on that text and that looks like a lot of space that could be put to use. It would also make it easy to access the help pop-up. I find it really difficult to tap on the info icon in my device screen. It's too small.

![Screenshot_2020-02-29-23-42-14](https://user-images.githubusercontent.com/12448084/756128

[2020-02-29 18:20] TejaswiKarasani commented on #3441
@sivaraam Yeah sure thing , it's a notable issue we need to consider.

@maskaravivek Right now , I have my exams going on. I will keep working on the issue in between the exams whenever so there is free time available

[2020-02-29 18:22] maskaravivek commented on #3434
@sivaraam Thanks for your feedback. A complete design change could be a separate issue. I have created #3441 to discuss it.

@TejaswiKarasani Lets not use a different text size just for one of the texts.

Please use the following layout.

- Divide the whole thing into 4 columns ie. icon, text, help icon and count
- Use layout weight to assign weights to all of these columns (https://developer.andr

[2020-02-29 18:25] maskaravivek commented on #3441
@TejaswiKarasani this issue is a proposed enhancement and is still under discussion. For now, let us just fix the bug in #3434 using the existing designs.

[2020-02-29 18:25] TejaswiKarasani commented on #3434
Will follow👍

[2020-02-29 18:26] TejaswiKarasani commented on #3441
Ok I will do that @maskaravivek

[2020-02-29 18:36] sivaraam commented on #3434
Just wanted to clarify one thing as you mentioned "_complete_ design change", I was only proposing to show the help pop-up when tapping on the text rather than showing it via a separate information icon. I'm not sure how that counts as a "_complete_ design change".

I used the screenshots from the Wikipedia app only to illustrate how they were handling a similar help pop-up in their app. I wasn't

[2020-02-29 19:32] maskaravivek commented on #3434
@sivaraam Apologies for not putting it clearly. I just meant it would be a change in behavior as compared to the current flow.

[2020-03-01 07:11] nicolas-raoul commented on #3434
I was thinking about just making sure that the whole text (including the help button) wrap correctly to the next line when the screen is small. It should work even on very small screens where other items such as "Featured images (?)" are also wider than the screen.

[2020-03-01 07:55] 6point022 commented on #3440
Yes, I noticed that too, but was unable to figure out the reason behind this difference. I am interested in knowing why this happening though, I will try to dig through the code again when I get time. 😛

[2020-03-01 14:12] #3329 closed

[2020-03-01 14:30] domdomegg opened #3442 "Mapbox localization related crash on app start"
**Summary:**

App crashes on start if using the `en-gb` locale. I think this is because the mapbox dependency was updated but the corresponding localization plugin was not.

**Steps to reproduce:**

Set the system language to `en-gb`. Open the app.

**System logs:**

[code]

**Device and Android version:**

What make and model device (e.g., Samsung J7) did you encounter this on? Simulator
What And

[2020-03-01 15:30] #3091 closed

[2020-03-01 16:11] domdomegg commented on #3411
I've fixed the docs, just removed the bit about Instant Run now the new android gradle plugin fixes the underlying issue (see #3443)

I've been thinking about the wiki, and actually think the best idea would be a mix of the two: have a seperate repo, where we store MD files. I think having it in the main repo doesn't make too much sense (as at the moment changes are quite heavy, as Travis will bui

[2020-03-01 16:19] domdomegg commented on #1413
Closed in #1440

[2020-03-01 16:19] #1413 closed

[2020-03-01 16:22] #1485 closed

[2020-03-01 16:33] domdomegg commented on #1483
Don't think this is reproducable any more - reopen if it is.

[2020-03-01 16:33] #1483 closed

[2020-03-01 17:30] TejaswiKarasani commented on #3434
So @nicolas-raoul do you mean layout-weight doesn't work?

[2020-03-01 17:46] sivaraam commented on #3434
I cant speak for him but I suppose, he actually means the opposite 🙂 AFAIK if you get the layout weights right, the issue mentioned here shouldn't happen on smaller screens.

[2020-03-01 17:51] TejaswiKarasani commented on #3434
If that's the case then cool :)

[2020-03-01 18:56] maskaravivek commented on #3411
I am happy with this proposal. Let us wait for @misaochan's opinion.

[2020-03-01 23:58] madhurgupta10 opened #3444 "Updating Logos for Github, Facebook and Website in About Activity"
**Summary:**
I think we should be using the latest logos from Facebook and Github for About Activity.

<img src="https://user-images.githubusercontent.com/30932899/75636568-18065b00-5c20-11ea-92c2-5e7b6f6b1a9b.png" width="120" height="120" />

<img src="https://user-images.githubusercontent.com/30932899/75636582-41bf8200-5c20-11ea-9b11-4cf0350ec812.png" width="120" height="120" />

![Screenshot_15

[2020-03-02 09:58] sivaraam commented on #3444
As a related change, I think we could also update the web icon to something modern, if available. Otherwise, there's a possibility that the web icon might look outlandish when compared to the GitHub and Facebook icons after the change.

[2020-03-02 09:59] #2944 closed

[2020-03-02 10:00] misaochan commented on #3444
@madhurgupta10 Sounds like a good plan! Would you like to take it up?

@sivaraam Yes, that too. :)

[2020-03-02 10:00] nicolas-raoul commented on #3444
And convert the Facebook logo to black/transparent, I presume.

[2020-03-02 10:10] misaochan commented on #3411
I'm happy with this as well. We can update our readme.md to point users to the documentation repo, too. :)

Thanks @domdomegg !

[2020-03-02 10:21] sivaraam commented on #3444
This made me wonder what Facebook's branding guidelines were. Here's what I found:

https://en.facebookbrand.com/facebookapp/assets/f-logo?audience=landing

I'll leave it to others to do the brainstorming 😄

[2020-03-02 10:33] sivaraam commented on #3411
Oh, and don't forget to link to it from the then main page of the wiki for better reach!

[2020-03-02 11:42] macgills opened #3445 "Add codestyle to git"
**Summary:**

The codestyle should be a part of the project and require no setup for a new contributor

**Steps to reproduce:**

Clone the project and go to a file, press `ctrl+alt+l` and see the file will be changed.

**Would you like to work on the issue?**

I think this would be best if somebody with an already correct style configured were to do this.

Just adding this to the `.gitignore` shou

[2020-03-02 11:52] macgills opened #3446 "Don't use AppCompat* components explicitly in layout files"
AndroidX uses a custom LayoutInflater that replaces `<Button>` with `<AppCompatButton>` automatically, making the `<AppCompatButton`  (and other) declarations unnecessary.

[2020-03-02 12:50] madhurgupta10 commented on #3444
@misaochan I would be happy to do it, but in case a new contributor wants to solve this issue then I will be happier if you assign them :)

[2020-03-02 12:53] madhurgupta10 commented on #3444
Could you please suggest modern icons for the web?

[2020-03-02 13:17] #3442 closed

[2020-03-02 13:32] nicolas-raoul commented on #2911
Somehow the attribution has disappeared.
Anyone please fix this, you can probably look at Neslihan's code above for inspiration. Thanks! :-)

[2020-03-02 15:09] macgills commented on #3222
@misaochan what would be the acceptance criteria for this ticket?

I can verify you can upload a picture without crashing, tested on `betaDebug`. I did however get 2 items shown in the list, subsequently a crash when clicking the 2nd item but that bug was introduced in #3133.

To what extent must I verify this is working?

The change is clocking in `+7,253 −213` so I may need a definition of maste

[2020-03-02 15:16] macgills opened #3448 "CategoryImagesListFragment.handleError never succeeds"
**Summary:**

While getting timeouts from the beta endpoint I did not see an error view.

The problem is the usage of `timeout` after `observeOn`, timeout by default operates on the Computation Scheduler switching the downstream operator to this thread

**Steps to reproduce:**

Change the timeout to be 1ms and see that the error view is not shown.

**System logs:**

[code]

**Commons app version:*

[2020-03-02 15:58] misaochan commented on #3446
@macgills Go for it. :)

[2020-03-02 16:06] macgills commented on #3448
The problem and anti pattern of wrapping view access in a try catch is much more widespread.
All usage of `.timeout` should be addressed

[2020-03-02 19:14] sivaraam commented on #3444
I didn't have any icons in mind when I suggested this. Anyways, here are some suggestions.

*Note*: I've included the images below only for demonstration. In case we choose to use one of these, it's better to use the original resources from the respective websites):

* [Material Design's globe icon](https://material.io/resources/icons/?search=publi&icon=public&style=baseline)
    ![image](https://

[2020-03-02 19:33] 6point022 commented on #3444
@misaochan Can I work on this issue?

[2020-03-02 19:39] sivaraam commented on #3444
Sure @6point022! Go for it :)

[2020-03-03 09:40] macgills opened #3451 "Delete CompatTextView"
**Summary:**
This class was used to overcome a bug API 17 maybe? Commit msg: `Fix vectors for drawableStart in API 17`. Minimum SDK is now 19

**Would you like to work on the issue?**

Sure

[2020-03-03 10:03] macgills opened #3452 "KeyValueStores should have types and not be accessed by magic strings"
To use the KvStores requires too much mental burden.
[code]
I have to remember the key, type and proper default value of this data, as well as the name of the store I want.

[code]

[2020-03-03 10:14] macgills opened #3453 "LoginActivity Hides the keyboard if I try to advance focus from Username to Password"
**Summary:**

I entered a username, pressed the `next field` affordance, focus advanced to password but the keyboard was hidden so I had to press on the password field to start typing

**Steps to reproduce:**

Tap on username textview and then use next.

**Device and Android version:**

What make and model device (e.g., Samsung J7) did you encounter this on?
What Android version (e.g., Android 4.0

[2020-03-03 10:21] macgills opened #3454 "Use Butterknife unbinder for fragments to stop leaking views"
**Summary:**

As the Butterknife [page](https://jakewharton.github.io/butterknife/) states

**Would you like to work on the issue?**

Sure

[2020-03-03 10:42] macgills opened #3455 "Mix of injection methods via Dagger"
Calls to `Android.injection(this)` were removed, this is one of the primary reasons to use Dagger Android.

Some classes use Injectors and others use manual injection via component
[code]

[2020-03-03 12:41] macgills opened #3456 "Replace GSON with Moshi for better kotlin support"
Gson does not play well with [kotlin](https://proandroiddev.com/most-elegant-way-of-using-gson-kotlin-with-default-values-and-null-safety-b6216ac5328c). Moshi would give us everything we need.

Would be a pretty sizeable change but worth it I would think.

[2020-03-03 12:54] yashk2000 commented on #3433
@maskaravivek you can re-assign this issue to someone else. I think it will be better for a newcomer hoping to make their first contribution.

[2020-03-03 13:01] macgills opened #3457 "Permissions in Manifest only granted to system apps"
**Summary:**

[code]
Should not be requested and I would think do nothing.

**Would you like to work on the issue?**

Sure

[2020-03-03 13:05] TejaswiKarasani commented on #3433
@maskaravivek may I work on this issue as well along with other achievements issue?

Both of them would be a good combo :p

[2020-03-03 13:21] macgills opened #3458 "MainActivity cannot be recreated"
**Summary:**

When you have "Do not keep activities" active and try navigating back to MainActivity the app will crash.

**Steps to reproduce:**

1. Turn on "Do not keep activities" in Developer Options
1. Go to MainActivity
1. Go to Device's Home Screen
1. Return to the app using Recents

**System logs:**

[code]

**Commons app version:**

master and betaDebug

**Would you like to work on the iss

[2020-03-03 13:34] macgills opened #3459 "Use R8 instead of Proguard"
[code]

[2020-03-03 13:40] nicolas-raoul commented on #3458
Great finding!
I just added [a section](https://github.com/commons-app/apps-android-commons/wiki/Volunteers-welcome!#stress-testing) to the wiki about this technique.

[2020-03-03 17:41] sivaraam commented on #3444
Just wanted to mention that I've found a usage of Google's Material Design's globe icon in the app detail page of play store [obviously :)]

![image](https://user-images.githubusercontent.com/12448084/75801710-963e3b00-5da1-11ea-980a-3469a3832602.png)
*Credits: [Commons wiki page](https://github.com/commons-app/apps-android-commons/wiki/Volunteers-welcome!#how-to-install-the-beta)* 😉

I realise th

[2020-03-03 18:15] maskaravivek commented on #3456
I just read up a bit about Moshi and it seems that it would indeed be a better choice than Gson given that we are now using Kotlin.

As of now just a handful of classes apart from tests uses Kotlin. This task can probably have a low priority for now.

[2020-03-03 18:24] maskaravivek commented on #3457
We are for sure not using `android.permission.MANAGE_DOCUMENTS` anywhere and it can be removed.

Am not sure about `READ_LOGS`. Its possible that our log sender code might be using it. We will have to double check. AFAIK according to updated google's policies, we should not be using it.

[2020-03-04 00:10] madhurgupta10 commented on #3456
@maskaravivek I think we should proceed with this issue when at least 50% of the codebase is in Kotlin!

[2020-03-04 02:11] maskaravivek commented on #3433
Sure. Take it up @TejaswiKarasani. Make sure to create separate PRs for both the fixes.

[2020-03-04 02:15] TejaswiKarasani commented on #3433
Ok @maskaravivek :)

[2020-03-04 04:55] TejaswiKarasani commented on #3433
@nicolas-raoul @maskaravivek

Could you able have a look over the links that I have collected for resolving this issue?

Images uploaded:
https://commons.wikimedia.org/wiki/Commons:Upload
https://commons.wikimedia.org/wiki/Commons:First_steps/Uploading_files
https://en.wikipedia.org/wiki/Wikipedia:Image_use_policy
https://commons.wikimedia.org/wiki/Commons:Fair_use

Images that were not reverted
h

[2020-03-04 07:12] sivaraam commented on #3433
IMO, in the the ideal case it would be great if we could just link to only one most relevant resource. That would make it easy for the users to quickly the related information.

[2020-03-04 07:45] TejaswiKarasani commented on #3433
@sivaraam ok 👍

[2020-03-04 08:54] macgills commented on #3456
It is an impediment to writing good kotlin and honestly I found most of the gson implementation confusing.
Why is everything marked expose?
[code]

when the gson instance does not have `excludeFieldsWithoutExposeAnnotation()` set?
[code]

Why are we using `@SerializedName` when the field name is already correct?

To me a lot of this code is due for replacing and moshi works great with java and kot

[2020-03-04 09:27] misaochan commented on #3456
I looked at https://github.com/square/moshi . Fairly reputable and looks relatively straightforward to use, and can be used with Java as well. But if we do make the switch, I think we would need to commit to changing everything to Moshi, as leaving some parts in Gson would be untidy and confusing. So it may take a sizeable chunk of time to do it. @macgills I think we can probably prioritize the st

[2020-03-04 10:02] misaochan commented on #3457
I agree re: manage_documents permission.

Read_logs can be removed as long as we test ACRA crash reports and the Settings > Send Logs function to make sure that they both still work.

(Pasting the SO thread that was linked to me: https://stackoverflow.com/questions/45270547/is-read-logs-a-normal-or-dangerous-android-permission/45270606#45270606 )

[2020-03-04 10:24] misaochan commented on #3444
I guess the Material Design globe icon would be best. :)

[2020-03-04 11:26] macgills opened #3461 "Update theme to latest guidelines"
We should create a theme based on [this template project](https://github.com/material-components/material-components-android/tree/master/material-theme-builder) for a comprehensive theme that encompasses night mode, typography, shape and that will support all existing and future components.

[2020-03-04 11:30] macgills opened #3462 "Paginated data requests should be done with AndroidX Pagination Library"
**Summary:**

The [Pagination library](https://developer.android.com/topic/libraries/architecture/paging) offers a way to handle the complex process of paging through a remote/local dataset in an efficient and user friendly manner.

**Would you like to work on the issue?**

Sure

[2020-03-04 11:47] nicolas-raoul commented on #3462
Our pagination is really buggy, actually, especially the gallery (one's own uploads) :-'(

[2020-03-04 11:53] macgills commented on #3462
It is a quite difficult problem. The pagination library isn't the friendliest of things to use but it works. Another problem might be the usage of ListViews, I think I have seen 1 `GridAdapter` floating around that should also be replaced with Recyclerview and an appropriate LayoutManager+Adapter

[2020-03-04 13:23] macgills opened #3463 "Remove usages of assert"
[code]
*and runtime assertions have been enabled on the JVM using the *-ea* JVM option.*
They have not been enabled and won't be. Replace with appropriate `AssertThat`s.

[2020-03-04 16:07] domdomegg commented on #3411
I've moved the wiki to [commons-app/documentation](https://github.com/commons-app/documentation/blob/master/android/README.md) - let me know what you think. Always happy to change it with feedback, and the easiest time to do that is now :)

If everyone's happy with how that seems (at least for now) I'll update the links from this repo's README.

[2020-03-04 17:34] misaochan commented on #3411
Thank you for your work @domdomegg ! The new repo looks great IMO. :)

[2020-03-04 18:23] sivaraam commented on #3411
@domdomegg The repo is really good and well organized. I love the way you've used the emojis. It gives it a really nice touch. 🙂 Great job ❣️

Just a few suggestions:
* I see that the specific docs [[1]](https://github.com/commons-app/documentation/blob/master/android/How-to-install-and-use-the-app.md) [[2]](https://github.com/commons-app/documentation/blob/master/android/Volunteers-welcome!.md) d

[2020-03-04 18:28] bjh21 opened #3464 "App posts deletion request notifications ({{subst:idw}}) on the wrong user's talk page"
I'm afraid I don't actually use the app: this issue is based on observing edits made on Commons by people apparently using it.

When someone nominates a file for deletion, a notification (using {{subst:[idw](https://commons.wikimedia.org/wiki/Template:Idw)}}) should be placed on the user talk page of everyone who uploaded a version of that file. It seems that instead, the app is placing such a not

[2020-03-04 18:38] sivaraam commented on #2717
Closing this per [this PR comment](https://github.com/commons-app/apps-android-commons/pull/2833#issuecomment-479384336).

[2020-03-04 18:38] #2717 closed

[2020-03-04 20:51] domdomegg commented on #3411
No, just that GitHub doesn't store wiki page's titles in the markdown files you export them as - I'm planning on writing a script to add all the titles soon.

Yeah that would be good - just make sure to update the links :)

Feel free to tag me for a review :)

[2020-03-04 22:00] maskaravivek commented on #3411
Thanks a lot @domdomegg :)

[2020-03-04 22:02] maskaravivek commented on #3409
Would someone like to update our documentation with details about build variants?

You can raise a PR in this repo:

https://github.com/commons-app/documentation

[2020-03-05 02:46] Glitch101 commented on #3409
Sure. I would be happy to do it. :smiley:

[2020-03-05 06:25] sivaraam commented on #1613
Is this done now? I saw the related [incident wiki page](https://github.com/commons-app/documentation/blob/master/android/June-2018-incident.md) and found the status of this as "on going".

[2020-03-05 09:24] macgills commented on #3409
I would link to official docs as much as possible, [they](https://developer.android.com/studio/run) are less likely to get outdated than our docs

[2020-03-05 09:56] whym commented on #1613
Almost. But I never managed to work on the last item (mass message) mentioned above. It would have been nicer to do that, but after more than one year, I suspect it might be merely confusing than helpful to the receivers of such a message now. I can still try doing that, though.

[2020-03-05 12:48] macgills commented on #3384
[code]

the result then gets mapped by this
[code]

Thought this was a problem on depictions branch but it is also on master, only tested on `betaDebug`

[2020-03-05 13:12] wetneb commented on #1531
In OpenRefine (which uses Wikidata-Toolkit) we are hoping to work on Commons integration, so we are thinking about working on WDTK to improve it where needed.

For you, WDTK would bring a complete implementation of the Wikibase datamodel (statements, qualifiers, entity values) and a simple wrapper around the Wikibase API to edit structured data.

If you see things that are missing feel free to rea

[2020-03-05 13:20] macgills opened #3465 "Change Preferences to use AndroidX"
**Summary:**

We are not using the Androidx artifact for our preferences screen meaning we are missing out on key features like summaryProvider support

[2020-03-05 13:21] macgills commented on #3465
tagging @madhurgupta10 in the hopes it will then let me assign them to this ticket

[2020-03-05 13:42] madhurgupta10 commented on #3465
Sure! I will take up this issue, do help me 😅

[2020-03-05 13:44] macgills commented on #3465
Still haven't figured out how to assign you but I'm working on it!

Always here to help.

[2020-03-05 13:46] madhurgupta10 commented on #3465
You can add the assign tag!

[2020-03-05 13:55] macgills commented on #3465
You finally appeared in the list, maybe you had to comment on the issue? Eh it all worked out

[2020-03-05 13:55] nicolas-raoul opened #3466 "No crash information in crash email (Gmail)"
**Summary:**

Since a rather long time, ACRA seems to not attach logs to the crash report email.
For instance, I just got a crash and after the ACRA screen, Gmail opens on this screen:
![Screenshot_20200305-225033_Gmail](https://user-images.githubusercontent.com/99590/75987872-054b9900-5f34-11ea-82f5-7527e2d49587.jpg)
As you can see, the email is empty, so there is no point sending it.

Fortunatel

[2020-03-05 14:01] misaochan commented on #3464
@nicolas-raoul , is it okay if I nominate one of your photos for deletion to try and reproduce this?

[2020-03-05 14:06] nicolas-raoul commented on #3384
Thanks @macgills ! These methods seem to be used in "Explore" when searching for categories, but not when searching for categories during picture upload, for some reason I ignore.

Here are the queries I see in logcat at step 2 (search categories) when uploading a picture:
- Ulster: https://commons.wikimedia.org/w/api.php?action=query&format=json&formatversion=2&generator=allcategories&gacprefix=u

[2020-03-05 14:10] macgills commented on #3384
My mistake, the problems I was having with that endpoint seemed to be the same, searching `commons` returned nothing but `com` had results that clearly had "Commons" in them. I don't think that api performs better

[2020-03-05 14:27] macgills commented on #3384
Actually it is weirder than that, adding a category to an upload works fine:
[code]
This returns a list of things with commons in them, a good few entries.

Searching for a category in explore works odd:
[code]
Note here it is the search term `common` i only get 2 entries. Commons gets me more.
Most results on the way to spelling `commons` are empty.

I am using beta endpoints so that could be aff

[2020-03-05 14:33] #3377 closed

[2020-03-05 15:15] macgills opened #3467 "Use travis deploy for releases"
**Summary:**

Travis has [deploy](https://docs.travis-ci.com/user/deployment) blocks that can be set to only run on a branch, by default won't happen on a failure and never run for PRs. We can remove all this logic in travis and depend on default behaviour.

**Would you like to work on the issue?**

Sure

[2020-03-05 15:25] nicolas-raoul commented on #3384
I have found that using the production is better when developing, because
beta is so different. I would suggest using the beta server only when you
really have do many nonsense write operations.

On Thu, 5 Mar 2020, 23:27 Seán Mac Gillicuddy, <notifications@github.com>
wrote:

[2020-03-05 16:13] maskaravivek commented on #3409
Yes, I think we can also link the official docs in addition to our app specific instructions.

For a newcomer the official docs might be a bit daunting/confusing. The intent is to get any newcomer started with both beta/prod versions of the app quickly.

[2020-03-05 16:19] macgills opened #3468 "Switch from RvRenderer to AdapterDelegates"
**Summary:**

RvRenderer has no support for the paging library and [the issue](https://github.com/pedrovgs/Renderers/issues/45) has been open for some time.

[AdapterDelegates](https://github.com/sockeqwe/AdapterDelegates) has support for the paging library and has a more expressive syntax.

**Would you like to work on the issue?**

Sure

[2020-03-05 16:23] Glitch101 commented on #3409
I agree. We can always share the official documentation link below our Wiki page of that topic. I will keep this in mind when I open a PR for this.

[2020-03-05 17:21] sivaraam commented on #3377
There seems to be a lot of discussion in the PR. So, can someone quickly catch me up on something? Were the changes done so that the options are provided as suggested in [the above comment](https://github.com/commons-app/apps-android-commons/issues/3377#issuecomment-584820998) as seemed to be the consensus? I'm mostly wondering about whether we show different options for the different Android vers

[2020-03-05 17:27] sivaraam commented on #3409
Yeah, linking to the docs is good.

In case it wasn't noticed, I just wanted to mention that I've linked to some related official docs in [my comment about the build flavors](https://github.com/commons-app/apps-android-commons/issues/3409#issuecomment-588390094). 🙂

[2020-03-05 18:05] rimshach commented on #3327
Hey can I work on this issue?

[2020-03-05 18:10] rimshach commented on #3333
Hey @nicolas-raoul , can I work on this issue?

[2020-03-05 18:22] sivaraam commented on #3464
@misaochan If you're just looking for some photo to test this, you can feel free to test it on the [ones that I've uploaded](https://commons.wikimedia.org/w/index.php?title=Special:ListFiles/Kaartic&ilshowall=1) if they meet the requirements. Particularly here's one which I won't mind even if it's actually deleted:

https://commons.wikimedia.org/wiki/File:Partially_visible_instructions_for_getting

[2020-03-05 18:52] misaochan commented on #3464
Yup, I can confirm that this is very reproducible - https://commons.wikimedia.org/wiki/User_talk:Misaochan2#File:Sunset_at_Chunnambar.jpg came from the deletion request that I submitted for a photo that @sivaraam uploaded (sorry about choosing that one @sivaraam , I could not for the life of me find the "partially visible instructions" pic in Explore, lol. I did leave a note that I was only testin

[2020-03-05 18:58] sivaraam commented on #3464
I just got a chance to test this myself by nominating images in the beta instance and am *able to* reproduce the issue described.

Here's what I did.

First I nominated [this image](https://commons.m.wikimedia.beta.wmflabs.org/wiki/File%3AImage_20.jpg) using [my account](https://commons.wikimedia.beta.wmflabs.org/wiki/User:Sivaraam). The nomination was successful as could be seen from the nominati

[2020-03-05 19:04] sivaraam commented on #3464
Ah, that was one of the only good ones that I've uploaded. But never mind. It's fine as you've mentioned not to delete it 🙂

😄

Thank you! As you could've observed from my previous comment this issue is reproducible in the beta server too. So, you do have the option of testing this with the beta server. There you can happily test this without any worries of getting images deleted. 🙂

[2020-03-05 19:23] madhurgupta10 commented on #3377
@sivaraam I changed the night mode setting from a simple switch to a list preference. User can now set it as Dark or Light or Default (System-Wide Theme)

 In Android 10 if the default is selected in Commons app setting then the app will follow the system setting.

For older devices default system-wide theme remains Light or incase a custom skin of android supports dark theme then the app will als

[2020-03-05 20:36] FawziyahAlebiosu commented on #3445
Hi @nicolas-raoul I would like to work on this issue, can you assign it to me?

[2020-03-05 21:04] madhurgupta10 commented on #3428
@Glitch101 I am not sure about the design convention but I think you are right, even in Gmail or Android Settings the convention seems to place the Cancel on the Left and OK on Right.

![Screenshot_20200305-215243](https://user-images.githubusercontent.com/30932899/76024876-24dec380-5f2c-11ea-94aa-9395d2103e42.png)
![Screenshot_20200305-215217](https://user-images.githubusercontent.com/30932899/76

[2020-03-06 06:08] vvijayalakshmi21 commented on #3466
HI, I am an Outreachy applicant and would like to contribute,
Kindly assign this issue to me
Also, I know just the basics of Android dev. It would be really helpful if you could help me get started with setting up the project.

[2020-03-06 06:17] nicolas-raoul commented on #3466
@vvijayalakshmi21 It is yours :-)

Here is how I would do:
1. Run the app in debug mode, make sure breakpoints work.
2. Modify the code to throw an exception somewhere, for instance in the About menu.
3. Debug step-by-step what happens after the exception.
4. Use Git to take the source code of the app like it was 6 months ago (crash info was coming through at that time), and compare.

Thanks!

[2020-03-06 06:19] nicolas-raoul commented on #3333
@vishakha-a Please share your progress, thanks!
Otherwise you might have to let someone else take the issue.
Thanks for your understanding :-)

[2020-03-06 08:04] macgills commented on #3377
There isn't actually a real mapping to these settings specifically but that is because we don't have a dayNight theme.
What the app does for `auto` is check the configuration to see if night mode is active and if so sets the theme dark, otherwise light.
Hopefully we will get to using `AppCompatDelegate.setDefaultNightMode().` once #3461 is done

[2020-03-06 08:24] macgills opened #3469 "Update Gradle Play Publisher to resolve issues with travis build"
**Summary:**

Build started failing from a mysterious attempt to upload the beta variant to alpha, [failing build](https://travis-ci.org/commons-app/apps-android-commons/builds/658713996).

Current theory is that an upgrade of GPP and correspondingly gradle could resolve the issue.

Underlying cause is still unknown, no task seems to have the dependency `publishBeta`.

**Would you like to work on

[2020-03-06 09:17] macgills opened #3471 "Remove android.enableUnitTestBinaryResources"
[code]

[2020-03-06 12:53] vishakha-a commented on #3333
Hey, yes you can take the issue. Sincere apologies for holding it back. I
am unable to understand the issue I probably need to learn a lot before I
can make any contributions.

On Fri, 6 Mar 2020 at 11:49, Nicolas Raoul <notifications@github.com> wrote:

[2020-03-06 13:07] #3469 closed

[2020-03-06 15:45] sivaraam commented on #3466
FWIW, I _recently_ tried to send the crash email from ACRA using K-9 mail and I was able to see the crash information in the mail body. I've even sent it to the crash Google group where people with access to it can find it for reference.

[2020-03-06 15:47] sivaraam commented on #3466
To clarify my previous comment, I'm just saying crash reporting works fine with K-9 mail So, there's a chance this _might be_ a Gmail specific thing that needs to be handled.

[2020-03-07 02:07] madhurgupta10 commented on #3312
@nicolas-raoul Was the issue closed without any PR merger?

[2020-03-07 05:58] vvijayalakshmi21 commented on #3466
Thank you so much for the direction sir.
Kindly help me get started. How do I set up the project in my local machine? (Windows 10 Home)
Is there a way to replicate the issue in the live website?

[2020-03-07 06:41] nicolas-raoul commented on #3466
@sivaraam Interesting! So it seems to be specific to the crash found in the empty_acra.txt above. I modify the instructions.

[2020-03-07 06:44] nicolas-raoul commented on #3466
@vvijayalakshmi21 See https://github.com/commons-app/documentation/blob/master/android/Volunteers-welcome!.md

[2020-03-07 08:08] kbhardwaj123 commented on #3312
@madhurgupta10 oh actually I have added fix for this in my PR #3422 for handling zoom in which I have maintained the aspect ratio as requested in it's issue thread

[2020-03-07 09:25] kbhardwaj123 commented on #3436
@neslihanturan what are your views on this ?

[2020-03-07 15:01] sivaraam commented on #3377
I've noted some general comments about the change in a [PR comment](https://github.com/commons-app/apps-android-commons/pull/3460#issuecomment-596095164). Now some replies to the some points:

Ah ha! I totally missed this when I said I'm not sure what happens on Android 9 or lower devices for the "Default" option in the [PR comment](https://github.com/commons-app/apps-android-commons/pull/3460#iss

[2020-03-07 15:16] madhurgupta10 opened #3473 "Change the names and order of Theme options"
As per [#3460(Comment)](https://github.com/commons-app/apps-android-commons/pull/3460#issuecomment-596095164), we can discuss if we need to change to names and order for theme options or not.

[2020-03-07 15:44] prince-09 commented on #3458
can i work on this?

[2020-03-07 15:52] sivaraam commented on #3473
Continuing discussion from the PR:

Quotes from https://github.com/commons-app/apps-android-commons/pull/3460#issuecomment-596098017:

I understand that this would benefit users who use a custom theme. But we would also have to think about those don't use a custom theme. For those other users, the "Default" means "Light" and that could be confusing. If there's a reliable way to identify if an Andr

[2020-03-07 16:15] 6point022 opened #3474 "Items in Place type list in Nearby become unreadable on unselecting"
**Summary:**

Background of items in Place type list in Nearby becomes white on unselecting. Since the text is also white, the item becomes unreadable. This only happens in the dark theme.

**How can we reproduce the issue?**

Enable dark theme. Open Nearby. Tap on the search option in front of Place type. If you tap once on any item, the background becomes light grey. Tap the same item again, i.e

[2020-03-07 18:07] sivaraam commented on #3428
Yeah, its a [common convention](https://material.io/components/dialogs/#actions) indeed. That said we generally don't have to worry about the position of the buttons. If we just specify the positive and negative actions correctly, that should do. Here positive actions corresponds to "Confirming actions" and negative action corresponds to the "Dismissive actions" in the [material design guideline](

[2020-03-08 00:23] madhurgupta10 commented on #3428
@Glitch101 Do tag the comment or issue in your description, it will accelerate the discussion.

[2020-03-08 08:50] 318anushka commented on #2239
@nicolas-raoul  if nobody is working on this issue i would like to take it.

[2020-03-08 09:45] 318anushka commented on #2238
Can i take this issue if no one is working on it?

[2020-03-08 11:10] nicolas-raoul commented on #2239
Hi @LuGO0 and @318anushka,
Sorry for the late reply!
@LuGO0: OK feel free to work on it, as mumtazcem seem to not be around anymore. Good luck, let us know about your progress :-)

[2020-03-08 13:31] #3444 closed

[2020-03-08 14:16] Glitch101 commented on #3428
Can I put this subsection of your comment in the description?

[2020-03-08 14:17] Glitch101 commented on #3428
Thanks for the tip. I will do that :)

[2020-03-08 16:13] sivaraam commented on #3428
Sure. Here's the non-rendered markdown text of that part:

[code]

[2020-03-08 16:24] sivaraam commented on #2238
@318anushka Sure. I've assigned this issue to you. Let us know how you get on. Also let us know if you need any help with something. 🙂